<{include file="inc/navibar_no.html" }>

<div class="admin_content" style="width:1270px; margin: 10px 0 0 10px;">

	<h2 class="title">● 서울창업허브 방송국 예약시스템</h2><br/>

	<div style="text-align: right; padding-right: 15px;"><a href="security_admin_pw.php" style="color: #a7a7a7; font-weight: bold; font-size: 17px;">admin</a></div>
	<div style="text-align:center;"><img src="./ssh_reservation_main.jpg"></div><br>

	<div style="padding-left: 10px; font-size: 15px;">
		<h2><b>[공지사항]</b></h2><br/>
		<h3>[허브방송국] 허브스튜디오 일시적 운영 중단 안내</h3><br/>
		코로나19 확산방지를 위한 중앙재난안전대책본부 및 서울시의 사회적 거리두기 2단계에 따라 공공 다중시설인 허브스튜디오의 사용을 일시적으로 중단합니다.<br/><br/>
		<span style="color: red;">기간 : 2020년 10월 13일(화) ~ 사회적 거리두기 단계 상향 시 중단 가능<br/>
		기간 : 11월 24일 00시 ~ (별도 정부 조치 시까지)</span><br/><br/>
		허브스튜디오를 이용해 주시는 모든 분들께 양해 부탁드립니다.<br/><br/>
		- 허브방송국 드림 -
		<br><br>
		<!--h2><b>[공지사항]</b></h2><br/>
		<h3>[허브방송국] 허브스튜디오 운영 재개 안내</h3><br/>
		코로나19 확산방지를 위한 중앙재난안전대책본부 및 서울시의 2단계 거리두기가 1단계 거리두기로 조정됨에 따라 공공 다중시설인 허브스튜디오의 운영을 재개합니다.<br/><br/>
		<span style="color: red;">기간 : 2020년 10월 13일(화) ~ 사회적 거리두기 단계 상향 시 중단 가능<br/>
		운영시간 : 평일(월~금) 10:00~19:00</span><br/><br/>
		코로나19 확산으로 거리두기 단계가 상향될 경우, 스튜디오 운영이 중단될 수 있습니다.<br/>
		허브스튜디오를 이용해 주시는 모든 분의 이해와 협조 부탁드립니다.<br/><br/>
		- 허브방송국 -
		<br><br-->
	</div>

	<form method="get" name="search_form" id="search_form" action="ssh_reservation_regist.php">
	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="7" style="text-align: left; font-weight:bold; font-size:18px;">
						<a href="#" onclick="cal_month_link('<{$prev_month}>');">◀</a> <{$base_year}>-<{$base_month}> <a href="#" onclick="cal_month_link('<{$next_month}>');">▶</a>
						<button type="button" onclick="location.href='ssh_reservation.php?sch_date=<{$today}>';" style="width: 54px; height: 24px; font-size: 12px; font-weight: bold; color:black; background-color:#d5d5d5;" class="btn_small">today</button>
						<{if $admin_chk}>
							<button type="button" onclick="location.href='excel_ssh_reservation_list.php';" class="btn_file">엑셀 파일로 저장</button>
						<{/if}>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:80px; max-width:80px; background-color:#ff9a9a">일</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">월</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">화</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">수</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">목</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">금</th>
					<th style="min-width:80px; max-width:80px; background-color:#9edefd;">토</th>
				</tr>
			</thead>
			<tbody>
				<{section name=idx loop=$calendar_date}>
					<{if $calendar_date[idx].week == '0'}> <!-- 일 -->
						<tr>
							<td class="first" style="text-align: left; vertical-align: top; font-size:11px; height:85px;">
								<span style="color: #ff9a9a;"><{$calendar_date[idx].day}></span>
								<{if $calendar_date[idx].date == $today}>
									(today)
								<{/if}>
							</td>
					<{elseif $calendar_date[idx].week == '6'}> <!-- 토 -->
							<td style="text-align: left; vertical-align: top; font-size:11px; height:85px;">
								<span style="color: #9edefd;"><{$calendar_date[idx].day}></span>
								<{if $calendar_date[idx].date == $today}>
									(today)
								<{/if}>
							</td>
						</tr>
					<{else}> <!-- 월~금 -->
						<td style="text-align: left; vertical-align: top; font-size:11px; height:85px;">
							<{if $calendar_date[idx].day}>
								<{$calendar_date[idx].day}>
								<{if $calendar_date[idx].date == $today}>
									(today)
								<{/if}>

								<br>
								<br>
								<{assign var=key_date value=$calendar_date[idx].date}>
								<{foreach from=$accept_time item=time}>
									<{if $ssh_reservation_list.$key_date && $ssh_reservation_list.$key_date.$time }>
										<a href="ssh_reservation_regist.php?no=<{$ssh_reservation_list.$key_date.$time.no}>">
											<{if $calendar_date[idx].date < $today}>
												<{$time}>:00 ~ <{$time+1}>:00 <span style="color: #a7a7a7;"><{$ssh_reservation_list.$key_date.$time.company_name}></span>
											<{else}>
												<{$time}>:00 ~ <{$time+1}>:00 <span style="font-weight: bold;"><{$ssh_reservation_list.$key_date.$time.company_name}></span>
											<{/if}>
										</a>
									<{else}>
										<{if $calendar_date[idx].date >= $today && ($admin_chk || $calendar_date[idx].date <= $next14day)}>
											<{$time}>:00 ~ <{$time+1}>:00
											<{if $calendar_date[idx].date == $today && $time > $totime }>
<!--												<button type="button" onclick="alert('코로나19 확산 예방을 위해 허브 스튜디오 신규 예약을 중단합니다.');" class="btn_file">예약하기</button>-->
												<button type="button" onclick="location.href='ssh_reservation_regist.php?res_date=<{$calendar_date[idx].date}>&res_time=<{$time}>';" class="btn_file">예약하기</button>
											<{elseif $calendar_date[idx].date >= $today}>
<!--												<button type="button" onclick="alert('코로나19 확산 예방을 위해 허브 스튜디오 신규 예약을 중단합니다.');" class="btn_file">예약하기</button>-->
												<button type="button" onclick="location.href='ssh_reservation_regist.php?res_date=<{$calendar_date[idx].date}>&res_time=<{$time}>';" class="btn_file">예약하기</button>
											<{/if}>
										<{/if}>
									<{/if}>
								<br/>
								<{/foreach}>
							<{/if}>
						</td>
					<{/if}>
				<{/section}>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
		<a href="https://bit.ly/2WoYNbx" target="_blank"><img src="./ssh_banner.png"></a>
	</div>
	<!-- //table_list_style -->
	</form>
	<div style="width:100%; height:55px; margin-top:30px;">
		<div class="right_wrap"><img src="../images/sba.png" style="width:80px;"></div>
		<div class="right_wrap"><img src="../images/i_seoul_u.png" style="margin-left: 20px; width:140px;"></div>
	  <div class="right_wrap"><img src="../images/seoul_startup_hub_logo.png" style="margin-left: 20px; width:100px;"></div>
		<div class="left_wrap" style="textAlign=right;"><img src="../images/wplanet_logo_basic_w.png" style=width:200px;"><br>Copyright ⓒ WisePlanet Company. All rights reserved.</div>
	</div>
</div>
<!-- //admin_content -->

<script>
	function cal_month_link(f_date){
		document.location.href="ssh_reservation.php?sch_date="+f_date;
	}

	function m_over_display(e, no, type){

		if(type=='show'){

			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 135 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표

			$("#m_over_display_" + no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

		}else if(type=='hide'){
			$("#m_over_display_" + no).hide();
		}
	}
</script>

</body>
</html>
