<{include file="inc/navibar_no.html" }>

	<div class="admin_content" style="width:700px;">

		<div class="table_contents_style" style="width:700px;">

			<!-- 업체정보 -->
			<form name="apply_frm" action="ssh_reservation_regist.php" method="post" enctype="multipart/form-data">
			<{if $no }>
				<input type="hidden" name="no" value="<{$no}>" />
			<{/if}>
			<input type="hidden" name="process" id="process" value="<{$mode}>" />
			<input type="hidden" name="kind" id="kind" />

			<{if $mode=="modify"}>
				<h2 class="title" style="margin-bottom:10px">● 방송국 사용 예약 수정하기</h2>
			<{else}>
				<h2 class="title" style="margin-bottom:10px">● 방송국 사용 예약하기</h2>
			<{/if}>

			<!-- 출금업체(=수금업체) 및 세금계산서 정보 -->
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td colspan="2">
<p style="font-size: 16px; font-weight: bold;">[예약 시 주의사항]</p>
<p style="margin-top:5px;">· 스튜디오는 예약제로 적용됩니다. 사용하기 <span style="color:#F00">하루 전(휴무일 제외) 5시까지 예약</span>을 하면 됩니다.</p>
<p style="margin-top:5px;">· 스튜디오는 <span style="color:#F00">평일(월~금, 국공휴일)내 오전 10시부터 오후 7시</span>까지 사용 가능합니다.</p>
<p style="margin-top:5px;">· 스타트업 한 기업당, <span style="color:#F00">1주일에 사용 가능한 시간은 9시간이며, 1일 최대 4시간</span>까지 이용가능합니다.</p>
<p style="margin-top:5px;">· <span style="color:#F00">1일 4시간</span>까지 사용 가능합니다.(예약한 시간 안에 사전 준비, 장비체크, 촬영 완료 후 백업하는 시간까지 포함됩니다.<br>&nbsp; 이를 초과할 경우 이후 예약한 다른 기업에 피해가 가므로 시간을 엄수 해 주시기 바랍니다)</p>
<p style="margin-top:5px;">· 창업허브의 공적인 목적을 위해 영상 제작을 할 경우, 상기 예약관련 예외가 적용될 수 있습니다.</p>
<p style="margin-top:5px;">· 예약 후 노쇼(No Show)의 경우, 다른 기업들에게 피해가 됩니다. 따라서 촬영이 불가하다고 판단될 경우,<br>&nbsp; <span style="color:#F00">촬영 익일 전 5시까지 방송국예약 시스템의 취소신청</span>을 해주셔야 합니다. 3회 이상 당일취소 및 예약 일정 미준수 시 허브 스튜디오 사용이 제약될 수 있습니다.</p>
<p>&nbsp;</p>
<p style="font-size: 16px; font-weight: bold;">[사용 시 주의사항]</p>
<p style="margin-top:5px;">· 스튜디오 안에서 <span style="color:#F00">음식물 반입이 안 됩니다.</span> 여러 기업이 함께 사용하는 스튜디오입니다. 항상 청결하게 유지하도록 합시다.<br>&nbsp; (단, 촬영에 필요한 소품의 경우 예약 시 사전 협의를 통해 반입 가능)</p>
<p style="margin-top:5px;">· 이용 공간 내 어떠한 물품도 사전 허락 없이 <span style="color:#F00">외부로 반출이 불가</span>합니다.</p>
<p style="margin-top:5px;">· 자료 저장을 위한 USB케이블이나 외장하드, 노트북 등은 직접 지참하도록 합니다.</p>
<p style="margin-top:5px;">· 스튜디오 이용 중 <span style="color:#F00">장비의 이상유무 발생 시 즉시 담당자에게 알려 확인</span>하도록 합니다.</p>
<p style="margin-top:5px;">· <span style="color:#F00">크로마키 및 색지 사용 시 신발을 신고 올라가지 않습니다.</span> 손상 시 다음 이용 기업 촬영에 지장이 갑니다.</p>
<p style="margin-top:5px;">· 장비를 소중하게 다뤄주시기 바랍니다. 스튜디오 이용 중 기업의 고의 또는 과실로 인하여<br>&nbsp; <span style="color:#F00">시설, 장비, 비품, 기타 집기 등의 파손, 휘손, 유실되거나 분실되었을 경우, 해당 기업에 변상 책임</span>이 있습니다.</p>
<p style="margin-top:5px;">· 관리자와 체크리스트 점검을 위해 <span style="color:#F00">마감 시간 10분 전에는 스튜디오 이용 및 정리정돈을 마치셔야 합니다</span>.<br>&nbsp; 관리자가 스튜디오 체크리스트에 사인을 하는 것으로 사용이 종료 됩니다.</p>
<p>&nbsp;</p>
					</td>
					</tr>
					<tr>
						<th colspan="2" class="first" style="width:700px;">방송국 사용 예약 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first" style="width:120px;">*예약일자</th>
						<td>
							<{$f_res_date}>
							<input type="hidden" name="f_res_date" value="<{$f_res_date}>">
						</td>
					</tr>
					<tr>
						<th class="first">*예약시간</th>
						<td>
							<ul>
							<{foreach from=$accept_time item=time}>
								<li style="width: 20%; float:left;">
									<input type="checkbox" style="width: 0;" name="f_res_time[]" class="f_res_time" id="f_res_time_<{$time}>" value="<{$time}>" <{if $f_res_time && in_array($time, $f_res_time) }>checked<{elseif $f_disabled_time && in_array($time, $f_disabled_time)}>disabled<{/if}>>
									<label for="f_res_time_<{$time}>" id="f_res_time_label_<{$time}>" class="<{if $f_res_time && in_array($time, $f_res_time)}>checkbox_checked<{elseif $f_disabled_time && in_array($time, $f_disabled_time)}>checkbox_disabled<{/if}>" style="font-size: 12px; float: left; border: 1px solid #a7a7a7; display: inline-block; cursor: pointer; width: 12px; height: 12px; line-height: 12px;"></label>
									<label for="f_res_time_<{$time}>" class="<{if $f_disabled_time && in_array($time, $f_disabled_time)}>checkbox_disabled_label<{/if}>" style="line-height: 17px; float: left; margin-left: 6px;"><{$time}>:00 ~ <{$time+1}>:00</label>
								</li>
							<{/foreach}>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="first">*구분</th>
						<td>
							<input type="radio" name="f_type" id="f_type_1" value="1" <{if $f_type == '1'}>checked<{/if}>><label for="f_type_1">1. 예비창업자</label>
							<input type="radio" name="f_type" id="f_type_2" value="2" <{if $f_type == '2'}>checked<{/if}> style="margin-left: 20px;"><label for="f_type_2">2. 기존창업자</label>
							<input type="radio" name="f_type" id="f_type_3" value="3" <{if $f_type == '3'}>checked<{/if}> style="margin-left: 20px;"><label for="f_type_3">3. 해당없음</label>
						</td>
					</tr>
					<tr>
						<th class="first">*기업명</th>
						<td>
							<input type="text" class="input_type1" name="f_company_name" id="f_company_name" value="<{$f_company_name}>"/>
						</td
					</tr>
					<tr>
						<th class="first">*이메일</th>
						<td>
							<input type="text" name="f_email_0" id="f_email_0" class="input_type3"  value="<{$f_email_0}>">
							@
							<input type="text" name="f_email_1" id="f_email_1" class="input_type3" value="<{$f_email_0}>">
							<select name="email3" onChange="go_page(this.value)" class="select_type1">
								<option value="">직접입력</option>
								<option value='naver.com'>naver.com</option>
								<option value='nate.com'>nate.com</option>
								<option value='gmail.com'>gmail.com</option>
								<option value='hanmail.net'>hanmail.net</option>
								<option value='empal.com'>empal.com</option>
								<option value='hotmail.com'>hotmail.com</option>
								<option value='paran.com'>paran.com</option>
								<option value='yahoo.co.kr'>yahoo.co.kr</option>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">*촬영목적</th>
						<td>
							상세하게 작성해 주세요, 음식소품이 있는 경우 함께 작성<br>
							<textarea name="f_object" id="f_object" cols="70" rows="3"><{$f_object}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">인원수</th>
						<td>
							<input type="number" class="input_type3" name="f_people" id="f_people" value="<{$f_people}>"/>명
						</td>
					</tr>
					<tr>
						<th class="first">*책임자</th>
						<td>
							<input type="text" class="input_type3" name="f_director" id="f_director" value="<{$f_director}>"/>
						</td>
					</tr>
					<tr>
						<th class="first">*책임자 전화번호</th>
						<td>
							<input type="text" class="input_type3" name="f_director_tel" id="f_director_tel" value="<{$f_director_tel}>"/><br>
							<input type="checkbox" class="check_style1" name="f_director_tel_agree" id="f_director_tel_agree" <{if !!$f_director_tel_agree}>checked<{/if}>/> <label for="f_director_tel_agree">※ 서울창업허브 방송국 예약 이용을 위해, 책임자 전화번호 제공에 동의합니다.</label>
						</td>
					</tr>
					<tr>
						<th class="first">추가물품대여</th>
						<td>
							<input type="checkbox" class="checkbox_type1" id="f_add_use_1" name="f_add_use_1" <{if $f_add_use[0] == '1'}>checked<{/if}> value="1"><label for="f_add_use_1">1. DSLR(Canon 80D)</label><br>
							<input type="checkbox" class="checkbox_type1" id="f_add_use_2" name="f_add_use_2" <{if $f_add_use[1] == '1'}>checked<{/if}> value="1"><label for="f_add_use_2">2. DSLR(Canon 80D)</label><br>
							<input type="checkbox" class="checkbox_type1" id="f_add_use_3" name="f_add_use_3" <{if $f_add_use[2] == '1'}>checked<{/if}> value="1"><label for="f_add_use_3">3. 포토박스(한빛 포토박스)</label><br>
							<input type="checkbox" class="checkbox_type1" id="f_add_use_4" name="f_add_use_4" <{if $f_add_use[3] == '1'}>checked<{/if}> value="1"><label for="f_add_use_4">4. 버티컬 삼각대, 볼헤드</label><br>
							<input type="checkbox" class="checkbox_type1" id="f_add_use_5" name="f_add_use_5" <{if $f_add_use[4] == '1'}>checked<{/if}> value="1"><label for="f_add_use_5">5. 삼각대(ACE M GS 1002)</label>
						</td>
					</tr>
					<tr>
						<th class="first">*스튜디오 사용여부</th>
						<td>
							<input type="radio" name="f_user_type" id="f_user_type_1" value="1" <{if $f_user_type == '1'}>checked<{/if}>><label for="f_user_type_1">1. 신규 사용자</label>
							<input type="radio" name="f_user_type" id="f_user_type_2" value="2" <{if $f_user_type == '2'}>checked<{/if}> style="margin-left: 20px;"><label for="f_user_type_2">2. 기존 사용자</label>
						</td>
					</tr>
				<{if $mode == "write"}>
					<tr>
						<th class="first">*비밀번호<br>(수정 및 취소 시 필요)</th>
						<td>
							<input type="password" class="input_type3" name="f_pw" id="f_pw">
						</td>
					</tr>
				<{/if}>
					<tr>
						<td colspan="2" style="border-right: 0px; border-bottom: 0px;">
							<div class="btn_wrap">
								<{if $mode == "write"}>
									<button onclick="return check_form(this);" class="btn_style1"><span>예약하기</span></button>
								<{else}>
									<button onclick="return check_form(this);" class="btn_style1"><span>수정하기</span></button>
									<button onclick="ssh_canceled(<{$no}>);" class="btn_style1" style="background-color: #e16060;"><span>취소</span></button>
								<{/if}>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //table_contents_style -->
		</form>
	</div>
	<!-- //admin_content -->

<style>
	.checkbox_checked{background: black;}
	.checkbox_disabled_label{color: #a7a7a7;}
	label{cursor: pointer;}
</style>
<script>
	$(document).ready(function(){
		$(".date-picker").datepicker();

		$(".f_res_time").change(function(){
			var checkboxCount = $(".f_res_time:checked").length;

			if(checkboxCount > 4){
				$(this).attr('checked', false);
				alert('4개까지 선택 가능합니다');
				return;
			}
			var checked = $(this).attr('checked');
			var value	= $(this).val();
			var label	= $('#f_res_time_label_'+value);
			if(checked == 'checked'){
				label.addClass('checkbox_checked');
			}else{
				label.removeClass('checkbox_checked');
			}
		});
	});

	// 이메일 선택
	function go_page(url) {
			var frm = document.apply_frm;
			frm.f_email_1.value = url;
			frm.f_email_1.focus();
	}

	function check_form(f) {

	    if (!$('input:radio[name=f_type]').is(':checked')){
	      alert("구분을 선택해 주세요.");
				$("#f_type").focus();
	      return false;
	    }

	    if (cknull("f_company_name","기업명을")=="x") {
	      return false;
	    }

		if (cknull("f_email_0","이메일을")=="x") {
	      return false;
	    }
		if (cknull("f_email_1","이메일을")=="x") {
	      return false;
	    }
		if (cknull("f_object","촬영목적을")=="x") {
	      return false;
	    }
			if (cknull("f_director","책입자를")=="x") {
	      return false;
	    }
			if (cknull("f_director_tel","책임자 전화번호")=="x") {
	      return false;
	    }
			if (!$('input:checkbox[name=f_director_tel_agree]').is(':checked')){
				alert("책임자 전화번도 제공에 동의해 주세요.");
				$("#f_director_tel_agree").focus();
	      return false;
	    }
			if (!$('input:radio[name=f_user_type]').is(':checked')){
	      alert("스튜디오 사용여부를 선택해 주세요.");
				$("#f_user_type").focus();
	      return false;
	    }
			if (cknull("f_pw","비밀번호")=="x") {
				return false;
			}
			f.submit();
	}

	// 삭제하기
	function ssh_canceled(no)
	{
		var f = document.apply_frm;
		f.process.value = 'ssh_canceled';

		if (confirm("정말 취소 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

</script>

</body>
</html>
