@charset "utf-8"; 


/* search */
.seargp{position:relative;margin-bottom:20px;padding:10px 0px;width:748px;height:60px;border:1px solid #ccc}
.seargp dl{margin-left:20px;width:640px;height:55px}
.seargp dl dt{margin-bottom:8px;padding:4px 0px 0px 8px;height:21px;float:left;background:url(../images/common/ico/bu_dot.gif) no-repeat left 8px;font-weight:bold}
.seargp dl dd{margin-bottom:8px;height:25px;float:left}
.seargp dl dd select{width:180px;height:25px}
.seargp dl dd input{width:180px;height:23px;line-height:23px;border:1px solid #ccc}
.seargp p{position:absolute;right:20px;top:15px;width:63px;height:46px}

.stasgp{margin-bottom:20px;padding:5px 0px;width:100%;background:#f8f8f8;text-align:center;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.stasgp input.inp{text-align:center}


/* list */
.bbslist{border-top:2px solid #ccc;border-bottom:2px solid #ccc}
.bbslist th{padding:6px 0px;background:#f5f5f5;border-bottom:1px solid #ccc}
.bbslist th span{display:block;background:url(../images/common/bg/bgline_th.gif) no-repeat right 50%}
.bbslist th.last span{background:none}
.bbslist td{padding:0px;line-height:200%;border-bottom:1px solid #ccc}
.bbslist td a{margin-left:10px}
.bbslist td a:hover{text-decoration:underline}

.faqlist{margin:0px;padding:0px;width:100%;border-top:2px solid #ccc;border-bottom:2px solid #ccc}
.faqlist dl{}
.faqlist dt{padding:10px;line-height:150%;background:#f5f5f5;font-weight:bold;text-align:left;border-bottom:1px solid #ccc}
.faqlist dd{padding:10px 28px;line-height:150%;text-align:left;border-bottom:1px solid #ccc}

.staslist{border-top:1px solid #ccc;border-bottom:2px solid #ccc}
.staslist th{padding:10px 0px;background:#f5f5f5;border-bottom:1px solid #ccc}
.staslist th span{display:block;background:url(../images/common/bg/bgline_th.gif) no-repeat right 50%}
.staslist th.last span{background:none}
.staslist td{padding:5px;border-bottom:1px solid #ccc}
.staslist td span{display:block;background:#f00;text-align:left;text-indent:-9999px}
.staslist tr.tdbg td{background:#f8f8f8}

/* view */
.bbsview{border-bottom:2px solid #ccc}
.bbsview tr.first th{line-height:150%;background:#f5f5f5;text-align:left;font-weight:bold}
.bbsview tr.first th,.bbsview tr.first td{border-top:2px solid #ccc}
.bbsview tr.last th{background:none}
.bbsview th{padding:8px;font-weight:normal;border-bottom:1px solid #ccc}
.bbsview td{padding:8px;text-align:left;border-bottom:1px solid #ccc}
.bbsview tr.subject td{padding:15px 8px;line-height:150%}

/* write */
.bbstit{margin:0px;padding:5px 0px;border-top:1px solid #ccc}
.bbswrite{border-bottom:1px solid #ccc}
.bbswrite tr.first th,.bbswrite tr.first td{border-top:1px solid #ccc}
.bbswrite th{padding:8px;background:#f5f5f5;border-bottom:1px solid #ccc;text-align:left}
.bbswrite td{padding:8px;text-align:left;border-bottom:1px solid #ccc}
.bbswrite tr.subject td{padding:8px 0px}

/* apptable */
#applybox {padding:15px 0 0 25px;text-align:left}
#applybox form {border:1px solid #fff}
#applybox p.btn {padding-top:15px;text-align:center}
.apptable,.apptable tr td {border:0px;margin:0px;padding:0px}
.apptable {border-bottom:1px solid #CCC;border-right:1px solid #CCC}
.apptable tr th {height:30px;line-height:30px;background:#f8f8f8}
.apptable tr td,.apptable tr th {border-left:1px solid #CCC;border-top:1px solid #CCC}
.apptable tr td {text-align:left;padding:5px;}
.apptable tr td.td1{text-align:center;}
.apptable tr td.td2{text-align:center;}
.apptable tr td.td3,.apptable tr td.td4{text-align:left; padding:5px;}

.qnawrite{margin:0px;border-top:2px solid #ccc;border-bottom:2px solid #ccc}
.qnawrite dt{padding:10px;line-height:150%;background:#f5f5f5;font-weight:bold;text-align:left;border-bottom:1px solid #ccc}
.qnawrite dd{padding:10px 0px;border-bottom:1px solid #ccc}

.faqwrite{margin:0px;padding:0px;width:100%;border-top:2px solid #ccc;border-bottom:2px solid #ccc}
.faqwrite dl{}
.faqwrite dl dt{padding:10px;background:#f5f5f5;font-weight:bold;text-align:left;border-bottom:1px solid #ccc}
.faqwrite dl dd{padding:10px;text-align:left;border-bottom:1px solid #ccc}

ul.betc{margin:10px 0px 0px 0px;width:100%}
ul li{line-height:150%;color:#00f}

/* application */
.bbsapp{border-top:2px solid #ccc;border-bottom:2px solid #ccc}
.bbsapp th.thtit{background:#f5f5f5;font-weight:bold;border-right:1px solid #ccc}
.bbsapp th.thtit1{border-right:1px solid #ccc}
.bbsapp th{padding:5px;line-height:150%;font-weight:normal;border-bottom:1px solid #ccc}
.bbsapp td{padding:10px;text-align:left;line-height:150%;border-bottom:1px solid #ccc}
.bbsapp td p{margin:2px 0px}

/* order viewpage */
.qalist {width:100%}
.tblcart th {height:46px;line-height:46px;background:url(../images/common/bg/bg_tcarts.gif) repeat-x}
.qalist th {height:31px;border-top:2px solid #CCC;border-bottom:1px solid #CCC}
.qalist td {height:35px;line-height:35px;border-bottom:1px solid #f4f4f4}
.ttprices {border-bottom:1px solid #cccccc;height:50px;line-height:50px;text-align:right;padding-right:5px}

/* password */
.pwdlayer{position:fixed; _position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:10000}
.pwdbg{position:absolute;left:0px;top:0px;width:100%;height:100%;background:#000;opacity:.10;filter:alpha(opacity=50)}

#pwdgroup{position:absolute;left:50%;top:50%;margin:-85px 0px 0px -175px;width:350px;height:170px;background:#fff;border:1px solid #ccc}
#pwdgroup dl{margin:12px auto;width:320px;text-align:center}
#pwdgroup dl dt{margin:0px;font-weight:bold;text-align:left}
#pwdgroup dl dd.pwdinp{margin:10px 0px;padding:30px 0px;width:100%;border-top:2px solid #4f83af;border-bottom:2px solid #4f83af}
#pwdgroup dl dd.pwbtn{width:100%}

/* tabmenu */
.tabmenu{display:inline-block;margin:0px;padding:0px;width:100%;height:25px;overflow:hidden;border-bottom:1px solid #ccc}
.tabmenu li{display:inline}
.tabmenu li a{display:block;margin:0px 2px;width:110px;height:25px;line-height:25px;float:left;background:#f8f8f8;text-align:center;border:1px solid #ccc;border-bottom:none}
.tabmenu li a.m1{margin-left:0px}
.tabmenu li a:hover{background:#fff}