@charset "utf-8";

.custom-combobox {
    position: relative;
    font-size: 12px;
    display: inline-block;
}

.form-group .custom-combobox-toggle {
    top: 9px;
}

.custom-combobox-toggle {
    position: absolute;
    top: 7px;
    bottom: 0;
    right: 5px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    background: white;
}

.custom-combobox .ui-state-default{
    border: 1px solid #999;
    color: #444;
}