@charset "utf-8"; 

/* contents */
.article{width:100%}
.article h3{margin-bottom:5px}
.article ul{margin:5px 0px 15px 0px}
.article ul li{list-style-type:square;list-style-position:inside;line-height:150%}
.article p.etc{margin-bottom:10px}

.tbe{margin-bottom:10px;border:1px solid #ccc}
.tbe th{padding:8px 0px;background:#f5f5f5;border:1px solid #ccc}
.tbe td{padding:8px;text-align:center;border:1px solid #ccc}
