
.range-slider { width: 148px; }

.range-slider__range {
	-webkit-appearance: none;
	width: calc(100% - (32px));
	/*width: calc(100% - (73px));*/
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  padding: 0;
  margin: 0;
	border: 1px solid rgb(169, 169, 169);
}

.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #777777;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}


.range-slider__range_disabled {
	-webkit-appearance: none;
	width: calc(100% - (32px));
	/*width: calc(100% - (73px));*/
  height: 10px;
  border-radius: 5px;
  background: #ebebe4;
  outline: none;
  padding: 0;
  margin: 0;
	border: 1px solid rgb(169, 169, 169);
}
.range-slider__range_disabled::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 0px;
	height: 0px;
}

.range-slider__range::-webkit-slider-thumb:hover {
	background: #c73333;
}
.range-slider__range:active::-webkit-slider-thumb {
	background: #c73333;
}

/*
.range-slider__range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
	background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
	background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
	-webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #c73333;
	box-shadow: 0 0 0 3px #fff, 0 0 0 6px #c73333;
}*/

.range-slider__value {
	display: inline-block;
	position: relative;
	width: 15px;
	color: #fff;
	line-height: 19px;
	text-align: center;
	border-radius: 3px;
	background: #777777;
	padding: 1px 5px;
	/* margin-left: 8px; */
}
/*
.range-slider__value:after {
	position: absolute;
	top: 4px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #1abc9c;
	border-bottom: 7px solid transparent;
	content: '';
}

::-moz-range-track {
	background: #d7dcdf;
	border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
	border: 0;
}
*/
