@charset "utf-8"; 

@import url('common.css');
@import url('content.css');
@import url('board.css');

/* layout */
#wrap{margin:0px auto;width:100%;text-align:left}
#header{margin:0px 0px 44px 0px;width:100%;height:78px;background:url(../images/common/bg/bgline_header.gif) repeat-x left top}
#htop{position:relative;margin:0px auto;width:1200px;height:78px}
#container{margin:0px auto 50px auto;width:1200px;overflow:hidden}
#sidebar{display:inline;width:200px;float:left}
#content{display:inline;position:relative;width:950px;float:right}
#footer{clear:both;padding:10px 0px;width:100%;height:30px;text-align:center;border-top:1px solid #ccc}

/* header */
#header h1{position:absolute;left:36px;top:0px;width:334px;height:60px;line-height:60px;font-size:22px;color:#ffffff}

/* sidebar_login */
#sidebar div{margin:0px auto 15px auto;padding:8px 0px;width:180px;text-align:center;border-top:2px solid #ccc;border-bottom:2px solid #ccc}
#sidebar div p{display:inline-block;margin:0px;padding:0px;text-align:center}
#sidebar div p strong{color:#060d4e}
#sidebar div p a{display:block;margin:0px;height:22px;float:left;line-height:22px;background:#cdcdcd;color:#fff;border:1px solid #cdcdcd}
#sidebar div p a{
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright:3px;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-webkit-border-top-left-radius:3px;
-webkit-border-top-right-radius:3px;
-webkit-border-bottom-left-radius:3px;
-webkit-border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px}

#sidebar div p a.logout{margin:0px 10px;width:53px}
#sidebar div p a.pwreopen{margin:0px 10px;width:80px}

*html #sidebar div p a.logout{margin:0px 10px 0px 5px;width:53px}
*html #sidebar div p a.pwreopen{margin:0px 5px 0px 10px;width:80px}

/* 비밀번호 확인 */
.pwrelayer{position:fixed; _position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:10000}

#pwgroup{position:absolute;left:50%;top:50%;margin:-100px 0px 0px -175px;width:350px;height:200px;background:#fff;border:4px solid #777;z-index:10000}
#pwgroup dl{margin:12px auto 0px auto;width:320px;background:#fff;text-align:center;overflow:hidden}
#pwgroup dl dt{margin:0px;padding-bottom:10px;width:100%;font-weight:bold;font-size:16px;font-family:Gulim,AppleGothic;text-align:left;border-bottom:2px solid #ccc}
#pwgroup dl dd{display:inline-block;margin:0px;padding:0px;width:100%}
#pwgroup dl dd label{display:block;padding-top:5px;padding-left:20px;width:120px;height:17px;float:left;text-align:right}
#pwgroup dl dd span{display:block;padding-right:50px;width:120px;float:right}
#pwgroup dl dd input{height:20px;line-height:20px;border:1px solid #ddd}
#pwgroup .pwbtn{clear:both;margin:0px auto;padding-top:10px;width:320px;text-align:center;border-top:2px solid #ccc}

*html .pwrelayer{position:fixed;left:0px;top:0px;width:100%;height:100%;background:#fff;z-index:10000}
*html .pwrebg{background:#fff}
*html #pwgroup{position:absolute;left:50%;top:50%;margin:-100px 0px 0px -180px;width:350px;height:200px;background:#fff;border:4px solid #777}

/* sidebar_snb */
#sidebar ul{margin:0px auto;width:180px;border-top:1px solid #ccc}
#sidebar ul li{height:30px;border-bottom:1px solid #ccc}
#sidebar ul li a{display:block;padding-left:20px;width:160px;height:30px;line-height:30px;background:url(../images/common/ico/bu_arrow0.gif) no-repeat 6px 50%}
#sidebar ul li a:hover{padding-left:18px;width:156px;height:24px;line-height:24px;background:url(../images/common/ico/bu_arrow1.gif) no-repeat 3px 50%;font-weight:bold;border:3px solid #777}
.snb01 a.m1,.snb02 a.m2,.snb03 a.m3,.snb04 a.m4,.snb05 a.m5,.snb06 a.m6,
.snb07 a.m7,.snb08 a.m8,.snb09 a.m9,.snb10 a.m10,.snb11 a.m11,.snb12 a.m12,.snb13 a.m13,.snb14 a.m14{
padding-left:18px!important;
width:156px!important;height:24px!important;line-height:24px!important;
background:url(../images/common/ico/bu_arrow1.gif) no-repeat 3px 50%!important;
font-weight:bold;border:3px solid #777}

/* content */
#location{position:absolute;right:0px;top:9px;width:500px;text-align:right;color:#000}
#location span{padding-left:16px;background:url(../images/common/ico/ico_home1.gif) no-repeat left 1px}
#content h2{margin-bottom:20px;padding:1px 0px 10px 24px;background:url(../images/common/ico/ico_homet.gif) no-repeat left 1px;font-size:15px;color:#000;border-bottom:1px solid #ccc}

/* footer */
#footer div{position:relative;margin:0px auto;width:1000px;height:54px;text-align:left;line-height:120%}
#footer div a{display:block;position:absolute;right:0px;top:0px;width:167px;height:37px}
#footer p{}
.flogo{position:absolute;left:40px;top:-5px;width:108px;height:30px}
.copy{position:absolute;left:180px;top:8px;width:820px;height:30px}
.copy a{margin-top:-5px;text-align:right}

/* calendar */
.cldbox {margin:0px auto;width:730px;float:left}
.cldbox p {height:30px;line-height:30px;text-align:center}
.cldbox ul li {width:103px;height:82px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;float:left}
.cldbox ul li.title {text-align:center;height:30px;line-height:30px;border-top:1px solid #CCCCCC}
.cldbox ul li.last {border-right:1px solid #CCCCCC}

.prdt_list dt {font-size:11px;position:relative;padding-left:10px;width:940px;height:30px;line-height:30px;border-bottom:1px solid #CCCCCC;background:#F5F5F5}
.prdt_list dt.first {font-size:11px;border-top:1px solid #CCCCCC}
.prdt_list dt p.btn {padding-right:10px;font-size:11px;width:180px;position:absolute;top:0px;right:0px;text-align:right}
.prdt_list dt span {font-size:12px;font-weight:bold;color:#2E8549}
.prdt_list dd {position:relative;margin:0px;padding:10px;border-bottom:1px solid #CCCCCC}
.prdt_list dd.ans {padding-left:20px;line-height:18px;background:url(../images/common/ico/ico_re.gif) no-repeat 0px 10px }
.prdt_list dd.ans p {position:absolute;bottom:5px;right:5px;font-size:11px}

/* 회원정보 */
.memjoin,.memjoin2 {margin:0px auto;width:100%}
.memjoin tbody tr th {padding:10px 0px 10px 20px;width:101px;border-bottom:1px solid #e5e5e5;background:#f9f9f9;text-align:left}
.memjoin tbody tr th.first,.memjoin tbody tr td.first{border-top:2px solid #CCC}
.memjoin tbody tr th.last,.memjoin tbody tr td.last{border-bottom:2px solid #CCC}
.memjoin tbody tr td {padding:10px 0px 10px 10px;border-bottom:1px solid #e5e5e5;text-align:left}

/* 통계 */
#rptmon {margin-top:10px;height:30px;border:1px solid #CCC;text-align:center;line-height:30px;font-weight:bold}
#rptboxare h1 {padding:10px 0 5px 0}
#rptboxare div.rptbox {border:1px solid #CCC;text-align:center;padding:5px}
#rptboxare div.rptbox table {width:100%}
#rptboxare div.rptbox table tr th {height:25px;line-height:25px;background:#F8F8F8}
#rptboxare div.rptbox table tr th.b1,#rptboxare div.rptbox table tr th.b2,#rptboxare div.rptbox table tr th.b3,#rptboxare div.rptbox table tr th.b4,#rptboxare div.rptbox table tr th.b5 {width:16%}
#rptboxare div.rptbox table tr td {height:35px;line-height:35px;text-align:center}

/*파일업로드*/
#upload{
	margin:0px; padding:5px;
	font-size:12px;
	text-align:center;
	background:#FFFDFE;
	color:#EE1B21;
	border:1px solid #FECABC;
	width:317px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}

.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:5px; margin-bottom:2px; width:317px; float:left; margin-right:10px;color:#000}
ul#files li a.delete {float:right;color:red}
.success{ background:#FBFBFB; border:1px solid #CCC;}
.error{ background:#f0c6c3; border:1px solid #cc6622;}
.sop {width:690px}
.sop span {color:#FF3503}

/* car gunzec 3deps */
.gzbox {padding-top:15px;text-align:left;width:100%}
.gzbox dt {padding-left:10px;height:30px;line-height:30px;font-weight:bold;border:1px solid #CCC;background:#F8F8F8}
.gzbox dd {padding:10px;border:1px solid #CCC;border-top:none}
.gztbl {margin:0px;padding:0px;border:1px solid #DDDDDD}
.gztbl tr th {padding-left:15px;width:85px;height:25px;line-height:25px;border:1px solid #DDDDDD;background:#F9F9F9;font-weight:normal;text-align:left}
.gztbl tr td {padding:5px 0px;padding-left:5px;text-align:left;border:1px solid #DDDDDD;border-right:none}
.sgzbox,.sgzbox dt {border-top:none}
.sgzbox dt {text-align:center;font-weight:normal;height:25px;line-height:25px}
.gztb2 {margin:0px;padding:0px;border:1px solid #DDDDDD}
.gztb2 tr th {padding-left:5px;height:25px;line-height:25px;border:1px solid #DDDDDD;background:#F9F9F9;font-weight:normal}
.gztb2 tr td {padding-left:5px;text-align:left;height:25px;line-height:25px;border:1px solid #DDDDDD;border-right:none}

/* 갤러리부분 */
.gallery {width:100%;float:left}
.gallery ul {list-style:none;float:left}
.gallery ul li {list-style:none;float:left;margin:10px;border:1px solid #CCC;width:215px;height:210px;overflow:hidden;text-align:center;}
.gallery ul li p {width:100%;text-align:center;line-height:25px}
.gallery ul li p a.img {border:1px solid red}

/* 견적부분 */
.tblgz {width:628px;text-align:left}
.tblgz tr td {padding-left:7px;height:34px;border:1px solid #dddddd;text-align:left}
.tblgz tr td.top {padding-left:27px;border:none;background:url(../../main/images/common/bg/bg_gztop.jpg) no-repeat}
.tblgz tr td.top div {position:relative;padding-top:5px;width:100%;text-align:left;font-weight:bold}
.tblgz tr td.top div span {position:absolute;top:5px;right:10px;font-weight:bold}

/* order */
.payinfo {width:100%;padding:25px 0px;}
.payinfo h2 {padding:5px 0px}
.payinfo h2 input {margin-left:35px}
.payinfo h2 label {font-weight:normal;color:red}
.payinfo table {border-top:1px solid #CCC}
.payinfo table th {padding:2px 0px;width:100px;text-align:left;font-weight:normal;border-bottom:1px solid #F4F4F4}
.payinfo table td {padding:2px 0px;text-align:left;border-bottom:1px solid #F4F4F4}
.payinfo table td input,.payinfo table td img,.payinfo table td select,.payinfo table td span,.payinfo table td textarea {margin:5px}
.payinfo table td span {color:#ED6E5D}
.paybtn {padding:20px;text-align:center;border-top:1px solid #CCC}
.cls tr th,.cls tr td{padding:10px 0}

/* colors font */
.red {color:red}
.blue {color:blue}
.green {color:#386337}

/* 그룹아이디 pop layout */
.add_goup_pop {width:400px;height:220px;position:fixed;top:50%;left:50%;margin:-110px 0 0 -200px;border:1px solid #ccc;background:#fff;z-index:999;display:none}
.add_goup_pop .tbl {width:350px;border:none;margin:0 auto;margin-top:20px}
.add_goup_pop .tbl th,.add_goup_pop .tbl td {padding:3px;border:border:none}
.add_goup_pop .tbl .lr {text-align:left;padding:5px 3px}
.add_goup_pop .tbl .rl {text-align:right;padding:5px 3px}
.add_goup_pop h1 {padding:20px 0 0 28px}
.add_goup_pop p.btn {padding:20px;text-align:center;}
.add_goup_pop p.ctt {padding:30px 0 0 0;text-align:center;line-height:25px}
.bbsh3 {padding:20px 0 3px 0}

/* 등급설정 테이블 */
.tbl_pri,.tbl_pri td,.tbl_pri th {border-bottom:none}
.tbl_pri th {width:50px}
.jqplot-title {font-size:12px}


	