@charset "utf-8";

@import url('common.css');
body {background-color: #F7F7F7}
/* layout */
#wrap{width:100%;height:100%}
#header{height:200px;border-bottom:1px solid #D6D6D6}
#header h1{position:absolute;right:0px;top:18px;margin:0px;padding:0px;width:146px;height:40px;text-align:center}

#content{margin:0px auto;height:255px;background:#fff;border-bottom:1px solid #D6D6D6}
#loginbox {position:relative;margin:0px auto;width:440px;height:225px;background:url(../images/common/bg/login_bg.gif) no-repeat}
#content dl{position:absolute;left:280px;top:100px;margin:0px;width:208px;_width:210px;height:48px}
#content dl dt{clear:both;margin-bottom:4px;_margin-bottom:1px;_padding-top:2px;width:60px;height:20px;_height:18px;float:left;font-weight:bold}
#content dl dd{margin-bottom:4px;_margin-bottom:1px;width:148px;height:20px;float:right}
#content dl dd input{width:148px;height:18px;line-height:18px;border:1px solid #6d6d6d}
#content p.btn{position:absolute;left:500px;top:100px;margin:0px auto;width:72px;height:48px;text-align:center}
#footer{position:relative;margin-left:-159px;width:164px;height:46px;line-height:130%;font-size:11px;color:#fff;letter-spacing:-1px}
