<{include file="inc/boot_navibar.html"}>

<style>
	.table .thead-dark th{vertical-align: middle;}
	.table td{vertical-align: middle;}
</style>
<div class="admin_content" style="max-width: 1200px;">
	<h2 class="title" style="margin-bottom:10px">● Calendar Manager</h2>

	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="40px;">
			<col width="80px;">
			<col width="80px;">
			<col width="200px;">
			<col width="100px;">
			<col width="60px;">
			<col width="300px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2" style="height: 50px;">NO</th>
				<th scope="col" rowspan="2">ID</th>
				<th scope="col" rowspan="2">DISPLAY</th>
				<th scope="col" rowspan="2">Calendar Name</th>
				<th scope="col" rowspan="2">일정공개</th>
				<th scope="col" rowspan="2">보기</th>
				<th scope="col" rowspan="2">MEMO</th>
			</tr>
		</thead>
		<tbody>
			<{if $calendar_manager_list}>
				<{foreach from=$calendar_manager_list item=calendar_manager}>
				<tr>
					<td class="text-center"><!-- NO -->
						<{$calendar_manager.cal_no}>
					</td>
					<td class="text-center"><!-- 캘린더 ID -->
						<{$calendar_manager.cal_id}>
					</td>
					<td class="text-center"><!-- DISPLAY -->
						<{$calendar_manager.display_status}>
					</td>
					<td class="text-left"><!-- 캘린더 TITLE -->
						<a href="calendar_manager_regist.php?cal_no=<{$calendar_manager.cal_no}>" style="font-weight: bold;">
							<{$calendar_manager.cal_title}>
						</a>
					</td>
					<td class="text-center"><!-- 일정공개 -->
						<{$calendar_manager.view_schedule_permission_set_option}>
					</td>
					<td class="text-center"><!-- 보기 -->
						<a href="calendar_schedule.php?cal_id=<{$calendar_manager.cal_id}>" target="_blank">
							<img src="../images/icon/new_win_icon.png">
						</a>
					</td>
					<td class="text-center"><!-- MEMO -->
						<textarea class="form-control memo_<{$calendar_manager.cal_no}>" name="memo" rows="2" style="width: 350px; float: left;font-size: 11px;"><{$calendar_manager.memo}></textarea>
						<button onclick="saveMemo('<{$calendar_manager.cal_no}>')" style="float: left; margin-top: 13px; padding: 5px; margin-left: 12px; background: #333; color: white; font-weight: bold;">저장</button>
					</td>
				</tr>
				<{/foreach}>
				<form action='calendar_manager_list.php' name='calendar_manager_frm' method='post' >
					<input type="hidden" name="process" value="save_memo">
					<input type="hidden" name="cal_no" value="">
					<input type="hidden" name="memo" value="">
				</form>
			<{else}>
				<tr>
					<td colspan="7" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<div>
		<button onclick="location.href='calendar_manager_regist.php'" style="padding: 5px 10px;font-size: 14px;font-weight: bold;background: #333;color: white;width: 200px;height: 50px;border-radius: 5px;">Create</button>
	</div>
</div>
<!-- //admin_content -->

<script>
	function saveMemo(cal_no)
	{
		var f = document.calendar_manager_frm;

		f.cal_no.value = cal_no;
		f.memo.value = $(".memo_"+cal_no).val();

		f.submit();
	}
</script>

</body>
</html>
