<{include file="inc/boot_navibar.html"}>

<link href='<{$dir_location}>css/calendar/calendar.css' rel='stylesheet' />
<script src='<{$dir_location}>js/calendar/calendar.js'></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<style>
    #calendar {max-width: 1100px; margin: 30px 0;}
    .fc-toolbar-title{font-weight: normal;}
    .fc-event-time{display: none !important;}
    .fc-event-title{font-size: 11px;}
    .btn{font-size: 15px;color: white; min-width: 100px;}
    .btn-grey{background: darkgrey;}
    th.fc-day{color: white; height: 30px; vertical-align: middle;}
    th.fc-day{background: #9a9a9a;}
    th.fc-day-sat{background: #9edefd;}
    td.fc-day-sat{color: blue; background: #9edefd4a;}
    th.fc-day-today{color: black;}
    th.fc-day-sun{background: #ff9a9a !important; color: red;}
    td.fc-day-sun{background: #ff9a9a38 !important; color: red;}
    .fc .fc-daygrid-day-bg .fc-bg-event{opacity: 1;}
    .fc .fc-bg-event .fc-event-title{color: red; font-style: unset; font-size: 13px;}
    #calendar-modal{padding: 20px; height: auto; margin: 0; max-width: unset; min-width: 1020px; width: auto; overflow: unset;}
    .modal-content{border: 0;}
    .modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
    .modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
    .modal-content table{margin: 0;}
    .fc-daygrid-day-number{cursor: pointer;}
    #add_inout_form .form-control{font-size: 12px; width: 99%; padding: 3px;}
    #add_inout_form .unit_data_btn{font-size: 12px; min-width: unset;}
    .form-inline{display: block;}
</style>

<div class="admin_content">
    <h2 class="title" style="margin-bottom:10px">
        <{if $nav_prd_no}>
            <span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span> <{$calendar.cal_title}>
        <{else}>
            ● <{$calendar.cal_title}>
        <{/if}>
        <{if permissionNameCheck($session_permission,"마스터관리자")}>
            <a href="calendar_manager_list.php"><img src="../images/icon/setting_lightgray.png" style="margin-left: 7px; margin-top: -3px;"></a>
        <{/if}>
    </h2>
    <form name="calendar_search_frm" class="form-inline" action="calendar_schedule.php" method="get" autocomplete="off">
        <input type="hidden" name="cal_id" id="sch_cal_id" value="<{$calendar.cal_id}>" >

        <{if $sch_brand_list || $sch_category_option}>
            <div class="form-group" style="margin-bottom: 10px;">
                <{if $sch_brand_list}>
                    <label for="sch_cs_brand">업체명/브랜드명</label>
                    <select id="sch_cs_brand" name="sch_cs_brand" class="form-control" style="margin:0 10px; font-size: 12px;">
                        <option value="">::전체::</option>
                        <{foreach from=$sch_brand_list key=key item=label}>
                            <option value="<{$key}>" <{if $sch_cs_brand== $key}>selected<{/if}>><{$label}></option>
                        <{/foreach}>
                    </select>
                <{/if}>
                <{if $sch_category_option}>
                    <label for="sch_cs_category">카테고리</label>
                    <select id="sch_cs_category" name="sch_cs_category" class="form-control" style="margin:0 10px; font-size: 12px;">
                        <option value="">::전체::</option>
                        <{foreach from=$sch_category_option item=category}>
                            <option value="<{$category}>" <{if $sch_cs_category== $category}>selected<{/if}>><{$category}></option>
                        <{/foreach}>
                    </select>
                <{/if}>
                <button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;min-width: 50px;padding: 6px;" onclick="searchList();">검색</button>
            </div>
        <{/if}>

        <{if $calendar.cal_id == 'biz_sup' || $calendar.cal_id == 'nosp' || $calendar.cal_id == 'mc_event'}>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="sch_team">작성자</label>
                <select id="sch_team" name="sch_team" class="form-control" style="margin:0 10px; font-size: 12px;">
                    <{foreach from=$team_full_name_list key=team_code item=label}>
                    <option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
                    <{/foreach}>
                </select>
                <input type="text" id="sch_s_name" name="sch_s_name" value="<{$sch_s_name}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" placeholder="이름" style="margin: 0 430px 0 0; font-size: 12px; width: 100px;" />
                <input type="hidden" name="sch_s_no" value="">

                <select name="sch_search_type" class="form-control" style=" font-size: 12px;">
                    <{foreach from=$search_type_option key=key item=label}>
                    <option value="1" <{if $sch_search_type == $key}>selected<{/if}>><{$label}></option>
                    <{/foreach}>
                </select>
                <input type="text" id="sch_search_text" name="sch_search_text" value="<{$sch_search_text}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" style="font-size: 12px;" />

                <button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;min-width: 50px;padding: 6px;" onclick="searchList();">검색</button>
            </div>
        <{/if}>
    </form>

    <{if $calendar.cal_id == 'biz_sup' && $session_s_no == '62'}>
    <div>
        <span style="font-size: 16px;font-weight: bold;">[QUICK SEARCH]</span>
        <button type="button" onclick="quickSearch('43');" style="padding: 4px 15px;margin-left: 10px;font-weight: bold;" class="btn_small">조영민</button>
        <button type="button" onclick="quickSearch('77');" style="padding: 4px 15px;margin-left: 10px;font-weight: bold;" class="btn_small">한형택</button>
        <button type="button" onclick="quickSearch('52');" style="padding: 4px 15px;margin-left: 10px;font-weight: bold;" class="btn_small">강수진</button>
        <button type="button" onclick="quickSearch('62');" style="padding: 4px 15px;margin-left: 10px;font-weight: bold;" class="btn_small">박미소</button>
    </div>
    <{/if}>

    <{if $calendar.cal_id == 'inoutwith' && permissionNameCheck($session_permission,"마스터관리자")}>
        <form name="add_inout_form" id="add_inout_form" action="calendar_schedule.php" method="post" enctype="multipart/form-data" style="overflow:hidden;">
            <input type="hidden" name="process" value="add_inout_calendar">
            <input type="hidden" name="cal_id" value="<{$calendar.cal_id}>">
            <input type="hidden" name="req_staff" id="req_staff" value="">
            <input type="hidden" name="inout_idx" id="inout_idx" value="1">

            <table id="add-inout-table">
                <colgroup>
                    <col width='80px;'>
                    <col width='200px;'>
                    <col width='120px;'>
                    <col width='200px;'>
                    <col width='60px;'>
                    <col width='100px;'>
                    <col width='40px;'>
                </colgroup>
                <tbody>
                    <tr class="inout-comm-main">
                        <td>발주담당자</td>
                        <td colspan="6" style="overflow: hidden;">
                            <select name="inout_comm_staff" id="inout_comm_staff" class="form-control inout_comm_staff" style="width: 80px; float: left;">
                                <option value="">::선택::</option>
                                <{foreach from=$commerce_staff_list key=key item=label}>
                                    <option value="<{$key}>"><{$label}></option>
                                <{/foreach}>
                            </select>
                            <input type="text" name="inout_date" class="date-picker form-control" value="<{$cur_date}>" style="width: 100px;float: left;margin: 2px 10px;">
                            <select name="inout_date_hour" id="inout_date_hour" class="form-control" style="width: 60px; float: left;">
                                <{foreach from=$hour_option key=key item=label}>
                                <option value="<{$key}>" <{if $cur_hour == $key}>selected<{/if}>><{$label}></option>
                                <{/foreach}>
                            </select>
                            <span style="float: left; margin: 10px 5px 2px;">시</span>
                            <select name="inout_date_min" id="inout_date_min" class="form-control" style="width: 60px; float: left;">
                                <{foreach from=$min_option item=label}>
                                    <option value="<{$label}>" <{if $cur_min == $label}>selected<{/if}>><{$label}></option>
                                <{/foreach}>
                            </select>
                            <span style="float: left; margin: 10px 5px 2px;">분</span>
                            <button type="button" class="btn btn-dark unit_data_btn" onclick="addUnitData()">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-dark unit_data_btn" id="add_inout_form_btn" style="display: none;">입고예정 추가 등록</button>
        </form>
    <{/if}>

    <div id='calendar'></div>
    <input type="hidden" name="chk_write_permission" id="chk_write_permission" value="<{$chk_write_permission}>" >
    <input type="hidden" name="chk_manager_permission" id="chk_manager_permission" value="<{$chk_manager_permission}>" >
</div>

<div class="modal" id="calendar-modal">
    <div class="modal-content">
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl   = document.getElementById('calendar');
        var calendarData = [];
        var calendarList = <{$calendar_schedule_list}>;
        var holidayList = <{$calendar_holiday_list}>;

        $.each(holidayList, function(idx, item){
            calendarData.push({
                groupId: "holiday",
                title: item['title'],
                start: item['s_date'],
                end: item['e_date'],
                color: "#ffe9e9",
                display: 'background',
                allDay: true
            });
        });

        $.each(calendarList, function(idx, item){
            calendarData.push({
                groupId:item['cs_no'],
                title: item['title'],
                start: item['cs_s_date'],
                end: item['cs_e_date'],
                color: item['color'],
                constraint: item['cs_no'],
                overlap: false,
            });
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            googleCalendarApiKey: 'AIzaSyD38WvvSLyV1QoCHuE6icmd2lTb8thc7MY',
            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            expandRows: true,
            slotMinTime: '00:00',
            slotMaxTime: '24:00',
            initialDate: '<{$cur_date}>',
            locale: 'ko',
            navLinks: false,
            editable: true,
            dayMaxEvents: true,
            selectable: true,
            nowIndicator: true,
            longPressDelay: 1,
            select: function(info) {
                var cs_sel_day  = info.startStr;
                var cal_id      = $('#sch_cal_id').val();

                if(!$("#chk_manager_permission").val() && !$("#chk_write_permission").val()) {
                    alert("쓰기 권한이 없습니다.");
                    return false;
                }

                $(".modal-content").html("");

                var iframe = "<iframe src='calendar_schedule_regist.php?cal_id="+cal_id+"&cs_sel_day="+cs_sel_day+"' name='calendar_schedule_regist' id='calendar_schedule_regist' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";
                $(".modal-content").html(iframe);

                setTimeout(function(){
                    $("#calendar-modal").modal({
                        fadeDuration: 250
                    });
                }, 300);
            },
            eventClick: function(arg) {
                var cs_sel_date = new Date(arg.event.startStr);
                var groupId     = arg.event.groupId;
                var cal_id      = $('#sch_cal_id').val();

                if(!$("#chk_manager_permission").val() && !$("#chk_write_permission").val()) {
                    alert("쓰기 권한이 없습니다.");
                    return false;
                }

                var cs_sel_day = cs_sel_date.getFullYear() + "-" + ('0' + (cs_sel_date.getMonth() + 1)).slice(-2) + "-" + ('0' + cs_sel_date.getDate()).slice(-2);

                if(groupId != '' && groupId != 'holiday')
                {
                    $(".modal-content").html("");
                    var iframe = "<iframe src='calendar_schedule_regist.php?cal_id="+cal_id+"&cs_sel_day="+cs_sel_day+"&cs_no="+groupId+"' name='calendar_schedule_regist' id='calendar_schedule_regist' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";
                    $(".modal-content").html(iframe);
                    $("#calendar-modal").modal({fadeDuration: 250});

                }
            },
            eventDidMount: function(info) {
                tippy(info.el, {
                    content:  info.event.title,
                });
            },
            eventSources: [
                {
                    events: calendarData
                },
                // {
                //     googleCalendarId: 'gj8sfvobkdj37m28s417u16evk@group.calendar.google.com',
                //     color: '#204051'
                // },
            ]
        });

        calendar.render();

        if($("#inout_comm_staff").length > 0){
            $("#inout_comm_staff").change(function(){
                $("#req_staff").val($(this).val());
            });
        }
    });

    function fixIframeHeight(obj)
    {
        var iframeHeight = obj.contentWindow.document.body.scrollHeight + 20;

        if(iframeHeight > 800){
            iframeHeight = 880;
        }

        obj.style.height=iframeHeight+'px';
    }

    function quickSearch(type) {
        document.calendar_search_frm.sch_s_no.value=type;
        document.calendar_search_frm.submit();
    }

    function searchList(){
        document.calendar_search_frm.sch_s_no.value='';
        document.calendar_search_frm.submit();
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        var parts = str.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
    }

    //콤마풀기
    function uncomma(str) {
        if(str) {
            str = "" + str.replace(/,/gi, ''); // 콤마 제거
            str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        }
        return (parseFloat(str));
    }

    function addUnitData()
    {
        var staff    = $("#req_staff").val();

        if(staff == ''){
            alert("발주담당자를 선택 후 이용해주세요");
            return false;
        }

        var idx      = $("#inout_idx").val();
        var next_idx = Number(idx)+1;

        var html    = "<tr class='inout-comm-sub inout-comm-sub-"+idx+"'>"
            + "<td>구성품목명</td>"
            + "<td>"
            + "<input type='text' name='inout_unit_name[]' id='inout_unit_name_"+idx+"' class='form-control inout_unit_name' attr-key='"+idx+"' required>"
            + "</td>"
            + "<td class='text-center'>위드플레이스 (SKU)</td>"
            + "<td>"
            + "   <input type='text' name='inout_unit_sku[]' id='inout_unit_sku_"+idx+"' class='form-control inout_unit_sku' readonly>"
            + "</td>"
            + "<td class='text-center'>수량</td>"
            + "<td>"
            + "   <input type='text' name='inout_unit_qty[]' id='inout_unit_qty_"+idx+"' class='form-control inout_unit_qty text-right' onchange='inputNumberFormat(this)' required>"
            + "</td>"
            + "<td class='text-center'>"
            + "   <button type='button' class='btn btn-dark unit_data_btn' onclick='delUnitData("+idx+")'>-</button>"
            + "</td>"
            + "</tr>"

        $("#inout_comm_staff").attr("disabled", true);
        $("#inout_idx").val(next_idx);

        $("#add-inout-table tbody").append(html);
        $("#add_inout_form_btn").show();

        addUnitAutoComplete();
    }

    function delUnitData(idx) {
        $(".inout-comm-sub-"+idx).remove();

        if($(".inout-comm-sub").length == 0){
            $("#inout_comm_staff").attr("disabled", false);
            $("#inout_idx").val(1);
            $("#add_inout_form_btn").hide();
        }
    }

    function addUnitAutoComplete()
    {
        var req_staff = $("#req_staff").val();

        $(".inout_unit_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/calendar.unit.api.php",
                    dataType: "json",
                    data: {unit_name: request.term, req_staff: req_staff},
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                unit_no : item.option_no,
                                label : item.option_name,
                                unit_name : item.option_name,
                                unit_sku : item.sku
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var attrKey = $(this).attr("attr-key");
                $(this).val(ui.item.unit_name);
                $("#inout_unit_sku_"+attrKey).val(ui.item.unit_sku);
            },
            focus: function( event, ui ) {
                return false;
            },
            minLength: 1
        });
    }
</script>
</body>
</html>
