<{include file="inc/iframe_navibar.html"}>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<style type="text/css">
	.admin_content{width: 900px; min-width: 950px !important; max-width: 900px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle; padding: 3px;}
	.dropzone{padding: 10px 30px; min-height: unset;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{background: url(../images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(../images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.dropzone .dz-preview .dz-details{padding: 1.5em 1em;}
	.dropzone .dz-preview .dz-details .dz-filename{width: 100%; height: 60px; display: inline-block;white-space:normal; font-size: 12px;}
	.dropzone .dz-preview .dz-details .dz-size{display: none;}
	.table tbody select, .table tbody input{font-size: 12px; padding: 0.25rem;}
	.table tbody th{vertical-align: middle; background: #333; color: white;}
	#cal_schedule_frm{width: 950px; min-width: 950px !important; max-width: 950px; box-sizing: border-box; overflow: hidden;margin: 0; border: 1px solid #ccc;padding: 10px;border-radius: 0 0 5px 5px;}
	.byul { float: left; margin: 8px 5px 2px 2px;width:20px;height:20px;display:inline-block;vertical-align:middle; background:url('../images/star_big_off.png') no-repeat;background-size:100% 100%;background-position:center center;cursor:pointer; }
	.byul_on { width:20px;height:20px;display:inline-block;vertical-align:middle;margin: 8px 5px 2px 2px;background:url('../images/star_big_on.png') no-repeat;background-size:100% 100%;background-position:center center;cursor:pointer; }

	.asset_reservation_list{width: 280px; float: left;font-size: 12px;}
	.new_asset_reservation{width: 280px; float: left;font-size: 12px;}
	.add_permission_btn, .add_asset_btn{background: #333; color: white; width: 30px; height: 30px; text-align: center; font-weight: bold; float: left;}
	.del_permission_btn, .del_asset_btn{background: #333; color: white; width: 30px; height: 30px; text-align: center; font-weight: bold; float: left;}

	.permission_team, .permission_staff{width: 200px; float: left;  font-size: 12px;}
	.new_permission_team, .new_permission_staff{width: 200px; float: left; font-size: 12px;}

	.onoffswitch {
		position: relative; width: 80px;
		-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	}
	.onoffswitch-checkbox {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	.onoffswitch-label {
		display: block; overflow: hidden; cursor: pointer;
		border: 2px solid #999999; border-radius: 20px;
	}
	.onoffswitch-inner {
		display: block; width: 200%; margin-left: -100%;
		transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
		display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
		font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		box-sizing: border-box;
	}
	.onoffswitch-inner:before {
		content: "ON";
		padding-left: 10px;
		background-color: #34A7C1; color: #FFFFFF;
	}
	.onoffswitch-inner:after {
		content: "OFF";
		padding-right: 10px;
		background-color: #EEEEEE; color: #999999;
		text-align: right;
	}
	.onoffswitch-switch {
		display: block; width: 20px; margin: 2.5px;
		background: #FFFFFF;
		position: absolute; top: 0; bottom: 0;
		right: 51px;
		border: 2px solid #999999; border-radius: 20px;
		transition: all 0.3s ease-in 0s;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		right: 0px;
	}

	.comment-btn-wrap{margin: 10px 0 2px; position: relative;}
	.comment-btn-wrap .comment-btn{padding: 2px 5px; border: 1px solid #ccc;font-size: 11px; font-family: 'Malgun Gothic'; text-decoration: none;}
	.comment-btn-wrap .comment-close-btn{display: none;}
	.sub-comm-modify-content{display: none;}
	.comment-like-btn{overflow: hidden;border: 1px solid #ccc; padding: 2px;margin: 0;color: black;position: absolute;min-width: 43px;bottom: -2px;right: 5px;}
	.comment-like-btn img{width: 20px; float: left;}
	.comment-like-cnt{display: inline-block; float: right; line-height: 21px; font-size: 11px; font-weight: bold; min-width: 10px; padding-right: 1px;}
	.comment-like-sel{border: 1px solid red; color: red; }
	.comment-like-btn .comment-like-sel-img{display: none;}
	.comment-like-sel .comment-like-sel-img{display: inline-block;}
	.comment-like-sel .comment-like-img{display: none;}
	.comment-form-write{display: none;}
	#f_comm_img_preview img{width: 100%; height: 100%;}
	#image-modal img{width: 100%; height: 100%;}
</style>

<div class="admin_content">
	<form id="cal_schedule_frm" name="cal_schedule_frm" action="calendar_schedule_regist.php" method="post" enctype="multipart/form-data" onsubmit="return checkCalendarSchedule()" autocomplete="off">
		<input type="hidden" name="cal_id" id="cal_id" value="<{$cal_id}>">
		<input type="hidden" name="cal_no" id="cal_no" value="<{$calendar.cal_no}>">
		<input type="hidden" name="cs_no" id="cs_no" value="<{$cs_no}>">
		<input type="hidden" id="cs_sel_day" name="cs_sel_day" value="<{$cs_sel_day}>" />
		<input type="hidden" name="process" value="<{if !!$cs_no}>upd_calendar_schedule<{else}>add_calendar_schedule<{/if}>">

		<table class="table table-bordered" style="table-layout: fixed;">
			<colgroup>
				<col width="120px;">
				<col width="340px;">
				<col width="120px;">
				<col width="340px;">
			</colgroup>
			<tbody>
				<{if $calendar.view_brand > 0}>
					<tr>
						<th scope="col">브랜드</th>
						<td colspan="3" style="overflow: hidden;">
							<select id="cs_brand" name="cs_brand" class="form-control" style="width: 200px; display: inline-block;">
								<option value="">::전체::</option>
								<{foreach from=$cs_brand_company_list key=key item=label}>
								<option value="<{$key}>" <{if $cs_brand == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
				<{/if}>
				<{if $calendar.view_category > 0}>
					<tr>
						<th scope="col">카테고리</th>
						<td colspan="3" style="overflow: hidden;">
							<select id="cs_category" name="cs_category" class="form-control" style="width: 200px; display: inline-block;">
								<option value="">::전체::</option>
								<{foreach from=$cs_category_list item=label}>
								<option value="<{$label}>" <{if $cs_category == $label}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>

							<{if $cs_no && $cs_category == "입고일정확정"}>
								<button type="button" onclick="window.open('/v1/work_cms_sms_popup.php?type=with_stock_calendar&staff_type=2&cal_cs_no=<{$cs_no}>', '입고확정 문자발송','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file" style="margin-top: 3px; padding: 4px 7px; background: #4CAF50; font-weight: bold; float: right;"><span>입고확정 문자보내기</span></button>
							<{/if}>
						</td>
					</tr>
				<{/if}>
				<{if $calendar.view_title > 0 || $calendar.view_important > 0}>
					<tr>
						<th scope="col">
							<{if $calendar.view_important > 0}>중요 / <{/if}>제목</th>
						<td colspan="3">
							<{if $calendar.view_important > 0}>
							<div class="byul <{if $cs_important == '1'}>byul_on<{/if}>"></div>
							<input type="hidden" name="cs_important" id="cs_important" value="<{$cs_important}>">
							<{/if}>
							<{if $calendar.view_title > 0}>
							<input type="text" name="cs_title" class="form-control" value="<{$cs_title}>" style="width: 500px;">
							<{/if}>
						</td>
					</tr>
				<{/if}>
				<{if $calendar.view_write_s_no > 0 || $calendar.view_write_date > 0}>
					<tr>
						<{if $calendar.view_write_s_no > 0}>
							<th scope="col">작성자</th>
							<td>
								<input type="hidden" name="cs_s_no" value="<{$cs_s_no}>" />
								<input type="text" name="cs_s_name" class="form-control" style="width: 300px;" value="<{$cs_s_name}>" readonly/>
							</td>
						<{/if}>
						<{if $calendar.view_write_date > 0}>
							<th scope="col">작성일시</th>
							<td><{$regdate}></td>
						<{/if}>
					</tr>
				<{/if}>
				<tr>
					<th scope="col">시작시간<br/>종료시간</th>
					<td>
						<div style="margin-bottom: 10px; overflow: hidden;">
							<input type="text" name="cs_s_day" id="cs_s_day" class="form-control date-picker" style="width: 80px; float: left; " value="<{$cs_s_day}>" autocomplete="off"/>
							<select name="cs_s_hour" class="form-control cs_s_hour" style="width: 80px; float: left;" <{if $cs_all == '1'}>disabled<{/if}>>
								<{foreach from=$hour_list item=hour}>
									<option value="<{$hour}>" <{if $hour == $cs_s_hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; margin-top: 17px; margin-right: 5px;">시</span>
							<select name="cs_s_min" class="form-control cs_s_min" style="width: 80px; float: left;" <{if $cs_all == '1'}>disabled<{/if}>>
								<{foreach from=$min_list item=min}>
									<option value="<{$min}>" <{if $min == $cs_s_min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
							<span  style="float: left; margin-top: 17px;">분</span>
						</div>
						<div style="margin-bottom: 10px; overflow: hidden;">
							<input type="text" name="cs_e_day" id="cs_e_day" class="form-control date-picker" style="width: 80px; float: left; " value="<{$cs_e_day}>" autocomplete="off" />
							<select name="cs_e_hour" class="form-control cs_e_hour" style="width: 80px; float: left;" <{if $cs_all == '1'}>disabled<{/if}>>
								<{foreach from=$hour_list item=hour}>
									<option value="<{$hour}>" <{if $hour == $cs_e_hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; margin-top: 17px; margin-right: 5px;">시</span>
							<select name="cs_e_min" class="form-control cs_e_min" style="width: 80px; float: left;" <{if $cs_all == '1' }>disabled<{/if}>>
								<{foreach from=$min_list item=min}>
									<option value="<{$min}>" <{if $min == $cs_e_min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
							<span  style="float: left; margin-top: 17px;">분</span>
						</div>
						<input type="checkbox" name="cs_all" id="cs_all" class="cs_date_type" value="1" style="float: left;" <{if $cs_all == '1' }>checked<{/if}>>
						<label for="cs_all" style="float: left; cursor: pointer;">종일</label>
						<br/>
					</td>
					<{if $calendar.view_asset_reservation > 0}>
						<th scope="col">공용설비 예약</th>
						<td>
							<div class="asset_reservation_list_wrapper">
								<{if $asset_reservation_list}>
									<{foreach from=$asset_reservation_list item=asset_reservation}>
									<div>
										<select name='asset_reservation_list[]' class='form-control asset_reservation_list  asset_reservation_list<{$asset_reservation}>' <{if $cs_no}>disabled<{/if}>>
											<{foreach from=$new_asset_share_list key=key item=label}>
												<option value="<{$key}>" <{if $key == $asset_reservation}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<{if !$cs_no}>
											<button type='button' onclick='delAssetReservation(this)' class='del_asset_btn'>-</button>
										<{/if}>
									</div>
									<{/foreach}>
								<{/if}>
							</div>
							<{if !$cs_no}>
								<div class="new_asset_reservation_list_form">
									<select name="new_asset_reservation" id="new_asset_reservation" class="form-control new_asset_reservation">
										<option value="">::선택::</option>
										<{foreach from=$new_asset_share_list key=key item=label}>
											<option value="<{$key}>"><{$label}></option>
										<{/foreach}>
									</select>
									<button type='button' onclick="addAssetReservation()" class="add_asset_btn">+</button>
								</div>
							<{/if}>
						</td>
					<{/if}>
				</tr>
				<{if $calendar.view_asset_reservation > 0}>
					<tr>
						<th scope="col">전체공개</th>
						<td colspan="3">
							<div style="margin-bottom: 10px;">
								<{foreach from=$cs_permission_list key=key item=label}>
									<input type="radio" name="cs_permission" value="<{$key}>" id="cs_permission_<{$key}>" class="cs_permission" <{if (!$cs_permission && $key == 0) || $cs_permission == $key}>checked<{/if}>>
									<label for="cs_permission_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
								<{/foreach}>
							</div>
							<div class="calendar_permission_wrapper" style="overflow: hidden;">
								<input type="hidden" name="origin_csp_no" value="<{$origin_csp_no}>">
								<{assign var=calendar_idx value=0}>
								<{if $calendar_permission_list}>
									<{foreach from=$calendar_permission_list item=calendar_permission}>
										<div style="overflow: hidden;">
											<input type="hidden" name="calendar_csp_no[]" value="<{$calendar_permission.csp_no}>">
											<input type="hidden" name="calendar_permission_team[]" id="calendar_permission_team<{$calendar_idx}>" value="<{$calendar_permission.csp_team}>">
											<select name='calendar_permission_team_val' class='form-control permission_input permission_team calendar_permission_team_val calendar_permission_team<{$calendar_idx}>' attr-idx='<{$calendar_idx}>' <{if $cs_permission != '2'}>disabled<{/if}>>
												<option value="">::전체::</option>
												<{foreach from=$team_list key=key item=label}>
													<option value="<{$key}>" <{if $calendar_permission.csp_team == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>

											<select name='calendar_permission_staff[]' class='form-control permission_input permission_staff calendar_permission_staff calendar_permission_staff<{$calendar_idx}>' attr-idx='<{$calendar_idx}>' <{if $cs_permission != '2'}>disabled<{/if}>>
												<option value="">::전체::</option>
												<{if $calendar_permission.csp_team}>
													<{foreach from=$staff_list[$calendar_permission.csp_team] key=key item=label}>
														<option value="<{$key}>" <{if $calendar_permission.csp_s_no == $key}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												<{else}>
													<{foreach from=$staff_list.all key=key item=label}>
														<option value="<{$key}>" <{if $calendar_permission.csp_s_no == $key}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												<{/if}>
											</select>
											<button type='button' onclick="delPermission(this)" class="del_permission_btn permission_input" <{if $cs_permission != '2'}>disabled<{/if}>>-</button>
										</div>
										<{assign var=calendar_idx value=$calendar_idx+1}>
									<{/foreach}>
								<{/if}>
							</div>
							<div class="new_permission_form" style="overflow: hidden;">
								<select name="new_permission_team" id="new_calendar_permission_team" class="form-control new_permission_team permission_input" <{if $cs_permission != '2'}>disabled<{/if}>>
									<option value="">::전체::</option>
									<{foreach from=$team_list key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
								<select name="new_permission_staff" id="new_calendar_permission_staff" class="form-control new_permission_staff permission_input" <{if $cs_permission != '2'}>disabled<{/if}>>
									<option value="">::전체::</option>
									<{foreach from=$staff_list.all key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
								<button type='button' onclick="addPermission('calendar')" class="add_permission_btn permission_input" <{if $cs_permission != '2'}>disabled<{/if}>>+</button>
							</div>

							<input type="hidden" id="calendar_idx" value="<{$calendar_idx}>">
						</td>
					</tr>
				<{else}>
					<input type="hidden" name="cs_permission" value="<{$cs_permission}>" />
				<{/if}>

				<{if $calendar.view_content > 0}>
					<tr>
						<th scope="col">상세내용</th>
						<td colspan="3">
							<textarea name="cs_content" class="form-control" style="font-size: 12px; height: 200px;"><{$cs_content}></textarea>
						</td>
					</tr>
				<{/if}>

				<{if $calendar.view_date_repeat > 0}>
					<tr>
						<th scope="col">일정반복</th>
						<td colspan="3">
							<div style="overflow: hidden;">
								<div class="onoffswitch">
									<input type="checkbox" name="cs_repeat" class="onoffswitch-checkbox cs_repeat" id="myonoffswitch" tabindex="0" value="1" <{if $date_repeat == '1'}>checked<{/if}> <{if $cs_no}>disabled<{/if}>>
									<label class="onoffswitch-label" for="myonoffswitch">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
							<div style="overflow: hidden;">
								<{foreach from=$repeat_type_list key=key item=label}>
									<input type="radio" name="date_repeat_type" id="date_repeat_type_<{$key}>" class="date_repeat_type" value="<{$key}>" style="float: left; margin-top: 10px; margin-right: 5px;" <{if $date_repeat_type == $key}>checked<{/if}> <{if $cs_no || $date_repeat != '1'}>disabled<{/if}>>
									<label for="date_repeat_type_<{$key}>" style="float: left; margin: 10px 10px 0 0; cursor: pointer;"><{$label}></label>
								<{/foreach}>
								<span style="float: left; margin: 10px 10px 0">, 반복주기</span>
								<select class="form-control date_repeat_val" name="date_repeat_val" style="float: left; width: 100px;" <{if $cs_no || $date_repeat != '1'}>disabled<{/if}>>
									<{foreach from=$repeat_val_list item=repeat_val}>
									<option value="<{$repeat_val}>" <{if $date_repeat_val == $repeat_val}>selected<{/if}>><{$repeat_val}></option>
									<{/foreach}>
								</select>
							</div>
							<div style="overflow: hidden; margin-top: 10px;">
								<{foreach from=$day_list key=key item=label}>
									<input type="checkbox" name="date_repeat_week_<{$key}>" class="date_repeat_week" id="date_repeat_week_<{$key}>" value="1"  <{if isset($date_repeat_week_list[$key]) && $date_repeat_week_list[$key] == '1'}>checked<{/if}> <{if $cs_no || $date_repeat != '1'}>disabled<{/if}>>
									<label for="date_repeat_week_<{$key}>"><{$label}></label>
								<{/foreach}>
							</div>
							<div style="overflow: hidden;">
								<span style="float: left; margin-top: 10px; ">반복일</span>
								<input type="text" name="date_repeat_start" id="date_repeat_start" class="form-control date-picker date_repeat_start" style="width: 100px; float: left; margin: 2px 10px;" value="<{$date_repeat_start}>" <{if $cs_no || $date_repeat != '1'}>disabled<{/if}> autocomplete="off"/>
								<span style="float: left; margin-top: 10px; ">~</span>
								<input type="text" name="date_repeat_end" id="date_repeat_end" class="form-control date-picker date_repeat_end" style="width: 100px; float: left; margin: 2px 10px;" value="<{$date_repeat_end}>" <{if $cs_no || $date_repeat != '1'}>disabled<{/if}> autocomplete="off"/>
								<span style="float: left; margin-top: 17px; color: #ccc;">※반복 일정 다량 수정 및 삭제시 운영팀 별도 문의 바랍니다</span>
							</div>
						</td>
					</tr>
				<{/if}>

				<{if $calendar.view_alert > 0}>
					<tr>
						<th scope="col">알림</th>
						<td colspan="3">
							<input type="checkbox" name="cs_alert" id="cs_alert" class="cs_alert" value="1" style="float: left;margin-top: 17px;" <{if $cs_alert == '1'}>checked<{/if}> <{if $cs_no}>disabled<{/if}>>
							<label for="cs_alert" style="float: left;margin: 16px 10px 0 0;cursor: pointer;">알림설정</label>
							<input type="text" name="cs_alert_day" id="cs_alert_day" class="form-control date-picker cs_alert_day" style="width: 100px; float: left; margin: 2px 5px;" value="<{$cs_alert_day}>" <{if $cs_no || $cs_alert != '1'}>disabled<{/if}> autocomplete="off"/>
							<input type="checkbox" name="cs_alert_repeat" id="cs_alert_repeat" class="cs_alert_repeat" value="1" style="float: left;margin-top: 17px;" <{if $cs_alert_repeat == '1'}>checked<{/if}> <{if $cs_no || $cs_alert != '1'}>disabled<{/if}>>
							<label for="cs_alert_repeat" style="float: left;margin: 16px 10px 0 0;cursor: pointer;">반복</label>
							<select name="cs_alert_hour" class="form-control cs_alert_hour" style="width: 80px; float: left;" <{if $cs_no || $cs_alert != '1'}>disabled<{/if}>>
								<{foreach from=$hour_list item=hour}>
								<option value="<{$hour}>" <{if $hour == $cs_alert_hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; margin-top: 17px; margin-right: 5px;">시</span>
							<select name="cs_alert_min" class="form-control cs_alert_min" style="width: 80px; float: left;" <{if $cs_no || $cs_alert != '1'}>disabled<{/if}>>
								<{foreach from=$min_list item=min}>
								<option value="<{$min}>" <{if $min == $cs_alert_min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
							<span  style="float: left; margin-top: 17px;">분</span>
							<input type="text" name="cs_alert_hp" class="form-control cs_alert_hp" style="width: 240px; float: left;margin-left: 20px;" value="<{$cs_alert_hp}>" <{if $cs_no || $cs_alert != '1'}>disabled<{/if}> />
							<span  style="float: left; margin-top: 17px;">$로 구분하여 추가</span>
						</td>
					</tr>
				<{/if}>

				<{if $calendar.view_file > 0}>
					<tr>
						<th scope="col">파일첨부</th>
						<td colspan="3">
							<div class="dropzone" id="calendarFileDropzone" >
								<div class="dz-message">
									이곳에 파일을 드래그하여 첨부하거나 클릭하여 선택하요.(MAX 10MB)
								</div>
							</div>
							<div class="add-file-hidden">
								<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
								<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">
								<input type="hidden" id="file_count" value="<{$file_count}>" />
								<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
							</div>
						</td>
					</tr>
				<{/if}>

				<tr>
					<td colspan="4" style="text-align: center;">
						<{if $btn_permission}>
							<{if $cs_no}>
							<button type="button" class="btn btn-dark" style="font-weight: bold;" onclick="delSchedule()">삭제</button>
							<{/if}>
							<button type="submit" class="btn btn-success" style="font-weight: bold;"><{$btn_title}></button>
						<{/if}>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<{if $cs_no && $calendar.view_comment > 0}>
		<div class="comment_write_wrapper">
			<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="calendar_schedule_regist.php">
				<input type="hidden" name="process">
				<input type="hidden" name="cal_no" id="comm_cal_no" value="<{$calendar.cal_no}>">
				<input type="hidden" name="cal_id" id="comm_cal_id" value="<{$cal_id}>">
				<input type="hidden" name="cs_no" id="comm_cs_no" value="<{$cs_no}>">
				<input type="hidden" name="cs_sel_day"  value="<{$cs_sel_day}>">
				<table class="table table-bordered" style="table-layout: fixed;">
					<tbody>
						<tr>
							<td colspan="4">
								<div style="padding-left:5px; color: #999;">
									<span style="font-size: 14px; font-weight: bold; line-height: 20px;"><{$session_name}>(<{$team_list[$session_team]}>)</span>
									<div style="padding: 0;box-sizing: content-box;border: 1px solid #ccc;background-color: #eeeeee;margin: 5px 5px 0 0;">
										<textarea name="f_comment_new" id="f_comment_new" class="textarea_type3" style="width: 100%;height: 50px;box-sizing: border-box;margin: 0;border: 0;resize: none;"></textarea>
										<div class="f_comment_image_box" style="position: relative; margin: 10px 0 10px 15px; display: inline-block;">
											<div id="f_comm_img_preview" style="width: 50px;height: 50px;display: inline-block;"></div>
											<span id="f_comm_img_preview_del" style="position: absolute;top: -5px;right: -5px;z-index: 10;width: 15px;height: 15px;background-image: url(../images/icon/img_close.png);background-repeat: no-repeat;background-size: cover; cursor: pointer; display: none;"></span>
										</div>
									</div>
									<div style="padding: 0; padding-left: 10px;margin-right: 4px;overflow: hidden;border: 1px solid #ccc;border-top: 0;">
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;" >
											<input type="checkbox" name="is_secret" id="is-secret" style="width: 0; position: absolute; top:0;left:0;z-index: 2;" value="1">
											<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-secret-off-label">
												<span style="background-image: url(../images/icon/secret_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">비밀</span>
											</label>
											<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-secret-on-label">
												<span style="background-image: url(../images/icon/secret_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px; font-weight: bold;">비밀</span>
											</label>
										</div>
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
											<input type="checkbox" name="is_unknown" id="is-unknown" style="width: 0; position: absolute; top:0; left:0;z-index: 2;" value="1">
											<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-unknown-off-label">
												<span style="background-image: url(../images/icon/unknown_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">익명</span>
											</label>
											<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-unknown-on-label">
												<span style="background-image: url(../images/icon/unknown_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px; font-weight: bold;">익명</span>
											</label>
										</div>
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
											<input type="file" id="f_comm_img" name="f_comm_img" accept="image/*" style="font-size: 0; width: 0; position: absolute; top:0; left:0;z-index: 2;">
											<label for="f_comm_img" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10;">
												<span style="background-image: url(../images/icon/camera.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">사진</span>
											</label>
										</div>
										<button type="button" onclick="return comment_add();" class="btn_small" style="margin: 0;float: right;border-radius: 0;background-color: #222;font-weight: bold;padding: 7px 25px;"><span>등록</span></button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="comment_total_wrapper">
			<table class="table table-bordered" style="table-layout: fixed;">
				<tbody>
					<!-- COMMENTS -->
					<{if $comment_list}>
						<{foreach from=$comment_list key=com_no item=comment}>
							<tr>
								<td class="first" colspan="4" style="border-left: 1px solid #ccc; max-width: 850px;">
									<div style="padding-left:5px; color: #999; position: relative;" id="comment-wrapper-<{$comment.csc_no}>">
										<{if $comment.is_unknown == '1'}>
											<{if $comment.s_no == $session_s_no}>
												<span style="font-size: 14px; font-weight: bold;">익명(<{$comment.s_name}>)</span>
												<span style="font-size:9px; color:#a7a7a7;"><{$team_list[$comment.team]}></span>
											<{else}>
												<span style="font-size: 14px; font-weight: bold;">익명</span>
											<{/if}>
										<{else}>
											<span style="font-size: 14px; font-weight: bold;"><{$comment.s_name}></span>
											<span style="font-size:9px; color:#a7a7a7;"><{$team_list[$comment.team]}></span>
										<{/if}>
										<span style="color: #999;"><{$comment.regdate_day}> <{$comment.regdate_time}></span>
										<div style="padding-left:10px;" class="main-comm-content main-comm-content-<{$comment.csc_no}>">
											<{if $comment.is_secret == '1'}>
												<{if $comment.s_no == $session_s_no}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
													<{$comment.comment}>
												<{else}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
												<{/if}>
											<{else}>
												<{$comment.comment}>
												<!-- # 코멘트 이미지 업로드 -->
												<{if $comment.img_path}>
													<img src="/v1/uploads/<{$comment.img_path}>" onclick="openCommentImage(this)" alt="<{$comment.img_name}>" style="max-width: 300px; max-height: 300px; display: block; margin-top: 5px; cursor: pointer;"/>
												<{/if}>
											<{/if}>
										</div>
										<form name="comment_mod_frm_<{$comment.csc_no}>" class="list_form" method="post" action="calendar_schedule_regist.php">
											<input type="hidden" name="process">
											<input type="hidden" name="cal_no" value="<{$calendar.cal_no}>">
											<input type="hidden" name="cal_id" value="<{$cal_id}>">
											<input type="hidden" name="cs_no" value="<{$cs_no}>">
											<input type="hidden" name="cs_sel_day"  value="<{$cs_sel_day}>">
											<input type="hidden" name="main_comm_no" value="<{$comment.csc_no}>">
											<{if $session_s_no == $comment.s_no}>
												<div class="comment-form-write main-comm-modify-<{$comment.csc_no}> main-comm-modify-content" style="padding-left:10px;">
													<textarea name="f_comment" class="textarea_type3" style="width: 90%;height: 250px;" required><{$comment.comment_mod}></textarea>
													<button type="button" onclick="return comment_main_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
												</div>
											<{/if}>
										</form>
										<div class="comment-btn-wrap">
											<a href="javascript:void(0)" onclick="openCommentForm('<{$comment.csc_no}>');" class="comment-btn">답글</a>
											<{if $comment.s_no == $session_s_no}>
												<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$comment.csc_no}>', 'main');" id="comm-mod-open-btn-<{$comment.csc_no}>" class="comment-btn">수정</a>
												<a href="javascript:void(0);" onclick="comment_delete('<{$comment.csc_no}>');" style="padding: 2px 5px;border: 1px solid #ccc;font-size: 11px;font-family: 'Malgun Gothic';text-decoration: none;">삭제</a>
											<{/if}>
										</div>

										<{if $comment.sub_comm_list}>
											<div class="comment-list" style="margin-top: 5px;">
												<{foreach from=$comment.sub_comm_list key=key item=sub_comment}>
													<div style="padding-top:5px; padding-bottom:5px; color: #999; position: relative; padding-left: <{$sub_comment.depth_width}>; border-top: 1px solid #ccc;" id="sub-comment-wrapper-<{$sub_comment.csc_no}>">
														<{if $sub_comment.is_unknown == '1'}>
															<{if $sub_comment.s_no == $session_s_no}>
																<span style="font-size: 14px; font-weight: bold;">익명(<{$sub_comment.s_name}>)</span>
																<span style="font-size:9px; color:#a7a7a7;"><{$team_list[$sub_comment.team]}></span>
															<{else}>
																<span style="font-size: 14px; font-weight: bold;">익명</span>
															<{/if}>
														<{else}>
															<span style="font-size: 14px; font-weight: bold;"><{$sub_comment.s_name}></span>
															<span style="font-size:9px; color:#a7a7a7;"><{$team_list[$sub_comment.team]}></span>
														<{/if}>
														<span style="color: #999;"><{$sub_comment.regdate_day}> <{$sub_comment.regdate_time}></span>
														<form name="comment_mod_frm_<{$sub_comment.csc_no}>" class="list_form" method="post" action="calendar_schedule_regist.php">
															<input type="hidden" name="process">
															<input type="hidden" name="cal_no" value="<{$calendar.cal_no}>">
															<input type="hidden" name="cal_id" value="<{$cal_id}>">
															<input type="hidden" name="cs_no" value="<{$cs_no}>">
															<input type="hidden" name="cs_sel_day"  value="<{$cs_sel_day}>">
															<input type="hidden" name="sub_comm_no" value="<{$sub_comment.csc_no}>">

															<div class="sub-comm-content sub-comm-content-<{$sub_comment.csc_no}>" style="padding-left:10px;">
																<{if $sub_comment.is_secret == '1'}>
																	<{if $sub_comment.s_no == $session_s_no }>
																		<span style="color: red;">비밀 댓글입니다.</span><br/>
																		<{$sub_comment.comment}>
																	<{else}>
																		<span style="color: red;">비밀 댓글입니다.</span><br/>
																	<{/if}>
																<{else}>
																	<{$sub_comment.comment}>
																<{/if}>
															</div>
															<{if $session_s_no == $sub_comment.s_no}>
																<div class="comment-form-write sub-comm-modify-<{$sub_comment.csc_no}> sub-comm-modify-content" style="padding-left:10px;">
																	<textarea name="f_comment" class="textarea_type3" style="width: 90%;" required><{$sub_comment.comment_mod}></textarea>
																	<button type="button" onclick="return comment_sub_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
																</div>
															<{/if}>
														</form>
														<div class="comment-btn-wrap">
															<a href="javascript:void(0)" onclick="openCommentForm('<{$sub_comment.csc_no}>');" class="comment-btn">답글</a>
															<{if $session_s_no == $sub_comment.s_no}>
																<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$sub_comment.csc_no}>', 'sub');" id="comm-mod-open-btn-<{$sub_comment.csc_no}>" class="comment-btn">수정</a>
																<button type="button" onclick="return comment_sub_delete('<{$sub_comment.csc_no}>');" class="btn_small" style="background: #FFF;color: #333;padding: 2px 5px;border: 1px solid #ccc;margin: 0;border-radius: 0; margin-bottom: 3px; height: 21px; box-sizing: border-box;"><span>삭제</span></button>
															<{/if}>
														</div>
														<div class="comment-form-write" id="comment-form-write-<{$sub_comment.csc_no}>">
															<form name="comment_frm_<{$sub_comment.csc_no}>" class="list_form" method="post" action="calendar_schedule_regist.php">
																<input type="hidden" name="process">
																<input type="hidden" name="cal_no" value="<{$calendar.cal_no}>">
																<input type="hidden" name="cal_id" value="<{$cal_id}>">
																<input type="hidden" name="cs_no" value="<{$cs_no}>">
																<input type="hidden" name="cs_sel_day"  value="<{$cs_sel_day}>">
																<input type="hidden" name="group_no" value="<{$sub_comment.group_no}>">
																<input type="hidden" name="parent_no" value="<{$sub_comment.csc_no}>">
																<input type="hidden" name="depth" value="<{$sub_comment.depth}>">
																<input type="hidden" name="max_depth" value="<{$comment.sub_max_depth}>">
																<input type="hidden" name="seq" value="<{$sub_comment.seq}>">
																<div style="padding-left:5px; color: #999;">
																	<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
																	<input type="checkbox" name="is_secret" id="is_secret_<{$sub_comment.csc_no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$sub_comment.csc_no}>" style="cursor: pointer">비밀 댓글</label>
																	<input type="checkbox" name="is_unknown" id="is_unknown_<{$sub_comment.csc_no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$sub_comment.csc_no}>" style="cursor: pointer">익명</label>
																	<div style="padding-left:10px;">
																		<textarea name="f_comment_new" class="textarea_type3" style="width: 90%;" required></textarea>
																		<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
																	</div>
																</div>
															</form>
														</div>
													</div>
												<{/foreach}>
											</div>
										<{/if}>
										<div class="comment-form-write" id="comment-form-write-<{$comment.csc_no}>">
											<form name="comment_frm" class="list_form" method="post" action="calendar_schedule_regist.php">
												<input type="hidden" name="process">
												<input type="hidden" name="cal_no" value="<{$calendar.cal_no}>">
												<input type="hidden" name="cal_id" value="<{$cal_id}>">
												<input type="hidden" name="cs_no" value="<{$cs_no}>">
												<input type="hidden" name="cs_sel_day"  value="<{$cs_sel_day}>">
												<input type="hidden" name="group_no" value="<{$comment.csc_no}>">
												<input type="hidden" name="parent_no" value="<{$comment.csc_no}>">
												<input type="hidden" name="depth" value="0">
												<input type="hidden" name="seq" value="">
												<div style="padding-left:5px; color: #999;">
													<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
													<input type="checkbox" name="is_secret" id="is_secret_<{$comment.csc_no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$comment.csc_no}>" style="cursor: pointer">비밀 댓글</label>
													<input type="checkbox" name="is_unknown" id="is_unknown_<{$comment.csc_no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$comment.csc_no}>" style="cursor: pointer">익명</label>
													<div style="padding-left:10px;">
														<textarea name="f_comment_new" class="textarea_type3" style="width:740px;" required></textarea>
														<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	<{/if}>
</div>

<script type="text/javascript">
	Dropzone.autoDiscover = false;

    $(document).ready(function(){

		$("#cs_all").change(function() {
			if ($(this).is(':checked')) {
				$(".cs_s_hour").attr('disabled', true);
				$(".cs_s_min").attr('disabled', true);
				$(".cs_e_hour").attr('disabled', true);
				$(".cs_e_min").attr('disabled', true);
			}else{
				$(".cs_s_hour").attr('disabled', false);
				$(".cs_s_min").attr('disabled', false);
				$(".cs_e_hour").attr('disabled', false);
				$(".cs_e_min").attr('disabled', false);
			}
		});


		$(".byul").click(function(){
		    if($(this).hasClass('byul_on')){
                $(this).removeClass('byul_on');
                $("#cs_important").val(0);
			}else{
                $(this).addClass('byul_on');
                $("#cs_important").val(1);
			}
		});

        $(".new_permission_staff").each(function (i, val) {
            $(this).remoteChained({
                parents: $(".new_permission_team")[i],
                url: "/v1/api/calendar.permission.json.php?parent_data=new_permission_team",
                loading: "로딩중..",
                clear: true
            });
        });

        $(".cs_repeat").change(function(){
       		if($(this).is(':checked')){
				$(".date_repeat_type").attr('disabled', false);
				$(".date_repeat_val").attr('disabled', false);
				$(".date_repeat_start").attr('disabled', false);
				$(".date_repeat_end").attr('disabled', false);
       		}else{
                $(".date_repeat_type").attr('disabled', true);
                $(".date_repeat_val").attr('disabled', true);
                $(".date_repeat_week").attr('disabled', true);
                $(".date_repeat_start").attr('disabled', true);
                $(".date_repeat_end").attr('disabled', true);
       		}
    	});

        $(".date_repeat_type").change(function(){
			if($(this).val() == '2'){
                $(".date_repeat_week").attr('disabled', false);
			}else{
                $(".date_repeat_week").attr('disabled', true);
			}
    	});

        addStaffRemoteChained("calendar");
        addTeamChange("calendar");

        $("#cs_alert").change(function(){
            if($(this).is(':checked')){
                $(".cs_alert_day").attr('disabled', false);
				$(".cs_alert_repeat").attr('disabled', false);
                $(".cs_alert_hour").attr('disabled', false);
                $(".cs_alert_min").attr('disabled', false);
                $(".cs_alert_hp").attr('disabled', false);
            }else{
                $(".cs_alert_day").attr('disabled', true);
				$(".cs_alert_repeat").attr('disabled', true);
                $(".cs_alert_hour").attr('disabled', true);
                $(".cs_alert_min").attr('disabled', true);
                $(".cs_alert_hp").attr('disabled', true);
            }
        });

        $("#is-unknown").change(function(){
            if($("#is-unknown").is(":checked")){
                $(".is-unknown-off-label").hide();
                $(".is-unknown-on-label").show();
            }else{
                $(".is-unknown-off-label").show();
                $(".is-unknown-on-label").hide();
            }
        });

        $("#is-secret").change(function(){
            if($("#is-secret").is(":checked")){
                $(".is-secret-off-label").hide();
                $(".is-secret-on-label").show();
            }else{
                $(".is-secret-off-label").show();
                $(".is-secret-on-label").hide();
            }
        });

        // 코멘트 이미지 업로드 & PREVIEW
        var commImage = $('#f_comm_img');

        commImage.on('change', function(){
            var fileSize 	= 0;
            var fileName	= "";
            var fileExt		= "";
            var previewWrap = $("#f_comm_img_preview");

            fileSize 	 = (($(this)[0].files[0].size / 1024));
            fileName 	 = $(this)[0].files[0].name;
            fileExt  	 = fileName.slice(fileName.indexOf('.') + 1).toLowerCase();

            //확장자 체크
            if(fileExt != 'jpg' && fileExt != 'jpeg' && fileExt != 'png' && fileExt != 'gif'){
                $(this).val("");
                alert("이미지만 등록할 수 있습니다.");
                return;
            }

            // 파일 사이즈 체크
            if(fileSize > 10*1024*1024) {
                $(this).val("");
                alert("10M 이상 파일은 등록하실 수 없습니다.");
                return;
            }

            // Preview 이미지 및 파일 이름 추출
            if (window.FileReader) {
                if (!$(this)[0].files[0].type.match(/image\//)) return;

                var reader 		= new FileReader();
                reader.onload 	= function (e) {
                    var src = e.target.result;
                    previewWrap.html('<img src="' + src + '">');
                    $("#f_comm_img_preview_del").show();
                }
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                $(this)[0].select();
                $(this)[0].blur();

                var imgSrc 	 = document.selection.createRange().text;
                previewWrap.html('<img src="' + imgSrc + '">');
                $("#f_comm_img_preview_del").show();
            }

        });

        // 코멘트 이미지 삭제
        $('#f_comm_img_preview_del').click(function(){
            $('#f_comm_img').val('');
            $('#f_comm_img_preview').html('');
            $("#f_comm_img_preview_del").hide();
        });

        $(".cs_permission").change(function(){
			if($(this).val() == '2'){
				$(".permission_input").attr('disabled', false);
			}else{
				$(".permission_input").attr('disabled', true);
			}
		});
    });

    function addPermission(type)
    {
        var idx   = $("#"+type+"_idx").val();
        var team  = $("#new_"+type+"_permission_team").val();
        var staff = $("#new_"+type+"_permission_staff").val();

        if(team == '' && staff == ''){
            alert("선택 후 이용해주세요");
            return false;
        }

        var html  = "<div style='overflow: hidden;'>";
        html  += "<input type='hidden' name='"+type+"_csp_no[]'  value=''>";
        html  += "<input type='hidden' name='"+type+"_permission_team[]' id='"+type+"_permission_team"+idx+"' value='"+team+"'>";
        html  += "<select name='"+type+"_permission_team_val' class='form-control permission_team "+type+"_permission_team_val "+type+"_permission_team"+idx+"' attr-idx='"+idx+"'>";
        html  += $("#new_"+type+"_permission_team").html();
        html  += "</select>";

        html  += "<select name='"+type+"_permission_staff[]' class='form-control permission_staff "+type+"_permission_staff "+type+"_permission_staff"+idx+"'>";
        html  += $("#new_"+type+"_permission_staff").html();
        html  += "</select>";
        html  += "<button type='button' onclick=\"delPermission(this)\" class=\"del_permission_btn\">-</button>";
        html  += "</div>"


        $("."+type+"_permission_wrapper").append(html);

        addStaffRemoteChained(type);

        $("."+type+"_permission_team"+idx).val(team);
        $("."+type+"_permission_team"+idx).trigger('change');

        setTimeout(function(){$("."+type+"_permission_staff"+idx).val(staff);}, 1000);

        $("#new_"+type+"_permission_team").val('');
        $("#new_"+type+"_permission_staff").val('');
        $("#"+type+"_idx").val(Number(idx)+1);

        addTeamChange(type);
    }

    function delPermission(obj){
        $(obj).parent().remove();
    }

    function addTeamChange(type)
    {
        $("."+type+"_permission_team_val").change(function(){
            var idx = $(this).attr('attr-idx');
            var team = $(this).val();

            $("#"+type+"_permission_team"+idx).val(team);
        })
    }

    function addStaffRemoteChained(type)
    {
        $("."+type+"_permission_staff").each(function (i, val) {
            $(this).remoteChained({
                parents: $("."+type+"_permission_team_val")[i],
                url: "/v1/api/calendar.permission.json.php?parent_data="+type+"_permission_team_val",
                loading: "로딩중..",
                clear: true
            });
        });
    }

    function addAssetReservation()
    {
        var asset = $(".new_asset_reservation").val();

        if(!asset){
            alert("선택해주세요");
            return false;
        }

        if($(".asset_reservation_list"+asset).length > 0){
            alert("이미 존재합니다.");
            return false;
        }

        var html ="<div>";

        html  += "<select name='asset_reservation_list[]' class='form-control new_asset_reservation_list asset_reservation_list asset_reservation_list" + asset+"'>";
        html  += $("#new_asset_reservation").html();
        html  += "</select>";
        html  += "<button type='button' onclick='delAssetReservation(this)' class='del_asset_btn'>-</button>";
        html  += "</div>";

        $(".asset_reservation_list_wrapper").append(html);
        $(".asset_reservation_list"+asset).val(asset);
        $(".new_asset_reservation").val('');
    }

    function delAssetReservation(obj)
    {
        $(obj).parent().remove();
    }

    function checkCalendarSchedule()
	{

        if($(".cs_title").length > 0)
        {
            if(!$(".cs_title").val()){
                alert("제목을 입력해주세요");
                return false;
            }
        }

        if($("#cs_no").val()){
            return true;
		}else{
			if($(".cs_repeat").length > 0 && $(".cs_repeat").is(":checked"))
			{
				if(!$(".date_repeat_type:checked").val()){
					alert("일정반복 타입을 선택해주세요.(매일,매주,매월)");
					return false;
				}

				if($(".date_repeat_type:checked").val() == '2' && !$(".date_repeat_week:checked").val()){
					alert("매주 일 경우 요일을 선택해주세요");
					return false;
				}

				if(!$(".date_repeat_start").val() || !$(".date_repeat_end").val()){
					alert("반복일을 지정해주세요");
					return false;
				}

				if($(".date_repeat_start").val() < $("#cs_sel_day").val()){
					alert("반복 시작일은 지정일 다음날짜부터 사용할 수 있습니다");
					return false;
				}

				if($(".date_repeat_start").val() >= $("#date_repeat_end").val()){
					alert("반복 종료일은 시작일과 같거나 작을 수 없습니다");
					return false;
				}
			}

			if($(".cs_alert").length > 0 && $(".cs_alert").is(":checked"))
			{
				if(!$(".cs_alert_day").val()){
					alert("알림을 받으실 요일을 선택해주세요");
					return false;
				}

				if(!$(".cs_alert_hp").val()){
					alert("전화번호를 입력해주세요");
					return false;
				}
			}

			if($(".new_asset_reservation_list").length > 0 || ($("#new_asset_reservation").length > 0 && $("#new_asset_reservation").val()))
			{
				var as_no_list = "";
				var all_day  = $("#cs_all").is(":checked");
				var r_s_date = $("#cs_s_day").val()+" "+ $(".cs_s_hour").val() + ":" + $(".cs_s_min").val() +":00";
				var r_e_date = $("#cs_e_day").val()+" "+ $(".cs_e_hour").val() + ":" + $(".cs_e_min").val() +":00";

				if(all_day){
					r_s_date = $("#cs_s_day").val()+" 00:00:00";
					r_e_date = $("#cs_e_day").val()+" 23:59:59";
				}

				var new_asset_reservation = $("#new_asset_reservation").val();
				if(new_asset_reservation){
					as_no_list = new_asset_reservation;
				}

				var dup_result = false;
				$.each($(".new_asset_reservation_list"), function(idx, data){

					if(new_asset_reservation == $(data).val()){
						dup_result = true;
					}

					if(as_no_list == ''){
						as_no_list = $(data).val();
					}else{
						as_no_list += "," + $(data).val();
					}
				});

				if(dup_result){
					alert('겹치는 공용설비 예약이 있습니다. 확인 후 다시 시도해 주세요');
					return false;
				}

				if(as_no_list)
				{
					$.ajax({
						url: "/v1/api/schedule_asset_reservation.check.api.php",
						type: 'POST',
						data: {as_no_list: as_no_list, r_s_date: r_s_date, r_e_date: r_e_date}
					}).done( function( data ) {
						var jsonData = JSON.parse(data);
						var result   = jsonData.result;
						var msg      = jsonData.msg;

						if(result == false) {
							alert(msg);
							return false;
						}else{
                            document.cal_schedule_frm.submit();
						}
					});
				}else{
                    return true;
				}
			}else{
                return true;
            }
		}

        return false;
    }

    if($("#calendarFileDropzone").length > 0)
    {
        var imageExt = ['jpg','jpeg','png','gif'];

		var myDropzone = new Dropzone("div#calendarFileDropzone",
			{
				url:"../inc/calendar_file_upload.php",
				addRemoveLinks: true,
				dictRemoveFile: "삭제",
				uploadMultiple: true,
				parallelUploads: 1,
				thumbnailWidth: 100,
				thumbnailHeight: 100,
				maxFiles: 5,
				maxFilesize: 30,
				dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
				init: function(){
					<{if $cs_no && $file_count > 0 }>
					<{foreach from=$file_paths key=key item=file_path}>
					var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 300000, path: "<{$file_path}>"};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$file_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "/v1/uploads/<{$file_path}>");
					}

					var html = '<div><input type="hidden" name="file_name[]" class="calendar_file_name" value="<{$file_names[$key]}>">';
					html += '<input type="hidden" name="file_path[]" class="calendar_file_path" value="<{$file_path}>"></div>';
					$(".add-file-hidden").append(html);
					<{/foreach}>
					<{/if}>
				},
				addedfile: function(file) {
					var _this2 = this;

					if (this.element === this.previewsContainer) {
						this.element.classList.add("dz-started");
					}

					if (this.previewsContainer) {
						file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
						file.previewTemplate = file.previewElement; // Backwards compatibility

						this.previewsContainer.appendChild(file.previewElement);
						var _iteratorNormalCompletion3 = true;
						var _didIteratorError3 = false;
						var _iteratorError3 = undefined;

						try {
							for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
								var node = _step3.value;
								node.textContent = file.name;
							}
						} catch (err) {
							_didIteratorError3 = true;
							_iteratorError3 = err;
						} finally {
							try {
								if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
									_iterator3["return"]();
								}
							} finally {
								if (_didIteratorError3) {
									throw _iteratorError3;
								}
							}
						}

						var _iteratorNormalCompletion4 = true;
						var _didIteratorError4 = false;
						var _iteratorError4 = undefined;

						try {
							for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
								node = _step4.value;
								node.innerHTML = this.filesize(file.size);
							}
						} catch (err) {
							_didIteratorError4 = true;
							_iteratorError4 = err;
						} finally {
							try {
								if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
									_iterator4["return"]();
								}
							} finally {
								if (_didIteratorError4) {
									throw _iteratorError4;
								}
							}
						}

						if (this.options.addRemoveLinks) {
							file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
							file.previewElement.appendChild(file._removeLink);
						}

						var removeFileEvent = function removeFileEvent(e) {
							e.preventDefault();
							e.stopPropagation();

							if (file.status === Dropzone.UPLOADING) {
								return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
									return _this2.removeFile(file);
								});
							} else {
								if (_this2.options.dictRemoveFileConfirmation) {
									return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
										return _this2.removeFile(file);
									});
								} else {
									return _this2.removeFile(file);
								}
							}
						};

						var _iteratorNormalCompletion5 = true;
						var _didIteratorError5 = false;
						var _iteratorError5 = undefined;

						try {
							for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
								var removeLink = _step5.value;
								removeLink.addEventListener("click", removeFileEvent);
							}
						} catch (err) {
							_didIteratorError5 = true;
							_iteratorError5 = err;
						} finally {
							try {
								if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
									_iterator5["return"]();
								}
							} finally {
								if (_didIteratorError5) {
									throw _iteratorError5;
								}
							}
						}

						var download_link = document.createElement('a');
						download_link.setAttribute('href',"/v1/uploads/" + file.path);
						download_link.setAttribute('target',"_blank");
						download_link.classList.add('dz-download');
						file.previewTemplate.appendChild(download_link);
					}
				},
				thumbnail: function(file, dataUrl){
					if (file.previewElement) {
						file.previewElement.classList.remove("dz-file-preview");
						file.previewElement.classList.add("dz-complete");
						var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
						for (var i = 0; i < files.length; i++) {
							var thumbnailElement = files[i];
							thumbnailElement.alt = file.name;
							thumbnailElement.src = dataUrl;
						}
						setTimeout(function () {
							file.previewElement.classList.add("dz-image-preview");
						}, 1);
					}
				},
				maxfilesexceeded: function(file){
					alert('파일은 5개까지 업로드 할 수 있습니다');
				},
				success: function(file, response){
					var result    = JSON.parse(response);
					var fileName  = result.fileName;
					var filePath  = result.filePath;
					var fileCount = $('#file_count').val();

					if(fileCount >= 5){
						this.removeFile(file);
						alert('파일은 3개까지 업로드 할 수 있습니다');
						return;
					}

					if(filePath != ''){
						file.previewElement.classList.add("dz-success");

						var html = '<div><input type="hidden" name="file_name[]" class="calendar_file_name" value="'+fileName+'">';
						html += '<input type="hidden" name="file_path[]" class="calendar_file_path" value="'+filePath+'"></div>';
						$(".add-file-hidden").append(html);
						$('#file_count').val($(".calendar_file_name").length);
                        $('#file_chk').val(1);
					}
				},
				error: function(file, response){
					$(".dz-file-preview").remove();
				}
			}
		);

		myDropzone.on('removedfile', function(file){
			var removeFileName = file.name;
			var fileNameList = $(".calendar_file_name");

			if(fileNameList.length > 0){
				$.each(fileNameList, function(idx, fileName){
					if(removeFileName == fileName.value){
						$(fileName).parent('div').remove();
					}
				});
			}

			$('#file_count').val($(".calendar_file_name").length);
            $('#file_chk').val(1);
		});
	}

	function comment_add()
	{
        var f = document.forms['comment_frm'];

        if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_add";

        f.submit();
    }

    function comment_delete(no)
	{
        var f_name = "comment_mod_frm_"+no;
        var f = document.forms[f_name];

        f.process.value = "comment_delete";

        // 확인 체크
        if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }

    function comment_main_mod(f)
    {
        if (!f.f_comment.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_main_mod";
        f.submit();
    }

    function comment_sub_add(f)
    {
        if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_sub_add";
        f.submit();
    }

    function comment_sub_mod(f)
    {
        if (!f.f_comment.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_sub_mod";
        f.submit();
    }

    // 서브코멘트 삭제 처리
    function comment_sub_delete(no)
    {
        var f_name = "comment_frm_"+no;
        var f = document.forms[f_name];

        if (confirm("정말로 삭제 하시겠습니까?") == true)
        { // 확인
            f.process.value = "comment_sub_delete";
            f.submit();
        } else { //취소
            return false;
        }
    }

    function openCommentForm(comment_no)
    {
        var open_result = true;
        if($("#comment-form-write-"+comment_no).css("display") == "none"){
            open_result = false;
        }

        $(".comment-form-write").hide();
        if(open_result === false){
            $("#comment-form-write-"+comment_no).show();
            $("#comment-form-write-"+comment_no).find('textarea').focus();
        }
    }

    function openModifyCommentForm(comment_no, type)
    {
        if(type == 'main'){
            var open_result = true;
            if($(".main-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".main-comm-content").show();
            if(open_result === false){
                $(".main-comm-content-"+comment_no).hide();
                $(".main-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }else{
            var open_result = true;
            if($(".sub-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".sub-comm-content").show();
            if(open_result === false){
                $(".sub-comm-content-"+comment_no).hide();
                $(".sub-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }
    }

    function delSchedule()
	{
		if(confirm('일정을 삭제하시겠습니까?')){
			document.cal_schedule_frm.process.value='del_calendar_schedule';
			document.cal_schedule_frm.submit();
		}
	}

</script>
</body>
</html>
