<{include file="inc/boot_navibar.html"}>

<style>
	.admin_content{width: 860px; min-width: 860px !important; box-sizing: border-box;}
	.form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 840px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	.main-regist{width: 840px; min-width: 840px !important; max-width: 840px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.sub-regist{width: 840px; min-width: 840px !important; max-width: 840px; box-sizing: border-box; overflow: hidden;margin: 20px 20px 0; border: 1px solid #ccc;border-radius: 0 0 5px 5px;}
	.btn-regist{width: 840px; min-width: 840px !important; max-width: 840px; margin: 20px 20px 0; text-align: center;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
	.table .thead-dark th{vertical-align: middle;}
	.permission_team, .permission_staff{width: 200px; float: left;  font-size: 12px;}
	.new_permission_team, .new_permission_staff{width: 200px; float: left; font-size: 12px;}
	.view_asset_reservation_list{width: 300px; float: left;font-size: 12px;}
	.new_view_asset_reservation{width: 300px; float: left;font-size: 12px;}
	.view_brand_company_list{width: 300px; float: left;font-size: 12px;}
	.new_view_brand_company{width: 300px; float: left;font-size: 12px;}
	.new_permission_form{margin: 10px 0;}
	.add_permission_btn, .add_asset_btn{background: #333; color: white; width: 30px; height: 30px; text-align: center; font-weight: bold; float: left;}
	.del_permission_btn, .del_asset_btn{background: #333; color: white; width: 30px; height: 30px; text-align: center; font-weight: bold; float: left;}
	.sub-regist label, input[type=checkbox], input[type=radio]{cursor: pointer;}
	.table td, .table th{vertical-align: middle; }
	.table tbody th{background: rgba(0,0,0,.05);height: 50px;}
</style>

<div class="admin_content" style="float: left;">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px; width: 100%;">● Calendar Manager <{$title}></h2>

	<form id="cal_manager_frm" name="cal_manager_frm" action="calendar_manager_regist.php" method="post" enctype="multipart/form-data" >
		<input type="hidden" name="cal_no" id="cal_no" value="<{$cal_no}>">
		<input type="hidden" name="process" value="<{if !!$cal_no}>upd_calendar_manager<{else}>new_calendar_manager<{/if}>">

		<div class="font-weight-bold text-center form-title">Calendar Manager</div>
		<div class="main-regist">
			<div class="form-group row" style="margin-bottom: 15px;"><!-- Calendar ID (필수) -->
				<label for="cal_id" class="col-sm-3 col-form-label font-weight-bold" >*ID</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="cal_id" name="cal_id" value="<{$cal_id}>" style="width: 200px;" required>
				</div>
			</div>

			<div class="form-group row" style="margin-bottom: 15px;"><!-- DISPLAY(필수) -->
				<label class="col-sm-3 col-form-label font-weight-bold" >*DISPLAY</label>
				<div class="col-sm-9">
					<div class="form-check form-check-inline" style="padding-top: 6px; width: 100%;">
						<div style="float: left; width: 320px;">
							<{foreach from=$display_option key=key item=label}>
							<input type="radio" name="display" value="<{$key}>" id="display_<{$key}>" class="form-check-input" <{if (!$display && $key == 1) || $display == $key}>checked<{/if}> required>
							<label for="display_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
							<{/foreach}>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row" style="margin-bottom: 15px;"><!-- Calendar TITLE (필수) -->
				<label for="cal_title" class="col-sm-3 col-form-label font-weight-bold" >*Calendar Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="cal_title" name="cal_title" value="<{$cal_title}>" style="width:400px;" required>
				</div>
			</div>

			<div class="form-group row" style="margin-bottom: 15px;"><!-- 권한 (필수) -->
				<label for="cal_title" class="col-sm-3 col-form-label font-weight-bold" >*권한</label>
				<div class="col-sm-9">
					<div class="form-check form-check-inline" style="padding-top: 6px; width: 100%;">
						<span style="display: inline-block;margin-right: 10px;font-weight: bold;">읽기 : </span>
						<{foreach from=$permission_option key=key item=label}>
						<input type="radio" name="read_permission" value="<{$key}>" id="read_permission_<{$key}>" class="form-check-input read_permission" <{if (!$read_permission && $key == 1) || $read_permission == $key}>checked<{/if}> required>
						<label for="read_permission_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
						<{/foreach}>
					</div>
					<div class="read_permission_detail" style="margin-top: 5px; overflow: hidden;">
						<div class="read_permission_wrapper">
							<input type="hidden" name="origin_read_cmp_no" value="<{$origin_read_cmp_no}>">
							<{assign var=read_idx value=0}>
							<{if $read_permission_list}>
								<{foreach from=$read_permission_list item=read_permission}>
								<div>
									<input type="hidden" name="read_cmp_no[]" value="<{$read_permission.cmp_no}>">
									<input type="hidden" name="read_permission_team[]" id="read_permission_team<{$read_idx}>" value="<{$read_permission.cmp_team}>">

									<select name='read_permission_team_val' class='form-control permission_team read_permission_team_val read_permission_team<{$read_idx}>' attr-idx='<{$read_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$team_list key=key item=label}>
											<option value="<{$key}>" <{if $read_permission.cmp_team == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>

									<select name='read_permission_staff[]' class='form-control permission_staff read_permission_staff read_permission_staff<{$read_idx}>' attr-idx='<{$read_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$staff_list[$read_permission.cmp_team] key=key item=label}>
										<option value="<{$key}>" <{if $read_permission.cmp_s_no == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
									<button type='button' onclick="delPermission(this)" class="del_permission_btn">-</button>
								</div>
								<{assign var=read_idx value=$read_idx+1}>
								<{/foreach}>
							<{/if}>
						</div>
						<div class="new_permission_form">
							<select name="new_permission_team" id="new_read_permission_team" class="form-control new_permission_team">
								<option value="">::전체::</option>
								<{foreach from=$team_list key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<select name="new_permission_staff" id="new_read_permission_staff" class="form-control new_permission_staff">
								<option value="">::전체::</option>
							</select>
							<button type='button' onclick="addPermission('read')" class="add_permission_btn">+</button>
						</div>
						<input type="hidden" id="read_idx" value="<{$read_idx}>">
					</div>
					<div class="form-check form-check-inline" style="margin-top: 5px; padding-top: 6px; width: 100%;">
						<span style="display: inline-block;margin-right: 10px;font-weight: bold;">쓰기 : </span>
						<{foreach from=$permission_option key=key item=label}>
						<input type="radio" name="write_permission" value="<{$key}>" id="write_permission_<{$key}>" class="form-check-input write_permission" <{if (!$write_permission && $key == 1) || $write_permission == $key}>checked<{/if}> required>
						<label for="write_permission_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
						<{/foreach}>
					</div>
					<div class="write_permission_detail" style="margin-top: 5px; overflow: hidden;">
						<div class="write_permission_wrapper">
							<input type="hidden" name="origin_write_cmp_no" value="<{$origin_write_cmp_no}>">
							<{assign var=write_idx value=0}>
							<{if $write_permission_list}>
								<{foreach from=$write_permission_list item=write_permission}>
								<div>
									<input type="hidden" name="write_cmp_no[]" value="<{$write_permission.cmp_no}>">
									<input type="hidden" name="write_permission_team[]" id="write_permission_team<{$write_idx}>" value="<{$write_permission.cmp_team}>">

									<select name='write_permission_team_val' class='form-control permission_team write_permission_team_val write_permission_team<{$write_idx}>' attr-idx='<{$write_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$team_list key=key item=label}>
										<option value="<{$key}>" <{if $write_permission.cmp_team == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>

									<select name='write_permission_staff[]' class='form-control permission_staff write_permission_staff write_permission_staff<{$write_idx}>' attr-idx='<{$write_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$staff_list[$write_permission.cmp_team] key=key item=label}>
										<option value="<{$key}>" <{if $write_permission.cmp_s_no == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
									<button type='button' onclick="delPermission(this)" class="del_permission_btn">-</button>
								</div>
								<{assign var=write_idx value=$write_idx+1}>
								<{/foreach}>
							<{/if}>
						</div>
						<div class="new_permission_form">
							<select name="new_permission_team" id="new_write_permission_team" class="form-control new_permission_team">
								<option value="">::전체::</option>
								<{foreach from=$team_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<select name="new_permission_staff" id="new_write_permission_staff" class="form-control new_permission_staff">
								<option value="">::전체::</option>
							</select>
							<button type='button' onclick="addPermission('write')" class="add_permission_btn">+</button>
						</div>

						<input type="hidden" id="write_idx" value="<{$write_idx}>">
					</div>
					<div class="manager_permission_detail" style="margin-top: 10px; overflow: hidden;">
						<span style="display: inline-block;font-weight: bold;">관리자 (타인 일정 쓰기/수정)</span>

						<div class="manager_permission_wrapper">
							<input type="hidden" name="origin_manager_cmp_no" value="<{$origin_manager_cmp_no}>">
							<{assign var=manager_idx value=0}>
							<{if $manager_permission_list}>
								<{foreach from=$manager_permission_list item=manager_permission}>
								<div>
									<input type="hidden" name="manager_cmp_no[]" value="<{$manager_permission.cmp_no}>">
									<input type="hidden" name="manager_permission_team[]" id="manager_permission_team<{$manager_idx}>" value="<{$manager_permission.cmp_team}>">

									<select name='manager_permission_team_val' class='form-control permission_team manager_permission_team_val manager_permission_team<{$manager_idx}>' attr-idx='<{$manager_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$team_list key=key item=label}>
										<option value="<{$key}>" <{if $manager_permission.cmp_team == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>

									<select name='manager_permission_staff[]' class='form-control permission_staff manager_permission_staff manager_permission_staff<{$manager_idx}>' attr-idx='<{$manager_idx}>'>
										<option value="">::전체::</option>
										<{foreach from=$staff_list[$manager_permission.cmp_team] key=key item=label}>
										<option value="<{$key}>" <{if $manager_permission.cmp_s_no == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
									<button type='button' onclick="delPermission(this)" class="del_permission_btn">-</button>
								</div>
								<{assign var=manager_idx value=$manager_idx+1}>
								<{/foreach}>
							<{/if}>
						</div>
						<div class="new_permission_form">
							<select name="new_permission_team" id="new_manager_permission_team" class="form-control new_permission_team">
								<option value="">::전체::</option>
								<{foreach from=$team_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<select name="new_permission_staff" id="new_manager_permission_staff" class="form-control new_permission_staff">
								<option value="">::전체::</option>
							</select>
							<button type='button' onclick="addPermission('manager')" class="add_permission_btn">+</button>
						</div>

						<input type="hidden" id="manager_idx" value="<{$manager_idx}>">
					</div>
				</div>
			</div>
		</div>

		<div class="sub-regist">
			<table class="table table-bordered" style="table-layout: fixed; vertical-align: middle; margin: 0; border: 0;">
				<colgroup>
					<col width="80px;">
					<col width="40px;">
					<col width="40px;">
					<col width="450px;">
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col" rowspan="2" style="height: 50px;">항목</th>
						<th scope="col" rowspan="2">목록</th>
						<th scope="col" rowspan="2">상세</th>
						<th scope="col" rowspan="2">기본값 및 설정</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="col">시작일시</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_s_date_list" value="1" id="view_s_date_list" class="chk_list" attr-key="view_s_date" <{if $view_date == '2'}>disabled<{/if}> <{if $view_s_date == '1'}>checked<{/if}>>
							<span>(time)</span>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_s_date_detail" value="1" id="view_s_date_detail" class="chk_detail" attr-key="view_s_date" <{if $view_date == '2'}>disabled<{/if}> <{if $view_s_date > 0}>checked<{/if}>>
						</th>
						<td style="background: white;" rowspan="2">
							<b>기본값 설정 : </b>
							<{foreach from=$date_option key=key item=label}>
								<input type="radio" name="view_date" class="view_date" id="view_date_<{$key}>" value="<{$key}>" <{if $key == $view_date || ($key == '1' && !$view_date)}>checked<{/if}>>
								<label for="view_date_<{$key}>"><{$label}></label>
							<{/foreach}>
						</td>
					</tr>
					<tr>
						<th scope="col">종료일시</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_e_date_list" value="1" id="view_e_date_list" class="chk_list" attr-key="view_e_date" <{if $view_date == '2'}>disabled<{/if}> <{if $view_e_date == '1'}>checked<{/if}>>
							<span>(time)</span>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_e_date_detail" value="1" id="view_e_date_detail" class="chk_detail" attr-key="view_e_date" <{if $view_date == '2'}>disabled<{/if}> <{if $view_e_date > 0}>checked<{/if}>>
						</th>
					</tr>
					<tr>
						<th scope="col">중요</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_important_list" value="1" id="view_important_list" class="chk_list" attr-key="view_important" <{if $view_important == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_important_detail" value="1" id="view_important_detail" class="chk_detail" attr-key="view_important" <{if $view_important > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">업체명/브랜드명</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_brand_list" value="1" id="view_brand_list" class="chk_list" attr-key="view_brand" <{if $view_brand == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_brand_detail" value="1" id="view_brand_detail" class="chk_detail" attr-key="view_brand" <{if $view_brand > 0}>checked<{/if}>>
						</th>
						<td>
							<{foreach from=$brand_type_option key=key item=label}>
								<input type="radio" name="view_brand_type" class="view_brand_type" id="view_brand_type_<{$key}>" value="<{$key}>" <{if $key == $view_brand_type}>checked<{/if}>>
								<label for="view_brand_type_<{$key}>"><{$label}></label>
							<{/foreach}>
							<div class="view_brand_company_list_wrapper">
								<{if $view_brand_company_list}>
									<{foreach from=$view_brand_company_list item=view_brand_no}>
										<div>
											<select name='view_brand_company_list[]' class='form-control view_brand_company_list  view_brand_company_list<{$view_brand_no}>'>
												<{foreach from=$brand_info_list key=key item=brand_info}>
												<option value="<{$key}>" <{if $key == $view_brand_no}>selected<{/if}>><{$brand_info['c_name']}></option>
												<{/foreach}>
											</select>
											<button type='button' onclick='delAssetReservation(this)' class='del_asset_btn'>-</button>
										</div>
									<{/foreach}>
								<{/if}>
							</div>
							<div class="new_view_brand_company_list_form">
								<select name="new_view_brand_company" id="new_view_brand_company" class="form-control new_view_brand_company">
									<option value="">::선택::</option>
									<{foreach from=$brand_info_list key=key item=brand_info}>
									<option value="<{$key}>"><{$brand_info['c_name']}></option>
									<{/foreach}>
								</select>
								<button type='button' onclick="addBrandCompany()" class="add_asset_btn">+</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="col">CATEGORY</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_category_list" value="1" id="view_category_list" class="chk_list" attr-key="view_category"  <{if $view_category == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_category_detail" value="1" id="view_category_detail" class="chk_detail" attr-key="view_category" <{if $view_category > 0}>checked<{/if}>>
						</th>
						<td>
							<input type="text" name="view_category_name" class="form-control" value="<{$view_category_name}>" style="font-size: 12px; width: 400px; display: inline-block;"><span>$로 구분하여 추가</span>
						</td>
					</tr>
					<tr>
						<th scope="col">제목</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_title_list" value="1" id="view_title_list" class="chk_list" attr-key="view_title"  <{if $view_title == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_title_detail" value="1" id="view_title_detail" class="chk_detail" attr-key="view_title" <{if $view_title > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">작성자</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_write_s_no_list" value="1" id="view_write_s_no_list" class="chk_list" attr-key="view_write_s_no"  <{if $view_write_s_no == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_write_s_no_detail" value="1" id="view_write_s_no_detail" class="chk_detail" attr-key="view_write_s_no" checked disabled>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">작성일시</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_write_date_detail" value="1" id="view_write_date_detail" class="chk_detail" attr-key="view_write_date" <{if $view_write_date > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">공용설비예약</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_asset_reservation_detail" value="1" id="view_asset_reservation_detail" class="chk_detail" attr-key="view_asset_reservation" <{if $view_asset_reservation > 0}>checked<{/if}>>
						</th>
						<td>
							<div class="view_asset_reservation_list_wrapper">
								<{if $view_asset_reservation_list}>
									<{foreach from=$view_asset_reservation_list item=view_asset_reservation}>
									<div>
										<select name='view_asset_reservation_list[]' class='form-control view_asset_reservation_list  view_asset_reservation_list<{$view_asset_reservation}>'>
											<{foreach from=$asset_share_list key=key item=label}>
												<option value="<{$key}>" <{if $key == $view_asset_reservation}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<button type='button' onclick='delAssetReservation(this)' class='del_asset_btn'>-</button>
									</div>
									<{/foreach}>
								<{/if}>
							</div>
							<div class="new_asset_reservation_list_form">
								<select name="new_view_asset_reservation" id="new_view_asset_reservation" class="form-control new_view_asset_reservation">
									<option value="">::선택::</option>
									<{foreach from=$asset_share_list key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
								<button type='button' onclick="addAssetReservation()" class="add_asset_btn">+</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="col">일정공개</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_schedule_permission_detail" value="1" id="view_schedule_permission_detail" class="chk_detail" attr-key="view_schedule_permission" <{if $view_schedule_permission > 0}>checked<{/if}>>
						</th>
						<td>
							<div>
								<span style="display: inline-block;margin-right: 10px;font-weight: bold;">기본값 설정 : </span>
								<{foreach from=$view_schedule_permission_set_option key=key item=label}>
								<input type="radio" name="view_schedule_permission_set" value="<{$key}>" id="view_schedule_permission_set_<{$key}>" class="view_schedule_permission_set" <{if $view_schedule_permission_set == $key}>checked<{/if}> required>
								<label for="view_schedule_permission_set_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
								<{/foreach}>
							</div>

							<div class="view_schedule_permission_detail" style="margin-top: 5px; overflow: hidden;">
								<div class="view_schedule_permission_wrapper">
									<input type="hidden" name="origin_view_schedule_cmp_no" value="<{$origin_view_schedule_cmp_no}>">
									<{assign var=view_schedule_idx value=0}>
									<{if $view_schedule_permission_list}>
										<{foreach from=$view_schedule_permission_list item=view_schedule_permission}>
										<div>
											<input type="hidden" name="view_schedule_cmp_no[]" value="<{$view_schedule_permission.cmp_no}>">
											<input type="hidden" name="view_schedule_permission_team[]" id="view_schedule_permission_team<{$view_schedule_idx}>" value="<{$view_schedule_permission.cmp_team}>">

											<select name='view_schedule_permission_team_val' class='form-control permission_team view_schedule_permission_team_val view_schedule_permission_team<{$view_schedule_idx}>' attr-idx='<{$view_schedule_idx}>'>
												<option value="">::전체::</option>
												<{foreach from=$team_list key=key item=label}>
												<option value="<{$key}>" <{if $view_schedule_permission.cmp_team == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>

											<select name='view_schedule_permission_staff[]' class='form-control permission_staff view_schedule_permission_staff view_schedule_permission_staff<{$view_schedule_idx}>' attr-idx='<{$view_schedule_idx}>'>
												<option value="">::전체::</option>
												<{foreach from=$staff_list[$view_schedule_permission.cmp_team] key=key item=label}>
												<option value="<{$key}>" <{if $view_schedule_permission.cmp_s_no == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
											<button type='button' onclick="delPermission(this)" class="del_permission_btn">-</button>
										</div>
										<{assign var=view_schedule_idx value=$view_schedule_idx+1}>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="new_permission_form">
									<select name="new_permission_team" id="new_view_schedule_permission_team" class="form-control new_permission_team">
										<option value="">::전체::</option>
										<{foreach from=$team_list key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
										<{/foreach}>
									</select>
									<select name="new_permission_staff" id="new_view_schedule_permission_staff" class="form-control new_permission_staff">
										<option value="">::전체::</option>
									</select>
									<button type='button' onclick="addPermission('view_schedule')" class="add_permission_btn">+</button>
								</div>

								<input type="hidden" id="view_schedule_idx" value="<{$view_schedule_idx}>">
							</div>
						</td>
					</tr>
					<tr>
						<th scope="col">상세내용</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_content_detail" value="1" id="view_content_detail" class="chk_detail" attr-key="view_content" <{if $view_content > 0}>checked<{/if}>>
						</th>
						<td>
							<b>기본값 설정</b><br/><br/>
							<textarea name="view_content_format" class="form-control" style="font-size: 12px; height: 200px;"><{$view_content_format}></textarea>
						</td>
					</tr>
					<tr>
						<th scope="col">일정반복</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_date_repeat_detail" value="1" id="view_date_repeat_detail" class="chk_detail" attr-key="view_date_repeat" <{if $view_date_repeat > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">알림</th>
						<th scope="col" class="text-center">-</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_alert_detail" value="1" id="view_alert_detail" class="chk_detail" attr-key="view_alert" <{if $view_alert > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">파일첨부</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_file_list" value="1" id="view_file_list" class="chk_list" attr-key="view_file" <{if $view_file == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_file_detail" value="1" id="view_file_detail" class="chk_detail" attr-key="view_file" <{if $view_file > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
					<tr>
						<th scope="col">COMMENT</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_comment_list" value="1" id="view_comment_list" class="chk_list" attr-key="view_comment" <{if $view_comment == '1'}>checked<{/if}>>
						</th>
						<th scope="col" class="text-center">
							<input type="checkbox" name="view_comment_detail" value="1" id="view_comment_detail" class="chk_detail" attr-key="view_comment" <{if $view_comment > 0}>checked<{/if}>>
						</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="btn-regist">
			<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px; float: left;" onclick="location.href='calendar_manager_list.php'">목록</button>
			<button type="submit" class="btn btn-success font-weight-bold" style="font-size: 18px;padding: 10px 60px;"><{$title}></button>
		</div>
	</form>
</div>
<!-- //admin_content -->

<script>
	$(document).ready(function() {

		$(".new_permission_staff").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".new_permission_team")[i],
				url: "/v1/api/calendar.permission.json.php?parent_data=new_permission_team",
				loading: "로딩중..",
				clear: true
			});
		});

        addStaffRemoteChained("read");
        addStaffRemoteChained("write");
        addStaffRemoteChained("manager");
        addStaffRemoteChained("schedule");


		$(".view_date").change(function(){
		   var view_date = $(this).val();

		   if(view_date == '2'){
               changeDisabled("view_s_date", true);
		       changeDisabled("view_e_date", true);
		   }else{
               changeDisabled("view_s_date", false);
               changeDisabled("view_e_date", false);
		   }
		});

		$(".chk_list").change(function(){
		    var key = $(this).attr('attr-key');
			var checked = $(this).is(':checked');
			var sub_checked = $("#"+key+"_detail").is(':checked');

			if(checked && !sub_checked){
                $("#"+key+"_detail").click();
			}

		})
	});

	function addPermission(type)
	{
		var idx   = $("#"+type+"_idx").val();
		var team  = $("#new_"+type+"_permission_team").val();
		var staff = $("#new_"+type+"_permission_staff").val();

		if(team == '' && staff == ''){
			alert("선택 후 이용해주세요");
			return false;
		}

		var html  = "<div>";
		html  += "<input type='hidden' name='"+type+"_cmp_no[]'  value=''>";
		html  += "<input type='hidden' name='"+type+"_permission_team[]' id='"+type+"_permission_team"+idx+"' value='"+team+"'>";
		html  += "<select name='"+type+"_permission_team_val' class='form-control permission_team "+type+"_permission_team_val "+type+"_permission_team"+idx+"' attr-idx='"+idx+"'>";
		html  += $("#new_"+type+"_permission_team").html();
		html  += "</select>";

		html  += "<select name='"+type+"_permission_staff[]' class='form-control permission_staff "+type+"_permission_staff "+type+"_permission_staff"+idx+"'>";
		html  += $("#new_"+type+"_permission_staff").html();
		html  += "</select>";
		html  += "<button type='button' onclick=\"delPermission(this)\" class=\"del_permission_btn\">-</button>";
		html  += "</div>"


		$("."+type+"_permission_wrapper").append(html);

		addStaffRemoteChained(type);

		$("."+type+"_permission_team"+idx).val(team);
		$("."+type+"_permission_team"+idx).trigger('change');

		setTimeout(function(){$("."+type+"_permission_staff"+idx).val(staff);}, 1000);

		$("#new_"+type+"_permission_team").val('');
		$("#new_"+type+"_permission_staff").val('');
		$("#"+type+"_idx").val(Number(idx)+1);

		addTeamChange(type);
	}

	function delPermission(obj){
		$(obj).parent().remove();
	}

	function addStaffRemoteChained(type)
	{
		$("."+type+"_permission_staff").each(function (i, val) {
			$(this).remoteChained({
				parents: $("."+type+"_permission_team_val")[i],
				url: "/v1/api/calendar.permission.json.php?parent_data="+type+"_permission_team_val",
				loading: "로딩중..",
				clear: true
			});
		});
	}

	function addTeamChange(type)
	{
		$("."+type+"_permission_team_val").change(function(){
			var idx = $(this).attr('attr-idx');
			var team = $(this).val();

			$("#"+type+"_permission_team"+idx).val(team);
		});
	}

	function changeDisabled(id, type)
	{
	    $("#"+id+"_list").attr('disabled', type);
	    $("#"+id+"_detail").attr('disabled', type);
	}

	function addBrandCompany()
	{
		var brand = $(".new_view_brand_company").val();

		if(!brand){
			alert("선택해주세요");
			return false;
		}

		if($(".view_brand_company_list"+brand).length > 0){
			alert("이미 존재합니다.");
			return false;
		}

		var html   = "<div>";

		html  += "<select name='view_brand_company_list[]' class='form-control view_brand_company_list view_brand_company_list"+brand+"'>";
		html  += $("#new_view_brand_company").html();
		html  += "</select>";
		html  += "<button type='button' onclick=\"delAssetReservation(this)\" class=\"del_asset_btn\">-</button>";
		html  += "</div>";

		$(".view_brand_company_list_wrapper").append(html);
		$(".view_brand_company_list"+brand).val(brand);
		$(".new_view_brand_company").val('');
	}

    function addAssetReservation()
    {
        var asset = $(".new_view_asset_reservation").val();

        if(!asset){
            alert("선택해주세요");
            return false;
		}

        if($(".view_asset_reservation_list"+asset).length > 0){
            alert("이미 존재합니다.");
            return false;
		}

        var html   = "<div>";

        html  += "<select name='view_asset_reservation_list[]' class='form-control view_asset_reservation_list  view_asset_reservation_list"+asset+"'>";
        html  += $("#new_view_asset_reservation").html();
        html  += "</select>";
        html  += "<button type='button' onclick=\"delAssetReservation(this)\" class=\"del_asset_btn\">-</button>";
        html  += "</div>";

        $(".view_asset_reservation_list_wrapper").append(html);
        $(".view_asset_reservation_list"+asset).val(asset);
        $(".new_view_asset_reservation").val('');
    }

    function delAssetReservation(obj)
    {
        $(obj).parent().remove();
    }
</script>

</body>
</html>
