<{include file="inc/boot_navibar.html"}>

<link href='<{$dir_location}>css/calendar/calendar.css' rel='stylesheet' />
<script src='<{$dir_location}>js/calendar/calendar.js'></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<style>
    #calendar {max-width: 1100px; margin: 30px 0; font-weight: bold;}
    .fc-toolbar-title{font-weight: normal;}
    .fc-event-time{display: none !important;}
    .fc-event-title{font-weight: bold; font-size: 11px;}
    .btn{font-size: 15px;color: white; min-width: 100px;}
    .btn-grey{background: darkgrey;}
    th.fc-day{color: white; height: 30px; vertical-align: middle;}
    th.fc-day{background: #9a9a9a;}
    th.fc-day-sat{background: #9edefd;}
    td.fc-day-sat{color: blue; background: #9edefd4a;}
    th.fc-day-today{color: black;}
    th.fc-day-sun{background: #ff9a9a !important; color: red;}
    td.fc-day-sun{background: #ff9a9a38 !important; color: red;}
    .fc .fc-daygrid-day-bg .fc-bg-event{opacity: 1;}
    .fc .fc-bg-event .fc-event-title{color: red; font-style: unset; font-size: 13px;}
    #calendar-modal{padding: 20px; height: auto; margin: 0; max-width: unset; min-width: 1020px; width: auto; overflow: unset;}
    .modal-content{border: 0;}
    .modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
    .modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
    .modal-content table{margin: 0;}
    .fc-daygrid-day-number{cursor: pointer;}
    #add_inout_form .form-control{font-size: 12px; width: 99%; padding: 3px;}
    #add_inout_form .unit_data_btn{font-size: 12px; min-width: unset;}
    .form-inline{display: block;}
</style>

<div class="admin_content">
    <h2 class="title" style="margin-bottom:10px">
        <{if $nav_prd_no}>
            <span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span> <{$calendar.cal_title}>
        <{else}>
            ● <{$calendar.cal_title}>
        <{/if}>
        <{if permissionNameCheck($session_permission,"마스터관리자")}>
            <a href="calendar_manager_list.php"><img src="../images/icon/setting_lightgray.png" style="margin-left: 7px; margin-top: -3px;"></a>
        <{/if}>
    </h2>
    <form name="calendar_search_frm" class="form-inline" action="calendar_schedule.php" method="get" autocomplete="off">
        <input type="hidden" name="cal_id" id="sch_cal_id" value="<{$calendar.cal_id}>" >

        <div class="form-group" style="margin-bottom: 10px;">
            <label for="sch_cs_category">연차종류</label>
            <select id="sch_cs_category" name="sch_cs_category" class="form-control" style="margin:0 10px; font-size: 12px;">
                <option value="">::전체::</option>
                <{foreach from=$sch_category_option key=key item=category}>
                    <option value="<{$category.name}>" <{if $sch_cs_category == $key}>selected<{/if}>><{$category.name}></option>
                <{/foreach}>
            </select>
            <label for="sch_writer_team" style="margin-left: 10px;">소속부서 > 이름</label>
            <select name="sch_writer_team" id="sch_writer_team" class="form-control" style="margin:0 10px; font-size: 12px;">
                <{foreach from=$team_full_name_list key=team_code item=label}>
                    <option value="<{$team_code}>" <{if $sch_writer_team== $team_code}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>
            >
            <select name="sch_writer_s_no" id="sch_writer_s_no" class="form-control" style="margin:0 10px; font-size: 12px;">
                <option value="">::전체::</option>
                <{foreach from=$sch_staff_list key=key item=label}>
                    <option value="<{$key}>" <{if $sch_writer_s_no == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_writer_s_name" style="margin-left: 10px;">이름</label>
            <input type="text" name="sch_writer_s_name" id="sch_writer_s_name" value="<{$sch_writer_s_name}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" placeholder="이름" style="margin: 0 10px; font-size: 12px; width: 100px;" />
            <input type="checkbox" name="sch_writer_my" id="sch_writer_my" value="<{$session_name}>" onchange="sch_change_my('sch_writer_s_name', this)" <{if $sch_writer_my == $session_name}>checked<{/if}>>
            <label for="sch_writer_my">my</label>
            <button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;min-width: 50px;padding: 6px;margin-left: 10px;" onclick="searchList();">검색</button>
        </div>
    </form>

    <div id='calendar'></div>
</div>


<script>
    $(document).ready(function(){
        $("#sch_writer_s_no").remoteChained({
            parents: "#sch_writer_team",
            url: "/v1/api/staff.json.php?parent_data=sch_writer_team",
            loading: "로딩중..",
            clear: true
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl   = document.getElementById('calendar');
        var calendarData = [];
        var calendarList = <{$calendar_schedule_list}>;
        var holidayList = <{$calendar_holiday_list}>;

        $.each(holidayList, function(idx, item){
            calendarData.push({
                groupId: "holiday",
                title: item['title'],
                start: item['s_date'],
                end: item['e_date'],
                color: "#ffe9e9",
                display: 'background',
                allDay: true
            });
        });

        $.each(calendarList, function(idx, item){
            calendarData.push({
                groupId:item['lc_no'],
                title: item['lc_title'],
                start: item['leave_s_date'],
                end: item['leave_e_date'],
                color: item['color'],
                constraint: item['lc_no'],
                allDay: item['is_all'],
                overlap: false,
            });
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            expandRows: true,
            slotMinTime: '00:00',
            slotMaxTime: '24:00',
            initialDate: '<{$cur_date}>',
            locale: 'ko',
            navLinks: false,
            editable: true,
            dayMaxEvents: true,
            selectable: true,
            nowIndicator: true,
            longPressDelay: 1,
            events: calendarData
        });

        calendar.render();
    });

    function searchList(){
        document.calendar_search_frm.submit();
    }

    function sch_change_my(id, obj)
    {
        var val = $(obj).val();

        if($(obj).is(":checked")){
            $("#"+id).val(val);
        }else{
            $("#"+id).val("");
        }
    }
</script>
</body>
</html>
