<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<span style="font-size:70px; font-weight:bold;"><strong>Access Denied</strong></span><br />
	<span style="font-size:40px;">귀하의 계정에게 접근 권한이 없습니다.</span><br />
	<span style="font-size:40px;">담당자에게 문의하세요.</span><br />
	<span style="font-size:20px; margin-left:350px;">- 서비스 운영팀 -</span>
</div>
</body>
</html>

