<{include file="inc/boot_navibar.html"}>

<script type="text/javascript" src="<{$dir_location}>js/jquery.multi-select.min.js"></script>
<link href="<{$dir_location}>css/multi-select.css" rel="stylesheet" type="text/css">

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.event_active{background: #3093c2 !important;}
	#apply_frm_new .form-control{font-size: 12px; margin: 0; padding: 2px; width: 99%;}

	.dp_company_list{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0; z-index: 10;}
	.multi-select-menuitem{display: block !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">스팟성 반복 이벤트를 작성자가 직접 설정 할 수 있습니다.</span>

	<form name="search_form" id="search_form" class="form-inline" action="advertising_event_management.php" method="get" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px; overflow: unset;">
			<div class="form-group">
				<label for="sch_event_s_date">시작일시</label>
				<input type="text" name="sch_event_s_date" id="sch_event_s_date" class="date-picker form-control" value="<{$sch_event_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_event_e_date" id="sch_event_e_date" class="date-picker form-control" value="<{$sch_event_e_date}>" style="margin-left: 5px;" />

				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
				<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
				<input type="hidden" name="sch_event_date_type" id="sch_event_date_type" value="<{$sch_event_date_type}>">

				<button type="button" class="btn_small event_date_btn event_today_btn <{if $sch_event_date_type == 'today'}>event_active<{/if}>" onclick="advDateVal('today');">오늘</button>
				<button type="button" class="btn_small event_date_btn event_week_btn <{if $sch_event_date_type == 'week'}>event_active<{/if}>" onclick="advDateVal('week');">1주</button>
				<button type="button" class="btn_small event_date_btn event_month_btn <{if $sch_event_date_type == 'month'}>event_active<{/if}>" onclick="advDateVal('month');">1달</button>
				<button type="button" class="btn_small event_date_btn event_months_btn <{if $sch_event_date_type == 'months'}>event_active<{/if}>" onclick="advDateVal('months');">3달</button>
				<button type="button" class="btn_small event_date_btn event_year_btn <{if $sch_event_date_type == 'year'}>event_active<{/if}>" onclick="advDateVal('year');">1년</button>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_ae_no">no</label>
				<input type="text" name="sch_ae_no" id="sch_ae_no" class="form-control" value="<{$sch_ae_no}>" style="width: 60px;">

				<label for="sch_is_active">진행상태</label>
				<select name="sch_is_active" id="sch_is_active" class="form-control" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$event_state_option key=key item=label}>
					<option value="<{$key}>" <{if $key == $sch_is_active}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_event">이벤트명</label>
				<select name="sch_event" id="sch_event" class="form-control" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$event_option key=key item=label}>
					<option value="<{$key}>" <{if $key == $sch_event}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_reg_name">작성자</label>
				<input type="text" name="sch_reg_name" id="sch_reg_name" class="form-control" value="<{$sch_reg_name}>" style="width: 100px;" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>

				<a href="advertising_event_management.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_list_on.png">
				</a>
				<a href="calendar/calendar_schedule.php?cal_id=mc_event" style="margin: 0 5px;">
					<img src="./images/icon/work_cal_off.png">
				</a>
			</div>
		</div>
	</form>

	<div style="margin-top: 30px;">
		<span style="color: gray; font-size: 13px;"> ※안내 : 기존 이벤트를 수정하여 재사용하지 말고, 이벤트 진행 때 마다 날짜/시간을 추가해 주세요,<br/>지난 이벤트 일정을 남겨 주시면, 추후 와플 내 이벤트 분석에 도움을 드릴 수 있습니다</span>
		<form name="apply_frm_new" id="apply_frm_new" class="list_form" action="advertising_event_management.php" method="post" enctype="multipart/form-data" onsubmit="return addEvent()" autocomplete="off" style="margin-top: 5px;">
			<input type="hidden" name="process" value="add_event">
			<input type="hidden" name="new_am_no" value="<{$new_am_no}>">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table class="table table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
				<thead class="thead-dark text-center">
					<tr>
						<th style="min-width: 80px; width: 80px;">no<br/>작성일</th>
						<th style="min-width: 200px; width: 200px;">이벤트명</th>
						<th style="min-width: 240px; width: 240px;">조건 및 내용</th>
						<th style="min-width: 140px; width: 140px;">구매처</th>
						<th style="min-width: 210px; width: 210px;">시작일시</th>
						<th style="min-width: 20px; width: 20px;"></th>
						<th style="min-width: 210px; width: 210px;">종료일시</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first"></td> <!-- No -->
						<td> <!-- 이벤트명 -->
							<select name="new_event_no" id="new_event_no" class="form-control" style="width:99%;" required>
								<option value="">::선택::</option>
								<{foreach from=$event_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 조건 및 내용 -->
							<textarea name="new_explain" id="new_explain" class="form-control" style="font-size: 12px; padding: 3px; width: 99%; height: 50px;" readonly></textarea>
						</td>
						<td> <!-- 구매처 -->
							<select name="new_dp_list[]" id="new_dp_list" class="form-control dp_company_list" multiple="multiple" required>
								<{foreach from=$dp_company_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 시작일시 -->
							<input type="text" name="new_event_s_day" id="new_event_s_day" class="date-picker form-control" value="<{$new_event_s_day}>" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" />
							<select name="new_event_s_hour" id="new_event_s_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $new_event_s_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px;margin: 0 5px;">:</span>
							<select name="new_event_s_min" id="new_event_s_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $new_event_s_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- ~ -->
							~
						</td>
						<td> <!-- 종료일시 -->
							<input type="text" name="new_event_e_day" id="new_event_e_day" class="date-picker form-control" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" value="<{$new_event_e_day}>" />
							<select name="new_event_e_hour" id="new_event_e_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $new_event_e_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px; margin: 0 5px;">:</span>
							<select name="new_event_e_min" id="new_event_e_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $new_event_e_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="7">
							<button type="submit" class="btn_big_memo" style="width: 100%; padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;">추가하기</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<div style="color: red; font-size: 13px; overflow: hidden;">
			<span style="float: left; width: 80px;">주의사항</span>
			<span style="float: left;">1. 커머스 상품에서 설정한 사은품 증정과 중복 제공 될 수 있으니 주의하여 설정 바랍니다.<br/>2. 본 이벤트도 중복제공 될 수 있으니 구매처를 다르게 하거나 날짜, 시간을 분리하여 설정 바랍니다. ※동일 작성자에 날짜, 구매처 겹칠 경우 중복주의가 표시됩니다.</span>
		</div>
	</div>

	<table class="table table-bordered" style="table-layout: fixed; margin-top: 20px; width: auto; clear: both;">
		<colgroup>
			<col width="80px;"> <!-- no/작성일 -->
			<col width="80px;"> <!-- 진행상태 -->
			<col width="240px;"> <!-- 이벤트명 -->
			<col width="240px;"> <!-- 조건 및 내용 -->
			<col width="140px;"> <!-- 구매처 -->
			<col width="255px;"> <!-- 시작일시 -->
			<col width="40px;"> <!-- ~ -->
			<col width="255px;"> <!-- 종료일시 -->
			<col width="100px;"> <!-- 작성자 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="9" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col">no<br/>작성자</th>
				<th scope="col">진행상태</th>
				<th scope="col">이벤트명</th>
				<th scope="col">조건 및 내용</th>
				<th scope="col">구매처</th>
				<th scope="col">시작일시</th>
				<th scope="col">~</th>
				<th scope="col">종료일시</th>
				<th scope="col">작성자</th>
			</tr>
		</thead>
		<tbody>
			<{if $event_management_list}>
				<{foreach from=$event_management_list item=event_data}>
					<tr>
						<td class="text-center"> <!-- no/작성일 -->
							<{$event_data.ae_no}><br/>
							<span style="color: blue;"><{$event_data.reg_day}></span>
							<span style="color: green;"><{$event_data.reg_time}></span>
						</td>
						<td class="text-center" style="color: red;"> <!-- 진행상태 -->
							<{if !$event_data.s_date_editable && !$event_data.e_date_editable}>
								<{if $event_data.is_active == '2'}>
								중단
								<{else}>
								<span style="color: black">종료</span>
								<{/if}>
							<{else}>
								<input type="checkbox" name="f_is_active" id="f_is_active_<{$event_data.ae_no}>" class="f_is_active" attr-no="<{$event_data.ae_no}>" value="2" style="cursor: pointer;" <{if $event_data.is_active == '2'}>checked<{/if}>>
								<label for="f_is_active_<{$event_data.ae_no}>" style="cursor: pointer;">중단</label>
							<{/if}>
						</td>
						<td class="text-center"> <!-- 이벤트명 -->
							<select name="f_event_no" class="form-control" onchange="save_el('<{$event_data.ae_no}>', 'f_event_no', this)" style="width:99%;" <{if !$event_data.s_date_editable}>disabled<{/if}>>
								<option value="">::선택::</option>
								<{foreach from=$event_option key=key item=label}>
								<option value="<{$key}>" <{if $event_data.event_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center"> <!-- 조건 및 내용 -->
							<textarea name="f_explain" class="form-control" style="font-size: 12px; padding: 3px; width: 99%; height: 50px;" disabled><{$event_data.explain}></textarea>
						</td>
						<td class="text-left"> <!-- 구매처 -->
							<{if !$event_data.s_date_editable}>
								<{if $event_data.dp_company_list}>
									<{foreach from=$event_data.dp_company_list item=event_dp}>
									<div><{$dp_company_list[$event_dp]}></div>
									<{/foreach}>
								<{/if}>
							<{else}>
								<select name="f_dp_list_<{$event_data.ae_no}>" id="dp_company_list_<{$event_data.ae_no}>" class="form-control dp_company_list" onchange="save_el('<{$event_data.ae_no}>', 'f_dp_list', this)" multiple="multiple">
									<{foreach from=$dp_company_list key=key item=label}>
									<option value="<{$key}>" <{if in_array($key, $event_data.dp_company_list)}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{/if}>
						</td>
						<td class="text-center"> <!-- 시작일시 -->
							<input type="text" name="f_event_s_day" id="f_event_s_day_<{$event_data.ae_no}>" class="form-control date-picker" value="<{$event_data.event_s_day}>" style="float: left;" <{if !$event_data.s_date_editable}>disabled<{/if}>>
							<select name="f_event_s_hour" id="f_event_s_hour_<{$event_data.ae_no}>" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;" <{if !$event_data.s_date_editable}>disabled<{/if}>>
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $event_data.event_s_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px;margin: 0 2px;">:</span>
							<select name="f_event_s_min" id="f_event_s_min_<{$event_data.ae_no}>" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;" <{if !$event_data.s_date_editable}>disabled<{/if}>>
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $event_data.event_s_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
							<button type="button" class="btn btn-dark" onclick="saveEventDate('<{$event_data.ae_no}>', 'start');" style="font-size: 12px; font-weight:bold; float: left; padding: 5px; margin-left: 7px;" <{if !$event_data.s_date_editable}>disabled<{/if}>>저장</button>
						</td>
						<td class="text-center"> <!-- ~ -->
							~
						</td>
						<td class="text-center"> <!-- 종료일시 -->
							<input type="text" name="f_event_e_day" id="f_event_e_day_<{$event_data.ae_no}>" class="form-control date-picker" value="<{$event_data.event_e_day}>" style="float: left;" <{if !$event_data.e_date_editable}>disabled<{/if}>>
							<select name="f_event_e_hour" id="f_event_e_hour_<{$event_data.ae_no}>" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;" <{if !$event_data.e_date_editable}>disabled<{/if}>>
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $event_data.event_e_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px;margin: 0 2px;">:</span>
							<select name="f_event_e_min" id="f_event_e_min_<{$event_data.ae_no}>" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;" <{if !$event_data.e_date_editable}>disabled<{/if}>>
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $event_data.event_e_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
							<button type="button" class="btn btn-dark" onclick="saveEventDate('<{$event_data.ae_no}>', 'end');" style="font-size: 12px; font-weight:bold; float: left; padding: 5px; margin-left: 7px;" <{if !$event_data.e_date_editable}>disabled<{/if}>>저장</button>

							<div style="clear: both; padding-top: 5px; text-align: left;">
								<input type="checkbox" name="f_is_sms" id="f_is_sms_<{$event_data.ae_no}>" class="f_is_sms" attr-no="<{$event_data.ae_no}>" value="2" style="cursor: pointer;" <{if $event_data.is_sms == '1'}>checked<{/if}>
									<{if !$event_data.is_sms_editable || $event_data.sms_state == '3'}>disabled<{/if}>
								>
								<label for="f_is_sms_<{$event_data.ae_no}>" style="cursor: pointer;">종료 2일전 SMS 알림</label>
							</div>
						</td>
						<td class="text-center"> <!-- 작성자 -->
							<{$event_data.reg_s_name}>
							<{if $event_data.is_duplicate && ($event_data.s_date_editable || $event_data.e_date_editable)}>
								<br/>
								<img src="images/icon/yellow_alert.png" style="width: 15px;float: left;">
								<span style="color: red; font-weight: bold; float: left; margin-left: 5px;">중복주의</span>
								<img src="images/icon/question.png" style="width: 12px; float: left; margin-left: 2px; margin-top: 2px;" title="※중복주의&#13동일한 작성자로 이벤트 기간과 구매처가 겁치는 건이 있습니다.&#13중복제공 될 수 있으니 확인바랍니다.">
							<{/if}>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="9" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="9" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<form name="chk_form" action="advertising_event_management.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ae_no" class="chk_ae_no">
	<input type="hidden" name="chk_value" class="chk_value">
	<input type="hidden" name="chk_day" class="chk_day">
	<input type="hidden" name="chk_hour" class="chk_hour">
	<input type="hidden" name="chk_min" class="chk_min">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$(".dp_company_list").multiSelect();

		$(".f_is_active").change(function(){
			var ae_no = $(this).attr("attr-no");
			save_el(ae_no, "f_is_active", $(this));
		});

		$(".f_is_sms").change(function(){
			var ae_no 	= $(this).attr("attr-no");
			var value 	= 2;
			var message	= "종료전 SMS 알림을 해제하시겠습니까?";

			if($(this).is(":checked")){
				value 	= 1;
				message	= "종료전 SMS 알림을 등록하시겠습니까?";
			}

			if(confirm(message)){
				var f = document.chk_form;
				f.chk_ae_no.value = ae_no;
				f.chk_value.value = value;
				f.process.value = "f_event_sms";
				f.submit();
			}else{
				if($(this).is(":checked")){
					$(this).prop("checked", false);
				}else{
					$(this).prop("checked", true);
				}
			}
		});

		$("#new_event_no").change(function(){
			switch($(this).val())
			{
				case '1':
					$("#new_explain").val("[닥터피엘 상시 장바구니 이벤트(6만원)]\n" +
							"\n" +
							"- 조건 : 닥터피엘 전체 상품 구매 합이 60,000원 이상일 경우 주문번호 당 증정\n" +
							"\n" +
							"- 증정품\n" +
							"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;

				case '43':
					$("#new_explain").val("[닥터피엘 상시 장바구니 이벤트(7만원)]\n" +
							"\n" +
							"- 조건 : 닥터피엘 전체 상품 구매 합이 70,000원 이상일 경우 주문번호 당 증정\n" +
							"\n" +
							"- 증정품\n" +
							"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;

				case '2':
					$("#new_explain").val("[닥터피엘 상시 칫솔 이벤트]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품 구매 합이 60,000원 이상일 경우 주문번호 당 증정\n" +
						"\n" +
						"- 증정품\n" +
						"[닥터피엘 사은품] 닥터피엘 인텐시브 칫솔 1P(DP0506)"
					);
					break;
				case '37':
					$("#new_explain").val("[닥터피엘 상시 핫팩 이벤트(5만원)]\n" +
							"\n" +
							"- 조건 : 닥터피엘 전체 상품 구매 합이 50,000원 이상일 경우 주문번호 당 증정\n" +
							"\n" +
							"- 증정품\n" +
							"닥터피엘 핫팩 (2024)(DP0804)"
					);
					break;
				case '39':
					$("#new_explain").val("[닥터피엘 상시 핫팩 이벤트(7만원)]\n" +
							"\n" +
							"- 조건 : 닥터피엘 전체 상품 구매 합이 70,000원 이상일 경우 주문번호 당 증정\n" +
							"\n" +
							"- 증정품\n" +
							"닥터피엘 핫팩 (2024)(DP0804)"
					);
					break;
				case '3':
					$("#new_explain").val("[닥터피엘 스페셜 DA 장바구니 이벤트]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품을 구매한 경우 주문번호 당 증정\n" +
						"\n" +
						"- 증정품\n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;
				case '4':
					$("#new_explain").val("[닥터피엘 스페셜 DA 칫솔 이벤트]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품을 구매한 경우 주문번호 당 증정\n" +
						"\n" +
						"- 증정품\n" +
						"[닥터피엘 사은품] 닥터피엘 인텐시브 칫솔 1P(DP0506)"
					);
					break;
				case '5':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트]\n" +
						"\n" +
						"- 조건 : 누잠 카테고리 상품 구매시 주문금액 합\n" +
						"\n" +
						"- 증정품\n" +
						"본품 구매시 보관백 증정\n" +
						"18만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600\n" +
						"24만원 이상 구매시 누잠 슬립미스트 1EA 증정 prd_no = 1625"
					);
					break;
				case '6':
					$("#new_explain").val("[누잠 스페셜 DA 이벤트(구)]\n" +
						"\n" +
						"- 조건 : 누잠 카테고리 상품 구매시 주문금액 합\n" +
						"\n" +
						"- 증정품\n" +
						"본품 구매시 보관백 증정\n" +
						"17만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600\n" +
						"23만원 이상 구매시 누잠 슬립미스트 1EA 증정 prd_no = 1625"
					);
					break;
				case '22':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트]\n" +
						"\n" +
						"- 조건 : 누잠 카테고리 상품 구매시 주문금액 합\n" +
						"\n" +
						"- 증정품\n" +
						"12만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600\n" +
						"21만원 이상 구매시 누잠 슬립미스트 1EA 증정 prd_no = 1625"
					);
					break;
				case '7':
					$("#new_explain").val("[아이레놀 상시 이벤트 사은품 1종류]\n" +
						"\n" +
						"- 조건 : 다음 구매금액 3만원 이상 시\n" +
						"상품그룹 : 아이레놀 > 전체\n" +
						"\n" +
						"- 증정품 \n" +
						"3만원 이상 : 아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)"
					);
					break;
				case '8':
					$("#new_explain").val("[닥터피엘 여행용 상시 이벤트]\n" +
						"\n" +
						"- 조건 : 주문번호 당 다음 구매상품 그룹이 60,000원 이상일 경우\n" +
						"(DP539) 닥터피엘 여행용 샤워필터 리필필터 세트(10EA)\n" +
						"(DP540) 닥터피엘 여행용 샤워필터 기본세트\n" +
						"(DP0554) 닥터피엘 여행용 샤워필터 + 리필필터 세트(10EA)\n" +
						"(DP0623) (고급형)닥터피엘 여행용 샤워필터 + (고급형)리필필터 세트(3EA)\n" +
						"(DP0624) (고급형)닥터피엘 여행용 샤워필터\n" +
						"(DP0625) (고급형)닥터피엘 여행용 샤워필터 리필필터 3EA\n" +
						"\n" +
						"- 증정품 \n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;
				case '24':
					$("#new_explain").val("[닥터피엘 여행용 구매 이벤트]\n" +
						"\n" +
						"- 조건 : 닥터피엘 여행용 상품 구매시\n" +
						"\n" +
						"- 증정품 \n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;
				case '9':
					$("#new_explain").val("[누잠 스페셜 DA 이벤트]\n" +
						"\n" +
						"- 조건 : 누잠 본품 및 더블업 구매시\n" +
						"\n" +
						"- 증정품\n" +
						"해당 제품 구매 갯수당 리유저블백 1EA 증정\n"
					);
					break;
				case '10':
					$("#new_explain").val("[닥터피엘 라이브커머스_202403]\n" +
						"\n" +
						"- 증정품 : (이벤트 증정) 닥터피엘 장바구니(DP0384)\n" +
						"- 조건 : 다음 상품코드 포함 구매시 증정\n" +
						"와이드 샤워세트 (DP0566)\n" +
						"프리미엄 양치세트 (DP0215)\n" +
						"프리미엄 주방세트 (DP0231/DP0232)\n" +
						"프리미엄 풀패키지 (DP0641/DP0642)\n" +
						"여행용필터 세트 (DP0554)\n" +
						"프리미엄 세탁세트 (DP0451)\t\n" +
						"에코호스 플러스 (DPH011/DPH012)\n" +
						"에코호스 플러스 1+1세트 (DPH013/DPH014/DPH015)\t\n" +
						"닥터피엘 스마트 온도계 (DP0638)\n" +
						"샤워기 홀더 (DP0315)\n" +
						"와이드 샤워기 필터 1년세트 (DP0049)\n" +
						"세면대 프리미엄 필터(고급형) (DP0190)\n" +
						"주방용 프리미엄 고급형 필터 (DP0207/DP0209)\n" +
						"프리미엄 풀패키지 리필필터 (DP0513/DP0514)\n" +
						"샤워기 필터 1년세트 (DP0010)\n" +
						"세면대 리필필터 (DP0029)\n" +
						"주방용 리필필터 1년세트 (DP0283)\n" +
						"세탁기 리필필터 1년 세트(4EA) (DP0390)\n" +
						"샤워기 1차필터 10세트 (DP0005)\n" +
						"샤워기 2차필터 5세트 (DP0608)\n" +
						"와이드샤워기 2차필터 5세트 (DP0611)\n" +
						"세면대 프리미엄 필터(일반형)(DP0191)\n" +
						"주방용 프리미엄 일반형필터(핸디형) (DP0208 / DP0210)\n" +
						"피처형 정수기 리필필터 세트(1년) (DP0389)\n" +
						"피처형 정수기 1년세트 (DP0387)\n" +
						"퓨어팟 2개세트 (DP0365)\n" +
						"큐빙 2개세트 (CUV0005/CUV0006/CUV0007/CUV0008/CUV0009/CUV0010)\n" +
						"큐빙 4개세트 (CUV0021/CUV0022/CUV0023/CUV0024/CUV0025/CUV0026/CUV0027/CUV0028/CUV0029/CUV0030/CUV0031/CUV0032/CUV0033/CUV0034/CUV0035)"
					);
					break;
				case '19':
					$("#new_explain").val("[닥터피엘 라이브커머스_202405]\n" +
						"\n" +
						"- 증정품 : (이벤트 증정) 닥터피엘 장바구니(DP0384)\n" +
						"- 조건 : 다음 상품코드 포함 구매시 증정\n" +
						"오리지널 샤워기 세트 (DP0701)\n" +
						"프리미엄 양치세트 (DP0215)\n" +
						"프리미엄 주방세트 (DP0231/DP0232)\n" +
						"프리미엄 풀패키지 (DP0641/DP0642)\n" +
						"여행용필터 세트 (DP0554)\n" +
						"프리미엄 세탁세트 (DP0451)\t\n" +
						"에코호스 플러스 (DPH011/DPH012)\n" +
						"에코호스 플러스 1+1세트 (DPH013/DPH014/DPH015)\t\n" +
						"닥터피엘 스마트 온도계 (DP0638)\n" +
						"샤워기 홀더 (DP0315)\n" +
						"와이드 샤워기 필터 1년세트 (DP0049)\n" +
						"세면대 프리미엄 필터(고급형) (DP0190)\n" +
						"주방용 프리미엄 고급형 필터 (DP0207/DP0209)\n" +
						"프리미엄 풀패키지 리필필터 (DP0513/DP0514)\n" +
						"샤워기 필터 1년세트 (DP0010)\n" +
						"세면대 리필필터 (DP0029)\n" +
						"주방용 리필필터 1년세트 (DP0283)\n" +
						"세탁기 리필필터 1년 세트(4EA) (DP0390)\n" +
						"샤워기 1차필터 10세트 (DP0005)\n" +
						"샤워기 2차필터 5세트 (DP0608)\n" +
						"와이드샤워기 2차필터 5세트 (DP0611)\n" +
						"세면대 프리미엄 필터(일반형)(DP0191)\n" +
						"주방용 프리미엄 일반형필터(핸디형) (DP0208 / DP0210)\n" +
						"피처형 정수기 리필필터 세트(1년) (DP0389)\n" +
						"피처형 정수기 1년세트 (DP0387)\n" +
						"퓨어팟 2개세트 (DP0365)\n" +
						"큐빙 2개세트 (CUV0005/CUV0006/CUV0007/CUV0008/CUV0009/CUV0010)\n" +
						"큐빙 4개세트 (CUV0021/CUV0022/CUV0023/CUV0024/CUV0025/CUV0026/CUV0027/CUV0028/CUV0029/CUV0030/CUV0031/CUV0032/CUV0033/CUV0034/CUV0035)"
					);
					break;
				case '11':
					$("#new_explain").val("[아이레놀 상시 이벤트 사은품 2종류]\n" +
						"\n" +
						"- 조건 : 다음 구매금액 3만원 이상 시\n" +
						"상품그룹 : 아이레놀 > 전체\n" +
						"\n" +
						"- 증정품 \n" +
						"3만원 이상 : 아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)\n" +
						"5만원 이상 : 닥터부헌 페이셜 로션 200ml (DB0002)"
					);
					break;
				case '12':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트(29CM)]\n" +
						"\n" +
						"- 조건: 아래 해당 상품 구매 금액\n" +
						"[누잠 매트리스]\n" +
						"NU0049\n" +
						"NU0050\n" +
						"NU0051\n" +
						"NU0052\n" +
						"NU0053\n" +
						"NU0054\n" +
						"\n" +
						"[더블업 매트리스]\n" +
						"NU0092\n" +
						"NU0094\n" +
						"\n" +
						"\n" +
						"[사계절 커버]\n" +
						"NU0110\n" +
						"NU0250\n" +
						"NU0324\n" +
						"NU0111\n" +
						"NU0251\n" +
						"NU0325\n" +
						"NU0112\n" +
						"NU0252\n" +
						"NU0326\n" +
						"NU0113\n" +
						"NU0253\n" +
						"NU0327\n" +
						"\n" +
						"[쿨에어 커버]\n" +
						"BE0420\n" +
						"BE0421\n" +
						"BE0422\n" +
						"BE0423\n" +
						"NU0114\n" +
						"NU0115\n" +
						"NU0116\n" +
						"NU0117\n" +
						"\n" +
						"[쿨에어 이불]\n" +
						"NU0118\n" +
						"NU0119\n" +
						"NU0120\n" +
						"NU0121\n" +
						"\n" +
						"[슬립미스트]\n" +
						"NU0248\n" +
						"\n" +
						"- 금액대 별 증정품 조건\n" +
						"[누잠 매트리스], [더블업 매트리스], [쿨에어 이불] 상품 포함 구매 시 100% 대형 세탁망 증정\n" +
						"10만원 이상 구매 시 리유저블백 증정"
					);
					break
				case '13':
					$("#new_explain").val("[누잠 스폐셜 29CM 이벤트]\n" +
						"\n" +
						"- 조건: 아래 해당 상품 구매 금액\n" +
						"[누잠 매트리스]\n" +
						"NU0049\n" +
						"NU0050\n" +
						"NU0051\n" +
						"NU0052\n" +
						"NU0053\n" +
						"NU0054\n" +
						"\n" +
						"[더블업 매트리스]\n" +
						"NU0092\n" +
						"NU0094\n" +
						"\n" +
						"\n" +
						"[사계절 커버]\n" +
						"NU0110\n" +
						"NU0250\n" +
						"NU0324\n" +
						"NU0111\n" +
						"NU0251\n" +
						"NU0325\n" +
						"NU0112\n" +
						"NU0252\n" +
						"NU0326\n" +
						"NU0113\n" +
						"NU0253\n" +
						"NU0327\n" +
						"\n" +
						"[쿨에어 커버]\n" +
						"BE0420\n" +
						"BE0421\n" +
						"BE0422\n" +
						"BE0423\n" +
						"NU0114\n" +
						"NU0115\n" +
						"NU0116\n" +
						"NU0117\n" +
						"\n" +
						"[쿨에어 이불]\n" +
						"NU0118\n" +
						"NU0119\n" +
						"NU0120\n" +
						"NU0121\n" +
						"\n" +
						"[슬립미스트]\n" +
						"NU0248\n" +
						"\n" +
						"- 금액대 별 증정품 조건\n" +
						"10만원 이상 구매 시 세탁망 증정\n" +
						"16만원 이상 구매 시 리유저블백 증정"
					);
					break;
				case '14':
					$("#new_explain").val("[닥터피엘 브랜드 장바구니 증정]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품 구매시\n" +
						"\n" +
						"- 증정품 \n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;
				case '23':
					$("#new_explain").val("[닥터피엘 브랜드 스티커 증정]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품 구매시\n" +
						"\n" +
						"- 증정품 \n" +
						"닥터피엘 샤워기 스티커(DP0131)"
					);
					break;
				case '15':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트(29CM)]\n" +
						"\n" +
						"- 조건: 아래 해당 상품 구매 금액\n" +
						"[누잠 매트리스]\n" +
						"NU0049\n" +
						"NU0050\n" +
						"NU0051\n" +
						"NU0052\n" +
						"NU0053\n" +
						"NU0054\n" +
						"\n" +
						"[더블업 매트리스]\n" +
						"NU0092\n" +
						"NU0094\n" +
						"\n" +
						"\n" +
						"[사계절 커버]\n" +
						"NU0110\n" +
						"NU0250\n" +
						"NU0324\n" +
						"NU0111\n" +
						"NU0251\n" +
						"NU0325\n" +
						"NU0112\n" +
						"NU0252\n" +
						"NU0326\n" +
						"NU0113\n" +
						"NU0253\n" +
						"NU0327\n" +
						"\n" +
						"[쿨에어 커버]\n" +
						"BE0420\n" +
						"BE0421\n" +
						"BE0422\n" +
						"BE0423\n" +
						"NU0114\n" +
						"NU0115\n" +
						"NU0116\n" +
						"NU0117\n" +
						"\n" +
						"[쿨에어 이불]\n" +
						"NU0118\n" +
						"NU0119\n" +
						"NU0120\n" +
						"NU0121\n" +
						"\n" +
						"[슬립미스트]\n" +
						"NU0248\n" +
						"\n" +
						"- 금액대 별 증정품 조건\n" +
						"[누잠 매트리스], [더블업 매트리스], [쿨에어 이불] 상품 포함 구매 시 100% 대형 세탁망 증정\n" +
						"15만원 이상 구매 시 리유저블백 증정"
					);
					break
				case '16':
					$("#new_explain").val("[누잠 라이브커머스 주문금액 이벤트]\n" +
						"\n" +
						"- 조건: 아래 해당 상품 구매 금액\n" +
						"[누잠 매트리스]\n" +
						"NU0049\n" +
						"NU0050\n" +
						"NU0051\n" +
						"NU0052\n" +
						"NU0053\n" +
						"NU0054\n" +
						"\n" +
						"[쿨에어 커버]\n" +
						"BE0420\n" +
						"BE0421\n" +
						"BE0422\n" +
						"BE0423\n" +
						"NU0114\n" +
						"NU0115\n" +
						"NU0116\n" +
						"NU0117\n" +
						"\n" +
						"[쿨에어 이불]\n" +
						"NU0118\n" +
						"NU0119\n" +
						"NU0120\n" +
						"NU0121\n" +
						"\n" +
						"[보관백]\n" +
						"BE0232\n" +
						"BE0233\n" +
						"\n" +
						"[세탁망]\n" +
						"NU0096\n" +
						"\n" +
						"- 금액대 별 증정품 조건\n" +
						"10만원 이상 구매 시 리유저블백 증정\n" +
						"18만원 이상 구매 시 누잠 굿나잇 슬립미스트 증정"
					);
					break;
				case '17':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트(CJ온스타일)]\n" +
						"\n" +
						"- 조건 : 누잠 카테고리 상품 구매시 주문금액 합\n" +
						"\n" +
						"- 증정품\n" +
						"10만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600\n" +
						"17만원 이상 구매시 누잠 슬립미스트 1EA 증정 prd_no = 1625"
					);
					break;
				case '18':
					$("#new_explain").val("[아이레놀 상시 이벤트 사은품 1종류]\n" +
						"\n" +
						"- 조건 : 다음 구매시\n" +
						"상품그룹 : 아이레놀 > 전체\n" +
						"\n" +
						"- 증정품 \n" +
						"아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)"
					);
					break;
				case '20':
					$("#new_explain").val("[누잠 라이브커머스 주문금액 이벤트_240624]\n" +
						"\n" +
						"- 조건 : 누잠 카테고리 상품 구매시 주문금액 합\n" +
						"\n" +
						"- 증정품\n" +
						"본품 구매시 보관백 증정\n" +
						"10만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600"
					);
					break;

				case '21':
					$("#new_explain").val("[닥터피엘 에코 피처형 정수기 이벤트]\n" +
						"\n" +
						"- 조건 : 닥터피엘 에코 피처형 정수기 전제품\n" +
						"\n" +
						"- 증정품\n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;

				case '25':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트(9월)]\n" +
						"\n" +
						"1) 전제품 구매 시 선케어 3종 파우치 증정 (IL0049)\n" +
						"2) 3만원이상 구매 시 아이레놀 샘플 4종 파우치 증정 (IL0020)\n" +
						"3) 5만원이상 구매 시 개기름 컨트롤러 미니어쳐 6g 증정 (IL0016)"
					);
					break;

				case '26':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트(10월)]\n" +
						"\n" +
						"1) 쌩얼크림 구매시 상품 구매단위로 증정품 증정\n" +
						"- 쌩얼크림 1개 or 1+1 구매 시 선케어 3종 파우치1매 증정\n" +
						"- 쌩얼크림 2+2 구매 시 선케어 3종 파우치 2매 증정\n" +
						"  \n" +
						"2) 아이레놀 생병풀 수분가득 선세럼\n" +
						"- 구매 시 선케어3종 파우치 증정 (IL0049)\n" +
						"\n" +
						"3) 아이레놀 다크서클크림 or 아이레놀R \n" +
						"- 구매 시 아이레놀 샘플 4종 파우치 증정 (IL0020)\n" +
						"\n" +
						"4) 개기름 컨트롤러" +
						"\n" +
						"- 구매 시 개기름 컨트롤러 미니어쳐 6g 증정 (IL0016)"
					);
					break;
				case '29':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트(11월)]\n" +
						"\n" +
						"아이레놀 제품 구매시 주문 당 1개씩 증정\n" +
						"\n" +
						"- 5만원이상 구매 시\n" +
						"아이레놀 생병풀 선크림 1개 증정 (IL0058)\n" +
						"\n" +
						"- 3만원이상 구매 시\n" +
						"개기름 컨트롤러 미니어쳐 6g 증정 (IL0016)\n" +
						"\n" +
						"- 전제품 구매 시\n" +
						"선케어3종 파우치 증정 (IL0049)\n" +
						"아이레놀 샘플 4종 파우치 증정 (IL0020)"
					);
					break;
				case '33':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트 (11월 블랙프라이데이 메인)]\n" +
						"\n" +
						"아이레놀 제품 구매시 주문 당 조건 맞는 거 1개만 증정\n" +
						"\n" +
						"- 4만원이상 구매 시\n" +
						"아이레놀 생병풀 선크림 1개 증정 (IL0058)\n" +
						"\n" +
						"- 3만원이상 구매 시\n" +
						"개기름 컨트롤러 미니어쳐 6g 증정 (IL0016)\n" +
						"\n" +
						"- 전제품 구매 시\n" +
						"선케어3종 파우치 증정 (IL0049)\n" +
						"아이레놀 샘플 4종 파우치 증정 (IL0020)"
					);
					break;

				case '34':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트 (11월 블랙프라이데이 서브)]\n" +
							"\n" +
							"아이레놀 제품 구매시 주문 당 1개씩 증정\n" +
							"\n" +
							"1) 다크서클크림, 레티날아이크림 구매 시 아이케어 4종파우치 제공\n" +
							"2) 쌩얼크림, 생병풀 선크림 구매 시 선케어 3종파우치\n" +
							"3) 개기름 컨트롤러 구매 시 아이케어 4종파우치 제공"
					);
					break;

				case '35':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트 (12월 겨울맞이 혜택)]\n" +
							"\n" +
							"아이레놀 제품 구매시 주문 당 조건 맞는 거 1개만 증정\n" +
							"\n" +
							"- 3만원이상 구매 시\n" +
							"선케어3종 파우치 증정 (IL0049)\n" +
							"\n" +
							"- 5만원이상 구매 시\n" +
							"선케어3종 파우치 증정 (IL0049)\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"\n" +
							"- 7만원이상 구매 시\n" +
							"아이레놀 생병풀 선크림 1개 증정 (IL0058)"
					);
					break;

				case '27':
					$("#new_explain").val("[닥터피엘 네쇼페 라이브커머스 칫솔 4P 증정]\n" +
						"\n" +
						"- 조건 : 닥터피엘(올뉴큐빙,피처형정수기,주방용 프리미엄,여행용필터) 라이브커머스 판매제품 합 10만원 이상\n" +
						"\n" +
						"- 증정품\n" +
						"[라이브 이벤트] 인텐시브 칫솔 4P 세트(DP0338)"
					);
					break;
				case '28':
					$("#new_explain").val("[닥터피엘 네쇼페 라이브커머스 여행용필터 증정]\n" +
						"\n" +
						"- 조건 : 닥터피엘 라이브커머스 판매제품 합 10만원 이상\n" +
						"\n" +
						"- 증정품\n" +
						"[닥터피엘 이벤트] 닥터피엘 여행용 샤워필터 기본세트(DP0619)"
					);
					break;
				case '30':
					$("#new_explain").val("[닥터피엘 카카오 쇼핑 라이브]\n" +
						"\n" +
						"- 조건 : 아래 상품코드 구매시\n" +
						"DP0778\n" +
						"DP0779\n" +
						"DP0777\n" +
						"DP0215\n" +
						"DP0231\n" +
						"DP0232\n" +
						"DPH013\n" +
						"DPH014\n" +
						"DPH015\n" +
						"DP0769\n" +
						"DP0010\n" +
						"DP0049\n" +
						"DP0207\n" +
						"DP0209\n" +
						"DP0283\n" +
						"DP0190\n" +
						"DP0029\n" +
						"DP0737\n" +
						"DPH011\n" +
						"DPH012\n" +
						"\n- 증정품\n" +
						"(이벤트 증정) 닥터피엘 장바구니(DP0384)"
					);
					break;
				case '31':
					$("#new_explain").val("[11월 닥터피엘 세일 페스타]\n" +
						"\n" +
						"- 조건 : 닥터피엘 전체 상품 구매 합이 10,000원 이상일 경우 주문번호 당 증정\n" +
						"\n" +
						"- 증정품\n" +
						"[닥터피엘 사은품] 닥터피엘 인텐시브 칫솔 1P(DP0506)"
					);
					break;
				case '32':
					$("#new_explain").val("[누잠 스페셜 DA 이벤트(NEW)]\n" +
						"\n" +
						"- 조건 : 누잠 본품 구매시\n" +
						"\n" +
						"- 증정품\n" +
						"해당 제품 구매 갯수당 리유저블백 1EA 증정\n"
					);
					break;
				case '36':
					$("#new_explain").val("[누잠 스페셜 DA 이벤트(보관백)]\n" +
							"\n" +
							"- 조건 : 누잠 본품 구매시\n" +
							"\n" +
							"- 증정품\n" +
							"해당 제품 구매 갯수 및 사이즈당 보관백 증정\n"
					);
					break;
				case '38':
					$("#new_explain").val("[아이레놀 파우치 증정 이벤트 (새해맞이 특별혜택)]\n" +
							"\n" +
							"아이레놀 제품 구매시 조건별 파우치 증정\n" +
							"\n" +
							"- 제품 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"\n" +
							"- 3만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"\n" +
							"- 5만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)\n" +
							"\n"
					);
					break;

				case '40':
					$("#new_explain").val("[누잠 상시 주문금액 이벤트(2025)]\n" +
							"\n" +
							"누잠 전 제품 구매시 주문금액별 사은품 증정\n" +
							"\n" +
							"- 증정품\n" +
							"본품,더블업,이불 구매시 세탁망 증정\n" +
							"20만원 이상 구매시 누잠 리유저블백 1EA 증정 prd_no = 1600\n" +
							"30만원 이상 구매시 누잠 슬립미스트 1EA 증정 prd_no = 1625"
					);
					break;

				case '41':
					$("#new_explain").val("[아이레놀 설명절 특별혜택]\n" +
							"\n" +
							"아이레놀 제품 구매시 조건별 파우치 증정(아임웹_아이레놀, 스마트스토어_아이레놀만 적용)\n" +
							"\n" +
							"- 제품 구매 시\n" +
							"선케어3종 파우치 증정 (IL0049)\n"+
							"\n" +
							"- 3만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"아이레놀 쇼핑백(IL0087)\n" +
							"\n" +
							"- 5만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)\n" +
							"아이레놀 쇼핑백(IL0087)\n" +
							"\n"
					);
					break;

				case '42':
					$("#new_explain").val("[아이레놀 2월한정 특별혜택]\n" +
							"\n" +
							"아이레놀 제품 구매시 조건별 파우치 증정\n" +
							"\n" +
							"- 제품 구매 시\n" +
							"선케어3종 파우치 증정 (IL0049)\n"+
							"\n" +
							"- 3만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"\n" +
							"- 5만원이상 구매 시\n" +
							"아이레놀 샘플 4종 파우치 증정 (IL0020)\n"+
							"선케어3종 파우치 증정 (IL0049)\n" +
							"아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)\n" +
							"\n"
					);
					break;

				case '44':
					$("#new_explain").val("[아이레놀 3월 봄맞이 브랜드위크]\n" +
							"\n" +
							"아이레놀 제품 구매시 조건별 파우치 증정\n" +
							"\n" +
							"- 제품 구매 시\n" +
							"선케어4종 파우치 증정 (IL0088)\n"+
							"\n" +
							"- 3만원이상 구매 시\n" +
							"선케어4종 파우치 증정 (IL0088)\n"+
							"아이레놀 개기름 컨트롤러 미니어쳐 (IL0016)\n" +
							"\n"
					);
					break;
			}
		});
	});

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if(proc == 'f_dp_list') {
        	val = $("#dp_company_list_"+no).val();
		}else if(proc == 'f_is_active') {
			if($(obj).is(":checked")){
				val = 2;
			}else{
				val = 1;
			}
		}else{
			if (default_val && val == default_val)
				return false;
		}

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("advertising_event_management.php", {ae_no : no, process : proc, val : val}, function(result){
				if(proc == 'f_is_active' && val == '2'){
					alert("중단이 설정되었습니다.\r\n※주의 : 이미 발송된 건은 중단(회수) 할 수 없으며,\r\n중단 설정 이후 발송 건 부터 적용 됩니다.\n커머스 이벤트 일정(캘린더)에는 중단이 반영되지 않습니다.\r\n직접 수정 혹은 삭제 바랍니다.");
				}else{
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				}
            });
        }
    }

	function advDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".event_date_btn").removeClass('event_active');
		$(".event_"+type+"_btn").addClass('event_active');

		$("#sch_event_s_date").val(typedate);
		$("#sch_event_e_date").val(todate);

		$("#sch_event_date_type").val(type);
	}

	function saveEventDate(ae_no, type)
	{
		var f = document.chk_form;

		if(type == "start"){
			f.process.value 	= "f_event_s_date";
			f.chk_ae_no.value 	= ae_no;
			f.chk_day.value 	= $("#f_event_s_day_"+ae_no).val();
			f.chk_hour.value 	= $("#f_event_s_hour_"+ae_no).val();
			f.chk_min.value 	= $("#f_event_s_min_"+ae_no).val();
			f.submit();
		}
		else if(type == "end"){
			f.process.value 	= "f_event_e_date";
			f.chk_ae_no.value 	= ae_no;
			f.chk_day.value 	= $("#f_event_e_day_"+ae_no).val();
			f.chk_hour.value 	= $("#f_event_e_hour_"+ae_no).val();
			f.chk_min.value 	= $("#f_event_e_min_"+ae_no).val();
			f.submit();
		}
	}

	function addEvent()
	{
		if(!$("#new_dp_list").val()){
			alert('구매처를 선택해주세요.');
			return false;
		}

		return true;
	}
</script>

</body>
</html>
