<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{margin-top: 20px; min-height: 500px;}
	.admin_content{width: 1310px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.cpc-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px;}
	.cpc-chart-wrapper{margin-top: 50px;}
	#cpc-time-chart{margin: 10px auto; width: 1260px; height: 600px;}
	#cpc-time-table-wrapper{width: 1260px; margin: 10px auto; overflow-x: scroll;}
	#cpc-time-table-wrapper .table{width: auto;}
	#cpc-time-table-wrapper .table th{font-size: 12px;}
	#cpc-time-table-wrapper .table td{font-size: 12px;}
	#cpc-special-chart{margin: 10px auto; width: 1260px; height: 600px;}
	#cpc-special-table-wrapper{width: 1260px; margin: 10px auto; overflow-x: scroll;}
	#cpc-special-table-wrapper .table{width: auto;}
	#cpc-special-table-wrapper .table th{font-size: 12px;}
	#cpc-special-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">

	<h2 class="cpc-total-label">[타임보드] Total CPC(시간)</h2>

	<div id="cpc-time-chart"></div>
	<div id="cpc-time-table-wrapper">
		<table id="cpc-time-table" class="table table-bordered">
			<thead class="thead-dark text-center">
			<tr>
				<th style="width: 100px; min-width: 100px;"></th>
				<{foreach from=$adv_result_time_hour_list item=date_label}>
				<th class="date-th" style="width: 80px; min-width: 80px;"><{$date_label}></th>
				<{/foreach}>
			</tr>
			</thead>
			<tbody>
			<{if $adv_result_time_table_list}>
			<tr>
				<td class="first text-center">광고비</td>
				<{foreach from=$adv_result_time_hour_list key=key_date item=date_label}>
				<td class="text-right">
					<span style="float: left;">￦ </span>
					<span style="float: right;"><{$adv_result_time_table_list[$key_date].adv_price|number_format:0}></span>
				</td>
				<{/foreach}>
			</tr>
			<tr>
				<td class="first text-center">클릭수</td>
				<{foreach from=$adv_result_time_hour_list key=key_date item=date_label}>
				<td class="text-right"><{$adv_result_time_table_list[$key_date].click_cnt|number_format:0}></td>
				<{/foreach}>
			</tr>
			<tr>
				<td class="first text-center">CPC</td>
				<{foreach from=$adv_result_time_hour_list key=key_date item=date_label}>
				<td class="text-right" style="color: red; font-weight: bold;">
					<span style="float: left;">￦ </span>
					<span style="float: right;">
						<{if $adv_result_time_table_list[$key_date].adv_cpc != 0}>
							<{$adv_result_time_table_list[$key_date].adv_cpc|number_format:1}>
						<{else}>
							0
						<{/if}>
					</span>
				</td>
				<{/foreach}>
			</tr>
			<tr>
				<td class="first text-center">노출수</td>
				<{foreach from=$adv_result_time_hour_list key=key_date item=date_label}>
				<td class="text-right"><{$adv_result_time_table_list[$key_date].impressions|number_format:0}></td>
				<{/foreach}>
			</tr>
			<tr>
				<td class="first text-center">클릭률</td>
				<{foreach from=$adv_result_time_hour_list key=key_date item=date_label}>
				<td class="text-right"><{$adv_result_time_table_list[$key_date].click_per|number_format:2}>%</td>
				<{/foreach}>
			</tr>
			<{else}>
			<tr>
				<td class="first text-center" colspan="<{$adv_result_hour_cnt}>">데이터가 없습니다.</td>
			</tr>
			<{/if}>
			</tbody>
		</table>
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cpc-time-table');" />
	</div>

	<h2 class="cpc-total-label" style="margin-top: 20px;">[스폐셜DA] Total CPC(시간)</h2>
	<div class="cpc-chart-wrapper">
		<div id="cpc-special-chart"></div>

		<div id="cpc-special-table-wrapper">
			<table id="cpc-special-table" class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th style="width: 100px; min-width: 100px;"></th>
						<{foreach from=$adv_result_special_hour_list item=date_label}>
							<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<{if $adv_result_special_table_list}>
						<tr>
							<td class="first text-center">광고비</td>
							<{foreach from=$adv_result_special_hour_list key=key_date item=date_label}>
								<td class="text-right">
									<span style="float: left;">￦ </span>
									<span style="float: right;"><{$adv_result_special_table_list[$key_date].adv_price|number_format:0}></span>
								</td>
							<{/foreach}>
						</tr>
						<tr>
							<td class="first text-center">클릭수</td>
							<{foreach from=$adv_result_special_hour_list key=key_date item=date_label}>
							<td class="text-right"><{$adv_result_special_table_list[$key_date].click_cnt|number_format:0}></td>
							<{/foreach}>
						</tr>
						<tr>
							<td class="first text-center">CPC</td>
							<{foreach from=$adv_result_special_hour_list key=key_date item=date_label}>
								<td class="text-right" style="color: red; font-weight: bold;">
									<span style="float: left;">￦ </span>
									<span style="float: right;"><{$adv_result_special_table_list[$key_date].adv_cpc|number_format:1}></span>
								</td>
							<{/foreach}>
						</tr>
						<tr>
							<td class="first text-center">노출수</td>
							<{foreach from=$adv_result_special_hour_list key=key_date item=date_label}>
							<td class="text-right"><{$adv_result_special_table_list[$key_date].impressions|number_format:0}></td>
							<{/foreach}>
						</tr>
						<tr>
							<td class="first text-center">클릭률</td>
							<{foreach from=$adv_result_special_hour_list key=key_date item=date_label}>
							<td class="text-right"><{$adv_result_special_table_list[$key_date].click_per|number_format:2}>%</td>
							<{/foreach}>
						</tr>
					<{else}>
						<tr>
							<td class="first text-center" colspan="<{$adv_result_hour_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cpc-special-table');" />
		</div>
	</div>

</div>

<script type="text/javascript">
	var cpcTimeChart = echarts.init(document.getElementById('cpc-time-chart'),null, {renderer : 'canvas'});
	var cpcSpecialChart = echarts.init(document.getElementById('cpc-special-chart'),null, {renderer : 'canvas'});
	drawTimeChart();
	drawSpecialChart();

	function drawTimeChart()
	{
		var fullData = <{$adv_result_time_chart_list}>;

		if(fullData != '')
		{
			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if(convert_number > 0){
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			cpcTimeChart.setOption({
				title: {
					text: ''
				},
				grid: {
					left: '14%',
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				legend:{
					data: ['광고비','클릭수','CPC'],
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: <{$adv_result_time_chart_name_list}>
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						offset: 80,
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BFBFFF"
							}
						},
						axisLabel: {
							formatter: '₩ {value}'
						}
					},
					{
						type: 'value',
						name: '클릭수',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BDBEBD"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: 'CPC',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#FF0000"
							}
						},
						axisLabel: {
							formatter: '{value}원'
						}
					}
				],
				series: pushData
			});
		}
	}

	function drawSpecialChart()
	{
		var fullData = <{$adv_result_special_chart_list}>;

		if(fullData != '')
		{
			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if(convert_number > 0){
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			cpcSpecialChart.setOption({
				title: {
					text: ''
				},
				grid: {
					left: '14%',
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				legend:{
					data: ['광고비','클릭수','CPC'],
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: <{$adv_result_special_chart_name_list}>
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						offset: 80,
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BFBFFF"
							}
						},
						axisLabel: {
							formatter: '₩ {value}'
						}
					},
					{
						type: 'value',
						name: '클릭수',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BDBEBD"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: 'CPC',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#FF0000"
							}
						},
						axisLabel: {
							formatter: '{value}원'
						}
					}
				],
				series: pushData
			});
		}
	}

	function inputNumberFormat(value)
	{
		var convert_value = value;

		if(value != '-') // 첫입력 시 음수 예외
			convert_value = comma(uncomma(convert_value));

		return convert_value
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		return (parseFloat(str));
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange)
		{
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}
</script>
</body>
</html>
