<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{margin-top: 20px; min-height: 500px;}
	.admin_content{width: 1310px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.cpc-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px;}
	.cpc-total-wrapper{ font-size: 18px; font-weight: 700; box-sizing: border-box; padding: 10px 30px;}
	.cpc-label{width: 150px; float: left;}
	.cpc-chart-wrapper{margin-top: 50px;}
	#cpc-chart{margin: 10px auto; width: 1260px; height: 600px;}
	.sch_in_date_type{font-size: 12px;float: left;cursor: pointer;margin-top: 11px;margin-right: 3px;}
	.sch_in_date_type_label{font-size: 12px; float: left; cursor: pointer; margin-right: 7px;}
	#cpc-table-wrapper{width: 1260px; margin: 10px auto;}
	#cpc-table-wrapper .table{width: auto;}
	#cpc-table-wrapper .table th{font-size: 12px;}
	#cpc-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="cpc-total-label">Total CPC(날짜)</h2>
	<div class="cpc-total-wrapper">
		<div style="overflow: hidden;">
			<span class="cpc-label">총 광고비</span>
			<span class="cpc-value"><{$adv_result_total_list['total_price']|number_format:0}>원</span>
		</div>
		<div style="overflow: hidden;">
			<span class="cpc-label">총 클릭수</span>
			<span class="cpc-value"><{$adv_result_total_list['total_click_cnt']|number_format:0}></span>
		</div>
		<div style="overflow: hidden;">
			<span class="cpc-label" style="color: red;">평균 CPC</span>
			<span class="cpc-value"><{$adv_result_total_list['adv_cpc']|number_format:1}>원</span>
		</div>
	</div>

	<h2 class="cpc-total-label">기간별 CPC(날짜)</h2>
	<form name="search_form" id="search_form" action="advertising_result_stats_date_iframe.php" method="get" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="sch_brand_g1" value="<{$sch_brand_g1}>">
		<input type="hidden" name="sch_brand_g2" value="<{$sch_brand_g2}>">
		<input type="hidden" name="sch_adv_s_date" value="<{$sch_adv_s_date}>">
		<input type="hidden" name="sch_adv_e_date" value="<{$sch_adv_e_date}>">
		<input type="hidden" name="sch_no" value="<{$sch_no}>">
		<input type="hidden" name="sch_brand" value="<{$sch_brand}>">
		<input type="hidden" name="sch_media" value="<{$sch_media}>">
		<input type="hidden" name="sch_product" value="<{$sch_product}>">
		<input type="hidden" name="sch_state" value="<{$sch_state}>">
		<input type="hidden" name="sch_agency" value="<{$sch_agency}>">
		<input type="hidden" name="sch_is_complete" value="<{$sch_is_complete}>">
		<div class="default_wrap" style="padding-left: 10px; line-height: 35px;">
			<{foreach from=$date_type_option key=key item=label}>
				<input type="radio" name="sch_in_date_type" id="sch_in_date_type_<{$key}>" class="sch_in_date_type" value="<{$key}>" <{if $key == $sch_in_date_type}>checked<{/if}>>
				<label for="sch_in_date_type_<{$key}>" class="sch_in_date_type_label"><{$label}></label>
			<{/foreach}>
			<button type="submit" class="btn" style="padding: 5px 15px; font-size: 12px; font-weight: bold; float: left; background: #999; color: white;">보기</button>
		</div>

		<div class="cpc-chart-wrapper">
			<div id="cpc-chart"></div>

			<div id="cpc-table-wrapper">
				<table id="cpc-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$adv_result_date_list item=date_label}>
								<th class="date-th" style="<{if $sch_in_date_type == '1'}>width: 100px; min-width: 100px;<{else}>width: 150px; min-width: 150px;<{/if}>"><{$date_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $adv_result_table_list}>
							<tr>
								<td class="first text-center">광고비</td>
								<{foreach from=$adv_result_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span style="float: left;">￦ </span>
										<span style="float: right;"><{$adv_result_table_list[$key_date].adv_price|number_format:0}></span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center">클릭수</td>
								<{foreach from=$adv_result_date_list key=key_date item=date_label}>
								<td class="text-right"><{$adv_result_table_list[$key_date].click_cnt|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center">CPC</td>
								<{foreach from=$adv_result_date_list key=key_date item=date_label}>
									<td class="text-right" style="color: red; font-weight: bold;">
										<span style="float: left;">￦ </span>
										<span style="float: right;"><{$adv_result_table_list[$key_date].adv_cpc|number_format:1}></span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center">노출수</td>
								<{foreach from=$adv_result_date_list key=key_date item=date_label}>
								<td class="text-right"><{$adv_result_table_list[$key_date].impressions|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center">클릭률</td>
								<{foreach from=$adv_result_date_list key=key_date item=date_label}>
								<td class="text-right"><{$adv_result_table_list[$key_date].click_per|number_format:2}>%</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$adv_result_date_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cpc-table');" />
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	var cpcChart = echarts.init(document.getElementById('cpc-chart'),null, {renderer : 'canvas'});
	drawChart();

	function drawChart()
	{
		var fullData = <{$adv_result_chart_list}>;

		if(fullData != '')
		{
			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if (convert_number > 0) {
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			cpcChart.setOption({
				title: {
					text: '기간별 CPC(날짜)'
				},
				grid: {
					left: '14%',
					bottom: 10,
					height: 500,
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				legend:{
					data: ['광고비','클릭수','CPC'],
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: <{$adv_result_chart_name_list}>
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						offset: 80,
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BFBFFF"
							}
						},
						axisLabel: {
							formatter: '₩ {value}'
						}
					},
					{
						type: 'value',
						name: '클릭수',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BDBEBD"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: 'CPC',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#FF0000"
							}
						},
						axisLabel: {
							formatter: '{value}원'
						}
					}
				],
				series: pushData
			});
		}
	}

	function inputNumberFormat(value)
	{
		var convert_value = value;

		if(value != '-') // 첫입력 시 음수 예외
			convert_value = comma(uncomma(convert_value));

		return convert_value
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		return (parseFloat(str));
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}
</script>
</body>
</html>
