<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 550px; min-width: 550px !important; max-width: 550px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle; padding: 10px;}
	.table tbody select, .table tbody input{font-size: 12px; padding: 0.25rem;}
	.table tbody th{vertical-align: middle; background: #333; color: white; text-align: center;}
	#adv_management_frm{width: 550px; min-width: 550px !important; max-width: 550px; box-sizing: border-box; overflow: hidden;margin: 0; border: 1px solid #ccc;padding: 10px;border-radius: 0 0 5px 5px;}
	.app_del_btn{margin-left: -2px;background: #333;color: white; text-align: center; font-size: 11px; line-height: 10px; padding: 3px;}
</style>

<div class="admin_content">
	<form name="adv_management_frm" id="adv_management_frm" action="advertising_calendar_regist.php" method="post" enctype="multipart/form-data" onsubmit="return addAdvertise(this)" autocomplete="off">
		<input type="hidden" name="am_no" id="am_no" value="<{$am_no}>">
		<input type="hidden" name="chk_aa_no" id="chk_aa_no" value="">
		<input type="hidden" name="sel_day" id="sel_day" value="<{$sel_day}>" />
		<input type="hidden" name="process" value="<{if !!$am_no}>upd_advertising<{else}>add_advertising<{/if}>">

		<table class="table table-bordered" style="table-layout: fixed;">
			<colgroup>
				<col width="120px;">
				<col width="340px;">
			</colgroup>
			<tbody>
				<tr>
					<th scope="col">no</th>
					<td>
						<{$advertising.am_no}>
					</td>
				</tr>
				<tr>
					<th scope="col">작성자</th>
					<td>
						<{$advertising.reg_s_name}>
					</td>
				</tr>
				<tr>
					<th scope="col">광고매체</th>
					<td>
						<select name="new_media" id="new_media" class="form-control" <{if $am_no}>disabled<{else}>required<{/if}>>
							<option value="">::선택::</option>
							<{foreach from=$adv_media_option key=key item=label}>
							<option value="<{$key}>" <{if $advertising.media == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th scope="col">상품명</th>
					<td>
						<select name="new_product" id="new_product" class="form-control" required>
							<option value="">::선택::</option>
							<{foreach from=$adv_product_option key=key item=label}>
							<option value="<{$key}>" <{if $advertising.product == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th scope="col">진행상태</th>
					<td>
						<select name="new_state" id="new_state" class="form-control" style="color: <{$adv_state_color_option[$advertising.state]}>;" required>
							<option value="">::전체::</option>
							<{foreach from=$adv_state_option key=key item=label}>
							<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;" <{if $advertising.state == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th scope="col">매체대행사</th>
					<td>
						<select name="new_agency" id="new_agency" class="form-control">
							<option value="">::선택::</option>
							<{foreach from=$adv_agency_option key=key item=label}>
							<option value="<{$key}>" <{if $advertising.agency == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th scope="col">수수료</th>
					<td>
						<input type="text" name="new_fee_per" id="new_fee_per" class="form-control" style="width: 50px; float: left;" value="<{$advertising.fee_per}>" />
						<span style="display: inline-block; float: left; line-height: 30px;margin-left: 5px;">%</span>
					</td>
				</tr>
				<tr>
					<th scope="col">시작시간<br/>종료시간</th>
					<td>
						<div style="margin-bottom: 10px; overflow: hidden;">
							<input type="text" name="new_adv_s_day" id="new_adv_s_day" class="date-picker form-control" value="<{$advertising.adv_s_day}>" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" required />
							<select name="new_adv_s_hour" id="new_adv_s_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $advertising.adv_s_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px;margin: 0 5px;">:</span>
							<select name="new_adv_s_min" id="new_adv_s_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $advertising.adv_s_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
						</div>
						<div style="overflow: hidden;">
							<input type="text" name="new_adv_e_day" id="new_adv_e_day" class="date-picker form-control" value="<{$advertising.adv_e_day}>" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" required />
							<select name="new_adv_e_hour" id="new_adv_e_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
								<option value="<{$hour}>" <{if $advertising.adv_e_hour == $hour}>selected<{/if}>><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px; margin: 0 5px;">:</span>
							<select name="new_adv_e_min" id="new_adv_e_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
								<option value="<{$min}>" <{if $advertising.adv_e_min == $min}>selected<{/if}>><{$min}></option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="col">단가</th>
					<td>
						<input type="text" name="new_price" id="new_price" class="form-control" value="<{$advertising.price|number_format:0}>" onchange="inputNumberFormat(this)" style="width: 120px;">
					</td>
				</tr>
				<tr>
					<th scope="col">비고</th>
					<td>
						<textarea name="new_notice" id="new_notice" class="form-control" style="font-size: 12px;" readonly><{$advertising.notice}></textarea>
					</td>
				</tr>
				<tr>
					<th scope="col">신청자</th>
					<td>
						<{if $advertising.application_list}>
						<div style="display: inline-block; float: left; width: 300px;">
							<{foreach from=$advertising.application_list item=application_data}>
							<span><{$application_data.s_name}></span>
							<{if $application_data.s_no == $session_s_no}>
								<button type="button" class="app_del_btn" onclick="delApplication('<{$application_data.aa_no}>')">취소</button>
							<{/if}>
							<{/foreach}>
						</div>
						<{/if}>

						<{if !$advertising.in_application}>
							<button type="button" class="btn btn-dark" onclick="addApplication()" style="float: right; font-size: 12px; padding: 3px 5px; font-weight: bold;">신청</button>
						<{/if}>
					</td>
				</tr>
				<{if $session_s_no == '170' || $session_s_no == '171'}>
				<tr>
					<th scope="col">신청자 추가</th>
					<td>
						<select name="new_staff" id="new_staff" class="new_staff form-control" >
							<option value="">::선택::</option>
							<{foreach from=$staff_name_list key=key item=label}>
							<option value="<{$key}>" <{if $key == $manager}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<button type="button" class="btn btn-dark" onclick="addCustomApplication()" style="float: right; font-size: 12px; padding: 3px 5px; font-weight: bold;">추가</button>
					</td>
				</tr>
				<{/if}>
			</tbody>
		</table>
		<{if permissionNameCheck($session_permission, "외주관리자")}>
		<div style="text-align: center; margin-top: 5px;">
			<button type="submit" class="btn btn-dark" style="font-size: 12px; font-weight: bold;">저장</button>
		</div>
		<{/if}>
	</form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		$("#new_agency").change(function(){
			var agency = $(this).val();
			if($("#new_product").val() && $("#new_fee_per").val() == 0){
				checkFeePer(agency, $("#new_product").val());
			}
		});

		$("#new_product").change(function(){
			var product = $(this).val();
			if($("#new_agency").val() && $("#new_fee_per").val() == 0){
				checkFeePer($("#new_agency").val(), product);
			}
		});

		if($("#new_staff").length > 0){
			$("#new_staff").combobox();
		}
    });

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,'');
		str = str.replace(/(^\s*)|(\s*$)/g, "");
		return (new Number(str));
	}

	function addAdvertise(obj)
	{
		var s_date = obj.new_adv_s_day.value + " " + obj.new_adv_s_hour.value + ":" + obj.new_adv_s_min.value + ":00";
		var e_date = obj.new_adv_e_day.value + " " + obj.new_adv_e_hour.value + ":" + obj.new_adv_e_min.value + ":00";

		if(s_date > e_date){
			alert('종료일시를 재설정해주세요');
			return false;
		}

		if(s_date == e_date){
			alert('시작일시와 종료일시를 다르게 설정해주세요');
			return false;
		}

		return true;
	}

	function addApplication()
	{
		document.adv_management_frm.process.value = 'add_application';
		document.adv_management_frm.submit();

		return false;
	}

	function addCustomApplication()
	{
		document.adv_management_frm.process.value = 'add_custom_application';
		document.adv_management_frm.submit();

		return false;
	}

	function delApplication(aa_no)
	{
		if(confirm("취소 하시겠습니까?"))
		{
			document.adv_management_frm.chk_aa_no.value = aa_no;
			document.adv_management_frm.process.value = 'del_application';
			document.adv_management_frm.submit();
		}

		return false;
	}

	function checkFeePer(agency, product)
	{
		$.ajax({
			url: "/v1/api/advertising.fee.api.php",
			type: 'POST',
			data: {agency: agency, product: product}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result 	 = jsonData.result;
			var fee_per  = jsonData.fee_per;

			if(result == true && fee_per > 0)
			{
				$("#new_fee_per").val(fee_per);
			}
		});
	}
</script>
</body>
</html>
