<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.adv_active{background: #3093c2 !important;}
	.quick_btn_active{background: #3093c2 !important;}
	#apply_frm_new .form-control{font-size: 12px; margin: 0; padding: 2px; width: 99%;}
	.app_del_btn{margin-left: -3px;background: #333;color: white;width: 10px;height: 12px;text-align: center;font-size: 10px;line-height: 10px;font-weight: bold;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">네이버(NOSP)에 대한 부킹 구좌를 신청하고, 수동으로 GFA 광고를 추가 할 수 있습니다.</span>

	<form name="search_form" id="search_form" class="form-inline" action="advertising_management.php" method="get" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="quick_btn" id="quick_btn" value="<{$quick_btn}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_adv_s_date">시작일시</label>
				<input type="text" name="sch_adv_s_date" id="sch_adv_s_date" class="date-picker form-control" value="<{$sch_adv_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_adv_e_date" id="sch_adv_e_date" class="date-picker form-control" value="<{$sch_adv_e_date}>" style="margin-left: 5px;" />

				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
				<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
				<input type="hidden" name="sch_adv_date_type" id="sch_adv_date_type" value="<{$sch_adv_date_type}>">

				<button type="button" class="btn_small adv_date_btn adv_week_btn <{if $sch_adv_date_type == 'week'}>adv_active<{/if}>" onclick="advDateVal('week');">1주</button>
				<button type="button" class="btn_small adv_date_btn adv_month_btn <{if $sch_adv_date_type == 'month'}>adv_active<{/if}>" onclick="advDateVal('month');">1달</button>
				<button type="button" class="btn_small adv_date_btn adv_months_btn <{if $sch_adv_date_type == 'months'}>adv_active<{/if}>" onclick="advDateVal('months');">3달</button>
				<button type="button" class="btn_small adv_date_btn adv_year_btn <{if $sch_adv_date_type == 'year'}>adv_active<{/if}>" onclick="advDateVal('year');">1년</button>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" style="width: 60px;" value="<{$sch_no}>" />

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_media_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_product">상품명</label>
				<select name="sch_product" id="sch_product" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_product_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_product == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_state">진행상태</label>
				<select name="sch_state" id="sch_state" class="form-control" style="color: <{$adv_state_color_option[$sch_state]}>;">
					<option value="">::전체::</option>
					<{foreach from=$adv_state_option key=key item=label}>
					<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_application">신청자</label>
				<input type="text" name="sch_application" id="sch_application" class="form-control" value="<{$sch_application}>" style="width: 120px; margin-right: 5px;" />
				<input type="checkbox" name="sch_application_my" id="sch_application_my" value="1" <{if $sch_application_my == 1}>checked<{/if}>>
				<label for="sch_application_my">my</label>

				<label for="sch_is_application">신청자</label>
				<select name="sch_is_application" id="sch_is_application" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_application == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_notice">비고</label>
				<input type="text" name="sch_notice" id="sch_notice" class="form-control" value="<{$sch_notice}>" style="width: 120px;" />

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
				
				<a href="advertising_management.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_list_on.png">
				</a>
				<a href="advertising_calendar.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_cal_off.png">
				</a>
			</div>
		</div>
	</form>

	<div>
		<form name="apply_frm_new" id="apply_frm_new" class="list_form" action="advertising_management.php" method="post" enctype="multipart/form-data" onsubmit="return addAdvertise(this)" autocomplete="off" style="margin-top: 30px;">
			<input type="hidden" name="process" value="add_advertising">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table class="table table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first" style="min-width:60px; width:60px; height: 30px;">no</th>
						<th style="min-width: 140px; width: 140px;">광고매체</th>
						<th style="min-width: 100px; width: 100px;">상품명</th>
						<th style="min-width: 100px; width: 100px;">진행상태</th>
						<th style="min-width: 140px; width: 140px;">매체대행사</th>
						<th style="min-width: 85px; width: 85px;">수수료</th>
						<th style="min-width: 210px; width: 210px;">시작일시</th>
						<th style="min-width: 20px; width: 20px;"></th>
						<th style="min-width: 210px; width: 210px;">종료일시</th>
						<th style="min-width: 120px; width: 120px;">단가</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first"></td> <!-- No -->
						<td> <!-- 광고매체 -->
							<select name="new_media" id="new_media" class="form-control" required>
								<option value="">::선택::</option>
								<{foreach from=$adv_media_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 상품명 -->
							<select name="new_product" id="new_product" class="form-control" required>
								<option value="">::선택::</option>
								<{foreach from=$adv_product_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 진행상태 -->
							<select name="new_state" id="new_state" class="form-control" required>
								<option value="">::선택::</option>
								<{foreach from=$adv_state_option key=key item=label}>
									<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 매체대행사 -->
							<select name="new_agency" id="new_agency" class="form-control">
								<option value="">::선택::</option>
								<{foreach from=$adv_agency_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 수수료 -->
							<input type="text" name="new_fee_per" id="new_fee_per" class="form-control" value="" style="width: 50px; float: left;" />
							<span style="display: inline-block; float: left; line-height: 30px;margin-left: 5px;">%</span>
						</td>
						<td> <!-- 시작일시 -->
							<input type="text" name="new_adv_s_day" id="new_adv_s_day" class="date-picker form-control" value="" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" required />
							<select name="new_adv_s_hour" id="new_adv_s_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
									<option value="<{$hour}>"><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px;margin: 0 5px;">:</span>
							<select name="new_adv_s_min" id="new_adv_s_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
									<option value="<{$min}>"><{$min}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- ~ -->
							~
						</td>
						<td> <!-- 종료일시 -->
							<input type="text" name="new_adv_e_day" id="new_adv_e_day" class="date-picker form-control" value="" style="float: left;width: 90px;display: inline-block;margin-right: 10px;" required />
							<select name="new_adv_e_hour" id="new_adv_e_hour" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$hour_option item=hour}>
									<option value="<{$hour}>"><{$hour}></option>
								<{/foreach}>
							</select>
							<span style="float: left; display: inline-block; line-height: 32px; margin: 0 5px;">:</span>
							<select name="new_adv_e_min" id="new_adv_e_min" class="form-control" style="width:40px; float: left; padding: 0; font-size: 11px;">
								<{foreach from=$min_option item=min}>
									<option value="<{$min}>"><{$min}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 단가 -->
							<input type="text" name="new_price" id="new_price" class="form-control text-right" value="" onchange="inputNumberFormat(this)">
						</td>
					</tr>
					<tr>
						<td colspan="10">
							<button type="submit" class="btn_big_memo" style="width: 100%; padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;">추가하기</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<table class="table table-bordered" style="table-layout: fixed; margin-top: 10px; width: auto;">
		<colgroup>
			<col width="40px;"> <!-- checkbox -->
			<col width="80px;"> <!-- no/작성일 -->
			<col width="100px;"> <!-- 광고매체 -->
			<col width="100px;"> <!-- 상품명 -->
			<col width="100px;"> <!-- 진행상태 -->
			<col width="140px;"> <!-- 매체대행사 -->
			<col width="80px;"> <!-- 수수료 -->
			<col width="140px;"> <!-- 시작일시 -->
			<col width="30px;"> <!-- ~ -->
			<col width="140px;"> <!-- 종료일시 -->
			<col width="100px;"> <!-- 단가 -->
			<col width="110px;"> <!-- 실 집행단가 -->
			<col width="140px;"> <!-- 비고 -->
			<col width="200px;"> <!-- 신청자 -->
			<col width="70px;"> <!-- 작성자 -->
			<col width="140px;"> <!-- 이벤트 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="16" style="padding: 5px;">
					<form name="excel_insert_frm" id="excel_insert_frm" action="advertising_excel_insert.php" method="post" enctype="multipart/form-data" style="float: left; width: auto;">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="excel_type" value="1">
						<input type="hidden" name="media_type" value="265">
						<strong style="margin-right: 10px;">#타임보드 업로드</strong>
						<{foreach from=$adv_type_option key=key item=label}>
							<input type="radio" name="time_type" id="time_type_<{$key}>" value="<{$key}>" <{if $key == '1'}>checked<{/if}>>
							<label for="time_type_<{$key}>"><{$label}></label>
						<{/foreach}>
						<input type="file" name="excel_file" id="time_excel_file" style="width:250px; border: 1px solid #cccccc;">
						<button type="button" class="btn_file" onclick="return excel_insert('time');" style="padding:3px 10px">UPLOAD</button>
						<a href="/v1/uploads/document/advertising/sample.xlsm" download="타임보드 sample.xlsm">[sample download]</a>
					</form>

					<form name="excel_insert_da_frm" id="excel_insert_da_frm" action="advertising_excel_insert.php" method="post" enctype="multipart/form-data" style="float: left; margin-left:100px; width: auto;">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="excel_type" value="2">
						<input type="hidden" name="media_type" value="265">
						<strong style="margin-right: 10px;">#스페셜DA 업로드</strong>
						<{foreach from=$adv_type_option key=key item=label}>
							<input type="radio" name="time_type" id="da_type_<{$key}>" value="<{$key}>" <{if $key == '1'}>checked<{/if}>>
							<label for="da_type_<{$key}>"><{$label}></label>
						<{/foreach}>
						<input type="file" name="excel_file" id="da_excel_file" style="width:250px; border: 1px solid #cccccc;">
						<button type="button" class="btn_file" onclick="return excel_insert('da');" style="padding:3px 10px">UPLOAD</button>
						<a href="/v1/uploads/document/advertising/special_sample.xlsx" download="스폐셜 DA sample.xlsx">[sample download]</a>
					</form>
				</td>
			</tr>
			<tr style="border-top: 0;">
				<td colspan="11" style="padding: 5px; text-align: left;">
					<{foreach from=$adv_quick_search_option key=key item=label}>
						<button type="button" class="btn <{if $quick_btn == $key}>quick_btn_active<{/if}>" onclick="quickSearch('<{$key}>')" style="font-size: 12px; background: #333; color: white; cursor: pointer; font-weight: bold; width: 140px;">
							<{$label}>(<{$adv_check_total_list[$key]|number_format:0}>)건
						</button>
					<{/foreach}>
				</td>
				<td style="text-align: right; color: red; font-weight: bold;">
					<{if $sch_state == '3'}>
						₩ <{$adv_check_confirm_total|number_format:0}>
					<{/if}>
				</td>
				<td colspan="3"></td>
				<td style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right; margin-left: 20px;">
						<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" class="first" style="height: 30px;">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col">no<br/>작성자</th>
				<th scope="col">광고매체</th>
				<th scope="col">상품명</th>
				<th scope="col">
					진행상태<br/>
					<select name="mod_state" id="mod_state" class="form-control" onchange="modifyMultiState(); return false;" style="font-size: 12px;">
						<option value="">::선택::</option>
						<{foreach from=$adv_state_option key=key item=label}>
							<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;"><{$label}></option>
						<{/foreach}>
					</select>
				</th>
				<th scope="col">
					매체대행사<br/>
					<select name="mod_agency" id="mod_agency" class="form-control" onchange="modifyMultiAgency(); return false;" style="font-size: 12px;">
						<option value="">::선택::</option>
						<{foreach from=$adv_agency_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
						<{/foreach}>
					</select>
				</th>
				<th scope="col">수수료</th>
				<th scope="col">시작일시</th>
				<th scope="col">~</th>
				<th scope="col">종료일시</th>
				<th scope="col">단가</th>
				<th scope="col">실 집행단가<br/>(광고비-대행수수료)</th>
				<th scope="col">비고</th>
				<th scope="col">신청자</th>
				<th scope="col">작성자</th>
				<th scope="col">이벤트</th>
			</tr>
		</thead>
		<tbody>
			<{if $adv_management_list}>
				<{foreach from=$adv_management_list item=adv_management}>
					<tr>
						<td class="first text-center"> <!-- checkbox -->
							<input type="checkbox" name="select_check[]" class="select_check" value="<{$adv_management.am_no}>">
						</td>
						<td class="text-center"> <!-- no/작성일 -->
							<{$adv_management.am_no}><br/>
							<span style="color: blue;"><{$adv_management.reg_day}></span>
							<span style="color: green;"><{$adv_management.reg_time}></span>
						</td>
						<td class="text-center"> <!-- 광고매체 -->
							<{$adv_management.media_name}>
						</td>
						<td class="text-center"> <!-- 상품명 -->
							<select name="f_product" class="form-control" onchange="save_el('<{$adv_management.am_no}>', 'f_product', this)" style="width:99%;">
								<option value="">::선택::</option>
								<{foreach from=$adv_product_option key=key item=label}>
									<option value="<{$key}>" <{if $adv_management.product == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center"> <!-- 진행상태 -->
							<select name="f_state" class="form-control" onchange="modifyState('<{$adv_management.am_no}>', this)" style="width:99%; color: <{$adv_management.state_color}>">
								<option value="">::선택::</option>
								<{foreach from=$adv_state_option key=key item=label}>
									<option value="<{$key}>" <{if $adv_management.state == $key}>selected<{/if}> style="color:<{$adv_state_color_option[$key]}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center"> <!-- 매체대행사 -->
							<select name="f_agency" class="form-control" onchange="modifyAgency('<{$adv_management.am_no}>', this)" style="width:99%;">
								<option value="">::선택::</option>
								<{foreach from=$adv_agency_option key=key item=label}>
									<option value="<{$key}>" <{if $adv_management.agency == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center"> <!-- 수수료 -->
							<input type="text" name="f_fee_per" class="form-control" value="<{$adv_management.fee_per|number_format:1}>" onchange="save_el('<{$adv_management.am_no}>','f_fee_per',this);" style="width: 50px; float: left;"/>
							<span style="display: inline-block; float: left; line-height: 35px;">%</span>
						</td>
						<td class="text-center"> <!-- 시작일시 -->
							<{$adv_management.adv_s_date_text}>
						</td>
						<td class="text-center"> <!-- ~ -->
							~
						</td>
						<td class="text-center"> <!-- 종료일시 -->
							<{$adv_management.adv_e_date_text}>
						</td>
						<td class="text-right" style="color: red; font-weight: bold;"> <!-- 단가 -->
							₩ <{$adv_management.price|number_format:0}>
						</td>
						<td class="text-right" style="color: red; font-weight: bold;"> <!-- 실 집행단가 -->
							<{if $adv_management.state == '3'}>
								₩ <{$adv_management.cal_price|number_format:0}>
							<{/if}>
						</td>
						<td class="text-center" style="color: red;"> <!-- 비고 -->
							<textarea name="f_notice" class="form-control" style="font-size: 12px; padding: 3px; width: 99%; height: 30px;" disabled><{$adv_management.notice}></textarea>
						</td>
						<td class="text-left"> <!-- 신청자 -->
							<{if $adv_management.application_list}>
								<div style="display: inline-block; float: left; width: 140px;">
								<{foreach from=$adv_management.application_list item=application_data}>
									<span><{$application_data.s_name}></span>
									<{if $application_data.s_no == $session_s_no && $adv_management.state == '1'}>
										<button type="button" class="app_del_btn" onclick="delApplication('<{$application_data.aa_no}>')">X</button>
									<{/if}>
								<{/foreach}>
								</div>
							<{/if}>

							<{if !$adv_management.in_application && $adv_management.state == '1'}>
								<button type="button" class="btn btn-dark" onclick="addApplication('<{$adv_management.am_no}>')" style="float: right; font-size: 12px; padding: 3px 5px; font-weight: bold;">신청</button>
							<{/if}>
						</td>
						<td class="text-center"> <!-- 작성자 -->
							<{$adv_management.reg_s_name}>
						</td>
						<td class="text-center"> <!-- 이벤트 -->
							<{if $adv_management.event_cnt > 0}>
							<a href="advertising_event_management.php?sch_event_s_date=<{$adv_management.adv_s_day}>&sch_reg_name=&sch_am_no=<{$adv_management.am_no}>" style="cursor: pointer;">
								이벤트보기
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{elseif $adv_management.state == '3'}>
								<button type="button" class="btn btn-dark" onclick="addEvent('<{$adv_management.am_no}>')" style="font-size: 12px; font-weight: bold;" >이벤트 추가</button>
							<{/if}>
						</td>
					</tr>
				<{/foreach}>
				<tr>
					<td colspan="16" class="paging_wrap">
						<div class="paging_wrap">
							<{$page_list}>
						</div>
					</td>
				</tr>
			<{else}>
				<tr>
					<td colspan="16" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<div>
		<span style="color: gray; font-size: 14px; line-height: 30px;">신청 구좌 부킹 요청 대상</span>
		<button type="button" class="btn btn-dark" onclick="cancelApplication('<{$adv_check_total_list[6]}>')" style="margin-left: 10px; font-size: 12px; padding: 5px 10px; font-weight: bold;">미신청(종료) 일괄처리</button>
		<button type="button" class="btn btn-dark" onclick="progressApplication()" style="margin-left: 10px; font-size: 12px; padding: 5px 10px; font-weight: bold;">부킹중 일괄처리</button>
		<div>
			<textarea name="f_application_text" class="form-control" style="margin-top: 10px; width: 1680px; height: 260px; overflow-y: scroll;" readonly><{$application_text}></textarea>
		</div>
	</div>
</div>

<form name="chk_form" action="advertising_management.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_am_no_list" class="chk_am_no_list">
	<input type="hidden" name="chk_am_no" class="chk_am_no">
	<input type="hidden" name="chk_value" class="chk_value">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#new_media").change(function(){
			if($(this).val() == '266'){
				$("#new_product").val('3').trigger("change");
			}
		});

		$("#new_agency").change(function(){
			var agency = $(this).val();
			if($("#new_product").val()){
				checkFeePer(agency, $("#new_product").val());
			}
		});

		$("#new_product").change(function(){
			var product = $(this).val();
			if($("#new_agency").val()){
				checkFeePer($("#new_agency").val(), product);
			}
		});
	});

	function searchList(){
		document.search_form.quick_btn.value='';
		document.search_form.submit();
	}

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("advertising_management.php", {am_no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

	function addApplication(am_no)
	{
		if(confirm("신청 하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'add_application';
			document.chk_form.chk_am_no.value 	= am_no;
			document.chk_form.submit();
		}

		return false;
	}

	function delApplication(aa_no)
	{
		if(confirm("삭제 하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'del_application';
			document.chk_form.chk_am_no.value 	= aa_no;
			document.chk_form.submit();
		}

		return false;
	}

	function advDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".adv_date_btn").removeClass('adv_active');
		$(".adv_"+type+"_btn").addClass('adv_active');

		$("#sch_adv_s_date").val(todate);
		$("#sch_adv_e_date").val(typedate);

		$("#sch_adv_date_type").val(type);
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,'');
		str = str.replace(/(^\s*)|(\s*$)/g, "");
		return (new Number(str));
	}

	function excel_insert(type)
	{
		if(type == 'da'){
			var f = document.forms['excel_insert_da_frm'];
		}else{
			var f = document.forms['excel_insert_frm'];
		}

		if(!$("#"+type+"_excel_file").val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkAdvSelect()
	{
		var chk_am_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_am_no_list += ($(item).val() + ",");
			}
		});

		if(chk_am_no_list != ""){
			chk_am_no_list = chk_am_no_list.slice(0, -1);
		}

		$(".chk_am_no_list").val(chk_am_no_list);
	}

	function modifyState(am_no, obj)
	{

		if($(obj).val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		var msg = "진행상태를 변경하시겠습니까?";
		if($(obj).val() == '3'){
			msg = "정말로 입찰확정 처리 하나요?\r\n신청자에게 입찰확정 알림톡을 발송하고, 캘린더에 추가 됩니다.\r\n취소/중단 시 신청자에게 별도 안내하고 캘린더는 직접 수정해주세요."
		}

		if(confirm(msg))
		{
			document.chk_form.process.value 	= 'modify_state';
			document.chk_form.chk_am_no.value 	= am_no;
			document.chk_form.chk_value.value 	= $(obj).val();
			document.chk_form.submit();
		}

		return false;
	}

	function modifyMultiState()
	{
		checkAdvSelect();

		if($(".chk_am_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_state").val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		var msg = "진행상태를 변경하시겠습니까?";
		if($("#mod_state").val() == '3'){
			msg = "정말로 입찰확정 처리 하나요?\r\n신청자에게 입찰확정 알림톡을 발송하고, 캘린더에 추가 됩니다.\r\n취소/중단 시 신청자에게 별도 안내하고 캘린더는 직접 수정해주세요."
		}

		if(confirm(msg))
		{
			document.chk_form.process.value 	= 'modify_multi_state';
			document.chk_form.chk_value.value 	= $("#mod_state").val();
			document.chk_form.submit();
		}

		return false;
	}

	function modifyAgency(am_no, obj)
	{

		if($(obj).val() == ''){
			alert("매체대행사를 선택 후 이용해주세요");
			return false;
		}

		if(confirm("매체대행사를 변경하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'modify_agency';
			document.chk_form.chk_am_no.value 	= am_no;
			document.chk_form.chk_value.value 	= $(obj).val();
			document.chk_form.submit();
		}

		return false;
	}

	function modifyMultiAgency()
	{
		checkAdvSelect();

		if($(".chk_am_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_agency").val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("매체대행사를 설정하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'modify_multi_agency';
			document.chk_form.chk_value.value 	= $("#mod_agency").val();
			document.chk_form.submit();
		}

		return false;
	}

	function addAdvertise(obj)
	{
		var s_date = obj.new_adv_s_day.value + " " + obj.new_adv_s_hour.value + ":" + obj.new_adv_s_min.value + ":00";
		var e_date = obj.new_adv_e_day.value + " " + obj.new_adv_e_hour.value + ":" + obj.new_adv_e_min.value + ":00";

		if(s_date > e_date){
			alert('종료일시를 재설정해주세요');
			return false;
		}

		if(s_date == e_date){
			alert('시작일시와 종료일시를 다르게 설정해주세요');
			return false;
		}

		return true;
	}

	function checkFeePer(agency, product)
	{
		$.ajax({
			url: "/v1/api/advertising.fee.api.php",
			type: 'POST',
			data: {agency: agency, product: product}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result 	 = jsonData.result;
			var fee_per  = jsonData.fee_per;

			if(result == true && fee_per > 0)
			{
				$("#new_fee_per").val(fee_per);
			}
		});
	}

	function addEvent(am_no)
	{
		if("이벤트를 추가하시겠습니까?"){
			location.href='advertising_event_management.php?new_am_no='+am_no;
		}
	}

	function quickSearch(type)
	{
		var f = document.forms['search_form'];
		resetSearch();

		f.quick_btn.value=type;

		if(type == '1') {
			f.sch_state.value='1';
		}else if(type == '2'){
			f.sch_state.value='1';
			f.sch_is_application.value='1';
		}else if(type == '3'){
			f.sch_state.value='3';
		}else if(type == '4'){
			f.sch_state.value='1';
			if(!$("#sch_application_my").is(":checked")){
				$("#sch_application_my").trigger("click");
			}
		}else if(type == '5'){
			f.sch_state.value='3';
			if(!$("#sch_application_my").is(":checked")){
				$("#sch_application_my").trigger("click");
			}
		}

		f.submit();
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else if(type == 'text'){
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

	function cancelApplication(cancel_cnt)
	{
		if(confirm("신청이 없는 " + cancel_cnt + "건을 모두 미신청(종료)로 처리합니까?"))
		{
			document.chk_form.process.value = 'cancel_application';
			document.chk_form.submit();
		}
	}

	function progressApplication()
	{
		if(confirm("부킹중으로 일괄 처리하시겠습니까?"))
		{
			document.chk_form.process.value = 'progress_application';
			document.chk_form.submit();
		}
	}
</script>

</body>
</html>
