<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.adv_active{background: #3093c2 !important;}

	.result_btn{background-color: #EEE; font-weight: bold; width: 156px; height: 30px; margin: 0; line-height: 14px; float: left; font-size: 14px; border-radius: unset; border: 1px solid #999;}
	.result_active_btn{background-color: #CCC;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">브랜드별 괄고 결과 분석을 위한 통계정보를 볼 수 있습니다.</span>

	<form name="search_form" id="search_form" class="form-inline" action="advertising_result_stats.php" method="get" autocomplete="off" style="display: block; margin-top: 5px;">
		<div style="overflow: hidden; margin-top: 20px;">
			<input type="hidden" name="sch_result_type" id="sch_result_type" value="<{$sch_result_type}>">
			<button type="button" id="result_btn_date" class="btn result_btn" onclick="openResultIframe('date');">CPC(날짜)</button>
			<button type="button" id="result_btn_day" class="btn result_btn" onclick="openResultIframe('day');">CPC(요일)</button>
			<button type="button" id="result_btn_hour" class="btn result_btn" onclick="openResultIframe('hour');">CPC(시간)</button>
		</div>

		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_adv_s_date">시작일시</label>
				<input type="text" name="sch_adv_s_date" id="sch_adv_s_date" class="date-picker form-control" value="<{$sch_adv_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_adv_e_date" id="sch_adv_e_date" class="date-picker form-control" value="<{$sch_adv_e_date}>" style="margin-left: 5px;" />

				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
				<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
				<input type="hidden" name="sch_adv_date_type" id="sch_adv_date_type" value="<{$sch_adv_date_type}>">

				<button type="button" class="btn_small adv_date_btn adv_today_btn <{if $sch_adv_date_type == 'today'}>adv_active<{/if}>" onclick="advDateVal('today');">오늘</button>
				<button type="button" class="btn_small adv_date_btn adv_week_btn <{if $sch_adv_date_type == 'week'}>adv_active<{/if}>" onclick="advDateVal('week');">1주</button>
				<button type="button" class="btn_small adv_date_btn adv_month_btn <{if $sch_adv_date_type == 'month'}>adv_active<{/if}>" onclick="advDateVal('month');">1달</button>
				<button type="button" class="btn_small adv_date_btn adv_months_btn <{if $sch_adv_date_type == 'months'}>adv_active<{/if}>" onclick="advDateVal('months');">3달</button>
				<button type="button" class="btn_small adv_date_btn adv_year_btn <{if $sch_adv_date_type == 'year'}>adv_active<{/if}>" onclick="advDateVal('year');">1년</button>

				<label for="sch_date_kind" style="margin-left: 20px;">요일</label>
				<select name="sch_date_kind" id="sch_date_kind" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$date_kind_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_date_kind != "" && $sch_date_kind == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_date_s_time">시작시간</label>
				<select name="sch_date_s_time" id="sch_date_s_time" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$hour_kind_option item=label}>
					<option value="<{$label}>" <{if $sch_date_s_time != "" && $sch_date_s_time == $label}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_date_e_time">종료시간</label>
				<select name="sch_date_e_time" id="sch_date_e_time" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$hour_kind_option item=label}>
					<option value="<{$label}>" <{if $sch_date_e_time != "" && $sch_date_e_time == $label}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 60px;" />

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_media_option key=key item=label}>
						<{if $key == 265}>
						<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
						<{/if}>
					<{/foreach}>
				</select>

				<label for="sch_product">상품명</label>
				<select name="sch_product" id="sch_product" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_product_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_product == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_state">진행상태</label>
				<select name="sch_state" id="sch_state" class="form-control" style="color: <{$adv_state_color_option[$sch_state]}>;">
					<option value="">::전체::</option>
					<{foreach from=$adv_state_option key=key item=label}>
						<{if $key == '3' || $key == '5'}>
						<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
						<{/if}>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_complete">차액</label>
				<select name="sch_is_complete" id="sch_is_complete" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_complete == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div class="iframe_content">

	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		openResultIframe('<{$sch_result_type}>');
	});

	function searchList(){
		document.search_form.sch_quick_type.value='';
		document.search_form.submit();
	}

	function advDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".adv_date_btn").removeClass('adv_active');
		$(".adv_"+type+"_btn").addClass('adv_active');

		$("#sch_adv_s_date").val(typedate);
		$("#sch_adv_e_date").val(todate);

		$("#sch_adv_date_type").val(type);
	}

	function openResultIframe(type)
	{
		var iframe = "";

		if(type == 'date'){
			iframe = "<iframe src='advertising_result_stats_date_iframe.php?<{$search_url}>' width='1330' height='500' frameborder='0' id='adv_result_stats_date_iframe' onload='fixIframeHeight(this)'></iframe>";
		}else if(type == 'day'){
			iframe = "<iframe src='advertising_result_stats_day_iframe.php?<{$search_url}>' width='1330' height='500' frameborder='0' id='adv_result_stats_day_iframe' onload='fixIframeHeight(this)'></iframe>";
		}else if(type == 'hour'){
			iframe = "<iframe src='advertising_result_stats_hour_iframe.php?<{$search_url}>' width='1330' height='500' frameborder='0' id='adv_result_stats_hour_iframe' onload='fixIframeHeight(this)'></iframe>";
		}

		$(".result_btn").removeClass("result_active_btn");
		$("#result_btn_"+type).addClass("result_active_btn");
		$("#sch_result_type").val(type);

		$(".iframe_content").html(iframe);
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+100)+'px'
	}
</script>

</body>
</html>
