<{include file="inc/boot_navibar.html"}>

<link href='<{$dir_location}>css/calendar/calendar.css' rel='stylesheet' />
<script src='<{$dir_location}>js/calendar/calendar.js'></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<style>
    #calendar {max-width: 1680px; margin: 30px 0; font-weight: bold;}
    .fc-toolbar-title{font-weight: bold;}
    .fc-event-time{display: none !important;}
    .fc-event-title{font-weight: bold; font-size: 11px;}
    .btn{font-size: 15px;color: white; min-width: 100px;}
    .btn-grey{background: darkgrey;}
    th.fc-day{color: white; height: 30px; vertical-align: middle;}
    th.fc-day{background: #9a9a9a;}
    th.fc-day-sat{background: #9edefd;}
    td.fc-day-sat{color: blue; background: #9edefd4a;}
    th.fc-day-today{color: black;}
    th.fc-day-sun{background: #ff9a9a !important; color: red;}
    td.fc-day-sun{background: #ff9a9a38 !important; color: red;}
    .fc .fc-daygrid-day-bg .fc-bg-event{opacity: 1;}
    .fc .fc-bg-event .fc-event-title{color: red; font-style: unset; font-size: 13px;}
    #calendar-modal{padding: 20px; height: auto; margin: 0; max-width: unset; min-width: 600px; width: auto; overflow: unset;}
    .modal-content{border: 0;}
    .modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
    .modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
    .modal-content table{margin: 0;}
    .fc-daygrid-day-number{cursor: pointer;}

    .form-control{font-size: 12px; padding: 5px;}
    .form-group .form-control{margin-right: 15px;}
    .form-group label{margin-right: 10px;}
    .form-group .custom-combobox .form-control{margin-right: 5px;}
    .form-control{font-size: 12px; padding: 5px;}
    .form-group .form-control{margin-right: 15px;}
    .form-group .custom-combobox .form-control{margin-right: 5px;}
    .fc-view-harness{min-height: 900px;}
    .blocker{max-height: 1500px;}
    .quick_btn_active{background: #3093c2 !important;}
</style>

<div class="admin_content">
    <h2 class="title" style="margin-bottom: 5px;">
        <span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
        <{$nav_title}>
    </h2>

    <form name="search_form" id="search_form" class="form-inline" action="advertising_calendar.php" method="get" autocomplete="off">
        <input type="hidden" name="quick_btn" id="quick_btn" value="<{$quick_btn}>" />
        <div class="form-group" style="margin-bottom: 10px;">
            <label for="sch_no">no</label>
            <input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 60px;" />

            <label for="sch_media">광고매체</label>
            <select name="sch_media" id="sch_media" class="form-control">
                <option value="">::전체::</option>
                <{foreach from=$adv_media_option key=key item=label}>
                <option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_product">상품명</label>
            <select name="sch_product" id="sch_product" class="form-control">
                <option value="">::전체::</option>
                <{foreach from=$adv_product_option key=key item=label}>
                <option value="<{$key}>" <{if $sch_product == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_state">진행상태</label>
            <select name="sch_state" id="sch_state" class="form-control" style="color: <{$adv_state_color_option[$sch_state]}>;">
                <option value="">::전체::</option>
                <{foreach from=$adv_state_option key=key item=label}>
                <option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_agency">매체대행사</label>
            <select name="sch_agency" id="sch_agency" class="form-control">
                <option value="">::전체::</option>
                <{foreach from=$adv_agency_option key=key item=label}>
                <option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_application">신청자</label>
            <input type="text" name="sch_application" id="sch_application" class="form-control" value="<{$sch_application}>" style="width: 120px; margin-right: 5px;" />
            <input type="checkbox" name="sch_application_my" id="sch_application_my" value="1" <{if $sch_application_my == 1}>checked<{/if}>>
            <label for="sch_application_my">my</label>

            <label for="sch_is_application">신청자</label>
            <select name="sch_is_application" id="sch_is_application" class="form-control">
                <option value="">::전체::</option>
                <{foreach from=$is_exist_option key=key item=label}>
                <option value="<{$key}>" <{if $sch_is_application == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_notice">비고</label>
            <input type="text" name="sch_notice" id="sch_notice" class="form-control" value="<{$sch_notice}>" style="width: 120px;" />

            <button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
            
            <a href="advertising_management.php?<{$search_url}>" style="margin: 0 5px;">
                <img src="./images/icon/work_list_off.png">
            </a>
            <a href="advertising_calendar.php?<{$search_url}>" style="margin: 0 5px;">
                <img src="./images/icon/work_cal_on.png">
            </a>
        </div>
    </form>

    <div>
        <{foreach from=$adv_quick_search_option key=key item=label}>
        <button type="button" class="btn <{if $quick_btn == $key}>quick_btn_active<{/if}>" onclick="quickSearch('<{$key}>')" style="font-size: 12px; background: #333; color: white; cursor: pointer; font-weight: bold; width: 140px;">
            <{$label}>(<{$adv_check_total_list[$key]|number_format:0}>)건
        </button>
        <{/foreach}>
    </div>

    <div id='calendar'></div>
</div>

<div class="modal" id="calendar-modal">
    <div class="modal-content">
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl   = document.getElementById('calendar');
        var calendarData = [];
        var calendarList = <{$application_management_list}>;
        var holidayList  = <{$calendar_holiday_list}>;

        $.each(holidayList, function(idx, item){
            calendarData.push({
                groupId: "holiday",
                title: item['adv_title'],
                start: item['adv_s_date'],
                end: item['adv_e_date'],
                color: "#ffe9e9",
                display: 'background',
                allDay: true
            });
        });

        $.each(calendarList, function(idx, item){
            calendarData.push({
                groupId:item['am_no'],
                title: item['adv_title'],
                start: item['adv_s_date'],
                end: item['adv_e_date'],
                color: item['color'],
                overlap: false,
            });
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            expandRows: true,
            initialView: 'timeGridWeek',
            slotMinTime: '00:00',
            slotMaxTime: '24:00',
            initialDate: '<{$cur_date}>',
            locale: 'ko',
            firstDay: 1,
            navLinks: false,
            editable: true,
            dayMaxEvents: true,
            selectable: false,
            nowIndicator: true,
            droppable: false,
            eventClick: function(arg) {
                var sel_date    = new Date(arg.event.startStr);
                var groupId     = arg.event.groupId;
                var sel_day     = sel_date.getFullYear() + "-" + ('0' + (sel_date.getMonth() + 1)).slice(-2) + "-" + ('0' + sel_date.getDate()).slice(-2);

                if(groupId != '' && groupId != 'holiday')
                {
                    $(".modal-content").html("");
                    var iframe = "<iframe src='advertising_calendar_regist.php?sel_day="+sel_day+"&am_no="+groupId+"' name='advertising_calendar_regist' id='advertising_calendar_regist' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";
                    $(".modal-content").html(iframe);
                    $("#calendar-modal").modal({fadeDuration: 250});
                }
            },
            eventDidMount: function(info) {
                tippy(info.el, {
                    content:  info.event.title,
                });
            },
            events: calendarData
        });

        calendar.render();
    });

    function fixIframeHeight(obj)
    {
        var iframeHeight = obj.contentWindow.document.body.scrollHeight + 20;

        if(iframeHeight > 800){
            iframeHeight = 880;
        }

        obj.style.height=iframeHeight+'px';
    }

    function searchList(){
        document.search_form.quick_btn.value='';
        document.search_form.submit();
    }

    function quickSearch(type)
    {
        var f = document.forms['search_form'];
        resetSearch();
        f.quick_btn.value=type;

        if(type == '1') {
            f.sch_state.value='1';
        }else if(type == '2'){
            f.sch_state.value='1';
            f.sch_is_application.value='1';
        }else if(type == '3'){
            f.sch_state.value='3';
        }else if(type == '4'){
            f.sch_state.value='1';
            if(!$("#sch_application_my").is(":checked")){
                $("#sch_application_my").trigger("click");
            }
        }else if(type == '5'){
            f.sch_state.value='3';
            if(!$("#sch_application_my").is(":checked")){
                $("#sch_application_my").trigger("click");
            }
        }

        f.submit();
    }

    function resetSearch()
    {
        var inputList = $("#search_form").find('input');
        var selList   = $("#search_form").find('select');

        $.each(inputList, function(idx, input){
            var type = $(input).attr('type');

            if(type == 'checkbox'){
                if($(input).is(":checked")){
                    $(input).click();
                }
            } else if(type == 'text'){
                $(input).val("");
            }
        });

        $.each(selList, function(idx, select){
            $(select).val("");
        });
    }
</script>
</body>
</html>
