<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.adv_active{background: #3093c2 !important;}

	.filebox{overflow: hidden; position: relative;}
	.filebox input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
	.filebox label {display: inline-block; padding: .5em .75em; color: #FFF; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #f77b18; cursor: pointer; border: 1px solid #f77b18; border-bottom-color: #e2e2e2; border-radius: .25em; margin: 0;}
	.filebox img{width: 65px; height: 50px; float: left;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">브랜드별 광고비, 대행수수료와 노출수, 클릭수, 클릭률 등을 볼 수 있습니다.</span>

	<form name="search_form" id="search_form" class="form-inline" action="advertising_result_list.php" method="get" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_adv_s_date">시작일시</label>
				<input type="text" name="sch_adv_s_date" id="sch_adv_s_date" class="date-picker form-control" value="<{$sch_adv_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_adv_e_date" id="sch_adv_e_date" class="date-picker form-control" value="<{$sch_adv_e_date}>" style="margin-left: 5px;" />

				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
				<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
				<input type="hidden" name="sch_adv_date_type" id="sch_adv_date_type" value="<{$sch_adv_date_type}>">

				<button type="button" class="btn_small adv_date_btn adv_today_btn <{if $sch_adv_date_type == 'today'}>adv_active<{/if}>" onclick="advDateVal('today');">오늘</button>
				<button type="button" class="btn_small adv_date_btn adv_week_btn <{if $sch_adv_date_type == 'week'}>adv_active<{/if}>" onclick="advDateVal('week');">1주</button>
				<button type="button" class="btn_small adv_date_btn adv_month_btn <{if $sch_adv_date_type == 'month'}>adv_active<{/if}>" onclick="advDateVal('month');">1달</button>
				<button type="button" class="btn_small adv_date_btn adv_months_btn <{if $sch_adv_date_type == 'months'}>adv_active<{/if}>" onclick="advDateVal('months');">3달</button>
				<button type="button" class="btn_small adv_date_btn adv_year_btn <{if $sch_adv_date_type == 'year'}>adv_active<{/if}>" onclick="advDateVal('year');">1년</button>

				<label for="sch_date_kind" style="margin-left: 20px;">요일</label>
				<select name="sch_date_kind" id="sch_date_kind" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$date_kind_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_date_kind != "" && $sch_date_kind == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_date_s_time">시작시간</label>
				<select name="sch_date_s_time" id="sch_date_s_time" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$hour_kind_option item=label}>
						<option value="<{$label}>" <{if $sch_date_s_time != "" && $sch_date_s_time == $label}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_date_e_time">종료시간</label>
				<select name="sch_date_e_time" id="sch_date_e_time" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$hour_kind_option item=label}>
						<option value="<{$label}>" <{if $sch_date_e_time != "" && $sch_date_e_time == $label}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 60px;" />

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_media_option key=key item=label}>
						<{if $key == 265}>
						<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
						<{/if}>
					<{/foreach}>
				</select>

				<label for="sch_product">상품명</label>
				<select name="sch_product" id="sch_product" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_product_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_product == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_state">진행상태</label>
				<select name="sch_state" id="sch_state" class="form-control" style="color: <{$adv_state_color_option[$sch_state]}>;">
					<option value="">::전체::</option>
					<{foreach from=$adv_state_option key=key item=label}>
						<{if $key == '3' || $key == '5'}>
						<option value="<{$key}>" style="color: <{$adv_state_color_option[$key]}>;" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
						<{/if}>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$adv_agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_complete">차액</label>
				<select name="sch_is_complete" id="sch_is_complete" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_complete == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div style="margin: 20px 0; overflow: hidden;">
		<form name="new_result_frm" id="new_result_frm" action="advertising_result_insert.php" method="post" enctype="multipart/form-data" style="float: left; margin-right: 10px;">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<span style="width:250px;">
				<strong>#결과보고 엑셀 업로드 : </strong>
				<input type="file" name="result_file" id="result_file" style="width:350px; border: 1px solid #cccccc;">
				<button type="button" onclick="return resultInsert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
				<a href="/v1/uploads/document/advertising/result_sample.csv" download="결과보고.csv">[sample download]</a>
			</span>
		</form>
	</div>

	<table class="table table-bordered" style="table-layout: fixed; margin-top: 10px;">
		<colgroup>
			<col width="80px;"> <!-- no/작성일 -->
			<col width="90px;"> <!-- 광고매체 -->
			<col width="70px;"> <!-- 상품명 -->
			<col width="70px;"> <!-- 진행상태 -->
			<col width="100px;"> <!-- 매체대행사 -->
			<col width="50px;"> <!-- 수수료 -->
			<col width="100px;"> <!-- 시작일시 -->
			<col width="20px;"> <!-- ~ -->
			<col width="100px;"> <!-- 종료일시 -->
			<col width="110px;"> <!-- 단가 -->
			<col width="120px;"> <!-- 브랜드 -->
			<col width="90px;"> <!-- 노출수/클릭수/클릭률 -->
			<col width="130px;"> <!-- 광고비-대행수수료=VAT별도(VAT포함) -->
			<col width="120px;"> <!-- 광고상품 -->
			<col width="100px;"> <!-- 상품유형 -->
			<col width="200px;"> <!-- 광고소재 -->
			<col width="140px;"> <!-- 소재이미지 -->
			<col width="80px;"> <!-- 노출수 -->
			<col width="60px;"> <!-- 클릭수 -->
			<col width="50px;"> <!-- 클릭률 -->
			<col width="130px;"> <!-- 광고비 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="11">
					<button type="button" class="btn btn-dark" onclick="location.href='/v1/excel_advertising_result_list.php?<{$search_url}>'" style="font-size: 12px; float: left; font-weight: bold;">엑셀다운로드</button>
				</td>

				<{if $adv_result_total_list}>
					<td class="text-right" style="font-weight: bold;">
						<{$adv_result_total_list['total_impressions']|number_format:0}><br/>
						<{$adv_result_total_list['total_click_cnt']|number_format:0}><br/>
						<{$adv_result_total_list['avg_click_per']|number_format:2}>%
					</td>
					<td class="text-right">
						₩ <{$adv_result_total_list['total_adv_price']|number_format:0}><br/>
						<span style="color: blue;">-₩ <{$adv_result_total_list['total_fee_price']|number_format:0}></span><br/>
						<span>₩ <{$adv_result_total_list['total_cal_price']|number_format:0}></span><br/>
						<span style="font-size:13px; font-weight: bold;">(₩ <{$adv_result_total_list['total_cal_price_vat']|number_format:0}>)</span>
					</td>
					<td colspan="3"></td>
				<{else}>
					<td colspan="4"></td>
				<{/if}>
				<td style="padding: 5px; text-align: left; vertical-align: bottom;" colspan="2">
					<button type="button" onclick="sort_search('adv_s_date')" style="float: left; line-height: 26px;">최근진행일순<{if $ord_type == 'adv_s_date'}><span style="color:red;"><{if $ord_type == 'adv_s_date' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'adv_s_date' && $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: left;  margin-left: 20px;">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<th scope="col" class="first" style="height: 30px;">no<br/>작성일</th>
				<th scope="col">광고매체</th>
				<th scope="col">상품명</th>
				<th scope="col">진행상태</th>
				<th scope="col">매체대행사</th>
				<th scope="col">수수료</th>
				<th scope="col">시작일시</th>
				<th scope="col">~</th>
				<th scope="col">종료일시</th>
				<th scope="col">단가<br/>광고비</th>
				<th scope="col">브랜드</th>
				<th scope="col">노출수<br/>클릭수<br/>클릭률</th>
				<th scope="col" class="text-right">광고비<br/>-대행수수료<br/>=VAT별도<br/>(VAT포함)</th>
				<th scope="col">광고상품</th>
				<th scope="col">상품유형</th>
				<th scope="col">광고소재</th>
				<th scope="col">소재이미지</th>
				<th scope="col">노출수</th>
				<th scope="col">클릭수</th>
				<th scope="col">클릭률</th>
				<th scope="col">광고비</th>
			</tr>
		</thead>
		<tbody>
			<{if $adv_management_list}>
				<{foreach from=$adv_management_list item=adv_management}>
					<tr>
						<td class="first text-center"> <!-- no/작성일 -->
							<{$adv_management.am_no}><br/>
							<span style="color: blue;"><{$adv_management.reg_day}></span>
							<span style="color: green;"><{$adv_management.reg_hour}></span>
							<{if permissionNameCheck($session_permission,"마스터관리자") && $adv_management.result_list}>
								<button type="button" class="btn btn-dark" onclick="resetApplicationResult('<{$adv_management.am_no}>')" style="font-size: 12px; font-weight: bold;">초기화</button>
							<{/if}>
						</td>
						<td class="text-center"> <!-- 광고매체 -->
							<{$adv_management.media_name}>
						</td>
						<td class="text-center"> <!-- 상품명 -->
							<{$adv_management.product_name}>
						</td>
						<td class="text-center"> <!-- 진행상태 -->
							<span style="color: <{$adv_management.state_color}>"><{$adv_management.state_name}></span>
						</td>
						<td class="text-center"> <!-- 매체대행사 -->
							<{$adv_management.agency_name}>
						</td>
						<td class="text-center"> <!-- 수수료 -->
							<{$adv_management.fee_per|number_format:1}>%
						</td>
						<td class="text-center"> <!-- 시작일시 -->
							<{$adv_management.adv_s_date_text}>
						</td>
						<td class="text-center"> <!-- ~ -->
							~
						</td>
						<td class="text-center"> <!-- 종료일시 -->
							<{$adv_management.adv_e_date_text}>
						</td>
						<td class="text-right" style="font-weight: bold;"> <!-- 단가/광고비/차액 -->
							<div>
								<form name="apply_frm<{$adv_management.am_no}>" id="apply_frm<{$adv_management.am_no}>" class="apply_frm" action="advertising_result_list.php" method="post" enctype="multipart/form-data">
									<input type="hidden" name="am_no" value="<{$adv_management.am_no}>">
									<input type="hidden" name="search_url" value="<{$search_url}>">
									<input type="hidden" name="process">

									<{if $session_s_no == '170' || $session_s_no == '171'}>
										<input type="text" name="f_am_price" class="form-control" value="<{$adv_management.price|number_format:0}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$adv_management.am_no}>','f_am_price',this);" style="width: 100px; float: right; text-align: right;">
									<{else}>
										<span style="color: red;">₩ <{$adv_management.price|number_format:0}></span><br/>
									<{/if}>
									<span style="color: lightgray; font-size: 10px;">₩ <{$adv_management.total_adv_price|number_format:0}></span>
									<{if permissionNameCheck($session_permission, '외주관리자') || permissionNameCheck($session_permission, '마스터관리자') }>
										<{if $adv_management.total_adv_price > 0 && $adv_management.cal_adv_price != 0}>
											<br/>
											 <span style="color: red; font-size: 13px;">차액: ₩<{$adv_management.cal_adv_price|number_format:0}></span>
											<{if ($adv_management.cal_adv_price <= 10 && $adv_management.cal_adv_price > 0) || ($adv_management.cal_adv_price >= -10 && $adv_management.cal_adv_price < 0)}>
												<button type="button" class="btn btn-dark" onclick="calAdvPrice('<{$adv_management.am_no}>')" style="font-size: 11px;padding: 0;font-weight: bold;width: 100%;height: 50px;">닥터피엘 광고비로<br/>차액 맞춤</button>
											<{/if}>
										<{/if}>
									<{/if}>
								</form>
							</div>
						</td>
						<{if $adv_management.result_list}>
							<td colspan="11" style="margin: 0; padding: 0;">
								<table style="margin: 0; padding: 0;">
									<colgroup>
										<col width="119px;"> <!-- 브랜드 -->
										<col width="90px;"> <!-- 노출수/클릭수/클릭률 -->
										<col width="132px;"> <!-- 광고비-대행수수료=VAT별도(VAT포함) -->
										<col width="120px;"> <!-- 광고상품 -->
										<col width="100px;"> <!-- 상품유형 -->
										<col width="200px;"> <!-- 광고소재 -->
										<col width="140px;"> <!-- 소재이미지 -->
										<col width="80px;"> <!-- 노출수 -->
										<col width="60px;"> <!-- 클릭수 -->
										<col width="50px;"> <!-- 클릭률 -->
										<col width="130px;"> <!-- 광고비 -->
									</colgroup>
									<{assign var=brand value=''}>
									<{foreach from=$adv_management.result_list item=result_data}>
										<{if $brand != $result_data.brand}>
											<tr>
												<{assign var=brand value=$result_data.brand}>
												<{assign var=brand_data value=$adv_result_brand_list[$adv_management.am_no][$brand]}>
												<td class="text-center" rowspan="<{$brand_data.cnt}>"> <!-- 브랜드 -->
													<{$brand_data.brand_name}>
												</td>
												<td class="text-right" rowspan="<{$brand_data.cnt}>"> <!-- 노출수/클릭수/클릭률 -->
													<{$brand_data.impressions|number_format:0}><br/>
													<{$brand_data.click_cnt|number_format:0}><br/>
													<{$brand_data.click_per|number_format:2}>%
												</td>
												<td class="text-right" rowspan="<{$brand_data.cnt}>"> <!-- 광고비-대행수수료=VAT별도(VAT포함) -->
													₩<{$brand_data.adv_price|number_format:0}><br/>
													<span style="color: blue;">-₩<{$brand_data.fee_price|number_format:0}></span><br/>
													₩<{$brand_data.cal_price|number_format:0}><br/>
													<span style="font-size:13px; font-weight: bold;">(₩<{$brand_data.cal_price_vat|number_format:0}>)</span>
												</td>
												<td class="text-left"><{$result_data.adv_product}></td> <!-- 광고상품 -->
												<td class="text-left"><{$result_data.adv_prd_type}></td> <!-- 상품유형 -->
												<td class="text-left"><{$result_data.adv_material}></td> <!-- 광고소재 -->
												<td class="text-center"> <!-- 소재이미지 -->
													<div>
														<form name="filebox_frm<{$result_data.ar_no}>" class="apply_frm filebox" action="advertising_result_list.php" method="post" enctype="multipart/form-data">
															<input type="hidden" name="ar_no" value="<{$result_data.ar_no}>">
															<input type="hidden" name="search_url" value="<{$search_url}>">
															<input type="hidden" name="process">

															<{if $result_data.adv_img_path}>
																<a href="./uploads/<{$result_data.adv_img_path}>" target="_blank" style="width: 100%;"><img src="./uploads/<{$result_data.adv_img_path}>" alt="<{$result_data.adv_img_name}>" style="width: 100%;"/></a>
															<{else}>
																<input type="file" name="adv_img_path" id="adv_img_paths_<{$result_data.ar_no}>" class="adv_img_path" value="" accept="image/*">
																<label for="adv_img_paths_<{$result_data.ar_no}>" style="margin-right: 5px;">소재이미지 등록</label>
															<{/if}>
														</form>
													</div>
												</td>
												<td class="text-right"><{$result_data.impressions|number_format:0}></td> <!-- 노출수 -->
												<td class="text-right"><{$result_data.click_cnt|number_format:0}></td> <!-- 클릭수 -->
												<td class="text-right"><{$result_data.click_per|number_format:2}></td> <!-- 클릭률 -->
												<td class="text-right"> <!-- 광고비 -->
													<span style="float: left; line-height: 33px;">₩</span>
													<input type="text" name="f_result_price" class="form-control" value="<{$result_data.adv_price|number_format:0}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$result_data.ar_no}>','f_result_price',this);" style="width: 100px; float: right; text-align: right;">
												</td>
											</tr>
										<{else}>
											<tr>
												<td class="text-left"><{$result_data.adv_product}></td> <!-- 광고상품 -->
												<td class="text-left"><{$result_data.adv_prd_type}></td> <!-- 상품유형 -->
												<td class="text-left"><{$result_data.adv_material}></td> <!-- 상품유형 -->
												<td class="text-center"> <!-- 소재이미지 -->
													<div>
														<form name="filebox_frm<{$result_data.ar_no}>" class="apply_frm filebox" action="advertising_result_list.php" method="post" enctype="multipart/form-data">
															<input type="hidden" name="ar_no" value="<{$result_data.ar_no}>">
															<input type="hidden" name="search_url" value="<{$search_url}>">
															<input type="hidden" name="process">

															<{if $result_data.adv_img_path}>
																<a href="./uploads/<{$result_data.adv_img_path}>" target="_blank" style="width: 100%;"><img src="./uploads/<{$result_data.adv_img_path}>" alt="<{$result_data.adv_img_name}>" style="width: 100%;"/></a>
															<{else}>
																<input type="file" name="adv_img_path" id="adv_img_path_<{$result_data.ar_no}>" class="adv_img_path" value="" accept="image/*">
																<label for="adv_img_path_<{$result_data.ar_no}>" style="margin-right: 5px;">소재이미지 등록</label>
															<{/if}>
														</form>
													</div>
												</td>
												<td class="text-right"><{$result_data.impressions|number_format:0}></td> <!-- 노출수 -->
												<td class="text-right"><{$result_data.click_cnt|number_format:0}></td> <!-- 클릭수 -->
												<td class="text-right"><{$result_data.click_per|number_format:2}></td> <!-- 클릭률 -->
												<td class="text-right"> <!-- 광고비 -->
													<span style="float: left; line-height: 33px;">₩</span>
													<input type="text" name="f_result_price" class="form-control" value="<{$result_data.adv_price|number_format:0}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$result_data.ar_no}>','f_result_price',this);" style="width: 100px; float: right; text-align: right;">
												</td>
											</tr>
										<{/if}>
									<{/foreach}>
								</table>
							</td>
						<{else}>
							<form name="apply_excel_frm<{$adv_management.am_no}>" id="apply_excel_frm<{$adv_management.am_no}>" class="apply_excel_frm" action="advertising_result_list.php" method="post" enctype="multipart/form-data">
								<input type="hidden" name="am_no" value="<{$adv_management.am_no}>">
								<input type="hidden" name="search_url" value="<{$search_url}>">
								<input type="hidden" name="process">
								<td class="text-left" colspan="10"> <!-- 브랜드 -->
									<span>"광고상품.상품유형.광고소재.노출수.클릭수.클릭률(%).광고비"를 탭으로 구분하여 붙여넣기(엑셀 데이터 복사/붙이기)</span><br/>
									<textarea name="f_result_txt" id="f_result_txt_<{$adv_management.am_no}>" class="form-control" rows="5" style="width: 99%;"></textarea>
								</td>
								<td class="text-center"> <!-- 브랜드 -->
									<button type="button" class="btn btn-dark" onclick="addExcelData('<{$adv_management.am_no}>')" style="font-size: 12px; font-weight: bold;">결과보고<br/>등록하기</button>
								</td>
							</form>
						<{/if}>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="20" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="20" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$('.adv_img_path').on('change', function(){

			var fileSize 	= 0;
			var fileName	= "";
			var fileExt		= "";

			jQuery.browser = {};
			if($.browser.msie){
				var objFSO 	 = new ActiveXObject("Scripting.FileSystemObject");
				var sPath 	 = $(this)[0].value;
				var objFile  = objFSO.getFile(sPath);
				fileName	 = $(this)[0].text;
				fileExt  	 = fileName.split('.').reverse()[0].toLowerCase();
			}else {
				fileName 	 = $(this)[0].files[0].name;
				fileExt  	 = fileName.split('.').reverse()[0].toLowerCase();
			}

			//확장자 체크
			if(fileExt != 'jpg' && fileExt != 'jpeg' && fileExt != 'png' && fileExt != 'gif'){
				alert("이미지만 등록할 수 있습니다.");
				return;
			}

			this.form.process.value = this.name;
			this.form.submit();
		});
	});

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();

		if(ord_type_by == '2'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}

		f.submit();
	}

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("advertising_result_list.php", {ar_no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

	function advDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".adv_date_btn").removeClass('adv_active');
		$(".adv_"+type+"_btn").addClass('adv_active');

		$("#sch_adv_s_date").val(typedate);
		$("#sch_adv_e_date").val(todate);

		$("#sch_adv_date_type").val(type);
	}

	function addExcelData(am_no)
	{
		if($("#f_result_txt_" + am_no).val() == ''){
			alert("엑셀 데이터 복사 후 이용해주세요");
			return false;
		}

		if("결과보고를 등록하시겠습니까?"){
			var f = document.getElementById('apply_excel_frm'+am_no);
			f.process.value 	= 'add_result';
			f.submit();
		}
	}

	function resetApplicationResult(am_no)
	{
		if("결과보고를 초기화 하시겠습니까?"){
			var f = document.getElementById('apply_frm'+am_no);
			f.process.value = 'del_result';
			f.submit();
		}
	}

	function resultInsert()
	{
		var f = document.forms['new_result_frm'];

		if($('#result_file').val() == ''){
			alert('파일을 선택해주세요');
			return;
		}

		if (confirm("첨부파일을 반영 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function calAdvPrice(am_no)
	{
		if("차책 맞춤 하시겠습니까?"){
			var f = document.getElementById('apply_frm'+am_no);
			f.process.value = 'cal_adv_price';
			f.submit();
		}
	}
</script>

</body>
</html>
