<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.reg_active{background: #3093c2 !important;}
	.form-control{font-size: 12px;}
	.form-detail-group{margin: 5px 0;}
	.form-detail-group .form-control{margin-right: 15px;}
	.form-detail-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.agency-td{background: #D9D9D9;}
	.price-td{background: #FFFF99;}
	.work-td{background: rgba(155,187,89,0.5);}
	#new_settle_frm .form-control{padding: 3px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" id="search_form" class="form-inline" action="agency_settlement.php" method="get" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_settle_month">정산월</label>
				<input type="text" name="sch_settle_month" id="sch_settle_month" class="month-picker form-control" value="<{$sch_settle_month}>" />
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 50px;" />

				<label for="sch_status">진행상태</label>
				<select name="sch_status" id="sch_status" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$status_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_status == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체 대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$media_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_partner">파트너 확인 여부</label>
				<select name="sch_is_partner" id="sch_is_partner" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_partner_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_partner == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_brand_g1" style="margin-left: 10px;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_my_c_no">사업자</label>
				<select name="sch_my_c_no" id="sch_my_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$my_company_name_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_partner_name">업체명</label>
				<input type="text" name="sch_partner_name" id="sch_partner_name" class="form-control" value="<{$sch_partner_name}>" style="width: 120px;" />

				<label for="sch_manager_team">부서 > 담당자</label>
				<select name="sch_manager_team" id="sch_manager_team" class="form-control">
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_manager" id="sch_manager" class="form-control">
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_run_name">업무처리자</label>
				<input type="text" name="sch_run_name" id="sch_run_name" class="form-control" value="<{$sch_run_name}>" style="width: 80px;" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>

				<a href="agency_settlement.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_list_on.png">
				</a>
				<a href="agency_chart.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_chart_off.png">
				</a>
			</div>
		</div>
	</form>

	<div style="overflow: hidden; margin: 10px 0;">
		<form name="settlement_insert_frm" id="settlement_insert_frm" method="post" action="agency_settlement_insert.php" enctype="multipart/form-data" style="float: left;">
			<strong style="margin-right: 10px;">#대행수수료 엑셀 업로드</strong>
			<input type="text" name="settle_month" class="month-picker form-control" value="<{$prev_settle_month}>" style="display: inline-block;" />
			<select name="settle_type" id="settle_type" class="form-control" style="font-size: 12px; width: 120px; display: inline-block;">
				<{foreach from=$agency_option key=key item=label}>
				<option value="<{$key}>"><{$label}></option>
				<{/foreach}>
			</select>
			<input type="file" name="settle_file" id="settle_file" style="width:250px; border: 1px solid #cccccc;">
			<button type="button" class="btn_file" onclick="return settlement_insert();" style="padding:3px 10px">UPLOAD</button>
		</form>
	</div>

	<div style="overflow: hidden; margin: 10px 0;">
		<form name="new_settle_frm" id="new_settle_frm" method="post" action="agency_settlement.php" enctype="multipart/form-data" style="float: left;">
			<input type="hidden" name="process" value="add_agency_settlement">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table class="table table-bordered text-bold" cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="100px;"> <!-- 정산월 -->
					<col width="120px;"> <!-- 진행상태 -->
					<col width="120px;"> <!-- 매체대행사 -->
					<col width="160px;"> <!-- 업체 -->
					<col width="140px;"> <!-- 광고매체 -->
					<col width="200px;"> <!-- 상품명 -->
					<col width="240px;"> <!-- 상품상세 -->
					<col width="160px;"> <!-- 광고주명 -->
					<col width="120px;"> <!-- 광고주 ID -->
					<col width="120px;"> <!-- 매체(공급가액)/VAT별도 -->
					<col width="80px;"> <!-- 수수료(%) -->
					<col width="120px;"> <!-- 수수료(공급가액)/VAT별도 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col" class="first">정산월</th>
						<th scope="col">진행상태</th>
						<th scope="col">매체대행사</th>
						<th scope="col">업체</th>
						<th scope="col">광고매체</th>
						<th scope="col">상품명</th>
						<th scope="col">상품상세</th>
						<th scope="col">광고주명</th>
						<th scope="col">광고주 ID</th>
						<th scope="col">매체(공급가액)<br/>VAT별도</th>
						<th scope="col">수수료(%)</th>
						<th scope="col">수수료(공급가액)<br/>VAT별도</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td class="first"> <!-- 정산월 -->
						<input type="text" name="new_settle_month" class="month-picker input_type_date" value="<{$prev_settle_month}>" required />
					</td>
					<td> <!-- 진행상태 -->
						<select name="new_status" class="form-control" required>
							<option value="1">진행요청</option>
						</select>
					</td>
					<td> <!-- 매체대행사 -->
						<select name="new_agency" class="form-control" required>
							<option value="">::선택::</option>
							<{foreach from=$agency_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 업체 -->
						<select name="new_company" class="form-control" required>
							<option value="">::선택::</option>
							<option value="와이즈플래닛컴퍼니">와이즈플래닛컴퍼니</option>
							<option value="와이즈미디어커머스">와이즈미디어커머스</option>
						</select>
					</td>
					<td> <!-- 광고매체 -->
						<select name="new_media" class="form-control" required>
							<option value="">::선택::</option>
							<{foreach from=$media_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 상품명 -->
						<input type="text" name="new_prd_name" id="new_prd_name" class="form-control" required />
					</td>
					<td> <!-- 상품상세 -->
						<textarea name="new_prd_detail" class="form-control" style="width: 99%; height: 60px;"></textarea>
					</td>
					<td> <!-- 광고주명 -->
						<input type="text" name="new_advertiser_name" id="new_advertiser_name" class="form-control" required />
					</td>
					<td> <!-- 광고주 ID -->
						<input type="text" name="new_advertiser_id" id="new_advertiser_id" class="form-control" required />
					</td>
					<td> <!-- 매체(공급가액) -->
						<input type="text" name="new_supply_price" class="form-control input_type_money" value="" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" style="color: black;" />
					</td>
					<td> <!-- 수수료 -->
						<input type="text" name="new_supply_fee_per" class="form-control" style="text-align: right;" value=""  />
					</td>
					<td> <!-- 수수료(공급가액) -->
						<input type="text" name="new_supply_fee" class="form-control input_type_money" value="" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" style="color: black;" />
					</td>
				</tr>
				<tr>
					<td colspan="12">
						<button type="submit" class="btn_big_memo" style="width: 100%;padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;">추가하기</button>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>

	<a href="agency_stats.php?<{$search_url}>" target="_blank" style="text-decoration: none; padding: 10px 15px; background: #333; color: white; font-weight: bold; border-radius: 3px; display: inline-block; margin-bottom: 10px;">담당자 지출품의서용</a>

	<table class="table table-bordered" style="table-layout: fixed;">
		<colgroup>
			<col width="40px;"> <!-- Checkbox -->
			<col width="60px;"> <!-- No -->
			<col width="80px;"> <!-- 정산월 -->
			<col width="80px;"> <!-- 작성일 -->
			<col width="120px;"> <!-- 진행상태 -->
			<col width="100px;"> <!-- 업무완료일 -->
			<col width="90px;"> <!-- w_no -->
			<col width="80px;"> <!-- 매체대행사 -->
			<col width="80px;"> <!-- 업체 -->
			<col width="100px;"> <!-- 광고매체 -->
			<col width="120px;"> <!-- 상품명 -->
			<col width="200px;"> <!-- 상품상세 -->
			<col width="160px;"> <!-- 광고주명 -->
			<col width="120px;"> <!-- 광고주 ID -->
			<col width="100px;"> <!-- 매체(공급가액) -->
			<col width="60px;">  <!--수수료 -->
			<col width="100px;"> <!-- 수수료(공급가액) -->
			<col width="60px;">  <!--정산업체추가 -->
			<col width="120px;"> <!-- 사업자 -->
			<col width="220px;"> <!-- 업체명 -->
			<col width="80px;">  <!-- 부서 -->
			<col width="80px;">  <!-- 담당자 -->
			<col width="120px;"> <!-- 출금액 -->
			<col width="120px;"> <!-- 입금액 -->
			<col width="160px;"> <!-- 업무진행 -->
			<col width="80px;">  <!-- 업무처리자 -->
			<col width="100px;"> <!--  -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="18" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_list item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
					<button type="button" onclick="sort_search('team_manager')" style="float: right; margin-top: 10px;">팀별 담당자순<{if $ord_type == 'team_manager'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
				</td>
				<td colspan="4"></td>
				<td style="color: red; text-align: right; font-weight: bold; font-size: 15px;">￦<{$agency_wd_total|number_format:0}></td>
				<td style="color: blue; text-align: right; font-weight: bold; font-size: 15px;">￦<{$agency_dp_total|number_format:0}></td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" rowspan="2">
					No<br/>
					<button type="button" onclick="delMultiSettlement();" style="background: #999999;color: white;padding: 5px 10px;font-weight: bold;border-radius: 5px; margin-top: 5px; ">삭제</button>
				</th>
				<th scope="col" rowspan="2">정산월</th>
				<th scope="col" rowspan="2">작성일</th>
				<th scope="col" rowspan="2">
					진행상태
					<br/>
					<select name="mod_status" id="mod_status" class="form-control" onchange="statusSettlement(); return false;" style="font-size: 12px;">
						<option value="">::선택::</option>
						<{foreach from=$status_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
						<{/foreach}>
					</select>
				</th>
				<th scope="col" rowspan="2">
					업무완료일<br/>
					<input type="text" name="mod_run_date" id="mod_run_date" class="form-control date-picker" onchange="runDateSettlement(); return false;" style="padding: 3px;width: 84px;" value="" />
				</th>
				<th scope="col" rowspan="2">
					w_no<br/>
					<input type="text" name="chk_wd_date" id="chk_wd_date" class="form-control date-picker" style="padding: 3px;width: 75px;" value="" />
					<button type="button" onclick="addMultiWorkSettlement();" style="background: #999999;color: white;padding: 5px 15px;font-weight: bold;border-radius: 5px; margin-top: 5px;">추가</button>
				</th>
				<th scope="col" colspan="11">매체 대행사 수수료 정산내역</th>
				<th scope="col" rowspan="2">사업자</th>
				<th scope="col" rowspan="2">업체명</th>
				<th scope="col" rowspan="2">부서</th>
				<th scope="col" rowspan="2">담당자</th>
				<th scope="col" rowspan="2">출금액 VAT별도<br/>(광고비)</th>
				<th scope="col" rowspan="2">입금액 VAT별도<br/>(대행수수료)</th>
				<th scope="col" rowspan="2">업무진행</th>
				<th scope="col" rowspan="2">업무처리자</th>
				<th scope="col" rowspan="2"></th>
			</tr>
			<tr>
				<th scope="col">매체대행사</th>
				<th scope="col">업체</th>
				<th scope="col">광고매체<br/>(prd_no)</th>
				<th scope="col">상품명</th>
				<th scope="col">상품상세</th>
				<th scope="col">광고주명</th>
				<th scope="col">광고주 ID</th>
				<th scope="col">매체(공급가액)<br/>VAT별도</th>
				<th scope="col">수수료(%)</th>
				<th scope="col">수수료(공급가액)<br/>VAT별도</th>
				<th scope="col">정산<br/>업체</th>
			</tr>
		</thead>
		<tbody>
			<{if $agency_settle_list}>
				<{foreach from=$agency_settle_list key=group_no item=agency_settle_data}>
					<{assign var=set_cnt value=$agency_settle_data|@count}>
					<{assign var=idx value=0}>
					<{foreach from=$agency_settle_data item=agency_settle}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td class="first text-center"> <!-- 체크박스 -->
							<input type="checkbox" name="select_check[]" class="select_check" value="<{$agency_settle.as_no}>">
						</td>
						<td class="text-center"> <!-- No -->
							<{$agency_settle.as_no}>
							<{if $agency_settle.status < 4 && $agency_settle.w_no <= 0}>
							<br/>
							<a href="#" onclick="delAgencySettle('<{$agency_settle.as_no}>');"><span style="font-size:9px;">[삭제]</span></a>
							<{/if}>
						</td>
						<td class="text-center"> <!-- 작성일 -->
							<{$agency_settle.settle_month}>
						</td>
						<td class="text-center"> <!-- 작성일 -->
							<{$agency_settle.reg_day}><br/>
							<{$agency_settle.reg_hour}>
						</td>
						<td class="work-td"> <!-- 진행상태 -->
							<select name="mod_status" class="form-control" onchange="save_el('<{$agency_settle.as_no}>','f_status', this)" style="font-size: 12px; color: <{$status_color_option[$agency_settle.status]}>;"
							<{if $agency_settle.w_no > 0}>disabled<{/if}>
							>
								<option value="">::선택::</option>
								<{foreach from=$status_option key=key item=label}>
								<option value="<{$key}>" style="color: <{$status_color_option[$key]}>;" <{if $agency_settle.status == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="work-td"> <!-- 업무완료일 -->
							<input type="text" name="mod_run_date" class="form-control date-picker" value="<{$agency_settle.run_date}>" onchange="save_el('<{$agency_settle.as_no}>','f_run_date', this)" style="padding: 3px;width: 84px;" <{if $agency_settle.w_no > 0}>disabled<{/if}>/>
						</td>
						<td class="work-td text-center"> <!-- w_no -->
							<{if $agency_settle.w_no}>
								<{$agency_settle.w_no}>
								<a href="work_list.php?sch_w_no=<{$agency_settle.w_no}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{elseif $agency_settle.partner && $agency_settle.status == 6}>
								<button type="button" onclick="addWorkSettlement('<{$agency_settle.as_no}>')" style="background: #999999;color: white;padding: 5px 15px;font-weight: bold;border-radius: 5px;">추가</button>
							<{/if}>
						</td>
						<{if $idx == 0}>
						<td rowspan="<{$set_cnt}>" class="agency-td text-center"> <!-- 매체대행사 -->
							<{$agency_settle.agency_name}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td text-center"> <!-- 업체 -->
							<{$agency_settle.company}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td text-center"> <!-- 광고매체 -->
							<{$agency_settle.media_name}><br/>
							(<{$agency_settle.media}>)
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td"> <!-- 상품명 -->
							<{$agency_settle.prd_name}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td"> <!-- 상품상세 -->
							<{$agency_settle.prd_detail}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td"> <!-- 광고주명 -->
							<{$agency_settle.advertiser_name}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td"> <!-- 광고주 ID -->
							<{$agency_settle.advertiser_id}>
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td text-right"> <!-- 매출(공급가액) VAT별도 -->
							<{$agency_settle.supply_price|number_format:0}>
							<input type="hidden" name="supply_price" id="supply_price_<{$agency_settle.group_no}>" value="<{$agency_settle.supply_price}>" />
						</td>
						<td rowspan="<{$set_cnt}>" class="agency-td text-right"> <!-- 수수료(%) -->
							<{$agency_settle.supply_fee_per|number_format:2}>
						</td>
						<td rowspan="<{$set_cnt}>" class="price-td text-right"> <!-- 수수료(공급가액) VAT별도 -->
							<{$agency_settle.supply_fee|number_format:0}>
							<input type="hidden" name="supply_fee" id="supply_fee_<{$agency_settle.group_no}>" value="<{$agency_settle.supply_fee}>" />
						</td>
						<td rowspan="<{$set_cnt}>" >
							<button type="button" onclick="addPartnerSettlement('<{$agency_settle.as_no}>')" style="background: #999999;color: white;padding: 5px 10px;font-weight: bold;border-radius: 5px;">추가</button>
						</td>
						<{/if}>
						<td class="text-center my_company_<{$agency_settle.as_no}>"> <!-- 사업자 -->
							<{if $agency_settle.partner}>
								<span style="color: <{$my_company_list[$agency_settle.my_c_no].color}>;"><{$agency_settle.my_c_name}></span>
							<{else}>
								<b style="color: red;">확인불가</b>
							<{/if}>
						</td>
						<td class="work-td" style="padding: 1px"> <!-- 업체명 -->
							<input type="hidden" name="partner" id="partner_<{$agency_settle.as_no}>" value="<{$agency_settle.partner}>">
							<input type="text" name="partner_name" class="form-control partner_name" attr-no="<{$agency_settle.as_no}>" value="<{$agency_settle.partner_name}>" style="width: 190px; display: inline-block;" <{if $agency_settle.partner}>disabled<{/if}>/>
							<a href="company_regist.php?no=<{$agency_settle.partner}>" target="_blank" id="partner_link_<{$agency_settle.as_no}>" style="<{if !$agency_settle.partner}>display: none;<{/if}>">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{if !$agency_settle.partner}>
							<div class="add_partner_wrapper_<{$agency_settle.as_no}>">
								<select id="advertise_type_<{$agency_settle.as_no}>" class="form-control" style="font-size: 12px; width: 100px; text-align: center; display: inline-block;">
									<option value="" style="text-align: left; padding: 0;">::선택::</option>
									<{foreach from=$advertise_type_option key=key item=label}>
									<option value="<{$key}>" style="text-align: left; padding: 0;"><{$label}></option>
									<{/foreach}>
								</select>
								<button onclick="saveAdvertiseId('<{$agency_settle.as_no}>', '<{$agency_settle.advertiser_id}>', this)" style="background: #343a40;color: white; padding: 5px;">광고주 ID저장</button>
							</div>
							<{/if}>
						</td>
						<td class="text-center work-td team_<{$agency_settle.as_no}>"> <!-- 부서 -->
							<{if $agency_settle.partner}>
								<{$agency_settle.manager_team_name}>
							<{else}>
								<b style="color: red;">확인불가</b>
							<{/if}>
						</td>
						<td class="text-center work-td manager_<{$agency_settle.as_no}>"> <!-- 담당자 -->
							<{if $agency_settle.partner}>
								<{$agency_settle.manager_name}>
							<{else}>
								<b style="color: red;">확인불가</b>
							<{/if}>
						</td>
						<td class="work-td"> <!-- 출금액 -->
							<input type="text" name="wd_price" class="input_type_money" value="<{$agency_settle.wd_price|number_format}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="saveWdPrice('<{$agency_settle.as_no}>', '<{$agency_settle.group_no}>', this);" <{if $session_s_no != '170' && $session_s_no != '171'}>disabled<{/if}>/>
						</td>
						<td class="work-td"> <!-- 입금액 -->
							<input type="text" name="dp_price" id="dp_price_<{$agency_settle.as_no}>" class="input_type_money" value="<{$agency_settle.dp_price|number_format}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$agency_settle.as_no}>','f_dp_price',this);" style="color: blue;" <{if $session_s_no != '170' && $session_s_no != '171'}>disabled<{/if}>/>
						</td>
						<td class="work-td"> <!-- 업무진행 -->
							<{if $agency_settle.w_no > 0}>
								<textarea name="task_run" onchange="save_el('<{$agency_settle.as_no}>','f_run_memo', this)" <{if $session_s_no != $agency_settle.run_s_no}>disabled<{/if}>><{$agency_settle.run_memo}></textarea>
								<{if $session_s_no == $agency_settle.run_s_no}>
									<{if $agency_settle.run_file_count > 0}>
										<span style="display: inline-block; float: left; line-height: 20px; margin-right: 10px;">FILE: <{$agency_settle.run_file_count}></span>
									<{else}>
										<span style="display: inline-block; float: left; line-height: 20px; margin-right: 10px; color: #a7a7a7;">첨부파일 없음</span>
									<{/if}>
									<button type="button" class="btn_file" onclick="openFileUpload('<{$agency_settle.w_no}>','task_run')" style="margin:0;padding: 0;color: black;background: none;font-weight:bold;font-size: 11px;letter-spacing: -1px;float: left;margin-right: 5px;" title="업로드">
										<img src="./images/icon/file_upload.png" style="cursor: pointer; float: left;" alt="업로드">
									</button>
									<button type="button" class="btn_file" onclick="openFileDownload('<{$agency_settle.w_no}>','task_run')" style="margin:0; padding: 0; color: black; background: none; font-weight:bold; font-size: 11px; letter-spacing: -1px;float: left;" title="다운로드">
										<img src="./images/icon/file_download.png" style="cursor: pointer;" alt="다운로드">
									</button>
								<{/if}>
							<{/if}>
						</td>
						<td class="text-center work-td"> <!-- 처리자 -->
							<{$agency_settle.run_name}>
						</td>
						<td> <!-- SMS 버튼 -->
							<button type="button" onclick="window.open('popup/waple_sms.php?type=agency&as_no=<{$agency_settle.as_no}>', 'CPC 계정등록 알림문자','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" style="font-size:10px; border-radius:3px; background: #333;color: white;font-weight: bold;padding: 3px 10px;">CPC 계정<br/>등록안내 SMS</button>
						</td>
					</tr>
					<{assign var=idx value=$idx+1}>
					<{/foreach}>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="24" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="24" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<button type="button" class="btn_style1" onclick="location.href='excel_agency_settlement.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
</div>

<form name="chk_form" action="agency_settlement.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_as_no_list" class="chk_as_no_list">
	<input type="hidden" name="chk_status" class="chk_status">
	<input type="hidden" name="chk_run_date" class="chk_run_date">
	<input type="hidden" name="chk_as_no" class="chk_as_no">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_manager_team").combobox();

		$("#sch_manager").remoteChained({
			parents: "#sch_manager_team",
			url: "/v1/api/stock.json.php?parent_data=sch_manager_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

        var $chkboxes = $('.select_check');
        var lastChecked = null;

        $chkboxes.click(function(e) {
            if(!lastChecked) {
                lastChecked = this;
                return;
            }

            if(e.shiftKey) {
                var start = $chkboxes.index(this);
                var end = $chkboxes.index(lastChecked);

                $chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

            }

            lastChecked = this;
        });

		$(".select_check").change(function(){
            checkAsSelect();
		});

        $(".partner_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/auto_company.api.php",
                    dataType: "json",
                    data: {
                        c_name:request.term,
                        f_all: true
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.sch_c_name,
                                cname : item.c_name,
                                m_cno :  item.my_c_no,
                                mname :  item.my_c_name,
                                tname :  item.team_name,
                                sname :  item.s_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var key = $(this).attr('attr-no');
                $(this).val(ui.item.cname);
                $("#partner_"+key).val(ui.item.cno);
                $("#partner_link_"+key).show();
                $("#partner_link_"+key).attr("href", "company_regist.php?no="+ui.item.cno);
                $(".my_company_"+key).text(ui.item.mname);
                $(".team_"+key).text(ui.item.tname);
                $(".manager_"+key).text(ui.item.sname);
                
                save_el(key, "f_partner", $(this));

                if(ui.item.m_cno == '3'){
                	$(".add_partner_wrapper_"+key).hide();
				}else{
					$(".add_partner_wrapper_"+key).show();
				}
            },
            minLength: 1
        });
	});

	function sort_search(type)
	{
		var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val(type);

		if(ord_type_by == '1'){
			$("#ord_type_by").val("2");
		}else if(ord_type_by == '2'){
			$("#ord_type_by").val("");
		}else{
			$("#ord_type_by").val("1");
		}
		searchList();
	}

    function normal_search() {
        var ord_page   = $("#ord_page_type").val();
        $("#ord_page_type_hidden").val(ord_page);
		searchList();
    }

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".reg_date_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
		$("#work_cms_base").click();
	}

	function settlement_insert()
	{
		var f = document.forms['settlement_insert_frm'];

		if(!$('#settle_type').val()){
			alert("매체대행사를 선택해 주세요");
			return;
		}

		if(!$('#settle_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		var media_name = $("#settle_type option:selected").text();

		if (confirm("첨부파일을 " + media_name + " 대행수수료 정산관리에 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;

        checkAsSelect();
	}

	function checkAsSelect()
	{
		var chk_as_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_as_no_list += ($(item).val() + ",");
			}
		});

		if(chk_as_no_list != ""){
			chk_as_no_list = chk_as_no_list.slice(0, -1);
		}

		$(".chk_as_no_list").val(chk_as_no_list);
	}

	function statusSettlement()
	{
        if($(".chk_as_no_list").val() == ''){
            alert("체크 후 이용해주세요");
            return false;
        }

        if($("#mod_status").val() == ''){
            alert("진행상태 선택 후 이용해주세요");
            return false;
        }

		if(confirm("진행상태를 변경하시겠습니까?"))
		{
			document.chk_form.process.value = 'change_status';
			document.chk_form.chk_status.value = $("#mod_status").val();
			document.chk_form.submit();
		}

		return false;
	}

	function runDateSettlement()
	{
		if($(".chk_as_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_run_date").val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("업무완료일을 변경하시겠습니까?"))
		{
			document.chk_form.process.value = 'change_run_date';
			document.chk_form.chk_run_date.value = $("#mod_run_date").val();
			document.chk_form.submit();
		}

		return false;
	}

	function delAgencySettle(as_no)
	{
		if(confirm("삭제하시겠습니까?"))
		{
			document.chk_form.process.value = 'del_agency_settle';
			document.chk_form.chk_as_no.value = as_no;
			document.chk_form.submit();
		}

		return false;
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if(proc == 'f_partner'){
            val = $("#partner_"+no).val();
		}

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("agency_settlement.php", {as_no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function saveAdvertiseId(as_no, value, obj)
	{
		var partner_id = $("#partner_"+as_no).val();
		var adver_type = $("#advertise_type_"+as_no).val();

		if(partner_id == 0 || adver_type == ''){
			alert("업체 및 광고주ID 타입 선택 후 이용해주세요.");
			return false;
		}

		if(value == '')
		{
			alert("광고주 ID 값이 없습니다.");
			return false;
		}

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("agency_settlement.php", {as_no : as_no, process : "save_advertise_id", partner : partner_id, type: adver_type, val: value}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
		return false;
	}

	function saveWdPrice(as_no, group_no, obj)
	{
		var value 		 = uncomma(obj.value);
		var supply_price = $("#supply_price_"+group_no).val();
		var supply_fee 	 = $("#supply_fee_"+group_no).val();

		if(value > 0)
		{
			var x = $(obj).position();
			var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
			var dp_price = (supply_price > 0) ? (value/supply_price)*supply_fee : 0;

			$.post("agency_settlement.php", {as_no : as_no, process : "save_wd_price", val: value, dp_price: dp_price}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				$("#dp_price_"+as_no).val(comma(dp_price));
			});
		}

		return false;
	}

	function addWorkSettlement(as_no)
	{
		if(confirm("업무리스트 및 입/출금리스트의 추가하시겠습니까?\r\n(단, 진행완료 건만 추가 가능하며, 추가 후 입/출금액은 수정이 불가능합니다.)"))
		{
			document.chk_form.process.value = 'add_work_settlement';
			document.chk_form.chk_as_no.value = as_no;
			document.chk_form.submit();
		}

		return false;
	}

	function delMultiSettlement()
	{
		if($(".chk_as_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("작성중인 것들만 삭제 됩니다. 삭제하시겠습니까?"))
		{
			document.chk_form.process.value = 'del_multi_settlement';
			document.chk_form.submit();
		}

		return false;
	}

	function addMultiWorkSettlement()
	{
		if($(".chk_as_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("업무리스트 및 입/출금리스트의 추가하시겠습니까?\r\n(단, 진행완료 건만 추가 가능하며, 추가 후 입/출금액은 수정이 불가능합니다.)"))
		{
			if($("#chk_wd_date").val()){
				document.chk_form.chk_run_date.value = $("#chk_wd_date").val();
			}
			document.chk_form.process.value = 'add_multi_work_settlement';
			document.chk_form.submit();
		}

		return false;
	}

	function addPartnerSettlement(as_no)
	{
		if(confirm("업체를 추가하시겠습니까?"))
		{
			document.chk_form.process.value = 'add_partner_settlement';
			document.chk_form.chk_as_no.value = as_no;
			document.chk_form.submit();
		}

		return false;
	}

	// 파일 멀티 업로드(window)
	function openFileUpload(w_no, w_type)
	{
		var fileUploadUrl = "work_list.file_upload.php?w_no="+w_no+"&w_type="+w_type;
		var windowName = (w_type =='task_run') ? "업무처리 파일 업로드" : "업무요청 파일 업로드";
		window.open(fileUploadUrl,windowName,'width=820, height=460, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	// 파일 멀티 다운로드(window)
	function openFileDownload(w_no, w_type){
		var fileDownloadUrl = "work_list.file_download.php?w_no="+w_no+"&w_type="+w_type;
		var windowName = (w_type =='task_run') ? "업무처리 파일 다운로드" : "업무요청 파일 다운로드";
		window.open(fileDownloadUrl,windowName,'width=530, height=440, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}
</script>

</body>
</html>
