<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;}
	.form-detail-group{margin: 5px 0;}
	.form-detail-group .form-control{margin-right: 15px;}
	.form-detail-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.form-group .tlt{margin: 0 5px;}

	.agency-chart-wrapper{margin-top: 50px;}
	#agency-chart{position: relative; width: 1200px; height: 500px;}
	.agency-table-wrapper{width: 1200px;}
</style>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		● 마케팅 비용 및 수수료 정산(통계)
	</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="agency_chart.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_settle_s_month">정산월</label>
				<input type="text" name="sch_settle_s_month" id="sch_settle_s_month" class="month-picker form-control" value="<{$sch_settle_s_month}>" />
				<span>~</span>
				<input type="text" name="sch_settle_e_month" id="sch_settle_e_month" class="month-picker form-control" value="<{$sch_settle_e_month}>" />
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 50px;" />

				<label for="sch_status">진행상태</label>
				<select name="sch_status" id="sch_status" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$status_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_status == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체 대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$media_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_partner">파트너 확인 여부</label>
				<select name="sch_is_partner" id="sch_is_partner" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_partner_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_partner == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group form-detail-group">
				<input type="radio" name="sch_chart_type" id="sch_chart_type_1" class="sch_chart_type" value="1" <{if $sch_chart_type == '1'}>checked<{/if}>>
				<label for="sch_chart_type_1" style="font-weight: bold; margin: 0 25px 0 5px;">업체별 검색</label>

				<label for="sch_my_c_no">사업자</label>
				<select name="sch_my_c_no" id="sch_my_c_no" class="form-control sch_chart_type_1_child" <{if $sch_chart_type == '2'}>disabled<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$my_company_name_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_partner">업체명</label>
				<select name="sch_partner" id="sch_partner" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_partner_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_partner == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_manager_team" style="margin-left: 15px;">부서 > 담당자</label>
				<select name="sch_manager_team" id="sch_manager_team" class="form-control" <{if $sch_chart_type == '2'}>disabled<{/if}>>
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_manager" id="sch_manager" class="form-control sch_chart_type_1_child" <{if $sch_chart_type == '2'}>disabled<{/if}>>
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_run_name">업무처리자</label>
				<input type="text" name="sch_run_name" id="sch_run_name" class="form-control sch_chart_type_1_child" value="<{$sch_run_name}>" style="width: 80px;" <{if $sch_chart_type == '2'}>disabled<{/if}> />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>

				<a href="agency_settlement.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_list_off.png">
				</a>
				<a href="agency_chart.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_chart_on.png">
				</a>
			</div>
			<div class="form-group form-detail-group">
				<input type="radio" name="sch_chart_type" id="sch_chart_type_2" class="sch_chart_type" value="2" <{if $sch_chart_type == '2'}>checked<{/if}>>
				<label for="sch_chart_type_2" style="font-weight: bold; margin: 0 25px 0 5px;">브랜드 검색</label>

				<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control sch_chart_type_2_child" style="min-width: 100px; margin-right: 5px;" <{if $sch_chart_type == '1'}>disabled<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control sch_chart_type_2_child" style="min-width: 100px; margin-right: 5px;" <{if $sch_chart_type == '1'}>disabled<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control sch_chart_type_2_child" style="min-width: 100px;" <{if $sch_chart_type == '1'}>disabled<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
	</form>

	<div class="agency-chart-wrapper">
		<div id="agency-chart">

		</div>
	</div>
	<div class="agency-table-wrapper">
		<table class="table table-bordered" style="table-layout: fixed;">
			<colgroup>
				<col width="80px;"> <!-- 월 -->
				<col width="120px;"> <!-- 사업자 -->
				<col width="120px;"> <!-- 업체명/브랜드명 -->
				<col width="100px;"> <!-- 부서 -->
				<col width="60px;"> <!-- 담당자 -->
				<col width="120px;"> <!-- 광고매체 -->
				<col width="80px;"> <!-- 횟수 -->
				<col width="200px;"> <!-- 광고비 -->
				<col width="200px;"> <!-- 대행수수료 -->
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" class="first">월</th>
					<th scope="col">사업자</th>
					<th scope="col">업체명/브랜드명</th>
					<th scope="col">부서</th>
					<th scope="col">담당자</th>
					<th scope="col">광고매체</th>
					<th scope="col">횟수</th>
					<th scope="col">광고비</th>
					<th scope="col">대행수수료</th>
				</tr>
			</thead>
			<tbody>
				<{if $table_data_list}>
					<{foreach from=$table_data_list key=table_key item=table_data}>
						<tr>
							<td class="first text-center"><{$table_key}></td>
							<td class="text-center"><{$table_data.my_c_name}></td>
							<td class="text-center"><{$table_data.c_name}></td>
							<td class="text-center"><{$table_data.team_name}></td>
							<td class="text-center"><{$table_data.manager_name}></td>
							<td class="text-center"><{$table_data.media_name}></td>
							<td class="text-center"><{$table_data.total_cnt|number_format:0}></td>
							<td class="text-right" style="font-weight: bold; color: red;">￦<{$table_data.total_price|number_format:0}></td>
							<td class="text-right" style="font-weight: bold; color: blue;">￦<{$table_data.total_fee|number_format:0}></td>
						</tr>
					<{/foreach}>
				<{else}>
				<tr>
					<td colspan="9" class="first">데이터가 없습니다.</td>
				</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_manager_team").combobox();
		$("#sch_partner").combobox();

		$("#sch_manager").remoteChained({
			parents: "#sch_manager_team",
			url: "/v1/api/stock.json.php?parent_data=sch_manager_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$(".sch_chart_type").change(function(){
			if($(this).val() == '1'){
				$(".sch_chart_type_1_child").attr("disabled", false);
				$(".sch_chart_type_2_child").attr("disabled", true);
			}else{
				$(".sch_chart_type_1_child").attr("disabled", true);
				$(".sch_chart_type_2_child").attr("disabled", false);
			}
		});
	});

	function inputNumberFormat(value)
	{
		var convert_value = value;

		if(value != '-') // 첫입력 시 음수 예외
			convert_value = comma(uncomma(convert_value));

		return convert_value
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		return (parseFloat(str));
	}

	var agencyChart = echarts.init(document.getElementById('agency-chart'),null, {renderer : 'canvas'});
	drawAgencyChart();

	function drawAgencyChart()
	{
		var fullData = <{$chart_data_list}>;

		if(fullData != '')
		{
			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if(convert_number > 0){
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			agencyChart.setOption({
				title: {
					text: '<{$sch_chart_title}>'
				},
				grid: {
					right: '15%'
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				legend:{
					data: ['광고비','대행수수료','횟수'],
					top : '5%'
				},
				toolbox: {
					feature: {
						saveAsImage: { show: true }
					}
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: <{$month_name_list}>
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#D99694"
							}
						},
						axisLabel: {
							formatter: '₩ {value}'
						}
					},
					{
						type: 'value',
						name: '대행수수료',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#95B3D7"
							}
						},
						axisLabel: {
							formatter: '₩ {value}'
						}
					},
					{
						type: 'value',
						name: '횟수',
						offset: 100,
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#000000"
							}
						},
						axisLabel: {
							formatter: '{value}건'
						}
					}
				],
				series: pushData
			});
		}
	}
</script>

</body>
</html>
