<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.reg_active{background: #3093c2 !important;}
	.form-control{font-size: 12px;}
	.form-detail-group{margin: 5px 0;}
	.form-detail-group .form-control{margin-right: 15px;}
	.form-detail-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.work-td{background: rgba(155,187,89,0.7); font-weight: bold}
	.work-light-td{background: rgba(155,187,89,0.3);}
	.total-td{background: rgba(248, 48, 128, 0.5); font-weight: bold}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">● 마케팅 비용 및 수수료 정산(통계)</h2>
	
	<form name="search_form" id="search_form" class="form-inline" action="agency_stats.php" method="get" autocomplete="off">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_settle_month">정산월</label>
				<input type="text" name="sch_settle_month" id="sch_settle_month" class="month-picker form-control" value="<{$sch_settle_month}>" />
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" style="width: 50px;" value="<{$sch_no}>" />

				<label for="sch_status">진행상태</label>
				<select name="sch_status" id="sch_status" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$status_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_status == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체 대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$media_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_partner">파트너 확인 여부</label>
				<select name="sch_is_partner" id="sch_is_partner" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_partner_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_partner == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_my_c_no">사업자</label>
				<select name="sch_my_c_no" id="sch_my_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$my_company_name_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_partner_name">업체명</label>
				<input type="text" name="sch_partner_name" id="sch_partner_name" class="form-control" style="width: 120px;" value="<{$sch_partner_name}>" />

				<label for="sch_manager_team">부서 > 담당자</label>
				<select name="sch_manager_team" id="sch_manager_team" class="form-control">
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_manager" id="sch_manager" class="form-control">
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_run_name">업무처리자</label>
				<input type="text" name="sch_run_name" id="sch_run_name" class="form-control" style="width: 80px;" value="<{$sch_run_name}>"/>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>


	<div style="margin-top: 30px;">
		<table id="agency_stats_table" class="table table-bordered" style=" table-layout: fixed; width: auto; margin-top: 10px;">
			<colgroup>
				<col width="140px;"> <!-- 매체대행사 -->
				<col width="140px;"> <!-- 광고매체 -->
				<col width="240px;"> <!-- 업체명 -->
				<col width="120px;"> <!-- 광고액(VAT별도) -->
				<col width="120px;"> <!-- 대행수수료(VAT별도) -->
				<col width="120px;"> <!-- 실지급액(VAT별도) -->
				<col width="120px;"> <!-- 실지급액(VAT포함) -->
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">매체대행사</th>
					<th scope="col">광고매체</th>
					<th scope="col">업체명</th>
					<th scope="col">광고액(VAT별도)</th>
					<th scope="col">대행수수료(VAT별도)</th>
					<th scope="col">실지급액(VAT별도)</th>
					<th scope="col">실지급액(VAT포함)</th>
				</tr>
			</thead>
			<tbody>
			<{if $agency_stats_list}>
				<{assign var=total_wd_price value=0}>
				<{assign var=total_dp_price value=0}>
				<{assign var=total_price value=0}>
				<{assign var=total_price_vat value=0}>

				<{foreach from=$agency_stats_list key=agency item=agency_data}>
					<{assign var=agency_idx value=0}>
					<{assign var=agency_wd_price value=0}>
					<{assign var=agency_dp_price value=0}>
					<{assign var=agency_total_price value=0}>
					<{assign var=agency_total_price_vat value=0}>

					<{foreach from=$agency_data key=media item=media_data}>
						<{assign var=media_idx value=0}>
						<{assign var=media_wd_price value=0}>
						<{assign var=media_dp_price value=0}>
						<{assign var=media_total_price value=0}>
						<{assign var=media_total_price_vat value=0}>

						<{foreach from=$media_data key=partner item=partner_data}>
							<tr>
								<{if $agency_idx == 0}>
								<td rowspan="<{$agency_cnt_list[$agency]['total']+$agency_cnt_list[$agency]['media_cnt']}>" class="first text-left work-td" style="vertical-align: top;"><{$agency_option[$agency]}></td>
								<{/if}>
								<{if $media_idx == 0}>
								<td rowspan="<{$agency_cnt_list[$agency][$media]}>" class="text-left" style="vertical-align: top;"><{$media_option[$media]}></td>
								<{/if}>
								<td class="text-left"><{$partner_name_list[$partner]}></td>
								<td class="text-right">₩ <{$partner_data.wd_price|number_format:0}></td>
								<td class="text-right">₩ <{$partner_data.dp_price|number_format:0}></td>
								<td class="text-right">₩ <{$partner_data.total_price|number_format:0}></td>
								<td class="text-right">₩ <{$partner_data.total_price_vat|number_format:0}></td>
							</tr>

							<{assign var=agency_idx value=$agency_idx+1}>
							<{assign var=media_idx value=$media_idx+1}>
							<{assign var=media_wd_price value=$media_wd_price+$partner_data.wd_price}>
							<{assign var=media_dp_price value=$media_dp_price+$partner_data.dp_price}>
							<{assign var=media_total_price value=$media_total_price+$partner_data.total_price}>
							<{assign var=media_total_price_vat value=$media_total_price_vat+$partner_data.total_price_vat}>
						<{/foreach}>
						<tr>
							<td colspan="2" class="first text-left work-light-td"><{$media_option[$media]}> 요약</td>
							<td class="work-light-td text-right">₩ <{$media_wd_price|number_format:0}></td>
							<td class="work-light-td text-right">₩ <{$media_dp_price|number_format:0}></td>
							<td class="work-light-td text-right">₩ <{$media_total_price|number_format:0}></td>
							<td class="work-light-td text-right">₩ <{$media_total_price_vat|number_format:0}></td>
						</tr>

						<{assign var=agency_wd_price value=$agency_wd_price+$media_wd_price}>
						<{assign var=agency_dp_price value=$agency_dp_price+$media_dp_price}>
						<{assign var=agency_total_price value=$agency_total_price+$media_total_price}>
						<{assign var=agency_total_price_vat value=$agency_total_price_vat+$media_total_price_vat}>
					<{/foreach}>

					<tr>
						<td colspan="3" class="first text-left work-td"><{$agency_option[$agency]}> 요약</td>
						<td class="work-td text-right">₩ <{$agency_wd_price|number_format:0}></td>
						<td class="work-td text-right">₩ <{$agency_dp_price|number_format:0}></td>
						<td class="work-td text-right">₩ <{$agency_total_price|number_format:0}></td>
						<td class="work-td text-right">₩ <{$agency_total_price_vat|number_format:0}></td>
					</tr>

					<{assign var=total_wd_price value=$total_wd_price+$agency_wd_price}>
					<{assign var=total_dp_price value=$total_dp_price+$agency_dp_price}>
					<{assign var=total_price value=$total_price+$agency_total_price}>
					<{assign var=total_price_vat value=$total_price_vat+$agency_total_price_vat}>
				<{/foreach}>
				<tr>
					<td class="first text-left total-td" colspan="3">총 합계</td>
					<td class="text-right total-td">₩ <{$total_wd_price|number_format:0}></td>
					<td class="text-right total-td">₩ <{$total_dp_price|number_format:0}></td>
					<td class="text-right total-td">₩ <{$total_price|number_format:0}></td>
					<td class="text-right total-td">₩ <{$total_price_vat|number_format:0}></td>
				</tr>
			<{else}>
				<td class="first text-center" colspan="7">데이터가 없습니다.</td>
			<{/if}>
			</tbody>
		</table>
	</div>
	<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('agency_stats_table');" />
</div>

</body>
</html>
