<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	button.quick_search_btn{padding: 5px 20px; font-weight: bold; margin: 0 5px;}
	button.quick_active_btn{background: red;}
	.work-td{background: rgba(155,187,89,0.5);}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" id="search_form" class="form-inline" action="agency_charge_management.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_base_mon">기준월</label>
				<input type="text" name="sch_base_mon" id="sch_base_mon" class="month-picker form-control" value="<{$sch_base_mon}>" />

				<label for="sch_media">광고매체</label>
				<select name="sch_media" id="sch_media" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$media_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_agency">매체 대행사</label>
				<select name="sch_agency" id="sch_agency" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$agency_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_agency == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_my_c_no">계열사</label>
				<select name="sch_my_c_no" id="sch_my_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_partner_name">업체명</label>
				<input type="text" name="sch_partner_name" id="sch_partner_name" class="form-control" value="<{$sch_partner_name}>" style="width: 120px;" />

				<label for="sch_manager_team">부서 > 담당자</label>
				<select name="sch_manager_team" id="sch_manager_team" class="form-control">
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_manager" id="sch_manager" class="form-control">
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_memo">메모유무</label>
				<select name="sch_is_memo" id="sch_is_memo" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_memo == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group">
				<label for="sch_is_inspection">검수대상</label>
				<select name="sch_is_inspection" id="sch_is_inspection" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_inspection_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_inspection == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_advertiser_id">광고주 ID</label>
				<input type="text" name="sch_advertiser_id" id="sch_advertiser_id" class="form-control" value="<{$sch_advertiser_id}>" style="width: 140px;" />

				<label for="sch_task_req">관리자 확인요청</label>
				<input type="text" name="sch_task_req" id="sch_task_req" class="form-control" value="<{$sch_task_req}>"  style="width: 200px;"/>

				<label for="sch_task_run">마케터 확인 메세지</label>
				<input type="text" name="sch_task_run" id="sch_task_run" class="form-control" value="<{$sch_task_run}>"style="width: 200px;" />

				<label for="sch_memo">관리자 메모</label>
				<input type="text" name="sch_memo" id="sch_memo" class="form-control" value="<{$sch_memo}>" style="width: 200px;" />

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
		<div style="margin: 10px 0; font-size: 14px;">
			<span style="font-weight:bold; margin-right: 10px;">[Quick Search]</span>
			<input type="hidden" name="sch_quick_type" id="sch_quick_type" value="<{$sch_quick_type}>">
			<{foreach from=$quick_search_option key=key item=label}>
				<button type="button" class="btn_small quick_search_btn <{if $sch_quick_type == $key}>quick_active_btn<{/if}>" onclick="quick_search('<{$key}>');"><{$label}></button>
			<{/foreach}>
			<div style="display: inline-block;border-radius: 3px;border: 1px solid #ccc;padding: 0 5px;box-sizing: border-box;">
				<b style="font-size: 12px;">잔액</b> <input type="number" name="sch_quick_price" id="sch_quick_price" class="form-control" value="<{$sch_quick_price}>" onkeydown="javascript:if(event.keyCode == 13)quick_search(3);" style="padding: 3px; width: 90px; font-size: 12px; height: 30px;"> <span style="font-size: 12px;">이하</span>
				<button type="button" class="btn_small quick_search_btn" onclick="quick_search('3');">보기</button>
			</div>

			<div style="display: inline-block;border-radius: 3px;border: 1px solid #ccc;padding: 0 5px;box-sizing: border-box;">
				<b style="font-size: 12px;">소진금 0원</b> <input type="number" name="sch_quick_term" id="sch_quick_term" class="form-control" value="<{$sch_quick_term}>" onkeydown="javascript:if(event.keyCode == 13)quick_search(4);" style="padding: 3px; width: 40px; font-size: 12px; height: 30px;"> <span style="font-size: 12px;">개월 이상</span>
				<button type="button" class="btn_small quick_search_btn" onclick="quick_search('4');">보기</button>
			</div>
		</div>
	</form>

	<{if permissionNameCheck($session_permission, '재무관리자')}>
	<div style="overflow: hidden; margin: 10px 0;">
		<form name="charge_insert_frm" id="charge_insert_frm" action="agency_charge_insert.php" method="post" enctype="multipart/form-data" style="float: left;">
			<strong style="margin-right: 10px;">#계산서 기준 소진금 엑셀 업로드</strong>
			<input type="text" name="charge_month" class="month-picker form-control" value="<{$prev_base_mon}>" style="display: inline-block;" />
			<select name="charge_company" id="charge_company" class="form-control" style="font-size: 12px; width: 120px; display: inline-block;">
				<option value="4004">하나애드</option>
			</select>
			<input type="file" name="charge_file" id="charge_file" style="width:250px; border: 1px solid #cccccc;">
			<button type="button" class="btn_file" onclick="return charge_insert();" style="padding:3px 10px">UPLOAD</button>
			<a href="/v1/uploads/document/company/charge_sample.xls" download="소진금 업로드 sample.xls">[sample download]</a>
		</form>
		<{if permissionNameCheck($session_permission,"재무관리자")}>
			<form name="charge_delete_frm" id="charge_delete_frm" action="agency_charge_management.php" method="post" enctype="multipart/form-data" style="clear: both; ">
				<input type="hidden" name="process" value="charge_delete">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<strong style="margin-right: 10px;width: 154px;display: inline-block;">#기준월 충전금내역 삭제</strong>
				<input type="text" name="charge_month" id="del_charge_month" class="month-picker form-control" value="<{$prev_base_mon}>" style="display: inline-block;" />
				<button type="button" class="btn_file" onclick="return charge_delete();" style="padding:3px 10px">삭제</button>
			</form>
		<{/if}>
	</div>
	<{/if}>

	<table class="table table-bordered" style="table-layout: fixed; margin-top: 10px;">
		<colgroup>
			<col width="40px;"> <!-- 전체 checkbox -->
			<col width="80px;"> <!-- 기준월 -->
			<col width="100px;"> <!-- 광고매체 -->
			<col width="80px;"> <!-- 매체대행사 -->
			<col width="120px;"> <!-- 광고주 ID -->
			<col width="120px;"> <!-- 계열사 -->
			<col width="220px;"> <!-- 업체명 -->
			<col width="100px;">  <!-- 부서 -->
			<col width="80px;">  <!-- 담당자 -->
			<col width="130px;"> <!-- 전월 잔액 -->
			<col width="130px;"> <!-- 충전금 -->
			<col width="130px;"> <!-- 소진금 -->
			<col width="130px;"> <!-- 광고주 충전금 -->
			<col width="130px;"> <!-- 잔액 -->
			<col width="120px;"> <!-- 검수대상 -->
			<col width="200px;"> <!-- 관리자 확인요청 -->
			<col width="200px;"> <!-- 마케터 확인 -->
			<col width="200px;"> <!-- 관리자 메모 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="9" style="padding: 5px;">

				</td>
				<td class="text-right">
					￦ <{$total_prev_price|number_format:0}>
				</td>
				<td class="text-right" style="color: blue;">
					￦ <{$total_charge_price|number_format:0}>
				</td>
				<td class="text-right" style="color: red;">
					￦ <{$total_ad_price|number_format:0}>
				</td>
				<td class="text-right"></td>
				<td class="text-right">
					￦ <{$total_sum_price|number_format:0}>
				</td>
				<td colspan="4" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right; margin-left: 20px;">
						<{foreach from=$page_type_list item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
					<button type="button" onclick="sort_search('total_price')" style="float: right; margin-top: 10px;">
						잔액
						<{if $ord_type == 'total_price'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}>
					</button>
					<button type="button" onclick="sort_search('ad_total_price')" style="float: right; margin-top: 10px; margin-right: 10px;">
						소진금
						<{if $ord_type == 'ad_total_price'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}>
					</button>
					<button type="button" onclick="sort_search('charge_price')" style="float: right; margin-top: 10px; margin-right: 10px;">
						충전금
						<{if $ord_type == 'charge_price'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}>
					</button>
					<button type="button" onclick="sort_search('prev_price')" style="float: right; margin-top: 10px; margin-right: 10px;">
						전월잔액
						<{if $ord_type == 'prev_price'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}>
					</button>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="col" class="first" style="height: 30px;">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" style="height: 30px;">기준월</th>
				<th scope="col">광고매체</th>
				<th scope="col">매체대행사</th>
				<th scope="col">광고주 ID</th>
				<th scope="col">계열사</th>
				<th scope="col">업체명</th>
				<th scope="col">부서</th>
				<th scope="col">담당자</th>
				<th scope="col">전월 잔액(VAT 포함)</th>
				<th scope="col">충전금(VAT 포함)</th>
				<th scope="col">계산서 기준 소진금<br/>(VAT 포함)</th>
				<th scope="col">광고주 충전금<br/>(VAT 포함)</th>
				<th scope="col">잔액(VAT 포함)</th>
				<th scope="col">
					검수대상
					<{if $is_editable}>
					<br/>
					<select name="mod_inspection" id="mod_inspection" class="form-control" onchange="chagneMultiInspection(); return false;" style="font-size: 12px;">
						<option value="">::선택::</option>
						<{foreach from=$is_inspection_option key=key item=label}>
						<option value="<{$key}>"><{$label}></option>
						<{/foreach}>
					</select>
					<{/if}>
				</th>
				<th scope="col">관리자 확인요청</th>
				<th scope="col">마케터 확인<br/>잔액/메세지</th>
				<th scope="col">관리자 메모</th>
			</tr>
		</thead>
		<tbody>
			<{if $agency_charge_list}>
				<{foreach from=$agency_charge_list item=agency_charge}>
					<tr>
						<td class="first text-center"> <!-- checkbox -->
							<input type="checkbox" name="select_check[]" class="select_check" value="<{$agency_charge.ac_no}>">
						</td>
						<td class="text-center"> <!-- 기준월 -->
							<{$agency_charge.base_mon}>
						</td>
						<td class="text-center"> <!-- 광고매체 -->
							<{$agency_charge.media_name}>
						</td>
						<td class="text-center"> <!-- 매체대행사 -->
							<{$agency_charge.agency_name}>
						</td>
						<td class="text-left"> <!-- 광고주 ID -->
							<{$agency_charge.advertiser_id}>
						</td>
						<td class="text-left" style="<{if $agency_charge.my_c_no == '3'}>color: #237aff;<{/if}>"> <!-- 계열사 -->
							<{$agency_charge.my_company}>
						</td>
						<td class="text-left"> <!-- 업체명 -->
							<{$agency_charge.partner_name}>
						</td>
						<td class="text-left"> <!-- 부서 -->
							<{$agency_charge.t_name}>
						</td>
						<td class="text-center"> <!-- 담당자 -->
							<{$agency_charge.s_name}>
						</td>
						<td class="text-right"> <!-- 전월 잔액 -->
							<span style="float: left;">₩</span>
							<span style="float: right;"><{$agency_charge.prev_price|number_format:0}></span>
						</td>
						<td class="text-right" style="color: blue;"> <!-- 충전금 -->
							<span style="float: left;">₩</span>
							<a href="withdraw_list.php?sch_wd_quick=&ord_page_type=20&sch_c_name=네이버&sch_prd_no=12&sch_w_c_name=<{$agency_charge.partner_name}>&sch_wd_state=3&sch_s_wd_date=<{$sch_base_s_date}>&sch_e_wd_date=<{$sch_base_e_date}>" target="_blank" style="float: right; margin-left: 5px;">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<span style="float: right;"><{$agency_charge.charge_price|number_format:0}></span>
						</td>
						<td class="text-right" style="color: red;"> <!-- 소진금 -->
							<{if $is_editable}>
								<input type="text" name="ad_total_price" class="form-control" value="<{$agency_charge.ad_total_price|number_format}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$agency_charge.ac_no}>','f_ad_total_price',this);" style="width: 120px; display: inline-block; text-align: right;"/>
							<{else}>
								<span style="float: left;">₩</span>
								<span style="float: right;"><{$agency_charge.ad_total_price|number_format:0}></span>
							<{/if}>
						</td>
						<td class="text-right"> <!-- 광고주 충전금 -->
							<{if $is_editable}>
								<input type="text" name="ad_charge_price" class="form-control" value="<{$agency_charge.ad_charge_price|number_format}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$agency_charge.ac_no}>','f_ad_charge_price',this);" style="width: 120px; display: inline-block; text-align: right;"/>
							<{else}>
								<span style="float: left;">₩</span>
								<span style="float: right;"><{$agency_charge.ad_charge_price|number_format:0}></span>
							<{/if}>
						</td>
						<td class="text-right"> <!-- 잔액 -->
							<span style="float: left;">₩</span>
							<span style="float: right;"><{$agency_charge.total_price|number_format:0}></span>
						</td>
						<td style="text-align: center;"> <!-- 검수대상 -->
							<{if $is_editable}>
							<select name="f_is_inspection" class="form-control" onchange="save_el('<{$agency_charge.ac_no}>', 'f_is_inspection', this)" style="width:100px; padding: 3px;">
								<option value="">::선택::</option>
								<{foreach from=$is_inspection_option key=key item=label}>
								<option value="<{$key}>"<{if $agency_charge.is_inspection == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<{else}>
								<{$is_inspection_option[$agency_charge['is_inspection']]}>
							<{/if}>
						</td>
						<td> <!-- 업무요청 -->
							<{if $is_editable}>
								<textarea name="f_task_req" class="form-control" onchange="save_el('<{$agency_charge.ac_no}>','f_task_req',this);"  style="font-size: 12px; padding: 3px; width: 99%; height: 85px;" ><{$agency_charge.task_req}></textarea>
							<{else}>
								<{$agency_charge.task_req}>
							<{/if}>
						</td>
						<td> <!-- 업무진행 -->
							<span style="margin-right: 28px;">잔액</span>
							<input type="text" name="run_price" class="form-control" value="<{$agency_charge.run_price|number_format}>" onkeyup="inputNumberFormat(this)" onfocus="this.value=''" onchange="save_el('<{$agency_charge.ac_no}>','f_run_price',this);" style="width: 130px; display: inline-block; text-align: right;" placeholder="마케터 확인 잔액"/>
							<{if $agency_charge.run_price != 0 && $agency_charge.diff_price != 0}>
								<div style="text-align: right; color: red;">
									<span>차액 : <{$agency_charge.diff_price|number_format:0}></span>
								</div>
							<{/if}>
							<textarea name="f_task_run" class="form-control" onchange="save_el('<{$agency_charge.ac_no}>','f_task_run',this);"  style="font-size: 12px; padding: 3px; width: 99%; height: 50px;"><{$agency_charge.task_run}></textarea>
						</td>
						<td> <!-- 메모 -->
							<{if $is_editable}>
								<textarea name="f_memo" class="form-control" onchange="save_el('<{$agency_charge.ac_no}>','f_memo',this);" style="width: 99%; font-size: 12px; height: 85px;"><{$agency_charge.memo}></textarea>
							<{else}>
								<{$agency_charge.memo}>
							<{/if}>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="18" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="18" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<div><button class="btn_style1" onclick="location.href='excel_agency_charge_management.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
	</div>
</div>

<form name="chk_form" action="agency_charge_management.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ac_no_list" class="chk_ac_no_list">
	<input type="hidden" name="chk_ac_no" class="chk_ac_no">
	<input type="hidden" name="chk_status" class="chk_status">
	<input type="hidden" name="chk_task_req" class="chk_task_req">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_manager_team").combobox();

		$("#sch_manager").remoteChained({
			parents: "#sch_manager_team",
			url: "/v1/api/stock.json.php?parent_data=sch_manager_team",
			loading: "로딩중..",
			clear: true
		});
	});

	function searchList(){
		document.search_form.sch_quick_type.value='';
		document.search_form.submit();
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();
		var ord_type 	= $("#ord_type").val();

		$("#ord_type").val(type);

		if(ord_type == type)
		{
			if(ord_type_by == '1'){
				$("#ord_type_by").val("2");
			}else if(ord_type_by == '2'){
				$("#ord_type_by").val("1");
			}
		}

		f.submit();
	}

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || proc == 'f_task_req' || proc == 'f_task_run') {
            $.post("agency_charge_management.php", {ac_no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

	function quick_search(quick_no)
	{
		if(quick_no == '3'){
			var quick_price = $("#sch_quick_price").val();
			resetSearch();
			document.search_form.sch_quick_price.value=quick_price;
		}else if(quick_no == '4'){
			var base_mon   = $("#sch_base_mon").val();
			var quick_term = $("#sch_quick_term").val();
			resetSearch();
			document.search_form.sch_base_mon.value = base_mon;
			document.search_form.sch_quick_term.value = quick_term;
		}

		document.search_form.sch_quick_type.value=quick_no;
		document.search_form.submit();
	}

	function charge_insert()
	{
		var f = document.forms['charge_insert_frm'];

		if(!$('#charge_company').val()){
			alert("대행업체를 선택해 주세요");
			return;
		}

		if(!$('#charge_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function charge_delete()
	{
		var f = document.forms['charge_delete_frm'];

		if(!$('#del_charge_month').val()){
			alert("충전월을 선택해주세요");
			return;
		}

		if (confirm("데이터를 삭제 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else if(type == 'text'){
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkAcSelect()
	{
		var chk_ac_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_ac_no_list += ($(item).val() + ",");
			}
		});

		if(chk_ac_no_list != ""){
			chk_ac_no_list = chk_ac_no_list.slice(0, -1);
		}

		$(".chk_ac_no_list").val(chk_ac_no_list);
	}

	function chagneMultiInspection()
	{
		checkAcSelect();

		if($(".chk_ac_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_inspection").val() == ''){
			alert("검수상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("검수상태를 변경하시겠습니까?"))
		{
			document.chk_form.process.value = 'f_multi_is_inspection';
			document.chk_form.chk_status.value = $("#mod_inspection").val();
			document.chk_form.submit();
		}

		return false;
	}

</script>

</body>
</html>
