<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script>
<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<style type="text/css">
	.border-e9{border-color: #e9e9e9;}
	.border-d9{border-color: #d9d9d9;}
	.admin_content{width: 1200px;}
	.admin_content h2.title{margin-bottom: 10px;}
	.total_approval_frm{overflow: hidden; position: relative; min-height: 300px;}

	.head_approval_frm{overflow: hidden; background: #EEE; padding: 10px; width: 1065px;}
	.fixed_head_approval_frm{overflow: hidden; background: #EEE; padding: 10px; position: fixed; top: 0; width: 1065px; display: none;}
	.head_approval_frm button{font-weight: bold; font-size: 14px;}
	.head_approval_frm button.btn-history{float: left; width: 100px;}
	.head_approval_frm button.btn-submit{float: right; width: 160px;}

	.body_approval_frm{overflow: hidden; clear: both; min-height: 900px; width: 100%; padding-top: 10px;}
	.left_approval_frm{float: left; border: 2px solid #e9e9e9; width: 400px; min-height: 600px; margin-right: 10px;}
	.left_approval_frm .form-group{padding: 5px; border-bottom: 2px solid #e9e9e9; margin: 0 10px;}
	.left_approval_frm .form-group.last{border-bottom: 0;}
	.left_approval_frm .col-form-label{font-weight: bold;}
	.right_approval_frm{float: left; border: 2px solid #e9e9e9; width: 654px; min-height: 800px;}
	#approval_report_frm .clear_wrapper{clear: both; overflow: hidden;}
	#approval_report_frm input, #approval_report_frm select, #approval_report_frm textarea{font-size: 12px;}
	#approval_report_frm .form-group{clear: both; overflow: hidden;}
	#approval_report_frm .form-content label{cursor: pointer;}
	#approval_report_frm .appr_group_select{float: left; display: inline-block;}
	#approval_report_frm .appr_radio_label{margin-right: 10px;}
	#approval_report_frm #appr_g1_val{margin-right:5px; width: 120px;}
	#approval_report_frm .tlt{float: left; display: inline-block;margin: 0 5px; line-height: 35px;}
	#approval_report_frm #k_name_code_val{margin-left:5px; width: 150px;}
	#approval_report_frm #af_no, #approval_report_frm #af_no_val{width: 300px;}
	#approval_report_frm .appr_search_label{display: inline-block; float: left; margin: 10px 15px 0 0;}
	#approval_report_frm .col-form-label .label-guide{width: 12px; margin-left: 5px; cursor: pointer;}
	#approval_report_frm .appr_search_text{float: left; width: 150px; display: inline-block;}
	#approval_report_frm .reading_search_text{float: left; width: 150px; display: inline-block;}
	#approval_report_frm .reference_search_text{float: left; width: 150px; display: inline-block;}
	#approval_report_frm .add_appr_btn{background: #333; color: white; width: 30px; height: 30px; line-height: 30px; text-align: center; font-weight: bold; float: left;}
	#approval_report_frm .del_appr_btn{background: #333; color: white; width: 30px; height: 30px; line-height: 30px; text-align: center; font-weight: bold; float: left;}
	#approval_report_frm .add_appr_btn:disabled{background: #ddd;}
	#approval_report_frm .del_appr_btn:disabled{background: #ddd;}
	#approval_report_frm .my_approval_priority, #approval_report_frm .approval_priority{display: inline-block;float: left;width: 34px;text-align: center;padding: 0.375rem 0.25rem;}
	#approval_report_frm .my_appr_team, #approval_report_frm .appr_team{display: inline-block; float: left; width: 100px;padding: 0.375rem 0.25rem;}
	#approval_report_frm .reading_permission_wrapper .appr_team, #approval_report_frm .reference_permission_wrapper .appr_team{width: 150px;}
	#approval_report_frm .my_appr_staff, #approval_report_frm .appr_staff{display: inline-block;float: left;width: 80px; padding: 0.375rem 0.25rem;}
	#approval_report_frm .appr_type_wrapper{overflow: hidden; display: inline-block; margin-top: 10px;}
	#approval_report_frm .appr_type_radio{display: inline-block; float: left;}
	#approval_report_frm .appr_type_radio_label{display: inline-block; float: left; margin: 0 2px;}
	#approval_report_frm .view_approval_title_wrapper{text-align: center;padding: 20px 0 10px;border-bottom: 2px solid #d9d9d9; min-height: 71px;}
	#approval_report_frm .view_approval_title h2{font-size: 30px; font-weight: bold;}
	#approval_report_frm .view_approval_permission_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_conference_permission_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_reference_permission_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_label_wrapper{float: left; display: inline-block; width: 50px; height: 120px; background: #eee; text-align: center; border-right: 2px solid #e9e9e9;}
	#approval_report_frm .view_label_wrapper .view_label{display:inline-block; font-size: 13px; width: 20px;padding-top: 34px; line-height: 24px;}
	#approval_report_frm .view_label_wrapper .view_calendar_label{padding-top: 25px;}
	#approval_report_frm .view_permission_wrapper {float: left; display: inline-block; width: auto; height: 120px;text-align: center;}
	#approval_report_frm .view_permission_wrapper .view_permission{float: left;height: 100%; width: 100px;border-right: 2px solid #e9e9e9; text-align: center;}
	#approval_report_frm .view_permission_wrapper .view_permission.last{border:0;}
	#approval_report_frm .view_permission_wrapper .view_permission .view_permission_head{height: 20px; border-bottom: 2px solid #e9e9e9;overflow: hidden;}
	#approval_report_frm .view_permission_wrapper .view_permission .view_permission_middle{height: 20px; border-bottom: 2px solid #e9e9e9;}
	#approval_report_frm .view_permission_wrapper .view_permission .view_permission_bottom{display: table;margin: 56px auto 0;vertical-align: bottom;}
	#approval_report_frm .view_reference_permission_wrapper .view_label_wrapper{height: 40px;}
	#approval_report_frm .view_reference_permission_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;line-height: 40px;}
	#approval_report_frm .view_reference_permission_wrapper .view_permission_wrapper{height: 40px; line-height: 40px; padding-left: 5px; border:0; text-align: left;}
	#approval_report_frm .view_report_title_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_report_title_wrapper .view_label_wrapper{height: 40px;}
	#approval_report_frm .view_report_title_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;line-height: 40px;}
	#approval_report_frm .view_report_title_wrapper .view_input{float: left; width: 590px; margin-top: 4px;}
	#approval_report_frm .view_withdraw_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_withdraw_wrapper .view_label_wrapper{height: 120px;}
	#approval_report_frm .view_withdraw_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;margin-top: 35px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper{width: auto; display: inline-block; margin-left: 20px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper .view_withdraw_top_wrapper{clear: both; overflow: hidden; margin-top: 7px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper .view_withdraw_bottom_wrapper{clear: both; overflow: hidden;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper .withdraw_label{float: left; display: inline-block; width: auto; line-height: 35px; margin-right: 10px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper input{float: left;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_c_name{width: 190px; margin-right: 15px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_manager_name{width: 190px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_title{width: 90px; margin-right: 20px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_account{width: 120px; margin-right: 20px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_num{width: 160px;}
	#approval_report_frm .view_withdraw_wrapper .view_detail_wrapper #wd_file{float: left;}
	#approval_report_frm .view_withdraw_tax_wrapper{border-bottom: 2px solid #d9d9d9;}
	#approval_report_frm .view_withdraw_tax_wrapper .view_label_wrapper{height: 100px;}
	#approval_report_frm .view_withdraw_tax_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;margin-top: 24px;}
	#approval_report_frm .view_withdraw_tax_wrapper .view_detail_wrapper{width: auto; display: inline-block; margin: 20px 0 0 10px;}
	#approval_report_frm .view_withdraw_tax_wrapper .view_detail_wrapper .input_type_money{width: 80px;}
	#approval_report_frm .view_withdraw_state_wrapper .view_label_wrapper{height: 40px;}
	#approval_report_frm .view_withdraw_state_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;line-height: 20px;}
	#approval_report_frm #cke_ar_content{width: 650px;}
	#approval_report_frm .view_work_wrapper{border-top: 2px solid #d9d9d9;}
	#approval_report_frm .view_work_wrapper .view_label_wrapper{height: 60px;}
	#approval_report_frm .view_work_wrapper .view_label_wrapper .view_label{padding: 0; width: auto;margin-top: 5px;}
	#approval_report_frm .view_work_wrapper .view_detail_wrapper{float: left; display: inline-block; padding: 14px 10px 0;}
	#approval_report_frm .view_detail_leave_wrapper{width: 600px; padding: 10px 15px; box-sizing: border-box; float: left;}
	#approval_report_frm .view_detail_leave_type{overflow: hidden;}
	#approval_report_frm .view_detail_leave_type input{cursor: pointer;}
	#approval_report_frm .view_detail_leave_type label{cursor: pointer; margin-right: 5px;}
	#approval_report_frm .view_detail_leave_date{margin-top: 10px;}
	#approval_report_frm .view_detail_leave_date span{display: inline-block; margin-right: 10px;}
	#approval_report_frm .view_detail_leave_date .date-picker{display: inline-block;}
	#approval_report_frm .view_detail_leave_date .leave_text{display: inline-block; margin-left: 10px;}
	#approval_report_frm .view_detail_leave_date .leave_notice{display: inline-block; color: red; margin-left: 0px;}

	.dropzone{padding: 10px 30px; min-height: unset;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}

	.html_content{display: none;}
</style>

<div class="admin_content">
	<h2 class="title">● 결재작성</h2>
	<div class="total_approval_frm">
		<form id="approval_report_frm" name="approval_report_frm" action="approval_report.php" method="post" enctype="multipart/form-data" onsubmit="return checkApprovalReport(0)" autocomplete="off">
			<input type="hidden" name="ar_no" id="ar_no" value="<{$ar_no}>">
			<input type="hidden" name="doc_no" id="doc_no" value="<{$doc_no}>">
			<input type="hidden" name="is_approve" id="is_approve" value="">
			<input type="hidden" name="is_withdraw" id="is_withdraw" value="<{$is_withdraw}>">
			<input type="hidden" name="is_calendar" id="is_calendar" value="<{$is_calendar}>">
			<input type="hidden" name="is_mod_permission" id="is_mod_permission" value="<{$is_mod_permission}>">
			<input type="hidden" name="linked_no" id="linked_no" value="<{$linked_no}>">
			<input type="hidden" name="linked_table" id="linked_table" value="<{$linked_table}>">
			<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
			<input type="hidden" name="file_origin_read" value="<{$file_origin_read}>">
			<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="<{if !!$ar_no}>upd_approval_report<{else}>add_approval_report<{/if}>">

			<div class="head_approval_frm default_head_approval_frm">
				<button type="button" class="btn btn-dark btn-history" onclick="location.href='/v1/approval_report_list.php';">뒤로</button>
				<button type="submit" class="btn btn-dark btn-history"><{$btn_title}></button>
				<{if $ar_no}>
					<button type="button" class="btn btn-dark btn-history" onclick="delApproval();">삭제</button>
				<{/if}>
				<button type="button" class="btn btn-dark btn-submit" onclick="sendApproval();">결재 상신</button>
			</div>
			<div class="head_approval_frm fixed_head_approval_frm">
				<button type="button" class="btn btn-dark btn-history" onclick="location.href='/v1/approval_report_list.php';">뒤로</button>
				<button type="submit" class="btn btn-dark btn-history"><{$btn_title}></button>
				<{if $ar_no}>
					<button type="button" class="btn btn-dark btn-history" onclick="delApproval();">삭제</button>
				<{/if}>
				<button type="button" class="btn btn-dark btn-submit" onclick="sendApproval()">결재 상신</button>
			</div>
			<div class="body_approval_frm">
				<div class="left_approval_frm">
					<div class="form-group">
						<label class="col-form-label">결재양식<img src="images/question.png" title="결재양식" class="label-guide"></label>
						<div class="form-content">
							<{if $linked_no > 0}>
								<input type="hidden" name="af_no" id="af_no" value="<{$af_no}>">
								<select id="af_no_val" name="af_no_val" class="form-control appr_group_select" disabled>
									<option value="">::전체::</option>
									<{foreach from=$approval_form_list key=key item=label}>
									<option value="<{$key}>" <{if $af_no==$key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{else}>
								<select name="af_no" id="af_no" class="form-control appr_group_select" required>
									<option value="">::전체::</option>
									<{foreach from=$approval_form_list key=key item=label}>
									<option value="<{$key}>" <{if $af_no==$key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{/if}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-form-label">결재구분<img src="images/question.png" title="결재구분" class="label-guide"></label>
						<div class="form-content">
							<input type="hidden" name="appr_g1" id="appr_g1" value="<{$appr_g1}>">
							<input type="hidden" name="k_name_code" id="k_name_code" value="<{$k_name_code}>">
							<select name="appr_g1_val" id="appr_g1_val" class="form-control appr_group_select" disabled>
								<option value="">::전체::</option>
								<{foreach from=$appr_form_g1_list item=appr_g1_data}>
									<option value="<{$appr_g1_data.k_name_code}>" <{if $appr_g1==$appr_g1_data.k_name_code}>selected<{/if}>><{$appr_g1_data.k_name}></option>
								<{/foreach}>
							</select>
							<span class="tlt">></span>
							<select name="k_name_code_val" id="k_name_code_val"  class="form-control appr_group_select" required disabled>
								<option value="">::전체::</option>
								<{foreach from=$appr_form_g2_list item=appr_g2_data}>
									<option value="<{$appr_g2_data.k_name_code}>" <{if $k_name_code==$appr_g2_data.k_name_code}>selected<{/if}>><{$appr_g2_data.k_name}></option>
								<{/foreach}>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-form-label">
							<span class="appr_search_label">결재선<img src="images/question.png" title="결재선" class="label-guide"></span>
							<input type="hidden" class="appr_search_staff">
							<input type="hidden" class="appr_search_team">
							<input type="hidden" class="appr_search_idx" value="<{$appr_search_idx}>">
							<input type="hidden" name="origin_approval_arp_no" value="<{$origin_approval_arp_no}>">
							<input type="text" class="appr_search_text form-control">
							<button type='button' onclick="addApprovalPermission()" class="add_appr_btn">+</button>
						</label>
						<div class="form-content approval_permission_wrapper">
							<div class="default_approval_permission clear_wrapper" id="default_approval_permission_content_<{$approval_permission_me.arp_team}>_<{$approval_permission_me.arp_s_no}>">
								<input type="text" class="form-control my_approval_priority" value="1" disabled>
								<select class="form-control my_appr_team" disabled>
									<{foreach from=$appr_form_team_list key=key item=label}>
									<option value="<{$key}>" <{if $approval_permission_me.arp_team == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
								<select class="form-control my_appr_staff" disabled>
									<{foreach from=$appr_form_staff_list[$session_team] key=key item=label}>
									<option value="<{$key}>" <{if $approval_permission_me.arp_s_no == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
								<button type="button" class="del_appr_btn" disabled>X</button>
								<div class="appr_type_wrapper">
									<input type="radio" value="0" id="appr_type_approval_0" class="appr_type_radio" checked>
									<label for="appr_type_approval_0" class="appr_type_radio_label">결재</label>
								</div>
							</div>
							<{if $approval_permission_list}>
								<{foreach from=$approval_permission_list item=approval_permission}>
									<div class="approval_permission_content clear_wrapper" attr-idx="<{$approval_permission.priority}>" id="approval_permission_content_<{$approval_permission.arp_team}>_<{$approval_permission.arp_s_no}>">
										<input type="hidden" name="approval_arp_no[]" value="<{$approval_permission.arp_no}>">
										<input type="hidden" name="approval_permission_type[]" id="approval_permission_type<{$approval_permission.priority}>" value="<{$approval_permission.arp_type}>">
										<input type="text" name="approval_priority_val" class="form-control approval_priority" value="<{$approval_permission.priority}>" attr-idx="<{$approval_permission.priority}>">
										<input type="hidden" name="approval_permission_team[]" id="approval_permission_team<{$approval_permission.priority}>" value="<{$approval_permission.arp_team}>">
										<input type="hidden" name="approval_permission_staff[]" id="approval_permission_staff<{$approval_permission.priority}>" value="<{$approval_permission.arp_s_no}>">
										<input type="hidden" name="approval_priority[]" id="approval_priority<{$approval_permission.priority}>" value="<{$approval_permission.priority}>">
										<select name="approval_permission_team_val" class="form-control appr_team approval_permission_team_val approval_permission_team<{$approval_permission.priority}>" attr-idx="<{$approval_permission.priority}>" required>
											<option value="">::전체::</option>
											<{foreach from=$appr_form_team_list key=key item=label}>
											<option value="<{$key}>" <{if $approval_permission.arp_team == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<select name="approval_permission_staff_val" class="form-control appr_staff approval_permission_staff approval_permission_staff<{$approval_permission.priority}>" attr-idx="<{$approval_permission.priority}>" required>
											<option value="">::전체::</option>
											<{foreach from=$appr_form_staff_list[$approval_permission.arp_team] key=key item=label}>
											<option value="<{$key}>" <{if $approval_permission.arp_s_no == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<button type="button" onclick="delPermission(this)" class="del_appr_btn">X</button>
										<div class="appr_type_wrapper">
											<input type="radio" name="approval_permission_type<{$approval_permission.priority}>" value="approval" id="appr_type_approval_<{$approval_permission.priority}>" class="appr_type_radio approval_permission_type" attr-idx="<{$approval_permission.priority}>" <{if $approval_permission.arp_type == 'approval'}>checked<{/if}>>
											<label for="appr_type_approval_<{$approval_permission.priority}>" class="appr_type_radio_label appr_type_approval_label">결재</label>
											<input type="radio" name="approval_permission_type<{$approval_permission.priority}>" value="conference" id="appr_type_conference_<{$approval_permission.priority}>" class="appr_type_radio approval_permission_type" attr-idx="<{$approval_permission.priority}>" <{if $approval_permission.arp_type == 'conference'}>checked<{/if}>>
											<label for="appr_type_conference_<{$approval_permission.priority}>" class="appr_type_radio_label appr_type_conference_label">순차합의</label>
										</div>
									</div>
								<{/foreach}>
							<{/if}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-form-label">
							<span class="appr_search_label">열람자<img src="images/question.png" title="열람자" class="label-guide"></span>
							<input type="hidden" class="appr_reading_idx" value="<{$appr_reading_idx}>">
							<input type="hidden" name="origin_reading_arp_no" value="<{$origin_reading_arp_no}>">
							<input type="hidden" class="reading_search_staff">
							<input type="hidden" class="reading_search_team">
							<input type="text" class="reading_search_text form-control">
							<button type="button" onclick="addPermission('reading')" class="add_appr_btn">+</button>
						</label>
						<div class="form-content reading_permission_wrapper clear_wrapper">
							<{if $reading_permission_list}>
								<{foreach from=$reading_permission_list item=reading_permission}>
									<div class="reading_permission_content clear_wrapper">
										<input type="hidden" name="reading_arp_no[]" value="<{$reading_permission.arp_no}>">
										<input type="hidden" name="reading_permission_team[]" id="reading_permission_team<{$reading_permission.priority}>" value="<{$reading_permission.arp_team}>">
										<input type="hidden" name="reading_permission_staff[]" id="reading_permission_staff<{$reading_permission.priority}>" value="<{$reading_permission.arp_s_no}>">
										<select name="reading_permission_team_val" class="form-control appr_team reading_permission_team_val reading_permission_team<{$reading_permission.priority}>" attr-idx="<{$reading_permission.priority}>" required>
											<option value="">::전체::</option>
											<{foreach from=$appr_form_team_list key=key item=label}>
											<option value="<{$key}>" <{if $reading_permission.arp_team == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<select name="reading_permission_staff_val" class="form-control appr_staff reading_permission_staff reading_permission_staff<{$reading_permission.priority}>" attr-idx="<{$reading_permission.priority}>">
											<option value="">::전체::</option>
											<{foreach from=$appr_form_staff_list[$reading_permission.arp_team] key=key item=label}>
											<option value="<{$key}>" <{if $reading_permission.arp_s_no == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<button type="button" onclick="delPermission(this)" class="del_appr_btn">X</button>
									</div>
								<{/foreach}>
							<{/if}>
						</div>
					</div>
					<div class="form-group last">
						<label class="col-form-label"><span class="appr_search_label">참조자<img src="images/question.png" title="참조자" class="label-guide"></span>
							<input type="hidden" class="appr_reference_idx" value="<{$appr_reference_idx}>">
							<input type="hidden" name="origin_reference_arp_no" value="<{$origin_reference_arp_no}>">
							<input type="hidden" class="reference_search_staff">
							<input type="hidden" class="reference_search_team">
							<input type="text" class="reference_search_text form-control">
							<button type="button" onclick="addPermission('reference')" class="add_appr_btn">+</button>
						</label>
						<div class="form-content reference_permission_wrapper clear_wrapper">
							<{if $reference_permission_list}>
								<{foreach from=$reference_permission_list item=reference_permission}>
									<div class="reference_permission_content clear_wrapper">
										<input type="hidden" name="reference_arp_no[]" value="<{$reference_permission.arp_no}>">
										<input type="hidden" name="reference_permission_team[]" id="reference_permission_team<{$reference_permission.priority}>" value="<{$reference_permission.arp_team}>">
										<input type="hidden" name="reference_permission_staff[]" id="reference_permission_staff<{$reference_permission.priority}>" value="<{$reference_permission.arp_s_no}>">
										<select name="reference_permission_team_val" class="form-control appr_team reference_permission_team_val reference_permission_team<{$reference_permission.priority}>" attr-idx="<{$reference_permission.priority}>" required>
											<option value="">::전체::</option>
											<{foreach from=$appr_form_team_list key=key item=label}>
											<option value="<{$key}>" <{if $reference_permission.arp_team == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<select name="reference_permission_staff_val" class="form-control appr_staff reference_permission_staff reference_permission_staff<{$reference_permission.priority}>" attr-idx="<{$reference_permission.priority}>" >
											<option value="">::전체::</option>
											<{foreach from=$appr_form_staff_list[$reference_permission.arp_team] key=key item=label}>
											<option value="<{$key}>" <{if $reference_permission.arp_s_no == $key}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										</select>
										<button type="button" onclick="delPermission(this)" class="del_appr_btn">X</button>
									</div>
								<{/foreach}>
							<{/if}>
						</div>
					</div>
				</div>
				<div class="right_approval_frm">
					<div class="view_approval_title_wrapper">
						<h2><{$title}></h2>
					</div>
					<div class="view_approval_permission_wrapper clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">결재</span>
						</div>
						<div class="view_permission_wrapper">
							<div class="view_permission">
								<div class="view_permission_head"><{$appr_form_team_list[$approval_permission_me.arp_team]}></div>
								<div class="view_permission_middle"><{$appr_form_staff_list[$approval_permission_me.arp_team][$approval_permission_me.arp_s_no]}></div>
								<div class="view_permission_bottom">기안 <{$approval_permission_me.arp_date}></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission last">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
						</div>
					</div>
					<div class="view_conference_permission_wrapper clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">합의</span>
						</div>
						<div class="view_permission_wrapper">
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
							<div class="view_permission last">
								<div class="view_permission_head"></div>
								<div class="view_permission_middle"></div>
								<div class="view_permission_bottom"></div>
							</div>
						</div>
					</div>
					<div class="view_reference_permission_wrapper clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">참조</span>
						</div>
						<div class="view_permission_wrapper">
						</div>
					</div>
					<div class="view_report_title_wrapper clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">제목</span>
						</div>
						<input type="text" name="ar_title" id="ar_title" class="form-control view_input" value="<{$ar_title}>" />
					</div>

					<div class="view_withdraw_wrapper view_withdraw clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">출금<br/>계좌</span>
						</div>
						<div class="view_detail_wrapper">
							<div class="view_withdraw_top_wrapper">
								<input type="hidden" name="wd_no" id="wd_no" value="<{$wd_no}>">
								<input type="hidden" name="arw_no" id="arw_no" value="<{$arw_no}>">
								<label class="withdraw_label" for="wd_c_name">업체명(지급처)</label>
								<input type="hidden" name="wd_c_no" id="wd_c_no" value="<{$wd_c_no}>">
								<input type="text" name="wd_c_name" id="wd_c_name" class="form-control wd_input" value="<{$wd_c_name}>">
								<label class="withdraw_label" for="wd_manager_name">담당자(부서)</label>
								<input type="hidden" name="wd_manager" id="wd_manager" value="<{$wd_manager}>">
								<input type="hidden" name="wd_team" id="wd_team" value="<{$wd_team}>">
								<input type="text" name="wd_manager_name" id="wd_manager_name" class="form-control wd_input" value="<{$wd_manager_name}>">
							</div>
							<div class="view_withdraw_bottom_wrapper">
								<label class="withdraw_label" for="wd_title">은행명</label>
								<input type="text" name="wd_title" id="wd_title" class="form-control wd_input" value="<{$wd_title}>">
								<label class="withdraw_label" for="wd_account">예금주</label>
								<input type="text" name="wd_account" id="wd_account" class="form-control wd_input" value="<{$wd_account}>">
								<label class="withdraw_label" for="wd_num">계좌번호</label>
								<input type="text" name="wd_num" id="wd_num" class="form-control wd_input" value="<{$wd_num}>">
								<br style="clear: both;"/>
								<input type="checkbox" name="is_wd_file" id="is_wd_file" value="1" <{if $is_wd_file == '1'}>checked<{/if}>>
								<label for="is_wd_file" style="cursor: pointer;">첨부파일 참고(탑블로그와 같이 지급대상이 많을경우)</label>
							</div>
						</div>
					</div>
					<div class="view_withdraw_tax_wrapper view_withdraw clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">출금<br/>요청액</span>
						</div>
						<div class="view_detail_wrapper">
							<input type="radio" name="wd_vat_tax_choice" value="1" onclick="vat_tax_calculate();" <{if !$wd_vat_tax_choice || $wd_vat_tax_choice == '1'}>checked<{/if}>>부가세 [+10%] ,
							<input type="radio" name="wd_vat_tax_choice" value="2" onclick="vat_tax_calculate();" <{if $wd_vat_tax_choice == '2'}>checked<{/if}>>소득세 원천징수 [-3.3%] ,
							<input type="radio" name="wd_vat_tax_choice" value="3" onclick="vat_tax_calculate();" <{if $wd_vat_tax_choice == '3'}>checked<{/if}>>해당사항없음
							<br>
							<br>
							<input type="text" name="wd_cost" id="wd_cost" onfocus="this.value=''" onchange="vat_tax_calculate_reverse()" onkeyup="vat_tax_calculate_reverse()" class="input_type_money" value="<{$wd_cost|number_format:0}>" style="color: f00;background-color:#ff0;"> =
							공급가액 <input type="text" name="wd_supply_cost" id="wd_supply_cost" onfocus="this.value=''" onchange="vat_tax_calculate()" onkeyup="vat_tax_calculate()" class="input_type_money" value="<{$wd_supply_cost|number_format:0}>" style="color: #000">
							<span id="vat_display">
								+ 부가세액
								<input type="text" name="wd_supply_cost_vat" id="wd_supply_cost_vat" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$wd_supply_cost_vat|number_format:0}>" style="width: 80px; color: #777;">
							</span>
							<span id="tax_display">
								+ 소득세액
								(사업소득세 : <input type="text" name="wd_biz_tax" id="wd_biz_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$wd_biz_tax|number_format:0}>" style="width: 80px; color: #777;">,
								지방소득세 : <input type="text" name="wd_local_tax" id="wd_local_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$wd_local_tax|number_format:0}>" style="width: 80px; color: #777;">)
							</span>
						</div>
						<{if $wd_vat_tax_choice == '1' || $wd_vat_tax_choice == ''}>
						<script>$("#vat_display").show();</script>
						<script>$("#tax_display").hide();</script>
						<{elseif $wd_vat_tax_choice == '2'}>
						<script>$("#vat_display").hide();</script>
						<script>$("#tax_display").show();</script>
						<{elseif $wd_vat_tax_choice == '3'}>
						<script>$("#vat_display").hide();</script>
						<script>$("#tax_display").hide();</script>
						<{/if}>
					</div>
					<div class="view_withdraw_state_wrapper view_withdraw clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">출금<br/>상태</span>
						</div>
					</div>
					<div class="view_calendar_wrapper view_calendar clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label view_calendar_label">캘린더</span>
						</div>
						<div class="view_detail_leave_wrapper">
							<input type="hidden" name="arl_no" value="<{$arl_no}>">
							<input type="hidden" name="leave_no" id="leave_no" value="<{$leave_no}>">
							<div class="view_detail_leave_type">
								<{foreach from=$leave_type_list key=lt_no item=leave_type_data}>
									<input type="radio" name="leave_type" id="leave_type_<{$lt_no}>" class="leave_type" value="<{$lt_no}>" attr-no="<{$leave_type_data.lm_no}>" <{if $leave_type == $lt_no}>checked<{/if}>>
									<label for="leave_type_<{$lt_no}>" id="leave_type_label_<{$lt_no}>"><{$leave_type_data.name}></label>
								<{/foreach}>
							</div>
							<div class="view_detail_leave_date">
								<span>일자</span>
								<input type="text" name="leave_s_date" id="leave_s_date" class="form-control date-picker" value="<{$leave_s_date}>">
								~
								<input type="text" name="leave_e_date" id="leave_e_date" class="form-control date-picker" value="<{$leave_e_date}>">
								<span class="leave_text">
									<{$leave_text}>
								</span>
								<span class="leave_notice"></span>
							</div>
						</div>
					</div>
					<div class="view_content_wrapper">
						<textarea name="ar_content" id="ar_content" rows="10" cols="40"><{$ar_content}></textarea>
					</div>
					<{if $work_name}>
					<div class="view_work_wrapper clear_wrapper">
						<div class="view_label_wrapper">
							<span class="view_label">work<br/>linked</span>
						</div>
						<div class="view_detail_wrapper">
							<{$work_name}><br/>
							<{$work_link}>
						</div>
					</div>
					<{/if}>
					<div class="view_file_wrapper">
						<div class="dropzone" id="approvalFileDropzone">
						</div>
						<div class="add-file-hidden">
							<input type="hidden" id="file_count" value="<{$file_count}>" />
							<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="html_content">
		<select class="permission_team_html">
			<option value="">::전체::</option>
			<{foreach from=$appr_form_team_list key=key item=label}>
				<option value="<{$key}>"><{$label}></option>
			<{/foreach}>
		</select>
	</div>
</div>

<script type="text/javascript">
	$(window).on("scroll", function(){
		var sctop = $(window).scrollTop();

		if (sctop > 100) {
			$(".default_head_approval_frm").css({'display':'none'});
			$(".fixed_head_approval_frm").css({'display':'block'});
			$(".body_approval_frm").css({'padding-top':'70px'});
		} else {
			$(".default_head_approval_frm").css({'display':'block'});
			$(".fixed_head_approval_frm").css({'display':'none'});
			$(".body_approval_frm").css({'padding-top':'10px'});
		}
	});

    $(document).ready(function() {

		$(".appr_search_text").focus(function(){
			$(".appr_search_staff").val('');
			$(".appr_search_team").val('');
		});

		$(".reading_search_text").focus(function(){
			$(".reading_search_staff").val('');
			$(".reading_search_team").val('');
		});

		$(".reference_search_text").focus(function(){
			$(".reference_search_staff").val('');
			$(".reference_search_team").val('');
		});

		$(".appr_search_text").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/approval.manager.api.php",
					dataType: "json",
					data: {s_name:request.term, type: 2},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_name,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(".appr_search_staff").val(ui.item.sno);
				$(".appr_search_team").val(ui.item.team);
				$(this).val(ui.item.label);
				$(this).next("button").click();
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$(".reading_search_text").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/approval.manager.api.php",
					dataType: "json",
					data: {s_name:request.term, type: 2},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_name,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(".reading_search_staff").val(ui.item.sno);
				$(".reading_search_team").val(ui.item.team);
				$(this).val(ui.item.label);
				$(this).next("button").click();
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$(".reference_search_text").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/approval.manager.api.php",
					dataType: "json",
					data: {s_name:request.term, type: 2},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_name,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(".reference_search_staff").val(ui.item.sno);
				$(".reference_search_team").val(ui.item.team);
				$(this).val(ui.item.label);
				$(this).next("button").click();
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$("#af_no").change(function(){
			var af_no = $(this).val();

			resetApprovalReport();

			if(af_no > 0)
			{
				$.ajax({
					url: '/v1/api/approval.report.content.api.php',
					type: 'POST',
					data: {af_no: af_no}
				}).done( function( data ) {
					var jsonData = JSON.parse(data);
					var result   = jsonData.result;

					if(!result){
						alert('결재양식 변경에 오류가 발생했습니다.');
						return false;
					}

					var appr_g1  = jsonData.appr_g1;
					var appr_g2  = jsonData.appr_g2;
					var title    = jsonData.title;
					var content  = jsonData.content;
					var apprPermission = jsonData.approval;
					var apprIdx 	   = jsonData.appr_idx;
					var readPermission = jsonData.reading;
					var readIdx 	   = jsonData.read_idx;
					var refPermission  = jsonData.reference;
					var refIdx 	   	   = jsonData.ref_idx;
					var isWithdraw	   = jsonData.is_withdraw;
					var isCalendar	   = jsonData.is_calendar;
					var isModfy	   	   = jsonData.is_modify;

                    $("#appr_g1").val(appr_g1);
                    $("#appr_g1_val").val(appr_g1);
                    $("#k_name_code").val(appr_g2);
                    $("#k_name_code_val").val(appr_g2);
					$("#is_mod_permssion").val(isModfy);
					$(".view_approval_title_wrapper h2").html(title);
					$(".appr_search_idx").val(apprIdx);
					$(".approval_permission_wrapper").append(apprPermission);
					$(".appr_reading_idx").val(readIdx);
					$(".reading_permission_wrapper").append(readPermission);
					$(".appr_reference_idx").val(refIdx);
					$(".reference_permission_wrapper").append(refPermission);
					$("#is_withdraw").val(isWithdraw);
					$("#is_calendar").val(isCalendar);

					if(isWithdraw == '1') {
						$(".view_withdraw").show();
					}else{
						$(".view_withdraw").hide();
					}

					if(isCalendar == '1'){
						$(".view_calendar").show();
						$("#ar_title").attr("readonly", true);
						changeCalendar();
					}else{
						$("#ar_title").attr("readonly", false);
						$(".view_calendar").hide();
					}

					if($("#linked_table").val() != 'work'){
						CKEDITOR.instances.ar_content.setData(content);
					}

					addStaffRemoteChained('approval');
					addStaffRemoteChained('reading');
					addStaffRemoteChained('reference');

					addTeamChange('approval');
					addTeamChange('reading');
					addTeamChange('reference');

                    changePriority();
					addApprType();
					changePermissionMod(isModfy);
					viewPermission();
				});
			}else{
				viewPermission();
			}
		});

		$("#wd_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno : item.s_no,
								sname : item.ss_label,
								team : item.team,
								bk_title : item.bk_title,
								bk_name : item.bk_name,
								bk_num : item.bk_num
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(this).val(ui.item.label)
				$("#wd_manager").val(ui.item.sno);
				$("#wd_manager_name").val(ui.item.sname);
				$("#wd_team").val(ui.item.team);
				$("#wd_c_no").val(ui.item.cno);
				$("#wd_title").val(ui.item.bk_title);
				$("#wd_account").val(ui.item.bk_name);
				$("#wd_num").val(ui.item.bk_num);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$("#is_wd_file").change(function(){
			if($(this).is(":checked")){
				$(".wd_input").attr('disabled', true);
			}else{
				$(".wd_input").attr('disabled', false);
			}
		});

		addStaffRemoteChained('approval');
		addStaffRemoteChained('reading');
		addStaffRemoteChained('reference');

		addTeamChange('approval');
		addTeamChange('reading');
		addTeamChange('reference');

        changePriority();
		addApprType();
		viewPermission();

		var is_withdraw = $("#is_withdraw").val();
		var is_wd_file 	= $("#is_wd_file").is(":checked");
		if(is_withdraw == '1'){
			$(".view_withdraw").show();
			if(is_wd_file == '1'){
				$(".wd_input").attr('disabled', true);
			}
		}else{
			$(".view_withdraw").hide();
		}

		var is_calendar	= $("#is_calendar").val();
		if(is_calendar == '1'){
			$(".view_calendar").show();
			$("#ar_title").attr("readonly", true);
			changeCalendar();
		}else{
			$("#ar_title").attr("readonly", false);
			$(".view_calendar").hide();
		}

		var is_mod_permission = $("#is_mod_permission").val();
        changePermissionMod(is_mod_permission);

		if(!$("#ar_no").val() && $("#linked_no").val() > 0){
			$("#af_no").trigger('change');
		}

		if($("#ar_no").val() && is_calendar){
			$("#leave_s_date").trigger('change');
		}
	});

	function addApprovalPermission()
	{
		var idx   = $(".appr_search_idx").val();
		var team  = $(".appr_search_team").val();
		var staff = $(".appr_search_staff").val();

		var viewCountResult = viewCountCheck();
		if(viewCountResult == 'total_failed'){
			alert("더 이상 추가하실 수 없습니다.");
			return false;
		}

		var permission_type = 'approval';
		var appr_type_chk 	= 'checked';
		var conf_type_chk 	= '';
		if(viewCountResult == 'appr_failed'){
			permission_type = 'conference';
			appr_type_chk 	= '';
			conf_type_chk 	= 'checked';
		}

		var id_name = team+"_"+staff;
		if(!team || !staff){
			id_name = "empty"
		}else{
			if($("#approval_permission_content_"+id_name).length > 0){
				alert("이미 결재라인에 등록되어있습니다.");
				return false;
			}
		}

        if(id_name == 'empty'){
            var html = "<div class='approval_permission_content clear_wrapper approval_permission_content_empty"+idx+"' id='approval_permission_content_"+id_name+"' attr-idx='"+idx+"'>";
        }else{
            var html = "<div class='approval_permission_content clear_wrapper' id='approval_permission_content_"+id_name+"' attr-idx='"+idx+"'>";
        }

		html  += "		<input type='hidden' name='approval_arp_no[]' value=''>";
		html  += "		<input type='hidden' name='approval_permission_type[]' id='approval_permission_type"+idx+"' value='"+permission_type+"'>";
		html  += "		<input type='text' name='approval_priority_val' class='form-control approval_priority' value='"+idx+"' attr-idx='"+idx+"'>";
		html  += "		<input type='hidden' name='approval_permission_team[]' id='approval_permission_team"+idx+"' value='"+team+"'>";
		html  += "		<input type='hidden' name='approval_permission_staff[]' id='approval_permission_staff"+idx+"' value='"+staff+"'>";
		html  += "		<input type='hidden' name='approval_priority[]' id='approval_priority"+idx+"' value='"+idx+"'>";
		html  += "		<select name='approval_permission_team_val' class='form-control appr_team approval_permission_team_val approval_permission_team"+idx+"' attr-idx='"+idx+"' required>";
		html  += $(".permission_team_html").html();
		html  += "		</select>";
		html  += "		<select name='approval_permission_staff_val' class='form-control appr_staff approval_permission_staff approval_permission_staff"+idx+"' attr-idx='"+idx+"' required>";
		html  += "		</select>";
		html  += "		<button type='button' onclick=\"delPermission(this)\" class='del_appr_btn'>X</button>";
		html  += "		<div class='appr_type_wrapper'>";
		html  += "			<input type='radio' name='approval_permission_type"+idx+"' value='approval' id='appr_type_approval_"+idx+"' class='appr_type_radio approval_permission_type' attr-idx='"+idx+"' "+appr_type_chk+">";
		html  += "			<label for='appr_type_approval_"+idx+"' class='appr_type_radio_label appr_type_approval_label'>결재</label>";
		html  += "			<input type='radio' name='approval_permission_type"+idx+"' value='conference' id='appr_type_conference_"+idx+"' class='appr_type_radio approval_permission_type' attr-idx='"+idx+"' "+conf_type_chk+">";
		html  += "			<label for='appr_type_conference_"+idx+"' class='appr_type_radio_label appr_type_conference_label'>순차합의</label>";
		html  += "		</div>";
		html  += "</div>";

		$(".approval_permission_wrapper").append(html);

        addTeamChange('approval');
		addStaffRemoteChained('approval');
        changePriority();

		$(".approval_permission_team"+idx).val(team);
		$(".approval_permission_team"+idx).trigger('change');

		if(id_name != "empty") {
			setTimeout(function(){$(".approval_permission_staff"+idx).val(staff);viewPermission();}, 1000);
		}

		$(".appr_search_idx").val(Number(idx)+1);
		$(".appr_search_team").val('');
		$(".appr_search_staff").val('');
		$(".appr_search_text").val('');

		addApprType();
	}

	function delPermission(obj)
	{
        checkPriority('del', $(obj).parent().attr('id'), $(obj).parent().attr('attr-idx'), $(obj).parent().find('.approval_priority').val());
        $(obj).parent().remove();
        updHtmlPriority();
	}

	function viewClear()
	{
		$(".view_approval_permission_wrapper .view_permission").each(function(i, obj){
			if(i != 0){
				$(obj).find(".view_permission_head").text("");
				$(obj).find(".view_permission_middle").text("");
			}
		});

		$(".view_conference_permission_wrapper .view_permission").each(function(i, obj){
			$(obj).find(".view_permission_head").text("");
			$(obj).find(".view_permission_middle").text("");
		});

		$(".view_reference_permission_wrapper .view_permission_wrapper").text("");
	}

	function viewCountCheck()
	{
		var appr_idx  = 1;
		var conf_idx  = 0;

		$(".approval_permission_content").each(function(i,obj){
			var idx 	   = $(obj).attr('attr-idx');
			var appr_type  = $("#approval_permission_type"+idx).val();

			if(appr_type == 'approval'){
				appr_idx++;
			}else{
				conf_idx++;
			}
		});

		var total_idx = appr_idx + conf_idx;
		if(total_idx > 11 || appr_idx > 5 && conf_idx > 5){
			return 'total_failed';
		}else if(appr_idx > 5){
			return 'appr_failed';
		}else if(conf_idx > 5){
			return 'conf_failed';
		}else{
			return 'success'
		}

	}

	function viewApprCheck()
	{
		var appr_idx  = 1;
		var conf_idx  = 0;

		$(".approval_permission_content").each(function(i,obj){
			var idx 	   = $(obj).attr('attr-idx');
			var appr_type  = $("#approval_permission_type"+idx).val();

			if(appr_type == 'approval'){
				appr_idx++;
			}else{
				conf_idx++;
			}
		});

		var total_idx = appr_idx + conf_idx;
		if(total_idx > 12){
			return 'total_failed';
		}else if(appr_idx > 6){
			return 'appr_failed';
		}else if(conf_idx > 6){
			return 'conf_failed';
		}else{
			return 'success'
		}
	}

	function viewPermission()
	{
		viewClear();

		var appr_idx = 1;
		var conf_idx = 0;
		$(".approval_permission_team_val").each(function(i, obj){
			var idx 	   = $(obj).attr('attr-idx');
			var team_text  = $(".approval_permission_team"+idx+" option:checked").text();
			var staff_text = $(".approval_permission_staff"+idx+" option:checked").text();
			var appr_type  = $("#approval_permission_type"+idx).val();
			var view_obj   = "";

			if(appr_type == 'approval'){
				view_obj = $(".view_approval_permission_wrapper .view_permission")[appr_idx];
				appr_idx++;
			}else{
				view_obj = $(".view_conference_permission_wrapper .view_permission")[conf_idx];
				conf_idx++;
			}

			if(view_obj)
			{
				$(view_obj).find(".view_permission_head").text(team_text);
				$(view_obj).find(".view_permission_middle").text(staff_text);
			}
		});

		var text = "";
		$(".reference_permission_team_val").each(function(i, obj) {
			var idx = $(obj).attr('attr-idx');
			var team_text = $(".reference_permission_team" + idx + " option:checked").text();
			var staff_text = $(".reference_permission_staff" + idx + " option:checked").text();

			if(staff_text != '::전체::'){
				text += (staff_text + " ");
			}else if(team_text != '::전체::'){
				text += ("@"+team_text + " ");
			}
		});

		$(".view_reference_permission_wrapper .view_permission_wrapper").text(text);
	}

	function addStaffRemoteChained(type)
	{
		$("."+type+"_permission_staff").each(function (i, val) {
			$(this).remoteChained({
				parents: $("."+type+"_permission_team_val")[i],
				url: "/v1/api/approval.permission.json.php?parent_data="+type+"_permission_team_val",
				loading: "로딩중..",
				clear: true
			});
		});

		if(type == 'approval'){
			$("."+type+"_permission_staff").change(function(){
				var idx 	= $(this).attr('attr-idx');
				var team 	= $("#approval_permission_team"+idx).val();
				var staff 	= $(this).val();

				if(team && staff)
				{
					var id_name = "approval_permission_content_"+team+"_"+staff;
					var id 		= $(this).parent().attr('id');

					if(id != id_name)
					{
						if($("#"+id_name).length > 0){
							alert('이미 결재라인에 등록되어있습니다.');
							$(this).parent().attr('id','approval_permission_content_empty');
							if(!$(this).parent().hasClass('approval_permission_content_empty' + idx)){
								$(this).parent().addClass('approval_permission_content_empty' + idx);
							}
							$(this).val('');
						}else{
							$(this).parent().attr('id', id_name);
							$(this).parent().removeClass('approval_permission_content_empty' + idx);
						}
					}

                    $("#"+type+"_permission_staff"+idx).val(staff);
				}

				viewPermission();
			});
		}else if(type == 'reference'){
			$("."+type+"_permission_staff").change(function(){
                var idx 	= $(this).attr('attr-idx');
                var staff 	= $(this).val();

			    $("#"+type+"_permission_staff"+idx).val(staff);
				viewPermission();
			});
		}else{
            $("."+type+"_permission_staff").change(function(){
                var idx 	= $(this).attr('attr-idx');
                var staff 	= $(this).val();

                $("#"+type+"_permission_staff"+idx).val(staff);
            });
		}
	}

	function addTeamChange(type)
	{
		$("."+type+"_permission_team_val").change(function(){
			var idx 	= $(this).attr('attr-idx');
			var team 	= $(this).val();

			if(type == 'approval'){
				$(this).parent().attr('id', "approval_permission_content_empty");
				if(!$(this).parent().hasClass('approval_permission_content_empty' + idx)){
					$(this).parent().addClass('approval_permission_content_empty' + idx);
				}
			}
			$("#"+type+"_permission_team"+idx).val(team);
		});
	}

    function addApprType()
    {
        $(".approval_permission_type").change(function(){
            var idx = $(this).attr('attr-idx');
            var val = $(this).val();

            $("#approval_permission_type"+idx).val(val);

			viewPermission();
        });
    }

    function addPermission(type)
	{
        var idx   = $(".appr_"+type+"_idx").val();
		var team  = $("."+type+"_search_team").val();
		var staff = $("."+type+"_search_staff").val();

        var html = "<div class='"+type+"_permission_content clear_wrapper'>";
        html  += "		<input type='hidden' name='"+type+"_arp_no[]' value=''>";
        html  += "		<input type='hidden' name='"+type+"_permission_team[]' id='"+type+"_permission_team"+idx+"' value='"+team+"'>";
        html  += "		<input type='hidden' name='"+type+"_permission_staff[]' id='"+type+"_permission_staff"+idx+"' value='"+staff+"'>";
        html  += "		<select name='"+type+"_permission_team_val' class='form-control appr_team "+type+"_permission_team_val "+type+"_permission_team"+idx+"' attr-idx='"+idx+"' required>";
        html  += $(".permission_team_html").html();
        html  += "		</select>";
        html  += "		<select name='"+type+"_permission_staff_val' class='form-control appr_staff "+type+"_permission_staff "+type+"_permission_staff"+idx+"' attr-idx='"+idx+"'>";
        html  += "			<option value=''>::전체::</option>";
        html  += "		</select>";
        html  += "		<button type='button' onclick=\"delPermission(this)\" class='del_appr_btn'>X</button>";

        $("."+type+"_permission_wrapper").append(html);

        addStaffRemoteChained(type);
		addTeamChange(type);

        if(team)
        {
			$("."+type+"_permission_team"+idx).val(team);
			$("."+type+"_permission_team"+idx).trigger('change');

			if(staff) {
				setTimeout(function(){$("."+type+"_permission_staff"+idx).val(staff);$("."+type+"_permission_staff"+idx).trigger('change');}, 1000);
			}
		}

        $(".appr_"+type+"_idx").val(Number(idx)+1);
		$("."+type+"_search_team").val('');
		$("."+type+"_search_staff").val('');
		$("."+type+"_search_text").val('');
	}

	function sendApproval()
	{
		checkApprovalReport(1);
    }

    function delApproval()
	{
     	if(confirm('정말로 삭제하시겠습니까?'))
     	{
            document.approval_report_frm.process.value='del_approval_report';
            document.approval_report_frm.submit();
     	}
    }

	function checkApprovalReport(approval)
	{
		$("#is_approve").val(approval);
		
		if(!$("#af_no").val()){
			alert("결재양식을 선택해주세요.");
			$("#af_no").focus();
			return false;
		}

		if($("#is_calendar").val() != "1")
		{
			if (!$("#ar_title").val()) {
				alert("제목을 입력해주세요.");
				$("#ar_title").focus();
				return false;
			}
		}

        if(!CKEDITOR.instances.ar_content.getData()){
            alert("내용을 입력해주세요.");
            return false;
        }

		var apprCheck = viewApprCheck();

		if(apprCheck == 'appr_failed'){
			alert('결재라인은 6개이상 등록할 수 없습니다.');
			return false;
		}else if(apprCheck == 'conf_failed'){
			alert('합의라인은 6개이상 등록할 수 없습니다.');
			return false;
		}

		if($("#is_calendar").val() == "1")
		{
			if(!$(".leave_type:checked").val()){
				alert('휴가 타입을 선택해주세요.');
				return false;
			}

			checkDuplicateDate();

			return false;
		}else{
			document.approval_report_frm.submit();
		}
	}

	function vat_tax_calculate()
	{
		var obj = document.getElementById("wd_supply_cost");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=wd_vat_tax_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1"){
				$("#vat_display").show(); // 부가세액
				$("#tax_display").hide(); // 소득세액
				var vat_tax_ratio = 10;

				var amountTax = Math.round(amount * (vat_tax_ratio / 100));
				var amountTotal = parseFloat(amount) + parseFloat(amountTax);

				$("#wd_cost").val(amountTotal);
				$("#wd_supply_cost_vat").val(amountTax);

				obj.value = comma(amount);
				$("#wd_cost").val(comma($("#wd_cost").val()));
				$("#wd_supply_cost_vat").val(comma($("#wd_supply_cost_vat").val()));
				$("#wd_biz_tax").val('0');
				$("#wd_local_tax").val('0');
			}else if (vat_tax == "2"){
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").show(); // 소득세액
				var biz_tax_ratio = 3.0;
				var local_tax_ratio = 0.3;

				var amountBizTax = -Math.floor((amount * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax = -Math.floor((amount * (local_tax_ratio / 100))/10)*10;
				var amountTotal = parseFloat(amount) + parseFloat(amountBizTax) + parseFloat(amountLocalTax);

				$("#wd_cost").val(amountTotal);
				$("#wd_biz_tax").val(amountBizTax);
				$("#wd_local_tax").val(amountLocalTax);

				obj.value = comma(amount);
				$("#wd_cost").val(comma($("#wd_cost").val()));
				$("#wd_supply_cost_vat").val('0');
				$("#wd_biz_tax").val(comma($("#wd_biz_tax").val()));
				$("#wd_local_tax").val(comma($("#wd_local_tax").val()));
			}else if (vat_tax == "3"){
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").hide(); // 소득세액
				var vat_tax_ratio = 0;

				$("#wd_cost").val(comma(obj.value));
				$("#wd_supply_cost").val(comma(obj.value));

				$("#wd_supply_cost_vat").val('0');
				$("#wd_biz_tax").val('0');
				$("#wd_local_tax").val('0');
			}
		}
	}

	function vat_tax_calculate_reverse()
	{
		var obj = document.getElementById("wd_cost");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=wd_vat_tax_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1"){
				var tax_ratio = 10;
				var amountTax = Math.round(amount / ((100 + tax_ratio) / 10));
				var amountTotal = parseFloat(amount) - parseFloat(amountTax);

				$("#wd_supply_cost").val(amountTotal);
				$("#wd_supply_cost_vat").val(amountTax);

				obj.value = comma(amount);
				$("#wd_supply_cost").val(comma($("#wd_supply_cost").val()));
				$("#wd_supply_cost_vat").val(comma($("#wd_supply_cost_vat").val()));
			}else if (vat_tax == "2"){
				var biz_tax_ratio = 3.0;
				var local_tax_ratio = 0.3;
				var amountTotal = Math.floor((amount / ((100 - biz_tax_ratio - local_tax_ratio) / 100))/10)*10;
				var amountBizTax = -Math.floor((amountTotal * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax = -Math.floor((amountTotal * (local_tax_ratio / 100))/10)*10;

				$("#wd_supply_cost").val(amountTotal);
				$("#wd_biz_tax").val(amountBizTax);
				$("#wd_local_tax").val(amountLocalTax);

				obj.value = comma(amount);
				$("#wd_supply_cost").val(comma($("#wd_supply_cost").val()));
				$("#wd_biz_tax").val(comma($("#wd_biz_tax").val()));
				$("#wd_local_tax").val(comma($("#wd_local_tax").val()));
			}
		}
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,'');
		str = str.replace(/(^\s*)|(\s*$)/g, "");
		return (new Number(str));
	}

	function resetApprovalReport()
	{
        $("#appr_g1").val('');
        $("#k_name_code").val('');
        $("#appr_g1_val").val('');
        $("#k_name_code_val").val('');

		$(".approval_permission_content").remove();
		$(".reading_permission_content").remove();
		$(".reference_permission_content").remove();

		$(".appr_search_idx").val(2);
		$(".appr_reading_idx").val(1);
		$(".appr_reference_idx").val(1);

		$(".view_approval_title_wrapper h2").html('');
		if($("#linked_table").val() != 'work') {
			CKEDITOR.instances.ar_content.setData('');
		}
	}

	function changePermissionMod(is_mod)
	{
		if(is_mod == '1'){
            $(".add_appr_btn").attr('disabled', false);
            $(".del_appr_btn").attr('disabled', false);
           	$(".approval_priority").attr('disabled', false);
           	$(".appr_team").attr('disabled', false);
           	$(".appr_staff").attr('disabled', false);
            $(".approval_permission_type").attr('disabled', false);

		}else{
            $(".add_appr_btn").attr('disabled', true);
            $(".del_appr_btn").attr('disabled', true);
			$(".approval_priority").attr('disabled', true);
			$(".appr_team").attr('disabled', true);
			$(".appr_staff").attr('disabled', true);
			$(".approval_permission_type").attr('disabled', true);
        }
    }

    function changePriority()
    {
        $(".approval_priority").change(function(){
            checkPriority('add', $(this).parent().attr('id'), $(this).parent().attr('attr-idx'), $(this).val());
            updHtmlPriority();
        });
    }

    function checkPriority(type, id, ori_priority, priority)
    {
        var max_priority = Number(priority);

        $(".approval_permission_content .approval_priority").each(function(i, obj){
            var obj_id  = $(obj).parent().attr('id');
            var obj_priority = Number(obj.value);

            if(obj_id == 'approval_permission_content_empty'){
				if(!$(obj).parent().hasClass('approval_permission_content_empty'+ori_priority))
				{
					if(type == 'add' && max_priority == obj_priority){
						obj.value = Number(obj_priority)+1;
						max_priority = Number(obj_priority)+1;
					}else if(type == 'del' && priority < obj_priority){
						obj.value = Number(obj_priority)-1;
					}
				}
            }else{
                if(id != obj_id)
                {
                    if(type == 'add' && max_priority == obj_priority){
                        obj.value = Number(obj_priority)+1;
                        max_priority = Number(obj_priority)+1;
                    }else if(type == 'del' && priority < obj_priority){
                        obj.value = Number(obj_priority)-1;
                    }
                }
            }
        });
    }

    function updHtmlPriority()
    {
        var approvalData = [];
        $(".approval_permission_content .approval_priority").each(function(i, obj){
			var ori_idx = $(obj).parent().attr('attr-idx');
			approvalData.push({
				next_idx: obj.value,
				prev_idx: ori_idx,
				id: $(obj).parent().attr('id'),
				team: $(obj).parent().find('#approval_permission_team'+ori_idx).val(),
				staff: $(obj).parent().find('.approval_permission_staff'+ori_idx).val(),
				type: $(obj).parent().find('.approval_permission_type:checked').val(),
				html: ($(obj).parent().attr('id') == 'approval_permission_content_empty') ? $(".approval_permission_content_empty"+ori_idx).html() : $("#"+$(obj).parent().attr('id')).html()
			});

            $(obj).parent().remove();
        });

        approvalData.sort((a, b) => Number(a.next_idx) - Number(b.next_idx));

        var max_priority = 1;
        approvalData.forEach(function(approval){

            var prev_idx = approval.prev_idx;
            var next_idx = approval.next_idx;

            if(approval.id != 'approval_permission_content_empty') {
                var html = "<div class='approval_permission_content clear_wrapper' attr-idx='"+next_idx+"' id='"+approval.id+"'></div>";
                $(".approval_permission_wrapper").append(html);

                $("#"+approval.id).html(approval.html);
                $("#"+approval.id).find('.approval_priority').val(next_idx);
                $("#"+approval.id).find('.approval_priority').attr('attr-idx', next_idx);
				$("#"+approval.id).find('#approval_priority'+prev_idx).attr('id', 'approval_priority'+next_idx);
				$("#"+approval.id).find('#approval_priority'+next_idx).val(next_idx);
                $("#"+approval.id).find('#approval_permission_type'+prev_idx).attr('id', 'approval_permission_type'+next_idx);
				$("#"+approval.id).find('#approval_permission_type'+next_idx).val(approval.type);
                $("#"+approval.id).find('#approval_permission_team'+prev_idx).attr('id', 'approval_permission_team'+next_idx);
				$("#"+approval.id).find('#approval_permission_team'+next_idx).val(approval.team);
                $("#"+approval.id).find('#approval_permission_staff'+prev_idx).attr('id', 'approval_permission_staff'+next_idx);
				$("#"+approval.id).find('#approval_permission_staff'+next_idx).val(approval.staff);

                $("#"+approval.id).find('.approval_permission_team_val').removeClass('approval_permission_team'+prev_idx);
                $("#"+approval.id).find('.approval_permission_team_val').addClass('approval_permission_team'+next_idx);
                $("#"+approval.id).find('.approval_permission_team_val').attr('attr-idx', next_idx);
				$("#"+approval.id).find('.approval_permission_team_val').val(approval.team);
                $("#"+approval.id).find('.approval_permission_staff').removeClass('approval_permission_staff'+prev_idx);
                $("#"+approval.id).find('.approval_permission_staff').addClass('approval_permission_staff'+next_idx);
                $("#"+approval.id).find('.approval_permission_staff').attr('attr-idx', next_idx);
				$("#"+approval.id).find('.approval_permission_staff').val(approval.staff);

				$("#"+approval.id).find('.approval_permission_type').attr('name', 'approval_permission_type'+next_idx);
                $("#"+approval.id).find('#appr_type_approval_'+prev_idx).attr('id', 'appr_type_approval_'+next_idx);
				$("#"+approval.id).find('#appr_type_conference_'+prev_idx).attr('id', 'appr_type_conference_'+next_idx);
                $("#"+approval.id).find('#appr_type_approval_'+next_idx).attr('attr-idx', next_idx);
                $("#"+approval.id).find('#appr_type_conference_'+next_idx).attr('attr-idx', next_idx);
				$("#"+approval.id).find('.appr_type_approval_label').attr('for', 'appr_type_approval_'+next_idx);
				$("#"+approval.id).find('.appr_type_conference_label').attr('for', 'appr_type_conference_'+next_idx);

            }else{
                var html = "<div class='approval_permission_content clear_wrapper approval_permission_content_empty"+next_idx+"' attr-idx='"+next_idx+"' id='"+approval.id+"'></div>";
                $(".approval_permission_wrapper").append(html);

                $(".approval_permission_content_empty"+next_idx).html(approval.html);
                $(".approval_permission_content_empty"+next_idx).find('.approval_priority').val(next_idx);
				$(".approval_permission_content_empty"+next_idx).find('.approval_priority').attr('attr-idx', next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_priority'+prev_idx).attr('id', 'approval_priority'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_priority'+next_idx).val(next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_type'+prev_idx).attr('id', 'approval_permission_type'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_type'+next_idx).val(approval.type);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_team'+prev_idx).attr('id', 'approval_permission_team'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_team'+next_idx).val(approval.team);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_staff'+prev_idx).attr('id', 'approval_permission_staff'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#approval_permission_staff'+next_idx).val(approval.staff);

                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_team_val').removeClass('approval_permission_team'+prev_idx);
                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_team_val').addClass('approval_permission_team'+next_idx);
                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_team_val').attr('attr-idx', next_idx);
				$(".approval_permission_content_empty"+next_idx).find('.approval_permission_team_val').val(approval.team);
                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_staff').removeClass('approval_permission_staff'+prev_idx);
                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_staff').addClass('approval_permission_staff'+next_idx);
                $(".approval_permission_content_empty"+next_idx).find('.approval_permission_staff').attr('attr-idx', next_idx);
				$(".approval_permission_content_empty"+next_idx).find('.approval_permission_staff').val(approval.staff);

				$(".approval_permission_content_empty"+next_idx).find('.approval_permission_type').attr('name', 'approval_permission_type'+next_idx);
                $(".approval_permission_content_empty"+next_idx).find('#appr_type_approval_'+prev_idx).attr('id', 'appr_type_approval_'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#appr_type_conference_'+prev_idx).attr('id', 'appr_type_conference_'+next_idx);
                $(".approval_permission_content_empty"+next_idx).find('#appr_type_approval_'+next_idx).attr('attr-idx', next_idx);
				$(".approval_permission_content_empty"+next_idx).find('#appr_type_conference_'+next_idx).attr('attr-idx', next_idx);
				$(".approval_permission_content_empty"+next_idx).find('.appr_type_approval_label').attr('for', 'appr_type_approval_'+next_idx);
				$(".approval_permission_content_empty"+next_idx).find('.appr_type_conference_label').attr('for', 'appr_type_conference_'+next_idx);
            }

            max_priority = next_idx;
        });

        $(".appr_search_idx").val(Number(max_priority)+1);

        changePriority();
        addTeamChange('approval');
        addStaffRemoteChained('approval');
        addApprType();
		updateApprType();
		viewPermission();
    }

	function updateApprType()
	{
		$(".approval_permission_content input[name='approval_permission_type[]']").each(function(i, obj){
			var type = $(obj).val();
			var idx  = $(obj).parent().attr('attr-idx');
			$(obj).parent().find('.approval_permission_type').attr('checked', false);
			$("#appr_type_"+type+"_"+idx).click();
		});
	}

	function changeCalendar()
	{
		$(".leave_type").change(function(){
			var leave_type 	 	= $(this).val();
			var leave_no 	 	= $(this).attr("attr-no");
			var leave_s_date 	= $("#leave_s_date").val();
			var leave_e_date 	= $("#leave_e_date").val();

			$("#leave_no").val(leave_no);
			checkLeaveDate(leave_no, leave_type, leave_s_date, leave_e_date);
		});

		$("#leave_s_date").change(function(){
			var leave_type 	 = $(".leave_type:checked").val();
			var leave_no 	 = $("#leave_no").val();
			var leave_s_date = $(this).val();
			var leave_e_date = $("#leave_e_date").val();

			if(!leave_e_date){
				leave_e_date = leave_s_date;
				$("#leave_e_date").val(leave_s_date);
			}

			checkLeaveDate(leave_no, leave_type, leave_s_date, leave_e_date);
		});

		$("#leave_e_date").change(function(){
			var leave_type 	 = $(".leave_type:checked").val();
			var leave_no 	 = $("#leave_no").val();
			var leave_s_date = $("#leave_s_date").val();
			var leave_e_date = $(this).val();

			checkLeaveDate(leave_no, leave_type, leave_s_date, leave_e_date);
		});
	}

	function checkLeaveDate(leave_no, leave_type, leave_s_date, leave_e_date)
	{
		if(!leave_s_date || !leave_e_date){
			$(".leave_text").text("");
			$(".leave_notice").text("");
			return false;
		}

		if(leave_type == '2' || leave_type == '3' || leave_type == '4' || leave_type == '5'){
			leave_e_date = leave_s_date;
			$("#leave_e_date").val(leave_s_date);
		}

		$.ajax({
			url: '/v1/api/approval.report.leave.api.php',
			type: 'POST',
			data: {ar_no: $("#ar_no").val(), leave_no: leave_no, leave_type: leave_type, leave_s_date: leave_s_date, leave_e_date: leave_e_date}
		}).done( function( data ) {
			console.log(data);
			var jsonData 		= JSON.parse(data);
			var msg  			= jsonData.msg;
			var leave_text  	= jsonData.leave_text;
			var leave_notice    = jsonData.leave_notice;
			var remain_day    	= jsonData.remain_day;

			if(msg){
				alert(msg);
			}else{
				$(".leave_text").text(leave_text);
				$(".leave_notice").text(leave_notice);
			}

			if(remain_day < 0){
				alert("휴가 잔여일이 부족합니다.");
			}

			if(leave_type == "1"){
				$(".leave_text").show();
				$(".leave_notice").show();
				$("#leave_e_date").attr('disabled', false);
			}else if(leave_type == "2" || leave_type == "3"){
				$(".leave_text").show();
				$(".leave_notice").show();
				$("#leave_e_date").attr('disabled', true);
			}else if(leave_type == "4" || leave_type == "5"){
				$(".leave_text").hide();
				$(".leave_notice").hide();
				$("#leave_e_date").attr('disabled', true);
			}else{
				$(".leave_text").hide();
				$(".leave_notice").hide();
				$("#leave_e_date").attr('disabled', false);
			}
		});
	}

	function checkDuplicateDate()
	{
		var leave_type 	 = $(".leave_type:checked").val();
		var leave_no 	 = $("#leave_no").val();
		var leave_s_date = $("#leave_s_date").val();
		var leave_e_date = $("#leave_e_date").val();

		if(!leave_s_date || !leave_e_date){
			alert("휴가 날짜를 선택해주세요.");
			return false;
		}

		$.ajax({
			url: '/v1/api/approval.report.leave.duplicate.api.php',
			type: 'POST',
			data: {ar_no: $("#ar_no").val(), leave_no: leave_no, leave_type: leave_type, leave_s_date: leave_s_date, leave_e_date: leave_e_date}
		}).done( function( data ) {
			var jsonData 	= JSON.parse(data);
			var result  	= jsonData.result;
			var msg  		= jsonData.msg;

			if(result){
				document.approval_report_frm.submit();
			}else{
				alert(msg);
				return false;
			}
		});
	}

	var editor = CKEDITOR.replace('ar_content', {
		removePlugins: 'autogrow',
		enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
		shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
		removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
		filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
	});

	CKEDITOR.on('instanceReady', function(event) {
		$("#cke_1_contents").css({'height': 250});
	});

	Dropzone.autoDiscover = false;

	var imageExt = ['jpg','jpeg','png','gif'];
	var myDropzone = new Dropzone("div#approvalFileDropzone",
	{
		url: "inc/dropzone_file_upload.php",
		addRemoveLinks: true,
		dictRemoveFile: "삭제",
		uploadMultiple: true,
		parallelUploads: 1,
		thumbnailWidth: 120,
		thumbnailHeight: 100,
		maxFiles: 10,
		maxFilesize: 10,
		dictFileTooBig: "10MB 이상 파일은 업로드 할 수 없습니다",
		init: function(){
			<{if $ar_no && $file_count > 0}>
				<{foreach from=$file_paths key=key item=file_path}>
					var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 12345};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$file_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "uploads/<{$file_path}>");
					}

					var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="<{$file_names[$key]}>">';
					html += '<input type="hidden" name="file_path[]" class="file_path" value="<{$file_path}>"></div>';
					$(".add-file-hidden").append(html);
				<{/foreach}>
			<{/if}>
		},
		thumbnail: function(file, dataUrl){
			if (file.previewElement) {
				file.previewElement.classList.remove("dz-file-preview");
				file.previewElement.classList.add("dz-complete");
				var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
				for (var i = 0; i < images.length; i++) {
					var thumbnailElement = images[i];
					thumbnailElement.alt = file.name;
					thumbnailElement.src = dataUrl;
				}
				setTimeout(function () {
					file.previewElement.classList.add("dz-image-preview");
				}, 1);
			}
		},
		maxfilesexceeded: function(file){
			alert('파일은 10개까지 업로드 할 수 있습니다');
			this.removeFile(file);
		},
		success: function(file, response){
			var result   = JSON.parse(response);
			var fileName  = result.fileName;
			var filePath  = result.filePath;
			var fileCount = $('#file_count').val();

			if(fileCount >= 10){
				this.removeFile(file);
				alert('파일은 10개까지 업로드 할 수 있습니다');
				return;
			}

			if(filePath != ''){
				file.previewElement.classList.add("dz-success");

				var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="'+fileName+'">';
				html += '<input type="hidden" name="file_path[]" class="file_path" value="'+filePath+'"></div>';
				$(".add-file-hidden").append(html);
				$('#file_count').val($(".file_name").length);
				$('#file_chk').val(1);
			}
		}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".file_name").length);
		$('#file_chk').val(1);
	});

	myDropzone.on("error", function(file, message) {
		alert(message);
		myDropzone.removeFile(file);
	});

</script>
</body>
</html>
