<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form label{margin: 0 10px 0 0;}
	.admin_content h2.title{margin-bottom: 10px;}
	.search_form .form-group{width: 100%; margin-top: 5px;}
	.search_form.form-inline .form-control{font-size: 12px; margin-right: 25px;}
	.search_form .custom-combobox input{margin-right: 5px !important;}
	.table_list_style table{width: 1200px; margin-top: 40px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle; height: 50px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;}
	.state-btn-group{margin-top: 20px;}
	.state-btn-group button{background: #333; color: white; font-size: 14px;margin-top: 0;width: 140px;padding: 5px 10px; position: relative;}
	.state-btn-group button:hover{color: white; background: lightpink;}
	.state-btn-group button.btn-selected{background: lightpink;}
	.appr-state-cnt{background: red; display: inline-block; border-radius: 10px; width: 22px; position: absolute; right: -3px; bottom: 15px;}
	.state1{color: blue;}
	.state2, .state3{color: black;}
	.state4{color: red;}
	.state5{color: orange;}
	.approval-regist-btn{background: #333; color: white; font-size: 14px;margin-top: 0;width: 140px;padding: 5px 10px;float: left;}
	.approval-regist-btn:hover{color: white; background: #444;}
	.approval-link{font-weight: bold; font-size: 13px;}
	.approval-link .approval-link-new{color: red; display: inline-block;}
	.re-btn{background: #333;color: white; font-size: 12px;}
	.re-btn:hover{color: white;}
	.approval-read-title{color: #999;}
	.approval-read-title a{color: #999;}
	.approval-read-title .approval-link .approval-link-new{display: none;}
	.current_permission{background: #3092c0;color: white;font-weight: bold;padding: 1px 5px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" class="search_form form-inline" action="approval_report_list.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="form-group">
			<label>문서번호</label>
			<input type="text" name="sch_a_no" id="sch_doc_no" class="form-control" value="<{$sch_doc_no}>" style="width: 100px;" />

			<label>linked</label>
			<input type="text" name="sch_linked_no" id="sch_linked_no" class="form-control" value="<{$sch_linked_no}>" style="width: 100px;" />

			<label>결재상태</label>
			<select name="sch_ar_state" id="sch_ar_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$approval_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_ar_state==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>기안자</label>
			<select name="sch_team" id="sch_team" class="form-control" style="margin-right:5px" disabled>
				<{foreach from=$sch_team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_req_s_no" id="sch_req_s_no" class="form-control" style="margin-left:5px" disabled>
				<option value="">::전체::</option>
				<{foreach from=$sch_staff_list key=s_no item=label}>
					<option value="<{$sch_req_s_no}>" <{if $sch_req_s_no== $s_no}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label>결재구분</label>
			<select name="sch_appr_g1" id="sch_appr_g1" class="form-control" style="margin-right:5px">
				<option value="">::전체::</option>
				<{foreach from=$sch_appr_g1_list item=sch_appr_g1_data}>
					<option value="<{$sch_appr_g1_data.k_name_code}>" <{if $sch_appr_g1==$sch_appr_g1_data.k_name_code}>selected<{/if}>><{$sch_appr_g1_data.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_appr_g2" id="sch_appr_g2" class="form-control" style="margin-left:5px">
				<option value="">::전체::</option>
				<{foreach from=$sch_appr_g2_list item=sch_appr_g2_data}>
					<option value="<{$sch_appr_g2_data.k_name_code}>" <{if $sch_appr_g2==$sch_appr_g2_data.k_name_code}>selected<{/if}>><{$sch_appr_g2_data.k_name}></option>
				<{/foreach}>
			</select>

			<label>결재양식</label>
			<select name="sch_af_no" id="sch_af_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$approval_form_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_af_no==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>제목</label>
			<input type="text" name="sch_ar_title" id="sch_ar_title" class="form-control" value="<{$sch_ar_title}>" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>

		<div class="state-btn-group">
			<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_ar_state}>btn-selected<{/if}>" onclick="changeState('')">전체</button>
			<{foreach from=$approval_state_option key=key item=label}>
				<button type="button" class="btn btn-sm font-weight-bold <{if $sch_ar_state == $key}>btn-selected<{/if}>" onclick="changeState('<{$key}>')" >
					<{$label}>
					<{if $key > 1 && $approval_report_read_list[$key] > 0}>
						<span class="appr-state-cnt"><{$approval_report_read_list[$key]}></span>
					<{/if}>
				</button>
			<{/foreach}>
		</div>
	</form>

	<div class="table_list_style">
		<table class="table table-striped table-bordered">
			<colgroup>
				<col width="60px;">
				<col width="105px;">
				<col width="100px;">
				<col width="120px;">
				<col width="160px;">
				<col width="640px;">
				<col width="110px;">
				<col width="80px;">
				<col width="80px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="9">
						<button class="btn btn-sm font-weight-bold approval-regist-btn" onclick="location.href='approval_report.php';">결재작성</button>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right;" >
							<{foreach from=$page_type_option item=page_type}>
								<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<th scope="col" rowspan="2">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);"><br/>
						<button type="button" onclick="readApproval()" style="width: 40px;background: #999;padding: 3px 5px;border-radius: 3px;color: white;">읽음</button>
					</th>
					<th scope="col" rowspan="2">문서번호</th>
					<th scope="col" rowspan="2">결재상태</th>
					<th scope="col" rowspan="2">기안자<br/>(부서)</th>
					<th scope="col" rowspan="2">결재양식</th>
					<th scope="col" rowspan="2">제목</th>
					<th scope="col" rowspan="2">linked</th>
					<th scope="col" rowspan="2">기안일</th>
					<th scope="col" rowspan="2">작성일</th>
				</tr>
			</thead>
			<tbody>
				<{if $approval_report_list}>
					<{foreach from=$approval_report_list item=approval_report}>
						<tr>
							<td>
								<input type="checkbox" name="select_check[]" class="select_check" value="<{$approval_report.ar_no}>" attr-state="<{$approval_report.ar_state}>">
							</td>
							<td style="font-size: 11px; color: #999;"><{$approval_report.doc_no}></td>
							<td class="state<{$approval_report.ar_state}>" <{if $approval_report.ar_state=='2'}>style="color: red;"<{else if $approval_report.ar_state=='3' && $approval_report.read_cnt > 0}>style="color: #999;"<{/if}>><{$approval_report.state_name}></td>
							<td style="font-size: 14px; line-height: 1.1;<{if $approval_report.read_cnt > 0}>color: #999;<{/if}>"><{$approval_report.staff_name}><br/><span style="font-size: 11px; color: #999;">(<{$approval_report.team_name}>)</span></td>
							<td style="line-height: 1.1;<{if $approval_report.read_cnt > 0}>color: #999;<{/if}>">
								<{$approval_report.appr_name}>
								<{if $approval_report.exp_text}>
									<br/>
									<span style="color: #999; font-size: 11px;">
										<{$approval_report.exp_text}>
									</span>
								<{/if}>
							</td>
							<td class="text-left <{if $approval_report.ar_state=='1' || $approval_report.read_cnt > 0}>approval-read-title<{/if}>" style="padding: 10px 5px;">
								<a href="<{$approval_report.link}>?ar_no=<{$approval_report.ar_no}>" class="approval-link">
									<span style="font-size: 15px;"><{$approval_report.ar_title}></span>
									<{if $approval_report.comm_cnt > 0}>(<{$approval_report.comm_cnt}>)<{/if}>
									<span class="approval-link-new">New</span>
								</a><br/>
								<{if $approval_report.permission_name}>
									<{assign var=per_idx value=1}>
									[
									<{foreach from=$approval_report.permission_name item=report_permission}>
										<{if $report_permission.state != 0 && $approval_report.cur_permission_name == $report_permission.name}>
											<span class="current_permission">☞ <{$report_permission.name}></span>
										<{else}>
											<span><{$report_permission.name}></span>
										<{/if}>
										<{if $per_idx < $approval_report.permission_name|@count}>
											<span> > </span>
										<{/if}>
										<{assign var=per_idx value=$per_idx+1}>
									<{/foreach}>
									]
								<{/if}>
							</td>
							<td>
								<{if $approval_report.linked_table && $approval_report.linked_no}>
									<{$approval_report.linked_name}>
								<{elseif $approval_report.ar_state > 1}>
									<button type="button" class="btn btn-sm font-weight-bold re-btn" onclick="reApproval('<{$approval_report.ar_no}>')">재상신</button>
								<{/if}>
							</td>
							<td style="font-size: 11px; color: #999;"><{$approval_report.req_day}><br/><{$approval_report.req_hour}></td>
							<td style="font-size: 11px; color: #999;"><{$approval_report.reg_day}><br/><{$approval_report.reg_hour}></td>
						</tr>
					<{/foreach}>
					<tr>
						<td colspan="9" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="9" style="text-align: center;">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>
<form name="chk_form" action="approval_report_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ar_no_list" class="chk_ar_no_list">
	<input type="hidden" name="chk_ar_state_list" class="chk_ar_state_list">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sch_team").combobox();

        $("#sch_req_s_no").remoteChained({
            parents: "#sch_team",
            url: "/v1/api/approval.staff.json.php?parent_data=sch_team",
            loading: "로딩중..",
            clear: true
        });

        $("#sch_appr_g2").remoteChained({
            parents: "#sch_appr_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_appr_g1&sch_group=sch_kind_g1&sch_type=approval",
            loading: "로딩중..",
            clear: true
        });

        $(".ui-autocomplete-input").attr('disabled', true);
        $(".custom-combobox-toggle").hide();

		$(".select_check").change(function(){
			checkArSelect();
		});
    });

    function normal_search()
    {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function changeState(state)
    {
        $("#sch_ar_state").val(state);
        document.forms['search_form'].submit();
    }

    function select_check_all(chkall)
    {
        var chk = document.getElementsByName("select_check[]");
        for (var i=0; i<chk.length; i++)
            chk[i].checked = chkall.checked;

		checkArSelect();
    }

    function reApproval(ar_no)
	{
		location.href = 'approval_report.php?re_ar_no='+ar_no;
	}

	function checkArSelect()
	{
		var chk_ar_no_list = "";
		var chk_ar_state_list = "";
		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_ar_no_list += ($(item).val() + ",");
				chk_ar_state_list += ($(item).attr('attr-state') + ",");
			}
		});

		if(chk_ar_no_list != ""){
			chk_ar_no_list = chk_ar_no_list.slice(0, -1);
		}

		if(chk_ar_state_list != ""){
			chk_ar_state_list = chk_ar_state_list.slice(0, -1);
		}

		$(".chk_ar_no_list").val(chk_ar_no_list);
		$(".chk_ar_state_list").val(chk_ar_state_list);
	}

	function readApproval()
	{
		if($(".chk_ar_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("읽음 처리 하시겠습니까?")){
			document.chk_form.process.value = 'read_approval_report';
			document.chk_form.submit();
		}

		return false;
	}
</script>
