<{include file="inc/boot_navibar.html"}>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<script src="js/bootstrap/bootstrap-tagsinput.js" type="text/javascript" ></script>
<link rel="stylesheet" href="css/bootstrap/bootstrap-tagsinput.css">

<style type="text/css">
	.admin_content{width: 820px; min-width: 820px !important; box-sizing: border-box;}
	.asset-form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 800px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	#asset_form{width: 800px; min-width: 800px !important; max-width: 800px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 44px; float: left; display: inline-block; line-height: 35px;}
	.form-group #asset_g1{width: 200px; float: left;}
	.form-group #asset_g2{width: 200px; float: left; }
	.form-group #asset_name{width: 100%; float: left; clear: both; margin: 10px 0;}
	.dropzone{padding: 10px 30px; min-height: unset;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.bootstrap-tagsinput{width: auto;}
	.bootstrap-tagsinput input{width: 120px; border: 1px solid #ccc;}
	.bootstrap-tagsinput .label-info{background-color: #5bc0de; display: inline;padding: .46em .6em; font-size: 11px;font-weight: 700;line-height: 25px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}
	.use-person-tag{background-color: #5bc0de;display: inline; padding: .4em .6em; font-size: 11px; font-weight: 700; line-height: 25px; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em; position: relative; margin-right: 5px;padding-right: 12px;}
	.use-person-tag a{color: white;}
	.use-person-tag button{color: white; font-size:10px; font-weight: bold; position: absolute; top: 3px; right: 4px; margin: 0;}
	.dropzone .dz-preview .dz-download{font-size: 10px;background: green;color: white;font-weight: bold;margin-top: 3px;display: inline-block;width: 120px;text-align: center;}
	.label-guide{cursor: pointer;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px;">● 자산 <{$title}></h2>

	<{if !!$as_no && $is_button}>
	<form name="asset_memo_frm" id="asset_memo_frm" action="asset_regist.php" method="post" style="max-width: 800px; overflow: hidden; border: 1px solid #ccc; box-sizing: border-box; border-radius: 5px; margin-left: 20px; margin-bottom: 20px;" autocomplete="off">
		<input type="hidden" name="as_no" value="<{$as_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="asset_memo">
		<label for="memo" class="col-form-label font-weight-bold" style="color: #fff; background-color: #343a40; border-color: #454d55; max-width: 800px; margin-left: 20px; padding: 10px; box-sizing: border-box; border-radius: 5px 5px 0 0; font-size: 14px; width: 100%; margin: 0;">관리자 메모</label>
		<div class="form-group" style="margin: 0; padding: 20px; padding-bottom: 15px; overflow: hidden;"><!-- 비고 -->
			<textarea name="memo" id="memo" class="form-control" style="font-size: 12px; float: left;" placeholder="관리자메모" rows="5"><{$memo}></textarea>
			<button type="submit" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;"><span>저장하기</span></button>
		</div>
	</form>
	<{/if}>
	<div class="text-right">*필수입력</div>
	<div class="font-weight-bold text-center asset-form-title">자산정보</div>
	<form name="asset_frm" id="asset_form" action="asset_regist.php" method="post" enctype="multipart/form-data">
		<input type="hidden" name="as_no" value="<{$as_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="<{if !!$as_no}>modify_asset<{else}>new_asset<{/if}>">
		<input type="hidden" name="qr_code" value="<{if !!$as_no}><{$qr_code}><{/if}>">
		<input type="hidden" name="is_editable" value="<{$is_editable}>">

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 진행상태(필수) -->
			<label for="asset_state" class="col-sm-3 col-form-label font-weight-bold" >*진행상태</label>
			<div class="col-sm-9">
				<select name="asset_state" id="asset_state" class="form-control" <{if $asset_state}>style="color: <{$asset_state_option[$asset_state].color}>"<{/if}> onchange="selectChangeColor(this)"  required>
					<{foreach from=$asset_state_option key=key item=data}>
					<option value="<{$key}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $asset_state == $key}>selected<{/if}>><{$data.label}></option>
					<{/foreach}>
				</select>
				<{if $as_no && ($manager == $session_s_no || $sub_manager == $session_s_no)}>
				<div style="margin-top: 5px;">
					<input type="hidden" name="old_use_person" value="<{$old_use_person}>">
					<span style="display: inline-block; margin-right: 6px;">현재 사용자</span>
					<div style="padding: calc(.05rem) 5px; margin-bottom: 0;font-size: 12px;font-weight: bold; border:1px solid #ced4da;border-radius: .25rem;">
						<{if $asset_use_person_list}>
						<{foreach from=$asset_use_person_list item=use_person}>
							<div class="use-person-tag">
								<a href="asset_reservation.php?sch=Y&sch_req_name=<{$use_person}>&sch_management=<{$management}>" target="_blank" style="">
									<{$use_person}>
								</a>
								<input type="hidden" name="use_person[]" value="<{$use_person}>">
								<button type="button" onclick="delUsePerson(this)">X</button>
							</div>
						<{/foreach}>
						<{/if}>
						<input type="text" name="new_use_person" id="new_use_person" style="line-height: 1.7; width: 70px; border:1px solid #ced4da; border-radius: .25rem; padding: 2px 0 2px 5px;" placeholder="이름 입력">
						<button type="button" class="btn btn-dark" onclick="addUsePerson()" style="font-size: 11px;font-weight: bold;margin: 0;line-height: 1;padding: .35rem;">추가</button>
					</div>
				</div>
				<{/if}>
			</div>
		</div>
		<div class="form-group row" style="margin-bottom: 15px;"><!-- 소유권 업체명(필수) -->
			<label for="my_c_no" class="col-sm-3 col-form-label font-weight-bold" >*소유권 업체명</label>
			<div class="col-sm-9">
				<select name="my_c_no" id="my_c_no" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$my_company_list key=key item=data}>
					<option value="<{$key}>" <{if $my_c_no == $key}>selected<{/if}>><{$data.c_name}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 자산명(필수) -->
			<label for="asset_name" class="col-sm-3 col-form-label font-weight-bold" >*자산명</label>
			<div class="col-sm-9">
				<span class="tlt">그룹1 : </span>
				<select name="asset_g1" id="asset_g1" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$asset_g1_list item=asset_g1_data}>
					<option value="<{$asset_g1_data.k_name_code}>" <{if $asset_g1==$asset_g1_data.k_name_code}>selected<{/if}>><{$asset_g1_data.k_name}></option>
					<{/foreach}>
				</select>
				<span class="tlt" style="margin-left: 30px;">그룹2 : </span>
				<select name="asset_g2" id="asset_g2" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$asset_g2_list item=asset_g2_data}>
					<option value="<{$asset_g2_data.k_name_code}>" <{if $k_name_code==$asset_g2_data.k_name_code}>selected<{/if}>><{$asset_g2_data.k_name}></option>
					<{/foreach}>
				</select>
				<br/>
				<input type="text" name="asset_name" id="asset_name" class="form-control" value="<{$name}>" placeholder="자산명" required>
			</div>
		</div>
		<div class="form-group row"><!-- 자산관리번호(필수)&QR CODE -->
			<label class="col-sm-3 col-form-label font-weight-bold" >*자산관리번호</label>
			<input type="hidden" name="management" value="<{$management}>">
			<div class="col-sm-9">
				<{if !$as_no}>
				<span style="padding: 7px 5px; display: inline-block;">자동생성</span>
				<{else}>
				<span style="padding: 7px 5px; display: inline-block;"><{$management}></span>
					<{if $qr_code}>
						<div>
							<img src="<{$qr_code}>" alt="qr_code" style="width: 150px;">
						</div>
					<{else}>
						<button type="button" class="btn btn-dark font-weight-bold" onclick="createQRcode()" style="font-size: 12px;"><span>QR코드 생성</span></button>
					<{/if}>
				<{/if}>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label font-weight-bold">사진<br/><span style="font-size: 10px;">(권장 500px X 500px, 최대 3장)</span></label>
			<div class="col-sm-9">
				<div id="assetImageDropzone" class="dropzone">
					<div class="dz-message">
						Drop files here or click to upload.
					</div>
				</div>
				<div class="add-image-hidden">
					<input type="hidden" name="img_origin_name" value="<{$img_origin_name}>">
					<input type="hidden" name="img_origin_path" value="<{$img_origin_path}>">
					<input type="hidden" id="img_count" value="<{$img_count}>" />
					<input type="hidden" id="img_chk" name="img_chk" value="" />
				</div>
			</div>
		</div>
		<div class="form-group row"><!-- 자산관리자 -->
			<label for="manager" class="col-sm-3 col-form-label font-weight-bold" >*자산관리자</label>
			<div class="col-sm-9">
				<select name="manager" id="manager" class="form-control" required>
					<option value="">:: 선택 ::</option>
					<{foreach from=$staff_name_list key=key item=label}>
					<option value="<{$key}>" <{if $key == $manager}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<div class="form-group row"><!-- 서브 자산관리자 -->
			<label for="sub_manager" class="col-sm-3 col-form-label font-weight-bold" >서브 자산관리자</label>
			<div class="col-sm-9">
				<select name="sub_manager" id="sub_manager" class="form-control" >
					<option value="">:: 선택 ::</option>
					<{foreach from=$staff_name_list key=key item=label}>
					<option value="<{$key}>" <{if $key == $sub_manager}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<div class="form-group row"><!-- 제품명 및 자산설명 -->
			<label for="description" class="col-sm-3 col-form-label font-weight-bold" >제품명 및 자산설명</label>
			<div class="col-sm-9">
				<textarea name="description" id="description" class="form-control" style="font-size: 12px;" placeholder="제품명 및 자산설명" rows="5"><{$description}></textarea>
			</div>
		</div>
		<div class="form-group row"><!-- 자산첨부파일 -->
			<label class="col-sm-3 col-form-label font-weight-bold" >자산첨부파일</label>
			<div class="col-sm-9">
				<div id="assetFileDropzone" class="dropzone">
					<div class="dz-message">
						Drop files here or click to upload.
					</div>
				</div>
				<div class="add-file-hidden">
					<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
					<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">
					<input type="hidden" id="file_count" value="<{$file_count}>" />
					<input type="hidden" name="file_chk" id="file_chk" value="" />
				</div>
			</div>
		</div>
		<div class="form-group row"><!-- 키워드 -->
			<label for="description" class="col-sm-3 col-form-label font-weight-bold" >검색 키워드</label>
			<div class="col-sm-9">
				<input type="text" name="keyword[]" value="<{$keyword}>" data-role="tagsinput" placeholder="키워드입력" />
			</div>
		</div>
		<div class="form-group row"><!-- 사용요청 -->
			<label for="form" class="col-sm-3 col-form-label font-weight-bold" >사용요청(기본양식)</label>
			<div class="col-sm-9">
				<textarea name="form" id="form" class="form-control" style="font-size: 12px;" placeholder="사용요청" rows="5"><{$form}></textarea>
			</div>
		</div>
		<div class="form-group row"><!-- 사용방식(필수) -->
			<label class="col-sm-3 col-form-label font-weight-bold" >
				*사용방식
				<img src="images/question.png" title="- 승인제 : 자산 관리자의 승인 후 이용가능&#10;ex) 사내 장비대여, 계정공유 등&#10;&#10;- 비승인제 : 자동승인되어 누구나 이용가능&#10;ex) 회의실 이용, 사내 와이파이 비번 등" class="label-guide">
			</label>
			<div class="col-sm-9">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<{foreach from=$asset_use_type_option key=key item=label}>
					<input type="radio" name="use_type" id="use_type_<{$key}>" class="form-check-input" value="<{$key}>" <{if (!$use_type  && $key == 1) || $use_type == $key}>checked<{/if}> required>
					<label for="use_type_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
		</div>
		<div class="form-group row"><!-- 자산형태(필수) -->
			<label class="col-sm-3 col-form-label font-weight-bold" >
				*자산형태
				<img src="images/question.png" title="- 유형 : 물건 형태로 존재하는 유형의 자산&#10;ex) 노트북, 카메라, 조명 등&#10;&#10;- 무형 : 무형의 자산&#10;ex) 포토샵 라이센스, 상표권, 특허권 등&#10;&#10;- 무형(계정) : 아이디/비번 형태의 계정형태&#10;ex) 줌등의 사이트 계정" class="label-guide">
			</label>
			<div class="col-sm-9">
				<div class="form-check" style="float: left; padding-top: 6px; margin-right: 10px;">
					<{foreach from=$asset_object_type_option key=key item=label}>
					<input type="radio" name="object_type" id="object_type_<{$key}>" class="form-check-input asset_object_type" value="<{$key}>" <{if (!$object_type && $key == 1) || $object_type == $key}>checked<{/if}> required>
					<label for="object_type_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label><br/>
					<{/foreach}>
				</div>
				<div class="asset-object-type-content" style="float: left; min-width: 460px;">
					<div id="asset_object_type_content_1" class="form-group row asset_object_type_content" style="display: <{if !$object_type || $object_type == '1'}>flex;<{else}>none;<{/if}>"><!-- 유형자산위치 -->
						<label for="asset_loc" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0;">유형자산 위치</label>
						<div class="col-sm-9" style="padding-left: 0;">
							<textarea name="asset_loc" id="asset_loc" class="form-control" style="font-size: 12px;" placeholder="선반, 수납, 가구 등 물품을 보관하거나 고정하여 사용하는 자산의 경우 찾기 쉽도록 위치를 설명해주세요" rows="5"><{$asset_loc}></textarea>
						</div>
					</div>
					<div id="asset_object_type_content_2" class="form-group row asset_object_type_content" style="display: <{if $object_type == '2'}>flex;<{else}>none;<{/if}>"><!-- 무형자산정보 -->
						<label for="non_description" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0;">무형자산정보</label>
						<div class="col-sm-9" style="padding-left: 0;">
							<textarea name="non_description" id="non_description" class="form-control" style="font-size: 12px; " placeholder="무형자산정보" rows="3"><{$non_description}></textarea>
						</div>
					</div>
					<div id="asset_object_type_content_3" class="form-group row asset_object_type_content" style="display: <{if $object_type == '3'}>flex;<{else}>none;<{/if}>"><!-- 무형(계정)정보 -->
						<label for="asset_loc" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0;">무형(계정)정보</label>
						<div class="col-sm-9" style="padding-left: 0;">
							<div style="padding-left: 0; overflow: hidden;">
								<label for="object_site" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;">사이트명</label>
								<input type="text" name="object_site" id="object_site" class="form-control" value="<{$object_site}>" style="float: left; width: 262px; margin-right: 0;" placeholder="사이트명" <{if $is_editable != '1'}>readonly<{/if}>>
							</div>
							<div style="padding-left: 0; overflow: hidden;">
								<label for="object_url" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;">URL</label>
								<input type="text" name="object_url" id="object_url" class="form-control" value="<{$object_url}>" style="float: left; width: 262px; margin-right: 0;" placeholder="URL" <{if $is_editable != '1'}>readonly<{/if}>>
							</div>
							<div style="padding-left: 0; overflow: hidden;">
								<label for="object_id" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;">ID</label>
								<{if $show_permission == '2'}>
									<input type="text" name="object_non_id" class="form-control" style="float: left; width: 262px; margin-right: 0;" placeholder="********* (자산관리자에게 요청바랍니다.)" readonly>
								<{else}>
									<input type="text" name="object_id" id="object_id" class="form-control" value="<{$object_id}>" style="float: left; width: 262px; margin-right: 0;" placeholder="ID" <{if $is_editable != '1'}>readonly<{/if}>>
								<{/if}>
							</div>
							<div style="padding-left: 0; overflow: hidden;">
								<label for="object_pw" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;">P/W</label>
								<{if $show_permission == '2'}>
									<input type="text" name="object_non_pw" class="form-control" style="float: left; width: 262px; margin-right: 0;" placeholder="********* (자산관리자에게 요청바랍니다.)" readonly>
								<{else}>
									<input type="text" name="object_pw" id="object_pw" class="form-control" value="<{$object_pw}>" style="float: left; width: 262px; margin-right: 0;" placeholder="P/W" <{if $is_editable != '1'}>readonly<{/if}>>
								<{/if}>
							</div>
							<div style="padding-left: 0; overflow: hidden;margin-top: 20px;">
								<div style="overflow: hidden; display: block;">
									<label for="last_pw_date" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;margin-right: 10px; line-height: 20px; max-width: 110px;">최근 비밀번호 변경일</label>
									<input type="text" name="last_pw_date" id="last_pw_date" class="form-control date-picker" value="<{$last_pw_date}>" style="float: left; width: 100px; margin-right: 0;" <{if $is_editable != '1'}>disabled<{/if}>>
								</div>
								<label for="pw_date" class="col-sm-3 col-form-label font-weight-bold" style="padding-right: 0; padding-left: 0; float: left; color: #888;margin-right: 10px; line-height: 20px;">비번변경 알림설정</label>
								<input type="text" name="pw_date" id="pw_date" class="form-control date-picker" value="<{$pw_date}>" style="float: left; width: 100px; margin-right: 0;" <{if $is_editable != '1'}>disabled<{/if}>>
								<span style="line-height: 34px;margin-left: 5px;float: left;">부터</span>
								<select name="pw_term" id="pw_term" class="form-control" style="width: 70px;float: left;" <{if $is_editable != '1'}>disabled<{/if}>>
									<{foreach from=$term_option key=key item=label}>
									<option value="<{$key}>" <{if !$pw_term && $key == 6}>selected<{elseif $pw_term && ($key == $pw_term)}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
								<span style="line-height: 34px; margin-left:5px;">개월 마다</span>
								<br style="clear: both;"/>
								<span style="color: #999;">※날짜를 지우면 알림 설정이 해지됩니다.</span>
								<br/>
								<button type="button" class="btn btn-dark" onclick="pwModifyAsset()" style="float: right; margin-top: 15px; font-size: 12px;" <{if $is_editable != '1'}>disabled<{/if}>>비밀번호 변경 알림톡 발송</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row"><!-- 공유형태(필수) -->
			<label class="col-sm-3 col-form-label font-weight-bold" >
				*공유형태
				<img src="images/question.png" title="- 개별 : 1인 단독 공유(사용중인 사람이 있는 경우 다른 사람이 사용 요청 불가)&#10;ex) 업무용 전화기, 모니터, 조명, 턴테이블 등&#10;&#10;- 공용 : 2인 이상 동시 사용 가능한 공유&#10;ex) 와이파이 계정, 유료 이미지 사이트 계정, 다인용 프로그램 라이센스, 상표권 등&#10;&#10;- 공용(예약시스템) : 달력형 예약시스템 공유&#10;ex) ex) 회의실, 줌, 법인차량 등" class="label-guide">
			</label>
			<div class="col-sm-9">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<{foreach from=$asset_share_type_option key=key item=label}>
					<input type="radio" name="share_type" id="share_type_<{$key}>" class="form-check-input" value="<{$key}>" <{if (!$share_type && $key == 1) || $share_type == $key}>checked<{/if}> required>
					<label for="share_type_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
		</div>
		<div class="form-group row"><!-- 구입업체 -->
			<label for="dp_c_name" class="col-sm-3 col-form-label font-weight-bold" >구입업체</label>
			<div class="col-sm-9">
				<input type="text" name="dp_c_name" id="dp_c_name" class="form-control" value="<{$dp_c_name}>" placeholder="구입업체">
			</div>
		</div>
		<div class="form-group row"><!-- 제조사 -->
			<label for="manufacturer" class="col-sm-3 col-form-label font-weight-bold" >제조사</label>
			<div class="col-sm-9">
				<input type="text" name="manufacturer" id="manufacturer" class="form-control" value="<{$manufacturer}>" placeholder="제조사">
			</div>
		</div>
		<div class="form-group row"><!-- 취득일 -->
			<label for="get_date" class="col-sm-3 col-form-label font-weight-bold" >취득일</label>
			<div class="col-sm-9">
				<input type="text" name="get_date" id="get_date" class="form-control date-picker" value="<{$get_date}>">
			</div>
		</div>
		<div class="form-group row"><!-- 보증(갱신) 만료일 -->
			<label for="expire_date" class="col-sm-3 col-form-label font-weight-bold" >보증(갱신) 만료일</label>
			<div class="col-sm-9">
				<input type="text" name="expire_date" id="expire_date" class="form-control date-picker" value="<{$expire_date}>">
			</div>
		</div>
		<div class="form-group row"><!-- 취득원가 -->
			<label for="cost" class="col-sm-3 col-form-label font-weight-bold" >취득원가(VAT 포함)</label>
			<div class="col-sm-9">
				<input type="text" name="cost" id="cost" class="form-control" value="<{$cost}>" onchange="comma_cost()">
			</div>
		</div>
		<div class="form-group row"><!-- 비고 -->
			<label for="notice" class="col-sm-3 col-form-label font-weight-bold" >비고</label>
			<div class="col-sm-9">
				<textarea name="notice" id="notice" class="form-control" style="font-size: 12px;" placeholder="비고" rows="5"><{$notice}></textarea>
			</div>
		</div>
		<{if $is_button}>
		<button type="button" class="btn btn-success font-weight-bold" onclick="check_form(document.asset_frm);" style="float: left; font-size: 13px;"><span><{$title}></span></button>
		<{/if}>
		<{if !!$as_no}>
		<button type="button" class="btn btn-info font-weight-bold" onclick="duplicateAsset();" style="float: left; font-size: 13px;"><span>복제</span></button>
		<{/if}>
		<button type="button" onclick="location.href='asset_management.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button>
	</form>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	Dropzone.autoDiscover = false;

    $(document).ready(function(){
        $("#asset_g2").remoteChained({
            parents: "#asset_g1",
            url: "/v1/api/asset.json.php?parent_data=asset_g1",
            loading: "로딩중..",
            clear: true
        });

		$(".asset_object_type").change(function(){
			var object_type = $(this).val();
			$(".asset_object_type_content").hide();
			$("#asset_object_type_content_"+object_type).show();
		});

		$("#manager").combobox();
		$("#sub_manager").combobox();
    });

    //발주담당자 자동완성
	if($("#new_use_person").length > 0)
	{
        $("#new_use_person").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/v1/api/related.product.staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                sno: item.s_no,
                                label: item.s_name,
                                sname: item.s_name
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#new_use_person').val(ui.item.sname);
            },
            focus: function (event, ui) {
                return false;
            },
            minLength: 1
        });
    }

    function addUsePerson()
	{
		var use_person = $("#new_use_person").val();
		if(use_person == ''){
			alert("입력 후 이용해주세요.");
			return false;
		}
		var html = "<div class='use-person-tag'>"+
				"<a href='javascript:void(0)' style='padding-right:5px'>"+use_person+"<input type='hidden' name='use_person[]' value='"+use_person+"'></a><button type='button' onclick='delUsePerson(this)'>X</button></div>";

		$("#new_use_person").before(html);
    }

    function delUsePerson(obj){
		$(obj).parent().remove();
    }

	// 저장시 필수값 체크
	function check_form(f)
	{
        if(cknull("asset_state") == "x" ){
            alert("진행상태를 선택해주세요");
            return false;
        }

        if(cknull("my_c_no") == "x" ){
            alert("소유권 업체를 선택해주세요");
            return false;
        }

        if(cknull("asset_g1") == "x" || cknull("asset_g2") == "x"){
            alert("자산그룹을 선택해주세요");
            return false;
		}

        if(cknull("asset_name") == "x" ){
            alert("자산명을 입력해주세요");
            return false;
        }

        if(cknull("manager_name") == "x" || cknull("manager") == "x"){
            alert("자산관리자를 제대로 입력해주세요");
            return false;
        }

        f.submit();
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

    // 자산복제
    function duplicateAsset()
    {
        if(confirm('복제 클릭 시 동일한 내용으로 복제합니까?'))
        {
            document.asset_frm.process.value = 'duplicate_asset';
            document.asset_frm.submit();
        }
    }

	// QR 코드 생성
	function createQRcode()
	{
		if(confirm('기존 데이터 수정이 완료된 후 사용해 주세요. QR 코드를 생성하시겠습니까?'))
		{
			document.asset_frm.process.value = 'asset_qr_code';
			document.asset_frm.submit();
		}
	}

	function pwModifyAsset()
	{
		if(confirm('변경된 P/W를 입력 하고\n아래 수정하기 버튼을 누른 후 진행하세요.\n수정하기 버튼을 누르지 않고 알림톡 발송을 누르면\n비밀번호가 저장 되지 않습니다.'))
		{
			document.asset_frm.process.value = 'asset_pw_msg';
			document.asset_frm.submit();
		}
	}

    // 선택시 Color 변경
    function selectChangeColor(obj)
    {
        var val     = obj.value;
        var color   = $("#asset_state option[value='" + val + "']").attr('attr-color');

        $("#asset_state").css({'color' : color});
    }

    //비용 , 찍기
    function comma_cost() {
        var obj = document.getElementById("cost");
        var amount = uncomma(obj.value);

        if (!isNaN(amount)) {
            obj.value = comma(amount);
        }
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    // Image Drop & Down
	var myDropzone = new Dropzone("div#assetImageDropzone",
		{
			url:"inc/dropzone_file_upload.php",
			addRemoveLinks: true,
            dictRemoveFile: "삭제",
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 120,
			thumbnailHeight: 100,
			maxFiles: 3,
			maxFilesize: 10,
			acceptedFiles: "image/jpeg,image/jpg,image/png",
			dictInvalidFileType: "upload only JPG/PNG",
			init: function(){
				<{if $as_no && $img_paths}>
					<{foreach from=$img_paths key=key item=img_path}>
						var mockFile<{$key}> = {name: "<{$img_names[$key]}>", size: 12345};
						this.options.addedfile.call(this, mockFile<{$key}>);
						this.options.thumbnail.call(this, mockFile<{$key}>, "uploads/<{$img_path}>");

						var html = '<div><input type="hidden" name="img_name[]" class="asset_img_name" value="<{$img_names[$key]}>">';
						html += '<input type="hidden" name="img_path[]" class="asset_img_path" value="<{$img_path}>"></div>';
						$(".add-image-hidden").append(html);
					<{/foreach}>
				<{/if}>
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < images.length; i++) {
						var thumbnailElement = images[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 3개까지 업로드 할 수 있습니다');
				this.removeFile(file);
			},
			success: function(file, response){
				var result   = JSON.parse(response);
				var imgName  = result.fileName;
				var imgPath  = result.filePath;
				var imgCount = $('#img_count').val();

				if(imgCount >= 3){
					this.removeFile(file);
					alert('파일은 3개까지 업로드 할 수 있습니다');
					return;
				}

				if(imgPath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="img_name[]" class="asset_img_name" value="'+imgName+'">';
					html += '<input type="hidden" name="img_path[]" class="asset_img_path" value="'+imgPath+'"></div>';
					$(".add-image-hidden").append(html);
					$('#img_count').val($(".asset_img_name").length);
					$('#img_chk').val(1);
				}
			},
			error: function(file, response){
				if (file.type != "image/jpeg" && file.type != "image/png") {
					alert("jpg, png 파일만 업로드 할 수 있습니다");
					$(".dz-file-preview").remove();
				}
			}
		}
	);

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var imgNameList = $(".asset_img_name");

		if(imgNameList.length > 0){
			$.each(imgNameList, function(idx, imgName){
				if(removeFileName == imgName.value){
					$(imgName).parent('div').remove();
				}
			});
		}

		$('#img_count').val($(".asset_img_name").length);
		$('#img_chk').val(1);
	});

    var imageExt = ['jpg','jpeg','png','gif'];
    var myDropzone2 = new Dropzone("div#assetFileDropzone",
        {
            url:"inc/dropzone_file_upload.php",
            addRemoveLinks: true,
            dictRemoveFile: "삭제",
            uploadMultiple: true,
			parallelUploads: 1,
            thumbnailWidth: 120,
            thumbnailHeight: 100,
            maxFiles: 3,
            maxFilesize: 30,
            dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
            init: function(){
                <{if $as_no && $file_paths}>
					<{foreach from=$file_paths key=key item=file_path}>
                		var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 12345, path: "<{$file_path}>"};
						this.options.addedfile.call(this, mockFile<{$key}>);

						var file_path = '<{$file_path}>';
						var file_type = file_path.split('.',2)[1];
						file_type = file_type.toLowerCase();

						if(file_type != "" && imageExt.indexOf(file_type) != -1){
                            this.options.thumbnail.call(this, mockFile<{$key}>, "uploads/<{$file_path}>");
						}

						var html = '<div><input type="hidden" name="file_name[]" class="asset_file_name" value="<{$file_names[$key]}>">';
						html += '<input type="hidden" name="file_path[]" class="asset_file_path" value="<{$file_path}>"></div>';
						$(".add-file-hidden").append(html);
					<{/foreach}>
                <{/if}>
            },
            thumbnail: function(file, dataUrl){
                if (file.previewElement) {
                    file.previewElement.classList.remove("dz-file-preview");
                    file.previewElement.classList.add("dz-complete");
                    var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
                    for (var i = 0; i < files.length; i++) {
                        var thumbnailElement = files[i];
                        thumbnailElement.alt = file.name;
                        thumbnailElement.src = dataUrl;
                    }
                    setTimeout(function () {
                        file.previewElement.classList.add("dz-image-preview");
                    }, 1);
                }
            },
            addedfile: function(file) {
                var _this2 = this;

                if (this.element === this.previewsContainer) {
                    this.element.classList.add("dz-started");
                }

                if (this.previewsContainer) {
                    file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
                    file.previewTemplate = file.previewElement; // Backwards compatibility

                    this.previewsContainer.appendChild(file.previewElement);
                    var _iteratorNormalCompletion3 = true;
                    var _didIteratorError3 = false;
                    var _iteratorError3 = undefined;

                    try {
                        for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
                            var node = _step3.value;
                            node.textContent = file.name;
                        }
                    } catch (err) {
                        _didIteratorError3 = true;
                        _iteratorError3 = err;
                    } finally {
                        try {
                            if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
                                _iterator3["return"]();
                            }
                        } finally {
                            if (_didIteratorError3) {
                                throw _iteratorError3;
                            }
                        }
                    }

                    var _iteratorNormalCompletion4 = true;
                    var _didIteratorError4 = false;
                    var _iteratorError4 = undefined;

                    try {
                        for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
                            node = _step4.value;
                            node.innerHTML = this.filesize(file.size);
                        }
                    } catch (err) {
                        _didIteratorError4 = true;
                        _iteratorError4 = err;
                    } finally {
                        try {
                            if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
                                _iterator4["return"]();
                            }
                        } finally {
                            if (_didIteratorError4) {
                                throw _iteratorError4;
                            }
                        }
                    }

                    if (this.options.addRemoveLinks) {
                        file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
                        file.previewElement.appendChild(file._removeLink);
                    }

                    var removeFileEvent = function removeFileEvent(e) {
                        e.preventDefault();
                        e.stopPropagation();

                        if (file.status === Dropzone.UPLOADING) {
                            return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
                                return _this2.removeFile(file);
                            });
                        } else {
                            if (_this2.options.dictRemoveFileConfirmation) {
                                return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
                                    return _this2.removeFile(file);
                                });
                            } else {
                                return _this2.removeFile(file);
                            }
                        }
                    };

                    var _iteratorNormalCompletion5 = true;
                    var _didIteratorError5 = false;
                    var _iteratorError5 = undefined;

                    try {
                        for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
                            var removeLink = _step5.value;
                            removeLink.addEventListener("click", removeFileEvent);
                        }
                    } catch (err) {
                        _didIteratorError5 = true;
                        _iteratorError5 = err;
                    } finally {
                        try {
                            if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
                                _iterator5["return"]();
                            }
                        } finally {
                            if (_didIteratorError5) {
                                throw _iteratorError5;
                            }
                        }
                    }

					<{if $as_no && ($session_s_no == $manager || $show_permission == '1')}>
						var download_link = document.createElement('a');
						download_link.setAttribute('href',"/v1/uploads/" + file.path);
						download_link.setAttribute('target',"_blank");
						download_link.classList.add('dz-download');
                    	download_link.textContent="다운로드";
						file.previewTemplate.appendChild(download_link);
					<{/if}>
                }
            },
            maxfilesexceeded: function(file){
                alert('파일은 3개까지 업로드 할 수 있습니다');
            },
            success: function(file, response){
                var result    = JSON.parse(response);
                var fileName  = result.fileName;
                var filePath  = result.filePath;
                var fileCount = $('#file_count').val();

                if(fileCount >= 3){
                    this.removeFile(file);
                    alert('파일은 3개까지 업로드 할 수 있습니다');
                    return;
                }

                if(filePath != ''){
                    file.previewElement.classList.add("dz-success");

                    var html = '<div><input type="hidden" name="file_name[]" class="asset_file_name" value="'+fileName+'">';
                    html += '<input type="hidden" name="file_path[]" class="asset_file_path" value="'+filePath+'"></div>';
                    $(".add-file-hidden").append(html);
                    $('#file_count').val($(".asset_file_name").length);
                    $('#file_chk').val(1);
                }
            },
            error: function(file, response){
                alert("파일 업로드 중 에러가 발생했습니다. 다시 시도해주세요");
                $(".dz-file-preview").remove();
            }
        }
    );

    myDropzone2.on('removedfile', function(file){
        var removeFileName = file.name;
        var fileNameList = $(".asset_file_name");

        if(fileNameList.length > 0){
            $.each(fileNameList, function(idx, fileName){
                if(removeFileName == fileName.value){
                    $(fileName).parent('div').remove();
                }
            });
        }

        $('#file_count').val($(".asset_file_name").length);
		$('#file_chk').val(1);
    });

	<{if $as_no && $session_s_no != $manager}>
    	myDropzone2.removeEventListeners();
		$(".dz-remove").hide();
	<{/if}>

</script>

</body>
</html>
