<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table{word-break: break-all;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom:10px">● 자산 검색하기</h2>
	<form name="search_form" class="form-inline" action="asset_search.php" method="get" autocomplete="off">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<div class="form-group">
			<label for="sch_asset_state">진행상태</label>
			<select name="sch_asset_state" id="sch_asset_state" class="form-control" onchange="selectChangeColor(this)" <{if $sch_asset_state}>style="color: <{$asset_state_option[$sch_asset_state].color}>"<{/if}>>
				<{foreach from=$asset_state_option key=asset_state item=data}>
				<option value="<{$asset_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $sch_asset_state == $asset_state}>selected<{/if}>><{$data.label}></option>
				<{/foreach}>
			</select>

			<label for="sch_my_c_name">소유권 업체명</label>
			<input type="text" name="sch_my_c_name" id="sch_my_c_name" class="form-control" value="<{$sch_my_c_name}>" />

			<label for="sch_asset_g1">자산명</label>
			<select name="sch_asset_g1" id="sch_asset_g1" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g1_list item=asset_g1}>
				<option value="<{$asset_g1.k_name_code}>" <{if $sch_asset_g1==$asset_g1.k_name_code}>selected<{/if}>><{$asset_g1.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_asset_g2" id="sch_asset_g2" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g2_list item=asset_g2}>
				<option value="<{$asset_g2.k_name_code}>" <{if $sch_asset_g2==$asset_g2.k_name_code}>selected<{/if}>><{$asset_g2.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> </span>
			<input type="text" name="sch_asset" class="form-control" value="<{$sch_asset}>" placeholder="자산명 검색" />

			<label for="sch_keyword">키워드 검색</label>
			<input type="text" name="sch_keyword" id="sch_keyword" class="form-control" value="<{$sch_keyword}>" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
		<div class="form-group" style="width: 100%; margin-top: 10px;">
			<span id="sch_detail_display_btn_show">
				<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show');" class="btn_small">▼ 상세검색(열기) ▼</button>
			</span>
			<span id="sch_detail_display_btn_hide">
				<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide');" class="btn_small">▲ 상세검색(닫기) ▲</button>
			</span>
		</div>
		<div id="sch_detail_display" class="sch_detail_display" style="background: rgb(213, 213, 213); padding: 10px 20px 10px 0;">
			<div class="form-group sch-group-first">
				<label for="sch_as_no">as_no</label>
				<input type="text" name="sch_as_no" id="sch_as_no" class="form-control" value="<{$sch_as_no}>" />

				<label for="sch_management">자산관리번호</label>
				<input type="text" name="sch_management" id="sch_management" class="form-control"  value="<{$sch_management}>" />

				<label for="sch_manager_name">자산관리자</label>
				<input type="text" name="sch_manager_name" id="sch_manager_name" class="form-control" value="<{$sch_manager_name}>" />

				<label for="sch_description">제품명 및 자산설명</label>
				<input type="text" name="sch_description" id="sch_description" class="form-control" value="<{$sch_description}>"  />

				<label for="sch_use_type" class="first">사용방식</label>
				<select name="sch_use_type" id="sch_use_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_use_type_option key=use_type item=label}>
					<option value="<{$use_type}>" <{if $sch_use_type == $use_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_object_type" class="first">자산형태</label>
				<select name="sch_object_type" id="sch_object_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_object_type_option key=object_type item=label}>
					<option value="<{$object_type}>" <{if $sch_object_type == $object_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_asset_loc">유형자산위치</label>
				<input type="text" name="sch_asset_loc" id="sch_asset_loc" class="form-control" value="<{$sch_asset_loc}>" />

				<label for="sch_share_type" class="first">공유형태</label>
				<select name="sch_share_type" id="sch_share_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_share_type_option key=share_type item=label}>
					<option value="<{$share_type}>" <{if $sch_share_type == $share_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="85px;">
			<col width="100px;">
			<col width="120px;">
			<col width="120px;">
			<col width="90px;">
			<col width="90px;">
			<col width="200px;">
			<col width="150px;">
			<col width="90px;">
			<col width="200px;">
			<col width="200px;">
			<col width="85px;">
			<col width="85px;">
			<col width="120px;">
			<col width="85px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<td colspan="15" style="padding: 5px;">
				<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
			</td>
		</tr>
		<tr>
			<th scope="col" rowspan="2">as_no<br/>등록일시</th>
			<th scope="col" rowspan="2">선택</th>
			<th scope="col" rowspan="2">진행상태</th>
			<th scope="col" rowspan="2">소유권 업체명</th>
			<th scope="col" rowspan="2">그룹1</th>
			<th scope="col" rowspan="2">그룹2</th>
			<th scope="col">자산관리번호</th>
			<th scope="col" rowspan="2">QR코드&사진</th>
			<th scope="col" rowspan="2">자산관리자</th>
			<th scope="col" rowspan="2">제품명 및 자산설명</th>
			<th scope="col" rowspan="2">검색 키워드</th>
			<th scope="col" rowspan="2">사용방식</th>
			<th scope="col" rowspan="2">자산<br/>형태</th>
			<th scope="col" rowspan="2">유형자산위치<br/>무형자산정보<br/>무형(계정)정보</th>
			<th scope="col" rowspan="2">공유<br/>형태</th>
		</tr>
		<tr>
			<th scope="col">자산명</th>
		</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$asset_search_list item=asset_search}>
			<tr>
				<td class="text-center"><!-- as_no, 등록일시 -->
					<{$asset_search.as_no}><br/>
					<span style="color: blue;"><{$asset_search.reg_date}></span><br/>
					<span style="color: black;"><{$asset_search.reg_time}></span>
				</td>
				<td><!-- 선택 -->
					<{if $asset_search.asset_state_result }>
					<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 12px; display: table; margin: 0 auto;" onclick="selectAsset('<{$asset_search.as_no}>')">선택하기</button>
					<{else}>
					선택불가
					<{/if}>
				</td>
				<td style="color: <{$asset_search.asset_state_color}>"><!-- 진행상태 -->
					<{$asset_search.asset_state_name}>
				</td>
				<td><!-- 소유권 업체명 -->
					<{$asset_search.my_c_name}>
				</td>
				<td><!-- 그룹1 -->
					<{$asset_search.k_asset1_name}>
				</td>
				<td><!-- 그룹2 -->
					<{$asset_search.k_asset2_name}>
				</td>
				<td style="word-break: break-all;"><!-- 자산관리번호, 자산명 -->
					<span style="font-size:12px;"><{$asset_search.management}></span><br/>
					<span style="font-size: 15px; font-weight: bold;"><{$asset_search.name}></span>
				</td>
				<td class="text-center"><!-- QR코드&사진 -->
					<{if $asset_search.qr_code}>
						<img src="<{$asset_search.qr_code}>" alt="qrcode" style="width: 50px; height: 50px;"/>
					<{/if}>
					<{if $asset_search.first_img_path}>
						<img src="uploads/<{$asset_search.first_img_path}>" alt="<{$asset_search.first_img_name}>" style="width: 50px; height: 50px;" />
					<{/if}>
				</td>
				<td class="text-center"><!-- 자산관리자 -->
					<{$asset_search.manager_name}>
					<{if $asset_search.sub_manager_name}>
						<br/><{$asset_search.sub_manager_name}>
					<{/if}>
				</td>
				<td style="word-break: break-all;"><!-- 제품명 및 자산설명 -->
					<{$asset_search.description}>
				</td>
				<td style="word-break: break-all; color: #808080;"><!-- 검색 키워드 -->
					<{$asset_search.keyword}>
				</td>
				<td class="text-center"><!-- 사용방식 -->
					<{$asset_search.use_type_name}>
				</td>
				<td class="text-center"><!-- 유형/무형 -->
					<{$asset_search.object_type_name}>
				</td>
				<td class="text-left"><!-- 자산위치 -->
					<{if $asset_search.object_type == '1'}>
					<textarea name="asset_loc" style="background: lightgrey; width: 100px;" readonly><{$asset_search.asset_loc}></textarea>
					<{/if}>
				</td>
				<td class="text-center"><!-- 개별/공용 -->
					<{$asset_search.share_type_name}>
				</td>
			</tr>
			<{/foreach}>
			<tr>
				<td colspan="15" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		<{else}>
			<tr>
				<td colspan="15" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>
</div>
<!-- //admin_content -->
<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_asset_g2").remoteChained({
			parents: "#sch_asset_g1",
			url: "/v1/api/asset.json.php?parent_data=sch_asset_g1",
			loading: "로딩중..",
			clear: true
		});

		var is_sch   = $("#sch").val();
		var sch_type = (is_sch == "Y") ? "show" : "hide";
		sch_detail_display(sch_type);
	});

    function selectChangeColor(obj)
    {
        var val     = obj.value;
        var color   = $("#sch_asset_state option[value='" + val + "']").attr('attr-color');

        $("#sch_asset_state").css({'color' : color});
    }

    function selectAsset(as_no)
    {
        opener.setNewAssetData(as_no);
        window.close();
    }

	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}
</script>
</body>
</html>
