<{include file="inc/boot_navibar.html"}>

<link href='<{$dir_location}>css/calendar/main_1112.css' rel='stylesheet' />
<script src='<{$dir_location}>js/calendar/main_1112.js'></script>

<style>
    #calendar {max-width: 1100px; margin: 30px 0; font-weight: bold;}
    .fc-toolbar-title{font-weight: bold;}
    .fc-event-time{display: none !important;}
    .fc-event-title{font-weight: bold; font-size: 11px;}
    .btn{font-size: 15px;color: white; min-width: 100px;}
    .btn-grey{background: darkgrey;}
    th.fc-day{color: white; height: 30px; vertical-align: middle;}
    th.fc-day{background: #9a9a9a;}
    th.fc-day-sat{background: #9edefd;}
    td.fc-day-sat{color: blue; background: #9edefd4a;}
    th.fc-day-today{color: black;}
    th.fc-day-sun{background: #ff9a9a !important; color: red;}
    td.fc-day-sun{background: #ff9a9a38 !important; color: red;}
    .fc .fc-daygrid-day-bg .fc-bg-event{opacity: 1;}
    .fc .fc-bg-event .fc-event-title{color: red; font-style: unset; font-size: 13px;}
    #reservation-modal{padding: 60px; height: auto; margin: 0; max-width: unset; min-width: 800px; width: auto; overflow: unset;}
    #reservation-check-modal{padding: 5px; height: auto; margin: 0; max-width: 650px;overflow: unset;}
    .modal-content{border: 0;}
    .modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
    .modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
    .modal-content table{margin: 0;}
    .fc-daygrid-day-number{cursor: pointer;}
</style>

<div class="admin_content">
    <h2 class="title" style="margin-bottom: 10px;">
        <span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
        <{$nav_title}>
    </h2>

    <div style="width: 1100px;">
        <input type="hidden" id="sch_as_no" value="<{$sch_as_no}>">
        <input type="hidden" id="sch_as_name" value="<{$sch_as_name}>">
        <input type="hidden" id="sch_asset_form" value="<{$sch_asset_form}>">
        <button type="button" class="btn font-weight-bold <{if !$sch_as_no}>btn-dark<{else}>btn-grey<{/if}>" onclick="location.href='asset_reservation_calendar.php'" style="font-size: 13px;">전체</button>
        <{if $asset_share_list}>
        <{foreach from=$asset_share_list key=key item=label}>
            <button type="button" class="btn font-weight-bold <{if $sch_as_no == $key}>btn-dark<{else}>btn-grey<{/if}>" onclick="location.href='asset_reservation_calendar.php?sch_as_no=<{$key}>'" style="font-size: 13px;"><{$label}></button>
        <{/foreach}>
        <{/if}>
    </div>
    <div id='calendar'></div>
</div>

<div id="reservation-modal" class="modal">
    <div class="modal-content">
    </div>
</div>

<div id="reservation-check-modal" class="modal">
    <div class="modal-content">
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl   = document.getElementById('calendar');
        var calendarData = [];
        var calendarList = <{$asset_share_reservation_list}>;
        var holidayList = <{$calendar_holiday_list}>;

        $.each(holidayList, function(idx, item){
            calendarData.push({
                groupId: "holiday",
                title: item['title'],
                start: item['s_date'],
                end: item['e_date'],
                color: "#ffe9e9",
                display: 'background',
                allDay: true
            });
        });

        $.each(calendarList, function(idx, item){
            calendarData.push({
                groupId:item['as_r_no'],
                title: item['title'],
                start: item['r_s_date'],
                end: item['r_e_date'],
                color: item['color'],
                constraint: item['as_r_no'],
                overlap: false,
            });
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            expandRows: true,
            slotMinTime: '06:00',
            slotMaxTime: '24:00',
            initialDate: '<{$cur_date}>',
            locale: 'ko',
            navLinks: false,
            editable: true,
            dayMaxEvents: true,
            selectable: true,
            nowIndicator: true,
            longPressDelay: 1,
            select: function(info) {
                var r_date      = info.startStr;
                var cur_date    = '<{$cur_date}>';
                var sch_as_no   = $('#sch_as_no').val();
                var as_no       = sch_as_no;

                if(cur_date > r_date){
                    return false;
                }

                if(!as_no){
                    as_no = 'all';
                }

                $.ajax({
                    url: "/v1/api/asset_reservation.modal.api.php",
                    type: 'POST',
                    data: {as_r_no: '', sch_as_no: sch_as_no, as_no: as_no, r_date: r_date}
                }).done( function( data ) {
                    var jsonData = JSON.parse(data);
                    var html     = jsonData.html;

                    $("#reservation-modal").find(".modal-content").html(html);

                    if(as_no == 'all')
                    {
                        $("#new_sel_as_no").change(function(){
                            var new_as_no = $(this).val();

                            if(new_as_no != ''){
                                $.ajax({
                                    url: "/v1/api/asset.api.php",
                                    type: 'POST',
                                    data: {as_no: $(this).val()}
                                }).done( function( result ) {
                                    var resultJsonData = JSON.parse(result);
                                    var asset       = resultJsonData.asset;
                                    var asset_name  = asset.name;
                                    var management  = asset.management;
                                    var manager     = asset.manager;
                                    var sub_manager = asset.sub_manager;
                                    var work_state  = asset.work_state;
                                    var as_form     = asset.form;

                                    $("#new_as_no").val(new_as_no);
                                    $("#new_as_name").val(asset_name);
                                    $("#new_management").val(management);
                                    $("#new_manager").val(manager);
                                    $("#new_sub_manager").val(sub_manager);
                                    $("#new_work_state").val(work_state);
                                    $("#new_task_req").val(as_form);
                                });
                            }
                        });
                    }

                    setTimeout(function(){
                        $("#reservation-modal").modal({
                            fadeDuration: 250
                        });
                    }, 300);

                    $(".date-picker").datepicker({
                        format : "yyyy-mm-dd",
                        language: "ko",
                        autoclose: true,
                        todayHighlight: true,
                        beforeShowDay: function(date){
                            var holiday = "";

                            if(holiday_list){
                                holiday = holiday_list[$.datepicker.formatDate("yymmdd",date)];
                            }

                            if(holiday){
                                return {
                                    classes: 'date-holiday',
                                    tooltip: holiday.title
                                }
                            } else if(date.getDay() == 0){
                                return {
                                    classes: 'date-sunday'
                                }
                            } else if(date.getDay() == 6){
                                return {
                                    classes: 'date-saturday'
                                }
                            }
                        }
                    });
                });
            },
            eventClick: function(arg) {
                var groupId = arg.event.groupId;
                var as_no   = $('#sch_as_no').val();

                if(groupId != '' && groupId != 'holiday'){
                    $.ajax({
                        url: "/v1/api/asset_reservation.modal.api.php",
                        type: 'POST',
                        data: {as_r_no: groupId, sch_as_no: as_no, as_no: as_no}
                    }).done( function( data ) {
                        var jsonData = JSON.parse(data);
                        var html     = jsonData.html;

                        $("#reservation-modal").find(".modal-content").html(html);

                        if($("#reservation-modal").css('display') == "none"){
                            $("#reservation-modal").modal({
                                fadeDuration: 250
                            });
                        }
                    });
                }
            },
            events: calendarData
        });

        calendar.render();
    });

    function newEmptyCheck()
    {
        var assetFrm  = document.new_asset_frm;
        var as_no     = $('#sch_as_no').val();
        var assetName = $("#sch_as_name").val();
        var r_s_date = assetFrm.new_r_s_day.value + " " + assetFrm.new_r_s_hour.value + ":" + assetFrm.new_r_s_min.value + ":00";
        var r_e_date = assetFrm.new_r_e_day.value + " " + assetFrm.new_r_e_hour.value + ":" + assetFrm.new_r_e_min.value + ":00";

        if(!as_no){
            var sel_as_no = assetFrm.new_sel_as_no.value;
            if(!sel_as_no){
                alert('자산을 선택해주세요');
                return false;
            }else{
                as_no = sel_as_no;
            }
        }

        if(r_s_date > r_e_date)
        {
            alert('마감시간을 재설정해주세요');
            return false;
        }

        if(r_s_date == r_e_date){
            alert('예약 시작시간과 마감시간을 다르게 설정해주세요');
            return false;
        }

        $.ajax({
            url: "/v1/api/asset_reservation.check.api.php",
            type: 'POST',
            data: {as_no: as_no, asset_name: assetName, r_s_date: r_s_date, r_e_date: r_e_date}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;
            var html     = jsonData.html;

            if(result == true) {
                assetFrm.submit();
                return true;
            }else{
                $("#reservation-check-modal").find('.modal-content').html(html);

                $("#reservation-check-modal").modal({
                    fadeDuration: 250,
                    closeExisting: false
                });

                return false;
            }
        });
    }

    function cancelReservation()
    {
        var asset_reserv_frm = document.asset_reserv_frm;
        asset_reserv_frm.process.value = 'cancel_asset_reservation';
        asset_reserv_frm.submit();
    }

    function modifyReservation()
    {
        var assetReservefrm = document.asset_reserv_frm;
        var as_r_no     = assetReservefrm.as_r_no.value;
        var as_no       = $('#sch_as_no').val();
        var assetName   = $("#sch_as_name").val();
        var r_s_date    = assetReservefrm.new_r_s_day.value + " " + assetReservefrm.new_r_s_hour.value + ":" + assetReservefrm.new_r_s_min.value + ":00";
        var r_e_date    = assetReservefrm.new_r_e_day.value + " " + assetReservefrm.new_r_e_hour.value + ":" + assetReservefrm.new_r_e_min.value + ":00";

        if(!as_no){
            as_no = assetReservefrm.as_no.value;
        }

        if(r_s_date > r_e_date)
        {
            alert('마감시간을 재설정해주세요');
            return false;
        }

        if(r_s_date == r_e_date){
            alert('예약 시작시간과 마감시간을 다르게 설정해주세요');
            return false;
        }

        $.ajax({
            url: "/v1/api/asset_reservation.check.api.php",
            type: 'POST',
            data: {as_no: as_no, as_r_no: as_r_no, asset_name: assetName, r_s_date: r_s_date, r_e_date: r_e_date}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;
            var html     = jsonData.html;

            if(result == true) {
                assetReservefrm.process.value = 'modify_asset_reservation';
                assetReservefrm.submit();
                return true;
            }else{
                $("#reservation-check-modal").find('.modal-content').html(html);

                $("#reservation-check-modal").modal({
                    fadeDuration: 250,
                    closeExisting: false
                });

                return false;
            }
        });
    }


</script>
</body>
</html>
