<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group.sch-group-first{margin: 5px 0;}
	.form-group.sch-group-second{margin: 5px 0;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px; max-width: 100%;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #reservation-modal{height: auto; width: 100%;overflow: unset; max-width: 400px;}
	.modal-content{border: 0;}
	.modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
	.modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
	#image-modal{height: auto; padding: 5px; overflow: unset;}
	#image-modal img{width: 100%;}
	.jquery-modal #repair-modal{height: auto; padding: 5px; overflow: unset;min-height: 240px; width: 420px;}

	.state-btn-group{margin-top: 20px;}
	.state-btn-group button{background: #333; color: white; font-size: 14px;width: 160px;padding: 5px 10px; position: relative; margin: 0px 5px;}
	.state-btn-group button:hover{color: white; background: lightpink;}
	.state-btn-group button.btn-selected{background: lightpink;}
	.state-cnt{background: red; display: inline-block; border-radius: 10px; width: 22px; position: absolute; right: -8px; bottom: 15px;}
	.btn-asset{display: inline-block;text-align: center;vertical-align: middle;cursor: pointer;background-color: transparent;border: 1px solid transparent;padding: 3px 10px;font-size: 12px;font-weight: bold;border-radius: 0.25rem;color: white; margin-top: 5px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="asset_reservation.php" method="get" autocomplete="off">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="sch_quick_state" id="sch_quick_state" value="<{$sch_quick_state}>" />
		<div class="form-group">
			<label for="sch_work_state">진행상태</label>
			<select name="sch_work_state" id="sch_work_state" class="form-control" onchange="selectChangeColor(this)" <{if $sch_work_state}>style="color: <{$asset_work_state_option[$sch_work_state].color}>"<{/if}>>
				<{foreach from=$asset_work_state_option key=work_state item=data}>
				<option value="<{$work_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $sch_work_state == $work_state}>selected<{/if}>><{$data.label}></option>
				<{/foreach}>
			</select>

			<label for="sch_asset_g1">자산명</label>
			<select name="sch_asset_g1" id="sch_asset_g1" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g1_list item=asset_g1}>
				<option value="<{$asset_g1.k_name_code}>" <{if $sch_asset_g1==$asset_g1.k_name_code}>selected<{/if}>><{$asset_g1.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_asset_g2" id="sch_asset_g2" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g2_list item=asset_g2}>
				<option value="<{$asset_g2.k_name_code}>" <{if $sch_asset_g2==$asset_g2.k_name_code}>selected<{/if}>><{$asset_g2.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> </span>
			<input type="text" name="sch_asset" class="form-control" value="<{$sch_asset}>" placeholder="자산명 검색" />

			<label for="sch_manager">자산 관리자</label>
			<input type="text" name="sch_manager" id="sch_manager" class="form-control" value="<{$sch_manager}>" style="width: 100px;" />
			
			<label for="sch_keyword">키워드 검색</label>
			<input type="text" name="sch_keyword" id="sch_keyword" class="form-control" value="<{$sch_keyword}>" style="width: 140px;" />

			<label for="sch_req_name">요청자(사용자)</label>
			<input type="text" name="sch_req_name" id="sch_req_name" class="form-control" value="<{$sch_req_name}>" style="width: 100px;" />

			<label for="sch_run_name">처리자</label>
			<input type="text" name="sch_run_name" id="sch_run_name" class="form-control" value="<{$sch_run_name}>" style="width: 100px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
		<div class="form-group" style="width: 100%; margin-top: 10px;">
			<span id="sch_detail_display_btn_show">
				<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show');" class="btn_small">▼ 상세검색(열기) ▼</button>
			</span>
			<span id="sch_detail_display_btn_hide">
				<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide');" class="btn_small">▲ 상세검색(닫기) ▲</button>
			</span>
		</div>
		<div id="sch_detail_display" class="sch_detail_display" style="background: rgb(213, 213, 213); padding: 10px 20px 10px 0;">
			<div class="form-group sch-group-first">
				<label for="sch_as_r_no">as_r_no</label>
				<input type="text" id="sch_as_r_no" name="sch_as_r_no" value="<{$sch_as_r_no}>" class="form-control" />

				<label for="sch_management">자산관리번호</label>
				<input type="text" id="sch_management" name="sch_management" value="<{$sch_management}>" class="form-control" />

				<label for="sch_task_req">요청내용</label>
				<input type="text" id="sch_task_req" name="sch_task_req" value="<{$sch_task_req}>" class="form-control" />

				<label for="sch_task_run">처리내용</label>
				<input type="text" id="sch_task_run" name="sch_task_run" value="<{$sch_task_run}>" class="form-control" />
			</div>
		</div>
	</form>

	<div class="state-btn-group">
		<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_quick_state}>btn-selected<{/if}>" onclick="changeState('')">전체</button>
		<{foreach from=$asset_quick_option key=key item=label}>
		<button type="button" class="btn btn-sm font-weight-bold <{if $sch_quick_state == $key}>btn-selected<{/if}>" onclick="changeState('<{$key}>')" >
			<{$label}>
			<{if $reservation_cnt_list[$key] > 0}>
				<span class="state-cnt"><{$reservation_cnt_list[$key]}></span>
			<{/if}>
		</button>
		<{/foreach}>
	</div>


	<form name="new_asset_frm" id="new_asset_frm" class="new_asset_frm" action="asset_reservation.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_asset_reservation">
		<table class="table table-striped table-bordered" style="margin-top: 20px;">
			<thead class="thead-dark text-center">
			<tr>
				<th style="min-width:72px;" rowspan="2">as_r_no<br/>작성일시</th>
				<th style="min-width:100px;" rowspan="2">진행상태</th>
				<th style="min-width:85px;" rowspan="2">그룹1</th>
				<th style="min-width:85px;" rowspan="2">그룹2</th>
				<th style="min-width:240px;">자산관리번호</th>
				<th style="min-width:120px;" rowspan="2">QR코드&사진</th>
				<th style="min-width:72px;" rowspan="2">자산관리자</th>
				<th style="min-width:254px;" rowspan="2">예약일시</th>
				<th style="min-width:72px;" rowspan="2">자산<br/>형태</th>
				<th style="min-width:195px;" rowspan="2">유형자산위치<br/>무형자산정보<br/>무형(계정)정보</th>
				<th style="min-width:170px;" rowspan="2">요청내용</th>
				<th style="min-width:72px;" rowspan="2">요청자<br>(사용자)</th>
				<th style="min-width:165px;" rowspan="2">자산 사용 요청</th>
			</tr>
			<tr>
				<th>자산명</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="text-center" style="font-size: 10px;"> <!-- 작성일시 -->
					-
				</td>
				<td class="text-center"><!-- 진행상태 -->
					<span id="new_work_state_empty" class="new_asset_empty">-</span>
					<span id="new_work_state_name" class="new_asset_field" style="display: none;"></span>
					<input type="hidden" name="new_work_state" id="new_work_state" value="" required>
					<input type="hidden" name="new_share_type" id="new_share_type" value="">
					<input type="hidden" name="new_use_type" id="new_use_type" value="">
				</td>
				<td class="text-center"><!-- 그룹1 -->
					<span id="new_asset_g1_empty" class="new_asset_empty">-</span>
					<span id="new_asset_g1" class="new_asset_field" style="display: none;"></span>
				</td>
				<td class="text-center"><!-- 그룹2 -->
					<span id="new_asset_g2_empty" class="new_asset_empty">-</span>
					<span id="new_asset_g2" class="new_asset_field" style="display: none;"></span>
				</td>
				<td><!-- 자산관리번호, 자산명 -->
					<div style="display: table; margin: 0 auto;">
						<span id="new_management_empty" class="new_asset_empty">-</span>
						<span id="new_management_label" class="new_asset_field" style="display: none;"></span>
						<input type="hidden" name="new_management" id="new_management" value="" required>
					</div>
					<div style="display: table; margin: 0 auto;">
						<input type="text" name="new_asset_name" id="new_asset_name" class="form-control" onclick="openAssetSelSearch();" style="width: 75%; max-width: 170px; float: left; font-size: 12px; background: white;" readonly required>
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="openAssetSelSearch();" style="font-size:12px; line-height: 21px;">검색</button>
						<input type="hidden" name="new_asset_no" id="new_asset_no" class="new_asset_no" value="" required/>
					</div>
				</td>
				<td class="text-center"><!-- QR 코드 & 사진  -->
					<span id="new_qr_code_empty" class="new_asset_empty">-</span>
				</td>
				<td class="text-center"><!-- 자산관리자 -->
					<span id="new_manager_empty" class="new_asset_empty">-</span>
					<span id="new_manager_name_label" class="new_asset_field" style="display: none;"></span>
					<br/><span id="new_sub_manager_name_label" class="new_asset_field" style="display: none;"></span>
					<input type="hidden" name="new_manager" id="new_manager" value="" required>
					<input type="hidden" name="new_manager_name" id="new_manager_name" value="" required>
					<input type="hidden" name="new_sub_manager" id="new_sub_manager" value="" >
					<input type="hidden" name="new_sub_manager_name" id="new_sub_manager_name" value="" >
				</td>
				<td class="text-center"><!-- 예약일시 -->
					<span id="new_r_date_empty" class="new_empty_date">-</span>
					<div class="new_r_s_date_wrap" style="display: none;">
						<input type="text" name="new_r_s_day" id="new_r_s_day" class="new_r_date form-control date-picker" value="" style="font-size: 12px; float: left; width: 95px;" placeholder="시작일자">
						<select name="new_r_s_hour" id="new_r_s_hour" class="new_r_date form-control" style="width:50px; float: left;">
							<{foreach from=$asset_hour_option item=hour}>
							<option value="<{$hour}>"><{$hour}></option>
							<{/foreach}>
						</select>
						<span style="float: left; display: inline-block; line-height: 35px;">시</span>
						<select name="new_r_s_min" id="new_r_s_min" class="new_r_date form-control" style="width:50px;float: left;">
							<{foreach from=$asset_min_option item=min}>
							<option value="<{$min}>"><{$min}></option>
							<{/foreach}>
						</select>
						<span style="float: left; display: inline-block; margin: 0 5px; line-height: 35px;">분</span>
					</div>
					<div class="new_r_e_date_wrap" style="display: none;">
						<input type="text" name="new_r_e_day" id="new_r_e_day" class="new_r_date form-control date-picker" value="" style="font-size: 12px; float: left; width: 95px;" placeholder="마감일자">
						<select name="new_r_e_hour" id="new_r_e_hour" class="new_r_date form-control" style="width:50px; float: left;">
							<{foreach from=$asset_hour_option item=hour}>
							<option value="<{$hour}>"><{$hour}></option>
							<{/foreach}>
						</select>
						<span style="float: left; display: inline-block; line-height: 35px;">시</span>
						<select name="new_r_e_min" id="new_r_e_min" class="new_r_date form-control" style="width:50px;float: left;">
							<{foreach from=$asset_min_option item=min}>
							<option value="<{$min}>"><{$min}></option>
							<{/foreach}>
						</select>
						<span style="float: left; display: inline-block; margin: 0 5px; line-height: 35px;">분</span>
					</div>
				</td>
				<td class="text-center"><!-- 자산형태 -->
					<span class="new_asset_empty">-</span>
					<span id="new_object_type" class="new_object_type new_asset_field" style="display: none;"></span>
				</td>
				<td class="text-center"> <!-- 무형자산정보 -->
					<span id="new_object_info_empty" class="new_asset_empty">-</span>
					<textarea name="new_object_info" id="new_object_info" class="textarea_work_message new_asset_field" onfocus="text_area_click(this, '220px');" onfocusout="text_area_click_out(this, '175px', 'white')" style="width: 175px; display: none;" readonly></textarea>
				</td>
				<td><!-- 요청내용 -->
					<textarea name="new_task_req" id="new_task_req" class="textarea_work_message" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '145px', 'white')" style="width: 145px;"></textarea>
				</td>
				<td class="text-center"><!-- 요청자(사용자) -->
					<input type="hidden" name="new_req_no" id="new_req_no" class="new_req_no" value="<{$session_s_no}>" required/>
					<input type="text" name="new_req_name" id="new_req_name" class="new_req_name" value="<{$session_name}>" style="width: 50px;text-align: center;line-height: 28px; <{if !permissionNameCheck($session_permission, '재무관리자')}> background: rgba(0,0,0,.05);" readonly<{else}>"<{/if}> required>
				</td>
				<td>
					<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; line-height: 21px; display: table; margin: 0 auto;" onclick="newEmptyCheck()">자산 사용 요청하기</button>
				</td>
			</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 20px;">
		<thead class="thead-dark text-center">
		<tr>
			<td colspan="13" style="padding: 5px;">
				<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
				<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right;">
					<{foreach from=$page_type_option item=page_type}>
					<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th rowspan="2" style="min-width:72px;">as_r_no<br/>작성일시</th>
			<th rowspan="2" style="min-width:100px;">진행상태</th>
			<th rowspan="2" style="min-width:85px;">그룹1</th>
			<th rowspan="2" style="min-width:85px;">그룹2</th>
			<th style="min-width:210px;">자산관리번호</th>
			<th rowspan="2" style="min-width:120px;">QR코드&사진</th>
			<th rowspan="2" style="min-width:72px;">자산관리자</th>
			<th rowspan="2" style="min-width:254px;">예약일시</th>
			<th rowspan="2" style="min-width:72px;">자산<br/>형태</th>
			<th rowspan="2" style="min-width:195px;">유형자산위치<br/>무형자산정보<br/>무형(계정)정보</th>
			<th rowspan="2" style="min-width:170px;">요청내용</th>
			<th rowspan="2" style="min-width:72px;">요청자<br>(사용자)</th>
			<th rowspan="2" style="min-width:165px;">처리내용<br>(처리자)</th>
		</tr>
		<tr>
			<th>자산명</th>
		</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$asset_reservation_list item=asset_reservation}>
				<form name="asset_reservation_frm_<{$asset_reservation.as_r_no}>" id="asset_reservation_frm_<{$asset_reservation.as_r_no}>" action="asset_reservation.php" method="POST">
					<input type="hidden" name="search_url" value="<{$search_url}>" />
					<input type="hidden" name="process" value="" />
					<input type="hidden" name="as_r_no" value="<{$asset_reservation.as_r_no}>" />
					<input type="hidden" name="as_no" value="<{$asset_reservation.as_no}>" />
					<tr>
						<td class="text-center" style="font-size: 10px;"><!-- as_r_no, 작성일시 -->
							<{$asset_reservation.as_r_no}><br/>
							<span style="color: blue;"><{$asset_reservation.reg_date}></span><br>
							<span style="color: black;"><{$asset_reservation.reg_time}></span>
						</td>
						<td class="text-center"><!-- 진행상태 -->
							<select name="work_state" class="form-control work_state_<{$asset_reservation.as_r_no}>" style="color: <{$asset_reservation.work_state_color}>; margin: 0 auto; display: table;" disabled>
								<{foreach from=$asset_work_state_option key=work_state item=data}>
								<option value="<{$work_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $asset_reservation.work_state == $work_state}>selected<{/if}> disabled><{$data.label}></option>
								<{/foreach}>
							</select>
							<div style="display: table; margin: 0 auto;">
								<{if ($asset_reservation.share_type == '1' || $asset_reservation.share_type == '2') }>
									<{if $asset_reservation.work_state == '1'}>
										<{if $session_s_no == $asset_reservation.req_no}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'asset_cancel', this)" style="background: #999999;">사용요청취소</button>
										<{/if}>
										<{if ($session_s_no == $asset_reservation.manager || $session_s_no == $asset_reservation.sub_manager)}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'asset_approve', this)" style="background: #4F81BD;">승인</button>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'asset_refuse', this)" style="background: #C0504D;">불가</button>
										<{/if}>
									<{elseif $asset_reservation.work_state == '2'}>
										<{if ($session_s_no == $asset_reservation.manager || $session_s_no == $asset_reservation.sub_manager) || $session_team == '00211'}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'asset_return', this)" attr-type='auto' style="background: #00B050;">반납</button>
											<button type="button" class="btn-asset" onclick="repair_save_element('<{$asset_reservation.as_r_no}>', 'asset_repair')" style="background: #F79646;">수리</button>
										<{elseif $session_s_no == $asset_reservation.req_no}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'asset_return', this)" <{if $asset_reservation.object_type=='1'}>attr-type='normal'<{else}>attr-type='auto'<{/if}> style="background: #00B050;">반납</button>
											<button type="button" class="btn-asset" onclick="repair_save_element('<{$asset_reservation.as_r_no}>', 'asset_repair')" style="background: #F79646;">수리</button>
										<{/if}>
									<{elseif $asset_reservation.work_state == '5'}>
										<{if $asset_reservation.object_type == '1' && $session_s_no == '260'}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'repair_complete', this)" style="background: #4F81BD;">수리완료</button>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'repair_cancel', this)" style="background: #C0504D;">취소</button>
										<{/if}>
									<{elseif $asset_reservation.work_state == '8'}>
										<{if ($session_s_no == $asset_reservation.manager || $session_s_no == $asset_reservation.sub_manager) || $session_team == '00211'}>
											<button type="button" class="btn-asset" onclick="save_element('<{$asset_reservation.as_r_no}>', 'return_complete', this)" style="background: #4F81BD;">반납완료</button>
										<{/if}>
									<{/if}>
								<{/if}>
							</div>
						</td>
						<td class="text-center"><!-- 그룹1 -->
							<{$asset_reservation.k_asset1_name}>
						</td>
						<td class="text-center"><!-- 그룹2 -->
							<{$asset_reservation.k_asset2_name}>
						</td>
						<td style="word-break: break-all;"><!-- 자산관리번호, 자산명 -->
							<a href="asset_regist.php?as_no=<{$asset_reservation.as_no}>">
								<span style="font-size:12px;"><{$asset_reservation.management}></span><br/>
								<span style="font-size:14px; font-weight: bold;"><{$asset_reservation.asset_name}></span>
							</a>
							<a href="asset_regist.php?as_no=<{$asset_reservation.as_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						</td>
						<td class="text-center"><!-- QR코드 & 이미지 -->
							<{if $asset_reservation.qr_code}>
								<img src="<{$asset_reservation.qr_code}>" alt="qrcode" onclick="openImgModal(this, '150px')" style="width: 50px; height: 50px; cursor: pointer;"/>
							<{/if}>
							<{if $asset_reservation.first_img_path}>
								<img src="uploads/<{$asset_reservation.first_img_path}>" alt="<{$asset_reservation.first_img_name}>" onclick="openImgModal(this, '500px')" style="width: 50px; height: 50px; cursor: pointer;"/>
							<{/if}>
						</td>
						<td class="text-center"><!-- 자산관리자 -->
							<{$asset_reservation.manager_name}>
							<{if $asset_reservation.sub_manager_name}>
							<br/><{$asset_reservation.sub_manager_name}>
							<{/if}>
						</td>
						<td ><!-- 예약일시 -->
							<{if $asset_reservation.r_s_day && $asset_reservation.r_e_day}>
							<div>
								<input type="text" class="form-control" value="<{$asset_reservation.r_s_day}>" style="font-size: 12px; float: left; width: 94px;" readonly>
								<select class="form-control" style="width:50px; float: left;" readonly>
									<{foreach from=$asset_hour_option item=hour}>
									<option value="<{$hour}>" <{if $hour == $asset_reservation.r_s_hour}>selected<{/if}> disabled><{$hour}></option>
									<{/foreach}>
								</select>
								<span style="float: left; display: inline-block; line-height: 35px;">시</span>
								<select class="form-control" style="width:50px;float: left;" readonly>
									<{foreach from=$asset_min_option item=min}>
									<option value="<{$min}>" <{if $min == $asset_reservation.r_s_min}>selected<{/if}> disabled><{$min}></option>
									<{/foreach}>
								</select>
								<span style="float: left; display: inline-block; margin: 0 5px; line-height: 35px;" readonly>분</span>
							</div>
							<div>
								<input type="text" class="form-control" value="<{$asset_reservation.r_e_day}>" style="font-size: 12px; float: left; width: 94px;" readonly>
								<select class="form-control" style="width:50px; float: left;" readonly>
									<{foreach from=$asset_hour_option item=hour}>
									<option value="<{$hour}>" <{if $hour == $asset_reservation.r_e_hour}>selected<{/if}> disabled><{$hour}></option>
									<{/foreach}>
								</select>
								<span style="float: left; display: inline-block; line-height: 35px;">시</span>
								<select class="form-control" style="width:50px;float: left;" readonly>
									<{foreach from=$asset_min_option item=min}>
									<option value="<{$min}>" <{if $min == $asset_reservation.r_e_min}>selected<{/if}> disabled><{$min}></option>
									<{/foreach}>
								</select>
								<span style="float: left; display: inline-block; margin: 0 5px; line-height: 35px;">분</span>
							</div>
							<{/if}>
						</td>
						<td class="text-center"><!-- 자산형태 -->
							<{$asset_reservation.object_type_name}>
						</td>
						<td><!-- 유형자산위치, 무형자산정보, 무형(계정)정보 -->
							<{if $asset_reservation.object_type == '1'}>
								<textarea name="asset_loc" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '175px','lightgrey')" style="background: lightgrey; width: 175px; position: relative;" readonly><{$asset_reservation.asset_loc}></textarea>
							<{elseif $asset_reservation.object_type == '2'}>
								<textarea name="non_description" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '175px','lightgrey')" style="background: lightgrey; width: 175px; position: relative;" readonly><{$asset_reservation.non_description}></textarea>
							<{elseif $asset_reservation.work_state == '2' && $asset_reservation.object_type == '3' && $asset_reservation.show_permission == '1'}>
								<span><{$asset_reservation.object_site}></span><br/>
								<span style="color: #a4a4a4; font-size: 10px;">URL : </span><a href="<{$asset_reservation.object_url}>" target="_blank"><{$asset_reservation.object_url}></a><br/>
								<span style="color: #a4a4a4; font-size: 10px;">ID : </span><span><{$asset_reservation.object_id}></span><br/>
								<span style="color: #a4a4a4; font-size: 10px;">P/W : </span><span><{$asset_reservation.object_pw}></span>
							<{/if}>
						</td>
						<td><!-- 요청내용 -->
							<{if ($session_s_no == $asset_reservation.req_no) && ($asset_reservation.work_state == '8' || $asset_reservation.work_state == '5') }>
							<textarea name="task_req" onchange="save_el('<{$asset_reservation.as_r_no}>', 'task_req', this)" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '150px', 'white')" style="width: 150px; position: relative;"><{$asset_reservation.task_req}></textarea>
							<{else}>
							<textarea name="task_req_read" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '150px', 'lightgrey')" style="background: lightgrey; width: 150px; position: relative;" readonly><{$asset_reservation.task_req}></textarea>
							<{/if}>
						</td>
						<td class="text-center"><!-- 요청자 -->
							<a href="staff_list.php?sch_staff_state=&sch_team=all&sch_s_name=<{$asset_reservation.req_name}>" target="_blank"><{$asset_reservation.req_name}></a>
						</td>
						<td class="text-right"><!-- 처리내용 -->
							<{if $asset_reservation.run_no}>
							<textarea name="task_run" onchange="save_el('<{$asset_reservation.as_r_no}>', 'task_run', this)" onfocus="text_area_click(this, '220px')" onfocusout="text_area_click_out(this, '145px', <{if !permissionNameCheck($session_permission, '재무관리자') && $session_s_no != $asset_reservation.manager && $session_s_no != $asset_reservation.sub_manager}>'lightgrey'<{else}>''<{/if}>)"  <{if !permissionNameCheck($session_permission, '재무관리자') && $session_s_no != $asset_reservation.manager && $session_s_no != $asset_reservation.sub_manager}>style="width: 145px; background: lightgrey; position: relative;" readonly<{else}>style="width: 145px; position: relative;"<{/if}>><{$asset_reservation.task_run}></textarea>
							<{/if}>
							<br>
							<span style="test-align:rignt">(<{$asset_reservation.run_name}>)</span>
						</td>
					</tr>
				</form>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="13" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan=13 class="paging_wrap">
				<div class="paging_wrap">
					<{$page_list}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div id="reservation-modal" class="modal">
	<div class="modal-content">
	</div>
</div>

<div id="image-modal" class="modal">
	<div class="img-modal-content">
		<img src="" id="modal-img">
	</div>
</div>

<div id="repair-modal" class="modal">
    <div class="repair-modal-content">
        <form name="new_repair_frm" id="new_repair_frm" class="new_repair_frm" action="asset_reservation.php" method="post">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="">
			<input type="hidden" name="as_r_no" value="">
			<input type="hidden" name="as_no" value="">
			<input type="hidden" name="share_type" value="">
			<input type="hidden" name="use_type" value="">
			<textarea name="task_req" style="width: 400px; height: 200px; padding: 10px; font-size: 11px; margin: 5px;">1) 이상 현상 내용 (최대한 상세히)
:

2) 시도해 본 조치(* 구글 검색 결과, 조치가 간단하면 선 조치 시도를 권장)
 :

3) 조치 완료 희망일
 : </textarea>
			<button style="background: #333; color: white; font-size: 12px; font-weight: bold;padding: 5px 10px; float: right; margin-right: 7px; ">수리요청</button>
		</form>
    </div>
</div>

<!-- //admin_content -->
<script type="text/javascript">

    $(document).ready(function(){
        $("#sch_asset_g2").remoteChained({
            parents: "#sch_asset_g1",
            url: "/v1/api/asset.json.php?parent_data=sch_asset_g1",
            loading: "로딩중..",
            clear: true
        });

		//발주담당자 자동완성
		$("#new_req_name").autocomplete({
			source: function( request, response ) {
				$("#new_req_no").val('');
				$.ajax({
					url: "/v1/api/related.product.staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_name,
								sname : item.s_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#new_req_no").val(ui.item.sno);
				$('#new_req_name').val(ui.item.sname);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		var is_sch   = $("#sch").val();
		var sch_type = (is_sch == "Y") ? "show" : "hide";
		sch_detail_display(sch_type);
    });

	$(window).load(function(){
		<{if $is_connect_qrcode == 'Y' && $qrcode_as_no}>
			if(confirm("해당 자산을 사용하시겠습니까?")){
				setNewAssetData('<{$qrcode_as_no}>');
			}
		<{elseif $sch_reservation}>
			setNewAssetData('<{$sch_reservation}>');
		<{/if}>
	});

    function sch_detail_display(type){
        var f = document.forms['search_form'];

        if(type=='show'){
            f.sch.value = "Y";
            $("#sch_detail_display").show();
            $("#sch_detail_display_btn_show").hide();
            $("#sch_detail_display_btn_hide").show();
        }else if(type=='hide'){
            f.sch.value = "N";
            $("#sch_detail_display").hide();
            $("#sch_detail_display_btn_show").show();
            $("#sch_detail_display_btn_hide").hide();
        }
    }

    function selectChangeColor(obj)
    {
        var val     = obj.value;
        var color   = $("#sch_work_state option[value='" + val + "']").attr('attr-color');

        $("#sch_work_state").css({'color' : color});
    }

    function save_el(as_r_no, proc, obj) {

        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || (proc == 'task_run' )) {
            $.post("asset_reservation.php", {as_r_no : as_r_no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function repair_save_element(as_r_no, target)
	{
        var f = document.forms['asset_reservation_frm_' + as_r_no];
        var new_repair_frm = document.forms['new_repair_frm'];

        new_repair_frm.as_r_no.value = as_r_no;
        new_repair_frm.process.value = target;
        new_repair_frm.as_no.value = f.as_no.value;

        $("#repair-modal").modal({
            fadeDuration: 250
        });

    }

    function save_element(as_r_no, target, obj) {
        var f 	 = document.forms['asset_reservation_frm_' + as_r_no];
        var msg  = "";
        var type = $(obj).attr('attr-type');

        if(target == 'asset_approve'){
        	msg = "승인처리 하시겠습니까?";
        }
        else if(target == 'asset_cancel'){
			msg = "취소처리 하시겠습니까?"
		}
		else if(target == 'asset_refuse'){
			msg = "불가처리 하시겠습니까?"
		}
		else if(target == 'asset_return'){
            msg = "반납처리 하겠습니까?";
		}
		else if(target == 'return_complete' || target == 'repair_complete'){
			msg = "완료처리 하겠습니까?";
		}
		else if(target == 'return_cancel' || target == 'repair_cancel'){
			msg = "취소처리 하겠습니까?";
		}
		else{
            return false;
        }

		if (confirm(msg))
		{
			if(target == 'asset_return' && type == 'auto'){

			}else{
				openSms(as_r_no, target);
			}

			f.process.value = target;
			f.submit();
		}else{
			return false;
		}
    }

    function normal_search() {
        var ord_page   = $("#ord_page_type").val();
        $("#ord_page_type_hidden").val(ord_page);
		searchList();
    }

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
      f.style.width = width;
      f.style.backgroundColor="yellow";
			f.style.zIndex =10;
			if(f.scrollHeight < 80){
				f.style.height = "80px";
			}else{
				f.style.height = (f.scrollHeight)+"px";
			}
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width, color){
      f.style.width = width;
      f.style.backgroundColor=color;
			f.style.zIndex = 1;
      f.style.height = "48px";
    }

    function openAssetSelSearch()
    {
        window.open('asset_search.php', '자산검색하기', 'top=10,left=50,width=1800,height=800,scrollbars=yes');
    }

    function setNewAssetData(as_no)
    {
        $.ajax({
            url: "/v1/api/asset.api.php",
            type: 'POST',
            data: {"as_no": as_no}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;
            var asset    = jsonData.asset;

            if(result == true) {
                $('.new_asset_empty').hide();
                $('#new_work_state_name').text(asset.work_state_name);
                $('#new_work_state').val(asset.work_state);
                $('#new_asset_g1').text(asset.k_asset1_name);
                $('#new_asset_g2').text(asset.k_asset2_name);
                $('#new_asset_name').val(asset.name);
                $('#new_asset_no').val(asset.as_no);
                $('#new_management_label').text(asset.management);
                $('#new_management').val(asset.management);
                $('#new_manager_name_label').text(asset.manager_name);
                $('#new_manager').val(asset.manager);
                $('#new_manager_name').val(asset.manager_name);
				$('#new_sub_manager_name_label').text(asset.sub_manager_name);
				$('#new_sub_manager').val(asset.sub_manager);
				$('#new_sub_manager_name').val(asset.sub_manager_name);
                $('#new_share_type').val(asset.share_type);
                $('#new_use_type').val(asset.use_type);
                $('#new_object_type').text(asset.object_type_name);
                $('#new_task_req').val(asset.form);
                $('#new_r_s_day').val(asset.r_s_day);
                $('#new_r_s_hour').val(asset.r_s_hour);
                $('#new_r_s_min').val(asset.r_s_min);
                $('#new_r_e_day').val(asset.r_s_day);
                $('#new_r_e_hour').val(asset.r_s_hour);
                $('#new_r_e_min').val(asset.r_s_min);
                $('.new_asset_field').show();

                if(asset.object_type == 1){
                    $('#new_object_info').val(asset.asset_loc);
                }else{
                    $('#new_object_info').val("");
                    $('#new_object_info').hide();
                    $('#new_object_info_empty').show();
                }

                if(asset.share_type == 3){
                    $('.new_empty_date').hide();
                    $('.new_r_s_date_wrap').show();
                    $('.new_r_e_date_wrap').show();
                }else{
                    $('.new_empty_date').show();
                    $('.new_r_s_date_wrap').hide();
                    $('.new_r_e_date_wrap').hide();
                }

				if($('#new_first_img_path')){
					$('#new_first_img_path').remove();
				}

				if($('#new_qr_code')){
					$('#new_qr_code').remove();
				}

                if(asset.qr_code != "" || asset.first_img_path != "")
                {
					if(asset.first_img_path != ""){
						var img_html = "<img alt='"+asset.first_img_name+"' src='uploads/"+asset.first_img_path+"' style='width: 50px; height: 50px;' id='new_first_img_path'>";
						$('#new_qr_code_empty').after(img_html);
					}

                	if(asset.qr_code != ""){
                		var qr_html = "<img alt='qr_code' src='"+asset.qr_code+"' style='width: 50px; height: 50px;' id='new_qr_code'>";
						$('#new_qr_code_empty').after(qr_html);
					}
				}else{
					$('#new_qr_code_empty').show();
				}
            }
        });
    }

    function newEmptyCheck()
    {
        var assetFrm  = document.new_asset_frm;
        var shareType = assetFrm.new_share_type.value;

        if (cknull("new_work_state", "자산상품을") == "x" || cknull("new_asset_no", "자산상품을") == "x" || cknull("new_management", "자산상품을") == "x" || cknull("new_req_no", "요청자를") == "x") return false;

        if(shareType == '3'){

            var as_no      = assetFrm.new_asset_no.value;
            var asset_name = assetFrm.new_asset_name.value;
            var r_s_date = assetFrm.new_r_s_day.value + " " + assetFrm.new_r_s_hour.value + ":" + assetFrm.new_r_s_min.value + ":00";
            var r_e_date = assetFrm.new_r_e_day.value + " " + assetFrm.new_r_e_hour.value + ":" + assetFrm.new_r_e_min.value + ":00";

            if(r_s_date > r_e_date)
            {
                alert('마감시간을 재설정해주세요');
                return false;
            }

            if(r_s_date == r_e_date){
                alert('예약 시작시간과 마감시간을 다르게 설정해주세요');
                return false;
            }

            $.ajax({
                url: "/v1/api/asset_reservation.check.api.php",
                type: 'POST',
                data: {as_no: as_no, asset_name: asset_name, r_s_date: r_s_date, r_e_date: r_e_date}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;
                var html     = jsonData.html;

                if(result == true) {
                    document.new_asset_frm.submit();
                    return true;
                }else{
                    $(".modal-content").html(html);

                    $("#reservation-modal").modal({
                        fadeDuration: 250
                    });

                    return false;
                }
            });

            return false;
        }

        document.new_asset_frm.submit();
    }

	function openImgModal(img, width)
	{
		$("#modal-img").attr('src', $(img).attr('src'));
		$("#image-modal").css({"width":width});
		$("#image-modal").modal({
			fadeDuration: 250
		});
	}

	function changeState(state)
	{
		$("#sch_quick_state").val(state);
		searchList();
	}

	function openSms(as_r_no, target)
	{
		var state = '';
		if(target == 'asset_approve'){
			state = 'approve';
		}
		else if(target == 'asset_refuse'){
			state = 'refuse';
		}
		else if(target == 'asset_return'){
			state = 'return';
		}

		if(state == ''){
			return false;
		}

		window.open('popup/waple_sms.php?type=reservation&as_r_no='+as_r_no+"&state="+state, '자산 사용내역 알림', 'width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
	}
</script>
</body>
</html>
