<{include file="inc/boot_navibar.html"}>

<script type="text/javascript" src="/v1/js/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="/v1/js/fancybox/jquery.easing-1.3.pack.js"></script>
<link rel="stylesheet" href="/v1/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group.sch-group-first{margin: 5px 0;}
	.form-group.sch-group-second{margin: 5px 0;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
	.modal{height: auto; padding: 5px; overflow: unset;}
	.modal img{width: 100%;}
	.blocker{z-index: 11;}
	.btn-asset{display: inline-block;text-align: center;vertical-align: middle;cursor: pointer;background-color: transparent;border: 1px solid transparent;padding: 3px 10px;font-size: 12px;font-weight: bold;border-radius: 0.25rem;color: white; margin-top: 5px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="asset_management.php" method="get" autocomplete="off">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group">
			<label for="sch_asset_state">진행상태</label>
			<select name="sch_asset_state" id="sch_asset_state" class="form-control" onchange="selectChangeColor(this)" <{if $sch_asset_state}>style="color: <{$asset_state_option[$sch_asset_state].color}>"<{/if}>>
			<{foreach from=$asset_state_option key=asset_state item=data}>
				<option value="<{$asset_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $sch_asset_state == $asset_state}>selected<{/if}>><{$data.label}></option>
			<{/foreach}>
			</select>

			<label for="sch_my_c_name">소유권 업체명</label>
			<input type="text" name="sch_my_c_name" id="sch_my_c_name" class="form-control" value="<{$sch_my_c_name}>" />

			<label for="sch_asset_g1">자산명</label>
			<select name="sch_asset_g1" id="sch_asset_g1" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g1_list item=asset_g1}>
				<option value="<{$asset_g1.k_name_code}>" <{if $sch_asset_g1 == $asset_g1.k_name_code}>selected<{/if}>><{$asset_g1.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_asset_g2" id="sch_asset_g2" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$asset_g2_list item=asset_g2}>
				<option value="<{$asset_g2.k_name_code}>" <{if $sch_asset_g2 == $asset_g2.k_name_code}>selected<{/if}>><{$asset_g2.k_name}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> </span>
			<input type="text" name="sch_asset" class="form-control" value="<{$sch_asset}>" placeholder="자산명 검색"  />

			<label for="sch_keyword">키워드 검색</label>
			<input type="text" name="sch_keyword" id="sch_keyword" class="form-control" value="<{$sch_keyword}>" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
		<div class="form-group" style="width: 100%; margin-top: 10px;">
			<span id="sch_detail_display_btn_show">
				<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show');" class="btn_small">▼ 상세검색(열기) ▼</button>
			</span>
			<span id="sch_detail_display_btn_hide">
				<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide');" class="btn_small">▲ 상세검색(닫기) ▲</button>
			</span>
		</div>
		<div id="sch_detail_display" class="sch_detail_display" style="background: rgb(213, 213, 213); padding: 10px 20px 10px 0;">
			<div class="form-group sch-group-first">
				<label for="sch_as_no">as_no</label>
				<input type="text" name="sch_as_no" id="sch_as_no" value="<{$sch_as_no}>" class="form-control" />

				<label for="sch_management">자산관리번호</label>
				<input type="text" name="sch_management" id="sch_management" value="<{$sch_management}>" class="form-control" />

				<label for="sch_manager_name">자산관리자</label>
				<input type="text" name="sch_manager_name" id="sch_manager_name" value="<{$sch_manager_name}>" class="form-control" />

				<label for="sch_description">제품명 및 자산설명</label>
				<input type="text" name="sch_description" id="sch_description" value="<{$sch_description}>" class="form-control" />

				<label for="sch_use_type" class="first">사용방식</label>
				<select name="sch_use_type" id="sch_use_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_use_type_option key=use_type item=label}>
					<option value="<{$use_type}>" <{if $sch_use_type == $use_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_object_type" class="first">자산형태</label>
				<select name="sch_object_type" id="sch_object_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_object_type_option key=object_type item=label}>
					<option value="<{$object_type}>" <{if $sch_object_type == $object_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_asset_loc">유형자산위치</label>
				<input type="text" name="sch_asset_loc" id="sch_asset_loc" class="form-control" value="<{$sch_asset_loc}>" />

				<label for="sch_use_pw" class="first">비번변경 알림설정</label>
				<select name="sch_use_pw" id="sch_use_pw" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_define_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_use_pw == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_share_type" class="first">공유형태</label>
				<select name="sch_share_type" id="sch_share_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$asset_share_type_option key=share_type item=label}>
					<option value="<{$share_type}>" <{if $sch_share_type == $share_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group sch-group-second">
				<label for="sch_dp_c_name">구매업체</label>
				<input type="text" name="sch_dp_c_name" id="sch_dp_c_name" value="<{$sch_dp_c_name}>" class="form-control" />

				<label for="sch_manufacturer">제조사</label>
				<input type="text" name="sch_manufacturer" id="sch_manufacturer" value="<{$sch_manufacturer}>" class="form-control" />

				<label for="sch_get_s_date">취득일</label>
				<input type="text" name="sch_get_s_date" id="sch_get_s_date" value="<{$sch_get_s_date}>" class="form-control date-picker" />
				<span class="tlt"> ~ </span>
				<input type="text" name="sch_get_e_date" id="sch_get_e_date" value="<{$sch_get_e_date}>" class="form-control date-picker" />

				<label for="sch_expire_s_date">보증(갱신)만료일</label>
				<input type="text" name="sch_expire_s_date" id="sch_expire_s_date" value="<{$sch_expire_s_date}>" class="form-control date-picker" />
				<span class="tlt"> ~ </span>
				<input type="text" name="sch_expire_e_date" id="sch_expire_e_date" value="<{$sch_expire_e_date}>" class="form-control date-picker" />

				<label for="sch_notice">비고</label>
				<input type="text" name="sch_notice" id="sch_notice" value="<{$sch_notice}>" class="form-control" />

				<label for="sch_memo">담당자메모</label>
				<input type="text" name="sch_memo" id="sch_memo" value="<{$sch_memo}>" class="form-control" />

				<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="margin-left: 10px; font-size:12px; padding: 5px 20px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="72px;">
			<col width="100px;">
			<col width="140px;">
			<col width="85px;">
			<col width="85px;">
			<col width="240px;">
			<col width="120px;">
			<col width="72px;">
			<col width="160px;">
			<col width="72px;">
			<col width="72px;">
			<col width="210px;">
			<col width="60px;">
			<col width="100px;">
			<col width="100px;">
			<col width="72px;">
			<col width="72px;">
			<col width="90px;">
			<col width="138px;">
			<col width="138px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<td colspan="20" style="padding: 5px;">
				<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
				<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right;">
					<{foreach from=$page_type_option item=page_type}>
					<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th scope="col" rowspan="2">as_no<br/>등록일시</th>
			<th scope="col" rowspan="2">진행상태<br/>사용자</th>
			<th scope="col" rowspan="2">소유권 업체명</th>
			<th scope="col" rowspan="2">그룹1</th>
			<th scope="col" rowspan="2">그룹2</th>
			<th scope="col">자산관리번호</th>
			<th scope="col" rowspan="2">QR코드 & 사진</th>
			<th scope="col" rowspan="2">자산관리자</th>
			<th scope="col" rowspan="2">제품명 및 자산설명</th>
			<th scope="col" rowspan="2">사용방식</th>
			<th scope="col" rowspan="2">자산<br/>형태</th>
			<th scope="col" rowspan="2">유형자산위치<br/>무형자산정보<br/>무형(계정)정보</th>
			<th scope="col" rowspan="2">공유<br/>형태</th>
			<th scope="col" rowspan="2">구입업체</th>
			<th scope="col" rowspan="2">제조사</th>
			<th scope="col" rowspan="2">취득일</th>
			<th scope="col" rowspan="2">보증(갱신)<br/>만료일</th>
			<th scope="col" rowspan="2">취득원가<br>(VAT 포함)</th>
			<th scope="col" rowspan="2">비고</th>
			<th scope="col" rowspan="2">담당자 메모</th>
		</tr>
		<tr>
			<th scope="col">자산명</th>
		</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$asset_list item=asset}>
				<tr>
					<td class="text-center" style="font-size: 10px;"><!-- as_no, 등록일시 -->
						<{$asset.as_no}><br/>
						<span style="color: blue;"><{$asset.reg_date}></span><br>
						<span style="color: black;"><{$asset.reg_time}></span>
					</td>
					<td class="text-center"><!-- 진행상태 -->
						<{if ($asset.asset_state != '4' && $asset.asset_state != '5') && (permissionNameCheck($session_permission, '재무관리자') || $session_s_no == $asset.manager)}><!-- 폐기 및 사용중일때 상태변경 불가 -->
							<select name="asset_state" id="asset_state_<{$asset.as_no}>" class="form-control" onchange="save_el('<{$asset.as_no}>','asset_state',this)" style="color: <{$asset.asset_state_color}>; width: 85px;">
								<{foreach from=$asset_state_option key=asset_state item=data}>
									<option value="<{$asset_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $asset.asset_state == $asset_state}>selected<{/if}>><{$data.label}></option>
								<{/foreach}>
							</select>
						<{else}>
							<span style="color: <{$asset.asset_state_color}>"><{$asset.asset_state_name}></span>
						<{/if}>
						<{if $asset.asset_state == '5'}>
							<a href="asset_reservation.php?sch=Y&ord_page_type=10&sch_work_state=2&sch_asset_g1=&sch_asset_g2=&sch_asset=&sch_keyword=&sch_req_name=&sch_run_name=&sch_as_r_no=&sch_management=<{$asset.management}>&sch_task_req=&sch_task_run=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
							<{if $asset.use_info}>
								<br>
								<span style="color: black;">(<{$asset.use_info}>)</span>
							<{/if}>
						<{elseif $asset.asset_state == '1'}>
							<{if $asset.share_type == '3'}>
								<a href="asset_reservation_calendar.php?sch_as_no=<{$asset.as_no}>" target="_blank" style="background: #343a40;color: white; font-size: 11px; padding: 5px 10px; text-decoration: unset; display: inline-block; margin-top: 3px; border-radius: 5px;">
									자산요청하기
								</a>
							<{elseif $asset.show_permission == '2'}>
								<a href="asset_reservation.php?sch_reservation=<{$asset.as_no}>" target="_blank" style="background: #343a40;color: white; font-size: 11px; padding: 5px 10px; text-decoration: unset; display: inline-block; margin-top: 3px; border-radius: 5px;">
									자산요청하기
								</a>
							<{/if}>
						<{/if}>

						<{if $asset.asset_state == '1' || $asset.asset_state == '2' || $asset.asset_state == '5'}>
							<{if $asset.share_type == '2' && $asset.object_type == '1'}>
								<button type="button" class="btn-asset" onclick="repair_save_element('<{$asset.as_no}>', 'asset_repair')" style="background: #F79646;">수리</button>
							<{/if}>
						<{/if}>

					</td>
					<td><!-- 소유권 업체명 -->
						<span style="color: <{$my_company_list[$asset.my_c_no].color}>;"><{$asset.my_c_name}></span>
					</td>
					<td class="text-center"><!-- 그룹1 -->
						<{$asset.k_asset1_name}>
					</td>
					<td class="text-center"><!-- 그룹2 -->
						<{$asset.k_asset2_name}>
					</td>
					<td style="word-break: break-all;"><!-- 자산관리번호<br/>자산명 -->
						<a href="asset_regist.php?as_no=<{$asset.as_no}>&<{$search_url}>">
							<span style="font-size:12px;"><{$asset.management}></span><br/>
							<span style="font-size:14px; font-weight: bold;"><{$asset.name}></span>
						</a>
					</td>
					<td class="text-center"><!-- QR코드 & 사진 -->
						<{if $asset.qr_code}>
							<img src="<{$asset.qr_code}>" alt="qrcode" style="width: 50px; height: 50px; cursor: pointer;" onclick="openQRcodeModal(this, '150px')"/>
						<{/if}>
						<{if $asset.img_paths}>
							<img src="uploads/<{$asset.img_paths[0]}>" alt="<{$asset.img_names[0]}>" onclick="openImgModal('<{$asset.as_no}>')" style="width: 50px; height: 50px; cursor: pointer;" />
							<div class="hide-img" style="display: none;">
								<{foreach from=$asset.img_paths key=key item=img_path}>
								<img src="uploads/<{$img_path}>" class="asset-img-<{$asset.as_no}>" alt="<{$asset.img_names[$key]}>"/>
								<{/foreach}>
							</div>
						<{/if}>
					</td>
					<td class="text-center"><!-- 자산관리자 -->
						<{$asset.manager_name}>
						<{if $asset.sub_manager_name}>
							<br/><{$asset.sub_manager_name}>
						<{/if}>
					</td>
					<td style="word-break: break-all; font-size: 10px;"><!-- 제품명 및 자산설명 -->
						<{$asset.description}>
						<{if $asset.file_paths && $asset.show_permission == '1'}>
							<{foreach from=$asset.file_paths key=key item=file_path}>
								<a href="./uploads/<{$file_path}>" title="<{$asset.file_names[$key]}>" download="<{$asset.file_names[$key]}>" style="font-weight: bold; display: inline-block;" >
									<img src="images/common/ico/ico_file.gif" alt="file download">
								</a>
							<{/foreach}>
						<{/if}>
					</td>
					<td class="text-center"><!-- 사용방식 -->
						<{$asset.use_type_name}>
					</td>
					<td class="text-center"><!-- 자산형태 -->
						<{$asset.object_type_name}>
					</td>
					<td class="text-left"><!-- 자산위치 -->
						<{if $asset.object_type == '1'}>
							<textarea name="asset_loc" style="background: lightgrey; width: 192px;" readonly><{$asset.asset_loc}></textarea>
						<{else}>
							<{if $asset.show_permission == '1' || $asset.manager == $session_s_no || $asset.ar_cnt > 0}>
								<{if $asset.object_type == '2'}>
									<textarea name="asset_loc" style="background: lightgrey; width: 192px;" readonly><{$asset.asset_loc}></textarea>
								<{else $asset.object_type == '3'}>
									<span><{$asset.object_site}></span><br/>
									<span style="color: #a4a4a4; font-size: 10px;">URL : </span><a href="<{$asset.object_url}>" target="_blank"><{$asset.object_url}></a><br/>
									<span style="color: #a4a4a4; font-size: 10px;">ID : </span><span><{$asset.object_id}></span><br/>
									<span style="color: #a4a4a4; font-size: 10px;">P/W : </span><span><{$asset.object_pw}></span>
								<{/if}>
							<{/if}>
						<{/if}>
					</td>
					<td class="text-center"><!-- 공유형태 -->
						<{$asset.share_type_name}>
					</td>
					<td style="font-size: 10px;"><!-- 구입업체 -->
						<{$asset.dp_c_name}>
					</td>
					<td style="font-size: 10px;"><!-- 제조사 -->
						<{$asset.manufacturer}>
					</td>
					<td class="text-center" style="font-size: 10px;"><!-- 취득일 -->
						<{$asset.get_date}>
					</td>
					<td class="text-center" style="font-size: 10px;"><!-- 보증(갱신)만료일 -->
						<{$asset.expire_date}>
					</td>
					<td class="text-right" style="padding: 2px; font-size: 10px;"><!-- 취득원가<br>(VAT 포함) -->
						￦ <{$asset.cost|number_format:0}>
					</td>
					<td class="text-center"><!-- 비고 -->
						<textarea name="notice" style="background: lightgrey" readonly><{$asset.notice}></textarea>
					</td>
					<td class="text-center"><!-- 관리자메모 -->
						<{if $is_admin || ($session_s_no == $asset.manager)}>
							<textarea name="memo" onchange="save_el('<{$asset.as_no}>', 'memo', this)"><{$asset.memo}></textarea>
						<{/if}>
					</td>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="20" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="20" class="paging_wrap">
				<div class="paging_wrap">
					<{$page_list}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="left_wrap">
		<button type="button" onclick="location.href='asset_regist.php'" class="btn btn-dark font-weight-bold" style="float: left; font-size: 13px; line-height: 34px;"><span>자산 등록하기</span></button>
		<{if permissionNameCheck($session_permission, "재무관리자") }>
		<button type="button" onclick="location.href='excel_asset_management.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: left; font-size: 13px; line-height: 34px;"><span>엑셀 다운로드</span></button>
		<{/if}>
	</div>
	<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "마스터관리자")}>
	<div class="right_wrap">
		<span style="float: left; line-height: 30px; display: inline-block; font-weight: bold;margin-right: 10px;">[자산 라벨정보 다운로드]</span>
		<span style="float: left; line-height: 30px; display: inline-block; margin-right: 5px;">as_no</span>
		<input type="text" name="as_s_no" id="as_s_no" value="" style="float: left;line-height: 20px; width: 80px;">
		<span style="float: left; line-height: 30px; display: inline-block; margin:0 5px;">~</span>
		<input type="text" name="as_e_no" id="as_e_no" value="" style="float: left;line-height: 20px; width: 80px;">
		<button type="button" onclick="downloadAssetFile('label');return false;" class="btn btn-dark font-weight-bold" style="float: left; font-size: 11px; line-height: 20px; margin-top:-3px;"><span>라벨정보 엑셀 다운로드</span></button>
		<button type="button" onclick="downloadAssetFile('qrcode');return false;" class="btn btn-dark font-weight-bold" style="float: left; font-size: 11px; line-height: 20px; margin-top:-3px;"><span>QR CODE 다운로드</span></button>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<div id="qrcode-modal" class="modal">
	<div class="modal-content">
		<img src="" id="modal-img">
	</div>
</div>

<div class="modal" id="repair-modal">
	<div class="repair-modal-content">
		<form name="new_repair_frm" id="new_repair_frm" class="new_repair_frm" action="asset_management.php" method="post">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="">
			<input type="hidden" name="as_no" value="">
			<textarea name="task_req" style="width: 400px; height: 200px; padding: 10px; font-size: 11px; margin: 5px;">1) 이상 현상 내용 (최대한 상세히)
:

2) 시도해 본 조치(* 구글 검색 결과, 조치가 간단하면 선 조치 시도를 권장)
 :

3) 조치 완료 희망일
 : </textarea>
			<button style="background: #333;color: white;font-size: 12px;font-weight: bold;padding: 5px 10px;float: right;margin-right: 11px;border-radius: 3px;height: 200px;margin-top: 5px;">수리요청</button>
		</form>
	</div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $("#sch_asset_g2").remoteChained({
            parents: "#sch_asset_g1",
            url: "/v1/api/asset.json.php?parent_data=sch_asset_g1",
            loading: "로딩중..",
            clear: true
        });

		var is_sch 	 = $("#sch").val();
		var sch_type = (is_sch == "Y") ? "show" : "hide";
		sch_detail_display(sch_type);
    });

	function downloadAssetFile(type)
	{
		var as_s_no  = $("#as_s_no").val();
		var as_e_no  = $("#as_e_no").val();

		if(as_s_no == '' || as_e_no ==''){
			alert('as_no 값을 입력해주세요');
			return false;
		}

		if(as_s_no > as_e_no){
			alert('다운로드에 실패하였습니다. "as_no" 는 작은 수에서 큰수로 입력 바랍니다.');
			return false;
		}

		if(type == 'qrcode'){
			alert("QR코드는 압축을 풀고 i라벨 파일과 같은 폴더에 넣어 주세요.");
			var down_url = "popup/download_asset_qrcode.php?as_s_no=" + as_s_no + "&as_e_no=" + as_e_no;
			window.open(down_url,'파일다운로드','width=400, height=400, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
		}else if(type == 'label'){
			var down_url = "excel_asset_label.php?as_s_no=" + as_s_no + "&as_e_no=" + as_e_no;
			location.href=down_url;
		}

	}

    function sch_detail_display(type){
        var f = document.forms['search_form'];

        if(type=='show'){
            f.sch.value = "Y";
            $("#sch_detail_display").show();
            $("#sch_detail_display_btn_show").hide();
            $("#sch_detail_display_btn_hide").show();
        }else if(type=='hide'){
            f.sch.value = "N";
            $("#sch_detail_display").hide();
            $("#sch_detail_display_btn_show").show();
            $("#sch_detail_display_btn_hide").hide();
        }
    }

    function save_el(as_no, proc, obj) {

        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || (proc == 'memo' || proc == 'asset_state')) { // 메모
            $.post("asset_management.php", {as_no : as_no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);

                if(proc == 'asset_state'){
                    var color   = $("#asset_state_"+as_no+" option[value='" + val + "']").attr('attr-color');

                    $("#asset_state_"+as_no).css({'color' : color});
                }
            });
        }
    }

    function normal_search() {
        var ord_page   = $("#ord_page_type").val();
        $("#ord_page_type_hidden").val(ord_page);
        searchList();
    }

    function selectChangeColor(obj)
    {
        var val     = obj.value;
        var color   = $("#sch_asset_state option[value='" + val + "']").attr('attr-color');

        $("#sch_asset_state").css({'color' : color});
    }

	function openImgModal(as_no)
	{
		var img_paths = $(".asset-img-"+as_no);
		var img_data = [];

		$.each(img_paths, function(idx,item){
			img_data.push({
				title: item['alt'],
				href: item['src']
			});
		});

		$.fancybox(img_data, {
			'padding'			: 0,
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'type'              : 'image',
			'changeFade'        : 0
		});
	}

	function openQRcodeModal(img, width)
	{
		$("#modal-img").attr('src', $(img).attr('src'));
		$("#qrcode-modal").css({"width":width});
		$("#qrcode-modal").modal({
			fadeDuration: 250
		});
	}

	function repair_save_element(as_no, target)
	{
		var new_repair_frm = document.forms['new_repair_frm'];

		new_repair_frm.as_no.value 	 = as_no;
		new_repair_frm.process.value = target;

		$("#repair-modal").modal({
			fadeDuration: 250
		});
	}
</script>
</body>
</html>
