<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table_list_style table thead th{text-align: center;}
</style>

<div class="admin_content">
	<form name="search_form" action="assignment.php" method="get">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">사업자</span>
				<select name="sch_my_c_no" id="sch_my_c_no" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">부서 > 팀</span>
				<select name="sch_department" id="sch_department" class="select_type2" style="width: 130px;">
					<option value="">::전체::</option>
					<{foreach from=$department_list key=department item=label}>
						<option value="<{$department}>" <{if $sch_department == $department}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				 >
				<select name="sch_team" id="sch_team" class="select_type2">
					<option value="">::전체::</option>
					<{if $team_list}>
						<{foreach from=$team_list key=team item=label}>
						<option value="<{$team}>" <{if $sch_team == $team}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					<{/if}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">핵심업무/업무분장 내용</span>
				<input type="text" name="sch_assignment" class="input_type5" value="<{$sch_assignment}>" />

				<button type="submit" class="btn_small">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="7">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:60px;">순서</th>
					<th style="min-width:120px;">사업자</th>
					<th style="min-width:200px;">부서 > 팀<br>구성원</th>
					<th style="min-width:75px;">구성원</th>
					<th style="min-width:655px;" colspan="3">핵심업무 내용 <br> [순서] 업무분장 내용 / 메인/서브 담당자</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="7"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$team_assignment_list item=team_assignment}>
						<form name="apply_frm<{$team_assignment.id}>" id="apply_frm<{$team_assignment.id}>" class="list_form" action="assignment.php" method="post" enctype="multipart/form-data">
							<input type="hidden" name="process">
							<input type="hidden" name="id" value="<{$team_assignment.id}>">
							<input type="hidden" name="team_code" value="<{$team_assignment.team_code}>">
							<input type="hidden" name="job_id">

							<tr>
								<td class="first" style="vertical-align: top;" <{if !!$team_assignment.job_assignment_cnt}>rowspan="<{$team_assignment.job_assignment_cnt}>"<{/if}>> <!-- 순서 -->
									<input type="number" name="f_priority" id="f_priority" min="1" max="100" value="<{$team_assignment.priority}>" onchange="save_el('<{$team_assignment.id}>', 'f_priority', this);" style="text-align: center;"
										<{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}>
									/>
								</td>
								<td style="vertical-align: top;" <{if !!$team_assignment.job_assignment_cnt}>rowspan="<{$team_assignment.job_assignment_cnt}>"<{/if}>> <!-- 사업자 -->
									<{$team_assignment.my_c_name}>
								</td>
								<td class="alignL" style="vertical-align: top;" <{if !!$team_assignment.job_assignment_cnt}>rowspan="<{$team_assignment.job_assignment_cnt}>"<{/if}>> <!-- 부서 > 팀 -->
									<{if !!$team_assignment.team_parent_name}>
										<{$team_assignment.team_parent_name}> > <{$team_assignment.team_name}>
									<{else}>
										<{$team_assignment.team_name}>
									<{/if}>
									<br><br>

									<{assign var="s_no_count" value=0}>
									<{foreach from=$staff_all_list[$team_assignment.team_code] key=s_no item=s_name}>
										<{assign var="s_no_count" value=$s_no_count+1}>
										<span style="border:1px solid; border-color: #a7a7a7; color: #a7a7a7;">
											<{$s_name}>
										</span>
										<{if ($s_no_count)%4 == '0'}> <!-- 3명씩 출력 -->
											<br>
										<{else}>
											&nbsp;
										<{/if}>
									<{/foreach}>
								</td>
								<td style="background-color: #d0f0ff;">
									업무목표 <a href="#"><img title="부서별 업무 목표 입니다." src="./images/icon/question3.png" style="margin-bottom: -4px;"></a>
								</td>
								<td colspan="3" class="alignL" style="background-color: #d0f0ff;"> <!-- 업무목표 -->
									<input type="text" name="f_purpose" id="f_purpose" class="input_type8" value="<{$team_assignment.purpose}>" onchange="save_el('<{$team_assignment.id}>', 'f_purpose', this)"
										<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>disabled<{/if}>
									/>
								</td>
							</tr>
							<tr>
								<td style="background-color: #d0f0ff;">
									핵심업무 <a href="#"><img title="거의 변하지 않는 부서 또는 팀의 핵심업무 입니다." src="./images/icon/question3.png" style="margin-bottom: -4px;"></a>
								</td>
								<td class="alignL" style="background-color: #d0f0ff;" colspan="3"> <!-- 핵심업무 -->
									<input type="text" name="f_major_assignment" id="f_major_assignment" class="input_type8" value="<{$team_assignment.major_assignment}>" onchange="save_el('<{$team_assignment.id}>', 'f_major_assignment', this)"
										<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>disabled<{/if}>
									/>
									<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>
									<{else}>
										<a onclick="add_job_assignment('<{$team_assignment.id}>', this);"><img title="업무분장 추가하기" style="margin: 0px 0px -5px 0;" src="./images/icon/plus_icon.png"></a>
									<{/if}>
								</td>
							</tr>

							<{assign var="first_index" value="true"}>
							<{foreach from=$job_assignment_list[$team_assignment.team_code] item=job_assignment}>
								<tr>
									<{if $first_index == 'true'}>
										<{assign var="first_index" value="false"}>
										<td rowspan="<{$team_assignment.job_assignment_cnt-2}>" style="background-color: #ebf9ff;">
											업무분장 <a href="#"><img title="팀 내에서 담당하고 있는 세부업무 입니다.&#10;담당자를 메인 또는 서브로 설정이 가능하며,&#10;내근직의 경우 가능한 상세하게 설정을 권장 드립니다.&#10;&#10;업무분장은 핵심업무와 달리 상황에 따라 추가/삭제/변경이 있을 수 있으므로&#10;업무 변경 시 업데이트 부탁드립니다." src="./images/icon/question3.png" style="margin-bottom: -4px;"></a>
										</td>
									<{/if}>
									<td class="alignL" style="background-color: #ebf9ff;"> <!-- 업무분장 -->
										┗>
										<input type="number" name="f_job_priority<{$job_assignment.id}>" id="f_job_priority<{$job_assignment.id}>" min="1" max="100" value="<{$job_assignment.priority}>" onchange="save_el('<{$job_assignment.id}>', 'f_job_priority', this);" style="text-align: center;"
											<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>disabled<{/if}>
										/>
										<input type="text" name="f_assignment<{$job_assignment.id}>" id="f_assignment<{$job_assignment.id}>" class="input_type_w300" value="<{$job_assignment.assignment}>" onchange="save_el('<{$job_assignment.id}>', 'f_assignment', this)" style="width:360px;"
											<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>disabled<{/if}>
										/>
										<{if ($team_assignment.team_code != $session_team || $session_pos_permission != "2") && !permissionNameCheck($session_permission,"마스터관리자") && ($session_pos_permission != "3" && $session_pos_permission != "4")}>
										<{else}>
											<a href="#" onclick="del_job_assignment('<{$job_assignment.id}>', this);"><img title="업무분장 삭제하기" style="margin: 0px 0px -5px 0;" src="./images/icon/del_icon.png"></a>
										<{/if}>
									</td>
									<td class="alignL" style="border-right:0px; background-color: #ebf9ff;">
										<span style="font-size:11px; color:#a7a7a7;">
											&nbsp;메인 :
											<{if !!$job_assignment.main_s_no}>
												<{$staff_all_list[$job_assignment.main_s_no[0]].s_name}>
											<{else}>
												(미설정)
											<{/if}>
											<br>
											&nbsp;서브 :
											<{assign var="data_empty" value="true"}>
											<{if !!$job_assignment.sub_s_no}>
												<{$staff_all_list[$job_assignment.sub_s_no[0]].s_name}>
											<{else}>
												(미설정)
											<{/if}>
										</span>
									</td>
									<td style="background-color: #ebf9ff;">
										<{if ($team_assignment.team_code != $session_team || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4")) && !permissionNameCheck($session_permission,"마스터관리자")}>
										<{else}>
											<a href="#" onclick="find_staff_list('<{$job_assignment.id}>','<{$team_assignment.team_code}>'); return false;"><img title="담당자 설정" src="./images/icon/setup_kor.png"></a>
										<{/if}>
									</td>
								</tr>
							<{/foreach}>
						</form>
						<tr>
							<td colspan="7">
							</td>
						</tr>
					<{/foreach}>
					<tr>
						<td colspan="7" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div> <!-- //table_list_style -->
</div> <!-- //admin_content -->

<script type="text/javascript">

$(document).ready(function(){
	$('#sch_team').remoteChained({
		parents: "#sch_department",
		url: "/v1/api/team.json.php?parent_data=sch_department",
		loading: "로딩중..",
		clear: true
	});
});

function save_el(id, proc, obj) {
	var f = obj.form;
	var val = obj.value;
	var default_val = obj.defaultValue;
	var x = $(obj).position();
	var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

	if (default_val && val == default_val)
		return false;

	if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
		return false;

	if (val != "") {
		$.post("assignment.php", {id : id, process : proc, val : val}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}
}

// 업무분장 추가
function add_job_assignment(id, obj) {

	eval("var f=document.getElementById('apply_frm" + id + "');");
	f.process.value = 'add_job_assignment';
	f.id.value = id;

	if (confirm("업무분장을 추가 하시겠습니까??") == true)
	{ // 확인
		f.submit();
	} else
	{ //취소
		return;
	}
}

// 업무분장 삭제
function del_job_assignment(id, obj) {

	eval("var f=document.getElementById('apply_frm" + id + "');");
	f.process.value = 'del_job_assignment';
	f.job_id.value = id;

	if (confirm("업무분장을 삭제 하시겠습니까??") == true)
	{ // 확인
		f.submit();
	} else
	{ //취소
		return;
	}
}

// 업무분장 담당자 설정
function find_staff_list(id, team) {
	url = "popup/find_staff.php?j_a_id=" + id + "&sch_team=" + team;
	window.open(url, "find_staff", "left=50,top=20,width=1100,height=700,scrollbars=yes");
}

</script>
</body>
</html>
