<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody td.red-background{background: #ffae95;}
	.admin_content table tbody td.blue-background{background: #97b0d1;}
	.admin_content table tbody td.gray-background{background-color: rgba(0,0,0,.05);}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="broadcast_ad_list.php" method="get" autocomplete="off">
		<div class="form-group">
			<label for="sch_media" style="margin-left: 0;">매체</label>
			<select name="sch_media" id="sch_media" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_media_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_detail_media">세부매체</label>
			<select name="sch_detail_media" id="sch_detail_media" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_detail_media_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_detail_media == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_advertiser">광고주</label>
			<input type="text" name="sch_advertiser" id="sch_advertiser" class="form-control" value="<{$sch_advertiser}>" style="width: 150px;" />

			<label for="sch_state">진행상태</label>
			<select name="sch_state" id="sch_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_type">광고유형</label>
			<select name="sch_type" id="sch_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label for="sch_title" style="margin-left: 0;">프로그램명</label>
			<input type="text" name="sch_title" id="sch_title" class="form-control" value="<{$sch_title}>" style="width: 150px;" />

			<label for="sch_sub_s_date">청약기간</label>
			<input type="text" name="sch_sub_s_date" id="sch_sub_s_date" class="form-control date-picker" value="<{$sch_sub_s_date}>" />
			<span class="tlt"> ~ </span>
			<input type="text" name="sch_sub_e_date" id="sch_sub_e_date" class="form-control date-picker" value="<{$sch_sub_e_date}>" />

			<label for="sch_subs_gubun">청약구분</label>
			<select name="sch_subs_gubun" id="sch_subs_gubun" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_subs_gubun_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_subs_gubun == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_delivery_gubun">운행구분</label>
			<select name="sch_delivery_gubun" id="sch_delivery_gubun" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_delivery_gubun_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_delivery_gubun == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_notice">비고</label>
			<input type="text" name="sch_notice" id="sch_notice" class="form-control" value="<{$sch_notice}>" style="width: 150px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>

			<a href="broadcast_ad_list.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_on.png">
			</a>
			<a href="broadcast_ad_calendar.php?<{$search_url}>" style="margin-right: 5px;">
				<img src="./images/icon/work_cal_off.png">
			</a>
			<a href="broadcast_ad_chart.php?<{$search_url}>">
				<img src="./images/icon/work_chart_off.png">
			</a>
		</div>
	</form>

	<div style="margin-top: 30px;">
		<form name="add_broadcast_form" id="add_broadcast_form" class="form-inline" action="broadcast_ad_insert_excel.php" method="post" enctype="multipart/form-data" style="margin: 5px 0;">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<div class="form-group">
				<span style="font-weight: bold;">[EXCEL DATA UPLOAD]</span>

				<label for="ba_advertiser">광고주</label>
				<input type="text" name="ba_advertiser" id="ba_advertiser" class="form-control" value="<{$ba_advertiser}>" style="width: 150px;" />
				<input type="hidden" name="ba_adv_no" id="ba_adv_no" value="<{$ba_adv_no}>" />

				<label for="ba_excel">엑셀양식</label>
				<select name="ba_excel" id="ba_excel" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$ba_excel_option key=key item=label}>
					<option value="<{$key}>" ><{$label}></option>
					<{/foreach}>
				</select>
				<input type="file" name="ba_file" id="ba_file" style="width:300px; border: 1px solid #cccccc; margin-left: 5px; margin-right: 5px;"><span style="color:#808080;font-size:11px; margin-right: 5px;">(MAX 10MB)</span>
				<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="return addBroadcastList();" style="font-size:12px;">추가하기</button>
			</div>
		</form>
	</div>
	<table class="table table-striped table-bordered" style="margin-top: 10px; table-layout: fixed;">
		<colgroup>
			<col width="30px;">
			<col width="50px;">
			<col width="90px;">
			<col width="90px;">
			<col width="160px;">
			<col width="55px;">
			<col width="90px;">
			<col width="160px;">
			<col width="48px;">
			<col width="48px;">
			<col width="38px;">
			<col width="38px;">
			<col width="38px;">
			<col width="48px;">
			<col width="48px;">
			<col width="90px;">
			<col width="38px;">
			<col width="80px;">
			<col width="38px;">
			<col width="90px;">
			<col width="90px;">
			<col width="70px;">
			<col width="140px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<form name="chk_form" id="chk_form" action="broadcast_ad_list.php" method="post" enctype="multipart/form-data">
				<input type="hidden" name="process">
				<input type="hidden" name="chk_ba_no_list">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<th scope="col">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col">no<br/><button type="button" onclick="return multi_del_el('multi_del_broadcast')" style="color: white; font-weight: bold; background: #999; padding: 2px 3px; border-radius: 2px;">삭제</button></th>
				<th scope="col">매체</th>
				<th scope="col">세부매체</th>
				<th scope="col">광고주</th>
				<th scope="col">진행<br/>상태</th>
				<th scope="col">광고유형</th>
				<th scope="col">프로그램명</th>
				<th scope="col">시작<br/>시간</th>
				<th scope="col">종료<br/>시간</th>
				<th scope="col">요일</th>
				<th scope="col">초수</th>
				<th scope="col">시급</th>
				<th scope="col">청약<br/>시작</th>
				<th scope="col">청약<br/>종료</th>
				<th scope="col">청약구분</th>
				<th scope="col">적용율</th>
				<th scope="col">단가</th>
				<th scope="col">횟수</th>
				<th scope="col">금액</th>
				<th scope="col">청구 광고료</th>
				<th scope="col">운행구분</th>
				<th scope="col">비고</th>
			</form>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$broadcast_list item=broadcast}>
				<tr>
				<form name="apply_frm<{$broadcast.ba_no}>" id="apply_frm<{$broadcast.ba_no}>" class="list_form" action="broadcast_ad_list.php" method="post">
					<td class="text-center gray-background">
						<input type="hidden" name="ba_no" value="<{$broadcast.ba_no}>">
						<input type="checkbox" name="select_check" value="<{$broadcast.ba_no}>">
					</td>
					<td class="text-center gray-background"><!-- ba_no -->
						<{$broadcast.ba_no}>
					</td>
					<td class="text-center gray-background"><!-- 매체 -->
						<{$broadcast.media_name}>
					</td>
					<td class="text-center gray-background"><!-- 세부매체 -->
						<{$broadcast.detail_media}>
					</td>
					<td class="text-center gray-background"><!-- 광고주 -->
						<{$broadcast.advertiser}>
					</td>
					<td class="text-center gray-background"><!-- 진행상태 -->
						<{$broadcast.state_name}>
					</td>
					<td class="text-center gray-background"><!-- 광고유형 -->
						<{$broadcast.type}>
					</td>
					<td class="text-center"><!-- 프로그램명 -->
						<{$broadcast.program_title}>
					</td>
					<td class="text-center"><!-- 시작시간 -->
						<{$broadcast.s_time}>
					</td>
					<td class="text-center"><!-- 종료시간 -->
						<{$broadcast.e_time}>
					</td>
					<td class="text-center"><!-- 요일 -->
						<{$broadcast.date_w}>
					</td>
					<td class="text-center"><!-- 초수 -->
						<{$broadcast.second_cnt}>
					</td>
					<td class="text-center"><!-- 시급 -->
						<{$broadcast.hourly_wage}>
					</td>
					<td class="text-center"><!-- 청약시작 -->
						<{$broadcast.sub_s_date}>
					</td>
					<td class="text-center"><!-- 청약종료 -->
						<{$broadcast.sub_e_date}>
					</td>
					<td class="text-center"><!-- 청약구분 -->
						<{$broadcast.subs_gubun}>
					</td>
					<td class="text-center"><!-- 적용율 -->
						<{$broadcast.application_rate}>
					</td>
					<td class="text-right"><!-- 단가 -->
						<{$broadcast.unit_price|number_format:0}>
					</td>
					<td class="text-right red-background"><!-- 횟수 -->
						<{$broadcast.base_count}>
					</td>
					<td class="text-right red-background"><!-- 금액 -->
						<{$broadcast.total_price|number_format:0}>
					</td>
					<td class="text-right red-background"><!-- 청구 광고료 -->
						<{$broadcast.billing_price|number_format:0}>
					</td>
					<td class="text-center"><!-- 운행구분 -->
						<{$broadcast.delivery_gubun}>
					</td>
					<td class="text-center"><!-- 비고 -->
						<textarea name="notice" style="background: lightgrey" readonly><{$broadcast.notice}></textarea>
					</td>
				</form>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="23" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="23" class="paging_wrap">
				<div class="paging_wrap">
					<{$page_list}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div style="float: left;">
		<button class="btn_style1" onclick="location.href='excel_broadcast_ad_list.php?<{$search_url}>';" style="background:#4caf50;"><span>엑셀 다운로드</span></button>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
        $("#sch_advertiser").autocomplete({
            source: function( request, response ) {
                $.ajax({
					url: "/v1/api/company.autocomplete.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						corp_kind: 1
					},
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_name,
                                cname : item.c_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#sch_advertiser").val(ui.item.cname);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $("#ba_advertiser").autocomplete({
            source: function( request, response ) {
                $.ajax({
					url: "/v1/api/company.autocomplete.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						corp_kind: 1
					},
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_name,
                                cname : item.c_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#ba_advertiser").val(ui.item.cname);
                $("#ba_adv_no").val(ui.item.cno);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });
    });

    function addBroadcastList()
	{
        var f = document.forms['add_broadcast_form'];

        if(!$('#ba_advertiser').val()){
            alert("광고주를 작성해주세요");
            return;
        }

        if(!$('#ba_excel').val()){
            alert("엑셀양식을 선택해주세요");
            return;
        }

        if(!$('#ba_file').val()){
            alert("파일을 첨부해주세요");
            return;
        }

        f.submit();
    }

    function select_check_all(f){
        if(f.checked == true){
        	<{if $broadcast_list}>
				<{foreach from=$broadcast_list item=broadcast}>
				eval("var f=document.getElementById('apply_frm<{$broadcast.ba_no}>');");
				f.select_check.checked = true;
        		<{/foreach}>
			<{/if}>
        }else{
        	<{if $broadcast_list}>
        	    <{foreach from=$broadcast_list item=broadcast}>
            	eval("var f=document.getElementById('apply_frm<{$broadcast.ba_no}>');");
            	f.select_check.checked = false;
        		<{/foreach}>
			<{/if}>
        }
    }

    function multi_del_el(proc)
	{
        eval("var f=document.getElementById('chk_form');");
        f.process.value = proc;

        var ba_no_list = "";

    <{if $broadcast_list}>
    <{foreach from=$broadcast_list item=broadcast}>
        eval("var tmp_f=document.getElementById('apply_frm<{$broadcast.ba_no}>');");
        if(tmp_f.select_check.checked){
            if(!!ba_no_list){
                ba_no_list += ("||" + tmp_f.ba_no.value);
            }else{
                ba_no_list += (tmp_f.ba_no.value);
            }
        }
    <{/foreach}>
	<{/if}>
        if(!!ba_no_list){
            f.chk_ba_no_list.value = ba_no_list;

            // 확인 체크
            if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
                f.submit();
            } else { //취소
                return false;
            }
        }else{ // 선택한 항목이 없는 경우
            alert("선택한 항목이 없습니다.");
            return false;
        }
    }

</script>
</body>
</html>
