<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.table_list_style table thead th{text-align: center;}
	.table_list_style table tbody tr{max-height: 150px;}
	.table_list_style table tbody th{display: inline-block; height: 30px; text-align: left;}
	.table_list_style table tbody td{width: 180px; height: 150px; max-height: 150px; text-align: left; vertical-align: top;}
	.table_list_style table tbody td .calendar-date{font-size:12px;}
	.table_list_style table tbody td .calendar-sunday{color: red;}
	.table_list_style table tbody td .calendar-satday{color: blue;}
	.table_list_style table tbody td .calendar-holiday{font-weight: bold; color: red;}
	.table_list_style table tbody td.calendar-sunday-background{background: #ff9a9a38;}
	.table_list_style table tbody td.calendar-satday-background{background: #9edefd4a;}
	.table_list_style table tbody td.calendar-holiday-background{background: #ff9a9a38;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="broadcast_ad_calendar.php" method="get" autocomplete="off">
		<input type="hidden" name="sch_date" value="<{$sch_date}>" />
		<div class="form-group">
			<label for="sch_media" style="margin-left: 0;">매체</label>
			<select name="sch_media" id="sch_media" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_media_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_media == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_detail_media">세부매체</label>
			<select name="sch_detail_media" id="sch_detail_media" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_detail_media_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_detail_media == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_advertiser">광고주</label>
			<input type="text" name="sch_advertiser" id="sch_advertiser" class="form-control" value="<{$sch_advertiser}>" style="width: 150px;" />

			<label for="sch_state">진행상태</label>
			<select name="sch_state" id="sch_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_type">광고유형</label>
			<select name="sch_type" id="sch_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label for="sch_title" style="margin-left: 0;">프로그램명</label>
			<input type="text" name="sch_title" id="sch_title" class="form-control" value="<{$sch_title}>" style="width: 150px;" />

			<label for="sch_sub_s_date">청약기간</label>
			<input type="text" name="sch_sub_s_date" id="sch_sub_s_date" class="form-control date-picker" value="" disabled />
			<span class="tlt"> ~ </span>
			<input type="text" name="sch_sub_e_date" id="sch_sub_e_date" class="form-control date-picker" value="" disabled/>

			<label for="sch_subs_gubun">청약구분</label>
			<select id="sch_subs_gubun" name="sch_subs_gubun" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_subs_gubun_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_subs_gubun == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_delivery_gubun">운행구분</label>
			<select name="sch_delivery_gubun" id="sch_delivery_gubun" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ba_delivery_gubun_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_delivery_gubun == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_notice">비고</label>
			<input type="text" name="sch_notice" id="sch_notice" value="<{$sch_notice}>" class="form-control" style="width: 150px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>

			<a href="broadcast_ad_list.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_off.png">
			</a>
			<a href="broadcast_ad_calendar.php?<{$search_url}>" style="margin-right: 5px;">
				<img src="./images/icon/work_cal_on.png">
			</a>
			<a href="broadcast_ad_chart.php?<{$search_url}>">
				<img src="./images/icon/work_chart_off.png">
			</a>
		</div>
	</form>
</div>
<div class="table_list_style">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<td colspan="7" style="text-align: left; font-weight:bold; font-size:18px;">
					<a href="#" onclick="cal_month_link('<{$prev_month}>');">◀</a> <{$base_year}>-<{$base_month}> <a href="#" onclick="cal_month_link('<{$next_month}>');">▶</a>
					<button type="button" class="btn_small" onclick="location.href='';" style="width: 54px; height: 24px; font-size: 12px; font-weight: bold; color:black; background-color:#d5d5d5;">today</button>
				</td>
			</tr>
			<tr>
				<th class="first" style="background-color:#ff9a9a; width: 150px;">일</th>
				<th style="background-color:#9a9a9a;">월</th>
				<th style="background-color:#9a9a9a;">화</th>
				<th style="background-color:#9a9a9a;">수</th>
				<th style="background-color:#9a9a9a;">목</th>
				<th style="background-color:#9a9a9a;">금</th>
				<th style="background-color:#9edefd;">토</th>
			</tr>
		</thead>
		<tbody>
			<{foreach from=$calendar_date_list item=calendar}>
				<{if $calendar.week == '0'}>
					<tr>
				<{/if}>

				<{if $calendar.week == '0'}>
					<td class="first calendar-sunday-background <{if $calendar.holiday}>calendar-holiday-background<{/if}>">
						<span class="calendar-date calendar-sunday <{if $calendar.holiday}>calendar-holiday<{/if}>"><{$calendar.day}> <{$calendar.holiday}><{if $calendar.date == $today}> (today)<{/if}></span>
				<{elseif $calendar.week != '0' && $calendar.week != '6'}>
					<td class="<{if $calendar.holiday}>calendar-holiday-background<{/if}>">
						<span class="calendar-date <{if $calendar.holiday}>calendar-holiday<{/if}>"><{$calendar.day}> <{$calendar.holiday}><{if $calendar.date == $today}> (today)<{/if}></span>
				<{elseif $calendar.week == '6'}>
					<td class="calendar-satday-background <{if $calendar.holiday}>calendar-holiday-background<{/if}>">
						<span class="calendar-date calendar-satday <{if $calendar.holiday}>calendar-holiday<{/if}>"><{$calendar.day}> <{$calendar.holiday}><{if $calendar.date == $today}> (today)<{/if}></span>
				<{/if}>
				<{if $calendar.broadcast_list}>
					<{foreach from=$calendar.broadcast_list item=broadcast_parent}>
						<{foreach from=$broadcast_parent item=broadcast}>
						<span onmouseover="openBroadFullTitle(this, '<{$broadcast.full_title}>', '<{$broadcast.gubun}>')" onmouseout="closeBroadFullTitle(this)" style="display: block; overflow:hidden; cursor:pointer; height: 18px; font-size: 11px; <{if $calendar.date < $today}>color: #BBB;<{/if}>"><{$broadcast.title}></span>
						<{/foreach}>
					<{/foreach}>
					</td>
				<{else}>
					</td>
				<{/if}>

				<{if $calendar.week == '6'}>
					</tr>
				<{/if}>
			<{/foreach}>
		</tbody>
	</table>
</div>
<!-- //table_list_style -->

</div>
<!-- //admin_content -->

<script>
    $(document).ready(function() {
        $("#sch_advertiser").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/v1/api/company.autocomplete.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term,
						corp_kind: 1
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                cno: item.c_no,
                                label: item.c_name,
                                cname: item.c_name
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $("#sch_advertiser").val(ui.item.cname);
            },
            focus: function (event, ui) {
                return false;
            },
            minLength: 1
        });
    });

    function cal_month_link(f_date){
        var search_url = "<{$search_url}>";
        var result = "";

        if(search_url != ''){
            if(search_url.indexOf('sch_date') !== -1){
                result = search_url.replace(/sch_date=<{$sch_date}>/gi, 'sch_date='+f_date);
			}else{
                result = search_url + "&sch_date="+f_date;
			}
		}else{
            result = "sch_date="+f_date;
		}
        document.location.href="broadcast_ad_calendar.php?"+result;
    }
	
    function openBroadFullTitle(obj, full_title, delivery_gubun)
	{
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 15, left:x.left + 0, width:"250px",textAlign:'left', fontWeight:'normal', background:'white', color:'black', padding:'5px'});
        var html  = full_title;

        if(delivery_gubun == '1'){
            html += "<span style='color: blue'>[방]</span>";
		}else if(delivery_gubun == '2'){
            html += "<span style='color: red'>[불]</span>";
        }else if(delivery_gubun == '3'){
            html += "<span style='color: lightgrey'>[중]</span>";
        }

        d_msg.appendTo($(obj).closest('td')).html(html);
	}

	function closeBroadFullTitle(obj)
	{
    	var td = $(obj).parent('td');
    	td.find('div').remove();
	}

</script>

</body>
</html>
