<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{min-width: 1100px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 12px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">#입고상세내역</h4>
	<table id="commerce_order_supply_detail_table" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
		<thead class="thead-dark text-center">
			<tr>
				<th rowspan="2" class="first" style="min-width:245px; height: 34px;">구성품목명</th>
				<th rowspan="2" style="min-width:90px;">발주수량<br>(A)</th>
				<th colspan="<{$date_count}>" style="min-width:100px;" >기간별 입고수량</th>
				<th rowspan="2" style="min-width:90px; height: 34px;">총입고수량<br>(B)</th>
				<th rowspan="2" style="min-width:90px; height: 34px;">미 입고수량<br>(A-B)</th>
			</tr>
			<tr>
				<{if $comm_date_list && $com_rep_detail_list}>
					<{foreach from=$comm_date_list item=comm_date}>
					<th style="min-width: 100px;"><{$comm_date}></th>
					<{/foreach}>
				<{else}>
					<th style="min-width: 100px;">-</th>
				<{/if}>
			</tr>
		</thead>
		<tbody>
			<{if $com_rep_detail_list}>
				<{foreach from=$com_rep_detail_list item=com_rep_detail}>
				<tr>
					<td class="first" style="text-align: left;"><{$com_rep_detail.option_name}></td>
					<td style="text-align: right;"><{$com_rep_detail.req_qty|number_format:0}></td>
					<{if $com_rep_detail.date_data_list}>
						<{foreach from=$com_rep_detail.date_data_list item=date_data}>
						<td style="text-align: right;"><{$date_data|number_format:0}></td>
						<{/foreach}>
					<{else}>
						<td style="text-align: right;">0</td>
					<{/if}>
					<td style="text-align: right;"><{$com_rep_detail.sup_qty|number_format:0}></td>
					<td style="text-align: right;"><{$com_rep_detail.sub_qty|number_format:0}></td>
				</tr>
				<{/foreach}>
				<tr>
					<td class="first" style="background: #eee;">합계</td>
					<td style="background: #eee;text-align: right;"><{$com_rep_total.req_total|number_format:0}></td>
					<{if $comm_date_total}>
						<{foreach from=$comm_date_total item=date_total}>
						<td style="background: #eee;text-align: right;"><{$date_total|number_format:0}></td>
						<{/foreach}>
					<{else}>
						<td style="background: #eee;text-align: right;">0</td>
					<{/if}>
					<td style="background: #eee;text-align: right;"><{$com_rep_total.sup_total|number_format:0}></td>
					<td style="background: #eee;text-align: right;"><{$com_rep_total.sub_total|number_format:0}></td>
				</tr>
			<{else}>
				<tr>
					<td colspan="2" class="first">데이터가 없습니다</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td colspan="2" class="first" style="background: #eee;">합계</td>
					<td style="background: #eee;">-</td>
					<td style="background: #eee;">-</td>
					<td style="background: #eee;">-</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('commerce_order_supply_detail_table');" />
	<button type="button" class="btn" onclick="location.href='excel_commerce_order_detail.php?set_no=<{$set_no}>'" style="font-size: 12px; font-weight: bold; color: white; background: #333; width: 100px; padding: 3px 0;">엑셀 다운로드</button>
</div>

<script type="text/javascript">
	function copyTable(chart_id)
	{
		if(document.body.createTextRange)
		{
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}
</script>
</body>
</html>
