<{include file="inc/iframe_navibar.html"}>

<style type="text/css">

    @media print {
        .noprint {display:none;}
    }

    label{
        margin-bottom: 0;
    }

    .admin_content{min-width: 1054px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
    .admin_content table td{vertical-align: middle;}
    .table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
    .table thead th{vertical-align: middle; text-align: center;}
</style>
<div class="admin_content" style="width: 1120px;">
    <h4 class="title" style="font-size: 24px;padding: 20px 0; font-weight: bold; text-decoration: underline; text-underline-position: under;margin-bottom: 40px;">발 주 서</h4>
    <span style="background: rgba(119, 119, 119, 1); color: white; display: inline-block; width: 50px; text-align: center;">발주번호</span> : <span><{$commerce_order_set.no}></span>

    <div style="overflow: hidden; width: 100%; height: auto; border: 2px solid black; border-bottom: 0; box-sizing: border-box; margin-top: 5px;">

        <div style="float: left; <{if $commerce_order_set.is_new && $commerce_order_set.order_count > 0}>padding: 10px;<{else}>padding: 20px 10px;<{/if}> width: 450px; height: 240px; text-align: center; border-right: 2px solid black;">
            <span style="font-weight: bold;text-decoration: underline; text-underline-position: under; font-size: 16px;"><{$comm_company.c_name}> 귀중</span>
            <div style="margin-top: 10px;">
                <{if $commerce_order_set.is_new && $commerce_order_set.order_count > 0}>
                    <div class="text-left" style="margin-left: 60px;">
                        <b><{$commerce_order_set.sup_c_name}> [2025년 <{$commerce_order_set.order_count}>차]</b>
                    </div>
                <{/if}>
                <table cellpadding="0" cellspacing="0" style="margin: 0 auto 0; width: 300px; text-align: left; font-size: 12px;">
                    <tr>
                        <th style="width: 90px; height: 40px;">
                            <span style="font-size: 12px;font-weight: bold;width: 40px;display: inline-block;">참</span>
                            <span style="font-size: 12px;font-weight: bold;width: 25px;display: inline-block;">조</span>
                            <span style="display: inline-block; width: 10px;">:</span>
                        </th>
                        <td>
                            <{$commerce_order_set.reference}>
                        </td>
                    </tr>
                    <tr>
                        <th style="height: 40px;">
                            <span style="font-size: 12px; font-weight: bold; width: 70px; display: inline-block; letter-spacing: 3px;">전화번호</span>
                            <span style="display: inline-block; width: 10px;">:</span>
                        </th>
                        <td>
                            <{$comm_company.tel}>
                        </td>
                    </tr>
                    <tr>
                        <th style="height: 40px;">
                            <span style="font-size: 12px; font-weight: bold; width: 70px; display: inline-block; letter-spacing: 3px;">팩스번호</span>
                            <span style="display: inline-block; width: 10px;">:</span>
                        </th>
                        <td>
                            <{$comm_company.fax}>
                        </td>
                    </tr>
                    <tr>
                        <th style="height: 40px;">
                            <span style="font-size: 12px; font-weight: bold; width: 70px; display: inline-block; letter-spacing: 3px;">발주일자</span>
                            <span style="display: inline-block; width: 10px;">:</span>
                        </th>
                        <td>
                            <{$commerce_order_set.req_date}>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" style="float: left; padding: 0; width: 666px; height: 240px; text-align: center;">
            <tbody>
            <tr>
                <td style="width: 40px; font-size: 12px; font-weight: bold; border-right: 2px solid; padding: 5px;" rowspan="5">공<br/><br/>급<br/><br/>받<br/><br/>는<br/><br/>자</td>
                <td style="width: 120px; height: 50px; border-right: 2px solid; border-bottom: 2px solid;">상 호</td>
                <td colspan="3" style="font-size: 13px; font-weight: bold; border-bottom: 2px solid;"><{$comm_my_company.c_name}></td>
            </tr>
            <tr>
                <td style="width: 120px; border-right: 2px solid; border-bottom: 2px solid;">등록번호</td>
                <td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid; border-bottom: 2px solid;"><{$comm_my_company.company_number}></td>
                <td style="width: 100px; border-right: 2px solid; border-bottom: 2px solid;">성 명</td>
                <td style="width: 180px; font-size: 13px; font-weight: bold; border-bottom: 2px solid;">주경민</td>
            </tr>
            <tr>
                <td style="width: 120px; height: 60px; border-right: 2px solid; border-bottom: 2px solid;">사업장<br>주소</td>
                <td colspan="3" style="font-size: 13px; font-weight: bold; border-bottom: 2px solid;"><{$comm_my_company.address1}><br/>벽산디지털밸리5차 <{$comm_my_company.address2}></td>
            </tr>
            <tr>
                <td style="width: 120px; border-right: 2px solid; border-bottom: 2px solid;">발주담당자</td>
                <td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid; border-bottom: 2px solid;"><{$comm_staff.s_name}></td>
                <td style="width: 100px; border-right: 2px solid;" rowspan="2">이메일</td>
                <td style="width: 180px; color: blue; text-decoration: underline;" rowspan="2"><{$comm_staff.email}></td>
            </tr>
            <tr>
                <td style="width: 120px; border-right: 2px solid;">연락처</td>
                <td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid;"><{$comm_staff.tel}></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow: hidden; width: 100%; height: 50px; border: 2px solid black; box-sizing: border-box; background: #FFCC99; -webkit-print-color-adjust:exact;">
        <div style="overflow: hidden; float: left;width: 250px; height: 100%; border-right: 2px solid black; text-align: center; vertical-align: middle; padding-top: 15px;">
            <b style="font-size: 13px;">발주금액</b>
        </div>
        <div style="float: left;text-align: right;overflow: hidden;width: 865px;height: 100%;box-sizing: border-box;padding: 11px 20px;font-size: 16px;">
            <b style="float: left; display: inline-block;"><{$commerce_price_type}></b>
            <b style="float: right; display: inline-block;"><{$request_price_total}></b>
        </div>
    </div>
    <div class="table_list_style" style="overflow: hidden; width: 100%; border: 2px solid black; border-top: 0; box-sizing: border-box;-webkit-print-color-adjust:exact;">
        <table cellpadding="0" cellspacing="0" style="clear: both; margin: 0;">
            <thead>
            <tr>
                <th style="min-width:50px; height: 30px;" class="first">NO</th>
                <th style="min-width:255px;">구성품목명</th>
                <th style="min-width:75px;">수량</th>
                <{if $commerce_is_usd}>
                    <th style="min-width:130px;">단가(VAT 별도)</th>
                    <th style="min-width:160px;">공급가(USD)</th>
                    <th style="min-width:160px;">소계(VAT 별도)</th>
                    <th style="min-width:294px;">비고</th>
                <{else}>
                    <th style="min-width:110px;">단가(VAT 포함)</th>
                    <th style="min-width:130px;">공급가(KRW)</th>
                    <th style="min-width:130px;">부가세</th>
                    <th style="min-width:130px;">소계(VAT 포함)</th>
                    <th style="min-width:240px;">비고</th>
                <{/if}>
            </tr>
            </thead>
            <tbody>
            <{foreach from=$commerce_order_list item=commerce_order}>
                <tr>
                    <td> <!-- Priority -->
                        <{$commerce_order.priority}>
                    </td>
                    <td style="text-align: left;"> <!-- 와이즈 구성품명 -->
                        <{$commerce_order.option_name}>
                    </td>
                    <td style="text-align: right;"> <!-- 수량 -->
                        <{$commerce_order.quantity|number_format:0}>
                    </td>
                    <{if $commerce_is_usd}>
                        <td style="text-align: right;"> <!-- 단가(VAT 포함) -->
                            <span style="font-size: 15px; font-weight: bold;">$ <{$commerce_order.unit_price}></span>
                        </td>
                        <td style="text-align: right;"> <!-- 공급가 -->
                            <span style="font-size: 15px; font-weight: bold; color: red;">$ <{$commerce_order.supply_price}></span>
                        </td>
                        <td style="text-align: right;"> <!-- 소계(VAT포함) -->
                            <span style="font-size: 15px; font-weight: bold;">$ <{$commerce_order.price}></span>
                        </td>
                    <{else}>
                        <td style="text-align: right;"> <!-- 단가(VAT 포함) -->
                            <span style="font-size: 15px; font-weight: bold;">₩ <{$commerce_order.unit_price}></span>
                        </td>
                        <td style="text-align: right;"> <!-- 공급가 -->
                            <span style="font-size: 15px; font-weight: bold; color: red;">₩ <{$commerce_order.supply_price}></span>
                        </td>
                        <td style="text-align: right;"> <!-- 부가세 -->
                            <span style="font-size: 15px; font-weight: bold; color: #00B050;">₩ <{$commerce_order.vat}></span>
                        </td>
                        <td style="text-align: right;"> <!-- 소계(VAT포함) -->
                            <span style="font-size: 15px; font-weight: bold;">₩ <{$commerce_order.price}></span>
                        </td>
                    <{/if}>
                    <td> <!-- 비고 -->
                        <{$commerce_order.memo}>
                    </td>
                </tr>
            <{/foreach}>
            <tr style="background: #FFCC99;">
                <td colspan="4" style="font-size: 15px; font-weight: bold;">계</td>
                <td style="color: red; font-size: 15px; font-weight: bold; text-align: right;">
                    <{$commerce_price_type}> <{$request_sup_price_total}>
                </td>
                <{if !$commerce_is_usd}>
                <td style="color: #00B050; font-size: 15px; font-weight: bold; text-align: right;">
                    <{$commerce_price_type}> <{$request_vat_price_total}>
                </td>
                <{/if}>
                <td style="font-size: 15px; font-weight: bold; text-align: right;">
                    <{$commerce_price_type}> <{$request_price_total}>
                </td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table cellpadding="0" cellspacing="0" style="width: 100%; border: 2px solid; margin: 15px auto 0; text-align: left;">
            <tr>
                <td rowspan="4" style="width: 40px; text-align: center; font-size: 12px; font-weight: bold; border-right: 2px solid; padding: 5px;">참<br/>고<br/>사<br/>항</td>
                <td style="padding-left: 20px; height: 30px; ">
                    <span style="display: inline-block; width: 10px;">-</span>
                    <span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">납 기 일 자</span>
                    <span style="display: inline-block; width: 30px; text-align: left;">:</span>
                    <span style="font-size: 12px; font-weight: bold;"><{$commerce_order_set.delivery_date}></span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 20px; height: 30px; ">
                    <span style="display: inline-block; width: 10px;">-</span>
                    <span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block;">대금 지불조건</span>
                    <span style="display: inline-block; width: 30px; text-align: left;">:</span>
                    <span style="font-size: 12px; font-weight: bold;"><{$commerce_order_set.pay_method}></span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 20px; height: 30px; ">
                    <span style="display: inline-block; width: 10px;">-</span>
                    <span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">납 품 장 소</span>
                    <span style="display: inline-block; width: 30px; text-align: left;">:</span>
                    <span style="font-size: 12px; font-weight: bold;"><{$commerce_order_set.sup_location}></span>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 20px; height: 30px; ">
                    <span style="display: inline-block; width: 10px;">-</span>
                    <span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">특 이 사 항</span>
                    <span style="display: inline-block; width: 30px; text-align: left;">:</span>
                    <span style="font-size: 12px; font-weight: bold;"><{$commerce_order_set.remark}></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<button class="noprint" onclick="window.print();" style="padding: 10px 20px;float: left;background: #333;color: white;font-weight: bold; margin-top: 20px;">인쇄하기</button>
</body>

</html>
