<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{min-width: 1100px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 12px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<{if $commerce_order_set.sup_loc_type == '1'}>

	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">#월 입고완료 공급가(월 입고 정산 시 참고)</h4>
	<form name="search_form" action="commerce_order_iframe_withdraw.php" method="get" autocomplete="off">
		<input type="hidden" name="no" value="<{$no}>" />
		<input type="hidden" name="sch_sup_c_no" id="sch_sup_c_no" value="<{$commerce_order_set.sup_c_no}>" />
		<div style="width: 650px; margin-bottom: 10px;">
			<span>입고완료일</span>
			<input type="text" name="sch_supply_date" id="sch_supply_mon" class="month-picker form-control" value="<{$sch_supply_date}>" onchange="searchList();" style="font-size: 12px;width: 90px;display: inline-block;margin: 0 10px;">
			<button type="button" onclick="moveStockList()" style="background: #343a40; color: white; padding: 5px 10px; float: right;">상세보기</button>
		</div>

		<table id="commerce_order_mon_supply_table" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="width: 650px;">
			<thead class="thead-dark text-center">
				<tr>
					<th class="first" style="min-width:245px; height: 34px;">구성품목명</th>
					<th style="min-width:100px;">수량</th>
					<th style="min-width:130px; height: 34px;">공급가</th>
					<th style="min-width:130px; height: 34px;">부가세</th>
				</tr>
			</thead>
			<tbody>
				<{if $mon_supply_list}>
					<{foreach from=$mon_supply_list item=mon_supply}>
					<tr>
						<td class="first" style="text-align: left;"><{$mon_supply.option_name}></td>
						<td style="text-align: right;"><{$mon_supply.sup_qty|number_format:0}></td>
						<td style="color: red; text-align: right;"><{$mon_supply.sup_price|number_format:0}>원</td>
						<td style="color: #00B050; text-align: right;"><{$mon_supply.vat_price|number_format:0}>원</td>
					</tr>
					<{/foreach}>
					<tr>
						<td style="background: #EEE; text-align: center;" class="first" colspan="2">계</td>
						<td style="background: #FFF; color: red; text-align: right; font-weight: bold;"><{$mon_sup_price_total|number_format:0}>원</td>
						<td style="background: #FFF; color: #00B050; text-align: right; font-weight: bold;"><{$mon_vat_price_total|number_format:0}>원</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="5" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
				<tr>
					<td style="text-align: left;">
						<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('commerce_order_mon_supply_table');" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<{/if}>

	<table id="commerce_withdraw_table" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="width: auto; margin-top: 30px; border:0;">
		<thead>
			<tr>
				<td colspan="7" style="border: 0;">
					<span style="font-size: 16px; font-weight: bold; <{if $license_type == '4'}>margin-top: 0px;<{else}>margin-top: 30px<{/if}> display: inline-block;">#지급완료 상세내역</span>
					<div style="float: right; margin-bottom: 7px; font-size: 14px; font-weight: bold;">
						<{if $license_type == '4'}>
							<span style="display: inline-block; width: 135px;">총 발주금액</span>
							<span style="float: right;"><{$request_total|number_format:0}>원 (VAT 포함)</span>
							<br/>
							<span style="display: inline-block; float: right; font-size: 13px;">
								<span style="font-size: 10px;">(<{$request_total_usd.date}>) </span>
								USD <{$request_total_usd.price|number_format:2}>(VAT 포함)
							</span>
							<br/>
							<span style="display: inline-block; width: 135px; color: red;">총 지급액</span>
							<span style="color: red; float: right;"><{$withdraw_total|number_format:0}>원 (VAT 포함)</span>
							<br/>
							<span style="color: red; display: inline-block; float: right; font-size: 13px;">
								<span style="font-size: 10px;">(<{$withdraw_total_usd.date}>) </span>
								USD <{$withdraw_total_usd.price|number_format:0}>(VAT 포함)
							</span>
							<br/>
							<span style="display: inline-block; width: 135px; color: red;">잔금</span>
							<span style="color: red; float: right;"><{$rest_price|number_format:2}>원 (VAT 포함)</span>
							<br/>
							<span style="color: red; display: inline-block; float: right; font-size: 13px;">
								<span style="font-size: 10px;">(<{$rest_price_usd.date}>) </span>
								USD <{$rest_price_usd.price|number_format:2}>(VAT 포함)
							</span>
						<{else}>
							<span style="display: inline-block; width: 135px;">총 발주금액</span><span style="float: right;"><{$request_total|number_format:0}>원 (VAT 포함)</span><br/>
							<span style="display: inline-block; width: 135px; color: red;">총 지급액</span><span style="color: red; float: right;"><{$withdraw_total|number_format:0}>원 (VAT 포함)</span><br/>
							<span style="display: inline-block; width: 135px; color: green;">잔금</span><span style="color: green;  float: right;"><{$rest_price|number_format:0}>원 (VAT 포함)</span><br/>
						<{/if}>
					</div>
				</td>
			</tr>
		</thead>
		<thead class="thead-dark text-center">
			<tr>
				<th class="first" style="min-width:50px; height: 30px;">NO</th>
				<th style="min-width:130px;">지급요청 공급가</th>
				<th style="min-width:130px;">지급요청 부가세</th>
				<th style="min-width:130px;">지급 요청일</th>
				<th style="min-width:130px;">지급완료액(VAT 포함)</th>
				<th style="min-width:105px;">지급완료일</th>
				<th style="min-width:250px;">비고</th>
			</tr>
		</thead>
		<tbody>
		<{foreach from=$commerce_order_list item=commerce_order}>
			<form name="apply_withdraw_frm_<{$commerce_order.no}>" id="apply_withdraw_frm_<{$commerce_order.no}>" class="apply_frm" action="commerce_order_iframe_withdraw.php" method="post" enctype="multipart/form-data">
				<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
				<input type="hidden" name="co_no" value="<{$commerce_order.no}>">
				<input type="hidden" name="wd_no" value="<{$commerce_order.wd_no}>">
				<input type="hidden" name="process" >
				<tr>
					<td class="first text-center"> <!-- NO -->
						<{$commerce_order.no}>
						<{if $commerce_order_set.state == '2'}>
						<br><a href="#" onclick="del_order_withdraw('<{$commerce_order.no}>');"><span style="font-size:6px;">[삭제]</span></a>
						<{/if}>
					</td>
					<td style="text-align: right;"> <!-- 지급요청 공급가 -->
						<input type="text" name="f_supply_price" class="input_type_money" value="<{$commerce_order.supply_price|number_format:0}>" style="width:100px; color: red;" disabled>원
					</td>
					<td style="text-align: right;"> <!-- 지급요청 부가세 -->
						<input type="text" name="f_vat" class="input_type_money" value="<{$commerce_order.vat|number_format:0}>" style="width:100px; color: #00B050;" disabled>원
					</td>
					<td> <!-- 지급 요청일 -->
						<input type="text" name="f_wd_regdate" class="date-picker input_type_date_small" value="<{$commerce_order.wd_regdate}>" disabled>
						<a href="withdraw_list.php?sch_wd_no=<{$commerce_order.wd_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
					</td>
					<td style="text-align: right;"> <!-- 지급요청 공급가 -->
						<input type="text" name="f_wd_money" class="input_type_money" value="<{$commerce_order.wd_money|number_format:0}>" style="width:100px; color: red;" disabled>원
						<{if $license_type == '4'}>
						<br/>
						<span style="color: red; font-size: 13px; font-weight: bold;">USD <{$commerce_order.wd_money_usd.price|number_format:2}></span>
						<{/if}>
					</td>
					<td> <!-- 지급완료일 -->
						<input type="text" name="f_wd_date" class="date-picker input_type_date_small" value="<{$commerce_order.wd_date}>" disabled>
					</td>
					<td> <!-- 비고 -->
						<textarea name="f_memo" class="textarea_memo2" onchange="save_el('<{$commerce_order.no}>', 'f_memo', this);" style="height: 35px;"><{$commerce_order.memo}></textarea>
					</td>
				</tr>
			</form>
		<{/foreach}>
		<form name="frm_withdraw_new" id="frm_withdraw_new" action="commerce_order_iframe_withdraw.php" method="post" enctype="multipart/form-data">
			<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
			<input type="hidden" name="process">
			<tr style="background-color: #ffffe0;">
				<td rowspan="2" class="first"> <!-- NO -->
				</td>
				<td> <!-- 지급요청 공급가 -->
					<input type="text" name="wd_supply_price_new" id="wd_supply_price_new" class="input_type_money" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="width:115px; color: red; font-weight: bold;">
				</td>
				<td> <!-- 지급요청 부가세 -->
					<input type="text" name="wd_vat_price_new" id="wd_vat_price_new" class="input_type_money" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="width:115px; color: red; font-weight: bold;">
				</td>
				<td> <!-- 지급 요청일 -->
				</td>
				<td> <!-- 지급완료액(VAT 포함) -->
				</td>
				<td> <!-- 지급완료일 -->
				</td>
				<td> <!-- 비고 -->
					<textarea name="wd_memo_new" id="wd_memo_new" class="textarea_memo2" style="height: 35px;"></textarea>
				</td>
			</tr>
			<tr style="background-color: #ffffe0;">
				<td colspan="6">
					<button class="btn_small" onclick="return add_order_withdraw();" style="width:99%; background: #343a40;">지급 요청하기</button>
				</td>
			</tr>
		</form>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	function moveStockList()
	{
		var month 	 = $("#sch_supply_mon").val();
		var sup_c_no = $("#sch_sup_c_no").val();
		window.open("commerce_order_stock.php?sch_reg_mon="+month+"&sch_sup_c_no="+sup_c_no);
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange)
		{
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,'');
		str = str.replace(/(^\s*)|(\s*$)/g, "");
		return (new Number(str));
	}

	function del_order_withdraw(co_no)
	{
		if(confirm("정말 삭제 하시겠습니까??"))
		{
			eval("var f=document.getElementById('apply_withdraw_frm_" + co_no + "');");
			f.process.value = 'withdraw_delete';
			f.submit();
		}
	}

	function add_order_withdraw()
	{
		eval("var f=document.getElementById('frm_withdraw_new');");
		f.process.value = "add_order_withdraw";

		f.submit();
	}
</script>
</body>
</html>
