<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{min-width: 1104px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle; text-align: center;}
</style>

<div class="admin_content" style="width: 1210px;">
	<h4 class="title" style="font-size: 24px;padding: 20px 0; font-weight: bold; text-decoration: underline; text-underline-position: under;margin-bottom: 40px;">발 주 서</h4>
	<span style="background: rgba(119, 119, 119, 1); color: white; display: inline-block; width: 50px; text-align: center;">발주번호</span> : <span><{$commerce_order_set.no}></span>

	<input type="hidden" name="f_sup_c_no" id="f_sup_c_no" value="<{$commerce_order_set.sup_c_no}>">

	<div style="overflow: hidden; width: 100%; height: auto; border: 2px solid black; box-sizing: border-box; margin-top: 5px;">
		<div style="float: left; <{if $commerce_order_set.is_new && $commerce_order_set.order_count > 0}>padding: 10px;<{else}>padding: 20px 10px;<{/if}> width: 500px; height: 240px; text-align: center; border-right: 2px solid black;">
			<span style="font-weight: bold;text-decoration: underline; text-underline-position: under; font-size: 16px;"><{$comm_company.c_name}> 귀중</span>

			<form name="apply_order_set_frm" id="apply_order_set_frm" autocomplete="off" style="margin-top:10px;">
				<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>" />
				<{if $commerce_order_set.is_new && $commerce_order_set.order_count > 0}>
					<div class="text-left" style="margin-left: 36px;">
						<b><{$commerce_order_set.sup_c_name}> [2025년 <{$commerce_order_set.order_count}>차]</b>
					</div>
				<{/if}>
				<table cellpadding="0" cellspacing="0" style="border: 1px solid #999; margin: 0 auto 0;">
					<tr>
						<th style="background: #ccc; width: 120px; height: 40px; border-bottom: 1px solid #999; border-right: 1px solid #999;">참조</th>
						<td style="border-bottom: 1px solid #999;">
							<input type="text" name="f_reference" value="<{$commerce_order_set.reference}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_reference', this);" style="width: 280px; font-size: 12px; height: 30px; padding-left:5px;">
						</td>
					</tr>
					<tr>
						<th style="background: #ccc; width: 120px; height: 40px; border-bottom: 1px solid #999; border-right: 1px solid #999;">전화번호</th>
						<td style="text-align: left; border-bottom: 1px solid #999;">
							<input type="text" name="f_tel" value="<{$comm_company.tel}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_tel', this);" style="width: 140px; font-size: 12px; height: 30px; padding-left:5px;">
						</td>
					</tr>
					<tr>
						<th style="background: #ccc; width: 120px; height: 40px; border-bottom: 1px solid #999; border-right: 1px solid #999;">팩스번호</th>
						<td style="text-align: left; border-bottom: 1px solid #999;">
							<input type="text" name="f_fax" value="<{$comm_company.fax}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_fax', this);" style="width: 140px; font-size: 12px; height: 30px; padding-left:5px;">
						</td>
					</tr>
					<tr>
						<th style="background: #ccc; width: 120px; height: 40px; border-bottom: 1px solid #999; border-right: 1px solid #999;">발주일자</th>
						<td style="text-align: left; border-bottom: 1px solid #999;">
							<input type="text" name="f_req_date" class="date-picker" value="<{$commerce_order_set.req_date}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_req_date', this);" style="width: 100px; text-align: center; font-size: 12px; height: 30px;">
						</td>
					</tr>
				</table>
			</form>
		</div>
		<table cellpadding="0" cellspacing="0" style="float: left; padding: 0; width: 705px; height: 240px; text-align: center;">
			<tbody>
				<tr>
					<td style="width: 55px; font-size: 12px; font-weight: bold; border-right: 2px solid; padding: 5px;" rowspan="5">공<br/><br/>급<br/><br/>받<br/><br/>는<br/><br/>자</td>
					<td style="width: 130px; height: 50px; border-right: 2px solid; border-bottom: 2px solid;">상 호</td>
					<td colspan="3" style="font-size: 13px; font-weight: bold; border-bottom: 2px solid;"><{$comm_my_company.c_name}></td>
				</tr>
				<tr>
					<td style="width: 120px; border-right: 2px solid; border-bottom: 2px solid;">등록번호</td>
					<td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid; border-bottom: 2px solid;"><{$comm_my_company.company_number}></td>
					<td style="width: 100px; border-right: 2px solid; border-bottom: 2px solid;">성 명</td>
					<td style="width: 180px; font-size: 13px; font-weight: bold; border-bottom: 2px solid;">주경민</td>
				</tr>
				<tr>
					<td style="width: 120px; height: 60px; border-right: 2px solid; border-bottom: 2px solid;">사업장<br>주소</td>
					<td colspan="3" style="font-size: 13px; font-weight: bold; border-bottom: 2px solid;"><{$comm_my_company.address1}><br/>벽산디지털밸리5차 <{$comm_my_company.address2}></td>
				</tr>
				<tr>
					<td style="width: 120px; border-right: 2px solid; border-bottom: 2px solid;">발주담당자</td>
					<td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid; border-bottom: 2px solid;"><{$comm_staff.s_name}></td>
					<td style="width: 100px; border-right: 2px solid;" rowspan="2">이메일</td>
					<td style="width: 180px; color: blue; text-decoration: underline;" rowspan="2"><{$comm_staff.email}></td>
				</tr>
				<tr>
					<td style="width: 120px; border-right: 2px solid;">연락처</td>
					<td style="width: 250px; font-size: 13px; font-weight: bold; border-right: 2px solid;"><{$comm_staff.tel}></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="overflow: hidden; width: 100%; height: 50px; border: 2px solid black; border-top: 0; box-sizing: border-box; background: #FFCC99;">
		<div style="overflow: hidden; float: left;width: 250px; height: 100%; border-right: 2px solid black; text-align: center; vertical-align: middle;padding-top: 15px;">
			<b style="font-size: 13px; ">발주금액</b>
		</div>
		<div style="float: left;text-align: right;overflow: hidden;width: 924px;height: 100%;box-sizing: border-box;padding: 11px 20px;font-size: 16px;">
			<b style="float: left; display: inline-block;"><{$commerce_price_type}></b>
			<b style="float: right; display: inline-block;"><{$request_price_total}></b>
		</div>
	</div>
	<div class="table_list_style" style="overflow: hidden; width: 100%; border: 2px solid black; border-top: 0; box-sizing: border-box;">
		<table cellpadding="0" cellspacing="0" style="clear: both;">
			<thead>
				<tr>
					<th style="min-width:50px; height: 30px;" class="first"></th>
					<th style="min-width:50px; height: 30px;">NO</th>
					<th style="min-width:275px;">구성품목명</th>
					<th style="min-width:85px;">수량</th>
					<{if $commerce_is_usd}>
						<th style="min-width:130px;">단가(VAT 별도)</th>
						<th style="min-width:160px;">공급가(USD)</th>
						<th style="min-width:160px;">소계(VAT 별도)</th>
						<th style="min-width:295px;">비고</th>
					<{else}>
						<th style="min-width:110px;">단가(VAT 포함)</th>
						<th style="min-width:130px;">공급가(KRW)</th>
						<th style="min-width:130px;">부가세</th>
						<th style="min-width:130px;">소계(VAT 포함)</th>
						<th style="min-width:245px;">비고</th>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{foreach from=$commerce_order_list item=commerce_order}>
				<form name="apply_supply_frm_<{$commerce_order.no}>" id="apply_request_frm_<{$commerce_order.no}>" class="apply_frm" action="commerce_order_iframe_request.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
					<input type="hidden" name="co_no" value="<{$commerce_order.no}>">
					<input type="hidden" name="process" value="">
					<tr>
						<td class="first text-center"> <!-- NO -->
							<{$commerce_order.no}>
							<{if $commerce_order_set.state == '1'}>
							<br><a href="#" onclick="del_order_request('<{$commerce_order.no}>');"><span style="font-size:6px;">[삭제]</span></a>
							<{/if}>
						</td>
						<td> <!-- Priority -->
							<input type="text" name="f_priority" value="<{$commerce_order.priority}>" onchange="save_el('<{$commerce_order.no}>', 'f_priority', this);" style="width: 30px; height: 28px; text-align: center;">
						</td>
						<td> <!-- 와이즈 구성품명 -->
							<a href="javascript:void(0)" <{if $commerce_order_set.state == '1'}>onclick="open_quick_prd('<{$commerce_order.no}>');"<{/if}> style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
							<input type="text" name="f_option_name" id="f_option_name_<{$commerce_order.no}>" class="input_type5 f_option_name" value="<{$commerce_order.option_name}>" attr-no="<{$commerce_order.no}>" style="float: left; width: 235px;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
						</td>
						<td> <!-- 수량 -->
							<input type="text" name="f_quantity" class="input_type2" value="<{$commerce_order.quantity|number_format:0}>" onchange="save_el('<{$commerce_order.no}>', 'f_quantity', this);" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="text-align:right;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
						</td>
						<{if $commerce_is_usd}>
							<td style="text-align: right;"> <!-- 단가(VAT 포함) -->
								$ <input type="text" name="f_unit_price" class="input_type_money" value="<{$commerce_order.unit_price}>" onchange="inputUsdFormat(this); save_el('<{$commerce_order.no}>', 'f_unit_price', this);" onfocus="this.value=''" style="width:105px; color: #777;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
							</td>
							<td style="text-align: right;"> <!-- 공급가 -->
								$ <input type="text" name="f_supply_price" class="input_type_money" value="<{$commerce_order.supply_price}>" onchange="inputUsdFormat(this); save_el('<{$commerce_order.no}>', 'f_supply_price', this);" onfocus="this.value=''" style="width:135px; color: red;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
							</td>
							<td style="text-align: right;"> <!-- 소계(VAT포함) -->
								$ <span style="font-size: 15px; font-weight: bold;"><{$commerce_order.price}></span>
							</td>
						<{else}>
							<td style="text-align: right;"> <!-- 단가(VAT 포함) -->
								₩<input type="text" name="f_unit_price" class="input_type_money" value="<{$commerce_order.unit_price}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_unit_price', this);" onfocus="this.value=''" style="width:90px; color: #777;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
							</td>
							<td style="text-align: right;"> <!-- 공급가 -->
								₩<input type="text" name="f_supply_price" class="input_type_money" value="<{$commerce_order.supply_price}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_supply_price', this);" onfocus="this.value=''" style="width:110px; color: red;" <{if $commerce_order_set.state > 1}>disabled<{/if}>>
							</td>
							<td style="text-align: right;"> <!-- 부가세 -->
								₩<input type="text" name="f_vat" class="input_type_money" value="<{$commerce_order.vat}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_vat', this);" onfocus="this.value=''"  style="width:110px; color: #00B050;"  <{if $commerce_order_set.state > 1}>disabled<{/if}>>
							</td>
							<td style="text-align: right;"> <!-- 소계(VAT포함) -->
								₩ <span style="font-size: 15px; font-weight: bold;"><{$commerce_order.price}></span>
							</td>
						<{/if}>
						<td> <!-- 비고 -->
							<textarea name="f_memo" id="f_memo" class="textarea_memo2" onchange="save_el('<{$commerce_order.no}>', 'f_memo', this);" style="height: 35px; width: 99%;"><{$commerce_order.memo}></textarea>
						</td>
					</tr>
				</form>
				<{/foreach}>
				<tr style="background: #FFCC99;">
					<td colspan="5" style="font-size: 15px; font-weight: bold;">계</td>
					<td style="color: red; font-size: 15px; font-weight: bold; text-align: right;">
						<{$commerce_price_type}> <{$request_sup_price_total}>
					</td>
					<{if !$commerce_is_usd}>
					<td style="color: #00B050; font-size: 15px; font-weight: bold; text-align: right;">
						<{$commerce_price_type}> <{$request_vat_price_total}>
					</td>
					<{/if}>
					<td style="font-size: 15px; font-weight: bold; text-align: right;">
						<{$commerce_price_type}> <{$request_price_total}>
					</td>
					<td colspan="2"></td>
				</tr>
				<{if $commerce_order_set.state == '1'}> <!-- 작성중 추가 가능 -->
				<form name="frm_request_new" id="frm_request_new" action="commerce_order_iframe_request.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
					<input type="hidden" name="sup_loc_type" value="<{$commerce_order_set.sup_loc_type}>">
					<input type="hidden" name="process">
					<tr style="background-color: #ffffe0;">
						<td class="first" rowspan="2"> <!-- NO -->
						</td>
						<td> <!-- NO -->
							<input type="text" name="req_priority_new" style="width: 30px; height: 28px; text-align: center;" value="<{$req_priority_new}>">
						</td>
						<td> <!-- 와이즈 구성품명 -->
							<a href="javascript:void(0)" onclick="open_quick_prd('new')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
							<input type="hidden" name="req_option_no_new" id="req_option_no_new">
							<input type="text" name="req_option_name_new" id="req_option_name_new" class="input_type5" style="float: left; width: 235px;">
						</td>
						<td> <!-- 수량 -->
							<input type="text" name="req_quantity_new" id="req_quantity_new" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" class="input_type2" style="text-align:right;">
						</td>
						<td></td> <!-- 단가(VAT 포함) -->
						<td></td> <!-- 공급가 -->
						<{if !$commerce_is_usd}>
						<td></td> <!-- 부가세 -->
						<{/if}>
						<td></td> <!-- 소계(VAT 포함) -->
						<td> <!-- 비고 -->
							<textarea name="req_memo_new" id="req_memo_new" class="textarea_memo2" style="height: 35px; width: 99%;"></textarea>
						</td>
					</tr>
					<tr style="background-color: #ffffe0;">
						<td colspan="<{if $commerce_is_usd}>7<{else}>8<{/if}>">
							<button type="button" class="btn_small" onclick="return add_order_request();" style="width:99%;">추가하기</button>
						</td>
					</tr>
				</form>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div>
		<table cellpadding="0" cellspacing="0" style="width: 100%; border: 2px solid; margin: 15px auto 0; text-align: left;">
			<tr>
				<td rowspan="4" style="width: 40px; text-align: center; font-size: 12px; font-weight: bold; border-right: 2px solid; padding: 5px;">참<br/>고<br/>사<br/>항</td>
				<td style="border-bottom: 2px solid; padding-left: 20px;">
					<span style="display: inline-block; width: 10px;">-</span>
					<span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">납 기 일 자</span>
					<span style="display: inline-block; width: 10px;">:</span>
					<input type="text" name="f_delivery_date" value="<{$commerce_order_set.delivery_date}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_delivery_date', this);" style="width: 980px; font-size: 12px; height: 30px; padding-left:5px;">
				</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid; padding-left: 20px;">
					<span style="display: inline-block; width: 10px;">-</span>
					<span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block;">대금 지불조건</span>
					<span style="display: inline-block; width: 10px;">:</span>
					<input type="text" name="f_pay_method" value="<{$commerce_order_set.pay_method}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_pay_method', this);" style="width: 980px; font-size: 12px; height: 30px; padding-left:5px;">
				</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid; padding-left: 20px;">
					<span style="display: inline-block; width: 10px;">-</span>
					<span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">납 품 장 소</span>
					<span style="display: inline-block; width: 10px;">:</span>
					<input type="text" name="f_sup_location" value="<{$commerce_order_set.sup_location}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_sup_location', this);" style="width: 980px; font-size: 12px; height: 30px; padding-left:5px;">
				</td>
			</tr>
			<tr>
				<td style="padding-left: 20px;">
					<span style="display: inline-block; width: 10px;">-</span>
					<span style="font-size: 12px; font-weight: bold; width: 94px; display: inline-block; letter-spacing: 3px;">특 이 사 항</span>
					<span style="display: inline-block; width: 10px;">:</span>
					<input type="text" name="f_remark" value="<{$commerce_order_set.remark}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_remark', this);" style="width: 980px; font-size: 12px; height: 30px; padding-left:5px;">
				</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".f_option_name").click(function(){
			$(this).val('');
		});

		$("#req_option_name_new").autocomplete({
			source: function( request, response ) {
				var sup_c_no = $("#f_sup_c_no").val();

				if(sup_c_no == ''){
					alert("공급업체 선택 후 이용해주세요");
					return false;
				}

				$.ajax({
					url: "/v1/api/comm_order.prd_unit.api.php",
					dataType: "json",
					data: {
						prd_name: request.term,
						sup_c_no: sup_c_no
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								opt_no : item.no,
								label : item.label,
								opt_name : item.option_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#req_option_no_new").val(ui.item.opt_no);
				$("#req_option_name_new").val(ui.item.opt_name);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$(".f_option_name").autocomplete({
			source: function( request, response ) {
				var sup_c_no = $("#f_sup_c_no").val();

				if(sup_c_no == ''){
					alert("공급업체 선택 후 이용해주세요");
					return false;
				}

				$.ajax({
					url: "/v1/api/comm_order.prd_unit.api.php",
					dataType: "json",
					data: {
						prd_name: request.term,
						sup_c_no: sup_c_no
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								opt_no : item.no,
								label : item.label,
								opt_name : item.option_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var f_comm_no   = $(this).attr('attr-no');
				$(this).val(ui.item.opt_name);

				save_autocomplete(f_comm_no, "f_option_no", ui.item.opt_no);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});
	});

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function inputKrwFormat(obj)
	{
		var krw_price = uncomma(obj.value);

		if(!isInteger(krw_price)){
			krw_price = parseFloat(krw_price).toFixed(2);
		}

		obj.value = comma(krw_price);
	}

	function inputUsdFormat(obj)
	{
		var usd_price = parseFloat(uncomma(obj.value)).toFixed(2);

		obj.value = comma(usd_price);
	}

	function isInteger(number)  {
		return number % 1 === 0;
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_reference' || proc == 'f_tel' || proc == 'f_fax' || proc == 'f_delivery_date' || proc == 'f_pay_method' || proc == 'f_sup_location' || proc == 'f_remark'))
		{
			$.post("commerce_order_iframe_request.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_autocomplete(no, proc, val)
	{
		var obj = document.getElementById('f_option_name_'+no);
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("commerce_order_iframe_request.php", {no : no, process : proc, search_url : '<{$search_url}>', val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function add_order_request()
	{
		eval("var f=document.getElementById('frm_request_new');");
		f.process.value = "add_order_request";

		if (!f.req_option_no_new.value) {
			alert("와이즈 구성품명을 선택해 주세요.");
			return false;
		}

		if (!f.req_quantity_new.value) {
			alert("수량을 입력해 주세요.");
			return false;
		}

		f.submit();
	}

	function del_order_request(co_no)
	{
		if(confirm("정말 삭제 하시겠습니까??"))
		{
			eval("var f=document.getElementById('apply_request_frm_" + co_no + "');");
			f.process.value = 'request_delete';
			f.submit();
		}

		return false;
	}

	function open_quick_prd(idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, option_no, prd_name)
	{
		var sup_c_no = $("#f_sup_c_no").val();

		$.ajax({
			url: "/v1/api/comm_order.prd_unit.check.api.php",
			type: 'POST',
			data: {sup_c_no: sup_c_no, option_no: option_no}
		}).done( function( data ) {
			var jsonData 	= JSON.parse(data);
			var result   	= jsonData.result;

			if(result)
			{
				if(idx == 'new') {
					$("#req_option_name_new").val(prd_name);
					$("#req_option_no_new").val(option_no);
				} else if(idx > 0){
					save_autocomplete(idx, "f_option_no", option_no);
				}
			}else{
				alert("해당 공급업체 상품이 아닙니다.");
			}
		});
	}

</script>
</body>
</html>
