<{include file="inc/iframe_navibar.html"}>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<style type="text/css">
	.admin_content{width: 800px; min-width: 800px !important; max-width: 800px !important; margin-left: 0 !important; padding-bottom: 0 !important; box-sizing: border-box; overflow: hidden;}
	.dropzone{padding: 10px 30px; min-height: unset;}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image{width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
</style>

<div class="admin_content">
	<form name="file_frm" id="file_frm" action="commerce_order.file_upload.php" method="post" enctype="multipart/form-data" style="width: 760px; margin: 0 auto;">
		<input type="hidden" name="com_no" value="<{$com_no}>">
		<input type="hidden" name="process" value="<{$process_type}>">
		<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
		<input type="hidden" name="file_origin_read" value="<{$file_origin_read}>">

		<div id="commerceFileDropzone" class="dropzone" style="min-height: 340px; margin-bottom: 10px; padding: 10px 20px;">
			<div class="dz-message">
				Drop files here or click to upload.
			</div>
		</div>
		<div class="add-file-hidden">
			<input type="hidden" id="file_count" value="<{$file_count}>" />
			<input type="hidden" name="file_chk" id="file_chk" value="<{$file_chk}>" />
		</div>
		<div style="position: relative;">
			<span style="color: red; font-weight: bold; position: absolute; right: 0;">※파일당 최대 용량 MAX 10MB<br>※업로드 저장 버튼을 꼭 눌러야 저장이 됩니다.</span>
			<button type="submit" id="upload-file-btn" class="btn btn-success font-weight-bold" style="font-size: 13px; display: table; margin: 0 auto; padding: 10px 50px;"><span>업로드 저장</span></button>
		</div>

	</form>
</div>

<script type="text/javascript">

	Dropzone.autoDiscover = false;

	var imageExt = ['jpg','jpeg','png','gif'];
	var myDropzone = new Dropzone("div#commerceFileDropzone",
		{
			url: "inc/dropzone_file_upload.php",
			addRemoveLinks: true,
			dictRemoveFile: "삭제",
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 120,
			thumbnailHeight: 100,
			maxFiles: 30,
			maxFilesize: 30,
			dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
			init: function(){
				<{if $com_no && $file_count > 0}>
					<{foreach from=$file_paths key=key item=file_path}>
						var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 12345};
						this.options.addedfile.call(this, mockFile<{$key}>);

						var file_path = '<{$file_path}>';
						var file_type = file_path.split('.',2)[1];
						file_type = file_type.toLowerCase();

						if(file_type != "" && imageExt.indexOf(file_type) != -1){
							this.options.thumbnail.call(this, mockFile<{$key}>, "uploads/<{$file_path}>");
						}

						var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="<{$file_names[$key]}>">';
						html += '<input type="hidden" name="file_path[]" class="file_path" value="<{$file_path}>"></div>';
						$(".add-file-hidden").append(html);
					<{/foreach}>
				<{/if}>
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < images.length; i++) {
						var thumbnailElement = images[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 30개까지 업로드 할 수 있습니다');
				this.removeFile(file);
			},
			success: function(file, response){
				var result   = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileCount = $('#file_count').val();

				if(fileCount >= 30){
					this.removeFile(file);
					alert('파일은 30개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="file_path" value="'+filePath+'"></div>';
					$(".add-file-hidden").append(html);
					$('#file_count').val($(".file_name").length);
					$('#file_chk').val(1);
				}
			}
		}
	);

	myDropzone.on('processing', function (data){
		$("#upload-file-btn").attr('disabled', true);
	});

	myDropzone.on('complete', function (data){
		if(data.status == "success"){
			$("#upload-file-btn").attr('disabled', false);
		}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".file_name").length);
		$('#file_chk').val(1);
	});

	myDropzone.on("error", function(file, message) {
		alert(message);
		myDropzone.removeFile(file);
	});
</script>

</body>
</html>
