<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{min-width: 1200px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 12px;}
	#commmerce_supply_table.table td, #commmerce_supply_table.table th{padding: 0.1rem; vertical-align: middle; font-size: 12px;text-align: center;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	#commerce_supply_table tbody td{padding: 1px;}
	input.input_type_money{font-size: 13px;}
	input.input_type_money_unit{color: #777; width: 70px;}
	input.input_type_money_supply{color: red; width: 100px;}
	input.input_type_money_vat{color: #00B050; width: 100px;}
	button.del_btn{float: left; padding: 3px 0 0 0 !important; background: #333; color: white; width: 25px; height: 28px; font-weight: bold;}
	.lightgray-background{background: rgba(0,0,0,.05);}
</style>

<div class="admin_content">
	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">#입고현황</h4>
	<table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
		<thead class="thead-dark text-center">
			<tr>
				<th class="first" style="min-width:245px;">구성품목명</th>
				<th style="min-width:100px;">발주수량</th>
				<th style="min-width:100px;">입고수량</th>
				<th style="min-width:100px;">미입고수량</th>
				<th style="min-width:100px;">입고완료율</th>
				<{if $is_stock_editable}>
				<th style="min-width:400px;">외부물류(위드플레이스 외)<br/>입고완료 직접 추가</th>
				<{/if}>
			</tr>
		</thead>
		<tbody class="text-center">
			<{if $com_rep_list}>
				<{foreach from=$com_rep_list key=option_no item=comm_report}>
				<form name="apply_frm<{$option_no}>" id="apply_frm<{$option_no}>" class="apply_frm" action="commerce_order_iframe_supply.php" method="post" enctype="multipart/form-data" autocomplete="off">
					<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
					<input type="hidden" name="option_no" value="<{$option_no}>">
					<input type="hidden" name="process" value="add_stock_supply">
					<tr>
						<td class="first" style="text-align: left;"><{$comm_report.option_name}></td>
						<td><{$comm_report.req_qty|number_format:0}></td>
						<td style="color:#0026ff;"><{$comm_report.sup_qty|number_format:0}></td>
						<td><{$comm_report.dem_qty|number_format:0}></td>
						<td><{$comm_report.option_per}>%</td>
						<{if $is_stock_editable}>
						<td>
							<span style="float: left; line-height: 34px; margin-right: 3px;">입고완료일</span>
							<input type="text" name="stock_date" class="date-picker form-control" value="" style="float: left;" required>
							<span style="float: left;line-height: 34px; margin-right: 3px; margin-left: 10px;">수량</span>
							<input type="text" name="stock_qty" class="form-control text-right" value="" style="float: left; width: 100px; font-size: 11px;" required>
							<button type="submit" class="btn btn-dark" style="font-size: 12px;float: left;margin-top: 5px;margin-left: 7px;">입고완료</button>
						</td>
						<{/if}>
					</tr>
				</form>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="5" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<br/>

	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">#입고완료</h4>
	<textarea name="confirm_memo" class="form-control" onchange="save_el('<{$commerce_order_set.no}>', 'f_confirm_memo', this);" style="width: 600px; height: 100px; margin-bottom: 10px; font-size: 12px;" placeholder="메모"><{$commerce_order_set.confirm_memo}></textarea>
	<button type='button' class="btn" onclick="location.href='excel_commerce_order_supply.php?set_no=<{$commerce_order_set.no}>'" style="font-size: 12px; font-weight: bold; color: white; background: #333; width: 100px; padding: 3px 0;">엑셀 다운로드</button><br/>
	<table id="commerce_supply_table" class="table table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
		<thead class="thead-dark text-center">
		<tr>
			<th rowspan="2" class="first" style="min-width:50px; height: 30px;">NO</th>
			<th rowspan="2" style="min-width:200px;">구성품목명</th>
			<th rowspan="2" style="min-width:70px;">수량</th>
			<th rowspan="2" style="min-width:105px;">입고완료일</th>
			<{if $commerce_is_usd}>
				<th rowspan="2" style="min-width:100px; font-size: 11px;">단가(VAT별도)</th>
				<th rowspan="2" style="min-width:120px;">공급가(USD)</th>
			<{else}>
				<th rowspan="2" style="min-width:100px; font-size: 11px;">단가(VAT포함)</th>
				<th rowspan="2" style="min-width:120px;">공급가(KRW)</th>
				<th rowspan="2" style="min-width:120px;">부가세</th>
			<{/if}>
			<th rowspan="2" style="min-width:50px;">입고<br/>그룹</th>
			<{if !$commerce_is_usd}>
			<th rowspan="2" style="min-width:280px;">기타비용<br/>[금액][부가세][비고]</th>
			<{/if}>
			<th rowspan="2" style="min-width:120px; font-size: 11px;">총 입고액</th>
			<th rowspan="2" style="min-width:100px; font-size: 11px;">원가(VAT별도)<br/><span style="font-size: 10px;">(총 입고액/수량)</span></th>
			<{if !$commerce_is_usd }>
			<th rowspan="2" style="min-width:100px; font-size: 11px;">부가세<br/><span style="font-size: 10px;">(부가세+기타비용 부가세)</span></th>
			<th rowspan="2" style="min-width:100px; font-size: 11px;">원가(VAT포함)<br/><span style="font-size: 10px;">(총 입고액/수량)</span></th>
			<{/if}>
			<th rowspan="2" style="min-width:85px;">유통기한<br/>(까지)</th>
			<th rowspan="2" style="min-width:200px;">비고</th>
		</tr>
		</thead>
		<tbody>
			<{assign var="finish_group" value=""}>
			<{foreach from=$commerce_order_list item=commerce_order}>
			<{assign var="group_id" value=$commerce_order.group}>
			<form name="apply_supply_frm_<{$commerce_order.no}>" id="apply_supply_frm_<{$commerce_order.no}>" class="apply_frm" action="commerce_order_iframe_supply.php" method="post" enctype="multipart/form-data" autocomplete="off">
				<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
				<input type="hidden" name="sup_loc_type" value="<{$commerce_order_set.sup_loc_type}>">
				<input type="hidden" name="co_no" value="<{$commerce_order.no}>">
				<input type="hidden" name="group_no" value="<{$commerce_order.group}>">
				<input type="hidden" name="process" >
				<tr>
					<td class="first text-center"> <!-- NO -->
						<{$commerce_order.no}>
						<{if $commerce_order_set.state == '2'}>
							<br><a href="#" onclick="del_order_supply('<{$commerce_order.no}>');"><span style="font-size:6px;">[삭제]</span></a>
						<{/if}>
					</td>
					<td> <!-- 와이즈 구성품명 -->
						<select name="f_option_no" class="select_type3" onchange="save_el('<{$commerce_order.no}>', 'f_option_no', this);" style="width:235px;" <{if $commerce_order_set.state != '2' || $commerce_order.stock_no}>disabled<{/if}>>
						<{section name=idx loop=$product_cms_unit_list}>
							<{if $product_cms_unit_list[idx].no == $commerce_order.option_no || $product_cms_unit_list[idx].sup_c_no == $sup_c_no}>
							<option value="<{$product_cms_unit_list[idx].no}>" <{if $product_cms_unit_list[idx].no == $commerce_order.option_no }>selected<{/if}>><{$product_cms_unit_list[idx].option_name}></option>
							<{/if}>
						<{/section}>
						</select>
					</td>
					<td> <!-- 수량 -->
						<input type="text" name="f_quantity" class="input_type2" value="<{$commerce_order.quantity|number_format:0}>" onchange="save_el('<{$commerce_order.no}>', 'f_quantity', this);" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="width: 60px; text-align:right; color: #0026ff; font-weight: bold;" <{if $commerce_order_set.state != '2' || $commerce_order.stock_no}>disabled<{/if}>>
					</td>
					<td> <!-- 입고완료일 -->
						<input type="text" name="f_sup_date" class="date-picker input_type_date_small" value="<{$commerce_order.sup_date}>" onchange="save_el('<{$commerce_order.no}>', 'f_sup_date', this);" >
						<{if $commerce_order.stock_no}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=&sch_e_regdate=&sch_no=<{$commerce_order.stock_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						<{/if}>
					</td>
					<{if $commerce_is_usd}>
						<td style="text-align: right;"> <!-- 단가(VAT 포함) -->
							<{$commerce_price_type}> <input type="text" name="f_unit_price" class="input_type_money input_type_money_unit" value="<{$commerce_order.unit_price}>" onchange="inputUsdFormat(this); save_el('<{$commerce_order.no}>', 'f_unit_price', this);" onfocus="this.value=''" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
						</td>
						<td style="text-align: right;"> <!-- 공급가 -->
							<{$commerce_price_type}> <input type="text" name="f_supply_price" class="input_type_money input_type_money_supply" value="<{$commerce_order.supply_price}>" onchange="inputUsdFormat(this); save_el('<{$commerce_order.no}>', 'f_supply_price', this);" onfocus="this.value=''" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
						</td>
					<{else}>
						<td class="text-right"> <!-- 단가(VAT포함) -->
							<{$commerce_price_type}><input type="text" name="f_unit_price" class="input_type_money input_type_money_unit" value="<{$commerce_order.unit_price}>"  onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_unit_price', this);" onfocus="this.value=''" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
						</td>
						<td class="text-right"> <!-- 공급가(KRW) -->
							<{$commerce_price_type}><input type="text" name="f_supply_price" class="input_type_money input_type_money_supply" value="<{$commerce_order.supply_price}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_supply_price', this);" onfocus="this.value=''" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
						</td>
						<td class="text-right"> <!-- 부가세 -->
							<{$commerce_price_type}><input type="text" name="f_vat" class="input_type_money input_type_money_vat" value="<{$commerce_order.vat}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_vat', this);" onfocus="this.value=''" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
						</td>
					<{/if}>
					<td class="text-center"> <!-- 입고그룹 -->
						<input type="text" name="f_group" class="input_type2" value="<{$commerce_order.group}>" onfocus="this.value=''" onkeyup="inputNumberFormat(this);"  onchange="save_el('<{$commerce_order.no}>', 'f_group', this);" style="width: 34px;text-align: center;" maxlength="2">
					</td>

					<{if !$commerce_is_usd && ($commerce_order.group != $finish_group)}>
						<td rowspan="<{$commerce_group_list[$commerce_order.group].cnt}>"> <!-- 기타비용<br/>금액 부가세 비고 -->
							<div id="etc_group_wrapper_<{$commerce_order.group}>" style="clear: both; overflow: hidden;">
								<{if $commerce_etc_list[$commerce_order.group]}>
									<{foreach from=$commerce_etc_list[$commerce_order.group] key=group_no item=commerce_etc}>
										<div class="commerce_etc_child_<{$commerce_etc.etc_no}>">
											<input type="hidden" name="f_etc_no" value="<{$commerce_etc.etc_no}>">
											<input type="text" name="f_etc_price" class="input_type_money input_type_money_supply" value="<{$commerce_etc.price}>" onchange="inputKrwFormat(this); save_el('<{$commerce_etc.etc_no}>', 'f_etc_price', this);" style="float: left; width:80px;" placeholder="금액">
											<input type="text" name="f_etc_vat" class="input_type_money input_type_money_vat" value="<{$commerce_etc.vat}>" onchange="inputKrwFormat(this); save_el('<{$commerce_etc.etc_no}>', 'f_etc_vat', this);" style="float: left; width:70px;" placeholder="부가세">
											<input type="text" name="f_memo" class="input_type6" value="<{$commerce_etc.memo}>" onchange=" save_el('<{$commerce_etc.etc_no}>', 'f_etc_memo', this);" style="float: left; width:80px; font-size: 13px" placeholder="비고">
											<button type="button" class="del_btn" onclick="delCommerceEtc('<{$commerce_etc.etc_no}>', this)">-</button>
										</div>
									<{/foreach}>
								<{/if}>
							</div>
							<button type="button" onclick="addCommerceEtc('<{$commerce_order_set.no}>','<{$commerce_order.group}>')" style="background: #333;font-size: 12px;color: white;font-weight: bold;height: 20px;width: 20px;text-align: center;padding: 0 1px 0 0;margin: 5px 0 0 0;">+</button>
						</td>
						<{assign var="finish_group" value=$commerce_order.group}>
					<{/if}>
					<td class="text-right lightgray-background"> <!-- 총 입고액 -->
						₩<input type="text" name="f_total_price" class="input_type_money input_type_money_vat" value="<{$commerce_order.total_price}>" onchange="inputKrwFormat(this); save_el('<{$commerce_order.no}>', 'f_total_price', this);" onfocus="this.value=''" style="color: black;" <{if $commerce_order_set.state != '2'}>disabled<{/if}>>
					</td>
					<td class="text-right lightgray-background"> <!-- 원가(VAT 별도) (총 입고액/수량) -->
						₩<{$commerce_order.org_price}>
					</td>
					<{if !$commerce_is_usd }>
					<td class="text-right lightgray-background"> <!-- 부가세 (부가세 + 기타비용의 부가세) -->
						₩<{$commerce_order.org_vat}>
					</td>
					<td class="text-right lightgray-background"> <!-- 원가(VAT 포함) (총 입고액/ 수량) -->
						₩<{$commerce_order.org_total}>
					</td>
					<{/if}>
					<td> <!-- 유통기한(까지) -->
						<input type="text" name="f_limit_date" class="date-picker input_type_date_small" value="<{$commerce_order.limit_date}>" onchange="save_el('<{$commerce_order.no}>', 'f_limit_date', this);">
					</td>
					<td> <!-- 비고 -->
						<textarea name="f_memo" class="textarea_memo2" onchange="save_el('<{$commerce_order.no}>', 'f_memo', this);" style="width: 190px; height: 35px;"><{$commerce_order.memo}></textarea>
					</td>
				</tr>
			</form>
			<{/foreach}>
			<{if permissionNameCheck($session_permission, "물류관리자")}>
				<tr>
					<td colspan="12">
						<button type="button" onclick="parent.window.open('commerce_order_stock.php?sch_sup_c_no=<{$commerce_order_set.sup_c_no}>','_blank')" style="background: green; color: white; font-weight: bold; padding: 5px 15px; border-radius: 5px;">입고처리(입고관리 페이지) 바로가기</button>
						<button type="button" class="show_supply_new" onclick="supply_new_display('show')" style="background: #343a40; color: white; font-weight: bold; padding: 5px 15px; border-radius: 5px;">▼수동추가(열기)▼</button>
						<button type="button" class="hide_supply_new" onclick="supply_new_display('hide')" style="background: #343a40; color: white; font-weight: bold; padding: 5px 15px; border-radius: 5px;">▲수동추가(닫기)▲</button>
					</td>
				</tr>
				<tr class="supply_new_wrapper" style="background-color: #ffffe0;">
					<form name="frm_supply_new" id="frm_supply_new" action="commerce_order_iframe_supply.php" method="post" enctype="multipart/form-data" autocomplete="off">
						<input type="hidden" name="set_no" value="<{$commerce_order_set.no}>">
						<input type="hidden" name="sup_loc_type" value="<{$commerce_order_set.sup_loc_type}>">
						<input type="hidden" name="process">
						<td class="first"> <!-- NO -->
							&nbsp;
						</td>
						<td> <!-- 와이즈 구성품명 -->
							<select name="sup_option_no_new" id="sup_option_no_new" class="select_type3" style="width:190px;" required>
								<option value="">::선택::</option>
								<{section name=idx loop=$product_cms_unit_list}>
								<option value="<{$product_cms_unit_list[idx].no}>"><{$product_cms_unit_list[idx].option_name}></option>
								<{/section}>
							</select>
						</td>
						<td> <!-- 수량 -->
							<input type="text" name="sup_quantity_new" id="sup_quantity_new" class="input_type2" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="text-align:right;" required>
						</td>
						<td> <!-- 입고완료일 -->
							<input type="text" name="sup_date_new" id="sup_date_new" class="date-picker input_type_date_small" required>
						</td>
						<td></td> <!-- 입고단가(VAT포함) -->
						<td></td> <!-- 공급가 -->
						<{if !$commerce_is_usd}>
						<td></td> <!-- 부가세 -->
						<{/if}>
						<td class="text-center">
							<input type="text" name="group_new" id="group_new" class="input_type2" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" style="width:34px; text-align:center;" maxlength="2" required>
						</td> <!-- 그룹 -->
						<{if !$commerce_is_usd}>
						<td></td> <!-- 기타비용 -->
						<{/if}>
						<td></td> <!-- 총 입고액 -->
						<td></td> <!-- 원가(VAT 별도) -->
						<{if !$commerce_is_usd }>
						<td></td> <!-- 부가세 -->
						<td></td> <!-- 원가(VAT 포함) -->
						<{/if}>
						<td> <!-- 유통기한(까지) -->
							<input type="text" name="limit_date_new" id="limit_date_new" class="date-picker input_type_date_small" >
						</td>
						<td> <!-- 비고 -->
							<button class="btn_small" onclick="return add_order_supply();" style="width:180px;">입고완료 직접 추가</button>
							<br/><span style="color: red;">※직접 추가는 EMP 입고내역에 없는 경우에만 사용</span>
						</td>
					</form>
				</tr>
			<{else}>
				<tr>
					<td colspan="11">
						<button type="button" onclick="parent.window.open('commerce_order_stock.php?sch_sup_c_no=<{$commerce_order_set.sup_c_no}>','_blank')" style="background: green; color: white; font-weight: bold; padding: 5px 15px; border-radius: 5px;">입고처리(입고관리 페이지) 바로가기</button>
					</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<br/>

	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">#입고확인서</h4>
	<button type="button" class="btn_file" onclick="openFileUpload('<{$commerce_order_set.no}>')" style="float: left; margin:0; margin-left: 10px; padding: 3px 5px; background: #444; font-weight:bold;">파일 업로드</button>
	<br style="clear: both;">
	<{if $commerce_order_set.file_list}>
	<table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" style="width: auto; margin: 10px;">
		<thead class="thead-dark text-center">
			<tr>
				<th class="first">파일명</th>
			</tr>
		</thead>
		<tbody>
		<{foreach from=$commerce_order_set.file_list item=file_data}>
			<tr>
				<td class="first" style="text-align: left;">
					<a href="/v1/uploads/<{$file_data.path}>" download="<{$file_data.name}>">
						<{$file_data.name}>
					</a>
				</td>
			</tr>
		<{/foreach}>
		</tbody>
	</table>
	<{/if}>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		supply_new_display('hide');
	});

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function isInteger(number)  {
		return number % 1 === 0;
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function inputKrwFormat(obj)
	{
		var krw_price = uncomma(obj.value);

		if(!isInteger(krw_price)){
			krw_price = parseFloat(krw_price).toFixed(2);
		}

		obj.value = comma(krw_price);
	}

	function inputUsdFormat(obj)
	{
		var usd_price = parseFloat(uncomma(obj.value)).toFixed(2);

		obj.value = comma(usd_price);
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_limit_date' || proc == 'f_confirm_memo')) { // 공백시 저장되도록 예외 (금액, 카드번호)
			$.post("commerce_order_iframe_supply.php", {no : no, process : proc, val : val}, function(result){
				if(proc == 'f_confirm_memo'){
					alert(result);
				}else{
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				}
			});
		}
	}

	function add_order_supply()
	{
		eval("var f=document.getElementById('frm_supply_new');");
		f.process.value = "add_order_supply";

		if (!f.sup_option_no_new.value) {
			alert("와이즈 구성품명을 선택해 주세요.");
			return false;
		}

		if (!f.sup_quantity_new.value) {
			alert("수량을 입력해 주세요.");
			return false;
		}

		if (!f.sup_date_new.value) {
			alert("입고완료일을 입력해 주세요.");
			return false;
		}

		f.submit();
	}

	function del_order_supply(co_no)
	{
		if(confirm("정말 삭제 하시겠습니까??"))
		{
			eval("var f=document.getElementById('apply_supply_frm_" + co_no + "');");
			f.process.value = 'supply_delete';
			f.submit();
		}
	}

	function openFileUpload(com_no)
	{
		var fileUploadUrl = "commerce_order.file_upload.php?com_no="+com_no;
		window.open(fileUploadUrl,"입고확인서 파일 업로드",'width=820, height=460, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	function addCommerceEtc(set_no, group_no)
	{
		var wrapper = $("#etc_group_wrapper_"+group_no);

		$.post("commerce_order_iframe_supply.php", {set_no : set_no, group_no: group_no, process : "add_etc_group"}, function(etc_no){

			var html =
				"<div class='commerce_etc_child_"+etc_no+"' style='clear: both; overflow: hidden;'>" +
					"<input type='hidden' name='f_etc_no' value='"+etc_no+"'>"+
					"<input type='text' name='f_etc_price' class='input_type_money input_type_money_supply' onchange='inputKrwFormat(this); save_el("+etc_no+",\"f_etc_price\", this);' style='float: left; width:80px;' placeholder='금액'>" +
					"<input type='text' name='f_etc_vat' class='input_type_money input_type_money_vat'  onchange='inputKrwFormat(this); save_el("+etc_no+",\"f_etc_vat\", this);' style='float: left; width:70px;' placeholder='부가세'>" +
					"<input type='text' name='f_memo' class='input_type6' onchange='save_el("+etc_no+",\"f_etc_memo\", this);' style='float: left; width:80px; font-size: 13px;' placeholder='비고'>" +
					"<button type='button' class='del_btn' onclick='delCommerceEtc("+etc_no+", this)'>-</button>" +
				"</div>"
			;

			wrapper.append(html);
		});
	}

	function delCommerceEtc(etc_no, obj)
	{
		$.post("commerce_order_iframe_supply.php", {etc_no : etc_no, process : "del_etc_group"}, function(etc_no){
			$(obj).parent().remove();
		});
	}

	function supply_new_display(type)
	{
		if(type == 'show') {
			$(".show_supply_new").hide();
			$(".hide_supply_new").show();
			$(".supply_new_wrapper").show();
		}else if(type == 'hide'){
			$(".show_supply_new").show();
			$(".hide_supply_new").hide();
			$(".supply_new_wrapper").hide();
		}
	}
</script>
</body>
</html>
