<{include file="inc/boot_navibar.html"}>

<style>
	.table_list_style table th, .table_list_style table td{vertical-align: middle;}
	.sup-company-btn-group{margin-top: 20px;}
	.sup-company-btn-group button{background: #333; color: white; font-size: 14px;margin-top: 0;width: 140px;padding: 5px 10px; position: relative; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 10px;}
	.sup-company-btn-group button:hover{color: white; background: lightpink;}
	.sup-company-btn-group button.btn-selected{background: lightpink;}
	.sup-company-cnt{background: red; display: inline-block; border-radius: 10px; width: 22px; position: absolute; right: -3px; bottom: 15px;}
	.reg_active{background: #3093c2 !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" action="commerce_order_stock.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>">
		<input type="hidden" name="yet_commerce" id="yet_commerce" value="<{$yet_commerce}>">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">

		<div class="default_wrap">
			<div class="left_wrap">
				<div>
					<span class="name_tit">입고완료일</span>
					<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker form-control" value="<{$sch_reg_s_date}>" style="font-size: 12px; display: inline-block;">
					~
					<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker form-control" value="<{$sch_reg_e_date}>" style="font-size: 12px; display: inline-block;">
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
					<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
					<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
					<button type="button" class="btn_small regdate_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" onclick="regdateVal('today')">오늘</button>
					<button type="button" class="btn_small regdate_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>" onclick="regdateVal('week')">1주</button>
					<button type="button" class="btn_small regdate_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>" onclick="regdateVal('month')">1달</button>
					<button type="button" class="btn_small regdate_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>" onclick="regdateVal('months')">3달</button>
					<button type="button" class="btn_small regdate_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>" onclick="regdateVal('year')">1년</button>
					<button type="button" class="btn_small regdate_btn reg_years_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>" onclick="regdateVal('years')">2년</button>
				</div>
				<div style="margin: 3px 3px;">
					<span class="name_tit">발주담당자</span>
					<select name="sch_team" id="sch_team" class="select_type3">
						<{foreach from=$sch_team_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_team== $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type1">
						<option value="all">::전체::</option>
						<{foreach from=$sch_staff_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">공급업체</span>
					<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{foreach from=$sch_sup_c_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_sup_c_no==$key }>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">물류업체</span>
					<select name="sch_log_company" id="sch_log_company" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{foreach from=$log_company_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_log_company==$key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>
				</div>
				<div style="margin-bottom: 10px;">
					<span class="name_tit">와이즈 구성품명</span>
					<a href="javascript:void(0);" onclick="open_quick_prd('sch_option_name')"><img src="./images/icon/import.png"></a>
					<input type="text" name="sch_option_name" id="sch_option_name" class="input_type5" value="<{$sch_option_name}>">
					<span style="margin-right:20px;"></span>

					<span class="name_tit">"재고관리코드(SKU)"</span>
					<input type="text" name="sch_prd_sku" id="sch_prd_sku" class="input_type5" value="<{$sch_prd_sku}>">
					<span style="margin-right:20px;"></span>

					<span class="name_tit">확정 입고형태</span>
					<select name="sch_confirm_state" id="sch_confirm_state" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{foreach from=$confirm_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_confirm_state == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<button class="btn_small" onclick="normal_search();" style=" width:58px; height:27px;">검색</button>
					<button class="btn_small" onclick="yet_commerce_search();" style=" background: green; width:100px; height:27px;">발주요청건 찾기</button>
				</div>

				<span id="sch_detail_display_btn_show">
					<button type="button" class="btn_small" onclick="sch_detail_display('show');" style="width:140px; color:black; background-color:#d5d5d5;">▼ 상세검색(열기) ▼</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" class="btn_small" onclick="sch_detail_display('hide');" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;">▲ 상세검색(닫기) ▲</button>
				</span>

				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 10px;">
					<span class="name_tit">입고/반출no</span>
					<input type="text" name="sch_stock_no" class="input_type2" value="<{$sch_stock_no}>" />
					<span style="margin-right:10px;"></span>

					<span class="name_tit">계열사</span>
					<select name="sch_my_c_no" id="sch_my_c_no" class="select_type2">
						<option value="all">::전체::</option>
						<{foreach from=$my_company_list key=key item=my_company}>
						<option value="<{$key}>" style="color:<{$my_company.color}>;" <{if $sch_my_c_no == $key}>selected<{/if}>><{$my_company.c_name}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:10px;"></span>

					<span class="name_tit">발주제목</span>
					<input type="text" name="sch_title" class="input_type5" value="<{$sch_title}>">
					<span style="margin-right:10px;"></span>

					<span class="name_tit">차수</span>
					<input type="number" name="sch_order_count" class="input_type6" value="<{$sch_order_count}>">
					<span style="margin-right:10px;"></span>

					<span class="name_tit">업체명/브랜드명</span>
					<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type3">
					<span style="margin-right:10px;"></span>

					<span class="name_tit">발주요청(년-월)</span>
					<input type="text" name="sch_month" id="sch_month" class="month-picker input_type_date" value="<{$sch_month}>" style="width: 65px;" />
					<span style="margin-right:10px;"></span>

					<span class="name_tit">발주번호</span>
					<input type="text" name="sch_no" class="input_type2" value="<{$sch_no}>">
					<span style="margin-right:10px;"></span>

					<button type="submit" class="btn_small" onclick="searchList();" style=" width:58px; height:27px;">검색</button>
					<button type="button" class="btn_small" onclick="resetSearch();" style=" width:58px; height:27px;">초기화</button>
				</div>
			</div>
		</div>
	</form>

	<div style="margin-top: 10px;">
		<div style="margin-bottom: 5px;">
			<b style="font-size: 14px;">[진행중인 발주서] ※최종입고 완료된 건은 반드시 진행상태를 '종료'로 설정 바랍니다.</b>
		</div>
		<div style="margin-bottom: 5px;">
			<b style="font-size: 12px;">·위드플레이스(<{$total_my_commerce_base_cnt|number_format:0}>건
				<a href="commerce_order.php?sch=Y&sch_req_s_date=&sch_req_e_date=&sch_state=2&sch_team=<{$session_team}>&sch_s_no=<{$session_s_no}>&sch_log_company=2809" target="_blank">
					<img src="./images/icon/new_win_icon.png">
				</a>
				)
			</b>
		</div>
		<{if $total_my_commerce_other_list}>
		<div>
			<b>·위드플레이스 외 입고(수동 입고 발주서) :</b>
			<{foreach $total_my_commerce_other_list key=key item=comm_other_data}>
				<{foreach $comm_other_data item=comm_data}>
				<div style="display: inline-block; margin-right: 5px;">
					<{$comm_data['log_c_name']}> <{$comm_data['set_no']}>
					<a href="commerce_order_regist.php?no=<{$comm_data['set_no']}>&stock_link=1" target="_blank">
						<img src="./images/icon/new_win_icon.png">
					</a>
				</div>
				<{/foreach}>
			<{/foreach}>
		</div>
		<{/if}>
	</div>

	<div class="sup-company-btn-group">
		<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_sup_c_no}>btn-selected<{/if}>" onclick="changeSupCompany('')">전체</button>
		<{if $sup_c_list}>
		<{foreach from=$sup_c_list key=key item=label}>
		<button type="button" class="btn btn-sm font-weight-bold <{if $sch_sup_c_no == $key}>btn-selected<{/if}>" onclick="changeSupCompany('<{$key}>')" >
			<{$label}>
			<{if $key > 1 && $sup_c_count_list[$key] > 0}>
			<span class="sup-company-cnt"><{$sup_c_count_list[$key]}></span>
			<{/if}>
		</button>
		<{/foreach}>
		<{/if}>
	</div>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0" class="table table-bordered" style="width: auto;">
			<thead>
				<tr>
					<td colspan="7"></td>
					<td class="text-right">
						<span style="font-size: 14px; color: blue;">총수량</span>
						<br/>
						+<span style="font-size: 14px; color: blue;"><{$stock_report_total_qty|number_format:0}></span>
					</td>
					<td class="text-right">
						<span style="font-size: 14px;;">총 입고액</span>
						<br/>
						<span style="font-size: 14px;"><{$stock_report_total_price|number_format:0}></span>
					</td>
					<td colspan="6">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px; float: right;">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-right" style="font-size: 15px;">
						평균 원가(VAT별도)<br/>₩<{$commerce_avg_price|number_format:1}>
					</td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th class="first" style="min-width:50px; height: 50px;">입고/반출<br/>NO</th>
					<th style="min-width:80px;">입고완료일</th>
					<th style="min-width:80px;">확정 입고형태</th>
					<th style="min-width:100px;">업체명/브랜드명</th>
					<th style="min-width:100px;">공급업체</th>
					<th style="min-width:200px;">와이즈 구성품명</th>
					<th style="min-width:300px;">물류업체명<br/>재고관리코드(SKU)</th>
					<th style="min-width:80px; width: 80px;">수량</th>
					<th style="min-width:130px; width: 130px;">총 입고액</th>
					<th style="min-width:130px; width: 130px;">단가(VAT포함)</th>
					<th style="min-width:130px; width: 130px;">공급가</th>
					<th style="min-width:130px; width: 130px;">부가세</th>
					<th style="min-width:200px; width: 200px;">메모</th>
					<th style="min-width:60px; width: 60px;">발주번호</th>
					<th style="min-width:200px; width: 200px;">공급업체[차수]<br/>발주제목</th>
					<th style="min-width:150px; width: 150px;">원가(VAT별도)<br/>(총 입고액/수량)</th>
				</tr>
			</thead>
			<tbody>
			<{if $report_list}>
				<{foreach from=$report_list item=stock_report}>
				<form name="apply_frm<{$stock_report.no}>" id="apply_frm<{$stock_report.no}>" class="apply_frm" action="commerce_order_stock.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="no" value="<{$stock_report.no}>">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="process">
					<tr>
						<td class="first" style="height: 50px;"> <!-- no-->
							<{$stock_report.no}>
						</td>
						<td><{$stock_report.regdate}></td>
						<td><{$stock_report.confirm_state_name}></td>
						<td><{$stock_report.c_name}></td>
						<td><{$stock_report.sup_c_name}></td>
						<td style="text-align: left; background: #9edefd4a;"><{$stock_report.option_name}></td>
						<td style="text-align: left;">
							<span><{$stock_report.log_c_name}></span><br/>
							<b><{$stock_report.sku}></b>
						</td>
						<td class="text-right">
							+<span style="font-size: 14px; color: blue;"><{$stock_report.stock_qty|number_format:0}></span>
						</td>
						<td class="text-right">
							<{if $stock_report.ord_no > 0}>
							₩<input type="text" name="f_total_price" class="input_type_money" value="<{$stock_report.total_price}>" onchange="inputKrwFormat(this); save_el('<{$stock_report.ord_no}>', 'f_total_price', this);" onfocus="this.value=''" style="width:110px; color: #999;" <{if $stock_report.ord_state != '2' || $stock_report.sup_loc_type == '1'}>disabled<{/if}>>
							<{/if}>
						</td>
						<td class="text-right">
							<{if $stock_report.ord_no > 0}>
							<{$stock_report.commerce_type}><input type="text" name="f_unit_price" class="input_type_money" value="<{$stock_report.unit_price}>" onchange="<{if $stock_report.commerce_is_usd}>inputUsdFormat(this);<{else}>inputKrwFormat(this);<{/if}>save_el('<{$stock_report.ord_no}>', 'f_unit_price', this);" onfocus="this.value=''" style="width:110px; color: #999;" <{if $stock_report.ord_state != '2' || $stock_report.sup_loc_type == '2'}>disabled<{/if}>>
							<{/if}>
						</td>
						<td class="text-right">
							<{if $stock_report.ord_no > 0}>
							<{$stock_report.commerce_type}><input type="text" name="f_supply_price" class="input_type_money" value="<{$stock_report.supply_price}>" onchange="<{if $stock_report.commerce_is_usd}>inputUsdFormat(this);<{else}>inputKrwFormat(this);<{/if}> save_el('<{$stock_report.ord_no}>', 'f_supply_price', this);" onfocus="this.value=''" style="width:110px; color: #999;" disabled>
							<{/if}>
						</td>
						<td class="text-right">
							<{if $stock_report.ord_no > 0 && !$stock_report.commerce_is_usd}>
							<{$stock_report.commerce_type}><input type="text" name="f_vat" class="input_type_money" value="<{$stock_report.vat_price|number_format:0}>" onkeyup="inputNumberFormat(this);" onchange="save_el('<{$stock_report.ord_no}>', 'f_vat', this);" onfocus="this.value=''" style="width:110px; color: #00B050;" <{if $stock_report.ord_state != '2'}>disabled<{/if}>>
							<{/if}>
						</td>
						<td>
							<textarea name="memo" class="textarea_message" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200px')" style="width: 200px; height: 60px;" readonly><{$stock_report.memo}></textarea>
						</td>
						<td>
							<{if $stock_report.ord_no > 0}>
								<{$stock_report.ord_no}>
							<{/if}>
						</td>
						<td>
							<{if $stock_report.ord_no > 0}>
								<{$stock_report.ord_name}>
								<a href="commerce_order_regist.php?no=<{$stock_report.set_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a><br/>
								<span style="color: #ccc;"><{$stock_report.ord_title}></span>
							<{else}>
								<div class="text-left">
								<{foreach from=$is_order_option key=key item=label}>
									<input type="radio" name="is_order_<{$stock_report.no}>" id="is_order_<{$stock_report.no}>_<{$key}>" value="<{$key}>" onclick="save_el('<{$stock_report.no}>', 'f_is_order', this)" <{if $stock_report.is_order == $key}>checked<{/if}>>
									<label for="is_order_<{$stock_report.no}>_<{$key}>"><{$label}></label><br/>
								<{/foreach}>
								</div>
								<{if $stock_report.co_list}>
									<select name="com_ord_no" id="com_ord_no_<{$stock_report.no}>" class="select_type2" style="width: 140px;">
										<option value="">::선택::</option>
										<{foreach from=$stock_report.co_list key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
										<{/foreach}>
									</select>
									<br/>
									<button type="button" class="btn_small" onclick="add_sup_report('<{$stock_report.no}>', '<{$stock_report.sup_loc_type}>')" style="margin-left: 5px;">입고완료 적용</button>
								<{/if}>
							<{/if}>
						</td>
						<td class="text-right" style="font-size: 15px;">
							<{if $stock_report.ord_no > 0}>
								₩<{$stock_report.org_price|number_format:1}>
							<{/if}>
						</td>
					</tr>
				</form>
				</tbody>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="17">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="17" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<button type='button' class="btn" onclick="location.href='excel_commerce_order_stock.php?<{$search_url}>'" style="font-size: 12px; color: white; background: #333; width: 100px; padding: 3px 0;">엑셀 다운로드</button>
</div>
<form name="supply_report_frm" id="supply_report_frm" action="commerce_order_stock.php" method="post">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="stock_no" value="">
	<input type="hidden" name="sup_loc_type" value="">
	<input type="hidden" name="com_ord_no" value="">
</form>
<!-- //admin_content -->

<script>
	$(document).ready(function(){
	    $("#sch_team").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

        $("#sch_sup_c_no").remoteChained({
            parents: "#sch_s_no",
            url: "/v1/api/stock.json.php?parent_data=sch_s_no",
            loading: "로딩중..",
            clear: true
        });

		$("#sch_prd_sku").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms.option.auto.api.php",
					dataType: "json",
					data: {
						option_name: request.term,
						option_type: 'sku',
						sch_display: ''
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label  : item.option_name,
								option_no : item.option_no,
								option_name : item.option_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$(this).val(ui.item.option_name);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		var is_sch 		= $("#sch").val();
		var sch_type	= (is_sch == "Y") ? "show" : "hide";
		sch_detail_display(sch_type);
	});

    function searchList(){
        $("#yet_commerce").val(0);
        document.search_form.submit();
    }

	function normal_search()
	{
		var ord_page   = $("#ord_page_type").val();
		$("#ord_page_type_hidden").val(ord_page);
		searchList();
	}

	function yet_commerce_search()
	{
        var f = document.forms['search_form'];
        $("#yet_commerce").val(1);
        f.submit();
	}

    function comma(str) {
        var parts = str.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
    }

    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function isInteger(number)  {
        return number % 1 === 0;
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-')
            obj.value = comma(uncomma(obj.value));
    }

    function inputKrwFormat(obj)
    {
        var krw_price = uncomma(obj.value);

        if(!isInteger(krw_price)){
            krw_price = parseFloat(krw_price).toFixed(2);
        }

        obj.value = comma(krw_price);
    }

    function inputUsdFormat(obj)
    {
        var usd_price = parseFloat(uncomma(obj.value)).toFixed(2);

        obj.value = comma(usd_price);
    }

	function save_el(no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (proc != 'f_is_order' && (default_val && val == default_val))
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 공백시 저장안됨
			$.post("commerce_order_stock.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function sch_detail_display(type)
	{
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

    function changeSupCompany(sup_c_no)
    {
        $("#sch_sup_c_no").val(sup_c_no);
        document.forms['search_form'].submit();
    }

    function add_sup_report(stock, sup_loc_type)
    {
        if(confirm("본 발주의 공급완료로 적용하겠습니까?"))
        {
            var com_ord_no = $("#com_ord_no_"+stock).val();

            if(!com_ord_no){
                alert("공급업체[차수]를 선택해주세요");
                return false;
            }

            eval("var f=document.getElementById('supply_report_frm');");
            f.process.value = "add_supply_report";
            f.stock_no.value = stock;
            f.sup_loc_type.value = sup_loc_type;
            f.com_ord_no.value = com_ord_no;
            f.submit();
        }
    }

    function regdateVal(type)
    {
        var todate   = $("#today_val").val();
        var typedate = $("#"+type+"_val").val();

        $(".regdate_btn").removeClass('reg_active');
        $(".reg_"+type+"_btn").addClass('reg_active');

        $("#sch_reg_s_date").val(typedate);
        $("#sch_reg_e_date").val(todate);

        $("#sch_reg_date_type").val(type);
    }

	function open_quick_prd(keyword)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit&sch_idx='+keyword,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, option_no, option_name)
	{
		if($("#"+idx).length > 0) {
			$("#"+idx).val(option_name);
		}
	}
</script>
</body>
</html>
