<{include file="inc/boot_navibar.html"}>

<style>
	.sup-company-btn-group{margin-top: 20px;}
	.sup-company-btn-group button{background: #333; color: white; font-size: 14px;margin-top: 0;width: 140px;padding: 5px 10px; position: relative; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 10px;}
	.sup-company-btn-group button:hover{color: white; background: lightpink;}
	.sup-company-btn-group button.btn-selected{background: lightpink;}
	.sup-company-cnt{background: red; display: inline-block; border-radius: 10px; width: 22px; position: absolute; right: -3px; bottom: 15px;}

	.search_form label{margin: 0 5px 0 0;}
	.custom-combobox input{margin-right: 5px !important;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px; padding: 3px;}
	select option:disabled {background: #e9ecef;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" class="search_form form-inline" action="commerce_order.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">

		<div class="form-group" style="margin-top: 5px; width: 100%;">
			<label for="sch_req_s_date">발주요청일</label>
			<input type="text" name="sch_req_s_date" id="sch_req_s_date" class="date-picker form-control" value="<{$sch_req_s_date}>">
			~
			<input type="text" name="sch_req_e_date" id="sch_req_e_date" class="date-picker form-control" value="<{$sch_req_e_date}>">
		</div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_state">진행상태</label>
			<select name="sch_state" id="sch_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_work_state_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_state== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_req_s_date">발주담당자</label>
			<select name="sch_team" id="sch_team" class="form-control">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_req_team== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			>
			<select name="sch_s_no" id="sch_s_no" class="form-control">
				<option value="all">::전체::</option>
				<{foreach from=$sch_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_req_s_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_sup_c_no">공급업체</label>
			<select name="sch_sup_c_no" id="sch_sup_c_no" class="form-control" style="width: 110px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_sup_c_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_sup_c_no==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_loc_type">발주국가</label>
			<select name="sch_loc_type" id="sch_loc_type" class="form-control" style="width: 110px;">
				<option value="">::전체::</option>
				<{foreach from=$location_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_loc_type==$key }>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_log_company">발주입고 물류업체</label>
			<select name="sch_log_company" id="sch_log_company" class="form-control" style="width: 110px;">
				<option value="">::전체::</option>
				<{foreach from=$log_company_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_log_company == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_req_s_name">발주요청자</label>
			<input type="text" name="sch_req_s_name" id="sch_req_s_name" class="form-control" value="<{$sch_req_s_name}>" style="width: 100px;">

			<button class="btn_small" onclick="normal_search();" style="font-weight: bold; width:58px; height:27px;">검색</button>
		</div>

		<div class="form-group" style="margin-top: 15px; width: 100%;">
			<span id="sch_detail_display_btn_show">
				<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
			</span>
			<span id="sch_detail_display_btn_hide">
				<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
			</span>
		</div>

		<div id="sch_detail_display" class="form-group" style="background: rgb(213, 213, 213); padding: 10px;">
			<label for="sch_no">발주번호</label>
			<input type="text" name="sch_no" id="sch_no" class="form-control"  value="<{$sch_no}>" style="width: 70px" />

			<label for="sch_my_c_no">계열사</label>
			<select name="sch_my_c_no" id="sch_my_c_no" class="form-control" style="width: 110px;">
				<option value="all">::전체::</option>
				<{foreach from=$my_company_list key=key item=my_company}>
				<option value="<{$key}>" style="color:<{$my_company.color}>;" <{if $sch_my_c_no == $key}>selected<{/if}>><{$my_company.c_name}></option>
				<{/foreach}>
			</select>
			<span style="margin-right:10px;"></span>

			<label for="sch_title">발주요청자 메모((구)발주제목으로 삭제예정)</label>
			<input type="text" name="sch_title" id="sch_title" class="form-control" value="<{$sch_title}>" style="width: 170px;">
			<span style="margin-right:10px;"></span>

			<label for="sch_order_count">차수</abel>
			<input type="number" name="sch_order_count" id="sch_order_count" class="form-control" value="<{$sch_order_count}>" style="width: 40px;">
			<span style="margin-right:10px;"></span>

			<label for="sch_c_name">업체명/브랜드명</label>
			<input type="text" name="sch_c_name" id="sch_c_name" class="form-control" value="<{$sch_c_name}>" style="width: 100px;">
			<span style="margin-right:10px;"></span>

			<label for="sch_month">발주요청(년-월)</label>
			<input type="text" name="sch_month" id="sch_month" class="month-picker form-control" value="<{$sch_month}>" style="width: 65px;" />
			<span style="margin-right:10px;"></span>

			<label for="sch_memo">메모</label>
			<input type="text" name="sch_memo" id="sch_memo" class="form-control" value="<{$sch_memo}>" style="width: 170px;">
			<span style="margin-right:10px;"></span>

			<button type="submit" class="btn_small" style="font-weight: bold; width:58px; height:27px;">검색</button>
			<button type="button" class="btn_small" onclick="resetSearch();" style="font-weight: bold; width:58px; height:27px;">초기화</button>
		</div>
	</form>

	<div class="sup-company-btn-group" style="max-width: 1200px;">
		<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_sup_c_no}>btn-selected<{/if}>" onclick="changeSupCompany('')">전체</button>
		<{if $add_sup_c_list}>
			<{foreach from=$add_sup_c_list key=key item=sup_c_data}>
				<button type="button" class="btn btn-sm font-weight-bold <{if $sch_sup_c_no == $key}>btn-selected<{/if}>" onclick="changeSupCompany('<{$key}>')" >
					<{$sup_c_data.name}>
					<{if $key > 1 && $sup_c_count_list[$key] > 0}>
					<span class="sup-company-cnt"><{$sup_c_count_list[$key]}></span>
					<{/if}>
				</button>
			<{/foreach}>
		<{/if}>
	</div>

	<br/>

	<div id="co_new_display_btn_show" style="width: 1182px;">
		<button type="button" style="width:1360px; color:black; background-color:#d5d5d5;" onclick="co_new_display('show');" class="btn_small">▼▼▼ 발주관리 리스트 추가하기 ▼▼▼</button>
	</div>
	<div id="co_new_display_btn_hide" style="width: 1182px; display: none;">
		<button type="button" style="width:1510px; color:black; background-color:#d5d5d5;" onclick="co_new_display('hide');" class="btn_small">▲▲▲ 발주관리 리스트 추가 접어두기 ▲▲▲</button>
	</div>

	<div class="table_list_style">
		<table id="new_ord_frm_table" cellpadding="0" cellspacing="0" style="display: none;">
			<thead>
				<tr>
					<td colspan="12" style="font-size: 14px; color: #565656;background-color: #fff9c2; padding: 10px 22px;">
						<div style="font-size: 19px; font-weight: bold; margin-bottom: 3px;">[발주관리 등록 안내]</div>
						<div style="margin-bottom: 8px;">01 신규 구성품(SKU)은 와플에 '최초입고 상품등록' 요청을 주셔야 발주서를 작성할 수 있습니다.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;최초입고 상품등록 요청 : <a href="https://work.wplanet.co.kr/v1/work_list.php?sch_prd=192" target="_blank">https://work.wplanet.co.kr/v1/work_list.php?sch_prd=192</a></div>
						<div style="margin-bottom: 8px;">02 진행중인 발주서만 발주입고처리를 할 수 있습니다.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;마무리된 발주서는 꼭 종료상태로 바꿔주세요.</div>
						<div style="margin-bottom: 8px;">03 해외 발주는 상품개발관리실에서 발주서 제작, 비용지급, 발주입고, 발주완료 처리등 업무 전반을 진행합니다.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;해외 발주 요청 : <a href="https://work.wplanet.co.kr/v1/work_list.php?sch_prd_g1=01047&sch_prd_g2=01048&sch_prd=247" target="_blank">https://work.wplanet.co.kr/v1/work_list.php?sch_prd_g1=01047&sch_prd_g2=01048&sch_prd=247</a></div>
						※PS : 처음 진행하시는분은 본 페이지 우측 상단에 와플 가이드 참고바랍니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width: 60px;width: 60px;">발주번호</th>
					<th>진행상태</th>
					<th style="min-width: 100px;width: 100px;">발주요청일<br>공급완료일</th>
					<th style="min-width: 240px;width: 240px;">계열사<br/>업체명/브랜드명</th>
					<th style="min-width: 120px;width: 120px;">담당자<br/>(부서)</th>
					<th style="min-width: 145px;width: 145px;">공급업체</th>
					<th style="min-width: 80px; width: 80px;">발주국가</th>
					<th style="min-width: 145px;width: 145px;">발주입고<br/>물류업체</th>
					<th style="min-width: 120px;width: 120px;">발주요청자<br/>(부서)</th>
					<th style="min-width: 80px;width: 80px;">발주수량<br/>입고수량</th>
					<th style="min-width: 120px;width: 120px;">발주금액<br/>지급액</th>
					<th style="min-width: 212px;width: 212px;">업무추가</th>
				</tr>
			</thead>
			<tbody>
				<form name="new_commerce_order_frm" id="new_commerce_order_frm" class="list_form" action="commerce_order.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="process" >
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<tr>
						<td class="first"> <!-- 발주번호 -->
						</td>
						<td> <!-- 진행상태 -->
							<select name="f_state_new" id="f_state_new" class="select_type1">
								<option value="1">작성중</option>
							</select>
						</td>
						<td> <!-- 발주요청일<br>공급완료일 -->
						</td>
						<td> <!-- 계열사<br/>업체명/브랜드명 -->
							<span id="f_my_c_no_new"></span>
							<select name="f_c_no_new" id="f_c_no_new" class="select_type3" style="width:200px;" required>
								<option value="">::선택::</option>
								<{foreach from=$brand_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 담당자(부서) -->
							<input type="hidden" name="f_s_no_new" id="f_s_no_new" value="">
							<input type="hidden" name="f_team_new" id="f_team_new" value="">
							<span id="f_s_name_new"></span><br/>
							<span id="f_t_name_new"></span>
						</td>
						<td> <!-- 공급업체 -->
							<select name="f_sup_c_no_new" id="f_sup_c_no_new" class="select_type3" style="width:130px;" required>
								<option value="">::선택::</option>
								<{foreach from=$add_sup_c_list key=key item=sup_c_data}>
								<option value="<{$key}>" attr-loc="<{$sup_c_data.loc_type}>" attr-text="<{$sup_c_data.loc_text}>" <{if !$is_global && $sup_c_data.loc_type == '2'}>disabled<{/if}>><{$sup_c_data.name}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 발주국가 -->
							<span id="f_sup_loc_type_text_new"></span>
							<input type="hidden" name="f_sup_loc_type_new" id="f_sup_loc_type_new" value="">
						</td>
						<td> <!-- 물류업체 -->
							<select name="f_log_c_no_new" id="f_log_c_no_new" class="select_type3" style="width:130px;" required>
								<option value="">::선택::</option>
								<{foreach from=$log_company_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="link"> <!--발주요청자(부서) -->
							<input type="hidden" name="f_req_s_no_new" value="<{$session_s_no}>">
							<input type="hidden" name="f_req_team_new" value="<{$session_team}>">
							<span><{$session_name}></span><br/>
							<span>(<{$team_name_list[$session_team]}>)</span>
						</td>
						<td> <!-- 공급수량/발주수량 -->
						</td>
						<td class="money" style="color: #0026ff"> <!-- 지급액/발주금액 -->
						</td>
						<td> <!-- 업무추가-->
							<button type="button" class="btn_big_memo" onclick="return add_req_record();" style="width:120px;">추가하기</button>
						</td>
					</tr>
				</form>
			</tbody>
		</table>

		<br/>

		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="12">
						<div style="float: left;"><{$total_num}>개의 검색 결과가 나타났습니다.</div>
						<div style="float: right;">
							<a href="commerce_order.php?<{$search_url}>&sch=Y&od=1<{if $order == '1' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
								<{if !$order || $order != '1'}><span style="padding: 0px 5px;">공급업체 이름순<{/if}>
								<{if $order == '1' }><span style="color:red; padding: 0px 5px;">공급업체 이름순
									<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
								<{/if}>
								</span>
							</a>
							|
							<a href="commerce_order.php?<{$search_url}>&sch=Y&od=2<{if $order=='2' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
								<{if !$order || $order != '2'}><span style="padding: 0px 5px;">차수순<{/if}>
								<{if $order=='2' }><span style="color:red; padding: 0px 5px;">차수순
									<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
								<{/if}>
								</span>
							</a>
							<input type="hidden" name="od" value="<{$order}>">
							<input type="hidden" name="by" value="<{$order_type}>">
							&nbsp;|&nbsp;
							<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right; margin-left: 20px;">
								<{foreach from=$page_type_list item=page_type}>
								<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:60px; height: 50px;">발주번호</th>
					<th style="min-width:90px;">진행상태</th>
					<th style="min-width:100px;">발주요청일<br>공급완료일</th>
					<th style="min-width:240px;">계열사<br/>업체명/브랜드명</th>
					<th style="min-width:120px;">담당자(부서)</th>
					<th style="min-width:200px;">공급업체 [요청연 차수]</th>
					<th style="min-width: 80px; width: 80px;">발주국가</th>
					<th style="min-width: 100px; width: 100px;">발주입고<br/>물류업체</th>
					<th style="min-width:120px;">발주요청자(부서)</th>
					<th style="min-width:80px;">발주수량<br/>입고수량</th>
					<th style="min-width:150px;">발주금액<br/>지급액</th>
					<th style="min-width:212px;">발주요청자 메모((구)발주제목으로 삭제예정)<BR>메모</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="12"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$commerce_order_set_list item=commerce_order_set}>
						<form name="apply_frm<{$commerce_order_set.no}>" id="apply_frm<{$commerce_order_set.no}>" class="list_form" action="commerce_order.php" method="post" enctype="multipart/form-data">
							<input type="hidden" name="process">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<input type="hidden" name="no" value="<{$commerce_order_set.no}>">

							<tr>
								<td class="first"> <!-- no -->
									<{$commerce_order_set.no}>
									<br>
									<{if $commerce_order_set.sup_loc_type == '2'}>
										<{if $is_global}>
											<a href="#" onclick="no_duplicate('<{$commerce_order_set.no}>');"><span style="font-size:6px;">[복제]</span></a>
											<a href="#" onclick="no_delete('<{$commerce_order_set.no}>');"><span style="font-size:6px;">[삭제]</span></a>
										<{/if}>
									<{else}>
										<a href="#" onclick="no_duplicate('<{$commerce_order_set.no}>');"><span style="font-size:6px;">[복제]</span></a>
										<a href="#" onclick="no_delete('<{$commerce_order_set.no}>');"><span style="font-size:6px;">[삭제]</span></a>
									<{/if}>
								</td>
								<td> <!-- 진행상태 -->
									<select name="f_state" class="select_type1" <{if $commerce_order_set.state == '2'}>style="color: red;"<{/if}> onchange="save_el('<{$commerce_order_set.no}>', 'f_state', this);" <{if ($commerce_order_set.req_s_no != $session_s_no) || ($commerce_order_set.state == '3')}>disabled<{/if}> >
										<option value="" style='color: black;'>::선택::</option>
										<{foreach from=$sch_work_state_list key=key item=label}>
											<option value="<{$key}>" <{if $commerce_order_set.state == $key}>selected<{/if}> <{if $key == '2'}>style='color: red;'<{else}>style='color: black;'<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
								</td>
								<td> <!-- 발주요청일<br>공급완료일 -->
									<input type="text" name="f_req_date<{$commerce_order_set.no}>" id="f_req_date<{$commerce_order_set.no}>" class="date-picker input_type_date" value="<{$commerce_order_set.req_date}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_req_date', this);" <{if $commerce_order_set.state > '2'}>disabled<{/if}> />
									<br>
									<input type="text" name="f_sup_end_date<{$commerce_order_set.no}>" id="f_sup_end_date<{$commerce_order_set.no}>" class="date-picker input_type_date" value="<{$commerce_order_set.sup_end_date}>" onchange="save_el('<{$commerce_order_set.no}>', 'f_sup_end_date', this);" <{if $commerce_order_set.state < '3'}>disabled<{/if}> />
								</td>
								<td style="text-align: left;"> <!-- 계열사 -->
									<span style="color:<{$commerce_order_set.kind_color}>;"><{$commerce_order_set.my_c_name}></span><br/>
									<b style="color: #7F7F7F; font-size: 14px;"><{$commerce_order_set.c_name}></b>
								</td>
								<td> <!-- 담당자(부서) -->
									<{$commerce_order_set.s_name}><br/>(<{$commerce_order_set.team_name}>)
								</td>
								<td style="text-align: left;"> <!-- 공급업체 -->
									<a href="commerce_order_regist.php?no=<{$commerce_order_set.no}><{if !!$search_url}>&<{$search_url}><{/if}>">
										<b style="font-size: 14px; font-weight: bold;">
											<{$commerce_order_set.sup_c_name}>
											<{if $commerce_order_set.order_count > 0}>
												[<{if $commerce_order_set.is_new}>2025년<{/if}> <{$commerce_order_set.order_count}>차]
											<{/if}>
										</b>
									</a>
								</td>
								<td>
									<{if $commerce_order_set.sup_loc_type == '2'}>
									해외
									<{else}>
									국내
									<{/if}>
								</td>
								<td> <!-- 발주입고 물류업체 -->
									<{$commerce_order_set.log_c_name}>
								</td>
								<td> <!-- 발주요청자(부서) -->
									<{$commerce_order_set.req_s_name}><br/>(<{$commerce_order_set.req_team_name}>)
								</td>
								<td class="alignR"> <!-- 공급수량/발주수량 -->
									<span style="font-size:13px; color: #7F7F7F; font-weight: bold;"><{$commerce_order_set.req_quantity_sum}></span>
									<br>
									<span style="font-size:16px; color:#0026ff; font-weight: bold;"><{$commerce_order_set.sup_quantity_sum}></span>
								</td>
								<td class="alignR"> <!-- 발주금액/지급액 -->
									<span style="font-size:13px; color: #7F7F7F; font-weight: bold;"><{if $commerce_order_set.sup_loc_type == '2'}>USD $<{else}>KRW ₩<{/if}> <{$commerce_order_set.req_price_sum}></span>
									<br>
									<span style="font-size:16px; color:red; font-weight: bold;"><{if $commerce_order_set.sup_loc_type == '2'}>USD $<{else}>KRW ₩<{/if}> <{$commerce_order_set.wd_money_sum}></span>

								</td>
								<td class="text-left"> <!-- 메모 -->
									<span style="color: #ccc;"><{$commerce_order_set.title}></span>
									<br/>
									<textarea name="f_memo<{$commerce_order_set.no}>" id="f_memo<{$commerce_order_set.no}>" class="textarea_message" onchange="save_el('<{$commerce_order_set.no}>', 'f_memo', this)" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200px')" style="width: 200px; height: 60px;"><{$commerce_order_set.memo}></textarea>
								</td>
							</tr>
						</form>
					<{/foreach}>
				<{/if}>
				<tr>
					<td colspan="12" class="paging_wrap">
						<div class="paging_wrap">
							<{$page_list}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="d_msg"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
	    $("#sch_team").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

        $("#sch_sup_c_no").remoteChained({
            parents: "#sch_s_no",
            url: "/v1/api/stock.json.php?parent_data=sch_s_no",
            loading: "로딩중..",
            clear: true
        });

		$("#f_c_no_new").change(function(){
		    if($(this).val()){
                $.ajax({
                    url: "/v1/api/comm.brand.api.php",
                    type: 'POST',
                    data: {"brand": $(this).val()}
                }).done( function( data ) {

                    var jsonData  = JSON.parse(data);
                    var result 	   = jsonData.result;
                    var brandData = jsonData.brand;

                    if (result == true) {
                        $("#f_s_no_new").val(brandData.s_no);
                        $("#f_team_new").val(brandData.team);
                        $("#f_my_c_no_new").text(brandData.my_c_name);
                        $("#f_s_name_new").text(brandData.s_name);
                        $("#f_t_name_new").text("("+brandData.t_name+")");
                    }else{
                        $("#f_s_no_new").val("");
                        $("#f_team_new").val("");
                        $("#f_my_c_no_new").text("");
                        $("#f_s_name_new").text("");
					}
                });
			}else{
                $("#f_s_no_new").val("");
                $("#f_team_new").val("");
		        $("#f_my_c_no_new").text("");
		        $("#f_s_name_new").text("");
			}
		});

		$("#f_sup_c_no_new").change(function(){
			if($(this).val()){
				var type = $(this).children("option:selected").attr('attr-loc');
				var text = $(this).children("option:selected").attr('attr-text');
				$("#f_sup_loc_type_new").val(type);
				$("#f_sup_loc_type_text_new").text(text);
			}else{
				$("#f_sup_loc_type_new").val('');
				$("#f_sup_loc_type_text_new").text('');
			}
		});

		var is_sch 		= $("#sch").val();
		var sch_type	= (is_sch == "Y") ? "show" : "hide";
		sch_detail_display(sch_type);
	});

	function normal_search()
	{
		var ord_page = $("#ord_page_type").val();
		$("#ord_page_type_hidden").val(ord_page);
		searchList();
	}

	function text_area_click(f, width){
		f.style.width 			= width;
		f.style.backgroundColor = "yellow";
		f.style.height 			= (f.scrollHeight)+"px";
	}

	function text_area_click_out(f, width){
		f.style.width 			= width;
		f.style.backgroundColor = "";
		f.style.height 			= "60px";
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function add_req_record()
	{
		eval("var f=document.getElementById('new_commerce_order_frm');");
		f.process.value = "add_req_record";

		if (!f.f_c_no_new.value) {
			alert("업체명/브랜드명을 선택해 주세요.");
			return false;
		}

		if (!f.f_sup_c_no_new.value) {
			alert("공급업체를 선택해 주세요.");
			return false;
		}

		if (!f.f_log_c_no_new.value) {
			alert("발주입고 물류업체를 선택해 주세요.");
			return false;
		}

		f.submit();
	}

	function save_el(no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 공백시 저장안됨
			$.post("commerce_order.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function no_delete(no) {
		var f = document.forms['apply_frm' + no];
		f.process.value = "delete";

		if (confirm("정말로 삭제 하시겠습니까?") == true){
			f.submit();
		} else { //취소
			return false;
		}
	}

	function no_duplicate(no) {
		var f = document.forms['apply_frm' + no];
		f.process.value = "duplicate";

		if (confirm("정말로 복제 하시겠습니까?") == true){
			f.submit();
		} else { //취소
			return false;
		}
	}

	function sch_detail_display(type)
	{
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

	function co_new_display(type)
	{
		if(type=='show'){
			$("#new_ord_frm_table").show();
			$("#co_new_display_btn_show").hide();
			$("#co_new_display_btn_hide").show();
		}else if(type=='hide'){
			$("#new_ord_frm_table").hide();
			$("#co_new_display_btn_show").show();
			$("#co_new_display_btn_hide").hide();
		}
	}

    function changeSupCompany(sup_c_no)
    {
        $("#sch_sup_c_no").val(sup_c_no);
        document.forms['search_form'].sch_req_s_date.value = '';
        searchList();
    }
</script>
</body>
</html>
