<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form{max-width: 1500px;}
	.search_form label{margin: 0 10px 0 0;}
	.search_form .form-control.date-picker{width: 80px;}
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;padding: 0.25rem;}
	.form-inline .custom-combobox .form-control{margin-right: 5px;}
	.table_list_style table{width: 1200px; margin-top: 40px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle; height: 50px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;text-align: center;}
	.table_list_style table tbody td .form-control{font-size: 12px; width: 98%; padding: 1px;}
	.reg_active{background: #3093c2 !important;}
	.btn-normal{background: #BFBFBF; font-size: 11px; padding: 1px 2px; margin: 0; color: white;}
	.btn-recontact{background: #C0504D;}
	.btn-partner{background: #4F81BD;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" class="search_form form-inline" action="company_contact_management.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="form-group" style="margin-top: 5px; width: 1400px;">
			<label for="sch_cc_no">no</label>
			<input type="text" name="sch_cc_no" id="sch_cc_no" class="form-control" value="<{$sch_cc_no}>" style="width: 60px;" />

			<label for="sch_manager_team">부서 > 담당자</label>
			<select name="sch_manager_team" id="sch_manager_team" class="form-control">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			>
			<select name="sch_manager" id="sch_manager" class="form-control">
				<option value="all">::전체::</option>
				<{foreach from=$sch_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_type" style="margin-left: 10px;">컨택구분</label>
			<select name="sch_type" id="sch_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_date">컨택일자</label>
			<input type="text" name="sch_s_date" id="sch_s_date" class="month-picker form-control" value="<{$sch_s_date}>" style="width: 70px;margin-right: 0;" />
			~
			<input type="text" name="sch_e_date" id="sch_e_date" class="month-picker form-control" value="<{$sch_e_date}>" style="width: 70px;" />

			<label for="sch_recontact" style="margin-left: 10px;">재컨택가능여부</label>
			<select name="sch_recontact" id="sch_recontact" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$recontact_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_recontact == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_date">전화번호</label>
			<input type="text" name="sch_hp1" id="sch_hp1" class="form-control" value="<{$sch_hp1}>" style="width: 60px;margin-right: 5px;" maxlength="4" />
			<input type="text" name="sch_hp2" id="sch_hp2" class="form-control" value="<{$sch_hp2}>" style="width: 60px;" maxlength="4" />

			<label for="sch_email">이메일</label>
			<input type="text" name="sch_email" id="sch_email" class="form-control" value="<{$sch_no}>" style="width: 120px;" />
		</div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_brand_company"><span class="font-red">(중복컨택 방지)</span>&nbsp;사업자/브랜드 검색</label>
			<input type="text" name="sch_brand_company" id="sch_brand_company" class="form-control" value="<{$sch_brand_company}>" style="width: 200px; background: yellow;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
	</form>
	<{if $warning_msg}>
	<div style="margin: 10px 0; color: red; font-size: 20px; font-weight: bold;">
		<{$warning_msg}><a href='company_list.php?sch_c_name=<{$sch_brand_company}>' target='_blank' style='background: #999;color: white;padding: 5px 10px;cursor: pointer;font-size: 14px;margin-left: 10px;border-radius: 3px;'>파트너리스트 확인</a>
	</div>
	<{/if}>

	<div style="margin: 20px 0;">
		<form name="new_contact_frm" id="new_contact_frm" class="new_contact_frm" action="company_contact_management.php" method="post" enctype="multipart/form-data" >
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="new_company_contact">
			<div class="table_list_style">
				<table class="table table-striped table-bordered" style="margin-top: 10px; table-layout: fixed;">
					<colgroup>
						<col width="60px;">
						<col width="110px;">
						<col width="80px;">
						<col width="80px;">
						<col width="140px;">
						<col width="200px;">
						<col width="200px;">
						<col width="100px;">
						<col width="100px;">
						<col width="90px;">
						<col width="240px;">
						<col width="140px;">
						<col width="140px;">
						<col width="320px;">
						<col width="200px;">
					</colgroup>
					<thead class="thead-dark text-center">
						<tr>
							<th scope="col" rowspan="2">no</th>
							<th scope="col" rowspan="2">담당자(부서)</th>
							<th scope="col" rowspan="2">컨택구분</th>
							<th scope="col" rowspan="2">컨택일자</th>
							<th scope="col" rowspan="2">영업 진행 내용</th>
							<th scope="col" rowspan="2">사업자명</th>
							<th scope="col" rowspan="2">브랜드명</th>
							<th scope="col" rowspan="2">업종(카테고리)</th>
							<th scope="col" rowspan="2">제품</th>
							<th scope="col" rowspan="2">대표명</th>
							<th scope="col" rowspan="2">전화번호</th>
							<th scope="col" rowspan="2">주소</th>
							<th scope="col" rowspan="2">쇼핑몰 URL</th>
							<th scope="col" rowspan="2">이메일</th>
							<th scope="col" rowspan="2">비고</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td class="first"> <!-- NO -->
							-
						</td>
						<td> <!-- 담당자(부서) -->
							<{$session_name}><br/>
							<{$session_team_name}>
							<input type="hidden" name="new_manager" value="<{$session_s_no}>">
							<input type="hidden" name="new_manager_team" value="<{$session_team}>">
						</td>
						<td> <!-- 컨택구분 -->
							<select name="new_type" id="new_type" class="form-control" required>
								<option value="">::선택::</option>
								<{foreach from=$type_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 컨택일자 -->
							<input type="text" name="new_c_date" id="new_c_date" class="form-control date-picker" value="<{$cur_date}>" required>
						</td>
						<td> <!-- 영업 진행 내용 -->
							<textarea name="new_task_run" id="new_task_run" style="width: 98%; height: 50px;"></textarea>
						</td>
						<td> <!-- 사업자명 -->
							<input type="text" name="new_c_name" id="new_c_name" class="form-control">
						</td>
						<td> <!-- 브랜드명 -->
							<input type="text" name="new_brand" id="new_brand" class="form-control">
						</td>
						<td> <!-- 업종(카테고리) -->
							<input type="text" name="new_category" id="new_category" class="form-control">
						</td>
						<td> <!-- 제품 -->
							<input type="text" name="new_product" id="new_product" class="form-control">
						</td>
						<td> <!-- 대표명 -->
							<input type="text" name="new_ceo" id="new_ceo" class="form-control">
						</td>
						<td> <!-- 전화번호 -->
							<select name="new_hp1" class="form-control" style="width: 60px; display: inline-block;">
								<option value="">::선택::</option>
								<{foreach from=$total_tel_option item=tel_data}>
								<option value="<{$tel_data}>"><{$tel_data}></option>
								<{/foreach}>
							</select>-
							<input type="text" name="new_hp2" id="new_hp2" class="form-control" style="width: 60px; display: inline-block;" maxlength="4">-
							<input type="text" name="new_hp3" id="new_hp3" class="form-control" style="width: 60px; display: inline-block;" maxlength="4">
							<div class="hp_error" style="text-align: left;"></div>
						</td>
						<td> <!-- 주소 -->
							<textarea name="new_address" id="new_address" style="width: 98%; height: 50px;"></textarea>
						</td>
						<td> <!-- 쇼핑몰 URL -->
							<input type="text" name="new_homepage" id="new_homepage" class="form-control">
						</td>
						<td> <!-- 이메일 -->
							<input type="text" name="new_email1" id="new_email1" class="form-control" style="width: 90px; display: inline-block;">@
							<input type="text" name="new_email2" id="new_email2" class="form-control" style="width: 90px; display: inline-block;">
							<select name="new_email3" class="form-control new_email3" style="width: 90px; display: inline-block;">
								<option value="">직접입력</option>
								<{foreach from=$email_option item=email_data}>
								<option value="<{$email_data}>"><{$email_data}></option>
								<{/foreach}>
							</select>
							<div class="email_error" style="text-align: left;"></div>
						</td>
						<td> <!-- 비고 -->
							<textarea name="new_notice" id="new_notice" style="width: 98%; height: 50px;"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="15">
							<button type="submit" class="btn_big_memo" style="width: 100%;padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;">추가하기</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	
	<div class="table_list_style">
		<table class="table table-striped table-bordered" style="margin: 0;">
			<colgroup>
				<col width="60px;">
				<col width="110px;">
				<col width="80px;">
				<col width="80px;">
				<col width="140px;">
				<col width="200px;">
				<col width="200px;">
				<col width="100px;">
				<col width="100px;">
				<col width="90px;">
				<col width="120px;">
				<col width="140px;">
				<col width="200px;">
				<col width="200px;">
				<col width="200px;">
			</colgroup>
			<thead>
				<tr>
					<td colspan="15">
						<div style="float: left; display: inline-block;">
							<{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.
						</div>
						<div style="float: right;">
							<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;">
								<{foreach from=$page_type_option item=page_type}>
								<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">no</th>
					<th scope="col" rowspan="2">담당자(부서)</th>
					<th scope="col" rowspan="2">컨택구분</th>
					<th scope="col" rowspan="2">컨택일자</th>
					<th scope="col" rowspan="2">영업 진행 내용</th>
					<th scope="col" rowspan="2">재컨택가능여부<br/>사업자명</th>
					<th scope="col" rowspan="2">브랜드명</th>
					<th scope="col" rowspan="2">업종(카테고리)</th>
					<th scope="col" rowspan="2">제품</th>
					<th scope="col" rowspan="2">대표명</th>
					<th scope="col" rowspan="2">전화번호</th>
					<th scope="col" rowspan="2">주소</th>
					<th scope="col" rowspan="2">쇼핑몰 URL</th>
					<th scope="col" rowspan="2">이메일</th>
					<th scope="col" rowspan="2">비고</th>
				</tr>
			</thead>
			<tbody>
				<{if $contact_list}>
					<{foreach from=$contact_list item=contact}>
					<tr id="contact-tr-<{$contact.cc_no}>">
						<td class="first"> <!-- no -->
							<{$contact.cc_no}>
							<{if $contact.is_editable}>
								<br/>
								<button type="button" onclick="del_contact('<{$contact.cc_no}>')" style="font-size: 7px;font-weight: bold;background: #BFBFBF;padding: 1px 3px;color: white;border-radius: 2px;">삭제</button>
							<{/if}>
						</td>
						<td> <!-- 담당자(부서) -->
							<{$contact.manager_name}><br/>(<{$contact.manager_team_name}>)
						</td>
						<td> <!-- 컨택구분 -->
							<{if $contact.is_editable}>
								<select name="type" class="form-control" onchange="save_el('<{$contact.cc_no}>', 'type', this)">
									<option value="">::선택::</option>
									<{foreach from=$type_option key=key item=label}>
									<option value="<{$key}>" <{if $contact.type == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{else}>
								<{$contact.type_name}>
							<{/if}>
						</td>
						<td> <!-- 컨택일자 -->
							<{if $contact.is_editable}>
								<input type="text" name="c_date" class="form-control date-picker" value="<{$contact.c_date}>" onchange="save_el('<{$contact.cc_no}>', 'c_date', this)">
							<{else}>
								<{$contact.c_date}>
							<{/if}>
							<{if $contact.recontact}>
								<button type="button" class="btn-normal btn-partner" onclick="mod_recontact('<{$contact.cc_no}>')">재컨택하기</button>
							<{/if}>
						</td>
						<td> <!-- 영업 진행 내용 -->
							<textarea name="task_run" onchange="save_el('<{$contact.cc_no}>', 'task_run', this)" style="width: 98%; height: 50px;" <{if !$contact.is_editable}>disabled<{/if}>><{$contact.task_run}></textarea>
						</td>
						<td class="text-left"> <!-- 재컨택가능여부/사업자명 -->
							<button type="button" class="btn-normal <{if $contact.is_recontact=='2'}>btn-recontact<{/if}>" onclick="is_recontact('<{$contact.cc_no}>', this)" attr-value="<{$contact.is_recontact}>" <{if !$contact.is_editable}>disabled<{/if}>>재컨택불가</button>
							<button type="button" class="btn-normal <{if $contact.c_no}>btn-partner<{/if}>" onclick="add_partner('<{$contact.cc_no}>')" <{if !$contact.is_editable}>disabled<{/if}>>파트너사</button>
							<{if $contact.is_editable}>
								<input type="text" name="c_name" class="form-control" value="<{$contact.c_name}>" onchange="save_el('<{$contact.cc_no}>', 'c_name', this)" style="font-weight: bold; display: block;">
							<{else}>
								<b style="display: block; margin-top: 5px; font-size: 14px;"><{$contact.c_name}></b>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 브랜드명 -->
							<{if $contact.is_editable}>
							<input type="text" name="brand" class="form-control" value="<{$contact.brand}>" onchange="save_el('<{$contact.cc_no}>', 'brand', this)" style="font-weight: bold;">
							<{else}>
								<b style="font-size: 14px;"><{$contact.brand}></b>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 업종(카테고리) -->
							<{if $contact.is_editable}>
								<input type="text" name="category" class="form-control" value="<{$contact.category}>" onchange="save_el('<{$contact.cc_no}>', 'category', this)">
							<{else}>
								<{$contact.category}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 상품 -->
							<{if $contact.is_editable}>
								<input type="text" name="product" class="form-control" value="<{$contact.product}>" onchange="save_el('<{$contact.cc_no}>', 'product', this)">
							<{else}>
								<{$contact.product}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 대표명 -->
							<{if $contact.is_editable}>
								<input type="text" name="ceo" class="form-control" value="<{$contact.ceo}>" onchange="save_el('<{$contact.cc_no}>', 'ceo', this)">
							<{else}>
								<{$contact.ceo}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 전화번호 -->
							<{if $contact.is_editable}>
								<input type="text" name="hp" class="form-control" value="<{$contact.hp}>" onchange="save_el('<{$contact.cc_no}>', 'hp', this)">
							<{else}>
								<{$contact.hp}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 주소 -->
							<{if $contact.is_editable}>
								<textarea name="address" onchange="save_el('<{$contact.cc_no}>', 'address', this)" style="width: 98%; height: 50px;"><{$contact.address}></textarea>
							<{else}>
								<{$contact.address}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 쇼핑몰 URL -->
							<{if $contact.is_editable}>
								<input type="text" name="homepage" class="form-control" value="<{$contact.homepage}>" onchange="save_el('<{$contact.cc_no}>', 'homepage', this)">
							<{else}>
								<{$contact.homepage}>
							<{/if}>
						</td>
						<td class="text-left"> <!-- 이메일 -->
							<{if $contact.is_editable}>
								<input type="text" name="email" class="form-control" value="<{$contact.email}>" onchange="save_el('<{$contact.cc_no}>', 'email', this)">
							<{else}>
								<{$contact.email}>
							<{/if}>
						</td>
						<td> <!-- 비고 -->
							<textarea name="task_run" onchange="save_el('<{$contact.cc_no}>', 'notice', this)" style="width: 98%; height: 50px;" <{if !$contact.is_editable}>disabled<{/if}>><{$contact.notice}></textarea>
						</td>
					</tr>
					<{/foreach}>
					<tr>
						<td colspan="15" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="15" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div>
		<button class="btn_style1" onclick="location.href='excel_company_contact_management.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
</div>

<form name="chk_form" action="company_contact_management.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_cc_no" class="chk_cc_no">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">

	$(document).ready(function(){
		$("#sch_manager_team").combobox();

		$("#sch_manager").remoteChained({
			parents: "#sch_manager_team",
			url: "/v1/api/stock.json.php?parent_data=sch_manager_team",
			loading: "로딩중..",
			clear: true
		});

		$(".new_email3").change(function(){
			$("#new_email2").val($(this).val());
			$("#new_email2").trigger('change');
		});

		$("#new_hp3").change(function(){
			if($("#new_hp2").val() || $("#new_hp3").val())
			{
				$.ajax({
					url: "/v1/api/company.contact.check.php",
					type: 'POST',
					data: {type: 'hp', fir_val: $("#new_hp2").val(), sec_val: $("#new_hp3").val()}
				}).done( function( data ) {
					var jsonData = JSON.parse(data);
					var html     = jsonData.html;
					$(".hp_error").html(html);
				});
			}
		});

		$("#new_email1").change(function(){
			$.ajax({
				url: "/v1/api/company.contact.check.php",
				type: 'POST',
				data: {type: 'email', fir_val: $("#new_email1").val(), sec_val:  $("#new_email2").val()}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var html     = jsonData.html;
				$(".email_error").html(html);
			});
		});

		$("#new_email2").change(function(){
			$.ajax({
				url: "/v1/api/company.contact.check.php",
				type: 'POST',
				data: {type: 'email', fir_val: $("#new_email1").val(), sec_val:  $("#new_email2").val()}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var html     = jsonData.html;
				$(".email_error").html(html);
			});
		});
	});

	function normal_search()
	{
		var ord_page   = $("#ord_page_type").val();
		$("#ord_page_type_hidden").val(ord_page);
		searchList();
	}

	function save_el(no, type, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("company_contact_management.php", {no: no, process : "modify_data", type: type, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function mod_recontact(cc_no)
	{
		if(confirm('재컨택 하시겠습니까?\r\n재컨택 시 영업 진행 내용은 초기화 되고 파트너사 정보를 수정할 수 있습니다.'))
		{
			document.chk_form.process.value 	= 'mod_recontact';
			document.chk_form.chk_cc_no.value 	= cc_no;
			document.chk_form.submit();
		}

		return false;
	}

	function is_recontact(cc_no, obj)
	{
		var x 		= $(obj).position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
		var value   = $(obj).attr('attr-value');
		var msg 	= (value == '1') ? "재컨택 불가로 설정하시겠습니까?\r\n사유를 영업 진행 내용이나 비고에 남겨 주시면 감사하겠습니다." : "재컨택 가능으로 설정하시겠습니까?\r\n사유를 영업 진행 내용이나 비고에 남겨 주시면 감사하겠습니다.";

		if(confirm(msg))
		{
			var mod_val = (value == '2') ? 1 : 2;

			$.post("company_contact_management.php", {no: cc_no, process : "modify_data", type:'is_recontact', val : mod_val}, function(result){
				if(mod_val == '2'){
					$(obj).addClass("btn-recontact");
				}else{
					$(obj).removeClass("btn-recontact");
				}
				$(obj).attr('attr-value', mod_val);
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function add_partner(cc_no)
	{
		if(confirm("파트너사로 등록합니까?\r\n계약 체결 후 파트너사로 등록 하며 이후 재컨택이 불가능하게 됩니다."))
		{
			location.href='company_regist.php?cc_no='+cc_no;
		}
	}

	function del_contact(cc_no)
	{
		if(confirm("중복 컨택 방지를 위해 잘못 게시한 경우에만 삭제해주세요\r\n정말로 삭제 합니까??"))
		{
			document.chk_form.process.value 	= 'del_contact';
			document.chk_form.chk_cc_no.value 	= cc_no;
			document.chk_form.submit();
		}

		return false;
	}
</script>

</body>
</html>
