<{include file="inc/boot_navibar.html"}>

<script src="js/bootstrap/bootstrap-tagsinput.js" type="text/javascript" ></script>
<link rel="stylesheet" href="css/bootstrap/bootstrap-tagsinput.css">

<style type="text/css">
	.onoffswitch {
		position: relative; width: 80px;
		-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	}
	.onoffswitch-checkbox {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	.onoffswitch-label {
		display: block; overflow: hidden; cursor: pointer;
		border: 2px solid #999999; border-radius: 20px;
	}
	.onoffswitch-inner {
		display: block; width: 200%; margin-left: -100%;
		transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
		display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
		font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		box-sizing: border-box;
	}
	.onoffswitch-inner:before {
		content: "ON";
		padding-left: 10px;
		background-color: #34A7C1; color: #FFFFFF;
	}
	.onoffswitch-inner:after {
		content: "OFF";
		padding-right: 10px;
		background-color: #EEEEEE; color: #999999;
		text-align: right;
	}
	.onoffswitch-switch {
		display: block; width: 20px; margin: 2.5px;
		background: #FFFFFF;
		position: absolute; top: 0; bottom: 0;
		right: 51px;
		border: 2px solid #999999; border-radius: 20px;
		transition: all 0.3s ease-in 0s;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		right: 0px;
	}
	.display_detail_hide{display: none;}

	.btn_style1:disabled{background: #dddd;}

	.bootstrap-tagsinput{width: auto;}
	.bootstrap-tagsinput input{width: 120px; border: 1px solid #ccc;}
	.bootstrap-tagsinput .label-info{background-color: #5bc0de; display: inline;padding: .4em .6em; font-size: 11px;font-weight: 700;line-height: 25px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}
</style>

<div class="admin_content" style="width:1200px;">
	<!-- 업체정보 -->
    <form name="company_form" action="company_regist.php" method="post" enctype="multipart/form-data">
		<input type="hidden" name="process" id="process" value="<{$mode}>">
		<input type="hidden" name="idx" value="<{$idx}>">
		<input type="hidden" name="kind" id="kind">
		<input type="hidden" name="f_cc_no" id="f_cc_no" value="<{$f_cc_no}>">

		<{if $mode =="modify"}>
		<h2 class="title" style="margin-bottom:10px">● 파트너 수정하기</h2>
		<div class="table_top_style">
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th style="width:150px;" class="first first_top alignC">메모</th>
						<td style="width:1050px;" class="first_top date">
							<textarea name="f_c_memo" id="f_c_memo" class="textarea_memo_contents"><{$f_c_memo}></textarea>
							<button type="button" onclick="return save_memo();" class="btn_small_memo">저장</button><br />
							* 마지막 저장일 : <span class="day"><{$f_c_memo_day}><span class="time"> <{$f_c_memo_time}></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<{else}>
		<h2 class="title" style="margin-bottom:10px">● 파트너 등록하기</h2>
		<{/if}>

		<{if $mode == "write"}>
		<div style="margin: 10px 0; font-size: 13px;">
			<span style="color: red;">[파트너 등록 시 주의사항]</span><br/>
			1. 동일한 업체를 중복 등록하지 않습니다. (담당자 변경으로 진행합니다.)<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;단, 과업수행으로 인한 중복 등록은 가능하나, 과업명을 업체명에 포함하여 등록 바랍니다.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;ex) 채미가, 채미가_, 채미가__<br/>
			<br/>
			2. 업체명에 담당자 이름이나 다른 명칭을 끼워넣지 않습니다.<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;ex) 광주정보문화산업진흥원_한형택<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;인천TP-브랜드커넥트_엘엔피컴퍼니-디에이브<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;농금원_팝업스토어(28/수)<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;이화여자대학교 산학협력단 2<br/>
		</div>
		<{/if}>

		<div class="table_contents_style">
			<!-- 기본 소속 계열사 -->
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th class="first" style="width:170px;">계열사</th>
						<td style="border-top: 1px solid #ccc;" >
							<select id="f_my_c_no" name="f_my_c_no" class="select_type3" style="width: 400px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
								<option value="">::선택::</option>
								<{foreach from=$my_company_list key=key item=label}>
								<option value="<{$key}>" <{if $f_my_c_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<br>
							<span style="color:red; padding-bottom:3px;">※입/출금시 해당 계열사가 기본으로 선택됩니다.</span>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0"  style="margin: 0;">
				<thead>
					<tr>
						<th colspan="4" class="first">업체정보</th>
					</tr>
				</thead>
				<tbody>
					<{if permissionNameCheck($session_permission,"마스터관리자")}>
					<tr>
						<th class="first">ID</td>
						<td colspan="3">
							<{if $mode=="write"}>
								<input type="text" class="input_type5" name="f_company_id" id="f_company_id" />
								<button type="button" id="btn_check_id" class="btn_small" onclick="ajax_check('company');">중복확인</button>
								<div class="id_check_msg"></div>
							<{else}>
								<input type="text" class="input_type1" name="f_id" id="f_id" value="<{$id}>"/>
								<button type="button" onclick="return save_id();" class="btn_small_memo">저장</button>
								<{if ($session_s_no == '18' || $session_s_no == '22' || $session_s_no == '62' || $session_s_no == '167') && $f_corp_kind == '3'}>
									<a href="https://wise-expert.co.kr/index?user_id=<{$id}>&admin=<{$session_s_no}>" target="_blank" style="color: white; font-weight: bold; background: #0C4DA2; padding: 5px 10px; margin-left: 20px;">Expert 로그인</a>
								<{/if}>
								<br />
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">* 비밀번호</th>
						<td colspan="3">
							변경 비밀번호 <input type="password" class="input_type5" id="company_pw_new" name="company_pw_new" /><br />
              				변경 비밀번호 확인 <input type="password" class="input_type5" id="company_pw_confirm" name="company_pw_confirm" />
             				<button type="button" onclick="process.value='pw_reset'; return pw_reset($(this.form));" class="btn_small">비밀번호 변경</button>
						</td>
					</tr>
					<{/if}>
					<tr>
						<th class="first">* 담당자</th>
						<td colspan="3">
							<select name="f_s_no" id="f_s_no" class="select_type3">
								<option value="">::선택::</option>
								<{foreach from=$staff_list key=key item=label}>
									<{if $mode == "write" }>
										<option value="<{$key}>" <{if $key == $session_s_no}>selected="selected"<{/if}>><{$label}></option>
									<{else}>
										<option value="<{$key}>" <{if $key == $f_s_no}>selected="selected"<{/if}>><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:150px;">* Display</th>
						<td style="width:1050px;" colspan="3">
							<{foreach from=$display_list key=key item=label}>
								<input type="radio" name="f_display" value="<{$key}>" id="f_display_<{$key}>" style="float: left;" class="radio <{if $key == '1'}>first<{/if}>" <{if $f_display == $key || (!$f_display && $key == '1')}>checked<{/if}> />
								<label for="f_display_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label}></label>
							<{/foreach}>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:150px;">* 파트너 구분</th>
						<td style="width:1050px;" colspan="3">
							<div style="float: left; margin-top: 5px;">
							<{foreach from=$corp_kind_option key=key item=label}>
								<input type="radio" name="f_corp_kind" value="<{$key}>" id="f_corp_kind_<{$key}>" style="float: left;" class="radio f_corp_kind <{if $key == '1'}>first<{/if}>" <{if $f_corp_kind == $key || (!$f_corp_kind && $key == '1')}>checked<{/if}> />
								<label for="f_corp_kind_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label}></label>
							<{/foreach}>
							</div>
							<button type="button" onclick="openProfile('<{$c_no}>', '<{$f_license_type}>')" style="background: #333; color: white; padding: 3px 10px; font-weight: bold; float: left;">강사프로필</button>
							<button type="button" onclick="openPartnerEvaluation('<{$c_no}>')" style="background: #333; color: white; padding: 3px 10px; font-weight: bold; float: left;">만족도평가</button>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:150px;">전문분야</th>
						<td style="width:1050px;" colspan="3">
							<{foreach from=$resource_type_list key=key item=label}>
							<input type="checkbox" name="f_resource_type[]" id="f_resource_type_<{$key}>" style="float: left; cursor: pointer;" value="<{$key}>" <{if $f_resource_type_list && in_array($key, $f_resource_type_list)}>checked<{/if}>>
							<label for="f_resource_type_<{$key}>" style="float: left; cursor: pointer; margin: 0 10px 0 2px;"><{$label}></label>
							<{/foreach}>
						</td>
					</tr>
					<{if permissionNameCheck($session_permission, "마스터관리자")}>
					<tr>
						<th class="first" style="width:150px;">커머스 브랜드 그룹설정</th>
						<td style="width:1050px;" colspan="3">
							<select name="f_brand_g1" id="f_brand_g1" class="select_type2" style="margin-right:10px">
								<option value="">::선택::</option>
								<{foreach from=$brand_parent_list item=brand_parent}>
								<option value="<{$brand_parent.k_name_code}>" <{if $f_brand_g1 == $brand_parent.k_name_code}>selected<{/if}>><{$brand_parent.k_name}></option>
								<{/foreach}>
							</select>
							<select id="f_brand" name="f_brand" class="select_type2">
								<option value="">::선택::</option>
								<{foreach from=$brand_child_list key=key item=brand_child}>
								<option value="<{$brand_child.k_name_code}>" <{if $f_brand == $brand_child.k_name_code}>selected<{/if}>><{$brand_child.k_name}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<{/if}>
					<tr>
						<th class="first" style="width:150px;">* 업체명</th>
						<td style="width:1050px;" colspan="3">
							<input type="text" class="input_type1" name="f_c_name" id="f_c_name"  value="<{$f_c_name}>" style="width: 350px; " <{if $c_no && !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}>/> 프랜차이즈의 경우 "스시생선가게(정자점)"으로 표기
						</td>
					</tr>
					<tr>
						<th class="first" style="width:150px;">* 법인/개인</th>
						<td style="width:500px;">
							<{foreach from=$license_type_option key=key item=label}>
								<input type="radio" name="f_license_type" value="<{$key}>" id="f_license_type_<{$key}>" style="float: left;" class="radio f_license_type <{if $key == '1'}>first<{/if}>" <{if $f_license_type == $key || (!$f_license_type && $key == '1')}>checked<{/if}> />
								<label for="f_license_type_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label}></label>
							<{/foreach}>
						</td>
						<th style="width:150px;">생년월일</th>
						<td><input type="text" name="f_birthday" class="date-picker" value="<{$f_birthday}>"/></td>
					</tr>
					<tr>
						<th class="first">키워드 등록</th>
						<td>
							<input type="text" name="f_keyword[]" value="<{$f_keyword}>" data-role="tagsinput" placeholder="키워드입력" />
						</td>
					</tr>
					<tr>
						<td colspan="4" style="margin:0; padding: 0;">
							<button type="button" style="width:100%; margin: 0; color:black; background-color:#d5d5d5;" onclick="comp_detail_display('show');" class="btn_small display_detail_show">▼▼▼ 상세정보 추가입력 (열기) ▼▼▼</button>
							<button type="button" style="width:100%; margin: 0; color:black; background-color:#d5d5d5;" onclick="comp_detail_display('hide');" class="btn_small display_detail_hide">▲▲▲ 상세정보 추가입력 (닫기) ▲▲▲</button>
						</td>
					</tr>
				</tbody>
			</table>
			<table cellpadding="0" cellspacing="0" class="display_detail_hide">
				<tbody>
					<tr>
						<th class="first" style="width: 150px;">업종 분류</th>
						<td colspan="3" style="width:1050px;">
						  	<select id="f_cate1" name="f_cate1" class="select_type3">
								<option value="">선택</option>
								<{foreach from=$corp_job_list key=key item=label}>
								  <option value="<{$key}>" <{if $f_cate1 == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
            				<select id="f_cate2" name="f_cate2" class="select_type3">
			        			<option value="">전체</option>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">
							<{if $f_license_type == '3'}>
								<span>주요 경력</span>
							<{else}>
								<span>업체 소개</span>
							<{/if}>
						</th>
						<td colspan="3">
							<textarea name="f_about" id="f_about" cols="30" rows="5" class="textarea_type1"><{$f_about}></textarea>
							<{$edt_ctt}>
						</td>
					</tr>
					<tr>
						<th class="first">지역 분류</th>
						<td colspan="3">
							<select id="f_location1" name="f_location1" class="select_type3">
							<option value="">선택</option>
							<{foreach from=$location_list key=key item=label}>
							<option value="<{$key}>" <{if $f_location1 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
							</select>
							<select id="f_location2" name="f_location2" class="select_type3">
							    <option value="">전체</option>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">사업장 주소</th>
						<td colspan="3">
							<input type="text" name='f_zipcode' id="f_zipcode" maxlength="7" class="input_type2" title="우편번호" value="<{$f_zipcode}>" <{if $f_license_type != '4'}>readonly="readonly"<{/if}>>
							<a href="#post" onClick="execDaumPostcode()" id="open_daum_post"  <{if $f_license_type == '4'}>disabled<{/if}>><span>우편번호 찾기</span></a><br>
							<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
								<img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
							</div>
							<input type="text" name='f_address1' id="f_address1"  class="input_type7" value="<{$f_address1}>" style="width:390px;"  <{if $f_license_type != '4'}>readonly="readonly"<{/if}>>
							<br/>
							<input type="text" name='f_address2' id="f_address2"  class="input_type7" value="<{$f_address2}>" style="width:390px;">
						</td>
					</tr>
					<tr>
						<th class="first">사업장 연락처</th>
						<td colspan="3">
							TEL :
							<select name="f_tel_0" id="f_tel_0" class="select_type1">
								<{foreach from=$total_tel_option item=$tel_data}>
								<option value = "<{$tel_data}>" <{if $f_tel_0==$tel_data}>selected="selected" <{/if}>><{$tel_data}></option>
								<{/foreach}>
			       			</select> - <input type="text" class="input_type2" name="f_tel_1" value="<{$f_tel_1}>" id="f_tel_1" /> - <input type="text" class="input_type2" name="f_tel_2" value="<{$f_tel_2}>" id="f_tel_2"  style="margin-right: 5px;"/>
							<span>FAX :</span>
							<input type="text" class="input_type2" name="f_fax_0" value="<{$f_fax_0}>" id="f_fax_0" /> - <input type="text" class="input_type2" name="f_fax_1" value="<{$f_fax_1}>" id="f_fax_1" /> - <input type="" class="input_type2" name="f_fax_2" value="<{$f_fax_2}>" id="f_fax_2" />
							<span style="margin-left: 5px;">Email : </span>
							<input type="text" class="input_type5" name="f_email_0" value="<{$f_email_0}>" /> @ <input type="text" class="input_type5" name="f_email_1" value="<{$f_email_1}>" />
							<br/>
							<textarea name="f_tel_text" id="f_tel_text" cols="30" rows="5" class="textarea_type1"><{$f_tel_text}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">주차시설</th>
						<td colspan="3"><input type="text" class="input_type1" name="f_parking" value="<{$f_parking}>" id="f_parking" /> 무료/유료/주차불가 중 택1 (주차가능 시 방법도 기술해주세요.)</td>
					</tr>
					<tr>
						<th class="first">홈페이지<br />블로그<br />카페</th>
						<td colspan="3">
							<textarea name="f_site" id="f_site" cols="30" rows="5" class="textarea_type1"><{$f_site}></textarea>
							<{$edt_ctt1}>
						</td>
					</tr>
					<tr>
						<th class="first">구매처 우선순위</th>
						<td colspan="3">
							<input type="text" class="input_type1" name="f_priority" id="f_priority" value="<{$f_priority}>" style="width: 100px; ">
						</td>
					</tr>
					<{if permissionNameCheck($session_permission, "마스터관리자")}>
					<tr>
						<th class="first">구매처 여부</th>
						<td colspan="3">
							<div class="onoffswitch">
								<input type="hidden" name="f_org_dp_e_type" value="<{$f_dp_e_type}>">
								<input type="checkbox" name="f_dp_e_type" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" value="1" <{if $f_dp_e_type == '1'}>checked<{/if}>>
								<label class="onoffswitch-label" for="myonoffswitch">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</td>
					</tr>
					<{/if}>
				</tbody>
			</table>
			<!-- //업체정보 -->
			<!-- 세금계산서 및 계좌 정보 -->
			<table cellpadding="0" cellspacing="0" class="display_detail_hide">
				<thead>
					<tr>
						<th colspan="4" class="first">업체 세금계산서 및 계좌 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first" style="width:150px;">사업자등록 업체명</th>
						<td style="width:450px;"><input type="text" class="input_type5" id="f_tx_company" name="f_tx_company" value="<{$f_tx_company}>" /></td>
						<th style="width:150px;">사업자등록번호</th>
						<td style="width:450px;"><input type="text" class="input_type5" name="f_tx_company_number" value="<{$f_tx_company_number}>" /></td>
					</tr>
						<th style="width:150px;">실제 입금자명</th>
						<td style="width:450px;"><input type="text" class="input_type3" name="f_bk_manager" value="<{$f_bk_manager}>" /><span style="color:#808080;font-size:11px;"> (실제 입금시 주요 입금자명)</span></td>
						<th style="width:150px;">대표자명</th>
						<td style="width:450px;"><input type="text" class="input_type3" name="f_tx_company_ceo" value="<{$f_tx_company_ceo}>" /></td>
					<tr>
						<th class="first">(세금계산서)<br>담당자명</th>
						<td colspan="3"><input type="text" class="input_type3" name="f_tx_manager" value="<{$f_tx_manager}>" /></td>
					</tr>
					<tr>
						<th class="first">(세금계산서)<br>담당자 연락처1</th>
						<td><input type="" class="input_type5" name="f_tx_call1" value="<{$f_tx_call1}>" id="f_tx_call1" /></td>
						<th>(세금계산서)<br>담당자 연락처2</th>
						<td>
						<input type="" class="input_type5" name="f_tx_call2" value="<{$f_tx_call2}>" id="f_tx_call2" />
						</td>
					</tr>
					<tr>
						<th class="first">(세금계산서)<br>담당자 이메일</th>
						<td colspan="3"><input type="text" class="input_type5" name="tx_email_0" value="<{$tx_email_0}>" /> @ <input type="text" class="input_type5" name="tx_email_1" value="<{$tx_email_1}>" /></td>
					</tr>
					<tr>
						<th class="first">은행명</th>
						<td colspan="3">
							<select name="f_bk_title" id="f_bk_title" class="select_type2">
								<option value="">::선택::</option>
								<{foreach from=$bk_title_list item=label}>
									<option value="<{$label}>" <{if $f_bk_title == $label}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">계좌번호</th>
						<td>
							<input type="" class="input_type5" name="f_bk_num" value="<{$f_bk_num}>" id="f_bk_num" />
						</td>
						<th>예금주</th>
						<td>
							<input type="" class="input_type3" name="f_bk_name" value="<{$f_bk_name}>" id="f_bk_name" />
						</td>
					</tr>
					<{if $f_corp_kind == '3'}>
					<tr>
						<th class="first">원천세신고방식</th>
						<td colspan="3" style="padding-top: 10px;">
							<{foreach from=$lector_vat_type_option key=key item=label}>
							<input type="radio" name="f_lector_vat_type" value="<{$key}>" id="f_lector_vat_type_<{$key}>" style="float: left;" class="radio" <{if $f_lector_vat_type == $key}>checked<{/if}>/>
							<label for="f_lector_vat_type_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label.title}> <{$label.exp}></label>
							<{/foreach}>
						</td>
					</tr>
					<{/if}>
					<tr>
						<th class="first">사업자등록증(파일)</th>
						<td colspan="3">
						<{if $f_o_registdoc == '' && $f_corp_kind != '3'}>
							<p><input type="file" name="registdoc_file" class="inp" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span></p>
						<{else}>
							<p style="margin-top:10px">
								<img src="images/common/ico/ico_file.gif" alt="파일"> <{$f_o_registdoc}>
								<{if $f_corp_kind == '3'}>
									<a href="https://wise-expert.co.kr/uploads/<{$f_r_registdoc}>" download="<{$f_o_registdoc}>">link down</a>
									<input type="hidden" name="f_o_registdoc" value="<{$f_o_registdoc}>">
									<input type="hidden" name="f_r_registdoc" value="<{$f_r_registdoc}>">
								<{else}>
									<a type="application/octet-stream" href="./uploads/<{$f_r_registdoc}>" download="<{$f_o_registdoc}>">link down</a>
									<button type="button" onclick="down_file('<{$c_no}>','registdoc');" class="btn_small">다운로드</button>
									<button type="button" onclick="del_file('<{$c_no}>','registdoc');" class="btn_small">삭제</button>
									<input type="hidden" name="f_o_registdoc" id="f_o_registdoc" value="<{$f_o_registdoc}>">
									<input type="hidden" name="f_r_registdoc" id="f_r_registdoc" value="<{$f_r_registdoc}>">
									<input type="file" name="registdoc_file" style="display:none">
								<{/if}>
							</p>
						<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">통장사본(파일)</th>
						<td colspan="3">
						<{if $f_o_accdoc == '' && $f_corp_kind != '3'}>
							<p><input type="file" name="accdoc_file" class="inp" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span></p>
						<{else}>
							<p style="margin-top:10px">
								<img src="images/common/ico/ico_file.gif" alt="파일"> <{$f_o_accdoc}>
								<{if $f_corp_kind == '3'}>
									<a href="https://wise-expert.co.kr/uploads/<{$f_r_accdoc}>" download="<{$f_o_accdoc}>">link down</a>
									<input type="hidden" name="f_o_accdoc" value="<{$f_o_accdoc}>">
									<input type="hidden" name="f_r_accdoc" value="<{$f_r_accdoc}>">
								<{else}>
								<a type="application/octet-stream" href="./uploads/<{$f_r_accdoc}>" download="<{$f_r_accdoc}>">link down</a>
								<button type="button" onclick="down_file('<{$c_no}>','accdoc');" class="btn_small">다운로드</button>
								<button type="button" onclick="del_file('<{$c_no}>','accdoc');" class="btn_small">삭제</button>
								<input type="hidden" name="f_o_accdoc" id="f_o_accdoc" value="<{$f_o_accdoc}>">
								<input type="hidden" name="f_r_accdoc" id="f_r_accdoc" value="<{$f_r_accdoc}>">
								<input type="file" name="accdoc_file" style="display:none">
								<{/if}>
							</p>
						<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">기타(파일)</th>
						<td colspan="3">
						<{if $f_o_etc == '' }>
							<p><input type="file" name="etc_file" class="inp" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span></p>
						<{else}>
							<p style="margin-top:10px">
								<img src="images/common/ico/ico_file.gif" alt="파일"> <{$f_o_etc}>
								<a type="application/octet-stream" download href="./uploads/<{$f_r_etc}>" download="<{$f_r_etc}>">link down</a>
								<button type="button" onclick="down_file('<{$c_no}>','etc');" class="btn_small">다운로드</button>
								<button type="button" onclick="del_file('<{$c_no}>','etc');" class="btn_small">삭제</button>
								<input type="hidden" name="f_o_etc" id="f_o_etc" value="<{$f_o_etc}>">
								<input type="hidden" name="f_r_etc" id="f_r_etc" value="<{$f_r_etc}>">
								<input type="file" name="etc_file" style="display:none">
							</p>
						<{/if}>
						</td>
					</tr>
				</tbody>
			</table>
			<table cellpadding="0" cellspacing="0" style="width: 1200px;">
				<thead>
					<tr>
						<th colspan="4" class="first">기타정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first" style="width:150px;">광고주 지급방식</th>
						<td colspan="3" style="padding-top: 10px;">
							<div style="overflow: hidden; clear: both; margin-bottom: 5px;">
								<span style="float: left; font-weight: bold; display: inline-block; width: 80px;">선불/후불</span>
								<{foreach from=$adv_type_option key=key item=label}>
									<input type="radio" name="f_adv_type" value="<{$key}>" id="f_adv_type_<{$key}>" style="float: left;" class="radio <{if $key == '1'}>first<{/if}>" <{if $f_adv_type == $key}>checked<{/if}> <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}>/>
									<label for="f_adv_type_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label}></label>
								<{/foreach}>
							</div>
							<div style="overflow: hidden; clear: both;">
								<span style="float: left; font-weight: bold; display: inline-block; width: 80px;">지급액</span>
								<{foreach from=$adv_fee_option key=key item=label}>
									<input type="radio" name="f_adv_fee" value="<{$key}>" id="f_adv_fee_<{$key}>" style="float: left;" class="radio <{if $key == '1'}>first<{/if}>" <{if $f_adv_fee == $key}>checked<{/if}> <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}>/>
									<label for="f_adv_fee_<{$key}>" style="float: left; cursor: pointer; margin-right: 5px;"><{$label}></label>
								<{/foreach}>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:150px;">광고주 ID</th>
						<td colspan="3">
							<label for="f_naver" style="margin: 0 5px; width: 85px;">네이버(검색광고)</label><input type="text" class="input_type3" name="f_naver" value="<{$f_naver}>" id="f_naver" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}> />
							<label for="f_naver_gfa" style="margin: 0 5px; width: 85px; margin-left: 20px;">네이버(GFA)</label><input type="text" class="input_type3" name="f_naver_gfa" value="<{$f_naver_gfa}>" id="f_naver_gfa" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}> />
							<label for="f_naver_nosp" style="margin: 0 5px; width: 85px; margin-left: 20px;">네이버(NOSP)</label><input type="text" class="input_type3" name="f_naver_nosp" value="<{$f_naver_nosp}>" id="f_naver_nosp" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}> />
							<br/>
							<label for="f_kakao" style="margin: 0 5px; width: 85px;">카카오</label><input type="text" class="input_type3" name="f_kakao" value="<{$f_kakao}>" id="f_kakao" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}> />
							<label for="f_google" style="margin: 0 5px; width: 85px; margin-left: 20px;">구글</label><input type="text" class="input_type3" name="f_google" value="<{$f_google}>" id="f_google" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}> />
						</td>
					</tr>
				</tbody>
			</table>

			<div class="btn_wrap">
				<{if $mode == 'write'}>
					<button type="button" onclick="return check_form($(this.form));" class="btn_style1"><span>등록하기</span></button>
				<{elseif $mode == 'modify'}>
					<{if $f_s_no == $session_s_no || permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") || $session_team == '00222' || ($f_team == '00254' && $session_s_no == '62')}>
						<{if $c_no == '5' || $c_no == '1113' || $c_no == '2668'}>
							<button type="button" onclick="return check_form($(this.form));" class="btn_style1" <{if !permissionNameCheck($session_permission,"마스터관리자")}>disabled<{/if}>><span>수정하기</span></button>
							<{if !permissionNameCheck($session_permission,"마스터관리자")}>
								<br/>
								<span style="font-weight: bold; line-height: 20px;">※내부 업무용으로 수정이 불가 합니다.<br/>(문의 : 김윤영)</span>
							<{/if}>
						<{else}>
							<button type="button" onclick="return check_form($(this.form));" class="btn_style1"><span>수정하기</span></button>
						<{/if}>
					<{elseif $c_no == '5115' && $session_s_no == '184'}>
						<button type="button" onclick="return check_form($(this.form));" class="btn_style1"><span>수정하기</span></button>
					<{/if}>
				<{/if}>
			</div>

		</div>
		<!-- //table_contents_style -->
	</form>
</div>
<!-- //admin_content -->

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#f_s_no").combobox();
		$("#f_location2").remoteChained({
			parents : "#f_location1",
			url : "/v1/api/location.json.php",
			<{if $mode=="modify" && $f_location2 != ""}>
			bootstrap : {
				"":"전체",
				<{section name=data loop=$editlocation}>
				"<{$editlocation[data].location_code}>":"<{$editlocation[data].location_name}>",
				<{/section}>
				"selected":"<{$f_location2}>"
			},
			<{/if}>
			loading : "로딩중.."
		});

		$(".f_corp_kind").change(function(){
			$.ajax({
				url: "/v1/api/company.kind.job.php",
				type: 'GET',
				data: {"f_corp_kind": $(this).val()}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var html  	 = jsonData.html;

				$("#f_cate1").html(html);
			});
		});

		$("#f_cate2").remoteChained({
			parents : "#f_cate1",
			<{if $f_corp_kind==1}>
			url : "/v1/api/job.json.php",
			<{else}>
			url : "/v1/api/company_job.json.php",
			<{/if}>
			<{if $mode=="modify" && $f_cate2 != ""}>
			bootstrap : {
				"":"전체",
				<{section name=data loop=$editjob_list}>
				"<{$editjob_list[data].job_code}>":"<{$editjob_list[data].job_name}>",
				<{/section}>
				"selected":"<{$f_cate2}>"
			},
			<{/if}>
			loading : "로딩중.."
		});

		$(".inp").change(function(){
			var files = $(this)[0].files;
			var fileSize = 0;

			if($.browser.msie){
				var objFSO 	 = new ActiveXObject("Scripting.FileSystemObject");
				var sPath 	 = $(this).value;
				var objFile  = objFSO.getFile(sPath);
				fileSize 	 = (objFile.size/ 1024) / 1024;
			}else {
				fileSize 	 = ((files[0].size / 1024) / 1024);
			}

			if(fileSize > 10) {
				$(this).val("");
				alert("10MB 이상 파일은 등록하실 수 없습니다.");
				return false;
			}
		});

		$(".f_license_type").change(function(){
			if($(this).val() == '4'){
				$("#open_daum_post").attr('disabled', true);
				foldDaumPostcode();
				$("#f_zipcode").attr('readonly', false);
				$("#f_address1").attr('readonly', false);
			}else{
				$("#open_daum_post").attr('disabled', false);
				$("#f_zipcode").attr('readonly', true);
				$("#f_address1").attr('readonly', true);
			}
		});

		$("#f_brand").remoteChained({
			parents : "#f_brand_g1",
			url : "/v1/api/kind.select.json.php?parent_data=f_brand_g1&sch_group=sel_kind_g1&sch_type=brand",
			loading : "로딩중.."
		});
	});

	$(".date-picker").datepicker({
		format : "yyyy-mm-dd",
		language: "ko",
		autoclose: true,
		beforeShowDay: function(date){
			if(date.getDay() == 0){
				return {
					classes: 'date-sunday'
				}
			} else if(date.getDay() == 6){
				return {
					classes: 'date-saturday'
				}
			}
		},
		minDate: '-100y', // 현재날짜로부터 100년이전까지 년을 표시한다.
		yearRange: 'c-100:c+10' // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
	});

	function check_form(f)
	{
		if(isNumber(document.getElementById("f_c_name").value)){
			alert("업체명에 숫자만 입력할 수 없습니다.");
			return false;
		}

		<{if $mode == 'write' && !permissionNameCheck($session_permission,"마스터관리자")}>
        	var chk_c_name = emptyDel(document.getElementById("f_c_name").value);
			if(chk_c_name.lastIndexOf("와이즈플래닛") == 0 || chk_c_name.lastIndexOf("와이즈미디어커머스") == 0)
			{
				alert("자사명으로 등록 불가능합니다.\r\n와플 담당자(김윤영)에게 문의해주세요.");
                return false;
			}
		<{/if}>

		if (cknull("f_my_c_no","계열사를")=="x") return false;
		if (cknull("f_display","Display를")=="x") return false;
		if (cknull("f_corp_kind","파트너 구분을")=="x") return false;
		if (cknull("f_c_name","업체명을")=="x") return false;
		if (cknull("f_license_type","법인/개인을")=="x") return false;

        if($("#f_bk_num").val()){
           if($("#f_bk_title").val() == ''){
				alert("'은행명'을 꼭 선택해 주세요.");
				return false;
           }

            if($("#f_bk_name").val() == ''){
                alert("'예금주'를 반드시 통장사본과 일치하도록 정확하게 작성해 주세요.");
                return false;
            }
        }

		f.submit();
	}

	function emptyDel(str)
	{
		var resultStr = str;
		var blank_pattern = /[\s]/g;

		if (blank_pattern.test(str) == true) {
            resultStr = str.replace(blank_pattern,"");
		}

		return resultStr;
	}

	function pw_reset(f){
		if (cknull("company_pw_new","비밀번호를")=="x") return false;
		if (cknull("company_pw_confirm","비밀번호 확인을")=="x") return false;

		if(document.getElementById("company_pw_new").value != document.getElementById("company_pw_confirm").value){
			alert("비밀번호가 일치하지 않습니다.");
			return false;
		}

		f.submit();
	}

    function comp_detail_display(type)
	{
        if(type=='show'){
            $(".display_detail_hide").show();
            $(".display_detail_show").hide();
        }else if(type=='hide'){
            $(".display_detail_hide").hide();
            $(".display_detail_show").show();
        }
    }

	// 메모만 따로 저장하기
	function save_memo() {
		var f = document.company_form;
		f.process.value='memo';
		f.submit();
	}

	// 아이디만 따로 저장하기
	function save_id() {
		var f = document.company_form;
		f.process.value='save_id';
		f.submit();
	}

	// 파일 다운받기
	function down_file(c_no,type) {
		var gsWin = window.open('about:blank','file download','width=400,height=300');
		var f = document.company_form;
	 	f.target ="file download";
		f.method ="post";
		f.process.value='down_file';
		f.kind.value= type;
		f.submit();
		f.target = "_self";
	}

	// 파일 삭제하기
	function del_file(c_no,type) {
		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			var f = document.company_form;
			f.process.value='del_file';
			f.kind.value= type;
			f.submit();
		} else	{ //취소
			return;
		}
	}

	// 우편번호 찾기 찾기 화면을 넣을 element
	var element_wrap = document.getElementById('wrap');

	function foldDaumPostcode() {
		// iframe을 넣은 element를 안보이게 한다.
		element_wrap.style.display = 'none';
	}

	function execDaumPostcode()
	{
		if($("#open_daum_post").attr('disabled')){
			return;
		}

		// 현재 scroll 위치를 저장해놓는다.
		var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
		new daum.Postcode({
			oncomplete: function(data) {
			// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			// 각 주소의 노출 규칙에 따라 주소를 조합한다.
			// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			var fullAddr = ''; // 최종 주소 변수
			var extraAddr = ''; // 조합형 주소 변수

			// 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
				fullAddr = data.roadAddress;
			} else { // 사용자가 지번 주소를 선택했을 경우(J)
				fullAddr = data.jibunAddress;
			}

			// 사용자가 선택한 주소가 도로명 타입일때 조합한다.
			if(data.userSelectedType === 'R'){
				//법정동명이 있을 경우 추가한다.
				if(data.bname !== ''){
				    extraAddr += data.bname;
				}
				// 건물명이 있을 경우 추가한다.
				if(data.buildingName !== ''){
				    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
				fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
			}

			// 우편번호와 주소 정보를 해당 필드에 넣는다.
			document.getElementById('f_zipcode').value = data.zonecode; //5자리 새우편번호 사용
			document.getElementById('f_address1').value = fullAddr;

			// iframe을 넣은 element를 안보이게 한다.
			// (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
			element_wrap.style.display = 'none';

			// 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
			document.body.scrollTop = currentScroll;

			// 커서를 상세주소 필드로 이동한다.
			document.getElementById('f_address2').focus();
			},
			// 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
			onresize : function(size) {
				element_wrap.style.height = size.height+'px';
			},
			width : '100%',
			height : '100%'
		}).embed(element_wrap);

		// iframe을 넣은 element를 보이게 한다.
		element_wrap.style.display = 'block';
	}

	function openProfile(c_no, license_type)
	{
        var profileUrl = "project_partner_profile.php?c_no="+c_no+"&license_type="+license_type;
        window.open(profileUrl,"강사 프로필",'width=1080, height=1000, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
    }

    function openPartnerEvaluation(c_no)
    {
        var profileUrl = "project_regist_external_partner_evaluation_list.php?pj_c_no="+c_no;
        window.open(profileUrl,"파트너 만족도 리스트",'width=1080, height=1000, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
    }
</script>

</body>
</html>
