<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="overflow: hidden;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="corp_card_management.php" class="form-inline" style="display: block;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group">
			<label for="sch_my_c_no" style="margin-left:0;">사업자</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$my_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_card_kind">카드사</label>
			<input type="text" id="sch_card_kind" class="form-control" name="sch_card_kind" style="width: 100px;" value="<{$sch_card_kind}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off"  />

			<label for="sch_card_type">지정자/공용/개인</label>
			<select id="sch_card_type" name="sch_card_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$card_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_card_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="hidden" name="sch_card_type_exc" id="sch_card_type_exc" value="<{$sch_card_type_exc}>" >
			<input type="checkbox" name="card_type_exc_chk" id="card_type_exc_chk" style="margin-top: 15px;" value="1" <{if $sch_card_type_exc == '1'}>checked<{/if}>><label for="card_type_exc_chk" style="cursor: pointer; margin-left: 0;margin-top: 15px;">개인(제외)</label>

			<label for="sch_card_num">카드번호</label>
			<input type="text" id="sch_card_num" class="form-control" name="sch_card_num" value="<{$sch_card_num}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off"  />
		</div>
		<div class="form-group" style="margin-top: 10px;">
			<label for="sch_share_card" style="margin-left:0;">카드명</label>
			<input type="text" id="sch_share_card" name="sch_share_card" value="<{$sch_share_card}>" style="width: 100px;" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off" />

			<label for="sch_team">부서</label>
			<select id="sch_team" name="sch_team" class="form-control" style="width: auto;">
				<{foreach from=$sch_team_list key=team_code item=label}>
				<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_manager">지출담당자 이름</label>
			<input type="text" id="sch_manager" name="sch_manager" value="<{$sch_manager}>" style="width: 100px;" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off" />

			<label for="sch_expired">유효기간</label>
			<select id="sch_expired" name="sch_expired" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$is_expired_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_expired == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_display">DISPLAY</label>
			<select id="sch_display" name="sch_display" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; margin-left: 10px;" onclick="submit();">검색</button>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 50px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="60px;">
			<col width="140px;">
			<col width="100px;">
			<col width="170px;">
			<col width="80px;">
			<col width="90px;">
			<col width="140px;">
			<col width="80px;">
			<col width="80px;">
			<col width="70px;">
			<col width="200px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="11" style="padding: 5px;">
					<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">NO</th>
				<th scope="col" rowspan="2">사업자</th>
				<th scope="col" rowspan="2">카드사</th>
				<th scope="col" rowspan="2">카드번호</th>
				<th scope="col" rowspan="2">지정자/공용/개인</th>
				<th scope="col" rowspan="2">카드명</th>
				<th scope="col" rowspan="2">부서</th>
				<th scope="col" rowspan="2">지출담당자</th>
				<th scope="col" rowspan="2">유효기간<br/>(월/년)</th>
				<th scope="col" rowspan="2">DISPLAY</th>
				<th scope="col" rowspan="2">재무관리자 메모</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0 && $corp_card_list}>
			<{foreach from=$corp_card_list item=corp_card}>
			<tr>
				<td class="text-center"><!-- NO -->
					<{$corp_card.cc_no}>
				</td>
				<td class="text-left"><!-- 사업자 -->
					<{$corp_card.my_c_name}>
				</td>
				<td class="text-center"><!-- 카드사 -->
					<{$corp_card.card_kind}>
				</td>
				<td class="text-center"><!-- 카드번호 -->
					<a href="corp_card_regist.php?cc_no=<{$corp_card.cc_no}><{if !!$search_url}>&<{$search_url}><{/if}>" title="수정하기">
					<{$corp_card.card_num}>
					</a>
				</td>
				<td class="text-center"><!-- 개인/공용 -->
					<{$corp_card.card_type_name}>
				</td>
				<td class="text-center"><!-- 공용 카드명 -->
					<{$corp_card.share_card}>
				</td>
				<td class="text-left"><!-- 부서 <br/> 팀-->
					<{if $corp_card.parent_group_name}>
						<span style="font-size: 10px; color: gray;"><{$corp_card.parent_group_name}> > </span><br/>
					<{/if}>
					<{$corp_card.group_name}>
				</td>
				<td class="text-center"><!-- 이름 -->
					<{$corp_card.manager_name}>
				</td>
				<td class="text-center"><!-- 유효기간 -->
					<{$corp_card.expired_my}>
					<{if $corp_card.expired_comment}><br/><span style="color: red;"><{$corp_card.expired_comment}></span><{/if}>
				</td>
				<td class="text-center"><!-- DISPLAY -->
					<{if $corp_card.display == '1'}>
					<a href="javascript: void;" onclick="display_change('<{$corp_card.cc_no}>','2');">
						<img title="비공개 처리하기" src="./images/icon/display_on.png">
					</a>
					<{elseif $corp_card.display == '2'}>
					<a href="javascript: void;" onclick="display_change('<{$corp_card.cc_no}>','1');">
						<img title="공개 처리하기" src="./images/icon/display_off.png">
					</a>
					<{/if}>
				</td>
				<td>
					<textarea style="width: 180px;" disabled readonly><{$corp_card.memo}></textarea>
				</td>
			</tr>
			<{/foreach}>
		<{else}>
		<tr>
			<td colspan="11" class="text-center">데이터가 없습니다</td>
		</tr>
		<{/if}>
		<tr>
			<td colspan="11" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<{if permissionNameCheck($session_permission, "재무관리자")}>
	<div style="width: 1200px;">
		<div class="left_wrap">
			<button type="button" onclick="location.href='corp_card_regist.php'" class="btn btn-dark font-weight-bold" style="float: left;font-size: 13px;line-height: 25px;padding: 5px 30px;"><span>카드 등록</span></button>
		</div>
		<div class="right_wrap">
			<button type="button" onclick="location.href='excel_corp_card_management.php?<{$search_url}>';" class="btn btn-dark font-weight-bold" style="float: right;font-size: 13px;line-height: 25px;padding: 5px 30px; margin-right: 15px;"><span>엑셀 다운로드</span></button>
		</div>
	</div>
	<{/if}>

	<form action="corp_card_management.php" method="post" name="corp_card_frm" id="corp_card_frm">
		<input type="hidden" name="cc_no" value="">
		<input type="hidden" name="type" value="">
		<input type="hidden" name="process" value="">
		<input type="hidden" name="search_url" value="<{$search_url}>">
	</form>
</div>
<!-- //admin_content -->


<script type="text/javascript">

    $(document).ready(function() {
		$("#sch_team").combobox();

        $("#card_type_exc_chk").change(function(){
        	if($(this).is(":checked")){
        		$("#sch_card_type_exc").val(1);
			}else{
				$("#sch_card_type_exc").val(0);
			}
		});
    });

	function display_change(no, type)
	{
		var f = document.corp_card_frm;

		if(no == '' || type == ''){
			alert("다시 시도해 주세요");
			return;
		}

		resetForm();

		f.process.value = 'display';
		f.type.value 	= type;
		f.cc_no.value	= no;

		var msg = (type == '1') ? "공개 처리 하시겠습니까?" : "비공개 처리 하시겠습니까";

		if (confirm(msg))
			f.submit();
		else
			return;
	}

	function resetForm()
	{
		var f = document.corp_card_frm;
		f.process.value = '';
		f.type.value 	= '';
		f.cc_no.value	= '';
	}

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function searchList(){
        document.search_form.submit();
    }

</script>
</body>
</html>
