<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px">● 기업정보 리스트</h2>
	<form method="get" name="search_form" action="corp_info_list.php" class="form-inline" style="width: 1500px;">
		<div class="form-group">
			<label for="sch_corp_code" style="margin-left: 0;">기업코드(고유번호)</label>
			<input type="text" id="sch_corp_code" class="form-control" name="sch_corp_code" value="<{$sch_corp_code}>" style="width: 100px;" />

			<label for="sch_corp_name" >기업명</label>
			<input type="text" id="sch_corp_name" class="form-control" name="sch_corp_name" value="<{$sch_corp_name}>" style="width: 150px;" />

			<label for="sch_stock_code">종목코드</label>
			<input type="text" id="sch_stock_code" class="form-control" name="sch_stock_code" value="<{$sch_stock_code}>" style="width: 100px;" />

			<label for="sch_reg_year">수집연도</label>
			<select name="sch_reg_year" id="sch_reg_year" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$reg_year_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_reg_year == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;width: auto;">
		<colgroup>
			<col width="50px;">
			<col width="80px;">
			<col width="140px;">
			<col width="250px;">
			<col width="120px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<th scope="col">no</th>
			<th scope="col">수집연도</th>
			<th scope="col">기업코드(고유번호)</th>
			<th scope="col">기업명</th>
			<th scope="col">종목코드</th>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$corp_info_list item=corp_info}>
				<tr>
					<td class="text-center"><!-- corp_no -->
						<{$corp_info.corp_no}>
					</td>
					<td class="text-center"><!-- reg_year -->
						<{$corp_info.reg_year}>
					</td>
					<td class="text-center"><!-- corp_code -->
						<{$corp_info.corp_code}>
					</td>
					<td class="text-left"><!-- corp_name -->
						<{$corp_info.corp_name}>
					</td>
					<td class="text-center"><!-- stock_code -->
						<{$corp_info.stock_code}>
					</td>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="5" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="5" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

</div>
<!-- //admin_content -->

<script type="text/javascript">
    function searchList(){
        document.search_form.submit();
    }
</script>
</body>
</html>
