<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 620px; min-width: 620px !important; box-sizing: border-box;}
	.corp-card-form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 600px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	#corp_card_form{width: 600px; min-width: 600px !important; max-width: 600px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 44px; float: left; display: inline-block; line-height: 35px;}
	.form-group .card_num_input{width: 88px;float: left;display: inline-block;}
	.form-group .card_num_span{width: 14px;float: left;display: inline-block;line-height: 35px;text-align: center;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px;">● 법인 카드 <{$title}></h2>

	<{if !!$cc_no}>
	<form id="corp_card_memo_frm" name="corp_card_memo_frm" action="corp_card_regist.php" method="post" style="max-width: 600px; overflow: hidden; border: 1px solid #ccc; box-sizing: border-box; border-radius: 5px; margin-left: 20px; margin-bottom: 20px;">
		<input type="hidden" name="cc_no" value="<{$cc_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="corp_card_memo">
		<label for="memo" class="col-form-label font-weight-bold" style="color: #fff; background-color: #343a40; border-color: #454d55; max-width: 800px; margin-left: 20px; padding: 10px; box-sizing: border-box; border-radius: 5px 5px 0 0; font-size: 14px; width: 100%; margin: 0;">재무관리자 메모</label>
		<div class="form-group" style="margin: 0; padding: 20px; padding-bottom: 15px; overflow: hidden;"><!-- 비고 -->
			<textarea class="form-control" id="memo" name="memo" placeholder="관리자메모" rows="5" style="font-size: 12px; float: left;"><{$memo}></textarea>
			<button type="submit" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;"><span>저장하기</span></button>
		</div>
	</form>
	<{/if}>
	<div class="text-right">*필수입력</div>
	<div class="font-weight-bold text-center corp-card-form-title">법인 카드 정보</div>
	<form id="corp_card_form" name="corp_card_frm" action="corp_card_regist.php" method="post" enctype="multipart/form-data" >
		<input type="hidden" name="cc_no" id="cc_no" value="<{$cc_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="<{if !!$cc_no}>modify_card<{else}>new_card<{/if}>">

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 사업자(필수) -->
			<label for="my_c_no" class="col-sm-3 col-form-label font-weight-bold" >사업자</label>
			<div class="col-sm-9">
				<select id="my_c_no" name="my_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$my_company_option key=key item=label}>
					<option value="<{$key}>" <{if $my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 카드사(필수) -->
			<label for="card_kind" class="col-sm-3 col-form-label font-weight-bold" >카드사</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="card_kind" name="card_kind" placeholder="카드사" value="<{$card_kind}>">
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 개인/공용 -->
			<label for="card_type" class="col-sm-3 col-form-label font-weight-bold" >*지정자/공용/개인</label>
			<div class="col-sm-9">
				<select id="card_type" name="card_type" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$card_type_option key=key item=label}>
					<option value="<{$key}>" <{if $card_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row"><!-- 카드번호 -->
			<label class="col-sm-3 col-form-label font-weight-bold" >*카드번호</label>
			<div class="col-sm-9">
				<{assign var=idx value=1}>
				<{foreach from=$card_num_list key=key item=card_num}>
					<input type="text" class="form-control card_num_input" id="card_num_<{$key}>" name="card_num[]" value="<{$card_num}>" maxlength="4" onchange="ckNum(this)" autocomplete="off" required>
					<{if $idx < 4}>
						<span class="card_num_span">-</span>
					<{/if}>
					<{assign var=idx value=$idx+1}>
				<{/foreach}>
			</div>
		</div>

		<div class="form-group row"><!-- 카드명 -->
			<label for="share_card" class="col-sm-3 col-form-label font-weight-bold" >*카드명</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="share_card" name="share_card" placeholder="카드명" value="<{$share_card}>" autocomplete="off" >
			</div>
		</div>

		<div class="form-group row"><!-- 부서 -->
			<label for="manager_name" class="col-sm-3 col-form-label font-weight-bold" >지출 부서</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="team_name" name="team_name" placeholder="부서" value="<{$team_name}>" autocomplete="off" readonly>
				<input type="hidden" class="form-control" id="team" name="team" value="<{$team}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- 지출담당자 -->
			<label for="manager_name" class="col-sm-3 col-form-label font-weight-bold" >*지출담당자</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="manager_name" name="manager_name" placeholder="지출담당자" value="<{$manager_name}>" autocomplete="off" required>
				<input type="hidden" class="form-control" id="manager" name="manager" value="<{$manager}>" required>
			</div>
		</div>


		<div class="form-group row"><!-- 유효기간(월/년) -->
			<label for="expired_date" class="col-sm-3 col-form-label font-weight-bold" >*유효기간</label>
			<div class="col-sm-9">
				<input type="text" class="form-control month-picker" id="expired_date" name="expired_date" value="<{$expired_date}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- 결제일 -->
			<label for="pay_date" class="col-sm-3 col-form-label font-weight-bold" >결제일</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="pay_date" name="pay_date" value="<{$pay_date}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- 비번 -->
			<label for="password" class="col-sm-3 col-form-label font-weight-bold" >비번</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="password" name="password" placeholder="비밀번호" value="<{$password}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- CVC -->
			<label for="cvc" class="col-sm-3 col-form-label font-weight-bold" >CVC</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="cvc" name="cvc" value="<{$cvc}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- 한도 -->
			<label for="limit_cost" class="col-sm-3 col-form-label font-weight-bold" >한도</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="limit_cost" name="limit_cost" placeholder="한도" value="<{$limit_cost}>" autocomplete="off" required>
			</div>
		</div>

		<div class="form-group row"><!-- DISPLAY -->
			<label class="col-sm-3 col-form-label font-weight-bold" >*DISPLAY</label>
			<div class="col-sm-9">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<{foreach from=$display_option key=key item=label}>
					<input type="radio" name="display" value="<{$key}>" id="display_<{$key}>" class="form-check-input" <{if (!$display && $key == 1) || $display == $key}>checked<{/if}> required>
					<label for="display_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
		</div>

		<button type="button" class="btn btn-success font-weight-bold" style="float: left; font-size: 13px;" onclick="check_form(document.corp_card_frm);"><span><{$title}></span></button>
		<button type="button" onclick="location.href='corp_card_management.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button>
	</form>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function() {
        $("#share_card_g2").remoteChained({
            parents: "#share_card_g1",
            url: "/v1/api/corp.card.json.php?parent_data=share_card_g1",
            loading: "로딩중..",
            clear: true
        });

        $("#card_type").change(function(){
           if($(this).val() == '3'){
               $(".card_num_input").val('0000');
		   }
		});
    });

    $(".month-picker").datepicker({
        format : "yyyy-mm",
		language: "ko",
        startView: "months",
        minViewMode: "months",
        autoclose: true
    });

    //지출담당자 자동완성
    $("#manager_name").autocomplete({
        source: function( request, response ) {
            $("#manager").val('');
            $("#team").val('');
            $.ajax({
                url: "/v1/api/staff.api.php",
                dataType: "json",
                data: {
                    s_name: request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            sno : item.s_no,
                            label : item.s_label,
							team : item.team,
							tname : item.t_label,
                            sname : item.s_name
                        }
                    }));
                }
            });
        },
        select: function( event, ui ) {
            event.preventDefault();
            $("#manager").val(ui.item.sno);
            $("#team").val(ui.item.team);
            $('#manager_name').val(ui.item.sname);
			$("#team_name").val(ui.item.tname);
        },
        focus: function(event, ui) {
            return false;
        },
        minLength: 1
    });

	// 저장시 필수값 체크
	function check_form(f)
	{
        if(cknull("card_num_1") == "x" || cknull("card_num_2") == "x" || cknull("card_num_3") == "x" || cknull("card_num_4") == "x"){
            alert("카드번호를 입력해주세요");
            return false;
		}

        if(cknull("card_type") == "x"){
            alert("개인/공용을 선택해주세요");
            return false;
        }

        if(cknull("share_card") == "x"){
            alert("카드명을 입력해주세요");
            return false;
        }

        if(cknull("team") == "x" || cknull("manager_name") == "x" || cknull("manager") == "x"){
            alert("지출담당자를 제대로 입력해주세요");
            return false;
        }

        if(cknull("expired_date") == "x"){
            alert("유효기간을 입력해주세요");
            return false;
        }

        var cc_no = $("#cc_no").val();
        var card_type = $("#card_type").val();
        if(card_type == '3')
        {
            var manager = $("#manager").val();
            var manager_name = $("#manager_name").val();

            $.ajax({
                url: "/v1/api/corp.card.check.php",
                type: 'POST',
                data: {"cc_no": cc_no, "manager": manager}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result  = jsonData.result;

                if(result){
                    f.submit();
				}else{
                    var msg = manager_name + "님은 이미 등록된 카드가 있습니다.";
                    alert(msg);
                    return false;
				}
            });
		}else{
            f.submit();
		}
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

    function ckNum(obj)
	{
		var checkVal = $(obj).val();

        if(isNaN(checkVal)){
            alert('숫자만 입력해주세요');
            $(obj).val("");
            $(obj).focus();
		}
	}

</script>

</body>
</html>
