<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle; text-align: center;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="overflow: hidden;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="corp_account_management.php" class="form-inline" style="display: block;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group">

			<label for="sch_reg_name">작성자</label>
			<input type="text" name="sch_reg_name" id="sch_reg_name" class="form-control" style="width: 100px;" value="<{$sch_reg_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off"  />

			<label for="sch_type">구분</label>
			<select id="sch_type" name="sch_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$account_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_my_c_no">사업자</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$my_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_name">계좌명</label>
			<input type="text" name="sch_name" id="sch_name" class="form-control" value="<{$sch_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off"  />

			<label for="sch_display">DISPLAY</label>
			<select id="sch_display" name="sch_display" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_memo">재무관리자 메모</label>
			<input type="text" name="sch_memo" id="sch_memo" class="form-control" value="<{$sch_memo}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" autocomplete="off"  />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; margin-left: 10px;" onclick="submit();">검색</button>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 50px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="80px;">
			<col width="60px;">
			<col width="100px;">
			<col width="140px;">
			<col width="240px;">
			<col width="100px;">
			<col width="120px;">
			<col width="120px;">
			<col width="60px;">
			<col width="240px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<td colspan="10" style="padding: 5px;">
				<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
			</td>
		</tr>
		<tr>
			<th scope="col">NO<br/>작성일</th>
			<th scope="col">작성자</th>
			<th scope="col">구분</th>
			<th scope="col">사업자</th>
			<th scope="col">계좌명</th>
			<th scope="col">은행</th>
			<th scope="col">계좌번호</th>
			<th scope="col">예금주</th>
			<th scope="col">DISPLAY</th>
			<th scope="col">재무관리자 메모</th>
		</tr>
		</thead>
		<tbody>
		<{if $total_num > 0 && $corp_account_list}>
			<{foreach from=$corp_account_list item=corp_account}>
			<tr>
				<td><!-- NO -->
					<{$corp_account.co_no}><br/>
					<span style="color: blue;"><{$corp_account.reg_day}></span><br/>
					<span style="color: green;"><{$corp_account.reg_hour}></span>
				</td>
				<td><!-- 작성자 -->
					<{$corp_account.reg_s_name}>
				</td>
				<td><!-- 구분 -->
					<{$corp_account.type_name}>
				</td>
				<td><!-- 사업자 -->
					<{$corp_account.my_c_name}>
				</td>
				<td class="text-left"><!-- 계좌명 -->
					<a href="corp_account_regist.php?co_no=<{$corp_account.co_no}><{if !!$search_url}>&<{$search_url}><{/if}>" title="수정하기">
					<{$corp_account.name}>
					</a>
				</td>
				<td><!-- 은행 -->
					<{$corp_account.bank}>
				</td>
				<td><!-- 계좌번호 -->
					<{$corp_account.account}>
				</td>
				<td><!-- 예금주 -->
					<{$corp_account.holder}>
				</td>
				<td class="text-center"><!-- DISPLAY -->
					<{if $corp_account.display == '1'}>
					<a href="javascript: void;" onclick="display_change('<{$corp_account.co_no}>','2');">
						<img title="비공개 처리하기" src="./images/icon/display_on.png">
					</a>
					<{elseif $corp_account.display == '2'}>
					<a href="javascript: void;" onclick="display_change('<{$corp_account.co_no}>','1');">
						<img title="공개 처리하기" src="./images/icon/display_off.png">
					</a>
					<{/if}>
				</td>
				<td><!-- 재무관리자 메모 -->
					<textarea name="memo" onchange="save_el('<{$corp_account.co_no}>', 'modify_memo', this)" style="width: 180px;" ><{$corp_account.memo}></textarea>
				</td>
			</tr>
			<{/foreach}>
		<{else}>
		<tr>
			<td colspan="10" class="text-center">데이터가 없습니다</td>
		</tr>
		<{/if}>
		<tr>
			<td colspan="10" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<{if permissionNameCheck($session_permission, "재무관리자")}>
	<div class="left_wrap">
		<button type="button" onclick="location.href='corp_account_regist.php'" class="btn btn-dark font-weight-bold" style="float: left;font-size: 13px;line-height: 25px;padding: 5px 30px;"><span>계좌 등록</span></button>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<form action="corp_account_management.php" method="post" name="corp_account_frm" id="corp_account_frm">
	<input type="hidden" name="co_no" value="">
	<input type="hidden" name="type" value="">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>


<script type="text/javascript">

	function display_change(no, type)
	{
		var f = document.corp_account_frm;

		if(no == '' || type == ''){
			alert("다시 시도해 주세요");
			return;
		}

		f.process.value = 'modify_display';
		f.type.value 	= type;
		f.co_no.value	= no;

		var msg = (type == '1') ? "공개 처리 하시겠습니까?" : "비공개 처리 하시겠습니까";

		if (confirm(msg))
			f.submit();
		else
			return;
	}


    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function searchList(){
        document.search_form.submit();
    }

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		$.post("corp_account_management.php", {co_no : no, process:proc, value: val}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}
</script>
</body>
</html>
