<{include file="inc/iframe_navibar.html"}>
<style type="text/css">
	.form-group select, .form-group input{font-size: 12px;}
</style>

<div class="admin_content" style="width: 635px;min-width: unset; font-size: 12px;">
	<h2 style="font-weight: bold;">SMS/알림톡 미리보기 테스트</h2><br/>
	<form id="crm_test" name="crm_test" action="crm_send_test.php" method="post" style="width: 600px;">
		<input type="hidden" name="process" value="new_crm_send">
		<input type="hidden" name="t_no" value="<{$t_no}>">

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 템플릿 선택 -->
			<label for="temp_no" class="col-sm-4 col-form-label font-weight-bold" >*템플릿 선택</label>
			<div class="col-sm-8">
				<select id="temp_no" name="temp_no" class="form-control" <{if $t_no}>disabled<{/if}> required>
					<option value="">::전체::</option>
					<{foreach from=$crm_temp_list key=key item=label}>
					<option value="<{$key}>" <{if $t_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 템플릿 구분 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >템플릿 구분</label>
			<div class="col-sm-8">
				<select name="temp_type" id="temp_type" class="form-control" disabled>
					<option value="">::선택::</option>
					<{foreach from=$crm_temp_type_option key=key item=label}>
					<option value="<{$key}>" <{if $temp_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row crm-sms" style="margin-bottom: 15px; <{if $temp_type != 'SMS'}>display: none;<{/if}>"><!-- 제목 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >제목</label>
			<div class="col-sm-8">
				<input type="text" name="temp_subject" id="temp_subject" class="form-control" value="<{$subject}>" readonly>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 발신프로필명 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >발신프로필명</label>
			<div class="col-sm-8">
				<input type="text" name="temp_send_name" id="temp_send_name" class="form-control" value="<{$send_name}>" readonly>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 내용 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >내용</label>
			<div class="col-sm-8">
				<textarea class="form-control" id="temp_content" name="temp_content" placeholder="템플릿 정보" rows="14" style="font-size: 12px;" readonly><{$content}></textarea>
			</div>
		</div>

		<div class="form-group row crm-sms" style="<{if $temp_type != 'SMS'}>display: none;<{/if}> margin-bottom: 15px;"><!-- 발신번호 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >발신번호</label>
			<div class="col-sm-8">
				<input type="text" name="temp_send_phone" id="temp_send_phone" class="form-control" value="<{$send_phone}>" readonly>
			</div>
		</div>
		<div class="form-group row"><!-- 구분(필수) -->
			<label class="col-sm-4 col-form-label font-weight-bold" >*받는사람/전화번호</label>
			<div class="col-sm-8">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<input type="text" class="form-control" id="dest_name" name="dest_name" placeholder="받는사람" value="" required>
					<input type="text" class="form-control" id="dest_phone" name="dest_phone" placeholder="전화번호" value="" required>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-dark font-weight-bold" style="margin: 30px auto 10px; width: 200px;display: table; font-size: 13px;"><span>전송하기</span></button>
	</form>
</div>
<!-- //admin_content_popup -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#temp_no").change(function(){
            $("#temp_content").attr('readonly', true);
            $.ajax({
                url: "/v1/api/crm.test.api.php",
                type: 'POST',
                data: {t_no: $(this).val()}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var temp_type  	= jsonData.temp_type;
                var subject  	= jsonData.subject;
                var send_phone  = jsonData.send_phone;
                var send_name 	= jsonData.send_name;
                var content  	= jsonData.content;

				$("#temp_type").val(temp_type);
				$("#temp_subject").val(subject);
				$("#temp_send_name").val(send_name);
				$("#temp_send_phone").val(send_phone);
				$("#temp_content").val(content);

                if(temp_type == 'SMS'){
					$(".crm-sms").show();
				}else{
					$(".crm-sms").hide();
				}
            });
        });
    });
</script>
</body>
</html>