<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
	.new_btn_list_wrap, .btn_list_wrap{overflow: hidden; clear: both;}
	.new_btn_list_wrap span, .btn_list_wrap span{float: left;line-height: 28px; margin-right: 3px;}
	.new_btn_list_wrap .new_btn_type, .btn_list_wrap .btn_type{float: left; width: 100px; line-height: 20px; padding: 4px;}
	.new_btn_list_wrap .new_caption, .btn_list_wrap .btn_caption{float: left; width: 150px; line-height: 20px; padding-left: 3px;}
	.new_btn_list_wrap .new_url, .btn_list_wrap .btn_url{float: left; width: 240px; line-height: 20px; padding-left: 3px;}
	.new_btn_list_wrap button{margin-top: 4px;}
	.btn_list_wrap button{float: left; margin-top: 4px;}
	.tag_name{font-size: 11px; font-weight: bold; padding-left: 3px;}
	.new-crm-sms{display: none;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<a href="javascript:void(0)" onclick="openCrmTest('')">
			<img src="./images/icon/setting_lightgray.png" style="vertical-align: top;margin-left: 0px;margin-top: 5px;">
		</a>
	</h2>
	<form method="get" name="search_form" action="crm_template_list.php" class="form-inline" style="width: 1500px;" autocomplete="off">
		<div class="form-group">
			<label for="sch_t_no" style="margin-left: 0;">NO</label>
			<input type="text" id="sch_t_no" class="form-control" name="sch_t_no" value="<{$sch_t_no}>" style="width: 100px;" />

			<label for="sch_active">Active</label>
			<select id="sch_active" name="sch_active" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_active == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_temp_type">템플릿 구분</label>
			<select id="sch_temp_type" name="sch_temp_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_temp_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_temp_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_title">템플릿명</label>
			<input type="text" id="sch_title" class="form-control" name="sch_title" value="<{$sch_title}>" style="width: 150px;" />

			<label for="sch_content">템플릿 내용</label>
			<input type="text" id="sch_content" class="form-control" name="sch_content" value="<{$sch_content}>" style="width: 200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_btn_content">버튼내용</label>
			<input type="text" id="sch_btn_content" name="sch_btn_content" value="<{$sch_btn_content}>" class="form-control" style="width: 200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
	</form>
	<form name="new_crm_temp_frm" id="new_crm_temp_frm" class="new_crm_temp_frm" action="crm_template_list.php" method="post" style="margin-top: 20px;" autocomplete="off">
		<div style="font-size:15px; font-weight:600; color:red;">
		※ 주의 : 본 템플릿은 이지샌드(비즈엠)에서 설정 후 (템플릿 Key, 발신자 Key, 알림톡 내용, 버튼 설정)을 동일하게 이곳에 등록해야 합니다.
		</div>
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_crm_template">
		<table class="table table-striped table-bordered" style="margin-top: 20px;table-layout: fixed; width: auto;">
			<colgroup>
				<col width="40px;">
				<col width="100px;">
				<col width="200px;">
				<col width="100px;">
				<col width="150px;">
				<col width="300px;">
				<col width="570px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">no</th>
					<th>템플릿구분</th>
					<th>템플릿명</th>
					<th style="min-width: 200px;">(알림톡)템플릿 Key<br>(알림톡)발신자 Key</th>
					<th>발신프로필명<br/>(SMS)발신번호<br/>(SMS)무료수신거부</th>
					<th>(SMS)제목<br/>내용</th>
					<th>버튼 설정(최대 5개)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"><!-- t_no -->
						-
					</td>
					<td class="text-center"><!-- 템플릿 구분 -->
						<select id="new_temp_type" name="new_temp_type" class="form-control">
							<{foreach from=$crm_temp_type_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 템플릿명 -->
						<input type="text" id="new_title" class="new_title" name="new_title" style="width: 180px; line-height: 20px; padding-left: 5px;" value="">
					</td>
					<td class="text-left"><!-- (알림톡)템플릿 Key<br>(알림톡)발신자 Key -->
						<input type="text" id="new_temp_key" class="new_temp_key new-crm-at" name="new_temp_key" style="width: 180px; line-height: 20px; padding-left: 5px;" value="">
						<br>
						<input type="text" id="new_send_key" class="new_send_key new-crm-at" name="new_send_key" style="width: 180px; line-height: 20px; padding-left: 5px;" value="">
					</td>
					<td class="text-left"><!-- 발신프로필명/(SMS)발신번호/(SMS)무료수신거부 -->
						<div class="new-crm-at">
							<span class="tag_name">발신프로필명</span>
							<select id="new_send_name" name="new_send_name" class="form-control new_send_name">
								<{foreach from=$crm_send_name_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</div>
						<div class="new-crm-sms">
							<span class="tag_name">발신프로필명</span>
							<input type="text" name="new_send_phone_name" id="new_send_phone_name" class="new_send_phone_name" style="width: 130px; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" value="" placeholder="발신프로필명">
							<span class="tag_name">발신번호</span>
							<input type="text" name="new_send_phone" id="new_send_phone" class="new_send_phone" style="width: 130px; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" value="" placeholder="발신번호">
						</div>
					</td>
					<td><!-- 제목/내용 -->
						<span class="tag_name new-crm-sms">제목</span>
						<input type="text" name="new_subject" id="new_subject" class="new_subject new-crm-sms" style="width: 98%; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" value="" placeholder="제목">
						<span class="tag_name">내용</span>
						<textarea name="new_content" id="new_content" style="width: 290px; height: 100px;" class="textarea_work_message" placeholder="내용"></textarea>
					</td>
					<td><!-- 버튼설정 -->
						<div class="new-btn-body new-crm-at" style="overflow: hidden; clear: both;">

						</div>
						<div class="new-btn-form new-crm-at" style="overflow: hidden; clear: both;">
							<select name="add_btn_type" id="add_btn_type" style="float: left; width: 100px; line-height: 20px; padding: 4px;">
								<{foreach from=$crm_btn_type_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<input type="text" name="add_caption" id="add_caption" value="" placeholder="CAPTION" style="float: left; width: 150px; line-height: 20px; padding-left: 3px;">
							<span style="float: left;line-height: 28px; margin-right: 3px;"> :: </span>
							<input type="text" name="add_url" id="add_url" value="" placeholder="URL" style="float: left; width: 240px; line-height: 20px; padding-left: 3px;">
							<button type="button" onclick="newBtnList()" style="margin-top: 4px;">
								<img src="./images/icon/add_kor.png" />
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="padding: 0; margin: 0;">
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="addCrmSetCheck()" style="width: 100%; font-size:12px; line-height: 21px; display: table; margin: 0 auto;" >템플릿 설정 추가하기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped table-bordered main-table" style="margin-top: 30px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="40px;">
			<col width="100px;">
			<col width="200px;">
			<col width="200px;">
			<col width="150px;">
			<col width="300px;">
			<col width="570px;">
			<col width="80px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<th scope="col">no</th>
			<th scope="col">템플릿 구분</th>
			<th scope="col">템플릿명</th>
			<th scope="col">(알림톡)템플릿 Key<br>(알림톡)발신자 Key</th>
			<th>발신프로필명<br/>(SMS)발신번호<br/>(SMS)무료수신거부</th>
			<th scope="col">(SMS)제목<br/>내용</th>
			<th scope="col">버튼 설정(최대5개)</th>
			<th scope="col">작성일시</th>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$crm_template_list item=crm_template}>
				<tr>
					<form name="apply_frm<{$crm_template.t_no}>" id="apply_frm<{$crm_template.t_no}>" class="list_form" method="post" action="crm_template_list.php">
						<td class="text-center"><!-- t_no -->
							<{$crm_template.t_no}>
						</td>
						<td class="text-center"><!-- 구분 -->
							<{$crm_temp_type_option[$crm_template.temp_type]}>
							<br/>
							<a href="javascript:void(0)" onclick="openCrmTest('<{$crm_template.t_no}>')" style="text-decoration: unset; color: white; background: #999; display: inline-block; padding: 5px 10px; margin-top: 5px; border-radius: 5px; font-weight: bold;">미리보기<br/>(테스트)</a>
						</td>
						<td class="text-center"><!-- 템플릿명 -->
							<input type="text" name="title" onchange="save_el('<{$crm_template.t_no}>', 'modify_title', this);"  value="<{$crm_template.title}>" style="width: 180px; line-height: 20px; padding-left: 5px;" />
						</td>
						<td class="text-center"><!-- (알림톡)템플릿 Key/(알림톡)발신자 Key -->
							<{if $crm_template.temp_type == 'AT'}>
								<input type="text" name="temp_key" onchange="save_el('<{$crm_template.t_no}>', 'modify_temp_key', this);"  value="<{$crm_template.temp_key}>" style="width: 180px; line-height: 20px; padding-left: 5px;" />
								<br>
								<input type="text" name="send_key" onchange="save_el('<{$crm_template.t_no}>', 'modify_send_key', this);"  value="<{$crm_template.send_key}>" style="width: 180px; line-height: 20px; padding-left: 5px;" />
							<{/if}>
						</td>
						<td class="text-left"><!-- 발신프로필명/(SMS)발신번호/(SMS)무료수신거부 -->
							<span class="tag_name">발신프로필명</span>
							<input type="text" name="send_name" onchange="save_el('<{$crm_template.t_no}>', 'modify_send_name', this);"  value="<{$crm_template.send_name}>" style="width: 130px; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" placeholder="발신프로필명"/>
							<{if $crm_template.temp_type == 'SMS'}>
								<span class="tag_name">발신번호</span>
								<input type="text" name="send_phone" onchange="save_el('<{$crm_template.t_no}>', 'modify_send_phone', this);"  value="<{$crm_template.send_phone}>" style="width: 130px; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" placeholder="발신번호" />
							<{/if}>
						</td>
						<td class="text-left"><!-- 제목/내용 -->
							<{if $crm_template.temp_type == 'SMS'}>
							<span class="tag_name">제목</span>
							<input type="text" name="subject" onchange="save_el('<{$crm_template.t_no}>', 'modify_subject', this);"  value="<{$crm_template.subject}>" style="width: 98%; line-height: 20px; padding-left: 5px;margin-bottom: 5px;" placeholder="제목" />
							<{/if}>
							<span class="tag_name">내용</span>
							<textarea name="content" onchange="save_el('<{$crm_template.t_no}>', 'modify_content', this);" style="width: 290px; height: 100px;" placeholder="내용"><{$crm_template.content}></textarea>
						</td>
						<td class="text-center"><!-- 버튼 최대 5개 -->
							<{if $crm_template.temp_type == 'AT'}>
								<div class="btn-body-<{$crm_template.t_no}>" style="overflow: hidden; clear: both;">
									<{if $crm_template.btn_caption_list}>
										<{assign var="btn_idx" value=0}>
										<{foreach from=$crm_template.btn_caption_list item=btn_caption}>
											<div class='btn_list_wrap btn_list_wrap_<{$crm_template.t_no}>'>
												<select name="btn_type[]" class="btn_type">
													<{foreach from=$crm_btn_type_option key=key item=label}>
														<option value="<{$key}>" <{if $crm_template.btn_type_list[$btn_idx] == $key}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
												<input type='text' name='btn_caption[]' class='btn_caption' value='<{$btn_caption}>' >
												<span> :: </span>
												<input type='text' name='btn_url[]' class='btn_url' value='<{$crm_template.btn_url_list[$btn_idx]}>' >
												<button type='button' onclick='delBtnList(this)'><img src='./images/icon/delete_kor.png'/></button>
											</div>
											<{assign var="btn_idx" value=$btn_idx+1}>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="btn-form" style="overflow: hidden; clear: both;">
									<select name="add_btn_type" id="add_btn_type_<{$crm_template.t_no}>" style="float: left; width: 100px; line-height: 20px; padding: 4px;">
										<{foreach from=$crm_btn_type_option key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
										<{/foreach}>
									</select>
									<input type="text" name="add_caption" id="add_caption_<{$crm_template.t_no}>" value="" placeholder="CAPTION" style="float: left; width: 150px; line-height: 20px; padding-left: 3px;">
									<span style="float: left;line-height: 28px; margin-right: 3px;"> :: </span>
									<input type="text" name="add_url" id="add_url_<{$crm_template.t_no}>" value="" placeholder="URL" style="float: left; width: 240px; line-height: 20px; padding-left: 3px;">
									<button type="button" onclick="addBtnList('<{$crm_template.t_no}>')" style="float: left; margin-top: 4px;">
										<img src="./images/icon/add_kor.png" />
									</button>
									<button type="button" onclick="saveBtnList('<{$crm_template.t_no}>','<{$crm_template.btn_key}>')" style="background: #333; color: white; font-size: 11px; padding: 3px 5px; font-weight: bold; float: right; margin-top: 4px;">설정저장</button>
								</div>
							<{/if}>
						</td>
						<td class="text-center"><!-- 작성일시 -->
							<{$crm_template.regdate}>
						</td>
					</form>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="8" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="8" class="paging_wrap">
				<div class="paging_wrap">
					<{$page_list}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<form name="btn_form" id="btn_form" class="btn_form" action="crm_template_list.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="modify_btn_info">
		<input type="hidden" name="crm_t_no" id="crm_t_no" value="">
		<input type="hidden" name="crm_btn_key" id="crm_btn_key" value="">
		<input type="hidden" name="crm_btn_type" id="crm_btn_type" value="">
		<input type="hidden" name="crm_btn_url" id="crm_btn_url" value="">
		<input type="hidden" name="crm_btn_caption" id="crm_btn_caption" value="">
	</form>

</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
		$("#new_temp_type").change(function(){
			if($(this).val() == 'AT'){
			    $(".new-crm-at").show();
                $(".new-crm-sms").hide();
			}else{
			    $(".new-crm-sms").show();
                $(".new-crm-at").hide();
            }
		});
    });


    function searchList(){
        document.search_form.submit();
    }

    function addCrmSetCheck()
	{
        var f = document.forms['new_crm_temp_frm'];

        if(!$('#new_temp_type').val()){
            alert("템플릿 구분값을 선해주세요");
            return;
        }

        if(!$('#new_title').val()){
            alert("템플릿명을 입력해주세요");
            return;
        }

        if($('#new_temp_type').val() == 'AT')
        {
            if(!$('#new_temp_key').val()){
                alert("템플릿 Key값을 입력해주세요");
                return;
            }

            if(!$('#new_send_key').val()){
                alert("발신자 Key값을 입력해주세요");
                return;
            }

            if(!$('#new_send_name').val()){
                alert("발신프로필명을 선택해주세요");
                return;
            }
		}
		else if($('#new_temp_type').val() == 'SMS')
		{
			if(!$('#new_send_phone_name').val()){
				alert("발신프로필명을 입력해주세요");
				return;
			}

			if(!$('#new_send_phone').val()){
				alert("발신번호를 입력해주세요");
				return;
			}

			if(!$('#new_subject').val()){
				alert("(SMS)제목을 입력해주세요");
				return;
			}
		}

        if(!$('#new_content').val()){
            alert("내용을 입력해주세요");
            return;
        }

        f.submit();
    }

    function save_el(t_no, proc, obj)
	{
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("crm_template_list.php", {t_no : t_no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function newBtnList()
	{
        var btn_list_cnt = $(".new_btn_list_wrap").length;

        if(btn_list_cnt > 4){
            alert("5개까지만 등록 할 수 있습니다");
            return;
		}

	    var new_btn_type = $('#add_btn_type').val();
	    var new_caption  = $('#add_caption').val();
        var new_url  	 = $('#add_url').val();

        var html = "<div class='new_btn_list_wrap'>"
            + "<select name='new_btn_type[]' class='new_btn_type'>";

        if(new_btn_type == 'WL'){
            html += "<option value='WL' selected>웹링크</option>"
                + "<option value='AC'>채널추가</option>";
        }else if(new_btn_type == 'AC'){
            html += "<option value='WL'>웹링크</option>"
                + "<option value='AC' selected>채널추가</option>";
        }

        html += "</select>"
            + "<input type='text' name='new_caption[]' class='new_caption' value='" + new_caption + "' >"
            + "<span> :: </span>"
			+ "<input type='text' name='new_url[]' class='new_url' value='" + new_url + "' >"
            + "<button type='button' onclick='delBtnList(this)'><img src='./images/icon/delete_kor.png'/></button>"
            + "</div>";


        $(".new-btn-body").append(html);
        $('#add_btn_type').val('WL');
        $('#add_caption').val('');
        $('#add_url').val('');
	}

    function addBtnList(t_no)
    {
        var btn_list_cnt = $(".btn_list_wrap_"+t_no).length;

        if(btn_list_cnt > 4){
            alert("5개까지만 등록 할 수 있습니다");
            return;
        }

        var add_btn_type = $("#add_btn_type_" + t_no).val();
        var add_caption  = $("#add_caption_" + t_no).val();
        var add_url  	 = $("#add_url_" + t_no).val();

        var html = "<div class='btn_list_wrap btn_list_wrap_"+t_no+"'>"
            + "<select name='btn_type[]' class='btn_type'>";

        if(add_btn_type == 'WL'){
            html += "<option value='WL' selected>웹링크</option>"
                + "<option value='AC'>채널추가</option>";
		}else if(add_btn_type == 'AC'){
			html += "<option value='WL'>웹링크</option>"
				+ "<option value='AC' selected>채널추가</option>";
    	}

    	html += "</select>"
			+ "<input type='text' name='btn_caption[]' class='btn_caption' value='" + add_caption + "' >"
            + "<span> :: </span>"
            + "<input type='text' name='btn_url[]' class='btn_url' value='" + add_url + "' >"
            + "<button type='button' onclick='delBtnList(this)'><img src='./images/icon/delete_kor.png'/></button>"
            + "</div>";


        $(".btn-body-" + t_no).append(html);
        $("#add_btn_type_" + t_no).val('WL');
        $("#add_caption_" + t_no).val('');
        $("#add_url_" + t_no).val('');
    }

    function saveBtnList(t_no, btn_key)
	{
	    if(confirm("버튼 설정을 변경하시겠습니까?")){
            var btn_list_cnt = $(".btn_list_wrap_"+t_no).length;
            var btn_type = "";
            var btn_url  = "";
            var btn_caption = "";

            if(btn_list_cnt > 0){
                $(".btn-body-"+t_no).find(".btn_type").each(function(){
                    btn_type += ","+$(this).val()
                });
                btn_type = btn_type.substr(1);

                $(".btn-body-"+t_no).find(".btn_caption").each(function(){
                    btn_caption += ","+$(this).val()
				});
                btn_caption = btn_caption.substr(1);

                $(".btn-body-"+t_no).find(".btn_url").each(function(){
                    btn_url += ","+$(this).val()
                });
                btn_url = btn_url.substr(1);
			}

            $("#crm_t_no").val(t_no);
            $("#crm_btn_key").val(btn_key);
            $("#crm_btn_type").val(btn_type);
            $("#crm_btn_url").val(btn_url);
            $("#crm_btn_caption").val(btn_caption);

            document.btn_form.submit();
		}
    }

    function delBtnList(obj)
    {
        var btnParent = $(obj).parent();
        btnParent.remove();
    }

    function openCrmTest(t_no)
	{
        window.open('crm_send_test.php?crm_no='+t_no, 'SMS/알림톡 테스트', 'left=50,top=50,width=660,height=780,scrollbars=yes')
	}
</script>
</body>
</html>
