<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}

	.new_btn_list_wrap, .btn_list_wrap{overflow: hidden; clear: both;}
	.new_btn_list_wrap span, .btn_list_wrap span{float: left;line-height: 28px; margin-right: 3px;}
	.new_btn_list_wrap .new_caption, .btn_list_wrap .btn_caption{float: left; width: 80px; line-height: 20px; padding-left: 3px;}
	.new_btn_list_wrap .new_url, .btn_list_wrap .btn_url{float: left; width: 150px; line-height: 20px; padding-left: 3px;}
	.new_btn_list_wrap button{margin-top: 4px;}
	.btn_list_wrap button{float: left; margin-top: 4px;}

	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0; z-index: 10;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="crm_set_list.php" class="form-inline" style="width: 1500px;" autocomplete="off">
		<div class="form-group">
			<label for="sch_crm_no" style="margin-left: 0;">NO</label>
			<input type="text" id="sch_crm_no" class="form-control" name="sch_crm_no" value="<{$sch_crm_no}>" style="width: 100px;" />

			<label for="sch_active">템플릿 상태</label>
			<select id="sch_active" name="sch_active" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_active == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_crm_state">진행상태</label>
			<select id="sch_crm_state" name="sch_crm_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_crm_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_title">설정명</label>
			<input type="text" id="sch_title" class="form-control" name="sch_title" value="<{$sch_title}>" style="width: 150px;" />

			<label for="sch_s_name">담당자</label>
			<input type="text" id="sch_s_name" class="form-control" name="sch_s_name" value="<{$sch_s_name}>" style="width: 100px;" />

			<label for="sch_s_name">발송방법</label>
			<select name="sch_send_method" id="sch_send_method" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_send_method_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_send_method == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_income_type">수신조건</label>
			<select id="sch_income_type" name="sch_income_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_income_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_income_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_send_type">반복</label>
			<select id="sch_send_type" name="sch_send_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_send_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_send_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label for="sch_temp_type" style="margin-left: 0;">템플릿 구분</label>
			<select id="sch_temp_type" name="sch_temp_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$crm_temp_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_temp_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_content">알림 내용</label>
			<input type="text" id="sch_content" class="form-control" name="sch_content" value="<{$sch_content}>" style="width: 200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_memo">메모</label>
			<input type="text" id="sch_memo" name="sch_memo" value="<{$sch_memo}>" class="form-control" style="width: 200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
	</form>

	<form name="new_crm_form" id="new_crm_form" class="new_crm_form" action="crm_set_list.php" method="post" autocomplete="off">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_crm_set">
		<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
			<colgroup>
				<col width="125px;">
				<col width="215px;">
				<col width="80px;">
				<col width="100px;">
				<col width="450px;">
				<col width="190px;">
				<col width="140px;">
				<col width="170px;">
				<col width="100px;">
				<col width="210px;">
				<col width="100px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th>진행상태</th>
					<th>설정명</th>
					<th>담당자</th>
					<th>발송방식</th>
					<th>수신조건(1개라도 포함 시)</th>
					<th>구매처</th>
					<th>발송방법<br/>종료일</th>
					<th>발송 시기</th>
					<th>템플릿 구분</th>
					<th>템플릿 설정</th>
					<th>발신자</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"><!-- 진행상태 -->
						<select name="new_crm_state" id="new_crm_state">
							<{foreach from=$crm_state_option key=crm_state item=label}>
								<option value="<{$crm_state}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 설정명 -->
						<input type="text" id="new_title" class="new_title" name="new_title" style="line-height: 20px; width:200px;" value="">
					</td>
					<td class="text-center"><!-- 담당자 -->
						<input type="text" id="new_s_name" class="new_s_name" name="new_s_name" style="width: 50px; text-align: center; line-height: 20px;" value="<{$session_name}>">
						<input type="hidden" class="new_s_no" id="new_s_no" name="new_s_no" value="<{$session_s_no}>" required/>
						<input type="hidden" class="new_team" id="new_team" name="new_team" value="<{$session_team}>" required/>
					</td>
					<td class="text-center"><!-- 발송방식 -->
						<select name="new_send_method" id="new_send_method">
							<{foreach from=$crm_send_method_option key=key item=label}>
							<option value="<{$key}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-left new_income_wrapper"><!-- 수신조건 -->
						<select name="new_income_type" id="new_income_type" style="float: left; width: 111px;" required>
							<option value="">::선택::</option>
							<{foreach from=$crm_income_type_option key=crm_income item=label}>
								<option value="<{$crm_income}>" ><{$label}></option>
							<{/foreach}>
						</select>
						<div class="crm-income-type-prd crm-income-type-all" style="display: none;"><!-- 수신조건 상품일경우-->
							<div>
								<a href="javascript:void(0)" onclick="open_quick_sel('cms', 'prd_1')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
								<input type="text" class="input_type5 new_prd_name" id="new_name_prd_1" name="new_prd_name[]" attr-key="1" style="float: left; width: 240px;" required/>
								<input type="hidden" name="new_prd_no[]" class="new_prd_no" id="new_no_prd_1" value="" required>
								<input type="hidden" id="attr-prd-key" value="1" />
								<button type="button" onclick="addPrdColumn()" style="float: left; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;">+</button>
							</div>
						</div>
						<div class="crm-income-type-unit crm-income-type-all" style="display: none;"><!-- 수신조건 구성품목일경우-->
							<div>
								<a href="javascript:void(0)" onclick="open_quick_sel('cms_unit', 'unit_1')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
								<input type="text" class="input_type5 new_unit_name" id="new_name_unit_1" name="new_unit_name[]" attr-key="1" style="float: left; width: 240px;" required/>
								<input type="hidden" name="new_unit[]" class="new_unit" id="new_no_unit_1" value="" required>
								<input type="hidden" id="attr-unit-key" value="1" />
								<button type="button" onclick="addUnitColumn()" style="float: left; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;">+</button>
							</div>
						</div>
						<div class="send-method-2-detail" style="clear: both; overflow: hidden; margin-top: 20px; display: none;">
							<label for="new_stock_s_date" style="margin-bottom: 0;float: left;line-height: 20px;margin-top: 5px;margin-right: 5px;">발송처리일</label>
							<input type="text" name="new_stock_s_date" id="new_stock_s_date" class="date-picker" style="float: left; width: 100px; line-height: 20px; text-align: center;">
							<span style="float: left;display: inline;line-height: 27px;margin: 0 6px;"> ~ </span>
							<input type="text" name="new_stock_e_date" id="new_stock_e_date" class="date-picker" style="float: left; width: 100px; line-height: 20px; text-align: center;">
						</div>
					</td>
					<td class="text-left"> <!-- 구매처 -->
						<select name="new_dp_company[]" id="new_dp_company" multiple="multiple" style="width: 170px;height: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$crm_dp_company_option key=key item=label}>
							<option value="<{$key}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 발송방법 종료일 -->
						<select name="new_send_type" id="new_send_type" required>
							<{foreach from=$crm_send_type_option key=send_type item=label}>
								<{if $send_type == '1'}>
								<option value="<{$send_type}>" ><{$label}></option>
								<{/if}>
							<{/foreach}>
						</select>
						<div class="crm-send-time-repeat crm-send-time-all" style="display: none; clear: both; overflow: hidden;">
							종료일 : <input type="text" name="new_send_e_date" id="new_send_e_date" class="date-picker" value="" style="width: 80px;line-height: 20px; text-align: center;">
						</div>
					</td>
					<td class="text-left"><!-- 발송 시기 -->
						<div class="send-method-1-detail">
							<select name="new_send_time" style="float: left;">
								<{foreach from=$crm_send_time_option key=send_time item=label}>
								<option value="<{$send_time}>" ><{$label}></option>
								<{/foreach}>
							</select>
							<span style="float: left;line-height: 35px;margin-right: 5px;">로 부터</span><br>
							<div class="crm-send-time-one crm-send-time-all" style="float: left;"><!-- 1회 -->
								<input type="text" name="new_send_value_one" id="new_send_value_one" value="" style="float: left;width: 40px;line-height: 20px;text-align: right; padding-right: 3px;">
								<span style="float: left;line-height: 28px;">일 후</span><br/>
							</div>
						</div>
						<div style="clear: both;">
							<select class="form-control new_exp_hour" name="new_exp_hour" id="new_exp_hour" style="width:50px; height:25px; float: left;">
								<{foreach from=$crm_hour_option item=hour}>
									<{if $hour > 8 && $hour < 22}>
									<option value="<{$hour}>"><{$hour}></option>
									<{/if}>
								<{/foreach}>
							</select>
							<span style="float: left;line-height: 28px; margin-right: 5px;">시</span>
							<select class="form-control new_exp_min" name="new_exp_min" id="new_exp_min" style="width:50px; height:25px; float: left;">
								<{foreach from=$crm_min_option item=min}>
								<option value="<{$min}>"><{$min}></option>
								<{/foreach}>
							</select>
							<span style="float: left;line-height: 28px;">분</span>
						</div>
					</td>
					<td class="text-center"><!-- 템플릿 구분 -->
						<input type="text" name="new_temp_type_name" id="new_temp_type_name" value="" style="width: 80px;" disabled>
						<input type="hidden" name="new_temp_type" id="new_temp_type" value="">
					</td>
					<td><!-- 템플릿 설정 -->
						<select name="new_temp_no" id="new_temp_no" style="width: 190px;">
							<option value="">::전체::</option>
							<{foreach from=$crm_temp_list key=t_no item=label}>
							<option value="<{$t_no}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 발신자 -->
						<input type="text" name="new_send_name" id="new_send_name" value="" style="width: 80px;" disabled>
					</td>
				</tr>
				<tr>
					<td colspan="11" style="padding: 0; margin: 0;">
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="addCrmSetCheck()" style="width: 100%; font-size:12px; line-height: 21px; display: table; margin: 0 auto;" >고객알림 설정 추가하기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="40px;">
			<col width="125px;">
			<col width="215px;">
			<col width="60px;">
			<col width="100px;">
			<col width="450px;">
			<col width="95px;">
			<col width="95px;">
			<col width="170px;">
			<col width="70px;">
			<col width="200px;">
			<col width="240px;">
			<col width="80px;">
			<col width="150px;">
			<col width="100px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<th scope="col">no</th>
			<th scope="col">진행상태</th>
			<th scope="col">설정명</th>
			<th scope="col">담당자</th>
			<th scope="col">발송방식</th>
			<th scope="col">수신 조건(1개라도 포함시)</th>
			<th scope="col">구매처</th>
			<th scope="col">반복<br/>종료일</th>
			<th scope="col">발송 시기</th>
			<th scope="col">템플릿 구분</th>
			<th scope="col">알림 내용</th>
			<th scope="col">버튼내용</th>
			<th scope="col">작성일시</th>
			<th scope="col">메모</th>
			<th scope="col">발신자</th>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$crm_set_list item=crm_set}>
				<tr>
					<form name="apply_frm<{$crm_set.crm_no}>" id="apply_frm<{$crm_set.crm_no}>" class="list_form" method="post" action="crm_set_list.php">
						<td class="text-center"><!-- crm_no -->
							<{$crm_set.crm_no}>
						</td>
						<td class="text-center"><!-- 진행상태 -->
							<select name="crm_state" onchange="save_el('<{$crm_set.crm_no}>', 'modify_crm_state', this)" <{if $crm_set.crm_state == '2'}>style="color:red;"<{/if}> <{if $is_freelancer}>disabled<{/if}>>
								<option value="">::전체::</option>
								<{foreach from=$crm_state_option key=key item=label}>
								<option value="<{$key}>" <{if $crm_set.crm_state == $key}>selected<{/if}> <{if $key == '2'}>style="color:red;"<{else}>style="color:black;"<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center"><!-- 설정명 -->
							<input type="text" name="title" style="line-height: 20px; width:200px;" onchange="save_el('<{$crm_set.crm_no}>', 'modify_title', this);"  value="<{$crm_set.title}>" />
						</td>
						<td class="text-center"><!-- 담당자 -->
							<{$crm_set.s_name}>
						</td>
						<td class="text-center"><!-- 발송방법 -->
							<select name="send_method" disabled>
								<{foreach from=$crm_send_method_option key=key item=label}>
								<option value="<{$key}>" <{if $crm_set.send_method == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-left"><!-- 수신 조건 (1개라도 포함 시) -->
							<div style="overflow: hidden;">
								<div style="float: left; display: inline-block; width: 90px;">
									<span style="width: 75px;display: inline-block;"><{$crm_income_type_option[$crm_set.income_type]}></span> ::
								</div>
								<div style="float: left; display: inline-block; width: 345px; font-size: 10px;">
									<{if $crm_set.income_value_list}>
										<{foreach from=$crm_set.income_value_list item=income_val}>
											<{$income_val}><br/>
										<{/foreach}>
									<{/if}>
								</div>
							</div>
						</td>
						<td class="text-center">
							<{if $crm_set.dp_company_list}>
								<{foreach from=$crm_set.dp_company_list item=dp_company}>
									<{$crm_dp_company_option[$dp_company]}><br/>
								<{/foreach}>
							<{else}>
								전체
							<{/if}>
						</td>
						<td class="text-center"><!-- 발송방법 종료일 -->
							<{$crm_send_type_option[$crm_set.send_type]}>
							<{if $crm_set.send_e_date}>
							<br/>
								<input type="text" name="send_e_date" class="date-picker" value="<{$crm_set.send_e_date}>"  onchange="save_el('<{$crm_set.crm_no}>', 'modify_send_e_date', this);" style="width: 80px;line-height: 20px; text-align: center;" />
							<{/if}>
						</td>
						<td class="text-left"><!-- 발송 시기 -->
							<{if $crm_set.send_method == '1'}>
								<select name="send_time" onchange="save_el('<{$crm_set.crm_no}>', 'modify_send_time', this);">
									<{foreach from=$crm_send_time_option key=send_time item=label}>
									<option value="<{$send_time}>" <{if $crm_set.send_time == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
								<span style="line-height: 28px;margin-right: 5px;">로 부터</span>
								<br>
								<input type="text" name="send_value" value="<{$crm_set.send_value}>" onchange="save_el('<{$crm_set.crm_no}>', 'modify_send_value', this);"  style="width: 40px;line-height: 20px;text-align: right; padding-right: 3px;">
								<{if $crm_set.send_type == '1'}>
									<span style="line-height: 28px;">일 후</span><br/>
								<{elseif $crm_set.send_type == '2'}>
									<span style="line-height: 28px;">일 마다</span>
								<{/if}>
							<{else}>
								<input type="text" name="send_date" value="<{$crm_set.send_date}>" onchange="save_el('<{$crm_set.crm_no}>', 'modify_send_date', this);" class="date-picker" style="width: 140px;line-height: 20px;text-align: center; padding-right: 3px;">
							<{/if}>
							<div style="clear: both;">
								<select class="form-control new_exp_hour" name="exp_hour" style="width:54px; height:25px; float: left;" onchange="save_el('<{$crm_set.crm_no}>', 'modify_exp_hour', this);">
									<{foreach from=$crm_hour_option item=hour}>
									<{if $hour > 8 && $hour < 22}>
										<option value="<{$hour}>" <{if $crm_set.exp_hour == $hour}>selected<{/if}>><{$hour}></option>
									<{/if}>
									<{/foreach}>
								</select>
								<span style="float: left;line-height: 28px; margin-right: 5px;">시</span>
								<select class="form-control new_exp_min" name="exp_min" style="width:54px; height:25px; float: left;" onchange="save_el('<{$crm_set.crm_no}>', 'modify_exp_min', this);">
									<{foreach from=$crm_min_option item=min}>
									<option value="<{$min}>" <{if $crm_set.exp_min == $min}>selected<{/if}>><{$min}></option>
									<{/foreach}>
								</select>
								<span style="float: left;line-height: 28px;">분</span>
							</div>
						</td>
						<td class="text-center"><!-- 템플릿 구분 -->
							<{$crm_set.temp_type_name}>
						</td>
						<td class="text-center"><!-- 알림 내용 -->
							<textarea name="content" style="width: 180px; height: 100px;" readonly><{$crm_set.content}></textarea>
						</td>
						<td class="text-left"><!-- 버튼 최대 5개 -->

							<div class="btn-body-<{$crm_set.crm_no}>" style="overflow: hidden; clear: both;">
								<{if $crm_set.btn_caption_list}>
									<{assign var="btn_idx" value=0}>
									<{foreach from=$crm_set.btn_caption_list item=btn_caption}>
										<div class='btn_list_wrap btn_list_wrap_<{$crm_set.crm_no}>'>
											<b><{$btn_caption}></b><br/>
											<span><{$crm_set.btn_url_list[$btn_idx]}></span>
										</div>
										<{assign var="btn_idx" value=$btn_idx+1}>
									<{/foreach}>
								<{/if}>
							</div>
						</td>
						<td class="text-center"><!-- 작성일시 -->
							<{$crm_set.reg_date}><br/>
							<{$crm_set.reg_time}>
						</td>
						<td class="text-center"><!-- 메모 -->
							<textarea name="memo" onchange="save_el('<{$crm_set.crm_no}>', 'modify_memo', this);" style="width: 130px; height: 100px;"><{$crm_set.memo}></textarea>
						</td>
						<td class="text-center"><!-- 발신자 -->
							<{$crm_set.send_name}>
						</td>
					</form>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="14" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="14" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
		$("#new_income_type").change(function(){
            $('.crm-income-type-all').hide();
            if($(this).val() == '1'){
                $('.crm-income-type-prd').show();
			}else if($(this).val() == '2'){
                $('.crm-income-type-unit').show();
            }
		});

        $("#new_temp_no").change(function(){
            $.ajax({
                url: "/v1/api/crm.temp.api.php",
                type: 'POST',
                data: {temp_no: $(this).val()}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;
                $("#new_send_name").val(result.new_send_name);
                $("#new_temp_type_name").val(result.new_temp_type_name);
                $("#new_temp_type").val(result.new_temp_type);
            });
        });

        $("#new_s_name").autocomplete({
            source: function( request, response ) {
                $("#new_s_no").val('');
                $("#new_team").val('');
                $.ajax({
                    url: "/v1/api/staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.ss_label,
                                sname : item.s_name,
                                team : item.team
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#new_s_no").val(ui.item.sno);
                $(this).val(ui.item.sname);
                $('#new_team').val(ui.item.team);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });


		addAutoLoad("prd");
		addAutoLoad("unit");
    });

    function searchList(){
        document.search_form.submit();
    }

    function addCrmSetCheck()
	{
        var f = document.forms['new_crm_form'];

        if(!$('#new_crm_state').val()){
            alert("진행상태를 선택해주세요");
            return;
        }

        if(!$('#new_title').val()){
            alert("설정명을 입력해주세요");
            return;
        }

        if(!$('#new_s_no').val() || !$('#new_team').val()){
            alert("담당자를 입력해주세요");
            return;
        }

        if(!$('#new_send_method').val()){
            alert("발송방식을 선택해 주세요");
            return;
        }

        if(!$('#new_income_type').val()){
            alert("수신조건을 선택해주세요");
            return;
        }else{
            if($('#new_income_type').val() == '1' && !emptyProduct()){
                alert("수신조건에서 상품을 선택해주세요");
                return;
			}else if($('#new_income_type').val() == '2' && !emptyUnit()){
                alert("수신조건에서 구성품목을 선택해주세요");
                return;
			}
		}

        if($('#new_send_method').val() == '2'){
            $('#new_send_type').val(1);

            if($("#new_income_type").val() != '3'){
				if(!$('#new_stock_s_date').val() || !$('#new_stock_e_date').val()){
					alert("발송처리일을 입력해주세요");
					return;
				}
			}

            if(!$('#new_send_date').val()){
                alert("발송시기 날짜를 선택해주세요");
                return;
            }
        }else{
            if(!$('#new_send_type').val()){
                alert("발송방법을 선택해주세요");
                return;
            }else{
                if($('#new_send_type').val() == '1' && !$('#new_send_value_one').val()){
                    alert("발송시기 값을 입력해주세요");
                    return;
                }
            }
		}

        if($('#new_temp_no').val() < 1){
            alert("템플릿 설정을 선택해주세요");
            return;
        }

        f.submit();
    }

    function save_el(crm_no, proc, obj)
	{
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("crm_set_list.php", {crm_no: crm_no, process: proc, val: val}, function (result) {
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
    }

	function addPrdColumn()
	{
		var attrKey = Number($("#attr-prd-key").val()) + 1;
		var addHtml = "<div class='prd-wrap prd-wrap-"+ attrKey +"' style='clear: both; overflow: hidden;padding-left: 115px;'>"
				+ "<a href='javascript:void(0)' onclick=\"open_quick_sel('cms', 'prd_"+attrKey+"')\" style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
				+ "<input type='text' class='input_type5 new_prd_name' id='new_name_prd_"+ attrKey +"' name='new_prd_name[]' attr-key='"+ attrKey +"' style='float: left; width: 240px;' required/>"
				+ "<input type='hidden' name='new_prd_no[]' class='new_prd_no' id='new_no_prd_"+ attrKey +"' value='' required/>"
				+ "<button type='button' onclick=\"delProductColumn('prd', "+ attrKey +")\" style='float: left; padding: 5px 12.5px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button></div>";

		$("#attr-prd-key").val(attrKey);
		$('.crm-income-type-prd').append(addHtml);

		addAutoLoad("prd");
	}

	function addUnitColumn()
	{
		var attrKey = Number($("#attr-unit-key").val()) + 1;
		var addHtml = "<div class='unit-wrap unit-wrap-"+ attrKey +"' style='clear: both; overflow: hidden;padding-left: 115px;'>"
				+ "<a href='javascript:void(0)' onclick=\"open_quick_sel('cms_unit', 'unit_"+attrKey+"')\" style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
				+ "<input type='text' class='input_type5 new_unit_name' id='new_name_unit_"+ attrKey +"' name='new_unit_name[]' attr-key='"+ attrKey +"' style='float: left; width: 240px;' required/>"
				+ "<input type='hidden' name='new_unit[]' class='new_unit' id='new_no_unit_"+ attrKey +"' value='' required/>"
				+ "<button type='button' onclick=\"delProductColumn('unit', "+ attrKey +")\" style='float: left; padding: 5px 12.5px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button></div>";

		$("#attr-unit-key").val(attrKey);
		$('.crm-income-type-unit').append(addHtml);

		addAutoLoad("unit");
	}

	function delProductColumn(type, key)
	{
		$("."+type+"-wrap-"+key).remove();
	}

	function addAutoLoad(type)
	{
		if(type == 'prd'){
			$(".new_prd_name").autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "/v1/api/product_cms_auto.api.php",
						dataType: "json",
						data: {
							prd_name:request.term
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								return {
									prd_no : item.prd_no,
									label  : item.prd_name
								}
							}));
						}
					});
				},
				select: function( event, ui ) {
					var key = $(this).attr('attr-key');

					$("#new_no_prd_"+key).val("");
					if(!checkAddProduct(type, ui.item.prd_no)){
						alert("이미 추가된 상품입니다.");
						return false;
					}
					$("#new_no_prd_"+key).val(ui.item.prd_no);
				},
				focus: function( event, ui ) {
					return false;
				},
				minLength: 1
			});
		}
		else if(type == 'unit')
		{
			$(".new_unit_name").autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "/v1/api/product_cms.option.auto.api.php",
						dataType: "json",
						data: {
							option_name:request.term,
							option_type: 'sku'
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								return {
									label  : item.option_name,
									option_no : item.option_no,
									option_name : item.option_name
								}
							}));
						}
					});
				},
				select: function( event, ui ) {
					var key = $(this).attr('attr-key');

					$("#new_no_unit_"+key).val("");
					if(!checkAddProduct(type, ui.item.option_no)){
						alert("이미 추가된 구성품입니다.");
						return false;
					}
					$("#new_no_unit_"+key).val(ui.item.option_no);
				},
				focus: function( event, ui ) {
					return false;
				},
				minLength: 1
			});
		}
	}


	function open_quick_sel(type, idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type='+type+'&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#new_name_"+idx))
		{
			var chk_type = idx.split("_");
			if(!checkAddProduct(chk_type[0], prd_no)){
				alert("이미 추가된 상품입니다.");
				return false;
			}

			$("#new_name_"+idx).val(prd_name);
			$("#new_no_"+idx).val(prd_no);
		}
	}

	function checkAddProduct(type, prd_no)
	{
		var result = true;

		if(type == 'prd')
		{
			$(".new_prd_no").each(function(idx, item){
				var chk_prd_no = $(item).val();
				if(chk_prd_no == prd_no){
					result = false;
				}
			});
		}
		else if(type == 'unit')
		{
			$(".new_unit").each(function(idx, item){
				var chk_unit = $(item).val();
				if(chk_unit == prd_no){
					result = false;
				}
			});
		}

		return result;
	}

	function emptyProduct()
	{
		var result = true;

		$(".new_prd_no").each(function(idx, item){
			var chk_prd_no = $(item).val();
			if(chk_prd_no == ""){
				result = false;
			}
		});

		return result;
	}

	function emptyUnit()
	{
		var result = true;

		$(".new_unit").each(function(idx, item){
			var chk_unit = $(item).val();
			if(chk_unit == ""){
				result = false;
			}
		});

		return result;
	}
</script>
</body>
</html>
