<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="crm_log_list.php" method="get" style="width: 1500px;" autocomplete="off">
		<div class="form-group">
			<label for="sch_month" style="margin-left: 0;">연도</label>
			<input type="text" name="sch_month" id="sch_month" class="form-control month-picker" value="<{$sch_month}>" style="font-size: 12px;">

			<label for="sch_dest_phone">수신번호</label>
			<input type="text" name="sch_dest_phone" id="sch_dest_phone" class="form-control" value="<{$sch_dest_phone}>" style="width: 200px;" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>

			<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '42'}>
				<a href="sms_del_hp.php?type=kakao" onclick="if(confirm('수신번호를 삭제하시겠습니까?')){return true;}else{return false;}" class="btn_style1" style="padding: 5px;background: red;color: white;display: inline-block;font-size: 11px;margin-left: 100px;font-weight: bold;"><span>[6개월 이상 수신번호 삭제]</span></a>
			<{/if}>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="80px;">
			<col width="80px;">
			<col width="80px;">
			<col width="80px;">
			<col width="100px;">
			<col width="80px;">
			<col width="100px;">
			<col width="60px;">
			<col width="60px;">
			<col width="240px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">MSG_ID</th>
				<th scope="col">타입</th>
				<th scope="col">발송시각</th>
				<th scope="col">도착시각</th>
				<th scope="col">발송번호</th>
				<th scope="col">수신자</th>
				<th scope="col">수신번호</th>
				<th scope="col">결과</th>
				<th scope="col">상세결과</th>
				<th scope="col">메시지</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$crm_log_list item=crm_log}>
				<tr>
					<td class="text-center"><{$crm_log.MSG_ID}></td>
					<td class="text-center"><{$crm_log.MSG_TYPE}></td>
					<td class="text-center"><{$crm_log.SEND_TIME}></td>
					<td class="text-center"><{$crm_log.REPORT_TIME}></td>
					<td class="text-center"><{$crm_log.SEND_PHONE}></td>
					<td class="text-center"><{$crm_log.DEST_NAME}></td>
					<td class="text-center"><{$crm_log.DEST_PHONE}></td>
					<td class="text-center"><{$crm_log.STATUS}></td>
					<td class="text-center"><{$crm_log.CALL_STATUS}></td>
					<td class="text-left"><{$crm_log.MSG_BODY}></td>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="10" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="10" class="paging_wrap">
				<div class="paging_wrap">
					<{$page_list}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->
</body>
</html>
