<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}

	.not-crm-cert-wrapper{background: #BBB !important;}
	.complete-crm-cert-wrapper{background: lightblue !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form  name="search_form" class="form-inline" action="crm_cert_list.php" method="get" autocomplete="off">
		<div class="default_wrap" style="margin-top: 10px; overflow: unset;">
			<div class="form-group">
				<label for="sch_no" style="margin-left: 0;">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style=" width: 80px;">

				<label for="sch_status">진행상태</label>
				<select name="sch_status" id="sch_status" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_status_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_status == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_name">수신자</label>
				<input type="text" name="sch_name" id="sch_name" class="form-control" value="<{$sch_name}>" style="width: 100px;">

				<label for="sch_name">수신번호</label>
				<input type="text" name="sch_hp" id="sch_hp" class="form-control" value="<{$sch_hp}>"  style="width: 100px;">
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_prd_no" style="margin-left: 0;">알림 설정 구성품목</label>
				<select name="sch_prd_no" id="sch_prd_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_prd_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_prd_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_option">필터 제품</label>
				<select name="sch_option" id="sch_option" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_prd_detail_option key=prd_no item=prd_data}>
						<{foreach from=$prd_data key=prd_type item=prd_opt_data}>
							<option value="<{$prd_opt_data.key}>" <{if $sch_option == $prd_opt_data.key}>selected<{/if}>><{$prd_opt_data.title}></option>
						<{/foreach}>
					<{/foreach}>
				</select>

				<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="60px;"> <!-- no -->
			<col width="80px;"> <!-- 진행상태 -->
			<col width="200px;"> <!-- 인증 KEY -->
			<col width="120px;"> <!-- 업데이트 날짜 -->
			<col width="80px;"> <!-- 수신자 -->
			<col width="100px;"> <!-- 수신번호 -->
			<col width="200px;"> <!-- 알림 설정 구성품목 -->
			<col width="400px;"> <!-- 필터 제품 -->
			<col width="80px;"> <!-- 구매일 -->
			<col width="80px;"> <!-- 다음 교체일 -->
			<col width="80px;"> <!-- 알림 주기 -->
			<col width="80px;"> <!-- 알림 시간 -->
			<col width="80px;"> <!-- 알림 종료일 -->
			<col width="80px;"> <!-- 발송리스트 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">no</th>
				<th scope="col">진행상태</th>
				<th scope="col">인증 KEY</th>
				<th scope="col">최근 약관동의 날짜<br/>(업데이트 날짜)</th>
				<th scope="col">수신자</th>
				<th scope="col">수신번호</th>
				<th scope="col">알림 설정 구성품목</th>
				<th scope="col">필터 제품</th>
				<th scope="col">구매일</th>
				<th scope="col">다음 교체일</th>
				<th scope="col">알림 주기</th>
				<th scope="col">알림 시간</th>
				<th scope="col">알림 종료일</th>
				<th scope="col">발송 리스트</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0}>
				<{foreach from=$crm_cert_list item=crm_cert_data}>
					<{assign var=parent_idx value=0}>
					<{assign var=row_val value=$crm_cert_data|count}>
					<{foreach from=$crm_cert_data item=crm_cert}>
						<tr class="crm-cert-wrapper <{if $crm_cert.cert_status == '2'}>not-crm-cert-wrapper<{elseif $crm_cert.prd_status == '3'}>complete-crm-cert-wrapper<{/if}>">
							<td class="text-center"><{$crm_cert.cert_prd_no}></td> <!-- no -->
							<{if $parent_idx == 0}>
								<!-- 진행상태 -->
								<td rowspan="<{$row_val}>" class="text-center" <{if $crm_cert.cert_status == '1'}>style="background: yellow; color: red;"<{/if}>>
									<{$crm_cert.cert_status_name}>
								</td>
								<td rowspan="<{$row_val}>" class="text-center"> <!-- 인증 KEY -->
									<{$crm_cert.cert_key}>
								</td>
								<td rowspan="<{$row_val}>" class="text-center"> <!-- 업데이트 날짜 -->
									<{$crm_cert.update}>
								</td>
								<td rowspan="<{$row_val}>" class="text-center"> <!-- 수신자 -->
									<{$crm_cert.name}>
								</td>
								<td rowspan="<{$row_val}>" class="text-center"> <!-- 수신번호 -->
									<{$crm_cert.sch_hp}>
								</td>
							<{/if}>
							<td class="text-left"> <!-- 알림 설정 구성품목 -->
								닥터피엘 <{$crm_cert.prd_name}>
							</td>
							<td class="text-left"> <!-- 필터 제품 -->
								<{$crm_cert.prd_detail_name}>
							</td>
							<td class="text-center"> <!-- 구매일 -->
								<{$crm_cert.base_date}>
							</td>
							<td class="text-center"> <!-- 다음 교체일 -->
								<{$crm_cert.next_date}>
							</td>
							<td class="text-center"> <!-- 알림 주기 -->
								<{$crm_cert.sms_term}>개월
							</td>
							<td class="text-center"> <!-- 알림 시간 -->
								<{$crm_cert.set_time}>:00
							</td>
							<td class="text-center"> <!-- 알림 종료일 -->
								<{$crm_cert.last_date}>
							</td>
							<td class="text-center"> <!-- 발송리스트 -->
								<{if $crm_cert.prd_status == 3}>
									<a href="crm_cert_send_list.php?sch_cert_no=<{$crm_cert.cert_no}>&sch_cert_prd_no=<{$crm_cert.cert_prd_no}>" target="_blank">[보기]</a>
								<{/if}>
							</td>
						</tr>
						<{assign var=parent_idx value=$parent_idx+1}>
					<{/foreach}>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="14" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="14" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- //admin_content -->
</body>
</html>
