<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}

	.send_wait{background: yellow; color: red;}
	.send_cancel{color: red;}
	.send_finish{background: #ddd !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" class="form-inline" action="crm_cert_send_list.php" method="get" autocomplete="off">
		<div>
			<div class="form-group">
				<label for="sch_cr_no" style="margin-left: 0;">no</label>
				<input type="text" name="sch_cr_no" id="sch_cr_no" class="form-control" value="<{$sch_cr_no}>" style="width: 80px;" />

				<label for="sch_cr_state">진행상태</label>
				<select name="sch_cr_state" id="sch_cr_state" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$crm_send_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_cr_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_out_name">수신자</label>
				<input type="text" name="sch_out_name" id="sch_out_name" class="form-control" value="<{$sch_out_name}>" style="width: 120px;" />

				<label for="sch_out_hp">수신번호</label>
				<input type="text" name="sch_out_hp" id="sch_out_hp" class="form-control" value="<{$sch_out_hp}>" style="width: 120px;" />
			</div>
			<div class="form-group" style="margin-top: 5px;">
				<label for="sch_prd_no" style="margin-left: 0;">알림 설정 구성품목</label>
				<select name="sch_prd_no" id="sch_prd_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$crm_cert_prd_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_prd_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_temp_profile">발신프로필명</label>
				<input type="text" name="sch_temp_profile" id="sch_temp_profile" class="form-control" value="<{$sch_temp_profile}>" style="width: 100px;" />

				<label for="sch_temp_no">템플릿명</label>
				<select name="sch_temp_no" id="sch_temp_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$crm_template_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_temp_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="60px;"> <!-- cr_no -->
			<col width="80px;"> <!-- 진행상태 -->
			<col width="200px;"> <!-- 인증 KEY -->
			<col width="80px;"> <!-- 발송방식 -->
			<col width="80px;"> <!-- 수신자 -->
			<col width="100px;"> <!-- 수신번호 -->
			<col width="200px;"> <!-- 알림설정 구성품목 -->
			<col width="90px;"> <!-- 발신프로필명 -->
			<col width="100px;"> <!-- 예약일시 -->
			<col width="100px;"> <!-- 발송일시 -->
			<col width="100px;"> <!-- 도착일시 -->
			<col width="80px;"> <!-- 결과 -->
			<col width="240px;"> <!-- 템플릿명 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">no</th>
				<th scope="col">진행상태</th>
				<th scope="col">인증 KEY</th>
				<th scope="col">발송방식</th>
				<th scope="col">수신자</th>
				<th scope="col">수신번호</th>
				<th scope="col">알림 설정 구성품목</th>
				<th scope="col">발신프로필명</th>
				<th scope="col">예약일시</th>
				<th scope="col">발송일시</th>
				<th scope="col">도착일시</th>
				<th scope="col">결과</th>
				<th scope="col">템플릿명</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0}>
				<{foreach from=$crm_cert_send_list item=cert_send}>
					<tr class="<{if $cert_send.cr_state == '3'}>send_finish<{/if}>">
						<td class="text-center"> <!-- cr_no -->
							<{$cert_send.cr_no}>
						</td>
						<td class="text-center <{if $cert_send.cr_state == '1'}>send_wait<{elseif $cert_send.cr_state == '4' || $cert_send.cr_state == '5'}>send_cancel<{/if}>" > <!-- 진행상태 -->
							<{$cert_send.cr_state_name}>
						</td>
						<td class="text-center"> <!-- 인증키 -->
							<{$cert_send.cert_key}>
						</td>
						<td class="text-center"> <!-- 발송방식 -->
							<{$cert_send.sms_type_name}>
						</td>
						<td class="text-center"> <!-- 수신자 -->
							<{$cert_send.out_name}>
						</td>
						<td class="text-center"> <!-- 수신번호 -->
							<{$cert_send.out_sch_hp}>
						</td>
						<td class="text-left"> <!-- 알림설정 구성품목 -->
							<{$cert_send.prd_name}>
						</td>
						<td class="text-center"> <!-- 발신 프로필명 -->
							<{$cert_send.ct_profile}>
						</td>
						<td class="text-center"> <!-- 예약일시 -->
							<{$cert_send.exp_date}>
						</td>
						<td class="text-center"> <!-- 발송일시 -->
							<{$cert_send.send_date}>
						</td>
						<td class="text-center"> <!-- 도착일시 -->
							<{$cert_send.report_date}>
						</td>
						<td class="text-center"> <!-- 결과 -->
							<{$cert_send.send_result}>
						</td>
						<td class="text-left"> <!-- 템플릿명 -->
							<{$cert_send.temp_name}>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="13" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="13" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->
</body>
</html>
