<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	button.quick_search_btn{padding:4px 6px;}
	input:disabled{background: #ebebe4;}
	.lightblue-background{background: #DCE6F2;}
	.lightgreen-background{background: #D7E4BD;}
	.f_wd_state:disabled{background-color: #ebebe4;}
</style>

<div class="admin_content">
	<h2 class="title" >
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" action="deposit_list.php" method="get"  autocomplete="off">
		<input type="hidden" name="sch_dp_quick" value="<{$sch_dp_quick}>" />
		<input type="hidden" name="sch" value="<{$sch}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="min-width:1200px;">
			<div>
				<span class="name_tit" style="margin-right: 5px;">입금 받는 계열사 > 계좌명</span>
				<select name="sch_my_c_no" id="sch_my_c_no" class="select_type3" style="width: 160px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_dp_account" id="sch_dp_account" class="select_type3" style="width: 130px;">
					<option value="">::전체::</option>
					<{if $sch_my_c_no && $sch_corp_account_option[$sch_my_c_no]}>
						<{foreach from=$sch_corp_account_option[$sch_my_c_no] key=key item=label}>
							<option value="<{$key}>" <{if $sch_dp_account == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					<{/if}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 5px;">입금 보내는 업체명</span>
				<input type="text" name="sch_c_name" id="sch_c_name" class="input_type1" value="<{$sch_c_name}>" style="width: 300px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<input type="checkbox" name="sch_c_no" <{if $sch_c_no == 'null'}>checked<{/if}> value="null"/>미등록업체
				<br>

				<span class="name_tit" style="margin-right: 5px;">관련 업무</span>
				<select name="sch_prd_no" id="sch_prd_no" style="width:300px; height:28px; padding: 3px 1px; vertical-align: middle;">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_product_option key=key item=dp_product}>
					<option value="<{$key}>" <{if $sch_prd_no == $key}>selected<{/if}>>
					<{$dp_product.k_name_1}> > <{$dp_product.k_name_2}> > <{$dp_product.title}>
					</option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 5px;">입금 제목</span>
				<input type="text" name="sch_subject" id="sch_subject" class="input_type1" value="<{$sch_subject}>" style="width: 180px;" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 4px;">계열사 > 업체명</span>
				<select name="sch_d_my_c_no" id="sch_d_my_c_no" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_d_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<input type="text" name="sch_d_c_name" class="input_type1" value="<{$sch_d_c_name}>" style="width: 140px;" placeholder="업체명" />
				<input type="checkbox" name="sch_d_c_equal" id="sch_d_c_equal" value="1" style="cursor: pointer;" <{if $sch_d_c_equal == '1'}>checked<{/if}>>
				<label for="sch_d_c_equal" style="cursor: pointer;">완전일치</label>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 5px;">예정 입금자명</span>
				<input type="text" name="sch_bk_name" class="input_type1" value="<{$sch_bk_name}>" style="width: 100px;" />
				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
			</div>

			<div>
				<span style="font-weight:bold">[Quick Search]</span>
				<{foreach from=$sch_dp_quick_option key=key item=label}>
					<button type="button" class="btn_small quick_search_btn" onclick="quick_search('<{$key}>');"><{$label}></button>
				<{/foreach}>

				<span id="sch_detail_display_btn_show">
					<button type="button" class="btn_small" onclick="sch_detail_display('show','sch_detail_display',this);" style="width:100px; color:black; background-color:#d5d5d5;">▼ 상세검색 ▼</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" class="btn_small" onclick="sch_detail_display('hide','sch_detail_display',this);" style="width:120px; color:black; background-color:#d5d5d5;">▲ 상세검색(닫기) ▲</button>
				</span>
			</div>

			<div id="sch_detail_display">
				<span class="name_tit">dp_no</span>
				<input type="text" name="sch_dp_no" class="input_type2" value="<{$sch_dp_no}>"/>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">입금상태</span>
				<select name="sch_dp_state" id="sch_dp_state" class="select_type2" style="margin-right:10px">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">입금방식</span>
				<select name="sch_dp_method" id="sch_dp_method" class="select_type2" style="margin-right:10px">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_method_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_method == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">입금완료일</span>
				<input type="text" name="sch_s_dp_date" id="sch_s_dp_date" class="date-picker input_type_date" value="<{$sch_s_dp_date}>" />
				 ~
				<input type="text" name="sch_e_dp_date" id="sch_e_dp_date" class="date-picker input_type_date" value="<{$sch_e_dp_date}>" />
				<br>

				<span class="name_tit" style="margin-right: 5px;">소속부서</span>
				<select name="sch_team" id="sch_team" class="select_type2" style="margin-right:10px">
					<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="">업체 담당자</span>
				<input type="text" name="sch_s_no" class="input_type2" value="<{$sch_s_no}>" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">계산서 발행상태</span>
				<select name="sch_dp_tax_state" id="sch_dp_tax_state" class="select_type2" style="margin-right:10px">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_tax_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_tax_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">수정/환불 여부</span>
				<select name="sch_mod_type" id="sch_mod_type" class="select_type2" style="margin-right:10px">
					<option value="">::전체::</option>
					<{foreach from=$sch_mod_type_option key=key item=label}>
					<option value="<{$key}>"><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">기타</span>
				<select name="sch_dp_etc" id="sch_dp_etc" class="select_type3" style="margin-right:10px;width:190px">
					<option value=""></option>
					<{foreach from=$sch_dp_etc_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_etc == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
			</div>

			<{if $sch == 'Y'}>
				<script>$("#sch_detail_display").show();</script>
				<script>$("#sch_detail_display_btn_show").hide();</script>
				<script>$("#sch_detail_display_btn_hide").show();</script>
			<{else}>
				<script>$("#sch_detail_display").hide();</script>
				<script>$("#sch_detail_display_btn_show").show();</script>
				<script>$("#sch_detail_display_btn_hide").hide();</script>
			<{/if}>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "외주관리자") || permissionNameCheck($session_permission, "마스터관리자")}>
				<tr>
					<td colspan="10" class="list_button">
						<div class="left_wrap"><button class="btn_style1" onclick="location.href='deposit_regist.php?<{$search_url}>'"><span>입금 등록하기</span></button></div>
					</td>
				</tr>
				<{/if}>
				<tr>
					<td colspan="16">
						<div class="left_wrap" style="padding-top: 10px; font-weight: bold; font-size: 13px;">
							<{if $deposit_mon_total_list}>
								<b>#월정산 입금대기(VAT포함)</b>
								<{foreach from=$deposit_mon_total_list item=deposit_mon_total}>
									<a href="javascript:void(0);" onclick="searchMonCompany('<{$deposit_mon_total.c_name}>')"><span style="padding-left: 10pt;color: #808080;">[<{$deposit_mon_total.c_name}></span> <span style="color: #808080;">￦<{$deposit_mon_total.total|number_format:0}>]</span></a>
								<{/foreach}>
							<{/if}>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="10">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
					<td style="text-align: right;color: #0026ff;font-weight: bold; font-size: 14px; padding: 2px 2px;">
						<span style="color: #808080;">￦ <{$total_dp_money}></span><br/>
						￦ <{$total_dp_money_vat}>
					</td>
					<td></td>
					<td style="text-align: right;color: #0026ff;font-weight: bold; font-size: 14px; padding: 2px 2px;">
						<span style="color: #808080;">￦ <{$total_supply_cost}></span><br/>
						￦ <{$total_cost}>
					</td>
					<td colspan="2"></td>
					<td>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" onchange="normal_search();" style="width: 100px;float: right; margin-left: 20px;">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<form name="select_check_form" id="select_check_form" action="deposit_list.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="select_dp_no_list">
						<th class="first" style="min-width:52px;width:52px; height: 70px;">
							<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
						</th>
						<th style="min-width:52px;width:52px;">dp_no</th>
						<th style="min-width:80px;width:90px;">작성일<br />작성자</th>
						<th style="min-width:120px;width:120px;">
							입금상태
							<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")}>
								<br/>
								<select name="select_state" id="select_state" class="select_type1" onchange="modifySelectState();" style="background-color:lightgray;">
									<option value="">::선택::</option>
									<{foreach from=$sch_dp_state_option key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
							<{/if}>
						</th>
						<th style="min-width:85px;width:92px;">
							입금완료일<br>(월정산:등록일)
							<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")}>
								<br/>
								<input type="text" name="select_date" id="select_date" class="input_type_date_small date-picker" onchange="modifySelectDate();" style="font-size: 12px;">
							<{/if}>
						</th>
						<th style="min-width:110px;width:130px;">입금 받은 계열사<br/>계좌명</th>
						<th style="min-width:220px;width:340px;">입금 보내는 업체명<br/>[관련업무] 입금 제목</th>
						<th style="min-width:155px;">계열사<br>업체명</th>
						<th style="min-width:80px;width:90px;">부서<br />담당자</th>
						<th style="min-width:80px;width:90px;">입금방식</th>
						<th style="min-width:165px;width:165px;">
							입금 완료액
							<{if permissionNameCheck($session_permission,"재무관리자")}>
								<button type="button" onclick="modifySelectConfirm()" style="background: lightgray; color: black; margin-top: 5px; padding: 5px 10px; border-radius: 5px;">입금완료 일괄처리</button>
							<{/if}>
						</th>
						<th style="min-width:120px;width:120px;">계산서<br />발행상태</th>
						<th style="min-width:165px;width:165px;">예정 입금액</th>
						<th style="min-width:100px;width:100px;">예정 입금자명</th>
						<th style="min-width:150px;width:150px;">입금확인 데이터<br/>no</th>
						<th style="min-width:120px;width:120px;">입금 확인일<br/>(처리자)</th>
					</form>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="14"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$deposit_list item=deposit}>
						<form name="apply_frm<{$deposit.dp_no}>" id="apply_frm<{$deposit.dp_no}>" class="list_form" action="deposit_list.php" method="post" enctype="multipart/form-data">
							<input type="hidden" name="process" id="process">
							<input type="hidden" name="dp_no" id="dp_no" value="<{$deposit.dp_no}>">
							<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
							<tr>
								<td class="first">
									<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")}>
										<{if permissionNameCheck($session_permission,"재무관리자")}>
											<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$deposit.dp_no}>">
										<{elseif permissionNameCheck($session_permission,"마스터관리자") && $deposit.dp_method == '3' && $deposit.dp_state == 1}>
											<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$deposit.dp_no}>">
										<{/if}>
									<{/if}>
								</td>
								<td><!--dp_no-->
									<{$deposit.dp_no}><br>
									<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자") || $deposit.s_no == $session_s_no || $deposit.is_cs_editable) && $deposit.dp_state == '1'}>
										<a href="#" onclick="del_manager_record('<{$deposit.dp_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
									<{/if}>
								</td>
								<td class="date"><!--작성일 작성자-->
									<span class="day"><{$deposit.regdate_day}></span>
									<br>
									<span class="time"><{$deposit.regdate_time}></span>
									<{$deposit.reg_s_name}>
								</td>
								<td><!--입금상태-->
									<select name="f_dp_state" id="f_dp_state" class="select_type2" onchange="save_el('<{$deposit.dp_no}>', 'f_dp_state', this)"
										<{if $deposit.dp_state == '1'}>style="color:red; background-color:yellow;"<{elseif $deposit.dp_state == '4'}>style="color:red; background-color:lightgray;"<{/if}>
										<{if !permissionNameCheck($session_permission,"재무관리자") && !permissionNameCheck($session_permission,"마스터관리자")}>
											disabled
										<{elseif permissionNameCheck($session_permission,"마스터관리자") && ($deposit.dp_method != '3' || $deposit.dp_state != 1)}>
											disabled
										<{/if}>
									>
										<option value="">::선택::</option>
										<{foreach from=$sch_dp_state_option key=key item=label}>
											<option value="<{$key}>" <{if $deposit.dp_state==$key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
								</td>
								<td><!--입금완료일-->
									<input type="text" name="dp_date<{$deposit.dp_no}>" id="dp_date<{$deposit.dp_no}>" class="date-picker input_type_date_small<{if !permissionNameCheck($session_permission,"재무관리자")}>_readonly<{/if}>" onchange="save_el('<{$deposit.dp_no}>', 'f_dp_date', this)"  value="<{$deposit.dp_date}>" <{if !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}> />
								</td>
								<td style="word-break:break-all;"><!-- 입금 받은 계열사<br/>계좌명 -->
									<span style="color:<{$deposit.my_c_kind_color}>;"><{$deposit.my_c_name}></<span><br/>
									<select name="f_dp_account" style="width: 100px; padding:5px;" onchange="save_el('<{$deposit.dp_no}>', 'f_dp_account', this)">
										<option value="">::선택::</option>
										<{if $sch_corp_account_option[$deposit.my_c_no]}>
											<{foreach from=$sch_corp_account_option[$deposit.my_c_no] key=key item=label}>
												<option value="<{$key}>" <{if $key == $deposit.dp_account}>selected<{/if}>><{$label}></option>
											<{/foreach}>
										<{/if}>
									</select>
								</td>
								<td rowspan="<{$deposit.work_count}>" class="alignL"><!--[입금업체명] :: 관련상품 :: 입금명-->
									<div style="color:#808080;">
										<{if $deposit.c_name}>
										[<{$deposit.c_name}>]&nbsp;<{if $deposit.c_no}><a href="company_regist.php?no=<{$deposit.c_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a><{else}><span id="d_check_msg" style="color:blue;font-weight:normal">미등록업체</span><{/if}>
										<{/if}>
									</div>
									<span style="font-weight:800; font-size:14px;">
										<{if $deposit.w_no}>
											<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="window.open('work_list.php?sch_w_no=<{$deposit.w_no}>&sch_prd=<{$deposit.prd_no}>')" class="btn_small"><{$deposit.product_title}></button>
										<{/if}>
										<a href="deposit_regist.php?dp_no=<{$deposit.dp_no}><{if !!$search_url}>&<{$search_url}><{/if}>"><{if $deposit.mod_type}><<{$deposit.mod_type_name}>> <{/if}><{$deposit.dp_subject}></a>
										<{if $deposit.comment_cnt > 0}>
											<span style="color: darkgrey;">(<{$deposit.comment_cnt|number_format:0}>)</span>
										<{/if}>
									</span>
									<{if $deposit.c_no != '4026'}> <!-- 커머스고객 입금은 자료없음 예외처리 -->
										<div style="color:red; font-size: 10px;">
											<{$deposit.dp_check_msg}>
										</div>
									<{/if}>
								</td>
								<td class="text-left"> <!-- 계열사 업체명 -->
									<span style="color: <{$my_company_list[$deposit.d_my_c_no].color}>; font-size:10px;"><{$my_company_list[$deposit.d_my_c_no].c_name}></span><br/>
									<span style="font-weight:800; font-size:12px;"><{$deposit.d_c_name}></span>
								</td>
								<td><!--업체 담당자-->
									<{if $deposit.t_name}>
									<{$deposit.t_name}><br/>
									<{/if}>
									<{$deposit.s_name}>
								</td>
								<td>
									<{$deposit.dp_method_name}>
								</td>
								<td class="money lightblue-background" style="font-size:11px;color:#808080;font-weight:normal;"><!--입금 완료액 -->
									VAT 별도 <input type="text" name="f_dp_money" class="input_type_money" value="<{$deposit.dp_money|number_format:0}>" style="color: #808080;" disabled><br/>
									VAT 포함 <input type="text" name="f_dp_money_vat" onfocus="this.value=''" onblur="save_el('<{$deposit.dp_no}>', 'f_dp_money_vat', this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$deposit.dp_money_vat|number_format:0}>" style="color: <{if $deposit.dp_money_vat >= 0}>#0026ff<{else}>#ff0000<{/if}>" <{if !permissionNameCheck($session_permission,"재무관리자") && !$deposit.is_confirm_editable}>disabled<{/if}>>
								</td>
								<td><!--계산서 발행상태-->
									<select name="f_dp_tax_state" id="f_dp_tax_state" onchange="save_el('<{$deposit.dp_no}>', 'f_dp_tax_state', this)" <{if $deposit.dp_tax_state == '1' }>style="color:red; background-color:yellow;"<{/if}> class="select_type2<{if ($deposit.dp_tax_state!='1' && !permissionNameCheck($session_permission,"재무관리자")) || ($deposit.s_no!=$session_s_no && !permissionNameCheck($session_permission,"재무관리자"))}>_disabled<{/if}>">
										<option value="">::선택::</option>
										<{foreach from=$sch_dp_tax_state_option key=key item=label}>
										<option value="<{$key}>" <{if $deposit.dp_tax_state==$key}>selected<{/if}> <{if ($deposit.dp_tax_state!='1' && !permissionNameCheck($session_permission,"재무관리자")) || ($deposit.s_no != $session_s_no && !permissionNameCheck($session_permission,"재무관리자"))}>disabled<{elseif $key > 1 && !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
									<{if !(($deposit.dp_tax_state!='1' && !permissionNameCheck($session_permission,"재무관리자")) || ($deposit.s_no!=$session_s_no && !permissionNameCheck($session_permission,"재무관리자")))}>
										<br>
									<{/if}>
								</td>
								<td class="money" style="font-size:11px;color:#808080;font-weight:normal;"><!-- 예정 입금액 -->
									VAT 별도 <input type="text" name="f_supply_cost" class="input_type_money" value="<{$deposit.supply_cost|number_format:0}>" style="color: #808080;" disabled><br/>
									VAT 포함 <input type="text" name="f_cost" onfocus="this.value=''" onblur="save_el('<{$deposit.dp_no}>', 'f_cost', this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$deposit.cost|number_format:0}>" style="color: <{if $deposit.cost >= 0}>#0026ff<{else}>#ff0000<{/if}>" <{if !permissionNameCheck($session_permission,"재무관리자") && !$deposit.is_confirm_editable}>disabled<{/if}>>
								</td>
								<td><!-- 예정 입금자명 -->
									<{$deposit.bk_name}>
								</td>
								<td class="lightgreen-background"> <!-- 입금확인 데이터 -->
									<{if $deposit.dp_state == '1' && (permissionNameCheck($session_permission,"재무관리자") || ($deposit.dp_account == '2' && $deposit.is_confirm_editable))}>
										<input type="hidden" name="f_dp_confirm_no" id="f_dp_confirm_no_<{$deposit.dp_no}>">
										<input type="text" name="f_dp_confirm" class="f_dp_confirm form-control" attr-key="<{$deposit.dp_no}>" style="font-size: 12px; margin: 0; width: 160px;">
										<button type="button" onclick="confirmDeposit('<{$deposit.dp_no}>')" style="background: #565656; margin-top: 5px; padding: 5px 10px; color: white; border-radius: 5px;">입금 확인 완료</button>
									<{/if}>
									<{if $deposit.confirm_no > 0}>
										<{$deposit.confirm_no}> <a href="deposit_confirm_management.php?sch_no=<{$deposit.confirm_no}>&sch_dp_s_date=&sch_dp_e_date=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
								<td class="lightgreen-background"> <!-- 입금 확인일(처리자) -->
									<{if $deposit.confirm_no > 0}>
										<{$deposit.confirm_date}><br/>
										(<{$deposit.run_s_name}>) <a href="deposit_confirm_management.php?sch_no=<{$deposit.confirm_no}>&sch_dp_s_date=&sch_dp_e_date=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{else}>
										<{$deposit.run_s_name}>
									<{/if}>
								</td>
							</tr>
						</form>
					<{/foreach}>
				<{/if}>
				<tr>
					<td colspan="16" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
				<tr>
					<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "외주관리자") || permissionNameCheck($session_permission, "마스터관리자")}>
						<td colspan="10" class="list_button">
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='deposit_regist.php?<{$search_url}>'"><span>입금 등록하기</span></button></div>
							<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_deposit_list.php?<{$search_url}>';"><span>엑셀 다운로드 (최대 300건)</span></button></div>
						</td>
					<{elseif permissionNameCheck($session_permission, "마케터")}>
						<td colspan="10" class="list_button">
							<{if $sch_s_no == $session_name}>
								<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_deposit_list.php?<{$search_url}>';"><span>엑셀 다운로드 (최대 300건)</span></button></div>
							<{/if}>
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='deposit_regist.php?<{$search_url}>'"><span>계산서 선발행 / 카드결재 / 강의비 입금 등록하기</span></button></div>
						</td>
					<{/if}>
				</tr>
			</tbody>
		</table>
		<div id="d_msg"></div>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<form action="deposit_list.php" name="new_confirm_frm" id="new_confirm_frm" method="post">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="dp_no" value="">
	<input type="hidden" name="dpc_no" value="">
</form>

<script type="text/javascript">
$(function() {
	var f = document.forms['search_form'];
	var dp_quick = f.sch_dp_quick.value;

	if (dp_quick) {
		$("#d_quick button:eq(" + (dp_quick - 1) +")").css("background-color", "#c73333");
	} else {
		$("#d_quick button").css("background-color", "#000");
	}

	$("#sch_team").combobox();

	$("#sch_dp_account").remoteChained({
		parents : "#sch_my_c_no",
		url : "/v1/api/corp.account.json.php?parent_data=sch_my_c_no&state_type=1",
		loading : "로딩중.."
	});

	$(".f_dp_confirm").autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "/v1/api/deposit_confirm_auto.api.php",
				dataType: "json",
				data: {
					keyword: request.term
				},
				success: function( data ) {
					response( $.map( data, function( item ) {
						return {
							dpc_no : item.dpc_no,
							label  : item.label
						}
					}));
				}
			});
		},
		select: function( event, ui ) {
			var key = $(this).attr('attr-key');
			$("#f_dp_confirm_no_"+key).val(ui.item.dpc_no);
		},
		focus: function( event, ui ) {
			return false;
		},
		minLength: 1
	});
});

function nullIncentiveSave(dp_no)
{
    var incenDate 		 = $("#f_incentive_date" + dp_no);

    if($("#f_incentive_date_null"+dp_no).is(":checked")) {
        incenDate.val("NULL");
        incenDate.change();
        incenDate.val("");
    }
}

function quick_search(quick_no)
{
	var f = document.forms['search_form'];
	f.sch_dp_quick.value = quick_no;

	f.sch_dp_state.value = "";
	f.sch_dp_method.value = "";
	f.sch_s_dp_date.value = "";
	f.sch_e_dp_date.value = "";
	f.sch_s_no.value = "";
	f.sch_dp_tax_state.value = "";
	f.sch_dp_etc.value = "";
	f.sch_c_name.value = "";
	f.sch_subject.value = "";
	f.sch_my_c_no.value = "";
	f.sch_dp_account.value = "";

	if (quick_no == "1") {
		f.sch_dp_state.value = "1";
		f.sch_dp_method.value = "1";
	} else if (quick_no == "2") {
		f.sch_dp_state.value = "1";
		f.sch_dp_method.value = "2";
	} else if (quick_no == "3") {
		f.sch_dp_tax_state.value = "1";
	} else if (quick_no == "4") {
		f.sch_dp_state.value = "2";
	} else if (quick_no == "5") {
		f.sch_dp_etc.value = "1";
	} else if (quick_no == "6") {
		f.sch_dp_etc.value = "2";
	} else if (quick_no == "7") {
		f.sch_s_no.value = "알수없음";
	} else if (quick_no == "8") {
		f.sch_my_c_no.value 	= "3";
		f.sch_dp_account.value 	= "1";
	}

	f.submit();
}

function normal_search() {
	var f = document.forms['search_form'];
	var ord_page   = $("#ord_page_type").val();

	$("#ord_page_type_hidden").val(ord_page);

	f.submit();
}

function inputNumberFormat(obj) {
	if(obj.value != '-') // 첫입력 시 음수 예외
		obj.value = comma(uncomma(obj.value));
}

//콤마찍기
function comma(str) {
	str = String(str);
	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
}

//콤마풀기
function uncomma(str) {
	str = "" + str.replace(/,/gi,''); // 콤마 제거
	str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
	return (new Number(str));
}

function save_el(dp_no, proc, obj)
{
	var f = obj.form;
	var val = obj.value;
	var default_val = obj.defaultValue;
	var x = $(obj).position();
	var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

	if (default_val && (val == default_val && proc != 'f_incentive_date'))
		return false;

	if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
		return false;

	if (val != "") {
		$.post("deposit_list.php", {dp_no : dp_no, process : proc, val : val}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}
}

// 삭제하기
function del_manager_record(dp_no)
{
	eval("var f=document.getElementById('apply_frm" + dp_no + "');");
	f.process.value = 'del_manager_record';

	if (f.f_dp_state.value > 1)
	{
		alert("입금대기 이외의 건은 삭제 할 수 없습니다.");
		return;
	}

	if (confirm("정말 삭제 하시겠습니까??") == true)
	{ // 확인
		f.submit();
	} else
	{ //취소
		return;
	}
}

function sch_detail_display(type)
{
	var f = document.forms['search_form'];

	if(type=='show'){
		f.sch.value = "Y";
		$("#sch_detail_display").show();
		$("#sch_detail_display_btn_show").hide();
		$("#sch_detail_display_btn_hide").show();
	}else if(type=='hide'){
		f.sch.value = "N";
		$("#sch_detail_display").hide();
		$("#sch_detail_display_btn_show").show();
		$("#sch_detail_display_btn_hide").hide();
	}
}

function confirmDeposit(dp_no)
{
	if($("#f_dp_confirm_no_"+dp_no).val() != "")
	{
		if(confirm("정말로 입금 확인 완료 처리합니까?"))
		{
			var f = document.new_confirm_frm;
			f.dp_no.value  	= dp_no;
			f.dpc_no.value 	= $("#f_dp_confirm_no_"+dp_no).val();
			f.process.value = "confirm_deposit";
			f.submit();
		}

	}else{
		alert("입금확인 데이터 검색 후 이용해주세요");
	}

	return false;
}

function select_check_all(chkall)
{
	var chk = document.getElementsByName("select_check[]");
	for (var i=0; i<chk.length; i++)
		chk[i].checked = chkall.checked;
}

function checkDepositSelect()
{
	var dp_no_list 		 = "";
	$(".select_check").each(function(idx, item){
		if($(item).is(":checked"))
		{
			if(!!dp_no_list){
				dp_no_list += ("," + $(item).val());
			}else{
				dp_no_list += ($(item).val());
			}
		}
	});

	var f = document.getElementById('select_check_form');

	f.select_dp_no_list.value = dp_no_list;
}

function modifySelectState()
{
	if(!$("#select_state").val()){
		alert("입금상태를 선택해주세요.");
		return;
	}

	if(confirm("입금상태를 변경 하시겠습니까?"))
	{
		checkDepositSelect();

		var f = document.getElementById('select_check_form');
		if(!f.select_dp_no_list.value){
			alert("선택한 입금목록이 없습니다.");
			return false;
		}

		f.process.value = 'modify_select_state';
		f.submit();
	}

	return false;
}

function modifySelectDate()
{
	if(!$("#select_date").val()){
		alert("입금완료일을 선택해주세요.");
		return;
	}

	if(confirm("입금완료일을 변경 하시겠습니까?"))
	{
		checkDepositSelect();

		var f = document.getElementById('select_check_form');
		if(!f.select_dp_no_list.value){
			alert("선택한 입금목록이 없습니다.");
			return false;
		}

		f.process.value = 'modify_select_date';
		f.submit();
	}

	return false;
}

function modifySelectConfirm()
{
	if(confirm("입금완료 일괄처리 하시겠습니까?"))
	{
		checkDepositSelect();

		var f = document.getElementById('select_check_form');
		if(!f.select_dp_no_list.value){
			alert("선택한 입금목록이 없습니다.");
			return false;
		}

		f.process.value = 'modify_select_confirm';
		f.submit();
	}

	return false;
}

function searchMonCompany(c_name)
{
	$("#sch_dp_state").val(1);
	$("#sch_dp_method").val(3);
	$("#sch_c_name").val(c_name);
	$("#ord_page_type_hidden").val(100);
	document.search_form.submit();
}

</script>
</body>
</html>
