<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="frm_chart_01" target="chart_01" action="deposit_sum_chart.php" class="form-inline" onsubmit="return submit_chart(this);" style="margin: 10px 0;">
		<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
		<div class="form-group">
			<span class="name_tit" style="width: 80px;">인센티브 정산</span>
			<input type="radio" name="sch_incentive_type" id="sch_incentive_type_1" value="1" <{if $sch_incentive_type == '1'}>checked<{/if}>>
			<label for="sch_incentive_type_1" style="margin-right: 5px;">년/월</label>
			<input type="text" name="sch_incentive_mon" class="month-picker form-control" value="<{$sch_incentive_mon}>" style="margin-right: 20px;">
			<input type="radio" name="sch_incentive_type" id="sch_incentive_type_2" value="2" <{if $sch_incentive_type == '2'}>checked<{/if}>>
			<label for="sch_incentive_type_2" style="margin-right: 5px;">년</label>
			<input type="text" name="sch_incentive_year" class="year-picker form-control" value="<{$sch_incentive_year}>" style="width: 60px; margin-right: 5px;">

			<button class="btn_small" onclick="submit();">검색</button>
		</div>
	</form>

	<form method="get" name="frm_list_01" target="list_01" action="deposit_sum_list.php">
		<input type="hidden" name="sch_incentive_type">
		<input type="hidden" name="sch_incentive_date">
	</form>

	<div>
		<iframe id="chart_01" name="chart_01" src="deposit_sum_chart.php" scrolling="auto" frameborder="0" allowtransparency="true" style="width: 570px; height:310px;"></iframe>
	</div>
	<div>
		<iframe id="list_01" name="list_01" src="deposit_sum_list.php" scrolling="auto" frameborder="0" allowtransparency="true" style="width:530px;height:750px;"></iframe>
	</div>
</div>
<script type="text/javascript">
	function submit_chart(f)
	{
		var f_chart_01 = document.forms['frm_chart_01'];
		var f_list_01 = document.forms['frm_list_01'];

		f_list_01.sch_incentive_type.value = f_chart_01.sch_incentive_type.value;
		if(f_chart_01.sch_incentive_type.value == '2'){
            f_list_01.sch_incentive_date.value = f_chart_01.sch_incentive_year.value;
		}else{
            f_list_01.sch_incentive_date.value = f_chart_01.sch_incentive_mon.value;
		}

		f_list_01.submit();

		return true;
	}
</script>

</body>
</html>
