<{include file="inc/iframe_navibar.html"}>

<div class="table_list_style">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="first" style="min-width:50px;">인센티브 정산 년/월</th>
				<th style="min-width:100px;">마케팅<br />담당자</th>
				<th style="min-width:170px;">총 입금액<br />(VAT 별도)</th>
				<th style="min-width:140px;">입금 상세내역</th>
			</tr>
		</thead>
		<tbody>
			<{section name=list loop=$marketer_deposit}>
				<{if $marketer_deposit[list].sum_dp_money != '0'}>
				<tr>
					<td class="first"><{$sch_incentive_date}></td>
					<td><{$marketer_deposit[list].s_name}></td>
					<td class="money" style="<{if $marketer_deposit[list].sum_dp_money < 0}>color: red;<{else}>color:#0026ff;<{/if}>padding-right:10px">￦ <{$marketer_deposit[list].sum_dp_money}></td>
					<td>
						<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표")}>
							<button type="button" style="margin:0; padding:3px 6px" onclick="window.open('deposit_list.php?sch_s_dp_date=<{$marketer_deposit[list].incentive_s_date}>&sch_e_dp_date=<{$marketer_deposit[list].incentive_e_date}>&sch_s_no=<{$marketer_deposit[list].s_name}>')" class="btn_small">상세내역 보기</button>
						<{elseif ($session_s_no == '22' || $session_s_no == '62') && permissionNameCheck($marketer_deposit[list].permission,"인큐베이팅")}>
							<button type="button" style="margin:0; padding:3px 6px" onclick="window.open('deposit_list.php?sch_s_dp_date=<{$marketer_deposit[list].incentive_s_date}>&sch_e_dp_date=<{$marketer_deposit[list].incentive_e_date}>&sch_s_no=<{$marketer_deposit[list].s_name}>')" class="btn_small">상세내역 보기</button>
						<{elseif $marketer_deposit[list].s_no == $session_s_no }>
							<button type="button" style="margin:0; padding:3px 6px" onclick="window.open('deposit_list.php?sch_s_dp_date=<{$marketer_deposit[list].incentive_s_date}>&sch_e_dp_date=<{$marketer_deposit[list].incentive_e_date}>&sch_s_no=<{$marketer_deposit[list].s_name}>')" class="btn_small">상세내역 보기</button>
						<{/if}>
					</td>
				</tr>
				<{/if}>
			<{/section}>
		</tbody>
		<thead>
			<tr>
				<th colspan="2" style="font-size:17px;font-weight:bold;">총 계</th>
				<th style="text-align:right;font-size:17px;font-weight:bold;padding-right:10px">\ <{$total_sum_dp_money}></th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

</body>
</html>
