<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<style type="text/css">
	#deposit-modal{padding: 30px; height: auto; margin: 0; max-width: unset; width: auto; overflow: unset;}
	.modal-content{border: 0;}

	.dropzone{padding: 10px 30px; min-height: unset;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.dropzone .dz-preview .dz-details{padding: 1.5em 1em;}
	.dropzone .dz-preview .dz-details .dz-filename{width: 100%; height: 60px; display: inline-block;white-space:normal; font-size: 12px;}
	.dropzone .dz-preview .dz-details .dz-size{display: none;}
</style>

<div class="admin_content">
	<!-- 업체정보 -->
	<form name="deposit_form" id="deposit_form" action="deposit_regist.php" method="post" enctype="multipart/form-data" onsubmit="return false;">
		<{if $dp_no }>
			<input type="hidden" name="dp_no" value="<{$dp_no}>" />
		<{/if}>
		<input type="hidden" name="process" id="process" value="<{$mode}>" />
		<input type="hidden" name="kind" id="kind" />
		<input type="hidden" name="search_url" value="<{$search_url}>"/>

		<{if $mode=="modify"}>
			<h2 class="title" style="margin-bottom:10px">● 입금 수정하기</h2>
		<{else}>
			<{if permissionNameCheck($session_permission,"마케터") || permissionNameCheck($session_permission,"인큐베이팅")}>
				<h2 class="title" style="margin-bottom:10px">● 계산서 선발행 / 카드결제 / 강의비 입금 등록하기</h2>
			<{else}>
				<h2 class="title" style="margin-bottom:10px">● 입금 등록하기</h2>
			<{/if}>
		<{/if}>

		<div class="table_contents_style">
			<{if $dp_no}>
				작성일 : <{$regdate_day}> <{$regdate_time}> , 작성자 : <{$reg_s_name}>
			<{/if}>

			<!--입금업체(송금업체) 및 세금계산서 정보 -->
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th class="first" style="width:170px;">입금 받은 업체명</th>
						<td style="border-top: 1px solid #ccc;">
							<select id="f_my_c_no" name="f_my_c_no" class="select_type3" style="width: 400px; height: 30px; margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
								<{foreach from=$my_company_list key=key item=label}>
									<option value="<{$key}>" <{if ($f_my_c_no == $key || $mode == "write" && $key == $f_my_c_no)}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:170px;">입금 받은 계좌명</th>
						<td style="border-top: 1px solid #ccc;">
							<select id="f_dp_account" name="f_dp_account" class="select_type3" style="width: 400px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
								<option value="">::선택::</option>
								<{if $f_my_c_no && $corp_account_option[$f_my_c_no]}>
									<{foreach from=$corp_account_option[$f_my_c_no] key=key item=label}>
										<option value="<{$key}>" <{if $key == $f_dp_account}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								<{elseif $my_c_no && $corp_account_option[$my_c_no]}>
									<{foreach from=$corp_account_option[$my_c_no] key=key item=label}>
										<option value="<{$key}>" <{if $key == $f_dp_account}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								<{/if}>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<!--입금업체(송금업체) 및 세금계산서 정보 -->
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th colspan="4" class="first">입금 보내는 업체 및 세금계산서 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first" width="170px">작성자(부서)</th>
						<td colspan="3">
							<input type="hidden" name="reg_s_no" id="reg_s_no" value="<{$reg_s_no}>">
							<input type="hidden" name="reg_team" id="reg_team" value="<{$reg_team}>">
							<input type="text" class="input_type1" id="reg_s_name" value="<{$reg_s_name}>" <{if !permissionNameCheck($session_permission, '재무관리자')}>style="background:#ebebe4;" readonly<{/if}>>
						</td>
					</tr>
					<tr>
						<th class="first">업체명</th>
						<td colspan="3">
							<input type="hidden" name="f_c_no" id="f_c_no"  value="<{$f_c_no}>"/>
							<input type="text" class="input_type1" name="f_c_name" id="f_c_name" onchange="subject_duplicate()" value="<{$f_c_name}>"/>
							<{if $f_c_no}>
								<br>
								<span class="d_check_msg" style="color:red;font-weight:normal">
									<!--
									자료없음 (사업자등록증, 사업자등록 업체명, 담당자명, 담당자 이메일)
									-->
									<{$check_msg}>
									<{if $check_msg}><button type="button" style="padding: 4px 6px;margin-left: 0px;background-color: #c73333;" onclick="window.open('./company_regist.php?no=<{$f_c_no}>')" class="btn_small">자료등록 바로가기</button>
									<{/if}>
								</span>
							<{else}>
								<br>
								<span class="d_check_msg" style="color:red;font-weight:normal">
									미등록업체
									<button type="button" style="padding: 4px 6px;margin-left: 0px;background-color: #c73333;" onclick="window.open('./company_regist.php?f_corp_kind=1')" class="btn_small">업체등록 바로가기</button>
								</span>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first" width="170px">담당자(부서)</th>
						<td colspan="3">
							<input type="hidden" name="s_no" id="s_no" value="<{$s_no}>">
							<input type="hidden" name="team" id="team" value="<{$team}>">
							<input type="text" class="input_type1" id="s_name" value="<{$s_name}>" <{if !permissionNameCheck($session_permission, '재무관리자')}>style="background:#ebebe4;" readonly<{/if}>>
						</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="first" colspan="4">
							<p id="p_mod_company" style="<{if $f_c_no == '' }>display:none<{/if}>"></p>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first">사업자등록 업체명</th>
						<td width="280px">
							<input type="text" class="input_type1" name="f_tx_company" id="f_tx_company" value="<{$f_tx_company}>"/>
						</td>
						<th width="140px">사업자등록번호</th>
						<td width="280px"><span id="d_tx_company_number"><{$f_tx_company_number}></span></td>
					</tr>
						<th class="first">실제 입금자명</th>
						<td width="280px"><input type="text" class="input_type3" name="f_bk_manager" id="f_bk_manager" value="<{$f_bk_manager}>" /><span style="color:#808080;font-size:11px;"> (실제 입금시 주요 입금자명)</span></td>
						<th width="140px">대표자명</th>
						<td width="280px"><input type="text" class="input_type3" name="f_tx_company_ceo" id="f_tx_company_ceo" value="<{$f_tx_company_ceo}>" /></td>
					<tr>
					<tr>
						<th class="first">(세금계산서)<br>담당자명</th>
						<td colspan="3"><span id="d_tx_manager"><{$f_tx_manager}></span></td>
					</tr>
					<tr>
						<th class="first">(세금계산서)<br>담당자 연락처1</th>
						<td><span id="d_tx_call1"><{$f_tx_call1}></span></td>
						<th>(세금계산서)<br>담당자 연락처2</th>
						<td><span id="d_tx_call2"><{$f_tx_call2}></span></td>
					</tr>
					<tr>
						<th class="first">(세금계산서)<br>담당자 ; 마케터 이메일</th>
						<td colspan="3"><span id="d_tx_email"><{$f_tx_email}><{if $f_tx_email}> ; <{/if}><{$s_email}></span></td>
					</tr>
					<tr>
						<th class="first">사업자등록증(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_registdoc">
								<{if $f_o_registdoc == '' }>
								<{else}>
								<a href="#" onclick="down_file('<{$c_no}>','registdoc'); return false;"><{$f_o_registdoc}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<tr>
						<th class="first">통장사본(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_accdoc">
								<{if $f_o_registdoc == '' }>
								<{else}>
								<a href="#" onclick="down_file('<{$c_no}>','accdoc'); return false;"><{$f_o_accdoc}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<tr>
						<th class="first">기타(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_etc">
								<{if $f_o_registdoc == '' }>
								<{else}>
								<a href="#" onclick="down_file('<{$c_no}>','etc'); return false;"><{$f_o_etc}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<{if !$f_c_no && $dp_no}>
						<tr>
							<td colspan="4">
								<div class="btn_wrap">
									<button type="button" onclick="return save_company('<{$dp_no}>');" class="btn_style1"><span>업체 및 담당자 저장하기</span></button>
								</div>
							</td>
						</tr>
					<{/if}>
				</tbody>
				<{if $mod_dp_no}>
					<thead>
						<tr>
							<th colspan="4" style="background: #FFF; height: 30px;border-right: 0;"></th>
						</tr>
						<tr>
							<th colspan="4" class="first" style="background: rgb(128,100,162);">수정/환불 요청 정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="first" style="background: rgb(128,100,162);">수정/환불 여부*</th>
							<td colspan="3">
								<{foreach from=$mod_type_list key=key item=label}>
									<input type="radio" name="mod_type" id="mod_type_<{$key}>" value="<{$key}>" style="float: left; margin-top: 4px;" onchange="changeModType('<{$key}>')" <{if $mod_type && $mod_type == $key}>checked<{/if}> required>
									<label for="mod_type_<{$key}>" style="cursor: pointer; line-height: 22px; float: left; margin-right: 10px;"><{$label}></label>
								<{/foreach}>
							</td>
						</tr>
						<tr>
							<th class="first" style="background: rgb(128,100,162);">원문 URL</th>
							<td colspan="3">
								<input type="hidden" name="mod_dp_no" value="<{$mod_dp_no}>" />
								<a href="https://work.wplanet.co.kr/v1/deposit_regist.php?dp_no=<{$mod_dp_no}>" >https://work.wplanet.co.kr/v1/deposit_regist.php?dp_no=<{$mod_dp_no}></a>
							</td>
						</tr>
						<tr>
							<th class="first" style="background: rgb(128,100,162);">사유 및 내용</th>
							<td colspan="3">
								<textarea name="mod_content" class="textarea_type3" rows="5" cols="30"><{$mod_content}></textarea>
							</td>
						</tr>
						<tr class="mod_type_refund_file" style="display: <{if $mod_type == 'refund'}>table-row;<{else}>none;<{/if}>">
							<th class="first" style="background: rgb(128,100,162);">통장사본</th>
							<td colspan="3">
								<{if $mod_file_name}>
									<img src="images/common/ico/ico_file.gif" alt="file download"> <a herf="#" onclick="down_file('<{$dp_no}>','mod_file');return false;" style="cursor:pointer" ><{$mod_file_name}></a>
									<{if permissionNameCheck($session_permission,"재무관리자") || ($mode == "modify" && ($s_no == $session_s_no || $s_no == $reg_s_no)) }>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="del_file('<{$dp_no}>','mod_file');" class="btn_file">del</button>
									<{/if}>
									<input type="hidden" name="mod_file" id="mod_file" value="<{$mod_file_path}>" />
								<{else}>
									<input type="file" name="mod_file" id="mod_file" style="width:400px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
								<{/if}>
							</td>
						</tr>
						<tr>
							<th colspan="4" style="background: #FFF; height: 30px;border-right: 0;"></th>
						</tr>
					</tbody>
				<{/if}>
				<thead>
					<tr>
						<th colspan="4" class="first">입금정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first">dp_no</th>
						<td colspan="3">
							<{$dp_no}>
						</td>
					</tr>
					<tr>
						<th class="first">입금 제목</th>
						<td colspan="3">
							<input type="text" class="input_type1" name="f_dp_subject" id="f_dp_subject" value="<{$f_dp_subject}>"/>
							<{if $mode == "modify" && (($s_no == $session_s_no && permissionNameCheck($session_permission, "마케터")) || $session_s_no == $reg_s_no)}>
								<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="return save_element('<{$dp_no}>','f_dp_subject');" class="btn_small">마케터 수정</button>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">입금방식</th>
						<td colspan="3">
							<{foreach from=$deposit_method_option key=key item=label}>
							<input type="radio" name="f_dp_method" onClick="dp_method_change('<{$label}>')" value="<{$key}>" <{if $f_dp_method == $key || ($key == '2' && !$dp_no) }>checked<{/if}>><{$label}>
							<{/foreach}>
						</td>
					</tr>
					<tr>
						<th class="first">입금상태</th>
						<td colspan="3">
							<select name="f_dp_state" id="f_dp_state" class="select_type2" >
								<{foreach from=$dp_state_option key=key item=label}>
									<{if $dp_no }>
										<option value="<{$key}>" <{if $f_dp_state == $key}>selected<{/if}>><{$label}></option>
									<{else}>
										<option value="<{$key}>" <{if !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select>
							<input type="hidden" name="f_dp_state_org" value="<{$f_dp_state}>" />
						</td>
					</tr>
					<tr>
						<th class="first">입금완료일</th>
						<td colspan="3">
							<div id="f_dp_date_display">
								<input type="text" class="input_type_date date-picker" <{if permissionNameCheck($session_permission, '마케터')}>disabled<{/if}> id="f_dp_date" name="f_dp_date" value="<{if $dp_no}><{$f_dp_date}><{/if}>" />
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">예정 입금액<br>(VAT/소득세 포함)</th>
						<td colspan="3">
							<div id="f_supply_cost_display">
								<input type="radio" name="f_vat_tax_choice" value="1" onclick="vat_tax_calculate();" <{if $f_vat_tax_choice == '1' || !$wd_no}>checked<{/if}> <{if $f_dp_tax_state == '2'}>disabled<{/if}>>부가세 [+10%] ,
								<input type="radio" name="f_vat_tax_choice" value="2" onclick="vat_tax_calculate();" <{if $f_vat_tax_choice == '2'}>checked<{/if}> <{if $f_dp_tax_state == '2'}>disabled<{/if}>>소득세 원천징수 [-3.3%] ,
								<input type="radio" name="f_vat_tax_choice" value="3" onclick="vat_tax_calculate();" <{if $f_vat_tax_choice == '3'}>checked<{/if}> <{if $f_dp_tax_state == '2'}>disabled<{/if}>>해당사항없음
								<input type="radio" name="f_vat_tax_choice" value="4" onclick="vat_tax_calculate();" <{if $f_vat_tax_choice == '4'}>checked<{/if}> <{if $f_dp_tax_state == '2'}>disabled<{/if}>>간접수출[0%]
								<input type="radio" name="f_vat_tax_choice" value="5" onclick="vat_tax_calculate();" <{if $f_vat_tax_choice == '5'}>checked<{/if}> <{if $f_dp_tax_state == '2'}>disabled<{/if}>>직접수출[0%]
								<br>

								<input type="text" name="f_cost" id="f_cost" onchange="vat_tax_calculate_reverse()" onkeyup="vat_tax_calculate_reverse()" class="input_type_money" value="<{$f_cost}>" style="color: #f00;background-color:#ff0; width: 120px;"> =
								공급가액 <input type="text" name="f_supply_cost" id="f_supply_cost" onchange="<!--vat_tax_calculate()-->" onkeyup="<!--vat_tax_calculate()-->" class="input_type_money" value="<{$f_supply_cost}>" style="color: #000; width: 120px;">
								<span id="vat_display">
									+ 부가세액
									<input type="text" name="f_supply_cost_vat" id="f_supply_cost_vat" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$f_supply_cost_vat}>" style="width: 120px; color: #777;">
								</span>
								<span id="tax_display">
									+ 소득세액
									(사업소득세 : <input type="text" name="f_biz_tax" id="f_biz_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$f_biz_tax}>" style="width: 120px; color: #777;">,
									지방소득세 : <input type="text" name="f_local_tax" id="f_local_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$f_local_tax}>" style="width: 120px; color: #777;">)
								</span>

								<{if $mode == "modify" && (($s_no == $session_s_no && permissionNameCheck($session_permission, "마케터")) || $session_s_no == $reg_s_no) && $f_dp_tax_state != '2'}>
									<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="return save_element('<{$dp_no}>','f_supply_cost');" class="btn_small" <{if $f_dp_tax_state == '2'}>disabled<{/if}>>마케터 수정</button>
								<{/if}>

								<{if $f_vat_tax_choice == '1' || $f_vat_tax_choice == ''}>
									<script>$("#vat_display").show();</script>
									<script>$("#tax_display").hide();</script>
								<{elseif $f_vat_tax_choice == '2'}>
									<script>$("#vat_display").hide();</script>
									<script>$("#tax_display").show();</script>
								<{elseif $f_vat_tax_choice >= 3}>
									<script>$("#vat_display").hide();</script>
									<script>$("#tax_display").hide();</script>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">예정 입금자명</th>
						<td colspan="3">
							<input type="text" name="f_bk_name" class="input_type1" value="<{$f_bk_name}>">
						</td>
					</tr>
					<tr>
						<th class="first">입금 완료액<br>(VAT/소득세 포함)</th>
						<td colspan="3">
							<div id="f_dp_money_display">
								<div>
									<input type="checkbox" name="f_auto_price" id="f_auto_price" value="1" style="cursor: pointer;" checked>
									<label for="f_auto_price" style="cursor: pointer;">VAT 자동계산</label>
								</div>
								<input type="text" name="f_dp_money_vat" id="f_dp_money_vat" onfocus="this.value=''" onchange="dp_vat_tax_calculate_reverse()" class="input_type_money" style="color: #f00; background-color:#ff0; width: 120px;" <{if permissionNameCheck($session_permission, '마케터')}>disabled<{/if}> value="<{$f_dp_money_vat}>">
								&nbsp;VAT 미포함 :
								<input type="text" name="f_dp_money" id="f_dp_money" onfocus="this.value=''" onchange="dp_vat_tax_calculate()" class="input_type_money" value="<{$f_dp_money}>" style="color: #000; width: 120px;" <{if permissionNameCheck($session_permission, '마케터')}>disabled<{/if}>>
								(<input type="checkbox" name="f_equal_vat" id="f_equal_vat" onclick="equal_vat()">VAT 포함과 동일)
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">입금 확인 처리자</th>
						<td colspan="3">
							<input type="hidden" name="f_run_s_no" id="f_run_s_no" value="<{$f_run_s_no}>">
							<input type="hidden" name="f_run_team" id="f_run_team" value="<{$f_run_team}>">
							<input type="text" name="f_run_name" id="f_run_name" class="input_type1" value="<{$f_run_name}>">
						</td>
					</tr>
					<tr>
						<th class="first">상품내역</th>
						<td colspan="3">
							<textarea name="f_cost_info" id="f_cost_info" cols="30" rows="8" class="textarea_type3"><{$f_cost_info}></textarea>
							<{if $mode == "modify" && (($f_dp_state == '1' && $f_dp_tax_state == '1') || $f_dp_tax_state == '2') && (($s_no == $session_s_no && permissionNameCheck($session_permission, "마케터")) || $session_s_no == $reg_s_no)}>
								<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="return save_element('<{$dp_no}>','f_cost_info');" class="btn_small">마케터 수정</button>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">계산서 발행상태</th>
						<td colspan="3">
							<input type="hidden" name="f_dp_tax_state_org" value="<{$f_dp_tax_state}>" />
							<select name="f_dp_tax_state" id="f_dp_tax_state" class="select_type3" >
								<{foreach from=$dp_tax_option key=key item=label}>
									<{if $dp_no }>
										<option value="<{$key}>" <{if $f_dp_tax_state == $key}>selected<{/if}> <{if $f_dp_tax_state > '1' || permissionNameCheck($session_permission, "마케터")}>disabled<{/if}>><{$label}></option>
									<{else}>
										<option value="<{$key}>" <{if permissionNameCheck($session_permission, "마케터")}> <{if $key == '1'}>selected<{/if}> <{elseif $key > '2' && permissionNameCheck($session_permission, "마케터")}>disabled<{/if}>><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select>
							<{if $mode == "modify" && ($s_no == $session_s_no || $session_s_no == $reg_s_no || permissionNameCheck($session_permission, "마스터관리자"))}>
								<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="return save_element('<{$dp_no}>','f_dp_tax_state');" class="btn_small">수정</button>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">계산서 발행일자</th>
						<td colspan="3">
							<div id="f_dp_tax_date_display">
								<input type="text" class="input_type_date date-picker" id="f_dp_tax_date" name="f_dp_tax_date" value="<{if $dp_no}><{$f_dp_tax_date}><{elseif permissionNameCheck($session_permission, '재무관리자')}><{$today}><{/if}>" />
								<{if permissionNameCheck($session_permission, "재무관리자")}>
									<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="same_dp_date('<{$dp_no}>');" class="btn_small">입금완료일</button>
								<{/if}>
								<span id="f_dp_tax_date_notice_display" style="color:red;font-weight:normal">
									카드 결제일을 입력해주세요.
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">계산서 발행항목</th>
						<td colspan="3">
							<div id="f_dp_tax_item_display">
								<input type="text" class="input_type1" id="f_dp_tax_item" name="f_dp_tax_item" value="<{$f_dp_tax_item}>"/>
								<{if $mode == "modify" && (($s_no == $session_s_no && permissionNameCheck($session_permission, "마케터")) || $session_s_no == $reg_s_no) && $f_dp_tax_state != '2'}>
									<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="return save_element('<{$dp_no}>','f_dp_tax_item');" class="btn_small">마케터 수정</button>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">파일첨부</th>
						<td colspan="3">
							<div class="dropzone" id="depositFileDropzone" >
								<div class="dz-message">
									이곳에 파일을 드래그하여 첨부하거나 클릭하여 선택하요.(MAX 10MB)
								</div>
							</div>
							<div class="add-file-hidden">
								<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
								<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">
								<input type="hidden" id="file_count" value="<{$file_count}>" />
								<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="left_wrap">
								<{if $mode == "modify" && (permissionNameCheck($session_permission, "재무관리자")) }>
									<button type="button" onclick="return duplicate_deposit('<{$dp_no}>');" class="btn_small">duplicate</button>
								<{/if}>
							</div>
							<div class="right_wrap">
								<button type="button" onclick="location.href='deposit_list.php?<{$search_url}>'" class="btn_small"  style="float: right; font-size: 13px;"><span>목록</span></button>
								<{if $mode == "modify" && (permissionNameCheck($session_permission, "재무관리자") || ($s_no == $session_s_no) || ($reg_s_no == $session_s_no)) }>
									<button type="button" onclick="return mod_duplicate_deposit('<{$dp_no}>');" class="btn_small">계산서 수정요청 및 환불요청</button>
								<{/if}>
								<{if $mode == "modify" && (permissionNameCheck($session_permission, "재무관리자") || ($s_no == $session_s_no && $f_dp_state == '1' && $f_dp_tax_state == '1')) }>
									<button type="button" onclick="return deposit_delete('<{$dp_no}>');" class="btn_small">delete</button>
								<{/if}>
							</div>
							<div class="btn_wrap" style="clear: both;">
								<{if $mode == "write" }>
									<button type="button" onclick="return check_form();" class="btn_small regist-btn" style="padding:10px 50px;">등록하기</button>
								<{elseif $mode == "modify" && (permissionNameCheck($session_permission, "재무관리자") || ($f_dp_state == '1' && ($reg_s_no == $session_s_no || $s_no == $session_s_no || ($reg_team == '00244' && $session_team == $reg_team)))) }>
									<button type="button" onclick="return check_form();" class="btn_small regist-btn" style="padding:10px 50px;">수정하기</button>
								<{/if}>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //table_contents_style -->
	</form>

	<{if $dp_no}>
		<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="deposit_regist.php" style="width: 877px;">
			<input type="hidden" name="process" value="add_comment">
			<input type="hidden" name="dp_no" id="dp_no" value="<{$dp_no}>">
			<input type="hidden" name="comment_no" id="comment_no" value="">
			<input type="hidden" name="search_url" value="<{$search_url}>">

			<div style="padding-left:5px; color: #999;">
				<span style="font-size: 14px; font-weight: bold;"><{$session_s_team_name}></span>
				<div style="padding: 0;box-sizing: content-box;border: 1px solid #ccc;margin: 5px 5px 0 0;">
					<textarea name="f_comment_new" id="f_comment_new" class="textarea_type3" style="width: 100%;height: 100px;box-sizing: border-box;margin: 0;border: 0;resize: none;" required></textarea>
				</div>
				<div style="padding: 4px 0 0 10px; margin-right: 4px;overflow: hidden;border: 1px solid #ccc;border-top: 0;">
					<input type="file" id="f_comm_file" name="f_comm_file" style="width: 700px;">
					<button type="submit" class="btn_small" style="margin-top: -1px; float: right;border-radius: 0;background-color: #222;font-weight: bold;padding: 7px 25px;"><span>등록</span></button>
				</div>
			</div>
		</form>
		<{if $linked_comment_list}>
			<div class="comment-wrapper" style="margin-top: 5px; margin-left: 5px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; width: 870px;">
				<{foreach from=$linked_comment_list item=linked_comment}>
					<div style="margin-bottom: 5px; border-bottom: 1px solid #ccc; padding: 5px;">
						<span style="font-size: 14px; font-weight: bold;"><{$linked_comment.s_name}></span>
						<span style="font-size:9px; color:#a7a7a7;">[<{$linked_comment.t_name}>]</span>
						<span style="color: #999;"><{$linked_comment.regdate}></span>
						<{if $linked_comment.s_no == $session_s_no}>
							<a href="javascript:void(0);" onclick="comment_delete('<{$linked_comment.no}>');" style="padding: 2px 5px;border: 1px solid #ccc;font-size: 11px;font-family: 'Malgun Gothic';text-decoration: none;">삭제</a>
						<{/if}>
						<div style="padding-left:10px; min-height: 20px; margin-top: 3px;" class="main-comm-content">
							<{$linked_comment.comment}>
						</div>
						<{if $linked_comment.file_path}>
							<div style="padding-left: 5px; margin-top: 3px;">
								<a href="uploads/<{$linked_comment.file_path}>" title="<{$linked_comment.file_name}>" download="<{$linked_comment.file_name}>">
									<img src="./images/common/ico/ico_file.gif" alt="<{$linked_comment.file_name}>" style="margin-top: -3px; margin-right: 3px;">
									<{$linked_comment.file_name}>
								</a>
							</div>
						<{/if}>
					</div>
				<{/foreach}>
			</div>
		<{/if}>
	<{/if}>
</div>
<!-- //admin_content -->

<div class="modal" id="deposit-modal">
	<div class="modal-content" style="font-size: 14px;">
		<div>
			<div style="font-weight: bold; margin-bottom: 10px;">1. 세금계산서 발행 안내(요약)</div>
			1) 신규 거래처 매출 발생 시 와플-파트너리스트를 통해 업체등록은 필수입니다.<br/>
			2) 세금계산서 선 발행 요청일 경우 업체명 앞에 “[선발행]”을 기재해야 합니다.<br/>
			3) 카드 매출 발생 시 입금리스트에 등록 후 카드매출전표 영수증을 첨부해야 합니다.<br/>
		</div>
		<br/>
		<div>
			<div style="font-weight: bold; margin-bottom: 10px;">2. 주의사항</div>
			1) 당월 세금계산서 발행 마감 기한은 익월 10일입니다. (기한 이후 요청 시 해당 월 발행 불가)<br/>
			2) 세금계산서 발행 요청 마감 시간은 15시 30분이며, 이후 요청 시 익일 오전에 발행됩니다.<br/>
			3) 발행 요청 시 입금 받는 업체명을 확인해주세요. (와이즈플래닛/ 미디어커머스 택1)<br/>
			4) 세금계산서 발행 이메일 변경 시 파트너 리스트에서 수정 후 상품내역에 기재 부탁드립니다.<br/>
			5) 선발행 세금계산서 요청 시 미래 날짜로 올려주신 경우 해당 날짜에 발행이 가능하오니 참고 부탁드립니다.<br/>
			(예시. 8.30일에 9.1날짜로 발행 요청 주신 경우 9.1에 발행이 가능)<br/>
			<br/>
			자세한 사항은 와플GUIDE을 참고해주시기 바랍니다.
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#s_name").autocomplete({
			source: function( request, response ) {
				$("#s_no").val('');
				$("#team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#s_no").val(ui.item.sno);
				$('#s_name').val(ui.item.sname);
				$('#team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$("#reg_s_name").autocomplete({
			source: function( request, response ) {
				$("#reg_s_no").val('');
				$("#reg_team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#reg_s_no").val(ui.item.sno);
				$('#reg_s_name').val(ui.item.sname);
				$('#reg_team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		// 업체명 자동완성 검색 결과 값 반영
		$("#f_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
							c_name:request.term
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								sno : item.s_no,
								sname : item.s_label,
								team : item.team,
								label : item.c_name,
								label2 : item.tx_company,
								label3 : item.bk_manager,
								label4 : item.tx_company_ceo
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$("#f_c_no").val(ui.item.cno);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$('#f_tx_company').val(ui.item.label2);
				$('#f_bk_manager').val(ui.item.label3);
				$('#f_tx_company_ceo').val(ui.item.label4);
				return false;
			},
			minLength: 1
		});

		// 사업자등록 업체명 자동완성 검색 결과 값 반영
		$("#f_tx_company").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company_tx.api.php",
					dataType: "json",
					data: {
							tx_company:request.term,
							s_no:document.getElementById('s_no').value
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								sno : item.s_no,
								sname : item.s_label,
								team : item.team,
								label2 : item.c_name,
								label : item.tx_company,
								label3 : item.bk_manager,
								label4 : item.tx_company_ceo
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$("#f_c_no").val(ui.item.cno);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$('#f_c_name').val(ui.item.label2);
				$('#f_tx_company').val(ui.item.label);
				$('#f_bk_manager').val(ui.item.label3);
				$('#f_tx_company_ceo').val(ui.item.label4);
				return false;
			},
			minLength: 1
		});

		// 실제입금자명 자동완성 검색 결과 값 반영
		$("#f_bk_manager").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company_tx.api.php",
					dataType: "json",
					data: {
							bk_manager:request.term,
							s_no:document.getElementById('s_no').value
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								sno : item.s_no,
								sname : item.s_label,
								team : item.team,
								label3 : item.c_name,
								label2 : item.tx_company,
								label : item.bk_manager,
								label4 : item.tx_company_ceo
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$("#f_c_no").val(ui.item.cno);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$('#f_c_name').val(ui.item.label3);
				$('#f_tx_company').val(ui.item.label2);
				$('#f_bk_manager').val(ui.item.label);
				$('#f_tx_company_ceo').val(ui.item.label4);
				return false;
			},
			minLength: 1
		});

		// 대표자명 자동완성 검색 결과 값 반영
		$("#f_tx_company_ceo").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company_tx.api.php",
					dataType: "json",
					data: {
							tx_company_ceo:request.term,
							s_no:document.getElementById('s_no').value
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								sno : item.s_no,
								sname : item.s_label,
								team : item.team,
								label4 : item.c_name,
								label2 : item.tx_company,
								label3 : item.bk_manager,
								label : item.tx_company_ceo
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$("#f_c_no").val(ui.item.cno);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$('#f_c_name').val(ui.item.label4);
				$('#f_tx_company').val(ui.item.label2);
				$('#f_bk_manager').val(ui.item.label3);
				$('#f_tx_company_ceo').val(ui.item.label);
				return false;
			},
			minLength: 1
		});

		$("#f_dp_account").remoteChained({
			parents : "#f_my_c_no",
			url : "/v1/api/corp.account.json.php?parent_data=f_my_c_no&state_type=1",
			loading : "로딩중.."
		});

		$("#f_run_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#f_run_s_no").val(ui.item.sno);
				$('#f_run_name').val(ui.item.sname);
				$('#f_run_team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		<{if $mode == 'write' && $modal_date_chk}>
			openDepositGuide();
		<{/if}>
	});

	function openDepositGuide()
	{
		$("#deposit-modal").modal({fadeDuration: 250})
	}

	function call_tx_info(c_no) {
		var proc = "tx_info";

		$.post("deposit_regist.php", {process : proc, c_no : c_no}, function(result){
			var arr = $.parseJSON(result);
			$("input[name=f_tx_company]").val(arr.f_tx_company);
			$("input[name=f_bk_manager]").val(arr.f_bk_manager);
			//$("input[name=f_tx_manager]").val(arr.f_tx_manager);
			//$("input[name=f_tx_call1]").val(arr.f_tx_call1);
			//$("input[name=f_tx_call2]").val(arr.f_tx_call2);
			//$("input[name=tx_email_0]").val(arr.tx_email_0);
			//$("input[name=tx_email_1]").val(arr.tx_email_1);

			if (!$("#s_no").val())
				$("#s_no").val(arr.f_s_no);
			//$("#d_tx_company").html(arr.f_tx_company);
			$("#d_tx_company_number").html(arr.f_tx_company_number);
			$("input[name=f_tx_company_ceo]").val(arr.f_tx_company_ceo);
			$("#d_tx_manager").html(arr.f_tx_manager);
			$("#d_tx_call1").html(arr.f_tx_call1);
			$("#d_tx_call2").html(arr.f_tx_call2);
			$("#d_tx_email").html(arr.f_tx_email);

			if (arr.f_o_registdoc) {
				t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','registdoc'); return false;\">" + arr.f_o_registdoc + "</a>";
				$("#p_registdoc").html(t_html);
			} else {
				$("#p_registdoc").html("");
			}
			if (arr.f_o_accdoc) {
				t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','accdoc'); return false;\">" + arr.f_o_accdoc + "</a>";
				$("#p_accdoc").html(t_html);
			} else {
				$("#p_accdoc").html("");
			}
			if (arr.f_o_etc) {
				t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','etc'); return false;\">" + arr.f_o_etc + "</a>";
				$("#p_etc").html(t_html);
			} else {
				$("#p_etc").html("");
			}

			if (!arr.f_o_registdoc || !arr.f_tx_company || !arr.f_tx_company_number || !arr.f_tx_company_ceo) {
				msg = "자료없음 (";
				if (!arr.f_o_registdoc)
					msg += "사업자등록증(파일), ";
				if (!arr.f_tx_company)
					msg += "사업자등록 업체명, ";
				if (!arr.f_tx_manager)
					msg += "사업자등록 번호, ";
				if (!arr.tx_email_0)
					msg += "대표자명, ";
				msg = msg.slice(0, -2);

				msg += ")";
				$(".d_check_msg").html(msg);
			} else {
				$(".d_check_msg").html("");
			}

			$("#p_mod_company").show();
			$("#p_mod_company a").attr('href', 'company_regist.php?no=' + c_no);
		});

	}

	function activeRegistBtn(){
		$(".regist-btn").attr('disabled', false);
	}

	function inactiveRegistBtn(){
		$(".regist-btn").attr('disabled', true);
	}

	function check_form()
	{
		inactiveRegistBtn();
		var f = document.forms['deposit_form'];

		if (cknull("f_my_c_no","입금 받은 업체명을")=="x") {activeRegistBtn(); return false;}
		if (cknull("f_dp_subject","입금명을")=="x") {activeRegistBtn(); return false;}
		if (cknull("f_dp_state","입금상태를")=="x") {activeRegistBtn(); return false;}
		if (cknull("f_dp_method","입금방식을")=="x") {activeRegistBtn(); return false;}

		<{if !permissionNameCheck($session_permission, "재무관리자")}>
			if (cknull("s_no","마케팅 담당자를")=="x") {activeRegistBtn(); return false;}
			if (cknull("f_c_name","업체명을")=="x") {activeRegistBtn(); return false;}
			if(f.f_vat_tax_choice.value != "3"){ // 부가세 해당없음 이외에 계산서 발행일자 입력 필수
				if (f.f_dp_method.value == "1"){
					if(cknull("f_dp_tax_date","계산서 발행일자를 카드 결재일자로")=="x") {activeRegistBtn(); return false;}
				}else if (f.f_dp_method.value == "2"){
					if(cknull("f_dp_tax_date","계산서 발행일자를")=="x") {activeRegistBtn(); return false;}
				}
			}
			<{if !permissionNameCheck($session_permission, "인큐베이팅")}>
				if (f.f_c_no.value == "") {
					alert("업체명 확인이 안됩니다. 자동완성으로 나타난 업체명으로 선택해 주세요.");
					activeRegistBtn();
					return false;
				}
			<{/if}>
		<{/if}>

		<{if $mod_dp_no}>
			if (f.mod_type.value == "") {
				alert("수정/환불 여부 확인이 안됩니다. 수정요청 혹은 환불요청을 선택해주세요");
				activeRegistBtn();
				return false;
			}else if(f.mod_type.value == "refund") {
				if ($("#mod_file").val() == "") {
					alert("통장사본 파일을 첨부해주세요");
					activeRegistBtn();
					return false;
				}
			}
		<{/if}>

		<{if !$dp_no && !$super_admin}>
			if($(".deposit_file_name").length < 1){
				alert("계약서 등 첨부파일을 등록해주세요");
				activeRegistBtn();
				return false;
			}
		<{/if}>

		f.process.value = '<{$mode}>';
		f.target = "";

		$("form[name=deposit_form] :input").prop("disabled", false);
		$("select option").prop("disabled", false);

		f.submit();
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function vat_tax_calculate() {
		var obj = document.getElementById("f_supply_cost");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=f_vat_tax_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1"){
				$("#vat_display").show(); // 부가세액
				$("#tax_display").hide(); // 소득세액
				vat_tax_ratio = 10;

				var amountTax = Math.round(amount * (vat_tax_ratio / 100));
				var amountTotal = parseFloat(amount) + parseFloat(amountTax);

				$("#f_supply_cost_vat").val(amountTax);
				$("#f_cost").val(amountTotal);

				obj.value = comma(amount);
				$("#f_cost").val(comma($("#f_cost").val()));
				$("#f_supply_cost_vat").val(comma($("#f_supply_cost_vat").val()));
				$("#f_biz_tax").val('0');
				$("#f_local_tax").val('0');
			}else if (vat_tax == "2"){
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").show(); // 소득세액
				biz_tax_ratio = 3.0;
				local_tax_ratio = 0.3;

				var amountBizTax = -Math.floor((amount * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax = -Math.floor((amount * (local_tax_ratio / 100))/10)*10;
				var amountTotal = parseFloat(amount) + parseFloat(amountBizTax) + parseFloat(amountLocalTax);

				$("#f_biz_tax").val(amountBizTax);
				$("#f_local_tax").val(amountLocalTax);
				$("#f_cost").val(amountTotal);

				obj.value = comma(amount);
				$("#f_cost").val(comma($("#f_cost").val()));
				$("#f_supply_cost_vat").val('0');
				$("#f_biz_tax").val(comma($("#f_biz_tax").val()));
				$("#f_local_tax").val(comma($("#f_local_tax").val()));
			}else if (vat_tax >= 3){
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").hide(); // 소득세액

				obj.value = comma(amount);
				$("#f_cost").val(comma(amount));
				$("#f_supply_cost_vat").val('0');
				$("#f_biz_tax").val('0');
				$("#f_local_tax").val('0');
			}
		}
	}

	function vat_tax_calculate_reverse() {
		var obj = document.getElementById("f_cost");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=f_vat_tax_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1"){
				tax_ratio = 10;
				var amountTax = Math.round(amount / ((100 + tax_ratio) / 10));
				var amountTotal = parseFloat(amount) - parseFloat(amountTax);

				$("#f_supply_cost_vat").val(amountTax);
				$("#f_supply_cost").val(amountTotal);

				obj.value = comma(amount);
				$("#f_supply_cost_vat").val(comma($("#f_supply_cost_vat").val()));
				$("#f_supply_cost").val(comma($("#f_supply_cost").val()));
			}else if (vat_tax == "2"){
				biz_tax_ratio = 3.0;
				local_tax_ratio = 0.3;
				var amountTotal = Math.floor((amount / ((100 - biz_tax_ratio - local_tax_ratio) / 100))/10)*10;
				var amountBizTax = -Math.floor((amountTotal * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax = -Math.floor((amountTotal * (local_tax_ratio / 100))/10)*10;

				$("#f_biz_tax").val(amountBizTax);
				$("#f_local_tax").val(amountLocalTax);
				$("#f_supply_cost").val(amountTotal);

				obj.value = comma(amount);
				$("#f_biz_tax").val(comma($("#f_biz_tax").val()));
				$("#f_local_tax").val(comma($("#f_local_tax").val()));
				$("#f_supply_cost").val(comma($("#f_supply_cost").val()));
			}else if (vat_tax >= 3){
				obj.value = comma(amount);
				$("#f_supply_cost").val(comma(amount));
				$("#f_supply_cost_vat").val('0');
				$("#f_biz_tax").val('0');
				$("#f_local_tax").val('0');
			}
		}
	}


	function dp_vat_tax_calculate() {
		var obj = document.getElementById("f_dp_money");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=f_vat_tax_choice]:checked").val();

		var f_equal_obj = document.getElementById("f_equal_vat");
		var f_auto_price = document.getElementById("f_auto_price");

		if (!isNaN(amount))
		{
			if(f_auto_price.checked)
			{
				if(f_equal_obj.checked){
					$("#f_dp_money_vat").val(parseFloat(amount));
				}else{
					var amountTax = 0;

					if (vat_tax == "1")
					{
						tax_ratio = 10;
						amountTax = Math.round(amount * (tax_ratio / 100));
					}
					else if (vat_tax == "2")
					{
						tax_ratio = 3.3;
						amountTax = -Math.floor((amount * (tax_ratio / 100))/10)*10;
					}
					else if (vat_tax >= 3)
					{
						tax_ratio = 0;
						amountTax = Math.round(amount * (tax_ratio / 100));
					}

					var amountTotal = parseFloat(amount) + parseFloat(amountTax);

					$("#f_dp_money_vat").val(amountTotal);
				}

				$("#f_dp_money_vat").val(comma($("#f_dp_money_vat").val()));
			}

			obj.value = comma(amount);
		}
	}

	function dp_vat_tax_calculate_reverse() {
		var obj = document.getElementById("f_dp_money_vat");
		var amount = uncomma(obj.value);
		var vat_tax = $(":input:radio[name=f_vat_tax_choice]:checked").val();

		var f_equal_obj  = document.getElementById("f_equal_vat");
		var f_auto_price = document.getElementById("f_auto_price");

		if (!isNaN(amount))
		{
			if(f_auto_price.checked)
			{
				if (f_equal_obj.checked) {
					$("#f_dp_money").val(parseFloat(amount));
				} else {
					if (vat_tax == "1") {
						tax_ratio = 10;
						var amountTax = Math.round(amount / ((100 + tax_ratio) / 10));
						var amountTotal = parseFloat(amount) - parseFloat(amountTax);
					} else if (vat_tax == "2") {
						tax_ratio = -3.3;
						var amountTotal = Math.floor((amount / ((100 + tax_ratio) / 100)) / 10) * 10;
						var amountTax = parseFloat(amount) - parseFloat(amountTotal);
					} else if (vat_tax >= 3) {
						amountTotal = amount;
					}

					$("#f_dp_money").val(amountTotal);
				}

				$("#f_dp_money").val(comma($("#f_dp_money").val()));
			}
			obj.value = comma(amount);
		}
	}

	//VAT 포함과 동일
	function equal_vat(){
		var obj = document.getElementById("f_equal_vat");
		var obj_vat = document.getElementById("f_dp_money_vat");
		var obj_novat = document.getElementById("f_dp_money");

		if(obj.checked){
			obj_novat.value = obj_vat.value;
		}else{
			dp_vat_tax_calculate_reverse();
		}
	}

	// 파일 다운받기
	function down_file(c_no, type) {
		var gsWin = window.open('about:blank','file download','width=400,height=300');
		var f = document.forms['deposit_form'];
		f.target = "file download";
		f.method = "post";
		f.process.value = 'down_file';
		f.kind.value = type;
		f.submit();
		f.target = "_self";
	}

	// 파일 삭제하기
	function del_file(w_no,type) {
		var f = document.forms['deposit_form'];
		f.method ="post";
		f.process.value='del_file';
		f.kind.value= type;

		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

	function subject_duplicate(){
		var obj = document.getElementById("f_c_name");
		var subject_obj = document.getElementById("f_dp_subject");
		subject_obj.value = obj.value;
		//setTimeout("subject_duplicate()" ,0);
	}

	// 입금방식 카드 or 현금
	function dp_method_change(method_val){
		var f = document.forms['deposit_form'];
		if(method_val == '카드결제'){
			<{if permissionNameCheck($session_permission,"재무관리자")}>
				f.f_dp_state[0].disabled=false; // 입금상태 :: 입금대기
				f.f_dp_state[1].disabled=false; // 입금상태 :: 입금완료
				f.f_dp_state[2].disabled=false; // 입금상태 :: 부분입금
				f.f_dp_state[3].disabled=false; // 입금상태 :: 환불완료
				<{if $dp_no}>
					f.f_dp_state.value='<{$f_dp_state}>'; // 입금상태
				<{else if !$dp_no && $mod_dp_no}>
					f.f_dp_state.value='1'; // 입금상태 :: 입금대기
				<{else}>
					f.f_dp_state.value='2'; // 입금상태 :: 입금완료(선택)
				<{/if}>

				$("#f_dp_date_display").show();  // 입금 완료일
				<{if $dp_no}>
					f.f_dp_date.value='<{$f_dp_date}>'; // 입금 완료일
				<{else}>
					f.f_dp_date.value='<{$today}>'; // 입금 완료일
				<{/if}>
				f.f_dp_date.disabled=false; // 입금 완료일

				$("#f_supply_cost_display").show(); //예정 입금액
				f.f_cost.disabled=false; // 예정 입금액(VAT 포함)
				f.f_supply_cost.disabled=false; // 예정 입금액(공급가액)
				f.f_supply_cost_vat.disabled=false; // 예정 입금액(부가세액)
				f.f_vat_tax_choice.disabled=false; // +10% / -3.3%

				$("#f_dp_money_display").show(); // 입금 완료액
				<{if !$dp_no}>
					f.f_dp_money.value='<{$f_dp_money}>'; // 입금 완료액
				<{/if}>
				f.f_dp_money.disabled=false; // 입금 완료액

				$("#f_dp_tax_date_notice_display").show(); // 계산서 발행일자 메세지
				f.f_dp_tax_state[0].disabled=true; // 계산서 발행상태 :: 발행대기
				f.f_dp_tax_state[1].disabled=true; // 계산서 발행상태 :: 발행완료
				f.f_dp_tax_state[2].disabled=false; // 계산서 발행상태 :: 카드결제
				f.f_dp_tax_state[3].disabled=true; // 계산서 발행상태 :: 해당사항없음
				f.f_dp_tax_state.value='3'; // 계산서 발행상태 :: 카드결제(선택)

				$("#f_dp_tax_date_display").show(); // 계산서 발행일자
				<{if $dp_no}>
					f.f_dp_tax_date.value='<{$f_dp_tax_date}>'; // 계산서 발행일자
				<{else}>
					f.f_dp_tax_date.value=''; // 계산서 발행일자
				<{/if}>
				f.f_dp_tax_date.disabled=false; // 계산서 발행일자

				$("#f_dp_tax_item_display").hide(); // 계산서 발행항목
				f.f_dp_tax_item.value=''; // 계산서 발행항목
				f.f_dp_tax_item.disabled=true; // 계산서 발행항목
			<{else}>
				<{if $dp_no}>
					f.f_dp_state.value='<{$f_dp_state}>'; // 입금상태
				<{else}>
					f.f_dp_state[0].disabled=false; // 입금상태 :: 입금대기
					f.f_dp_state[1].disabled=true; // 입금상태 :: 입금완료
					f.f_dp_state[2].disabled=true; // 입금상태 :: 부분입금
					f.f_dp_state[3].disabled=true; // 입금상태 :: 환불완료
					f.f_dp_state.value='1'; // 입금상태 :: 입금대기(선택)
				<{/if}>

				$("#f_dp_date_display").hide();  // 입금 완료일
				f.f_dp_date.value=''; // 입금 완료일
				f.f_dp_date.disabled=true; // 입금 완료일

				$("#f_supply_cost_display").show(); //예정 입금액
				f.f_cost.disabled=false; // 예정 입금액(VAT 포함)
				f.f_supply_cost.disabled=false; // 예정 입금액(공급가액)
				f.f_supply_cost_vat.disabled=false; // 예정 입금액(부가세액)
				f.f_vat_tax_choice.disabled=false; // +10% / -3.3%

				$("#f_dp_money_display").hide(); // 입금 완료액

				<{if !$dp_no}>
					f.f_dp_money.value='<{$f_dp_money}>'; // 입금 완료액
				<{/if}>
				f.f_dp_money.disabled=true; // 입금 완료액

				$("#f_dp_tax_date_notice_display").show(); // 계산서 발행일자 메세지
				<{if $dp_no}>
					f.f_dp_tax_state.value='<{$f_dp_tax_state}>'; // 계산서 발행상태
				<{else}>
					f.f_dp_tax_state[0].disabled=true; // 계산서 발행상태 :: 발행대기
					f.f_dp_tax_state[1].disabled=true; // 계산서 발행상태 :: 발행완료
					f.f_dp_tax_state[2].disabled=false; // 계산서 발행상태 :: 카드결제
					f.f_dp_tax_state[3].disabled=true; // 계산서 발행상태 :: 해당사항없음
					f.f_dp_tax_state.value='3'; // 계산서 발행상태 :: 카드결제(선택)
				<{/if}>

				$("#f_dp_tax_date_display").show(); // 계산서 발행일자
				<{if $dp_no}>
					f.f_dp_tax_date.value='<{$f_dp_tax_date}>'; // 계산서 발행일자
				<{else}>
					f.f_dp_tax_date.value=''; // 계산서 발행일자
				<{/if}>
				f.f_dp_tax_date.disabled=false; // 계산서 발행일자

				$("#f_dp_tax_item_display").hide(); // 계산서 발행항목
				f.f_dp_tax_item.value=''; // 계산서 발행항목
				f.f_dp_tax_item.disabled=true; // 계산서 발행항목
			<{/if}>
		}else if(method_val == '현금입금'){
			<{if permissionNameCheck($session_permission,"재무관리자")}>
				f.f_dp_state[0].disabled=false; // 입금상태 :: 입금대기
				f.f_dp_state[1].disabled=false; // 입금상태 :: 입금완료
				f.f_dp_state[2].disabled=false; // 입금상태 :: 부분입금
				f.f_dp_state[3].disabled=false; // 입금상태 :: 환불완료
				<{if $dp_no}>
					f.f_dp_state.value='<{$f_dp_state}>'; // 입금상태
				<{else if !$dp_no && $mod_dp_no}>
					f.f_dp_state.value='1'; // 입금상태 :: 입금대기
				<{else}>
					f.f_dp_state.value='2'; // 입금상태 :: 입금완료(선택)
				<{/if}>

				$("#f_dp_date_display").show();  // 입금 완료일
				<{if $dp_no}>
					f.f_dp_date.value='<{$f_dp_date}>'; // 입금 완료일
				<{else}>
					f.f_dp_date.value='<{$today}>'; // 입금 완료일
				<{/if}>
				f.f_dp_date.disabled=false; // 입금 완료일

				$("#f_supply_cost_display").show(); //예정 입금액
				f.f_cost.disabled=false; // 예정 입금액(VAT 포함)
				f.f_supply_cost.disabled=false; // 예정 입금액(공급가액)
				f.f_supply_cost_vat.disabled=false; // 예정 입금액(부가세액)
				f.f_vat_tax_choice.disabled=false; // +10% / -3.3%

				$("#f_dp_money_display").show(); // 입금 완료액
				<{if !$dp_no}>
					f.f_dp_money.value='<{$f_dp_money}>'; // 입금 완료액
				<{/if}>
				f.f_dp_money.disabled=false; // 입금 완료액

				$("#f_dp_tax_date_notice_display").hide(); // 계산서 발행일자 메세지
				f.f_dp_tax_state[0].disabled=false; // 계산서 발행상태 :: 발행대기
				f.f_dp_tax_state[1].disabled=false; // 계산서 발행상태 :: 발행완료
				f.f_dp_tax_state[2].disabled=true; // 계산서 발행상태 :: 카드결제
				f.f_dp_tax_state[3].disabled=false; // 계산서 발행상태 :: 해당사항없음
				<{if $dp_no}>
					f.f_dp_tax_state.value='<{$f_dp_tax_state}>'; // 계산서 발행상태
				<{else}>
					f.f_dp_tax_state.value='1'; // 계산서 발행상태 :: 발행대기(선택)
				<{/if}>

				$("#f_dp_tax_date_display").show(); // 계산서 발행일자
				<{if $dp_no}>
					f.f_dp_tax_date.value='<{$f_dp_tax_date}>'; // 계산서 발행일자
				<{else}>
					f.f_dp_tax_date.value='<{$today}>'; // 계산서 발행일자
				<{/if}>
				f.f_dp_tax_date.disabled=false; // 계산서 발행일자

				$("#f_dp_tax_item_display").show(); // 계산서 발행항목
				f.f_dp_tax_item.disabled=false; // 계산서 발행항목
			<{else}> <!-- 재무관리자 외 -->
				<{if $dp_no}>
					f.f_dp_state.value='<{$f_dp_state}>'; // 입금상태
				<{else}>
					f.f_dp_state[0].disabled=false; // 입금상태 :: 입금대기
					f.f_dp_state[1].disabled=true; // 입금상태 :: 입금완료
					f.f_dp_state[2].disabled=true; // 입금상태 :: 부분입금
					f.f_dp_state[3].disabled=true; // 입금상태 :: 환불완료
					f.f_dp_state.value='1'; // 입금상태 :: 입금대기
				<{/if}>

				$("#f_dp_date_display").hide();  // 입금 완료일
				f.f_dp_date.value=''; // 입금 완료일
				f.f_dp_date.disabled=true; // 입금 완료일

				$("#f_supply_cost_display").show(); // 예정 입금액
				f.f_cost.disabled=false; // 예정 입금액(VAT 포함)
				f.f_supply_cost.disabled=false; // 예정 입금액(공급가액)
				f.f_supply_cost_vat.disabled=false; // 예정 입금액(부가세액)
				f.f_vat_tax_choice.disabled=false; // +10% / -3.3%

				$("#f_dp_money_display").hide(); // 입금 완료액
				f.f_dp_money.value=''; // 입금 완료액
				f.f_dp_money.disabled=true; // 입금 완료액

				$("#f_dp_tax_date_notice_display").hide(); // 계산서 발행일자 메세지
				<{if $dp_no}>
					f.f_dp_tax_state.value='<{$f_dp_tax_state}>'; // 계산서 발행상태
				<{else}>
					f.f_dp_tax_state[0].disabled=false; // 계산서 발행상태 :: 발행대기
					f.f_dp_tax_state[1].disabled=true; // 계산서 발행상태 :: 발행완료
					f.f_dp_tax_state[2].disabled=true; // 계산서 발행상태 :: 카드결제
					f.f_dp_tax_state[3].disabled=true; // 계산서 발행상태 :: 해당사항없음
					f.f_dp_tax_state.value='1'; // 계산서 발행상태 :: 발행대기(선택)
				<{/if}>

				$("#f_dp_tax_date_display").show(); // 계산서 발행일자
				f.f_dp_tax_date.disabled=false; // 계산서 발행일자

				$("#f_dp_tax_item_display").show(); // 계산서 발행항목
				f.f_dp_tax_item.disabled=false; // 계산서 발행항목
			<{/if}>
		}

		<{if $f_dp_tax_state == '2'}>
			f.f_cost.disabled=true; // 예정 입금액(VAT 포함)
			f.f_supply_cost.disabled=true; // 예정 입금액(공급가액)
			f.f_supply_cost_vat.disabled=true; // 예정 입금액(부가세액)
			f.f_vat_tax_choice.disabled=true; // +10% / -3.3%
			f.f_dp_tax_item.disabled=true;
		<{/if}>
	}

	//업체정보 저장하기
	function save_company(dp_no) {
		var f = document.forms['deposit_form'];
		f.process.value = "save_company";

		if (confirm("업체정보와 담당자정보를 저장 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	//삭제하기
	function deposit_delete(dp_no) {
		var f = document.forms['deposit_form'];
		f.process.value = "delete";

		if (confirm("정말로 삭제 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	//복제하기
	function duplicate_deposit(dp_no) {
		var f = document.forms['deposit_form'];
		f.process.value = "duplicate";

		if (confirm("동일한 내용으로 복제 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function mod_duplicate_deposit(dp_no) {
		var f = document.forms['deposit_form'];
		f.process.value = "mod_duplicate";

		if (confirm("계산서 수정요청 및 환불요청을 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function changeModType(mod_type){
		if(mod_type == 'refund'){
			$(".mod_type_refund_file").show();
		}else{
			$(".mod_type_refund_file").hide();
		}
	}

	function same_dp_date(dp_no){
		var f = document.forms['deposit_form'];
		f.f_dp_tax_date.value = f.f_dp_date.value;
	}

	function save_element(dp_no, target) {
		var f = document.forms['deposit_form'];
		f.process.value = target;

		f.submit();
	}

	function comment_delete(no){
		var f = document.forms['comment_frm'];

		f.process.value = "del_comment";
		f.comment_no.value = no;

		// 확인 체크
		if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	Dropzone.autoDiscover = false;

	var imageExt = ['jpg','jpeg','png','gif'];

	var myDropzone = new Dropzone("div#depositFileDropzone",
	{
		url:"inc/dropzone_file_upload.php",
		addRemoveLinks: true,
		dictRemoveFile: "삭제",
		uploadMultiple: true,
		parallelUploads: 1,
		thumbnailWidth: 100,
		thumbnailHeight: 100,
		maxFiles: 5,
		maxFilesize: 30,
		dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
		init: function(){
			<{if $dp_no && $file_count > 0 }>
				<{foreach from=$file_paths key=key item=file_path}>
					var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 300000, path: "<{$file_path}>"};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$file_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "/v1/uploads/<{$file_path}>");
					}

					var html = '<div><input type="hidden" name="file_name[]" class="deposit_file_name" value="<{$file_names[$key]}>">';
					html += '<input type="hidden" name="file_path[]" class="deposit_file_path" value="<{$file_path}>"></div>';
					$(".add-file-hidden").append(html);
				<{/foreach}>
			<{/if}>
		},
		addedfile: function(file) {
			var _this2 = this;

			if (this.element === this.previewsContainer) {
				this.element.classList.add("dz-started");
			}

			if (this.previewsContainer) {
				file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
				file.previewTemplate = file.previewElement; // Backwards compatibility

				this.previewsContainer.appendChild(file.previewElement);
				var _iteratorNormalCompletion3 = true;
				var _didIteratorError3 = false;
				var _iteratorError3 = undefined;

				try {
					for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
						var node = _step3.value;
						node.textContent = file.name;
					}
				} catch (err) {
					_didIteratorError3 = true;
					_iteratorError3 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
							_iterator3["return"]();
						}
					} finally {
						if (_didIteratorError3) {
							throw _iteratorError3;
						}
					}
				}

				var _iteratorNormalCompletion4 = true;
				var _didIteratorError4 = false;
				var _iteratorError4 = undefined;

				try {
					for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
						node = _step4.value;
						node.innerHTML = this.filesize(file.size);
					}
				} catch (err) {
					_didIteratorError4 = true;
					_iteratorError4 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
							_iterator4["return"]();
						}
					} finally {
						if (_didIteratorError4) {
							throw _iteratorError4;
						}
					}
				}

				if (this.options.addRemoveLinks) {
					file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
					file.previewElement.appendChild(file._removeLink);
				}

				var removeFileEvent = function removeFileEvent(e) {
					e.preventDefault();
					e.stopPropagation();

					if (file.status === Dropzone.UPLOADING) {
						return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
							return _this2.removeFile(file);
						});
					} else {
						if (_this2.options.dictRemoveFileConfirmation) {
							return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							return _this2.removeFile(file);
						}
					}
				};

				var _iteratorNormalCompletion5 = true;
				var _didIteratorError5 = false;
				var _iteratorError5 = undefined;

				try {
					for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
						var removeLink = _step5.value;
						removeLink.addEventListener("click", removeFileEvent);
					}
				} catch (err) {
					_didIteratorError5 = true;
					_iteratorError5 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
							_iterator5["return"]();
						}
					} finally {
						if (_didIteratorError5) {
							throw _iteratorError5;
						}
					}
				}

				var download_link = document.createElement('a');
				download_link.setAttribute('href',"/v1/uploads/" + file.path);
				download_link.setAttribute('target',"_blank");
				download_link.classList.add('dz-download');
				file.previewTemplate.appendChild(download_link);
			}
		},
		thumbnail: function(file, dataUrl){
			if (file.previewElement) {
				file.previewElement.classList.remove("dz-file-preview");
				file.previewElement.classList.add("dz-complete");
				var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
				for (var i = 0; i < files.length; i++) {
					var thumbnailElement = files[i];
					thumbnailElement.alt = file.name;
					thumbnailElement.src = dataUrl;
				}
				setTimeout(function () {
					file.previewElement.classList.add("dz-image-preview");
				}, 1);
			}
		},
		maxfilesexceeded: function(file){
			alert('파일은 5개까지 업로드 할 수 있습니다');
		},
		success: function(file, response){
			var result    = JSON.parse(response);
			var fileName  = result.fileName;
			var filePath  = result.filePath;
			var fileCount = $('#file_count').val();

			if(fileCount >= 5){
				this.removeFile(file);
				alert('파일은 5개까지 업로드 할 수 있습니다');
				return;
			}

			if(filePath != ''){
				file.previewElement.classList.add("dz-success");

				var html = '<div><input type="hidden" name="file_name[]" class="deposit_file_name" value="'+fileName+'">';
				html += '<input type="hidden" name="file_path[]" class="deposit_file_path" value="'+filePath+'"></div>';
				$(".add-file-hidden").append(html);
				$('#file_count').val($(".deposit_file_name").length);
				$('#file_chk').val(1);
			}
		},
		error: function(file, response){
			$(".dz-file-preview").remove();
		}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".deposit_file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".deposit_file_name").length);
		$('#file_chk').val(1);
	});
</script>
<script type="text/javascript">
	// 기본 실행 script
	<{if !$dp_no}>
		dp_method_change("현금입금");
	<{else}>
		<{if $f_dp_method == '1'}>
			dp_method_change("카드결제");
		<{elseif $f_dp_method == '2'}>
			dp_method_change("현금입금");
		<{/if}>
	<{/if}>
</script>

</body>
</html>
