<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle; text-align: center;}
	.dp_date_active{background: #3093c2 !important;}
	.form-control{font-size: 12px;}
	.form-detail-group{margin: 5px 0;}
	.form-detail-group .form-control{margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.gray-background{background: #ccc;}
	.check_all, .select_check{cursor: pointer;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="deposit_confirm_management.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_no">no</label>
				<input type="text" name="sch_no" id="sch_no" class="form-control" style="width: 80px; margin-right: 20px; padding: 3px;" value="<{$sch_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_work_state">진행상태</label>
				<select id="sch_work_state" name="sch_work_state" class="form-control" style="margin-right: 20px;">
					<option value="">::전체::</option>
					<{foreach from=$work_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_work_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_account">계좌명</label>
				<select id="sch_dp_account" name="sch_dp_account" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$dp_account_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_dp_account == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group form-detail-group">
				<label for="sch_dp_s_date">입금일시</label>
				<input type="text" class="date-picker form-control" id="sch_dp_s_date" name="sch_dp_s_date" value="<{$sch_dp_s_date}>" style="margin-right: 3px;"/>
				<span>~</span>
				<input type="text" class="date-picker form-control" id="sch_dp_e_date" name="sch_dp_e_date" value="<{$sch_dp_e_date}>" />
				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="days_val" id="days_val" value="<{$days_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="sch_dp_date_type" id="sch_dp_date_type" value="<{$sch_dp_date_type}>">
				<button type="button" onclick="dpDateVal('today')" class="btn_small dp_date_btn dp_today_btn <{if $sch_dp_date_type == 'today'}>dp_date_active<{/if}>" >오늘</button>
				<button type="button" onclick="dpDateVal('days')" class="btn_small dp_date_btn dp_days_btn <{if $sch_dp_date_type == 'days'}>dp_date_active<{/if}>" >3일</button>
				<button type="button" onclick="dpDateVal('week')" class="btn_small dp_date_btn dp_week_btn <{if $sch_dp_date_type == 'week'}>dp_date_active<{/if}>">1주</button>
				<button type="button" onclick="dpDateVal('month')" class="btn_small dp_date_btn dp_month_btn <{if $sch_dp_date_type == 'month'}>dp_date_active<{/if}>">1달</button>
				<span style="margin-right:20px;"></span>

				<label for="sch_bk_name">입금처</label>
				<input type="text" name="sch_bk_name" id="sch_bk_name" class="form-control" style="width: 120px;" value="<{$sch_bk_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_price">금액</label>
				<input type="text" name="sch_price" id="sch_price" class="form-control" style="width: 100px;" value="<{$sch_run_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_dp_no">dp_no</label>
				<select id="sch_dp_no" name="sch_dp_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_deposit_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_dp_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_tax_state">계산서 발행상태</label>
				<select id="sch_dp_tax_state" name="sch_dp_tax_state" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_tax_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_dp_tax_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
			</div>

		</div>
	</form>

	<div style="overflow: hidden; margin: 10px 0;">
		<form name="deposit_confirm_insert_frm" id="deposit_confirm_insert_frm" method="post" action="deposit_confirm_insert.php" enctype="multipart/form-data" style="float: left;">
			<strong style="margin-right: 10px;">#입금 확인 데이터 업로드 : </strong>
			<span>계좌명</span>
			<select name="dp_account" id="dp_account" class="form-control" style="font-size: 12px; width: 120px; display: inline-block; margin-right: 15px;">
				<option value="">::선택::</option>
				<{foreach from=$dp_account_option key=key item=label}>
				<option value="<{$key}>"><{$label}></option>
				<{/foreach}>
			</select>
			<span>입금 계좌처</span>
			<select name="dpc_company" id="dpc_company" class="form-control" style="font-size: 12px; width: 120px; display: inline-block;">
				<{foreach from=$dpc_company_option key=key item=label}>
				<option value="<{$label}>"><{$label}></option>
				<{/foreach}>
			</select>
			<input type="file" name="deposit_file" id="deposit_file" style="width:250px; border: 1px solid #cccccc;">
			<button type="button" onclick="return confirm_insert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
		</form>
	</div>

	<table class="table table-striped table-bordered" style="table-layout: fixed;">
		<colgroup>
			<col width="30px;">  <!-- checkbox -->
			<col width="50px;">  <!-- no -->
			<col width="117px;"> <!-- 진행상태 -->
			<col width="80px;"> <!-- 업로드일 -->
			<col width="85px;"> <!-- 계좌명 -->
			<col width="70px;"> <!-- 입금 수집처 -->
			<col width="80px;"> <!-- 입금일자 -->
			<col width="50px;">  <!-- 구분 -->
			<col width="100px;"> <!-- 계좌명 -->
			<col width="100px;"> <!-- 상대은행 -->
			<col width="100px;"> <!-- 입급처(입금자명) -->
			<col width="80px;"> <!-- 적요 -->
			<col width="80px;"> <!-- 금액 -->
			<col width="120px;"> <!-- 작성자(입금자명/입금완료액) -->
			<col width="70px;"> <!-- dp_no -->
			<col width="200px;"> <!-- 내용 -->
			<col width="100px;"> <!-- 계산서<br/>발행상태 -->
			<col width="180px;"> <!-- 업체명/브랜드명 -->
			<col width="200px;"> <!-- 비고 -->
			<col width="80px;"> <!-- 입금 확인일 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="16" style="padding: 5px;">
					<div style="float: left;text-align: left; width: 300px;">
						<button type="button" onclick="searchDepositConfirm()" style="background: #565656; color: white; padding: 5px 10px; border-radius: 5px; font-weight: bold;">입금 확인 진행요청(<{$deposit_cnt}>건)</button>
					</div>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
					<button onclick="sort_search('dp_date')" style="float: right; margin-top: 10px;">입금일자순<{if $ord_type == 'dp_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
				</td>
				<td colspan="4"></td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">
					<input type="checkbox" name="check_all" class="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" rowspan="2">no</th>
				<th scope="col" rowspan="2">확인 진행상태</th>
				<th scope="col" rowspan="2">업로드일<br/>업로드 담당자</th>
				<th scope="col" rowspan="2">계좌명</th>
				<th scope="col" rowspan="2">입금 수집처</th>
				<th scope="col" rowspan="2">입금일자</th>
				<th scope="col" rowspan="2">구분</th>
				<th scope="col" rowspan="2">계좌명</th>
				<th scope="col" rowspan="2">상대은행</th>
				<th scope="col" rowspan="2">입금처(입금자명)</th>
				<th scope="col" rowspan="2">적요</th>
				<th scope="col" rowspan="2">금액</th>
				<th scope="col" rowspan="2">작성자<br/>(입금자명/입금완료액)</th>
				<th scope="col" rowspan="2">
					dp_no
					<{if $session_team == '00244'}>
					<br/>
					<button type="button" onclick="multi_save_el('multi_confirm_deposit')" style="font-size:12px; border-radius:3px; background: #DDD;color: black;font-weight: bold;padding: 5px 10px;">입금확인완료</button>
					<{/if}>
				</th>
				<th scope="col" rowspan="2">내용</th>
				<th scope="col" rowspan="2">계산서<br/>발행상태</th>
				<th scope="col" rowspan="2">업체명/브랜드명</th>
				<th scope="col" rowspan="2">비고</th>
				<th scope="col" rowspan="2">입금 확인일<br/>(처리자)</th>
			</tr>
		</thead>
		<tbody>
			<{if $deposit_confirm_list}>
				<{foreach from=$deposit_confirm_list item=deposit_confirm}>
				<tr>
					<td class="first"> <!-- Checkbox -->
						<input type="checkbox" name="select_check" class="select_check" attr-no="<{$deposit_confirm.dpc_no}>" value="<{$deposit_confirm.dpc_no}>" <{if !($deposit_confirm.work_state == '3' && $deposit_confirm.dp_no == 0 && $deposit_confirm.deposit_cnt == '1')}>disabled<{/if}>>
					</td>
					<td> <!-- No -->
						<{$deposit_confirm.dpc_no}>
					</td>
					<td> <!-- 진행상태 -->
						<select name="mod_status" class="form-control" style="width: 100px; color: <{$work_state_color_option[$deposit_confirm.work_state]}>;" onchange="save_el('<{$deposit_confirm.dpc_no}>','f_work_state', this)" style="font-size: 12px;">
							<option value="">::선택::</option>
							<{foreach from=$work_state_option key=key item=label}>
							<option value="<{$key}>" <{if $deposit_confirm.work_state == $key}>selected<{/if}> style="color: <{$work_state_color_option[$key]}>;"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 업로드일/담당자 -->
						<{$deposit_confirm.reg_day}><br/>
						<{$deposit_confirm.reg_name}>
					</td>
					<td> <!-- 계좌명 -->
						<{$deposit_confirm.dp_account_name}>
					</td>
					<td class="gray-background"> <!-- 입금 수집처 -->
						<{$deposit_confirm.dpc_company}>
					</td>
					<td class="gray-background"> <!-- 입금일자 -->
						<{$deposit_confirm.dp_date}>
					</td>
					<td class="gray-background"> <!-- 구분 -->
						<{$deposit_confirm.dpc_type}>
					</td>
					<td class="gray-background text-left"> <!-- 계좌명 -->
						<{$deposit_confirm.acc_name}>
					</td>
					<td class="gray-background text-left"> <!-- 상대은행 -->
						<{$deposit_confirm.bk_title}>
					</td>
					<td class="gray-background text-left"> <!-- 입금처(입금자명) -->
						<{$deposit_confirm.bk_name}>
					</td>
					<td class="gray-background text-left"> <!-- 적요 -->
						<{$deposit_confirm.juck_yo}>
					</td>
					<td class="gray-background text-right"> <!-- 금액 -->
						<{$deposit_confirm.price|number_format:0}>
					</td>
					<td> <!-- 작성자(입금자명/입금완료액) -->
						<{if $deposit_confirm.work_state == '3' && $deposit_confirm.dp_no == 0}>
							<{if $deposit_confirm.deposit_list}>
								<{foreach from=$deposit_confirm.deposit_list item=deposit}>
									<{if $deposit_confirm.deposit_cnt == '1'}>
									<input type="hidden" name="f_dp_no" id="f_dp_no_<{$deposit_confirm.dpc_no}>" value="<{$deposit.dp_no}>">
									<{/if}>
									<div>
										<{$deposit.reg_name}> (<{$deposit.bk_name}> / <{$deposit.cost|number_format:0}>)
									</div>
								<{/foreach}>
							<{/if}>
						<{/if}>
					</td>
					<td> <!-- dp_no -->
						<{if $deposit_confirm.dp_no}>
							<{$deposit_confirm.dp_no}>
							<a href="deposit_list.php?sch_dp_no=<{$deposit_confirm.dp_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						<{elseif $deposit_confirm.work_state == '3' && $deposit_confirm.dp_no == 0 && $deposit_confirm.deposit_cnt == '1'}>
							<button type="button" onclick="confirmDeposit('<{$deposit_confirm.dpc_no}>')" style="font-size:12px; border-radius:3px; background: #333;color: white;font-weight: bold;padding: 5px 10px;">입금 확인 완료</button>
						<{/if}>
					</td>
					<td> <!-- 내용 -->
						<{if $deposit_confirm.dp_no}>
							<textarea name="f_dp_content" class="form-control" style="font-size: 11px; padding: .2rem .2rem;" onchange="save_el('<{$deposit_confirm.dp_no}>','f_dp_content',this);" <{if $deposit_confirm.dp_tax_state != '1'}>readonly<{/if}>><{$deposit_confirm.dp_content}></textarea>
						<{/if}>
					</td>
					<td> <!-- 계산서 발행상태 -->
						<{if $deposit_confirm.dp_no}>
							<span style="<{if $deposit_confirm.dp_tax_state == '1'}>color: red; font-weight: bold;<{elseif $deposit_confirm.dp_tax_state == '2'}>color: blue; font-weight: bold;<{/if}>"><{$deposit_confirm.dp_tax_state_name}></span>
							<{if $deposit_confirm.dp_tax_state == '1' && permissionNameCheck($session_permission,"재무관리자")}>
								<button type="button" onclick="confirmDepositTax('<{$deposit_confirm.dp_no}>')" style="font-size:12px; border-radius:3px; background: #333;color: white;font-weight: bold; padding: 3px;">발행완료 처리</button>
							<{/if}>
						<{/if}>
					</td>
					<td> <!-- 업체명/브랜드명 -->
						<input type="text" name="f_brand_name" class="form-control f_brand_name" id="f_brand_name_<{$deposit_confirm.dpc_no}>"  value="<{$deposit_confirm.c_name}>" attr-dpc="<{$deposit_confirm.dpc_no}>" style="font-size: 12px;">
					</td>
					<td> <!-- 비고 -->
						<textarea name="f_notice" class="form-control" onchange="save_el('<{$deposit_confirm.dpc_no}>','f_notice', this)" style="font-size: 12px;"><{$deposit_confirm.notice}></textarea>
					</td>
					<td> <!-- 입금 확인일(처리자) -->
						<{if $deposit_confirm.run_date}>
							<{$deposit_confirm.run_date}><br/>
							(<{$deposit_confirm.run_name}>)
						<{/if}>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="20">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="20" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<button onclick="location.href='excel_deposit_confirm_management.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀다운로드</span></button>
	</div>
</div>

<form action="deposit_confirm_management.php" name="new_confirm_frm" id="new_confirm_frm" method="post">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="dp_no" value="">
	<input type="hidden" name="dpc_no" value="">
	<input type="hidden" name="dpc_no_list" value="">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$(".f_brand_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term,
						s_no: "",
						f_all: true
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.sch_c_name,
								cname : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var dpc_no = $(this).attr('attr-dpc');
				$(this).val(ui.item.cname);

				save_element(dpc_no, "f_brand", ui.item.cno);
				return false;
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});
	});

	function searchList(){
		document.search_form.submit();
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val(type);

		if(ord_type_by == '2'){
			$("#ord_type_by").val("1");
		}else if(ord_type_by == '1'){
			$("#ord_type_by").val("");
		}else{
			$("#ord_type_by").val("2");
		}

		f.submit();
	}

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function dpDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".dp_date_btn").removeClass('dp_date_active');
		$(".dp_"+type+"_btn").addClass('dp_date_active');

		$("#sch_dp_s_date").val(typedate);
		$("#sch_dp_e_date").val(todate);

		$("#sch_dp_date_type").val(type);
	}

	function confirm_insert()
	{
		var f = document.forms['deposit_confirm_insert_frm'];

		if(!$('#dp_account').val()){
			alert("계좌를 선택해 주세요");
			return;
		}

		if(!$('#deposit_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function save_el(dpc_no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_notice') {
			$.post("deposit_confirm_management.php", {dpc_no: dpc_no, process : proc, val : val}, function(result){

				if(proc == "f_brand"){

				}

				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_element(dpc_no, proc, val)
	{
		var obj 	= $("#f_brand_name_"+dpc_no);
		var x 		= obj.position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("deposit_confirm_management.php", {dpc_no: dpc_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function searchDepositConfirm()
	{
		$("#sch_dp_s_date").val('');
		$("#sch_dp_e_date").val('');
		$("#sch_work_state").val('3');

		document.forms['search_form'].submit();
	}

	function confirmDeposit(dpc_no)
	{
		if($("#f_dp_no_"+dpc_no).val() != "")
		{
			if(confirm("정말로 입금 확인 완료 처리합니까?"))
			{
				var f = document.new_confirm_frm;
				f.dp_no.value 	= $("#f_dp_no_"+dpc_no).val();
				f.dpc_no.value  = dpc_no;
				f.process.value = "confirm_deposit";
				f.submit();
			}

		}else{
			alert("입금확인 데이터 검색 후 이용해주세요");
		}

		return false;
	}

	function confirmDepositTax(dp_no)
	{
		if(confirm("발행완료 처리하시겠습니까?"))
		{
			var f = document.new_confirm_frm;
			f.dp_no.value 	= dp_no;
			f.process.value = "confirm_deposit_tax";
			f.submit();
		}

		return false;
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check");
		for (var i=0; i<chk.length; i++) {
			if(!chk[i].disabled){
				chk[i].checked = chkall.checked;
			}
		}
	}

	function multi_save_el(proc)
	{
		var f = document.new_confirm_frm;
		var dpc_no_list = "";

		var select_check = document.getElementsByName("select_check");

		for (var i=0; i<select_check.length; i++)
		{
			if(!select_check[i].disabled && select_check[i].checked)
			{
				if(!!dpc_no_list){
					dpc_no_list += ("||" + select_check[i].value);
				}else{
					dpc_no_list += (select_check[i].value);
				}
			}

		}

		if(!dpc_no_list){
			alert("선택된 데이터가 없습니다");
			return false;
		}

		if(confirm("입금완료 처리하시겠습니까?"))
		{
			f.process.value = proc;
			f.dpc_no_list.value = dpc_no_list;
			f.submit();
		}
	}
</script>

</body>
</html>
