<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="estimate_list.php">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="default_wrap" style="color:1c7198;">
			<div class="left_wrap">

				<span class="name_tit">est_wp_no</span>
				<input type="text" name="sch_est_wp_no" value="<{$sch_est_wp_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">진행상태</span>
				<select name="sch_state" id="sch_state" class="select_type2" >
					<option value="">::전체::</option>
					<{foreach from=$work_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">인센티브 정산 년/월</span>
				<input type="text" class="month-picker input_type2" id="sch_incentive_date" name="sch_incentive_date" value="<{$sch_incentive_date}>" style="margin-right:10px"/>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">인센티브 정산상태</span>
				<select name="sch_incentive_state" id="sch_incentive_state" class="select_type2" >
					<option value="">::전체::</option>
					<{foreach from=$incentive_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_incentive_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">마케팅 담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" style="margin-right:10px;" >
					<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"마스터관리자")}>
						<option value="all" <{if $sch_s_no=="all"}>selected<{/if}>>::전체::</option>
					<{/if}>
					<{section name=data loop=$staff_list}>
						<option value="<{$staff_list[data].no}>" <{if (($sch_s_no !='' && $staff_list[data].no==$sch_s_no) || (!$sch_s_no && $staff_list[data].no==$session_s_no ))}>selected<{/if}>><{$staff_list[data].name}></option>
					<{/section}>
				</select>

				<br />

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right; color:1c7198;">
							<span class="name_tit">업체명</span>
							<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
						<td style="text-align: right; color:1c7198;">
							<span style="margin-left:20px;" class="name_tit">견적서명</span>
							<input type="text" name="sch_subject" value="<{$sch_subject}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
						<{if permissionNameCheck($session_permission,"마케터")}>
						<td style="text-align: right; color:1c7198;">
							<span style="margin-left:20px;" class="name_tit">마케터 메모</span>
							<input type="text" name="sch_memo" value="<{$sch_memo}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
						<{/if}>
						<td>
							<button class="btn_big_search" onclick="submit();">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 견적서 추가하기 입력 부분 [Start] -->
			<thead>
				<tr>
					<th class="first">est_wp_no</th>
					<th>진행상태<br>(마케터설정)</th>
					<th>입금완료일<br>(정산 년/월)</th>
					<th>인센티브<br>정산상태</th>
					<th>[업체명]</th>
					<th>견적서명</th>
					<th>마케팅<br />담당자</th>
					<th>총 판매가<br>(VAT별도)</th>
					<th>총 예상 외주비<br>(VAT별도)</th>
					<th>인센 기준 매출액<br><span style="text-decoration: underline;" title="인센 기준 매출액 = 실제 입금액 - 작업완료 실제외주비 - 작업미완료 예상외주비(인센 정산 시 예정업무로 반영)">(계산법은?)</span></th>
					<th>마케터 메모<br>(마케터 전용)</th>
					<th>견적서<br>제작</th>
				</tr>
			</thead>
			<tbody>
				<form name="apply_package_frm_new" id="apply_package_frm_new" method="post" action="estimate_list.php" enctype="multipart/form-data">
					<input type="hidden" name="process">
					<input type="hidden" name="keyword_dup_yn" value="N" >
					<input type="hidden" name="f_c_no_new" id="f_c_no_new">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="folder">
				<tr style="background-color: #e4e4e4;">
					<td>-</td> <!-- est_wp_no -->
					<td> <!-- 진행상태<br>(마케터설정) -->
						<select name="f_state_new" class="f_state_new select_type1">
							<option value="">::선택::</option>
							<{foreach from=$work_state_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td>-</td> <!-- 입금완료일<br>(정산 년/월) -->
					<td>-</td> <!-- 인센티브<br>정산상태 -->
					<td class="alignL"> <!-- 업체명-->
						<input type="text" name="f_c_name_new" id="f_c_name_new" class="input_type7" />
					</td>
					<td class="alignL"> <!-- 견적서명 -->
						<input type="text" name="f_subject_new" id="f_subject_new" class="input_type7" />
					</td>
					<td> <!-- 마케팅 담당자 -->
						<select name="s_no_new" id="s_no_new" class="select_type1" >
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<option value="">::선택::</option>
							<{/if}>
							<{section name=data loop=$staff_list}>
								<{if (($s_no_new !='' && $staff_list[data].no==$s_no_new) || (!$s_no_new && permissionNameCheck($session_permission, "마케터") && $staff_list[data].no==$session_s_no ))}>
									<option value="<{$staff_list[data].no}>" selected><{$staff_list[data].name}></option>
								<{elseif permissionNameCheck($session_permission,"마스터관리자")}>
									<option value="<{$staff_list[data].no}>"><{$staff_list[data].name}></option>
								<{/if}>
							<{/section}>
						</select>
					</td>
					<td> <!-- 총 판매가(VAT별도) -->
						-
					</td>
					<td> <!-- 외주비 단가(VAT별도) -->
						-
					</td>
					<td>-</td> <!-- 총 실제 외주비(VAT별도) -->
					<td> <!-- 마케터 메모 (마케터 전용) -->
						<textarea name="f_memo_new" id="f_memo_new" class="textarea_work_message" style="height:35px;"></textarea>
					</td>
					<td> <!-- 견적서 만들기 -->
						<button type="button" style="width:70px; background-color:#565656; color:#fff;" onclick="return add_estimate_work_package();" class="btn_big_memo" >견적서<br />제작</button>
					</td>
				</tr>
				</form>
			</tbody>
			<!-- 견적서 추가하기 입력 부분 [End] -->
			<thead>
				<tr>
					<td colspan="7">
						<br>#견적서에 설정되지 않은 입금 내역<br>
						dp_no | 입금완료일 | 담당자 | 업체명 | 입금완료액(VAT별도)<br>
						<select name="f_deposit_not_set_list" id="f_deposit_not_set_list" style="width:600px;" size="5" >
							<{section name=data loop=$deposit_not_set_list}>
								<option value="<{$deposit_not_set_list[data].dp_no}>"><{$deposit_not_set_list[data].dp_no}> | <{$deposit_not_set_list[data].dp_date}> | <{$deposit_not_set_list[data].s_no_name}> | <{$deposit_not_set_list[data].c_name}> | <{$deposit_not_set_list[data].dp_money_comma}></option>
							<{/section}>
						</select>
					</td>
					<td colspan="6">
						<br>#견적서에 설정되지 않은 업무 내역<br>
						w_wo | 작성일 | 진행상태 | 담당자 | 상품명 | 업체명 | 타겟키워드<br>
						<select name="f_work_not_set_list" id="f_work_not_set_list" style="width:600px;" size="5" >
							<{section name=data loop=$work_not_set_list}>
								<option value="<{$work_not_set_list[data].dp_no}>"><{$work_not_set_list[data].w_no}> | <{$work_not_set_list[data].regdate}> | <{$work_state_option[$work_not_set_list[data].work_state]}> | <{$work_not_set_list[data].s_no_name}> |
									<{$work_not_set_list[data].prd_no_name}> | <{$work_not_set_list[data].c_name}> | <{$work_not_set_list[data].t_keyword}></option>
							<{/section}>
						</select>
					</td>
				</tr>
			</thead>
			<!-- 견적서 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="13" style="text-align: left;">
						<br><{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:30px;">est_wp_no</th>
					<th style="min-width:90px;">진행상태<br>(마케터설정)</th>
					<th style="min-width:85px;">입금완료일<br>(정산 년/월)</th>
					<th style="min-width:120px;">인센티브<br>정산상태</th>
					<th style="min-width:210px;">[업체명]</th>
					<th style="min-width:210px;">견적서명</th>
					<th style="min-width:80px;">마케팅<br />담당자</th>
					<th style="min-width:112px;">총 판매가<br>(VAT별도)</th>
					<th style="min-width:112px;">총 예상 외주비<br> - 예정 외주비<br>(VAT별도)</th>
					<th style="min-width:112px;">실제 입금액<br>- 완료 외주비<br>(VAT별도)</th>
					<th style="min-width:112px;">인센 기준 매출액<br><span style="text-decoration: underline;" title="인센 기준 매출액 = 실제 입금액 - 작업완료 실제외주비 - 작업미완료 예상외주비(인센 정산 시 예정업무로 반영)">(계산법은?)</span></th>
					<th style="min-width:150px;">마케터 메모<br>(마케터 전용)</th>
					<th style="min-width:70px;">작성일</th>
				</tr>
			</thead>
			<tbody>
				<{section name=list loop=$estimate_list}>
				<form name="apply_package_frm<{$estimate_list[list].est_wp_no}>" id="apply_package_frm<{$estimate_list[list].est_wp_no}>" action="estimate_list.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="est_wp_no" value="<{$estimate_list[list].est_wp_no}>">
					<input type="hidden" name="dp_money" value="<{$estimate_list[list].dp_money}>">
					<input type="hidden" name="total_price" value="<{$estimate_list[list].total_price}>">
					<input type="hidden" name="total_out_price" value="<{$estimate_list[list].total_out_price}>">
					<input type="hidden" name="total_work_price" value="<{$estimate_list[list].total_work_price}>">
					<input type="hidden" name="nat_sales_price" value="<{$estimate_list[list].nat_sales_price}>">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="dp_no" value="<{$estimate_list[list].dp_no}>">
					<input type="hidden" name="process">
					<tr style="background-color: #e4e4e4;">
						<td class="first"> <!-- est_wp_no -->
							<{$estimate_list[list].est_wp_no}><br>
							<{if $estimate_list[list].s_no == $session_s_no}>
								<{if !$estimate_list[list].i_no}>
									<a href="#" onclick="del_estimate('<{$estimate_list[list].est_wp_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
								<{/if}>
								<a href="#" onclick="duplicate_package('<{$estimate_list[list].est_wp_no}>');"><img title="복제하기" src="./images/icon/duplicate.png"></a>
								<a href="#" onclick="location.href='excel_estimate_list.php?sch_est_wp_no=<{$estimate_list[list].est_wp_no}>';"><img title="엑셀로 저장하기" src="./images/icon/excel.png"></a>
							<{/if}>
						</td>
						<td>  <!-- 진행상태<br>(마케터설정) -->
							<select name="f_state" id="f_state" onchange="save_package_el('<{$estimate_list[list].est_wp_no}>', 'f_p_state', this)" class="f_state select_type1<{if $estimate_list[list].s_no != $session_s_no}>_disabled<{/if}>" <{if $estimate_list[list].state == '3'}> style="color:red; background-color:yellow;"<{elseif $estimate_list[list].state == '4' || $estimate_list[list].state == '5'}> style="color:blue;"<{elseif $estimate_list[list].state == '7' || $estimate_list[list].state == '8'}> style="color:red; background-color:lightgray;"<{elseif $estimate_list[list].state == '9'}>style="color:black; background-color:lightgray;"<<{/if}> >
								<!-- 탑블로그 상품의 경우 또는 마스터관리자 또는 마케터의 경우 진행요청 이전일 경우 선택 활성화-->
								<option value="">::선택::</option>
								<{foreach from=$work_state_option key=key item=label}>
									<option value="<{$key}>" <{if $estimate_list[list].state == $key}>selected<{/if}> <{if $estimate_list[list].s_no == $session_s_no}><{else}>disabled<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="link"> <!-- 입금완료일<br>(정산 년/월) -->
							<{if $estimate_list[list].dp_no}>
								<{if !$estimate_list[list].i_no}>
									<a href="#" onclick="win_find_deposit('apply_package_frm<{$estimate_list[list].est_wp_no}>', '', '<{$estimate_list[list].dp_no}>');return false;"><{$estimate_list[list].dp_date}></a>
								<{else}>
									<{$estimate_list[list].dp_date}>
								<{/if}>
							<{else}>
								<button type="button" style="width:68px; height:24px;" onclick="win_find_deposit('apply_package_frm<{$estimate_list[list].est_wp_no}>', '<{$estimate_list[list].c_name}>', '');return false;" class="btn_small">입금찾기</button>
							<{/if}>
							<{if $estimate_list[list].dp_no}>
								<br>(<{$estimate_list[list].incentive_date}>)
							<{/if}>
						</td>
						<td> <!-- 인센티브<br>정산상태-->
							<select name="f_incentive_state" id="f_incentive_state" class="f_state select_type2_disabled"
								<{if $estimate_list[list].incentive_state == '' }> style="color:red;"
								<{elseif $estimate_list[list].incentive_state == '1' || $estimate_list[list].incentive_state == '3' || $estimate_list[list].incentive_state == '5'}> style="color:red; background-color:yellow;"
								<{elseif $estimate_list[list].incentive_state == '2' || $estimate_list[list].incentive_state == '4' || $estimate_list[list].incentive_state == '6'}> style="color:blue;"
								<{elseif $estimate_list[list].incentive_state == '7'}> style="color:red; background-color:lightgray;"
								<{elseif $estimate_list[list].incentive_state == '8'}>style="color:black; background-color:lightgray;"<<{/if}> >
								<option value="">::선택::</option>
								<{foreach from=$incentive_state_option key=key item=label}>
								<option value="<{$key}>" <{if $estimate_list[list].incentive_state == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<{if $estimate_list[list].dp_no && !$estimate_list[list].i_no && $estimate_list[list].s_no == $session_s_no}>
								<br><button type="button" style="width:68px; height:24px;" onclick="add_incentive('<{$estimate_list[list].est_wp_no}>')" class="btn_small">정산요청</button>
							<{/if}>
						</td>
						<td class="alignL"> <!-- 업체명 -->
							<{$estimate_list[list].c_name}>&nbsp;<a href="company_regist.php?no=<{$estimate_list[list].c_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						</td>
						<td class="alignL"> <!-- 견적서명 -->
							<{if $estimate_list[list].s_no == $session_s_no}>
								<input type="text" name="f_subject" id="f_subject" onblur="save_package_el('<{$estimate_list[list].est_wp_no}>', 'f_p_subject', this)" class="input_type7"  value="<{$estimate_list[list].subject}>"/>
							<{else}>
								<{$estimate_list[list].subject}>
							<{/if}>
						</td>
						<td> <!-- 마케팅 담당자 -->
							<{$estimate_list[list].s_no_name}>
						</td>
						<td style="text-align: right;"> <!-- 총 판매가/(VAT별도) -->
							<!--input type="text" name="f_price" id="f_price" onblur="save_package_el('<{$estimate_list[list].est_wp_no}>', 'f_p_price', this)" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$estimate_list[list].total_price_comma}>" style="color: #0026ff;"-->
							<span style="color: blue; font-weight: bold; font-size: 15px;"><{$estimate_list[list].total_price_comma}></span>
						</td>
						<td style="text-align: right;"> <!-- 총 예상 외주비<br> - 예정 외주비<br>(VAT별도) -->
							<!--input type="text" name="f_out_price" id="f_out_price" onblur="save_package_el('<{$estimate_list[list].est_wp_no}>', 'f_p_out_price', this)" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$estimate_list[list].total_out_price_comma}>"-->
							<{if $estimate_list[list].s_no == $session_s_no}>
								<span style="color: red; font-weight: bold; font-size: 15px;"><{$estimate_list[list].total_out_price_comma}></span>
								<{if $estimate_list[list].dp_no}>
									<br>- <{$estimate_list[list].total_not6_money_comma}> (예정)
								<{/if}>
							<{/if}>
						</td>
						<td style="text-align: right;"> <!--실제 입금액<br>- 완료 외주비<br>(VAT별도) -->
							<{if $estimate_list[list].dp_no && $estimate_list[list].s_no == $session_s_no}>
								<span style="font-weight: bold; font-size: 14px;"><{$estimate_list[list].dp_money_comma}></span><br>- <{$estimate_list[list].total_work_price_comma}> (완료)
							<{/if}>
						</td>
						<td class="money" style="color: #000000"> <!-- 인센 기준 매출액<br>(계산법) -->
							<{if $estimate_list[list].s_no == $session_s_no}>
								<{$estimate_list[list].nat_sales_price_comma}>
							<{/if}>
						</td>
						<td> <!-- 마케터 메모 (마케터 전용) -->
							<{if permissionNameCheck($session_permission,"마스터관리자") || $estimate_list[list].s_no == $session_s_no }>
								<textarea name="f_memo" id="f_memo" onchange="save_package_el('<{$estimate_list[list].est_wp_no}>', 'f_p_memo', this)" class="textarea_work_message" style="height:45px;" <{if !permissionNameCheck($session_permission,"마스터관리자") && $estimate_list[list].s_no != $session_s_no }>readonly<{/if}>><{$estimate_list[list].memo}></textarea>
							<{/if}>
						</td>
						<td class="date"> <!-- 작성일 -->
							<span class="day"><{$estimate_list[list].regdate_day}></span><br /><span class="time"><{$estimate_list[list].regdate_time}></span>
						</td>
					</tr>
				</form>
				<{if $estimate_list[list].s_no == $session_s_no}>
				<tr>
					<td></td>
					<td colspan="12" class="alignL">
						<div id="estimate_work_list_display_<{$estimate_list[list].est_wp_no}>">
							<table cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td style="min-width:63px; color:#7d7a7a;">w_no</td>
										<td style="min-width:85px; color:#7d7a7a;">진행상태</td>
										<td style="min-width:270px; color:#7d7a7a;">상품명</td>
										<td style="min-width:150px; color:#7d7a7a;">타겟키워드</td>
										<td style="min-width:75px; color:#7d7a7a;">업무요청</td>
										<td style="min-width:112px; color:#7d7a7a;">판매가<br>(VAT별도)</td>
										<td style="min-width:112px; color:#7d7a7a;">예상외주비<br>(VAT별도)</td>
										<td style="min-width:90px; color:#7d7a7a;">실제외주비<br>(VAT별도)</th>
										<td style="min-width:150px; color:#7d7a7a;">마케터 메모</td>
									</tr>
									<{section name=list_2 loop=$estimate_work_list}>
										<{if $estimate_list[list].mw_cnt >= 1 && $estimate_list[list].est_wp_no == $estimate_work_list[list_2].est_wp_no}> <!-- 견적서에 속한 견적서 업무가 있는 경우 표기 -->
											<form name="apply_frm<{$estimate_work_list[list_2].est_w_no}>" id="apply_frm<{$estimate_work_list[list_2].est_w_no}>" action="estimate_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
											<input type="hidden" name="est_wp_no" value="<{$estimate_list[list].est_wp_no}>">
											<input type="hidden" name="est_w_no" value="<{$estimate_work_list[list_2].est_w_no}>">
											<input type="hidden" name="prd_no_name" value="<{$estimate_work_list[list_2].prd_no_name}>">
											<input type="hidden" name="extension_w_no" value="<{$estimate_work_list[list_2].extension_w_no}>">
											<input type="hidden" name="page" value="<{$page}>" >
											<input type="hidden" name="search_url" value="<{$search_url}>">
											<input type="hidden" name="process">
											<tr>
												<td style="padding: 0px 3px 0px 1px;"> <!-- w_no -->
													<input type="text" name="f_w_no" id="f_w_no" onblur="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_w_no', this)" style="width:45px;" value="<{$estimate_work_list[list_2].w_no}>" <{if !permissionNameCheck($session_permission,"마스터관리자") && $estimate_list[list].s_no != $session_s_no}>readonly<{/if}>><br>
													<{if ($estimate_list[list].s_no == $session_s_no && $estimate_work_list[list_2].work_state <= '3')}>
														<a href="#" onclick="del_estimate_work('<{$estimate_work_list[list_2].est_w_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
													<{/if}>
													<a href="#" onclick="duplicate('<{$estimate_work_list[list_2].est_w_no}>');"><img title="복제하기" src="./images/icon/duplicate.png"></a>
												</td>
												<td> <!-- 진행상태 -->
													<{if $estimate_work_list[list_2].w_no}>
														<select name="f_work_state" id="f_work_state" onchange="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_work_state', this)" class="f_work_state select_type1<{if $estimate_work_list[list_2].work_state == '6'}>_disabled<{/if}>" <{if $estimate_work_list[list_2].work_state == '3'}> style="color:red; background-color:yellow;"<{elseif $estimate_work_list[list_2].work_state == '4' || $estimate_work_list[list_2].work_state == '5'}> style="color:blue;"<{elseif $estimate_work_list[list_2].work_state == '7' || $estimate_work_list[list_2].work_state == '8'}> style="color:red; background-color:lightgray;"<{elseif $estimate_work_list[list_2].work_state == '9'}>style="color:black; background-color:lightgray;"<<{/if}> >
															<{section name=data loop=$work_state}>
																<option value="<{$work_state[data][1]}>" <{if $estimate_work_list[list_2].work_state==$work_state[data][1]}>selected<{/if}>
																	<{if $estimate_list[list].s_no == $session_s_no && $work_state[data][1] <= 3 && $estimate_work_list[list_2].work_state <= 3}>
																	<{else}>disabled
																	<{/if}>
																><{$work_state[data][0]}></option>
															<{/section}>
														</select>
													<{else}>
														&nbsp;
													<{/if}>
												</td>
												<td class="alignL link"> <!-- 상품명 -->
													<select name="f_prd_g1" id="f_prd_g1" class="f_prd_g1 select_type2<{if $estimate_work_list[list_2].w_no}>_disabled<{/if}>" <{if $estimate_work_list[list_2].w_no}>disabled<{/if}>>
														<{foreach from=$prd_g1_list key=key item=label}>
															<option value="<{$key}>" <{if $estimate_work_list[list_2].k_prd1==$key}>selected<{/if}>><{$label}></option>
														<{/foreach}>
													</select>
													<select name="f_prd_g2" id="f_prd_g2" class="f_prd_g2 select_type2<{if $estimate_work_list[list_2].w_no}>_disabled<{/if}>" <{if $estimate_work_list[list_2].w_no}>disabled<{/if}>>
														<{section name=data loop=$prd_g2_list}>
														<{if $prd_g2_list[data].est_w_no==$estimate_work_list[list_2].est_w_no }>
															<option value="<{$prd_g2_list[data].k_name_code}>" <{if $estimate_work_list[list_2].k_prd2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
														<{/if}>
														<{/section}>
													</select><br>
													<select name="f_prd" id="f_prd" class="f_prd select_type3<{if $estimate_work_list[list_2].w_no}>_disabled<{/if}>" <{if $estimate_work_list[list_2].w_no}>disabled<{/if}>>
														<{section name=data loop=$prd_list}>
														<{if $prd_list[data].est_w_no==$estimate_work_list[list_2].est_w_no }>
															<option value="<{$prd_list[data].prd_no}>" <{if $estimate_work_list[list_2].prd_no==$prd_list[data].prd_no}>selected<{/if}>><{$prd_list[data].title}></option>
														<{/if}>
														<{/section}>
													</select>
													<{if $estimate_work_list[list_2].w_no}>
														<a href="#" onclick="window.open('work_list.php?sch_w_no=<{$estimate_work_list[list_2].w_no}>&sch_prd=<{$estimate_work_list[list_2].prd_no}>')">[업무보기]</a>
													<{else}>
														<button type="button" style="width: 70px; height: 24px;" onclick="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_prd', this)" class="btn_small">상품변경</button>
													<{/if}>
												</td>
												<td class="alignL" style="word-break:break-all;"> <!-- 타겟키워드 -->
													<{if $estimate_work_list[list_2].extension_w_no && !$estimate_work_list[list_2].w_no}>
														<span style="color: blue;word-break:break-all;">동일키워드로 연장가능한 <br>키워드가 진행중. (D<{$estimate_work_list[list_2].extension_d_day}>일)</span><br>
													<{/if}>
													<{if $estimate_work_list[list_2].w_no}>
														<{if $estimate_work_list[list_2].prd_no == '7' || $estimate_work_list[list_2].prd_no == '30'}>
															<{if $estimate_work_list[list_2].work_state <= 3}>
																<input type="text" name="f_t_keyword" id="f_t_keyword" class="input_type5" style="width:140px;" value="<{$estimate_work_list[list_2].wrok_t_keyword}>"><br>
																<input type="text" name="f_r_keyword" id="f_r_keyword" class="input_type5" style="width:140px;text-align:right;" value="<{$estimate_work_list[list_2].wrok_r_keyword}>">
															<{else}>
																<input type="text" name="f_t_keyword" id="f_t_keyword" class="input_type5_readonly" readonly style="width:140px;" value="<{$estimate_work_list[list_2].wrok_t_keyword}>"><br>
																<input type="text" name="f_r_keyword" id="f_r_keyword" class="input_type5_readonly" readonly style="width:140px;text-align:right;" value="<{$estimate_work_list[list_2].wrok_r_keyword}>">
															<{/if}>
														<{elseif $estimate_work_list[list_2].prd_no == '9' || $estimate_work_list[list_2].prd_no == '4' || $estimate_work_list[list_2].prd_no == '5' || $estimate_work_list[list_2].prd_no == '6' || $estimate_work_list[list_2].prd_no == '8' || $estimate_work_list[list_2].prd_no == '10'}> <!-- 지식인, 블로그, 카페, 모바일, 포스트, 언론기사 -->
															<{if $estimate_work_list[list_2].work_state <= 3}>
																<input type="text" name="f_t_keyword" id="f_t_keyword" class="input_type5" style="width:140px;" value="<{$estimate_work_list[list_2].wrok_t_keyword}>"><br>
															<{else}>
																<input type="text" name="f_t_keyword" id="f_t_keyword" class="input_type5_readonly" readonly style="width:140px;" value="<{$estimate_work_list[list_2].wrok_t_keyword}>"><br>
															<{/if}>
														<{else}>
															&nbsp;
														<{/if}>
													<{else}>
														<input type="text" name="f_t_keyword_or_cnt" id="f_t_keyword_or_cnt" onblur="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_t_keyword_or_cnt', this)" class="input_type5" style="width:140px;"	 value="<{$estimate_work_list[list_2].t_keyword_or_cnt}>">
													<{/if}>
												</td>
												<td class="date alignL" style="word-break:break-all;"> <!-- 업무요청 -->
													<div id="work_req_display_<{$estimate_work_list[list_2].est_w_no}>">
														<{if $estimate_work_list[list_2].prd_no == '7' || $estimate_work_list[list_2].prd_no == '30'}>
															<input type="text" name="f_t_keyword_new" id="f_t_keyword_new" class="input_type5" style="width:140px;" value="<{$estimate_work_list[list_2].t_keyword_or_cnt}>"><br>
															<input type="text" name="f_r_keyword_new" id="f_r_keyword_new" class="input_type5" style="width:140px;text-align:right;">
															<p style="text-align:right;">
																<button type="button" style="width: 70px; height: 24px;" onclick="add_work('<{$estimate_work_list[list_2].est_w_no}>')" class="btn_small">업무요청</button>
																<button type="button" style="width: 45px; height: 24px; background-color: #868686;" onclick="work_req_display_display('<{$estimate_work_list[list_2].est_w_no}>','hide')" class="btn_small">닫기</button>
															</p>
														<{else}>
															<{section name=data loop=$work_format_list}>
																<{if $estimate_work_list[list_2].prd_no == $work_format_list[data].prd_no }>
																	<textarea name="f_task_req_new" id="f_task_req_new" style="width: 400px; height: 100px;" class="textarea_work_message"><{$work_format_list[data].work_format}></textarea>
																<{/if}>
															<{/section}>
															<p style="width:140px;"><input type="file" name="f_task_req_file_new" id="f_task_req_file_new" style="width:100%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span></p>
															<p style="text-align:right;">
																<button type="button" style="width: 70px; height: 24px;" onclick="add_work('<{$estimate_work_list[list_2].est_w_no}>')" class="btn_small">업무요청</button>
																<button type="button" style="width: 45px; height: 24px; background-color: #868686;" onclick="work_req_display_display('<{$estimate_work_list[list_2].est_w_no}>','hide')" class="btn_small">닫기</button>
															</p>
														<{/if}>
													</div>
													<script>$("#work_req_display_<{$estimate_work_list[list_2].est_w_no}>").hide();</script>
													<div id="work_req_display_button_<{$estimate_work_list[list_2].est_w_no}>">
														<{if !$estimate_work_list[list_2].w_no}>
															<{if !$estimate_work_list[list_2].extension_w_no}>
																<button type="button" style="width: 70px; height: 44px;" onclick="work_req_display_display('<{$estimate_work_list[list_2].est_w_no}>','show')" class="btn_small">업무요청<br>작성하기</button>
															<{else}>
																<button type="button" style="width:68px; background-color:#2727d2;height:24px;" onclick="extension_work('<{$estimate_work_list[list_2].est_w_no}>')" class="btn_small">연장하기</button>
															<{/if}>
														<{/if}>
													</div>
												</td>
												<td class="alignR"> <!-- 판매가(VAT별도) -->
													<input type="text" name="f_price" id="f_price" onblur="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_price', this)" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$estimate_work_list[list_2].price}>" style="color: #0026ff;">
												</td>
												<td class="alignR"> <!-- 예상외주비(VAT별도) -->
													<input type="text" name="f_out_price" id="f_out_price" onblur="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_out_price', this)" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$estimate_work_list[list_2].out_price}>" <{if $estimate_work_list[list_2].work_state!='6'}>style="color: #000000;"<{/if}>>
												</td>
												<td class="money" <{if $estimate_work_list[list_2].work_state=='6'}>style="color: #000000;"<{else}>style="color: #adadad;font-weight: nomal;"<{/if}>> <!-- 실제외주비(VAT별도) -->
													<{if $estimate_list[list].s_no == $session_s_no}>
														<{$estimate_work_list[list_2].work_price}>
													<{/if}>
												</td>
												<td> <!-- 마케터 메모 (마케터 전용) -->
													<textarea name="f_memo" id="f_memo" onchange="save_el('<{$estimate_work_list[list_2].est_w_no}>', 'f_memo', this)" class="textarea_work_message" style="height:40px;"><{$estimate_work_list[list_2].memo}></textarea>
												</td>
											</tr>
											</form>
										<{/if}>
									<{/section}>

									<form name="apply_frm_new<{$estimate_list[list].est_wp_no}>" id="apply_frm_new<{$estimate_list[list].est_wp_no}>" method="post" action="estimate_list.php" enctype="multipart/form-data">
										<input type="hidden" name="est_wp_no" value="<{$estimate_list[list].est_wp_no}>">
										<input type="hidden" name="search_url" value="<{$search_url}>">
										<input type="hidden" name="process">
										<tr> <!-- 상품 추가 하기 -->
											<td></td> <!-- est_w_no -->
											<td></td> <!-- 진행상태 -->
											<td class="alignL" colspan="8"> <!-- 상품명 -->
												<select name="f_prd_g1" id="f_prd_g1" class="f_prd_g1 select_type2">
													<option value="">::선택::</option>
													<{section name=data loop=$prd_g1_list}>
														<option value="<{$prd_g1_list[data].k_name_code}>" <{if $estimate_work_list[list_2].k_prd1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
													<{/section}>
												</select>
												<select name="f_prd_g2" id="f_prd_g2" class="f_prd_g2 select_type2">
													<{section name=data loop=$prd_g2_list}>
													<{if $prd_g2_list[data].est_w_no==$estimate_work_list[list_2].est_w_no }>
														<option value="<{$prd_g2_list[data].k_name_code}>" <{if $estimate_work_list[list_2].k_prd2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
													<{/if}>
													<{/section}>
												</select>
												<select name="f_prd" id="f_prd" class="f_prd select_type3">
													<{section name=data loop=$prd_list}>
													<{if $prd_list[data].est_w_no==$estimate_work_list[list_2].est_w_no }>
														<option value="<{$prd_list[data].prd_no}>" <{if $estimate_work_list[list_2].prd_no==$prd_list[data].prd_no}>selected<{/if}>><{$prd_list[data].title}></option>
													<{/if}>
													<{/section}>
												</select>
												<button type="button" style="width:120px;" onclick="return add_estimate_work('<{$estimate_list[list].est_wp_no}>');" class="btn_small">견적서 업무 추가</button>
											</td>
										</tr>
									</form>
								</tbody>
							</table>
							<button type="button" style="width:100%;" onclick="estimate_work_list_display('<{$estimate_list[list].est_wp_no}>', 'hide');" class="btn_small">▲▲▲ 견적서 업무 목록 숨기기 ▲▲▲</button>
						</div>
						<{if $estimate_list[list].est_wp_no != $open_est_wp_no}>
							<script>$("#estimate_work_list_display_<{$estimate_list[list].est_wp_no}>").hide();</script>
							<div id="estimate_work_list_display_button_<{$estimate_list[list].est_wp_no}>">
								<button type="button" style="width:100%; color:black; background-color:#d5d5d5;" onclick="estimate_work_list_display('<{$estimate_list[list].est_wp_no}>', 'show');" class="btn_small">▼▼▼ 견적서 업무 목록 펼치기 ( <{$estimate_list[list].mw_cnt}>건 ) ▼▼▼</button>
							</div>
						<{/if}>
					</td>
				</tr>
				<{/if}>
				<{/section}>
				<br>
					<tr>
						<td colspan="13" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
						</td>
					</tr>
			</tbody>
			<!-- 견적서 리스트 부분 [End] -->
		</table>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		// 업체명 자동완성 검색 결과 값 반영
		$("#f_c_name_new").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
							c_name:request.term,
							s_no:document.getElementById('s_no_new').value
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno :  item.s_no
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#f_c_no_new").val(ui.item.cno);
				$('#s_no_new').val(ui.item.sno);
			},
			focus: function( event, ui ) {
				$("#f_c_no_new").val(ui.item.cno);
				$('#f_c_name_new').val(ui.item.label);
				$('#s_no_new').val(ui.item.sno);
				return false;
			},
			minLength: 1
		});

		$(".f_prd_g2").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_prd_g1")[i],
				url: "/v1/api/product.json.php?parent_data=f_prd_g1",
				loading: "로딩중..",
				clear: true
			});
		});
		$(".f_prd").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_prd_g2")[i],
				url: "/v1/api/product.json.php?parent_data=f_prd_g2",
				loading: "로딩중..",
				clear: true
			});
		});

		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
			loading: "로딩중..",
			clear: true
		});
	});

	function check_package_new_bd() { // 견적서 입력 체크
		if (cknull("f_c_name_new","업체명을")=="x") {return false;}
		var f_c_no_new = document.getElementById("f_c_no_new").value;
		if(f_c_no_new == "" ){
			alert("업체명 확인이 안됩니다. 자동완성으로 나타난 업체명으로 선택해 주세요.");
			return false;
		}
		if (cknull("f_subject_new","견적서명을")=="x") {return false;}
		if (cknull("s_no_new","마케팅 담당자를")=="x") {return false;}

		return true;
	}

	function check_new_bd(est_wp_no) { // 견적서 업무 입력 체크
		eval("var f=document.getElementById('apply_frm_new" + est_wp_no + "');");

		if(f.f_prd.value == ""){
			alert("상품을 선택해 주세요.");
			return false;
		}
		return true;
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function add_estimate_work_package() // 견적서 추가
	{
		if(!check_package_new_bd())
			return;

		eval("var f=document.getElementById('apply_package_frm_new');");
		f.process.value = "add_estimate_work_package";

		f.submit();
	}

	function add_estimate_work(est_wp_no) // 견적서 업무 추가
	{

		if(!check_new_bd(est_wp_no))
			return;

		eval("var f=document.getElementById('apply_frm_new" + est_wp_no + "');");
		f.process.value = "add_estimate_work";

		f.submit();
	}

	function add_work(est_w_no) // 진행요청(업무 생성)
	{
		eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
		f.process.value = "add_work";

		if (confirm("새로 업무요청이 진행됩니다. 맞나요?\n이미 업무가 진행중인 경우 취소를 클릭하신 후\n담당자에게 문의 주세요. - 김윤영") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function extension_work(est_w_no) // 연장하기(업무 생성)
	{
		eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
		f.process.value = "extension_work";

		if (confirm("기존 진행중인건의 연장으로 진행됩니다. 맞나요?") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function add_incentive(est_wp_no) // 정산요청(인센티브 생성)
	{
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = "add_incentive";

		if (confirm("인센티브 정산요청이 진행됩니다.\n입금내역과 업무진행 내역이 맞게 입력 된 경우에만 확인 버튼을 누르세요") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function del_estimate(est_wp_no) // 견적서 삭제
	{
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = "del_estimate";

		if (f.f_state.value > 3)
		{
			alert("접수완료 이후건은 삭제 할 수 없습니다.");
			return;
		}

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function del_estimate_work(est_w_no) // 견적서 업무 삭제
	{
		eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
		f.process.value = 'del_estimate_work';

		if(f.f_w_no.value && f.f_state !== undefined){
			if (f.f_state.value > 3){
				alert("접수완료 이후건은 삭제 할 수 없습니다.");
				return;
			}
		}

		if (confirm("("+est_w_no+") "+f.prd_no_name.value+" 상품을 정말 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function duplicate_package(est_wp_no) // 견적서 복제
	{
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = 'duplicate_package';

		if (confirm("("+est_wp_no+") "+f.f_subject.value+" 패키지를 정말 복제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function duplicate(est_w_no) // 견적서 업무 복제
	{
		eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
		f.process.value = 'duplicate';

		if (confirm("("+est_w_no+") "+f.prd_no_name.value+" 상품을 정말 복제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function copy_to_clipboard(str)
	{
		if( is_ie() ) {
			window.clipboardData.setData("Text", str);
			alert("복사되었습니다.");
			return;
		}
		prompt("Ctrl+C를 눌러 복사하세요.", str);
	}
	function is_ie() {
		if(navigator.userAgent.toLowerCase().indexOf("chrome") != -1) return false;
		if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) return true;
		if(navigator.userAgent.toLowerCase().indexOf("windows nt") != -1) return true;
		return false;
	}

	function save_element(est_wp_no, target) {
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = target;

		<{if permissionNameCheck($session_permission,"마스터관리자")}>
			f.submit();

		<{else}>
			if (confirm("저장 하시겠습니까??") == true)
			{ // 확인
				f.submit();
			} else
			{ //취소
				return;
			}
		<{/if}>
	}

	function save_package_el(est_wp_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_state'){ // 접수완료일 경우 style 처리
			if(val == '3'){
				obj.style.color="red";
				obj.style.backgroundColor="yellow";
			}else if(val == '4' || val == '5'){
				obj.style.color="blue";
				obj.style.backgroundColor="white";
			}else if(val == '7' || val == '8'){
				obj.style.color="red";
				obj.style.backgroundColor="lightgray";
			}else{
				obj.style.color="black";
				obj.style.backgroundColor="white";
			}
		}

		if (val != "" || (proc == 'f_p_memo')) { // 공백시 저장 예외(마케터 메모)
			$.post("estimate_list.php", {est_wp_no : est_wp_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_el(est_w_no, proc, obj) {
		if(proc == 'f_prd'){
			eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
			var val = f.f_prd.value;
		}else{
			var f = obj.form;
			var val = obj.value;
		}
		var est_wp_no = f.est_wp_no.value;
		var search_url = f.search_url.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_state'){ // 접수완료일 경우 style 처리
			if(val == '3'){
				obj.style.color="red";
				obj.style.backgroundColor="yellow";
			}else if(val == '4' || val == '5'){
				obj.style.color="blue";
				obj.style.backgroundColor="white";
			}else if(val == '7' || val == '8'){
				obj.style.color="red";
				obj.style.backgroundColor="lightgray";
			}else{
				obj.style.color="black";
				obj.style.backgroundColor="white";
			}
		}
		if (val != "" || (proc == 'f_w_no' || proc == 'f_t_keyword_or_cnt' || proc == 'f_memo')) { // 공백시 저장 예외(w_no, 타겟키워드 및 수량, 마케터 메모)
			$.post("estimate_list.php", {est_w_no : est_w_no, process : proc, val : val, est_wp_no : est_wp_no, search_url : search_url}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function estimate_work_list_display(est_wp_no, type){
		if(type=='show'){
			$("#estimate_work_list_display_" + est_wp_no).show();
			$("#estimate_work_list_display_button_" + est_wp_no).hide();
		}else if(type=='hide'){
			$("#estimate_work_list_display_" + est_wp_no).hide();
			$("#estimate_work_list_display_button_" + est_wp_no).show();
		}
	}

	function work_req_display_display(est_w_no, type){
		if(type=='show'){
			$("#work_req_display_" + est_w_no).show();
			$("#work_req_display_button_" + est_w_no).hide();
		}else if(type=='hide'){
			$("#work_req_display_" + est_w_no).hide();
			$("#work_req_display_button_" + est_w_no).show();
		}
	}

	// 업무요청 클릭 시 사이즈 확장
	function task_req_click(f){
		f.style.width = "400px";
		f.style.backgroundColor="yellow";
		//f.style.height = "300px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}
	// 업무요청 클릭아웃 시 사이즈 복원
	function task_req_click_out(f){
		f.style.width = "140px";
		f.style.backgroundColor="";
		f.style.height = "70px"; // 수동설정
	}

	function goto_div(div_name){ // div로 스크롤 이동
		var offset = $("#" + div_name).offset();
		$('html, body').animate({scrollTop : offset.top-70}, 10);
	}

</script>
<{if $open_est_wp_no}>
	<script>goto_div('estimate_work_list_display_<{$open_est_wp_no}>');</script>
<{/if}>
</body>
</html>
