<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	#search_form .form-control{font-size: 12px; margin-right: 15px;}
	.form-control{font-size: 12px; padding: 3px;}
	.form-group label{margin-right: 5px; cursor: pointer;}
	.form-detail-group{margin: 5px 0;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody tr:hover{background: rgba(173,216,230,0.5);}
	.table_list_style table tbody td{vertical-align: middle;}
	.table_list_style table tbody td.rows-wrapper{background: white;}
	.table_list_style table tbody td.border-line{border-bottom: 2px solid black;}
	.table .thead-dark th{background-color: rgba(119, 119, 119, 1); border-color: gray;}
	.custom-combobox input{float: left; font-size: 12px; width: 70px; padding: 3px;}
	.evaluator-wrapper .custom-combobox input{float: left; font-size: 12px; width: 105px; padding: 3px;}
	.radio-wrapper label{cursor: pointer; margin-bottom:0; margin-right: 5px;}
	.radio-wrapper input[type=radio]{cursor: pointer; margin: 0;}
	#search_form .custom-combobox input{margin-right: 5px;}
	.per-sqrt{background: black; color: white;}
	.high-score{color: blue; font-weight: bold;}
	.low-score{color: red; font-weight: bold;}

	.not-complete-eval{background: yellow;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		● <{$ev_system.subject}> 수치조정
	</h2>

	<div class="table_list_style">
		<table class="table table-bordered" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 950px; margin-top: 30px; border: 0;">
			<colgroup>
				<col width="50px;"> <!-- ev_r_no -->
				<col width="100px;"> <!-- 평가받는사람 소속 -->
				<col width="100px;"> <!-- 평가받는사람 이름 -->
				<col width="100px;"> <!-- 평가하는사람 소속 -->
				<col width="100px;"> <!-- 평가하는사람 이름 -->
				<col width="100px;"> <!-- 평가비중 -->
				<{if $ev_unit_question_list}>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
						<col width="80px;">
					<{/foreach}>
				<{/if}>
				<col width="100px;"> <!-- 평균 -->
			</colgroup>
			<thead>
				<tr>
					<td colspan="5" style="border: 0; text-align: left;">
						<button type="button" class="btn_small" style="width: 150px; background: forestgreen; font-weight: bold;" onclick="moveLink('apply','<{$ev_system.ev_no}>');">표준편차 적용</button>
						<button type="button" class="btn_small" style="width: 150px; background: red; font-weight: bold;" onclick="moveLink('result','<{$ev_system.ev_no}>');">환산점수 결과보기</button>
					</td>
					<td style="border: 0;vertical-align: bottom">평가결과 평균</td>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
						<td style="text-align:center; border: 0; font-weight: bold; vertical-align: bottom;">
							<{if $ev_total_avg_list[$ev_u_no].avg > 0}>
								<{$ev_total_avg_list[$ev_u_no].avg|number_format:2}>
							<{else}>
								0
							<{/if}>
						</td>
					<{/foreach}>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" class="first" rowspan="2" style="height: 60px;">ev_result_no</th>
					<th scope="col" colspan="2" rowspan="2">평가 받는사람</th>
					<th scope="col" colspan="2" rowspan="2">평가 하는사람</th>
					<th scope="col" rowspan="2">평가비중</th>
					<{if $ev_unit_question_list}>
						<th scope="col" colspan="<{$ev_unit_question_cnt}>">결과</th>
					<{/if}>
					<th scope="col" rowspan="2">평균</th>
				</tr>
				<tr>
					<{if $ev_unit_question_list}>
						<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
							<th scope="col" style="height: 30px"><{$ev_u_data.subject}></th>
						<{/foreach}>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $ev_result_list}>
					<{assign var=result_idx value=0}>
					<{foreach from=$ev_result_list key=rec_s_no item=rec_data}>
						<{assign var=eval_cnt value=$rec_data|count}>
						<{assign var=eval_idx value=1}>
						<{foreach from=$rec_data key=eval_s_no item=eval_data}>
							<tr>
								<td class="first" style="height: 30px;"><{$eval_data.ev_r_no}></td>
								<{if $eval_idx == 1}>
								<td rowspan="<{$eval_cnt}>" class="rows-wrapper"><{$eval_data.rec_team}></td>
								<td rowspan="<{$eval_cnt}>" class="rows-wrapper"><{$eval_data.rec_name}></td>
								<{/if}>
								<td class="text-center"><{$eval_data.eval_team}></td>
								<td class="text-center"><{$eval_data.eval_name}></td>
								<td class="text-right"><{$eval_data.rate|number_format:2}>%</td>
								<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
									<td class="text-center">
										<input type="text" name="f_ev_value" class="form-control" value="<{$eval_data[$ev_u_no]}>" onchange="save_el('<{$eval_data.ev_r_no}>', '<{$ev_u_no}>', 'f_score', this)" style="width: 99%; padding: 3px; text-align: center;">
									</td>
								<{/foreach}>
								<td class="text-right">
									<{$eval_data.avg|number_format:2}>
								</td>
							</tr>
							<{assign var=eval_idx value=$eval_idx+1}>
							<{assign var=result_idx value=$result_idx+1}>
						<{/foreach}>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="<{$ev_unit_total_cnt}>"><{if $sch_ev_no}>데이터가 없습니다<{else}>평가명 조회 후 이용해주세요<{/if}></td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<form name="chk_form" action="evaluation_result_check_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ev_no" class="chk_ev_no">
</form>

<script type="text/javascript">
	$(document).ready(function(){

	});

	function save_el(ev_r_no, ev_u_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();


		if (val != "") {
			$.post("evaluation_result_check_list.php", {ev_r_no : ev_r_no, ev_u_no: ev_u_no, process : proc, val : val}, function(result){
				if(result != ""){
					alert(result);
				}
			});
		}
	}

	function moveLink(type, ev_no)
	{
		var move_url = "";

		if(type == 'result')
		{
			move_url = "evaluation_result_stats.php?sch_ev_no="+ev_no+"&sch_result_type=sqrt";
			window.open(move_url);
		}
		else if(type == 'apply')
		{
			if(confirm("표준편차를 적용시키겠습니까?"))
			{
				document.chk_form.process.value 	= 'f_apply_standard';
				document.chk_form.chk_ev_no.value 	= ev_no;
				document.chk_form.submit();
			}
		}

		return false;
	}
</script>
</body>
</html>
