<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{min-width: 980px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.form-control{font-size: 12px; margin-right: 15px;}
	.form-group label{margin-right: 5px; cursor: pointer;}
	.form-group input[type='checkbox']{cursor: pointer;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody td{vertical-align: middle;}
	.table .thead-dark th{background-color: rgba(119, 119, 119, 1); border-color: gray;}
	.eval-btn{font-size: 12px; width: auto; padding: 5px; background: #999; color: white; font-weight: bold}
	.send-btn{font-size: 12px; width: 100px; padding: 5px; background: #999; color: white; font-weight: bold}
	.self-btn{font-size: 12px; width: 100px; padding: 5px; background: black; color: white; font-weight: bold}
	.self-btn:hover{color: white;}
</style>

<div class="admin_content" style="width: 950px;">
	<div>
		<form method="get" name="search_form" id="search_form" class="form-inline" action="evaluation_regist_iframe.php" autocomplete="off">
			<input type="hidden" name="ev_no" value="<{$ev_no}>">
			<div class="form-group">
				<label for="sch_manager">평가자 설정 관리자</label>
				<select id="sch_manager" name="sch_manager" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$staff_manager_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_receiver_team">평가 받는사람</label>
				<select name="sch_receiver_team" id="sch_receiver_team" class="form-control" style="margin-right: 10px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_receiver_team == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right: 5px;">></span>
				<select name="sch_receiver_staff" id="sch_receiver_staff" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_receiver_staff == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_manager" style="margin-right: 5px;">평가자</label>
				<input type="text" name="sch_evaluator_cnt" id="sch_evaluator_cnt" class="form-control" style="width: 40px; margin-right: 5px;" value="<{$sch_evaluator_cnt}>">
				<span>이하</span>

				<div style="overflow: hidden;">
					<div style="overflow: hidden; float: left;">
						<input type="checkbox" name="sch_is_review" id="sch_is_review" class="form-control" value="1" style="float: left;margin-right: 0; margin-left: 15px; height: auto;" <{if $sch_is_review == '1'}>checked<{/if}>>
						<label for="sch_is_review" style="margin-left: 3px;float: left;">상호평가 미완료</label>
						<br style="clear: both"/>
						<input type="checkbox" name="sch_is_match" id="sch_is_match" class="form-control" value="1" style="float: left;margin-right: 0; margin-left: 15px; height: auto;" <{if $sch_is_match == '1'}>checked<{/if}>>
						<label for="sch_is_match" style="margin-left: 3px;float: left;">상호평가 불일치</label>
					</div>
					<div style="overflow: hidden; float: left;">
						<input type="checkbox" name="sch_is_self" id="sch_is_self" class="form-control" value="1" style="float: left;margin-right: 0; margin-left: 10px; height: auto;" <{if $sch_is_self == '1'}>checked<{/if}>>
						<label for="sch_is_self" style="margin-left: 3px;float: left;">자기평가 완료</label>
						<br style="clear: both"/>
						<input type="checkbox" name="sch_is_complete" id="sch_is_complete" class="form-control" value="1" style="float: left;margin-right: 0; margin-left: 10px; height: auto;" <{if $sch_is_complete == '1'}>checked<{/if}>>
						<label for="sch_is_complete" style="margin-left: 3px;float: left;">평가 미완료</label>
					</div>
				</div>

				<button class="btn_small" onclick="submit();" style="width:58px; height:27px; margin-left: 12px;">검색</button>
			</div>
		</form>
	</div>

	<div class="table_list_style">
		<table class="table table-bordered" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 1150px; margin-top: 20px; ">
			<colgroup>
				<col width="100px;"> <!-- 관리자 -->
				<col width="120px;"> <!-- 소속 -->
				<col width="80px;"> <!-- 이름 -->
				<col width="80px;"> <!-- 평가자 -->
				<col width="120px;"> <!-- 상호평가(확인중) -->
				<col width="120px;"> <!-- 상호평가(불일치) -->
				<col width="120px;"> <!-- 자기평가완료 -->
				<col width="120px;"> <!-- 평가완료 -->
				<col width="240px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th class="first" scope="col" style="height: 40px;" colspan="3">평가 받는사람</th>
					<th scope="col" rowspan="2">평가자</th>
					<th scope="col" rowspan="2">
						상호평가<br/>
						미완료(확인중)
						<{if $is_super_admin}>
						<br/><button type="button" class="btn send-btn" onclick="parent.window.sendSms('<{$ev_no}>','5')">미완료 일괄<br/>문자발송</button>
						<{/if}>
					</th>
					<th scope="col" rowspan="2">
						상호평가<br/>
						불일치
						<{if $is_super_admin}>
						<br/><button type="button" class="btn send-btn" onclick="parent.window.sendSms('<{$ev_no}>','6')">불일치 일괄<br/>문자발송</button>
						<{/if}>
					</th>
					<th scope="col" rowspan="2">
						자기평가완료
						<{if $is_super_admin}>
						<br/><button type="button" class="btn send-btn" onclick="parent.window.sendSms('<{$ev_no}>','8')">미완료 일괄<br/>문자발송</button>
						<{/if}>
					</th>
					<th scope="col" rowspan="2">
						평가완료<br/>
						(완료수/평가자)
						<{if $is_super_admin}>
						<br/><button type="button" class="btn send-btn" onclick="parent.window.sendSms('<{$ev_no}>','7')">미완료 일괄<br/>문자발송</button>
						<{/if}>
					</th>
					<th scope="col" rowspan="2"></th>
				</tr>
				<tr>
					<th scope="col" class="first" style="height: 30px">평가자 설정<br/>관리자</th>
					<th scope="col">소속</th>
					<th scope="col">이름</th>
				</tr>
			</thead>
			<tbody>
				<{if $ev_relation_manager_list}>
					<{foreach from=$ev_relation_manager_list key=ev_manager item=ev_manager_name}>
						<{foreach from=$ev_relation_receiver_list[$ev_manager] key=ev_receiver_s_no item=ev_receiver_data}>
						<{assign var="not_complete_cnt" value=$ev_receiver_data.select_cnt-$ev_receiver_data.complete_cnt}>
						<tr>
							<td style="height: 30px;"><{$ev_manager_name}></td>
							<td><{$ev_receiver_data.t_name}></td>
							<td><{$ev_receiver_data.name}></td>
							<td <{if $ev_receiver_data.total_cnt == 0}>style="color: red;"<{/if}>>
								<{$ev_receiver_data.total_cnt|number_format}>
							</td>
							<td <{if $ev_receiver_data.review_cnt > 0}>style="color: red;"<{/if}>>
								<{$ev_receiver_data.review_cnt|number_format}>
							</td>
							<td <{if $ev_receiver_data.match_cnt > 0}>style="color: red;"<{/if}>>
								<{$ev_receiver_data.match_cnt|number_format}>
							</td>
							<td <{if $ev_receiver_data.self_chk == 0}>style="color: red;"<{/if}>>
								<{if $evaluation_system.ev_state != '1' && $evaluation_system.ev_state != '5' && $evaluation_system.ev_state != '6'}>
									<{if $ev_receiver_data.self_chk == 0}>
										미완료
									<{else}>
										<{if $is_super_admin}>
										<button type="button" class="btn self-btn" onclick="openSelfEval('<{$ev_no}>','<{$ev_receiver_s_no}>')">완료</button>
										<{else}>
										완료
										<{/if}>
									<{/if}>
								<{/if}>
							</td>
							<td <{if $not_complete_cnt > 0 || $ev_receiver_data.select_cnt == 0}>style="color: red;"<{/if}>>
								<{$ev_receiver_data.complete_cnt|number_format}> / <{$ev_receiver_data.select_cnt|number_format}>
							</td>
							<td>
								<{if $is_super_admin}>
									<button type="button" class="btn eval-btn" onclick="moveEvalSetLink('<{$ev_no}>','<{$ev_manager}>','<{$ev_receiver_data.rec_team}>','<{$ev_receiver_s_no}>');">평가자 설정 리스트 보기</button>
									<button type="button" class="btn eval-btn" onclick="moveEvalResult('<{$ev_no}>','<{$ev_receiver_data.rec_team}>','<{$ev_receiver_s_no}>')">평가 보기</button>
								<{/if}>
							</td>
						</tr>
						<{/foreach}>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="9">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<form name="chk_iframe_form" action="evaluation_regist_iframe.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ev_no" class="chk_ev_no">
	<input type="hidden" name="chk_receiver" class="chk_receiver">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_receiver_staff").remoteChained({
			parents: "#sch_receiver_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_receiver_team",
			loading: "로딩중..",
			clear: true
		});
	});

	function moveEvalSetLink(ev_no, manager, rec_team, receiver)
	{
		window.open("evaluation_setting_list.php?sch_ev_no="+ev_no+"&sch_manager="+manager+"&sch_receiver_team="+rec_team+"&sch_receiver_staff="+receiver);
	}

	function moveEvalResult(ev_no, rec_team, receiver)
	{
		window.parent.location.href = "evaluation_result_list.php?sch_ev_no="+ev_no+"&sch_receiver_team="+rec_team+"&sch_receiver_staff="+receiver;
	}

	function sendSelfSms(ev_no, receiver)
	{
		if(confirm("문자를 보내시겠습니까?"))
		{
			document.chk_iframe_form.process.value 		= "send_sms";
			document.chk_iframe_form.chk_ev_no.value 	= ev_no;
			document.chk_iframe_form.chk_receiver.value = receiver;
			document.chk_iframe_form.submit();
		}

		return false;
	}

	function openSelfEval(ev_no, s_no)
	{
		var href = "/v1/evaluation_self_regist.php?ev_no="+ev_no+"&rec_s_no="+s_no+"&self_mode=read"
		window.open(href,'','top=50, left=50, width=665, height=760, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
	}
</script>
</body>
</html>
