<{include file="inc/boot_navibar.html"}>

<style type="text/css">
    @font-face {
        font-family: 'SUIT-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

	.admin_content div,.admin_content h2,.admin_content th,.admin_content td,.admin_content input,.admin_content select,.admin_content textarea,.admin_content button{
        font-family: 'SUIT-Regular'; letter-spacing: -0.5px;
    }
    .main-wrapper{width: 800px; margin: 50px auto 10px;}
    .main-title-wrapper{color: grey; text-align: center; padding: 20px;}
    .main-title-wrapper .eval-main-title{font-size: 38px; font-weight: bold; margin-bottom: 10px;}
    .main-title-wrapper .eval-main-term{font-size: 16px;}
    .main-title-wrapper .eval-main-description{margin-top: 30px; font-size: 14px;}
    .main-content-wrapper{padding: 20px 0; margin: 0 auto;}
    .main-content-wrapper img{width: 100%;}
    .relation-content-wrapper{clear: both; overflow: hidden; line-height: 40px;}
    .relation-content-wrapper .relation-image{float: left; margin-right: 5px;}
    .relation-content-wrapper .relation-staffs{float: left; font-weight: bold; width: 690px;}
    .relation-content-wrapper .relation-staffs .eval_btn{background: gray; color: white; font-size: 12px; font-weight: bold; padding: 5px 15px; border-radius: 15px; width: 70px; letter-spacing: 0.7px;}
    .relation-content-wrapper .relation-staffs .eval_complete_btn{width: 108px;}
    .relation-content-wrapper .relation-staffs .self_btn{background: red;}
    .relation-content-wrapper .relation-staffs .active_btn{background: #0039b3;}
    .staff-profile-wrapper{clear: both; overflow: hidden; margin-top: 40px;}
    .staff-profile-wrapper .receiver-staff{float: left; width: auto;}
    .staff-profile-wrapper .receiver-staff .rec-profile-img{float: left; width: 70px; height: 70px; border-radius: 12px; border: 1px solid #ccc; overflow: hidden;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content{float: left; margin-left: 10px; font-weight: bold; color: grey; padding-top: 10px;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content .profile-label{font-size: 14px;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content .profile-staff{font-size: 18px;}
    .staff-profile-wrapper .evaluator-staff{float: right; width: auto;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-img{float: right; width: 70px; height: 70px; border-radius: 12px; border: 1px solid #ddd;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content{float: right; margin-right: 10px; font-weight: bold; color: grey; padding-top: 10px;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content .profile-label{font-size: 14px;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content .profile-staff{font-size: 18px;}
    .staff-profile-wrapper .staff-result-wrapper{overflow: hidden;clear: both;text-align: right; padding-top: 25px;}
    .staff-profile-wrapper .staff-result-wrapper .result-btn{background: black; color: white; font-weight: bold; font-size: 12px; padding: 5px 15px; border-radius: 15px;}
    .staff-profile-wrapper .staff-result-wrapper .result-btn-active{background: #0039b3;}
    .evaluation-page-wrapper{clear: both; margin-top: 10px;}
    .modal{top: unset;left: unset;height: unset;overflow: unset;}
    #ev-guide-modal{padding: 0;border: 0;margin: 0;max-width: unset;width: auto;}
    #ev-result-modal{padding: 0;border: 0;margin: 0;max-width: unset;width: auto; max-height: 500px;}
</style>

<div class="admin_content" style="min-width:800px; max-width:800px;">
    <div class="main-wrapper">
        <div class="main-title-wrapper">
            <h2 class="eval-main-title" style="margin-bottom: 2px;"><{$evaluation_system.subject}></h2>
            <span class="eval-main-term">평가기간 : <{$evaluation_system.ev_s_date}> ~ <{$evaluation_system.ev_e_date}></span>
            <{if $evaluation_system.description}>
                <p class="eval-main-description">
                    <{$evaluation_system.description}>
                </p>
            <{/if}>
        </div>
        <div class="main-content-wrapper">
            <div class="evaluation-page-wrapper">
                <iframe src='evaluation_page_invest_iframe.php?ev_no=<{$ev_no}>&ev_r_no=<{$ev_r_no}>' width='830' height='500' frameborder='0' id='evaluation_page_iframe' onload='fixIframeHeight(this)'></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ev-guide-modal">
    <div class="modal-content">
        <{if $is_guide_popup && $guide_modal_list}>
            <{foreach from=$guide_modal_list item=guide_path}>
            <img src="./uploads/<{$guide_path}>">
            <{/foreach}>
        <{/if}>
    </div>
</div>

<div class="modal" id="ev-result-modal">
    <div class="modal-content">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        <{if $is_guide_popup}>
            openEvalGuideModal();
        <{/if}>
    });

    function moveEvProgressPage(ev_no, ev_r_no) {
        location.href = "evaluation_progress.php?ev_no="+ev_no+"&ev_r_no="+ev_r_no;
    }

    function moveEvResultPage(ev_no, s_no){
        window.open("evaluation_progress_result.php?ev_no="+ev_no+"&evaluator_s_no="+s_no, "resultWindow", "scrollbars=yes,width=840,height=500,location=no, resizable=yes");
    }

    function fixIframeHeight(obj)
    {
        obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
    }

    function openEvalGuideModal()
    {
        $("#ev-guide-modal").modal({
            fadeDuration: 250
        });
    }
</script>

</body>
</html>
