<{include file="inc/boot_navibar.html"}>

<style type="text/css">
    @font-face {
        font-family: 'SUIT-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

	.admin_content div,.admin_content h2,.admin_content th,.admin_content td,.admin_content input,.admin_content select,.admin_content textarea,.admin_content button{
        font-family: 'SUIT-Regular'; letter-spacing: -0.5px;
    }
    .main-wrapper{width: 800px; margin: 50px auto 10px;}
    .main-title-wrapper{color: grey; text-align: center; padding: 20px;}
    .main-title-wrapper .eval-main-title{font-size: 38px; font-weight: bold; margin-bottom: 10px;}
    .main-title-wrapper .eval-main-term{font-size: 16px;}
    .main-content-wrapper{padding: 20px 0; margin: 0 auto;}
    .main-content-wrapper img{width: 100%;}
    .relation-content-wrapper{clear: both; overflow: hidden; line-height: 40px;}
    .relation-content-wrapper .relation-image{float: left; margin-right: 5px;}
    .relation-content-wrapper .relation-staffs{float: left; font-weight: bold; width: 690px;}
    .relation-content-wrapper .relation-staffs .eval_btn{background: gray; color: white; font-size: 12px; font-weight: bold; padding: 5px 15px; border-radius: 15px; width: 70px; letter-spacing: 0.7px;}
    .relation-content-wrapper .relation-staffs .eval_complete_btn{width: 108px;}
    .relation-content-wrapper .relation-staffs .self_btn{background: red;}
    .relation-content-wrapper .relation-staffs .active_btn{background: #0039b3;}
    .staff-profile-wrapper{clear: both; overflow: hidden; margin-top: 40px;}
    .staff-profile-wrapper .receiver-staff{float: left; width: auto;}
    .staff-profile-wrapper .receiver-staff .rec-profile-img{float: left; width: 70px; height: 70px; border-radius: 12px; border: 1px solid #ccc; overflow: hidden;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content{float: left; margin-left: 10px; font-weight: bold; color: grey; padding-top: 10px;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content .profile-label{font-size: 14px;}
    .staff-profile-wrapper .receiver-staff .rec-profile-content .profile-staff{font-size: 18px;}
    .staff-profile-wrapper .evaluator-staff{float: right; width: auto;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-img{float: right; width: 70px; height: 70px; border-radius: 12px; border: 1px solid #ddd;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content{float: right; margin-right: 10px; font-weight: bold; color: grey; padding-top: 10px;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content .profile-label{font-size: 14px;}
    .staff-profile-wrapper .evaluator-staff .eval-profile-content .profile-staff{font-size: 18px;}
    .staff-profile-wrapper .staff-result-wrapper{overflow: hidden;clear: both;text-align: right; padding-top: 25px;}
    .staff-profile-wrapper .staff-result-wrapper .result-btn{background: black; color: white; font-weight: bold; font-size: 12px; padding: 5px 15px; border-radius: 15px;}
    .staff-profile-wrapper .staff-result-wrapper .result-btn-active{background: #0039b3;}
    .evaluation-page-wrapper{clear: both; margin-top: 50px;}
    .modal{top: unset;left: unset;height: unset;overflow: unset;}
    #ev-guide-modal{padding: 0;border: 0;margin: 0;max-width: unset;width: auto;}
    #ev-result-modal{padding: 0;border: 0;margin: 0;max-width: unset;width: auto; max-height: 500px;}
</style>

<div class="admin_content" style="min-width:800px; max-width:800px;">
    <div class="main-wrapper">
        <div class="main-title-wrapper">
            <h2 class="eval-main-title" style="margin-bottom: 2px;"><{$evaluation_system.subject}></h2>
            <span class="eval-main-term">평가기간 : <{$evaluation_system.ev_s_date}> ~ <{$evaluation_system.ev_e_date}></span>
        </div>
        <div class="main-content-wrapper">
            <div class="relation-wrapper">
                <div class="relation-content-wrapper">
                    <span class="relation-image"><img src="./images/evaluation/kpi/ev_relation1.png"></span>
                    <div class="relation-staffs">
                        <{if !empty($evaluation_relation_list['self'])}>
                            <{foreach from=$evaluation_relation_list['self'] key=key item=rec_data}>
                                <button type="button" class="eval_btn <{if $ev_r_no == $key}>self_btn<{/if}>" onclick="moveEvProgressPage('<{$ev_no}>','<{$key}>')"><{$rec_data.rec_s_name}></button>
                            <{/foreach}>
                        <{/if}>
                    </div>
                </div>
                <div class="relation-content-wrapper">
                    <span class="relation-image"><img src="./images/evaluation/kpi/ev_relation2.png"></span>
                    <div class="relation-staffs">
                        <{foreach from=$evaluation_relation_list['wait'] key=key item=rec_data}>
                            <button type="button" class="eval_btn <{if $ev_r_no == $key}>active_btn<{/if}>" onclick="moveEvProgressPage('<{$ev_no}>','<{$key}>')"><{$rec_data.rec_s_name}></button>
                        <{/foreach}>
                    </div>
                </div>
                <div class="relation-content-wrapper">
                    <span class="relation-image"><img src="./images/evaluation/kpi/ev_relation3.png"></span>
                    <div class="relation-staffs">
                        <{foreach from=$evaluation_relation_list['progress'] key=key item=rec_data}>
                        <button type="button" class="eval_btn <{if $ev_r_no == $key}>active_btn<{/if}>" onclick="moveEvProgressPage('<{$ev_no}>','<{$key}>')"><{$rec_data.rec_s_name}></button>
                        <{/foreach}>
                    </div>
                </div>
                <div class="relation-content-wrapper">
                    <span class="relation-image"><img src="./images/evaluation/kpi/ev_relation4.png"></span>
                    <div class="relation-staffs">
                        <{if $evaluation_relation_list['complete']}>
                            <{assign var=complete_data value=$evaluation_relation_list['complete']}>
                            <{foreach from=$evaluation_relation_sort_list key=key item=avg_data}>
                                <button type="button" class="eval_btn eval_complete_btn <{if $ev_r_no == $key}>active_btn<{/if}>" onclick="moveEvProgressPage('<{$ev_no}>','<{$key}>')"><{$complete_data[$key].rec_s_name}>(<{$avg_data}>)</button>
                            <{/foreach}>
                        <{/if}>
                    </div>
                </div>
            </div>
            <div class="staff-profile-wrapper">
                <div class="receiver-staff">
                    <{if $evaluation_receiver}>
                        <div class="rec-profile-img">
                            <img src="./uploads/<{$evaluation_receiver.profile_img}>">
                        </div>
                        <div class="rec-profile-content">
                            <span class="profile-label">평가 받는사람</span><br/>
                            <span class="profile-staff"><{$evaluation_receiver.s_name}>(<{$evaluation_receiver.t_name}>)</span>
                        </div>
                    <{/if}>
                </div>
                <div class="evaluator-staff">
                    <{if $evaluation_evaluator}>
                        <div class="eval-profile-img">
                            <img src="./uploads/<{$evaluation_evaluator.profile_img}>">
                        </div>
                        <div class="eval-profile-content">
                            <span class="profile-label">평가 하는사람</span><br/>
                            <span class="profile-staff"><{$evaluation_evaluator.s_name}>(<{$evaluation_evaluator.t_name}>)</span>
                        </div>
                    <{/if}>
                </div>
                <div class="staff-result-wrapper">
                    <{if $is_admin}>
                    <button type="button" class="result-btn <{if $ev_r_no == '0'}>result-btn-active<{/if}>" onclick="moveEvProgressPage('<{$ev_no}>', 0)">평가지 확인</button>
                    <{/if}>
                    <button type="button" class="result-btn" onclick="moveEvResultPage('<{$ev_no}>', '<{$session_s_no}>')">내가 평가한 내역 상세보기</button>
                </div>
            </div>

            <div class="evaluation-page-wrapper">
                <iframe src='evaluation_page_iframe.php?ev_no=<{$ev_no}>&ev_r_no=<{$ev_r_no}>' width='830' height='500' frameborder='0' id='evaluation_page_iframe' onload='fixIframeHeight(this)'></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ev-guide-modal">
    <div class="modal-content">
        <{if $is_guide_popup && $guide_modal_list}>
            <{foreach from=$guide_modal_list item=guide_path}>
            <img src="./uploads/<{$guide_path}>">
            <{/foreach}>
        <{/if}>
    </div>
</div>

<div class="modal" id="ev-result-modal">
    <div class="modal-content">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        <{if $is_guide_popup}>
            openEvalGuideModal();
        <{/if}>
    });

    function moveEvProgressPage(ev_no, ev_r_no) {
        location.href = "evaluation_progress.php?ev_no="+ev_no+"&ev_r_no="+ev_r_no;
    }

    function moveEvResultPage(ev_no, s_no){
        window.open("evaluation_progress_result.php?ev_no="+ev_no+"&evaluator_s_no="+s_no, "resultWindow", "scrollbars=yes,width=840,height=500,location=no, resizable=yes");
    }

    function fixIframeHeight(obj)
    {
        obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
    }

    function openEvalGuideModal()
    {
        $("#ev-guide-modal").modal({
            fadeDuration: 250
        });
    }
</script>

</body>
</html>
