<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content div,.admin_content h2,.admin_content th,.admin_content td,.admin_content input,.admin_content select,.admin_content textarea,.admin_content button{
		font-family: 'SUIT-Regular'; letter-spacing: -0.5px;
	}
	.admin_content{min-width: 800px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.table_list_style table thead th{vertical-align: middle;}
</style>

<div class="admin_content" style="min-width: 800px !important;padding: 20px !important;">
	<h2 style="font-size: 24px;"><{$evaluator_staff.s_name}>님의 평가한 내역</h2>
	<div class="table_list_style">
		<table class="table table-bordered" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 800px; margin-top: 20px; ">
			<{if $ev_unit_question_list}>
				<thead>
					<tr>
						<th width="80px" height="30px;">평가받는 사람</th>
						<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_unit_data}>
						<th width="40px"><{$ev_unit_data.subject}></th>
						<{/foreach}>
					</tr>
				</thead>
			<{/if}>
			<{if $evaluation_result_list}>
				<{foreach from=$evaluation_result_list key=receiver_s_no item=ev_result_data}>
				<tr>
					<td><{$ev_result_data.rec_name}></td>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_unit_data}>
						<{if $ev_unit_data.type == '5'}>
							<td>
								<div id="ev_display_btn_on_<{$ev_result_data.ev_r_no}>_<{$ev_u_no}>">
									<span style="color:blue; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$ev_result_data.ev_r_no}>', '<{$ev_u_no}>', 'show');">보기</span>
								</div>
								<div id="ev_display_btn_off_<{$ev_result_data.ev_r_no}>_<{$ev_u_no}>" style="display: none;">
									<span style="color:red; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$ev_result_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">닫기</span>
								</div>
								<div id="ev_display_<{$ev_result_data.ev_r_no}>_<{$ev_u_no}>" style=" display: none; cursor: pointer;" onclick="ev_display(event, '<{$ev_result_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">
									Q : <{$ev_unit_data.question}><br>A : <{$ev_result_data[$ev_u_no]}>
								</div>
							</td>
						<{else}>
							<td><{$ev_result_data[$ev_u_no]}></th>
						<{/if}>
					<{/foreach}>
				</tr>
				<{/foreach}>
			<{else}>
			<tr>
				<td colspan="<{$total_td_cnt}>">데이터가 없습니다.</td>
			</tr>
			<{/if}>
		</table>
	</div>
</div>
<script type="text/javascript">
	function ev_display(e, ev_r_no, ev_u_no, type)
	{
		if(type=='show')
		{
			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY + 10 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).show();
		}
		else if(type=='hide')
		{
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).show();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).hide();
		}
	}
</script>
</body>
</html>
