<{include file="inc/boot_navibar.html"}>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<style type="text/css">
	.table_contents_style table{margin-bottom: 0;}
	.table_contents_style table tbody th{font-size: 13px;}
	.table_contents_style table tbody td.first{border-left: 1px solid #ccc;}
	.label-wrapper{font-size: 13px; min-width: 200px;float: left; line-height: 34px;}
	.content-wrapper{float: left;}
	.btn-wrapper{float: left; margin-left: 10px;}
	.form-control{font-size: 12px; display: inline-block; width: auto;}
	.date-picker{background: yellow;}
	.table_contents_style table tbody td{clear: both;padding: 5px;}
	.img-explain{width: 14px; margin-left: 5px; cursor: pointer;}
	.send-btn{font-size: 12px; width: 200px; padding: 5px; background: #999; color: white; font-weight: bold}
	.upload-wrapper{width: 951px; height: 50px; border: 1px solid #ccc; border-top: 0; padding-top: 10px;}
	.eval_btn_file{padding: 5px 30px; background: #565656; font-weight: bold; line-height: 15px; margin-right: 10px; color: white;}
	.eval_btn_file:disabled{background: #DDD;}

	.dropzone{padding: 10px; min-height: unset; width: 500px;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%; height: 120px;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
</style>
<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px">● 평가 시스템 <{if $ev_no}>수정<{else}>작성<{/if}>하기</h2>

	<div class="table_contents_style">
		<form name="evaluation_form" action="evaluation_regist.php" method="post" enctype="multipart/form-data" autocomplete="off">
			<table cellpadding="0" cellspacing="0">
				<input type="hidden" name="ev_no" value="<{$ev_no}>" />
				<input type="hidden" name="process" id="process" value="<{if $ev_no}>mod_evaluation<{else}>new_evaluation<{/if}>" />
				<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
				<thead>
					<tr>
						<th colspan="3" class="first">평가 시스템 기본정보</th>
					</tr>
				</thead>
				<tbody>
					<tr class="first">
						<th class="first" width="200px" rowspan="4">평가기간</th>
						<td colspan="2" width="750px">
							<div class="label-wrapper">
								<span>평가자 설정 기간</span>
								<img src="images/question.png" class="img-explain" title="평가자 설정 관리자가 평가 받는사람과 합의하여 평가자를 설정하는 기간(지난 평가지를 불러오거나 평가자를 추가/삭제 할 수 있음)">
							</div>
							<div class="content-wrapper">
								<input type="text" name="f_set_s_date" id="f_set_s_date" class="form-control date-picker" value="<{$set_s_date}>" style="margin-right: 5px;" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'set_s_date', this)" <{if !$is_editable}>disabled<{/if}>>
								<input type="text" name="f_set_e_date" id="f_set_e_date" class="form-control date-picker" value="<{$set_e_date}>" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'set_e_date', this)" <{if !$is_editable}>disabled<{/if}>>
							</div>
							<div class="btn-wrapper">
								<{if $ev_no}>
								<button type="button" class="btn send-btn" onclick="sendSms('<{$ev_no}>', '1')">평가자 설정 알림톡 보내기</button>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="label-wrapper">
								<span>상호평가 확인/수정 기간</span>
								<img src="images/question.png" class="img-explain" title="평가 받는사람과 평가 하는사람이 상호평가 확인하는 단계로 불일치 할경우 평가자 설정 관리자간에 합의 후 상호평가확인을 동일하게 설정함">
							</div>
							<div class="content-wrapper">
								<input type="text" name="f_mod_s_date"  id="f_mod_s_date" class="form-control date-picker" value="<{$mod_s_date}>" style="margin-right: 5px;" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'mod_s_date', this)" <{if !$is_editable}>disabled<{/if}>>
								<input type="text" name="f_mod_e_date"  id="f_mod_e_date" class="form-control date-picker" value="<{$mod_e_date}>" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'mod_e_date', this)" <{if !$is_editable}>disabled<{/if}>>
							</div>
							<div class="btn-wrapper">
								<{if $ev_no}>
								<button type="button" class="btn send-btn" onclick="sendSms('<{$ev_no}>', '2')">상호평가 확인/수정 알림톡 보내기</button>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="label-wrapper" style="margin-right: 15px;">
								<span>평가자 설정 검토 및 자기평가 기술서 작성 기간</span>
								<img src="images/question.png" class="img-explain" title="평가담당자가 최종 검토하고 평가자 및 평가비중을 확인/수정하는 기간이며, 평가받는 사람은 자기평가 기술서를 작성함">
							</div>
							<div class="content-wrapper">
								<input type="text" name="f_chk_s_date" id="f_chk_s_date" class="form-control date-picker" value="<{$chk_s_date}>" style="margin-right: 5px;" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'chk_s_date', this)" <{if !$is_editable}>disabled<{/if}>>
								<input type="text" name="f_chk_e_date" id="f_chk_e_date" class="form-control date-picker" value="<{$chk_e_date}>" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'chk_e_date', this)" <{if !$is_editable}>disabled<{/if}>>
							</div>
							<div class="btn-wrapper">
								<{if $ev_no}>
								<button type="button" class="btn send-btn" onclick="sendSms('<{$ev_no}>','3')">자기평가 기술서 알림톡 보내기</button>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="label-wrapper">
								<span>평가 진행 기간</span>
							</div>
							<div class="content-wrapper">
								<input type="text" name="f_ev_s_date" id="f_ev_s_date" class="form-control date-picker" value="<{$ev_s_date}>" style="margin-right: 5px;" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'ev_s_date', this)" <{if !$is_editable}>disabled<{/if}> required>
								<input type="text" name="f_ev_e_date" id="f_ev_e_date" class="form-control date-picker" value="<{$ev_e_date}>" onchange="save_el('<{$ev_no}>', 'modify_change_date', 'ev_e_date', this)" <{if !$is_editable}>disabled<{/if}> required>
							</div>
							<div class="btn-wrapper">
								<{if $ev_no}>
								<button type="button" class="btn send-btn" onclick="sendSms('<{$ev_no}>','4')">평가진행 알림톡 보내기</button>
								<{/if}>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">평가명</th>
						<td colspan="2">
							<input type="text" name="f_subject" id="f_subject" class="form-control f_subject" value="<{$subject}>" style="width: 300px;" onchange="save_el('<{$ev_no}>', 'f_subject', '', this)" <{if !$is_editable}>disabled<{/if}> required>
						</td>
					</tr>
					<tr>
						<th class="first">평가담당자<br/>(결과조회권한)</th>
						<td colspan="2">
							<select name="f_admin_s_no" id="f_admin_s_no" class="form-control f_admin_s_no" onchange="save_el('<{$ev_no}>', 'f_admin_s_no', '', this)" <{if !$is_editable}>disabled<{/if}> required>
								<option value="">::선택::</option>
								<{foreach from=$staff_list key=key item=label}>
								<option value="<{$key}>" <{if $admin_s_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">진행상태</th>
						<td colspan="2">
							<select name="f_ev_state" id="f_ev_state" class="form-control f_ev_state" style="color: <{$ev_state_option[$ev_state]['color']}>" onchange="save_el('<{$ev_no}>', 'f_ev_state', '', this)" <{if !$is_editable}>disabled<{/if}> required>
								<option value="">::선택::</option>
								<{foreach from=$ev_state_option key=key item=ev_state_data}>
								<option value="<{$key}>" style="color: <{$ev_state_data['color']}>" <{if $ev_state == $key}>selected<{/if}>><{$ev_state_data['title']}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">평가지 종류</th>
						<td colspan="2">
							<select name="f_ev_u_set_no" id="f_ev_u_set_no" class="form-control f_ev_u_set_no" onchange="save_el('<{$ev_no}>', 'f_ev_u_set_no', '', this)" <{if !$is_editable}>disabled<{/if}> required>
								<option value="">::선택::</option>
								<{foreach from=$ev_set_list key=key item=label}>
								<option value="<{$key}>" <{if $ev_u_set_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">설명</th>
						<td colspan="2">
							<textarea name="f_description" id="f_description" class="form-control f_description" style="width: 500px; height: 100px;" onchange="save_el('<{$ev_no}>', 'f_description', '', this)" <{if !$is_editable}>disabled<{/if}>><{$description}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">평가 가이드<br/>(레이어팝업)</th>
						<td colspan="2">
							<div class="dropzone" id="evFileDropzone">
								<div class="dz-message">
									가이드 팝업 업로드
								</div>
							</div>
							<div class="add-file-hidden">
							</div>
						</td>
					</tr>
					<{if !$ev_no}>
					<tr>
						<th class="first">진행</th>
						<td colspan="2">
							<div>
								<{if $ev_state == '7'}>
								<button type="button" class="btn_small" style="width: 150px;" onclick="openSelfEval('<{$ev_no}>', '<{$session_s_no}>');">자기평가 기술서 작성하기</button>
								<{elseif $ev_state == '2'}>
								<button type="button" class="btn_small" style="width: 150px;" onclick="moveLink('evaluation','<{$ev_no}>');"  >평가하기</button>
								<{/if}>
							</div>

							<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || $admin_s_no == $session_s_no) && $ev_state == '4'}>
								<div>
									<!-- 핵심가치 평가는 별도 페이지로 -->
									<{if $ev_u_set_no == '1' || $ev_u_set_no == '5' || $ev_u_set_no == '9'}>
									<button type="button" class="btn_small" style="background-color:#c73333; width: 150px;" onclick="moveLink('result_no1','<{$ev_no}>');">평가결과 보기</button>
									<{else}>
									<button type="button" class="btn_small" style="background-color:#c73333; width: 150px;" onclick="moveLink('result_no','<{$ev_no}>');">평가결과 보기</button>
									<{/if}>

									<button type="button" class="btn_small" style="width: 150px;" onclick="moveLink('apply','<{$ev_no}>');">표준편차 적용</button>
									<button type="button" class="btn_small" style="background-color:#9BBB59; width: 150px;" onclick="downloadExcel('<{$ev_no}>');">다면평정표(일괄) 다운로드</button>
								</div>
							<{/if}>
						</td>
					</tr>
					<tr>
						<td class="first text-center" colspan="3">
							<button type="submit" class="btn_style1"><span>평가 시스템 제작하기</span></button>
						</td>
					</tr>
					<{/if}>
				</tbody>
			</table>
		</form>
		<{if $ev_no && ($is_admin || $is_editable)}>
			<div class="upload-wrapper">
				<div style="float: left; height: 30px; line-height:25px; width: 350px; font-size: 14px; text-align: center;">평가자 설정 관리자 및 평가대상(평가받는 사람)</div>
				<form method="post" name="evaluation_regist_frm" action="evaluation_regist_excel_insert.php" enctype="multipart/form-data" style="display: inline-block;">
					<input type="hidden" name="ev_no" value="<{$ev_no}>" />
					<input type="file" name="regist_file" id="regist_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;" <{if $ev_state != '1' && $ev_state != '5'}>disabled<{/if}> />
					<button type="button" onclick="evaluationRegistChk()" class="eval_btn_file" <{if $ev_state != '1' && $ev_state != '5'}>disabled<{/if}>>업로드</button>
				</form>
				<a href="/v1/uploads/document/evaluation/evaluation_sample.xlsx" download="평가엑셀 sample.xlsx">[sample download]</a>
			</div>
			<div class="upload-wrapper">
				<div style="float: left; height: 30px; line-height:25px; width: 350px; font-size: 14px; text-align: center;">평가자 비중 적용</div>
				<form method="post" name="evaluation_rate_frm" action="evaluation_regist_excel_rate_insert.php" enctype="multipart/form-data" style="display: inline-block;">
					<input type="hidden" name="ev_no" value="<{$ev_no}>" />
					<input type="file" name="rate_file" id="rate_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;" <{if $ev_state != '7'}>disabled<{/if}>/>
					<button type="button" onclick="evaluationRateChk()" class="eval_btn_file" <{if $ev_state != '7'}>disabled<{/if}>>업로드</button>
				</form>
				<{if $is_editable}>
				<a href="/v1/uploads/document/evaluation/evaluation_rate_sample.xlsx" download="평가비중 sample.xlsx">[sample download]</a>
				<{/if}>
			</div>
			<{if $ev_u_set_no == '9'}>
			<div class="upload-wrapper">
				<div style="float: left; height: 30px; line-height:25px; width: 350px; font-size: 14px; text-align: center;">
					평가 의견 보정
					<button type="button" class="eval_btn_file" onclick="downEvaluationText('<{$ev_no}>')" style="margin: 0; border-radius: 5px; margin-left: 7px;">평가의견(원본) 다운로드</button>
				</div>
				<form method="post" name="evaluation_text_frm" action="evaluation_regist_excel_text_insert.php" enctype="multipart/form-data" style="display: inline-block;">
					<input type="hidden" name="ev_no" value="<{$ev_no}>" />
					<input type="file" name="text_file" id="text_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;" <{if $ev_state != '3' && $ev_state != '4'}>disabled<{/if}>/>
					<button type="button" onclick="evaluationTextChk()" class="eval_btn_file" <{if $ev_state != '3' && $ev_state != '4'}>disabled<{/if}>>업로드</button>
				</form>
			</div>
			<{/if}>
			<div class="iframe-wrapper" style="min-height: 100px">
				<iframe src='evaluation_regist_iframe.php?ev_no=<{$ev_no}>' width='1200' height='500' frameborder='0' id='evaluation_regist_iframe' onload='fixIframeHeight(this)'></iframe>
			</div>
		<{/if}>
	</div> <!-- //table_contents_style -->

	<div class="left_wrap">
		<button type="button" onclick="location.href='evaluation_system.php';" class="btn_style1"><span>목록으로</span></button>
	</div>
</div> <!-- //admin_content -->

<form name="chk_form" action="evaluation_regist.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="chk_ev_no" class="chk_ev_no">
	<input type="hidden" name="chk_type" class="chk_type">
</form>


<script type="text/javascript">
	function sendSms(ev_no, type)
	{
		if(confirm("문자를 보내시겠습니까?"))
		{
			document.chk_form.process.value 	= "send_sms";
			document.chk_form.chk_ev_no.value 	= ev_no;
			document.chk_form.chk_type.value 	= type;
			document.chk_form.submit();
		}

		return false;
	}

	function openSelfEval(ev_no, s_no)
	{
		var href = "/v1/evaluation_self_regist.php?ev_no="+ev_no+"&rec_s_no="+s_no
		window.open(href,'','top=50, left=50, width=620, height=720, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
	}

	function moveLink(type, ev_no)
	{
		var move_url = "";
		if(type == 'evaluation'){
			move_url = "evaluation_unit_set.php?ev_no="+ev_no;
		}else if(type == 'result_no1'){
			move_url = "evaluation_result_no1.php?ev_no="+ev_no;
		}else if(type == 'result_no'){
			move_url = "evaluation_result.php?ev_no="+ev_no;
		}else if(type == 'apply'){
			if(confirm("표준편차를 적용시키겠습니까?"))
			{
				move_url = "evaluation_result_apply_standard.php?ev_no=" + ev_no + "&type=regist";
			}
		}

		if(!move_url){
			location.href = move_url;
		}

		return false;
	}

	function downloadExcel(ev_no)
	{
		var down_url = "excel_evaluation_total_result.php?ev_no="+ev_no;

		if(confirm("다면평점표를 일괄로 다운로드 하시겠습니까?"))
		{
			location.href = down_url;
		}

		return false;
	}

	function downEvaluationText(ev_no)
	{
		var down_url = "excel_evaluation_result_text.php?ev_no="+ev_no;

		if(confirm("평가의견을 일괄로 다운로드 하시겠습니까?"))
		{
			location.href = down_url;
		}

		return false;
	}

	function save_el(ev_no, proc, type, obj)
	{
		if(!ev_no){
			return false;
		}

		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_description' || proc == 'modify_change_date')) { // 공백시 저장 예외(설명)
			$.post("evaluation_regist.php", {ev_no : ev_no, process : proc, type: type, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	// 엑셀파일 적용하기
	function evaluationRegistChk()
	{
		var f = document.forms['evaluation_regist_frm'];

		if(!$('#regist_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("파일을 적용하시겠습니까?") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function evaluationRateChk()
	{
		var f = document.forms['evaluation_rate_frm'];

		if(!$('#rate_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("파일을 적용하시겠습니까?") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function evaluationTextChk()
	{
		var f = document.forms['evaluation_text_frm'];

		if(!$('#text_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("파일을 적용하시겠습니까?") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
	}

	Dropzone.autoDiscover = false;
	var imageExt = ['jpg','jpeg','png','gif'];
	var myDropzone = new Dropzone("div#evFileDropzone",
	{
		url: "inc/dropzone_file_upload.php",
		addRemoveLinks: true,
		dictRemoveFile: "삭제",
		uploadMultiple: true,
		parallelUploads: 1,
		thumbnailWidth: 120,
		thumbnailHeight: 100,
		maxFiles: 3,
		maxFilesize: 10,
		dictFileTooBig: "10MB 이상 파일은 업로드 할 수 없습니다",
		init: function(){
			<{if $ev_no && $file_count > 0}>
				<{foreach from=$guide_paths key=key item=guide_path}>
					var mockFile<{$key}> = {name: "<{$guide_names[$key]}>", size: 100000, path: "<{$guide_path}>"};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$guide_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "/v1/uploads/"+file_path);
					}

					var html = '<div><input type="hidden" name="guide_name[]" class="file_name" value="<{$guide_names[$key]}>">';
					html += '<input type="hidden" name="guide_path[]" class="file_path" value="<{$guide_path}>"></div>';
					$(".add-file-hidden").append(html);
				<{/foreach}>
			<{/if}>
		},
		addedfile: function(file) {
			var _this2 = this;

			if (this.element === this.previewsContainer) {
				this.element.classList.add("dz-started");
			}

			if (this.previewsContainer) {
				file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
				file.previewTemplate = file.previewElement; // Backwards compatibility

				this.previewsContainer.appendChild(file.previewElement);
				var _iteratorNormalCompletion3 = true;
				var _didIteratorError3 = false;
				var _iteratorError3 = undefined;

				try {
					for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
						var node = _step3.value;
						node.textContent = file.name;
					}
				} catch (err) {
					_didIteratorError3 = true;
					_iteratorError3 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
							_iterator3["return"]();
						}
					} finally {
						if (_didIteratorError3) {
							throw _iteratorError3;
						}
					}
				}

				var _iteratorNormalCompletion4 = true;
				var _didIteratorError4 = false;
				var _iteratorError4 = undefined;

				try {
					for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
						node = _step4.value;
						node.innerHTML = this.filesize(file.size);
					}
				} catch (err) {
					_didIteratorError4 = true;
					_iteratorError4 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
							_iterator4["return"]();
						}
					} finally {
						if (_didIteratorError4) {
							throw _iteratorError4;
						}
					}
				}

				if (this.options.addRemoveLinks) {
					file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
					file.previewElement.appendChild(file._removeLink);
				}

				var removeFileEvent = function removeFileEvent(e) {
					e.preventDefault();
					e.stopPropagation();

					if (file.status === Dropzone.UPLOADING) {
						return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
							return _this2.removeFile(file);
						});
					} else {
						if (_this2.options.dictRemoveFileConfirmation) {
							return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							return _this2.removeFile(file);
						}
					}
				};

				var _iteratorNormalCompletion5 = true;
				var _didIteratorError5 = false;
				var _iteratorError5 = undefined;

				try {
					for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
						var removeLink = _step5.value;
						removeLink.addEventListener("click", removeFileEvent);
					}
				} catch (err) {
					_didIteratorError5 = true;
					_iteratorError5 = err;
				} finally {
					try {
						if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
							_iterator5["return"]();
						}
					} finally {
						if (_didIteratorError5) {
							throw _iteratorError5;
						}
					}
				}

				var download_link = document.createElement('a');
				download_link.setAttribute('href',"/v1/uploads/" + file.path);
				download_link.setAttribute('target',"_blank");
				download_link.classList.add('dz-download');
				file.previewTemplate.appendChild(download_link);
			}
		},
		thumbnail: function(file, dataUrl){
			if (file.previewElement) {
				file.previewElement.classList.remove("dz-file-preview");
				file.previewElement.classList.add("dz-complete");
				var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
				for (var i = 0; i < images.length; i++) {
					var thumbnailElement = images[i];
					thumbnailElement.alt = file.name;
					thumbnailElement.src = dataUrl;
				}
				setTimeout(function () {
					file.previewElement.classList.add("dz-image-preview");
				}, 1);
			}
		},
		maxfilesexceeded: function(file){
			alert('파일은 3개까지 업로드 할 수 있습니다');
			this.removeFile(file);
		},
		success: function(file, response){
			var result   = JSON.parse(response);
			var fileName  = result.fileName;
			var filePath  = result.filePath;
			var fileCount = $('#file_count').val();

			if(fileCount >= 3){
				this.removeFile(file);
				alert('파일은 3개까지 업로드 할 수 있습니다');
				return;
			}

			if(filePath != ''){
				file.previewElement.classList.add("dz-success");

				var html = '<div><input type="hidden" name="guide_name[]" class="file_name" value="'+fileName+'">';
				html += '<input type="hidden" name="guide_path[]" class="file_path" value="'+filePath+'"></div>';
				$(".add-file-hidden").append(html);

				<{if $ev_no}>
					$.ajax({
						url: "/v1/evaluation_regist.php",
						type: 'POST',
						data: {ev_no: '<{$ev_no}>', process: 'f_guide', guide_path: filePath, guide_name: fileName}
					}).done( function( data ) {
						var jsonData = JSON.parse(data);
						var result   = jsonData.result;
					});
				<{/if}>
			}
		}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".file_name");
		var filePathList = $(".file_path");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
					$.ajax({
						url: "/v1/evaluation_regist.php",
						type: 'POST',
						data: {ev_no: '<{$ev_no}>', process: 'f_guide_delete', guide_path: filePathList[idx].value, guide_name: fileName.value}
					}).done( function( data ) {
						var jsonData = JSON.parse(data);
						var result   = jsonData.result;
					});
				}
			});
		}

		$('#file_count').val($(".file_name").length);
	});

	myDropzone.on("error", function(file, message) {
		alert(message);
		myDropzone.removeFile(file);
	});

	<{if $ev_no && !$is_editable}>
	myDropzone.removeEventListeners();
	$(".dz-remove").hide();
	<{/if}>

</script>

</body>
</html>
