<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	body, th, td, input, select, textarea, button{font-family: 'Malgun Gothic','맑은 고딕';}
	.self-evaluation-header{background: rgba(119, 119, 119, 1);}
	.self-evaluation-header-title{font-size: 20px !important; color: white;}
	.self-evaluation-header-title b{font-size: 25px !important;}
	.self-evaluation-content{text-align: left !important; padding: 10px 10px 20px !important; border: 0 !important;}
	.self-evaluation-content-title{text-align: left; font-size: 20px; font-weight: bold;}
	.self-evaluation-content-textarea{color: black; width:99%; height:150px; font-size:14px;}
</style>

<div class="admin_content" style="min-width:800px; max-width:800px;">

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<form method="get" name="search_form" id="search_form" action="evaluation_unit_set.php">
			<tr>
				<td style="text-align:center;border:0px;">
				<div class="btn_wrap">
					<{if $ev_no}> <!-- 평가하기 -->
						<h2 class="title"><{$f_subject}></h2>
						평가기간 : <{$f_ev_s_date}> ~ <{$f_ev_e_date}>
					<{elseif $ev_u_set_no}> <!-- 평가지 보기 -->
						<h2 class="title"><{$set_subject}></h2>
					<{/if}>
				</div>
			</td>
		</tr>

		<{if $ev_relation_list && $ev_relation_list|@count >= 1}>
		<tr>
			<td style="text-align:left;border:0px;">
				<{if $ev_no}> <!-- 평가하기 -->
					<div style="font-size:21px; font-weight:bold;">
						<{section name=list loop=$ev_relation_list}>
							<{if $ev_relation_list[list].receiver_s_no == $session_s_no}>
								자기 평가<br>
								<button type="button" <{if $ev_relation_list[list].ev_r_no == $ev_r_no}>style="background-color:#c73333;"<{elseif $ev_relation_list[list].result_state == '평가완료'}>style="background-color:#969696;"<{/if}> onclick="location.href='evaluation_unit_set.php?ev_no=<{$ev_no}>&ev_r_no=<{$ev_relation_list[list].ev_r_no}>';" class="btn_small"><{$ev_relation_list[list].receiver_s_name}> (<{$ev_relation_list[list].result_state}>)</button>
								<br>
							<{/if}>
						<{/section}>
						평가 대상(평가 받는사람)<br>
						<{section name=list loop=$ev_relation_list}>
							<{if $ev_relation_list[list].receiver_s_no != $session_s_no}>
								<button type="button" <{if $ev_relation_list[list].ev_r_no == $ev_r_no}>style="background-color:#c73333;"<{elseif $ev_relation_list[list].result_state == '평가완료'}>style="background-color:#969696;"<{/if}> onclick="location.href='evaluation_unit_set.php?ev_no=<{$ev_no}>&ev_r_no=<{$ev_relation_list[list].ev_r_no}>';" class="btn_small"><{$ev_relation_list[list].receiver_s_name}> (<{$ev_relation_list[list].result_state}>)</button>
							<{/if}>
						<{/section}>
					</div>
				<{/if}>
			</td>
		</tr>
		<{/if}>
		</form>

		<{if $ev_no}> <!-- 평가하기 -->

			<{section name=list loop=$ev_relation_list}>
				<{if $ev_relation_list[list].ev_r_no==$ev_r_no}>
					<form name="apply_frm_<{$ev_relation_list[list].ev_r_no}>" id="apply_frm_<{$ev_relation_list[list].ev_r_no}>" action="evaluation_unit_set.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="ev_no" value="<{$ev_no}>">
						<input type="hidden" name="ev_r_no" value="<{$ev_r_no}>">
						<input type="hidden" name="process">
						<input type="hidden" name="ev_u_set_no" value="<{$ev_relation_list[list].ev_u_set_no}>">

						<tbody>
							<tr>
								<td style="text-align:center;border:0px; padding: 10px 0 30px;">
									<{if $ev_relation_list[list].ev_u_set_no == '5'}>
									<span style="font-size:13px; color: red; font-weight: bold;">핵심가치평가 진행 안내</span><br/>
									<{/if}>
									<span style="font-size:13px;"><{$ev_relation_list[list].set_description}></span>
								</td>
							</tr>
							<{if ($ev_relation_list[list].ev_u_set_no == '5' || $ev_relation_list[list].ev_u_set_no == '9') && $is_self_ev}>
							<tr>
								<td class="self-evaluation-header"><span class="self-evaluation-header-title"><b><{$current_receiver_name}></b> 님의 자기평가 기술서</span></td>
							</tr>
							<tr>
								<td class="self-evaluation-content">
									<span class="self-evaluation-content-title">고객만족</span>
									<textarea name="self_ev_satisfaction" class="self-evaluation-content-textarea" readonly><{$self_ev_satisfaction}></textarea>
								</td>
							</tr>
							<tr>
								<td class="self-evaluation-content">
									<span class="self-evaluation-content-title">학습</span>
									<textarea name="self_ev_education" class="self-evaluation-content-textarea" readonly><{$self_ev_education}></textarea>
								</td>
							</tr>
							<tr>
								<td class="self-evaluation-content">
									<span class="self-evaluation-content-title">소통과 배려</span>
									<textarea name="self_ev_communication" class="self-evaluation-content-textarea" readonly><{$self_ev_communication}></textarea>
								</td>
							</tr>
							<{/if}>
						<{section name=list2 loop=$ev_unit_list}>
							<{if $ev_relation_list[list].ev_u_set_no == $ev_unit_list[list2].ev_u_set_no}>
								<tr>
									<td style="text-align:left;border-right:0px;">
										<br><br>
									</td>
								</tr>

								<{if $ev_unit_list[list2].kind || $ev_unit_list[list2].question}>
									<tr>
										<td class="first" style="padding:5px; <{if $ev_unit_list[list2].evaluation_state == '99'}>font-size:17px;color:#ffffff;<{else}>font-size:15px;color:#000000;<{/if}> font-weight:bold; text-align:left; <{if $ev_unit_list[list2].evaluation_state == '99'}>background-color:#21a5a7;<{/if}>">
											<{if $ev_unit_list[list2].kind}>
												[<{$ev_unit_list[list2].kind}>]
											<{/if}>
											<{if $ev_unit_list[list2].question}>
												<{$ev_unit_list[list2].question}>
											<{/if}>
										</td>
									</tr>
								<{/if}>

								<{if $ev_unit_list[list2].description}>
									<tr style="background-color:#fff;">
										<td class="first" style="padding-left:5px; padding-right:5px; font-size:12px; 	text-align:left;">
											<{$ev_unit_list[list2].description}>
										</td>
									</tr>
								<{/if}>

								<{if $ev_unit_list[list2].evaluation_state == '99'}><!-- 평가아님 -->
								<{else}>
									<tr style="background-color:#e4e4e4;">
										<td class="first" style="text-align:left; font-size:12px; background-color: #ebebe4;">
											<{assign var="ev_u_no_index" value=$ev_unit_list[list2].ev_u_no}> <!-- ev_u_no 를 array index 변수로 받아옴 -->

											<input type="hidden" name="f_ev_result_no_<{$ev_unit_list[list2].ev_u_no}>" value="<{$ev_result_list[$ev_u_no_index].ev_result_no}>">

											<{if $ev_unit_list[list2].essential == '1'}><span style="font-size:12px; color:#828282;">*필수입력</span> <{/if}>
											<span style="font-size:12px; color:#828282;">[<{$ev_unit_list[list2].evaluation_state_name}>]</span><br>
											<{if $ev_unit_list[list2].evaluation_state == '1'}><!-- 점수형(1~5) -->
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '1'}>checked="checked"<{/if}>> 1점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '2'}>checked="checked"<{/if}>> 2점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '3'}>checked="checked"<{/if}>> 3점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '4'}>checked="checked"<{/if}>> 4점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '5'}>checked="checked"<{/if}>> 5점
											<{elseif $ev_unit_list[list2].evaluation_state == '2'}><!-- 점수형(1~10) -->
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '1'}>checked="checked"<{/if}>> 1점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '2'}>checked="checked"<{/if}>> 2점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '3'}>checked="checked"<{/if}>> 3점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '4'}>checked="checked"<{/if}>> 4점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '5'}>checked="checked"<{/if}>> 5점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="6" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '6'}>checked="checked"<{/if}>> 6점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="8" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '7'}>checked="checked"<{/if}>> 7점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="7" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '8'}>checked="checked"<{/if}>> 8점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="9" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '9'}>checked="checked"<{/if}>> 9점
												<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="10" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '10'}>checked="checked"<{/if}>> 10점
											<{elseif $ev_unit_list[list2].evaluation_state == '3'}><!-- 점수형(1~100) -->
												<input type="text" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" maxlength="3" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="input_type2" style="color:blue;width:70px;text-align:right;font-size:18px;" <{if $mode == 'modify'}><{$ev_result_list[$ev_u_no_index].evaluation_value}><{/if}>> 점
											<{elseif $ev_unit_list[list2].evaluation_state == '4'}><!-- 서술형(단문) -->
												<input type="text" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="input_type8" style="color:blue;width:100%;font-size:18px;" value="<{if $mode == 'modify'}><{$ev_result_list[$ev_u_no_index].evaluation_value}><{/if}>">
											<{elseif $ev_unit_list[list2].evaluation_state == '5'}><!-- 서술형(장문) -->
												<textarea name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="textarea_type3" style="color:blue;width:100%;height:70px;font-size:15px;"><{if $mode == 'modify'}><{$ev_result_list[$ev_u_no_index].evaluation_value}><{/if}></textarea>
											<{elseif $ev_unit_list[list2].evaluation_state == '6'}><!-- 공감형(1~5) -->
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '1'}>checked="checked"<{/if}>> 1점(매우 아니다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '2'}>checked="checked"<{/if}>> 2점(아니다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '3'}>checked="checked"<{/if}>> 3점(보통)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '4'}>checked="checked"<{/if}>> 4점(그렇다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '5'}>checked="checked"<{/if}>> 5점(매우 그렇다)
											<{elseif $ev_unit_list[list2].evaluation_state == '7'}><!-- 공감형(1~10) -->
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '1'}>checked="checked"<{/if}>> 1점(매우 아니다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '2'}>checked="checked"<{/if}>> 2점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '3'}>checked="checked"<{/if}>> 3점(아니다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '4'}>checked="checked"<{/if}>> 4점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '5'}>checked="checked"<{/if}>> 5점(조금 아니다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="6" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '6'}>checked="checked"<{/if}>> 6점(조금 그렇다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="7" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '7'}>checked="checked"<{/if}>> 7점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="8" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '8'}>checked="checked"<{/if}>> 8점(그렇다)
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="9" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '9'}>checked="checked"<{/if}>> 9점
												<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="10" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == '10'}>checked="checked"<{/if}>> 10점(매우 그렇다)
											<{elseif $ev_unit_list[list2].evaluation_state == '8'}><!-- 객관형 -->
												<{assign var="items" value=$ev_unit_list[list2].choice_items_explode}>
												<{section name=list3 loop=$items}>
													<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="<{$smarty.section.list3.index+1}>" <{if $mode == 'modify' && $ev_result_list[$ev_u_no_index].evaluation_value == ($smarty.section.list3.index+1)}>checked="checked"<{/if}>><{$items[list3]}><br>
												<{/section}>
											<{elseif $ev_unit_list[list2].evaluation_state == '9'}><!-- 객관형(복수) -->
												<{assign var="items" value=$ev_unit_list[list2].choice_items_explode}>

												<{section name=list3 loop=$items}>
													<{if $mode == 'modify'}>
														<{assign var="checked" value="0"}>
														<{assign var="e_value_items" value=$ev_result_list[$ev_u_no_index].evaluation_value}>

														<{section name=list4 loop=$e_value_items}>
															<{if $smarty.section.list3.index+1 == $e_value_items[list4]}>
																<{assign var="checked" value="1"}>
															<{/if}>
														<{/section}>
														<input type="checkbox" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>[]" style="width:16px;height:16px;" value="<{$smarty.section.list3.index+1}>" <{if $checked}>checked="checked"<{/if}>><{$items[list3]}><br>
													<{else}>
														<input type="checkbox" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>[]" style="width:16px;height:16px;" value="<{$smarty.section.list3.index+1}>"><{$items[list3]}><br>
													<{/if}>
												<{/section}>
											<{/if}>
										</td>
									</tr>
								<{/if}>
							<{/if}>
						<{/section}>
						<tr>
							<td>
								<{if $mode == "write"}>
									<button onclick="return check_form(<{$ev_relation_list[list].ev_r_no}>);" class="btn_style1 submit_btn"><span>작성 완료(평가 완료)</span></button>
								<{elseif $mode == "modify"}>
									<button onclick="return check_form(<{$ev_relation_list[list].ev_r_no}>);" class="btn_style1 submit_btn"><span>수정 완료</span></button>
								<{/if}>
							</td>
						</tr>
						</tbody>
					</form>
				<{/if}>
			<{/section}>

		<{elseif $ev_u_set_no}> <!-- 평가지 보기 -->

			<tbody>
				<tr>
					<td style="text-align:center;border:0px;">
						<span style="font-size:12px;"><{$set_description}></span>
					</td>
				</tr>
			<{section name=list2 loop=$ev_unit_list}>
				<tr>
					<td style="text-align:left;border-right:0px;">
						<{if $ev_unit_list[list2].evaluation_state == '99' && $smarty.section.list2.index > 0}><!-- 평가아님 -->
							<br><br>
						<{/if}>
						<br><br>
					</td>
				</tr>

				<{if $ev_unit_list[list2].kind || $ev_unit_list[list2].question}>
					<tr>
						<td class="first" style="padding:5px; <{if $ev_unit_list[list2].evaluation_state == '99'}>font-size:17px;color:#ffffff;<{else}>font-size:15px;color:#000000;<{/if}> font-weight:bold; text-align:left; <{if $ev_unit_list[list2].evaluation_state == '99'}>background-color:#21a5a7;<{/if}>">
							<{if $ev_unit_list[list2].kind}>
								[<{$ev_unit_list[list2].kind}>]
							<{/if}>
							<{if $ev_unit_list[list2].question}>
								<{$ev_unit_list[list2].question}>
							<{/if}>
						</td>
					</tr>
				<{/if}>

				<{if $ev_unit_list[list2].description}>
					<tr style="background-color:#fff;">
						<td class="first" style="padding-left:5px; padding-right:5px; font-size:14px; 	text-align:left;">
							<{$ev_unit_list[list2].description}>
						</td>
					</tr>
				<{/if}>

				<{if $ev_unit_list[list2].evaluation_state == '99'}><!-- 평가아님 -->
				<{else}>
					<tr style="background-color:#e4e4e4;">
						<td class="first" style="text-align:left; font-size:14px; background-color: #ebebe4;">

							<input type="hidden" name="f_ev_result_no_<{$ev_unit_list[list2].ev_u_no}>">

							<{if $ev_unit_list[list2].essential == '1'}><span style="font-size:12px; color:#828282;">*필수입력</span> <{/if}>
								<span style="font-size:12px; color:#828282;">[<{$ev_unit_list[list2].evaluation_state_name}>]</span><br>
							<{if $ev_unit_list[list2].evaluation_state == '1'}><!-- 점수형(1~5) -->
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1"> 1점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2"> 2점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3"> 3점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4"> 4점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5"> 5점
							<{elseif $ev_unit_list[list2].evaluation_state == '2'}><!-- 점수형(1~10) -->
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1"> 1점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2"> 2점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3"> 3점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4"> 4점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5"> 5점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="6"> 6점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="8"> 7점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="7"> 8점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="9"> 9점
								<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}>	name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="10"> 10점
							<{elseif $ev_unit_list[list2].evaluation_state == '3'}><!-- 점수형(1~100) -->
								<input type="text" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" maxlength="3" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="input_type2" style="color:blue;width:70px;text-align:right;font-size:18px;"> 점
							<{elseif $ev_unit_list[list2].evaluation_state == '4'}><!-- 서술형(단문) -->
								<input type="text" name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="input_type8" style="color:blue;width:100%;font-size:18px;">
							<{elseif $ev_unit_list[list2].evaluation_state == '5'}><!-- 서술형(장문) -->
								<textarea name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> class="textarea_type3" style="color:blue;width:100%;height:70px;font-size:15px;"></textarea>
							<{elseif $ev_unit_list[list2].evaluation_state == '6'}><!-- 공감형(1~5) -->
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1"> 1점(매우 아니다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2"> 2점(아니다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3"> 3점(보통)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4"> 4점(그렇다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5"> 5점(매우 그렇다)
							<{elseif $ev_unit_list[list2].evaluation_state == '7'}><!-- 공감형(1~10) -->
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="1"> 1점(매우 아니다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="2"> 2점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="3"> 3점(아니다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="4"> 4점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="5"> 5점(조금 아니다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="6"> 6점(조금 그렇다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="7"> 7점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="8"> 8점(그렇다)
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="9"> 9점
								<input type="radio"	<{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="10"> 10점(매우 그렇다)
							<{elseif $ev_unit_list[list2].evaluation_state == '8'}><!-- 객관형 -->
								<{assign var="items" value=$ev_unit_list[list2].choice_items_explode}>

								<{section name=list3 loop=$items}>
									<input type="radio" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="<{$smarty.section.list3.index+1}>"><{$items[list3]}><br>
								<{/section}>
							<{elseif $ev_unit_list[list2].evaluation_state == '9'}><!-- 객관형(복수) -->
								<{assign var="items" value=$ev_unit_list[list2].choice_items_explode}>

								<{section name=list3 loop=$items}>
									<input type="checkbox" <{if $ev_unit_list[list2].essential == '1'}>required<{/if}> name="f_evaluation_value_<{$ev_unit_list[list2].ev_u_no}>" style="width:16px;height:16px;" value="<{$smarty.section.list3.index+1}>"><{$items[list3]}><br>
								<{/section}>
							<{/if}>
						</td>
					</tr>
				<{/if}>
			<{/section}>
			</tbody>

		<{/if}>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">

	function check_form(ev_r_no)
	{
		$('.submit_btn').attr('disabled',true);

		eval("var f=document.getElementById('apply_frm_" + ev_r_no + "');");

		<{if $mode == "write"}>
			f.process.value = "write";
		<{elseif $mode == "modify"}>
			f.process.value = "modify";
		<{/if}>

		if (confirm("저장 하시겠습니까??") === true){
            $('.submit_btn').removeAttr('disabled');
		}else{
            $('.submit_btn').removeAttr('disabled');
            return false;
        }
	}

	function check_unit_set_new_bd() { // 평가지 입력 체크
		if (cknull("f_set_subject_new","평가지명을")=="x") {return false;}
		if (cknull("f_set_description_new","평가지 설명을")=="x") {return false;}

		return true;
	}

	function check_unit_new_bd(f) { // 평가지 항목 입력 체크
		if (!f.f_order_new.value){
			alert("순서를 입력해주세요"); return false;
		}
		if (!f.f_kind_new.value){
			alert("구분명을 입력해주세요"); return false;
		}
		if (!f.f_question_new.value){
			alert("질문을 입력해주세요"); return false;
		}
		if (!f.f_description_new.value){
			alert("질문 설명을 입력해주세요"); return false;
		}
		if (!f.f_evaluation_state_new.value){
			alert("평가종류를 입력해주세요"); return false;
		}

		return true;
	}

	function save_unit_element(ev_u_set_no, target) {
		eval("var f=document.getElementById('apply_package_frm" + ev_u_set_no + "');");
		f.process.value = target;

		<{if permissionNameCheck($session_permission,"마스터관리자")}>
			f.submit();

		<{else}>
			if (confirm("저장 하시겠습니까??") == true)
			{ // 확인
				f.submit();
			} else
			{ //취소
				return;
			}
		<{/if}>
	}


	function save_unit_set_el(ev_u_set_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_set_description') { // 공백시 저장 예외 (공백 저장가능 : 평가지 설명)
			$.post("evaluation_unit_set.php", {ev_u_set_no : ev_u_set_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_unit_el(ev_u_no, proc, obj) {
		var f = obj.form;
		if(proc != 'f_essential'){
			var val = obj.value;
		}else{
			if(obj.checked)
				var val = '1';
			else
				var val = '2';
		}

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || ('f_description')) { // 공백시 저장 예외 (공백 저장가능 : 질문 설명)
			$.post("evaluation_unit_set.php", {ev_u_no : ev_u_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
</script>

</body>
</html>
