<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="100" style="text-align: center;">
						<h2 class="title">[<{$f_subject}>] 평가결과</h2>
						<p style="font-size:15px;">평가기간 : <{$f_ev_s_date}> ~ <{$f_ev_e_date}><br>
						평가지 종류 : <{$ev_u_set_subject}></p>
					</td>
				</tr>
				<tr>
					<th rowspan="3" class="first" style="min-width:70px;">피평가자</th>
					<th rowspan="3" style="min-width:70px;">평가자</th>
					<th rowspan="3" style="min-width:60px;">평가비중</th>
					<th colspan="<{$ev_unit_count}>">결과(구분명/질문)</th>
				</tr>
				<tr>
					<{section name=list loop=$ev_unit_list}> <!-- 구분명 -->
						<th style="min-width:40px; border-top: 1px solid #ccc;">
							<span style="text-decoration: underline;" title="<{$ev_unit_list[list].kind}>"><{$ev_unit_list[list].kind_substr}></span>
						</th>
					<{/section}>
				</tr>
				<tr>
					<{section name=list loop=$ev_unit_list}> <!-- 질문 -->
						<th style="min-width:40px; border-top: 1px solid #ccc;">
							<span style="text-decoration: underline;" title="Q : <{$ev_unit_list[list].question}>&#13;Description : <{$ev_unit_list[list].description}>"><{$ev_unit_list[list].question_substr}></span>
						</th>
					<{/section}>
				</tr>
			</thead>
			<tbody>
			<{if !$result_total_list}>
				<tr>
					<td class="first" colspan="7"> 등록된 자료가 없습니다.</td>
				</tr>
			<{else}>
				<{section name=list loop=$result_total_list}>

					<tr>
						<td class="first"> <!-- 피평가자 -->
							<{if $ev_no == '210'}>
								익명
							<{else}>
								<{$result_total_list[list].receiver_s_name}>
							<{/if}>
						</td>
						<td> <!-- 평가자 -->
							<{if $ev_no == '210'}>
								익명
							<{else}>
								<{$result_total_list[list].evaluator_s_name}>
							<{/if}>
						</td>
						<td> <!-- 평가비중 -->
							<{$result_total_list[list].rate}>%
						</td>
						<!-- 결과 -->
						<{section name=list2 loop=$ev_u_result_list}>
							<{if $result_total_list[list].ev_r_no == $ev_u_result_list[list2].ev_r_no}>
								<{if $f_admin_s_no == $session_s_no && $result_total_list[list].receiver_s_no == $session_s_no}> <!-- 평가담당자의 경우 본인 평가 숨기기 -->
									<td style="min-width:25px; color:#7d7a7a;">-</td>
								<{else}>
									<{if $ev_u_result_list[list2].evaluation_state == '1' || $ev_u_result_list[list2].evaluation_state == '2' || $ev_u_result_list[list2].evaluation_state == '3'}> <!-- 1:점수형(1~5), 2:점수형(1~10), 3:점수형(1~100) -->
										<td style="min-width:25px; color:#7d7a7a;">
											<{$ev_u_result_list[list2].evaluation_value}>점
										</td>
									<{elseif $ev_u_result_list[list2].evaluation_state == '4'}> <!-- 4:서술형(단문) -->
										<td style="min-width:30px; color:#7d7a7a;">
											<a href="#" style="color:blue; text-decoration: underline;" title="Q : <{$ev_u_result_list[list2].question}>&#10;A : <{$ev_u_result_list[list2].evaluation_value}>">보기</a>
										</td>
									<{elseif $ev_u_result_list[list2].evaluation_state == '5'}> <!-- 5:서술형(장문) -->
										<td style="min-width:30px; color:#7d7a7a;">
											<a href="#" style="color:blue; text-decoration: underline;" title="Q : <{$ev_u_result_list[list2].question}>&#10;A : <{$ev_u_result_list[list2].evaluation_value}>">보기</a>
										</td>
									<{elseif $ev_u_result_list[list2].evaluation_state == '6' || $ev_u_result_list[list2].evaluation_state == '7'}> <!-- 6:공감형(1~5), 7:공감형(1~10) -->
										<td style="min-width:25px; color:#7d7a7a;">
											<{$ev_u_result_list[list2].evaluation_value}>번
										</td>
									<{elseif $ev_u_result_list[list2].evaluation_state == '8'}> <!-- 8:객관형 -->
										<td style="min-width:25px; color:#7d7a7a;">
											<{assign var="items" value=$ev_u_result_list[list2].choice_items_explode}>
											<a href="#" style="color:blue; text-decoration: underline;" title="<{section name=list3 loop=$items}><{$items[list3]}>&#10;<{/section}>"><{$ev_u_result_list[list2].evaluation_value}>번</a>
										</td>
									<{elseif $ev_u_result_list[list2].evaluation_state == '9'}> <!-- 9:객관형(복수선택) -->
										<td style="min-width:25px; color:#7d7a7a;">
											<{assign var="items" value=$ev_u_result_list[list2].choice_items_explode}>
											<a href="#" style="color:blue; text-decoration: underline;" title="<{section name=list3 loop=$items}><{$items[list3]}>&#10;<{/section}>"><{$ev_u_result_list[list2].evaluation_value}>번</a>
										</td>
									<{/if}>
								<{/if}>
							<{/if}>
						<{/section}>
					</tr>
				<{/section}>
			<{/if}>
			</tbody>
		</table>

		<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "대표") || $f_admin_s_no == $session_s_no}>
			<td colspan="100" class="list_button">
				<div><button class="btn_style1" onclick="location.href='excel_evaluation_result.php?ev_no=<{$ev_no}>';"><span>엑셀 다운로드</span></button></div>
			</td>
		<{/if}>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	function ev_display(e, ev_r_no, ev_u_no, type){
		if(type=='show'){

			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 135 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표

			$("#ev_display_" + ev_r_no +"_" + ev_u_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,"min-width": "200px"
				,"max-width": "300px"
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).show();
		}else if(type=='hide'){
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).show();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).hide();
		}
	}
</script>

</body>
</html>
