<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	#search_form .form-control{font-size: 12px; margin-right: 15px;}
	.form-control{font-size: 12px; padding: 3px;}
	.form-group label{margin-right: 5px; cursor: pointer;}
	.form-detail-group{margin: 5px 0;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody tr:hover{background: rgba(173,216,230,0.5);}
	.table_list_style table tbody td{vertical-align: middle;}
	.table_list_style table tbody td.rows-wrapper{background: white;}
	.table_list_style table tbody td.border-line{border-bottom: 2px solid black;}
	.table .thead-dark th{background-color: rgba(119, 119, 119, 1); border-color: gray;}
	.custom-combobox input{float: left; font-size: 12px; width: 70px; padding: 3px;}
	.evaluator-wrapper .custom-combobox input{float: left; font-size: 12px; width: 105px; padding: 3px;}
	.radio-wrapper label{cursor: pointer; margin-bottom:0; margin-right: 5px;}
	.radio-wrapper input[type=radio]{cursor: pointer; margin: 0;}
	#search_form .custom-combobox input{margin-right: 5px;}
	.per-sqrt{background: black; color: white; font-weight: bold;}
	.high-score{color: blue; font-weight: bold;}
	.low-score{color: red; font-weight: bold;}
	.avg-wrapper{font-weight: bold; background: #9ac703; padding-left: 15px !important; text-align: left !important;}
	.open-multi-btn{background: grey; width: 100px; height: 25px; color: white; font-weight: bold; border-radius: 5px; margin-left: 5px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="evaluation_result_stats.php" autocomplete="off">
		<input type="hidden" name="sch_quick_search" value="<{$sch_quick_search}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<div class="form-group">
			<label for="sch_ev_no" style="margin-right: 15px;">평가명</label>
			<select id="sch_ev_no" name="sch_ev_no" class="form-control" required>
				<option value="">::전체::</option>
				<{foreach from=$ev_system_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_ev_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label style="margin-right: 15px;">결과</label>
			<{foreach from=$ev_result_type_option key=key item=label}>
				<input type="radio" name="sch_result_type" id="sch_result_type_<{$key}>" value="<{$key}>" style="cursor: pointer;" <{if $key == $sch_result_type}>checked<{/if}>>
				<label for="sch_result_type_<{$key}>" style="cursor: pointer;"><{$label}></label>
			<{/foreach}>
			<img src="images/question.png" class="img-explain" title="표준편차를 적용한 100점 기준의 환산점수" style="cursor:pointer; ">
		</div>
		<div style="clear: both; display: block; width: 100%;"></div>

		<div class="form-group form-detail-group">
			<label for="sch_receiver_team">평가 받는사람</label>
			<select name="sch_receiver_team" id="sch_receiver_team" class="form-control sch_receiver_team">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_team == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right: 5px;">></span>
			<select name="sch_receiver_staff" id="sch_receiver_staff" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_rec_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="text" name="sch_receiver_name" class="form-control" value="<{$sch_receiver_name}>" placeholder="평가받는사람">

			<label for="sch_evaluator_team" style="margin-left: 50px;">평가 하는사람</label>
			<select name="sch_evaluator_team" id="sch_evaluator_team" class="form-control sch_evaluator_team">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_evaluator_team == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right: 5px;">></span>
			<select name="sch_evaluator_staff" id="sch_evaluator_staff" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_eval_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_evaluator_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="text" name="sch_evaluator_name" class="form-control" value="<{$sch_evaluator_name}>" placeholder="평가하는사람">

			<button type="submit" onclick="return searchList();" class="btn_small" style="width:58px; height:27px; margin-left: 12px;">검색</button>

			<a href="evaluation_result_list.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_off.png">
			</a>
			<a href="evaluation_result_stats.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_chart_on.png">
			</a>
		</div>
	</form>

	<div class="table_list_style" style="margin-top: 30px;">
		<{if $session_s_no == '1'}>
		<a href="evaluation_result_check_list.php" target="_blank" style="margin-bottom: 10px; width: 150px; height: 20px; font-weight: bold; font-size: 12px; text-align: center; color: white; background:forestgreen; display: inline-block;">평가수치조정 이동하기</a>
		<{/if}>
		<table class="table table-bordered" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 950px; border: 0;">
			<colgroup>
				<col width="200px;"> <!-- 평가명 -->
				<col width="100px;"> <!-- 평가받는사람 소속 -->
				<col width="100px;"> <!-- 평가받는사람 이름 -->
				<col width="60px;"> <!-- 평가한 사람 수 -->
				<{if $ev_unit_question_list}>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
						<{if $ev_u_no == 'avg'}>
							<col width="170px;">
						<{else}>
							<col width="80px;">
						<{/if}>
					<{/foreach}>
				<{/if}>
				<{if $sch_result_type == 'sqrt'}>
					<col width="120px;"> <!-- 최종점수 -->
				<{/if}>
			</colgroup>
			<thead>
				<tr style="border: 0; text-align: right;">
					<td colspan="<{$ev_unit_total_cnt}>">
						<button onclick="sort_search('eval_cnt')"><span style="margin-right: 10px; <{if $ord_type == 'eval_cnt'}>color:red;<{/if}>">평가한 사람 수<{if $ord_type == 'eval_cnt' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'eval_cnt' && $ord_type_by == '2'}>▼<{/if}></span></button>
						<button onclick="sort_search('total_avg')"><span style="<{if $ord_type == 'total_avg'}>color:red;<{/if}>">최종점수순 <{if $ord_type == 'total_avg' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'total_avg' && $ord_type_by == '2'}>▼<{/if}></span></button>
					</td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" class="first" rowspan="2">평가명</th>
					<th scope="col" colspan="2" rowspan="2">평가 받는사람</th>
					<th scope="col" rowspan="2">평가한<br/>사람 수</th>
					<{if $ev_unit_question_list}>
						<th scope="col" colspan="<{$ev_unit_question_cnt}>" style="height: 30px;">다면평정표</th>
					<{else}>
						<th scope="col" rowspan="2" style="height: 30px;">다면평정표</th>
					<{/if}>
				</tr>
				<tr>
					<{if $ev_unit_question_list}>
						<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
							<th scope="col" ><{$ev_u_data.subject}></th>
						<{/foreach}>
					<{/if}>
					<{if $sch_result_type == 'sqrt'}>
					<th scope="col">
						최종점수<br/>
						(평가비중*평균 총합)
					</th>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $ev_result_sort_chk_list}>
					<{foreach from=$ev_result_sort_chk_list key=rec_s_no item=sort_data}>
						<{if $ev_result_list[$rec_s_no]}>
							<{assign var=result_data value=$ev_result_list[$rec_s_no]}>
							<tr>
								<td class="first text-left" style="height: 30px;"><{$evaluation_system.subject}></td>
								<td class="text-left"><{$result_data.rec_t_name}></td>
								<td class="text-center"><{$result_data.rec_name}></td>
								<td class="text-center"><{$result_data.eval_cnt}></td>
								<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
									<{if $ev_u_data.type == '4' || $ev_u_data.type == '5'}>
										<td class="text-center">
											<{if $session_s_no != $rec_s_no}>
											<div id="ev_display_btn_on_<{$rec_s_no}>_<{$ev_u_no}>">
												<span style="color:blue; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$rec_s_no}>', '<{$ev_u_no}>', 'show');">보기</span>
											</div>
											<div id="ev_display_btn_off_<{$rec_s_no}>_<{$ev_u_no}>" style="display: none;">
												<span style="color:red; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$rec_s_no}>', '<{$ev_u_no}>', 'hide');">닫기</span>
											</div>
											<div id="ev_display_<{$rec_s_no}>_<{$ev_u_no}>" style=" display: none; cursor: pointer; text-align: left;" onclick="ev_display(event, '<{$rec_s_no}>', '<{$ev_u_no}>', 'hide');">
												Q : <{$ev_u_data.question}><br>
												A :
												<{foreach from=$result_data[$ev_u_no] item=$ev_value}>
													<br/>
													<{$ev_value}>
													<br/>
												<{/foreach}>
											</div>
											<{/if}>
										</td>
									<{elseif $ev_u_no == 'avg'}>
										<td class="avg-wrapper">
											<{$result_data[$ev_u_no]|number_format:2}>
											<{if $evaluation_system.ev_u_set_no == 9}>
											<button type="button" class="open-multi-btn" onclick="openEvMultiRater('<{$evaluation_system.ev_no}>','<{$result_data.rec_team}>','<{$rec_s_no}>')">다면평정표</button>
											<{/if}>
										</td>
									<{else}>
										<td class="text-center"><{$result_data[$ev_u_no]|number_format:2}></td>
									<{/if}>
								<{/foreach}>
								<{if $sch_result_type == 'sqrt'}>
									<td class="per-sqrt"><{$result_data.per_sqrt}></td>
								<{/if}>
							</tr>
						<{/if}>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="<{$ev_unit_total_cnt}>"><{if $sch_ev_no}>데이터가 없습니다<{else}>평가명 조회 후 이용해주세요<{/if}></td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_receiver_staff").remoteChained({
			parents: "#sch_receiver_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_receiver_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_evaluator_staff").remoteChained({
			parents: "#sch_evaluator_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_evaluator_team",
			loading: "로딩중..",
			clear: true
		});
	});

	function ev_display(e, ev_r_no, ev_u_no, type)
	{
		if(type=='show')
		{
			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 100 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).show();
		}
		else if(type=='hide')
		{
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).show();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).hide();
		}
	}

	function openEvMultiRater(ev_no, rec_team, rec_staff)
	{
		window.open("evaluation_multi_rater.php?sch_ev_no=" + ev_no + "&sch_receiver_team=" + rec_team + "&sch_receiver_staff=" + rec_staff);
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();

		if(ord_type_by == '1'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}else if(ord_type_by == '2'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}

		f.submit();
	}
</script>
</body>
</html>
