<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	#search_form .form-control{font-size: 12px; margin-right: 15px;}
	.form-control{font-size: 12px; padding: 3px;}
	.form-group label{margin-right: 5px; cursor: pointer;}
	.form-detail-group{margin: 5px 0;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody tr:hover{background: rgba(173,216,230,0.5);}
	.table_list_style table tbody td{vertical-align: middle;}
	.table_list_style table tbody td.rows-wrapper{background: white;}
	.table_list_style table tbody td.border-line{border-bottom: 2px solid black;}
	.table .thead-dark th{background-color: rgba(119, 119, 119, 1); border-color: gray;}
	.custom-combobox input{float: left; font-size: 12px; width: 70px; padding: 3px;}
	.evaluator-wrapper .custom-combobox input{float: left; font-size: 12px; width: 105px; padding: 3px;}
	.radio-wrapper label{cursor: pointer; margin-bottom:0; margin-right: 5px;}
	.radio-wrapper input[type=radio]{cursor: pointer; margin: 0;}
	#search_form .custom-combobox input{margin-right: 5px;}
	.per-sqrt{background: black; color: white;}
	.high-score{color: blue; font-weight: bold;}
	.low-score{color: red; font-weight: bold;}

	.not-complete-eval{background: yellow;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="evaluation_result_list.php" autocomplete="off">
		<input type="hidden" name="sch_quick_search" value="<{$sch_quick_search}>">
		<div class="form-group">
			<label for="sch_ev_no" style="margin-right: 15px;">평가명</label>
			<select id="sch_ev_no" name="sch_ev_no" class="form-control" required>
				<option value="">::전체::</option>
				<{foreach from=$ev_system_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_ev_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label style="margin-right: 15px;">결과</label>
			<{foreach from=$ev_result_type_option key=key item=label}>
				<input type="radio" name="sch_result_type" id="sch_result_type_<{$key}>" value="<{$key}>" style="cursor: pointer;" <{if $key == $sch_result_type}>checked<{/if}>>
				<label for="sch_result_type_<{$key}>" style="cursor: pointer;"><{$label}></label>
			<{/foreach}>
			<img src="images/question.png" class="img-explain" title="표준편차를 적용한 100점 기준의 환산점수" style="cursor:pointer; ">
		</div>
		<div style="clear: both; display: block; width: 100%;"></div>

		<div class="form-group form-detail-group">
			<label for="sch_receiver_team">평가 받는사람</label>
			<select name="sch_receiver_team" id="sch_receiver_team" class="form-control sch_receiver_team">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_team == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right: 5px;">></span>
			<select name="sch_receiver_staff" id="sch_receiver_staff" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_rec_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="text" name="sch_receiver_name" class="form-control" value="<{$sch_receiver_name}>" placeholder="평가받는사람">

			<label for="sch_evaluator_team" style="margin-left: 50px;">평가 하는사람</label>
			<select name="sch_evaluator_team" id="sch_evaluator_team" class="form-control sch_evaluator_team">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_evaluator_team == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right: 5px;">></span>
			<select name="sch_evaluator_staff" id="sch_evaluator_staff" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_eval_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_evaluator_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="text" name="sch_evaluator_name" class="form-control" value="<{$sch_evaluator_name}>" placeholder="평가하는사람">

			<button type="submit" onclick="return searchList();" class="btn_small" style="width:58px; height:27px; margin-left: 12px;">검색</button>

			<a href="evaluation_result_list.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_on.png">
			</a>
			<a href="evaluation_result_stats.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_chart_off.png">
			</a>
		</div>
		<div style="clear: both; display: block; width: 100%;margin-top: 5px;">
			<input type="checkbox" name="sch_yet_complete" id="sch_yet_complete" value="1" <{if $sch_yet_complete == '1'}>checked<{/if}>>
			<label for="sch_yet_complete" style="display: inline; cursor: pointer;">미완료 평가조회</label>
		</div>
	</form>

	<div class="table_list_style">
		<table class="table table-bordered" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 950px; margin-top: 30px; border: 0;">
			<colgroup>
				<col width="50px;"> <!-- ev_r_no -->
				<col width="200px;"> <!-- 평가명 -->
				<col width="100px;"> <!-- 평가받는사람 소속 -->
				<col width="100px;"> <!-- 평가받는사람 이름 -->
				<col width="100px;"> <!-- 평가하는사람 소속 -->
				<col width="100px;"> <!-- 평가하는사람 이름 -->
				<col width="100px;"> <!-- 평가비중 -->
				<{if $ev_unit_question_list}>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
						<col width="80px;">
					<{/foreach}>
				<{/if}>
				<{if $sch_result_type == 'sqrt'}>
					<col width="100px;"> <!-- 비중점수 -->
				<{/if}>
			</colgroup>
			<{if $sch_ev_no && $sch_result_type == 'evaluation_value'}>
			<thead>
				<tr>
					<td colspan="6" style="border: 0;"></td>
					<td style="border: 0;">검색결과 평균</td>
					<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
						<{if $ev_u_data.type == '4' || $ev_u_data.type == '5'}>
							<td style="border: 0;"></td>
						<{else}>
							<td style="text-align:center; border: 0; font-weight: bold;">
								<{if $ev_total_avg_list[$ev_u_no].avg > 0}>
									<{$ev_total_avg_list[$ev_u_no].avg|number_format:2}>
								<{else}>
									0
								<{/if}>
							</td>
						<{/if}>
					<{/foreach}>
				</tr>
			</thead>
			<{/if}>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" class="first" rowspan="2" style="height: 60px;">ev_result_no</th>
					<th scope="col" rowspan="2">평가명</th>
					<th scope="col" colspan="2" rowspan="2">평가 받는사람</th>
					<th scope="col" colspan="2" rowspan="2">평가 하는사람</th>
					<th scope="col" rowspan="2">평가비중</th>
					<{if $ev_unit_question_list}>
						<th scope="col" colspan="<{$ev_unit_question_cnt}>">결과(<{$ev_result_type_name}>)</th>
					<{else}>
						<th scope="col" colspan="1" rowspan="2">결과(<{$ev_result_type_name}>)</th>
					<{/if}>
				</tr>
				<tr>
					<{if $ev_unit_question_list}>
						<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
							<th scope="col" style="height: 30px"><{$ev_u_data.subject}></th>
						<{/foreach}>
					<{/if}>
					<{if $sch_result_type == 'sqrt'}>
					<th scope="col" style="height: 30px">
						비중점수<br/>
						평가비중*평균<img src="images/question.png" class="img-explain" title="표준편차를 적용한 100점기준의 환산 점수의 평균에 평가비중을 반영한 점수로 (평가한 사람들의 점수를 모두 합하면 평가 받는사람의 최종점수가 됩니다.)" style="cursor:pointer; ">
					</th>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $ev_result_list}>
					<tr>
					<{assign var=result_idx value=0}>
					<{foreach from=$ev_result_list key=rec_s_no item=rec_data}>
						<{assign var=eval_cnt value=$rec_data|count}>
						<{assign var=eval_idx value=1}>
						<{foreach from=$rec_data key=eval_s_no item=eval_data}>
							<tr <{if $eval_data.complete == 0}>class="not-complete-eval"<{/if}>>
								<td class="first <{if $eval_idx == $eval_cnt}>border-line<{/if}>" style="height: 30px;"><{$eval_data.result_no}></td>
								<{if $result_idx == 0}>
								<td rowspan="<{$ev_result_total_cnt}>" class="rows-wrapper border-line"><{$evaluation_system.subject}></td>
								<{/if}>
								<{if $eval_idx == 1}>
								<td rowspan="<{$eval_cnt}>" class="rows-wrapper border-line"><{$eval_data.rec_team}></td>
								<td rowspan="<{$eval_cnt}>" class="rows-wrapper border-line"><{$eval_data.rec_name}></td>
								<{/if}>
								<td class="text-left <{if $eval_idx == $eval_cnt}>border-line<{/if}>"><{$eval_data.eval_team}></td>
								<td class="text-center <{if $eval_idx == $eval_cnt}>border-line<{/if}>"><{$eval_data.eval_name}></td>
								<td class="text-right <{if $eval_idx == $eval_cnt}>border-line<{/if}>"><{$eval_data.rate|number_format:2}>%</td>
								<{foreach from=$ev_unit_question_list key=ev_u_no item=ev_u_data}>
									<{if $sch_result_type == 'sqrt' && $eval_s_no == $rec_s_no}>
										<td class="text-center <{if $eval_idx == $eval_cnt}>border-line<{/if}>"></td>
									<{elseif $ev_u_data.type == '4' || $ev_u_data.type == '5'}>
										<td class="text-center <{if $eval_idx == $eval_cnt}>border-line<{/if}>">
											<div id="ev_display_btn_on_<{$eval_data.ev_r_no}>_<{$ev_u_no}>">
												<span style="color:blue; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$eval_data.ev_r_no}>', '<{$ev_u_no}>', 'show');">보기</span>
											</div>
											<div id="ev_display_btn_off_<{$eval_data.ev_r_no}>_<{$ev_u_no}>" style="display: none;">
												<span style="color:red; text-decoration: underline; cursor: pointer;" onclick="ev_display(event, '<{$eval_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">닫기</span>
											</div>
											<div id="ev_display_<{$eval_data.ev_r_no}>_<{$ev_u_no}>" style=" display: none; cursor: pointer;" onclick="ev_display(event, '<{$eval_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">
												Q : <{$ev_u_data.question}><br>A : <{$eval_data[$ev_u_no]}>
											</div>
										</td>
									<{else}>
										<{if $sch_result_type == 'sqrt' || $ev_u_no == 'avg'}>
										<td class="text-center <{if $eval_idx == $eval_cnt}>border-line<{/if}>">
											<{if $eval_data[$ev_u_no] > 0}>
												<{$eval_data[$ev_u_no]|number_format:2}>
											<{else}>
												0
											<{/if}>
										</td>
										<{else}>
										<td class="text-center <{if $eval_idx == $eval_cnt}>border-line<{/if}> <{if $eval_data[$ev_u_no] > 4}>high-score<{elseif $eval_data[$ev_u_no] < 3}>low-score<{/if}>">
											<{$eval_data[$ev_u_no]|number_format:0}>
										</td>
										<{/if}>
									<{/if}>
								<{/foreach}>
								<{if $sch_result_type == 'sqrt'}>
									<{if $eval_s_no == $rec_s_no}>
										<td class="per-sqrt <{if $eval_idx == $eval_cnt}>border-line<{/if}>"></td>
									<{else}>
										<td class="per-sqrt <{if $eval_idx == $eval_cnt}>border-line<{/if}>"><{$eval_data.per_sqrt}></td>
									<{/if}>
								<{/if}>
							</tr>
							<{assign var=eval_idx value=$eval_idx+1}>
							<{assign var=result_idx value=$result_idx+1}>
						<{/foreach}>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="<{$ev_unit_total_cnt}>"><{if $sch_ev_no}>데이터가 없습니다<{else}>평가명 조회 후 이용해주세요<{/if}></td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_receiver_staff").remoteChained({
			parents: "#sch_receiver_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_receiver_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_evaluator_staff").remoteChained({
			parents: "#sch_evaluator_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_evaluator_team",
			loading: "로딩중..",
			clear: true
		});
	});

	function ev_display(e, ev_r_no, ev_u_no, type)
	{
		if(type=='show')
		{
			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 100 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).show();
		}
		else if(type=='hide')
		{
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).show();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).hide();
		}
	}
</script>
</body>
</html>
