<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="100" style="text-align: center;">
						<h2 class="title">[<{$f_subject}>] 평가결과</h2>
						<p style="font-size:15px;">평가기간 : <{$f_ev_s_date}> ~ <{$f_ev_e_date}><br>
						평가지 종류 : <{$ev_u_set_subject}></p>
					</td>
				</tr>
				<tr>
					<th rowspan="2" class="first" style="min-width:70px;">피평가자</th>
					<th rowspan="2" style="min-width:70px;">평가자</th>
					<th rowspan="2" style="min-width:60px;">평가비중</th>
					<th colspan="<{$ev_unit_count}>">결과(표준편차 적용 포함)</th>
					<th rowspan="2" style="min-width:80px;">평균</th>
					<th rowspan="2" style="min-width:80px;">평균<br>(평가비중)</th>
				</tr>
				<tr>
					<th style="min-width:55px; border-top: 1px solid #ccc;">구분</th>
					<{foreach from=$ev_unit_list item=ev_unit}>
						<th style="min-width:40px; border-top: 1px solid #ccc;">
							<span style="text-decoration: underline;" title="Q : <{$ev_unit.question}>&#13;Description : <{$ev_unit.description}>"><{$ev_unit.title}></span>
						</th>
					<{/foreach}>
				</tr>
			</thead>
			<tbody>
			<{if !$evaluation_total_list}>
				<tr>
					<td class="first" colspan="7"> 등록된 자료가 없습니다.</td>
				</tr>
			<{else}>
				<{foreach from=$evaluation_sqrt_list item=$sqrt_data}>
					<{assign var="receiver" value=$sqrt_data.receiver}>
					<{assign var="receiver_data" value=$evaluation_total_list[$receiver]}>
					<{if $session_s_no == '28' && $receiver == $session_s_no}>
					<{else}>
						<tr style="background-color: #d6d6d6;">
							<td class="first" style="font-weight: bold;"> <!-- 피평가자 -->
								<{$sqrt_data.name}>
							</td>
							<td></td> <!-- 평가자 -->
							<td></td> <!-- 평가비중 -->
							<td></td> <!-- 구분 -->
							<td colspan="<{$ev_unit_cols_count}>"></td>
							<td></td> <!-- 평균 -->
							<td style="font-weight: bold;"> <!-- 평균<br>(평가비중) -->
								<{$sqrt_data.total}>
							</td>
						</tr>
						<{foreach from=$receiver_data key=evaluator item=evaluator_data}>
						<tr>
							<td class="first"> <!-- 피평가자 -->
								<{$evaluator_data.ev_name}>
							</td>
							<td> <!-- 평가자 -->
								<{$evaluator_data.rec_name}>
							</td>
							<td> <!-- 평가비중 -->
								<{$evaluator_data.rate}>
							</td>
							<td> <!-- 구분 -->
								원점수<br>환산점수
							</td>
							<{foreach from=$evaluation_ev_data_list[$receiver][$evaluator] key=ev_u_no item=ev_data}>
								<{if $ev_data.state == '1' || $ev_data.state == '2' || $ev_data.state == '3'}>
								<td style="min-width:25px; color:#7d7a7a;">
									<{$ev_data.value}><br/>
									<span style="color:blue;"><{$ev_data.sqrt|number_format:2}></span>
								</td>
								<{elseif $ev_data.state == '4'}>
								<td style="min-width:30px; color:#7d7a7a;">
									<div id="ev_display_btn_on_<{$ev_data.ev_r_no}>_<{$ev_u_no}>">
										<span style="color:blue; text-decoration: underline;" onclick="ev_display('<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'show');">보기</span>
									</div>
									<div id="ev_display_btn_off_<{$ev_data.ev_r_no}>_<{$ev_u_no}>">
										<span style="color:red; text-decoration: underline;" onclick="ev_display('<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">닫기</span>
									</div>
									<div id="ev_display_<{$ev_data.ev_r_no}>_<{$ev_u_no}>" onclick="ev_display(event, '<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">
										"Q : <{$evaluation_unit_list[$ev_u_no].question}><br>A : <{$ev_data.value}>
									</div>
									<script>$("#ev_display_<{$ev_data.ev_r_no}>_<{$ev_u_no}>").hide();</script>
									<script>$("#ev_display_btn_off_<{$ev_data.ev_r_no}>_<{$ev_u_no}>").hide();</script>
								</td>
								<{elseif $ev_data.state == '5'}>
								<td style="min-width:30px; color:#7d7a7a;">
									<div id="ev_display_btn_on_<{$ev_data.ev_r_no}>_<{$ev_u_no}>">
										<span style="color:blue; text-decoration: underline;" onclick="ev_display(event, '<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'show');">보기</span>
									</div>
									<div id="ev_display_btn_off_<{$ev_data.ev_r_no}>_<{$ev_u_no}>">
										<span style="color:red; text-decoration: underline;" onclick="ev_display(event, '<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">닫기</span>
									</div>
									<div id="ev_display_<{$ev_data.ev_r_no}>_<{$ev_u_no}>" onclick="ev_display(event, '<{$ev_data.ev_r_no}>', '<{$ev_u_no}>', 'hide');">
										Q : <{$evaluation_unit_list[$ev_u_no].question}><br>A : <{$ev_data.value}>
									</div>
									<script>$("#ev_display_<{$ev_data.ev_r_no}>_<{$ev_u_no}>").hide();</script>
									<script>$("#ev_display_btn_off_<{$ev_data.ev_r_no}>_<{$ev_u_no}>").hide();</script>
								</td>
								<{/if}>
							<{/foreach}>
							<td>
								<{$evaluator_data.total_avg|number_format:2}>
							</td>
							<td>
								<{$evaluator_data.total_sqrt|number_format:2}>
							</td>
						</tr>
						<{/foreach}>
					<{/if}>
				<{/foreach}>
			<{/if}>
			</tbody>
		</table>

		<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "대표") || $f_admin_s_no == $session_s_no}>
			<td colspan="100" class="list_button">
				<div><button class="btn_style1" onclick="location.href='excel_evaluation_result.php?ev_no=<{$ev_no}>';"><span>(원점수) 엑셀 다운로드</span></button></div>
			</td>
		<{/if}>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	function ev_display(e, ev_r_no, ev_u_no, type){
		if(type=='show'){

			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 135 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).show();
		}else if(type=='hide'){
			$("#ev_display_" + ev_r_no +"_" + ev_u_no).hide();
			$("#ev_display_btn_on_" + ev_r_no +"_" + ev_u_no).show();
			$("#ev_display_btn_off_" + ev_r_no +"_" + ev_u_no).hide();
		}
	}
</script>

</body>
</html>
