<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.table thead th{vertical-align: middle;}
	.table .form-control{font-size: 12px; padding: 3px; width: 97%;}
	.table .btn_small{font-weight: bold;}
</style>
<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="evaluation_system.php" autocomplete="off">
		<div class="default_wrap">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="text-align: right;">
						<span class="name_tit">평가명</span>
						<input type="text" name="sch_subject" value="<{$sch_subject}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
					</td>
					<td rowspan='2' >
						<button class="btn_big_search" onclick="searchList();">검색</button>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;">
						<span class="name_tit">설명</span>
						<input type="text" name="sch_description" value="<{$sch_description}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
					</td>
				</tr>
			</table>
		</div>
	</form>

	<div class="table_list_style">
		<table class="table table-bordered" style="table-layout: fixed; width: auto">
			<colgroup>
				<col width="60px;"> <!-- ev_no -->
				<col width="110px;"> <!-- 진행상태 -->
				<col width="110px;"> <!-- 평가자 설정기간 -->
				<col width="110px;"> <!-- 상호평가 확인/수정 기간 -->
				<col width="110px;"> <!-- 평가자 설정검토 및 자기평가 기술서 작성 기간 -->
				<col width="110px;"> <!-- 평가 진행 기간 -->
				<col width="340px;"> <!-- 평가지/평가명 -->
				<col width="100px;"> <!-- 평가담당자<br/>(결과조회권한) -->
				<col width="200px;"> <!-- 설명 -->
				<col width="90px;"> <!-- 평가대상<br/>(평가 받는사람) -->
				<col width="90px;"> <!-- 평가완료(완료수/평가자) -->
				<col width="200px;"> <!-- 진행 -->
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="12" style="height: 60px;text-align: right; vertical-align: middle">
						<a href="evaluation_unit.php" target="_blank" style="color: white;background-color: #565656; padding: 15px 50px;border-radius: 5px;">평가지 관리</a>
					</td>
				</tr>
				<tr>
					<th class="first" scope="col" style="height: 70px;">ev_no</th>
					<th scope="col">진행상태</th>
					<th scope="col">평가자<br/>설정 기간</th>
					<th scope="col">상호평가<br/>확인/수정 기간</th>
					<th scope="col">평가자 설정 검토<br/>및 자기평가 기술<br/>서 작성기간</th>
					<th scope="col">평가 진행 기간</th>
					<th scope="col">평가지<br/>평가명</th>
					<th scope="col">평가담당자<br/>(결과조회권한)</th>
					<th scope="col">설명</th>
					<th scope="col">평가대상<br/>(평가 받는사람)</th>
					<th scope="col">평가완료<br/>(완료수/평가자)</th>
					<th scope="col">진행</th>
				</tr>
			</thead>
			<tbody>
				<{if $evaluation_system_list}>
					<{foreach from=$evaluation_system_list item=evaluation_system}>
					<form name="apply_frm<{$evaluation_system.ev_no}>" id="apply_frm<{$evaluation_system.ev_no}>" class="list_form" method="post" enctype="multipart/form-data" action="evaluation_system.php">
						<input type="hidden" name="process" id="process">
						<input type="hidden" name="ev_no" id="ev_no" value="<{$evaluation_system.ev_no}>">
						<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
						<tr>
							<td class="first"><!--ev_no-->
								<{$evaluation_system.ev_no}><br>
								<{if $session_s_no == '28' || $evaluation_system.admin_s_no == $session_s_no}>
									<a href="#" onclick="no_delete('<{$evaluation_system.ev_no}>','<{$evaluation_system.ev_state}>','<{$evaluation_system.evaluator_cnt}>');"><span style="font-size:9px;">[삭제]</span></a>
								<{/if}>
								<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")) }>
									<a href="#" onclick="no_duplicate('<{$evaluation_system.ev_no}>');"><span style="font-size:9px;">[복제]</span></a>
								<{/if}>
							</td>
							<td><!--진행상태-->
								<{if $session_s_no == '28'}>
								<select name="ev_state" class="form-control" onchange="save_el('<{$evaluation_system.ev_no}>', 'f_ev_state', this)" style="color: <{$evaluation_system.ev_state_color}>">
									<{foreach from=$ev_state_option key=key item=label}>
									<option value="<{$key}>" <{if $evaluation_system.ev_state== $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
								<{else}>
									<span <{if $evaluation_system.ev_state == '1' }> style="color:blue;"<{elseif $evaluation_system.ev_state == '2'}> style="color:red;"<{/if}> >
									<{$evaluation_system.ev_state_name}>
									<{/if}>
								</span>
							</td>
							<td> <!-- 평가자 설정기간 -->
								<{if $evaluation_system.set_s_date}>
									<{$evaluation_system.set_s_date}>(<{$date_short_name_option[$evaluation_system.set_s_day]}>)
								<{/if}>
								<br>~<br>
								<{if $evaluation_system.set_e_date}>
									<{$evaluation_system.set_e_date}>(<{$date_short_name_option[$evaluation_system.set_e_day]}>)
								<{/if}>
							</td>
							<td> <!-- 상호평가 확인/수정기간 -->
								<{if $evaluation_system.mod_s_date}>
									<{$evaluation_system.mod_s_date}>(<{$date_short_name_option[$evaluation_system.mod_s_day]}>)
								<{/if}>
								<br>~<br>
								<{if $evaluation_system.mod_e_date}>
									<{$evaluation_system.mod_e_date}>(<{$date_short_name_option[$evaluation_system.mod_e_day]}>)
								<{/if}>
							</td>
							<td> <!-- 평가자 설정 검토 및 자기평가 기술서 작성기간 -->
								<{if $evaluation_system.chk_s_date}>
									<{$evaluation_system.chk_s_date}>(<{$date_short_name_option[$evaluation_system.chk_s_day]}>)
								<{/if}>
								<br>~<br>
								<{if $evaluation_system.chk_e_date}>
									<{$evaluation_system.chk_e_date}>(<{$date_short_name_option[$evaluation_system.chk_e_day]}>)
								<{/if}>
							</td>
							<td><!--평가 진행 기간-->
								<{if $evaluation_system.ev_s_date}>
									<{$evaluation_system.ev_s_date}>(<{$date_short_name_option[$evaluation_system.ev_s_day]}>)
								<{/if}>
									<br>~<br>
								<{if $evaluation_system.ev_e_date}>
									<{$evaluation_system.ev_e_date}>(<{$date_short_name_option[$evaluation_system.ev_e_day]}>)
								<{/if}>
							</td>
							<td class="alignL"><!--평가명-->
								<span style="color: gray;"><{$evaluation_system.evaluation_set_name}></span><br/>
								<a href="evaluation_regist.php?ev_no=<{$evaluation_system.ev_no}>" style="font-weight: bold; font-size: 16px;"><{$evaluation_system.subject}></a>
							</td>
							<td><!--평가 담당자-->
								<{$evaluation_system.admin_s_name}>
							</td>
							<td class="alignL"><!--설명-->
								<textarea name="f_description" id="f_description" style="width:190px" class="textarea_work_message_readonly" readonly><{$evaluation_system.description}></textarea>
							</td>
							<td><!-- 평가대상 (평가 받는사람) -->
								<{$evaluation_system.rec_cnt|number_format:0}>
							</td>
							<td><!-- 평가완료 (완료수/평가자) -->
								<{$evaluation_system.complete_cnt|number_format:0}> /
								<{if $evaluation_system.ev_state == '7' || $evaluation_system.ev_state == '2' || $evaluation_system.ev_state == '3' || $evaluation_system.ev_state == '4'}>
									<{$evaluation_system.eval_comp_cnt|number_format:0}>
								<{else}>
									<{$evaluation_system.eval_cnt|number_format:0}>
								<{/if}>
							</td>
							<td><!--진행-->
								<{if $evaluation_system.ev_state == '7'}>
									<button type="button" class="btn_small" style="width: 150px;" onclick="openSelfEval('<{$evaluation_system.ev_no}>', '<{$session_s_no}>');">자기평가 기술서 작성하기</button>
								<{elseif $evaluation_system.ev_state == '2' && $evaluation_system.is_evaluation}>
									<button type="button" class="btn_small" style="width: 150px;" onclick="moveLink('evaluation','<{$evaluation_system.ev_no}>');"  >평가하기</button><br>
									<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표"))}>
										<button type="button" class="btn_small" style="background-color:#c73333; width: 150px;" onclick="moveLink('result_no','<{$evaluation_system.ev_no}>');">평가결과 보기</button>
										<button type="button" class="btn_small" style="background-color:#c73333; width: 150px;" onclick="moveLink('result','<{$evaluation_system.ev_no}>');">평가결과 보기(New)</button>
									<{/if}>
								<{elseif (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || $evaluation_system.admin_s_no == $session_s_no)
									&& ($evaluation_system.ev_state == '3' || $evaluation_system.ev_state == '4')}>
									<button type="button" class="btn_small" style="background-color:#c73333; width: 150px;" onclick="moveLink('result','<{$evaluation_system.ev_no}>');">평가결과 보기</button>
									<button type="button" class="btn_small" style="width: 150px;" onclick="moveLink('apply','<{$evaluation_system.ev_no}>');">표준편차 적용</button>
									<button type="button" class="btn_small" style="background-color:#9BBB59; width: 150px;" onclick="downloadExcel('<{$evaluation_system.ev_no}>', '<{$evaluation_system.ev_u_set_no}>');">다면평정표(일괄) 다운로드</button>
									<{if $evaluation_system.is_multi_rater == '1'}>
									<button type="button" class="btn_small" style="background-color: blue; width: 150px;" onclick="moveLink('multi_rater','<{$evaluation_system.ev_no}>');">다면평정표(일괄) 보기</button>
									<{/if}>
								<{/if}>
							</td>
						</tr>
					</form>
					<{/foreach}>
				<{else}>
				<tr>
					<td colspan="12"> 등록된 자료가 없습니다.</td>
				</tr>
				<{/if}>
				<tr>
					<td colspan="12" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
				<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "마스터관리자") || $session_position == "팀장" || $session_position == "본부장"}>
				<tr>
					<td colspan="12" class="list_button">
						<div class="left_wrap"><button class="btn_style1" onclick="location.href='evaluation_regist.php'"><span>평가 제작하기</span></button></div>
					</td>
				</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	function searchList(){
		document.search_form.submit();
	}

	function save_el(ev_no, proc, obj)
	{
		var f 		= obj.form;
		var val 	= obj.value;
		var default_val = obj.defaultValue;
		var x 		= $(obj).position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("evaluation_system.php", {ev_no : ev_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function no_duplicate(ev_no) {
		var f = document.forms['apply_frm' + ev_no];
		f.process.value = "duplicate";

		if (confirm("정말로 복제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	function no_delete(ev_no, ev_state, ev_cnt)
	{
		if(ev_state != '1'){
			alert("평가기간이 지난경우 삭제 할 수 없습니다.");
			return false;
		}

		if(ev_cnt > 0){
			alert("평가완료된 "+ev_cnt+"건이 있어 삭제가 불가능합니다. 개발 담당자에게 별도로 요청해 주세요");
			return false;
		}

		var f = document.forms['apply_frm' + ev_no];
		f.process.value = "delete";

		if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	function openSelfEval(ev_no, s_no)
	{
		var href = "/v1/evaluation_self_regist.php?ev_no="+ev_no+"&rec_s_no="+s_no
		window.open(href,'','top=50, left=50, width=665, height=760, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
	}

	function moveLink(type, ev_no)
	{
		var move_url = "";

		if(type == 'evaluation'){
			move_url = "evaluation_progress.php?ev_no="+ev_no;
		}else if(type == 'result_no'){
			move_url = "evaluation_result_no1.php?ev_no="+ev_no;
		}else if(type == 'result'){
			move_url = "evaluation_result_list.php?sch_ev_no="+ev_no;
		}else if(type == 'multi_rater'){
			move_url = "evaluation_multi_rater.php?sch_ev_no="+ev_no;
		}else if(type == 'apply'){
			if(confirm("표준편차를 적용시키겠습니까?"))
			{
				move_url = "evaluation_result_apply_standard.php?ev_no=" + ev_no + "&type=list";
			}
		}

		if(move_url){
			location.href = move_url;
		}

		return false;
	}

	function downloadExcel(ev_no, ev_u_set_no)
	{
		var down_url = "excel_evaluation_total_result.php?ev_no="+ev_no;

		if(ev_u_set_no == 9){
			down_url = "excel_evaluation_result_view_total.php?ev_no="+ev_no;
		}

		if(confirm("다면평점표를 일괄로 다운로드 하시겠습니까?"))
		{
			location.href = down_url;
		}

		return false;
	}
</script>
</body>
</html>
