<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	#search_form .form-control{font-size: 12px; margin-right: 15px;}
	.form-control{font-size: 12px; padding: 3px;}
	.form-group label{margin-right: 5px; cursor: pointer;}
	.form-detail-group{margin: 5px 0;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody tr:hover{background: rgba(173,216,230,0.5);}
	.table_list_style table tbody td{vertical-align: middle;}
	.table_list_style table tbody td.rows-wrapper{background: white;}
	.table_list_style table tbody td.border-line{border-bottom: 2px solid black;}
	.table .thead-dark th{background-color: rgba(119, 119, 119, 1); border-color: gray;}
	.eval-notice{color: red; margin-top: 15px; font-size: 12px;}
	.custom-combobox input{float: left; font-size: 12px; width: 70px; padding: 3px;}
	.evaluator-wrapper .custom-combobox input{float: left; font-size: 12px; width: 105px; padding: 3px;}
	.manager_text, .receiver_text{float: left; font-size: 12px; width: 70px; padding: 3px;}
	.add-staff-btn{float: right; margin-top: 10px; margin-right: 5px;}
	.radio-wrapper{vertical-align: middle;}
	.radio-wrapper label{cursor: pointer; margin-bottom:0; margin-right: 5px;}
	.radio-wrapper input[type=radio]{cursor: pointer; margin: 0;}
	#search_form .custom-combobox input{margin-right: 5px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="evaluation_setting_list.php" autocomplete="off">
		<input type="hidden" name="sch_quick_search" value="<{$sch_quick_search}>">
		<div class="form-group">
			<label for="sch_ev_no" style="margin-right: 15px;">평가명</label>
			<select id="sch_ev_no" name="sch_ev_no" class="form-control" required>
				<option value="">::전체::</option>
				<{foreach from=$evaluation_system_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_ev_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<select id="sch_ev_state" name="sch_ev_state" class="form-control" style="color: <{$ev_state_option[$sch_ev_state].color}>" disabled>
				<option value="">::전체::</option>
				<{foreach from=$ev_state_option key=key item=ev_state_data}>
				<option value="<{$key}>" <{if $sch_ev_state == $key}>selected<{/if}> style="color: <{$ev_state_data.color}>"><{$ev_state_data.title}></option>
				<{/foreach}>
			</select>
			<{if !$sch_ev_no}>
			<button type="submit" class="btn_small" onclick="return searchList();" style="width:58px; height:27px; margin-left: 12px;">검색</button>
			<{/if}>

			<span class="eval-notice"><{$ev_date_notice}></span>
		</div>
		<div style="clear: both; display: block; width: 100%;"></div>
		<{if $sch_ev_no}>
		<div class="form-group form-detail-group">
			<label for="sch_manager">평가자 설정 관리자</label>
			<select id="sch_manager" name="sch_manager" class="form-control" <{if !$is_super_admin && !$is_admin_editable && !$is_manager_editable}>disabled<{/if}>>
				<{if $is_admin_editable}>
				<option value="">::전체::</option>
				<{/if}>
				<{foreach from=$staff_manager_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_manager == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_receiver_team">평가 받는사람</label>
			<select name="sch_receiver_team" id="sch_receiver_team" class="form-control sch_receiver_team" <{if !$is_super_admin && !$is_admin_editable && !$is_manager_editable}>disabled<{/if}>>
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_team == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right: 5px;">></span>
			<select name="sch_receiver_staff" id="sch_receiver_staff" class="form-control" <{if !$is_super_admin && !$is_admin_editable && !$is_manager_editable}>disabled<{/if}>>
				<option value="">::전체::</option>
				<{foreach from=$sch_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_relation_state">상호평가 확인</label>
			<select id="sch_relation_state" name="sch_relation_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$ev_relation_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_relation_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button type="submit" onclick="return searchList();" class="btn_small" style="width:58px; height:27px; margin-left: 12px;">검색</button>
		</div>
		<{/if}>
	</form>
	<{if ($is_super_admin || $ev_system.admin_s_no == $session_s_no)}>
		<button type="button" class="btn" onclick="quickSearch('1')" style="font-size: 12px; background: #999; color: white; font-weight: bold;">배정안된 평가자 검색</button>
		<button type="button" class="btn" onclick="quickSearch('2')" style="font-size: 12px; background: #999; color: white; font-weight: bold;">빈 평가자 검색</button>
	<{/if}>

	<{if ($is_super_admin || $ev_system.admin_s_no == $session_s_no) && ($ev_system.ev_state == '1' || $ev_system.ev_state == '5') && $ev_rec_prev_list && $chk_init_editable}>
	<div style="margin-top: 30px;">
		<span style="font-weight: bold">초기 데이터 설정 : </span>
		<select name="f_prev_ev_no" id="f_prev_ev_no" class="form-control" style="width: auto; display: inline-block;">
			<option value="">::지난평가선택::</option>
			<{foreach from=$ev_rec_prev_list key=prev_ev_no item=prev_label}>
			<option value="<{$prev_ev_no}>"><{$prev_label}></option>
			<{/foreach}>
		</select>
		<button type="button" class="btn" onclick="addPrevEvaluator('<{$ev_system.ev_no}>')" style="font-size: 12px; background: #999; color: white; font-weight: bold;">지난 평가자 불러오기</button>
	</div>
	<{/if}>

	<{if $sch_ev_state == '5'}>
	<div style="color: red; font-size: 12px; font-weight: bold; margin-top: 30px;">
		※주의 : '평가자 설정'중에는 다른 팀 리더가 추가한 내용이 보일 수 있습니다. 삭제하지 마시고, 다음 단계인 '상호평가 확인/수정' 단계에서 평가 여부를 합의하여 진행하시면 됩니다.
	</div>
	<{/if}>

	<{if $is_super_admin}>
	<div style="text-align: right; width: 1635px;">
		<{if $ev_system.ev_no}>
			<button onclick="location.href='evaluation_rate_apply.php?ev_no=<{$ev_system.ev_no}>';" class="btn_style1" style="background:darkred;color: white;float: left;padding: 10px 20px;margin-top: 18px;font-weight: bold;">평가비중 적용</button>
			<button onclick="location.href='evaluation_result_apply_standard.php?ev_no=<{$ev_system.ev_no}>&type=setting';" class="btn_style1" style="background: forestgreen;color: white;float: left;padding: 10px 20px;margin-top: 18px;font-weight: bold;">표준편차 적용</button>
		<{/if}>
		<button onclick="location.href='excel_evaluation_setting_list.php?ev_no=<{$ev_system.ev_no}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀다운로드</span></button>
	</div>
	<{/if}>
	<div class="table_list_style">
		<table class="table table-bordered" id="eval-setting-table" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 950px; margin-top: 10px; ">
			<colgroup>
				<col width="40px;"> <!-- 체크박스 -->
				<col width="60px;"> <!-- ev_r_no -->
				<col width="100px;"> <!-- 평가자 설정 관리자 -->
				<col width="100px;"> <!-- 평가받는사람 소속 -->
				<col width="100px;"> <!-- 평가받는사람 이름 -->
				<col width="180px;"> <!-- 평가받는사람 상호평가 확인 -->
				<col width="200px;"> <!-- 평가받는사람 사유 및 근거 -->
				<col width="100px;"> <!-- 상호 평가 확인(비교) -->
				<col width="70px;"> <!-- 평가자 관리자 -->
				<col width="140px;"> <!-- 평가자 이름(소속) -->
				<col width="180px;"> <!-- 평가자 상호평가 확인 -->
				<col width="200px;"> <!-- 평가자 사유 및 근거 -->
				<{if $is_super_admin}>
				<col width="80px;"> <!-- 평가비율 그룹별 -->
				<col width="80px;"> <!-- 평가비율 개인별 -->
				<{/if}>
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th class="first" scope="col" rowspan="2" style="height: 40px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th scope="col" rowspan="2">
						ev_r_no
						<{if $is_super_admin || ($is_manager_editable && !$is_review_step)}>
						<br/>
						<button type="button" onclick="delEvalRelation()" style="background: #999999;color: white;padding: 5px 10px;font-weight: bold;border-radius: 5px; margin-top: 5px;">삭제</button>
						<{/if}>
					</th>
					<th scope="col" colspan="5" style="height: 40px;">평가 받는사람</th>
					<th scope="col" rowspan="2">상호평가<br/>확인</th>
					<th scope="col" colspan="4">평가 하는사람</th>
					<{if $is_super_admin}>
					<th scope="col" colspan="2">평가비율(%)</th>
					<{/if}>
				</tr>
				<tr>
					<th scope="col" style="height: 40px">평가자 설정 관리자</th>
					<th scope="col">소속</th>
					<th scope="col">이름</th>
					<th scope="col">상호평가 확인</th>
					<th scope="col">사유 및 근거</th>
					<th scope="col">평가자 설정<br/>관리자</th>
					<th scope="col">이름(소속)</th>
					<th scope="col">상호평가 확인</th>
					<th scope="col">사유 및 근거</th>
					<{if $is_super_admin}>
					<th scope="col">그룹별</th>
					<th scope="col">개인별</th>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $ev_relation_manager_list}>
					<{foreach from=$ev_relation_manager_list key=manager item=manager_data}>
						<{assign var="manager_idx" value=0}>
						<{if $ev_relation_eval_list[$manager]}>
							<{assign var="eval_chk" value=99999}>
							<{assign var="eval_idx" value=1}>
							<{foreach from=$ev_relation_eval_list[$manager] item=eval_data}>
								<{assign var="eval_cnt" value=$ev_relation_rec_list[$manager][$eval_data.receiver_s_no]}>
								<tr>
									<td class="first <{if $eval_idx == $eval_cnt}>border-line<{/if}>" style="height: 40px;"> <!-- checkbox -->
										<input type="checkbox" name="select_check[]" class="select_check" value="<{$eval_data.ev_r_no}>" <{if !$eval_data.is_editable && !$is_super_admin && !$is_admin_editable}>disabled<{/if}>>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>> <!-- ev_r_no -->
										<{$eval_data.ev_r_no}>
									</td>
									<{if $manager_idx == 0}>
										<{assign var="manager_idx" value=$manager_idx+1}>
										<td id="manager_wrapper_<{$manager}>" rowspan="<{$manager_data.cnt}>" class="rows-wrapper border-line"> <!-- 관리자 -->
											<{if !$is_review_step && ($is_super_admin || $is_admin_editable)}>
												<select name="f_manager" class="form-control manager_name" onchange="changeManager('<{$manager_data.ev_no}>','<{$manager}>', this)">
													<option value=""></option>
													<{foreach from=$staff_manager_list key=key item=label}>
													<option value="<{$key}>" <{if $key == $manager}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
												<button type="button"  class="add-staff-btn" onclick="addReceiver('<{$manager_data.ev_no}>','<{$manager}>')" >+</button>
											<{elseif !isset($staff_manager_list[$manager])}>
												<{$manager_data.name}>
											<{else}>
												<select name="f_manager" class="form-control manager_text" disabled>
													<option value=""></option>
													<{foreach from=$staff_manager_list key=key item=label}>
													<option value="<{$key}>" <{if $key == $manager}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
											<{/if}>
										</td>
									<{/if}>
									<{if $eval_data.receiver_s_no == 0}>
										<td class="border-line"> <!-- 평가받는사람 소속 -->
											<{$eval_data.rec_team_name}>
										</td>
										<td class="border-line"> <!-- 평가받는사람 이름 -->
											<{if $is_super_admin || (!$is_review_step && ($is_admin_editable || $eval_data.is_editable))}>
												<select name="f_receiver" class="form-control receiver_name" onchange="changeReceiver('<{$manager_data.ev_no}>','<{$eval_data.ev_r_no}>','<{$manager}>','<{$eval_data.receiver_s_no}>', this)">
													<option value=""></option>
													<{foreach from=$eval_data.rec_staff_list key=key item=label}>
													<option value="<{$key}>"><{$label}></option>
													<{/foreach}>
												</select>
											<{else}>
												<select name="f_receiver" class="form-control receiver_text" disabled>
													<option value=""></option>
													<{foreach from=$eval_data.rec_staff_list key=key item=label}>
													<option value="<{$key}>"><{$label}></option>
													<{/foreach}>
												</select>
											<{/if}>
										</td>
									<{elseif $eval_data.receiver_s_no != $eval_chk}>
										<td rowspan="<{$eval_cnt}>" class="rows-wrapper border-line"> <!-- 평가받는사람 소속 -->
											<{$eval_data.rec_team_name}>
										</td>
										<td rowspan="<{$eval_cnt}>" class="rows-wrapper border-line"> <!-- 평가받는사람 이름 -->
											<{if $is_super_admin || (!$is_review_step && ($is_admin_editable || $eval_data.is_editable))}>
												<{if $ev_relation_eval_cnt_list[$eval_data.receiver_s_no] < 2}>
													<select name="f_receiver" class="form-control receiver_name" onchange="changeReceiver('<{$manager_data.ev_no}>','<{$eval_data.ev_r_no}>','<{$manager}>','<{$eval_data.receiver_s_no}>', this)" >
														<option value=""></option>
														<{foreach from=$rec_staff_list key=key item=label}>
														<option value="<{$key}>" <{if $key == $eval_data.receiver_s_no}>selected<{/if}>><{$label}></option>
														<{/foreach}>
													</select>
												<{else}>
													<select name="f_receiver" class="form-control receiver_text" disabled>
														<option value=""></option>
														<{foreach from=$rec_staff_list key=key item=label}>
														<option value="<{$key}>" <{if $key == $eval_data.receiver_s_no}>selected<{/if}>><{$label}></option>
														<{/foreach}>
													</select>
												<{/if}>
												<button type="button" class="add-staff-btn" onclick="addEvaluator('<{$manager_data.ev_no}>','<{$manager}>','<{$eval_data.receiver_s_no}>')">+</button>
											<{elseif !isset($staff_all_list[$eval_data.receiver_s_no])}>
												<{$eval_data.receiver_name}>
											<{else}>
												<select name="f_receiver" class="form-control receiver_text" disabled>
													<option value=""></option>
													<{foreach from=$rec_staff_list key=key item=label}>
													<option value="<{$key}>" <{if $key == $eval_data.receiver_s_no}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
											<{/if}>
											<{if $ev_system.ev_state == '7' && $is_super_admin}>
												<div style="clear: both;">
													<{if isset($ev_rec_rate_sum_list[$eval_data['receiver_s_no']])}>
														<span class="receiver_rate_sum_<{$eval_data['receiver_s_no']}>"><{$ev_rec_rate_sum_list[$eval_data['receiver_s_no']]}>%</span>
													<{else}>
														<span class="receiver_rate_sum_<{$eval_data['receiver_s_no']}>">0%</span>
													<{/if}>
												</div>
											<{/if}>
										</td>
									<{/if}>
									<td class="radio-wrapper <{if $eval_idx == $eval_cnt}>border-line<{/if}>"> <!-- 평가받는사람 상호평가 -->
										<{if $is_review_step && $eval_data.receiver_s_no != $eval_data.evaluator_s_no}>
											<{foreach from=$ev_review_option key=key item=label}>
												<input type="radio" name="f_rec_is_review_<{$eval_data.ev_r_no}>" id="f_rec_is_review_<{$eval_data.ev_r_no}>_<{$key}>" value="<{$key}>" onchange="save_el('<{$eval_data.ev_r_no}>','f_rec_is_review',this)" <{if $eval_data.rec_is_review == $key}>checked<{/if}> <{if $is_super_admin && ($ev_system.ev_state != 2 && $ev_system.ev_state != 3 && $ev_system.ev_state != 4)}><{elseif !$is_review_editable || (!$eval_data.is_editable && $session_s_no != $eval_data.receiver_s_no)}>disabled<{/if}>>
												<label for="f_rec_is_review_<{$eval_data.ev_r_no}>_<{$key}>"><{$label}></label>
											<{/foreach}>
										<{/if}>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>> <!-- 평가받는사람 사유 및 근거 -->
										<{if $is_review_step && $eval_data.receiver_s_no != $eval_data.evaluator_s_no}>
											<textarea name="f_rec_review" class="form-control" style="width: 99%;" rows="1" onchange="save_el('<{$eval_data.ev_r_no}>','f_rec_review',this)" <{if $is_super_admin && ($ev_system.ev_state != 2 && $ev_system.ev_state != 3 && $ev_system.ev_state != 4)}><{elseif !$is_review_editable || (!$eval_data.is_editable && $session_s_no != $eval_data.receiver_s_no)}>disabled<{/if}>><{$eval_data.rec_review}></textarea>
										<{/if}>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}> style="color: <{$eval_data.review_color}>;">
										<{$eval_data.review_status}>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}> style="color: lightgray; font-size:11px;"> <!-- 평가자 관리자 -->
										<{if $eval_data.receiver_s_no != $eval_data.evaluator_s_no}>
											<{$eval_data.evaluator_manager}>
										<{/if}>
									</td>
									<td class="evaluator-wrapper <{if $eval_idx == $eval_cnt}>border-line<{/if}>"> <!-- 평가자 이름(소속) -->
										<{if $eval_data.receiver_s_no == 0}>
										<{elseif $eval_data.receiver_s_no == $eval_data.evaluator_s_no}>
											<span style="font-weight: bold; font-size: 12px;"><{$eval_data.eval_s_name}></span> (<{$eval_data.eval_team_name}>)
										<{elseif ($is_super_admin || (!$is_review_step && ($is_admin_editable || $eval_data.is_editable))) && $eval_data.evaluator_s_no == 0}>
											<select name="f_evaluator" class="form-control evaluator_name" style="width: 210px;" onchange="changeEvaluator('<{$manager_data.ev_no}>','<{$eval_data.ev_r_no}>','<{$manager}>','<{$eval_data.receiver_s_no}>','<{$eval_data.evaluator_s_no}>', this)">
												<option value=""></option>
												<{foreach from=$eval_staff_list key=key item=label}>
												<option value="<{$key}>" <{if $key == $eval_data.evaluator_s_no}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										<{else}>
											<span style="font-weight: bold; font-size: 12px;"><{$eval_data.eval_s_name}></span> (<{$eval_data.eval_team_name}>)
											<{if $eval_data.chk_reg_s_no}>
												<img src="./images/icon/alert.jpg" style="width: 15px; cursor: pointer;" title="<{$eval_data.reg_s_name}>님이 등록한 건입니다." alt="<{$eval_data.reg_s_name}>님이 등록한 건입니다.">
											<{/if}>
										<{/if}>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>> <!-- 평가자 상호평가 -->
										<{if $is_review_step}>
											<{foreach from=$ev_review_option key=key item=label}>
												<input type="radio" name="f_eval_is_review_<{$eval_data.ev_r_no}>" id="f_eval_is_review_<{$eval_data.ev_r_no}>_<{$key}>" value="<{$key}>" <{if $eval_data.eval_is_review == $key}>checked<{/if}> disabled>
												<label for="f_eval_is_review_<{$eval_data.ev_r_no}>_<{$key}>"><{$label}></label>
											<{/foreach}>
										<{/if}>
									</td>
									<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>> <!-- 평가자 사유 및 근거 -->
										<{if $is_review_step}>
											<textarea name="f_eval_review" class="form-control" style="width: 99%;" rows="1" disabled><{$eval_data.eval_review}></textarea>
										<{/if}>
									</td>
									<{if $is_super_admin}>
										<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>>
											<{if $eval_data.receiver_s_no != $eval_data.evaluator_s_no && ($eval_data.rec_is_review == '1' && $eval_data.eval_is_review == '1')}>
												<input type="text" name="f_group_rate" class="form-control" value="<{$eval_data.group_rate}>" style="width: 58px; text-align: center;display: inline;" onchange="changeGroupRate('<{$manager_data.ev_no}>','<{$eval_data.ev_r_no}>','<{$eval_data.receiver_s_no}>',this);" <{if $ev_system.ev_state != '7'}>disabled<{/if}>>%
											<{/if}>
										</td>
										<td <{if $eval_idx == $eval_cnt}>class="border-line"<{/if}>>
											<{if $eval_data.receiver_s_no != $eval_data.evaluator_s_no && ($eval_data.rec_is_review == '1' && $eval_data.eval_is_review == '1')}>
												<input type="text" name="f_rate" class="form-control" value="<{$eval_data.rate}>" style="width: 58px; text-align: center;display: inline;" onchange="save_el('<{$eval_data.ev_r_no}>','f_rate',this)" attr-rec="<{$eval_data.receiver_s_no}>" <{if $ev_system.ev_state != '7'}>disabled<{/if}>>%
											<{/if}>
										</td>
									<{/if}>
									<{assign var="eval_chk" value=$eval_data.receiver_s_no}>
									<{if $eval_idx == $eval_cnt}>
										<{assign var="eval_idx" value=1}>
									<{else}>
										<{assign var="eval_idx" value=$eval_idx+1}>
									<{/if}>
								</tr>
							<{/foreach}>
						<{/if}>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="<{if $is_super_admin}>14<{else}>12<{/if}>"><{if $sch_ev_no}>데이터가 없습니다<{else}>평가명 조회 후 이용해주세요<{/if}></td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<form name="chk_form" action="evaluation_setting_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="chk_ev_r_no_list" class="chk_ev_r_no_list">
	<input type="hidden" name="chk_ev_no" class="chk_ev_no">
	<input type="hidden" name="chk_ev_r_no" class="chk_ev_r_no">
	<input type="hidden" name="chk_manager" class="chk_manager">
	<input type="hidden" name="chk_prev_value" class="chk_prev_value">
	<input type="hidden" name="chk_value" class="chk_value">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_receiver_staff").remoteChained({
			parents: "#sch_receiver_team",
			url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_receiver_team",
			loading: "로딩중..",
			clear: true
		});

		<{if $is_super_admin || $is_admin_editable || $is_manager_editable}>
			$(".sch_receiver_team").combobox();
		<{/if}>
		$(".manager_name").combobox();
		$(".receiver_name").combobox();
		$(".evaluator_name").combobox();
	});

	function searchList(){
		document.search_form.sch_quick_search.value='';
		return true;
	}

	function quickSearch(quick){
		document.search_form.sch_quick_search.value=quick;
		document.search_form.submit();
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++) {
			if(!chk[i].disabled){
				chk[i].checked = chkall.checked;
			}
		}
	}

	function checkRelationSelect()
	{
		var chk_ev_r_no_list = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_ev_r_no_list += ($(item).val() + ",");
			}
		});

		if(chk_ev_r_no_list != ""){
			chk_ev_r_no_list = chk_ev_r_no_list.slice(0, -1);
		}

		$(".chk_ev_r_no_list").val(chk_ev_r_no_list);
	}

	function delEvalRelation()
	{
		checkRelationSelect();

		if(!$(".chk_ev_r_no_list").val()){
			alert("선택 후 이용해주세요");
			return false;
		}

		if(confirm("[삭제 전 주의사항]\n" +
				"상대방에서 평가 대상으로 생각 할 수 있으므로\n" +
				"업무 연관성이 조금이라도 있으면 삭제하지 마시고,\n" +
				"다음 '상호평가 확인/수정' 단계에서 평가아님 선택을 추천 드립니다."))
		{
			document.chk_form.process.value = 'del_ev_relation';
			document.chk_form.submit();
		}

		return false;
	}

	function addReceiver(ev_no, manager)
	{
		document.chk_form.process.value 	= "new_receiver";
		document.chk_form.chk_ev_no.value 	= ev_no;
		document.chk_form.chk_value.value 	= manager;
		document.chk_form.submit();
	}

	function addEvaluator(ev_no, manager, receiver)
	{
		document.chk_form.process.value 	= "new_evaluator";
		document.chk_form.chk_ev_no.value 	= ev_no;
		document.chk_form.chk_manager.value = manager;
		document.chk_form.chk_value.value 	= receiver;
		document.chk_form.submit();
	}

	function changeManager(ev_no, manager, obj)
	{
		if($(obj).val() != '')
		{
			document.chk_form.process.value 		= "change_manager";
			document.chk_form.chk_ev_no.value 		= ev_no;
			document.chk_form.chk_prev_value.value 	= manager;
			document.chk_form.chk_value.value 		= $(obj).val();
			document.chk_form.submit();
		}
	}

	function changeReceiver(ev_no, ev_r_no, manager, receiver, obj)
	{
		if($(obj).val() != '')
		{
			$.ajax({
				url: "/v1/api/evaluation.staff.check.api.php",
				type: 'POST',
				data: {type: 'receiver', ev_no: ev_no, new_staff: $(obj).val()}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var result 	 = jsonData.result;

				if(result == true)
				{
					document.chk_form.process.value 		= "change_receiver";
					document.chk_form.chk_ev_no.value 		= ev_no;
					document.chk_form.chk_ev_r_no.value 	= ev_r_no;
					document.chk_form.chk_manager.value 	= manager;
					document.chk_form.chk_prev_value.value 	= receiver;
					document.chk_form.chk_value.value 		= $(obj).val();
					document.chk_form.submit();
				}
				else{
					alert("이미 등록된 평가대상자 입니다.");
					return false;
				}
			});
		}
	}

	function changeEvaluator(ev_no, ev_r_no, manager, receiver, evaluator, obj)
	{
		if($(obj).val() != '')
		{
			$.ajax({
				url: "/v1/api/evaluation.staff.check.api.php",
				type: 'POST',
				data: {type: 'evaluator', ev_no: ev_no, staff: receiver, new_staff: $(obj).val()}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var result 	 = jsonData.result;

				if(result == true)
				{
					document.chk_form.process.value 		= "change_evaluator";
					document.chk_form.chk_ev_no.value 		= ev_no;
					document.chk_form.chk_ev_r_no.value 	= ev_r_no;
					document.chk_form.chk_manager.value 	= manager;
					document.chk_form.chk_prev_value.value 	= evaluator;
					document.chk_form.chk_value.value 		= $(obj).val();
					document.chk_form.submit();
				}
				else{
					alert("이미 등록된 평가대상자 입니다.");
					return false;
				}
			});
		}
	}

	function changeGroupRate(ev_no, ev_r_no, receiver, obj)
	{
		if($(obj).val() > 0)
		{
			document.chk_form.process.value 	= "change_group_rate";
			document.chk_form.chk_ev_no.value 	= ev_no;
			document.chk_form.chk_ev_r_no.value = ev_r_no;
			document.chk_form.chk_manager.value = receiver;
			document.chk_form.chk_value.value 	= $(obj).val();
			document.chk_form.submit();
		}
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_rec_review' || proc == 'f_eval_review') {
			$.post("evaluation_setting_list.php", {ev_r_no : no, process : proc, val : val}, function(data){
				if(proc == 'f_rate'){
					var rec 		 = $(obj).attr('attr-rec');
					var jsonData 	 = JSON.parse(data);
					var result_msg 	 = jsonData.result_msg;
					var sum_rate 	 = jsonData.sum_rate;

					$(".receiver_rate_sum_"+rec).text(sum_rate+"%");
					d_msg.appendTo($(obj).closest('td')).html(result_msg).fadeOut(2000);
				}
				else{
					d_msg.appendTo($(obj).closest('td')).html(data).fadeOut(2000);
				}
			});
		}
	}

	function addPrevEvaluator(ev_no)
	{
		if($("#f_prev_ev_no").val() == ''){
			alert("지난 평가를 선택해주세요");
			return false;
		}

		if(confirm("평가 하는사람을 추가 후 지난 평가지의 평가설정을 불러올 수 없습니다.\n그래도 진행하시겠습니까?"))
		{
			document.chk_form.process.value 		= "add_prev_evaluator";
			document.chk_form.chk_prev_value.value 	= $("#f_prev_ev_no").val();
			document.chk_form.chk_value.value 		= ev_no;
			document.chk_form.submit();
		}

		return false;
	}
</script>
</body>
</html>
