<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content div,.admin_content h2,.admin_content th,.admin_content td,.admin_content input,.admin_content select,.admin_content textarea,.admin_content button{
		font-family: 'SUIT-Regular'; letter-spacing: -0.5px;
	}
	.admin_content{min-width: 800px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.question-subject-wrapper{clear: both; overflow: hidden; margin-bottom: 50px;}
	.question-subject-wrapper img{width: 100%;}
	.question-subject-wrapper .non-image-wrapper{overflow: hidden; background: rgb(0,57,179); color: white; font-size: 22px; font-weight:bold;width: 100%; height: 88px; padding: 20px;}
	.question-subject-wrapper .question-title{float: left; width: 233px; text-align: left; line-height: 45px;}
	.question-subject-wrapper .question-description{float: left;font-weight: normal;font-size: 13px;width: 494px;height: 100%;border-left: 1px solid white;padding-left: 20px;letter-spacing: -0.5px;}

	.question-self-wrapper{clear: both; overflow: hidden; margin-bottom: 30px;}
	.question-self-wrapper .self-title{background: rgb(0, 174, 231);font-size: 16px;font-weight: bold;padding: 5px 15px;width: auto;display: inline-block;color: white;margin-bottom: 10px;}
	.question-self-wrapper .self-content{height: 250px;font-size: 12px;padding: 20px;width: 99.5%;}

	.question-content-wrapper{clear: both; overflow: hidden;}
	.question-content-wrapper .question-content{clear: both; overflow: hidden; margin-bottom: 30px;}
	.question-content-wrapper .question-content-title{overflow: hidden; font-size: 16px; font-weight: bold; padding: 0; border: 1px solid #ccc; display: inline-block;}
	.question-content-wrapper .question-content-title .question-idx{float: left;background: rgb(0,57,179); color: white; width: 30px; text-align: center; padding: 5px;}
	.question-content-wrapper .question-content-title .question-text{float: left; padding: 5px 10px; letter-spacing: -0.5px;}
	.question-content-wrapper .question-content-description {clear: both; overflow: hidden; margin-top: 10px;}
	.question-content-wrapper .question-content-description img{width: 100%}
	.question-content-wrapper .question-content-description .question-content-non-image{width: 100%;max-height: 170px; padding: 15px; border: 1px solid #ccc; font-size: 14px;}
	.question-content-wrapper .question-content-description .question-content-select{padding: 5px 10px; border: 1px solid #ccc; font-size: 14px; font-weight: bold; background: grey;}
	.question-content-wrapper .form-textarea{width: 99%; font-size: 14px; padding: 10px 20px; height: 250px; background: #eee;}
	.question-content-wrapper .question-content-select{overflow:hidden;clear: both;background: #eee;min-height: 55px;font-weight: bold;font-size: 12px;padding: 5px 20px;border: 2px solid #ccc;border-top: 0;}
	.question-content-wrapper .question-content-select .option-essential{float: left; line-height: 22px;}
	.question-content-wrapper .question-content-select .option-title{float: left;}
	.question-content-wrapper .question-content-select .option-content{clear: both; overflow: hidden; font-size: 13px;}
	.question-content-wrapper .question-content-select .option-key, .question-content-wrapper .question-content-select .option-chk-key{float: left; margin-top: 4px; cursor: pointer;}
	.question-content-wrapper .question-content-select .option-label{float: left; margin: 0 5px 0 0; cursor: pointer;}
	.question-content-wrapper .question-content-select .form-number{width: 50px;font-size: 12px;float: left;padding: 3px 10px;margin: 5px 5px 0 0;text-align: center;}
	.question-content-wrapper .question-content-select .option-end{float: left; line-height: 40px;}
	.clear-br{clear: both;}
	.page-wrapper{clear: both; overflow: hidden; margin-top: 40px;}
	.page-wrapper .eval-btn{padding:0; margin: 0; outline: none;}
	.page-wrapper .eval-prev-btn{float: left;}
	.page-wrapper .eval-next-btn{float: right;}
	.page-wrapper .eval-final-btn{float: right;}
</style>

<div class="admin_content" style="width: 800px;">
	<div class="question-subject-wrapper" id="question-subject-wrapper">
		<{if $eval_page_img}>
			<img src="<{$eval_page_img}>">
		<{elseif $evaluation_subject_list}>
			<div class="non-image-wrapper">
				<div class="question-title"><{$evaluation_subject_list.question}></div>
				<div class="question-description"><{$evaluation_subject_list.description}></div>
			</div>
		<{/if}>
	</div>
	<{if $evaluation_self_list}>
	<div class="question-self-wrapper">
		<div class="self-title"><{$evaluation_self_list.question}></div>
		<textarea name="f_self_content" class="form-control self-content" disabled><{$evaluation_self_list.answer}></textarea>
	</div>
	<{/if}>
	<div class="question-content-wrapper">
		<{if $evaluation_question_list}>
			<{foreach from=$evaluation_question_list item=evaluation_question}>
			<div class="question-content">
				<div class="question-content-title">
					<div class="question-idx"><{if $evaluation_question.question_idx < 10}>0<{/if}><{$evaluation_question.question_idx}></div>
					<div class="question-text"><{$evaluation_question.question}></div>
				</div>
				<div class="question-content-description">
					<{if $evaluation_question.question_img}>
						<img src="<{$evaluation_question.question_img}>">
					<{elseif ($evaluation_question.ev_u_state != '4' && $evaluation_question.ev_u_state != '5') && $evaluation_question.description}>
						<div class="question-content-non-image">
							<{$evaluation_question.description}>
						</div>
					<{/if}>
				</div>
				<{if $evaluation_question.ev_u_state == '5'}>
					<textarea name="f_value_<{$evaluation_question.ev_result_no}>" class="form-control form-textarea option-text" autocomplete="off" attr-no="<{$evaluation_question.ev_result_no}>" attr-state="<{$evaluation_question.ev_u_state}>"><{$evaluation_question.ev_value}></textarea>
				<{else}>
					<div class="question-content-select">
						<{if $evaluation_question.question_option}>
							<{if $evaluation_question.essential == 1}>
								<span class="option-essential">*</span>
							<{/if}>
							<span class="option-title"><{$evaluation_question.question_option.title}></span>

							<{if $evaluation_question.ev_u_state == '3'}>
								<br/>
								<input type="text" name="f_value" class="form-control form-number" value="<{$evaluation_question.ev_value}>" maxlength="3" autocomplete="off" attr-no="<{$evaluation_question.ev_result_no}>" attr-state="<{$evaluation_question.ev_u_state}>">
								<span class="option-end">점</span>
							<{elseif $evaluation_question.ev_u_state == '4'}>
								<input type="text" name="f_value" class="form-control form-text option-text" value="<{$evaluation_question.ev_value}>" autocomplete="off" attr-no="<{$evaluation_question.ev_result_no}>" attr-state="<{$evaluation_question.ev_u_state}>">
							<{else}>
								<div class="option-content">
								<{foreach from=$evaluation_question.question_option.option key=key item=label}>
									<{if $evaluation_question.ev_u_state == '9'}>
										<input type="checkbox" name="f_question_check_<{$evaluation_question.ev_result_no}>" id="f_question_check_<{$evaluation_question.ev_result_no}>_<{$key}>" class="option-chk-key" attr-no="<{$evaluation_question.ev_result_no}>" attr-state="<{$evaluation_question.ev_u_state}>" value="<{$key}>" <{if in_array($key, $evaluation_question.ev_value_list)}>checked<{/if}>>
										<label for="f_question_check_<{$evaluation_question.ev_result_no}>_<{$key}>" class="option-label"><{$label}></label>
									<{else}>
										<input type="radio" name="f_question_<{$evaluation_question.ev_result_no}>" id="f_question_<{$evaluation_question.ev_result_no}>_<{$key}>" class="option-key" attr-no="<{$evaluation_question.ev_result_no}>" attr-state="<{$evaluation_question.ev_u_state}>" value="<{$key}>" <{if $evaluation_question.ev_value == $key}>checked<{/if}>>
										<label for="f_question_<{$evaluation_question.ev_result_no}>_<{$key}>" class="option-label"><{$label}></label>
										<{if $evaluation_question.ev_u_state == '7' && $key == 8}>
										<br class="clear-br"/>
										<{/if}>
									<{/if}>
								<{/foreach}>
								</div>
							<{/if}>
						<{/if}>
					</div>
				<{/if}>
			</div>
			<{/foreach}>
			<div class="page-wrapper">
				<{if $eval_prev_page > 0}>
				<button type="button" class="eval-btn eval-prev-btn" onclick="moveEvResultPage('<{$evaluation_system.ev_no}>','<{$evaluation_relation.ev_r_no}>','<{$eval_prev_page}>')">
					<img src="./images/evaluation/kpi/prev.png">
				</button>
				<{/if}>
				<{if $eval_max_page >= $eval_next_page}>
				<button type="button" class="eval-btn eval-next-btn" onclick="moveEvResultPage('<{$evaluation_system.ev_no}>','<{$evaluation_relation.ev_r_no}>','<{$eval_next_page}>')">
					<img src="./images/evaluation/kpi/next.png">
				</button>
				<{/if}>
				<{if $eval_max_page == $eval_cur_page && $ev_r_no > 0}>
					<button type="button" class="eval-btn eval-final-btn" onclick="completePage('<{$evaluation_system.ev_no}>','<{$evaluation_relation.ev_r_no}>')">
						<img src="./images/evaluation/kpi/complete.png">
					</button>
				<{/if}>
			</div>
		<{else}>
			평가지 내역이 없습니다!
		<{/if}>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".option-key").change(function(){
			var ev_result_no 	= $(this).attr("attr-no");
			var ev_state 		= $(this).attr("attr-state");
			var value 		 	= $(this).val();

			save_el("f_result_save", ev_result_no, ev_state, value);
		});

		$(".form-number").change(function(){
			var ev_result_no 	= $(this).attr("attr-no");
			var ev_state 		= $(this).attr("attr-state");
			var value 			= $(this).val();

			save_el("f_result_save", ev_result_no, ev_state, value);
		});

		$(".option-text").change(function(){
			var ev_result_no 	= $(this).attr("attr-no");
			var ev_state 		= $(this).attr("attr-state");
			var value 		 	= $(this).val();

			save_el("f_result_text_save", ev_result_no, ev_state, value);
		});

		$(".option-chk-key").change(function(){
			var ev_result_no 	= $(this).attr("attr-no");
			var ev_state 		= $(this).attr("attr-state");
			var value 		 	= checkOptionSelect(ev_result_no);

			save_el("f_result_check_save", ev_result_no, ev_state, value);
		});
	});

	function save_el(process, ev_result_no, ev_state, value)
	{
		if (value != "" || process == 'f_result_text_save') {
			$.post("evaluation_page_iframe.php", {ev_result_no : ev_result_no, process : process, ev_state: ev_state, value : value}, function(result){
				if(result != ""){
					alert(result);
				}
			});
		}
	}

	function checkOptionSelect(type)
	{
		var chk_no_list = "";

		$("input[name='f_question_check_"+type+"']").each(function(idx, item){
			if($(item).is(":checked")){
				if(chk_no_list != ''){
					chk_no_list += ("||" + $(item).val());
				}else{
					chk_no_list += $(item).val();
				}

			}
		});

		return chk_no_list;
	}

	function moveEvResultPage(ev_no, ev_r_no, page)
	{
		location.href='evaluation_page_iframe.php?ev_no='+ev_no+"&ev_r_no="+ev_r_no+"&page="+page+"#question-subject-wrapper";
	}

	function completePage(ev_no, ev_r_no)
	{
		$.ajax({
			url: "/v1/api/evaluation.progress.check.api.php",
			type: 'POST',
			data: {"ev_no": ev_no, "ev_r_no" : ev_r_no}
		}).done( function( data ) {
			var jsonData 	= JSON.parse(data);
			var result  	= jsonData.result;
			var result_msg  = jsonData.result_msg;
			var page  		= jsonData.page;

			if(result){
				alert(result_msg);
				parent.window.scrollTo(0,0);
				parent.window.location.reload();
			}else{
				alert(result_msg);
				moveEvResultPage(ev_no, ev_r_no, page);
			}
		});

		return false;
	}
</script>
</body>
</html>
