<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.main_table_style.no_bdr table thead th{text-align: center;}
</style>

<div class="admin_content" style="width:1800px;">
	<h2 class="title_kind<{$skind}>"><span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span> <{$kind_list[$skind]}> 이용 후 평가</h2>
	<form method="get" name="search_form" action="">
		<div class="default_wrap">
			<div class="left_wrap">
				<span	class="name_tit">구분</span>
				<select	name="skind" id="" class="select_type2" style="margin-right:20px">
					<{foreach from=$kind_list key=key item=label}>
						<option	value="<{$key}>" <{if $skind==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span	class="name_tit">지역1</span>
				<select	name="f_location1" id="f_location1"	class="select_type2" style="margin-right:20px">
					<option	value="" <{if	!$f_location1}>selected<{/if}>>전체</option>
					<{section	name=data	loop=$location}>
					<option	value="<{$location[data].location_code}>"	<{if $f_location1==$location[data].location_code}>selected<{/if}>><{$location[data].location_name}></option>
					<{/section}>
				</select>
				<span	class="name_tit">지역2</span>
				<select	id="f_location2" name="f_location2"	class="select_type2" style="margin-right:20px">
					<option	value="">전체</option>
				</select>
				<span class="name_tit">업종1</span>
				<select name="f_cate1" id="f_cate1" class="select_type2" style="margin-right:20px">
					<option value="" <{if !$f_cate1}>selected<{/if}>>전체</option>
					<{section name=data loop=$job}>
					<option value="<{$job[data].job_code}>" <{if $f_cate1==$job[data].job_code}>selected<{/if}>><{$job[data].job_name}></option>
					<{/section}>
				</select>
				<span class="name_tit">업종2</span>
				<select name="f_cate2" id="f_cate2" class="select_type2" style="margin-right:20px">
					<option value="">전체</option>
				</select>
			</div>
		</div>
		<div class="default_wrap">
			<div class="left_wrap">
				<span	class="name_tit">CODE</span>
				<input type="text" name="scode" value="<{$scode}>" class="input_type5" onkeydown="javascript:if(event.keyCode ==	13)searchList();"	/>

				<span class="name_tit">모집 시작일</span>
				<input type="text" class="input_type3 date-picker" id="sreg_sdate1" name="sreg_sdate1" value="<{$sreg_sdate1}>" />
				~
				<input type="text" class="input_type3 date-picker" id="sreg_sdate2" name="sreg_sdate2" value="<{$sreg_sdate2}>" />
			</div>
		</div>

		<div class="default_wrap">
			<div class="left_wrap">
				<span	class="name_tit">업체명</span>
				<input type="text" name="scompany" value="<{$scompany}>" class="input_type1" onkeydown="javascript:if(event.keyCode ==	13)searchList();"	/>
				<span class="name_tit">담당자</span>
				<select name="sno" id="" class="select_type2">
					<option value="all" <{if $sno=="all"}>selected<{/if}>>::전체::</option>
					<{section name=data loop=$staff}>
					<option value="<{$staff[data].no}>" <{if (($sno !='' && $staff[data].no==$sno) || (!$sno && permissionNameCheck($session_permission, "마케터") && $staff[data].no==$session_s_no ))}>selected<{/if}>><{$staff[data].name}></option>
					<{/section}>
				</select>
				<button	class="btn_small"	onclick="submit();">검색</button>
			</div>
		</div>
	</form>
</div><!-- //admin_content -->

<form method="post" name="list_form" id="list_form" action="">
	<input type="hidden" name="list_query" value="<{$save_query}>">
	<input type="hidden" name="process" value="memo" />
	<input type="hidden" id="r_no" name="r_no" value="" />
	<input type="hidden" id="send_yn" name="send_yn" value="" />

	<{if $q_title}>
	<div class="main_table_style no_bdr" style="width:2700px;padding-left:51px">
		<table border="0" cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
			<thead>
				<tr>
					<{section	name=data	loop=$q_title}>
					<th	width="110px;" style="border-right:1px solid;padding:3px"><{$q_title[data]}></th>
					<{/section}>
				</tr>
			</thead>
			<tbody>
				<tr>
					<{section	name=data	loop=$q_avg}>
					<td height="25" style="border-right:1px solid;padding:3px"><{$q_avg[data]}></td>
					<{/section}>
				</tr>
			</tbody>
		</table>
	</div>
	<{/if}>

	<div class="main_table_style no_bdr" style="width:2000px;">
		<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
			<thead>
				<tr>
					<th	width="60px;">no</th>
					<th	width="70px;">구분</th>
					<th	width="100px;">지역</th>
					<th style="min-width:90px;">업종</th>
					<th	width="220px;">CODE/업체명</th>
					<th style="min-width:70px;">담당자</th>
					<th style="min-width:70px;">모집시작일</th>
					<{section	name=data	loop=$q_title}>
					<th	width="100px;"><{$q_title[data]}></th>
					<{/section}>
					<th	width="200px;">불만사유 및 개선점</th>
					<th	width="150px;">답변요청</th>
					<th	width="120px;" class="last">작성일</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="15"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{section	name=data	loop=$blogger}>
					<tr>
						<td	height="25"><{$blogger[data].e_no}></td>
						<td class="gubun_td"><span class="kind_gubun<{$blogger[data].kind}>"><{$blogger[data].kind_name}></span></td>
						<td><{$blogger[data].location1}><br><{$blogger[data].location2}></td>
						<td><{$blogger[data].f_cate1_name}><br><{$blogger[data].f_cate2_name}></td>
						<td style="text-align:left;padding-left:10px"><{$blogger[data].promotion_code}><br><{$blogger[data].company}></td>
						<td><{$blogger[data].staff_name}></td>
						<td><{$blogger[data].reg_sdate}></td>
						<{if $skind == 1 || $skind == 2 || $skind == 3}>
							<td><{$blogger[data].q1}></td>
							<td><{$blogger[data].q2}></td>
							<td><{$blogger[data].q3}></td>
							<td><{$blogger[data].q4}></td>
							<td><{$blogger[data].q5}></td>
							<{if $skind == 1}>
							<td><{$blogger[data].q6}></td>
							<td><{$blogger[data].q7}></td>
							<{elseif $skind == 3}>
							<td><{$blogger[data].q6}></td>
							<{/if}>
						<{/if}>
						<td>
							<div>
								<textarea name="q_opinion" id="q_opinion" cols="5" rows="6" class="textarea_memo"><{$blogger[data].q_opinion}></textarea>
							</div>
						</td>
						<td><{$blogger[data].q_contact}></td>
						<td><{$blogger[data].regdate}></td>
					</tr>
					</form>
					<{/section}>
				<{/if}>
			</tbody>
		</table>
		<div class="paging_wrap" style="text-align:left;padding-left:700px">
			<{$pagelist}>
		</div>
	</div>
</form>

<div class="left_wrap">
	<{if (permissionNameCheck($session_permission, "서비스운영") || permissionNameCheck($session_permission, "마스터관리자")) }>
		 <button type="button" onclick="location.href='excel_evaluation_list.php?<{$save_query}>'; return false;"	class="btn_style1"><span>엑셀	파일로	저장 </span></button>
	<{/if}>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		$("#f_location2").remoteChained({
			parents	:	"#f_location1",
			url	:	"/v1/api/location.json.php",
			<{if $f_location2	!= ""	}>
			bootstrap	:	{
				"":"전체",
				<{section	name=data	loop=$editlocation}>
				"<{$editlocation[data].location_code}>":"<{$editlocation[data].location_name}>",
				<{/section}>
				"selected":"<{$f_location2}>"
			},
					<{elseif $f_location1	!= ""}>
					bootstrap	:	{
				"":"전체",
				<{section	name=data	loop=$editlocation}>
				"<{$editlocation[data].location_code}>":"<{$editlocation[data].location_name}>",
				<{/section}>
							"selected":"전체"
			},
			<{/if}>
			loading	:	"로딩중.."
		});
		$("#f_cate2").remoteChained({
			parents : "#f_cate1",
			url : "/v1/api/job.json.php",
			<{if $f_cate2 != "" }>
			bootstrap : {
				"":"전체",
				<{section name=data loop=$editjob}>
				"<{$editjob[data].job_code}>":"<{$editjob[data].job_name}>",
				<{/section}>
				"selected":"<{$f_cate2}>"
			},
			<{elseif $f_cate1 != ""}>
					bootstrap : {
					"":"전체",
					<{section name=data loop=$editjob}>
					"<{$editjob[data].job_code}>":"<{$editjob[data].job_name}>",
					<{/section}>
					"selected":"전체"
			},
			<{/if}>
			loading : "로딩중.."
		});

	//	$("#f_location2").trigger('change');

	});

	function save_send_yn(r_no) {
		var val = $(':radio[name="send_yn_' + r_no + '"]:checked').val();

		document.getElementById('list_form').process.value = "save_send_yn";
		document.getElementById('list_form').r_no.value = r_no;
		document.getElementById('list_form').send_yn.value = val;
		document.getElementById('list_form').submit();
	}

	$(".rdo_send_yn").each(function () {
		$(this).click(function() {
			var str = $(this).attr('name');
			var val = $(this).attr('value');
			r_no = str.substring(str.lastIndexOf('_')+1);

			$.post("reservation_list.php", {process : 'save_send_yn', r_no : r_no, send_yn : val}, function(result){

			});
		});
	});
</script>

</body>
</html>
