<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="incentive_list.php" autocomplete="off">
		<h2 class="title">● 인센티브 리스트</h2>

		<div class="default_wrap" style="color:#1c7198;">
			<div class="left_wrap">

				<span class="name_tit">est_wp_no</span>
				<input type="text" name="sch_est_wp_no" value="<{$sch_est_wp_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">견적서 진행상태</span>
				<select name="sch_state" id="sch_state" class="select_type2" >
					<{section name=data loop=$work_state}>
					<option value="<{$work_state[data][1]}>" <{if ($sch_state=='' && $work_state[data][0]=='전체') || $sch_state==$work_state[data][1]}>selected<{/if}>><{$work_state[data][0]}></option>
					<{/section}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">인센티브 정산 년/월</span>
				<input type="text" class="month-picker input_type2" id="sch_incentive_date" name="sch_incentive_date" value="<{$sch_incentive_date}>" style="margin-right:10px; text-align: center;"/>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">인센티브 정산상태</span>
				<select name="sch_incentive_state" id="sch_incentive_state" class="select_type2" >
					<{section name=data loop=$incentive_state}>
					<option value="<{$incentive_state[data][1]}>" <{if ($sch_incentive_state=='' && $incentive_state[data][0]=='전체') || $sch_incentive_state==$incentive_state[data][1]}>selected<{/if}>><{$incentive_state[data][0]}></option>
					<{/section}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">마케팅 담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" style="margin-right:10px;" >
					<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"마스터관리자")}>
						<option value="all" <{if $sch_s_no=="all"}>selected<{/if}>>::전체::</option>
					<{/if}>
					<{section name=data loop=$staff}>
						<option value="<{$staff[data].no}>" <{if (($sch_s_no !='' && $staff[data].no==$sch_s_no) || (!$sch_s_no && $staff[data].no==$session_s_no ))}>selected<{/if}>><{$staff[data].name}></option>
					<{/section}>
				</select>

				<br />

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right; color:1c7198;">
							<span class="name_tit">업체명</span>
							<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
					<{if permissionNameCheck($session_permission,"재무관리자")}>
						<td style="text-align: right; color:1c7198;">
							<span style="margin-left:20px;" class="name_tit">재무관리자 메모</span>
							<input type="text" name="sch_memo" value="<{$sch_memo}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
					<{/if}>
						<td>
							<button class="btn_big_search" onclick="submit();">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 인센티브 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="13" style="text-align: left;">
						<br><{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:30px;">est_wp_no</th>
					<th style="min-width:90px;">견적서<br>진행상태</th>
					<th style="min-width:85px;">입금완료일<br>(정산 년/월)</th>
					<th style="min-width:120px;">인센티브<br>정산상태</th>
					<th style="min-width:210px;">[업체명]</th>
					<th style="min-width:210px;">견적서명</th>
					<th style="min-width:80px;">마케팅<br />담당자</th>
					<th style="min-width:112px;">마케터 판매가<br>실제 입금액<br>(VAT별도)</th>
					<th style="min-width:112px;">마케터 예상 외주비<br>실제 외주비<br>(VAT별도)</th>
					<th style="min-width:112px;">인센 기준 매출액<br><span style="text-decoration: underline;" title="인센 기준 매출액 = 실제 입금액 - 작업완료 실제외주비 - 작업미완료 예상외주비(인센 정산 시 예정업무로 반영)">(계산법은?)</span></th>
					<th style="min-width:150px;">재무관리자 메모<br>(재무관리자 전용)</th>
					<th style="min-width:70px;">작성일</th>
				</tr>
			</thead>
			<tbody>
				<{section name=list loop=$incentive_list}>
				<form name="apply_package_frm<{$incentive_list[list].est_wp_no}>" id="apply_package_frm<{$incentive_list[list].est_wp_no}>" action="incentive_list.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="est_wp_no" value="<{$incentive_list[list].est_wp_no}>">
					<input type="hidden" name="dp_money" value="<{$incentive_list[list].dp_money}>">
					<input type="hidden" name="total_work_price" value="<{$incentive_list[list].total_work_price}>">
					<input type="hidden" name="nat_sales_price" value="<{$incentive_list[list].nat_sales_price}>">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="dp_no">
					<input type="hidden" name="process">
					<tr style="background-color: #e4e4e4;">
						<td class="first"> <!-- est_wp_no -->
							<{$incentive_list[list].est_wp_no}>
						</td>
						<td>  <!-- 견적서<br>진행상태 -->
							<select name="f_state" id="f_state" class="f_state select_type1_disabled" <{if $incentive_list[list].ewp_state == '3'}> style="color:red; background-color:yellow;"<{elseif $incentive_list[list].ewp_state == '4' || $incentive_list[list].ewp_state == '5'}> style="color:blue;"<{elseif $incentive_list[list].ewp_state == '7' || $incentive_list[list].ewp_state == '8'}> style="color:red; background-color:lightgray;"<{elseif $incentive_list[list].ewp_state == '9'}>style="color:black; background-color:lightgray;"<<{/if}> >
								<!-- 탑블로그 상품의 경우 또는 마스터관리자 또는 마케터의 경우 진행요청 이전일 경우 선택 활성화-->
								<{section name=data loop=$work_state}>
									<option value="<{$work_state[data][1]}>" <{if $incentive_list[list].ewp_state==$work_state[data][1]}>selected<{/if}> disabled><{$work_state[data][0]}></option>
								<{/section}>
							</select>
						</td>
						<td class="link"> <!-- 입금완료일<br>(정산 년/월) -->
							<{$incentive_list[list].dp_date}>
							<br>(<{$incentive_list[list].incentive_date}>)
						</td>
						<td> <!-- 인센티브<br>정산상태-->
							<select name="f_state" id="f_state" onchange="save_package_el('<{$incentive_list[list].est_wp_no}>', 'f_p_state', this)" class="f_state select_type2"
								<{if $incentive_list[list].incentive_state == '' }> style="color:red;"
								<{elseif $incentive_list[list].incentive_state == '1' || $incentive_list[list].incentive_state == '3' || $incentive_list[list].incentive_state == '5'}> style="color:red; background-color:yellow;"
								<{elseif $incentive_list[list].incentive_state == '2' || $incentive_list[list].incentive_state == '4' || $incentive_list[list].incentive_state == '6'}> style="color:blue;"
								<{elseif $incentive_list[list].incentive_state == '7'}> style="color:red; background-color:lightgray;"
								<{elseif $incentive_list[list].incentive_state == '8'}>style="color:black; background-color:lightgray;"<<{/if}> >

								<{section name=data loop=$incentive_state}>
									<{if $incentive_state[data][1]}>
										<option value="<{$incentive_state[data][1]}>" <{if $incentive_list[list].state==$incentive_state[data][1]}>selected<{/if}>
										><{$incentive_state[data][0]}></option>
									<{/if}>
								<{/section}>
							</select>
						</td>
						<td class="alignL"> <!-- 업체명 -->
							<{$incentive_list[list].c_name}>&nbsp;<a href="company_regist.php?no=<{$incentive_list[list].c_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						</td>
						<td class="alignL"> <!-- 견적서명 -->
							<{$incentive_list[list].subject}>&nbsp;<a href="estimate_list.php?sch_est_wp_no=<{$incentive_list[list].est_wp_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						</td>
						<td> <!-- 마케팅 담당자 -->
							<{$incentive_list[list].s_no_name}>
						</td>
						<td style="text-align: right;"> <!-- 마케터 판매가<br>실제 입금액<br>(VAT별도) -->
							<span style="color: blue; font-weight: bold; font-size: 15px;"><{$incentive_list[list].price}></span><br>
							<{$incentive_list[list].dp_money}>
						</td>
						<td style="text-align: right;"> <!-- 마케터 예상 외주비<br>실제 외주비<br>(VAT별도) -->
							<span style="color: red; font-weight: bold; font-size: 15px;"><{$incentive_list[list].out_price}></span><br>
							<{$incentive_list[list].total_work_price}>
						</td>
						<td class="money" style="color: #000000"> <!-- 인센 기준 매출액 -->
							<{$incentive_list[list].nat_sales_price}>
						</td>
						<td> <!-- 재무관리자 메모 (재무관리자 전용) -->
							<{if permissionNameCheck($session_permission,"재무관리자")}>
								<textarea name="f_memo" id="f_memo" onchange="save_package_el('<{$incentive_list[list].est_wp_no}>', 'f_p_memo', this)" class="textarea_work_message" style="height:45px;" <{if !permissionNameCheck($session_permission,"마스터관리자") && $incentive_list[list].s_no != $session_s_no }>readonly<{/if}>><{$incentive_list[list].memo}></textarea>
							<{/if}>
						</td>
						<td class="date"> <!-- 작성일 -->

						</td>
					</tr>
				</form>

				<tr>
					<td></td>
					<td colspan="12" class="alignL">
						<div id="incentive_work_list_display_<{$incentive_list[list].est_wp_no}>">
							<table cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td style="min-width:63px; color:#7d7a7a;">w_no</td>
										<td style="min-width:85px; color:#7d7a7a;">업무<br>진행상태</td>
										<td style="min-width:490px; color:#7d7a7a;">상품명</td>
										<td style="min-width:182px; color:#7d7a7a;">타겟키워드 및 수량<br>#실제 진행 타겟키워드</td>
										<td style="min-width:112px; color:#7d7a7a;">판매가<br>(VAT별도)</td>
										<td style="min-width:112px; color:#7d7a7a;">예상외주비<br>(VAT별도)</td>
										<td style="min-width:90px; color:#7d7a7a;">실제외주비<br>(VAT별도)</th>
										<td style="min-width:150px; color:#7d7a7a;">재무관리자 메모</td>
									</tr>
									<{section name=list_2 loop=$incentive_work_list}>
										<{if $incentive_list[list].mw_cnt >= 1 && $incentive_list[list].est_wp_no == $incentive_work_list[list_2].est_wp_no}> <!-- 견적서에 속한 견적서 업무가 있는 경우 표기 -->
											<form name="apply_frm<{$incentive_work_list[list_2].est_w_no}>" id="apply_frm<{$incentive_work_list[list_2].est_w_no}>" action="incentive_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
											<input type="hidden" name="est_wp_no" value="<{$incentive_list[list].est_wp_no}>">
											<input type="hidden" name="est_w_no" value="<{$incentive_work_list[list_2].est_w_no}>">
											<input type="hidden" name="prd_no_name" value="<{$incentive_work_list[list_2].prd_no_name}>">
											<input type="hidden" name="search_url" value="<{$search_url}>">
											<input type="hidden" name="process">
											<tr>
												<td style="padding: 0px 3px 0px 1px;"> <!-- w_no -->
													<{$incentive_work_list[list_2].w_no}>
												</td>
												<td> <!-- 업무<br>진행상태 -->
													<{if $incentive_work_list[list_2].w_no}>
														<select name="f_work_state" id="f_work_state" class="f_work_state select_type1<{if $incentive_work_list[list_2].work_state == '6'}>_disabled<{/if}>" <{if $incentive_work_list[list_2].work_state == '3'}> style="color:red; background-color:yellow;"<{elseif $incentive_work_list[list_2].work_state == '4' || $incentive_work_list[list_2].work_state == '5'}> style="color:blue;"<{elseif $incentive_work_list[list_2].work_state == '7' || $incentive_work_list[list_2].work_state == '8'}> style="color:red; background-color:lightgray;"<{elseif $incentive_work_list[list_2].work_state == '9'}>style="color:black; background-color:lightgray;"<<{/if}> >
															<{section name=data loop=$work_state}>
																<option value="<{$work_state[data][1]}>" <{if $incentive_work_list[list_2].work_state==$work_state[data][1]}>selected<{/if}> disabled><{$work_state[data][0]}></option>
															<{/section}>
														</select>
													<{else}>
													<{/if}>
												</td>
												<td class="alignL link"> <!-- 상품명 -->
													<select name="f_prd_g1" id="f_prd_g1" class="f_prd_g1 select_type2_disabled" disabled>
														<{section name=data loop=$prd_g1_list}>
															<option value="<{$prd_g1_list[data].k_name_code}>" <{if $incentive_work_list[list_2].k_prd1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
														<{/section}>
													</select>
													<select name="f_prd_g2" id="f_prd_g2" class="f_prd_g2 select_type2_disabled" disabled>
														<{section name=data loop=$prd_g2_list}>
														<{if $prd_g2_list[data].est_w_no==$incentive_work_list[list_2].est_w_no }>
															<option value="<{$prd_g2_list[data].k_name_code}>" <{if $incentive_work_list[list_2].k_prd2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
														<{/if}>
														<{/section}>
													</select>
													<select name="f_prd" id="f_prd" class="f_prd select_type3_disabled" disabled>
														<{section name=data loop=$prd_list}>
														<{if $prd_list[data].est_w_no==$incentive_work_list[list_2].est_w_no }>
															<option value="<{$prd_list[data].prd_no}>" <{if $incentive_work_list[list_2].prd_no==$prd_list[data].prd_no}>selected<{/if}>><{$prd_list[data].title}></option>
														<{/if}>
														<{/section}>
													</select>
													<{if $incentive_work_list[list_2].w_no}>
														<a href="#" onclick="window.open('work_list.php?sch_w_no=<{$incentive_work_list[list_2].w_no}>&sch_prd=<{$incentive_work_list[list_2].prd_no}>')">[업무보기]</a>
													<{/if}>
												</td>
												<td class="alignL"> <!-- 타겟키워드 및 수량 / 실제 진행 타겟키워드 -->
													<{$incentive_work_list[list_2].t_keyword_or_cnt}>
													<{if $incentive_work_list[list_2].wrok_t_keyword}>
														<br>(<{$incentive_work_list[list_2].wrok_t_keyword}>)
													<{/if}>
												</td> <!-- 판매가(VAT별도) -->
												<td class="alignR">
													<span style="color: blue; font-weight: bold; font-size: 15px;"><{$incentive_work_list[list_2].price}></span>
												</td>
												<td class="alignR"> <!-- 예상외주비(VAT별도) -->
													<span style="color: <{if $incentive_work_list[list_2].work_state!='6'}>#000000;<{else}>red;<{/if}>; font-weight: bold; font-size: 15px;"><{$incentive_work_list[list_2].out_price}></span><br>
												</td>
												<td class="money" style="color: #000000"> <!-- 실제외주비(VAT별도) -->
													<{$incentive_work_list[list_2].work_price}>
												</td>
												<td> <!-- 재무관리자 메모 (재무관리자 전용) -->
													<{if permissionNameCheck($session_permission,"재무관리자")}>
														<textarea name="f_memo" id="f_memo" onchange="save_el('<{$incentive_work_list[list_2].est_w_no}>', 'f_memo', this)" class="textarea_work_message" style="height:40px;"><{$incentive_work_list[list_2].memo}></textarea>
													<{/if}>
												</td>
											</tr>
											<{/if}>
											</form>
									<{/section}>
								</tbody>
							</table>
							<button type="button" style="width:100%;" onclick="incentive_work_list_display('<{$incentive_list[list].est_wp_no}>', 'hide');" class="btn_small">▲▲▲ 인센티브 업무 목록 숨기기 ▲▲▲</button>
						</div>
						<{if $incentive_list[list].est_wp_no != $open_est_wp_no}>
							<script>$("#incentive_work_list_display_<{$incentive_list[list].est_wp_no}>").hide();</script>
						<{/if}>
						<div id="incentive_work_list_display_button_<{$incentive_list[list].est_wp_no}>">
							<button type="button" style="width:100%; color:black; background-color:#d5d5d5;" onclick="incentive_work_list_display('<{$incentive_list[list].est_wp_no}>', 'show');" class="btn_small">▼▼▼ 인센티브 업무 목록 펼치기 ( <{$incentive_list[list].mw_cnt}>건 ) ▼▼▼</button>
						</div>
					</td>
				</tr>

				<{/section}>
				<br>
					<tr>
						<td colspan="13" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
						</td>
					</tr>
			</tbody>
			<!-- 인센티브 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
	<div class="left_wrap">
		 <!--<button onclick="location.href='excel_incentive_list.php?<{$search_url}>';" class="btn_style1"><span>엑셀 파일로 저장<br>(최대 300건)</span></button>-->
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		// 업체명 자동완성 검색 결과 값 반영
		$("#f_c_name_new").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
							c_name:request.term,
							s_no:document.getElementById('s_no_new').value
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno :  item.s_no
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#f_c_no_new").val(ui.item.cno);
				$('#s_no_new').val(ui.item.sno);
			},
			focus: function( event, ui ) {
				$("#f_c_no_new").val(ui.item.cno);
				$('#f_c_name_new').val(ui.item.label);
				$('#s_no_new').val(ui.item.sno);
				return false;
			},
			minLength: 1
		});

		$(".f_prd_g2").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_prd_g1")[i],
				url: "/v1/api/product.json.php?parent_data=f_prd_g1",
				loading: "로딩중..",
				clear: true
			});
		});
		$(".f_prd").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_prd_g2")[i],
				url: "/v1/api/product.json.php?parent_data=f_prd_g2",
				loading: "로딩중..",
				clear: true
			});
		});

		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
			loading: "로딩중..",
			clear: true
		});
	});

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function add_work(est_w_no) // 진행요청(업무 생성)
	{
		eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
		f.process.value = "add_work";

		if (confirm("새로 업무요청이 진행됩니다. 맞나요?\n이미 업무가 진행중인 경우 취소를 클릭하신 후\n담당자에게 문의 주세요. - 김윤영") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function add_incentive(est_wp_no) // 정산요청(인센티브 생성)
	{
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = "add_incentive";

		if (confirm("인센티브 정산요청이 진행됩니다.\n입금내역과 업무진행 내역이 맞게 입력 된 경우에만 확인 버튼을 누르세요") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function copy_to_clipboard(str)
	{
		if( is_ie() ) {
			window.clipboardData.setData("Text", str);
			alert("복사되었습니다.");
			return;
		}
		prompt("Ctrl+C를 눌러 복사하세요.", str);
	}

	function is_ie() {
		if(navigator.userAgent.toLowerCase().indexOf("chrome") != -1) return false;
		if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) return true;
		if(navigator.userAgent.toLowerCase().indexOf("windows nt") != -1) return true;
		return false;
	}

	function save_element(est_wp_no, target) {
		eval("var f=document.getElementById('apply_package_frm" + est_wp_no + "');");
		f.process.value = target;

		<{if permissionNameCheck($session_permission,"마스터관리자")}>
			f.submit();

		<{else}>
			if (confirm("저장 하시겠습니까??") == true)
			{ // 확인
				f.submit();
			} else
			{ //취소
				return;
			}
		<{/if}>
	}

	function save_package_el(est_wp_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_state'){ // 접수완료일 경우 style 처리
			if(val == '3'){
				obj.style.color="red";
				obj.style.backgroundColor="yellow";
			}else if(val == '4' || val == '5'){
				obj.style.color="blue";
				obj.style.backgroundColor="white";
			}else if(val == '7' || val == '8'){
				obj.style.color="red";
				obj.style.backgroundColor="lightgray";
			}else{
				obj.style.color="black";
				obj.style.backgroundColor="white";
			}
		}

		if (val != "") { // 공백시 저장 예외
			$.post("incentive_list.php", {est_wp_no : est_wp_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_el(est_w_no, proc, obj) {
		if(proc == 'f_prd'){
			eval("var f=document.getElementById('apply_frm" + est_w_no + "');");
			var val = f.f_prd.value;
		}else{
			var f = obj.form;
			var val = obj.value;
		}
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_state'){ // 접수완료일 경우 style 처리
			if(val == '3'){
				obj.style.color="red";
				obj.style.backgroundColor="yellow";
			}else if(val == '4' || val == '5'){
				obj.style.color="blue";
				obj.style.backgroundColor="white";
			}else if(val == '7' || val == '8'){
				obj.style.color="red";
				obj.style.backgroundColor="lightgray";
			}else{
				obj.style.color="black";
				obj.style.backgroundColor="white";
			}
		}

		if (val != "" || (proc == 'f_w_no' || proc == 'f_t_keyword_or_cnt' || proc == 'f_memo')) { // 공백시 저장 예외(w_no, 타겟키워드 및 수량, 마케터 메모)
			$.post("incentive_list.php", {est_w_no : est_w_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
	
	function incentive_work_list_display(est_wp_no, type){
		if(type=='show'){
			$("#incentive_work_list_display_" + est_wp_no).show();
			$("#incentive_work_list_display_button_" + est_wp_no).hide();
		}else if(type=='hide'){
			$("#incentive_work_list_display_" + est_wp_no).hide();
			$("#incentive_work_list_display_button_" + est_wp_no).show();
		}
	}
</script>

</body>
</html>
