<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<h2 class="title" >● 인센티브 정산 세부설정</h2>
	<form method="get" name="search_form" action="incentive_set.php">
        <div class="default_wrap">
            <div class="left_wrap">

				<span class="name_tit">인센티브 정산 년/월(work_package)</span>
				<input type="text" class="input_type_date_small month-picker" style="color:red; font-weight:bold; font-size:14px;margin-right:20px;" name="sch_incentive_date" id="sch_incentive_date" value="<{$sch_incentive_date}>">

				<span class="name_tit">인센티브 정산 년/월(incentive)</span>
				<input type="text" class="input_type_date_small month-picker" style="color:red; font-weight:bold; font-size:14px;margin-right:20px;" name="sch_i_incentive_date" id="sch_i_incentive_date" value="<{$sch_i_incentive_date}>">

				<span class="name_tit">패키지 입금상태</span>
                <select id="sch_dp_state" name="sch_dp_state" class="select_type2" style="margin-right:20px">
		    		<{section name=data loop=$dp_state}>
					<option value="<{$dp_state[data][1]}>" <{if ($sch_dp_state=='' && $dp_state[data][0]=='전체') || $sch_dp_state==$dp_state[data][1]}>selected<{/if}>><{$dp_state[data][0]}></option>
					<{/section}>
        		</select>

				<span class="name_tit">패키지 계산서 발행상태</span>
                <select id="sch_dp_tax_state" name="sch_dp_tax_state" class="select_type2" style="margin-right:20px">
		    		<{section name=data loop=$dp_tax_state}>
					<option value="<{$dp_tax_state[data][1]}>" <{if ($sch_dp_tax_state=='' && $dp_tax_state[data][0]=='전체') || $sch_dp_tax_state==$dp_tax_state[data][1]}>selected<{/if}>><{$dp_tax_state[data][0]}></option>
					<{/section}>
        		</select><br>

                <span class="name_tit">패키지 진행상태</span>
				<select name="sch_package_state" id="" class="select_type2">
					<{section name=data loop=$package_state}>
					<option value="<{$package_state[data][1]}>" <{if ($sch_package_state=='' && $package_state[data][0]=='전체') || $sch_package_state==$package_state[data][1]}>selected<{/if}>><{$package_state[data][0]}></option>
					<{/section}>
				</select>

				<span class="name_tit">패키지 종류</span>
				<select name="sch_package_kind" id="sch_package_kind" class="select_type2" style="margin-right:20px">
					<{section name=data loop=$package_kind}>
					<option value="<{$package_kind[data][1]}>" <{if ($sch_package_kind=='' && $package_kind[data][0]=='전체') || $sch_package_kind==$package_kind[data][1]}>selected<{/if}>><{$package_kind[data][0]}></option>
					<{/section}>
				</select>

                <span class="name_tit">마케팅 담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" style="margin-right:20px">
                    <option value="" <{if !$sch_s_no}>selected<{/if}>>전체</option>
					<{section name=data loop=$staff}>
					<option value="<{$staff[data].no}>" <{if $sch_s_no==$staff[data].no}>selected<{/if}>><{$staff[data].name}></option>
					<{/section}>
				</select><br>

				<table cellpadding="0" cellspacing="0">
					<tr>
                        <td style="text-align: right;">
                            <span class="name_tit">업체명</span>
				            <input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
                        </td>
						<td rowspan='2'>
                            <button class="btn_big_search" onclick="submit();">검색</button>
                        </td>
                    </tr>
                    <tr>
						<td>
                            <span class="name_tit">패키지명</span>
				            <input type="text" name="sch_wp_subject" value="<{$sch_wp_subject}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
                        </td>
                    </tr>
                </table>

			</div>
        </div>
    </form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="first" style="min-width:50px;">wp_no</th>
					<th style="min-width:90px;">인센티브<br />정산 년/월<br><span style="font-size:10px;">(work_package)</span></th>
					<th style="min-width:90px;">인센티브<br />설정여부<br><span style="font-size:10px;">(incentive)</span></th>
					<th style="min-width:80px;">입금상태<br>계산서 발행상태</th>
					<th style="min-width:60px;">입금<br>완료일</th>
					<th style="min-width:80px;">패키지<br />진행상태</th>
					<th style="min-width:50px;">패키지<br>종류</th>
					<th style="min-width:200px;">[업체명]<br>패키지명</th>
					<th style="min-width:88px;">마케팅<br />담당자</th>
					<th style="min-width:120px;">패키지 총액(원)<br />(VAT 별도)</th>
					<th style="min-width:120px;">현재입금액(원)<br />(VAT 별도)</th>
					<th style="min-width:50px;">w_no</th>
					<th style="min-width:80px;">업무<br />진행상태</th>
					<th style="min-width:210px;">상품그룹1 > 상품그룹2<br>상품명</th>
					<th style="min-width:250px;">작업 요청 내용</th>
					<th style="min-width:130px;">판매가(원)<br/>(VAT 별도)</th>
					<th style="min-width:130px;">외주비 지급액<br/>(VAT 별도)</th>
					<th style="min-width:185px;">원가율</th>
					<th style="min-width:130px;">원가액(원)<br/>(VAT 별도)</th>
					<th style="min-width:130px;">인센 기준 매출액(원)<br/>(VAT 별도)</th>
				</tr>
			</thead>
			<tbody>
				<iframe name='ifrm_submit' width='0' height='0' frameborder='0'></iframe>
				<{if $total_num == 0}>
					<tr>
						<td colspan="12"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{section name=list loop=$work_package}>
						<{assign var="work_package_skip" value="false"}>
						<{assign var="work_skip" value="false"}>
							<tr>
							<{if $work_package_skip == "false" }>
								<form name="apply_package_frm<{$work_package[list].wp_no}>" id="apply_package_frm<{$work_package[list].wp_no}>" method="post" enctype="multipart/form-data" action="incentive_set.php" onsubmit="return check_bd()">
									<input type="hidden" name="process" id="process">
									<input type="hidden" name="wp_no" value="<{$work_package[list].wp_no}>">
									<input type="hidden" name="s_no" value="<{$work_package[list].s_no}>">
									<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">

								<td rowspan="<{$work_package[list].work_count}>" class="first"><{$work_package[list].wp_no}></td>
								<td rowspan="<{$work_package[list].work_count}>">
									<{if !$work_package[list].confirm_state}>
										<input type="text" class="input_type_date_small" style="color:red; font-weight:bold; font-size:14px;" name="f_incentive_date" id="f_incentive_date" value="<{$work_package[list].incentive_date}>"><br>
										<button type="button" onclick="return save_work_package_element('<{$work_package[list].wp_no}>','f_incentive_date');" class="btn_small" >저장</button>
									<{else}>
										<{$work_package[list].incentive_date}>
									<{/if}>
								</td>
								<td rowspan="<{$work_package[list].work_count}>">
									<{if $work_package[list].i_incentive_date}>
										<{$work_package[list].i_incentive_date}><br>(<{$work_package[list].wd_state_name}>)
									<{else}>
										<span style="color:red;">인센티브 설정<br>안됨</span>
										<br>
										<button type="button" onclick="return save_work_package_element('<{$work_package[list].wp_no}>','f_i_incentive_date');" class="btn_small" >설정하기</button>
									<{/if}>
								</td>
								<td rowspan="<{$work_package[list].work_count}>"><{$work_package[list].dp_state_name}><br><{$work_package[list].dp_tax_state_name}></td>
								<td rowspan="<{$work_package[list].work_count}>"><{$work_package[list].dp_date}></td>
								<td rowspan="<{$work_package[list].work_count}>"><{$work_package[list].package_state}></td>
								<td rowspan="<{$work_package[list].work_count}>"><{$work_package[list].package_kind_name}></td>
								<td rowspan="<{$work_package[list].work_count}>" class="alignL">
									<div style="color:#808080;">
										<{$work_package[list].company}>
									</div>
									<div style="font-weight:800; font-size:14px;">
										<{$work_package[list].subject}>&nbsp;<a href="work_package_regist.php?wp_no=<{$work_package[list].wp_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									</div>
								</td>
								<td rowspan="<{$work_package[list].work_count}>"><{$work_package[list].s_name}></td>
								<td rowspan="<{$work_package[list].work_count}>" class="money">￦ <{$work_package[list].selling_price_total}></td>
								<td rowspan="<{$work_package[list].work_count}>" class="money" style="color: #0026ff">￦ <{$work_package[list].dp_money}></td>
								</form>
								<{assign var="work_package_skip" value="true"}>
							<{else}>
								<tr>
							<{/if}>
						<{section name=list2 loop=$work}>
							<{if $work_package[list].wp_no == $work[list2].wp_no}>
								<td>
									<{$work[list2].w_no}>
								</td>
								<td>
									<{$work[list2].work_state_name}>
								</td>
                    			<td class="alignL">
									<div style="color:#808080;">
										<{$work[list2].k_prd1_name}> > <{$work[list2].k_prd2_name}><br>
									</div>
									<div style="font-weight:800; font-size:14px;">
										<{$work[list2].prd_title}>
									</div>
								</td>
								<td class="alignL">
									<{if $work[list2].prd_no == '7'}>
										* 타겟 <input type="text" name="task_value" id="task_value" class="task_value input_type7_readonly" readonly value="<{$work[list2].task_value}>"/><br>
										* 노출 <input type="text" name="task_value2" id="task_value2" class="task_value2 input_type7_readonly" readonly value="<{$work[list2].task_value2}>"/>
										* 업체 <select name="prd_f_out_c_no" id="prd_f_out_c_no" class="select_type2_disabled" disabled>
												<{section name=data loop=$out_company_list}>
												<option value="<{$out_company_list[data][1]}>" <{if $work[list2].out_c_no==$out_company_list[data][1]}>selected<{/if}>><{$out_company_list[data][2]}></option>
												<{/section}>
											</select>
									<{else}>
										<textarea name="task_req<{$work[list2].w_no}>" id="task_req<{$work[list2].w_no}>" class="textarea_memo2_readonly" readonly><{$work[list2].task_req}></textarea><br />
									<{/if}>
								</td>
								<form name="apply_frm<{$work[list2].w_no}>" id="apply_frm<{$work[list2].w_no}>" method="post" enctype="multipart/form-data" action="incentive_set.php" onsubmit="return check_bd()">
									<input type="hidden" name="process" id="process">
									<input type="hidden" name="w_no" value="<{$work[list2].w_no}>">
									<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
								<td class="bgyellow">
									<input type="text" name="selling_price" id="selling_price" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$work[list2].selling_price}>"/>원<br>
									<div style="text-align:right">
										<button type="button" onclick="return save_work_element('<{$work[list2].w_no}>','selling_price');" class="btn_small" >저장</button>
									</div>
								</td>
								<td class="bgyellow">
									<input type="text" name="wd_money" id="wd_money" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$work[list2].wd_money}>" style="color: #0026ff"/>원<br>
									<div style="text-align:right">
										<button type="button" onclick="return save_work_element('<{$work[list2].w_no}>','wd_money');" class="btn_small" >저장</button>
									</div>
								</td>
								<td class="bgyellow">
									<input type="text" class="input_type5" name="cost_rate" id="cost_rate" onfocus="this.value=''" value="<{$work[list2].cost_rate}>">
									<div style="text-align:right">
										<button type="button" onclick="return save_work_element('<{$work[list2].w_no}>','cost_rate');" class="btn_small">저장</button>
									</div>
								</td>
								<td class="bgyellow">
									<input type="text" name="cost_price" id="cost_price" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$work[list2].cost_price}>"/>원<br>
									<div style="text-align:right">
										<button type="button" onclick="return save_work_element('<{$work[list2].w_no}>','cost_price');" class="btn_small" >저장</button>
									</div>
								</td>
								<td class="bgyellow">
									<input type="text" name="incentive_sales_price" id="incentive_sales_price" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$work[list2].incentive_sales_price}>">원
									<div style="text-align:right">
										<button type="button" onclick="return save_work_element('<{$work[list2].w_no}>','incentive_sales_price');" class="btn_small">저장</button>
									</div>
								</td>
								</form>
							</tr>
							<{elseif $work_package[list].work_count == 0 && $work_skip == "false"}>
								<td>-</td>
                    			<td>-</td>
								<td>-</td>
								<td>-</td>
								<td class="bgyellow">-</td>
								<td class="bgyellow">-</td>
								<td class="bgyellow">-</td>
								<td class="bgyellow">-</td>
								<td class="bgyellow">-</td>
								<{assign var="work_skip" value="true"}>
							</tr>
							<{/if}>
						<{/section}>
					<{/section}>
				<{/if}>
					<tr>
						<td colspan=23 class="paging_wrap">
							<div class="paging_wrap">
								<{$pagelist}>
							</div>
						</td>
					</tr>
					<tr>
					<{if permissionNameCheck($session_permission, "재무관리자")}>
						<td colspan=14 class="list_button">							
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_incentive_set.php?<{$save_query}>';"><span>엑셀 다운로드</span></button></div>
						</td>
					<{/if}>
          </tr>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script>

	function inputNumberFormat(obj) {
		obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = String(str);
		return str.replace(/[^\d]+/g, '');
	}

	function save_work_package_element(wp_no, target) {
		eval("var f=document.getElementById('apply_package_frm"+wp_no+"');");
		f.target = "ifrm_submit";
		f.process.value = target;

		if (confirm("저장 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

	function save_work_element(w_no, target) {
		eval("var f=document.getElementById('apply_frm"+w_no+"');");
		f.target = "ifrm_submit";
		f.process.value = target;

		if (confirm("저장 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

</script>

</body>
</html>