<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin-right: 3px;}
	.form-control{font-size: 12px; margin-right: 15px;}
	.custom-combobox .form-control{margin-right: 5px;}
	.color-blue{color: blue;}
	.color-red{color: red;}
	.color-black{color: black; font-weight: bold;}
	.table .thead-dark th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center;}
	.table .form-control{font-size: 12px; padding: 3px;}
	textarea.form-control{padding: 3px; height: 50px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="incentive_settlement.php" autocomplete="off">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">

				<label for="sch_s_dp_wd_date">no</label>
				<input type="text" name="sch_dp_wd_no" id="sch_dp_wd_no" class="form-control" style="width: 80px;" value="<{$sch_dp_wd_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_s_dp_wd_date">입/출금완료일</label>
				<input type="text" name="sch_s_dp_wd_date" id="sch_s_dp_wd_date" class="date-picker input_type_date form-control" value="<{$sch_s_dp_wd_date}>" style="margin-right: 3px;"/>
				 ~
				<input type="text" name="sch_e_dp_wd_date" id="sch_e_dp_wd_date" class="date-picker input_type_date form-control" value="<{$sch_e_dp_wd_date}>" />

				<label for="sch_incentive_month">정산월</label>
				<input type="text" class="month-picker form-control" id="sch_incentive_month" name="sch_incentive_month" value="<{$sch_incentive_month}>" />

				<label for="sch_incentive_state">인센확인</label>
				<select id="sch_incentive_state" name="sch_incentive_state" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$inc_state_option key=key item=inc_state}>
					<option value="<{$key}>" <{if $sch_incentive_state == $key}>selected<{/if}> class="<{$inc_state.class}>"><{$inc_state.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_manager_team">부서</label>
				<select name="sch_manager_team" id="sch_manager_team" class="form-control">
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_manager_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_manager" style="margin-left: 15px;">담당자</label>
				<input type="text" name="sch_manager" id="sch_manager" class="form-control" style="width: 100px;" value="<{$sch_manager}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			</div>
			<div class="form-group" style="margin-top: 5px;">
				<label for="sch_work_company">업체명</label>
				<input type="text" name="sch_work_company" id="sch_work_company" class="form-control" style="width: 150px;" value="<{$sch_work_company}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_work_name">업무명</label>
				<input type="text" name="sch_work_name" id="sch_work_name" class="form-control" style="width: 120px;" value="<{$sch_work_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_work_no">w_no</label>
				<input type="text" name="sch_work_no" id="sch_work_no" class="form-control" style="width: 80px;" value="<{$sch_work_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			</div>
			<div class="form-group" style="margin-top: 5px;">
				<label for="sch_incentive_type">입출금 구분 > 방식</label>
				<select id="sch_incentive_type" name="sch_incentive_type" class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$inc_type_option key=key item=inc_type}>
					<option value="<{$key}>" <{if $sch_incentive_type == $key}>selected<{/if}> class="<{$inc_type.class}>"><{$inc_type.title}></option>
					<{/foreach}>
				</select>
				>
				<select id="sch_incentive_method" name="sch_incentive_method" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$inc_method_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_incentive_method == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_subject">입/출금명</label>
				<input type="text" name="sch_subject" id="sch_subject" class="form-control" style="width: 150px;" value="<{$sch_subject}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_company">입/출금업체</label>
				<input type="text" name="sch_company" id="sch_company" class="form-control" style="width: 150px;" value="<{$sch_company}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<label for="sch_memo">메모</label>
				<input type="text" name="sch_memo" id="sch_memo" class="form-control" style="width: 150px;" value="<{$sch_memo}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div style="margin: 20px 0;">
		<div style="border: 1px solid #ddd;width: 600px;padding: 10px;box-sizing: content-box;font-size: 14px;">
			<b>[<{$incentive_total_list['title']}>]</b>
			<div style="margin-top: 5px;">
				<span>- 총 매출(입금액) : <span class="color-blue">₩ <{$incentive_total_list['dp_sum']|number_format:0}></span></span><br/>
				<span>- 총 지출(출금액) : <span class="color-red">₩ <{$incentive_total_list['wd_sum']|number_format:0}></span></span><br/>
				<span>- 차액(입금액-출금액) : <span class="color-black">₩ <{$incentive_total_list['cal_sum']|number_format:0}></span></span><br/>
				<span>- 인센확인 총 : <{$incentive_total_list['cnt']|number_format:0}>건
					(확인: <{$incentive_total_list['confirm_cnt']|number_format:0}>건 <img src="./images/icon/new_win_icon.png" onclick="searchIncState('2')" style="cursor: pointer;">,
					미확인: <{$incentive_total_list['unconfirm_cnt']|number_format:0}>건 <img src="./images/icon/new_win_icon.png" onclick="searchIncState('1')" style="cursor: pointer;">,
					대상아님: <{$incentive_total_list['not_cnt']|number_format:0}>건 <img src="./images/icon/new_win_icon.png" onclick="searchIncState('3')" style="cursor: pointer;">)
			</div>
		</div>
	</div>

	<table class="table table-bordered" style="table-layout: fixed;">
		<colgroup>
			<col width="40px;"> <!-- Checkbox -->
			<col width="60px;"> <!-- No(dp_no, wd_no) -->
			<col width="80px;"> <!-- 진행상태 -->
			<col width="150px;"> <!-- 업체명 -->
			<col width="90px;"> <!-- 부서<br/>담당자 -->
			<col width="130px;"> <!-- 업무명 -->
			<col width="180px;"> <!-- 입/출금명 -->
			<col width="250px;"> <!-- 업무진행내용 -->
			<col width="80px;"> <!-- 입/출금<br/>구분 -->
			<col width="80px;"> <!-- 입/출금방식 -->
			<col width="100px;"> <!-- 입/출금액<br/>(VAT 별도) -->
			<col width="100px;"> <!-- 입/출금액<br/>(VAT 포함) -->
			<col width="100px;"> <!-- 입/출금업체 -->
			<col width="80px;"> <!-- 입/출금완료일 -->
			<col width="100px;"> <!-- 인센티브 정산 년/월 -->
			<col width="100px;"> <!-- 인센티브 확인날짜 -->
			<col width="150px;"> <!-- 메모 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="17" style="padding: 5px;">
					<span style="display: inline-block; float: left; margin-top: 8px;"><{$incentive_total}>개의 검색결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>

					<{foreach from=$inc_sort_option key=key item=label}>
						<span style="float: right; padding: 0px 5px; margin-top: 8px">|</span>
						<button onclick="sort_search('<{$key}>')" style="float: right; margin-top: 8px;"><{$label}> <{if $ord_type == $key}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<{/foreach}>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" rowspan="2">No</th>
				<th scope="col" rowspan="2">진행상태</th>
				<th scope="col" rowspan="2">업체명</th>
				<th scope="col" rowspan="2">부서<br/>담당자</th>
				<th scope="col" rowspan="2">업무명</th>
				<th scope="col" rowspan="2">입/출금명</th>
				<th scope="col" rowspan="2">업무진행내용</th>
				<th scope="col" rowspan="2">입/출금<br/>구분</th>
				<th scope="col" rowspan="2">입/출금방식</th>
				<th scope="col" rowspan="2">입/출금액<br/>(VAT 별도)</th>
				<th scope="col" rowspan="2">입/출금액<br/>(VAT 포함)</th>
				<th scope="col" rowspan="2">입/출금업체</th>
				<th scope="col" rowspan="2">입/출금완료일</th>
				<th scope="col" rowspan="2">
					인센티브<br/>
					정산 년/월<br/>
					<input type="text" name="chk_incentive_month" id="chk_incentive_month" class="form-control month-picker" style="width: 99%;" onchange="setMultiIncentiveMonth();" <{if !$is_editable}>disabled<{/if}>>
				</th>
				<th scope="col" rowspan="2">
					인센확인<br>
					확인날짜<br/>
					<select name="chk_incentive_state" id="chk_incentive_state" style="background-color:lightgray;" class="select_type1" onchange="setMultiIncentiveState();" <{if !$is_editable && $session_s_no != '233'}>disabled<{/if}>>
						<option value="">::선택::</option>
						<{foreach from=$inc_state_option key=inc_key item=inc_state}>
						<option value="<{$inc_key}>" class="<{$inc_state.class}>"><{$inc_state.title}></option>
						<{/foreach}>
					</select>
				</th>
				<th scope="col" rowspan="2">메모</th>
			</tr>
		</thead>
		<tbody>
			<{if $incentive_list}>
				<{foreach from=$incentive_list item=incentive}>
				<tr>
					<td class="first">
						<input type="checkbox" name="select_check[]" class="select_check" value="<{$incentive.type}>_<{$incentive.main_no}>">
					</td>
					<td> <!-- NO -->
						<{$incentive.main_no}>
					</td>
					<td> <!-- 진행상태 -->
						<{$incentive.state_name}>
					</td>
					<td class="text-left"> <!-- 업체명 -->
						<{$incentive.work_company}>
					</td>
					<td> <!-- 부서 -->
						<{$incentive.t_name}><br/>
						<{$incentive.s_name}>
					</td>
					<td class="text-left"> <!-- 업무명 -->
						<{if $incentive.w_no}>
							<span style="color: #999; display: inline-block; margin-right: 3px;"><{$incentive.w_no}></span><a href="work_list.php?sch_w_no=<{$incentive.w_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
							<br/><{$incentive.prd_title}>
						<{/if}>
					</td>
					<td class="text-left"> <!-- 입/출금명 -->
						<{$incentive.subject}>
					</td>
					<td class="text-left"> <!-- 업무진행내용 -->
						<{if $incentive.w_no}>
						<textarea class="form-control" style="width: 99%;"  readonly><{$incentive.task_run}></textarea>
						<{/if}>
					</td>
					<td class="<{$incentive.type_class}>"> <!-- 입/출금구분 -->
						<{$incentive.type_name}>
					</td>
					<td> <!-- 입/출금방식 -->
						<{$incentive.method_name}>
					</td>
					<td> <!-- 입/출금액(VAT 별도) -->
						₩ <{$incentive.view_price|number_format:0}>
					</td>
					<td> <!-- 입/출금액(VAT 포함) -->
						₩ <{$incentive.view_price_vat|number_format:0}>
					</td>
					<td> <!-- 입/출금업체 -->
						<{$incentive.confirm_company}>
					</td>
					<td> <!-- 입/출금완료일 -->
						<{$incentive.confirm_date}><br/>
						<{if $incentive.type == 'deposit'}>
							<span class="color-blue">입금</span>
							<a href="deposit_list.php?sch_dp_no=<{$incentive.main_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						<{elseif $incentive.type == 'withdraw'}>
							<span class="color-red">출금</span>
							<a href="withdraw_list.php?sch_wd_no=<{$incentive.main_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						<{/if}>
					</td>
					<td> <!-- 인센티브 년/월 -->
						<input type="text" class="form-control month-picker" style="width: 99%;" value="<{$incentive.incentive_month}>" onchange="save_el('<{$incentive.main_no}>', 'f_incentive_month', this)" attr-type="<{$incentive.type}>" <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td>
						<select name="f_incentive_state" class="form-control <{$inc_state_option[$incentive.incentive_state]['class']}>" onchange="save_el('<{$incentive.main_no}>', 'f_incentive_state', this)" attr-type="<{$incentive.type}>" <{if !$is_editable && $session_s_no != '233'}>disabled<{/if}>>
							<option value="">::전체::</option>
							<{foreach from=$inc_state_option key=key item=inc_state}>
								<option value="<{$key}>" <{if $incentive.incentive_state == $key}>selected<{/if}> class="<{$inc_state.class}>"><{$inc_state.title}></option>
							<{/foreach}>
						</select>
						<{if $incentive.incentive_state == '2' && $incentive.incentive_date}>
							<{$incentive.incentive_date|date_format:"%Y-%m-%d"}>
						<{/if}>
					</td>
					<td class="text-left"> <!-- 업무진행내용 -->
						<textarea name="f_manager_memo" class="form-control" style="width: 99%;" onchange="save_el('<{$incentive.main_no}>', 'f_manager_memo', this)" attr-type="<{$incentive.type}>" <{if !$is_editable}>disabled<{/if}>><{$incentive.manager_memo}></textarea>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="17">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="17" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="left_wrap">
		<button class="btn_style1" onclick="location.href='excel_incentive_settlement.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<form name="chk_form" action="incentive_settlement.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_inc_no_list" class="chk_inc_no_list">
	<input type="hidden" name="chk_status" class="chk_status">
	<input type="hidden" name="chk_mon" class="chk_mon">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_manager_team").combobox();

		$("#sch_incentive_method").remoteChained({
			parents: "#sch_incentive_type",
			url: "/v1/api/incentive.json.php?parent_data=sch_incentive_type",
			loading: "로딩중..",
			clear: true
		});

		var $chkboxes = $('.select_check');
		var lastChecked = null;

		$chkboxes.click(function(e) {
			if(!lastChecked) {
				lastChecked = this;
				return;
			}

			if(e.shiftKey) {
				var start = $chkboxes.index(this);
				var end = $chkboxes.index(lastChecked);

				$chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

			}

			lastChecked = this;
		});

		$(".select_check").change(function(){
			checkIncSelect();
		});

		$("#sch_incentive_state").change(function(){
			if($(this).val() == '1'){
				$("#sch_incentive_month").val('');
			}
		});
	});

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;

		checkIncSelect();
	}

	function checkIncSelect()
	{
		var chk_inc_no_list = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_inc_no_list += ($(item).val() + ",");
			}
		});

		if(chk_inc_no_list != ""){
			chk_inc_no_list = chk_inc_no_list.slice(0, -1);
		}

		$(".chk_inc_no_list").val(chk_inc_no_list);
	}

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function sort_search(ord_type)
	{
		var f 				= document.forms['search_form'];
		var ori_ord_type	= $("#ord_type").val();
		var ori_ord_by		= $("#ord_type_by").val();
		var ord_type_by		= 2;

		if(ori_ord_type != ord_type){
			ord_type_by = 2;
		}else{
			if(ori_ord_by == "2"){
				ord_type_by = 1;
			}else if(ori_ord_by == "1"){
				ord_type_by = 0;
				ord_type	= "";
			}
		}

		$("#ord_type").val(ord_type);
		$("#ord_type_by").val(ord_type_by);

		f.submit();
	}

	function searchIncState(state)
	{
		var f = document.forms['search_form'];
		f.sch_incentive_state.value=state;
		f.submit();
	}

	function save_el(main_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		var main_type = $(obj).attr('attr-type');

		if (val != "" || (proc == 'f_manager_memo' || proc == 'f_incentive_month'))
		{
			$.post("incentive_settlement.php", {main_no : main_no, process : proc, main_type : main_type, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function setMultiIncentiveState()
	{
		if($(".chk_inc_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#chk_incentive_state").val() == ''){
			alert("인센확인상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("인센확인상태를 변경하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'sel_incentive_state';
			document.chk_form.chk_status.value 	= $("#chk_incentive_state").val();
			document.chk_form.submit();
		}

		return false;
	}

	function setMultiIncentiveMonth()
	{
		if($(".chk_inc_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#chk_incentive_month").val() == ''){
			alert("정산 년/월 선택 후 이용해주세요");
			return false;
		}

		if(confirm("정산 년/월을 변경하시겠습니까?"))
		{
			document.chk_form.process.value 	= 'sel_incentive_month';
			document.chk_form.chk_mon.value 	= $("#chk_incentive_month").val();
			document.chk_form.submit();
		}

		return false;
	}

</script>

</body>
</html>
