<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group .custom-combobox{margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.leave-total-wrapper {display: table; margin-top: 20px;}
	.leave-total-wrapper {padding-top: 10px;}
	.leave-total-wrapper .leave-staff-total-wrapper{position: relative; display: block; vertical-align: top; padding-left: 20px;}
	.leave-staff-total-wrapper{padding: 5px 10px;}
	.leave-staff-total, .leave-staff{
		border: 1px solid #ccc;
		color: #666;
		font-weight: bold;
		font-size: 14px;
		padding: 10px 15px;
		vertical-align: middle;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		width: 700px;
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
	}
	.leave-staff-total.first{background: #333;}
	.leave-staff-total.first th{color: #FFF;}
	.leave-staff-total td, .leave-staff td{font-size: 14px; text-align: center;}
	.leave-staff-total td.leave-title, .leave-staff td.leave-title{text-align: left;}
	.create-day{color: blue;}
	.use-day{color: red;}
	.available-day{color: black;}
	.leave-type-wrapper{padding-left: 20px;}
	.leave-staff{width: 680px; background: #eee;}
	.leave-type-wrapper{display: none;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">● 휴가 관리</h2>

	<form name="search_form" id="search_form" class="form-inline" action="leave_management.php" method="get" autocomplete="off" style="margin-top: 5px;">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_leave_year">적용연도</label>
				<input type="text" name="sch_leave_year" id="sch_leave_year" class="year-picker form-control" value="<{$sch_leave_year}>" />

				<label for="sch_leave_team">소속부서</label>
				<select name="sch_leave_team" id="sch_leave_team" class="form-control">
					<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_leave_team == $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_leave_staff">이름</label>
				<input type="text" name="sch_leave_staff" id="sch_leave_staff" class="form-control" value="<{$sch_leave_staff}>" style="width: 100px;">

				<label for="sch_active">Active</label>
				<select name="sch_active" id="sch_active" class="form-control">
					<{foreach from=$active_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_active == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div class="leave-total-wrapper">
		<{if $staff_leave_list}>
			<ul class="leave-staff-total-wrapper">
				<li>
					<table class="leave-staff-total first">
						<colgroup>
							<col width="500px;">
							<col width="60px;">
							<col width="60px;">
							<col width="60px;">
						</colgroup>
						<thead class="thead-dark text-center">
							<tr>
								<th>휴가명</th>
								<th>생성일수</th>
								<th>사용일수</th>
								<th>사용가능</th>
							</tr>
						</thead>
					</table>
				</li>
			</ul>
			<{foreach $staff_leave_total_list key=s_no item=staff_leave_total}>
				<ul class="leave-staff-total-wrapper" onclick="toggleStaffLeave('<{$s_no}>')">
					<li>
						<table class="leave-staff-total">
							<colgroup>
								<col width="500px;">
								<col width="60px;">
								<col width="60px;">
								<col width="60px;">
							</colgroup>
							<tr>
								<td class="leave-title"><{$staff_leave_total.leave_title}></td>
								<td class="create-day"><{$staff_leave_total.create_day}></td>
								<td class="use-day"><{$staff_leave_total.use_day}></td>
								<td class="available-day"><{$staff_leave_total.available_day}></td>
							</tr>
						</table>

						<ul id="leave-type-<{$s_no}>" class="leave-type-wrapper">
							<{foreach $staff_leave_list[$s_no] key=lm_no item=staff_leave}>
								<li>
									<table class="leave-staff">
										<colgroup>
											<col width="480px;">
											<col width="60px;">
											<col width="60px;">
											<col width="60px;">
										</colgroup>
										<tr>
											<td class="leave-title"><{$staff_leave.leave_title}></td>
											<td class="create-day"><{$staff_leave.create_day}></td>
											<td class="use-day"><{$staff_leave.use_day}></td>
											<td class="available-day"><{$staff_leave.available_day}></td>
										</tr>
									</table>
								</li>
							<{/foreach}>
						</ul>
					</li>
				</ul>
			<{/foreach}>
		<{/if}>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_leave_team").combobox();
	});

	function toggleStaffLeave(s_no){
		$(".leave-type-wrapper").hide();
		$("#leave-type-"+s_no).toggle();
	}
</script>

</body>
</html>
