<{include file="inc/boot_navibar.html"}>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>

<style type="text/css">
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;}
	.table_list_style table{width: 970px; margin-top: 5px;table-layout: fixed;}
	.table_list_style table.table-bordered{border: 2px solid black;}
	.table_list_style table.table-bordered td,.table_list_style table.table-bordered th{border: 1px solid black;}
	.table_list_style table tbody th{vertical-align: middle; height: 45px; font-size: 13px;background: #eee;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;text-align: left; font-size: 13px;}
	.table_list_style table tbody td label{cursor: pointer;}
	.table_list_style table tbody th.first{width: 150px; text-align: center;}
	.table_list_style table tbody td label{cursor: pointer;}
	.table_list_style table tbody td input[type=radio]{cursor: pointer;}
	.table_list_style table tbody td input[type=checkbox]{cursor: pointer;}
	.table_list_style table tbody td input.form-control{font-size: 12px; display: inline-block;}
	.table_list_style table tbody td select.form-control{font-size: 12px; display: inline-block;}
	select option:disabled {background: #e9ecef;}
	.total-wrapper{display: none; overflow: hidden;}
	.add-wrapper{overflow: hidden; display: block;}
	.address-add-wrapper{padding: 5px;margin: 15px 5px;border: 1px solid #999;}
	input.new_prd_name{float: left;width:400px;background-color: #ffffcc;height: 30px;line-height: 30px;}
	input.new_unit_name{float: left;width:400px;background-color: #ffffcc;height: 30px;line-height: 30px;}
	input.new_price_prd{float:left; width: 100px; margin: 2px; font-size: 12px; font-weight: bold; text-align: right;height: 30px;line-height: 30px;}
	input.new_quantity_prd{float:left; width: 60px; margin: 2px; font-size: 12px; font-weight: bold; text-align: right;height: 30px;line-height: 30px;}
	input.new_quantity_unit{float:left; width: 60px; margin: 2px; font-size: 12px; font-weight: bold; text-align: right;height: 30px;line-height: 30px;}
	.new_log_company{float:left; width: 100px; padding: 3px;}
	button.del_btn{float: left;padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;}
	.add_quick_btn{float: left; margin: 7px 5px;}
	.address_type{width: 210px;}
	.address_type_name{width: 210px;}
	.address_zipcode{display: inline-block; width: 100px; text-align: center;}
	.address_btn{padding: 5px 10px; background: #333; color: white;}
	.address_base{width: 400px; display: inline-block;}
	.address_detail{width: 220px; display: inline-block;}
	.address_name{width: 100px; display: inline-block;}
	.address_hp{width: 200px; display: inline-block;}
	.address_memo{width: 311px; display: inline-block;}
	.address_del_btn{padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;}
	.doc_type_btn{padding: 5px 10px; background: #DDD; color: black; font-weight: bold; font-size: 14px;}
	.doc_type_btn_active{background: #333; color: white;}
	.doc_type_btn_active:hover{color: white;}
</style>

<div class="admin_content" >

	<form name="logistics_frm" id="logistics_frm" action="logistics_request.php" method="post" autocomplete="off" enctype="multipart/form-data" onsubmit="return checkLogisticsRequest()">
		<input type="hidden" name="lm_no" value="<{$lm_no}>">
		<input type="hidden" name="prev_type" value="<{$prev_type}>">
		<input type="hidden" name="w_no" value="<{$w_no}>">
		<input type="hidden" name="doc_no" value="<{$doc_no}>">
		<input type="hidden" name="doc_type" id="doc_type" value="<{$doc_type}>">
		<input type="hidden" name="org_prd_list" value="<{$org_prd_list}>">
		<input type="hidden" name="org_addr_list" value="<{$org_addr_list}>">
		<input type="hidden" name="run_date" value="<{$run_date}>">
		<input type="hidden" name="process" value="">

		<div class="table_list_style">
			<div>
				<{if $roc_file_path}>
					<label style="font-size: 12px; font-weight: bold; margin-right: 10px;">로켓배송 발주서 자료</label>
					<a href="uploads/<{$roc_file_path}>" download="입고반출요청서 <{$doc_no}> 로켓배송 발주서.<{$roc_file_path_ext}>">입고/반출요청서 <{$doc_no}> 로켓배송 발주서.<{$roc_file_path_ext}></a>
				<{else}>
					<label for="roc_file" style="font-size: 12px; font-weight: bold; margin-right: 10px;">로켓배송 발주서 등록</label>
					<input type="file" name="roc_file" id="roc_file" style="border: 1px solid #ddd; padding: 1px; width: 300px;" onchange="readExcel('roc')" <{if $prd_no == '251'}>disabled<{/if}>>
					<a href="/v1/uploads/document/logistics/roc_sample.xlsx" download="로켓배송 발주서 sample">[sample download]</a>
				<{/if}>
			</div>
			<div>
				<{if $zet_file_path}>
					<label style="font-size: 12px; font-weight: bold; margin-right: 10px;">제트배송 발주서 자료</label>
					<a href="uploads/<{$zet_file_path}>" download="입고반출요청서 <{$doc_no}> 제트배송 발주서.<{$zet_file_path_ext}>">입고/반출요청서 <{$doc_no}> 제트배송 발주서.<{$zet_file_path_ext}></a>
				<{else}>
					<label for="zet_file" style="font-size: 12px; font-weight: bold; margin-right: 10px;">제트배송 발주서 등록</label>
					<input type="file" name="zet_file" id="zet_file" style="border: 1px solid #ddd; padding: 1px; width: 300px;" onchange="readExcel('zet')" <{if $prd_no == '251'}>disabled<{/if}>>
					<a href="/v1/uploads/document/logistics/zet_sample.xlsx" download="제트배송 발주서 sample">[sample download]</a>
				<{/if}>
			</div>
			<div style="margin-bottom: 10px;">
				<{if $qx_file_path}>
					<label style="font-size: 12px; font-weight: bold; margin-right: 10px;">Qxpress 발주서 자료</label>
					<a href="uploads/<{$qx_file_path}>" download="입고반출요청서 <{$doc_no}> Qxpress 발주서.<{$qx_file_path_ext}>">입고/반출요청서 <{$doc_no}> Qxpress 발주서.<{$qx_file_path_ext}></a>
				<{else}>
					<label for="qx_file" style="font-size: 12px; font-weight: bold; margin-right: 10px;">Qxpress 발주서 등록</label>
					<select name="qx_file_type" id="qx_file_type" class="form-control" style="font-size: 12px; display: inline-block; width: auto;">
						<option value="">::선택::</option>
						<option value="12">Qxpress 판매반출</option>
						<option value="9">Qxpress 시딩반출</option>
					</select>
					<input type="file" name="qx_file" id="qx_file" style="border: 1px solid #ddd; padding: 1px; width: 300px;" onchange="readExcel('qx')" <{if $prd_no == '251'}>disabled<{/if}>>
					<a href="/v1/uploads/document/logistics/qxpress_sample.xlsx" download="Qxpress 해외배송 sample">[sample download]</a>
				<{/if}>
			</div>
			<{if permissionNameCheck($session_permission, "마스터관리자") || permissionNameCheck($session_permission, "물류관리자") || $session_team == '00244'}>
			<div style="margin: 20px 0; overflow: hidden;">
				<h2 style="font-size: 18px; font-weight: bold;">[문서양식] <span style="color: gray; font-size: 12px;">// 목적에 따라 문서양식을 선택하고 간단하게 작성하세요. 버튼 위에 마우스 오버 시 설명을 보실 수 있습니다.</span></h2>
				<div style="margin-top: 10px;">
					<span style="display: inline-block; width: 80px;">CS 팀용</span>
					<{foreach from=$log_doc_type_option key=key item=label}>
						<button type="button" onclick="changeDocType('<{$key}>')" class="btn doc_type_btn doc_type_btn_<{$key}> <{if $doc_type == $key}>doc_type_btn_active<{/if}>"><{$label}></button>
					<{/foreach}>
				</div>
			</div>
			<{/if}>
			<span style="color: #999; font-size: 14px;">문서번호 : <{$doc_no}></span>
			<{if $doc_type > 0}>
				<span style="color: #999; font-size: 14px;">문서양식 : <{$doc_type_name}></span>
			<{/if}>
			<table class="table table-bordered">
				<colgroup>
					<col width="150px;">
					<col width="500px;">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="2" style="padding: 20px 0; text-align: center;">
							<b style="font-size: 30px;font-weight: bold;display: inline-block;border: 1px solid black;padding: 5px 30px;">입고/반출 요청서</b>
						</td>
					</tr>
					<tr>
						<th class="first">*업무요청자</th>
						<td>
							<input type="text" name="req_name" id="req_s_name" class="form-control" value="<{$req_s_name}>" style="width: 70px; text-align: center;" <{if !$is_editable}>readonly<{/if}> required>
							<input type="hidden" name="req_s_no" id="req_s_no" value="<{$req_s_no}>" <{if !$is_editable}>disabled<{/if}>>
							<input type="hidden" name="req_team" id="req_team" value="<{$req_team}>" <{if !$is_editable}>disabled<{/if}>>
						</td>
					</tr>
					<tr>
						<th class="first">*입고/반출</th>
						<td>
							<input type="hidden" name="stock_type" id="stock_type" value="<{$stock_type}>">
							<{foreach from=$stock_type_option key=key item=label}>
							<div>
								<input type="radio" name="stock_type_val" id="stock_type_<{$key}>" class="input-radio stock_type_val" value="<{$key}>" <{if $stock_type == $key}>checked<{/if}> required>
								<label for="stock_type_<{$key}>" style="margin-right: 5px;"><{$label.title}> <span style="color: #999;">// <{$label.explain}></span></label>
							</div>
							<{/foreach}>

							<div class="transfer-company-wrapper" style="padding-left: 20px; <{if $stock_type == '3'}>display: block;<{else}>display: none;<{/if}>">
								<span style="float: left; margin-right: 10px;">납품업체</span>
								<select name="transfer_c_no" id="transfer_c_no" size="7" style="padding: 5px 3px; width: 200px;">
									<{foreach from=$move_company_option key=key item=label}>
									<{if !($prd_no == '251' && $key == '5469')}>
										<option value="<{$key}>" style="padding: 3px;" <{if $run_c_no == $key}>selected<{/if}>><{$label}></option>
									<{/if}>
									<{/foreach}>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">반출::계정과목<br/><br/>*계정과목</th>
						<td style="text-align: left; padding-top: 10px;">
							<input type="hidden" name="org_subject" value="<{$subject}>" />
							<div class="sales-subject-wrapper" style="overflow: hidden; <{if $stock_type == '2'}>display: block;<{else}>display: none;<{/if}>">
								<{foreach from=$subject_option key=key item=subject_data}>
									<{if $subject_data.display == '1'}>
									<div style="font-size: 13px;">
										<input type="radio" name="subject" id="subject_<{$key}>" class="input-radio subject" value="<{$key}>" <{if $subject == $key}>checked<{/if}>>
										<label for="subject_<{$key}>"><{$subject_data.title}></label>
										<{if $subject_data.explain}>
											<span>(<{$subject_data.explain}>)</span>
										<{/if}>
									</div>
									<{/if}>
								<{/foreach}>
								<div class="run-order-wrapper" style="padding-left: 20px; padding-bottom: 20px; <{if $subject == '12'}>display: inline-block;<{else}>display: none;<{/if}>">
									<span style="float: left; margin-right: 10px;">납품업체</span>
									<select name="sales_c_no" id="sales_c_no" size="7" style="padding: 5px 3px; float: left;width: 200px;">
										<{foreach from=$sales_company_option key=key item=label}>
											<{if !($prd_no == '251' && $key == '5468')}>
											<option value="<{$key}>" style="padding: 3px;" <{if $run_c_no == $key}>selected<{/if}>><{$label}></option>
											<{/if}>
										<{/foreach}>
									</select>
									<div style="float: left; margin-left: 10px;">
										<span style="color: red; font-size: 11px; display: block;margin-bottom: 5px;">※주의 : 아임웹_베라베프의 결제창 진행 시<br/>납품업체는 아입웹_베라베프로 선택하고<br/>결제한 주문번호 입력 필수!</span>
										<label for="run_ord_no" style="font-size: 11px;">주문번호</label>
										<input type="text" name="run_ord_no" id="run_ord_no" class="form-control" style="font-size: 12px; width: 200px;" value="<{$run_ord_no}>">
									</div>
								</div>
								<div class="etc-run-order-wrapper" style="padding-left: 20px; padding-bottom: 20px; <{if $subject == '13'}>display: inline-block;<{else}>display: none;<{/if}>">
									<span style="float: left; margin-right: 10px;">납품업체</span>
									<select name="etc_sales_c_no" id="etc_sales_c_no" size="7" style="padding: 5px 3px; float: left;width: 200px;">
										<{foreach from=$etc_sales_company_option key=key item=label}>
										<option value="<{$key}>" style="padding: 3px;" <{if $run_c_no == $key}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">*처리형태</th>
						<td>
							<{foreach from=$delivery_type_option key=key item=label}>
								<{if $key != 5}>
									<input type="radio" name="delivery_type" id="delivery_type_<{$key}>" class="input-radio delivery_type" value="<{$key}>" <{if $delivery_type == $key}>checked<{/if}> required>
									<label for="delivery_type_<{$key}>" style="margin-right: 5px;"><{$label}></label>
								<{/if}>
							<{/foreach}>
							<div style="display: none;">
								<span style="font-size: 12px; color: red;">※주의 : 타계정반출, 기타반출은 퀵/화물로만 요청할 수 있습니다.(위드플레이스에서 택배 또는 퀵/화물로 처리 발송 함)</span>
							</div>
						</td>
					</tr>
					<tr class="quick-detail-wrapper" style="<{if $delivery_type == '2'}>display: table-row;<{else}>display: none;<{/if}>">
						<th class="first">입/출고요청<br/>세부사항</th>
						<td>
							<div style="padding: 5px;">
								<label for="quick_req_date" style="margin-right: 10px;">출고희망일</label>
								<input type="text" name="quick_req_date" id="quick_req_date" class="form-control date-picker" value="<{$quick_req_date}>">
							</div>
							<div style="padding: 5px;border-top: 1px solid #ddd;">
								<input type="checkbox" name="is_quick_memo" id="is_quick_memo" class="form-control" style="width: 15px;" value="1" <{if $is_quick_memo == '1'}>checked<{/if}>>
								<label for="is_quick_memo" style="margin-right: 10px;">EMP 입고/반출 메모 삽입요청</label>
								<input type="text" name="quick_memo" class="form-control" style="width: 350px;" value="<{$quick_memo}>">
								<br/>
								<label for="quick_req_memo">입/출고요청 특이사항<span style="color: red; font-size: 11px;">※물류업체에게 요청하는 특이사항으로 택배로 진행 시 작성할 수 없습니다.</span></label>
								<textarea name="quick_req_memo" id="quick_req_memo" class="form-control" style="font-size: 12px;" rows="4"><{$quick_req_memo}></textarea>

								<div style="overflow: hidden; margin: 5px;">
									<{if $quick_req_file_count > 0}>
										<span style="display: inline-block; float: left; line-height: 20px; margin-right: 10px;">FILE: <{$quick_req_file_count}></span>
									<{else}>
										<span style="display: inline-block; float: left; line-height: 20px; margin-right: 10px; color: #a7a7a7;">첨부파일 없음</span>
									<{/if}>
									<button type="button" style="margin:0; padding: 0;color: black;background: none;font-weight:bold;font-size: 11px;letter-spacing: -1px;float: left; margin-right: 5px;" onclick="openFileUpload('<{$lm_no}>')" class="btn_file" title="업로드">
										<img src="./images/icon/file_upload.png" style="cursor: pointer;" alt="업로드">
									</button>
									<button type="button" style="margin:0; padding: 0; color: black; background: none; font-weight:bold; font-size: 11px; letter-spacing: -1px; float: left;" onclick="openFileDownload('<{$lm_no}>')" class="btn_file" title="다운로드">
										<img src="./images/icon/file_download.png" style="cursor: pointer;" alt="다운로드">
									</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">발송지주소</th>
						<td>
							<div style="margin-bottom: 10px;">
								<select name="sender_type" id="sender_type" class="form-control address_type" required>
									<option value="">::선택::</option>
									<{foreach from=$addr_company_option key=key item=label}>
										<{if !($prd_no == '251' && ($key == '5468' || $key == '5469'))}>
										<option value="<{$key}>" <{if $sender_type == $key}>selected<{/if}>><{$label}></option>
										<{/if}>
									<{/foreach}>
								</select>
								<input type="text" name="sender_type_name" id="sender_type_name" class="form-control address_type_name" value="<{$sender_type_name}>" <{if $sender_type != '99999'}>readonly<{/if}>>
							</div>
							<div>
								<input type="text" name="sender_zipcode" id="sender_zipcode" class="form-control address_zipcode" value="<{$sender_zipcode}>" />
								<button type="button" id="sender_btn" class="address_btn" onclick="openDaumPostCode('sender')">우편번호 찾기</button>
								<br/>
								<input type="text" name="sender_addr" id="sender_addr" class="form-control address_base" value="<{$sender_addr}>" style="">
								<input type="text" name="sender_addr_detail" id="sender_addr_detail" class="form-control address_detail" value="<{$sender_addr_detail}>">
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">발송자명/발송자전화</th>
						<td>
							<div class="order_msg" style="color: red; display: none;">※발주 시 제조사 담당자 이름과 연락처를 기입해주세요.</div>
							<input type="text" name="sender" id="sender_name" class="form-control sender_address_field" value="<{$sender}>" style="width: 100px; display: inline-block;">
							<input type="text" name="sender_hp" id="sender_hp" class="form-control sender_address_field" value="<{$sender_hp}>" style="width: 200px; display: inline-block;">
						</td>
					</tr>
					<tr>
						<th class="first">
							수령지주소<br/>
							수령자명<br/>
							수령자전화<br/>
							배송메모
						</th>
						<td style="position: relative;">
							<div style="overflow: hidden; margin-bottom: 3px;">
								<span style="color: red; font-size: 13px;">※주의 : 업체로 보내는 것이 아닌 타계정반출, 기타반출, 이마트(트레이더스) 고객 발송은 '기타'로 선택 하세요.</span>
								<br/>
								<select name="receiver_type" id="receiver_type" class="form-control address_type" <{if $stock_type == '2' && $subject != '12'}>style="background: lightgray"<{/if}> required>
									<option value="">::선택::</option>
									<{foreach from=$addr_company_option key=key item=label}>
										<{if !($prd_no == '251' && ($key == '5468' || $key == '5469'))}>
										<option value="<{$key}>" <{if $receiver_type == $key}>selected<{/if}>><{$label}></option>
										<{/if}>
									<{/foreach}>
								</select>
								<input type="text" name="receiver_type_name" id="receiver_type_name" class="form-control address_type_name" value="<{$receiver_type_name}>" <{if $receiver_type != '99999'}>readonly<{/if}>>
							</div>
							<div style="display: inline-block; float: right; margin-bottom: 5px;">
								<span>파일적용 : </span>
								<input type="file" name="receiver_file" onchange="readExcel('address')">
								<a href="/v1/uploads/document/logistics/수령지엑셀_sample.xlsx" title="수령지엑셀_sample" download>[sample]</a>
							</div>
							<div class="receiver-address-wrapper" style="margin-top: 40px;">
								<input type="hidden" name="receiver-key" id="receiver-key" value="<{$receiver_key}>">
								<div class="addr-content-wrapper">
								<{if $receiver_addr_list}>
									<{assign var=addr_idx value=1}>
									<{foreach from=$receiver_addr_list key=key item=receiver_addr}>
										<div class="addr-wrapper-<{$addr_idx}> add-wrapper address-add-wrapper">
											<input type="hidden" name="new_la_no[]" value="<{$receiver_addr.la_no}>"/>
											<input type="text" name="new_zipcode[]" id="new_<{$addr_idx}>_zipcode" class="form-control address_zipcode" value="<{$receiver_addr.zipcode}>" />
											<button type="button" class="address_btn" onclick="openDaumPostCode('new_<{$addr_idx}>')">우편번호 찾기</button>
											<{if $addr_idx == 1}>
											<input type="checkbox" name="set_base_address" class="set_base_address" id="set_base_address_1"><label for="set_base_address_1" style="font-size: 11px; margin: 0;">자사 주소 적용</label>
											<{/if}>
											<br/>
											<input type="text" name="new_address[]" id="new_<{$addr_idx}>_addr" class="form-control address_base" value="<{$receiver_addr.address}>" >
											<input type="text" name="new_address_detail[]" id="new_<{$addr_idx}>_addr_detail" class="form-control address_detail" value="<{$receiver_addr.address_detail}>">
											<input type="text" name="new_receiver[]" id="new_<{$addr_idx}>_receiver" class="form-control address_name" value="<{$receiver_addr.name}>" placeholder="수령자">
											<input type="text" name="new_hp[]" id="new_<{$addr_idx}>_hp" class="form-control address_hp" value="<{$receiver_addr.hp}>" placeholder="전화번호">
											<input type="text" name="new_delivery_memo[]" id="new_<{$addr_idx}>_memo" class="form-control address_memo" value="<{$receiver_addr.delivery_memo}>" placeholder="배송메모">
											<button type="button" class="address_del_btn" onclick="delAddrColumn('<{$addr_idx}>')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;">-</button>
										</div>
										<{assign var=addr_idx value=$addr_idx+1}>
									<{/foreach}>
								<{else}>
									<div class="addr-wrapper-1 add-wrapper address-add-wrapper">
										<input type="hidden" name="new_la_no[]" value="<{$receiver_addr.la_no}>"/>
										<input type="text" name="new_zipcode[]" id="new_1_zipcode" class="form-control address_zipcode" value="<{$receiver_addr.zipcode}>" />
										<button type="button" class="address_btn" onclick="openDaumPostCode('new_1')">우편번호 찾기</button>
										<input type="checkbox" name="set_base_address" class="set_base_address" id="set_base_address"><label for="set_base_address" style="font-size: 11px; margin: 0;">자사 주소 적용</label>
										<br/>
										<input type="text" name="new_address[]" id="new_1_addr" class="form-control address_base" value="<{$receiver_addr.address}>">
										<input type="text" name="new_address_detail[]" id="new_1_addr_detail" class="form-control address_detail" value="<{$receiver_addr.address_detail}>">
										<input type="text" name="new_receiver[]" id="new_1_receiver" class="form-control address_name" value="<{$receiver_addr.name}>" placeholder="수령자">
										<input type="text" name="new_hp[]" id="new_1_hp" class="form-control address_hp" value="<{$receiver_addr.hp}>" placeholder="전화번호">
										<input type="text" name="new_delivery_memo[]" id="new_1_memo" class="form-control address_memo" value="<{$receiver_addr.delivery_memo}>" placeholder="배송메모">
										<button type="button" class="address_del_btn" onclick="delAddrColumn('1')">-</button>
									</div>
								<{/if}>
								</div>
								<div class="text-right">
									<button type="button" onclick="addAddrColumn()" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px;">+</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">사유</th>
						<td>
							<textarea name="reason" id="reason" class="form-control" style="height: 100px; width: 99.5%; font-size: 13px;"><{$reason}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">*상품/단가/수량<br/>OR<br/>구성품목/수량</th>
						<td>
							<div>
								<{foreach from=$product_type_option key=key item=label}>
									<input type="radio" name="prd_type" id="prd_type_<{$key}>" class="input-radio prd_type" value="<{$key}>" <{if $prd_type == $key}>checked<{/if}> required>
									<label for="prd_type_<{$key}>" style="margin-right: 5px;"><{$label}></label>
								<{/foreach}>
								<div class="prd-total-wrapper total-wrapper" <{if $prd_type == '1'}>style="display: block;"<{/if}> >
									<input type="hidden" name="prd-key" id="prd-key" value="<{$prd_key}>">
									<div class="prd-content-wrapper">
										<{if $prd_type == '1' && $prd_list}>
											<{assign var=prd_idx value=1}>
											<{foreach from=$prd_list key=key item=prd_data}>
												<div class='prd-wrapper-<{$prd_idx}> add-wrapper'>
													<a href='javascript:void(0)' class="add_quick_btn" onclick='open_quick_prd("prd", "prd_<{$prd_idx}>")'><img src='./images/icon/import.png'></a>
													<input type='hidden' name='new_lp_no_prd[]' value='<{$prd_data.lp_no}>'/>
													<input type='hidden' name='new_log_c_no_prd[]' id='new_log_c_no_prd_<{$prd_idx}>' value='<{$prd_data.log_c_no}>' required/>
													<select name="new_log_company" class="form-control new_log_company" id='new_log_company_prd_<{$prd_idx}>' disabled>
														<{foreach from=$log_company_option key=key item=label}>
															<option value="<{$key}>" <{if $prd_data.log_c_no == $key}>selected<{/if}>><{$label}></option>
														<{/foreach}>
													</select>
													<input type='text' name='new_name[]' id='new_name_prd_<{$prd_idx}>' class='input_type5 new_prd_name' value="<{$prd_data.prd_name}>" attr-key='<{$prd_idx}>' attr-type='prd' required/>
													<input type='text' name='new_price_prd[]' id='new_price_prd_<{$prd_idx}>' class='input_type3 new_price_prd' value='<{$prd_data.price|number_format}>' onfocus="this.value=''" onkeyup="inputNumberFormat(this)" placeholder='상품단가' required <{if $subject != '12'}>disabled<{/if}> />
													<input type='number' name='new_quantity_prd[]' id='new_quantity_prd_<{$prd_idx}>' class='input_type3 new_quantity_prd' value='<{$prd_data.quantity}>' placeholder='수량' required />
													<input type='hidden' name='new_no_prd[]' id='new_no_prd_<{$prd_idx}>' class='new_no_prd' value='<{$prd_data.prd_no}>' attr-key='<{$prd_idx}>' required/>
													<button type='button' onclick='delPrdColumn("prd", "<{$prd_idx}>")' class="del_btn">-</button>
												</div>
												<{assign var=prd_idx value=$prd_idx+1}>
											<{/foreach}>
										<{/if}>
									</div>
									<div class="text-right">
										<button type="button" onclick="addPrdColumn('prd')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px;margin-top:10px;">+</button>
									</div>
									<span style="font-size: 13px; color: red;">
									<div style="overflow: hidden; margin-bottom: 4px;margin-top: -35px;margin-left: 10px;">
											※ 상품금액 입력 시 주의사항</span><br>
										<span style="font-size: 12px; color: #999;">
											· 매출 반영이 필요한 대량구매, 쿠팡(로켓배송) 등 선매입은 금액 입력 필수!<br>
											· 씨엔제이커머스, 이마트(트레이더스) 등 후불 정산이나 매출 발생이 아닌건은 금액 입력 금지!
										</span>
									</div>
								</div>
								<div class="unit-total-wrapper total-wrapper" <{if $prd_type == '2'}>style="display: block;"<{/if}> >
									<input type="hidden" name="unit-key" id="unit-key" value="<{$unit_key}>">
									<div class="unit-content-wrapper">
										<{if $prd_type == '2' && $prd_list}>
											<{assign var=prd_idx value=1}>
											<{foreach from=$prd_list key=key item=prd_data}>
												<div class='unit-wrapper-<{$prd_idx}> add-wrapper'>
													<a href='javascript:void(0)' class="add_quick_btn" onclick='open_quick_prd("unit", "unit_<{$prd_idx}>")'><img src='./images/icon/import.png'></a>
													<input type='hidden' name='new_lp_no_unit[]' value='<{$prd_data.lp_no}>'/>
													<input type='hidden' name='new_log_c_no_unit[]' id='new_log_c_no_unit_<{$prd_idx}>' value='<{$prd_data.log_c_no}>' required/>
													<select name="new_log_company" class="form-control new_log_company" id='new_log_company_unit_<{$prd_idx}>' disabled>
														<{foreach from=$log_company_option key=key item=label}>
															<option value="<{$key}>" <{if $prd_data.log_c_no == $key}>selected<{/if}>><{$label}></option>
														<{/foreach}>
													</select>
													<input type='text' name='new_name[]' id='new_name_unit_<{$prd_idx}>' class='input_type5 new_unit_name' value="<{$prd_data.prd_name}>" style='float: left; width:400px; background-color: #ffffcc;' attr-key='<{$prd_idx}>' attr-type='unit' required/>
													<input type='number' name='new_quantity_unit[]' id='new_quantity_unit_<{$prd_idx}>' class='input_type3 new_quantity_unit' value='<{$prd_data.quantity}>' placeholder='수량' style='float:left; width: 60px; margin: 2px; font-size: 12px; font-weight: bold; text-align: right;'  required />
													<input type='hidden' name='new_no_unit[]' id='new_no_unit_<{$prd_idx}>' class='new_no_unit' value='<{$prd_data.prd_no}>' attr-key='<{$prd_idx}>' required/>
													<button type='button' onclick='delPrdColumn("unit", "<{$prd_idx}>")' class="del_btn">-</button>
												</div>
												<{assign var=prd_idx value=$prd_idx+1}>
											<{/foreach}>
										<{/if}>
									</div>
									<div class="text-right">
										<button type="button" onclick="addPrdColumn('unit')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px; margin-top:10px;">+</button>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">진행상태</th>
						<td>
							<select name="work_state" class="form-control" id="work_state" style="width: 200px;">
								<option value="">:: 선택 ::</option>
								<{foreach from=$work_state_option key=key item=label}>
								<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $key == $work_state}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center" style="width: 970px;">
				<{if permissionNameCheck($session_permission, "물류관리자")}>
					<button type="button" class="btn btn-dark" onclick="duplicateLogistics()" style="float: left; font-size: 12px;">복제</button>
					<button type="submit" class="btn btn-dark" style="padding: 5px 25px;">저장</button>
				<{elseif $session_s_no == $req_s_no && $work_state <= 3}>
					<button type="submit" class="btn btn-dark" style="padding: 5px 25px;">저장</button>
				<{/if}>
				<div style="float: right;">
					<span>업무처리자 : <{if $run_s_name}><{$run_s_name}>(<{$run_t_name}>)<{/if}></span>
				</div>
			</div>
		</div>
	</form>
</div>

<div style="display: none;">
	<select name="log_company_option" class="log_company_option">
		<{foreach from=$log_company_option key=key item=label}>
		<option value="<{$key}>"><{$label}></option>
		<{/foreach}>
	</select>
</div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#req_s_name").autocomplete({
			source: function( request, response ) {
				$("#req_s_no").val('');
				$("#req_team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#req_s_no").val(ui.item.sno);
				$('#reg_s_name').val(ui.item.sname);
				$('#req_team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$(".prd_type").change(function(){
			if($(this).val() == '1'){
				$(".total-wrapper").hide();
				$(".prd-total-wrapper").show();
			}else if($(this).val() == '2'){
				$(".total-wrapper").hide();
				$(".unit-total-wrapper").show();
			}
		});

		$(".stock_type_val").change(function(){
			var stock_type = $(this).val();

			switch(stock_type){
				case '1':
					$(".transfer-company-wrapper").hide();
					$(".sales-subject-wrapper").hide();
					break;
				case '2':
					$(".transfer-company-wrapper").hide();
					$(".sales-subject-wrapper").show();
					break;
				case '3':
					$(".transfer-company-wrapper").show();
					$(".sales-subject-wrapper").hide();
					$("#delivery_type_2").click();
					break;
			}

			$("#stock_type").val(stock_type);
		});

		$(".subject").change(function(){
			var subject_type = $(this).val();
			if(subject_type == '12'){
				$(".run-order-wrapper").show();
				$(".etc-run-order-wrapper").hide();
				$(".new_price_prd").attr('disabled', false);
			}else if(subject_type == '13'){
				$(".run-order-wrapper").hide();
				$(".etc-run-order-wrapper").show();
				$(".new_price_prd").attr('disabled', true);
				$("#receiver_type").val(99999);
				$("#receiver_type").trigger("change");
			}else{
				$(".run-order-wrapper").hide();
				$(".etc-run-order-wrapper").hide();
				$(".new_price_prd").attr('disabled', true);
				$("#receiver_type").val(99999);
				$("#receiver_type").trigger("change");
			}
		});

		$(".delivery_type").change(function()
		{
			var delivery_type = $(this).val();

			$("#stock_type_1").attr("disabled", false);
			$("#stock_type_2").attr("disabled", false);
			$("#stock_type_3").attr("disabled", false);
			$("#prd_type_1").attr("disabled", false);
			$("#prd_type_2").attr("disabled", false);
			$(".order_msg").hide();

			if(delivery_type == '1'){
				$(".order-detail-wrapper").show();
			}else{
				$(".order-detail-wrapper").hide();
			}

			if(delivery_type == '2'){
				$(".quick-detail-wrapper").show();
			}else{
				$(".quick-detail-wrapper").hide();
			}

			if(delivery_type == '4'){
				$("#stock_type_1").attr("disabled", false);
				$("#stock_type_2").attr("disabled", true);
				$("#stock_type_3").attr("disabled", true);
				$("#stock_type_1").click();

				$("#prd_type_1").attr("disabled", true);
				$("#prd_type_2").click();

				$("#sender_type").val(99999).trigger('change');
				$("#receiver_type").val(2809).trigger('change');

				$(".order_msg").show();

				alert("발주는 입고 시에만 진행 가능하여,\n입고/반출을 입고로 수정하였습니다.");
			}
		});

		$("#transfer_c_no").change(function(){
			if($(this).val() == '5665'){
				$("#receiver_type").val(99999);
			}
			else{
				$("#receiver_type").val($(this).val());
			}
			$("#receiver_type").trigger('change');
		});

		$("#sales_c_no").change(function(){
			if($(this).val() == "5803"){
				$("#receiver_type").val(99999);
			}else{
				$("#receiver_type").val($(this).val());
			}
			$("#receiver_type").trigger('change');
		});

		$("#sender_type").change(function(){
			if($(this).val() == '99999'){
				$("#sender_type_name").attr('readonly', false);
				$("#sender_type_name").val('');
			}else{
				$("#sender_type_name").attr('readonly', true);
				var sender_type_name = $("#sender_type option:checked").text();
				$("#sender_type_name").val(sender_type_name);
			}
			setDefaultAddress('sender',$(this).val());
		});

		$("#receiver_type").change(function()
		{
			var sel_subject = $("input[name='subject']:checked").val();
			var stock_type  = $("#stock_type").val();

			if(stock_type == '2' && sel_subject != '12'){
				$(this).val('99999');
				$("#receiver_type").css({"background":"lightgray"});
				$("#receiver_type_name").attr('readonly', false);
				$("#receiver_type_name").val('');
			}else{
				$("#receiver_type").css({"background":"white"});
				if($(this).val() == '99999'){
					$("#receiver_type_name").attr('readonly', false);
					$("#receiver_type_name").val('');
				}else{
					$("#receiver_type_name").attr('readonly', true);
					var receiver_type_name = $("#receiver_type option:checked").text();
					$("#receiver_type_name").val(receiver_type_name);
				}
			}

			setDefaultAddress('receiver',$(this).val());
		});

		$(".set_base_address").change(function() {

			if($(this).is(":checked")){
				if($("#new_1_zipcode").val() || $("#new_1_addr").val() || $("#new_1_addr_detail").val()){
					if(confirm("작성된 주소지가 있습니다.\n'확인' 버튼 클릭 시\n삭제 후 자사 주소로 수정됩니다.")){
						setBaseAddress();
					}
				}else{
					setBaseAddress();
				}
			}
		});

		addAutoLoad('<{$prd_type_name}>');
	});

	function setBaseAddress()
	{
		$("#new_1_zipcode").val('08513');
		$("#new_1_addr").val('서울 금천구 벚꽃로 244 (가산동, 벽산디지털밸리5차)');
		$("#new_1_addr_detail").val('906호');
		$("#new_1_receiver").val('');
		$("#new_1_hp").val('');
	}

	function setDefaultAddress(type, val)
	{
		if(type == 'sender')
		{
			if(val == '2809'){
				$("#sender_zipcode").val('10864');
				$("#sender_addr").val('경기도 파주시 교하로 1173 (오도동114-16)');
				$("#sender_addr_detail").val('위드플레이스');
				$("#sender_name").val('윤종혁');
				$("#sender_hp").val('010-6500-1898');
			}else if(val == '1113'){
				$("#sender_zipcode").val('08513');
				$("#sender_addr").val('서울 금천구 벚꽃로 244 (가산동, 벽산디지털밸리5차)');
				$("#sender_addr_detail").val('902호');
				$("#sender_name").val('김진주');
				$("#sender_hp").val('010-9990-8389');
			}else{
				$("#sender_zipcode").val('');
				$("#sender_addr").val('');
				$("#sender_addr_detail").val('');
				$("#sender_name").val('');
				$("#sender_hp").val('');
			}
		}
		else if(type == 'receiver')
		{
			if(val == '2809'){
				$("#new_1_zipcode").val('10863');
				$("#new_1_addr").val('경기도 파주시 교하로 1173 (오도동114-16)');
				$("#new_1_addr_detail").val('위드플레이스');
				$("#new_1_receiver").val('윤종혁');
				$("#new_1_hp").val('010-6500-1898');
			}else if(val == '1113'){
				$("#new_1_zipcode").val('08513');
				$("#new_1_addr").val('서울 금천구 벚꽃로 244 (가산동, 벽산디지털밸리5차)');
				$("#new_1_addr_detail").val('906호');
				$("#new_1_receiver").val('김보균');
				$("#new_1_hp").val('010-7107-3280');
			}else if(val == '5469'){
				$("#new_1_zipcode").val('10550');
				$("#new_1_addr").val('경기도 고양시 덕양구 원흥동 701');
				$("#new_1_addr_detail").val('쿠팡 고양센터 4F A동 4번 Dock');
				$("#new_1_receiver").val('고양1센터');
				$("#new_1_hp").val('070-7730-9778');
			}else if(val == '5484'){
				$("#new_1_zipcode").val('17180');
				$("#new_1_addr").val('경기 용인시 처인구 백암면 원설로 691 (고안리)');
				$("#new_1_addr_detail").val('용인2센터 1층');
				$("#new_1_receiver").val('파스토');
				$("#new_1_hp").val('02-1566-3033');
			}else if(val == '5659' || val == '5956'){
				$("#new_1_zipcode").val('10313');
				$("#new_1_addr").val('경기 고양시 일산동구 동국로 313 (문봉동)');
				$("#new_1_addr_detail").val('3층 스타트투데이 1센터');
				$("#new_1_receiver").val('최현수 파트장');
				$("#new_1_hp").val('010-9003-0185');
			}else if(val == '5315'){
				$("#new_1_zipcode").val('18540');
				$("#new_1_addr").val('경기 화성시 마도면 송정로264번길 39-9 (송정리)');
				$("#new_1_addr_detail").val('(주)코진테크');
				$("#new_1_receiver").val('서현');
				$("#new_1_hp").val('010-7258-0707');
			}else if(val == '5768'){
				$("#new_1_zipcode").val('06038');
				$("#new_1_addr").val('서울 강남구 도산대로6길 15 (논현동)');
				$("#new_1_addr_detail").val('지하 1층');
				$("#new_1_receiver").val('김화연');
				$("#new_1_hp").val('010-5511-5930');
			}else if(val == '5777'){
				$("#new_1_zipcode").val('08511');
				$("#new_1_addr").val('서울 금천구 디지털로9길 41 (가산동)');
				$("#new_1_addr_detail").val('612호(가산동, 삼성아이티해링턴타워)');
				$("#new_1_receiver").val('원동규');
				$("#new_1_hp").val('010-8761-2921');
			}else if(val == '5825'){
				$("#new_1_zipcode").val('22362');
				$("#new_1_addr").val('인천 중구 영종순환로900번길 30 (운북동)');
				$("#new_1_addr_detail").val('영종 아레나스 물류센터 3층 큐익스프레스');
				$("#new_1_receiver").val('Qxpress');
				$("#new_1_hp").val('02-2620-1100');
			}else if(val == '5834'){
				$("#new_1_zipcode").val('10456');
				$("#new_1_addr").val('경기 고양시 덕양구 대주로107번길 39-10 (대장동)');
				$("#new_1_addr_detail").val('오렌지공항물류');
				$("#new_1_receiver").val('송석원');
				$("#new_1_hp").val('010-8846-3032');
			}else if(val == '4798'){
				$("#new_1_zipcode").val('12721');
				$("#new_1_addr").val('경기도 광주시 곤지암읍 만선리 79-5');
				$("#new_1_addr_detail").val('에이원 곤지암지사');
				$("#new_1_receiver").val('에이원비앤에이치');
				$("#new_1_hp").val('010-9615-5848');
			}else if(val == '5970'){
				$("#new_1_zipcode").val('22379');
				$("#new_1_addr").val('인천시 중구 자유무역로 107번길 25');
				$("#new_1_addr_detail").val('은산물류창고 내 신세계면세점(토산)');
				$("#new_1_receiver").val('강현주');
				$("#new_1_hp").val('010-9703-6077');
			}else{
				$("#new_1_zipcode").val('');
				$("#new_1_addr").val('');
				$("#new_1_addr_detail").val('');
				$("#new_1_receiver").val('');
				$("#new_1_hp").val('');
			}
		}
	}

	function checkLogisticsRequest()
	{
		var form = document.forms['logistics_frm'];

		var stock_type 		= form.stock_type.value;
		var delivery_type 	= $("input[name='delivery_type']:checked").val();
		var subject 		= $("input[name='subject']:checked").val();
		var prd_type 		= $("input[name='prd_type']:checked").val();

		if(stock_type < 1)
		{
			alert("입고/반출을 선택해주세요");
			return false;
		}

		if(stock_type == '2' && (subject == '12' || subject == '13'))
		{
			if(subject == '12'){
				if(!$("#sales_c_no").val()){
					alert("납품업체를 선택해주세요");
					return false;
				}
			}else if(subject == '13'){
				if(!$("#etc_sales_c_no").val()){
					alert("납품업체를 선택해주세요");
					return false;
				}
			}
		}
		else if(stock_type == '3')
		{
			if(!$("#transfer_c_no").val()){
				alert("납품업체를 선택해주세요");
				return false;
			}
		}

		if(!delivery_type) {
			alert("처리형태를 선택해주세요");
			return false;
		}

		if(!checkProductSelect(prd_type)){
			alert("상품이 제대로 지정되지 않은 게 존재합니다");
			return false;
		}

		if(!checkEmptyProduct(prd_type)){
			alert("상품 수량이 없습니다.");
			return false;
		}

		var prd_msg = "수령자 및 제공품목을 확인해 주세요.\r\n";
		prd_msg += getProductListMsg();

		if(confirm(prd_msg))
		{
			form.process.value = 'save_logistics';
			return true;
		}

		return false;
	}

	function checkProductSelect(type)
	{
		var result = true;

		if(type == "1"){
			if($(".new_no_prd").length > 0)
			{
				$(".new_no_prd").each(function(idx, item){
					var chk_prd_no 	= $(item).val();
					var attr_key 	= $(item).attr('attr-key');
					if(!chk_prd_no || chk_prd_no == 0){
						$('#new_name_prd_'+attr_key).val('');
						result = false;
					}
				});
			}
		}
		else if(type == "2"){
			if($(".new_no_unit").length > 0)
			{
				$(".new_no_unit").each(function(idx, item){
					var chk_unit_no = $(item).val();
					var attr_key 	= $(item).attr('attr-key');
					if(!chk_unit_no || chk_unit_no == 0){
						$('#new_name_unit_'+attr_key).val('');
						result = false;
					}
				});
			}
		}

		return result;
	}

	function checkEmptyProduct(type)
	{
		var result = true;

		if(type == "1"){
			if($(".new_quantity_prd").length > 0)
			{
				$(".new_quantity_prd").each(function(idx, item){
					var chk_quantity = $(item).val();
					if(!chk_quantity || chk_quantity == 0){
						$(item).val('');
						result = false;
					}
				});
			}
		}
		else if(type == "2")
		{
			if($(".new_quantity_unit").length > 0)
			{
				$(".new_quantity_unit").each(function(idx, item){
					var chk_quantity = $(item).val();
					if(!chk_quantity || chk_quantity == 0){
						$(item).val('');
						result = false;
					}
				});
			}
		}

		return result;
	}

	function checkProductPrice(){
		var result = true;
		$(".new_price_prd").each(function(idx, item){
			var chk_price = $(item).val();
			if(!chk_price || chk_price == 0){
				$(item).val('');
				result = false;
			}
		});

		return result;
	}

	function getProductListMsg()
	{
		var prd_type 		= $("input[name=prd_type]:checked").val();
		var chk_class_name 	= (prd_type == "2") ? "new_unit_name" : "new_prd_name";
		var chk_qty_name 	= (prd_type == "2") ? "new_quantity_unit_" : "new_quantity_prd_";
		var prd_msg			= "";
		var addr_length		= $(".address_name").length;

		$(".address_name").each(function(idx, item)
		{
			var address_name = $(item).val();

			if(idx > 2){

			}
			else{
				if(idx == 2){
					address_name = "그 외 1명 각각 제공";
				}

				prd_msg += (prd_msg == "") ? "\r\n" + address_name : "\r\n\r\n" + address_name;

				$("." + chk_class_name).each(function(prd_idx, prd_item){
					var prd_name 	= $(prd_item).val();
					var attr_key 	= $(prd_item).attr('attr-key');
					var qty			= $("#"+chk_qty_name+attr_key).val();
					var cal_qty		= qty/addr_length;

					prd_msg += "\r\n" + prd_name + "*" + cal_qty;
				});
			}
		});

		return prd_msg;
	}

	function openDaumPostCode(type)
	{
		new daum.Postcode({
			oncomplete: function(data) {
				var fullAddr = ''; // 최종 주소 변수
				var extraAddr = ''; // 조합형 주소 변수

				// 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					fullAddr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					fullAddr = data.jibunAddress;
				}

				// 사용자가 선택한 주소가 도로명 타입일때 조합한다.
				if(data.userSelectedType === 'R'){
					//법정동명이 있을 경우 추가한다.
					if(data.bname !== ''){
						extraAddr += data.bname;
					}
					// 건물명이 있을 경우 추가한다.
					if(data.buildingName !== ''){
						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
					fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
				}


				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById(type + '_zipcode').value = data.zonecode; //5자리 새우편번호 사용
				document.getElementById(type + '_addr').value = fullAddr;
				document.getElementById(type + '_addr_detail').focus();
			}
		}).open();
	}

	function resetSenderAddress()
	{
		$("#sender_zipcode").val('');
		$("#sender_addr").val('');
		$("#sender_addr_detail").val('');
		$("#sender_name").val('');
		$("#sender_hp").val('');
	}

	function addPrdColumn(type)
	{
		var attrKey  = Number($("#"+type+"-key").val()) + 1;
		var subject  = $("input[name='subject']:checked").val();
		var disabled = (subject == '12') ? "" : "disabled";

		var addHtml  = "<div class='" + type + "-wrapper-" + attrKey + " add-wrapper'>"
				+ "<a href='javascript:void(0)' class='add_quick_btn' onclick='open_quick_prd(\"" + type + "\", \"" + type + "_" + attrKey + "\")'><img src='./images/icon/import.png'></a>"
				+ "<input type='hidden' name='new_lp_no_"+type+"[]' value=''/>"
				+ "<input type='hidden' name='new_log_c_no_"+type+"[]' id='new_log_c_no_" + type + "_" + attrKey + "' value=''/>"
				+ "<select name='new_log_company' class='form-control new_log_company' id='new_log_company_" + type + "_" + attrKey + "' disabled>";

		addHtml += $(".log_company_option").html();
		addHtml	+= "</select>"
				+ "<input type='text' name='new_name[]' id='new_name_" + type + "_" + attrKey + "' class='input_type5 new_" + type + "_name' attr-key='"+ attrKey +"' attr-type='" + type + "'required/>"
		;

		if(type == 'prd'){
			addHtml += "<input type='text' name='new_price_"+type+"[]' id='new_price_" + type + "_" + attrKey + "' class='input_type3 new_price_prd' value='0' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this)' placeholder='상품단가' required "+disabled+"/>";
		}

		addHtml  += "<input type='number' name='new_quantity_"+type+"[]' id='new_quantity_" + type + "_" + attrKey + "' class='input_type3 new_quantity_" + type + "' value='1' placeholder='수량' required />"
				+ "<input type='hidden' name='new_no_"+type+"[]' id='new_no_" + type + "_" + attrKey + "' class='new_no_" + type + "' value='' required/>"
				+ "<button type='button' onclick='delPrdColumn(\"" + type + "\"," + attrKey +")' class='del_btn'>-</button>"
				+ "</div>"
		;

		$("#"+type+"-key").val(attrKey);
		$('.'+type+'-content-wrapper').append(addHtml);
		addAutoLoad(type);
	}

	function delPrdColumn(type, attrKey)
	{
		$("."+type+"-wrapper-"+attrKey).remove();
	}

	function addAddrColumn()
	{
		var attrKey  = Number($("#receiver-key").val()) + 1;

		var addHtml = "<div class='addr-wrapper-" + attrKey + " add-wrapper address-add-wrapper'>"
				+ "<input type='hidden' name='new_la_no[]' value=''/>"
				+ "<input type='text' name='new_zipcode[]' id='new_" + attrKey + "_zipcode' class='form-control address_zipcode' value='' />"
				+ "<button type='button' class='address_btn' onclick='openDaumPostCode(\"new_"+attrKey+"\")'>우편번호 찾기</button>"
				+ "<br/>"
				+ "<input type='text' name='new_address[]' id='new_" + attrKey + "_addr' class='form-control address_base' value='' />"
				+ "<input type='text' name='new_address_detail[]' id='new_" + attrKey + "_addr_detail' class='form-control address_detail' value='' />"
				+ "<input type='text' name='new_receiver[]' id='new_" + attrKey + "_receiver' class='form-control address_name' value='' placeholder='수령자'/>"
				+ "<input type='text' name='new_hp[]' id='new_" + attrKey + "_hp' class='form-control address_hp' value='' placeholder='전화번호'/>"
				+ "<input type='text' name='new_delivery_memo[]' id='new_" + attrKey + "_memo' class='form-control address_memo' value='' placeholder='배송메모'/>"
				+ "<button type='button' class='address_del_btn' onclick='delAddrColumn(" + attrKey + ")'>-</button>"
				+ "</div>"
		;

		$("#receiver-key").val(attrKey);
		$('.addr-content-wrapper').append(addHtml);
	}

	function addAddrExcelColumn(excel_data)
	{
		if(excel_data)
		{
			var attrKey = 0;
			for (let objKey in excel_data)
			{
				attrKey++;
				var zipcode 		= (excel_data[objKey]['우편번호(생략가능)'] != undefined) ? excel_data[objKey]['우편번호(생략가능)'] : "";
				var address 		= (excel_data[objKey]['주소지'] != undefined) ? excel_data[objKey]['주소지'] : "";
				var address_detail 	= (excel_data[objKey]['주소지2 (생략 가능)'] != undefined) ? excel_data[objKey]['주소지2 (생략 가능)'] : "";
				var receiver 		= (excel_data[objKey]['수령자명'] != undefined) ? excel_data[objKey]['수령자명'] : "";
				var receiver_hp 	= (excel_data[objKey]['수령자전화'] != undefined) ? excel_data[objKey]['수령자전화'] : "";
				var delivery_memo 	= (excel_data[objKey]['배송메모'] != undefined) ? excel_data[objKey]['배송메모'] : "";

				var addHtml = "<div class='addr-wrapper-" + attrKey + " add-wrapper address-add-wrapper'>"
						+ "<input type='hidden' name='new_la_no[]' value=''/>"
						+ "<input type='text' name='new_zipcode[]' id='new_" + attrKey + "_zipcode' class='form-control address_zipcode' value='"+zipcode+"' />"
						+ "<button type='button' class='address_btn' onclick='openDaumPostCode(\"new_"+attrKey+"\")'>우편번호 찾기</button>"
						+ "<br/>"
						+ "<input type='text' name='new_address[]' id='new_" + attrKey + "_addr' class='form-control address_base' value='"+address+"' />"
						+ "<input type='text' name='new_address_detail[]' id='new_" + attrKey + "_addr_detail' class='form-control address_detail' value='"+address_detail+"' />"
						+ "<input type='text' name='new_receiver[]' class='form-control address_name' value='"+receiver+"' placeholder='수령자'/>"
						+ "<input type='text' name='new_hp[]' class='form-control address_hp' value='"+receiver_hp+"' placeholder='전화번호'/>"
						+ "<input type='text' name='new_delivery_memo[]' class='form-control address_memo' value='"+delivery_memo+"' placeholder='배송메모'/>"
						+ "<button type='button' class='address_del_btn' onclick='delAddrColumn(" + attrKey + ")'>-</button>"
						+ "</div>"
				;

				if($(".addr-wrapper-"+attrKey).length > 0){
					$(".addr-wrapper-"+attrKey).remove();
				}

				$('.addr-content-wrapper').append(addHtml);
			}
			$("#receiver-key").val(attrKey);
		}
	}

	function delAddrColumn(attrKey)
	{
		$(".addr-wrapper-"+attrKey).remove();
	}

	function addAutoLoad(type)
	{
		if(type == 'prd')
		{
			$(".new_"+type+"_name").autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "/v1/api/product_cms_auto.api.php",
						dataType: "json",
						data: {
							prd_name:request.term
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								return {
									prd_no 	 	: item.prd_no,
									prd_name 	: item.prd_name,
									log_c_no 	: item.log_c_no,
									log_c_name 	: item.log_c_name,
									label  	 	: item.prd_label
								}
							}));
						}
					});
				},
				select: function( event, ui ) {
					event.preventDefault();
					var key = $(this).attr('attr-key');
					var type = $(this).attr('attr-type');
					$("#new_no_"+type+"_"+key).val(ui.item.prd_no);
					if(type == 'prd'){
						$(this).val(ui.item.prd_name);
					}else{
						$(this).val(ui.item.label);
					}
					$("#new_log_c_no_"+type+"_"+key).val(ui.item.log_c_no);
					$("#new_log_company_"+type+"_"+key).val(ui.item.log_c_no);
				},
				focus: function( event, ui ) {
					return false;
				},
				minLength: 1
			});
		}
		else if(type == 'unit')
		{
			$(".new_"+type+"_name").autocomplete({
				source: function( request, response ) {
					$.ajax({
						url: "/v1/api/product_cms.option.auto.api.php",
						dataType: "json",
						data: {
							option_name: request.term,
							option_type: 'option_name',
							join_type: 'all'
						},
						success: function( data ) {
							response( $.map( data, function( item ) {
								return {
									label  		: item.ware_label,
									option_no 	: item.option_no,
									option_name : item.option_name,
									log_c_no 	: item.log_c_no,
									log_c_name 	: item.log_c_name
								}
							}));
						}
					});
				},
				select: function( event, ui ) {
					var key = $(this).attr('attr-key');
					var type = $(this).attr('attr-type');
					$("#new_no_"+type+"_"+key).val(ui.item.option_no);
					$(this).val(ui.item.option_name);
					$("#new_log_c_no_"+type+"_"+key).val(ui.item.log_c_no);
					$("#new_log_company_"+type+"_"+key).val(ui.item.log_c_no);
				},
				focus: function( event, ui ) {
					return false;
				},
				minLength: 1
			});
		}
	}

	function open_quick_prd(type, idx)
	{
		if(type == 'prd'){
			window.open('popup/quick_prd_sel.php?sch_quick_type=cms&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
		}
		else if(type == 'unit'){
			window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
		}
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#new_name_"+idx).length > 0)
		{
			if(!checkAddProduct(idx, prd_no)){
				alert("이미 추가된 상품입니다.");
				return false;
			}

			$("#new_name_"+idx).val(prd_name);
			$("#new_no_"+idx).val(prd_no);
			$("#new_quantity_"+idx).val(1);
			$("#new_log_c_no_"+idx).val(2809);
			$("#new_log_company_"+idx).val(2809);
		}
	}

	function checkAddProduct(type, prd_no)
	{
		var result = true;
		var chk_type = type.split("_");

		$(".new_no_"+chk_type[0]).each(function(idx, item){
			var chk_prd_no = $(item).val();
			if(chk_prd_no == prd_no){
				result = false;
			}
		});

		return result;
	}

	function readExcel(type)
	{
		let input = event.target;
		let reader = new FileReader();
		reader.onload = function () {
			let data = reader.result;
			let workBook = XLSX.read(data, { type: 'binary' });
			workBook.SheetNames.forEach(function (sheetName) {
				let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
				if(type == 'address'){
					addAddrExcelColumn(rows);
				}else if(type == 'zet'){
					addZetProductExcelColumn(rows);
				}else if(type == 'roc'){
					addRocProductExcelColumn(rows);
				}else if(type == 'qx'){
					if(!$("#qx_file_type").val()){
						alert("선택 후 이용해주세요.");
						return false;
					}
					addQxProductExcelColumn(rows, $("#qx_file_type").val());
				}
			})
		};
		reader.readAsBinaryString(input.files[0]);
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	//콤마풀기
	function uncomma(str) {
		if(str) {
			str = "" + str.replace(/,/gi, ''); // 콤마 제거
			str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		}
		return (parseFloat(str));
	}

	function addRocProductExcelColumn(excel_data)
	{
		if(excel_data)
		{
			$("#stock_type_2").trigger('click');
			$("#subject_12").trigger('click');
			$("#delivery_type_2").trigger('click');
			$("#delivery_type_1").attr('disabled', true);
			$("#prd_type_1").trigger('click');
			$("#sales_c_no").val(5468).trigger('change');
			$("#sender_type").val(2809).trigger('change');

			var receiver_name = "";
			var receiver_addr = "";
			var receiver_hp   = "";
			var quick_req_memo= "";
			var prd_list   	  = [];
			for (let objKey in excel_data)
			{
				if(objKey == 4){
					quick_req_memo = "발주번호 : " + excel_data[objKey]['__EMPTY_1'];
				}

				if(objKey == 7){
					receiver_name = excel_data[objKey]['__EMPTY_1'];
					receiver_addr = excel_data[objKey]['__EMPTY_2'];
					receiver_hp = excel_data[objKey]['__EMPTY_7'];
					var exp_date = excel_data[objKey]['__EMPTY_4'];

					quick_req_memo += "\r\n물류센터 : " + receiver_name + "\r\n입고예정일자 : "+exp_date;
				}

				if(objKey >= 14 && objKey%2 == 0)
				{
					if(excel_data[objKey]['__EMPTY'] == undefined){
						break;
					}

					prd_list.push(
						{
							out_code: excel_data[objKey]['__EMPTY'],
							qty: excel_data[objKey]['__EMPTY_5'],
							price: excel_data[objKey]['__EMPTY_8']
						}
					);
				}
			}

			$("#quick_req_memo").val(quick_req_memo);
			if(Object.keys(prd_list).length > 0)
			{
				$.each(prd_list, function(idx, item){
					$.ajax({
						url: "/v1/api/logistics.product.api.php",
						type: 'POST',
						data: {"out_code": item['out_code']}
					}).done( function( data ) {
						var jsonData = JSON.parse(data);
						var result   = jsonData.result;
						var product  = jsonData.product;

						if(result == true)
						{
							var attrKey	= Number($("#prd-key").val());
							attrKey++;
							var addHtml  = "<div class='prd-wrapper-" + attrKey + " add-wrapper'>"
									+ "<a href='javascript:void(0)' class='add_quick_btn' onclick='open_quick_prd(\"prd\", \"prd_" + attrKey + "\")'><img src='./images/icon/import.png'></a>"
									+ "<input type='hidden' name='new_lp_no_prd[]' value=''/>"
									+ "<input type='hidden' name='new_log_c_no_prd[]' id='new_log_c_no_prd_" + attrKey + "' value='" + product.log_c_no + "'/>"
									+ "<select name='new_log_company' class='form-control new_log_company' id='new_log_company_prd_" + attrKey + "' disabled>";

							addHtml += $(".log_company_option").html();
							addHtml += "</select>"
									+ "<input type='text' name='new_name[]' id='new_name_prd_" + attrKey + "' class='input_type5 new_prd_name' attr-key='"+ attrKey +"' attr-type='prd' value='" + product.title + "' required/>"
									+ "<input type='text' name='new_price_prd[]' id='new_price_prd_" + attrKey + "' class='input_type3 new_price_prd' value='" + item['price'] + "' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this)' placeholder='상품단가' required />"
									+ "<input type='number' name='new_quantity_prd[]' id='new_quantity_prd_" + attrKey + "' class='input_type3 new_quantity_prd' value='" + item['qty'] + "' placeholder='수량' required />"
									+ "<input type='hidden' name='new_no_prd[]' id='new_no_prd_" + attrKey + "' class='new_no_prd' value='" + product.prd_no + "' attr-key='"+ attrKey +"' required/>"
									+ "<button type='button' onclick='delPrdColumn(\"prd\"," + attrKey +")' class='del_btn'>-</button>"
									+ "</div>"
							;

							$('.prd-content-wrapper').append(addHtml);
							$("#prd-key").val(attrKey);
							$("#new_log_company_prd_"+attrKey).val(product.log_c_no);
						}
					});
				});
			}

			if(receiver_addr != '')
			{
				var receiver_addr_list = receiver_addr.split('(택');
				receiver_addr = receiver_addr_list[0];

				$("#new_1_zipcode").val('');
				$("#new_1_addr").val('');
				$("#new_1_addr_detail").val('');
				$("#new_1_receiver").val('');
				$("#new_1_hp").val('');
				$("#new_1_memo").val('');

				$("#new_1_addr").val(receiver_addr);
				$("#new_1_receiver").val(receiver_name);
				$("#new_1_hp").val(receiver_hp);
			}
		}
	}

	function addZetProductExcelColumn(excel_data)
	{
		if(excel_data)
		{
			$("#stock_type_3").trigger('click');
			$("#transfer_c_no").val(5469).trigger('change');
			$("#delivery_type_2").trigger('click');
			$("#delivery_type_1").attr('disabled', true);
			$("#prd_type_1").trigger('click');
			$("#sender_type").val(2809).trigger('change');
			$("#quick_req_memo").val("쿠팡(제트배송) 화물 정보 요청\n" +
					"· 입고 예정일 : \n" +
					"· 파레트 수 : \n" +
					"· 총 박스 수 : \n" +
					"· 총 무게 kg :");

			for (let objKey in excel_data)
			{
				var out_code		= (excel_data[objKey]['SKU ID'] != undefined) ? excel_data[objKey]['SKU ID'] : "";
				var prd_name 		= (excel_data[objKey]['등록상품명'] != undefined) ? excel_data[objKey]['등록상품명'] : "";
				var qty 			= (excel_data[objKey]['발주수량'] != undefined) ? excel_data[objKey]['발주수량'] : "";

				$.ajax({
					url: "/v1/api/logistics.product.api.php",
					type: 'POST',
					data: {"out_code": out_code}
				}).done( function( data ) {
					var jsonData = JSON.parse(data);
					var result   = jsonData.result;
					var product  = jsonData.product;

					if(result == true)
					{
						var attrKey	= Number($("#prd-key").val());
						attrKey++;

						var addHtml  = "<div class='prd-wrapper-" + attrKey + " add-wrapper'>"
								+ "<a href='javascript:void(0)' class='add_quick_btn' onclick='open_quick_prd(\"prd\", \"prd_" + attrKey + "\")'><img src='./images/icon/import.png'></a>"
								+ "<input type='hidden' name='new_lp_no_prd[]' value=''/>"
								+ "<input type='hidden' name='new_log_c_no_prd[]' id='new_log_c_no_prd_" + attrKey + "' value='" + product.log_c_no + "'/>"
								+ "<select name='new_log_company' class='form-control new_log_company' id='new_log_company_prd_" + attrKey + "' disabled>";

						addHtml += $(".log_company_option").html();
						addHtml += "</select>"
								+ "<input type='text' name='new_name[]' id='new_name_prd_" + attrKey + "' class='input_type5 new_prd_name' attr-key='"+ attrKey +"' attr-type='prd' value='" + product.title + "' required/>"
								+ "<input type='text' name='new_price_prd[]' id='new_price_prd_" + attrKey + "' class='input_type3 new_price_prd' value='0' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this)' placeholder='상품단가' disabled/>"
								+ "<input type='number' name='new_quantity_prd[]' id='new_quantity_prd_" + attrKey + "' class='input_type3 new_quantity_prd' value='" + qty + "' placeholder='수량' value='" + qty + "' required />"
								+ "<input type='hidden' name='new_no_prd[]' id='new_no_prd_" + attrKey + "' class='new_no_prd' value='" + product.prd_no + "' attr-key='"+ attrKey +"' required/>"
								+ "<button type='button' onclick='delPrdColumn(\"prd\"," + attrKey +")' class='del_btn'>-</button>"
								+ "</div>"
						;

						$('.prd-content-wrapper').append(addHtml);
						$("#prd-key").val(attrKey);
						$("#new_log_company_prd_"+attrKey).val(product.log_c_no);
					}
				});
			}
		}
	}

	function addQxProductExcelColumn(excel_data, qx_type)
	{
		if(excel_data)
		{
			$("#stock_type_2").trigger('click');
			$("#delivery_type_2").trigger('click');
			$("#delivery_type_1").attr('disabled', true);
			$("#prd_type_1").trigger('click');
			$("#sender_type").val(2809).trigger('change');

			if(qx_type == "12"){
				$("#subject_12").trigger('click');
				$("#sales_c_no").val(5825).trigger('change');
			}else{
				$("#subject_9").trigger('click');
				$("#receiver_type_name").val('Qxpress');
				$("#new_1_zipcode").val('22362');
				$("#new_1_addr").val('인천 중구 영종순환로900번길 30 (운북동)');
				$("#new_1_addr_detail").val('영종 아레나스 물류센터 3층 큐익스프레스');
				$("#new_1_receiver").val('Qxpress');
				$("#new_1_hp").val('02-2620-1100');
			}

			var quick_req_memo= "";
			var prd_list   	  = [];
			for (let objKey in excel_data)
			{
				if(objKey == 0){
					quick_req_memo = "장바구니번호(주문번호) = " + excel_data[objKey]['Sales site cart no'];
				}

				prd_list.push(
					{
						out_code: (qx_type == "12") ? excel_data[objKey]['Seller Option Code'] : excel_data[objKey]['User Defined code'],
						qty: excel_data[objKey]['Item Qty']
					}
				);
			}

			if(Object.keys(prd_list).length > 0)
			{
				$.each(prd_list, function(idx, item){
					$.ajax({
						url: "/v1/api/logistics.product.api.php",
						type: 'POST',
						data: {"out_code": item['out_code'], "file_type": "qx"}
					}).done( function( data ) {
						var jsonData = JSON.parse(data);
						var result   = jsonData.result;
						var product  = jsonData.product;

						if(result == true)
						{
							var attrKey	= Number($("#prd-key").val());
							attrKey++;
							var addHtml  = "<div class='prd-wrapper-" + attrKey + " add-wrapper'>"
									+ "<a href='javascript:void(0)' class='add_quick_btn' onclick='open_quick_prd(\"prd\", \"prd_" + attrKey + "\")'><img src='./images/icon/import.png'></a>"
									+ "<input type='hidden' name='new_lp_no_prd[]' value=''/>"
									+ "<input type='hidden' name='new_log_c_no_prd[]' id='new_log_c_no_prd_" + attrKey + "' value='" + product.log_c_no + "'/>"
									+ "<select name='new_log_company' class='form-control new_log_company' id='new_log_company_prd_" + attrKey + "' disabled>";

							addHtml += $(".log_company_option").html();
							addHtml += "</select>"
									+ "<input type='text' name='new_name[]' id='new_name_prd_" + attrKey + "' class='input_type5 new_prd_name' attr-key='"+ attrKey +"' attr-type='prd' value='" + product.title + "' required/>"
							;

							if(qx_type == "9"){
								addHtml += "<input type='text' name='new_price_prd[]' id='new_price_prd_" + attrKey + "' class='input_type3 new_price_prd' value='0' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this)' placeholder='상품단가' disabled />"
							}else{
								addHtml += "<input type='text' name='new_price_prd[]' id='new_price_prd_" + attrKey + "' class='input_type3 new_price_prd' value='0' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this)' placeholder='상품단가' required />"
							}

							addHtml += "<input type='number' name='new_quantity_prd[]' id='new_quantity_prd_" + attrKey + "' class='input_type3 new_quantity_prd' value='" + item['qty'] + "' placeholder='수량' required />"
									+ "<input type='hidden' name='new_no_prd[]' id='new_no_prd_" + attrKey + "' class='new_no_prd' value='" + product.prd_no + "' attr-key='"+ attrKey +"' required/>"
									+ "<button type='button' onclick='delPrdColumn(\"prd\"," + attrKey +")' class='del_btn'>-</button>"
									+ "</div>"
							;

							$('.prd-content-wrapper').append(addHtml);
							$("#prd-key").val(attrKey);
							$("#new_log_company_prd_"+attrKey).val(product.log_c_no);

							quick_req_memo += "\r\n - " + product['title']+" * "+item['qty'];

							$("#quick_req_memo").val(quick_req_memo);
						}
					});
				});
			}
		}
	}

	function changeDocType(type)
	{
		$(".doc_type_btn").removeClass("doc_type_btn_active");
		$(".doc_type_btn_"+type).addClass("doc_type_btn_active");
		$("#doc_type").val(type);

		if(type == "1"){
			$("#stock_type_2").click();
			$("#subject_13").click();
			$("#etc_sales_c_no").val(5803);
			$("#delivery_type_2").click();
			$("#sender_type").val(1113).trigger("change");
		}else if(type == "2"){
			$("#stock_type_2").click();
			$("#subject_12").click();
			$("#sales_c_no").val(2280);
			$("#delivery_type_2").click();
			$("#sender_type").val(1113).trigger("change");
			$("#receiver_type").val(99999).trigger("change");
		}else if(type == "3"){
			$("#stock_type_2").click();
			$("#subject_11").click();
			$("#delivery_type_2").click();
			$("#sender_type").val(1113).trigger("change");
		}else if(type == "4"){
			$("#stock_type_1").click();
			$("#delivery_type_2").click();
			$("#sender_type").val(99999).trigger("change");
			$("#receiver_type").val(1113).trigger("change");
		}
	}

	function openFileUpload(lm_no)
	{
		var fileUploadUrl 	= "logistics.file_upload.php?lm_no="+lm_no;
		var windowName 		= "파일 업로드";
		window.open(fileUploadUrl,windowName,'width=820, height=460, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	function openFileDownload(lm_no){
		var fileDownloadUrl = "logistics.file_download.php?lm_no="+lm_no;
		var windowName 		= "파일 다운로드";
		window.open(fileDownloadUrl,windowName,'width=530, height=440, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	function duplicateLogistics()
	{
		if(confirm("복제하시겠습니까?")){
			var form = document.forms['logistics_frm'];
			form.process.value = 'duplicate_logistics';
			form.submit();
		}
	}
</script>

</body>
</html>
