<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form{max-width: 1500px;}
	.search_form label{margin: 0 10px 0 0;}
	.search_form .form-control.date-picker{width: 80px;}
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;padding: 0.25rem;}
	.table_list_style table{width: 1200px; margin-top: 40px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;}
	.table_list_style table tbody .form-control{font-size: 12px; padding: 2px 5px;}
	.reg_active{background: #3093c2 !important;}
	.normal-wrapper .work_td{background: #D7E4BD !important;}
	.cancel-wrapper{background: #999 !important;}
	.quick-wrap{background: lightyellow !important;}
	button.btn_small.quick_search_btn{padding: 5px 20px; font-weight: bold; margin: 0 5px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" class="search_form form-inline" action="logistics_management.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_lm_no">no</label>
			<input type="text" name="sch_lm_no" id="sch_lm_no" class="form-control" value="<{$sch_lm_no}>" style="width: 40px;" />

			<label for="sch_reg_s_date">작성일시</label>
			<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker form-control" value="<{$sch_reg_s_date}>" style="margin-right:3px;"/>
			<span>~</span>
			<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker form-control" value="<{$sch_reg_e_date}>" />
			<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
			<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
			<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
			<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
			<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
			<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
			<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
			<button type="button" class="btn_small reg_date_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" onclick="regDateVal('today');">오늘</button>
			<button type="button" class="btn_small reg_date_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>"onclick="regDateVal('week');" >1주</button>
			<button type="button" class="btn_small reg_date_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>" onclick="regDateVal('month');">1달</button>
			<button type="button" class="btn_small reg_date_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>" onclick="regDateVal('months');">3달</button>
			<button type="button" class="btn_small reg_date_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>" onclick="regDateVal('year');">1년</button>
			<button type="button" class="btn_small reg_date_btn reg_years_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>" onclick="regDateVal('years');">2년</button>

			<label for="sch_work_state" style="margin-left: 10px;">진행상태</label>
			<select name="sch_work_state" id="sch_work_state" class="form-control sch_result_type" <{if isset(<{$work_state_color_option[$sch_work_state]}>)}>style="color: <{$work_state_color_option[$sch_work_state]}>"<{/if}>>
				<option value="">::전체::</option>
				<{foreach from=$work_state_option key=key item=label}>
				<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $sch_work_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_run_s_date">업무완료일</label>
			<input type="text" name="sch_run_s_date" id="sch_run_s_date" class="form-control date-picker" value="<{$sch_run_s_date}>" style="margin-right:3px;" />
			<span>~</span>
			<input type="text" name="sch_run_e_date" id="sch_run_e_date" class="form-control date-picker" value="<{$sch_run_e_date}>" />

			<label for="sch_doc_no">문서번호</label>
			<input type="text" name="sch_doc_no" id="sch_doc_no" class="form-control" value="<{$sch_doc_no}>" />

			<label for="sch_req_name">업무요청자</label>
			<input type="text" name="sch_req_name" id="sch_req_name" class="form-control" value="<{$sch_req_name}>" style="width: 70px; margin-right: 3px;" />
			<input type="checkbox" name="sch_req_my" id="sch_req_my" value="1" <{if $sch_req_my == '1'}>checked<{/if}>>my

			<label for="sch_stock_type" style="margin-left: 10px;">입고/반출</label>
			<select name="sch_stock_type" id="sch_stock_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$stock_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_stock_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_subject">계정과목</label>
			<select name="sch_subject" id="sch_subject" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$subject_option key=key item=subject_data}>
					<{if $subject_data.display == '1'}>
						<option value="<{$key}>" <{if $sch_subject == $key}>selected<{/if}>><{$subject_data.title}></option>
					<{/if}>
				<{/foreach}>
			</select>

			<label for="sch_quick_req_date">출고희망일</label>
			<input type="text" name="sch_quick_req_date" id="sch_quick_req_date" class="form-control date-picker" value="<{$sch_quick_req_date}>" />

			<label for="sch_reason" >사유</label>
			<input type="text" name="sch_reason" id="sch_reason" class="form-control" value="<{$sch_reason}>" />
		</div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_warehouse">창고</label>
			<select name="sch_warehouse" id="sch_warehouse" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_warehouse_option item=label}>
				<option value="<{$label}>" <{if $sch_warehouse==$label}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_prd_sku">구성품목(SKU)</label>
			<input type="text" name="sch_prd_sku" id="sch_prd_sku" class="form-control" value="<{$sch_prd_sku}>" style="margin-right: 3px;"/>
			<input type="checkbox" name="sch_is_in_out" id="sch_is_in_out" value="2" <{if $sch_is_in_out == '2'}>checked<{/if}>>
			<label for="sch_is_in_out" style="cursor: pointer; margin-right: 20px;">입/출고 정지</label>

			<label for="sch_sender_type">발송지</label>
			<select name="sch_sender_type" id="sch_sender_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$addr_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_sender_type==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_receiver_type">수령지</label>
			<select name="sch_receiver_type" id="sch_receiver_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$addr_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_receiver_type==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_delivery_type">처리형태</label>
			<select name="sch_delivery_type" id="sch_delivery_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$delivery_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_delivery_type==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_is_order">주문번호 유/무</label>
			<select name="sch_is_order" id="sch_is_order" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$is_order_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_is_order==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_order_number" >주문번호</label>
			<input type="text" name="sch_order_number" id="sch_order_number" class="form-control" value="<{$sch_order_number}>" />

			<label for="sch_run_name">업무처리자</label>
			<input type="text" name="sch_run_name" id="sch_run_name" class="form-control" value="<{$sch_run_name}>" style="width: 70px; margin-right: 3px;" />
			<input type="checkbox" name="sch_run_my" id="sch_run_my" value="1" <{if $sch_run_my == '1'}>checked<{/if}>>my

			<label for="sch_task_run" style="margin-left: 10px;">업무진행</label>
			<input type="text" name="sch_task_run" id="sch_task_run" class="form-control" value="<{$sch_task_run}>" />

			<label for="sch_quick_req_memo" >요청사항</label>
			<input type="text" name="sch_quick_req_memo" id="sch_quick_req_memo" class="form-control" value="<{$sch_quick_req_memo}>" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
		<div style="margin: 10px 0; font-size: 14px;">
			<span style="font-weight:bold; margin-right: 10px;">[Quick Search]</span>
			<input type="hidden" name="sch_quick_type" id="sch_quick_type" value="<{$sch_quick_type}>">
			<{foreach from=$sch_quick_option key=key item=label}>
			<button type="button" onclick="quick_search('<{$key}>');" class="btn_small quick_search_btn <{if $sch_quick_type == $key}>quick_active_btn<{/if}>"><{$label}></button>
			<{/foreach}>
		</div>
	</form>

	<form name="logistics_roc_frm" id="logistics_roc_frm" action="logistics_rocket_insert.php" method="post" enctype="multipart/form-data" style="display: inline-block; margin-top: 10px;">
		<input type="hidden" name="search_url" value="<{$search_url}>"/>
		<input type="hidden" name="work_c_no" id="work_c_no">
		<span class="name_tit" style="font-weight: bold; text-align: left;margin: 10px 10px 10px 0;">※로켓배송 엑셀 업로드</span>
		<input type="text" name="work_c_name" id="work_c_name" class="form-control" value="" placeholder="업체명/브랜드" style="padding: 3px 5px; font-size: 12px; display: inline-block; width: 120px;">
		<input type="file" name="roc_file[]" id="roc_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;height: 30px; line-height: 22px;" multiple>
		<button type="button" class="btn_file" onclick="return addRocData();" style="padding: 6px 7px; background: #565656; font-weight: bold;">파일 업로드</button>
	</form>

	<div class="table_list_style">
		<table class="table table-bordered">
			<colgroup>
				<col width="40px;">
				<col width="40px;">
				<col width="80px;">
				<col width="120px;">
				<col width="140px;">
				<col width="140px;">
				<col width="100px;">
				<col width="100px;">
				<col width="80px;">
				<col width="120px;">
				<col width="100px;">
				<col width="80px;">
				<col width="100px;">
				<col width="200px;">
				<col width="160px;">
				<col width="682px;">
				<col width="200px;">
				<col width="100px;">
				<col width="200px;">
				<col width="130px;">
				<col width="130px;">
				<col width="80px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="15" style="text-align: left;">
						<{if $is_stop_cnt}>
							<div style="color: red; text-align: left; display: inline-block; font-size: 12px; padding-top: 7px;">
								※주의 : 입/출고 정지 구성품목 <{$logistics_stop_list['total']}>건 (
								<a href="javascript:void(0);" onclick="searchStopInOut(3)" style="color: red;">진행요청 <{$logistics_stop_list[3]|number_format:0}>건</a>,
								<a href="javascript:void(0);" onclick="searchStopInOut(4)" style="color: red;">접수완료 <{$logistics_stop_list[4]|number_format:0}>건</a>,
								<a href="javascript:void(0);" onclick="searchStopInOut(5)" style="color: red;">진행중 <{$logistics_stop_list[5]|number_format:0}>건</a>)
							</div>
						<{/if}>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th scope="col" style="height: 60px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th scope="col">no</th>
					<th scope="col">작성일</th>
					<th scope="col">
						진행상태
						<{if permissionNameCheck($session_permission, "물류관리자") || permissionNameCheck($session_permission, "마스터관리자")}>
							<select name="mod_state" id="mod_state" class="form-control" onchange="changeMultiState(); return false;" style="font-size: 12px; display: inline-block; width: 110px;">
								<option value="">::선택::</option>
								<{foreach from=$work_state_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						<{/if}>
					</th>
					<th scope="col">문서번호<br><span style="font-size: 10px">(주문번호)</span></th>
					<th scope="col">
						택배 리스트<br/>입/출고요청리스트<br/>발주리스트
						<{if permissionNameCheck($session_permission, "물류관리자") || permissionNameCheck($session_permission, "마스터관리자")}>
							<br/>
							<button type="button" class="btn" onclick="addMultiOrder()" style="color: white; font-size: 12px; background: #999;font-weight: bold; width: 110px;">택배 및 입/출고<br/>요청리스트 추가</button>
						<{/if}>
					</th>
					<th scope="col">업무완료일</th>
					<th scope="col">업무요청자</th>
					<th scope="col">입고/반출</th>
					<th scope="col">반출::계정과목</th>
					<th scope="col">납품업체</th>
					<th scope="col">처리형태</th>
					<th scope="col">출고희망일</th>
					<th scope="col">발송지 -> 수령지</th>
					<th scope="col">사유</th>
					<th scope="col">
						<div style="width: 200px; float: left;border-right: 1px solid #454d55; height: 100%;line-height: 50px;">커머스 상품</div>
						<div style="width: 60px; float: left;border-right: 1px solid #454d55; height: 100%;line-height: 50px;">수량</div>
						<div style="width: 100px; float: left;height: 100%;line-height: 50px;">창고</div>
						<div style="width: 200px; float: left;border-right: 1px solid #454d55; height: 100%;line-height: 50px;">구성품목(SKU)</div>
						<div style="width: 60px; float: left;height: 100%;line-height: 50px;">수량</div>
						<div style="width: 60px; float: left;height: 100%; padding-top: 10px;">구성품<br/>총수량</div>
					</th>
					<th scope="col">요청사항</th>
					<th scope="col">업무처리자</th>
					<th scope="col">입고/반출/재고이동 리스트</th>
					<th scope="col">업무진행</th>
					<th scope="col">관리자 메모</th>
					<th scope="col">w_no</th>
				</tr>
			</thead>
			<tbody>
				<{if $logistics_list}>
					<{foreach from=$logistics_list item=logistics}>
					<tr class="<{if $logistics.work_state == '8'}>cancel-wrapper<{else}>normal-wrapper<{/if}>">
						<td class="first"> <!-- checkbox -->
							<input type="checkbox" name="select_check[]" class="select_check" value="<{$logistics.lm_no}>">
						</td>
						<td> <!-- lm_no -->
							<{$logistics.lm_no}>
							<{if permissionNameCheck($session_permission, "물류관리자") && $logistics.is_delete}>
								<a href="javascript:void(0);" onclick="delLogistics('<{$logistics.lm_no}>');"><span style="font-size:9px;">[삭제]</span></a>
							<{/if}>
						</td>
						<td class="work_td"> <!-- 작성일 -->
							<span style="color: blue;"><{$logistics.reg_day}></span><br/>
							<span style="color: green;"><{$logistics.reg_time}></span>
						</td>
						<td class="work_td"> <!-- 진행상태 -->
							<select name="f_work_state" class="form-control" style="font-size: 12px; width: 110px; <{if isset(<{$work_state_color_option[$logistics.work_state]}>)}>color: <{$work_state_color_option[$logistics.work_state]}><{/if}>" onchange="save_el('<{$logistics.lm_no}>', '<{$logistics.w_no}>', 'f_work_state', this)"
								<{if $is_admin_editable}><{elseif $logistics.run_s_no == $session_s_no}><{elseif $logistics.req_s_no == $session_s_no && $logistics.work_state < 4}><{else}>disabled<{/if}>
							>
								<option value="">::선택::</option>
								<{foreach from=$work_state_option key=key item=label}>
									<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $logistics.work_state == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 문서번호/주문번호 -->
							<a href="logistics_request.php?lm_no=<{$logistics.lm_no}>">
								<b><{$logistics.doc_no}></b>
							</a>
							<{if $logistics.order_number}>
								<span style="font-size: 10px;">(<{$logistics.first_order_number}><{if $logistics.order_cnt > 0}> 외 <{$logistics.order_cnt}>건)<{else}>)<{/if}></span>
							<{/if}>
						</td>
						<td> <!-- 주문번호 -->
							<{if $logistics.order_number}>
								<{if $logistics.delivery_type == '1'}>
									<a href="work_list_cms.php?sch_ord_bundle=1&sch_logistics=<{$logistics.lm_no}>&sch_reg_s_date=<{$logistics.reg_s_date}>&sch_reg_e_date=<{$logistics.reg_e_date}>" target="_blank">
										택배리스트 이동 <img src="./images/icon/new_win_icon.png">
									</a>
									<{if $is_editable}>
									<button type="button" onclick="location.href='excel_logistics_delivery.php?sch_lm_no=<{$logistics.lm_no}>';" class="btn btn-dark font-weight-bold" style="font-size: 11px; padding: 5px 10px;">엑셀 다운로드</button>
									<{/if}>
								<{elseif $logistics.delivery_type == '2'}>
									<a href="work_cms_quick_list.php?sch_ord_bundle=1&sch_logistics=<{$logistics.lm_no}>&sch_reg_s_date=&sch_reg_e_date=&sch_req_date=<{$logistics.quick_req_date}>" target="_blank">
										입/출고요청 리스트 <img src="./images/icon/new_win_icon.png">
									</a>
									<{if $logistics.quick_ord_cnt > 0}>
										<br/>
										<a href="work_list_cms.php?sch_ord_bundle=1&sch_logistics=<{$logistics.lm_no}>&sch_reg_s_date=<{$logistics.reg_s_date}>&sch_reg_e_date=<{$logistics.reg_e_date}>" target="_blank">
											택배리스트 <img src="./images/icon/new_win_icon.png">
										</a>
									<{/if}>
								<{/if}>

								<{if $logistics.is_del_ord}>
									<button type="button" class="btn" style="font-size: 11px; padding: 5px 10px; font-weight: bold; color: red; background: yellow;" onclick="delOrder('<{$logistics.lm_no}>')">취소/삭제</button>
								<{/if}>
							<{else}>
								<{if $is_editable && $logistics.view_button}>
									<{if $logistics.delivery_type == '1' && $logistics.prd_type == '1'}>
										<button class="btn btn-dark" style="font-size: 11px; padding: 5px 10px; font-weight: bold;" onclick="addOrder('<{$logistics.lm_no}>')">택배 리스트 추가</button>
									<{elseif $logistics.delivery_type == '2'}>
										<button class="btn btn-dark" style="font-size: 11px; padding: 5px 10px; font-weight: bold;" onclick="addQuick('<{$logistics.lm_no}>')">입/출고요청<br/>리스트 추가</button>
									<{/if}>
								<{/if}>
							<{/if}>
							<{if $logistics.delivery_type == '4'}>
								<{if $logistics.unit_sup_wait_list}>
									<{foreach from=$logistics.unit_sup_wait_list key=sup_c_no item=unit_sup_wait}>
										<button class="btn btn-dark" style="font-size: 11px; padding: 5px; font-weight: bold;" onclick="addCommerce('<{$logistics.lm_no}>', '<{$sup_c_no}>', '<{$unit_sup_wait.loc_type}>', '<{$is_global}>')">
											<span style="width: 80px;height: 15px;display: inline-block;white-space: nowrap;overflow: hidden;float: left;text-overflow: ellipsis;"><{$unit_sup_wait.c_name}></span>발주
										</button>
									<{/foreach}>
								<{/if}>
								<{if $logistics.unit_sup_end_list}>
									<{foreach from=$logistics.unit_sup_end_list key=set_no item=unit_sup_end}>
										<div style="padding: 2px; border: 1px solid #ddd; margin-bottom: 5px; text-align: left;">
											<a href="commerce_order_regist.php?no=<{$unit_sup_end.set_no}>" target="_blank">
												<{$unit_sup_end.c_name}> 발주서 <img src="./images/icon/new_win_icon.png">
											</a>
										</div>
									<{/foreach}>
								<{/if}>
							<{/if}>
						</td>
						<td class="work_td"> <!-- 업무 완료일 -->
							<{if $logistics.work_state == '6'}>
								<input type="text" name="f_run_date" class="form-control date-picker" value="<{$logistics.run_date}>" onchange="save_el('<{$logistics.lm_no}>', '<{$logistics.w_no}>', 'f_run_date', this)" style="width: 90px;" <{if $is_admin_editable}><{elseif $logistics.run_s_no == $session_s_no}><{elseif $logistics.req_s_no == $session_s_no && $logistics.work_state < 4}><{else}>disabled<{/if}>>
							<{/if}>
						</td>
						<td class="work_td"> <!-- 업무요청자 -->
							<{$logistics.req_s_name}><br/>
							(<{$logistics.req_t_name}>)
						</td>
						<td> <!-- 입고/반출 -->
							<{$logistics.stock_type_name}>
						</td>
						<td> <!-- 계정과목 -->
							<{$logistics.subject_name}>
						</td>
						<td> <!-- 납품업체 -->
							<{$logistics.run_c_name}>
						</td>
						<td> <!-- 처리형태 -->
							<{$logistics.delivery_type_name}>
						</td>
						<td> <!-- 출고희망일 -->
							<{$logistics.quick_req_date}>
						</td>
						<td class="text-left"> <!-- 발송지 수령지 -->
							<{$logistics.sender_type_name}> -> <{$logistics.receiver_type_name}>
							<{if permissionNameCheck($session_permission, "물류관리자") && ($logistics.work_state != '1' && $logistics.work_state != '5')}>
								<br/>
								<br/>
								<button type="button" onclick="errorLogistics('<{$logistics.lm_no}>')" style="color: indianred;">[오배송 회수 처리]</button>
							<{/if}>
						</td>
						<td> <!-- 사유 -->
							<textarea name="f_reason" class="textarea_work_message" onchange="save_el('<{$logistics.lm_no}>', '<{$logistics.w_no}>', 'f_task_run', this)" style="width: 99%; height: 80%; min-height: 60px;"><{$logistics.reason}></textarea>
						</td>
						<!-- 커머스 상품 & 구성품목-->
						<td style="overflow: hidden;padding: 0;border:0;">
						<{if $logistics.prd_type == '1' && $logistics.prd_list}>
							<table style="padding: 0; margin: 0; width: 100%; height: 100%;">
								<colgroup>
									<col width="199px;">  <!-- 커머스 상품명 -->
									<col width="60px;">   <!-- 상품 수량 -->
									<col width="101px;">  <!-- 창고 -->
									<col width="200px;">  <!-- 구성품명 -->
									<col width="61px;">   <!-- 구성품 수량 -->
									<col width="61px;">   <!-- 구성품 총수량 -->
								</colgroup>
								<tbody>
								<{foreach from=$logistics.prd_list item=prd_data}>
									<{assign var=prd_idx value=0}>
									<{assign var=unit_cnt value=$prd_data.unit_list|@count}>
									<{foreach from=$prd_data.unit_list item=unit_data}>
										<tr>
											<{if $prd_idx == 0}>
												<td rowspan="<{$unit_cnt}>" class="text-left"><{$prd_data.prd_name}></td>
												<td rowspan="<{$unit_cnt}>" <{if $prd_data.quantity < 0}>class="font-red"<{/if}>><{$prd_data.quantity}></td>
											<{/if}>
											<td <{if $sch_quick == $unit_data.prd_no}>class="quick-wrap"<{/if}>><{$unit_data.warehouse}></td>
											<td class="text-left <{if $sch_quick == $unit_data.prd_no}>quick-wrap<{/if}>">
												<{$unit_data.sku}>
												<{if ($logistics.work_state == '3' || $logistics.work_state == '4' || $logistics.work_state == '5') && $unit_data.is_in_out == '2'}>
													<br/>
													<span style="color: red;">※주의 : 입/출고 정지 [<{$unit_data.in_out_msg}>]</span>
												<{/if}>
											</td>
											<td <{if $sch_quick == $unit_data.prd_no}>class="quick-wrap"<{/if}> <{if $unit_data.quantity < 0}>class="font-red"<{/if}>><{$unit_data.quantity}></td>
											<td <{if $sch_quick == $unit_data.prd_no}>class="quick-wrap"<{/if}> <{if $unit_data.qty < 0}>class="font-red"<{/if}>><{$unit_data.qty}></td>
										</tr>
										<{assign var=prd_idx value=$prd_idx+1}>
									<{/foreach}>
								<{/foreach}>
								</tbody>
							</table>
						<{elseif $logistics.prd_type == '2' && $logistics.prd_list}>
							<table style="padding: 0; margin: 0; width: 100%; height: 100%;">
								<colgroup>
									<col width="199px;">
									<col width="60px;">
									<col width="101px;">
									<col width="200px;">
									<col width="61px;">
									<col width="61px;">
								</colgroup>
								<tbody>
								<{foreach from=$logistics.prd_list item=prd_data}>
								<tr>
									<td></td>
									<td></td>
									<td <{if $sch_quick == $prd_data.prd_no}>class="quick-wrap"<{/if}>><{$prd_data.warehouse}></td>
									<td class="text-left <{if $sch_quick == $prd_data.prd_no}>quick-wrap<{/if}>">
										<{$prd_data.prd_name}>
										<{if ($logistics.work_state == '3' || $logistics.work_state == '4' || $logistics.work_state == '5') && $prd_data.is_in_out == '2'}>
											<br/>
											<span style="color: red;">※주의 : 입/출고 정지 [<{$prd_data.in_out_msg}>]</span>
										<{/if}>
									</td>
									<td <{if $sch_quick == $prd_data.prd_no}>class="quick-wrap"<{/if}>><{$prd_data.quantity}></td>
									<td <{if $sch_quick == $prd_data.prd_no}>class="quick-wrap"<{/if}>><{$prd_data.quantity}></td>
								</tr>
								<{/foreach}>
								</tbody>
							</table>
						<{/if}>
						</td>
						<td> <!-- 요청사항 -->
							<{if $logistics.is_quick_memo == '1'}>
								[EMP 입고/반출 메모 삽입요청]<br/>
								<input type="text" name="f_quick_memo" value="<{$logistics.quick_memo}>" style="width: 99%;" disabled>
							<{/if}>
							<textarea name="f_quick_req_memo" class="textarea_work_message" style="width: 99%; height: auto; min-height: 60px;" disabled><{$logistics.quick_req_memo}></textarea>
							<{if $logistics.quick_req_file_path}>
							<div style="margin: 0 5px;">
								<button type="button" onclick="openFileDownload('<{$logistics.lm_no}>')" class="btn_file" title="다운로드" style="margin:0; padding: 0; color: black; background: none; font-weight:bold; font-size: 11px; letter-spacing: -1px; float: left;">
									<img src="./images/icon/file_download.png" style="cursor: pointer;" alt="다운로드">
								</button>
							</div>
							<{/if}>
						</td>
						<td class="work_td"> <!-- 업무처리자 -->
							<{if permissionNameCheck($session_permission, "물류관리자")}>
								<input type="text" name="task_run_name" class="form-control task_run_name" value="<{$logistics.task_run_name}>" attr-key="<{$logistics.lm_no}>">
							<{else}>
								<{if $logistics.run_s_name}>
									<{$logistics.run_s_name}><br/>
									(<{$logistics.run_t_name}>)
								<{/if}>
							<{/if}>
						</td>
						<td style="color: gray; text-align: left; padding-left: 10px;"> <!-- 입고/반출/재고이동 리스트 -->
							<{if $logistics.stock_type == '2' && ($logistics.sender_type != '99999' && $logistics.sender_type != '2809')}>
								<div>
									반출 :
									<{if $logistics.out_stock_count > 0}>
										<span>반출리스트</span>
										<a href="product_cms_stock_report_list.php?sch_log_doc_no=<{$logistics.doc_no}>&sch_type=2&sch_s_regdate=&sch_e_regdate=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{else}>
										<select name="f_out_confirm_state" id="f_out_confirm_state_<{$logistics.lm_no}>" class="form-control" style="font-size: 11px; padding: 1px; width: 80px; display: inline-block;">
											<option value="">::선택::</option>
											<{foreach from=$stock_state_group_option key=key item=stock_state_group}>
												<{if $key < 5}>
												<option value="<{$stock_state_group.confirm}>" <{if $key == $logistics.group_state}>selected<{/if}>><{$stock_state_group.state}></option>
												<{/if}>
											<{/foreach}>
										</select>
										<button type="button" class="btn btn-dark" style="font-size: 11px; font-weight: bold; padding: 5px;" onclick="addOutStockReport('<{$logistics.lm_no}>')">직접추가</button>
									<{/if}>
								</div>
							<{/if}>

							<{if $logistics.stock_type != '3' && $logistics.receiver_type == '1113'}>
								<div style="margin-top: 10px;">
									입고 :
									<{if $logistics.in_stock_count > 0}>
										<span>와이즈미디어커머스</span>
										<a href="product_cms_stock_report_list.php?sch_log_doc_no=<{$logistics.doc_no}>&sch_type=1&sch_s_regdate=&sch_e_regdate=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{else}>
										<select name="f_in_confirm_state" id="f_in_confirm_state_<{$logistics.lm_no}>" class="form-control" style="font-size: 11px; padding: 1px; width: 80px; display: inline-block;">
											<option value="">::선택::</option>
											<{foreach from=$confirm_state_option key=key item=label}>
												<{if $key < 6}>
												<option value="<{$key}>"><{$label}></option>
												<{/if}>
											<{/foreach}>
										</select>
										<button type="button" class="btn btn-dark" onclick="addInStockReport('<{$logistics.lm_no}>')" style="font-size: 11px; font-weight: bold; padding: 5px;">직접추가</button>
									<{/if}>
								</div>
							<{/if}>

							<{if $logistics.stock_type == '3' &&
								(
									(($logistics.sender_type == '2809' && $logistics.receiver_type != '2809') || ($logistics.sender_type != '2809' && $logistics.receiver_type == '2809'))
									||
									(($logistics.sender_type == '1113' && $logistics.receiver_type != '1113') || ($logistics.sender_type != '1113' && $logistics.receiver_type == '1113'))
								)
							}>
								<div style="margin-top: 10px;">
									<{if $logistics.sender_type == '2809' || $logistics.sender_type == '1113'}>
										<{if $logistics.in_stock_count >0}>
											<span>입고/반출 리스트</span>
											<a href="product_cms_stock_report_list.php?sch_log_doc_no=<{$logistics.doc_no}>&sch_type=1&sch_s_regdate=&sch_e_regdate=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
											입고 :
											<select name="f_move_in_state" id="f_move_in_state_<{$logistics.lm_no}>" class="form-control" style="font-size: 11px; padding: 1px; width: 75px; display: inline-block; margin:0;">
												<option value="3">이동[입고]</option>
											</select>
											<button type="button" class="btn btn-dark" style="margin:0; font-size: 11px; font-weight: bold; padding: 5px;" onclick="addMoveStockReport('<{$logistics.lm_no}>','in')">직접추가</button>
										<{/if}>
									<{elseif $logistics.receiver_type == '2809' || $logistics.receiver_type == '1113'}>
										<{if $logistics.out_stock_count >0}>
											<span>입고/반출 리스트</span>
											<a href="product_cms_stock_report_list.php?sch_log_doc_no=<{$logistics.doc_no}>&sch_type=2&sch_s_regdate=&sch_e_regdate=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
											반출 :
											<select name="f_move_out_state" id="f_move_out_state_<{$logistics.lm_no}>" class="form-control" style="font-size: 11px; padding: 1px; width: 75px; display: inline-block; margin:0;">
												<option value="6">이동[반출]</option>
											</select>
											<button type="button" class="btn btn-dark" onclick="addMoveStockReport('<{$logistics.lm_no}>','out');" style="margin:0; font-size: 11px; font-weight: bold; padding: 5px;">직접추가</button>
										<{/if}>
									<{/if}>
								</div>
							<{/if}>
						</td>
						<td class="work_td"> <!-- 업무진행 -->
							<textarea name="f_task_run" class="textarea_work_message" onchange="save_el('<{$logistics.lm_no}>', '<{$logistics.w_no}>', 'f_task_run', this)" style="width: 99%; height: 80%; min-height: 60px;"><{$logistics.task_run}></textarea>
						</td>
						<td class="work_td"> <!-- 관리자메모 -->
							<textarea name="f_manager_memo" class="textarea_work_message" onchange="save_el('<{$logistics.lm_no}>', '<{$logistics.w_no}>', 'f_manager_memo', this)" style="width: 99%; height: 80%; min-height: 60px;"><{$logistics.manager_memo}></textarea>
						</td>
						<td class="work_td"> <!-- w_no -->
							<{$logistics.w_no}>
							<a href="work_list.php?sch_w_no=<{$logistics.w_no}>" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
						</td>
					</tr>
					<{/foreach}>
					<tr>
						<td colspan="22" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="22" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div>
		<button onclick="location.href='excel_logistics_management.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
	</div>
</div>
<form name="new_ord_frm" id="new_ord_frm" action="logistics_management.php" method="post">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="lm_no" value="">
	<input type="hidden" name="chk_lm_no_list" class="chk_lm_no_list" value="">
	<input type="hidden" name="chk_value" value="">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#work_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term,
						s_no: "",
						f_all: true
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.sch_c_name,
								cname : item.c_name,
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#work_c_no").val(ui.item.cno);
				$(this).val(ui.item.cname);
			},
			focus: function( event, ui ) {
				event.preventDefault();
				$("#work_c_no").val(ui.item.cno);
				$(this).val(ui.item.cname);
				return false;
			},
			minLength: 1
		});

		$(".task_run_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label : item.ss_label,
								sno   : item.s_no,
								team  : item.team,
								sname : item.ss_label
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var key = $(this).attr('attr-key');
				$(this).val(ui.item.sname);

				save_work_el(key, ui.item.sno, ui.item.team, 'f_task_run_staff', $(this));
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});
	});

	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function regDateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".reg_date_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
	}

	function save_el(lm_no, w_no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_task_run' || proc == 'f_manager_memo')) {
			$.post("logistics_management.php", {lm_no: lm_no, w_no : w_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_work_el(lm_no, s_no, team, proc, obj)
	{
		if(!s_no || !team){
			alert("처리자를 다시 입력 후 이용해주세요.");
			return false;
		}

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("logistics_management.php", {lm_no: lm_no, s_no : s_no, team: team, process : proc}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}

	function addOrder(lm_no)
	{
		if(confirm("택배리스트 추가하시겠습니까?")){
			document.new_ord_frm.process.value = "new_order";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.submit();
		}
	}

	function addQuick(lm_no)
	{
		if(confirm("입/출고요청 리스트에 추가하시겠습니까?")){
			document.new_ord_frm.process.value = "new_quick";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.submit();
		}
	}

	function addCommerce(lm_no, sup_c_no, loc_type, is_global)
	{
		if(loc_type == '2'){
			if(!is_global){
				alert("해외건은 처리할 수 없습니다.");
				return false;
			}
		}

		if(confirm("발주리스트에 추가하시겠습니까?")){
			document.new_ord_frm.process.value 		= "new_commerce";
			document.new_ord_frm.lm_no.value 		= lm_no;
			document.new_ord_frm.chk_value.value 	= sup_c_no;
			document.new_ord_frm.submit();
		}
	}

	function delOrder(lm_no)
	{
		if(confirm("정말로 취소/삭제 처리 하나요?")){
			document.new_ord_frm.process.value = "del_order";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.submit();
		}
	}

	function errorLogistics(lm_no)
	{
		if(confirm("오배송 회수를 진행하시겠습니까?\n동일한 제품의 수량을 ‘–’로 하여 문서가 새로 작성됩니다.\n변경사항은 세부내역에서 수정 후 진행바랍니다")){
			document.new_ord_frm.process.value = "new_error";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.submit();
		}
	}

	function quick_search(type)
	{
		eval("var f=document.getElementById('search_form');");
		f.sch_quick_type.value=type;

		f.submit();
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkLmSelect()
	{
		var chk_lm_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_lm_no_list += ($(item).val() + ",");
			}
		});

		if(chk_lm_no_list != ""){
			chk_lm_no_list = chk_lm_no_list.slice(0, -1);
		}

		$(".chk_lm_no_list").val(chk_lm_no_list);
	}

	function changeMultiState()
	{
		checkLmSelect();

		if($(".chk_lm_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_state").val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("진행상태를 변경하시겠습니까?"))
		{
			document.new_ord_frm.process.value = 'multi_work_state';
			document.new_ord_frm.chk_value.value = $("#mod_state").val();
			document.new_ord_frm.submit();
		}

		return false;
	}

	function addMultiOrder()
	{
		checkLmSelect();

		if($(".chk_lm_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("처리형태 택배 및 입/출고요청 리스트에서 주문이 생성되지 않은 것들만 등록됩니다. 해당 리스트에 추가하시겠습니까?"))
		{
			document.new_ord_frm.process.value = 'multi_add_order';
			document.new_ord_frm.submit();
		}

		return false;
	}

	function addRocData()
	{
		var f = document.forms['logistics_roc_frm'];

		if(!$('#work_c_no').val()){
			alert("업체명/브랜드를 선택해주세요. 업무리스트 등록시 사용됩니다");
			return;
		}

		if(!$('#roc_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("로켓배송 데이터를 적용시키겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function addInStockReport(lm_no)
	{
		if(!$("#f_in_confirm_state_"+lm_no).val())
		{
			alert("입고 상태를 선택해주세요.");
			return false;
		}

		if(confirm("입고리스트에 추가하시겠습니까?"))
		{
			document.new_ord_frm.process.value = "new_in_stock_report";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.chk_value.value = $("#f_in_confirm_state_"+lm_no).val();
			document.new_ord_frm.submit();
		}
	}

	function addOutStockReport(lm_no)
	{
		if(!$("#f_out_confirm_state_"+lm_no).val())
		{
			alert("출고 상태를 선택해주세요.");
			return false;
		}

		if(confirm("출고리스트에 추가하시겠습니까?"))
		{
			document.new_ord_frm.process.value = "new_out_stock_report";
			document.new_ord_frm.lm_no.value = lm_no;
			document.new_ord_frm.chk_value.value = $("#f_out_confirm_state_"+lm_no).val();
			document.new_ord_frm.submit();
		}
	}

	function addMoveStockReport(lm_no, type)
	{
		if(confirm("재고이동 리스트에 추가하시겠습니까?"))
		{
			document.new_ord_frm.process.value		= "new_move_stock_report";
			document.new_ord_frm.lm_no.value 		= lm_no;
			document.new_ord_frm.chk_value.value 	= type;
			document.new_ord_frm.submit();
		}
	}

	function openFileDownload(lm_no){
		var fileDownloadUrl = "logistics.file_download.php?lm_no="+lm_no;
		var windowName 		= "파일 다운로드";
		window.open(fileDownloadUrl,windowName,'width=530, height=440, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	function delLogistics(lm_no)
	{
		if(confirm("삭제 하시겠습니까?"))
		{
			document.new_ord_frm.process.value		= "del_logistics";
			document.new_ord_frm.lm_no.value 		= lm_no;
			document.new_ord_frm.submit();
		}
	}

	function searchStopInOut(work_state)
	{
		location.href = "logistics_management.php?sch_reg_s_date=&sch_reg_e_date=&sch_work_state="+work_state+"&sch_is_in_out=2";
	}
</script>

</body>
</html>
