<{include file="inc/boot_navibar.html"}>
<meta name="viewport" content="width=device-width, initial-scale=0.78" />

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<script type="text/javascript" src="<{$dir_location}>js/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="<{$dir_location}>css/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="<{$dir_location}>css/slick/slick-theme.css"/>

<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
    #main-slider {width: 430px; height: 410px;}
    #main-slider .slick-next{right:0; z-index: 10;}
    #main-slider .slick-prev{left:0; z-index: 10;}
    #main-slider img{width: 430px; height: 410px;}

    @font-face {
      font-family: 'SBAggroB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    #birthday-modal{height: auto; overflow: unset; max-width: 480px; padding: 5px;left: 25%; position: absolute; top: 15%;}
    #birthday-modal img{width: 100%;}
    #birthday-modal span{font-family: 'SBAggroB'; position: absolute; font-size: 46px; display: inline-block; padding: 5px 30px; top: 46%; left: 50%; transform: translate(-50%, -50%); color: white;box-sizing: border-box; width: max-content;}
    #employment-modal{height: auto; overflow: unset; max-width: 480px; padding: 5px;left: 25%; position: absolute; top: 15%;}
    #employment-modal img{width: 100%;}
    #employment-modal span{font-family: 'SBAggroB'; position: absolute; font-size: 46px; display: inline-block; padding: 5px 30px; top: 46%; left: 50%; transform: translate(-50%, -50%); color: white;box-sizing: border-box; width: max-content;}
    #join-modal{height: auto; overflow: unset; max-width: 480px; padding: 5px;left: 25%; position: absolute; top: 15%;}
    #join-modal img{width: 100%;}
    #join-modal span{font-family: 'SBAggroB'; position: absolute; font-size: 46px; display: inline-block; padding: 5px 30px; top: 46%; left: 50%; transform: translate(-50%, -50%); color: white;box-sizing: border-box; width: max-content;}

    @media all and (max-width: 1500px){
    #birthday-modal{left: unset; top: unset; position: relative;}
    #employment-modal{left: unset; top: unset; position: relative;}
    #join-modal{left: unset; top: unset; position: relative;}
    }
    .asset_table_body th{text-align: center;}

    #reservation-modal{padding: 60px; height: auto; margin: 0; max-width: unset; min-width: 800px; width: auto; overflow: unset;}
    #reservation-check-modal{padding: 5px; height: auto; margin: 0; max-width: 650px;overflow: unset;}
    #reservation-modal, #reservation-check-modal{border: 0;}
    #reservation-modal h2, #reservation-check-modal h2{color: red; font-size: 25px; margin-bottom: 20px;}
    #reservation-modal p,  #reservation-check-modal p{margin: 5px 0 15px; font-size: 12px;}
    #reservation-modal table,  #reservation-check-modal table{margin: 0;}

    #check-holiday-modal{height: auto; overflow: unset; max-width: 480px; padding: 5px;left: 25%; position: absolute; top: 15%;}
    #check-holiday-modal .modal-content{border: 0;}

    #check-waple-chat-modal{height: auto; overflow: unset; max-width: 480px; padding: 5px;left: 25%; position: absolute; top: 15%;}
    #check-waple-chat-modal .modal-content{border: 0;}
    .thead-dark th{color: #fff !important; background-color: #343a40; border-color: #454d55 !important; text-align: center; vertical-align: middle;}

    #work-team-table tbody td.row_sum{background: lightblue;}
    #work-team-table tbody td.total_sum{background: lightgrey;}
</style>

<div class="admin_content" style="min-width:440px;">
    <!-- 1열 -->
    <div class="table_list_style main_left" align="center" style="min-width:440px; max-width:440px;"> <!-- table_list_style main_left -->
        <div class="dim-layer">
            <div class="dimBg"></div>
            <{if $board_notice_popup_list}>
                <{foreach from=$board_notice_popup_list item=board_popup}>
                <div id="pop_layer_<{$board_popup.no}>" class="pop-layer" style="overflow: auto;max-height: 90%;">
                    <div class="pop-container">
                        <div class="pop-conts">
                            <!--content //-->
                            <div class="btn-r">
                                <a href="#" class="btn-end-layerClose" style="display: inline-block; height: 27px; padding: 0 18px 0; background-color: #6e6e6e; font-size: 13px; color: #fff; line-height: 25px; float: left;">다시열지않음</a>
                                <a href="#" class="btn-layerClose">Close (하루동안 뜨지 않음)</a>
                            </div>
                            <table style="min-width:380px;max-width:830px;">
                                <tr>
                                    <td style="border: 0px solid #ccc; font-size: 13px; line-height: 1.6; word-wrap: break-word; vertical-align:top;">
                                        <{$board_popup.contents}>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn" style="font-size: 14px;border-radius: 5px;background: #333;color: white;width: 200px;height: 40px;margin-bottom: 10px;" onclick="location.href='<{$board_popup.url}>'">이동하기</button></td>
                                </tr>
                            </table>
                            <!--// content-->
                        </div>
                    </div>
                </div>
                <{/foreach}>
            <{/if}>
        </div>

        <!-- 와이즈 공지사항 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#c73333;">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="font-size:17px; background-color:#c73333; width:440px;position: relative;">
                        <span style="color:#ffffff;"># 와이즈 공지사항 #</span>
                        <a href="board/board_notice_list.php?b_id=wp_down00" target="_blank" style="color:#ffffff; font-size: 12px; position: absolute; bottom: 2px;right: 5px;">[more]</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr> <!-- MAIN (image) -->
                    <td colspan="2">
                        <{if $board_notice_slider_list}>
                        <div id="main-slider">
                            <{foreach from=$board_notice_slider_list item=main_slider}>
                            <a href="<{$main_slider.link}>" style="overflow: hidden; cursor:pointer;">
                                <img src="<{$main_slider.img}>" style="cursor:pointer; width: 100%;">
                            </a>
                            <{/foreach}>
                        </div>
                        <{/if}>
                    </td>
                </tr>
                <{if $board_notice_main_list}>
                    <{foreach from=$board_notice_main_list item=board_main}>
                    <tr>
                        <td class="alignL" style="font-size:12px; font-weight:600; padding-left:5px; ">
                            <p style="width:355px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; word-wrap:normal;">
                                <a href="board/board_notice_detail.php?no=<{$board_main.no}>&b_id=<{$board_main.b_id}>">
                                    <{$board_main.title}>
                                </a>
                            </p>
                            <p style="text-align:right;">
                                <span style="color:red; font-size:11px;"><{if $board_main.notice_ago < 7}><{$board_main.notice_ago}> days ago<{/if}></span>
                            </p>
                        </td>
                        <td style="width:65px;min-width:65px;max-width:65px;font-size: 12px;">
                            <{$board_main.s_name}>
                        </td>
                    </tr>
                    <{/foreach}>
                <{/if}>
            </tbody>
  	    </table>
        <!-- 와이즈 공지사항 End -->

        <!-- 와이즈 공용설비 예약시스템 Start -->
        <{if $asset_share_total_num > 0}>
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#333;">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="font-size:17px; background-color:#333; width:440px;">
                        <span style="color:#ffffff;"># 공용설비 예약시스템 #</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="background-color:#333;">
                        <a href="./asset_reservation_calendar.php?sch_as_no=<{$sch_as_no}>" style="color: white;">[more]</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <{if $asset_share_total_num > 0}>
                <tr>
                    <td>
                        <input type="hidden" name="sch_asset_name" id="sch_asset_name" value="<{$asset_share_list[$sch_as_no].label}>">
                        <select name="sch_as_no" id="sch_as_no" class="select_type1" style="width: 100%;" onchange="assetReservationChange(this)">
                            <{foreach from=$asset_share_list key=as_no item=asset_share}>
                            <option value="<{$as_no}>" <{if $as_no == $sch_as_no}>selected<{/if}>><{$asset_share.label}><{if $asset_share.cur_cnt}>(지금사용가능)<{/if}></option>
                            <{/foreach}>
                        </select>
                        <br/>
                        <div>
                            <a href="main.php?sch_as_no=<{$sch_as_no}>&sch_r_date=<{$sch_prev_date}>">◀</a>
                                <input type="text" class="date-picker" value="<{$sch_r_date}>" name="sch_r_date" id="sch_r_date" style="text-align: center; width: 100px; font-size: 13px;" onchange="assetReservationChangeDate(this)">
                            <a href="main.php?sch_as_no=<{$sch_as_no}>&sch_r_date=<{$sch_next_date}>">▶</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <{if $asset_share_reservation_total_num > 0}>
                        <{foreach from=$asset_share_reservation_list item=share_reservation}>
                        <div onclick="openAsset('<{$share_reservation.as_r_no}>', '<{$sch_as_no}>');" style="cursor: pointer; background: <{$share_reservation.color}>; height: 30px;line-height: 30px;"><{$share_reservation.title}></div>
                        <{/foreach}>
                    <{else}>
                        <div style="background: #dcdcdc;height: 35px;line-height: 35px;">예약된 내역이 없습니다</div>
                    <{/if}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form name="new_asset_frm" id="new_asset_frm" action="main.php" method="post" style="margin-top: 10px;">
                            <input type="hidden" name="process" value="new_asset_reservation">
                            <input type="hidden" name="new_as_no" value="<{$sch_as_no}>">
                            <input type="hidden" name="new_as_name" value="<{$new_asset_name}>">
                            <input type="hidden" name="new_work_state" value="<{$new_work_state}>">
                            <input type="hidden" name="new_management" value="<{$new_management}>">
                            <input type="hidden" name="new_manager" value="<{$new_manager}>">
                            <input type="hidden" name="new_sub_manager" value="<{$new_sub_manager}>">
                            <input type="hidden" name="new_r_s_day" value="<{$sch_r_date}>">
                            <input type="hidden" name="new_r_e_day" value="<{$sch_r_date}>">
                            <div style="overflow: hidden; margin: 0 auto; display: table;">
                                <select class="form-control new_r_s_date" name="new_r_s_hour" id="new_r_s_hour" style="width:40px; height:25px; float: left; padding: 0; font-size: 11px;">
                                    <{foreach from=$asset_hour_list item=hour}>
                                    <option value="<{$hour}>" <{if $hour == $cur_hour}>selected<{/if}>><{$hour}></option>
                                    <{/foreach}>
                                </select>
                                <span style="float: left; display: inline-block; line-height: 32px;">시</span>
                                <select class="form-control new_r_s_date" name="new_r_s_min" id="new_r_s_min" style="width:40px; height:25px; float: left; padding: 0; font-size: 11px;">
                                    <{foreach from=$asset_min_list item=min}>
                                    <option value="<{$min}>" <{if $min == $cur_min}>selected<{/if}>><{$min}></option>
                                    <{/foreach}>
                                </select>
                                <span style="float: left; display: inline-block; line-height: 32px;">분</span>
                                <span style="float: left; display: inline-block; margin: 0 5px; line-height: 32px;"> ~ </span>
                                <select class="form-control" name="new_r_e_hour" id="new_r_e_hour" style="width:40px; height:25px;  float: left; padding: 0; font-size: 11px;">
                                    <{foreach from=$asset_hour_list item=hour}>
                                    <option value="<{$hour}>" <{if $hour == $cur_hour}>selected<{/if}>><{$hour}></option>
                                    <{/foreach}>
                                </select>
                                <span style="float: left; display: inline-block; line-height: 32px;">시</span>
                                <select class="form-control" name="new_r_e_min" id="new_r_e_min" style="width:40px; height:25px; float: left; padding: 0; font-size: 11px;" >
                                    <{foreach from=$asset_min_list item=min}>
                                    <option value="<{$min}>" <{if $min == $cur_min}>selected<{/if}>><{$min}></option>
                                    <{/foreach}>
                                </select>
                                <span style="float: left; display: inline-block; line-height: 32px;">분</span>
                                <button type="button" onclick="changeTime('30')" style="float: left; background: #333; color: white; padding: 4px 10px; font-size: 12px; border-radius: 5px;margin-left: 10px;">+30분</button>
                                <button type="button" onclick="changeTime('60')" style="float: left; background: #333; color: white; padding: 4px 10px; font-size: 12px; border-radius: 5px;margin-left: 5px;">+1시간</button>
                                <input type="hidden" id="s_date_change" name="s_date_change" value="">
                            </div>
                            <div style="clear:both;">
                                <span>예약내용</span>
                                <textarea name="new_task_req" style="width: 300px; height: 70px;"><{$new_asset_form}></textarea>
                            </div>
                            <button type="button" onclick="newEmptyCheck()" style="width: 100%; background: #333; color: white; padding: 5px; box-sizing: border-box; margin-top: 5px; ">예약하기</button>
                        </form>
                    </td>
                </tr>
                <{else}>
                <tr>
                    <td>예약가능한 공용설비가 없습니다</td>
                </tr>
                <{/if}>
            </tbody>
        </table>
        <{/if}>
        <!-- 와이즈 공용설비 예약시스템 End -->

        <!-- 주 사용하는 계정 자산 리스트 Start -->
        <{if $session_non_count > 0}>
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#333; word-break: break-all;">
            <input type="hidden" name="asset_page" id="asset_page" value="1">
            <colgroup>
                <col width="130">
                <col width="130">
                <col width="140">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="3" align="center" style="font-size:17px; background-color:#333; width:440px;">
                        <span style="color:#ffffff;"># 자주 사용하는 계정 자산 리스트 #</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right" style="background-color:#333;">
                        <button type="button" onclick="openQuickAsset()" style="color: white;">[설정]</button>
                    </td>
                </tr>
            </thead>
            <tbody class="asset_table_body">
                <tr>
                    <th colspan="2" style="background: #999; color: white; padding:0;">사이트명 : URL / ID / PW</th>
                    <th style="background: #999; color: white; padding:0;">비고</th>
                </tr>
                <{if $non_object_asset_total > 0}>
                    <{foreach from=$non_object_asset_list item=non_object_asset}>
                    <tr>
                        <td colspan="2" style="text-align: left;">
                            <{if $non_object_asset['asset_state'] == '2' || $non_object_asset['asset_state'] == '3' || $non_object_asset['asset_state'] == '4'}>
                                <b style="color: red;">[<{$non_object_asset['asset_state_name']}>]</b>
                            <{/if}>
                            <a href="asset_regist.php?as_no=<{$non_object_asset.as_no}>"><{$non_object_asset.object_site}>: </a>
                            <a href="<{$non_object_asset.object_url}>" target="_blank"><{$non_object_asset.object_url}></a>
                        </td>
                        <td rowspan="2">
                            <textarea name="asset_notice" readonly><{$non_object_asset.notice}></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="asset_object_id" value="<{$non_object_asset.object_id}>" style="width: 120px;" readonly>
                        </td>
                        <td>
                            <input type="text" name="asset_object_pw" value="<{$non_object_asset.object_pw}>" style="width: 120px;" readonly>
                        </td>
                    </tr>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="3">자주 사용하는 계정 자산을 추가하려면 위에 [설정]을 클릭하세요.</td>
                    </tr>
                <{/if}>
            </tbody>
            <{if $non_object_button_total > 10}>
            <tfoot class="asset_table_foot">
                <tr>
                    <td colspan="3" style="text-align: center; background: #333;">
                        <button type="button" style="color: white; width: 100%; padding: 5px;" onclick="moreAssetBtn()">더보기</button>
                    </td>
                </tr>
            </tfoot>
            <{/if}>
        </table>
        <{/if}>
        <!-- 자주 사용하는 계정 자산 리스트 End -->

        <!-- 0000-00 생일자 및 입사기념일 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # <{$cur_month}> 생일자 및 입사기념일 #
                    </td>
                </tr>
            </thead>
            <tbody>
                <{if $cur_month_birthday_list}>
                    <tr>
                        <td style="width:65px;min-width:65px;max-width:65px;color:coral;">
                            생일자
                        </td>
                        <td class="alignL" style="word-break:keep-all;">
                            <span style="font-size:12px; color:coral;">
                                <{foreach from=$cur_month_birthday_list item=cur_month_birthday}>
                                    <{$cur_month_birthday.s_name}>(<{$cur_month_birthday.birthday}>)&nbsp;
                                <{/foreach}>
                            </span>
                        </td>
                    </tr>
                <{/if}>
                <{if $cur_month_employment_list}>
                    <tr>
                        <td style="width:65px;min-width:65px;max-width:65px; color:blueviolet;">
                            입사일
                        </td>
                        <td class="alignL" style="word-break:keep-all;">
                            <span style="font-size:12px; color:blueviolet;">
                                <{foreach from=$cur_month_employment_list item=cur_month_employment}>
                                    <{$cur_month_employment.s_name}>(<{$cur_month_employment.employment_date}><span style="font-size:10px; color:blueviolet;"><{if $cur_month_employment.employ_th == 0}> new<{else}> <{$cur_month_employment.employ_th}>th<{/if}></span>)&nbsp;
                                <{/foreach}>
                            </span>
                        </td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
        <!-- 0000-00 생일자 및 입사기념일 End -->

        <!-- 000님의 진행중인 OKR Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # <span style="color:blue;"><{$session_name}></span>님의 진행중인 OKR #
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="background-color:#dcdcdc;">
                        <a href="./okr_list.php">[more]</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <{if $okr_obj_list}>
                    <{foreach from=$okr_obj_list key=oo_no item=okr_obj}>
                        <form name="apply_okr_frm<{$oo_no}>" id="apply_okr_frm<{$oo_no}>" action="main.php" method="post" enctype="multipart/form-data" onsubmit="return false;">
                            <input type="hidden" name="process">
                            <input type="hidden" name="obj_no" value="<{$oo_no}>">
                            <tr>
                                <td style="min-width:24px;max-width:24px;">
                                    OBJ
                                </td>
                                <td class="alignL">
                                    <a href="./okr_regist.php?oo_no=<{$oo_no}>">
                                        <span style="font-size:12px;">
                                            <{$okr_obj.obj_name}>
                                        </span>
                                    </a>
                                    <span style="color: red;"><{$okr_obj.avg_complete_rate}>% 완료</span>
                                    <br>
                                    <span style="color:red;">[<{$okr_obj.state_name}>]</span>
                                    <{$okr_obj.sdate}> ~ <{$okr_obj.edate}>
                                    <span style="color: blue;"><{if $okr_obj.obj_d_day < 0}>[D<{$okr_obj.obj_d_day}>일]<{/if}></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="alignL">&nbsp;</td>
                                <td class="alignL">
                                    <div id="<{$oo_no}>_display_list" style="display: none;">
                                        <{foreach from=$okr_obj.okr_kr_list key=ok_no item=okr_kr}>
                                            KR<input type="text" class="input_type_w300" name="f_kr_name" value="<{$okr_kr.kr_name}>" disabled/>
                                            <input type="text" name="f_complete_rate" onchange="save_el('<{$ok_no}>', 'save_okr', 'complete_rate', this)" class="input_type6" style="text-align:right;" value="<{$okr_kr.complete_rate}>" maxlength="4"/>%
                                            <br>
                                            &nbsp;&nbsp;&nbsp;<span style="font-size:8px;">kr_result</span>
                                            <textarea name="f_kr_result" onchange="save_el('<{$ok_no}>', 'save_okr', 'kr_result', this)" onfocus="kr_result_click(this)" onfocusout="kr_result_click_out(this)" class="textarea_work_message" style="width:325px; height:22px; color:#777777;"><{$okr_kr.kr_result}></textarea>
                                            <br>
                                        <{/foreach}>
                                        <button type="button" style="width:394px; height:20px; color:black; background-color:#d5d5d5;" onclick="kr_display('<{$oo_no}>', 'hide');" class="btn_small">▲▲▲ Key Result 접어두기 ▲▲▲</button>
                                    </div>
                                    <div id="<{$oo_no}>_display_btn_show">
                                        <button type="button" style="width:394px; height:20px; color:black; background-color:#d5d5d5;" onclick="kr_display('<{$oo_no}>', 'show');" class="btn_small">▼▼▼ Key Result 펼쳐보기 ▼▼▼</button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="2" align="center" style="color:#808080;">
                            해당 내역이 없습니다.
                        </td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
        <!-- 000님의 진행중인 OKR End -->

        <!-- 000님의 할일(MY TO_O_LIST) Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="4" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # <span style="color:blue;"><{$session_name}></span>님의 나의 할일(MY TO_DO_LIST) #
                        <br>
                        <span style="color:gray; font-size:11px;">(지난 할일중 완료 혹은 중단이 안된건과 오늘 할일 전체가 표시 됩니다.)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right" style="background-color:#dcdcdc;">
                        <a href="./to_do_list_calendar.php">[more]</a>
                    </td>
                </tr>
                <tr>
                    <th class="first" style="min-width:75px;max-width:75px;">날짜</th>
                    <th style="min-width:70px;max-width:70px;">진행<br>상태</th>
                    <th style="min-width:25px;max-width:25px;">중요</th>
                    <th style="min-width:260px;max-width:260px;">할일</th>
                </tr>
            </thead>
            <tbody>
                <{if $to_do_list}>
                    <{foreach from=$to_do_list item=to_do}>
                        <form name="apply_td_frm<{$to_do.td_no}>" id="apply_td_frm<{$to_do.td_no}>" action="main.php" method="post" enctype="multipart/form-data" onsubmit="return false;">
                            <input type="hidden" name="process">
                            <input type="hidden" name="td_no" value="<{$to_do.td_no}>">
                            <tr <{if $to_do.state == '2'}>style="background-color:#dcdcdc;"<{/if}>>
                                <td style="font-size:12px;"> <!-- 날짜 -->
                                    <input style="font-size: 10px; width: 64px;" type="text" onchange="save_el('<{$to_do.td_no}>', 'save_to_do_list', 'td_date', this)" class="date-picker input_type_date" name="f_td_date<{$to_do.td_no}>" id="f_td_date<{$to_do.td_no}>" value="<{$to_do.td_date}>" /><br>
                                </td>
                                <td> <!-- 진행상태 -->
                                    <select name="f_td_state" id="f_td_state" onchange="save_el('<{$to_do.td_no}>','save_to_do_list', 'state', this)" class="select_type1" style="width:60px;<{if $to_do.state == '1'}>color:red;<{/if}>">
                                        <{foreach from=$to_do_state_option key=key item=label}>
                                            <option value="<{$key}>" style="font-size:12px; <{if $key == '1'}>color:red;<{else}>color:black;<{/if}>" <{if $to_do.state == $key}>selected<{/if}>><{$label}></option>
                                        <{/foreach}>
                                    </select>
                                </td>
                                <td> <!--중요 -->
                                    <input class="star star-1" name="f_td_important<{$to_do.td_no}>" id="f_td_important<{$to_do.td_no}>" onchange="save_el('<{$to_do.td_no}>', 'save_to_do_list', 'important', this)" style="vertical-align:baseline;" <{if $to_do.important=='1'}>checked<{/if}> type="checkbox"/>
                                    <label class="star star-1" id="label_td_important<{$to_do.td_no}>" style="float: none;font-size:16px;padding:0 0;margin: 0 -2px 0 -2px;" for="f_td_important<{$to_do.td_no}>"></label>
                                </td>
                                <td class="alignL"> <!-- 할일 -->
                                    <input type="text" style="width:225px;" onchange="save_el('<{$to_do.td_no}>', 'save_to_do_list', 'contents', this)" name="f_td_contents" id="f_td_contents" value="<{$to_do.contents}>" placeholder="::할일을 입력하세요::"/>
                                    <a href="#" onclick="del_to_do_list('<{$to_do.td_no}>');"><img title="삭제하기" style="margin: 0px 0px -5px -2px;" src="./images/icon/del_icon.png"></a>
                                </td>
                            </tr>
                        </form>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="4" align="center" style="color:#808080;">
                            해당 내역이 없습니다.
                        </td>
                    </tr>
                <{/if}>
                <tr>
                    <td colspan="4">
                        <form name="apply_td_frm_new" id="apply_td_frm_new" class="apply_td_frm_new" action="main.php" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="process">
                            <button onclick="return add_today_to_do_list();" style="width:420px;" class="btn_small">추가하기</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 000님의 할일(MY TO_O_LIST) End -->
    </div>

    <!-- 2열 -->
    <div class="table_list_style main_right" align="center" style="min-width:440px; max-width:440px;">

        <!-- 와플 알림톡 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:rgb(55,96,146);">
            <thead>
            <tr>
                <td align="center" style="font-size:17px; width:440px; background-color:rgb(55,96,146);">
                        <span style="color:#ffffff;"># 와플 알림톡 #
                            <{if $waple_chat_new_cnt > 0}>
                            <span style="background: red; color: white; display: inline-block; border-radius: 10px; width: 20px; height: 20px; line-height: 20px; "><{$waple_chat_new_cnt}></span>
                            <{/if}>
                        </span>
                </td>
            </tr>
            <tr>
                <td align="right" style="background-color:rgb(55,96,146);">
                    <a href="waple_chat.php" target="_blank" style="color:#ffffff; font-size: 12px;">[more]</a>
                </td>
            </tr>
            </thead>
            <tbody>
            <{if $waple_chat_list}>
                <{foreach from=$waple_chat_list item=chat_main}>
                    <tr>
                        <td class="text-left" style="padding: 5px 10px;">
                            <div style="overflow: hidden;clear: both;">
                                <b style="font-size:14px; margin-right: 5px;"><{$chat_main.s_name}></b>
                                <span style="font-size: 10px;"><{$chat_main.regdate}></span>
                                <div style="overflow: hidden; margin-top: 5px;">
                                    <span style="display: inline-block; float: left; margin-right: 5px; background: #333; color: white; padding: 3px 10px;"><{$chat_main.title}></span>
                                    <a href="waple_chat.php?sch_chat_no=<{$chat_main.wc_no}>" target="_blank" style="display: inline-block; float: left; font-size: 13px; width: 340px; height: 22px; line-height: 22px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;"><{$chat_main.content}></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <{/foreach}>
            <{else}>
                <tr>
                    <td>알림톡 내역이 없습니다.</td>
                </tr>
            <{/if}>
            </tbody>
        </table>
        <!-- 와플 알림톡 END -->

        <!-- 000님의 업무상태는 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # <span style="color:blue;"><{$session_name}></span>님의 업무상태는

                        <select name="f_working_state" id="f_working_state" onchange="save_el('', 'f_working_state', 'working_state', this)" class="select_type1" style="width:100px; font-size:14px; color:red;">
                            <option value="">::전체::</option>
                            <{foreach from=$working_state_option key=key item=label}>
                                <option value="<{$key}>" style="font-size:14px; color:black;" <{if $key == $my_working_state}>selected<{/if}>><{$label}></option>
                            <{/foreach}>
                        </select>
                        입니다. #
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:65px;min-width:65px;max-width:65px;">
                        재택근무중
                    </td>
                    <td class="alignL" style="word-break:keep-all;">
                        <span style="font-size:12px;">
                        <{foreach from=$working_state_list item=working}>
                            <{if $working.state == '2'}>
                                <{$working.s_name}>&nbsp;
                            <{/if}>
                        <{/foreach}>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:65px;min-width:65px;max-width:65px;">
                        외근중
                    </td>
                    <td class="alignL" style="word-break:keep-all;">
                        <span style="font-size:12px;">
                            <{foreach from=$working_state_list item=working}>
                                <{if $working.state == '3'}>
                                    <{$working.s_name}>&nbsp;
                                <{/if}>
                            <{/foreach}>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:65px;min-width:65px;max-width:65px;color:#808080;">
                        대체휴일중
                    </td>
                    <td class="alignL" style="word-break:keep-all;">
                        <span style="font-size:12px;color:#808080;">
                            <{foreach from=$working_state_list item=working}>
                                <{if $working.state == '4'}>
                                    <{$working.s_name}>&nbsp;
                                <{/if}>
                            <{/foreach}>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:65px;min-width:65px;max-width:65px;color:#808080;">
                        휴가중
                    </td>
                    <td class="alignL" style="word-break:keep-all;">
                        <span style="font-size:12px;color:#808080;">
                            <{foreach from=$working_state_list item=working}>
                                <{if $working.state == '5'}>
                                    <{$working.s_name}>&nbsp;
                                <{/if}>
                            <{/foreach}>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 000님의 업무상태는 End -->

        <!-- 000님의 업무처리현황 Start -->
        <table id="work-team-table" cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="8" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        #
                        <select name="sch_team" id="sch_team" class="select_type1" style="width: auto; font-size: 14px;" onchange="workTeamChange(this)">
                            <option value="">::전체::</option>
                            <{foreach from=$team_name_list key=key item=label}>
                                <option value="<{$key}>" <{if $key == $sch_team}>selected<{/if}> style="font-size:14px; color:black;"><{$label}></option>
                            <{/foreach}>
                        </select>
                        의 업무처리 현황 #
                    </td>
                </tr>
                <tr>
                    <td colspan="8" align="right" style="background-color:#dcdcdc;">
                        <a href="/v1/wise_wm/work_main.php">[more]</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8">
                        <div id="work-team-chart" style="text-align: left; width: 425px; height: 300px; padding:6px 1px;"></div>
                    </td>
                </tr>
                <{if $work_team_data_list}>
                    <tr class="thead-dark">
                        <th class="first" style="min-width:80px; max-width:80px;"><{$team_key_name}></th>
                        <{foreach from=$work_team_date_list key=key_date item=date_label}>
                            <th style="min-width:50px; max-width:50px;"><{$date_label}></th>
                        <{/foreach}>
                        <th style="min-width:50px; max-width:50px;">합계</th>
                    </tr>
                    <{foreach from=$work_team_data_name_list key=run_key item=run_name}>
                        <tr>
                            <td class="text-center first"><{$run_name}></td>
                            <{assign var=team_row_total value=0}>
                            <{foreach from=$work_team_date_list key=key_date item=date_label}>
                                <td class="text-center"><{$work_team_data_list[$key_date][$run_key]|number_format:0}></td>
                                <{assign var=team_row_total value=$team_row_total+$work_team_data_list[$key_date][$run_key]}>
                            <{/foreach}>
                            <td class="text-center row_sum" ><{$team_row_total|number_format:0}></td>
                        </tr>
                    <{/foreach}>
                    <tr>
                        <td class="text-center first total_sum">합계</td>
                        <{foreach from=$work_team_date_list key=key_date item=date_label}>
                            <td class="text-center total_sum"><{$work_team_date_total_list[$key_date]|number_format:0}></td>
                        <{/foreach}>
                        <td class="text-center total_sum"></td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
        <!-- 000님의 업무처리현황 End -->
    </div>
    <!-- 2열 END -->

    <!-- 3열 -->
    <div class="table_list_style main_right" align="center" style="min-width:440px; max-width:440px;"> <!-- table_list_style main_right -->
        <!-- 월간 검색수 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # 월간검색수 #
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form name="apply_sch_frm" id="apply_sch_frm" method="post" action="main.php" enctype="multipart/form-data" onsubmit="return false;">
                            <input type="hidden" name="process">
                            키워드 <textarea name="f_keyword_new" id="f_keyword_new" class="textarea_memo_detail" style="height:30px;"></textarea>
                            <button type="button" style="width:70px;" onclick="return monthly_keyword_cnt();" class="btn_small_memo">검색</button><br>
                            <div id="monthly_total_cnt" style="font-size:18px;color:blue;font-weight:normal"></div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 월간 검색수 End -->

        <!-- 월간 매출통계 Start -->
        <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
            <thead>
                <tr>
                    <td colspan="3" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                        # <{$cur_month}> 월간 매출통계 #
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right" style="background-color:#dcdcdc;">
                        <a href="./deposit_sum.php">[more]</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="deposit-month-chart" style="width: 430px; height: 250px; padding:6px 1px;"></div>
                    </td>
                </tr>
                <tr>
                    <th class="first" style="min-width:135px; font-size:12px;">부서명</th>
                    <th style="min-width:55px;max-width:55px; font-size:12px;">이름</th>
                    <th style="min-width:240px;max-width:240px;">매출액</th>
                </tr>
            </thead>
            <tbody>
                <{foreach from=$deposit_list item=deposit}>
                    <tr <{if $deposit.s_no == $session_s_no}>style="background-color: yellow;"<{/if}>>
                        <td style="font-size:12px;"> <!-- 부서명 -->
                            <{$deposit.t_name}>
                        </td>
                        <td style="font-size:12px;"> <!-- 이름 -->
                            <{$deposit.s_name}>
                        </td>
                        <td class="money alignR" style="color: #0026ff;"> <!-- 매출액 -->
                            ￦ <{$deposit.sum_dp_money|number_format:0}>
                        </td>
                    </tr>
              <{/foreach}>
            </tbody>
        </table>
        <!-- 월간 매출통계 End -->


        <!-- 주간 커머스 판매수 통계 Start -->
        <{if $week_ord_product_data_list}>
            <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
                <thead>
                    <tr>
                        <td colspan="9" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;"># 주간 커머스 판매수 통계 #</td>
                    </tr>
                    <tr>
                        <td colspan="9" align="right" style="background-color:#dcdcdc;">
                            <a href="./stats/wise_work_01b.php?sch_kind=3&sch_s_date2=<{$graph_w_s_date}>&sch_e_date2=<{$graph_w_e_date}>">[more]</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <div id="week-ord-prd-chart" style="width: 430px; height: 250px; padding:6px 1px;"></div>
                        </td>
                    </tr>
                    <tr id="chart_03_list_display_btn_show">
                        <td style="text-align:center;">
                            <button type="button" style="width:98%; color:black; background-color:#d5d5d5;" onclick="chart_list_display('chart_03', 'show');" class="btn_small">▼▼▼ 리스트로 자세히보기(펼치기) ▼▼▼</button>
                        </td>
                    </tr>
                    <tr id="chart_03_list_display_btn_hide" style="display: none;">
                        <td colspan="9" style="text-align:center;">
                            <button type="button" style="width:98%; color:black; background-color:#d5d5d5;" onclick="chart_list_display('chart_03', 'hide');" class="btn_small">▲▲▲ 차트로 간단히보기(접기) ▲▲▲</button>
                        </td>
                    </tr>
                    <tr id="chart_03_list_display1">
                        <th class="first" style="min-width:135px; font-size:11px;">부서명</th>
                        <th style="min-width:55px;max-width:55px; font-size:11px;">이름</th>
                        <{foreach from=$week_date_name_list key=key_date item=date_data}>
                            <th rowspan="2" style="min-width:33px;max-width:33px; font-size:8px;"><{$date_data.date}><br>(<{$date_data.week}>)</th>
                        <{/foreach}>
                    </tr>
                    <tr id="chart_03_list_display2">
                        <th class="first" colspan="2" style="border-top: 1px solid #ccc;">커머스 상품명</th>
                    </tr>
                </thead>

                <tbody id="chart_03_list_display3">
                    <{foreach from=$week_ord_team_name_list key=week_team item=week_team_name}>
                        <{foreach from=$week_ord_staff_name_list[$week_team] key=week_s_no item=week_staff_name}>
                            <tr <{if $week_s_no == $session_s_no}>style="background-color: yellow;"<{/if}>>
                                <td style="font-size:11px; text-align:left;"><{$week_team_name}></td>
                                <td style="font-size:11px; text-align:left;"><{$week_staff_name}></td>
                                <td colspan="7"></td>
                            </tr>
                            <{foreach from=$week_ord_prd_name_list[$week_team][$week_s_no] key=week_prd_no item=week_prd_name}>
                                <tr <{if $week_s_no == $session_s_no}>style="background-color: yellow;"<{/if}>>
                                    <td colspan="2" style="font-size:11px; text-align:left;">└> <{$week_prd_name}></td>
                                    <{foreach from=$week_date_name_list key=key_date item=date_data}>
                                        <td style="font-size:11px;"><{$week_ord_product_data_list[$week_team][$week_s_no][$week_prd_no][$key_date]|number_format:0}></td>
                                    <{/foreach}>
                                </tr>
                            <{/foreach}>
                        <{/foreach}>
                    <{/foreach}>
                </tbody>
            </table>
        <{/if}>
        <!-- 주간 커머스 판매수 통계 End -->

        <!-- 주간 커머스 매출 통계 Start -->
        <{if $week_ord_brand_data_list}>
            <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
                <thead>
                    <tr>
                        <td colspan="9" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
                            # 주간 커머스 매출 통계(단위:천원) #
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" align="right" style="background-color:#dcdcdc;">
                            <a href="./stats/wise_work_02b.php?sch_kind=3&sch_s_date2=<{$graph_w_s_date}>&sch_e_date2=<{$graph_w_e_date}>">[more]</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <div id="week-ord-brand-chart" style="width: 430px; height: 250px; padding:6px 1px;"></div>
                        </td>
                    </tr>
                    <tr id="chart_04_list_display_btn_show">
                        <td style="text-align:center;">
                            <button type="button" style="width:98%; color:black; background-color:#d5d5d5;" onclick="chart_list_display('chart_04', 'show');" class="btn_small">▼▼▼ 카테고리별 리스트(펼치기) ▼▼▼</button>
                        </td>
                    </tr>
                    <tr id="chart_04_list_display_btn_hide">
                        <td colspan="9" style="text-align:center;">
                            <button type="button" style="width:98%; color:black; background-color:#d5d5d5;" onclick="chart_list_display('chart_04', 'hide');" class="btn_small">▲▲▲ 카테고리별 리스트(접기) ▲▲▲</button>
                        </td>
                    </tr>

                    <tr id="chart_04_list_display1">
                        <th class="first" style="min-width:108px; font-size:10px;">카테고리명</th>
                        <{foreach from=$week_date_name_list key=key_date item=date_data}>
                            <th rowspan="2" style="min-width:33px;max-width:33px; font-size:8px;"><{$date_data.date}><br>(<{$date_data.week}>)</th>
                        <{/foreach}>
                        <th class="first" style="min-width:40px; font-size:10px;">total</th>
                    </tr>
                </thead>
                <tbody id="chart_04_list_display3">
                    <{foreach from=$week_ord_brand_sort_list key=week_brand item=$brand_row_total}>
                        <tr>
                            <td style="font-size:10px; text-align:left;">└> <{$week_ord_brand_name_list[$week_brand]}></td>
                            <{foreach from=$week_date_name_list key=key_date item=date_data}>
                                <td style="font-size:10px; color:red;" class="alignR">
                                    <{$week_ord_brand_data_list[$week_brand][$key_date]|number_format:0}>
                                </td>
                            <{/foreach}>
                            <td style="font-size:10px; color:red;" class="alignR">
                                <{$brand_row_total|number_format:0}>
                            </td>
                        </tr>
                    <{/foreach}>
                </tbody>
            </table>
        <{/if}>
        <!-- 주간 커머스 매출 통계 End -->

        <script type="text/javascript">
            $("#chart_03_list_display1").hide();
            $("#chart_03_list_display2").hide();
            $("#chart_03_list_display3").hide();
            $("#chart_03_list_display_btn_show").show();
            $("#chart_03_list_display_btn_hide").hide();

            $("#chart_04_list_display1").hide();
            $("#chart_04_list_display3").hide();
            $("#chart_04_list_display_btn_show").show();
            $("#chart_04_list_display_btn_hide").hide();
        </script>
    </div>
</div>

<{if $is_birthday_today}>
    <div class="modal" id="birthday-modal">
        <div class="modal-content" style="position: relative">
            <span><{$session_name}>님</span>
            <img src="./images/waple/waple_birthday_2023.png" />
            <div style="position: absolute;bottom: 5px;right: 0;">
                <input type="checkbox" id="close-birthday-modal" onclick="eventModalClose('birthday')">
                <label for="close-birthday-modal" style="cursor: pointer;">더 이상 열지 않기</label>
            </div>
        </div>
    </div>
<{/if}>

<{if $is_employment_today}>
    <div class="modal" id="employment-modal">
        <div class="modal-content" style="position: relative">
            <span ><{$session_name}>님</span>
            <img src="./images/waple/waple_employment_2023.png" />
            <div style="position: absolute;bottom: 5px;right: 0;">
                <input type="checkbox" id="close-employment-modal" onchange="eventModalClose('employment')">
                <label for="close-employment-modal" style="cursor: pointer;">더 이상 열지 않기</label>
            </div>
        </div>
    </div>
<{/if}>

<{if $is_join_today}>
    <div class="modal" id="join-modal">
        <div class="modal-content" style="position: relative">
            <span ><{$session_name}>님</span>
            <img src="./images/waple/waple_join_2023.png" />
            <div style="position: absolute;bottom: 5px;right: 0;">
                <input type="checkbox" id="close-join-modal" onchange="eventModalClose('join')">
                <label for="close-join-modal" style="cursor: pointer;">더 이상 열지 않기</label>
            </div>
        </div>
    </div>
<{/if}>

<div class="modal" id="reservation-modal">
    <div class="modal-content">
    </div>
</div>

<div class="modal" id="reservation-check-modal">
    <div class="modal-content">
    </div>
</div>

<div class="modal" id="check-holiday-modal">
    <div class="modal-content">
        <form action="main.php" name="chk_holiday_frm" id="chk_holiday_frm" method="post">
            <input type="hidden" name="process" value="check_holiday">
            <input type="hidden" name="chk_cs_no" value="<{$chk_cs_no}>">
            <img src="images/chk_holiday_tmp.png" style="width: 100%;">
            <div style="margin-bottom: 30px; text-align: center;">
                <button type="button" onclick="location.href='logout.php';">
                    <img src="images/chk_holiday_tmp_cancel.png" style="width: 140px;">
                </button>
                <button type="submit">
                    <img src="images/chk_holiday_tmp_confirm.png" style="width: 140px;">
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="check-waple-chat-modal">
    <input type="hidden" name="waple_chat_cnt" id="waple_chat_cnt" value="<{$waple_chat_popup_cnt}>">
    <div class="modal-content">
        <div style="padding: 20px;">
            <b style="font-size: 14px;">[알림톡(팝업]</b>
            <{foreach from=$waple_chat_popup_list item=chat_popup}>
                <div style="text-align: left; margin: 20px 0;">
                    <{$chat_popup}>
                </div>
            <{/foreach}>
        </div>
    </div>
</div>

<script type="text/javascript">

    function openAsset(as_r_no, as_no)
    {
        $.ajax({
            url: "/v1/api/asset_reservation.modal.api.php",
            type: 'POST',
            data: {as_r_no: as_r_no, sch_as_no: as_no, as_no: as_no}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var html     = jsonData.html;

            $("#reservation-modal").find(".modal-content").html(html);
            $("#reservation-modal").modal({fadeDuration: 250});
        });
    }

    function modifyReservation()
    {
        var assetReservefrm = document.asset_reserv_frm;
        var as_r_no     = assetReservefrm.as_r_no.value;
        var as_no       = $('#sch_as_no').val();
        var assetName   = $("#sch_asset_name").val();
        var r_s_date    = assetReservefrm.new_r_s_day.value + " " + assetReservefrm.new_r_s_hour.value + ":" + assetReservefrm.new_r_s_min.value + ":00";
        var r_e_date    = assetReservefrm.new_r_e_day.value + " " + assetReservefrm.new_r_e_hour.value + ":" + assetReservefrm.new_r_e_min.value + ":00";

        assetReservefrm.action='main.php';

        if(!as_no){
            as_no = assetReservefrm.as_no.value;
        }

        if(r_s_date > r_e_date)
        {
            alert('마감시간을 재설정해주세요');
            return false;
        }

        if(r_s_date == r_e_date){
            alert('예약 시작시간과 마감시간을 다르게 설정해주세요');
            return false;
        }

        $.ajax({
            url: "/v1/api/asset_reservation.check.api.php",
            type: 'POST',
            data: {as_no: as_no, as_r_no: as_r_no, asset_name: assetName, r_s_date: r_s_date, r_e_date: r_e_date}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;
            var html     = jsonData.html;

            if(result == true) {
                assetReservefrm.process.value = 'modify_asset_reservation';
                assetReservefrm.submit();
                return true;
            }else{
                $("#reservation-check-modal").find('.modal-content').html(html);

                $("#reservation-check-modal").modal({
                    fadeDuration: 250,
                    closeExisting: false
                });

                return false;
            }
        });
    }

    function cancelReservation()
    {
        var asset_reserv_frm = document.asset_reserv_frm;
        asset_reserv_frm.action='main.php';
        asset_reserv_frm.process.value = 'cancel_asset_reservation';
        asset_reserv_frm.submit();
    }

    function openQuickAsset(){
        window.open('popup/quick_asset_set.php', '자주하는 자산 무형(계정) 설정하기','width=644, height=500, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
    }

    function moreAssetBtn()
    {
        var page = $("#asset_page").val();

        $.post("api/asset.quick.api.php", {page : page}, function(data) {
            var jsonData   = JSON.parse(data);
            var result     = jsonData.result;
            var asset_list = jsonData.asset_list;

            if(result == true){

                var html = "";
                for(var i in asset_list){
                    html += "<tr>"
                    + "<td colspan='2' style='text-align: left;'>"
                    + "<a href='asset_regist.php?as_no=" + asset_list[i].as_no + "'>" + asset_list[i].object_site + ": </a>"
                    + "<a href='"+asset_list[i].object_url+"' target='_blank'>" + asset_list[i].object_url + "</a>"
                    + "</td>"
                    + "<td rowspan='2'>"
                    + "  <textarea>"+asset_list[i].notice+"</textarea>"
                    + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td>"
                    + "<input type='text' value='"+asset_list[i].object_id+"' style='width: 120px;' readonly>"
                    + "</td>"
                    + "<td>"
                    + " <input type='text' value='" + asset_list[i].object_pw + "' style='width: 120px;' readonly>"
                    + "</td>"
                    + "</tr>";
                }

                $(".asset_table_body").append(html);
                var next_page = Number(page) + 1;
                $("#asset_page").val(next_page);

            }else {
              alert("데이터를 로드할 수 없습니다");
            }
        });
    }

    function assetReservationChange(obj){
        var sch_as_no  = $(obj).val();
        var sch_r_date = $('#sch_r_date').val();

        if(sch_as_no != ''){
            location.href="main.php?sch_as_no="+sch_as_no+"&sch_r_date="+sch_r_date;
        }
    }

    function assetReservationChangeDate(obj){
        var sch_r_date  = $(obj).val();
        var sch_as_no   = $('#sch_as_no').val();

        if(sch_as_no != ''){
            location.href="main.php?sch_as_no="+sch_as_no+"&sch_r_date="+sch_r_date;
        }
    }

    function changeTime(time)
    {
        var r_s_change = $("#s_date_change").val();
        var r_e_hour = Number($('#new_r_e_hour').val());
        var r_e_min = $('#new_r_e_min').val();
        var r_e_min_cal = Number(r_e_min)+Number(time);

        if(r_s_change == '1')
        {
            r_e_hour = Number($('#new_r_s_hour').val());
            r_e_min = $('#new_r_s_min').val();
            r_e_min_cal = Number(r_e_min)+Number(time);
            $("#s_date_change").val("");
        }

        if(time == '60'){
            var r_e_hour_cal = r_e_hour+1;
            if(r_e_hour_cal > 23){
              r_e_hour_cal = 0;
            }

            r_e_min_cal  = r_e_min;
            r_e_hour_cal = lpad(r_e_hour_cal, 2, '0');
        }else if(r_e_min_cal >= 60){
            r_e_min_cal -= 60;
            r_e_hour_cal = r_e_hour+1;
            r_e_hour_cal = lpad(r_e_hour_cal, 2, '0');
        }else{
            r_e_hour_cal = lpad(r_e_hour, 2, '0');
        }

        $('#new_r_e_hour').val(r_e_hour_cal);
        $('#new_r_e_min').val(r_e_min_cal);
    }

    function newEmptyCheck()
    {
        var assetFrm  = document.new_asset_frm;
        var as_no     = $('#sch_as_no').val();
        var r_s_date = assetFrm.new_r_s_day.value + " " + assetFrm.new_r_s_hour.value + ":" + assetFrm.new_r_s_min.value + ":00";
        var r_e_date = assetFrm.new_r_e_day.value + " " + assetFrm.new_r_e_hour.value + ":" + assetFrm.new_r_e_min.value + ":00";

        if(r_s_date > r_e_date)
        {
            alert('마감시간을 재설정해주세요');
            return false;
        }

        if(r_s_date == r_e_date){
            alert('예약 시작시간과 마감시간을 다르게 설정해주세요');
            return false;
        }

        $.ajax({
            url: "/v1/api/asset_reservation.check.api.php",
            type: 'POST',
            data: {as_no: as_no, r_s_date: r_s_date, r_e_date: r_e_date}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;

            if(result == true) {
                assetFrm.submit();
                return true;
            }else{
                alert('이미 예약이 있습니다. 다른 시간을 선택하세요');
                return false;
            }
        });
    }

    function lpad(str, padLen, padStr)
    {
        str += ""; // 문자로
        padStr += ""; // 문자로

        while (str.length < padLen)
            str = padStr + str;

        str = str.length >= padLen ? str.substring(0, padLen) : str;
        return str;
    }

    $(document).ready(function(){
        $('#main-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });

        $(".new_r_s_date").change(function(){
            $("#s_date_change").val("1");
        });

        $("#new_r_s_hour").change(function(){
            $("#new_r_e_hour").val($(this).val());
        });

        $("#new_r_s_min").change(function(){
            $("#new_r_e_min").val($(this).val());
        });

        if($("#waple_chat_cnt").val() > 0){
            $("#check-waple-chat-modal").modal({
                fadeDuration: 250
            });
        }


        <{if $board_notice_popup_list}>
            <{foreach from=$board_notice_popup_list item=board_popup}>
                checkNoticePopup('<{$board_popup.no}>');
            <{/foreach}>
        <{/if}>

        <{if $is_join_today && $is_employment_today && $is_birthday_today}>
            eventModelOpen('join', 'third');
        <{elseif $is_join_today && $is_birthday_today}>
            eventModelOpen('join', 'both');
        <{elseif $is_birthday_today && $is_employment_today}>
            eventModelOpen('birthday', 'both');
        <{else}>
            <{if $is_join_today}>
               eventModelOpen('join', 'one');
            <{/if}>
            <{if $is_employment_today}>
                eventModelOpen('employment', 'one');
            <{/if}>
            <{if $is_birthday_today}>
                eventModelOpen('birthday', 'one');
            <{/if}>
        <{/if}>

        <{if $chk_holiday}>
            $("#check-holiday-modal").modal({fadeDuration: 250});
        <{/if}>
    });

    function checkNoticePopup(b_no)
    {
        var popup_id = "#pop_layer_"+b_no;
        var end     = getCookie(popup_id+"_end");
        var oneday  = getCookie(popup_id);

        if (end != 'end' && oneday != 'end') {
            layer_popup(popup_id);
            $(popup_id).draggable();
        }else{
            $(popup_id).hide();
        }
    }

    function eventModelOpen(type, num)
    {
        var end = getCookie(type +'_modal_end');

        if(type=="join" && num == 'third')
        {
            if (end != 'end'){
                $("#"+type+"-modal").modal({
                    fadeDuration: 250
                });
                $("#"+type+"-modal").on($.modal.AFTER_CLOSE, function(event, modal) {
                    eventModelOpen('birthday', 'both');
                });
            }else{
                eventModelOpen('birthday', 'both');
            }
        }
        else if(type=="join" && num == 'both')
        {
            if (end != 'end'){
                $("#"+type+"-modal").modal({
                    fadeDuration: 250
                });
                $("#"+type+"-modal").on($.modal.AFTER_CLOSE, function(event, modal) {
                    eventModelOpen('birthday', 'one');
                });
            }else{
                eventModelOpen('birthday', 'one');
            }
        }
        else if(type=="birthday" && num == 'both')
        {
            if (end != 'end'){
                $("#"+type+"-modal").modal({
                    fadeDuration: 250
                });
                $("#"+type+"-modal").on($.modal.AFTER_CLOSE, function(event, modal) {
                    eventModelOpen('employment', 'one');
                });
            }else{
                eventModelOpen('employment', 'one');
            }
        }else{
            if (end != 'end'){
                $("#"+type+"-modal").modal({
                    fadeDuration: 250
                });
            }
        }
    }

    function eventModalClose(type){
        var el = type+"_modal_end";
        setCookie( el, "end" , 1);
        $.modal.close();
    }

    function inputNumberFormat(obj)
    {
        obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str)
    {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str)
    {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }

    function monthly_keyword_cnt()
    {
        var f = document.forms['apply_sch_frm'];
        var keyword = f.f_keyword_new.value;

        $.post("main.php", {process : "monthly_keyword_cnt", f_keyword_new : keyword}, function(data) {
            $("#monthly_total_cnt").html(data);
        });
    }

    function search_prd_code()
    {
        var f = document.forms['sch_prd_frm'];

        var sch_prd_code = f.sch_prd_code.value;

        $.post("main.php", {process : "search_prd_code", sch_prd_code : sch_prd_code}, function(data) {
            $("#prd_code_sch_data").html(data);
        });
    }

    function save_extension(w_no, extension_value)
    {
        eval("var f=document.getElementById('apply_extension_frm" + w_no + "');");
        f.f_extension.value = extension_value;
        f.process.value = "save_extension";

        if(extension_value==1)
        {
            if (confirm("연장 시 동일한 내용으로 새로 요청됩니다.") == true) {
                f.submit();
                return;
            } else {
                return;
            }
        }else{
            f.submit();
        }
    }

    function save_el(no, proc, type, obj)
    {
        var val         = obj.value;
        var default_val = obj.defaultValue;

        if(type == 'important'){
            var divEl = $("#label_td_important"+no);
            var x = divEl.position();
        }else if(type == 'evaluation'){
            var divEl = $("#label_star_"+no);
            var x = divEl.position();
        }else{
            var x = $(obj).position();
        }

        if(type == 'complete_rate' && val > 100){
            alert("100까지 입력 가능합니다");
            return false;
        }

        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val && type != 'evaluation')
            return false;

        if(type == 'important'){
            val = (obj.checked) ? "1" : "2";
        }

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "") {
            $.post("main.php", {no : no, process : proc, type : type, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }else{
            alert("공백 저장이 불가능합니다.");
            location.reload();
        }
    }

    function extension_prd_change(){
        eval("var f=document.getElementById('extension_prd_frm');");
        f.submit();
    }

    function sch_work_state_change(){
        eval("var f=document.getElementById('working_frm');");
        f.submit();
    }

    // Key Result 펼쳐보기 / 접어두기
    function kr_display(obj, type){
        var f = document.forms['search_form'];

        if(type=='show'){
            $("#"+obj+"_display_list").show();
            $("#"+obj+"_display_btn_show").hide();
        }else if(type=='hide'){
            $("#"+obj+"_display_list").hide();
            $("#"+obj+"_display_btn_show").show();
        }
    }


    function kr_result_click(f)
    {
        f.style.width           = "329px";
        f.style.backgroundColor = "yellow";
        f.style.height          = (f.scrollHeight)+"px";
    }

    function kr_result_click_out(f){
        f.style.width           = "329px";
        f.style.backgroundColor = "";
        f.style.height          = "22px";
    }

    // 추가하기
    function add_today_to_do_list()
    {
        eval("var f=document.getElementById('apply_td_frm_new');");
        f.process.value = 'add_today_to_do_list';

        f.submit();
    }

    // 삭제하기
    function del_to_do_list(td_no)
    {
        eval("var f=document.getElementById('apply_td_frm" + td_no + "');");
        f.process.value = 'del_to_do_list';

        if (confirm("삭제 하시겠습니까??") == true){
            f.submit();
        } else {
            return;
        }
    }

    function number_format(number, decimals, dec_point, thousands_sep)
    {
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };

        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }

        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }

        return s.join(dec);
	}

    // 숫자 타입에서 쓸 수 있도록 format() 함수 추가
	Number.prototype.format = function(){
	    if(this==0) return 0;

	    var reg = /(^[+-]?\d+)(\d{3})/;
	    var n = (this + '');

	    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

	    return n;
	};

	// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
	String.prototype.format = function(){
	    var num = parseFloat(this);
	    if( isNaN(num) ) return "0";

	    return num.format();
	};

    jQuery('.format-money').text(function() {
        jQuery(this).text(
            jQuery(this).text().format()
        );
	});

    function chart_list_display(chart, type){
        if(type=='show'){
            $("#" + chart + "_list_display1").show();
            $("#" + chart + "_list_display2").show();
            $("#" + chart + "_list_display3").show();

            $("#" + chart + "_list_display_btn_show").hide();
            $("#" + chart + "_list_display_btn_hide").show();
        }else if(type=='hide'){
            $("#" + chart + "_list_display1").hide();
            $("#" + chart + "_list_display2").hide();
            $("#" + chart + "_list_display3").hide();

            $("#" + chart + "_list_display_btn_show").show();
            $("#" + chart + "_list_display_btn_hide").hide();
        }
    }

    function layer_popup(el)
    {
        var $el = $(el);        //레이어의 id를 $el 변수에 저장
        var end_el = el+"_end";
        var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

        $('.dim-layer').fadeIn();

        var $elWidth = ~~($el.outerWidth()),
            $elHeight = ~~($el.outerHeight()),
            docWidth = $(document).width(),
            docHeight = $(document).height();

        // 화면의 중앙에 레이어를 띄운다.
        if ($elWidth < docWidth && docWidth > 600) {
            $el.css({
                top: '3%',
                bottom: 'inherit',
                left: '3%',
                marginTop: 0
            });
        } else {
            $el.css({top: '3%', left: 0, bottom: 'inherit', width: '90%', margin: '0 auto', display: 'table', position: 'relative'});
            $el.find('img').css({width: '100%'});
        }

        $el.find('a.btn-layerClose').click(function(){
            var display_layer = $(".pop-layer");
            var display_count = 0;

            $.each(display_layer, function(idx, item){
                if($(item).css('display') == 'block'){
                    display_count++;
                }
            });

            (display_count == 1) ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            setCookie( el, "end" , 1);
            return false;
        });

        $el.find('a.btn-end-layerClose').click(function(){
            var display_layer = $(".pop-layer");
            var display_count = 0;

            $.each(display_layer, function(idx, item){
                if($(item).css('display') == 'block'){
                    display_count++;
                }
            });

            (display_count == 1) ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
            setCookie( end_el, "end", 7);
            return false;
        });

        $('.dim-layer .dimBg').click(function(){
            $('.dim-layer').fadeOut();
            return false;
        });
    }

    // 쿠키 가져오기
    function getCookie( name ) {
        var nameOfCookie = name + "=";
        var x = 0;
        while ( x <= document.cookie.length ){
            var y = (x+nameOfCookie.length);
            if ( document.cookie.substring( x, y ) == nameOfCookie ) {
                if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 )
                    endOfCookie = document.cookie.length;

                return unescape( document.cookie.substring( y, endOfCookie ) );
            }

            x = document.cookie.indexOf( " ", x ) + 1;
            if ( x == 0 )
                break;
        }
        return "";
    }

    // 24시간 기준 쿠키 설정하기
    // expiredays 후의 클릭한 시간까지 쿠키 설정
    function setCookie( name, value, expiredays ) {
        var todayDate = new Date();
        if(expiredays){
            todayDate.setDate( todayDate.getDate() + expiredays );
            document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";";
        }else{
            document.cookie = name + "=" + escape( value ) + "; path=/; expires='';";
        }
    }

    function copyKeywordTable()
    {
        var keywordTable = 'keyword-table';
        if(document.body.createTextRange)
        {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(document.getElementById(keywordTable));
            textRange.execCommand("Copy");
        }else{
            window.getSelection().selectAllChildren(document.getElementById(keywordTable));
            document.execCommand('Copy');
        }
    }

    var depositChart 	= echarts.init(document.getElementById('deposit-month-chart'),null, {renderer : 'canvas'});
    drawDepositChart();

    function drawDepositChart()
    {
        var fullData	= <{$deposit_chart_list}>;
        var titleData 	= <{$deposit_chart_name_list}>;

        if(fullData != '')
        {
            var pushData 	 = [];
            var pushNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push(item);
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            depositChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: "5%",
                    bottom: "2%",
                    left: "1%",
                    right: "1%",
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData,
                    axisLabel: {
                        interval: 0,
                        width: 100,
                        overflow: 'truncate'
                    },
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}천원'
                    }
                },
                series:  [
                    {
                        name: "# <{$cur_month}> 월간 매출통계 #",
                        barWidth: '60%',
                        type : 'bar',
                        color: '#FCACAC',
                        data: pushData,
                    }
                ]
            });
        }
    }

    function workTeamChange(obj){
        var sch_team = $(obj).val();
        location.href="main.php?sch_team="+sch_team;
    }

    var workTeamChart 	= echarts.init(document.getElementById('work-team-chart'), null, {renderer : 'canvas'});
    drawWorkTeamStats();

    function drawWorkTeamStats()
    {
        var fullData	= <{$work_team_chart_list}>;
        var titleData 	= <{$work_team_chart_name_list}>;
        var staffData 	= <{$work_team_chart_run_name_list}>;

        if(fullData != '')
        {
            var pushData 	  = [];
            var pushNameData  = [];
            var staffNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push({
                    name: item['title'],
                    type: 'bar',
                    stack: 'qty',
                    data: item['data'],
                });
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            $.each(staffData, function(idx, item){
                staffNameData.push(item);
            });

            workTeamChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: "5%",
                    right: "5%",
                    top: "5%",
                    bottom: "5%",
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData
                },
                yAxis: {
                    type: 'value'
                },
                series: pushData
            });
        }
    }

    var cmsWeekOrdPrdChart 	= echarts.init(document.getElementById('week-ord-prd-chart'), null, {renderer : 'canvas'});
    drawWeekOrdPrdStats();

    function drawWeekOrdPrdStats()
    {
        var fullData	= <{$week_ord_product_chart_list}>;
        var titleData 	= <{$week_ord_chart_date_list}>;

        if(fullData != '')
        {
            var pushData 	 = [];
            var pushNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push(item);
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            cmsWeekOrdPrdChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: "5%",
                    bottom: "2%",
                    left: "1%",
                    right: "1%",
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData,
                    axisLabel: {
                        interval: 0,
                        overflow: 'truncate'
                    },
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}건'
                    }
                },
                series:  [
                    {
                        name: "# 주간 커머스 판매수 통계 #",
                        barWidth: '60%',
                        type : 'bar',
                        color: '#FCACAC',
                        data: pushData,
                    }
                ]
            });
        }
    }

    var cmsWeekOrdBrandChart = echarts.init(document.getElementById('week-ord-brand-chart'), null, {renderer : 'canvas'});
    drawWeekOrdBrandStats();

    function drawWeekOrdBrandStats()
    {
        var fullData	= <{$week_ord_brand_chart_list}>;
        var titleData 	= <{$week_ord_chart_date_list}>;

        if(fullData != '')
        {
            var pushData 	 = [];
            var pushNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push(item);
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            cmsWeekOrdBrandChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: "5%",
                    bottom: "2%",
                    left: "1%",
                    right: "1%",
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData,
                    axisLabel: {
                        interval: 0,
                        overflow: 'truncate'
                    },
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}천원'
                    }
                },
                series:  [
                    {
                        name: "# 주간 커머스 매출 통계(단위:천원) #",
                        barWidth: '60%',
                        type : 'bar',
                        color: '#FCACAC',
                        data: pushData,
                    }
                ]
            });
        }
    }
</script>

</body>
</html>
