<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle; height: 36px;}
	.table tbody th{vertical-align: middle; height: 36px; text-align: center; color: #fff; background-color: #343a40; border-color: #454d55;}
	.table tbody td{vertical-align: middle; text-align: right; height: 36px;}
	.table tbody td.cost-price-td{color: red;}
	.table tbody td.sales-price-td{color: blue;}
	.table tbody td.base-price-td{color: black;}
	.table tbody td.td-title{text-align: left; color: #fff; background-color: #343a40; border-color: #454d55;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">※ 기준일(A), 비교일(B) 설정 후 데이터가 노출됩니다</span>

	<form name="search_form" id="search_form" class="form-inline" action="media_commerce_stats_report_term.php" method="get" autocomplete="off" style="display: block; margin-top: 5px;">
		<input type="hidden" name="sch_date_type" value="<{$sch_date_type}>">
		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_base_s_date">기준일(A)</label>
				<input type="text" name="sch_base_s_date" id="sch_base_s_date" class="date-picker form-control" value="<{$sch_base_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_base_e_date" id="sch_base_e_date" class="date-picker form-control" value="<{$sch_base_e_date}>" style="margin-left: 5px;" />

				<label for="sch_comp_s_date">비교일(B)</label>
				<input type="text" name="sch_comp_s_date" id="sch_comp_s_date" class="date-picker form-control" value="<{$sch_comp_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_comp_e_date" id="sch_comp_e_date" class="date-picker form-control" value="<{$sch_comp_e_date}>" style="margin-left: 5px;" />
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">판매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>

				<a href="media_commerce_auto_report.php?<{$search_report_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_list_off.png">
				</a>
				<a href="media_commerce_compare_chart.php?<{$search_report_url}>" style="margin-right: 5px;">
					<img src="./images/icon/work_chart_off.png">
				</a>
				<a href="media_commerce_stats_report_term.php?<{$search_url}>">
					<img src="./images/icon/compare_on.png">
				</a>
			</div>
		</div>
	</form>
	<div style="overflow:hidden; margin-top: 10px;">
		<table class="table table-bordered" style="table-layout: fixed; width: auto; margin-top: 20px; float: left;">
			<colgroup>
				<col width="300px;"> <!-- 구분 -->
				<col width="140px;"> <!-- 비교일 -->
				<col width="140px;"> <!-- 증감률 -->
				<col width="140px;"> <!-- 기준일 -->
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" style="background: white; color: #333;">비용(자동)</th>
					<th scope="col">비교일(B)</th>
					<th scope="col">(증감률)</th>
					<th scope="col">기준일(A)</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_all_data_list['chk_empty'] > 0}>
					<tr>
						<td class="td-title">비용(자동) 합계</td>
						<td class="cost-price-td"><{$total_all_data_list['auto_comp_cost']|number_format:0}></td>
						<td>
							<{if $total_all_data_list.auto_cost_per != 0}>
								<{$total_all_data_list.auto_cost_per|number_format:1}>%
								<{if $total_all_data_list.auto_cost_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.auto_cost_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="cost-price-td"><{$total_all_data_list['auto_base_cost']|number_format:0}></td>
					</tr>
					<tr>
						<td colspan="4" style="border-bottom: 1px solid #333;"></td>
					</tr>
					<tr>
						<th scope="col" style="background: white; color: #333;">비용(수기입력)</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
					<tr>
						<td class="td-title">비용(수기입력) 합계</td>
						<td class="cost-price-td"><{$total_all_data_list['self_comp_cost']|number_format:0}></td>
						<td>
							<{if $total_all_data_list.self_cost_per != 0}>
								<{$total_all_data_list.self_cost_per|number_format:1}>%
								<{if $total_all_data_list.self_cost_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.self_cost_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="cost-price-td"><{$total_all_data_list['self_base_cost']|number_format:0}></td>
					</tr>
					<tr>
						<td colspan="4" style="border-bottom: 1px solid #333;"></td>
					</tr>
					<tr>
						<th scope="col" style="background: white; color: #333;">매출(자동)</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
					<tr>
						<td class="td-title">매출(자동) 합계</td>
						<td class="sales-price-td"><{$total_all_data_list['auto_comp_sales']|number_format:0}></td>
						<td>
							<{if $total_all_data_list.auto_sales_per != 0}>
								<{$total_all_data_list.auto_sales_per|number_format:1}>%
								<{if $total_all_data_list.auto_sales_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.auto_sales_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="sales-price-td"><{$total_all_data_list['auto_base_sales']|number_format:0}></td>
					</tr>
					<tr>
						<td colspan="4" style="border-bottom: 1px solid #333;"></td>
					</tr>
					<tr>
						<th scope="col" style="background: white; color: #333;">매출(수기입력)</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
					<tr>
						<td class="td-title">매출(수기입력) 합계</td>
						<td class="sales-price-td"><{$total_all_data_list['self_comp_sales']|number_format:0}></td>
						<td>
							<{if $total_all_data_list.self_sales_per != 0}>
								<{$total_all_data_list.self_sales_per|number_format:1}>%
								<{if $total_all_data_list.self_sales_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.self_sales_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="sales-price-td"><{$total_all_data_list['self_base_sales']|number_format:0}></td>
					</tr>
					<tr>
						<td colspan="4" style="border-bottom: 1px solid #333;"></td>
					</tr>
					<tr>
						<th scope="col" style="background: white; color: #333;">비용 / 매출 / 손익(공헌)</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
					<tr>
						<td class="td-title">지출 총 합계(+쿠폰 +무료배송비 +광고비)</td>
						<td class="cost-price-td"><{$total_all_data_list.net_comp_cost|number_format:0}></td>
						<td>
							<{if $total_all_data_list.net_cost_per != 0}>
								<{$total_all_data_list.net_cost_per|number_format:1}>%
								<{if $total_all_data_list.net_cost_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.net_cost_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="cost-price-td"><{$total_all_data_list.net_base_cost|number_format:0}></td>
					</tr>
					<tr>
						<td class="td-title">매출 총 합계(상품 매출(수수료 제외) +매출(수기))</td>
						<td class="sales-price-td"><{$total_all_data_list.net_comp_sales|number_format:0}></td>
						<td>
							<{if $total_all_data_list.net_sales_per != 0}>
								<{$total_all_data_list.net_sales_per|number_format:1}>%
								<{if $total_all_data_list.net_sales_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.net_sales_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td class="sales-price-td"><{$total_all_data_list.net_base_sales|number_format:0}></td>
					</tr>

					<tr>
						<td class="td-title">NET 매출</td>
						<td><{$total_all_data_list.net_comp_price|number_format:0}></td>
						<td>
							<{if $total_all_data_list.net_price_per != 0}>
								<{$total_all_data_list.net_price_per|number_format:1}>%
								<{if $total_all_data_list.net_price_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $total_all_data_list.net_price_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							<{/if}>
						</td>
						<td><{$total_all_data_list.net_base_price|number_format:0}></td>
					</tr>
					<tr>
						<td class="td-title">예상지출비용</td>
						<td><{$total_all_data_list.net_comp_expected|number_format:1}>%</td>
						<td></td>
						<td><{$total_all_data_list.net_base_expected|number_format:1}>%</td>
					</tr>
					<tr>
						<td class="td-title">ROAS</td>
						<td><{$total_all_data_list.net_comp_roas|number_format:1}>%</td>
						<td></td>
						<td><{$total_all_data_list.net_base_roas|number_format:1}>%</td>
					</tr>
					<tr>
						<td class="td-title">이익률</td>
						<td><{$total_all_data_list.net_comp_profit_per|number_format:1}>%</td>
						<td></td>
						<td><{$total_all_data_list.net_base_profit_per|number_format:1}>%</td>
					</tr>
					<tr>
						<td class="td-title">차액(공헌이익)</td>
						<td class="<{if $total_all_data_list.net_comp_profit > 0}>sales-price-td<{elseif $total_all_data_list.net_comp_profit < 0}>cost-price-td<{else}>base-price-td<{/if}>">
							<{$total_all_data_list.net_comp_profit|number_format:0}>
						</td>
						<td></td>
						<td class="<{if $total_all_data_list.net_base_profit > 0}>sales-price-td<{elseif $total_all_data_list.net_base_profit < 0}>cost-price-td<{else}>base-price-td<{/if}>">
							<{$total_all_data_list.net_base_profit|number_format:0}>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="4" class="text-center">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_base_s_date").change(function(){
			if(!$("#sch_base_e_date").val()){
				$("#sch_base_e_date").val($(this).val());
			}
		});

		$("#sch_comp_s_date").change(function(){
			if(!$("#sch_comp_e_date").val()){
				$("#sch_comp_e_date").val($(this).val());
			}
		});
	});
</script>

</body>
</html>
