<{include file="inc/boot_navibar.html"}>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}

	.main-container .table-header{width: 330px; table-layout: inherit !important; float: left;border: 0; border-left: 1px solid #dee2e6;}
	.main-container .table-content-wrapper{float: left; max-width: 991px; overflow-x: scroll;}
	.main-container .table-content{table-layout: fixed;border: 0; border-right: 1px solid #dee2e6;}
	.main-container .commerce-section{max-width: 1321px; overflow: hidden;}
	.main-container .table thead th{text-align: center; background: #333; color: white; width: 110px;}
	.main-container .table tbody th.kind-th{width: 300px;}
	.main-container .table tbody th{text-align: left; background: #333; color: white; vertical-align: middle;}
	.main-container .table tbody th button{color: white; border: 0;}
	.main-container .table tbody td{text-align: right; vertical-align: middle; height: 36px;}
	.main-container .table tbody td.cost-price-td{color: red;}
	.main-container .table tbody td.sales-price-td{color: blue;}
	.main-container .table tbody td.cms-price-td{color: blue;}
	.main-container .table tbody td.coupon-price-td{color: red;}
	.main-container .table tbody tr.grey-back-tr{background: #ccc;}
	.main-container .table tbody tr.net-editor-tr th, .main-container .table tbody tr.profit-total-tr th, .main-container .table tbody tr.profit-per-tr th, .main-container .table tbody tr.grey-back-tr th{height: 50px;}
	.main-container .table tbody tr.net-editor-tr td, .main-container .table tbody tr.profit-total-tr td, .main-container .table tbody tr.profit-per-tr td, .main-container .table tbody tr.grey-back-tr td{height: 50px;}
	.main-container .table tbody tr.empty-tr{height: 50px;}
	.main-container .table tbody tr.empty-tr th, .main-container .table tbody tr.empty-tr td{border: 0;}
	.main-container .table tbody tr.profit-total-tr{background: #edacb1;}
	.main-container .table tbody tr.profit-per-tr{background: #DDEBF7;}
	.main-container .table tbody tr.cost-total-tr th, .main-container .table tbody tr.sales-total-tr th, .main-container .table tbody tr.cms-total-tr th{text-align: center; height: 50px;}
	.main-container .table tbody tr.cost-total-tr td, .main-container .table tbody tr.sales-total-tr td, .main-container .table tbody tr.cms-total-tr td{vertical-align: middle; height: 50px;}

	.main-container .table tbody td.editable{background: rgb(255,255,0, 0.4); cursor: pointer;}
	.main-container .table tbody td.editable > span{display: inline-block;}
	.main-container .table tbody td.editable > input{display: none; text-align: right; width: 70px; line-height: 1; padding: 2px 10px 2px 5px; margin: 0;}
	.main-container .total-report-toggle{display: table-row;}
	.main-container .total-report-toggle th{height: 36px;}
	.main-container .total-report-toggle td{height: 36px;}
	.main-container .row-report-toggle th{height: 36px;}
	.main-container .row-report-toggle td{height: 36px;}
	.main-container .row-report-toggle{display: none;}
	.main-container .th-line, .main-container .td-line{height: 36px;}
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.main-container .table tbody .report-memo-on{background: url('./images/icon/memo_on.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.main-container .table tbody .report-memo-off{background: url('./images/icon/memo_off.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #comm-memo-modal{height: auto; width: 100%;overflow: unset; max-width: 400px; padding: 5px;}
	.jquery-modal #comm-memo-modal table{margin: 0;}
	.table-bordered td{border-left: 0;}
	.main-container .table tbody th.date-th{text-align: center;background: #333; color: white; width: 110px; height: 36px;}
	.main-container .table tbody td.event-td{text-align: center;width: 110px; height: 36px; cursor: pointer;}
	.wrapper-toggle-btn{color: black !important;}
	.wrapper-toggle-show-btn{display: none;}

	.board-issue-wrapper{width: 1154px; height: 40px; padding: 5px 10px; margin-bottom: 20px; overflow: hidden; border: 1px solid #DDD; box-sizing: border-box;}
	.board-issue-swiper{height: 34px;}
	.board-issue-swiper-slide{line-height: 28px;}
	.board-issue-date{margin-left: 10px;}
	.board-issue-title{font-size: 24px;}
	.board-issue-new{margin-left: 5px; font-size: 12px; color: red;}
</style>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 15px;" onclick="location.href='media_commerce_average_report.php?<{$search_url}>';">커머스 자사몰 객단가</button>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 5px;" onclick="location.href='media_commerce_count_report.php?<{$search_url}>';">커머스 주문수</button>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 5px;" onclick="location.href='wise_csm_return_count_report.php?<{$search_url}>';">커머스 반품/교환수</button>
	</h2>
	<form method="get" name="search_form" action="media_commerce_auto_report.php" class="form-inline" style="margin-bottom: 20px;">
		<input type="hidden" name="sch_toggle" id="sch_toggle" value="<{$sch_toggle}>" />
		<input type="hidden" name="sch_brand_val" id="sch_brand_val" value="<{$sch_brand}>" />
		<div class="form-group" style="width: 100%">
			<input type="checkbox" name="sch_not_empty" id="sch_not_empty" class="form-control" value="1" <{if $sch_not_empty == '1'}>checked<{/if}>>
			<label for="sch_not_empty" style="margin: 0 5px; cursor: pointer;">전체 0인 항목 숨기기</label>
		</div>
		<div class="form-group">
			<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>날짜</label>
			<div id="sch_date_type_day" class="sch_date_type">
				<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
			</div>
			<div id="sch_date_type_week" class="sch_date_type">
				<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
				~
				<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
			</div>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div id="sch_date_type_year" class="sch_date_type">
				<input type="text" class="year-picker form-control" id="sch_s_year" name="sch_s_year" value="<{$sch_s_year}>" />
				~
				<input type="text" class="year-picker form-control" id="sch_e_year" name="sch_e_year" value="<{$sch_e_year}>" />
			</div>

			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
				<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
				<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_4" value="4" class="radio" <{if $sch_date_type == '4'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">
				<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
			</div>
			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
			<a href="media_commerce_auto_report.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_on.png">
			</a>
			<a href="media_commerce_compare_chart.php?<{$search_url}>" style="margin-right: 5px;">
				<img src="./images/icon/work_chart_off.png">
			</a>
			<a href="media_commerce_stats_report_term.php?<{$search_term_url}>">
				<img src="./images/icon/compare_off.png">
			</a>
		</div>
	</form>

	<!-- 게시판 -->
	<{if $board_issue_list}>
		<span class="board-issue-label" style="float: left; font-size: 18px; line-height: 35px; margin-right: 20px;">[커머스 이슈 리포트]</span>
		<div class="board-issue-wrapper">
			<div class="board-issue-swiper swiper">
				<div class="board-issue-swiper-wrapper swiper-wrapper">
					<{foreach from=$board_issue_list item=board_issue}>
						<div class="board-issue-swiper-slide swiper-slide">
							<a href="/v1/board/board_normal_detail.php?no=<{$board_issue.no}>&b_id=cms_report" target="_blank">
								<span class="board-issue-title">'<{$board_issue.title}>'</span>
								<span class="board-issue-date"><{$board_issue.issue_date}></span>
								<{if $board_issue.read_cnt == 0}><span class="board-issue-new">NEW</span><{/if}>
							</a>
						</div>
					<{/foreach}>
				</div>
			</div>
		</div>
	<{/if}>

	<{if $editable}>
	<div style="margin-top: 30px;">
		<form name="add_media_report_frm" id="add_media_report_frm" method="post" action="media_commerce_data_insert.php" enctype="multipart/form-data" style="margin: 5px 0;" class="form-inline">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<div class="form-group">
				<span>[EXCEL DATA UPLOAD]</span>

				<label for="mc_brand_view">브랜드</label>
				<select id="mc_brand_view" name="mc_brand_view" class="form-control" required disabled>
					<option value="">::전체::</option>
					<{foreach from=$comm_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<input type="hidden" name="mc_brand" id="mc_brand" value="<{$sch_brand}>" />
				<input type="hidden" name="mc_apply" id="mc_apply" value="0" />

				<label for="mc_s_date">적용날짜</label>
				<input type="text" class="date-picker form-control" id="mc_s_date" name="mc_s_date" value="<{$mc_today}>">
				<span>~</span>
				<input type="text" class="date-picker form-control" id="mc_e_date" name="mc_e_date" value="<{$mc_today}>">

				<input type="file" name="mc_file" id="mc_file" style="width:300px; border: 1px solid #cccccc; margin-left: 5px; margin-right: 5px;overflow: hidden;"><span style="color:#808080;font-size:11px; margin-right: 5px;">(MAX 10MB)</span>
				<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="return addMediaReport();">추가하기</button>
				<a href="./uploads/document/media_commerce/upload_sample.xlsx" style="display: inline-block; margin-left: 5px;" download>[upload_sample.xlsx]</a>
			</div>
		</form>
	</div>
	<{/if}>

	<button type="button" onclick="hideWrapperReport()">[-] 한번에 숨기기</button>
	<div class="main-container">
		<section class="commerce-section">
			<table class="table table-bordered table-header">
				<tbody>
					<{if $cal_event_list}>
						<tr>
							<td colspan="2"></td>
						</tr>
					<{/if}>

					<{if $coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)}>
						<tr>
							<th colspan="2" class="kind-th text-center" id="auto_cost_wrapper" style="background: white; color: #333;">
								비용(자동)
								<button type="button" id="cost-auto-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-auto','show')">[+]</button>
								<button type="button" id="cost-auto-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-auto','hide')">[-]</button>
							</th>
						</tr>

						<{if $coupon_imweb_report_total_list}>
							<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_base'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">아임웹_베라베프(쿠폰)</th>
								</tr>
							<{/if}>

							<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_doc'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">아임웹_닥터피엘(쿠폰)</th>
								</tr>
							<{/if}>

							<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_ilenol'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">아임웹_아이레놀(쿠폰)</th>
								</tr>
							<{/if}>

							<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_nuzam'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">아임웹_누잠(쿠폰)</th>
								</tr>
							<{/if}>
						<{/if}>

						<{if $coupon_smart_report_total_list}>
							<{if $sch_not_empty != "1" || $report_empty_check_list['smart'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" style="height: 50px;">스마트스토어(쿠폰) :: 수기 업로드로 나타나며, 매출에<br/>포함되어 비용에 반영하지 않음 </th>
								</tr>
							<{/if}>
						<{/if}>

						<{if $cms_delivery_free_list}>
							<tr class="total-report-toggle total-report-free cost-auto-wrapper-child">
								<th colspan="2" class="th-line">
									<button type="button" onclick="toggleRowReport('total','free')">[+]</button>
									무료 배송비<img title="운송잔 단위로 배송비가 없는(0원) 건에 대해&#10;# 기본 배송비 = 3,000원&#10;&#10;# 누잠매트리스, 더블업토퍼 본품 포함 시 5,000원&#10;&#10;# (해외)아이레놀 의 경우 4,600원" src="./images/icon/question.png" style="cursor: pointer; margin-left: 3px;">
								</th>
							</tr>
							<tr class="row-report-toggle row-report-free cost-auto-wrapper-child cost-auto-row-report-toggle">
								<th rowspan="<{$cms_delivery_free_cnt}>" class="th-line">
									<button type="button" onclick="toggleRowReport('row','free')">[-]</button>
									무료 배송비
								</th>
							</tr>
							<{foreach $cms_delivery_free_list key=free_dp_c_no item=$free_dp_data}>
								<tr class="row-report-toggle row-report-free cost-auto-wrapper-child cost-auto-row-report-toggle">
									<th class="th-line"><{$cms_report_title_list[$free_dp_c_no]}></th>
								</tr>
							<{/foreach}>
						<{/if}>

						<{if ($nosp_result_special_list || $nosp_result_time_list)}>
							<{if $sch_not_empty != "1" || $report_empty_check_list['nosp_special'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">NOSP(스폐셜DA)</th>
								</tr>
							<{/if}>
							<{if $sch_not_empty != "1" || $report_empty_check_list['nosp_time'] > 0}>
								<tr class="cost-auto-wrapper-child">
									<th colspan="2" class="th-line">NOSP(타임보드)</th>
								</tr>
							<{/if}>
						<{/if}>
					<{/if}>

					<{if $cost_report_list }>
						<{if $coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<{if $cost_report_list}>
							<tr>
								<th colspan="2" class="th-line" style="text-align: center; background: white; color: black;">
									비용(수기입력)
									<button type="button" id="cost-self-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-self','show')">[+]</button>
									<button type="button" id="cost-self-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-self','hide')">[-]</button>
								</th>
							<tr/>
							<{foreach from=$cost_report_list key=comm_g1 item=cost_report_data}>
								<{assign var="rowspan" value=$cost_report_data|@count}>
								<{assign var="comm_g1_idx" value=1}>
								<{foreach from=$cost_report_data key=comm_g2 item=cost_report}>
									<{if $comm_g1_idx == 1}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
										<th rowspan="<{$rowspan}>">
											<button type="button" onclick="toggleRowReport('row','<{$comm_g1}>')">[-]</button>
											<{$comm_g1_title_list[$comm_g1].title}>
										</th>
									<{else}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
									<{/if}>
										<th><{$comm_g2_title_list[$comm_g1][$comm_g2].title}></th>
									</tr>

									<{if $comm_g1_idx == $rowspan}>
									<tr class="total-report-<{$comm_g1}> total-report-toggle cost-self-wrapper-child">
										<th colspan="2">
											<button type="button" onclick="toggleRowReport('total','<{$comm_g1}>')">[+]</button>
											<{$comm_g1_title_list[$comm_g1].title}>
										</th>
									</tr>
									<{/if}>
									<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
								<{/foreach}>
							<{/foreach}>
						<{/if}>
						<{if $cost_report_total_sum_list}>
							<tr class="cost-total-tr grey-back-tr cost-self-wrapper-child">
								<th colspan="2" >지출 총 합계</th>
							</tr>
						<{/if}>
					<{/if}>

					<{if $cms_report_list || $quick_report_list}>
						<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)) || ($cost_report_list || $cost_report_total_sum_list)}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" class="th-line" style="text-align: center; background: white; color: black;">
								매출(자동)
								<button type="button" id="sales-auto-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-auto','show')">[+]</button>
								<button type="button" id="sales-auto-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-auto','hide')">[-]</button>
							</th>
						<tr/>
						<{if $cms_report_list}>
							<{foreach from=$cms_report_title_list key=dp_c_no item=cms_report_title}>
								<{if ($dp_c_no == '1818' || $dp_c_no == '5425' || $dp_c_no == '4737') && $session_s_no == '1'}>
									<tr class="sales-auto-wrapper-child">
										<th colspan="2" style="text-align: center; background: white; color: black;" class="th-line"></th>
									</tr>
								<{/if}>
								<tr class="sales-auto-wrapper-child">
									<th colspan="2" class="th-line">
										<{$cms_report_title}>
										<{if isset($commerce_fee_list[$dp_c_no])}>
											<span style="color: yellow;">:: 수수료 <{$commerce_fee_list[$dp_c_no]}>%</span>
										<{/if}>
									</th>
								</tr>
								<{if isset($cms_report_delivery_list[$dp_c_no])}>
								<tr class="sales-auto-wrapper-child">
									<th colspan="2" class="th-line"><{$cms_report_title}>(배송비)</th>
								</tr>
								<{/if}>
							<{/foreach}>
						<{/if}>
						<{if $quick_report_list}>
							<{foreach from=$quick_report_title_list key=run_c_no item=quick_report_title}>
								<tr class="sales-auto-wrapper-child">
									<th colspan="2" class="th-line">
										(입/출고요청) <{$quick_report_title}>
									</th>
								</tr>
							<{/foreach}>
						<{/if}>
						<{if $cms_report_total_sum_list || $cms_report_delivery_sum_list || $cms_report_subtotal_sum_list}>
							<tr class="cms-total-tr sales-auto-wrapper-child">
								<th colspan="2" >상품 매출 총 합계(수수료 제외)</th>
							</tr>
							<tr class="cms-total-tr sales-auto-wrapper-child">
								<th colspan="2" >배송비 매출 총 합계</th>
							</tr>
							<tr class="cms-total-tr sales-auto-wrapper-child">
								<th colspan="2" >매출 총 합계</th>
							</tr>
						<{/if}>
					<{/if}>

					<{if $sales_report_list }>
						<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)) || ($cost_report_list || $cost_report_total_sum_list) || ($cms_report_list || $cms_report_total_sum_list)}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<{if $sales_report_list}>
							<tr>
								<th colspan="2" class="th-line" style="text-align: center; background: white; color: black;">
									매출(수기입력)
									<button type="button" id="sales-self-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-self','show')">[+]</button>
									<button type="button" id="sales-self-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-self','hide')">[-]</button>
								</th>
							<tr/>
							<{foreach from=$sales_report_list key=comm_g1 item=sales_report_data}>
								<{assign var="rowspan" value=$sales_report_data|@count}>
								<{assign var="comm_g1_idx" value=1}>
								<{foreach from=$sales_report_data key=comm_g2 item=sales_report}>
									<{if $comm_g1_idx == 1}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
										<th rowspan="<{$rowspan}>">
											<button type="button" onclick="toggleRowReport('row','<{$comm_g1}>')">[-]</button>
											<{$comm_g1_title_list[$comm_g1].title}>
										</th>
									<{else}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
									<{/if}>
										<th><{$comm_g2_title_list[$comm_g1][$comm_g2].title}></th>
									</tr>

									<{if $comm_g1_idx == $rowspan}>
									<tr class="total-report-<{$comm_g1}> total-report-toggle sales-self-wrapper-child">
										<th colspan="2">
											<button type="button" onclick="toggleRowReport('total','<{$comm_g1}>')">[+]</button>
											<{$comm_g1_title_list[$comm_g1].title}>
										</th>
									</tr>
									<{/if}>
									<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
								<{/foreach}>
							<{/foreach}>
						<{/if}>
						<{if $sales_report_total_sum_list}>
							<tr class="sales-total-tr grey-back-tr sales-self-wrapper-child" >
								<th colspan="2" >매출 총 합계</th>
							</tr>
						<{/if}>
					<{/if}>

					<{if $net_report_list}>
						<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)) || ($cost_report_list || $cost_report_total_sum_list) || ($cms_report_list || $cms_report_total_sum_list) || ($sales_report_list || $sales_report_total_sum_list)}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" class="th-line" style="text-align: center; background: white; color: black;">
								Total
								<button type="button" id="commerce-total-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('commerce-total','show')">[+]</button>
								<button type="button" id="commerce-total-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('commerce-total','hide')">[-]</button>
							</th>
						</tr>
						<tr class="cost-total-tr commerce-total-wrapper-child">
							<th colspan="2" >지출 총 합계(+쿠폰 +무료배송비 +광고비)</th>
						</tr>
						<tr class="cms-total-tr commerce-total-wrapper-child">
							<th colspan="2" >매출 총 합계(상품 매출(수수료 제외) + 매출(수기))</th>
						</tr>
						<tr class="net-editor-tr commerce-total-wrapper-child">
							<th colspan="2">NET(<{$sch_brand_name}>)</th>
						</tr>
						<tr class="net-total-tr grey-back-tr commerce-total-wrapper-child">
							<th colspan="2">NET 매출</th>
						</tr>
						<tr class="expected-sales-tr grey-back-tr commerce-total-wrapper-child">
							<th colspan="2">예산지출비용</th>
						</tr>
						<tr class="roas-per-tr grey-back-tr commerce-total-wrapper-child">
							<th colspan="2">ROAS</th>
						</tr>
						<tr class="profit-per-tr commerce-total-wrapper-child">
							<th colspan="2">
								이익률<img title="이익율 = 차액 (공헌이익) / 매출 총 합계(상품 매출(수수료 제외) + 매출(수기)) * 100%" src="./images/icon/question.png" style="cursor: pointer; margin-left: 3px;">
							</th>
						</tr>
						<tr class="profit-total-tr commerce-total-wrapper-child">
							<th colspan="2">차액 (공헌이익)</th>
						</tr>
					<{/if}>
				</tbody>
			</table>

			<div class="table-content-wrapper">
				<table class="table table-bordered table-content">
					<tbody>
						<{if $coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_special_list || $nosp_result_time_list)}>

							<{if $cal_event_list}>
								<tr>
									<{foreach from=$commerce_date_list key=date_key item=date_data}>
										<td class="event-td text-center">
											<{if $cal_event_list[$date_key]}>
												<img src="images/icon/memo_on.png" title="<{$cal_event_list[$date_key]}>"/>
											<{/if}>
										</td>
									<{/foreach}>
								</tr>
							<{/if}>

							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
									<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>

							<!-- 비용(자동) -->
							<{if $coupon_imweb_report_total_list}>
								<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_base'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$coupon_imweb_report_total_list[$comm_date]['belabef']|number_format:0}>
											<{if $coupon_imweb_report_total_list[$comm_date]['belabef'] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=1" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>

								<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_doc'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$coupon_imweb_report_total_list[$comm_date]['doc']|number_format:0}>
											<{if $coupon_imweb_report_total_list[$comm_date]['doc'] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=3" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>

								<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_ilenol'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$coupon_imweb_report_total_list[$comm_date]['ilenol']|number_format:0}>
											<{if $coupon_imweb_report_total_list[$comm_date]['ilenol'] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=4" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>

								<{if $sch_not_empty != "1" || $report_empty_check_list['imweb_nuzam'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$coupon_imweb_report_total_list[$comm_date]['nuzam']|number_format:0}>
											<{if $coupon_imweb_report_total_list[$comm_date]['nuzam'] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=5" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>
							<{/if}>

							<{if $coupon_smart_report_total_list}>
								<{if $sch_not_empty != "1" || $report_empty_check_list['smart'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td" style="height: 50px">
											<{$coupon_smart_report_total_list[$comm_date]|number_format:0}>
											<{if $coupon_smart_report_total_list[$comm_date] > 0 && $sch_brand}>
											<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=2" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>
							<{/if}>

							<{if $cms_delivery_free_list}>
								<tr class="total-report-toggle total-report-free cost-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$cms_delivery_free_total_list[$comm_date]|number_format:0}>
											<{if $cms_delivery_free_total_list[$comm_date] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_unit_price=1&sch_delivery_price=2" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
									<{/foreach}>
								</tr>
								<{foreach $cms_delivery_free_list key=free_dp_c_no item=$free_dp_data}>
									<tr class="row-report-toggle row-report-free cost-auto-wrapper-child cost-auto-row-report-toggle">
									<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$free_dp_data[$comm_date]|number_format:0}>
											<{if $free_dp_data[$comm_date] > 0 && $sch_brand}>
												<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_dp_c_no=<{$free_dp_c_no}>&sch_unit_price=1&sch_delivery_price=2" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
									<{/foreach}>
									</tr>
								<{/foreach}>
							<{/if}>

							<{if ($nosp_result_special_list || $nosp_result_time_list)}>
								<{if $sch_not_empty != "1" || $report_empty_check_list['nosp_special'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$nosp_result_special_list[$comm_date]|number_format:0}>
											<{if $nosp_result_special_list[$comm_date] > 0 && $sch_brand}>
											<a href="advertising_result_list.php?<{$sch_cms_brand_url}>&sch_media=265&sch_product=2&sch_adv_s_date=<{$date_data.s_date}>&sch_adv_e_date=<{$date_data.e_date}>&ord_page_type=100" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>

								<{if $sch_not_empty != "1" || $report_empty_check_list['nosp_time'] > 0}>
									<tr class="cost-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="coupon-price-td">
											<{$nosp_result_time_list[$comm_date]|number_format:0}>
											<{if $nosp_result_time_list[$comm_date] > 0 && $sch_brand}>
											<a href="advertising_result_list.php?<{$sch_cms_brand_url}>&sch_media=265&sch_product=1&sch_adv_s_date=<{$date_data.s_date}>&sch_adv_e_date=<{$date_data.e_date}>&ord_page_type=100" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/if}>
							<{/if}>

						<{/if}>

						<{if $cost_report_list }>
							<!-- 비용(수기) -->
							<{if $coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || ($nosp_result_time_list || $nosp_result_special_list)}>
								<tr class="empty-tr">
									<td colspan="<{$commerce_date_count}>"></td>
								</tr>
							<{/if}>
							<{if $cost_report_list}>
								<tr>
									<{foreach from=$commerce_date_list item=date_data}>
									<th class="date-th"><{$date_data.title}></th>
									<{/foreach}>
								</tr>
								<{foreach from=$cost_report_list key=comm_g1 item=cost_report_data}>
									<{assign var="rowspan" value=$cost_report_data|@count}>
									<{assign var="comm_g1_idx" value=1}>
									<{foreach from=$cost_report_data key=comm_g2 item=cost_report}>
										<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
											<{foreach from=$commerce_date_list key=comm_date item=date_label}>
												<{if $editable}>
													<td class='editable cost-price-td' style="position: relative;">
														<{if $memo_report_list[$comm_date][$comm_g2]}>
															<{if $memo_report_list[$comm_date][$comm_g2].memo == ''}>
																<span class="report-memo-off" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>','<{$comm_g2}>','<{$comm_date}>','editor')"></span>
															<{else}>
																<span class="report-memo-on" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>','<{$comm_g2}>','<{$comm_date}>','editor')"></span>
															<{/if}>
														<{else}>
															<span class="report-memo-off" onclick="openMemoModal('','<{$comm_g2}>','<{$comm_date}>','editor')"></span>
														<{/if}>
														<span class="editable-span"><{$cost_report[$comm_date].price|number_format:0}></span>
														<input type="text" name="price" class="editable-input" value="<{$cost_report[$comm_date].price}>" onkeyup="inputNumberFormat(this)" onfocus="this.select()" onchange="save_el('cost','<{$sch_brand}>','<{$comm_g1}>','<{$comm_g2}>','<{$comm_date}>',this);"/>
														<input type="hidden" name="pre_price" class="pre-price" value="<{$cost_report[$comm_date].price}>" />
													</td>
												<{else}>
													<td class="cost-price-td" style="position: relative;">
														<{if $memo_report_list[$comm_date][$comm_g2]}>
															<{if $memo_report_list[$comm_date][$comm_g2].memo != ''}>
																<span class="report-memo-on" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>','<{$comm_g2}>','<{$comm_date}>','read')"></span>
															<{/if}>
														<{/if}>
														<{$cost_report[$comm_date].price|number_format:0}>
													</td>
												<{/if}>
											<{/foreach}>
										</tr>
										<{if $comm_g1_idx == $rowspan}>
										<tr class="total-report-<{$comm_g1}> total-report-toggle cost-self-wrapper-child">
											<{foreach from=$cost_report_total_list[$comm_g1] key=sales_date item=date_total_price}>
												<td class="cost-price-td cate-price-<{$comm_g1}>-<{$sales_date}>" style="position: relative;">
													<{if $sch_date_type == '1' && $memo_report_total_list[$sales_date][$comm_g1]}>
														<span class="report-memo-on" onclick="openMemoModal('','<{$comm_g1}>','<{$sales_date}>','parent')"></span>
													<{/if}>
													<{$date_total_price|number_format:0}>
												</td>
											<{/foreach}>
										</tr>
										<{/if}>
										<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
									<{/foreach}>
								<{/foreach}>
							<{/if}>
							<{if $cost_report_total_sum_list}>
								<tr class="cost-total-tr cost-self-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="cost-price-td cost-total-<{$comm_date}>"><{$cost_report_total_sum_list[$comm_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
							<{/if}>
						<{/if}>

						<{if $cms_report_list || $quick_report_list}>
							<!-- 매출(자동) -->
							<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || $nosp_result_total_list) || ($cost_report_list || $cost_report_total_sum_list)}>
								<tr class="empty-tr">
									<td colspan="<{$commerce_date_count}>"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
									<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{if $cms_report_list}>
								<{foreach from=$cms_report_list key=dp_c_no item=cms_report}>
									<{if ($dp_c_no == '1818' || $dp_c_no == '5425' || $dp_c_no == '4737') && $session_s_no == '1'}>
									<tr class="sales-auto-wrapper-child">
										<{foreach from=$commerce_date_list item=date_data}>
										<th class="date-th"><{$date_data.title}></th>
										<{/foreach}>
									</tr>
									<{/if}>
									<tr class="sales-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
											<td class="cms-price-td">
												<{$cms_report[$comm_date].subtotal|number_format:0}>
												<{if $sch_brand}>
													<{if $sch_brand == '5514' || $sch_brand == '5979' || $sch_brand == '6044'}>
														<a href="work_list_cms.php?sch=Y&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
													<{else}>
														<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
													<{/if}>
												<{/if}>
											</td>
										<{/foreach}>
									</tr>
									<{if isset($cms_report_delivery_list[$dp_c_no])}>
									<tr class="sales-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
											<td class="cms-price-td">
												<{$cms_report[$comm_date].delivery|number_format:0}>
												<{if $sch_brand}>
													<{if $sch_brand == '5514' || $sch_brand == '5979' || $sch_brand == '6044'}>
														<a href="work_list_cms.php?sch=Y&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4&sch_delivery_price=1" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
													<{else}>
														<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4&sch_delivery_price=1" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
													<{/if}>
												<{/if}>
											</td>
										<{/foreach}>
									</tr>
									<{/if}>
								<{/foreach}>
							<{/if}>
							<{if $quick_report_list}>
								<{foreach from=$quick_report_list key=run_c_no item=quick_report}>
									<tr class="sales-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="cms-price-td">
											<{$quick_report[$comm_date]|number_format:0}>
											<{if $sch_brand}>
											<a href="work_cms_quick_list.php?sch=Y&sch_c_no=<{$sch_brand}>&sch_reg_s_date=&sch_reg_e_date=&sch_run_s_date=<{$date_data.s_date}>&sch_run_e_date=<{$date_data.e_date}>&sch_run_c_no=<{$run_c_no}>&sch_quick_state=4&ord_page_type=100" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
								<{/foreach}>
							<{/if}>
							<{if $cms_report_total_sum_list || $cms_report_delivery_sum_list || $cms_report_subtotal_sum_list}>
								<tr class="cms-total-tr sales-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="cms-price-td"><{$cms_report_subtotal_sum_list[$comm_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
								<tr class="cms-total-tr sales-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="cms-price-td"><{$cms_report_delivery_sum_list[$comm_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
								<tr class="cms-total-tr sales-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="cms-price-td"><{$cms_report_total_sum_list[$comm_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
							<{/if}>
						<{/if}>

						<{if $sales_report_list }>
							<!-- 매출(수기) -->
							<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || $nosp_result_total_list) || ($cost_report_list || $cost_report_total_sum_list) || ($cms_report_list || $cms_report_total_sum_list)}>
							<tr class="empty-tr">
								<td colspan="<{$commerce_date_count}>"></td>
							</tr>
							<{/if}>
							<{if $sales_report_list}>
								<tr>
									<{foreach from=$commerce_date_list item=date_data}>
									<th class="date-th"><{$date_data.title}></th>
									<{/foreach}>
								</tr>
								<{foreach from=$sales_report_list key=comm_g1 item=sales_report_data}>
									<{assign var="rowspan" value=$sales_report_data|@count}>
									<{assign var="comm_g1_idx" value=1}>
									<{foreach from=$sales_report_data key=comm_g2 item=sales_report}>
										<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
											<{foreach from=$commerce_date_list key=comm_date item=date_label}>
												<{if $editable}>
													<td class='editable sales-price-td' style="position: relative;">
														<{if $memo_report_list[$comm_date][$comm_g2]}>
															<{if $memo_report_list[$comm_date][$comm_g2].memo == ''}>
																<span class="report-memo-off" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>', '<{$comm_g2}>','<{$comm_date}>','editor')"></span>
															<{else}>
																<span class="report-memo-on" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>','<{$comm_g2}>','<{$comm_date}>','editor')"></span>
															<{/if}>
														<{else}>
															<span class="report-memo-off" onclick="openMemoModal('', '<{$comm_g2}>','<{$comm_date}>','editor')"></span>
														<{/if}>
														<span class="editable-span"><{$sales_report[$comm_date].price|number_format:0}></span>
														<input type="text" name="price" class="editable-input" value="<{$sales_report[$comm_date].price}>" onkeyup="inputNumberFormat(this)" onfocus="this.select()" onchange="save_el('sales','<{$sch_brand}>','<{$comm_g1}>','<{$comm_g2}>','<{$comm_date}>',this);"/>
														<input type="hidden" name="pre_price" class="pre-price" value="<{$sales_report[$comm_date].price}>" />
													</td>
												<{else}>
													<td class="sales-price-td" style="position: relative;">
														<{if $memo_report_list[$comm_date][$comm_g2]}>
															<{if $memo_report_list[$comm_date][$comm_g2].memo != ''}>
																<span class="report-memo-on" onclick="openMemoModal('<{$memo_report_list[$comm_date][$comm_g2].cm_no}>','<{$comm_g2}>','<{$comm_date}>','read')"></span>
															<{/if}>
														<{/if}>
														<{$sales_report[$comm_date].price|number_format:0}>
													</td>
												<{/if}>
											<{/foreach}>
										</tr>

										<{if $comm_g1_idx == $rowspan}>
										<tr class="total-report-<{$comm_g1}> total-report-toggle sales-self-wrapper-child">
											<{foreach from=$sales_report_total_list[$comm_g1] key=sales_date item=date_total_price}>
												<td class="sales-price-td cate-price-<{$comm_g1}>-<{$sales_date}>" style="position: relative;">
													<{if $sch_date_type == '1' && $memo_report_total_list[$sales_date][$comm_g1]}>
														<span class="report-memo-on" onclick="openMemoModal('','<{$comm_g1}>','<{$sales_date}>','parent')"></span>
													<{/if}>
													<{$date_total_price|number_format:0}>
												</td>
											<{/foreach}>
										</tr>
										<{/if}>
										<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
									<{/foreach}>
								<{/foreach}>
							<{/if}>
							<{if $sales_report_total_sum_list}>
								<tr class="sales-total-tr sales-self-wrapper-child" >
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="sales-price-td sales-total-<{$comm_date}>"><{$sales_report_total_sum_list[$comm_date]|number_format:0}></td>
								<{/foreach}>
								</tr>
							<{/if}>
						<{/if}>

						<{if $net_report_list}>
							<{if ($coupon_imweb_report_total_list || $coupon_smart_report_total_list || $cms_delivery_free_list || $nosp_result_total_list) || ($cost_report_list || $cost_report_total_sum_list) || ($cms_report_list || $cms_report_total_sum_list) || ($sales_report_list || $sales_report_total_sum_list)}>
								<tr class="empty-tr">
									<td colspan="<{$commerce_date_count}>"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<tr class="cost-total-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cost-price-td"><{$net_cost_sum_list[$comm_date]|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cms-price-td"><{$net_sales_sum_list[$comm_date]|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr class="net-editor-tr commerce-total-wrapper-child">
								<{if $sch_brand}>
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<{if $sch_date_type == '1'}>
											<{if $editable}>
												<{foreach from=$net_report_list[$comm_date] key=sales_date item=net_report}>
													<td style="position: relative;" class="editable">
														<{if $memo_report_list[$comm_date][$net_comm_g2]}>
															<{if $memo_report_list[$comm_date][$net_comm_g2].memo == ''}>
																<span class="report-memo-off" style="top: 15px; left: 10px;" onclick="openMemoModal('<{$memo_report_list[$comm_date][$net_comm_g2].cm_no}>', '<{$net_comm_g2}>','<{$comm_date}>','editor')"></span>
															<{else}>
																<span class="report-memo-on" style="top: 15px; left: 10px;" onclick="openMemoModal('<{$memo_report_list[$comm_date][$net_comm_g2].cm_no}>','<{$net_comm_g2}>','<{$comm_date}>','editor')"></span>
															<{/if}>
														<{else}>
															<span class="report-memo-off" style="top: 15px; left: 10px;" onclick="openMemoModal('', '<{$net_comm_g2}>','<{$comm_date}>','editor')"></span>
														<{/if}>
														<span class="editable-span" id="net-percent-<{$comm_date}>"><{if $net_report.percent == ''}>0<{else}><{$net_report.percent}><{/if}>%</span>
														<input type="text" name="percent" class="editable-input" value="<{$net_report.percent}>" onkeyup="inputNumberFormat(this)" onfocus="this.select()" onchange="save_el('net', '<{$sch_brand}>', '', '', '<{$comm_date}>', this)" >
														<input type="hidden" name="sales_date" class="net-sales-date" value="<{$sales_date}>" />
														<input type="hidden" name="parent" class="net-parent" value="<{$net_report.parent}>" />
													</td>
												<{/foreach}>
											<{else}>
												<{foreach from=$net_report_list[$comm_date] key=sales_date item=net_report}>
													<td style="text-align: center;">
														<{if $memo_report_list[$comm_date][$net_comm_g2]}>
															<{if $memo_report_list[$comm_date][$net_comm_g2].memo != ''}>
																<span class="report-memo-on" style="top: 15px; left: 10px;" onclick="openMemoModal('<{$memo_report_list[$comm_date][$net_comm_g2].cm_no}>','<{$net_comm_g2}>','<{$comm_date}>','read')"></span>
															<{/if}>
														<{/if}>
														<span class="net-percent-<{$comm_date}>"><{if $net_report.percent == ''}>0<{else}><{$net_report.percent}><{/if}>%</span>
													</td>
												<{/foreach}>
											<{/if}>
										<{else}>
											<td>-</td>
										<{/if}>
									<{/foreach}>
								<{else}>
									<td>-</td>
								<{/if}>
							</tr>
							<tr class="net-total-tr grey-back-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="net-total-<{$comm_date}>"><{$net_report_cal_list[$comm_date]|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr class="expected-sales-tr grey-back-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="expected-sales-<{$comm_date}>"><{$expected_sales_list[$comm_date]|number_format:0}>%</td>
								<{/foreach}>
							</tr>
							<tr class="roas-per-tr grey-back-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="roas-per-<{$comm_date}>"><{$roas_percent_list[$comm_date]|number_format:0}>%</td>
								<{/foreach}>
							</tr>
							<tr class="profit-per-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="profit-per-<{$comm_date}>"><{$net_report_profit_per_list[$comm_date]|number_format:2}>%</td>
								<{/foreach}>
							</tr>
							<tr class="profit-total-tr commerce-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="profit-total-<{$comm_date}> <{if $net_report_profit_list[$comm_date] < 0}>cost-price-td<{elseif $net_report_profit_list[$comm_date] > 0}>sales-price-td<{/if}>"><{$net_report_profit_list[$comm_date]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	<{if $allowed_download || permissionNameCheck($session_permission, "재무관리자")}>
	<div style="clear: both; text-align: left; width: 1322px;">
		<button onclick="location.href='excel_media_commerce_auto_report.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀 다운로드</span></button>
		<{if $session_s_no == 171}>
			<div style="display: inline-block; border: 1px solid #ccc; float: right; box-sizing: border-box; padding: 5px;}">
				<input type="text" name="excel_month" id="excel_month" class="form-control month-picker" value="<{$cur_month}>" style="display: inline-block; margin-right: 10px;">
				<button onclick="downloadMonthReport();" class="btn_style1" style="background: #333; padding: 10px 20px;"><span>월단위 엑셀 다운로드</span></button>
			</div>
		<{/if}>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<div class="modal" id="comm-memo-modal">
	<div class="memo-content">
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		$("#sch_comm_g2").remoteChained({
			parents: "#sch_comm_g1",
			url: "/v1/api/comm.json.php?parent_data=sch_comm_g1",
			loading: "로딩중..",
			clear: true
		});

    	var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}

		var sch_toggle = $("#sch_toggle").val();

		if(sch_toggle){
			var sch_toggle_list = sch_toggle.split(',');

			for(var sch_idx in sch_toggle_list)
			{
				var toggle_row = sch_toggle_list[sch_idx];
				if(toggle_row != ''){
					$(".row-report-"+toggle_row).show();
					$(".total-report-"+toggle_row).hide();
				}
			}
		}

		/** 가격입력 체크 */
		document.addEventListener('click', function(event) {
			var isClickInsideElement = event.target.className;
			if (isClickInsideElement != 'editable sales-price-td' && isClickInsideElement != 'editable cost-price-td'
					&& isClickInsideElement != 'editable' && isClickInsideElement != 'editable-span' && isClickInsideElement != 'editable-input') {
				$(".editable").find('.editable-input').hide();
				$(".editable").find('.editable-span').show();
			}
		});

		$(".editable").click(function(){
			$(".editable").find('.editable-input').hide();
			$(".editable").find('.editable-span').show();
			$(this).find('.editable-span').hide();
			$(this).find('.editable-input').show();
			$(this).find('.editable-input').focus();
		});

		$(".editable-span").click(function(){
			$(".editable").find('.editable-input').hide();
			$(".editable").find('.editable-span').show();
			$(this).closest('.editable-input').show();
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

    });

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}

	function hideWrapperReport()
	{
		$("#cost-auto-wrapper-hide-btn").hide();
		$("#cost-self-wrapper-hide-btn").hide();
		$("#sales-auto-wrapper-hide-btn").hide();
		$("#sales-self-wrapper-hide-btn").hide();
		$("#commerce-total-wrapper-hide-btn").hide();

		$("#cost-auto-wrapper-show-btn").show();
		$("#cost-self-wrapper-show-btn").show();
		$("#sales-auto-wrapper-show-btn").show();
		$("#sales-self-wrapper-show-btn").show();
		$("#commerce-total-wrapper-show-btn").show();

		$(".cost-auto-wrapper-child").hide();
		$(".cost-self-wrapper-child").hide();
		$(".sales-auto-wrapper-child").hide();
		$(".sales-self-wrapper-child").hide();
		$(".commerce-total-wrapper-child").hide();
	}

	function toggleWrapperReport(id, type)
	{
		$("#"+id+"-wrapper-"+type+"-btn").hide();
		if(type == 'show'){
			$("#"+id+"-wrapper-hide-btn").show();
			$("."+id+"-wrapper-child").show();
			$("."+id+"-row-report-toggle").hide();
		}else if(type == 'hide'){
			$("#"+id+"-wrapper-show-btn").show();
			$("."+id+"-wrapper-child").hide();
		}
	}

	function toggleRowReport(type, id)
	{
		var sch_toggle = $("#sch_toggle").val();
		var sch_toggle_list_val = "";
		var sch_toggle_val = "";

		if(sch_toggle != "")
		{
			sch_toggle += ","+id;
			sch_toggle_list_val = sch_toggle.split(',');
			for(var idx in sch_toggle_list_val)
			{
				var chk_str = sch_toggle_list_val[idx];

				if(chk_str != ""){
					if(!(type == 'row' && chk_str == id)){
						sch_toggle_val += chk_str+",";
					}
				}
			}

		}else{
			sch_toggle_val = id;
		}

		if(type == 'total'){
			$(".total-report-"+id).hide();
			$(".row-report-"+id).show();
		}else if(type == 'row'){
			$(".row-report-"+id).hide();
			$(".total-report-"+id).show();
		}

		$("#sch_toggle").val(sch_toggle_val);
	}

	function save_el(type, brand, comm_g1, comm_g2, key_date, obj)
	{
		var parent = $(obj).parent();
		var val 	= uncomma(obj.value);
		var pre_val = $(parent).find('.pre-price').val();

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(pre_val == val)
			return false;

		if(type == 'net')
		{
		    if(val > 100){
		        alert("100이상 입력하실 수 없습니다");
		        return false;
			}

		    $.post("media_commerce_auto_report.php", {process : 'modify_net_percent', type: type, brand : brand, comm_g2 : comm_g2, date: key_date, val : val}, function(result){
				parent.find('.editable-span').text(val+"%").show();
				parent.find('.editable-input').hide();

				var parent_value = parent.find('.net-parent').val();
				var cost_total   = uncomma($(".cost-total-"+key_date).text());
				var sales_total  = uncomma($(".sales-total-"+key_date).text());

				var net_price    = parseInt(sales_total*(val/100));
				var profit_price = net_price-cost_total;

				parent.find('.net-parent').val(0);
				$(".net-total-"+key_date).text(comma(net_price));
				$(".profit-total-"+key_date).text(comma(profit_price));

				/** CHILD NET 확인 및 작업 */
				var editorSpan = $(".net-editor-tr").find(".editable-span");
				var editorInput = $(".net-editor-tr").find(".editable-input");
				var childSalesDate = $(".net-editor-tr").find(".net-sales-date");

				var finish_chk = 0;
				$(".net-parent").each(function(idx, item){
					var parent_date 	 = item.value;
					var child_sales_date = $(childSalesDate[idx]).val();
					var child_cost_total   = uncomma($(".cost-total-"+child_sales_date).text());
					var child_sales_total  = uncomma($(".sales-total-"+child_sales_date).text());
					var child_net_price    = parseInt(child_sales_total*(val/100));
					var child_profit_price = child_net_price-child_cost_total;

					if(parent_value == '0' && key_date == parent_date)
					{
						$(editorSpan[idx]).text(val+"%");
						$(editorInput[idx]).val(val);
						$(".net-total-"+child_sales_date).text(comma(child_net_price));
						$(".profit-total-"+child_sales_date).text(comma(child_profit_price));
					}else if((parent_value != '0' && finish_chk == '0') && (key_date < child_sales_date)){
						if(parent_date == '0'){
							finish_chk = 1;
						}else{
							$(editorSpan[idx]).text(val+"%");
							$(editorInput[idx]).val(val);
							$(".net-total-"+child_sales_date).text(comma(child_net_price));
							$(".profit-total-"+child_sales_date).text(comma(child_profit_price));
						}
					}
				});

			});
		}else{
			$.post("media_commerce_auto_report.php", {process : 'modify_price', type: type, brand : brand, comm_g2 : comm_g2, date: key_date, val : val}, function(result){
				parent.find('.editable-span').text(comma(val)).show();
				parent.find('.editable-input').hide();

				$(parent).find('.pre-price').val(val);

				var net_percent    = $("#net-percent-"+key_date).text().replace('%','');
				var cate_price     = uncomma($(".cate-price-"+comm_g1+"-"+key_date).text());
				var cost_total     = uncomma($(".cost-total-"+key_date).text());
				var sales_total    = uncomma($(".sales-total-"+key_date).text());
				var expected_sales = uncomma($(".expected-sales-"+key_date).text().replace('%',''));
				var roas_per 	   = uncomma($(".roas-per-"+key_date).text().replace('%',''));

				cate_price = cate_price - pre_val + val;

				if(type == 'cost'){
					cost_total  = cost_total - pre_val + val;
				}else if(type == 'sales'){
					sales_total = sales_total - pre_val + val;
				}

				expected_sales 	= Math.floor((cost_total/sales_total)*100);
				roas_per 		= Math.floor((sales_total/cost_total)*100);

				var net_price    = parseInt(sales_total*(net_percent/100));
				var profit_price = net_price-cost_total;

				$(".cate-price-"+comm_g1+"-"+key_date).text(comma(cate_price));
				$(".cost-total-"+key_date).text(comma(cost_total));
				$(".sales-total-"+key_date).text(comma(sales_total));
				$(".net-total-"+key_date).text(comma(net_price));
				$(".expected-sales-"+key_date).text(comma(expected_sales)+"%");
				$(".roas-per-"+key_date).text(comma(roas_per)+"%");
				$(".profit-total-"+key_date).text(comma(profit_price));

				if(profit_price > 0){
					$(".profit-total-"+key_date).addClass('sales-price-td');
					$(".profit-total-"+key_date).removeClass('cost-price-td');
				}else if(profit_price < 0){
					$(".profit-total-"+key_date).addClass('cost-price-td');
					$(".profit-total-"+key_date).removeClass('sales-price-td');
				}else{
					$(".profit-total-"+key_date).removeClass('cost-price-td');
					$(".profit-total-"+key_date).removeClass('sales-price-td');
				}

			});
		}
	}

	function inputNumberFormat(obj)
	{
		var numVal = uncomma(obj.value);
		var regNum = /^[0-9]+?$/g;

		if(regNum.test(numVal)){
			obj.value = comma(numVal);
		}else{
			obj.value = 0;
		}
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

    function openMemoModal(cm_no, k_name_code, sales_date, type)
    {
        var brand = $("#sch_brand_val").val();

		$.ajax({
			url: "/v1/api/comm.memo.modal.api.php",
			type: 'POST',
			data: {cm_no: cm_no, brand: brand, k_name_code: k_name_code, sales_date: sales_date, type: type}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var html     = jsonData.html;

            $(".memo-content").html(html);

            $("#comm-memo-modal").modal({
                fadeDuration: 250
            });
		});

    }

    function modal_save_el(obj)
    {
        var f = obj.form;
        var cm_no = f.new_cm_no.value;
        var brand = f.new_brand.value;
        var k_name_code = f.new_k_name_code.value;
        var sales_date = f.new_sales_date.value;
        var memo = f.new_memo.value;

		$.post("media_commerce_auto_report.php", {process : 'add_commerce_memo', cm_no: cm_no, brand : brand, k_name_code : k_name_code, sales_date: sales_date, memo : memo}, function(result){
            $('.close-modal').click();

			if(result == '2'){
				alert("실패했습니다");
			}else{
				document.search_form.submit();
			}
		});
    }

    function addMediaReport()
    {
        $("#mc_apply").val(0);
        var f = document.forms['add_media_report_frm'];
		var mc_brand  = $("#mc_brand").val();
		var mc_s_date = $('#mc_s_date').val()
		var mc_e_date = $('#mc_e_date').val()

        if(mc_s_date == '' || mc_e_date == ''){
            alert("적용날짜을 작성해주세요");
            return;
        }

        if(!$('#mc_file').val()){
            alert("파일을 첨부해주세요");
            return;
		}

        $.ajax({
            url: "/v1/api/comm.data.check.api.php",
            type: 'POST',
            data: {mc_brand: mc_brand, mc_s_date: mc_s_date, mc_e_date: mc_e_date}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var errorResult = jsonData.error_result;
            var mcResult   = jsonData.mc_result;
            var msg     = jsonData.msg;

            if(errorResult == '2')
            {
                if(mcResult == '1') {
                    if(confirm(msg)){
                        $("#mc_apply").val(1);
                        f.submit();
                    }
                }else {
                    f.submit();
                }
			}else{
                alert('오류가 발생했습니다. 다시 시도해주세요');
                return;
			}
        });
    }

	function downloadMonthReport()
	{
		var excel_month	= $('#excel_month').val();

		if(!excel_month){
			alert("해당월을 선택 후 이용해주세요!");
			return;
		}

		location.href='excel_media_commerce_month_report.php?sch_base_month='+excel_month;
	}

	const swiper = new Swiper('.board-issue-swiper', {
		direction: 'vertical',
		autoplay: {
			delay: 5000,
			disableOnInteraction: false,
		},
	});
</script>
</body>
</html>
