<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.order_btn{background-color: #EEE;font-weight: bold;width: 160px;height: 40px;margin: 0;line-height: 14px;float: left;font-size: 14px;border-radius: 5px;border: 1px solid #999;}
	.order_active_btn{background-color: #CCC;}

	.cms-product-qty-wrapper{display: none; margin-top: 10px;}
	.cms-product-price-wrapper{display: none; margin-top: 10px;}
	.cms-product-table-wrapper .table{width: auto;}
	.cms-product-table-wrapper .table th{font-size: 12px;}
	.cms-product-table-wrapper .table td{font-size: 12px;}
	.td-title{text-align: left;color: #fff; background-color: #343a40; border-color: #454d55;}
	.td-value{text-align: right;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">브랜드별 상품의 판매수량과 매출금액을 (A) (B) 기간으로 비교해 볼 수 있습니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="media_commerce_sales_product_compare.php" autocomplete="off" style="display: block; margin-top: 5px;">
		<div style="overflow: hidden; margin-top: 20px;">
			<input type="hidden" name="sch_order_type" id="sch_order_type" value="<{$sch_order_type}>">
			<button type="button" class="btn order_btn <{if $sch_order_type == 'unit_price'}>order_active_btn<{/if}>" id="order_btn_unit_price" onclick="changeOrderType('unit_price');" style="margin-right: 10px;">매출</button>
			<button type="button" class="btn order_btn <{if $sch_order_type == 'quantity'}>order_active_btn<{/if}>" id="order_btn_quantity" onclick="changeOrderType('quantity');">판매량</button>
		</div>

		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px; margin-right: 3px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<input type="checkbox" name="sch_cubing_combined" id="sch_cubing_combined" value="1" <{if $sch_cubing_combined == '1'}>checked<{/if}>>
				<label for="sch_cubing_combined" style="margin-right: 15px;">큐빙 묶음</label>

				<label for="sch_order_s_date">주문기준일(A)</label>
				<input type="text" name="sch_order_s_date" id="sch_order_s_date" class="date-picker form-control" value="<{$sch_order_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_order_e_date" id="sch_order_e_date" class="date-picker form-control" value="<{$sch_order_e_date}>" style="margin-left: 5px;" />

				<label for="sch_order_s_date">주문비교일(B)</label>
				<input type="text" name="sch_comp_s_date" id="sch_comp_s_date" class="date-picker form-control" value="<{$sch_comp_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_comp_e_date" id="sch_comp_e_date" class="date-picker form-control" value="<{$sch_comp_e_date}>" style="margin-left: 5px;" />

				<div style="margin-left: 10px;">
					<input type="hidden" name="sch_order_date_type_val" value="<{$sch_order_date_type}>">
					<{foreach from=$sch_order_type_option key=key item=label}>
						<input type="radio" name="sch_order_date_type" id="sch_order_date_type_<{$key}>" value="<{$key}>" class="radio" <{if $sch_order_date_type == $key}>checked<{/if}> disabled>
						<label for="sch_order_date_type_<{$key}>" style="display: inline-block; margin-left: -3px;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_price_type">상품별 결제금액</label>
				<select name="sch_price_type" id="sch_price_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$cms_price_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_price_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">구매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px; margin-right: 20px;">검색</button>
				<a href="media_commerce_sales_product.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_chart_off.png">
				</a>
				<a href="media_commerce_sales_product_compare.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/compare_on.png">
				</a>
			</div>
		</div>
	</form>

	<div class="cms-product-qty-wrapper cms-product-table-wrapper">
		<table id="cms-product-qty-table" class="table table-bordered" style="table-layout: fixed; width: auto; margin-top: 20px;">
			<colgroup>
				<col width="300px;"> <!-- 구분 -->
				<col width="140px;"> <!-- 비교일 -->
				<col width="140px;"> <!-- 증감률 -->
				<col width="140px;"> <!-- 기준일 -->
			</colgroup>
			<thead>
				<tr>
					<th scope="col" class="text-center">Total</th>
					<th scope="col" class="text-right"><{$cms_product_total_comp_qty|number_format:0}></th>
					<th scope="col" class="text-right">
						<{if $cms_product_total_qty_per != 0}>
							<{$cms_product_total_qty_per|number_format:1}>%
							<{if $cms_product_total_qty_per > 0}>
								<span style="color: red;">▲</span>
							<{elseif $cms_product_total_qty_per < 0}>
								<span style="color: blue;">▼</span>
							<{/if}>
						<{/if}>
					</th>
					<th scope="col" class="text-right"><{$cms_product_total_base_qty|number_format:0}></th>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col"></th>
					<th scope="col">비교일(B)</th>
					<th scope="col">(증감률)</th>
					<th scope="col">기준일(A)</th>
				</tr>
			</thead>
			<tbody>
				<{if $cms_product_total_qty_list}>
					<{foreach from=$cms_product_total_qty_list key=prd_no item=prd_qty_data}>
						<tr>
							<td class="td-title"><{$cms_product_name_list[$prd_no]}></td>
							<td class="td-value"><{$prd_qty_data.comp_qty|number_format:0}></td>
							<td class="td-value">
								<{if $prd_qty_data.qty_per != 0}>
									<{$prd_qty_data.qty_per|number_format:1}>%
									<{if $prd_qty_data.qty_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $prd_qty_data.qty_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								<{/if}>
							</td>
							<td class="td-value"><{$prd_qty_data.base_qty|number_format:0}></td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first text-center" colspan="4">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-product-qty-table');"/>
	</div>

	<div class="cms-product-price-wrapper cms-product-table-wrapper">
		<table id="cms-product-price-table" class="table table-bordered" style="table-layout: fixed; width: auto; margin-top: 20px;">
			<colgroup>
				<col width="300px;"> <!-- 구분 -->
				<col width="140px;"> <!-- 비교일 -->
				<col width="140px;"> <!-- 증감률 -->
				<col width="140px;"> <!-- 기준일 -->
			</colgroup>
			<thead>
				<tr>
					<th scope="col" class="text-center">Total</th>
					<th scope="col" class="text-right"><{$cms_product_total_comp_price|number_format:0}></th>
					<th scope="col" class="text-right">
						<{if $cms_product_total_price_per != 0}>
							<{$cms_product_total_price_per|number_format:1}>%
							<{if $cms_product_total_price_per > 0}>
								<span style="color: red;">▲</span>
							<{elseif $cms_product_total_price_per < 0}>
								<span style="color: blue;">▼</span>
							<{/if}>
						<{/if}>
					</th>
					<th scope="col" class="text-right"><{$cms_product_total_base_price|number_format:0}></th>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col"></th>
					<th scope="col">비교일(B)</th>
					<th scope="col">(증감률)</th>
					<th scope="col">기준일(A)</th>
				</tr>
			</thead>
			<tbody>
				<{if $cms_product_total_price_list}>
					<{foreach from=$cms_product_total_price_list key=prd_no item=prd_price_data}>
						<tr>
							<td class="td-title"><{$cms_product_name_list[$prd_no]}></td>
							<td class="td-value"><{$prd_price_data.comp_price|number_format:0}></td>
							<td class="td-value">
								<{if $prd_price_data.price_per != 0}>
									<{$prd_price_data.price_per|number_format:1}>%
									<{if $prd_price_data.price_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $prd_price_data.price_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								<{/if}>
							</td>
							<td class="td-value"><{$prd_price_data.base_price|number_format:0}></td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first text-center" colspan="4">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-product-price-table');" />
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		var order_type = $("#sch_order_type").val();
		showOrderTypeData(order_type);
	});

	function changeOrderType(type) {
		$("#sch_order_type").val(type);
		showOrderTypeData(type);
	}

	function showOrderTypeData(type)
	{
		$(".cms-product-table-wrapper").hide();
		$(".order_btn").removeClass('order_active_btn');

		if(type == 'quantity'){
			$(".cms-product-qty-wrapper").show();
			$("#order_btn_quantity").addClass('order_active_btn');
		}else{
			$(".cms-product-price-wrapper").show();
			$("#order_btn_unit_price").addClass('order_active_btn');
		}
	}
</script>

</body>
</html>
