<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}

	.main-container .table-header{width: 330px; table-layout: inherit !important; float: left;border: 0; border-left: 1px solid #dee2e6;}
	.main-container .table-content-wrapper{float: left; max-width: 991px; overflow-x: scroll;}
	.main-container .table-content{table-layout: fixed;border: 0; border-right: 1px solid #dee2e6;}
	.main-container .commerce-section{max-width: 1321px; margin: 30px 0; overflow: hidden;}
	.main-container .table thead th{text-align: center; background: #333; color: white; width: 110px;}
	.main-container .table tbody th{text-align: left; background: #333; color: white; vertical-align: middle;}
	.main-container .table tbody th button{color: white; font-weight: bold; border: 0;}
	/*.main-container .table tbody td{text-align: right; font-weight: bold; vertical-align: middle; height: 47px; width: 110px;}*/
	.main-container .table tbody td{text-align: right; font-weight: bold; vertical-align: middle; height: 35px; width: 110px;}
	.main-container .table tbody td.cms-price-td{color: blue;}
	.main-container .table tbody td.cms-price-total-td{color: black; height: 35px;}

	.table-bordered td{border-left: 0;}
	.main-container .table tbody th.date-th{text-align: center;background: #333; color: white; width: 110px;}
</style>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 15px;" onclick="location.href='media_commerce_auto_report.php?<{$search_url}>';">커머스 매출 및 비용관리</button>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 5px;" onclick="location.href='media_commerce_count_report.php?<{$search_url}>';">커머스 주문수</button>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 5px;" onclick="location.href='wise_csm_return_count_report.php?<{$search_url}>';">커머스 반품/교환수</button>
	</h2>

	<form method="get" name="search_form" action="media_commerce_average_report.php" class="form-inline">
		<input type="hidden" name="sch_toggle" id="sch_toggle" value="<{$sch_toggle}>" />
		<input type="hidden" name="sch_brand_val" id="sch_brand_val" value="<{$sch_brand}>" />
		<div class="form-group" style="width: 100%">
			<input type="checkbox" name="sch_not_empty" id="sch_not_empty" class="form-control" value="1" <{if $sch_not_empty == '1'}>checked<{/if}>>
			<label for="sch_not_empty" style="margin: 0 5px; cursor: pointer;">전체 0인 항목 숨기기</label>
		</div>
		<div class="form-group">
			<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>날짜</label>
			<div id="sch_date_type_day" class="sch_date_type">
				<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
			</div>
			<div id="sch_date_type_week" class="sch_date_type">
				<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
				~
				<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
			</div>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div id="sch_date_type_year" class="sch_date_type">
				<input type="text" class="year-picker form-control" id="sch_s_year" name="sch_s_year" value="<{$sch_s_year}>" />
				~
				<input type="text" class="year-picker form-control" id="sch_e_year" name="sch_e_year" value="<{$sch_e_year}>" />
			</div>

			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
				<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
				<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_4" value="4" class="radio" <{if $sch_date_type == '4'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">
				<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
			</div>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
	</form>

	<div class="main-container">
		<section class="commerce-section">
			<table class="table table-bordered table-header">
				<tbody>
					<tr>
						<th colspan="2" style="text-align: center; height: 30px; background: white; color: black; font-weight: bold;"></th>
					</tr>
					<{if $cms_report_title_list}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: #ccc;color: black; font-weight: bold;">평균</th>
						</tr>
						<{foreach from=$cms_report_title_list key=dp_c_no item=cms_report_title}>
						<tr>
							<th colspan="2" style="height: 35px;">
								<{$cms_report_title}>
							</th>
						</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>

			<div class="table-content-wrapper">
				<table class="table table-bordered table-content">
					<tbody>
						<tr>
							<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
							<{/foreach}>
						</tr>

						<{if $cms_report_list}>
							<{if $cms_report_total_avg_list}>
								<tr class="cms-total-tr" style="background: #ccc;">
									<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="cms-price-total-td">
										₩ <{$cms_report_total_avg_list[$comm_date]|number_format:0}>
									</td>
									<{/foreach}>
								</tr>
							<{/if}>
							<{foreach from=$cms_report_list key=dp_c_no item=cms_report}>
								<tr>
									<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td>
											₩ <{$cms_report_avg_price_list[$dp_c_no][$comm_date]|number_format:0}>
										</td>
									<{/foreach}>
								</tr>
							<{/foreach}>
						<{/if}>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
<!-- //admin_content -->


<script type="text/javascript">
    $(document).ready(function(){
		$("#sch_comm_g2").remoteChained({
			parents: "#sch_comm_g1",
			url: "/v1/api/comm.json.php?parent_data=sch_comm_g1",
			loading: "로딩중..",
			clear: true
		});

    	var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
    });

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}
</script>
</body>
</html>
