<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}

	.table th, .table td{vertical-align: middle;}
	.sales-price{color: blue; text-align: right;}
	.cost-price{color: red; text-align: right;}
	.zero-price{color: black; text-align: right;}
	.brand-chart-wrapper, .date-chart-wrapper{margin-top: 50px;}
	#brand-chart, #date-chart{position: relative; width: 1200px; height: 700px;}

	.nosp-result-wrapper td{padding: 5px 1px 1px 1px; border: 0;}
	.nosp-time-wrapper{margin-bottom: 2px;}
	.nosp-special-wrapper{margin-bottom: 2px;}
	.nosp-result-child{position: relative; cursor: pointer; padding-top: 5px !important;}
	.nosp-result-link{text-decoration: none;}
	.nosp-result-link:hover{text-decoration: none;}
	.nosp-time-symbol{display: inline-block; width: 20px; height: 20px; background: #FFC000; color: white; border-radius: 10px; text-align: center; padding-top: 1px;}
	.nosp-special-symbol{display: inline-block; width: 20px; height: 20px; background: #00B0F0; color: white; border-radius: 10px; text-align: center; padding-top: 1px;}
	.nosp-special-wrapper{min-height: 23px;}
	.nosp-time-wrapper{min-height: 23px;}
	.nosp-each-link{float: left; display: inline-block; min-width: 64px; width: 55%; text-align: right; margin-right: 5px;}
	.nosp-total-link{float: left; display: inline-block; width: 30px; min-height: 47px; padding-top: 25px;}
	.nosp-total-link img{width: 18px;}

	.m_over_display{display: none; position: absolute; top: -78px; left: -50px; padding: 10px 10px 5px 10px; color: #000; border: 1px solid #DDD; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		width: max-content; text-align: left;
		box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 15px;
		transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
		background-color: rgb(255, 255, 255);}
	.m_over_display_right{right: 0; left: unset}
	.m_over_display_left:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; left: 85px; bottom: -20px;}
	.m_over_display_right:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; right: 45px; bottom: -20px;}
	.m_over_display .nosp-special-count{width: 15px; display: inline-block; text-align: center;}
	.m_over_display .nosp-special-symbol{margin-right: 5px;}
	.m_over_display .nosp-time-symbol{margin-right: 5px;}

	.bm-total-wrapper{width: 1600px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px;}
	.bm-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
	.bm-section-label-link{margin-right: 10px; float: right;}
	#daily-sales-table{width: auto;}
	#hour-sales-table{table-layout: fixed; width: auto; float: left;}
	#term-sales-table{table-layout: fixed; width: auto; margin-left: 100px; float: left;}
	#daily-sales-table td, #hour-sales-table td, #term-sales-table td{font-weight: bold;}
	.table tbody td.total-price{background: #eee;}

	#traffic-conversion-total-chart{margin: 10px auto; width: 1560px; height: 600px;}
	.traffic-conversion-table-wrapper{width: 1560px; margin: 10px auto;}
	.traffic-conversion-table-wrapper .table th{font-size: 12px;}
	.traffic-conversion-table-wrapper .table td{font-size: 12px; font-weight: bold;}
	.traffic-conversion-table-wrapper .m_over_display{}
	.font-traffic{color: #00B050;}
	.font-convert{color: #FFC000;}
	.font-convert-rate{color: #00B0F0;}
	.font-price{color: #8064A2;}
	.font-avg{color: #FF33CC;}
	.event-td{cursor: pointer;}
</style>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="media_commerce_compare_chart.php" class="form-inline" style="width: 980px;">
		<div class="form-group">
			<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label style="margin-left: 20px; font-weight: bold;">날짜</label>
			<div id="sch_date_type_day" class="sch_date_type">
				<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
			</div>
			<div id="sch_date_type_week" class="sch_date_type">
				<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
				~
				<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
			</div>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div id="sch_date_type_year" class="sch_date_type">
				<input type="text" class="year-picker form-control" id="sch_s_year" name="sch_s_year" value="<{$sch_s_year}>" />
				~
				<input type="text" class="year-picker form-control" id="sch_e_year" name="sch_e_year" value="<{$sch_e_year}>" />
			</div>

			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
				<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
				<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_4" value="4" class="radio" <{if $sch_date_type == '4'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">
				<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
			</div>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>

			<a href="media_commerce_auto_report.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_off.png">
			</a>
			<a href="media_commerce_compare_chart.php?<{$search_url}>" style="margin-right: 5px;">
				<img src="./images/icon/work_chart_on.png">
			</a>
			<a href="media_commerce_stats_report_term.php?<{$search_term_url}>">
				<img src="./images/icon/compare_off.png">
			</a>
		</div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_is_rate" style="margin-left: 0;">증감률</label>
			<select name="sch_is_rate" id="sch_is_rate" class="form-control">
				<option value="">::선택::</option>
				<{foreach from=$sch_rate_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_rate == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
	</form>

	<div style="margin-top: 40px;">
		<table class="table table-bordered" style="font-weight: bold; width: auto;">
			<thead class="thead-dark text-center">
				<{if $nosp_result_total > 0}>
					<tr class="nosp-result-wrapper">
						<td colspan="2"></td>
						<{assign var=key_idx value=0}>
						<{foreach from=$commerce_date_list key=key_date item=date_label}>
							<td id="nosp-result-child-<{$key_date}>" class="text-center nosp-result-child"
								<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
									onmouseover="m_over_display(this, '<{$key_date}>', 'show');"
									onmouseout="m_over_display(this, '<{$key_date}>', 'hide');"
								<{/if}>
								style="vertical-align: bottom;"
							>
								<div class="nosp-each-link">
									<div class="nosp-special-wrapper">
										<{if $nosp_result_list[$key_date][1]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
											<a href="advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=1&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
												<span class="nosp-time-symbol">T</span>
											</a>
										<{/if}>
									</div>
									<div class="nosp-time-wrapper">
										<{if $nosp_result_list[$key_date][2]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
											<a href="advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=2&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
												<span class="nosp-special-symbol">S</span>
											</a>
										<{/if}>
									</div>
								</div>
								<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
									<div class="nosp-total-link">
										<a href="advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
											<img src="./images/icon/new_win_icon.png">
										</a>
									</div>
								<{/if}>
								<div id="m_over_display_<{$key_date}>" class="m_over_display <{if $key_idx > 11}>m_over_display_right<{else}>m_over_display_left<{/if}>">
									<div class="nosp-special-wrapper">
										<{if $nosp_result_list[$key_date][1]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
											<span class="nosp-time-symbol">T</span>
											<span class="nosp-time-total" style="margin-top: 2px;">
												<{if $sch_brand_url}>
													<{$nosp_result_list[$key_date][1]['total']|number_format:0}>
												<{else}>
													<{($nosp_result_list[$key_date][1]['total']/10000)|number_format:0}>만원
													(
														<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
															Df <{($nosp_result_list[$key_date][1]['df_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][1]['n_total'] > 0}>
															<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																 /
															<{/if}>
															N <{($nosp_result_list[$key_date][1]['n_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][1]['e_total'] > 0}>
															<{if $nosp_result_list[$key_date][1]['df_total'] > 0 || $nosp_result_list[$key_date][1]['n_total'] > 0}>
																 /
															<{/if}>
															E <{($nosp_result_list[$key_date][1]['e_total']/10000)|number_format:0}>만원
														<{/if}>
													)
												<{/if}>
											</span>
										<{/if}>
									</div>
									<div class="nosp-time-wrapper" >
										<{if $nosp_result_list[$key_date][2]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
											<span class="nosp-special-symbol">S</span>
											<span class="nosp-special-total" style="margin-top: 2px;">
												<{if $sch_brand_url}>
													<{$nosp_result_list[$key_date][2]['total']|number_format:0}>
												<{else}>
													<{($nosp_result_list[$key_date][2]['total']/10000)|number_format:0}>만원
													(
														<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
															Df <{($nosp_result_list[$key_date][2]['df_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][2]['n_total'] > 0}>
															<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																 /
															<{/if}>
															N <{($nosp_result_list[$key_date][2]['n_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][2]['e_total'] > 0}>
															<{if $nosp_result_list[$key_date][2]['df_total'] > 0 || $nosp_result_list[$key_date][2]['n_total'] > 0}>
																 /
															<{/if}>
															E <{($nosp_result_list[$key_date][2]['e_total']/10000)|number_format:0}>만원
														<{/if}>
													)
												<{/if}>
											</span>
										<{/if}>
									</div>
								</div>
							</td>
							<{assign var=key_idx value=$key_idx+1}>
						<{/foreach}>
					</tr>
				<{/if}>
				<{if $cal_event_list}>
					<tr>
						<td colspan="2"></td>
						<{foreach from=$commerce_date_list key=date_key item=date_data}>
							<td class="event-td text-center">
								<{if $cal_event_list[$date_key]}>
									<img src="images/icon/memo_on.png" title="<{$cal_event_list[$date_key]}>"/>
								<{/if}>
							</td>
						<{/foreach}>
					</tr>
				<{/if}>
				<tr>
					<th style="min-width: 140px;"></th>
					<th style="min-width: 100px;"></th>
					<{foreach from=$commerce_date_list key=date_key item=date_name}>
						<th style="<{if $sch_is_rate == '2' && $sch_date_type == '3'}>min-width: 200px;<{else}>min-width: 120px;<{/if}>"><{$date_name}><{if $sch_is_rate == '1' && $sch_rate_date}> [증감률]<{elseif $sch_is_rate == '2' && $sch_date_type == '3'}> [전년대비 증감률]<{/if}></th>
					<{/foreach}>
				</tr>
			</thead>
			<{if $total_report_table_list}>
			<tbody>
				<tr style="background: #CCC;">
					<td rowspan="3">합계</td>
					<td>매출</td>
					<{foreach from=$commerce_date_list key=date_key item=date_name}>
						<td class="sales-price">
							₩<{$total_report_date_list[$date_key].sales|number_format:0}>
							<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
								<span class="<{if $total_report_date_list[$date_key].sales_per > 0}>cost-price<{else}>zero-price<{/if}>">
									[<{$total_report_date_list[$date_key].sales_per|number_format:1}>%<{if $total_report_date_list[$date_key].sales_per > 0}>△<{elseif $total_report_date_list[$date_key].sales_per < 0}>▽<{/if}>]
								</span>
							<{/if}>
						</td>
					<{/foreach}>
				</tr>
				<tr style="background: #CCC;">
					<td>비용</td>
					<{foreach from=$commerce_date_list key=date_key item=date_name}>
						<td class="cost-price">
							<{if $total_report_date_list[$date_key].cost > 0}>- <{/if}>₩<{$total_report_date_list[$date_key].cost|number_format:0}>
							<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
								<span class="<{if $total_report_date_list[$date_key].cost_per > 0}>cost-price<{else}>zero-price<{/if}>">
									[<{$total_report_date_list[$date_key].cost_per|number_format:1}>%<{if $total_report_date_list[$date_key].cost_per > 0}>△<{elseif $total_report_date_list[$date_key].cost_per < 0}>▽<{/if}>]
								</span>
							<{/if}>
						</td>
					<{/foreach}>
				</tr>
				<tr style="background: #CCC;">
					<td>공헌이익</td>
					<{foreach from=$commerce_date_list key=date_key item=date_name}>
						<{if $total_report_date_list[$date_key].profit > 0}>
							<td class="sales-price">
								₩<{$total_report_date_list[$date_key].profit|number_format:0}>
								<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
									<span class="<{if $total_report_date_list[$date_key].profit_per > 0}>cost-price<{else}>zero-price<{/if}>">
										[<{$total_report_date_list[$date_key].profit_per|number_format:1}>%<{if $total_report_date_list[$date_key].profit_per > 0}>△<{elseif $total_report_date_list[$date_key].profit_per < 0}>▽<{/if}>]
									</span>
								<{/if}>
							</td>
						<{elseif $total_report_date_list[$date_key].profit < 0}>
							<td class="cost-price">
								- ₩<{($total_report_date_list[$date_key].profit*-1)|number_format:0}>
								<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
									<span class="<{if $total_report_date_list[$date_key].profit_per > 0}>cost-price<{else}>zero-price<{/if}>">
										[<{$total_report_date_list[$date_key].profit_per|number_format:1}>%<{if $total_report_date_list[$date_key].profit_per > 0}>△<{elseif $total_report_date_list[$date_key].profit_per < 0}>▽<{/if}>]
									</span>
								<{/if}>
							</td>
						<{else}>
						<td class="zero-price">₩<{$total_report_date_list[$date_key].profit|number_format:0}></td>
						<{/if}>
					<{/foreach}>
				</tr>
				<{assign var=color_idx value=1}>
				<{foreach from=$total_report_table_list item=report_table_data}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td rowspan="3"><{$report_table_data.title}></td>
						<td>매출</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<td class="sales-price">
								₩<{$report_table_data[$date_key].sales|number_format:0}>
								<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
									<span class="<{if $report_table_data[$date_key].sales_per > 0}>cost-price<{else}>zero-price<{/if}>">
										[<{$report_table_data[$date_key].sales_per|number_format:1}>%<{if $report_table_data[$date_key].sales_per > 0}>△<{elseif $report_table_data[$date_key].sales_per < 0}>▽<{/if}>]
									</span>
								<{/if}>
							</td>
						<{/foreach}>
					</tr>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td>비용</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<td class="cost-price">
								<{if $report_table_data[$date_key].cost > 0}>- <{/if}>₩<{$report_table_data[$date_key].cost|number_format:0}>
								<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
									<span class="<{if $report_table_data[$date_key].cost_per > 0}>cost-price<{else}>zero-price<{/if}>">
										[<{$report_table_data[$date_key].cost_per|number_format:1}>%<{if $report_table_data[$date_key].cost_per > 0}>△<{elseif $report_table_data[$date_key].cost_per < 0}>▽<{/if}>]
									</span>
								<{/if}>
							</td>
						<{/foreach}>
					</tr>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td>공헌이익</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<{if $report_table_data[$date_key].profit > 0}>
								<td class="sales-price">
									₩<{$report_table_data[$date_key].profit|number_format:0}>
									<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
										<span class="<{if $report_table_data[$date_key].profit_per > 0}>cost-price<{else}>zero-price<{/if}>">
											[<{$report_table_data[$date_key].profit_per|number_format:1}>%<{if $report_table_data[$date_key].profit_per > 0}>△<{elseif $report_table_data[$date_key].profit_per < 0}>▽<{/if}>]
										</span>
									<{/if}>
								</td>
							<{elseif $report_table_data[$date_key].profit < 0}>
								<td class="cost-price">
									- ₩<{($report_table_data[$date_key].profit*-1)|number_format:0}>
									<{if ($sch_is_rate == '1' && $sch_rate_date) || ($sch_is_rate == '2' && $sch_date_type == '3')}>
										<span class="<{if $report_table_data[$date_key].profit_per > 0}>cost-price<{else}>zero-price<{/if}>">
											[<{$report_table_data[$date_key].profit_per|number_format:1}>%<{if $report_table_data[$date_key].profit_per > 0}>△<{elseif $report_table_data[$date_key].profit_per < 0}>▽<{/if}>]
										</span>
									<{/if}>
								</td>
							<{else}>
								<td class="zero-price">₩<{$report_table_data[$date_key].profit|number_format:0}></td>
							<{/if}>
						<{/foreach}>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			</tbody>
			<{/if}>
		</table>
	</div>

	<div class="date-chart-wrapper">
		<div id="date-chart">

		</div>
	</div>

	<div class="brand-chart-wrapper">
		<div id="brand-chart">

		</div>
	</div>

	<div class="bm-total-wrapper">
		<div style="font-size: 20px;">
			※알림. 트래픽 유입/전환/전환율 데이터는 검색일 기준 D-2일까지만 표시됩니다.
		</div>
		<h2 class="bm-total-label">유입 / 전환 / 전환률 / 아임웹 매출 / 주문건당 단가</h2>
		<div class="traffic-conversion-wrapper">
			<div class="traffic-convert-chart-wrapper">
				<div id="traffic-conversion-total-chart"></div>

				<div class="traffic-conversion-table-wrapper">
					<table id="traffic-conversion-total-table" class="table table-bordered">
						<thead class="thead-dark text-center">
							<{if $nosp_result_total > 0}>
								<tr class="nosp-result-wrapper">
								<td></td>
								<{assign var=key_idx value=0}>
								<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-center nosp-result-child"
										<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
											onmouseover="conversion_over_display(this, '<{$key_date}>', 'show');"
											onmouseout="conversion_over_display(this, '<{$key_date}>', 'hide');"
										<{/if}>
										style="vertical-align: bottom;"
									>
										<div class="nosp-each-link">
											<div class="nosp-special-wrapper">
												<{if $nosp_result_list[$key_date][1]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
													<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_product=1&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
														<span class="nosp-time-symbol">T</span>
													</a>
												<{/if}>
											</div>
											<div class="nosp-time-wrapper">
												<{if $nosp_result_list[$key_date][2]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
													<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_product=2&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
														<span class="nosp-special-symbol">S</span>
													</a>
												<{/if}>
											</div>
										</div>
										<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
											<div class="nosp-total-link">
												<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
													<img src="./images/icon/new_win_icon.png">
												</a>
											</div>
										<{/if}>
										<div id="conversion_over_display_<{$key_date}>" class="m_over_display <{if $key_idx > 11}>m_over_display_right<{else}>m_over_display_left<{/if}>">
											<div class="nosp-special-wrapper">
												<{if $nosp_result_list[$key_date][1]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
													<span class="nosp-time-symbol">T</span>
													<span class="nosp-time-total" style="margin-top: 2px;">
														<{if $sch_brand_url}>
															<{$nosp_result_list[$key_date][1]['total']|number_format:0}>
														<{else}>
															<{($nosp_result_list[$key_date][1]['total']/10000)|number_format:0}>만원
															(
																<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																	Df <{($nosp_result_list[$key_date][1]['df_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][1]['n_total'] > 0}>
																	<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																		 /
																	<{/if}>
																	N <{($nosp_result_list[$key_date][1]['n_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][1]['e_total'] > 0}>
																	<{if $nosp_result_list[$key_date][1]['df_total'] > 0 || $nosp_result_list[$key_date][1]['n_total'] > 0}>
																		 /
																	<{/if}>
																	E <{($nosp_result_list[$key_date][1]['e_total']/10000)|number_format:0}>만원
																<{/if}>
															)
														<{/if}>
													</span>
												<{/if}>
											</div>
											<div class="nosp-time-wrapper" >
												<{if $nosp_result_list[$key_date][2]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
													<span class="nosp-special-symbol">S</span>
													<span class="nosp-special-total" style="margin-top: 2px;">
														<{if $sch_brand_url}>
															<{$nosp_result_list[$key_date][2]['total']|number_format:0}>
														<{else}>
															<{($nosp_result_list[$key_date][2]['total']/10000)|number_format:0}>만원
															(
																<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																	Df <{($nosp_result_list[$key_date][2]['df_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][2]['n_total'] > 0}>
																	<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																		 /
																	<{/if}>
																	N <{($nosp_result_list[$key_date][2]['n_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][2]['e_total'] > 0}>
																	<{if $nosp_result_list[$key_date][2]['df_total'] > 0 || $nosp_result_list[$key_date][2]['n_total'] > 0}>
																		 /
																	<{/if}>
																	E <{($nosp_result_list[$key_date][2]['e_total']/10000)|number_format:0}>만원
																<{/if}>
															)
														<{/if}>
													</span>
												<{/if}>
											</div>
										</div>
									</td>
									<{assign var=key_idx value=$key_idx+1}>
								<{/foreach}>
							</tr>
							<{/if}>
							<tr>
								<th style="width: 100px; min-width: 100px;"></th>
								<{foreach from=$commerce_date_list item=date_label}>
									<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
								<{/foreach}>
							</tr>
						</thead>
						<tbody>
							<{if $convert_total_list}>
								<tr>
									<td class="first text-center font-traffic">유입</td>
									<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-traffic"><{$convert_total_list[$key_date].traffic|number_format:0}></span>
									</td>
									<{/foreach}>
								</tr>
								<tr>
									<td class="first text-center font-convert">전환</td>
									<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-convert"><{$convert_total_list[$key_date].conversion|number_format:0}></span>
									</td>
									<{/foreach}>
								</tr>
								<tr>
									<td class="first text-center font-convert-rate">전환율</td>
									<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-convert-rate"><{$convert_total_list[$key_date].conversion_rate|number_format:1}>%</span>
									</td>
									<{/foreach}>
								</tr>
								<tr>
									<td class="first text-center font-price">아임웹 매출</td>
									<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-price"><{$convert_total_list[$key_date].total_price|number_format:0}></span>
									</td>
									<{/foreach}>
								</tr>
								<tr>
									<td class="first text-center font-avg">주문건당 단가</td>
									<{foreach from=$commerce_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-avg"><{$convert_total_list[$key_date].avg_price|number_format:0}></span>
									</td>
									<{/foreach}>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	 </div>
	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			커머스 상품별 판매 매출
			<a href="/v1/media_commerce_sales_product.php?sch_order_type=unit_price&sch_order_date_type=<{$sch_date_type}>&sch_order_s_date=<{$chk_s_date}>&sch_order_e_date=<{$chk_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col width="240px;"> <!-- 구분 -->
					<{foreach from=$commerce_date_list key=key_date item=date_label}>
						<col width="100px;"> <!-- 날짜 -->
					<{/foreach}>
					<col width="100px;"> <!-- 합계 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col"></th>
						<{foreach from=$commerce_date_list key=key_date item=date_label}>
							<th scope="col"><{$date_label}></th>
						<{/foreach}>
						<th scope="col">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$cms_prd_best_list key=prd_no item=prd_data}>
						<{assign var=row_total value=0}>
						<tr>
							<td class="first text-left" style="background: #343a40; color: white;"><{$cms_prd_name_list[$prd_no]}></td>
							<{foreach from=$prd_data key=date_key item=date_data}>
								<td class="text-right"><{$date_data|number_format}></td>
								<{assign var=row_total value=$row_total+$date_data}>
							<{/foreach}>
							<td class="text-right" style="background: #FFD9FF;"><{$row_total|number_format:0}></td>
						</tr>
					<{/foreach}>
					<tr>
						<td colspan="<{$cms_prd_best_cnt}>" style="text-align: center; background: #CCC;">이하 생략</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<b style="font-size: 14px;">[기간] <{$daily_s_date_text}> ~ <{$daily_e_date_text}>_지난 7일간</b>
		<h2 class="bm-total-label">
			요일/시간별 판매실적 현황(아임웹)
			<a href="/v1/work_cms_stats_sales_daily.php?sch_ord_s_date=<{$daily_s_date}>&sch_ord_e_date=<{$daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="daily-sales-table">
				<colgroup>
					<col width="100px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 기간Total -->
					<{if $daily_date_list}>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<col width="120px;"> <!-- 날짜 -->
						<{/foreach}>
					<{/if}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">기간Total</th>
						<{if $daily_date_list}>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<th scope="col"><{$date_label}></th>
							<{/foreach}>
						<{/if}>
					</tr>
				</thead>
				<tbody>
					<{if $daily_sales_list}>
						<tr>
							<td class="first text-center">Total</td>
							<td class="text-right"><{$daily_sales_total_price|number_format:0}></td>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<{assign var=date_per value=round(($daily_date_total_list[$date_key]-$daily_date_total_list["min"])/($daily_date_total_list["max"]-$daily_date_total_list["min"]),2)}>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[$date_key]|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<tr>
								<td class="first text-center">
									<{$hour_label}><br/>
									<{assign var=hour_per value=round($daily_hour_total_list[$hour_key]/$daily_hour_total_list["max"],2)}>
								</td>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[$hour_key]|number_format:0}></td>
								<{foreach from=$daily_date_list key=date_key item=date_label}>
									<{assign var=daily_per value=round($daily_sales_list[$date_key][$hour_key]/$daily_sales_list[$date_key]["max"],2)}>
									<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[$date_key][$hour_key]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{/if}>
					</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<b style="font-size: 14px;">[기간] 비교일(B) : <{$prev_daily_s_date_text}> ~ <{$prev_daily_e_date_text}> vs 기준일(A) : <{$daily_s_date_text}> ~ <{$daily_e_date_text}></b>
		<h2 class="bm-total-label">
			요일/시간별 판매실적 비교(아임웹)
			<a href="/v1/work_cms_stats_sales_term.php?sch_base_s_date=<{$daily_s_date}>&sch_base_e_date=<{$daily_e_date}>&sch_comp_s_date=<{$prev_daily_s_date}>&sch_comp_e_date=<{$prev_daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="hour-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_hour_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list.comp_per|number_format:1}>%
								<{if $sales_term_total_list.comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list.comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<{assign var=hour_base_per value=round($sales_term_hour_list[$hour_key].base_price/$sales_term_total_list["hour_base_max"],2)}>
							<{assign var=hour_comp_per value=round($sales_term_hour_list[$hour_key].comp_price/$sales_term_total_list["hour_comp_max"],2)}>
							<tr>
								<td class="first text-center"><{$hour_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_comp_per}>);"><{$sales_term_hour_list[$hour_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_hour_list[$hour_key].comp_per|number_format:1}>%
									<{if $sales_term_hour_list[$hour_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_hour_list[$hour_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_base_per}>);"><{$sales_term_hour_list[$hour_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
			<table class="table table-bordered" id="term-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_date_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list.comp_per|number_format:1}>%
								<{if $sales_term_total_list.comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list.comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<{assign var=date_base_per value=round(($sales_term_date_list[$date_key].base_price-$sales_term_total_list["date_base_min"])/($sales_term_total_list["date_base_max"]-$sales_term_total_list["date_base_min"]),2)}>
							<{assign var=date_comp_per value=round(($sales_term_date_list[$date_key].comp_price-$sales_term_total_list["date_comp_min"])/($sales_term_total_list["date_comp_max"]-$sales_term_total_list["date_comp_min"]),2)}>
							<tr>
								<td class="first text-center"><{$date_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_comp_per}>);"><{$sales_term_date_list[$date_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_date_list[$date_key].comp_per|number_format:1}>%
									<{if $sales_term_date_list[$date_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_date_list[$date_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_base_per}>);"><{$sales_term_date_list[$date_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function(){
    	var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
    });

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}

	var brandChart = echarts.init(document.getElementById('brand-chart'),null, {renderer : 'canvas'});
	drawBrandChart();

	function drawBrandChart()
	{
		var fullData = <{$brand_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$brand_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					data: item['data'],
					itemStyle: {
						color: item['color'],
					}
				});
			});

			brandChart.setOption({
				title: {
					text: '<{$sch_brand_date_name}>'
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				legend:{
					data: ['매출','비용','공헌이익'],
					top : '5%'
				},
				toolbox: {
					feature: {
						saveAsImage: { show: true }
					}
				},
				grid: {
					right: '5%'
				},
				xAxis: {
					type: 'value',
					boundaryGap: [0, 0.01]
				},
				yAxis: {
					type: 'category',
					data: legendData
				},
				series: pushData
			});
		}
	}

	var dateChart = echarts.init(document.getElementById('date-chart'), null, {renderer : 'svg'});
	drawDateChart();

	function drawDateChart()
	{
		var fullData = <{$date_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$date_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					data: item['data'],
					itemStyle: {
						color: item['color'],
					}
				});
			});

			dateChart.setOption({
				title: {
					text: '<{$sch_brand_name}>'
				},
				legend:{
					data: ['매출','비용','공헌이익'],
					top : '5%'
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				grid: {
					right: '5%'
				},
				toolbox: {
					feature: {
						saveAsImage: { show: true }
					}
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: legendData
				},
				yAxis: {
					type: 'value',
					boundaryGap: [0, 0.01]
				},
				series: pushData
			});
		}
	}

	var convertTotalChart = echarts.init(document.getElementById('traffic-conversion-total-chart'),null, {renderer : 'canvas'});
	drawConvertChart();

	function drawConvertChart()
	{
		var fullData = <{$convert_total_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$convert_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];
			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					itemStyle: {
						color: item['color'],
					}
				});
			});

			var styleList 	= <{$convert_total_chart_style_list}>;
			var styleData 	= [];
			$.each(styleList, function(idx, item){
				if(item['min'] == '0') {
					styleData.push({
						type: "value",
						show: false,
						axisLabel: {
							formatter: '{value}'
						}
					});
				}else{
					styleData.push({
						type: "value",
						min: item['min'],
						max: item['max'],
						show: false,
						axisLabel: {
							formatter: '{value}'
						}
					});
				}
			});

			convertTotalChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "3%",
					right: "3%"
				},
				xAxis: {
					type: 'category',
					axisLine: { show: false },
					axisTick: { show: false },
					data: legendData
				},
				yAxis: styleData,
				series: pushData
			});
		}
	}

	function m_over_display(e, key_date, type)
	{
		if(type == 'show') {
			$("#m_over_display_" + key_date).show();
		}else if(type == 'hide'){
			$("#m_over_display_" + key_date).hide();
		}
	}

	function conversion_over_display(e, key_date, type)
	{
		if(type == 'show') {
			$("#conversion_over_display_" + key_date).show();
		}else if(type == 'hide'){
			$("#conversion_over_display_" + key_date).hide();
		}
	}
</script>
</body>
</html>
