<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	div.admin_content{max-width: 1900px;}
	.admin_content table thead th{vertical-align: middle;height: 50px;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody td.red-background{background: #ffae95;}
	.admin_content table tbody td.blue-background{background: #97b0d1;}
	.admin_content table tbody td.gray-background{background-color: rgba(0,0,0,.05);}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; }
	.admin_content table tbody textarea{padding: 1px; font-size: 12px;}

	.custom-combobox input{margin-right: 5px !important;}
	.form-inline .form-control{font-size: 12px; margin-right: 0; padding: 3px;}
	#comm_url_table .form-control{font-size: 12px; margin-right: 0; padding: 3px;}
	.form-inline label{margin-right: 10px;}
	#new_comm_url_frm .form-control{font-size: 12px; padding: 3px; width: 98%;}
	.custom-combobox input{width: 180px !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<{if $nav_prd_no}>
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{else}>
		●
		<{/if}>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="media_commerce_url_management.php" class="form-inline" style="margin-bottom: 50px; width: 1000px;" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group">
			<label for="sch_no" style="margin-left: 0;">No</label>
			<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 80px;">

			<label for="sch_display">Display</label>
			<select id="sch_display" name="sch_display" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_brand_g1">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group" style="margin-top: 10px;">
			<label for="sch_team" style="margin-left: 0;">담당자</label>
			<select name="sch_team" id="sch_team" class="form-control">
				<{foreach from=$sch_team_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_team== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			>
			<select name="sch_s_no" id="sch_s_no" class="form-control">
				<option value="all">::전체::</option>
				<{foreach from=$sch_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_dp_c_no">판매처</label>
			<select name="sch_dp_c_no" id="sch_dp_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
				<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
				<{/foreach}>
			</select>

			<label for="sch_page_title">페이지 제목</label>
			<input type="text" name="sch_page_title" id="sch_page_title" class="form-control" value="<{$sch_page_title}>" style="width: 140px;" />

			<label for="sch_url">URL</label>
			<input type="text" name="sch_url" id="sch_url" class="form-control" value="<{$sch_url}>" style="width: 140px;" />

			<label for="sch_memo">메모</label>
			<input type="text" name="sch_memo" id="sch_memo" class="form-control" value="<{$sch_memo}>" style="width: 140px; margin-right: 10px;" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
	</form>

	<!-- 커머스 URL 추가하기 [Start] -->
	<form name="new_comm_url_frm" id="new_comm_url_frm" class="new_comm_url_frm" action="media_commerce_url_management.php" method="post" enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_commerce_url">
		<div class="table_list_style">
			<table class="table table-striped table-bordered" style="margin-top: 10px; table-layout: fixed; width: auto;">
				<colgroup>
					<col width="100px;">
					<col width="100px;">
					<col width="300px;">
					<col width="200px;">
					<col width="100px;">
					<col width="80px;">
					<col width="200px;">
					<col width="120px;">
					<col width="150px;">
					<col width="200px;">
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">no<br/>작성일</th>
						<th scope="col">display</th>
						<th scope="col">브랜드 그룹</th>
						<th scope="col">브랜드</th>
						<th scope="col">부서</th>
						<th scope="col">담당자</th>
						<th scope="col">판매처</th>
						<th scope="col">페이지 제목</th>
						<th scope="col">URL</th>
						<th scope="col">메모</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first"></td><!-- NO/작성일 -->
						<td>-</td><!-- Display -->
						<td class="text-center"><!-- 브랜드그룹 -->
							<span class="new_brand_group" style="color: gray; font-size: 12px;"></span>
						</td>
						<td><!-- 브랜드 -->
							<select name="new_brand" id="new_brand" class="form-control" onchange="changeBrand()" required>
								<option value="">::전체::</option>
								<{foreach from=$brand_company_option key=key item=company}>
								<option value="<{$company.c_no}>" attr-group="<{$company.g_name}>" attr-staff="<{$company.s_name}>" attr-team="<{$company.t_name}>"><{$company.c_name}></option>
								<{/foreach}>
							</select>
						</td>
						<td><!-- 부서 -->
							<span class="new_team"></span>
						</td>
						<td><!-- 담당자 -->
							<span class="new_staff"></span>
						</td>
						<td><!-- 판매처 -->
							<select name="new_dp_c_no" id="new_dp_c_no" class="form-control" required>
								<option value="">::전체::</option>
								<{foreach from=$add_dp_company_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td><!-- 페이지 제목 -->
							<input type="text" name="new_page_title" id="new_page_title" class="form-control" value="" required />
						</td>
						<td><!-- URL -->
							<input type="text" name="new_url" id="new_url" class="form-control" value="" required />
						</td>
						<td><!-- 메모 -->
							<textarea name="new_memo" id="new_memo" class="textarea_work_message" style="width: 98%;"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="10">
							<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="width: 99%;" onclick="return check_url()">추가하기</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<!-- 커머스 UTM 추가하기 [EN] -->

	<!-- 커머스 UTM 테이블 -->
	<table class="table table-striped table-bordered" id="comm_url_table" style="margin-top: 10px; table-layout: fixed;word-break: break-all; width: auto;">
		<colgroup>
			<col width="100px;">
			<col width="100px;">
			<col width="300px;">
			<col width="200px;">
			<col width="100px;">
			<col width="80px;">
			<col width="200px;">
			<col width="120px;">
			<col width="150px;">
			<col width="200px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="10" style="padding: 5px;">
					<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col">no<br/>작성일</th>
				<th scope="col">display</th>
				<th scope="col">브랜드 그룹</th>
				<th scope="col">브랜드</th>
				<th scope="col">부서</th>
				<th scope="col">담당자</th>
				<th scope="col">판매처</th>
				<th scope="col">페이지 제목</th>
				<th scope="col">URL</th>
				<th scope="col">메모</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$comm_url_list item=comm_url}>
				<tr <{if $comm_url.display == '2'}>style="background: #CCC;"<{/if}>>
					<form name="apply_frm<{$comm_url.url_no}>" id="apply_frm<{$comm_url.url_no}>" class="list_form" method="post" action="media_commerce_url_management.php">
						<input type="hidden" name="url_no" value="<{$comm_url.url_no}>">
						<td class="text-center"><!-- no -->
							<{$comm_url.url_no}><br/>
							<{$comm_url.regdate}>
						</td>
						<td class="text-center" ><!-- display -->
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<select name="f_display" class="form-control" onchange="save_el('<{$comm_url.url_no}>', 'modify_display', this)" style="<{if $comm_url.display == '1'}>color:red;<{else}>color: dimgrey<{/if}>">
									<{foreach from=$display_option key=key item=label}>
									<option value="<{$key}>" <{if $comm_url.display == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{else}>
								<span style="<{if $comm_url.display == '1'}>color:red;<{else}>color: dimgrey<{/if}>"><{$comm_url.display_name}></span>
							<{/if}>
						</td>
						<td class="text-center" style="color: grey;"><!-- 브랜드 그룹 -->
							<span class="brand_group_<{$comm_url.url_no}>"><{$comm_url.brand_g1_name}> > <{$comm_url.brand_g2_name}></span>
						</td>
						<td class="text-center"><!-- 브랜드 -->
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<select name="f_brand" id="f_brand_<{$comm_url.url_no}>" class="form-control" onchange="save_el('<{$comm_url.url_no}>', 'modify_brand', this);">
									<{foreach from=$brand_company_option key=key item=company}>
									<option value="<{$company.c_no}>" attr-group="<{$company.g_name}>" attr-staff="<{$company.s_name}>" attr-team="<{$company.t_name}>" <{if $company.c_no == $comm_url.brand}>selected<{/if}>><{$company.c_name}></option>
									<{/foreach}>
								</select>
							<{else}>
								<{$comm_url.brand_name}>
							<{/if}>
						</td>
						<td class="text-center"><!-- 부서 -->
							<span class="brand_team_<{$comm_url.url_no}>"><{$comm_url.t_name}></span>
						</td>
						<td class="text-center"><!-- 담당자 -->
							<span class="brand_staff_<{$comm_url.url_no}>"><{$comm_url.s_name}></span>
						</td>
						<td class="text-center"><!-- 판매처 -->
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<select name="f_dp_c_no" class="form-control" onchange="save_el('<{$comm_url.url_no}>', 'modify_dp_company', this);">
									<{foreach from=$add_dp_company_option key=key item=label}>
									<option value="<{$key}>" <{if $key == $comm_url.dp_c_no}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{else}>
								<{$comm_url.dp_c_name}>
							<{/if}>
						</td>
						<td class="text-center"><!-- 페이지 제목 -->
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<input type="text" name="f_page_title" class="form-control" value="<{$comm_url.page_title}>" onchange="save_el('<{$comm_url.url_no}>', 'modify_page_title', this)">
							<{else}>
								<{$comm_url.page_title}>
							<{/if}>
						</td>
						<td class="text-center"><!-- url -->
							<{if permissionNameCheck($session_permission,"마스터관리자")}>
								<input type="text" name="f_url" class="form-control" value="<{$comm_url.url}>" onchange="save_el('<{$comm_url.url_no}>', 'modify_url', this)" style="width: 120px; display: inline-block;">
							<{else}>
								<{$comm_url.url}>
							<{/if}>
							<a href="work_cms_stats_traffic_conversion.php?sch_url=<{$comm_url.url}>" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
						</td>
						<td class="text-left"><!-- 메모 -->
							<textarea name="memo" style="width: 100%;height: 50px;" onchange="save_el('<{$comm_url.url_no}>', 'modify_memo', this)" <{if !permissionNameCheck($session_permission,"마스터관리자") && ($comm_url.s_no != $session_s_no)}>disabled<{/if}>)><{$comm_url.memo}></textarea>
						</td>
					</form>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="10" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="10" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_team").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});
	});

    function searchList(){
        document.search_form.submit();
    }

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function save_el(url_no, proc, obj) {

		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 메모
			$.post("media_commerce_url_management.php", {url_no : url_no, process : proc, val : val}, function(result){

				if(proc == "modify_brand"){
					var group 	= $("#f_brand_"+url_no+" option:selected").attr("attr-group");
					var staff 	= $("#f_brand_"+url_no+" option:selected").attr("attr-staff");
					var team 	= $("#f_brand_"+url_no+" option:selected").attr("attr-team");

					$(".brand_group_"+url_no).text(group);
					$(".brand_staff_"+url_no).text(staff);
					$(".brand_team_"+url_no).text(team);
				}

				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function changeBrand(){
		var group 	= $("#new_brand option:selected").attr("attr-group");
		var staff 	= $("#new_brand option:selected").attr("attr-staff");
		var team 	= $("#new_brand option:selected").attr("attr-team");

		$(".new_brand_group").text(group);
		$(".new_staff").text(staff);
		$(".new_team").text(team);
	}

	function check_url()
	{
		var f = document.forms['new_comm_url_frm'];

		if(!$('#new_brand').val()){
			alert("브랜드를 선택해주세요");
			$('#new_brand').focus();
			return;
		}

		if(!$('#new_dp_c_no').val()){
			alert("판매처를 서택해주세요");
			$('#new_dp_c_no').focus();
			return;
		}

		if(!$('#new_page_title').val()){
			alert("페이지 제목을 입력해주세요");
			$('#new_page_title').focus();
			return;
		}

		if(!$('#new_url').val()){
			alert("URL을 입력해주세요");
			$('#new_url').focus();
			return;
		}

		$.ajax({
			url: "/v1/api/comm.url.api.php",
			type: 'POST',
			data: {new_dp_company: $('#new_dp_c_no').val(), new_url: $('#new_url').val()}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result 	 = jsonData.result;

			if(result == true)
			{
				f.submit();
			}else{
				alert("동일한 판매처의 동일한 URL이 있어 등록에 실패하였습니다.\r\n판매처 :: "+$('#new_dp_c_no option:selected').text()+"\r\nURL : "+$('#new_url').val());
				return false;
			}
		});

		return false;
	}
</script>
</body>
</html>
