<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	div.admin_content{max-width: 1900px;}
	.admin_content table thead th{vertical-align: middle;height: 50px;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody td.red-background{background: #ffae95;}
	.admin_content table tbody td.blue-background{background: #97b0d1;}
	.admin_content table tbody td.gray-background{background-color: rgba(0,0,0,.05);}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
	.admin_content #new_comm_utm_frm table tbody td input{font-size: 11px; width: 90%;text-align: left; padding-left: 3px;}
	.admin_content #new_comm_utm_frm table tbody td select{font-size: 11px; width: 90%;}
	.admin_content #comm_utm_table{}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<{if $nav_prd_no}>
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{else}>
		●
		<{/if}>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="media_commerce_utm_management.php" class="form-inline" style="margin-bottom: 50px;" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group">
			<label for="sch_display" style="margin-left: 0;">Display</label>
			<select id="sch_display" name="sch_display" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_brand">브랜드</label>
			<select id="sch_brand" name="sch_brand" class="form-control">
				<{if !$is_partners}>
				<option value="">::전체::</option>
				<{/if}>
				<{foreach from=$comm_utm_brand_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_name">작성자</label>
			<input type="text" id="sch_s_name" class="form-control" name="sch_s_name" value="<{$sch_s_name}>" style="width: 150px;" />

			<label for="sch_s_date">광고시작/종료</label>
			<input type="text" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" style="width: 90px;" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<span class="tlt"> ~ </span>
			<input type="text" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" style="width: 90px;" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_memo">관리메모</label>
			<input type="text" id="sch_memo" class="form-control" name="sch_memo" value="<{$sch_memo}>" style="width: 200px;" />

		</div>
		<div class="form-group">

			<label for="sch_utm_source" style="margin-left: 0;">소스</label>
			<select id="sch_utm_source" name="sch_utm_source" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$comm_utm_source_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_utm_source == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_utm_medium">매체</label>
			<select id="sch_utm_medium" name="sch_utm_medium" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$comm_utm_medium_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_utm_medium == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_utm_camp">캠페인</label>
			<select id="sch_utm_camp" name="sch_utm_camp" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$comm_utm_camp_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_utm_camp == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_utm_content">콘텐츠</label>
			<input type="text" id="sch_utm_content" name="sch_utm_content" value="<{$sch_utm_content}>" class="form-control" style="width: 150px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_utm_term">키워드</label>
			<input type="text" id="sch_utm_term" class="form-control" name="sch_utm_term" value="<{$sch_utm_term}>" style="width: 200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>

		</div>
	</form>

	<!-- 커머스 UTM 추가하기 [Start] -->
	<form name="new_comm_utm_frm" id="new_comm_utm_frm" class="new_comm_utm_frm" action="media_commerce_utm_management.php" method="post" enctype="multipart/form-data" >
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_commerce_utm">
		<div class="table_list_style">
			<table class="table table-striped table-bordered" style="margin-top: 10px; table-layout: fixed;">
				<colgroup>
					<col width="50px;">
					<col width="70px;">
					<col width="100px;">
					<col width="70px;">
					<col width="82px;">
					<col width="82px;">
					<col width="240px;">
					<col width="200px;">
					<col width="100px;">
					<col width="130px;">
					<col width="120px;">
					<col width="120px;">
					<col width="220px;">
					<col width="100px;">
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">no</th>
						<th scope="col">작성일시</th>
						<th scope="col">브랜드</th>
						<th scope="col">작성자</th>
						<th scope="col">광고시작</th>
						<th scope="col">광고종료</th>
						<th scope="col">관리메모</th>
						<th scope="col">랜딩페이지 URL</th>
						<th scope="col">소스<br/>utm_source</th>
						<th scope="col">매체<br/>utm_medium</th>
						<th scope="col">캠페인<br/>utm_campaign</th>
						<th scope="col">콘텐츠(랜딩페이지값)<br/>utm_content</th>
						<th scope="col">키워드(광고 소재 이름과 일치해야 함)<br/>utm_term</th>
						<th scope="col">UTM 생성하기</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first">-</td><!-- NO -->
						<td>-</td><!-- 작성일시 -->
						<td class="text-center"><!-- 브랜드 -->
							<select id="new_brand" name="new_brand" class="form-control" onchange="changeNewUtm('new_utm_campaign', this)" required>
								<option value="">::전체::</option>
								<{foreach from=$comm_utm_brand_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td><!-- 작성자 -->
							<input type="text" class="input_type3" id="new_s_name" name="new_s_name" style="width: 60px;padding-left:3px;" value="<{$session_name}>" required />
						</td>
						<td><!-- 광고시작 -->
							<input type="text" id="new_s_date" name="new_s_date" class="new_s_date form-control date-picker" placeholder="광고시작" value="<{$cur_date}>" required>
						</td>
						<td><!-- 광고종료 -->
							<input type="text" id="new_e_date" name="new_e_date" class="new_e_date form-control date-picker" placeholder="광고종료">
						</td>
						<td><!-- 관리메모 -->
							<textarea name="new_memo" id="new_memo" class="textarea_work_message" style="width: 90%;"></textarea>
						</td>
						<td><!-- 랜딩페이지 URL -->
							<input type="text" class="input_type3" id="new_land_url" name="new_land_url" required /><br/>
						</td>
						<td><!-- 소스 -->
							<span id="new_utm_source_txt">자동설정</span>
						</td>
						<td><!-- 매체 -->
							<select id="new_utm_medium" name="new_utm_medium" class="form-control" onchange="changeNewUtm('new_utm_source', this)" required>
								<option value="">::전체::</option>
								<{foreach from=$comm_utm_medium_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td><!-- 캠페인 -->
							<span id="new_utm_campaign_txt">자동설정</span>
						</td>
						<td><!-- 콘텐츠 -->
							<span id="new_utm_content_txt">자동설정</span>
							<input type="hidden" name="new_utm_content" id="new_utm_content" value="" required>
						</td>
						<td>
							<input type="text" class="input_type3" id="new_utm_term" name="new_utm_term" style="" required/><br/>
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="return check_utm()">UTM<br/>생성하기</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<!-- 커머스 UTM 추가하기 [EN] -->

	<!-- 커머스 UTM 테이블 -->
	<table class="table table-striped table-bordered" id="comm_utm_table" style="margin-top: 10px; table-layout: fixed;word-break: break-all; max-width: 2500px">
		<colgroup>
			<col width="50px;">
			<col width="100px;">
			<col width="80px;">
			<col width="80px;">
			<col width="50px;">
			<col width="70px;">
			<col width="70px;">
			<col width="250px;">
			<col width="250px;">
			<col width="100px;">
			<col width="180px;">
			<col width="120px;">
			<col width="90px;">
			<col width="225px;">
			<col width="300px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="14" style="padding: 5px;">
					<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="col">no</th>
				<th scope="col">Display</th>
				<th scope="col">작성일시</th>
				<th scope="col">브랜드</th>
				<th scope="col">작성자</th>
				<th scope="col">광고시작</th>
				<th scope="col">광고종료</th>
				<th scope="col">관리메모</th>
				<th scope="col">랜딩페이지 URL</th>
				<th scope="col">소스<br/>utm_source</th>
				<th scope="col">매체<br/>utm_medium</th>
				<th scope="col">캠페인<br/>utm_campaign</th>
				<th scope="col">콘텐츠(랜딩페이지값)<br/>utm_content</th>
				<th scope="col">키워드(광고 소재 이름과 일치해야 함)<br/>utm_term</th>
				<th scope="col">랜딩페이지 URL + UTM 파라미터</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$comm_utm_list item=comm_utm}>
				<tr>
				<form name="apply_frm<{$comm_utm.utm_no}>" id="apply_frm<{$comm_utm.utm_no}>" class="list_form" method="post" action="media_commerce_utm_management.php">
					<input type="hidden" name="utm_no" value="<{$comm_utm.utm_no}>">
					<td class="text-center"><!-- no -->
						<{$comm_utm.utm_no}>
						<{if $comm_utm.s_no == $session_s_no}>
						<button type="button" onclick="copyUtm('<{$comm_utm.utm_no}>')" style="background: #333; color: white; padding: 3px 5px; border-radius: 3px; font-weight: bold;">복제</button>
						<{/if}>
					</td>
					<td class="text-center"><!-- display -->
						<input type="radio" name="display" id="utm_<{$comm_utm.utm_no}>_display_on" onchange="save_el('<{$comm_utm.utm_no}>', 'modify_display', this);" style="margin-top: 0px;" value="1" <{if $comm_utm.display == '1'}>checked<{/if}> <{if $comm_utm.s_no != $session_s_no}>disabled<{/if}>><label for="utm_<{$comm_utm.utm_no}>_display_on">ON</label>
						<input type="radio" name="display" id="utm_<{$comm_utm.utm_no}>_display_off" onchange="save_el('<{$comm_utm.utm_no}>', 'modify_display', this);" style="margin-top: 0px;" value="2" <{if $comm_utm.display == '2'}>checked<{/if}> <{if $comm_utm.s_no != $session_s_no}>disabled<{/if}>><label for="utm_<{$comm_utm.utm_no}>_display_off">OFF</label>
					</td>
					<td class="text-center"><!-- 작성일시 -->
						<{$comm_utm.regdate}>
					</td>
					<td class="text-center"><!-- 브랜드 -->
						<{$comm_utm.brand_name}>
					</td>
					<td class="text-center"><!-- 작성자 -->
						<{$comm_utm.s_name}>
					</td>
					<td class="text-center"><!-- 광고시작 -->
						<{$comm_utm.s_date}>
					</td>
					<td class="text-center"><!-- 광고종료 -->
						<{$comm_utm.e_date}>
					</td>
					<td class="text-left"><!-- 관리메모 -->
						<textarea name="memo" style="width: 100%;height: 90px;" onchange="save_el('<{$comm_utm.utm_no}>', 'modify_memo', this)" <{if $comm_utm.s_no != $session_s_no}>disabled<{/if}>><{$comm_utm.memo}></textarea>
					</td>
					<td class="text-left"><!-- 랜딩페이지 URL -->
						<{$comm_utm.land_url}>
					</td>
					<td class="text-center"><!-- 소스 -->
						<{$comm_utm.utm_source_name}>
					</td>
					<td class="text-left"><!-- 매체 -->
						<{$comm_utm.utm_medium_name}>
					</td>
					<td class="text-center"><!-- 캠페인 -->
						<{$comm_utm.utm_campaign_name}>
					</td>
					<td class="text-center"><!-- 콘텐츠 -->
						<{$comm_utm.utm_content}>
					</td>
					<td class="text-left"><!-- 키워드 -->
						<{$comm_utm.utm_term}>
					</td>
					<td class="text-left"><!-- 랜딩페이지 URL + UTM 파라미터 -->
						<div id="copy-url-<{$comm_utm.utm_no}>"><{$comm_utm.total_url}></div>
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 12px; margin-top: 5px;" onclick="copyUrl('copy-url-<{$comm_utm.utm_no}>')">URL 복사하기</button>
					</td>
				</form>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="15" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="15" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    function searchList(){
        document.search_form.submit();
    }

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function save_el(utm_no, proc, obj) {

		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (proc != 'modify_display' && (default_val && val == default_val))
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 메모
			$.post("media_commerce_utm_management.php", {utm_no : utm_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function check_utm()
	{
		var f = document.forms['new_comm_utm_frm'];

		if(!$('#new_brand').val()){
			alert("브랜드를 선택해주세요");
			$('#new_brand').focus();
			return;
		}

		if(!$('#new_s_name').val()){
			alert("작성자를 입력해주세요");
			$('#new_s_name').focus();
			return;
		}

		if(!$('#new_s_date').val()){
			alert("시작날짜를 선택해주세요");
			$('#new_s_date').focus();
			return;
		}

		if(!$('#new_land_url').val()){
			alert("랜딩 URL을 입력해주세요");
			$('#new_land_url').focus();
			return;
		}

		if(!$('#new_utm_medium').val()){
			alert("매체를 선택해주세요");
			$('#new_utm_medium').focus();
			return;
		}

		var new_land_url = $('#new_land_url').val();
        var new_utm_content_list = new_land_url.split('idx=',2);

		if(new_land_url.indexOf('dansaek') != -1 || new_land_url.indexOf('momnyoung') != -1 || new_land_url.indexOf('smartstore') != -1 || new_land_url.indexOf('drforhair') != -1){
            if(new_land_url.indexOf('goodsNo') != -1){
                new_utm_content_list = new_land_url.split('goodsNo=',2);
            }else if(new_land_url.indexOf('cateCd') != -1){
                new_utm_content_list = new_land_url.split('cateCd=',2);
            }else if(new_land_url.indexOf('products') != -1){
                new_utm_content_list = new_land_url.split('products/',2);
            }
		}else if(new_land_url.indexOf('elroel') != -1){

		    if(new_land_url.indexOf('detail.html') != -1){
                new_utm_content_list = new_land_url.split('product_no=',2);
			}else if(new_land_url.indexOf('product') != -1){
                var new_utm_content_list_tmp = new_land_url.split('product/',2);
                new_utm_content_list = new_utm_content_list_tmp[1].split('/',2);
            }
        }else if(new_land_url.indexOf('lavoir.cafe24') != -1){
            if(new_land_url.indexOf('surl/') != -1){
                new_utm_content_list = new_land_url.split('P/',2);
            }else if(new_land_url.indexOf('product') != -1){
                var new_utm_content_list_tmp = new_land_url.split('product/',2);
                new_utm_content_list = new_utm_content_list_tmp[1].split('/',2);
            }
        }else if(new_land_url.indexOf('lavoir') != -1){
            if(new_land_url.indexOf('event_products.html') != -1){
                new_utm_content_list = new_land_url.split('cate_no=',2);
            }else if(new_land_url.indexOf('product') != -1){
                var new_utm_content_list_tmp = new_land_url.split('product/',2);
                new_utm_content_list = new_utm_content_list_tmp[1].split('/',2);
            }
        }else if(new_land_url.indexOf('hurien') != -1){
            if(new_land_url.indexOf('it_id') != -1){
                new_utm_content_list = new_land_url.split('it_id=',2);
            }
        }else if(new_land_url.indexOf('gpskinmall') != -1){
			if(new_land_url.indexOf('product_no') != -1){
				new_utm_content_list = new_land_url.split('product_no=',2);
			}
		}

		if(new_land_url.indexOf('kko') != -1){
            new_utm_content_list = new_land_url.split('.to/',2);
            $('#new_utm_content').val(new_utm_content_list[1]);
            $('#new_utm_content_txt').text(new_utm_content_list[1]);
		}else{
            if(new_utm_content_list[1]){
                var new_utm_content_val  = new_utm_content_list[1].split('&',2);

				var new_utm_content = new_utm_content_val[0];

                if(new_utm_content.indexOf('?') != -1){
					var new_utm_content_double_chk  = new_utm_content.split('?',2);
					new_utm_content = new_utm_content_double_chk[0];
				}
                
                if(new_utm_content){
                    $('#new_utm_content').val(new_utm_content);
                    $('#new_utm_content_txt').text(new_utm_content);
                }
            }
        }

        /*
		if(!$('#new_utm_content').val()){
			alert("랜딩 URL을 다시 입력해주세요");
			$('#new_land_url').focus();
			return;
		}
		*/

		if(!$('#new_utm_term').val()){
			alert("키워드를 입력해주세요");
			$('#new_utm_term').focus();
			return;
		}

		f.submit();
	}

	function changeNewUtm(type, obj)
	{
		var val = $(obj).val();

		$.ajax({
			url: "/v1/api/comm.utm.api.php",
			type: 'POST',
			data: {"type": type, "val": val}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result  = jsonData.result;
			var text    = jsonData.text;

			if (result == true) {
				$("#"+type+"_txt").text(text);
			}else{
				$("#"+type+"_txt").text("자동설정");
			}
		});
	}

    function copyUrl(url_id)
    {
        if(document.body.createTextRange)
        {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(document.getElementById(url_id));
            textRange.execCommand("Copy");
        }else{
            window.getSelection().selectAllChildren(document.getElementById(url_id));
            document.execCommand('Copy');
        }
    }

    function copyUtm(utm_no)
	{
        $.ajax({
            url: "/v1/api/comm.utm.load.api.php",
            type: 'POST',
            data: {"utm_no": utm_no}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result  = jsonData.result;
            var utmData  = jsonData.utm_data;
            var new_brand = utmData.brand;
            var new_s_name = utmData.s_name;
            var new_utm_medium = utmData.utm_medium;
            var new_land_url = utmData.land_url;
            var new_memo = utmData.memo;

            if (result == true) {
                $("#new_brand").val(new_brand);
                $("#new_s_name").val(new_s_name);
                $("#new_utm_medium").val(new_utm_medium);
                $("#new_land_url").val(new_land_url);
                $("#new_memo").val(new_memo);
                $("#new_brand").trigger('change');
                $("#new_utm_medium").trigger('change');
            }
        });
	}
</script>
</body>
</html>
