<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}

	.main-container .table-header{width: 330px; table-layout: inherit !important; float: left;border: 0; border-left: 1px solid #dee2e6;}
	.main-container .table-content-wrapper{float: left; max-width: 991px; overflow-x: scroll;}
	.main-container .table-content{table-layout: fixed;border: 0; border-right: 1px solid #dee2e6;}
	.main-container .commerce-section{max-width: 1321px; margin: 30px 0; overflow: hidden;}
	.main-container .table thead th{text-align: center; background: #333; color: white; width: 110px; height: 35px;}
	.main-container .table thead th.kind-th{width: 300px;}
	.main-container .table tbody th{text-align: left; background: #333; color: white; vertical-align: middle;}
	.main-container .table tbody th button{color: white; font-weight: bold; border: 0;}
	.main-container .table tbody td{text-align: right; font-weight: bold; vertical-align: middle; height: 35px;}
	.main-container .table tbody td.cost-price-td{color: red;}
	.main-container .table tbody td.sales-price-td{color: blue;}
	.main-container .table tbody td.cms-price-td{color: blue;}
	.main-container .table tbody td.extra-sales-price-td{color: blue;}
	.main-container .table tbody td.extra-cost-price-td{color: red;}
	.main-container .table tbody tr.grey-back-tr{background: #ccc;}
	.main-container .table tbody tr.net-editor-tr th, .main-container .table tbody tr.profit-total-tr th, .main-container .table tbody tr.grey-back-tr th{height: 50px;}
	.main-container .table tbody tr.net-editor-tr td, .main-container .table tbody tr.profit-total-tr td, .main-container .table tbody tr.grey-back-tr td{height: 50px;}
	.main-container .table tbody tr.empty-tr{height: 50px;}
	.main-container .table tbody tr.empty-tr th, .main-container .table tbody tr.empty-tr td{border: 0;}
	.main-container .table tbody tr.profit-total-tr{background: #edacb1;}
	.main-container .table tbody tr.cost-total-tr th, .main-container .table tbody tr.sales-total-tr th,
	.main-container .table tbody tr.cms-total-tr th, .main-container .table tbody tr.extra-cost-total-tr th, .main-container .table tbody tr.extra-sales-total-tr th{text-align: center; height: 50px;}
	.main-container .table tbody tr.cost-total-tr td, .main-container .table tbody tr.sales-total-tr td,
	.main-container .table tbody tr.cms-total-tr td, .main-container .table tbody tr.extra-cost-total-tr td, .main-container .table tbody tr.extra-sales-total-tr td{vertical-align: middle; height: 50px;}

	.main-container .table tbody td.editable{background: rgba(255,255,0,0.4); cursor: pointer;}
	.main-container .table tbody td.editable > span{display: inline-block;}
	.main-container .table tbody td.editable > input{display: none; font-weight: bold; text-align: right; width: 70px; line-height: 1; padding: 2px 10px 2px 5px; margin: 0;}
	.main-container .total-report-toggle{display: table-row;}
	.main-container .total-report-toggle th{height: 35px;}
	.main-container .total-report-toggle td{height: 35px;}
	.main-container .row-report-toggle th{height: 35px;}
	.main-container .row-report-toggle td{height: 35px;}
	.main-container .row-report-toggle{display: none;}
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.main-container .table tbody .report-memo-on{background: url('./images/icon/memo_on.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.main-container .table tbody .report-memo-off{background: url('./images/icon/memo_off.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #comm-memo-modal{height: auto; width: 100%;overflow: unset; max-width: 400px; padding: 5px;}
	.jquery-modal #comm-memo-modal table{margin: 0;}
	.table-bordered td{border-left: 0;}
	.main-container .table tbody th.date-th{text-align: center;background: #333; color: white; width: 110px; height: 35px;}
	.wrapper-toggle-btn{color: black !important;}
	.wrapper-toggle-hide-btn{display: none;}
</style>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<span style="color: red;">//개발중</span>
	</h2>
	<form method="get" name="search_form" action="media_commerce_month_report.php" class="form-inline">
		<input type="hidden" name="sch_toggle" id="sch_toggle" value="<{$sch_toggle}>" />
		<input type="hidden" name="sch_brand_val" id="sch_brand_val" value="<{$sch_brand}>" />
		<div class="form-group" style="width: 100%">
			<input type="checkbox" name="sch_not_empty" id="sch_not_empty" class="form-control" value="1" <{if $sch_not_empty == '1'}>checked<{/if}>>
			<label for="sch_not_empty" style="margin: 0 5px; cursor: pointer;">전체 0인 항목 숨기기</label>
		</div>
		<div class="form-group">
			<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>날짜</label>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div id="sch_date_type_year" class="sch_date_type">
				<input type="text" class="year-picker form-control" id="sch_s_year" name="sch_s_year" value="<{$sch_s_year}>" />
				~
				<input type="text" class="year-picker form-control" id="sch_e_year" name="sch_e_year" value="<{$sch_e_year}>" />
			</div>

			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_4" value="4" class="radio" <{if $sch_date_type == '4'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">
				<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
			</div>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
			<a href="media_commerce_month_report.php?<{$search_url}>" style="margin: 0 5px;">
				<img src="./images/icon/work_list_on.png">
			</a>
		</div>
	</form>

	<button type="button" onclick="hideWrapperReport()">[-] 한번에 숨기기</button>
	<div class="main-container">
		<section class="commerce-section">
			<table class="table table-bordered table-header">
				<thead>
					<th colspan="2" class="kind-th" style="background: white; color: #333;">
						비용(자동)
						<button type="button" id="cost-auto-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-auto','show')">[+]</button>
						<button type="button" id="cost-auto-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-auto','hide')">[-]</button>
					</th>
				</thead>
				<tbody>
					<tr class="cost-auto-wrapper-child">
						<th colspan="2" style="height: 35px;">아임웹_베라베프(쿠폰)</th>
					</tr>
					<tr class="cost-auto-wrapper-child">
						<th colspan="2" style="height: 35px;">아임웹_닥터피엘(쿠폰)</th>
					</tr>
					<tr class="cost-auto-wrapper-child">
						<th colspan="2" style="height: 35px;">아임웹_아이레놀(쿠폰)</th>
					</tr>
					<tr class="extra-cost-total-tr">
						<th colspan="2" >비용(자동) 합계</th>
					</tr>

					<{if $cost_report_list}>
						<tr class="empty-tr">
							<td colspan="2"></td>
						</tr>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								비용(수기입력)
								<button type="button" id="cost-self-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-self','show')">[+]</button>
								<button type="button" id="cost-self-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-self','hide')">[-]</button>
							</th>
						</tr>
						<{foreach from=$cost_report_list key=comm_g1 item=cost_report_data}>
							<{assign var="rowspan" value=$cost_report_data|@count}>
							<{assign var="comm_g1_idx" value=1}>
							<{foreach from=$cost_report_data key=comm_g2 item=cost_report}>
								<{if $comm_g1_idx == 1}>
								<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
									<th rowspan="<{$rowspan}>">
										<button type="button" onclick="toggleRowReport('row','<{$comm_g1}>')">[-]</button>
										<{$comm_g1_title_list[$comm_g1].title}>
									</th>
								<{else}>
								<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
								<{/if}>
									<th><{$comm_g2_title_list[$comm_g1][$comm_g2].title}></th>
								</tr>

								<{if $comm_g1_idx == $rowspan}>
								<tr class="total-report-<{$comm_g1}> total-report-toggle cost-self-wrapper-child">
									<th colspan="2">
										<button type="button" onclick="toggleRowReport('total','<{$comm_g1}>')">[+]</button>
										<{$comm_g1_title_list[$comm_g1].title}>
									</th>
								</tr>
								<{/if}>
								<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
							<{/foreach}>
						<{/foreach}>
						<tr class="cost-total-tr grey-back-tr">
							<th colspan="2" >비용(수기) 합계</th>
						</tr>
					<{/if}>

					<{if $cost_work_list}>
						<{if $cost_report_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								비용(월정산) <span style="color:red;font-weight:normal;">VAT 별도</span>
								<button type="button" id="cost-month-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-month','show')">[+]</button>
								<button type="button" id="cost-month-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('cost-month','hide')">[-]</button>
							</th>
						</tr>
						<{foreach from=$cost_work_list key=work_g1 item=cost_work_data}>
							<{assign var="cost_rowspan" value=$cost_work_data|@count}>
							<{assign var="work_g1_idx" value=1}>
							<{foreach from=$cost_work_data key=work_g2 item=cost_work}>
								<{if $work_g1_idx == 1}>
								<tr class="row-report-cost-<{$work_g1}> row-report-toggle cost-month-wrapper-child cost-month-row-report-toggle">
									<th rowspan="<{$cost_rowspan}>">
										<button type="button" onclick="toggleRowReport('row','cost-<{$work_g1}>')">[-]</button>
										<{$work_g1_title_list['cost'][$work_g1]}>
									</th>
								<{else}>
								<tr class="row-report-cost-<{$work_g1}> row-report-toggle cost-month-wrapper-child cost-month-row-report-toggle">
								<{/if}>
									<th><{$work_g2_title_list[$work_g2]}></th>
								</tr>

								<{if $work_g1_idx == $cost_rowspan}>
								<tr class="total-report-cost-<{$work_g1}> total-report-toggle cost-month-wrapper-child">
									<th colspan="2">
										<button type="button" onclick="toggleRowReport('total','cost-<{$work_g1}>')">[+]</button>
										<{$work_g1_title_list['cost'][$work_g1]}>
									</th>
								</tr>
								<{/if}>
								<{assign var="work_g1_idx" value=$work_g1_idx+1}>
							<{/foreach}>
						<{/foreach}>
						<tr class="cost-total-tr grey-back-tr">
							<th colspan="2" >비용(월정산) 합계</th>
						</tr>
					<{/if}>

					<{if $cms_report_list}>
						<{if $cost_report_list || $cost_work_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								매출(자동)
								<button type="button" id="sales-auto-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-auto','show')">[+]</button>
								<button type="button" id="sales-auto-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-auto','hide')">[-]</button>
							</th>
						</tr>
						<{foreach from=$cms_report_title_list item=cms_report_title}>
							<tr class="sales-auto-wrapper-child">
								<th colspan="2" style="height: 35px;"><{$cms_report_title.title}></th>
							</tr>
							<tr class="sales-auto-wrapper-child">
								<th colspan="2" style="height: 35px;"><{$cms_report_title.title}>(택배비)</th>
							</tr>
						<{/foreach}>
						<{if $quick_report_title_list}>
							<{foreach from=$quick_report_title_list item=quick_report_title}>
								<tr class="sales-auto-wrapper-child">
									<th colspan="2" style="height: 35px;">(입/출고요청) <{$quick_report_title}></th>
								</tr>
							<{/foreach}>
						<{/if}>
						<tr class="cms-total-tr sales-auto-wrapper-child">
							<th colspan="2" >상품 매출 총 합계</th>
						</tr>
						<tr class="cms-total-tr sales-auto-wrapper-child">
							<th colspan="2" >택배비 매출 총 합계</th>
						</tr>
						<tr class="cms-total-tr">
							<th colspan="2" >매출(자동) 합계</th>
						</tr>
					<{/if}>

					<{if $sales_report_list}>
						<{if $cost_report_list || $cost_work_list || $cms_report_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								매출(수기입력)
								<button type="button" id="sales-self-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-self','show')">[+]</button>
								<button type="button" id="sales-self-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-self','hide')">[-]</button>
							</th>
						</tr>
						<{foreach from=$sales_report_list key=comm_g1 item=sales_report_data}>
							<{assign var="rowspan" value=$sales_report_data|@count}>
							<{assign var="comm_g1_idx" value=1}>
							<{foreach from=$sales_report_data key=comm_g2 item=sales_report}>
								<{if $comm_g1_idx == 1}>
								<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
									<th rowspan="<{$rowspan}>">
										<button type="button" onclick="toggleRowReport('row','<{$comm_g1}>')">[-]</button>
										<{$comm_g1_title_list[$comm_g1].title}>
									</th>
								<{else}>
								<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
								<{/if}>
									<th><{$comm_g2_title_list[$comm_g1][$comm_g2].title}></th>
								</tr>

								<{if $comm_g1_idx == $rowspan}>
								<tr class="total-report-<{$comm_g1}> total-report-toggle sales-self-wrapper-child">
									<th colspan="2">
										<button type="button" onclick="toggleRowReport('total','<{$comm_g1}>')">[+]</button>
										<{$comm_g1_title_list[$comm_g1].title}>
									</th>
								</tr>
								<{/if}>
								<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
							<{/foreach}>
						<{/foreach}>
						<tr class="sales-total-tr grey-back-tr">
							<th colspan="2" >매출(수기입력) 합계</th>
						</tr>
					<{/if}>

					<{if $sales_work_list}>
						<{if $cost_report_list || $cost_work_list || $cms_report_list || $sales_report_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
						<{/if}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								매출(월정산) <span style="color:red;font-weight:normal;">VAT 별도</span>
								<button type="button" id="sales-month-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-month','show')">[+]</button>
								<button type="button" id="sales-month-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('sales-month','hide')">[-]</button>
							</th>
						</tr>
						<{foreach from=$sales_work_list key=work_g1 item=sales_work_data}>
							<{assign var="sales_rowspan" value=$sales_work_data|@count}>
							<{assign var="work_g1_idx" value=1}>
							<{foreach from=$sales_work_data key=work_g2 item=sales_work}>
								<{if $work_g1_idx == 1}>
								<tr class="row-report-sales-<{$work_g1}> row-report-toggle sales-month-wrapper-child sales-month-row-report-toggle">
									<th rowspan="<{$sales_rowspan}>">
										<button type="button" onclick="toggleRowReport('row','sales-<{$work_g1}>')">[-]</button>
										<{$work_g1_title_list['sales'][$work_g1]}>
									</th>
									<{else}>
										<tr class="row-report-sales-<{$work_g1}> row-report-toggle sales-month-wrapper-child sales-month-row-report-toggle">
									<{/if}>
									<th><{$work_g2_title_list[$work_g2]}></th>
								</tr>

								<{if $work_g1_idx == $sales_rowspan}>
								<tr class="total-report-sales-<{$work_g1}> total-report-toggle sales-month-wrapper-child">
									<th colspan="2">
										<button type="button" onclick="toggleRowReport('total','sales-<{$work_g1}>')">[+]</button>
										<{$work_g1_title_list['sales'][$work_g1]}>
									</th>
								</tr>
								<{/if}>
								<{assign var="work_g1_idx" value=$work_g1_idx+1}>
							<{/foreach}>
						<{/foreach}>
						<tr class="sales-total-tr grey-back-tr">
							<th colspan="2" >매출(월정산) 합계</th>
						</tr>
					<{/if}>

					<{if $cms_month_total_list}>
						<{if $cost_report_list || $cost_work_list || $cms_report_list || $sales_report_list || $sales_work_list}>
						<tr class="empty-tr">
							<td colspan="2"></td>
						</tr>
						<{/if}>
						<tr>
							<th colspan="2" style="text-align: center; height: 35px; background: white; color: black; font-weight: bold;">
								Total
								<button type="button" id="month-total-wrapper-show-btn" class="wrapper-toggle-show-btn wrapper-toggle-btn" onclick="toggleWrapperReport('month-total','show')">[+]</button>
								<button type="button" id="month-total-wrapper-hide-btn" class="wrapper-toggle-hide-btn wrapper-toggle-btn" onclick="toggleWrapperReport('month-total','hide')">[-]</button>
							</th>
						</tr>
						<tr class="cost-total-tr grey-back-tr month-total-wrapper-child">
							<th colspan="2" >비용 총 합계</th>
						</tr>
						<tr class="sales-total-tr grey-back-tr month-total-wrapper-child">
							<th colspan="2" >매출 총 합계</th>
						</tr>
						<tr class="sales-total-tr grey-back-tr">
							<th colspan="2" >차액(공헌이익)</th>
						</tr>
					<{/if}>
				</tbody>
			</table>

			<div class="table-content-wrapper">
				<table class="table table-bordered table-content">
					<thead>
						<tr>
							<{foreach from=$commerce_date_list item=date_data}>
							<th><{$date_data.title}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<tr>
							<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="extra-cost-price-td cost-auto-wrapper-child">
									<{$coupon_report_list[$comm_date].imweb|number_format:0}>
									<{if $coupon_report_list[$comm_date].imweb > 0}>
										<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=1" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
							<{/foreach}>
						</tr>
						<tr>
							<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="extra-cost-price-td cost-auto-wrapper-child">
									<{$coupon_report_list[$comm_date].doc|number_format:0}>
									<{if $coupon_report_list[$comm_date].doc > 0}>
									<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=3" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
							<{/foreach}>
						</tr>
						<tr>
							<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="extra-cost-price-td cost-auto-wrapper-child">
									<{$coupon_report_list[$comm_date].doc|number_format:0}>
									<{if $coupon_report_list[$comm_date].doc > 0}>
										<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_delivery_state=4&sch_coupon_price=1&sch_coupon_type=4" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
							<{/foreach}>
						</tr>
						<tr class="extra-cost-total-tr">
							<{foreach from=$commerce_date_list key=comm_date item=date_data}>
							<td class="extra-cost-price-td">
								<{$cms_month_total_list[$comm_date].cost_auto|number_format:0}>
							</td>
							<{/foreach}>
						</tr>

						<{if $cost_report_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{foreach from=$cost_report_list key=comm_g1 item=cost_report_data}>
								<{assign var="rowspan" value=$cost_report_data|@count}>
								<{assign var="comm_g1_idx" value=1}>
								<{foreach from=$cost_report_data key=comm_g2 item=cost_report}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle cost-self-wrapper-child cost-self-row-report-toggle">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
											<td class="cost-price-td" style="position: relative;">
												<{$cost_report[$comm_date].price|number_format:0}>
											</td>
										<{/foreach}>
									</tr>
									<{if $comm_g1_idx == $rowspan}>
									<tr class="total-report-<{$comm_g1}> total-report-toggle cost-self-wrapper-child">
										<{foreach from=$cost_report_total_list[$comm_g1] key=sales_date item=date_total_price}>
											<td class="cost-price-td cate-price-<{$comm_g1}>-<{$sales_date}>" style="position: relative;">
												<{$date_total_price|number_format:0}>
											</td>
										<{/foreach}>
									</tr>
									<{/if}>
									<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
								<{/foreach}>
							<{/foreach}>
							<tr class="cost-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cost-price-td cost-total-<{$comm_date}>"><{$cms_month_total_list[$comm_date].cost_base|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>

						<{if $cost_work_list}>
							<{if $cost_report_list}>
								<tr class="empty-tr">
									<td colspan="2"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{foreach from=$cost_work_list key=work_g1 item=cost_work_data}>
								<{assign var="cost_rowspan" value=$cost_work_data|@count}>
								<{assign var="work_g1_idx" value=1}>
								<{foreach from=$cost_work_data key=work_g2 item=cost_work}>
									<tr class="row-report-cost-<{$work_g1}> row-report-toggle cost-month-wrapper-child cost-month-row-report-toggle">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="cost-price-td" style="position: relative;">
											<{$cost_work[$comm_date]|number_format:0}>
											<{if $work_g1 == '01053'}>
												<a href="agency_settlement.php?<{$sch_agency_brand_url}>&sch_settle_month=<{$date_label['agency_mon']}>&sch_manager_team=all&sch_manager=all&sch_media=<{$work_g2}>&sch_my_c_no=3" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{else}>
												<a href="work_list.php?<{$sch_work_brand_url}>&sch_prd=<{$work_g2}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
									<{if $work_g1_idx == $cost_rowspan}>
									<tr class="total-report-cost-<{$work_g1}> total-report-toggle cost-month-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="cost-price-td cate-price-cost-<{$work_g1}>-<{$comm_date}>" style="position: relative;">
											<{$cost_work_total_list[$work_g1][$comm_date]|number_format:0}>
										</td>
										<{/foreach}>
									</tr>
									<{/if}>
									<{assign var="work_g1_idx" value=$work_g1_idx+1}>
								<{/foreach}>
							<{/foreach}>
							<tr class="cost-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cost-price-td cost-total-<{$comm_date}>"><{$cms_month_total_list[$comm_date].cost_month|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>

						<{if $cms_report_list}>
							<{if $cost_report_list || $sales_work_list}>
								<tr class="empty-tr">
									<td colspan="2"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{foreach from=$cms_report_list key=dp_c_no item=cms_report}>
								<tr class="sales-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="cms-price-td">
											<{$cms_report[$comm_date].subtotal|number_format:0}>
											<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										</td>
									<{/foreach}>
								</tr>
								<tr class="sales-auto-wrapper-child">
									<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="cms-price-td">
											<{$cms_report[$comm_date].delivery|number_format:0}>
											<a href="work_list_cms.php?<{$sch_cms_brand_url}>&sch_reg_s_date=&sch_reg_e_date=&sch_order_s_date=<{$date_data.s_date}>&sch_order_e_date=<{$date_data.e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_delivery_state=4&sch_delivery_price=1" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										</td>
									<{/foreach}>
								</tr>
							<{/foreach}>
							<{if $quick_report_list}>
								<{foreach from=$quick_report_list key=run_c_no item=quick_report}>
									<tr class="sales-auto-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_data}>
										<td class="cms-price-td">
											<{$quick_report[$comm_date]|number_format:0}>
											<a href="work_cms_quick_list.php?sch=Y&sch_c_no=<{$sch_brand}>&sch_reg_s_date=&sch_reg_e_date=&sch_run_s_date=<{$date_data.s_date}>&sch_run_e_date=<{$date_data.e_date}>&sch_run_c_no=<{$run_c_no}>&sch_quick_state=4&ord_page_type=100" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										</td>
										<{/foreach}>
									</tr>
								<{/foreach}>
							<{/if}>
							<tr class="cms-total-tr sales-auto-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cms-price-td"><{$cms_report_total_list[$comm_date].subtotal|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr sales-auto-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cms-price-td"><{$cms_report_total_list[$comm_date].delivery|number_format:0}></td>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="cms-price-td"><{$cms_report_total_list[$comm_date].total|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>

						<{if $sales_report_list}>
							<{if $cost_report_list || $cost_work_list || $cms_report_list}>
								<tr class="empty-tr">
									<td colspan="<{$commerce_date_count}>"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{foreach from=$sales_report_list key=comm_g1 item=sales_report_data}>
								<{assign var="rowspan" value=$sales_report_data|@count}>
								<{assign var="comm_g1_idx" value=1}>
								<{foreach from=$sales_report_data key=comm_g2 item=sales_report}>
									<tr class="row-report-<{$comm_g1}> row-report-toggle sales-self-wrapper-child sales-self-row-report-toggle">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
											<td>
												<{$sales_report[$comm_date].price|number_format:0}>
											</td>
										<{/foreach}>
									</tr>
									<{if $comm_g1_idx == $rowspan}>
									<tr class="total-report-<{$comm_g1}> total-report-toggle sales-self-wrapper-child">
										<{foreach from=$sales_report_total_list[$comm_g1] key=sales_date item=date_total_price}>
											<td class="sales-price-td cate-price-<{$comm_g1}>-<{$sales_date}>" style="position: relative;">
												<{$date_total_price|number_format:0}>
											</td>
										<{/foreach}>
									</tr>
									<{/if}>
									<{assign var="comm_g1_idx" value=$comm_g1_idx+1 }>
								<{/foreach}>
							<{/foreach}>
							<tr class="sales-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
									<td class="sales-price-td sales-total-<{$comm_date}>"><{$cms_month_total_list[$comm_date].sales_base|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>

						<{if $sales_work_list}>
							<{if $cost_report_list || $cost_work_list || $cms_report_list || $sales_report_list}>
								<tr class="empty-tr">
									<td colspan="2"></td>
								</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<{foreach from=$sales_work_list key=work_g1 item=sales_work_data}>
								<{assign var="sales_rowspan" value=$sales_work_data|@count}>
								<{assign var="work_g1_idx" value=1}>
								<{foreach from=$sales_work_data key=work_g2 item=sales_work}>
									<tr class="row-report-sales-<{$work_g1}> row-report-toggle sales-month-wrapper-child sales-month-row-report-toggle">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="sales-price-td" style="position: relative;">
											<{$sales_work[$comm_date]|number_format:0}>
											<{if $work_g1 == '01053'}>
												<a href="agency_settlement.php?<{$sch_agency_brand_url}>&sch_settle_month=<{$date_label['agency_mon']}>&sch_media=<{$work_g2}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{else}>
												<a href="work_list.php?<{$sch_work_brand_url}>&sch_prd=<{$work_g2}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
											<{/if}>
										</td>
										<{/foreach}>
									</tr>
									<{if $work_g1_idx == $sales_rowspan}>
									<tr class="total-report-sales-<{$work_g1}> total-report-toggle sales-month-wrapper-child">
										<{foreach from=$commerce_date_list key=comm_date item=date_label}>
										<td class="sales-price-td cate-price-sales-<{$work_g1}>-<{$comm_date}>" style="position: relative;">
											<{$sales_work_total_list[$work_g1][$comm_date]|number_format:0}>
										</td>
										<{/foreach}>
									</tr>
									<{/if}>
									<{assign var="work_g1_idx" value=$work_g1_idx+1}>
								<{/foreach}>
							<{/foreach}>
							<tr class="sales-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_label}>
								<td class="sales-price-td sales-total-<{$comm_date}>"><{$cms_month_total_list[$comm_date].sales_month|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/if}>

						<{if $cms_month_total_list}>
							<{if $cost_report_list || $cost_work_list || $cms_report_list || $sales_report_list || $sales_work_list}>
							<tr class="empty-tr">
								<td colspan="2"></td>
							</tr>
							<{/if}>
							<tr>
								<{foreach from=$commerce_date_list item=date_data}>
								<th class="date-th"><{$date_data.title}></th>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr month-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="cost-price-td">
									<{$cms_month_total_list[$comm_date].cost_total|number_format:0}>
								</td>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr month-total-wrapper-child">
								<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="cms-price-td">
									<{$cms_month_total_list[$comm_date].sales_total|number_format:0}>
								</td>
								<{/foreach}>
							</tr>
							<tr class="cms-total-tr">
								<{foreach from=$commerce_date_list key=comm_date item=date_data}>
								<td class="<{if $cms_month_total_list[$comm_date].month_total >= 0}>cms-price-td<{else}>cost-price-td<{/if}>">
									<{$cms_month_total_list[$comm_date].month_total|number_format:0}>
								</td>
								<{/foreach}>
							</tr>
						<{/if}>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	<{if $allowed_download}>
	<div style="clear: both; text-align: left;">
		<button onclick="location.href='excel_media_commerce_auto_report.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀 다운로드</span></button>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<div class="modal" id="comm-memo-modal">
	<div class="memo-content">
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		$("#sch_comm_g2").remoteChained({
			parents: "#sch_comm_g1",
			url: "/v1/api/comm.json.php?parent_data=sch_comm_g1",
			loading: "로딩중..",
			clear: true
		});

    	var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}

		var sch_toggle = $("#sch_toggle").val();

		if(sch_toggle){
			var sch_toggle_list = sch_toggle.split(',');

			for(var sch_idx in sch_toggle_list)
			{
				var toggle_row = sch_toggle_list[sch_idx];
				if(toggle_row != ''){
					$(".row-report-"+toggle_row).show();
					$(".total-report-"+toggle_row).hide();
				}
			}
		}

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		hideWrapperReport();
		toggleWrapperReport('month-total','show');
    });

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}
	}

	function hideWrapperReport()
	{
		$("#cost-auto-wrapper-hide-btn").hide();
		$("#cost-self-wrapper-hide-btn").hide();
		$("#cost-month-wrapper-hide-btn").hide();
		$("#sales-auto-wrapper-hide-btn").hide();
		$("#sales-self-wrapper-hide-btn").hide();
		$("#sales-month-wrapper-hide-btn").hide();
		$("#month-total-wrapper-hide-btn").hide();

		$("#cost-auto-wrapper-show-btn").show();
		$("#cost-self-wrapper-show-btn").show();
		$("#cost-month-wrapper-show-btn").show();
		$("#sales-auto-wrapper-show-btn").show();
		$("#sales-self-wrapper-show-btn").show();
		$("#sales-month-wrapper-show-btn").show();
		$("#month-total-wrapper-show-btn").show();

		$(".cost-auto-wrapper-child").hide();
		$(".cost-self-wrapper-child").hide();
		$(".cost-month-wrapper-child").hide();
		$(".sales-auto-wrapper-child").hide();
		$(".sales-self-wrapper-child").hide();
		$(".sales-month-wrapper-child").hide();
		$(".month-total-wrapper-child").hide();
	}

	function toggleWrapperReport(id, type)
	{
		$("#"+id+"-wrapper-"+type+"-btn").hide();
		if(type == 'show'){
			$("#"+id+"-wrapper-hide-btn").show();
			$("."+id+"-wrapper-child").show();
			$("."+id+"-row-report-toggle").hide();
		}else if(type == 'hide'){
			$("#"+id+"-wrapper-show-btn").show();
			$("."+id+"-wrapper-child").hide();
		}
	}

	function toggleRowReport(type, id)
	{
		var sch_toggle = $("#sch_toggle").val();
		var sch_toggle_list_val = "";
		var sch_toggle_val = "";

		if(sch_toggle != "")
		{
			sch_toggle += ","+id;
			sch_toggle_list_val = sch_toggle.split(',');
			for(var idx in sch_toggle_list_val)
			{
				var chk_str = sch_toggle_list_val[idx];

				if(chk_str != ""){
					if(!(type == 'row' && chk_str == id)){
						sch_toggle_val += chk_str+",";
					}
				}
			}

		}else{
			sch_toggle_val = id;
		}

		if(type == 'total'){
			$(".total-report-"+id).hide();
			$(".row-report-"+id).show();
		}else if(type == 'row'){
			$(".row-report-"+id).hide();
			$(".total-report-"+id).show();
		}

		$("#sch_toggle").val(sch_toggle_val);
	}
</script>
</body>
</html>
