<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.order_btn{background-color: #EEE;font-weight: bold;width: 160px;height: 40px;margin: 0;line-height: 14px;float: left;font-size: 14px;border-radius: 5px;border: 1px solid #999;}
	.order_active_btn{background-color: #CCC;}

	.cms-product-qty-wrapper{display: none; margin-top: 10px;}
	.cms-product-price-wrapper{display: none; margin-top: 10px;}
	.cms-product-table-wrapper .table{width: auto;}
	.cms-product-table-wrapper .table th{font-size: 12px;}
	.cms-product-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">브랜드별 상품의 판매수량과 매출금액을 볼 수 있습니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="media_commerce_sales_product.php" autocomplete="off" style="display: block; margin-top: 5px;">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<div style="overflow: hidden; margin-top: 20px;">
			<input type="hidden" name="sch_order_type" id="sch_order_type" value="<{$sch_order_type}>">
			<button type="button" class="btn order_btn <{if $sch_order_type == 'unit_price'}>order_active_btn<{/if}>" id="order_btn_unit_price" onclick="changeOrderType('unit_price');" style="margin-right: 10px;">매출</button>
			<button type="button" class="btn order_btn <{if $sch_order_type == 'quantity'}>order_active_btn<{/if}>" id="order_btn_quantity" onclick="changeOrderType('quantity');">판매량</button>
		</div>

		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_order_s_date">주문일시</label>
				<input type="text" name="sch_order_s_date" id="sch_order_s_date" class="date-picker form-control" value="<{$sch_order_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_order_e_date" id="sch_order_e_date" class="date-picker form-control" value="<{$sch_order_e_date}>" style="margin-left: 5px;" />

				<div style="margin-left: 10px;">
					<{foreach from=$sch_order_type_option key=key item=label}>
						<input type="radio" name="sch_order_date_type" id="sch_order_date_type_<{$key}>" value="<{$key}>" class="radio" <{if $sch_order_date_type == $key}>checked<{/if}>>
						<label for="sch_order_date_type_<{$key}>" style="display: inline-block; margin-left: -3px;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>

			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_price_type">상품별 결제금액</label>
				<select name="sch_price_type" id="sch_price_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$cms_price_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_price_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">구매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px; margin-right: 20px;">검색</button>
				<a href="media_commerce_sales_product.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/work_chart_on.png">
				</a>
				<a href="media_commerce_sales_product_compare.php?<{$search_url}>" style="margin: 0 5px;">
					<img src="./images/icon/compare_off.png">
				</a>
			</div>
		</div>
	</form>

	<div class="cms-product-qty-wrapper cms-product-table-wrapper">
		<table id="cms-product-qty-table" class="table table-bordered">
			<colgroup>
				<col width="300px;"> <!-- 상품명 -->
				<{foreach from=$cms_date_name_list item=date_label}>
					<col width="100px;"> <!-- key date 별 -->
				<{/foreach}>
				<col width="100px;"> <!-- 합계 -->
			</colgroup>
			<thead>
				<tr>
					<td colspan="<{$cols_cnt}>" class="text-right">
						<button type="button" onclick="sort_search('total')" style="line-height: 26px;">합계순<{if $ord_type == 'total'}><span style="color:red; margin-left: 5px;"><{if $ord_type == 'total' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'total' && $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					</td>
				</tr>
				<tr>
					<th scope="col" class="text-center">Total</th>
					<{assign var=qty_total value=0}>
					<{foreach from=$cms_date_name_list key=key_date item=date_label}>
						<td class="text-center"><{$cms_product_qty_date_list[$key_date]|number_format:0}></td>
						<{assign var=qty_total value=$qty_total+$cms_product_qty_date_list[$key_date]}>
					<{/foreach}>
					<td class="text-center"><{$qty_total|number_format:0}></td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col"></th>
					<{foreach from=$cms_date_name_list item=date_label}>
						<th scope="col" class="date-th"><{$date_label}></th>
					<{/foreach}>
					<th scope="col">합계</th>
				</tr>
			</thead>
			<tbody>
			<{if $cms_product_qty_list}>
				<{foreach from=$cms_product_qty_list key=prd_no item=prd_qty_data}>
					<{assign var=row_qty_total value=0}>
					<tr>
						<td class="first text-left" style="background: #343a40; color: white;"><{$cms_product_name_list[$prd_no]}></td>
						<{foreach from=$prd_qty_data key=date_key item=qty_data}>
							<td class="text-center"><{$qty_data|number_format}></td>
							<{assign var=row_qty_total value=$row_qty_total+$qty_data}>
						<{/foreach}>
						<td class="text-center" style="background: #FFD9FF;"><{$row_qty_total|number_format:0}></td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first text-center" colspan="<{$cms_date_table_cnt}>">데이터가 없습니다.</td>
				</tr>
			<{/if}>
			</tbody>
		</table>
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-product-qty-table');" />
	</div>

	<div class="cms-product-price-wrapper cms-product-table-wrapper">
		<table id="cms-product-price-table" class="table table-bordered">
			<colgroup>
				<col width="300px;"> <!-- 상품명 -->
				<{foreach from=$cms_date_name_list item=date_label}>
					<col width="100px;"> <!-- key date 별 -->
				<{/foreach}>
				<col width="100px;"> <!-- 합계 -->
			</colgroup>
			<thead>
				<tr>
					<td colspan="<{$cols_cnt}>" class="text-right">
						<button type="button" onclick="sort_search('total')" style="line-height: 26px;">합계순<{if $ord_type == 'total'}><span style="color:red; margin-left: 5px;"><{if $ord_type == 'total' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'total' && $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					</td>
				</tr>
				<tr>
					<th scope="col" class="text-center">Total</th>
					<{assign var=price_total value=0}>
					<{foreach from=$cms_date_name_list key=key_date item=date_label}>
						<td class="text-right"><{$cms_product_price_date_list[$key_date]|number_format:0}></td>
						<{assign var=price_total value=$price_total+$cms_product_price_date_list[$key_date]}>
					<{/foreach}>
					<td class="text-right"><{$price_total|number_format:0}></td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col"></th>
					<{foreach from=$cms_date_name_list item=date_label}>
						<th scope="col" class="date-th"><{$date_label}></th>
					<{/foreach}>
					<th scope="col">합계</th>
				</tr>
			</thead>
			<tbody>
				<{if $cms_product_price_list}>
					<{foreach from=$cms_product_price_list key=prd_no item=prd_price_data}>
						<{assign var=row_price_total value=0}>
						<tr>
							<td class="first text-left" style="background: #343a40; color: white;"><{$cms_product_name_list[$prd_no]}></td>
							<{foreach from=$prd_price_data key=date_key item=price_data}>
								<td class="text-right"><{$price_data|number_format}></td>
								<{assign var=row_price_total value=$row_price_total+$price_data}>
							<{/foreach}>
							<td class="text-right" style="background: #FFD9FF;"><{$row_price_total|number_format:0}></td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first text-center" colspan="<{$cms_date_table_cnt}>">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-product-price-table');" />
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		var order_type = $("#sch_order_type").val();
		showOrderTypeData(order_type);
	});

	function changeOrderType(type) {
		$("#sch_order_type").val(type);
		showOrderTypeData(type);
	}

	function showOrderTypeData(type)
	{
		$(".cms-product-table-wrapper").hide();
		$(".order_btn").removeClass('order_active_btn');

		if(type == 'quantity'){
			$(".cms-product-qty-wrapper").show();
			$("#order_btn_quantity").addClass('order_active_btn');
		}else{
			$(".cms-product-price-wrapper").show();
			$("#order_btn_unit_price").addClass('order_active_btn');
		}
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val(type);

		if(ord_type_by == '2'){
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type_by").val("2");
		}

		f.submit();
	}
</script>

</body>
</html>
