<{include file="inc/iframe_navibar.html"}>
<style>
    .appr-state-cnt{background: red;opacity: 0.7;display: inline-block;border-radius: 10px;width: 15px;height: 15px;text-align: center;position: absolute;bottom: 6px; right: -17px; line-height: 15px;font-size: 10px;color: white;}
    .work-state-cnt{background: red;opacity: 0.7;display: inline-block;border-radius: 10px;width: 15px;height: 15px;text-align: center;position: absolute;bottom: 6px; right: -17px; line-height: 15px;font-size: 10px;color: white;}
    .work-state-cnt-4{background: blue;}
    .work-state-cnt-5{background: green;}
</style>

<form name="apply_set" id="apply_set" class="list_form" method="post" enctype="multipart/form-data" action="navibar_top.php" style="line-height: 25px; float: left;">
    <input type="hidden" name="process" id="process">
    <div style="float: left;">
        <select id="ss_my_c_no" name="ss_my_c_no" style="width:150px;" onchange="change_my_c_no();">
            <{section name=data loop=$my_company_list}>
            <option value="<{$my_company_list[data].my_c_no}>" <{if $session_my_c_no == $my_company_list[data].my_c_no}>selected<{/if}>><{$my_company_list[data].c_name}></option>
            <{/section}>
        </select>
        <a href="staff_regist.php?s_no=<{$session_s_no}>" alt="계정 및 인사정보"	title="계정 및 인사정보" target="_top"><{$session_name}>님</a> <a href="logout.php" alt="로그아웃"	title="로그아웃" target="_top">[로그아웃]</a>
        <{if $approval_read_list}>
            <{if $approval_read_list['2_1'] > 0}>
                <div style="margin-left: 10px; position: relative; display: inline-block; margin-right: 15px;">
                    <a href="/v1/approval_inbox_list.php?sch_ar_state=2_1" target="_blank">
                        <span>결재대기 </span>
                        <span class="appr-state-cnt"><{$approval_read_list['2_1']}></span>
                    </a>
                </div>
            <{/if}>
            <{if $approval_read_list['2_2'] > 0}>
                <div style="margin-left: 10px; position: relative; display: inline-block; margin-right: 15px;">
                    <a href="/v1/approval_inbox_list.php?sch_ar_state=2_2" target="_blank">
                        <span>합의대기 </span>
                        <span class="appr-state-cnt"><{$approval_read_list['2_2']}></span>
                    </a>
                </div>
            <{/if}>
        <{/if}>
        <{if $is_work_state}>
            <div style="display: inline-block; margin-left: 10px;">MY 업무처리 (</div>
            <{if $work_state_list['3'] > 0}>
                <div style="position: relative; display: inline-block; margin-right: 15px;">
                    <a href="/v1/work_list.php?sch=Y&sch_req_team=&sch_req_s_name=&sch_run_s_name=<{$session_name}>&sch_work_state=3" target="_blank">
                        <span>진행요청 </span>
                        <span class="work-state-cnt"><{$work_state_list['3']}></span>
                    </a>
                </div>
            <{/if}>
            <{if $work_state_list['4'] > 0}>
                <{if $work_state_list['3'] > 0}>
                    <div style="display: inline-block; width: 5px;"></div>
                <{/if}>
                <div style="position: relative; display: inline-block; margin-right: 15px;">
                    <a href="/v1/work_list.php?sch=Y&sch_req_team=&sch_req_s_name=&sch_run_s_name=<{$session_name}>&sch_work_state=4" target="_blank">
                        <span>접수완료</span>
                        <span class="work-state-cnt work-state-cnt-4"><{$work_state_list['4']}></span>
                    </a>
                </div>
            <{/if}>
            <{if $work_state_list['5'] > 0}>
                <{if $work_state_list['3'] > 0 || $work_state_list['4'] > 0}>
                    <div style="display: inline-block; width: 5px;"></div>
                <{/if}>
                <div style="position: relative; display: inline-block; margin-right: 15px;">
                    <a href="/v1/work_list.php?sch=Y&sch_req_team=&sch_req_s_name=&sch_run_s_name=<{$session_name}>&sch_work_state=5" target="_blank">
                        <span>진행중</span>
                        <span class="work-state-cnt work-state-cnt-5"><{$work_state_list['5']}></span>
                    </a>
                </div>
            <{/if}>
            <div style="display: inline-block;">)</div>
        <{/if}>
    </div>
</form>

<div style="float: left; overflow: hidden; position: relative;">
    <input type="text" id="sch_keyword_top" name="sch_keyword" value="" placeholder="단어검색" class="form-control" style="font-size: 14px; border: 2px solid #3092c0; width: 150px; margin: 0 0 0 10px; padding: 0 0 0 5px; height: 25px;" onkeydown="javascript:if(event.keyCode == 13)moveTotalSearchList();" />
    <button onclick="moveTotalSearchList();" style="position: absolute; right: 5px; top: 4px;"><img src="images/icon/search-black.png"></button>
</div>

<{if $session_s_no == '18' || $session_s_no == '167'}>
<div class="notice_wrap" style="position:absolute; margin-top: 10px;">
    <form id="navibar_top" name="navibar_top" action="navibar_top.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="process" value="<{$mode}>">
        <br>
        <select name="sch_s_no" id="sch_s_no" class="select_type2" style="margin-right:10px;" >
            <option value="">::선택::</option>
            <{foreach from=$staff_list key=key item=label}>
            <option value="<{$key}>"><{$label}></option>
            <{/foreach}>
        </select>
        <button id="btn" onclick="login_submit();" class="btn_small">로그인</button>
        <!--
        <button id="btn_ykb" onclick="process.value='3';submit();" class="btn_small">마케-염기백</button>
        <button id="btn_seul0912" onclick="process.value='17';submit();" class="btn_small">운영-임보슬</button>
        <button id="btn_ykkim11_" onclick="process.value='28';submit();" class="btn_small">재무-김영경</button>
        <button id="btn_thdus2943" onclick="process.value='22';submit();" class="btn_small">외주-장소연</button>
        <button id="btn_jkmworld" onclick="process.value='1';submit();" class="btn_small">대표-주경민</button>
        <button id="btn_wiseplanner" onclick="process.value='18';submit();" class="btn_small">마스터-김윤영</button>
        -->
    </form>
</div>
<{/if}>
<style>
    .form-control{font-size: 12px; padding: 5px !important; width: 100px !important;}
    .custom-combobox-toggle{margin-top: 3px;}
</style>
<script type="text/javascript">
    $(function() {
        var login_id = "<{$session_id}>";

        if (login_id) {
            $("#btn_" + login_id).css("color", "yellow");
        }

        $("#sch_s_no").combobox();
    });

    function login_submit(){
        var f = document.forms['navibar_top'];

        if(!f.sch_s_no.value){
            alert("선택 후 이용해주세요.");
            return false;
        }
        f.process.value = f.sch_s_no.value;

        f.submit();
    }

    function change_my_c_no() {
        var f = document.forms['apply_set'];
      f.process.value = "change_my_c_no";
      f.submit();
    }

    function moveTotalSearchList(){
        var sch_keyword = $("#sch_keyword_top").val();
        parent.location.href = "/v1/total_search_list.php?sch_keyword="+sch_keyword;
    }
</script>

</body>
</html>
