<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table_list_style table{width: 500px;}
	.okr_kr_textarea{width: 550px;}
	.table_list_style table tbody td{text-align: center;}
</style>

<div class="admin_content" style="width:1000px;">
	<{if $mode=="modify"}>
	<h2 class="title" style="margin-bottom:10px">● 월간 목표 수정하기</h2>
	<{else}>
	<h2 class="title" style="margin-bottom:10px">● 월간 목표 제작하기</h2>
	<{/if}>

	<div class="table_contents_style">
		<table cellpadding="0" cellspacing="0">
			<form name="okr_obj_form" action="okr_regist_month.php" method="post" enctype="multipart/form-data" onsubmit="return check_form(this);">
				<input type="hidden" name="oo_no" value="<{$oo_no}>" />
				<input type="hidden" name="process" id="process" value="<{$mode}>" />
				<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
				<input type="hidden" name="team" value="<{$team}>">
				<input type="hidden" name="team_name" id="team_name" value="<{$team_name}>">
				<input type="hidden" name="state" value="<{$state}>">

				<thead>
				<tr>
					<th colspan="6" class="first">OBJECT INFOMATION</th>
				</tr>
				</thead>
				<tbody>
				<tr class="first">
					<th class="first">oo_no</th>
					<td colspan="6"><{$oo_no}></td>
				</tr>
				<tr>
					<th class="first">진행상태</th>
					<td colspan="6">
						<{if $mode == 'write'}>
							<select name="f_state" id="f_state" class="select_type1">
							<{section name=data loop=$okr_obj_state}>
								<{if $okr_obj_state[data][1] == '1'}>
								<option value="<{$okr_obj_state[data][1]}>" selected ><{$okr_obj_state[data][0]}></option>
								<{else}>
								<option value="<{$okr_obj_state[data][1]}>" <{if $state==$okr_obj_state[data][1]}>selected<{/if}>>
									<{if $okr_obj_state[data][0] == '::전체::'}>::선택::<{else}><{$okr_obj_state[data][0]}><{/if}>
								</option>
								<{/if}>
							<{/section}>
							</select>
						<{else}>
							<select name="f_state" id="f_state" class="select_type1<{if $s_no != $session_s_no}>_disabled<{/if}>" onchange="save_okr_obj_el('<{$oo_no}>', 'f_state', this)" <{if $s_no != $session_s_no}>disabled<{/if}>
									style="padding: 0px 3px; height:22px; <{if $state == '1' || $state == '2'}>color:red;<{else}>color:black;<{/if}>">
								<{section name=data loop=$okr_obj_state}>
								<option value="<{$okr_obj_state[data][1]}>" style="<{if $okr_obj_state[data][1] == '1' || $okr_obj_state[data][1] == '2'}>color:red;<{else}>color:black;<{/if}>" <{if $s_no != $session_s_no}>disabled<{/if}><{if $state==$okr_obj_state[data][1]}>selected<{/if}>>
									<{if $okr_obj_state[data][0] == '::전체::'}>::선택::<{else}><{$okr_obj_state[data][0]}><{/if}>
								</option>
								<{/section}>
							</select>
						<{/if}>
					</td>
				</tr>
				<tr>
					<th class="first" width="120px">진행기간</th>
					<td colspan="6">
						<{if $kind == '1'}> <!-- 구분(팀) -->
						<input type="text" class="date-picker input_type_date" id="f_sdate" name="f_sdate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_sdate', this)"<{/if}> value="<{$sdate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						~
						<input type="text" class="date-picker input_type_date" id="f_edate" name="f_edate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_edate', this)"<{/if}> value="<{$edate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						<{else}>
						<input type="text" class="date-picker input_type_date" id="f_sdate" name="f_sdate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_sdate', this)"<{/if}> value="<{$sdate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						~
						<input type="text" class="date-picker input_type_date" id="f_edate" name="f_edate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_edate', this)"<{/if}> value="<{$edate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						<{/if}>
						&nbsp;<span style="color: blue;"><{if $obj_d_day < 0}>D<{$obj_d_day}>일<{/if}></span>
						<select name="sch_month" class="sch_month" style="line-height: 26px;height: 26px;">
							<option value="">::전체::</option>
							<{foreach from=$month_list key=month item=month_data}>
							<option value="<{$month_data.date}>" <{if $cur_month == $month}>selected<{/if}>><{$month_data.label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th class="first" width="120px">구분</th>
					<td colspan="6">
						<input type="radio" name="f_kind" value="1" class="radio first" checked/>팀
						&nbsp;&nbsp;
						<input type="radio" name="f_kind" value="2" class="radio" disabled/>개인
					</td>
				</tr>
				<tr>
					<th class="first">OBJECT NAME</th>
					<td colspan="6">
						<input type="text" class="input_type1" style="width:400px; background-color: #f8f8f8;" name="f_obj_name" id="f_obj_name" value="<{$obj_name}>" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_obj_name', this)"<{/if}> <{if $mode=="modify" && $state != '1'}>disabled<{/if}> /> <!-- readonly required/> -->
					</td>
				</tr>
				<tr>
					<th class="first">부서 > 담당자</th>
					<td colspan="6">
						<select name="f_team" id="f_team" class="<{if $f_team_count > 1 && ($s_no == $session_s_no || permissionNameCheck($session_permission,'마스터관리자'))}>select_type2<{elseif $f_team_count > 1 && $mode=='write'}>select_type2<{else}>select_type2_disabled<{/if}>" <{if $mode=="modify" && ($s_no == $session_s_no || permissionNameCheck($session_permission,"마스터관리자")) }>onchange="save_okr_obj_el('<{$oo_no}>', 'f_team', this)"<{/if}>>
							<{foreach from=$f_team_list key=key item=label}>
								<option value="<{$key}>" <{if $team == '' && $session_team == $key}>selected<{elseif $team != '' && $team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<select name="f_s_no" id="f_s_no" class="select_type2_disabled" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_s_no', this)"<{/if}>>
							<{section name=data loop=$staff}>
								<option value="<{$staff[data].no}>" <{if (($s_no !='' && $staff[data].no==$s_no) || ($s_no == '' && $staff[data].no==$session_s_no ))}>selected<{else}>disabled<{/if}>><{$staff[data].name}></option>
							<{/section}>
						</select>
					</td>
				</tr>
				<{if $mode=="modify"}>
				<tr>
					<th class="first">R&R</th>
					<td colspan="6">
						<{if $kind == '2'}>
						<textarea class="textarea_memo_contents" style="height: 30px; padding-left: 5px; line-height: 20px;" disabled><{$rar}></textarea>
						<{elseif $kind == '1'}>
						<{foreach from=$staff_data_list item=staff_data}>
						<{$staff_data.s_name}> : <textarea class="textarea_memo_contents" style="height: 30px; padding-left: 5px; line-height: 20px;" disabled><{$staff_data.rar}></textarea><br/>
						<{/foreach}>
						<{/if}>
					</td>
				</tr>
				<{/if}>
				</tbody>
				<{if !$oo_no}>
				<tr>
					<td colspan="6" border="0" style="border-right:0px; border-bottom:0px; text-align:center;">
						<button type="submit" class="btn_style1"><span>월간목표 제작하기</span></button>
					</td>
				</tr>
				<{/if}>
			</form>

			<{if $oo_no}>
			<tbody>
			<tr>
				<th class="first" rowspan="2">KEY RESULT<br>INFOMATION</th>
				<td class="first">
					<div class="table_list_style">
						<table cellpadding="0" cellspacing="0" style="text-align: center;">
							<colgroup>
								<col style="width: 50px;"/>
								<col style="width: 80px; background-color: #e4e4e4;" />
								<col style="width: 570px;" />
							</colgroup>
							<thead>
							<tr>
								<th class="first rowspan-title" style="background-color: rgba(51, 51, 51, 1);">ok_no</th>
								<th colspan="4" style="background-color: rgba(51, 51, 51, 1);">KEY RESULT NAME</th>
							</tr>
							</thead>
							<tbody>

							<{section name=list loop=$okr_kr}>
							<form name="okr_kr_form<{$okr_kr[list].ok_no}>" id="okr_kr_form<{$okr_kr[list].ok_no}>" action="okr_regist_month.php" method="post" enctype="multipart/form-data">
								<input type="hidden" name="oo_no" value="<{$oo_no}>">
								<input type="hidden" name="ok_no" value="<{$okr_kr[list].ok_no}>">
								<input type="hidden" name="process">
								<tr>
									<td rowspan="<{if $state != '1'}>3<{else}>2<{/if}>" class="first"> <!-- ok_no -->
										<{$okr_kr[list].ok_no}>
										<br>
										<{if ($session_s_no == $s_no || $session_s_no == $okr_kr[list].reg_no)}>
											<a href="#" onclick="del_okr_kr('<{$okr_kr[list].ok_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
										<{/if}>
									</td>
									<td>이름</td>
									<td style="text-align: left;" > <!-- KEY RESULT NAME -->
										<input type="number" name="f_priority" id="f_priority_<{$okr_kr[list].ok_no}>" value="<{$okr_kr[list].priority}>" style="width:35px; line-height: 24px; text-align: center;" onchange="save_sort_okr('<{$okr_kr[list].ok_no}>')" <{if ($state != '1') || ($session_s_no != $s_no && $session_s_no != $okr_kr[list].reg_no)}>disabled<{/if}>>
										<input type="text" style="width:420px; padding-left: 7px;" name="f_kr_name" id="f_kr_name" <{if ($state != '1') || ($session_s_no != $s_no && $session_s_no != $okr_kr[list].reg_no)}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_name', this)" value="<{$okr_kr[list].kr_name}>" class="input_type4"/>
										<span style="margin-left: 20px; color: #777777;"><{$okr_kr[list].reg_name}></span>
									</td>
								</tr>
								<tr>
									<td>목표</td>
									<td> <!-- KEY RESULT 설정사유 및 근거 -->
										<textarea name="f_kr_reason" class="okr_kr_textarea" id="f_kr_reason" <{if ($state != '1') || ($session_s_no != $s_no && $session_s_no != $okr_kr[list].reg_no)}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_reason', this)" onfocus="kr_reason_click(this)" onfocusout="kr_reason_click_out(this)" style="height:70px; color:#777777;"><{$okr_kr[list].kr_reason}></textarea><br>
									</td>
								</tr>
								<{if $state != '1'}>
								<tr>
									<td>과정/결과</td>
									<td> <!-- 과정 및 결과 -->
									 	<textarea name="f_kr_result" class="okr_kr_textarea" id="f_kr_result" <{if ($state != '3') && ($session_s_no != $s_no && $session_s_no != $okr_kr[list].reg_no) }>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_result', this)" onfocus="kr_result_click(this)" onfocusout="kr_result_click_out(this)" style="width: 550px; height:45px; color:#777777;"><{$okr_kr[list].kr_result}></textarea><br>
									</td>
								</tr>
								<{/if}>
							</form>
							<{/section}>
							<{if $state == '1'}>
							<form name="okr_kr_form_new" id="okr_kr_form_new" action="okr_regist_month.php" method="post" enctype="multipart/form-data">
								<input type="hidden" name="oo_no" value="<{$oo_no}>">
								<input type="hidden" name="process">
								<tr style="background: #fff">
									<td class="first" rowspan="2">&nbsp;</td> <!-- ok_no new -->
									<td colspan="2" style="text-align: left;"> <!-- KEY RESULT NAME -->
										이름
										<br>
										<input style="width:30px;" type="text" class="input_type4" name="f_priority_new" id="f_priority_new" value="<{$f_priority_new}>"/>
										<input style="width:588px;" type="text" class="input_type4" name="f_kr_name_new" id="f_kr_name_new" value="<{$f_kr_name_new}><{$cur_month}>월 목표" />
										<br>
										목표
										<br>
										<textarea name="f_kr_reason_new" id="f_kr_reason_new" onfocus="kr_reason_click(this)" onfocusout="kr_reason_click_out(this)" class="textarea_work_message" style="width:633px; height:70px; color:#777777;"></textarea><br>
										<button onclick="return create_keyresult();" style="width:100%;" class="btn_small">추가하기</button>
									</td>
								</tr>
							</form>
							<{/if}>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
			<{/if}>
			<{if $oo_no}>
			<tr>
				<td colspan="6" border="0" style="border-right:0px; border-bottom:0px; text-align:right;">
					<{if $state == '1' && ($session_team == '00211' || (($session_team == $team && ($session_pos_permission == "2" || $session_pos_permission == "3" || $session_pos_permission == "4")) || permissionNameCheck($session_permission, "대표"))) }>
					<button type="button" style="padding: 15px 45px; float:left;" onclick="del_okr()" class="btn_style1"><span>삭제하기</span></button>
					<{/if}>
					<button type="button" onclick="location.href='okr_list_month.php';" class="btn_style1"><span>목록으로</span></button>
				</td>
			</tr>
			<{/if}>
		</table>
	</div> <!-- //table_contents_style -->
</div> <!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
        $('.starRev span').click(function(){

            var ok_no 		= $(this).attr('attr-okno');
            var proc 		= $(this).attr('attr-proc');
            var value 		= $(this).attr('attr-val');
            var disabled 	= $(this).attr('attr-disabled');

            if(disabled == '2') {
                $(this).parent().children('span').removeClass('on');
                $(this).addClass('on').prevAll('span').addClass('on');
                save_okr_star_click(ok_no, proc, value, disabled, this);
            }

            return false;
        });

		$(".sch_month").change(function(){
			var date_info = $(this).val().split(",");
			var sDate = date_info[0];
			var eDate = date_info[1];
			var month = date_info[2];

			if(sDate && eDate){
				$('#f_sdate').val(sDate);
				$('#f_edate').val(eDate);

				var team_name = $("#team_name").val();
				var title = team_name + " " + month + "월 목표";
                $("#f_obj_name").val(title);

				$('#f_sdate').trigger('change');
				$('#f_edate').trigger('change');
                $("#f_obj_name").trigger('change');
			}
		});

	<{if permissionNameCheck($session_permission, "마케터") && $mode == "modify"}>
		<{if $f_c_no}>
			if ($(":input[name=f_c_name]").val())
				$(":input[name=f_c_name]").prop('disabled', true);
		<{/if}>

			$(":input[name=f_wd_subject]").prop('disabled', true);
			$(":input[name=f_wd_state]").prop('disabled', true);
			$(":input[name=f_wd_method]").prop('disabled', true);
			$(":input[name=f_wd_date]").prop('disabled', true);
			$(":input[name=f_incentive_date]").prop('disabled', true);
		<{if $f_c_no}>
			$(":input[name=f_supply_cost]").prop('disabled', true);
			$(":input[name=f_vat_choice]").prop('disabled', true);
			$(":input[name=f_supply_cost_vat]").prop('disabled', true);
			$(":input[name=f_cost]").prop('disabled', true);
		<{/if}>
			$(":input[name=f_wd_money]").prop('disabled', true);

			$(".ui-datepicker-trigger").hide();

			tax_state = $("select[name=f_wd_tax_state] option:selected").val();
			if (!(tax_state == "1" || tax_state == "2")) {
				$(":input[name=f_wd_tax_date]").prop('disabled', true);
				$(":input[name=f_wd_tax_item]").prop('disabled', true);
			}	else {
				$(".ui-datepicker-trigger").last().show();
			}
		<{/if}>

	});

	function save_okr_obj_el(oo_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_obj_name')) { // 공백시 저장 예외
			$.post("okr_regist_month.php", {oo_no : oo_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

    function save_okr_star_click(ok_no, proc, value, disabled, obj)
	{
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (disabled == 1)
            return false;

        if (value != "") { // 공백시 저장 예외
            $.post("okr_regist_month.php", {ok_no : ok_no, process : proc, val : value}, function(result){
                d_msg.appendTo($(obj).closest('div')).html(result).fadeOut(2000);
            });
        }
    }

	function save_okr_ok_el(ok_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if(proc=='f_complete_rate' && val > 100){
        	alert("100까지 입력 가능합니다");
			return false;
		}

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_kr_name' ) { // 공백시 저장 예외
			$.post("okr_regist_month.php", {ok_no : ok_no, process : proc, val : val}, function(result){
				if(proc == 'f_importance' || proc == 'f_difficulty' || proc == 'f_challenge'){
					d_msg.appendTo($(obj).closest('div')).html(result).fadeOut(2000);
				}else{
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				}
			});
		}
	}

    function save_sort_okr(ok_no){
        eval("var f=document.getElementById('okr_kr_form" + ok_no + "');");

        if (confirm("순서를 변경하시겠습니까?") == true)
        {
            f.process.value = "modify_sort_okr";
            f.submit();
        }
        return;
    }

	function del_okr(){
		var f = document.okr_obj_form;

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{
			f.process.value = "del_okr_all";
			f.submit();
		}
		return;
	}

	function del_okr_kr(ok_no){ // key result 삭제
		eval("var f=document.getElementById('okr_kr_form" + ok_no + "');");
		f.process.value = "del_okr_kr";

		<{if $state != '1'}>
			alert("작성중인 경우에만 삭제 가능합니다.\n" + "담당자에게 문의해주세요");
			return;
		<{/if}>

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function create_keyresult(){ // key result 추가
		eval("var f=document.getElementById('okr_kr_form_new');");
		f.process.value = 'create_keyresult';

		var f_kr_name_new = document.getElementById("f_kr_name_new").value;

		if(f_kr_name_new == "" ){
			alert("KEY RESULT NAME을 입력해 주세요.");
			return false;
		}

		f.submit();
	}

	function check_form(f) {
		if (cknull("f_obj_name","OBJECT NAME을")=="x") {return false;}
		if (cknull("f_kind","구분을")=="x") {return false;}
		if (cknull("f_s_no","담당자를")=="x") {return false;}
		return true;
	}

	// check_memo 클릭 시 사이즈 확장
	function check_memo_click(f){
		f.style.width = "340px";
		f.style.backgroundColor="#f0fcff";
		f.style.height = "100px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}
	
	// check_memo 클릭아웃 시 사이즈 복원
	function check_memo_click_out(f){
		f.style.width = "340px";
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	// Key Resaon 클릭 시 사이즈 확장
	function kr_reason_click(f){
		f.style.backgroundColor="#f0fcff";
		f.style.height = "90px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	// Key Resaon 클릭아웃 시 사이즈 복원
	function kr_reason_click_out(f){
		f.style.backgroundColor="";
		f.style.height = "70px"; // 수동설정
	}

	// Key Reault의 과정 및 결과 클릭 시 색상 변경 및 확장
	function kr_result_click(f){
		f.style.backgroundColor="#f0fcff";
		f.style.height = "100px";
	}

	// Key Reault의 과정 및 결과 클릭아웃 시 사이즈 복원
	function kr_result_click_out(f){
		f.style.backgroundColor="";
		f.style.height = "45px";
	}
</script>

</body>
</html>
