<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.sch_date_term, .sch_date_term_label{cursor: pointer;}
	.sch_date_term_label{margin-right: 10px;}
	.form-control{font-size: 12px; padding: 3px;}
	.okr-team-tree {display: table; margin-top: 20px;}
	.okr-team-tree {padding-top: 10px;}
	.okr-team-tree ul {position: relative; display: inline-block; vertical-align: top; padding-left: 20px;}
	.okr-team-tree > ul{padding-left: 0;}
	.okr-team-tree > ul > li > ul{margin-top: 10px;}
	.okr-team-tree li {vertical-align: middle; position: relative; list-style-type: none; width: 100%; height: 100%; padding: 0 0 10px 30px;}
	.okr-team-tree .top-wrapper > li{padding-left: 0;}
	.okr-team-tree .top-wrapper > li:after{width: 0;}
	.okr-team-tree li:before, .okr-team-tree li:after {content: ''; position: absolute; width: 25px;}
	.okr-team-tree li:before {bottom: 0; border-left: 0 none;}
	.okr-team-tree li:after {top: 20px; bottom: auto; left: 15px; height: 100%; border-left: 1px solid #ccc; border-top: 1px solid #ccc;}

	.okr-team-tree li:only-child:after, .okr-team-tree li:only-child:before {padding-right: 0;}
	.okr-team-tree > ul > li:after {border: 0 none;}
	.okr-team-tree li:first-child:before,.okr-team-tree li:last-child:after {border-left: 0 none; border-right: 0 none;}
	.okr-team-tree ul ul:after {content: '';position: absolute;top: -15px;left: 1px;border-right: 1px solid #ccc;width: 35px;height: 35px;}
	.okr-team-tree li a:hover+ul:after, .okr-team-tree li a:hover+ul ul:after {border-color:  #94a0b4;}
	.okr-team-tree li > div.okr-team-wrapper, .okr-team-tree li > div.okr-staff-wrapper{padding: 5px 10px;}
	.okr-team-tree li div.okr-team-title-wrapper, .okr-team-tree li div.okr-staff-title-wrapper {
		border: 1px solid #ccc;
		color: #666;
		font-weight: bold;
		font-size: 14px;
		padding: 5px 15px;
		vertical-align: middle;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		width: 550px;
		display: inline-block;
		margin-right: 10px;
		background-image: url(./images/colorbox/pink.png), url(./images/colorbox/white.png);background-position: left center, right center;
		background-repeat: no-repeat;
	}
	.okr-team-tree li div.okr-team-first-title-wrapper {padding: 10px 15px;}
	.okr-team-tree li span.okr-team-name, .okr-team-tree li span.okr-staff-name {font-size: 12px; font-weight: normal;}
	.okr-team-tree li span.okr-team-score, .okr-team-tree li span.okr-staff-score {vertical-align: bottom;}
	.top-not-ul li{padding-left: 10px;}
	.top-not-ul .okr-staff-wrapper-li{padding-left: 30px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" action="okr_state.php" class="form-inline" method="get"  autocomplete="off">
		<div class="default_wrap">
			<div class="form-group">
				<label style="margin-right: 10px;">진행기간</label>
				<input type="text" name="sch_year_term" id="sch_year_term" class="form-control year-picker" value="<{$sch_year_term}>" />
				<span style="margin-right:5px;"></span>
				<{foreach from=$date_term_list key=key item=label}>
					<input type="radio" name="sch_date_term" id="sch_date_term_<{$key}>" class="sch_date_term" value="<{$key}>" <{if $sch_date_term == $key}>checked<{/if}>>
					<label for="sch_date_term_<{$key}>" class="sch_date_term_label"><{$label}></label>
				<{/foreach}>

				<label style="margin-left: 10px; margin-right: 10px;">부서</label>
				<select id="sch_team" name="sch_team" class="form-control" style="margin-right:10px">
					<option value="">::전체::</option>
					<{foreach from=$team_active_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_team == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button class="btn_small" onclick="submit();">검색</button>
			</div>
		</div>
	</form>

	<div class="okr-team-tree">
		<{if $okr_top_list}>
			<ul class="top-wrapper">
				<li>
					<div class="okr-team-wrapper">
						<div class="okr-team-first-title-wrapper okr-team-title-wrapper"><{$okr_top_list.title}></div>
					</div>
					<{if $okr_team_list}>
						<ul class="okr-team-wrapper-ul">
							<{foreach from=$okr_team_list item=okr_team}>
								<li class="okr-team-wrapper-li">
									<div class="okr-team-wrapper" >
										<div class="okr-team-title-wrapper" style="background-size: <{$okr_team.avg_rate}>% 100%;">
											<span class="okr-team-name"><{$okr_team.name}></span><br/>
											<a href="<{$okr_team.link_url}>" target="_blank"><span><{$okr_team.title}></span></a>
										</div>
										<span class="okr-team-score"><b style="color: red;"><{$okr_team.comp_quality}></b> / <{$okr_team.pur_quality}> (<{$okr_team.avg_rate}>%)</span>
									</div>
									<{if $okr_staff_list}>
										<ul class="okr-staff-wrapper-ul">
											<{foreach from=$okr_staff_list item=okr_staff}>
												<li class="okr-staff-wrapper-li">
													<div class="okr-staff-wrapper">
														<div class="okr-staff-title-wrapper" style="background-size: <{$okr_staff.avg_rate}>% 100%;">
															<span class="okr-staff-name"><{$okr_staff.name}></span><br/>
															<a href="<{$okr_staff.link_url}>" target="_blank"><span><{$okr_staff.title}></span></a>
														</div>
														<span class="okr-staff-score"><b style="color: red;"><{$okr_staff.comp_quality}></b> / <{$okr_staff.pur_quality}> (<{$okr_staff.avg_rate}>%)</span>
														<{if $okr_staff.okr_kr_list}>
															<div style="padding: 10px;">
																<{foreach from=$okr_staff.okr_kr_list item=okr_kr}>
																	<div>KR : <{$okr_kr.kr_name}> (<{$okr_kr.complete_rate}>%)</div>
																<{/foreach}>
															</div>
														<{/if}>
													</div>
												</li>
											<{/foreach}>
										</ul>
									<{/if}>
								</li>
							<{/foreach}>
						</ul>
					<{/if}>
				</li>
			</ul>
		<{else}>
			<{if $okr_team_list}>
				<ul class="top-not-ul okr-team-wrapper-ul">
					<{foreach from=$okr_team_list item=okr_team}>
						<li class="okr-team-wrapper-li">
							<div class="okr-team-wrapper">
								<div class="okr-team-title-wrapper" style="background-size: <{$okr_team.avg_rate}>% 100%;">
									<span class="okr-team-name"><{$okr_team.name}></span><br/>
									<a href="<{$okr_team.link_url}>" target="_blank"><span><{$okr_team.title}></span></a>
								</div>
								<span class="okr-team-score"><b style="color: red;"><{$okr_team.comp_quality}></b> / <{$okr_team.pur_quality}> (<{$okr_team.avg_rate}>%)</span>
							</div>
							<{if $okr_staff_list}>
								<ul class="okr-staff-wrapper-ul">
									<{foreach from=$okr_staff_list item=okr_staff}>
										<li class="okr-staff-wrapper-li">
											<div class="okr-staff-wrapper">
												<div class="okr-staff-title-wrapper" style="background-size: <{$okr_staff.avg_rate}>% 100%;">
													<span class="okr-staff-name"><{$okr_staff.name}></span><br/>
													<a href="<{$okr_staff.link_url}>" target="_blank"><span><{$okr_staff.title}></span></a>
												</div>
												<span class="okr-staff-score"><b style="color: red;"><{$okr_staff.comp_quality}></b> / <{$okr_staff.pur_quality}> (<{$okr_staff.avg_rate}>%)</span>
												<{if $okr_staff.okr_kr_list}>
													<div style="padding: 10px;">
														<{foreach from=$okr_staff.okr_kr_list item=okr_kr}>
															<div>KR : <{$okr_kr.kr_name}> (<{$okr_kr.complete_rate}>%)</div>
														<{/foreach}>
													</div>
												<{/if}>
											</div>
										</li>
									<{/foreach}>
								</ul>
							<{/if}>
						</li>
					<{/foreach}>
				</ul>
			<{/if}>
		<{/if}>
	</div>
</div>
<!-- //admin_content -->

</body>
</html>
