<{include file="inc/boot_navibar.html"}>

<style>
	.table_list_style table{<{if ($state == '1' || $state == '2') && ($session_s_no == $s_no || $session_pos_permission == "2" || $session_pos_permission == "3" || $session_pos_permission == "4" || permissionNameCheck($session_permission, "대표"))}>width: 670px;<{else}>width:610px;<{/if}>}
	.okr_kr_textarea{width: 340px;}
	.table_list_style table tbody td{text-align: center;}
	.starRev{display: inline-block; float: left;}
	.starR{
		background: url('./images/icon/ico_review.png') no-repeat right 0;
		background-size: auto 100%;
		width: 15px;
		height: 15px;
		display: inline-block;
		text-indent: -9999px;
		cursor: pointer;
	}
	.starR.on{background-position:0 0;}

	#check-okr-modal{height: auto; overflow: unset; max-width: 650px; padding: 5px;left: 25%; position: absolute; top: 15%;}
	#check-okr-modal .modal-content{border: 0;}
	#check-okr-modal .modal-content img{width: 100%;}
</style>

<div class="admin_content" style="width:1000px;">
	<{if $mode=="modify"}>
	<h2 class="title" style="margin-bottom:10px">● OKR 수정하기</h2>
	<{else}>
	<h2 class="title" style="margin-bottom:10px">● OKR 제작하기</h2>
	<{/if}>

	<div class="table_contents_style">
		<table cellpadding="0" cellspacing="0">
			<form name="okr_obj_form" action="okr_regist.php" method="post" enctype="multipart/form-data" onsubmit="return check_form(this);">
				<input type="hidden" name="oo_no" value="<{$oo_no}>" />
				<input type="hidden" name="popup_view" id="popup_view" value="<{$popup_view}>" />
				<input type="hidden" name="process" id="process" value="<{$mode}>" />
				<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
				<input type="hidden" name="team" value="<{$team}>">
				<input type="hidden" name="state" value="<{$state}>">

				<thead>
				<tr>
					<th colspan="6" class="first">Objective INFORMATION</th>
				</tr>
				</thead>
				<tbody>
				<tr class="first">
					<th class="first">oo_no</th>
					<td colspan="6"><{$oo_no}></td>
				</tr>
				<tr>
					<th class="first">진행상태</th>
					<td colspan="6">
						<{if $state != '1' && ($kind == '1' || $kind == '2')}> <!-- 구분(회사) -->
						<select name="f_state" id="f_state" class="select_type1<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>_disabled<{/if}>"
						<{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_state', this)"<{/if}> style="padding: 0px 3px; height:22px;
						<{if $state == '1' || $state == '2'}>
						color:red;
						<{else}>
						color:black;
						<{/if}>"
						>
						<{section name=data loop=$okr_obj_state}>
						<option value="<{$okr_obj_state[data][1]}>"
								style="
													<{if $okr_obj_state[data][1] == '1' || $okr_obj_state[data][1] == '2'}>
														color:red;
													<{else}>
														color:black;
													<{/if}>
													"
						<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}> <{if $state==$okr_obj_state[data][1]}>selected<{/if}>
						><{if $okr_obj_state[data][0] == '::전체::'}>::선택::<{else}><{$okr_obj_state[data][0]}><{/if}></option>
						<{/section}>
						</select>
						<{else}>
						<select name="f_state" id="f_state" class="select_type1_readonly" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_state', this)"<{/if}> style="padding: 0px 3px; height:22px;
						<{if $state == '1' || $state == '2'}>
						color:red;
						<{/if}>"
						>
						<{section name=data loop=$okr_obj_state}>
						<{if $mode == 'write'}>
						<{if $okr_obj_state[data][1] == '1'}>
						<option value="<{$okr_obj_state[data][1]}>" selected ><{$okr_obj_state[data][0]}></option>
						<{/if}>
						<{else}>
						<option value="<{$okr_obj_state[data][1]}>" <{if $state==$okr_obj_state[data][1]}>selected<{/if}>
						><{if $okr_obj_state[data][0] == '::전체::'}>::선택::<{else}><{$okr_obj_state[data][0]}><{/if}></option>
						<{/if}>
						<{/section}>
						</select>
						<{/if}>
					</td>
				</tr>
				<tr>
					<th class="first" width="120px">진행기간</th>
					<td colspan="6">
						<{if $kind == '1'}> <!-- 구분(팀) -->
						<input type="text" class="date-picker input_type_date" id="f_sdate" name="f_sdate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_sdate', this)"<{/if}> value="<{$sdate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						~
						<input type="text" class="date-picker input_type_date" id="f_edate" name="f_edate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_edate', this)"<{/if}> value="<{$edate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						<{else}>
						<input type="text" class="date-picker input_type_date" id="f_sdate" name="f_sdate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_sdate', this)"<{/if}> value="<{$sdate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						~
						<input type="text" class="date-picker input_type_date" id="f_edate" name="f_edate" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_edate', this)"<{/if}> value="<{$edate}>" <{if $state != "" && $state != '1'}>disabled<{/if}> required/>
						<{/if}>
						&nbsp;<span style="color: blue;"><{if $obj_d_day < 0}>D<{$obj_d_day}>일<{/if}></span>
						<input type="radio" name="date-term" class="date-term" id="date-one-third" attr-s-date="<{$date_list.one_third.start}>" attr-e-date="<{$date_list.one_third.end}>" <{if $date_term == '1'}>checked<{/if}> <{if $state != "" && $state != '1'}>disabled<{/if}>><label for="date-one-third">1/3 분기</label>
						<input type="radio" name="date-term" class="date-term" id="date-two-third" attr-s-date="<{$date_list.two_third.start}>" attr-e-date="<{$date_list.two_third.end}>" <{if $date_term == '2'}>checked<{/if}> <{if $state != "" && $state != '1'}>disabled<{/if}>><label for="date-two-third">2/3 분기</label>
						<input type="radio" name="date-term" class="date-term" id="date-three-third" attr-s-date="<{$date_list.thr_third.start}>" attr-e-date="<{$date_list.thr_third.end}>" <{if $date_term == '3'}>checked<{/if}> <{if $state != "" && $state != '1'}>disabled<{/if}>><label for="date-three-third">3/3 분기</label>
						<input type="radio" name="date-term" class="date-term" id="date-one-year" attr-s-date="<{$date_list.one_year.start}>" attr-e-date="<{$date_list.one_year.end}>" <{if $date_term == '4'}>checked<{/if}> <{if $state != "" && $state != '1'}>disabled<{/if}>><label for="date-one-year">연간</label>
					</td>
				</tr>
				<tr>
					<th class="first" width="120px">구분</th>
					<td colspan="6">
						<{if $mode == 'write'}>
						<input type="radio" name="f_kind" value="1" class="radio first" />팀
						&nbsp;&nbsp;
						<input type="radio" checked name="f_kind" value="2" class="radio" />개인
						<{else}>
						<input type="radio" <{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자") && $session_s_no != $s_no}>disabled<{/if}> name="f_kind" value="1" class="radio first" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_kind', this);"<{/if}> <{if $kind == 1 }>checked<{/if}> />팀
						&nbsp;&nbsp;
						<input type="radio" <{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자") && $session_s_no != $s_no}>disabled<{/if}> name="f_kind" value="2" class="radio" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_kind', this);"<{/if}> <{if $kind == 2 }>checked<{/if}> />개인
						<{/if}>
					</td>
				</tr>
				<tr>
					<th class="first">Objective</th>
					<td colspan="6">
						<input type="text" <{if $kind == '1' && $state != '1'}>disabled<{/if}> class="input_type1" style="width:400px;" name="f_obj_name" id="f_obj_name" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_obj_name', this)"<{/if}> value="<{$obj_name}>" required/>
						<span style="color: red;">완료점수/목표점수: <b><{$complete_quality}></b>/<{$purpose_quality}></span> <span>(<{$avg_complete_rate}>%)</span>
					</td>
				</tr>
				<tr>
					<th class="first">부서 > 담당자</th>
					<td colspan="6">
						<select name="f_team" id="f_team" class="<{if $f_team_count > 1 && ($s_no == $session_s_no || permissionNameCheck($session_permission,'마스터관리자'))}>select_type2<{elseif $f_team_count > 1 && $mode=='write'}>select_type2<{else}>select_type2_disabled<{/if}>" <{if $mode=="modify" && ($s_no == $session_s_no || permissionNameCheck($session_permission,"마스터관리자")) }>onchange="save_okr_obj_el('<{$oo_no}>', 'f_team', this)"<{/if}>>
							<{foreach from=$f_team_list key=key item=label}>
								<option value="<{$key}>" <{if $team == '' && $session_team == $key}>selected<{elseif $team != '' && $team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<select name="f_s_no" id="f_s_no" class="select_type2_disabled" <{if $mode=="modify"}>onchange="save_okr_obj_el('<{$oo_no}>', 'f_s_no', this)"<{/if}>>
							<{section name=data loop=$staff}>
								<option value="<{$staff[data].no}>" <{if (($s_no !='' && $staff[data].no==$s_no) || ($s_no == '' && $staff[data].no==$session_s_no ))}>selected<{else}>disabled<{/if}>><{$staff[data].name}></option>
							<{/section}>
						</select>
					</td>
				</tr>
				<{if $mode=="modify"}>
				<tr>
					<th class="first">R&R</th>
					<td colspan="6">
						<{if $kind == '2'}>
							<textarea class="textarea_memo_contents" style="height: 30px; padding-left: 5px; line-height: 20px;" disabled><{$rar}></textarea>
						<{elseif $kind == '1'}>
							<{foreach from=$staff_data_list item=staff_data}>
								<{$staff_data.s_name}> : <textarea class="textarea_memo_contents" style="height: 30px; padding-left: 5px; line-height: 20px;" disabled><{$staff_data.rar}></textarea><br/>
							<{/foreach}>
						<{/if}>
					</td>
				</tr>
				<{/if}>
				<{if $mode=="modify" && $state != '1'}> <!-- 수정 , not 작성중 -->
				<tr>
					<th class="first">피드백</th>
					<td colspan="6" class="first">
						<div class="table_list_style">
							<table cellpadding="0" cellspacing="0" style="text-align: center;">
								<colgroup>
									<col style="width: 60px;"/>
									<col style="width: 90px;" />
									<col style="width: 90px;" />
									<col style="width: 340px;" />
								</colgroup>
								<thead>
								<tr>
									<th class="first" style="background-color: rgba(51, 51, 51, 1);"></th>
									<th style="background-color: rgba(51, 51, 51, 1);">날짜</th>
									<th style="background-color: rgba(51, 51, 51, 1);">완료점수</th>
									<th style="background-color: rgba(51, 51, 51, 1);">피드백 내용</th>
								</tr>
								</thead>
								<tbody>
								<tr style="background-color: #e4e4e4;">
									<td class="first" style="text-align: center;">
										1차점검
									</td>
									<td style="text-align: center;"> <!-- 점검일 -->
										<input type="text" class="date-picker input_type_date_small" id="f_check_1_date" name="f_check_1_date" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && !permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_1_date', this)" value="<{$check_1_date}>" />
									</td>
									<td style="text-align: center;"> <!-- check_1_rate -->
										<input type="text" name="f_check_1_rate" id="f_check_1_rate" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && !permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_1_rate', this)" class="input_type6" style="text-align:right;" value="<{$check_1_rate}>" />
									</td>
									<td style="text-align: center;"> <!-- 진행현황 및 점검내용 -->
										<textarea name="f_check_1_memo" id="f_check_1_memo" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && !permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_1_memo', this)" onfocus="check_memo_click(this)" onfocusout="check_memo_click_out(this)" class="textarea_work_message" style="width:340px; height:60px; color:#777777;"><{$check_1_memo}></textarea>
									</td>
								</tr>
								<tr style="background-color: #e4e4e4;">
									<td class="first" style="text-align: center;">
										2차점검
									</td>
									<td style="text-align: center;"> <!-- 점검일 -->
										<input type="text" class="date-picker input_type_date_small" id="f_check_2_date" name="f_check_2_date" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_2_date', this)" value="<{$check_2_date}>" />
									</td>
									<td style="text-align: center;"> <!-- check_2_rate -->
										<input type="text" name="f_check_2_rate" id="f_check_2_rate" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && !permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_2_rate', this)" class="input_type6" style="text-align:right;" value="<{$check_2_rate}>" />
									</td>
									<td style="text-align: center;"> <!-- 진행현황 및 점검내용 -->
										<textarea name="f_check_2_memo" id="f_check_2_memo" <{if $state != '2' || ($session_pos_permission != "2" && $session_pos_permission != "3" && $session_pos_permission != "4" && !permissionNameCheck($session_permission, "대표"))}>disabled<{/if}> onchange="save_okr_obj_el('<{$oo_no}>', 'f_check_2_memo', this)" onfocus="check_memo_click(this)" onfocusout="check_memo_click_out(this)" class="textarea_work_message" style="width:340px; height:60px; color:#777777;"><{$check_2_memo}></textarea>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<{/if}>
				</tbody>
				<{if !$oo_no}>
				<tr>
					<td colspan="6" border="0" style="border-right:0px; border-bottom:0px; text-align:center;">
						<button type="submit" class="btn_style1"><span>OKR 제작하기</span></button>
					</td>
				</tr>
				<{/if}>
			</form>

			<{if $oo_no}>
			<tbody>
			<tr>
				<th class="first" rowspan="2">KEY RESULT<br>INFOMATION</th>
				<td class="first">
					<div class="table_list_style">
						<table cellpadding="0" cellspacing="0" style="text-align: center;">
							<colgroup>
								<col style="width: 50px;"/>
								<col style="width: 80px; background-color: #e4e4e4;" />
								<col style="width: 470px;" />
								<col style="width: 20px; background-color: #e4e4e4;" />
								<col style="<{if ($state == '1' || $state == '2') && ($session_s_no == $s_no || $session_pos_permission == '2' || $session_pos_permission == '3' || $session_pos_permission == '4' || permissionNameCheck($session_permission, '대표'))}>width: 200px;<{else}>width: 90px;<{/if}>" />
							</colgroup>
							<thead>
							<tr>
								<th class="first rowspan-title" style="background-color: rgba(51, 51, 51, 1);">ok_no</th>
								<th colspan="4" style="background-color: rgba(51, 51, 51, 1);">KEY RESULT NAME</th>
							</tr>
							</thead>
							<tbody>

							<{section name=list loop=$okr_kr}>
							<form name="okr_kr_form<{$okr_kr[list].ok_no}>" id="okr_kr_form<{$okr_kr[list].ok_no}>" action="okr_regist.php" method="post" enctype="multipart/form-data">
								<input type="hidden" name="oo_no" value="<{$oo_no}>">
								<input type="hidden" name="ok_no" value="<{$okr_kr[list].ok_no}>">
								<input type="hidden" name="process">
								<tr>
									<td rowspan="<{if $state != '1'}>3<{else}>2<{/if}>" class="first"> <!-- ok_no -->
										<{$okr_kr[list].ok_no}>
										<br>
										<a href="#" onclick="del_okr_kr('<{$okr_kr[list].ok_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
									</td>
									<td>KR NAME</td>
									<td colspan="3" style="text-align: left;" > <!-- KEY RESULT NAME -->
										<input type="number" name="f_priority" id="f_priority_<{$okr_kr[list].ok_no}>" value="<{$okr_kr[list].priority}>" style="width:35px; line-height: 24px;" <{if $state != '1'}>disabled<{/if}> onchange="save_sort_okr('<{$okr_kr[list].ok_no}>')">
										<input type="text" style="width:420px; padding-left: 7px;" name="f_kr_name" id="f_kr_name" <{if $state != '1'}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_name', this)" value="<{$okr_kr[list].kr_name}>" class="input_type4"/>
									</td>
								</tr>
								<tr>
									<td>Initiatives</td>
									<td> <!-- Initiatives -->
										<textarea name="f_kr_reason" class="okr_kr_textarea" id="f_kr_reason" <{if $state != '1'}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_reason', this)" onfocus="kr_reason_click(this)" onfocusout="kr_reason_click_out(this)" style="height:70px; color:#777777;width: 460px;"><{$okr_kr[list].kr_reason}></textarea><br>
									</td>
									<td>품질평가</td>
									<td> <!-- 평가율 -->
										<div style="color: blue; <{if $session_pos_permission == '2' || $session_pos_permission == '3' || $session_pos_permission == '4' || permissionNameCheck($session_permission, '대표')}>margin-bottom: 5px;<{/if}>"><{$okr_kr[list].quality}>% (등급: <{$okr_kr[list].grade}>)</div>
										<{if ($state == '1' || $state == '2') && ($session_s_no == $s_no || $session_pos_permission == "2" || $session_pos_permission == "3" || $session_pos_permission == "4" || permissionNameCheck($session_permission, "대표"))}>
											<div class="evaluation_tap" id="evaluation_tap_<{$okr_kr[list].ok_no}>" style="text-align: left;">
												<span style="float: left; margin: 0 5px;">#중요도(30%) :</span>
												<div class="starRev">
													<span class="starR <{if $okr_kr[list].importance > 0}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_importance" attr-val="1" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별1</span>
													<span class="starR <{if $okr_kr[list].importance > 1}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_importance" attr-val="2" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별2</span>
													<span class="starR <{if $okr_kr[list].importance > 2}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_importance" attr-val="3" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별3</span>
													<span class="starR <{if $okr_kr[list].importance > 3}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_importance" attr-val="4" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별4</span>
													<span class="starR <{if $okr_kr[list].importance > 4}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_importance" attr-val="5" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별5</span>
												</div>
												<span style="float: left; margin: 0 5px;">#난이도(30%) :</span>
												<div class="starRev">
													<span class="starR <{if $okr_kr[list].difficulty > 0}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_difficulty" attr-val="1" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별1</span>
													<span class="starR <{if $okr_kr[list].difficulty > 1}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_difficulty" attr-val="2" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별2</span>
													<span class="starR <{if $okr_kr[list].difficulty > 2}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_difficulty" attr-val="3" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별3</span>
													<span class="starR <{if $okr_kr[list].difficulty > 3}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_difficulty" attr-val="4" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별4</span>
													<span class="starR <{if $okr_kr[list].difficulty > 4}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_difficulty" attr-val="5" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별5</span>
												</div>
												<span style="float: left; margin: 0 5px;">#도전성(40%) :</span>
												<div class="starRev">
													<span class="starR <{if $okr_kr[list].challenge > 0}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_challenge" attr-val="1" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별1</span>
													<span class="starR <{if $okr_kr[list].challenge > 1}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_challenge" attr-val="2" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별2</span>
													<span class="starR <{if $okr_kr[list].challenge > 2}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_challenge" attr-val="3" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별3</span>
													<span class="starR <{if $okr_kr[list].challenge > 3}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_challenge" attr-val="4" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별4</span>
													<span class="starR <{if $okr_kr[list].challenge > 4}>on<{/if}>" attr-okno="<{$okr_kr[list].ok_no}>" attr-proc="f_challenge" attr-val="5" attr-disabled="<{if $state != '1'}>1<{else}>2<{/if}>">별5</span>
												</div>
											</div>
										<{/if}>
									</td>
								</tr>
								<{if $state != '1'}>
								<tr>
									<td>과정/결과</td>
									<td> <!-- 과정 및 결과 -->
										<textarea name="f_kr_result" class="okr_kr_textarea" id="f_kr_result" <{if $state != '1' && $state != '2'}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_kr_result', this)" onfocus="kr_result_click(this)" onfocusout="kr_result_click_out(this)" style="width:460px; height:45px; color:#777777; background-color: #fff4c8;"><{$okr_kr[list].kr_result}></textarea><br>
									</td>
									<td>완료율</td>
									<td> <!-- 완료율 -->
										<input type="text" name="f_complete_rate" id="f_complete_rate" <{if $state != '1' && $state != '2'}>disabled<{/if}> onchange="save_okr_ok_el('<{$okr_kr[list].ok_no}>', 'f_complete_rate', this)" class="input_type6" style="text-align:center;" value="<{$okr_kr[list].complete_rate}>" />%
									</td>
								</tr>
								<{/if}>
							</form>
							<{/section}>
							<{if $state == '1'}>
							<form name="okr_kr_form_new" id="okr_kr_form_new" action="okr_regist.php" method="post" enctype="multipart/form-data">
								<input type="hidden" name="oo_no" value="<{$oo_no}>">
								<input type="hidden" name="process">
								<tr style="background: #fff">
									<td class="first" rowspan="3">&nbsp;</td> <!-- ok_no new -->
									<td colspan="3" style="text-align: left;"> <!-- KEY RESULT NAME -->
										KEY RESULT NAME
										<br>
										<input style="width:30px;" type="text" class="input_type4" name="f_priority_new" id="f_priority_new" value="<{$f_priority_new}>"/>
										<input style="width:400px;" type="text" class="input_type4" name="f_kr_name_new" id="f_kr_name_new"/>
										<br>
										Initiatives
										<br>
										<textarea name="f_kr_reason_new" id="f_kr_reason_new" onfocus="kr_reason_click(this)" onfocusout="kr_reason_click_out(this)" class="textarea_work_message" style="width:435px; height:70px; color:#777777;"></textarea><br>
									</td>
									<td colspan="2">
										<button onclick="return create_keyresult();" style="width:66px;" class="btn_small">KEY RESULT<br>추가하기</button>
									</td>
								</tr>
							</form>
							<{/if}>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
			<{/if}>
			<{if $oo_no}>
			<tr>
				<td colspan="6" border="0" style="border-right:0px; border-bottom:0px; text-align:right;">
					<{if $state == '1' && ($session_team == '00211' || (($session_team == $team && ($session_pos_permission == "2" || $session_pos_permission == "3" || $session_pos_permission == "4")) || permissionNameCheck($session_permission, "대표"))) }>
					<button type="button" style="padding: 15px 45px; float:left;" onclick="del_okr()" class="btn_style1"><span>삭제하기</span></button>
					<{/if}>
					<button type="button" onclick="location.href='okr_list.php';" class="btn_style1"><span>목록으로</span></button>
				</td>
			</tr>
			<{/if}>
		</table>
	</div> <!-- //table_contents_style -->
</div> <!-- //admin_content -->

<div class="modal" id="check-okr-modal">
	<div class="modal-content">
		<div style="padding: 10px;">
			<img src="./images/waple/waple_okr.jpg">
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
        $('.starRev span').click(function(){
            var ok_no 		= $(this).attr('attr-okno');
            var proc 		= $(this).attr('attr-proc');
            var value 		= $(this).attr('attr-val');
            var disabled 	= $(this).attr('attr-disabled');

            if(disabled == '2') {
                $(this).parent().children('span').removeClass('on');
                $(this).addClass('on').prevAll('span').addClass('on');
                save_okr_star_click(ok_no, proc, value, disabled, this);
            }

            return false;
        });

		$('.date-term').click(function(){
			var sDate = $(this).attr('attr-s-date');
			var eDate = $(this).attr('attr-e-date');

			$('#f_sdate').val(sDate);
			$('#f_edate').val(eDate);

			$('#f_sdate').trigger('change');
			$('#f_edate').trigger('change');
		});

		if($("#popup_view").val()){
			$("#check-okr-modal").modal({
				fadeDuration: 250
			});
		}
	});

	function save_okr_obj_el(oo_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_obj_name')) { // 공백시 저장 예외
			$.post("okr_regist.php", {oo_no : oo_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

    function save_okr_star_click(ok_no, proc, value, disabled, obj)
	{
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (disabled == 1)
            return false;

        if (value != "") { // 공백시 저장 예외
            $.post("okr_regist.php", {ok_no : ok_no, process : proc, val : value}, function(result){
                d_msg.appendTo($(obj).closest('div')).html(result).fadeOut(2000);
            });
        }
    }

	function save_okr_ok_el(ok_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if(proc=='f_complete_rate' && val > 100){
        	alert("100까지 입력 가능합니다");
			return false;
		}

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_kr_name' ) { // 공백시 저장 예외
			$.post("okr_regist.php", {ok_no : ok_no, process : proc, val : val}, function(result){
				if(proc == 'f_importance' || proc == 'f_difficulty' || proc == 'f_challenge'){
					d_msg.appendTo($(obj).closest('div')).html(result).fadeOut(2000);
				}else{
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				}
			});
		}
	}

    function save_sort_okr(ok_no){
        eval("var f=document.getElementById('okr_kr_form" + ok_no + "');");

        if (confirm("순서를 변경하시겠습니까?") == true)
        {
            f.process.value = "modify_sort_okr";
            f.submit();
        }
        return;
    }

	function del_okr(){
		var f = document.okr_obj_form;

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{
			f.process.value = "del_okr_all";
			f.submit();
		}
		return;
	}

	function del_okr_kr(ok_no){ // key result 삭제
		eval("var f=document.getElementById('okr_kr_form" + ok_no + "');");
		f.process.value = "del_okr_kr";

		<{if $state != '1'}>
			alert("OKR이 작성중인 경우에만 삭제 가능합니다.\n" + "담당자에게 문의해주세요");
			return;
		<{/if}>

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function create_keyresult(){ // key result 추가
		eval("var f=document.getElementById('okr_kr_form_new');");
		f.process.value = 'create_keyresult';

		var f_kr_name_new = document.getElementById("f_kr_name_new").value;

		if(f_kr_name_new == "" ){
			alert("KEY RESULT NAME을 입력해 주세요.");
			return false;
		}

		f.submit();
	}

	function check_form(f) {
		if (cknull("f_obj_name","Objective를")=="x") {return false;}
		if (cknull("f_kind","구분을")=="x") {return false;}
		if (cknull("f_s_no","담당자를")=="x") {return false;}
		return true;
	}

	// check_memo 클릭 시 사이즈 확장
	function check_memo_click(f){
		f.style.width = "340px";
		f.style.backgroundColor="#f0fcff";
		f.style.height = "100px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	// check_memo 클릭아웃 시 사이즈 복원
	function check_memo_click_out(f){
		f.style.width = "340px";
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	// Key Resaon 클릭 시 사이즈 확장
	function kr_reason_click(f){
		f.style.backgroundColor="#f0fcff";
		f.style.height = "90px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	// Key Resaon 클릭아웃 시 사이즈 복원
	function kr_reason_click_out(f){
		f.style.backgroundColor="";
		f.style.height = "70px"; // 수동설정
	}

	// Key Reault의 과정 및 결과 클릭 시 색상 변경 및 확장
	function kr_result_click(f){
		f.style.backgroundColor="#f0fcff";
		f.style.height = "100px";
	}

	// Key Reault의 과정 및 결과 클릭아웃 시 사이즈 복원
	function kr_result_click_out(f){
		f.style.backgroundColor="";
		f.style.height = "45px";
	}
</script>

</body>
</html>
