<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.custom-combobox input{height: 28px; border-color: rgb(118, 118, 118); border-radius: 2px;}
	.custom-combobox-toggle{top: 7px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="okr_list.php" autocomplete="off">
		<input type="hidden" name="sch_wd_quick" value="<{$sch_wd_quick}>" />
		<div class="default_wrap">
			<div class="left_wrap">

				<span class="name_tit">oo_no</span>
				<input type="text" name="sch_oo_no" value="<{$sch_oo_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">진행상태</span>
				<select id="sch_state" name="sch_state" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$okr_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">진행기간</span>
				<input type="text" name="sch_s_date_term" id="sch_s_date_term" class="input_type_date date-picker" value="<{$sch_s_date_term}>" /> ~
				<input type="text" name="sch_e_date_term" id="sch_e_date_term" class="input_type_date date-picker" value="<{$sch_e_date_term}>" />
				<span style="margin-right:5px;"></span>
				<{foreach from=$date_list key=key item=date_data}>
					<input type="radio" name="sch_date_term" class="sch_date_term" id="sch_date_term_<{$key}>" attr-s-date="<{$date_data.start}>" attr-e-date="<{$date_data.end}>" style="cursor: pointer;" <{if $date_term == $key}>checked<{/if}>>
					<label for="sch_date_term_<{$key}>" style="cursor: pointer;"><{$date_data.name}></label>
				<{/foreach}>

				<div class="term-search-wrap">
					<span class="name_tit">구분</span>
					<{foreach from=$okr_kind_option key=key item=label}>
						<input type="radio" name="sch_kind" class="sch_kind" value="<{$key}>" <{if $sch_kind == $key}>checked<{/if}> /><label><{$label}></label>
					<{/foreach}>
					<span style="margin-right:20px;"></span>

					<span class="name_tit">활동상태</span>
					<select name="sch_active" id="sch_active" class="select_type2">
						<option value="0">::전체::</option>
						<{foreach from=$staff_state_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_active == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:20px;"></span>

					<span class="name_tit">소속부서 > 담당자</span>
					<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
						<{foreach from=$sch_team_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_team == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type3" style="width: 100px;">
						<option value="all">::전체::</option>
						<{foreach from=$sch_staff_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:5px;"></span>

					<span class="name_tit">담당자검색</span>
					<input type="text" name="sch_s_name" class="input_type2" value="<{$sch_s_name}>"/>
					<span style="margin-right:5px;"></span>

					<input type="checkbox" name="sch_team_sort" id="sch_team_sort" value="1" style="cursor: pointer; margin-top: 12px;" <{if $sch_team_sort}>checked<{/if}>>
					<label for="sch_team_sort" style="display: inline-block;line-height: 20px;vertical-align: bottom; cursor: pointer; margin-bottom: 0;">부서별 우선순위정렬</label>
				</div>

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">Objective</span>
							<input type="text" name="sch_obj_name" class="input_type1" value="<{$sch_obj_name}>" />
						</td>
						<td>
							<button type="submit" class="btn_small">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="max-width:1191px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="6">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:26px; height: 70px;" rowspan="2">
						<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '28'}>
							<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
						<{/if}>
					</th>
					<th rowspan="2" style="min-width:50px;">oo_no</th>
					<th rowspan="2" style="min-width:100px;">
						진행상태<br/>
						<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '28'}>
							<select name="chk_state" id="chk_state" class="select_type1" style="background-color:lightgray;"  onchange="saveMultiOkr();">
								<option value="">::전체::</option>
								<{foreach from=$okr_state_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						<{/if}>
					</th>
					<th rowspan="2" colspan="2" style="min-width:200px;">진행기간</th>
					<th rowspan="2" style="min-width:60px;">구분</th>
					<th rowspan="2" style="min-width:120px;">부서</th>
					<th rowspan="2" style="min-width:70px;">담당자</th>
					<th colspan="2" style="min-width:450px;">Objective</th>
					<th style="min-width:100px; position: relative;">
						완료점수/목표점수<br/><span style="font-size: 11px;">(별점합산)</span>
						<a href="#" style="position: absolute; bottom: 6px; right: 4px;"><img title="KR의 품질평가 별점을 점수로 합산한 값입니다.&#10완료점수는 KR별로 완료율이 적용 됩니다.&#10(완료점수 = 중요도★ x 0.3점 x 완료율 + 난이도★ x 0.3점 x 완료율 + 도전성★ x 0.4점 x 완료율)" src="./images/icon/question.png"></a>
					</th>
				</tr>
				<tr>
					<th>1차(완료점수)</th>
					<th>2차(완료점수)</th>
					<th>완료율</th>
				</tr>
			</thead>
			<tbody>
				<{if $okr_obj_list}>
					<{foreach from=$okr_obj_list item=$okr_obj}>
						<form name="apply_frm<{$okr_obj.oo_no}>" id="apply_frm<{$okr_obj.oo_no}>" class="list_form" method="post" enctype="multipart/form-data" action="okr_list.php">
							<input type="hidden" name="process" id="process">
							<input type="hidden" name="oo_no" id="oo_no" value="<{$okr_obj.oo_no}>">
							<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
							<tr>
								<td rowspan="2" class="first"><!-- checkbox -->
									<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '28'}>
										<input type="checkbox" name="select_check[]" class="select_check" value="<{$okr_obj.oo_no}>">
									<{/if}>
								</td>
								<td rowspan="2">
									<{$okr_obj.oo_no}>
									<{if $okr_obj.state == '1' && $okr_obj.s_no == $session_s_no}>
										<br/>
										<a href="#" onclick="del_okr('<{$okr_obj.oo_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
									<{/if}>
								</td>
								<td rowspan="2"><!-- 진행상태 -->
									<select name="f_state_<{$okr_obj.oo_no}>" id="f_state_<{$okr_obj.oo_no}>" class="select_type1<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>_disabled<{/if}>" onchange="save_el('<{$okr_obj.oo_no}>', 'f_state', this)" style="padding: 0px 3px; height:22px;
										<{if $okr_obj.state == '1'}>color:red;<{elseif $okr_obj.state == '2'}>color:blue;<{else}>color:black;<{/if}>"
									>
										<option value="">::선택::</option>
										<{foreach from=$okr_state_option key=key item=label}>
											<option value="<{$key}>" style="<{if $key == '1' || $key == '2'}>color:red;<{else}>color:black;<{/if}>"
												<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}> <{if $okr_obj.state == $key}>selected<{/if}>
											><{$label}></option>
										<{/foreach}>
									</select>
								</td>
								<td rowspan="2" width="210px;"><!-- 진행기간 -->
									<{$okr_obj.sdate}> ~ <{$okr_obj.edate}>
								</td>
								<td rowspan="2" width="70px;"><!-- 진행기간 구분 -->
									<{$okr_obj.obj_term}>
								</td>
								<td rowspan="2"><!-- 구분 -->
									<{$okr_obj.kind_name}>
								</td>
								<td rowspan="2"><!-- 부서 -->
									<span style="<{if $okr_obj.kind != '1'}>color: #c1c1c1;<{else}>font-weight: 800; font-size: 10pt;<{/if}>"><{$okr_obj.t_name}></span>
								</td>
								<td rowspan="2"><!-- 담당자 -->
									<span style="<{if $okr_obj.kind != '1'}>font-weight: 800; font-size: 10pt;<{else}>color: #c1c1c1;<{/if}>"><{$okr_obj.s_name}></span>
								</td>
								<td colspan="2" class="alignL"><!-- Objective -->
									<div style="font-weight:800; font-size:14px;">
										<a href="okr_regist.php?oo_no=<{$okr_obj.oo_no}>"><{if $okr_obj.obj_name}><{$okr_obj.obj_name}><{else}>[접속용]<{/if}></a>
									</div>
								</td>
								<td><!-- 품질평가 -->
									<span style="color: red;"><b style="font-size: 14px;"><{$okr_obj.complete_quality}></b> / <{$okr_obj.purpose_quality}></span>
								</td>
							</tr>
							<tr>
								<td><!-- 점검1차 -->
									<{$okr_obj.check_1_date}><{if !!$okr_obj.check_1_rate}> (<{$okr_obj.check_1_rate}>)<{/if}>
								</td>
								<td><!-- 점검2차 -->
									<{$okr_obj.check_2_date}><{if !!$okr_obj.check_2_rate}> (<{$okr_obj.check_2_rate}>)<{/if}>
								</td>
								<td><!-- 완료율 -->
									<span style="color: black;"><{$okr_obj.avg_complete_rate}>%</span>
								</td>
							</tr>
						</form>
					<{/foreach}>
					<tr>
						<td colspan=11 class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="11"> 등록된 자료가 없습니다.</td>
					</tr>
				<{/if}>
				<tr>
					<td colspan="11" class="list_button">
						<div class="left_wrap">
							<button class="btn_style1" onclick="location.href='okr_regist.php'"><span>Objective 제작하기</span></button>
						</div>
						<div class="right_wrap">
							<button class="btn_style1" onclick="location.href='excel_okr_list.php?<{$search_url}>';"><span>엑셀 파일로 저장 (최대 400건)</span></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<form name="chk_form" id="chk_form" action="okr_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_oo_no_list" class="chk_oo_no_list">
	<input type="hidden" name="chk_state" class="chk_state">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(function() {
		$(document).ready(function(){
			$("#sch_team").combobox();
			$("#sch_s_no").remoteChained({
				parents: "#sch_team",
				url: "/v1/api/staff.json.php?parent_data=sch_team",
				loading: "로딩중..",
				clear: true
			});

			$('.sch_date_term').click(function(){
				var sDate = $(this).attr('attr-s-date');
				var eDate = $(this).attr('attr-e-date');

				$('#sch_s_date_term').val(sDate);
				$('#sch_e_date_term').val(eDate);
			});
		});
	});

	function del_okr(oo_no)
	{
		eval("var f=document.getElementById('apply_frm" + oo_no + "');");
		f.process.value = "del_okr";

		if (confirm("정말 삭제 하시겠습니까??") == true) {
			f.submit();
		} else {
			return;
		}
	}

	function save_el(oo_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("okr_list.php", {oo_no : oo_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function select_check_all(chkall){
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkOkrSelect()
	{
		var chk_oo_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_oo_no_list += ($(item).val() + ",");
			}
		});

		if(chk_oo_no_list != ""){
			chk_oo_no_list = chk_oo_no_list.slice(0, -1);
		}

		$(".chk_oo_no_list").val(chk_oo_no_list);
	}

	function saveMultiOkr()
	{
		checkOkrSelect();
		var oo_no_list =$(".chk_oo_no_list").val();

		if(!$("#chk_state").val()){
			alert("진행상태 선택 후 이용해주세요.");
			return false;
		}

		if(!oo_no_list){
			alert("변경하실 OKR 선택 후 이용해주세요.");
			return false;
		}

		if(confirm("진행상태를 변경하시겠습니까?"))
		{
			var f = document.getElementById('chk_form');
			f.process.value 	= "chk_state";
			f.chk_state.value 	= $("#chk_state").val();
			f.submit();
		}

		return false;
	}
</script>

</body>
</html>
