<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.custom-combobox input{height: 28px; border-color: rgb(118, 118, 118); border-radius: 2px;}
	.custom-combobox-toggle{top: 7px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="okr_list_month.php" autocomplete="off">
		<input type="hidden" name="sch_wd_quick" value="<{$sch_wd_quick}>" />
		<div class="default_wrap">
			<div class="left_wrap">

				<span class="name_tit">oo_no</span>
				<input type="text" name="sch_oo_no" value="<{$sch_oo_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">진행상태</span>
				<select id="sch_state" name="sch_state" class="select_type2">
					<{section name=data loop=$okr_obj_state}>
						<option value="<{$okr_obj_state[data][1]}>" <{if ($sch_state=='' && $okr_obj_state[data][0]=='전체') || $sch_state==$okr_obj_state[data][1]}>selected<{/if}>><{$okr_obj_state[data][0]}></option>
					<{/section}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">진행기간</span>
				<input type="text" name="sch_s_date_term" id="sch_s_date_term" class="input_type_date date-picker" value="<{$sch_s_date_term}>" /> ~
				<input type="text" name="sch_e_date_term" id="sch_e_date_term" class="input_type_date date-picker" value="<{$sch_e_date_term}>" />
				<span style="margin-right:5px;"></span>

				<select name="sch_month" class="sch_month" style="line-height: 26px;height: 26px;">
					<option value="">::전체::</option>
					<{foreach from=$month_list key=month item=month_data}>
						<option value="<{$month_data.date}>" <{if $sch_month == $month_data.date}>selected<{/if}>><{$month_data.label}></option>
					<{/foreach}>
				</select>

				<div class="term-search-wrap">
					<span class="name_tit">구분</span>
					<{foreach from=$okr_obj_kind key=value item=label}>
					<input type="radio" name="sch_kind" class="sch_kind" value="<{$value}>" <{if $sch_kind == $value }>checked<{/if}> <{if $value == '2'}>disabled<{/if}> /><label><{$label[0]}></label>
					<{/foreach}>
					<span style="margin-right:20px;"></span>

					<span class="name_tit">활동상태</span>
					<select id="sch_active" name="sch_active" class="select_type2">
						<option value="0">::전체::</option>
						<{foreach from=$staff_state_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_active == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:20px;"></span>

					<span class="name_tit">소속부서 > 담당자</span>
					<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
						<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type3" style="width: 100px;">
						<option value="all" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
						<{section name=idx loop=$staff_list}>
							<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no != '' && $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
						<{/section}>
					</select>
					<span style="margin-right:5px;"></span>

					<span class="name_tit">담당자검색</span>
					<input type="text" name="sch_s_name" value="<{$sch_s_name}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
					<span style="margin-right:5px;"></span>

					<input type="checkbox" name="sch_team_sort" id="sch_team_sort" style="cursor: pointer; margin-top: 12px;" value="1" <{if $sch_team_sort}>checked<{/if}>>
					<label for="sch_team_sort" style="display: inline-block;line-height: 20px;vertical-align: bottom; cursor: pointer; margin-bottom: 0;">부서별 우선순위정렬</label>
				</div>

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">OBJECT NAME</span>
							<input type="text" name="sch_obj_name" value="<{$sch_obj_name}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						</td>
						<td>
							<button class="btn_small" onclick="submit();">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="max-width:1191px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="5">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<form name="chk_form" id="chk_form" action="okr_list_month.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="process">
						<input type="hidden" name="chk_oo_no_list">
						<input type="hidden" name="search_url" value="<{$search_url}>">

						<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")}>
						<th class="first" style="min-width:26px; height: 70px;" rowspan="2">
							<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
						</th>
						<{/if}>
						<th <{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>class="first"<{/if}> style="min-width:50px;">oo_no</th>
						<th style="min-width:100px;">
							진행상태<br/>
							<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")}>
							<select name="chk_state" id="chk_state" style="background-color:lightgray;" class="select_type1" onchange="multi_save_el('chk_state');">
								<{section name=data loop=$okr_obj_state}>
								<option value="<{$okr_obj_state[data][1]}>"><{$okr_obj_state[data][0]}></option>
								<{/section}>
							</select>
							<{/if}>
						</th>
						<th colspan="2" style="min-width:200px;">진행기간</th>
						<th style="min-width:60px;">구분</th>
						<th style="min-width:120px;">부서</th>
						<th style="min-width:70px;">담당자</th>
						<th style="min-width:450px;">OBJECT NAME</th>
					</form>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="9"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{if $okr_obj}>
					<{section name=list loop=$okr_obj}>
						<form name="apply_frm<{$okr_obj[list].oo_no}>" id="apply_frm<{$okr_obj[list].oo_no}>" class="list_form" method="post" enctype="multipart/form-data" action="okr_list_month.php">
							<input type="hidden" name="process" id="process">
							<input type="hidden" name="oo_no" id="oo_no" value="<{$okr_obj[list].oo_no}>">
							<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
							<tr>
								<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")}>
								<td class="first"><!-- checkbox -->
									<input type="checkbox" name="select_check" value="<{$okr_obj[list].oo_no}>">
								</td>
								<{/if}>
								<td <{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>class="first"<{/if}>><!-- oo_no -->
									<{$okr_obj[list].oo_no}>
									<{if $okr_obj[list].state == '1' && $okr_obj[list].s_no == $session_s_no}>
										<br/>
										<a href="#" onclick="del_okr('<{$okr_obj[list].oo_no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
									<{/if}>
								</td>
								<td><!-- 진행상태 -->
									<select name="f_state_<{$okr_obj[list].oo_no}>" id="f_state_<{$okr_obj[list].oo_no}>" class="select_type1<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>_disabled<{/if}>" onchange="save_el('<{$okr_obj[list].oo_no}>', 'f_state', this)" style="padding: 0px 3px; height:22px;
										<{if $okr_obj[list].state == '1'}>
											color:red;
										<{elseif $okr_obj[list].state == '2'}>
											color:blue;
										<{else}>
											color:black;
										<{/if}>"
									>
										<{section name=data loop=$okr_obj_state}>
											<option value="<{$okr_obj_state[data][1]}>"
												style="
												<{if $okr_obj_state[data][1] == '1' || $okr_obj_state[data][1] == '2'}>
													color:red;
												<{else}>
													color:black;
												<{/if}>
												"
												<{if !permissionNameCheck($session_permission,"마스터관리자") && !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}> <{if $okr_obj[list].state==$okr_obj_state[data][1]}>selected<{/if}>
											><{if $okr_obj_state[data][0] == '::전체::'}>::선택::<{else}><{$okr_obj_state[data][0]}><{/if}></option>
										<{/section}>
									</select>
								</td>
								<td width="210px;"><!-- 진행기간 -->
									<{$okr_obj[list].sdate}> ~ <{$okr_obj[list].edate}>
								</td>
								<td width="70px;"><!-- 진행기간 구분 -->
									<{$okr_obj[list].obj_term}>
								</td>
								<td><!-- 구분 -->
  								<{section name=data loop=$okr_obj_kind}>
  									<{if $okr_obj_kind[data][1] == $okr_obj[list].kind}><{$okr_obj_kind[data][0]}><{/if}>
  								<{/section}>
								</td>
								<td><!-- 부서 -->
									<{section name=data loop=$team_list}>
										<{if $team_list[data][1] == $okr_obj[list].team}><{$team_list[data][0]}><{/if}>
									<{/section}>
								</td>
								<td><!-- 담당자 -->
  								<{$okr_obj[list].s_name}>
								</td>
								<td class="alignL"><!-- OBJECT NAME -->
									<span style="font-weight:800; font-size:14px;">
										<a href="okr_regist_month.php?oo_no=<{$okr_obj[list].oo_no}>"><{if $okr_obj[list].obj_name}><{$okr_obj[list].obj_name}><{else}>[접속용]<{/if}></a>
									</span>
								</td>
							</tr>
						</form>
						<{/section}>
						<{/if}>
					<{/if}>
					<tr>
						<td colspan=11 class="paging_wrap">
							<div class="paging_wrap">
							<{$pagelist}>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan=11 class="list_button">
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='okr_regist_month.php'"><span>OBJECT 제작하기</span></button></div>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(function() {
		$(document).ready(function(){
			$("#sch_team").combobox();
			$("#sch_s_no").remoteChained({
				parents: "#sch_team",
				url: "/v1/api/staff.json.php?parent_data=sch_team",
				loading: "로딩중..",
				clear: true
			});

			$(".sch_month").change(function(){
				var date_info = $(this).val().split(",");
				var sDate = date_info[0];
				var eDate = date_info[1];
				if(sDate && eDate){
					$('#sch_s_date_term').val(sDate);
					$('#sch_e_date_term').val(eDate);
				}
			});
		});
	});

	function del_okr(oo_no)
	{
		eval("var f=document.getElementById('apply_frm" + oo_no + "');");
		f.process.value = "del_okr";

		if (confirm("정말 삭제 하시겠습니까??") == true) {
			f.submit();
		} else {
			return;
		}
	}

	function save_el(oo_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("okr_list_month.php", {oo_no : oo_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function select_check_all(f){
		if(f.checked == true){
		<{section name=list loop=$okr_obj}>
			eval("var f=document.getElementById('apply_frm<{$okr_obj[list].oo_no}>');");
			f.select_check.checked = true;
		<{/section}>
		}else{
		<{section name=list loop=$okr_obj}>
			eval("var f=document.getElementById('apply_frm<{$okr_obj[list].oo_no}>');");
			f.select_check.checked = false;
		<{/section}>
		}
	}

	function multi_save_el(proc){
		eval("var f=document.getElementById('chk_form');");
		f.process.value = proc;

		var oo_no_list = "";

		if(proc == "chk_state"){
			if(!f.chk_state.value){
				return false;
			}
		}

		<{section name=list loop=$okr_obj}>
		eval("var tmp_f=document.getElementById('apply_frm<{$okr_obj[list].oo_no}>');");
		if(tmp_f.select_check.checked){
			if(!!oo_no_list){
				oo_no_list += ("||" + tmp_f.oo_no.value);
			}else{
				oo_no_list += (tmp_f.oo_no.value);
			}
		}
		<{/section}>

		if(!!oo_no_list){
			f.chk_oo_no_list.value = oo_no_list;

			// 확인 체크
			if (confirm("정말로 변경 하시겠습니까?") == true){ // 확인
				f.submit();
			} else { //취소
				return false;
			}
		}else{ // 선택한 항목이 없는 경우
			alert("선택한 항목이 없습니다.");
			return false;
		}
	}
</script>
</body>
</html>
