<{include file="inc/boot_navibar.html"}>

<script type="text/javascript" src="<{$dir_location}>js/chart/zooTree.js"></script>

<style type="text/css">
	.org-team-tree {
		display: table;
		margin-top: 20px;
	}
	.org-team-tree {
		padding-top: 10px;
	}
	.org-team-tree ul {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
	}
	.org-team-tree li {
		vertical-align: middle;
		position: relative;
		list-style-type: none;
		width: 100%;
		height: 100%;
		padding: 0px 0px 10px 10px;
	}
	.org-team-tree li:before,
	.org-team-tree li:after {
		content: '';
		position: absolute;
		width: 10px;
	}
	.org-team-tree li:before {
		bottom: 0;
		border-left: 0 none;
	}
	.org-team-tree li:after {
		top: 10px;
		bottom: auto;
		left: 0;
		height: 100%;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}

	.org-team-tree li:only-child:after,
	.org-team-tree li:only-child:before {
		padding-right: 0;
	}
	.org-team-tree > ul > li:after {
		border: 0 none;
	}
	.org-team-tree li:first-child:before,
	.org-team-tree li:last-child:after {
		border-left: 0 none;
		border-right: 0 none;
	}
	.org-team-tree ul ul:after {
		content: '';
		position: absolute; top: 10px; left: 0;
		border-top: 1px solid #ccc;
		width: 15px;
	}

	.org-team-tree li a:hover+ul:after,
	.org-team-tree li a:hover+ul ul:after {
		border-color:  #94a0b4;
	}
	.org-team-tree li a {
		border: 1px solid #ccc;
		padding: 5px 10px;
		text-decoration: none;
		color: #666;
		font-family: arial, verdana, tahoma;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;

		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;

		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		width: 280px;
	}
	.org-team-tree li a:hover,
	.org-team-tree li a:hover+ul li a {
		background: #c8e4f8;
		color: #000;
		border: 1px solid #94a0b4;
	}
	.org-team-tree li a:hover+ul li:after,
	.org-team-tree li a:hover+ul li:before,
	.org-team-tree li a:hover+ul:before,
	.org-team-tree li a:hover+ul ul:before {
		border-color:  #94a0b4;
	}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="org_chart.php" class="form-inline">

		<div class="form-group">
			<label for="sch_my_c_no" style="margin-right: 5px;">사업자</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control" style="font-size: 11px;" onchange="searchList()">
			<{foreach from=$sch_my_c_list key=my_c_no item=label}>
				<option value="<{$my_c_no}>" <{if $sch_my_c_no == $my_c_no}>selected<{/if}>><{$label}></option>
			<{/foreach}>
			</select>
			<{if permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") }>
				<a href="page_setup.php?sch_page_type=org"><img src="./images/icon/setting_lightgray.png" style="margin-left: 7px;"></a>
			<{/if}>
		</div>
	</form>

	<div class="org-team-tree" style=""></div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){

        var jsonData = <{$org_team_list}>;

        var treeData = getTreeModel( jsonData, '999',{
            id: "itemId",
            parentId: "parentId",
            order: ["order","asc"]
        });

        $(".org-team-tree").zooTree(treeData, {
            forceCreate: true,
            render: function(data) {
                var label_html = data.label;

                if(data.leader){
                    label_html += "<br/><span style='color:#c9c9c9; font-size: 11px;'>Leader : <b>"+data.leader+" </b></span>";
                }

                if(data.staff){
                    label_html += "<br/><span style='color:#c9c9c9; font-size: 11px;'>"+data.staff+"</span>";
                }

                var $html = $("<a>").append(label_html);
                return $html;
            }
        });
    });

    function searchList(){
        document.search_form.submit();
    }
</script>

</body>
</html>
