<{include file="inc/iframe_navibar.html"}>

<div class="admin_content" >
	<!-- 조직도 리스트 -->
	<form method="get" name="search_form" action="org_setup.php" class="form-inline">
		<div class="form-group">
			<label for="sch_my_c_no" style="margin-right: 16px;">사업자</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control" style="font-size: 11px;">
				<{foreach from=$my_company_option key=my_c_no item=label}>
				<option value="<{$my_c_no}>" <{if $sch_my_c_no == $my_c_no}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">보기</button>
		</div>
	</form>

	<form name="org_team_frm" id="org_team_frm" class="org_team_frm form-inline" action="org_setup.php" method="post" style="margin-top: 20px;" autocomplete="off">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="my_c_no" value="<{$sch_my_c_no}>">
		<input type="hidden" name="process" value="">

		<div class="form-group">
			<label for="priority" style="margin-right: 5px;">우선순위</label>
			<input type="text" name="priority" id="priority" class="form-control" style="font-size: 11px;margin-right: 10px;" value="">

			<label for="team_parent_name" style="margin-right: 5px;">상위부서</label>
			<input type="text" name="team_parent_name" id="team_parent_name" class="form-control" style="font-size: 11px;" value="">
			<input type="hidden" name="team_parent_code" id="team_parent_code" value="">
			<input type="hidden" name="team_group" id="team_group" value="">
			<input type="checkbox" name="team_parent_root" id="team_parent_root" value="1"><label for="team_parent_root" style="cursor: pointer;">최상위</label>
		</div>
		<div style="overflow: hidden; clear: both; width: 100%; margin-top: 5px;">
			<label for="team_name" style="float: left;display: inline-block; margin-top: 7px; margin-right: 16px;">부서명</label>
			<input type="text" name="team_name" id="team_name" class="form-control" style="font-size: 11px;margin-right: 10px; width: 280px; float: left;" value="">
			<div class="form-group" style="float: left;margin-top: -3px;margin-right: 12px;">
				<input type="radio" name="display" class="display form-control" id="display_on" value="1" checked><label for="display_on" style="margin-right: 7px;">ON</label>
				<input type="radio" name="display" class="display form-control" id="display_off" value="2"><label for="display_off">OFF</label>
			</div>
			<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; line-height: 21px;" onclick="modifyOrgTeam()">수정</button>
			<button type="button" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; line-height: 21px;" onclick="addOrgTeam()">추가</button>
		</div>
		<div style="overflow: hidden; clear: both; width: 100%; margin-top: 25px;">
			<div style="width: 535px; background: #333; color: white; font-weight: bold; font-size: 13px; margin-left: 2px; padding: 5px; ">우선순위 : 상위부서 &gt; 부서명</div>
			<select name="team_code" id="team_code" style="width:535px; height: 400px;" size="20" onchange="">
				<{foreach from=$org_team_list key=team_code item=team_data}>
					<option value="<{$team_code}>" style="padding: 5px; <{if $team_data.display == '2'}>color: #ccc;<{/if}>"><{$team_data.label}></option>
				<{/foreach}>
			</select>
		</div>
	</form>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        $("#team_parent_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/staff.team.api.php",
                    dataType: "json",
                    data: {
                        t_name: request.term,
						t_my_c_no: $("#sch_my_c_no").val()
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                t_code 	: item.t_code,
                                t_name 	: item.t_name,
								t_group	: item.t_group,
                                label 	: item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#team_parent_code").val(ui.item.t_code);
                $("#team_group").val(ui.item.t_group);
                $(this).val(ui.item.t_name);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $("#team_code").change(function(){
            $.ajax({
                url: "/v1/api/org.team.data.api.php",
                type: 'POST',
                data: {"team_code": $(this).val()}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;
                var team     = jsonData.team;

                if(result == true) {
                    $("#team_name").val(team.team_name);
                    $("#team_parent_name").val(team.team_parent_name);
                    $("#team_parent_code").val(team.team_code_parent);
                    $("#team_group").val(team.team_group);
                    $("#priority").val(team.priority);
                    if(team.display == '1'){
                        $("#display_on").prop('checked', true);
                    }else{
                        $("#display_off").prop('checked', true);
                    }
                }else{
                    alert("부서를 다시 선택해주세요");
                    return false;
                }
            });
		});
    });


    function modifyOrgTeam()
	{
        var orgFrm  = document.org_team_frm;

        if(!$("#team_code option:selected").val())
        {
            alert("부서를 선택해주세요");
            return false;
        }

        if(!$("#team_parent_root").is(":checked")){
            if($("#team_parent_code").val() == "")
            {
                alert("상위부서 검색을 다시 해주세요");
                return false;
            }
		}

        if($("#team_name").val() == "")
        {
            alert("부서명을 입력해주세요");
            return false;
        }

        $.ajax({
            url: "/v1/api/org.team.name.api.php",
            type: 'POST',
            data: {"t_my_c_no": $("#sch_my_c_no").val(),"t_name":$("#team_name").val(), "t_code": $("#team_code option:selected").val(),'t_parent_code': $("#team_parent_code").val()}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;

            if(result == true) {
				 orgFrm.process.value="modify_org_team";
				 orgFrm.submit();
            }else{
                alert("같은 사업자 내 동일한 부서명이 이미 존재합니다.");
                return false;
            }
        });
	}

	function addOrgTeam()
	{
        var orgFrm  = document.org_team_frm;

        if(!$("#team_parent_root").is(":checked"))
        {
            if ($("#team_parent_code").val() == "") {
                alert("상위부서를 다시 검색해주세요");
                return false;
            }
        }

        if($("#team_name").val() == "")
        {
            alert("부서명을 입력해주세요");
            return false;
        }

        orgFrm.process.value="new_org_team";
        orgFrm.submit();

        /*
        $.ajax({
            url: "/v1/api/org.team.name.api.php",
            type: 'POST',
            data: {"t_my_c_no": $("#sch_my_c_no").val(),"t_name":$("#team_name").val()}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;

            if(result == true) {
                orgFrm.process.value="new_org_team";
                orgFrm.submit();
            }else{
                alert("같은 사업자 내 동일한 부서명이 이미 존재합니다.");
                return false;
            }
        });
        */
	}

</script>
<!-- //admin_content -->

</body>
</html>
