<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script>
<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<style type="text/css">
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;}
	.table_list_style table{width: 800px; margin-top: 5px;table-layout: fixed;}
	.table_list_style table.table-bordered{border: 2px solid black;}
	.table_list_style table.table-bordered td,.table_list_style table.table-bordered th{border: 1px solid black;}
	.table_list_style table tbody th{vertical-align: middle; height: 45px; font-size: 13px;background: #eee; text-align: center;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;text-align: left; font-size: 13px;}
	.table_list_style table tbody td label{cursor: pointer;}
	.table_list_style table tbody th.first{width: 150px; text-align: center;}
	.table_list_style table tbody td input.form-control{font-size: 12px; display: inline-block; width: 99%;}
	.table_list_style table tbody td select.form-control{font-size: 12px; display: inline-block; width: 99%;}
	.table_list_style table tbody td textarea.form-control{font-size: 12px; display: inline-block; width: 99%;}
	.table_list_style table tbody td select option:disabled {background: #e9ecef;}
	.table_list_style table tbody td.text-wrapper{padding: 2px 10px;}

	.dropzone{padding: 10px; min-height: unset;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%; height: 120px;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
</style>

<div class="admin_content" >
	<form name="inspection_frm" id="inspection_frm" action="out_return_mi_regist.php" method="post" autocomplete="off" enctype="multipart/form-data" style="width: max-content;">
		<input type="hidden" name="mi_no" value="<{$mi_no}>">
		<input type="hidden" name="prev_type" value="<{$prev_type}>">
		<input type="hidden" name="order_number" value="<{$order_number}>">
		<input type="hidden" name="add_c_no" value="<{$add_c_no}>">
		<input type="hidden" name="process" value="<{$process}>">
		<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
		<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">

		<div class="table_list_style">
			<table class="table table-bordered">
				<colgroup>
					<col width="150px;">
					<col width="300px;">
					<col width="150px;">
					<col width="300px;">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="4" style="padding: 20px 0; text-align: center;">
							<b style="font-size: 30px;font-weight: bold;display: inline-block;padding: 5px 30px;">제조사 검수 결과서</b>
						</td>
					</tr>
					<tr>
						<th class="first">회수자명<br/>회수자 전화<br/>회수지</th>
						<td class="text-wrapper" colspan="3">
							<{$recipient}><br/>
							<{$recipient_sc_hp}><br/>
							[<{$zip_code}>] <{$recipient_addr}><br/>
						</td>
					</tr>
					<tr>
						<th class="first">상품명<br/>(SKU) :: 수량</th>
						<td class="text-wrapper" colspan="3">
							<{if $unit_list}>
								<{foreach from=$unit_list item=unit}>
									<div><{$unit.sku}> :: <{$unit.quantity}></div>
								<{/foreach}>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">요청 메세지</th>
						<td colspan="3">
							<textarea name="req_memo" class="form-control" style="height: 100px;" disabled><{$req_memo}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">제조사 검수 제목</th>
						<td colspan="3">
							<input type="text" name="ins_title" id="ins_title" class="form-control" value="<{$ins_title}>" placeholder="제조사 검수 제목" required>
						</td>
					</tr>
					<tr>
						<th class="first">작성자</th>
						<td class="text-wrapper"><{$reg_s_name}></td>
						<th>작성일</th>
						<td class="text-wrapper"><{$cur_date}></td>
					</tr>
					<tr>
						<th class="first">제품 개선 여부</th>
						<td class="text-wrapper">
							<{foreach from=$is_improve_option key=key item=label}>
								<input type="radio" name="is_improve" id="is_improve_<{$key}>" class="input-radio is_improve" value="<{$key}>" <{if $is_improve == $key || !$is_improve && $key == '2'}>checked<{/if}> required>
								<label for="is_improve_<{$key}>" style="margin-right: 5px;"><{$label}></label>
							<{/foreach}>
							<span style="color: #999; font-size: 10px;">(제품 개선이 계획된 경우 有로 선택합니다.)</span>
						</td>
						<th>개선 예상일</th>
						<td>
							<input type="text" name="exp_date" id="exp_date" class="form-control date-picker" style="width: 100px;" value="<{$exp_date}>">
						</td>
					</tr>
					<tr>
						<th class="first">개선사항</th>
						<td colspan="3">
							<textarea name="improve_run" class="form-control" style="height: 80px;" placeholder="개선 사항을 입력합니다."><{$improve_run}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">파일첨부<br/>(파일당 최대 10MB)</th>
						<td colspan="3">
							<div class="dropzone" id="miFileDropzone">
								<div class="dz-message">
									Drop files here or click to upload.
								</div>
							</div>
							<div class="add-file-hidden">
								<input type="hidden" id="file_count" value="<{$file_count}>" />
								<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<textarea name="content" id="content" rows="10" cols="40"><{$content}></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-right" style="width: 100%;">
				<button type="button" class="btn btn-dark" onclick="location.href='<{$prev_url}>';" style="padding: 5px 25px;">목록</button>
			</div>
			<{if $work_state != '6' && $run_state == 0}>
			<div class="text-center" style="width: 100%;">
				<button type="submit" class="btn btn-dark" onclick="return checkLogisticsRequest()" style="padding: 5px 25px;">작성완료</button>
			</div>
			<{/if}>
		</div>
	</form>
</div>

<script type="text/javascript">

	var editor = CKEDITOR.replace('content', {
		removePlugins: 'autogrow',
		enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
		shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
		removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
		filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
	});

	Dropzone.autoDiscover = false;
	var imageExt = ['jpg','jpeg','png','gif'];
	var myDropzone = new Dropzone("div#miFileDropzone",
	{
		url: "inc/dropzone_file_upload.php",
		addRemoveLinks: true,
		dictRemoveFile: "삭제",
		uploadMultiple: true,
		parallelUploads: 1,
		thumbnailWidth: 120,
		thumbnailHeight: 100,
		maxFiles: 10,
		maxFilesize: 10,
		dictFileTooBig: "10MB 이상 파일은 업로드 할 수 없습니다",
		init: function(){
			<{if $mi_no && $file_count > 0}>
				<{foreach from=$file_paths key=key item=file_path}>
					var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 100000, path: "<{$file_path}>"};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$file_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "/v1/uploads/"+file_path);
					}

					var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="<{$file_names[$key]}>">';
					html += '<input type="hidden" name="file_path[]" class="file_path" value="<{$file_path}>"></div>';
					$(".add-file-hidden").append(html);
					<{/foreach}>
				<{/if}>
			},
			addedfile: function(file) {
				var _this2 = this;

				if (this.element === this.previewsContainer) {
					this.element.classList.add("dz-started");
				}

				if (this.previewsContainer) {
					file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
					file.previewTemplate = file.previewElement; // Backwards compatibility

					this.previewsContainer.appendChild(file.previewElement);
					var _iteratorNormalCompletion3 = true;
					var _didIteratorError3 = false;
					var _iteratorError3 = undefined;

					try {
						for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
							var node = _step3.value;
							node.textContent = file.name;
						}
					} catch (err) {
						_didIteratorError3 = true;
						_iteratorError3 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
								_iterator3["return"]();
							}
						} finally {
							if (_didIteratorError3) {
								throw _iteratorError3;
							}
						}
					}

					var _iteratorNormalCompletion4 = true;
					var _didIteratorError4 = false;
					var _iteratorError4 = undefined;

					try {
						for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
							node = _step4.value;
							node.innerHTML = this.filesize(file.size);
						}
					} catch (err) {
						_didIteratorError4 = true;
						_iteratorError4 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
								_iterator4["return"]();
							}
						} finally {
							if (_didIteratorError4) {
								throw _iteratorError4;
							}
						}
					}

					if (this.options.addRemoveLinks) {
						file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
						file.previewElement.appendChild(file._removeLink);
					}

					var removeFileEvent = function removeFileEvent(e) {
						e.preventDefault();
						e.stopPropagation();

						if (file.status === Dropzone.UPLOADING) {
							return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							if (_this2.options.dictRemoveFileConfirmation) {
								return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
									return _this2.removeFile(file);
								});
							} else {
								return _this2.removeFile(file);
							}
						}
					};

					var _iteratorNormalCompletion5 = true;
					var _didIteratorError5 = false;
					var _iteratorError5 = undefined;

					try {
						for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
							var removeLink = _step5.value;
							removeLink.addEventListener("click", removeFileEvent);
						}
					} catch (err) {
						_didIteratorError5 = true;
						_iteratorError5 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
								_iterator5["return"]();
							}
						} finally {
							if (_didIteratorError5) {
								throw _iteratorError5;
							}
						}
					}

					var download_link = document.createElement('a');
					download_link.setAttribute('href',"/v1/uploads/" + file.path);
					download_link.setAttribute('target',"_blank");
					download_link.classList.add('dz-download');
					file.previewTemplate.appendChild(download_link);
				}
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < images.length; i++) {
						var thumbnailElement = images[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 10개까지 업로드 할 수 있습니다');
				this.removeFile(file);
			},
			success: function(file, response){
				var result   = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileCount = $('#file_count').val();

				if(fileCount >= 10){
					this.removeFile(file);
					alert('파일은 10개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="file_path" value="'+filePath+'"></div>';
					$(".add-file-hidden").append(html);
					$('#file_count').val($(".file_name").length);
					$('#file_chk').val(1);
				}
			}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".file_name").length);
		$('#file_chk').val(1);
	});

	myDropzone.on("error", function(file, message) {
		alert(message);
		myDropzone.removeFile(file);
	});
</script>

</body>
</html>
