<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table thead.thead-dark th{vertical-align: middle; border-color: #FFF; border-bottom-width: 1px;}
	.table tbody td{vertical-align: middle;}
	#search_form label{margin-right: 10px;}
	#search_form .form-control{margin-right: 20px;}
	.form-control{font-size: 12px;}
	.table .thead-dark th{background: rgba(119, 119, 119, 1)}
	.table thead .logistics_th{background-color: rgb(231 83 83 / 76%);}
	.table thead .manufacture_th{background-color: rgb(55 96 146);}
	.table tbody .logistics_td{background-color: rgb(206 51 51 / 21%);}
	.table tbody .manufacture_td{background-color: rgb(55 96 146 / 21%);}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">● 커머스 Q/C 리스트</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="out_return_qc_list.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_r_no">r_no</label>
				<input type="text" name="sch_r_no" id="sch_r_no" class="form-control" style="width: 60px;" value="<{$sch_r_no}>" />

				<label for="sch_prev_ord_no">이전 주문번호</label>
				<input type="text" name="sch_prev_ord_no" id="sch_prev_ord_no" class="form-control" style="width: 120px;" value="<{$sch_prev_ord_no}>" />

				<label for="sch_stock_date">발송처리일</label>
				<input type="text" name="sch_stock_date" id="sch_stock_date" class="form-control date-picker" value="<{$sch_stock_date}>" />

				<label for="sch_recipient">회수자명</label>
				<input type="text" name="sch_recipient" id="sch_recipient" class="form-control" style="width: 100px;" value="<{$sch_recipient}>" />

				<label for="sch_recipient_hp">회수자전화</label>
				<input type="text" name="sch_recipient_hp" id="sch_recipient_hp" class="form-control" value="<{$sch_recipient_hp}>"  style="width: 100px;"/>

				<label for="sch_return_type">구분</label>
				<select name="sch_return_type" id="sch_return_type" class="form-control" disabled>
					<option value="2">수거 후 제조사 전달</option>
				</select>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_delivery_no">회수 운송장번호</label>
				<input type="text" name="sch_delivery_no" id="sch_delivery_no" class="form-control" style="width: 120px;" value="<{$sch_delivery_no}>" />

				<label for="sch_sup_c_name">공급업체</label>
				<input type="text" name="sch_sup_c_name" id="sch_sup_c_name" class="form-control" style="width: 100px;" value="<{$add_c_name}>" disabled />

				<label for="sch_option">상품명(SKU)</label>
				<input type="text" name="sch_option" id="sch_option" class="form-control" style="width: 120px;" value="<{$sch_option}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" style="table-layout: fixed;margin-top: 20px;">
		<colgroup>
			<col width="40px;"> <!-- Checkbox -->
			<col width="60px;"> <!-- No -->
			<col width="120px;"> <!-- 이전 주문번호 -->
			<col width="80px;"> <!-- 발송처리일 -->
			<col width="120px;"> <!-- 회수자정보 -->
			<col width="300px;"> <!-- 회수지 -->
			<col width="80px;"> <!-- 구분 -->
			<col width="300px;"> <!-- 요청메세지 -->
			<col width="120px;"> <!-- 회수택배사/운송장번호 -->
			<col width="450px;"> <!-- [공급업체] 재고관리코드::수량 -->
			<col width="140px;"> <!-- 제조사 검수 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="11" style="padding: 5px;">
					<button type="button" class="btn btn-dark" onclick="excelQcDownload()" style="float: left; font-size: 12px;">엑셀다운로드</button>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" rowspan="2">r_no</th>
				<th scope="col" colspan="2">이전주문정보</th>
				<th scope="col" colspan="2">고객요청 <b style="color: blue;">회수</b>정보</th>
				<th scope="col" colspan="2"><b style="color: blue;">회수</b> 요청</th>
				<th scope="col" colspan="2" class="logistics_th">물류 처리결과</th>
				<th scope="col" rowspan="2" class="manufacture_th">제조사 검수</th>
			</tr>
			<tr>
				<th scope="col">이전 주문번호</th>
				<th scope="col">발송처리일</th>
				<th scope="col"><b style="color: blue;">회수</b>자명<br/><b style="color: blue;">회수</b>자 전화</th>
				<th scope="col">[우편번호]<br/><b style="color: blue;">회수</b>지</th>
				<th scope="col">구분</th>
				<th scope="col">요청메세지</th>
				<th scope="col" class="logistics_th"><b style="color: blue;">회수</b> 택배사<br/><b style="color: blue;">회수</b> 운송장번호</th>
				<th scope="col" class="logistics_th">[공급업체] 재고관리코드(SKU)::수량</th>
			</tr>
		</thead>
		<tbody>
			<{if $return_qc_list}>
				<{assign var=color_idx value=0}>
				<{foreach from=$return_qc_list item=return_qc}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td class="first text-center">
							<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$return_qc.r_no}>">
						</td>
						<td class="text-center">
							<{$return_qc.r_no}>
						</td>
						<td><{$return_qc.parent_order_number}></td>
						<td class="text-center"><{$return_qc.stock_date}></td>
						<td>
							<span style="text-align:left; display: block;"><{$return_qc.recipient}></span>
							<span style="text-align:left; display: block;"><{$return_qc.recipient_sc_hp}></span>
						</td>
						<td>
							<span style="text-align:left; display: block;"><{$return_qc.postcode}></span>
							<span style="text-align:left; display: block; overflow: hidden; word-break: break-all;"><{$return_qc.recipient_addr}></span>
						</td>
						<td class="text-center">
							<span style="color: red;"><{$return_qc.return_type_name}></span>
						</td>
						<td>
							<textarea class="form-control" style="height: 80px;" readonly><{$return_qc.req_memo}></textarea>
						</td>
						<td class="text-left logistics_td">
							<{if $return_qc.return_delivery_no}>
							<span style="text-align:left; display: block;"><{$return_qc.return_delivery_type}></span>
							<span style="text-align:left; display: block;"><{$return_qc.return_delivery_no}></span>
							<{/if}>
							<{if $return_qc.return_delivery_no2}>
								<span style="text-align:left; display: block;"><{$return_qc.return_delivery_no2}></span>
							<{/if}>
						</td>
						<td class="text-left logistics_td">
							<{if $return_qc.return_unit_list}>
								<{foreach from=$return_qc.return_unit_list item=return_unit}>
									<div><{$return_unit.option_info}></div>
								<{/foreach}>
							<{/if}>
						</td>
						<td class="text-center manufacture_td">
							<{if $return_qc.mi_no > 0}>
								<span><{$return_qc.mi_state_name}></span>
								<a href="out_return_mi_regist.php?mi_no=<{$return_qc.mi_no}>&prev_type=QC" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
							<{else}>
								<button class="btn btn-dark" onclick="addManuInspection('<{$return_qc.order_number}>')" style="font-size: 12px;">검수결과 작성하기</button>
							<{/if}>
						</td>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="11">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="11" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<form name="select_check_form" id="select_check_form" action="excel_out_return_qc_list.php" method="post" >
	<input type="hidden" name="chk_r_no_list" class="chk_r_no_list">
</form>

<script type="text/javascript">
    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

    function addManuInspection(r_ord_no)
	{
		if(confirm("검수결과를 작성하시겠습니까?")){
			location.href='out_return_mi_regist.php?r_ord_no='+r_ord_no+'&prev_type=QC';
		}

		return false;
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkReturnSelect()
	{
		var chk_r_no_list = "";
		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")) {
				if(!!chk_r_no_list){
					chk_r_no_list += ("," + $(item).val());
				}else{
					chk_r_no_list += ($(item).val());
				}
			}
		});

		var f = document.getElementById('select_check_form');

		f.chk_r_no_list.value = chk_r_no_list;
	}

	function excelQcDownload()
	{
		if(confirm("엑셀 다운로드 하시겠습니까?"))
		{
			checkReturnSelect();

			var f = document.getElementById('select_check_form');
			if(!f.chk_r_no_list.value){
				alert("선택한 주문이 없습니다.");
				return false;
			}

			f.submit();
		}

		return false;
	}
</script>

</body>
</html>
