<{include file="inc/boot_navibar.html"}>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom:10px">● 페이지 설정관리</h2>

	<form method="get" name="search_form" action="page_setup.php" class="form-inline">
		<div class="form-group">
			<label for="sch_page_type" style="margin-right: 5px;">페이지</label>
			<select id="sch_page_type" name="sch_page_type" class="form-control" style="font-size: 11px;">
			<{foreach from=$page_setup_option key=page_type item=label}>
				<option value="<{$page_type}>" <{if $sch_page_type == $page_type}>selected<{/if}>><{$label}></option>
			<{/foreach}>
			</select>

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">설정 보기</button>
		</div>
	</form>

	<div style="border: 1px solid #ccc; display: inline-block; margin-top: 30px;">
		<{if $page_type_url}>
			<iframe src="<{$page_type_url}>" frameborder="0" width="1000" height="660" style="margin-right: 10px;"></iframe>
		<{/if}>
	</div>
</div>
</body>
</html>
