<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px; padding: 3px 5px;}
	.form-group .name_tit{margin: 0 5px;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" class="form-inline" action="personal_expenses_result_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="form-group">
			<span class="name_tit">사업자</span>
			<select name="sch_c_no" id="sch_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sch_my_c_list key=c_no item=label}>
				<option value="<{$c_no}>" <{if $sch_c_no == $c_no}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right:15px;"></span>

			<span class="name_tit">부서</span>
			<select id="sch_team" name="sch_team" class="form-control" style="width: auto;">
				<{foreach from=$sch_team_list key=team_code item=label}>
				<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right:15px;"></span>

			<span class="name_tit">카드명</span>
			<input type="text" id="sch_share_card" name="sch_share_card" value="<{$sch_share_card}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" style="width: 100px;" />
			<span style="margin-right:15px;"></span>

			<span class="name_tit">제출자</span>
			<input type="text" name="sch_req_s_name" value="<{$sch_req_s_name}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" style="width: 100px;" />
			<span style="margin-right:15px;"></span>

			<span class="name_tit">계정과목</span>
			<select id="sch_account_code" name="sch_account_code" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$kind_account_2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_account_code == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span style="margin-right:15px;"></span>

			<span class="name_tit">년-월</span>
			<input type="text" style="width: 65px; background-color:yellow;" class="month-picker input_type_date" id="sch_month" name="sch_month" value="<{$sch_month}>" />
			<span style="margin-right:15px;"></span>

			<button class="btn_big_search" onclick="normal_search();" style="height: 30px;">검색</button>
		</div>
		<hr>
	</form>

	<div class="table_list_style" style="margin-top: 20px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<th class="first" style="min-width:120px;">계정과목</th>
				<th style="min-width:100px;">금액</th>
			</tr>
			</thead>
			<tbody>
			<{assign var='parent_account_total_sum' value=0}>
			<{if $total_num == 0}>
			<tr>
				<td class="first" colspan="8"> 등록된 자료가 없습니다.</td>
			</tr>
			<{else}>
			<{foreach from=$parent_account_total_list item=parent_account_total}>
			<tr>
				<td class="first"> <!-- 계정과목 -->
					<{$parent_account_total.label}>
				</td>
				<td class="alignR"> <!-- 금액 -->
					<span class="format-money" style="color:red;"><{$parent_account_total.money|number_format:0}></span>
				</td>
			</tr>
			<{assign var='parent_account_total_sum' value=$parent_account_total_sum+$parent_account_total.money}>
			<{/foreach}>
			<tr>
				<th class="first" style="background-color: rgba(119, 119, 119, 1); color: #fff; padding: 0; border-right: 1px solid #ccc; border-top: 1px solid #ccc; text-align: center;">합계</th>
				<td class="alignR"><span class="format-money" style="color:red;"><{$parent_account_total_sum|number_format:0}></span></td>
			</tr>
			<{/if}>
			</tbody>
		</table>
	</div>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0" id="personal-list-table">
			<thead>
			<tr>
				<td colspan="6">
					<br>
					<{$total_num}>건의 결과가 나타났습니다.
				</td>
				<td style="text-align: right;color: red;font-weight: bold; font-size: 14px; padding: 2px 2px;">
					<br>
					￦ <{$total_pe_money|number_format:0}>
				</td>
			</tr>
			<tr>
				<th class="first" style="min-width:140px;">개인/공용 사업자</th>
				<th style="min-width:130px;">그룹2</th>
				<th style="min-width:88px;">카드명</th>
				<th style="min-width:120px;">계정과목</th>
				<th style="min-width:100px;">계정별 금액</th>
				<th style="min-width:100px;">개별 합계</th>
				<th style="min-width:120px;">팀별 합계</th>
			</tr>
			</thead>
			<tbody>
			<{if $total_num == 0}>
			<tr>
				<td class="first" colspan="7"> 등록된 자료가 없습니다.</td>
			</tr>
			<{else}>
				<{assign var=acc_sum value=0}>
				<{assign var=per_sum value=0}>
				<{assign var=teams_sum value=0}>

				<!-- 개인 종합리스트 -->
				<{if $per_card_list}>
				<tr>
					<td class="first" colspan="7" style="text-align: left;font-weight: bold;">#지정자및개인</td>
				</tr>
					<{foreach from=$per_card_list key=my_c_no item=per_card_comp_data}>
						<{foreach from=$per_card_comp_data key=team item=per_card_team_data}>
							<{assign var=team_idx value=0}>
							<{foreach from=$per_card_team_data key=s_no item=per_card_staff_data}>
								<{assign var=staff_idx value=0}>
								<{foreach from=$per_card_staff_data key=acc_code item=per_card_acc_data}>
									<tr>
										<td class="first"><{$per_card_acc_data.my_c_name}></td>
										<td><{$per_card_acc_data.team_name}></td>
										<td><{$per_card_acc_data.s_name}></td>
										<td><{$per_card_acc_data.code_name}></td>
										<td style="text-align: right;"><{$per_card_acc_data.money|number_format:0}></td>
										<{if $staff_idx == '0'}>
											<td style="text-align: right;" rowspan="<{$per_card_staff_data|@count}>"><{$per_staff_data_list[$my_c_no][$team][$s_no]|number_format:0}></td>
											<{assign var=per_sum value=$per_sum+$per_staff_data_list[$my_c_no][$team][$s_no]}>
										<{/if}>
										<{if $team_idx == '0'}>
											<td style="text-align: right;" rowspan="<{$per_team_data_list[$my_c_no][$team].count}>"><{$per_team_data_list[$my_c_no][$team].total|number_format:0}></td>
											<{assign var=teams_sum value=$teams_sum+$per_team_data_list[$my_c_no][$team].total}>
											<{assign var=team_idx value=$team_idx+1}>
										<{/if}>
									</tr>
									<{assign var=acc_sum value=$acc_sum+$per_card_acc_data.money}>
									<{assign var=staff_idx value=$staff_idx+1}>
								<{/foreach}>
							<{/foreach}>
						<{/foreach}>
					<{/foreach}>
				<{/if}>

				<!-- 공용 종합리스트 -->
				<{if $corp_card_list}>
					<tr>
						<td class="first" colspan="7" style="text-align: left;font-weight: bold;">#공용</td>
					</tr>
					<{foreach from=$corp_card_list key=my_c_no item=corp_card_comp_data}>
						<{foreach from=$corp_card_comp_data key=share_group item=corp_share_group_data}>
							<{assign var=share_group_idx value=0}>
							<{foreach from=$corp_share_group_data key=share_card item=corp_share_card_data}>
							<{assign var=share_card_idx value=0}>
								<{foreach from=$corp_share_card_data key=acc_code item=corp_card_acc_data}>
									<tr>
										<td class="first"><{$corp_card_acc_data.my_c_name}></td>
										<td><{$corp_card_acc_data.share_group}></td>
										<td><{$corp_card_acc_data.share_card}></td>
										<td><{$corp_card_acc_data.code_name}></td>
										<td style="text-align: right;"><{$corp_card_acc_data.money|number_format:0}></td>
										<{if $share_card_idx == '0'}>
											<td style="text-align: right;" rowspan="<{$corp_share_card_data|@count}>"><{$corp_share_card_data_list[$my_c_no][$share_group][$share_card]|number_format:0}></td>
											<{assign var=per_sum value=$per_sum+$corp_share_card_data_list[$my_c_no][$share_group][$share_card]}>
										<{/if}>
										<{if $share_group_idx == '0'}>
											<td style="text-align: right;" rowspan="<{$corp_share_group_data_list[$my_c_no][$share_group].count}>"><span class="format-money"><{$corp_share_group_data_list[$my_c_no][$share_group].total|number_format:0}></span></td>
											<{assign var=teams_sum value=$teams_sum+$corp_share_group_data_list[$my_c_no][$share_group].total}>
											<{assign var=share_group_idx value=$share_group_idx+1}>
										<{/if}>
									</tr>
									<{assign var=acc_sum value=$acc_sum+$corp_card_acc_data.money}>
									<{assign var=share_card_idx value=$share_card_idx+1}>
								<{/foreach}>
							<{/foreach}>
						<{/foreach}>
					<{/foreach}>
				<{/if}>

				<!-- 합계 종합리스트 -->
				<tr>
					<th colspan="4" class="first" style="background-color: rgba(119, 119, 119, 1); color: #fff; padding: 0; border-right: 1px solid #ccc; border-top: 1px solid #ccc; height: 30px; text-align: center;">합계</th>
					<td style="color: red; font-weight: bold; text-align: right;"><{$acc_sum|number_format:0}></td>
					<td style="color: red; font-weight: bold; text-align: right;"><{$per_sum|number_format:0}></td>
					<td style="color: red; font-weight: bold; text-align: right;"><{$teams_sum|number_format:0}></td>
				</tr>
			<{/if}>
			</tbody>
		</table>

		<div class="copy-table">
			<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('personal-list-table');" />
			<button class="btn_style1" style="margin-left: 550px;" onclick="location.href='excel_personal_expenses_result_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
		</div>

		<div id="d_msg"></div>
	</div>
	<!-- //table_list_style -->

</div>
<!-- //admin_content -->

<script>
    $(document).ready(function() {
		$("#sch_team").combobox();
    });

    function normal_search() {
        var f = document.forms['search_form'];
        f.submit();
    }
</script>
</body>
</html>
