<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	#personal-sms-modal{overflow: unset; height: auto;}
	#f_card_num_new option{color: #333;}
	#f_card_num_new option:disabled{color: #ccc;}
	.jquery-modal{z-index: 100;}
	.modal{max-width: 300px; padding: 5px;}
	.modal-content{padding: 10px;}
	.modal-content p{margin: 5px 0 15px; font-size: 10px;}
	.modal-content h2{margin-bottom: 10px;}
	#personal-sms-modal textarea{height: 150px; margin: 0 auto; display: table; width: 220px;}
	#personal-sms-modal .byte-cal{margin: 5px auto; display: table;}
	#personal-sms-modal .open-modal-btn{color: white; font-weight: bold; background: #777; padding: 5px 15px;margin: 0 auto; display: table;}
	.custom-combobox input{border-color: rgb(118, 118, 118);}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" id="search_form" name="search_form" action="personal_expenses.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap">
			<div class="left_wrap">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<span class="name_tit">사업자</span>
							<select name="sch_corp_my_c_no" id="sch_corp_my_c_no" class="select_type3">
								<option value="">::전체::</option>
								<{foreach from=$sch_corp_my_c_list key=c_no item=label}>
								<option value="<{$c_no}>" <{if $sch_corp_my_c_no == $c_no}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">pe_no</span>
							<input type="text" name="sch_pe_no" value="<{$sch_pe_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
							<span style="margin-right:15px;"></span>

							<span class="name_tit">제출자</span>
							<input type="text" name="sch_req_s_name" value="<{$sch_req_s_name}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" <{if !$is_sch_admin}>disabled<{/if}> />
							<span style="margin-right:15px;"></span>

							<span class="name_tit">진행상태</span>
							<select name="sch_state" id="sch_state" style="background-color:yellow;" class="select_type1">
								<option value="">::전체::</option>
								<{foreach from=$pe_state_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">부서</span>
							<select id="sch_team" name="sch_team" class="select_type3" style="width: auto;" <{if !$is_sch_admin}>disabled<{/if}>>
								<{foreach from=$sch_team_list key=team_code item=label}>
								<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">카드명</span>
							<input type="text" name="sch_share_card" value="<{$sch_share_card}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
							<span style="margin-right:15px;"></span>

							<span class="name_tit">년-월</span>
							<input type="text" style="width: 65px; background-color:yellow;" class="month-picker input_type_date" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" /> ~
							<input type="text" style="width: 65px; background-color:yellow;" class="month-picker input_type_date" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
							<input type="checkbox" name="sch_month_all" onchange="chk_month_all();" <{if $sch_month_all == 'all'}>checked<{/if}> value="all"/>전체
							<span style="margin-right:15px;"></span>

							<{if permissionNameCheck($session_permission,"재무관리자")}>
							<button type="button" onclick="return set_withdraw();" class="btn_small" style="background-color: #c73333;"><span>전체 지급요청(출금등록)</span></button>
							<{/if}>
						</td>
						<td rowspan='2' >
							<button class="btn_big_search" onclick="normal_search();">검색</button>
						</td>
					</tr>
					<tr>
						<td>
							<span class="name_tit">결제일</span>
							<input type="text" class="date-picker input_type_date_small" id="sch_payment_date" name="sch_payment_date" value="<{$sch_payment_date}>"/>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">계정과목</span>
							<select id="sch_account_code" name="sch_account_code" class="select_type2">
								<option value="">::전체::</option>
								<{foreach from=$kind_account_2_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_account_code == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">결제수단</span>
							<select id="sch_wd_method" name="sch_wd_method" class="select_type2">
								<option value="">::전체::</option>
								<{foreach from=$wd_method_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_wd_method == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">카드번호</span>
							<input type="text" name="sch_card_num" value="<{$sch_card_num}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
							<span style="margin-right:15px;"></span>

							<span class="name_tit">가맹점명</span>
							<input type="text" name="sch_fran_c_name" value="<{$sch_fran_c_name}>" class="input_type5" style="width: 120px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
							<span style="margin-right:15px;"></span>

							<span class="name_tit">내용</span>
							<input type="text" name="sch_payment_contents" value="<{$sch_payment_contents}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
							<span style="margin-right:15px;"></span>
						</td>
					</tr>
				</table>
				<input type="hidden" name="od" value="<{$order}>">
				<input type="hidden" name="by" value="<{$order_type}>">
				<input type="hidden" name="od_list_num" value="<{$od_list_num}>">
			</div>
		</div>

		<hr></hr>

		<!-- 개인경비 안내문자 발송 START -->
		<{if permissionNameCheck($session_permission, '재무관리자')}>
		<div style="margin: 20px 0; text-align: left; overflow:hidden; clear: both;">
			<b style="font-size: 20px; line-height: 25px; display: inline-block;">[잔액확인 자동문자 시스템]</b>
			<span style="font-size: 17px; line-height: 25px; display: inline-block;">발송일정 : 전월 <{$prev_sms_date}>, 금월 <{$cur_sms_date}></span>
			<button type="button" style="background: #777;color: white;font-weight: bold;padding: 5px 10px;border-radius: 5px;margin-left: 5px;line-height: 20px;margin-top: 0;" onclick="location.href='sms_list.php?s_cinfo=5'">발송내역 보기</button>
			<button type="button" style="background: #777;color: white;font-weight: bold;padding: 5px 10px;border-radius: 5px;line-height: 20px;margin-top: 0;" onclick="openSmsContent()">문자 설정</button>
		</div>
		<{/if}>
		<!-- 개인경비 안내문자 발송 END -->
	</form>

	<center>
		<div style="font-size:20px; font-weight:600;">
			<span>※<{$pre_month_deadline_date}> 개인경비 제출 기한은 </span>
			<{if permissionNameCheck($session_permission, '재무관리자') }>
				<span class="deadline-date-span"><{$deadline_date}></span>
				<button class="btn_big_search" onclick="openDeadLineForm();" style="padding: 3px 10px; height: auto; width: auto;">변경</button>
				<a href="work_list.php?sch_prd=179" target="_blank"><img src="./images/icon/new_win_icon.png"></a> 까지 입니다.
				<form name="deadline_frm" id="deadline_frm" method="post" style="display: none;" action="personal_expenses.php" class="deadline_frm">
					<input type="hidden" name="process" value="save_personal_date">
					<input type="hidden" id="f_w_no"  name="f_w_no" value="<{$deadline_w_no}>">
					<input type="text" id="f_deadline_date" class="date-picker" name="f_deadline_date" value="<{$deadline_date}>" required>
					<button class="btn_big_search" style="padding: 3px 10px; height: auto; width: auto;">저장</button>
				</form>
			<{else}>
				<span class="deadline-date-span"><{$deadline_date}></span>
				<a href="work_list.php?sch_prd=179" target="_blank"><img src="./images/icon/new_win_icon.png"></a> 까지 입니다.
			<{/if}>
			<span style="color:red;">
				<{if $deadline_d_day > 0 }>
					[제출기한이 종료되었습니다.]
				<{elseif $deadline_d_day == 0 }>
					[금일 제출 마감 입니다!!!]
				<{else}>
					[D<{$deadline_d_day}>일 남음]
				<{/if}>
			</span>
		</div>
	</center>

	<div class="table_list_style" style="margin: 20px 0;">
		<!-- 개인경비 등록하기 -->
		<div>
			<h2 style="font-size: 20px; float: left; margin-right: 15px;font-weight: bold;">개인경비 등록하기</h2>
			<input type="radio" name="chk_new_type" id="chk_new_type_multi" class="chk_new_type" value="apply_frm_new_multi" style="float: left; margin-top: 10px; cursor: pointer;" checked><label for="chk_new_type_multi" style="float: left; margin-left: 5px; line-height: 35px; cursor: pointer;">일괄 등록하기(법인카드)</label>
			<span style="float: left; margin: 8px 5px;">,</span>
			<input type="radio" name="chk_new_type" id="chk_new_type_indi" class="chk_new_type" value="apply_frm_new_indi" style="float: left; margin-top: 10px; cursor: pointer;"><label for="chk_new_type_indi" style="float: left; margin-left: 5px; line-height: 35px; cursor: pointer;">개별 등록하기(법인카드 외)</label>
		</div>

		<!-- 일괄 등록 -->
		<form name="apply_frm_new_multi" id="apply_frm_new_multi" class="list_form" method="post" enctype="multipart/form-data" style="clear: both;" action="personal_expenses.php">
			<input type="hidden" name="process" id="new_process">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="100" />
					<col width="180" />
					<col width="200" />
					<col width="250" />
					<col width="150" />
				</colgroup>
				<thead>
				<tr>
					<th class="first" style="height: 30px;">진행상태</th>
					<th>결제(년-월)</th>
					<th>일괄등록양식</th>
					<th>첨부파일</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="first" > <!-- 진행상태 -->
						<select name="f_state_new" class="select_type1">
							<option value="1">작성중</option>
						</select>
					</td>
					<td> <!-- 결제(년-월) -->
						<input type="text" class="month-picker input_type_date" name="f_payment_date_new" value="<{$pre_month_deadline_date}>"/><br>
					</td>
					<td> <!-- 일괄 등록 양식 -->
						<select name="f_insert_type_new" class="select_type2" style="width:180px;">
							<option value="">::선택::</option>
							<option value="1" selected>와이즈플래닛 개인경비양식</option>
							<option value="2">BC카드 승인내역</option>
						</select>
					</td>
					<td> <!-- 첨부파일 -->
						<input type="file" name="f_new_file">
					</td>
					<td> <!-- 업무추가-->
						<button type="button" style="width:120px;" onclick="return add_req_multi_record_file();" class="btn_big_memo">일괄 등록하기</button>
					</td>
				</tr>
				<tr>
					<td class="first"></td>
					<td></td>
					<td></td>
					<td colspan="2">
						<a type="application/octet-stream" href="./uploads/personal_expenses/wise_personal_excel_2024_new.xlsx" download="와이즈플래닛 개인경비 양식">
							<span style="float: left; margin: 0 5px 0 10px;">와이즈플래닛 개인경비 양식</span>
							<img src="images/common/ico/ico_file.gif" alt="와이즈플래닛 개인경비 양식" style="float: left; margin-top: 2px;">
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</form>

		<!-- 개별 등록 -->
		<form name="apply_frm_new_indi" id="apply_frm_new_indi" class="list_form" method="post" style="clear: both; display: none;" enctype="multipart/form-data" action="personal_expenses.php">
			<input type="hidden" name="process">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="100" />
					<col width="150" />
					<col width="100" />
					<col width="80" />
					<col width="100" />
					<col width="100" />
					<col width="100" />
					<col width="250" />
					<col width="100" />
					<col width="150" />
				</colgroup>
				<thead>
				<tr>
					<th class="first" style="height: 30px;">진행상태</th>
					<th>사업자</th>
					<th>제출자</th>
					<th>순번</th>
					<th>승인일시</th>
					<th>계정과목</th>
					<th>결제수단</th>
					<th>내용</th>
					<th>청구금액</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="first"> <!-- 진행상태 -->
						<select name="f_state_new" class="select_type1">
							<option value="1">작성중</option>
						</select>
					</td>
					<td> <!-- 사업자 -->
						<select name="f_my_c_no_new" class="select_type3" style="width:130px;">
							<option value="">::선택::</option>
							<{foreach from=$my_company_list key=key item=my_comp}>
							<option value="<{$key}>" <{if $key == $session_my_c_no}>selected<{/if}>><{$my_comp.c_name}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="link"> <!-- 이름 -->
						<select name="f_s_no_new" class="select_type2" style="width:80px;">
							<option value="<{$session_s_no}>"><{$session_name}></option>
							<{if $session_team == '00211'}> <!-- 경영지원팀의 경우 대표님 대리 등록가능 -->
							<option value="1">주경민</option>
							<{/if}>
						</select>
					</td>
					<td> <!-- 순번 -->
						<input type="number" name="f_priority_new" id="f_priority_new" min="1" max="100" style="width:39px; text-align: center;">
					</td>
					<td> <!-- 승인일시 -->
						<input type="text" class="date-picker input_type_date" name="f_payment_date_new" id="f_payment_date_new" value="<{$today}>"/><br>
					</td>
					<td> <!-- 계정과목 -->
						<select id="f_account_code_new" name="f_account_code_new" class="select_type2">
							<option value="">::선택::</option>
							<{foreach from=$kind_account_2_list key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 결제수단 -->
						<select name="f_wd_method_new" id="f_wd_method_new" class="select_type2" style="width:80px;">
							<option value="">::선택::</option>
							<{foreach from=$wd_method_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td > <!-- 상세내역 -->
						<input type="text" name="f_payment_contents_new" id="payment_contents_new" class="input_type4" style="width:290px; text-align: left;" />
					</td>
					<td class="money" style="color: #0026ff; text-align: center;"> <!-- 금액 -->
						<input type="text" name="f_money_new" id="f_money_new" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" style="color: #0026ff; text-align: left;">
					</td>
					<td> <!-- 업무추가-->
						<button type="button" style="width:120px;" onclick="return add_req_record();" class="btn_big_memo">개별 등록하기</button>
					</td>
				</tr>
				<tr id="multi_record_display">
					<td class="first" colspan="5">
						<img src="./images/add_req_multi_record_ex_re.jpg" width="90%">
					</td>
					<td class="alignL" colspan="4">
						<span style="color:red; font-size:12px;">※ '와이즈플래닛 개인경비양식'의 '3. 법인카드 외' 시트를 좌측과 같이 복사 붙여넣기 하세요</span><br>
						<textarea name="f_new_multi" rows="5" cols="130"></textarea>
					</td>
					<td> <!-- 일괄추가-->
						<button type="button" style="width:120px;" onclick="return add_req_multi_record();" class="btn_big_memo">일괄 추가하기</button>
					</td>
				</tr>

				<tr id="multi_record_display_btn_show">
					<td class="first alignR" colspan="10">
						<button type="button" style="width:340px; color:black; background-color:#d5d5d5;" onclick="multi_record_display('show','multi_record_display',this);" class="btn_small">▼ 기존 엑셀 양식으로 일괄 등록하기(열기) ▼</button>
					</td>
				</tr>

				<tr id="multi_record_display_btn_hide">
					<td class="first alignR" colspan="10">
						<button type="button" style="width:340px; color:black; background-color:#d5d5d5;" onclick="multi_record_display('hide','multi_record_display',this);" class="btn_small">▲ 기존 엑셀 양식으로 일괄 등록하기(닫기) ▲</button>
					</td>
				</tr>
				</tbody>
			</table>
		</form>

		<div class="right_wrap" style="margin-right: 145px;">
			<ul class="cat_style">
				<li>
					<{foreach from=$order_field_option key=key item=label}>
					<button onclick="sort_search('<{$key}>')">
					<{if $ord_type == $key}>
						<span style="color: red;">
						<{$label}><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}>
						</span>
					<{else}>
						<{$label}>
					<{/if}>
					</button>
					|
					<{/foreach}>
					<select name="ord_page_type_val" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</li>
			</ul>
		</div>

		<!-- 개인경비 리스트 -->
		<table cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<td colspan="14">
					<br>
					<{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.
				</td>
				<td style="text-align: right;color: red;font-weight: bold; font-size: 14px; padding: 2px 2px;">
					<br>
					￦ <{$total_pe_money|number_format:0}>
				</td>
			</tr>
			<tr>
				<form name="chk_form" id="chk_form" action="personal_expenses.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="process">
					<input type="hidden" name="chk_pe_no_list" class="chk_pe_no_list">
					<input type="hidden" name="search_url" value="<{$search_url}>">

					<th class="first" style="min-width:26px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th style="min-width:60px;">
						pe_no<br>
						<button type="button" style="width:40px; padding: 2px 2px; color:black; background-color:#d5d5d5;" onclick="multi_save_el('chk_pe_delete');" class="btn_small">삭제</button>
					</th>
					<th style="min-width:70px;">제출자</th>
					<th style="min-width:90px;">
						진행상태<br>
						<select name="chk_state" id="chk_state" style="background-color:lightgray;" class="select_type1" onchange="multi_save_el('chk_state');">
							<option value="">::선택::</option>
							<{foreach from=$pe_state_option key=key item=label}>
							<option value="<{$key}>" <{if $key != 2 && !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</th>
					<th style="min-width:140px;">사업자</th>
					<th style="min-width:65px;">작성일</th>
					<th style="min-width:140px; width:140px;">부서</th>
					<th style="min-width:88px;">카드명</th>
					<th style="min-width:55px;">순번</th>
					<th style="min-width:100px;">승인일시</th>
					<th style="min-width:120px;">
						계정과목
						<br>
						<select name="chk_account_code" id="chk_account_code" style="background-color:lightgray;" class="select_type1" onchange="multi_save_el('chk_account_code');">
							<option value="">::선택::</option>
							<{foreach from=$kind_account_2_list key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</th>
					<th style="min-width:90px;">
						결제수단
						<br>
						<select name="chk_wd_method" id="chk_wd_method" style="background-color:lightgray;" class="select_type1" onchange="multi_save_el('chk_wd_method');">
							<option value="">::선택::</option>
							<{foreach from=$wd_method_option key=key item=label}>
								<{if permissionNameCheck($session_permission, "재무관리자")}>
									<option value="<{$key}>" ><{$label}></option>
								<{elseif $key == '5' || $key == '7'}>
									<option value="<{$key}>" ><{$label}></option>
								<{/if}>
							<{/foreach}>
						</select>
					</th>
					<th style="min-width:40px; width: 60px;">카드번호</th>
					<th style="min-width:80px; width: 120px;">가맹점명</th>
					<th style="min-width:305px;">내용</th>
					<th style="min-width:120px;">청구금액</th>
				</form>
			</tr>
			</thead>
			<tbody>
			<{if $total_num > 0 && $personal_expenses_list}>
				<{foreach from=$personal_expenses_list item=personal_expenses}>
					<form name="apply_frm<{$personal_expenses.pe_no}>" id="apply_frm<{$personal_expenses.pe_no}>" class="list_form" method="post" enctype="multipart/form-data" action="personal_expenses.php">
						<input type="hidden" name="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="pe_no" id="pe_no" value="<{$personal_expenses.pe_no}>">
						<input type="hidden" name="wd_no" id="wd_no" value="<{$personal_expenses.wd_no}>">
						<tr <{if $personal_expenses.s_display == '3'}>style="background: #999;"<{/if}>>
							<td> <!-- checkbox -->
								<{if $personal_expenses.is_editable}>
									<input type="checkbox" name="select_check" class="select_check" value="<{$personal_expenses.pe_no}>">
								<{/if}>
							</td>
							<td> <!-- pe_no -->
								<{$personal_expenses.pe_no}>
								<br>
								<{if $personal_expenses.is_editable}>
									<a href="#" onclick="pe_duplicate('<{$personal_expenses.pe_no}>', '<{$personal_expenses.wd_method}>');"><span style="font-size:6px;">[복제]</span></a>
									<a href="#" onclick="pe_delete('<{$personal_expenses.pe_no}>');"><span style="font-size:6px;">[삭제]</span></a>
								<{/if}>
							</td>
							<td><!-- 제출자 -->
								<{$personal_expenses.req_s_name}>
							</td>
							<td> <!-- 진행상태 -->
								<!-- 재무관리자가 아니 거나 지급내역이 있는 경우 수정 불가 -->
								<select id="f_state" name="f_state" class="select_type1" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_state', this);" <{if !$personal_expenses.is_editable}>disabled<{/if}>>
								<{foreach from=$pe_state_option key=key item=label}>
									<option value="<{$key}>" <{if $personal_expenses.state == $key}>selected<{/if}> <{if !permissionNameCheck($session_permission,"재무관리자") && $key > 2}>disabled<{/if}>><{$label}></option>
								<{/foreach}>
								</select>
							</td>
							<td> <!-- 사업자 -->
								<select id="f_my_c_no" name="f_my_c_no" class="select_type3" style="width:130px;" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_my_c_no', this);" <{if !$personal_expenses.is_editable}>disabled<{/if}>>
									<{foreach from=$my_company_list key=key item=my_comp}>
									<option value="<{$key}>" <{if $personal_expenses.my_c_no == $key}>selected<{/if}>><{$my_comp.c_name}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="date">
								<span class="day" style="font-size: 10px;"><{$personal_expenses.regdate_day}></span><br /><span class="time" style="font-size: 10px;"><{$personal_expenses.regdate_time}></span>
							</td>
							<td style="text-align: left; font-size: 10px;"> <!-- 부서 -->
								<{if $personal_expenses.parent_group_name}>
								<span style="color: gray; font-size: 10px;"><{$personal_expenses.parent_group_name}></span><br/>
								<{/if}>
								<{$personal_expenses.group_name}>
							</td>
							<td class="link"> <!-- 카드명 -->
								<{$personal_expenses.card_name}>
							</td>
							<td style="background: lightyellow;"> <!-- 순번 -->
								<input type="number" name="f_priority" id="f_priority" min="1" max="100" value="<{$personal_expenses.priority}>" style="width:39px; text-align: center;" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_priority', this);" <{if !$personal_expenses.is_editable}>disabled<{/if}>>
							</td>
							<td style="background: lightyellow;"> <!-- 승인일시 -->
								<input type="text" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_payment_date', this);" class="date-picker input_type_date" name="f_payment_date<{$personal_expenses.pe_no}>" id="f_payment_date<{$personal_expenses.pe_no}>" value="<{$personal_expenses.payment_date}>"
									<{if !$personal_expenses.is_editable || $personal_expenses.wd_method  == '1' || $personal_expenses.wd_method  == '6'}>disabled<{/if}>
								>
							</td>
							<td style="background: lightyellow;"> <!-- 계정과목 -->
								<select id="f_account_code" name="f_account_code" class="select_type2" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_account_code', this);" <{if !$personal_expenses.is_editable}>disabled<{/if}>>
									<option value="">::선택::</option>
									<{foreach from=$kind_account_2_list key=key item=label}>
									<option value="<{$key}>" <{if $personal_expenses.account_code==$key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td style="background: lightyellow;"> <!-- 결제수단 -->
								<select id="f_wd_method" name="f_wd_method" class="select_type2" style="width:80px;" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_wd_method', this);" <{if !$personal_expenses.is_admin && (!$personal_expenses.is_editable || $personal_expenses.wd_method == '1' || $personal_expenses.wd_method == '6')}>disabled<{/if}>>
									<option value="">::선택::</option>
									<{foreach from=$wd_method_option key=key item=label}>
										<option value="<{$key}>" <{if $personal_expenses.wd_method == $key}>selected<{/if}> <{if !$personal_expenses.is_admin && ($key == '1' || $key == '6')}>disabled<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td style="background: lightyellow;"> <!-- 카드번호 -->
								<{$personal_expenses.card_num}>
							</td>
							<td style="background: lightyellow;"> <!-- 가맹점명 -->
								<{$personal_expenses.fran_c_name}>
							</td>
							<td class="alignL" style="background: lightyellow;"> <!-- 내용 -->
								<input type="text" name="f_payment_contents" id="payment_contents" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_payment_contents', this);" class="input_type4" style="width:290px;" value="<{$personal_expenses.payment_contents}>" <{if !$personal_expenses.is_editable}>disabled<{/if}>>
							</td>
							<td class="money" style="color: #0026ff; background: lightyellow;"> <!-- 청구금액 -->
								<input type="text" name="f_money" id="f_money" onfocus="this.value=''" onchange="save_el('<{$personal_expenses.pe_no}>', 'f_money', this);" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$personal_expenses.money|number_format:0}>" style="color: #0026ff"  <{if !$personal_expenses.is_editable}>disabled<{/if}>>
							</td>
						</tr>
					</form>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="16"> 등록된 자료가 없습니다.</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="16" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="16" class="list_button">
					<form name="apply_add" id="apply_add" class="list_form" method="post" enctype="multipart/form-data" action="personal_expenses.php">
						<input type="hidden" name="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="sch_month" id="sch_month" value="<{$sch_month}>">
					</form>
				</td>
			</tr>
			</tbody>
		</table>

		<div id="d_msg"></div>
	</div>
	<!-- //table_list_style -->

	<div class="right_wrap" style="margin-right: 135px;">
		<{if permissionNameCheck($session_permission,"재무관리자")}>
			<button onclick="location.href='excel_personal_expenses.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
			<button onclick="location.href='excel_personal_expenses_renew.php?<{$search_url}>';" class="btn_style1"><span>제출용 엑셀파일</span></button>
		<{elseif $session_s_no == '62'}>
			<button onclick="location.href='excel_personal_expenses.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
		<{/if}>
	</div>

	<{if $sch_month_all != "all"}>
		<div class="table_list_style">
			<button onclick="location.href='board/board_comment_list.php?sch_b_id=personal_expenses';" class="btn_style1" style="padding: 5px 10px; margin-left: 725px;"><span>댓글 전체보기</span></button>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="first" style="min-width:80px;">작성일</th>
						<th style="min-width:615px;">코멘트</th>
						<th style="min-width:88px;">부서/작성자</th>
						<th style="min-width:40px;">삭제</th>
					</tr>
				</thead>
				<tbody>
					<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="personal_expenses.php">
						<input type="hidden" name="process" id="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="cmt_no" id="cmt_no">

						<{foreach from=$pe_comment_list key=key item=comment}>
							<tr>
								<td class="first"> <!-- 작성일 -->
									<{$comment.regdate_day}><br>
									<{$comment.regdate_time}>
								</td>
								<td class="alignL"> <!-- 코멘트 -->
									<{$comment.comment}>
								</td>
								<td> <!-- 부서/작성자 -->
									<span style="font-size:9px; color:#a7a7a7;"><{$comment.t_name}><br></span>
									<{$comment.s_name}>
								</td>
								<td> <!-- pe_no -->
									<{if $comment.s_no != $session_s_no}>
									<a href="#" title="삭제가 불가능합니다. (작성자 본인만 삭제가능)"><span style="font-size:6px;"><del>[삭제]</del></span></a>
									<{else}>
									<a href="#" onclick="comment_delete('<{$comment.no}>');"><span style="font-size:6px;">[삭제]</span></a>
									<{/if}> <!-- 작성일 -->
								</td>
							</tr>
						<{/foreach}>
						<tr>
							<td class="first">
								<input type="hidden" name="f_pe_no_new" id="f_pe_no_new" value="<{$first_pe_no}>">
							</td>
							<td class="alignL">
								<textarea name="f_comment_new" id="f_comment_new" class="textarea_type3"></textarea>
							</td>
							<td>
								<button type="button" onclick="return comment_add();" class="btn_small"><span>코멘트<br>남기기</span></button>
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
					</form>
				</tbody>
			</table>
		</div>
		<!-- //table_list_style -->
	<{/if}>
</div>
<!-- //admin_content -->
<!-- 개인경비 안내문자 발송 START -->
<div class="modal" id="personal-sms-modal">
	<div class="modal-content">
		<form name="personal_sms_frm" id="personal_sms_frm" method="post" action="personal_expenses.php">
			<input type="hidden" name="process" value="save_sms_content">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<h2 style="font-size: 20px; font-weight: bold;">● 잔액확인 문자설정</h2>
			<p style="text-align: right;">
				SMS: 건당 18원<br>
				MMS: 건당 45.5원
			</p>
			<textarea name="sms_content" id="personal-sms-content"><{$personal_sms_content}></textarea>
			<div class="byte-cal">
				<span class="bytes">0</span> / 90 bytes
			</div>
			<button type="button" onclick="emptyCheck()" class="open-modal-btn">문자 설정 저장</button>
		</form>
	</div>
</div>
<style type="text/css">

</style>
<!-- 개인경비 안내문자 발송 END -->


<script>
    $(document).ready(function(){
		if(!$("#sch_team").attr('disabled')){
			$("#sch_team").combobox();
		}

		$(".chk_new_type").change(function(){
			var form_id = $(this).val();

			if(form_id == 'apply_frm_new_indi'){
				$("#apply_frm_new_multi").hide();
				$("#apply_frm_new_indi").show();
			}else{
				$("#apply_frm_new_indi").hide();
				$("#apply_frm_new_multi").show();
			}
		});

		$("#f_wd_method_new").change(function(){
			if($(this).val() == '1' || $(this).val() == '6'){
				alert("법인카드는 카드사 양식 등록으로만 가능합니다.");
				$(this).val("");
			}
		});

        $('textarea[name=sms_content]').keyup(function(){
            bytesHandler(this);
        });

        bytesHandler($('textarea[name=sms_content]'));

		$("#multi_record_display").hide();
		$("#multi_record_display_btn_show").show();
		$("#multi_record_display_btn_hide").hide();
		chk_month_all();
    });

    function openDeadLineForm()
	{
	    $(".deadline_frm").toggle();
    }

    function normal_search() {
        var f 		 = document.forms['search_form'];
		var ord_page = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();

		if(ord_type_by == '2'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}

		f.submit();
	}

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function add_req_multi_record_file()
    {
        eval("var f=document.getElementById('apply_frm_new_multi');");
        f.process.value = "add_req_multi_record_file";

        if (!f.f_payment_date_new.value) {
            alert("결제(년-월)을 입력해 주세요.");
            return false;
        }

        if (!f.f_insert_type_new.value) {
            alert("일괄등록양식을 선택해 주세요.");
            return false;
        }

        if (!f.f_new_file.value) {
            alert("첨부파일을 넣어 주세요.");
            return false;
        }

        f.submit();
    }

    function add_req_record()
    {
        eval("var f=document.getElementById('apply_frm_new_indi');");
        f.process.value = "add_req_record";

        if (!f.f_my_c_no_new.value) {
            alert("사업자를 선택해 주세요.");
            return false;
        }

        if (!f.f_s_no_new.value) {
            alert("담당자 확인이 안됩니다. 담당자를 선택해 주세요.");
            return false;
        }

        if (!f.f_payment_date_new.value) {
            alert("순번을 입력해 주세요.");
            return false;
        }

        if (!f.f_payment_date_new.value) {
            alert("승인일시를 입력해 주세요.");
            return false;
        }

        if (!f.f_account_code_new.value) {
            alert("계정과목을 선택해 주세요.");
            return false;
        }

        if (!f.f_wd_method_new.value) {
            alert("결제수단을 선택해 주세요.");
            return false;
        }

        if (!f.f_money_new.value) {
            alert("결제금액을 입력해 주세요.");
            return false;
        }

        f.submit();
    }

    function add_req_multi_record()
    {
        eval("var f=document.getElementById('apply_frm_new_indi');");
        f.process.value = "add_req_multi_record";

        if (!f.f_my_c_no_new.value) {
            alert("사업자를 선택해 주세요.");
            return false;
        }
        if (!f.f_s_no_new.value) {
            alert("담당자 확인이 안됩니다. 담당자를 선택해 주세요.");
            return false;
        }
        if (!f.f_new_multi.value) {
            alert("와이즈플래닛 개인경비양식'의 '3. 법인카드 외' 시트를 좌측과 같이 복사 붙여넣기 해주세요.");
            return false;
        }

        f.submit();
    }


    function multi_save_el(proc)
	{
        eval("var f=document.getElementById('chk_form');");
        f.process.value = proc;

		checkPeSelect();

        var pe_no_list 	= $(".chk_pe_no_list").val();
		var confirm_msg = "정말로 변경하시겠습니까?";

		if(!pe_no_list) {
			alert("선택한 항목이 없습니다.");
			return false;
		}

        if(proc == "chk_state"){
            if(!f.chk_state.value){
				alert("진행상태를 선택 후 이용해주세요");
                return false;
            }
        }else if(proc == "chk_account_code"){
            if(!f.chk_account_code.value){
				alert("계정과목 선택 후 이용해주세요");
                return false;
            }
        }else if(proc == "chk_wd_method"){
            if(!f.chk_wd_method.value){
				alert("결제수단 선택 후 이용해주세요");
                return false;
            }
        }else if(proc == "chk_pe_delete"){
			confirm_msg = "선택된 항목을 삭제 하시겠습니까?"
        }

		if (confirm(confirm_msg) == true){ // 확인
			f.submit();
		} else {
			return false;
		}
    }

    function openSmsContent(){
        $("#personal-sms-modal").modal({
            fadeDuration: 250
        });
    }

    function getTextLength(str) {
        var len = 0;
        for (var i = 0; i < str.length; i++) {
            if (escape(str.charAt(i)).length == 6) {
                len++;
            }
            len++;
        }
        return len;
    }

    function bytesHandler(obj){
        var text = $(obj).val();
        var len = getTextLength(text);
        $('span.bytes').text(len);

        if (len > 90)
            $('span.bytes').css('color', 'red');
        else
            $('span.bytes').css('color', 'black');
    }

    function emptyCheck(){

        if($("#personal-sms-content").val() == ""){
            alert('문자 내용을 입력해주세요');
            return false;
        }

        document.personal_sms_frm.submit();
    }

    function save_el(pe_no, proc, obj)
	{
        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        var f_account_code = f.f_account_code.value;

        if (val != "" || (proc == 'f_money' || proc == 'f_card_num')) { // 공백시 저장되도록 예외 (금액, 카드번호)
            $.post("personal_expenses.php", {pe_no : pe_no, process : proc, val : val, f_account_code : f_account_code}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function pe_delete(pe_no)
	{
        var f = document.forms['apply_frm' + pe_no];
        f.process.value = "pe_delete";

        if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }

    function pe_duplicate(pe_no, wd_mehod)
	{

        if(wd_mehod == '1' || wd_mehod == '6'){
            alert("법인카드는 카드사 양식 등록으로만 가능합니다.");
            return false;
        }

        var f = document.forms['apply_frm' + pe_no];
        f.process.value = "pe_duplicate";

        if (confirm("정말로 복제 하시겠습니까?") == true){
            f.submit();
        } else {
            return false;
        }
    }

    function set_withdraw()
	{
        eval("var f=document.getElementById('apply_add');");
        f.process.value = "set_withdraw";

        if ("<{$sch_month}>" == "") {
            alert("지급요청 년/월이 설정되지 않았습니다.\n년/월을 똑같이 설정하여 검색한 후 지급요청하세요.");
            location.href='personal_expenses.php?<{$search_url}>';
            return false;
        }

        if (confirm("<{$sch_month}> 전체 개인경비 지급을 요청 하시겠습니까??") == true) {
            f.submit();
        } else {
            return false;
        }
    }

    function multi_record_display(type){
        var f = document.forms['apply_frm_new'];

        if(type=='show'){
            $("#multi_record_display").show();
            $("#multi_record_display_btn_show").hide();
            $("#multi_record_display_btn_hide").show();
        }else if(type=='hide'){
            $("#multi_record_display").hide();
            $("#multi_record_display_btn_show").show();
            $("#multi_record_display_btn_hide").hide();
        }
    }

    // 코멘트 삭제 처리
    function comment_delete(no){
        var f = document.forms['comment_frm'];

        f.process.value = "comment_delete";
        f.cmt_no.value = no;

        // 확인 체크
        if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }

    // 코멘트 추가 처리
    function comment_add(){
        var f = document.forms['comment_frm'];

        f.process.value = "comment_add";

        if (!f.f_pe_no_new.value) {
            alert("pe_no를 선택해 주세요.");
            return false;
        }else if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }
        f.submit();
    }

	function select_check_all(chkall) {
		var chk = document.getElementsByName("select_check");
		for (var i = 0; i < chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkPeSelect()
	{
		var chk_pe_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_pe_no_list += ($(item).val() + ",");
			}
		});

		if(chk_pe_no_list != ""){
			chk_pe_no_list = chk_pe_no_list.slice(0, -1);
		}

		$(".chk_pe_no_list").val(chk_pe_no_list);
	}

    function chk_month_all()
	{
        eval("var f=document.getElementById('search_form');");

        if(f.sch_month_all.checked){
            f.sch_s_month.disabled = true;
            f.sch_e_month.disabled = true;
            f.sch_s_month.style.backgroundColor="lightgray";
            f.sch_e_month.style.backgroundColor="lightgray";
        }else{
            f.sch_s_month.disabled = false;
            f.sch_e_month.disabled = false;
            f.sch_s_month.style.backgroundColor="yellow";
            f.sch_e_month.style.backgroundColor="yellow";
        }
    }

</script>
</body>
</html>
