<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-control{font-size: 12px; display: inline-block; border-color: unset; padding: 3px;}
	.table_list_style table tbody td.link a{text-decoration: none;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form name="search_form" action="product_cms_list.php" method="get" enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<span class="name_tit">커머스 상품그룹</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_prd_g1_list item=prd_g1_data}>
								<option value="<{$prd_g1_data.k_name_code}>" <{if $sch_prd_g1 == $prd_g1_data.k_name_code}>selected<{/if}>><{$prd_g1_data.k_name}></option>
							<{/foreach}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_prd_g2_list item=prd_g2_data}>
								<option value="<{$prd_g2_data.k_name_code}>" <{if $sch_prd_g2 == $prd_g2_data.k_name_code}>selected<{/if}>><{$prd_g2_data.k_name}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">Display</span>
						<select name="sch_display" id="sch_display" class="select_type1" style="margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$display_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">업체명/브랜드명</span>
						<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type5" style="margin-right:15px;">

						<span class="name_tit">구분</span>
						<select name="sch_prd_type" id="sch_prd_type" class="select_type1" style="margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$prd_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_prd_type == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">상품명</span>
						<input type="text" name="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" style="margin-right:15px;">

						<span class="name_tit">상품코드</span>
						<input type="text" name="sch_prd_code" value="<{$sch_prd_code}>" class="input_type2" style="margin-right:15px;">

						<span class="name_tit">구성품명</span>
						<input type="text" name="sch_unit_name" value="<{$sch_unit_name}>" class="input_type5" style="margin-right:3px;">

						<input type="checkbox" name="sch_is_in_out" id="sch_is_in_out" value="2" <{if $sch_is_in_out == '2'}>checked<{/if}>>
						<label for="sch_is_in_out" style="cursor: pointer;">입/출고 정지</label>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">단독구매 상품변경</span>
						<select name="sch_solo_prd" id="sch_solo_prd" class="select_type3" style="width: 70px; margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$set_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_solo_prd == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">합포장설정</span>
						<select name="sch_combined_pack" id="sch_combined_pack" class="form-control" style="width: 80px; margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$set_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_combined_pack == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">사은품 타입</span>
						<select name="sch_gift_date_type" id="sch_gift_date_type" class="form-control" style="width: 120px; margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$gift_type_option key=key item=gift_type}>
							<option value="<{$key}>" <{if $sch_gift_date_type == $key}>selected<{/if}>><{$gift_type.title}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">사은품 ON/OFF</span>
						<select name="sch_gift_date_on_off" id="sch_gift_date_on_off" class="select_type3 form-control" style="width: 70px; margin-right:15px;">
							<option value="">::전체::</option>
							<{foreach from=$gift_date_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_gift_date_on_off == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">사은품 기간</span>
						<input type="text" name="sch_gift_s_date" class="date-picker form-control" value="<{$sch_gift_s_date}>">
						~
						<input type="text" name="sch_gift_e_date" class="date-picker form-control" value="<{$sch_gift_e_date}>" style="margin-right: 10px;">

						<span class="name_tit">담당자</span>
						<input type="text" name="sch_manager" class="input_type2" value="<{$sch_manager}>">

						<button type="submit" class="btn_small">검색</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<div class="table_list_style" style="margin-top: 10px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="14">
						<span style="float: left; display: inline-block; margin-top: 13px; margin-left: 3px;">
							<{$total_num}>개의 검색 결과가 나타났습니다.
							<{if $product_stop_cnt > 0}>
								<br/>
								<a href="/v1/product_cms_list.php?sch_is_in_out=2&sch_manager="><span style="color: red;">※주의 : 입/출고 정지 구성품이 포함된 상품이 <{$product_stop_cnt|number_format:0}>건 있습니다.</span></a>
							<{/if}>
						</span>
						<div style="float: right; margin-top: 9px;">
							<button onclick="sort_search('order_date');" style="margin-top: 8px;">최근 주문일순<span style="color:red;"><{if $ord_type == 'order_date'}><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}><{/if}></span></button>
							<button onclick="sort_search('quick_date');" style="margin-top: 8px;">최근 입/출고일순<span style="color:red;"><{if $ord_type == 'quick_date'}><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}><{/if}></span></button>

							<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
								<{foreach from=$page_type_option item=page_type}>
									<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:40px; width:40px; height: 50px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th style="min-width:40px; width:40px; height: 50px;">prd_no</th>
					<th style="min-width:65px; width:65px;">
						Display
						<select name="f_multi_display" id="f_multi_display" class="form-control" onchange="multiSaveDisplay();" style="width: 90%; padding: 3px;">
							<option value="">::선택::</option>
							<option value="1">ON</option>
							<option value="2">OFF</option>
						</select>
					</th>
					<th style="min-width:130px; width:130px;">상품그룹</th>
					<th style="min-width:35px; width:35px;">우선<br>순위</th>
					<th style="min-width:50px; width:50px;">구분</th>
					<th style="min-width:330px;">[업체명/브랜드명]<br>상품명</th>
					<th style="min-width:240px; width:240px;">상품구성</th>
					<th style="min-width:75px; width:75px;">상품코드</th>
					<th style="min-width:60px; width:60px;">MY QUICK<br/>SET<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
					<th style="min-width:60px; width:60px;">단독 구매 상품 변경</th>
					<th style="min-width:110px; width:110px;">합포장설정</th>
					<th style="min-width:92px; width:92px;">사은품 설정(A)</th>
					<th style="min-width:92px; width:92px;">사은품 설정(B)</th>
					<th style="min-width:100px; width:100px;">담당자<br>(부서)</th>
					<th style="min-width:200px; width:200px;">상품소개</th>
					<th style="min-width:100px; width:100px;">물류업체(발송지)</th>
					<th style="min-width:75px; width:75px;">최근 주문일</th>
					<th style="min-width:75px; width:75px;">최근 입/출고일</th>
					<th style="min-width:75px; width:75px;">작성일<br/>작성자</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="19"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$product_cms_list item=product_cms}>
						<form action="product_cms_list.php" method="post" name="product_frm_<{$product_cms.prd_no}>" id="product_frm_<{$product_cms.prd_no}>">
							<input type="hidden" name="prd_no" value="<{$product_cms.prd_no}>" />
							<input type="hidden" name="prd_code" value="<{$product_cms.prd_code}>" />
							<input type="hidden" name="search_url" value="<{$search_url}>" />
							<input type="hidden" name="process" id="process" value="" />
							<{assign var=unit_count value=$product_cms.prd_unit_list|@count}>
							<tr <{if $product_cms.display_name=="OFF"}>style="background-color: #999;"<{/if}>>
								<td class="first"> <!-- checkbox -->
									<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == $product_cms.manager}>
										<input type="checkbox" name="select_check[]" class="select_check" value="<{$product_cms.prd_no}>">
									<{/if}>
								</td>
								<td> <!-- prd_no -->
									<{$product_cms.prd_no}>
									<{if permissionNameCheck($session_permission,"마스터관리자")}>
									<button type="button" onclick="duplicateProduct('<{$product_cms.prd_no}>');">[복제]</button>
									<{/if}>
								</td>
								<td <{if $product_cms.display_name=="ON"}>class="colorR"<{/if}>> <!-- Display -->
									<{$product_cms.display_name}>
								</td>
								<td class="alignL"> <!-- 상품그룹 -->
									<{$product_cms.k_prd1_name}> > <{$product_cms.k_prd2_name}>
								</td>
								<td> <!-- 우선순위 -->
									<span style="color: #9e9e9e; font-size: 10px;"><{$product_cms.priority}></span>
								</td>
								<td> <!-- 구분 -->
									<{$product_cms.prd_type_name}>
								</td>
								<td style="background-color: #fffee3;" class="alignL link"> <!-- [업체명/브랜드명]<br>상품명 -->
									<div style="color:#808080;">
									[<{$product_cms.c_name}>]
									</div>
									<a href="product_cms_regist.php?no=<{$product_cms.prd_no}><{if $search_url}>&<{$search_url}><{/if}>"><{$product_cms.title}></a>
								</td>
								<td style="background-color: #fffee3; padding: 0; margin: 0;" class="alignL" > <!-- 구성품목명 -->
									<{if $product_cms.prd_unit_list}>
										<{assign var=idx value=1}>
										<table class="table_list_style" style="width: 100%; min-height: 66px; margin: 0;">
										<{foreach from=$product_cms.prd_unit_list item=prd_unit}>
											<tr>
												<td style="border-right: 0; font-size:11px; <{if $unit_count == $idx}>border-bottom: 0;<{/if}>" class="alignL">
													<{$prd_unit}>
												</td>
											</tr>
											<{assign var=idx value=$idx+1}>
										<{/foreach}>
										</table>
									<{/if}>
								</td>
								<td style="background-color: #fffee3;"> <!-- 상품코드 -->
									<{$product_cms.prd_code}>
								</td>
								<td style="min-width:60px; width:60px; font-size: 25px;">
									<span class="<{$product_cms.prd_no}>_quick_prd nav-star-wrapper <{if $product_cms.quick_prd }>nav-star-active<{/if}>" onclick="proc_quick_prd('<{$product_cms.prd_no}>', this)" attr-mode="<{if $product_cms.quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;"></span>
								</td>
								<td style="text-align: left;"><!-- 단독상품 변경 -->
									<{if $product_cms.solo_prd}>
										<span title="<{$product_cms.solo_prd_name}>"><{$product_cms.solo_prd}></span>
										<a href="product_cms_regist.php?no=<{$product_cms.solo_prd}>" target="_blank">
											<img src="./images/icon/new_win_icon.png">
										</a>
									<{/if}>
								</td>
								<td style="text-align: left; font-size: 11px;"><!-- 합포장설정 -->
									<{if $product_cms.combined_txt}>
										<span title="<{$product_cms.combined_prd_name}>"><{$product_cms.combined_txt}></span>
										<a href="product_cms_regist.php?no=<{$product_cms.combined_product}>" target="_blank">
											<img src="./images/icon/new_win_icon.png">
										</a>
									<{/if}>
								</td>
								<td style="text-align: center; font-size: 10px;"><!-- 사은품설정(A) -->
									<{if $product_cms.gift_date_type == '1'}>
										<span style="color: red;"><b>ON</b><br/></span>
										<{substr($product_cms.gift_s_date,0,16)}><br/>
										<{substr($product_cms.gift_e_date,0,16)}>
									<{else}>
										<span style="color: #BBB;">OFF</span>
									<{/if}>
								</td>
								<td style="text-align: center; font-size: 10px;"><!-- 사은품설정(B) -->
									<{if $product_cms.sub_gift_date_type == '1'}>
										<span style="color: red;"><b>ON</b><br/></span>
										<{substr($product_cms.sub_gift_s_date,0,16)}><br/>
										<{substr($product_cms.sub_gift_e_date,0,16)}>
									<{else}>
										<span style="color: #BBB;">OFF</span>
									<{/if}>
								</td>
								<td> <!-- 담당자 -->
									<{$product_cms.manager_name}><br>
									<span style="color: #9e9e9e; font-size: 10px;">(<{$product_cms.t_name}>)</span>
								</td>
								<td class="alignL description"> <!-- 상품소개 -->
									<textarea name="f_description" id="f_description" cols="20" rows="3" readonly style="width: 190px;" class="textarea_type4_readonly"><{$product_cms.description}></textarea>
								</td>
								<td> <!-- 물류업체(발송지) -->
									<{if $product_cms.log_c_no == 0}>
										<span style="color: red;"><img src="./images/icon/alert.jpg" style="width: 15px; cursor: pointer; margin-right: 5px;">발송불가!</span>
									<{else}>
										<{$product_cms.log_c_name}>
									<{/if}>
								</td>
								<td> <!-- 최근 주문일 -->
									<span style="color: #9e9e9e; font-size: 10px;"><{$product_cms.order_date}></span>
								</td>
								<td> <!-- 최근 입/출고일 -->
									<span style="color: #9e9e9e; font-size: 10px;"><{$product_cms.quick_date}></span>
								</td>
								<td> <!-- 작성일<br/>작성자 -->
									<span style="color:blue;"><{$product_cms.writer_day}></span>
									<br>
									<span style="color:green;"><{$product_cms.writer_time}></span>
									<{$product_cms.writer_name}>
								</td>
							</tr>
						</form>
					<{/foreach}>
				<{/if}>
				<tr>
					<td colspan="19" class="paging_wrap">
					  <div class="paging_wrap">
						  <{$page_list}>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="19" class="list_button">
						<div class="left_wrap"><button class="btn_style1" onclick="location.href='product_cms_regist.php?<{$search_url}>';"><span>상품 등록하기</span></button></div>
						<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_product_cms_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //product_content -->
</div>

<form name="chk_form" action="product_cms_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_prd_no_list" class="chk_prd_no_list">
	<input type="hidden" name="chk_value" class="chk_value">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});
	});

    function searchList(){
        document.search_form.submit();
    }

	function duplicateProduct(prd_no)
	{
		eval("var f=document.getElementById('product_frm_" + prd_no + "');");
		f.process.value = 'duplicate_product';

		if (confirm("상품을 복제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

    function sort_search(type)
    {
        var f = document.forms['search_form'];
        var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val(type);

        if(ord_type_by == '1'){
            $("#ord_type_by").val("2");
        }else if(ord_type_by == '2'){
            $("#ord_type_by").val("");
        }else{
            $("#ord_type_by").val("1");
        }

        f.submit();
    }

    // MY QUICK SET
    function proc_quick_prd(prd_no, obj)
    {
        var x        = $(obj).position();
        var status   = $(obj).attr('attr-mode');
        var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
        var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


        if(confirm(conf_msg))
        {
            var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

            $.post("ajax_proc_data.php", {
                process: process,
                quick_prd: prd_no,
                quick_type: "cms"
            }, function (data) {
                var result_data = JSON.parse(data);
                if(result_data.result)
				{
					if(result_data.status == 'add'){
						$(obj).addClass("nav-star-active");
					}else{
						$(obj).removeClass("nav-star-active");
					}

                    $(obj).attr('attr-mode', result_data.status);
                    d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
                    sort_quick_prd();
                    open_quick_prd();
                }
            });
        }
    }

    function sort_quick_prd()
    {
        $.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "cms"}, function(result){
        });
    }

    function open_quick_prd()
    {
        window.open('popup/quick_prd_set.php?sch_quick_type=cms','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
    }

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkPrdSelect()
	{
		var chk_prd_no_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_prd_no_list += ($(item).val() + ",");
			}
		});

		if(chk_prd_no_list != ""){
			chk_prd_no_list = chk_prd_no_list.slice(0, -1);
		}

		$(".chk_prd_no_list").val(chk_prd_no_list);
	}

	function multiSaveDisplay()
	{
		if(!$("#f_multi_display").val()){
			alert("display 선택 후 이용해주세요!");
			return false;
		}

		checkPrdSelect();

		if($(".chk_prd_no_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("Display 상태를 변경하시겠습니까?"))
		{
			document.chk_form.process.value = 'multi_save_display';
			document.chk_form.chk_value.value = $("#f_multi_display").val();
			document.chk_form.submit();
		}

		return false;
	}
</script>

</body>
</html>
