<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table_list_style table th, .table_list_style table td{vertical-align: middle;}
	.table_list_style table thead th{border: 1px solid black; color: black; background: rgba(119,119,119,0.5); padding: 5px;}
	.table_list_style table thead th.border-empty{border-right: 0;}
	.table_list_style table thead th.first{border-left: 1px solid black;}
	.table_list_style table tbody td{padding: 5px; border: 1px solid black;}
	.table_list_style table tbody td.first{border: 1px solid black;}
	.background-white{background: #FFFFFF !important;}
	.background-deep-blue{background: rgb(155,194,230) !important;}
	.background-blue{background: #9edefd4a !important;}
	.background-yellow{background: #FFF2CC !important;}
	.background-gray{background: #DDDDDD !important;}
	.background-deep-red{background: rgb(244,176,132) !important;}
	.background-red{background: rgb(252,228,214) !important;}
	.not-matching-background{background: rgb(244,176,132) !important;}
	.text-red{color: red;}
	.text-blue{color: #4472C4;}
	button.quick_search_btn{padding: 5px 20px; font-weight: bold; margin: 0 5px;}
	button.quick_active_btn{background: red;}
	button.staff_type_btn{background: #DDDDDD;padding: 10px 30px; font-weight: bold; margin: 0 5px; font-size: 14px;}
	button.staff_type_active_btn{background: #999;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_cms_stock_receipt_list.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" id="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="sch_not_empty" id="sch_not_empty" value="<{$sch_not_empty}>">
		<input type="hidden" name="sch_not_empty_except" id="sch_not_empty_except" value="<{$sch_not_empty_except}>">

		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div style="width: 100%; margin-bottom: 10px;">
			<input type="hidden" name="sch_staff_type" id="sch_staff_type" value="<{$sch_staff_type}>">
			<button type="button" class="btn staff_type_btn <{if $sch_staff_type == '1'}>staff_type_active_btn<{/if}>" attr-value="1">물류담당자용</button>
			<button type="button" class="btn staff_type_btn <{if $sch_staff_type == '2'}>staff_type_active_btn<{/if}>" attr-value="2">재무담당자용</button>
			<button type="button" class="btn staff_type_btn <{if $sch_staff_type == '3'}>staff_type_active_btn<{/if}>" attr-value="3">구매담당자용(확정원가)</button>
		</div>
		<div style="width: 100%">
			<input type="checkbox" name="check_not_empty" id="check_not_empty" value="1" <{if $sch_not_empty == '1'}>checked<{/if}>>
			<label for="check_not_empty" style="margin: 5px 5px 0; cursor: pointer;">전체 0인 항목 숨기기</label>

			<input type="checkbox" name="check_not_empty_except" id="check_not_empty_except" value="1" <{if $sch_not_empty_except == '1'}>checked<{/if}>>
			<label for="check_not_empty_except" style="margin: 5px 5px 0; cursor: pointer;">입고/반출 0인 항목 숨기기</label>

			<input type="checkbox" name="check_sum" id="check_sum" value="1" <{if $check_sum == '1'}>checked<{/if}>>
			<label for="check_sum" style="margin: 5px 5px 0; cursor: pointer;">단품/합포장 통합</label>

			<input type="checkbox" name="check_not_move_stock" id="check_not_move_stock" value="1" <{if $check_not_move_stock == '1'}>checked<{/if}>>
			<label for="check_not_move_stock" style="margin: 5px 5px 0; cursor: pointer;">재고이동 제외</label>
		</div>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<span class="name_tit">일자</span>
				<input type="text" name="sch_move_date" id="sch_move_date" class="month-picker form-control" value="<{$sch_move_date}>" style="font-size: 12px; display: inline-block;">
				<span style="margin-right:15px;"></span>

				<span class="name_tit">와이즈 구성품명</span>
				<input type="text" name="sch_option_name" id="sch_option_name" class="input_type3" value="<{$sch_option_name}>" style="width: 200px;"/>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">구분</span>
				<select name="sch_unit_type" id="sch_unit_type" class="form-control" style="font-size: 12px;display: inline-block;width: 80px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_unit_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_unit_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">물류업체</span>
				<select name="sch_log_c_no" id="sch_log_c_no" class="form-control" style="font-size: 12px;display: inline-block;width: 150px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_logistics_company_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_log_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">물류창고</span>
				<input type="text" name="sch_warehouse" id="sch_warehouse" class="input_type3" value="<{$sch_warehouse}>" style="width: 100px;"/>
				<input type="checkbox" name="sch_warehouse_all" id="sch_warehouse_all" value="1" <{if $sch_warehouse_all == '1'}>checked<{/if}>>
				<label for="sch_warehouse_all" style="margin: 5px 5px 0; cursor: pointer;">창고 전체 통합</label>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">재고관리코드(SKU)</span>
				<input type="text" name="sch_sku" id="sch_sku" class="input_type3" value="<{$sch_sku}>" style="width: 200px;"/>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">발주입고</span>
				<select name="sch_is_commerce" id="sch_is_commerce" class="form-control" style="font-size: 12px;display: inline-block;width: 150px;">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_commerce == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<input type="checkbox" name="sch_only_qty" id="sch_only_qty" value="1" <{if $sch_only_qty == '1'}>checked<{/if}>>
				<label for="sch_only_qty" style="margin: 5px 5px 0; cursor: pointer;">수량만 보기</label>

				<button class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
		<div style="margin: 10px 0; font-size: 14px; width: 2400px; line-height: 40px; overflow: hidden;">
			<div style="float: left; width: 120px; margin-right: 30px; text-align: right; font-weight: bold;">
				업체명/브랜드명
			</div>
			<div style="float: left; width: 2200px;">
				<input type="hidden" name="sch_brand" id="sch_brand" value="<{$sch_brand}>">
				<button type="button" onclick="quick_search('');" class="btn_small quick_search_btn <{if !$sch_brand}>quick_active_btn<{/if}>">전체</button>
				<{foreach from=$brand_option key=key item=label}>
					<button type="button" onclick="quick_search('<{$key}>');" class="btn_small quick_search_btn <{if $sch_brand == $key}>quick_active_btn<{/if}>"><{$label}></button>
				<{/foreach}>
			</div>
		</div>
		<div style="margin: 20px 0; font-size: 14px; width: 2400px; line-height: 40px; overflow: hidden;">
			<div style="float: left; width: 120px; margin-right: 30px; text-align: right; font-weight: bold;">
				물류업체
			</div>
			<div style="float: left; width: 2200px;">
				<button type="button" onclick="quick_ware_search('');" class="btn_small quick_search_btn <{if !$sch_log_c_no}>quick_active_btn<{/if}>">전체</button>
				<{foreach from=$logistics_company_list key=key item=label}>
					<button type="button" onclick="quick_ware_search('<{$key}>');" class="btn_small quick_search_btn <{if $sch_log_c_no == $key}>quick_active_btn<{/if}>"><{$label}></button>
				<{/foreach}>
			</div>
		</div>
		<div style="margin: 20px 0; font-size: 14px; width: 2400px; line-height: 40px; overflow: hidden;">
			<div style="float: left; width: 120px; margin-right: 30px; text-align: right; font-weight: bold;">
				제조업체(사급)
			</div>
			<div style="float: left; width: 2200px;">
				<button type="button" onclick="quick_ware_search('');" class="btn_small quick_search_btn <{if !$sch_log_c_no}>quick_active_btn<{/if}>">전체</button>
				<{foreach from=$contract_company_list key=key item=label}>
				<button type="button" onclick="quick_ware_search('<{$key}>');" class="btn_small quick_search_btn <{if $sch_log_c_no == $key}>quick_active_btn<{/if}>"><{$label}></button>
				<{/foreach}>
			</div>
		</div>
	</form>

	<{if $session_s_no == '9' || permissionNameCheck($session_permission,"마스터관리자")}>
		<div style="overflow: hidden; margin-top: 20px;">
			<form name="receipt_insert_frm" id="receipt_insert_frm" method="post" action="product_cms_stock_receipt_insert.php" enctype="multipart/form-data" style="float: left;">
				<input type="hidden" name="search_url" value="<{$search_url}>" />
				<strong style="display: inline-block; width: 140px; margin-right: 10px;">#기초재고 수량 엑셀 업로드</strong>
				<input type="text" name="receipt_month" id="receipt_month" class="month-picker form-control" value="<{$receipt_month}>" style="display: inline-block;" />
				<input type="file" name="receipt_file" id="receipt_file" style="width:250px; border: 1px solid #cccccc;">
				<button type="button" onclick="return receipt_insert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
				<a href="/v1/uploads/document/stock/receipt_sample.xls" download="재고자산수불부 sample">[sample download]</a>
			</form>
		</div>
		<div style="overflow: hidden; margin-top: 20px;">
			<form name="receipt_inspection_frm" id="receipt_inspection_frm" method="post" action="product_cms_stock_receipt_inspection.php" enctype="multipart/form-data" style="float: left;">
				<input type="hidden" name="search_url" value="<{$search_url}>" />
				<strong style="display: inline-block; width: 140px; margin-right: 10px;">#재고자산수불부 검토</strong>
				<input type="text" name="inspection_month" id="inspection_month" class="month-picker form-control" value="<{$sch_move_date}>" style="display: inline-block;" />
				<input type="file" name="inspection_file" id="inspection_file" style="width:250px; border: 1px solid #cccccc;" required>
				<button type="button" onclick="return receipt_inspection();" class="btn_file" style="padding:3px 10px">검토결과</button>
				<a href="/v1/uploads/document/stock/receipt_inspection_sample.xls" download="재고자산수불부 검토 sample">[sample download]</a>
			</form>
		</div>
		<div style="overflow: hidden; margin-top: 20px;">
			<form name="receipt_price_frm" id="receipt_price_frm" method="post" action="product_cms_stock_receipt_list.php" enctype="multipart/form-data" style="float: left;">
				<input type="hidden" name="process" value="apply_commerce_price" />
				<input type="hidden" name="search_url" value="<{$search_url}>" />
				<strong style="display: inline-block; width: 140px; margin-right: 10px;">#발주 확정원가 적용</strong>
				<input type="text" name="price_month" id="price_month" class="month-picker form-control" value="<{$sch_move_date}>" style="display: inline-block;" />
				<button type="button" onclick="return apply_commerce();" class="btn_file" style="padding:3px 10px">적용</button>
			</form>
		</div>
	<{/if}>

	<div style="margin-top: 10px;">
		<button type="button" class="btn btn-dark" onclick="searchCommerce()" style="font-size: 12px;">발주입고수 1건 이상 조회</button>
		<button type="button" class="btn btn-dark" onclick="searchEmptyBaseExcept()" style="font-size: 12px;">입고/반출 최소 1건 이상 조회</button>
	</div>

	<{if $sch_only_qty == '1'}>
		<{assign var=rec_cnt value=1}>
	<{else}>
		<{assign var=rec_cnt value=2}>
	<{/if}>
	<div class="table_list_style" style="margin-top: 30px;">
		<table class="table table-bordered" id="receipt_table" cellpadding="0" cellspacing="0"  style="width: auto;">
			<thead class="text-center">
				<tr class="text-right">
					<td colspan="<{if $sch_only_qty != '1'}>32<{else}>20<{/if}>" style="border: 0;">
						<button type="button" onclick="sort_search('in_base_qty')" style="float: left; margin-top: 10px;">기초재고 <{if $ord_type == 'in_base_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="float: left; margin: 10px 7px 0 7px; color: gray;">|</span>
						<button type="button" onclick="sort_search('in_qty')" style="float: left; margin-top: 10px;">입고합계 <{if $ord_type == 'in_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="float: left; margin: 10px 7px 0 7px; color: gray;">|</span>
						<button type="button" onclick="sort_search('out_qty')" style="float: left; margin-top: 10px;">반출합계 <{if $ord_type == 'out_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="float: left; margin: 10px 7px 0 7px; color: gray;">|</span>
						<button type="button" onclick="sort_search('out_base_qty')" style="float: left; margin-top: 10px;">기말재고 <{if $ord_type == 'out_base_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="float: left;margin-left: 30px;font-size: 14px;font-weight: bold;margin-top: 9px;"><{$sch_move_date}>월<{if $sch_log_c_name}> <{$sch_log_c_name}><{/if}></span>
					</td>
				</tr>
				<tr>
					<th colspan="10" class="first background-yellow" style="height: 40px;">합계</th>
					<th class="border-empty text-right"><{$total_in_base_qty|number_format:0}></th><!-- 기초재고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right">₩<{$total_in_base_price|number_format:0}></th><!-- 기초재고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_in_point_qty|number_format:0}></th><!-- 당기입고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_in_point_price|number_format:0}></th><!-- 당기입고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_in_move_qty|number_format:0}></th><!-- 이동입고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_in_move_price|number_format:0}></th><!-- 이동입고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_in_return_qty|number_format:0}></th><!-- 반품입고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_in_return_price|number_format:0}></th><!-- 반품입고 합계 금액 -->	<{/if}>
					<th class="border-empty background-white text-right"><{$total_in_etc_qty|number_format:0}></th><!-- 기타입고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_in_etc_price|number_format:0}></th><!-- 기타입고 합계 금액 --><{/if}>
					<th class="border-empty background-blue text-right"><{$total_in_qty|number_format:0}></th><!-- 입고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-blue">₩<{$total_in_price|number_format:0}></th><!-- 입고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_out_point_qty|number_format:0}></th><!-- 판매출고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_out_point_price|number_format:0}></th><!-- 판매출고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_out_move_qty|number_format:0}></th><!-- 이동출고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_out_move_price|number_format:0}></th><!-- 이동출고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_out_return_qty|number_format:0}></th><!-- 타계정출고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_out_return_price|number_format:0}></th><!-- 타계정출고 합계 금액 --><{/if}>
					<th class="border-empty background-white text-right"><{$total_out_etc_qty|number_format:0}></th><!-- 기타출고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-white">₩<{$total_out_etc_price|number_format:0}></th><!-- 기타출고 합계 금액 --><{/if}>
					<th class="border-empty background-red text-right"><{$total_out_qty|number_format:0}></th><!-- 출고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right background-red">₩<{$total_out_price|number_format:0}></th><!-- 출고 합계 금액 --><{/if}>
					<th class="border-empty text-right"><{$total_out_base_qty|number_format:0}></th><!-- 기말재고 합계 수량 -->
					<{if $sch_only_qty != '1'}><th class="text-right">₩<{$total_out_base_price|number_format:0}></th><!-- 기말재고 합계 금액 --><{/if}>
				</tr>
				<tr>
					<th class="first" style="min-width:60px; width: 60px;" rowspan="2">NUM</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">업체명/브랜드명</th>
					<th style="min-width:220px; width: 220px; height: 60px;" rowspan="2">와이즈 구성품명</th>
					<th style="min-width:60px; width: 6px;" rowspan="2">구분</th>
					<th style="min-width:140px; width: 140px;" rowspan="2">물류업체</th>
					<th style="min-width:140px; width: 140px;" rowspan="2">창고</th>
					<th style="min-width:200px; width: 200px;" rowspan="2">재고관리코드(SKU)</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">확정 원가<br/>(VAT별도)</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">확정 원가<br/>(VAT별도)<br/>입력현황</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">평균 원가</th>
					<th style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">기초재고</th>
					<th class="background-deep-blue" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">구매입고</th>
					<th class="background-deep-blue" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{elseif $sch_log_c_no == '5484' || $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '1113' || $sch_log_c_no == '5777'}>min-width:150px; width: 150px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">이동입고</th>
					<th class="background-deep-blue" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">반품입고</th>
					<th class="background-deep-blue" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">기타입고</th>
					<th class="background-deep-blue" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">입고합계</th>
					<th class="background-deep-red" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{elseif $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '5777'}>min-width:150px; width: 150px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">
						판매반출
						<{if $sch_log_c_no && ($sch_log_c_no != "2809" && $sch_log_c_no != "1113" && $sch_log_c_no != "5484")}>
							<button type="button" class="btn btn-dark" onclick="applyOutPointStock()" style="font-size: 12px; padding: 5px; font-weight: bold;">외부창고 판매반출 적용</button>
						<{/if}>
					</th>
					<th class="background-deep-red" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{elseif $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '5777'}>min-width:150px; width: 150px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">이동반출</th>
					<th class="background-deep-red" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">
						타계정반출
						<{if $sch_only_qty == '1'}><br/><{/if}>
						<a href="product_cms_stock_other_list.php?sch_move_mon=<{$sch_move_date}>&<{$sch_brand_url}>" target="_blank" style="background: lightgray; color: black; padding: 3px 10px; border-radius: 3px; margin-left: 5px;">상세리스트</a>
					</th>
					<th class="background-deep-red" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">기타반출</th>
					<th class="background-deep-red" style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">반출합계</th>
					<th style="<{if $sch_only_qty != '1'}>min-width:200px; width: 200px;<{else}>min-width:100px; width: 100px;<{/if}>" colspan="<{$rec_cnt}>">기말재고</th>
				</tr>
				<tr>
					<th style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th style="min-width:120px; width: 120px;">금액</th><{/if}>
					<!-- 입고쪽 수량 금액 -->
					<th class="background-deep-blue" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-blue" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-blue" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-blue" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-blue" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-blue" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-blue" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-blue" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-blue" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-blue" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<!-- 출고 쪽 수량 금액 -->
					<th class="background-deep-red" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-red" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-red" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-red" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-red" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-red" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-red" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-red" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th class="background-deep-red" style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th class="background-deep-red" style="min-width:120px; width: 120px;">금액</th><{/if}>
					<th style="min-width:80px; width: 80px;">수량</th>
					<{if $sch_only_qty != '1'}><th style="min-width:120px; width: 120px;">금액</th><{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $product_receipt_list}>
					<{foreach from=$product_receipt_list item=product_receipt}>
					<tr>
						<td class="first text-center"> <!--고유키 -->
							<{$product_receipt.prd_key}>
						</td>
						<td class="text-left"> <!--브랜드명 -->
							<{$product_receipt.brand_name}>
						</td>
						<td class="background-blue text-left"> <!--구성품명 -->
							<{$product_receipt.option_name}>
						</td>
						<td> <!-- 구분 -->
							<{$product_receipt.unit_type_name}>
						</td>
						<td> <!-- 물류업체 -->
							<{$product_receipt.log_company}>
						</td>
						<td class="text-left"> <!-- 창고 -->
							<{$product_receipt.warehouse}>
						</td>
						<td class="text-left"> <!-- 재고관리코드(SKU) -->
							<{$product_receipt.sku}>
						</td>
						<td class="background-yellow text-right <{if $product_receipt.live_org_price > 0 && ($product_receipt.live_org_price != $product_receipt.org_price)}>not-matching-background<{/if}>"> <!-- 원가(VAT별도)(공급가+기타비용) -->
							₩<{$product_receipt.live_org_price|number_format:1}>
							<a href="commerce_order_stock.php?sch_multi_state=1&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_team=all&sch_s_no=all" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
						</td>
						<td class="background-yellow text-right <{if $product_receipt.live_org_price > 0 && ($product_receipt.live_org_price != $product_receipt.org_price)}>not-matching-background<{/if}>"> <!-- 확정 원가(VAT별도) -->
							₩<{$product_receipt.org_price|number_format:1}>
						</td>
						<td class="background-yellow text-right"> <!-- 평균 원가 -->
							₩<{$product_receipt.avg_price|number_format:1}>
						</td>
						<td class="background-gray text-right"> <!-- 기초재고 수량 -->
							<{if $sch_warehouse_all == '1'}>
								<{$product_receipt.in_base_qty|number_format:0}>
							<{else}>
								<input type="text" name="f_in_base_qty" class="form-control" value="<{$product_receipt.in_base_qty|number_format}>" onfocus="this.value=''" onchange="inputNumberFormat(this);save_el('<{$product_receipt.no}>', 'f_in_base_qty', this);" style="font-size: 12px;width: 80px;display: inline-block;padding: 1px 5px 1px 1px;text-align: right;" <{if $sch_staff_type != '1' || $check_sum == "1"}>disabled<{/if}>>
								<br/>
								<{if $product_receipt.in_base_qty_diff != 0}>
									<{if $product_receipt.in_base_qty_diff > 0}>
										<b style="color: blue;">(+<{$product_receipt.in_base_qty_diff|number_format:0}>)</b>
									<{else}>
										<b style="color: red;">(<{$product_receipt.in_base_qty_diff|number_format:0}>)</b>
									<{/if}>
								<{/if}>
								<span style="color: grey; font-size: 14px; margin-right: 5px;"><{$product_receipt.in_base_qty_dev|number_format:0}></span>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
							<td class="background-gray text-right"> <!-- 기초재고 금액 -->
								₩<{$product_receipt.in_base_price|number_format:0}>
							</td>
						<{/if}>
						<td class="text-right text-blue"> <!-- 구매입고 수량 -->
							<{if $sch_warehouse_all != '1'}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=1&add_stock_type=1" target="_blank" style="float: left;text-decoration: unset;font-weight: bold; font-size: 17px;">
									+
								</a>
							<{/if}>
							<{$product_receipt.in_point_qty|number_format:0}>
							<{if $sch_warehouse_all != '1'}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=1" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-blue"> <!-- 구매입고 금액 -->
							₩<{$product_receipt.in_point_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-blue"> <!-- 이동입고 수량 -->
							<{if $sch_warehouse_all != '1'}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=3&add_stock_type=3" target="_blank" style="float: left;text-decoration: unset;font-weight: bold; font-size: 17px;">
									+
								</a>
							<{/if}>
							<{if $sch_log_c_no == '5484' || $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '1113' || $sch_log_c_no == '5777'}>
								입고/반출 : <{$product_receipt.in_move_sub_qty|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=&sch_confirm_state=3&sch_except_term=1" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
								<br/>
								<{if $product_receipt.in_move_qty_diff != 0}>
									<{if $product_receipt.in_move_qty_diff > 0}>
										<b style="color: blue;">(+<{$product_receipt.in_move_qty_diff|number_format:0}>)</b>
									<{else}>
										<b style="color: red;">(<{$product_receipt.in_move_qty_diff|number_format:0}>)</b>
									<{/if}>
								<{/if}>
								기간입고 :<{$product_receipt.in_move_qty_dev|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=기간이동입고&sch_confirm_state=3" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
							<{else}>
								<{$product_receipt.in_move_qty|number_format:0}>
								<{if $product_receipt.in_org_move_qty != 0 && $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_transfer_list.php?sch_move_s_date=<{$sch_reg_s_date}>&sch_move_e_date=<{$sch_reg_e_date}>&sch_option_complete=1&sch_in_sku=<{$product_receipt.sch_sku}>&sch_in_warehouse=<{$product_receipt.warehouse}>" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
								<{if $product_receipt.in_move_sub_qty != 0}>
									<br/>
									(
										<{$product_receipt.in_move_sub_qty|number_format:0}>
										<{if $sch_warehouse_all != '1'}>
										<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=&sch_confirm_state=3" target="_blank">
											<img src="./images/icon/new_win_icon.png">
										</a>
										<{/if}>
									)
								<{/if}>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-blue"> <!-- 이동입고 금액 -->
							₩<{$product_receipt.in_move_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-blue"> <!-- 반품입고 수량 -->
							<{$product_receipt.in_return_qty|number_format:0}>
							<{if $sch_warehouse_all != '1'}>
							<a href="work_cms_return_list.php?sch_quick_prd=<{$product_receipt.prd_unit}>&sch_quick_mon=<{$sch_move_date}>&ord_page_type=100" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-blue"> <!-- 반품입고 금액 -->
							₩<{$product_receipt.in_return_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-blue"> <!-- 기타입고 수량 -->
							<{$product_receipt.in_etc_qty|number_format:0}>
							<{if $sch_warehouse_all != '1'}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=4" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-blue"> <!-- 기타입고 금액 -->
							₩<{$product_receipt.in_etc_price|number_format:0}>
						</td>
						<{/if}>
						<td class="background-blue text-right text-blue"> <!-- 입고합계 수량 -->
							<{$product_receipt.in_qty|number_format:0}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="background-blue text-right text-blue"> <!-- 입고합계 금액 -->
							₩<{$product_receipt.in_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-red"> <!-- 판매반출 수량 -->
							<{if $sch_warehouse_all != '1'}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_confirm_state=9&sch_stock_type=<{$product_receipt.warehouse}>&add_stock_type=9" target="_blank" style="float: left;text-decoration: unset;font-weight: bold; font-size: 17px;">
									+
								</a>
							<{/if}>
							<{if $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '5777'}>
								입고/반출 : <{$product_receipt.out_point_qty|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=9&sch_except_term=1" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
								<br/>

								<{if $product_receipt.out_point_qty_diff != 0}>
									<{if $product_receipt.out_point_qty_diff > 0}>
										<b style="color: blue;">(+<{$product_receipt.out_point_qty_diff|number_format:0}>)</b>
									<{else}>
										<b style="color: red;">(<{$product_receipt.out_point_qty_diff|number_format:0}>)</b>
									<{/if}>
								<{/if}>
								기간반출 : <{$product_receipt.out_point_qty_dev|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=기간판매반출" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
							<{else}>
								<{$product_receipt.out_point_qty|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=9&sch_except_term=1" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-red"> <!-- 판매반출 금액 -->
							₩<{$product_receipt.out_point_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-red"> <!-- 이동반출 수량 -->
							<{if $sch_log_c_no == '5659' || $sch_log_c_no == '5956' || $sch_log_c_no == '5777'}>
								입고/반출 : <{$product_receipt.out_move_sub_qty|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=&sch_confirm_state=6&sch_except_term=1" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
								<br/>
								<{if $product_receipt.out_move_qty_diff != 0}>
									<{if $product_receipt.out_move_qty_diff > 0}>
										<b style="color: blue;">(+<{$product_receipt.out_move_qty_diff|number_format:0}>)</b>
									<{else}>
										<b style="color: red;">(<{$product_receipt.out_move_qty_diff|number_format:0}>)</b>
									<{/if}>
								<{/if}>
								기간반출 :<{$product_receipt.out_move_qty_dev|number_format:0}>
								<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_state=기간이동반출&sch_confirm_state=6" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
							<{else}>
								<{$product_receipt.out_move_qty|number_format:0}>
								<{if $product_receipt.out_org_move_qty != 0 && $sch_warehouse_all != '1'}>
								<a href="product_cms_stock_transfer_list.php?sch_move_s_date=<{$sch_reg_s_date}>&sch_move_e_date=<{$sch_reg_e_date}>&sch_option_complete=1&sch_out_sku=<{$product_receipt.sch_sku}>&sch_out_warehouse=<{$product_receipt.warehouse}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
								<{/if}>
								<{if $product_receipt.out_move_sub_qty != 0}>
									<br/>
									(<{$product_receipt.out_move_sub_qty|number_format:0}>)
									<{if $sch_warehouse_all != '1'}>
									<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=6" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
									<{/if}>
								<{/if}>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-red"> <!-- 이동반출 금액 -->
							₩<{$product_receipt.out_move_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-red"> <!-- 타계정반출 수량 -->
							<{$product_receipt.out_return_qty|number_format:0}>
							<{if $sch_warehouse_all != '1'}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=10" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-red"> <!-- 타계정반출 금액 -->
							₩<{$product_receipt.out_return_price|number_format:0}>
						</td>
						<{/if}>
						<td class="text-right text-red"> <!-- 기타반출 수량 -->
							<{$product_receipt.out_etc_qty|number_format:0}>
							<{if $sch_warehouse_all != '1'}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_reg_s_date}>&sch_e_regdate=<{$sch_reg_e_date}>&sch_log_company=<{$product_receipt.log_c_no}>&sch_prd_sku=<{$product_receipt.sch_sku}>&sch_stock_type=<{$product_receipt.warehouse}>&sch_confirm_state=8" target="_blank">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<{/if}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="text-right text-red"> <!-- 기타반출 금액 -->
							₩<{$product_receipt.out_etc_price|number_format:0}>
						</td>
						<{/if}>
						<td class="background-red text-right text-red"> <!-- 출고합계 수량 -->
							<{$product_receipt.out_qty|number_format:0}>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="background-red text-right text-red"> <!-- 출고합계 금액 -->
							₩<{$product_receipt.out_price|number_format:0}>
						</td>
						<{/if}>
						<td class="background-gray text-right"> <!-- 기말재고 수량 -->
							<{if $sch_warehouse_all != '1' && $last_receipt_month > $sch_move_date}>
								<input type="text" name="f_out_base_qty" class="form-control" value="<{$product_receipt.out_base_qty|number_format}>" onfocus="this.value=''" onchange="inputNumberFormat(this);save_el('<{$product_receipt.no}>', 'f_out_base_qty', this);" style="font-size: 12px;width: 80px;display: inline-block;padding: 1px 5px 1px 1px;text-align: right;" <{if $sch_staff_type != '1' || $check_sum == "1"}>disabled<{/if}>>
							<{else}>
								<span style="font-size: 11pt; font-weight: bold;">
									<{$product_receipt.out_base_qty|number_format:0}>
								</span>
							<{/if}>
							<br/>
							<{if $product_receipt.out_base_qty_diff != 0}>
								<{if $product_receipt.out_base_qty_diff > 0}>
									<b style="color: blue;font-size: 11pt;">(+<{$product_receipt.out_base_qty_diff|number_format:0}>)</b>
								<{else}>
									<b style="color: red;font-size: 11pt;">(<{$product_receipt.out_base_qty_diff|number_format:0}>)</b>
								<{/if}>
							<{/if}>
							<span style="font-size: 11pt; font-weight: bold; color:grey;">
								<{$product_receipt.out_base_qty_dev|number_format:0}>
							</span>
						</td>
						<{if $sch_only_qty != '1'}>
						<td class="background-gray text-right"> <!-- 기말재고 금액 -->
							₩<{$product_receipt.out_base_price|number_format:0}>
						</td>
						<{/if}>
					</tr>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div class="left_wrap">
		<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('receipt_table');" />
		<button class="btn_style1" onclick="location.href='excel_product_cms_stock_receipt_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<form name="chk_form" action="product_cms_stock_receipt_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="chk_month" value="<{$sch_move_date}>">
	<input type="hidden" name="chk_log_c_no" value="<{$sch_log_c_no}>">
</form>

<script type="text/javascript">

	$(document).ready(function(){
		$("#check_not_empty").click(function(){
			if($(this).is(":checked")){
				$("#sch_not_empty").val(1);
			}else{
				$("#sch_not_empty").val(2);
			}
		});

		$("#check_not_empty_except").click(function(){
			if($(this).is(":checked")){
				$("#sch_not_empty_except").val(1);
			}else{
				$("#sch_not_empty_except").val(2);
			}
		});

		$(".staff_type_btn").click(function(){
			var staff_type = $(this).attr('attr-value');
			$("#sch_staff_type").val(staff_type);

			if(staff_type == 1){
				$("#sch_log_c_no").val("");

				if(!$("#sch_only_qty").is(":checked")){
					$("#sch_only_qty").click();
				}

				if($("#sch_warehouse_all").is(":checked")){
					$("#sch_warehouse_all").click();
				}

			}else if(staff_type == 2){

				$("#sch_log_c_no").val("");

				if(!$("#sch_warehouse_all").is(":checked")){
					$("#sch_warehouse_all").click();
				}

				if($("#sch_only_qty").is(":checked")){
					$("#sch_only_qty").click();
				}

				if(!$("#check_sum").is(":checked")){
					$("#check_sum").click();
				}

				if(!$("#check_not_move_stock").is(":checked")){
					$("#check_not_move_stock").click();
				}

			}else if(staff_type == 3){
				$("#sch_log_c_no").val(2809);

				if(!$("#sch_warehouse_all").is(":checked")){
					$("#sch_warehouse_all").click();
				}

				if($("#sch_only_qty").is(":checked")){
					$("#sch_only_qty").click();
				}

				if(!$("#check_sum").is(":checked")){
					$("#check_sum").click();
				}

				if(!$("#check_not_move_stock").is(":checked")){
					$("#check_not_move_stock").click();
				}
			}

			document.search_form.submit();
		});
	});

    function searchList(){
        document.search_form.submit();
    }

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-')
			obj.value = comma(uncomma(obj.value));
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (val != "") { // 공백시 저장안됨
			$.post("product_cms_stock_receipt_list.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				console.log(result);
			});
		}
	}

	function quick_search(brand)
	{
		document.search_form.sch_brand.value=brand;
		document.search_form.submit();
	}

	function quick_ware_search(log_c_no)
	{
		document.search_form.sch_log_c_no.value=log_c_no;
		document.search_form.submit();
	}

	function receipt_insert()
	{
		var f = document.forms['receipt_insert_frm'];

		if(!$('#receipt_month').val()){
			alert("월을 선택해주세요");
			return;
		}

		if(!$('#receipt_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 기초재고에 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function receipt_inspection()
	{
		var f = document.forms['receipt_inspection_frm'];

		if(!$('#inspection_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("검토 결과를 확인하시겠습니까??")) { // 확인
			var inspectionWindow = "inspectionWindow";
			window.open('', inspectionWindow, "scrollbars=yes,width=1400,height=1000,location=no, resizable=yes");
			f.target=inspectionWindow;
			f.submit();
		} else { //취소
			return;
		}
	}

	function apply_commerce()
	{
		var f = document.forms['receipt_price_frm'];

		if(!$('#price_month').val()){
			alert("월을 선택해주세요");
			return;
		}

		var apply_month = $('#price_month').val();
		var msg 		=apply_month + " 월 확정원가를 적용시키시겠습니까?";

		if (confirm(msg)) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function searchCommerce()
	{
		$("#sch_is_commerce").val(1);
		searchList();
	}

	function searchEmptyBaseExcept()
	{
		$("#sch_not_empty_except").val(1);
		searchList();
	}

	function sort_search(type)
	{
		var ori_ord_type 	= $("#ori_ord_type").val();
		var ord_type_by 	= $("#ord_type_by").val();

		$("#ord_type").val(type);

		if(ori_ord_type == type)
		{
			if(ord_type_by == '1'){
				$("#ord_type_by").val("2");
			}else if(ord_type_by == '2'){
				$("#ord_type_by").val("1");
			}
		}else{
			if(!ord_type_by){
				$("#ord_type_by").val("2");
			}
		}

		searchList();
	}

	function applyOutPointStock()
	{
		if(confirm("외부창고 판매반출 데이터를 적용하시겠습니까?"))
		{
			document.chk_form.process.value  = 'f_apply_out_point_stock';
			document.chk_form.submit();

		}

		return false;
	}
</script>

</body>
</html>
