<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.reg_active{background: #3093c2 !important;}
	button.quick_search_btn{padding: 5px 20px; margin: 0 5px;}
	button.quick_active_btn{background: red;}
	.work-td{background: rgba(155,187,89,0.5);}
	#apply_frm_new .form-control{font-size: 12px; padding: 1px; margin: 0; width: 99%;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" action="product_cms_stock_report_list.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0 0;">
			<div class="left_wrap">
				<div id="sch_detail_display">
					<div>
						<span class="name_tit">구분</span>
						<select name="sch_report_type" id="sch_report_type" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$report_type_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_report_type == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">NO</span>
						<input type="text" class="input_type3" id="sch_no" name="sch_no" value="<{$sch_no}>" style="width: 60px;"/>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">일자</span>
						<input type="text" class="date-picker input_type_date" id="sch_s_regdate" name="sch_s_regdate" value="<{$sch_s_regdate}>" />
						~
						<input type="text" class="date-picker input_type_date" id="sch_e_regdate" name="sch_e_regdate" value="<{$sch_e_regdate}>" />
						<span style="margin-right:15px;"></span>

						<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
						<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
						<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
						<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
						<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
						<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
						<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
						<button type="button" onclick="regdateVal('today')" class="btn_small reg_date_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" >오늘</button>
						<button type="button" onclick="regdateVal('week')" class="btn_small reg_date_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>">1주</button>
						<button type="button" onclick="regdateVal('month')" class="btn_small reg_date_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>">1달</button>
						<button type="button" onclick="regdateVal('months')" class="btn_small reg_date_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>">3달</button>
						<button type="button" onclick="regdateVal('year')" class="btn_small reg_date_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>">1년</button>
						<button type="button" onclick="regdateVal('years')" class="btn_small reg_date_btn reg_year_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>">2년</button>
						<span style="margin-right:20px;"></span>

						<span class="name_tit">입고/반출</span>
						<select name="sch_type" id="sch_type" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$type_option key=type item=label}>
							<option value="<{$type}>" <{if $sch_type == $type}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">입고/반출형태</span>
						<select name="sch_state" id="sch_state" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$state_option item=label}>
							<option value="<{$label}>" <{if $sch_state == $label}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<input type="checkbox" name="sch_except_term" id="sch_except_term" value="1" <{if $sch_except_term == '1'}>checked<{/if}>><label for="sch_except_term">기간제외</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">확정 입고/반출형태</span>
						<select name="sch_confirm_state" id="sch_confirm_state" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$confirm_state_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_confirm_state == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">재고이동 추가</span>
						<select name="sch_add_move" id="sch_add_move" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_add_move == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">타물류 추가</span>
						<select name="sch_is_connect" id="sch_is_connect" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_is_connect == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div>
						<span class="name_tit">문서번호</span>
						<input type="text" name="sch_log_doc_no" value="<{$sch_log_doc_no}>" class="input_type5" style="width: 120px" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<input type="checkbox" name="sch_is_log_doc" id="sch_is_log_doc" value="1" <{if $sch_is_log_doc == '1'}>checked<{/if}>><label for="sch_is_log_doc">有</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">반출::계정과목</span>
						<select name="sch_log_subject" id="sch_log_subject" class="select_type2" style="width: 120px;">
							<option value="">::전체::</option>
							<{foreach from=$log_subject_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_log_subject == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">납품업체</span>
						<select name="sch_log_run_c_no" id="sch_log_run_c_no" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$log_run_company_list key=run_c_no item=label}>
							<option value="<{$run_c_no}>" <{if $sch_log_run_c_no == $run_c_no}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:20px;"></span>

						<span class="name_tit">공급업체</span>
						<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$sup_c_list key=sup_c_no item=label}>
							<option value="<{$sup_c_no}>" <{if $sch_sup_c_no == $sup_c_no}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:20px;"></span>

						<span class="name_tit">와이즈 구성품명</span>
						<input type="text" name="sch_option_name" value="<{$sch_option_name}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">물류업체</span>
						<select name="sch_log_company" id="sch_log_company" class="select_type2" style="width: 120px;">
							<option value="">::전체::</option>
							<{foreach from=$log_company_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_log_company == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">재고관리코드(SKU)</span>
						<input type="text" name="sch_prd_sku" value="<{$sch_prd_sku}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">사급 추가</span>
						<select name="sch_is_sub_connect" id="sch_is_sub_connect" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_is_sub_connect == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div>
						<span class="name_tit">창고</span>
						<input type="text" name="sch_stock_type" value="<{$sch_stock_type}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">메모</span>
						<input type="text" name="sch_memo" value="<{$sch_memo}>" class="input_type5" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">File no</span>
						<input type="text" name="sch_file_no" class="input_type3" value="<{$sch_file_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" style="width: 50px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발주서 입고</span>
						<select name="sch_is_order" id="sch_is_order" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$is_order_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_is_order == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">유통기한</span>
						<select name="sch_expiration" id="sch_expiration" class="select_type2" >
							<option value="">::전체::</option>
							<{foreach from=$stock_expiration_option item=label}>
							<option value="<{$label}>" <{if $sch_expiration == $label}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:20px;"></span>
						<button class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="16">
						<form name="apply_frm_new" id="apply_frm_new" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_stock_report_list.php" autocomplete="off" style="margin-top: 30px;">
							<input type="hidden" name="process" value="add_report">
							<input type="hidden" name="new_report_type" value="3">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th class="first" style="min-width:45px; width:45px;" rowspan="2"></th>
										<th style="min-width: 63px; width: 63px;" rowspan="2">구분</th>
										<th style="min-width: 64px; width: 64px;" rowspan="2">no<br/>작성일</th>
										<th style="min-width: 66px; width: 66px;" rowspan="2">작성자</th>
										<th style="min-width: 82px; width: 82px;" rowspan="2">일자</th>
										<th style="min-width: 66px; width: 66px;" rowspan="2">입고/반출</th>
										<th style="min-width: 88px; width: 88px;" rowspan="2">입고/반출형태</th>
										<th style="min-width: 132px; width: 132px;" rowspan="2">확정 입고/반출형태</th>
										<th style="min-width: 157px; width: 157px;" rowspan="2">공급업체</th>
										<th style="min-width: 250px; width: 250px;" rowspan="2">와이즈 구성품명</th>
										<th style="min-width: 300px; width: 300px; height: 30px;" colspan="2">물류창고</th>
										<th style="min-width: 80px; width: 80px;" rowspan="2">창고</th>
										<th style="min-width: 80px; width: 80px;" rowspan="2">수량</th>
										<th style="min-width: 200px; width: 200px;" rowspan="2">메모</th>
									</tr>
									<tr>
										<th style="min-width:145px; height: 30px;">물류업체</th>
										<th style="min-width:270px;">재고관리코드(SKU)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="first"></td> <!-- No -->
										<td><span style="color: gray;">직접추가</span></td><!-- 구분 -->
										<td></td> <!-- no/작성일 -->
										<td></td> <!-- 작성자 -->
										<td> <!-- 일자 -->
											<input type="text" name="new_regdate" class="date-picker input_type_date" value="<{$new_stock_data['regdate']}>" required />
										</td>
										<td> <!-- 입고/반출 -->
											<select name="new_type" class="form-control" required>
												<option value="">::선택::</option>
												<{foreach from=$type_option key=key item=label}>
													<option value="<{$key}>" <{if $new_stock_data['type'] == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										</td>
										<td> <!-- 입고/반출형태 -->
											<select name="new_state" id="new_state" class="form-control" >
												<option value="">::전체::</option>
												<{foreach from=$state_option item=label}>
													<option value="<{$label}>" <{if $new_stock_data['state'] == $label}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										</td>
										<td> <!-- 확정 입고/반출 형태 -->
											<select name="new_confirm_state" class="form-control" required>
												<option value="">::선택::</option>
												<{foreach from=$confirm_state_option key=key item=label}>
													<option value="<{$key}>" <{if $new_stock_data['confirm_state'] == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										</td>
										<td> <!-- 공급업체 -->
											<span id="new_sup_company"><{$new_stock_data['sup_c_name']}></span>
											<input type="hidden" name="new_sup_c_no" id="new_sup_c_no" value="<{$new_stock_data['sup_c_no']}>" />
										</td>
										<td> <!-- 와이즈 구성품명 -->
											<input type="hidden" name="new_option_no" id="new_option_no" value="<{$new_stock_data['option_no']}>">
											<input type="text" name="new_option_name" id="new_option_name" class="form-control" value="<{$new_stock_data['option_name']}>">
										</td>
										<td> <!-- 물류업체 -->
											<select name="new_log_c_no" id="new_log_c_no" class="form-control" required>
												<option value="">::선택::</option>
												<{foreach from=$log_company_list key=key item=label}>
													<option value="<{$key}>" <{if $new_stock_data['log_c_no'] == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										</td>
										<td> <!-- 재고관리코드(SKU) -->
										</td>
										<td> <!-- 창고 -->
											<select name="new_warehouse" id="new_warehouse" class="form-control" required>
												<option value="">::선택::</option>
											</select>
										</td>
										<td> <!-- 수량 -->
											<input type="number" name="new_qty" class="form-control" value="" required>
										</td>
										<td> <!-- 메모 -->
											<textarea name="new_memo" onfocusout="text_area_click_out(this, '200px')" class="textarea_message" style="width: 200px; height: 60px;"></textarea>
										</td>
									</tr>
									<tr>
										<td colspan="15">
											<button type="submit" style="width: 100%;padding: 10px; background: #333; color: #FFF; letter-spacing: 15px; height:40px;" class="btn_big_memo">입고/반출 추가하기</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</td>
				</tr>
				<tr>
					<td colspan="18" style="text-align: left;">
						<div style="clear: both; height: 30px; padding-top: 10px;">
							<span><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
							<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
								<{foreach from=$page_type_option item=page_type}>
									<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
					<td style="font-size: 14px;text-align: center;padding-top: 5px;">
						<{if $stock_sum_total >= 0}>
							<span style="color: blue;">+<{$stock_sum_total|number_format:0}></span>
						<{else}>
							<span style="color: red;"><{$stock_sum_total|number_format:0}></span>
						<{/if}>
					</td>
					<td colspan="5"></td>
					<td style="font-size: 14px;text-align: center;padding-top: 5px;">
						<{if $stock_sum_total_price >= 0}>
							<span style="color: blue;">+<{$stock_sum_total_price|number_format:0}></span>
						<{else}>
							<span style="color: red;"><{$stock_sum_total_price|number_format:0}></span>
						<{/if}>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:45px; width:45px;" rowspan="2">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th style="min-width: 60px; width: 60px;" rowspan="2">구분</th>
					<th style="min-width:45px; width:45px;" rowspan="2">
						no<br/>작성일
						<{if permissionNameCheck($session_permission, "물류관리자")}>
							<button type="button" style="width:40px; padding: 2px 2px; color:black; background-color:#d5d5d5;" onclick="delMultiReport();" class="btn_small">삭제</button>
						<{/if}>
					</th>
					<th style="min-width: 60px; width: 60px;" rowspan="2">작성자</th>
					<th style="min-width: 75px; width: 75px;" rowspan="2">일자</th>
					<th style="min-width: 60px; width: 60px;" rowspan="2">입고/반출</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">입고/반출형태</th>
					<th style="min-width: 120px; width: 120px;" rowspan="2">
						타물류업체<br/>
						<select name="f_other_warehouse" id="f_other_warehouse" class="form-control" style="background-color:lightgray;font-size: 12px; width: 90%;padding: 1px; margin: 2px auto; height: 26px;">
							<option value="">::선택::</option>
							<{foreach from=$log_company_list key=key item=label}>
								<{if $key != '2809'}>
									<option value="<{$key}>"><{$label}></option>
								<{/if}>
							<{/foreach}>
						</select>
						<button type="button" class="btn btn-dark" onclick="addEtcMultiReport()" style="font-size: 12px; width: 90%;">입고/반출 추가</button>
					</th>
					<th style="min-width: 120px; width: 120px;" rowspan="2">
						제조사 사급<br/>
						<button type="button" class="btn btn-dark" onclick="addSubEtcMultiReport()" style="font-size: 12px; width: 90%;">기타[반출] 추가</button>
					</th>
					<th style="min-width: 120px; width: 120px;" rowspan="2">
						확정 입고/반출형태<br/>
						<select name="mod_confirm_state" id="mod_confirm_state" style="background-color:lightgray;" class="select_type1" onchange="modifyConfirmState();">
							<option value="">::선택::</option>
							<{foreach from=$confirm_state_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</th>
					<th style="min-width: 130px; width: 130px;" rowspan="2">문서번호<br/>요청자</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">반출::계정과목</th>
					<th style="min-width: 100px; width: 100px;" rowspan="2">납풉업체</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">사유</th>
					<th style="min-width: 140px; width: 140px;" rowspan="2">공급업체</th>
					<th style="min-width: 220px; width: 220px;" rowspan="2">와이즈 구성품명</th>
					<th style="min-width: 300px; width: 300px;" colspan="2">물류창고</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">창고</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">수량</th>
					<th style="min-width: 80px; width: 80px;" rowspan="2">File no</th>
					<th style="min-width: 200px; width: 200px;" rowspan="2">메모</th>
					<th style="min-width: 120px; width: 120px;" rowspan="2">재고 반영 구분</th>
					<th style="min-width: 150px; width: 150px;" rowspan="2">발주서<br/><span style="font-size:10px; color:yellow;">'진행중'인 발주서만 선택 가능</span></th>
					<th style="min-width: 100px; width: 100px;" rowspan="2">입고단가(VAT포함)</th>
					<th style="min-width: 100px; width: 100px;" rowspan="2">수량x입고단가</th>
					<th style="min-width: 100px; width: 100px;" rowspan="2">유통기한(~까지)</th>
				</tr>
				<tr>
					<th style="min-width: 120px; width: 120px;">업체명</th>
					<th style="min-width: 220px; width: 220px;">재고관리코드(SKU)</th>
				</tr>
			</thead>
			<tbody>
				<{foreach from=$stock_report_list item=stock_report}>
					<form name="apply_frm<{$stock_report.no}>" id="apply_frm<{$stock_report.no}>" class="apply_frm" action="product_cms_stock_report_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
						<input type="hidden" name="no" value="<{$stock_report.no}>">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="process">
						<tr>
							<td class="first text-center"> <!-- 체크박스 -->
								<input type="checkbox" name="select_check[]" class="select_check" value="<{$stock_report.no}>">
							</td>
							<td> <!-- 구분 -->
								<{$stock_report.report_type_name}>
							</td>
							<td> <!-- no-->
								<{$stock_report.no}>
								<{if $stock_report.report_date}>
									<br/><span style="color: gray; font-size: 10px;"><{$stock_report.report_day}></span>
									<span style="color: gray; font-size: 10px;"><{$stock_report.report_time}></span>
								<{/if}>
								<{if $stock_report.type != '3' && ($stock_report.is_order != '1' || ($stock_report.is_order == '1' && $stock_report.ord_no == 0)) && permissionNameCheck($session_permission, "물류관리자")}>
									<br/>
									<button type="button" onclick="delReport('<{$stock_report.no}>')" style="background: #999; color: white; padding: 3px 5px;">삭제</button>
								<{/if}>
							</td>
							<td> <!-- 작성자 -->
								<{$stock_report.reg_s_name}>
							</td>
							<td class="date"> <!-- 일자 -->
								<{if $stock_report.is_editable}>
									<input type="text" name="f_regdate" class="form-control date-picker" value="<{$stock_report.regdate}>" style="width: 99%; padding: 1px;" onchange="save_el('<{$stock_report.no}>', 'f_regdate', this)"/>
								<{else}>
									<{$stock_report.regdate}>
								<{/if}>
							</td>
							<td> <!-- 입고/반출 -->
								<{$stock_report.stock_type_name}>
							</td>
							<td> <!-- 입고형태 -->
								<{$stock_report.state}>
							</td>
							<td> <!-- 타물류업체/재고이동[입고/출고] -->
								<{if $stock_report.connect_no > 0}>
									입고/반출 : <{$stock_report.connect_no}>
									<a href="product_cms_stock_report_list.php?sch_no=<{$stock_report.connect_no}>&sch_s_regdate=&sch_e_regdate=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
								<{else}>
									<{if $stock_report.state == '기타입고' && $stock_report.confirm_state == '3'}>
										<select name="f_out_warehouse" id="f_out_warehouse_<{$stock_report.no}>" class="form-control" style="font-size: 12px; width: 90%;padding: 1px; margin: 0 auto 5px;">
											<option value="">::선택::</option>
											<{foreach from=$log_company_list key=key item=label}>
												<{if $key != '2809'}>
													<option value="<{$key}>"><{$label}></option>
												<{/if}>
											<{/foreach}>
										</select>
										<button type="button" onclick="addEtcReport('out','<{$stock_report.no}>')" style="background: #999; color: white; padding: 3px 5px; border-radius: 5px;">타물류업체(반출) 추가</button>
									<{elseif (($stock_report.state == '기타반출' || $stock_report.state == '업체반출')) && $stock_report.confirm_state == '6'}>
										<select name="f_in_warehouse" id="f_in_warehouse_<{$stock_report.no}>" class="form-control" style="font-size: 12px; width: 90%;padding: 1px;  margin: 0 auto 5px;">
											<option value="">::선택::</option>
											<{foreach from=$log_company_list key=key item=label}>
												<{if $key != '2809'}>
													<option value="<{$key}>"><{$label}></option>
												<{/if}>
											<{/foreach}>
										</select>
										<button type="button" onclick="addEtcReport('in','<{$stock_report.no}>')" style="background: #999; color: white; padding: 3px 5px; border-radius: 5px;">타물류업체(반입) 추가</button>
									<{/if}>
								<{/if}>
							</td>
							<td> <!-- 제조사 기타반출 -->
								<{if $stock_report.sub_connect_no}>
									<{foreach $stock_report.sub_connect_list item=sub_connect_no}>
										<div>
											<a href="product_cms_stock_report_list.php?sch_no=<{$sub_connect_no}>&sch_s_regdate=&sch_e_regdate=" target="_blank"><{$sub_connect_no}></a>
										</div>
									<{/foreach}>
								<{elseif $stock_report.is_order == '1' && $stock_report.sub_count > 0}>
									<button type="button" onclick="addSubEtcReport('<{$stock_report.no}>')" style="background: #999; color: white; padding: 3px 5px; border-radius: 5px;">기타[반출] 추가</button>
								<{/if}>
							</td>
							<td> <!-- 확정 입고형태 -->
								<select name="f_confirm_state" class="form-control" onchange="save_el('<{$stock_report.no}>', 'f_confirm_state', this)" style="font-size: 12px; width: 110px;padding: 1px;" <{if !permissionNameCheck($session_permission, "물류관리자")}>disabled<{/if}>>
									<option value="">::선택::</option>
									<{foreach from=$confirm_state_option key=key item=label}>
										<option value="<{$key}>" <{if $key == $stock_report.confirm_state}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="work-td"> <!-- 문서번호 -->
								<{if $stock_report.log_doc_no}>
									<{if permissionNameCheck($session_permission, "물류관리자")}>
										<input type="text" name="f_log_doc_no" class="form-control" style="display: inline-block; font-size: 10px; padding: 3px; width: 100px;" value="<{$stock_report.log_doc_no}>" onchange="save_el('<{$stock_report.no}>', 'f_log_doc_no', this)" >
									<{else}>
										<{$stock_report.log_doc_no}>
									<{/if}>
									<{if $stock_report.log_no}>
										<a href="logistics_management.php?sch_reg_s_date=&sch_reg_e_date=&sch_doc_no=<{$stock_report.log_doc_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<br/>
										<{$stock_report.log_staff}>(<{$stock_report.log_team}>)
									<{/if}>
								<{else}>
									<{if $stock_report.is_order != '1' && ($stock_report.type == '1' || $stock_report.type == '2') && permissionNameCheck($session_permission, "물류관리자")}>
										<input type="text" name="f_log_doc_no" class="form-control" style="display: inline-block; font-size: 10px; padding: 3px; width: 100px;" value="" onchange="save_el('<{$stock_report.no}>', 'f_log_doc_no', this)" >
									<{/if}>
								<{/if}>
							</td>
							<td class="work-td"> <!-- 계정과목 -->
								<{$stock_report.log_subject_name}>
							</td>
							<td class="work-td"> <!-- 납품업체 -->
								<{$stock_report.log_run_c_name}>
							</td>
							<td class="work-td"> <!-- 사유 -->
								<textarea style="font-size: 9px;width: 80px;" name="f_log_reason" onfocus="text_area_click(this, '250px')" onfocusout="text_area_click_out(this, '80px')" readonly><{$stock_report.log_reason}></textarea>
							</td>
							<td> <!-- 공급업체 -->
								<{$stock_report.sup_c_name}>
							</td>
							<td class="text-left" style="background: #9edefd4a;"> <!-- 와이즈 구성품명 -->
								<{$stock_report.option_name}>
							</td>
							<td style="background: #DDDDDD;"> <!-- 물류창고: 업체명 -->
								<{$stock_report.log_c_name}>
							</td>
							<td class="text-left" style="background: #DDDDDD;"> <!-- 물류창고: 재고관리코드(SKU) -->
								<{$stock_report.sku}>
							</td>
							<td> <!-- 창고 -->
								<{$stock_report.stock_type}>
							</td>
							<td style="background-color: #fffee3; font-size: 14px;"> <!-- 수량 -->
								<{if !permissionNameCheck($session_permission, "물류관리자")}>
									<{if $stock_report.stock_qty > 0 }>
										<span style="color: blue;">+<{$stock_report.stock_qty}></span>
									<{elseif $stock_report.stock_qty < 0}>
										<span style="color: red;"><{$stock_report.stock_qty}></span>
									<{else}>
										<span style="color: #333;"><{$stock_report.stock_qty}></span>
									<{/if}>
								<{else}>
									<input type="number" name="f_stock_qty" class="form-control" onchange="save_el('<{$stock_report.no}>', 'f_stock_qty', this);"  value="<{$stock_report.stock_qty}>"
										   style="font-size: 12px;width: 99%;padding: 3px;text-align: right; margin: 0; <{if $stock_report.stock_qty > 0}>color: blue;<{elseif $stock_report.stock_qty < 0}>color: red;<{else}>color: black;<{/if}>">
								<{/if}>
							</td>
							<td> <!-- File no -->
								<{if $stock_report.file_no > 0}>
									<a href="waple_upload_management.php?sch_file_no=<{$stock_report.file_no}>" target="_blank"><{$stock_report.file_no}></a>
									<a href="uploads/<{$stock_report.file_path}>" download="<{$stock_report.file_name}>"><img src="./images/common/ico/ico_file.gif"></a>
								<{/if}>
							</td>
							<td> <!-- 관리자 메모 -->
								<textarea name="memo" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200px')" class="textarea_message" style="width: 200px; height: 60px;" <{if permissionNameCheck($session_permission, "물류관리자")}>onchange="save_el('<{$stock_report.no}>', 'f_memo', this);"<{else}>disabled<{/if}> ><{$stock_report.memo}></textarea>
							</td>
							<td class="text-left"> <!-- 재고 반영 구분 -->
								<{foreach from=$is_order_option key=key item=label}>
									<input type="radio" name="is_order_<{$stock_report.no}>" value="<{$key}>" id="is_order_<{$stock_report.no}>_<{$key}>" onclick="save_el('<{$stock_report.no}>', 'f_is_order', this)" <{if $stock_report.is_order == $key}>checked<{/if}>>
									<label for="is_order_<{$stock_report.no}>_<{$key}>"><{$label}></label><br/>
								<{/foreach}>
							</td>
							<td style="background:#FDEADA;"> <!-- 발주서 -->
								<{if $stock_report.is_order == '1'}>
									<{if $stock_report.ord_no > 0}>
										<div style="text-align: left;">
											<b style="font-size: 14px;"><{$stock_report.ord_name}></b>
											<a href="commerce_order_regist.php?no=<{$stock_report.set_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a><br/>
											<span style="color: #ccc"><{$stock_report.title}></span>
										</div>
									<{else}>
										<span style="color: red;">미등록</span>
									<{/if}>
								<{/if}>
							</td>
							<td style="background:#FDEADA; "> <!-- 입고단가(VAT포함) -->
								<{if $stock_report.is_order == '1'}>
									<{if $stock_report.ord_no > 0}>
										<{if $stock_report.sup_loc_type == '2'}>
											-
										<{else}>
											<{if permissionNameCheck($session_permission, "물류관리자")}>
												￦ <input type="text" name="f_unit_price" class="input_type_money input_type_money_unit" value="<{$stock_report.unit_price}>"  onchange="inputKrwFormat(this); save_el('<{$stock_report.no}>', 'f_unit_price', this);" onfocus="this.value=''" style="width: 80%;" autocomplete="off">
											<{else}>
												<span style="color: #3366CC;text-align: right;">￦ <{$stock_report.unit_price|number_format:0}></span>
											<{/if}>
										<{/if}>
									<{else}>
										<span style="color: red;">미등록</span>
									<{/if}>
								<{/if}>
							</td>
							<td style="background:#FDEADA; "> <!-- 입고단가*정상수량 -->
								<{if $stock_report.is_order == '1'}>
									<{if $stock_report.ord_no > 0}>
										<{if $stock_report.unit_sum_price > 0}>
											<span style="color: blue;text-align: right;">￦ <{$stock_report.unit_sum_price|number_format:0}></span>
										<{elseif $stock_report.unit_sum_price < 0}>
											<span style="color: red;text-align: right;">￦ <{$stock_report.unit_sum_price|number_format:0}></span>
										<{else}>
											<span style="color: black; text-align: right;">￦ <{$stock_report.unit_sum_price|number_format:0}></span>
										<{/if}>
									<{/if}>
								<{/if}>
							</td>
							<td style="background:#FDEADA;"> <!-- 유통기한(~까지) -->
								<{if $stock_report.is_order == '1'}>
									<{if $stock_report.ord_no > 0}>
										<span style="color: black;"><{$stock_report.limit_date}></span>
									<{else}>
										<span style="color: red;">미등록</span>
									<{/if}>
								<{/if}>
							</td>
						</tr>
					</form>
				<{/foreach}>
				<tr>
					<td colspan="26" class="paging_wrap">
						<div class="paging_wrap">
							<{$page_list}>
						</div>
					</td>
				</tr>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
	<div>
		<button class="btn_style1" onclick="location.href='excel_product_cms_stock_report_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
</div>
<form name="select_check_form" id="select_check_form" action="product_cms_stock_report_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="select_no_list" id="select_no_list" class="select_no_list">
	<input type="hidden" name="select_value" id="select_value">
</form>

<!-- admin_content -->

<script type="text/javascript">

	$(document).ready(function(){
		$("#new_option_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms.option.auto.api.php",
					dataType: "json",
					data: {
						option_name: request.term,
						option_type: 'option_name',
						sch_display: '1'
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label  : item.option_name,
								option_no : item.option_no,
								option_name : item.option_name,
								sup_c_no : item.sup_c_no,
								sup_c_name : item.sup_c_name,
								log_c_no : item.log_c_no,
								log_c_name : item.log_c_name,
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$(this).val(ui.item.option_name);
				$("#new_option_no").val(ui.item.option_no);
				$("#new_log_c_no").val(ui.item.log_c_no).trigger("change");
				$("#new_sup_c_no").val(ui.item.sup_c_no);
				$("#new_sup_company").text(ui.item.sup_c_name);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$("#new_warehouse").remoteChained({
			parents: $("#new_log_c_no"),
			url: "/v1/api/log_company.warehouse.json.php?parent_data=new_log_c_no",
			loading: "로딩중..",
			clear: true
		});

		<{if $new_stock_data}>
			$("#new_log_c_no").val(<{$new_stock_data['log_c_no']}>).trigger('change');
			setTimeout(function(){$("#new_warehouse").val("<{$new_stock_data['warehouse']}>");},1000);
		<{/if}>
	});

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
        f.style.width = width;
        f.style.backgroundColor="yellow";
		f.style.height = "60px"; // 수동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width){
        f.style.width = width;
        f.style.backgroundColor="";
        f.style.height = "30px"; // 수동설정
    }

    function save_el(no, proc, obj)
	{
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


        if (default_val && val == default_val && proc != 'f_is_order')
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || (proc == 'memo')) { // 메모
            $.post("product_cms_stock_report_list.php", {no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function searchList(){
        document.search_form.sch_quick_type.value='';
        document.search_form.submit();
    }

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".reg_date_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_s_regdate").val(typedate);
		$("#sch_e_regdate").val(todate);

		$("#sch_reg_date_type").val(type);
	}

	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function quick_search(quick_no)
	{
		document.search_form.sch_quick_type.value=quick_no;
		document.search_form.submit();
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkReportSelect()
	{
		var no_list = "";
		$(".select_check").each(function(idx, item){
			if($(item).is(":checked"))
			{
				if(!!no_list){
					no_list += ("," + $(item).val());
				}else{
					no_list += ($(item).val());
				}
			}
		});

		var f = document.getElementById('select_check_form');

		f.select_no_list.value = no_list;
	}

	function modifyConfirmState()
	{
		checkReportSelect();

		if(!$(".select_no_list").val()){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(!$("#mod_confirm_state").val()){
			alert("확정 입고/반출형태를 선택 후 이용해주세요");
			return false;
		}

		if(confirm("확정 입고/반출형태를 변경하시겠습니까?"))
		{
			document.select_check_form.process.value = 'modify_confirm_state';
			document.select_check_form.select_value.value = $("#mod_confirm_state").val();
			document.select_check_form.submit();
		}

		return false;
	}

	function delReport(no)
	{
		if(confirm("삭제 하시겠습니까?"))
		{
			document.select_check_form.process.value = 'del_report';
			document.select_check_form.select_value.value = no;
			document.select_check_form.submit();
		}
	}

	function delMultiReport()
	{
		checkReportSelect();

		if(!$(".select_no_list").val()){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("삭제 하시겠습니까?"))
		{
			document.select_check_form.process.value = 'del_multi_report';
			document.select_check_form.submit();
		}
	}

	function addEtcMultiReport()
	{
		checkReportSelect();

		if(!$(".select_no_list").val()){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(!$("#f_other_warehouse").val()){
			alert("물류업체를 선택해주세요");
			return false;
		}

		if(confirm("타물류업체 데이터로 추가 하시겠습니까?")){
			document.select_check_form.process.value = 'add_etc_multi';
			document.select_check_form.select_value.value = $("#f_other_warehouse").val();
			document.select_check_form.submit();
		}
	}

	function addSubEtcMultiReport()
	{
		checkReportSelect();

		if(!$(".select_no_list").val()){
			alert("체크 후 이용해주세요");
			return false;
		}

		if(confirm("제조사 업체 데이터로 추가 하시겠습니까?")){
			document.select_check_form.process.value = 'add_sub_etc_multi';
			document.select_check_form.submit();
		}
	}

	function addEtcReport(type, no)
	{
		var f = document.getElementById("apply_frm"+ no);
		var process = "";

		if(!$("#f_"+type+"_warehouse_"+no).val()){
			alert("물류업체를 선택해주세요");
			return false;
		}

		process = "add_etc_"+type;

		if(confirm("타물류업체 데이터로 추가 하시겠습니까?")) {
			f.process.value = process;
			f.submit();
		}
	}

	function addSubEtcReport(no)
	{
		var f = document.getElementById("apply_frm"+ no);
		var process = "";

		process = "add_sub_etc_report";

		if(confirm("제조사 사급 데이터로 추가 하시겠습니까?")) {
			f.process.value = process;
			f.submit();
		}
	}

	function inputKrwFormat(obj)
	{
		var krw_price = uncomma(obj.value);

		if(!isInteger(krw_price)){
			krw_price = parseFloat(krw_price).toFixed(2);
		}

		obj.value = comma(krw_price);
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function isInteger(number)  {
		return number % 1 === 0;
	}
</script>

</body>
</html>
