<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.custom-combobox-toggle{top: 10px;}
	.admin_content #search_form input{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px;}
	.admin_content #search_form select{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px; width: auto; height: 33px;}
	.unit-manage-total-wrapper .form-control{font-size: 12px;padding: 1px;margin: 0;}
	.f_log_company{width: 143px;}
	.f_sku_wrapper{width: 265px;margin: 0 2px 0 8px;}
	.f_stock_wrapper{width: 95px; text-align: right;}
	.f_warehouse{float: left; width: 120px;}
	.f_warehouse_text{float: left;line-height: 38px;margin-right: 26px;}
	.f_sku{width: 260px;}
	.f_stock_link{display: block; background: #565656; color: white; padding: 3px; border-radius: 3px; text-align: center;}
	.f_qty_alert{width: 95px;text-align: right; padding-right: 5px !important;}
	.f_qty_hp{width: 102px; padding-left: 5px !important;}
	.save_sku_button{float: left;width: 240px;background: #333;color: #FFF;font-weight: bold;letter-spacing: 15px;height: 30px;text-align: center;padding-left: 14px;margin-left: 10px;}
	.save_sku_button:disabled{background: #DDD;}
</style>

<div class="admin_content">
	<form name="search_form" id="search_form" action="product_cms_unit.php" method="get" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="default_wrap">
			<div class="left_wrap">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<input type="hidden" name="od_list_num" id="sch_od_list_num" value="<{$od_list_num}>">
							<span class="name_tit">No</span>
							<input type="text" name="sch_no" value="<{$sch_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">업체명(브랜드명)</span>
							<select name="sch_brand" id="sch_brand" class="select_type2" style="max-width:200px; margin-right: 5px;">
								<option value="">::전체::</option>
								<{foreach from=$unit_brand_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_brand==$key }>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">발주요청자</span>
							<select name="sch_team" id="sch_team" class="select_type3">
								<{foreach from=$sch_team_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_team == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							>
							<select name="sch_s_no" id="sch_s_no" class="select_type1">
								<option value="all">::전체::</option>
								<{foreach from=$sch_staff_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">공급업체</span>
							<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="max-width:200px; margin-right: 5px;">
								<option value="">::전체::</option>
								<{foreach from=$sch_sup_c_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_sup_c_no==$key }>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">Display</span>
							<select id="sch_display" name="sch_display" class="select_type5">
								<option value="">::전체::</option>
								<{foreach from=$display_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">물류업체</span>
							<select name="sch_log_c_no" id="sch_log_c_no" class="select_type5">
								<option value="">::전체::</option>
								<{foreach from=$log_company_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_log_c_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">구분</span>
							<select id="sch_type" name="sch_type" class="select_type5">
								<option value="">::전체::</option>
								<{foreach from=$unit_type_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<label for="sch_is_control" style="cursor: pointer;">발주원가관리</label>
							<input type="checkbox" name="sch_is_control" id="sch_is_control" value="1" <{if $sch_is_control == '1'}>checked<{/if}>>
							<span style="margin-right:15px;"></span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="name_tit">구성품목명</span>
							<input type="text" name="sch_option_name" value="<{$sch_option_name}>" class="input_type3" style="width: 150px;">
							<input type="checkbox" name="sch_is_in_out" id="sch_is_in_out" value="2" <{if $sch_is_in_out == '2'}>checked<{/if}>>
							<label for="sch_is_in_out" style="cursor: pointer;">입/출고 정지</label>
							<span style="margin-right:15px;"></span>


							<span class="name_tit">WISE SKU</span>
							<input type="text" name="sch_wise_sku" class="input_type3" value="<{$sch_wise_sku}>" style="width: 150px;">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">SKU</span>
							<input type="text" name="sch_sku" value="<{$sch_sku}>" class="input_type3" style="width: 150px;">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">Description</span>
							<input type="text" name="sch_description" value="<{$sch_description}>" class="input_type5">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">불량사유</span>
							<select id="sch_bad_reason" name="sch_bad_reason" class="select_type5">
								<option value="">::전체::</option>
								<{foreach from=$bad_reason_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_bad_reason == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">적재정보</span>
							<select id="sch_is_load" name="sch_is_load" class="select_type5">
								<option value="">::전체::</option>
								<{foreach from=$is_product_load_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_is_load == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<label for="sch_is_except_stock" style="cursor: pointer;">재고관리제외</label>
							<input type="checkbox" name="sch_is_except_stock" id="sch_is_except_stock" value="1" <{if $sch_is_except_stock == '1'}>checked<{/if}>>
							<span style="margin-right:15px;"></span>

							<button type="submit" class="btn_small" style="padding: 7px 15px;font-weight: bold;">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<form name="apply_frm_new" id="apply_frm_new" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_unit.php" autocomplete="off">
			<input type="hidden" name="process">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="f_license_type_new" id="f_license_type_new" value="">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td colspan="12">
							<hr width="100%" style="border-top: 1px solid rgba(0,0,0,.5);">

							<div class="right_wrap">
								<ul class="cat_style">
									<li style="margin-bottom:15px;">
										<a href="product_cms_unit.php?<{$search_url}>&sch=Y&od=1<{if $order == '1' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
											<{if !$order || $order != '1'}><span style="padding: 0px 5px;">우선순위순<{/if}>
											<{if $order == '1' }><span style="color:red; padding: 0px 5px;">우선순위순
												<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
											<{/if}>
											</span>
										</a>
										|
										<a href="product_cms_unit.php?<{$search_url}>&sch=Y&od=2<{if $order=='2' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
											<{if !$order || $order != '2'}><span style="padding: 0px 5px;">구성품목순<{/if}>
											<{if $order=='2' }><span style="color:red; padding: 0px 5px;">구성품목순
												<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
											<{/if}>
											</span>
										</a>
										|
										<a href="product_cms_unit.php?<{$search_url}>&sch=Y&od=3<{if $order=='3' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
											<{if !$order || $order != '3'}><span style="padding: 0px 5px;">공급업체순<{/if}>
											<{if $order=='3' }><span style="color:red; padding: 0px 5px;">공급업체순
												<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
											<{/if}>
											</span>
										</a>
										<input type="hidden" name="od" value="<{$order}>">
										<input type="hidden" name="by" value="<{$order_type}>">
										&nbsp;|&nbsp;
										<select name="od_list_num" id="od_list_num" class="select_type5" style="width: 100px;" onChange="order_search(this);">
											<{foreach from=$page_type_list key=key item=label}>
												<option value="<{$key}>" <{if $od_list_num == $key}>selected<{/if}>><{$label}>개씩 보기</option>
											<{/foreach}>
										</select>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</thead>
				<{if permissionNameCheck($session_permission,"물류관리자")}>
					<thead>
						<tr>
							<th class="first" style="min-width:30px;" rowspan="2">No</th>
							<th style="min-width:115px;" rowspan="2">업체명/브랜드명</th>
							<th style="min-width:115px;" rowspan="2">공급업체</th>
							<th style="min-width:78px;" rowspan="2">발주담당자</th>
							<th style="min-width:60px;" rowspan="2">Display</th>
							<th style="min-width:55px;" rowspan="2">우선순위</th>
							<th style="min-width:330px;" rowspan="2">구성품목명</th>
							<th style="min-width:330px;" rowspan="2">WISE SKU</th>
							<th style="min-width:85px;" rowspan="2">구분</th>
							<th style="min-width:95px;" rowspan="2">유통기한<br/>(입고일 부터)</th>
							<th style="min-width:230px;" rowspan="2">공급단가</span></th>
							<th style="min-width:50px;" rowspan="2">원가관리</th>
							<th style="min-width:625px; height: 30px;" colspan="4">물류업체별 데이터</th>
							<th style="min-width:200px;" rowspan="2">Description</th>
							<th style="min-width:120px;" rowspan="2">불량사유</th>
						</tr>
						<tr>
							<th style="min-width:145px; height: 30px;">물류업체</th>
							<th style="min-width:270px;">물류업체의<br/>재고관리코드(SKU)</th>
							<th style="min-width:100px;">재고 알림 설정 수량<br/>(수량 이하 알림)</th>
							<th style="min-width:110px;">재고/입고 수신 연락처<br>(발주자 외 추가발송)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="first"> <!-- No -->
							</td>
							<td><!-- 브랜드명 -->
								<input type="hidden" id="f_brand_new" name="f_brand_new" value="">
								<input type="text" id="f_brand_name_new" name="f_brand_name_new" class="input_type3">
							</td>
							<td> <!-- 공급업체 -->
								<input type="hidden" id="f_sup_c_no_new" name="f_sup_c_no_new" value="">
								<input type="text" id="f_sup_c_name_new" name="f_sup_c_name_new" class="input_type3">
							</td>
							<td> <!-- 발주담당자 -->
								<input type="hidden" id="f_ord_s_no_new" name="f_ord_s_no_new" value="">
								<input type="text" id="f_ord_s_name_new" name="f_ord_s_name_new" class="input_type3" style="width: 64px;"><br/>
								<input type="hidden" id="f_ord_sub_s_no_new" name="f_ord_sub_s_no_new" value="">
								<input type="text" id="f_ord_sub_s_name_new" name="f_ord_sub_s_name_new" class="input_type3" style="width: 64px;">
								<input type="hidden" id="f_ord_third_s_no_new" name="f_ord_third_s_no_new" value="">
								<input type="text" id="f_ord_third_s_name_new" name="f_ord_third_s_name_new" class="input_type3" style="width: 64px;">
							</td>
							<td> <!-- Display -->
								<select id="f_display_new" name="f_display_new" class="select_type5">
									<{foreach from=$display_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td> <!-- 우선순위 -->
								<input type="number" id="f_priority_new" name="f_priority_new" min="1" max="10" style="text-align: center;">
							</td>
							<td> <!-- 구성품목명 -->
								<textarea id="f_option_name_new" name="f_option_name_new" class="input_type5" style="height: 26.5px; width: 320px; padding: 3px 1px; box-sizing: border-box;"></textarea><br/>
								<span style="float: left;">※한글 25자, 영문 50자 이내</span>
								<div style="text-align: left; clear: both;">
									<span style="color: red;">※ 선택 시 주의사항</span>
									<input type="text" name="f_notice_new" class="input_type5" style="width: 100px;">
									<span style="color: red;">(20byte 한글10자 이내)</span>
								</div>
							</td>
							<td> <!-- WISE SKU -->
								<input type="text" name="f_wise_sku_new" class="form-control" value="" style="width: 99%;font-size: 12px;padding: 1px;margin: 0;">
							</td>
							<td><!-- 구분 -->
								<select name="f_type_new" id="f_type_new" class="select_type2" style="width: 80px;" required>
									<option value="">::선택::</option>
									<{foreach from=$unit_type_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td> <!-- 유통기한 (입고일 부터) -->
								약<input type="number" id="f_expiration_new" name="f_expiration_new" class="input_type5" style="width:35px;padding: 5px;box-sizing: content-box;text-align: right;"> 개월
							</td>
							<td style="text-align: right;"> <!-- 공급단가 -->
								<div class="krw-wrapper">
									[KRW] VAT 포함 ₩ <input type="text" id="f_sup_price_vat_new" name="f_sup_price_vat_new" onfocus="this.value=''" onchange="vat_tax_calculate_reverse(this)" class="input_type_money" style="width:115px;">
									[KRW] VAT 별도 ₩ <input type="text" id="f_sup_price_new" name="f_sup_price_new" onfocus="this.value=''" onchange="vat_tax_calculate(this)"  class="input_type_money" style="margin-left: 17px; width:100px; color: #777; font-size: 13px;">
								</div>
								<div class="usd-wrapper" style="display: none;">
									[USD] VAT 별도 $ <input type="text" id="f_sup_price_usd_new" name="f_sup_price_usd_new" onfocus="this.value=''" onchange="inputUsdFormat(this)"  class="input_type_money" style="margin-left: 5px; width:115px; font-size: 13px;">
								</div>
							</td>
							<td> <!-- 원가관리 -->
								<input type="checkbox" name="f_is_control_new" id="f_is_control_new" value="1" style="cursor: pointer;">
							</td>
							<td colspan="4">
								<table class="unit-manage-total-wrapper unit-manage-total-wrapper-new" style="margin: 0;">
									<tbody>
										<tr class="unit-manage-wrapper unit-manage-wrapper-new-1">
											<td>
												<select name="f_log_company_new[]" class="form-control f_log_company f_log_company_new" id="f_log_company-new-1" required>
													<option value="">::선택::</option>
													<{foreach from=$log_company_list key=key item=label}>
													<option value="<{$key}>" <{if $key == $manage_data.log_c_no}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
											</td>
											<td>
												<div class="f_sku_wrapper">
													<span class="f_warehouse_text">당기출고(판매출고) 창고</span>
													<select name="f_warehouse_new[]" class="form-control f_warehouse f_warehouse_new" id="f_warehouse-new-1" required>
														<option value="">::선택::</option>
														<{foreach from=$manage_data.warehouse_option key=key item=label}>
														<option value="<{$key}>"><{$label}></option>
														<{/foreach}>
													</select>
													<input type="text" name="f_sku_new[]" class="form-control f_sku_new" id="f_sku-new-1" value="" placeholder="SKU" required>
												</div>
											</td>
											<td>
												<input type="text" name="f_qty_alert_new[]" class="form-control f_qty_alert" id="f_qty_alert--new-1" value="">
											</td>
											<td>
												<input type="text" name="f_qty_hp_new[]" class="form-control f_qty_hp" id="f_qty_hp-new-1" value="">
											</td>
										</tr>
									</tbody>
								</table>
								<input type="hidden" name="attr_key" id="unit-attr-key-new" value="1">
								<div style="overflow: hidden; margin-top: 5px;">
									<button type="button" id="add_new_manage_btn" onclick="addManageData('new')" style="float: right; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;margin-right: 4px;">+</button>
								</div>
							</td>
							<td> <!-- Description -->
								<input type="text" id="f_description_new" name="f_description_new" class="input_type5" style="width:196px;">
							</td>
							<td> <!-- 불량사유 -->
								<select id="f_bad_reason_new" name="f_bad_reason_new" class="select_type5" style="width: 100px;">
									<option value="">::선택::</option>
									<{foreach from=$bad_reason_option key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="17">
								<button type="button" style="width: 100%;padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;" onclick="return add_record();" class="btn_big_memo">추가하기</button>
							</td>
						</tr>
					</tbody>
				<{/if}>
			</table>
		</form>
	</div>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="20">
						<br>
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:65px; height: 30px;" rowspan="2">No</th>
					<th style="min-width:115px;" rowspan="2">업체명/브랜드명</th>
					<th style="min-width:115px;" rowspan="2">공급업체</th>
					<th style="min-width:78px;" rowspan="2">발주담당자</th>
					<th style="min-width:60px;" rowspan="2">Display</th>
					<th style="min-width:55px;" rowspan="2">우선순위</th>
					<th style="min-width:270px;" rowspan="2">구성품목명</th>
					<th style="min-width:270px;" rowspan="2">WISE SKU</th>
					<th style="min-width:80px;" rowspan="2">구분</th>
					<th style="min-width:740px; height: 30px;" colspan="5">물류업체별 데이터</th>
					<th style="min-width:290px;" rowspan="2">공급단가</th>
					<th style="min-width:50px;" rowspan="2">발주원가 관리</th>
					<th style="min-width:90px; width:90px;" rowspan="2">MY QUICK SET<br/>커머스 구성품<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
					<th style="min-width:95px;" rowspan="2">유통기한<br/>(입고일 부터)</th>
					<th style="min-width:260px;" rowspan="2">Description</th>
					<th style="min-width:120px;" rowspan="2">불량사유</th>
					<th style="min-width:60px;" rowspan="2">적재정보</th>
				</tr>
				<tr>
					<th style="min-width:150px; height: 30px;">물류업체</th>
					<th style="min-width:280px;">물류업체의<br/>재고관리코드(SKU)</th>
					<th style="min-width:100px;">재고수량</th>
					<th style="min-width:100px;">재고 알림 설정 수량<br/>(수량 이하 알림)</th>
					<th style="min-width:110px;">재고/입고 수신 연락처<br>(발주자 외 추가발송)</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="20"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{assign var="color_idx" value=1}>
					<{foreach from=$product_cms_unit_list item=product_cms_unit}>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td class="first"> <!-- No -->
								<{$product_cms_unit.no}>
								<br>
								<{if permissionNameCheck($session_permission,"물류관리자")}>
									<a href="#" onclick="no_duplicate('<{$product_cms_unit.no}>');"><span style="font-size:10px;">[복제]</span></a>
									<a href="#" onclick="no_delete('<{$product_cms_unit.no}>');"><span style="font-size:10px;">[삭제]</span></a>
								<{/if}>
							</td>
							<td> <!-- 브랜드명 -->
								<input type="hidden" name="f_brand" id="f_brand_<{$product_cms_unit.no}>" value="<{$product_cms_unit.brand}>">
								<input type="text" name="f_brand_name" class="input_type3 f_brand_name" attr-no="<{$product_cms_unit.no}>" value="<{$product_cms_unit.brand_name}>"
									<{if !permissionNameCheck($session_permission,"물류관리자")}>disabled<{/if}>
									<{if $product_cms_unit.display == "2"}> style="background-color: #ebebe4;"<{/if}>
								>
							</td>
							<td class="text-left"> <!-- 공급업체 -->
								<input type="hidden" name="f_sup_c_no" id="f_sup_c_no_<{$product_cms_unit.no}>" value="<{$product_cms_unit.sup_c_no}>">
								<input type="text" name="f_sup_c_name" class="input_type3 f_sup_c_name" attr-no="<{$product_cms_unit.no}>" value="<{$product_cms_unit.sup_c_name}>" disabled
									<{if $product_cms_unit.display == "2"}> style="background-color: #ebebe4;"<{/if}>
								>
								<{if $product_cms_unit.license_type == '4'}>
									<span style="color: #888;">[해외 USD]</span>
								<{/if}>
							</td>
							<td> <!-- 발주담당자 -->
								<input type="hidden" name="f_ord_s_no" id="f_ord_s_no_<{$product_cms_unit.no}>" value="<{$product_cms_unit.ord_s_no}>">
								<input type="text" id="f_ord_s_name_<{$product_cms_unit.no}>" name="f_ord_s_name" class="input_type3 f_ord_s_name" attr-no="<{$product_cms_unit.no}>" style="text-align: center; width: 64px;" value="<{$product_cms_unit.ord_s_name}>"
									<{if !$product_cms_unit.is_editable}> disabled <{/if}>
									<{if $product_cms_unit.display == "2"}>style="background-color: #ebebe4;"<{/if}>
								>
								<br/>
								<input type="hidden" name="f_ord_sub_s_no" id="f_ord_sub_s_no_<{$product_cms_unit.no}>" value="<{$product_cms_unit.ord_sub_s_no}>">
								<input type="text" id="f_ord_sub_s_name_<{$product_cms_unit.no}>" name="f_ord_sub_s_name" class="input_type3 f_ord_sub_s_name" attr-no="<{$product_cms_unit.no}>" style="text-align: center; width: 64px;" value="<{$product_cms_unit.ord_sub_s_name}>"
									<{if !$product_cms_unit.is_editable}> disabled <{/if}>
									<{if $product_cms_unit.display == "2"}>style="background-color: #ebebe4;"<{/if}>
								>
								<br/>
								<input type="hidden" name="f_ord_third_s_no" id="f_ord_third_s_no_<{$product_cms_unit.no}>" value="<{$product_cms_unit.ord_third_s_no}>">
								<input type="text" id="f_ord_third_s_name_<{$product_cms_unit.no}>" name="f_ord_third_s_name" class="input_type3 f_ord_third_s_name" attr-no="<{$product_cms_unit.no}>" style="text-align: center; width: 64px;" value="<{$product_cms_unit.ord_third_s_name}>"
									<{if !$product_cms_unit.is_editable}> disabled <{/if}>
									<{if $product_cms_unit.display == "2"}>style="background-color: #ebebe4;"<{/if}>
								>
							</td>
							<td> <!-- Display -->
								<select name="f_display" class="select_type5" onchange="save_el('<{$product_cms_unit.no}>', 'f_display', this)"
									<{if !$product_cms_unit.is_editable}> disabled <{/if}>
									<{if $product_cms_unit.display == "2"}>style="background-color: #ebebe4;"<{/if}>
								>
									<{foreach from=$display_option key=key item=label}>
										<option value="<{$key}>" <{if $product_cms_unit.display == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td> <!-- 우선순위 -->
								<input type="number" name="f_priority" min="1" max="999" style="text-align: center;" value="<{$product_cms_unit.priority}>" onchange="save_el('<{$product_cms_unit.no}>', 'f_priority', this)"
									<{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>
								>
							</td>
							<td> <!-- 구성품목명 -->
								<textarea name="f_option_name" class="input_type5" style=" height: 37.5px; width: 260px; padding: 3px 1px; box-sizing: border-box;" onchange="save_el('<{$product_cms_unit.no}>', 'f_option_name', this)" disabled><{$product_cms_unit.option_name}></textarea>
								<div class="text-left">
									<input type="checkbox" name="f_is_in_out" id="f_is_in_out_<{$product_cms_unit.no}>" class="f_is_in_out" attr-no="<{$product_cms_unit.no}>" value="2" <{if $product_cms_unit.is_in_out == '2'}>checked<{/if}>>
									<label for="f_is_in_out_<{$product_cms_unit.no}>">입/출고 정지</label>
									<input type="text" name="f_in_out_msg" class="input_type1" value="<{$product_cms_unit.in_out_msg}>" style="width: 160px; display: inline-block; margin-left: 10px;" placeholder="정지 메세지" onchange="save_el('<{$product_cms_unit.no}>', 'f_in_out_msg', this)">
								</div>
							</td>
							<td> <!-- WISE SKU -->
								<input type="text" name="f_chk_option_name" class="form-control" value="<{$product_cms_unit.chk_option_name}>" style="font-size: 12px; padding: 1px;" disabled />
								<input type="text" name="f_wise_sku" class="form-control" value="<{$product_cms_unit.wise_sku}>" onchange="save_el('<{$product_cms_unit.no}>', 'f_wise_sku', this)" style="font-size: 12px; padding: 1px;" placeholder="WISE SKU" <{if !permissionNameCheck($session_permission,"물류관리자")}>disabled<{/if}> />
							</td>
							<td><!-- 구분 -->
								<select name="f_type" class="select_type2" style="width: 80px;" onchange="save_el('<{$product_cms_unit.no}>', 'f_type', this)">
									<option value="">::선택::</option>
									<{foreach from=$unit_type_option key=key item=label}>
										<option value="<{$key}>" <{if $product_cms_unit.type == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td colspan="5" style="vertical-align: top;"> <!-- 구성품 관련 처리 -->
								<form name="apply_sku_frm<{$product_cms_unit.no}>" id="apply_sku_frm<{$product_cms_unit.no}>" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_unit.php">
									<input type="hidden" name="process">
									<input type="hidden" name="search_url" value="<{$search_url}>">
									<input type="hidden" name="no" value="<{$product_cms_unit.no}>">
									<input type="hidden" name="f_license_type" value="<{$product_cms_unit.license_type}>">
									<input type="hidden" name="attr_key" id="unit-attr-key-<{$product_cms_unit.no}>" value="<{$product_cms_unit.manage_cnt}>">
									<table class="unit-manage-total-wrapper unit-manage-total-wrapper-<{$product_cms_unit.no}>" style="margin: 0;">
										<tbody>
											<{if $product_cms_unit.manage_list}>
												<{assign var="unit_idx" value=1}>
												<{foreach from=$product_cms_unit.manage_list item=manage_data}>
													<tr class="unit-manage-wrapper unit-manage-wrapper-<{$product_cms_unit.no}>-<{$unit_idx}>">
														<td>
															<select name="f_log_company_exist" class="form-control f_log_company" id="f_log_company-<{$product_cms_unit.no}>-<{$unit_idx}>" disabled>
																<option value="">::선택::</option>
																<{foreach from=$log_company_list key=key item=label}>
																<option value="<{$key}>" <{if $key == $manage_data.log_c_no}>selected<{/if}>><{$label}></option>
																<{/foreach}>
															</select>
														</td>
														<td>
															<div class="f_sku_wrapper">
																<span class="f_warehouse_text">당기출고(판매출고) 창고</span>
																<select name="f_warehouse_exist" class="form-control f_warehouse" id="f_warehouse-<{$product_cms_unit.no}>-<{$unit_idx}>" onchange="save_el('<{$manage_data.no}>', 'f_warehouse', this)">
																	<option value="">::선택::</option>
																	<{foreach from=$manage_data.warehouse_option key=key item=label}>
																	<option value="<{$key}>" <{if $key == $manage_data.warehouse}>selected<{/if}>><{$label}></option>
																	<{/foreach}>
																</select>
																<input type="text" name="f_sku_exist" class="form-control f_sku" id="f_sku-<{$product_cms_unit.no}>-<{$unit_idx}>" value="<{$manage_data.sku}>" disabled>
															</div>
														</td>
														<td>
															<div class="f_stock_wrapper">
																<{if $manage_data.is_except_stock != "1"}>
																	<span style="font-size: 15px;"><{$manage_data.stock_qty|number_format:0}></span><br/>
																	<a href="product_cms_stock_list.php?sch_stock_prd_sku=<{$manage_data.sku}>&sch_is_good_warehouse=1" target="_blank" class="f_stock_link">상세보기</a>
																<{/if}>
																<div style="text-align: center;">
																	<input type="checkbox" name="is_except_stock" id="is_except_stock_<{$manage_data.no}>" class="is_except_stock" attr-no="<{$product_cms_unit.no}>" attr-unit="<{$manage_data.no}>" value="1" <{if $manage_data.is_except_stock == '1'}>checked<{/if}>>
																	<label for="is_except_stock_<{$manage_data.no}>">재고관리 제외</label>
																</div>
															</div>
														</td>
														<td>
															<input type="text" name="f_qty_alert_exist" class="form-control f_qty_alert" id="f_qty_alert-<{$product_cms_unit.no}>-<{$unit_idx}>" value="<{$manage_data.qty_alert|number_format:0}>" onchange="only_number(this); save_el('<{$manage_data.no}>', 'f_qty_alert', this)">
														</td>
														<td>
															<input type="text" name="f_qty_hp_exist" class="form-control f_qty_hp" id="f_qty_hp-<{$product_cms_unit.no}>-<{$unit_idx}>" value="<{$manage_data.qty_hp}>" onchange="save_el('<{$manage_data.no}>', 'f_qty_hp', this)">
														</td>
													</tr>
													<{assign var="unit_idx" value=$unit_idx+1}>
												<{/foreach}>
											<{/if}>
										</tbody>
									</table>
									<div style="overflow: hidden; margin-top: 5px;">
										<{if $product_cms_unit.is_editable && $product_cms_unit.display == '1'}>
											<button type="button" class="save_sku_button f_sku_button_<{$product_cms_unit.no}>" onclick="saveSkuData('<{$product_cms_unit.no}>')"  disabled>저장</button>
											<button type="button" onclick="addManageData('<{$product_cms_unit.no}>')" style="float: right; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;margin-right: 4px;">+</button>
										<{/if}>
									</div>
								</form>
							</td>
							<{if $product_cms_unit.is_editable || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"물류관리자")}>
								<form name="apply_price_frm<{$product_cms_unit.no}>" id="apply_price_frm<{$product_cms_unit.no}>" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_unit.php">
									<input type="hidden" name="process">
									<input type="hidden" name="search_url" value="<{$search_url}>">
									<input type="hidden" name="no" value="<{$product_cms_unit.no}>">
									<input type="hidden" name="manager_no" value="">
									<input type="hidden" name="manager_value" value="">
									<input type="hidden" name="f_license_type" value="<{$product_cms_unit.license_type}>">
									<td style="text-align: right;"> <!-- 공급단가 -->
										<div style="float: left; display: inline-block; width: 220px;">
											<{if $product_cms_unit.license_type == '4'}>
												<br/>
												[USD] VAT 별도 $ <input type="text" id="f_sup_price_<{$product_cms_unit.no}>" name="f_sup_price" attr-no="<{$product_cms_unit.no}>" onfocus="this.value=''" onchange="inputUsdFormat(this);" class="input_type_money" style="width:115px; vertical-align: middle; margin-left: 5px;" value="<{$product_cms_unit.sup_price}>"
												<{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>
												>
												<input type="hidden" name="f_sup_price_vat" value="<{$product_cms_unit.sup_price_vat}>">
											<{else}>
												[KRW] VAT 포함 ₩ <input type="text" id="f_sup_price_vat_<{$product_cms_unit.no}>" name="f_sup_price_vat" attr-no="<{$product_cms_unit.no}>" onfocus="this.value=''" onchange="vat_tax_calculate_reverse(this);" class="input_type_money" style="width:115px;" value="<{$product_cms_unit.sup_price_vat}>"
												<{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>
												>
												[KRW] VAT 별도 ₩ <input type="text" id="f_sup_price_<{$product_cms_unit.no}>" name="f_sup_price" attr-no="<{$product_cms_unit.no}>" onfocus="this.value=''" onchange="vat_tax_calculate(this);" class="input_type_money" style="width:100px; color: #777; font-size: 13px; margin-left: 17px;" value="<{$product_cms_unit.sup_price}>"
												<{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>
												>
											<{/if}>
										</div>
										<button type="button" onclick="saveSupPrice('<{$product_cms_unit.no}>')" style="color: white; background: #333; box-sizing: border-box; padding: 15px 5px; border-radius: 0.25rem; font-weight: bold;">공급단가<br>수정</button>
										<{if $product_cms_unit.sub_unit_cnt > 0}>
											<div style="margin-top: 10px; padding: 10px 3px; border: 1px solid #ddd; overflow: hidden;">
												<{foreach from=$product_cms_unit.sub_unit_list item=sub_unit}>
													<div style="overflow: hidden">
														<span style="text-align: left; float: left; width: 190px;">+ <{$sub_unit.sub_name}></span>
														<span style="float: right; width: 80px;">
															<span style="float: left;"><{$sub_unit.sub_code}></span>
															<span style="float: right;"><{$sub_unit.sub_price|number_format:2}></span>
														</span>
													</div>
												<{/foreach}>
												<div style="overflow: hidden; font-size: 13px;">
													<b style="text-align: left; float: left; width: 115px;">= 공급단가 전체</b>
													<b style="float: right; width: 80px;">
														<span style="float: left;">₩</span>
														<span style="float: right;"><{$product_cms_unit.unit_total_price_vat|number_format:2}></span>
													</b>
													<b style="text-align: left; float: right; width: 75px;">(VAT 포함)</b>
													<br/>
													<b style="float: right; width: 80px;">
														<span style="float: left;">₩</span>
														<span style="float: right;"><{$product_cms_unit.unit_total_price|number_format:2}></span>
													</b>
													<b style="text-align: left; float: right; width: 75px;">(VAT 별도)</b>
													<{if $product_cms_unit.unit_abroad_price > 0}>
														<br/>
														<b style="float: right; width: 80px;">
															<span style="float: left;">+</span>
															<span style="float: right;">$<{$product_cms_unit.unit_abroad_price|number_format:2}></span>
														</b>
													<{/if}>
												</div>
											</div>
										<{/if}>
										<{if $product_cms_unit.is_need_sub}>
											<div class="text-left" style="margin-top: 10px;">
												<span style="color: red;">
													※ 주의 : 제조사 창고 사급 미등록 <a href="product_cms_unit_subcontract_list.php?sch_sub_option_name=<{$product_cms_unit.option_name}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
												</span>
											</div>
										<{/if}>
									</td>
									<td style="text-align: center;"> <!-- 발주원가 관리 -->
										<input type="checkbox" name="f_is_control" id="f_is_control_<{$product_cms_unit.no}>" class="f_is_control" attr-no="<{$product_cms_unit.no}>" value="1" <{if $product_cms_unit.is_control == '1'}>checked<{/if}>>
										<a href="product_cms_unit_cost_view.php?prd_unit=<{$product_cms_unit.no}>" target="_blank" style="text-decoration: unset;background: #333;color: white;padding: 2px 5px;margin-top: 5px;border-radius: 3px;<{if $product_cms_unit.is_control == '1'}>display: inline-block;<{else}>display: none;<{/if}>">보기</a>
									</td>
								</form>
							<{elseif $product_cms_unit.is_search || $session_s_no == '265'}>
								<td style="text-align: right;">
									<div style="float: left; display: inline-block; width: 220px;">
										<{if $product_cms_unit.license_type == '4'}>
											<br/>
											[USD] VAT 별도 $ <input type="text" name="f_sup_price" class="input_type_money" style="width:115px; vertical-align: middle; margin-left: 5px;" value="<{$product_cms_unit.sup_price}>" disabled>
											<input type="hidden" name="f_sup_price_vat" value="<{$product_cms_unit.sup_price_vat}>">
										<{else}>
											[KRW] VAT 포함 ₩ <input type="text" name="f_sup_price_vat" class="input_type_money" style="width:115px;" value="<{$product_cms_unit.sup_price_vat}>" disabled>
											[KRW] VAT 별도 ₩ <input type="text" name="f_sup_price" class="input_type_money" style="width:100px; color: #777; font-size: 13px; margin-left: 17px;" value="<{$product_cms_unit.sup_price}>" disabled>
										<{/if}>
									</div>
								</td>
								<td></td>
							<{else}>
								<td>조회권한 없음</td>
								<td></td>
							<{/if}>
							<td style="min-width:90px; width:90px; font-size: 30px;" > <!-- Quick Set -->
								<span class="<{$product_cms_unit.no}>_quick_prd nav-star-wrapper <{if $product_cms_unit.quick_prd }>nav-star-active<{/if}>" onclick="proc_quick_prd('<{$product_cms_unit.no}>', this)" attr-mode="<{if $product_cms_unit.quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;"></span>
							</td>
							<td> <!-- 유통기한 (입고일 부터) -->
								약<input type="number" name="f_expiration" class="input_type5" onchange="save_el('<{$product_cms_unit.no}>', 'f_expiration', this)" value="<{$product_cms_unit.expiration}>" style="width: 35px;padding: 5px;box-sizing: content-box;text-align: right;" <{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>> 개월
							</td>
							<td> <!-- Description -->
								<input type="text" name="f_description" class="input_type4" value="<{$product_cms_unit.description}>" style="width:256px;" onchange="save_el('<{$product_cms_unit.no}>', 'f_description', this)"
									<{if $product_cms_unit.display == "2" || !$product_cms_unit.is_editable}> disabled <{/if}>
								>
							</td>
							<td> <!-- 불량사유 -->
								<select name="f_bad_reason" class="select_type5" style="width: 100px;" onchange="save_el('<{$product_cms_unit.no}>', 'f_bad_reason', this)">
									<option value="">::선택::</option>
									<{foreach from=$bad_reason_option key=key item=label}>
									<option value="<{$key}>" <{if $product_cms_unit.bad_reason == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td> <!-- 적재정보 -->
								<{if $product_cms_unit.pl_no > 0}>
									<a href="product_cms_load_list.php?sch_no=<{$product_cms_unit.pl_no}>" target="_blank">
										<img src="./images/icon/new_win_icon.png">
									</a>
								<{/if}>
							</td>
						</tr>
						<{assign var="color_idx" value=$color_idx+1}>
					<{/foreach}>
				<{/if}>
				<tr>
					<td colspan="20" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div id="d_msg"></div>
	</div>
	<!-- //table_list_style -->
	<button onclick="location.href='excel_product_cms_unit.php?<{$search_url}>';" class="btn_style1"><span>엑셀 파일로 저장</span></button>
</div>
<!-- //admin_content -->

<select name="copy_log_company" class="copy_log_company" style="display: none;">
	<option value="">::선택::</option>
	<{foreach from=$log_company_list key=key item=label}>
	<option value="<{$key}>"><{$label}></option>
	<{/foreach}>
</select>

<form name="apply_mod_frm"  class="list_form" method="post" enctype="multipart/form-data" action="product_cms_unit.php">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="no" value="">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_team").combobox();
		$("#sch_brand").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_sup_c_no").remoteChained({
			parents: "#sch_s_no",
			url: "/v1/api/stock.json.php?parent_data=sch_s_no",
			loading: "로딩중..",
			clear: true
		});

        $("#f_sup_c_name_new").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_unit_company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_name,
                                cname : item.c_name,
                                ctype : item.c_type
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#f_sup_c_no_new").val(ui.item.cno);
                $('#f_sup_c_name_new').val(ui.item.cname);
                $('#f_license_type_new').val(ui.item.ctype);
                if(ui.item.ctype == '4'){
					$(".krw-wrapper").hide();
                	$(".usd-wrapper").show();
				}else{
					$(".krw-wrapper").show();
					$(".usd-wrapper").hide();
				}
            },
			focus: function(event, ui) {
				return false;
			},
            minLength: 1
        });

        // 업체명 자동완성 검색 결과 값 반영
        $(".f_sup_c_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_unit_company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_name,
                                cname : item.c_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var no 	  	 = $(this).attr('attr-no');
                var proc  	 = "f_sup_c_no";

                $(this).val(ui.item.cname);
                $("#f_sup_c_no_"+no).val(ui.item.cno);

                save_el(no, proc, this);
            },
            minLength: 1
        });

        //발주담당자 자동완성
        $("#f_ord_s_name_new").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_unit_staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.s_name,
                                sname : item.s_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#f_ord_s_no_new").val(ui.item.sno);
                $('#f_ord_s_name_new').val(ui.item.sname);
            },
            minLength: 1
        });

        $(".f_ord_s_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_unit_staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.s_name,
                                sname : item.s_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var no 	  	 = $(this).attr('attr-no');
                var proc  	 = "f_ord_s_no";

                $(this).val(ui.item.sname);
                $("#f_ord_s_no_"+no).val(ui.item.sno);

                save_el(no, proc, this);
            },
            minLength: 1
        });

		$("#f_ord_sub_s_name_new").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_name,
								sname : item.s_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#f_ord_sub_s_no_new").val(ui.item.sno);
				$('#f_ord_sub_s_name_new').val(ui.item.sname);
			},
			minLength: 1
		});

		$("#f_ord_third_s_name_new").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_name,
								sname : item.s_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#f_ord_third_s_no_new").val(ui.item.sno);
				$('#f_ord_third_s_name_new').val(ui.item.sname);
			},
			minLength: 1
		});

		$(".f_ord_sub_s_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_name,
								sname : item.s_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var no 	  	 = $(this).attr('attr-no');
				var proc  	 = "f_ord_sub_s_no";

				$(this).val(ui.item.sname);
				$("#f_ord_sub_s_no_"+no).val(ui.item.sno);

				save_el(no, proc, this);
			},
			minLength: 1
		});

		$(".f_ord_third_s_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_name,
								sname : item.s_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var no 	  	 = $(this).attr('attr-no');
				var proc  	 = "f_ord_third_s_no";

				$(this).val(ui.item.sname);
				$("#f_ord_third_s_no_"+no).val(ui.item.sno);

				save_el(no, proc, this);
			},
			minLength: 1
		});

        $("#f_brand_name_new").autocomplete({
            source: function( request, response ) {
                $("#f_brand_new").val('');
                $.ajax({
                    url: "/v1/api/product_cms_unit_company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term,
                        c_type: '1'
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_label,
                                cname : item.c_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).val(ui.item.cname);
                $("#f_brand_new").val(ui.item.cno);
            },
            minLength: 1
        });

		$(".f_brand_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_company.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						c_type: '1'
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_label,
								cname : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var no 	  	 = $(this).attr('attr-no');
				var proc  	 = "f_brand";

				$(this).val(ui.item.cname);
				$("#f_brand_"+no).val(ui.item.cno);

				save_el(no, proc, this);
			},
			minLength: 1
		});

		$(".is_except_stock").click(function(){
			var no 			= $(this).attr('attr-no');
			var manager_no 	= $(this).attr('attr-unit');
			var f 			= document.forms['apply_price_frm' + no];
			var manager_val = ($(this).is(":checked")) ? 1 : 0;
			var manager_msg = ($(this).is(":checked")) ? "재고관리에서 제외시키시겠습니까?" : "재고관리 처리하시겠습니까?";

			if(confirm(manager_msg))
			{
				f.manager_no.value 	 	= manager_no;
				f.manager_value.value 	= manager_val;
				f.process.value 		= "f_is_except_stock";
				f.submit();
			}else{
				return false;
			}
		});

		$(".f_is_control").click(function(){
			var no 	= $(this).attr('attr-no');
			var f 	= document.forms['apply_price_frm' + no];
			var sup_price = f.f_sup_price.value;
			var sup_price_vat = f.f_sup_price_vat.value;
			var license_type  = f.f_license_type.value;

			if(sup_price != ""){
				sup_price = uncomma(sup_price);
			}else{
				sup_price = 0;
			}

			if(sup_price_vat != ""){
				sup_price_vat = uncomma(sup_price_vat);
			}else{
				sup_price_vat = 0;
			}

			if($(this).is(":checked"))
			{
				if(license_type == '4')
				{
					if(sup_price > 0)
					{
						if(confirm("정말로 원가관리에 포함 하시겠습니까?"))
						{
							f.process.value = "f_is_control";
							f.submit();
						}else{
							return false;
						}
					}else{
						alert("공급단가 0원은 원가관리를 할 수 없습니다.");
						return false;
					}
				}
				else
				{
					if(sup_price > 0 && sup_price_vat > 0)
					{
						if(confirm("정말로 원가관리에 포함 하시겠습니까?"))
						{
							f.process.value = "f_is_control";
							f.submit();
						}else{
							return false;
						}
					}else{
						alert("공급단가 0원은 원가관리를 할 수 없습니다.");
						return false;
					}
				}
			}
			else
			{
				if(confirm("정말로 원가관리에서 제외 하시겠습니까?"))
				{
					f.process.value = "f_is_control";
					f.submit();
				}else{
					return false;
				}
			}

			return false;
		});

		$(".f_is_in_out").click(function() {
			var value 	= ($(this).is(":checked")) ? 2 : 1;
			var no 		= $(this).attr('attr-no');

			save_check_el(no, "f_is_in_out",value, $(this));
		});

		addRemoteChained('new');
	});

    function order_search(obj) {
        var f = document.forms['search_form'];
		$("#sch_od_list_num").val(obj.value);
        f.submit();
    }

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
        var parts = str.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	//콤마풀기
	function uncomma(str) {
	    if(str) {
            str = "" + str.replace(/,/gi, ''); // 콤마 제거
            str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        }
		return (parseFloat(str));
	}

	function inputUsdFormat(obj)
	{
		var usd_price = parseFloat(uncomma(obj.value)).toFixed(2);

		obj.value = comma(usd_price);
	}

    function isInteger(number)  {
        return number % 1 === 0;
    }

	function add_record()
	{
		eval("var f=document.getElementById('apply_frm_new');");
		f.process.value = "add_record";

        if (!f.f_brand_new.value) {
            alert("브랜드를 선택해 주세요.");
            return false;
        }
		if (!f.f_sup_c_no_new.value) {
			alert("공급업체를 선택해 주세요.");
			return false;
		}
        if (!f.f_ord_s_no_new.value) {
            alert("발주담당자를 선택해 주세요.");
            return false;
        }
		if (!f.f_display_new.value) {
			alert("Display를 선택해 주세요.");
			return false;
		}
		if (!f.f_priority_new.value) {
			alert("우선순위를 선택해 주세요.");
			return false;
		}

		if (!f.f_option_name_new.value) {
			alert("구성품목명 입력해 주세요.");
			return false;
		}

        if(f.f_license_type_new.value == '4')
        {
			if (!f.f_sup_price_usd_new.value) {
				alert("공급단가를 입력해 주세요.");
				return false;
			}
		}else{
			if (!f.f_sup_price_new.value) {
				alert("공급단가(VAT 별도)를 입력해 주세요.");
				return false;
			}
			if (!f.f_sup_price_vat_new.value) {
				alert("공급단가(VAT 포함)를 입력해 주세요.");
				return false;
			}
		}

		if(!check_str_length(f.f_option_name_new.value)){
			alert("구성품목명 한글 25자, 영문 50자 이내로 작성해 주세요.")
			return false;
		}

		if(!check_str_except(f.f_option_name_new.value)){
			alert("구성품목명에 특수문자(=+_()[])외 다른 것은 사용 할 수 없습니다.");
			return false;
		}

		if(!check_str_except(f.f_wise_sku_new.value)){
			alert("WISE SKU에 특수문자(=+_()[])외 다른 것은 사용 할 수 없습니다.");
			return false;
		}

		var result = true;

		if(result){
			$.each($(".f_log_company_new"), function(idx, item){
				if(!$(item).val()){
					alert("물류업체를 선택해주세요.");
					result = false;
				}
			});
		}

		if(result) {
			$.each($(".f_warehouse_new"), function (idx, item) {
				if (!$(item).val()) {
					alert("당기출고 창고를 선택해주세요.");
					result = false;
				}
			});
		}

		if(result) {
			$.each($(".f_sku_new"), function(idx, item){
				if(!$(item).val()){
					alert("SKU를 입력해주세요.");
					result = false;
				}else if(!check_str_length($(item).val())){
					alert("물류업체의 재고관리코드(SKU) 한글 25자, 영문 50자 이내로 입력해주세요.");
					result = false;
				}else if(!check_str_except($(item).val())){
					alert("물류업체의 재고관리코드(SKU) 특수문자(=+_()[])외 다른 것은 사용 할 수 없습니다.");
					result = false;
				}
			});
		}

		if(result) {
			f.submit();
		}
	}

	function check_str_length(str)
	{
		var result = false;
		var len = 0;

		for (var i = 0; i < str.length; i++) {
			if (escape(str.charAt(i)).length == 6) {
				len++;
			}
			len++;
		}

		if(len < 51){
			result = true;
		}

		return result;
	}

	function check_str_except(str)
	{
		var except_pattern 	= /^[가-힣a-zA-Z0-9=+_()\[\]\s]+$/;

		if (except_pattern.test(str) === false) {
			return false;
		}

		return true;
	}

	function save_el(no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if(proc == 'f_sup_c_no') {
            val = $("#f_sup_c_no_" + no).val();
        }else if(proc == 'f_ord_s_no'){
		    val = $("#f_ord_s_no_" + no).val();
		}else if(proc == 'f_ord_sub_s_no'){
			val = $("#f_ord_sub_s_no_" + no).val();
		}else if(proc == 'f_ord_third_s_no'){
			val = $("#f_ord_third_s_no_" + no).val();
		} if(proc == 'f_brand'){
			val = $("#f_brand_" + no).val();
		}

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 공백시 저장안됨
			$.post("product_cms_unit.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function no_delete(no) {
		var f = document.forms['apply_mod_frm'];
		f.no.value = no;
		f.process.value = "delete";

		if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	function no_duplicate(no)
	{
		$.ajax({
			url: "/v1/api/product_cms_unit.duplicate.api.php",
			type: 'POST',
			data: {"unit_no": no}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result  = jsonData.result;
			var unitData  = jsonData.unit_data;

			var new_brand 			= unitData.brand;
			var new_brand_name  	= unitData.brand_name;
			var new_sup_c_no  		= unitData.sup_c_no;
			var new_sup_c_name  	= unitData.sup_c_name;
			var new_ord_s_no  		= unitData.ord_s_no;
			var new_ord_s_name  	= unitData.ord_s_name;
			var new_ord_sub_s_no  	= unitData.ord_sub_s_no;
			var new_ord_sub_s_name  = unitData.ord_sub_s_name;
			var new_ord_third_s_no  = unitData.ord_third_s_no;
			var new_ord_third_s_name = unitData.ord_third_s_name;
			var new_option_name 	= unitData.option_name;
			var new_display			= unitData.display;
			var new_priority		= unitData.priority;
			var new_type  			= unitData.type;
			var new_description		= unitData.description;
			var new_sup_price		= unitData.sup_price;
			var new_sup_price_vat	= unitData.sup_price_vat;
			var new_loc_type		= unitData.license_type;
			var new_is_control		= unitData.is_control;
			var new_ware_list		= unitData.ware_list;

			if (result == true)
			{
				$("#f_brand_new").val(new_brand);
				$("#f_brand_name_new").val(new_brand_name);
				$("#f_sup_c_no_new").val(new_sup_c_no);
				$("#f_sup_c_name_new").val(new_sup_c_name);
				$("#f_ord_s_no_new").val(new_ord_s_no);
				$("#f_ord_s_name_new").val(new_ord_s_name);
				$("#f_ord_sub_s_no_new").val(new_ord_sub_s_no);
				$("#f_ord_sub_s_name_new").val(new_ord_sub_s_name);
				$("#f_ord_third_s_no_new").val(new_ord_third_s_no);
				$("#f_ord_third_s_name_new").val(new_ord_third_s_name);
				$("#f_display_new").val(new_display);
				$("#f_priority_new").val(new_priority);
				$("#f_option_name_new").val(new_option_name);
				$("#f_type_new").val(new_type);
				$("#f_description_new").val(new_description);
                $("#f_license_type_new").val(new_loc_type);

				if(new_loc_type == '4'){
					$(".krw-wrapper").hide();
					$(".usd-wrapper").show();
					$("#f_sup_price_usd_new").val(new_sup_price_vat);
				}else{
					$(".krw-wrapper").show();
					$(".usd-wrapper").hide();
					$("#f_sup_price_vat_new").val(new_sup_price_vat);
					$("#f_sup_price_new").val(new_sup_price);
				}

				if(new_is_control == '1'){
                    if(!$("#f_is_control_new").is(":checked")){
                        $("#f_is_control_new").click();
					}
				}else{
                    if($("#f_is_control_new").is(":checked")){
                        $("#f_is_control_new").click();
                    }
				}

				if(new_ware_list)
				{
					$.each(new_ware_list, function(idx, item){
						if(idx > 0) {
							$("#add_new_manage_btn").click();
						}

						var ware_idx = idx+1;
						$("#f_log_company-new-"+ware_idx).val(item['log_c_no']).trigger("change");
						setTimeout(function(){$("#f_warehouse-new-"+ware_idx).val(item['warehouse']);$("#f_sku-new-"+ware_idx).val(item['sku']);}, 500);
					});
				}
			}
		});
	}

    function vat_tax_calculate(obj)
	{
        var amount  	= uncomma(obj.value);
        var no 		   	= $(obj).attr('attr-no');
        var tax_ratio 	= 10;

        if (!isNaN(amount))
        {
            var amountTax	 = parseFloat(amount * (tax_ratio / 100));
            var amountTotal = parseFloat(amount) + parseFloat(amountTax);

			amount = parseFloat(amount).toFixed(2);
			amountTotal = parseFloat(amountTotal).toFixed(2);

            if(!no){
                $("#f_sup_price_new").val(comma(amount));
                $("#f_sup_price_vat_new").val(comma(amountTotal));
            }else {
                $("#f_sup_price_" + no).val(comma(amount));
                $("#f_sup_price_vat_" + no).val(comma(amountTotal));
            }
        }else{
            if (!no) {
                $("#f_sup_price_new").val('');
                $("#f_sup_price_vat_new").val('');
            }
        }
    }

    function vat_tax_calculate_reverse(obj)
	{
        var amount  	= uncomma(obj.value);
        var no 		   	= $(obj).attr('attr-no');
        var tax_ratio 	= 10;

        if (!isNaN(amount)) {
            var amountTax   = parseFloat(amount / ((100 + tax_ratio) / 10));
            var amountTotal = parseFloat(amount) - parseFloat(amountTax);

			amount = parseFloat(amount).toFixed(2);
			amountTotal = parseFloat(amountTotal).toFixed(2);

            if (!no) {
                $("#f_sup_price_new").val(comma(amountTotal));
                $("#f_sup_price_vat_new").val(comma(amount));
            } else {
                $("#f_sup_price_" + no).val(comma(amountTotal));
                $("#f_sup_price_vat_" + no).val(comma(amount));
            }
        }else{
            if (!no) {
                $("#f_sup_price_new").val('');
                $("#f_sup_price_vat_new").val('');
            }
        }
    }

	function only_number(obj)
	{
		var text  	= uncomma(obj.value);

		if (!isNaN(text))
		{
			$(obj).val(comma(text));
		}else{
			$(obj).val(0);
		}
	}

	function saveSupPrice(no)
	{
		var f = document.forms['apply_price_frm' + no];
		var sup_price = f.f_sup_price.value;
		var sup_price_vat = f.f_sup_price_vat.value;
		var license_type  = f.f_license_type.value;

		if(sup_price != ""){
			sup_price = uncomma(sup_price);
		}else{
			sup_price = 0;
		}

		if(sup_price_vat != ""){
			sup_price_vat = uncomma(sup_price_vat);
		}else{
			sup_price_vat = 0;
		}

		if($("#f_is_control_"+no).is(":checked"))
		{
			if(license_type == '4')
			{
				if(sup_price > 0){
					if(confirm("공급단가가 수정되며, 원가관리에도 오늘날짜로 변경된 단가로 추가됩니다."))
					{
						f.process.value = 'save_sup_price';
						f.submit();
					}
				}else{
					alert("공급단가 0원은 원가관리를 할 수 없습니다.");
					return false;
				}

			}else{
				if(sup_price > 0 && sup_price_vat > 0){
					if(confirm("공급단가가 수정되며, 원가관리에도 오늘날짜로 변경된 단가로 추가됩니다."))
					{
						f.process.value = 'save_sup_price';
						f.submit();
					}
				}else{
					alert("공급단가 0원은 원가관리를 할 수 없습니다.");
					return false;
				}
			}
		}else{
			f.process.value = 'save_sup_price'
			f.submit();
		}

		return false;
	}

    function proc_quick_prd(prd_no, obj)
    {
        var x        = $(obj).position();
        var status   = $(obj).attr('attr-mode');
        var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
        var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


        if(confirm(conf_msg))
        {
            var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

            $.post("ajax_proc_data.php", {
                process: process,
                quick_prd: prd_no,
                quick_type: "cms_unit"
            }, function (data) {
                var result_data = JSON.parse(data);
                if(result_data.result)
				{
					if(result_data.status == 'add'){
						$(obj).addClass("nav-star-active");
					}else{
						$(obj).removeClass("nav-star-active");
					}
                    $(obj).attr('attr-mode', result_data.status);
                    d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
                    sort_quick_prd();
                    open_quick_prd();
                }
            });
        }
    }

    function sort_quick_prd()
    {
        $.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "cms_unit"}, function(result){
        });
    }

    function open_quick_prd()
    {
        window.open('popup/quick_prd_set.php?sch_quick_type=cms_unit','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
    }

	function addManageData(no)
	{
		var attrKey = Number($("#unit-attr-key-"+no).val()) + 1;
		var typeKey = no + "-" + attrKey;
		var log_company_html = $(".copy_log_company").html();

		var addHtml =
				"<tr class='unit-manage-wrapper unit-manage-wrapper-"+ typeKey +"'>"
				+ "	<td>"
				+ "		<select name='f_log_company_" + no + "[]' class='form-control f_log_company f_log_company_" + no + "' id='f_log_company-"+ typeKey +"' required>";

		addHtml += log_company_html;

		if(no == 'new'){
			addHtml += "	</select>"
					+ "	</td>"
					+ "	<td>"
					+ "		<div class='f_sku_wrapper'>"
					+ "			<span class='f_warehouse_text'>당기출고(판매출고) 창고</span>"
					+ "			<select name='f_warehouse_new[]' class='form-control f_warehouse f_warehouse_new' id='f_warehouse-"+ typeKey +"' required>"
					+ "				<option value=''>::선택::</option>"
					+ "			</select>"
					+ "			<input type='text' name='f_sku_new[]' class='form-control f_sku f_sku_new' id='f_sku-"+ typeKey +"' value='' placeholder='SKU' required>"
					+ "		</div>"
					+ "	</td>"
			 		+ "	<td>"
					+ "		<input type='text' name='f_qty_alert_new[]' class='form-control f_qty_alert' id='f_qty_alert-"+ typeKey +"' value=''>"
					+ "	</td>"
					+ "	<td>"
					+ "		<input type='text' name='f_qty_hp_new[]' class='form-control f_qty_hp' id='f_qty_hp-"+ typeKey +"' value=''>"
					+ "	</td>"
					+ "</tr>"
					+ "<tr>"
					+ "</tr>"
			;
		}
		else
		{
			addHtml += "	</select>"
					+ "	</td>"
					+ "	<td>"
					+ "		<div class='f_sku_wrapper'>"
					+ "			<span class='f_warehouse_text'>당기출고(판매출고) 창고</span>"
					+ "			<select name='f_warehouse_" + no + "[]' class='form-control f_warehouse f_warehouse_" + no + "' id='f_warehouse-"+ typeKey +"' required>"
					+ "				<option value=''>::선택::</option>"
					+ "			</select>"
					+ "			<input type='text' name='f_sku[]' class='form-control f_sku f_sku_" + no + "' id='f_sku-"+ typeKey +"' value='' placeholder='SKU' required>"
					+ "		</div>"
					+ "	</td>"
					+ "	<td>"
					+ "		<div class='f_stock_wrapper'>"
					+ "		</div>"
					+ "	</td>"
			 		+ "	<td>"
					+ "		<input type='text' name='f_qty_alert[]' class='form-control f_qty_alert' id='f_qty_alert-"+ typeKey +"' value=''>"
					+ "	</td>"
					+ "	<td>"
					+ "		<input type='text' name='f_qty_hp[]' class='form-control f_qty_hp' id='f_qty_hp-"+ typeKey +"' value=''>"
					+ "	</td>"
					+ "</tr>"
			;
		}

		$("#unit-attr-key-"+no).val(attrKey);
		$('.unit-manage-total-wrapper-'+no+" tbody").append(addHtml);
		$(".f_sku_button_"+no).attr("disabled", false);

		addRemoteChained(no);
	}

	function addRemoteChained(prd_unit)
	{
		$(".f_warehouse_"+prd_unit).each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_log_company_"+prd_unit)[i],
				url: "/v1/api/log_company.warehouse.json.php?warehouse_type=1&parent_data=f_log_company_"+prd_unit,
				loading: "로딩중..",
				clear: true
			});
		});
	}

	function saveSkuData(no)
	{
		var result 		= true;
		var log_company = "";
		var sku 		= "";

		if(result){
			$.each($(".f_log_company_"+no), function(idx, item){
				if(!$(item).val()){
					alert("물류업체를 선택해주세요.");
					result = false;
				}else{
					log_company += (log_company != "") ? ","+$(item).val() : $(item).val();
				}
			});
		}

		if(result) {
			$.each($(".f_warehouse_" + no), function (idx, item) {
				if (!$(item).val()) {
					alert("당기출고 창고를 선택해주세요.");
					result = false;
				}
			});
		}

		if(result) {
			$.each($(".f_sku_"+no), function(idx, item){
				if(!$(item).val()){
					alert("SKU를 입력해주세요.");
					result = false;
				}else{
					sku += (sku != "") ? ","+$(item).val() : $(item).val();
				}
			});
		}

		if(result) {
			$.ajax({
				url: "/v1/api/log_company.sku.check.api.php",
				type: 'POST',
				data: {sku: sku, log_company: log_company}
			}).done(function (data) {
				var jsonData = JSON.parse(data);
				var result = jsonData.result;
				var msg = jsonData.msg;

				if(result){
					var f = document.forms['apply_sku_frm' + no];
					f.process.value = "modify_unit_sku";
					f.submit();
				}else{
					alert(msg);
					return false;
				}
			});
		}
	}

	function save_check_el(no, proc, val, obj) {
		var x 			= $(obj).position();
		var d_msg 		= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("product_cms_unit.php", {no : no, process : proc, val : val}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}
</script>
</body>
</html>
