<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table_list_style table thead th{vertical-align: middle;}
	.table_list_style table tbody td{text-align: center; padding: 5px 7px; vertical-align: middle;}
</style>

<div class="admin_content">

	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" class="form-inline" action="product_cms_stock_stats.php" method="get">
		<input type="hidden" name="org_ord_type" id="org_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">

		<div class="default_wrap" style="clear: both;">
			<div class="form-group" style=" margin-bottom: 5px;">
				<input type="checkbox" name="check_sum" id="check_sum" value="1" <{if $check_sum == '1'}>checked<{/if}>>
				<label for="check_sum" style="margin: 0; cursor: pointer;">단품/합포장 통합</label>
			</div>
			<div class="form-group">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_sup_c_no" style="margin-left: 0;">공급업체</label>
				<select name="sch_sup_c_no" id="sch_sup_c_no" class="form-control" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$sch_sup_c_list key=sup_c_no item=label}>
					<option value="<{$sup_c_no}>" <{if $sch_sup_c_no==$sup_c_no }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_option_name" style="margin-left: 0;">구성품목명</label>
				<input type="text" name="sch_option_name" id="sch_option_name" class="form-control" value="<{$sch_option_name}>" style="width: 140px;">
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_option_name" style="margin-left: 0;">구분</label>
				<select name="sch_unit_type" id="sch_unit_type" class="form-control" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$unit_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_unit_type==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<label for="sch_log_company" style="margin-left: 0;">물류업체</label>
				<select name="sch_log_company" id="sch_log_company" class="form-control" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$log_company_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_log_company==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<button class="btn_small" onclick="searchList()" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<br/><br/>
	<div class="table_list_style" id="product-stock-table" style="clear: both; width: 1400px;">
		<table class="table table-bordered" cellpadding='0' cellspacing='0' style="width: auto;">
			<thead>
				<tr>
					<td colspan="10" style="text-align: right;">
						<span style="float: left;">기준일 : <{$last_upload_date}></span>
						<button onclick="sort_search('total_qty')" style="line-height: 26px;">재고수량<{if $ord_type == 'total_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<button onclick="sort_search('ord_report_qty')" style="line-height: 26px;">판매반출<{if $ord_type == 'ord_report_qty'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<button onclick="sort_search('exp_day')" style="line-height: 26px;">예상소진 잔여일<{if $ord_type == 'exp_day'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					</td>
				</tr>
				<tr>
					<th style="min-width: 100px; height: 50px;">업체명/브랜드명</th>
					<th style="min-width: 120px;">공급업체</th>
					<th style="min-width: 300px;">와이즈 구성품목명</th>
					<th style="min-width: 150px;">물류업체</th>
					<th style="min-width: 100px;">재고수량<br/>정상창고</th>
					<th style="min-width: 100px;">알림 설정 수량<br/>(재고율)</th>
					<th style="min-width: 100px;">전월 판매반출<br/>(재고자산수불부)</th>
					<th style="min-width: 100px;">전월 기준<br/>예상소진 잔여일</th>
					<th style="min-width: 100px;">발주중<br/>미입고수량</th>
				</tr>
			</thead>
			<tbody>
			<{if $stock_stats_list}>
				<{foreach from=$stock_stats_list key=prd_unit item=stock_data}>
					<{assign var=row_cnt value=$stock_data|count}>
					<{assign var=chk_idx value=0}>
					<{foreach from=$stock_data item=stock}>
					<tr>
						<{if $chk_idx == 0}>
							<td class="first" rowspan="<{$row_cnt}>"> <!-- 브랜드명 -->
								<{$stock.brand_name}>
							</td>
							<td rowspan="<{$row_cnt}>"> <!-- 공급업체 -->
								<{$stock.sup_c_name}>
							</td>
							<td class="text-left" rowspan="<{$row_cnt}>"> <!-- 와이즈 구성품목명 -->
								<{$stock.option_name}>
							</td>
						<{/if}>
						<td style="height: 40px;"> <!-- 물류업체 -->
							<{$stock.stock_c_name}>
						</td>
						<td class="text-right" style="background: yellow; font-weight: bold;"> <!-- 재고수량 -->
							<{$stock.total_qty|number_format:0}>
						</td>
						<td> <!-- 알림설정 -->
							<span><{$stock.qty_alert|number_format:0}></span>
							<br/><a href="product_cms_unit.php?sch_no=<{$stock.prd_unit}>&sch_team=all&sch_s_no=all" target="_blank" style="display: inline-block;margin-top: 3px; padding: 3px 15px; background: #333; color: white; border-radius: 3px; ">알림 설정</a>
						</td>
						<td class="text-right"> <!-- 전월 판매 -->
							<{$stock.report_qty|number_format:0}>
							<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$chk_report_s_date}>&sch_e_regdate=<{$chk_report_e_date}>&sch_state=판매반출&sch_confirm_state=9&sch_prd_sku=<{$stock.sku}>&sch_log_company=<{$stock.stock_c_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						</td>
						<td class="text-right" style="color: red;"> <!-- 전월 기준 예상소진 잔여일 -->
							<{if $stock.day_null == '2'}>
								<{$stock.exp_day|number_format:0}>일
							<{/if}>
						</td>
						<td class="text-right"> <!-- 발주 중 미입고 수량 -->
							<{if $stock.yet_qty != 0}>
								<{$stock.yet_qty|number_format:0}>
							<{/if}>
						</td>
					</tr>
					<{assign var=chk_idx value=$chk_idx+1}>
					<{/foreach}>
				<{/foreach}>
			<{else}>
			<tr>
				<td colspan="" class="first">데이터가 없습니다.</td>
			</tr>
			<{/if}>
			</tbody>
		</table>
	</div>
	<div class="copy-table" style="margin-top: 10px;"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('product-stock-table');" /></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
    });

    // 검색 하기
    function searchList(){
        document.search_form.submit();
    }

    function numberFormat(str)
    {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();
		var org_ord_type = $("#org_ord_type").val();

		$("#ord_type").val(type);
		if(type == org_ord_type)
		{
			if(ord_type_by == '2'){
				$("#ord_type_by").val("1");
			}else{
				$("#ord_type_by").val("2");
			}
		}

		f.submit();
	}
</script>

</body>
</html>
