<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.custom-combobox-toggle{top: 10px;}
	.admin_content #search_form input{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px;}
	.admin_content #search_form select{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px; width: auto; height: 33px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" action="product_cms_unit_cost_list.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" id="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">

		<div class="default_wrap">
			<div class="form-group">
				<input type="hidden" name="od_list_num" id="sch_od_list_num" value="<{$od_list_num}>">
				<span class="name_tit">No</span>
				<input type="text" name="sch_no" value="<{$sch_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업체명(브랜드명)</span>
				<select name="sch_brand" id="sch_brand" class="select_type2" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand==$key }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">발주요청자</span>
				<select name="sch_team" id="sch_team" class="select_type3">
					<{foreach from=$sch_team_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_team == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_s_no" id="sch_s_no" class="select_type1">
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">공급업체</span>
				<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="min-width: 110px;margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_sup_c_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_sup_c_no==$key }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group">
				<span class="name_tit">구성품목명</span>
				<a href="javascript:void(0)" onclick="open_quick_prd('sch_option_name')" style=""><img src="./images/icon/import.png"></a>
				<input type="text" name="sch_option_name" id="sch_option_name" class="input_type5" style="min-width: 200px; width: auto;" value="<{$sch_option_name}>">
				<span style="margin-right:20px;"></span>
				<button class="btn_small" style="padding: 7px 15px;font-weight: bold;" onclick="normal_search();">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="overflow: hidden; width: 100%; margin-top: 20px; box-sizing: border-box;">
		<table cellpadding="0" cellspacing="0" style="clear: both;">
			<thead>
				<tr>
					<td colspan="11" style="padding: 5px;">
						<button type="button" onclick="sort_search('prev_stock')" style="float: right; margin-top: 10px;">위드플레이스 반출합계 <{if $ord_type == 'prev_stock'}><span style="color:red;"><{if $ord_type_by == 'ASC'}>▲<{elseif $ord_type_by == 'DESC'}>▼<{/if}></span><{/if}></button>
						<span style="float: right; margin: 10px 7px 0 7px; color: gray;">|</span>
						<button type="button" onclick="sort_search('prev_per')" style="float: right; margin-top: 10px;">등락률 <{if $ord_type == 'prev_per'}><span style="color:red;"><{if $ord_type_by == 'ASC'}>▲<{elseif $ord_type_by == 'DESC'}>▼<{/if}></span><{/if}></button>
						<span style="float: right; margin: 10px 7px 0 7px; color: gray;">|</span>
						<button type="button" onclick="sort_search('prev_price')" style="float: right; margin-top: 10px;">이전대비 <{if $ord_type == 'prev_price'}><span style="color:red;"><{if $ord_type_by == 'ASC'}>▲<{elseif $ord_type_by == 'DESC'}>▼<{/if}></span><{/if}></button>
					</td>
				</tr>
				<tr>
					<th style="min-width:50px; height: 70px;" class="first">NO</th>
					<th style="min-width:100px;">업체명/브랜드명</th>
					<th style="min-width:150px;">공급업체</th>
					<th style="min-width:100px;">발주담당자</th>
					<th style="min-width:250px;">구성품목명</th>
					<th style="min-width:100px;">단가시작일</th>
					<th style="min-width:120px;">공급단가<br/>KRW = VAT포함<br/>USD = VAT별도</th>
					<th style="min-width:100px;">이전대비</th>
					<th style="min-width:80px;">등락률</th>
					<th style="min-width:100px;">위드플레이스<br>반출합계<br/>(<{$sch_prev_month}>)</th>
					<th style="min-width:200px;"></th>
				</tr>
			</thead>
			<tbody>
				<{if $product_cms_unit_cost_list}>
					<{foreach from=$product_cms_unit_cost_list item=product_cms_unit_cost}>
						<tr>
							<td class="first text-center" style="height: 30px;"> <!-- NO -->
								<{$product_cms_unit_cost.cc_no}>
							</td>
							<td> <!-- 업체명/브랜드명 -->
								<{$product_cms_unit_cost.brand}>
							</td>
							<td> <!-- 공급업체 -->
								<{$product_cms_unit_cost.sup_c_name}>
							</td>
							<td> <!-- 발주담당자 -->
								<{$product_cms_unit_cost.ord_s_name}>
							</td>
							<td style="text-align: left; padding-left: 10px;"> <!-- 구성품목명 -->
								<{$product_cms_unit_cost.option_name}>
							</td>
							<td> <!-- 단가시작일 -->
								<{$product_cms_unit_cost.cost_date}>
							</td>
							<td style="text-align: right;"> <!-- 공급단가(VAT 포함) -->
								<b><{if $product_cms_unit_cost.is_usd_price}>USD $<{else}>KRW ₩<{/if}> <{$product_cms_unit_cost.sup_price}></b>
							</td>
							<td style="text-align: right;"> <!-- 이전대비 -->
								<{if $product_cms_unit_cost.prev_price > 0}>
									<span style="color: red; font-weight: bold;">▲ <{if $product_cms_unit_cost.is_usd_price}>$<{else}>₩<{/if}><{$product_cms_unit_cost.prev_price|number_format:2}></span>
								<{elseif $product_cms_unit_cost.prev_price < 0}>
									<span style="color: blue; font-weight: bold;">▼ <{if $product_cms_unit_cost.is_usd_price}>$<{else}>₩<{/if}><{$product_cms_unit_cost.prev_price_text|number_format:2}></span>
								<{/if}>
							</td>
							<td class="text-right"> <!-- 등락률 -->
								<{if $product_cms_unit_cost.prev_per > 0}>
									<span style="color: red; font-weight: bold;">▲ +<{$product_cms_unit_cost.prev_per}>%</span>
								<{elseif $product_cms_unit_cost.prev_per < 0}>
									<span style="color: blue; font-weight: bold;">▼ <{$product_cms_unit_cost.prev_per}>%</span>
								<{/if}>
							</td>
							<td class="text-right"> <!-- 위드플레이스<br>반출합계 -->
								<b><{$product_cms_unit_cost.prev_stock|number_format:0}></b>
							</td>
							<td>
								<button type="button" style="background: #333;color: white;font-weight: bold;padding: 5px 26px;border-radius: 5px;" onclick="moveCostView('<{$product_cms_unit_cost.prd_unit}>')">상세내역 보기</button>
							</td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td colspan="11">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_team").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_sup_c_no").remoteChained({
			parents: "#sch_s_no",
			url: "/v1/api/stock.json.php?parent_data=sch_s_no",
			loading: "로딩중..",
			clear: true
		});
	});

	function moveCostView(prd_unit)
	{
		location.href='product_cms_unit_cost_view.php?prd_unit='+prd_unit;
	}

	function open_quick_prd(keyword)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit&sch_idx='+keyword,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, option_no, option_name)
	{
		if($("#"+idx).length > 0) {
			$("#"+idx).val(option_name);
		}
	}

	function sort_search(type)
	{
		var ori_ord_type 	= $("#ori_ord_type").val();
		var ord_type_by 	= $("#ord_type_by").val();

		$("#ord_type").val(type);

		if(ori_ord_type == type || !ori_ord_type)
		{
			if(ord_type_by == 'ASC'){
				$("#ord_type_by").val("DESC");
			}else if(ord_type_by == 'DESC'){
				$("#ord_type_by").val("ASC");
			}else{
				$("#ord_type_by").val("DESC");
			}
		}

		searchList();
	}
</script>
</body>
</html>
