<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table_list_style table th, .table_list_style table td{vertical-align: middle;}
	.table_list_style table th{font-weight: bold; text-align: center; color: black !important;}
	.table_list_style table tbody td{padding: 10px;}
	.background-red{background: rgb(255,242,204) !important;}
	.background-blue{background: rgb(221,235,247) !important; padding:10px !important;}
	.background-gray{background: rgb(242,242,242) !important;}
	.background-green{background: rgb(226,239,218) !important;}
	.form-control{display: inline-block; font-size:12px; padding: 3px; width: auto}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_cms_stock_other_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">● 타계정반출 상세리스트</h2>

		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<span class="name_tit">일자</span>
				<input type="text" name="sch_move_mon" id="sch_move_mon" class="month-picker form-control" style="font-size: 12px; display: inline-block;" value="<{$sch_move_mon}>">
				<span style="margin-right:15px;"></span>

				<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="margin-top: 30px;">
		<table class="table table-bordered" id="other_table" cellpadding="0" cellspacing="0"  style="width: auto;">
			<thead class="text-center">
				<tr>
					<th class="first background-blue" style="height: 30px;" colspan="2">합계</th>
					<th class="background-blue text-right"><{$stock_report_total_list[1]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['1_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list[9]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['9_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list[2]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['2_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list[3]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['3_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list[4]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['4_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list[5]|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['5_price']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['total']|number_format:0}></th>
					<th class="background-blue text-right"><{$stock_report_total_list['total_price']|number_format:0}></th>
				</tr>
				<tr>
					<th class="first background-gray" style="min-width:300px; width: 300px; height: 60px;" rowspan="2">구성품명</th>
					<th class="background-gray" style="min-width:140px; width: 140px;" rowspan="2">단가</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						광고선전비
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=1" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						시딩출고
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=9" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						소모품비
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=2" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						접대비
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=3" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						복리후생비
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=4" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:160px; width: 160px;" colspan="2">
						폐기손실
						<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_confirm_state=10&sch_log_subject=5" target="_blank">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</th>
					<th class="background-gray" style="min-width:200px; width: 200px;" colspan="2">합계</th>
				</tr>
				<tr>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">금액</th>
					<th class="background-gray" style="min-width:80px; width: 80px;" rowspan="2">수량</th>
					<th class="background-gray" style="min-width:120px; width: 120px;" rowspan="2">금액</th>
				</tr>
			</thead>
			<tbody>
				<{if $stock_report_list}>
					<{foreach from=$stock_report_list item=stock_report}>
						<tr>
							<td class="first background-red text-left" style="height: 30px"> <!--구성품명 -->
								<{$stock_report.name}>
							</td>
							<td class="background-red text-right"> <!--단가 -->
								<{$stock_report.price|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[1]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=1" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['1_price']|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[9]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=9" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['9_price']|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[2]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=2" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['2_price']|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[3]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=3" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['3_price']|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[4]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=4" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['4_price']|number_format:0}>
							</td>
							<td class="text-right"> <!--수량 -->
								<{$stock_report[5]|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10&sch_log_subject=5" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right"> <!--금액 -->
								<{$stock_report['5_price']|number_format:0}>
							</td>
							<td class="text-right background-green"> <!--수량 -->
								<{$stock_report['total']|number_format:0}>
								<a href="product_cms_stock_report_list.php?sch_s_regdate=<{$sch_move_s_date}>&sch_e_regdate=<{$sch_move_e_date}>&sch_prd_sku=<{$stock_report.sku}>&sch_confirm_state=10" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							</td>
							<td class="text-right background-green"> <!--금액 -->
								<{$stock_report['total_price']|number_format:0}>
							</td>
						</tr>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div class="left_wrap">
		<button class="btn_style1" onclick="location.href='excel_product_cms_stock_other_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});
    function searchList(){
        document.search_form.submit();
    }
</script>

</body>
</html>
