<{include file="inc/boot_navibar.html"}>

<!-- multi-select -->
<script type="text/javascript" src="<{$dir_location}>js/jquery.multi-select.min.js"></script>
<link href="<{$dir_location}>css/multi-select.css" rel="stylesheet" type="text/css">

<script src="<{$dir_location}>js/echarts.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	.title{margin: 10px 0 30px;}
	.sch-wrapper{font-size: 13px;line-height: 13px; margin-bottom: 50px;}
	.sch-sup-wrapper{margin: 10px 0 5px;}
	.sch-date-wrapper .sch-date-kind{display: inline-block;padding-right: 20px;border-right: 1px solid #ccc;}
	.sch-date-wrapper .sch-date-kind label{cursor: pointer;margin-right: 5px;}
	.sch-date-wrapper .sch-date-term{display: inline-block;}
	.sch-date-wrapper .sch-date-term .sch_date_type{display: none;}
	.name_tit{margin-right: 10px; font-weight: 600;}
	.product-stock-graph{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#stock-graph{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.selectpicker{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.picker-sum{width: 66px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}
	.product-stock-table{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px;}
	.stock-table{width:100%;}
	.stock-table th, .stock-table td{border: 1px solid #FFF;}
	.stock-table thead th, .stock-table tbody th{padding: 5px 10px; background: #ddd;}
	.stock-table tbody td{text-align: right; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
	.stock-table tbody.import td{color: blue;}
	.stock-table tbody.export td{color: red;}
	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="product_cms_stock_asset_stats.php" method="get" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="sch-wrapper">
			<div class="sch-sup-wrapper">
				<span class="name_tit">발주담당자</span>
				<select name="sch_ord_s_no" id="sch_ord_s_no" class="select_type2" style="margin-right: 10px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_ord_s_list key=ord_s_no item=label}>
					<option value="<{$ord_s_no}>" <{if $sch_ord_s_no==$ord_s_no }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">공급업체</span>
				<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="margin-right: 10px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_sup_c_list key=sup_c_no item=label}>
					<option value="<{$sup_c_no}>" <{if $sch_sup_c_no==$sup_c_no }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">물류센터</span>
				<select name="sch_center" id="sch_center" class="select_type2" style="margin-right: 10px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_center_list item=label}>
					<option value="<{$label}>" <{if $label==$sch_center}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">창고</span>
				<select name="sch_warehouse" id="sch_warehouse" class="select_type2" style="margin-right: 10px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_warehouse_list item=label}>
					<option value="<{$label}>" <{if $label==$sch_warehouse}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<span class="name_tit">날짜</span>
				<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />

				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
			</div>
		</div>

		<div style="width: 1200px;  text-align: right;  margin: 10px 0 5px; color: #9e9e9e; font-size: 12px;">※ VAT 포함가</div>
		<div id="product-stock-card" class="product-stock-graph">
			<div class="card-body">
				<div id="stock-graph"></div>
				<div class="pagination-wrapper">
					<div>
						<select class="selectpicker picker-sum">
							<option value="each">개별</option>
							<option value="sum">합산</option>
						</select>
						<select multiple="multiple" class="selectpicker picker-list">
							<{foreach from=$picker_list key=key item=label}>
							<option value="<{$label}>" attr-key="<{$key}>" selected><{$label}></option>
							<{/foreach}>
						</select>
						<ul class="pagination data-line-bar">
							<li class="page-item "><a data-key="line" id="commerce-line" class="page-link" href="javascript:void(0);">선형</a></li>
							<li class="page-item active"><a data-key="bar" id="commerce-bar" class="page-link" href="javascript:void(0);">막대형</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div style="width: 1222px;  text-align: right;  margin: 10px 0 5px; color: #9e9e9e; font-size: 12px;">※ VAT 포함가</div>
		<div class="product-stock-table" id="product-stock-table">
		</div>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('product-stock-table');" /></div>
	</form>

	<div style="margin-top: 30px; width: 1200px;" class="table_list_style">
		<span style="color: red;">※ 주의 : 최근(180일) 입고완료(공급단가) 처리가 안된 입고 내역이 있습니다.</span>
		<table cellpadding='0' cellspacing='0'>
			<thead>
				<tr>
					<th style="min-width: 100px; width: 100px;" class="first">일자</th>
					<th style="min-width: 120px; width: 120px;">공급업체</th>
					<th style="min-width: 240px; width: 240px;">구성품목</th>
					<th style="min-width: 100px; width: 100px;">입고형태</th>
					<th style="min-width: 150px; width: 150px;">물류업체명</th>
					<th style="min-width: 100px; width: 100px;">정상창고</th>
					<th style="min-width: 80px; width: 80px;">수량</th>
					<th style="min-width: 200px; width: 200px;">메모</th>
					<th style="min-width: 100px; width: 100px;">발주서입고</th>
					<th style="min-width: 100px; width: 100px;">입고단가(VAT포함)</th>
				</tr>
			</thead>
			<tbody>
				<{if $yet_stock_report_list }>
					<{foreach from=$yet_stock_report_list item=stock_report}>
						<tr>
							<td class="first"><{$stock_report.regdate}></td>
							<td><{$stock_report.sup_c_name}></td>
							<td style="text-align: left;"><{$stock_report.comp_name}></td>
							<td>정상입고</td>
							<td><{$stock_report.log_c_name}></td>
							<td><{$stock_report.stock_type}></td>
							<td style="color: blue; text-align: right;font-weight: bold;"><{if $stock_report.stock_qty > 0}>+ <{/if}><{$stock_report.stock_qty|number_format:0}></td>
							<td>
								<textarea onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200px')" class="textarea_message" style="width: 200px; height: 60px;" readonly><{$stock_report.memo}></textarea>
							</td>
							<td>
								<input type="radio" name="is_order_<{$stock_report.no}>" value="1" id="is_order_<{$stock_report.no}>_1" onclick="save_stock_el('<{$stock_report.no}>', 'f_is_order', this)" <{if $stock_report.is_order == '1'}>checked<{/if}>>
								<label for="is_order_<{$stock_report.no}>_1">Yes</label>
								<input type="radio" name="is_order_<{$stock_report.no}>" value="2" id="is_order_<{$stock_report.no}>_2" onclick="save_stock_el('<{$stock_report.no}>', 'f_is_order', this)" <{if $stock_report.is_order == '2'}>checked<{/if}>>
								<label for="is_order_<{$stock_report.no}>_2">No</label>
								<br/><br/>
								<span style="color: red;">미등록</span>
							</td>
							<td style="color: red;">미등록</td>
						</tr>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript">

    $(".picker-list").multiSelect();

    $(document).ready(function(){
        $("#sch_sup_c_no").remoteChained({
            parents: "#sch_ord_s_no",
            url: "/v1/api/stock.json.php?parent_data=sch_ord_s_no",
            loading: "로딩중..",
            clear: true
        });

        $(".picker-sum").change(function(){
            var key 	   = $(".data-line-bar").children(".active").children('.page-link').attr('data-key');
            var sumType    = $(this).val();
            drawGraph(key, sumType);
        });

        $(".data-line-bar .page-link").click(function(){
            var key 	= $(this).attr('data-key');
            var sumType = $(".picker-sum option:selected").val();

            $(".data-line-bar .page-item").removeClass('active');

            $(this).parent(".page-item").addClass('active');
            drawGraph(key,  sumType);
        });

        $(".multi-select-menuitem").click(function(){

            var id    = $(this).attr('for');
            var value = $("#"+id).val();
            var type  = ($("#"+id).is(":checked") == true) ? "legendSelect":"legendUnSelect";
            var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');

            if(tableIdx && type == 'legendSelect'){
                $('.tr_'+tableIdx).show();
            }else{
                $('.tr_'+tableIdx).hide();
            }

            myChart.dispatchAction({
                type: type,
                name: value
            });
        });
    });

    var myChart = echarts.init(document.getElementById('stock-graph'), 'shine');

    drawGraph('bar', 'each');

    function drawGraph(key, sumType)
    {
        myChart.clear();

        var fullData = <{$full_data}>;

        if(fullData != '')
        {
            var statsData = fullData[sumType];

            var legendData = [];

            var refresh 	= false;
            var boundaryGap = false;

            if(sumType == 'sum'){
                legendData.push("합산");
                refresh = true;
            }else{
                var legendList = <{$legend_list}>;

                $.each(legendList, function(idx, item){
                    legendData.push(item);
                });
            }

            var pushData = [];

            if(key == 'line'){
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'line',
                        data: item['data'],
                        smooth: true
                    });
                });
            }else if(key == 'bar'){
                boundaryGap = true;
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'bar',
                        data: item['data']
                    });
                });
            }

            myChart.setOption({
                title: {
                    text: '재고 자산 현황',
                    left: 'center',
                    top: 5
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: legendData,
                    top: 35
                },
                grid: {
                    top: 70,
                    left: 35,
                    right: 15,
                    bottom: 50,
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: boundaryGap,
                    data: [<{$x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);

            createTable(statsData, key, sumType);
        }
    }

    function createTable(statsData, key, sumType)
    {
        var thLabel = <{$x_table_th_list}>;

        var table = "<table class='stock-table' cellpadding='0' cellspacing='0'>" + "<thead><tr>" + "<th></th>";
        var yPriceTotal = [];

        $.each(thLabel, function(data, label){
            table += "<th style='text-align: center;'>" + label + "</th>";
            yPriceTotal.push(0);
        });

        table += "<th style='text-align: center;'>합계</th>";
        table += "</tr></thead><tbody>";

        $.each(statsData, function(idx, item){
            table += "<tr class='stat_table_tr tr_"+ idx + "'><th style='min-width: 100px;'>" + item['title'] + "</th>";
            var x_total_price = 0;

            $.each(item['data'], function(key, price){
                var value = cmsNumberFormat(price);
                yPriceTotal[key] += price;
                x_total_price += price;

                table += "<td>" + value + "</td>";
            });


            table += "<td class='total-val'>"+cmsNumberFormat(x_total_price)+"</td>";

            table += "</tr>";
        });

		var fullTotal = 0;
        table += "<th style='text-align: center;'>합계</th>";
        $.each(yPriceTotal, function(key, yTotal){
            var value = cmsNumberFormat(yTotal);
            table += "<td>" + value + "</td>";
            fullTotal += yTotal;
        });
        table += "<td class='total-val'>"+cmsNumberFormat(fullTotal)+"</td>";
        table += "</tr>";


        table += "</tbody></table>";

        $(".product-stock-table").html(table);

        if(sumType == 'each'){
            reloadStatsData();
        }
    }

    function reloadStatsData()
    {
        var legendList  = <{$legend_list}>;
        var selOption 	= $('.picker-list').val();

        $.each(legendList, function(idx, data){
            myChart.dispatchAction({
                type: "legendUnSelect",
                name: data['title']
            });
        });

        $(".stat_table_tr").hide();
        selOption.forEach(function(value){
            var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');
            $('.tr_'+tableIdx).show();

            myChart.dispatchAction({
                type: "legendSelect",
                name: value
            });
        });

    }

    function cmsNumberFormat(price)
    {
        price = comma(price);
        return price;
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
        f.style.width = width;
        f.style.backgroundColor="yellow";
        f.style.height = (f.scrollHeight)+"px"; // 자동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width){
        f.style.width = width;
        f.style.backgroundColor="";
        f.style.height = "60px"; // 수동설정
    }

    function save_stock_el(no, proc, obj)
    {
        var val = obj.value;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (val != "") { // 공백시 저장안됨
            $.post("product_cms_stock_asset_stats.php", {no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

</script>

</body>
</html>
