<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_cms_stock_list.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div id="sch_detail_display">
					<div>
						<span class="name_tit">NO</span>
						<input type="text" name="sch_no" class="input_type3" id="sch_no" value="<{$sch_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();"/>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">기준일</span>
						<input type="text" name="sch_stock_date" class="date-picker input_type_date" id="sch_stock_date" value="<{$sch_stock_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">공급업체</span>
						<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_sup_c_list key=sup_c_no item=label}>
							<option value="<{$sup_c_no}>" <{if $sch_sup_c_no==$sup_c_no }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발주담당자</span>
						<select name="sch_ord_s_no" id="sch_ord_s_no" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_ord_s_list key=ord_s_no item=label}>
							<option value="<{$ord_s_no}>" <{if $sch_ord_s_no==$ord_s_no}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">와이즈 구성품목명</span>
						<input type="text" name="sch_prd_name" class="input_type5" value="<{$sch_prd_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
					</div>
					<div>
						<span class="name_tit">업체명</span>
						<input type="text" name="sch_stock_c_name" class="input_type5" value="<{$sch_stock_c_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">품목분류</span>
						<select name="sch_unit_type" id="sch_unit_type" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$unit_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_unit_type==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">재고관리코드(SKU)</span>
						<input type="text" name="sch_stock_prd_sku" class="input_type5" value="<{$sch_stock_prd_sku}>" style="background: yellow;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">물류업체</span>
						<select name="sch_log_company" id="sch_log_company" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$log_company_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_log_company == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">창고</span>
						<input type="text" name="sch_warehouse" class="input_type3" value="<{$sch_warehouse}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
						<input type="checkbox" name="sch_is_good_warehouse" id="sch_is_good_warehouse" value="1" <{if $sch_is_good_warehouse == '1'}>checked<{/if}>>
						<label for="sch_is_good_warehouse">정상,세이프인</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">File no</span>
						<input type="text" name="sch_file_no" class="input_type3" value="<{$sch_file_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" style="width: 50px;" />
						<span style="margin-right:15px;"></span>

						<button class="btn_small" type="button" onclick="searchList();" style="width:58px; height:27px;">검색</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style">
	<table cellpadding="0" cellspacing="0">
		<!-- 재고현황 리스트 부분 [Start] -->
		<thead>
		<tr>
			<td colspan="12" style="text-align: left;">
				<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
					<{foreach from=$page_type_list item=page_type}>
					<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th class="first" style="min-width:45px; width:45px; height: 50px;" rowspan="2">no</th>
			<th style="min-width: 75px; width: 75px;" rowspan="2">기준일</th>
			<th style="min-width: 500px; width: 500px;" colspan="4">와플 구성품목</th>
			<th style="min-width: 400px; width: 400px;" colspan="2">물류창고</th>
			<th style="min-width: 400px; width: 400px;" colspan="3">재고정보</th>
			<th style="min-width: 80px; width: 80px;" rowspan="2">File no</th>
		</tr>
		<tr>
			<th style="min-width: 120px; width: 120px; height: 25px;">공급업체</th>
			<th style="min-width: 100px; width: 100px;">발주담당자</th>
			<th style="min-width: 200px; width: 200px;">와이즈 구성품목명</th>
			<th style="min-width: 80px; width: 80px;">품목분류</th>
			<th style="min-width: 120px; width: 120px;">업체명</th>
			<th style="min-width: 180px; width: 180px;">재고관리코드(SKU)</th>
			<th style="min-width: 130px; width: 130px;">물류센터</th>
			<th style="min-width: 170px; width: 170px;">창고</th>
			<th style="min-width: 100px; width: 100px;">재고수량</th>
		</tr>
		</thead>
		<tbody>
			<{if $stock_list}>
				<{foreach from=$stock_list key=prd_unit item=stock_data}>
					<{assign var=row_cnt value=$stock_data|count}>
					<{assign var=chk_idx value=0}>
					<{foreach from=$stock_data item=stock}>
						<tr>
							<td class="first" style="height: 25px;"> <!-- no -->
								<{$stock.no}>
							</td>
							<td> <!-- 기준일 -->
								<{$stock.stock_date}>
							</td>
							<{if $chk_idx == 0}>
								<td style="background: #DDEBF7;" rowspan="<{$row_cnt}>"> <!-- 공급업체 -->
									<{$stock.sup_c_name}>
								</td>
								<td style="background: #DDEBF7;" rowspan="<{$row_cnt}>"> <!-- 발주담당자 -->
									<{$stock.ord_s_name}>
									<{if $stock.ord_sub_s_name}>
										,<{$stock.ord_sub_s_name}>
									<{/if}>
									<{if $stock.ord_third_s_name}>
										,<{$stock.ord_third_s_name}>
									<{/if}>
								</td>
								<td style="background: #DDEBF7; text-align: left;" rowspan="<{$row_cnt}>"> <!-- 와이즈 구성품목명 -->
									<{$stock.prd_name}>
								</td>
								<td style="background: #DDEBF7;" rowspan="<{$row_cnt}>"> <!-- 품목분류 -->
									<{$stock.unit_type_name}>
								</td>
							<{/if}>
							<td style="background: #F2F2F2;"> <!-- 업체명 -->
								<{$stock.stock_c_name}>
							</td>
							<td style="background: #F2F2F2; text-align: left;"> <!-- 재고관리코드(SKU) -->
								<{$stock.stock_prd_sku}>
							</td>
							<td style="background: #F0F8FF;"> <!-- 물류센터 -->
								<{$stock.stock_center}>
							</td>
							<td style="background: #F0F8FF; text-align: left;"> <!-- 창고 -->
								<{$stock.warehouse}>
							</td>
							<td style="background: yellow; font-weight: bold; text-align: right;"> <!-- 재고수량 -->
								<{$stock.qty}>
							</td>
							<td> <!-- File no -->
								<{if $stock.file_no > 0}>
									<a href="waple_upload_management.php?sch_file_no=<{$stock.file_no}>" target="_blank"><{$stock.file_no}></a>
									<a href="uploads/<{$stock.file_path}>" download="<{$stock.file_name}>"><img src="./images/common/ico/ico_file.gif"></a>
								<{/if}>
							</td>
						</tr>
						<{assign var=chk_idx value=$chk_idx+1}>
					<{/foreach}>
				<{/foreach}>
				<tr>
					<td colspan="12" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			<{else}>
				<tr>
					<td colspan="12">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
		<!-- 재고현황 리스트 부분 [End] -->
	</table>
</div>
	<!-- //table_list_style -->

</div>
<!-- admin_content -->

<script type="text/javascript">

    $(document).ready(function() {
        $("#sch_sup_c_no").remoteChained({
            parents: "#sch_ord_s_no",
            url: "/v1/api/stock.json.php?parent_data=sch_ord_s_no",
            loading: "로딩중..",
            clear: true
        });
    });

    // 검색 하기
    function searchList(){
        document.search_form.submit();
    }

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}
</script>

</body>
</html>
