<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.table_list_style table th, .table_list_style table td{vertical-align: middle;}
	.table_list_style table thead th{border: 1px solid black; color: black; background: rgba(119,119,119,0.5); padding: 5px;}
	.table_list_style table thead th.border-empty{border-right: 0;}
	.table_list_style table thead th.first{border-left: 1px solid black;}
	.table_list_style table tbody td{padding: 5px; border: 1px solid black;}
	.table_list_style table tbody td.first{border: 1px solid black;}
</style>

<div class="admin_content">
	<h2>● 재고자산수불부 검토</h2>
	<div class="table_list_style" style="margin-top: 30px;">
		<{if $not_option_list}>
			<h2 style="font-size: 20px; margin-bottom: 10px;">해당 SKU 없는 구성품</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<tbody>
					<{assign var=idx value=0}>
					<{foreach from=$not_option_list item=prd_code}>
						<{if $idx%7 == '0'}><tr><{/if}>
						<td><{$prd_code}></td>
						<{if $idx%7 == 6}></tr><{/if}>
					<{assign var=idx value=$idx+1}>
				<{/foreach}>
				</tbody>
			</table>
		<{/if}>

		<{if $base_in_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">기초재고수량 불일치 (<{$base_in_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
					<tr>
						<th scope="col" class="first">업체명/브랜드명</th>
						<th scope="col">와이즈 구성품명</th>
						<th scope="col">물류업체</th>
						<th scope="col">창고</th>
						<th scope="col">재고관리코드(SKU)</th>
						<th scope="col">(와플)기초재고수량</th>
						<th scope="col">(첨부파일)기초재고수량</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$base_in_stock_not_matching_list item=base_not_data}>
						<tr>
							<td class="first"><{$base_not_data.brand_name}></td>
							<td class="text-left"><{$base_not_data.option_name}></td>
							<td><{$base_not_data.log_company}></td>
							<td class="text-left"><{$base_not_data.warehouse}></td>
							<td class="text-left"><{$base_not_data.sku}></td>
							<td class="text-right"><{$base_not_data.receipt_in_base_qty|number_format}></td>
							<td class="text-right"><{$base_not_data.excel_in_base_qty|number_format}></td>
						</tr>
					<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $sales_in_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">구매입고 불일치(<{$sales_in_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)구매입고</th>
					<th scope="col">(첨부파일)입고수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$sales_in_stock_not_matching_list item=sales_not_data}>
				<tr>
					<td class="first"><{$sales_not_data.brand_name}></td>
					<td class="text-left"><{$sales_not_data.option_name}></td>
					<td><{$sales_not_data.log_company}></td>
					<td class="text-left"><{$sales_not_data.warehouse}></td>
					<td class="text-left"><{$sales_not_data.sku}></td>
					<td class="text-right"><{$sales_not_data.receipt_in_point_qty|number_format}></td>
					<td class="text-right"><{$sales_not_data.excel_in_point_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $move_in_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">이동입고 불일치(<{$move_in_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)이동입고</th>
					<th scope="col">(첨부파일)이동입고수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$move_in_stock_not_matching_list item=move_in_not_data}>
				<tr>
					<td class="first"><{$move_in_not_data.brand_name}></td>
					<td class="text-left"><{$move_in_not_data.option_name}></td>
					<td><{$move_in_not_data.log_company}></td>
					<td class="text-left"><{$move_in_not_data.warehouse}></td>
					<td class="text-left"><{$move_in_not_data.sku}></td>
					<td class="text-right"><{$move_in_not_data.receipt_in_move_qty|number_format}></td>
					<td class="text-right"><{$move_in_not_data.excel_in_move_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $return_in_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">반품입고 불일치(<{$return_in_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)반품입고</th>
					<th scope="col">(첨부파일)고객반품수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$return_in_stock_not_matching_list item=return_not_data}>
				<tr>
					<td class="first"><{$return_not_data.brand_name}></td>
					<td class="text-left"><{$return_not_data.option_name}></td>
					<td><{$return_not_data.log_company}></td>
					<td class="text-left"><{$return_not_data.warehouse}></td>
					<td class="text-left"><{$return_not_data.sku}></td>
					<td class="text-right"><{$return_not_data.receipt_in_return_qty|number_format}></td>
					<td class="text-right"><{$return_not_data.excel_in_return_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $etc_in_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">기타입고 불일치(<{$etc_in_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)기타입고</th>
					<th scope="col">(첨부파일)기타입고수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$etc_in_stock_not_matching_list item=etc_not_data}>
				<tr>
					<td class="first"><{$etc_not_data.brand_name}></td>
					<td class="text-left"><{$etc_not_data.option_name}></td>
					<td><{$etc_not_data.log_company}></td>
					<td class="text-left"><{$etc_not_data.warehouse}></td>
					<td class="text-left"><{$etc_not_data.sku}></td>
					<td class="text-right"><{$etc_not_data.receipt_in_etc_qty|number_format}></td>
					<td class="text-right"><{$etc_not_data.excel_in_etc_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $sales_out_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">판매반출 불일치(<{$sales_out_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)판매반출</th>
					<th scope="col">(첨부파일)판매반출수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$sales_out_stock_not_matching_list item=sales_out_not_data}>
				<tr>
					<td class="first"><{$sales_out_not_data.brand_name}></td>
					<td class="text-left"><{$sales_out_not_data.option_name}></td>
					<td><{$sales_out_not_data.log_company}></td>
					<td class="text-left"><{$sales_out_not_data.warehouse}></td>
					<td class="text-left"><{$sales_out_not_data.sku}></td>
					<td class="text-right"><{$sales_out_not_data.receipt_out_point_qty|number_format}></td>
					<td class="text-right"><{$sales_out_not_data.excel_out_point_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $move_out_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">이동반출 불일치(<{$move_out_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)이동반출</th>
					<th scope="col">(첨부파일)이동반출수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$move_out_stock_not_matching_list item=move_out_not_data}>
				<tr>
					<td class="first"><{$move_out_not_data.brand_name}></td>
					<td class="text-left"><{$move_out_not_data.option_name}></td>
					<td><{$move_out_not_data.log_company}></td>
					<td class="text-left"><{$move_out_not_data.warehouse}></td>
					<td class="text-left"><{$move_out_not_data.sku}></td>
					<td class="text-right"><{$move_out_not_data.receipt_out_move_qty|number_format}></td>
					<td class="text-right"><{$move_out_not_data.excel_out_move_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $return_out_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">타계정반출 불일치(<{$return_out_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)타계정반출</th>
					<th scope="col">(첨부파일)타계정반출수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$return_out_stock_not_matching_list item=return_out_not_data}>
				<tr>
					<td class="first"><{$return_out_not_data.brand_name}></td>
					<td class="text-left"><{$return_out_not_data.option_name}></td>
					<td><{$return_out_not_data.log_company}></td>
					<td class="text-left"><{$return_out_not_data.warehouse}></td>
					<td class="text-left"><{$return_out_not_data.sku}></td>
					<td class="text-right"><{$return_out_not_data.receipt_out_return_qty|number_format}></td>
					<td class="text-right"><{$return_out_not_data.excel_out_return_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>

		<{if $etc_out_stock_not_matching_list}>
		<div style="margin-top: 20px;">
			<h2 style="font-size: 20px; margin-bottom: 10px; font-weight: bold;">기타반출 불일치(<{$etc_out_stock_cnt}>건)</h2>
			<table class="table table-bordered" cellpadding="0" cellspacing="0"  style="width: auto;">
				<colgroup>
					<col width="120px;">
					<col width="240px;">
					<col width="100px;">
					<col width="140px;">
					<col width="200px;">
					<col width="140px;">
					<col width="140px;">
				</colgroup>
				<thead class="text-center">
				<tr>
					<th scope="col" class="first">업체명/브랜드명</th>
					<th scope="col">와이즈 구성품명</th>
					<th scope="col">물류업체</th>
					<th scope="col">창고</th>
					<th scope="col">재고관리코드(SKU)</th>
					<th scope="col">(와플)기타반출</th>
					<th scope="col">(첨부파일)기타반출수량</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$etc_out_stock_not_matching_list item=etc_out_not_data}>
				<tr>
					<td class="first"><{$etc_out_not_data.brand_name}></td>
					<td class="text-left"><{$etc_out_not_data.option_name}></td>
					<td><{$etc_out_not_data.log_company}></td>
					<td class="text-left"><{$etc_out_not_data.warehouse}></td>
					<td class="text-left"><{$etc_out_not_data.sku}></td>
					<td class="text-right"><{$etc_out_not_data.receipt_out_etc_qty|number_format}></td>
					<td class="text-right"><{$etc_out_not_data.excel_out_etc_qty|number_format}></td>
				</tr>
				<{/foreach}>
				</tbody>
			</table>
		</div>
		<{/if}>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<script type="text/javascript">

</script>

</body>
</html>
