<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_group_set.php" autocomplete="off">
		<h2 class="title" style="margin-bottom:10px">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<select name="sch_k_code" id="sch_k_code" class="select_type2" onchange="this.form.submit();" style="width: 165px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
				<{foreach from=$kind_group_option key=key item=kind_group}>
					<option value="<{$key}>" <{if $sch_k_code == $key}>selected<{/if}>><{$kind_group['label']}></option>
				<{/foreach}>
			</select>
			그룹설정
		</h2>
	</form>

	<!-- 업체정보 -->
	<div class="table_contents_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th colspan=2 style="width:400px;" class="first">그룹1</th>
					<th colspan=2 style="width:400px;">그룹2</th>
				</tr>
			</thead>
			<tbody>
				<form name="product_group_set_form" action="product_group_set.php" method="post" enctype="multipart/form-data" autocomplete="off">
					<input type="hidden" name="process" id="process">
					<input type="hidden" name="target" id="target">
					<input type="hidden" name="sch_k_code" value="<{$sch_k_code}>">
					<tr>
						<td class="first">
							<span class="name_tit">▒▒▒ 우선순위:그룹이름 ▒▒▒</span>
							<br>
							<select name="f_prd1" id="f_prd1" size="15" class="select_type_groupbox" onclick="apply_input('f_prd1');">
								<{section name=data loop=$g_product}>
									<option value="<{$g_product[data].product_code}>" style="<{if $g_product[data].display == '2'}>color: #BBB;<{/if}>"><{$g_product[data].product_priority}> : <{$g_product[data].product_name}><{if $g_product[data].display == '2'}>[OFF]<{/if}></option>
								<{/section}>
							</select>
							<{section name=data loop=$g_product}>
								<input type="hidden" name="<{$g_product[data].product_code}>_name" id="<{$g_product[data].product_code}>_name"  value="<{$g_product[data].product_name}>"/>
								<input type="hidden" name="<{$g_product[data].product_code}>_priority" id="<{$g_product[data].product_code}>_priority"  value="<{$g_product[data].product_priority}>"/>
								<input type="hidden" name="<{$g_product[data].product_code}>_display" id="<{$g_product[data].product_code}>_display"  value="<{$g_product[data].display}>"/>
							<{/section}>
						</td>
						<td class="alignL" valign="top">
							<br>
							--------- [수정/삭제] ---------
							<br>
							우선순위 : <input type="text" maxlength="2" class="input_type_w40" name="f_prd1_priority" id="f_prd1_priority"/>
							<br>
							그룹이름 : <input type="text" class="input_type_w120" name="f_prd1_name" id="f_prd1_name" />
							<input type="hidden" name="f_prd1_code" id="f_prd1_code""/>
							<br>
							<input type="radio" name="f_prd1_display" id="f_prd1_display_on" value="1"><label for="f_prd1_display_on">ON</label>
							<input type="radio" name="f_prd1_display" id="f_prd1_display_off" value="2"><label for="f_prd1_display_off">OFF</label>
							<button onclick="return modify_group('f_prd1');" style="width:125px;" class="btn_small">수정</button>
						</td>
						<td>
							<span class="name_tit">▒▒▒ 우선순위:그룹이름 ▒▒▒</span>
							<br>
							<select name="f_prd2" id="f_prd2" size="15" class="select_type_groupbox" onclick="apply_input('f_prd2');">
							</select>
							<{section name=data loop=$edit_g_product}>
								<input type="hidden" name="<{$edit_g_product[data].product_code}>_name" id="<{$edit_g_product[data].product_code}>_name"  value="<{$edit_g_product[data].product_name}>"/>
								<input type="hidden" name="<{$edit_g_product[data].product_code}>_priority" id="<{$edit_g_product[data].product_code}>_priority"  value="<{$edit_g_product[data].product_priority}>"/>
								<input type="hidden" name="<{$edit_g_product[data].product_code}>_display" id="<{$edit_g_product[data].product_code}>_display"  value="<{$edit_g_product[data].display}>"/>
							<{/section}>
						</td>
						<td class="alignL" valign="top">
							<br>
							--------- [수정/삭제] ---------
							<br>
							소속그룹 :
							<select id="f_prd2_parent" name="f_prd2_parent" class="select_type_w120">
							</select>
							<br>
							우선순위 : <input type="text" maxlength="2" class="input_type_w40" name="f_prd2_priority" id="f_prd2_priority"/>
							<br>
							그룹이름 : <input type="text" class="input_type_w120" name="f_prd2_name" id="f_prd2_name"/>
							<input type="hidden" name="f_prd2_code" id="f_prd2_code""/>
							<br>
							<input type="radio" name="f_prd2_display" id="f_prd2_display_on" value="1"><label for="f_prd2_display_on">ON</label>
							<input type="radio" name="f_prd2_display" id="f_prd2_display_off" value="2"><label for="f_prd2_display_off">OFF</label>
							<button onclick="return modify_group('f_prd2');" style="width:125px;" class="btn_small">수정</button>
							<br>
						</td>
					</tr>
				</form>

				<form name="product_group_set_create_form" action="product_group_set.php" method="post" enctype="multipart/form-data" autocomplete="off">
					<input type="hidden" name="process">
					<input type="hidden" name="target">
					<input type="hidden" name="sch_k_code" value="<{$sch_k_code}>">
					<tr>
						<td colspan=2 class="first alignL" valign="top">
							--------- [그룹 추가] ---------
							<br>
								우선순위 : <input type="text" maxlength="2" class="input_type_w40" name="f_prd1_w_priority" id="f_prd1_w_priority" />
								<br>
								그룹이름 : <input type="text" class="input_type_w120" name="f_prd1_w_name" id="f_prd1_w_name" />
								<input type="hidden" name="f_prd1_w_code" id="f_prd1_w_code" />
							<br>
							<button onclick="return create_group('f_prd1');" style="width:180px;" class="btn_small">그룹 추가하기</button>
						</td>
						<td colspan=2 class="alignL">
							--------- [그룹 추가] ---------
							<br>
							소속그룹 :
							<select name="f_w_prd2_parent" id="f_w_prd2_parent" class="select_type_w120">
								<{section name=data loop=$g_product}>
									<option value="<{$g_product[data].product_code}>" ><{$g_product[data].product_priority}> : <{$g_product[data].product_name}></option>
								<{/section}>
							</select>
							<br>
							우선순위 : <input type="text" maxlength="2" class="input_type_w40" name="f_prd2_w_priority" id="f_prd2_w_priority" />
							<br>
							그룹이름 : <input type="text" class="input_type_w120" name="f_prd2_w_name" id="f_prd2_w_name" />
							<input type="hidden" name="f_prd2_w_code" id="f_prd2_w_code" />
							<br>
							<button onclick="return create_group('f_prd2');" style="width:180px;" class="btn_small">그룹 추가하기</button>
						</td>
					</tr>
				</form>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

<script>
  // 상품그룹 값을 로드하기
  $(document).ready(function(){
    $("#f_prd2").remoteChained({
	    parents : "#f_prd1",
	    url : "/v1/api/product_priority.json.php?sch_k_code=<{$sch_k_code}>",
      <{if $f_prd2 != "" }>
		    bootstrap : {
			    <{section name=data loop=$edit_g_product}>
			    "<{$edit_g_product[data].product_code}>":"<{$edit_g_product[data].product_priority}> : <{$edit_g_product[data].product_name}>",
			    <{/section}>
		    },
	    <{/if}>
	    loading : "로딩중.."
    });
  });

  function select_group_list(){
    $("#f_prd2_parent").remoteChained({
	    parents : "#f_prd2",
	    bootstrap : {
		    <{section name=data loop=$g_product}>
		    	"<{$g_product[data].product_code}>":"<{$g_product[data].product_priority}> : <{$g_product[data].product_name}>",
		    <{/section}>
        "selected":document.getElementById('f_prd1_code').value
	    },
    });
  }


  //상품그룹을 리스트에서 선택 시 수정 영역에 값을 반영
  function apply_input(id_name){
    document.getElementById(id_name+"_code").value = document.getElementById(id_name).value;
    document.getElementById(id_name+"_name").value = document.getElementById(document.getElementById(id_name).value+"_name").value;
    document.getElementById(id_name+"_priority").value = document.getElementById(document.getElementById(id_name).value+"_priority").value;

    if(document.getElementById(document.getElementById(id_name).value+"_display").value == '2'){
		document.getElementById(id_name+"_display_off").checked = true;
    }else{
		document.getElementById(id_name+"_display_on").checked = true;
    }

    if(id_name == "f_prd1"){ // 상위그룹 선택시 하위그룹 Clear
        document.getElementById("f_prd2_parent").value = "";
        document.getElementById("f_prd2_code").value = "";
        document.getElementById("f_prd2_name").value = ""
        document.getElementById("f_prd2_priority").value = "";
    }else if(id_name == "f_prd2"){
        select_group_list();
    }
  }


  // 수정하기
  function modify_group(id_name) {
    if(cknull(id_name+"_priority", "우선순위를") == "x") return false;
    if(!isNumber(document.getElementById(id_name+"_priority").value)) {
        alert("우선순위는 숫자만 입력할 수 있습니다.");
        return false;
    }
    if(cknull(id_name+"_name", "그룹이름을") == "x") return false;

    var f = document.product_group_set_form;
    f.process.value = 'modify';
    f.target.value = id_name;
    f.submit();
  }


  // 삭제하기
  function delete_group(id_name) {
      if(cknull(id_name+"_priority", "우선순위를") == "x") return false;
      if(!isNumber(document.getElementById(id_name+"_priority").value)) {
          alert("우선순위는 숫자만 입력할 수 있습니다.");
          return false;
      }
      if(cknull(id_name+"_name", "그룹이름을") == "x") return false;

      var f = document.product_group_set_form;
      f.process.value = 'delete';
      f.target.value = id_name;
      f.submit();
  }


  // 추가하기
  function create_group(id_name)
  {
      if(id_name=="f_prd2"){
          if(document.getElementById('f_w_prd2_parent').value == ""){
              alert("상품그룹1을 선택해야 합니다.");
              return false;
          }
      }
      if(cknull(id_name+"_w_priority", "우선순위를") == "x") return false;
      if(!isNumber(document.getElementById(id_name+"_w_priority").value)) {
          alert("우선순위는 숫자만 입력할 수 있습니다.");
          return false;
      }
      if(cknull(id_name+"_w_name", "그룹이름을") == "x") return false;

      var f = document.product_group_set_create_form;
      f.process.value = 'write';
      f.target.value = id_name;
      return true;
  }

</script>

</body>
</html>
