<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.move_active{background: #3093c2 !important;}
	.table_list_style table th, .table_list_style table td{vertical-align: middle;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_cms_stock_transfer_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div>
					<span class="name_tit">NO</span>
					<input type="text" class="input_type3" id="sch_no" name="sch_no" value="<{$sch_no}>" style="width: 60px;"/>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">일자</span>
					<input type="text" name="sch_move_s_date" id="sch_move_s_date" class="date-picker form-control" style="font-size: 12px; display: inline-block;" value="<{$sch_move_s_date}>">
					~
					<input type="text" name="sch_move_e_date" id="sch_move_e_date" class="date-picker form-control" style="font-size: 12px; display: inline-block;" value="<{$sch_move_e_date}>">

					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
					<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
					<input type="hidden" name="sch_move_date_type" id="sch_move_date_type" value="<{$sch_move_date_type}>">

					<button type="button" onclick="movedateVal('today')" class="btn_small movedate_btn move_today_btn <{if $sch_move_date_type == 'today'}>move_active<{/if}>" >오늘</button>
					<button type="button" onclick="movedateVal('week')" class="btn_small movedate_btn move_week_btn <{if $sch_move_date_type == 'week'}>move_active<{/if}>">1주</button>
					<button type="button" onclick="movedateVal('month')" class="btn_small movedate_btn move_month_btn <{if $sch_move_date_type == 'month'}>move_active<{/if}>">1달</button>
					<button type="button" onclick="movedateVal('months')" class="btn_small movedate_btn move_months_btn <{if $sch_move_date_type == 'months'}>move_active<{/if}>">3달</button>
					<button type="button" onclick="movedateVal('year')" class="btn_small movedate_btn move_year_btn <{if $sch_move_date_type == 'year'}>move_active<{/if}>">1년</button>
					<button type="button" onclick="movedateVal('years')" class="btn_small movedate_btn move_years_btn <{if $sch_move_date_type == 'years'}>move_active<{/if}>">2년</button>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">이동형태</span>
					<select name="sch_t_type" id="sch_t_type" class="select_type2" >
						<option value="">::전체::</option>
						<{foreach from=$sch_type_option item=label}>
						<option value="<{$label}>" <{if $sch_t_type == $label}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">이동상태</span>
					<select name="sch_t_state" id="sch_t_state" class="select_type2" >
						<option value="">::전체::</option>
						<{foreach from=$sch_state_option item=label}>
						<option value="<{$label}>" <{if $sch_t_state == $label}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				</div>
				<div style="margin: 5px 0;">
					<span class="name_tit">공급업체</span>
					<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" >
						<option value="">::전체::</option>
						<{foreach from=$sup_c_list item=label}>
						<option value="<{$label}>" <{if $sch_sup_c_no == $label}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">와이즈 구성품명</span>
					<input type="text" class="input_type3" id="sch_option_name" name="sch_option_name" value="<{$sch_option_name}>" style="width: 200px;"/>
					<input type="checkbox" name="sch_option_complete" id="sch_option_complete" value="1" style="cursor: pointer;" <{if $sch_option_complete == '1'}>checked<{/if}>>
					<label for="sch_option_complete" style="cursor: pointer;">완전일치</label>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">반출::물류업체</span>
					<select name="sch_out_log_company" id="sch_out_log_company" class="select_type2" style="width: 120px;">
						<option value="">::전체::</option>
						<{foreach from=$log_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_out_log_company == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">반출::물류창고</span>
					<input type="text" class="input_type3" id="sch_out_warehouse" name="sch_out_warehouse" value="<{$sch_out_warehouse}>" style="width: 150px;"/>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">반출::재고관리코드(SKU)</span>
					<input type="text" class="input_type3" id="sch_out_sku" name="sch_out_sku" value="<{$sch_out_sku}>" style="width: 200px;"/>
				</div>
				<div>

					<span class="name_tit">반입::물류업체</span>
					<select name="sch_in_log_company" id="sch_in_log_company" class="select_type2" style="width: 120px;">
						<option value="">::전체::</option>
						<{foreach from=$log_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_in_log_company == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">반입창고</span>
					<input type="text" class="input_type3" id="sch_in_warehouse" name="sch_in_warehouse" value="<{$sch_in_warehouse}>" style="width: 150px;"/>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">반입::재고관리코드(SKU)</span>
					<input type="text" class="input_type3" id="sch_in_sku" name="sch_in_sku" value="<{$sch_in_sku}>" style="width: 200px;"/>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">File No</span>
					<input type="text" name="sch_file_no" id="sch_file_no" class="input_type3" value="<{$sch_file_no}>" style="width: 100px;"/>

					<button class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="clear: both;">
		<table cellpadding="0" cellspacing="0" class="table table-bordered" style="width: auto;">
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="10" style="text-align: right; font-size: 13px; border-right: 0;">
						<span style="color: red;">+<{$transfer_sum_in_total|number_format:0}></span>
					</td>
					<td colspan="4" style="text-align: right; font-size: 13px; border-right: 0;">
						<span style="color: blue;">+<{$transfer_sum_out_total|number_format:0}></span>
					</td>
					<td></td>
				</tr>
				<tr>
					<th style="min-width:50px; height: 50px;" class="first" rowspan="2">no</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">일자</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">이동형태</th>
					<th style="min-width:80px; width: 80px;" rowspan="2">이동상태</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">공급업체</th>
					<th style="min-width:200px; width: 200px;" rowspan="2">와이즈 구성품명</th>
					<th style="min-width:300px; width: 300px;" colspan="2">반출::물류창고</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">반출창고</th>
					<th style="min-width:60px; width: 60px;" rowspan="2">반출수량</th>
					<th style="min-width:300px; width: 300px;" colspan="2">반입::물류창고</th>
					<th style="min-width:100px; width: 100px;" rowspan="2">반입창고</th>
					<th style="min-width:60px; width: 60px;" rowspan="2">반입수량</th>
					<th style="min-width:60px; width: 60px;" rowspan="2">File No</th>
				</tr>
				<tr>
					<th style="min-width:100px; width: 100px;">반출::물류업체</th>
					<th style="min-width:200px; width: 200px;">반출::재고관리코드(SKU)</th>
					<th style="min-width:100px; width: 100px;">반입::물류업체</th>
					<th style="min-width:200px; width: 200px;">반입::재고관리코드(SKU)</th>
				</tr>
			</thead>
			<tbody>
				<{if $stock_transfer_list}>
					<{foreach from=$stock_transfer_list item=stock_transfer}>
						<tr>
							<td class="first" style="height: 50px;"> <!-- no-->
								<{$stock_transfer.no}>
							</td>
							<td>
								<{if permissionNameCheck($session_permission, "물류관리자")}>
								<input type="text" name="f_move_date" class="form-control date-picker" value="<{$stock_transfer.move_date}>" style="width: 99%; padding: 1px;" onchange="save_el('<{$stock_transfer.no}>', 'f_move_date', this)"/>
								<{else}>
									<{$stock_transfer.move_date}>
								<{/if}>
							</td>
							<td><{$stock_transfer.t_type}></td>
							<td><{$stock_transfer.t_state}></td>
							<td><{$stock_transfer.sup_c_name}></td>
							<td class="text-left" style="background: #9edefd4a;"><{$stock_transfer.option_name}></td>
							<td style="background: #DDDDDD;"><{$stock_transfer.out_log_c_name}></td>
							<td class="text-left" style="background: #DDDDDD;"><{$stock_transfer.out_sku}></td>
							<td><{$stock_transfer.out_warehouse}></td>
							<td class="text-right" style="background: #fffee3; color: red; font-weight: bold;padding-right: 5px;"><{$stock_transfer.out_qty}></td>
							<td style="background: #DDDDDD;"><{$stock_transfer.in_log_c_name}></td>
							<td class="text-left" style="background: #DDDDDD;"><{$stock_transfer.in_sku}></td>
							<td><{$stock_transfer.in_warehouse}></td>
							<td class="text-right" style="background: #fffee3; color: blue; font-weight: bold;padding-right: 5px;"><{$stock_transfer.in_qty}></td>
							<td>
								<{if $stock_transfer.file_no > 0}>
									<a href="waple_upload_management.php?sch_file_no=<{$stock_transfer.file_no}>" target="_blank"><{$stock_transfer.file_no}></a>
									<a href="uploads/<{$stock_transfer.file_path}>" download="<{$stock_transfer.file_name}>"><img src="./images/common/ico/ico_file.gif"></a>
								<{/if}>
							</td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td colspan="14">데이터가 없습니다.</td>
					</tr>
				<{/if}>
				<tr>
					<td colspan="15" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
	<div>
		<button onclick="location.href='excel_product_cms_stock_transfer.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
	</div>
</div>
<!-- admin_content -->

<script type="text/javascript">
    function searchList(){
        document.search_form.submit();
    }

    // 커머스 첨부파일 리스트에 반영하기
    function stockInsert()
    {
        var f = document.forms['product_cms_transfer_insert_apply_frm'];

		if($('#transfer_file').val() == ''){
			alert('파일을 선택해주세요');
			return;
		}

        if (confirm("첨부파일을 구성품 재고(입고/반출) 리스트에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

	function stockInternalInsert()
	{
		var f = document.forms['product_cms_transfer_insert_internal_apply_frm'];

		if($('#internal_file').val() == ''){
			alert('파일을 선택해주세요');
			return;
		}

		if (confirm("첨부파일을 구성품 재고(입고/반출) 리스트에 반영 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function movedateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".movedate_btn").removeClass('move_active');
		$(".move_"+type+"_btn").addClass('move_active');

		$("#sch_move_s_date").val(typedate);
		$("#sch_move_e_date").val(todate);

		$("#sch_move_date_type").val(type);
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val && proc != 'f_is_order')
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'memo')) { // 메모
			$.post("product_cms_stock_transfer_list.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
</script>

</body>
</html>
