<{include file="inc/boot_navibar.html"}>

<!-- multi-select -->
<script type="text/javascript" src="<{$dir_location}>js/jquery.multi-select.min.js"></script>
<link href="<{$dir_location}>css/multi-select.css" rel="stylesheet" type="text/css">

<script src="js/echarts.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	.title{margin: 10px 0 30px;}
	.sch-wrapper{font-size: 13px;line-height: 13px; margin-bottom: 50px;}
	.sch-sup-wrapper{margin: 10px 0 5px;}
	.sch-date-wrapper .sch-date-kind{display: inline-block;padding-right: 20px;border-right: 1px solid #ccc;}
	.sch-date-wrapper .sch-date-kind label{cursor: pointer;margin-right: 5px;}
	.sch-date-wrapper .sch-date-term{display: inline-block;}
	.sch-date-wrapper .sch-date-term .sch_date_type{display: none;}
	.name_tit{margin-right: 10px; font-weight: 600;}
	.product-stock-graph{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#stock-graph{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.selectpicker{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.picker-sum{width: 66px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}
	.product-stock-table{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px;}
	.stock-table{width:100%;}
	.stock-table th{text-align: center;}
	.stock-table th, .stock-table td{border: 1px solid #FFF;}
	.stock-table thead th, .stock-table tbody th{padding: 5px 10px; background: #ddd;}
	.stock-table tbody td{text-align: right; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
	.stock-table tbody.import td{color: blue;}
	.stock-table tbody.export td{color: red;}
	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0;}
</style>
<div class="admin_content">
	<form name="work_chart_form" action="product_cms_stock_report_stats.php" method="get" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="sch-wrapper">
			<div class="sch-sup-wrapper">
				<span class="name_tit">발주담당자</span>
				<select name="sch_ord_s_no" id="sch_ord_s_no" class="select_type2" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_ord_s_list key=ord_s_no item=label}>
					<option value="<{$ord_s_no}>" <{if $sch_ord_s_no==$ord_s_no}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">공급업체</span>
				<select name="sch_sup_c_no" id="sch_sup_c_no" class="select_type2" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_sup_c_list key=sup_c_no item=label}>
					<option value="<{$sup_c_no}>" <{if $sch_sup_c_no==$sup_c_no }>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">와이즈 구성품목명</span>
				<input type="text" name="sch_option_name" class="input_type5" value="<{$sch_option_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			</div>

			<div class="sch-date-wrapper">
				<div class="sch-date-kind">
					<span class="name_tit">조회 단위</span>
					<input type="radio" name="sch_kind" value="1" id="sch_kind_month" class="radio first" <{if $sch_kind == '1'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
					<label for="sch_kind_month">월간</label>

					<input type="radio" name="sch_kind" value="2" id="sch_kind_week" class="radio" <{if $sch_kind == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
					<label for="sch_kind_week">주간</label>

					<input type="radio" name="sch_kind" value="3" id="sch_kind_date" class="radio" <{if $sch_kind == '3'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
					<label for="sch_kind_date">일간</label>
				</div>

				<span style="margin-right:15px;"></span>

				<div class="sch-date-term">
					<span class="name_tit">조회 기간</span>
					<span id="sch_date_type_month" class="sch_date_type">
						<input type="text" style="width: 60px;" class="month-picker input_type_date" id="sch_s_m_date" name="sch_s_m_date" value="<{$sch_s_m_date}>" />
						~
						<input type="text" style="width: 60px;" class="month-picker input_type_date" id="sch_e_m_date" name="sch_e_m_date" value="<{$sch_e_m_date}>" />
					</span>
					<span id="sch_date_type_week" class="sch_date_type">
						<input type="text" style="width: 80px;" class="week-start-picker input_type_date" id="sch_s_w_date" name="sch_s_w_date" value="<{$sch_s_w_date}>" readonly />
						~
						<input type="text" style="width: 80px;" class="week-end-picker input_type_date" id="sch_e_w_date" name="sch_e_w_date" value="<{$sch_e_w_date}>" readonly />
					</span>
					<span id="sch_date_type_day" class="sch_date_type">
						<input type="text" style="width: 80px;" class="date-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" style="width: 80px;" class="date-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>
					<button class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
				</div>
			</div>
		</div>

		<div id="product-stock-card" class="product-stock-graph">
			<div class="card-body">
				<div id="stock-graph"></div>
				<div class="pagination-wrapper">
					<div>
						<select class="selectpicker picker-sum">
							<option value="each">개별</option>
							<option value="sum">합산</option>
						</select>
						<select multiple="multiple" class="selectpicker picker-list">
							<{foreach from=$picker_list key=key item=label}>
							<option value="<{$label}>" attr-key="<{$key}>" selected><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div>
						<ul class="pagination data-daily-acc">
							<li class="page-item"><a data-key="acc" id="product-cms-acc" class="page-link" href="#product-stock-card">누적</a></li>
							<li class="page-item active"><a data-key="daily" id="product-cms-day" class="page-link" href="#product-stock-card">일별</a></li>
						</ul>
						<ul class="pagination data-cdr">
							<li class="page-item active">
								<a class="page-link" id="product-import" data-key="import" href="#product-stock-card">입고</a>
							</li>
							<li class="page-item">
								<a class="page-link" id="product-export" data-key="export" href="#product-stock-card">반출</a>
							</li>
							<li class="page-item">
								<a class="page-link" id="product-delivery" data-key="delivery" href="#product-stock-card">배송</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="product-stock-table" id="product-stock-table">
		</div>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('product-stock-table');" /></div>
	</form>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $("#sch_sup_c_no").remoteChained({
            parents: "#sch_ord_s_no",
            url: "/v1/api/stock.json.php?parent_data=sch_ord_s_no",
            loading: "로딩중..",
            clear: true
        });
    });

    function searchList(){
        document.work_chart_form.submit();
    }

    $(".picker-list").multiSelect();

    var myChart = echarts.init(document.getElementById('stock-graph'), 'shine');

    function drawGraph(key, statsType, sumType)
	{
		myChart.clear();

        var titleList = {'acc':'누적','daily':'일별'};

        var fullData = <{$full_data}>;

		if(fullData != '')
		{
            var statsData = fullData[sumType][key][statsType];

            var legendData = [];

            var refresh 	= false;
            var boundaryGap = false;

			if(sumType == 'sum'){
                legendData.push("합산");
                refresh = true;
            }else{
            	var legendList = <{$legend_list}>;

                $.each(legendList, function(idx, item){
                    legendData.push(item);
                });
			}

            var pushData = [];

            if(key == 'acc'){
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'line',
                        data: item['data']
                    });
                });
            }else if(key == 'daily'){
                boundaryGap = true;
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'bar',
                        data: item['data']
                    });
                });
            }

            var title = '<{$sch_c_name}> ' + titleList[key];
            myChart.setOption({
                title: {
                    text: title,
                    left: 'center',
                    top: 5
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: legendData,
					top: 35
				},
				grid: {
					top: 70,
					left: 35,
					right: 15,
					bottom: 50,
					containLabel: true
				},
                dataZoom: [{
                    type: 'inside',
                    start : 20,
                    end : 100
                }, {
                    type: 'slider',
                    start : 20,
                    end : 100
                }],
				xAxis: {
					type: 'category',
					boundaryGap: boundaryGap,
					data: [<{$x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);

			createTable(statsData, statsType, sumType);
        }
    }

	function createTable(statsData, statsType, sumType)
	{
		var thLabel = <{$x_table_th_list}>;

		var table = "<table class='stock-table' cellpadding='0' cellspacing='0'>" + "<thead><tr>" + "<th></th>";

        $.each(thLabel, function(data, label){
            table += "<th>" + label + "</th>";
		});

        table += "</tr></thead><tbody class='" + statsType + "'>";

        $.each(statsData, function(idx, item){

            table += "<tr class='stat_table_tr tr_"+ idx + "'><th>" + item['title'] + "</th>";

            $.each(item['data'], function(key, qty){
				var value = cmsNumberFormat(statsType, qty);

                table += "<td>" + value + "</td>";
        	});

            table += "</tr>";
        });

        table += "</tbody></table>";

		$(".product-stock-table").html(table);

		if(sumType == 'each'){
            reloadStatsData();
        }
    }

    drawGraph('daily', 'import', 'each');

    $(document).ready(function(){
        $(".sch_date_type").hide();

        $(".data-daily-acc .page-link").click(function(){
			var key 		= $(this).attr('data-key');
			var statsType = $(".data-cdr").children(".active").children('.page-link').attr('data-key');
            var sumType    = $(".picker-sum option:selected").val();

            $(".data-daily-acc .page-item").removeClass('active');

            if(key == 'daily' && statsType == 'stock'){
                key = 'acc';
                $("#product-cms-acc").parent('.page-item').addClass('active');
                alert("재고는 일별 표기를 지원하지 않습니다.\n누적으로 선택하여 표기 하겠습니다.");
            }else {
                $(this).parent(".page-item").addClass('active');
            }
            drawGraph(key, statsType, sumType);
    	});

        $(".data-cdr .page-link").click(function(){
            var key 	   = $(".data-daily-acc").children(".active").children('.page-link').attr('data-key');
            var statsType  = $(this).attr('data-key');
            var sumType    = $(".picker-sum option:selected").val();

            $(".data-cdr .page-item").removeClass('active');
            $(this).parent(".page-item").addClass('active');

            if(key == 'daily' && statsType == 'stock'){
                key = 'acc';
                $(".data-daily-acc .page-item").removeClass('active');
                $("#product-cms-acc").parent('.page-item').addClass('active');
                alert("재고는 일별 표기를 지원하지 않습니다.\n누적으로 선택하여 표기 하겠습니다.");
            }

            drawGraph(key, statsType, sumType);
        });

        $(".picker-sum").change(function(){
            var key 	   = $(".data-daily-acc").children(".active").children('.page-link').attr('data-key');
            var statsType  = $(".data-cdr").children(".active").children('.page-link').attr('data-key');
            var sumType    = $(this).val();

            drawGraph(key, statsType, sumType);
        });

        $(".multi-select-menuitem").click(function(){

            var id    = $(this).attr('for');
            var value = $("#"+id).val();
        	var type  = ($("#"+id).is(":checked") == true) ? "legendSelect":"legendUnSelect";
            var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');

            if(tableIdx && type == 'legendSelect'){
				$('.tr_'+tableIdx).show();
            }else{
                $('.tr_'+tableIdx).hide();
            }

            myChart.dispatchAction({
                type: type,
                name: value
            });
        });

        <{if $sch_kind == '1'}>
        $("#sch_date_type_month").show();
        <{elseif $sch_kind == '2'}>
        $("#sch_date_type_week").show();
        <{else}>
        $("#sch_date_type_day").show();
        <{/if}>
    });

	function reloadStatsData()
	{
        var legendList  = <{$legend_list}>;
    	var selOption 	= $('.picker-list').val();

        $.each(legendList, function(data, label){

            myChart.dispatchAction({
                type: "legendUnSelect",
                name: label
            });
        });

        $(".stat_table_tr").hide();
        selOption.forEach(function(value){
            var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');
            $('.tr_'+tableIdx).show();

            myChart.dispatchAction({
                type: "legendSelect",
                name: value
            });
        });

    }

    function cmsNumberFormat(statsType, qty)
    {
        if (qty > 0){
            qty = (statsType != 'stock') ? "+" + comma(qty) : comma(qty);
        }else if(qty < 0){
            qty = comma(qty);
        }

        return qty;
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    function sch_date_display(type)
	{
        $(".sch_date_type").hide();
        if(type=='month'){
            $("#sch_date_type_month").show();
        }else if(type=='week'){
            $("#sch_date_type_week").show();
        }else if(type=='day'){
            $("#sch_date_type_day").show();
        }
    }

</script>

</body>
</html>
