<{include file="inc/boot_navibar.html"}>

<!-- Sortable -->
<script src="js/Sortable.min.js" type="text/javascript" ></script>
<script src="js/bootstrap/bootstrap-tagsinput.js" type="text/javascript" ></script>
<link rel="stylesheet" href="css/bootstrap/bootstrap-tagsinput.css">

<style type="text/css">
    .related-table thead th{text-align: center;}
    .related-table tbody td{text-align: center;}
    .related-table .related-del-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .related-table .related-add-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .related-prd-wrap td{text-align: center !important;}
    .related-add-wrap td{padding: 5px 10px !important;}
    .related-add-wrap td select{width: 100%;}
    .sub-category-table .sub-category-add-btn{padding: 5px 15px; background: red; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .sub-category-table .sub-category-del-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .deposit-comp-table .deposit-comp-ul, .deposit-comp-table .deposit-comp-ul li{overflow: hidden;}
    .deposit-comp-table .deposit-comp-add-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .deposit-comp-table .deposit-comp-del-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; float: left; border-radius: 5px;  letter-spacing: 2px; margin-left: 25px; margin-top: 5px;}
    .deposit-comp-table input{padding-left: 5px; line-height: 28px;}
    .withdraw-comp-table .withdraw-comp-ul, .withdraw-comp-table .withdraw-comp-ul li{overflow: hidden;}
    .withdraw-comp-table .withdraw-comp-add-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; margin: 0 auto; display: table; border-radius: 5px; letter-spacing: 2px;}
    .withdraw-comp-table .withdraw-comp-del-btn{padding: 5px 15px; background: #333; color: white; font-weight: bold; float: left; border-radius: 5px; letter-spacing: 2px; margin-left: 25px; margin-top: 5px;}
    .withdraw-comp-table input{padding-left: 5px; line-height: 28px;}
    .bootstrap-tagsinput{width: auto;}
    .bootstrap-tagsinput input{width: 120px; border: 1px solid #ccc;}
    .bootstrap-tagsinput .label-info{background-color: #5bc0de; display: inline;padding: .4em .6em; font-size: 11px;font-weight: 700;line-height: 25px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}

    .staff-btn{padding: 3px 10px; background: #333; color: white; font-weight: bold; margin: 0 auto; border-radius: 5px; letter-spacing: 2px; margin-left: 5px;}
</style>

<div class="admin_content" style="width:1200px;">
    <!-- 업체정보 -->
    <form name="product_form" action="product_regist.php" method="post" enctype="multipart/form-data">
        <{if $idx }><input type="hidden" name="idx" value="<{$idx}>"><{/if}>
        <{if $mode=="write"}><input type="hidden" id="check_id" name="check_id"><{/if}>
        <input type="hidden" name="process" id="process" value="<{$mode}>">
        <input type="hidden" name="cur_related_prd" id="cur_related_prd" value="<{$cur_related_prd_list}>">
        <input type="hidden" name="cur_sub_category" id="cur_sub_category" value="<{$cur_sub_category_list}>">
        <input type="hidden" name="search_url" value="<{$search_url}>" />

        <{if $mode=="modify"}>
            <h2 class="title" style="margin-bottom:10px">● 와이즈 업무 수정하기</h2>
            <div class="table_top_style">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th style="width:150px;" class="first first_top alignC">담당자 메모</th>
                            <td style="width:1050px;" class="first_top date">
                                <textarea name="f_prd_memo" id="f_prd_memo" class="textarea_memo_contents"><{$f_prd_memo}></textarea>
                                <button type="button" onclick="return save_memo();" class="btn_small_memo">저장</button><br>
                                * 마지막 저장일 : <span class="day"><{$f_prd_memo_day}><span class="time"> <{$f_prd_memo_time}></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><br>
        <{else}>
            <h2 class="title" style="margin-bottom:10px">● 상품 등록하기</h2>
        <{/if}>

        <div class="table_contents_style">
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th colspan="4" class="first">상세설정</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width:150px;" class="first">* Display</th>
                        <td style="width:680px;" colspan="3">
                            <{foreach from=$display_option key=key item=label}>
                                <input type="radio" name="f_display" class="radio <{if $key == '1'}>first<{/if}>" value="<{$key}>" <{if $f_display == $key || (!$f_display && $key == '1') }>checked<{/if}> ><{$label}>
                            <{/foreach}>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 그룹</th>
                        <td colspan="3">
                            <span class="name_tit">그룹1</span>
                            <select name="f_prd_g1" id="f_prd_g1" class="select_type2" style="margin-right:20px">
                                <option value="">선택</option>
                                <{foreach from=$prd_g1_list key=key item=label}>
                                <option value="<{$key}>" <{if $f_prd_g1==$key}>selected<{/if}>><{$label}></option>
                                <{/foreach}>
                            </select>
                            <span class="name_tit">그룹2</span>
                            <select id="f_prd_g2" name="f_prd_g2" class="select_type2">
                                <option value="">선택</option>
                                <{foreach from=$prd_g2_list key=key item=prd_g2}>
                                <option value="<{$key}>" <{if $f_prd_g2==$key}>selected<{/if}>><{$prd_g2.k_name}></option>
                                <{/foreach}>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 업무요청 관리자</th>
                        <td colspan="3">
                            <input type="radio" name="f_task_req_staff_type" id="f_task_req_staff_type_1" value="1" <{if !$f_task_req_staff_type || $f_task_req_staff_type == '1'}>checked<{/if}>><label for="f_task_req_staff_type_1">개별</label>
                            <input type="radio" name="f_task_req_staff_type" id="f_task_req_staff_type_2" value="2" <{if $f_task_req_staff_type == '2'}>checked<{/if}>><label for="f_task_req_staff_type_2">전체</label>
                            <br/>
                            <div class="req-staff-wrapper">
                                <{if $f_task_req_staff_list}>
                                    <{foreach from=$f_task_req_staff_list key=req_code item=label}>
                                        <div id="req-staff-<{$req_code}>" class="staff_list_wrap">
                                            <input type="hidden" name="f_task_req_staff[]" class="f_task_staff" value="<{$req_code}>" />
                                            <input type="text" class="input_type4 f_task_staff_name" value="<{$label}>" >
                                            <button type="button" class="staff-btn" onclick="delTaskStaff('req-staff','<{$req_code}>')">삭제</button>
                                        </div>
                                    <{/foreach}>
                                <{/if}>
                            </div>
                            <div class="new-req-staff-form">
                                <input type="hidden" name="new_f_task_req_staff" id="new_f_task_req_staff" class="f_task_staff" value="" />
                                <input type="text" name="new_f_task_req_staff_name" id="new_f_task_req_staff_name" class="input_type4 f_task_staff_name" value="" >
                                <button type="button" class="staff-btn" onclick="addTaskStaff('req-staff')">추가</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 업무처리자</th>
                        <td colspan="3">
                            <input type="radio" name="f_task_run_staff_type" id="f_task_run_staff_type_1" value="1" <{if !$f_task_run_staff_type || $f_task_run_staff_type == '1'}>checked<{/if}>><label for="f_task_run_staff_type_1">개별</label>
                            <input type="radio" name="f_task_run_staff_type" id="f_task_run_staff_type_2" value="2" <{if $f_task_run_staff_type == '2'}>checked<{/if}>><label for="f_task_run_staff_type_2">전체</label>
                            <br/>
                            <div class="run-staff-wrapper">
                                <{if $f_task_run_staff_default }>
                                    <div id="run-staff-<{$f_task_run_staff_default}>" class="staff_list_wrap">
                                        <input type="hidden" name="f_task_run_staff[]" class="f_task_staff" value="<{$f_task_run_staff_default}>" />
                                        <input type="text" class="input_type4 f_task_run_staff_name" value="<{$f_task_run_staff_default_label}>" >
                                        <input type="radio" name="f_task_run_staff_default" class="f_task_run_staff_default" value="<{$f_task_run_staff_default}>" checked>
                                        <span>기본</span>
                                        <button type="button" class="staff-btn" onclick="delTaskStaff('run-staff','<{$f_task_run_staff_default}>')">삭제</button>
                                    </div>
                                <{/if}>
                                <{if $f_task_run_staff_list}>
                                    <{foreach from=$f_task_run_staff_list key=run_code item=label}>
                                        <div id="run-staff-<{$run_code}>" class="staff_list_wrap">
                                            <input type="hidden" name="f_task_run_staff[]" class="f_task_staff" value="<{$run_code}>" />
                                            <input type="text" class="input_type4 f_task_run_staff_name" value="<{$label}>" >
                                            <input type="radio" name="f_task_run_staff_default" class="f_task_run_staff_default" value="<{$run_code}>" >
                                            <span>기본</span>
                                            <button type="button" class="staff-btn" onclick="delTaskStaff('run-staff','<{$run_code}>')">삭제</button>
                                        </div>
                                    <{/foreach}>
                                <{/if}>
                            </div>
                            <div class="new-run-staff-form">
                                <input type="hidden" name="new_f_task_run_staff" id="new_f_task_run_staff" class="f_task_staff" value="" />
                                <input type="text" name="new_f_task_run_staff_name" id="new_f_task_run_staff_name" class="input_type4 f_task_run_staff_name" value="" >
                                <input type="checkbox" name="new_f_task_run_staff_default" id="new_f_task_run_staff_default" value="1" >
                                <span>기본</span>
                                <button type="button" class="staff-btn" onclick="addTaskStaff('run-staff')">추가</button>
                            </div>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 우선순위</th>
                        <td colspan="3">
                            <input type="number" name="f_priority" id="f_priority" min="1" max="100" value="<{$f_priority}>" style="text-align: center;">
                            ※숫자가 낮을 수록 그룹에서 상위에 리스트됩니다. (자주 사용하는 상품을 0에 가깝게 설정 권장)
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 업무명</th>
                        <td colspan="3">
                            <input type="text" class="input_type1" name="f_title" id="f_title"  value="<{$f_title}>"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">* 업무형태</th>
                        <td colspan="3">
                            <{foreach from=$product_kind_option key=key item=label}>
                                <input type="radio" name="f_kind" id="f_kind" value="<{$key}>" class="radio" <{if $f_kind == $key }>checked<{/if}> ><{$label}>
                            <{/foreach}>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">연관업무</th>
                        <td colspan="3">
                            <table class="related-table">
                                <colgroup>
                                    <col style="width: 140px;"/>
                                    <col style="width: 180px;" />
                                    <col style="width: 200px;" />
                                    <col style="width: 80px;" />
                                    <col style="width: 100px;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">그룹1</th>
                                        <th style="text-align: center;">그룹2</th>
                                        <th style="text-align: center;">업무명</th>
                                        <th style="text-align: center;">우선순위</th>
                                        <th style="text-align: center;">추가/삭제</th>
                                    </tr>
                                </thead>
                                <tbody class="related-tbody">
                                <{if $related_product_list}>
                                <{foreach from=$related_product_list item=related_product}>
                                <tr class="related-prd-<{$related_product.prd_no}> related-prd-wrap">
                                    <td><{$related_product.prd_g1_name}></td>
                                    <td><{$related_product.prd_g2_name}></td>
                                    <td><{$related_product.prd_name}></td>

                                    <td>
                                        <input type="hidden" name="related_priority[]" value="<{$related_product.priority}>">
                                        <input type="text" name="f_related_priority" value="<{$related_product.priority}>" style="width: 40px;display: table;margin: 0 auto;text-align: center;" onchange="saveProRelatedPriority('<{$related_product.pr_no}>', this)">
                                    </td>
                                    <td>
                                        <input type="hidden" name="related_prd[]" value="<{$related_product.prd_no}>">
                                        <button type="button" class="related-del-btn" onclick="delRelatedWork('<{$related_product.prd_no}>')">삭제</button>
                                    </td>
                                </tr>
                                <{/foreach}>
                                <{/if}>
                                <tr class="related-add-wrap">
                                    <td>
                                        <select name="new_f_prd_g1" id="new_f_prd_g1" class="select_type2">
                                            <option value="">선택</option>
                                            <{foreach from=$prd_g1_list key=key item=label}>
                                            <option value="<{$key}>"><{$label}></option>
                                            <{/foreach}>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="new_f_prd_g2" id="new_f_prd_g2" class="select_type2">
                                            <option value="">선택</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="new_f_prd" id="new_f_prd" class="select_type2">
                                            <option value="">선택</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="new_f_priority" id="new_f_priority" value="" style="width: 40px; margin: 0 auto; text-align: center; display: table;">
                                    </td>
                                    <td>
                                        <button type="button" class="related-add-btn" onclick="addRelatedWork()">추가</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">세부카테고리</th>
                        <td colspan="3">
                            <table class="sub-category-table">
                                <colgroup>
                                    <col style="width: 200px;" />
                                    <col style="width: 100px;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">카테고리명</th>
                                        <th style="text-align: center;">추가/삭제</th>
                                    </tr>
                                </thead>
                                <tbody class="sub-category-tbody">
                                    <tr class="sub-category-wrap">
                                        <td colspan="3">
                                            <ul class="ui-sortable">
                                                <{if $sub_category_list}>
                                                <{foreach from=$sub_category_list item=sub_category}>
                                                <li class="sub-category-code-<{$sub_category.k_name_code}>" style="margin: 5px 0; cursor: pointer;">
                                                    <input type="text" name="sub_category_names[]" value="<{$sub_category.k_name}>" style="width: 200px; padding-left: 5px; line-height: 20px; float: left;">
                                                    <input type="hidden" name="sub_category_ids[]" value="<{$sub_category.k_name_code}>" style="float: left;">
                                                    <button type="button" class="sub-category-del-btn" onclick="delSubCategory('<{$sub_category.k_name_code}>')">삭제</button>
                                                </li>
                                                <{/foreach}>
                                                <{/if}>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="sub-category-add-wrap">
                                        <td>
                                            <input type="text" name="new_sub_cate_name" id="new_sub_cate_name" style="width: 200px; padding-left: 5px; line-height: 28px;" placeholder="카테고리명" />
                                        </td>
                                        <td>
                                            <input type="hidden" name="last_kind_no" id="last_kind_no" value="<{$last_kind_no}>">
                                            <button type="button" class="sub-category-add-btn" onclick="addSubCategory()">추가</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">업무소개</th>
                        <td colspan="3">
                            <textarea name="f_description" id="f_description" cols="30" rows="5" class="textarea_type1"><{$f_description}></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">키워드 등록</th>
                        <td colspan="3">
                            <input type="text" name="f_keyword[]" value="<{$f_keyword}>" data-role="tagsinput" placeholder="키워드입력" />
                        </td>
                    </tr>
                    <tr>
                        <th class="first">스케줄(캘린더) 적용</th>
                        <td colspan="3">
                            <input type="radio" name="f_is_task_dday" id="f_is_task_dday_0" value="0" style="cursor: pointer;" class="radio" <{if $f_is_task_dday==0 }>checked<{/if}>><label for="f_is_task_dday_0" style="cursor: pointer;">미적용</label>
                            <input type="radio" name="f_is_task_dday" id="f_is_task_dday_1" value="1" style="cursor: pointer;" class="radio" <{if $f_is_task_dday==1 }>checked<{/if}>><label for="f_is_task_dday_1" style="cursor: pointer;">적용</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">업무요청 가이드</th>
                        <td colspan="3">
                            <input type="radio" name="f_is_guide" id="f_is_guide_1" value="1" style="cursor: pointer;" class="radio" <{if $f_is_guide==1 }>checked<{/if}>><label for="f_is_guide_1" style="cursor: pointer;">설정</label>
                            <input type="radio" name="f_is_guide" id="f_is_guide_2" value="1" style="cursor: pointer;" class="radio" <{if !$f_is_guide || $f_is_guide==2 }>checked<{/if}>><label for="f_is_guide_2" style="cursor: pointer;">미설정</label>
                            <br/>
                            <b>와플 GUIDE NO :</b>
                            <input type="text" name="f_guide_no" style="line-height: 24px;font-size: 12px;height: 24px; padding-left: 5px;" value="<{$f_guide_no}>">
                            <br/>
                            <label for="f_guide_required" style="cursor: pointer; font-weight: bold;">필수확인 </label><input type="checkbox" name="f_guide_required" id="f_guide_required" <{if $f_guide_required == '1'}>checked<{/if}> value="1">
                        </td>
                    </tr>
                    <tr>
                        <th class="first">작업요청<br>(기본양식)</th>
                        <td colspan="3">
                            <input type="radio" name="f_work_format_type" id="f_work_format_type_1" value="1" <{if $f_work_format_type == '1'}>checked<{/if}>>
                            <label for="f_work_format_type_1">텍스트 업무요청(기본)</label><br/>
                            <textarea name="f_work_format" id="f_work_format" cols="10" rows="15" class="textarea_type1"><{$f_work_format}></textarea>
                            <br/>
                            <input type="radio" name="f_work_format_type" id="f_work_format_type_2" value="2" <{if $f_work_format_type == '2'}>checked<{/if}>>
                            <label for="f_work_format_type_2">외부 기능 업무요청</label>
                            <select name="f_work_format_extra" style="padding: 5px; margin-left: 5px;">
                                <option value="">::선택::</option>
                                <{foreach from=$work_format_extra_option key=key item=label}>
                                <option value="<{$key}>" <{if $f_work_format_extra == $key}>selected<{/if}>><{$label}></option>
                                <{/foreach}>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="first" rowspan="2">판매가 적용</th>
                        <td rowspan="2">
                            <input type="radio" name="f_price_apply" id="f_price_apply_1" value="1" class="radio" onclick="price_apply();" <{if $f_price_apply==1 }>checked<{/if}>>미적용
                            <input type="radio" name="f_price_apply" id="f_price_apply_2" value="2" class="radio" onclick="price_apply();" <{if $f_price_apply==2 }>checked<{/if}>>적용
                        </td>
                        <th class="first">권장가<br>(VAT 별도)</th>
                        <td>
                            <input type="text" class="input_type5" name="f_suggested_price" id="f_suggested_price"  value="<{if $f_suggested_price !='' }><{$f_suggested_price}><{/if}>" >
                            <input type="checkbox" class="checkbox_type1" id="f_market_price" name="f_market_price" onclick="market_price_apply();" <{if $f_market_price == '1' }>checked="checked"<{/if}> value="1" >싯가(별도협의)
                        </td>
                    </tr>
                    <tr>
                        <th class="first">하한가 ~ 상한가<br>(VAT 별도)</th>
                        <td colspan="3">
                            <input type="text" class="input_type5" name="f_min_price" id="f_min_price"  value="<{if $f_min_price !='' }><{$f_min_price}><{/if}>"/>&nbsp;&nbsp;~&nbsp;&nbsp;
                            <input type="text" class="input_type5" name="f_max_price" id="f_max_price"  value="<{if $f_max_price !='' }><{$f_max_price}><{/if}>"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">입/출금 설정</th>
                        <td colspan="3" style="font-size: 11px; padding: 5px;">
                            <div style="margin-bottom: 5px;">
                                <{foreach from=$sch_wd_dp_state_option key=key item=label}>
                                <input type="radio" name="f_wd_dp_state" value="<{$key}>" class="radio f_wd_dp_state" <{if $f_wd_dp_state == $key}>checked<{/if}> ><{$label}>
                                &nbsp;&nbsp;
                                <{/foreach}>
                            </div>
                            <div class="dp_account_wrapper" style="margin-bottom: 5px;">
                                <span style="margin-right: 10px; font-weight: bold;">입금 받는 업체명 > 계좌명</span>
                                <select name="f_dp_account_g1" class="f_dp_account_g1" style="padding: 5px; margin-right: 5px;">
                                    <option value="">::전체::</option>
                                    <{foreach from=$my_company_name_list key=key item=label}>
                                    <option value="<{$key}>" <{if $f_dp_account_g1[0] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                </select>
                                <select name="f_dp_account[]" class="f_dp_account" style="padding: 5px;">
                                    <option value="">::전체::</option>
                                    <{if $f_dp_account_g1[0] && $dp_account_option[$f_dp_account_g1[0]]}>
                                        <{foreach from=$dp_account_option[$f_dp_account_g1[0]] key=key item=label}>
                                            <option value="<{$key}>" <{if $f_dp_account[0] == $key}>selected<{/if}>><{$label}></option>
                                        <{/foreach}>
                                    <{/if}>
                                </select>
                                <br/>
                                <span style="margin-right: 10px; font-weight: bold;">입금 받는 업체명 > 계좌명</span>
                                <select name="f_dp_account_g1" class="f_dp_account_g1" style="padding: 5px; margin-right: 5px;">
                                    <option value="">::전체::</option>
                                    <{foreach from=$my_company_name_list key=key item=label}>
                                    <option value="<{$key}>" <{if $f_dp_account_g1[1] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                </select>
                                <select name="f_dp_account[]" class="f_dp_account" style="padding: 5px;">
                                    <option value="">::전체::</option>
                                    <{if $f_dp_account_g1[1] && $dp_account_option[$f_dp_account_g1[1]]}>
                                    <{foreach from=$dp_account_option[$f_dp_account_g1[1]] key=key item=label}>
                                    <option value="<{$key}>" <{if $f_dp_account[1] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                    <{/if}>
                                </select>
                            </div>
                            <div class="wd_account_wrapper">
                                <span style="margin-right: 10px;  font-weight: bold;">출금 하는 업체명 > 계좌명</span>
                                <select name="f_wd_account_g1" class="f_wd_account_g1" style="padding: 5px; margin-right: 5px;">
                                    <option value="">::전체::</option>
                                    <{foreach from=$my_company_name_list key=key item=label}>
                                    <option value="<{$key}>" <{if $f_wd_account_g1[0] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                </select>
                                <select name="f_wd_account[]" class="f_wd_account" style="padding: 5px;">
                                    <option value="">::전체::</option>
                                    <{if $f_wd_account_g1[0] && $wd_account_option[$f_wd_account_g1[0]]}>
                                        <{foreach from=$wd_account_option[$f_wd_account_g1[0]] key=key item=label}>
                                            <option value="<{$key}>" <{if $f_wd_account[0] == $key}>selected<{/if}>><{$label}></option>
                                        <{/foreach}>
                                    <{/if}>
                                </select>
                                <br/>
                                <span style="margin-right: 10px;  font-weight: bold;">출금 하는 업체명 > 계좌명</span>
                                <select name="f_wd_account_g1" class="f_wd_account_g1" style="padding: 5px; margin-right: 5px;">
                                    <option value="">::전체::</option>
                                    <{foreach from=$my_company_name_list key=key item=label}>
                                    <option value="<{$key}>" <{if $f_wd_account_g1[1] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                </select>
                                <select name="f_wd_account[]" class="f_wd_account" style="padding: 5px;">
                                    <option value="">::전체::</option>
                                    <{if $f_wd_account_g1[1] && $wd_account_option[$f_wd_account_g1[1]]}>
                                    <{foreach from=$wd_account_option[$f_wd_account_g1[1]] key=key item=label}>
                                    <option value="<{$key}>" <{if $f_wd_account[1] == $key}>selected<{/if}>><{$label}></option>
                                    <{/foreach}>
                                    <{/if}>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">입금업체</th>
                        <td colspan="3">
                            <div style="margin: 5px 0;">
                                <{foreach from=$sch_type_option key=key item=label}>
                                <input type="radio" name="f_dp_sch_type" value="<{$key}>" id="f_dp_sch_type_<{$key}>" <{if $f_dp_sch_type == $key || (!$f_dp_sch_type && $key == '1')}>checked<{/if}>>
                                <label for="f_dp_sch_type_<{$key}>" style="cursor: pointer;"><{$label}></label>
                                <{/foreach}>
                            </div>
                            <table class="deposit-comp-table">
                                <colgroup>
                                    <col style="width: 300px;" />
                                    <col style="width: 200px;" />
                                    <col style="width: 150px;" />
                                    <col style="width: 100px;" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th style="text-align: center;">파트너명</th>
                                    <th style="text-align: center;">별칭</th>
                                    <th style="text-align: center;">입금방식</th>
                                    <th style="text-align: center;">추가/삭제</th>
                                </tr>
                                </thead>
                                <tbody class="deposit-tbody">
                                    <tr class="deposit-comp-wrap">
                                        <td colspan="4">
                                            <ul class="deposit-comp-ul">
                                                <{if $f_deposit_comp_list}>
                                                    <{foreach from=$f_deposit_comp_list item=deposit_comp}>
                                                    <li class="deposit-comp-li-<{$deposit_comp.c_no}>" style="margin: 5px 0; cursor: pointer;">
                                                        <input type="text" name="f_deposit_comp_names[]" class="f_dp_c_name" value="<{$deposit_comp.c_name}>" style="width: 290px; float: left; margin-right: 9px;">
                                                        <input type="hidden" name="f_deposit_comp_ids[]" class="f_dp_c_no" value="<{$deposit_comp.c_no}>" style="float: left;">
                                                        <input type="text" name="f_deposit_comp_nicknames[]" value="<{$deposit_comp.nickname}>" style="width: 200px; float: left;">
                                                        <select name="f_deposit_comp_method[]" style="width: 150px; float: left; margin-left: 10px; font-size: 11px; padding: 8px;">
                                                            <{foreach from=$dp_method_option key=key item=label}>
                                                            <option value="<{$key}>" <{if $deposit_comp.method && $deposit_comp.method == $key}>selected<{/if}>><{$label}></option>
                                                            <{/foreach}>
                                                        </select>
                                                        <button type="button" class="deposit-comp-del-btn" onclick="delCompData('deposit', '<{$deposit_comp.c_no}>')">삭제</button>
                                                    </li>
                                                    <{/foreach}>
                                                <{/if}>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="deposit-comp-add-wrap">
                                        <td class="first">
                                            <input type="text" name="new_deposit_comp_name" class="f_dp_c_name" id="new_deposit_comp_name" style="width: 290px; padding-left: 5px;" placeholder="파트너명" />
                                            <input type="hidden" name="new_deposit_comp_id" class="f_dp_c_no" id="new_deposit_comp_id" value=""/>
                                        </td>
                                        <td>
                                            <input type="text" name="new_deposit_comp_nickname" id="new_deposit_comp_nickname" style="width: 200px; padding-left: 5px;" placeholder="별칭" />
                                        </td>
                                        <td>
                                            <select name="new_deposit_comp_method[]" id="new_deposit_comp_method" style="width: 150px; float: left; font-size: 11px; padding: 8px;">
                                                <{foreach from=$dp_method_option key=key item=label}>
                                                <option value="<{$key}>" <{if $key == '2'}>selected<{/if}>><{$label}></option>
                                                <{/foreach}>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="deposit-comp-add-btn" onclick="addCompData('deposit')">추가</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">출금업체</th>
                        <td colspan="3">
                            <div style="margin: 5px 0;">
                                <{foreach from=$sch_type_option key=key item=label}>
                                <input type="radio" name="f_wd_sch_type" value="<{$key}>" id="f_wd_sch_type_<{$key}>" <{if $f_wd_sch_type == $key || (!$f_wd_sch_type && $key == '1')}>checked<{/if}>>
                                <label for="f_wd_sch_type_<{$key}>" style="cursor: pointer;"><{$label}></label>
                                <{/foreach}>
                            </div>
                            <table class="withdraw-comp-table">
                                <colgroup>
                                    <col style="width: 300px;" />
                                    <col style="width: 200px;" />
                                    <col style="width: 150px;" />
                                    <col style="width: 100px;" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th style="text-align: center;">파트너명</th>
                                    <th style="text-align: center;">별칭</th>
                                    <th style="text-align: center;">출금방식</th>
                                    <th style="text-align: center;">추가/삭제</th>
                                </tr>
                                </thead>
                                <tbody class="withdraw-tbody">
                                <tr class="withdraw-comp-wrap">
                                    <td colspan="4">
                                        <ul class="withdraw-comp-ul">
                                            <{if $f_withdraw_comp_list}>
                                            <{foreach from=$f_withdraw_comp_list item=withdraw_comp}>
                                            <li class="withdraw-comp-li-<{$withdraw_comp.c_no}>" style="margin: 5px 0; cursor: pointer;">
                                                <input type="text" name="f_withdraw_comp_names[]" class="f_wd_c_name" value="<{$withdraw_comp.c_name}>" style="width: 290px; float: left; margin-right: 9px;">
                                                <input type="hidden" name="f_withdraw_comp_ids[]" class="f_wd_c_no" value="<{$withdraw_comp.c_no}>" style="float: left;">
                                                <input type="text" name="f_withdraw_comp_nicknames[]" value="<{$withdraw_comp.nickname}>" style="width: 200px; float: left;">
                                                <select name="f_withdraw_comp_method[]" style="width: 150px; float: left; margin-left: 10px; font-size: 11px; padding: 8px;">
                                                    <{foreach from=$wd_method_option key=key item=label}>
                                                        <option value="<{$key}>" <{if $withdraw_comp.method && $withdraw_comp.method == $key}>selected<{/if}>><{$label}></option>
                                                    <{/foreach}>
                                                </select>
                                                <button type="button" class="withdraw-comp-del-btn" onclick="delCompData('withdraw', '<{$withdraw_comp.c_no}>')">삭제</button>
                                            </li>
                                            <{/foreach}>
                                            <{/if}>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="withdraw-comp-add-wrap">
                                    <td class="first">
                                        <input type="text" name="new_withdraw_comp_name" class="f_wd_c_name" id="new_withdraw_comp_name" style="width: 290px; padding-left: 5px;" placeholder="파트너명" />
                                        <input type="hidden" name="new_withdraw_comp_id" class="f_wd_c_no" id="new_withdraw_comp_id" value=""/>
                                    </td>
                                    <td>
                                        <input type="text" name="new_withdraw_comp_nickname" id="new_withdraw_comp_nickname" style="width: 200px; padding-left: 5px;" placeholder="별칭" />
                                    </td>
                                    <td>
                                        <select name="new_withdraw_comp_method[]" id="new_withdraw_comp_method" style="width: 150px; float: left; font-size: 11px; padding: 8px;">
                                            <{foreach from=$wd_method_option key=key item=label}>
                                            <option value="<{$key}>"><{$label}></option>
                                            <{/foreach}>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="withdraw-comp-add-btn" onclick="addCompData('withdraw')">추가</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">work time<br>(적용방법)</th>
                        <td colspan="3">
                            <input type="radio" name="f_work_time_method" value="0" class="radio" <{if $f_work_time_method==0 }>checked<{/if}> >미사용
                            &nbsp;&nbsp;
                            <input type="radio" name="f_work_time_method" value="1" class="radio" <{if $f_work_time_method==1 }>checked<{/if}> >사용(기본값 변경불가)
                            &nbsp;&nbsp;
                            <input type="radio" name="f_work_time_method" value="2" class="radio" <{if $f_work_time_method==2 }>checked<{/if}> >사용(기본값 변경가능)
                        </td>
                    </tr>
                    <tr>
                        <th class="first">work time<br>(기본값)</th>
                        <td colspan="3">
                            <input type="text" class="input_type3" name="f_work_time_default" id="f_work_time_default"  value="<{if $f_work_time_default !='' }><{$f_work_time_default}><{/if}>"/>
                            <font style="color:gray;">ex) 1 = 1시간 , 1.5 = 1시간 30분 , 10분 = 약 0.17</font>
                        </td>
                    </tr>
                    <tr>
                        <th class="first">외주비 단가<br>(VAT 별도)</th>
                        <td colspan="3">
                            <input type="text" class="input_type1" name="f_out_price" id="f_out_price"  value="<{if $f_out_price !=0 }><{$f_out_price}><{/if}>"/>
                            <input type="checkbox" class="checkbox_type1" id="f_equally_vat" name="f_equally_vat" <{if $f_equally_vat == '1' }>checked="checked"<{/if}> value="1" >부가세 없음
                        </td>
                    </tr>
                    <tr>
                        <th class="first">원가율</th>
                        <td colspan="3">
                            <input type="text" class="input_type1" name="f_cost_rate" id="f_cost_rate"  value="<{$f_cost_rate}>"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no =='22' || $session_team =='00211' }> <!-- 소연님, 경영지원팀 추가 -->
            <div class="btn_wrap">
                <button type="button" onclick="return check_form(document.product_form);" class="btn_style1"><span><{$submit_btn}></span></button>
                <button type="button" onclick="location.href='product_list.php?<{$search_url}>'" class="btn_style1" style="float: right;"><span>목록으로</span></button>
            </div>
            <{/if}>
        </div>
    <!-- //table_contents_style -->
    </form>
</div>
	<!-- //admin_content -->

<script type="text/javascript">
  // 그룹 값을 로드하기
    $(document).ready(function(){
        $("#f_prd_g2").remoteChained({
            parents : "#f_prd_g1",
            url : "/v1/api/product.json.php?parent_data=f_prd_g1",
            loading : "로딩중.."
        });

        $("#new_f_prd_g2").remoteChained({
          parents : "#new_f_prd_g1",
          url : "/v1/api/product.json.php?parent_data=new_f_prd_g1",
          loading : "로딩중.."
        });

        $("#new_f_prd").remoteChained({
          parents : "#new_f_prd_g2",
          url : "/v1/api/product.json.php?parent_data=new_f_prd_g2",
          loading : "로딩중.."
        });

        $(".f_task_staff_name").autocomplete({
          source: function( request, response ) {
              $.ajax({
                  url: "/v1/api/product.staff.team.api.php",
                  dataType: "json",
                  data: {
                      name: request.term
                  },
                  success: function( data ) {
                      response( $.map( data, function( item ) {
                          return {
                              code : item.code,
                              label : item.label
                          }
                      }));
                  }
              });
          },
          select: function( event, ui ) {
              event.preventDefault();
              $(this).prev(".f_task_staff").val(ui.item.code);
              $(this).val(ui.item.label);
          },
          focus: function(event, ui) {
              return false;
          },
          minLength: 1
        });

        $(".f_task_run_staff_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product.staff.team.api.php",
                    dataType: "json",
                    data: {
                        name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                code : item.code,
                                label : item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                if($(this).next(".f_task_run_staff_default").length > 0 && $(this).next(".f_task_run_staff_default").is(":checked")){
                    $(this).next(".f_task_run_staff_default").val(ui.item.code);
                }
                $(this).prev(".f_task_staff").val(ui.item.code);
                $(this).val(ui.item.label);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $(".f_dp_c_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product.company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                c_no : item.c_no,
                                label : item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).next(".f_dp_c_no").val(ui.item.c_no);
                $(this).val(ui.item.label);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $(".f_wd_c_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product.company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                c_no : item.c_no,
                                label : item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).next(".f_wd_c_no").val(ui.item.c_no);
                $(this).val(ui.item.label);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $(".f_wd_dp_state").change(function(){
           var wd_dp_state = $(this).val();
            toggleDpWdState(wd_dp_state);
        });
        toggleDpWdState('<{$f_wd_dp_state}>');

        $(".f_dp_account").each(function (i, val) {
            $(this).remoteChained({
                parents: $(".f_dp_account_g1")[i],
                url : "/v1/api/corp.account.json.php?parent_data=f_dp_account_g1&state_type=1",
                loading: "로딩중..",
                clear: true
            });
        });

        $(".f_wd_account").each(function (i, val) {
            $(this).remoteChained({
                parents: $(".f_wd_account_g1")[i],
                url : "/v1/api/corp.account.json.php?parent_data=f_wd_account_g1&state_type=2",
                loading: "로딩중..",
                clear: true
            });
        });

        $(".ui-sortable").sortable();
    });

    $(window).load(function(){
        market_price_apply();
        price_apply();
    });

    function toggleDpWdState(state)
    {
        if(state == '1'){
            $(".dp_account_wrapper").hide();
            $(".wd_account_wrapper").hide();
        } else if(state == '2'){
            $(".dp_account_wrapper").show();
            $(".wd_account_wrapper").hide();
        } else if(state == '3'){
            $(".dp_account_wrapper").hide();
            $(".wd_account_wrapper").show();
        } else if(state == '4'){
            $(".dp_account_wrapper").show();
            $(".wd_account_wrapper").show();
        } else{
            $(".dp_account_wrapper").hide();
            $(".wd_account_wrapper").hide();
        }
    }

    function check_form(f) {
        if (cknull("k_name_code", "그룹을") == "x") return false;
        if (cknull("f_title", "업무명을") == "x") return false;
        if (isNumber(document.getElementById("f_title").value)) {
          alert("업무명에 숫자만 입력할 수 없습니다.");
          return false;
        }
        f.submit();
    }

    // 메모만 따로 저장하기
    function save_memo() {
        var f = document.product_form;
        f.process.value = 'memo';
        f.submit();
    }

    function market_price_apply() {
        if (document.getElementById('f_market_price').checked){
            $("#f_suggested_price").attr("readonly", true);
            $("#f_suggested_price").css('backgroundColor', '#ebebe4');
        }else{
            $("#f_suggested_price").attr("readonly", false);
            $("#f_suggested_price").css('backgroundColor', '#ffffff');
        }
    }

	function price_apply() {
		if (document.getElementById('f_price_apply_1').checked){
			$("#f_suggested_price").attr("readonly", true);
			$("#f_suggested_price").css('backgroundColor', '#ebebe4');
			$("#f_market_price").attr("disabled", true);
			$("#f_market_price").css('backgroundColor', '#ebebe4');
			$("#f_min_price").attr("readonly", true);
			$("#f_min_price").css('backgroundColor', '#ebebe4');
			$("#f_max_price").attr("readonly", true);
			$("#f_max_price").css('backgroundColor', '#ebebe4');
        }else{
			$("#f_suggested_price").attr("readonly", false);
			$("#f_suggested_price").css('backgroundColor', '#ffffff');
			$("#f_market_price").attr("disabled", false);
			$("#f_market_price").css('backgroundColor', '#ffffff');
			$("#f_min_price").attr("readonly", false);
			$("#f_min_price").css('backgroundColor', '#ffffff');
			$("#f_max_price").attr("readonly", false);
			$("#f_max_price").css('backgroundColor', '#ffffff');
		}
    }

    function addRelatedWork()
    {
        var new_prd_g1   = $('#new_f_prd_g1').val();
        var new_prd_g2   = $('#new_f_prd_g2').val();
        var new_prd      = $('#new_f_prd').val();
        var new_priority = $('#new_f_priority').val();

        if(new_prd_g1 == '' || new_prd_g2 == '' || new_prd == ''){
          alert('연관상품을 선택해 주세요');
          return;
        }

        var new_prd_g1_txt = $('#new_f_prd_g1 option:checked').text();
        var new_prd_g2_txt = $('#new_f_prd_g2 option:checked').text();
        var new_prd_txt    = $('#new_f_prd option:checked').text();
        var new_class_name = "related-prd-"+ new_prd;

        if($('.'+new_class_name).length > 0)
        {
          alert('이미 추가된 상품입니다');
          return;
        }

        var html = "<tr class='" + new_class_name + " related-prd-wrap'>" +
          "<td>" + new_prd_g1_txt + "</td><td>" + new_prd_g2_txt + "</td><td>" + new_prd_txt + "</td>" +
          "<td>" +
          "<input type='hidden' name='related_priority[]' value='" + new_priority + "'>" + new_priority +
          "</td>" +
          "<td>" +
          "<input type='hidden' name='related_prd[]' value='" + new_prd + "'>" +
          "<button type='button' class='related-del-btn' onclick='delRelatedWork(\"" + new_prd + "\")'>삭제</button>" +
          "</td></tr>";
        $('.related-tbody').prepend(html);
        $('#new_f_prd_g1').val('');
        $('#new_f_priority').val('');
        $('#new_f_prd_g1').change();
    }

    function delRelatedWork(prd_no)
    {
        var class_name = "related-prd-"+ prd_no;
        $('.' + class_name).remove();
    }

    function addSubCategory()
    {
        var new_k_name      = $('#new_sub_cate_name').val();
        var last_kind_no    = Number($("#last_kind_no").val())+1;
        var new_k_name_code = lpad(last_kind_no, 5, '0');
        var new_class_name  = "sub-category-code-"+new_k_name_code;

        if(new_k_name == '' || new_k_name_code == ''){
          alert('세부카테고리 내용을 적어주세요');
          return;
        }

        var html = "<li class='" + new_class_name + " sub-category-wrap' style='margin: 5px 0;'>" +
                "<input type='text' name='sub_category_names[]' value='"+ new_k_name +"' style='width: 200px; padding-left: 5px; line-height: 20px; float: left;' >" +
                "<input type='hidden' name='sub_category_ids[]' value='"+ new_k_name_code +"' >" +
                "<button type='button' class='sub-category-del-btn' onclick='delSubCategory(\"" + new_k_name_code + "\")'>삭제</button>" +
                "</li>";

        $('.ui-sortable').append(html);

        //초기화
        $('#new_sub_cate_name').val('');
        $('#new_sub_cate_priority').val('');
        $('#last_kind_no').val(new_k_name_code);
    }

    function delSubCategory(k_name_code)
    {
        var class_name = "sub-category-code-"+ k_name_code;
        $('.' + class_name).remove();
    }

    function lpad(str, padLen, padStr) {
        str += ""; // 문자로
        padStr += ""; // 문자로
        while (str.length < padLen)
          str = padStr + str;
        str = str.length >= padLen ? str.substring(0, padLen) : str;
        return str;
    }

    function saveProRelatedPriority(pr_no, obj)
    {
      var val = obj.value;
      var default_val = obj.defaultValue;
      var proc = "modify_related_priority";

      var x = $(obj).position();
      var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

      if (default_val && val == default_val)
          return false;

      if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
          return false;

      if (val != "" || proc == 'modify_related_priority') { // 메모
          $.post("product_regist.php", {pr_no : pr_no, process : proc, val : val}, function(result){
              d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
          });
      }
    }

    function addTaskStaff(type)
    {
        var new_code  = "";
        var new_label = "";
        if(type == 'req-staff'){
            new_code  = $('#new_f_task_req_staff').val();
            new_label = $('#new_f_task_req_staff_name').val();
        }else if(type == 'run-staff'){
            new_code  = $('#new_f_task_run_staff').val();
            new_label = $('#new_f_task_run_staff_name').val();
        }

        if(new_code == '' || new_label == ''){
            alert('관리자를 검색해주세요');
            return;
        }

        var new_id_name = type + "-"+ new_code;

        if($('#'+new_id_name).length > 0)
        {
            alert('이미 추가된 관리자입니다');
            return;
        }

        if(type == 'req-staff'){
            var html = "<div id='req-staff-" + new_code + "' class='staff_list_wrap'>"
                + "<input type='hidden' name='f_task_req_staff[]' class='f_task_staff' value='" + new_code + "' />"
                + "<input type='text'  class='input_type4 f_task_staff_name' value='" + new_label + "' >"
                + "<button type='button' class='staff-btn' onclick='delTaskStaff(\"req-staff\", \"" + new_code + "\")'>삭제</button>"
                + "</div>";

            $('.req-staff-wrapper').append(html);

            $('#new_f_task_req_staff').val('');
            $('#new_f_task_req_staff_name').val('');

        }else if(type == 'run-staff'){

            var html = "<div id='run-staff-" + new_code + "' class='staff_list_wrap'>"
                + "<input type='hidden' name='f_task_run_staff[]' class='f_task_staff' value='" + new_code + "' />"
                + "<input type='text'  class='input_type4 f_task_staff_name' value='" + new_label + "' >"
                + "<input type='radio' name='f_task_run_staff_default' class='f_task_run_staff_default' value='" + new_code + "' >"
                + "<span>기본</span>"
                + "<button type='button' class='staff-btn' onclick='delTaskStaff(\"run-staff\", \"" + new_code + "\")'>삭제</button>"
                + "</div>";

            $('.run-staff-wrapper').append(html);

            if($('#new_f_task_run_staff_default').is(":checked") == true){
                $("#run-staff-"+new_code).find(".f_task_run_staff_default").prop("checked", true);
            }

            $('#new_f_task_run_staff').val('');
            $('#new_f_task_run_staff_name').val('');
            $('#new_f_task_run_staff_default').prop("checked", false);
        }
    }

    function delTaskStaff(type, code)
    {
        var id_name = "#" + type + "-" + code;
        $(id_name).remove();
    }

  function addCompData(type)
  {
      var new_comp_name     = $("#new_"+type+"_comp_name").val();
      var new_comp_nickname = $("#new_"+type+"_comp_nickname").val();
      var new_comp_id       = $("#new_"+type+"_comp_id").val();
      var new_class_name    = type+"-comp-li-"+new_comp_id;

      if(new_comp_name == '' || new_comp_id == ''){
          alert('업체를 입력해주세요');
          return;
      }

      if($('.'+new_class_name).length > 0)
      {
          alert('이미 추가된 업체입니다');
          return;
      }

      var new_comp_method = $("#new_"+type+"_comp_method").val();
      var new_comp_method_list = [];

      if(type == "withdraw")
      {
          new_comp_method_list[1] = "계좌이체";
          new_comp_method_list[2] = "법인카드";
          new_comp_method_list[3] = "선결제차감";
          new_comp_method_list[4] = "월정산지급";
          new_comp_method_list[5] = "기타";

          $("#new_"+type+"_comp_method").val('1');
      }else{
          new_comp_method_list[1] = "카드결제";
          new_comp_method_list[2] = "현금입금";
          new_comp_method_list[3] = "월정산입급";

          $("#new_"+type+"_comp_method").val('2');
      }

      var html = "<li class='" + new_class_name + "' style='margin: 5px 0; cursor: pointer;'>" +
          "<input type='text' name='f_"+type+"_comp_names[]' value='"+ new_comp_name +"' style='width: 290px; float: left; margin-right: 9px;' >" +
          "<input type='text' name='f_"+type+"_comp_nicknames[]' value='"+ new_comp_nickname +"' style='width: 200px; float: left;' >" +
          "<select name='f_"+type+"_comp_method[]' style='width: 150px; float: left; margin-left: 10px; font-size: 11px; padding: 8px;'>";
      for(var i=1; i < new_comp_method_list.length; i++){
          if(i == new_comp_method){
              html += "<option value='"+i+"' selected>"+new_comp_method_list[i]+"</option>";
          }else{
              html += "<option value='"+i+"'>"+new_comp_method_list[i]+"</option>";
          }
      }

      html += "</select>" +
          "<input type='hidden' name='f_"+type+"_comp_ids[]' value='"+ new_comp_id +"' >" +
          "<button type='button' class='"+type+"-comp-del-btn' onclick='delCompData(\""+type+"\", \"" + new_comp_id + "\")'>삭제</button>" +
          "</li>";

      $("."+type+"-comp-ul").append(html);

      //초기화
      $("#new_"+type+"_comp_name").val('');
      $("#new_"+type+"_comp_nickname").val('');
      $("#new_"+type+"_comp_id").val('');
  }

  function delCompData(type, id)
  {
      var class_name = type + "-comp-li-"+ id;
      $('.' + class_name).remove();
  }

</script>

</body>
</html>
