<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content #search_form input{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px;}
	.admin_content #search_form select{border: 1px solid #ced4da; border-radius: 0.25rem; padding: 6px; width: auto; height: 33px;}
	.form-control{font-size: 12px; padding: 3px; box-sizing: border-box; width: 97%;}
	button:disabled{background: #CCC !important;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="product_cms_load_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<{if $is_freelancer}>
				●
			<{else}>
				<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{/if}>
			<{$nav_title}>
		</h2>

		<div class="default_wrap">
			<div class="left_wrap">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<span class="name_tit">업체명/브랜드명</span>
							<select name="sch_brand" id="sch_brand" class="select_type2" style="width: 120px; margin-right: 5px;">
								<option value="">::전체::</option>
								<{foreach from=$brand_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_brand==$key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">no</span>
							<input type="text" name="sch_no" class="input_type2" value="<{$sch_no}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">display</span>
							<select name="sch_display" id="sch_display" class="select_type3">
								<option value="">::전체::</option>
								<{foreach from=$display_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<span style="margin-right:15px;"></span>

							<span class="name_tit">적재정보명</span>
							<input type="text" name="sch_load_title" class="input_type3" value="<{$sch_load_title}>" style="width: 150px;" onkeydown="javascript:if(event.keyCode == 13)searchList();">
							<span style="margin-right:15px;"></span>

							<span class="name_tit">비고</span>
							<input type="text" name="sch_memo" class="input_type3" value="<{$sch_memo}>" style="width: 150px;" onkeydown="javascript:if(event.keyCode == 13)searchList();">
							<span style="margin-right:15px;"></span>

							<button class="btn_small" style="padding: 7px 15px;font-weight: bold;" onclick="normal_search();">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<{if $is_editable}>
	<form name="new_load_frm" id="new_load_frm" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_load_list.php" autocomplete="off">
		<input type="hidden" name="process">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<div class="table_list_style">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th rowspan="2" class="first" style="min-width:30px;height: 50px;">No</th>
						<th rowspan="2" style="min-width:60px;">Display</th>
						<th rowspan="2" style="min-width:115px;">업체명/브랜드명</th>
						<th rowspan="2" style="min-width:180px;">적재정보명</th>
						<th rowspan="2" style="min-width:320px;">적재정보 설정 구성품목명</th>
						<th rowspan="2" style="min-width:100px;">최근 변경일<br/>수정자</th>
						<th colspan="5" style="min-width:400px;">카톤박스</th>
						<th colspan="5" style="min-width:400px;">단품</th>
						<th rowspan="2" style="min-width:200px;">비고</th>
						<th rowspan="2" style="min-width:100px;">작성일<br/>작성자</th>
					</tr>
					<tr>
						<th style="min-width: 80px;">가로(mm)</th>
						<th style="min-width: 80px;">세로(mm)</th>
						<th style="min-width: 80px;">높이(mm)</th>
						<th style="min-width: 80px;">중량(kg)</th>
						<th style="min-width: 80px;">입수량</th>
						<th style="min-width: 80px;">가로(mm)</th>
						<th style="min-width: 80px;">세로(mm)</th>
						<th style="min-width: 80px;">높이(mm)</th>
						<th style="min-width: 80px;">중량(g)</th>
						<th style="min-width: 80px;">입수량</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="first"> <!-- No -->
							</td>
							<td><!-- display -->

							</td>
							<td><!-- 업체명/브랜드명 -->
								<input type="hidden" name="f_brand_new" id="f_brand_new" value="">
								<input type="text" name="f_brand_name_new" id="f_brand_name_new" class="form-control" value="" />
							</td>
							<td> <!-- 적재정보명 -->
								<input type="text" name="f_load_title_new" id="f_load_title_new" class="form-control" value="" />
							</td>
							<td> <!-- 적재정보 설정 및 구성품목명 -->
								<input type="hidden" id="attr-unit-key-new" value="0" />
								<div class="unit-total-wrap-new">

								</div>
								<div style="overflow: hidden; margin-top: 10px;">
									<button type="button" onclick="addUnitColumn('new')" style="float: right; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;margin-right: 4px;">+</button>
								</div>
							</td>
							<td> <!-- 최근 변경일<br/>수정자 -->

							</td>
							<td><!-- 가로(mm) -->
								<input type="text" name="f_box_width_new" id="f_box_width_new" class="form-control text-right">
							</td>
							<td><!-- 세로(mm) -->
								<input type="text" name="f_box_length_new" id="f_box_length_new" class="form-control text-right">
							</td>
							<td><!-- 높이(mm) -->
								<input type="text" name="f_box_height_new" id="f_box_height_new" class="form-control text-right">
							</td>
							<td><!-- 중량(kg) -->
								<input type="text" name="f_box_weight_new" id="f_box_weight_new" class="form-control text-right">
							</td>
							<td><!-- 입수량 -->
								<input type="text" name="f_box_amount_new" id="f_box_amount_new" class="form-control text-right">
							</td>
							<td><!-- 가로(mm) -->
								<input type="text" name="f_single_width_new" id="f_single_width_new" class="form-control text-right">
							</td>
							<td><!-- 세로(mm) -->
								<input type="text" name="f_single_length_new" id="f_single_length_new" class="form-control text-right">
							</td>
							<td><!-- 높이(mm) -->
								<input type="text" name="f_single_height_new" id="f_single_height_new" class="form-control text-right">
							</td>
							<td><!-- 중량(g) -->
								<input type="text" name="f_single_weight_new" id="f_single_weight_new" class="form-control text-right">
							</td>
							<td><!-- 입수량 -->
								<input type="text" name="f_single_amount_new" id="f_single_amount_new" class="form-control text-right">
							</td>
							<td> <!-- 비고 -->
								<textarea name="f_memo_new" id="f_memo_new" class="form-control" style="height: 80px;"></textarea>
							</td>
							<td> <!-- 작성일<br/>작성자 -->

							</td>
						</tr>
						<tr>
							<td colspan="18">
								<button type="button" style="width: 100%;padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;" onclick="return add_product_load();" class="btn_big_memo">추가하기</button>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</form>
	<{/if}>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th rowspan="2" class="first" style="min-width:30px;height: 50px;">No</th>
					<th rowspan="2" style="min-width:60px;">Display</th>
					<th rowspan="2" style="min-width:115px;">업체명/브랜드명</th>
					<th rowspan="2" style="min-width:180px;">적재정보명</th>
					<th rowspan="2" style="min-width:320px;">적재정보 설정 구성품목명</th>
					<th rowspan="2" style="min-width:100px;">최근 변경일<br/>수정자</th>
					<th colspan="5" style="min-width:400px;">카톤박스</th>
					<th colspan="5" style="min-width:400px;">단품</th>
					<th rowspan="2" style="min-width:200px;">비고</th>
					<th rowspan="2" style="min-width:100px;">작성일<br/>작성자</th>
				</tr>
				<tr>
					<th style="min-width: 80px;">가로(mm)</th>
					<th style="min-width: 80px;">세로(mm)</th>
					<th style="min-width: 80px;">높이(mm)</th>
					<th style="min-width: 80px;">중량(kg)</th>
					<th style="min-width: 80px;">입수량</th>
					<th style="min-width: 80px;">가로(mm)</th>
					<th style="min-width: 80px;">세로(mm)</th>
					<th style="min-width: 80px;">높이(mm)</th>
					<th style="min-width: 80px;">중량(g)</th>
					<th style="min-width: 80px;">입수량</th>
				</tr>
			</thead>
			<tbody>
				<{if $product_cms_load_list}>
					<{foreach from=$product_cms_load_list item=product_cms_load}>
						<form name="apply_frm<{$product_cms_load.pl_no}>" id="apply_frm<{$product_cms_load.pl_no}>" class="list_form" method="post" enctype="multipart/form-data" action="product_cms_load_list.php" autocomplete="off">
							<input type="hidden" name="process">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<input type="hidden" name="f_pl_no" value="<{$product_cms_load.pl_no}>">
							<input type="hidden" name="org_plu_list" id="org_plu_list_<{$product_cms_load.pl_no}>" value="<{$product_cms_load.org_plu_list}>">
							<tr <{if $product_cms_load.display != '1'}>style="background: #BBB;"<{/if}>>
								<td class="first" rowspan="2"> <!-- NO -->
									<{$product_cms_load.pl_no}>
								</td>
								<td rowspan="2"> <!-- Display -->
									<select name="f_display" class="form-control" onchange="save_el('<{$product_cms_load.pl_no}>', 'display', this)" <{if !$is_editable}>disabled<{/if}>>
									<{foreach from=$display_option key=key item=label}>
										<option value="<{$key}>" <{if $key == $product_cms_load.display}>selected<{/if}>><{$label}></option>
									<{/foreach}>
									</select>
								</td>
								<td rowspan="2"> <!-- 업체명/브랜드명 -->
									<input type="hidden" name="f_brand" id="f_brand_<{$product_cms_load.pl_no}>" value="<{$product_cms_load.brand}>">
									<input type="text" name="f_brand_name" class="form-control f_brand_name" attr-no="<{$product_cms_load.pl_no}>" value="<{$product_cms_load.brand_name}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td rowspan="2"> <!-- 적재정보명 -->
									<input type="text" name="f_load_title" class="form-control" value="<{$product_cms_load.load_title}>" onchange="save_el('<{$product_cms_load.pl_no}>', 'load_title', this)" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td rowspan="2"> <!-- 적재정보 설정 구성품목명 -->
									<input type="hidden" name="attr_key" id="attr-unit-key-<{$product_cms_load.pl_no}>" value="<{$product_cms_load.unit_cnt}>">
									<div class="unit-total-wrap-<{$product_cms_load.pl_no}>">
										<{if $product_cms_load.unit_list}>
											<{assign var="unit_idx" value=1}>
											<{foreach from=$product_cms_load.unit_list item=$unit_data}>
												<div class="unit-wrap unit-wrap-<{$product_cms_load.pl_no}>_<{$unit_idx}>" style="clear: both; overflow: hidden;padding-left: 5px;">
													<a href="javascript:void(0)" onclick="open_quick_sel('<{$product_cms_load.pl_no}>_<{$unit_idx}>')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
													<input type="text" class="input_type5 unit_name unit_name_<{$product_cms_load.pl_no}>" id="unit_name_<{$product_cms_load.pl_no}>_<{$unit_idx}>" name="unit_name[]" attr-key="<{$product_cms_load.pl_no}>_<{$unit_idx}>" style="float: left; width: 240px;" value="<{$unit_data.sku}>" required/>
													<input type="hidden" name="unit_no[]" class="unit_no unit_no_<{$product_cms_load.pl_no}>" id="unit_no_<{$product_cms_load.pl_no}>_<{$unit_idx}>" value="<{$unit_data.unit_no}>" required/>
													<input type="hidden" name="plu_no[]" class="plu_no plu_no_<{$product_cms_load.pl_no}>" value="<{$unit_data.plu_no}>"/>
													<button type="button" onclick="delUnitColumn('<{$product_cms_load.pl_no}>_<{$unit_idx}>')" style="float: left; padding: 5px 12.5px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>-</button>
												</div>
												<{assign var="unit_idx" value=$unit_idx+1}>
											<{/foreach}>
										<{/if}>
									</div>
									<div style="overflow: hidden; margin-top: 10px;">
										<{if $is_editable && $product_cms_load.display == '1'}>
											<button type="button" onclick="save_element('<{$product_cms_load.pl_no}>', 'modify_unit')" style="float: left;width: 240px;background: #333;color: #FFF;font-weight: bold;letter-spacing: 15px;height: 30px;text-align: center;padding-left: 14px;margin-left: 35px;">저장</button>
											<button type="button" onclick="addUnitColumn('<{$product_cms_load.pl_no}>')" style="float: right; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;margin-right: 4px;">+</button>
										<{/if}>
									</div>
								</td>
								<td rowspan="2"> <!-- 최근 변경일/수정자 -->
									<{$product_cms_load.upd_day}><br/>
									<{$product_cms_load.upd_name}>
								</td>
								<td> <!-- 카톤박스 가로(mm) -->
									<input type="text" name="f_box_width" class="form-control text-right" value="<{$product_cms_load.box_width}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 카톤박스 세로(mm) -->
									<input type="text" name="f_box_length" class="form-control text-right" value="<{$product_cms_load.box_length}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 카톤박스 높이(mm) -->
									<input type="text" name="f_box_height" class="form-control text-right" value="<{$product_cms_load.box_height}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 카톤박스 중량(kg) -->
									<input type="text" name="f_box_weight" class="form-control text-right" value="<{$product_cms_load.box_weight}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 카톤박스 입수량 -->
									<input type="text" name="f_box_amount" class="form-control text-right" value="<{$product_cms_load.box_amount}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 단품 가로(mm) -->
									<input type="text" name="f_single_width" class="form-control text-right" value="<{$product_cms_load.single_width}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 단품 세로(mm) -->
									<input type="text" name="f_single_length" class="form-control text-right" value="<{$product_cms_load.single_length}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 단품 높이(mm) -->
									<input type="text" name="f_single_height" class="form-control text-right" value="<{$product_cms_load.single_height}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 단품 중량(g) -->
									<input type="text" name="f_single_weight" class="form-control text-right" value="<{$product_cms_load.single_weight}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td> <!-- 단품 입수량 -->
									<input type="text" name="f_single_amount" class="form-control text-right" value="<{$product_cms_load.single_amount}>" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>
								</td>
								<td rowspan="2"> <!-- 비고 -->
									<textarea name="f_memo" class="form-control" onchange="save_el('<{$product_cms_load.pl_no}>', 'memo', this)" style="height: 80px;" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>><{$product_cms_load.memo}></textarea>
								</td>
								<td rowspan="2"> <!-- 작성일/작성자 -->
									<{$product_cms_load.reg_day}><br/>
									<{$product_cms_load.reg_name}>
								</td>
							</tr>
							<tr>
								<td colspan="10" <{if $product_cms_load.display != '1'}>style="background: #BBB;"<{/if}>>
									<button type="button" onclick="save_element('<{$product_cms_load.pl_no}>', 'modify_load_detail')" style="width: 98%; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height: 30px;" <{if !$is_editable || $product_cms_load.display != '1'}>disabled<{/if}>>저장</button>
								</td>
							</tr>
						</form>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="18"> 등록된 자료가 없습니다.</td>
					</tr>
				<{/if}>
				<tr>
					<td colspan="18" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
<!--		<button class="btn_style1" onclick="location.href='excel_product_cms_load_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button>-->
	</div>
</div>
<!-- //admin_content -->

<form action="product_cms_load_list.php" name="mod_load_frm" id="mod_load_frm" method="post">
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="pl_no" value="">
	<input type="hidden" name="plu_no_list" value="">
	<input type="hidden" name="org_plu_list" value="">
	<input type="hidden" name="mod_unit_list" value="">
	<input type="hidden" name="mod_unit_sku_list" value="">
</form>

<script type="text/javascript">
	$(document).ready(function(){
        $("#f_brand_name_new").autocomplete({
            source: function( request, response ) {
                $("#f_brand_new").val('');
                $.ajax({
                    url: "/v1/api/product_cms_unit_company.api.php",
                    dataType: "json",
                    data: {
                        c_name: request.term,
                        c_type: '1'
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.c_label,
                                cname : item.c_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).val(ui.item.cname);
                $("#f_brand_new").val(ui.item.cno);
            },
            minLength: 1
        });

		$(".f_brand_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_company.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						c_type: '1'
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_label,
								cname : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var no 	  	 = $(this).attr('attr-no');
				var type  	 = "brand";

				$(this).val(ui.item.cname);
				$("#f_brand_"+no).val(ui.item.cno);

				save_el(no, type, this);
			},
			minLength: 1
		});

		addAutoLoad();
	});

	function normal_search() {
		var f = document.forms['search_form'];
		f.submit();
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
        var parts = str.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	//콤마풀기
	function uncomma(str) {
	    if(str) {
            str = "" + str.replace(/,/gi, ''); // 콤마 제거
            str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        }
		return (parseFloat(str));
	}

	function add_product_load()
	{
		eval("var f=document.getElementById('new_load_frm');");
		f.process.value = "add_product_load";

        if (!f.f_brand_new.value) {
            alert("브랜드를 선택해 주세요.");
            return false;
        }

		if (!f.f_load_title_new.value) {
			alert("적재정보명을 입력해 주세요.");
			return false;
		}

		if(!emptyUnit("new")){
			alert("구성품을 선택해 주세요.");
			return false;
		}

		var units = getUnitList("new");
		$.ajax({
			url: "/v1/api/product_load.unit.check.php",
			type: 'POST',
			data: {"pl_no" : 0, "units" : units}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result = jsonData.result;

			if(result){
				f.submit();
			}else{
				alert("구성품목 중 적재정보에서 사용중인 구성품목이 있습니다.");
			}
		});

		return false;
	}

	function save_el(pl_no, type, obj)
	{
		var f 		= obj.form;
		var val 	= obj.value;
		var x 		= $(obj).position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if(type == 'brand'){
			val = $("#f_brand_"+pl_no).val();
		}

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") { // 공백시 저장안됨
			$.post("product_cms_load_list.php", {pl_no : pl_no, process : "modify_data", type: type, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_element(pl_no, target)
	{
		if(target == "modify_unit")
		{
			if(!emptyUnit(pl_no)){
				alert("구성품을 선택해주세요");
				return false;
			}

			var f 	 = document.forms['mod_load_frm'];
			var units = getUnitList(pl_no);

			$.ajax({
				url: "/v1/api/product_load.unit.check.php",
				type: 'POST',
				data: {"pl_no" : pl_no, "units" : units}
			}).done( function( data ) {
				var jsonData = JSON.parse(data);
				var result = jsonData.result;

				if(result){
					f.process.value 			= target;
					f.pl_no.value 				= pl_no;
					f.org_plu_list.value 		= $("#org_plu_list_"+pl_no).val();
					f.plu_no_list.value 		= getPluList(pl_no);
					f.mod_unit_list.value 		= units;
					f.mod_unit_sku_list.value 	= getUnitSkuList(pl_no);
					f.submit();
				}else{
					alert("구성품목 중 적재정보에서 사용중인 구성품목이 있습니다.");
				}
			});
		}
		else
		{
			var f = document.forms['apply_frm' + pl_no];
			f.process.value = target;
			f.submit();
		}

		return false;
	}

	function addUnitColumn(type)
	{
		var attrKey = Number($("#attr-unit-key-"+type).val()) + 1;
		var typeKey = type + "_" + attrKey;
		var addHtml = "<div class='unit-wrap unit-wrap-"+ typeKey +"' style='clear: both; overflow: hidden;padding-left: 5px;'>"
				+ "<a href='javascript:void(0)' onclick=\"open_quick_sel('"+typeKey+"')\" style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
				+ "<input type='text' class='input_type5 unit_name unit_name_"+type+"' id='unit_name_"+ typeKey +"' name='unit_name[]' attr-key='"+ typeKey +"' style='float: left; width: 240px;' required/>"
				+ "<input type='hidden' name='unit_no[]' class='unit_no unit_no_"+type+"' id='unit_no_"+ typeKey +"' value='' required/>"
				+ "<input type='hidden' name='plu_no[]' class='plu_no plu_no_"+type+"' value=''/>"
				+ "<button type='button' onclick=\"delUnitColumn('"+ typeKey +"')\" style='float: left; padding: 5px 12.5px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button></div>";

		$("#attr-unit-key-"+type).val(attrKey);
		$('.unit-total-wrap-'+type).append(addHtml);

		addAutoLoad();
	}

	function delUnitColumn(key)
	{
		$(".unit-wrap-"+key).remove();
	}

	function addAutoLoad()
	{
		$(".unit_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms.option.auto.api.php",
					dataType: "json",
					data: {
						option_name:request.term,
						option_type: 'sku'
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label  : item.option_name,
								option_no : item.option_no,
								option_name : item.option_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var key = $(this).attr('attr-key');

				$("#unit_no_"+key).val("");
				if(!checkAddProduct(key, ui.item.option_no)){
					alert("이미 추가된 구성품입니다.");
					return false;
				}
				$("#unit_no_"+key).val(ui.item.option_no);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});
	}

	function open_quick_sel(idx)
	{
		<{if $is_freelancer}>
			window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit_with&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
		<{else}>
			window.open('popup/quick_prd_sel.php?sch_quick_type=cms_unit&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');
		<{/if}>
		return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#unit_name_"+idx))
		{
			if(!checkAddProduct(idx, prd_no)){
				alert("이미 추가된 구성품입니다.");
				return false;
			}

			$("#unit_name_"+idx).val(prd_name);
			$("#unit_no_"+idx).val(prd_no);
		}
	}

	function checkAddProduct(type, prd_no)
	{
		var result 	 = true;
		var chk_type = type.split("_");
		$(".unit_no_"+chk_type[0]).each(function(idx, item){
			var chk_unit = $(item).val();
			if(chk_unit == prd_no){
				result = false;
			}
		});

		return result;
	}

	function emptyUnit(type)
	{
		var result = true;

		$(".unit_no_"+type).each(function(idx, item){
			var chk_unit = $(item).val();
			if(chk_unit == ""){
				result = false;
			}
		});

		return result;
	}

	function getUnitList(type) {
		var total_unit = "";

		$(".unit_no_" + type).each(function (idx, item) {
			var chk_unit = $(item).val();
			total_unit += (total_unit == "") ? chk_unit : "," + chk_unit;
		});

		return total_unit;
	}

	function getUnitSkuList(type) {
		var total_unit = "";

		$(".unit_name_" + type).each(function (idx, item) {
			var chk_unit = $(item).val();
			total_unit += (total_unit == "") ? chk_unit : "," + chk_unit;
		});

		return total_unit;
	}

	function getPluList(type) {
		var total_plu = "";

		$(".plu_no_"+type).each(function(idx, item){
			var chk_plu = $(item).val();
			total_plu += (total_plu == "") ? chk_plu : ","+chk_plu;
		});

		return total_plu;
	}

</script>
</body>
</html>
