<{include file="inc/boot_navibar.html"}>

<div class="admin_content" style="width:1200px;">
	<!-- 업체정보 -->
    <form name="product_form" action="product_cms_regist.php" method="post" enctype="multipart/form-data" onsubmit="return check_form(this)">
		<input type="hidden" name="prd_no" value="<{$prd_no}>">
		<input type="hidden" name="is_super_editable" value="<{$is_super_editable}>" />
		<input type="hidden" name="is_manager_editable" value="<{$is_manager_editable}>" />
		<input type="hidden" name="process" id="process" value="<{$mode}>">

		<input type="hidden" name="search_url" value="<{$search_url}>" />

		<{if $mode=="modify"}>
			<h2 class="title" style="margin-bottom:10px">● 상품 수정하기</h2>
			<div class="table_top_style">
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<th style="width:150px;" class="first first_top alignC">담당자 메모</th>
							<td style="width:1050px;" class="first_top date">
								<textarea name="f_prd_memo" id="f_prd_memo" class="textarea_memo_contents"><{$f_prd_memo}></textarea>
								<{if $is_super_editable || $is_manager_editable}>
								<button type="button" onclick="return save_memo();" class="btn_small_memo">저장</button>
								<{/if}>
								<br />
								* 마지막 저장일 : <span class="day"><{$f_prd_memo_day}><span class="time"> <{$f_prd_memo_time}></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br />
		<{else}>
			<h2 class="title" style="margin-bottom:10px">● 상품 등록하기</h2>
		<{/if}>

   		<div class="table_contents_style">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th colspan="2" class="first">상품정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th style="width:150px;" class="first">* Display</th>
						<td style="width:1050px;">
							<input type="radio" name="f_display" value="1" class="radio first" <{if $f_display == 1 || !$f_display }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>ON
							<input type="radio" name="f_display" value="2" class="radio" <{if $f_display == 2 }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>OFF
						</td>
					</tr>
					<tr>
						<th class="first">* 업체명/브랜드명</th>
						<td>
							<input type="text" class="input_type1" name="f_c_name" id="f_c_name"  value="<{$f_c_name}>" <{if !$is_super_editable}>disabled<{/if}>/>
							<input type="hidden" class="input_type1" name="f_c_no" id="f_c_no"  value="<{$f_c_no}>"/>
              				<span style="color: red;">※주의 : 매출 및 비용관리의 기준이 됩니다.</span>
						</td>
					</tr>
					<tr>
						<th class="first">* 상품그룹</th>
						<td>
	              			<span class="name_tit">상품그룹1</span>
						    <select name="f_prd_g1" id="f_prd_g1" class="select_type2" style="margin-right:20px" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>
	                			<option value="" <{if !$f_prd_g1}>selected<{/if}>>선택</option>
			            		<{section name=data loop=$prd_g1_list}>
				            	<option value="<{$prd_g1_list[data].k_name_code}>" <{if $f_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
								<{/section}>
						    </select>

							<span class="name_tit">상품그룹2</span>
							<select id="f_prd_g2" name="f_prd_g2" class="select_type2" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>
								<option value="" <{if !$f_prd_g2}>selected<{/if}>>선택</option>
								<{section name=data loop=$prd_g2_list}>
			        	    	<option value="<{$prd_g2_list[data].k_name_code}>" <{if $f_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
			            		<{/section}>
	  				    	</select>
						</td>
					</tr>
					<tr>
						<th class="first">* 우선순위</th>
						<td>
							<input type="number" name="f_priority" id="f_priority" min="1" max="100" value="<{$f_priority}>" style="text-align: center;" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>
							※숫자가 낮을 수록 상품그룹에서 상위에 리스트됩니다. (자주 사용하는 상품을 0에 가깝게 설정 권장)
						</td>
					</tr>
					<tr>
						<th class="first">구분</th>
						<td style="padding-top: 10px;">
							<input type="radio" name="f_prd_type" id="f_prd_type_0" value="0" <{if !$f_prd_type || $f_prd_type == 0}>checked<{/if}>>
							<label for="f_prd_type_0" style="margin-right: 5px;">미설정</label>
							<{foreach from=$prd_type_option key=key item=label}>
								<input type="radio" name="f_prd_type" id="f_prd_type_<{$key}>" value="<{$key}>" <{if $f_prd_type == $key}>checked<{/if}>>
								<label for="f_prd_type_<{$key}>" style="margin-right: 5px;"><{$label}></label>
							<{/foreach}>
						</td>
					</tr>
					<tr>
						<th class="first">* 상품명</th>
						<td>
							<input type="text" class="input_type1" style="width: 500px;" name="f_title" id="f_title"  value="<{$f_title}>" <{if !$is_super_editable}>disabled<{/if}>/>
							<br/>
							<span style="color: red;">※ 선택 시 주의사항</span>
							<input type="text" class="input_type1" style="width: 100px;" name="f_notice" id="f_notice"  value="<{$f_notice}>" <{if !$is_super_editable}>disabled<{/if}>/>
							<span style="color: red;">(20byte 한글10자 이내)</span>
						</td>
					</tr>
					<tr>
						<th class="first">* 담당자(부서)</th>
						<td>
							<input type="hidden" name="f_manager" id="manager" value="<{$f_manager}>">
							<input type="hidden" name="f_manager_team" id="manager_team" value="<{$f_manager_team}>">
							<input type="text" class="input_type4" id="manager_label" value="<{$f_manager_label}>" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>>
						</td>
					</tr>
					<tr>
						<th class="first">* 상품코드</th>
						<td>
							<input type="text" class="input_type1" name="f_code" id="f_code"  value="<{$f_code}>" <{if !$is_super_editable}>disabled<{/if}>/>
						</td>
					</tr>
					<tr>
						<th class="first">외주상품코드</th>
						<td>
							<span style="color: gray; font-size: 12px;">* 외부창고에 대한 제품공급 및 판매정산 확인에 사용합니다.</span>
							<div class="out-total-wrap" style="overflow: hidden;">
								<input type="hidden" name="f_ori_out_no" value="<{$f_ori_out_no}>">
								<input type="hidden" name="out_key" id="out_key" value="<{$out_key}>">
								<{assign var=idx value=1}>
								<{if $outsourcing_list }>
									<{foreach from=$outsourcing_list item=outsourcing_data}>
										<div class="out-content-wrap-<{$idx}>">
											<input type="hidden" name="f_out_no[]" id="f_out_no_<{$idx}>" value="<{$outsourcing_data.no}>">
											<input type="hidden" name="f_out_c_no[]" id="f_out_c_no_<{$idx}>" class="f_out_c_no" value="<{$outsourcing_data.c_no}>">
											<input type="text" name="f_out_c_name[]" id="f_out_c_name_<{$idx}>" class="f_out_c_name input_type1" attr-key="<{$idx}>" value="<{$outsourcing_data.c_name}>" placeholder="업체명" required>
											<input type="text" name="f_out_prd_code[]" id="f_out_prd_code_<{$idx}>" class="input_type1" value="<{$outsourcing_data.value}>" placeholder="외주상품코드" required>
											<button type='button' onclick='delOutCodeColumn("<{$idx}>")' style='padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button>
										</div>
										<{assign var=idx value=$idx+1}>
									<{/foreach}>
								<{/if}>
							</div>
							<div style="text-align: left;">
								<button type="button" onclick="addOutCodeColumn()" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px;">+</button>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">단독 구매 상품 변경</th>
						<td>
							prd_no : <input type="text" class="input_type1" name="f_solo_prd" id="f_solo_prd"  value="<{$f_solo_prd}>" >
							<{if $f_solo_prd}>
								<a href="product_cms_regist.php?no=<{$f_solo_prd}>" target="_blank">
									<{$f_solo_prd_name}>
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{/if}>
							<br/>
							<span style="color: red;">※본 상품만 단독 구매 시 동일한 수량으로 상품을 변경 발송합니다.</span>
						</td>
					</tr>
					<tr>
						<th class="first">합포장 설정</th>
						<td>
							<input type="checkbox" class="checkbox_type1" id="f_combined_pack" name="f_combined_pack"  <{if $f_combined_pack == '2'}>checked="checked"<{/if}> value="2" <{if !$is_super_editable}>disabled<{/if}>>
							<label for="f_combined_pack" style="cursor: pointer;">합포장 불가</label>
							<br/>
							<label for="f_combined_except" style="cursor: pointer;">※예외(prd_no)</label>
							<input type="text" class="input_type1" name="f_combined_except" id="f_combined_except"  value="<{$f_combined_except}>" style="width: 200px;" <{if $f_combined_pack != '2' || !$is_super_editable}>disabled<{/if}>/>
							<label for="f_combined_product" style="margin-left: 10px; cursor: pointer;">합포장처리</label>
							<input type="text" class="input_type1" name="f_combined_product" id="f_combined_product"  value="<{$f_combined_product}>" style="width: 100px;" <{if $f_combined_pack != '2' || !$is_super_editable}>disabled<{/if}>/>
							<{if $f_combined_product}>
								<a href="product_cms_regist.php?no=<{$f_combined_product}>" target="_blank">
									<{$f_combined_prd_name}>
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">사은품 설정(A)</th>
						<td>
							<div style="clear: both; overflow: hidden; margin-bottom: 10px;">
								<span style="color: red;">※사은품 설정(A/B)주의사항 필독<br />
								- 본 사은품은 구매 수량에 따라 증정됩니다.<span style="color:gray;"> ex) 2개 구매시 2개증정</span><br />
								- 본 사은품은 주문내역을 정리하여 배송처리 시 적용 됩니다.<span style="color:gray;"> ex) 발송작업 시간 대략 오전 9시, 오후 3시</span><br />
								- 사은품 설정 (A)와 (B)에 모두 해당될 경우 해당 사은품 모두 증정됩니다.<br /><span style="color:gray;">ex) (A) : 2023-06-01 ~ 2023-06-30 세탁망증정, (B) 2023-06-12 12:00~14:00 보관백증정 , 2023-06-12 12:00~14:00 구매시 세탁망 + 보관백증정</span><br />
								- 이벤트 변경시 종료 직후 시작 되지 않고 최소 1일 공백을 주셔야 합니다.<span style="color:gray;"> (발송작업 사잇시간에 오배송 발생)</span><br />
								- 신규 이벤트 혹은 이벤트 조건 변경시 오배송예방을 위해 반드시 '출고전 사전검수'를 진행해주세요. <a href="work_list.php?sch_prd=249" target="_blank" style="font-weight: bold;">[운영팀에 출고전 사전검수 요청하기]</a><br />
								</span>
							</div>
							<div style="clear: both; overflow: hidden; margin: 5px 0px;">
								<span style="display: inline-block; width: 100px;">사은품 증정 설정</span>
								<input type="radio" name="f_gift_date_type" class="radio first f_gift_date_type" value="2" style="margin-top: 0;" <{if $f_gift_date_type == '2' || !$f_gift_date_type }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}> >OFF
								<input type="radio" name="f_gift_date_type"  class="radio f_gift_date_type" value="1" style="margin-top: 0;" <{if $f_gift_date_type == '1' }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}> >ON
							</div>
							<div style="clear: both; overflow: hidden;">
								<span style="display: inline-block; width: 100px;">사은품(prd_no)</span>
								<input type="text" class="input_type1" name="f_gift_prd" id="f_gift_prd"  value="<{$f_gift_prd}>" style="width: 300px;" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>/>
                				<span style="color:gray;">ex) 11,12,13,1138 ※상품의 no로 상품코드 아님</span>
							</div>
							<div style="clear: both; overflow: hidden;">
								<span style="display: inline-block; width: 100px;">구매처</span>
								<input type="text" class="input_type1" name="f_gift_dp" id="f_gift_dp" value="<{$f_gift_dp}>" style="width: 300px;" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>/>
                				<span style="color:gray;">ex) 아임웹_베라베프,스마트스토어_닥터피엘,스마트스토어_누잠,스마트스토어_베라베프</span>
							</div>
							<div style="clear: both; overflow: hidden; margin-top: 3px;">
								<div style="margin-top: 5px;">
									<span style="margin-top: 17px; margin-right: 5px;">주문일시</span>
									<input type="text" name="f_gift_s_day" class="date-picker input_type_date f_gift_date_column" id="f_gift_s_day" value="<{$f_gift_s_day}>" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
									<select name="f_gift_s_hour" class="select_type2 f_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$hour_list item=hour}>
										<option value="<{$hour}>" <{if $hour == $f_gift_s_hour}>selected<{/if}>><{$hour}></option>
										<{/foreach}>
									</select>
									<span style="margin-top: 17px;">시</span>
									<select name="f_gift_s_min" class="select_type2 f_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$min_list item=min}>
										<option value="<{$min}>" <{if $min == $f_gift_s_min}>selected<{/if}>><{$min}></option>
										<{/foreach}>
									</select>
									<span  style="margin-top: 17px;">분</span>
									<span  style="margin: 17px 5px 0;">~</span>
									<input type="text" name="f_gift_e_day" class="date-picker input_type_date f_gift_date_column" id="f_gift_e_day" value="<{$f_gift_e_day}>" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
									<select name="f_gift_e_hour" class="select_type2 f_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$hour_list item=hour}>
										<option value="<{$hour}>" <{if $hour == $f_gift_e_hour}>selected<{/if}>><{$hour}></option>
										<{/foreach}>
									</select>
									<span style="margin-top: 17px;">시</span>
									<select name="f_gift_e_min" class="select_type2 f_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$min_list item=min}>
										<option value="<{$min}>" <{if $min == $f_gift_e_min}>selected<{/if}>><{$min}></option>
										<{/foreach}>
									</select>
									<span  style="margin-top: 17px;">분</span>
                  					<span style="color:gray;">(비어있을 경우 제한 없음)</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">사은품 설정(B)</th>
						<td>
							<div style="clear: both; overflow: hidden; margin: 5px 0px;">
								<span style="display: inline-block; width: 100px;">사은품 증정 설정</span>
								<input type="radio" name="f_sub_gift_date_type" class="radio first f_sub_gift_date_type" value="2" style="margin-top: 0;" <{if $f_sub_gift_date_type == '2' || !$f_sub_gift_date_type }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}> >OFF
								<input type="radio" name="f_sub_gift_date_type"  class="radio f_sub_gift_date_type" value="1" style="margin-top: 0;" <{if $f_sub_gift_date_type == '1' }>checked<{/if}> <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}> >ON
							</div>
							<div style="clear: both; overflow: hidden;">
								<span style="display: inline-block; width: 100px;">사은품(prd_no)</span>
								<input type="text" class="input_type1" name="f_sub_gift_prd" id="f_sub_gift_prd"  value="<{$f_sub_gift_prd}>" style="width: 300px;" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>/>
								<span style="color:gray;">ex) 11,12,13</span>
							</div>
							<div style="clear: both; overflow: hidden;">
								<span style="display: inline-block; width: 100px;">구매처</span>
								<input type="text" class="input_type1" name="f_sub_gift_dp" id="f_sub_gift_dp" value="<{$f_sub_gift_dp}>" style="width: 300px;" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>/>
								<span style="color:gray;">ex) 아임웹_베라베프,스마트스토어_닥터피엘,스마트스토어_누잠,스마트스토어_베라베프</span>
							</div>
							<div style="clear: both; overflow: hidden; margin-top: 3px;">
								<div style="margin-top: 5px;">
									<span style="margin-top: 17px; margin-right: 5px;">주문일시</span>
									<input type="text" name="f_sub_gift_s_day" class="date-picker input_type_date f_sub_gift_date_column" id="f_sub_gift_s_day" value="<{$f_sub_gift_s_day}>" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
									<select name="f_sub_gift_s_hour" class="select_type2 f_sub_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$hour_list item=hour}>
										<option value="<{$hour}>" <{if $hour == $f_sub_gift_s_hour}>selected<{/if}>><{$hour}></option>
										<{/foreach}>
									</select>
									<span style="margin-top: 17px;">시</span>
									<select name="f_sub_gift_s_min" class="select_type2 f_sub_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$min_list item=min}>
										<option value="<{$min}>" <{if $min == $f_sub_gift_s_min}>selected<{/if}>><{$min}></option>
										<{/foreach}>
									</select>
									<span  style="margin-top: 17px;">분</span>
									<span  style="margin: 17px 5px 0;">~</span>
									<input type="text" name="f_sub_gift_e_day" class="date-picker input_type_date f_sub_gift_date_column" id="f_sub_gift_e_day" value="<{$f_sub_gift_e_day}>" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
									<select name="f_sub_gift_e_hour" class="select_type2 f_sub_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$hour_list item=hour}>
										<option value="<{$hour}>" <{if $hour == $f_sub_gift_e_hour}>selected<{/if}>><{$hour}></option>
										<{/foreach}>
									</select>
									<span style="margin-top: 17px;">시</span>
									<select name="f_sub_gift_e_min" class="select_type2 f_sub_gift_date_column" style="width: 50px;" <{if (!$is_super_editable && !$is_manager_editable) || $f_sub_gift_date_type != '1'}>disabled<{/if}>>
										<{foreach from=$min_list item=min}>
										<option value="<{$min}>" <{if $min == $f_sub_gift_e_min}>selected<{/if}>><{$min}></option>
										<{/foreach}>
									</select>
									<span  style="margin-top: 17px;">분</span>
									<span style="color:gray;">(비어있을 경우 제한 없음)</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">상품 소개</th>
						<td>
							<textarea name="f_description" id="f_description" cols="30" rows="5" class="textarea_type1" <{if !$is_super_editable && !$is_manager_editable}>disabled<{/if}>><{$f_description}></textarea>
						</td>
					</tr>
					<tr>
						<th class="first">물류업체(발송지)</th>
						<td style="padding-left: 10px;">
							<{if $product_relation_list }>
								<{if $f_log_c_no == "0"}>
									<span style="color: red;"><img src="./images/icon/alert.jpg" style="width: 15px; cursor: pointer; margin-right: 5px;"><{$f_log_c_name}></span>
								<{else}>
									<{$f_log_c_name}>
								<{/if}>
							<{/if}>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td colspan="2" border="0" style="border-right:0px;border-bottom:0px;text-align:center;">
							<div class="btn_wrap">
								<{if $mode == "modify"}>
									<{if $is_super_editable || $is_manager_editable }>
									<button type="submit" class="btn_style1"><span>수정하기</span></button>
									<{/if}>
								<{else}>
							  		<button type="submit" class="btn_style1"><span>등록하기</span></button>
								<{/if}>
							  	<button type="button" onclick="location.href='product_cms_list.php?<{$search_url}>'" class="btn_style1" style="float: right;"><span>목록으로</span></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- //table_contents_style -->
	</form>

	<div class="table_list_style">
		<h3 class="title" style="margin-bottom:10px; text-align:left;">● 상품 구성 (발주품목으로 구성)</h3>
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th style="min-width:50px;" class="first">NO</th>
					<th style="min-width:140px;">공급업체</th>
					<th style="min-width:140px;">물류업체(발송지)</th>
					<th style="min-width:245px;">품명</th>
					<th style="min-width:85px;">수량</th>
					<th style="min-width:60px;">우선순위</th>
				</tr>
			</thead>
			<tbody>
				<{foreach from=$product_relation_list item=product_relation}>
					<form name="apply_relation_frm_<{$product_relation.no}>" id="apply_relation_frm_<{$product_relation.no}>" class="apply_frm" action="product_cms_regist.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="prd_no" value="<{$f_prd_no}>">
						<input type="hidden" name="rel_no" value="<{$product_relation.no}>">
						<input type="hidden" name="search_url" value="<{$search_url}>" />
						<input type="hidden" name="process">
						<tr>
							<td class="first"> <!-- NO -->
								<{$product_relation.no}>
								<{if $is_super_editable}>
								<br><a href="javascript:void(0)" onclick="del_relation('<{$product_relation.no}>');"><span style="font-size:6px;">[삭제]</span></a>
								<{/if}>
							</td>
							<td> <!-- 공급업체 -->
								<select name="f_sup_c_no" id="f_sup_c_no" class="f_sup_c_no select_type3" style="width:130px;" <{if !$is_super_editable}>disabled<{/if}> >
									<{foreach from=$supply_commerce_list key=key item=label}>
										<option value="<{$key}>" <{if $key == $product_relation.sup_c_no}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td> <!-- 물류업체 -->
								<select name="log_c_no" id="log_c_no" class="select_type3" style="width:130px;" disabled>
									<option value="<{$product_relation.log_c_no}>"><{$product_relation.log_c_name}></option>
								</select>
							</td>
							<td> <!-- 품명 -->
								<select name="f_option_no" id="f_option_no" class="f_option_no select_type3" style="width:235px;" onchange="save_el('<{$product_relation.no}>', 'f_option_no', this);" <{if !$is_super_editable}>disabled<{/if}> >
									<{if $product_cms_unit_list[$product_relation.sup_c_no]}>
										<{foreach from=$product_cms_unit_list[$product_relation.sup_c_no] key=key item=label}>
										<option value="<{$key}>" <{if $key == $product_relation.option_no }>selected<{/if}>><{$label}></option>
										<{/foreach}>
									<{/if}>
								</select>
							</td>
							<td> <!-- 수량 -->
								<input type="text" name="f_quantity" id="f_quantity" onchange="save_el('<{$product_relation.no}>', 'f_quantity', this);" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" class="input_type2" style="text-align:right;" value="<{$product_relation.quantity}>" <{if !$is_super_editable}>disabled<{/if}> >
							</td>
							<td> <!-- 우선순위 -->
								<input type="number" name="f_priority" onchange="save_el('<{$product_relation.no}>', 'f_priority', this);" min="1" max="100" value="<{$product_relation.priority}>" style="text-align: center;" <{if !$is_super_editable}>disabled<{/if}> >
							</td>
						</tr>
					</form>
				<{/foreach}>

				<{if $is_super_editable}>
				<!-- 추가 하기 -->
				<form name="frm_relation_new" id="frm_relation_new" action="product_cms_regist.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="prd_no" value="<{$f_prd_no}>">
					<input type="hidden" name="process">
					<input type="hidden" name="search_url" value="<{$search_url}>" />
					<tr style="background-color: #ffffe0;">
						<td class="first" rowspan="2"> <!-- NO -->
							&nbsp;
						</td>
						<td> <!-- 공급업체 -->
							<select name="sup_c_no_new" id="sup_c_no_new" class="select_type3" style="width:130px;" required>
								<option value="">::선택::</option>
								<{foreach from=$supply_commerce_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 물류업체 -->
						</td>
						<td> <!-- 품명 -->
							<input type="hidden" name="option_no_new" id="option_no_new">
							<input type="text" name="option_name_new" id="option_name_new" class="input_type3" style="width:235px;">
						</td>
						<td> <!-- 수량 -->
							<input type="text" name="quantity_new" id="quantity_new" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" class="input_type2" style="text-align:right;">
						</td>
						<td> <!-- 우선순위 -->
							<input type="number" name="priority_new" id="priority_new" min="1" max="100" style="text-align: center;">
						</td>

					</tr>
					<tr style="background-color: #ffffe0;">
						<td colspan="5">
							<button onclick="return add_relation();" style="width:99%;" class="btn_small">추가하기</button>
						</td>
					</tr>
				</form>
				<{/if}>
			</tbody>
		</table>
	</div> <!-- //table_list_style -->
</div> <!-- //admin_content -->

<script type="text/javascript">
  	// 상품그룹 값을 로드하기
	$(document).ready(function(){
		$("#f_prd_g2").remoteChained({
			parents : "#f_prd_g1",
				url : "/v1/api/product.json.php?parent_data=f_prd_g1&sch_k_code=product_cms",
			loading : "로딩중.."
		});

		$(".f_option_no").each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_sup_c_no")[i],
				url: "/v1/api/product_cms_unit.json.php?parent_data=f_sup_c_no",
				loading: "로딩중..",
				clear: true
			});
		});

		$("#manager_label").autocomplete({
			source: function( request, response ) {
				$("#manager").val('');
			  	$("#manager_team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#manager").val(ui.item.sno);
				$('#manager_label').val(ui.item.sname);
				$('#manager_team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$("#option_name_new").autocomplete({
			source: function( request, response ) {
				$("#option_no_new").val('');
				$.ajax({
					url: "/v1/api/product_cms.option.auto.api.php",
					dataType: "json",
					data: {
						option_name: request.term,
						sup_c_no: $("#sup_c_no_new").val()
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label : item.label,
								option_no : item.option_no,
								option_name : item.option_name,
								sup_c_no: item.sup_c_no
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#option_no_new").val(ui.item.option_no);
				$('#option_name_new').val(ui.item.option_name);
				$('#sup_c_no_new').val(ui.item.sup_c_no);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$("#f_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno : item.s_no
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#f_c_no").val(ui.item.cno);
			},
			focus: function( event, ui ) {
				$('#f_c_name').val(ui.item.label);
				return false;
			},
			minLength: 1
		});

		$("#f_combined_pack").change(function(){
			if($(this).is(':checked')){
				$("#f_combined_except").attr('disabled', false);
				$("#f_combined_product").attr('disabled', false);
			}else{
				$("#f_combined_except").attr('disabled', true);
				$("#f_combined_product").attr('disabled', true);
			}
		});

		$(".f_gift_date_type").change(function(){
			if($(this).val() == '1'){
				$(".f_gift_date_column").attr('disabled', false);
			}else{
				$(".f_gift_date_column").attr('disabled', true);
			}
		});

		$(".f_sub_gift_date_type").change(function(){
			if($(this).val() == '1'){
				$(".f_sub_gift_date_column").attr('disabled', false);
			}else{
				$(".f_sub_gift_date_column").attr('disabled', true);
			}
		});

		outAutoComplete();
	});

	function check_form(f)
	{
		if (cknull("f_c_name", "업체명/브랜드명을") == "x") return false;
		if (cknull("f_c_no", "업체명/브랜드명을") == "x") return false;
		if (cknull("k_name_code", "상품그룹을") == "x") return false;
		if (cknull("f_title", "상품명을") == "x") return false;

		if (cknull("manager", "담당자를") == "x" || cknull("manager_team", "부서를") == "x") return false;

		if (isNumber(document.getElementById("f_title").value)) {
			alert("상품명에 숫자만 입력할 수 없습니다.");
			return false;
		}

		if($(".f_out_c_no").length > 0 && !checkOutsourcing()){
			alert("외주상품코드 업체를 선택해주세요.");
			return false;
		}

		if(!f.prd_no.value)
		{
			if(!checkStrExcept($("#f_title").val())){
				alert("상품명에 특수문자 , \' \" 는 포함 할 수 없습니다.");
				return false;
			}
		}

		$.ajax({
			url: "/v1/api/team.title.check.api.php",
			type: 'POST',
			data: {"prd_no": '<{$f_prd_no}>', "title":document.getElementById("f_title").value}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result   = jsonData.result;

			if(result == true) {
				f.submit();
			}else{
				alert("같은 상품명이 존재합니다.");
				return false;
			}
		});

		return false;
	}

	// 메모만 따로 저장하기
	function save_memo()
	{
		var f = document.product_form;
		f.process.value = 'memo';
		f.submit();
	}

	function add_relation()
	{
		eval("var f=document.getElementById('frm_relation_new');");
		f.process.value = "add_relation";

		if (!f.prd_no.value) {
			alert("상품 번호가 확인이 안됩니다.\n관리자에게 문의해주세요.");
			return false;
		}

		if (!f.sup_c_no_new.value) {
			alert("공급업체를 선택해 주세요.");
			return false;
		}

		if (!f.option_no_new.value) {
			alert("품명을 선택해 주세요.");
			return false;
		}

		if (!f.quantity_new.value) {
			alert("수량을 입력해 주세요.");
			return false;
		}

		f.submit();
	}

	function del_relation(no)
	{
		eval("var f=document.getElementById('frm_relation_new');");
		var f = document.getElementById("apply_relation_frm_"+no);
		f.process.value = "f_delete";

		if (confirm("정말 삭제 하시겠습니까??") != true){ //취소
			return;
		}else{
			f.submit();
		}
	}

	function save_el(no, proc, obj)
	{
		if(proc == "f_delete"){
			if (confirm("정말 삭제 하시겠습니까??") != true){ //취소
				return;
			}
		}
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("product_cms_regist.php", {no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function addOutCodeColumn()
	{
		var attrKey  = Number($("#out_key").val()) + 1;

		var addHtml = "<div class='out-content-wrap-" + attrKey + "'>"
				+ "<input type='hidden' name='f_out_no[]' id='f_out_no_" + attrKey + "' value=''>"
				+ "<input type='hidden' name='f_out_c_no[]' id='f_out_c_no_" + attrKey + "' class='f_out_c_no' value=''>"
				+ "<input type='text' name='f_out_c_name[]' id='f_out_c_name_" + attrKey + "' class='f_out_c_name input_type1' attr-key='" + attrKey + "' value='' placeholder='업체명' required>"
				+ "<input type='text' name='f_out_prd_code[]' id='f_out_prd_code_" + attrKey + "' class='input_type1' value='' placeholder='외주상품코드' required>"
				+ "<button type='button' onclick='delOutCodeColumn(" + attrKey + ")' style='padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button>"
				+ "</div>";

		$("#out_key").val(attrKey);
		$('.out-total-wrap').append(addHtml);
		outAutoComplete();
	}

	function delOutCodeColumn(key)
	{
		$('.out-content-wrap-'+key).remove();
	}

	function outAutoComplete()
	{
		$(".f_out_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						is_dp : 1
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno : item.s_no
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var attrKey = $(this).attr("attr-key");
				$("#f_out_c_name_"+attrKey).val(ui.item.label);
				$("#f_out_c_no_"+attrKey).val(ui.item.cno);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});
	}

	function checkOutsourcing()
	{
		var result = true;
		$(".f_out_c_no").each(function(idx, item){
			if($(item).val() == '' || $(item).val() == 0){
				result = false;
			}
		});

		return result;
	}

	function checkStrExcept(str)
	{
		var except_pattern 	= /[\,]/g;
		var except_pattern2 = /[\']/g;
		var except_pattern3 = /[\"]/g;

		if (except_pattern.test(str) == true) {
			return false;
		}

		if (except_pattern2.test(str) == true) {
			return false;
		}

		if (except_pattern3.test(str) == true) {
			return false;
		}

		return true;
	}
</script>

</body>
</html>
