<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	button:disabled{background: #CCC !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">● 커머스 발주원가 상세내역</h2>
	<div class="table_list_style" style="overflow: hidden; margin-top: 20px;">
		<form action="product_cms_unit_cost_view.php" method="post" name="add_unit_cost_frm" id="add_unit_cost_frm" autocomplete="off">
			<input type="hidden" name="prd_unit" value="<{$prd_unit}>">
			<input type="hidden" name="process" value="add_unit_cost">
			<table cellpadding="0" cellspacing="0" style="clear: both;">
				<thead>
				<tr>
					<th style="min-width:50px; height: 50px;" class="first">NO</th>
					<th style="min-width:120px;">업체명/브랜드명</th>
					<th style="min-width:150px;">공급업체</th>
					<th style="min-width:100px;">발주담당자</th>
					<th style="min-width:250px;">구성품목명</th>
					<th style="min-width:100px;">단가시작일</th>
					<th style="min-width:220px;">공급단가</th>
					<th style="min-width:100px;">이전대비</th>
					<th style="min-width:80px;">등락률</th>
					<th style="min-width:200px;">비고</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="first">-</td>
					<td> <!-- 업체명/브랜드명 -->
						<{$product_cms_unit.brand_name}>
					</td>
					<td> <!-- 공급업체 -->
						<input type="hidden" name="sup_c_no" value="<{$product_cms_unit.sup_c_no}>">
						<{$product_cms_unit.sup_c_name}>
					</td>
					<td> <!-- 발주담당자 -->
						<{$product_cms_unit.ord_s_name}>
					</td>
					<td style="text-align: left; padding-left: 10px;"> <!-- 구성품목명 -->
						<{$product_cms_unit.option_name}>
					</td>
					<td> <!-- 단가시작일 -->
						<input type="text" class="date-picker input_type3" name="cost_date" style="width: 80px;text-align: center;" value="" required>
					</td>
					<td style="text-align: right;"> <!-- 공급단가 -->
						<{if $is_usd_price}>
						[USD] VAT 별도 $ <input type="text" name="sup_price" onfocus="this.value=''" onchange="inputUsdFormat(this)"  class="input_type_money" style="margin-left: 5px; width:115px; font-size: 13px;">
						<input type="hidden" name="sup_price_vat" value="0">
						<{else}>
						[KRW] VAT 포함 ₩ <input type="text" id="sup_price_vat" name="sup_price_vat" onfocus="this.value=''" onchange="vat_tax_calculate_reverse(this)" class="input_type_money" style="width:115px;"><br/>
						[KRW] VAT 별도 ₩ <input type="text" id="sup_price" name="sup_price" onfocus="this.value=''" onchange="vat_tax_calculate(this)"  class="input_type_money" style="margin-left: 17px; width:100px; color: #777; font-size: 13px;">
						<{/if}>
					</td>
					<td style="text-align: right;"> <!-- 이전대비 -->
					</td>
					<td style="text-align: right;"> <!-- 등락률 -->
					</td>
					<td style="text-align: left;"> <!-- 비고 -->
						<textarea name="memo" class="form-control" style="width: 98%; font-size: 12px; padding: 0.3rem;"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="10" class="first" style="margin:0; padding:0;">
						<button onclick="addUnitCost()" type="button" style="background: #333; color: white; font-weight: bold; width: 100%; height: 30px;" <{if !$is_editable}>disabled<{/if}>>발주원가 상세내역 추가하기</button>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>

	<div class="table_list_style" style="overflow: hidden; width: 100%; margin-top: 20px; box-sizing: border-box;">
		<table cellpadding="0" cellspacing="0" style="clear: both;">
			<thead>
				<tr>
					<th style="min-width:50px; height: 70px;" class="first">NO</th>
					<th style="min-width:120px;">업체명/브랜드명</th>
					<th style="min-width:150px;">공급업체</th>
					<th style="min-width:100px;">발주담당자</th>
					<th style="min-width:250px;">구성품목명</th>
					<th style="min-width:100px;">단가시작일</th>
					<th style="min-width:140px;">공급단가<br/>KRW = VAT포함<br/>USD = VAT별도</th>
					<th style="min-width:100px;">이전대비</th>
					<th style="min-width:80px;">등락률</th>
					<th style="min-width:200px;">비고</th>
				</tr>
			</thead>
			<tbody>
			<{if $product_cms_unit_cost_list}>
				<{foreach from=$product_cms_unit_cost_list item=product_cms_unit_cost}>
				<tr>
					<td class="first text-center" style="height: 30px;"> <!-- NO -->
						<{$product_cms_unit_cost.cc_no}>
					</td>
					<td> <!-- 업체명/브랜드명 -->
						<{$product_cms_unit_cost.brand}>
					</td>
					<td> <!-- 공급업체 -->
						<{$product_cms_unit_cost.sup_c_name}>
					</td>
					<td> <!-- 발주담당자 -->
						<{$product_cms_unit_cost.ord_s_name}>
					</td>
					<td style="text-align: left; padding-left: 10px;"> <!-- 구성품목명 -->
						<{$product_cms_unit_cost.option_name}>
					</td>
					<td> <!-- 단가시작일 -->
						<input type="text" name="f_cost_date" class="form-control date-picker" value="<{$product_cms_unit_cost.cost_date}>" onchange="save_el('<{$product_cms_unit_cost.cc_no}>','f_cost_date', this)" <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td style="text-align: right;"> <!-- 공급단가 -->
						<b>
							<{if $is_usd_price}>
							USD $
								<input type="text" name="sup_price_vat" onfocus="this.value=''" onchange="inputUsdFormat(this); save_el('<{$product_cms_unit_cost.cc_no}>','f_sup_price', this);" class="input_type_money" style="width:115px;" value="<{$product_cms_unit_cost.sup_price}>" <{if !$is_editable}>disabled<{/if}>>
							<{else}>
							KRW ₩
								<input type="text" name="sup_price_vat" onfocus="this.value=''" onchange="inputNumberFormat(this); save_el('<{$product_cms_unit_cost.cc_no}>','f_sup_price', this);" class="input_type_money" style="width:115px;" value="<{$product_cms_unit_cost.sup_price}>" <{if !$is_editable}>disabled<{/if}>>
							<{/if}>
						</b>
					</td>
					<td style="text-align: right;"> <!-- 이전대비 -->
						<{if $product_cms_unit_cost.prev_price}>
							<{if $product_cms_unit_cost.prev_price > 0}>
								<span style="color: red; font-weight: bold;">▲ <{if $is_usd_price}>$<{else}>₩<{/if}><{$product_cms_unit_cost.prev_price|number_format:2}></span>
							<{elseif $product_cms_unit_cost.prev_price < 0}>
								<span style="color: blue; font-weight: bold;">▼ <{if $is_usd_price}>$<{else}>₩<{/if}><{$product_cms_unit_cost.prev_price_text|number_format:2}></span>
							<{/if}>
						<{elseif $product_cms_unit_cost.prev_price == 0}>

						<{else}>
							<{$product_cms_unit_cost.prev_price}>
						<{/if}>
					</td>
					<td style="text-align: right;"> <!-- 등락률 -->
						<{if $product_cms_unit_cost.prev_per}>
							<{if $product_cms_unit_cost.prev_per > 0}>
								<span style="color: red; font-weight: bold;">▲ +<{$product_cms_unit_cost.prev_per}>%</span>
							<{elseif $product_cms_unit_cost.prev_per < 0}>
								<span style="color: blue; font-weight: bold;">▼ <{$product_cms_unit_cost.prev_per}>%</span>
							<{/if}>
						<{elseif $product_cms_unit_cost.prev_per == 0}>

						<{else}>
							<{$product_cms_unit_cost.prev_per}>
						<{/if}>
					</td>
					<td class="text-left">
						<textarea name="memo" class="form-control" style="width: 98%; font-size: 12px; padding: 0.3rem;" onchange="save_el('<{$product_cms_unit_cost.cc_no}>','memo', this);"><{$product_cms_unit_cost.memo}></textarea>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="10">데이터가 없습니다.</td>
				</tr>
			<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        var parts = str.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
    }

    //콤마풀기
    function uncomma(str) {
        if(str) {
            str = "" + str.replace(/,/gi, ''); // 콤마 제거
            str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        }
        return (parseFloat(str));
    }

    function isInteger(number)  {
        return number % 1 === 0;
    }

	function inputUsdFormat(obj)
	{
		var usd_price = parseFloat(uncomma(obj.value)).toFixed(2);

		obj.value = comma(usd_price);
	}

    function vat_tax_calculate(obj)
    {
        var amount  	= uncomma(obj.value);
        var tax_ratio 	= 10;

        if (!isNaN(amount))
        {
            var amountTax	= parseFloat(amount * (tax_ratio / 100));
            var amountTotal = parseFloat(amount) + parseFloat(amountTax);

			amount = parseFloat(amount).toFixed(2);
			amountTotal = parseFloat(amountTotal).toFixed(2);

            $("#sup_price").val(comma(amount));
            $("#sup_price_vat").val(comma(amountTotal));
        }else{
            $("#sup_price").val('');
            $("#sup_price_vat").val('');
        }
    }

    function vat_tax_calculate_reverse(obj)
    {
        var amount  	= uncomma(obj.value);
        var tax_ratio 	= 10;

        if (!isNaN(amount)) {
            var amountTax 	= parseFloat(amount / ((100 + tax_ratio) / 10));
            var amountTotal = parseFloat(amount) - parseFloat(amountTax);

			amount = parseFloat(amount).toFixed(2);
			amountTotal = parseFloat(amountTotal).toFixed(2);

            $("#sup_price").val(comma(amountTotal));
            $("#sup_price_vat").val(comma(amount));

        }else{
            $("#sup_price").val('');
            $("#sup_price_vat").val('');
        }
    }

    function addUnitCost()
	{
        eval("var f=document.getElementById('add_unit_cost_frm');");

        if (!f.sup_price.value) {
            alert("공급단가(VAT 별도)를 입력해 주세요.");
            return false;
        }

        if (!f.sup_price_vat.value) {
            alert("공급단가(VAT 포함)를 입력해 주세요.");
            return false;
        }

        if (!f.cost_date.value) {
            alert("단가시작일을 입력해주세요");
            return false;
        }

        f.submit();
	}

	function save_el(cc_no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'memo' || proc == 'asset_state')) { // 메모
			$.post("product_cms_unit_cost_view.php", {cc_no : cc_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
</script>
</body>
</html>
