<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
    <form name="search_form" action="product_list.php" method="get" enctype="multipart/form-data" style="margin: 10px 0;" autocomplete="off">
        <input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
        <input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
        <input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
        <input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

        <h2 class="title" style="margin-bottom: 10px;">
            <span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
            <{$nav_title}>
        </h2>

        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <span class="name_tit">Display</span>
                    <select name="sch_display" id="" class="select_type2" style="margin-right:20px">
                        <option value="">::전체::</option>
                        <{foreach from=$display_option key=key item=label}>
                        <option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
                        <{/foreach}>
                    </select>

                    <span class="name_tit">그룹</span>
                    <select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
                        <option value="">::전체::</option>
                        <{foreach from=$prd_g1_list key=key item=label}>
                        <option value="<{$key}>" <{if $sch_prd_g1 == $key}>selected<{/if}>><{$label}></option>
                        <{/foreach}>
                    </select>
                    >
                    <select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
                        <option value="">::전체::</option>
                        <{foreach from=$prd_g2_list key=key item=prd_g2}>
                        <option value="<{$key}>" <{if $sch_prd_g2 == $key}>selected<{/if}>><{$prd_g2.k_name}></option>
                        <{/foreach}>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="name_tit">업무명</span>
                    <input type="text" name="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" style="width: 200px;margin-right:20px;" onkeydown="javascript:if(event.keyCode == 13)searchList();">

                    <span class="name_tit">업무요청 관리자</span>
                    <input type="text" name="sch_manager" value="<{$sch_manager}>" class="input_type5" style="width: 100px; margin-right:20px;" onkeydown="javascript:if(event.keyCode == 13)searchList();">

                    <span class="name_tit">스케줄(캘린더)</span>
                    <select name="sch_schedule" id="sch_schedule" class="select_type2" style="margin-right:20px;">
                        <option value="">::전체::</option>
                        <{foreach from=$schedule_option key=key item=label}>
                        <option value="<{$key}>" <{if $key == $sch_schedule}>selected<{/if}>><{$label}></option>
                        <{/foreach}>
                    </select>

                    <span class="name_tit">입/출금 설정</span>
                    <select name="sch_wd_dp_state" id="sch_wd_dp_state" class="select_type2" style="margin-right:20px;">
                        <option value="">::전체::</option>
                        <{foreach from=$wd_dp_option key=key item=label}>
                        <option value="<{$key}>" <{if $key == $sch_wd_dp_state}>selected<{/if}>><{$label}></option>
                        <{/foreach}>
                    </select>

                    <button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="table_list_style">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr style="background: white;">
                <td colspan="10">
                    <select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
                        <{foreach from=$page_type_option item=page_type}>
                        <option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
                        <{/foreach}>
                    </select>
                    <button onclick="sort_search('work_cnt')" style="float: right; margin-top: 10px;">총 업무수 <{if $ord_type == 'work_cnt'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
                    <span style="padding: 10px 5px; float: right;">|</span>
                    <button onclick="sort_search('work_date')" style="float: right; margin-top: 10px;">마지막 작성일 <{if $ord_type == 'work_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
                </td>
            </tr>
            <tr>
                <th class="first" style="min-width:50px; width:50px;height: 50px;">prd_no</th>
                <th style="min-width:50px; width:50px;">Display</th>
                <th style="min-width:240px; width:240px;">그룹1 > 그룹2<br/>업무명</th>
                <th style="min-width:300px; width:300px;">업무소개</th>
                <th style="min-width:240px; width:240px;">검색어</th>
                <th style="min-width:90px; width:90px;">MY QUICK SET<br/>와이즈 업무<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
                <th style="min-width:100px; width:100px;">업무요청<br/>관리자</th>
                <th style="min-width:100px; width:100px;">스케줄<br/>캘린더</th>
                <th style="min-width:100px; width:100px;">입/출금 설정</th>
                <th style="min-width:100px; width:100px;">마지막 작성일<br/>(총 업무수)</th>
            </tr>
            </thead>
            <tbody>
                <{if $total_num == 0}>
                    <tr>
                        <td colspan="10"> 등록된 자료가 없습니다.</td>
                    </tr>
                <{else}>

                    <{foreach from=$product_list item=product}>
                    <tr <{if $product.display=="OFF"}>style="background-color: #999;"<{/if}>>
                        <td class="first"> <!-- prd_no -->
                            <{$product.prd_no}>
                        </td>
                        <td <{if $product.display=="ON"}>class="colorR"<{/if}>> <!-- Display -->
                            <{$product.display}>
                        </td>
                        <td class="text-left"> <!-- 그룹1 >  그룹2 상품명 -->
                            <{$product.k_prd1_name}> > <{$product.k_prd2_name}><br/>
                            <a href="product_regist.php?no=<{$product.prd_no}>&<{$search_url}>" style="font-size: 16px; font-weight: bold;"><{$product.title}></a>
                            <a href="work_list.php?sch_prd_g1=<{$product.k_prd1}>&sch_prd_g2=<{$product.k_prd2}>&sch_prd=<{$product.prd_no}>" target="_blank">
                                <img src="./images/icon/new_win_icon.png" style="cursor: pointer;" alt="링크">
                            </a>
                        </td>
                        <td class="alignL description"> <!-- 업무소개 -->
                            <textarea name="f_description" id="f_description" cols="15" rows="3" class="textarea_type4_readonly" style="width: 290px;" readonly><{$product.description}></textarea>
                        </td>
                        <td style="text-align: left; padding-left: 10px;">
                            <{$product.keyword}>
                        </td>
                        <td style="min-width:90px; width:90px; font-size: 30px;">
                            <span class="<{$product.prd_no}>_quick_prd nav-star-wrapper <{if $product.quick_prd }>nav-star-active<{/if}>" onclick="proc_quick_prd('<{$product.prd_no}>', this)" attr-mode="<{if $product.quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;"></span>
                        </td>
                        <td>
                            <{if $product.task_staff_type == '2'}>
                                (전체)
                            <{else}>
                                <{if $product.task_staff}>
                                    <{foreach from=$product.task_staff item=s_name}>
                                        <{$s_name}><br/>
                                    <{/foreach}>
                                <{/if}>
                            <{/if}>
                        </td>
                        <td>
                            <{$product.is_schedule}>
                        </td>
                        <td>
                            <{$product.state_name}>
                        </td>
                        <td>
                            <{if $product.work_cnt > 0}>
                                <{$product.work_date}><br/>
                                (<{$product.work_cnt|number_format:0}>건)
                            <{/if}>
                        </td>
                    </tr>
                    <{/foreach}>
                <{/if}>
                <tr>
                    <td colspan=10 class="paging_wrap">
                        <div class="paging_wrap">
                            <{$pagelist}>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=10 class="list_button">
                        <div class="left_wrap">
                            <button class="btn_style1" onclick="location.href='product_regist.php?<{$search_url}>';"><span>업무 등록하기</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //product_content -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#sch_prd_g2").remoteChained({
            parents: "#sch_prd_g1",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_prd").remoteChained({
            parents: "#sch_prd_g2",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
            loading: "로딩중..",
            clear: true
        });
    });

    function searchList()
    {
        document.search_form.submit();
    }

    // MY QUICK SET
    function proc_quick_prd(prd_no, obj)
    {
        var x        = $(obj).position();
        var status   = $(obj).attr('attr-mode');
        var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
        var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


        if(confirm(conf_msg))
        {
            var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

            $.post("ajax_proc_data.php", {
                process: process,
                quick_prd: prd_no,
                quick_type: "work"
            }, function (data) {
                var result_data = JSON.parse(data);
                if(result_data.result)
                {
                    if(result_data.status == 'add'){
                        $(obj).addClass("nav-star-active");
                    }else{
                        $(obj).removeClass("nav-star-active");
                    }
                    $(obj).attr('attr-mode', result_data.status);
                    $(obj).html(html);
                    d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
                    sort_quick_prd();
                    open_quick_prd();
                }
            });
        }
    }

    function sort_quick_prd()
    {
        $.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "work"}, function(result){
        });
    }

    function open_quick_prd()
    {
        window.open('popup/quick_prd_set.php','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
    }

    function sort_search(type)
    {
        var f = document.forms['search_form'];
        var ord_type_by = $("#ord_type_by").val();

        $("#ord_type").val(type);

        if(ord_type_by == '1'){
            $("#ord_type_by").val("");
        }else if(ord_type_by == '2'){
            $("#ord_type_by").val("1");
        }else{
            $("#ord_type_by").val("2");
        }

        f.submit();
    }
</script>

</body>
</html>
