<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form{max-width: 1500px;}
	.search_form label{margin: 0 10px 0 0;}
	.search_form .form-control.date-picker{width: 80px;}
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;padding: 0.25rem;}
	.table_list_style table{margin-top: 40px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle; height: 30px;}
	.table_list_style table tbody td{height: 30px; line-height:30px; vertical-align: middle;text-align: center;}
	.table_list_style table tbody td .form-control{font-size: 12px; width: 98%; padding: 1px;}
	table.sub-total-wrapper tbody tr.sub-wrapper td{padding: 2px 5px;}
	.save_sub_button{float: right;width: 240px;background: #333;color: #FFF;font-weight: bold;letter-spacing: 15px;height: 30px;text-align: center;padding-left: 14px;margin-left: 10px;}
	.save_sub_button:disabled{background: #DDD;}
	.custom-combobox{width: 98%;}
</style>

<div class="admin_content">

	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="product_cms_unit_subcontract_list.php" class="search_form form-inline" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group" style="margin-top: 5px; width: 1400px;">
			<label for="sch_no">no</label>
			<input type="text" name="sch_no" id="sch_no" class="form-control" value="<{$sch_no}>" style="width: 60px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_brand_name">업체명(브랜드명)</label>
			<input type="text" name="sch_brand_name" id="sch_brand_name" class="form-control" value="<{$sch_brand_name}>" style="width: 120px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_sup_c_no" style="margin-left: 10px;">공급업체</label>
			<select id="sch_sup_c_no" name="sch_sup_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sup_company_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_sup_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_option_name">구성품목명</label>
			<input type="text" name="sch_option_name" id="sch_option_name" class="form-control" value="<{$sch_option_name}>" style="width:200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_is_subcontract" style="margin-left: 10px;">사급</label>
			<select id="sch_is_subcontract" name="sch_is_subcontract" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$is_exist_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_is_subcontract == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_sub_sup_c_no" style="margin-left: 10px;">사급::공급업체</label>
			<select id="sch_sub_sup_c_no" name="sch_sub_sup_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$sub_sup_company_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_sub_sup_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_sub_option_name">사급::구성품목명</label>
			<input type="text" name="sch_sub_option_name" id="sch_sub_option_name" class="form-control" value="<{$sch_sub_option_name}>" style="width:200px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">검색</button>
		</div>
	</form>
	<div class="table_list_style" style="margin-top: 20px;">
		<table class="table table-striped table-bordered" style="margin: 0; width: auto;">
			<colgroup>
				<col width="60px;">
				<col width="120px;">
				<col width="240px;">
				<col width="80px;">
				<col width="300px;">
				<col width="200px;">
				<col width="80px;">
				<col width="300px;">
				<col width="80px;">
			</colgroup>

			<thead>
				<tr>
					<td colspan="9">
						<div style="float: right;">
							<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
								<{foreach from=$page_type_option item=page_type}>
								<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">no</th>
					<th scope="col" rowspan="2">업체명/브랜드명</th>
					<th scope="col" rowspan="2">공급업체</th>
					<th scope="col" rowspan="2">구분</th>
					<th scope="col" rowspan="2">구성품목명</th>
					<th scope="col" colspan="4">사급</th>
				</tr>
				<tr>
					<th scope="col">공급업체</th>
					<th scope="col">구분</th>
					<th scope="col">구성품목명</th>
					<th scope="col">수량</th>
				</tr>
			</thead>
			<tbody>
				<{if $unit_subcontract_list}>
					<{foreach from=$unit_subcontract_list item=unit_subcontract}>
						<tr <{if $unit_subcontract.display == '2'}>style="background: #999 !important;"<{/if}>>
							<td class="first"><{$unit_subcontract.no}></td>
							<td class="text-left"><{$unit_subcontract.brand_name}></td>
							<td class="text-left"><{$unit_subcontract.sup_c_name}></td>
							<td class="text-center"><{$unit_subcontract.type_name}></td>
							<td class="text-left">
								<{$unit_subcontract.option_name}>
								<{if $unit_subcontract.display == '2'}>
									[OFF]
								<{else}>
									<button type="button" onclick="addSubcontractData('<{$unit_subcontract.no}>')" style="float: right;padding: 2px 5px;background: #333;color: white;font-weight: bold;font-size: 18px;line-height: 18px;margin-right: 4px;">+</button>
								<{/if}>
							</td>
							<td colspan="4" style="padding: 0;">
								<form name="apply_subcontract_frm<{$unit_subcontract.no}>" id="apply_subcontract_frm<{$unit_subcontract.no}>" class="list_form" method="post" action="product_cms_unit_subcontract_list.php" style="">
									<input type="hidden" name="process">
									<input type="hidden" name="search_url" value="<{$search_url}>">
									<input type="hidden" name="no" value="<{$unit_subcontract.no}>">
									<input type="hidden" name="attr_key" id="sub-attr-key-<{$unit_subcontract.no}>" value="<{$unit_subcontract.subcontract_cnt}>">
									<table class="sub-total-wrapper sub-total-wrapper-<{$unit_subcontract.no}>" style="margin: 0;">
										<colgroup>
											<col width="200px;">
											<col width="80px;">
											<col width="300px;">
											<col width="80px;">
										</colgroup>
										<tbody>
										<{if $unit_subcontract.subcontract_list}>
											<{assign var="sub_idx" value=1}>
											<{foreach from=$unit_subcontract.subcontract_list item=subcontract_data}>
												<tr class="sub-wrapper sub-wrapper-<{$unit_subcontract.no}>-<{$unit_idx}>">
													<td class="text-left"><{$subcontract_data.sub_sup_c_name}></td>
													<td class="text-center"><{$subcontract_data.sub_type_name}></td>
													<td class="text-left"><{$subcontract_data.sub_unit_name}></td>
													<td class="text-center"><{$subcontract_data.qty}></td>
												</tr>
												<{assign var="sub_idx" value=$sub_idx+1}>
											<{/foreach}>
										<{/if}>
										</tbody>
									</table>
									<div style="overflow: hidden;">
										<button type="button" class="save_sub_button f_sub_button_<{$unit_subcontract.no}>" onclick="saveSubData('<{$unit_subcontract.no}>')" style="display: none;">저장</button>
									</div>
								</form>
							</td>
						</tr>
					<{/foreach}>
					<tr>
						<td colspan="9" class="paging_wrap">
							<div class="paging_wrap"><{$pagelist}></div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="9" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

<select name="copy_sup_company" class="copy_sup_company" style="display: none;">
	<option value="">::선택::</option>
	<{foreach from=$sub_sup_company_list key=key item=label}>
	<option value="<{$key}>"><{$label}></option>
	<{/foreach}>
</select>

<script type="text/javascript">
	function searchList(){
		document.search_form.submit();
	}

	function normal_search()
	{
		var f 			= document.forms['search_form'];
		var ord_page	= $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function addSubcontractData(no)
	{
		var attrKey = Number($("#sub-attr-key-"+no).val()) + 1;
		var typeKey = no + "-" + attrKey;
		var sup_company_html = $(".copy_sup_company").html();

		var addHtml =
				"<tr class='sub-wrapper sub-wrapper-"+ typeKey +"'>"
				+ "	<td>"
				+ "		<select name='f_sup_company_" + no + "[]' class='form-control f_sup_company f_sup_company_" + no + "' id='f_sup_company-"+ typeKey +"' required>"
		;

		addHtml += sup_company_html;
		addHtml += "	</select>"
				+ "	</td>"
				+ "	<td>"
				+ "		<select name='f_sub_type_" + no + "[]' class='form-control' id='f_sub_type-"+ typeKey +"'>"
				+ "			<option value='2'>부속품</option>"
				+ "		</select>"
				+ "	</td>"
				+ "	<td>"
				+ "		<select name='f_sub_option_" + no + "[]' class='form-control f_sub_option f_sub_option_" + no + "' id='f_sub_option-"+ typeKey +"' required>"
				+ "			<option value=''>::선택::</option>"
				+ "		</select>"
				+ "	</td>"
				+ "	<td>"
				+ "		<input type='number' name='f_qty_" + no + "[]' class='form-control f_qty text-center' id='f_qty-"+ typeKey +"' value='1'>"
				+ "	</td>"
				+ "</tr>"
		;

		$("#sub-attr-key-"+no).val(attrKey);
		$('.sub-total-wrapper-'+no+" tbody").append(addHtml);
		$(".f_sub_button_"+no).show();

		$("#f_sup_company-"+no+"-"+attrKey).combobox();

		addRemoteChained(no);
	}

	function addRemoteChained(prd_unit)
	{
		$(".f_sub_option_"+prd_unit).each(function (i, val) {
			$(this).remoteChained({
				parents: $(".f_sup_company_"+prd_unit)[i],
				url: "/v1/api/sup_company.unit.json.php?parent_data=f_sup_company_"+prd_unit,
				loading: "로딩중..",
				clear: true
			});

			$(this).combobox();
		});
	}

	function saveSubData(no)
	{
		var result 	 = true;
		var chk_unit = "";
		var dup_unit = [];

		if(result){
			$.each($(".f_sup_company_"+no), function(idx, item){
				if(!$(item).val()){
					alert("공급업체를 선택해주세요.");
					result = false;
				}
			});
		}

		if(result) {
			$.each($(".f_sub_option_"+no), function(idx, item){
				if(!$(item).val()){
					alert("구성품목을 선택해주세요.");
					result = false;
				}else{
					chk_unit += (chk_unit != "") ? ","+$(item).val() : $(item).val();
					if(dup_unit.includes($(item).val())){
						alert("중복된 구성품목 입니다.");
						result = false;
					}else{
						dup_unit.push($(item).val())
					}
				}
			});
		}

		if(result) {
			$.ajax({
				url: "/v1/api/sub_unit.check.api.php",
				type: 'POST',
				data: {prd_unit: no, chk_unit: chk_unit}
			}).done(function (data) {
				var jsonData = JSON.parse(data);
				var result = jsonData.result;
				var msg = jsonData.msg;

				if(result){
					var f = document.forms['apply_subcontract_frm' + no];
					f.process.value = "add_unit_subcontract";
					f.submit();
				}else{
					alert(msg);
					return false;
				}
			});
		}
	}
</script>
</body>
</html>
