<{include file="inc/iframe_navibar.html"}>

<div class="admin_content_popup" style="min-width:490px;">
	<form name="form_sms" id="form_sms" method="post" action="" onsubmit="return sms_send(this);">
		<input type="hidden" name="title" value="<{$title}>">
		<div class="table_list_style">
			<h2 class="title_kind" style="font-weight: bold; font-size: 18px;"><{$title}></h2>
			<div style="padding-top:10px;text-align:center">
				○ 알림 문자 내용
				<br>
				<ul class="handler-ul">
					<textarea name="sms_msg" style="width:170px;height:100px"><{$sms_text}></textarea>
					<li style="margin-left:100px"><span class="bytes">0</span> / 90 bytes</li>
				</ul>
				<br>
				○ 수신자
				<br>
				<textarea name="receiver_list" style="width:170px;height:150px;" wrap="hard"><{foreach from=$init_receiver_list item=hp}>
<{$hp}>
<{/foreach}></textarea>
				<br>
				<br>
				○ 발신자
				<br>
				<input type="text" name="send_phone" style="width:170px; height: 25px;" value="<{$init_caller}>" />
				<div style="padding-top:10px">
					<button type="submit" class="btn_small">문자 발송</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- //admin_content_popup -->

<script type="text/javascript">
	$(function(){
		$('textarea[name=sms_msg]').keyup(function(){
			bytesHandler(this);
		});

		bytesHandler($('textarea[name=sms_msg]'));
	});

	function getTextLength(str) {
		var len = 0;
		for (var i = 0; i < str.length; i++) {
			if (escape(str.charAt(i)).length == 6) {
				len++;
			}
			len++;
		}
		return len;
	}

	function bytesHandler(obj){
		var text = $(obj).val();
		var len = getTextLength(text);
		$('span.bytes').text(len);

		if (len > 90)
			$('span.bytes').css('color', 'red');
		else
			$('span.bytes').css('color', 'black');
	}

	function sms_send(f)
	{
		var obj = $('textarea[name=sms_msg]');
		var len = getTextLength($(obj).val());
		if (confirm('문자 메시지를 발송하시겠습니까?')) {
			if (len > 90) {
				if (confirm('글자수 초과로 MMS로 발송되며 건당 45.5원이 부과됩니다. 그래도 발송하시겠습니까?'))
					return true;
				else
					return false;
			} else {
				return true;
			}
		} else {
			return false;
		}
	}
</script>
</body>
</html>