<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.project-list-wrapper thead th{vertical-align: middle;}
	.form-control{font-size: 12px; margin-right: 15px}
	.form-group label{margin-right: 10px;}
	.input_type5{width: 170px !important; padding-left: 5px !important;}
	.form-group .custom-combobox-toggle{right: 20px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<!-- 사업리스트 -->
	<div class="project-list-wrapper" style="clear: both; max-width: 1260px;">
		<div style="margin: 20px 0;">
			<form method="get" name="search_form" action="project_list.php" class="form-inline" autocomplete="off">
				<input type="hidden" name="ori_ord_type" id="ori_ord_type" value="<{$ord_type}>">
				<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
				<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
				<input type="hidden" name="sch_ps_display" id="sch_ps_display" value="<{$sch_ps_display}>">
				<div class="form-group">
					<label for="sch_pj_no">NO</label>
					<input type="text" id="sch_pj_no" class="form-control" name="sch_pj_no" value="<{$sch_pj_no}>" style="width: 60px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

					<label for="sch_work_state">진행상태</label>
					<select id="sch_work_state" name="sch_work_state" class="form-control">
						<option value="">::전체::</option>
						<{foreach from=$work_state_option key=work_state item=data}>
						<option value="<{$work_state}>" style="color: <{$data.color}>;" <{if $sch_work_state == $work_state}>selected<{/if}>><{$data.label}></option>
						<{/foreach}>
					</select>

					<label for="sch_my_c_no">계열사</label>
					<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
						<option value="">::전체::</option>
						<{foreach from=$my_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label.c_name}></option>
						<{/foreach}>
					</select>

					<label for="sch_pj_name">내부통용_사업명</label>
					<input type="text" id="sch_pj_name" name="sch_pj_name" value="<{$sch_pj_name}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

					<label for="sch_contract_type">계약형태</label>
					<select id="sch_contract_type" name="sch_contract_type" class="form-control">
						<option value="">::전체::</option>
						<{foreach from=$contract_type_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_contract_type == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<label for="sch_state">구분</label>
					<select id="sch_state" name="sch_state" class="form-control">
						<option value="">::전체::</option>
						<{foreach from=$state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				</div>
				<div class="form-group">
					<label for="sch_state">운영 소속부서</label>
					<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
						<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<label for="sch_manager">담당자</label>
					<input type="text" id="sch_manager" name="sch_manager" value="<{$sch_manager}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

					<label style="margin-left: 10px;">외부 투입인력 분야</label>
					<div class="form-group" style="margin-right: 10px;">
						<{foreach from=$resource_type_option key=key item=label}>
						<input type="checkbox" name="sch_resource_type[]" id="sch_resource_type_<{$key}>" value="<{$key}>" <{if $sch_resource_type && in_array($key, $sch_resource_type)}>checked<{/if}>>
						<label for="sch_resource_type_<{$key}>" style="cursor: pointer;"><{$label}></label>
						<{/foreach}>
					</div>

					<label for="sch_cal_state">정산여부</label>
					<select id="sch_cal_state" name="sch_cal_state" class="form-control">
						<option value="">::전체::</option>
						<{foreach from=$cal_state_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_cal_state == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<label for="sch_achievements">주요성과</label>
					<input type="text" id="sch_achievements" name="sch_achievements" value="<{$sch_achievements}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

					<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">검색</button>
				</div>
			</form>

		</div>
		<table class="table table-striped table-bordered" style="margin-top: 5px; table-layout: fixed; max-width: 1260px;">
			<colgroup>
				<col width="50px;">
				<col width="100px;">
				<col width="165px;">
				<col width="240px;">
				<col width="120px;">
				<col width="80px;">
				<col width="100px;">
				<col width="100px;">
				<col width="60px;">
				<col width="85px;">
				<col width="85px;">
				<col width="240px;">
				<col width="60px;">
				<col width="40px;">
				<col width="60px;">
				<col width="60px;">
				<col width="60px;">
				<col width="60px;">
				<col width="100px;">
				<col width="60px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="13" style="padding: 5px;">
						<span style="display: inline-block; float: left; line-height: 28px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					</td>
					<td colspan="7" style="line-height: 30px; text-align: left;">
						<button onclick="sort_search('satisfaction')">참가자 만족도순<{if $ord_type == 'satisfaction'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="padding: 0px 5px;">|</span>
						<button onclick="sort_search('participants')">참가인원 순<{if $ord_type == 'participants'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="padding: 0px 5px;">|</span>
						<button onclick="sort_search('expected_sales')">예상 매출액순<{if $ord_type == 'expected_sales'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<span style="padding: 0px 5px;">|</span>
						<button onclick="sort_search('pj_e_date')">사업기간(종료)순<{if $ord_type == 'pj_e_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					</td>
				</tr>
				<tr>
					<th scope="col" rowspan="2">no</th>
					<th scope="col" rowspan="2">진행상태</th>
					<th scope="col" rowspan="2">계열사</th>
					<th scope="col" rowspan="2">내부통용_사업명</th>
					<th scope="col" rowspan="2">수요기관</th>
					<th scope="col" rowspan="2">계약형태</th>
					<th scope="col" rowspan="2">예상매출액</th>
					<th scope="col" rowspan="2">지출액</th>
					<th scope="col" rowspan="2">구분</th>
					<th scope="col" colspan="2">사업기간</th>
					<th scope="col" rowspan="2">운영 소속부서</th>
					<th scope="col" rowspan="2">담당자</th>
					<th scope="col" colspan="2">내부 투입인력</th>
					<th scope="col" rowspan="2">정산여부</th>
					<th scope="col" rowspan="2">참가자<br/>만족도</th>
					<th scope="col" rowspan="2">참가인원</th>
					<th scope="col" rowspan="2">주요성과</th>
					<th scope="col" rowspan="2">작성자</th>
				</tr>
				<tr>
					<th scope="col">시작</th>
					<th scope="col">종료</th>
					<th scope="col">인원</th>
					<th scope="col">리소스</th>
				</tr>
			</thead>
			<tbody>
			<{if $total_num > 0}>
				<{foreach from=$project_list item=project}>
					<form action="project_list.php" name="pj_frm_<{$project.pj_no}>" method="post">
						<input type="hidden" name="pj_no" value="<{$project.pj_no}>">
						<input type="hidden" name="process" value="">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<tr>
							<td class="text-center"><!-- NO -->
								<{$project.pj_no}>
							</td>
							<td class="text-center"><!-- 진행상태 -->
								<select name="work_state" onchange="save_element('<{$project.pj_no}>','work_state')" class="form-control work_state_<{$project.pj_no}>" style="color: <{$project.work_state_color}>; margin: 0 auto; display: table; font-size: 11px; padding: 5px;" <{if !$is_admin && $project.team != $session_team}>disabled<{/if}>>
									<{foreach from=$work_state_option key=work_state item=data}>
									<option value="<{$work_state}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $project.work_state == $work_state}>selected<{/if}>><{$data.label}></option>
									<{/foreach}>
								</select>
							</td>
							<td><!-- 계열사 -->
								<{$project.my_c_name}>
							</td>
							<td style="font-weight: bold; font-size: 13px;"><!-- 내부통용_사업명 -->
								<a href="project_regist.php?pj_no=<{$project.pj_no}>&<{$search_url}>">
									<{$project.pj_name}>
								</a>
							</td>
							<td><!-- 수요기관 -->
								<{$project.agency}>
							</td>
							<td class="text-center"><!-- 계약형태 -->
								<{$project.contract_type_name}>
							</td>
							<td class="text-right"><!-- 예상매출액 -->
								<{$project.expected_sales|number_format:0}>
							</td>
							<td class="text-right" style="color: red;"><!-- 지출액 -->
								<{$project.total_price|number_format:0}>
							</td>
							<td class="text-center"><!-- 구분 -->
								<span style="color: <{$project.state_color}>"><{$project.state_name}></span>
							</td>
							<td class="text-center"><!-- 시작 -->
								<{$project.pj_s_date}>
							</td>
							<td class="text-center"><!-- 종료 -->
								<{$project.pj_e_date}>
							</td>
							<td><!-- 운영 소속부서 -->
								<{if $project.department_name}>
									<{$project.department_name}> > <{$project.team_name}>
								<{else}>
									<{$project.team_name}>
								<{/if}>
							</td>
							<td class="text-center"><!-- 담당자 -->
								<{$project.manager_name}>
							</td>
							<td class="text-center"><!-- 인원 -->
								<{$project.total_pj_staff}>
							</td>
							<td class="text-center"><!-- 리소스 -->
								<{$project.total_pj_resource}>%
							</td>
							<td class="text-center"><!-- 정산여부 -->
								<span style="color: <{$project.cal_state_color}>"><{$project.cal_state_name}></span>
							</td>
							<td class="text-center"><!-- 참가자 만족도 -->
								<{$project.satisfaction}>
							</td>
							<td class="text-center"><!-- 참가인원 -->
								<{$project.participants}>
							</td>
							<td class="text-left"><!-- 주요성과 -->
								<{$project.achievements}>
							</td>
							<td class="text-center"><!-- 작성자 -->
								<{$project.req_s_name}>
							</td>
						</tr>
					</form>
				<{/foreach}>
			<{else}>
			<tr>
				<td colspan="17" class="text-center">데이터가 없습니다</td>
			</tr>
			<{/if}>
			<tr>
				<td colspan=" 20" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			<{if $session_team_parent == '00251' || permissionNameCheck($session_permission, "마스터관리자")}> <!-- 입찰/마케팅 파트 or 마스터관리자 -->
				<tr>
					<td colspan="20">
						<button type="button" onclick="location.href='excel_project_list.php'" class="btn btn-dark font-weight-bold" style="float: left; font-size: 13px; line-height: 25px;"><span>엑셀 다운로드</span></button>
						<button type="button" onclick="location.href='project_regist.php'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px; line-height: 25px;"><span>사업 등록하기</span></button>
					</td>
				</tr>
			<{/if}>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
        $("#sch_team").combobox();
    });

	function save_element(pj_no, target)
	{
		var f = document.forms['pj_frm_' + pj_no];

		if(target == 'work_state') {
			f.process.value 	= target;
		}else{
			return false;
		}

		f.submit();
	}

    function searchList(){
        document.search_form.submit();
    }

	function sort_search(type)
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();
		var ori_type 	= $("#ori_ord_type").val();

		$("#ord_type").val(type);

		if(ori_type == type)
		{
			if(ord_type_by == '1'){
				$("#ord_type_by").val("2");
			}else if(ord_type_by == '2'){
				$("#ord_type_by").val("");
			}else{
				$("#ord_type_by").val("1");
			}
		}

		f.submit();
	}
</script>
</body>
</html>
