<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table{word-break: break-all;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom:10px">● 운영자 만족도평가 리스트</h2>

	<table class="table table-striped table-bordered" style="margin-top: 20px; width: auto; table-layout: fixed;">
		<colgroup>
			<col width="60px;">
			<col width="100px;">
			<col width="100px;">
			<col width="100px;">
			<col width="100px;">
			<col width="100px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">NO</th>
				<th scope="col">업체명<br/>(성명)</th>
				<th scope="col">투입분야</th>
				<th scope="col">만족도</th>
				<th scope="col">평가자</th>
				<th scope="col">평가일</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
		<{foreach from=$partner_evaluation_list item=partner_evaluation}>
		<tr>
			<td class="text-center"><!-- NO -->
				<{$partner_evaluation.pj_ere_no}>
			</td>
			<td class="text-center"><!-- 업체명<br/>(성명) -->
				<{$partner_evaluation.pj_c_name}>
			</td>
			<td class="text-center"><!-- 투입분야 -->
				<{$partner_evaluation.pj_c_type_name}>
			</td>
			<td class="text-center"><!-- 만족도 -->
				<{$partner_evaluation.score}>
			</td>
			<td class="text-center"><!-- 평가자 -->
				<{$partner_evaluation.req_s_name}>
			</td>
			<td class="text-center"><!-- 전체 횟수 -->
				<{$partner_evaluation.regdate}>
			</td>
		</tr>
		<{/foreach}>
		<tr>
			<td colspan="6>" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		<{else}>
		<tr>
			<td colspan="6" class="text-center">데이터가 없습니다</td>
		</tr>
		<{/if}>
		</tbody>
	</table>
</div>
</body>
</html>
