<{include file="inc/iframe_navibar.html"}>

<style type="text/css">

    @media print {
        .noprint {display:none;}
    }

    label{
        margin-bottom: 0;
    }

    .profile-logo-wrapper{
        width: 1040px;
        position: relative;
        margin-bottom: 10px;
    }

    .profile-incu-logo{
        right: 0;
        position: absolute;
        top: 70px;
    }

    #profile_frm{
        font-size: 12px;
        overflow: hidden;
    }

    #profile_frm .profile-label{
        background-color: rgba(119, 119, 119, 1);
        color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 181px;
        text-align: center;
        vertical-align: middle;
        font-weight: bolder;
    }
    #profile_frm .profile-title{font-size: 20px;}
    #profile_frm .profile-input{width: 250px; border: 1px solid #ccc; padding-left: 10px;}
    #profile_frm .profile-span{display: inline-block; width: 249px; padding-left: 10px; border-bottom: 1px solid #ccc;}
    #profile_frm .plus-div{overflow: hidden; clear: both;}
    #profile_frm .plus-div .profile-span{float: left; height: 39px; line-height: 39px;}
    #profile_frm .plus-div .profile-label{float: left; height: 39px;}
    #profile_frm .plus-div .profile-full-span{float: left; padding-left: 10px; display: inline-block; height: 39px; line-height: 39px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; width: 680.3px;}
    #profile_frm .mentor-input .plus-div{border-bottom: 1px solid #ccc;height: 39px;width: 862px;border-right: 1px solid #ccc;padding-left: 10px;line-height: 39px;}
    #profile_frm .etc-input .plus-div{border-bottom: 1px solid #ccc;height: 39px;width: 862px;border-right: 1px solid #ccc;padding-left: 10px;line-height: 39px;}

    #profile_frm .profile-img-wrapper{
        background-color: rgba(119, 119, 119, 1);
        border: 1px solid #ccc;
    }

    #profile_frm .profile-img-wrapper #profile-img{
        width: 0;
        height: 0;
    }

    #profile_frm .profile-img-wrapper .profile-img-label{
        border: 1px solid #ccc;
        background-color: #FFFFFF;
        color: rgba(119, 119, 119, 1);
        display: table;
        margin: 5px auto;
        width: 170px;
        height: 235px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }

    #profile_frm .profile-img-wrapper .profile-img-label img{
        width: 100%;
    }

    #profile_frm .first{border-left: 1px solid #ccc;}
</style>
<div class="admin_content" id="profile_frm" style="min-width:440px; margin-top: 10px;">
    <div class="profile-logo-wrapper">
        <img class="profile-logo" src="./images/profile_logo.png">
        <img class="profile-incu-logo" src="./images/profile_incu.png">
    </div>
    <h5 style="font-weight: bold; margin-bottom: 10px;">●강사 프로필</h5>
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td rowspan="5" class="profile-img-wrapper">
                    <label class="profile-img-label">
                        <img src="<{if $profile_img_path}>/v1/uploads/<{$profile_img_path}><{else}>#<{/if}>" class="preview-img" accept="image/*" data-type='image' onerror="this.style.display='none'">
                    </label>
                </td>
                <td class="profile-label" style="border-top: 1px solid #ccc;">
                    <label>소속</label>
                </td>
                <td class="profile-input">
                    <{$department}>
                </td>
                <td class="profile-label" style="border-top: 1px solid #ccc;">
                    <label>직위</label>
                </td>
                <td class="profile-input" style="border-right: 1px solid #ccc;">
                    <{$position}>
                </td>
            </tr>
            <tr>
                <td class="profile-label">
                    <label>성명</label>
                </td>
                <td class="profile-input">
                    <{$name}>
                </td>
                <td class="profile-label">
                    <label>생년월일</label>
                </td>
                <td class="profile-input" style="border-right: 1px solid #ccc;">
                    <{$birthday}>
                </td>
            </tr>
            <tr>
                <td class="profile-label">
                    <label>휴대전화</label>
                </td>
                <td class="profile-input">
                    <{$hp}>
                </td>
                <td class="profile-label">
                    <label>유선전화</label>
                </td>
                <td class="profile-input" style="border-right: 1px solid #ccc;">
                    <{$tel}>
                </td>
            </tr>
            <tr>
                <td class="profile-label">
                    <label>주소</label>
                </td>
                <td class="profile-input" colspan="3">
                    <{$zipcode}><br/>
                    <{$address1}><br/>
                    <{$address2}>
                </td>
            </tr>
            <tr>
                <td class="profile-label">
                    <label>이메일</label>
                </td>
                <td class="profile-input" colspan="3">
                    <{$email}>
                </td>
            </tr>
            <tr>
                <td class="profile-label first">
                    <label>전문분야</label>
                </td>
                <td class="profile-input" colspan="4">
                    <{$expertise_label}>
                </td>
            </tr>
            <tr>
                <td class="profile-label first" rowspan="2">
                    <label>학력</label>
                </td>
                <td class="profile-label">
                    <label>대학교</label>
                </td>
                <td class="profile-input">
                    <{$university}>
                </td>
                <td class="profile-label">
                    <label>학위취득명</label>
                </td>
                <td class="profile-input">
                    <{$university_degree}>
                </td>
            </tr>
            <tr>
                <td class="profile-label">
                    <label>대학원</label>
                </td>
                <td class="profile-input">
                    <{$graduate_school}>
                </td>
                <td class="profile-label">
                    <label>학위취득명</label>
                </td>
                <td class="profile-input">
                    <{$graduate_school_degree}>
                </td>
            </tr>
            <tr>
                <td class="profile-label plus-label-wrapper first">
                    <label>경력</label>
                </td>
                <td colspan="4" class="career-wrapper plus-wrapper">
                    <{if $career_list}>
                        <{foreach from=$career_list item=career}>
                        <div class="career-input plus-input">
                            <div class="plus-div">
                                <label class="profile-label">직장명</label>
                                <span class="profile-span"><{$career.lpc_name}></span>
                                <label class="profile-label first">재직기간</label>
                                <span class="profile-span" style="border-right: 1px solid #ccc;"><{$career.lpc_s_period}>~<{$career.lpc_e_period}></span>
                            </div>
                            <div class="plus-div">
                                <label class="profile-label">근무부서</label>
                                <span class="profile-span"><{$career.lpc_department}></span>
                                <label class="profile-label first">직위</label>
                                <span class="profile-span" style="border-right: 1px solid #ccc;"><{$career.lpc_position}></span>
                            </div>
                            <div class="plus-div">
                                <label class="profile-label">담당업무</label>
                                <span class="profile-full-span"><{$career.lpc_work}></span>
                            </div>
                        </div>
                        <{/foreach}>
                    <{/if}>
                </td>
            </tr>
            <tr>
                <td class="profile-label plus-label-wrapper first">
                    <label>취득자격</label>
                </td>
                <td colspan="4" class="license-wrapper plus-wrapper">
                    <{if $license_list}>
                        <{foreach from=$license_list item=license}>
                            <div class="license-input plus-input">
                                <div class="plus-div">
                                    <label class="profile-label">자격명</label>
                                    <span class="profile-span"><{$license.lpl_name}></span>
                                    <label class="profile-label first">발행기관</label>
                                    <span class="profile-span" style="border-right: 1px solid #ccc;"><{$license.lpl_entity}></span>
                                </div>
                            </div>
                        <{/foreach}>
                    <{/if}>
                </td>
            </tr>
            <tr>
                <td class="profile-label plus-label-wrapper first">
                    <label>강의/멘토링</label>
                </td>
                <td colspan="4" class="mentor-wrapper plus-wrapper">
                    <{if $mentor_list}>
                        <{foreach from=$mentor_list item=mentor}>
                            <div class="mentor-input plus-input">
                                <div class="plus-div"><{$mentor.lpe_data}></div>
                            </div>
                        <{/foreach}>
                    <{/if}>
                </td>
            </tr>
            <tr>
                <td class="profile-label plus-label-wrapper first">
                    <label>기타</label>
                </td>
                <td colspan="4" class="etc-wrapper plus-wrapper">
                    <{if $etc_list}>
                    <{foreach from=$etc_list item=etc}>
                    <div class="etc-input plus-input">
                        <div class="plus-div">
                            <{$etc.lpe_data}>
                        </div>
                    </div>
                    <{/foreach}>
                    <{/if}>
                </td>
            </tr>
            <{if $bankbook_path != ""}>
            <tr>
                <td colspan="5">
                    <h3 class="file-title" style="padding-top: 50px;">● 통장사본</h3>
                    <div class="file-wrapper">
                        <img src="/v1/uploads/<{$bankbook_path}>" style="max-width: 1040px;">
                    </div>
                </td>
            </tr>
            <{/if}>
            <{if $license_path != ""}>
            <tr>
                <td colspan="5">
                    <h3 class="file-title" style="padding-top: 50px;">●  <{if $license_type == '3'}>신분증<{else}>사업자등록증<{/if}> 사본</h3>
                    <div class="file-wrapper">
                        <img src="/v1/uploads/<{$license_path}>" style="max-width: 1040px;">
                    </div>
                </td>
            </tr>
            <{/if}>
        </tbody>
    </table>
</div>
<button class="noprint" style="padding: 10px 20px;float: right;background: #333;color: white;font-weight: bold;margin-bottom: 10px;" onclick="window.print();">인쇄하기</button>

</body>
</html>
