<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 860px; min-width: 860px !important; box-sizing: border-box;}
	.proj-form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 840px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	#proj_frm{width: 840px; min-width: 840px !important; max-width: 840px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
	.table .thead-dark th{vertical-align: middle;}
	.iframe_btn{background-color: #343a40; border-color: #454d55; color: white; font-weight: bold; width: 156px; height: 50px;}
	.file_wrapper{float: left; width: 50%; height: 30px; overflow: hidden;}
	.file_wrapper span{display: inline-block; float: left; width: 120px; background: #333; color: white; height: 30px; line-height: 30px; font-weight: bold; text-align: center;}
	.file_wrapper input{float: left; width: 200px; margin-left: 8px;}
</style>

<div class="admin_content" style="float: left;">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px; width: 100%;">● 사업정보 <{$title}></h2>

	<div class="text-right">*필수입력</div>
	<div class="font-weight-bold text-center proj-form-title">사업정보</div>
	<form id="proj_frm" name="proj_frm" action="project_regist.php" method="post" enctype="multipart/form-data" onsubmit="return check_form()">
		<input type="hidden" name="pj_no" id="pj_no" value="<{$pj_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="<{if !!$pj_no}>modify_project<{else}>new_project<{/if}>">
		<input type="hidden" name="folder" value="">
		<input type="hidden" name="file_path" value="">

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 진행상태(필수) -->
			<label for="work_state" class="col-sm-2 col-form-label font-weight-bold" >*진행상태</label>
			<div class="col-sm-10">
				<select id="work_state" name="work_state" class="form-control" style="color: <{$work_state_color}>;" required>
					<{foreach from=$work_state_option key=key item=data}>
					<option value="<{$key}>" style="color: <{$data.color}>;" attr-color="<{$data.color}>" <{if $work_state == $key}>selected<{/if}>><{$data.label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 계열사(필수) -->
			<label for="my_c_no" class="col-sm-2 col-form-label font-weight-bold" >*계열사</label>
			<div class="col-sm-10">
				<select id="my_c_no" name="my_c_no" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$my_company_list key=key item=data}>
					<option value="<{$key}>" <{if $my_c_no == $key}>selected<{/if}>><{$data.c_name}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 내부통용_사업명 -->
			<label for="pj_name" class="col-sm-2 col-form-label font-weight-bold" >*내부통용_사업명</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="pj_name" name="pj_name" placeholder="내부통용_사업명" value="<{$pj_name}>" required>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 계약명 -->
			<label for="contract_name" class="col-sm-2 col-form-label font-weight-bold" >*계약명</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="contract_name" name="contract_name" placeholder="계약명" value="<{$contract_name}>" required>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 수요기관 -->
			<label for="agency" class="col-sm-2 col-form-label font-weight-bold" >*수요기관</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="agency" name="agency" placeholder="수요기관명을 입력해주세요" value="<{$agency}>" required>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 수요기관 -->
			<label for="description" class="col-sm-2 col-form-label font-weight-bold" >*사업개요</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="description" name="description" placeholder="사업 내용을 입력해주세요" value="<{$description}>" required>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 계약형태(필수) -->
			<label for="contract_type" class="col-sm-2 col-form-label font-weight-bold" >*계약형태</label>
			<div class="col-sm-10">
				<select id="contract_type" name="contract_type" class="form-control" required>
					<{foreach from=$contract_type_option key=key item=label}>
					<option value="<{$key}>" <{if $contract_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row"><!-- 예산 확정 여부 -->
			<label class="col-sm-2 col-form-label font-weight-bold" >*예산 확정 여부</label>
			<div class="col-sm-10">
				<div class="form-check form-check-inline" style="padding-top: 6px; width: 100%;">
					<div style="float: left; width: 320px;">
						<{foreach from=$budget_confirm_option key=key item=label}>
						<input type="radio" name="budget_confirm" value="<{$key}>" id="budget_confirm_<{$key}>" class="form-check-input budget_confirm" <{if (!$budget_confirm && $key == 1) || $budget_confirm == $key}>checked<{/if}> required>
						<label for="budget_confirm_<{$key}>" class="form-check-label budget_confirm" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
						<{/foreach}>
					</div>
					<div style="float: left; margin-top: 5px;">
						<label style="font-weight: 700!important; margin-right: 50px;">*정산여부</label>
						<{foreach from=$cal_state_option key=key item=label}>
						<input type="radio" name="cal_state" value="<{$key}>" id="cal_state_<{$key}>" style="margin-top: 1px;" class="form-check-input" <{if (!$cal_state && $key == 1) || $cal_state == $key}>checked<{/if}> required>
						<label for="cal_state_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
						<{/foreach}>
					</div>
				</div>
				<div style="margin-top: 10px;">
					<div style="float: left;">
						<label style="font-weight: 700!important; margin-right: 30px; float: left; margin-top: 9px;">예상매출액(VAT별도)</label>
						<input type="text" class="form-control" id="expected_sales" name="expected_sales" value="<{$expected_sales|number_format:0}>" onfocus="if(this.value==0)this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" style="width: 180px;text-align: right;">
					</div>
					<div style="float: left; margin-left: 20px;">
						<label style="font-weight: 700!important; margin-right: 30px; float: left;  margin-top: 9px;">지출액</label>
						<input type="text" class="form-control" id="total_price" name="total_price" value="<{$total_price|number_format:0}>" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" style="width: 180px;text-align: right; float: left; color: red;" readonly>
					</div>

				</div>
			</div>
		</div>

		<div class="form-group row"><!-- 사업기간 -->
			<label class="col-sm-2 col-form-label font-weight-bold" >*사업기간(계약기간)</label>
			<div class="col-sm-10">
				<div class="step-search-form">
					<input type="text" class="form-control date-picker" id="pj_s_date" name="pj_s_date" value="<{$pj_s_date}>" style="float: left; width: 95px; text-align: center;" required>
					<span class="tlt">~</span>
					<input type="text" class="form-control date-picker" id="pj_e_date" name="pj_e_date" value="<{$pj_e_date}>" style="float: left; width: 95px; text-align: center;" required>
				</div>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 담당자 -->
			<label for="pj_name" class="col-sm-2 col-form-label font-weight-bold" >*담당자</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="manager_name" name="manager_name" placeholder="담당자" value="<{$manager_name}>" style="width: 150px;" required>
				<input type="hidden" class="form-control" id="manager" name="manager" value="<{$manager}>">
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 운영 소속부서(필수) -->
			<label for="team" class="col-sm-2 col-form-label font-weight-bold" >*운영 소속부서</label>
			<div class="col-sm-10">
				<select id="team" name="team" class="form-control" style="float: left; width: 200px;">
					<option value="">::전체::</option>
					<{if $team_list}>
					<{foreach from=$team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $team == $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
					<{/if}>
				</select>
			</div>
		</div>

		<div class="form-group row"><!-- 투입인력 확정여부(필수) -->
			<label class="col-sm-2 col-form-label font-weight-bold" >*투입인력 확정여부</label>
			<div class="col-sm-10">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<{foreach from=$state_option key=key item=label}>
					<input type="radio" name="state" value="<{$key}>" id="state_<{$key}>" class="form-check-input" <{if (!$state && $key == 1) || $state == $key}>checked<{/if}> required>
					<label for="state_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
		</div>

		<div class="font-weight-bold text-center proj-form-title" style="width: 838px;margin-left: -20px;max-width: unset;margin-bottom: 20px;">결과보고자료</div>

		<div class="form-group row"><!-- 참가자 만족도 평가 -->
			<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;" >참가자 만족도 평가</label>
			<div class="col-sm-10">
				<input type="text" name="satisfaction" id="satisfaction" class="form-control" value="<{$satisfaction}>" style="width: 150px; float: left; margin-right: 10px;">
			</div>
		</div>

		<div class="form-group row"><!-- 참가자 만족도 평가 -->
			<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;" >참가인원</label>
			<div class="col-sm-10">
				<input type="text" name="participants" id="participants" class="form-control" value="<{$participants}>" style="width: 150px; float: left; margin-right: 10px;">
			</div>
		</div>

		<div class="form-group row"><!-- 참가자 만족도 평가 -->
			<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;" >주요성과</label>
			<div class="col-sm-10">
				<input type="text" name="achievements" id="achievements" class="form-control" value="<{$achievements}>" style="float: left; margin-right: 10px;">
			</div>
		</div>

		<{if $pj_no}>
		<div class="form-group row"><!-- 운영진 평가결과 -->
			<label class="col-sm-2 col-form-label font-weight-bold" >운영진 평가 결과</label>
			<div class="col-sm-10">
				<table class="table table-striped table-bordered">
					<colgroup>
						<col width="80">
						<col width="100">
						<col width="100">
						<col width="100">
						<col width="100">
						<col width="150">
					</colgroup>
					<thead class="thead-dark text-center">
						<tr>
							<th scope="col">투입분야</th>
							<th scope="col">업체명</th>
							<th scope="col">만족도</th>
							<th scope="col">지난 만족도<br/>대비</th>
							<th scope="col">평균 만족도<br/>대비</th>
							<th scope="col">평가 자세히 보기</th>
						</tr>
					</thead>
					<tbody>
					<{if $pj_ex_partner_list}>
						<{foreach from=$pj_ex_partner_list item=pj_partner}>
						<tr>
							<td class="text-center" style="vertical-align: middle;"><{$pj_partner.pj_c_type_name}></td>
							<td class="text-center" style="vertical-align: middle;">(<{$pj_partner.pj_c_type_name}>)<{$pj_partner.pj_c_name}></td>
							<td class="text-center" style="vertical-align: middle;">(<{$pj_partner.pj_c_type_name}>)<{$pj_partner.cur_score|string_format:"%.2f"}></td>
							<td class="text-right" style="vertical-align: middle;">
								(<{$pj_partner.pj_c_type_name}>)<{$pj_partner.prev_score|string_format:"%.2f"}><br/>
								<span style="<{if $pj_partner.prev_score_chk > 0}>color: blue;<{elseif $pj_partner.prev_score_chk < 0}>color: red;<{/if}> font-weight: bold;"><{if $pj_partner.prev_score_chk > 0}>+<{/if}><{$pj_partner.prev_score_chk|string_format:"%.2f"}></span>
							</td>
							<td class="text-right" style="vertical-align: middle;">
								(<{$pj_partner.pj_c_type_name}>)<{$pj_partner.total_score|string_format:"%.2f"}><br/>
								<span style="<{if $pj_partner.total_avg_chk > 0}>color: blue;<{elseif $pj_partner.total_avg_chk < 0}>color: red;<{/if}>font-weight: bold;"><{if $pj_partner.total_score_chk > 0}>+<{/if}><{$pj_partner.total_score_chk|string_format:"%.2f"}></span>
							</td>
							<td class="text-center">
								<{if $pj_partner.cur_score > 0}>
								<a href="project_regist_external_partner_evaluation_list.php?pj_er_no=<{$pj_partner.pj_er_no}>" class="btn font-bold btn-dark" style="font-size: 12px;" target="_blank">자세히보기</a>
								<{/if}>
							</td>
						</tr>
						<{/foreach}>
					<{/if}>
					</tbody>
				</table>
			</div>
		</div>
		<{/if}>

		<div class="form-group row"><!-- 파일첨부 -->
			<label class="col-sm-2 col-form-label font-weight-bold" >파일첨부</label>
			<div class="col-sm-10">
				<div class="file_wrapper">
					<span>운영계획안(파일)</span>
					<{if $file_path_1 == '' }>
						<input type="file" name="file1" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_1}>" download="<{$file_name_1}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_1}>
						</a>
						<button type="button" onclick="del_file('1', '<{$file_path_1}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div class="file_wrapper">
					<span>완료보고서(파일)</span>
					<{if $file_path_2 == '' }>
						<input type="file" name="file2" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_2}>" download="<{$file_name_2}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_2}>
						</a>
						<button type="button" onclick="del_file('2', '<{$file_path_2}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div class="file_wrapper">
					<span>견적서(파일)</span>
					<{if $file_path_3 == '' }>
						<input type="file" name="file3" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_3}>" download="<{$file_name_3}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_3}>
						</a>
						<button type="button" onclick="del_file('3', '<{$file_path_3}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div class="file_wrapper">
					<span>정산보고서(파일)</span>
					<{if $file_path_4 == '' }>
						<input type="file" name="file4" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_4}>" download="<{$file_name_4}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_4}>
						</a>
						<button type="button" onclick="del_file('4', '<{$file_path_4}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div class="file_wrapper">
					<span>기타(파일)</span>
					<{if $file_path_5 == '' }>
						<input type="file" name="file5" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_5}>" download="<{$file_name_5}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_5}>
						</a>
						<button type="button" onclick="del_file('5', '<{$file_path_5}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div class="file_wrapper">
					<span>기타(파일)</span>
					<{if $file_path_6 == '' }>
						<input type="file" name="file6" class="pj_file">
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file_path_6}>" download="<{$file_name_6}>" style="margin-left: 5px;">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file_name_6}>
						</a>
						<button type="button" onclick="del_file('6', '<{$file_path_6}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
			</div>
		</div>
		<{if $pj_no}>
			<{if $session_team == '00229' || ($req_s_no == $session_s_no && $state == '2')}> <!-- 사업지원팀 or 마스터관리자 or (작성 and 미확정)-->
				<button type="button" class="btn btn-danger font-weight-bold" style="float: left; font-size: 13px;" onclick="del_project(document.proj_frm)"><span>삭제</span></button>
			<{/if}>
		<{/if}>
		<button type="button" onclick="location.href='project_list.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>취소</span></button>
		<{if !$pj_no && in_array($session_team, $permission_team_list) }> <!-- 사업지원팀 or 마스터관리자 or (작성 and 미확정)-->
			<button type="submit" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;"><span><{$title}></span></button>
		<{elseif $pj_no && ($team == $session_team || $is_admin) }>
			<button type="submit" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;"><span><{$title}></span></button>
		<{/if}>
	</form>
</div>
<{if $pj_no}>
<div class="admin_content" style="float: left; margin-left: 30px;">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px; width: 100%;">● 사업관리</h2>
	<div style="width: 850px; min-width: 850px !important; max-width: 850px; min-height: 500px; box-sizing: border-box; overflow: hidden; margin: 20px 20px 0; border: 1px solid #ccc; padding: 20px 15px; border-radius: 0 0 5px 5px;">
		<button type="button" class="iframe_btn" onclick="openProjectIframe('expenses')">예산관리</button>
		<button type="button" class="iframe_btn" onclick="openProjectIframe('staff')">내부 인력관리</button>
		<button type="button" class="iframe_btn" onclick="openProjectIframe('out_staff')">외부 인력관리</button>
		<button type="button" class="iframe_btn" onclick="openProjectIframe('work_calendar')">사업일정(달력)</button>
		<div class="iframe_content">

		</div>
	</div>
</div>
<{/if}>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
        $("#team").combobox();

		$("#manager_name").autocomplete({
			source: function( request, response ) {
				$("#manager").val('');
				$.ajax({
                    url: "/v1/api/project.staff.team.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
                                sno : item.s_no,
                                label : item.s_label,
                                sname : item.s_name,
                                team : item.team,
                                teamname : item.team_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#manager").val(ui.item.sno);
				$('#manager_name').val(ui.item.sname);
				$("#team").val(ui.item.team).prop('selected', true);
                $(".custom-combobox").find('input').val(ui.item.teamname);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

        $(".budget_confirm").change(function(){

            if($(this).val() == '2'){
            	alert("확정시 직접 수정이 불가하며, 시스템 관리자를 통해서만 수정할 수 있습니다");
            }
    	});
    });

    // 저장시 필수값 체크
    function check_form(f)
    {
		if(cknull("work_state") == "x" ){
			alert("진행상태 값을 선택해주세요");
			return false;
		}

        if(cknull("my_c_no") == "x" ){
            alert("계열사를 선택해주세요");
            return false;
        }

		if(cknull("pj_name") == "x"){
			alert("내부통용_사업명을 입력해주세요");
			return false;
		}

		if(cknull("contract_type") == "x" ){
			alert("계약형태를 선택해주세요");
			return false;
		}

        if(cknull("state") == "x" ){
            alert("구분값 선택해주세요");
            return false;
        }

        if(cknull("department") == "x"){
            alert("소속부서를 선택해주세요");
            return false;
        }

		if(cknull("manager") == "x" || cknull("manager_name") == "x"){
			alert("담당자를 선택해주세요");
			return false;
		}

        if(cknull("pj_s_date") == "x" || cknull("pj_e_date") == "x"){
            alert("사업기간을 입력해주세요");
            return false;
        }

        var process = f.process.value;

        if(process == 'modify_project' && $("#project_regist_out_management_iframe").length > 0){
            document.getElementById("project_regist_out_management_iframe").contentWindow.document.proj_sub_frm.submit();
        }else{
            return true;
        }
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

	function openProjectIframe(type)
	{
		var iframe = "";
		var left = 1000;

		if(type == 'expenses'){
			iframe = "<iframe src='project_expenses_input_iframe.php?pj_no=<{$pj_no}>&pj_s_date=<{$pj_s_date}>&pj_e_date=<{$pj_e_date}>' width='840' height='500' frameborder='0' id='project_expenses_input_iframe' onload='fixIframeHeight(this)'></iframe>";
		}else if(type == 'staff'){
			iframe = "<iframe src='project_regist_in_management_iframe.php?pj_no=<{$pj_no}>&pj_s_date=<{$pj_s_date}>&pj_e_date=<{$pj_e_date}>' width='840' height='500' frameborder='0' id='project_regist_in_management_iframe' onload='fixIframeHeight(this)'></iframe>";
		}else if(type == 'out_staff'){
			iframe = "<iframe src='project_regist_out_management_iframe.php?pj_no=<{$pj_no}>&pj_s_date=<{$pj_s_date}>&pj_e_date=<{$pj_e_date}>' width='840' height='500' frameborder='0' id='project_regist_out_management_iframe' onload='fixIframeHeight(this)'></iframe>";
		}else if(type == 'work_calendar'){
			window.open("calendar/calendar_schedule.php?cal_id=biz_sup", "사업일정(달력)", 'width=1200,height=1000,left='+left+',top=0');
		}

		$(".iframe_content").html(iframe);
	}

	function fixIframeHeight(obj)
	{
        obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
    }

    //삭제시
    function del_project(f)
    {
    	<{if $req_s_no == $session_s_no || $session_s_no == '22'}>
			if(confirm("정말로 삭제하시겠습니까?")){
                f.process.value = 'delete_project';
    			f.submit();
    		}
		<{else}>
			alert("작성자 또는 장소연님만 삭제 가능합니다");
			return false;
		<{/if}>
    }

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

    // 파일 삭제하기
    function del_file(folder, file)
    {
        var f = document.proj_frm;
        f.process.value = 'del_file';
        f.folder.value = folder;
        f.file_path.value = file;

        if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
            f.submit();
        }else{ //취소
            return;
        }
    }
</script>

</body>
</html>
