<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{margin-top: 20px;min-height: 300px;}
	.admin_content{width: 820px; min-width: 820px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
</style>

<div class="admin_content">
	<{if $pj_no}>
	<div>
		<form name="proj_sub_frm" action="project_regist_out_management_iframe.php" method="post" enctype="multipart/form-data" >
			<input type="hidden" name="pj_no" id="pj_no" value="<{$pj_no}>">
			<input type="hidden" name="process" value="update_project_management">
			<div class="form-group row"><!-- 외부 투입인력 분야 -->
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;" >외부 투입인력 분야</label>
				<div class="col-sm-10" style="padding-top: 5px;">
					<{foreach from=$resource_type_option key=key item=label}>
					<input type="checkbox" name="resource_type[]" id="resource_type_<{$key}>" style="float: left; cursor: pointer;" value="<{$key}>" <{if $resource_type_val_list && in_array($key, $resource_type_val_list)}>checked<{/if}> <{if !$editable}>disabled<{/if}>>
					<label for="resource_type_<{$key}>" style="float: left; cursor: pointer; margin: 0 10px 0 2px;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
			<div class="form-group row"><!-- 운영진 만족도 평가 -->
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;" >강의/멘토링<br/>확인서</label>
				<div class="col-sm-10" style="padding-top: 5px;">
					<label style="float: left; line-height: 34px;  margin-right: 10px;">제공처</label>
					<input type="text" class="form-control" id="confirm_content" name="confirm_content" placeholder="제공처" value="<{$confirm_content}>" style="width: 190px; float: left;" <{if !$editable}>disabled<{/if}>>
					<div style="clear: both;">
						<button type="button" onclick="openParticipationConfirm()" style="background: #333; color: white; font-weight: bold; border-radius: 5px; padding: 8px 49px;">강의/멘토링 확인서 보기</button>
					</div>
				</div>
			</div>

			<div class="form-group row"><!-- 외부 투입인력 -->
				<label class="col-sm-4 col-form-label font-weight-bold" >
					외부 투입인력<button type="button" onclick="openExternalStaffList('<{$pj_no}>','<{$active_pj_cnt}>','<{$cur_cnt}>')" style="padding: 3px 10px; border: 1px solid #333; font-size: 14px; margin-left: 60px; <{if !$editable}>background:#DDD;<{/if}>" <{if !$editable}>disabled<{/if}>>+</button>
				</label>
				<div class="col-sm-12">
					<iframe src="project_regist_external_input_iframe.php?pj_no=<{$pj_no}>" width="810" height="320" frameborder="0" id="project_regist_external_input_iframe" onload="fixSubIframeHeight(this)"></iframe>
				</div>
			</div>
		</form>
	</div>
	<{/if}>
</div>

<script type="text/javascript">

    function fixSubIframeHeight(obj)
    {
        obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
    }

    function openParticipationConfirm()
    {
        var pj_no = $("#pj_no").val();
        var participationUrl = "project_regist_external_participation_confirm.php?pj_no="+pj_no;
        window.open(participationUrl,"확인서 출력",'width=1000, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
    }

    function openExternalStaffList(pj_no, active_cnt, cur_cnt)
    {
        if(active_cnt == 0){
            alert("기간이 지난 사업 입니다. 추가하실 수 없습니다");
            return false;
        }

        if(cur_cnt > 0){
            alert("운영진 평가 결과가 존재합니다. 추가하실 수 없습니다");
            return false;
        }

        var externalStaffUrl = "project_regist_external_partner_list.php?pj_no="+pj_no;
        window.open(externalStaffUrl,"외부 투입인력 리스트",'width=1200, height=1000, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
    }

    function reloadExtenerPartner(){
        document.getElementById("project_regist_external_input_iframe").contentDocument.location.reload(true);
    }
</script>
</body>
</html>
