<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 810px; min-width: 810px !important; box-sizing: border-box; margin: 20px 0 0 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<div class="form-group row"><!-- 지출액 -->
		<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 11px;line-height: 26px;text-align: center;" >지출액</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="total_price" name="total_price" value="<{$total_price|number_format:0}>" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" style="width: 200px;text-align: right; float: left; color: red;" readonly>
			<a href="project_expenses.php?sch_pj_no=<{$pj_no}>&sch_req_team=<{$project.team}>&sch_req_name=&sch_req_all_chk=all&sch_req_all=all&sch_spend_method=" target="_blank" style="float: left; font-size: 12px; margin-left: 12px; color: white; padding: 8px 20px; background: #333; font-weight: bold; border-radius: 3px;">사업비 지출관리</a>
		</div>
	</div>
	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px;">● 예산 구분 설정 및 요약</h4>
	<{assign var='k_price_total' value=0}>
	<{assign var='spend_price_total' value=0}>
	<{assign var='inner_spend_total' value=0}>
	<{assign var='balance_total' value=0}>
	<{assign var='final_balance_total' value=0}>

	<form name="pe_apply_frm" id="pe_apply_frm" class="apply_frm" action="project_expenses_input_iframe.php" method="post" onsubmit="return false;" style="max-width: 900px;" autocomplete="off">
		<input type="hidden" name="pj_no" value="<{$pj_no}>">
		<input type="hidden" name="process" value="total_save">
		<table class="table table-striped table-bordered" style="max-width: 900px; margin-top: 20px; table-layout: fixed;">
			<colgroup>
				<col width="60" />
				<col width="50" />
				<col width="240" />
				<col width="100" />
				<col width="90" />
				<col width="90" />
				<col width="90" />
				<col width="90" />
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" colspan="2">순번</th>
					<th scope="col">구분</th>
					<th scope="col">산출내역서 금액</th>
					<th scope="col">사업비 지출액</th>
					<th scope="col">사업비 잔액</th>
					<th scope="col">내부 지출액</th>
					<th scope="col">총 예산 잔액</th>
				</tr>
			</thead>
			<tbody>
				<{if $pj_exp_kind_list}>
					<{foreach from=$pj_exp_kind_list item=pj_exp_kind}>
						<tr class="pj_exp_content_wrapper">
							<td class="text-center" style="padding:0;">
								<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px;" onclick="del_expenses('<{$pj_exp_kind.pj_k_no}>', '<{$pj_exp_kind.active_cnt}>')" <{if !$editable}>disabled<{/if}>>삭제</button>
								<input type="hidden" name="pj_k_no[]" value="<{$pj_exp_kind.pj_k_no}>">
							</td>
							<td class="text-center" style="padding:0;">
								<input type="text" class="form-control" name="k_priority[]" value="<{$pj_exp_kind.k_priority}>" style="width: 40px; margin: 0 auto; text-align: center; font-size: 12px;"  <{if !$editable}>disabled<{/if}>>
							</td>
							<td class="text-left">
								<input type="text" class="form-control" name="k_name[]" value="<{$pj_exp_kind.k_name}>" style="width: 220px; text-align: left; margin-right: 5px; display: inline-block; line-height: 12px; font-size: 12px; padding: 0; padding-left: 5px;"  <{if !$editable}>disabled<{/if}>>
							</td>
							<td class="text-right">
								<input type="text" class="form-control" name="k_price[]" onfocus="if(this.value==0)this.value=''" onkeyup="inputNumberFormat(this)" value="<{$pj_exp_kind.k_price|number_format:0}>" style="width: 80px; text-align: right; color: black; display: inline-block; line-height: 12px; font-size: 12px; padding: 0; padding-right: 5px;"  <{if !$editable}>disabled<{/if}>>
							</td>
							<td class="text-right">
								<span style="font-size: 12px; color: red;"><{$pj_exp_kind.comp_spend|number_format:0}></span>
								<a href="project_expenses.php?ori_ord_type=req_date&ord_type=req_date&ord_type_by=2&sch_pj_no=<{$pj_exp_kind.pj_no}>&sch_pj_name=&sch_payment_contents=&sch_cal_method=2&sch_spend_method=&sch_req_name=&sch_req_s_date=&sch_req_e_date=&sch_req_all_chk=all&sch_req_all=all&sch_appr_s_date=&sch_appr_e_date=&sch_c_name=&sch_pj_kind=<{$pj_exp_kind.k_name}>&sch_bankbook=&sch_bk_name=&sch_memo=" target="_blank">
									<img src="./images/icon/new_win_icon.png" style="margin-top: -3px;">
								</a>
							</td>
							<td class="text-right">
								<span style="font-size: 12px; <{if $pj_exp_kind.balance>0 }>color: blue;<{elseif $pj_exp_kind.balance<0 }>color: red;<{else}>color: black;<{/if}>"><{$pj_exp_kind.balance|number_format:0}></span>
							</td>
							<td class="text-right">
								<span style="font-size: 12px; color: red;"><{$pj_exp_kind.inner_spend|number_format:0}></span>
							</td>
							<td class="text-right">
								<span style="font-size: 12px; <{if $pj_exp_kind.balance>0 }>color: blue;<{elseif $pj_exp_kind.balance<0 }>color: red;<{else}>color: black;<{/if}>"><{$pj_exp_kind.total_balance|number_format:0}></span>
							</td>
						</tr>
						<{assign var='k_price_total' value=$k_price_total+$pj_exp_kind.k_price}>
						<{assign var='comp_spend_total' value=$comp_spend_total+$pj_exp_kind.comp_spend}>
						<{assign var='inner_spend_total' value=$inner_spend_total+$pj_exp_kind.inner_spend}>
						<{assign var='balance_total' value=$balance_total+$pj_exp_kind.balance}>
						<{assign var='final_balance_total' value=$final_balance_total+$pj_exp_kind.total_balance}>
					<{/foreach}>
					<tr class="empty_total_wrapper">
						<td colspan="3" style="text-align: center; font-size: 12px; font-weight: bold;">구분미설정</td>
						<td></td>
						<td style="color: red; text-align: right; font-size: 12px; font-weight: bold;"><{$empty_inner_price|number_format:0}></td>
						<td></td>
						<td style="color: red; text-align: right; font-size: 12px; font-weight: bold;"><{$empty_comp_price|number_format:0}></td>
						<td></td>
					</tr>
				<{else}>
					<tr class="pj_exp_content_wrapper">
					</tr>
					<tr>
						<td class="text-center" colspan="8">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" style="background-color: #CCC; text-align: center; font-size: 12px; font-weight: bold;">합계</td>
					<td style="color: black; background-color: #CCC; text-align: right; font-size: 12px; font-weight: bold;"><{$k_price_total|number_format:0}></td>
					<td style="color: red; background-color: #CCC; text-align: right; font-size: 12px; font-weight: bold;"><{$comp_spend_total|number_format:0}></td>
					<td style="background-color: #CCC; text-align: right; font-size: 12px; font-weight: bold; <{if $balance_total>0 }>color: blue;<{elseif $balance_total<0 }>color: red;<{else}>color: black;<{/if}>"><{$balance_total|number_format:0}></td>
					<td style="color: red; background-color: #CCC; text-align: right; font-size: 12px; font-weight: bold;"><{$inner_spend_total|number_format:0}></td>
					<td style="background-color: #CCC; text-align: right; font-size: 12px; font-weight: bold; <{if $balance_total>0 }>color: blue;<{elseif $balance_total<0 }>color: red;<{else}>color: black;<{/if}>"><{$final_balance_total|number_format:0}></td>
				</tr>
				<{if $pj_no}>
				<tr>
					<td colspan="8" style="padding: 0; margin: 0;">
						<{if $editable}>
						<button type="button" onclick="addProjectExpenses()" style="background-color: #343a40; border-color: #454d55; color: white; font-weight: bold;width: 100%; height: 30px; margin: 5px 0;" >구분 추가하기</button>
						<button type="submit" onclick="allSaveProjectExpenses()" style="background-color: blue; border-color: #454d55; color: white; font-weight: bold;width: 100%; height: 50px; margin: 5px 0;">저장하기</button>
						<{/if}>
					</td>
				</tr>
				<{/if}>
			</tfoot>
		</table>
	</form>
</div>

<form name="new_kind_frm" id="new_kind_frm" action="project_expenses_input_iframe.php" method="post" >
	<input type="hidden" name="pj_no" value="<{$pj_no}>">
	<input type="hidden" name="process" value="add_pr_exp_kind">
</form>
<form name="del_kind_frm" id="del_kind_frm" action="project_expenses_input_iframe.php" method="post" >
	<input type="hidden" name="pj_no" value="<{$pj_no}>">
	<input type="hidden" name="pj_k_no" value="<{$pj_no}>">
	<input type="hidden" name="process" value="del_expenses">
</form>

<script type="text/javascript">

	// 공개 처리하기
    function del_expenses(pj_k_no, active_cnt)
    {
        if(active_cnt > 0){
            alert("사업비 지출관리에 설정된 건이 있어 삭제가 불가능합니다.\r\n설정해지 후 삭제 바랍니다.");
            return false;
        }

        var f = document.del_kind_frm;

		f.pj_k_no.value=pj_k_no;
        if (confirm("삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

    function save_el(pj_k_no, proc, obj)
    {
        var f = obj.form;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
        var value = obj.value;
        var pj_no = f.pj_no.value;

        $.post("project_expenses_input_iframe.php", {pj_no: pj_no, pj_k_no : pj_k_no, process : proc, value : value}, function(result){
            d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
        });
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function saveElement(proc, obj)
    {
        var f = obj.form;
        f.process.value = proc;
        f.submit();
    }

    function addProjectExpenses()
	{
	    var html = "<tr class='pj_exp_content_wrapper'>";

	    html += "<td class='text-center' style='padding:0;'>";
        html += "	<button type='button' class='btn btn-dark font-weight-bold' style='font-size: 11px;' onclick='del_expenses_empty(this)'>삭제</button>";
        html += "	<input type='hidden' name='pj_k_no[]' value=''>";
        html += "</td>";
        html += "<td class='text-center' style='padding:0;'>";
        html += "	<input type='text' class='form-control' name='k_priority[]' value='' style='width: 40px; margin: 0 auto; text-align: center; font-size: 12px;'>";
        html += "</td>";
        html += "<td class='text-left'>";
        html += "	<input type='text' class='form-control' name='k_name[]' value='' style='width: 220px; text-align: left; margin-right: 5px; display: inline-block; line-height: 12px; font-size: 12px; padding: 0; padding-left: 5px;'>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<input type='text' class='form-control' name='k_price[]' onfocus='if(this.value==0)this.value=\"\"' onkeyup='inputNumberFormat(this)' value='' style='width: 80px; text-align: right; color: black; display: inline-block; line-height: 12px; font-size: 12px; padding: 0; padding-right: 5px;'>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<span style='font-size: 12px; color: red;'></span>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<span style='font-size: 12px; color: red;'></span>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<span style='font-size: 12px; color: red;'></span>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<span style='font-size: 12px; color: red;'></span>";
        html += "</td>";
        html += "<td class='text-right'>";
        html += "	<span style='font-size: 12px; color: red;'></span>";
        html += "</td>";
        html += "</tr>";

        $("tbody").children('.pj_exp_content_wrapper').last().after(html);
        parent.fixIframeHeight(parent.document.getElementById('project_expenses_input_iframe'));
	}

	function allSaveProjectExpenses(){
        document.pe_apply_frm.submit();
	}

	function del_expenses_empty(obj){
	    $(obj).parent().parent().remove();
	}
</script>
</body>
</html>
