<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{min-height: 300px;}
	.admin_content{width: 805px; min-width: 805px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	#proj_staff_frm{width: 805px; min-width: 805px !important; max-width: 805px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 12px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<h4 class="title" style="text-align: left;padding: 0;margin: 10px 0;font-weight: bold;font-size: 20px; ">● 인력관리</h4>
	<table class="table table-striped table-bordered" style="max-width: 805px; margin-top: 20px;table-layout: fixed;">
		<colgroup>
			<col width="80" />
			<col width="200" />
			<col width="100" />
			<col width="280" />
			<col width="120" />
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">#</th>
				<th scope="col">소속회사</th>
				<th scope="col">이름</th>
				<th scope="col">투입날짜</th>
				<th scope="col">투입 리소스</th>
			</tr>
		</thead>
		<tbody>
		<{if $project_staff_list}>
			<{foreach from=$project_staff_list item=project_staff}>
			<form name="apply_frm<{$project_staff.pj_r_no}>" id="apply_frm<{$project_staff.pj_r_no}>" class="apply_frm" action="project_staff_regist_input_iframe.php" method="post" onsubmit="return false;" >
				<input type="hidden" name="pj_no" value="<{$project_staff.pj_no}>">
				<input type="hidden" name="pj_r_no" value="<{$project_staff.pj_r_no}>">
				<input type="hidden" name="pj_s_no" value="<{$project_staff.pj_s_no}>">
				<input type="hidden" name="process" value="">
				<tr>
					<td class="text-center" style="padding:0;">
						<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px;" onclick="del_staff('<{$project_staff.pj_r_no}>')" <{if !$editable}>disabled<{/if}>>삭제</button>
					</td>
					<td class="text-left">
						<{$project_staff.my_c_name}>
					</td>
					<td class="text-center">
						<{$project_staff.s_name}>
					</td>
					<td class="text-center">
						<input type="text" class="date-picker form-control date" onchange="save_el('<{$project_staff.pj_r_no}>', 'pir_s_date', this)" name="pir_s_date" value="<{$project_staff.pir_s_date}>" style="width: 100px; text-align: center; margin: 0; display: inline-block; line-height: 12px; font-size: 12px; padding: 0;" <{if !$editable}>disabled<{/if}>>
						~
						<input type="text" class="date-picker form-control" onchange="save_el('<{$project_staff.pj_r_no}>', 'pir_e_date', this)" name="pir_e_date" value="<{$project_staff.pir_e_date}>" style="width: 100px; text-align: center; margin: 0; display: inline-block; line-height: 12px; font-size: 12px; padding: 0;" <{if !$editable}>disabled<{/if}>>
					</td>
					<td style="color: red; padding: 0 10px;" class="text-center">
						<input type="text" class="form-control" onchange="save_el('<{$project_staff.pj_r_no}>', 'resource', this)" name="resource" value="<{$project_staff.resource}>" style="width: 50px; text-align: center; color: red; margin-right: 5px; display: inline-block; line-height: 12px; font-size: 12px; padding: 0;" <{if !$editable}>disabled<{/if}>>%
					</td>
				</tr>
			</form>
			<{/foreach}>
		<{else}>
			<tr>
				<td class="text-center" colspan="5">투입 인력이 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>
</div>

<script type="text/javascript">

    $(document).ready(function(){
		<{if $del == '1'}>
        	$("#project_staff_regist_available_iframe",parent.document).get(0).contentDocument.location.reload();
        <{/if}>
    });

    $(".date-picker").datepicker({
        format : "yyyy-mm-dd",
        language: 'ko',
        autoclose: true,
		beforeShowDay: function(date){
			if(date.getDay() == 0){
				return {
					classes: 'date-sunday'
				}
			} else if(date.getDay() == 6){
				return {
					classes: 'date-saturday'
				}
			}
		}
    });

    // 공개 처리하기
    function del_staff(pj_r_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_r_no + "');");
		f.process.value='project_output_staff';
        if (confirm("투입인력을 삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

    function save_el(no, proc, obj)
    {
        var f = obj.form;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left - 150, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
        var value = obj.value;

        if(proc == "resource"){
            var pj_s_no    = f.pj_s_no.value;
            var pir_s_date = f.pir_s_date.value;
            var pir_e_date = f.pir_e_date.value;
            $.post("project_staff_regist_input_iframe.php", {pj_r_no : no, pj_s_no: pj_s_no, pir_s_date: pir_s_date, pir_e_date: pir_e_date, process : proc, value: value}, function(resultData){
                var jsonData = JSON.parse(resultData);
                var result   = jsonData.result;
                var msg   	 = jsonData.msg;

                if(result == '1' || result == '2'){
                    d_msg.appendTo($(obj).closest('td')).html(msg).fadeOut(2000);
                }else if(result == '3'){
                    f.resource.value=0;
                    alert(msg);
                }
            });
        }else{
            $.post("project_staff_regist_input_iframe.php", {pj_r_no : no, process : proc, value : value}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }
</script>
</body>
</html>
