<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table{word-break: break-all;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom:10px">● 파트너 리스트</h2>
	<form method="get" name="search_form" action="project_regist_external_partner_list.php" class="form-inline" style="max-width: 1200px;" autocomplete="off">
		<input type="hidden" name="pj_no" value="<{$pj_no}>">
		<div class="form-group">
			<label for="sch_c_no">NO</label>
			<input type="text" id="sch_c_no" class="form-control" name="sch_c_no" value="<{$sch_c_no}>" style="width: 60px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_license_type">법인/개인</label>
			<select name="sch_license_type" id="sch_license_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$license_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_license_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_corp_kind">파트너 구분</label>
			<select name="sch_corp_kind" id="sch_corp_kind" class="select_type2">
				<{foreach from=$corp_kind_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_corp_kind == $key}>selected<{/if}> <{if $key != '3'}>disabled<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_c_name">업체명(성명)</label>
			<input type="text" id="sch_c_name" class="form-control" name="sch_c_name" value="<{$sch_c_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
		</div>

		<div class="form-group" style="margin-top: 10px;">
			<label for="sch_resource_type">전문분야</label>
			<select id="sch_resource_type" name="sch_resource_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$resource_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_resource_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_avg">평균 만족도</label>
			<input type="text" id="sch_s_avg" class="form-control" name="sch_s_avg" value="<{$sch_s_avg}>" style="width: 50px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<span>~</span>
			<input type="text" id="sch_e_avg" class="form-control" name="sch_e_avg" value="<{$sch_e_avg}>" style="width: 50px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_s_avg">횟수</label>
			<input type="text" id="sch_s_cnt" class="form-control" name="sch_s_cnt" value="<{$sch_s_cnt}>" style="width: 50px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<span>~</span>
			<input type="text" id="sch_e_cnt" class="form-control" name="sch_e_cnt" value="<{$sch_e_cnt}>" style="width: 50px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_memo">담당자 메모</label>
			<input type="text" id="sch_memo" class="form-control" name="sch_memo" value="<{$sch_memo}>" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">검색</button>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 20px; width: auto; table-layout: fixed;">
		<colgroup>
			<col width="80px;">
			<col width="60px;">
			<col width="100px;">
			<col width="100px;">
			<col width="200px;">
			<col width="140px;">
			<{if $sch_resource_type}>
			<col width="100px;">
			<col width="100px;">
			<{/if}>
			<col width="100px;">
			<col width="100px;">
			<col width="300px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">#</th>
				<th scope="col">NO</th>
				<th scope="col">법인/개인</th>
				<th scope="col">파트너 구분</th>
				<th scope="col">업체명<br/>(성명)</th>
				<th scope="col">전문분야</th>
				<{if $sch_resource_type}>
				<th scope="col"><b style="color: yellow;"><{$sch_resource_type_name}></b> 분야<br/>평균 만족도</th>
				<th scope="col"><b style="color: yellow;"><{$sch_resource_type_name}></b> 분야<br/>횟수</th>
				<{/if}>
				<th scope="col">분야 전체<br/>평균 만족도</th>
				<th scope="col">전체 분야<br/>횟수</th>
				<th scope="col">담당자 메모</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
		<{foreach from=$partner_list item=partner}>
		<tr>
			<td>
				<button class="btn btn-sm btn-dark" onclick="addProjectPartner('<{$partner.c_no}>', '<{$partner.c_name}>')" style="font-size: 12px; margin: 0 auto; display: table; font-weight: bold;">추가</button>
			</td>
			<td class="text-center"><!-- NO -->
				<{$partner.c_no}>
			</td>
			<td class="text-center"><!-- 법인/개인 -->
				<{$partner.license_type_name}>
			</td>
			<td class="text-center"><!-- 파트너 구분 -->
				<{$partner.corp_kind_name}>
			</td>
			<td class="text-center"><!-- 업체명 -->
				<{$partner.c_name}>
			</td>
			<td class="text-center"><!-- 전문분야 -->
				<{$partner.resource_type_name}>
			</td>
			<{if $sch_resource_type}>
			<td class="text-center"><!-- 분야별 평균만족도 -->
				<{$partner.part_avg}>
			</td>
			<td class="text-center"><!-- 분야별 횟수 -->
				<{$partner.part_cnt}>
			</td>
			<{/if}>
			<td class="text-center"><!-- 전체 평균 만족도 -->
				<{$partner.total_avg}>
			</td>
			<td class="text-center"><!-- 전체 횟수 -->
				<{$partner.total_cnt}>
			</td>
			<td class="text-center"><!-- 메모 -->
				<textarea style="width: 270px;height: 50px;" readonly><{$partner.c_memo}></textarea>
			</td>
		</tr>
		<{/foreach}>
		<tr>
			<td colspan="<{if $sch_resource_type}>11<{else}>9<{/if}>" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		<{else}>
		<tr>
			<td colspan="<{if $sch_resource_type}>11<{else}>9<{/if}>" class="text-center">데이터가 없습니다</td>
		</tr>
		<{/if}>
		</tbody>
	</table>
	<form name="add_partner_frm" id="add_partner_frm" action="project_regist_external_partner_list.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="add_external_partner">
		<input type="hidden" name="pj_no" value="<{$pj_no}>">
		<input type="hidden" name="pj_c_no" value="">
		<input type="hidden" name="pj_c_name" value="">
	</form>
</div>
<!-- //admin_content -->
<script type="text/javascript">

	function addProjectPartner(pj_c_no, pj_c_name){
        var f = document.add_partner_frm;
        f.pj_c_no.value = pj_c_no;
        f.pj_c_name.value = pj_c_name;
        f.submit();
	}

    function searchList(){
        document.search_form.submit();
    }
</script>
</body>
</html>
