<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 800px; min-width: 800px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
	.table td, .table th{padding: 0.25rem 0.4rem; vertical-align: middle;}
	.table thead th{vertical-align: middle; font-size: 10px;}
	.table tbody td{font-size: 10px;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" action="project_staff_regist_available_iframe.php" class="form-inline" autocomplete="off">
		<input type="hidden" name="pj_no" value="<{$pj_no}>" />
		<input type="hidden" name="pj_s_date" value="<{$pj_s_date}>" />
		<input type="hidden" name="pj_e_date" value="<{$pj_e_date}>" />

		<span style="font-size: 20px; font-weight: bold; margin-right: 15px;">가용인력</span>

		<label for="sch_s_name">이름</label>
		<input type="text" id="sch_s_name" name="sch_s_name" value="<{$sch_s_name}>" class="form-control" style="padding: 0.4rem; width: 100px; line-height: 12px; font-size: 12px; margin-left: 5px; margin-right: 15px;" />

		<label for="sch_info">인력정보</label>
		<input type="text" id="sch_info" name="sch_info" value="<{$sch_info}>" class="form-control" style="padding: 0.4rem; width: 100px; line-height: 12px; font-size: 12px; margin-left: 5px;" />

		<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">검색</button>
	</form>
	<table class="table table-striped table-bordered" style="max-width: 900px; margin-top: 4px;">
		<colgroup>
			<col width="60" />
			<col width="150" />
			<col width="80" />
			<col width="80" />
			<col width="80" />
			<col width="250" />
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">추가</th>
				<th scope="col" rowspan="2">소속 회사</th>
				<th scope="col" rowspan="2">이름</th>
				<th scope="col" colspan="2">가용 리소스</th>
				<th scope="col" rowspan="2">인력정보</th>
			</tr>
			<tr>
				<th scope="col">확정</th>
				<th scope="col">미확정포함</th>
			</tr>
		</thead>
		<tbody>
		<{if $project_staff_list}>
			<{foreach from=$project_staff_list item=project_staff}>
			<form name="apply_frm<{$project_staff.pj_s_no}>" id="apply_frm<{$project_staff.pj_s_no}>" class="apply_frm" action="project_staff_regist_available_iframe.php" method="post" onsubmit="return false;" >
				<input type="hidden" name="pj_no" value="<{$pj_no}>">
				<input type="hidden" name="pj_s_no" value="<{$project_staff.pj_s_no}>">
				<input type="hidden" name="process" value="">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<tr>
					<td class="text-center" style="padding:0;">
						<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px;" onclick="add_staff('<{$project_staff.pj_s_no}>')">추가</button>
					</td>
					<td class="text-left">
						<{$project_staff.my_c_name}>
					</td>
					<td class="text-center">
						<{$project_staff.s_name}>
					</td>
					<td class="text-center" style="color: blue; font-weight: bold;">
						<{$project_staff.confirm_resource}>%
					</td>
					<td class="text-center" style="color: blue; font-weight: bold;">
						<{$project_staff.total_resource}>%
					</td>
					<td style="padding: 0 10px;">
						<{$project_staff.info}>
					</td>
				</tr>
			</form>
			<{/foreach}>
		<{else}>
			<tr>
				<td class="text-center" colspan="7">투입 인력이 없습니다</td>
			</tr>
		<{/if}>
			<tr>
				<td colspan="6" class="paging_wrap">
					<div class="paging_wrap" style="margin-top: 2px; margin-bottom: 2px;">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        var src = "project_staff_regist_input_iframe.php?pj_no=<{$pj_no}>&pj_s_date=<{$pj_s_date}>&pj_e_date=<{$pj_e_date}>";
        $("#project_staff_regist_input_iframe", parent.document).get(0).src = src;
    });

    // 공개 처리하기
    function add_staff(pj_s_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_s_no + "');");
		f.process.value='project_input_staff';
        f.submit();
    }
</script>
</body>
</html>
