<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group.sch-group-first input{width: 100px;}
	.form-group.sch-group-second input{width: 100px;}
	.admin_content table{word-break: break-all;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
	.admin_content table tbody td.first{border-left: 2px solid #ccc;}
</style>

<div class="admin_content" style="width: 960px;">
	<h3 class="pj-name">“<span class="pj-name-span"><{$pj_name}></span>”</h3>
	<h2 class="pj-label">강의/멘토링 확인서</h2>
	<div class="pj-content">
		<table cellpadding="0" cellspacing="0" style="width: 100%;">
			<tbody>
			<tr>
				<td class="confirm-label first" style="border-top: 2px solid #ccc;">
					<label style="margin: 0;">성명</label>
				</td>
				<td class="confirm-input" colspan="2">
					<span class="confirm-data"><{$confirm_name}></span>
				</td>
			</tr>
			<tr>
				<td class="confirm-label first">
					<label style="margin: 0;">소속</label>
				</td>
				<td class="confirm-input" colspan="2">
					<span class="confirm-data" style="float: left; width: 360px; line-height: 44px;"><{$confirm_department}></span>
					<label class="confirm-label confirm-position-label" style="float: left; height: 48px; margin: 0; line-height: 30px; border: 2px solid #ccc; border-top: 0;">직위</label>
					<span class="confirm-data" style="float: left; line-height: 44px;"><{$confirm_position}></span>
				</td>
			</tr>
			<tr>
				<td class="confirm-label first" rowspan="2">
					<label style="margin: 0;">연락처</label>
				</td>
				<td class="confirm-label">
					<label style="margin: 0; line-height: 24px;">휴대전화</label>
				</td>
				<td class="confirm-input">
					<span class="confirm-data"><{$confirm_hp}></span>
				</td>
			</tr>
			<tr>
				<td class="confirm-label first">
					<label style="margin: 0; line-height: 24px;">유선전화</label>
				</td>
				<td class="confirm-input">
					<span class="confirm-data" style="float: left; width: 240px; line-height: 48px;"><{$confirm_tel}></span>
					<label class="confirm-label confirm-email-label" style="float: left; margin: 0; height: 48px; border: 0; line-height: 30px; border-left: 2px solid #ccc; border-right: 2px solid #ccc;">E-mail</label>
					<span class="confirm-data" style="float: left; line-height: 48px;"><{<{$confirm_email}>}></span>
				</td>
			</tr>
			<tr>
				<td class="confirm-label first">
					<label style="margin: 0;">비고</label>
				</td>
				<td class="confirm-input" colspan="2">

				</td>
			</tr>
			</tbody>
		</table>
		<div class="all-checkbox-wrapper" style="height: 25px;">

		</div>
		<table cellpadding="0" cellspacing="0" class="confirm-check-table">
			<tbody>
			<tr>
				<td colspan="2" class="confirm-check-label">확인서 관련 개인정보 수집ㆍ활용 및 제공에 대한 동의</td>
				<td class="confirm-check-input confirm-check-approve-label">동의여부</td>
			</tr>
			<tr>
				<td class="confirm-check-label">개인정보 수집 및 이용 (제공)</td>
				<td class="confirm-check-content">
					수집항목: 소속, 직위, 주소, 계좌번호, 연락처, 이메일, 성명<br/>
					목적 : 강의․회의<br/>
					보유기간 : 업무 수행 후 10년이내(공공기관 감사 관련 보유)<br/>
				</td>
				<td class="confirm-check-input">
					<input type="checkbox" name="confirm_checkbox" class="confirm-checkbox" value="1" checked readonly/>
				</td>
			</tr>
			<tr>
				<td class="confirm-check-label">고유식별정보항목</td>
				<td class="confirm-check-content">
					수집항목: 주민등록번호<br/>
					목적 : 세금신고 관련(소득세법 제145조·제164조)<br/>
					보유기간 : 강의․회의 수행 후 10년이<br/>
				</td>
				<td class="confirm-check-input">
					<input type="checkbox" name="confirm_checkbox" class="confirm-checkbox" value="1" checked readonly/>
				</td>
			</tr>
			<tr>
				<td class="confirm-check-label">개인정보 제3자 제공</td>
				<td class="confirm-check-content">
					강사비 지급 등을 위하여 개인정보를 3자에게 제공할 수 있음<br/>
					수집항목　:소속, 직위, 주소, 계좌번호, 연락처, 이메일, 성명, 주민등록번호, 이력서<br/>
					목적 : 강의, 회의 강의료 등 기타 비용의 세금신고 관련(소득세법 제 145조, 제 146조) 및 강사비 산정관련(자사 강사비 지급규정, 제공처 강사비 지급규정)<br/>
					보유기간 : 강의․회의 수행 후 10년이내<br/>
					제공처 : <span class="pj-content-txt"><{$confirm_content}></span><br/>
				</td>
				<td class="confirm-check-input">
					<input type="checkbox" name="confirm_checkbox" class="confirm-checkbox" value="1" checked readonly/>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="confirm-check-label">
					귀하에게는 동의를 거부할 권리가 있으며, 거부할 경우 관련 업무를 진행하실 수 없습니다.<br/>
					「개인정보보호법」등 관련 법규에 의거하여 상기 본인은 위의 개인정보취급 방침에 동의함.
				</td>
				<td class="confirm-check-input">
					<input type="checkbox" name="confirm_checkbox" class="confirm-checkbox" value="1" checked readonly/>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="last-label">
		상기 본인은 와이즈 플래닛에서 운영한 <span class="pj-name">“<span class="pj-name-span"><{$pj_name}></span>”</span>에 참여하는 것을 확인하였습니다.<br/>
		<span class="date" style="font-weight: bold;"><{$cur_date}></span><br/>
		<span class="req-name">성명: <{$pj_c_name}></span>
	</div>
	<button class="noprint" style="padding: 10px 50px; background: #3366CC;color: white;font-weight: bold; margin: 0 auto; display: table; border-radius: 5px;" onclick="window.print();">인쇄하기</button>
</div>
<style type="text/css">
	@media print {
		.noprint {display:none;}
	}

	 .pj-name{font-weight: bold; color: #3366CC;}
	 h3.pj-name{font-size: 25px; text-align: center; font-weight: bold; color: #3366CC;}
	 h2.pj-label{font-size:30px;font-weight: bold; text-align: center; margin: 10px 0 20px;}
	 .pj-content{padding: 5px;}
	 .pj-content > h2{font-size:18px;font-weight: bold; text-align: left;}
	 .pj-content-txt{color: #3366CC;}
	 .pj-content > p{margin-top: 5px; font-size: 12px;}
	 .pj-content .confirm-label{
		background-color: rgba(119, 119, 119, 1);
		color: #fff;
		padding: 10px 0;
		border-bottom: 2px solid #ccc;
		border-right: 2px solid #ccc;
		width: 120px;
		text-align: center;
		vertical-align: middle;
		font-weight: bolder;
	 }
	.pj-content .confirm-data{
		line-height: 28px;
		padding-left: 10px;
		display: block;
		font-size: 13px;
		letter-spacing: 3px;
	}
	.pj-content .confirm-position-label{}
	.pj-content .confirm-email-label{}
	 .pj-content .confirm-input{border: 2px solid #ccc; padding: 0; margin: 0;}
	 .confirm-check-table{border: 2px solid #ccc;}
	 .confirm-check-table td{border: 2px solid #ccc; padding: 5px;}
	 .confirm-check-label{width: 180px;}
	 .confirm-check-approve-label{text-align: center;}
	 .confirm-check-input{width: 80px;}
	 .confirm-checkbox{display: table; margin: 0 auto; cursor: pointer;}
	 .last-label{text-align: center; font-size: 14px; margin-top: 10px; overflow: hidden; margin-bottom: 10px;}
	 .req-name{float: right; margin-right: 15px; font-size: 14px; font-weight: bold; margin-top: 10px;}
</style>
</body>
</html>
