<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 820px; min-width: 820px !important; box-sizing: border-box;}
	.proj-staff-form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 800px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	#proj_staff_frm{width: 800px; min-width: 800px !important; max-width: 800px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px;">● 인력 <{$title}></h2>

	<div class="text-right">*필수입력</div>
	<div class="font-weight-bold text-center proj-staff-form-title">가용인력 정보</div>
	<form id="proj_staff_frm" name="proj_staff_frm" action="project_staff_regist.php" method="post" enctype="multipart/form-data" >
		<input type="hidden" name="pj_s_no" value="<{$pj_s_no}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="<{if !!$pj_s_no}>modify_project_staff<{else}>new_project_staff<{/if}>">
		<input type="hidden" name="folder" value="">
		<input type="hidden" name="file_path" value="">

		<div class="form-group row"><!-- 투입가능여부(필수) -->
			<label class="col-sm-3 col-form-label font-weight-bold" >*투입가능여부</label>
			<div class="col-sm-9">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<{foreach from=$active_option key=key item=label}>
					<input type="radio" name="active" value="<{$key}>" id="active_<{$key}>" class="form-check-input" <{if (!$active && $key == 1) || $active == $key}>checked<{/if}> required>
					<label for="active_<{$key}>" class="form-check-label" style="margin-right: 10px; cursor: pointer;"><{$label}></label>
					<{/foreach}>
				</div>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 소속회사(필수) -->
			<label for="my_c_no" class="col-sm-3 col-form-label font-weight-bold" >*소속회사</label>
			<div class="col-sm-9">
				<select id="my_c_no" name="my_c_no" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$my_company_list key=key item=data}>
					<option value="<{$key}>" <{if $my_c_no == $key}>selected<{/if}>><{$data.c_name}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row"><!-- 이름 -->
			<label for="s_name" class="col-sm-3 col-form-label font-weight-bold" >*이름</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="s_name" name="s_name" placeholder="이름" value="<{$s_name}>" required>
				<input type="hidden" class="form-control" id="s_no" name="s_no" value="<{$s_no}>" required>
			</div>
		</div>

		<div class="form-group row"><!-- 인력정보 -->
			<label for="info" class="col-sm-3 col-form-label font-weight-bold" >인력정보</label>
			<div class="col-sm-9">
				<textarea class="form-control" id="info" name="info" placeholder="인력정보" rows="10" style="font-size: 12px;"><{$info}></textarea>
			</div>
		</div>
		<div class="form-group row"><!-- 파일첨부 -->
			<label class="col-sm-3 col-form-label font-weight-bold" >파일첨부</label>
			<div class="col-sm-9">
				<div style="padding-top: 5px;">
					<{if $file1_name == '' }>
						<input type="file" name="file1" id="file1" class="file_upload" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file1_path}>" download="<{$file1_name}>">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file1_name}>
						</a>
						<button type="button" onclick="del_file('file1', '<{$file1_path}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div style="padding-top: 5px;">
					<{if $file2_name == '' }>
						<input type="file" name="file2" id="file2" class="file_upload" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file2_path}>" download="<{$file2_name}>">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file2_name}>
						</a>
						<button type="button" onclick="del_file('file2', '<{$file2_path}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div style="padding-top: 5px;">
					<{if $file3_name == '' }>
						<input type="file" name="file3" id="file3" class="file_upload" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file3_path}>" download="<{$file3_name}>">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file3_name}>
						</a>
						<button type="button" onclick="del_file('file3', '<{$file3_path}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div style="padding-top: 5px;">
					<{if $file4_name == '' }>
						<input type="file" name="file4" id="file4" class="file_upload" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file4_path}>" download="<{$file4_name}>">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file4_name}>
						</a>
						<button type="button" onclick="del_file('file4', '<{$file4_path}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
				<div style="padding-top: 5px;">
					<{if $file5_name == '' }>
						<input type="file" name="file5" id="file5" class="file_upload" style="width:30%"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<{else}>
						<a type="application/octet-stream" href="./uploads/<{$file5_path}>" download="<{$file5_name}>">
							<img src="images/common/ico/ico_file.gif" alt="파일"> <{$file5_name}>
						</a>
						<button type="button" onclick="del_file('file5', '<{$file5_path}>');" class="btn_small">삭제</button>
					<{/if}>
				</div>
			</div>
		</div>
		<button type="button" onclick="location.href='project_staff_list.php'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>취소</span></button>
		<{if $session_s_no == '62' && $title == '수정하기'}>
		<button type="button" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;" onclick="check_form(document.proj_staff_frm);"><span><{$title}></span></button>
		<{elseif ($session_s_no == '62' || $session_s_no == '207') && $title == '등록하기'}>
		<button type="button" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;" onclick="check_form(document.proj_staff_frm);"><span><{$title}></span></button>
		<{/if}>
	</form>
	<{if $pj_s_no}>
	<div class="project-list" style="clear: both; margin: 20px 0;">
		<h4 style="margin-bottom: 5px; font-size: 20px; font-weight: bold;">● 참여 프로젝트 리스트</h4>
		<iframe src="project_list_iframe.php?pj_s_no=<{$pj_s_no}>" width="1220" height="500" frameborder="0"></iframe>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){

        $(".file_upload").change(function(){

            var fileSize = 0;

            if($.browser.msie){
                var objFSO 	 = new ActiveXObject("Scripting.FileSystemObject");
                var sPath 	 = $(this)[0].value;
                var objFile  = objFSO.getFile(sPath);
                fileSize 	 = (objFile.size/ 1024) / 1024;
            }else {
                fileSize 	 = (($(this)[0].files[0].size / 1024) / 1024);
            }

            if(fileSize > 10) {
                $(this).val("");
                alert("10MB 이상 파일은 등록하실 수 없습니다.");
            }
        });

        //발주담당자 자동완성
        $("#s_name").autocomplete({
            source: function( request, response ) {
                $("#s_no").val('');
                $.ajax({
                    url: "/v1/api/project.staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.s_name,
                                sname : item.s_name,
                                team : item.team,
                                team_name : item.team_name,
                                my_c_no : item.my_c_no
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#s_no").val(ui.item.sno);
                $('#s_name').val(ui.item.sname);
                $("#my_c_no").val(ui.item.my_c_no);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });
    });



	// 저장시 필수값 체크
	function check_form(f)
	{
		<{if !permissionNameCheck($session_permission, '서비스운영')}>
			alert('서비스운영 권한이 있어야 합니다.');
			return false;
		<{/if}>

        if(cknull("active") == "x" ){
            alert("투입가능여부를 선택해주세요");
            return false;
        }

        if(cknull("my_c_no") == "x" ){
            alert("소속회사를 선택해주세요");
            return false;
        }

        if(cknull("s_name") == "x" || cknull("s_no") == "x"){
            alert("이름을 다시 입력해주세요");
            return false;
        }

        f.submit();
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

    // 파일 삭제하기
    function del_file(folder, file)
	{
        var f = document.proj_staff_frm;
        f.process.value = 'del_file';
        f.folder.value = folder;
        f.file_path.value = file;

        if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
            f.submit();
        }else{ //취소
            return;
        }
    }

</script>

</body>
</html>
