<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 950px; min-width: 950px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 11px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.pj_staff_wrapper{display: none;}
	.close_sub_btn{display: none;}
	.open_sub_btn, .close_sub_btn{background: #333; color: white; font-weight: bold; border-radius: 5px;}
	.add_staff_btn{background: #333; color: white; font-weight: bold; border-radius: 5px; float: right;}
	.add_staff_btn:disabled{opacity: .65;}
	.form-control{font-size: 12px;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" action="project_staff_list_input_iframe.php" class="form-inline" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<div class="form-group">
			<label for="sch_pj_name" style="margin-right: 10px;">내부통용_사업명</label>
			<input type="text" id="sch_pj_name" name="sch_pj_name" value="<{$sch_pj_name}>" class="form-control" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_manager" style="margin-left: 15px; margin-right: 10px;">담당자</label>
			<input type="text" id="sch_manager" name="sch_manager" value="<{$sch_manager}>" class="form-control" style="width: 100px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_agency" style="margin-left: 15px; margin-right: 10px;">수요기관</label>
			<input type="text" id="sch_agency" name="sch_agency" value="<{$sch_agency}>" class="form-control" style="width: 120px;" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;" onclick="submit();">검색</button>
		</div>
		<div style="margin-left: 70px">
			<button onclick="sort_search('pj_s_date')">사업시작일순<{if $ord_type == 'pj_s_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
			<button onclick="sort_search('pj_e_date')">사업종료일순<{if $ord_type == 'pj_e_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
		</div>
	</form>
	<table class="table table-bordered" style="max-width: 900px; margin-top: 6px;">
		<colgroup>
			<col width="40" />
			<col width="60" />
			<col width="150" />
			<col width="120" />
			<col width="70" />
			<col width="70" />
			<col width="70" />
			<col width="70" />
			<col width="60" />
			<col width="60" />
			<col width="60" />
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">no</th>
				<th scope="col" rowspan="2">진행상태</th>
				<th scope="col" rowspan="2">내부통용_사업명</th>
				<th scope="col" rowspan="2">수요기관</th>
				<th scope="col" rowspan="2">구분</th>
				<th scope="col" colspan="2">사업기간</th>
				<th scope="col" rowspan="2">담당자</th>
				<th scope="col" colspan="3">투입 리소스</th>
			</tr>
			<tr>
				<th scope="col">시작</th>
				<th scope="col">종료</th>
				<th scope="col">인원</th>
				<th scope="col">리소스</th>
				<th scope="col">상세</th>
			</tr>
		</thead>
		<tbody>
		<{if $project_list}>
			<{foreach from=$project_list item=project}>
			<tr class="pj_main_<{$project.pj_no}>">
				<td class="text-center"><{$project.pj_no}></td>
				<td class="text-center"><{$project.state_name}></td>
				<td class="text-left"><{$project.pj_name}></td>
				<td class="text-left"><{$project.agency}></td>
				<td class="text-center"><{$project.cal_state_name}></td>
				<td class="text-center"><{$project.pj_s_date}></td>
				<td class="text-center"><{$project.pj_e_date}></td>
				<td class="text-center"><{$project.manager_name}></td>
				<td class="text-center"><{$project.total_pj_staff}></td>
				<td class="text-center"><{$project.total_pj_resource}></td>
				<td class="text-center">
					<button type="button" onclick="openSub('<{$project.pj_no}>')" class="open_sub_btn open_sub_btn_<{$project.pj_no}>">열기</button>
					<button type="button" onclick="closeSub('<{$project.pj_no}>')" class="close_sub_btn close_sub_btn_<{$project.pj_no}>">닫기</button>
				</td>
			</tr>
			<tr class="pj_sub_<{$project.pj_no}> pj_staff_wrapper">
				<td colspan="2"></td>
				<td colspan="9">
					<table class="table table-striped table-bordered" style="width: inherit;">
						<colgroup>
							<col width="60" />
							<col width="100" />
							<col width="220" />
							<col width="100" />
						</colgroup>
						<thead class="thead-dark text-center">
							<tr>
								<th scope="col"></th>
								<th scope="col">이름</th>
								<th scope="col">투입날짜</th>
								<th scope="col">투입리소스</th>
							</tr>
						</thead>
						<tbody>
						<{if $project.staff_list}>
							<{foreach from=$project.staff_list item=project_staff}>
							<form name="apply_frm<{$project_staff.pj_r_no}>" id="apply_frm<{$project_staff.pj_r_no}>" class="apply_frm" action="project_staff_list_input_iframe.php" method="post" onsubmit="return false;" >
								<input type="hidden" name="pj_no" value="<{$project_staff.pj_no}>">
								<input type="hidden" name="pj_r_no" value="<{$project_staff.pj_r_no}>">
								<input type="hidden" name="pj_s_no" value="<{$project_staff.pj_s_no}>">
								<input type="hidden" name="process" value="">
								<tr>
									<td class="text-center" style="padding:0;">
										<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px;" onclick="del_staff('<{$project_staff.pj_r_no}>')" <{if !$project.editable}>disabled<{/if}>>삭제</button>
									</td>
									<th class="text-center">
										<{$project_staff.s_name}>
									</th>
									<td class="text-center">
										<input type="text" class="date-picker form-control" onchange="save_el('<{$project_staff.pj_r_no}>', 'pir_s_date', this)" name="pir_s_date" value="<{$project_staff.pir_s_date}>" style="width: 70px; text-align: center; margin: 0; display: inline-block; line-height: 11px; font-size: 11px; padding: 0;" <{if !$project.editable}>disabled<{/if}>>
										~
										<input type="text" class="date-picker form-control" onchange="save_el('<{$project_staff.pj_r_no}>', 'pir_e_date', this)" name="pir_e_date" value="<{$project_staff.pir_e_date}>" style="width: 70px; text-align: center; margin: 0; display: inline-block; line-height: 11px; font-size: 11px; padding: 0;" <{if !$project.editable}>disabled<{/if}>>
									</td>
									<td style="color: red; padding: 0 10px;" class="text-center">
										<input type="text" class="form-control" onchange="save_el('<{$project_staff.pj_r_no}>', 'resource', this)" name="resource" value="<{$project_staff.resource}>" style="width: 50px; text-align: center; color: red; margin-right: 5px; display: inline-block; line-height: 12px; font-size: 12px; padding: 0;" <{if !$project.editable}>disabled<{/if}>>%
									</td>
								</tr>
							</form>
							<{/foreach}>
						<{else}>
							<tr>
								<td class="text-center" colspan="4">투입 인력이 없습니다</td>
							</tr>
						<{/if}>
						<tr style="background: white; border-left: 0; border-right: 0; border-bottom: 0;">
							<td colspan="4">
								<form name="input_frm<{$project.pj_no}>" id="input_frm<{$project.pj_no}>" class="apply_frm" action="project_staff_list_input_iframe.php" method="post" onsubmit="return false;" >
									<input type="hidden" name="pj_no" value="<{$project.pj_no}>">
									<input type="hidden" name="search_url" value="<{$search_url}>">
									<input type="hidden" name="pj_s_no_list" value="">
									<input type="hidden" name="process" value="">
									<button type="button" class="add_staff_btn" onclick="add_staff('<{$project.pj_no}>')" style="padding: 5px 10px;" <{if !$project.editable}>disabled<{/if}>>투입인력 추가</button>
								</form>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<{/foreach}>
			<tr>
				<td colspan="10" class="paging_wrap">
					<div class="paging_wrap" style="margin-top: 2px; margin-bottom: 2px;">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		<{else}>
			<tr>
				<td class="text-center" colspan="10">투입 인력이 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>
</div>

<script type="text/javascript">

    function searchList(){
        document.search_form.submit();
    }

    function sort_search(type)
    {
        var f = document.forms['search_form'];
        var ord_type_by = $("#ord_type_by").val();

        $("#ord_type").val(type);

        if(ord_type_by == '1'){
            $("#ord_type_by").val("2");
        }else if(ord_type_by == '2'){
            $("#ord_type_by").val("");
        }else{
            $("#ord_type_by").val("1");
        }

        f.submit();
    }

    function openSub(pj_no){
        $(".open_sub_btn_"+pj_no).hide();
        $(".close_sub_btn_"+pj_no).show();
        $(".pj_sub_"+pj_no).show();
	}

    function closeSub(pj_no)
	{
        $(".close_sub_btn_"+pj_no).hide();
        $(".pj_sub_"+pj_no).hide();
        $(".open_sub_btn_"+pj_no).show();
    }

    function del_staff(pj_r_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_r_no + "');");
        f.process.value='project_output_staff';
        if (confirm("투입인력을 삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        }
        else
        {
            f.process.value='';
            return;
        }
    }

    function add_staff(pj_no)
    {
        eval("var f=document.getElementById('input_frm" + pj_no + "');");
        f.process.value='project_input_staff';

        var chk = parent.document.getElementsByName("chk[]");

        for (var i=0; i<chk.length; i++) {
            if (chk[i].checked) {
                var k = chk[i].value;
                var current_status = f.elements['od_status[' + k + ']'].value;
            }
        }

        if (confirm("투입인력을 추가 하시겠습니까?") == true)
        { // 확인
            f.submit();
        }
        else
        { //취소
            f.process.value='';
            return;
        }
    }

    function save_el(no, proc, obj)
    {
        var f = obj.form;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left - 150, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
        var value = obj.value;

        if(proc == "resource"){
            var pj_s_no    = f.pj_s_no.value;
            var pir_s_date = f.pir_s_date.value;
            var pir_e_date = f.pir_e_date.value;
            $.post("project_staff_list_input_iframe.php", {pj_r_no : no, pj_s_no: pj_s_no, pir_s_date: pir_s_date, pir_e_date: pir_e_date, process : proc, value: value}, function(resultData){
                var jsonData = JSON.parse(resultData);
                var result   = jsonData.result;
                var msg   	 = jsonData.msg;

                if(result == '1' || result == '2'){
                    d_msg.appendTo($(obj).closest('td')).html(msg).fadeOut(2000);
                }else if(result == '3'){
                    f.resource.value=0;
                    alert(msg);
                }
            });
        }else{
            $.post("project_staff_list_input_iframe.php", {pj_r_no : no, process : proc, value : value}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }
</script>
</body>
</html>
