<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 1900px; min-width: 900px !important; box-sizing: border-box;}
	.admin_content table td{vertical-align: middle;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
	.table td, .table th{padding: 0.1rem 0.4rem; vertical-align: middle;}
	.table thead th{vertical-align: middle;}
	.form-control {padding: .375rem .4rem;}
</style>

<div class="admin_content">
	<div style="width: 715px;margin-right: 20px; float: left;">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<form method="get" name="search_form" action="project_staff_list.php" class="form-inline" autocomplete="off">
			<div class="form-group" style="width: 100%; margin-bottom: 5px;">
				<input type="text" id="sch_date" name="sch_date" value="<{$sch_date}>" class="form-control date-picker" style="width: 105px; font-size: 15px; margin-right: 13px; float: left; font-weight: bold; color : red; text-align: center;"/>
				<span style="color: red;font-size: 20px; font-weight: bold; float: left; display: inline-block; line-height: 39px;">확정 <{$pj_input_staff_per}>%</span>

				<label for="sch_active" style="font-size: 12px; float: left; margin: 0; line-height: 35px; margin-left: 20px;"></label>
				<select name="sch_active" id="sch_active" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$active_option key=key item=label}>
						<option value="<{$key}>" <{if $key == $sch_active}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_s_name" style="font-size: 12px; float: left; margin: 0; line-height: 35px; margin-left: 20px;">이름</label>
				<input type="text" id="sch_s_name" name="sch_s_name" value="<{$sch_s_name}>" class="form-control" style="padding: 0.4rem; width: 100px; line-height: 12px; font-size: 12px; margin-left: 5px; float: left;" onkeydown="javascript:if(event.keyCode == 13)searchList();"  />

				<label for="sch_info" style="font-size: 12px; float: left; margin: 0; line-height: 35px; margin-left: 20px;">인력정보</label>
				<input type="text" id="sch_info" name="sch_info" value="<{$sch_info}>" class="form-control" style="padding: 0.4rem; width: 100px; line-height: 12px; font-size: 12px; margin-left: 5px; float: left;" onkeydown="javascript:if(event.keyCode == 13)searchList();"  />
				<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px; float: left;" onclick="submit();">검색</button>
			</div>
		</form>
		<{if $staff_deactivate_list}>
		<div style="margin: 5px 0;">
			<b style="color: red;">퇴사자 활동상태(active) : <{$staff_deactivate_list|count}>명</b>
			<{if $staff_deactivate_list}>
				// 
				<{foreach from=$staff_deactivate_list item=staff_deactivate}>
				<span style="color: gray"><{$staff_deactivate.s_name}></span>
				<{/foreach}>
			<{/if}>
		</div>
		<{/if}>
		<table class="table table-striped table-bordered" style=" margin-top: 4px;">
			<colgroup>
				<col width="60" />
				<col width="80" />
				<col width="120" />
				<col width="100" />
				<col width="80" />
				<col width="80" />
				<col width="80" />
				<col width="255" />
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2" style="font-size: 11px;"></th>
					<th scope="col" rowspan="2" style="font-size: 11px;">활동상태</th>
					<th scope="col" rowspan="2" style="font-size: 11px;">소속회사</th>
					<th scope="col" rowspan="2" style="font-size: 11px;">이름</th>
					<th scope="col" colspan="3" style="font-size: 11px;">투입 리소스</th>
					<th scope="col" rowspan="2" style="font-size: 11px;">인력정보</th>
				</tr>
				<tr>
					<th scope="col" style="font-size: 11px;">확정</th>
					<th scope="col" style="font-size: 11px;">미확정</th>
					<th scope="col" style="font-size: 11px;">가용</th>
				</tr>
			</thead>
			<tbody>
			<{if $project_staff_list}>
				<{foreach from=$project_staff_list key=idx item=project_staff}>
					<tr>
						<td class="text-center">
							<input type='hidden' name='pj_s_no[<{$idx}>]' id="pj_s_no_<{$idx}>" value='<{$project_staff.pj_s_no}>'>
							<input type='checkbox' name='chk[]' value='<{$idx}>' id='chk_<{$idx}>' onclick='upd_item_chk(this)'>
						</td>
						<td class="text-center">
							<span style="font-size:11px;"><{$project_staff.active_name}></span>
						</td>
						<td class="text-left">
							<span style="font-size:11px;"><{$project_staff.my_c_name}></span>
						</td>
						<td class="text-center">
							<a href="project_staff_regist.php?pj_s_no=<{$project_staff.pj_s_no}>" target="_black" style="font-size: 13px; font-weight: bold;">
								<{$project_staff.s_name}>
							</a>
							<{if $staff_deactivate_list}>
								<{foreach from=$staff_deactivate_list item=staff_deactivate}>
									<{if $project_staff.s_no == $staff_deactivate.s_no}>
										<br><span style="color: red">(퇴사자)</span><br/>
									<{/if}>
								<{/foreach}>
							<{/if}>
						</td>
						<td class="text-center" style="color: red; font-weight: bold;">
							<{$project_staff.confirm_resource}>%
						</td>
						<td class="text-center" style="color: red; font-weight: bold;">
							<{$project_staff.total_resource}>%
						</td>
						<td class="text-center" style="color: darkgreen; font-weight: bold;">
							<{assign var=avail_resource value=100-$project_staff.total_resource}>
							<{$avail_resource}>%
						</td>
						<td class="text-center">
							<textarea style="width: 235px; height: 40px;" onfocus="text_area_click(this)" onfocusout="text_area_click_out(this)" readonly><{$project_staff.info}></textarea>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="text-center" colspan="8">투입 인력이 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="8" class="paging_wrap">
					<div class="paging_wrap" style="margin-top: 2px; margin-bottom: 2px;">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div style="float: left; width: 1000px;">
		<h2 class="title" style="margin-bottom:10px">● 사업리스트의 투입인력</h2>
		<iframe src="project_staff_list_input_iframe.php" width="1000" height="800" frameborder="0" id="project_staff_list_input_iframe"></iframe>
	</div>
	<br/>
	<{if ($session_s_no == '22' || $session_s_no == '62' || $session_s_no == '207')}>
	<div class="left_wrap" style="clear: both;">
		<button type="button" onclick="addProjectStaff()" class="btn btn-dark font-weight-bold" style="font-size: 13px; line-height: 25px;"><span>인력 추가 등록</span></button>
	</div>
	<{/if}>
</div>

<script type="text/javascript">
    // text_area 클릭 시 사이즈 확장
    function text_area_click(f){
        f.style.backgroundColor="yellow";
        f.style.height = (f.scrollHeight)+"px"; // 자동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f){
        f.style.backgroundColor="";
        f.style.height = "50px"; // 수동설정
    }

    function upd_item_chk(obj)
    {
        var idx    	 = $(obj).val();
        var pj_s_no  = $("#pj_s_no"+idx).val();
        var checked  = obj.checked;

        $(".chk_"+pj_s_no).attr('checked', checked);
    }

    function addProjectStaff()
    {
		<{if !permissionNameCheck($session_permission, '서비스운영')}>
			alert('서비스운영 권한이 있어야 합니다.');
			return false;
		<{/if}>

        location.href='project_staff_regist.php';
    }

    function searchList(){
        document.search_form.submit();
    }
</script>
</body>
</html>
