<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	div.admin_content{min-width: 2370px;}
	.table_list_style input{font-size: 12px;}
	.table_list_style select{font-size: 12px;}
	.table_list_style .table .thead-dark th{vertical-align: middle;}
	.spend-hide{display: none;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" id="search_form" name="search_form" class="form-inline" action="project_expenses.php" autocomplete="off">
		<input type="hidden" name="ori_ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<div class="form-group" style="width: 100%;">
			<label for="sch_pj_no" style="margin-left: 0;">pj_no</label>
			<input type="text" id="sch_pj_no" class="form-control" name="sch_pj_no" value="<{$sch_pj_no}>" style="width: 80px;" />

			<label for="sch_pj_name">내부통용_사업명</label>
			<input type="text" id="sch_pj_name" class="form-control" name="sch_pj_name" value="<{$sch_pj_name}>" style="width: 150px; background-color:yellow;" />

			<label for="sch_payment_contents">개인경비내용</label>
			<input type="text" id="sch_payment_contents" class="form-control" name="sch_payment_contents" value="<{$sch_payment_contents}>" style="width: 150px;" />

			<label for="sch_cal_method" >정산방법</label>
			<select id="sch_cal_method" name="sch_cal_method" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$cal_method_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_cal_method == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_spend_method" >지출방식</label>
			<select id="sch_spend_method" name="sch_spend_method" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$spend_method_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_spend_method == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_req_name">제출자(기안자)</label>
			<select id="sch_req_team" name="sch_req_team" class="select_type2" style="margin-right:10px">
				<{foreach from=$sch_team_list key=team_code item=label}>
				<option value="<{$team_code}>" <{if $sch_req_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<input type="text" id="sch_req_name" class="form-control" name="sch_req_name" value="<{$sch_req_name}>" style="width: 100px;" />

			<label for="sch_req_s_date">작성일(기안일)</label>
			<input type="text" id="sch_req_s_date" name="sch_req_s_date" value="<{$sch_req_s_date}>" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<span class="tlt"> ~ </span>
			<input type="text" id="sch_req_e_date" name="sch_req_e_date" value="<{$sch_req_e_date}>" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<input type="checkbox" name="sch_req_all_chk" onchange="chk_req_all();" <{if $sch_req_all == 'all'}>checked<{/if}> value="all"/>전체
			<input type="hidden" name="sch_req_all" id="sch_req_all" value="<{$sch_req_all}>" />
		</div>

		<div class="form-group" style="width: 100%; margin-top: 5px;">
			<label for="sch_appr_s_date" style="margin-left: 0;">승인일(지급일)</label>
			<input type="text" id="sch_appr_s_date" name="sch_appr_s_date" value="<{$sch_appr_s_date}>" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
			<span class="tlt"> ~ </span>
			<input type="text" id="sch_appr_e_date" name="sch_appr_e_date" value="<{$sch_appr_e_date}>" class="form-control date-picker" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

			<label for="sch_c_name">업체명/성명</label>
			<input type="text" id="sch_c_name" class="form-control" name="sch_c_name" value="<{$sch_c_name}>" style="width: 150px;" />

			<label for="sch_exp_status">진행상태</label>
			<select id="sch_exp_status" name="sch_exp_status" class="form-control" style="margin-right:10px">
				<option value="">::전체::</option>
				<{foreach from=$expenses_status_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_exp_status== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_pj_kind">구분</label>
			<input type="text" id="sch_pj_kind" class="form-control" name="sch_pj_kind" value="<{$sch_pj_kind}>" style="width: 150px;" />

			<label for="sch_bankbook" >출금통장</label>
			<select id="sch_bankbook" name="sch_bankbook" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$bankbook_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_bankbook == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_bk_name">예금주</label>
			<input type="text" id="sch_bk_name" class="form-control" name="sch_bk_name" value="<{$sch_bk_name}>" style="width: 100px;" />

			<label for="sch_memo">비고</label>
			<input type="text" id="sch_memo" class="form-control" name="sch_memo" value="<{$sch_memo}>" style="width: 200px;" />

			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
		<input type="hidden" id="cur_date" value="<{$cur_date}>">
	</form>

	<div style="margin: 10px 0;">
		<{if $excel_editable}>
			<button type="button" onclick="window.open('project_expenses_window.php?auto_pj_no=<{$sch_pj_no}>', '사업비 지출관리 추가등록(개인경비)', 'left=50,top=50,width=1700,height=1000,scrollbars=yes')" style="background: #555; color: white; font-size: 12px; font-weight: bold; padding: 10px 15px; border-radius: 5px; ">사업비 지출관리 추가등록(개인경비)</button>
			<button type="button" onclick="window.open('project_expenses_withdraw_window.php?auto_pj_no=<{$sch_pj_no}>', '사업비 지출관리 추가등록(출금리스트)', 'left=50,top=50,width=1700,height=1000,scrollbars=yes')" style="background: #555; color: white; font-size: 12px; font-weight: bold; padding: 10px 15px; border-radius: 5px; ">사업비 지출관리 추가등록(출금리스트)</button>
			<button type="button" onclick="addNewExpenses()" style="background: #555; color: white; font-size: 12px; font-weight: bold; padding: 10px 15px; border-radius: 5px; ">사업비 지출관리 추가등록(지출품의서)</button>
		<{/if}>
	</div>
	<div class="table_list_style">
		<table class="table table-striped table-bordered" style="margin-top: 10px; table-layout: unset; ">
			<colgroup>
				<col width="40px;">
				<col width="60px;">
				<col width="230px;">
				<col width="160px;">
				<col width="100px;">
				<col width="80px;">
				<col width="110px;">
				<col width="70px;">
				<col width="85px;">
				<col width="85px;">
				<col width="85px;">
				<col width="85px;">
				<col width="85px;">
				<col width="120px;">
				<col width="110px;">
				<col width="90px;">
				<col width="120px;">
				<col width="100px;">
				<col width="120px;">
				<col width="120px;">
				<col width="230px;">
				<col width="120px;">
			</colgroup>
			<thead class="thead-dark text-center">
			<tr>
				<td colspan="13" style="text-align: right; border-right: 0;">
					<span style="font-size: 14px; font-weight: bold; color: red;">￦ <{$total_price}></span>
				</td>
				<td colspan="9" id="order-wrapper" style="text-align: right; border-left: 0;">
					<button onclick="sort_search('pj_name')">사업명 순<{if $ord_type == 'pj_name'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<span style="padding: 0px 5px;">|</span>
					<button onclick="sort_search('req_name')">제출자(기안자)순<{if $ord_type == 'req_name'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<span style="padding: 0px 5px;">|</span>
					<button onclick="sort_search('req_date')">작성일순<{if $ord_type == 'req_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<span style="padding: 0px 5px;">|</span>
					<button onclick="sort_search('appr_date')">승인일순<{if $ord_type == 'appr_date'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
					<span style="padding: 0px 5px;">|</span>
					<button onclick="sort_search('kind')">구분순<{if $ord_type == 'kind'}><span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
				</td>
			</tr>
			<tr>
				<th class="first" style="min-width:26px;" rowspan="2">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th scope="col" rowspan="2">
					no<br/>
					<button type="button" style="width:40px; padding: 2px 2px; color:black; background-color:#d5d5d5;" onclick="multi_save_el('chk_multi_delete');" class="btn_small">삭제</button>
				</th>
				<th scope="col" rowspan="2">내부통용_사업명 pj_no</th>
				<th scope="col" rowspan="2">개인경비내용</th>
				<th scope="col" rowspan="2">구분</th>
				<th scope="col" rowspan="2">정산방법</th>
				<th scope="col" rowspan="2">지출방식</th>
				<th scope="col" colspan="4">개인경비(지출품의서)</th>
				<th scope="col" rowspan="2">세액</th>
				<th scope="col" rowspan="2">지출액</th>
				<th scope="col" colspan="7" class="spend-show">지출품의 지급정보<a href="javascript:void(0)" style="color: white;" onclick="toggleTable('spend', 'hide')">◀</a></th>
				<th scope="col" colspan="1" class="spend-hide">지출품의 지급정보<a href="javascript:void(0)" style="color: white;" onclick="toggleTable('spend', 'show')">▶</a></th>
				<th scope="col" rowspan="2">비고</th>
				<th scope="col" rowspan="2">
					진행상태<br>
					<select name="chk_status" id="chk_status" style="background-color:lightgray;" class="select_type1" onchange="multi_save_el('chk_multi_status');">
						<option value="">::선택::</option>
						<{foreach from=$expenses_status_option key=key item=label}>
						<option value="<{$key}>" <{if $key > 3 && !$select_editable}>disabled<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				</th>
			</tr>
			<tr>
				<th scope="col">제출자(기안자)</th>
				<th scope="col">작성일(기안일)</th>
				<th scope="col">승인일(지급일)</th>
				<th scope="col">청구금액(공급가)</th>
				<th scope="col" class="spend-show">업체명/성명</th>
				<th scope="col" class="spend-show">출금통장</th>
				<th scope="col" class="spend-show">은행명</th>
				<th scope="col" class="spend-show">계좌번호</th>
				<th scope="col" class="spend-show">예금주</th>
				<th scope="col" class="spend-show">예금주정보</th>
				<th scope="col" class="spend-show">원천세 신고방식</th>
				<th scope="col" rowspan="1" class="spend-hide">----▶</th>
			</tr>
			</thead>
			<tbody style="font-size: 12px;">
			<{if $project_expenses_list}>
			<{foreach from=$project_expenses_list item=project_expenses}>
			<form name="apply_frm<{$project_expenses.pj_e_no}>" id="apply_frm<{$project_expenses.pj_e_no}>" class="apply_frm" action="project_expenses.php" method="post" onsubmit="return false;" >
				<input type="hidden" name="pj_e_no" value="<{$project_expenses.pj_e_no}>" />
				<input type="hidden" name="search_url" value="<{$search_url}>" />
				<input type="hidden" name="process" value="" />

				<tr>
					<td style="vertical-align: middle;">
						<{if $project_expenses.editable || $select_editable}>
						<input type="checkbox" name="select_check[]" class="select_check" value="<{$project_expenses.pj_e_no}>">
						<{/if}>
					</td>
					<td id="row_<{$project_expenses.pj_e_no}>" style="vertical-align: middle;"> <!-- no -->
						<{$project_expenses.pj_e_no}><br/>
						<{if $project_expenses.editable || $select_editable}>
						<{if $project_expenses.spend_method == '1'}>
							<a href="#" onclick="row_duplicate('<{$project_expenses.pj_e_no}>');"><span style="font-size:8px;">[복제]</span></a>
						<{/if}>
						<a href="#" onclick="row_delete('<{$project_expenses.pj_e_no}>');"><span style="font-size:8px;">[삭제]</span></a>
						<{/if}>
					</td>
					<td> <!-- 내부통용_사업명 pj_no -->
						<input type="text" name="pj_name" id="pj_name_<{$project_expenses.pj_e_no}>" class="auto_pj_name input_type4"  attr-key="<{$project_expenses.pj_e_no}>" style="width:159px; float: left;" value="<{$project_expenses.pj_name}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
						<input type="hidden" name="pj_no" id="pj_no_<{$project_expenses.pj_e_no}>" value="" />
						<input type="hidden" name="ori_pj_no" value="<{$project_expenses.pj_no}>" />
						<{if $project_expenses.pj_no}>
						<span style="float: left; line-height: 30px; margin: 0 2px;" id="pj_no_span_<{$project_expenses.pj_e_no}>" ><{$project_expenses.pj_no}></span>
						<a href="project_regist.php?pj_no=<{$project_expenses.pj_no}>" target="_blank" id="pj_href_<{$project_expenses.pj_e_no}>" style="float: left; display: inline-block; padding-top: 9px;"><img src="./images/icon/new_win_icon.png"></a>
						<{/if}>
					</td>
					<td style="text-align: left;"><!-- 개인경비 내용 -->
						<{if $project_expenses.wd_no > 0}>
							<{$project_expenses.wd_content}>
						<{else}>
							<{$project_expenses.pe_content}>
						<{/if}>
					</td>
					<td> <!-- 구분 -->
						<select name="kind" class="select_type2" style="width: 110px;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_kind', this);" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
							<option value="">::선택::</option>
							<{if $project_expenses.kind_list}>
								<{foreach from=$project_expenses.kind_list key=key item=label}>
								<option value="<{$key}>" <{if $project_expenses.kind == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							<{/if}>
						</select>
					</td>
					<td> <!-- 정산방법 -->
						<select name="cal_method" class="select_type2" style="width: 70px;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_cal_method', this);" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
							<option value="">::선택::</option>
							<{foreach from=$cal_method_option key=key item=label}>
							<option value="<{$key}>" <{if $project_expenses.cal_method == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 지출방식 -->
						<select name="spend_method" class="select_type2" style="width: 90px; float: left;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_spend_method', this);" disabled>
							<option value="">::선택::</option>
							<{foreach from=$spend_method_option key=key item=label}>
							<option value="<{$key}>" <{if $project_expenses.spend_method == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<{if $project_expenses.pe_no}>
							<a href="personal_expenses.php?sch_corp_my_c_no=&sch_pe_no=<{$project_expenses.pe_no}>&sch_req_s_name=&sch_month_all=all" target="_blank" style="float: left; display: inline-block; padding-top: 9px;"><img src="./images/icon/new_win_icon.png"></a>
						<{/if}>
						<{if $project_expenses.wd_no}>
							<a href="withdraw_list.php?sch_wd_no=<{$project_expenses.wd_no}>" target="_blank" style="float: left; display: inline-block; padding-top: 9px;"><img src="./images/icon/new_win_icon.png"></a>
						<{/if}>
					</td>
					<td> <!-- 제출자(기안자) -->
						<input type="text" name="req_name" id="req_name_<{$project_expenses.pj_e_no}>" attr-key="<{$project_expenses.pj_e_no}>" class="auto_s_name input_type4" style="width:60px; float: left;" value="<{$project_expenses.req_name}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}> />
						<input type="hidden" name="req_s_no" id="req_s_no_<{$project_expenses.pj_e_no}>" value="<{$project_expenses.req_s_no}>" />
						<input type="hidden" name="req_team" id="req_team_<{$project_expenses.pj_e_no}>" value="<{$project_expenses.req_team}>" />
					</td>
					<td> <!-- 작성일(기안일) -->
						<input type="text" name="req_date" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_req_date', this);" class="date-picker input_type_date" value="<{$project_expenses.req_date}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}> />
					</td>
					<td> <!-- 승인일(지급일) -->
						<input type="text" name="appr_date" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_appr_date', this);" class="date-picker input_type_date" value="<{$project_expenses.appr_date}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}> />
					</td>
					<td> <!-- 청구금액(공급가) -->
						<input type="text" name="supply_price" onfocus="this.value=''" onchange="save_el('<{$project_expenses.pj_e_no}>','modify_supply_price', this);" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$project_expenses.supply_price|number_format:0}>" style="font-size: 12px;  color: black; width: 85px;" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
					</td>
					<td> <!-- 세액 -->
						<input type="text" name="tax_price" onfocus="this.value=''" onchange="save_el('<{$project_expenses.pj_e_no}>','modify_tax_price', this);" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$project_expenses.tax_price|number_format:0}>" style="font-size: 12px; color: black; width: 85px;" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
					</td>
					<td> <!-- 지출액 -->
						<input type="text" name="total_price" onfocus="this.value=''" onchange="save_el('<{$project_expenses.pj_e_no}>','modify_total_price', this);" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$project_expenses.total_price|number_format:0}>" style="font-size: 12px; width: 85px; <{if $project_expenses.total_price > 0}>color: blue;<{elseif $project_expenses.total_price <0}>color: red;<{else}>color: black;<{/if}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
					</td>
					<td class="spend-show"> <!-- 업체명/성명 -->
						<input type="text" name="c_name" id="c_name_<{$project_expenses.pj_e_no}>" class="input_type4 auto_c_name" attr-key="<{$project_expenses.pj_e_no}>" style="width:120px;" value="<{$project_expenses.c_name}>" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
						<input type="hidden" name="ori_c_no" value="<{$project_expenses.c_no}>" />
						<input type="hidden" name="c_no" id="c_no_<{$project_expenses.pj_e_no}>" value="<{$project_expenses.c_no}>" />
					</td>
					<td class="spend-show"> <!-- 출금통장 -->
						<select name="bankbook" class="select_type2" style="width: 100px;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_bankbook', this);" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
							<option value="">::선택::</option>
							<{foreach from=$bankbook_option key=key item=label}>
							<option value="<{$key}>" <{if $project_expenses.bankbook == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="spend-show"> <!-- 은행명 -->
						<input type="text" name="bk_title" id="bk_title_<{$project_expenses.pj_e_no}>" style="width: 80px;" class="input_type4" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_bk_title', this);" value="<{$project_expenses.bk_title}>" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
					</td>
					<td class="spend-show"> <!-- 계좌번호 -->
						<input type="text" name="bk_num" id="bk_num_<{$project_expenses.pj_e_no}>" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_bk_num', this);" class="input_type4" style="width:110px;" value="<{$project_expenses.bk_num}>" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
					</td>
					<td class="spend-show"> <!-- 예금주 -->
						<input type="text" name="bk_name" id="bk_name_<{$project_expenses.pj_e_no}>" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_bk_name', this);" class="input_type4" style="width:90px;" value="<{$project_expenses.bk_name}>" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
					</td>
					<td class="spend-show"> <!-- 예금주정보 -->
						<input type="text" name="acc_info" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_acc_info', this);" class="input_type4" style="width:90px;" value="<{$project_expenses.acc_info}>" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
						<{if $project_expenses.c_no}>
							<a href="project_partner_profile.php?c_no=<{$project_expenses.c_no}>&license_type=3" onclick="window.open(this.href, '강사 프로필', 'left=50,top=50,width=1700,height=1000,scrollbars=yes');return false;">
								<img src="./images/icon/new_win_icon.png" style="margin-top: -3px;">
							</a>
						<{/if}>
					</td>
					<td class="spend-show"> <!-- 원천세 신고방식 -->
						<{if $project_expenses.c_no && $project_expenses.corp_kind == '3'}>
						<select name="lec_vat_type" id="lec_vat_type_<{$project_expenses.pj_e_no}>" class="select_type2" style="width: 100px;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_vat_type', this);" <{if $project_expenses.spend_method == '1' && ($project_expenses.editable || $select_editable)}><{else}>disabled<{/if}>>
							<option value="">::선택::</option>
							<{foreach from=$lec_vat_type_option key=key item=label}>
							<option value="<{$key}>" <{if $project_expenses.lec_vat_type == $key}>selected<{/if}>><{$label.title}></option>
							<{/foreach}>
						</select>
						<{/if}>
					</td>
					<td class="spend-hide">----▶</td>
					<td> <!-- 비고 -->
						<input type="text" name="memo" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_memo', this);" class="input_type4" style="width:220px;" value="<{$project_expenses.memo}>" <{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
					</td>
					<td><!-- 진행상태 -->
						<select name="expenses_status" class="select_type2" style="width: 100px;" onchange="save_el('<{$project_expenses.pj_e_no}>', 'modify_status', this);"
						<{if $project_expenses.editable || $select_editable}><{else}>disabled<{/if}>>
							<option value="">::선택::</option>
							<{foreach from=$expenses_status_option key=key item=label}>
								<option value="<{$key}>" <{if $key == $project_expenses.expenses_status}>selected<{/if}> <{if $key > 2 && !$select_editable}>disabled<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
			</form>
			<{/foreach}>
			<{else}>
			<tr>
				<td colspan="22" style="text-align: left; padding-left: 5px;">데이터가 없습니다</td>
			</tr>
			<{/if}>
			<tr>
				<td colspan="22" class="paging_wrap" id="page-wrapper">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div>
		<button onclick="location.href='excel_project_expenses.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
	</div>
</div>
<form name="new_pj_exp_frm" id="new_pj_exp_frm" class="apply_frm" action="project_expenses.php" method="post" onsubmit="return false;" >
	<input type="hidden" name="process" value="add_new_expenses">
	<input type="hidden" name="sch_pj_no" value="<{$sch_pj_no}>">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<form name="upd_pj_exp_frm" id="upd_pj_exp_frm" class="apply_frm" action="project_expenses.php" method="post" onsubmit="return false;" >
	<input type="hidden" name="process" value="">
	<input type="hidden" name="chk_pj_e_no_list" value="">
	<input type="hidden" name="chk_status" value="">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">

    $(document).ready(function(){
        $(".auto_pj_name").autocomplete({
            source: function( request, response ) {
                var key = this.element.attr('attr-key');
                $("#pj_no_"+key).val("");
                $.ajax({
                    url: "/v1/api/auto_project.api.php",
                    dataType: "json",
                    data: {
                        pj_name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                pj_no : item.pj_no,
                                label : item.pj_name,
                                pj_name : item.pj_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var key = $(this).attr('attr-key');
                $("#pj_no_"+key).val(ui.item.pj_no);
                $(this).val(ui.item.pj_name);
				auto_save_element(key, 'modify_pj_no')
            },
			focus: function(event, ui) {
               return false;
			},
            minLength: 1
        });

        $(".auto_s_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/staff.api.php",
                    dataType: "json",
                    data: {
                        s_name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno   : item.s_no,
                                label : item.s_label,
                                sname : item.s_name,
                                team  : item.team
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                var key = $(this).attr('attr-key');
                $("#req_s_no_"+key).val(ui.item.sno);
                $("#req_team_"+key).val(ui.item.team);
                $(this).val(ui.item.sname);
                auto_save_element(key, 'modify_req_s_no')
            },
            focus: function( event, ui ) {
                return false;
            },
            minLength: 1
        });

		$(".auto_c_name").autocomplete({
			source: function( request, response ) {
				var key = this.element.attr('attr-key');
				$("#c_no_"+key).val("");
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								cname : item.c_name,
								label : item.sch_c_name,
								bk_title : item.bk_title,
								bk_name : item.bk_name,
								bk_num : item.bk_num,
								lec_vat_type : item.lec_vat_type
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var key = $(this).attr('attr-key');
				$("#c_no_"+key).val(ui.item.cno);
				$("#bk_title_"+key).val(ui.item.bk_title);
				$("#bk_num_"+key).val(ui.item.bk_num);
				$("#bk_name_"+key).val(ui.item.bk_name);
				$("#lec_vat_type_"+key).val(ui.item.lec_vat_type);
				$(this).val(ui.item.cname);
				auto_save_element(key, 'modify_c_no')
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

        $("#sch_req_team").combobox();

		var $chkboxes = $('.select_check');
		var lastChecked = null;

		$chkboxes.click(function(e) {
			if(!lastChecked) {
				lastChecked = this;
				return;
			}

			if(e.shiftKey) {
				var start = $chkboxes.index(this);
				var end = $chkboxes.index(lastChecked);

				$chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);
			}

			lastChecked = this;
		});
    });

    function addNewExpenses(){
       document.new_pj_exp_frm.submit();
	}

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function toggleTable(type, state)
    {
        if(state == 'show'){
            $("."+type+"-show").show();
            $("."+type+"-hide").hide();
            $("#page-wrapper").attr('colspan', '21');
            $("#order-wrapper").attr('colspan', '8');
        }else{
            $("."+type+"-show").hide();
            $("."+type+"-hide").show();
            $("#page-wrapper").attr('colspan', '16');
            $("#order-wrapper").attr('colspan', '3');
        }
    }

    function searchList(){
        document.search_form.submit();
    }

	function row_duplicate(pj_e_no)
	{
		eval("var f=document.getElementById('apply_frm" + pj_e_no + "');");
		f.process.value='row_duplicate';
		if (confirm("복제 하시겠습니까?") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

    function row_delete(pj_e_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_e_no + "');");
        f.process.value='row_delete';
        if (confirm("삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

    function auto_save_element(pj_e_no, process)
	{
		eval("var f=document.getElementById('apply_frm" + pj_e_no + "');");

		if(process == 'modify_pj_no')
		{
			var ori_pj_no = f.ori_pj_no.value;
			var pj_no 	  = f.pj_no.value;

			if(pj_no == ''){
				alert("내부통용_사업명 자동완성을 선택해주세요");
				return false;
			}else if(ori_pj_no != pj_no){
				f.process.value = process;
				f.submit();
			}
		}
		else if(process == 'modify_req_s_no')
		{
			var req_s_no  	  = f.req_s_no.value;
			var team 	  	  = f.req_team.value;

			if(req_s_no == '' || team == ''){
				alert("제출자(기안자) 자동완성을 선택해주세요");
				return false;
			}else{
				var obj	  = $("#req_name_"+pj_e_no);
				var x 	  = $(obj).position();
				var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

				$.post("project_expenses.php", {pj_e_no : pj_e_no, process : process, value : req_s_no, sub_value: team}, function(result){
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
				});
			}
		}
		else if(process == 'modify_c_no')
		{
			var ori_c_no = f.ori_c_no.value;
			var c_no 	 = f.c_no.value;

			if(c_no == ''){
				alert("업체명/성명 자동완성을 선택해주세요");
				return false;
			}else{
				f.process.value = process;
				f.submit();
			}
		}
	}

    function save_element(proc, obj)
	{
        var f = obj.form;
        f.process.value = proc;
        f.submit();
	}

    function save_el(pj_e_no, proc, obj)
    {
        var f = obj.form;
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});
        var value = obj.value;

        if(proc == "modify_bk_title")
        {
            $.ajax({
                url: "/v1/api/auto_bk_name.check.php",
                type: 'POST',
                data: {"bk_name": value}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;

                if(result == true) {
                    $.post("project_expenses.php", {pj_e_no : pj_e_no, process : proc, value : value}, function(result){
                        d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
                    });
                }else{
                    alert("은행명이 다릅니다. 확인해주세요.");
				}
            });

		}else{
            $.post("project_expenses.php", {pj_e_no : pj_e_no, process : proc, value : value}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
		}
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    function sort_search(type)
    {
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();

        $("#ord_type").val(type);

        if(ord_type_by == '1'){
            $("#ord_type_by").val("2");
        }else if(ord_type_by == '2'){
            $("#ord_type_by").val("");
        }else{
            $("#ord_type_by").val("1");
        }

        f.submit();
    }

    function chk_req_all()
	{
        eval("var f=document.getElementById('search_form');");

        if(f.sch_req_all_chk.checked){
            f.sch_req_all.value='all';
        }else{
            f.sch_req_all.value='';
        }
    }

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function multi_save_el(proc)
	{
		var chk_status = "";
		var chk_msg = "정말로 삭제하시겠습니까?";

		if(proc == 'chk_multi_status')
		{
			chk_status = $("#chk_status").val();

			if (!chk_status) {
				alert("진행상태 변경을 선택해주세요.");
				return false;
			}

			chk_msg = "진행상태를 변경하시겠습니까?";
		}

		if(confirm(chk_msg) == true)
		{
			var f = document.upd_pj_exp_frm;
			var pj_e_no_list = "";

			var select_check = document.getElementsByName("select_check[]");

			for (var i=0; i<select_check.length; i++)
			{
				if (select_check[i].checked)
				{
					if(!!pj_e_no_list){
						pj_e_no_list += ("||" + select_check[i].value);
					}else{
						pj_e_no_list += (select_check[i].value);
					}
				}
			}

			if(!pj_e_no_list){
				alert("선택된 지출관리가 없습니다");
				return false;
			}

			f.process.value= proc;
			f.chk_pj_e_no_list.value= pj_e_no_list;
			f.chk_status.value= chk_status;
			f.submit();
		}else{
			return false;
		}
	}

</script>
</body>
</html>
