<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{margin-top: -20px; min-height: 300px;}
	.admin_content{width: 800px; min-width: 800px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.starRev{display: inline-block; margin: 0 auto;}
	.starR{
		background: url('./images/icon/ico_review.png') no-repeat right 0;
		background-size: auto 100%;
		width: 15px;
		height: 15px;
		display: inline-block;
		text-indent: -9999px;
		cursor: pointer;
		float: left;
	}
	.starR.on{background-position:0 0;}
</style>

<div class="admin_content">
	<table class="table table-striped table-bordered" style="max-width: 900px; margin-top: 20px;">
		<colgroup>
			<col width="50" />
			<col width="80" />
			<col width="90" />
			<col width="80" />
			<col width="140" />
			<col width="90" />
			<col width="80" />
			<col width="80" />
			<col width="80" />
			<col width="100" />
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">#</th>
				<th scope="col">참여상태</th>
				<th scope="col">투입분야</th>
				<th scope="col">업체명<br/>(성명)</th>
				<th scope="col">만족도</th>
				<th scope="col">투입 분야<br/>평균 만족도</th>
				<th scope="col">투입 분야<br/>참여 횟수</th>
				<th scope="col">전체 분야<br/>평균 만족도</th>
				<th scope="col">전체 분야<br/>참여 횟수</th>
				<th scope="col">담당자 메모</th>
			</tr>
		</thead>
		<tbody>
		<{if $project_partner_list}>
			<{foreach from=$project_partner_list item=project_partner}>
			<form name="apply_frm<{$project_partner.pj_er_no}>" id="apply_frm<{$project_partner.pj_er_no}>" class="apply_frm" action="project_regist_external_input_iframe.php" method="post" onsubmit="return false;" >
				<input type="hidden" name="pj_no" value="<{$project_partner.pj_no}>">
				<input type="hidden" name="pj_er_no" value="<{$project_partner.pj_er_no}>">
				<input type="hidden" name="process" value="">
				<tr <{if $project_partner.pj_participation == '3'}>style="background: #c7c7c7;"<{/if}>>
					<td class="text-center" style="padding:0;">
						<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 11px;margin: 0;padding: 3px 5px 2px 4px;line-height: 14px;" onclick="del_partner('<{$project_partner.pj_er_no}>','<{$project_partner.active_pj_cnt}>','<{$project_partner.eval_no}>')">X</button>
					</td>
					<td class="text-left"> <!-- 참여상태 -->
						<select name="pj_participation" onchange="modify_participation('<{$project_partner.pj_er_no}>')" style="padding: 3px 5px;">
							<{foreach from=$pj_participation_state_option key=key item=label}>
								<{if $key != '1'}>
									<option value="<{$key}>" <{if $project_partner.pj_participation == $key}>selected<{/if}>><{$label}></option>
								<{/if}>
							<{/foreach}>
						</select>
					</td>
					<td class="text-left"> <!-- 투입분야 -->
						<select name="pj_c_type" onchange="modify_partner_type('<{$project_partner.pj_er_no}>')" style="padding: 3px 5px;">
							<option value="">::선택::</option>
							<{foreach from=$resource_type_option key=key item=label}>
								<option value="<{$key}>" <{if $project_partner.pj_c_type == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"> <!-- 업체명(성명) -->
						<{$project_partner.pj_c_name}>
					</td>
					<td style="padding: 2px; text-align: center;"><!-- 만족도 -->
						<div class="starRev">
							<{assign var=star_idx value=1}>
							<{section name=i start=1 loop=6 step=1}>
								<span class="starR <{if $project_partner.eval_score >= $star_idx}>on<{/if}>"
									  attr-no="<{$project_partner.pj_er_no}>" attr-val="<{$star_idx}>" attr-disabled="<{if !$is_editable}>1<{else}>2<{/if}>"></span>
								<{assign var=star_idx value=$star_idx+1}>
							<{/section}>
						</div>
					</td>
					<td class="text-center"> <!-- 투입 분야 평균 만족도 -->
						(<{$project_partner.part_name}>)<{$project_partner.part_avg|number_format:2}>
					</td>
					<td class="text-center"> <!-- 투입 분야 참여 횟수 -->
						(<{$project_partner.part_name}>)<{$project_partner.part_cnt|number_format:0}>
					</td>
					<td class="text-center"> <!-- 전체 분야 평균 만족도 -->
						<{$project_partner.total_avg|number_format:2}>
					</td>
					<td class="text-center"> <!-- 전체 분야 참여 횟수 -->
						<{$project_partner.total_cnt|number_format:0}>
					</td>
					<td>
						<textarea readonly><{$project_partner.c_memo}></textarea>
					</td>
				</tr>
			</form>
			<{/foreach}>
		<{else}>
			<tr>
				<td class="text-center" colspan="10">투입 인력이 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.starRev span').click(function () {
			var pj_er_no 	= $(this).attr('attr-no');
			var value 		= $(this).attr('attr-val');
			var disabled 	= $(this).attr('attr-disabled');

			if (disabled == '2') {
				$(this).parent().children('span').removeClass('on');
				$(this).addClass('on').prevAll('span').addClass('on');
				save_star_click(pj_er_no, "modify_evaluation", value, disabled, this);
			}
		});
	});

	function save_star_click(pj_er_no, proc, value, disabled, obj)
	{
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (disabled == 1)
			return false;

		if (value != "") { // 공백시 저장 예외
			$.post("project_regist_external_input_iframe.php", {pj_er_no : pj_er_no, process : proc, val : value}, function(result){
				d_msg.appendTo($(obj).closest('div')).html(result).fadeOut(2000);
			});
		}
	}

    // 공개 처리하기
    function del_partner(pj_er_no, active_cnt, cur_cnt)
    {
        if(active_cnt == 0){
            alert("기간이 지난 프로젝트 입니다. 삭제하실 수 없습니다");
            return false;
        }

        if(cur_cnt > 0){
            alert("운영진 평가 결과가 존재합니다. 삭제하실 수 없습니다");
            return false;
		}

        eval("var f=document.getElementById('apply_frm" + pj_er_no + "');");
		f.process.value='del_external_partner';
        if (confirm("외부투입인력을 삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

    function modify_partner_type(pj_er_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_er_no + "');");
        f.process.value='modify_pj_c_type';
        f.submit();
    }

    function modify_participation(pj_er_no)
    {
        eval("var f=document.getElementById('apply_frm" + pj_er_no + "');");
        f.process.value='modify_pj_participation';
        f.submit();
    }
</script>
</body>
</html>
