<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 580px; min-width: 580px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 25px; float: left; display: inline-block; line-height: 35px; text-align: center;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle;}
	.table thead th{vertical-align: middle;}
	.project-list-wrapper thead th{vertical-align: middle;}
</style>

<div class="admin_content" >
	<!-- 프로젝트 리스트 -->
	<div class="project-list-wrapper" style="clear: both; max-width: 1200px;">
		<table class="table table-striped table-bordered" style="margin-top: 5px; table-layout: fixed; max-width: 1200px;">
			<colgroup>
				<col width="50px;">
				<col width="165px;">
				<col width="60px;">
				<col width="240px;">
				<col width="150px;">
				<col width="85px;">
				<col width="85px;">
				<col width="40px;">
				<col width="60px;">
				<col width="60px;">
				<col width="60px;">
				<col width="60px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">no</th>
					<th scope="col" rowspan="2">소속회사</th>
					<th scope="col" rowspan="2">구분</th>
					<th scope="col" rowspan="2">사업명</th>
					<th scope="col" rowspan="2">수요기관</th>
					<th scope="col" colspan="2">투입기간</th>
					<th scope="col" colspan="2">총 투입인력</th>
					<th scope="col" rowspan="2">정산여부</th>
					<th scope="col" rowspan="2">작성자</th>
					<th scope="col" rowspan="2"><{$pj_s_name}><br/>리소스</th>
				</tr>
				<tr>
					<th scope="col">시작</th>
					<th scope="col">종료</th>
					<th scope="col">인원</th>
					<th scope="col">리소스</th>
				</tr>
			</thead>
			<tbody>
			<{if $total_num > 0}>
				<{foreach from=$project_list item=project}>
					<tr>
						<td class="text-center"><!-- NO -->
							<{$project.pj_no}>
						</td>
						<td><!-- 소유권 업체명 -->
							<{$project.my_c_name}>
						</td>
						<td class="text-center"><!-- 구분 -->
							<span style="color: <{$project.state_color}>"><{$project.state_name}></span>
						</td>
						<td style="font-weight: bold; font-size: 13px;"><!-- 사업명 -->
							<a href="project_regist.php?pj_no=<{$project.pj_no}>" target="_parent _blank">
								<{$project.pj_name}>
							</a>
						</td>
						<td class="text-center"><!-- 수요기관 -->
							<{$project.agency}>
						</td>
						<td class="text-center"><!-- 시작 -->
							<{$project.pir_s_date}>
						</td>
						<td class="text-center"><!-- 종료 -->
							<{$project.pir_e_date}>
						</td>
						<td class="text-center"><!-- 인원 -->
							<{$project.total_pj_staff}>
						</td>
						<td class="text-center"><!-- 리소스 -->
							<{$project.total_pj_resource}>%
						</td>
						<td class="text-center"><!-- 정산여부 -->
							<span style="color: <{$project.cal_state_color}>"><{$project.cal_state_name}></span>
						</td>
						<td class="text-center"><!-- 작성자 -->
							<{$project.req_s_name}>
						</td>
						<td class="text-center" style="color: red; font-weight: bold;"><!-- 투입리소스 -->
							<{$project.pj_resource}>%
						</td>
					</tr>
				<{/foreach}>
			<{else}>
			<tr>
				<td colspan="13" class="text-center">데이터가 없습니다</td>
			</tr>
			<{/if}>
			<tr>
				<td colspan="13" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

</body>
</html>
