<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.main_table_style table th{text-align: center;}
	.ul_kind_wrapper{color: white;border: 0;font-weight: bold;width: 200px;text-align: center;box-sizing: border-box;margin-right: 10px;float: left;line-height: 40px;position: relative;}
	.ul_kind_btn{width: 100%; height: 40px;margin:0; color: white; font-weight: bold; position: relative;}
	.ul_kind{text-align: left;margin-top: 1px;display: none;position: absolute;width: 200px;z-index: 10000;top: 40px;right: 0;}
	.ul_kind li{padding-left: 20px; cursor: pointer; border-bottom: 1px solid white;}
	.ul_kind_btn1, .ul_kind1{background: #F77B18;}
	.ul_kind_btn4, .ul_kind4{background: #F77B18;}
	.ul_kind_btn2, .ul_kind2{background: #5175FE;}
	.ul_kind_btn3, .ul_kind3{background: #6633FF;}
	.ul_kind_btn5, .ul_kind5{background: #6633FF; margin-right: 0; border-bottom: 0;}
</style>

<div class="admin_content" style="width:1650px;" >

	<h2 class="title_kind<{if $skind}><{$skind}><{/if}>" style="margin-bottom:10px; font-weight: bold; font-size: 30px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="promotion_list.php">
		<!--input type="hidden" name="code" value="<{$page_code}>"-->
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">모집상태</span>
				<select name="sstate" id="sstate" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$state_option key=key item=label}>
					<option value="<{$key}>" <{if $sstate == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">마케팅 채널</span>
				<select name="schannel" id="schannel" class="select_type2"/>
					<option value="">전체</option>
					<{foreach from=$promotion_channel_option key=key item=label}>
					<option value="<{$key}>" <{if $schannel == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">캠페인 종류</span>
				<select name="skind" id="" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$promotion_kind_option key=key item=label}>
					<option value="<{$key}>" <{if $skind == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">지역1</span>
				<select name="f_location1" id="f_location1" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$location_option key=key item=label}>
					<option value="<{$key}>" <{if $f_location1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">지역2</span>
				<select id="f_location2" name="f_location2" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$editlocation key=key item=label}>
					<option value="<{$key}>" <{if $f_location2 == $key}>selected<{/if}>><{$label.k_name}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">업체명</span>
				<input type="text" name="scompany" value="<{$scompany}>" class="input_type1" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">소속부서</span>
				<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
					<{foreach from=$sch_team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">담당자</span>
				<input type="text" name="s_name" value="<{$s_name}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">작성자</span>
				<input type="text" name="reg_s_name" value="<{$reg_s_name}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />

				<{if $session_s_no == '61' || $session_s_no == '20'}>
					<br/><br/>
					<input type="checkbox" name="sch_date_chk" id="sch_date_chk" <{if $sch_date_chk}>checked<{/if}>><label for="sch_date_chk">기간조회</label>
					<span style="font-size: 11px; color: #999;">(기간조회시 체크)</span>
					<select name="sch_date_type" id="sch_date_type" class="select_type2" style="margin-right: 5px; width: auto;">
						<{foreach from=$promotion_date_type_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_date_type == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span class="name_tit">조회 단위</span>
					<input type="radio" name="sch_date_kind" value="1" class="radio first" <{if $sch_date_kind == '1'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">월간
					<input type="radio" name="sch_date_kind" value="2" class="radio" <{if $sch_date_kind == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">주간
					<input type="radio" name="sch_date_kind" value="3" class="radio" <{if $sch_date_kind == '3'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">일간

					<span style="margin-right:15px;"></span>

					<span class="name_tit">조회 기간</span>
					<span id="sch_date_type_month" class="sch_date_type">
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>
					<span id="sch_date_type_week" class="sch_date_type">
						<input type="text" class="week-start-picker input_type_date" id="sch_s_w_date" name="sch_s_w_date" value="<{$sch_s_w_date}>" readonly />
						~
						<input type="text" class="week-end-picker input_type_date" id="sch_e_w_date" name="sch_e_w_date" value="<{$sch_e_w_date}>" readonly />
					</span>
					<span id="sch_date_type_day" class="sch_date_type">
						<input type="text" class="date-picker input_type_date" id="sch_s_date2" name="sch_s_date2" value="<{$sch_s_date2}>" />
						~
						<input type="text" class="date-picker input_type_date" id="sch_e_date2" name="sch_e_date2" value="<{$sch_e_date2}>" />
					</span>

					<script>$(".sch_date_type").hide();</script>
					<{if $sch_date_kind == '1'}>
					<script>$("#sch_date_type_month").show();</script>
					<{elseif $sch_date_kind == '2'}>
					<script>$("#sch_date_type_week").show();</script>
					<{else}>
					<script>$("#sch_date_type_day").show();</script>
					<{/if}>
				<{/if}>

				<button class="btn_small" onclick="submit();">검색</button>
			</div>
			<div class="right_wrap" style="<{if $session_s_no == '61' || $session_s_no == '20'}>margin-top: 80px;<{else}>margin-top: 50px;<{/if}>">
				<ul class="cat_style" >
					<a href="promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=<{$sdate_type}>&sdate=<{$sdate}>&od=1<{if $order == '1' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
						<{if !$order || $order != '1'}><span style="padding: 0px 5px;">모집시작순<{/if}>
						<{if $order == '1' }><span style="color:red; padding: 0px 5px;">모집시작순
							<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
						<{/if}>
					</a>
					|
					<a href="promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=<{$sdate_type}>&sdate=<{$sdate}>&od=2<{if $order == '2' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
						<{if !$order || $order != '2'}><span style="padding: 0px 5px;">모집마감순<{/if}>
						<{if $order == '2' }><span style="color:red; padding: 0px 5px;">모집마감순
							<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
						<{/if}>
					</a>
					|
					<a href="promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=<{$sdate_type}>&sdate=<{$sdate}>&od=3<{if $order == '3' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
						<{if !$order || $order != '3'}><span style="padding: 0px 5px;">발표일순<{/if}>
						<{if $order == '3' }><span style="color:red; padding: 0px 5px;">발표일순
							<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
						<{/if}>
					</a>
					|
					<a href="promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=<{$sdate_type}>&sdate=<{$sdate}>&od=4<{if $order == '4' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
						<{if !$order || $order != '4'}><span style="padding: 0px 5px;">리뷰마감일순<{/if}>
						<{if $order == '4' }><span style="color:red; padding: 0px 5px;">리뷰마감일순
							<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
						<{/if}>
					</a>
					|
					<a href="promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=<{$sdate_type}>&sdate=<{$sdate}>&od=5<{if $order == '5' && (!$order_type || $order_type == '2') }>&by=1<{else}>&by=2<{/if}>">
						<{if !$order || $order != '5'}><span style="padding: 0px 5px;">보상일순<{/if}>
						<{if $order == '5' }><span style="color:red; padding: 0px 5px;">보상일순
							<{if !$order_type || $order_type == '1' }>▲<{else}>▼<{/if}>
						<{/if}>
					</a>
				</ul>
			</div>
		</div>

		<hr width="100%" style="margin-top: 0.5rem; margin-bottom: 0.5rem;border-top: 1px solid rgb(0,0,0,.5);">

		<div class="left_wrap">
			<{foreach from=$promotion_kind_option key=key item=label}>
			<div class="ul_kind_wrapper">
				<button type="button" class="ul_kind_btn ul_kind_btn<{$key}>" onclick="openPromotionUrl('<{$key}>')">
					<{$label}> 등록하기
					<span style="position: absolute;top:1px; right: 7px;font-size: 22px;">▼</span>
				</button>
				<ul class="ul_kind ul_kind<{$key}>">
					<{foreach from=$promotion_channel_option key=ch_key item=ch_label}>
					<{if $key == '1' && ($ch_key == '5' || $ch_key == '6')}>
					<{elseif $key == '2' && ($ch_key == '8')}>
					<{elseif $key == '4' && ($ch_key == '5')}>
					<{else}>
					<li onclick="movePromotionRegist('<{$key}>', '<{$ch_key}>')">[<{$ch_label}>] <{$label}></li>
					<{/if}>
					<{/foreach}>
				</ul>
			</div>
			<{/foreach}>
		</div>

		<div class="default_wrap">
			<div class="right_wrap">
				날짜별조회
				<select name="sdate_type" id="sdate_type" class="select_type2">
					<{foreach from=$promotion_date_type_option key=key item=label}>
						<option value="<{$key}>" <{if $sdate_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<input type="text" class="input_type3 date-picker" id="sdate" name="sdate" value="<{$sdate}>" />
				<button class="btn_small" onclick="sdate_submit();">검색</button>
				<button type="button" onClick="location.href='promotion_list.php?sstate=<{$sstate}>&s_name=<{$s_name}>&skind=<{$skind}>&scompany=<{$scompany}>&sdate_type=today&sdate=<{$today}>'" class="btn_small_choice">오늘의 모집/발표/마감</button>
			</div>
		</div>
	</form>

	<br><{$total_num}>개의 검색 결과가 나타났습니다.
	<div class="main_table_style no_bdr">
		<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
			<thead>
				<tr>
					<th style="width:40px;">p_no<br/>(w_no)</th>
					<th style="width:70px;">모집상태</th>
					<th style="width:70px;">마케팅<br>채널</th>
					<th style="width:70px;">캠페인<br>종류</th>
					<th style="width:70px;">CODE</th>
					<th style="width:130px;">지역</th>
					<th style="width:200px;">업체명</th>
					<th style="width:42px;">신청<br />/<br />모집<br />(취소)</th>
					<th style="width:42px;">포스팅<br />/<br />선정<br />(취소)</th>
					<th style="width:42px;">지급<br />/<br />포스팅<br />(취소)</th>
					<th style="width:100px;">리스트 자료</th>
					<th style="width:70px;">부서<br/>담당자<br/>(작성자)</th>
					<th style="width:65px;">모집<br />시작</th>
					<th style="width:65px;">모집<br />마감</th>
					<th style="width:65px;">발표</th>
					<th style="width:65px;">리뷰<br />마감</th>
					<th style="width:65px;">보상</th>
					<th style="width:340px;">메모</th>
					<th class="last" style="width:70px;">신청일</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="17"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$promotion_list item=promotion}>
					<form name="apply_frm<{$promotion.no}>" id="apply_frm<{$promotion.no}>" class="list_form" method="post" enctype="multipart/form-data" action="promotion_list.php">
						<input type="hidden" name="p_no" id="p_no" value="<{$promotion.no}>">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="process">
						<tr>
							<td>
								<{$promotion.no}><br/>
								<a href="work_list.php?sch_w_no=<{$promotion.w_no}>">(<{$promotion.w_no}>)</a>
								<{if $promotion.state_code!="진행중단" && $promotion.p_state=='1' && (permissionNameCheck($session_permission,"서비스운영") || $promotion.s_no == $session_s_no)}>
									<br/><a href="#" onclick="del_promotion('<{$promotion.no}>');"><img title="삭제하기" src="./images/icon/delete.png"></a>
								<{/if}>
							</td>
							<td>
								<{if $promotion.state_code == "진행중단"}>
									<span style="color:red; background-color:yellow;"><{$promotion.state_code}></span>
								<{else}>
									<{if $promotion.p_state == '1'}>
										<a href="promotion_list.php?sstate=1"><span style="text-decoration: underline; color:red;"><{$promotion.state_code}></span></a>
									<{else}>
										<{$promotion.state_code}>
									<{/if}>
									<{if $promotion.p_state=='4' && permissionNameCheck($session_permission,"서비스운영") }>
										<div style="text-decoration:underline;font-size:9px;">
										<a href="#" onClick="window.open('popup/selection_sms_list.php?no=<{$promotion.no}>','선정알림','width=500, height=450, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="under_blue">선정알림</a><br />
										<a href="#" onClick="window.open('popup/dday_sms_list.php?no=<{$promotion.no}>','마감예정알림','width=500, height=450, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="under_blue">마감예정알림</a><br />
										</div>
									<{/if}>
								<{/if}>
							</td>
							<td class="gubun_td">
								<{$promotion.channel}>
							</td>
							<td class="gubun_td"><span class="kind_gubun<{$promotion.kind}>"><{$promotion.kind_name}></span></td>
							<td><{$promotion.p_code}></td>
							<td style="font-size:11px"><{$promotion.location1}><br /><{$promotion.location2}></td>
							<td class="link_td" style="text-align:left"><a href="promotion_regist.php?no=<{$promotion.no}>"><{$promotion.company}></a></td>
							<!-- 선정 취소 표기 20160322 김윤영 Start -->
							<td>
								<{$promotion.app_num}>/<{$promotion.reg_num}>
								  <{if $promotion.cancel_num != 0}>
									<br /><span style="color: #f00;">(-<{$promotion.cancel_num}>)</span>
								<{/if}>
							  </td>
							<!-- 선정 취소 표기 20160322 김윤영 End -->
							<td>
								<{$promotion.report_num}>/<{$promotion.select_posting_num}>
								<{if $promotion.cancel_num != 0}>
									<br /><span style="color: #f00;">(-<{$promotion.cancel_posting_num}>)</span>
								<{/if}>
							</td>
							<td>
								<{if $promotion.kind == 2 || $promotion.kind == 4 || $promotion.kind == 5}>
									<{$promotion.total_refund}>/<{$promotion.report_num}>
									<{if $promotion.cancel_num != 0}>
										<br /><span style="color: #f00;">(-<{$promotion.cancel_posting_num}>)</span>
									<{/if}>
								<{else}>
									&nbsp;
								<{/if}>
							</td>
							<td class="link_td">
								<{if $promotion.p_state == 3  && $promotion.p_state1 != 1 && $promotion.awd_date <= $nowdate && $promotion.accept_num==0 }>
									<button type="button" onClick="window.open('popup/blogger_selection.php?no=<{$promotion.no}>','선정','width=1900, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_small">선정</button>
								<{elseif ($promotion.p_state == 4 || $promotion.p_state == 5) && $promotion.p_state1 != 1 }>
									<{if $promotion.p_state !=5 }>
										  <a href="#" onClick="window.open('popup/popup_blogger_list.php?no=<{$promotion.no}>','블로거 리스트','width=1200, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="under_blue">블로거리스트</a><br />
										  <a href="#" onClick="window.open('popup/popup_posting_list.php?no=<{$promotion.no}>','포스팅 리스트','width=1570, height=800, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="under_blue">포스팅리스트</a><br />
									<{/if}>
									<a href="evaluation_list.php?scode=<{$promotion.p_code}>&skind=<{$promotion.kind}>" class="under_blue">이용후평가</a>
								<{/if}>
							</td>
							<td><{$promotion.t_name}><br/><{$promotion.name}><br>(<{$promotion.reg_s_name}>)</td>
							<td><span style="<{$promotion.reg_start_bg}>"><{$promotion.reg_start}></span></td>
							<td>
								<{$promotion.reg_end}>
								<{if $promotion.keyword_subject == ""}>
								<br><span style="color:#f00;">키워드없음</span>
								<{/if}>
							</td>
							<td><a href="promotion_list.php?sdate_type=2&sdate=<{$promotion.awd_date}>"><span style="text-decoration: underline; <{$promotion.award_bg}>"><{$promotion.award}></span></a></td>
							<td><a href="promotion_list.php?sdate_type=3&sdate=<{$promotion.exp_edate}>"><span style="text-decoration: underline; <{$promotion.exp_edate_bg}>"><{$promotion.expiration}></span></a></td>
							<td><span style="<{$promotion.pres_reward_bg}>"><{$promotion.pres_reward}></span><br /><{$promotion.pres_money}></td>
							<td>
								<textarea name="f_memo" id="f_memo" cols="5" rows="2" class="textarea_memo" <{if !permissionNameCheck($session_permission,"서비스운영") && $promotion.s_no != $session_s_no}>disabled<{/if}>><{$promotion.p_memo}></textarea>
								<{if !permissionNameCheck($session_permission,"서비스운영") && $promotion.s_no != $session_s_no}>
								<{else}>
									<button type="button" class="btn_small_memo" onclick="return save_memo('<{$promotion.no}>');">저장</button>
								<{/if}>
							</td>
							<td class="date_td last"><span class="date"><{$promotion.date_ymd}></span><br /><span class="time"><{$promotion.date_hi}></span></td>
						</tr>
					</form>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
	</div>

	<div class="paging_wrap">
		<{$pagelist}>
	</div>
</div>
<!-- //admin_content -->


<script>
$(document).ready(function(){

    $("#sch_team").combobox();

	$("#f_location2").remoteChained({
	  parents : "#f_location1",
	  url : "/v1/api/location.json.php",
	  loading : "로딩중.."
	});
});

function sch_date_display(type)
{
    var f = document.forms['search_form'];

    $(".sch_date_type").hide();
    if(type=='month'){
        $("#sch_date_type_month").show();
    }else if(type=='week'){
        $("#sch_date_type_week").show();
    }else if(type=='day'){
        $("#sch_date_type_day").show();
    }
}

function searchList(){
    document.search_form.submit();
}

function save_memo(p_no) {
	eval("var f=document.getElementById('apply_frm" + p_no + "');");
	f.process.value = 'save_memo';
	f.submit();
}

function sdate_submit() {
	var n = document.getElementById("sdate").value;
	var nn=n.length;
	if (nn==0) {
		alert('입력되지 않았습니다.');
		f.memo.focus();
		return false;
	}
	document.getElementById('search_form').submit();

}

// 삭제하기
function del_promotion(p_no){
	eval("var f=document.getElementById('apply_frm" + p_no + "');");
	f.process.value = 'del_promotion';

	if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
		f.submit();
	} else{ //취소
		return;
	}
}

function openPromotionUrl(key)
{
	if($(".ul_kind"+key).css('display') == 'none'){
		$(".ul_kind").hide();
		$(".ul_kind"+key).show();
	}else{
		$(".ul_kind").hide();
	}
}

function movePromotionRegist(kind, channel)
{
	location.href='promotion_regist.php?kind='+kind+'&channel='+channel;
}

</script>

 </body>
</html>
