<{include file="inc/boot_navibar.html"}>

<div class="admin_content" style="width:950px;">

		<h2 class="title_kind<{$kind}>">
			<{section name=list loop=$promotion_channel}>
				<{if $promotion_channel[list][1] == $channel}>
					● 탑블로그 <{$promotion_channel[list][0]}> <{$kind_name}> 등록하기
				<{/if}>
			<{/section}>
			<span id="caution_display_btn_show">
				<button type="button" style="width:162px; height: 30px; font-size: 14px; font-weight: 700; color: red; background-color:#f6ffc0;" onclick="caution_display('show','caution_display',this);" class="btn_small">▼ 유의사항(보기) ▼</button>
			</span>
			<span id="caution_display_btn_hide">
				<button type="button" style="width:162px; height: 30px; font-size: 14px; font-weight: 700; color: red; background-color:#f6ffc0;" onclick="caution_display('hide','caution_display',this);" class="btn_small">▲ 유의사항(닫기) ▲</button>
			</span>
		</h2>

		<div id="caution_display" style="background-color: #f6ffc0; padding: 8px;">
			<{if $kind == '1' || $kind == '4'}> <!-- 체험단, 체험단+보상 -->
				<span style="color:#f77b18; font-weight: bold;">#체험단 유의사항</span><br>
				· <span style="color:red;">모집기간은 최소 1주일</span>이 필요합니다.<br>
				· <span style="color:red;">진행기간은 최소 9일 이상, 주말/휴일이 2회</span>는 포함되어야 합니다. 또한 진행 시작일은 실제 참여자가 방문 가능한 날짜로 설정해야 합니다.<br>
				&nbsp;&nbsp;(ex. 방문 하루 전 연락일 경우, 진행 시작일을 발표 당일로 설정 불가)<br><br>
			<{/if}>
			<{if $kind == '2'}> <!-- 기자단 -->
				<span style="color:#5175fe; font-weight: bold;">#기자단 유의사항</span><br>
				· 모집기간은 1주일 이내도 가능하나 <span style="color:red;">1주일을 권장</span> 합니다.<br>
				· 진행기간은 <span style="color:red;">7일 내외</span>로 설정 권장합니다. (급한 경우 7일 이내도 가능합니다.)<br>
				· 보상 금액은 <span style="color:red;">블로그 일방문자수 500명 = 1만원, 1000명 이상 = 2만원</span>으로 진행 가능하며, <span style="color:red;">인스타그램 팔로워수 500명 = 5천원, 1000명 이상 = 1만원</span>으로 진행 가능합니다.<br>
				&nbsp;&nbsp;(위의 기준보다 방문자수/팔로워수를 더 낮게, 보상 금액을 높게 설정하는 것은 가능하나 방문자수/팔로워수를 더 높게, 금액을 낮게 설정하는 것은 불가능합니다.)<br>
				· 요구사항이 많거나 기피하는 분야 등 <span style="color:red;">포스팅 난이도에 비례하여 보상금액 설정</span>을 권장합니다.<br><br>
			<{/if}>
			<{if $kind == '3' || $kind == '5'}> <!-- 배송체험단, 배송체험단+보상 -->
				<span style="color:#63F; font-weight: bold;">#배송체험단 유의사항</span><br>
				· 모집기간은 1주일 이내도 가능하나 <span style="color:red;">1주일을 권장</span> 합니다.<br>
				· 진행기간은 배송기간으로 인해 <span style="color:red;">최소 10일 이상</span> 필요하며, 진행 시작일은 실제 배송 받는 날을 기준으로 설정합니다.<br>
				&nbsp;&nbsp;(배송체험은 제품발송을 위해 월~수요일 발표를 추천 드립니다.)<br><br>
			<{/if}>

			<{if $channel == '2' || $channel == '4'}><!-- 인스타그램, 카페 -->
				<span style="font-weight: bold;">#인스타그램 및 카페 유의사항</span><br>
				· 인스타그램의 경우 <span style="color:red;">해시태그는 25개 이하</span>로 입력합니다.<br>
				· 카페의 경우 카페 <span style="color:red;">운영자에 의해 삭제</span>될 수 있으며, 이로 인한 재작성은 불가능합니다.<br><br>
			<{/if}>

			<span style="font-weight: bold;">#공통 유의사항</span><br>
			· 모든 캠페인의 모집 요청은 모집 시작일 <span style="color:red;">최소 1일전에 요청</span>합니다. (당일요청 불가)<br>
			· 모든 캠페인의 <span style="color:red;">마감일은 금,토 등 주말/휴일 전날은 불가</span>합니다. (행사일, 제품출시일 등 일부에 한하여 금요일 마감 가능)<br>
			· 모든 캠페인은 <span style="color:red;">공정위 표시 ‘필수’</span>로 만 진행됩니다.<br>
			· 모든 캠페인은 <span style="color:red;">제목키워드 및 가이드 필수사항은 늦어도 발표 당일 오후 1시까지 입력</span>합니다. (이후 입력 시 가이드 발송이 늦어질 수 있습니다.)<br>
			· 모든 캠페인은 모집 등록에 필요한 <span style="color:red;">최소한의 요건이 부족할 시 모집이 불가</span>합니다. (진행기간, 보상금, 체험상품, 업체정보, 모집에 필요한 최소한의 사진과 정보 등)<br>
			· 모든 캠페인은 진행기간 중간에 <span style="color:red;">참여자의 취소</span>가 발생할 수 있습니다. (상품력 또는 보상, 업체문제로 인해 취소율은 올라갈 수 있습니다.)<br>
			· 모든 캠페인은 <span style="color:red;">참여자가 늦게 포스팅할 수 있어 마감일로부터 7일까지 연장</span>될 수 있습니다. (방문해야 하는 캠페인에서 주로 연장이 많이 발생됩니다.)<br>
			· 모든 캠페인은 접수 완료 후 메모 기입 내용을 꼭 확인하여 주시기 바랍니다. (일정 조정, 모집 미달 여부 등을 안내해드리고 있습니다.)<br>
		</div>

		<script>$("#caution_display").hide();</script>
		<script>$("#caution_display_btn_show").show();</script>
		<script>$("#caution_display_btn_hide").hide();</script>

		<div class="table_contents_style">

		<form name="promotion_frm" name="promotion_frm" action="promotion_regist.php" method="post" enctype="multipart/form-data">
			<{if $idx }>
				<input type="hidden" name="idx" value="<{$idx}>">
				<input type="hidden" name="list_query" value="<{$save_query}>">
			<{/if}>
			<input type="hidden" name="process" value="<{$mode}>">
			<input type="hidden" id="c_no" name="c_no" value="<{$c_no}>">

			<ul>
				<{if $mode == "modify"}>
					<li>
						<span class="name_tit">· 모집상태 : </span>
						<select name="p_state" id="p_state" class="select_type2">
							<!--option value="" <{if !$p_state}>selected<{/if}>>전체</option-->
							<option value="1" <{if $p_state==1}>selected<{/if}>>접수대기</option>
							<option value="2" <{if $p_state==2}>selected<{/if}>>접수완료</option>
							<option value="3" <{if $p_state==3}>selected<{/if}>>모집중</option>
							<option value="4" <{if $p_state==4}>selected<{/if}>>진행중</option>
							<option value="5" <{if $p_state==5}>selected<{/if}>>마감</option>
						</select>
						<select name="p_state1" id="p_state1" class="select_type2">
							<option value="1" <{if $p_state1==1}>selected<{/if}>>진행중단</option>
							<option value="0" <{if $p_state1==0}>selected<{/if}>>진행중단해지</option>
						</select>
					</li>
				<{/if}>
				<li style="padding:5px 0;">
					<span class="name_tit">· 마케팅 채널 : </span>
					<{assign var="items" value=$promotion_channel}>

					<{section name=list loop=$promotion_channel}>
						<{if $items[list][1] > '0'}>
							<input type="radio" <{if !permissionNameCheck($session_permission,"서비스운영")}>onfocus="setRadioCl(event)"<{/if}> name="promotion_channel" style="width:16px;height:16px;" value="<{$promotion_channel[list][1]}>" <{if $channel == ($promotion_channel[list][1])}>checked="checked"<{/if}>><{$promotion_channel[list][0]}>&nbsp;&nbsp;
						<{/if}>
					<{/section}>
				</li>
				<li style="padding:5px 0;">
					<span class="name_tit">· 캠페인 종류 : </span>
					<{assign var="items" value=$promotion_kind}>

					<{section name=list loop=$promotion_kind}>
						<{if $items[list][1] > '0'}>
							<input type="radio" <{if !permissionNameCheck($session_permission,"서비스운영")}>onfocus="setRadioCl(event)"<{/if}> name="kind" style="width:16px;height:16px;" value="<{$smarty.section.list.index}>" <{if $kind == ($smarty.section.list.index)}>checked="checked"<{/if}>><{$items[list][0]}>&nbsp;&nbsp;
						<{/if}>
					<{/section}>
				</li>
				<{if $mode == "modify" && $session_staff_state == '1'}>
					<li>
						· 신청 / 모집 (취소) : <{$app_num}> / <{$reg_num}>
						<{if $cancel_num != 0}>
						<span style="color: #f00;">(-<{$cancel_num}>)</span>
						<{/if}>
						<button type="button" onClick="window.open('popup/blogger_selection.php?no=<{$idx}>','_blank','width=1900, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_small_choice">선정</button>&nbsp;
						<button type="button" onClick="window.open('popup/blogger_selection.php?no=<{$idx}>&sort_type=1','_blank','width=1900, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_small_choice">선정자만 골라보기</button>
						<button class="btn_small" type="button" onclick="location.href='reservation_list.php?ssend=N&scompany=<{$company}>&scno=<{$c_no}>'">알림 요청 (<{$reservation_num}>)</button>
						<button class="btn_small" type="button" onClick="window.open('popup/campaign_detail.php?p_no=<{$idx}>','블로거 리스트','width=650, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">캠페인 모집공고</button>
						<button class="btn_small" type="button" onClick="window.open('popup/campaign_guide.php?p_no=<{$idx}>','블로거 리스트','width=650, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">캠페인 가이드</button>
					</li>
					<li>
						· 완료 / 포스팅 (취소) : <{$total_num}> / <{$select_posting_num}>
						<{if $cancel_num != 0}>
							<span style="color: #f00;">(-<{$cancel_posting_num}>)</span>
						<{/if}>
						<button class="btn_small" type="button" onClick="window.open('popup/popup_blogger_list.php?no=<{$idx}>','블로거 리스트','width=1600, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">블로거 리스트</button>
						<button class="btn_small" type="button" onClick="location.href='popup/excel_popup_blogger_list.php?no=<{$idx}>';">블로거 리스트(EXCEL)</button>
						&nbsp;&nbsp;&nbsp;
						<button class="btn_small" type="button" onClick="window.open('popup/popup_posting_list.php?no=<{$idx}>','_blank','width=1470, height=800, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">포스팅 리스트</button>
						<button class="btn_small" type="button" onClick="location.href='popup/excel_popup_posting_list.php?no=<{$idx}>';">포스팅 리스트(EXCEL)</button>
					</li>
					<li>
						· 완료 / 보상 (취소) : <{$total_refund}> / <{$select_posting_num}>
						<{if $cancel_num != 0}>
							<span style="color: #f00;">(-<{$cancel_posting_num}>)</span>
						<{/if}>
					</li>
					<li>
						· 메모 : <textarea name="p_memo" id="p_memo" cols="5" rows="2" class="textarea_type3" style="height:52px;"><{$p_memo}></textarea>
						<button onclick="process.value='memo';submit();" class="btn_small_memo">저장</button>
					</li>
					<li>
						· 카페 모집 공고 URL : <input type="text" name="cafe_url" id="cafe_url" class="input_type4" value="<{$cafe_url}>"/>
						<{if $mode == "modify" && permissionNameCheck($session_permission,"서비스운영")}>
							<button onclick="process.value='cafe_url';submit();" class="btn_small">저장</button>
							<!-- 캠페인명 추가 -->
							· 캠페인명 : <input type="text" name="promo_title" id="promo_title" class="input_type4" value="<{$title}>" style="width:250px;"/>
							<button onclick="process.value='promo_title';submit();" class="btn_small">저장</button>
						<{/if}>
					</li>
					<li>
						· 신청서 URL : <a href="https://work.wplanet.co.kr/v1/registration.php?promotion_no=<{$idx}>" target="_blank">https://work.wplanet.co.kr/v1/registration.php?promotion_no=<{$idx}></a> <button class="btn_small" type="button" onclick="copy_to_clipboard($(this).prev().attr('href'));">주소 복사하기</button>
					</li>
					<li>
						· 완료 보고 URL : <a href="https://work.wplanet.co.kr/v1/report.php?promotion_no=<{$idx}>" target="_blank">https://work.wplanet.co.kr/v1/report.php?promotion_no=<{$idx}></a> <button class="btn_small" type="button" onclick="copy_to_clipboard($(this).prev().attr('href'));">주소 복사하기</button>
					</li>
					<li>
						· 이용 후 평가 URL : <a href="https://work.wplanet.co.kr/v1/evaluation.php?promotion_no=<{$idx}>" target="_blank">https://work.wplanet.co.kr/v1/evaluation.php?promotion_no=<{$idx}></a> <button class="btn_small" type="button" onclick="copy_to_clipboard($(this).prev().attr('href'));">주소 복사하기</button>
					</li>
				<{/if}>
			</ul>

			<!-- (공통)업체정보 -->
			<ul>
			<{if $mode == "modify" && ($session_s_no=='18' || $session_s_no=='17')}>
					<input type="text" id="schedule_value" class="input_type8" name="schedule_value" value="[중간노출체크+마감예정알림]<{$company}> <{$promotion_code}>" />
			<{/if}>
			<table cellpadding="0" cellspacing="0" summary="업체정보를 지정하는 폼입니다.">
				<colgroup>
					<col width="200" />
					<col width="400"/>
					<col width="100" />
					<col width="100" />
				</colgroup>
				<thead>
					<tr>
						<th colspan="4" class="last" style="font-size:16px; background-color:#8E8E8E;">업체정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>* 작성자(부서)</th>
						<td class="last" colspan="3">
							<input type="hidden" name="reg_s_no" id="reg_s_no" value="<{$reg_s_no}>">
							<input type="hidden" name="reg_team" id="reg_team" value="<{$reg_team}>">
							<{if permissionNameCheck($session_permission, "마스터관리자") || $session_s_no == $reg_s_no}>
								<input type="text" class="input_type1" id="reg_s_name" value="<{$reg_s_name}>">
							<{else}>
								<span><{$reg_s_name}></span>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th>* 업체명</th>
						<td class="last"><input type="text" class="input_type1" id="item_company" name="company" value="<{$company}>" /></td>
						<th>CODE</th>
						<td class="last" style="text-align: center;"><{$promotion_code}></td>
					</tr>
					<tr>
						<th>* 담당자(부서)</th>
						<td class="last" colspan="3">
							<input type="hidden" name="s_no" id="s_no" value="<{$s_no}>">
							<input type="hidden" name="team" id="team" value="<{$team}>">
							<input type="hidden" name="name" id="name" value="<{$name}>">
							<input type="text" class="input_type1" id="s_name" value="<{$s_name}>" >
						</td>
					</tr>
					<tr>
						<th>* 업종 분류</th>
						<td class="last" colspan="3">
							<select id="f_cate1" name="f_cate1" class="select_type3" disabled="disabled">
							<option value="">선택</option>
							<{section name=select loop=$job}>
							<option value="<{$job[select].job_code}>" <{if $job[select].job_code==$cate1}>selected<{/if}>><{$job[select].job_name}></option>
							<{/section}>
							</select>
							<select id="f_cate2" name="f_cate2" class="select_type3" disabled="disabled">
								<option value="">없음</option>
							<{section name=select loop=$job1}>
							<option value="<{$job1[select].job_code}>" <{if $job1[select].job_code==$cate2}>selected<{/if}>><{$job1[select].job_name}></option>
							<{/section}>
							</select>
						</td>
					</tr>
					<tr>
						<th>업체 소개</th>
						<td class="last" colspan="3">
							<textarea name="about" id="item_about" cols="30" rows="5" class="textarea_type3" disabled="disabled"><{$company_detail}></textarea>
						</td>
					</tr>
					<tr>
						<th>* 지역 분류</th>
						<td class="last" colspan="3">
							<select id="f_location1" name="f_location1" class="select_type3" disabled="true">
							<option value="">선택</option>
							<{section name=select loop=$location}>
							<option value="<{$location[select].location_code}>" <{if $location[select].location_code==$location_1}>selected<{/if}>><{$location[select].location_name}></option>
							<{/section}>
							</select>
							<select id="f_location2" name="f_location2" class="select_type3" disabled="disabled">
								<option value="">없음</option>
								<{section name=select loop=$location1}>
									<option value="<{$location1[select].location_code}>" <{if $location1[select].location_code==$location_2}>selected<{/if}>><{$location1[select].location_name}></option>
								<{/section}>
							</select>
						</td>
					</tr>
					<tr>
						<th>사업장 주소</th>
						<td class="last" colspan="3">
							<input type="text" id="zip1" class="input_type2" disabled="disabled" value="<{$zip1}>"/> - <input type="text" id="zip2" class="input_type2" disabled="disabled" value="<{$zip2}>"/><br />
							<input type="text" id="address1" class="input_type5" disabled="disabled" value="<{$address1}>" /> <input type="text" id="address2" class="input_type5" disabled="disabled" value="<{$address2}>" />
						</td>
					</tr>
					<tr>
						<th>매장 연락처</th>
						<td class="last" colspan="3">
							<input type="text" id="tel1" class="input_type2" disabled="disabled" value="<{$tel1}>" /> - <input type="text" id="tel2" class="input_type2" disabled="disabled" value="<{$tel2}>" /> - <input type="text" id="tel3" class="input_type2" disabled="disabled" value="<{$tel3}>" />
						</td>
					</tr>
					<tr>
						<th>주차시설</th>
						<td class="last" colspan="3"><input type="text" id="parking" class="input_type1" disabled="disabled" value="<{$parking}>" /></td>
					</tr>
					<tr>
						<th>홈페이지<br />블로그<br />카페</th>
						<td class="last" colspan="3">
							<textarea name="site" id="site" cols="30" rows="5" class="textarea_type3" disabled="disabled"><{$company_site}></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</ul>
			<!-- //(공통)업체정보 -->

			<!-- 모집요건정의 -->
			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="200" />
					<col width="300"/>
					<col width="200" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th colspan="4" class="last" style="font-size:16px; background-color:<{$kind_color}>;"><{$kind_name}>모집 요건 정의</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>* 모집기간</th>
						<td><input type="text" class="date-picker input_type3" id="reg_sdate" name="reg_sdate" value="<{$reg_sdate}>" /> ~ <input type="text" id="reg_edate" class="date-picker input_type3" id="reg_edate" name="reg_edate" value="<{$reg_edate}>" /></td>
						<th>* 발표일</th>
						<td class="last"><input type="text" class="date-picker input_type3" id="awd_date" name="awd_date" value="<{$awd_date}>" /></td>
					</tr>

					<{if $kind != 2 }>
						<tr>
							<{if $kind == 4 || $kind == 5}>
								<th>* 진행기간</th>
								<td lass="last"><input type="text" class="date-picker input_type3" id="exp_sdate" name="exp_sdate" value="<{$exp_sdate}>" /> ~ <input type="text" class="date-picker input_type3" id="exp_edate" name="exp_edate" value="<{$exp_edate}>" /></td>
								<th>보상일</th>
								<td class="last">
									<input type="text" id="pres_reward" class="date-picker input_type3" name="pres_reward" value="<{$pres_reward}>" />
									<span class="txt">접수완료 시 운영팀에서 설정합니다.</span>
								</td>
							<{else}> <!-- 체험단, 배송체험 -->
								<th>* 진행기간</th>
								<td colspan="3" class="last"><input type="text" class="date-picker input_type3" id="exp_sdate" name="exp_sdate" value="<{$exp_sdate}>" /> ~ <input type="text" class="date-picker input_type3" id="exp_edate" name="exp_edate" value="<{$exp_edate}>" /></td>
							<{/if}>
						</tr>
					<{else}>
						<tr>
							<!-- 기자단 -->
							<th>* 진행기간</th>
							<td><input type="text" class="date-picker input_type3" id="exp_sdate" name="exp_sdate" value="<{$exp_sdate}>" /> ~ <input type="text" class="date-picker input_type3" id="exp_edate" name="exp_edate" value="<{$exp_edate}>" /></td>
							<th>보상일</th>
							<td class="last">
								<input type="text" id="pres_reward" class="date-picker input_type3" name="pres_reward" value="<{$pres_reward}>" />
								<span class="txt">접수완료 시 운영팀에서 설정합니다.</span>
							</td>
						</tr>
					<{/if}>

					<tr>
						<th>* 모집인원</th>
						<td><input type="number" class="input_type3" id="reg_num" name="reg_num" value="<{$reg_num}>" onKeyup="SetNum(this);"/></td>
						<{if $channel == '5'}> <!-- 촬영 -->
							<th>총 완료보고 수</th>
						<{else}>
							<th>총 포스팅 수</th>
						<{/if}>
						<td class="last">
							<input type="number" class="input_type3" id="posting_num" name="posting_num" value="<{$posting_num}>" onKeyup="SetNum(this);" />
							<span class="txt">ex) 10명*2회 포스팅 시, 총 포스팅 수=20</span>
						</td>
					</tr>

					<tr>
						<th>* 재신청 가능 여부</th>
						<td colspan="3" class="last">
							<input type="radio" checked id="re_apply" name="re_apply" value="1" class="radio first" <{if $re_apply == 1 }>checked<{/if}> />가능
							<input type="radio" id="re_apply" name="re_apply" value="2" class="radio" <{if $re_apply == 2 }>checked<{/if}> />불가
							<input type="radio" id="re_apply" name="re_apply" value="3" class="radio" <{if $re_apply == 3 }>checked<{/if}> />무관
							<input type="radio" id="re_apply" name="re_apply" value="4" class="radio" <{if $re_apply == 4 }>checked<{/if}> />기타
							<input type="text" id="re_apply_memo" class="input_type1" name="re_apply_memo" value="<{$re_apply_memo}>" />
						</td>
					</tr>

					<{if $kind == 4 || $kind == 5}>
						<tr>
							<th>*포스팅 조건</th>
							<td colspan="3" class="last">
								<input type="text" id="pres_reason" class="input_type8" name="pres_reason" value="<{$pres_reason}>" style="width: 600px; float: left;"/>
								<div style="float: right; margin-top: -3px; width: 220px; border-bottom: 1px solid #ccc;">
									<span style="display: inline-block; float: left; background-color: rgba(119, 119, 119, 1); color: #fff; padding: 7px 15px; font-weight: bold; border-right: 1px solid #ccc; margin-right: 5px;">파일 첨부</span>
									<input type="radio" id="is_file_off" class="radio" style="float: left;margin-top: 9px; margin-left: 5px;" name="is_file" value="0" <{if !$is_file || $is_file=='0'}>checked<{/if}>/>
									<label for="is_file_off" style="float: left;line-height: 32px; margin-right: 9px;">미첨부</label>
									<input type="radio" id="is_file_on" class="radio" style="float: left; margin-top: 9px;" name="is_file" value="1" <{if $is_file=='1'}>checked<{/if}>/>
									<label for="is_file_on" style="float: left; line-height: 32px;">첨부</label>
								</div>
								<span style="clear: both; overflow: hidden; display: block;">※완료보고 보상정보 입력 시 보상 조건 안내. ex)포스팅시 사진 30장 이상, 텍스트 3,000자 이상(공백 제외)</span>
							</td>
						</tr>
						<tr>
							<th>* 포스팅 보상</th>
							<td colspan="3" class="last">포스팅 1회당 / 원 <input type="text" id="pres_money" class="input_type4" name="pres_money" value="<{$pres_money}>" /></td>
						</tr>
					<{elseif $kind == 1 || $kind == 3}>
						<tr>
							<th>포스팅 조건</th>
							<td colspan="3" class="last">
								<input type="text" id="pres_reason" class="input_type8" name="pres_reason" value="<{$pres_reason}>" style="width: 500px; float: left;"/>
								<div style="float: right; margin-top: -3px; width: 220px; border-bottom: 1px solid #ccc;">
									<span style="display: inline-block; float: left; background-color: rgba(119, 119, 119, 1); color: #fff; padding: 7px 15px; font-weight: bold; border-right: 1px solid #ccc; margin-right: 5px;">파일 첨부</span>
									<input type="radio" id="is_file_off" class="radio" style="float: left;margin-top: 9px; margin-left: 5px;" name="is_file" value="0" <{if !$is_file || $is_file=='0'}>checked<{/if}>/>
									<label for="is_file_off" style="float: left;line-height: 32px; margin-right: 9px;">미첨부</label>
									<input type="radio" id="is_file_on" class="radio" style="float: left; margin-top: 9px;" name="is_file" value="1" <{if $is_file=='1'}>checked<{/if}>/>
									<label for="is_file_on" style="float: left; line-height: 32px;">첨부</label>
								</div>
								<span style="clear: both; overflow: hidden; display: block;">※완료보고 보상정보 입력 시 보상 조건 안내. ex)포스팅시 사진 30장 이상, 텍스트 3,000자 이상(공백 제외)</span>
							</td>
						</tr>
						<tr>
							<th>포스팅 보상</th>
							<td colspan="3" class="last">포스팅 1회당 / 원 <input type="text" id="pres_money" class="input_type4" name="pres_money" value="<{$pres_money}>" /></td>
						</tr>
					<{/if}>

					<{if $kind == 1 || $kind == 4}> <!-- 체험단 추가입력 -->
						<tr>
							<th>* 체험가능시간<br />(평일,주말,휴무 모두 작성)</th>
							<!-- 업체명이 없는경우 신규 작성으로 간주 하여 체험가능시간의 입력 양식을 value로 함 -->
							<{if $company==''}>
								<td colspan="3" class="last"><input type="text" id="cons_exp_time" onKeyUp="textCounting2();" class="input_type8" name="cons_exp_time" value="평일:    주말:    (휴무:   )" />글자수제한 <span id="cnt_text2">0</span>/80</td>
							<{else}>
								<td colspan="3" class="last"><input type="text" id="cons_exp_time" onKeyUp="textCounting2();" class="input_type8" name="cons_exp_time" value="<{$cons_exp_time}>" />글자수제한 <span id="cnt_text2">0</span>/80</td>
							<{/if}>
						</tr>

						<tr>
							<th>방문전 연락방법</th>
							<td colspan="3" class="last"><input type="text" id="cons_contact" class="input_type4" name="cons_contact" value="<{$cons_contact}>" />ex) 방문 2시간전 사전연락 필수</td>
						</tr>

						<tr>
							<th>방문전 연락처</th>
							<td colspan="3" class="last">
								<input type="text" id="cons_tel_0" class="input_type2" name="cons_tel_0" value="<{$cons_tel_0}>" /> - <input type="text" id="cons_tel_1" class="input_type2" name="cons_tel_1" value="<{$cons_tel_1}>" /> - <input type="text" id="cons_tel_2" class="input_type2" name="cons_tel_2" value="<{$cons_tel_2}>" />

							<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
								<button onclick="process.value='cons_tel';submit();" class="btn_small_memo">저장</button>
							<{/if}>
							</td>
						</tr>

						<tr>
							<th>연락가능시간</th>
							<td colspan="3" class="last"><input type="text" id="cons_tel_perm" class="input_type4" name="cons_tel_perm" value="<{$cons_tel_perm}>" /></td>
						</tr>
					<{/if}> <!-- //체험단 추가입력 -->

					<{if $kind == 2 }> <!-- 기자단 추가입력 -->
						<tr>
							<th>* 포스팅 및 촬영 보상</th>
							<td colspan="3" class="last">
								<span style="display: inline-block; float:left;line-height: 30px;margin-right: 5px;">포스팅(촬영) 1회당 / 원 </span><input type="text" id="pres_money" class="input_type4" name="pres_money" value="<{$pres_money}>" style="float: left; width: 450px;"/>
								<div style="float: right; margin-top: -3px; width: 220px; border-bottom: 1px solid #ccc;">
									<span style="display: inline-block; float: left; background-color: rgba(119, 119, 119, 1); color: #fff; padding: 7px 15px; font-weight: bold; border-right: 1px solid #ccc; margin-right: 5px;">파일 첨부</span>
									<input type="radio" id="is_file_off" class="radio" style="float: left;margin-top: 9px; margin-left: 5px;" name="is_file" value="0" <{if !$is_file || $is_file=='0'}>checked<{/if}>/>
									<label for="is_file_off" style="float: left;line-height: 32px; margin-right: 9px;">미첨부</label>
									<input type="radio" id="is_file_on" class="radio" style="float: left; margin-top: 9px;" name="is_file" value="1" <{if $is_file=='1'}>checked<{/if}>/>
									<label for="is_file_on" style="float: left; line-height: 32px;">첨부</label>
								</div>
							</td>
						</tr>

						<{if $channel == '1'}> <!-- 블로그 -->
							<tr>
								<th>* 일방문자수</th>
								<td colspan="3" class="last">
									<input type="text" id="pres_visit" class="input_type3" name="pres_visit" value="<{$pres_visit}>" /> 명 이상(제한 없는 경우 0으로 입력)
									<input type="checkbox" name="pres_visit_view" id="pres_visit_view" style="margin-left: 15px;" value="1" <{if $pres_visit_view == '1'}>checked<{/if}>>
									<label for="pres_visit_view" style="cursor: pointer; font-weight: bold;">노출여부</label>
									<br />
									※ 제한이 없는 경우 저품질 및 포스팅수가 매우 적은 블로그도 선정요건에 해당됩니다.<br />
									&nbsp;&nbsp;&nbsp;모집 미달건 발표시 곤란할 수 있으므로 신중하게 결정해 주세요.<br />
									&nbsp;&nbsp;&nbsp;저품질을 제외하면서 신청조건을 낮추고자 한다면 최소 200~300명 이상으로 설정하시길 권장드립니다.
								</td>
							</tr>
	          <{elseif $channel == '2'}> <!-- 인스타그램 -->
							<tr>
								<th>* 팔로워수</th>
								<td colspan="3" class="last">
									<input type="text" id="pres_visit" class="input_type3" name="pres_visit" value="<{$pres_visit}>" /> 명 이상(제한 없는 경우 0으로 입력)
								</td>
							</tr>
	          <{elseif $channel == '3'}> <!-- 페이스북 -->
							<tr>
								<th>* 페이스북 친구수</th>
								<td colspan="3" class="last">
									<input type="text" id="pres_visit" class="input_type3" name="pres_visit" value="<{$pres_visit}>" /> 명 이상(제한 없는 경우 0으로 입력)
								</td>
							</tr>
						<{elseif $channel == '5'}> <!-- 촬영 -->
							<tr>
								<th>* 방문가능시간<br />(평일,주말,휴무 모두 작성)</th>
								<!-- 업체명이 없는경우 신규 작성으로 간주 하여 체험가능시간의 입력 양식을 value로 함 -->
								<{if $company==''}>
									<td colspan="3" class="last"><input type="text" id="cons_exp_time" onKeyUp="textCounting2();" class="input_type8" name="cons_exp_time" value="평일:    주말:    (휴무:   )" />글자수제한 <span id="cnt_text2">0</span>/80</td>
								<{else}>
									<td colspan="3" class="last"><input type="text" id="cons_exp_time" onKeyUp="textCounting2();" class="input_type8" name="cons_exp_time" value="<{$cons_exp_time}>" />글자수제한 <span id="cnt_text2">0</span>/80</td>
								<{/if}>
							</tr>

							<tr>
								<th>방문전 연락방법</th>
								<td colspan="3" class="last"><input type="text" id="cons_contact" class="input_type4" name="cons_contact" value="<{$cons_contact}>" />ex) 방문 2시간전 사전연락 필수</td>
							</tr>

							<tr>
								<th>방문전 연락처</th>
								<td colspan="3" class="last">
									<input type="text" id="cons_tel_0" class="input_type2" name="cons_tel_0" value="<{$cons_tel_0}>" /> - <input type="text" id="cons_tel_1" class="input_type2" name="cons_tel_1" value="<{$cons_tel_1}>" /> - <input type="text" id="cons_tel_2" class="input_type2" name="cons_tel_2" value="<{$cons_tel_2}>" />

								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
									<button onclick="process.value='cons_tel';submit();" class="btn_small_memo">저장</button>
								<{/if}>
								</td>
							</tr>

							<tr>
								<th>연락가능시간</th>
								<td colspan="3" class="last"><input type="text" id="cons_tel_perm" class="input_type4" name="cons_tel_perm" value="<{$cons_tel_perm}>" /></td>
							</tr>
	          <{/if}>

						<tr>
							<th>목적</th>
							<td colspan="3" class="last"><input type="text" id="pres_purpose" class="input_type4" name="pres_purpose" value="<{$pres_purpose}>" /></td>
						</tr>

						<{if $channel != '5'}> <!-- NOT 촬영 -->
							<tr>
								<th>포스팅 사진자료</th>
								<td colspan="3" class="last">
									<input type="text" name="pres_file" class="input_type4" value="<{$pres_file}>" />
									메일 혹은 메신저를 통해 별도 전달 가능
								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
																<button onclick="process.value='pres_guide';submit();" class="btn_small_memo">저장</button>
								<{/if}>
								</td>
							</tr>
						<{/if}>
					<{/if}> <!-- //기자단 추가입력 -->

					<{if $kind == 3 || $kind == 5 }> <!-- 배송체험 추가입력 -->
						<tr>
							<th>쇼핑몰 및 판매처</th>
							<td colspan="3" class="last">
								<input type="text" id="" class="input_type4" name="deli_seller" value="<{$deli_seller}>" />
							</td>
						</tr>

						<tr>
							<th>* 제품배송비</th>
							<td colspan="3" class="last">
								<input type="radio" name="deli_shipping" value="1" class="radio first" <{if $deli_shipping == 1 }>checked<{/if}> />무료
								<input type="radio" name="deli_shipping" value="2" class="radio" <{if $deli_shipping == 2 }>checked<{/if}> />기타
								<input type="text" id="" class="input_type4" name="deli_shipping_memo" value="<{$deli_shipping_memo}>" />
							</td>
						</tr>

						<tr>
							<th>* 배송가능지역</th>
							<td colspan="3" class="last">
								<input type="radio" name="deli_zone" value="1" class="radio first" <{if $deli_zone == 1 }>checked<{/if}> />전국배송
								<input type="radio" name="deli_zone" value="2" class="radio" <{if $deli_zone == 2 }>checked<{/if}> />울릉도/제주도 제외
								<input type="radio" name="deli_zone" value="3" class="radio" <{if $deli_zone == 3 }>checked<{/if}> />기타
								<input type="text" id="" class="input_type1" name="deli_zone_memo" value="<{$deli_zone_memo}>" />
							</td>
						</tr>

						<tr>
							<th>* 제품발송방식</th>
							<td colspan="3" class="last">
								<input type="radio" name="deli_type" value="1" class="radio first" <{if $deli_type == 1 }>checked<{/if}> />업체 직접발송
								<input type="radio" name="deli_type" value="2" class="radio" <{if $deli_type == 2 }>checked<{/if}> />포인트적립(선정 후 쇼핑몰 가입 아이디 절차 발생)
								<input type="radio" name="deli_type" value="3" class="radio" <{if $deli_type == 3 }>checked<{/if}> />기타
								<input type="text" id="" class="input_type3" name="deli_type_memo" value="<{$deli_type_memo}>" />
							</td>
						</tr>
					<{/if}> <!-- //배송체험 추가입력 -->

					<{if $kind == 1 || $kind == 3 || $kind == 4 || $kind == 5 }> <!-- 체험단,배송체험,체험단(+보상),배송체험단(+보상) 공통 -->
						<{if !(($kind == 3 || $kind == 5) && $channel == 5) }><!-- 촬영이면서 배송체험,배송체험단(+보상)이면 숨김  -->
						<tr>
							<th>* 체험상품</th>
							<td colspan="3" class="last">
								<!--textarea name="product" id="product" cols="30" rows="5" onKeyUp="textCounting();" class="textarea_type3"><{$product}></textarea><p>글자수제한 <span id="cnt_text">0</span>/255</p-->
								<textarea name="product" id="product" rows="4" class="textarea_type3"><{$product}></textarea>
							</td>
						</tr>
						<{/if}>
					<{/if}> <!-- //체험단,배송체험 공통 -->

					<{if $channel == '5'}> <!-- 촬영 -->
						<tr>
							<th>* 촬영 시 제공상품</th>
							<td colspan="3" class="last">
								<!--textarea name="product" id="product" cols="30" rows="5" onKeyUp="textCounting();" class="textarea_type3"><{$product}></textarea><p>글자수제한 <span id="cnt_text">0</span>/255</p-->
								<textarea name="product" id="product" cols="30" rows="5" class="textarea_type3"><{$product}></textarea>
							</td>
						</tr>
					<{/if}>

					<{if $channel == '1' || $channel == '4' || $channel == '7'}> <!-- 블로그 or 카페 -->
						<tr>
							<th>* 포스팅 제목에<br />업체명 표기 여부</th>
							<td colspan="3" class="last">
								<input type="radio" name="subject_option" class="radio" value="1" onclick="subject_option_memo.disabled=false;" <{if $subject_option == 1 }>checked<{/if}> />예
								<input type="radio" name="subject_option" class="radio" value="2" onclick="subject_option_memo.disabled=true;" <{if $subject_option == 2 }>checked<{/if}> />아니오
								<span class="label_txt">표기할 업체명</span>
								<input type="text" id="" class="input_type5" name="subject_option_memo" value="<{$subject_option_memo}>" <{if $subject_option == 2 }>disabled="disabled"<{/if}>  />
								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
									<button onclick="process.value='subject_option_memo';submit();" class="btn_small_memo" style="height: 26px;">저장</button>
								<{/if}>
								ex) 계절밥상 or 계절밥상 가산점
								<br /><span style="color:#f00;">※표기 업체명에 지역,업종 끼워넣기 절대 금지! 업체명 또는 업체명 지점명으로만 표기바랍니다.</span>
							</td>
						</tr>
					<{/if}>

					<{if $channel == '1' || $channel == '4' || $channel == '7'}> <!-- 블로그 or 카페 -->
						<tr>
							<th>제목 키워드</th>
							<td colspan="3" class="last">
								<textarea name="keyword_subject" id="keyword_subject" cols="30" rows="5" class="textarea_type3"><{$keyword_subject}></textarea>
								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
									<button onclick="process.value='keyword_subject';submit();" class="btn_small_memo">저장</button>
								<{/if}>
								<br /><span style="color:#f00;">※추후전달 시 경우 반드시 공란으로 넣어주세요.</span>
							</td>
						</tr>
					<{elseif $channel == '2' || $channel == '3'}> <!-- 인스타그램 or 페이스북 -->
						<tr>
							<th>해시 태그</th>
							<td colspan="3" class="last">
								<textarea name="keyword_subject" id="keyword_subject" cols="30" rows="5" class="textarea_type3"><{$keyword_subject}></textarea>
								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
									<button onclick="process.value='keyword_subject';submit();" class="btn_small_memo">저장</button>
								<{/if}>
								<br /><span style="color:#f00;">※추후전달 시 경우 반드시 공란으로 넣어주세요.</span>
							</td>
						</tr>
					<{/if}>

					<{if $channel == '1' || $channel == '4' || $channel == '7'}> <!-- 블로그 or 카페 -->
						<tr>
							<th>노출체크 키워드</th>
							<td colspan="3" class="last">
								<textarea name="keyword_print" id="" cols="30" rows="5" class="textarea_type3"><{$keyword_print}></textarea>
								<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
									<button onclick="process.value='keyword_print';submit();" class="btn_small_memo">저장</button>
								<{/if}>
							</td>
						</tr>
					<{/if}>

					<tr>
						<th>포스팅 가이드<br />(마케터용)</th>
						<td colspan="3" class="last">
							<{if $mode == "modify"}>
								<textarea name="pres_guide" id="" class="textarea_guide" style="height:150px;"><{$pres_guide}></textarea>
								<{if $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후 마케터 에게만 나타남 -->
									<button onclick="process.value='pres_guide';submit();" class="btn_small_memo">저장</button>
								<{/if}>
							<{else}>
<textarea name="pres_guide" id="" class="textarea_guide" style="height:150px;">
[필수사항]

[권장사항]

[참고자료]
</textarea>
							<{/if}>
						</td>
					</tr>

					<tr>
						<th>특이사항</th>
						<td colspan="3" class="last">
							<textarea name="remark_memo" id="" cols="30" rows="5" class="textarea_type3"><{$remark_memo}></textarea>
						<{if $mode == "modify" && $p_state > 1 && permissionNameCheck($session_permission,"마케터")}> <!-- 수정모드 이면서 접수대기 이후에 나타남 -->
							<button onclick="process.value='remark_memo';submit();" class="btn_small_memo">저장</button>
						<{/if}>
						<{if $kind == 2 }>
							<br /><span style="color:#f00;">※기자단 포스팅이 후기형일 경우 꼭! 후기형 포스팅이라고 표기해 주세요.</span>
						<{/if}>
						</td>
					</tr>

					<tr>
						<th>참고URL</th>
						<td colspan="3" class="last">
							<input type="text" id="" class="input_type4" name="refer_url1" value="<{$refer_url1}>" />URL 오류 확인 꼭 해주세요!<br />
							<input type="text" id="" class="input_type4" name="refer_url2" value="<{$refer_url2}>" />
						</td>
					</tr>

					<{if $channel == '1'}> <!-- 블로그 -->
						<tr>
							<th>* 공정위 표시여부</th>
							<td colspan="3" class="last">
								<input type="radio" checked name="raw_display" value="1" class="radio first" <{if $raw_display == 1 }>checked<{/if}> />필수
								<input type="radio" name="raw_display" value="2" class="radio" <{if $raw_display == 2 }>checked<{/if}> />가이드X
								<input type="radio" name="raw_display" value="3" class="radio" <{if $raw_display == 3 }>checked<{/if}> />불가(대표승인)
								<input type="radio" name="raw_display" value="4" class="radio" <{if $raw_display == 4 }>checked<{/if}> />무관
								<input type="text" id="" class="input_type1" name="raw_display_memo" value="<{$raw_display_memo}>" />
							</td>
						</tr>
					<{/if}>

					<{if $mode == "modify"}>
						<tr>
							<th>포스팅 가이드<br />(가이드 메일용)</th>
							<td colspan="3" class="last">
								<{if !!$pres_guide_email}>
<textarea name="pres_guide_email" id="pres_guide_email" class="textarea_guide" style="height:250px;"><{$pres_guide_email}></textarea>
								<{else}>
<textarea name="pres_guide_email" id="pres_guide_email" class="textarea_guide" style="height:250px;">
[필수사항]

[권장사항]

[참고자료]
</textarea>
								<{/if}>
								<button onclick="process.value='pres_guide_email';submit();" class="btn_small_memo">저장</button>
							</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<!-- //모집 요건 정의 -->

			<table cellpadding="0" cellspacing="0">
				<colgroup>
					<col width="200" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th colspan="2" class="last">신청서 선택 사항</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>선택 옵션명 A</th>
						<td class="last">
							<input type="text" class="input_type4" name="opt_a_title" value="<{$opt_a_title}>" id="op_chk1_input1" <{if $opt_a_use == 0 }>disabled="disabled"<{/if}>/>
							<input type="radio" name="opt_a_use" class="radio" value="1" onclick="opt_a_title.disabled=false;opt_a_desc.disabled=false;" <{if $opt_a_use == 1 }>checked<{/if}> />사용
							<input type="radio" name="opt_a_use" class="radio" value="0" onclick="opt_a_title.disabled=true;opt_a_desc.disabled=true;" <{if !$opt_a_use || $opt_a_use == 0 }>checked<{/if}> />미사용
						</td>
					</tr>
					<tr>
						<th>선택 옵션설명 A</th>
						<td class="last">
							<textarea name="opt_a_desc" cols="30" rows="5" class="textarea_type3" id="op_chk1_input2" <{if $opt_a_use == 0 }>disabled="disabled"<{/if}>><{$opt_a_desc}></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<table cellpadding="0" cellspacing="0" class="sub">
				<colgroup>
					<col width="200" />
					<col />
				</colgroup>
				<tbody>
					<tr>
						<th class="bt">선택 옵션명 B</th>
						<td class="bt last">
							<input type="text" class="input_type4" name="opt_b_title" value="<{$opt_b_title}>" id="op_chk2_input1" <{if $opt_b_use == 0 }>disabled="disabled"<{/if}>/>
							<input type="radio" name="opt_b_use" class="radio" value="1" onclick="opt_b_title.disabled=false;opt_b_desc.disabled=false;" <{if $opt_b_use == 1 }>checked<{/if}> />사용
							<input type="radio" name="opt_b_use" class="radio" value="0" onclick="opt_b_title.disabled=true;opt_b_desc.disabled=true;" <{if !$opt_b_use || $opt_b_use == 0 }>checked<{/if}> />미사용
						</td>
					</tr>
					<tr>
						<th>선택 옵션설명 B</th>
						<td class="last">
							<textarea name="opt_b_desc" cols="30" rows="5" class="textarea_type3" id="op_chk2_input2" <{if $opt_b_use == 0 }>disabled="disabled"<{/if}>><{$opt_b_desc}></textarea>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0" class="sub">
				<colgroup>
					<col width="200" />
					<col />
				</colgroup>
				<tbody>
					<tr>
						<th class="bt">선택 옵션명 C</th>
						<td class="bt last">
							<input type="text" class="input_type4" name="opt_c_title" value="<{$opt_c_title}>"  id="op_chk3_input1" <{if $opt_c_use == 0 }>disabled="disabled"<{/if}>/>
							<input type="radio" name="opt_c_use" class="radio" value="1" onclick="opt_c_title.disabled=false;opt_c_desc.disabled=false;" <{if $opt_c_use == 1 }>checked<{/if}> />사용
							<input type="radio" name="opt_c_use" class="radio" value="0" onclick="opt_c_title.disabled=true;opt_c_desc.disabled=true;" <{if !$opt_c_use || $opt_c_use == 0 }>checked<{/if}> />미사용
						</td>
					</tr>
					<tr>
						<th>선택 옵션설명 C</th>
						<td class="last">
							<textarea name="opt_c_desc" cols="30" rows="5" class="textarea_type3" id="op_chk3_input2" <{if $opt_c_use == 0 }>disabled="disabled"<{/if}>><{$opt_c_desc}></textarea>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0" class="sub">
				<colgroup>
					<col width="200" />
					<col />
				</colgroup>
				<tbody>
				<tr>
					<th class="bt">선택 옵션명 D</th>
					<td class="bt last">
						<input type="text" class="input_type4" name="opt_d_title" value="<{$opt_d_title}>"  id="op_chk4_input1" <{if $opt_d_use == 0 }>disabled="disabled"<{/if}>/>
						<input type="radio" name="opt_d_use" class="radio" value="1" onclick="opt_d_title.disabled=false;opt_d_desc.disabled=false;" <{if $opt_d_use == 1 }>checked<{/if}> />사용
						<input type="radio" name="opt_d_use" class="radio" value="0" onclick="opt_d_title.disabled=true;opt_d_desc.disabled=true;" <{if !$opt_d_use || $opt_d_use == 0 }>checked<{/if}> />미사용
					</td>
				</tr>
				<tr>
					<th>선택 옵션설명 D</th>
					<td class="last">
						<textarea name="opt_d_desc" cols="30" rows="5" class="textarea_type3" id="op_chk4_input2" <{if $opt_d_use == 0 }>disabled="disabled"<{/if}>><{$opt_d_desc}></textarea>
					</td>
				</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0" class="sub">
				<colgroup>
					<col width="200" />
					<col />
				</colgroup>
				<tbody>
				<tr>
					<th class="bt">선택 옵션명 E</th>
					<td class="bt last">
						<input type="text" class="input_type4" name="opt_e_title" value="<{$opt_e_title}>"  id="op_chk5_input1" <{if $opt_e_use == 0 }>disabled="disabled"<{/if}>/>
						<input type="radio" name="opt_e_use" class="radio" value="1" onclick="opt_e_title.disabled=false;opt_e_desc.disabled=false;" <{if $opt_e_use == 1 }>checked<{/if}> />사용
						<input type="radio" name="opt_e_use" class="radio" value="0" onclick="opt_e_title.disabled=true;opt_e_desc.disabled=true;" <{if !$opt_e_use || $opt_e_use == 0 }>checked<{/if}> />미사용
					</td>
				</tr>
				<tr>
					<th>선택 옵션설명 E</th>
					<td class="last">
						<textarea name="opt_e_desc" cols="30" rows="5" class="textarea_type3" id="op_chk5_input2" <{if $opt_e_use == 0 }>disabled="disabled"<{/if}>><{$opt_e_desc}></textarea>
					</td>
				</tr>
				</tbody>
			</table>
			<!-- //신청서 선택 사항 -->


			<div class="btn_wrap">
				<{if $session_staff_state == '1' && ($mode != "modify" || ($mode == "modify" && permissionNameCheck($session_permission,"마케터") && $p_state < '2') || ($mode == "modify" && permissionNameCheck($session_permission,"서비스운영")))}>
					<button onclick="return check_form(this);" class="btn_style1"><span><{$submit_btn}></span></button>
				<button type="button" onclick="history.back()" class="btn_style1" style="background: #ccc;"><span>뒤로가기</span></button>
				<{/if}>

				<{if $mode == "modify"}>
					<{if permissionNameCheck($session_permission,"마케터") || (permissionNameCheck($session_permission,"서비스운영") && $session_staff_state == '1') || permissionNameCheck($session_permission,"마스터관리자")}>
						<div class="right_btn_wrap">
							<button onclick="process.value='write'; return pormotion_duplicate(this);"  class="btn_small">요건복사하기</button>
						</div>
					<{/if}>
				<{/if}>
			</div>

		</form>

		</div>
		<!-- //table_style1 -->

	</div>
	<!-- //admin_content -->

<script type="text/javascript">

	function pormotion_duplicate(f){
		if(cknull("item_company","업체명을")=="x") {return false;}
		if(confirm("동일하게 복사 하시겠습니까?") == true){
				f.submit();
		} else {
			return false;
		}
	}

	function check_form(f) {
		if (cknull("item_company","업체명을")=="x") {return false;}
		if (cknull("s_no","업체를 다시")=="x") {return false;}
		//if (cknull("f_location1","지역분류를")=="x") {return false;}
		if (cknull("reg_sdate","모집기간을")=="x") {return false;}
		if (cknull("reg_edate","모집기간을")=="x") {return false;}
		if (cknull("awd_date","발표일을")=="x") {return false;}
		if (cknull("exp_sdate","진행기간을")=="x") {return false;}
		if (cknull("exp_edate","진행기간을")=="x") {return false;}
		if (cknull("reg_num","모집인원을")=="x") {return false;}
		if (ckrdo("re_apply","재신청 가능 여부를")=="x") {return false;}

		<{if $kind == 2 }>
			if (cknull("pres_money","포스팅 보상을")=="x") {return false;}
			<{if $channel == '1'}> <!-- 블로그 -->
				if (cknull("pres_visit","일방문자수를")=="x") {return false;}
			<{elseif $channel == '2'}> <!-- 인스타그램 -->
				if (cknull("pres_visit","팔로워수를")=="x") {return false;}
			<{elseif $channel == '3'}> <!-- 페이스북 -->
				if (cknull("pres_visit","페이스북 친구수를")=="x") {return false;}
			<{/if}>
		<{/if}>

		<{if $kind == 1 || $kind == 3 }>
			if (cknull("product","체험상품을")=="x") {return false;}
		<{/if}>
		<{if $channel == 5 }>
			if (cknull("product","촬영시 제공상품을")=="x") {return false;}
		<{/if}>

		<{if $channel == '1'}> <!-- 블로그 -->
			if (ckrdo("subject_option","업체명 표기 여부를")=="x") {return false;}
			if (cknull("raw_display","공정위 표시여부를")=="x") {return false;}
		<{elseif $channel == '4'}> <!-- 카페 -->
			if (ckrdo("subject_option","업체명 표기 여부를")=="x") {return false;}
		<{/if}>

		if(!keyword_subject_check()){
			alert("제목키워드에는 추후전달을 입력할 수 없습니다.\n추후전달 시 공란으로 넣어주시고,\n키워드가 결정되었을 때만 수정하여 저장해 주세요.");
			return false;
		}

		f.submit();
	}

	function keyword_subject_check(){
		var keyword_subject_value = document.getElementById("keyword_subject").value;

		if(keyword_subject_value.indexOf("추후전달") != -1 || keyword_subject_value.indexOf("추후 전달") != -1)
			return false;
		return true;
	}


	function is_ie() {
		if(navigator.userAgent.toLowerCase().indexOf("chrome") != -1) return false;
		if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) return true;
		if(navigator.userAgent.toLowerCase().indexOf("windows nt") != -1) return true;
		return false;
	}

	function copy_to_clipboard(str) {
		if( is_ie() ) {
			window.clipboardData.setData("Text", str);
			alert("복사되었습니다.");
			return;
		}
		prompt("Ctrl+C를 눌러 복사하세요.", str);
	}


$(document).ready(function(){

    $("#s_name").autocomplete({
        source: function( request, response ) {
            $("#s_no").val('');
            $("#team").val('');
            $.ajax({
                url: "/v1/api/staff.api.php",
                dataType: "json",
                data: {
                    s_name: request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            sno : item.s_no,
                            label : item.s_label,
                            sname : item.s_name,
                            team : item.team
                        }
                    }));
                }
            });
        },
        select: function( event, ui ) {
            event.preventDefault();
            $("#s_no").val(ui.item.sno);
            $('#s_name').val(ui.item.label);
            $('#name').val(ui.item.sname);
            $('#team').val(ui.item.team);
        },
        focus: function(event, ui) {
            return false;
        },
        minLength: 1
    });

    $("#reg_s_name").autocomplete({
        source: function( request, response ) {
            $("#reg_s_no").val('');
            $("#reg_team").val('');
            $.ajax({
                url: "/v1/api/staff.api.php",
                dataType: "json",
                data: {
                    s_name: request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            sno : item.s_no,
                            label : item.s_label,
                            sname : item.s_label,
                            team : item.team
                        }
                    }));
                }
            });
        },
        select: function( event, ui ) {
            event.preventDefault();
            $("#reg_s_no").val(ui.item.sno);
            $('#reg_s_name').val(ui.item.sname);
            $('#reg_team').val(ui.item.team);
        },
        focus: function(event, ui) {
            return false;
        },
        minLength: 1
    });

	// 업체명 자동완성 검색 결과 값 반영
	$("#item_company").autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "/v1/api/autocomplete.api.php",
				dataType: "json",
				data: {
						c_name:request.term,
						s_no:document.getElementById('s_no').value
				},
				success: function( data ) {
					response( $.map( data, function( item ) {
						return {
							label : item.label,
							cname : item.c_name,
							cno : item.c_no,
							cabout : item.c_about,
							cate1 : item.cate1,
							cate2 : item.cate2,
							loca1 : item.loca1,
							loca2 : item.loca2,
							zip1 : item.zip1,
							zip2 : item.zip2,
							address1 : item.address1,
							address2 : item.address2,
							tel1 : item.tel1,
							tel2 : item.tel2,
							tel3 : item.tel3,
							parking : item.parking,
							site : item.site,
							s_no : item.s_no,
							team : item.team,
							s_name : item.s_name,
							s_label : item.s_label
						}
					}));
				}
			});
		},
		select: function( event, ui ) {
			event.preventDefault();
			$("#item_company").val(ui.item.cname);
			$("#item_about").val(ui.item.cabout);
			$("#c_no").val(ui.item.cno);
			$("#zip1").val(ui.item.zip1);
			$("#zip2").val(ui.item.zip2);
			$("#address1").val(ui.item.address1);
			$("#address2").val(ui.item.address2);
			$("#tel1").val(ui.item.tel1);
			$("#tel2").val(ui.item.tel2);
			$("#tel3").val(ui.item.tel3);
			$("#parking").val(ui.item.parking);
			$("#site").val(ui.item.site);
			$("#f_cate1").val(ui.item.cate1);
			$("#f_cate2").val(ui.item.cate2);
			$("#f_location1").val(ui.item.loca1);
			$("#f_location2").val(ui.item.loca2);
			$("#s_no").val(ui.item.s_no);
			$("#name").val(ui.item.s_name);
			$("#s_name").val(ui.item.s_label);
			$("#team").val(ui.item.team);
		},
		focus: function( event, ui ) {
			return false;
		},
		minLength: 1
	});

 });


	// 글자수 체크 clear 코드
	function clearCounting(){
		var text = document.getElementById("product").value = "";
		var cnt_text = document.getElementById("cnt_text").innerHTML = "0";
	}

	// 글자수 체크 글자수표기 코드
	function textCounting(){
		var text = document.getElementById("product");
		var cnt_text = document.getElementById("cnt_text");
		var textlength = text.value.length;
		cnt_text.textContent = textlength;

		if(textlength > 255) {
			text.style.color = "red";
			text.style.borderColor = "red";
				alert("글자수가 초과되었습니다.");
		} else {
			text.style.color = "black";
			text.style.borderColor = "black";
		}
	}

	// 글자수 체크 글자수표기 코드 : 체험가능시간
	function textCounting2(){
		var text = document.getElementById("cons_exp_time");
		var cnt_text = document.getElementById("cnt_text2");
		var textlength = text.value.length;
		cnt_text.textContent = textlength;

		if(textlength > 80) {
			text.style.color = "red";
			text.style.borderColor = "red";
				alert("글자수가 초과되었습니다.");
		} else {
			text.style.color = "black";
			text.style.borderColor = "black";
		}
	}

	//*************** 라디오 버튼 Readonly 시작 ***************//
	function setRadioCl(e){
	    var srcEl = getSrc(e);
	    var ra = srcEl.form[srcEl.name]
	    for(var i=0;i<ra.length;i++){
	        if(ra[i].checked) ra[i].onpropertychange = function(e){getSrc(e).click()}
	        else ra[i].onclick = function(){return false};
	    }
	}

	function getSrc(e)
	{
	    return e? e.target || e.srcElement : event.srcElement;
	}
	//*************** 라디오 버튼 Readonly 끝   ***************//


	function caution_display(type){
		if(type=='show'){
			$("#caution_display").show();
			$("#caution_display_btn_show").hide();
			$("#caution_display_btn_hide").show();
		}else if(type=='hide'){
			$("#caution_display").hide();
			$("#caution_display_btn_show").show();
			$("#caution_display_btn_hide").hide();
		}
	}

</script>
 </body>
</html>
