<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.main_table_style table th{text-align: center;}
</style>

<div class="admin_content" style="width:1180px;">
	<h2 class="title_kind2" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form	method="get" name="search_form"	action="" autocomplete="off">
		<div class="default_wrap">
			<div class="left_wrap">
				<span	class="name_tit">구분</span>
				<select	name="skind" id="" class="select_type2">
					<option	value="" <{if	!$skind}>selected<{/if}>>전체</option>
					<option	value="1"	<{if $skind==1}>selected<{/if}>>체험단</option>
					<option	value="2"	<{if $skind==2}>selected<{/if}>>기자단</option>
					<option	value="3"	<{if $skind==3}>selected<{/if}>>배송체험</option>
				</select>
				<span	class="name_tit">지역1</span>
				<select	name="f_location1" id="f_location1"	class="select_type2" style="margin-right:20px">
					<option	value="" <{if	!$f_location1}>selected<{/if}>>전체</option>
					<{section	name=data	loop=$location}>
					<option	value="<{$location[data].location_code}>"	<{if $f_location1==$location[data].location_code}>selected<{/if}>><{$location[data].location_name}></option>
					<{/section}>
				</select>
				<span	class="name_tit">지역2</span>
				<select	id="f_location2" name="f_location2"	class="select_type2">
					<option	value="">전체</option>
				</select>
				<span	class="name_tit" style="margin-left:10px">신청타입</span>
				<select	name="stype" id="stype"	class="select_type2">
					<option	value="all"	<{if $stype == "all" }>selected<{/if}>>전체</option>
					<option	value="naver_id" <{if	$stype == "naver_id"}>selected<{/if}>>네이버	쪽지</option>
					<option	value="hp" <{if	$stype == "hp"}>selected<{/if}>>문자 메시지</option>
				</select>
				<span	class="name_tit" style="margin-left:10px">안내발송	여부</span>
				<select	name="ssend" id="ssend"	class="select_type2">
					<option value="all" <{if $ssend == "all"}>selected<{/if}>>전체</option>
					<option value="Y" <{if $ssend == "Y"}>selected<{/if}>>발송</option>
					<option value="N" <{if $ssend == "N" }>selected<{/if}>>미발송</option>
				</select>
			</div>
		</div>

		<div class="default_wrap">
			<div class="left_wrap">
				<span	class="name_tit">업체명</span>
				<input type="text" name="scompany" value="<{$scompany}>" class="input_type1" onkeydown="javascipt:if(event.keyCode ==	13)searchList();"	/>
				<button	class="btn_small"	onclick="submit();">검색</button>
			</div>
		</div>
	</form>
</div><!-- //admin_content -->

<form method="post" name="list_form" id="list_form" action="">
	<input type="hidden" name="list_query" value="<{$save_query}>">
	<input type="hidden" name="process" value="memo" />
	<input type="hidden" id="r_no" name="r_no" value="" />
	<input type="hidden" id="send_yn" name="send_yn" value="" />

	<div class="main_table_style no_bdr">
		<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
			<thead>
				<tr>
					<th	width="60px;">no</th>
					<th	width="70px;">구분</th>
					<th	width="75px;">CODE</th>
					<th	width="100px;">지역1</th>
					<th	width="100px;">지역2</th>
					<th	width="200px;">업체명</th>
					<th	width="120px;">네이버 쪽지	안내</th>
					<th	width="120px;">문자	안내</th>
					<th	width="180px;">안내	발송여부</th>
					<th	width="140px;" class="last">요청 날짜</th>
				</tr>
			</thead>
			<tbody>
				<{section name=data loop=$blogger}>
				<tr>
					<td	height="25"><{$blogger[data].r_no}></td>
					<td class="gubun_td"><span class="kind_gubun<{$blogger[data].kind}>"><{$blogger[data].kind_name}></span></td>
					<td><{$blogger[data].promotion_code}></td>
					<td><{$blogger[data].location1}></td>
					<td><{$blogger[data].location2}></td>
					<td style="text-align:left;padding-left:10px"><{$blogger[data].company}></td>
					<td><{$blogger[data].naver_id}></td>
					<td><{$blogger[data].hp}></td>
					<td>
						<div>
							<input type="radio"	class="rdo_send_yn" name="send_yn_<{$blogger[data].r_no}>"	value="Y" <{if $blogger[data].send_yn == "Y"}> checked="checked"<{/if}>" /> 발송
							<input type="radio"	class="rdo_send_yn" name="send_yn_<{$blogger[data].r_no}>"	value="N" <{if $blogger[data].send_yn == "N"}> checked="checked"<{/if}>" /> 미발송
							<!--
							<button	type="button"	onclick="return	save_send_yn('<{$blogger[data].r_no}>');"	class="btn_small"	>저장</button>
							-->
						</div>
					</td>
					<td><{$blogger[data].regdate}></td>
				</tr>
				</form>
				<{/section}>
			</tbody>
		</table>
		<div class="paging_wrap" style="width:1180px">
			<{$pagelist}>
		</div>
	</div>
</form>

<div class="left_wrap">
	<{if (permissionNameCheck($session_permission, "서비스운영") || permissionNameCheck($session_permission, "마스터관리자")) }>
		 <button type="button" onclick="location.href='excel_reservation_list.php?<{$save_query}>'; return false;"	class="btn_style1"><span>엑셀	파일로	저장 </span></button>
	<{/if}>
</div>


<script type="text/javascript">
	$(function(){
		$("#f_location2").remoteChained({
			parents	:	"#f_location1",
			url	:	"/v1/api/location.json.php",
			<{if $f_location2	!= ""	}>
			bootstrap	:	{
				"":"전체",
				<{section	name=data	loop=$editlocation}>
				"<{$editlocation[data].location_code}>":"<{$editlocation[data].location_name}>",
				<{/section}>
				"selected":"<{$f_location2}>"
			},
					<{elseif $f_location1	!= ""}>
					bootstrap	:	{
				"":"전체",
				<{section	name=data	loop=$editlocation}>
				"<{$editlocation[data].location_code}>":"<{$editlocation[data].location_name}>",
				<{/section}>
							"selected":"전체"
			},
			<{/if}>
			loading	:	"로딩중.."
		});

		$("#f_location2").trigger('change');

		$(".rdo_send_yn").on('click', function() {
			var str = $(this).attr('name');
			var val = $(this).attr('value');
			r_no = str.substring(str.lastIndexOf('_') + 1);

			$.post("reservation_list.php", {process: 'save_send_yn', r_no: r_no, send_yn: val}, function(data) {

			});
		});

	});

	function save_send_yn(r_no) {
		var val = $(':radio[name="send_yn_' + r_no + '"]:checked').val();

		document.getElementById('list_form').process.value = "save_send_yn";
		document.getElementById('list_form').r_no.value = r_no;
		document.getElementById('list_form').send_yn.value = val;
		document.getElementById('list_form').submit();
	}
</script>

</body>
</html>
