<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table_reward_list_style table th{text-align: center;}
	.datepicker .clear{background: #FF5722; color: white; font-weight: bold;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #reward-modal{height: auto; width: 100%;overflow: unset; max-width: 1200px; max-height: 700px; padding: 10px;}
	.modal-content{border: 0;}
	#reward_frm_content{height: 650px; overflow-y: scroll;}
	#reward_frm_content table td{padding: 0.1rem; font-weight: bold;}
	#reward_frm_content table td{vertical-align: middle;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" id="search_form" action="reward_list.php" autocomplete="off">
		<input type="hidden" name="od" value="<{$order}>">
		<input type="hidden" name="by" value="<{$order_type}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">계열사</span>
				<select name="sch_my_c_no" id="sch_my_c_no" class="select_type2" style="width: 150px;">
					<option value="">::전체::</option>
					<{foreach from=$my_company_name_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">모집상태</span>
				<select name="sch_state" id="sch_state" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$reward_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">구분</span>
				<select name="sch_kind" id="sch_kind" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$promotion_kind_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_kind == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">CODE</span>
				<input type="text" name="sch_code" value="<{$sch_code}>" class="input_type3">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">업체명</span>
				<input type="text" name="sch_company" class="input_type3" value="<{$sch_company}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">닉네임</span>
				<input type="text" name="sch_nick" class="input_type3" value="<{$sch_nick}>">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">이름</span>
				<input type="text" name="sch_username" class="input_type3" value="<{$sch_username}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">블로그 URL</span>
				<input type="text" id="sch_blog_url" name="sch_blog_url" class="input_type1" value="<{$sch_blog_url}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<br>

				<span class="name_tit">보상일</span>
				<input type="text" name="sch_reward_date" id="sch_reward_date" class="date-picker input_type3" value="<{$sch_reward_date}>">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">예금주</span>
				<input type="text" name="sch_bk_name" class="input_type3" value="<{$sch_bk_name}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">계좌번호</span>
				<input type="text" name="sch_bk_num_detail" class="input_type3" value="<{$sch_bk_num_detail}>" onkeydown="javascript:if(event.keyCode == 13)searchList();">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">계좌번호(유/무)</span>
				<select name="sch_bk_num" id="sch_bk_num" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$reward_account_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_bk_num == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<br>
				<span class="name_tit">지급요청일</span>
				 <input type="text" name="sch_wd_due_date" id="sch_wd_due_date" class="date-picker input_type3" value="<{$sch_wd_due_date}>">
				is NULL<input type="checkbox" name="sch_wd_due_date_null" <{if $sch_wd_due_date_null == 'null'}>checked<{/if}> value="null">
				<span style="margin-right:20px;"></span>

				<span class="name_tit">보상/소득세 저장여부</span>
				<select name="sch_tax_set" id="sch_tax_set" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$reward_tax_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_tax_set == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">보상여부</span>
				<select name="sch_refund" id="sch_refund" class="select_type2">
					<option value="">전체</option>
					<{foreach from=$reward_refund_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_refund == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<button class="btn_long" onclick="submit();">검색</button>
		<{if $session_s_no == '61' || permissionNameCheck($session_permission, "마스터관리자")}>
		<div style="overflow: hidden;">
			<button type="button" class="btn" onclick="delPersonalInfo()" style="font-size: 14px;font-weight: bold;background: red;color: white; margin: 10px 0 0 0; float: left;">
				탑블로그 보상 개인정보 삭제
				<img title="개인정보보호를 위해 등록일로 부터 1년 이후의 주민번호,은행,계좌,예금주,휴대폰번호,이메일,주소,cafe_id 가 삭제 됩니다." src="./images/icon/question3.png" style="cursor: pointer; margin-top: -4px;"></a>
			</button>
			<{if $work_last_date}>
				<span style="line-height: 30px;float: left;margin: 20px 0 0 10px;font-weight: bold;font-size: 12px;">
					last operate : <{$work_last_date}>
				</span>
			<{/if}>
		</div>
		<{/if}>
		<hr></hr>

		<{if $session_s_no == '61' || $session_s_no == '18'}>
		<button type="button" class="btn" onclick="openRewardWork()" style="float: left; font-size: 14px;font-weight: bold;background: #ff5722;color: white; margin: 0;">인센티브정산</button>
		<{/if}>
	</form>

	<div class="table_reward_list_style">
		<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC; border-top: 0;">
			<thead>
			<tr style="border: 0;">
				<td colspan="15" style="padding-top: 5px;">
					<div class="left_wrap" style="padding-top: 8px;">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</div>
					<div class="right_wrap" style="width: 800px;">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
						<div style="float: right; line-height: 30px;">
							<a href="reward_list.php?sch_state=<{$sch_state}>&sch_code=<{$sch_code}>&sch_company=<{$sch_company}>&sch_reward_date=<{$sch_reward_date}>&sch_bk_num=<{$sch_bk_num}>&sch_wd_due_date=<{$sch_wd_due_date}>&sch_wd_due_date_null=<{$sch_wd_due_date_null}>&sch_tax_set=<{$sch_tax_set}>&sch_refund=<{$sch_refund}>&sch_nick=<{$sch_nick}>&sch_username=<{$sch_username}>&sblog_url=<{$sblog_url}>&od=1<{if !$order_type }>&by=1<{/if}>">주민번호순<{if $order=='1' }> <{if !$order_type}>↑<{else}>↓<{/if}><{/if}></a>
							&nbsp;|&nbsp;
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<form name="select_check_form" id="select_check_form" action="reward_list.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="process">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="select_a_no_list">
					<input type="hidden" name="select_reward_cost_list">
					<input type="hidden" name="select_biz_tax_list">
					<input type="hidden" name="select_local_tax_list">
					<input type="hidden" name="select_reward_cost_result_list">
					<input type="hidden" name="select_due_date">

					<th style="min-width:26px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);" <{if !$is_editable}>disabled<{/if}>>
					</th>
					<th style="min-width:60px;">모집상태</th>
					<th style="min-width:70px;">구분</th>
					<th style="min-width:75px;">CODE</th>
					<th style="min-width:200px;">업체명</th>
					<th style="min-width:75px;">보상일</th>
					<th style="min-width:100px;">닉네임</th>
					<th style="min-width:55px;">이름</th>
					<th style="min-width:220px;">블로그 URL</th>
					<th style="min-width:130px;">주민번호</th>
					<th style="min-width:80px;">은행명</th>
					<th style="min-width:130px;">계좌번호</th>
					<th style="min-width:80px;">예금주</th>
					<th style="min-width:50px;">1건당<br>보상금</th>
					<th style="min-width:370px;">포스팅제목<br>URL</th>
					<th style="min-width:125px;">
						지급요청일<br>
						<span style="font-size:11px;">[보상일] [보상일+7일]</span>
						<{if $is_editable}>
						<br/>
						<input type="text" name="total_due_date" id="total_due_date" class="input_type_date_small date-picker" value="<{$blogger[list].pres_reward_week}>" autocomplete="off"><br>
						<button type="button" class="btn_small" style="width:55px; background-color: #ff5722; padding : 0 0;" onclick="save_due_date_select();">선택저장</button>
						<{/if}>
					</th>
					<th style="min-width:100px;">보상지급액<br>(소득세 별도)</th>
					<th style="min-width:80px;">사업소득세</th>
					<th style="min-width:80px;">지방소득세</th>
					<th style="min-width:85px;">보상지급액<br>(소득세 포함)</th>
					<th style="min-width:70px;">
						보상/소득세<br>저장<br>
						<{if $is_editable}>
						<button type="button" class="btn_small" style="width:55px; background-color: #ff5722; padding : 0 0;" onclick="save_tax_select();">선택저장</button>
						<{/if}>
					</th>
					<th style="min-width:110px;" class="last">보상완료</th>
				</form>
			</tr>
			</thead>
			<tbody>
			<{foreach from=$reward_list item=reward}>
			<form name="apply_frm<{$reward.a_no}>" id="apply_frm<{$reward.a_no}>" action="reward_list.php" method="post" enctype="multipart/form-data">
				<input type="hidden" name="process">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<input type="hidden" name="p_no" value="<{$reward.p_no}>">
				<input type="hidden" name="a_no" value="<{$reward.a_no}>">
				<input type="hidden" name="application_no">
				<tr>
					<td rowspan="2"> <!-- checkbox -->
						<input type="checkbox" name="select_check[]" class="select_check" value="<{$reward.a_no}>" <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td rowspan="2"><{$reward.state_name}></td> <!-- 모집상태 -->
					<td rowspan="2" class="gubun_td"> <!-- 구분 -->
						<span class="kind_gubun<{$reward.kind}>"><{$reward.kind_name}></span>
					</td>
					<td rowspan="2"><{$reward.promotion_code}></td> <!-- CODE -->
					<td rowspan="2" class="link_td"> <!-- 업체명 -->
						<a href="./promotion_regist.php?no=<{$reward.p_no}>" target="_blank"><{$reward.company}></a>
					</td>
					<td rowspan="2"><{$reward.pres_reward}></td>
					<td rowspan="2" class="bg_point"><{$reward.nick}></td>
					<td rowspan="2"><{$reward.username}></td>
					<td rowspan="2">
						<{$reward.blog_url}><br>
						<button type="button" class="btn_small" onclick="window.open('<{$reward.blog_url}>','_blank');">블로그보기</button><button type="button" onClick="window.open('popup/blogger_detail.php?blog_url=<{$reward.blog_url}>','상세보기','width=1600, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_small">상세보기</button>
					</td>
					<td class="bg_point">
						<input type="text" class="input_type_w120" name="bk_jumin" id="bk_jumin"  value="<{if $is_editable}><{$reward.bk_jumin}><{else}>******-*******<{/if}>" <{if $reward.refund_count > 0}>readonly<{/if}> <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td class="bg_point">
						<select  name="bk_title" id="bk_title" class="select_type1" <{if $reward.refund_count > 0}>disabled<{/if}> <{if !$is_editable}>disabled<{/if}>>
						<option value="">:: 선택 ::</option>
						<{foreach from=$promotion_bank_option key=key item=label}>
						<option value="<{$key}>" <{if $reward.bk_title==$key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
						</select>
					</td>
					<td class="bg_point" >
						<input type="text" class="input_type_w120" name="bk_num" id="bk_num"  value="<{$reward.bk_num}>" <{if $reward.refund_count > 0}>readonly<{/if}> <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td class="bg_point">
						<input type="text" class="input_type2" name="bk_name" id="bk_name"  value="<{$reward.bk_name}>" <{if $reward.refund_count > 0}>readonly<{/if}> <{if !$is_editable}>disabled<{/if}>>
					</td>
					<td rowspan="2">
						<{if !!$reward.bk_jumin && !!$reward.bk_title && !!$reward.bk_num && !!$reward.bk_name }>
						<{$reward.pres_money}>
						<{else}>
						&nbsp;
						<{/if}>
					</td>
					<td rowspan="2" class="alignL link_td">
						<{if isset($report_list[$reward.a_no])}>
						<{foreach from=$report_list[$reward.a_no] item=report_data}>
						<{if $report_data.post_title != ''}><{$report_data.post_title}><br><{/if}>
						<{if $report_data.post_url != ''}><a href="<{$report_data.post_url}>" target="_blank"><{$report_data.post_url}></a><br><{/if}>
						<{/foreach}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 지급요청일 [보상일] [보상일+7일] -->
						<{if !!$reward.wd_no}>
						<{$reward.wd_due_date}>
						<a href="withdraw_regist.php?wd_no=<{$reward.wd_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
						<{else}>
						<{if !!$reward.bk_jumin && !!$reward.bk_title && !!$reward.bk_num && !!$reward.bk_name }>
						<input type="text" id="wd_due_date_<{$reward.a_no}>" name="wd_due_date_<{$reward.a_no}>" value="<{$reward.wd_due_date}>" class="input_type_date_small wd-date-picker" attr-value="<{<{$reward.a_no}>}>" <{if !$is_editable}>disabled<{/if}>><br>
						<input type="hidden" name="wd_due_date_val" id="wd_due_date_val_<{$reward.a_no}>" value="<{$reward.wd_due_date_val}>">
						<{if ($reward.refund_count == '' || $reward.refund_count == '0') && $is_editable }>
						<button type="button" class="btn_file" style="font-size:10px; padding: 2px 3px; <{if $reward.pres_reward_intval > '2'}>background-color:#ff5722;<{/if}>" onclick="save_el_quick('<{$reward.a_no}>', 'wd_due_date', '<{$reward.pres_reward}>', '<{$reward.pres_reward_week}>', 'wd_due_date_<{$reward.a_no}>')"><{$reward.pres_reward_week}></button>
						<button type="button" class="btn_file" style="font-size:10px; padding: 2px 3px; <{if $reward.pres_reward_intval > '9'}>background-color:#ff5722;<{/if}>" onclick="save_el_quick('<{$reward.a_no}>', 'wd_due_date', '<{$reward.pres_reward_next}>', '<{$reward.pres_reward_next_week}>', 'wd_due_date_<{$reward.a_no}>')"><{$reward.pres_reward_next_week}></button>
						<{/if}>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 보상지급액 (소득세 별도) -->
						<{if !!$reward.wd_no}>
						<{$reward.reward_cost}>
						<{else}>
						<{if !!$reward.is_reward_view}>
						<{if $reward.reward_cost != ""}><{$reward.reward_cost}><br><{/if}>
						<input type="text" name="f_reward_cost" id="f_reward_cost" class="input_type_money" style="color: #0026ff; width:75px;" value="<{$reward.input_reward_cost}>"
						<{if $reward.refund_count == '' || $reward.refund_count == '0' }>
						onblur="" onfocus="this.value=''" onkeyup="inputNumberFormat(this)"
						<{elseif $reward.refund_count > 0 }>
						readonly
						<{/if}>
						<{if !$is_editable}> disabled <{/if}>
						>
						<{if $reward.pres_num >= '2'}>
						<br>(<{$reward.pres_money}>원*<{$reward.pres_num}>회)
						<{/if}>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 사업소득세 -->
						<{if !!$reward.wd_no}>
						<{$reward.biz_tax}>
						<{else}>
						<{if !!$reward.is_reward_view}>
						<{if $reward.biz_tax != ""}><{$reward.biz_tax}><br><{/if}>
						<input type="text" name="f_biz_tax" id="f_biz_tax" class="input_type_money" style="color: #0026ff; width:70px;" value="<{$reward.input_biz_tax}>"
						<{if $reward.refund_count == '' || $reward.refund_count == '0' }>
						onblur="" onfocus="this.value=''" onkeyup="inputNumberFormat(this)"
						<{elseif $reward.refund_count > 0 }>
						readonly
						<{/if}>
						<{if !$is_editable}> disabled <{/if}>
						>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 지방소득세 -->
						<{if !!$reward.wd_no}>
						<{$reward.local_tax}>
						<{else}>
						<{if !!$reward.is_reward_view}>
						<{if $reward.local_tax != ""}><{$reward.local_tax}><br><{/if}>
						<input type="text" name="f_local_tax" id="f_local_tax" class="input_type_money" style="color: #0026ff; width:70px;" value="<{$reward.input_local_tax}>"
						<{if $reward.refund_count == '' || $reward.refund_count == '0' }>
						onblur="" onfocus="this.value=''" onkeyup="inputNumberFormat(this)"
						<{elseif $reward.refund_count > 0 }>
						readonly
						<{/if}>
						<{if !$is_editable}> disabled <{/if}>
						>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 보상지급액 (소득세 포함) -->
						<{if !!$reward.wd_no}>
						<{$reward.reward_cost_result}>
						<{else}>
						<{if !!$reward.is_reward_view}>
						<{if $reward.reward_cost_result != ""}><{$reward.reward_cost_result}><br><{/if}>
						<input type="text" name="f_reward_cost_result" id="f_reward_cost_result" class="input_type_money" style="width:75px;" value="<{$reward.input_reward_cost_result}>"
						<{if $reward.refund_count == '' || $reward.refund_count == '0' }>
						onblur="" onfocus="this.value=''" onkeyup="inputNumberFormat(this)"
						<{elseif $reward.refund_count > 0 }>
						readonly
						<{/if}>
						<{if !$is_editable}> disabled <{/if}>
						>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 소득세 저장 -->
						<{if !$reward.wd_no && $reward.is_reward_view}>
						<{if $reward.refund_count > 0 }>
						<{elseif $reward.reward_cost != "" || $reward.biz_tax != "" || $reward.local_tax != "" || $reward.reward_cost_result != ""}>
						<button type="button" class="btn_small" style="width:55px; height:50px;" onclick="save_tax('<{$reward.a_no}>');" <{if !$is_editable}>disabled<{/if}>>수정</button>
						<{else}>
						<button type="button" class="btn_small" style="width:55px; height:50px; background-color: #ff5722;" onclick="save_tax('<{$reward.a_no}>');" <{if !$is_editable}>disabled<{/if}>>저장</button>
						<{/if}>
						<{/if}>
					</td>
					<td rowspan="2"> <!-- 보상완료 -->
						<{if $is_editable}>
						<select name="selection_refund" id="selection_refund" class="select_type1" style="width:50px; color: #FF0000;" <{if !$is_editable}>disabled<{/if}>>
						<{foreach from=$reward_refund_cnt_option item=refund_cnt}>
						<option value="<{$refund_cnt}>" <{if $reward.refund_count == $refund_cnt}>selected<{/if}>><{$refund_cnt}></option>
						<{/foreach}>
						</select>
						<button type="button" class="btn_small" style="width:45px; background-color:#F7AFAF" onclick="save_refund(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>,'');"  <{if !$is_editable}>disabled<{/if}>>저장</button>
						<{if !!$reward.reward_cost_result && ($reward.refund_count == '' || $reward.refund_count == '0')}>
						<br>
						<button type="button" class="btn_small" style="width:30px; padding:0px; background-color:#F7AFAF" onclick="save_refund(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>, '0');" <{if !$is_editable}>disabled<{/if}>>0건</button>
						<button type="button" class="btn_small" style="width:30px; padding:0px; background-color:#F7AFAF" onclick="save_refund(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>, '1');" <{if !$is_editable}>disabled<{/if}>>1건</button>
						<button type="button" class="btn_small" style="width:30px; padding:0px; background-color:#F7AFAF" onclick="save_refund(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>, '2');" <{if !$is_editable}>disabled<{/if}>>2건</button>
						<{else}>
						&nbsp;
						<{/if}>
						<{/if}>
					</td>
				</tr>

				<tr>
					<{if ($reward.refund_count == '' || $reward.refund_count == '0')}>
					<td colspan="4" class="bg_point">
						<{if $is_editable }>
						<button type="button" class="btn_small" style="width:300px;" onclick="save_bk(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>);">↑ 입금정보저장 ↑</button>
						<button type="button" class="btn_small" style="width:110px; background: #ff5722; padding: 3px 7px;" onclick="del_bk_info(<{if $reward.a_no != ''}><{$reward.a_no}><{else}>''<{/if}>);">↑입금정보삭제↑</button>
						<{else}>
						&nbsp;
						<{/if}>
					</td>
					<{/if}>
				</tr>
			</form>
			<{/foreach}>
			</tbody>
		</table>
		<div class="paging_wrap">
			<{$pagelist}>
		</div>
	</div>
	<div class="left_wrap">
		<{if $session_s_no == '61' || $session_s_no == '18'}>
		<button onclick="location.href='excel_reward_list.php?<{$search_url}>';" class="btn_style1"><span>완료보고별 보상지급 내역</span></button>
		<button onclick="location.href='excel_reward_co_list.php?<{$search_url}>';" class="btn_style1"><span>업체별 보상지급 내역</span></button>
		<button onclick="location.href='excel_reward_bk_list.php?<{$search_url}>';" class="btn_style1"><span>계좌별 보상지급 내역</span></button>
		<button onclick="location.href='excel_reward_co_sum_list.php?<{$search_url}>';" class="btn_style1"><span>업체별합산 품의</span></button>
		<{else}>
		<button onclick="location.href='excel_reward_co_list.php?<{$search_url}>';" class="btn_style1"><span>업체별 보상지급 내역(주민번호 제외)</span></button>
		<button onclick="location.href='excel_reward_bk_list.php?<{$search_url}>';" class="btn_style1"><span>계좌별 보상지급 내역(주민번호 제외)</span></button>
		<{/if}>
	</div>
</div><!-- //admin_content -->

<div class="modal" id="reward-modal">
	<div class="modal-content">
		<form name="reward_frm" id="reward_frm" class="reward_frm" action="reward_list.php" method="post">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="select_p_no_list" value="">
			<input type="hidden" name="select_date" value="<{$sch_wd_due_date}>">
			<input type="hidden" name="select_tax_set" value="<{$sch_tax_set}>">
			<input type="hidden" name="select_refund" value="<{$sch_refund}>">
			<input type="hidden" name="process" value="">
			<div id="reward_frm_content">

			</div>
		</form>
	</div>
</div>

<script type="text/javascript">

	var day_names = ['일','월','화','수','목','금','토','일']
	$(document).ready(function(){
		$(".wd-date-picker").click(function(){
			var self 	= $(this);
			var attrVal = self.attr('attr-value');
			var wd_date = $("#wd_due_date_val_"+attrVal).val();

			$(this).datepicker('setDate', wd_date).on('changeDate',function(selected){
				var wd_date_change 	  = $(this).val();
				var selected_date	  = "";
				var selected_day_name = "";

				if(wd_date_change) {
					selected_date = new Date(selected.date);
					selected_day_name = selected.format('mm/dd') + " (" + day_names[selected_date.getDay()] + ")";
				}

				save_el_quick(attrVal, 'wd_due_date', wd_date_change, selected_day_name ,"wd_due_date_"+attrVal);
			});
		});
	});

	$(".wd-date-picker").datepicker({
		format : "yyyy-mm-dd",
		language: "ko",
		autoclose: true,
		todayHighlight: true,
		clearBtn: true,
		beforeShowDay: function(date){
			var holiday = "";

			if(holiday_list){
				holiday = holiday_list[$.datepicker.formatDate("yymmdd",date)];
			}

			if(holiday){
				return {
					classes: 'date-holiday',
					tooltip: holiday.title
				}
			} else if(date.getDay() == 0){
				return {
					classes: 'date-sunday'
				}
			} else if(date.getDay() == 6){
				return {
					classes: 'date-saturday'
				}
			}
		}
	});

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	// 검색 하기
	function searchList(){
		document.search_form.submit();
	}

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function save_bk(a_no)
	{
		var f = document.getElementById("apply_frm"+a_no);
		f.process.value = "save_bk";
		f.a_no.value 	= a_no;
		f.submit();
	}

	function del_bk_info(a_no)
	{
		if(confirm("입금정보를 삭제하시겠습니까?")){
			var f = document.getElementById("apply_frm"+a_no);
			f.process.value = "del_bk_info";
			f.a_no.value    = a_no;
			f.submit();
		}else{
			return false;
		}
		return false;
	}

	function save_tax(a_no)
	{
		var f = document.getElementById("apply_frm"+a_no);
		f.process.value = "save_tax";
		f.a_no.value    = a_no;
		f.submit();
	}

	function save_tax_select()
	{
		checkRewardSelect();
		var f = document.getElementById('select_check_form');

		if(!!f.select_a_no_list.value) {
			f.process.value = "save_tax_select";
			f.submit();
		}else{
			alert("선택한 항목이 없습니다.");
			return false;
		}
	}

	function save_due_date_select()
	{
		checkRewardSelectOnly();
		var f = document.getElementById('select_check_form');
		var total_due_date = $("#total_due_date").val();

		if(!!f.select_a_no_list.value && total_due_date){
			f.process.value 		= "save_due_date_select";
			f.select_due_date.value = total_due_date;
			f.submit();
		}else{
			alert("선택한 항목이 없습니다.");
			return false;
		}
	}

	function save_el(a_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'wd_due_date')) { // 공백시 저장 되도록 예외(지급요청일)
			$.post("reward_list.php", {a_no : a_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function save_el_quick(a_no, proc, date, date2, id)
	{
		var obj = $("#"+id);
		var x = obj.position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		var cur_date = $("#wd_due_date_val_"+a_no).val();

		if (date == cur_date)
			return false;

		if (obj.attr('readonly') || obj.attr('disabled'))
			return false;

		$.post("reward_list.php", {a_no : a_no, process : proc, val : date}, function(result){
			d_msg.appendTo(obj.closest('td')).html(result).fadeOut(2000);
			$('#wd_due_date_'+a_no).val(date2);
			$("#wd_due_date_val_"+a_no).val(date);
		});
	}

	function save_refund(a_no, refund_val)
	{
		var f = document.getElementById("apply_frm"+a_no);

		if(!!refund_val){
			f.selection_refund.value = refund_val;
		}
		f.process.value 		 = "refund";
		f.application_no.value   = a_no;
		f.submit();
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function modal_select_check_all(chkall)
	{
		var chk = document.getElementsByName("modal_select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkRewardSelectOnly()
	{
		var a_no_list 		 = "";
		$(".select_check").each(function(idx, item){
			if($(item).is(":checked"))
			{
				var tmp_f = document.getElementById('apply_frm'+$(item).val());
				if(!!a_no_list){
					a_no_list += ("||" + $(item).val());
				}else{
					a_no_list += ($(item).val());
				}
			}
		});

		var f = document.getElementById('select_check_form');

		f.select_a_no_list.value = a_no_list;
	}

	function checkRewardSelect()
	{
		var a_no_list 		 = "";
		var reward_cost_list = "";
		var biz_tax_list 	 = "";
		var local_tax_list	 = "";
		var reward_cost_result_list = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked"))
			{
				var tmp_f = document.getElementById('apply_frm'+$(item).val());
				if(!!a_no_list){
					a_no_list += ("||" + tmp_f.a_no.value);
					reward_cost_list += ("||" + tmp_f.f_reward_cost.value);
					biz_tax_list += ("||" + tmp_f.f_biz_tax.value);
					local_tax_list += ("||" + tmp_f.f_local_tax.value);
					reward_cost_result_list += ("||" + tmp_f.f_reward_cost_result.value);
				}else{
					a_no_list += (tmp_f.a_no.value);
					reward_cost_list += (tmp_f.f_reward_cost.value);
					biz_tax_list += (tmp_f.f_biz_tax.value);
					local_tax_list += (tmp_f.f_local_tax.value);
					reward_cost_result_list += (tmp_f.f_reward_cost_result.value);
				}
			}
		});

		var f = document.getElementById('select_check_form');

		f.select_a_no_list.value = a_no_list;
		f.select_reward_cost_list.value = reward_cost_list;
		f.select_biz_tax_list.value = biz_tax_list;
		f.select_local_tax_list.value = local_tax_list;
		f.select_reward_cost_result_list.value = reward_cost_result_list;
	}

	function openRewardWork()
	{
		$.ajax({
			url: "/v1/api/reward.api.php",
			type: 'POST',
			data: {"sch_wd_due_date": $("#sch_wd_due_date").val(), "sch_refund": $("#sch_refund").val(), "sch_tax_set": $("#sch_tax_set").val()}
		}).done( function(data) {
			var jsonData  = JSON.parse(data);
			var form_html = jsonData.reward_html;

			$("#reward_frm_content").html(form_html);

			$("#reward-modal").modal({fadeDuration: 250});
		});
	}

	function saveRewardWork()
	{
		var p_no_list 		 = "";

		$(".modal_select_check").each(function(idx, item){
			if($(item).is(":checked"))
			{
				if(!!p_no_list){
					p_no_list += ("||" + $(item).val());
				}else{
					p_no_list += ($(item).val());
				}
			}
		});

		if(!p_no_list){
			alert("인센티브 정산하실 것을 선택해주세요.");
			return false;
		}

		var f = document.getElementById('reward_frm');

		f.select_p_no_list.value = p_no_list;
		f.process.value 		 = "save_reward_work";
		f.submit();
	}

	function delPersonalInfo()
	{
		if(confirm("탑블로그 보상 개인정보 삭제를 진행 하시겠습니까?"))
		{
			var f = document.getElementById('reward_frm');
			f.process.value 		 = "del_personal_info";
			f.submit();
		}

		return false;
	}
</script>

</body>
</html>
