<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.main_table_style table th{text-align: center;}
</style>

<div class="admin_content" style="width:1837px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="sms_list.php" autocomplete="off">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">연도</span>
				<select name="sch_year" id="sch_year" class="select_type2">
					<{foreach from=$year_option item=year}>
						<option value="<{$year}>" <{if $sch_year == $year}>selected<{/if}>><{$year}></option>
					<{/foreach}>
				</select>
				<span class="name_tit">월</span>
				<select name="sch_month" id="sch_month" class="select_type2">
					<{foreach from=$month_option item=month}>
						<option value="<{$month}>" <{if $sch_month == $month}>selected<{/if}>><{$month}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">구분</span>
				<select name="sch_cinfo" id="sch_cinfo" class="select_type2" style="width: 155px;">
					<option value="">:: 전체 ::</option>
					<{foreach from=$c_info_option key=key item=c_info_data}>
						<{if !permissionNameCheck($session_permission, "대표") && !permissionNameCheck($session_permission, "마스터관리자") && !permissionNameCheck($session_permission, "재무관리자") && $key == "3"}>
						<{else}>
						<option value="<{$key}>" <{if $sch_cinfo == $key}>selected<{/if}>><{$c_info_data.sms_title}></option>
						<{/if}>
					<{/foreach}>
				</select>
				<span class="name_tit" style="margin-left: 10px;">수신 번호</span>
				<input type="text" name="s_dest_phone" value="<{$s_dest_phone}>" class="input_type5"/>

				<span class="name_tit" style="margin-left: 10px;">메세지</span>
				<input type="text" name="s_msg" value="<{$s_msg}>" class="input_type5"/>

				<button type="submit" class="btn_small">검색</button>
				<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '42'}>
				<a href="sms_del_hp.php?type=sms" onclick="if(confirm('수신번호를 삭제하시겠습니까?')){return true;}else{return false;}" class="btn_style1" style="padding: 5px;background: red;color: white;display: inline-block;font-size: 11px;margin-left: 375px;"><span>[6개월 이상 수신번호 삭제]</span></a>
				<{/if}>
			</div>
		</div>
	</form>

	<div class="main_table_style">
		<table cellpadding="0" cellspacing="0" style="width:1200px;border-style:solid; border-width:thin; border-color:#CCC; table-layout: fixed;">
			<thead>
				<tr>
					<th style="max-width:140px;width:140px;">MSG_ID</th>
					<th style="max-width:100px;width:1040px;">구분</th>
					<th style="max-width:60px;width:60px;">타입</th>
					<th style="max-width:120px;width:120px;">발송 시각</th>
					<th style="max-width:120px;width:120px;">도착 시각</th>
					<th style="max-width:110px;width:110px;">발송 번호</th>
					<th style="max-width:110px;width:110px;">수신 번호</th>
					<th style="max-width:80px;width:80px;">결과</th>
					<th style="max-width:340px;width:340px;">메시지</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="9"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$base_sms_list item=sms_data}>
						<tr>
							<td height="25"><{$sms_data.MSG_ID}></td>
							<td><{$sms_data.CINFO_NAME}></td>
							<td><{$sms_data.MSG_TYPE}></td>
							<td><{$sms_data.SEND_TIME}></td>
							<td><{$sms_data.REPORT_TIME}></td>
							<td><{$sms_data.SEND_PHONE}></td>
							<td><{$sms_data.DEST_PHONE}></td>
							<td>
								<{if $sms_data.STATUS == '3'}>
									<span style="color: red;">
										<{$sms_data.STATUS_NAME}>
										<br/>
										<{$sms_data.CALL_MSG}>
									</span>
								<{else}>
									<{$sms_data.STATUS_NAME}>
								<{/if}>
							</td>
							<td style="text-align:left;padding-left:5px;overflow: hidden; word-break: break-all;"><{$sms_data.MSG_BODY}></td>
						</tr>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
	</div>

	<div class="paging_wrap" style="text-align:left;padding-left:500px">
		<{$pagelist}>
	</div>
</div>
<!-- //admin_content -->

</body>
</html>
