<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
	input.input_type5{padding-left: 5px; box-sizing: border-box; font-size:12px; width: 280px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="staff_resource_management.php" class="form-inline" style="width: 1200px;" autocomplete="off">
		<div class="form-group">
			<label for="sch_type" style="margin-left: 0;">발령종류</label>
			<select id="sch_type" name="sch_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$resource_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_my_c_no" >계열사</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$my_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_team" >소속부서</label>
			<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
				<{foreach from=$sch_team_list key=team_code item=label}>
				<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_addr" >근무지</label>
			<select id="sch_addr" name="sch_addr" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$company_addr_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_addr == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label for="sch_name">이름</label>
			<input type="text" id="sch_name" class="form-control" name="sch_name" value="<{$sch_name}>" style="width: 100px;" />

			<label for="sch_position">직책</label>
			<input type="text" id="sch_position" class="form-control" name="sch_position" value="<{$sch_position}>" style="width: 100px;" />

			<label for="sch_notice">메모</label>
			<input type="text" id="sch_notice" name="sch_notice" value="<{$sch_notice}>" class="form-control" style="width: 200px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="margin-left: 10px; font-size: 12px; padding: 5px 15px;">검색</button>
		</div>
	</form>

	<form name="new_resource_frm" id="new_resource_frm" class="new_resource_frm" action="staff_resource_management.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="add_new_resource">
		<table class="table table-striped table-bordered" style="margin-top: 20px; width: auto;">
			<colgroup>
				<col width="40px;">
				<col width="90px;">
				<col width="90px;">
				<col width="25px;">
				<col width="190px;">
				<col width="300px;">
				<col width="120px;">
				<col width="90px;">
				<col width="90px;">
				<col width="300px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">NO</th>
					<th scope="col" rowspan="2">발령일</th>
					<th scope="col" rowspan="2">발령종류</th>
					<th scope="col" rowspan="2"></th>
					<th scope="col" rowspan="2">계열사</th>
					<th scope="col" rowspan="2">소속부서</th>
					<th scope="col" rowspan="2">근무지</th>
					<th scope="col" rowspan="2">이름</th>
					<th scope="col" rowspan="2">직책</th>
					<th scope="col" rowspan="2">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center" rowspan="2"><!-- NO -->
					</td>
					<td class="text-center" rowspan="2"><!-- 발령일 -->
						<input type="text" id="new_post_date" class="date-picker" name="new_post_date" value="" style="font-size: 12px; line-height: 20px; width: 80px; text-align: center;" required>
					</td>
					<td class="text-center" rowspan="2"><!-- 발령종류 -->
						<select name="new_type" id="new_type" required>
							<option value="">::전체::</option>
							<{foreach from=$resource_type_option key=key item=label}>
							<option value="<{$key}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center" style="background: #ebebe4;"><!-- 발령전 -->
						발령전
					</td>
					<td class="text-center"><!-- 발령전 계열사 -->
						<select name="new_pre_my_c_no_view" id="new_pre_my_c_no_view" disabled>
							<option value="">::전체::</option>
							<{foreach from=$my_company_option key=key item=label}>
							<option value="<{$key}>" disabled><{$label}></option>
							<{/foreach}>
						</select>
						<input type="hidden" name="new_pre_my_c_no" id="new_pre_my_c_no" value="">
					</td>
					<td class="text-center"><!-- 발령전 소숙부서 -->
						<select id="new_pre_team_view" name="new_pre_team_view" class="select_type2" style="width: 280px;" disabled>
							<{foreach from=$sch_team_list key=team_code item=label}>
							<option value="<{$team_code}>"><{$label}></option>
							<{/foreach}>
						</select>
						<input type="hidden" name="new_pre_team" id="new_pre_team" value="">
					</td>
					<td class="text-center"><!-- 발령전 근무지 -->
						<select name="new_pre_addr_view" id="new_pre_addr_view" disabled>
							<option value="">::전체::</option>
							<{foreach from=$company_addr_option key=key item=label}>
							<option value="<{$key}>" disabled><{$label}></option>
							<{/foreach}>
						</select>
						<input type="hidden" name="new_pre_addr" id="new_pre_addr" value="">
					</td>
					<td class="text-left"><!-- 발령전 이름 -->
						<input type="text" id="new_s_name" name="new_s_name" value="" style="font-size: 12px; line-height: 20px; padding-left: 5px; width: 80px;" required>
						<input type="hidden" id="new_s_no" name="new_s_no" value="" required/>
					</td>
					<td class="text-left"><!-- 발령전 직책 -->
						<input type="text" id="new_pre_position" name="new_pre_position" value="" style="font-size: 12px; line-height: 20px; padding-left: 5px; width: 80px; background: #ebebe4;" readonly>
					</td>
					<td rowspan="2"><!-- 비고 -->
						<textarea name="new_notice" id="new_notice" style="width: 280px;"></textarea>
					</td>
				</tr>
				<tr>
					<td class="text-center" style="background: #ebebe4;"><!-- 발령후 -->
						발령후
					</td>
					<td class="text-center"><!-- 발령후 계열사 -->
						<select name="new_post_my_c_no" id="new_post_my_c_no" class="new_post_data">
							<option value="">::전체::</option>
							<{foreach from=$my_company_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 발령후 소숙부서 -->
						<select id="new_post_team" name="new_post_team" class="select_type2 new_post_data" style="margin-right:10px">
							<{foreach from=$sch_team_list key=team_code item=label}>
							<option value="<{$team_code}>" readonly><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 발령후 근무지 -->
						<select name="new_post_addr" id="new_post_addr" class="new_post_data">
							<option value="">::전체::</option>
							<{foreach from=$company_addr_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-center"><!-- 발령후 이름 -->
						<span id="new_post_name" class="new_post_data"></span>
					</td>
					<td class="text-center"><!-- 발령후 직책 -->
						<input type="text" id="new_post_position" class="new_post_data" name="new_post_position" value="" style="font-size: 12px; line-height: 20px; padding-left: 5px; width: 80px;">
					</td>
				</tr>
				<tr>
					<td colspan="10">
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="addResourceCheck()" style="width: 100%; font-size:12px; line-height: 21px; display: table; margin: 0 auto;" >추가 등록하기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; width: auto;">
		<colgroup>
			<col width="40px;">
			<col width="90px;">
			<col width="90px;">
			<col width="190px;">
			<col width="300px;">
			<col width="120px;">
			<col width="90px;">
			<col width="90px;">
			<col width="300px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">NO</th>
				<th scope="col">발령일</th>
				<th scope="col">발령종류</th>
				<th scope="col">계열사</th>
				<th scope="col">소속부서</th>
				<th scope="col">근무지</th>
				<th scope="col">이름</th>
				<th scope="col">직책</th>
				<th scope="col">비고</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$staff_resource_list item=staff_resource}>
			<tr>
				<td class="text-center"><!-- NO -->
					<{$staff_resource.sr_no}>
				</td>
				<td class="text-center"><!-- 발령일 -->
					<{$staff_resource.pos_date}>
				</td>
				<td class="text-center"><!-- 발령종류 -->
					<span <{if $staff_resource.type == '8'}>style="color: red;"<{/if}>><{$staff_resource.type_name}></span>
				</td>
				<td class="text-center"><!-- 계열사 -->
					<{if $staff_resource.type == '10'}>
						<{$staff_resource.pre_my_c_name}>
					<{elseif $staff_resource.pre_my_c_name != $staff_resource.post_my_c_name}>
						<{$staff_resource.pre_my_c_name}><br/><span style="color: <{$staff_resource.color}>;">-><{$staff_resource.post_my_c_name}></span>
					<{else}>
						<{$staff_resource.post_my_c_name}>
					<{/if}>
				</td>
				<td class="text-left"><!-- 소속부서 -->
					<{if $staff_resource.type == '10'}>
						<{$staff_resource.pre_team_name}>
					<{elseif $staff_resource.pre_team_name != $staff_resource.post_team_name}>
						<{$staff_resource.pre_team_name}><br/><span style="color: <{$staff_resource.color}>;">-><{$staff_resource.post_team_name}></span>
					<{else}>
						<{$staff_resource.post_team_name}>
					<{/if}>
				</td>
				<td class="text-left"><!-- 근무지 -->
					<{if $staff_resource.type == '10'}>
						<{$staff_resource.pre_addr_name}>
					<{elseif $staff_resource.pre_addr_name != $staff_resource.post_addr_name}>
						<{$staff_resource.pre_addr_name}><br/><span style="color: <{$staff_resource.color}>;">-><{$staff_resource.post_addr_name}></span>
					<{else}>
						<{$staff_resource.post_addr_name}>
					<{/if}>
				</td>

				<td class="text-center"><!-- 이름 -->
					<{$staff_resource.s_name}>
				</td>

				<td class="text-center"><!-- 직책 -->
					<{if $staff_resource.type == '10'}>
						<span style="color: red;">해제</span>
					<{elseif $staff_resource.pre_position != $staff_resource.post_position && ($staff_resource.pre_position != '' && $staff_resource.post_position != '')}>
						<{$staff_resource.pre_position}><br/><span style="color: <{$staff_resource.color}>;">-><{$staff_resource.post_position}></span>
					<{else}>
						<{$staff_resource.post_position}>
					<{/if}>
				</td>
				<td class="text-center"><!-- 비고 -->
					<textarea name="notice" style="width: 280px;" readonly><{$staff_resource.notice}></textarea>
				</td>
			</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="9" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="9" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div style="color: #9e9e9e;">
		<b>기업 내 인사이동</b><br/>
		전직 : 다른 직종의 업무를 부여하는 것<br/>
		전보 : 기존 직책과 동일 수준의 다른 직책을 부여하는 것<br/>
		(ex. 인사팀장에서 생산팀장으로)<br/>
		전배 : 같은 사업장 내에서 직종의 변경 없이 이동배치 하는 것 (업무 성격과 장소 변동이 없음)<br/>
		(ex. 생산1팀에서 생산2팀으로)<br/>
		전근 : 직종의 변경은 없으나 생활권이 달라질 수 있는 근무 장소의 변경이 수반되는 인사 조치<br/>
		(ex. 서울본사에서 부산지사로)<br/><br/>

		<b>기업 간 인사이동</b><br/>
		전출 : 원래 기업과 근로계약상 근로자의 지위를 그대로 유지하면서 일정 기간 다른 기업(주로 계열사, 협력사 등)으로<br/>
		옮겨서 그 기업의 지휘·명령을 받아 노무를 제공하는 것. 전출은 상대적으로 장기간진행<br/>
		출장 : 전출과 비슷하나 주로 단기간으로 원래 기업으로부터 지휘·명령을 받음<br/>
		전적 : 존 근로관계를 완전히 정리하고 기업 외부로 보내는 것. 근로자의 동의가 있어야 함<br/>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
        $("#sch_team").combobox();
        $("#new_post_team").combobox();

        $("#new_s_name").autocomplete({
            source: function( request, response ) {
                $("#new_s_no").val('');
                $("#new_pre_my_c_no").val('');
                $("#new_pre_my_c_no_view").val('');
                $("#new_pre_team").val('');
                $("#new_pre_team_view").val('');
                $("#new_pre_addr").val('');
                $("#new_pre_addr_view").val('');
                $("#new_pre_position").val('');
                $("#new_post_name").text('');

                $.ajax({
                    url: "/v1/api/staff.resource.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.s_label,
                                sname : item.s_name,
                                my_c_no : item.my_c_no,
                                team : item.team,
                                tname : item.team_name,
                                addr : item.addr,
                                position : item.position
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).val(ui.item.sname);
                $("#new_s_no").val(ui.item.sno);
                $("#new_pre_my_c_no").val(ui.item.my_c_no);
                $("#new_pre_my_c_no_view").val(ui.item.my_c_no);
                $("#new_pre_team").val(ui.item.team);
                $("#new_pre_team_view").val(ui.item.team);
                $("#new_pre_addr").val(ui.item.addr);
                $("#new_pre_addr_view").val(ui.item.addr);
                $("#new_pre_position").val(ui.item.position);
                $("#new_post_name").text(ui.item.sname);
                $("#new_post_my_c_no").val(ui.item.my_c_no);
                $("#new_post_team").val(ui.item.team);
                $("#new_resource_frm").find(".custom-combobox").find(".ui-autocomplete-input").val(ui.item.tname);
                $("#new_post_addr").val(ui.item.addr);
                $("#new_post_position").val(ui.item.position);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $("#new_type").change(function(){
        	if($(this).val() == '10'){
        		$(".new_post_data").hide();
				$("#new_resource_frm").find(".custom-combobox").hide();
			}else{
				$(".new_post_data").show();
				$("#new_post_team").hide();
				$("#new_resource_frm").find(".custom-combobox").show();
			}
		});
    });
    
    function addResourceCheck()
	{
        var f = document.forms['new_resource_frm'];

        if(!$('#new_post_date').val()){
            alert("발령일을 선택해주세요");
            return;
        }

        if(!$('#new_s_no').val()){
            alert("이름을 입력하신 후 자동완성을 선택해주세요");
            return;
        }

        if(!$('#new_type').val()){
            alert("발령종류를 선택해주세요");
            return;
        }

        if($('#new_type').val() == '10')
        {
			if(!$('#new_pre_my_c_no').val()){
				alert("발령전 계열사를 선택해주세요");
				return;
			}

			if(!$('#new_pre_team').val()){
				alert("발령전 소속부서를 선택해주세요");
				return;
			}

			if(!$('#new_pre_addr').val()){
				alert("발령전 근무지를 선택해주세요");
				return;
			}
		}
        else
        {
			if(!$('#new_pre_my_c_no').val() || !$('#new_post_my_c_no').val()){
				alert("계열사를 선택해주세요");
				return;
			}

			if(!$('#new_pre_team').val() || !$('#new_post_team').val()){
				alert("소속부서를 선택해주세요");
				return;
			}

			if(!$('#new_pre_addr').val() || !$('#new_post_addr').val()){
				alert("근무지를 선택해주세요");
				return;
			}

			if(!$('#new_post_position').val()){
				alert("직책을 입력해주세요");
				return;
			}
		}

        f.submit();
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function endContract(ss_no){
        var f = document.modify_salary_frm;
        f.process.value = "end_contract";
        f.ss_no.value = ss_no;
        f.submit();
	}

    function extensionContract(ss_no){
        var f = document.modify_salary_frm;
        f.process.value = "extension_contract";
        f.ss_no.value = ss_no;
        f.submit();
    }
</script>
</body>
</html>
