<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.jquery-modal{z-index: 100;}
	.modal-content p{margin: 5px 0 15px; font-size: 12px;}
	.modal-content h4{padding-bottom: 5px; border-bottom: 1px solid #ccc; font-size: 13px; font-weight: bold; line-height: 1.5;}
	.modal-content h2{margin-bottom: 10px; font-size: 1.5em; font-weight: bold; line-height: 1.5;}
	.modal-content{border: 0;}
	#strength-modal{overflow: unset; height: auto;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px; position: relative; width: 220px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") }>
			<a href="staff_list_explanation.php" style="position: absolute; right: 0;"><img src="./images/icon/setting_lightgray.png" style="margin-left: 7px;margin-bottom: 6px;"></a>
		<{/if}>
	</h2>
	<form method="get" name="search_form" action="staff_list.php" autocomplete="off">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">활동상태</span>
				<select name="sch_staff_state" id="sch_staff_state" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$staff_state_option key=key item=label}>
						<option value="<{$key}>" <{if $key == $sch_staff_state}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">소속부서</span>
				<select id="sch_team" name="sch_team" class="select_type2" style="margin-right:10px">
					<{foreach from=$sch_team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">이름</span>
				<input type="text" name="sch_s_name" value="<{$sch_s_name}>" class="input_type2" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">연락처</span>
				<input type="text" name="sch_tel" value="<{$sch_tel}>" class="input_type2" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">강점키워드</span>
				<input type="text" name="sch_s_keyword" value="<{$sch_s_keyword}>" class="input_type2" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업무권한</span>
				<select name="sch_permission" id="sch_permission" class="select_type2">
					<{section name=data loop=$permission}>
					<option value="<{$permission[data][1]}>" <{if ($sch_permission=='' && $permission[data][0]=='전체') || $sch_permission==$permission[data][1]}>selected<{/if}>><{$permission[data][0]}></option>
					<{/section}>
				</select>
				<button type="submit" class="btn_small">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="first" style="width:35px; height: 40px;">s_no</th>
					<th style="width:90px;">활동상태</th>
					<th style="width:100px;">ID</th>
					<th style="width:110px;">계열사</th>
					<th style="width:200px;">소속부서</th>
					<th style="width:88px;">이름</th>
					<th style="width:70px;">직책</th>
					<th style="min-width:90px; width:90px;">MY QUICK SET<br/>계정 리스트<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
					<th style="width:220px;">이메일</th>
					<th style="width:110px;">연락처1(유선)</th>
					<th style="width:60px;">내선</th>
					<th style="width:110px;">연락처2(핸드폰)</th>
					<th style="width:260px;">강점키워드</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="12"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>

					<{foreach from=$staff_list item=staff}>
					<tr <{if $staff.staff_state == '3' }>style="background-color:#999;"<{/if}>>
						<td class="first" <{if $staff.state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- s_no -->
							<{$staff.s_no}>
						</td>
						<td> <!-- 활동상태 -->
							<{$staff.state_name}>
							<{if $staff.staff_state == '3'}>
								<{if $staff.person_state}>
									<br><span style="font-size:6px; color: skyblue;">개인정보삭제완료</span>
								<{else}>
									<br><a href="#" onclick="staff_delete('<{$staff.s_no}>', '<{$staff.profile_img}>');"><span style="font-size:6px;">[개인정보삭제]</span></a>
								<{/if}>
							<{/if}>
						</td>
						<td> <!-- ID -->
							<{$staff.id}>
						</td>
						<td><!-- 계열사 -->
							<{if $staff.my_c_type == '1'}>
								<span style="color:<{$staff.my_c_kind_color}>;"><{$staff.my_c_name}></span>
							<{else}>
								<{$staff.partner_c_name}>
							<{/if}>
						</td>
						<td class="alignL" <{if $staff.state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 부서 > 팀 -->
							<{if $staff.team_name_list}>
								<{foreach from=$staff.team_name_list item=t_label}>
									<span><{$t_label}></span><br/>
								<{/foreach}>
							<{/if}>
						</td>
						<td class="link"> <!-- 이름 -->
							<{if (permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")) || ($session_s_no ==  $staff.s_no) || ($staff.is_leader)}>
							<a href="staff_regist.php?s_no=<{$staff.s_no}>"><{$staff.s_name}></a>
							<{else}>
							<span><{$staff.s_name}></span>
							<{/if}>
							<{if $staff.card_cnt == 0 && $staff.staff_state == '1' && (permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자"))}>
								<br/><a href="corp_card_regist.php?s_no=<{$staff.s_no}>&process=staff_new_card">개인카드등록</a>
							<{/if}>
						</td>
						<td> <!-- 직책 -->
							<{$staff.position}>
						</td>
						<td> <!-- My Quick -->
							<span class="<{$staff.s_no}>_quick_prd nav-star-wrapper <{if $staff.quick_prd }>nav-star-active<{/if}>" onclick="proc_quick_prd('<{$staff.s_no}>', this)" attr-mode="<{if $staff.quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;"></span>
						</td>
						<td class="alignL"> <!-- 이메일 -->
							<{$staff.email}>
						</td>
						<td> <!-- 연락처1(유선) -->
							<{$staff.tel}>
						</td>
						<td> <!-- 내선 -->
							<{$staff.extension}>
						</td>
						<td> <!-- 연락처2(핸드폰) -->
							<{$staff.hp}>
						</td>
						<td class="alignL" style="padding-left: 10px;"> <!-- 강점 키워드 -->
							<a href="#strength-modal" attr-staff="<{$staff.s_no}>"><{$staff.strength_keyword}></a>
						</td>
					</tr>
					<{/foreach}>
				<{/if}>
		<tr>
		  <td colspan="13" class="paging_wrap">
			  <div class="paging_wrap">
				<{$pagelist}>
				</div>
		  </td>
		</tr>
		<tr>
			<td colspan="13" class="list_button">
				<div class="left_wrap">
					<button class="btn_style1" onclick="location.href='staff_regist.php';"><span>계정 등록</span></button>
					<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")}>
					<button class="btn_style1" onclick="location.href='staff_strength_list.php';"><span>강점리스트</span></button>
					<{/if}>
				</div>
				<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_staff.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
				<div class="right_wrap"><button class="btn_style1" onclick="telExcelDownload()"><span>연락망 다운로드</span></button></div>
		  </td>
		</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

<div class="modal" id="strength-modal">
	<div class="modal-content">
	</div>
</div>

<form name="staff_frm" id="staff_frm" action="staff_list.php" method="post" onsubmit="return false;" >
	<input type="hidden" name="search_url" value="<{$search_url}>">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="profile_img" value="">
	<input type="hidden" name="s_no" value="">
</form>

<script type="text/javascript">
	$(document).ready(function(){
        $("#sch_team").combobox();
	});

	$('a[href="#strength-modal"]').click(function(event) {
		event.preventDefault();

		var s_no = $(this).attr('attr-staff');

		$.ajax({
			url: "/v1/api/staff.strength.json.php",
			type: 'POST',
			data: {"s_no": s_no}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result   = jsonData.result;
			var html     = jsonData.html;

			if(result == true) {
				$(".modal-content").html(html);

				$("#strength-modal").modal({
					fadeDuration: 250
				});
			}
		});

	});

	function telExcelDownload()
	{
		if(confirm("연락망은 업무용 이외에 사용할 수 없습니다.\r\n이에 동의 할 경우에만 확인 버튼을 눌러주세요")){
			location.href="excel_staff_tel.php";
		}
	}

    function staff_delete(s_no, profile_img)
    {
        var f = document.staff_frm;
        f.process.value 	= 'staff_delete';
        f.s_no.value		= s_no;
        f.profile_img.value	= profile_img;

        if (confirm("삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

	function proc_quick_prd(prd_no, obj)
	{
		var x        = $(obj).position();
		var status   = $(obj).attr('attr-mode');
		var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
		var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


		if(confirm(conf_msg))
		{
			var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

			$.post("ajax_proc_data.php", {
				process: process,
				quick_prd: prd_no,
				quick_type: "staff"
			}, function (data) {
				var result_data = JSON.parse(data);
				if(result_data.result)
				{
					if(result_data.status == 'add'){
						$(obj).addClass("nav-star-active");
					}else{
						$(obj).removeClass("nav-star-active");
					}

					$(obj).attr('attr-mode', result_data.status);
					d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
					sort_quick_prd();
					open_quick_prd();
				}
			});
		}
	}

	function sort_quick_prd()
	{
		$.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "staff"}, function(result){
		});
	}

	function open_quick_prd()
	{
		window.open('popup/quick_prd_set.php?sch_quick_type=staff','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}
</script>
</body>
</html>
