<{include file="inc/boot_navibar.html"}>

<style>
	.form-control{font-size: 12px; padding: 1px;}
</style>
<div class="admin_content" style="">
	<form id="form_sms" name="form_sms" action="" method="post" onsubmit="return sms_send(this);">
		<input type="hidden" name="process" id="process" value="send" />
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div class="table_contents_style">
			<div style="padding:10px 20px;">
				<div>
					<div style="width: 200px; text-align:right; margin-bottom: 5px;">
						SMS : 건당 8원<br>
						LMS : 건당 26원
					</div>
					<div>
						<textarea name="sms_msg" class="sms_msg form-control" style="font-size: 11px; resize: both; width: 200px; height:150px; float: left; margin-right: 20px; "><{$sms_ment}></textarea>
						<select class="sms_type form-control" style="width: 170px; font-size: 12px; float: left;">
							<option value="">채용 관련 탬플릿</option>
							<option value="1">1차 인터뷰 확정 안내</option>
							<option value="2">2차 인터뷰 확정 안내</option>
							<option value="3">1차/2차 인터뷰 불합격</option>
						</select>
						<div style="clear: both; width: 200px; text-align:right; margin-bottom: 5px;">
							<span class="bytes">0</span> / 90 bytes
						</div>
					</div>
				</div>
				<div style="width: 200px; margin-top: 20px;">

					<textarea name="receiver_list" id="receiver_list" class="form-control" style="height:100px;" wrap="hard"></textarea>

					<div>
						<select size="12" id="sel_hp" class="form-control" style="padding: 1px;">
							<{foreach from=$staff_list item=staff}>
								<option value="<{$staff.hp}>"><{$staff.s_name}> (<{$staff.hp}>)</option>
							<{/foreach}>
						</select>
						<button type="button" id="btn_add" class="btn_small" style="width: 100%;">추가하기</button>
					</div>

					<div style="margin-top: 20px;">
						&lt;발신번호&gt;<br>
						<select size="3" name="send_phone" id="send_phone" class="form-control" style="font-size: 12px; padding: 1px;">
							<option value="02-2675-6260" selected="selected">02-2675-6260 [탑블로그]</option>
							<option value="02-830-1912">02-830-1912 [회사]</option>
							<option value="070-7873-1373">070-7873-1373 [김윤영]</option>
						</select>
					</div>
					<div style="padding-top:10px; text-align: center;">
						<button type="submit" class="btn_small">문자 발송</button>
					</div>
				</div>
			</div>

		</div>
		<!-- //table_contents_style -->
	</form>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(function(){
		$('textarea[name=sms_msg]').keyup(function(){
			bytesHandler(this);
		});

		bytesHandler($('textarea[name=sms_msg]'));

		$(".sms_type").change(function(){
			var html = "";

			var type1 = "안녕하세요, 와이즈플래닛컴퍼니 채용 담당자입니다. 이번 1차 인터뷰 관련 사항을 안내드립니다. 궁금한 점이 있으시거나 일정 조율이 필요하시다면 연락 부탁드립니다. 감사합니다.\n" +
					"\n" +
					"1. 면접 일시 : \n" +
					"2. 면접 장소 : 서울시 금천구 벚꽃로 244, 벽산디지털밸리5차 906호\n" +
					"3. 복장 : 근무 시와 마찬가지로 자율\n" +
					"4. 도착 시 담당자 휴대폰으로 전화를 주시거나, 현관 벨을 눌러주세요.";

			var type2 = "안녕하세요, 와이즈플래닛컴퍼니 채용 담당자입니다. 이번 2차 인터뷰(컬처핏)는 경영진과 1:1로 진행될 예정입니다. 궁금한 점이 있으시거나 일정 조율이 필요하시다면, 02-830-1912 로 연락 부탁드립니다. 감사합니다.\n" +
					"\n" +
					"1. 면접 일시 : \n" +
					"2. 면접 장소 : 서울시 금천구 벚꽃로 244, 벽산디지털밸리5차 906호\n" +
					"3. 복장 : 근무 시와 마찬가지로 자율\n" +
					"4. 도착 시 위 연락처로 전화를 주시거나, 현관 벨을 눌러주세요."
			var type3 = "안녕하세요, 와이즈플래닛컴퍼니 채용 담당자입니다. 귀한 시간 내어 이번 채용에 지원해 주시고, 인터뷰에 참여해 주신 열정에 진심으로 감사드립니다. 귀하의 뛰어난 역량과 잠재력에도 불구하고, 아쉽게도 합격 소식을 전해드리지 못하게 되었습니다.\n\n"
					+ "와이즈플래닛과 후보자님 서로가 성장할 수 있을지, 오랜 시간 고민하고 또 고민한 결과임을 부디 헤아려 주시면 좋겠습니다. 앞으로 귀하의 취업에 좋은 결과가 있기를 진심으로 기원합니다. 감사합니다.";

			switch ($(this).val()){
				case '1':
					html = type1;
					break;
				case '2':
					html = type2;
					break;
				case '3':
					html = type3;
					break;
				default:
					html = "";
					break;
			}

			$(".sms_msg").val(html);
			bytesHandler($('textarea[name=sms_msg]'));
		});
	});

	$("#btn_add").on('click', function() {
		add_send_hp();
	});

	$("#sel_hp").on('dblclick', function() {
		add_send_hp();
	});

	function add_send_hp() {
		var selected = $("#sel_hp").val();
		var str = $("#receiver_list").val().trim();

		if (selected) {
			if (str.indexOf(selected) < 0)
				$("#receiver_list").val($("#receiver_list").val() + selected + "\r\n");
		}
	}

	function getTextLength(str) {
		var len = 0;
		for (var i = 0; i < str.length; i++) {
			if (escape(str.charAt(i)).length == 6) {
					len++;
			}
			len++;
		}
		return len;
	}

	function bytesHandler(obj){
		var text = $(obj).val();
		var len = getTextLength(text);
		$('span.bytes').text(len);

		if (len > 90)
			$('span.bytes').css('color', 'red');
		else
			$('span.bytes').css('color', 'black');
	}

	function sms_send(f) {
		var obj = $('textarea[name=sms_msg]');
		var len = getTextLength($(obj).val());
		if (len < 1) {
			alert('메시지를 입력해 주세요');
			obj.focus();
			return false;
		}

		var str = $("#receiver_list").val().trim();

		if (str.length < 1) {
			alert('발송 번호를 하나 이상 입력해 주세요');
			$("#receiver_list").focus();
			return false;
		}

		var send_phone_val = $("#send_phone").val();
		var send_phone_txt = $("#send_phone option:selected").text();

		if (!send_phone_val) {
			alert("발신번호를 선택해 주세요.");
			$("#send_phone").focus();
			return false;
		}

		if (confirm('문자 메시지를 발송하시겠습니까?' + '\n(발신번호 : ' + send_phone_val + ')')) {
			if (len > 90) {
				if (confirm('[안내]\n'
						+ '현재 글자수 90byte 초과로 LMS로 발송되어\n건당 26원으로 보내게 됩니다.\n'
						+ 'LMS는 2,000byte까지 가능하므로 문자내용을 충분히 활용하시거나\n'
						+ '90byte로 줄여서 건당 18원으로 보내실 수 있습니다.\n'
						+ '100건 이상의 대량 발송 시 꼭 유념하여 발송 부탁드리며\n'
						+ '문자비용은 와플 운영비로 지급됩니다.')
				)
					return true;
				else
					return false;
			} else {
				return true;
			}
		} else {
			return false;
		}

		return true;
	}
</script>

</body>
</html>
