<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.sel-label{font-size: 18px; color: #999; margin-right: 20px;}
	#sel-address{padding: 5px; font-size: 15px; color: #999; margin-top: -3px;}
	#sel-company{padding: 5px; font-size: 15px; color: #999; margin-top: -3px;}
	.input-wrapper{margin: 5px 0; clear: both; overflow: hidden;}
	.mail-input{padding: 5px 5px 5px 10px; font-size: 14px; margin-left: 5px; float: left;}
	.mail-input::placeholder, .mail-input::-ms-input-placeholder, .mail-input::-ms-input-placeholder {color: #82828275;}
	.mail-select{padding: 8px 5px; font-size: 14px; float: left;}
	.input-required{float: left;}
	#eng_name{font-weight: bold; width: 250px; margin-right: 15px;}
	#kor_name{width: 200px;}
	#position{width: 150px; margin-right: 15px;}
	#hp, #tel, #com_tel, #fax{width: 200px;}
	#hp{margin-left: 10px;}
	#tel{margin: 2px 15px;}
	#email{width: 400px;}
	#c_addr{width: 600px;}
	#eng_c_name, #kor_c_name, #url{width: 250px;}
	#eng_c_name{margin-right: 15px;}
	#url{margin-left: 10px;}
	.mail-btn{border-radius: 4px; background-color: #565656; padding: 15px 50px; color: white; width: 100%; text-align: center; font-weight: bold; margin-top: 10px;}
</style>

<div class="admin_content" style="width: 740px; min-width: unset;">
	<h2 class="title" style="margin-bottom:30px">● 메일서명</h2>
	<div>
		<div>
			<label for="sel-company" class="sel-label">계열사</label>
			<select class="sel-company" id="sel-company">
				<option value="">:: 계열사 선택 ::</option>
				<option value="1">㈜와이즈플래닛컴퍼니</option>
				<option value="2">㈜와이즈미디어커머스</option>
			</select>
		</div>
		<div style="margin-top: 10px; margin-bottom: 30px;">
			<label for="sel-address" class="sel-label" >주소지</label>
			<select class="sel-address" id="sel-address">
				<option value="">:: 주소지 선택 ::</option>
				<option value="1">와이즈플래닛컴퍼니(가산)</option>
				<option value="2">와이즈플래닛컴퍼니(세종)</option>
			</select>
		</div>

		<style type="text/css">

		</style>
		<h4 style="font-size: 14px; color: #999; font-weight: bold;">메일서명 내용 수정</h4>
		<form id="mail_frm" name="mail_frm" action="staff_regist_mail_signature_view.php" method="post" enctype="multipart/form-data">
			<input type="hidden" name="sms_no" value="<{$sms_no}>">
			<input type="hidden" name="s_no" value="<{$s_no}>">
			<input type="hidden" name="process" value="add_mail_signature">
			<div class="" style="border: 1px solid #ddd; padding: 15px; margin-top: 10px;">
				<div style="margin-bottom: 20px;">
					<img src="/sign/wmc_symbol.png" inlineid="undefined" class="wmc_symbol total_symbol" style="<{if $c_no == '1'}>display: none;<{/if}>">
					<img src="/sign/wp_symbol.png" inlineid="undefined" class="wp_symbol total_symbol" style="<{if $c_no == '3'}>display: none;<{/if}>">
				</div>
				<div class="input-wrapper">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="eng_name" name="eng_name" value="<{$eng_name}>" placeholder="영문 성명" required/>
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="kor_name" name="kor_name" value="<{$kor_name}>" placeholder="한글 성명" required/>
				</div>
				<div class="input-wrapper" style="margin-bottom: 20px;">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="position" name="position" value="<{$position}>" placeholder="직책" <{if !permissionNameCheck($session_permission, "재무관리자")}>readonly style="background-color: #ebebe4;"<{/if}> required/>
					<span class="input-required">*</span>
					<select name="team" id="mail-team" class="mail-select" required>
						<option value="">::선택::</option>
						<{foreach from=$mail_team_chk_list key=key item=mail_team}>
						<option value="<{$key}>" <{if $team == $key}>selected<{/if}> attr-team="<{$mail_team.t_parent}>"><{$mail_team.t_name}></option>
						<{/foreach}>
					</select>
					<input type="checkbox" name="team_parent" id="team_parent" value="<{$team_parent}>" <{if $team_parent}>checked<{/if}>><label for="team_parent" style="cursor: pointer; margin-top: 18px;">상위부서표시</label>
				</div>
				<div class="input-wrapper">
					<input type="text" class="mail-input" id="hp" name="hp" value="<{$hp}>" placeholder="휴대폰번호"/>
					<input type="text" class="mail-input" id="tel" name="tel" value="<{$tel}>" placeholder="내선번호"/>
				</div>
				<div class="input-wrapper" style="margin-bottom: 20px;">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="email" name="email" value="<{$email}>" placeholder="Email" required/>
				</div>
				<div class="input-wrapper">
					<input type="hidden" name="c_no" id="c_no" value="<{$c_no}>">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="eng_c_name" name="eng_c_name" value="<{$eng_c_name}>" placeholder="영문 회사명" required/>
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="kor_c_name" name="kor_c_name" value="<{$kor_c_name}>" placeholder="한글 회사명" required/>
				</div>
				<div class="input-wrapper">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="c_addr" name="c_addr" value="<{$c_addr}>" placeholder="주소지" required/>
				</div>
				<div class="input-wrapper">
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="com_tel" name="com_tel" value="<{$com_tel}>" placeholder="회사번호" required/>
					<span class="input-required">*</span>
					<input type="text" class="mail-input" id="fax" name="fax" value="<{$fax}>" placeholder="FAX 번호" required/>
					<input type="text" class="mail-input" id="url" name="url" value="<{$url}>" placeholder="홈페이지 URL" />
				</div>
			</div>
			<div style="margin-top: 10px;">
				<span>메일 서명 사용 약관 동의</span><br/>
				<span>1. 직책, 직위를 사실과 다르게 임의 변경하는 행위를 엄격히 금합니다.</span><br/>
				<span>2. 대외 업무 등으로 직책, 직위를 불가피하게 변경해야 할 경우, 반드시 경영지원실에 수정 요청해주시기 바랍니다.</span><br/>
				<input type="checkbox" name="mail-term" id="mail-term" value="1" style="margin-right: 5px;" required><label for="mail-term" style="cursor: pointer;">메일 서명 사용 약관에 동의합니다.</label>
			</div>
			<button type="submit" class="mail-btn">메일서명 저장 및 화면/소스코드 보기</button>
		</form>
	</div>
</div>
<!-- //admin_content -->
<script type="text/javascript">
    $(document).ready(function() {
		$("#sel-company").change(function(){
            changeCompany($(this).val());
		});

        $("#sel-address").change(function(){
            changeAddress($(this).val());
        });

        $("#team_parent").change(function(){
            if($(this).is(":checked") == true){
                var team_parent = $("#mail-team option:selected").attr('attr-team');
                $(this).val(team_parent);
            }else{
                $(this).val("");
            }
        });
    });

    function changeCompany(type)
	{
        var kor_c_name = "";
        var eng_c_name = "";
        var url = "";
        var color = "";
        var c_no = "";
        var symbol = "";

        if(type == '2'){
            kor_c_name = "(주)와이즈미디어커머스";
            eng_c_name = "WISE MEDIA COMMERCE";
            url = "www.belabef.com";
            color = "blue";
            c_no = 3;
            symbol = ".wmc_symbol";
        }else{
            kor_c_name = "(주)와이즈플래닛컴퍼니";
            eng_c_name = "WISE PLANET COMPANY";
            url = "www.wplanet.co.kr";
            color = "black";
            c_no = 1;
            symbol = ".wp_symbol";
        }

        $(".total_symbol").hide();
        $(symbol).show();
        $("#c_no").val(c_no);
        $("#kor_c_name").val(kor_c_name);
        $("#kor_c_name").css({'color': color});
        $("#eng_c_name").val(eng_c_name);
        $("#eng_c_name").css({'color': color});
        $("#url").val(url);
        $("#url").css({'color': color});
	}

    function changeAddress(type)
    {
		var sejong_addr = "세종특별자치시 국세청로 4 갤러리 세종프라자 501-1호";
		var seoul_addr  = "서울특별시 금천구 벚꽃로 244 벽산디지털밸리5차 902,905,906호";
		var addr = "";

		if(type == '2'){
            addr = sejong_addr;
		}else{
            addr = seoul_addr;
		}
		$("#c_addr").val(addr);
    }

</script>
</body>
</html>
