<{include file="inc/iframe_navibar.html"}>

<script src="js/echarts.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
    #search_form .form-control{font-size: 12px; margin-right: 15px;}
    .form-control{font-size: 12px; padding: 3px;}
    .form-group label{margin-right: 5px; cursor: pointer;}
    .custom-combobox input{float: left; font-size: 12px; width: 70px; padding: 3px;}
    #search_form .custom-combobox input{margin-right: 5px;}
    .print-btn{background: grey; color: white; padding: 5px 20px; font-weight: bold; border-radius: 3px;}
    .multi-rater-wrapper{margin-top: 20px;}
    .rec-wrapper{overflow:hidden; clear: both;}
    .table_list_style table thead th{background: #BBB; color: black;}
    .table_list_style table tbody th{background: rgb(0,32,96); color: white; font-weight: normal; text-align: center;}
    .table_list_style table tbody td{text-align: center;}
    .table_list_style table{border-top: 1px solid #ccc;}
    .rec-staff-wrapper{margin-bottom: 20px;}
    .rec-result-wrapper .grey-wrapper{background: #BBB; color: black; font-weight: bold;}
    .rec-result-wrapper .unit-score{text-align: right; padding-right: 5px; font-weight: bold;}
    .graph-content{position: relative; margin-top: 20px; width: 600px; height: 500px; float: left;}
    .graph-content-simple{position: relative; margin-top: 20px; width: 800px; height: 500px; float: left;}
    .graph-wrapper{overflow: hidden; clear: both; margin-bottom: 20px;}
    .rec-text-wrapper{overflow: hidden; clear: both; width: 800px; vertical-align: middle;}
    .rec-text-wrapper .rec-text-data{margin: 10px 0;}
    .rec-text-wrapper .rec-text-title{background: rgb(0,32,96); color: white; height: 30px; font-weight: bold; line-height: 30px; padding-left: 10px;}
    .rec-text-wrapper .rec-text-content{padding: 10px; font-size: 12px;}

</style>

<div class="admin_content">
    <form method="get" name="search_form" id="search_form" class="form-inline noprint" action="staff_regist_multi_rater.php" autocomplete="off">
        <input type="hidden" name="s_no" value="<{$s_no}>">
        <div class="form-group">
            <label for="sch_ev_no" style="margin-right: 15px;">평가명</label>
            <select id="sch_ev_no" name="sch_ev_no" class="form-control" required>
                <option value="">::전체::</option>
                <{foreach from=$ev_system_list key=key item=label}>
                <option value="<{$key}>" <{if $sch_ev_no == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <label for="sch_receiver_team">평가 받는사람</label>
            <select name="sch_receiver_team" id="sch_receiver_team" class="form-control sch_receiver_team">
                <option value="">::전체::</option>
                <{foreach from=$sch_team_list key=key item=label}>
                <option value="<{$key}>" <{if $sch_receiver_team == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>
            <span style="margin-right: 5px;">></span>
            <select name="sch_receiver_staff" id="sch_receiver_staff" class="form-control">
                <option value="">::전체::</option>
                <{foreach from=$sch_rec_staff_list key=key item=label}>
                <option value="<{$key}>" <{if $sch_receiver_staff == $key}>selected<{/if}>><{$label}></option>
                <{/foreach}>
            </select>

            <button type="submit" class="btn_small" style="width:58px; height:27px; margin-left: 12px;">조회</button>
        </div>
    </form>

    <div class="multi-rater-wrapper table_list_style">
        <{if $ev_result_self_list}>
        <{foreach from=$ev_result_self_list key=rec_s_no item=self_data}>
        <div class="rec-wrapper">
            <div class="rec-staff-wrapper">
                <span>■ 기본정보</span>
                <table cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col width="120px;"> <!-- Label -->
                        <col width="200px;"> <!-- 데이터-->
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>피평가자명</th>
                        <td><{$self_data.s_name}></td>
                    </tr>
                    <tr>
                        <th>직책</th>
                        <td><{$self_data.s_position}></td>
                    </tr>
                    <tr>
                        <th>소속</th>
                        <td><{$self_data.t_name}></td>
                    </tr>
                    <tr>
                        <th>평가 진행 기간</th>
                        <td><{$evaluation_system.ev_s_date}> ~ <{$evaluation_system.ev_e_date}></td>
                    </tr>
                    <tr>
                        <th>평가자수</th>
                        <td><{$self_data.eval_cnt}></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="rec-result-wrapper">
                <span>■ 평가항목 및 평정표</span>
                <table cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col width="120px;"> <!-- 구분명 -->
                        <col width="200px;"> <!-- 질문-->
                        <col width="150px;"> <!-- 자기평가 -->
                        <col width="150px;"> <!-- 평가결과(sqrt)-->
                        <{foreach from=$ev_result_total_list key=ev_no item=ev_result_total}>
                        <col width="150px;"> <!-- 전체평균-->
                        <{/foreach}>
                        <{foreach from=$ev_result_rec_total_list[$rec_s_no] key=ev_no item=ev_rec_total}>
                        <col width="150px;"> <!-- 전체평균-->
                        <{/foreach}>
                    </colgroup>
                    <thead>
                    <tr>
                        <th style="height: 30px;">구분명</th>
                        <th>질문</th>
                        <th>자기평가(원점수)</th>
                        <th><{$eval_year}> 평가결과</th>
                        <{foreach from=$ev_result_total_list key=ev_no item=ev_result_total}>
                        <th><{$ev_result_total.subject}></th>
                        <{/foreach}>
                        <{foreach from=$ev_result_rec_total_list[$rec_s_no] key=ev_no item=ev_rec_total}>
                        <th><{$ev_rec_total.subject}></th>
                        <{/foreach}>
                    </tr>
                    </thead>
                    <tbody>
                    <{assign var=result_data value=$ev_result_list[$rec_s_no]}>
                    <{foreach from=$ev_unit_question_list key=ev_u_no item=unit_data}>
                    <{if $unit_data.state != '4' && $unit_data.state != '5'}>
                    <tr>
                        <th><{$unit_data.kind}></th>
                        <th class="text-left" style="padding-left: 5px;"><{$unit_data.subject}></th>
                        <td class="unit-score"><{$self_data[$ev_u_no]}></td>
                        <td class="unit-score"><{$result_data[$ev_u_no]}></td>
                        <{foreach from=$ev_result_total_list key=ev_no item=ev_result_total}>
                        <td class="unit-score grey-wrapper"><{$ev_result_total[$ev_u_no]}></td>
                        <{/foreach}>
                        <{foreach from=$ev_result_rec_total_list[$rec_s_no] key=ev_no item=ev_rec_total}>
                        <td class="unit-score grey-wrapper"><{$ev_rec_total[$ev_u_no]}></td>
                        <{/foreach}>
                    </tr>
                    <{/if}>
                    <{/foreach}>
                    <tr>
                        <td class="grey-wrapper" colspan="2">평균</td>
                        <td class="unit-score"><{$self_data.avg}></td>
                        <td class="unit-score"><{$result_data.avg}></td>
                        <{foreach from=$ev_result_total_list key=ev_no item=ev_result_total}>
                        <td class="unit-score grey-wrapper"><{$ev_result_total.avg}></td>
                        <{/foreach}>
                        <{foreach from=$ev_result_rec_total_list[$rec_s_no] key=ev_no item=ev_rec_total}>
                        <td class="unit-score grey-wrapper"><{$ev_rec_total.avg}></td>
                        <{/foreach}>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="graph-wrapper">
                <div id="graph-content-rader-<{$rec_s_no}>" class="graph-content"></div>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById("graph-content-rader-<{$rec_s_no}>"), 'shine');
                    myChart.setOption(
                        {
                            legend: {
                                data: ["<{$eval_year}> 평가결과", "<{$eval_year}> 전체평균"]
                            },
                            radar: {
                                indicator: <{$ev_rader_name_list}>
                            },
                            series: [
                                {
                                    type: 'radar',
                                    data: <{$result_data.rader_list}>
                                }
                            ]
                        }
                    );
                </script>

                <div id="graph-content-simple-<{$rec_s_no}>" class="graph-content-simple"></div>
                <script type="text/javascript">
                    var myChart2 = echarts.init(document.getElementById("graph-content-simple-<{$rec_s_no}>"), 'shine');
                    myChart2.setOption(
                        {
                            legend: {},
                            tooltip: {},
                            dataset: {
                                source: <{$result_data.simple_list}>
                            },
                            xAxis: { type: 'category' },
                            yAxis: { type: 'value',min: 60, max: 85},
                            series: <{$result_data.simple_type_list}>
                        }
                    );
                </script>
            </div>
            <div class="rec-text-wrapper">
                <{if $ev_result_text_list[$rec_s_no]}>
                    <{assign var=ev_text_data value=$ev_result_text_list[$rec_s_no]}>
                    <span>■ 평가의견</span>
                    <{foreach from=$ev_text_data key=ev_u_no item=ev_text}>
                    <div class="rec-text-data">
                        <div class="rec-text-title"><{$ev_unit_question_list[$ev_u_no].subject}></div>
                        <div class="rec-text-content">
                            <{foreach from=$ev_text item=text}>
                            <div style="margin-bottom: -10px;">· <{$text}></div><br/>
                            <{/foreach}>
                        </div>
                    </div>
                    <{/foreach}>
                <{/if}>
            </div>
        </div>
        <{/foreach}>
        <{/if}>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sch_receiver_staff").remoteChained({
            parents: "#sch_receiver_team",
            url: "/v1/api/evaluation.receiver.json.php?parent_data=sch_receiver_team",
            loading: "로딩중..",
            clear: true
        });
    });
</script>
</body>
</html>
