<{include file="inc/boot_navibar.html"}>

<div class="admin_content" style="max-width: 100px;">
	<h2 class="title" style="margin-bottom:10px">● 강점키워드 리스트</h2>
	<form method="get" name="search_form" action="staff_strength_list.php" autocomplete="off">
		<div class="default_wrap">
			<div class="left_wrap" style="width: 100%;">

				<span class="name_tit">강점키워드</span>
				<input type="text" name="sch_keyword" value="<{$sch_keyword}>" class="input_type5" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">강점내용</span>
				<input type="text" name="sch_strength" value="<{$sch_strength}>" class="input_type5" />
				<span style="margin-right:15px;"></span>

				<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
				<button type="button" onclick="location.href='staff_strength_regist.php'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px; line-height: 34px;margin-right: 40px;"><span>강점등록</span></button>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="max-width: 900px; margin-top: 20px;">
		<thead class="thead-dark text-center">
		<tr>
			<th style="min-width: 40px;" scope="col">#</th>
			<th style="min-width: 150px;" scope="col">키워드</th>
			<th scope="col">강점</th>
		</tr>
		</thead>
		<tbody>
		<{foreach from=$strength_list item=data}>
		<tr>
			<th class="text-center" style="padding: 10px;" scope="row"><{$data.k_no}></th>
			<th class="text-center" style="padding: 10px;"><a href="staff_strength_regist.php?keyword_no=<{$data.k_no}>"><{$data.keyword}></a></th>
			<td style="padding: 10px;"><{$data.strength}></td>
		</tr>
		<{/foreach}>
		<tr>
			<td colspan=3 class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->

</body>
</html>
