<{include file="inc/iframe_navibar.html"}>

<script src="js/echarts.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	.ev-satisfaction-graph-wrapper{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px; margin-top: 15px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#ev-satisfaction-graph{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.selectpicker{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.data-picker-sum{width: 120px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}

	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0; z-index: 10;}
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.ev-satisfaction-table-wrapper{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px;}
	.ev-satisfaction-table{width:100%;}
	.ev-satisfaction-table th, .ev-satisfaction-table td{border: 1px solid #FFF; text-align: center;}
	.ev-satisfaction-table thead th{padding: 5px 10px; background: #333; color: white; text-align: center;}
	.ev-satisfaction-table tbody th{padding: 5px 10px; background: #ddd;text-align: center;}
	.ev-satisfaction-table tbody td{text-align: center; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
	.ev-satisfaction-table .total-val{background: #ffeef2;}
</style>

<div class="admin_content" >
	<h2 style="font-size: 30px; font-weight: bold;">● 내부만족도 평가</h2>
	<!-- CHART -->
	<div id="ev-satisfaction-graph-card" class="ev-satisfaction-graph-wrapper">
		<div class="card-body">
			<div id="ev-satisfaction-graph"></div>
			<div class="pagination-wrapper">
				<div>
					<ul class="pagination data-picker-sum">
						<li class="page-item active"><a data-key="each" id="csm-each" class="page-link" href="#csm-work-graph-card">개별</a></li>
						<li class="page-item"><a data-key="sum" id="csm-sum" class="page-link" href="#csm-work-graph-card">합산</a></li>
					</ul>
					<ul class="pagination data-line-bar">
						<li class="page-item active"><a data-key="line" id="csm-line" class="page-link" href="#ev-satisfaction-graph-card">선형</a></li>
						<li class="page-item"><a data-key="bar" id="csm-bar" class="page-link" href="#ev-satisfaction-graph-card">막대형</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="ev-satisfaction-table-wrapper" id="ev-satisfaction-table-wrapper">
		<table cellpadding="0" cellspacing="0" class="ev-satisfaction-table" style="border: 2px solid #555;">
			<thead>
				<tr>
					<th style="width: 80px;">ev_u_no</th>
					<th style="width: 140px;">평가종류</th>
					<th style="width: 400px;">질문</th>
					<th style="width: 100px;">평가종료일<br/>평가자수</th>
					<{foreach from=$ev_sat_table_label_list item=ev_sat_table_label}>
					<th><{$ev_sat_table_label}></th>
					<{/foreach}>
				</tr>
			</thead>
			<tbody>
				<{if $ev_sat_full_table_data}>
					<{foreach from=$ev_sat_full_table_data key=ev_u_no item=ev_u_data}>
					<tr style="<{if $ev_u_no == 'total'}>border-top: 2px solid #555;<{/if}>">
						<{if $ev_u_no == 'total'}>
							<th colspan="4" style="background: #333; color: white;">전체 평균</th>
							<td style="font-weight: bold;"><{$ev_u_data.score_1}></td>
							<td style="font-weight: bold;"><{$ev_u_data.score_2}></td>
							<td style="font-weight: bold;"><{$ev_u_data.score_3}></td>
							<td style="font-weight: bold;"><{$ev_u_data.score_4}></td>
							<td style="font-weight: bold;"><{$ev_u_data.score_5}></td>
						<{else}>
							<th><{$ev_u_no}></th>
							<th><{$ev_u_data.q_type}></th>
							<th style="text-align: left;"><{$ev_u_data.question}></th>
							<th><{$ev_u_data.ev_state_name}></th>
							<td style="text-align: center;"><{if $ev_u_data.ev_state == '5'}><{if $ev_u_data.score_1 > 0 && $is_view}><button type="button" style="padding: 3px 10px; background: #333; color: white;" onclick="parent.openEvalText('<{$ev_u_data.ev_no_1}>', '<{$ev_u_no}>', '<{$s_no}>')">보기</button><{else}>-<{/if}><{else}><{$ev_u_data.score_1}><{/if}></td>
							<td style="text-align: center;"><{if $ev_u_data.ev_state == '5'}><{if $ev_u_data.score_2 > 0 && $is_view}><button type="button" style="padding: 3px 10px; background: #333; color: white;" onclick="parent.openEvalText('<{$ev_u_data.ev_no_2}>', '<{$ev_u_no}>', '<{$s_no}>')">보기</button><{else}>-<{/if}><{else}><{$ev_u_data.score_2}><{/if}></td>
							<td style="text-align: center;"><{if $ev_u_data.ev_state == '5'}><{if $ev_u_data.score_3 > 0 && $is_view}><button type="button" style="padding: 3px 10px; background: #333; color: white;" onclick="parent.openEvalText('<{$ev_u_data.ev_no_3}>', '<{$ev_u_no}>', '<{$s_no}>')">보기</button><{else}>-<{/if}><{else}><{$ev_u_data.score_3}><{/if}></td>
							<td style="text-align: center;"><{if $ev_u_data.ev_state == '5'}><{if $ev_u_data.score_4 > 0 && $is_view}><button type="button" style="padding: 3px 10px; background: #333; color: white;" onclick="parent.openEvalText('<{$ev_u_data.ev_no_4}>', '<{$ev_u_no}>', '<{$s_no}>')">보기</button><{else}>-<{/if}><{else}><{$ev_u_data.score_4}><{/if}></td>
							<td style="text-align: center;"><{if $ev_u_data.ev_state == '5'}><{if $ev_u_data.score_5 > 0 && $is_view}><button type="button" style="padding: 3px 10px; background: #333; color: white;" onclick="parent.openEvalText('<{$ev_u_data.ev_no_5}>', '<{$ev_u_no}>', '<{$s_no}>')">보기</button><{else}>-<{/if}><{else}><{$ev_u_data.score_5}><{/if}></td>
						<{/if}>
					</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td colspan="9">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<div style="color: #999;">※최근 평가결과 <{$ev_cur_cnt}>건 입니다.</div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function() {
        $(".data-line-bar .page-link").click(function(){
            var key 	= $(this).attr('data-key');
            var sumType = $(".data-picker-sum").children(".active").children('.page-link').attr('data-key');

            $(".data-line-bar .page-item").removeClass('active');

            $(this).parent(".page-item").addClass('active');
            drawGraph(key,  sumType);
        });

        $(".data-picker-sum .page-link").click(function(){
            var key 	   = $(".data-line-bar").children(".active").children('.page-link').attr('data-key');
            var sumType    = $(this).attr('data-key');

            $(".data-picker-sum .page-item").removeClass('active');
            $(this).parent(".page-item").addClass('active');
            drawGraph(key, sumType);
        });

    });

    var mySatChart = echarts.init(document.getElementById('ev-satisfaction-graph'), 'shine');

    function drawGraph(key, sumType)
    {
        mySatChart.clear();

        var fullData = <{$ev_sat_full_data}>;

        if(fullData != '')
        {
            var statsData = fullData[sumType][key];

            var legendData = [];

            var refresh 	= false;
            var boundaryGap = false;

            if(sumType == 'sum'){
                legendData.push("합산");
                refresh = true;
            }else{
                var legendList = <{$ev_sat_legend_list}>;

                $.each(legendList, function(idx, item){
                    legendData.push(item);
                });
            }

            var pushData = [];

            if(key == 'line'){
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'line',
                        data: item['data'],
                        smooth: true
                    });
                });
            }else if(key == 'bar'){
                boundaryGap = true;
                $.each(statsData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: 'bar',
                        data: item['data']
                    });
                });
            }

            var title = '<{$ev_sat_title}>';
            mySatChart.setOption({
                title: {
                    text: title,
                    left: 'center',
                    top: 5
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    type: 'scroll',
                    data: legendData,
                    top: 35
                },
                grid: {
                    top: 70,
                    left: 35,
                    right: 15,
                    bottom: 50,
                    containLabel: true
                },
                dataZoom: [{
                    type: 'inside',
                    start : 0,
                    end : 100
                }, {
                    type: 'slider',
                    start : 0,
                    end : 100
                }],
                xAxis: {
                    type: 'category',
                    boundaryGap: boundaryGap,
                    data: [<{$ev_sat_x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);
        }
    }

    drawGraph('line', 'each');

</script>
</body>
</html>
