<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="staff_salary_management.php" class="form-inline" style="width: 1200px;" autocomplete="off">
		<div class="form-group">
			<label for="sch_my_c_no" style="margin-left: 0;">계열사</label>
			<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$my_company_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_name">이름</label>
			<input type="text" id="sch_s_name" class="form-control" name="sch_s_name" value="<{$sch_s_name}>" style="width: 100px;" />

			<label for="sch_state">계약상태</label>
			<select id="sch_state" name="sch_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$contract_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_state == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_dday">재계약 D-</label>
			<input type="number" id="sch_dday" class="form-control" name="sch_dday" value="<{$sch_dday}>" style="width: 60px;" />
			<span>이내</span>

			<label for="sch_notice">메모</label>
			<input type="text" id="sch_notice" name="sch_notice" value="<{$sch_notice}>" class="form-control" style="width: 200px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="margin-left: 10px; font-size: 12px; padding: 5px 15px;">검색</button>
		</div>
	</form>

	<form name="new_salary_frm" id="new_salary_frm" class="new_salary_frm" action="staff_salary_management.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="add_new_salary">
		<table class="table table-striped table-bordered" style="margin-top: 20px; width: auto;">
			<colgroup>
				<col width="50px;">
				<col width="200px;">
				<col width="100px;">
				<col width="100px;">
				<col width="120px;">
				<col width="100px;">
				<col width="100px;">
				<col width="160px;">
				<col width="300px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">NO</th>
					<th scope="col" rowspan="2">계열사</th>
					<th scope="col" rowspan="2">이름</th>
					<th scope="col" rowspan="2">계약상태</th>
					<th scope="col" rowspan="2">계약연봉</th>
					<th scope="col" colspan="2">계약기간</th>
					<th scope="col" rowspan="2">재계약(예정) 시점</th>
					<th scope="col" rowspan="2">비고</th>
				</tr>
				<tr>
					<th scope="col">시작일</th>
					<th scope="col">종료일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"><!-- NO -->
					</td>
					<td class="text-center"><!-- 계열사 -->
						<select name="new_my_c_no" id="new_my_c_no" disabled>
							<option value="">::전체::</option>
							<{foreach from=$my_company_option key=key item=label}>
								<option value="<{$key}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-left"><!-- 이름 -->
						<input type="text" id="new_s_name" name="new_s_name" value="" style="font-size: 12px; line-height: 20px; padding-left: 5px; width: 80px;" required>
						<input type="hidden" id="new_s_no" name="new_s_no" value="" required/>
					</td>
					<td class="text-center"><!-- 계약상태 -->
						<select name="new_state" id="new_state" required>
							<{foreach from=$contract_state_option key=key item=label}>
							<option value="<{$key}>" ><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td class="text-right"><!-- 계약연봉 -->
						<input type="text" id="new_salary" name="new_salary" value="" style="font-size: 12px; line-height: 20px; width: 100px; text-align: right; padding-right: 5px;" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" required>
					</td>
					<td class="text-center"><!-- 계약기간(시작일) -->
						<input type="text" id="new_contract_s_date" class="date-picker" name="new_contract_s_date" value="" style="font-size: 12px; line-height: 20px; width: 80px; text-align: center;" required>
					</td>
					<td class="text-center"><!-- 계약기간(시작일) -->
						<input type="text" id="new_contract_e_date" class="date-picker" name="new_contract_e_date" value="" style="font-size: 12px; line-height: 20px; width: 80px; text-align: center;" required>
					</td>
					<td><!-- 재계약(예정) 시점 -->

					</td>
					<td><!-- 비고 -->
						<textarea name="new_notice" id="new_notice" style="width: 280px;"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="9">
						<button type="button" class="btn btn-sm btn-dark font-weight-bold" onclick="addSalaryCheck()" style="width: 100%; font-size:12px; line-height: 21px; display: table; margin: 0 auto;" >추가 등록하기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; width: auto;">
		<colgroup>
			<col width="50px;">
			<col width="200px;">
			<col width="100px;">
			<col width="100px;">
			<col width="120px;">
			<col width="100px;">
			<col width="100px;">
			<col width="160px;">
			<col width="300px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">NO</th>
				<th scope="col" rowspan="2">계열사</th>
				<th scope="col" rowspan="2">이름</th>
				<th scope="col" rowspan="2">계약상태</th>
				<th scope="col" rowspan="2">계약연봉</th>
				<th scope="col" colspan="2">계약기간</th>
				<th scope="col" rowspan="2">재계약(예정) 시점</th>
				<th scope="col" rowspan="2">비고</th>
			</tr>
			<tr>
				<th scope="col">시작일</th>
				<th scope="col">종료일</th>
			</tr>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$staff_salary_list item=staff_salary}>
			<tr>
				<td class="text-center"><!-- NO -->
					<{$staff_salary.ss_no}>
				</td>
				<td class="text-center"><!-- 계열사 -->
					<{$staff_salary.my_c_name}>
				</td>
				<td class="text-center"><!-- 이름 -->
					<{$staff_salary.s_name}>
				</td>
				<td class="text-center"><!-- 계약상태 -->
					<{$staff_salary.state_name}>
					<{if $staff_salary.state == '1'}>
						<br/>
						<button type="button" onclick="extensionContract('<{$staff_salary.ss_no}>')" style="padding: 3px 5px; background: #333; color: white;">연장</button>
						<button type="button" onclick="endContract('<{$staff_salary.ss_no}>')" style="padding: 3px 5px; background: #333; color: white;">종료</button>
					<{/if}>
				</td>
				<td class="text-center"><!-- 계약연봉 -->
					<{$staff_salary.conv_salary|number_format:0}>
				</td>
				<td class="text-center"><!-- 시작일 -->
					<{$staff_salary.cont_s_date}>
				</td>
				<td class="text-center"><!-- 종료일 -->
					<{$staff_salary.cont_e_date}>
				</td>
				<td class="text-center"><!-- 재계약(예정)일 -->
					<{$staff_salary.re_date}><{if $staff_salary.state == '1'}> (<span style="color: red;">D-<{$staff_salary.dday}></span>)<{/if}>
				</td>
				<td class="text-center"><!-- 비고 -->
					<textarea name="notice" style="width: 280px;" readonly><{$staff_salary.notice}></textarea>
				</td>
			</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="9" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="9" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<form name="modify_salary_frm" id="modify_salary_frm" class="modify_salary_frm" action="staff_salary_management.php" method="post">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="">
		<input type="hidden" name="ss_no" value="">
	</form>
</div>
<!-- //admin_content -->

<script type="text/javascript">

    $(document).ready(function(){
        $("#new_s_name").autocomplete({
            source: function( request, response ) {
                $("#new_s_no").val('');
                $.ajax({
                    url: "/v1/api/auto_staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.s_name,
                                sname : item.s_name,
                                mycno : item.my_c_no
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#new_s_no").val(ui.item.sno);
                $("#new_my_c_no").val(ui.item.mycno);
                $(this).val(ui.item.sname);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

    });

    function addSalaryCheck()
	{
        var f = document.forms['new_salary_frm'];

        if(!$('#new_my_c_no').val()){
            alert("계열사를 선택해주세요");
            return;
        }

        if(!$('#new_state').val()){
            alert("계약상태를 선택해주세요");
            return;
        }

        if(!$('#new_s_no').val() || !$('#new_s_name').val()){
            alert("이름을 입력 후 자동완성을 선택해주세요");
            return;
        }

        if(!$('#new_salary').val()){
            alert("계약연봉을 입력해주세요");
            return;
        }

        if(!$('#new_contract_s_date').val()){
            alert("계약기간 시작일을 입력해주세요");
            return;
        }

        if(!$('#new_contract_e_date').val()){
            alert("계약기간 종료일을 입력해주세요");
            return;
        }

        f.submit();
    }

    function inputNumberFormat(obj) {
        if(obj.value != '-') // 첫입력 시 음수 예외
            obj.value = comma(uncomma(obj.value));
    }

    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = "" + str.replace(/,/gi,''); // 콤마 제거
        str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
        return (new Number(str));
    }

    function endContract(ss_no){
        var f = document.modify_salary_frm;
        f.process.value = "end_contract";
        f.ss_no.value = ss_no;
        f.submit();
	}

    function extensionContract(ss_no){
        var f = document.modify_salary_frm;
        f.process.value = "extension_contract";
        f.ss_no.value = ss_no;
        f.submit();
    }
</script>
</body>
</html>
