<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px">● 계정 리스트 설정</h2>
	<div style="font-size: 14px; padding-left: 10px;">
		<b>[ 계열사 로그인 설정 ]</b><br/>
		<b># PARTNERS LOGIN (WORK MANAGER)</b><br/>
		<span>- NAVI (staff의 partner_c_no = 3438 (단색))</span><br/>
		<p style="padding-left: 10px;">
			커머스 UTM 관리 > 커머스 UTM 관리<br/>
		</p>
		<span>- NAVI (staff의 partner_c_no = 4738 (네스))</span><br/>
		<p style="padding-left: 10px;">
			커머스 관리 > 커머스 방문지원 리스트<br/>
		</p>
		<br/>
		<b># COMMERCE DELIVERY MANAGER</b><br/>
		<span>- NAVI (staff의 partner_c_no = 2809 (위드플레이스)</span><br/>
		<p style="padding-left: 10px;">
			업무게시판 > CS & 위드플레이스 업무게시판<br/>
			<span style="margin-left: 80px;">커머스 이벤트 공유</span>
			<br/>
			커머스 관리 > 커머스 택배리스트<br/>
			<span style="margin-left: 85px;">커머스 회수 리스트</span>
			<br/>
			상품관리 > 커머스 상품 리스트<br/>
			<span style="margin-left: 69px;">커머스 구성품목(재고품목)</span>
		</p>
	</div>
</div>
<!-- //admin_content -->

</body>
</html>
