<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
	.staff-nav-btn{background: #ccc; color: black; font-size: 14px; margin-top: 0; width: 170px; padding: 10px 20px; font-weight: bold; border-radius: 10px;}
	.staff-nav-btn.active{background: #333; color: white;}

	.staff-profile-wrapper{overflow: hidden;margin: 10px 0 20px 10px;}
	.profile-img-wrapper{float: left;}
	.profile-img-wrapper #profile_img{width: 0; height: 0;}
	.profile-img-wrapper label{overflow: hidden; width: 150px; display: block; height: 150px; border-radius: 25px; border: 2px solid #e6e6e6;}
	.profile-img-wrapper img{width: 100%; height: 100%;}
	.profile-info-wrapper{font-family: 'Nanum Square'; float: left; margin-left: 20px; height: 150px; padding-top: 25px; box-sizing: border-box;letter-spacing: 2px;}
	.profile-info-wrapper span.profile-company-name{font-size: 22px;}
	.profile-info-wrapper h4.profile-name{font-size: 30px;font-weight: normal;}
	.profile-info-wrapper span.profile-email{font-size: 18px;}

	#staff-evaluation-wrapper, #staff-mail-wrapper{display: none;}

	.team_list_wrap{clear: both; overflow: hidden;}
	.team-btn{padding: 3px 10px; background: #333; color: white; font-weight: bold; margin: 0 auto; border-radius: 5px; letter-spacing: 2px; margin-left: 5px;}
	.f-team-wrapper input{float: left;}
	.f-team-wrapper span{float: left; margin: 7px 5px 0;}
	.f_team_default{margin-left: 5px;  margin-top: 7px;}
	.f_team_leader{margin-left: 5px;  margin-top: 7px;}
	.team_list_wrap .team-btn{margin-top: 3px;}

	.jquery-modal{z-index: 100;}
	.modal-content{border: 0;}
	.modal-content p{margin: 5px 0 15px; font-size: 12px;}
	.modal-content h4{padding-bottom: 5px; border-bottom: 1px solid #ccc; font-size: 13px; font-weight: bold; line-height: 1.5;}
	.modal-content h2{margin-bottom: 10px; font-size: 1.5em; font-weight: bold; line-height: 1.5;}
	#strength-modal, #strength-form-modal, #mbti-modal, #mbti-form-modal{overflow: unset; height: auto;}

	#strength-form-modal.modal{max-width: 606px;}
	#strength-form-modal h3{margin-bottom: 10px;}
	#strength-form-modal > div{padding: 15px 0;}
	#strength-form-modal input{width: 100px; height: 30px; padding-left: 10px;margin-right: 5px; box-sizing: border-box;}
	#strength-form-modal input.last{margin-right: 0;}
	.ui-autocomplete{z-index: 1000;}

	#mbti-form-modal.modal{max-width: 300px;}
	#mbti-form-modal h3{margin-bottom: 10px;}
	#mbti-form-modal input{width: 235px; height: 30px; padding-left: 10px;margin-right: 5px; box-sizing: border-box;}

	#evaluation-text-modal{max-width: 800px;}
	#evaluation-text-modal .modal-content p{font-size: 13px;}
	.modal{overflow: unset;height: auto;}
	#f_s_name:read-only, #f_email_0:read-only, #f_email_1:read-only{background: #eee; border-color: rgba(118, 118, 118, 0.3);}
</style>

<div class="admin_content" style="width:1200px;">
	<{if !!$s_no}>
		<div class="staff-nav">
			<button type="button" class="staff-nav-btn active" nav-key="info">계정 및 인사정보</button>
			<{if ($session_s_no == '28' || permissionNameCheck($session_permission, "대표")) || ($is_leader)}>
				<button type="button" class="staff-nav-btn" nav-key="evaluation">인사평가정보</button>
			<{/if}>
			<{if $s_no}>
			<button type="button" class="staff-nav-btn" nav-key="mail">메일서명</button>
			<{/if}>
		</div>
		<div class="staff-profile-wrapper">
			<form id="staff_img_frm" name="staff_img_frm" action="staff_regist.php" method="post" enctype="multipart/form-data">
				<input type="hidden" name="s_no" value="<{$s_no}>">
				<input type="hidden" name="process" value="add_profile_img">
				<div class="profile-img-wrapper">
					<input type="file" name="profile_img" id="profile_img">
					<label for="profile_img"><{if $f_profile_img}><img src="./uploads/<{$f_profile_img}>"/><{else}><img src="./images/staff_profile_base.png"/><{/if}></label>
				</div>
				<div class="profile-info-wrapper">
					<span class="profile-company-name"><{$f_my_c_name}></span>
					<h4 class="profile-name"><{$f_team_name}> <b><{$f_s_name}></b></h4>
					<span class="profile-email"><{$f_email}></span>
				</div>
			</form>
		</div>

	<{/if}>
	<div class="staff-data-wrapper" id="staff-info-wrapper">
		<form id="staff_form" name="staff_frm" action="staff_regist.php" method="post" enctype="multipart/form-data">
			<input type="hidden" name="s_no" id="f_s_no" value="<{$s_no}>">
			<input type="hidden" name="cur_s_no" id="f_cur_s_no" value="<{$session_s_no}>">
			<input type="hidden" name="process" value="<{if !!$s_no}>modify<{else}>write<{/if}>">

			<h2 class="title" style="margin-bottom:10px">● 계정 및 인사정보</h2>
			<{if !!$s_no}>
			<div class="table_top_style">
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<th style="width:150px;" class="first first_top alignC">메모</th>
							<td style="width:1050px;" class="first_top date">
								<textarea name="f_s_memo" id="f_s_memo" class="textarea_memo_contents"><{$f_s_memo}></textarea>	<button type="button" onclick="return save_memo();" class="btn_small_memo">저장</button><br />
								* 마지막 저장일 : <span class="day"><{$f_s_memo_day}><span class="time"> <{$f_s_memo_time}></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br />
			<{/if}>
			<div class="table_contents_style">
				<!-- 업체정보 -->
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th colspan="2" class="last">계정정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="width:150px;" class="first">* 활동상태</th>
							<td style="width:1050px;">
								<input type="radio" name="f_staff_state" value="1" class="radio first" <{if $f_staff_state == 1 || !$f_staff_state }>checked<{/if}> <{if !$is_editable}>disabled<{/if}>/>active &nbsp;
								<input type="radio" name="f_staff_state" value="2" class="radio" <{if $f_staff_state == 2 }>checked<{/if}> <{if !$is_editable}>disabled<{/if}>/>freelancer &nbsp;
								<input type="radio" name="f_staff_state" value="3" class="radio" <{if $f_staff_state == 3 }>checked<{/if}> <{if !$is_editable}>disabled<{/if}>/>deactivate
							</td>
						</tr>
						<tr>
							<th class="first">* ID</th>
							<td>
								<{if !!$s_no}>
									<{$f_id}>
									<input type="hidden" class="input_type1" id="f_id" name="f_id" value="<{$f_id}>" />
								<{else}>
									<input type="text" class="input_type1" id="f_id" name="f_id" />
								<{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">* 비밀번호</th>
							<td>
								<{if !!$s_no && $f_id == $session_id }>
									현재 비밀번호 <input type="password" class="input_type5" id="staff_pw" name="staff_pw" /><br />
									변경 비밀번호 <input type="password" class="input_type5" id="staff_pw_new" name="staff_pw_new" /><br />
									변경 비밀번호 확인 <input type="password" class="input_type5" id="staff_pw_confirm" name="staff_pw_confirm" />
									<button onclick="process.value='pw_reset'; return pw_reset(this);" class="btn_small">비밀번호 변경</button>
								<{elseif !!$s_no && permissionNameCheck($session_permission,"마스터관리자")}>
									변경 비밀번호 <input type="password" class="input_type5" id="staff_pw_new" name="staff_pw_new" /><br />
									변경 비밀번호 확인 <input type="password" class="input_type5" id="staff_pw_confirm" name="staff_pw_confirm" />
									<button onclick="process.value='pw_reset'; return pw_reset(this);" class="btn_small">비밀번호 변경</button>
								<{elseif $s_no == ""}>
									비밀번호 <input type="password" class="input_type5" id="staff_pw_new" name="staff_pw_new" /><br />
									비밀번호 확인 <input type="password" class="input_type5" id="staff_pw_confirm" name="staff_pw_confirm" />
								<{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">역할과 책임</th>
							<td>
								<textarea name="f_rar" class="textarea_memo_contents"><{$f_rar}></textarea>
							</td>
						</tr>
						<tr>
							<th class="first">직책권한</th>
							<td>
								<{foreach from=$pos_permission_option key=key item=pos_name}>
									<div style="display: inline-block; float: left; margin-right: 5px;">
										<input type="radio" name="f_pos_permission" id="f_pos_permission_<{$key}>" style="cursor: pointer; margin-right: 3px; float: left;" value="<{$key}>" <{if (!$f_pos_permission && $key == '1') || $f_pos_permission == $key}>checked<{/if}> <{if !$is_editable}>disabled<{/if}>>
										<label for="f_pos_permission_<{$key}>" style="cursor: pointer; float: left;"><{$pos_name}></label>
									</div>
								<{/foreach}>
							</td>
						</tr>
						<tr style="clear: both;">
							<th class="first">업무권한</th>
							<td>
								<{if !!$s_no && (permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")) }>
									<{section name=data loop=$permission}>
										<{if $smarty.section.data.index !=0 }>
											<input type="checkbox" class="checkbox_type1" id="f_permission_<{$smarty.section.data.index}>" name="f_permission_<{$smarty.section.data.index}>" <{if $f_permission[data].val == '1' }>checked="checked"<{/if}> value="1" /><{$permission[data][0]}>&nbsp;&nbsp;
										<{/if}>
									<{/section}>
								<{elseif !!$s_no}>
									<{section name=data loop=$permission}>
										<{if $f_permission[data].val == '1' }><{$permission[data][0]}> , <{/if}>
									<{/section}>
								<{elseif !!$s_no}>
									<{section name=data loop=$permission}>
										<{if $smarty.section.data.index !=0 }>
											<input type="checkbox" class="checkbox_type1" id="f_permission_<{$smarty.section.data.index}>" name="f_permission_<{$smarty.section.data.index}>" value="1" /><{$permission[data][0]}>&nbsp;&nbsp;
										<{/if}>
									<{/section}>
								<{/if}>
								<{if $f_prd_req_list || $f_prd_run_list}>
									<br/><br/>
									<{if $f_prd_req_list}>
										<b>[업무 관리자]</b><br/>
										<{foreach from=$f_prd_req_list key=key item=label}>
											<a href="product_regist.php?no=<{$key}>" target="_blank"><{$label}></a><br/>
										<{/foreach}>
										<br/>
									<{/if}>
									<{if $f_prd_run_list}>
										<b>[업무 처리자]</b><br/>
										<{foreach from=$f_prd_run_list key=key item=label}>
											<a href="product_regist.php?no=<{$key}>" target="_blank"><{$label}></a><br/>
										<{/foreach}>
									<{/if}>
								<{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">* 이름</th>
							<td><input type="text" class="input_type1" id="f_s_name" name="f_s_name" value="<{$f_s_name}>" <{if !$is_editable}>readonly<{/if}> /></td>
						</tr>
						<tr>
							<th class="first">* 계열사(로그인)</th>
							<td>
								<input type="radio" name="f_my_c_type" value="1" class="radio first f_my_c_type" <{if $f_my_c_type == 1 || !$f_my_c_type }>checked<{/if}>  <{if !$is_editable}>disabled<{/if}> />WISEPLANET&nbsp;
								<select name="f_my_c_no" id="f_my_c_no" class="select_type3" <{if $regist_mode == 'modify' || !$is_editable}>disabled<{/if}>>
									<option value="">::선택::</option>
									<{foreach from=$my_company_option key=my_c_no item=my_company}>
										<option value="<{$my_c_no}>" <{if $f_my_c_no == $my_c_no}>selected<{/if}>><{$my_company}></option>
									<{/foreach}>
								</select><br>
								<input type="radio" name="f_my_c_type" value="2" class="radio f_my_c_type" <{if $f_my_c_type == 2 }>checked<{/if}> <{if !$is_editable}>disabled<{/if}> />PARTNERS &nbsp;
								<input type="radio" name="f_my_c_type" value="3" class="radio f_my_c_type" <{if $f_my_c_type == 3 }>checked<{/if}> <{if !$is_editable}>disabled<{/if}> />COMMERCE DELIVERY
								<input type="text" name="f_partner_c_name" class="f_partner_c_name input_type5" style="padding-left: 5px;" value="<{$f_partner_c_name}>" <{if $f_my_c_type == '1' || !$is_editable}>disabled<{/if}>/>
								<input type="hidden" name="f_partner_c_no" class="f_partner_c_no" value="<{$f_partner_c_no}>" />
							</td>
						</tr>
						<tr>
							<th class="first">* 소속부서</th>
							<td>
								<div class="f-team-wrapper">
									<{if $f_team}>
										<div id="team-<{$f_team}>" class="team_list_wrap">
											<input type="hidden" name="f_team[]" class="f_team" value="<{$f_team}>" />
											<input type="text" name="f_team_name[]" class="input_type1 f_team_name" value="<{$f_team_name}>" <{if $regist_mode == 'modify' || !$is_editable}>disabled<{/if}>>
											<input type="radio" name="f_team_default" class="f_team_default" value="<{$f_team}>" checked>
											<span>기본</span>
											<{if $session_s_no == '28'}>
											<input type="checkbox" name="f_team_leader[]" class="f_team_leader" value="<{$f_team}>" <{if $f_team_leader && in_array($f_team, $f_team_leader)}>checked<{/if}>>
											<span>소속부서장(인사평가관리)</span>
											<{/if}>
											<{if $submit_btn=='등록하기'}>
											<button type="button" class="team-btn" onclick="delTeamList('<{$f_team}>')">삭제</button>
											<{/if}>
										</div>
										<{if $f_team_list}>
											<{foreach from=$f_team_list key=team_code item=team_name}>
												<div id="team-<{$team_code}>" class="team_list_wrap">
													<input type="hidden" name="f_team[]" class="f_team" value="<{$team_code}>" />
													<input type="text" name="f_team_name[]" class="input_type1 f_team_name" value="<{$team_name}>" <{if $regist_mode == 'modify'}>disabled<{/if}>>
													<input type="radio" name="f_team_default" class="f_team_default" value="<{$team_code}>">
													<span>기본</span>
													<{if $session_s_no == '28'}>
													<input type="checkbox" name="f_team_leader[]" class="f_team_leader" value="<{$team_code}>" <{if $f_team_leader && in_array($team_code, $f_team_leader)}>checked<{/if}>>
													<span>소속부서장(인사평가관리)</span>
													<{/if}>
													<{if $regist_mode == 'write'}>
													<button type="button" class="team-btn" onclick="delTeamList('<{$team_code}>')">삭제</button>
													<{/if}>
												</div>
											<{/foreach}>
										<{/if}>
									<{/if}>
								</div>
								<{if $regist_mode == 'write' || $session_s_no == '28' || $session_s_no == '204'}>
								<div class="new-team-form">
									<input type="hidden" name="new_f_team" id="new_f_team" class="f_team" value="" />
									<input type="text" name="new_f_team_name" id="new_f_team_name" class="input_type1 f_team_name" value="" >
									<input type="checkbox" name="new_f_team_default" id="new_f_team_default" value="1" >
									<span>기본</span>
									<button type="button" class="team-btn" onclick="addTeamList()">추가</button>
								</div>
								<{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">근무지</th>
							<td>
								<select name="f_addr" id="f_addr" class="select_type3" <{if $regist_mode == 'modify'}>disabled<{/if}>>
									<option value="">::전체::</option>
									<{foreach from=$company_addr_option key=key item=label}>
									<option value="<{$key}>" <{if $f_addr == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
						</tr>
						<tr>
							<th class="first">직책</th>
							<td><input type="text" class="input_type5" id="f_position" name="f_position" value="<{$f_position}>" <{if $regist_mode == 'modify' || !$is_editable}>disabled<{/if}>/></td>
						</tr>
						<tr>
							<th class="first">이메일</th>
							<td><input type="text" class="input_type5" id="f_email_0" name="f_email_0" value="<{$f_email_0}>" <{if !$is_editable}>readonly<{/if}> />&nbsp;@&nbsp;<input type="text" class="input_type5" id="f_email_1" name="f_email_1" value="<{$f_email_1}>" <{if !$is_editable}>readonly<{/if}> /></td>
						</tr>
						<tr>
							<th class="first">주민등록번호</th>
							<td>
								<input type="text" class="input_type5" id="f_cert_no1" name="f_cert_no1" value="<{$f_cert_no_1}>" style="width: 120px;" maxlength="6" <{if $s_no && ($session_s_no != '73' && $session_s_no != '233')}>disabled<{/if}>/>
								-
								<input type="password" class="input_type5" id="f_cert_no2" name="f_cert_no2" value="<{$f_cert_no_2}>" style="width: 120px;" maxlength="7" <{if $s_no && ($session_s_no != '73' && $session_s_no != '233')}>disabled<{/if}> />
								<span style="color: red;">※안내 : 주민등록번호는 암호화하여 보관하고 있으며, 각종 세무관련 처리 및 재직/경력 증명서에 사용됩니다.</span>
							</td>
						</tr>
						<tr>
							<th class="first">Slack ID</th>
							<td><input type="text" class="input_type5" id="f_slack_id" name="f_slack_id" value="<{$f_slack_id}>" /></td>
						</tr>
						<tr>
							<th class="first">연락처1(유선)</th>
							<td>
								<input type="text" class="input_type1" id="f_tel" name="f_tel" value="<{$f_tel}>" />
								<span style="margin-left: 10px; line-height: 18px;">내선</span>
								<input type="text" style="width: 60px; padding-left: 5px;" class="input_type3" id="f_extension" name="f_extension" value="<{$f_extension}>" />
							</td>
						</tr>
						<tr>
							<th class="first">연락처2(핸드폰)</th>
							<td><input type="text" class="input_type1" id="f_hp" name="f_hp" value="<{$f_hp}>" /></td>
						</tr>
						<tr>
							<th class="first">생일</th>
							<td>
								<input type="text" class="date-picker input_type_date" id="f_birthday" name="f_birthday" value="<{$f_birthday}>" <{if !$is_editable}>disabled<{/if}> />&nbsp;
								<input type="radio" name="f_sola_lunar" value="1" class="radio first" <{if $f_sola_lunar == 1 || !$f_sola_lunar }>checked<{/if}> <{if !$is_editable}>disabled<{/if}> />양력 &nbsp;
								<input type="radio" name="f_sola_lunar" value="2" class="radio" <{if $f_sola_lunar == 2 }>checked<{/if}> <{if !$is_editable}>disabled<{/if}> />음력 <{if !!$luna_birthday}>&nbsp;<span style="color:red">(<{$to_year}>년 양력 생일 = <{$luna_birthday}>)</span><{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">입사일</th>
							<td style="padding: 0 2px;">
								<input type="text" class="date-picker input_type_date" id="f_employment_date" name="f_employment_date" value="<{$f_employment_date}>" style="float: left; margin-top: 3px;" <{if !$is_editable}>disabled<{/if}> />
								<span style="display: inline-block; width: 120px; text-align: center; margin-left: 100px; background-color: rgba(119, 119, 119, 1); color: white; font-weight: bold; font-size: 11px; float: left; padding: 8px;">퇴사일</span>
								<input type="text" class="date-picker input_type_date" id="f_retirement_date" name="f_retirement_date" value="<{$f_retirement_date}>" <{if !$is_editable}>disabled<{/if}> />
							</td>
						</tr>
						<tr>
							<th class="first">강점키워드</th>
							<td style="padding-left: 10px;">
								<a href="#strength-modal" attr-staff="<{$s_no}>"><{$f_strength_keyword}></a>
								<{if (permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")) && !!$s_no}>
									<{if $f_strength_keyword}>
										<button type="button" onclick="openStrengthForm()" style="background: #565656; color: white; padding: 2px 10px; border-radius: 4px; font-weight: 600; margin-left: 10px; height: 25px;">수정</button>
									<{else}>
									<button type="button" onclick="openStrengthForm()" style="background: #565656; color: white; padding: 2px 10px; border-radius: 4px; font-weight: 600; height: 25px;">등록</button>
									<{/if}>
								<{/if}>
							</td>
						</tr>
						<tr>
							<th class="first">MBTI</th>
							<td style="padding-left: 10px;">
								<a href="#mbti-modal" attr-staff="<{$s_no}>"><{$f_mbti}></a>
								<{if (permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")) && !!$s_no}>
								<{if $f_mbti}>
								<button type="button" onclick="openMbtiForm()" style="background: #565656; color: white; padding: 2px 10px; border-radius: 4px; font-weight: 600; margin-left: 10px; height: 25px;">수정</button>
								<{else}>
								<button type="button" onclick="openMbtiForm()" style="background: #565656; color: white; padding: 2px 10px; border-radius: 4px; font-weight: 600; height: 25px;">등록</button>
								<{/if}>
								<{/if}>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- //업체정보 -->

				<div class="btn_wrap">
					<{if $f_id == $session_id || permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자")}>
						<div class="left_wrap">
							<button onclick="return check_form(this);" class="btn_style1"><span><{$submit_btn}></span></button>
							<{if $is_editable}>
							<button type="button" onclick="location.href='asset_reservation.php?sch_work_state=2&sch_req_name=<{$f_s_name}>'" class="btn_style1" style="padding: 7px 50px;"><span>자산 사용 내역 검토<br/>(퇴사 전 필수)</span></button>
								<{if $f_staff_state == '1'}>
								<button type="button" onclick="deactivateStaff()" class="btn_style1"><span>퇴사처리</span></button>
								<{/if}>
							<{/if}>
						</div>
					<{/if}>
					<div class="right_wrap">
						<button type="button" onclick="location.href='staff_list.php'" class="btn_style1"><span>목록으로</span></button>
					</div>
				</div>
			</div>
			<!-- //table_contents_style -->
		</form>
	</div>
	<{if $s_no && ($session_s_no == '28' || permissionNameCheck($session_permission, "대표")) || ($is_leader)}>
	<div class="staff-data-wrapper" id="staff-evaluation-wrapper">
		<iframe src="staff_regist_multi_rater.php?s_no=<{$s_no}>" width="1200" height="960" frameborder="0" id="staff_regist_multi_rater_iframe" onload="fixSubIframeHeight(this)"></iframe>
<!--		<iframe src="staff_regist_evaluation_list.php?s_no=<{$s_no}>" width="1200" height="960" frameborder="0" id="staff_regist_evaluation_iframe"></iframe>-->
<!--		<iframe src="staff_regist_core_evaluation_list.php?s_no=<{$s_no}>" width="1200" height="1160" frameborder="0" id="staff_regist_core_evaluation_iframe"></iframe>-->
	</div>
	<{/if}>
	<{if $s_no}>
	<div class="staff-data-wrapper" id="staff-mail-wrapper">
		<iframe src="staff_regist_mail_signature.php?s_no=<{$s_no}>" width="1300" height="1050" frameborder="0" id="staff_regist_mail_iframe"></iframe>
	</div>
	<{/if}>
</div>
<!-- //admin_content -->

<div class="modal" id="strength-modal">
	<div class="modal-content">
	</div>
</div>

<div class="modal" id="strength-form-modal">
	<div class="modal-content">
		<form action="staff_regist.php" name="strength_frm" method="post">
			<input type="hidden" name="process" value="<{if $strength_keyword_list[1]}>update_strength<{else}>insert_strength<{/if}>">
			<input type="hidden" name="s_no" value="<{$s_no}>" />
			<h3>강점 키워드</h3>
			<div>
				<{foreach from=$strength_keyword_list key=key item=strength_keyword}>
				<input type="text" name="strength_keyword[]" value="<{$strength_keyword}>" id="strength_keyword_<{$key}>" attr-key="<{$key}>" placeholder="우선순위 <{$key}>" class="strength_keyword <{if $key == '5'}>last<{/if}>" required/>
				<{/foreach}>
			</div>
			<button type="submit" style="width: 100%; background: #565656; padding: 5px; color: white; font-weight: bold; margin: 10px 0;">저장</button>
		</form>
	</div>
</div>

<div class="modal" id="mbti-modal">
	<div class="modal-content">
	</div>
</div>

<div class="modal" id="mbti-form-modal">
	<div class="modal-content">
		<form action="staff_regist.php" name="mbti_frm" method="post">
			<input type="hidden" name="process" value="update_mbti">
			<input type="hidden" name="s_no" value="<{$s_no}>" />
			<h3>MBTI 유형</h3>
			<div>
				<input type="text" name="f_mbti" class="f_mbti" id="f_mbti" value="<{$f_mbti}>" required/>
			</div>
			<button type="submit" style="width: 100%; background: #565656; padding: 5px; color: white; font-weight: bold; margin: 10px 0;">저장</button>
		</form>
	</div>
</div>

<div class="modal" id="evaluation-text-modal">
	<div class="modal-content" style="font-size: 13px;">
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="text"]').keydown(function() {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });

        $(".f_my_c_type").change(function(){
			var c_type = $(this).val();
			if(c_type == '1'){
                $(".f_partner_c_name").attr('disabled', true);
			}else{
			    $(".f_partner_c_name").attr('disabled', false);
			}
		});

        $(".f_partner_c_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/auto_company.api.php",
                    dataType: "json",
                    data: {
                        c_name:request.term,
                        f_all: true
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                cno : item.c_no,
                                label : item.sch_c_name,
                                cname : item.c_name,
                                sname :  item.ss_label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(".f_partner_c_no").val(ui.item.cno);
                $(".f_partner_c_name").val(ui.item.cname);
            },
            minLength: 1
        });

        $('a[href="#strength-modal"]').click(function(event) {
            event.preventDefault();

            var s_no = $(this).attr('attr-staff');

            $.ajax({
                url: "/v1/api/staff.strength.json.php",
                type: 'POST',
                data: {"s_no": s_no}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;
                var html     = jsonData.html;

                if(result == true) {
                    $("#strength-modal").find('.modal-content').html(html);

                    $("#strength-modal").modal({
                        fadeDuration: 250
                    });
                }
            });
        });

        $('a[href="#mbti-modal"]').click(function(event) {
            event.preventDefault();

            var s_no = $(this).attr('attr-staff');

            $.ajax({
                url: "/v1/api/staff.mbti.json.php",
                type: 'POST',
                data: {"s_no": s_no}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
                var result   = jsonData.result;
                var html     = jsonData.html;

                if(result == true) {
                    $("#mbti-modal").find('.modal-content').html(html);

                    $("#mbti-modal").modal({
                        fadeDuration: 250
                    });
                }
            });
        });

        $(".f_team_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/staff.team.api.php",
                    dataType: "json",
                    data: {
                        t_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                t_code : item.t_code,
                                label : item.label,
                                t_name : item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $(this).prev(".f_team").val(ui.item.t_code);
                $(this).val(ui.item.t_name);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

		$(".staff-nav-btn").click(function(){
		    var nav_type = $(this).attr('nav-key');
		    var s_no = $("#f_s_no").val();

			$(".staff-nav-btn").removeClass("active");
			$(this).addClass('active');

			$(".staff-data-wrapper").hide();
			$("#staff-"+nav_type+"-wrapper").show();

			if(nav_type == 'evaluation'){
				// document.getElementById("staff_regist_evaluation_iframe").contentDocument.location.reload(true);
				// document.getElementById("staff_regist_core_evaluation_iframe").contentDocument.location.reload(true);
				document.getElementById("staff_regist_multi_rater_iframe").contentDocument.location.reload(true);
			}else if(nav_type == 'mail'){
                $("#staff_regist_mail_iframe").attr('src', "staff_regist_mail_signature.php?s_no="+s_no);
			}
		});

        $('#profile_img').on('change', function(){

            var fileName	= "";
            var fileExt		= "";

            jQuery.browser = {};
            if($.browser.msie){
                var objFSO 	 = new ActiveXObject("Scripting.FileSystemObject");
                var sPath 	 = $(this)[0].value;
                var objFile  = objFSO.getFile(sPath);
                fileName	 = $(this)[0].text;
                fileExt  	 = fileName.slice(fileName.indexOf('.') + 1).toLowerCase();
            }else {
                fileName 	 = $(this)[0].files[0].name;
                fileExt  	 = fileName.slice(fileName.indexOf('.') + 1).toLowerCase();
            }

            //확장자 체크
            if(fileExt != 'jpg' && fileExt != 'png' && fileExt != 'gif'){
                alert("이미지만 등록할 수 있습니다.");
                return;
            }

            this.form.submit();
        });
    });


	function openStrengthForm()
	{
		$(".strength_keyword").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/staff.strength.api.php",
					dataType: "json",
					data: {
						keyword:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								keyword : item.keyword,
								label  : item.keyword
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#strength_keyword_"+key).val(ui.item.keyword);
			},
			minLength: 1
		});

		$("#strength-form-modal").modal({
			fadeDuration: 250
		});
	}

    function openMbtiForm()
    {
        $(".f_mbti").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/staff.mbti.api.php",
                    dataType: "json",
                    data: {
                        mbti:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                mbti : item.mbti,
                                label  : item.label
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#f_mbti").val(ui.item.mbti);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

        $("#mbti-form-modal").modal({
            fadeDuration: 250
        });
    }

	function check_form(f) {

		if (cknull("f_id","아이디를")=="x") return false;

		var s_no = $("#f_s_no").val();
		if(s_no == "")
		{
            if (cknull("staff_pw_new","비밀번호를")=="x") return false;
            if (cknull("staff_pw_confirm","비밀번호 확인을")=="x") return false;

            if(document.getElementById("staff_pw_new").value != document.getElementById("staff_pw_confirm").value){
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
		}

		if (cknull("f_s_name","이름을")=="x") return false;

        if($("input[name='f_my_c_type']:checked").val() == '1'){
            if (cknull("f_my_c_no","계열사를")=="x") return false;
		}

        if($("input[name='f_staff_state']:checked").val() == '1' && $("input[name='f_my_c_type']:checked").val() == '1')
        {
            if($("input[name='f_team[]']").length < 1){
                alert("부서를 입력해주세요");
                return false;
            }else{
                $("input[name='f_team[]']").each(function(idx, item){
                    var f_team_val = $(item).val();
                    if(f_team_val == ''){
                        alert("부서를 입력해주세요");
                        return false;
                    }
                });
            }

            if(!$("input[name='f_team_default']:checked").val()){
                alert("기본 부서를 선택해주세요");
                return false;
            }
        }

		f.submit();
	}

	function pw_reset(f){
		if (cknull("staff_pw_new","비밀번호를")=="x") return false;
		if (cknull("staff_pw_confirm","비밀번호 확인을")=="x") return false;

		if(document.getElementById("staff_pw_new").value != document.getElementById("staff_pw_confirm").value){
			alert("비밀번호가 일치하지 않습니다.");
			return false;
		}

		f.submit();
	}

	// 메모만 따로 저장하기
	function save_memo() {
		var f	= document.getElementById('staff_form');

		f.process.value	= 'f_s_memo';
		f.submit();
	}

    function addTeamList()
    {
        var new_t_code   = $('#new_f_team').val();
        var new_t_name   = $('#new_f_team_name').val();

        if(new_t_code == '' || new_t_name == ''){
            alert('부서를 검색해주세요');
            return;
        }

        var new_t_id_name = "team-"+ new_t_code;

        if($('#'+new_t_id_name).length > 0)
        {
            alert('이미 추가된 부서입니다');
            return;
        }

        var html = "<div id='team-" + new_t_code + "' class='team_list_wrap'>"
				+ "<input type='hidden' name='f_team[]' class='f_team' value='" + new_t_code + "' />"
				+ "<input type='text' name='f_team_name[]' class='input_type1 f_team_name' value='" + new_t_name + "' >"
        		+ "<input type='radio' name='f_team_default' class='f_team_default' value='" + new_t_code + "' >"
				+ "<span>기본</span>";

		if($("#f_cur_s_no").val() == '28'){
			html += "<input type='checkbox' name='f_team_leader[]' class='f_team_leader' value='" + new_t_code + "' >"
				 + "<span>소속부서장(인사평가관리)</span>";
		}

			html += "<button type='button' class='team-btn' onclick='delTeamList(\"" + new_t_code + "\")'>삭제</button>"
				 + "</div>";

        $('.f-team-wrapper').append(html);

        if($('#new_f_team_default').is(":checked") == true){
            $("#team-"+new_t_code).find(".f_team_default").prop("checked", true);
		}

        $('#new_f_team').val('');
        $('#new_f_team_name').val('');
        $('#new_f_team_default').prop("checked", false);
    }

    function delTeamList(team_code)
    {
        var id_name = "#team-"+ team_code;
        $(id_name).remove();
    }

    function openEvalText(ev_no, ev_u_no, s_no)
    {
        $.ajax({
            url: "/v1/api/staff.evaluation.json.php",
            type: 'POST',
            data: {"ev_no":ev_no, "ev_u_no": ev_u_no, "s_no": s_no}
        }).done( function( data ) {
            var jsonData = JSON.parse(data);
            var result   = jsonData.result;
            var html     = jsonData.html;

            if(result == true) {
                $("#evaluation-text-modal").find('.modal-content').html(html);

                $("#evaluation-text-modal").modal({
                    fadeDuration: 250
                });
            }
        });
    }

	function deactivateStaff()
	{
		if(confirm("활동상태는 deactivate로 변경되며\r\n사내 보안을 위해 해당 관리자(자산 관리자, 소속팀 리더, 와플 관리자)에게\r\n각종 권한 해지 및 자산 반납을 위한 안내 메시지가 알림톡으로 발송 됩니다."))
		{
			document.mbti_frm.process.value= 'deactivate_staff';
			document.mbti_frm.submit();
		}
	}

	function fixSubIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
	}
</script>

</body>
</html>
