<{include file="inc/iframe_navibar.html"}>

<div class="admin_content" style="width: 1000px; min-width: unset;">
	<h2 class="title" style="margin-bottom:30px;">● 메일서명</h2>
	<h4 style="clear:both; font-size: 18px; color: #999; font-weight: bold; margin-top: 30px; margin-bottom: 5px;">메일서명 화면</h4>
	<div style="outline : solid 1px #999; padding: 12px; width: 990px;">
		<div><--- 아웃룩용 복사 시작</div>
		<div style="height: 10px;"></div>
		<div id="mail-outlook">
			<{$mail_content}>
		</div>
		<div style="height: 10px;"></div>
		<div>끝 --></div>
	</div>
	<div style="clear:both; text-align: center; margin-top:10px;">
		<button style="border-radius: 4px; background-color: #565656; padding: 15px 50px; color: white;" onclick="window.open('board/board_guide_regist.php?b_no=39&mode=read')">와플 GUIDE :: 메일서명 사용방법 (아웃룩용)</button>
	</div>
	<h4 style="clear:both; font-size: 18px; color: #999; font-weight: bold; margin-top: 30px;">메일서명 소스코드</h4>
	<textarea id="mail-content" style="width: 1000px; height: 300px; border: 1px solid #999; padding: 5px;" readonly><{$mail_content}></textarea>
	<button style="border-radius: 4px; background-color: #565656; padding: 10px 30px; color: white; float: right;" onclick="copyMailContent()">소스코드 복사하기</button>
	<div style="clear:both; text-align: center;">
		<button style="border-radius: 4px; background-color: #565656; padding: 15px 50px; color: white;" onclick="window.open('board/board_guide_regist.php?b_no=38&mode=read')">와플 GUIDE :: 메일서명 사용방법 (웹메일용)</button>
	</div>
</div>

<script type="text/javascript">
	function copyMailContent()
	{
        var copyText = document.getElementById("mail-content");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
		document.execCommand("copy")
	}

</script>
</body>
</html>
