<{include file="inc/boot_navibar.html"}>

<div class="admin_content" style="width:1200px;">
	<div class="font-weight-bold text-center" style="color: #fff;background-color: #343a40;border-color: #454d55;max-width: 800px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;">
		강점키워드 <{$title}>
	</div>
	<form id="staff_form" name="staff_frm" action="staff_strength_regist.php" method="post" style="max-width: 800px;overflow: hidden;margin: 0 20px 0;border: 1px solid #ccc;padding: 20px;box-sizing: border-box;border-radius: 0 0 5px 5px;">
		<input type="hidden" name="keyword_no" value="<{$k_no}>">
		<input type="hidden" name="process" value="<{if !!$k_no}>modify_strength<{else}>new_strength<{/if}>">

		<div class="form-group row" style="margin-bottom: 15px;">
			<label for="keyword" class="col-sm-2 col-form-label font-weight-bold" style="line-height: 30px;">* 키워드</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="keyword" name="keyword" placeholder="키워드" value="<{$keyword}>" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="strength" class="col-sm-2 col-form-label font-weight-bold" style="line-height: 30px;">* 강점 내용</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="strength" name="strength" placeholder="강점" rows="12" style="font-size: 13px;" required><{$strength}></textarea>
			</div>
		</div>

		<button type="button" onclick="location.href='staff_strength_list.php'" class="btn btn-dark font-weight-bold" style="float: left; font-size: 13px;"><span>목록</span></button>
		<button type="button" onclick="location.href='staff_strength_list.php'" class="btn btn-danger font-weight-bold" style="float: right; font-size: 13px;"><span>취소</span></button>
		<button type="submit" class="btn btn-success font-weight-bold" style="float: right; font-size: 13px;"><span>저장</span></button>
	</form>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$('input[type="text"]').keydown(function() {
		if (event.keyCode === 13) {
			event.preventDefault();
		}
	});
</script>

</body>
</html>
