<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="to_do_list_calendar.php">

		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<input type="hidden" name="sch_date" value="<{$sch_date}>">
		<div class="default_wrap" style="color:1c7198;">
			<div class="left_wrap">
				<span class="name_tit">진행상태</span>
				<select name="sch_work_state" id="sch_work_state" class="select_type1" <{if $sch_work_state == '1'}>style="color:red;"<{/if}>>
					<option value=""></option>
					<{foreach from=$to_do_state_option key=key item=to_do_state}>
						<option value="<{$key}>" style="font-size:11px; color: <{$to_do_state.color}>" <{if $sch_work_state == $key}>selected<{/if}>><{$to_do_state.title}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">중요한</span>
				<select name="sch_td_important" id="sch_td_important" class="select_type1">
					<option value=""	style="font-size:11px;">::전체::</option>
					<{foreach from=$td_important_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_td_important == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" >
					<option value="all" <{if $sch_s_no=="all"}>selected<{/if}>>::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
						<option value="<{$key}>" <{if $key == $sch_s_no}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<button type="submit" class="btn_small">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="7" style="text-align: left; font-weight:bold; font-size:18px;">
						<a href="javascript:void(0)" onclick="cal_month_link('<{$prev_month}>');">◀</a> <{$base_month}> <a href="javascript:void(0)" onclick="cal_month_link('<{$next_month}>');">▶</a>
						<button type="button" onclick="location.href='to_do_list_calendar.php?sch_date=<{$cur_date}>';" style="width: 54px; height: 24px; font-size: 12px; font-weight: bold; color:black; background-color:#d5d5d5;" class="btn_small">today</button>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:220px; max-width:220px; background-color:#ff9a9a">일</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">월</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">화</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">수</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">목</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">금</th>
					<th style="min-width:220px; max-width:220px; background-color:#9edefd;">토</th>
				</tr>
			</thead>
			<tbody>
			<{section name=idx loop=$calendar_date_list}>
				<{if !($smarty.section.idx.index % 7)}> <!-- 일 -->
				<tr>
              		<td class="first" style="text-align: left; vertical-align: top; font-size:11px; height:80px; background: #ff9a9a38;">
				<{elseif ($smarty.section.idx.index % 7) == 6}> <!-- 토 -->
					<td style="text-align: left; vertical-align: top; font-size:11px; <{if $calendar_date_list[idx].holiday != "" }>background: #ff9a9a38;<{else}>background: #9edefd4a;<{/if}>">
          		<{else}> <!-- 월~금 -->
              		<td style="text-align: left; vertical-align: top; font-size:11px; <{if $calendar_date_list[idx].holiday != "" }>background: #ff9a9a38;<{/if}>">
          		<{/if}>

          		<{if !!$calendar_date_list[idx].day}>
					<form name="apply_td_frm_new_<{$calendar_date_list[idx].date}>" id="apply_td_frm_new_<{$calendar_date_list[idx].date}>" class="apply_td_frm" action="to_do_list_calendar.php" method="post" enctype="multipart/form-data" <{if $calendar_date_list[idx].date == $today}> style="background-color: #FFEB3B;"<{/if}>>
						<{if $calendar_date_list[idx].holiday != "" }>
							<span style="font-weight:bold; color: red;"><{$calendar_date_list[idx].day}> <{$calendar_date_list[idx].holiday}></span>
						<{elseif $calendar_date_list[idx].week == '0'}> <!-- 일 -->
							<span style="color: red;">
								<{$calendar_date_list[idx].day}><{if $calendar_date_list[idx].date == $today}> (today)<{/if}>
							</span>
						<{elseif $calendar_date_list[idx].week =='6'}> <!-- 토 -->
							<span style="color: blue;">
								<{$calendar_date_list[idx].day}><{if $calendar_date_list[idx].date == $today}> (today)<{/if}>
							</span>
						<{else}> <!-- 월~금 -->
							<{$calendar_date_list[idx].day}><{if $calendar_date_list[idx].date == $today}> (today)<{/if}>
						<{/if}>
						<a href="#" onclick="add_to_do_list('<{$calendar_date_list[idx].date}>');"><img title="추가하기" style="margin: 0px 0px -5px 0;" src="./images/icon/plus_icon.png"></a>
						<input type="hidden" name="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="td_date" value="<{$calendar_date_list[idx].date}>">
					</form>

            		<{section name=list loop=$to_do_list}>
						<{if $calendar_date_list[idx].date == $to_do_list[list].td_date}>
							<form name="apply_td_frm<{$to_do_list[list].td_no}>" id="apply_td_frm<{$to_do_list[list].td_no}>" class="apply_td_frm" action="to_do_list_calendar.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
								<input type="hidden" name="process">
								<input type="hidden" name="td_no" value="<{$to_do_list[list].td_no}>">
								<input type="hidden" name="search_url" value="<{$search_url}>">

								<div <{if $to_do_list[list].state == '2'}>style="background-color: #dcdcdc;"<{/if}>>
									<select name="f_state" id="f_state" onchange="save_el('<{$to_do_list[list].td_no}>', 'f_state', this)" style="font-size:11px;width:55px;height:20px;<{if $to_do_list[list].state == '1'}>color:red;<{elseif $to_do_list[list].state == '3' || $to_do_list[list].state == '4'}>color:#a9a9a9;<{/if}>">
										<option value=""></option>
										<{foreach from=$to_do_state_option key=key item=to_do_state}>
											<option value="<{$key}>" style="font-size:11px; color: <{$to_do_state.color}>" <{if $to_do_list[list].state == $key}>selected<{/if}>><{$to_do_state.title}></option>
										<{/foreach}>
									</select>

									<!-- 중요한 -->
									<input class="star star-1" name="f_td_important<{$to_do_list[list].td_no}>" id="f_td_important<{$to_do_list[list].td_no}>" onchange="save_el('<{$to_do_list[list].td_no}>', 'f_td_important', this)" style="vertical-align:baseline;" <{if $to_do_list[list].important=='1'}>checked<{/if}> type="checkbox"/>
									<label class="star star-1" id="label_td_important<{$to_do_list[list].td_no}>" style="float: none;font-size:13px;padding:0 0;margin: 0 -2px 0 -2px;" for="f_td_important<{$to_do_list[list].td_no}>"></label>

									<!-- 할일 -->
									<input type="text" name="f_contents" id="f_contents" onchange="save_el('<{$to_do_list[list].td_no}>', 'f_contents', this)" value="<{$to_do_list[list].contents}>" placeholder="::할일을 입력하세요::" style="font-size:11px;width:115px;height:17px;" />
									<a href="#" onclick="del_to_do_list('<{$to_do_list[list].td_no}>');"><img title="삭제하기" style="margin: 0px 0px -5px -2px;" src="./images/icon/del_icon.png"></a>
								</div>
							</form>
						<{/if}>
					<{/section}>
			  	<{else}>
					&nbsp;
			  	<{/if}>

          		<{if !(($smarty.section.idx.index+1) % 7)}>
              		</td>
				</tr>
          		<{elseif $smarty.section.idx.index+1 == $calendar_date_list|@sizeof}>
               		</td>
             	</tr>
          		<{else}>
            	</td>
          		<{/if}>
        	<{/section}>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">

	function cal_month_link(f_date){
		var search_url 	= "<{$search_url}>";
		var result 		= (search_url == "") ? "sch_date="+f_date : search_url.replace(/sch_date=<{$sch_date}>/gi, 'sch_date='+f_date);
		document.location.href="to_do_list_calendar.php?"+result;
	}

	function save_el(td_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		if(proc == 'f_td_important'){
			var divEl = $("#label_td_important"+td_no);
			var x = divEl.position();
		}else{
			var x = $(obj).position();
		}

		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if(proc == 'f_td_important'){
			if(obj.checked)
				val = '1';
			else
				val = '2';
		}

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_state'){ // 진행상태의 경우 style 처리
			if(val == '1'){
				obj.style.color="red";
			}else if(val == '3' || val == '4'){
				obj.style.color="#a9a9a9";
			}else{
				obj.style.color="black";
			}
		}

		if (val != "" || proc == 'f_td_important') { // 공백시 저장 되도록 예외(중요한)
			$.post("to_do_list_calendar.php", {td_no : td_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function add_to_do_list(td_date)
	{
		var f = document.getElementById("apply_td_frm_new_" + td_date);
		f.process.value = 'add_to_do_list';
		f.submit();
	}

	function del_to_do_list(td_no)
	{
		var f = document.getElementById("apply_td_frm" + td_no);
		f.process.value = 'del_to_do_list';

		if (confirm("삭제 하시겠습니까??") == true) {
			f.submit();
		}

		return false;
	}

</script>

</body>
</html>
