<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="max-width: 1200px;">
	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="50px;">
			<col width="120px;">
			<col width="120px;">
			<col width="450px;">
			<col width="220px;">
			<col width="80px;">
			<col width="100px;">
			<col width="60px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="8" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_list item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2" style="height: 50px;">NO</th>
				<th scope="col" rowspan="2">그룹1</th>
				<th scope="col" rowspan="2">그룹2</th>
				<th scope="col" rowspan="2">제목</th>
				<th scope="col" rowspan="2">검색 키워드</th>
				<th scope="col" rowspan="2">담당자</th>
				<th scope="col" rowspan="2">작성일시</th>
				<th scope="col" rowspan="2">HIT</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0 && $guide_list}>
				<{foreach from=$guide_list item=guide}>
				<tr>
					<td class="text-center"><!-- NO -->
						<span style="font-size: 11px;"><{$guide.b_no}></span>
					</td>
					<td class="text-center"><!-- 그룹1 -->
						<{$guide.k_g1_name}>
					</td>
					<td class="text-center"><!-- 그룹2 -->
						<{$guide.k_g2_name}>
					</td>
					<td class="text-left"><!-- 제목 -->
						<a href="javascript:parent.moveDetailUrl('board/board_guide_regist.php?b_no=<{$guide.b_no}>&mode=read<{if !!$search_url}>&<{$search_url}><{/if}>')" style="margin-right: 5px; font-weight: bold; <{if $guide.display == '2'}>color:#999;<{/if}>">
							<{$guide.question}>
						</a>
						<{if $guide.file_count > 0}>
							<{foreach from=$guide.file_path_list key=idx item=file_path}>
								<a type="application/octet-stream" href="./uploads/<{$file_path}>" download="<{$guide.file_name_list[$idx]}>" title="<{$guide.file_name_list[$idx]}>">
									<img src="./images/common/ico/ico_file.gif" alt="<{$guide.file_name_list[$idx]}>" style="margin-top: -3px; margin-right: 3px;">
								</a>
							<{/foreach}>
						<{/if}>

						<{if $guide.read_cnt == 0}>
							<span style="display: inline-block;padding: 3px 10px;background: red;color: white;font-weight: bold;border-radius: 15px;font-size: 11px;line-height: 11px;">NEW</span>
						<{/if}>
					</td>
					<td class="text-left"><!-- 검색 키워드 -->
						<span style="font-size: 10px;"><{$guide.keyword}></span>
					</td>
					<td class="text-center"><!-- 담당자 -->
						<{$guide.manager_name}>
					</td>
					<td class="text-center"><!-- 작성일시 -->
						<span style="color: blue; font-size: 11px;"><{$guide.reg_date}></span><br/>
						<span style="font-size: 11px;"><{$guide.reg_time}></span>
					</td>
					<td class="text-center"><!-- HIT -->
						<span style="font-size: 11px;"><{$guide.hit}></span>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="8" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="8" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<form method="get" name="search_form" action="total_search_guide_list.php" class="form-inline">
		<input type="hidden" name="sch_keyword" value="<{$sch_keyword}>">
		<input type="hidden" name="ord_page_type" id="sch_org_page" value="<{$sch_org_page}>">
	</form>
</div>
<!-- //admin_content -->

<script>
	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#sch_org_page").val(ord_page);

		f.submit();
	}
</script>
</body>
</html>
