<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="max-width: 1200px;">
	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="150px;">
			<col width="450px;">
			<col width="600px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="8" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_list item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2" style="height: 50px;">NO</th>
				<th scope="col" rowspan="2">페이지명</th>
				<th scope="col" rowspan="2">페이지 URL</th>
			</tr>
		</thead>
		<tbody>
			<{if $navigation_list}>
				<{foreach from=$navigation_list item=navigation}>
				<tr>
					<td class="text-center"><!-- NO -->
						<span style="font-size: 11px;"><{$navigation.no}></span>
					</td>
					<td class="text-center"><!-- 그룹1 -->
						<{$navigation.nav_name}>
					</td>
					<td class="text-center"><!-- 그룹2 -->
						<a href="javascript:parent.moveDetailUrl('<{$navigation.nav_url}>')" style="margin-right: 5px; font-weight: bold;">
							<{$navigation.nav_url}>
						</a>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="3" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="3" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<form method="get" name="search_form" action="total_search_nav_list.php" class="form-inline">
		<input type="hidden" name="sch_keyword" value="<{$sch_keyword}>">
		<input type="hidden" name="ord_page_type" id="sch_org_page" value="<{$sch_org_page}>">
	</form>
</div>
<!-- //admin_content -->

<script>
	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#sch_org_page").val(ord_page);

		f.submit();
	}
</script>
</body>
</html>
