<{include file="inc/boot_navibar.html"}>

<div class="admin_content" >
	<form method="get" name="search_form" action="total_search_list.php" class="form-inline" style="overflow: hidden;" autocomplete="off">
		<h2 class="title" style="float: left; width: 240px; font-size: 24px;">● 와플 통합검색</h2>
		<div class="form-group" style="position: relative; float: left;">
			<input type="text" id="sch_keyword" name="sch_keyword" value="<{$sch_keyword}>" class="form-control" style="font-size: 14px; margin-top: 6px; border: 2px solid #3092c0; width: 200px;" />
			<button type="submit" style="position: absolute; right: 10px; top: 14px;"><img src="images/icon/search-black.png"></button>
		</div>
	</form>
	<div class="total-search-wrapper">
		<ul class="total-search-tab-wrapper">
			<li class="total-search-tab active" attr-key="guide">와플 가이드(<{$guide_total}>)</li>
			<li class="total-search-tab" attr-key="work">업무 리스트(<{$work_keyword_total}>)</li>
			<li class="total-search-tab" attr-key="asset">자산 리스트(<{$asset_total}>)</li>
			<li class="total-search-tab" attr-key="nav">페이지(NAVI)(<{$nav_total}>)</li>
		</ul>
		<div style="clear: both; overflow: hidden; margin-top: 30px;">
			<iframe src="total_search_guide_list.php?sch_keyword=<{$sch_keyword}>" width="1250" height="800" frameborder="0" id="total_search_iframe"></iframe>
		</div>
	</div>
	<style type="text/css">
		.total-search-wrapper{overflow: hidden; margin-top: 30px;}
		.total-search-tab-wrapper{overflow: hidden;}
		.total-search-tab{float: left;width: 300px;height: 50px;background: #eee;vertical-align: middle;line-height: 50px;font-size: 18px;text-align: center;font-weight: bold; cursor: pointer;}
		.total-search-tab.active{background: #F2DCDB;}
	</style>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function(){
        $(".total-search-tab").click(function(){
			var type = $(this).attr('attr-key');
            var keyword = $("#sch_keyword").val();

			if(type == 'asset'){
			    location.href="asset_management.php?ord_page_type=10&sch_keyword="+keyword;
			}else{
                var type_url = "total_search_"+type+"_list.php?sch_keyword="+keyword;
                $("#total_search_iframe").attr('src', type_url);
                $(".total-search-tab").removeClass('active');
                $(this).addClass('active');
			}
		});
    });

    function moveDetailUrl(url)
    {
        document.location=url;
    }
</script>
</body>
</html>
