<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="max-width: 1200px;">
	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="60px;">
			<col width="140px;">
			<col width="140px;">
			<col width="140px;">
			<col width="380px;">
			<col width="210px;">
			<col width="110px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="7" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_list item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2" style="height: 50px;">prd_no</th>
				<th scope="col" rowspan="2">그룹1</th>
				<th scope="col" rowspan="2">그룹2</th>
				<th scope="col" rowspan="2">업무명</th>
				<th scope="col" rowspan="2">업무소개</th>
				<th scope="col" rowspan="2">검색어</th>
				<th scope="col" rowspan="2">MY QUICK SET<br/>와이즈 업무<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
			</tr>
		</thead>
		<tbody>
		<tbody>
		<{if $sch_keyword_list_count > 0 }>
			<{section name=list loop=$sch_keyword_list}>
			<tr style="height: 50px">
				<td class="text-center"><{$sch_keyword_list[list].prd_no}></td>
				<td class="text-center"><a href="javascript:parent.moveDetailUrl('<{$sch_keyword_list[list].prd_g1_url}>')"><{$sch_keyword_list[list].prd_g1}></a></td>
				<td class="text-center"><a href="javascript:parent.moveDetailUrl('<{$sch_keyword_list[list].prd_g2_url}>')"><{$sch_keyword_list[list].prd_g2}></a></td>
				<td class="text-center"><a href="javascript:parent.moveDetailUrl('<{$sch_keyword_list[list].prd_url}>')"><{$sch_keyword_list[list].prd_name}></a></td>
				<td style="text-align: left; color: #808080;"><{$sch_keyword_list[list].prd_desc}></td>
				<td style="text-align: left; color: #808080;">
					<div style="white-space: normal; word-break: break-all; padding-left: 5px;">
						<{$sch_keyword_list[list].keyword}>
					</div>
				</td>
				<td class="text-center" style="font-size: 30px;">
					<span class="<{$sch_keyword_list[list].prd_no}>_quick_prd" onclick="proc_quick_prd('<{$sch_keyword_list[list].prd_no}>', this)"
						  attr-mode="<{if $sch_keyword_list[list].quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;">
						<{if $sch_keyword_list[list].quick_prd }>
							<span class="font-red">★</span>
						<{else}>
							☆
						<{/if}>
					</span>
				</td>
			</tr>
			<{/section}>
		<{else}>
			<tr>
				<td colspan="7">검색 결과가 없습니다</td>
			</tr>
		<{/if}>
			<tr>
				<td colspan="7" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<form method="get" name="search_form" action="total_search_work_list.php" class="form-inline">
		<input type="hidden" name="sch_keyword" value="<{$sch_keyword}>">
		<input type="hidden" name="sch_org_page" id="sch_org_page" value="<{$sch_org_page}>">
	</form>
</div>
<!-- //admin_content -->
<script>
	// MY QUICK SET
	function proc_quick_prd(prd_no, obj)
	{
		var x        = $(obj).position();
		var status   = $(obj).attr('attr-mode');
		var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left -180, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
		var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


		if(confirm(conf_msg))
		{
			var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

			$.post("ajax_proc_data.php", {
				process: process,
				quick_prd: prd_no,
				quick_type: "work"
			}, function (data) {
				var result_data = JSON.parse(data);
				if(result_data.result){
					var html = (result_data.status == 'add') ? "<span class='font-red'>★</span>" :  "☆";
					$(obj).attr('attr-mode', result_data.status);
					$(obj).html(html);
					d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
					sort_quick_prd();
					open_quick_prd();
				}
			});
		}
	}

	function sort_quick_prd()
	{
		$.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "work"}, function(result){
		});
	}

    function normal_search()
	{
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#sch_org_page").val(ord_page);

        f.submit();
    }

	function open_quick_prd()
	{
		window.open('popup/quick_prd_set.php','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}
</script>

</body>
</html>
