<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<style type="text/css">
	.dropzone{padding: 5px 10px; min-height: unset; border: 1px solid #ced4da; border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-top: 0; width: 540px; float: left; margin-bottom: 50px;}
	.dropzone .dz-message{margin: 0;font-weight: bold; text-align: left;}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.chat_content{font-size: 12px; padding: 5px; height: 100px;margin: 0;}

	.form-control{font-size: 12px; display: inline-block;}
	#add_personal_chat_frm{width: 900px;}
	#add_personal_chat_frm .form-group{width: 100%; padding: 3px 10px;}
	.talk-type-wrapper{background: #DDD; line-height: 20px;}
	.form-group .type-title{font-size: 12px; font-weight: bold; margin-right: 10px; display: inline-block; width: 60px;}
	.talk-type-wrapper label{cursor: pointer; margin: 0 20px 0 3px;}
	.req-staff-wrapper{margin-top: 10px; background: #DDD; line-height: 20px;}
	.req-staff-wrapper .send_profile{width: 40px;}
	.receiver-staff-wrapper{margin-top: 10px; background: #DDD; line-height: 20px;}
	.chat-write-form{width: 100%; margin-top: 10px;}
	#chatFileDropzone{width: 100%; height: 140px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		● 와플 알림톡 보내기
	</h2>

	<div style="overflow: hidden;">
		<form name="add_personal_chat_frm" id="add_personal_chat_frm" class="form-inline" action="waple_chat_send.php" method="post" enctype="multipart/form-data" onsubmit="return chkWapleSend()">
			<input type="hidden" name="process" value="add_chat">
			<div class="form-group talk-type-wrapper">
				<span class="type-title">알림톡 종류</span>
				<{foreach from=$waple_chat_type_option key=key item=chat_type}>
					<input type="radio" name="chat_type" id="chat_type_<{$key}>" class="form-control chat_type" value="<{$key}>" <{if $key == '3'}>checked<{/if}> required <{if ($key == '1' && !$is_admin)}>disabled<{/if}>>
					<label for="chat_type_<{$key}>"><{$chat_type.title}></label>
				<{/foreach}>
			</div>

			<div class="form-group req-staff-wrapper">
				<span class="type-title">보내는 사람</span>
				<img src="./uploads/<{$send_staff.profile_img}>" class="send_profile">
				<input type="hidden" name="send_staff_no" value="<{$send_staff.s_no}>">
				<input type="text" name="send_staff" class="form-control" value="<{$send_staff.s_name}>" readonly>
			</div>

			<div class="form-group receiver-staff-wrapper">
				<span class="type-title">받는 사람</span>
				<select name="receiver_staff" id="receiver_staff" class="form-control receiver_staff">
					<option value="">:: 선택 ::</option>
					<{foreach from=$staff_name_list key=key item=label}>
						<{if $key != $session_s_no}>
							<option value="<{$key}>"><{$label}></option>
						<{/if}>
					<{/foreach}>
				</select>
			</div>

			<div class="chat-write-form">
				<textarea name="chat_content" class="form-control chat_content" required></textarea>
				<div class="dropzone" id="chatFileDropzone" >
					<div class="dz-message">
						Drop files here or click to upload.
					</div>
				</div>
				<div class="add-file-hidden">
				</div>
				<button type="submit" class="btn btn-dark" style="font-size: 12px;font-weight: bold;float: right;margin: 0;">보내기</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#receiver_staff").combobox();

		$(".chat_type").change(function(){
			if($(this).val() == "1"){
				$(".receiver-staff-wrapper").hide();
			}else{
				$(".receiver-staff-wrapper").show();
			}
		});
	});

	function chkWapleSend()
	{
		var chat_type = $(".chat_type:checked").val();

		if(chat_type != "1")
		{
			if(!$("#receiver_staff").val()){
				alert("받는 사람을 선택해주세요.");
				return false;
			}
		}

		if(!$(".chat_content").val()){
			alert("메세지를 입력해주세요.");
			return false;
		}

		return true;
	}

	if($(".chat_content").length > 0)
	{
		CKEDITOR.replace('chat_content', {
			customConfig: './custom_config.js',
			filebrowserImageUploadUrl: './apps/ckeditor/image_upload.php?path=<{$editor_path}>'
		});
	}

	Dropzone.autoDiscover = false;
	if($("#chatFileDropzone").length > 0)
	{
		var imageExt = ['jpg','jpeg','png','gif'];

		var myDropzone = new Dropzone("div#chatFileDropzone",
		{
			url:"./inc/dropzone_file_upload.php",
			addRemoveLinks: true,
			dictRemoveFile: "삭제",
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 100,
			thumbnailHeight: 100,
			maxFiles: 5,
			maxFilesize: 30,
			dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
			addedfile: function(file) {
				var _this2 = this;

				if (this.element === this.previewsContainer) {
					this.element.classList.add("dz-started");
				}

				if (this.previewsContainer) {
					file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
					file.previewTemplate = file.previewElement; // Backwards compatibility

					this.previewsContainer.appendChild(file.previewElement);
					var _iteratorNormalCompletion3 = true;
					var _didIteratorError3 = false;
					var _iteratorError3 = undefined;

					try {
						for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
							var node = _step3.value;
							node.textContent = file.name;
						}
					} catch (err) {
						_didIteratorError3 = true;
						_iteratorError3 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
								_iterator3["return"]();
							}
						} finally {
							if (_didIteratorError3) {
								throw _iteratorError3;
							}
						}
					}

					var _iteratorNormalCompletion4 = true;
					var _didIteratorError4 = false;
					var _iteratorError4 = undefined;

					try {
						for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
							node = _step4.value;
							node.innerHTML = this.filesize(file.size);
						}
					} catch (err) {
						_didIteratorError4 = true;
						_iteratorError4 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
								_iterator4["return"]();
							}
						} finally {
							if (_didIteratorError4) {
								throw _iteratorError4;
							}
						}
					}

					if (this.options.addRemoveLinks) {
						file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
						file.previewElement.appendChild(file._removeLink);
					}

					var removeFileEvent = function removeFileEvent(e) {
						e.preventDefault();
						e.stopPropagation();

						if (file.status === Dropzone.UPLOADING) {
							return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							if (_this2.options.dictRemoveFileConfirmation) {
								return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
									return _this2.removeFile(file);
								});
							} else {
								return _this2.removeFile(file);
							}
						}
					};

					var _iteratorNormalCompletion5 = true;
					var _didIteratorError5 = false;
					var _iteratorError5 = undefined;

					try {
						for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
							var removeLink = _step5.value;
							removeLink.addEventListener("click", removeFileEvent);
						}
					} catch (err) {
						_didIteratorError5 = true;
						_iteratorError5 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
								_iterator5["return"]();
							}
						} finally {
							if (_didIteratorError5) {
								throw _iteratorError5;
							}
						}
					}
				}
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < files.length; i++) {
						var thumbnailElement = files[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 5개까지 업로드 할 수 있습니다');
			},
			success: function(file, response){
				var result    = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileCount = $('#file_count').val();

				if(fileCount >= 5){
					this.removeFile(file);
					alert('파일은 5개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="chat_file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="chat_file_path" value="'+filePath+'"></div>';
					$(".add-file-hidden").append(html);
				}
			},
			error: function(file, response){
				$(".dz-file-preview").remove();
			}
			}
		);

		myDropzone.on('removedfile', function(file){
			var removeFileName = file.name;
			var fileNameList = $(".chat_file_name");

			if(fileNameList.length > 0){
				$.each(fileNameList, function(idx, fileName){
					if(removeFileName == fileName.value){
						$(fileName).parent('div').remove();
					}
				});
			}
		});
	}
</script>

</body>
</html>
