<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<style type="text/css">
	.chat-category button{padding: 10px 20px; width: 120px; font-weight: bold; margin: 0 5px; background: #DDD; color: black; position: relative; font-size: 11pt;}
	.chat-category button.active_btn{background: #999; color: white;}
	.new-cnt{background: red; color: white; font-size: 12pt; display: inline-block; border-radius: 15px; width: 24px; height: 24px; line-height: 23px; position: absolute; right: -4px; bottom: 23px;}
	.total-chat-detail-wrapper{width: 1000px; height: 600px; overflow-y: scroll; box-sizing: border-box; padding: 10px; margin: 5px; border: 1px solid #ccc;}
	.chat-write-form{width: 1000px;}
	.chat-detail-wrapper{overflow: hidden; clear: both; margin: 15px 0;}
	.chat-profile{float: left; width: 70px;}
	.chat-profile img{overflow: hidden; display: block; width: 60px; height: 60px; border: 1px solid #e6e6e6;}
	.chat-detail{overflow: hidden;}
	.chat-detail .chat-reg-name{font-size: 20px; margin-right: 5px;}
	.chat-detail .chat-reg-title{background: #333; color: white; padding: 3px 10px; font-weight: bold; display: inline-block;}
	.chat-detail .chat-reg-date{font-size: 13px; color:#999;}
	.chat-detail .chat-content{margin-top: 3px; font-size: 18px;}
	.chat-detail .chat-file{margin-top: 3px;}
	.chat-detail .chat-content-link{color: #0a90eb;}
	.chat-new-line{color: #CCCCCC; font-size: 16px;}
	#add_chat_frm #chatFileDropzone{width: 940px;}

	.dropzone{padding: 5px 10px; min-height: unset; border: 1px solid #ced4da; border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-top: 0; width: 540px; float: left; margin-bottom: 50px;}
	.dropzone .dz-message{margin: 0;font-weight: bold; text-align: left;}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 25px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;  background-size: 30px; font-size: 0; margin-top: 3px; width: 30px; height: 30px;display: inline-block;position: absolute;bottom: 5px;left: 65px; z-index: 100; cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}

	.total-chat-personal-wrapper{width: 1000px; height: 600px; box-sizing: border-box; margin: 5px;}
	.chat-personal-list-wrapper{float: left; width: 220px;}
	.chat-personal-list{height: 460px; box-sizing: border-box; margin: 5px; padding: 10px; border: 1px solid #ccc; overflow-y: scroll;}
	.chat-personal-content-wrapper{float: left; width: 760px; height: 700px; box-sizing: border-box; padding: 0; margin: 5px 0 0 10px;}
	.chat-personal-content-wrapper .chat-personal-content{width: 100%; height: 520px; padding: 10px; border: 1px solid #ccc;}
	.chat-personal-content-wrapper .chat-write-form{margin-top: 20px; width: 100%;}
	.chat-personal-content-wrapper .chat-write-form .dropzone{width: 700px; line-height: 23px;}

	.chat-personal-list .chat-person-wrapper{clear: both; height: 42px; margin: 5px 0; border: 1px solid #EEE; position: relative; cursor: pointer;}
	.chat-personal-list .chat-profile{float: left; width: 50px;}
	.chat-personal-list .chat-profile img{width: 40px; height: 40px;}
	.chat-personal-list .chat-content{float: left; font-size: 16px; font-weight: bold; margin-top: 8px; }
	.chat-personal-list .new-cnt{background: red; color: white; font-size: 12pt; display: inline-block; text-align: center; border-radius: 15px; width: 24px; height: 24px; line-height: 23px; position: absolute; right: -7px; top: -7px;}
	.staff-off-profile{background: #999; opacity: 0.8;}
	#add_personal_chat_frm{margin-bottom: 50px; overflow: hidden;}
	.search_personal_name{font-size: 12px; padding: 10px 5px; width: 210px; margin: 0 auto;}
	.staff_team{color: #999; font-size: 14px;}
	.chat-category button.move_chat_send{padding: 5px 10px; width: auto; font-size: 12px; float: right; margin-top: 15px;}
	.chat_content{font-size: 12px; padding: 5px; height: 100px;margin: 0;}
</style>

<div class="admin_content" style="max-width: 1000px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" id="search_form" action="waple_chat.php" autocomplete="off">
		<div class="chat-category">
			<input type="hidden" name="sch_chat_type" value="<{$sch_chat_type}>">
			<input type="hidden" name="cur_wc_no" class="cur_wc_no" value="<{$cur_wc_no}>">
			<{foreach from=$waple_chat_title_list key=key item=chat_title}>
			<button type="button" onclick="chat_search('<{$key}>');" class="btn_small chat_search_btn <{if $sch_chat_type == $key}>active_btn<{/if}>">
				<{$chat_title.title}>
				<{if $chat_title.new_cnt > 0}>
					<span class="new-cnt"><{$chat_title.new_cnt}></span>
				<{/if}>
			</button>
			<{/foreach}>
			<button type="button" class="btn_small chat_search_btn move_chat_send" onclick="location.href='waple_chat_send.php';" >와플 알림톡 보내기</button>
		</div>
	</form>
	<{if $sch_chat_type != '3'}>
		<div class="total-chat-detail-wrapper">
			<{if $waple_chat_list}>
				<{foreach from=$waple_chat_list item=waple_chat}>
				<{if $waple_chat.is_new}>
					<div class="chat-new-line">======================= NEW =======================</div>
				<{/if}>
				<div class="chat-detail-wrapper">
					<div class="chat-profile">
						<img src="<{$waple_chat.profile}>"/>
					</div>
					<div class="chat-detail">
						<b class="chat-reg-name"><{$waple_chat.s_name}></b>
						<span class="chat-reg-date"><{$waple_chat.regdate}></span><br/>
						<span class="chat-reg-title"><{$waple_chat.title}></span>
						<div class="chat-content">
							<{$waple_chat.content}>
						</div>
						<div class="chat-file">
							<{if $waple_chat.file_list}>
								<{foreach from=$waple_chat.file_list item=file_data}>
								<a href="uploads/<{$file_data.path}>" title="<{$file_data.name}>" download="<{$file_data.name}>">
									<img src="./images/common/ico/ico_file.gif" alt="<{$file_data.name}>" style="margin-top: -3px; margin-right: 3px;">
									<{$file_data.name}>
								</a>&nbsp;
								<{/foreach}>
							<{/if}>
						</div>
					</div>
				</div>
				<{/foreach}>
			<{else}>
				<div class="text-center">알림이 없습니다</div>
			<{/if}>
		</div>
		<{if $sch_chat_type == 1 && $session_team == '00211'}>
			<div class="chat-write-form">
				<form name="add_chat_frm" id="add_chat_frm" action="waple_chat.php" method="post" enctype="multipart/form-data" >
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="process" value="add_chat">
					<input type="hidden" name="wc_no" value="<{$sch_chat_type}>">
					<div>
						<b style="color: #999; font-size: 14px;"><{$session_s_team_name}></b>
					</div>
					<textarea name="chat_content" class="form-control chat_content"  required></textarea>
					<div class="dropzone" id="chatFileDropzone" >
						<div class="dz-message">
							Drop files here or click to upload.
						</div>
					</div>
					<div class="add-file-hidden">
					</div>
					<button type="submit" class="btn btn-dark" style="font-size: 12px;font-weight: bold;float: right;margin: 0;">보내기</button>
				</form>
			</div>
		<{/if}>
	<{else}>
		<div class="total-chat-personal-wrapper">
			<div class="chat-personal-list-wrapper">
				<div class="chat-personal-list">
					<{if $waple_chat_personal_list}>
						<{foreach from=$waple_chat_personal_sort_list key=wc_no item=sort_data}>
							<{assign var=chat_personal value=$waple_chat_personal_list[$wc_no]}>
							<div class="chat-person-wrapper <{if $chat_personal.display == '3'}>staff-off-profile<{/if}>" attr-no="<{$wc_no}>" attr-name="<{$chat_personal.partner_name}>">
								<div class="chat-profile">
									<img src="<{$chat_personal.profile}>"/>
								</div>
								<div class="chat-content">
									<{$chat_personal.partner_name}>
									<{if $chat_personal.new_cnt > 0}>
									<span class="new-cnt"><{$chat_personal.new_cnt}></span>
									<{/if}>
								</div>
							</div>
						<{/foreach}>
					<{/if}>
					</div>
				<div class="chat-personal-search">
					<input type="text" name="search_personal_name" class="form-control search_personal_name">
				</div>
			</div>
			<div class="chat-personal-content-wrapper">
				<div class="chat-personal-content">

				</div>
				<div class="chat-write-form">
					<form name="add_personal_chat_frm" id="add_personal_chat_frm" action="waple_chat.php" method="post" enctype="multipart/form-data" onsubmit="return checkPersonalMessage()">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="process" value="add_person_chat">
						<input type="hidden" name="wc_no" value="">
						<div>
							<b class="staff_team"><{$session_s_team_name}></b>
						</div>
						<textarea name="chat_content" class="form-control chat_content" required></textarea>
						<div class="dropzone" id="chatFileDropzone" >
							<div class="dz-message">
								Drop files here or click to upload.
							</div>
						</div>
						<div class="add-file-hidden">
						</div>
						<button type="submit" class="btn btn-dark" style="font-size: 12px;font-weight: bold;float: right;margin: 0;">보내기</button>
					</form>
				</div>
			</div>
		</div>
	<{/if}>

</div>

<script type="text/javascript">
	$(window).load(function(){
		var chatUi = document.querySelector(".total-chat-detail-wrapper");
		if(chatUi){
			chatUi.scrollTop = chatUi.scrollHeight;
		}

		if(!!document.search_form.cur_wc_no.value){
			var cur_wc_no = document.search_form.cur_wc_no.value;
			document.add_personal_chat_frm.wc_no.value=cur_wc_no;
			openChatContentIframe(cur_wc_no);
		}

		$(".chat-person-wrapper").click(function(){
			var wc_no = $(this).attr("attr-no");
			document.add_personal_chat_frm.wc_no.value=wc_no;
			document.search_form.cur_wc_no.value=wc_no;

			openChatContentIframe(wc_no);
		});

		$(".search_personal_name").keyup(function(){
			var keyword = $(this).val();
			var matcher = new RegExp( $.ui.autocomplete.escapeRegex(keyword), "i");

			if(keyword)
			{
				$.each($(".chat-person-wrapper"), function(){
					var partner_name = $(this).attr("attr-name");
					if(matcher.test(partner_name)){
						$(this).show();
					}else{
						$(this).hide();
					}
				});
			}
			else{
				$(".chat-person-wrapper").show();
			}
		});
	});

	function chat_search(brand)
	{
		document.search_form.sch_chat_type.value=brand;
		document.search_form.cur_wc_no.value='';
		document.search_form.submit();
	}

	function openChatContentIframe(wc_no)
	{
		var iframe = "<iframe src='waple_chat_content_iframe.php?wc_no="+wc_no+"' width='740' height='500' frameborder='0' id='waple_chat_content_iframe'></iframe>";

		$(".chat-personal-content").html(iframe);
	}

	function checkPersonalMessage()
	{
		if(!document.add_personal_chat_frm.wc_no.value){
			alert('채팅 선택 후 이용해주세요.');
			return false;
		}

		return true;
	}

	if($(".chat_content").length > 0)
	{
		CKEDITOR.replace('chat_content', {
			customConfig: './custom_config.js',
			filebrowserImageUploadUrl: './apps/ckeditor/image_upload.php?path=<{$editor_path}>'
		});
	}

	Dropzone.autoDiscover = false;
	if($("#chatFileDropzone").length > 0)
	{
		var imageExt = ['jpg','jpeg','png','gif'];

		var myDropzone = new Dropzone("div#chatFileDropzone",
		{
			url:"./inc/dropzone_file_upload.php",
			addRemoveLinks: true,
			dictRemoveFile: "삭제",
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 100,
			thumbnailHeight: 100,
			maxFiles: 5,
			maxFilesize: 30,
			dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
			addedfile: function(file) {
				var _this2 = this;

				if (this.element === this.previewsContainer) {
					this.element.classList.add("dz-started");
				}

				if (this.previewsContainer) {
					file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
					file.previewTemplate = file.previewElement; // Backwards compatibility

					this.previewsContainer.appendChild(file.previewElement);
					var _iteratorNormalCompletion3 = true;
					var _didIteratorError3 = false;
					var _iteratorError3 = undefined;

					try {
						for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
							var node = _step3.value;
							node.textContent = file.name;
						}
					} catch (err) {
						_didIteratorError3 = true;
						_iteratorError3 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
								_iterator3["return"]();
							}
						} finally {
							if (_didIteratorError3) {
								throw _iteratorError3;
							}
						}
					}

					var _iteratorNormalCompletion4 = true;
					var _didIteratorError4 = false;
					var _iteratorError4 = undefined;

					try {
						for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
							node = _step4.value;
							node.innerHTML = this.filesize(file.size);
						}
					} catch (err) {
						_didIteratorError4 = true;
						_iteratorError4 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
								_iterator4["return"]();
							}
						} finally {
							if (_didIteratorError4) {
								throw _iteratorError4;
							}
						}
					}

					if (this.options.addRemoveLinks) {
						file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
						file.previewElement.appendChild(file._removeLink);
					}

					var removeFileEvent = function removeFileEvent(e) {
						e.preventDefault();
						e.stopPropagation();

						if (file.status === Dropzone.UPLOADING) {
							return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							if (_this2.options.dictRemoveFileConfirmation) {
								return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
									return _this2.removeFile(file);
								});
							} else {
								return _this2.removeFile(file);
							}
						}
					};

					var _iteratorNormalCompletion5 = true;
					var _didIteratorError5 = false;
					var _iteratorError5 = undefined;

					try {
						for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
							var removeLink = _step5.value;
							removeLink.addEventListener("click", removeFileEvent);
						}
					} catch (err) {
						_didIteratorError5 = true;
						_iteratorError5 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
								_iterator5["return"]();
							}
						} finally {
							if (_didIteratorError5) {
								throw _iteratorError5;
							}
						}
					}
				}
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < files.length; i++) {
						var thumbnailElement = files[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 5개까지 업로드 할 수 있습니다');
			},
			success: function(file, response){
				var result    = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileCount = $('#file_count').val();

				if(fileCount >= 5){
					this.removeFile(file);
					alert('파일은 5개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="chat_file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="chat_file_path" value="'+filePath+'"></div>';
					$(".add-file-hidden").append(html);
				}
			},
			error: function(file, response){
				$(".dz-file-preview").remove();
			}
			}
		);

		myDropzone.on('removedfile', function(file){
			var removeFileName = file.name;
			var fileNameList = $(".chat_file_name");

			if(fileNameList.length > 0){
				$.each(fileNameList, function(idx, fileName){
					if(removeFileName == fileName.value){
						$(fileName).parent('div').remove();
					}
				});
			}
		});
	}
</script>

</body>
</html>
