<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 675px; min-width: 675px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.chat-detail-wrapper{overflow: hidden; clear: both; margin: 15px 0;}
	.chat-profile{float: left; width: 60px;}
	.chat-profile img{overflow: hidden; display: block; width: 60px; height: 60px; border: 1px solid #e6e6e6;}
	.chat-detail{overflow: hidden; padding-left: 10px;}
	.chat-self-detail{overflow: hidden; text-align: right;}
	.chat-self-detail .chat-content{text-align: right;width: 500px;float: right;}
	.chat-reg-name{font-size: 14px; margin-right: 5px;}
	.chat-reg-time{font-size: 12px; color:#999;}
	.chat-content{float: left; width: 500px; margin-top: 3px; font-size: 12px;}
	.chat-file{margin-top: 3px; clear: both;}
	.chat-content-link{color: #0a90eb;}
	.chat-new-line{color: #CCCCCC; font-size: 16px;}
	.total-chat-detail-wrapper{padding: 10px;}
</style>

<div class="admin_content">
	<div class="total-chat-detail-wrapper">
		<{if $waple_chat_list}>
			<{foreach from=$waple_chat_list item=waple_chat}>
				<{if $waple_chat.is_new}>
					<div class="chat-new-line">======================= NEW =======================</div>
				<{/if}>
				<div class="chat-detail-wrapper">
				<{if $waple_chat.s_no == $session_s_no}>
					<div class="chat-self-detail">
						<b class="chat-reg-name"><{$waple_chat.s_name}></b>
						<span class="chat-reg-time"><{$waple_chat.regdate}></span><br/>
						<div class="chat-content">
							<{$waple_chat.content}>
						</div>
						<div class="chat-file">
							<{if $waple_chat.file_list}>
							<{foreach from=$waple_chat.file_list item=file_data}>
							<a href="uploads/<{$file_data.path}>" title="<{$file_data.name}>" download="<{$file_data.name}>">
								<img src="./images/common/ico/ico_file.gif" alt="<{$file_data.name}>" style="margin-top: -3px; margin-right: 3px;">
								<{$file_data.name}>
							</a>&nbsp;
							<{/foreach}>
							<{/if}>
						</div>
					</div>
				<{else}>
					<div class="chat-profile">
						<img src="<{$waple_chat.profile}>"/>
					</div>
					<div class="chat-detail">
						<b class="chat-reg-name"><{$waple_chat.s_name}></b>
						<span class="chat-reg-time"><{$waple_chat.regdate}></span><br/>
						<div class="chat-content">
							<{$waple_chat.content}>
						</div>
						<div class="chat-file">
							<{if $waple_chat.file_list}>
							<{foreach from=$waple_chat.file_list item=file_data}>
							<a href="uploads/<{$file_data.path}>" title="<{$file_data.name}>" download="<{$file_data.name}>">
								<img src="./images/common/ico/ico_file.gif" alt="<{$file_data.name}>" style="margin-top: -3px; margin-right: 3px;">
								<{$file_data.name}>
							</a>&nbsp;
							<{/foreach}>
							<{/if}>
						</div>
					</div>
				<{/if}>
				</div>
			<{/foreach}>
		<{/if}>
	</div>
</div>

<script type="text/javascript">
	$(window).load(function(){
		var chatUi = document.querySelector(".total-chat-detail-wrapper");
		if(chatUi){
			chatUi.scrollTop = chatUi.scrollHeight;
		}
	});

</script>
</body>
</html>
