<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	#search_form label{margin-right: 10px;}
	.form-control{font-size: 12px; display: inline-block; width: 99%; margin-right: 15px;}
	#apply_frm_new label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center;}
	.table-bordered thead td, .table-bordered thead th{border-bottom-width: 1px;}
	.upload-set-wrapper{display: none;}
	.settle_sample{display: none;}
	.report_sample{display: none;}
	.stock_sample{display: none;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">파일 내 DATA를 DB로 업로드 하고 세부내역은 업로드한 파일을 저장하여 보관합니다.<br/>잘못 올릴 경우 DB도 수정해야 하므로 개발 담당자에게 별도 문의 바랍니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="waple_upload_management.php" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_file_no">File no</label>
				<input type="text" name="sch_file_no" id="sch_file_no" class="form-control" style="width: 80px;" value="<{$sch_file_no}>" />

				<label for="sch_upload_type">업로드 구분</label>
				<select name="sch_upload_type" id="sch_upload_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$excel_upload_type_option key=key item=excel_upload_type}>
					<option value="<{$key}>" <{if $sch_upload_type == $key}>selected<{/if}>><{$excel_upload_type.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_reg_name">작성자</label>
				<input type="text" name="sch_reg_name" id="sch_reg_name" class="form-control" style="width: 80px;" value="<{$sch_reg_name}>" />

				<label for="sch_notice">비고</label>
				<input type="text" name="sch_notice" id="sch_notice" class="form-control" style="width: 140px;" value="<{$sch_notice}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div>
		<form name="apply_frm_new" id="apply_frm_new" class="list_form" method="post" enctype="multipart/form-data" action="" onsubmit="return addFileUpload(this)" autocomplete="off" style="margin-top: 30px;">
			<input type="hidden" name="process" value="add_advertising">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<table class="table table-bordered" cellpadding="0" cellspacing="0" style="width: auto;">
				<thead class="thead-dark text-center">
				<tr>
					<th class="first" style="min-width:60px; width:60px; height: 30px;">file_no</th>
					<th style="min-width: 100px; width: 100px;">작성일시</th>
					<th style="min-width: 100px; width: 100px;">작성자</th>
					<th style="min-width: 380px; width: 380px;">업로드 구분<br>업로드 설명</th>
					<th style="min-width: 200px; width: 200px;">업로드 페이지</th>
					<th style="min-width: 600px; width: 600px;">업로드 설정 및 파일</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="first"></td> <!-- No -->
					<td></td> <!-- 작성일시 -->
					<td> <!-- 작성자 -->
						<{$session_name}>
					</td>
					<td> <!-- 업로드 구분 <br> 업로드 설명-->
						<select name="new_excel_type" id="new_excel_type" class="form-control" style="padding: 3px;" required>
							<option value="">::선택::</option>
							<{foreach from=$excel_upload_type_option key=key item=excel_upload_type}>
							<option value="<{$key}>"><{$excel_upload_type.title}></option>
							<{/foreach}>
						</select><br/>
						<textarea name="new_excel_explain" id="new_excel_explain" class="form-control" style="width: 99%;height:80px;" readonly></textarea>
					</td>
					<td class="text-left"> <!-- 업로드 페이지 -->
						<span id="new_excel_title"></span><br/>
						<span id="new_excel_page"></span>
					</td>
					<td class="text-left"> <!-- 업로드 설정 및 파일 -->
						<div class="upload-set-wrapper upload-set-1">
							<label>기준일</label>
							<input type="text" name="stock_date" id="stock_date" class="form-control date-picker" value="<{$cur_date}>">
							<label>물류창고 업체명</label>
							<select name="stock_warehouse" id="stock_warehouse" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<option value="2809">위드플레이스</option>
								<option value="5711">아마존_닥터피엘(미국)</option>
								<option value="5795">아마존_아이레놀(일본)</option>
								<option value="5885">아마존_아이레놀(미국)</option>
							</select>
							<a href="/v1/uploads/document/stock/amazon_sample.xls" id="stock_sample_5711" class="stock_sample" download="amazon_sample.csv">[sample download]</a>
							<a href="/v1/uploads/document/stock/amazon_sample.xls" id="stock_sample_5795" class="stock_sample" download="amazon_sample.csv">[sample download]</a>
							<input type="file" name="stock_file" id="stock_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-2">
							<label>물류창고 업체명</label>
							<select name="report_warehouse" id="report_warehouse" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<option value="2809">위드플레이스</option>
								<option value="1113">와이즈미디어커머스</option>
								<option value="5711">아마존_닥터피엘(미국)</option>
								<option value="5795">아마존_아이레놀(일본)</option>
								<option value="5885">아마존_아이레놀(미국)</option>
							</select>
							<a href="/v1/uploads/document/stock/report_sample.xls" id="report_sample_2809" class="report_sample" download="입고_반출 sample">[sample download]</a>
							<a href="/v1/uploads/document/stock/report_in_sample.xlsx" id="report_sample_1113" class="report_sample" download="입고_반출 사내창고 sample">[sample download]</a>
							<a href="/v1/uploads/document/stock/report_amazon_sample.csv" id="report_sample_5711" class="report_sample" download="입고_반출 아마존_닥터피엘(미국) sample.csv">[sample download]</a>
							<a href="/v1/uploads/document/stock/report_amazon_sample.csv" id="report_sample_5795" class="report_sample" download="입고_반출 아마존_아이레놀(일본) sample.csv">[sample download]</a>
							<input type="file" name="report_file" id="report_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-3">
							<label>정산월</label>
							<input type="text" name="settle_month" id="settle_month" class="month-picker form-control" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; width: 80px; padding: 3px;" />
							<label>엑셀양식</label>
							<select name="settle_type" id="settle_type" class="form-control" style="font-size: 12px; width: 150px; display: inline-block; margin: 0 10px; padding: 3px;">
								<option value="">::선택::</option>
								<{foreach from=$settle_type_option key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<label>판매처</label>
							<select name="settle_dp_c_no" id="settle_dp_c_no" class="form-control" style="font-size: 12px; width: 130px; display: inline-block; margin: 0 10px; padding:3px;">
								<option value="">::선택::</option>
								<{foreach from=$settle_company_option key=key item=label}>
									<{if $key != '21'}>
										<option value="<{$key}>"><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select>
							<input type="file" name="settle_file" id="settle_file" class="form-control" style="padding: 3px; margin-top: 5px;">
							<a href="/v1/uploads/document/settlement/settle_sample_22.xlsx" id="settle_sample_22" class="settle_sample" download="스마트스토어_혜택정산 sample">[sample download]</a>
						</div>
						<div class="upload-set-wrapper upload-set-4">
							<label>정산월</label>
							<input type="text" name="amazon_settle_month" id="amazon_settle_month" class="month-picker form-control" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; width: 80px; padding: 3px;" />
							<label>엑셀양식</label>
							<select name="amazon_settle_type" id="amazon_settle_type" class="form-control" style="font-size: 12px; width: 150px; display: inline-block; margin: 0 10px; padding: 3px;">
								<option value="21">아마존_닥터피엘(미국)</option>
								<option value="25">아마존_아이레놀(일본)</option>
								<option value="27">아마존_아이레놀(미국)</option>
							</select>
							<div class="settle_price_wrapper" style="margin-top: 5px;">
								<label>정산금액(현지화)</label>
								<input type="text" name="settle_org_price" id="settle_org_price" class="form-control" style="width: 100px;">
								<label>입금액(원화)</label>
								<input type="text" name="settle_total_price" id="settle_total_price" class="form-control" style="width: 100px;">
							</div>
							<input type="file" name="amazon_settle_file" id="amazon_settle_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-5">
							<label>업무완료일</label>
							<input type="text" name="log_work_date" id="log_work_date" class="date-picker form-control" value="<{$cur_date}>" style="display: inline-block; margin: 0 10px; width: 80px; padding: 3px;" /><br/>
							<input type="file" name="log_work_file" id="log_work_file" class="form-control" style="padding: 3px; margin-top: 5px;">
							<a href="/v1/uploads/document/excel/waple_work_sample.xlsx" download="와플 업로드 양식_업무 리스트(물류비 정산_통합).xlsx">[sample download]</a>
						</div>
						<div class="upload-set-wrapper upload-set-6">
							<label>업로드 타입</label>
							<select name="fassto_kind" id="fassto_kind" class="form-control" style="font-size: 12px; width: 150px; display: inline-block; margin: 0 10px; padding: 3px;">
								<option value="1">주문</option>
								<option value="2">교환</option>
								<option value="3">반품</option>>
							</select>
							<input type="file" name="fassto_file" id="fassto_file" class="form-control" style="padding: 3px; margin-top: 5px;">
							<a href="./uploads/document/media_commerce/fassco_sample.xlsx" style="font-weight: bold; display: inline-block; margin-left: 5px;" download>[sample download]</a>
						</div>
						<div class="upload-set-wrapper upload-set-7">
							<label>업로드 타입</label>
							<select name="start_log_company" id="start_log_company" class="form-control" style="font-size: 12px; width: 150px; display: inline-block; margin: 0 10px; padding: 3px;">
								<option value="5659">스타트투데이_아이레놀</option>
								<option value="5956">스타트투데이_닥터피엘</option>
							</select>
							<input type="file" name="start_file" id="start_file" class="form-control" style="padding: 3px; margin-top: 5px;">
							<a href="./uploads/document/media_commerce/start_sample.xlsx" style="font-weight: bold; display: inline-block; margin-left: 5px;" download>[sample download]</a>
						</div>
						<div class="upload-set-wrapper upload-set-8">
							<input type="file" name="coupon_file" id="coupon_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-9">
							<label>정산월</label>
							<input type="text" name="log_settle_month" id="log_settle_month" class="month-picker form-control" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; width: 80px; padding: 3px;" />
							<a href="/v1/uploads/document/settlement/waple_settle_sample.xlsx" download="와플 업로드 양식_정산 리스트(물류비 정산_통합).xlsx">[sample download]</a>
							<input type="file" name="log_settle_file" id="log_settle_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>

						<div class="upload-set-wrapper upload-set-10">
							<label>엑셀양식</label>
							<select name="return_file_type" id="return_file_type" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<{foreach from=$return_file_type_option key=key item=label}>
									<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
							<a href="/v1/uploads/document/return/sample.zip" download="sample.zip">[sample download]</a>
							<input type="file" name="return_file" id="return_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-11">
							<label>정산월</label>
							<input type="text" name="report_month" id="report_month" class="month-picker form-control" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; width: 80px; padding: 3px;" />
							<label>물류창고 업체명</label>
							<select name="month_report_warehouse" id="month_report_warehouse" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<option value="2809">위드플레이스</option>
								<option value="1113">와이즈미디어커머스</option>
								<option value="5711">아마존_닥터피엘(미국)</option>
								<option value="5484">파스토</option>
								<option value="5659">스타트투데이_아이레놀</option>
								<option value="5956">스타트투데이_닥터피엘</option>
								<option value="5777">씨엔제이커머스</option>
							</select>
							<a href="/v1/uploads/document/stock/month_report_sample.xls" id="month_report_report_sample_2809" class="month_report_sample" download="기간별 수불현황 sample">[sample download]</a>
							<a href="/v1/uploads/document/stock/month_report_fasto_sample.xlsx" id="month_report_report_sample_5484" class="month_report_sample" download="기간별 수불현황 파스토 sample" style="display: none;">[sample download]</a>
							<a href="/v1/uploads/document/stock/month_report_start_sample.xlsx" id="month_report_report_sample_5659" class="month_report_sample" download="기간별 수불현황 스타트투데이 sample" style="display: none;">[sample download]</a>
							<a href="/v1/uploads/document/stock/month_report_start_sample.xlsx" id="month_report_report_sample_5956" class="month_report_sample" download="기간별 수불현황 스타트투데이 sample" style="display: none;">[sample download]</a>
							<a href="/v1/uploads/document/stock/month_report_sample_5777.xlsx" id="month_report_report_sample_5777" class="month_report_sample" download="기간별 수불현황 씨앤제이커머스 sample" style="display: none;">[sample download]</a>
							<input type="file" name="month_report_file" id="month_report_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-12">
							<label>물류창고 업체명</label>
							<select name="transfer_warehouse" id="transfer_warehouse" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<option value="2809">위드플레이스</option>
							</select>
							<a href="/v1/uploads/document/stock/transfer_sample.xls" id="transfer_sample_2809" class="transfer_sample" download="with_transfer_sample.xls">[sample download]</a>
							<input type="file" name="transfer_file" id="transfer_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
						<div class="upload-set-wrapper upload-set-13">
							<label>물류업체명</label>
							<select name="direct_warehouse" id="direct_warehouse" class="form-control" style="width: 160px;">
								<option value="">::선택::</option>
								<option value="2809">위드플레이스</option>
							</select>
							<a href="/v1/uploads/document/media_commerce/direct_sample.xlsx" id="direct_sample_2809" class="transfer_sample" download="직택배 sample.xlsx">[sample download]</a>
							<input type="file" name="direct_file" id="direct_file" class="form-control" style="padding: 3px; margin-top: 5px;">
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<button type="submit" style="width: 100%; padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px; height:40px;" class="btn_big_memo">파일 업로드 하기</button>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>

	<table class="table table-bordered" style="table-layout: fixed; margin-top: 10px; width: auto;">
		<colgroup>
			<col width="60px;"> <!-- file no -->
			<col width="100px;"> <!-- 작성일시 -->
			<col width="100px;"> <!-- 작성자 -->
			<col width="160px;"> <!-- 업로드 구분 -->
			<col width="200px;"> <!-- 업로드 설명 -->
			<col width="200px;"> <!-- 업로드 페이지 -->
			<col width="180px;"> <!-- 업로드 설정 -->
			<col width="300px;"> <!-- 업로드 파일 -->
			<col width="140px;"> <!-- 데이터 적용 보기 -->
			<col width="200px;"> <!-- 비고 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="10" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" class="first">File no</th>
				<th scope="col">작성일시</th>
				<th scope="col">작성자</th>
				<th scope="col">업로드 구분</th>
				<th scope="col">업로드 설명</th>
				<th scope="col">업로드 페이지</th>
				<th scope="col">업로드 설정</th>
				<th scope="col">업로드 파일</th>
				<th scope="col">데이터 적용보기</th>
				<th scope="col">비고</th>
			</tr>
		</thead>
		<tbody>
			<{if $waple_upload_list}>
				<{foreach from=$waple_upload_list item=waple_upload}>
				<tr>
					<td class="first text-center"> <!-- File no -->
						<{$waple_upload.file_no}>
					</td>
					<td class="text-center"> <!-- 작성일시 -->
						<span style="color: blue;"><{$waple_upload.reg_day}></span>
						<span style="color: green;"><{$waple_upload.reg_time}></span>
						<{if $waple_upload.is_empty}>
						<br/><span style="color: red; font-weight: bold;">업로드 오류</span>
						<{/if}>
						<{if $waple_upload.reg_s_no == $session_s_no}>
							<{if $waple_upload.is_empty}>
								<button type="button" class="btn btn-dark" style="background: red; border-color: red; font-size: 12px; padding: 3px 10px; font-weight: bold;" onclick="delEmptyData('<{$waple_upload.file_no}>');">오류건 삭제</button>
							<{elseif $waple_upload.upload_type == '3' || $waple_upload.upload_type == '4'}>
								<br/>
								<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px; font-weight: bold;" onclick="delSettleData('<{$waple_upload.file_no}>');">삭제</button>
							<{/if}>
						<{/if}>
					</td>
					<td class="text-center"> <!-- 작성자 -->
						<{$waple_upload.reg_s_name}>
					</td>
					<td class="text-center"> <!-- 업로드 구분 -->
						<{$waple_upload.upload_type_name}>
					</td>
					<td class="text-center"> <!-- 업로드 설명 -->
						<textarea name="f_upload_explain" class="form-control" readonly><{$waple_upload.upload_explain}></textarea>
					</td>
					<td class="text-left"> <!-- 업로드 페이지 -->
						<{$waple_upload.upload_page_name}><br/>
						<span style="color: lightslategray"><{$waple_upload.upload_page_url}></span>
					</td>
					<td class="text-left"> <!-- 업로드 설정 -->
						<{$waple_upload.upload_set}>
					</td>
					<td class="text-left"> <!-- 업로드 파일 -->
						<a href="uploads/<{$waple_upload.file_path}>" download="<{$waple_upload.file_name}>">
							<img src="./images/common/ico/ico_file.gif">
							<{$waple_upload.file_name}> <span style="color: lightslategray">(<{$waple_upload.file_size}>)</span>
						</a>
					</td>
					<td class="text-center"> <!-- 데이터 적용보기 -->
						<a href="<{$waple_upload.upload_page_url}>?<{$waple_upload.upload_search_url}>&sch_file_no=<{$waple_upload.file_no}>" target="_blank">[업로드 데이터 보기]</a>
					</td>
					<td class="text-left"> <!-- 비고 -->
						<textarea name="f_notice" class="form-control" style="font-size: 12px; padding: 3px; width: 99%;" onchange="save_el('<{$waple_upload.file_no}>','f_notice', this)"><{$waple_upload.notice}></textarea>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="10">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="10" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
	</table>
</div>

<form action="waple_upload_management.php" name="mod_upload_frm" id="mod_upload_frm" method="post">
	<input type="hidden" name="process" value="">
	<input type="hidden" name="chk_file_no" value="">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		var excelTypeList 	= <{$json_excel_upload_type_option}>;

		$("#new_excel_type").change(function(){
			$(".upload-set-wrapper").hide();
			var excel_type = $(this).val();

			if(excel_type) {
				var cur_excel_type 	= excelTypeList[excel_type];

				$("#new_excel_explain").val(cur_excel_type['explain']);
				$("#new_excel_title").html(cur_excel_type['page_title']);
				$("#new_excel_page").html(cur_excel_type['page']);
				$(".upload-set-"+excel_type).show();
				document.apply_frm_new.action = cur_excel_type['action'];
			}
			else{
				$("#new_excel_explain").val('');
				$("#new_excel_title").html('');
				$("#new_excel_page").html('');
				document.apply_frm_new.action = '';
			}
		});

		$("#settle_type").change(function(){
			var dp_c_no = $(this).val();

			if(dp_c_no == '22') {
				$(".settle_sample").hide();
				$("#settle_sample_" + dp_c_no).show();
			}else{
				$(".settle_sample").hide();
			}
		});

		$("#stock_warehouse").change(function(){
			var stock_warehouse = $(this).val();

			if(stock_warehouse == '2809'){
				$(".stock_sample").hide();
			}else{
				$(".stock_sample").hide();
				$("#stock_sample_"+stock_warehouse).show();
			}
		});

		$("#report_warehouse").change(function(){
			var report_warehouse = $(this).val();

			if(report_warehouse){
				$(".report_sample").hide();
				$("#report_sample_"+report_warehouse).show();
			}else{
				$(".report_sample").hide();
			}
		});

		$("#month_report_warehouse").change(function(){
			var month_report_warehouse = $(this).val();

			if(month_report_warehouse == "5484"){
				$(".month_report_sample").hide();
				$("#month_report_report_sample_5484").show();
			}else if(month_report_warehouse == "5659"){
				$(".month_report_sample").hide();
				$("#month_report_report_sample_5659").show();
			}else if(month_report_warehouse == "5956"){
				$(".month_report_sample").hide();
				$("#month_report_report_sample_5956").show();
			}else if(month_report_warehouse == "5777"){
				$(".month_report_sample").hide();
				$("#month_report_report_sample_5777").show();
			}else{
				$(".month_report_sample").hide();
				$("#month_report_report_sample_2809").show();
			}
		});
	});


	function addFileUpload(obj)
	{
		if(!$('#new_excel_type').val()){
			alert("업로드 구분을 선택해 주세요");
			return;
		}

		var excel_type  = $('#new_excel_type').val();
		var type_name   = $("#new_excel_type option:selected").text();
		var msg   		= $("#new_excel_type option:selected").text();
		var result		= false;

		if(excel_type == '1')
		{
			if(!$('#stock_date').val()){
				alert("기준일을 선택해주세요");
				return false;
			}

			if(!$('#stock_warehouse').val()){
				alert("물류창고를 선택해주세요");
				return false;
			}

			if(!$('#stock_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 재고현황에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '2')
		{
			if(!$('#report_warehouse').val()){
				alert("물류창고를 선택해주세요");
				return false;
			}

			if(!$('#report_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 입고/반출 리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '3')
		{
			if(!$('#settle_month').val()){
				alert("정산월을 선택해주세요");
				return false;
			}

			if(!$('#settle_type').val()){
				alert("엑셀양식을 선택해주세요");
				return false;
			}

			if(!$('#settle_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 정산리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '4')
		{
			if(!$('#amazon_settle_month').val()){
				alert("정산월을 선택해주세요");
				return false;
			}

			if(!$('#amazon_settle_type').val()){
				alert("엑셀양식을 선택해주세요");
				return false;
			}

			if(!$('#amazon_settle_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			if(!$('#settle_org_price').val()){
				alert("정산금액(현지화)를 입해주세요");
				return false;
			}

			if(!$('#settle_total_price').val()){
				alert("입금액(원화)를 입력해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 정산리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '5')
		{

			if(!$('#log_work_date').val()){
				alert("업무완료일을 선택해주세요");
				return false;
			}

			if(!$('#log_work_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 업무리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '6')
		{
			if(!$('#fassto_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 택배리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '7')
		{
			if(!$('#start_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 택배리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '8')
		{
			if(!$('#coupon_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 택배리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '9')
		{
			if(!$('#log_settle_month').val()){
				alert("정산월을 선택해주세요");
				return false;
			}

			if(!$('#log_settle_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 정산리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '10')
		{
			if(!$('#return_file_type').val()){
				alert("엑셀양식을 선택해주세요");
				return false;
			}

			if(!$('#return_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 반품/교환리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '11')
		{
			if(!$('#report_month').val()){
				alert("정산월을 선택해주세요");
				return false;
			}

			if(!$('#month_report_warehouse').val()){
				alert("물류창고를 선택해주세요");
				return false;
			}

			if(!$('#month_report_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 입고/반출리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '12')
		{
			if(!$('#transfer_warehouse').val()){
				alert("물류창고를 선택해주세요");
				return false;
			}

			if(!$('#transfer_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 재고이동리스트에 반영 하시겠습니까??"
			result 	= true;
		}
		else if(excel_type == '13')
		{
			if(!$('#direct_warehouse').val()){
				alert("물류업체를 선택해주세요");
				return false;
			}

			if(!$('#direct_file').val()){
				alert("파일을 첨부해주세요");
				return false;
			}

			msg 	= "첨부파일을 " + type_name + " 직택배리스트에 반영 하시겠습니까??"
			result 	= true;
		}

		if(result){
			if (confirm(msg)) { // 확인
				obj.submit();
			}
		}else { //취소
			return false;
		}

		return false;
	}

	function delSettleData(file_no)
	{
		if(confirm("정산 데이터를 삭제하시겠습니까?"))
		{
			var f = document.mod_upload_frm;
			f.process.value 	= 'del_settle_data';
			f.chk_file_no.value = file_no;
			f.submit();
		}
	}

	function delEmptyData(file_no)
	{
		if(confirm("업로드 오류 건을 삭제하시겠습니까?"))
		{
			var f = document.mod_upload_frm;
			f.process.value 	= 'del_empty_data';
			f.chk_file_no.value = file_no;
			f.submit();
		}
	}

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		$.post("waple_upload_management.php", {file_no : no, process : proc, val : val}, function(result){
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

</script>

</body>
</html>
