<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	#search_form label{margin-right: 10px;}
	.form-control{font-size: 12px; display: inline-block; width: 99%; margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}

	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center;}
	.table-bordered thead td, .table-bordered thead th{border-bottom-width: 1px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">● 연차 촉진 리스트</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="waple_holiday_management.php" autocomplete="off" style="margin-top: 5px;">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_year">연도</label>
				<select name="sch_year" id="sch_year" class="form-control">
					<{foreach from=$chk_month_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_year == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_work">출근여부</label>
				<select name="sch_is_work" id="sch_is_work" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_work_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_work == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_my_c_no">사업자</label>
				<select id="sch_my_c_no" name="sch_my_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$my_company_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_team">부서 > 담당자</label>
				<select name="sch_team" id="sch_team" class="form-control">
					<{foreach from=$sch_team_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_team== $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_s_no" id="sch_s_no" class="form-control">
					<option value="all">::전체::</option>
					<{foreach from=$sch_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>


	<table class="table table-bordered" style="table-layout: fixed; margin-top: 10px; width: auto;">
		<colgroup>
			<col width="100px;"> <!-- 이름 -->
			<col width="120px;"> <!-- 연차계획일 -->
			<col width="140px;"> <!-- 연차계획일 동의여부 -->
			<col width="140px;"> <!-- 출근여부 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" class="first">이름</th>
				<th scope="col">연차계획일</th>
				<th scope="col">연차계획일 동의여부</th>
				<th scope="col">출근여부</th>
			</tr>
		</thead>
		<tbody>
			<{if $waple_holiday_list}>
				<{foreach from=$waple_holiday_list item=waple_holiday}>
				<tr>
					<td class="first text-center"> <!-- 이름 -->
						<{$waple_holiday.cs_s_name}>
					</td>
					<td class="text-center"> <!-- 연차계획일 -->
						<{$waple_holiday.cs_date}>
						<a href="calendar/calendar_schedule.php?cal_id=hr_boost&sel_date=<{$waple_holiday.cs_date}>" target="_blank" style="cursor: pointer;">
							<img src="./images/icon/new_win_icon.png">
						</a>
					</td>
					<td class="text-center" style="font-weight: bold;"> <!-- 동의여부 -->
						<{$waple_holiday.is_agree}>
					</td>
					<td class="text-center"> <!-- 출근여부 -->
						<span style="font-weight: bold; <{if $waple_holiday.is_work == 'X'}>color: red;<{/if}>"><{$waple_holiday.is_work}></span>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="4">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_team").combobox();

		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/stock.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});
	});
</script>

</body>
</html>
