<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle; text-align: center;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content" style="width: 1200px;">
	<h2 class="title" style="margin-bottom:10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" class="form-inline" action="wise_csm_work_return_list.php" method="get" style="width: 1500px;" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group" style="width: 100%;">
			<label for="sch_reg_s_date">작성일</label>
			<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker form-control" value="<{$sch_reg_s_date}>" />
			<span class="tlt">~</span>
			<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker form-control" value="<{$sch_reg_e_date}>" />

			<label for="sch_cs_staff">CS처리자</label>
			<select name="sch_cs_staff" id="sch_cs_staff" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$cs_staff_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_cs_staff == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_brand_g1">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_task_req">사유</label>
			<input type="text" name="sch_task_req" id="sch_task_req" class="form-control" value="<{$sch_task_req}>" style="width: 200px;"  />
		</div>
		<div class="form-group" style="width: 100%; margin-top: 10px;">
			<label for="sch_wd_s_date">출금완료일</label>
			<input type="text" name="sch_wd_s_date" id="sch_wd_s_date" class="date-picker form-control" value="<{$sch_wd_s_date}>" />
			<span class="tlt">~</span>
			<input type="text" name="sch_wd_e_date" id="sch_wd_e_date" class="date-picker form-control" value="<{$sch_wd_e_date}>" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 12px; margin-left: 15px; padding: 5px 15px;">검색</button>

			<a href="wise_csm_work_return_list.php" style="margin: 0 5px;">
				<img src="./images/icon/work_list_on.png">
			</a>
			<a href="wise_csm_work_return_chart.php" style="margin: 0 5px;">
				<img src="./images/icon/work_chart_off.png">
			</a>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="60px;">
			<col width="100px;">
			<col width="80px;">
			<col width="140px;">
			<col width="60px;">
			<col width="140px;">
			<col width="80px;">
			<col width="350px;">
			<col width="120px;">
			<col width="100px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="10">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col">wd_no</th>
				<th scope="col">작성일</th>
				<th scope="col">CS처리자</th>
				<th scope="col">브랜드</th>
				<th scope="col">w_no</th>
				<th scope="col">주문번호</th>
				<th scope="col">예금주명</th>
				<th scope="col">사유</th>
				<th scope="col">금액</th>
				<th scope="col">출금완료일</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0}>
				<{foreach from=$csm_work_return_list item=csm_work_return}>
					<tr>
						<td><!-- wd_no -->
							<a href="withdraw_list.php?sch_wd_method=&sch_wd_no=<{$csm_work_return.wd_no}>" target="_blank">
								<{$csm_work_return.wd_no}>
							</a>
						</td>
						<td><!-- 작성일 -->
							<{$csm_work_return.reg_day}>
						</td>
						<td><!-- CS처리자 -->
							<{$csm_work_return.req_s_name}>
						</td>
						<td class="text-left"><!-- 브랜드 -->
							<{$csm_work_return.brand_name}>
						</td>
						<td><!-- w_no -->
							<a href="work_list.php?sch_w_no=<{$csm_work_return.w_no}>" target="_blank">
								<{$csm_work_return.w_no}>
							</a>
						</td>
						<td class="text-left"><!-- 주문번호 -->
							<{$csm_work_return.ord_no}>
						</td>
						<td><!-- 예금주명 -->
							<{$csm_work_return.bk_name}>
						</td>
						<td class="text-left"><!-- 사유 -->
							<{$csm_work_return.reason}>
						</td>
						<td style="color: red;"><!-- 금액 -->
							<span style="float: left;">￦</span>
							<span style="float: right;"><{$csm_work_return.wd_money|number_format:0}></span>
						</td>
						<td><!-- 출금완료일 -->
							<{$csm_work_return.wd_date}>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="10" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="10" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_wise_csm_work_return_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}
</script>
</body>
</html>
