<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content" style="width: 1200px;">
	<h2 class="title" style="margin-bottom:10px">● 고객만족도 평가 리스트</h2>
	<form method="get" name="search_form" action="wise_csm_evaluation_list.php" class="form-inline" style="width: 1200px;" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="form-group" style="width: 100%;">
			<label for="sch_csm_no" style="margin-left: 0;">NO</label>
			<input type="text" id="sch_csm_no" class="form-control" name="sch_csm_no" value="<{$sch_csm_no}>" style="width: 100px;" />

			<label for="sch_regdate">작성일</label>
			<input type="text" class="date-picker form-control" id="sch_regdate" name="sch_regdate" value="<{$sch_regdate}>" />

			<label for="sch_ev_type">종류</label>
			<select id="sch_ev_type" name="sch_ev_type" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$evaluation_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_ev_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_question_type">문항 및 점수범위</label>
			<select id="sch_question_type" name="sch_question_type" class="form-control">
				<{foreach from=$question_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_question_type == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<select id="sch_s_score" name="sch_s_score" class="form-control">
				<{foreach from=$score_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_s_score == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<select id="sch_e_score" name="sch_e_score" class="form-control">
				<{foreach from=$score_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_e_score == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_q5">5번문항</label>
			<input type="text" id="sch_q5" class="form-control" name="sch_q5_text" value="<{$sch_q5_text}>" style="width: 200px;" />
			<label for="sch_q5_not_null" style="cursor: pointer;">not NULL</label>
			<input type="checkbox" name="sch_q5_not_null" id="sch_q5_not_null" style="cursor: pointer;" <{if $sch_q5_not_null == 'not null'}>checked<{/if}> value="not null"/>

			<label for="sch_s_no" style="margin-top: 15px; margin-left: 0;">피평가자</label>
			<select id="sch_s_no" name="sch_s_no" class="form-control" style="margin-top: 15px;">
				<option value="">::전체::</option>
				<{foreach from=$cs_staff_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 15px;">검색</button>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed;">
		<colgroup>
			<col width="45px;">
			<col width="70px;">
			<col width="80px;">
			<col width="100px;">
			<col width="100px;">
			<col width="100px;">
			<col width="100px;">
			<col width="70px;">
			<col width="350px;">
			<col width="80px;">
		</colgroup>
		<thead class="thead-dark text-center">
		<tr>
			<td colspan="10">
				<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
					<{foreach from=$page_type_option item=page_type}>
					<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<th scope="col">no</th>
			<th scope="col">작성일</th>
			<th scope="col">종류</th>
			<th scope="col" style="text-align: left;">1.고객센터의 온라인상담과 ARS 상담 서비스에 만족 하셨나요?</th>
			<th scope="col" style="text-align: left;">2.상담시 안내 받으신 정보가 원하시는 정확한 안내가 되셨나요?</th>
			<th scope="col" style="text-align: left;">3.베라베프 상담채널을 다른사람에게 추천할 의향이 있으신가요?</th>
			<th scope="col" style="text-align: left;">4.상담 요청후 상담사와 연결까지 소요시간이 적절하였습니까?</th>
			<th scope="col">평균점수</th>
			<th scope="col" style="text-align: left;">5.베라베프 고객센터를 이용하면서 좋았던 점이나 바라는 점이 있다면 무엇인가요?</th>
			<th scope="col">피평가자</th>
		</thead>
		<tbody>
		<{if $total_num > 0}>
			<{foreach from=$csm_ev_list item=csm_ev}>
				<tr>
					<td class="text-center"><!-- csm_e_no -->
						<{$csm_ev.csm_e_no}>
					</td>
					<td class="text-center"><!-- 작성일 -->
						<span style="font-size:10px;">
							<span><{$csm_ev.reg_date}></span>
							<span><{$csm_ev.reg_time}></span>
						</span>
					</td>
					<td class="text-center"><!-- 종류 -->
						<{$csm_ev.type_name}>
					</td>
					<td class="text-center" style="font-size:13px; <{if $csm_ev.q1_score < 3}>color: red;<{/if}>"><!-- 문항1 값 -->
						<{$csm_ev.q1_score}>
					</td>
					<td class="text-center" style="font-size:13px; <{if $csm_ev.q2_score < 3}>color: red;<{/if}>"><!-- 문항2 값 -->
						<{$csm_ev.q2_score}>
					</td>
					<td class="text-center" style="font-size:13px; <{if $csm_ev.q3_score < 3}>color: red;<{/if}>"><!-- 문항3 값 -->
						<{$csm_ev.q3_score}>
					</td>
					<td class="text-center" style="font-size:13px; <{if $csm_ev.q4_score < 3}>color: red;<{/if}>"><!-- 문항4 값 -->
						<{$csm_ev.q4_score}>
					</td>
					<td class="text-center" style="font-weight: bold; background-color: #fffee3; font-size:13px; <{if $csm_ev.score_avg < 3}>color: red;<{/if}>"><!-- 평균점수 -->
						<{$csm_ev.score_avg}>
					</td>
					<td class="text-left"><!-- 문항5 값 -->
						<{$csm_ev.q5_text}>
					</td>
					<td class="text-center"><!-- 피평가자 -->
						<{$csm_ev.s_name}>
					</td>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td colspan="10" class="text-center">데이터가 없습니다</td>
			</tr>
		<{/if}>
		<tr>
			<td colspan="10" class="paging_wrap">
				<div class="paging_wrap">
					<{$pagelist}>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div>
		<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_wise_csm_evaluation_list.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}
</script>
</body>
</html>
