<{include file="inc/boot_navibar.html"}>

<!-- Multi SELECT JS&CSS -->
<script type="text/javascript" src="<{$dir_location}>js/jquery.multi-select.min.js"></script>
<link href="<{$dir_location}>css/multi-select.css" rel="stylesheet" type="text/css">

<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_kind_type{display: none;}

	.csm-return-graph-wrapper{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px; margin-top: 15px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#csm-return-graph{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.selectpicker{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.data-picker-sum{width: 120px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}

	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0; z-index: 10;}
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.csm-return-table-wrapper{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px; overflow-x: scroll;}
	.csm-return-table{width:100%;}
	.csm-return-table th, .csm-return-table td{border: 1px solid #FFF;}
	.csm-return-table thead th, .csm-return-table tbody th{padding: 5px 10px; background: #ddd;}
	.csm-return-table tbody td{text-align: right; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
	.csm-return-table .total-val{background: #ffeef2;}
	.form-group {padding: 10px 5px; background: #eee; font-size: 13px;margin: 0;}
	.form-group:nth-child(2n){background: #ddd;}
	.form-group .form-label{display: inline-block; width: 100px;}
	.form-group .form-radio-label{display: inline-block; margin-left: -3px;}
	.date_active{background: #3093c2 !important;}
	.form-control{display: inline-block;}
	button.btn_small{margin-top: 5px;}
</style>
<div class="admin_content" style="width: 1200px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="wise_csm_return_chart.php" style="overflow:hidden; width: 1100px; margin-top: 20px;" autocomplete="off">
		<div class="form-group">
			<b class="form-label">[X축]</b>
			<input type="radio" name="sch_date_kind" id="sch_date_kind_1" value="1" class="radio first" <{if $sch_date_kind == '1'}>checked<{/if}> onclick="sch_date_kind_display('day','sch_date_kind_day',this);">
			<label for="sch_date_kind_1" class="form-radio-label">일간</label>
			<input type="radio" name="sch_date_kind" id="sch_date_kind_2" value="2" class="radio" <{if $sch_date_kind == '2'}>checked<{/if}> onclick="sch_date_kind_display('week','sch_date_kind_week',this);">
			<label for="sch_date_kind_2" class="form-radio-label">주간</label>
			<input type="radio" name="sch_date_kind" id="sch_date_kind_3" value="3" class="radio" <{if $sch_date_kind == '3'}>checked<{/if}> onclick="sch_date_kind_display('month','sch_date_kind_month',this);">
			<label for="sch_date_kind_3" class="form-radio-label">월간</label>
		</div>
		<div class="form-group">
			<b class="form-label">[Y축]</b>
			<input type="radio" name="sch_value_type" id="sch_value_type_1" value="1" class="radio first" <{if $sch_value_type == '1'}>checked<{/if}> >
			<label for="sch_value_type_1" class="form-radio-label">주문수</label>
			<input type="radio" name="sch_value_type" id="sch_value_type_2" value="2" class="radio" <{if $sch_value_type == '2'}>checked<{/if}> >
			<label for="sch_value_type_2" class="form-radio-label">상품수(옵션수)</label>
		</div>
		<div class="form-group">
			<b class="form-label">[항목]</b>
			<input type="radio" name="sch_label_type" id="sch_label_type_1" value="1" class="radio first" <{if $sch_label_type == '1'}>checked<{/if}> >
			<label for="sch_label_type_1" class="form-radio-label">업체명/브랜드</label>
			<input type="radio" name="sch_label_type" id="sch_label_type_2" value="2" class="radio" <{if $sch_label_type == '2'}>checked<{/if}> >
			<label for="sch_label_type_2" class="form-radio-label">커머스 상품명</label>
			<input type="radio" name="sch_label_type" id="sch_label_type_3" value="3" class="radio" <{if $sch_label_type == '3'}>checked<{/if}> >
			<label for="sch_label_type_3" class="form-radio-label">구매처</label>
			<input type="radio" name="sch_label_type" id="sch_label_type_4" value="4" class="radio" <{if $sch_label_type == '4'}>checked<{/if}> >
			<label for="sch_label_type_4" class="form-radio-label">사유구분</label>
		</div>
		<div class="form-group" style="overflow: hidden;" >
			<div style="float: left; width: 100px; height:150px;">
				<b class="form-label">데이터 조건</b>
			</div>
			<div style="float: left;">
				<div>
					<select name="sch_date_type" class="form-control" style="width: 120px;">
						<{foreach from=$date_type_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_date_type == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span id="sch_date_kind_month" class="sch_date_kind">
						<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
						~
						<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
					</span>
					<span id="sch_date_kind_week" class="sch_date_kind">
						<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
						~
						<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
					</span>
					<span id="sch_date_kind_day" class="sch_date_kind">
						<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>

					<input type="hidden" name="sch_date_val" id="sch_date_val" value="<{$sch_date_val}>">
					<input type="hidden" name="yesterday_val" id="yesterday_val" value="<{$yesterday_val}>">
					<input type="hidden" name="to_month_val" id="to_month_val" value="<{$to_month_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="months_val3" id="3months_val" value="<{$months_val3}>">
					<input type="hidden" name="months_val6" id="6months_val" value="<{$months_val6}>">
					<input type="hidden" name="year_val" id="1year_val" value="<{$year_val}>">

					<button type="button" onclick="dateVal('yesterday','day', this)" class="btn_small date_btn <{if $sch_date_val == 'yesterday'}>date_active<{/if}>" >어제</button>
					<button type="button" onclick="dateVal('week','day', this)" class="btn_small date_btn <{if $sch_date_val == 'week'}>date_active<{/if}>">1주</button>
					<button type="button" onclick="dateVal('months','day', this)" class="btn_small date_btn <{if $sch_date_val == 'months'}>date_active<{/if}>">1달</button>
					<button type="button" onclick="dateVal('3months','mon', this)" class="btn_small months_btn <{if $sch_date_val == '3months'}>date_active<{/if}>">3달</button>
					<button type="button" onclick="dateVal('6months','mon', this)" class="btn_small months_btn <{if $sch_date_val == '6months'}>date_active<{/if}>">6달</button>
					<button type="button" onclick="dateVal('1year','mon', this)" class="btn_small months_btn <{if $sch_date_val == 'year'}>date_active<{/if}>">1년</button>
				</div>
				<div style="clear: both; overflow: hidden; margin-top: 10px;">
					<div style="overflow: hidden; float: left;">
						<span style="margin-left: 5px; margin-top: 8px; display: inline-block; float: left;">업체명/브랜드명</span>
						<select name="sch_c_no" id="sch_c_no" class="form-control" style="margin-left: 10px; width: 200px;" size="4">
							<option value="">::전체::</option>
							<{foreach from=$company_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_c_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<br style="clear: both;">
						<span style="margin-left: 5px; margin-top: 8px; display: inline-block; float: left; width: 98px;">구분</span>
						<select name="sch_return_type" id="sch_return_type" class="form-control" style="width: 110px; margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$return_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_return_type == $key }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div style="float: left; margin-left: 20px;">
						<div style="overflow: hidden;">
							<span style="margin-left: 5px; margin-top: 8px; display: inline-block; float: left; width: 100px;">커머스 상품명</span>
							<select name="sch_prd_g1" id="sch_prd_g1" class="form-control" style="width: 150px;	margin-right: 5px;">
								<option value="">::전체::</option>
								<{section name=data loop=$prd_g1_list}>
								<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
								<{/section}>
							</select>
							>
							<select id="sch_prd_g2" name="sch_prd_g2" class="form-control" style="width: 150px; margin-right: 5px;">
								<option value="">::전체::</option>
								<{section name=data loop=$prd_g2_list}>
								<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
								<{/section}>
							</select>
							>
							<select id="sch_prd" name="sch_prd" class="form-control" style="width: 200px;">
								<option value="">::전체::</option>
								<{section name=data loop=$sch_prd_list}>
								<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
								<{/section}>
							</select>
						</div>
						<div style="margin-top: 20px; overflow: hidden;">
							<span style="margin-left: 5px; margin-top: 8px; display: inline-block; float: left; width: 60px;">구매처</span>
							<select name="sch_dp_c_no" id="sch_dp_c_no" class="form-control" style="float: left; width: 120px; margin-right: 40px;">
								<option value="">::전체::</option>
								<{foreach from=$dp_company_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>

							<span style="margin-left: 5px; margin-top: 8px; display: inline-block; float: left; width: 80px;">사유구분</span>
							<select name="sch_return_reason" id="sch_return_reason" class="form-control" style="float: left;width: 200px; margin-right: 5px;">
								<option value="">::전체::</option>
								<{foreach from=$return_reason_option item=label}>
								<option value="<{$label}>" <{if $sch_return_reason == $label}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both; margin-top: 10px; text-align: right;">
			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">조회</button>
		</div>
	</form>

	<!-- CHART -->
	<div id="csm-return-graph-card" class="csm-return-graph-wrapper">
		<div class="card-body">
			<div id="csm-return-graph"></div>
			<div class="pagination-wrapper">
				<div>
					<select multiple="multiple" class="selectpicker picker-list" style="text-align: left;">
						<{foreach from=$picker_list key=key item=pick_data}>
						<option value="<{$key}>" attr-key="<{$key}>" selected><{$pick_data}></option>
						<{/foreach}>
					</select>
					<ul class="pagination data-line-bar">
						<li class="page-item active"><a data-key="line" id="csm-line" class="page-link" href="#csm-return-graph-card">선형</a></li>
						<li class="page-item"><a data-key="bar" id="csm-bar" class="page-link" href="#csm-return-graph-card">막대형</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="csm-return-table-wrapper" id="csm-return-table-wrapper">
	</div>
	<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('csm-return-table-wrapper');" /></div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function() {
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		var f = document.forms['search_form'];
		var sch_date_kind = f.sch_date_kind.value;

		if(sch_date_kind == '1'){
			sch_date_kind_display('day');
		}else if(sch_date_kind == '2'){
			sch_date_kind_display('week');
		}else if(sch_date_kind == '3'){
			sch_date_kind_display('month');
		}

		$(".data-line-bar .page-link").click(function(){
			var key 	= $(this).attr('data-key');

			$(".data-line-bar .page-item").removeClass('active');
			$(this).parent(".page-item").addClass('active');

			drawGraph(key, 'each');
		});

		$(".multi-select-menuitem").click(function(){

			var id    = $(this).attr('for');
			var value = $("#"+id).val();
			var type  = ($("#"+id).is(":checked") == true) ? "legendSelect":"legendUnSelect";
			var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');

			if(tableIdx && type == 'legendSelect'){
				$('.tr_'+tableIdx).show();
			}else{
				$('.tr_'+tableIdx).hide();
			}

			myChart.dispatchAction({
				type: type,
				name: value
			});
		});
    });

	$(".picker-list").multiSelect();

	var myChart = echarts.init(document.getElementById('csm-return-graph'), 'shine');

	function drawGraph(key, sumType)
	{
		myChart.clear();

		var fullData = <{$full_data}>;

		if(fullData != '')
		{
			var statsData = fullData[sumType][key];

			var legendData = [];

			var refresh 	= false;
			var boundaryGap = false;

			if(sumType == 'sum'){
				legendData.push("합산");
				refresh = true;
			}else{
				var legendList = <{$legend_list}>;

				$.each(legendList, function(idx, item){
					legendData.push(item);
				});
			}

			var pushData = [];

			if(key == 'line'){
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'line',
						data: item['data'],
						smooth: true
					});
				});
			}else if(key == 'bar'){
				boundaryGap = true;
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'bar',
						data: item['data']
					});
				});
			}

			var title = '반품현황';
			myChart.setOption({
				title: {
					text: title,
					left: 'center',
					top: 5
				},
				tooltip: {
					trigger: 'axis',
					textStyle: {
						color: '#FFF'
					},
					formatter: (params) => {
						let message = '';
						if(params instanceof Array) {
							if (params.length) {
								message += `${ params[0].axisValueLabel }`;
								params.forEach(param => {
									if(param.value > 0) {
										message += `<br/>${param.marker}${param.seriesName}: ${param.value}${param.data.unit || ''}`;
									}
								});
							}
						}

						return message;
					},
				},
				legend: {
					type: 'scroll',
					orient: 'vertical',
					textStyle: {
						width: 150,
						overflow: 'break'
					},
					data: legendData,
					top: 70,
					right: 0
				},
				grid: {
					top: 70,
					left: 35,
					right: 220,
					bottom: 50,
					containLabel: true
				},
				dataZoom: [{
					type: 'inside',
					start : 20,
					end : 100
				}, {
					type: 'slider',
					start : 20,
					end : 100
				}],
				xAxis: {
					type: 'category',
					boundaryGap: boundaryGap,
					data: [<{$x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);

			createTable(statsData, key, sumType);
		}
	}

	function createTable(statsData, key, sumType)
	{
		var thLabel = <{$x_table_th_list}>;
		var titleList  = <{$legend_list}>;

		var table = "<table class='csm-return-table' cellpadding='0' cellspacing='0'>" + "<thead><tr>" + "<th></th>";
		var yQtyTotal = [];

		$.each(thLabel, function(data, label){
			table += "<th style='text-align: center;'>" + label + "</th>";
			yQtyTotal.push(0);
		});


		table += "<th style='text-align: center;'>합계</th>";
		table += "</tr></thead><tbody>";

		$.each(statsData, function(idx, item){
			table += "<tr class='stat_table_tr tr_"+ idx + "'><th style='min-width: 100px;'>" + titleList[idx] + "</th>";
			var x_total_qty = 0;

			$.each(item['data'], function(key, qty){
				yQtyTotal[key] += Number(qty);
				x_total_qty += Number(qty);
				table += "<td>" + qty + "</td>";
			});

			table += "<td class='total-val'>" + x_total_qty + "</td>";

			table += "</tr>";
		});

		if(sumType == 'each'){
			var y_total_qty = 0;
			table += "<tr><th style='min-width: 100px;'>요일별합계</th>";
			$.each(yQtyTotal, function(idx, total){
				table += "<td class='total-val'>" + total + "</td>";
				y_total_qty += total;
			});
			table += "<td class='total-val'></td>";
			table += "</tr>";
		}

		table += "</tbody></table>";

		$(".csm-return-table-wrapper").html(table);

		if(sumType == 'each'){
			reloadStatsData();
		}
	}

	function reloadStatsData()
	{
		var legendList  = <{$legend_list}>;
		var selOption 	= $('.picker-list').val();

		$.each(legendList, function(idx, data){
			myChart.dispatchAction({
				type: "legendUnSelect",
				name: data['title']
			});
		});

		$(".stat_table_tr").hide();
		selOption.forEach(function(value){
			var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');
			$('.tr_'+tableIdx).show();

			myChart.dispatchAction({
				type: "legendSelect",
				name: value
			});
		});

	}

	drawGraph('line', 'each');

	function sch_date_kind_display(type)
	{
		$(".sch_date_kind").hide();
		if(type == 'month'){
			$("#sch_date_kind_month").show();
			$(".date_btn").hide();
			$(".months_btn").show();
		}else if(type == 'week'){
			$("#sch_date_kind_week").show();
			$(".date_btn").hide();
			$(".months_btn").hide();
		}else if(type == 'day'){
			$("#sch_date_kind_day").show();
			$(".months_btn").hide();
			$(".date_btn").show();
		}
	}

	function dateVal(type, date_type, obj)
	{
		if(date_type == 'mon'){
			var tomonth   = $("#to_month_val").val();
			var typemonth = $("#"+type+"_val").val();

			$(".date_btn").removeClass('date_active');
			$(".months_btn").removeClass('date_active');
			$(obj).addClass('date_active');

			$("#sch_s_month").val(typemonth);
			$("#sch_e_month").val(tomonth);
		}else{
			var todate   = $("#yesterday_val").val();
			var typedate = $("#"+type+"_val").val();

			$(".date_btn").removeClass('date_active');
			$(".months_btn").removeClass('date_active');
			$(obj).addClass('date_active');

			$("#sch_s_date").val(typedate);
			$("#sch_e_date").val(todate);
		}

		$("#sch_date_val").val(type);
	}
</script>
</body>
</html>
