<{include file="inc/iframe_navibar.html"}>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<style type="text/css">
	.admin_content{width: 500px; min-width: 500px !important; max-width: 500px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle; padding: 3px;}
	.dropzone{padding: 10px 30px;}
	.dropzone .dz-message{}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 90px; height: 90px;}
	.dropzone .dz-preview .dz-image{width: 80px; height: 80px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{background: url(./images/icon/dropzone_del.png) no-repeat;background-size: 20px;font-size: 0;margin-top: 3px;width: 20px;height: 20px;display: inline-block;position: absolute;bottom: 5px;left: 15px;z-index: 100;cursor: pointer;}
	.dropzone .dz-preview .dz-download{background: url(./images/icon/dropzone_down.png) no-repeat;background-size: 20px;font-size: 0;margin-top: 3px;width: 20px;height: 20px;display: inline-block;position: absolute;bottom: 5px;left: 45px;z-index: 100;cursor: pointer;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.table tbody select, .table tbody input{font-size: 12px; padding: 0.25rem;}
	.table tbody th{vertical-align: middle; background: #333; color: white;}
</style>

<div class="admin_content">
	<form id="csm_memo_frm" name="csm_memo_frm" action="wise_csm_bad_report_memo.php" method="post" enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="cbm_no" id="cbm_no" value="<{$cbm_no}>">
		<input type="hidden" name="s_no" id="s_no" value="<{$s_no}>">
		<input type="hidden" name="k_name_code" id="k_name_code" value="<{$k_name_code}>">
		<input type="hidden" name="bad_date" id="bad_date" value="<{$bad_date}>">
		<input type="hidden" name="type" id="type" value="<{$type}>">
		<input type="hidden" name="process" value="<{if !!$cbm_no}>upd_csm_memo<{else}>add_csm_memo<{/if}>">

		<h2 style="font-size: 18px; color: white; background: #333; text-align: center; font-weight: bold; line-height: 40px; border-radius: 7px;">메모</h2>
		<table class="table table-bordered" style="table-layout: fixed;">
			<colgroup>
				<col width="400px;">
				<col width="100px;">
			</colgroup>
			<tbody>
				<tr>
					<td>
						<textarea name="memo" id="csm_memo" class="form-control" style="font-size: 12px; height: 150px;" <{if $type!='editor'}>disabled<{/if}> placeholder="메모를 입력해주세요"><{$memo}></textarea>
					</td>
					<td style="text-align: center;">작성자 : <{$s_name}></td>
				</tr>
				<tr>
					<td>
						<div class="dropzone" id="csmFileDropzone" >
							<div class="dz-message">
								이곳에 파일을 드래그하여 첨부하거나 클릭하여 선택하세요.<br/>(MAX 10MB)
							</div>
						</div>
						<div class="add-file-hidden">
							<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
							<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">
							<input type="hidden" id="file_count" value="<{$file_count}>" />
							<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
						</div>
					</td>
					<td>
						<{if $type == 'editor'}>
						<button type="submit" class="btn btn-success" style="font-weight: bold;font-size: 14px;height: 145px;background: #333;border-color: #333;">저장하기</button>
						<{/if}>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<script type="text/javascript">

	Dropzone.autoDiscover = false;

	var imageExt = ['jpg','jpeg','png','gif'];

	var myDropzone = new Dropzone("div#csmFileDropzone",
		{
			url:"./inc/dropzone_file_upload.php",
			addRemoveLinks: true,
			dictRemoveFile: "삭제",
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 80,
			thumbnailHeight: 80,
			maxFiles: 5,
			maxFilesize: 30,
			dictFileTooBig: "30MB 이상 파일은 업로드 할 수 없습니다",
			init: function(){
				<{if $cbm_no && $file_count > 0 }>
					<{foreach from=$file_paths key=key item=file_path}>
					var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 300000, path: "<{$file_path}>"};
					this.options.addedfile.call(this, mockFile<{$key}>);

					var file_path = '<{$file_path}>';
					var file_type = file_path.split('.',2)[1];
					file_type = file_type.toLowerCase();

					if(file_type != "" && imageExt.indexOf(file_type) != -1){
						this.options.thumbnail.call(this, mockFile<{$key}>, "/v1/uploads/<{$file_path}>");
					}

					var html = '<div><input type="hidden" name="file_name[]" class="csm_file_name" value="<{$file_names[$key]}>">';
					html += '<input type="hidden" name="file_path[]" class="csm_file_path" value="<{$file_path}>"></div>';
					$(".add-file-hidden").append(html);
					<{/foreach}>
				<{/if}>
			},
			addedfile: function(file) {
				var _this2 = this;

				if (this.element === this.previewsContainer) {
					this.element.classList.add("dz-started");
				}

				if (this.previewsContainer) {
					file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
					file.previewTemplate = file.previewElement; // Backwards compatibility

					this.previewsContainer.appendChild(file.previewElement);
					var _iteratorNormalCompletion3 = true;
					var _didIteratorError3 = false;
					var _iteratorError3 = undefined;

					try {
						for (var _iterator3 = file.previewElement.querySelectorAll("[data-dz-name]")[Symbol.iterator](), _step3; !(_iteratorNormalCompletion3 = (_step3 = _iterator3.next()).done); _iteratorNormalCompletion3 = true) {
							var node = _step3.value;
							node.textContent = file.name;
						}
					} catch (err) {
						_didIteratorError3 = true;
						_iteratorError3 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion3 && _iterator3["return"] != null) {
								_iterator3["return"]();
							}
						} finally {
							if (_didIteratorError3) {
								throw _iteratorError3;
							}
						}
					}

					var _iteratorNormalCompletion4 = true;
					var _didIteratorError4 = false;
					var _iteratorError4 = undefined;

					try {
						for (var _iterator4 = file.previewElement.querySelectorAll("[data-dz-size]")[Symbol.iterator](), _step4; !(_iteratorNormalCompletion4 = (_step4 = _iterator4.next()).done); _iteratorNormalCompletion4 = true) {
							node = _step4.value;
							node.innerHTML = this.filesize(file.size);
						}
					} catch (err) {
						_didIteratorError4 = true;
						_iteratorError4 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion4 && _iterator4["return"] != null) {
								_iterator4["return"]();
							}
						} finally {
							if (_didIteratorError4) {
								throw _iteratorError4;
							}
						}
					}

					if (this.options.addRemoveLinks) {
						file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>".concat(this.options.dictRemoveFile, "</a>"));
						file.previewElement.appendChild(file._removeLink);
					}

					var removeFileEvent = function removeFileEvent(e) {
						e.preventDefault();
						e.stopPropagation();

						if (file.status === Dropzone.UPLOADING) {
							return Dropzone.confirm(_this2.options.dictCancelUploadConfirmation, function () {
								return _this2.removeFile(file);
							});
						} else {
							if (_this2.options.dictRemoveFileConfirmation) {
								return Dropzone.confirm(_this2.options.dictRemoveFileConfirmation, function () {
									return _this2.removeFile(file);
								});
							} else {
								return _this2.removeFile(file);
							}
						}
					};

					var _iteratorNormalCompletion5 = true;
					var _didIteratorError5 = false;
					var _iteratorError5 = undefined;

					try {
						for (var _iterator5 = file.previewElement.querySelectorAll("[data-dz-remove]")[Symbol.iterator](), _step5; !(_iteratorNormalCompletion5 = (_step5 = _iterator5.next()).done); _iteratorNormalCompletion5 = true) {
							var removeLink = _step5.value;
							removeLink.addEventListener("click", removeFileEvent);
						}
					} catch (err) {
						_didIteratorError5 = true;
						_iteratorError5 = err;
					} finally {
						try {
							if (!_iteratorNormalCompletion5 && _iterator5["return"] != null) {
								_iterator5["return"]();
							}
						} finally {
							if (_didIteratorError5) {
								throw _iteratorError5;
							}
						}
					}

					var download_link = document.createElement('a');
					download_link.setAttribute('href',"/v1/uploads/" + file.path);
					download_link.setAttribute('target',"_blank");
					download_link.classList.add('dz-download');
					file.previewTemplate.appendChild(download_link);
				}
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var files = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < files.length; i++) {
						var thumbnailElement = files[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 5개까지 업로드 할 수 있습니다');
			},
			success: function(file, response){
				var result    = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileCount = $('#file_count').val();

				if(fileCount >= 5){
					this.removeFile(file);
					alert('파일은 3개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != ''){
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="csm_file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="csm_file_path" value="'+filePath+'"></div>';
					$(".add-file-hidden").append(html);
					$('#file_count').val($(".csm_file_name").length);
					$('#file_chk').val(1);
				}
			},
			error: function(file, response){
				$(".dz-file-preview").remove();
			}
		}
	);

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".csm_file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".csm_file_name").length);
		$('#file_chk').val(1);
	});
</script>
</body>
</html>
