<{include file="inc/iframe_navibar.html"}>

<script src="js/echarts.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}
	.staff-btn-group button{background: #ccc; color: white; font-size: 14px;margin-top: 0;width: 100px;padding: 5px 10px;}
	.staff-btn-group button.btn-selected{background: #333;}

	.csm-work-graph-wrapper{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px; margin-top: 15px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#csm-work-graph{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.selectpicker{text-align: center; white-space: nowrap;display: inline-flex;align-items: center; justify-content: space-between; background-color: #fff; border: 1px solid #aaa; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #212529; padding: .65rem .5rem; font-size: 12px; line-height: 1.5;  vertical-align: middle; font-weight: 400; -webkit-appearance: button; -webkit-box-pack: justify; -webkit-box-align: center;}
	.data-picker-sum{width: 120px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}

	.multi-select-container{margin-left: 6px;margin-top: 2px;}
	.multi-select-container .multi-select-button{padding: 8px;max-width: 250px;}
	.multi-select-container--open .multi-select-menu{margin: 2em 0; z-index: 10;}

	.csm-work-table-wrapper{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px;}
	.csm-work-table{width:100%;}
	.csm-work-table th, .csm-work-table td{border: 1px solid #FFF;}
	.csm-work-table thead th, .csm-work-table tbody th{padding: 5px 10px; background: #ddd;}
	.csm-work-table tbody td{text-align: right; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
	.csm-work-table .total-val{background: #ffeef2;}
</style>

<div class="admin_content" style="width: 1200px;margin: 0;">
	<form method="get" name="search_form" action="wise_csm_work_chart_online.php" class="form-inline" autocomplete="off">
		<input type="hidden" name="sch_date" value="<{$sch_date}>" />
		<div class="form-group">
			<label>날짜</label>
			<div id="sch_date_type_day" class="sch_date_type">
				<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
			</div>
			<div id="sch_date_type_week" class="sch_date_type">
				<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
				~
				<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
			</div>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
				<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
				<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
			</div>

			<input type="hidden" id="sch_s_no" name="sch_s_no" value="<{$sch_s_no}>" />
			<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
		</div>
		<div class="staff-btn-group form-group" style="display: block; width: 100%; margin-top: 10px;">
			<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_s_no}>btn-selected<{/if}>" onclick="changeStaff('')">전체</button>
			<{foreach from=$cs_staff_list key=key item=label}>
			<button type="button" class="btn btn-sm font-weight-bold <{if $sch_s_no == $key}>btn-selected<{/if}>" onclick="changeStaff('<{$key}>')" ><{$label}></button>
			<{/foreach}>
		</div>
	</form>

	<!-- CHART -->
	<div id="csm-work-graph-card" class="csm-work-graph-wrapper">
		<div class="card-body">
			<div id="csm-work-graph"></div>
			<div class="pagination-wrapper">
				<div>
					<select multiple="multiple" class="selectpicker picker-list">
						<{foreach from=$picker_list key=key item=label}>
						<option value="<{$label}>" attr-key="<{$key}>" selected><{$label}></option>
						<{/foreach}>
					</select>
				</div>
				<div>
					<ul class="pagination data-picker-sum">
						<li class="page-item active"><a data-key="each" id="csm-each" class="page-link" href="#csm-work-graph-card">개별</a></li>
						<li class="page-item"><a data-key="sum" id="csm-sum" class="page-link" href="#csm-work-graph-card">합산</a></li>
					</ul>
					<ul class="pagination data-line-bar">
						<li class="page-item"><a data-key="line" id="csm-line" class="page-link" href="#csm-work-graph-card">선형</a></li>
						<li class="page-item active"><a data-key="bar" id="csm-bar" class="page-link" href="#csm-work-graph-card">막대형</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="csm-work-table-wrapper" id="csm-work-table-wrapper">
	</div>
	<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('csm-work-table-wrapper');" /></div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function() {

        var f = document.forms['search_form'];
        var sch_date_type = f.sch_date_type.value;

        if (sch_date_type == '1') {
            sch_date_display('day');
        } else if (sch_date_type == '2') {
            sch_date_display('week');
        } else if (sch_date_type == '3') {
            sch_date_display('month');
        }

		$(".data-line-bar .page-link").click(function(){
			var key 	= $(this).attr('data-key');
			var sumType = $(".data-picker-sum").children(".active").children('.page-link').attr('data-key');

			$(".data-line-bar .page-item").removeClass('active');

			$(this).parent(".page-item").addClass('active');
			drawGraph(key,  sumType);
		});

		$(".data-picker-sum .page-link").click(function(){
			var key 	   = $(".data-line-bar").children(".active").children('.page-link').attr('data-key');
			var sumType    = $(this).attr('data-key');

			$(".data-picker-sum .page-item").removeClass('active');
			$(this).parent(".page-item").addClass('active');
			drawGraph(key, sumType);
		});

		$(".multi-select-menuitem").click(function(){

			var id    = $(this).attr('for');
			var value = $("#"+id).val();
			var type  = ($("#"+id).is(":checked") == true) ? "legendSelect":"legendUnSelect";
			var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');

			var kakaoTableIdx = "kakao_"+tableIdx
			var imwebTableIdx = "imweb_"+tableIdx

			if(tableIdx && type == 'legendSelect'){
				$('.tr_'+kakaoTableIdx).show();
				$('.tr_'+imwebTableIdx).show();
			}else{
				$('.tr_'+kakaoTableIdx).hide();
				$('.tr_'+imwebTableIdx).hide();
			}

			myChart.dispatchAction({
				type: type,
				name: value
			});
		});
    });

	$(".picker-list").multiSelect();

	var myChart = echarts.init(document.getElementById('csm-work-graph'), 'shine');

	function drawGraph(key, sumType)
	{
		myChart.clear();

		var fullData = <{$full_data}>;

		if(fullData != '')
		{
			var statsData = fullData[sumType][key];

			var legendData = [];

			var refresh 	= false;
			var boundaryGap = false;

			if(sumType == 'sum'){
				legendData.push("합산");
				refresh = true;
			}else{
				var legendList = <{$legend_list}>;

				$.each(legendList, function(idx, item){
					legendData.push(item);
				});
			}

			var pushData = [];

			if(key == 'line'){
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'line',
						data: item['data'],
						smooth: true
					});
				});
			}else if(key == 'bar'){
				boundaryGap = true;
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'bar',
						data: item['data']
					});
				});
			}

			var title = 'CS 업무량';
			myChart.setOption({
				title: {
					text: title,
					left: 'center',
					top: 5
				},
				tooltip: {
					trigger: 'axis'
				},
				legend: {
					type: 'scroll',
					data: legendData,
					top: 35
				},
				grid: {
					top: 70,
					left: 35,
					right: 15,
					bottom: 50,
					containLabel: true
				},
				dataZoom: [{
					type: 'inside',
					start : 20,
					end : 100
				}, {
					type: 'slider',
					start : 20,
					end : 100
				}],
				xAxis: {
					type: 'category',
					boundaryGap: boundaryGap,
					data: [<{$x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);

			createTable(statsData, key, sumType);
		}
	}

	function createTable(statsData, key, sumType)
	{
		var thLabel = <{$x_table_th_list}>;
		var titleList  = <{$y_label_title}>;

		var table = "<table class='csm-work-table' cellpadding='0' cellspacing='0'>" + "<thead><tr>" + "<th></th>";
		var yQtyTotal = [];

		$.each(thLabel, function(data, label){
			table += "<th style='text-align: center;'>" + label + "</th>";
			yQtyTotal.push(0);
		});


		table += "<th style='text-align: center;'>합계</th>";
		table += "</tr></thead><tbody>";

		$.each(statsData, function(idx, item){
			idx
			table += "<tr class='stat_table_tr tr_"+ idx + "'><th style='min-width: 100px;'>" + titleList[idx] + "</th>";
			var x_total_qty = 0;

			$.each(item['data'], function(key, qty){
				yQtyTotal[key] += qty;
				x_total_qty += qty;
				table += "<td>" + qty + "</td>";
			});

			table += "<td class='total-val'>" + x_total_qty + "</td>";

			table += "</tr>";
		});

		if(sumType == 'each'){
			var y_total_qty = 0;
			table += "<tr><th style='min-width: 100px;'>요일별합계</th>";
			$.each(yQtyTotal, function(idx, total){
				table += "<td class='total-val'>" + total + "</td>";
				y_total_qty += total;
			});
			table += "<td class='total-val'></td>";
			table += "</tr>";
		}

		table += "</tbody></table>";

		$(".csm-work-table-wrapper").html(table);

		if(sumType == 'each'){
			reloadStatsData();
		}
	}

	function reloadStatsData()
	{
		var legendList  = <{$legend_list}>;
		var selOption 	= $('.picker-list').val();

		$.each(legendList, function(idx, data){
			myChart.dispatchAction({
				type: "legendUnSelect",
				name: data['title']
			});
		});

		$(".stat_table_tr").hide();
		selOption.forEach(function(value){
			var tableIdx = $('.picker-list option[value="'+value+'"]').attr('attr-key');
			var kakaoTableIdx = "kakao_"+tableIdx
			var imwebTableIdx = "imweb_"+tableIdx
			$('.tr_'+kakaoTableIdx).show();
			$('.tr_'+imwebTableIdx).show();

			myChart.dispatchAction({
				type: "legendSelect",
				name: value
			});
		});

	}

	drawGraph('bar', 'each');

    function sch_date_display(type)
    {
        $(".sch_date_type").hide();
        if(type == 'month'){
            $("#sch_date_type_month").show();
        }else if(type == 'week'){
            $("#sch_date_type_week").show();
        }else if(type == 'day'){
            $("#sch_date_type_day").show();
        }
    }

    function changeStaff(s_no)
	{
        $("#sch_s_no").val(s_no);
        document.forms['search_form'].submit();
	}

	function copyTable(div_id)
	{
		if(document.body.createTextRange)
		{
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(div_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(div_id));
			document.execCommand('Copy');
		}
	}
</script>

</body>
</html>
