<{include file="inc/iframe_navibar.html"}>


<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	html{background: #eee;}
	.work-table-wrapper{}
	.work-table-wrapper div{margin: 10px;}
	.work-table-wrapper b{padding-left: 10px; font-size: 12px;}
	.work-table-wrapper table{margin-top: 3px;}
	.work-table-wrapper table th{font-weight: 400;}
	.work-table-wrapper .move_url{background: #565656; color: white; padding: 5px 10px;border-radius: 3px;}

</style>

<div class="admin_content" style="width: 556px;margin: 0;padding:0;min-width: 540px;background: #eee;">
	<form method="get" name="search_form" id="search_form" class="form-inline" action="wise_csm_work_management.php" autocomplete="off" style="overflow: hidden;">
		<h5>
			<select name="sch_cs_staff" class="form-control" onchange="document.search_form.submit()" style="font-size: 12px;display: inline-block; width: 90px; float: left; margin-right: 10px;">
				<{if $session_s_no == '102' || $session_s_no == '146' || $session_s_no == '203'}>
					<option value="">::전체::</option>
				<{/if}>
				<{foreach from=$cs_staff_list key=key item=label}>
					<{if ($session_s_no == '102' || $session_s_no == '146' || $session_s_no == '203') || $session_s_no == $key}>
						<option value="<{$key}>" <{if $key == $sch_cs_staff}>selected<{/if}>><{$label}></option>
					<{/if}>
				<{/foreach}>
			</select>
			<span style="font-size: 1.25rem;font-weight: bold;line-height: 34px;display: inline-block;"> 님의 CS 입금/환불 알림</span>
		</h5>
	</form>
	<div class="work-table-wrapper" style="clear: both;">
		<div style="height: 380px; overflow-y: scroll; margin-bottom: 10px;">
			<b>최근(5일 이내) 입금완료</b>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">담당자</th>
						<th scope="col">입금확인일</th>
						<th scope="col">입금자명</th>
						<th scope="col">입금완료액</th>
						<th scope="col">입금리스트</th>
						<th scope="col">CS리스트</th>
					</tr>
				</thead>
				<tbody style="background: white;">
					<{if $deposit_complete_list}>
						<{foreach from=$deposit_complete_list item=deposit_complete}>
						<tr class="text-center">
							<td><{$deposit_complete.s_name}></td>
							<td><{$deposit_complete.confirm_date}></td>
							<td><{$deposit_complete.bk_name}></td>
							<td class="text-right"><{$deposit_complete.dp_money_vat|number_format:0}></td>
							<td>
								<a href="deposit_list.php?sch_dp_no=<{$deposit_complete.dp_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
							<td>
								<a href="work_list_cs.php?sch=Y&sch_order_number=<{$deposit_complete.ord_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
						</tr>
						<{/foreach}>
					<{else}>
						<tr class="text-center">
							<td colspan="6" class="text-center">데이터가 없습니다</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
		</div>
		<div style="padding-top: 10px;">
			<b>입금대기</b>
			<table class="table table-striped table-bordered" style="table-layout: fixed;margin-bottom: 3px;">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">담당자</th>
						<th scope="col">입금요청일</th>
						<th scope="col">입금자명</th>
						<th scope="col">입금완료액</th>
						<th scope="col">입금리스트</th>
						<th scope="col">CS리스트</th>
					</tr>
				</thead>
				<tbody style="background: white;">
					<{if $deposit_wait_list}>
						<{foreach from=$deposit_wait_list item=deposit_wait}>
						<tr class="text-center">
							<td><{$deposit_wait.s_name}></td>
							<td><{$deposit_wait.reg_day}></td>
							<td><{$deposit_wait.bk_name}></td>
							<td class="text-right"><{$deposit_wait.cost|number_format:0}></td>
							<td>
								<a href="deposit_list.php?sch_dp_no=<{$deposit_wait.dp_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
							<td>
								<a href="work_list_cs.php?sch=Y&sch_order_number=<{$deposit_wait.ord_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
						</tr>
						<{/foreach}>
					<{else}>
						<tr class="text-center">
							<td colspan="6" class="text-center">데이터가 없습니다</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<span style="color: red; font-weight: bold; font-weight: bold;">※ 입금대기가 길어질 경우 입금리스트로 이동 후 입금 확인 데이터를 검색하고 입금 확인 완료 처리해 보세요.</span>
		</div>
		<div>
			<b>최근(5일 이내) 환불완료</b>
			<table class="table table-striped table-bordered" style="table-layout: fixed;">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">담당자</th>
						<th scope="col">환불완료일</th>
						<th scope="col">환불계좌</th>
						<th scope="col">환불금액</th>
						<th scope="col">출금리스트</th>
						<th scope="col">CS리스트</th>
					</tr>
				</thead>
				<tbody style="background: white;">
					<{if $refund_complete_list}>
						<{foreach from=$refund_complete_list item=refund_complete}>
							<tr class="text-center">
								<td><{$refund_complete.s_name}></td>
								<td><{$refund_complete.wd_date}></td>
								<td><{$refund_complete.bk_title}></td>
								<td class="text-right"><{$refund_complete.wd_money|number_format:0}></td>
								<td>
									<a href="withdraw_list.php?sch_wd_no=<{$refund_complete.wd_no}>" class="move_url" target="_blank">바로 가기</a>
								</td>
								<td>
									<a href="work_list_cs.php?sch=Y&sch_w_no=<{$refund_complete.ord_no}>" class="move_url" target="_blank">바로 가기</a>
								</td>
							</tr>
						<{/foreach}>
					<{else}>
						<tr class="text-center">
							<td colspan="6" class="text-center">데이터가 없습니다</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
		</div>
		<div>
			<b>환불대기</b>
			<table class="table table-striped table-bordered" style="table-layout: fixed;margin-bottom: 3px;">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">담당자</th>
						<th scope="col">환불요청일</th>
						<th scope="col">환불계좌</th>
						<th scope="col">수령자</th>
						<th scope="col">환불금액</th>
						<th scope="col">출금리스트</th>
						<th scope="col">CS리스트</th>
					</tr>
				</thead>
				<tbody style="background: white;">
					<{if $refund_wait_list}>
						<{foreach from=$refund_wait_list item=refund_wait}>
							<tr class="text-center">
								<td><{$refund_wait.s_name}></td>
								<td><{$refund_wait.reg_day}></td>
								<td><{$refund_wait.bk_title}></td>
								<td><{$refund_wait.bk_name}></td>
								<td class="text-right"><{$refund_wait.cost|number_format:0}></td>
								<td>
									<a href="withdraw_list.php?sch_wd_no=<{$refund_wait.wd_no}>" class="move_url" target="_blank" style="padding: 5px 7px;">바로가기</a>
								</td>
								<td>
									<a href="work_list_cs.php?sch=Y&sch_w_no=<{$refund_wait.ord_no}>" class="move_url" target="_blank" style="padding: 5px 7px;">바로가기</a>
								</td>
							</tr>
						<{/foreach}>
					<{else}>
						<tr class="text-center">
							<td colspan="7" class="text-center">데이터가 없습니다</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
		</div>
		<div>
			<b>환불접수대기</b>
			<table class="table table-striped table-bordered" style="table-layout: fixed;margin-bottom: 3px;">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">담당자</th>
						<th scope="col">업무요청일</th>
						<th scope="col" width="180px">환불정보</th>
						<th scope="col">업무리스트</th>
						<th scope="col">CS리스트</th>
					</tr>
				</thead>
				<tbody style="background: white;">
				<{if $refund_work_wait_list}>
					<{foreach from=$refund_work_wait_list item=refund_work_wait}>
						<tr class="text-center">
							<td><{$refund_work_wait.s_name}></td>
							<td><{$refund_work_wait.reg_day}></td>
							<td class="text-left"><{$refund_work_wait.task_req}></td>
							<td>
								<a href="work_list.php?sch_w_no=<{$refund_work_wait.w_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
							<td>
								<a href="work_list_cs.php?sch=Y&sch_w_no=<{$refund_work_wait.linked_no}>" class="move_url" target="_blank">바로 가기</a>
							</td>
						</tr>
					<{/foreach}>
				<{else}>
					<tr class="text-center">
						<td colspan="5" class="text-center">데이터가 없습니다</td>
					</tr>
				<{/if}>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

</body>
</html>
