<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}
	.staff-btn-group button{background: #ccc; color: white; font-size: 14px;margin-top: 0;width: 100px;padding: 5px 10px;}
	.staff-btn-group button.btn-selected{background: #333;}

	.main-container .table-header{width: 330px; table-layout: inherit !important; float: left;border: 0; border-left: 1px solid #dee2e6;}
	.main-container .table-content-wrapper{float: left; max-width: 991px; overflow-x: scroll;}
	.main-container .table-content{table-layout: fixed;border: 0; border-right: 1px solid #dee2e6;}
	.main-container .csm-section{max-width: 1321px; margin: 30px 0; overflow: hidden;}
	.main-container .table thead th{text-align: center; background: #333; color: white; width: 110px;}
	.main-container .table thead th.kind-th{width: 300px;}
	.main-container .table tbody th{text-align: left; background: #333; color: white; vertical-align: middle;}
	.main-container .table tbody th button{color: white; font-weight: bold; border: 0;}
	.main-container .table tbody td{text-align: right; font-weight: bold; vertical-align: middle; height: 35px;}
	.main-container .table tbody td.csm-qty-td{color: red;}
	.main-container .table tbody tr.grey-back-tr{background: #ccc;}
	.main-container .table tbody tr.csm-total-tr th{text-align: center; height: 50px;}
	.main-container .table tbody tr.csm-total-tr td{vertical-align: middle; height: 50px;}

	.main-container .table tbody td.editable{background: rgb(255,255,0, 0.4); cursor: pointer;}
	.main-container .table tbody td.editable > span{display: inline-block;}
	.main-container .table tbody td.editable > input{display: none; font-weight: bold; text-align: right; width: 70px; line-height: 1; padding: 2px 10px 2px 5px; margin: 0;}
	.main-container .total-report-toggle{display: table-row;}
	.main-container .total-report-toggle th{height: 35px;}
	.main-container .total-report-toggle td{height: 35px;}
	.main-container .row-report-toggle th{height: 35px;}
	.main-container .row-report-toggle td{height: 35px;}
	.main-container .row-report-toggle{display: none;}
	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.main-container .table tbody .report-memo-on{background: url('./images/icon/memo_on.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.main-container .table tbody .report-memo-off{background: url('./images/icon/memo_off.png') no-repeat;width: 19px; height: 23px; background-size: 14px; position: absolute; left: 7px; top: 8px; cursor: pointer;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #csm-memo-modal{height: auto; width: 100%;overflow: unset; max-width: 530px; padding: 5px;}
	.jquery-modal #csm-memo-modal table{margin: 0;}
</style>

<div class="admin_content" style="width: 1584px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="wise_csm_bad_report.php" class="form-inline" autocomplete="off">
		<input type="hidden" name="sch_date" value="<{$sch_date}>" />
		<input type="hidden" name="sch_s_no" id="sch_s_no" value="<{$sch_s_no}>" />
		<input type="hidden" name="sch_toggle" id="sch_toggle" value="<{$sch_toggle}>" />
		<div class="staff-btn-group form-group" style="display: block; width: 100%; margin-top: 10px;">
			<label style="float: left; margin: 9px 0 0 0; width: 80px;">CS 담당자</label>
			<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_s_no}>btn-selected<{/if}>" onclick="changeStaff('')">전체</button>
			<{foreach from=$cs_staff_list key=key item=label}>
			<button type="button" class="btn btn-sm font-weight-bold <{if $sch_s_no == $key}>btn-selected<{/if}>" onclick="changeStaff('<{$key}>')" ><{$label}></button>
			<{/foreach}>
		</div>

		<div class="form-group" style="margin-top: 5px;">
			<label style="float: left; margin: 9px 0 0 0; width: 80px;">항목</label>
			<select id="sch_csm_g1" name="sch_csm_g1" class="form-control sch_result_type">
				<option value="">::전체::</option>
				<{section name=data loop=$csm_g1_list}>
				<option value="<{$csm_g1_list[data].k_name_code}>" <{if $sch_csm_g1==$csm_g1_list[data].k_name_code}>selected<{/if}>><{$csm_g1_list[data].k_name}></option>
				<{/section}>
			</select>
			<span class="tlt"> > </span>
			<select id="sch_csm_g2" name="sch_csm_g2" class="form-control sch_result_type">
				<option value="">::전체::</option>
				<{section name=data loop=$csm_g2_list}>
				<option value="<{$csm_g2_list[data].k_name_code}>" <{if $sch_csm_g2==$csm_g2_list[data].k_name_code}>selected<{/if}>><{$csm_g2_list[data].k_name}></option>
				<{/section}>
			</select>

			<label>브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="width: 100px; margin-right: 5px; display: inline-block;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="width: 100px; margin-right: 5px;display: inline-block;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="width: 100px; display: inline-block;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>날짜</label>
			<div id="sch_date_type_day" class="sch_date_type">
				<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
				~
				<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
			</div>
			<div id="sch_date_type_week" class="sch_date_type">
				<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
				~
				<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
			</div>
			<div id="sch_date_type_month" class="sch_date_type">
				<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
				~
				<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
			</div>
			<div style="margin-right: 10px;margin-left: 10px;">
				<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day');">
				<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week');">
				<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
				<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month');">
				<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
			</div>
			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>
		</div>
	</form>

	<div class="main-container">
		<section class="csm-section">
			<table class="table table-bordered table-header">
				<thead>
					<th colspan="2" class="kind-th">항목</th>
				</thead>
				<tbody>
					<{if $csm_bad_report_list || $csm_bad_report_total_list }>
						<{if $csm_bad_report_list}>
							<{foreach from=$csm_bad_report_list key=csm_g1 item=csm_report_data}>
								<{assign var="rowspan" value=$csm_report_data|@count}>
								<{assign var="csm_g1_idx" value=1}>
								<{foreach from=$csm_report_data key=csm_g2 item=csm_report}>
									<{if $csm_g1_idx == 1}>
									<tr class="row-report-<{$csm_g1}> row-report-toggle">
										<th rowspan="<{$rowspan}>">
											<button type="button" onclick="toggleRowReport('row','<{$csm_g1}>')">[-]</button>
											<{$csm_g1_title_list[$csm_g1]}>
										</th>
									<{else}>
									<tr class="row-report-<{$csm_g1}> row-report-toggle">
									<{/if}>
										<th><{$csm_g2_title_list[$csm_g2]}></th>
									</tr>

									<{if $csm_g1_idx == $rowspan}>
									<tr class="total-report-<{$csm_g1}> total-report-toggle">
										<th colspan="2">
											<button type="button" onclick="toggleRowReport('total','<{$csm_g1}>')">[+]</button>
											<{$csm_g1_title_list[$csm_g1]}>
										</th>
									</tr>
									<{/if}>
									<{assign var="csm_g1_idx" value=$csm_g1_idx+1 }>
								<{/foreach}>
							<{/foreach}>
						<{/if}>
						<{if $csm_bad_report_total_sum_list}>
							<tr class="csm-total-tr grey-back-tr" >
								<th colspan="2" >합계</th>
							</tr>
						<{/if}>
					<{/if}>
				</tbody>
			</table>

			<div class="table-content-wrapper">
				<table class="table table-bordered table-content">
					<thead>
						<tr>
							<{foreach from=$csm_bad_date_list item=date_data}>
							<th><{$date_data.title}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $csm_bad_report_list || $csm_bad_report_total_sum_list }>
							<{if $csm_bad_report_list}>
								<{foreach from=$csm_bad_report_list key=csm_g1 item=csm_report_data}>
									<{assign var="rowspan" value=$csm_report_data|@count}>
									<{assign var="csm_g1_idx" value=1}>
									<{foreach from=$csm_report_data key=csm_g2 item=csm_report}>
										<tr class="row-report-<{$csm_g1}> row-report-toggle">
											<{foreach from=$csm_bad_date_list key=csm_date item=date_data}>
												<td class="csm-qty-td" style="position: relative;">
													<{$csm_report[$csm_date].qty|number_format:0}>
													<a href="work_cms_return_list.php?sch_default=Y&sch_detail=Y&sch_req_s_date=<{$date_data.s_date}>&sch_req_e_date=<{$date_data.e_date}>&sch_bad_reason_g1=<{$csm_g1}>&sch_bad_reason=<{$csm_g2}>" target="_blank">
														<img src="./images/icon/new_win_icon.png" alt="회수리스트 새창연결">
													</a>
													<{if isset($bad_file_chk_list[$csm_date][$csm_g2])}>
													<button type="button" style="margin:0; padding: 0; color: black; background: none; font-weight:bold; font-size: 11px;" onclick="openFileDownload('<{$date_data.s_date}>','<{$date_data.e_date}>', '<{$csm_g1}>', '<{$csm_g2}>')" class="btn_file" title="다운로드">
														<img src="./images/common/ico/ico_file.gif" alt="CS 다운로드">
													</button>
													<{/if}>
												</td>
											<{/foreach}>
										</tr>
										<{if $csm_g1_idx == $rowspan}>
										<tr class="total-report-<{$csm_g1}> total-report-toggle">
											<{foreach from=$csm_bad_report_total_list[$csm_g1] key=bad_date item=date_total_qty}>
												<td class="csm-qty-td cate-qty-<{$csm_g1}>-<{$bad_date}>"><{$date_total_qty|number_format:0}></td>
											<{/foreach}>
										</tr>
										<{/if}>
										<{assign var="csm_g1_idx" value=$csm_g1_idx+1 }>
									<{/foreach}>
								<{/foreach}>
							<{/if}>
							<{if $csm_bad_report_total_sum_list}>
								<tr class="csm-total-tr">
									<{foreach from=$csm_bad_date_list key=csm_date item=date_label}>
									<td class="csm-qty-td csm-total-<{$csm_date}>"><{$csm_bad_report_total_sum_list[$csm_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
							<{/if}>
						<{/if}>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
<!-- //admin_content -->

<div class="modal" id="csm-memo-modal">
	<div class="memo-content">
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		$("#sch_csm_g2").remoteChained({
			parents: "#sch_csm_g1",
			url: "/v1/api/csm.json.php?parent_data=sch_csm_g1",
			loading: "로딩중..",
			clear: true
		});

    	var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}

		var sch_toggle = $("#sch_toggle").val();

		if(sch_toggle){
			var sch_toggle_list = sch_toggle.split(',');

			for(var sch_idx in sch_toggle_list)
			{
				var toggle_row = sch_toggle_list[sch_idx];
				if(toggle_row != ''){
					$(".row-report-"+toggle_row).show();
					$(".total-report-"+toggle_row).hide();
				}
			}
		}

		/** 가격입력 체크 */
		document.addEventListener('click', function(event) {
			var isClickInsideElement = event.target.className;
			if (isClickInsideElement != 'editable csm-qty-td' && isClickInsideElement != 'editable' && isClickInsideElement != 'editable-span' && isClickInsideElement != 'editable-input') {
				$(".editable").find('.editable-input').hide();
				$(".editable").find('.editable-span').show();
			}
		});

		$(".editable").click(function(){
			$(".editable").find('.editable-input').hide();
			$(".editable").find('.editable-span').show();
			$(this).find('.editable-span').hide();
			$(this).find('.editable-input').show();
			$(this).find('.editable-input').focus();
		});

		$(".editable-span").click(function(){
			$(".editable").find('.editable-input').hide();
			$(".editable").find('.editable-span').show();
			$(this).closest('.editable-input').show();
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
    });

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}

	function toggleRowReport(type, id)
	{
		var sch_toggle = $("#sch_toggle").val();
		var sch_toggle_list_val = "";
		var sch_toggle_val = "";

		if(sch_toggle != "")
		{
			sch_toggle += ","+id;
			sch_toggle_list_val = sch_toggle.split(',');
			for(var idx in sch_toggle_list_val)
			{
				var chk_str = sch_toggle_list_val[idx];

				if(chk_str != ""){
					if(!(type == 'row' && chk_str == id)){
						sch_toggle_val += chk_str+",";
					}
				}
			}

		}else{
			sch_toggle_val = id;
		}

		if(type == 'total'){
			$(".total-report-"+id).hide();
			$(".row-report-"+id).show();
		}else if(type == 'row'){
			$(".row-report-"+id).hide();
			$(".total-report-"+id).show();
		}

		$("#sch_toggle").val(sch_toggle_val);
	}

	function save_el(s_no, csm_g1, csm_g2, key_date, obj)
	{
		var parent = $(obj).parent();
		var val 	= uncomma(obj.value);
		var pre_val = $(parent).find('.pre-qty').val();

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(pre_val == val)
			return false;

		$.post("wise_csm_bad_report.php", {process : 'modify_qty', s_no : s_no, csm_g2 : csm_g2, date: key_date, val : val}, function(result){
			parent.find('.editable-span').text(comma(val)).show();
			parent.find('.editable-input').hide();

			$(parent).find('.pre-qty').val(val);

			var cate_qty  = uncomma($(".cate-qty-"+csm_g1+"-"+key_date).text());
			var csm_total = uncomma($(".csm-total-"+key_date).text());

			cate_qty = cate_qty - pre_val + val;
			csm_total  = csm_total - pre_val + val;

			$(".cate-qty-"+csm_g1+"-"+key_date).text(comma(cate_qty));
			$(".csm-total-"+key_date).text(comma(csm_total));
		});
	}

	function changeStaff(s_no)
	{
		$("#sch_s_no").val(s_no);
		document.forms['search_form'].submit();
	}

	function inputNumberFormat(obj)
	{
		var numVal = uncomma(obj.value);
		var regNum = /^[0-9]+?$/g;

		if(regNum.test(numVal)){
			obj.value = comma(numVal);
		}else{
			obj.value = 0;
		}
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

    function openMemoModal(cbm_no, k_name_code, bad_date, type)
    {
        var s_no = $("#sch_s_no").val();
		var iframe = "<iframe src='wise_csm_bad_report_memo.php?cbm_no="+cbm_no+"&s_no="+s_no+"&k_name_code="+k_name_code+"&bad_date="+bad_date+"&type="+type+"' name='csm_memo' id='csm_memo' width='520px' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";

		$(".memo-content").html("");
		$(".memo-content").html(iframe);
		$("#csm-memo-modal").modal({fadeDuration: 250});
    }

	function fixIframeHeight(obj)
	{
		var iframeHeight = obj.contentWindow.document.body.scrollHeight + 20;

		if(iframeHeight > 800){
			iframeHeight = 880;
		}

		obj.style.height=iframeHeight+'px';
	}

	function openFileDownload(s_date, e_date, csm_g1, csm_g2)
	{
		var fileDownloadUrl = "wise_csm_bad_report.file_download.php?s_date="+s_date+"&e_date="+e_date+"&csm_g1="+csm_g1+"&csm_g2="+csm_g2;

		window.open(fileDownloadUrl,"CS 첨부파일 다운로드",'width=530, height=440, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}
</script>

</body>
</html>
