<{include file="inc/boot_navibar.html"}>

<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}

	.return-qty-card-wrapper, .return-price-card-wrapper{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word;
		background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px; margin-top: 15px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#return-qty-chart, #return-price-chart{position: relative; height: 500px;}
	.pagination-wrapper{margin-top: 10px;}
	.pagination-wrapper{ box-sizing: border-box;}
	.pagination-wrapper > div{justify-content: center !important; display: flex !important;}
	.pagination-wrapper .pagination{margin-bottom: 0; font-size: 14px; padding-left: .5rem; padding-right: .5rem; list-style:none; border-radius:.25rem; margin-top: 3px;}
	.pagination-wrapper .pagination .page-item{float: left;}
	.pagination-wrapper .pagination .page-item .page-link{padding: .5rem 0.5rem; margin-left: 0; line-height: 1.25; border: 1px solid #dee2e6; text-decoration: none; display: block;}
	.pagination-wrapper .pagination .page-item.active .page-link{background-color: #007bff; border-color: #007bff; color: #fff;}

	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color: #DDD;}

	.return-qty-table-wrapper, .return-price-table-wrapper{max-width: 1200px; border: 1px solid rgba(0,0,0,.125); padding: 10px;flex: 1 1 auto;min-height: 1px;}
	#return-qty-table, #return-price-table{width:100%;}
	.return-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px; width: 1200px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="wise_csm_work_return_chart.php" class="form-inline" autocomplete="off">
		<input type="hidden" name="sch_date" value="<{$sch_date}>" />
		<div class="form-group">
			<label>출금완료일</label>
			<input type="text" name="sch_wd_s_month" id="sch_wd_s_month" class="month-picker form-control" value="<{$sch_wd_s_month}>" />
			<span class="tlt">~</span>
			<input type="text" name="sch_wd_e_month" id="sch_wd_e_month" class="month-picker form-control" value="<{$sch_wd_e_month}>" />

			<label for="sch_brand_g1">브랜드</label>
			<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
			<span class="tlt"> > </span>
			<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
				<option value="">::전체::</option>
				<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;">검색</button>

			<a href="wise_csm_work_return_list.php" style="margin: 0 5px;">
				<img src="./images/icon/work_list_off.png">
			</a>
			<a href="wise_csm_work_return_chart.php" style="margin: 0 5px;">
				<img src="./images/icon/work_chart_on.png">
			</a>
		</div>
	</form>

	<!-- CHART -->
	<div style="margin: 20px 0;">
		<h2 class="return-section-label">브랜드별 환불 건</h2>
		<div id="return-qty-card" class="return-qty-card-wrapper">
			<div class="card-body">
				<div id="return-qty-chart"></div>
				<div class="pagination-wrapper">
					<div>
						<ul id="data-sum-qty-bar" class="pagination data-sum-bar">
							<li class="page-item active"><a data-type="qty" data-key="each" class="page-link" href="#return-qty-card">개별</a></li>
							<li class="page-item"><a data-type="qty" data-key="sum" class="page-link" href="#return-qty-card">합산</a></li>
						</ul>
						<ul id="data-line-qty-bar" class="pagination data-line-bar">
							<li class="page-item active"><a data-type="qty" data-key="line" class="page-link" href="#return-qty-card">선형</a></li>
							<li class="page-item"><a data-type="qty" data-key="bar" class="page-link" href="#return-qty-card">막대형</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="return-qty-table-wrapper" id="return-qty-table-wrapper">
			<table class="table table-striped table-bordered" id="return-qty-table" style="table-layout: fixed;">
				<colgroup>
					<col width="200px;">
					<{foreach from=$return_date_list key=key_date item=date_label}>
						<col width="80px;">
					<{/foreach}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">브랜드</th>
						<{foreach from=$return_date_list key=key_date item=date_data}>
							<th scope="col"><{$date_data.title}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
				<{if $return_stats_list}>
					<{foreach from=$return_brand_list key=brand item=brand_data}>
						<tr>
							<td><{$brand_data.brand_name}></td>
							<{foreach from=$return_date_list key=key_date item=date_data}>
								<td class="text-right">
									<a href="wise_csm_work_return_list.php?sch_reg_s_date=&sch_reg_e_date=&sch_wd_s_date=<{$date_data.s_date}>&sch_wd_e_date=<{$date_data.e_date}>&<{$brand_data.brand_url}>" target="_blank">
										<span style="float: right;"><{$return_stats_list['qty'][$key_date][$brand]|number_format:0}></span>
									</a>
								</td>
							<{/foreach}>
						</tr>
					<{/foreach}>
				<{/if}>
				</tbody>
			</table>
		</div>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('return-qty-table');" /></div>
	</div>

	<div style="margin: 50px 0 20px;">
		<h2 class="return-section-label">브랜드별 환불 금액</h2>
		<div id="return-price-card" class="return-price-card-wrapper">
			<div class="card-body">
				<div id="return-price-chart"></div>
				<div class="pagination-wrapper">
					<div>
						<ul id="data-sum-price-bar" class="pagination data-sum-bar">
							<li class="page-item active"><a data-type="price" data-key="each" class="page-link" href="#return-price-card">개별</a></li>
							<li class="page-item"><a data-type="price" data-key="sum" class="page-link" href="#return-price-card">합산</a></li>
						</ul>
						<ul id="data-line-price-bar" class="pagination data-line-bar">
							<li class="page-item active"><a data-type="price" data-key="line" class="page-link" href="#return-price-card">선형</a></li>
							<li class="page-item"><a data-type="price" data-key="bar" class="page-link" href="#return-price-card">막대형</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="return-price-table-wrapper" id="return-price-table-wrapper">
			<table class="table table-striped table-bordered" id="return-price-table" style="table-layout: fixed;">
				<colgroup>
					<col width="200px;">
					<{foreach from=$return_date_list key=key_date item=date_label}>
						<col width="80px;">
					<{/foreach}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">브랜드</th>
						<{foreach from=$return_date_list key=key_date item=date_data}>
							<th scope="col"><{$date_data.title}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
				<{if $return_stats_list}>
					<{foreach from=$return_brand_list key=brand item=brand_data}>
						<tr>
							<td><{$brand_data.brand_name}></td>
							<{foreach from=$return_date_list key=key_date item=date_data}>
								<td class="text-right">
									<a href="wise_csm_work_return_list.php?sch_reg_s_date=&sch_reg_e_date=&sch_wd_s_date=<{$date_data.s_date}>&sch_wd_e_date=<{$date_data.e_date}>&<{$brand_data.brand_url}>" target="_blank">
										<span style="float: left;">￦</span><span style="float: right;"><{$return_stats_list['price'][$key_date][$brand]|number_format:0}></span>
									</a>
								</td>
							<{/foreach}>
						</tr>
					<{/foreach}>
				<{/if}>
				</tbody>
			</table>
		</div>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('return-price-table');" /></div>
	</div>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	var myQtyChart = echarts.init(document.getElementById('return-qty-chart'), 'shine');
	var myPriceChart = echarts.init(document.getElementById('return-price-chart'), 'shine');

    $(document).ready(function() {
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$(".data-line-bar .page-link").click(function(){
			var type 		= $(this).attr('data-type');
			var key 		= $(this).attr('data-key');
			var sumType 	= $("#data-sum-"+type+"-bar").children(".active").children('.page-link').attr('data-key');

			$("#data-line-"+type+"-bar .page-item").removeClass('active');
			$(this).parent(".page-item").addClass('active');

			drawGraph(type, key, sumType);
		});

		$(".data-sum-bar .page-link").click(function(){
			var type 		= $(this).attr('data-type');
			var sumType		= $(this).attr('data-key');
			var key 	   	= $("#data-line-"+type+"-bar").children(".active").children('.page-link').attr('data-key');

			$("#data-sum-"+type+"-bar .page-item").removeClass('active');
			$(this).parent(".page-item").addClass('active');

			drawGraph(type, key, sumType);
		});
    });

	function drawGraph(type, key, sumType)
	{
		if(type == 'qty'){
			var myChart = myQtyChart;
		}else if(type == 'price'){
			var myChart = myPriceChart;
		}

		myChart.clear();
		var fullData = <{$full_data}>;

		if(fullData != '')
		{
			var statsData = fullData[type][sumType][key];

			var legendData = [];

			var refresh 	= false;
			var boundaryGap = false;

			if(sumType == 'sum'){
				legendData.push("합산");
				refresh = true;
			}else{
				var legendList = <{$legend_list}>;

				$.each(legendList, function(idx, item){
					legendData.push(item);
				});
			}

			var pushData = [];

			if(key == 'line'){
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'line',
						data: item['data'],
						smooth: true
					});
				});
			}else if(key == 'bar'){
				boundaryGap = true;
				$.each(statsData, function(idx, item){
					pushData.push({
						name: item['title'],
						type: 'bar',
						data: item['data']
					});
				});
			}

			myChart.setOption({
				tooltip: {
					trigger: 'axis',
					textStyle: {
						color: '#FFF'
					}
				},
				legend: {
					type: 'scroll',
					data: legendData,
					textStyle: {
						width: 150,
						overflow: 'break'
					},
					top: 5,
				},
				grid: {
					top: 70,
					left: 35,
					right: 15,
					bottom: 50,
					containLabel: true
				},
				dataZoom: [{
					type: 'inside',
					start : 20,
					end : 100
				}, {
					type: 'slider',
					start : 20,
					end : 100
				}],
				xAxis: {
					type: 'category',
					boundaryGap: boundaryGap,
					data: [<{$x_label_list}>]
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			}, refresh);
		}
	}

	drawGraph('qty', 'line', 'each');
	drawGraph('price', 'line', 'each');
</script>
</body>
</html>
