<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 1584px; color: #333; font-family: '맑은고딕';}
	.top-side{overflow: hidden;}
	.top-side article{float: left; width: 600px; height: 500px; background: #eee; padding: 20px;}
	.top-side article.cs-board{margin-left: 10px; height: 410px; margin-bottom:10px;}
	.top-side article.cs-with-board{margin-left: 10px; height: 450px;}
	.top-side article.cs-withdraw{margin-left: 10px; height: 170px; margin-bottom:10px;}
	.top-side article.work-link-side{height: 150px;}
	.top-side article.deposit-withdraw-side{height: auto;}
	.top-side h5{font-weight: bold;}
	.top-side .csm-text section h5{letter-spacing: -1px;}
	.top-side .csm-text section div{width: 460px; height: 150px; margin-top: 10px; padding: 10px; font-size: 13px; font-weight: bold; background: white; float: left; margin-right: 10px;}
	.top-side .csm-text section button{color: white; font-weight: bold; padding: 30px 10px; height: 150px; margin-top: 10px; border-radius: 10px; width: 85px;}
	.cs-board table thead th, .cs-with-board table thead th, .cs-withdraw table thead th{background: #333; color: white; text-align: center; height: 40px; font-weight: 400;}
	.cs-board table tbody td, .cs-with-board table tbody td{background: white; padding-left: 5px; text-align: center; border-bottom: 1px solid #eee; height: 50px;}
	.cs-withdraw table tbody td{background: white; padding-left: 5px; text-align: center; border: 1px solid #CCC; height: 40px;}

	.work-link-side{clear: both; overflow: hidden; margin-top: 20px;width: 600px; height: 120px; padding: 20px; background: #eee;}
	.work-link-side h5{font-weight: bold; margin-bottom: 20px;}
	.work-link-side section{text-align: center;}
	.work-link-side button{background: #333; color: white; padding: 10px 20px; font-weight: bold; border-radius: 5px;}

	.work-chart-side{margin-top: 30px;}
	.ev-chart-side{margin-top: 30px;}
	.bad-chart-side{margin-top: 30px;}
	.cs-chart-side{margin-top: 30px;}

	.top-side article.wm-work{width: 1210px; margin-top: 10px; height: auto;}
	.wm-work-table tbody td{background: white; border: 1px solid #CCC;}
	.wm-work-table td.staff-sum{background: lightblue;}
	.work-none{color: lightgrey;}
	.work-active{color: red;}
	.reg_date_btn_active{background: #3093c2 !important;}
	.work_quick_btn{background-color: #DDD; font-weight: bold; width: 150px; height: 40px; margin: 0 20px 0 0; line-height: 12px; float: left; font-size: 12px; border: 1px solid #999; padding:0;}
	.work_quick_btn_active{background-color: #BBB;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<div class="top-side">
		<article class="csm-text">
			<h5>고객상담 후 아래내용을 고객에게 전달 해 주세요.</h5>
			<section style="margin: 30px 0;">
				<h5 style="color: #4579FF;">· 온라인 용</h5>
				<div id="online-txt" style="border: 1px solid #4579FF;"><{$online_txt}></div>
				<button type="button" onclick="copyTable('online-txt')" style="background: #4579FF; ">온인라인용<br>복사하기</button>
			</section>
			<section>
				<h5 style="color: #F79646;">· ARS 용</h5>
				<div id="ars-txt" style="border: 1px solid #F79646;"><{$ars_txt}></div>
				<button type="button" onclick="copyTable('ars-txt')" style="background: #F79646;">ARS용<br>복사하기</button>
			</section>
		</article>

		<{if $is_cs_staff}>
			<article class="cs-withdraw">
				<h5 style="font-weight: bold; margin-bottom: 20px;">출금 승인 현황<a href="withdraw_list.php?sch_wd_quick=&ord_page_type=100&sch_my_c_no=&sch_wd_account=&sch_c_name=&sch_prd_no=&sch_subject=&sch_brand_g1=&sch_brand_g2=&sch_brand=&sch_w_my_c_no=&sch_w_c_name=&sch_w_team=all&sch_w_s_name=&sch_wd_no=&sch_w_req_date=&sch_wd_state=&sch_wd_method=1&sch_s_wd_date=&sch_e_wd_date=&sch_is_inspection=&sch_is_approve=&sch_reg_s_no=최지욱&sch_wd_tax_state=&sch_wd_etc=" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="first" style="min-width:110px; max-width:110px;"></th>
							<{foreach $withdraw_date_list key=date_key item=date_data}>
								<th style="min-width:75px;"><{$date_data.title}></th>
							<{/foreach}>
							<th style="min-width:75px;">total<br/><span style="font-size: 10px;">승인대기/등록수</span></th>
						</tr>
					</thead>
					<tbody>
						<{foreach from=$withdraw_prd_list key=prd_key item=prd_label}>
							<tr>
								<td class="first text-left"><{$prd_label}></td>
								<{foreach $withdraw_date_list key=date_key item=date_data}>
									<{assign var=withdraw_data value=$withdraw_list[$prd_key][$date_key]}>
									<td>
										<a href="withdraw_list.php?sch_wd_quick=&ord_page_type=100&sch_my_c_no=&sch_wd_account=&sch_c_name=&sch_prd_no=&sch_subject=&sch_brand_g1=&sch_brand_g2=&sch_brand=&sch_w_my_c_no=&sch_w_c_name=&sch_w_team=all&sch_w_s_name=&sch_wd_no=&sch_w_req_date=<{$date_data.date}>&sch_wd_state=&sch_wd_method=1&sch_s_wd_date=&sch_e_wd_date=&sch_is_inspection=&sch_is_approve=&sch_reg_s_no=최지욱&sch_wd_tax_state=&sch_wd_etc=" target="_blank" <{if $withdraw_data.wait > 0}>style="color: red;"<{else}>style="color: lightgrey;"<{/if}>>
											<{$withdraw_data.wait|number_format:0}>/<{$withdraw_data.total|number_format:0}>
										</a>
									</td>
								<{/foreach}>
								<td <{if $withdraw_list[$prd_key]['total'].wait > 0}>style="color: red;"<{else}>style="color: lightgrey;"<{/if}>><{$withdraw_list[$prd_key]['total'].wait|number_format:0}>/<{$withdraw_list[$prd_key]['total'].total|number_format:0}></td>
							</tr>
						<{/foreach}>
					</tbody>
				</table>
			</article>

			<article class="cs-board">
				<h5 style="font-weight: bold; margin-bottom: 20px;">CS팀 부서 게시판<a href="board/board_normal_list.php?b_id=wise_csm" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="first" style="min-width:320px; max-width:320px;">TITLE</th>
							<th style="min-width:100px;">WRITER</th>
							<th style="min-width:40px;">HIT</th>
							<th style="min-width:100px;">DATE</th>
						</tr>
					</thead>
					<tbody>
						<{if $total_num == 0}>
							<tr>
								<td colspan="4" class="first" style="text-align: center; height: 30px;"> 등록된 자료가 없습니다.</td>
							</tr>
						<{else}>
							<{foreach from=$board_cs_list item=board_cs}>
								<tr>
									<td class="first" style="text-align: left;">
										<a href="board/board_normal_detail.php?no=<{$board_cs.no}>&b_id=wise_csm" ><{$board_cs.title}></a>
									</td>
									<td><{$board_cs.writer}></td>
									<td><{$board_cs.hit}></td>
									<td><span style="color: blue;"><{$board_cs.reg_date}></span><br/><span style="color: green;"><{$board_cs.reg_time}></span></td>
								</tr>
							<{/foreach}>
						<{/if}>
						<tr>
							<td colspan="4" class="list_button" style="background: none; padding: 10px 0 0 0;">
								<div class="left_wrap"><button class="btn_style1" style="padding: 5px 15px;" onclick="location.href='board/board_normal_detail.php?mode=write&b_id=wise_csm'"><span>WRITE</span></button></div>
							</td>
						</tr>
					</tbody>
				</table>
			</article>

			<{if $is_cs_staff}>
				<article class="deposit-withdraw-side">
					<iframe src="wise_csm_work_management.php" id="wise_csm_work_management" onload="fixIframeHeight(this)" width="560" height="500" frameborder="0"></iframe>
				</article>
			<{else}>
				<article class="work-link-side">
					<h5>업무보고 바로가기</h5>
					<section>
						<button type="button" onclick="moveWorkLink('inout')" style="margin-right: 50px;">인-아웃콜 바로가기</button>
						<button type="button" onclick="moveWorkLink('online')" style="margin-right: 50px;">온라인문의 바로가기</button>
						<button type="button" onclick="moveWorkLink('bad')">불량사유 관리 바로가기</button>
					</section>
				</article>
			<{/if}>

			<article class="cs-with-board">
				<h5 style="font-weight: bold; margin-bottom: 20px;">CS & 위드플레이스 업무게시판<a href="board/board_normal_list.php?b_id=cs_with" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="first" style="min-width:320px; max-width:320px;">TITLE</th>
							<th style="min-width:100px;">WRITER</th>
							<th style="min-width:40px;">HIT</th>
							<th style="min-width:100px;">DATE</th>
						</tr>
					</thead>
					<tbody>
					<{if $with_total_num == 0}>
						<tr>
							<td colspan="4" class="first" style="text-align: center; height: 30px;"> 등록된 자료가 없습니다.</td>
						</tr>
					<{else}>
						<{foreach from=$board_cs_with_list item=board_with}>
							<tr>
								<td class="first" style="text-align: left;">
									<a href="board/board_normal_detail.php?no=<{$board_with.no}>&b_id=cs_with" ><{$board_with.title}></a>
								</td>
								<td><{$board_with.writer}></td>
								<td><{$board_with.hit}></td>
								<td><span style="color: blue;"><{$board_with.reg_date}></span><br/><span style="color: green;"><{$board_with.reg_time}></span></td>
							</tr>
						<{/foreach}>
					<{/if}>
					<tr>
						<td colspan="4" class="list_button" style="background: none; padding: 10px 0 0 0;">
							<div class="left_wrap"><button class="btn_style1" style="padding: 5px 15px;" onclick="location.href='board/board_normal_detail.php?mode=write&b_id=cs_with'"><span>WRITE</span></button></div>
						</td>
					</tr>
					</tbody>
				</table>
			</article>

			<article class="work-link-side">
				<h5>업무보고 바로가기</h5>
				<section>
					<button type="button" onclick="moveWorkLink('inout')" style="margin-right: 50px;">인-아웃콜 바로가기</button>
					<button type="button" onclick="moveWorkLink('online')" style="margin-right: 50px;">온라인문의 바로가기</button>
					<button type="button" onclick="moveWorkLink('bad')">불량사유 관리 바로가기</button>
				</section>
			</article>
		<{/if}>

		<article class="wm-work" id="wm-work">
			<h5 style="margin-bottom: 20px;">MY 와플 업무현황<a href="/v1/work_list.php" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
			<form name="search_form" id="search_form" class="form-inline" action="wise_csm.php" method="get" autocomplete="off">
				<input type="hidden" name="sch_work" value="<{$sch_work}>">
				<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
				<input type="hidden" name="sch_work_quick" id="sch_work_quick" value="<{$sch_work_quick}>">
				<div class="default_wrap" style="clear: both; margin-top: 10px;">
					<div class="form-group">
						<label for="sch_reg_s_date" style="margin-right: 10px;">작성일</label>
						<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker form-control" value="<{$sch_reg_s_date}>" style="margin-right: 5px;" />
						~
						<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker form-control" value="<{$sch_reg_e_date}>" style="margin-left: 5px;" />
						<button type="button" onclick="regDateVal(this, 'today')" class="btn_small reg_date_btn <{if $sch_reg_date_type == 'today'}>reg_date_btn_active<{/if}>" >오늘</button>
						<button type="button" onclick="regDateVal(this, 'week')" class="btn_small reg_date_btn <{if $sch_reg_date_type == 'week'}>reg_date_btn_active<{/if}>" >1주</button>
						<button type="button" onclick="regDateVal(this, '2weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '2weeks'}>reg_date_btn_active<{/if}>" >2주</button>
						<button type="button" onclick="regDateVal(this, '3weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '3weeks'}>reg_date_btn_active<{/if}>" >3주</button>
						<button type="button" onclick="regDateVal(this, '4weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '4weeks'}>reg_date_btn_active<{/if}>" >4주</button>

						<button type="submit" class="btn_small" style="width:58px; height:27px; margin-left: 10px;">검색</button>
					</div>
					<div style="margin-top: 10px; overflow: hidden;">
						<{foreach from=$work_quick_state key=key item=work_quick}>
							<button type="button" id="work_quick_btn_<{$key}>" class="btn work_quick_btn <{if $sch_work_quick == $key}>work_quick_btn_active<{/if}>" onclick="searchWorkType('<{$key}>')">
								<{$work_quick.title}> (<{$work_quick.cnt|number_format:0}>건)
							</button>
						<{/foreach}>
					</div>
				</div>
			</form>

			<div style="margin-top: 20px;">
				<{if $sch_work_quick == '3'}>
					<{if $work_prev_cnt > 0}>
						<div class="work-active">
							<{$work_prev_text}>
							<!--<a href="<{$work_prev_url}>" target="_blank" style="text-decoration: none; padding: 5px 15px; background: #333; color: white; border-radius: 3px; margin-left: 10px;">보기</a>-->
						</div>
					<{/if}>
				<{else}>
					<div>
						<span>
							요청중인 업무 : <{$work_all_cnt_list['progress']|number_format:0}>건
							<{if $work_all_cnt_list['progress'] > 0}>
								(진행요청 : <{$work_all_cnt_list['3']|number_format:0}>, 접수완료 : <{$work_all_cnt_list['4']|number_format:0}>, 진행중 : <{$work_all_cnt_list['5']|number_format:0}>)
							<{/if}>
						</span>
					</div>
					<div>
						<span>진행완료 업무 : <{$work_all_cnt_list['finish']|number_format:0}>건</span>
					</div>

					<{if $work_prev_cnt > 0}>
						<div class="work-active">
							<{$work_prev_text}>
							<a href="<{$work_prev_url}>" target="_blank" style="text-decoration: none; padding: 5px 15px; background: #333; color: white; border-radius: 3px; margin-left: 10px;">보기</a>
						</div>
					<{/if}>
				<{/if}>
			</div>

			<{if $sch_work_quick == '3'}>
				<table class="table wm-work-table" cellpadding="0" cellspacing="0" style="width: auto; margin-top: 20px;">
					<thead>
						<tr>
							<td colspan="2"></td>
							<td></td>
							<td class="text-center">
								<{$work_all_cnt_list['total']|number_format:0}>
							</td>
						</tr>
					</thead>
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:300px; max-width:300px;" colspan="2">업무 그룹 및 업무명</th>
							<th style="min-width:100px; max-width:100px;"><{$table_staff}></th>
							<th style="min-width:100px; max-width:100px;">처리자 미설정</th>
						</tr>
					</thead>
					<tbody>
						<{if !$manager_prd_list}>
							<tr>
								<td colspan="4">업무요청 관리자 권한이 없습니다.</td>
							</tr>
						<{elseif $work_parent_list}>
							<{assign var=total_idx value=1}>
							<{assign var=total_row value=$work_parent_list|count}>
							<{foreach from=$work_parent_list key=parent_key item=parent_data}>
								<{assign var=parent_row value=$work_parent_cnt_list[$parent_key]}>
								<{assign var=parent_idx value=0}>
								<{foreach from=$work_group_list[$parent_key] item=group_data}>
								<tr>
									<{if $parent_idx == 0}>
										<td rowspan="<{$parent_row}>"><{$parent_data.title}></td>
									<{/if}>
									<td><{$group_data.prd_title}></td>
									<td class="text-center"><{$group_data.staff_title}></td>
									<td class="text-center work-none">
										<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet'] > 0}>
											<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_run_is_null=1&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-active" target="_blank">
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet']|number_format:0}>
											</a>
										<{else}>
											<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet']|number_format:0}>
										<{/if}>
									</td>
								</tr>
								<{assign var=parent_idx value=$parent_idx+1}>
							<{/foreach}>
							<{if $total_idx < $total_row}>
								<tr>
									<td colspan="8"></td>
								</tr>
							<{/if}>
							<{assign var=total_idx value=$total_idx+1}>
						<{/foreach}>
					<{else}>
						<tr>
							<td colspan="4">미설정 데이터가 없습니다.</td>
						</tr>
					<{/if}>
					</tbody>
				</table>
			<{else}>
				<table class="table wm-work-table" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
					<thead>
						<tr>
							<td colspan="2"></td>
							<td></td>
							<td class="text-center"><{$work_all_cnt_list[3]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[4]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[5]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[6]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list['total']|number_format:0}></td>
						</tr>
					</thead>
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:300px; max-width:300px;" colspan="2">업무 그룹 및 업무명</th>
							<th style="min-width:100px; max-width:100px;"><{$table_staff}></th>
							<th style="min-width:100px; max-width:100px;">진행요청</th>
							<th style="min-width:100px; max-width:100px;">접수완료</th>
							<th style="min-width:100px; max-width:100px;">진행중</th>
							<th style="min-width:100px; max-width:100px;">진행완료</th>
							<th style="min-width:100px; max-width:100px;">합계</th>
						</tr>
					</thead>
					<tbody>
						<{if $work_parent_list}>
							<{assign var=total_idx value=1}>
							<{assign var=total_row value=$work_parent_list|count}>
							<{foreach from=$work_parent_list key=parent_key item=parent_data}>
								<{assign var=parent_row value=$work_parent_cnt_list[$parent_key]}>
								<{assign var=parent_idx value=0}>
								<{foreach from=$work_group_list[$parent_key] item=group_data}>
									<tr>
										<{if $parent_idx == 0}>
											<td rowspan="<{$parent_row}>"><{$parent_data.title}></td>
										<{/if}>
										<td><{$group_data.prd_title}></td>
										<td class="text-center"><{$group_data.staff_title}></td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][3] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_work_state=3&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][3]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][3]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][4] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_work_state=4&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][4]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][4]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][5] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_work_state=5&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][5]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][5]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][6] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_work_state=6&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-none" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][6]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][6]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center staff-sum">
											<{$group_data.cnt|number_format:0}>
										</td>
									</tr>
									<{assign var=parent_idx value=$parent_idx+1}>
								<{/foreach}>
								<{if $total_idx < $total_row}>
									<tr>
										<td colspan="8"></td>
									</tr>
								<{/if}>
								<{assign var=total_idx value=$total_idx+1}>
							<{/foreach}>
						<{else}>
							<tr>
								<td colspan="8">데이터가 없습니다</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
			<{/if}>
		</article>
	</div>

	<{if $is_admin}>
	<div class="work-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">인-아웃콜</h2>
		<iframe src="wise_csm_work_chart_inout.php" onload="fixIframeHeight(this)" width="1240" height="1100" frameborder="0"></iframe>
	</div>
	<div class="work-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">온라인문의</h2>
		<iframe src="wise_csm_work_chart_online.php" onload="fixIframeHeight(this)" width="1240" height="1250" frameborder="0"></iframe>
	</div>
	<div class="work-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">CS 통화시간(분)</h2>
		<iframe src="wise_csm_work_chart_tel.php" onload="fixIframeHeight(this)" width="1240" height="1100" frameborder="0"></iframe>
	</div>
	<div class="ev-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">
			고객만족도 평가(평균점수)
			<a href="wise_csm_evaluation_list.php" style="font-size: 20px; float: right; line-height: 50px;">more</a>
		</h2>
		<iframe src="wise_csm_evaluation_chart.php" onload="fixIframeHeight(this)" width="1240" height="1400" frameborder="0"></iframe>
	</div>
	<{/if}>
	<div class="bad-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">불량사유 관리</h2>
		<iframe src="wise_csm_bad_chart.php" onload="fixIframeHeight(this)" width="1240" height="1150" frameborder="0"></iframe>
	</div>

	<div class="cs-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">배송 누락/파손/분실 통계(위드플레이스)</h2>
		<iframe src="wise_csm_work_cs_chart.php" onload="fixIframeHeight(this)" width="1240" height="1150" frameborder="0"></iframe>
	</div>

	<div class="cs-chart-side">
		<h2 class="title" style="background: #eee;margin-bottom:10px;padding: 10px;">환불리스트 통계</h2>
		<iframe src="wise_csm_return_withdraw_chart.php" onload="fixIframeHeight(this)" width="1240" height="1150" frameborder="0"></iframe>
	</div>
</div>

<script type="text/javascript">

    function copyTable(div_id)
    {
        if(document.body.createTextRange)
        {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(document.getElementById(div_id));
            textRange.execCommand("Copy");
        }else{
            window.getSelection().selectAllChildren(document.getElementById(div_id));
            document.execCommand('Copy');
        }
    }

    function moveWorkLink(type)
    {
       var url = "";
       if(type == 'inout'){
           url = "work_list.php?sch_prd_g1=01023&sch_prd_g2=01040&sch_prd=186";
	   }else if(type == 'online'){
           url = "work_list.php?sch_prd_g1=01023&sch_prd_g2=01040&sch_prd=187";
	   }else if(type == 'bad'){
		   url = "wise_csm_bad_report.php";
	   }
	   location.href=url;
    }

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+20)+'px'
	}

	function regDateVal(obj, type)
	{
		var today 		 	= new Date();
		var cur_month	 	= today.getMonth()+1;
		var cur_day		 	= today.getDate();
		var cur_month_text  = (cur_month < 10) ? "0"+cur_month : cur_month;
		var cur_day_text  	= (today.getDate() < 10) ? "0"+today.getDate() : today.getDate();
		var today_val	 	= today.getFullYear() + "-" + cur_month_text + "-" + cur_day_text;
		var prev_day 	 	= "";
		var prev_month 		= "";
		var prev_month_text	= "";
		var prev_day_text 	= "";
		var prev_day_val	= "";

		if(type == "week"){
			prev_day 		= new Date(new Date().setDate(cur_day-7));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "2weeks"){
			prev_day 		= new Date(new Date().setDate(cur_day-14));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "3weeks"){
			prev_day 		= new Date(new Date().setDate(cur_day-21));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "4weeks"){
			prev_day 		= new Date(new Date().setDate(cur_month-28));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else{
			prev_day_val = today_val;
		}

		$(".reg_date_btn").removeClass('reg_date_btn_active');
		$(obj).addClass('reg_date_btn_active');

		$("#sch_reg_s_date").val(prev_day_val);
		$("#sch_reg_e_date").val(today_val);
		$("#sch_reg_date_type").val(type);
	}

	function searchWorkType(type) {
		$("#sch_work_quick").val(type);
		searchList();
	}
</script>
</body>
</html>
