<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.text-center{text-align: center !important;}
	.text-left{text-align: left !important;}
	.text-right{text-align: right !important;}
	.text-bold{font-weight: bold !important;}
	.td_order{background: #dddddd;}
	.td_sum{background: #bbbbbb;}
	.td_price{background: lightyellow;}
	.table_list_style table thead th{text-align: center;}
	.date_active{background: #3093c2 !important;}
	.form-control{font-size: 12px;}
	.sch_date_type{display: none;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="wise_csm_return_list.php" autocomplete="off" class="form-inline">
		<input type="hidden" name="sch_ord_bundle" id="sch_ord_bundle" value="<{$sch_ord_bundle}>" />
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">

		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div class="form-group" style="margin-bottom: 10px;">
					<label for="sch_brand_g1" style="margin-left: 0;font-weight: bold;display: inline-block;color: #333;margin-right: 10px;">브랜드</label>
					<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px;">
						<option value="">::전체::</option>
						<{foreach from=$sch_brand_g1_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span class="tlt"> > </span>
					<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px;">
						<option value="">::전체::</option>
						<{foreach from=$sch_brand_g2_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span class="tlt"> > </span>
					<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
						<option value="">::전체::</option>
						<{foreach from=$sch_brand_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<select name="sch_date_column_type" class="form-control" style="font-size: 12px; margin-right: 15px;">
						<{foreach from=$date_type_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_date_column_type == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<div id="sch_date_type_day" class="sch_date_type">
						<input type="text" class="date-picker form-control" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" class="date-picker form-control" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</div>
					<div id="sch_date_type_week" class="sch_date_type">
						<input type="text" class="week-start-picker form-control" id="sch_s_week" name="sch_s_week" value="<{$sch_s_week}>" />
						~
						<input type="text" class="week-end-picker form-control" id="sch_e_week" name="sch_e_week" value="<{$sch_e_week}>" />
					</div>
					<div id="sch_date_type_month" class="sch_date_type">
						<input type="text" class="month-picker form-control" id="sch_s_month" name="sch_s_month" value="<{$sch_s_month}>" />
						~
						<input type="text" class="month-picker form-control" id="sch_e_month" name="sch_e_month" value="<{$sch_e_month}>" />
					</div>
					<div id="sch_date_type_year" class="sch_date_type">
						<input type="text" class="year-picker form-control" id="sch_s_year" name="sch_s_year" value="<{$sch_s_year}>" />
						~
						<input type="text" class="year-picker form-control" id="sch_e_year" name="sch_e_year" value="<{$sch_e_year}>" />
					</div>

					<div style="margin-right: 10px;margin-left: 10px;">
						<input type="radio" name="sch_date_type" id="sch_date_type_1" value="1" class="radio first" <{if $sch_date_type == '1'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">
						<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
						<input type="radio" name="sch_date_type" id="sch_date_type_2" value="2" class="radio" <{if $sch_date_type == '2'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">
						<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
						<input type="radio" name="sch_date_type" id="sch_date_type_3" value="3" class="radio" <{if $sch_date_type == '3'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">
						<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
						<input type="radio" name="sch_date_type" id="sch_date_type_4" value="4" class="radio" <{if $sch_date_type == '4'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">
						<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
					</div>
					<button class="btn btn-sm btn-dark font-weight-bold" style="font-size: 14px; margin-top: 0;" onclick="submit();">검색</button>
				</div>
				<span id="sch_detail_display_btn_show">
					<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
				</span>

				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 10px; color: #333;">
					<div>
						<span class="name_tit">no</span>
						<input type="text" name="sch_cr_no" class="input_type5" value="<{$sch_cr_no}>" style="width: 120px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구분</span>
						<select name="sch_return_type" id="sch_return_type" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$return_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_return_type == $key }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" class="input_type5" value="<{$sch_order_number}>" style="width: 120px;" />
						<input type="checkbox" id="sch_ord_bundle_val" style="cursor: pointer; margin-top: 7px; margin-right: -1px;" name="sch_ord_bundle_val" value="1" <{if $sch_ord_bundle == '1'}>checked<{/if}> >
						<label for="sch_ord_bundle_val" style="cursor: pointer;font-size: 12px; display: inline-block; vertical-align: middle; margin-bottom: -4px;">주문번호 그룹조회</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">진행상태</span>
						<select name="sch_return_state" id="sch_return_state" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$return_state_option item=label}>
							<option value="<{$label}>" <{if $sch_return_state == $label }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품주문번호</span>
						<input type="text" name="sch_shop_ord_no" class="input_type5" value="<{$sch_shop_ord_no}>" style="width: 120px;" />
					</div>
					<div>
						<span class="name_tit">커머스 상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	margin-right: 5px; font-size: 12px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 150px;	margin-right: 5px;  font-size: 12px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 200px; margin-right: 10px; font-size: 12px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구매처</span>
						<select name="sch_dp_c_no" id="sch_dp_c_no" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$dp_company_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_dp_c_no != '' && $sch_dp_c_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span style="margin-right:15px;"></span>
						<span class="name_tit">File no</span>
						<input type="text" name="sch_file_no" class="input_type5" value="<{$sch_file_no}>" style="width: 60px;" />

					</div>
					<div>
						<span class="name_tit">사유구분</span>
						<select name="sch_return_reason" id="sch_return_reason" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$return_reason_option item=label}>
							<option value="<{$label}>" <{if $sch_return_reason == $label}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">고객메세지</span>
						<input type="text" name="sch_customer_memo" id="sch_customer_memo" class="input_type5" value="<{$sch_customer_memo}>" <{if $sch_customer_memo_ext == 'ext'}>disabled<{/if}> />
						<input type="checkbox" name="sch_customer_memo_ext" id="sch_customer_memo_ext" style="cursor: pointer;" <{if $sch_customer_memo_ext == 'ext'}>checked<{/if}> value="ext"/>
						<label for="sch_customer_memo_ext" style="display: inline-block; cursor: pointer;">있음</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">수거택배사</span>
						<select name="sch_return_delivery_type" id="sch_return_delivery_type" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$delivery_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_return_delivery_type == $key }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">수거송장번호</span>
						<input type="text" name="sch_return_delivery_no" class="input_type5" value="<{$sch_return_delivery_no}>" />
						<span style="margin-right:15px;"></span>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
						<button type="button" class="btn_small" onclick="resetSearch();" style="width:58px; height:27px;">초기화</button>
					</div>
				</div>

				<{if $sch == 'Y'}>
				<script>$("#sch_detail_display").show();</script>
				<script>$("#sch_detail_display_btn_show").hide();</script>
				<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
				<script>$("#sch_detail_display").hide();</script>
				<script>$("#sch_detail_display_btn_show").show();</script>
				<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="margin-top: 20px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="15">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
							<{foreach from=$page_type_option key=key item=page_type}>
							<option value="<{$key}>" <{if $ord_page_type == $key}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:80px; width:80px; height: 45px;">NO<br/>작성일</th>
					<th style="min-width: 60px; width: 60px;">구분</th>
					<th style="min-width: 140px; width: 140px;">주문번호</th>
					<th style="min-width: 100px; width: 100px;">진행상태</th>
					<th style="min-width: 80px; width: 80px;">주문일시</th>
					<th style="min-width: 80px; width: 80px;">반품/교환요청일시</th>
					<th style="min-width: 120px; width: 120px;">상품주문번호</th>
					<th style="min-width: 200px; width: 200px;">브랜드그룹<br/>브랜드명</th>
					<th style="min-width: 250px; width: 250px;">커머스 상품명</th>
					<th style="min-width: 40px; width: 40px;">수량</th>
					<th style="min-width: 80px; width: 80px;">구매처</th>
					<th style="min-width: 120px; width: 120px;">사유 구분</th>
					<th style="min-width: 160px; width: 160px;">고객메세지</th>
					<th style="min-width: 80px; width: 80px;">수거택배사</th>
					<th style="min-width: 100px; width: 100px;">수거송장번호</th>
				</tr>
			</thead>
			<tbody>
			<{if $csm_return_list}>
				<{foreach from=$csm_return_list item=csm_return_data}>
					<{assign var="return_row" value=$csm_return_data|@count}>
					<{assign var="return_idx" value=0}>
					<{foreach from=$csm_return_data item=csm_return}>
						<tr>
							<{if $sch_ord_bundle == '1' && $return_idx == 0}>
								<td class="text-center first" rowspan="<{$return_row}>">
									<{$csm_return.cr_no}><br/>
									<{$csm_return.reg_day}><br/>
									<{$csm_return.reg_time}>
								</td>
								<td class="text-center" rowspan="<{$return_row}>"><{$csm_return.return_type_name}></td>
								<td class="text-left" rowspan="<{$return_row}>">
									<{if $csm_return.order_number}>
										<{$csm_return.order_number}> <a href="work_list_cms.php?sch_order_number=<{$csm_return.order_number}>&sch_order_date=<{$csm_return.ord_day}>&sch_reg_s_date=<{$csm_return.ord_reg_s_day}>&sch_reg_e_date=<{$csm_return.ord_reg_e_day}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
								<td class="text-center" rowspan="<{$return_row}>"><{$csm_return.return_state}></td>
								<td class="text-center td_order" rowspan="<{$return_row}>">
									<{if $csm_return.ord_day && $csm_return.ord_day != '0000-00-00'}>
									<span style="color: blue;"><{$csm_return.ord_day}></span><br/>
									<span style="color: green;"><{$csm_return.ord_time}></span>
									<{/if}>
								</td>
								<td class="text-center" rowspan="<{$return_row}>">
									<{if $csm_return.return_day && $csm_return.return_day != '0000-00-00'}>
									<span style="color: blue;"><{$csm_return.return_day}></span><br/>
									<span style="color: green;"><{$csm_return.return_time}></span>
									<{/if}>
								</td>
							<{elseif $sch_ord_bundle != '1'}>
								<td class="text-center first" >
									<{$csm_return.cr_no}><br/>
									<{$csm_return.reg_day}><br/>
									<{$csm_return.reg_time}>
								</td>
								<td class="text-center"><{$csm_return.return_type_name}></td>
								<td class="text-left">
									<{if $csm_return.order_number}>
										<{$csm_return.order_number}> <a href="work_list_cms.php?sch_order_number=<{$csm_return.order_number}>&sch_order_date=<{$csm_return.ord_day}>&sch_reg_s_date=<{$csm_return.ord_reg_s_day}>&sch_reg_e_date=<{$csm_return.ord_reg_e_day}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								</td>
								<td class="text-center"><{$csm_return.return_state}></td>
								<td class="text-center td_order">
									<{if $csm_return.ord_day && $csm_return.ord_day != '0000-00-00'}>
									<span style="color: blue;"><{$csm_return.ord_day}></span><br/>
									<span style="color: green;"><{$csm_return.ord_time}></span>
									<{/if}>
								</td>
								<td class="text-center">
									<{if $csm_return.return_day && $csm_return.return_day != '0000-00-00'}>
									<span style="color: blue;"><{$csm_return.return_day}></span><br/>
									<span style="color: green;"><{$csm_return.return_time}></span>
									<{/if}>
								</td>
							<{/if}>

							<td class="text-left"><{$csm_return.shop_ord_no}></td>
							<td class="text-left td_order">
								<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$csm_return.brand_g1_name}> > <{$csm_return.brand_g2_name}> ></span>
								<span style="text-align:left; display: block; font-size: 14px;"><{$csm_return.brand_name}></span>
							</td>
							<td class="text-left td_order">
								<{if $csm_return.prd_name}>
								<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$csm_return.k_prd1_name}> > <{$csm_return.k_prd2_name}> ></span>
								<span style="text-align:left; display: block;"><{$csm_return.prd_name}></span>
								<{/if}>
							</td>
							<td class="text-center td_order"><{$csm_return.quantity|number_format:0}></td>

							<{if $sch_ord_bundle == '1' && $return_idx == 0}>
								<td class="text-center td_order" rowspan="<{$return_row}>"><{$csm_return.dp_c_name}></td>
								<td class="text-center" rowspan="<{$return_row}>"><{$csm_return.return_reason}></td>
								<td class="text-left" rowspan="<{$return_row}>">
									<{if $csm_return.customer_memo}>
									<textarea style="width: 150px; height: 55px;" disabled><{$csm_return.customer_memo}></textarea>
									<{/if}>
								</td>
								<td class="text-center" rowspan="<{$return_row}>"><{$csm_return.return_delivery_type}></td>
								<td class="text-left" rowspan="<{$return_row}>">
									<{if $csm_return.return_delivery_no}>
										<{if $csm_return.return_delivery_url}>
											<{$csm_return.return_delivery_no}><a href="<{$csm_return.return_delivery_url}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
											<{$csm_return.return_delivery_no}>
										<{/if}>
									<{/if}>
								</td>
							<{elseif $sch_ord_bundle != '1'}>
								<td class="text-center td_order"><{$csm_return.dp_c_name}></td>
								<td class="text-center"><{$csm_return.return_reason}></td>
								<td class="text-left">
									<{if $csm_return.customer_memo}>
									<textarea style="width: 150px; height: 55px;" disabled><{$csm_return.customer_memo}></textarea>
									<{/if}>
								</td>
								<td class="text-center"><{$csm_return.return_delivery_type}></td>
								<td class="text-left">
									<{if $csm_return.return_delivery_no}>
										<{if $csm_return.return_delivery_url}>
											<{$csm_return.return_delivery_no}><a href="<{$csm_return.return_delivery_url}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
											<{$csm_return.return_delivery_no}>
										<{/if}>
									<{/if}>
								</td>
							<{/if}>

						</tr>
						<{assign var="return_idx" value=$return_idx+1}>
					<{/foreach}>
				<{/foreach}>
				<tr>
					<td colspan="15" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			<{else}>
				<tr>
					<td colspan="15" class="first">데이터가 없습니다</td>
				</tr>
			<{/if}>
			</tbody>
		</table>
	</div>
</div>
<!-- admin_content -->

<script type="text/javascript">
    $(document).ready(function() {
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_ord_bundle_val").change(function(){
			if($(this).is(":checked")){
				$("#sch_ord_bundle").val(1);
			} else{
				$("#sch_ord_bundle").val(0);
			}
		});

		$("#sch_customer_memo_ext").change(function(){
            if($(this).is(":checked")){
                $("#sch_customer_memo").attr('disabled', true);
            } else{
                $("#sch_customer_memo").attr('disabled', false);
            }
		});

		var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
    });

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}
</script>

</body>
</html>
