<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.admin_content{width: 400px; min-width: 400px !important; max-width: 400px !important; margin-left: 0 !important; box-sizing: border-box; overflow: hidden;}
</style>

<div class="admin_content" style="margin-top: 0; padding: 20px;">
	<div class="file-download-wrap">
		<{if $file_count >0}>
			<ul>
			<div style="font-size: 16px; font-weight:600;" >● FILE DOWNLOAD (개별로 받기)</div>
			<{foreach from=$bad_file_list item=file_data}>
				<li style="margin: 5px 0;">
					<!-- 아이콘 추가-->
					<a href="./uploads/<{$file_data.file_path}>" style="font-weight: bold; display: inline-block;" title="<{$file_data.file_name}>" download="<{$file_data.file_name}>">
						<img src="images/common/ico/ico_file.gif" alt="file download">
						<{$file_data.file_name}> (<{$file_data.file_size}>)
					</a>
				</li>
			<{/foreach}>
				<div style="margin-top: 20px; padding-top: 10px; border-top: 1px dotted; font-size: 12px;">
				<div style="font-size: 16px; font-weight:600;" >● FILE DOWNLOAD (전체 압축파일로 받기)</div>
					<a href="./uploads/<{$zip_file_path}>" style="font-weight: bold; display: inline-block;" title="<{$zip_file_name}>" download="<{$zip_file_name}>">
						<img src="images/common/ico/ico_file.gif" style="margin-right: 5px;" alt="file download">불량사유 zip 다운로드
					</a>
				</div>
			</ul>
		<{else}>
		 <div style="font-size: 16px; font-weight:600;" >● FILE DOWNLOAD</div>
			<span style="text-align: center;">다운로드 할 파일이 없습니다.</span>
		<{/if}>
	</div>
</div>
<!-- //admin_content -->

</body>
</html>
