<{include file="inc/boot_navibar.html"}>

<style>
	.f_wd_state{width: 95px;}
	div.admin_content{max-width: 1950px;}
	.f_wd_state:disabled{background-color: #ebebe4;}
	.custom-combobox input{border-color: rgb(118,118,118); height: 26px; padding: 3px 10px;}
	.custom-combobox-toggle{top: 7px;}
	.checkbox-label{cursor: pointer;}
</style>

<div class="admin_content">
	<h2 class="title">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<{if permissionNameCheck($session_permission, "마스터관리자")}>
		<img src="images/question.png" title="[조회권한]
- 본인 담당 기준 전체
- 출금 요청 담당자(작성자) 기준 전체 = CS팀, 콘텐츠팀, 마케팅운영팀
- 제약 없음 전체 = 재무팀, 마스터관리자, 박미소, CS팀
- 엑셀다운로드 : 작성자 OR 담당자 본인거, 재무관리자 제한없음" class="label-guide" style="cursor: pointer;">
		<{/if}>
	</h2>

	<form method="get" name="search_form" action="withdraw_list.php" autocomplete="off">
		<input type="hidden" name="sch_wd_quick" value="<{$sch_wd_quick}>" />
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="min-width:1200px;">
			<div>
				<span class="name_tit" style="margin-right: 5px;">출금 하는 계열사 > 계좌명</span>
				<select name="sch_my_c_no" id="sch_my_c_no" class="select_type3" style="width: 160px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				>
				<select name="sch_wd_account" id="sch_wd_account" class="select_type3" style="width: 130px;">
					<option value="">::전체::</option>
					<{if $sch_my_c_no && $sch_corp_account_option[$sch_my_c_no]}>
						<{foreach from=$sch_corp_account_option[$sch_my_c_no] key=key item=label}>
							<option value="<{$key}>" <{if $sch_wd_account == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					<{/if}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 5px;">출금 보내는 업체명</span>
				<input type="text" name="sch_c_name" id="sch_c_name" class="input_type1" value="<{$sch_c_name}>" style="width: 180px;" />
				<input type="checkbox" name="sch_c_no" <{if $sch_c_no == 'null'}>checked<{/if}> value="null"/>미등록업체
				<br>

				<span class="name_tit" style="margin-right: 5px;">관련 업무</span>
				<select name="sch_prd_no" id="sch_prd_no" style="width:300px; height:28px; padding: 3px 1px; vertical-align: middle;">
					<option value="">::전체::</option>
					<{foreach from=$out_product_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_prd_no==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 5px;">출금 제목</span>
				<input type="text" name="sch_subject" value="<{$sch_subject}>" class="input_type1" style="width: 180px;" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="margin-right: 4px;">브랜드</span>
				<select name="sch_brand_g1" id="sch_brand_g1" class="select_type2" style="width: 100px; margin-right: 5px; display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="select_type3" style="width: 100px; margin-right: 5px;display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="select_type3" style="width: 100px; display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div>
				<span class="name_tit" style="margin-right: 4px;">계열사 > 업체명</span>
				<select name="sch_w_my_c_no" id="sch_w_my_c_no" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$sch_my_company_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_w_my_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<input type="text" name="sch_w_c_name" value="<{$sch_w_c_name}>" class="input_type1" style="width: 140px;" />
				<input type="checkbox" name="sch_w_c_no" <{if $sch_w_c_no == 'null'}>checked<{/if}> value="null"/>미등록업체
				<input type="checkbox" name="sch_w_c_equal" id="sch_w_c_equal" value="1" style="cursor: pointer;" <{if $sch_w_c_equal == '1'}>checked<{/if}>>
				<label for="sch_w_c_equal" style="cursor: pointer;">완전일치</label>
				<span style="margin-right:20px;"></span>


				<span class="name_tit" style="margin-right: 5px;">부서 > 담당자</span>
				<select name="sch_w_team" id="sch_w_team" class="select_type2" style="margin-right:10px" <{if !$is_search}>disabled<{/if}>>
					<{if $is_search}>
						<{foreach from=$sch_team_full_list key=team_code item=label}>
							<option value="<{$team_code}>" <{if $sch_w_team == $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					<{else}>
						<{foreach from=$sch_team_name_list key=team_code item=label}>
							<option value="<{$team_code}>" <{if $sch_w_team == $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					<{/if}>
				</select>
				<input type="text" name="sch_w_s_name" class="input_type2" value="<{$sch_w_s_name}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>

			<div>
				<span style="font-weight:bold;">[Quick Search]</span>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(1);" class="btn_small">카드 출금대기</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(2);" class="btn_small">현금 출금대기</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(3);" class="btn_small">계산서 수령대기</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(4);" class="btn_small">출금완료(최신순)</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(5);" class="btn_small">계산서 수령요청</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(6);" class="btn_small">인센티브 정산 년/월 미설정</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(7);" class="btn_small">자료 없음</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(8);" class="btn_small">출금검수</button>
				<button type="button" style="padding:4px 6px;" onclick="quick_search(9);" class="btn_small">주간 외주비 지출</button>
			</div>

			<div id="sch_detail_display">
				<span class="name_tit">wd_no</span>
				<input type="text" name="sch_wd_no" class="input_type2" value="<{$sch_wd_no}>" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">작성일</span>
				<input type="text" name="sch_w_req_date" id="sch_w_req_date" class="date-picker input_type_date_small" value="<{$sch_w_req_date}>"/>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">출금상태</span>
				<select name="sch_wd_state" id="sch_wd_state" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$wd_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_wd_state==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">출금방식</span>
				<select name="sch_wd_method" id="sch_wd_method" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$wd_method_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_wd_method==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">출금완료일</span>
				<input type="text" name="sch_s_wd_date" id="sch_s_wd_date" class="date-picker input_type_date" value="<{$sch_s_wd_date}>" />
				 ~
				<input type="text" name="sch_e_wd_date" id="sch_e_wd_date" class="date-picker input_type_date" value="<{$sch_e_wd_date}>" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">출금검수</span>
				<select name="sch_is_inspection" id="sch_is_inspection" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$wd_is_inspection_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_inspection==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">출금승인</span>
				<select name="sch_is_approve" id="sch_is_approve" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$wd_is_inspection_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_approve==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<br>

				<span class="name_tit" style="">출금 요청 담당자(작성자)</span>
				<input type="text" name="sch_reg_s_no" class="input_type2" value="<{$sch_reg_s_no}>" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">계산서 수령상태</span>
				<select name="sch_wd_tax_state" id="sch_wd_tax_state" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$wd_tax_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_wd_tax_state==$key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">기타</span>
				<select name="sch_wd_etc" id="sch_wd_etc" class="select_type3" style="width:190px">
					<option value=""></option>
					<option value="1" <{if ($sch_wd_etc == '1')}>selected<{/if}>>인센티브 정산 년/월 미설정</option>
					<option value="2" <{if ($sch_wd_etc == '2')}>selected<{/if}>>자료 없음</option>
				</select>
			</div>
		</div>
	</form>

	<{if permissionNameCheck($session_permission, "재무관리자")}>
	<div style="overflow: hidden; margin: 10px 0;">
		<form name="withdraw_insert_frm" id="withdraw_insert_frm" method="post" action="withdraw_insert.php" enctype="multipart/form-data">
			<strong style="margin-right: 10px;">#주간 외주비 지출 업로드</strong>
			<input type="file" name="withdraw_file" id="withdraw_file" style="width:250px; border: 1px solid #cccccc;">
			<button type="button" onclick="return withdraw_insert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
			<a href="/v1/uploads/document/withdraw/withdraw_sample_v5.xlsx" download="외주비 지출 sample">[sample download]</a>
		</form>
	</div>
	<{/if}>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="<{if permissionNameCheck($session_permission, "재무관리자")}>16<{else}>15<{/if}>" class="list_button" style="padding-bottom: 20px;">
						<div class="left_wrap" style="padding-top: 20px; font-weight: bold; font-size: 13px;">
							<{if $withdraw_mon_total_list}>
								<b>#월정산 출금대기(VAT포함)</b>
								<{foreach from=$withdraw_mon_total_list item=withdraw_mon_total}>
								<a href="javascript:void(0);" onclick="searchMonCompany('<{$withdraw_mon_total.c_name}>')"><span style="padding-left: 10pt;color: #808080;">[<{$withdraw_mon_total.c_name}></span> <span style="color: #808080;">￦<{$withdraw_mon_total.total|number_format:0}>]</span></a>
								<{/foreach}>
							<{/if}>
						</div>
						<{if permissionNameCheck($session_permission, "재무관리자") || ($session_s_no == '170' || $session_s_no == '171' || $session_s_no == '101' || $session_s_no == '226')}>
							<div class="right_wrap"><button class="btn_style1" onclick="location.href='withdraw_regist.php<{if !!$search_url}>?<{$search_url}><{/if}>'"><span>출금 등록하기</span></button></div>
						<{/if}>
						<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_list.php?<{$search_url}>';"><span>엑셀 다운로드 (최대 2,000건)</span></button></div>
						<{if permissionNameCheck($session_permission, "재무관리자")}>
							<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_block_list.php?<{$search_url}>';"><span>대량이체파일</span></button></div>
						<{/if}>
						<{if $session_team == '00244'}>
							<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_cs_list.php?<{$search_url}>';"><span>커머스 환불 엑셀 다운로드</span></button></div>
						<{/if}>
					</td>
				</tr>
				<tr>
					<td colspan="<{if $session_s_no == '28' || $session_s_no == '29'}>9<{else}>8<{/if}>">
						<{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.
					</td>
					<{if $is_approve_view}>
					<td></td>
					<{/if}>
					<td colspan="2">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
					<td style="text-align: right;color: #808080;font-size: 14px; padding: 2px 2px;">
						￦ <{$total_supply_cost|number_format:0}>
					</td>
					<td style="text-align: right;color: red;font-weight: bold; font-size: 14px; padding: 2px 2px;">
						￦ <{$total_cost|number_format:0}>
					</td>
					<td></td>
					<td style="text-align: right;color: #0026ff;font-weight: bold; font-size: 14px; padding: 2px 2px;">
						￦ <{$total_wd_money|number_format:0}>
					</td>
				</tr>
				<tr>
					<form name="select_check_form" id="select_check_form" action="withdraw_list.php" method="post" enctype="multipart/form-data">
						<input type="hidden" name="process">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="select_wd_no_list">

						<th class="first" style="min-width:26px; height: 70px;">
							<input type="checkbox" name="check_all" style="cursor:pointer" value="all" onchange="select_check_all(this);">
						</th>
						<th style="min-width:50px;">wd_no</th>
						<th style="min-width:80px;">작성일<br />작성자</th>
						<th style="min-width:95px;">
							출금상태
							<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")}>
								<br/>
								<select name="select_state" id="select_state" style="background-color:lightgray;" class="select_type1" onchange="modifySelectState();">
									<option value="">::선택::</option>
									<{foreach from=$wd_state_option key=key item=label}>
										<option value="<{$key}>"><{$label}></option>
									<{/foreach}>
								</select>
							<{/if}>
						</th>
						<th style="min-width:85px;">
							출금완료일<br>(월정산:등록일)
							<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"마스터관리자")}>
							<br/>
								<input type="text" name="select_date" id="select_date" class="input_type_date_small date-picker" style="font-size: 12px;"  onchange="modifySelectDate();">
							<{/if}>
						</th>
						<{if $session_s_no == '28' || $session_s_no == '29'}>
							<th style="min-width:80px;">
								출금검수<br />
								<button type="button" class="btn_small" style="cursor:pointer; width:70px; background-color: #d5d5d5; padding : 3px 10px; color: black; font-weight: bold;" onclick="saveSelectInspection();">검수완료<br/>일괄처리</button>
							</th>
						<{/if}>
						<{if $is_approve_view}>
							<th style="min-width:80px;">
								출금승인
								<{if $is_approve_edit}>
									<br />
									<button type="button" class="btn_small" style="cursor:pointer; width:70px; background-color: #d5d5d5; padding : 3px 10px; color: black; font-weight: bold;" onclick="saveSelectApprove();">승인완료<br/>일괄처리</button>
								<{/if}>
							</th>
						<{/if}>
						<th style="min-width:130px;">출금 하는 계열사<br/>계좌명</th>
						<th style="min-width:340px;">출금 보내는 업체명<br/>[관련업무] 출금 제목</th>
						<{if $sch_prd_no == '278'}>
						<th style="min-width:100px;">상세내역</th>
						<{/if}>
						<th style="min-width:180px;">출금계좌정보</th>
						<th style="min-width:155px;">계열사<br>업체명</th>
						<th style="min-width:82px;">부서<br/>담당자</th>
						<th style="min-width:130px;">공급가액<br><span style="font-size:10px;">(VAT/소득세 별도)</span></th>
						<th style="min-width:130px;">출금 요청액<br><span style="font-size:10px;">(VAT/소득세 포함)</span></th>
						<th style="min-width:100px;">출금방식</span></th>
						<th style="min-width:130px;">출금 완료액<br><span style="font-size:10px;">(VAT/소득세 포함)</span></th>
						<{if permissionNameCheck($session_permission, "재무관리자")}>
							<th style="min-width:120px;">
								출금 완료 처리<br /><span style="font-size:7px;">(출금상태,완료일,완료액)</span><br><span>처리자</span><br/>
								<button type="button" class="btn_small" style="cursor:pointer; width:110px; background-color: #d5d5d5; padding : 3px 10px; color: black; font-weight: bold;" onclick="saveSelectWithdraw();">출금요청<br/>일괄처리</button>
							</th>
						<{/if}>
						<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"외주관리자"))}>
							<th style="min-width:150px;">관리자 메모<br />(재무/외주관리자 전용)</th>
						<{/if}>
					</form>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
				<tr>
					<td colspan="15"> 등록된 자료가 없습니다.</td>
				</tr>
				<{else}>
					<{foreach from=$withdraw_list item=withdraw}>
					<form name="apply_frm<{$withdraw.wd_no}>" id="apply_frm<{$withdraw.wd_no}>" class="list_form" method="post" enctype="multipart/form-data" action="withdraw_list.php">
						<input type="hidden" name="process" id="process">
						<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
						<input type="hidden" name="wd_no" id="wd_no" value="<{$withdraw.wd_no}>">
						<tr>
							<td class="first"> <!-- checkbox -->
								<{if permissionNameCheck($session_permission,"재무관리자")}>
									<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$withdraw.wd_no}>">
								<{elseif permissionNameCheck($session_permission,"마스터관리자") && $withdraw.wd_method == '4' && $withdraw.wd_state < 3}>
									<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$withdraw.wd_no}>">
								<{elseif ($session_s_no == '102' || $session_s_no == '274') && $withdraw.reg_s_no == '146'}>
									<input type="checkbox" name="select_check[]" class="select_check" style="cursor:pointer" value="<{$withdraw.wd_no}>">
								<{/if}>
							</td>
							<td><!--wd_no-->
								<a href="withdraw_list.php?sch_wd_no=<{$withdraw.wd_no}>"><{$withdraw.wd_no}></a>
								<{if permissionNameCheck($session_permission,"재무관리자")}>
									<br>
									<{if $withdraw.wd_state > 2}>
										<a href="#" title="삭제가 불가능합니다."><span style="font-size:6px;"><del>[삭제]</del></span></a>
									<{else}>
										<a href="#" onclick="del_manager_record('<{$withdraw.wd_no}>');"><span style="font-size:6px;">[삭제]</span></a>
									<{/if}>
								<{/if}>
							</td>
							<td class="date"><!--작성일 작성자-->
								<span class="day"><{$withdraw.regdate_day}></span>
								<br>
								<span class="time"><{$withdraw.regdate_time}></span>
								<{$withdraw.reg_s_name}>
							</td>
							<td><!--출금상태-->
								<select name="f_wd_state" id="f_wd_state" onchange="save_el('<{$withdraw.wd_no}>', 'f_wd_state', this)"  class="f_wd_state select_type2" style="width: 85px;
									<{if $withdraw.wd_state == '2'}>
										color:red; background-color:yellow;
									<{elseif $withdraw.wd_state == '4' || $withdraw.wd_state == '7' }>
										color:red; background-color:lightgray;
									<{/if}>"
									<{if !permissionNameCheck($session_permission,"재무관리자") && !permissionNameCheck($session_permission,"마스터관리자")}>
										disabled
									<{elseif permissionNameCheck($session_permission,"마스터관리자") && ($withdraw.wd_method != '4' || $withdraw.wd_state > 2)}>
										disabled
									<{/if}>
								>
									<{foreach from=$wd_state_option key=key item=label}>
										<option value="<{$key}>" <{if $withdraw.wd_state==$key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td><!--출금완료일-->
								<input type="text" onchange="save_el('<{$withdraw.wd_no}>', 'f_wd_date', this)" class="date-picker input_type_date_small<{if !permissionNameCheck($session_permission,"재무관리자")}>_readonly<{/if}>" id="wd_date<{$withdraw.wd_no}>" name="wd_date<{$withdraw.wd_no}>" value="<{$withdraw.wd_date}>" <{if !permissionNameCheck($session_permission,"재무관리자")}>readonly<{/if}>>
							</td>
							<{if $session_s_no == '28' || $session_s_no == '29'}>
								<td>
									<input type="checkbox" name="f_is_inspection" id="f_is_inspection_<{$withdraw.wd_no}>" onclick="save_el('<{$withdraw.wd_no}>', 'f_is_inspection', this)" value="1" style="cursor: pointer;" <{if $withdraw.is_inspection == '1'}>checked<{/if}>>
									<label for="f_is_inspection_<{$withdraw.wd_no}>" class="checkbox-label">검수완료</label>
								</td>
							<{/if}>
							<{if $is_approve_view}>
								<td>
									<{if $withdraw.is_approve_view}>
										<input type="checkbox" name="f_is_approve" id="f_is_approve_<{$withdraw.wd_no}>" onclick="save_el('<{$withdraw.wd_no}>', 'f_is_approve', this)" value="1" style="cursor: pointer;" <{if $withdraw.is_approve == '1'}>checked<{/if}> <{if !$withdraw.is_approve_edit}>disabled<{/if}>>
										<label for="f_is_approve_<{$withdraw.wd_no}>" class="checkbox-label">승인완료</label>
									<{/if}>
								</td>
							<{/if}>
							<td style="word-break:break-all;"><!-- 출금 하는 계열사<br/>계좌명 -->
								<span style="color:<{$withdraw.my_c_kind_color}>;"><{$withdraw.my_c_name}></<span><br/>
								<{if $withdraw.wd_method == '1'}>
								<select name="f_wd_account" style="width: 100px; padding:5px;" onchange="save_el('<{$withdraw.wd_no}>', 'f_wd_account', this)">
									<option value="">::선택::</option>
									<{if $sch_corp_account_option[$withdraw.my_c_no]}>
										<{foreach from=$sch_corp_account_option[$withdraw.my_c_no] key=key item=label}>
											<option value="<{$key}>" <{if $key == $withdraw.wd_account}>selected<{/if}>><{$label}></option>
									<{/foreach}>
									<{/if}>
								</select>
								<{/if}>
							</td>
							<td class="alignL">
								<div style="color:#808080;">
									<{if $withdraw.c_name}>
									[<{$withdraw.c_name}>]&nbsp;<{if $withdraw.c_no}><a href="company_regist.php?no=<{$withdraw.c_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a><{else}><span id="d_check_msg" style="color:blue;font-weight:normal">미등록업체</span><{/if}>
									<{/if}>
								</div>
								<span style="font-weight:800; font-size:14px;">
									<{if $withdraw.w_no}>
										<button type="button" style="padding: 1px 5px;margin-left: 0px;" onclick="window.open('work_list.php?sch_w_no=<{$withdraw.w_no}>&sch_prd=<{$withdraw.prd_no}>')" class="btn_small"><{$withdraw.product_title}></button>
									<{/if}>
									<a href="withdraw_regist.php?wd_no=<{$withdraw.wd_no}><{if !!$search_url}>&<{$search_url}><{/if}>" title="출금계좌로 이동"><{if $withdraw.w_no}>[W]<{else}>[D]<{/if}> <{$withdraw.wd_subject}></a>
									<{if $withdraw.comment_cnt > 0}>
										<span style="color: darkgrey;">(<{$withdraw.comment_cnt|number_format:0}>)</span>
									<{/if}>
								</span>
							</td>
							<{if $sch_prd_no == '278'}>
							<td class="alignL"> <!-- 상세내역 -->
								<{$withdraw.wd_detail}>
							</td>
							<{/if}>
							<td><!-- 출금계좌정보 -->
								<{if ($withdraw.wd_state == '1' || $withdraw.wd_state == '2') && (permissionNameCheck($session_permission,"재무관리자") || $session_s_no == $withdraw.reg_s_no)}>
									<input type="text" name="bk_title" value="<{$withdraw.bk_title}>" placeholder="은행명" style="font-size:9px; width: 70px; float: left; line-height: 20px; padding-left: 5px; box-sizing: border-box; margin: 2px 6px 2px 3px;" onchange="save_el('<{$withdraw.wd_no}>', 'f_bk_title', this)">
									<input type="text" name="bk_name" value="<{$withdraw.bk_name}>" placeholder="예금주" style="font-size:9px; width: 90px; float: left; line-height: 20px; padding-left: 5px; box-sizing: border-box;" onchange="save_el('<{$withdraw.wd_no}>', 'f_bk_name', this)"><br/>
									<input type="text" name="bk_num" value="<{$withdraw.bk_num}>" placeholder="계좌번호" style="width: 168px; line-height: 20px; padding-left: 5px; box-sizing: border-box;" onchange="save_el('<{$withdraw.wd_no}>', 'f_bk_num', this)">
								<{else}>
									<input type="text" name="bk_title" value="<{$withdraw.bk_title}>" placeholder="은행명" style="font-size:9px; width: 70px; float: left; line-height: 20px; padding-left: 5px; box-sizing: border-box; margin: 2px 6px 2px 3px;" disabled>
									<input type="text" name="bk_name" value="<{$withdraw.bk_name}>" placeholder="예금주" style="font-size:9px; width: 90px; float: left; line-height: 20px; padding-left: 5px; box-sizing: border-box;" disabled><br/>
									<input type="text" name="bk_num" value="<{$withdraw.bk_num}>" placeholder="계좌번호" style="width: 168px; line-height: 20px; padding-left: 5px; box-sizing: border-box;" disabled>
								<{/if}>
							</td>
							<td rowspan="<{$withdraw.work_count}>" class="alignL"><!--[계열사] 업체명-->
								<{if $withdraw.prd_no == '278' && permissionNameCheck($session_permission,"재무관리자")}>
									<span style="color: <{$my_company_list[$withdraw.w_my_c_no].color}>; font-size:10px;"><{$my_company_list[$withdraw.w_my_c_no].c_name}></span><br/>
									<input type="text" name="f_w_c_name" id="f_w_c_name_<{$withdraw.w_no}>" class="f_w_c_name" value="<{$withdraw.w_c_name}>" attr-work="<{$withdraw.w_no}>" style="width: 98%; line-height: 20px; padding-left: 3px; box-sizing: border-box;">
									<input type="hidden" name="f_wd_c_no" class="f_w_c_no" value="<{$withdraw.w_c_no}>">
									<{if $withdraw.w_c_name && $withdraw.w_c_no == 0}>
									<br>
									<a href="work_list.php?sch_w_no=<{$withdraw.w_no}>" target="_blank" style="color: red;">미등록업체 업무리스트 이동 <img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								<{else}>
									<span style="color: <{$my_company_list[$withdraw.w_my_c_no].color}>; font-size:10px;"><{$my_company_list[$withdraw.w_my_c_no].c_name}></span><br/>
									<span style="font-weight:800; font-size:12px;"><{$withdraw.w_c_name}></span>
									<{if $withdraw.w_c_name && $withdraw.w_c_no == 0}>
									<br>
									<a href="work_list.php?sch_w_no=<{$withdraw.w_no}>" target="_blank" style="color: red;">미등록업체 업무리스트 이동 <img src="./images/icon/new_win_icon.png"></a>
									<{/if}>
								<{/if}>
							</td>
							<td><!--업체담당자-->
								<{$withdraw.t_name}><br/>
								<{$withdraw.s_name}>
							</td>
							<td class="money" style="color:#808080;font-weight:normal;"><!--공급가액 (VAT 별도)-->
									￦ <{$withdraw.supply_cost|number_format:0}>
							</td>
							<td class="money"><!--출금 요청액 (VAT 포함)-->
									￦ <{$withdraw.cost|number_format:0}>
							</td>
							<td>
								<{$withdraw.wd_method_name}>
							</td>
							<td class="money" style="color: #0026ff"><!--출금 완료액 (VAT 포함)-->
								<{if permissionNameCheck($session_permission,"재무관리자")}>
									<input type="text" name="f_wd_money" id="f_wd_money" onfocus="this.value=''" onblur="save_el('<{$withdraw.wd_no}>', 'f_wd_money', this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$withdraw.wd_money|number_format:0}>" style="color: #0026ff">
								<{else}>
									￦ <{$withdraw.wd_money}>
								<{/if}>
							</td>
							<{if permissionNameCheck($session_permission, "재무관리자")}>
							<td>
								<{if ($withdraw.wd_method == '1' || $withdraw.wd_method == '4') && $withdraw.wd_state == '2'}>
									<button class="btn_big_memo" style="width:110px;" onclick="return save_element('<{$withdraw.wd_no}>','wd_check_complete');">출금완료 처리</button>
								<{/if}>
								<{if $withdraw.run_s_name}>
									<{$withdraw.run_s_name}>
								<{/if}>
							</td>
							<{/if}>
							<{if (permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"외주관리자"))}>
							<td class="date"> <!-- 관리자 메모 (재무/외주관리자 전용) -->
								<textarea name="f_manager_memo" id="f_manager_memo" onchange="save_el('<{$withdraw.wd_no}>', 'f_manager_memo', this)" class="textarea_work_message" style="height:40px;"><{$withdraw.manager_memo}></textarea>
								<br>
								<span class="day"><{$withdraw.manager_memo_regdate_day}></span><span class="time"><{$withdraw.manager_memo_regdate_time}></span>
								<{$withdraw.manager_memo_s_name}>
							</td>
							<{/if}>
						</tr>
					</form>
					<{/foreach}>
				<{/if}>
				<tr>
					<td colspan="<{if permissionNameCheck($session_permission, "재무관리자")}>18<{elseif permissionNameCheck($session_permission,"외주관리자") }>17<{else}>15<{/if}>" class="paging_wrap">
						<div class="paging_wrap">
							<{$page_list}>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan=15 class="list_button">
						<{if permissionNameCheck($session_permission, "재무관리자") || ($session_s_no == '170' || $session_s_no == '171' || $session_s_no == '101' || $session_s_no == '226')}>
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='withdraw_regist.php<{if !!$search_url}>?<{$search_url}><{/if}>'"><span>출금 등록하기</span></button></div>
						<{/if}>
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_list.php?<{$search_url}>';"><span>엑셀 다운로드 (최대 2,000건)</span></button></div>
						<{if permissionNameCheck($session_permission, "재무관리자")}>
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_block_list.php?<{$search_url}>';"><span>대량이체파일</span></button></div>
						<{/if}>
						<{if $session_team == '00244'}>
							<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_withdraw_cs_list.php?<{$search_url}>';"><span>커머스 환불 엑셀 다운로드</span></button></div>
						<{/if}>
					</td>
				</tr>
				<{if permissionNameCheck($session_permission,"외주관리자") || permissionNameCheck($session_permission,"대표")}>
					<tr>
						<td colspan="10" style="border-bottom: 0; border-right: 0; text-align: left;">
							#외주업체 입금내역 보고용#<span style="color:red;">※주의! 현재 페이지의 내역만 나타남. 20건 이상시 반드시 페이지 이동할것!</span><br><br>
							<div>
								<{foreach from=$sch_my_company_option key=key item=label}>
									<br>[<{$label}>]<br>
									<{foreach from=$withdraw_list item=withdraw}>
										<{if $key == $withdraw.my_c_no}>
										<{$label}>  |  <{$withdraw.product_title}>  |  <{if $withdraw.wd_date}><{$withdraw.wd_date}><{else}>입금예정<{/if}>  |  <{$withdraw.w_c_name}>  |  <{$withdraw.wd_subject}>  |  <{$withdraw.supply_cost}>원  |  <{$withdraw.cost}>원<br>
										<{/if}>
									<{/foreach}>
								<{/foreach}>
							</div>
						</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<div id="d_msg"></div>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(function() {
		var f = document.forms['search_form'];
		var wd_quick = f.sch_wd_quick.value;

		if (wd_quick) {
			$("#d_quick button:eq(" + (wd_quick - 1) +")").css("background-color", "#c73333");
		} else {
			$("#d_quick button").css("background-color", "#000");
		}

		$("#sch_wd_account").remoteChained({
			parents : "#sch_my_c_no",
			url : "/v1/api/corp.account.json.php?parent_data=sch_my_c_no&state_type=2",
			loading : "로딩중.."
		});

		$(".f_w_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
						c_name:request.term,
						s_no: "",
						f_all: true
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.sch_c_name,
								cname : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				var w_no = $(this).attr('attr-work');
				$(this).val(ui.item.cname);

				save_work_element(w_no, "f_w_c_no", ui.item.cno);
				return false;
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		<{if $is_search}>
			$("#sch_w_team").combobox();
		<{/if}>
	});

	function quick_search(quick_no) {
		var f = document.forms['search_form'];
		f.sch_wd_quick.value = quick_no;

		f.sch_my_c_no.value = "";
		f.sch_wd_state.value = "";
		f.sch_wd_method.value = "";
		f.sch_s_wd_date.value = "";
		f.sch_e_wd_date.value = "";
		f.sch_prd_no.value = "";
		f.sch_wd_tax_state.value = "";
		f.sch_wd_etc.value = "";
		f.sch_c_name.value = "";
		f.sch_subject.value = "";
		f.sch_is_inspection.value = "";

		if (quick_no == "1") {
			f.sch_wd_state.value = "1";
			f.sch_wd_method.value = "1";
		} else if (quick_no == "2") {
			f.sch_wd_state.value = "1";
			f.sch_wd_method.value = "2";
		} else if (quick_no == "3") {
			f.sch_wd_tax_state.value = "1";
		} else if (quick_no == "4") {
			f.sch_wd_state.value = "2";
		} else if (quick_no == "5") {
			f.sch_wd_tax_state.value = "2";
		} else if (quick_no == "6") {
			f.sch_wd_etc.value = "1";
		} else if (quick_no == "7") {
			f.sch_wd_etc.value = "2";
		} else if (quick_no == "8") {
			f.sch_my_c_no.value='1';
			f.sch_wd_method.value = "1";
			f.sch_wd_state.value = "3";
			f.sch_is_inspection.value='2';
		}else if (quick_no == "9") {
			f.sch_prd_no.value='278';
		}

		f.submit();
	}

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function save_element(wd_no, target) {
		var f = document.forms['apply_frm' + wd_no];
		f.process.value = target;

		f.submit();
	}

	function save_el(wd_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if ((proc != 'f_is_inspection' && proc != 'f_is_approve') && (default_val && val == default_val))
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_is_inspection' || proc == 'f_is_approve'){
			val = $(obj).is(":checked");
		}

		if (val != "" || (proc == 'f_wd_tax_date' || proc == 'f_wd_date' || proc == 'f_is_inspection' || proc == 'f_is_approve')) {
			$.post("withdraw_list.php", {wd_no : wd_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	// 삭제하기
	function del_manager_record(wd_no)
	{
		eval("var f=document.getElementById('apply_frm" + wd_no + "');");
		f.process.value = 'del_manager_record';

		if (f.f_wd_state.value > 2)
		{
			alert("출금요청 이후건은 삭제 할 수 없습니다.");
			return;
		}

		if (confirm("정말 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function select_check_all(chkall){
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkWithdrawSelect()
	{
		var wd_no_list 		 = "";
		$(".select_check").each(function(idx, item){
			if($(item).is(":checked"))
			{
				if(!!wd_no_list){
					wd_no_list += ("," + $(item).val());
				}else{
					wd_no_list += ($(item).val());
				}
			}
		});

		var f = document.getElementById('select_check_form');

		f.select_wd_no_list.value = wd_no_list;
	}

	function saveSelectWithdraw()
	{
		if(confirm("일괄 처리 하시겠습니까?"))
		{
			checkWithdrawSelect()

			var f = document.getElementById('select_check_form');
			if(!f.select_wd_no_list.value){
				alert("선택한 출금목록이 없습니다.");
				return false;
			}

			f.process.value = 'save_select_withdraw';
			f.submit();
		}

		return false;
	}

	function saveSelectInspection()
	{
		if(confirm("일괄 처리 하시겠습니까?"))
		{
			checkWithdrawSelect()

			var f = document.getElementById('select_check_form');
			if(!f.select_wd_no_list.value){
				alert("선택한 출금목록이 없습니다.");
				return false;
			}

			f.process.value = 'save_select_inspection';
			f.submit();
		}

		return false;
	}

	function saveSelectApprove()
	{
		if(confirm("일괄 처리 하시겠습니까?"))
		{
			checkWithdrawSelect()

			var f = document.getElementById('select_check_form');
			if(!f.select_wd_no_list.value){
				alert("선택한 출금목록이 없습니다.");
				return false;
			}

			f.process.value = 'save_select_approve';
			f.submit();
		}

		return false;
	}

	function modifySelectState()
	{
		if(!$("#select_state").val()){
			alert("출금상태를 선택해주세요.");
			return;
		}

		if(confirm("출금상태를 변경 하시겠습니까?"))
		{
			checkWithdrawSelect();

			var f = document.getElementById('select_check_form');
			if(!f.select_wd_no_list.value){
				alert("선택한 출금목록이 없습니다.");
				return false;
			}
			f.process.value = 'modify_select_state';
			f.submit();
		}
	}

	function modifySelectDate()
	{
		if(!$("#select_date").val()){
			alert("출금완료일을 선택해주세요.");
			return;
		}

		if(confirm("출금완료일을 변경 하시겠습니까?"))
		{
			checkWithdrawSelect();

			var f = document.getElementById('select_check_form');
			if(!f.select_wd_no_list.value){
				alert("선택한 출금목록이 없습니다.");
				return false;
			}

			f.process.value = 'modify_select_date';
			f.submit();
		}

		return false;
	}

	function searchMonCompany(c_name)
	{
		$("#sch_wd_state").val(2);
		$("#sch_wd_method").val(4);
		$("#sch_c_name").val(c_name);
		$("#ord_page_type_hidden").val(100);
		document.search_form.submit();
	}

	function withdraw_insert()
	{
		var f = document.forms['withdraw_insert_frm'];

		if(!$('#withdraw_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 출금리스트에 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function save_work_element(w_no, process, value)
	{
		var obj 	= $("#f_w_c_name_"+w_no);
		var x 		= obj.position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (value != "") {
			$.post("withdraw_list.php", {w_no: w_no, process : process, val : value}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
</script>

</body>
</html>
