<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form name="withdraw_form" id="withdraw_form" action="withdraw_regist.php" method="post" enctype="multipart/form-data" onsubmit="return check_form(this);">
		<input type="hidden" name="wd_no" value="<{$wd_no}>" />
		<input type="hidden" name="process" id="process" value="<{$mode}>" />
		<input type="hidden" name="kind" id="kind" />
		<input type="hidden" name="search_url" value="<{$search_url}>"/>

		<h2 class="title" style="margin-bottom:10px">● 출금 <{$submit_btn}></h2>

		<div class="table_contents_style">
			<!--출금업체(수금업체) 및 세금계산서 정보 -->
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th class="first" style="width:170px;">출금 하는 업체명</th>
						<td style="border-top: 1px solid #ccc;">
							<select id="my_c_no" name="my_c_no" class="select_type3" style="width: 400px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
								<{foreach from=$my_company_name_list key=key item=label}>
									<option value="<{$key}>" <{if ($my_c_no == $key || $mode == "write" && $key == '1')}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first" style="width:170px;">출금 하는 계좌명</th>
						<td style="border-top: 1px solid #ccc;">
							<select id="wd_account" name="wd_account" class="select_type3" style="width: 400px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
								<option value="">::선택::</option>
								<{if $corp_account_option[$my_c_no]}>
									<{foreach from=$corp_account_option[$my_c_no] key=key item=label}>
									<option value="<{$key}>" <{if $key == $wd_account}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								<{/if}>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 출금업체(=수금업체) 및 세금계산서 정보 -->
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th colspan="4" class="first">출금 받는 업체 및 계좌 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first" style="width: 170px;">작성자(부서)</th>
						<td colspan="3">
							<input type="hidden" name="reg_s_no" id="reg_s_no" value="<{$reg_s_no}>">
							<input type="hidden" name="reg_team" id="reg_team" value="<{$reg_team}>">
							<input type="text" class="input_type1" id="reg_s_name" value="<{$reg_s_name}>" <{if !permissionNameCheck($session_permission, '재무관리자')}>style="background:#ebebe4;" readonly<{/if}>>
						</td>
					</tr>
					<tr>
						<th class="first">업체명</th>
						<td colspan="3">
							<input type="hidden" name="c_no" id="c_no"  value="<{$c_no}>"/>
							<input type="text" class="input_type1" name="c_name" id="c_name" onchange="subject_duplicate()" value="<{$c_name}>"/>
							<{if $c_no}>
								<br>
								<span class="d_check_msg" style="color:red;font-weight:normal">
									<{$check_msg}>
									<{if $check_msg}><button type="button" style="padding: 4px 6px;margin-left: 0;background-color: #c73333;" onclick="window.open('./company_regist.php?no=<{$c_no}>')" class="btn_small">자료등록 바로가기</button>
									<{/if}>
								</span>
							<{else}>
								<br>
								<span class="d_check_msg" style="color:red;font-weight:normal">
									미등록업체
									<button type="button" style="padding: 4px 6px;margin-left: 0;background-color: #c73333;" onclick="window.open('./company_regist.php?f_corp_kind=1')" class="btn_small">업체등록 바로가기</button>
								</span>
							<{/if}>
						</td>
					</tr>
					<tr>
						<th class="first">담당자(부서)</th>
						<td colspan="3">
							<input type="hidden" name="s_no" id="s_no" value="<{$s_no}>">
							<input type="hidden" name="team" id="team" value="<{$team}>">
							<input type="text" class="input_type1" id="s_name" value="<{$s_name}>" <{if !permissionNameCheck($session_permission, '재무관리자')}>style="background:#ebebe4;" readonly<{/if}>>
						</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="first" colspan="4">
							<p id="p_mod_company" style="<{if $c_no == '' }>display:none<{/if}>"></p>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th class="first">사업자등록 업체명</th>
						<td width="280px">
							<input type="text" class="input_type1" name="tx_company" id="tx_company" value="<{$tx_company}>"/>
						</td>
						<th width="140px">사업자등록번호</th>
						<td width="280px"><span id="d_tx_company_number"><{$tx_company_number}></span></td>
					</tr>
						<th class="first">대표자명</th>
						<td colspan="3"><span id="d_tx_company_ceo"><{$tx_company_ceo}></span></td>
					<tr>
					<tr>
						<th class="first">사업자등록증(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_registration">
								<{if $o_registration}>
									<a href="#" onclick="down_file('<{$c_no}>','registration'); return false;"><{$o_registration}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<tr>
						<th class="first">통장사본(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_accdoc">
								<{if $o_accdoc}>
									<a href="#" onclick="down_file('<{$c_no}>','accdoc'); return false;"><{$o_accdoc}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<tr>
						<th class="first">기타(파일)</th>
						<td colspan="3">
							<p style="margin-top:10px" id="p_etc">
								<{if $o_etc}>
								<a href="#" onclick="down_file('<{$c_no}>','etc'); return false;"><{$o_etc}></a>
								<{/if}>
							</p>
						</td>
					</tr>
					<{if !$c_no && $wd_no}>
						<tr>
							<td colspan="4">
								<div class="btn_wrap">
									<button type="button" onclick="return save_company('<{$wd_no}>');" class="btn_style1"><span>업체 및 담당자 저장하기</span></button>
								</div>
							</td>
						</tr>
					<{/if}>
				</tbody>
				<thead>
					<tr>
						<th colspan="4" class="first">출금정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="first">wd_no</th>
						<td colspan="3">
							<{$wd_no}>
						</td>
					</tr>
					<tr>
						<th class="first">출금 제목</th>
						<td colspan="3">
							<input type="text" class="input_type1" name="wd_subject" id="wd_subject" value="<{$wd_subject}>"/>
						</td>
					</tr>
					<tr>
						<th class="first">출금방식</th>
						<td colspan="3">
							<{foreach from=$wd_method_option key=key item=label}>
								<input type="radio" name="wd_method" onClick="wd_method_change('<{$label}>')" value="<{$key}>" <{if $wd_method == $key}>checked<{/if}>><{$label}>
							<{/foreach}>
						</td>
					</tr>
					<tr>
						<th class="first">출금계좌</th>
						<td colspan="3">
							<label for="bk_title">은행명:</label>
							<input type="text" name="bk_title" id="bk_title" class="input_type1" value="<{$bk_title}>" placeholder="은행명" style="width: 150px;padding-left: 5px; margin-right: 10px;" <{if $mode == 'modify' && (($wd_state != '1' && $wd_state != '2') || (!permissionNameCheck($session_permission,"재무관리자") && $session_s_no != $reg_s_no))}>readonly<{/if}>/>
							<label for="bk_name">예금주:</label>
							<input type="text" name="bk_name" id="bk_name" class="input_type1" value="<{$bk_name}>" placeholder="예금주" style="width: 150px; padding-left: 5px; margin-right: 10px;" <{if $mode == 'modify' && (($wd_state != '1' && $wd_state != '2') || (!permissionNameCheck($session_permission,"재무관리자") && $session_s_no != $reg_s_no))}>readonly<{/if}>/>
							<label for="bk_num">계좌번호:</label>
							<input type="text" name="bk_num" id="bk_num" class="input_type1" value="<{$bk_num}>" placeholder="계좌번호" style="width: 200px; padding-left: 5px; margin-right: 10px;" <{if $mode == 'modify' && (($wd_state != '1' && $wd_state != '2') || (!permissionNameCheck($session_permission,"재무관리자") && $session_s_no != $reg_s_no))}>readonly<{/if}>/>
						</td>
					</tr>
					<tr>
						<th class="first">출금상태</th>
						<td>
							<select name="wd_state" id="wd_state" class="select_type2" >
								<{foreach from=$wd_state_option key=key item=label}>
									<{if $key != 0}>
										<{if $wd_no }>
											<option value="<{$key}>" <{if $wd_state == $key}>selected<{/if}> <{if $session_s_no != '170' && $key == '4'}>disabled<{/if}>><{$label}></option>
										<{else}>
											<option value="<{$key}>"
												<{if $key == '4'}>
													<{if $session_s_no != '170'}>disabled<{/if}>
												<{else}>
													<{if !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>
												<{/if}>
											><{$label}></option>
										<{/if}>
									<{/if}>
								<{/foreach}>
							</select>
							</td>
						<th class="first">출금완료일</th>
						<td>
							<div id="wd_date_display">
								<input type="text" class="input_type_date date-picker" id="wd_date" name="wd_date" value="<{if $wd_no}><{$wd_date}><{elseif permissionNameCheck($session_permission, '재무관리자')}><{$today}><{/if}>" />
							</div>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">출금 요청액<br>(VAT/소득세 포함)</th>
						<td colspan="3">
							<div id="supply_cost_display">
								<{foreach from=$wd_vat_choice_option key=key item=label}>
									<input type="radio" name="vat_choice" value="<{$key}>" onclick="vat_tax_calculate();" <{if $vat_choice == $key}>checked<{/if}>><{$label}> ,
								<{/foreach}>
								<br>
								<input type="text" name="cost" id="cost" onfocus="this.value=''" onchange="vat_tax_calculate_reverse()" onkeyup="vat_tax_calculate_reverse()" class="input_type_money" value="<{$cost}>" style="color: #F00; background-color:#ff0;"> =
								공급가액 <input type="text" name="supply_cost" id="supply_cost" onfocus="this.value=''" onchange="vat_tax_calculate()" onkeyup="vat_tax_calculate()" class="input_type_money" value="<{$supply_cost}>" style="color: #000">
								<span id="vat_display">
									+ 부가세액
									<input type="text" name="supply_cost_vat" id="supply_cost_vat" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$supply_cost_vat}>" style="width: 80px; color: #777;">
								</span>
								<span id="tax_display">
									+ 소득세액
									(사업소득세 : <input type="text" name="biz_tax" id="biz_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$biz_tax}>" style="width: 80px; color: #777;">,
									지방소득세 : <input type="text" name="local_tax" id="local_tax" onfocus="this.value=''" onchange="inputNumberFormat(this)" onkeyup="inputNumberFormat(this)" class="input_type_money" value="<{$local_tax}>" style="width: 80px; color: #777;">)
								</span>
							</div>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">출금 완료액<br>(VAT/소득세 포함)</th>
						<td colspan="3">
							<div id="wd_money_display">
								<input type="text" name="wd_money" id="wd_money" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money" <{if permissionNameCheck($session_permission, '마케터')}>disabled<{/if}> value="<{$wd_money}>" style="color: #0026ff;background-color:#ff0;">
								<textarea name="wd_detail" style="margin-left: 20px;padding: 3px;box-sizing: border-box;width: 400px;" placeholder="지출내역" <{if !permissionNameCheck($session_permission, '재무관리자')}>disabled<{/if}>><{$wd_detail}></textarea>
							</div>
						</td>
					</tr>
					<tr>
						<th class="first">상품내역</th>
						<td colspan="3">
							<textarea name="cost_info" id="cost_info" cols="30" rows="8" class="textarea_type3"><{$cost_info}></textarea>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">파일첨부</th>
						<td colspan="3">
							<{if $file_origin == ''}>
								<{if !$wd_no || $reg_s_no == $session_s_no || permissionNameCheck($session_permission,"재무관리자")}>
									<p><input type="file" name="withdraw_file" id="withdraw_file" style="width:400px;"><a style="color:#808080;font-size:11px;">(MAX 10MB)</a></p>
								<{/if}>
							<{else}>
								<img src="images/common/ico/ico_file.gif" alt="file download"> <a herf="#" onclick="down_file('<{$wd_no}>','withdraw');return false;" style="cursor:pointer" ><{$file_origin}></a>
								<{if permissionNameCheck($session_permission,"재무관리자") || $reg_s_no == $session_s_no }>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="del_file('<{$wd_no}>','withdraw');" class="btn_file">del</button>
								<{/if}>
							<{/if}>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">계산서 수령상태</th>
						<td colspan="3">
							<select name="wd_tax_state" id="wd_tax_state" class="select_type3" >
								<{foreach from=$wd_tax_state_option key=key item=label}>
									<{if $wd_no }>
									<option value="<{$key}>" <{if $wd_tax_state==$key}>selected<{/if}>><{$label}></option>
									<{else}>
									<option value="<{$key}>" <{if !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select> <span id="wd_tax_notice_display" style="color:red;font-weight:normal">※경영지원팀에 입금요청 시 계산서 선발행 후 파일첨부하여 요청 바랍니다.</span>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">계산서 수령일자</th>
						<td colspan="3">
							<div id="wd_tax_date_display">
								<input type="text" class="input_type_date date-picker" id="wd_tax_date" name="wd_tax_date" value="<{if $wd_no}><{$wd_tax_date}><{elseif permissionNameCheck($session_permission, '재무관리자')}><{$today}><{/if}>" />
							</div>
						</td>
					</tr>
					<tr style="height: 43px;">
						<th class="first">계산서 수령항목</th>
						<td colspan="3">
							<div id="wd_tax_item_display">
								<input type="text" class="input_type1" id="wd_tax_item" name="wd_tax_item" value="<{$wd_tax_item}>" />
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="btn_wrap">
								<{if permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "외주관리자")}>
									<button type="submit" class="btn_style1"><span><{$submit_btn}></span></button>
								<{/if}>
								<button type="button" onclick="location.href='withdraw_list.php?<{$search_url}>'" class="btn_small"  style="float: right; font-size: 13px;"><span>목록</span></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //table_contents_style -->
	</form>

	<{if $wd_no}>
		<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="withdraw_regist.php" style="width: 877px;">
			<input type="hidden" name="process" value="add_comment">
			<input type="hidden" name="wd_no" id="wd_no" value="<{$wd_no}>">
			<input type="hidden" name="comment_no" id="comment_no" value="">
			<input type="hidden" name="search_url" value="<{$search_url}>">

			<div style="padding-left:5px; color: #999;">
				<span style="font-size: 14px; font-weight: bold;"><{$session_s_team_name}></span>
				<div style="padding: 0;box-sizing: content-box;border: 1px solid #ccc;margin: 5px 5px 0 0;">
					<textarea name="comment_new" id="comment_new" class="textarea_type3" style="width: 100%;height: 100px;box-sizing: border-box;margin: 0;border: 0;resize: none;" required></textarea>
				</div>
				<div style="padding: 4px 0 0 10px; margin-right: 4px;overflow: hidden;border: 1px solid #ccc;border-top: 0;">
					<input type="file" id="comm_file" name="comm_file">
					<button type="submit" class="btn_small" style="margin-top: -1px; float: right;border-radius: 0;background-color: #222;font-weight: bold;padding: 7px 25px;"><span>등록</span></button>
				</div>
			</div>
		</form>
		<{if $linked_comment_list}>
			<div class="comment-wrapper" style="margin-top: 5px; margin-left: 5px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; width: 870px;">
				<{foreach from=$linked_comment_list item=linked_comment}>
					<div style="margin-bottom: 5px; border-bottom: 1px solid #ccc; padding: 5px;">
						<span style="font-size: 14px; font-weight: bold;"><{$linked_comment.s_name}></span>
						<span style="font-size:9px; color:#a7a7a7;">[<{$linked_comment.t_name}>]</span>
						<span style="color: #999;"><{$linked_comment.regdate}></span>
						<{if $linked_comment.s_no == $session_s_no}>
							<a href="javascript:void(0);" onclick="comment_delete('<{$linked_comment.no}>');" style="padding: 2px 5px;border: 1px solid #ccc;font-size: 11px;font-family: 'Malgun Gothic';text-decoration: none;">삭제</a>
						<{/if}>
						<div style="padding-left:10px; min-height: 20px; margin-top: 3px;" class="main-comm-content">
							<{$linked_comment.comment}>
						</div>
						<{if $linked_comment.file_path}>
						<div style="padding-left: 5px; margin-top: 3px;">
							<a href="uploads/<{$linked_comment.file_path}>" title="<{$linked_comment.file_name}>" download="<{$linked_comment.file_name}>">
								<img src="./images/common/ico/ico_file.gif" alt="<{$linked_comment.file_name}>" style="margin-top: -3px; margin-right: 3px;">
								<{$linked_comment.file_name}>
							</a>
						</div>
						<{/if}>
					</div>
				<{/foreach}>
			</div>
		<{/if}>
	<{/if}>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#s_name").autocomplete({
			source: function( request, response ) {
				$("#s_no").val('');
				$("#team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#s_no").val(ui.item.sno);
				$('#s_name').val(ui.item.sname);
				$('#team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		$("#reg_s_name").autocomplete({
			source: function( request, response ) {
				$("#reg_s_no").val('');
				$("#reg_team").val('');
				$.ajax({
					url: "/v1/api/staff.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_label,
								team : item.team
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$("#reg_s_no").val(ui.item.sno);
				$('#reg_s_name').val(ui.item.sname);
				$('#reg_team').val(ui.item.team);
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

		// 업체명 자동완성 검색 결과 값 반영
		$("#c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company.api.php",
					dataType: "json",
					data: {
							c_name:request.term
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_name,
								sno : item.s_no,
								sname : item.s_label,
								team : item.team,
								bk_title : item.bk_title,
								bk_name : item.bk_name,
								bk_num : item.bk_num
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$("#c_no").val(ui.item.cno);
				$("#bk_title").val(ui.item.bk_title);
				$("#bk_name").val(ui.item.bk_name);
				$("#bk_num").val(ui.item.bk_num);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$("#s_no").val(ui.item.sno);
				$("#s_name").val(ui.item.sname);
				$("#team").val(ui.item.team);
				$('#c_name').val(ui.item.label);
				$("#bk_title").val(ui.item.bk_title);
				$("#bk_name").val(ui.item.bk_name);
				$("#bk_num").val(ui.item.bk_num);
				return false;
			},
			minLength: 1
		});

		// 사업자등록 업체명 자동완성 검색 결과 값 반영
		$("#tx_company").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/auto_company_tx.api.php",
					dataType: "json",
					data: {
							tx_company:request.term
						},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.tx_company,
								label2 : item.bk_manager,
								label3 : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				$("#c_no").val(ui.item.cno);
				call_tx_info(ui.item.cno);
				subject_duplicate();
			},
			focus: function( event, ui ) {
				$('#tx_company').val(ui.item.label);
				$('#bk_manager').val(ui.item.label2);
				$('#c_name').val(ui.item.label3);
				return false;
			},
			minLength: 1
		});

		$(".month-picker").datepicker( {
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy-mm',
			onClose: function(dateText, inst) {
				var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
			},
			beforeShow : function(input, inst) {
				if ((datestr = $(this).val()).length > 0) {
					actDate = datestr.split('-');
					year = actDate[0];
					month = actDate[1]-1;
					$(this).datepicker('option', 'defaultDate', new Date(year, month));
					$(this).datepicker('setDate', new Date(year, month));
				}
			}
		});

		$("#wd_account").remoteChained({
			parents : "#my_c_no",
			url : "/v1/api/corp.account.json.php?parent_data=my_c_no&state_type=2",
			loading : "로딩중.."
		});

		changeVatChoice('<{$vat_choice}>')
	});

	function call_tx_info(c_no)
	{
		var proc = "tx_info";

		$.post("withdraw_regist.php", {process : proc, c_no : c_no}, function(result)
		{
			var arr = $.parseJSON(result);

			$("input[name=tx_company]").val(arr.tx_company);
			$("#d_tx_company_number").html(arr.tx_company_number);
			$("#d_tx_company_ceo").html(arr.tx_company_ceo);

			if (arr.o_registration) {
				var t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','registration'); return false;\">" + arr.o_registration + "</a>";
				$("#p_registration").html(t_html);
			} else {
				$("#p_registration").html("");
			}
			if (arr.o_accdoc) {
				var t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','accdoc'); return false;\">" + arr.o_accdoc + "</a>";
				$("#p_accdoc").html(t_html);
			} else {
				$("#p_accdoc").html("");
			}
			if (arr.o_etc) {
				var t_html = "<a href=\"#\" onclick=\"down_file('" + c_no + "','etc'); return false;\">" + arr.o_etc + "</a>";
				$("#p_etc").html(t_html);
			} else {
				$("#p_etc").html("");
			}

			if (!arr.o_registration || !arr.o_accdoc) {
				var msg = "자료없음 (";
				if (!arr.o_registration)
					msg += "사업자등록증, ";
				if (!arr.o_accdoc)
					msg += "통장사본, ";

				msg = msg.slice(0, -2);

				msg += ")";
				$(".d_check_msg").html(msg);
			} else {
				$(".d_check_msg").html("");
			}

			$("#p_mod_company").show();
			$("#p_mod_company a").attr('href', 'company_regist.php?no=' + c_no);
		});
	}

	function check_form(f)
	{
		<{if !permissionNameCheck($session_permission, "재무관리자") && !permissionNameCheck($session_permission, "대표")}>
			if (cknull("reg_s_no","출금 요청 담당자를")=="x") {return false;}
			if (cknull("c_name","업체명을")=="x") {return false;}

			if (f.c_no.value == "") {
				alert("업체명 확인이 안됩니다. 자동완성으로 나타난 업체명으로 선택해 주세요.");
				return false;
			}
		<{/if}>
		if (cknull("wd_subject","출금명을")=="x") {return false;}
		if (cknull("wd_state","출금상태를")=="x") {return false;}

		if(!$('input:radio[name=wd_method]').is(':checked')) {
			alert("출금방식을 선택해주세요.");
			return false;
		}

		f.process.value = '<{$mode}>';
		f.target = "";

		$("form[name=withdraw_form] :input").prop("disabled", false);
		$("select option").prop("disabled", false);
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function vat_tax_calculate()
	{
		var obj 	= document.getElementById("supply_cost");
		var amount 	= uncomma(obj.value);
		var vat_tax = $(":input:radio[name=vat_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1")
			{
				$("#vat_display").show(); // 부가세액
				$("#tax_display").hide(); // 소득세액

				var vat_tax_ratio 	= 10;
				var amountTax 		= Math.round(amount * (vat_tax_ratio / 100));
				var amountTotal 	= parseFloat(amount) + parseFloat(amountTax);

				$("#cost").val(amountTotal);
				$("#supply_cost_vat").val(amountTax);

				obj.value = comma(amount);
				$("#cost").val(comma($("#cost").val()));
				$("#supply_cost_vat").val(comma($("#supply_cost_vat").val()));
				$("#biz_tax").val('0');
				$("#local_tax").val('0');
			}
			else if (vat_tax == "2")
			{
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").show(); // 소득세액

				var biz_tax_ratio 	= 3.0;
				var local_tax_ratio = 0.3;

				var amountBizTax 	= -Math.floor((amount * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax 	= -Math.floor((amount * (local_tax_ratio / 100))/10)*10;
				var amountTotal 	= parseFloat(amount) + parseFloat(amountBizTax) + parseFloat(amountLocalTax);

				$("#cost").val(amountTotal);
				$("#biz_tax").val(amountBizTax);
				$("#local_tax").val(amountLocalTax);

				obj.value = comma(amount);
				$("#cost").val(comma($("#cost").val()));
				$("#supply_cost_vat").val('0');
				$("#biz_tax").val(comma($("#biz_tax").val()));
				$("#local_tax").val(comma($("#local_tax").val()));
			}
			else if (vat_tax == "3")
			{
				$("#vat_display").hide(); // 부가세액
				$("#tax_display").hide(); // 소득세액

				$("#supply_cost_vat").val('0');
				$("#biz_tax").val('0');
				$("#local_tax").val('0');
			}
		}
	}

	function vat_tax_calculate_reverse()
	{
		var obj		= document.getElementById("cost");
		var amount	= uncomma(obj.value);
		var vat_tax	= $(":input:radio[name=vat_choice]:checked").val();

		if (!isNaN(amount)) {
			if (vat_tax == "1")
			{
				var tax_ratio 	= 10;
				var amountTax 	= Math.round(amount / ((100 + tax_ratio) / 10));
				var amountTotal = parseFloat(amount) - parseFloat(amountTax);

				$("#supply_cost").val(amountTotal);
				$("#supply_cost_vat").val(amountTax);

				obj.value = comma(amount);
				$("#supply_cost").val(comma($("#supply_cost").val()));
				$("#supply_cost_vat").val(comma($("#supply_cost_vat").val()));
			}
			else if (vat_tax == "2")
			{
				var biz_tax_ratio 	= 3.0;
				var local_tax_ratio = 0.3;
				var amountTotal 	= Math.floor((amount / ((100 - biz_tax_ratio - local_tax_ratio) / 100))/10)*10;
				var amountBizTax 	= -Math.floor((amountTotal * (biz_tax_ratio / 100))/10)*10;
				var amountLocalTax 	= -Math.floor((amountTotal * (local_tax_ratio / 100))/10)*10;

				$("#supply_cost").val(amountTotal);
				$("#biz_tax").val(amountBizTax);
				$("#local_tax").val(amountLocalTax);

				obj.value = comma(amount);
				$("#supply_cost").val(comma($("#supply_cost").val()));
				$("#biz_tax").val(comma($("#biz_tax").val()));
				$("#local_tax").val(comma($("#local_tax").val()));
			}
		}
	}

	// 파일 다운받기
	function down_file(c_no, type)
	{
		var gsWin 	= window.open('about:blank','file download','width=400,height=300');
		var f 		= document.forms['withdraw_form'];
		f.target 	= "file download";
		f.method 	= "post";
		f.process.value = 'down_file';
		f.kind.value = type;
		f.submit();
	}

	// 파일 삭제하기
	function del_file(w_no,type)
	{
		window.close();
		var f 		= document.forms['withdraw_form'];
		f.method 	= "post";
		f.process.value = "del_file";
		f.kind.value 	= type;

		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

	function subject_duplicate(){
		var obj 			= document.getElementById("c_name");
		var subject_obj 	= document.getElementById("wd_subject");
		subject_obj.value 	= obj.value;
	}

	//업체정보 저장하기
	function save_company(dp_no) {
		var f = document.forms['withdraw_form'];
		f.process.value = "save_company";

		if (confirm("업체정보와 담당자정보를 저장 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function comment_delete(no){
		var f = document.forms['comment_frm'];

		f.process.value = "del_comment";
		f.comment_no.value = no;

		// 확인 체크
		if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	function changeVatChoice(vat_choice)
	{
		if (vat_choice == '1'){
			$("#vat_display").show();
			$("#tax_display").hide();
		}else if(vat_choice == '2'){
			$("#vat_display").hide();
			$("#tax_display").show();
		}else if(vat_choice == ''){
			$("#vat_display").hide();
			$("#tax_display").hide();
		}
	}

</script>

</body>
</html>
