<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<form name="search_form" action="with_product_cms_list.php" method="get" enctype="multipart/form-data" autocomplete="off">
		<h2 class="title">● 커머스 상품 리스트</h2>
		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<span class="name_tit">커머스 상품그룹</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_prd_g1_list item=prd_g1_data}>
							<option value="<{$prd_g1_data.k_name_code}>" <{if $sch_prd_g1 == $prd_g1_data.k_name_code}>selected<{/if}>><{$prd_g1_data.k_name}></option>
							<{/foreach}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_prd_g2_list item=prd_g2_data}>
							<option value="<{$prd_g2_data.k_name_code}>" <{if $sch_prd_g2 == $prd_g2_data.k_name_code}>selected<{/if}>><{$prd_g2_data.k_name}></option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">Display</span>
						<select name="sch_display" id="" class="select_type1" style="margin-right:20px">
							<option value="">::전체::</option>
							<{foreach from=$display_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<span class="name_tit">업체명</span>
						<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type5" style="margin-right:20px">

						<span class="name_tit">상품명</span>
						<input type="text" name="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" style="margin-right:20px">

						<span class="name_tit">상품코드</span>
						<input type="text" name="sch_prd_code" value="<{$sch_prd_code}>" class="input_type2" style="margin-right:20px">

						<span class="name_tit">담당자</span>
						<input type="text" name="sch_manager" value="<{$sch_manager}>" class="input_type2" >

						<button type="submit" class="btn_small">검색</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<div class="table_list_style" style="margin-top: 10px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="11">
						<span style="float: left; display: inline-block; margin-top: 13px; margin-left: 3px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:50px; width:50px; height: 40px;">prd_no</th>
					<th style="min-width:50px; width:50px;">Display</th>
					<th style="min-width:180px; width:180px;">상품그룹</th>
					<th style="min-width:440px;">[업체명]<br>상품명</th>
					<th style="min-width:260px; width:260px;">상품구성</th>
					<th style="min-width:80px; width:80px;">상품코드</th>
					<th style="min-width:90px; width:90px;">MY QUICK SET<br/>커머스 상품<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
					<th style="min-width:100px; width:100px;">담당자<br>(부서)</th>
					<th style="min-width:75px; width:75px;">작성일<br/>작성자</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="11"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{foreach from=$product_cms_list item=product_cms}>
						<{assign var=unit_count value=$product_cms.prd_unit_list|@count}>
						<tr <{if $product_cms.display=="OFF"}>style="background-color: #999;"<{/if}>>
							<td class="first"> <!-- prd_no -->
								<{$product_cms.prd_no}>
							</td>
							<td <{if $product_cms.display=="ON"}>class="colorR"<{/if}>> <!-- Display -->
								<{$product_cms.display}>
							</td>
							<td class="alignL"> <!-- 상품그룹 -->
								<{$product_cms.k_prd1_name}> > <{$product_cms.k_prd2_name}>
							</td>
							<td style="background-color: #fffee3;" class="alignL link"> <!-- [업체명]<br>상품명 -->
								<div style="color:#808080;">
									[<{$product_cms.c_name}>]<br/>
									<input type="text" id="prd_text_<{$product_cms.prd_no}>" value="<{$product_cms.title}>" style="display: inline-block;width: -webkit-fill-available; border: 0; color: #808080; background: #fffee3; margin: 0; font-weight: bold;" readonly>
									<button class="btnCopy" attr-prd="<{$product_cms.prd_no}>" style="background: #333;color: white; padding: 2px 5px;">text copy</button>
								</div>
							</td>
							<td style="background-color: #fffee3;" class="alignL" > <!-- 상품구성 -->
								<{if $product_cms.prd_unit_list}>
									<{assign var=idx value=1}>
									<{foreach from=$product_cms.prd_unit_list item=prd_unit}>
										<div style="<{if $unit_count != $idx}>border-bottom: 1px solid #ccc;<{/if}>"><{$prd_unit}></div>
										<{assign var=idx value=$idx+1}>
									<{/foreach}>
								<{/if}>
							</td>
							<td style="background-color: #fffee3;"> <!-- 상품코드 -->
								<{$product_cms.prd_code}>
							</td>
							<td style="min-width:90px; width:90px; font-size: 30px;">
									<span class="<{$product_cms.prd_no}>_quick_prd" onclick="proc_quick_prd('<{$product_cms.prd_no}>', this)" attr-mode="<{if $product_cms.quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;">
									<{if $product_cms.quick_prd }>
										<span class="font-red">★</span>
									<{else}>
										☆
									<{/if}>
									</span>
							</td>
							<td> <!-- 담당자 -->
								<{$product_cms.manager}><br>
								<span style="color: #9e9e9e; font-size: 10px;">(<{$product_cms.t_name}>)</span>
							</td>
							<td> <!-- 작성일<br/>작성자 -->
								<span style="color:blue;"><{$product_cms.writer_day}></span>
								<br>
								<span style="color:green;"><{$product_cms.writer_time}></span>
								<{$product_cms.writer_name}>
							</td>
						</tr>
					<{/foreach}>
				<{/if}>
					<tr>
						<td colspan="11" class="paging_wrap">
						  <div class="paging_wrap">
							  <{$pagelist}>
							</div>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
	<!-- //product_content -->
</div>
<!-- //admin_content -->

<script>
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$(".btnCopy").click(function(){
            var prd_no = $(this).attr('attr-prd');
            var text	= $("#prd_text_"+prd_no);
            text.select();
            document.execCommand('Copy');
		});
	});

	function proc_quick_prd(prd_no, obj)
	{
		var x        = $(obj).position();
		var status   = $(obj).attr('attr-mode');
		var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
		var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


		if(confirm(conf_msg))
		{
			var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

			$.post("ajax_proc_data.php", {
				process: process,
				quick_prd: prd_no,
				quick_type: "cms"
			}, function (data) {
				var result_data = JSON.parse(data);
				if(result_data.result){
					var html = (result_data.status == 'add') ? "<span class='font-red'>★</span>" :  "☆";
					$(obj).attr('attr-mode', result_data.status);
					$(obj).html(html);
					d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
					sort_quick_prd();
					open_quick_prd();
				}
			});
		}
	}

	function sort_quick_prd()
	{
		$.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "cms"}, function(result){
		});
	}

	function open_quick_prd()
	{
		window.open('popup/quick_prd_set.php?sch_quick_type=cms_with','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}
</script>

</body>
</html>
