<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: right;}
	.table tbody td.dp_name{text-align: left;}
	.font-red{color: red;}
	.ord_td{background: #FCE4D6;}
	.vat_td{background: #E2EFDA;}
	.settle_td{background: #DDEBF7;}
	.per_td{background: #F2F2F2;}
</style>

<div class="admin_content" style="margin: 0;">
	<h2 class="title" style="margin-bottom: 10px;">● 판매처별 상세 검토</h2>
	<span>와플 택배리스트 기준으로 최근 몇 개월간의 미확인 주문건과 금액을 검토합니다. 미확인 비중이 갑자기 증가한 경우 전수 검토를 진행하세요.</span>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_vat_settle_review_iframe.php" autocomplete="off">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_c_no">업체명/브랜드명</label>
				<select id="sch_c_no" name="sch_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$brand_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_c_no">판매처</label>
				<select id="sch_dp_c_no" name="sch_dp_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_list key=key item=dp_comp}>
					<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_review_s_month">주문일</label>
				<input type="text" name="sch_review_s_month" id="sch_review_s_month" class="month-picker form-control" value="<{$sch_review_s_month}>" style="margin-right: 5px;" required />
				~
				<input type="text" name="sch_review_e_month" id="sch_review_e_month" class="month-picker form-control" value="<{$sch_review_e_month}>" required/>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" style="margin-top: 10px; table-layout: fixed; width: 100%;">
		<colgroup>
			<col width="200px;"> <!-- 판매처 -->
			<col width="80px;"> <!-- 주문일 -->
			<col width="100px;"> <!-- 와플 발송 주문수 -->
			<col width="100px;"> <!-- 부가세 확인 주문수 -->
			<col width="100px;"> <!-- 부가세 미확인 주문수 -->
			<col width="100px;"> <!-- 정산 확인 주문수 -->
			<col width="100px;"> <!-- 정산 미확인 주문수 -->
			<col width="80px;"> <!-- 정산 미확인 주문 비중 -->
			<col width="120px;"> <!-- 와플 발송 결제 금액 -->
			<col width="120px;"> <!-- 부가세 확인 과세매출 금액 -->
			<col width="120px;"> <!-- 부가세 미확인 와플 발송 금액 -->
			<col width="80px;"> <!-- 부가세 미확인 금액 비중 -->
			<col width="120px;"> <!-- 정산 확인 정산 금액 -->
			<col width="120px;"> <!-- 정산 미확인 와플 발송 금액 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" colspan="7">주문번호 검토</th>
				<th scope="col" colspan="6">금액 검토</th>
			</tr>
			<tr>
				<th scope="col">주문일</th>
				<th scope="col">와플 발송 주문수</th>
				<th scope="col">부가세 확인 주문수</th>
				<th scope="col">부가세 미확인 주문수</th>
				<th scope="col">정산 확인 주문수</th>
				<th scope="col">정산 미확인 주문수</th>
				<th scope="col">정산 미확인<br/>주문 비중</th>
				<th scope="col">와플 발송 결제 금액</th>
				<th scope="col">부가세 확인<br/>과세매출 금액</th>
				<th scope="col">부가세 미확인<br/>와플 발송 결제금액</th>
				<th scope="col">부가세 미확인<br/>금액 비중</th>
				<th scope="col">정산 확인<br/>정산 금액</th>
				<th scope="col">정산 미확인<br/>와플 발송 결제금액</th>
			</tr>
		</thead>
		<tbody>
			<{if $sales_review_list}>
				<{foreach from=$sales_review_list key=dp_c_no item=sales_mon_review}>
					<{assign var=dp_idx value=0}>
					<{foreach from=$sales_mon_review key=sales_mon item=sales_review}>
						<tr>
							<{if $dp_idx == 0}>
							<td class="first dp_name" rowspan="<{$sales_review_count_list[$dp_c_no]}>"><!-- 판매처 -->
								<{$sales_review.c_name}>
							</td>
							<{/if}>
							<td class="text-center"> <!-- 주문일 -->
								<{$sales_mon}>
							</td>
							<td class="ord_td"> <!-- 와플 발송 주문수 -->
								<span style="float: right;"><{$sales_review.ord_cnt|number_format:0}></span>
							</td>
							<td class="vat_td"> <!-- 부가세 확인 주문수 -->
								<span style="float: right;"><{$sales_review.vat_cnt|number_format:0}></span>
							</td>
							<td class="vat_td font-red"> <!-- 부가세 미확인 주문수 -->

								<span style="float: right;"><{$sales_review.not_vat_cnt|number_format:0}></span>
							</td>
							<td class="settle_td"> <!-- 정산 확인 주문수 -->
								<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sales_review_mon_list[$sales_mon].s_date}>&sch_order_e_date=<{$sales_review_mon_list[$sales_mon].e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_is_settle=1" target="_blank" style="float: right;margin-left: 3px;">
									<img src="./images/icon/new_win_icon.png">
								</a>
								<span style="float: right;"><{$sales_review.settle_cnt|number_format:0}></span>
							</td>
							<td class="settle_td font-red"> <!-- 정산 미확인 주문수 -->
								<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sales_review_mon_list[$sales_mon].s_date}>&sch_order_e_date=<{$sales_review_mon_list[$sales_mon].e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_is_settle=2" target="_blank" style="float: right;margin-left: 3px;">
									<img src="./images/icon/new_win_icon.png">
								</a>
								<span style="float: right;"><{$sales_review.not_settle_cnt|number_format:0}></span>
							</td>
							<td class="per_td"> <!-- 정산 미확인 주문 비중 -->
								<span style="float: right;"><{$sales_review.not_settle_per|number_format:1}>%</span>
							</td>
							<td class="ord_td"> <!-- 와플 발송 결제 금액 -->
								<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.ord_price|number_format:0}></span>
							</td>
							<td class="vat_td"> <!-- 부가세 확인 과세매출 금액 -->
								<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sales_review_mon_list[$sales_mon].s_date}>&sch_order_e_date=<{$sales_review_mon_list[$sales_mon].e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_is_vat=1" target="_blank" style="float: right;margin-left: 3px;">
									<img src="./images/icon/new_win_icon.png">
								</a>
								<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.vat_price|number_format:0}></span>
							</td>
							<td class="vat_td font-red"> <!--  부가세 미확인 와플 발송 결제금액 -->
								<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sales_review_mon_list[$sales_mon].s_date}>&sch_order_e_date=<{$sales_review_mon_list[$sales_mon].e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_is_vat=2" target="_blank" style="float: right;margin-left: 3px;">
									<img src="./images/icon/new_win_icon.png">
								</a>
								<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.not_vat_price|number_format:0}></span>
							</td>
							<td class="per_td"> <!-- 부가세 미확인 금액 비중 -->
								<span style="float: right;"><{$sales_review.not_vat_per|number_format:1}>%</span>
							</td>
							<td class="settle_td"> <!-- 정산 확인 정산 금액 -->
								<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.settle_price|number_format:0}></span>
							</td>
							<td class="settle_td font-red"> <!-- 정산 미확인 와플 발송 결제금액 -->
								<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.not_settle_price|number_format:0}></span>
							</td>
						</tr>
						<{assign var=dp_idx value=$dp_idx+1}>
					<{/foreach}>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first text-center" colspan="14">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
</div>

</body>
</html>
