<{include file="inc/boot_navibar.html"}>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="work_set_unit.php" autocomplete="off">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">wsu_no</span>
				<input type="text" name="sch_wsu_no" value="<{$sch_wsu_no}>" class="input_type2" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit" style="">업무세트 담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" />
					<option value="all" <{if $sch_s_no=="all"}>selected<{/if}>>::전체::</option>
					<{section name=data loop=$staff}>
					<option value="<{$staff[data].no}>" <{if ($sch_s_no !='' && $staff[data].no==$sch_s_no)}>selected<{/if}>><{$staff[data].name}></option>
					<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업무세트 담당자 부서</span>
				<select id="sch_team" name="sch_team" class="select_type3">
					<option value="">::전체::</option>
					<{section name=data loop=$team_list}>
						<{if $team_list[data][0]!='대표' && $team_list[data][0]!='프리랜서'}>
							<option value="<{$team_list[data][1]}>" <{if ($sch_team=='' && $team_list[data][0]=='전체') || $sch_team == $team_list[data][1]}>selected<{/if}>><{$team_list[data][0]}></option>
						<{/if}>
					<{/section}>
				</select>
				<span style="margin-right:20px;"></span>

				<span class="name_tit">DISPLAY</span>
				<select id="sch_display" name="sch_display" class="select_type1">
					<option value="">::전체::</option>
					<option value="1" <{if $sch_display=='1'}>selected<{/if}>>ON</option>
					<option value="2" <{if $sch_display=='2'}>selected<{/if}>>OFF</option>
				</select>

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">업무세트명</span>
							<input type="text" name="sch_title" value="<{$sch_title}>" class="input_type1" />
						</td>
						<td>
							<button type="submit" class="btn_small">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="max-width:1400px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="6">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:70px;">wsu_no</th>
					<th style="min-width:400px; max-width:500px;">업무세트명</th>
					<th style="min-width:90px;">업무세트 담당자</th>
					<th style="min-width:140px;">부서</th>
					<th style="min-width:70px;">작성일</th>
					<th style="min-width:42px;font-size:10px;">DISPLAY</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="14"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{if $work_set_unit}>
					<{section name=list loop=$work_set_unit}>
						<form name="apply_frm<{$work_set_unit[list].wsu_no}>" id="apply_frm<{$work_set_unit[list].wsu_no}>" class="list_form" method="post" enctype="multipart/form-data" action="work_set_unit.php">
							<input type="hidden" name="process" id="process">
							<input type="hidden" name="wsu_no" id="wsu_no" value="<{$work_set_unit[list].wsu_no}>">
							<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
							<tr <{if $work_set_unit[list].wsu_no == '2'}>style="background-color: #999;"<{/if}>>
								<td class="first"><!--wsu_no-->
									<{$work_set_unit[list].wsu_no}>
								</td>
								<td class="alignL"><!--업무세트명-->
									<span style="font-weight:800; font-size:14px;">
										<a href="work_set_unit_regist.php?wsu_no=<{$work_set_unit[list].wsu_no}>"><{$work_set_unit[list].title}></a>
									</span>
								</td>
								<td><!--업무세트 담당자-->
  								<{$work_set_unit[list].s_name}>
								</td>
								<td><!--업무세트 담당자 부서-->
									<{section name=data loop=$team_list}>
										<{if $team_list[data][1] == $work_set_unit[list].team}><{$team_list[data][0]}><{/if}>
									<{/section}>
								</td>
								<td><!--작성일-->
									<span class="day" style="font-size: 10px;"><{$work_set_unit[list].regdate_day}></span><br /><span class="time" style="font-size: 10px;"><{$work_set_unit[list].regdate_time}></span>
								</td>
								<td> <!-- DISPLAY -->
									<{if permissionNameCheck($session_permission,"마스터관리자") || $work_set_unit[list].s_no == $session_s_no}>
										<{if $work_set_unit[list].display == '1'}>
											<a href="#" onclick="display_off('<{$work_set_unit[list].wsu_no}>');"><img title="DISPLAY OFF" src="./images/icon/display_on.png"></a>
										<{elseif $work_set_unit[list].display == '2'}>
											<a href="#" onclick="display_on('<{$work_set_unit[list].wsu_no}>');"><img title="DISPLAY ON" src="./images/icon/display_off.png"></a>
										<{/if}>
									<{/if}>
								</td>
							</tr>
						</form>
						<{/section}>
						<{/if}>
					<{/if}>
					<tr>
						<td colspan=9 class="paging_wrap">
							<div class="paging_wrap">
							<{$pagelist}>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan=9 class="list_button">
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='work_set_unit_regist.php'"><span>업무세트 제작하기</span></button></div>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	function save_el(wsu_no, proc, obj) {
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "") {
			$.post("work_set_unit.php", {wsu_no : wsu_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	// DISPLAY OFF
	function display_off(wsu_no)
	{
		eval("var f=document.getElementById('apply_frm" + wsu_no + "');");
		f.process.value = 'display_off';

		f.submit();
	}

	// DISPLAY ON
	function display_on(no)
	{
		eval("var f=document.getElementById('apply_frm" + wsu_no + "');");
		f.process.value = 'display_on';

		f.submit();
	}
</script>
</body>
</html>
