<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.form-group .sch_date_type{display: none;}

	.table td, .table th{vertical-align: middle;}
	.table thead th{vertical-align: middle;}
	.table-bordered td, .table-bordered th{border: 1px solid #999;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_stats_event_product.php" autocomplete="off" style="display: block; margin-top: 5px;">
		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label style="margin-left: 40px;">출고일</label>
				<div id="sch_date_type_day" class="sch_date_type">
					<input type="text" name="sch_s_date" id="sch_s_date" class="date-picker form-control" value="<{$sch_s_date}>" />
					~
					<input type="text" name="sch_e_date" id="sch_e_date" class="date-picker form-control" value="<{$sch_e_date}>" />
				</div>
				<div id="sch_date_type_week" class="sch_date_type">
					<input type="text" name="sch_s_week" id="sch_s_week" class="week-start-picker form-control" value="<{$sch_s_week}>" />
					~
					<input type="text" name="sch_e_week" id="sch_e_week" class="week-end-picker form-control" value="<{$sch_e_week}>" />
				</div>
				<div id="sch_date_type_month" class="sch_date_type">
					<input type="text" name="sch_s_month" id="sch_s_month" class="month-picker form-control" value="<{$sch_s_month}>" />
					~
					<input type="text" name="sch_e_month" id="sch_e_month" class="month-picker form-control" value="<{$sch_e_month}>" />
				</div>
				<div id="sch_date_type_year" class="sch_date_type">
					<input type="text" name="sch_s_year" id="sch_s_year" class="year-picker form-control" value="<{$sch_s_year}>" />
					~
					<input type="text" name="sch_e_year" id="sch_e_year" class="year-picker form-control" value="<{$sch_e_year}>" />
				</div>

				<div style="margin-right: 10px;margin-left: 10px;">
					<input type="radio" name="sch_date_type" id="sch_date_type_1" class="radio first" value="1" onclick="sch_date_display('day','sch_date_type_day',this);" <{if $sch_date_type == '1'}>checked<{/if}>>
					<label for="sch_date_type_1" style="display: inline-block; margin-left: -3px;">일간</label>
					<input type="radio" name="sch_date_type" id="sch_date_type_2" class="radio" value="2" onclick="sch_date_display('week','sch_date_type_week',this);" <{if $sch_date_type == '2'}>checked<{/if}>>
					<label for="sch_date_type_2" style="display: inline-block; margin-left: -3px;">주간</label>
					<input type="radio" name="sch_date_type" id="sch_date_type_3" class="radio" value="3" onclick="sch_date_display('month','sch_date_type_month',this);" <{if $sch_date_type == '3'}>checked<{/if}>>
					<label for="sch_date_type_3" style="display: inline-block; margin-left: -3px;">월간</label>
					<input type="radio" name="sch_date_type" id="sch_date_type_4" class="radio" value="4" onclick="sch_date_display('year','sch_date_type_year',this);" <{if $sch_date_type == '4'}>checked<{/if}>>
					<label for="sch_date_type_4" style="display: inline-block; margin-left: -3px;">연간</label>
				</div>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div style="color: grey; margin-top: 20px; margin-bottom: 5px;">
		※ 각 셀에 표시된 숫자를 클릭하면 상세내용을 볼 수 있는 ‘커머스 택배 리스트’ 페이지가 나타납니다.
	</div>
	<table class="table table-bordered" id="daily-sales-table" style="table-layout: fixed; width: auto;">
		<colgroup>
			<col width="300px;"> <!-- 구분 -->
			<col width="240px;"> <!-- 기간Total -->
			<{if $commerce_date_list}>
				<{foreach from=$commerce_date_list key=date_key item=date_data}>
					<col width="100px;"> <!-- 날짜 -->
				<{/foreach}>
			<{/if}>
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">커머스 상품명</th>
				<th scope="col">구매처</th>
				<{if $commerce_date_list}>
					<{foreach from=$commerce_date_list key=date_key item=date_data}>
						<th scope="col"><{$date_data.title}></th>
					<{/foreach}>
				<{/if}>
			</tr>
		</thead>
		<tbody>
			<{if $work_cms_event_head_list}>
				<{assign var=color_idx value=0}>
				<{foreach from=$work_cms_event_head_list key=prd_no item=event_prd_data}>
					<{assign var=event_idx value=0}>
					<{assign var=event_row value=($event_prd_data|count)+1}>
					<{foreach from=$event_prd_data key=dp_c_no item=event_dp_data}>
						<tr <{if $color_idx%2 == 0}>style="background: #ddd;"<{/if}>>
							<{if $event_idx == 0}>
								<td class="first" rowspan="<{$event_row}>"><{$event_dp_data.prd_name}></td>
							<{/if}>
							<td><{$event_dp_data.dp_c_name}></td>
							<{foreach from=$commerce_date_list key=date_key item=date_data}>
								<td class="text-right">
									<{if $sch_date_type == '1'}>
										<a href="work_list_cms.php?sch=Y&sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_stock_date=<{$date_data.s_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_prd_name=<{$event_dp_data.prd_name}>&sch_unit_price=2&ord_page_type=100" class="nosp-result-link" target="_blank">
											<{$work_cms_event_list[$prd_no][$dp_c_no][$date_key]|number_format:0}>
										</a>
									<{else}>
										<{$work_cms_event_list[$prd_no][$dp_c_no][$date_key]|number_format:0}>
									<{/if}>
								</td>
							<{/foreach}>
						</tr>
						<{assign var=event_idx value=$event_idx+1}>
					<{/foreach}>
					<tr style="background: #CCC;">
						<td>소계</td>
						<{foreach from=$commerce_date_list key=date_key item=date_data}>
							<td class="text-right"><{$work_cms_event_total_list[$prd_no][$date_key]|number_format:0}></td>
						<{/foreach}>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
				<tr>
					<td colspan="2" class="first text-center" style="background: #333; color: white;">합 계</td>
					<{foreach from=$commerce_date_list key=date_key item=date_data}>
						<td class="text-right"><{$work_cms_event_total_list['total'][$date_key]|number_format:0}></td>
					<{/foreach}>
				</tr>
			<{else}>
			<tr>
				<td colspan="<{$commerce_date_cnt}>" class="first text-left">데이터가 없습니다.</td>
			</tr>
			<{/if}>
		</tbody>
	</table>

	<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('daily-sales-table');" />
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		var f = document.forms['search_form'];
		var sch_date_type = f.sch_date_type.value;

		if(sch_date_type == '1'){
			sch_date_display('day');
		}else if(sch_date_type == '2'){
			sch_date_display('week');
		}else if(sch_date_type == '3'){
			sch_date_display('month');
		}else if(sch_date_type == '4'){
			sch_date_display('year');
		}
	});

	function sch_date_display(type)
	{
		$(".sch_date_type").hide();
		if(type == 'year'){
			$("#sch_date_type_year").show();
		}else if(type == 'month'){
			$("#sch_date_type_month").show();
		}else if(type == 'week'){
			$("#sch_date_type_week").show();
		}else if(type == 'day'){
			$("#sch_date_type_day").show();
		}
	}
</script>

</body>
</html>
