<{include file="inc/iframe_navibar.html"}>

<div class="admin_content">
	<h2 class="title">●택배 리스트 검수 및 적용하기</h2>

	<div class="table_list_style" style="margin-top: 30px;">

		<{if $multi_logistics_list}>
		<div style="margin-bottom: 40px;">
			<h2 style="color: red; font-size: 16px; font-weight: bold;">
				동일주문번호에 2가지 이상 '물류업체(발송지)' 있습니다.<br/>주문 확인 후 데이터 적용이 가능합니다.
			</h2>
			<br/>
			<div style="border: 1px solid #ccc;width: 150px;">
				<{foreach from=$multi_logistics_list item=$multi_ord_no}>
				<div style="height: 20px; line-height: 20px; padding-left: 10px;">
					<{$multi_ord_no}>
					<a href="work_cms_temporary.php?sch_order_number=<{$multi_ord_no}>" target="_blank">
						<img src="./images/icon/new_win_icon.png">
					</a>
				</div>
				<{/foreach}>
			</div>
		</div>
		<{/if}>

		<{if $is_inspection_chk}>
		<h2 style="color: red;">중복된 주문이 있습니다. 확인 부탁드립니다.<br/>주문번호 : <{$temporary_where}></h2>
		<br/>
		<{/if}>

		<h2 style="font-size: 16px; font-weight: bold; margin-bottom: 10px;">주문 검수 리스트</h2>
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
			<tr>
				<th class="first" style="min-width:60px; width:60px;">t_no<br>작성일</th>
				<th style="min-width: 60px; width: 60px;" >주문일시</th>
				<th style="min-width: 120px; width: 120px;" >주문번호</th>
				<th style="min-width: 80px; width: 80px;" >수령자명</th>
				<th style="min-width: 120px; width: 120px;" >수령자전화</th>
				<th style="min-width: 60px; width:60px;">우편번호</th>
				<th style="min-width: 180px; width:180px;">수령지</th>
				<th style="min-width:80px; width:80px;">배송메모</th>
				<th style="min-width:100px; width:100px;">업체명/브랜드명</th>
				<th style="min-width:60px; width:60px;">업체담당자</th>
				<th style="min-width:200px; width:200px;">커머스 상품명</th>
				<th style="min-width:60px; width:60px;">업무요청자</th>
				<th style="min-width:40px; width:40px;">수량</th>
				<th style="min-width:60px; width:60px;">주문처리자</th>
				<th style="min-width:90px; width:90px;">결제금액</th>
				<th style="min-width:60px; width:60px;">결제일시</th>
				<th style="min-width:80px; width:80px;">구매처</th>
			</tr>
			</thead>
			<tbody>
				<{if $inspection_list}>
					<{foreach from=$inspection_list item=inspection}>
					<tr <{if $is_inspection_chk && $inspection.prd_no == $inspection_chk_list[$inspection['order_number']]}>style="background: yellow;"<{/if}>>
						<td class="first date"> <!-- t_no / 작성일-->
							<{$inspection.t_no}>
							<span style="display: block; text-align: center; font-size:9px;"><{$inspection.reg_date}></span>
							<span style="display: block; text-align: center; font-size:9px;"><{$inspection.reg_time}></span>
						</td>
						<td> <!-- 주문일시 -->
							<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$inspection.ord_date}></span>
							<span style="color:green; display: block; text-align: center; font-size:9px;"><{$inspection.ord_time}></span>
						</td>
						<td> <!-- 주문번호 -->
							<{$inspection.order_number}>
						</td>
						<td> <!-- 수령자명 -->
							<{$inspection.recipient}>
						</td>
						<td> <!-- 수령자전화 -->
							<{$inspection.recipient_hp}>
						</td>
						<td> <!-- 우편번호 -->
							<{$inspection.zip_code}>
						</td>
						<td> <!-- 수령지 -->
							<{$inspection.recipient_addr}>
						</td>
						<td> <!-- 배송메모 -->
							<{$inspection.delivery_memo}>
						</td>
						<td> <!-- 업체명/브랜드명 -->
							<{$inspection.c_name}>
						</td>
						<td> <!-- 업체담당자 -->
							<{$inspection.s_name}>
						</td>
						<td> <!-- 커머스 상품명 -->
							<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$inspection.k_prd1_name}> > <{$inspection.k_prd2_name}> ></span>
							<span style="text-align:left; display: block;"><{$inspection.prd_name}></span>
						</td>
						<td> <!-- 업무요청자 -->
							<{$inspection.task_req_s_name}>
						</td>
						<td> <!-- 수량 -->
							<{$inspection.quantity}>
						</td>
						<td> <!-- 주문처리자 -->
							<{$inspection.task_run_s_name}>
						</td>
						<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;"> <!-- 결제금액 -->
							￦<{$inspection.dp_price_vat}>
						</td>
						<td> <!-- 결제일시 -->
							<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$inspection.pay_date}></span>
							<span style="color:green; display: block; text-align: center; font-size:9px;"><{$inspection.pay_time}></span>
						</td>
						<td> <!-- 구매처 -->
							<{$inspection.dp_c_name}>
						</td>
					</tr>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="18">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
			<!-- 택배 리스트 부분 [End] -->
		</table>
		<{if $total_cnt > 0 && !$multi_logistics_list}>
		<form method="post" name="delivery_process_frm" action="work_cms_inspection.php" style="display: inline;">
			<input type="hidden" name="process" value="" />
			<button type="button" class="btn_small view-btn" onclick="deliveryProcessForm('cms_apply_delivery');">택배리스트(<{$total_cnt}>)건 적용하기</button>
		</form>
		<{/if}>
	</div>
	<!-- //table_list_style -->
</div>

<script type="text/javascript">
    // 커머스 첨부파일 리스트에 반영하기
    function deliveryProcessForm(proc)
    {
        var f   = document.forms['delivery_process_frm'];
        var msg = "구매처 별 데이터 이상 여부를 확인하셨습니까?";

        f.process.value = proc;

        if (confirm(msg)) { // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }
</script>

</body>
</html>
