<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: right;}
	.table tbody td.dp_name{text-align: left;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px; overflow:hidden; max-width: 1280px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<span style="color: red; font-size: 12px; float: right;">· CS, 교환, CS_XXX , WISE_XXX, 직접구매는 제외<br>
			 · 부가세&정산 기준 자료로 주문일,배송일 과는 무관합니다.</span>
	</h2>
	<span>판매처에서 제공하는 부가세 리스트와 정산 리스트의 합계를 표시합니다.</span>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_vat_settle_status.php" autocomplete="off">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_status_month">부가세/정산월</label>
				<input type="text" name="sch_status_month" id="sch_status_month" class="month-picker form-control" value="<{$sch_status_month}>" />

				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<input type="checkbox" name="check_not_empty" id="check_not_empty" value="1" <{if $check_not_empty == '1'}>checked<{/if}>>
				<label for="check_not_empty" style="margin: 5px 5px 0; cursor: pointer;">과세매출/정산금액 0인 항목 숨기기</label>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" id="settle-status-table" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="200px;"> <!-- 판매처 -->
			<col width="140px;"> <!-- 과세매출 -->
			<col width="140px;"> <!-- 카드 -->
			<col width="140px;"> <!-- 현금 -->
			<col width="140px;"> <!-- 기타 -->
			<col width="140px;"> <!-- 세금계산서 -->
			<col width="140px;"> <!-- 판매금액 -->
			<col width="140px;"> <!-- 정산금액(VAT 포함) -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr style="text-align: right;">
				<td colspan="9" style="color: red;">
					※ VAT 포함 기준 (현대홈쇼핑(신) = VAT 별도)
				</td>
			</tr>
			<tr>
				<th scope="col">합계</th>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.total_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.card_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.cash_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.etc_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.tax_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.sales_price|number_format:0}></span>
				</td>
				<td>
					<span style="float: left;">￦</span>
					<span style="float: right;"><{$total_price_list.settle_price|number_format:0}></span>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" colspan="5">부가세</th>
				<th scope="col" colspan="3">정산</th>
			</tr>
			<tr>
				<th scope="col">과세매출</th>
				<th scope="col">카드</th>
				<th scope="col">현금</th>
				<th scope="col">기타</th>
				<th scope="col">세금계산서</th>
				<th scope="col">판매금액</th>
				<th scope="col">정산금액(VAT 포함)</th>
				<th scope="col">정산금액/판매금액<br/>정산비율(%)</th>
			</tr>
		</thead>
		<tbody>
			<{if $sales_status_list}>
				<{foreach from=$sales_status_list key=dp_c_no item=sales_status}>
					<tr>
						<td class="first dp_name"><!-- 판매처 -->
							<{$sales_status.c_name}>
						</td>
						<td style="font-weight: bold;"> <!-- 과세매출 -->
							<span style="float: left;">￦</span>
							<a href="/v1/work_cms_sales_vat_list.php?sch_vat_month=<{$sch_status_month}>&sch_vat_dp_c_no=<{$dp_c_no}>&<{$sch_brand_url}>" target="_blank" style="float: right;margin-left: 3px;">
								<{$sales_status.total_price|number_format:0}>
							</a>
						</td>
						<td> <!-- 카드 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_status.card_price|number_format:0}></span>
						</td>
						<td> <!-- 현금 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_status.cash_price|number_format:0}></span>
						</td>
						<td> <!-- 기타 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_status.etc_price|number_format:0}></span>
						</td>
						<td> <!-- 세금계산서 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_status.tax_price|number_format:0}></span>
						</td>
						<td> <!-- 판매금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_status.sales_price|number_format:0}></span>
						</td>
						<td style="font-weight: bold;"> <!-- 정산금액 -->
							<span style="float: left;">￦</span>
							<a href="/v1/work_cms_sales_settlement.php?sch_settle_month=<{$sch_status_month}>&sch_settle_dp_c_no=<{$dp_c_no}>&<{$sch_brand_url}>" target="_blank" style="float: right; margin-left: 5px;">
								<{$sales_status.settle_price|number_format:0}>
							</a>
						</td>
						<td style="font-weight: bold;"> <!-- 정산비율 -->
							<{$sales_status.settle_per|number_format:2}>%
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="9">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('settle-status-table');" /></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});
</script>
</body>
</html>
