<{include file="inc/iframe_navibar.html"}>
<style type="text/css">
	.form-group select, .form-group input{font-size: 12px;}
</style>

<div class="admin_content" style="width: 635px;min-width: unset; font-size: 12px;">
	<h2 style="font-weight: bold;">CS 고객 문자 발송</h2><br/>
	<form id="crm_test" name="crm_test" action="work_cms_sms_send.php" method="post" style="width: 600px;">
		<input type="hidden" name="process" value="new_sms_send">

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 양식 선택 -->
			<label for="temp_no" class="col-sm-4 col-form-label font-weight-bold" >*양식 선택</label>
			<div class="col-sm-8">
				<select id="temp_no" name="temp_no" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$cs_temp_list key=key item=label}>
						<option value="<{$key}>" ><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row" style="margin-bottom: 15px;"><!-- 내용 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >내용</label>
			<div class="col-sm-8">
				<textarea name="temp_content" id="temp_content" class="form-control" placeholder="메세지 정보" rows="14" style="font-size: 12px;"><{$content}></textarea>
			</div>
		</div>

		<div class="form-group row crm-sms" style="margin-bottom: 15px;"><!-- 발신번호 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >발신번호</label>
			<div class="col-sm-8">
				<select name="send_phone" id="send_phone" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$send_phone_list key=key item=label}>
						<option value="<{$key}>" <{if $send_phone == $key}>selected<{/if}>><{$key}> [<{$label}>]</option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row"><!-- 구분(필수) -->
			<label class="col-sm-4 col-form-label font-weight-bold" >*받는사람/전화번호</label>
			<div class="col-sm-8">
				<div class="form-check form-check-inline" style="padding-top: 6px;">
					<input type="text" class="form-control" id="dest_name" name="dest_name" placeholder="받는사람" value="<{$receiver_name}>" required>
					<input type="text" class="form-control" id="dest_phone" name="dest_phone" placeholder="전화번호" value="<{$receiver_phone}>" required>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-dark font-weight-bold" style="margin: 30px auto 10px; width: 200px;display: table; font-size: 13px;"><span>전송하기</span></button>
	</form>
</div>
<!-- //admin_content_popup -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#temp_no").change(function(){
            $.ajax({
                url: "/v1/api/work.cs.temp.api.php",
                type: 'POST',
                data: {temp_no: $(this).val()}
            }).done( function( data ) {
                var jsonData = JSON.parse(data);
				var content	 = jsonData.content;

                $("#temp_content").val(content);
            });
        });
    });
</script>
</body>
</html>