<{include file="inc/iframe_navibar.html"}>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.css">

<style>
	div.admin_content{margin-top: 0; padding-bottom: 0;}
	.width-height-file{width: 150px; height: 150px; float:left;padding: 5px; box-sizing: content-box;}
	.width-height-file img{width: 100%; height: 100%; cursor:pointer;}
	.width-height-file a{display: table; margin:65px auto; cursor:pointer; }
	.comment-wrap{width: 1600px; padding: 20px; box-sizing: border-box; border: 1px solid #ccc; overflow: hidden;}
	.comment-title{font-size: 15px; text-align: left;}
	.comment-title.self{color: blue;}
	.comment-title span{font-size: 12px;}
	.comment-content{padding: 15px 30px;text-align: left;font-size: 12px;}
	.add-cs-comment textarea{width: 790px; height: 140px; padding: 10px; box-sizing: border-box;}
	.add-cs-comment .name{font-weight: bold; font-size: 15px; margin-bottom: 10px;}
	.add-cs-comment .comment-btn{width: 60px;height: 20px;line-height: 20px;display: inline-block;border-radius: 4px;background-color: #565656; color: #fff; padding: 50px 10px 90px;}
	.add-cs-comment .file-upload{margin-top: 8px;float: left;overflow: hidden;width:678px; box-sizing: border-box; padding: 20px 0 20px 20px;}
	.add-cs-comment .file-upload .file-wrap{width: 140px; height: 120px; float: left; background: #eee; box-sizing: border-box; border: 1px solid #ccc; margin: 6px;}
	.add-cs-comment .file-upload .file-wrap input{display: none;}
	.add-cs-comment .file-upload .file-wrap button{font-size: 20px; margin: 0 auto; height: 100%;width: 100%;}
	.dropzone {background: white; border-radius: 5px; border: 2px dashed rgb(169, 169, 169); border-image: none; max-width: 600px;margin-left: auto; margin-right: auto; padding: 3px 70px;}
	.dropzone .dz-preview{margin: 5px 15px;}
	.dropzone .dz-message{margin: 4em 0;font-size: 15px;font-weight: bold;}
	.dropzone .dz-preview .dz-image img{width: 100%; height: 100%;}
</style>

<div class="admin_content">
	<!-- //table_list_style -->
	<div class="table_list_style" style="overflow: hidden; margin: 30px 0 50px;">
		<table cellpadding="0" cellspacing="0">
			<colgroup>
				<col width="900px" />
				<col width="700px" />
			</colgroup>
			<tbody>
			<{foreach from=$comment_list item=comment}>
			<tr>
				<td class="first">
					<div class="comment-title <{if $session_s_no == $comment.s_no}>self<{/if}>">
						┗▶ <b><{$comment.s_name}></b> <span><{$comment.regdate}></span>
						<{if $session_s_no == $comment.s_no || $session_s_no == '102'}>
						<button type="button" onclick="del_comment('<{$comment.w_c_no}>')">[삭제]</button>
						<{/if}>
					</div>
					<div class="comment-content">
						<{$comment.comment}>
					</div>
				</td>
				<td>
					<div style="display:table; margin: 0 auto; overflow: hidden;">
						<{if $comment.file1_origin }>
						<div class="width-height-file">
							<{if $comment.file1_type == 'img'}>
							<img src="uploads/<{$comment.file1_read}>" onclick="window.open(this.src);">
							<{else}>
							<a href="uploads/<{$comment.file1_read}>" download="<{$comment.file1_origin}>"><{$comment.file1_origin}></a>
							<{/if}>
						</div>
						<{/if}>
						<{if $comment.file2_origin }>
						<div class="width-height-file">
							<{if $comment.file2_type == 'img'}>
							<img src="uploads/<{$comment.file2_read}>" onclick="window.open(this.src);">
							<{else}>
							<a href="uploads/<{$comment.file2_read}>" download="<{$comment.file2_origin}>"><{$comment.file2_origin}></a>
							<{/if}>
						</div>
						<{/if}>
						<{if $comment.file3_origin }>
						<div class="width-height-file">
							<{if $comment.file3_type == 'img'}>
							<img src="uploads/<{$comment.file3_read}>" onclick="window.open(this.src);">
							<{else}>
							<a href="uploads/<{$comment.file3_read}>" download="<{$comment.file3_origin}>"><{$comment.file3_origin}></a>
							<{/if}>
						</div>
						<{/if}>
					</div>
				</td>
			</tr>
			<{/foreach}>
			</tbody>
		</table>
		<form name="add_cs_comment" class="add-cs-comment" action="work_list_cs_comment_iframe.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
			<input type="hidden" name="ord_no" value="<{$order_number}>">
			<input type="hidden" name="s_no" value="<{$session_s_no}>">
			<input type="hidden" name="s_name" value="<{$session_name}>">
			<input type="hidden" name="process" value="add_comment">
			<div class="comment-wrap">
				<div style="width: 878px; border-right: 1px solid #ccc; float: left">
					<div class="name"><{$session_name}></div>
					<textarea name="comment" required></textarea>
					<button class="comment-btn">코멘트남기기</button>
				</div>
				<div class="file-upload" style="">
					<div class="dropzone" id="commentFileUpload" >
						<div class="dz-message">
							Drop files here or click to upload.
						</div>
					</div>
				</div>
			</div>
			<div class="add-image-hidden">

			</div>
		</form>
		<form name="del_cs_comment" id="del_cs_comment" action="work_list_cs_comment_iframe.php" method="post">
			<input type="hidden" name="ord_no" value="<{$order_number}>">
			<input type="hidden" name="w_c_no" value="">
			<input type="hidden" name="process" value="del_comment">
		</form>
	</div>
</div>
<!-- admin_content -->

<script type="text/javascript">
	Dropzone.autoDiscover = false;
	
	var myDropzone = new Dropzone("div#commentFileUpload",
	{
		url:"inc/dropzone_file_upload.php",
		addRemoveLinks: true,
		uploadMultiple: true,
		parallelUploads: 1,
		thumbnailWidth: 120,
		thumbnailHeight: 100,
		maxFiles: 3,
		maxFilesize: 50,
		thumbnail: function(file, dataUrl){
			if (file.previewElement) {
				file.previewElement.classList.remove("dz-file-preview");
				var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
				for (var i = 0; i < images.length; i++) {
					var thumbnailElement = images[i];
					thumbnailElement.alt = file.name;
					thumbnailElement.src = dataUrl;
				}
				setTimeout(function () {
					file.previewElement.classList.add("dz-image-preview");
				}, 1);
			}
		},
		maxfilesexceeded: function(file){
			alert('파일은 3개까지 업로드 할 수 있습니다');
			this.removeFile(file);
		},
		success: function(file, response){
			var result  = JSON.parse(response);
			var fileOrigin  = result.fileName;
			var fileRead 	= result.filePath;
			var fileType 	= result.fileType;

			if(fileRead != '')
			{
				file.previewElement.classList.add("dz-success");

				var html = '<div><input type="hidden" name="file_origin[]" class="file_name" value="'+fileOrigin+'">';
				html += '<input type="hidden" name="file_read[]" value="'+fileRead+'">';
				html += '<input type="hidden" name="file_type[]" value="'+fileType+'"></div>';
				$(".add-image-hidden").append(html);
			}
		},
		error: function(file, response){
			console.log(response);
		}
	});

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var imgNameList = $(".file_name");

		if(imgNameList.length > 0){
			$.each(imgNameList, function(idx, imgName){
				if(removeFileName == imgName.value){
					$(imgName).parent('div').remove();
				}
			});
		}
	});

	function save_el(w_no, proc, obj) {

		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;


		if (proc == 'cs_type' || proc == 'cs_status' || proc == 'cs_issue') {
			$.post("work_list_cs_comment_iframe.php", {w_no : w_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	// text_area 클릭 시 사이즈 확장
	function text_area_click(f, width){
		f.style.width = width;
		f.style.backgroundColor="yellow";
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	// text_area 클릭아웃 시 사이즈 복원
	function text_area_click_out(f, width){
		f.style.width = width;
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	function openImg(){
		window.open();
	}

	function del_comment(w_c_no)
	{
		if(confirm("삭제 하시겠습니까?"))
		{
			var f = document.del_cs_comment;
			f.w_c_no.value = w_c_no;

			f.submit();
		}
	}

</script>

</body>
</html>
