<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{margin-top: 20px; min-height: 500px;}
	.admin_content{width: 1600px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.traffic-conversion-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px;}
	.traffic-conversion-wrapper{ font-size: 18px; font-weight: 700; box-sizing: border-box; padding: 20px;}
	.traffic-convert-chart-wrapper{margin-top: 10px;}
	#traffic-conversion-total-chart{margin: 10px auto; width: 1560px; height: 600px;}

	.traffic-conversion-table-wrapper{width: 1560px; margin: 10px auto;}
	.traffic-conversion-table-wrapper .table{width: auto;}
	.traffic-conversion-table-wrapper .table th{font-size: 12px;}
	.traffic-conversion-table-wrapper .table td{font-size: 12px;}

	.font-traffic{color: #00B050;}
	.font-convert{color: #FFC000;}
	.font-convert-rate{color: #00B0F0;}
	.font-price{color: #8064A2;}
	.font-avg{color: #FF33CC;}

	.nosp-result-wrapper td{padding: 5px 1px 1px 1px; border: 0;}
	.nosp-time-wrapper{margin-bottom: 2px;}
	.nosp-special-wrapper{margin-bottom: 2px;}
	.nosp-result-child{position: relative; cursor: pointer;}
	.nosp-result-link{text-decoration: none;}
	.nosp-result-link:hover{text-decoration: none;}
	.nosp-time-symbol{display: inline-block; width: 20px; height: 20px; background: #FFC000; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
	.nosp-special-symbol{display: inline-block; width: 20px; height: 20px; background: #00B0F0; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
	.nosp-special-wrapper{min-height: 23px;}
	.nosp-time-wrapper{min-height: 23px;}
	.nosp-each-link{float: left; display: inline-block; width: 64px; text-align: right;}
	.nosp-total-link{float: right; display: inline-block; width: 30px; min-height: 47px; padding-top: 25px;}
	.nosp-total-link img{width: 18px;}

	.m_over_display{display: none; position: absolute; top: -75px; left: -50px; padding: 10px 10px 5px 10px; color: #000; border: 1px solid #DDD; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		width: max-content; text-align: left;
		box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 15px;
		transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
		background-color: rgb(255, 255, 255);}
	.m_over_display_right{right: 0; left: unset}
	.m_over_display_left:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; left: 85px; bottom: -20px;}
	.m_over_display_right:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; right: 45px; bottom: -20px;}
	.m_over_display .nosp-special-count{width: 15px; display: inline-block; text-align: center;}
	.m_over_display .nosp-special-symbol{margin-right: 5px;}
	.m_over_display .nosp-time-symbol{margin-right: 5px;}
</style>

<div class="admin_content">
	<h2 class="traffic-conversion-label" style="margin-top: 30px;">유입 / 전환 / 전환률 / 아임웹 매출 / 주문건당 단가</h2>
	<div class="traffic-conversion-wrapper">
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-total-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-total-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<{if $nosp_result_list}>
							<tr class="nosp-result-wrapper">
								<td></td>
								<{assign var=key_idx value=0}>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td id="nosp-result-child-<{$key_date}>" class="text-center nosp-result-child"
										<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
											onmouseover="m_over_display(this, '<{$key_date}>', 'show');"
											onmouseout="m_over_display(this, '<{$key_date}>', 'hide');"
										<{/if}>
										style="vertical-align: bottom;"
									>
										<div class="nosp-each-link">
											<div class="nosp-special-wrapper">
												<{if $nosp_result_list[$key_date][1]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
													<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_product=1&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
														<span class="nosp-time-symbol">T</span>
													</a>
												<{/if}>
											</div>
											<div class="nosp-time-wrapper">
												<{if $nosp_result_list[$key_date][2]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
													<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_product=2&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
														<span class="nosp-special-symbol">S</span>
													</a>
												<{/if}>
											</div>
										</div>
										<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
											<div class="nosp-total-link">
												<a href="advertising_result_list.php?sch_adv_s_date=<{$convert_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$convert_link_date_list[$key_date].e_date}>&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
													<img src="./images/icon/new_win_icon.png">
												</a>
											</div>
										<{/if}>
										<div id="m_over_display_<{$key_date}>" class="m_over_display <{if $key_idx > 11}>m_over_display_right<{else}>m_over_display_left<{/if}>">
											<div class="nosp-special-wrapper">
												<{if $nosp_result_list[$key_date][1]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
													<span class="nosp-time-symbol">T</span>
													<span class="nosp-time-total" style="margin-top: 2px;">
														<{if $sch_brand_url}>
															<{$nosp_result_list[$key_date][1]['total']|number_format:0}>
														<{else}>
															<{($nosp_result_list[$key_date][1]['total']/10000)|number_format:0}>만원
															(
																<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																	Df <{($nosp_result_list[$key_date][1]['df_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][1]['n_total'] > 0}>
																	<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																		 /
																	<{/if}>
																	N <{($nosp_result_list[$key_date][1]['n_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][1]['e_total'] > 0}>
																	<{if $nosp_result_list[$key_date][1]['df_total'] > 0 || $nosp_result_list[$key_date][1]['n_total'] > 0}>
																		 /
																	<{/if}>
																	E <{($nosp_result_list[$key_date][1]['e_total']/10000)|number_format:0}>만원
																<{/if}>
															)
														<{/if}>
													</span>
												<{/if}>
											</div>
											<div class="nosp-time-wrapper" >
												<{if $nosp_result_list[$key_date][2]['count'] > 0}>
													<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
													<span class="nosp-special-symbol">S</span>
													<span class="nosp-special-total" style="margin-top: 2px;">
														<{if $sch_brand_url}>
															<{$nosp_result_list[$key_date][2]['total']|number_format:0}>
														<{else}>
															<{($nosp_result_list[$key_date][2]['total']/10000)|number_format:0}>만원
															(
																<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																	Df <{($nosp_result_list[$key_date][2]['df_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][2]['n_total'] > 0}>
																	<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																		 /
																	<{/if}>
																	N <{($nosp_result_list[$key_date][2]['n_total']/10000)|number_format:0}>만원
																<{/if}>
																<{if $nosp_result_list[$key_date][2]['e_total'] > 0}>
																	<{if $nosp_result_list[$key_date][2]['df_total'] > 0 || $nosp_result_list[$key_date][2]['n_total'] > 0}>
																		 /
																	<{/if}>
																	E <{($nosp_result_list[$key_date][2]['e_total']/10000)|number_format:0}>만원
																<{/if}>
															)
														<{/if}>
													</span>
												<{/if}>
											</div>
										</div>
									</td>
									<{assign var=key_idx value=$key_idx+1}>
								<{/foreach}>
							</tr>
						<{/if}>
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_date_list item=date_label}>
								<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_total_list}>
							<tr>
								<td class="first text-center font-traffic">유입</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-traffic"><{$convert_total_list[$key_date].traffic|number_format:0}></span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert">전환</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-convert"><{$convert_total_list[$key_date].conversion|number_format:0}></span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert-rate">전환율</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-convert-rate"><{$convert_total_list[$key_date].conversion_rate|number_format:1}>%</span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-price">아임웹 매출</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-price"><{$convert_total_list[$key_date].total_price|number_format:0}></span>
									</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-avg">주문건당 단가</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
									<td class="text-right">
										<span class="font-avg"><{$convert_total_list[$key_date].avg_price|number_format:0}></span>
									</td>
								<{/foreach}>
							</tr>
						<{/if}>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var convertTotalChart = echarts.init(document.getElementById('traffic-conversion-total-chart'),null, {renderer : 'canvas'});
	drawTotalChart();

	function drawTotalChart()
	{
		var fullData = <{$convert_total_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$convert_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];
			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					itemStyle: {
						color: item['color'],
					}
				});
			});

			var styleList 	= <{$convert_total_chart_style_list}>;
			var styleData 	= [];
			$.each(styleList, function(idx, item){
				if(item['min'] == '0') {
					styleData.push({
						type: "value",
						show: false,
						axisLabel: {
							formatter: '{value}'
						}
					});
				}else{
					styleData.push({
						type: "value",
						min: item['min'],
						max: item['max'],
						show: false,
						axisLabel: {
							formatter: '{value}'
						}
					});
				}
			});

			convertTotalChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "3%",
					right: "3%"
				},
				xAxis: {
					type: 'category',
					axisLine: { show: false },
					axisTick: { show: false },
					data: legendData
				},
				yAxis: styleData,
				series: pushData
			});
		}
	}

	function m_over_display(e, key_date, type)
	{
		if(type == 'show') {
			$("#m_over_display_" + key_date).show();
		}else if(type == 'hide'){
			$("#m_over_display_" + key_date).hide();
		}
	}
</script>
</body>
</html>
