<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.sch_same_div{margin: 20px 0 10px;}
	.sch_same_div label{cursor: pointer; margin-right: 10px;}
	.sch_count_div label{cursor: pointer}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_mass_search_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<span id="sch_detail_display_btn_show">
					<button type="button" style="width:200px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▲대량구매 조건 검색(열기)▲</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" style="width:200px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲대량구매 조건 검색(닫기)▲</button>
				</span>
				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 20px 30px 20px 15px; overflow: hidden;">
					<div>
						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 240px; height: 30px; margin-right: 10px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>
					</div>
					<div class="sch_same_div">
						<input type="checkbox" name="sch_recipient" id="sch_recipient" class="sch_same" value="1" <{if $sch_not_sel_same || $sch_recipient}>checked<{/if}> />
						<label for="sch_recipient">수령자명 동일</label>
						<input type="checkbox" name="sch_recipient_hp" id="sch_recipient_hp" class="sch_same" value="1" <{if $sch_not_sel_same || $sch_recipient_hp}>checked<{/if}> />
						<label for="sch_recipient_hp">수령자전화 동일</label>
						<input type="checkbox" name="sch_zipcode" id="sch_zipcode" class="sch_same" value="1" <{if $sch_zipcode}>checked<{/if}> />
						<label for="sch_zipcode">우편번호 동일</label>
						<input type="checkbox" name="sch_recipient_addr" id="sch_recipient_addr" class="sch_same" value="1" <{if $sch_recipient_addr}>checked<{/if}> />
						<label for="sch_recipient_addr">수령지 동일</label>
						<input type="hidden" name="sch_dp_price" id="sch_dp_price" value="<{$sch_dp_price}>">
						<input type="checkbox" name="sch_dp_price_chk" id="sch_dp_price_chk" class="sch_same" value="1" <{if $sch_dp_price=='1'}>checked<{/if}> />
						<label for="sch_dp_price_chk">금액 합계 0원이상</label>
					</div>
					<div class="sch_count_div">
						<input type="radio" name="sch_same_quantity_type" id="sch_same_quantity_type_1" class="sch_count" value="1" <{if $sch_same_quantity_type == '1'}>checked<{/if}>/>
						<label for="sch_same_quantity_type_1">동일상품 총구매수량</label>
						[<input type="text" name="sch_same_quantity_1" id="sch_same_quantity_1" value="<{$sch_same_quantity_1}>" style="width: 30px; text-align: center; border: 0;">]
						<span>개 이상</span>
						<input type="radio" name="sch_same_quantity_type" id="sch_same_quantity_type_2" class="sch_count" value="2"  <{if $sch_same_quantity_type == '2'}>checked<{/if}>/>
						<label for="sch_same_quantity_type_2">동일상품 주문당수량</label>
						[<input type="text" name="sch_same_quantity_2" id="sch_same_quantity_2" value="<{$sch_same_quantity_2}>" style="width: 30px; text-align: center; border: 0;">]
						<span>개 이상</span>
						<button type="button" class="btn_small" onclick="searchList();" style="width:58px; height:27px; margin-left: 20px;">검색</button>
					</div>
				</div>

				<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

				<input type="hidden" name="sch_step" id="sch_step" value="" />

				<{if $sch == 'Y'}>
				<script>$("#sch_detail_display").show();</script>
				<script>$("#sch_detail_display_btn_show").hide();</script>
				<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
				<script>$("#sch_detail_display").hide();</script>
				<script>$("#sch_detail_display_btn_show").show();</script>
				<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<table cellpadding="0" cellspacing="0">
			<!-- 커머스 리스트 부분 [Start] -->
			<thead>

			<tr>
				<td colspan="9" style="text-align: left;">
					<span><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<div class="right_wrap">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th class="first" style="min-width: 120px; width: 120px; height: 30px;">수령자명</th>
				<th style="min-width: 120px; width: 120px;">수령자 전화</th>
				<th style="min-width: 80px; width: 80px;">우편번호</th>
				<th style="min-width: 180px; width:180px;">수령지</th>
				<th style="min-width:100px; width:100px;">업체명/브랜드명</th>
				<th style="min-width:200px; width:200px;">커머스 상품명</th>
				<th style="min-width:80px; width:80px;">수량 합계</th>
				<th style="min-width:100px; width:100px;">금액 합계</th>
				<th style="min-width:80px; width:80px;">자세히보기</th>
			</tr>
			</thead>
			<tbody>
			<{if $total_num > 0}>
			<{assign var="idx" value=0}>
			<{foreach from=$mass_cms_list item=mass_cms}>
			<tr>
				<td class="first"><!-- 수령자명 -->
					<{$mass_cms.recipient}>
				</td>
				<td><!-- 수령자 전화 -->
					<{$mass_cms.recipient_hp}>
				</td>
				<td><!-- 우편번호 -->
					<{$mass_cms.zip_code}>
				</td>
				<td style="word-break: break-all; text-align: left;"><!-- 수령지 -->
					<{$mass_cms.recipient_addr}>
				</td>
				<td><!-- 업체명/브랜드명 -->
					<{$mass_cms.c_name}>
				</td>
				<td><!-- 커머스 상품명 -->
					<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$mass_cms.k_prd1_name}> > <{$mass_cms.k_prd2_name}> ></span>
					<span style="text-align:left; display: block;"><{$mass_cms.prd_name}></span>
				</td>
				<td><!-- 수량 합계 -->
					<{$mass_cms.sum_quantity|number_format:0}>
				</td>
				<td style="text-align: right;"><!-- 금액 합계 -->
					￦ <{$mass_cms.sum_price|number_format:0}>
				</td>
				<td>
					<input type="hidden" value="<{$mass_cms.btn_url}>" id="btn_url_<{$idx}>" />
					<button type="button" onclick="openOrderDetail('<{$idx}>')" style="background: #565656; color: white; font-size: 12px; padding: 3px 10px; border-radius: 5px; font-weight: bold;">보기</button>
				</td><!-- 자세히보기 -->
			</tr>
			<{assign var="idx" value=$idx+1}>
			<{/foreach}>
			<{else}>
			<tr>
				<td colspan="9">데이터가 없습니다.</td>
			</tr>
			<{/if}>
			<tr>
				<td colspan="9" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
			<!-- 커머스 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_dp_price_chk").click(function(){
		   if($(this).is(':checked')){
		       $("#sch_dp_price").val(1);
		   } else{
               $("#sch_dp_price").val(2);
		   }
		});
	});

	// 검색 하기
	function searchList()
	{
		var count = $('.sch_same:checked').length;
		var cnt_check = $('.sch_count:checked').val();
		var quantity  = 0;

		if(cnt_check == '1'){
			quantity = $('#sch_same_quantity_1').val();
		}else if(cnt_check == '2'){
			quantity = $('#sch_same_quantity_2').val();
		}

		if(count < 1){
			alert('동일조건을 선택해주세요');
			return;
		}

		if(quantity < 2){
			alert('수량은 2이상 입력해주세요');
			return;
		}

		document.search_form.submit();
	}

	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

	function normal_search() {
		var f = document.forms['search_form'];

		var ord_page    = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		searchList();
	}

	function openOrderDetail(idx)
	{
		var url = $('#btn_url_'+idx).val();
		window.open(url, "window","toolbar=no,location=no,directories=no,status=,menubar=no,scrollbars=no,resizable=no,width=1600,height=700,top=0,left=150");
	}
</script>

</body>
</html>
