<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center; font-weight: bold; margin: 0; height: 25px;}
	select.form-control{min-width: 100px; max-width: 200px;}
	.font-grey{color: grey;}
	.sales-background{background: lightgrey;}
	.settle-background{background: lightsteelblue;}
	.ord_date_btn{}
	.ord_date_btn_active{background: #3093c2 !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" class="form-inline" action="work_cms_sales_settlement_product.php" method="get" style="display: block; margin-top: 5px;" autocomplete="off">
		<input type="hidden" name="sch_ord_date_type" id="sch_ord_date_type" value="<{$sch_ord_date_type}>">
		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_ord_s_date">주문일</label>
				<input type="text" name="sch_ord_s_date" id="sch_ord_s_date" class="date-picker form-control" value="<{$sch_ord_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_ord_e_date" id="sch_ord_e_date" class="date-picker form-control" value="<{$sch_ord_e_date}>" style="margin-left: 5px;" />
				<button type="button" onclick="ordDateVal(this, 'week')" class="btn_small ord_date_btn <{if $sch_ord_date_type == 'week'}>ord_date_btn_active<{/if}>" >7일</button>
				<button type="button" onclick="ordDateVal(this, 'weeks')" class="btn_small ord_date_btn <{if $sch_ord_date_type == 'weeks'}>ord_date_btn_active<{/if}>" >14일</button>
				<button type="button" onclick="ordDateVal(this, 'month')" class="btn_small ord_date_btn <{if $sch_ord_date_type == 'month'}>ord_date_btn_active<{/if}>" >1달</button>
				<button type="button" onclick="ordDateVal(this, 'months')" class="btn_small ord_date_btn <{if $sch_ord_date_type == 'months'}>ord_date_btn_active<{/if}>" >2달</button>

				<label for="sch_brand_g1" style="margin-left: 20px;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_prd_g1" style="margin-left: 0;">상품명</label>
				<select name="sch_prd_g1" id="sch_prd_g1" class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_prd_g1_list item=prd_g1_data}>
						<option value="<{$prd_g1_data.k_name_code}>" <{if $sch_prd_g1 == $prd_g1_data.k_name_code}>selected<{/if}>><{$prd_g1_data.k_name}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_prd_g2" id="sch_prd_g2" class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_prd_g2_list item=prd_g2_data}>
						<option value="<{$prd_g2_data.k_name_code}>" <{if $sch_prd_g2 == $prd_g2_data.k_name_code}>selected<{/if}>><{$prd_g2_data.k_name}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_prd" id=sch_prd class="form-control" style="margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_prd_list item=prd_data}>
						<option value="<{$prd_data.prd_no}>" <{if $sch_prd == $prd_data.prd_no}>selected<{/if}>><{$prd_data.title}></option>
					<{/foreach}>
				</select>
				<input type="text" name="sch_prd_name" class="form-control" value="<{$sch_prd_name}>" placeholder="상품명">

				<label for="sch_dp_company">구매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control sch_url_chk_param">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_settle">정산지급여부</label>
				<select name="sch_is_settle" id="sch_is_settle" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_settle_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_settle == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="button" class="btn_small" style="width:58px; height:27px;" onclick="chkSearchList();">검색</button>
			</div>
		</div>
	</form>

	<div style="line-height: 20px; margin-top: 10px;">
		<div>※본 데이터는 환불등 마이너스 정산이 없는 유료 단품 구매 기준으로 조회 됩니다.</div>
		<div style="padding-left: 13px;">정산내역을 제공하지 않는 업체(현대이지웰, 홈앤쇼핑, 올리브영)와 쿠팡(제트배송), 씨엔제이커머스, 지그재그(직진배송) 미 반영</div>
		<div style="padding-left: 13px;">정산이 늦는 구매처는 '정산지급여부' 검색 기능을 활용하세요.</div>
	</div>

	<table class="table table-bordered" id="settle-product-table" style="table-layout: fixed; width: auto; margin-top: 20px;">
		<colgroup>
			<col width="120px;"> <!-- 업체명/브랜드명 -->
			<col width="120px;"> <!-- 구매처 -->
			<col width="240px;"> <!-- 상품그룹 -->
			<col width="300px;"> <!-- 커머스 상품명 -->
			<col width="80px;"> <!-- 총수량 -->
			<col width="100px;"> <!-- 총 결제금액 -->
			<col width="100px;"> <!-- 총 택배비 -->
			<col width="120px;"> <!-- 총 정산금액 -->
			<col width="100px;"> <!-- 결제 대비 정산률 -->
			<col width="90px;"> <!-- 평균 결제금액(택배비 포함) -->
			<col width="90px;"> <!-- 결제금액 최고가/최저가 -->
			<col width="90px;"> <!-- 평균 정산금 -->
			<col width="90px;"> <!-- 정산금 최고가/최저가 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">업체명/브랜드명</th>
				<th scope="col" rowspan="2">구매처</th>
				<th scope="col" rowspan="2">상품그룹</th>
				<th scope="col" rowspan="2">커머스 상품명</th>
				<th scope="col" rowspan="2">총수량</th>
				<th scope="col" rowspan="2">총 결제금액</th>
				<th scope="col" rowspan="2">총 택배비</th>
				<th scope="col" rowspan="2">총 정산금액</th>
				<th scope="col" rowspan="2">결제 대비 정산률</th>
				<th scope="col" rowspan="2">평균 결제금액<br/>(택배비 포함)</th>
				<th scope="col">최고가 결제금</th>
				<th scope="col" rowspan="2">평균 정산금</th>
				<th scope="col">최고가 정산금</th>
			</tr>
			<tr>
				<th scope="col">최저가 결제금</th>
				<th scope="col">최저가 정산금</th>
			</tr>
		</thead>
		<tbody>
			<{if $work_cms_settle_list}>
				<{foreach from=$table_brand_list key=brand_key item=brand_data}>
					<{assign var=brand_idx value=0}>
					<{foreach from=$table_dp_list[$brand_key] key=dp_key item=dp_data}>
						<{assign var=dp_idx value=0}>
						<{foreach from=$work_cms_settle_list[$brand_key][$dp_key] key=prd_key item=prd_data}>
							<tr <{if $brand_idx == 0}>style="border-top: 2px solid;"<{elseif $dp_idx == 0}>style="border-top: 2px solid lightslategrey;"<{/if}>>
								<{if $brand_idx == 0}>
									<td rowspan="<{$brand_data.brand_total}>"><{$brand_data.brand_name}></td>
								<{/if}>
								<{if $dp_idx == 0}>
									<td rowspan="<{$dp_data.dp_total}>"><{$dp_data.dp_name}></td>
								<{/if}>
								<td class="text-left font-grey"><{$prd_data.prd_g_name}></td>
								<td class="text-left"><{$prd_data.prd_name}></td>
								<td><{$prd_data.total_qty|number_format:0}></td>
								<td class="text-right">₩<{$prd_data.total_sales|number_format:0}></td>
								<td class="text-right">₩<{$prd_data.total_delivery|number_format:0}></td>
								<td class="text-right">
									₩<{$prd_data.total_settle|number_format:0}>
									<a href="work_cms_sales_settlement.php?sch_single_settle=1&sch_ord_s_date=<{$sch_ord_s_date}>&sch_ord_e_date=<{$sch_ord_e_date}>&sch_settle_dp_c_no=<{$dp_key}>&sch_prd_no=<{$prd_key}>&ord_page_type=500" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
								</td>
								<td><{$prd_data.total_avg_per|number_format:2}>%</td>
								<td class="sales-background text-right">₩<{$prd_data.avg_sales|number_format:0}></td>
								<td class="sales-background text-right" style="font-size: 10px;">
									₩<{$prd_data.max_sales|number_format:0}><br/>
									₩<{$prd_data.min_sales|number_format:0}>
								</td>
								<td class="settle-background text-right">₩<{$prd_data.avg_settle|number_format:0}></td>
								<td class="settle-background text-right" style="font-size: 10px;">
									₩<{$prd_data.max_settle|number_format:0}><br/>
									₩<{$prd_data.min_settle|number_format:0}>
								</td>
							</tr>
							<{assign var=dp_idx value=$dp_idx+1}>
							<{assign var=brand_idx value=$brand_idx+1}>
						<{/foreach}>
					<{/foreach}>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="13" class="first">데이터가 없습니다.</td>
				</tr>
			<{/if}>
		</tbody>
	</table>
	<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('settle-product-table');" />
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_prd_g1&sch_group=sch_kind_g1&sch_type=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_prd_g2&sch_group=sch_kind_g2&sch_group_type=product&sch_type=product_cms",
			loading: "로딩중..",
			clear: true
		});
	});

	function chkSearchList()
	{
		var f = document.search_form;
		var ord_s_date = $("#sch_ord_s_date").val();
		var ord_e_date = $("#sch_ord_e_date").val();

		if(!ord_s_date || !ord_e_date){
			alert("주문일을 선택 후 이용해주세요.");
			return false;
		}

		var ord_s_date_val 	= new Date(ord_s_date);
		var ord_e_date_val 	= new Date(ord_e_date);
		var diff_date 		= ord_s_date_val.getTime() - ord_e_date_val.getTime();
		var diff_day 		= Math.abs(diff_date / (1000 * 60 * 60 * 24));

		if(diff_day > 62){
			alert("2개월까지만 설정 가능합니다.");
			return false;
		}

		f.submit();
	}

	function ordDateVal(obj, type)
	{
		var today 		 	= new Date($("#sch_ord_e_date").val());
		var cur_month	 	= today.getMonth()+1;
		var cur_day		 	= today.getDate();
		var cur_month_text  = (cur_month < 10) ? "0"+cur_month : cur_month;
		var cur_day_text  	= (today.getDate() < 10) ? "0"+today.getDate() : today.getDate();
		var today_val	 	= today.getFullYear() + "-" + cur_month_text + "-" + cur_day_text;
		var prev_day 	 	= "";
		var prev_month_text	= "";
		var prev_day_text 	= "";
		var prev_day_val	= "";

		if(type == "week"){
			prev_day 		= new Date(new Date().setDate(cur_day-7));
			prev_month_text	= (prev_day.getMonth() < 10) ? "0"+prev_day.getMonth() : prev_day.getMonth();
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "weeks"){
			prev_day 		= new Date(new Date().setDate(cur_day-14));
			prev_month_text	= (prev_day.getMonth() < 10) ? "0"+prev_day.getMonth() : prev_day.getMonth();
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "month"){
			prev_day 		= new Date(new Date().setMonth(cur_month-1));
			prev_month_text	= (prev_day.getMonth() < 10) ? "0"+prev_day.getMonth() : prev_day.getMonth();
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "months"){
			prev_day 		= new Date(new Date().setMonth(cur_month-2));
			prev_month_text	= (prev_day.getMonth() < 10) ? "0"+prev_day.getMonth() : prev_day.getMonth();
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}

		$(".ord_date_btn").removeClass('ord_date_btn_active');
		$(obj).addClass('ord_date_btn_active');

		$("#sch_ord_s_date").val(prev_day_val);
		$("#sch_ord_e_date").val(today_val);
		$("#sch_ord_date_type").val(type);
	}
</script>

</body>
</html>
