<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center;}
	.cms-td{background: rgba(155,187,89,0.5);}
	.brand-td{background: rgba(221,217,195,0.5);}
	.log-td{background: rgba(183,222,232,0.5);}
	.price-td{text-align:right !important;}
	.table-bordered thead td, .table-bordered thead th{border-bottom-width: 1px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_settlement.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_settle_month">정산월</label>
				<input type="text" name="sch_settle_month" id="sch_settle_month" class="month-picker form-control" value="<{$sch_settle_month}>" />

				<label for="sch_settle_c_no">정산업체</label>
				<select name="sch_settle_c_no" id="sch_settle_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$settle_company_list key=key item=settle_company}>
					<option value="<{$key}>" <{if $sch_settle_c_no == $key}>selected<{/if}>><{$settle_company.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_settle_type">엑셀양식</label>
				<select name="sch_settle_type" id="sch_settle_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$settle_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_settle_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_settle_dp_c_no">판매처</label>
				<select name="sch_settle_dp_c_no" id="sch_settle_dp_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_list key=key item=dp_comp}>
					<option value="<{$key}>" <{if $sch_settle_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_settle_s_date">정산 지급일/예정일 </label>
				<input type="text" name="sch_settle_s_date" id="sch_settle_s_date" class="date-picker form-control" style="margin-right: 2px;" value="<{$sch_settle_s_date}>" />
				~
				<input type="text" name="sch_settle_e_date" id="sch_settle_e_date" class="date-picker form-control" value="<{$sch_settle_e_date}>" />
			</div>
			<div class="form-group" style="margin-top: 5px;">
				<label for="sch_ord_no">주문번호</label>
				<input type="text" name="sch_ord_no" id="sch_ord_no" class="form-control" style="width: 120px;" value="<{$sch_ord_no}>" />

				<label for="sch_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_return">회수리스트</label>
				<select name="sch_is_return" id="sch_is_return" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_return == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_order">주문번호 확인</label>
				<select name="sch_is_order" id="sch_is_order" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_order_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_order == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group" style="margin-top: 5px;">
				<label for="sch_log_c_no">물류업체</label>
				<select name="sch_log_c_no" id="sch_log_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$logistics_company_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_log_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_sku">재고관리코드</label>
				<input type="text" name="sch_sku" id="sch_sku" class="form-control" style="width: 120px;" value="<{$sch_sku}>" />

				<label for="sch_settle_gubun">구분</label>
				<select name="sch_settle_gubun" id="sch_settle_gubun" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$settle_gubun_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_settle_gubun == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_settle_cs">매출/비용</label>
				<select name="sch_settle_cs" id="sch_settle_cs" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$settle_cs_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_settle_cs == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_file_no">File no</label>
				<input type="text" name="sch_file_no" id="sch_file_no" class="form-control" style="width: 80px;" value="<{$sch_file_no}>" />

				<label for="sch_notice">비고</label>
				<input type="text" name="sch_notice" id="sch_notice" class="form-control" style="width: 100px;" value="<{$sch_notice}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="70px;"> <!-- No -->
			<col width="80px;"> <!-- 작성일 -->
			<col width="80px;"> <!-- 정산월 -->
			<col width="120px;"> <!-- 정산업체 -->
			<col width="110px;"> <!-- 정산<br/>지급일/예정일 -->
			<col width="150px;"> <!-- 판매처 -->
			<col width="180px;"> <!-- 주문번호 -->
			<col width="100px;"> <!-- 회수리스트 -->
			<col width="150px;"> <!-- 업체명/브랜드명 -->
			<col width="100px;"> <!-- 물류업체 -->
			<col width="100px;"> <!-- 재고관리코드 -->
			<col width="100px;"> <!-- 구분 -->
			<col width="100px;"> <!-- 매출/비용 -->
			<col width="140px;"> <!-- 판매 금액 -->
			<col width="180px;"> <!-- 정산 금액 -->
			<col width="85px;"> <!-- File no -->
			<col width="140px;"> <!-- 비고 -->
		</colgroup>
		<thead>
			<tr>
				<td colspan="13">
					<span style="float: left;line-height: 30px;"><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
				</td>
				<{if $sales_settle_total_list}>
					<td class="price-td" style="font-weight: bold;">
						<{if $sales_settle_total_list['sales']}>
							<{foreach from=$sales_settle_total_list['sales'] item=sales_total_data}>
								<{if $sales_total_data.price != 0}>
								<div style="overflow: hidden">
									<span style="float: left;"><{$sales_total_data.title}></span>
									<span style="float: right; <{if $sales_total_data.price < 0}>color: red;<{else}>color: blue;<{/if}>">￦<{$sales_total_data.price|number_format:0}></span><br/>
								</div>
								<{/if}>
							<{/foreach}>
						<{else}>
							￦0
						<{/if}>
					</td>
					<td class="price-td" style="font-weight: bold;">
						<{assign var=settle_total value=0}>
						<{assign var=settle_vat_total value=0}>
						<{if $sales_settle_total_list['settle']}>
							<{foreach from=$sales_settle_total_list['settle'] item=settle_total_data}>
								<{if $settle_total_data.price != 0}>
								<div style="overflow: hidden">
									<span style="float: left;"><{$settle_total_data.title}></span>
									<span style="float: right; <{if $settle_total_data.price < 0}>color: red;<{else}>color: blue;<{/if}> width: 120px;">
										￦<{$settle_total_data.price_vat|number_format:0}>
										<span style="color: gray; font-size: 10px;">(￦<{$settle_total_data.price|number_format:0}>)</span>
									</span>
								</div>
								<{assign var=settle_total value=$settle_total+$settle_total_data.price}>
								<{assign var=settle_vat_total value=$settle_vat_total+$settle_total_data.price_vat}>
								<{/if}>
							<{/foreach}>
							<div style="overflow: hidden; margin-top: 5px; padding-top: 3px; border-top: 1px solid #ddd;">
								<span style="float: left;">합계</span>
								<span style="float: right; <{if $settle_total < 0}>color: red;<{else}>color: blue;<{/if}> width: 120px;">
									￦<{$settle_vat_total|number_format:0}>
									<span style="color: gray; font-size: 10px;">(￦<{$settle_total|number_format:0}>)</span>
								</span>
							</div>
						<{else}>
							￦0
						<{/if}>
					</td>
					<td style="vertical-align: bottom;"><span style="color: red; line-height: 30px; font-weight: bold; font-size: 8px;">※ VAT 포함 기준</span></td>
				<{else}>
					<td colspan="3"></td>
				<{/if}>
				<td class="text-right">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
		</thead>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">No</th>
				<th scope="col" rowspan="2">작성일</th>
				<th scope="col" rowspan="2">정산월</th>
				<th scope="col" rowspan="2">정산업체</th>
				<th scope="col" rowspan="2">정산<br/>지급일/예정일</th>
				<th scope="col" rowspan="2">판매처</th>
				<th scope="col" rowspan="2">주문번호</th>
				<th scope="col" rowspan="2">회수리스트</th>
				<th scope="col" rowspan="2">업체명/브랜드명</th>
				<th scope="col" rowspan="2">물류업체</th>
				<th scope="col" rowspan="2">재고관리코드</th>
				<th scope="col" rowspan="2">구분</th>
				<th scope="col" rowspan="2">매출/비용</th>
				<th scope="col" rowspan="2">판매 금액</th>
				<th scope="col" rowspan="2">정산 금액(VAT 포함)<br/><span style="font-size: 10px;">정산 금액(VAT 별도)</span></th>
				<th scope="col" rowspan="2">File no</th>
				<th scope="col" rowspan="2">비고</th>
			</tr>
		</thead>
		<tbody>
			<{if $sales_settle_list}>
				<{foreach from=$sales_settle_list item=sales_settle}>
					<tr style="<{if $sch_is_single && $sales_settle.order_number == $max_order_number}>background: orangered;<{elseif $sch_is_single && $sales_settle.order_number == $min_order_number}>background: lightblue;<{else}>background: #ebebeb;<{/if}>">
						<td class="first"><!-- No -->
							<{$sales_settle.no}>
						</td>
						<td> <!-- 작성일 -->
							<{$sales_settle.reg_day}>
						</td>
						<td> <!-- 정산월 -->
							<{$sales_settle.settle_month}>
						</td>
						<td> <!-- 정산업체 -->
							<{$sales_settle.settle_c_name}>
						</td>
						<td> <!-- 정산<br/>지급일/예정일 -->
							<{$sales_settle.settle_date}>
						</td>
						<td> <!-- 판매처 -->
							<{$sales_settle.settle_dp_c_name}>
						</td>
						<td class="cms-td text-left"> <!-- 주문번호 -->
							<{$sales_settle.order_number}>
							<{if $sales_settle.ord_cnt > 0 || $sales_settle.org_cnt > 0}>
								<a href="work_list_cms.php?sch_ord_bundle=1&sch_reg_s_date=&sch_order_number=<{$sales_settle.total_ord_no}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{else}>
								[확인불가]
							<{/if}>
						</td>
						<td class="cms-td"> <!-- 회수리스트 -->
							<{if $sales_settle.is_return == '1'}>
								유
								<a href="work_cms_return_list.php?sch_parent_ord_no=<{$sales_settle.order_number}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{/if}>
						</td>
						<td class="brand-td"> <!-- 업체명/브랜드명 -->
							<{$sales_settle.c_name}>
						</td>
						<td class="log-td"> <!-- 물류업체 -->
							<{$sales_settle.log_c_name}>
						</td>
						<td class="log-td"> <!-- 재고관리코드 -->
							<{$sales_settle.sku}>
						</td>
						<td> <!-- 구분 -->
							<{$sales_settle.settle_gubun_name}>
						</td>
						<td> <!-- 매출/비용 -->
							<{$sales_settle.settle_cs_name}>
						</td>
						<td class="price-td" style="color: black;"> <!-- 판매 금액 -->
							<{if $sales_settle.sales_price != 0}>
								￦<{$sales_settle.sales_price|number_format:0}>
							<{/if}>
						</td>
						<td class="price-td" style="<{if $sales_settle.settle_price_vat < 0}>color: red;<{else}>color: blue;<{/if}>"> <!-- 정산 금액 -->
							<{if $sales_settle.settle_price_vat != 0}>
								￦<{$sales_settle.settle_price_vat|number_format:0}>
								<{if $sales_settle.log_c_no != '5711'}>
									<br/>
									<span style="color: gray; font-size: 10px;">(￦<{$sales_settle.settle_price|number_format:0}>)</span>
								<{/if}>
							<{/if}>
						</td>
						<td>
							<{if $sales_settle.upload_file_list}>
								<{foreach from=$sales_settle.upload_file_list item=upload_file}>
									<div>
										<a href="waple_upload_management.php?sch_file_no=<{$upload_file.file_no}>" target="_blank"><{$upload_file.file_no}></a>
										<a href="uploads/<{$upload_file.file_path}>" download="<{$upload_file.file_name}>"><img src="./images/common/ico/ico_file.gif"></a>
									</div>
								<{/foreach}>
							<{/if}>
						</td>
						<td> <!-- 비고 -->
							<textarea class="form-control" style="font-size:12px; padding: 3px;" readonly><{$sales_settle.notice}></textarea>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="17">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="17" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }
</script>

</body>
</html>
