<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table thead.thead-dark th{vertical-align: middle; border-color: #FFF; border-bottom-width: 1px;}
	.table tbody td{vertical-align: middle;}
	#search_form label{margin-right: 10px;}
	#search_form .form-control{margin-right: 20px;}
	.form-control{font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_return_mi_list.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_mi_no">no</label>
				<input type="text" name="sch_mi_no" id="sch_mi_no" class="form-control" style="width: 60px;" value="<{$sch_mi_no}>" />

				<label for="sch_work_state">진행상태</label>
				<select id="sch_work_state" name="sch_work_state" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$work_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_work_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_parent_ord_no">이전 주문번호</label>
				<input type="text" name="sch_parent_ord_no" id="sch_parent_ord_no" class="form-control" style="width: 120px;" value="<{$sch_parent_ord_no}>" />

				<label for="sch_stock_date">발송처리일</label>
				<input type="text" name="sch_stock_date" id="sch_stock_date" class="form-control date-picker" value="<{$sch_stock_date}>" />

				<label for="sch_recipient">회수자명</label>
				<input type="text" name="sch_recipient" id="sch_recipient" class="form-control" style="width: 100px;" value="<{$sch_recipient}>" />

				<label for="sch_recipient_hp">회수자전화</label>
				<input type="text" name="sch_recipient_hp" id="sch_recipient_hp" class="form-control" style="width: 100px;" value="<{$sch_recipient_hp}>" />

				<label for="sch_sup_c_no">공급업체</label>
				<select id="sch_sup_c_no" name="sch_sup_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sup_c_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_sup_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_option">상품명(SKU)</label>
				<input type="text" name="sch_option" id="sch_option" class="form-control" style="width: 140px;" value="<{$sch_option}>" />

				<label for="sch_title">제조사 검수 제목</label>
				<input type="text" name="sch_title" id="sch_title" class="form-control" style="width: 140px;" value="<{$sch_title}>" />

				<label for="sch_is_improve">개선 여부</label>
				<select id="sch_is_improve" name="sch_is_improve" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_improve_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_improve == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_run_state">와이즈 확인</label>
				<select id="sch_run_state" name="sch_run_state" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$run_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_run_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_as_in">AS 입고 여부</label>
				<select id="sch_is_as_in" name="sch_is_as_in" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_as_in == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_as_out">AS 출고 여부</label>
				<select id="sch_is_as_out" name="sch_is_as_out" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_as_out == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" style="table-layout: fixed;margin-top: 20px;">
		<colgroup>
			<col width="80px;"> <!-- No -->
			<col width="60px;"> <!-- AS 입고 -->
			<col width="120px;"> <!-- 진행상태 -->
			<col width="60px;"> <!-- AS 출고 -->
			<col width="130px;"> <!-- 이전 주문번호 -->
			<col width="100px;"> <!-- 발송일 -->
			<col width="120px;"> <!-- 회수자명/회수자전화 -->
			<col width="80px;"> <!-- 공급업체 -->
			<col width="350px;"> <!-- 상품명(SKU)::수량 -->
			<col width="200px;"> <!-- 요청메세지 -->
			<col width="240px;"> <!-- 제조사 검수 제목 -->
			<col width="80px;"> <!-- 작성자 -->
			<col width="100px;"> <!-- 개선여부 -->
			<col width="100px;"> <!-- 와이즈 확인(확인담당자) -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="10" style="padding: 5px;">
					<button type="button" class="btn btn-dark" style="font-size: 12px; float: left; font-weight: bold;" onclick="location.href='/v1/excel_work_cms_return_mi_list.php?<{$search_url}>'">엑셀다운로드</button>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">no<br/>작성일</th>
				<th scope="col" rowspan="2">AS 입고</th>
				<th scope="col" rowspan="2">진행상태</th>
				<th scope="col" rowspan="2">AS 출고</th>
				<th scope="col" rowspan="2">이전 주문번호</th>
				<th scope="col" rowspan="2">발송처리일</th>
				<th scope="col" rowspan="2">회수자명<br/>회수자 전화</th>
				<th scope="col" rowspan="2">공급업체</th>
				<th scope="col" rowspan="2">상품명(SKU) :: 수량</th>
				<th scope="col" rowspan="2">요청메세지</th>
				<th scope="col" rowspan="2">제조사 검수 제목</th>
				<th scope="col" rowspan="2">작성자</th>
				<th scope="col" rowspan="2">개선 여부</th>
				<th scope="col" rowspan="2">와이즈 확인<br/>(확인담당자)</th>
			</tr>
		</thead>
		<tbody>
			<{if $return_mi_list}>
				<{assign var=color_idx value=0}>
				<{foreach from=$return_mi_list item=return_mi}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td class="first text-center">
							<{$return_mi.mi_no}><br/>
							<span style="color: blue;"><{$return_mi.reg_day}></span><br/>
							<span style="color: green;"><{$return_mi.reg_hour}></span>
						</td>
						<td class="text-center">
							<input type="checkbox" name="f_as_in" class="form-control" value="1" style="cursor: pointer; margin: 0 auto; width: 20px;" <{if $return_mi.is_as_in == '1'}>checked<{/if}> disabled/>
						</td>
						<td>
							<select name="work_state" class="form-control" onchange="save_el('<{$return_mi.mi_no}>','f_work_state', this)" style="font-size: 12px;">
								<option value="">::선택::</option>
								<{foreach from=$work_state_option key=key item=label}>
								<option value="<{$key}>" <{if $return_mi.work_state == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td class="text-center">
							<input type="checkbox" name="f_as_out" class="form-control" value="1" style="cursor: pointer; margin: 0 auto; width: 20px;" <{if $return_mi.is_as_out == '1'}>checked<{/if}> disabled/>
						</td>
						<td>
							<{$return_mi.parent_order_number}><br/>
							<a href="work_cms_return_qc_list.php?sch_prev_ord_no=<{$return_mi.parent_order_number}>&sch_return_type=<{$return_mi.return_type}>" target="_blank" style="background: #333; color: white; text-align:center; padding: 3px; font-size: 10px;margin-top: 3px;display: block;">[Q/C 리스트 바로가기]</a>
						</td>
						<td class="text-center">
							<{$return_mi.stock_date}>
						</td>
						<td>
							<span style="text-align:left; display: block;"><{$return_mi.recipient}></span>
							<span style="text-align:left; display: block;"><{$return_mi.recipient_sc_hp}></span>
						</td>
						<td class="text-center">
							<{if $return_mi.return_mi_unit_list}>
								<{foreach from=$return_mi.return_mi_unit_list item=mi_unit}>
									<div><{$mi_unit.sup_c_name}></div>
								<{/foreach}>
							<{/if}>
						</td>
						<td>
							<{if $return_mi.return_mi_unit_list}>
								<{foreach from=$return_mi.return_mi_unit_list item=mi_unit}>
									<div><{$mi_unit.option_info}></div>
								<{/foreach}>
							<{/if}>
						</td>
						<td>
							<textarea class="form-control" style="height: 65px;" readonly><{$return_mi.req_memo}></textarea>
						</td>
						<td>
							<a href="work_cms_return_mi_regist.php?mi_no=<{$return_mi.mi_no}>&prev_type=MI" style="font-size: 14px;" target="_blank">
								<b><{$return_mi.ins_title}></b>
							</a>
						</td>
						<td class="text-center">
							<{$return_mi.reg_s_name}>
						</td>
						<td class="text-center">
							<{if $return_mi.is_improve == 1}>
								<{$return_mi.is_improve_name}><br/>
								<{if $return_mi.exp_date}>
									(<{$return_mi.exp_date}>)
								<{else}>
									(미정)
								<{/if}>
							<{/if}>
						</td>
						<td class="text-center">
							<{if $session_s_no == '102'}>
								<select name="run_state" class="form-control" onchange="save_el('<{$return_mi.mi_no}>', 'f_run_state', this)">
									<option value="">::선택::</option>
									<{foreach from=$run_state_option key=key item=label}>
										<option value="<{$key}>" <{if $return_mi.run_state == $key}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							<{elseif $return_mi.run_state > 0}>
								<{$return_mi.run_state_name}><br/>
								(<{$return_mi.run_s_name}>)
							<{/if}>
						</td>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="14">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="14" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function save_el(no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || proc == 'f_run_state') {
			$.post("work_cms_return_mi_list.php", {mi_no : no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}
</script>

</body>
</html>
