<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center;}
	.cms-td{background: rgba(155,187,89,0.5);}
	.price-td{text-align:right !important; color: green;}
	.new_vat_frm .form-control{margin-right:0; padding: 3px;}
	.table-bordered thead td, .table-bordered thead th{border-bottom-width: 1px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_vat_list.php" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_vat_month">부가세월</label>
				<input type="text" name="sch_vat_month" id="sch_vat_month" class="month-picker form-control" value="<{$sch_vat_month}>" />

				<label for="sch_vat_type">엑셀양식</label>
				<select name="sch_vat_type" id="sch_vat_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$vat_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_vat_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_vat_dp_c_no">판매처</label>
				<select name="sch_vat_dp_c_no" id="sch_vat_dp_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
					<option value="<{$key}>" <{if $sch_vat_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_cancel">취소일</label>
				<select name="sch_is_cancel" id="sch_is_cancel" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_cancel == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
			<div class="form-group">
				<label for="sch_ord_no">주문번호</label>
				<input type="text" name="sch_ord_no" id="sch_ord_no" class="form-control" style="width: 120px;" value="<{$sch_ord_no}>" />

				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_return">회수리스트</label>
				<select name="sch_is_return" id="sch_is_return" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_exist_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_return == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_is_order">주문번호 확인</label>
				<select name="sch_is_order" id="sch_is_order" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$is_order_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_is_order == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_notice">비고</label>
				<input type="text" name="sch_notice" id="sch_notice" class="form-control" style="width: 100px;" value="<{$sch_notice}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<form name="new_vat_frm" id="new_vat_frm" class="new_vat_frm" action="work_cms_sales_vat_list.php" method="post" enctype="multipart/form-data" autocomplete="off">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_vat">
		<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
			<colgroup>
				<col width="70px;"> <!-- No -->
				<col width="80px;"> <!-- 작성일 -->
				<col width="80px;"> <!-- 부가세월 -->
				<col width="150px;"> <!-- 판매처 -->
				<col width="110px;"> <!-- 승인일/매출인식일<br/>전산확정일 -->
				<col width="100px;"> <!-- 취소일 -->
				<col width="180px;"> <!-- 주문번호 -->
				<col width="150px;"> <!-- 업체명 -->
				<col width="80px;"> <!-- 회수리스트 -->
				<col width="90px;"> <!-- 고객매출 -->
				<col width="90px;"> <!-- 카드 -->
				<col width="90px;"> <!-- 현금 -->
				<col width="90px;"> <!-- 기타 -->
				<col width="90px;"> <!-- 세금계산서 -->
				<col width="140px;"> <!-- 비고 -->
			</colgroup>
			<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">No</th>
				<th scope="col" rowspan="2">작성일</th>
				<th scope="col" rowspan="2">부가세월</th>
				<th scope="col" rowspan="2">판매처</th>
				<th scope="col" rowspan="2">승인일/매출인식일<br/>전산확정일</th>
				<th scope="col" rowspan="2">취소일</th>
				<th scope="col" rowspan="2">주문번호</th>
				<th scope="col" rowspan="2">업체명/브랜드명</th>
				<th scope="col" rowspan="2">회수리스트</th>
				<th scope="col" rowspan="2">과세매출</th>
				<th scope="col" rowspan="2">카드</th>
				<th scope="col" rowspan="2">현금</th>
				<th scope="col" rowspan="2">기타</th>
				<th scope="col" rowspan="2">세금계산서</th>
				<th scope="col" rowspan="2">비고</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td>
						<input type="text" name="new_vat_month" class="month-picker form-control" required>
					</td>
					<td>
						<select name="new_vat_dp_c_no" id="new_vat_dp_c_no" class="new_vat_dp_c_no form-control" required>
							<option value="">::선택::</option>
							<{foreach from=$vat_company_option key=$vat_dp_c_no item=label}>
							<option value="<{$vat_dp_c_no}>"><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td>
						<input type="text" name="new_vat_date" class="date-picker form-control">
					</td>
					<td>
						<input type="text" name="new_cancel_date" class="date-picker form-control" >
					</td>
					<td>
						<input type="text" name="new_order_number" class="form-control" >
					</td>
					<td>
						<input type="text" name="new_c_name" class="form-control new_c_name" >
						<input type="hidden" name="new_c_no" class="form-control new_c_no" >
					</td>
					<td></td>
					<td></td>
					<td>
						<input type="text" name="new_card_price" class="form-control price-td" >
					</td>
					<td>
						<input type="text" name="new_cash_price" class="form-control price-td" >
					</td>
					<td>
						<input type="text" name="new_etc_price" class="form-control price-td" >
					</td>
					<td>
						<input type="text" name="new_tax_price" class="form-control price-td" >
					</td>
					<td>
						<textarea name="new_notice" id="new_notice" class="textarea_work_message"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="15" style="padding: 0; margin:0;">
						<button type="submit" class="btn btn-dark" style="width: 99%; ">추가하기</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="70px;"> <!-- No -->
			<col width="80px;"> <!-- 작성일<br/>작성자 -->
			<col width="80px;"> <!-- 부가세월 -->
			<col width="150px;"> <!-- 판매처 -->
			<col width="110px;"> <!-- 승인일/매출인식일<br/>전산확정일 -->
			<col width="100px;"> <!-- 취소일 -->
			<col width="180px;"> <!-- 주문번호 -->
			<col width="150px;"> <!-- 업체명 -->
			<col width="80px;"> <!-- 회수리스트 -->
			<col width="90px;"> <!-- 고객매출 -->
			<col width="90px;"> <!-- 카드 -->
			<col width="90px;"> <!-- 현금 -->
			<col width="90px;"> <!-- 기타 -->
			<col width="90px;"> <!-- 세금계산서 -->
			<col width="140px;"> <!-- 비고 -->
		</colgroup>
		<thead>
			<tr>
				<td colspan="15">
					<form name="sales_vat_insert_frm" id="sales_vat_insert_frm" method="post" action="work_cms_sales_vat_insert.php" enctype="multipart/form-data" style="float: left;">
						<strong style="margin-right: 20px;">#부가세 엑셀 업로드</strong>
						부가세월
						<input type="text" class="month-picker form-control" name="vat_month" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; padding:3px;width: 80px;" required />
						엑셀양식
						<select name="vat_type" id="vat_type" class="form-control" style="font-size: 12px; width: auto; display: inline-block; margin: 0 10px; padding:3px;" required>
							<option value="">::선택::</option>
							<{foreach from=$vat_type_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
						판매처
						<select name="vat_dp_c_no" id="vat_dp_c_no" class="form-control" style="font-size: 12px; width: 130px; display: inline-block; margin: 0 10px; padding:3px;">
							<option value="">::선택::</option>
							<{foreach from=$vat_company_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
						<input type="file" name="vat_file" id="vat_file" style="width:250px; border: 1px solid #cccccc;">
						<button type="button" onclick="return vat_insert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
					</form>
					<span style="color: red; float: right">※ VAT 포함 기준 (현대홈쇼핑(신) = VAT 별도)</span>
				</td>
			</tr>
			<tr>
				<td colspan="9">
					<form name="sales_vat_del_frm" id="sales_vat_del_frm" method="post" action="work_cms_sales_vat_list.php" enctype="multipart/form-data" style="float: left;">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="process" value="del_vat">
						<strong style="margin-right: 20px;">#부가세 업로드 삭제</strong>
						부가세월
						<input type="text" name="del_vat_month" id="del_vat_month" class="month-picker form-control" value="<{$current_month}>" style="display: inline-block; margin: 0 10px; padding:3px;width: 80px;" required/>
						엑셀양식
						<select name="del_vat_type" id="del_vat_type" class="form-control" style="font-size: 12px; width: auto; display: inline-block; margin: 0 10px; padding:3px;">
							<option value="">::선택::</option>
							<{foreach from=$vat_type_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
						판매처
						<select name="del_vat_dp_c_no" id="del_vat_dp_c_no" class="form-control" style="font-size: 12px; width: 130px; display: inline-block; margin: 0 10px; padding:3px;">
							<option value="">::선택::</option>
							<{foreach from=$vat_company_option key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
						<button type="button" onclick="return vat_delete();" class="btn_file" style="padding:5px 20px">삭제</button>
					</form>
				</td>
				<{if $sales_vat_total_list}>
					<td class="price-td" style="font-weight: bold;">￦<{$sales_vat_total_list.total_price|number_format:0}></td>
					<td class="price-td" style="font-weight: bold;">￦<{$sales_vat_total_list.total_card_price|number_format:0}></td>
					<td class="price-td" style="font-weight: bold;">￦<{$sales_vat_total_list.total_cash_price|number_format:0}></td>
					<td class="price-td" style="font-weight: bold;">￦<{$sales_vat_total_list.total_etc_price|number_format:0}></td>
					<td class="price-td" style="font-weight: bold;">￦<{$sales_vat_total_list.total_tax_price|number_format:0}></td>
					<td></td>
				<{else}>
					<td colspan="6"></td>
				<{/if}>
			</tr>
		</thead>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col" rowspan="2">No</th>
				<th scope="col" rowspan="2">작성일<br/>(작성자)</th>
				<th scope="col" rowspan="2">부가세월</th>
				<th scope="col" rowspan="2">판매처</th>
				<th scope="col" rowspan="2">승인일/매출인식일<br/>전산확정일</th>
				<th scope="col" rowspan="2">취소일</th>
				<th scope="col" rowspan="2">주문번호</th>
				<th scope="col" rowspan="2">업체명/브랜드명</th>
				<th scope="col" rowspan="2">회수리스트</th>
				<th scope="col" rowspan="2">과세매출</th>
				<th scope="col" rowspan="2">카드</th>
				<th scope="col" rowspan="2">현금</th>
				<th scope="col" rowspan="2">기타</th>
				<th scope="col" rowspan="2">세금계산서</th>
				<th scope="col" rowspan="2">비고</th>
			</tr>
		</thead>
		<tbody>
			<{if $sales_vat_list}>
				<{foreach from=$sales_vat_list item=sales_vat}>
					<{assign var=color_idx value=0}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<td class="first"><!-- No -->
							<{$sales_vat.no}>
						</td>
						<td> <!-- 작성일 -->
							<{$sales_vat.reg_day}>
							<br/>(<{$sales_vat.reg_s_name}>)
						</td>
						<td> <!-- 부가세월 -->
							<{$sales_vat.vat_month}>
						</td>
						<td> <!-- 판매처 -->
							<{$sales_vat.vat_dp_c_name}>
						</td>
						<td> <!-- 승인일/매출인식일/정산확정일 -->
							<{$sales_vat.vat_date}>
						</td>
						<td> <!-- 취소일 -->
							<{$sales_vat.cancel_date}>
						</td>
						<td class="cms-td text-left"> <!-- 주문번호 -->
							<{$sales_vat.order_number}>
							<{if $sales_vat.ord_cnt > 0 || $sales_vat.org_cnt > 0}>
								<a href="work_list_cms.php?sch_ord_bundle=1&sch_reg_s_date=&sch_order_number=<{$sales_vat.total_ord_no}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{else}>
								[확인불가]
							<{/if}>
						</td>
						<td class="cms-td"> <!-- 업체명/브랜드명 -->
							<{$sales_vat.c_name}>
						</td>
						<td class="cms-td"> <!-- 회수리스트 -->
							<{if $sales_vat.is_return == 1}>
								유
								<a href="work_cms_return_list.php?sch_parent_ord_no=<{$sales_vat.order_number}>" target="_blank">
									<img src="./images/icon/new_win_icon.png">
								</a>
							<{/if}>
						</td>
						<td class="price-td"> <!-- 과세매출 -->
							<{if $sales_vat.total_price != 0}>
								￦<{$sales_vat.total_price|number_format:0}>
							<{/if}>
						</td>
						<td class="price-td"> <!-- 카드 -->
							<{if $sales_vat.card_price != 0}>
								￦<{$sales_vat.card_price|number_format:0}>
							<{/if}>
						</td>
						<td class="price-td"> <!-- 현금 -->
							<{if $sales_vat.cash_price != 0}>
								￦<{$sales_vat.cash_price|number_format:0}>
							<{/if}>
						</td>
						<td class="price-td"> <!-- 기타 -->
							<{if $sales_vat.etc_price != 0}>
								￦<{$sales_vat.etc_price|number_format:0}>
							<{/if}>
						</td>
						<td class="price-td"> <!-- 세금계산서 -->
							<{if $sales_vat.tax_price != 0}>
								￦<{$sales_vat.tax_price|number_format:0}>
							<{/if}>
						</td>
						<td> <!-- 비고 -->
							<textarea class="form-control" style="font-size:12px; padding: 3px;" readonly><{$sales_vat.notice}></textarea>
						</td>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="15">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="15" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".new_c_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_unit_company.api.php",
					dataType: "json",
					data: {
						c_name: request.term,
						c_type: '1'
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								cno : item.c_no,
								label : item.c_label,
								cname : item.c_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(this).val(ui.item.cname);
				$(".new_c_no").val(ui.item.cno);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }

	function vat_insert()
	{
		var f = document.forms['sales_vat_insert_frm'];

		if(!$('#vat_type').val()){
			alert("부가세자료 타입을 선택해 주세요");
			return;
		}

		if(!$('#vat_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		var type_name = $("#vat_type option:selected").text();

		if (confirm("첨부파일을 " + type_name + " 부가세 관리에 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function vat_delete()
	{
		var f = document.forms['sales_vat_del_frm'];

		if(!$('#del_vat_month').val()){
			alert("삭제하실 부가세월을 선택해 주세요");
			return;
		}

		if(!$('#del_vat_type').val() && !$('#del_vat_dp_c_no').val()){
			alert("삭제하실 엑셀양식이나 판매처를 선택해 주세요");
			return;
		}

		if (confirm("삭제하시겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}
</script>

</body>
</html>
