<{include file="inc/boot_navibar.html"}>

<style>
	.ord_active{background: #3093c2 !important;}
	#cs_new_display_btn_hide{display: none;}
	#new_work_cs_frm{display: none;}
	.jquery-modal{z-index: 100;}
	.jquery-modal #refund-modal{height: auto; width: 100%;overflow: unset; max-width: 600px; padding: 40px 55px;}
	.jquery-modal #deposit-modal{height: auto; width: 100%;overflow: unset; max-width: 510px; padding: 10px 20px;}
	.modal-content{border: 0;}
	.modal-content input{line-height: 24px; padding-left: 3px; margin-left: 5px;}
	#refund-modal, #deposit-modal{overflow: unset; height: auto;}
	#refund-modal input, #deposit-modal input{font-size: 12px;}
	#refund-modal label, #deposit-modal label{display: inline-block; width: 45px;}
	.table_list_style table thead th a{color: white;}
	.order-hide{display: none;}
	.label-guide{cursor: pointer;}
	.new_deposit_chk_content{display: none;}
	.prd-wrapper{margin: 5px 0; border-top: 1px solid #ccc; padding-top: 5px;}

	.deposit-wrapper{display: none;}
	.add_deposit_chk_content{display: none;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_list_cs.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<{if $nav_prd_no}>
				<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{else}>
				●
			<{/if}>
			<{$nav_title}>
			<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 15px;" onclick="location.href='work_cms_direct_list.php';">커머스 직택배 리스트</button>
			<{if $session_team == '00244'}>
				<button type="button" onclick="window.open('work_cms_sms_multi.php', 'CS 고객 단체문자 발송','width=700, height=650, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="background: #3093c2; color: white; padding: 4px 7px;">SMS 단체문자</button>
			<{/if}>
		</h2>
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<div class="default_wrap">
			<div class="left_wrap" style="color: #1c7198; margin: 10px 0;">
				<div>
					<span class="name_tit">작성일시</span>
					<input type="text" class="date-picker form-control" id="sch_ord_s_date" name="sch_ord_s_date" value="<{$sch_ord_s_date}>" />
					<span>~</span>
					<input type="text" class="date-picker form-control" id="sch_ord_e_date" name="sch_ord_e_date" value="<{$sch_ord_e_date}>" />
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
					<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
					<input type="hidden" name="sch_ord_date_type" id="sch_ord_date_type" value="<{$sch_ord_date_type}>">
					<button type="button" onclick="orddateVal('today')" class="btn_small ord_date_btn ord_today_btn <{if $sch_ord_date_type == 'today'}>ord_active<{/if}>" >오늘</button>
					<button type="button" onclick="orddateVal('week')" class="btn_small ord_date_btn ord_week_btn <{if $sch_ord_date_type == 'week'}>ord_active<{/if}>">1주</button>
					<button type="button" onclick="orddateVal('month')" class="btn_small ord_date_btn ord_month_btn <{if $sch_ord_date_type == 'month'}>ord_active<{/if}>">1달</button>
					<button type="button" onclick="orddateVal('months')" class="btn_small ord_date_btn ord_months_btn <{if $sch_ord_date_type == 'months'}>ord_active<{/if}>">3달</button>
					<button type="button" onclick="orddateVal('year')" class="btn_small ord_date_btn ord_year_btn <{if $sch_ord_date_type == 'year'}>ord_active<{/if}>">1년</button>
					<button type="button" onclick="orddateVal('years')" class="btn_small ord_date_btn ord_years_btn <{if $sch_ord_date_type == 'years'}>ord_active<{/if}>">2년</button>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">"주문번호"<img src="images/question.png" title="완전일치로 검색됩니다." class="label-guide"></span>
					<input type="text" name="sch_order_number" value="<{$sch_order_number}>" class="input_type2" style="background-color: #ffffcc; width:140px;" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">"수령자명"<img src="images/question.png" title="완전일치로 검색됩니다. 홍길동 = O , 길동 = X , 홍 길동 = X" class="label-guide"></span>
					<input type="text" name="sch_recipient" value="<{$sch_recipient}>" class="input_type2" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">수령자전화</span>
					<input type="text" name="sch_recipient_hp" value="<{$sch_recipient_hp}>" class="input_type2" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">물류업체(발송지)</span>
					<select name="sch_log_c_no" id="sch_log_c_no" class="select_type2" style="width: 80px;">
						<option value="">::전체::</option>
						<{foreach from=$logistics_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_log_c_no==$key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<span style="margin-right:10px;"></span>

					<span class="name_tit">구매처</span>
					<select name="sch_dp_c_no" id="sch_dp_c_no" class="select_type2" style="width: 100px;">
						<option value="">::전체::</option>
						<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
						<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
						<{/foreach}>
					</select>
					<br/>

					<span class="name_tit">CS 담당자</span>
					<select name="sch_cs_manager" id="sch_cs_manager" class="select_type2" style="width: 100px;">
						<option value="">::전체::</option>
						<{foreach from=$cs_manager_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_cs_manager==$key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					<input type="checkbox" name="sch_cs_manager_null" id="sch_cs_manager_null" value="1" <{if $sch_cs_manager_null == '1'}>checked<{/if}>>
					<label for="sch_cs_manager_null" style="display: inline-block; cursor: pointer;">NULL</label>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">입금확인</span>
					<select name="sch_cs_status" id="sch_cs_status" class="select_type2" style="width: 100px; margin-right: 5px;">
						<option value="">::전체::</option>
						<{foreach from=$cs_status_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_cs_status==$key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>

					<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
					<button type="button" class="btn_small" onclick="resetSearch();" style="width:58px; height:27px;">초기화</button>
				</div>
				<br/>
				<span id="sch_detail_display_btn_show">
					<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
				</span>
				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 4px;">
					<div>
						<span class="name_tit">"w_no"<img src="images/question.png" title="완전일치로 검색됩니다." class="label-guide"></span>
						<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송처리일</span>
						<input type="text" class="date-picker input_type_date" id="sch_stock_date" name="sch_stock_date" value="<{$sch_stock_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">특이사항</span>
						<input type="text" name="sch_notice" value="<{$sch_notice}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">수령지</span>
						<input type="text" name="sch_recipient_addr" id="sch_recipient_addr" value="<{$sch_recipient_addr}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">운송장번호</span>
						<input type="text" name="sch_delivery_no" value="<{$sch_delivery_no}>" class="input_type2" style="width: 120px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">코멘트</span>
						<input type="text" name="sch_cs_comment" value="<{$sch_cs_comment}>" class="input_type2" style="width: 150px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업무요청자</span>
						<input type="text" name="sch_req_name" value="<{$sch_req_name}>" class="input_type2" />
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">업체명/브랜드명</span>
						<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type5">
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 240px; height: 30px; margin-right: 10px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>

						<input type="text" name="sch_prd_name" id="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" <{if $sch_prd}>disabled<{/if}>>
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">입금사용여부</span>
						<select name="sch_is_deposit" class="select_type1">
							<option value="">::전체::</option>
							<{foreach from=$is_refund_option key=key item=label}>
							<option value="<{$key}>" <{if $key == $sch_is_deposit}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">쿠폰</span>
						<select name="sch_coupon_price" id="sch_coupon_price" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_coupon_price==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">쿠폰타입</span>
						<select name="sch_coupon_type" id="sch_coupon_type" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$coupon_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_coupon_type==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">환불처리</span>
						<select name="sch_is_refund" class="select_type1">
							<option value="">::전체::</option>
							<{foreach from=$is_refund_option key=key item=label}>
							<option value="<{$key}>" <{if $key == $sch_is_refund}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">반품/교환 진행</span>
						<select name="sch_cs_type" class="select_type1">
							<option value="">::전체::</option>
							<{foreach from=$cs_type_option key=key item=label}>
							<option value="<{$key}>" <{if $key == $sch_cs_type}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">이슈</span>
						<select name="sch_cs_issue" class="select_type1">
							<option value="">::전체::</option>
							<{foreach from=$cs_issue_option key=cs_issue item=cs_issue_label}>
							<option value="<{$cs_issue}>" <{if $cs_issue == $sch_cs_issue}>selected<{/if}>><{$cs_issue_label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<input type="hidden" name="ord_page_type" value="<{$ord_page_type}>" id="sch_ord_page_type"/>
						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
						<button type="button" class="btn_small" onclick="resetSearch();" style="width:58px; height:27px;">초기화</button>
					</div>
				</div>

				<{if $sch == 'Y'}>
					<script>$("#sch_detail_display").show();</script>
					<script>$("#sch_detail_display_btn_show").hide();</script>
					<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
					<script>$("#sch_detail_display").hide();</script>
					<script>$("#sch_detail_display_btn_show").show();</script>
					<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<{if !$is_freelancer}>
		<div id="cs_new_display_btn_show" style="width: 1645px;">
			<button type="button" style="width:100%; color:black; background-color:#d5d5d5;" onclick="cs_new_display('show');" class="btn_small">▼▼▼ C/S 리스트 추가하기 ▼▼▼</button>
		</div>
		<div id="cs_new_display_btn_hide" style="width: 1645px;">
			<button type="button" style="width:100%; color:black; background-color:#d5d5d5;" onclick="cs_new_display('hide');" class="btn_small">▲▲▲ C/S 리스트 추가 접어두기 ▲▲▲</button>
		</div>
		<form name="new_work_cs_frm" id="new_work_cs_frm" class="new_work_cs_frm" action="work_list_cs.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()" autocomplete="off">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="new_work_cms">
			<div class="table_list_style">
				<table cellpadding="0" cellspacing="0">
					<!-- 커머스 C/S 추가하기 [Start] -->
					<thead>
						<tr>
							<th class="first" style="min-width: 70px; width: 70px;" rowspan="2">주문번호(자동)<br/>접수일(자동)</th>
							<th style="min-width: 100px; width: 100px;" rowspan="2">수령자명</th>
							<th style="min-width: 100px; width: 100px;" rowspan="2">수령자전화</th>
							<th style="min-width: 100px; width: 100px;" rowspan="2">우편번호</th>
							<th style="min-width:250px; max-width: 250px; width:250px;" rowspan="2">수령지</th>
							<th style="min-width:200px; max-width: 200px; width:200px;" rowspan="2">배송메모</th>
							<!--
							<th style="min-width:550px; width:550px;" rowspan="2">상품명/수량/특이사항/상품별 결제금액(매출)</th>
							-->
							<th style="min-width:535px; width:535px;" rowspan="2">상품명/수량/상품별 결제금액(매출)<br/>특이사항</th>
							<th style="min-width:100px; width:100px;" rowspan="2">구매처</th>
							<th style="min-width:200px; width:200px;" rowspan="2">관리자 메모</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="first"> <!-- 주문일시 -->
								<input type="text" class="input_type3" name="new_ord_number" value="<{$new_ord_no}>" style="width: 120px; background-color: #ebebe4; text-align: center;" readonly /><br/>
								<input type="text" class="input_type3 " name="new_ord_date" value="<{$new_ord_date}>" style="width: 120px; background-color: #ebebe4; text-align: center;" readonly />
							</td>
							<td><input type="text" class="input_type3" name="new_recipient" style="text-align: center;" required /></td>
							<td><input type="text" class="input_type3" name="new_recipient_hp" style="text-align: center;" required /></td>
							<td>
								<input type="text" class="input_type3" id="new_zipcode" name="new_zipcode" style="text-align: center;" required /><br/>
								<button type="button" style="padding: 5px 10px; background: #333; color: white;" onclick="openDaumPostCode()">우편번호 찾기</button>
							</td>
							<td>
								<input type="text" class="input_type5" id="new_recipient_addr1" name="new_recipient_addr1" style="width: 220px;" placeholder="수령지 주소" readonly required/><br/>
								<input type="text" class="input_type5" id="new_recipient_addr2" name="new_recipient_addr2" style="width: 220px;" placeholder="수령지 세부주소" required />
							</td>
							<td>
								<textarea name="new_delivery_memo" id="new_delivery_memo" class="textarea_work_message" style="width: 98%; height: 50px;"></textarea>
							</td>
							<td class="add-prd-wrap" style="text-align: left;">
								<div>
									<a href="javascript:void(0)" onclick="open_quick_prd('1')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
									<input type="text" class="input_type5 new_prd_name" id="new_prd_name_1" name="new_prd_name[]" attr-key="1" style="width: 220px" placeholder="상품명" required/>
									<input type="number" class="input_type3" style="width: 40px;" name="new_quantity[]" required />
									<input type="hidden" name="new_prd_no[]" id="new_prd_no_1" class="new_prd_no" value="" required />
									<input type="hidden" id="attr-key" value="1" />
									<span style="color: red;"><span style="font-size: 10px;">상품가 * 수량 =</span> ₩</span>
									<input type="text" name="new_price[]" class="input_type3 font-red new_price" style="text-align: right; margin-left: 0" onfocus="this.value=''" onkeyup="inputNumberFormat(this);" value="0" />
									<button type="button" onclick="addPrdColumn()" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;">+</button>
									<textarea name="new_notice[]" id="new_notice_1" style="height: 50px; width: 99%; box-sizing: border-box; margin-right: 5px;" class="textarea_work_message" placeholder="특이사항"></textarea>
								</div>
							</td>
							<td style="text-align: left;">
								<select name="new_dp_c_no" id="new_dp_c_no"  class="new_dp_c_no select_type1">
									<{foreach from=$dp_cs_list key=dp_c_no item=label}>
									<option value="<{$dp_c_no}>"><{$label}></option>
									<{/foreach}>
								</select>
								<input type="checkbox" name="add_deli_add_deposit" id="add_deli_add_deposit" value="1" style="margin-right: 3px;">
								<label for="add_deli_add_deposit" style="display: inline-block; width: 70px; cursor: pointer;">입금요청서</label>
							</td>
							<td>
								<textarea name="new_manager_memo" id="new_manager_memo" class="textarea_work_message" style="width: 98%; height: 50px;"></textarea>
							</td>
						</tr>
						<tr class="deposit-wrapper">
							<td class="first" colspan="5"></td>
							<td colspan="4">
								<div style="text-align: left; padding: 20px;">
									<div style="border: 1px solid #ccc; padding: 20px;">
										<div style="margin-bottom: 40px;">
											<span style="font-size: 14px;">입금계좌 : </span><b style="font-size: 18px;">기업은행 : 541-049509-04-031</b><br/><br/>
											<span style="font-size: 14px;">예금주 : 와이즈미디어커머스</span>
										</div>
										<div>
											<label for="add_deposit_name" style="display: inline-block; width: 130px; cursor: pointer;">입금자명</label>
											<input type="text" id="add_deposit_name" name="add_deposit_name" class="form-control" placeholder="입금자명" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;" >
											<label for="add_deposit_price" style="display: inline-block;  width: 130px; cursor: pointer;">금액(택배비 포함)</label>
											<input type="text" id="add_deposit_price" name="add_deposit_price" class="form-control" onkeyup="inputNumberFormat(this)" placeholder="금액" style="display: inline-block; font-size: 12px; width: 180px;">
										</div>
										<div style="color: red; font-size: 14px;margin-top: 5px;">
											※ 주의: 입금자명이 동일해야 입금 확인이 가능하다는 안내 꼭 해주세요.
										</div>
										<hr/>
										<div style="margin-bottom: 10px;">
											<input type="radio" name="add_deposit_chk" id="add_deposit_chk_3" value="3" style="cursor: pointer;" checked>
											<label for="add_deposit_chk_3" style="display: inline-block; width: 120px; cursor: pointer;" >해당사항없음</label>
										</div>
										<div style="margin-bottom: 10px;">
											<input type="radio" name="add_deposit_chk" id="add_deposit_chk_1" value="1" style="cursor: pointer;">
											<label for="add_deposit_chk_1" style="display: inline-block; width: 130px; cursor: pointer;">현금영수증</label>
											<div class="add_deposit_chk_content add_deposit_chk_content_1">
												<label for="add_deposit_chk_name" style="display: inline-block; width: 130px; cursor: pointer;">성함</label>
												<input type="text" id="add_deposit_chk_name" name="add_deposit_chk_name" class="form-control" placeholder="성함" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;">
												<label for="add_deposit_chk_num" style="display: inline-block; width: 130px; cursor: pointer;">휴대전화 또는 사업자번호</label>
												<input type="text" id="add_deposit_chk_num" name="add_deposit_chk_num" class="form-control" placeholder="휴대전화 또는 사업자번호" style="display: inline-block; font-size: 12px; width: 180px;">
											</div>
										</div>
										<div>
											<input type="radio" name="add_deposit_chk" id="add_deposit_chk_2" value="2" style="cursor: pointer;">
											<label for="add_deposit_chk_2" style="display: inline-block; width: 120px; cursor: pointer;">세금계산서</label>
											<div class="add_deposit_chk_content add_deposit_chk_content_2">
												<label for="add_deposit_chk_email" style="display: inline-block; width: 130px; cursor: pointer;">이메일</label>
												<input type="text" id="add_deposit_chk_email" name="add_deposit_chk_email" class="form-control" placeholder="이메일" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;">
												<label for="add_deposit_chk_file" style="display: inline-block; width: 130px; cursor: pointer;">사업자등록증</label>
												<input type="file" name="add_deposit_chk_file" id="add_deposit_chk_file" class="form-control" style="font-size: 12px; display: inline-block; width: 250px; padding: 3px;">
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="9"><input type="submit" value="추가하기" style="width: 100%; padding: 10px; background: #333; color: #FFF; font-weight: bold; letter-spacing: 15px;"></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</form>
	<{/if}>

	<div class="table_list_style" style="margin-top: 10px;">
		<table cellpadding="0" cellspacing="0">
			<!-- 커머스 C/S 리스트 [Start] -->
			<thead>
				<tr>
					<td colspan="19">
						<div style="float: left; line-height: 30px;"><{$total_num}>개의 검색 결과가 나타났습니다.</div>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px; float: right;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:58px; width:58px; height: 30px;" rowspan="2">w_no</th>
					<th style="min-width:25px; width:25px;" rowspan="2">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th style="min-width:97px; width:97px;" rowspan="2">
						CS 담당자
						<{if !$is_freelancer}>
						<br/>
						<select name="total_manager" id="total_manager" class="form-control" onchange="setCsManager(this); return false;" style="font-size: 12px;width: 88px;display: inline-block;">
							<option value="">::선택::</option>
							<{foreach from=$cs_manager_list key=key item=label}>
							<option value="<{$key}>"><{$label}></option>
							<{/foreach}>
						</select>
						<{/if}>
					</th>
					<th scope="col" colspan="14" class="order-show" style="height: 30px;"><a href="javascript:void(0)" onclick="toggleTable('order', 'hide')">주문 정보 ◀</a></th>
					<th scope="col" colspan="1" class="order-hide" style="min-width: 140px; width: 140px; height: 30px;"><a href="javascript:void(0)" onclick="toggleTable('order', 'show')">주문 정보 ▶</a></th>
					<th style="min-width:678px; width:678px;" colspan="7">C/S MANAGER</th>
					<th style="min-width:80px; width:80px;" rowspan="2">구매처</th>
				</tr>
				<tr>
					<th class="order-show" style="min-width:46px; width:46px;">주문<br/>일시</th>
					<th class="order-show" style="min-width:140px; width:140px;">주문번호<br/>수령자명<br/>수령자전화</th>
					<th class="order-show" style="min-width:160px; width:160px;">[우편번호]<br/>수령지</th>
					<th class="order-show" style="min-width:64px; width:64px;">배송메모</th>
					<th class="order-show" style="min-width:46px; width:46px;">발송<br/>처리일</th>
					<th class="order-show" style="min-width:90px; width:90px;">택배사<br/>운송장번호</th>
					<th class="order-show" style="min-width:100px; width:100px;">업체명/브랜드명</th>
					<th class="order-show" style="min-width:100px; width:100px;">물류업체(발송지)</th>
					<th class="order-show" style="min-width:160px; width:160px;">커머스 상품명</th>
					<th class="order-show" style="min-width:50px; width:50px;">업무<br>요청자</th>
					<th class="order-show" style="min-width:40px; width:40px;">수량</th>
					<th class="order-show" style="min-width:150px; width:250px;">특이사항</th>
					<th class="order-show" style="min-width:150px; width:150px;">상품별 결제금액<br/>상품별 택배비<br/>쿠폰</th>
					<th class="order-show" style="min-width:90px; width:90px;">진행상태</th>
					<th class="order-hide" scope="col" style="min-width: 140px; width: 140px;">----▶</th>
					<th style="min-width:90px; width:90px;">이슈</th>
					<th style="min-width:90px; width:90px;">환불처리</th>
					<th style="min-width:90px; width:90px;">입금확인</th>
					<th style="min-width:60px; width:60px;">반품/교환<br/>진행</th>
					<th style="min-width:70px; width:70px;">CS 처리 선택</th>
					<th style="min-width:300px; width:300px;">교환(발송) / 회수 / 환불내역</th>
					<th style="min-width:80px; width:80px;">COMMENT</th>
				</tr>
			</thead>
			<tbody>
			<{if $work_cs_list}>
				<{assign var=color_idx value=1}>
				<{foreach from=$work_cs_list item=work_cs}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<{assign var=prd_count value=$work_cs.prd_list|@count}>
						<{assign var=idx value=0}>
						<{foreach from=$work_cs.prd_list item=work_cs_prd}>
							<form name="apply_frm<{$work_cs_prd.w_no}>" id="apply_frm<{$work_cs_prd.w_no}>" class="apply_frm" action="work_list_cs.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
								<input type="hidden" name="w_no" value="<{$work_cs_prd.w_no}>">
								<input type="hidden" name="search_url" value="<{$search_url}>">
								<input type="hidden" name="process">
								<{if $idx != 0}>
									<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
									<td class="first" style="font-size:9px;"><{$work_cs_prd.w_no}></td>
								<{else}>
									<td class="first" style="font-size:9px;"><{$work_cs_prd.w_no}></td>
									<td rowspan="<{$prd_count}>" > <!-- 체크박스 -->
										<input type="checkbox" name="select_check[]" class="select_check" value="<{$work_cs.order_number}>">
									</td>
									<td rowspan="<{$prd_count}>" > <!-- CS 담당자 -->
										<{if !$is_freelancer}>
											<select name="cs_manager" class="form-control" onchange="save_manager('<{$work_cs.order_number}>','mod_cs_manager', this)" style="font-size: 12px; width: 88px; display: inline-block;">
												<option value="">::선택::</option>
												<{foreach from=$cs_manager_list key=key item=label}>
												<option value="<{$key}>" <{if $work_cs.cs_manager == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										<{/if}>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show"> <!-- 주문일시 -->
										<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$work_cs.ord_date}></span>
										<span style="color:green; display: block; text-align: center; font-size:9px;"><{$work_cs.ord_time}></span>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show"> <!-- 주문번호/수령자명/수령자전화 -->
										<div style="text-align:left; font-weight: bold;">
											<{$work_cs.order_number}>
											<a href="work_list_cms.php?sch=Y&sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_order_number=<{$work_cs.order_number}>" target="_blank">
												<img src="./images/icon/new_win_icon.png">
											</a>
										</div>

										<span style="text-align:left; display: block; font-weight: bold; font-size: 11pt;"><{$work_cs.recipient}></span>
										<span style="text-align:left; display: block;">
											<{if $session_team == '00244'}>
												<{$work_cs.recipient_hp}>
												<button type="button" onclick="window.open('work_cms_sms_send.php?ord_no=<{$work_cs.order_number}>', 'CS 고객 발송문자','width=700, height=650, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="background: #333; color: white; padding: 4px 7px;">SMS</button>
												<{if $work_cs.recipient_hp2}>
													<br/>
													<{$work_cs.recipient_hp2}>
												<{/if}>
											<{else}>
												<{$work_cs.recipient_sc_hp}>
											<{/if}>
											<{if permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '102' || $session_s_no == '146' || $session_s_no == '203'}>
											<br/><a href="work_list_cms.php?sch=Y&sch_ord_bundle=1&sch_reg_s_date=<{$return_val}>&sch_reg_e_date=<{$today_val}>&sch_recipient=<{$work_cs.recipient}>&sch_recipient_hp=<{$work_cs.recipient_end_hp}>">[교환발송찾기]</a>
											<{/if}>
										</span>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show"> <!-- 우편번호/수령지 -->
										<span style="text-align:left; display: block; font-size:11px;"><{$work_cs.postcode}></span>
										<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;"><{$work_cs.recipient_addr}></span>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show"> <!-- 배송메모 -->
										<textarea onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '55px')" class="textarea_work_message_readonly" style="width: 55px; height: 60px;" readonly><{$work_cs.delivery_memo}></textarea>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show" style="font-size:9px;"> <!-- 발송처리일 -->
										<{$work_cs.stock_date}>
									</td>
									<td rowspan="<{$prd_count}>" class="order-show"> <!-- 택배사/운송장번호 -->
										<{if $work_cs.delivery_list}>
											<{foreach from=$work_cs.delivery_list key=key item=delivery_data}>
											<div style="margin: 3px 0;">
												<span style="text-align:center; display: block; font-size:9px;"><{$delivery_data.delivery_type}></span>
												<span style="text-align:center;"><{$delivery_data.delivery_no}></span>
												<{if $delivery_data.delivery_type == 'CJ대한통운'}>
													<a target="_blank" href="https://trace.cjlogistics.com/next/tracking.html?wblNo=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{elseif $delivery_data.delivery_type == '한진택배'}>
													<a target="_blank" href="https://www.hanjin.co.kr/kor/CMS/DeliveryMgr/WaybillResult.do?mCode=MN038&schLang=KR&wblnumText2=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{/if}>
											</div>
											<{/foreach}>
										<{/if}>
									</td>
								<{/if}>
									<td class="order-show"> <!-- 업체명/브랜드명 -->
										<{$work_cs_prd.c_name}>
									</td>
									<td class="order-show"> <!-- 물류업체 -->
										<{$work_cs_prd.log_c_name}>
									</td>
									<td class="order-show"> <!-- 커머스 상품명 -->
										<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$work_cs_prd.k_prd1_name}> > <{$work_cs_prd.k_prd2_name}> ></span>
										<span style="text-align:left; display: block;"><{$work_cs_prd.prd_name}></span>
									</td>
									<td class="order-show"> <!-- 업무요청자 -->
										<{$work_cs.task_req_s_name}>
									</td>
									<td class="order-show"> <!-- 수량 -->
										<{$work_cs_prd.quantity}>
									</td>
									<td class="order-show"> <!-- 특이사항 -->
										<textarea name="notice" onfocus="text_area_click(this, '250px')" onfocusout="text_area_click_out(this, '140px')" class="textarea_work_message_readonly" style="width: 140px; height: 60px;" readonly><{$work_cs_prd.notice}></textarea>
									</td>
									<td class="order-show" style="color: blue; text-align:right; font-size: 12px;"> <!-- 결제금액 / 결제택배비 / 결제쿠폰비 -->
										<span style="color: #808080;font-size: 8pt;">
											(상품)
										</span>
										<span style="color: blue;">
											￦<{$work_cs_prd.dp_price}><br/>
										</span>
										<span style="color: #808080;font-size: 8pt;">
											(택배)
										</span>
										<span style="color: blue;">
											￦<{$work_cs_prd.unit_delivery_price}>
										</span>
										<span style="color: #808080;font-size: 8pt;">
											<{if $work_cs_prd.dp_c_no == '3295' || $work_cs_prd.dp_c_no == '4629' || $work_cs_prd.dp_c_no == '5427' || $work_cs_prd.dp_c_no == '5588'}>
											<br/>(쿠폰-상품가반영)
											<{else}>
											<br/>(쿠폰)
											<{/if}>
										</span>
										<span style="color: red;">
											- ￦<{$work_cs_prd.coupon_price}>
										</span>
									</td>
									<td class="order-show"> <!-- 주문 진행상태 -->
										<select name="f_delivery_state" class="form-control" style="font-size: 12px; width: 99%; padding: 0; color: <{$delivery_state_option[$work_cs_prd.delivery_state].color}>; background: <{$delivery_state_option[$work_cs_prd.delivery_state].bg}>" disabled>
											<option value="">::선택::</option>
											<{foreach from=$delivery_state_option key=key item=delivery_state_data}>
												<option value="<{$key}>" <{if $work_cs_prd.delivery_state == $key}>selected<{/if}>><{$delivery_state_data.label}></option>
											<{/foreach}>
										</select>
									</td>
									<{if $idx == 0}>
									<td rowspan="<{$prd_count}>" class="order-hide"> <!-- 주문정보 -->
										----▶
									</td>
									<{/if}>
									<td class="text-left"> <!-- 이슈 -->
										<{foreach from=$cs_issue_option key=cs_issue item=cs_issue_label}>
										<input type="checkbox" name="cs_issue_<{$work_cs_prd.w_no}>" class="cs_issue_input cs_issue_<{$work_cs_prd.w_no}>" id="cs_issue_<{$work_cs_prd.w_no}>_<{$cs_issue}>" attr-wno="<{$work_cs_prd.w_no}>" value="<{$cs_issue}>" <{if in_array($cs_issue, $work_cs_prd.cs_issue)}>checked<{/if}>>
										<label for="cs_issue_<{$work_cs_prd.w_no}>_<{$cs_issue}>" style="cursor: pointer;"><{$cs_issue_label}></label><br/>
										<{/foreach}>
									</td>
									<td> <!-- 환불처리 -->
										<{if $work_cs_prd.refund_list}>
											<{foreach from=$work_cs_prd.refund_list key=w_no item=refund}>
												<div>
													<span style="color: red; font-weight: bold;">-₩<{$refund.price|number_format:0}></span>
													<br>
													<span style="font-weight: bold; <{if $refund.state == '출금완료'}>color: black;<{else}>color: red;<{/if}>"><{$refund.state}></span>
													<a href="/v1/work_list.php?sch=Y&sch_prd=229&sch_w_no=<{$w_no}>" target="_blank" style="cursor: pointer;" ><img src="./images/icon/new_win_icon.png"></a>
												</div>
											<{/foreach}>
										<{/if}>
										<button class="btn_small" onclick="addRefundWork('<{$work_cs_prd.w_no}>', '<{$work_cs_prd.c_no}>');return false;" style="background-color: rgb(217,150,148); width:90px; height:25px; line-height: 20px; border-radius: 4px; font-weight: bold; color: #fff; padding: 3px 10px; margin-bottom: 4px; display: inline-block;">환불요청</button>
									</td>
									<{if $idx == 0}>
										<td rowspan="<{$prd_count}>">
											<{if $work_cs.deposit_list}>
												<{foreach from=$work_cs.deposit_list key=dp_no item=deposit}>
													<div>
														<span style="color: blue; font-weight: bold;">+₩<{$deposit.price|number_format:0}></span>
														<br>
														<span style="font-weight: bold; <{if $deposit.state == '입금완료'}>color: black;<{else}>color: red;<{/if}>"><{$deposit.state}></span>
														<a href="/v1/deposit_list.php?sch=Y&sch_dp_no=<{$dp_no}>" target="_blank" style="cursor: pointer;" ><img src="./images/icon/new_win_icon.png"></a>
													</div>
												<{/foreach}>
											<{/if}>
											<button class="btn_small" onclick="addDepositWork('<{$work_cs.order_number}>');return false;" style="background-color: rgb(79,129,189); width:90px; height:25px; line-height: 20px; border-radius: 4px; font-weight: bold; color: #fff; padding: 3px 10px; margin-bottom: 4px; display: inline-block;">입금확인</button>
										</td>
									<{/if}>
									<td> <!-- 반품/교환 진행 -->
										<{if $work_cs_prd.ord_count > 0}>
											택배(<{$work_cs_prd.ord_count}>)<br/>
										<{/if}>
										<{if $work_cs_prd.trade_count > 0}>
											교환(<{$work_cs_prd.trade_count}>)<br/>
										<{/if}>
										<{if $work_cs_prd.return_count > 0}>
											반품(<{$work_cs_prd.return_count}>)<br/>
										<{/if}>
										<{if $work_cs_prd.not_count > 0}>
											미확인(<{$work_cs_prd.not_count}>)<br/>
										<{/if}>
									</td>
									<td> <!-- CS 처리 선택 -->
										<{foreach from=$cs_type_option key=key item=label}>
											<{if $key < 3}>
											<input type="radio" name="cs_type_<{$work_cs_prd.w_no}>" id="cs_type_<{$work_cs_prd.w_no}>_<{$key}>" attr-wno="<{$work_cs_prd.w_no}>" value="<{$key}>" class="cs_type_<{$work_cs.order_number}>" style='width: 18px;height: 18px;'>
											<label for="cs_type_<{$work_cs_prd.w_no}>_<{$key}>" style="cursor: pointer; font-size: 10pt;"><{$label}></label><br>
											<{/if}>
										<{/foreach}>
									</td>

									<{if $idx == 0}>
										<td rowspan="<{$prd_count}>"> <!-- 교환(발송) / 회수 주문번호 -->
											<{if $work_cs.trade_list}>
												<{foreach from=$work_cs.trade_list item=trade_data}>
													발송 :
													<a href="/v1/work_list_cms.php?sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_order_number=<{$trade_data.ord_no}>" target="_blank" style="cursor: pointer; <{if $delivery_data.delivery_state == '5'}>text-decoration:line-through; text-decoration-color: red;<{/if}>" ><{$trade_data.ord_no}> <{$trade_data.delivery_state}></a>
													<br/>
												<{/foreach}>
											<{/if}>

											<{if $work_cs.return_list}>
												<{foreach from=$work_cs.return_list item=return_data}>
													회수 :
													<a href="/v1/work_cms_return_list.php?sch_order_number=<{$return_data.ord_no}>" target="_blank" style="cursor: pointer; <{if $ord_data.return_state == '7'}>text-decoration:line-through; text-decoration-color: red;<{/if}>" ><{$return_data.ord_no}> <{$return_data.return_state}></a>
													<br/>
												<{/foreach}>
											<{/if}>
											<input type="hidden" name="first_w_no" class="first_w_no_<{$work_cs.order_number}>" value="<{$work_cs.w_no}>">
											<{if $work_cs.log_c_no == '2809' || $work_cs.log_c_no == '5484'}>
												<button class="btn_small" onclick="win_cs_return('<{$work_cs.order_number}>', 'is_return');return false;" style="width:140px; height:25px; line-height: 20px; border-radius: 4px; background-color: #565656; color: #fff; padding: 3px 10px; margin-bottom: 4px;">교환/반품 처리</button>
											<{/if}>
											<button class="btn_small" onclick="win_cs_return('<{$work_cs.order_number}>', 'is_delivery');return false;" style="width:140px; height:25px; line-height: 20px; border-radius: 4px; background-color: #565656; color: #fff; padding: 3px 10px; margin-bottom: 4px;">(발송)택배 리스트 추가</button>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- COMMENT -->
											<button class="btn_small" id="comment-open-btn-<{$work_cs.order_number}>" onclick="iframe_cs_comment('<{$work_cs.order_number}>', 'open');return false;" style="width:70px; height:25px; line-height: 20px; display:none;border-radius: 4px; background-color: #565656; color: #fff; padding: 3px 10px; margin-bottom: 4px;">
												열기<{if $work_cs.comment_count > 0}><span style="color: yellow; "> (<{$work_cs.comment_count}>)</span><{/if}>
											</button>
											<button class="btn_small" id="comment-close-btn-<{$work_cs.order_number}>" onclick="iframe_cs_comment('<{$work_cs.order_number}>', 'close');return false;" style="width:70px; height:25px; line-height: 20px; display:inline-block;border-radius: 4px; background-color: #565656; color: #fff; padding: 3px 10px; margin-bottom: 4px;">
												닫기
											</button>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 구매처 -->
											<{$work_cs.dp_c_name}>
										</td>
									<{/if}>
								<{if $idx != 0}>
								</tr>
								<{/if}>
							</form>
							<{assign var=idx value=$idx+1}>
						<{/foreach}>
					</tr>
					<tr class="iframe-comment iframe-comment-<{$work_cs.order_number}>" >
						<td colspan="20"><iframe src="work_list_cs_comment_iframe.php?ord_no=<{$work_cs.order_number}>" style="width: 100%; height: 350px;"></iframe></td>
					</tr>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="29" class="first text-left" style="height: 30px; padding-left: 15px;">
						<{if $search_url == ""}>
							처음 검색조건 입력 후 이용해주세요.
						<{else}>
							데이터가 없습니다.
						<{/if}>
					</td>
				</tr>
			<{/if}>
				<tr>
					<td colspan="29" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
			<!-- 커머스 C/S 리스트 [End] -->
		</table>
		<{if !$is_freelancer}>
			<div class="left_wrap"><button class="btn_style1" onclick="location.href='excel_work_list_cs.php?<{$search_url}>';"><span>엑셀 파일로 저장<br/>(최대 1000건)</span></button></div>
		<{/if}>
	</div>
	<!-- //table_list_style -->

</div>

<div class="modal" id="refund-modal">
	<div class="modal-content">
		<form name="new_refund_frm" id="new_refund_frm" class="new_refund_frm form-inline" action="work_list_cs.php" method="post" autocomplete="off">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="add_refund_work">
			<input type="hidden" name="new_w_no" value="">
			<input type="hidden" name="new_c_no" value="">
			<div style="width: 380px; float: left; padding: 10px; box-sizing: border-box;">
				<label for="new_bankname" style="display:inline-block;">은행</label>
				<input type="text" id='new_bankname' name='new_bankname' class='form-control' placeholder='은행' style="width: 100px;margin-right: 20px;" required>
				<label for="new_accnum">계좌번호</label>
				<input type="text" id='new_accnum' name='new_accnum' class='form-control' placeholder='계좌번호' style="width: 120px;" required>
				<br/>
				<label for="new_accname">예금주</label>
				<input type="text" id='new_accname' name='new_accname' class='form-control' placeholder='예금주' style="width: 100px;margin-right: 20px;" required>
				<label for="new_price" style="display: inline-block;">금액</label>
				<input type="text" id='new_price' name='new_price' class='form-control' onkeyup="inputNumberFormat(this)" placeholder='금액' style="width: 120px;" required>
				<br/>
				<label for="new_reason" style="display:inline-block;">사유</label>
				<input type="text" id='new_reason' name='new_reason' class='form-control' placeholder='사유' style="width: 295px;">
			</div>
			<div style="overflow: hidden; float: left; display: inline-block; width: 110px;">
				<button type='submit' class='btn btn-dark font-weight-bold' style='background-color: rgb(217,150,148); height: 104px; color: white; font-weight: bold; width: 98%; border: 0; border-radius: 5px;'>환불요청</button>
			</div>
		</form>
	</div>
</div>

<div class="modal" id="deposit-modal">
	<div class="modal-content">
		<form name="new_deposit_frm" id="new_deposit_frm" class="new_deposit_frm form-inline" action="work_list_cs.php" method="post" autocomplete="off">
			<input type="hidden" name="search_url" value="<{$search_url}>">
			<input type="hidden" name="process" value="add_deposit_work">
			<input type="hidden" name="new_ord_no" value="">
			<div style="text-align: left; padding: 20px 0;">
				<div style="border: 1px solid #ccc; padding: 20px;">
					<div style="margin-bottom: 40px;">
						<span style="font-size: 14px;">입금계좌 : </span><b style="font-size: 18px;">기업은행 : 541-049509-04-031</b><br/><br/>
						<span style="font-size: 14px;">예금주 : 와이즈미디어커머스</span>
					</div>
					<div style="position: relative;">
						<label for="new_deposit_name" style="display: inline-block; width: 130px; cursor: pointer;">입금자명</label>
						<input type="text" id="new_deposit_name" name="new_deposit_name" class="form-control" placeholder="입금자명" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;" required>
						<label for="new_deposit_price" style="display: inline-block;  width: 130px; cursor: pointer;">금액(택배비 포함)</label>
						<input type="text" id="new_deposit_price" name="new_deposit_price" class="form-control" onkeyup="inputNumberFormat(this)" placeholder="금액" style="display: inline-block; font-size: 12px; width: 180px;" required>
						<button type="submit" class="btn btn-dark font-weight-bold" style="position: absolute;background-color: rgb(79,129,189);height: 70px;color: white;font-weight: bold;width: 90px;border: 0;border-radius: 5px;top: 0;right: 10px;">입금요청</button>
					</div>
					<div style="color: red; font-size: 14px;margin-top: 5px;">
						※ 주의: 입금자명이 동일해야 입금 확인이 가능하다는 안내 꼭 해주세요.
					</div>
					<hr/>
					<div style="margin-bottom: 10px;">
						<input type="radio" name="new_deposit_chk" id="new_deposit_chk_3" value="3" style="cursor: pointer;" checked>
						<label for="new_deposit_chk_3" style="display: inline-block; width: 120px; cursor: pointer;" >해당사항없음</label>
					</div>
					<div style="margin-bottom: 10px;">
						<input type="radio" name="new_deposit_chk" id="new_deposit_chk_1" value="1" style="cursor: pointer;">
						<label for="new_deposit_chk_1" style="display: inline-block; width: 130px; cursor: pointer;">현금영수증</label>
						<div class="new_deposit_chk_content new_deposit_chk_content_1">
							<label for="new_deposit_chk_name" style="display: inline-block; width: 130px; cursor: pointer;">성함</label>
							<input type="text" id="new_deposit_chk_name" name="new_deposit_chk_name" class="form-control" placeholder="성함" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;">
							<label for="new_deposit_chk_num" style="display: inline-block; width: 130px; cursor: pointer;">휴대전화 또는 사업자번호</label>
							<input type="text" id="new_deposit_chk_num" name="new_deposit_chk_num" class="form-control" placeholder="휴대전화 또는 사업자번호" style="display: inline-block; font-size: 12px; width: 180px;">
						</div>
					</div>
					<div>
						<input type="radio" name="new_deposit_chk" id="new_deposit_chk_2" value="2" style="cursor: pointer;">
						<label for="new_deposit_chk_2" style="display: inline-block; width: 120px; cursor: pointer;">세금계산서</label>
						<div class="new_deposit_chk_content new_deposit_chk_content_2">
							<label for="new_deposit_chk_email" style="display: inline-block; width: 130px; cursor: pointer;">이메일</label>
							<input type="text" id="new_deposit_chk_email" name="new_deposit_chk_email" class="form-control" placeholder="이메일" style="display: inline-block; font-size: 12px; width: 180px;margin-right: 20px;">
							<label for="new_deposit_chk_file" style="display: inline-block; width: 130px; cursor: pointer;">사업자등록증</label>
							<input type="file" name="new_deposit_chk_file" id="new_deposit_chk_file" class="form-control" style="font-size: 12px; display: inline-block; width: 250px; padding: 3px; height: 38px;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- admin_content -->

<form name="chk_form" action="work_list_cs.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_ord_list" class="chk_ord_list">
	<input type="hidden" name="chk_manager" class="chk_manager">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

        // 업체명 자동완성 검색 결과 값 반영
        $(".new_prd_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_auto.api.php",
                    dataType: "json",
                    data: {
                        prd_name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                prd_no : item.prd_no,
                                label  : item.prd_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                var key = $(this).attr('attr-key');
                $("#new_prd_no_"+key).val(ui.item.prd_no);
            },
            focus: function( event, ui ) {
                var key = $(this).attr('attr-key');
                $("#new_prd_no_"+key).val(ui.item.prd_no);
                return false;
            },
            minLength: 1
        });

        $(".cs_issue_input").change(function(){
        	var w_no    = $(this).attr('attr-wno');
			var chk_val = '';

			$(".cs_issue_"+w_no).each(function(idx, item){
				if($(item).is(":checked")){
					chk_val += ($(item).val() + ",");
				}
			});

			if(chk_val != ""){
				chk_val = chk_val.slice(0, -1);
			}

        	save_issue(w_no, 'mod_cs_issue', chk_val, $(this));
		});

		$(".cs_status_input").change(function(){
			var ord_no    	= $(this).attr('attr-ord');
			var chk_val 	= '';

			if($(this).is(":checked")){
				alert("진행 종료 후 꼭 체크 해지 바랍니다.");
			}

			$(".cs_status_"+ord_no).each(function(idx, item){
				if($(item).is(":checked")){
					chk_val += ($(item).val() + ",");
				}
			});

			if(chk_val != ""){
				chk_val = chk_val.slice(0, -1);
			}

			save_status(ord_no, 'mod_cs_status', chk_val, $(this));
		});

		var $chkboxes = $('.select_check');
		var lastChecked = null;

		$chkboxes.click(function(e) {
			if(!lastChecked) {
				lastChecked = this;
				return;
			}

			if(e.shiftKey) {
				var start = $chkboxes.index(this);
				var end = $chkboxes.index(lastChecked);

				$chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

			}

			lastChecked = this;
		});

		$(".select_check").change(function(){
			checkOrdSelect();
		});

		$("#new_dp_c_no").change(function(){
			var new_dp_c_no = $(this).val();

			if(new_dp_c_no == '2005'){
				if(!$("#add_deli_add_deposit").is(":checked")){
					$("#add_deli_add_deposit").click();
				}
			}else{
				if($("#add_deli_add_deposit").is(":checked")){
					$("#add_deli_add_deposit").click();
				}
			}
		});

		$("input[name='add_deposit_chk']").change(function(){
			if($(this).val() == '1'){
				$(".add_deposit_chk_content").hide()
				$(".add_deposit_chk_content_"+$(this).val()).show();
			}else if($(this).val() == '2'){
				$(".add_deposit_chk_content").hide()
				$(".add_deposit_chk_content_"+$(this).val()).show();
			}else{
				$(".add_deposit_chk_content").hide()
			}
		});

		$("#add_deli_add_deposit").change(function(){
			if($(this).is(":checked")){
				$(".deposit-wrapper").show();
			}else{
				$(".deposit-wrapper").hide();
			}
		});

		$("input[name='new_deposit_chk']").change(function(){
			if($(this).val() == '1'){
				$(".new_deposit_chk_content").hide()
				$(".new_deposit_chk_content_"+$(this).val()).show();
			}else if($(this).val() == '2'){
				$(".new_deposit_chk_content").hide()
				$(".new_deposit_chk_content_"+$(this).val()).show();
			}else{
				$(".new_deposit_chk_content").hide()
			}
		});
    });

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
        f.style.width = width;
        f.style.backgroundColor="yellow";
        f.style.height = (f.scrollHeight)+"px"; // 자동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width){
        f.style.width = width;
        f.style.backgroundColor="";
        f.style.height = "60px";

		if(f.name == 'new_notice[]'){
			f.style.height = "30px";
		}
    }

    function openDaumPostCode(){
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('new_zipcode').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('new_recipient_addr1').value = fullAddr;
                document.getElementById('new_recipient_addr2').focus();
            }
        }).open();
    }

    function addPrdColumn()
	{
	    var attrKey = Number($("#attr-key").val()) + 1;
		var addHtml = "<div class='prd-wrapper prd-wrap-"+ attrKey +"'>"
					+ "<a href='javascript:void(0)' onclick=\"open_quick_prd("+attrKey+")\" style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
					+ "<input type='text' class='input_type5 new_prd_name' id='new_prd_name_"+ attrKey +"' name='new_prd_name[]' attr-key='"+ attrKey +"' style='width: 220px;' placeholder='상품명' required/>"
					+ "<input type='number' class='input_type3' style='width: 40px; margin: 0 5px;' name='new_quantity[]' required />"
					+ "<input type='hidden' name='new_prd_no[]' id='new_prd_no_"+ attrKey +"' class='new_prd_no' value='' required/>"
					+ "<span style='color: red;'><span style='font-size: 10px;''>상품가 * 수량 =</span> ₩</span>"
					+ "<input type='text' name='new_price[]' class='font-red input_type3 new_price' style='text-align: right; margin-left: 2px; margin-right: 5px;' onfocus=\"this.value=''\" onkeyup='inputNumberFormat(this);' value='0' required />"
					+ "<button type='button' onclick='delPrdColumn("+ attrKey +")' style='padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button>"
					+ "<textarea name='new_notice[]' id='new_notice_\"+ attrKey +\"' style='height: 50px; box-sizing: border-box;margin-right: 9px; width: 99%;' class=\"textarea_work_message\" placeholder='특이사항'></textarea>"
					+ "</div>";

        $("#attr-key").val(attrKey);
		$('.add-prd-wrap').append(addHtml);

		addAutoLoad();
	}

	function delPrdColumn(key)
	{
        $('.prd-wrap-'+key).remove();
	}

	function addAutoLoad()
	{
        $(".new_prd_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_auto.api.php",
                    dataType: "json",
                    data: {
                        prd_name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                prd_no : item.prd_no,
                                label  : item.prd_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                var key = $(this).attr('attr-key');
                $("#new_prd_no_"+key).val(ui.item.prd_no);
            },
            focus: function( event, ui ) {
                var key = $(this).attr('attr-key');
                $("#new_prd_no_"+key).val(ui.item.prd_no);
                return false;
            },
            minLength: 1
        });
	}

	function save_issue(w_no, proc, value, obj)
	{
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("work_list_cs.php", {w_no: w_no, process: proc, val: value}, function (result) {
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}

	function save_manager(ord_no, proc, obj)
	{
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("work_list_cs.php", {ord_no: ord_no, process: proc, val: $(obj).val()}, function (result) {
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}

	function save_status(ord_no, proc, value, obj)
	{
		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		$.post("work_list_cs.php", {ord_no: ord_no, process: proc, val: value}, function (result) {
			d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
		});
	}

    function sch_detail_display(type){
        var f = document.forms['search_form'];

        if(type=='show'){
            f.sch.value = "Y";
            $("#sch_detail_display").show();
            $("#sch_detail_display_btn_show").hide();
            $("#sch_detail_display_btn_hide").show();
        }else if(type=='hide'){
            f.sch.value = "N";
            $("#sch_detail_display").hide();
            $("#sch_detail_display_btn_show").show();
            $("#sch_detail_display_btn_hide").hide();
        }
    }

    function normal_search() {
        var f = document.forms['search_form'];
        $("#sch_ord_page_type").val($("#ord_page_type").val());
        f.submit();
    }

    function iframe_cs_comment(order_number, type)
	{
		if(type == 'open')
		{
			$("#comment-close-btn-"+order_number).show();
			$("#comment-open-btn-"+order_number).hide();

			var html = "<td colspan='20'><iframe src='work_list_cs_comment_iframe.php?ord_no=" + order_number + "' style='width: 100%; height: 350px;'>" + "</iframe></td>";

			$(".iframe-comment-" + order_number).show();
			$(".iframe-comment-" + order_number).append(html);

		}
		else if(type == 'close')
		{
			$(".iframe-comment-" + order_number).hide();
			$(".iframe-comment-" + order_number).html("");
			$("#comment-close-btn-"+order_number).hide();
			$("#comment-open-btn-"+order_number).show();
		}
	}

	function win_cs_return(order_number, type)
	{
		var check_class = ".cs_type_"+order_number;
		var chk_w_no 	= "";
		var chk_type 	= "";

		if(type == 'is_return')
		{
			$(check_class).each(function(idx, item){
				if($(item).is(":checked")){
					chk_type += ($(item).val() + ",");
					chk_w_no += ($(item).attr('attr-wno') + ",");
				}
			});

			if(chk_w_no != ""){
				chk_w_no = chk_w_no.slice(0, -1);
			}

			if(chk_type != ""){
				chk_type = chk_type.slice(0, -1);
			}

			if(chk_w_no == '' || chk_type == ''){
				alert("교환/반품 선택 후 이용해주세요.");
				return false;
			}
		}
		else if(type == 'is_delivery')
		{
			chk_w_no = $(".first_w_no_"+order_number).val();
			chk_type = '1';
		}


		var url = "work_cms_return_window.php?w_no=" + chk_w_no +"&w_type=" + chk_type + "&type=" + type;
		window.open(url, " 보기", "left=20,top=20,width=1700,height=750,scrollbars=yes");
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input) {
            var type = $(input).attr('type');

            if (type == 'checkbox') {
                if ($(input).is(":checked")) {
                    $(input).click();
                }
            } else if(type == "hidden" || type == "radio"){

			}else {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

    function orddateVal(type)
    {
        var todate   = $("#today_val").val();
        var typedate = $("#"+type+"_val").val();

        $(".ord_date_btn").removeClass('ord_active');
        $(".ord_"+type+"_btn").addClass('ord_active');

        $("#sch_ord_s_date").val(typedate);
        $("#sch_ord_e_date").val(todate);

        $("#sch_ord_date_type").val(type);
        $("#work_cms_base").click();
    }

    function cs_new_display(type)
	{
        var f = document.forms['search_form'];

        if(type=='show'){
            $("#new_work_cs_frm").show();
            $("#cs_new_display_btn_show").hide();
            $("#cs_new_display_btn_hide").show();
        }else if(type=='hide'){
            $("#new_work_cs_frm").hide();
            $("#cs_new_display_btn_show").show();
            $("#cs_new_display_btn_hide").hide();
        }
    }

    function addRefundWork(w_no, c_no)
	{
		document.new_refund_frm.new_w_no.value=w_no;
		document.new_refund_frm.new_c_no.value=c_no;
        $("#refund-modal").modal({
            fadeDuration: 250
        });
	}

	function addDepositWork(ord_no)
	{
		document.new_deposit_frm.new_ord_no.value=ord_no;
		$("#deposit-modal").modal({
			fadeDuration: 250
		});
	}

	function toggleTable(type, state)
	{
		if(state == 'show'){
			$("."+type+"-show").show();
			$("."+type+"-hide").hide();
		}else{
			$("."+type+"-show").hide();
			$("."+type+"-hide").show();
		}
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;

		checkOrdSelect();
	}

	function checkOrdSelect()
	{
		var chk_ord_list = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_ord_list += ($(item).val() + ",");
			}
		});

		if(chk_ord_list != ""){
			chk_ord_list = chk_ord_list.slice(0, -1);
		}

		$(".chk_ord_list").val(chk_ord_list);
	}

	function setCsManager()
	{
		if($(".chk_ord_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#total_manager").val() == ''){
			alert("담당자 선택 후 이용해주세요");
			return false;
		}

		if(confirm("CS 담당자를 변경하시겠습니까?"))
		{
			document.chk_form.process.value = 'change_total_manager';
			document.chk_form.chk_manager.value = $("#total_manager").val();
			document.chk_form.submit();
		}

		return false;
	}

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	function calculatePrice()
	{
		var subtotal_price 	= 0;
		var total_price 	= 0;
		var delivery_price 	= $("#new_delivery_price").val();

		if($("#new_delivery_price").val() != ''){
			delivery_price = uncomma($("#new_delivery_price").val());
		}

		$(".new_price").each(function(idx, item){
			if($(item).val()){
				subtotal_price += uncomma($(item).val());
			}
		});

		total_price = subtotal_price + delivery_price;

		$("#new_subtotal").text(comma(subtotal_price));
		$("#new_total").text(comma(total_price));
	}

	function open_quick_prd(idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#new_prd_name_"+idx))
		{
			if(!checkAddProduct(prd_no)){
				alert("이미 추가된 상품입니다.");
				return false;
			}

			$("#new_prd_name_"+idx).val(prd_name);
			$("#new_prd_no_"+idx).val(prd_no);
			$("#new_quantity_"+idx).val(1);
		}
	}

	function checkAddProduct(prd_no)
	{
		var result = true;

		$(".new_prd_no").each(function(idx, item){
			var chk_prd_no = $(item).val();
			if(chk_prd_no == prd_no){
				result = false;
			}
		});

		return result;
	}
</script>

</body>
</html>