<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{min-height: 500px;}
	.admin_content{width: 1580px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}

	.track-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 50px;}
	.track-chart-wrapper{margin-top: 30px;}
	#track-total-chart, #track-delivery-chart, #track-etc-chart{margin: 10px auto; width: 1560px; height: 600px;}

	.track-table-wrapper{width: 1560px; margin: 10px auto;}
	.track-table-wrapper .table{width: auto;}
	.track-table-wrapper .table th{font-size: 12px;}
	.track-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="track-total-label" style="margin-top: 20px;">기간별 총 물류비</h2>
	<div class="track-chart-wrapper">
		<div id="track-total-chart"></div>

		<div class="track-table-wrapper">
			<table id="track-total-table" class="table table-bordered">
				<thead class="thead-dark text-center">
				<tr>
					<{foreach from=$track_date_name_list item=date_label}>
						<th class="date-th" style="width: 200px; min-width: 200px;"><{$date_label}></th>
					<{/foreach}>
				</tr>
				</thead>
				<tbody>
					<{if $track_total_list}>
						<tr>
							<{foreach from=$track_date_name_list key=key_date item=key_label}>
								<td class="text-right" style="width: 200px; padding-right: 10px;">
									￦ <{$track_total_list[$key_date]|number_format:0}>
								</td>
							<{/foreach}>
						</tr>
					<{else}>
						<tr>
							<td class="first text-center" colspan="<{$track_date_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('track-total-table');" />
		</div>
	</div>

	<h2 class="track-total-label">기간별 배송비</h2>
	<div class="track-chart-wrapper">
		<div id="track-delivery-chart"></div>

		<div class="track-table-wrapper">
			<table id="track-delivery-table" class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="date-th" style="width: 200px; min-width: 200px;">항목</th>
						<{foreach from=$track_date_name_list item=date_label}>
							<th class="date-th" style="width: 200px; min-width: 200px;"><{$date_label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<{if $track_delivery_list}>
						<tr>
							<th class="first text-left" style="background: #343a40; color: white;">배송비</th>
							<{foreach from=$track_date_name_list key=key_date item=key_label}>
								<td class="text-right" style="width: 200px; padding-right: 10px;">
									￦ <{$track_delivery_list[$key_date]|number_format:0}>
								</td>
							<{/foreach}>
						</tr>
					<{else}>
						<tr>
							<td class="first text-center" colspan="<{$track_delivery_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('track-delivery-table');" />
		</div>
	</div>

	<h2 class="track-total-label">기간별 배송비외 항목별 물류비</h2>
	<div class="track-chart-wrapper">
		<div id="track-etc-chart"></div>

		<div class="track-table-wrapper">
			<table id="track-etc-table" class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="date-th" style="width: 200px; min-width: 200px;">항목</th>
						<{foreach from=$track_date_name_list item=date_label}>
						<th class="date-th" style="width: 200px; min-width: 200px;"><{$date_label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<{if $track_etc_list}>
						<{foreach $track_etc_name_list key=prd_no item=etc_label}>
							<tr>
								<th class="first text-left" style="background: #343a40; color: white;"><{$etc_label}></th>
								<{foreach from=$track_date_name_list key=key_date item=key_label}>
								<td class="text-right" style="width: 200px; padding-right: 10px;">
									￦ <{$track_etc_list[$prd_no][$key_date]|number_format:0}>
								</td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{else}>
						<tr>
							<td class="first text-center" colspan="<{$track_delivery_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
			<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('track-delivery-table');" />
		</div>
	</div>
</div>

<script type="text/javascript">

	var trackTotalChart = echarts.init(document.getElementById('track-total-chart'),null, {renderer : 'canvas'});
	drawTotalChart();

	var trackDeliveryChart = echarts.init(document.getElementById('track-delivery-chart'),null, {renderer : 'canvas'});
	drawDeliveryChart();

	var trackEtcChart = echarts.init(document.getElementById('track-etc-chart'),null, {renderer : 'canvas'});
	drawEtcChart();

	function drawTotalChart()
	{
		var fullData 	= <{$track_total_chart_list}>;
		var titleData = <{$track_date_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push(item);
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			trackTotalChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: [
					{
						data: pushData,
						type : 'line'
					}
				]
			});
		}
	}

	function drawDeliveryChart()
	{
		var fullData 	= <{$track_delivery_chart_list}>;
		var titleData = <{$track_date_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push(item);
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			trackDeliveryChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: [
					{
						data: pushData,
						type : 'line'
					}
				]
			});
		}
	}

	function drawEtcChart()
	{
		var fullData 	= <{$track_etc_chart_list}>;
		var xTitleData 	= <{$track_date_chart_name_list}>;
		var yTitleData 	= <{$track_etc_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 		= [];
			var xNameData 		= [];
			var legendNameData 	= [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data']
				});
			});

			$.each(xTitleData, function(idx, item){
				xNameData.push(item);
			});

			$.each(yTitleData, function(idx, item){
				legendNameData.push(item);
			});

			trackEtcChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				legend:{
					data: legendNameData,
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: xNameData
				},
				yAxis:
						{
							type: 'value',
							axisLabel: {
								formatter: '{value}'
							}
						},
				series: pushData
			});
		}
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}
</script>
</body>
</html>
