<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form label{margin: 0 10px 0 0;}
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;}
	.table_list_style table{width: 800px; margin-top: 5px;table-layout: fixed;}
	.table_list_style table.table-bordered{border: 2px solid black;}
	.table_list_style table.table-bordered td,.table_list_style table.table-bordered th{border: 1px solid black;}
	.table_list_style table tbody th{vertical-align: middle; height: 45px; font-size: 12px;letter-spacing: 5px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;text-align: left;}
	.table_list_style table tbody th.first{width: 200px; text-align: center;}
	.table_list_style table tbody td input.form-control{font-size: 14px; display: inline-block;}
	.table_list_style table tbody td select.form-control{font-size: 14px; display: inline-block;}
	select option:disabled {background: #e9ecef;}
</style>

<div class="admin_content" >

	<form name="work_cert_frm" id="work_cert_frm" action="work_certificate_view.php" method="post" autocomplete="off">
		<input type="hidden" name="wc_no" value="<{$wc_no}>">
		<input type="hidden" name="w_no" value="<{$w_no}>">
		<input type="hidden" name="process" value="">
		<input type="hidden" name="search_url" value="<{$search_url}>">

		<div class="table_list_style">
			<span style="color: #999; font-size: 14px;">문서번호 : <{$doc_no}></span>
			<table class="table table-bordered">
				<colgroup>
					<col width="200px;">
					<col width="600px;">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="2" style="padding: 100px 0; text-align: center;">
							<select name="doc_type" id="doc_type" class="form-control doc_type" style="width: 300px; margin: 0 auto; font-size: 20px; font-weight: bold; text-align: center;" required>
								<option value="">:: 선택 ::</option>
								<{foreach from=$doc_type_option key=key item=label}>
									<option value="<{$key}>" <{if $key == $doc_type}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
					</tr>
					<tr>
						<th class="first">성 명</th>
						<td>
							<input type="text" name="req_name" id="req_name" class="form-control" value="<{$req_name}>" style="width: 200px;" <{if !$super_editable && !$name_editable}>readonly<{/if}> required>
							<input type="hidden" name="req_s_no" id="req_s_no" value="<{$req_s_no}>">
						</td>
					</tr>
					<tr>
						<th class="first">주민등록번호</th>
						<td style="text-align: left;">
							<input type="text" name="cert_no_1" id="cert_no_1" class="form-control" value="<{$cert_no_1}>" style="width: 150px; display: inline-block;float: left;" <{if !$super_editable}>readonly<{/if}> maxlength="6" required>
							<span style="font-size: 20px; display: inline-block; height: 35px; box-sizing: border-box; padding-top: 3px; float: left; margin: 0 5px;">-</span>
							<input type="text" name="cert_no_2_1" id="cert_no_2_1" class="form-control" value="<{$cert_no_2_1}>" style="width: 20px; padding: 0.375rem 2px; text-align: center;float: left;" maxlength="1" <{if !$super_editable}>readonly<{/if}> required>
							<input type="<{if $cert_hide == '1'}>password<{else}>text<{/if}>" name="cert_no_2_2" id="cert_no_2_2" class="form-control" value="<{$cert_no_2_2}>" style="width: 130px; float: left;" maxlength="6" <{if !$super_editable}>readonly<{/if}> required>
							<input type="checkbox" name="cert_hide" id="cert_hide" class="form-checkbox" value="1" style="float: left; margin: 20px 5px 0;" <{if $cert_hide == '1'}>checked<{/if}> <{if $name_editable}>disabled<{/if}>>
							<label for="cert_hide" style="cursor: pointer; float: left; margin: 19px 0 0;">뒷자리 숨김</label>
						</td>
					</tr>
					<tr>
						<th class="first">현 주 소</th>
						<td>
							<input type="text" name="req_addr" id="req_addr" class="form-control" value="<{$req_addr}>" style="width: 590px;" required>
						</td>
					</tr>
					<tr>
						<th class="first">소 속</th>
						<td>
							<input type="text" name="req_team_name" id="req_team_name" class="form-control" value="<{$req_team_name}>" style="width: 590px;" <{if $super_editable && $work_state != '6'}><{else}>readonly<{/if}> required>
							<input type="hidden" name="req_team" id="req_team" class="form-control" value="<{$req_team}>">
						</td>
					</tr>
					<tr>
						<th class="first">직 위</th>
						<td>
							<input type="text" name="req_position" id="req_position" class="form-control" value="<{$req_position}>" style="width: 150px;" <{if ($super_editable || $name_editable) && $work_state != '6'}><{else}>readonly<{/if}> required>
						</td>
					</tr>
					<tr>
						<th class="first">근무기간</th>
						<td>
							<input type="text" name="work_s_date" id="work_s_date" class="form-control date-picker" value="<{$work_s_date}>" style="width: 120px;" <{if !$super_editable}>readonly<{/if}> required>
							<span>~</span>
							<input type="text" name="work_e_date" id="work_e_date" class="form-control date-picker" value="<{$work_e_date}>" style="width: 120px;" required>
							<span>현재</span>
						</td>
					</tr>
					<tr>
						<th class="first">용 도</th>
						<td>
							<input type="text" name="purpose" id="purpose" class="form-control" value="<{$purpose}>" style="width:590px;">
						</td>
					</tr>
					<tr class="work_position_wrapper" style="<{if $doc_type !='2'}>display: none;<{/if}>">
						<th class="first">담당업무</th>
						<td>
							<input type="text" name="work_position" id="work_position" class="form-control" value="<{$work_position}>" style="width:590px;">
						</td>
					</tr>
					<tr>
						<td colspan="2" style="height: 300px;vertical-align: top;padding-top: 20px; text-align: center; border-bottom: 0;">
							<b style="font-size: 18px;">위와 같이 증명합니다.</b>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center; border-top: 0;">
							<div class="req_date_wrapper" style="display: inline-block;">
								<input type="text" name="req_date" class="form-control date-picker" value="<{$req_date}>" style="width: 120px;" required>
							</div>
							<br/>
							<br/>
							<br/>
							<div class="company_wrapper" style="display: inline-block; position: relative;">
								<input type="text" name="company_addr" id="company_addr" class="form-control" value="<{$company_addr}>" style="width: 300px; text-align: center;" required readonly><br/>
								<input type="text" name="company_ceo" id="company_ceo" class="form-control" value="<{$company_ceo}>" style="width: 150px; text-align: center;" required readonly><br/>
								<input type="text" name="company_name" id="company_name" class="form-control" value="<{$company_name}>" style="width: 200px; text-align: center;" required readonly>
								<{if $super_editable}>
									<select name="company_seal" id="company_seal" class="form-control" required>
										<option value="">::도장 선택::</option>
										<{foreach from=$company_seal_option key=key item=seal_data}>
											<option value="<{$key}>" <{if $company_seal == $key}>selected<{/if}>><{$seal_data.seal_name}></option>
										<{/foreach}>
									</select>
								<{/if}>
							</div>
							<br/>
							<br/>
							<br/>
						</td>
					</tr>
					<tr>
						<th class="first">진행상태</th>
						<td>
							<select name="work_state" class="form-control" id="work_state" style="width: 200px;">
								<option value="">:: 선택 ::</option>
								<{foreach from=$work_state_option key=key item=label}>
									<{if $super_editable}>
										<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $key == $work_state}>selected<{/if}>><{$label}></option>
									<{else}>
										<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $key == $work_state}>selected<{/if}> <{if $key != 3}>disabled<{/if}>><{$label}></option>
									<{/if}>
								<{/foreach}>
							</select>
							<button type="button" class="btn btn-dark" onclick="checkWorkCertificate()" style="padding: 5px 25px;" <{if $work_state == '6'}>disabled<{/if}>>저장</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<{if $super_editable}>
		<span></span>
		<button type="button" class="btn btn-dark" onclick="runWorkCertificate()" style="margin-left: 720px; padding: 5px 25px;" <{if $work_state == '6'}>disabled<{/if}>>발행</button>
		<{/if}>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".doc_type").change(function(){
			if($(this).val() == '2'){
				$(".work_position_wrapper").show();
			}else{
				$(".work_position_wrapper").hide();
			}
		});

		$("#cert_hide").change(function(){
			if($(this).is(":checked")){
				$("#cert_no_2_2").attr('type', 'password');
			}else{
				$("#cert_no_2_2").attr('type', 'text');
			}
		});

		$("#req_name").autocomplete({
			source: function( request, response ) {
				$("#req_s_no").val('');
				$("#req_team").val('');
				$("#req_team_name").val('');
				$("#req_position").val('');
				$.ajax({
					url: "/v1/api/staff.cert.api.php",
					dataType: "json",
					data: {
						s_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								sno : item.s_no,
								label : item.s_label,
								sname : item.s_name,
								team : item.team,
								tname : item.team_name,
								cert1 : item.cert_no_1,
								cert2 : item.cert_no_2,
								cert3 : item.cert_no_3,
								position : item.position,
								ceo : item.my_company_ceo,
								addr : item.my_company_addr,
								cname : item.my_company_name,
								sdate : item.work_s_date,
								state : item.staff_state,
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				event.preventDefault();
				$(this).val(ui.item.sname);
				$("#req_s_no").val(ui.item.sno);
				$('#req_team').val(ui.item.team);
				$('#req_team_name').val(ui.item.tname);
				$('#cert_no_1').val(ui.item.cert1);
				$('#cert_no_2_1').val(ui.item.cert2);
				$('#cert_no_2_2').val(ui.item.cert3);
				$('#req_position').val(ui.item.position);
				$('#company_addr').val(ui.item.addr);
				$('#company_ceo').val(ui.item.ceo);
				$('#company_name').val(ui.item.cname);

				if(ui.item.state == '3'){
					$('#work_s_date').val(ui.item.sdate);
					$('#work_e_date').val('');
				}else{
					$('#work_s_date').val(ui.item.sdate);
				}
			},
			focus: function(event, ui) {
				return false;
			},
			minLength: 1
		});

        $("#req_team_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/staff.team.api.php",
                    dataType: "json",
                    data: {
                        t_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                t_code : item.t_code,
                                label : item.label,
                                t_name : item.t_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#req_team").val(ui.item.t_code);
                $(this).val(ui.item.t_name);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });
	});

	function checkWorkCertificate()
	{
		var f = document.forms['work_cert_frm'];

		if(!f.doc_type.value)
		{
			alert("증명서 타입 선택해주세요");
			return false;
		}

		if(!f.req_s_no.value || !f.req_team.value || !f.req_position.value)
		{
			alert("성명 검색 후 선택해주세요");
			return false;
		}

		if(!f.cert_no_1.value || !f.cert_no_2_1.value || !f.cert_no_2_2.value)
		{
			alert("주민번호를 등록해주세요");
			$("#cert_no_1").focus();
			return false;
		}

		if(!f.work_s_date.value || !f.work_e_date.value)
		{
			alert("근무기간을 입력해주세요");
			$("#work_s_date").focus();
			return false;
		}

		if(!f.purpose.value)
		{
			alert("용도를 입력해주세요");
			$("#purpose").focus();
			return false;
		}

		if(!f.work_state.value)
		{
			alert("진행상태를 선택해주세요");
			$("#work_state").focus();
			return false;
		}

		if(!f.company_addr.value || !f.company_ceo.value || !f.company_name.value)
		{
			alert("계열사 정보를 입력해주세요");
			return false;
		}

		f.process.value = 'save_certificate';
		f.submit();
	}

	function runWorkCertificate()
	{
		var f = document.forms['work_cert_frm'];

		if(!f.doc_type.value)
		{
			alert("증명서 타입 선택해주세요");
			return false;
		}

		if(!f.req_s_no.value || !f.req_team.value || !f.req_position.value)
		{
			alert("성명 검색 후 선택해주세요");
			return false;
		}

		if(!f.cert_no_1.value || !f.cert_no_2_1.value || !f.cert_no_2_2.value)
		{
			alert("주민번호를 등록해주세요");
			$("#cert_no_1").focus();
			return false;
		}

		if(!f.work_s_date.value || !f.work_e_date.value)
		{
			alert("근무기간을 입력해주세요");
			$("#work_s_date").focus();
			return false;
		}

		if(!f.purpose.value)
		{
			alert("용도를 입력해주세요");
			$("#purpose").focus();
			return false;
		}

		if(!f.work_state.value)
		{
			alert("진행상태를 선택해주세요");
			$("#work_state").focus();
			return false;
		}

		if(!f.company_addr.value || !f.company_ceo.value || !f.company_name.value)
		{
			alert("계열사 정보를 입력해주세요");
			return false;
		}

		if(confirm("저장 후 발행합니다. (확인/취소)"))
		{
			f.process.value = 'run_certificate';
			f.submit();
		}
	}

</script>

</body>
</html>
