<{include file="inc/boot_navibar.html"}>

<style>
	.table_list_style tr:nth-child(2n){background: #ebebeb;}
	.reg_active{background: #3093c2 !important;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_sales_stats.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div>
					<span class="name_tit">작성일시</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_s_date" name="sch_reg_s_date" value="<{$sch_reg_s_date}>" />
					<span>~</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_e_date" name="sch_reg_e_date" value="<{$sch_reg_e_date}>" />
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
					<button type="button" onclick="regdateVal('today')" class="btn_small regdate_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" >오늘</button>
					<button type="button" onclick="regdateVal('week')" class="btn_small regdate_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>">1주</button>
					<button type="button" onclick="regdateVal('month')" class="btn_small regdate_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>">1달</button>
					<button type="button" onclick="regdateVal('months')" class="btn_small regdate_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>">3달</button>
				</div>
				<br/>
				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 4px;">
					<div>
						<span class="name_tit">구매처</span>
						<select name="sch_dp_c_no" class="select_type2" style="width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$dp_company_option key=key item=dp_comp}>
							<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select name="sch_prd_g2" id="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
					</div>
				</div>

				<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
			</div>
		</div>
	</form>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<div style="overflow: hidden; width: 1180px; background: #ddd; padding: 5px 10px;">
			<b style="float: left; display: inline-block; font-size: 16px;"># 구매처별 매출 현황</b>
			<span style="display: inline-block; float:right; margin-top: 10px;">
				기간: <{$sch_reg_s_date}> ~ <{$sch_reg_e_date}>, 금액단위: 원
			</span>
		</div>
		<table cellpadding="0" cellspacing="0" id="dp_sales_table" style="clear: both; overflow: hidden; margin-top: 10px;">
			<colgroup>
				<col width="160px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="140px;">
			</colgroup>
			<thead>
				<tr>
					<th class="first" rowspan="2" style="height: 50px;">구매처</th>
					<th colspan="2">주문/배송</th>
					<th colspan="2">반품</th>
					<th colspan="2">교환</th>
					<th colspan="3">계</th>
				</tr>
				<tr>
					<th>수량</th>
					<th>금액(VAT 포함)</th>
					<th>수량</th>
					<th>금액(VAT 포함)</th>
					<th>수량</th>
					<th>금액(VAT 포함)</th>
					<th>수량</th>
					<th>금액(VAT 포함)</th>
					<th>금액(VAT 별도)</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_dp_sales_list}>
					<{foreach from=$total_dp_sales_list key=key item=total_dp_sales}>
						<tr <{if $key == 'sum'}>style="background: #999; font-weight: bold;"<{/if}>>
							<td class="first">
								<{if $key != 'sum'}>
								<a href="work_cms_sales_list.php?sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}>&sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>&sch_dp_c_name=<{$total_dp_sales.c_name}>" target="_blank">
									<{$total_dp_sales.c_name}>
								</a>
								<{else}>
									<{$total_dp_sales.c_name}>
							   	<{/if}>
							</td>
							<td style="text-align: right;">
								<{$total_dp_sales.ord_qty|number_format:0}>
							</td>
							<td style="color: blue; font-weight: bold; text-align:right; font-size: 14px;">
								<{$total_dp_sales.ord_total|number_format:0}>
							</td>
							<td style="text-align: right;">
								<{if $total_dp_sales.return_qty > 0}>-<{/if}><{$total_dp_sales.return_qty|number_format:0}>
							</td>
							<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;">
								<{if $total_dp_sales.return_total > 0}>-<{/if}><{$total_dp_sales.return_total|number_format:0}>
							</td>
							<td style="text-align: right;">
								<{if $total_dp_sales.trade_qty > 0}>-<{/if}><{$total_dp_sales.trade_qty|number_format:0}>
							</td>
							<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;">
								<{if $total_dp_sales.trade_total > 0}>-<{/if}><{$total_dp_sales.trade_total|number_format:0}>
							</td>
							<td style="text-align: right;">
								<{$total_dp_sales.total_qty|number_format:0}>
							</td>
							<td style="<{if $total_dp_sales.total_price_vat < 0}>color: red;<{else}>color: blue;<{/if}> font-weight: bold; text-align:right; font-size: 14px;">
								<{$total_dp_sales.total_price_vat|number_format:0}>
							</td>
							<td style="<{if $total_dp_sales.total_price < 0}>color: red;<{else}>color: blue;<{/if}> font-weight: bold; text-align:right; font-size: 14px;">
								<{$total_dp_sales.total_price|number_format:0}>
							</td>
						</tr>
					<{/foreach}>
				<{/if}>
			</tbody>
		</table>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('dp_sales_table');" /></div>
	</div>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<div style="overflow: hidden; width: 1180px; background: #ddd; padding: 5px 10px;">
			<b style="float: left; display: inline-block; font-size: 16px;"># 커머스 상품별 매출 현황</b>
			<span style="display: inline-block; float:right; margin-top: 10px;">
				기간: <{$sch_reg_s_date}> ~ <{$sch_reg_e_date}>, 금액단위: 원
			</span>
		</div>
		<table cellpadding="0" cellspacing="0" id="prd_sales_table" style="clear: both; overflow: hidden; margin-top: 10px;">
			<colgroup>
				<col width="160px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="80px;">
				<col width="140px;">
				<col width="140px;">
			</colgroup>
			<thead>
			<tr>
				<th class="first" rowspan="2" style="height: 50px;">업체명/브랜드명</th>
				<th colspan="2">주문/배송</th>
				<th colspan="2">반품</th>
				<th colspan="2">교환</th>
				<th colspan="3">계</th>
			</tr>
			<tr>
				<th>수량</th>
				<th>금액(VAT 포함)</th>
				<th>수량</th>
				<th>금액(VAT 포함)</th>
				<th>수량</th>
				<th>금액(VAT 포함)</th>
				<th>수량</th>
				<th>금액(VAT 포함)</th>
				<th>금액(VAT 별도)</th>
			</tr>
			</thead>
			<tbody>
			<{if $total_pro_sales_list}>
				<{foreach from=$total_pro_sales_list key=pro_key item=total_pro_sales}>
					<tr <{if $pro_key == 'sum'}>style="background: #999; font-weight: bold;"<{/if}>>
						<td class="first" style="text-align: left;"><{$total_pro_sales.prd_name}></td>
						<td style="text-align: right;">
							<{$total_pro_sales.ord_qty|number_format:0}>
						</td>
						<td style="color: blue; font-weight: bold; text-align:right; font-size: 14px;">
							<{$total_pro_sales.ord_total|number_format:0}>
						</td>
						<td style="text-align: right;">
							<{if $total_pro_sales.return_qty > 0}>-<{/if}><{$total_pro_sales.return_qty|number_format:0}>
						</td>
						<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;">
							<{if $total_pro_sales.return_total > 0}>-<{/if}><{$total_pro_sales.return_total|number_format:0}>
						</td>
						<td style="text-align: right;">
							<{if $total_pro_sales.trade_qty > 0}>-<{/if}><{$total_pro_sales.trade_qty|number_format:0}>
						</td>
						<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;">
							<{if $total_pro_sales.trade_total > 0}>-<{/if}><{$total_pro_sales.trade_total|number_format:0}>
						</td>
						<td style="text-align: right;">
							<{$total_pro_sales.total_qty|number_format:0}>
						</td>
						<td style="<{if $total_pro_sales.total_price_vat < 0}>color: red;<{else}>color: blue;<{/if}> font-weight: bold; text-align:right; font-size: 14px;">
							<{$total_pro_sales.total_price_vat|number_format:0}>
						</td>
						<td style="<{if $total_pro_sales.total_price < 0}>color: red;<{else}>color: blue;<{/if}> font-weight: bold; text-align:right; font-size: 14px;">
							<{$total_pro_sales.total_price|number_format:0}>
						</td>
					</tr>
				<{/foreach}>
			<{/if}>
			</tbody>
		</table>
		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('prd_sales_table');" /></div>
	</div>
</div>
<!-- admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

        $("#sch_reg_s_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

        $("#sch_reg_e_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });
	});

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".regdate_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
	}
</script>

</body>
</html>
