<{include file="inc/boot_navibar.html"}>

<style>
	.table_list_style table tbody td{height: 85px; box-sizing: border-box;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_calendar.php" autocomplete="off">
		<input type="hidden" name="sch_date" value="<{$sch_date}>">
		<h2 class="title">
			<{if $nav_prd_no}>
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{else}>
			●
			<{/if}>
			<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 165px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$prd_g1_list}>
				<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
				<{/section}>
			</select>
			>
			<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 210px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$prd_g2_list}>
				<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
				<{/section}>
			</select>
			>
			<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 270px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$sch_prd_list}>
				<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
				<{/section}>
			</select>

			<button type="button" style="width: 150px; height: 34px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_memo">업무 일정(달력)</button>
			<a href="./work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>" title="목록보기"><img src="./images/icon/work_list_off.png" style="margin-bottom: 4px;"></a>
			<{if is_task_dday_prd($task_dday_prd_list, $sch_prd) && $sch_prd != ""}>
			<a href="./work_calendar.php?sch_date=<{$today}>&sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>&sch_date_type=1&sch_view_type=1" title="달력보기"><img src="./images/icon/work_cal_on.png" style="margin-bottom: 4px;"></a>
			<{/if}>
		</h2>

		<div class="default_wrap" style="color: #1c7198;">
			<div class="left_wrap">
				<!-- 자주사용하는 업무 Start -->
				<div id="d_quick_prd" style="min-width: 440px; max-width:1800px;background-color: #dadada;"></div>
				<!-- 자주사용하는 업무 End -->

				<hr></hr>

				<span class="name_tit">조회일정</span>
				<select name="sch_date_type" id="sch_date_type" class="select_type_groupbox" />
				<{section name=data loop=$cal_date_type}>
				<{if $cal_date_type[data][0] != "::전체::"}>
				<option value="<{$cal_date_type[data][1]}>" <{if $sch_date_type==$cal_date_type[data][1]}>selected<{/if}>><{$cal_date_type[data][0]}>
				<{if $cal_date_type[data][1] != '3'}>(±희망 완료일)<{/if}></option>
				<{/if}>
				<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">표시방법</span>
				<select name="sch_view_type" id="sch_view_type" class="select_type3" />
				<{section name=data loop=$cal_view_type}>
				<{if $cal_view_type[data][0] != "::전체::"}>
				<option value="<{$cal_view_type[data][1]}>" <{if $sch_view_type==$cal_view_type[data][1]}>selected<{/if}>><{$cal_view_type[data][0]}></option>
				<{/if}>
				<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업체담당자</span>
				<input type="text" name="sch_s_name" value="<{$sch_s_name}>" class="input_type2" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업무요청자</span>
				<input type="text" name="sch_req_s_name" value="<{$sch_req_s_name}>" class="input_type2" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업무처리자</span>
				<input type="text" name="sch_run_s_name" value="<{$sch_run_s_name}>" class="input_type2 sch_run_s_name" style="width: 74px;" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">출금업체(외주 재택근무자)</span>
				<select name="sch_wd_c_no" id="sch_wd_c_no" class="select_type2">
					<option value="">::전체::</option>
					<{section name=data loop=$wd_company_list}>
					<{if $sch_prd}>
					<{if $wd_company_list[data][2] == $sch_prd}>
					<option value="<{$wd_company_list[data][1]}>" <{if $sch_wd_c_no==$wd_company_list[data][1]}>selected<{/if}>><{$wd_company_list[data][0]}>(<{$wd_company_list[data][3]}>)</option>
					<{/if}>
					<{else}>
					<{if $wd_company_list[data][1] > 0}>
					<option value="<{$wd_company_list[data][1]}>" <{if $sch_wd_c_no==$wd_company_list[data][1]}>selected<{/if}>><{$wd_company_list[data][0]}>(<{$wd_company_list[data][3]}>)</option>
					<{/if}>
					<{/if}>
					<{/section}>

					<option value="null" <{if $sch_wd_c_no == 'null'}>selected<{/if}>>(NULL)</option>
				</select>
				<button type="submit" class="btn_big_search">검색</button>
			</div>
			<{if $sch_prd == '242'}>
			<div style="clear: both;">
				<span class="name_tit">타겟키워드</span>
				<input type="text" name="sch_target_keyword" value="<{$sch_target_keyword}>" class="input_type1" style="width: 200px;" />
			</div>
			<{/if}>
		</div>
	</form>
</div>

<div class="table_list_style">
	<table cellpadding="0" cellspacing="0">
		<!-- 업무 리스트 부분 [Start] -->
		<thead>
		<tr>
			<td colspan="7" style="text-align: left; font-weight:bold; font-size:18px;">
				<a href="#" onclick="cal_month_link('<{$prev_month}>');">◀</a> <{$base_year}>-<{$base_month}> <a href="#" onclick="cal_month_link('<{$next_month}>');">▶</a>
				<button type="button" onclick="location.href='work_calendar.php?sch_date=<{$today}>&sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>&sch_date_type=<{$sch_date_type}>&sch_view_type=<{$sch_view_type}>&sch_s_no=<{$sch_s_no}>&sch_run_s_name=<{$sch_run_s_name}>';" style="width: 54px; height: 24px; font-size: 12px; font-weight: bold; color:black; background-color:#d5d5d5;" class="btn_small">today</button>
			</td>
		</tr>
		<tr>
			<td colspan="7">
				<{$total_num}>개의 검색 결과가 나타났습니다.
			</td>
		</tr>
		<tr>
			<th class="first" style="min-width:220px; max-width:220px; background-color:#ff9a9a">일</th>
			<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">월</th>
			<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">화</th>
			<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">수</th>
			<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">목</th>
			<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">금</th>
			<th style="min-width:220px; max-width:220px; background-color:#9edefd;">토</th>
		</tr>
		</thead>
		<tbody>
		<{section name=idx loop=$calendar_date}>
		<{if $calendar_date[idx].week == '0'}> <!-- 일 -->
		<tr>
			<td class="first" style="text-align: left; vertical-align: top; font-size:11px; height:80px; background: #ff9a9a38; cursor: pointer;" <{if $sch_prd && $calendar_date[idx].date > $today}> onclick="moveWorkPrd('<{$sch_prd}>', '<{$calendar_date[idx].date}>')"<{/if}>>
				<{if $calendar_date[idx].holiday != "" }>
				<span style="font-weight:bold; color: red;"><{$calendar_date[idx].day}> <{$calendar_date[idx].holiday}></span>
				<{else}>
				<span style="color: red;"><{$calendar_date[idx].day}></span>
				<{/if}>
				<{if $calendar_date[idx].date == $today}>
				(today)
				<{/if}>

				<{section name=list loop=$work_list}>
				<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
				   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
				>
					<div id="m_over_display_<{$work_list[list].w_no}>">
						<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
					</div>
					<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $work_list[list].req_run_intval < 0}>
												[예정 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval > 0}>
												[예정 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval == 0}>
												[예정 <span style="color: blue;">(-0)</span>]
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
				   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
				>
					<div id="m_over_display_<{$work_list[list].w_no}>">
						<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
					</div>
					<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $work_list[list].req_run_intval < 0}>
												[완료 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval > 0}>
												[완료 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval == 0}>
												[완료 <span style="color: blue;">(-0)</span>]
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
				   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
				>
					<div id="m_over_display_<{$work_list[list].w_no}>">
						<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
					</div>
					<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{/if}>
				<{/section}>
			</td>
			<{elseif $calendar_date[idx].week =='6'}> <!-- 토 -->
			<td style="text-align: left; vertical-align: top; font-size:11px; cursor: pointer;<{if $calendar_date[idx].holiday}>background: #ff9a9a38;<{else}>background: #9edefd4a;<{/if}>" <{if $sch_prd && $calendar_date[idx].date > $today}> onclick="moveWorkPrd('<{$sch_prd}>', '<{$calendar_date[idx].date}>')"<{/if}>>
				<{if $calendar_date[idx].holiday != "" }>
				<span style="font-weight:bold; color: red;"><{$calendar_date[idx].day}> <{$calendar_date[idx].holiday}></span>
				<{else}>
				<span style="color: blue;"><{$calendar_date[idx].day}></span>
				<{/if}>
				<{if $calendar_date[idx].date == $today}>
				(today)
				<{/if}>

				<{section name=list loop=$work_list}>
				<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
				   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
				>
					<div id="m_over_display_<{$work_list[list].w_no}>">
						<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
					</div>
					<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $work_list[list].req_run_intval < 0}>
												[예정 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval > 0}>
												[예정 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval == 0}>
												[예정 <span style="color: blue;">(-0)</span>]
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
				   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
				>
					<div id="m_over_display_<{$work_list[list].w_no}>">
						<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
					</div>
					<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $work_list[list].req_run_intval < 0}>
												[완료 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval > 0}>
												[완료 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
											<{elseif $work_list[list].req_run_intval == 0}>
												[완료 <span style="color: blue;">(-0)</span>]
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
				<br>
				<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
				   title="<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>">

					<!-- span 열기 -->
					<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
					<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

													<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
				</a>
				<{/if}>
				<{/section}>
			</td>
		</tr>
		<{else}> <!-- 월~금 -->
		<td style="text-align: left; vertical-align: top; font-size:11px; cursor: pointer; <{if $calendar_date[idx].holiday}>background: #ff9a9a38;<{/if}>" <{if $sch_prd && $calendar_date[idx].date > $today}> onclick="moveWorkPrd('<{$sch_prd}>', '<{$calendar_date[idx].date}>')"<{/if}>>
			<{if $calendar_date[idx].holiday != "" }>
			<span style="font-weight:bold; color: red;"><{$calendar_date[idx].day}> <{$calendar_date[idx].holiday}></span>
			<{else}>
			<{$calendar_date[idx].day}>
			<{/if}>
			<{if $calendar_date[idx].date == $today}>
			(today)
			<{/if}>

			<{section name=list loop=$work_list}>
			<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
			<br>
			<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
			   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
			   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
			>
				<div id="m_over_display_<{$work_list[list].w_no}>">
					<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
				</div>
				<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

				<!-- span 열기 -->
				<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
				<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										<{if $work_list[list].req_run_intval < 0}>
											[예정 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
										<{elseif $work_list[list].req_run_intval > 0}>
											[예정 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
										<{elseif $work_list[list].req_run_intval == 0}>
											[예정 <span style="color: blue;">(-0)</span>]
										<{/if}>

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

												<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
			</a>
			<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
			<br>
			<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
			   onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
			   onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
			>
				<div id="m_over_display_<{$work_list[list].w_no}>">
					<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
				</div>
				<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

				<!-- span 열기 -->
				<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
				<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										<{if $work_list[list].req_run_intval < 0}>
											[완료 <span style="color: blue;">(<{$work_list[list].req_run_intval}>)</span>]
										<{elseif $work_list[list].req_run_intval > 0}>
											[완료 <span style="color: red;">(+<{$work_list[list].req_run_intval}>)</span>]
										<{elseif $work_list[list].req_run_intval == 0}>
											[완료 <span style="color: blue;">(-0)</span>]
										<{/if}>

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

												<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
			</a>
			<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
			<br>
			<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
			   title="<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>">

				<!-- span 열기 -->
				<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
				<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

												<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
			</a>
			<{/if}>
			<{/section}>
		</td>
		<{/if}>
		<{/section}>
		</tbody>
		<!-- 업무 리스트 부분 [End] -->
	</table>
</div>
<!-- //table_list_style -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#sch_prd_g2").remoteChained({
            parents: "#sch_prd_g1",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
            loading: "로딩중..",
            clear: true
        });

        $("#sch_prd").remoteChained({
            parents: "#sch_prd_g2",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
            loading: "로딩중..",
            clear: true
        });
    });

    // 자주 하는 업무 추가
    function proc_quick_prd (mode, prd_no) {
        var val = $("#f_prd").val();
        var txt = $("#f_prd option:selected").text();

        if (mode == "del")
            val = prd_no;

        if (mode == "add" && $(".btn_quick_add").length > 19) {
            alert("최대 20개까지 추가 가능합니다.");
        } else if (mode == "add" && !val) {
            alert("[자주하는 상품]에 추가할 상품을 선택해 주세요.");
        }else {
            $.post("work_calendar.php", {process : "proc_quick_prd", mode : mode, quick_prd : val, sch_prd : "<{$sch_prd}>", sch_prd_g1 : "<{$sch_prd_g1}>", sch_prd_g2 : "<{$sch_prd_g2}>"}, function(data) {
                arr = data.split("|");
                if (arr[0] == "err_exist_prd") {
                    alert("이미 추가되어 있는 상품입니다.");
                } else if (arr[0] == "ok") {
                    $("#d_quick_prd").html(arr[1]);
                }
            });
        }
    }

    $(function() {
        proc_quick_prd('display');
    });

    function cal_month_link(f_date){
        var search_url = "<{$search_url}>";

        var result = search_url.replace(/sch_date=<{$sch_date}>/gi, 'sch_date='+f_date);

        document.location.href="work_calendar.php?"+result;
    }

    function m_over_display(e, w_no, type){

        if(type=='show'){

            var de = document.documentElement;
            var b = document.body;
            scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
            scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

            var divTop = e.clientY - 135 + scrolly; //상단 좌표
            var divLeft = e.clientX - 30 + scrollx; //좌측 좌표

            $("#m_over_display_" + w_no).css({
                "position": "absolute"
                ,"top": divTop
                ,"left": divLeft
                ,padding: "5px"
                ,background: "#000"
                ,color: "#fff"
                ,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
                ,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
            }).show();

        }else if(type=='hide'){
            $("#m_over_display_" + w_no).hide();
        }
    }

    function moveWorkPrd(sch_prd, req_dday)
	{
        if(sch_prd){
            location.href='work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd='+sch_prd+'&desire_date='+req_dday;
        }
	}
</script>

</body>
</html>
