<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-control{font-size: 12px; display: inline-block;}
	input[type=checkbox]{cursor: pointer;}
	button.quick_search_btn{padding: 5px 20px; font-weight: bold; margin: 0 5px;}
	button.quick_active_btn{background: red;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_reservation_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			● 예약판매 리스트
			<{if $session_team == '00244'}>
			<button type="button" onclick="window.open('work_cms_sms_multi.php', 'CS 고객 단체문자 발송','width=700, height=650, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="background: #3093c2; color: white; padding: 4px 7px;">SMS 단체문자</button>
			<{/if}>
		</h2>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div>
				<span class="name_tit">주문일시</span>
				<input type="text" class="date-picker input_type_date" id="sch_order_s_date" name="sch_order_s_date" value="<{$sch_order_s_date}>" />
				<span>~</span>
				<input type="text" class="date-picker input_type_date" id="sch_order_e_date" name="sch_order_e_date" value="<{$sch_order_e_date}>" />
				<span style="margin-right:15px;"></span>

				<span>예약상태</span>
				<select name="sch_delivery_state" id="sch_delivery_state" class="select_type2">
					<option value="">::선택::</option>
					<{foreach from=$reservation_state_option key=delivery_state item=label}>
					<option value="<{$delivery_state}>" <{if $sch_delivery_state == $delivery_state}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">출고일</span>
				<input type="text" name="sch_out_date" class="input_type2 date-picker form-control" value="<{$sch_out_date}>" />
				<span style="margin-right:10px;"></span>

				<span class="name_tit">주문번호</span>
				<input type="text" name="sch_order_number" value="<{$sch_order_number}>" class="input_type2" style="background-color: #ffffcc; width:140px;" />
				<span style="margin-right:10px;"></span>

				<span class="name_tit">수령자명</span>
				<input type="text" name="sch_recipient" value="<{$sch_recipient}>" class="input_type2" />
				<span style="margin-right:10px;"></span>

				<span class="name_tit">수령자전화</span>
				<input type="text" name="sch_recipient_hp" value="<{$sch_recipient_hp}>" class="input_type2" />
				<span style="margin-right:10px;"></span>

				<span class="name_tit">수령지</span>
				<input type="text" name="sch_recipient_addr" id="sch_recipient_addr" value="<{$sch_recipient_addr}>" class="input_type2" />
				<span style="margin-right:10px;"></span>

				<span class="name_tit">구매처</span>
				<select name="sch_dp_c_no" id="sch_dp_c_no" class="select_type2" style="width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
					<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
					<{/foreach}>
				</select>
			</div>
			<div style="margin:10px 0;">
				<span class="name_tit">업체명/브랜드명</span>
				<select name="sch_brand_g1" id="sch_brand_g1" class="select_type2" style="width: 100px; margin-right: 5px; display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="select_type3" style="width: 100px; margin-right: 5px;display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="select_type3" style="width: 100px; display: inline-block;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">상품명</span>
				<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
					<option value="">::전체::</option>
					<{section name=data loop=$prd_g1_list}>
					<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
					<{/section}>
				</select>
				>
				<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
					<option value="">::전체::</option>
					<{section name=data loop=$prd_g2_list}>
					<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
					<{/section}>
				</select>
				>
				<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 200px; height: 30px; margin-right: 10px; font-size: 15px;">
					<option value="">::전체::</option>
					<{section name=data loop=$sch_prd_list}>
					<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
					<{/section}>
				</select>

				<input type="text" name="sch_prd_name" id="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" <{if $sch_prd}>disabled<{/if}>>
				<span style="margin-right:15px;"></span>

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
			<div>
				<span class="name_tit">품절 구성품</span>
				<select name="sch_option" id="sch_option" class="select_type2" style="width: auto;">
					<option value="">::전체::</option>
					<{foreach from=$wait_option_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_option == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
			</div>
			<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		</div>

		<div style="margin: 10px 0; font-size: 14px;">
			<span style="font-weight:bold; margin-right: 10px;">[Quick Search]</span>
			<input type="hidden" name="sch_quick_type" id="sch_quick_type" value="<{$sch_quick_type}>">
			<{foreach from=$quick_search_option key=key item=label}>
			<button type="button" onclick="quick_search('<{$key}>');" class="btn_small quick_search_btn <{if $sch_quick_type == $key}>quick_active_btn<{/if}>"><{$label}></button>
			<{/foreach}>
		</div>
	</form>

	<{if $is_cms_staff}>
		<div style="margin: 20px 0; padding: 10px; border: 1px solid #ccc; width: auto; display: inline-block;">
			<b style="font-size: 14px;display: inline-block;margin-bottom: 10px;">[택배리스트로 예약건 이동]</b>
			<form name="move_delivery_frm" id="move_delivery_frm" class="new_delivery_frm" action="work_cms_reservation_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
				<input type="hidden" name="process" value="move_delivery">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<div>
					<label for="add_option" style="display: inline-block;width: 70px;font-weight: bold;">품질 구성품</label>
					<select name="add_option" id="add_option" class="form-control" style="width: auto; margin-right: 20px;" required>
						<option value="">::전체::</option>
						<{foreach from=$wait_option_list key=key item=label}>
						<option value="<{$key}>"><{$label}></option>
						<{/foreach}>
					</select>

					<label for="add_ord_s_date" style="display: inline-block; width: 40px; font-weight: bold;">출고일</label>
					<input type="text" name="add_out_date" id="add_out_date" class="date-picker form-control" value="" style="margin-right: 20px;" />

					<label for="add_ord_s_date" style="display: inline-block; width: 60px; font-weight: bold;">주문일시</label>
					<input type="text" name="add_ord_s_date" id="add_ord_s_date" class="date-picker form-control" value="" />
					<span>~</span>
					<input type="text" name="add_ord_e_date" id="add_ord_e_date" class="date-picker form-control" value="" />
					
<!--					<button type="button" class="btn_small quick_search_btn" onclick="combinedOrder()">합배송처리</button>-->
					<button type="button" class="btn_small quick_search_btn" onclick="moveOrder()" style="background: #4caf50;">주문이동</button>
				</div>
			</form>
		</div>
	<{/if}>

	<{if $cms_reservation_unit_list}>
	<div style="margin: 20px 0; padding: 10px; border: 1px solid #ccc; width: 255px; overflow: hidden;">
		<b style="margin-bottom: 10px;">예판대기 중 구성품 내역</b>
		<{foreach from=$cms_reservation_unit_list item=cms_reservation_unit}>
		<div style="overflow: hidden;">
			<span style="display: inline-block; width: 200px;float: left;"><{$cms_reservation_unit.option_name}></span>
			<span style="display: inline-block; width: 30px; float: left;"><{$cms_reservation_unit.total_qty|number_format:0}></span>
		</div>
		<{/foreach}>
	</div>
	<{/if}>

	<div class="table_list_style" style="clear: both;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="11" style="text-align: left;padding-right: 5px;">
						<span style="display: block;float: left;line-height: 40px;">총 <{$total_num}>개의 검색 결과가 나타났습니다.</span>
					</td>
					<td colspan="2" style="text-align: right;">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
					<td colspan="4">
						<div style="float: right;">
							<button onclick="location.href='excel_work_cms_reservation_list.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀 다운로드</span></button>
							<button onclick="location.href='excel_work_cms_reservation_customer.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>연락처 다운로드</span></button>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="width: 60px;">
						<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
					</th>
					<th style="min-width: 80px; width: 80px;" >출고일</th>
					<th style="min-width: 80px; width: 80px;" >주문일시</th>
					<th style="min-width: 120px; width: 120px;" >주문번호</th>
					<th style="min-width: 46px; width: 46px;" >예약상태</th>
					<th style="min-width: 180px; width:180px;" >
						수령자명<br/>
						수령자전화<br/>
						[우편번호]<br/>
						수령지<br/>
					</th>
					<th style="min-width:64px; width:64px;">배송메모</th>
					<th style="min-width:90px; width:90px;">업체명/브랜드명</th>
					<th style="min-width:200px; width:200px;">커머스 상품명</th>
					<th style="min-width:40px; width:40px;">수량</th>
					<th style="min-width:240px; width:240px;">구성품목(SKU) * 수량<br>(수량 = 구성품수량 x 상품수량)</th>
					<th style="min-width:50px; width:50px;">업무요청자</th>
					<th style="min-width:90px; width:90px;">주문요약정보</th>
					<th style="min-width:50px; width:50px;">주문처리자</th>
					<th style="min-width:80px; width:80px;">구매처</th>
					<th style="min-width:150px; width:150px;">상품별 결제금액<br/>상품별 택배비<br/>쿠폰</th>
					<th style="min-width:110px; width:110px;">실 결제금액<br/>(상품합계)</th>
				</tr>
			</thead>
			<tbody>
			<{if $cms_reservation_list}>
				<{assign var=color_idx value=1}>
				<{foreach from=$cms_reservation_list item=cms_reservation}>
					<{assign var=prd_count value=$cms_reservation|@count}>
					<{assign var=idx value=0}>
					<{foreach from=$cms_reservation item=cms_prd}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<{if $idx == '0'}>
						<td class="first date" rowspan="<{$prd_count}>"> <!-- w_no / 작성일-->
							<input type="checkbox" name="select_check[]" class="select_check" value="<{$cms_prd.order_number}>">
						</td>
						<td rowspan="<{$prd_count}>"> <!-- 출고일 -->
							<{$cms_prd.out_date}>
						</td>
						<td rowspan="<{$prd_count}>"> <!-- 주문일시 -->
							<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_date}></span>
							<span style="color:green; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_time}></span>
							<button type="button" onclick="del_reservation('<{$cms_prd.order_number}>')">[삭제]</button>
						</td>
						<td rowspan="<{$prd_count}>" style="position: relative;"><!-- 주문번호 -->
							<span style="text-align:left; display: block; font-weight: bold;"><{$cms_prd.order_number}></span><br/>
							<{if $cms_prd.delivery_state == '1' || $cms_prd.delivery_state == '2'}>
								<button type="button" class="btn btn-dark" onclick="moveOneOrder('<{$cms_prd.order_number}>')" style="font-size: 12px; font-weight: bold; padding: 3px 10px;">주문이동</button>
							<{/if}>
						</td>
						<td rowspan="<{$prd_count}>"> <!-- 예약상태 -->
							<select name="delivery_state" onchange="save_el('<{$cms_prd.order_number}>', 'f_delivery_state', this)" class="select_type2" id="delivery_state_<{$cms_prd.order_number}>" style="width:80px; background: <{$cms_prd.delivery_state_bg}>; color: <{$cms_prd.delivery_state_color}>">
								<option value="">::선택::</option>
								<{foreach from=$reservation_state_option key=$key item=$label}>
								<option value="<{$key}>" <{if $key == $cms_prd.delivery_state}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td rowspan="<{$prd_count}>"> <!-- 수령자명/수령자전화/수령자전화2/우편번호/수령지 -->
							<span style="text-align:left; display: block; font-weight: bold; font-size: 11pt;"><{$address_list[$cms_prd.order_number].recipient}></span>
							<{if $session_team == '00244' || $session_my_c_type == '3'}>
								<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_hp}></span>
								<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_hp2}></span>
							<{else}>
								<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_sc_hp}></span>
								<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_sc_hp2}></span>
							<{/if}>
							<span style="text-align:left; display: block; font-size:11px;"><{$address_list[$cms_prd.order_number].zip_code}></span>
							<input type="hidden" name="f_recipient_addr" class="ord_addr_<{$cms_prd.order_number}>" value="<{$address_list[$cms_prd.order_number].recipient_addr}>">
							<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;" ><{$address_list[$cms_prd.order_number].recipient_addr}><img src="./images/icon/duplicate.png" class="addr_copy" attr-ord-no="<{$cms_prd.order_number}>" style="cursor: pointer; width: 14px; margin-left: 3px;"></span>
						</td>
						<td rowspan="<{$prd_count}>"> <!-- 배송메모 -->
							<textarea onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '55px')" class="textarea_work_message_readonly" style="width: 55px; height: 60px;" readonly><{$cms_prd.delivery_memo}></textarea>
						</td>
						<{/if}>
						<td> <!-- 업체명/브랜드명 -->
							<span style="color: #808080; font-size: 8pt;"><{$cms_prd.c_name}></span>
						</td>
						<td style="text-align: center; position: relative; font-weight: bold;"> <!-- 커머스 상품명 -->
							<span style="display: inline-block; float: left; text-align: left;font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$cms_prd.k_prd1_name}> > <{$cms_prd.k_prd2_name}> ></span>
							<span style="clear: both; display: block; float: left; text-align: left;"><{$cms_prd.prd_name}></span>
						</td>
						<td> <!-- 수량 -->
							<{$cms_prd.quantity}>
						</td>
						<td class="text-left" style="color: #808080; font-style: italic;"> <!-- 구성품 SKU*수량 -->
							<{if $cms_prd.unit_list}>
								<{foreach from=$cms_prd.unit_list item=unit}>
								<span style="display: block;">
									<{$unit.sku}> * <{$unit.qty}>
								</span>
								<{/foreach}>
							<{/if}>
						</td>
						<td> <!-- 업무요청자 -->
							<{$cms_prd.task_req_s_name}>
						</td>
						<td> <!-- 주문요약정보 -->
							<textarea onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '80px')" class="textarea_work_message_readonly" style="width: 80px; height: 60px;" readonly><{$cms_prd.task_req}></textarea>
						</td>
						<td> <!-- 주문처리자 -->
							<{$cms_prd.task_run_s_name}>
						</td>
						<td> <!-- 구매처 -->
							<{$cms_prd.dp_c_name}>
						</td>
						<td style="color: blue; text-align:right; font-size: 12px;"> <!-- 결제금액 / 결제택배비 / 결제쿠폰비 -->
							<span style="color: #808080;font-size: 8pt;">
								(상품)
							</span>
							<span style="color: blue;">
								￦<{$cms_prd.unit_price|number_format:0}><br/>
							</span>
							<span style="color: #808080;font-size: 8pt;">
								(택배)
							</span>
							<span style="color: blue;">
								￦<{$cms_prd.unit_delivery_price|number_format:0}>
							</span>
							<span style="color: #808080;font-size: 8pt;">
								<{if $cms_prd.dp_c_no == '3295' || $cms_prd.dp_c_no == '4629' || $cms_prd.dp_c_no == '5427' || $cms_prd.dp_c_no == '5588'}>
								<br/>(쿠폰-상품가반영)
								<{else}>
								<br/>(쿠폰)
								<{/if}>
							</span>
							<span style="color: red;">
								- ￦<{$cms_prd.coupon_price|number_format:0}>
							</span>
						</td>
						<{if $idx == '0'}>
						<td rowspan="<{$prd_count}>" style="color: blue; text-align:right; font-size: 12px;"> <!-- 실결제금액 -->
							￦ <{$final_price_list[$cms_prd.order_number]|number_format:0}>
						</td>
						<{/if}>
					</tr>
					<{assign var=idx value=$idx+1}>
					<{/foreach}>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<td colspan="17">데이터가 없습니다</td>
			<{/if}>
			<tr>
				<td colspan="17" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<form name="chk_form" action="work_cms_reservation_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="chk_order_list" class="chk_order_list">
	<input type="hidden" name="chk_order_number" class="chk_order_number">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").change(function(){
			if($(this).val() != ''){
				$("#sch_prd_name").attr('disabled', true);
			}else{
				$("#sch_prd_name").removeAttr('disabled');
			}
		});

		$(".addr_copy").click(function(){
			var ord_no 		= $(this).attr('attr-ord-no');
			var text		= $(".ord_addr_"+ord_no).val();
			var textarea 	= document.createElement('textarea');
			textarea.value  = text;

			document.body.appendChild(textarea);
			textarea.select();
			textarea.setSelectionRange(0, 9999);

			document.execCommand('Copy');
			document.body.removeChild(textarea);
		});
	});

	function text_area_click(f, width){
		f.style.width = width;
		f.style.backgroundColor="yellow";
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	function text_area_click_out(f, width)
	{
		f.style.width = width;
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	// 검색 하기
	function searchList(){
		document.search_form.sch_quick_type.value="";
		document.search_form.submit();
	}

	function normal_search() {
		var f = document.forms['search_form'];

		var ord_page    = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function save_el(ord_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_delivery_state')) {
			$.post("work_cms_reservation_list.php", {ord_no : ord_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkSelect()
	{
		var chk_order_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_order_list += ($(item).val() + ",");
			}
		});

		if(chk_order_list != ""){
			chk_order_list = chk_order_list.slice(0, -1);
		}

		$(".chk_order_list").val(chk_order_list);
	}

	function del_reservation(ord_no)
	{
		if(confirm("삭제하시겠습니까?"))
		{
			var f = document.chk_form;
			f.process.value = 'del_reservation';
			f.chk_order_number.value = ord_no;
			f.submit();
		}
	}

	function quick_search(quick_no)
	{
		document.search_form.sch_delivery_state.value=quick_no;
		document.search_form.sch_quick_type.value=quick_no;
		document.search_form.submit();
	}

	function moveOrder()
	{
		if(!$("#add_option").val()){
			alert("구성품을 선택해주세요");
			return false;
		}

		if(confirm("택배리스트로 추가하시겠습니까?")) {
			document.move_delivery_frm.process.value = 'move_delivery';
			document.move_delivery_frm.submit();
		}

		return false;
	}

	function combinedOrder()
	{
		if(!$("#add_option").val()){
			alert("구성품을 선택해주세요");
			return false;
		}

		if(confirm("합배송처리 하시겠습니까?")) {
			document.move_delivery_frm.process.value = 'combined_order';
			document.move_delivery_frm.submit();
		}

		return false;
	}

	function moveOneOrder(ord_no)
	{
		if(confirm("해당 주문 건을 택배리스트로 추가하시겠습니까?")) {
			var f = document.chk_form;
			f.process.value = 'move_one_delivery';
			f.chk_order_number.value = ord_no;
			f.submit();
		}

		return false;
	}
</script>

</body>
</html>
