<{include file="inc/boot_navibar.html"}>

<style>
	.reg_active{background: #3093c2 !important;}
	.new-cnt{background: red; color: white; font-size: 12pt; display: inline-block; border-radius: 15px; width: 18px; height: 18px; line-height: 17px; position: absolute; right: -4px; bottom: 14px;}
	.step-wrapper .step-title{font-weight: bold; font-size: 14px; display: inline-block; min-width: 240px; line-height: 30px;}
	.step-wrapper .step-date{width: 80px;text-align: center;box-sizing: border-box; height: 23px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<{if $nav_prd_no}>
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{else}>
		●
		<{/if}>
		<{$nav_title}>
		<{if $sch_free_quick_type == '1'}>(발송)<{elseif $sch_free_quick_type == '2'}>(수령)<{/if}>
	</h2>

	<form method="get" name="search_form" id="search_form" action="work_cms_quick_list.php" autocomplete="off">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<input type="hidden" name="sch_free_quick_type" id="sch_free_quick_type" value="<{$sch_free_quick_type}>">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div>
					<span class="name_tit">작성일</span>
					<input type="text" name="sch_reg_s_date" class="date-picker input_type_date" id="sch_reg_s_date" value="<{$sch_reg_s_date}>" />
					<span>~</span>
					<input type="text" name="sch_reg_e_date" class="date-picker input_type_date" id="sch_reg_e_date" value="<{$sch_reg_e_date}>" />
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
					<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
					<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
					<input type="hidden" name="sch_quick_search" id="sch_quick_search" value="<{$sch_quick_search}>">
					<button type="button" class="btn_small reg_date_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" onclick="regdateVal('today')">오늘</button>
					<button type="button" class="btn_small reg_date_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>" onclick="regdateVal('week')">1주</button>
					<button type="button" class="btn_small reg_date_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>" onclick="regdateVal('month')">1달</button>
					<button type="button" class="btn_small reg_date_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>" onclick="regdateVal('months')">3달</button>
					<button type="button" class="btn_small reg_date_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>" onclick="regdateVal('year')">1년</button>
					<button type="button" class="btn_small reg_date_btn reg_years_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>" onclick="regdateVal('years')">2년</button>
				</div>
				<br/>
					<span id="sch_detail_display_btn_show">
						<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
					</span>
					<span id="sch_detail_display_btn_hide">
						<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
					</span>
					<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 4px;">
					<div>
						<span class="name_tit">w_no</span>
						<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송 진행상태</span>
						<select name="sch_quick_state" id="sch_quick_state" class="select_type2">
							<option value="">::선택::</option>
							<{foreach from=$quick_state_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_quick_state == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송지</span>
						<select name="sch_sender_type" id="sch_sender_type" class="select_type2" style="margin-right: 15px;">
							<option value="">::전체::</option>
							<{if !$is_freelancer || $sch_free_quick_type != '2'}>
								<{foreach from=$addr_company_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_sender_type == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							<{/if}>
						</select>

						<span class="name_tit">수령지</span>
						<select name="sch_receiver_type" id="sch_receiver_type" class="select_type2" style="margin-right: 15px;">
							<option value="">::전체::</option>
							<{if !$is_freelancer || $sch_free_quick_type != '1'}>
								<{foreach from=$addr_company_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_receiver_type == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							<{/if}>
						</select>

						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" class="input_type2" value="<{$sch_order_number}>" style="background-color: #ffffcc; width:140px;" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">요청사항</span>
						<input type="text" name="sch_req_memo" class="input_type2" value="<{$sch_req_memo}>" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">출고희망일</span>
						<input type="text" name="sch_req_date" class="input_type2 date-picker" value="<{$sch_req_date}>" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">요청자</span>
						<input type="text" name="sch_req_s_name" class="input_type2" value="<{$sch_req_s_name}>" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">금액 유/무</span>
						<select name="sch_is_price" id="sch_is_price" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_is_price == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">완료일</span>
						<input type="text" name="sch_run_s_date" id="sch_run_s_date" class="date-picker input_type_date" value="<{$sch_run_s_date}>" />
						~
						<input type="text" name="sch_run_e_date" id="sch_run_e_date" class="date-picker input_type_date" value="<{$sch_run_e_date}>" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">전달방식</span>
						<select name="sch_delivery_method" id="sch_delivery_method" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$delivery_method_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_delivery_method == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">운송장번호</span>
						<input type="text" name="sch_delivery_no" class="input_type2" value="<{$sch_delivery_no}>" style="width: 120px;" />
						<span style="margin-right:10px;"></span>

						<div style="display: inline-block;">
							<input type="checkbox" id="sch_is_quick_issue" style="cursor: pointer; margin-top: 0;  margin-right: -1px;" name="sch_is_quick_issue" value="1" <{if $sch_is_quick_issue == '1'}>checked<{/if}>>
							<label for="sch_is_quick_issue" style="cursor: pointer;">이슈발생</label>
						</div>
						<input type="text" name="sch_quick_issue" class="input_type2" value="<{$sch_quick_issue}>" style="width: 120px;" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">납품업체</span>
						<select name="sch_run_c_no" id="sch_run_c_no" class="select_type2" style="width: 140px;">
							<option value="">::전체::</option>
							<{foreach from=$run_company_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_run_c_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<input type="checkbox" id="sch_is_coupang" style="cursor: pointer; margin-top: 10px; margin-right: -1px;" name="sch_is_coupang" value="1" <{if $sch_is_coupang == '1'}>checked<{/if}>>
						<label for="sch_is_coupang" style="cursor: pointer;font-size: 11px;display: inline-block;vertical-align: middle;margin: 10px 0 0;">쿠팡(로켓/제트) 제외</label>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">계정과목</span>
						<select name="sch_loc_subject" id="sch_loc_subject" class="select_type2" style="width: 140px;">
							<option value="">::전체::</option>
							<{foreach from=$loc_subject_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_loc_subject == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">수령자명</span>
						<input type="text" name="sch_receiver_name" id="sch_receiver_name" class="input_type2" value="<{$sch_receiver_name}>" style="width: 120px;" />
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">업체명/브랜드명</span>
						<select name="sch_c_no" class="select_type2" style="width: 150px;">
							<option value="">::전체::</option>
							<{foreach from=$brand_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_c_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 240px; height: 30px; margin-right: 10px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>

						<input type="text" name="sch_prd_name" id="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" <{if $sch_prd}>disabled<{/if}>>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구성품명(SKU)</span>
						<input type="text" name="sch_sku_name" id="sch_sku_name" value="<{$sch_sku_name}>" class="input_type5" />
						<span style="margin-right:15px;"></span>

						<button type="submit" class="btn_small" onclick="searchList();" style="width:58px; height:27px;">검색</button>
					</div>
				</div>

				<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
				<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
				<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

				<{if $sch == 'Y'}>
				<script>$("#sch_detail_display").show();</script>
				<script>$("#sch_detail_display_btn_show").hide();</script>
				<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
				<script>$("#sch_detail_display").hide();</script>
				<script>$("#sch_detail_display_btn_show").show();</script>
				<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<{if $cms_state_cnt_list}>
	<div style="font-size: 14px; padding: 10px 0; overflow: hidden;">
		<div style="float: left; width: 105px; padding-top: 3px;">
			<span style="font-weight: bold">[Quick Search]</span>
		</div>
		<div style="float: left; width: 480px; margin-right: 5px;">
			<span>진행요청 <{$cms_state_cnt_list[1]|number_format:0}>건</span>
			<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px;" onclick="checkCntSearch('state', '1')">보기</button>
			<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px; width: 100px; position: relative;" onclick="checkCntSearch('quick', '1')">
				쿠팡 외 전체
				<{if $cms_state_cnt_list['etc'] > 1}>
					<span class="new-cnt" style="font-size: 12px;"><{$cms_state_cnt_list['etc']|number_format:0}></span>
				<{/if}>
			</button>
			<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px; width: 100px; position: relative;" onclick="checkCntSearch('quick', '2')">
				쿠팡(로켓배송)
				<{if $cms_state_cnt_list['roc'] > 1}>
					<span class="new-cnt" style="font-size: 12px;"><{$cms_state_cnt_list['roc']|number_format:0}></span>
				<{/if}>
			</button>
			<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px; width: 100px; position: relative;" onclick="checkCntSearch('quick', '3')">
				쿠팡(제트배송)
				<{if $cms_state_cnt_list['zet'] > 1}>
					<span class="new-cnt" style="font-size: 12px;"><{$cms_state_cnt_list['zet']|number_format:0}></span>
				<{/if}>
			</button>
		</div>
		<{if $sch_free_quick_type == '1'}>
			<div style="float: left; width: auto; padding-top: 3px; font-size: 12px; color: #808080; margin-right:24px;">
				( <span>동일 수령자 2건 이상</span>
					<{if $cms_state_area_list}>
						<{foreach from=$cms_state_area_list key=key item=cnt}>
							<{if $cnt > 1}>
							<button type="button" class="btn btn-dark" style="font-size: 10px; padding: 3px 10px; width: 80px; position: relative; background:#777777;" onclick="checkCntSearch('area', '<{$key}>')">
								<{$key}>
								<span class="new-cnt" style="font-size: 12px;"><{$cnt|number_format:0}></span>
							</button>
							<{/if}>
						<{/foreach}>
					<{/if}>
					)
			</div>
		<{/if}>
		<div style="clear:both; padding-top: 5px;">
			<div style="float: left; width: 150px;">
				<span>접수완료 <{$cms_state_cnt_list[2]|number_format:0}>건</span>
				<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px;" onclick="checkCntSearch('state', '2')">보기</button>
			</div>
			<div style="float: left; width: 150px;">
				<span>진행중 <{$cms_state_cnt_list[3]|number_format:0}>건</span>
				<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px;" onclick="checkCntSearch('state', '3')">보기</button>
			</div>
			<div style="float: left; width: 150px;">
				<span>이슈발생 <{$cms_state_cnt_list['issue']|number_format:0}>건</span>
				<button type="button" class="btn btn-dark" style="font-size: 12px; padding: 3px 10px;" onclick="checkCntSearch('issue', '1')">보기</button>
			</div>
		</div>
	</div>
	<{/if}>

	<{if $sch_free_quick_type == '1'}>
		<div style="clear: both; margin-top: 10px;">
			<span style="color: red; font-size: 14px;">※ 안내 : 상황에 따라 전달방식을 설정한 후  발송 진행상태를 접수완료로 설정해주세요. 접수 시 브랜드별 납품처리자가 자동으로 지정 됩니다.</span>
		</div>

		<div class="step-wrapper" style="overflow:hidden; margin-top: 10px;">
			<div >
				<span class="step-title">[STEP 01] 접수완료 보기</span><b> : </b>
				<button type="button" class="btn_small view-btn" onclick="step_search('step01');">보기</button>
				<button onclick="location.href='excel_work_cms_quick_list_work.php'" class="btn_style1 excel-btn" style="background:#4caf50; padding: 10px 30px;"><span>접수완료 작업지시서 다운로드</span></button>
				<button onclick="location.href='excel_work_cms_quick_list_with.php';" class="btn_style1 excel-btn" style="background:#4caf50; padding: 10px 30px;"><span>택배 접수완료 EMP양식(SKU) 다운로드</span></button>
			</div>
			<form action="work_cms_quick_delivery_insert.php" method="post" name="work_cms_quick_step_02_frm" id="work_cms_quick_step_02_frm" enctype="multipart/form-data">
				<span class="step-title">[STEP 02] 운송장번호 엑셀 적용</span><b> : </b>
				<span  style="width: 40px; color: dimgray; display: inline-block; font-weight: bold;">완료일</span>
				<input type="text" class="date-picker step-date" name="step_02_date" id="step_02_date" value=""/>
				<input type="file" name="delivery_file" id="delivery_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button type="button" onclick="return addDeliveryNoList();" class="btn_file excel-btn" style="padding: 4px 7px; background: #565656; font-weight: bold;">운송장번호 적용</button>
			</form>
		</div>
	<{/if}>

	<div class="table_list_style" style="clear: both; margin-top: 10px;">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
			<tr>
				<td colspan="10" style="text-align: left;padding-right: 5px;padding-top: 15px;">
					<span style="display: block;float: left;line-height: 40px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<div class="right_wrap">
						<button onclick="sort_search('req_date')">출고희망일<{if $ord_type == 'req_date'}><span style="color:red;"><{if $ord_type == 'req_date' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'req_date' && $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th style="min-width:40px; width:40px;">
					<input type="checkbox" name="check_all" value="all" onchange="select_check_all(this);">
				</th>
				<th class="first" style="min-width:60px; width:60px;">w_no<br>작성일</th>
				<th style="min-width: 100px; width: 100px;" >
					발송<br/>진행상태<br/>
					<select name="mod_quick_state" id="mod_quick_state" class="form-control" onchange="modifyQuickState(); return false;" style="font-size: 12px; padding:3px; width: 90px;">
						<option value="">::선택::</option>
						<{foreach from=$quick_state_option key=key item=label}>
						<option value="<{$key}>"><{$label}></option>
						<{/foreach}>
					</select>
				</th>
				<th style="min-width: 100px; width: 100px;" >발송지</th>
				<th style="min-width: 140px; width: 140px;" >문서번호<br/>(주문번호)</th>
				<th style="min-width: 180px; width:180px;" >
					수령자명<br/>
					수령자전화<br/>
					[우편번호]<br/>
					수령지<br/>
				</th>
				<th style="min-width:90px; width:90px;">업체명/브랜드명</th>
				<th style="min-width:200px; width:200px;">커머스 상품명</th>
				<th style="min-width:40px; width:40px;">수량</th>
				<th style="min-width:40px; width:40px;">총수량</th>
				<th style="min-width:240px; width:240px;">구성품목(SKU) * 수량<br>(수량 = 구성품수량 x 상품수량)</th>
				<{if !$is_freelancer}>
				<th style="min-width:140px; width:140px;">상품별 결제금액</th>
				<th style="min-width:110px; width:110px;">실 결제금액<br/>(상품합계)</th>
				<{/if}>
				<th style="min-width:90px; width:90px;">출고희망일</th>
				<th style="min-width:200px; width:200px;">요청사항</th>
				<th style="min-width:90px; width:90px;">요청자</th>
				<th style="min-width:90px; width:90px;">완료일</th>
				<th style="min-width:131px; width:131px;">전달방식</th>
				<th style="min-width:120px; width:120px;">이슈사항</th>
				<th style="min-width:120px; width:120px;">납품처리자</th>
				<th style="min-width:90px; width:90px;">납품업체</th>
				<{if !$is_freelancer}>
					<th style="min-width:120px; width:120px;">관리자메모</th>
				<{/if}>
			</tr>
			</thead>
			<tbody>
			<{if $cms_quick_list}>
				<{assign var=color_idx value=1}>
				<{foreach from=$cms_quick_list item=cms_quick}>
					<{assign var=prd_count value=$cms_quick|@count}>
					<{assign var=idx value=0}>
					<{foreach from=$cms_quick item=cms_prd}>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<form name="apply_frm<{$cms_prd.w_no}>" id="apply_frm<{$cms_prd.w_no}>" class="apply_frm" action="work_cms_quick_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
								<input type="hidden" name="w_no" value="<{$cms_prd.w_no}>">
								<input type="hidden" name="search_url" value="<{$search_url}>">
								<input type="hidden" name="process">

								<{if $idx == '0'}>
									<td class="first" rowspan="<{$prd_count}>"> <!-- checkbox -->
										<input type="checkbox" name="select_check[]" class="select_check" value="<{$cms_prd.order_number}>">
									</td>
								<{/if}>
								<td class="first date" style="font-size:8px;"> <!-- w_no / 작성일-->
									<{$cms_prd.w_no}>
									<span style="display: block; text-align: center; font-size:9px; zoom: 0.9;"><{$cms_prd.reg_date}></span>
									<span style="display: block; text-align: center; font-size:9px; zoom: 0.9;"><{$cms_prd.reg_time}></span>
								</td>
								<{if $idx == '0'}>
									<td rowspan="<{$prd_count}>"> <!-- 발송 진행상태 -->
										<select name="quick_state" onchange="save_el('<{$cms_prd.order_number}>', 'f_quick_state', this)" class="select_type2" id="quick_state_<{$cms_prd.w_no}>" style="width:80px; background: <{$cms_prd.quick_state_bg}>; color: <{$cms_prd.quick_state_color}>">
											<option value="">::선택::</option>
											<{foreach from=$quick_state_color_option key=key item=quick_state_color}>
											<option value="<{$key}>" <{if $key == $cms_prd.quick_state}>selected<{/if}> style="color: <{$quick_state_color.color}>;" attr-color="<{$quick_state_color.color}>" attr-bg="<{$quick_state_color.bg}>"><{$quick_state_color.label}></option>
											<{/foreach}>
										</select>
									</td>
									<td rowspan="<{$prd_count}>"> <!-- 발송지 -->
										<{$cms_prd.sender_type_name}>
									</td>
									<td rowspan="<{$prd_count}>" style="position: relative;"><!-- 주문번호 -->
										<span style="font-weight: bold;"><{$cms_prd.doc_no}></span>
										<span style="color: gray;">(<{$cms_prd.order_number}>)</span>

									</td>
									<td rowspan="<{$prd_count}>"> <!-- 수령자명/수령자전화/수령자전화2/우편번호/수령지 -->
										<span style="text-align:left; display: block; font-weight: bold; font-size: 11pt;"><{$cms_prd.receiver}></span>
										<{if $session_team == '00244' || $session_my_c_type == '3'}>
											<span style="text-align:left; display: block;"><{$cms_prd.receiver_hp}></span>
										<{else}>
											<span style="text-align:left; display: block;"><{$cms_prd.receiver_sc_hp}></span>
										<{/if}>
										<span style="text-align:left; display: block; font-size:11px;"><{$cms_prd.postcode}></span>
										<span style="text-align:left; display: block; font-size:11px;"><{$cms_prd.receiver_addr}></span>
									</td>
								<{/if}>
								<td> <!-- 업체명/브랜드명 -->
									<span style="color: #808080; font-size: 8pt;"><{$cms_prd.c_name}></span>
								</td>
								<td style="text-align: center; position: relative; font-weight: bold;"> <!-- 커머스 상품명 -->
									<{if $cms_prd.prd_type == '1'}>
									<span style="display: inline-block; float: left; text-align: left;font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$cms_prd.k_prd1_name}> > <{$cms_prd.k_prd2_name}> ></span>
									<span style="clear: both; display: block; float: left; text-align: left;"><{$cms_prd.prd_name}></span>
									<{/if}>
								</td>
								<td> <!-- 수량 -->
									<{if $cms_prd.prd_type == '1'}>
									<{$cms_prd.quantity}>
									<{/if}>
								</td>
								<{if $idx == '0'}>
									<td rowspan="<{$prd_count}>"> <!-- 총 수량 -->
										<{if $cms_prd.prd_type == '1'}>
											<{$total_qty_list[$cms_prd.order_number]}>
										<{/if}>
									</td>
								<{/if}>
								<td class="text-left" style="color: #808080; font-style: italic;"> <!-- 구성품 SKU*수량 -->
									<{if $cms_prd.unit_list}>
										<{foreach from=$cms_prd.unit_list item=unit}>
										<span style="display: block;">
											<{$unit.sku}> * <{$unit.qty}>
										</span>
										<{/foreach}>
									<{/if}>
								</td>
								<{if !$is_freelancer}>
								<td style="text-align:right; font-size: 12px;"> <!-- 상품별 결제금액 -->
									<span style="color: #808080;">
										￦<{$cms_prd.unit_price|number_format:0}><br/>
									</span>
								</td>
								<{/if}>

								<{if $idx == '0'}>
									<{if !$is_freelancer}>
										<td rowspan="<{$prd_count}>" style="color: #808080; text-align:right; font-size: 12px;"> <!-- 실결제금액 -->
											￦ <{$final_price_list[$cms_prd.order_number]|number_format:0}>
										</td>
										<{/if}>
										<td rowspan="<{$prd_count}>"> <!-- 출고희망일 -->
											<input type="text" name="f_req_date" class="form-control date-picker" value="<{$cms_prd.req_date}>" style="width: 80px; text-align: center; font-size: 11px; padding: 1px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_req_date', this)" <{if $cms_prd.quick_state == '3' || $cms_prd.quick_state == '4'}>disabled<{/if}>>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 요청사항 -->
											<{if $cms_prd.is_quick_memo == '1'}>
												<span>[EMP 입고/반출 메모 삽입요청]</span>
												<input type="text" name="f_quick_memo" id="f_quick_memo_<{$cms_prd.order_number}>" class="input_type2" value="<{$cms_prd.quick_memo}>" style="float: left;width: 170px; text-align: left; font-size: 11px; padding: 1px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_quick_memo', this)" <{if $cms_prd.quick_state == '3' || $cms_prd.quick_state == '4'}>disabled<{/if}>>
												<img src="./images/icon/duplicate.png" class="quick_copy" attr-ord-no="<{$cms_prd.order_number}>" style="cursor: pointer; float: left; width: 14px; margin-left: 3px; margin-top: 7px;">
											<{/if}>
											<textarea name="f_req_memo" class="textarea_work_message" style="width: 99%; height: 60px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_req_memo', this)" <{if $cms_prd.quick_state == '3' || $cms_prd.quick_state == '4'}>disabled<{/if}>><{$cms_prd.req_memo}></textarea>
											<{if $cms_prd.quick_file_cnt > 0}>
											<div style="margin: 0 5px;">
												<span style="display: inline-block; float: left; line-height: 20px; margin-right: 10px;">FILE: <{$cms_prd.quick_file_cnt}></span>
												<button type="button" style="margin:0; padding: 0; color: black; background: none; font-weight:bold; font-size: 11px; letter-spacing: -1px; float: left;" onclick="openFileDownload('<{$cms_prd.lm_no}>')" class="btn_file" title="다운로드">
													<img src="./images/icon/file_download.png" style="cursor: pointer;" alt="다운로드">
												</button>
											</div>
											<{/if}>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 요청자 -->
											<{$cms_prd.req_s_name}>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 완료일 -->
											<input type="text" name="f_run_date" class="form-control date-picker" value="<{$cms_prd.run_date}>" style="width: 80px; text-align: center; font-size: 11px; padding: 1px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_run_date', this)" >
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 전달방식 -->
											<select name="f_delivery_method" id="f_delivery_method_<{$cms_prd.order_number}>" class="form-control f_delivery_method" style="font-size: 12px;width: 99%; padding: 3px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_delivery_method', this)">
												<option value="">::선택::</option>
												<{foreach from=$delivery_method_option key=key item=label}>
												<option value="<{$key}>" <{if $cms_prd.delivery_method == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>

											<div id="quick_info_wrapper_<{$cms_prd.order_number}>" class="text-left" style="margin-top: 5px; <{if $cms_prd.delivery_method != '2'}>display: none;<{/if}>">
												<span>배차정보 : </span>
												<textarea name="f_quick_info" id="f_quick_info_<{$cms_prd.order_number}>" class="textarea_work_message" style="width: 140px; height: 60px; " onchange="save_el('<{$cms_prd.order_number}>', 'f_quick_info', this)"><{$cms_prd.quick_info}></textarea>
												<{if $is_freelancer}>
													<button type="button" onclick="window.open('work_cms_sms_popup.php?type=quick&staff_type=2&quick_ord_no=<{$cms_prd.order_number}>', '배차정보 문자발송','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file" style="padding: 4px 7px; background: #3093c2; font-weight: bold;"><span>배차정보 문자발송</span></button>
												<{/if}>
											</div>

											<{if $is_freelancer}>
												<div class="text-left f_delivery_wrapper_<{$cms_prd.order_number}>" style="border: 1px solid gray; padding: 2px; margin-top: 5px;<{if $cms_prd.delivery_method != '1'}>display: none;<{/if}>">
													<select name="f_delivery_type" id="f_delivery_type_<{$cms_prd.order_number}>" class="form-control" style="font-size: 12px; width: 100px; padding: 3px;">
														<option value="CJ대한통운" <{if $cms_prd.delivery_type == 'CJ대한통운'}>selected<{/if}>>CJ대한통운</option>
														<option value="한진택배" <{if $cms_prd.delivery_type == '한진택배'}>selected<{/if}>>한진택배</option>
														<option value="NS홈쇼핑" <{if $cms_prd.delivery_type == 'NS홈쇼핑'}>selected<{/if}>>NS홈쇼핑</option>
														<option value="롯데홈쇼핑_직택배" <{if $cms_prd.delivery_type == '롯데홈쇼핑_직택배'}>selected<{/if}>>롯데홈쇼핑_직택배</option>
													</select>
													<textarea name="f_delivery_no" id="f_delivery_no_<{$cms_prd.order_number}>" rows="4"><{if $quick_delivery_list[$cms_prd.order_number]}><{$cms_prd.delivery_text}><{/if}></textarea>
													<button type="button" class="btn btn-dark" onclick="addDelivery('<{$cms_prd.order_number}>')" style="margin-top: 7px; font-size: 11px;padding: 3px 10px;width: 99%;">운송장 저장</button>
												</div>
											<{else}>
												<div class="text-left f_delivery_wrapper_<{$cms_prd.order_number}>" style="border: 1px solid gray; padding: 2px; margin-top: 5px;<{if $cms_prd.delivery_method != '1'}>display: none;<{/if}>">
													<select name="f_delivery_type" class="form-control" style="font-size: 12px; width: 100px; padding: 3px;" disabled>
														<option value="CJ대한통운" <{if $cms_prd.delivery_type == 'CJ대한통운'}>selected<{/if}>>CJ대한통운</option>
														<option value="한진택배" <{if $cms_prd.delivery_type == '한진택배'}>selected<{/if}>>한진택배</option>
														<option value="NS홈쇼핑" <{if $cms_prd.delivery_type == 'NS홈쇼핑'}>selected<{/if}>>NS홈쇼핑</option>
														<option value="롯데홈쇼핑_직택배" <{if $cms_prd.delivery_type == '롯데홈쇼핑_직택배'}>selected<{/if}>>롯데홈쇼핑_직택배</option>
													</select>
													<div style="margin-top: 5px;">
														<{if $quick_delivery_list[$cms_prd.order_number]}>
															<{foreach from=$quick_delivery_list[$cms_prd.order_number] item=quick_delivery_no}>
																<div style="line-height: 25px;">
																	<{$quick_delivery_no}>
																	<{if $cms_prd.delivery_type == 'CJ대한통운'}>
																		<a href="https://trace.cjlogistics.com/next/tracking.html?wblNo=<{$quick_delivery_no}>" target="_blank">
																			<img src="./images/icon/new_win_icon.png">
																		</a>
																	<{elseif $cms_prd.delivery_type == '한진택배'}>
																		<a href="https://www.hanjin.com/kor/CMS/DeliveryMgr/WaybillResult.do?mCode=MN038&schLang=KR&wblnumText2=<{$quick_delivery_no}>" target="_blank">
																			<img src="./images/icon/new_win_icon.png">
																		</a>
																	<{/if}>
																</div>
															<{/foreach}>
														<{/if}>
													</div>
												</div>
											<{/if}>
										</td>
										<td rowspan="<{$prd_count}>" style="text-align: left;"> <!-- 이슈사항 -->
											<input type="checkbox" name="f_is_quick_issue" id="f_is_quick_issue_<{$cms_prd.order_number}>" value="1" style="cursor: pointer;" onclick="save_el('<{$cms_prd.order_number}>', 'f_is_quick_issue', this)" <{if $cms_prd.is_quick_issue == '1'}>checked<{/if}> <{if !$cms_prd.is_run_editable}>disabled<{/if}>>
											<label for="f_is_quick_issue_<{$cms_prd.order_number}>" style="cursor: pointer;">이슈 발생</label>
											<textarea name="f_quick_info" class="textarea_work_message" style="width: 120px; height: 60px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_quick_issue', this)" <{if !$cms_prd.is_run_editable}>disabled<{/if}>><{$cms_prd.quick_issue}></textarea>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 납품처리자 -->
											<select name="f_run_staff" id="f_run_staff_<{$cms_prd.order_number}>" class="form-control f_run_staff" style="font-size: 12px;width: 99%; padding: 3px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_run_staff', this)">
												<option value="">::선택::</option>
												<{foreach from=$quick_run_staff_list key=key item=label}>
												<option value="<{$key}>" <{if $cms_prd.run_s_no == $key}>selected<{/if}>><{$label}></option>
												<{/foreach}>
											</select>
										</td>
										<td rowspan="<{$prd_count}>"> <!-- 납품업체 -->
											<{$cms_prd.run_c_name}>
										</td>
										<{if !$is_freelancer}>
										<td rowspan="<{$prd_count}>"> <!-- 관리자 메모 -->
											<textarea name="memo" class="textarea_work_message" style="width: 120px; height: 60px;" onchange="save_el('<{$cms_prd.order_number}>', 'f_manager_memo', this)"><{$cms_prd.manager_memo}></textarea>
										</td>
									<{/if}>
								<{/if}>
							</form>
						</tr>
						<{assign var=idx value=$idx+1}>
					<{/foreach}>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<td colspan="<{if !$is_freelancer}>22<{else}>19<{/if}>">데이터가 없습니다</td>
			<{/if}>
			<tr>
				<td colspan="<{if !$is_freelancer}>22<{else}>19<{/if}>" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<button onclick="location.href='excel_work_cms_quick_list.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀다운로드</span></button>
</div>
<!-- admin_content -->

<form name="new_quick_form" action="work_cms_quick_list.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="f_order_number" class="f_order_number">
	<input type="hidden" name="f_delivery_no" class="f_delivery_no">
	<input type="hidden" name="f_delivery_type" class="f_delivery_type">
	<input type="hidden" name="chk_quick_list" class="chk_quick_list">
	<input type="hidden" name="chk_value" class="chk_value">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").change(function(){
			if($(this).val() != ''){
				$("#sch_prd_name").attr('disabled', true);
			}else{
				$("#sch_prd_name").removeAttr('disabled');
			}
		});

        $("#sch_reg_s_date").change(function(){
            $(".reg_date_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

        $("#sch_reg_e_date").change(function(){
            $(".reg_date_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

		$(".quick_copy").click(function(){
			var ord_no = $(this).attr('attr-ord-no');
			var text	= $("#f_quick_memo_"+ord_no);
			text.select();
			document.execCommand('Copy');
		});
	});

	function save_el(ord_no, proc, obj)
	{
		var val 		= obj.value;
		var default_val = obj.defaultValue;

		var x 		= $(obj).position();
		var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (proc != 'f_is_quick_issue' && (default_val && val == default_val))
			return false;

		if(proc == 'f_is_quick_issue' ){
			if($(obj).is(":checked")){
				val = 1;
			}else{
				val = 2;
			}
		}

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_quick_info' || proc == 'f_req_memo' || proc == 'f_quick_memo' || proc == 'notice' || proc == 'f_quick_issue')) { // 메모
			$.post("work_cms_quick_list.php", {ord_no : ord_no, process : proc, val : val}, function(result){

				if(proc == 'f_delivery_method'){
					if(val == "1"){
						$(".f_delivery_wrapper_"+ord_no).show();
						$("#quick_info_wrapper_"+ord_no).hide();
					}else if(val == "2"){
						$("#quick_info_wrapper_"+ord_no).show();
						$(".f_delivery_wrapper_"+ord_no).hide();
					}else if(val == "3"){
						$("#quick_info_wrapper_"+ord_no).hide();
						$(".f_delivery_wrapper_"+ord_no).hide();
					}
				}

				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

	function searchList(){
		$("#sch_quick_search").val('');
		document.search_form.submit();
	}

	function normal_search() {
		var f = document.forms['search_form'];

		var ord_page    = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();

		if(ord_type_by == '1'){
			$("#ord_type").val("");
			$("#ord_type_by").val("");
		}else if(ord_type_by == '2'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}

		f.submit();
	}

	function checkCntSearch(type, value)
	{
		resetSearch();

		$("#sch_reg_date_type").val('');
		$("#sch_quick_search").val('');
		if(type == 'state') {
			$("#sch_quick_state").val(value);
		}else if(type == 'issue'){
			if(!$("#sch_is_quick_issue").is(":checked")){
				$("#sch_is_quick_issue").trigger('click');
			}
			$("#sch_quick_state").val('');
		}
		else if(type == 'quick')
		{
			$("#sch_quick_state").val(1);
			$("#sch_quick_search").val(value);

			if($("#sch_is_coupang").is(":checked")){
				$("#sch_is_coupang").click();
			}

			if(value == '1') {
				$("#sch_is_coupang").click();
			}else if(value == '2'){
				$("#sch_run_c_no").val(5468);
			}else if(value == '3'){
				$("#sch_run_c_no").val(5469);
			}
		}
		else if(type == 'area')
		{
			$("#sch_receiver_name").val(value);
		}

		document.forms['search_form'].submit();
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');
			var id = $(input).attr('id');

			if(type == 'checkbox') {
				if($(input).is(":checked")){
					$(input).click();
				}

			} else if(type == 'hidden'){

			} else if(type == 'text'){
				$(input).val("");
			}else {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".reg_date_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
	}

	function addDelivery(ord_no)
	{
		if(confirm("입력하신 운송장번호를 저장하시겠습니까?"))
		{
			var delivery_no 	= $("#f_delivery_no_"+ord_no).val();
			var delivery_type 	= $("#f_delivery_type_"+ord_no).val();

			if(!delivery_no){
				alert("운송장 번호를 입력해주세요.");
				return false;
			}

			document.new_quick_form.process.value 			= "add_delivery";
			document.new_quick_form.f_order_number.value 	= ord_no;
			document.new_quick_form.f_delivery_no.value 	= delivery_no;
			document.new_quick_form.f_delivery_type.value 	= delivery_type;
			document.new_quick_form.submit();
		}
	}

	function openFileDownload(lm_no){
		var fileDownloadUrl = "logistics.file_download.php?lm_no="+lm_no;
		var windowName 		= "파일 다운로드";
		window.open(fileDownloadUrl,windowName,'width=530, height=440, toolbar=no, menubar=no, scrollbars=yes, resizable=yes')
	}

	function select_check_all(chkall)
	{
		var chk = document.getElementsByName("select_check[]");
		for (var i=0; i<chk.length; i++)
			chk[i].checked = chkall.checked;
	}

	function checkQuickSelect()
	{
		var chk_quick_list 	   = "";

		$(".select_check").each(function(idx, item){
			if($(item).is(":checked")){
				chk_quick_list += ($(item).val() + ",");
			}
		});

		if(chk_quick_list != ""){
			chk_quick_list = chk_quick_list.slice(0, -1);
		}

		$(".chk_quick_list").val(chk_quick_list);
	}

	function modifyQuickState()
	{
		checkQuickSelect();

		if($(".chk_quick_list").val() == ''){
			alert("체크 후 이용해주세요");
			return false;
		}

		if($("#mod_quick_state").val() == ''){
			alert("진행상태 선택 후 이용해주세요");
			return false;
		}

		if(confirm("진행상태를 변경하시겠습니까?"))
		{
			document.new_quick_form.process.value 	= 'change_status';
			document.new_quick_form.chk_value.value = $("#mod_quick_state").val();
			document.new_quick_form.submit();
		}

		return false;
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else if(type == 'text') {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

	function step_search(step)
	{
		var f = document.forms['search_form'];

		if(step == 'step01')
		{
			resetSearch();
			$("#sch_quick_state").val('2');
		}

		f.submit();
	}

	function addDeliveryNoList()
	{
		var f = document.forms['work_cms_quick_step_02_frm'];

		if(!$('#step_02_date').val()){
			alert("발송처리일을 선택해주세요");
			return;
		}

		if(!$('#delivery_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("운송장번호를 처리하시겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}
</script>

</body>
</html>
