<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.left_wrap .name_tit{display: inline-block; width: 90px;}
	.reg_active{background: #3093c2 !important;}
	.return_prd_total_wrapper div.return_add_prd_wrap{height: 150px;box-sizing: border-box;padding-top: 55px;border-bottom: 1px solid #ccc;}
	.return_purpose_wrap{text-align: left;margin: 0 auto;height: 150px;padding: 35px 10px;box-sizing: border-box;border-bottom: 1px solid #ccc;}
	.return_select_wrap{text-align: left; margin: 0 auto; display: table;}
	.return_select_wrap select{width:200px; height: 150px;}
	.return_add_prd_wrap .new_prd_name{float: left; width:250px; background-color: #ffffcc;}
	.return_add_prd_wrap .open_quick_btn{float: left; margin: 5px;}
	.return_add_prd_wrap .return_quantity{float: left; width: 40px; font-size: 12px; font-weight: bold; text-align: center;}
	.return_add_prd_wrap .return_del_btn{float: left; padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;}
	.empty-visible{height: 30px;}
</style>

<div class="admin_content">
	<h2 class="title">● 택배 리스트 찾기 (<b style="color: blue;">회수</b> 리스트에 없는 경우)</h2>
	<form method="get" name="search_form" id="search_form" action="work_cms_return_extra.php" style="margin-top: 20px;">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div style="margin-bottom: 5px;">
				<span class="name_tit">작성일시</span>
				<input type="text" class="date-picker form-control" id="sch_reg_s_date" name="sch_reg_s_date" value="<{$sch_reg_s_date}>" style="display: inline-block;"/>
				<span>~</span>
				<input type="text" class="date-picker form-control" id="sch_reg_e_date" name="sch_reg_e_date" value="<{$sch_reg_e_date}>" style="display: inline-block;" />
				<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
				<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
				<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
				<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
				<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
				<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
				<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">

				<button type="button" onclick="regdateVal('today')" class="btn_small reg_date_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" >오늘</button>
				<button type="button" onclick="regdateVal('week')" class="btn_small reg_date_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>">1주</button>
				<button type="button" onclick="regdateVal('month')" class="btn_small reg_date_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>">1달</button>
				<button type="button" onclick="regdateVal('months')" class="btn_small reg_date_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>">3달</button>
				<button type="button" onclick="regdateVal('year')" class="btn_small reg_date_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>">1년</button>
				<button type="button" onclick="regdateVal('years')" class="btn_small reg_date_btn reg_years_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>">2년</button>
				<span style="margin-right:15px;"></span>
			</div>
			<div class="left_wrap" style="margin-right: 15px;">
				<span class="name_tit">원운송장번호</span>
				<input type="text" name="sch_delivery_no" id="sch_delivery_no" class="input_type3" style="background-color: #ffffcc; width:140px;" value="<{$sch_delivery_no}>" />
				<br/>
				<span class="name_tit">원주문번호</span>
				<input type="text" name="sch_parent_ord_no" id="sch_parent_ord_no" class="input_type3" style="background-color: #ffffcc; width:140px;" value="<{$sch_parent_ord_no}>" />
			</div>
			<div class="left_wrap">
				<span class="name_tit" ><b style="color: blue;">회수</b>자명</span>
				<input type="text" name="sch_recipient" id="sch_recipient" class="input_type3" value="<{$sch_recipient}>" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit" style="width: 120px;" ><b style="color: blue;">회수</b>자전화</span>
				<input type="text" name="sch_recipient_hp" id="sch_recipient_hp" class="input_type3" value="<{$sch_recipient_hp}>" maxlength="4" />
				<span style="margin-right:15px;"></span>

				<br>
				<span class="name_tit" >우편번호</span>
				<input type="text" name="sch_zip_code" id="sch_zip_code" class="input_type3" value="<{$sch_zip_code}>" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit" style="width: 75px;"><b style="color: blue;">회수</b>지</span>
				<input type="text" name="sch_recipient_addr" id="sch_recipient_addr" class="input_type3" style="width: 145px;" value="<{$sch_recipient_addr}>" />
				<span style="margin-right:15px;"></span>

				<br>
			</div>
			<div style="clear: both;padding-top: 10px;">
				<button type="button" class="btn_small view-btn" onclick="search_check()" style="margin-top: 0;height: 25px;width: 695px;font-weight: bold;">택배 리스트 찾기</button>
				<br/>
				<span style="color: red;">※ 검색시 2가지 이상 입력 필수! 택배리스트에서도 조회가 안되는 경우 C/S운영 담당자에게 별도 문의</span>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="margin-top: 30px;">
		<table cellpadding="0" cellspacing="0" style="margin: 0;">
			<thead>
				<tr>
					<th style="min-width:700px; width:707px; height: 30px;" colspan="6">원배송정보</th>
					<th style="min-width:900px; width:900px;" colspan="5"><b style="color: blue;">회수</b> 정보</th>
				</tr>
				<tr>
					<th class="first" style="min-width:70px; width:70px;">주문일시</th>
					<th style="min-width:100px; width:100px;">주문번호<br/>수령자명<br/>수령자전화</th>
					<th style="min-width:260px; width:260px;">[우편번호]<br/>수령지</th>
					<th style="min-width:90px; width:90px;">배송메모</th>
					<th style="min-width:80px; width:80px;">발송처리일</th>
					<th style="min-width:90px; width:90px;">택배사<br/>운송장번호</th>
					<th style="min-width:400px; width:400px;">커머스 상품명/수량</th>
					<th style="min-width:100px; width:100px;"><b style="color: blue;">회수</b>목적</th>
					<th style="min-width:150px; width:150px;">사유 구분</th>
					<th style="min-width:150px; width:150px;">구분</th>
					<th style="min-width:100px; width:100px;"><b style="color: blue;">회수</b>추가</th>
				</tr>
			</thead>
		</table>
		<{if $work_cms_list}>
			<{foreach from=$work_cms_list item=work_cms}>
			<form name="apply_frm_<{$work_cms.order_number}>" id="apply_frm_<{$work_cms.order_number}>" action="work_cms_return_extra.php" method="post" enctype="multipart/form-data">
				<input type="hidden" name="process" value="new_return">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<input type="hidden" name="parent_order_number" value="<{$work_cms.order_number}>">
				<input type="hidden" name="first_shop_no" id="first_shop_no_<{$work_cms.order_number}>" value="<{$work_cms.first_shop_no}>">
				<table cellpadding="0" cellspacing="0" style="margin: 0;">
					<tbody>
						<tr>
							<td class="first" style="min-width:71px; width:72px;"> <!-- 주문일시 -->
								<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$work_cms.ord_date}></span>
								<span style="color:green; display: block; text-align: center; font-size:9px;"><{$work_cms.ord_time}></span>
							</td>
							<td style="min-width:101px; width:103px;"> <!-- 수령자명/수령자전화 -->
								<span style="text-align:left; display: block;"><{$work_cms.recipient}></span>
								<span style="text-align:left; display: block;"><{$work_cms.recipient_sc_hp}></span>
							</td>
							<td style="min-width:264px; width:267px;"> <!-- 우편번호/수령지 -->
								<span style="text-align:left; display: block; font-size:11px;"><{$work_cms.postcode}></span>
								<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;"><{$work_cms.recipient_addr}></span>
							</td>
							<td style="min-width:92px; width:90px;"> <!-- 배송메모 -->
								<textarea class="textarea_work_message_readonly" style="width: 80px; height: 60px;" readonly><{$work_cms.delivery_memo}></textarea>
							</td>
							<td style="font-size:9px; min-width:81px; width:81px;"> <!-- 발송처리일 -->
								<{$work_cms.stock_date}>
							</td>
							<td style="min-width:91px; width:92px;"> <!-- 택배사/운송장번호 -->
								<{if $work_cms.delivery_list}>
									<{foreach from=$work_cms.delivery_list key=key item=delivery_data}>
										<div style="margin: 3px 0;">
											<span style="text-align:center; display: block; font-size:9px;"><{$delivery_data.delivery_type}></span>
											<span style="text-align:center;"><{$delivery_data.delivery_no}></span>
										</div>
									<{/foreach}>
								<{/if}>
							</td>
							<td style="min-width:400px; width:400px;"> <!-- 상품명/수량 -->
								<div class="return_prd_total_wrapper_<{$work_cms.order_number}> return_prd_total_wrapper" style="overflow: hidden;">
									<input type="hidden" id="return_idx_<{$work_cms.order_number}>" value="<{$work_cms.prd_list|@count}>" />
									<{if $work_cms.prd_list}>
										<{foreach from=$work_cms.prd_list item=return_prd}>
											<div class="return_prd_wrap_<{$return_prd.unit_idx}> return_add_prd_wrap" >
												<input type="hidden" name="new_prd_no[]" id="new_prd_no_<{$return_prd.unit_idx}>" value="<{$return_prd.prd_no}>" required />
												<input type="hidden" name="new_shop_ord_no[]" id="new_shop_ord_no_<{$return_prd.unit_idx}>" value="<{$return_prd.shop_ord_no}>" required />
												<input type="hidden" name="new_return_purpose[]" id="new_purpose_return_<{$return_prd.unit_idx}>" value="3" />
												<a href="javascript:void(0)" class="open_quick_btn" onclick="open_quick_prd('<{$return_prd.unit_idx}>')"><img src="./images/icon/import.png"></a>
												<input type="text" name="new_prd_name[]" id="new_prd_name_<{$return_prd.unit_idx}>" class="input_type5 new_prd_name" attr-key="<{$return_prd.unit_idx}>" value="<{$return_prd.prd_name}>" required/>
												<input type="number" name="new_quantity[]" id="new_quantity_<{$return_prd.unit_idx}>" class="input_type3 return_quantity" value="<{$return_prd.quantity}>" required />
												<button type='button' class="return_del_btn" onclick="delPrdColumn('<{$return_prd.unit_idx}>')">-</button>
											</div>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="text-right">
									<button type="button" onclick="addPrdColumn('<{$work_cms.order_number}>')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px;">+</button>
								</div>
							</td>
							<td style="min-width:100px; width:100px; padding: 0"> <!-- 회수목적 -->
								<div class="return_purpose_wrapper_<{$work_cms.order_number}>">
									<{if $work_cms.prd_list}>
										<{foreach from=$work_cms.prd_list item=return_prd}>
										<div class="return_purpose_wrap_<{$return_prd.unit_idx}> return_purpose_wrap">
											<{foreach from=$return_purpose_option key=key item=label}>
												<input type="radio" name="return_purpose_<{$return_prd.unit_idx}>" id="return_purpose_<{$return_prd.unit_idx}>_<{$key}>" class="return_purpose" value="<{$key}>" <{if $key == '3'}>checked<{else}>disabled<{/if}>>
												<label for="return_purpose_<{$return_prd.unit_idx}>_<{$key}>"><{$label}></label><br/>
											<{/foreach}>
										</div>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="empty-visible"></div>
							</td>
							<td style="min-width:150px; width:150px;"> <!-- 사유구분 -->
								<div class="return_reason_wrapper_<{$work_cms.order_number}> return_reason_wrapper">
									<{if $work_cms.prd_list}>
										<{foreach from=$work_cms.prd_list item=return_prd}>
											<div class="return_reason_wrap_<{$return_prd.unit_idx}> return_select_wrap" >
												<select name="new_return_reason[]" class="select_type1 new_return_reason" size="10" style="width:140px;">
													<{foreach from=$return_reason_option key=reason item=label}>
													<option value="<{$reason}>" <{if $reason == '10'}>selected<{/if}> <{if $reason != '10'}>disabled<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
											</div>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="empty-visible"></div>
							</td>
							<td style="min-width:150px; width:150px;">
								<div class="return_type_wrapper_<{$work_cms.order_number}> return_type_wrapper">
									<{if $work_cms.prd_list}>
										<{foreach from=$work_cms.prd_list item=return_prd}>
											<div class="return_type_wrap_<{$return_prd.unit_idx}> return_select_wrap" >
												<select name="new_return_type[]" class="select_type1 new_return_type" size="8" style="width:140px;">
													<{foreach from=$return_type_option key=type item=label}>
													<option value="<{$type}>" <{if $type == '0'}>selected<{/if}>><{$label}></option>
													<{/foreach}>
												</select>
											</div>
										<{/foreach}>
									<{/if}>
								</div>
								<div class="empty-visible"></div>
							</td>
							<td style="min-width:100px; width:100px; padding: 5px;">  <!-- 회수 추가 -->
								<{$session_name}><br/>
								<button type="submit" style="background: #333; color: white; padding: 40px 10px; margin-top: 5px; border-radius: 10px;"><b style="color: #3093c2;">회수</b> 리스트 추가</button>
							</td>
						</tr>
						</tbody>
					</table>
				</form>
			<{/foreach}>
		<{else}>
		<table cellpadding="0" cellspacing="0" style="margin: 0;">
			<tbody>
				<tr>
					<td colspan="11" class="first" style="width: 1600px;">데이터가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<{/if}>

		<table cellpadding="0" cellspacing="0" style="width: 1608px;">
			<tbody>
				<tr>
					<td colspan="11" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		addAutoLoad();
    });

    function search_check()
	{
		var sch_count = 0;

    	if($("#sch_delivery_no").val()){
			sch_count++;
			sch_count++;
		}

        if($("#sch_parent_ord_no").val()){
            sch_count++;
            sch_count++;
        }

		if($("#sch_recipient").val()){
			sch_count++;
		}

		if($("#sch_recipient_hp").val()){
			sch_count++;
		}

		if($("#sch_recipient_addr").val()){
			sch_count++;
		}

		if($("#sch_zip_code").val()){
			sch_count++;
		}

		if(sch_count < 2){
			alert("2가지 이상 검색조건을 입력해주세요.");
			return false;
		}

		document.search_form.submit();
    }

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".regdate_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
	}

	function addPrdColumn(order_number)
	{
		var attrKey  = Number($("#return_idx_" + order_number).val()) + 1;
		var shop_no  = $("#first_shop_no_"+order_number).val();
		var unitIdx  = order_number + "_" + attrKey;

		var addHtml  = "<div class='return_prd_wrap_" + unitIdx + " return_add_prd_wrap'>"
				+ "<input type='hidden' name='new_prd_no[]' id='new_prd_no_" + unitIdx + "' value='' required/>"
				+ "<input type='hidden' name='new_shop_ord_no[]' id='new_shop_ord_no_" + unitIdx + "' value='"+shop_no+"' required/>"
				+ "<input type='hidden' name='new_return_purpose[]' id='new_purpose_return_" + unitIdx + "' value='3' required/>"
				+ "<a href='javascript:void(0)' class='open_quick_btn' onclick='open_quick_prd(\"" + unitIdx + "\")'><img src='./images/icon/import.png'></a>"
				+ "<input type='text' name='new_prd_name[]' id='new_prd_name_" + unitIdx + "' class='input_type5 new_prd_name' attr-key='"+ unitIdx +"' required/>"
				+ "<input type='number' name='new_quantity[]' id='new_quantity_" + unitIdx + "' class='input_type3 return_quantity' required />"
				+ "<button type='button' class='return_del_btn' onclick='delPrdColumn(\"" + unitIdx + "\")'>-</button>"
				+ "</div>";

		$("#return_idx_" + order_number).val(attrKey);
		$('.return_prd_total_wrapper_' + order_number).append(addHtml);

		var reasonHtml 	= $('.new_return_reason').html();
		var typeHtml	= $('.new_return_type').html();

		var purposeAddHtml = "<div class='return_purpose_wrap_" + unitIdx + " return_purpose_wrap'>" +
				"<input type='radio' name='return_purpose_" + unitIdx+"' id='return_purpose_" + unitIdx + "_1' class='return_purpose' value='1' disabled><label for='return_purpose_" + attrKey + "_1'>교환</label><br/>" +
				"<input type='radio' name='return_purpose_" + unitIdx+"' id='return_purpose_" + unitIdx + "_2' class='return_purpose' value='2' disabled><label for='return_purpose_" + attrKey + "_2'>반품</label><br/>" +
				"<input type='radio' name='return_purpose_" + unitIdx+"' id='return_purpose_" + unitIdx + "_2' class='return_purpose' value='3' checked><label for='return_purpose_" + attrKey + "_3'>미확인</label>" +
				"</div>";


		var reasonAddHtml = "<div class='return_reason_wrap_" + unitIdx + " return_select_wrap'>" +
				"<select name='new_return_reason[]' class='select_type1 new_return_reason' size='10' style='width: 140px;'>"+
				reasonHtml +
				"</select>" +
				"</div>";

		var typeAddHtml = "<div class='return_type_wrap_" + unitIdx + " return_select_wrap'>" +
				"<select name='new_return_type[]' class='select_type1 new_return_type' size='8' style='width: 140px;'>"+
				typeHtml +
				"</select>" +
				"</div>";

		$('.return_purpose_wrapper_' + order_number).append(purposeAddHtml);
		$('.return_reason_wrapper_' + order_number).append(reasonAddHtml);
		$('.return_type_wrapper_' + order_number).append(typeAddHtml);

		addAutoLoad();
	}

	function delPrdColumn(unit_idx){
    	$(".return_prd_wrap_"+unit_idx).remove();
    	$(".return_purpose_wrap_"+unit_idx).remove();
    	$(".return_reason_wrap_"+unit_idx).remove();
    	$(".return_type_wrap_"+unit_idx).remove();
	}

	function addAutoLoad()
	{
		$(".new_prd_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_auto.api.php",
					dataType: "json",
					data: {
						prd_name:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								prd_no : item.prd_no,
								label  : item.prd_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#new_prd_no_"+key).val(ui.item.prd_no);
			},
			focus: function( event, ui ) {
				return false;
			},
			minLength: 1
		});
	}

	function open_quick_prd(idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms_with&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if(checkAddProduct(idx, prd_no)){
			$("#new_prd_no_"+idx).val(prd_no);
			$("#new_prd_name_"+idx).val(prd_name);
		}else{
			alert('이미 등록된 상품이 있습니다.');
			return false;
		}
	}

	function checkAddProduct(type, prd_no)
	{
		var result = true;
		var chk_type = type.split("_");

		$(".return_prd_total_wrapper_"+chk_type[0]+" input[name='new_prd_no[]']").each(function(idx, item){
			var chk_prd_no = $(item).val();

			if(chk_prd_no == prd_no){
				result = false;
			}
		});

		return result;
	}


</script>

</body>
</html>
