<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form{width: 1365px;}
	.admin_content h2.title{margin-bottom: 10px;}
	.search_form label{margin: 0 10px 0 0;}
	.search_form .form-group{width: 100%; margin-top: 5px;}
	.search_form.form-inline .form-control{font-size: 12px; margin-right: 20px;}
	.search_order_form .form-control{font-size: 12px; padding: 3px;}
	.table_list_style table{width: 1200px; margin-top: 20px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle; height: 50px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;}
	.table_list_style .form-control{font-size: 12px; padding: 3px;}
	.state-btn-group{margin-top: 20px;}
	.state-btn-group button{background: #333; color: white; font-size: 14px;margin-top: 0;width: 120px;padding: 5px 10px;}
	.state-btn-group button:hover{color: white; background: red;}
	.state-btn-group button.btn-selected{background: red;}
	.state1, .state2, .state6, .state9{color: black;}
	.state3, .state7, .state8{color: red;}
	.state4{color: blue;}
	.state5{color: green;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<{if $nav_prd_no}>
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{else}>
		●
		<{/if}>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" action="work_cms_visit_list.php" class="search_form form-inline" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="state-btn-group">
			<button type="button" class="btn btn-sm font-weight-bold <{if !$sch_visit_state}>btn-selected<{/if}>" onclick="changeState('')">전체</button>
			<{foreach from=$visit_state_btn_option key=key item=label}>
			<button type="button" class="btn btn-sm font-weight-bold <{if $sch_visit_state == $key}>btn-selected<{/if}>" onclick="changeState('<{$key}>')" >
				<{$label}>
				<{if $key > 1 && $cms_visit_state_list[$key] > 0}>
				(<{$cms_visit_state_list[$key]}>)
				<{/if}>
			</button>
			<{/foreach}>
		</div>

		<div class="form-group">
			<label>v_no</label>
			<input type="text" id="sch_v_no" class="form-control" name="sch_v_no" value="<{$sch_v_no}>" style="width: 60px;" />

			<label>진행상태</label>
			<select id="sch_visit_state" name="sch_visit_state" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$visit_state_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_visit_state==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>접수일자</label>
			<input type="text" id="sch_req_s_date" class="form-control date-picker" name="sch_req_s_date" value="<{$sch_req_s_date}>" style="width: 80px; padding: 3px; margin-right: 3px;" />~
			<input type="text" id="sch_req_e_date" class="form-control date-picker" name="sch_req_e_date" value="<{$sch_req_e_date}>" style="width: 80px; padding: 3px;" />

			<label>num</label>
			<input type="text" id="sch_req_num" class="form-control" name="sch_req_num" value="<{$sch_req_num}>" style="width: 60px;" />

			<label>발주단계</label>
			<select id="sch_visit_step" name="sch_visit_step" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$visit_step_option item=label}>
				<option value="<{$label}>" <{if $sch_visit_step==$label}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>고객명</label>
			<input type="text" id="sch_customer" class="form-control" name="sch_customer" value="<{$sch_customer}>" style="width: 80px;" />

			<label>제품명</label>
			<select id="sch_prd_code" name="sch_prd_code" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$prd_code_option item=label}>
				<option value="<{$label}>" <{if $sch_prd_code==$label}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label>방문코드</label>
			<select id="sch_visit_code" name="sch_visit_code" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$visit_code_option item=label}>
				<option value="<{$label}>" <{if $sch_visit_code==$label}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>
		</div>
		<div class="form-group">
			<label>접수내용</label>
			<input type="text" id="sch_req_content" class="form-control" name="sch_req_content" value="<{$sch_req_content}>" style="width: 150px;" />

			<label>완료일자</label>
			<input type="text" id="sch_run_s_date" class="form-control date-picker" name="sch_run_s_date" value="<{$sch_run_s_date}>" style="width: 80px; padding: 3px; margin-right: 3px;" />~
			<input type="text" id="sch_run_e_date" class="form-control date-picker" name="sch_run_e_date" value="<{$sch_run_e_date}>" style="width: 80px; padding: 3px;" />

			<label>유/무상</label>
			<input type="text" id="sch_visit_free" class="form-control" name="sch_visit_free" value="<{$sch_visit_free}>" style="width: 80px;" />

			<label>완료내용</label>
			<input type="text" id="sch_run_content" class="form-control" name="sch_run_content" value="<{$sch_run_content}>" style="width: 150px;" />

			<label>센터명</label>
			<input type="text" id="sch_center" class="form-control" name="sch_center" value="<{$sch_center}>" style="width: 120px;" />

			<label>주문번호</label>
			<input type="text" id="sch_order_number" class="form-control" name="sch_order_number" value="<{$sch_order_number}>" style="width: 120px;" />

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
	</form>

	<{if $is_freelancer}>
	<div style="margin-top: 20px;">
		<div>
			<b style="display: inline-block; width: 250px; font-size: 14px;">[STEP 01] NESS 전상망 엑셀 다운로드 : </b>
			<button onclick="location.href='excel_work_cms_visit_list.php?<{$search_url}>';" class="btn_style1" style="padding: 5px 10px;"><span>진행요청<{if $cms_visit_state_list[3] >0}>(<{$cms_visit_state_list[3]}>)<{/if}> DOWNLOAD</span></button>
			<form action="work_cms_visit_list.php" name="mod_visit_list_frm" id="mod_visit_list_frm" method="post" style="display: inline-block;">
				<input type="hidden" name="process" value="upd_total_visit"/>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button onclick="updateTotalVisit()" class="btn_style1" style="padding: 5px 10px;"><span>진행요청<{if $cms_visit_state_list[3] >0}>(<{$cms_visit_state_list[3]}>)<{/if}> 일괄 접수완료</span></button>
			</form>
		</div>
		<div style="margin: 10px 0;">
			<form action="work_cms_visit_insert.php" name="add_visit_list_frm" id="add_visit_list_frm" enctype="multipart/form-data" method="post">
				<b style="display: inline-block; width: 250px; font-size: 14px;">[STEP 02] NESS 전상망 엑셀 업로드 : </b>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<input type="file" name="visit_file" id="visit_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;" />
				<button type="button" onclick="return uploadVisitList();" class="btn_file" style="padding: 4px 21px; background: #565656; font-weight: bold;">UPLOAD</button>
			</form>
		</div>
		<span style="color: red;">※주의 : 주문번호, 접수일자, num 기준으로 엑셀의 전산정보가 반영 됩니다. 파일 형식이 다르거나 주문번호, 접수일자, num 가 없거나 존재하지 않을 경우 업로드 되지 않습니다.</span>
	</div>
	<{/if}>

	<{if !$is_freelancer}>
	<div class="search_order_form" style="overflow:hidden; margin-top: 20px;">
		<form action="work_list_cms.php" method="get">
			<input type="hidden" name="sch_reg_s_date" value="<{$sch_reg_s_date}>">
			<input type="hidden" name="sch_reg_e_date" value="<{$sch_reg_e_date}>">
			<input type="hidden" name="sch_reg_date_type" value="year">
			<div style="float: left; display: inline-block; font-size: 18px; margin-right: 20px;">
				<b>방문지원 상품<br/>구매내역 찾기</b>
			</div>
			<table class="table table-striped table-bordered" style="float: left; width: auto;">
				<colgroup>
					<col width="500px;">
					<col width="120px;">
					<col width="120px;">
					<col width="120px;">
					<col width="120px;">
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col" rowspan="2">상품명</th>
						<th scope="col" rowspan="2">수령자명</th>
						<th scope="col" rowspan="2">수령자전화번호</th>
						<th scope="col" rowspan="2">구매처</th>
						<th scope="col" rowspan="2">주문번호</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select name="sch_prd_g1" class="form-control sch_prd_g1" style="display: inline-block; float: left; width: 120px;">
								<option value="04033">닥터피엘(정수기)</option>
							</select>
							<select name="sch_prd_g2" class="form-control sch_prd_g2" style="display: inline-block; float: left; width: 150px;">
								<option value="04034">코스트제로 정수기</option>
							</select>
							<select name="sch_prd" class="form-control sch_prd" style="display: inline-block; float: left; width: 200px;">
								<option value="">::전체::</option>
								<{foreach from=$costzero_prd_list key=key item=label}>
								<option value="<{$key}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td>
							<input type="text" name="sch_recipient" class="form-control" style="width: 110px;">
						</td>
						<td>
							<input type="text" name="sch_recipient_hp" class="form-control" style="width: 110px;">
						</td>
						<td>
							<input type="text" name="sch_dp_c_name" class="form-control" style="width: 110px;">
						</td>
						<td>
							<input type="text" name="sch_order_number" class="form-control" style="width: 110px;">
						</td>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-dark" style="margin: 0 0 0 10px; height: 80px; font-size: 14px; font-weight: bold; width: 60px;">찾기</button>
		</form>

	</div>
	<{/if}>

	<div class="table_list_style">
		<table class="table table-striped table-bordered">
			<colgroup>
				<col width="60px;">
				<col width="80px;">
				<col width="100px;">
				<col width="180px;">
				<col width="90px;">
				<col width="80px;">
				<col width="130px;">
				<col width="100px;">
				<col width="200px;">
				<col width="110px;">
				<col width="100px;">
				<col width="200px;">
				<col width="80px;">
				<col width="100px;">
				<col width="100px;">
				<col width="200px;">
				<col width="100px;">
				<{if !$is_freelancer}>
				<col width="80px;">
				<{/if}>
				<col width="130px;">
			</colgroup>
			<thead class="thead-dark text-center">
			<tr>
				<td colspan="15" style="text-align: left;">
					<span style="text-align: left; line-height: 30px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_option key=key item=label}>
						<option value="<{$key}>" <{if $ord_page_type == $key}>selected<{/if}>><{$label}>개씩 보기</option>
						<{/foreach}>
					</select>
					<span style="float: right;line-height: 30px;color: red;font-weight: bold;font-size: 14px;margin-right: 40px;">총 수금액 : <{$cms_visit_sum|number_format:0}></span>
				</td>
				<td colspan="<{if !$is_freelancer}>4<{else}>3<{/if}>"></td>
			</tr>
			<tr>
				<th scope="col" rowspan="2">v_no</th>
				<th scope="col" rowspan="2">작성일시</th>
				<th scope="col" rowspan="2">진행상태</th>
				<th scope="col" rowspan="2">접수일자-num<br/>(발주일자-num)</th>
				<th scope="col" rowspan="2">발주단계</th>
				<th scope="col" rowspan="2">고객명</th>
				<th scope="col" rowspan="2">연락처</th>
				<th scope="col" rowspan="2">주소1</th>
				<th scope="col" rowspan="2">주소2</th>
				<th scope="col" rowspan="2">제품명<br/>(제품코드)</th>
				<th scope="col" rowspan="2">방문코드</th>
				<th scope="col" rowspan="2">접수내용</th>
				<th scope="col" rowspan="2">완료일자</th>
				<th scope="col" rowspan="2">유/무상</th>
				<th scope="col" rowspan="2">수금액</th>
				<th scope="col" rowspan="2">완료내용<br/>(시리얼/완료내용)</th>
				<th scope="col" rowspan="2">센터명</th>
				<{if !$is_freelancer}>
				<th scope="col" rowspan="2">구매처</th>
				<{/if}>
				<th scope="col" rowspan="2">주문번호<br/>(고유번호&회원번호)</th>
			</tr>
			</thead>
			<tbody>
			<{if $cms_visit_list}>
				<{foreach from=$cms_visit_list item=cms_visit}>
				<tr>
					<td> <!-- v_no -->
						<{$cms_visit.v_no}>
						<{if $cms_visit.visit_state == 3 && !$is_freelancer}>
							<br/>
							<a href="#" onclick="save_el('<{$cms_visit.v_no}>', 'del_visit', this);"><span style="font-size:6px;">[삭제]</span></a>
						<{/if}>
					</td>
					<td> <!-- 작성일시 -->
						<{$cms_visit.reg_day}><br/>
						<{$cms_visit.reg_hour}>
					</td>
					<td> <!-- 진행상태 -->
						<select class="form-control state_option state<{$cms_visit.visit_state}>" style="width: 90px;" onchange="save_el('<{$cms_visit.v_no}>', 'visit_state', this)" <{if ($cms_visit.visit_state == 5 || $cms_visit.visit_state == 6) || $is_freelancer}>disabled<{/if}>>
							<{foreach from=$visit_state_option key=key item=label}>
								<option value="<{$key}>" <{if $cms_visit.visit_state==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</td>
					<td> <!-- 접수일자-num -->
						<input type="text" class="form-control date-picker" style="width: 100px;float: left;" value="<{$cms_visit.req_date}>" onchange="save_el('<{$cms_visit.v_no}>', 'req_date', this)" <{if $cms_visit.visit_state != 3 || $is_freelancer}>disabled<{/if}> />
						<span style="float: left;line-height: 35px;margin: 0 5px;">-</span>
						<input type="text" class="form-control" style="width: 50px;" value="<{$cms_visit.req_num}>" onchange="save_el('<{$cms_visit.v_no}>', 'req_num', this)" <{if $cms_visit.visit_state != 3 || $is_freelancer}>disabled<{/if}> />
					</td>
					<td> <!-- 발주단계 -->
						<{$cms_visit.visit_step}>
					</td>
					<td> <!-- 고객명 -->
						<{$cms_visit.customer}>
					</td>
					<{if $cms_visit.visit_state == 3 && !$is_freelancer}>
					<td> <!-- 연락처 -->
						<input type="text" class="form-control" onchange="save_el('<{$cms_visit.v_no}>', 'hp', this)" style="width: 110px;" value="<{$cms_visit.hp}>" />
					</td>
					<td class="text-left"> <!-- 주소1 -->
						<input type="text" class="form-control" onchange="save_el('<{$cms_visit.v_no}>', 'addr1', this)" style="width: 90px;" value="<{$cms_visit.addr1}>" />
					</td>
					<td class="text-left"> <!-- 주소2 -->
						<input type="text" class="form-control" onchange="save_el('<{$cms_visit.v_no}>', 'addr2', this)" style="width: 180px;" value="<{$cms_visit.addr2}>" />
					</td>
					<{else}>
					<td> <!-- 연락처 -->
						<{$cms_visit.hp}>
					</td>
					<td class="text-left"> <!-- 주소1 -->
						<{$cms_visit.addr1}>
					</td>
					<td class="text-left"> <!-- 주소2 -->
						<{$cms_visit.addr2}>
					</td>
					<{/if}>
					<td> <!-- 제품명 -->
						<{$cms_visit.prd_code}>
					</td>
					<td> <!-- 방문코드 -->
						<{if $cms_visit.visit_state == 3 && !$is_freelancer}>
							<select class="form-control" style="width: 90px;" onchange="save_el('<{$cms_visit.v_no}>', 'visit_code', this)">
								<option value="">::선택::</option>
								<{foreach from=$visit_code_option item=label}>
								<option value="<{$label}>" <{if $cms_visit.visit_code==$label}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						<{else}>
							<{$cms_visit.visit_code}>
						<{/if}>
					</td>
					<td> <!-- 접수내용 -->
						<textarea style="width: 180px; height: 50px;" onchange="save_el('<{$cms_visit.v_no}>', 'req_content', this)" <{if $cms_visit.visit_state != 3 || $is_freelancer}>disabled<{/if}>><{$cms_visit.req_content}></textarea>
					</td>
					<td> <!-- 완료일자 -->
						<{$cms_visit.run_date}>
					</td>
					<td> <!-- 유/무상 -->
						<{if $cms_visit.visit_state == 3 && !$is_freelancer}>
						<select class="form-control" style="width: 90px;" onchange="save_el('<{$cms_visit.v_no}>', 'visit_free', this)">
							<option value="">::선택::</option>
							<{foreach from=$visit_free_option item=label}>
							<option value="<{$label}>" <{if $cms_visit.visit_free==$label}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<{else}>
							<{$cms_visit.visit_free}>
						<{/if}>
					</td>
					<td class="text-right"> <!-- 수금액 -->
						<{if $cms_visit.visit_price}>
						<span style="color: blue;"><{$cms_visit.visit_price|number_format:0}></span>
						<{/if}>
					</td>
					<td> <!-- 완료내용 -->
						<textarea style="width: 180px; height: 50px;" disabled><{$cms_visit.run_content}></textarea>
					</td>
					<td> <!-- 센터명 -->
						<{$cms_visit.center}>
					</td>
					<{if !$is_freelancer}>
					<td> <!-- 구매처 -->
						<{$cms_visit.dp_c_name}>
					</td>
					<{/if}>
					<td> <!-- 주문번호 -->
						<{$cms_visit.order_number}>
						<{if !$is_freelancer}>
						<a href="work_list_cms.php?sch_order_number=<{$cms_visit.order_number}>&sch_reg_s_date=" target="_blank">
							<img src="./images/icon/new_win_icon.png"></a>
						</a>
						<{/if}>
					</td>
				</tr>
				<{/foreach}>
				<tr>
					<td colspan="<{if !$is_freelancer}>19<{else}>18<{/if}>" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			<{else}>
				<tr>
					<td colspan="<{if !$is_freelancer}>19<{else}>18<{/if}>" style="text-align: center;">데이터가 없습니다</td>
				</tr>
			<{/if}>
			</tbody>
		</table>
	</div>
	<{if !$is_freelancer}>
	<button onclick="location.href='excel_work_cms_visit.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀다운로드</span></button>
	<{/if}>
</div>

<script type="text/javascript">
	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function changeState(state)
	{
		$("#sch_visit_state").val(state);
		document.forms['search_form'].submit();
	}

	function uploadVisitList()
	{
		var f = document.forms['add_visit_list_frm'];

		if(!$('#visit_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 방문지원 리스트에 반영 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function save_el(v_no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;


		if (val != "" || (proc == 'del_visit' || proc == 'req_content' || proc == 'run_content')) {

			if(proc == 'del_visit')
			{
				if(confirm("정말 삭제하시겠습니까?"))
				{
					$.post("work_cms_visit_list.php", {v_no : v_no, process : proc, val : val}, function(result){
						location.reload();
					});
				}
			}else{
				$.post("work_cms_visit_list.php", {v_no : v_no, process : proc, val : val}, function(result){
					d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);

					if(proc == 'visit_state'){
						location.reload();
					}
				});
			}
		}
	}

	function updateTotalVisit()
	{
	    if(confirm("진행요청건을 일괄 접수완료 처리 하시겠습니까?"))
	    {
			document.mod_visit_list_frm.submit()
		}

		return false;
	}
</script>
</body>
</html>
