<{include file="inc/iframe_navibar.html"}>
<style type="text/css">
	.form-group select, .form-group input{font-size: 12px;}
</style>

<div class="admin_content" style="width: 635px;min-width: unset; font-size: 12px;">
	<h2 style="font-weight: bold;">● CS 단체 문자 발송</h2><br/>
	<form id="cs_sms_multi_frm" name="cs_sms_multi_frm" action="work_cms_sms_multi.php" method="post" enctype="multipart/form-data" autocomplete="off" style="width: 600px;" onsubmit="return checkMultiSend();">
		<input type="hidden" name="process" value="new_sms_send">

		<div class="notice" style="margin-top: 10px;">
			※ 고객명 자동 변환을 위해 고객이름이 들어갈 부분에 #{고객명} 을 넣어주세요.
		</div>
		<div class="form-group row" style="margin-bottom: 15px; margin-top: 10px;"><!-- 내용 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >내용</label>
			<div class="col-sm-8">
				<textarea name="temp_content" id="temp_content" class="form-control" placeholder="#{고객명} 님 안녕하세요." rows="14" style="font-size: 12px;" required></textarea>
			</div>
		</div>

		<div class="form-group row crm-sms" style="margin-bottom: 15px;"><!-- 발신번호 -->
			<label class="col-sm-4 col-form-label font-weight-bold" >발신번호</label>
			<div class="col-sm-8">
				<select name="send_phone" id="send_phone" class="form-control" required>
					<option value="">::전체::</option>
					<{foreach from=$send_phone_list key=key item=label}>
						<option value="<{$key}>" <{if $send_phone == $key}>selected<{/if}>><{$key}> [<{$label}>]</option>
					<{/foreach}>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label font-weight-bold" >*받는사람/전화번호</label>
			<div class="col-sm-8">
				<input type="file" name="sms_file" id="sms_file" class="sms_file" required>
				<a href="/v1/uploads/document/cms/sms_sample.xlsx" download="sms_sample.xlsx">[sample download]</a>
			</div>
		</div>

		<button type="submit" class="btn btn-dark font-weight-bold" style="margin: 30px auto 10px; width: 200px;display: table; font-size: 13px;"><span>전송하기</span></button>
	</form>
</div>
<!-- //admin_content_popup -->

<script type="text/javascript">
	function checkMultiSend()
	{
		if(!$("#sms_file").val()){
			alert('파일을 올려주세요');
			return false;
		}

		if(confirm("단체 메세지를 보내시겠습니까?")){
			return true;
		}

		return false;
	}
</script>
</body>
</html>