<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content h2.title{margin-bottom: 10px;}
	.search_form label{margin: 0 10px 0 0;}
	.search_form .form-group{width: 100%; margin-top: 5px;}
	.search_form.form-inline .form-control{font-size: 12px; margin-right: 20px;}
	.search_order_form .form-control{font-size: 12px; padding: 3px;}
	.table_list_style table{margin-top: 20px;table-layout: fixed; width: auto;}
	.table_list_style table thead th{vertical-align: middle; height: 50px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;}
	.table_list_style .form-control{font-size: 12px; padding: 3px;}
	.form-control{font-size: 12px; padding: 3px; width: auto; display: inline-block;}

	.error_type_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.error_type_btn_active{background-color: #CCC;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		● 발주건 체크리스트
	</h2>

	<form method="post" name="error_chk_frm" id="error_chk_frm" action="work_cms_error_check.php" style="display: inline;" enctype="multipart/form-data">
		<input type="hidden" name="process" value=""/>
		<select name="error_type" id="error_type" class="form-control" required>
			<option value="">::전체::</option>
			<{foreach from=$error_type_option key=key item=label}>
			<option value="<{$key}>"><{$label}></option>
			<{/foreach}>
		</select>
		<input type="file" name="error_file" id="error_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;">
		<button type="button" onclick="return checkErrorOrder()" class="btn_small view-btn">업로드</button>
		<button type="button" onclick="return delErrorOrder()" class="btn_small view-btn">삭제</button>
	</form>

	<form method="get" name="search_form" style="overflow:hidden; margin-top: 20px;">
		<input type="hidden" name="error_type" value="<{$error_type}>"/>
		<div style="overflow: hidden;">
			<{foreach from=$error_type_option key=key item=label}>
				<button type="button" class="btn error_type_btn <{if $error_type == $key}>error_type_btn_active<{/if}>" id="error_type_btn_<{$key}>" onclick="moveErrorType('<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
	</form>

	<div class="table_list_style">
		<table class="table table-bordered" style="margin: 0;">
			<colgroup>
				<col width="80px;">
				<col width="120px;">
				<col width="100px;">
				<col width="100px;">
				<col width="160px;">
				<col width="200px;">
				<col width="300px;">
				<col width="40px;">
			</colgroup>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">w_no</th>
					<th scope="col" rowspan="2">주문번호</th>
					<th scope="col" rowspan="2">링크</th>
					<th scope="col" rowspan="2">진행상태</th>
					<th scope="col" rowspan="2">발주상태</th>
					<th scope="col" rowspan="2">수령지</th>
					<th scope="col" rowspan="2">커머스 상품명</th>
					<th scope="col" rowspan="2">수량</th>
				</tr>
			</thead>
			<tbody>
				<{assign var=color_idx value=0}>
				<{if $view_order_list}>
					<{foreach from=$view_order_list item=order_data}>
						<{assign var=ord_row value=$order_data|count}>
						<{assign var=ord_idx value=0}>
						<{foreach from=$order_data item=prd_data}>
							<tr <{if $prd_data.delivery_state == '6'}>style="background: red;"<{elseif $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
								<td> <!-- w_no -->
									<{$prd_data.w_no}>
								</td>
								<{if $ord_idx == 0}>
								<td rowspan="<{$ord_row}>"> <!-- 주문번호 -->
									<{$prd_data.order_number}>
								</td>
								<td rowspan="<{$ord_row}>"> <!-- 링크  -->
									<{if $prd_data.link_url}>
										<a href="<{$prd_data.link_url}>" target="_blank">아임웹 이동하기</a>
									<{/if}>
								</td>
								<{/if}>
								<td> <!-- 진행상태 -->
									<select class="form-control state_option" style="width: 99%; color: <{$prd_data.delivery_state_color}>; background-color: <{$prd_data.delivery_state_bg}>" id="delivery_state_<{$prd_data.w_no}>" onchange="save_el('<{$prd_data.w_no}>', 'delivery_state', this)">
										<{foreach from=$delivery_state_color_list key=delivery_state item=delivery_state_color}>
										<option value="<{$delivery_state}>" <{if $delivery_state == $prd_data.delivery_state}>selected<{/if}> style="color: <{$delivery_state_color.color}>;" attr-color="<{$delivery_state_color.color}>" attr-bg="<{$delivery_state_color.bg}>"><{$delivery_state_color.label}></option>
										<{/foreach}>
									</select>
								</td>
								<{if $ord_idx == 0}>
									<td rowspan="<{$ord_row}>" class="text-left"> <!-- 발주상태 -->
										<b><{$prd_data.ord_info}></b>
									</td>
									<td rowspan="<{$ord_row}>" class="text-left"> <!-- 수령지 -->
										<b><{$prd_data.recipient}></b>
										<br/>
										<{$prd_data.recipient_hp}><br/>
										[<{$prd_data.zip_code}>]<br/>
										<{$prd_data.recipient_addr}>
									</td>
								<{/if}>
								<td class="text-left"> <!-- 상품명 -->
									<{$prd_data.prd_name}>
								</td>
								<td> <!-- 수량 -->
									<{$prd_data.quantity}>
								</td>
							</tr>
							<{assign var=ord_idx value=$ord_idx+1}>
						<{/foreach}>
						<{assign var=color_idx value=$color_idx+1}>
					<{/foreach}>
				<{/if}>

				<{if $view_reservation_list}>
					<tr style="background: #333;  text-align: center;">
						<td colspan="8" style="color: white; font-weight: bold;">예약판매 리스트</td>
					</tr>
					<{foreach from=$view_reservation_list item=reserve_data}>
						<{assign var=re_row value=$reserve_data|count}>
						<{assign var=re_idx value=0}>
						<{foreach from=$reserve_data item=re_prd_data}>
							<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
								<td> <!-- w_no -->
									<{$re_prd_data.w_no}>
								</td>
								<{if $re_idx == 0}>
								<td rowspan="<{$re_row}>"> <!-- 주문번호 -->
									<{$re_prd_data.order_number}>
									<br/>
									<a href="/v1/work_cms_reservation_list.php?sch_order_number=<{$re_prd_data.order_number}>" target="_blank">예판리스트 이동하기</a>
								</td>
								<td rowspan="<{$re_row}>"> <!-- 링크  -->
									<{if $re_prd_data.link_url}>
										<a href="<{$re_prd_data.link_url}>" target="_blank">아임웹 이동하기</a>
									<{/if}>
								</td>
								<{/if}>
								<td> <!-- 진행상태 -->
									<select class="form-control state_option" style="width: 99%;" id="reservation_state_<{$re_prd_data.w_no}>" onchange="save_el('<{$re_prd_data.w_no}>', 'f_reservation_state', this)">
										<{foreach from=$reservation_state_list key=key item=label}>
										<option value="<{$key}>" <{if $key == $re_prd_data.delivery_state}>selected<{/if}>><{$label}></option>
										<{/foreach}>
									</select>
								</td>
								<{if $re_idx == 0}>
								<td rowspan="<{$re_row}>" class="text-left"> <!-- 발주상태 -->
									<b><{$re_prd_data.ord_info}></b>
								</td>
								<td rowspan="<{$re_row}>" class="text-left"> <!-- 수령지 -->
									<b><{$re_prd_data.recipient}></b>
									<br/>
									<{$re_prd_data.recipient_hp}><br/>
									[<{$re_prd_data.zip_code}>]<br/>
									<{$re_prd_data.recipient_addr}>
								</td>
								<{/if}>
								<td class="text-left"> <!-- 상품명 -->
									<{$re_prd_data.prd_name}>
								</td>
								<td> <!-- 수량 -->
									<{$re_prd_data.quantity}>
								</td>
							</tr>
						<{assign var=re_idx value=$re_idx+1}>
						<{/foreach}>
						<{assign var=color_idx value=$color_idx+1}>
					<{/foreach}>
				<{/if}>
				<{if !$view_order_list && !$view_reservation_list}>
					<tr>
						<td colspan="8" style="text-align: center;">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	function checkErrorOrder()
	{
		var f = document.forms['error_chk_frm'];

		if(!$("#error_type").val()){
			alert("양식 선택해주세요");
			return false;
		}

		if(!$("#error_file").val()){
			alert("체크 할 파일을 넣어주세요.");
			return false;
		}

		f.process.value='self_add_error_file';
		f.submit();
	}

	function delErrorOrder()
	{
		var f = document.forms['error_chk_frm'];

		if(confirm("삭제하시겠습니까?"))
		{
			f.process.value='del_error_file';
			f.submit();
		}

		return false;
	}

	function save_el(w_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;


		if (val != "" || (proc == 'memo' || proc == 'delivery_state' || proc == 'notice' || proc == 'delivery_no')) { // 메모
			$.post("work_cms_error_check.php", {w_no : w_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);

				var color   = $("#delivery_state_"+w_no+" option[value='" + val + "']").attr('attr-color');
				var bgColor = $("#delivery_state_"+w_no+" option[value='" + val + "']").attr('attr-bg');

				$("#delivery_state_"+w_no).css({'color' : color, 'background' : bgColor});
			});
		}
	}

	function moveErrorType(type)
	{
		document.search_form.error_type.value = type;
		document.search_form.submit();
	}
</script>
</body>
</html>
