<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.order_btn{background-color: #EEE; font-weight: bold; width: 156px; height: 30px; margin: 0; line-height: 14px; float: left; font-size: 14px; border-radius: unset; border: 1px solid #999;}
	.order_active_btn{background-color: #CCC;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span style="font-size: 12px;font-weight: bold;">브랜드별 상품의 판매수와 매출 기여 정보를 볼 수 있습니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_stats_product.php" autocomplete="off" style="display: block; margin-top: 5px;">
		<div style="overflow: hidden; margin-top: 20px;">
			<input type="hidden" name="sch_order_type" id="sch_order_type" value="<{$sch_order_type}>">
			<button type="button" class="btn order_btn <{if $sch_order_type == 'quantity'}>order_active_btn<{/if}>" id="order_btn_quantity" onclick="openOrderIframe('quantity')">판매량</button>
			<button type="button" class="btn order_btn <{if $sch_order_type == 'unit_price'}>order_active_btn<{/if}>" id="order_btn_unit_price" onclick="openOrderIframe('unit_price')">매출</button>
		</div>

		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_order_s_date">주문일시</label>
				<input type="text" name="sch_order_s_date" id="sch_order_s_date" class="date-picker form-control" value="<{$sch_order_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_order_e_date" id="sch_order_e_date" class="date-picker form-control" value="<{$sch_order_e_date}>" style="margin-left: 5px;" />
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_price_type">상품별 결제금액</label>
				<select name="sch_price_type" id="sch_price_type" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$cms_price_type_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_price_type == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">구매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div class="iframe_loading_msg" style="width: 400px;">
		<img src="images/loading.gif" style="display: table; margin: 50px auto 30px;">
		<b style="font-size: 18px; display: table; margin: 0 auto;">
			커머스 상품 판매(통계) 로딩중입니다.
		</b>
	</div>

	<div class="iframe_content" style="display: none;">
		<iframe src='work_cms_stats_product_iframe.php?<{$search_url}>' width='1610' height='2000' frameborder='0' id='work_cms_stats_product_iframe'></iframe>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#work_cms_stats_product_iframe").load(function(){
			$(".iframe_loading_msg").hide();
			$(".iframe_content").show();

			document.getElementById("work_cms_stats_product_iframe").contentWindow.checkChildIframe();
		});
	});

	function openOrderIframe(type)
	{
		$("#sch_order_type").val(type);
		searchList();
	}

	function checkIframe(){
		fixIframeHeight(document.getElementById("work_cms_stats_product_iframe"));
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+100)+'px'
	}
</script>

</body>
</html>
