<{include file="inc/boot_navibar.html"}>
<style>
    .table_list_style table thead th{text-align: center;}
</style>

<div class="keyword_list_content">
    <form method="get" name="search_form" id="search_form" action="work_list.php" style="margin: 20px 0;" onsubmit="return submitChk();">
        <h2 class="title">
            ●
            <select name="sch_prd_g1" id="sch_prd_g1" class="select_type2"
                    style="width: 165px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
                <option value="">::전체::</option>
                <{section name=data loop=$prd_g1_list}>
                <option value="<{$prd_g1_list[data].k_name_code}>"
                <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
                <{/section}>
            </select>
            >
            <select id="sch_prd_g2" name="sch_prd_g2" class="select_type3"
                    style="width: 210px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
                <option value="">::전체::</option>
                <{section name=data loop=$prd_g2_list}>
                <option value="<{$prd_g2_list[data].k_name_code}>"
                <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
                <{/section}>
            </select>
            >
            <select id="sch_prd" name="sch_prd" class="select_type3"
                    style="width: 270px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
                <option value="">::전체::</option>
                <{section name=data loop=$sch_prd_list}>
                <option value="<{$sch_prd_list[data].prd_no}>"
                <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
                <{/section}>
            </select>

            <button type="button" style="width: 150px; height: 34px; font-size: 20px; padding: unset; margin-bottom: 6px;" onclick="searchList();" class="btn_big_memo">업무 리스트</button>

            <div class="keyword-search-wrap" style="display: inline-block">
                <input type="hidden" name="sch_chk" id="sch_chk" />
                <input type="hidden" name="sch_keyword_mode" id="sch_keyword_mode" value="search" />
                <input type="text" class="input_type3" name="sch_keyword" id="sch_keyword" value="<{$sch_keyword}>" onkeydown="javascript:if(event.keyCode == 13)return searchKeywordList();" onsubmit="return searchKeywordList();" style="margin: 5px; padding-left: 10px" placeholder="키워드 검색"/>
                <button type="button" style="padding: 5px 10px; margin-left: 0px;" onclick="return searchKeywordList();" class="btn_small">검색</button>
            </div>
        </h2>
    </form>

    <div class="table_list_style">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr style="height: 50px">
                <th class="first" style="min-width:90px; width:150px;" rowspan="2">그룹 1</th>
                <th style="min-width:90px; width:150px;" rowspan="2">그룹 2</th>
                <th style="min-width:120px; width:150px;" rowspan="2">업무명</th>
                <th style="min-width:120px; width:350px;" rowspan="2">업무소개</th>
                <th style="min-width:120px; width:250px;" rowspan="2">검색어</th>
                <th style="min-width:90px; width:90px;" rowspan="2">MY QUICK SET<br/>와이즈 업무<a href="javascript:void(0);" onclick="open_quick_prd();"><img src="images/icon/setting_white.png" style="margin-left: 4px;margin-top: -3px;width: 16px;"></a></th>
            </tr>
            </thead>
            <tbody>
            <{if $sch_keyword_list_count > 0 }>
                <{section name=list loop=$sch_keyword_list}>
                    <tr style="height: 50px">
                        <td style="min-width:90px; width:150px;"><a href="<{$sch_keyword_list[list].prd_g1_url}>"><{$sch_keyword_list[list].prd_g1}></a></td>
                        <td style="min-width:90px; width:150px;"><a href="<{$sch_keyword_list[list].prd_g2_url}>"><{$sch_keyword_list[list].prd_g2}></a></td>
                        <td style="min-width:120px; width:150px;font-weight: bold; font-size: 13px;"><a href="<{$sch_keyword_list[list].prd_url}>"><{$sch_keyword_list[list].prd_name}></a></td>
                        <td style="min-width:120px; width:350px; text-align: left; color: #808080;"><{$sch_keyword_list[list].prd_desc}></td>
                        <td style="min-width:120px; width:250px; text-align: left; color: #808080;">
                            <div style="white-space: normal; word-break: break-all; min-width:120px; width:250px; padding-left: 5px;">
                                <{$sch_keyword_list[list].keyword}>
                            </div>
                        </td>
                        <td style="min-width:90px; width:90px; font-size: 30px;">
                            <span class="<{$sch_keyword_list[list].prd_no}>_quick_prd" onclick="proc_quick_prd('<{$sch_keyword_list[list].prd_no}>', this)"
                                  attr-mode="<{if $sch_keyword_list[list].quick_prd }>add<{else}>del<{/if}>" style="cursor: pointer;">
                            <{if $sch_keyword_list[list].quick_prd }>
                                <span class="font-red">★</span>
                            <{else}>
                                ☆
                            <{/if}>
                            </span>
                        </td>
                    </tr>
                <{/section}>
            <{else}>
                <tr>
                    <td colspan="7">검색 결과가 없습니다</td>
                </tr>
            <{/if}>
            </tbody>
        </table>
    </div>
    <!-- //table_list_style -->

</div>
<!-- keyword_list_content -->


<script>
    $(document).ready(function () {
        $("#sch_prd_g2").remoteChained({
            parents: "#sch_prd_g1",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_prd").remoteChained({
            parents: "#sch_prd_g2",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
            loading: "로딩중..",
            clear: true
        });
    });

    function submitChk()
    {
        var chk = document.search_form.sch_chk.value;
        if(chk){
            return true;
        }
        return false;
    }

    // 검색 하기
    function searchKeywordList()
    {
        var keyword = document.search_form.sch_keyword.value;

        if(keyword){
            document.search_form.sch_keyword_mode.value = 'search';
            document.search_form.sch_chk.value = '1';
            document.search_form.submit();
        }else{
            alert('검색어를 입력하세요');
        }

        return false;
    }

    // 업무리스트 검색
    function searchList() {
        document.search_form.sch_keyword.value = '';
        document.search_form.sch_keyword_mode.value = '';
        document.search_form.sch_chk.value = '1';
        document.search_form.submit();
    }

    // MY QUICK SET
    function proc_quick_prd(prd_no, obj)
    {
        var x        = $(obj).position();
        var status   = $(obj).attr('attr-mode');
        var d_msg    = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px', "font-size":"12px"});
        var conf_msg = (status == 'add') ? "MY QUICK SET에서 제외하시겠습니까?" : "MY QUICK SET에 등록하시겠습니까?";


        if(confirm(conf_msg))
        {
            var process = (status == 'add') ? "del_quick_prd" : "add_quick_prd";

            $.post("ajax_proc_data.php", {
                process: process,
                quick_prd: prd_no,
                quick_type: "work"
            }, function (data) {
                var result_data = JSON.parse(data);
                if(result_data.result){
                    var html = (result_data.status == 'add') ? "<span class='font-red'>★</span>" :  "☆";
                    $(obj).attr('attr-mode', result_data.status);
                    $(obj).html(html);
                    d_msg.appendTo($(obj).closest('td')).html(result_data.msg).fadeOut(2000);
                    sort_quick_prd();
                    open_quick_prd();
                }
            });
        }
    }

    function sort_quick_prd()
    {
        $.post("ajax_proc_data.php", {process : "sort_quick_prd",quick_prd : "sort_quick_prd", quick_type: "work"}, function(result){
        });
    }

    function open_quick_prd()
    {
        window.open('popup/quick_prd_set.php','MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
    }
</script>

</body>
</html>
