<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.text-center{text-align: center !important;}
	.fs9{font-size: 9px;}
	.fs10{font-size: 10px;}
	.text-left{text-align: left !important;}
	.text-right{text-align: right !important;}
	.text-bold{font-weight: bold !important;}
	.td_order{background: #D7E4BD;}
	.td_order_prd{background: #bbbbbb;}
	.td_sum{background: #bbbbbb;}
	.td_price{background: lightyellow;}
	.table_list_style table thead th{text-align: center;}

	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px; display: inline-block; width: auto;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_tracking_list.php">
		<input type="hidden" name="sch_ord_bundle" id="sch_ord_bundle" value="<{$sch_ord_bundle}>" />
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div id="sch_detail_display">
					<div>
						<input type="checkbox" name="sch_is_duplicate" id="sch_is_duplicate" style="cursor: pointer; margin-top: 0; margin-right: -1px;"  value="1" <{if $sch_is_duplicate == '1'}>checked<{/if}> >
						<label for="sch_is_duplicate" style="cursor: pointer;font-size: 12px; display: inline-block; vertical-align: middle;">중복 운송장조회</label>
						<br/>

						<span class="name_tit">청구월</span>
						<input type="text" name="sch_billing_date" class="month-picker input_type_date" id="sch_billing_date" value="<{$sch_billing_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">운송장번호</span>
						<input type="text" name="sch_delivery_no" class="input_type5" value="<{$sch_delivery_no}>" style="width: 120px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구분</span>
						<select name="sch_track_type" id="sch_track_type" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$track_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_track_type == $key }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<input type="checkbox" id="sch_ord_bundle_val" style="cursor: pointer; margin-top: 0; margin-right: -1px;" name="sch_ord_bundle_val" value="1" <{if $sch_ord_bundle == '1'}>checked<{/if}> >
						<label for="sch_ord_bundle_val" style="cursor: pointer;font-size: 12px; display: inline-block; vertical-align: middle;">주문번호 그룹조회</label>
					</div>
					<div class="form-group">
						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" class="input_type5" value="<{$sch_order_number}>" style="width: 120px;" />
						<input type="checkbox" name="sch_order_number_null" id="sch_order_number_null" style="cursor: pointer;" <{if $sch_order_number_null == 'null'}>checked<{/if}> value="null"/>
						<label for="sch_order_number_null" style="cursor: pointer;">IS NULL</label>
						<span style="margin-right:15px;"></span>

						<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
						<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g1_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g2_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
					</div>
					<div>
						<span class="name_tit">보내는분</span>
						<input type="text" name="sch_sender" class="input_type5" value="<{$sch_sender}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">받는분</span>
						<input type="text" name="sch_recipient" class="input_type5" value="<{$sch_recipient}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">차감금액</span>
						<select name="sch_deducted_fee" id="sch_deducted_fee" class="select_type2" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$track_fee_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_deducted_fee == $key }>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">메모</span>
						<input type="text" name="sch_deducted_reason" class="input_type5" value="<{$sch_deducted_reason}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">집화일자</span>
						<input type="text" name="sch_pickup_date" class="month-picker input_type_date" value="<{$sch_pickup_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">배달일자</span>
						<input type="text" name="sch_delivery_date" class="month-picker input_type_date" value="<{$sch_delivery_date}>" />
						<span style="margin-right:15px;"></span>

						<label for="sch_is_prd_fee" style="cursor: pointer;font-size: 12px; display: inline-block; vertical-align: middle;margin: 0 0 3px 0;">운임비 분담금</label>
						<input type="checkbox" id="sch_is_prd_fee" style="cursor: pointer; margin-top: 0; margin-right: -1px;" name="sch_is_prd_fee" value="1" <{if $sch_is_prd_fee == '1'}>checked<{/if}> >
						<label for="sch_is_prd_fee" style="cursor: pointer;font-size: 12px; display: inline-block; vertical-align: middle;margin: 0 0 3px 0;">0원</label>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 재고현황 리스트 부분 [Start] -->
			<thead>
			<tr>
				<td colspan="20" style="text-align: left;">
					<form name="work_cms_tracking_insert_frm" id="work_cms_tracking_insert" method="post" action="work_cms_tracking_insert.php" enctype="multipart/form-data" style="margin: 5px 0; display: inline-block;">
						<input type="hidden" name="process">
						<span style="width:250px;">
							<strong style="margin-right: 10px;">#택배내역,반품내역 엑셀 업로드 [청구월]</strong>
							<input type="text" name="billing_date" class="month-picker input_type_date" value="<{$billing_cur_date}>" style="margin: 0 0 0 5px;"/>
							<input type="file" name="tracking_file" id="tracking_file" style="width:300px; border: 1px solid #cccccc;">
							<button type="button" onclick="return trackingInsert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
						</span>
					</form>
					<form name="work_cms_tracking_deduction_insert_frm" id="work_cms_tracking_deduction_insert" method="post" action="work_cms_tracking_deduction_insert.php" enctype="multipart/form-data" style="margin: 5px 0 5px 20px; display: inline-block;">
						<input type="hidden" name="process">
						<span style="width:250px;">
							<strong style="margin-right: 20px;">#오배송 차감내역 엑셀 업로드</strong>
							<input type="file" name="deduction_file" id="deduction_file" style="width:300px; border: 1px solid #cccccc;">
							<button type="button" onclick="return deductionInsert();" class="btn_file" style="padding:3px 10px">UPLOAD</button>
						</span>
					</form>
					<br/>
					<form name="work_cms_tracking_apply_frm" id="work_cms_tracking_apply_frm" method="post" action="work_cms_tracking_apply.php" enctype="multipart/form-data" style="margin: 5px 0 5px 20px; display: inline-block;">
						<input type="hidden" name="process">
						<span style="width:250px; text-align: left;">
							<strong style="margin-right: 20px;">#상품별 운임비 적용</strong>
							<input type="text" name="billing_date" class="month-picker input_type_date" value="<{$billing_cur_date}>" style="margin: 0 0 0 5px;"/>
							<button type="button" onclick="return trackingApply();" class="btn_file" style="padding:3px 10px">적용</button>
						</span>
					</form>
				</td>
			</tr>
			</thead>
		</table>

		<!-- 배송비 통계요약 부분 [Start] -->
		<table cellpadding="0" cellspacing="0" id="total-tracking-table">
			<thead>
			<tr>
				<th class="first" style="min-width:100px; width:100px; height: 30px;">물류업체</th>
				<th style="min-width: 75px; width: 75px;">청구월</th>
				<th style="min-width: 140px; width: 140px;">운송장 확인 주문번호</th>
				<th style="min-width: 150px; width: 150px;">업체명/브랜드명</th>
				<th style="min-width: 100px; width: 100px;">운송장(건)</th>
				<th style="min-width: 70px; width: 70px;">일반(건)</th>
				<th style="min-width: 60px; width: 60px;">반품(건)</th>
				<th style="min-width: 120px; width: 120px;">기본운임</th>
				<th style="min-width: 80px; width: 80px;">도선료</th>
				<th style="min-width: 80px; width: 80px;">제주운임</th>
				<th style="min-width: 80px; width: 80px;">기타운임</th>
				<th style="min-width: 120px; width: 120px;">총운임</th>
				<th style="min-width: 90px; width: 90px;">차감운임</th>
				<th style="min-width: 120px; width: 120px;">최종금액</th>
				<th style="min-width: 90px; width: 90px;">운임비 분담금
					<img src="images/question.png" title="상품수량별 운임비 분담&#10;
 - 택배는 0원구매 사은품 제외
 - 단 다음 구매처는 0원구매 배송비 적용
   (CS,WISE_쿠팡(제트배송),지그재그(직진배송),교환,물류측누락,물류측 누락(교환),물류측 오배송,물류측 오배송(교환),직접구매,
    WISE_광고선전비,WISE_복리후생비,WISE_소모품비,WISE_시딩반출,WISE_접대비,WISE_타계정반출(기타))
 - 반품은 회수리스트의 요청 수량으로 적용(0원포함)" class="label-guide">
				</th>
				<th style="min-width: 120px; width: 120px;">최종 운임비 분담금
					<img src="images/question.png" title="운임비 분담금의 브랜드별 합계(실제 브랜드별 택배비)" class="label-guide">
				</th>
			</tr>
			</thead>
			<tbody>
				<{if $tracking_stat_list}>
					<{assign var="stat_idx" value=0}>
					<{assign var="track_total_prd_fee" value=0}>
					<{assign var="media_price_total" value=0}>
					<{foreach from=$tracking_stat_list key=brand item=tracking_stat}>
						<{assign var=media_price value=$tracking_stat.final_price-$tracking_prd_fee_list[$brand]}>
						<{assign var="media_price_total" value=$media_price_total+$media_price}>
						<{if $brand != '0'}>
							<tr>
								<{if $stat_idx == '0'}>
								<td class="text-center first" rowspan="<{$stat_row+1}>">위드플레이스</td>
								<td class="text-center" rowspan="<{$stat_row+1}>"><{$tracking_stat.billing_date}></td>

									<{if $stat_confirm_row > 0}>
									<td class="text-center" rowspan="<{$stat_confirm_row}>">확인 <{$stat_confirm_total|number_format:0}>건</td>
									<{/if}>
								<{/if}>

								<td class="text-center td_order"><{$tracking_stat.c_name}></td>
								<td class="text-right td_order text-bold"><{$tracking_stat.total_cnt|number_format:0}></td>
								<td class="text-right td_order"><{$tracking_stat.normal_cnt|number_format:0}></td>
								<td class="text-right td_order"><{$tracking_stat.return_cnt|number_format:0}></td>
								<td class="text-right td_price">
									<{if $tracking_stat.basic_fee > 0}>₩<{/if}><{$tracking_stat.basic_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.ferry_fee > 0}>₩<{/if}><{$tracking_stat.ferry_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.jeju_fee > 0}>₩<{/if}><{$tracking_stat.jeju_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.etc_fee > 0}>₩<{/if}><{$tracking_stat.etc_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.total_fee > 0}>₩<{/if}><{$tracking_stat.total_fee|number_format:0}>
								</td>
								<td class="text-right td_price" style="color: red;">
									<{if $tracking_stat.deducted_fee > 0}>-₩<{/if}><{$tracking_stat.deducted_fee|number_format:0}>
								</td>
								<td class="text-right td_price text-bold" style="border-right-style: double;">
									<{if $tracking_stat.final_price > 0}>₩<{elseif $tracking_stat.final_price < 0}>-₩<{/if}><{$tracking_stat.final_price|number_format:0}>
								</td>
								<td class="text-right td_order_prd">
									<{if $tracking_stat.prd_fee > 0}>₩<{/if}><{$tracking_stat.prd_fee|number_format:0}>
								</td>
								<td class="text-right td_order_prd text-bold">
									<{if $tracking_prd_fee_list[$brand] > 0}>₩<{/if}><{$tracking_prd_fee_list[$brand]|number_format:0}>
								</td>
							</tr>
						<{elseif $brand == '0'}>
							<tr>
								<{if $stat_idx == '0'}>
									<td class="text-center first" rowspan="<{$stat_row+1}>">위드플레이스</td>
									<td class="text-center" rowspan="<{$stat_row+1}>"><{$tracking_stat.billing_date}></td>

									<{if $stat_confirm_row > 0}>
									<td class="text-center" rowspan="<{$stat_confirm_row}>">확인 <{$stat_confirm_total|number_format:0}>건</td>
									<{/if}>
								<{/if}>

								<td class="text-center">확인불가 <{$tracking_stat.total_cnt|number_format:0}>건</td>
								<td class="text-center td_order text-bold"><{$tracking_stat.c_name}></td>
								<td class="text-right td_order"><{$tracking_stat.total_cnt|number_format:0}></td>
								<td class="text-right td_order"><{$tracking_stat.normal_cnt|number_format:0}></td>
								<td class="text-right td_order"><{$tracking_stat.return_cnt|number_format:0}></td>
								<td class="text-right td_price">
									<{if $tracking_stat.basic_fee > 0}>₩<{/if}><{$tracking_stat.basic_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.ferry_fee > 0}>₩<{/if}><{$tracking_stat.ferry_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.jeju_fee > 0}>₩<{/if}><{$tracking_stat.jeju_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.etc_fee > 0}>₩<{/if}><{$tracking_stat.etc_fee|number_format:0}>
								</td>
								<td class="text-right td_price">
									<{if $tracking_stat.total_fee > 0}>₩<{/if}><{$tracking_stat.total_fee|number_format:0}>
								</td>
								<td class="text-right td_price" style="color: red;">
									<{if $tracking_stat.deducted_fee > 0}>-₩<{/if}><{$tracking_stat.deducted_fee|number_format:0}>
								</td>
								<td class="text-right td_price text-bold" style="border-right-style: double;">
									<{if $tracking_stat.final_price > 0}>₩<{elseif $tracking_stat.final_price < 0}>-₩<{/if}><{$tracking_stat.final_price|number_format:0}>
								</td>
								<td class="text-right td_order_prd">
									<{if $tracking_stat.prd_fee > 0}>₩<{/if}><{$tracking_stat.prd_fee|number_format:0}>
								</td>
								<td class="text-right td_order_prd text-bold">
									<{if $tracking_prd_fee_list[0] > 0}>₩<{/if}><{$tracking_prd_fee_list[0]|number_format:0}>
								</td>
							</tr>
						<{/if}>
						<{assign var="stat_idx" value=$stat_idx+1}>
						<{assign var="track_total_prd_fee" value=$track_total_prd_fee+$tracking_prd_fee_list[$brand]}>
					<{/foreach}>
					<tr>
						<td class="text-center"></td>
						<td class="text-center td_order">와이즈미디어커머스</td>
						<td class="text-right td_order">-</td>
						<td class="text-right td_order">-</td>
						<td class="text-right td_order">-</td>
						<td class="text-right td_price">-</td>
						<td class="text-right td_price">-</td>
						<td class="text-right td_price">-</td>
						<td class="text-right td_price">-</td>
						<td class="text-right td_price">-</td>
						<td class="text-right td_price" style="color: red;"></td>
						<td class="text-right td_price text-bold" style="border-right-style: double;"></td>
						<td class="text-right td_order_prd"></td>
						<td class="text-right td_order_prd text-bold">
							<{if $media_price_total > 0}>₩<{/if}><{$media_price_total|number_format:0}>
						</td>
					</tr>

					<{if $track_stat_total_list}>
						<tr>
							<td class="text-center td_sum" colspan="2">계</td>
							<td class="text-right td_sum"><{$track_stat_total_list.total_cnt|number_format:0}></td>
							<td class="text-right td_sum"><{$track_stat_total_list.normal_cnt|number_format:0}></td>
							<td class="text-right td_sum"><{$track_stat_total_list.return_cnt|number_format:0}></td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.basic_fee > 0}>₩<{/if}><{$track_stat_total_list.basic_fee|number_format:0}>
							</td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.ferry_fee > 0}>₩<{/if}><{$track_stat_total_list.ferry_fee|number_format:0}>
							</td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.jeju_fee > 0}>₩<{/if}><{$track_stat_total_list.jeju_fee|number_format:0}>
							</td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.etc_fee > 0}>₩<{/if}><{$track_stat_total_list.etc_fee|number_format:0}>
							</td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.total_fee > 0}>₩<{/if}><{$track_stat_total_list.total_fee|number_format:0}>
							</td>
							<td class="text-right td_sum" style="color: red;">
								<{if $track_stat_total_list.deducted_fee > 0}>-₩<{/if}><{$track_stat_total_list.deducted_fee|number_format:0}>
							</td>
							<td class="text-right td_sum" style="border-right-style: double;">
								<{if $track_stat_total_list.final_price > 0}>₩<{elseif $track_stat_total_list.final_price < 0}>-₩<{/if}><{$track_stat_total_list.final_price|number_format:0}>
							</td>
							<td class="text-right td_sum">
								<{if $track_stat_total_list.prd_fee > 0}>₩<{/if}><{$track_stat_total_list.prd_fee|number_format:0}>
							</td>
							<td class="text-right td_sum text-bold">
								<{assign var="track_total_prd_fee" value=$track_total_prd_fee+$media_price_total}>
								<{if $track_total_prd_fee > 0}>₩<{/if}><{$track_total_prd_fee|number_format:0}>
							</td>
						</tr>
					<{/if}>
				<{else}>
					<tr>
						<td colspan="14" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>

		<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('total-tracking-table');" /></div>
		<!-- 배송비 통계요약 부분 [END] -->

		<!-- 배송비 내역 리스트 부분 [Start] -->
		<table cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<td colspan="16">
					<span style="display: block;float: left;line-height: 40px;"><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th class="first" style="min-width:45px; width:45px; height: 30px;">no</th>
				<th style="min-width: 100px; width: 100px;">물류업체</th>
				<th style="min-width: 60px; width: 60px;">청구월</th>
				<th style="min-width: 80px; width: 80px;">택배사</th>
				<th style="min-width: 100px; width: 100px;">운송장번호</th>
				<th style="min-width: 40px; width: 40px;">구분</th>
				<th style="min-width: 150px; width: 150px;">주문번호</th>
				<th style="min-width: 100px; width: 100px;">업체명/브랜드명</th>
				<th style="min-width: 300px; width: 300px;">커머스 상품명</th>
				<th style="min-width: 60px; width: 60px;">수량</th>
				<th style="min-width: 80px; width: 80px;">운임비 분담금</th>
				<th style="min-width: 60px; width: 60px;">총내품수량</th>
				<th style="min-width: 65px; width: 65px;">추가송장갯수</th>
				<th style="min-width: 80px; width: 80px;">추가운송장</th>
				<th style="min-width: 80px; width: 80px;">보내는분</th>
				<th style="min-width: 80px; width: 80px;">받는분</th>
				<th style="min-width: 60px; width: 60px;">기본운임</th>
				<th style="min-width: 60px; width: 60px;">도선료</th>
				<th style="min-width: 60px; width: 60px;">제주운임</th>
				<th style="min-width: 60px; width: 60px;">기타운임</th>
				<th style="min-width: 70px; width: 70px;">총운임</th>
				<th style="min-width: 70px; width: 70px;">차감금액</th>
				<th style="min-width: 100px; width: 100px;">메모</th>
				<th style="min-width: 80px; width: 80px;">집화일자</th>
				<th style="min-width: 80px; width: 80px;">배달일자</th>
			</tr>
			</thead>
			<tbody>
				<{if $tracking_list}>
					<{foreach from=$tracking_list item=tracking_data}>
						<{assign var="track_row" value=$tracking_data|@count}>
						<{assign var="track_idx" value=0}>
						<{foreach from=$tracking_data item=tracking}>
							<tr>
							<{if $sch_ord_bundle == '1' && $track_idx == 0}>
								<td class="text-center first fs9" rowspan="<{$track_row}>"><{$tracking.t_no}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.logistics_company}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.billing_date}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.delivery_type}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.delivery_no}></td>
								<td class="text-center fs10" rowspan="<{$track_row}>"><{$tracking.track_type_name}></td>
								<td class="text-left td_order" rowspan="<{$track_row}>">
									<{if $tracking.order_number}>
										<span style="float: left; display: inline-block; "><{$tracking.order_number}></span>
										<{if $tracking.track_type == '2'}>
											<a href="work_cms_return_list.php?sch_order_number=<{$tracking.order_number}>" target="_blank" style="float: left; display: inline-block; margin: 2px;"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
										<a href="work_list_cms.php?sch_ord_bundle=1&sch_reg_s_date=&sch_reg_e_date=&sch_order_number=<{$tracking.order_number}>" target="_blank" style="float: left; display: inline-block; margin: 2px;"><img src="./images/icon/new_win_icon.png"></a>
										<{/if}>
									<{/if}>
								</td>
								<td class="text-center td_order" rowspan="<{$track_row}>"><{$tracking.c_name}></td>
							<{elseif $sch_ord_bundle != '1'}>
								<td class="text-center first"><{$tracking.t_no}></td>
								<td class="text-center"><{$tracking.logistics_company}></td>
								<td class="text-center"><{$tracking.bill_date}></td>
								<td class="text-center"><{$tracking.delivery_type}></td>
								<td class="text-center"><{$tracking.delivery_no}></td>
								<td class="text-center"><{$tracking.track_type_name}></td>
								<td class="text-left td_order">
									<{if $tracking.order_number}>
										<span style="float: left; display: inline-block;"><{$tracking.order_number}></span>
										<{if $tracking.track_type == '2'}>
											<a href="work_cms_return_list.php?sch_order_number=<{$tracking.order_number}>" target="_blank" style="float: left; display: inline-block; margin: 2px;"><img src="./images/icon/new_win_icon.png"></a>
										<{else}>
											<a href="work_list_cms.php?sch_reg_s_date=&sch_reg_e_date=&sch_order_number=<{$tracking.order_number}>" target="_blank" style="float: left; display: inline-block; margin: 2px;"><img src="./images/icon/new_win_icon.png"></a>
										<{/if}>
									<{/if}>
								</td>
								<td class="text-center td_order"><{$tracking.c_name}></td>
							<{/if}>
							<td class="text-left td_order">
								<{if $tracking.prd_name}>
								<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$tracking.k_prd1_name}> > <{$tracking.k_prd2_name}> ></span>
								<span style="text-align:left; display: block;"><{$tracking.prd_name}></span>
								<{/if}>
							</td>
							<td class="text-center td_order"><{$tracking.qty|number_format:0}></td>
							<td class="text-right td_order_prd" <{if $tracking.prd_fee <0}>style='color: red';<{/if}>><{$tracking.prd_fee|number_format:0}></td>
							<td class="text-center"><{$tracking.total_qty|number_format:0}></td>
							<td class="text-center"><{$tracking.extra_delivery_qty|number_format:0}></td>
							<td class="text-center"><{$tracking.extra_delivery_no}></td>

							<{if $sch_ord_bundle && $track_idx == 0}>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.sender}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.recipient}></td>
								<td class="text-right td_price" rowspan="<{$track_row}>"><{$tracking.basic_fee|number_format:0}></td>
								<td class="text-right td_price" rowspan="<{$track_row}>"><{$tracking.ferry_fee|number_format:0}></td>
								<td class="text-right td_price" rowspan="<{$track_row}>"><{$tracking.jeju_fee|number_format:0}></td>
								<td class="text-right td_price" rowspan="<{$track_row}>"><{$tracking.etc_fee|number_format:0}></td>
								<td class="text-right td_price text-bold" rowspan="<{$track_row}>"><{$tracking.total_fee|number_format:0}></td>
								<td class="text-right td_price text-bold" style="color: red;" rowspan="<{$track_row}>"><{if $tracking.deducted_fee > 0}>-<{/if}><{$tracking.deducted_fee|number_format:0}></td>
								<td class="text-left" rowspan="<{$track_row}>"><{$tracking.deducted_reason}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.pickup_date}></td>
								<td class="text-center" rowspan="<{$track_row}>"><{$tracking.delivery_date}></td>
							<{elseif $sch_ord_bundle != '1'}>
								<td class="text-center"><{$tracking.sender}></td>
								<td class="text-center"><{$tracking.recipient}></td>
								<td class="text-right td_price"><{$tracking.basic_fee|number_format:0}></td>
								<td class="text-right td_price"><{$tracking.ferry_fee|number_format:0}></td>
								<td class="text-right td_price"><{$tracking.jeju_fee|number_format:0}></td>
								<td class="text-right td_price"><{$tracking.etc_fee|number_format:0}></td>
								<td class="text-right td_price text-bold"><{$tracking.total_fee|number_format:0}></td>
								<td class="text-right td_price text-bold" style="color: red;" ><{if $tracking.deducted_fee > 0}>-<{/if}><{$tracking.deducted_fee|number_format:0}></td>
								<td class="text-left"><{$tracking.deducted_reason}></td>
								<td class="text-center"><{$tracking.pickup_date}></td>
								<td class="text-center"><{$tracking.delivery_date}></td>
							<{/if}>
							</tr>
							<{assign var="track_idx" value=$track_idx+1}>
						<{/foreach}>
					<{/foreach}>
					<tr>
						<td colspan="25" class="paging_wrap">
							<div class="paging_wrap">
								<{$pagelist}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="24" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<!-- 배송비 내역 리스트 부분 [END] -->
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<script type="text/javascript">
    $(document).ready(function() {
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_ord_bundle_val").change(function(){
			if($(this).is(":checked")){
				$("#sch_ord_bundle").val(1);
			} else{
				$("#sch_ord_bundle").val(0);
			}
		});
    });

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

    // 커머스 첨부파일 리스트에 반영하기
    function trackingInsert()
    {
        var f = document.forms['work_cms_tracking_insert_frm'];

        if($('#tracking_file').val() == ''){
            alert('파일을 선택해주세요');
            return;
        }

        if (confirm("첨부파일을 택배내역 리스트에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

    function deductionInsert()
    {
        var f = document.forms['work_cms_tracking_deduction_insert_frm'];

        if($('#deduction_file').val() == ''){
            alert('파일을 선택해주세요');
            return;
        }

        if (confirm("첨부파일을 택배비 차감내역에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

    function trackingApply()
	{
		var f = document.forms['work_cms_tracking_apply_frm'];

		if (confirm("해당월 상품별 운임비를 적용하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

</script>

</body>
</html>
