<{include file="inc/boot_navibar.html"}>

<style>
	.table_list_style tr:nth-child(2n){background: #ebebeb;}
	.reg_active{background: #3093c2 !important;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_sales_list.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div>
					<span class="name_tit">작성일시</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_s_date" name="sch_reg_s_date" value="<{$sch_reg_s_date}>" />
					<span>~</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_e_date" name="sch_reg_e_date" value="<{$sch_reg_e_date}>" />
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
					<button type="button" onclick="regdateVal('today')" class="btn_small regdate_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" >오늘</button>
					<button type="button" onclick="regdateVal('week')" class="btn_small regdate_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>">1주</button>
					<button type="button" onclick="regdateVal('month')" class="btn_small regdate_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>">1달</button>
					<button type="button" onclick="regdateVal('months')" class="btn_small regdate_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>">3달</button>
				</div>
				<br/>
				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 4px;">
					<div>
						<span class="name_tit">w_no</span>
						<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">주문일시</span>
						<input type="text" class="date-picker input_type_date" id="sch_order_date" name="sch_order_date" value="<{$sch_order_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송처리일</span>
						<input type="text" class="date-picker input_type_date" id="sch_stock_date" name="sch_stock_date" value="<{$sch_stock_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" value="<{$sch_order_number}>" class="input_type2" style="background-color: #ffffcc; width:140px;" />
						<span style="margin-right:15px;"></span>

					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">구매처</span>
						<select name="sch_dp_c_no" class="select_type2" style="width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
							<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 240px; height: 30px; margin-right: 10px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>

						<input type="text" name="sch_prd_name" id="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" <{if $sch_prd}>disabled<{/if}>>
						<span style="margin-right:15px;"></span>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
						<button type="button" class="btn_small" onclick="resetSearch();" style="width:58px; height:27px;">초기화</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="13">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:60px; width:60px; height: 50px;">w_no</th>
					<th style="min-width: 80px; width:80px;">주문일시</th>
					<th style="min-width: 140px; width:140px;">주문번호</th>
					<th style="min-width: 60px; width:60px;">반품/교환</th>
					<th style="min-width: 80px; width:80px;">반품/교환<br/>요청일시</th>
					<th style="min-width: 80px; width:80px;">발송처리일</th>
					<th style="min-width: 100px; width:100px;">업체명/브랜드명</th>
					<th style="min-width:250px; width:250px;">커머스 상품명</th>
					<th style="min-width:40px; width:40px;">수량</th>
					<th style="min-width:90px; width:120px;">상품별<br/>결제금액(매출)</th>
					<th style="min-width:90px; width:120px;">상품별<br/>택배비(매출)</th>
					<th style="min-width:90px; width:120px;">상품별<br/>결제금액+택배비(매출)</th>
					<th style="min-width:120px; width:120px;">구매처</th>
				</tr>
			</thead>
			<tbody>
			<{foreach from=$cms_sales_list item=$cms_sales}>
				<tr>
					<td class="first date"> <!-- w_no -->
						<{$cms_sales.w_no}>
					</td>
					<td> <!-- 주문일시 -->
						<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$cms_sales.ord_date}></span>
						<span style="color:green; display: block; text-align: center; font-size:9px;"><{$cms_sales.ord_time}></span>
					</td>
					<td style="position: relative;"><!-- 주문번호 -->
						<span style="text-align:left; display: inline-block;"><{$cms_sales.order_number}></span>
						<a href="work_list_cms.php?sch_order_number=<{$cms_sales.order_number}>&sch_reg_s_date=&sch_reg_e_date=" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
					</td>
					<td> <!-- 반품/교환 -->
						<{$cms_sales.return_type_name}>
					</td>
					<td> <!-- 반품/교환 요청일시 -->
						<{if $cms_sales.return_type > 0}>
						<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$cms_sales.return_day}></span>
						<span style="color:green; display: block; text-align: center; font-size:9px;"><{$cms_sales.return_time}></span>
						<{/if}>
					</td>
					<td style="font-size:9px;"> <!-- 발송처리일 -->
						<{$cms_sales.stock_date}>
					</td>
					<td> <!-- 업체명/브랜드명 -->
						<{$cms_sales.brand_name}>
					</td>
					<td> <!-- 커머스 상품명 -->
						<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$cms_sales.k_prd1_name}> > <{$cms_sales.k_prd2_name}> ></span>
						<span style="text-align:left; display: block;"><{$cms_sales.prd_name}></span>
					</td>
					<td> <!-- 수량 -->
						<{$cms_sales.quantity}>
					</td>
					<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;"> <!-- 결제금액 -->
						￦<{$cms_sales.unit_price|number_format:0}>
					</td>
					<td style="color: blue; font-weight: bold; text-align:right; font-size: 14px;"> <!-- 상품별 택배비 -->
						￦<{$cms_sales.unit_delivery_price|number_format:0}>
					</td>
					<td style="<{if $cms_sales.return_type > 0}>color: red;<{else}>color: blue;<{/if}>font-weight: bold; text-align:right; font-size: 14px;"> <!-- 결제금액 + 택배비 -->
						<{if $cms_sales.return_type > 0}>-<{/if}>￦<{$cms_sales.total_price|number_format:0}>
					</td>
					<td> <!-- 구매처 -->
						<{$cms_sales.dp_c_name}>
					</td>
				</tr>
			</form>
			<{/foreach}>
			<tr>
				<td colspan="13" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").change(function(){
			if($(this).val() != ''){
				$("#sch_prd_name").attr('disabled', true);
			}else{
				$("#sch_prd_name").removeAttr('disabled');
			}
		});

        $("#sch_reg_s_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

        $("#sch_reg_e_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });
	});

	function regdateVal(type)
	{
		var todate   = $("#today_val").val();
		var typedate = $("#"+type+"_val").val();

		$(".regdate_btn").removeClass('reg_active');
		$(".reg_"+type+"_btn").addClass('reg_active');

		$("#sch_reg_s_date").val(typedate);
		$("#sch_reg_e_date").val(todate);

		$("#sch_reg_date_type").val(type);
	}

	function normal_search() {
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}
</script>

</body>
</html>
