<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: right;}
	.table tbody td.dp_name{text-align: left;}
	.mon_active{background: #3093c2 !important;}
	.img-explain{cursor: pointer;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_vat_total_list.php" autocomplete="off">
		<input type="hidden" name="sch_vat_mon_type" id="sch_vat_mon_type" value="<{$sch_vat_mon_type}>">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_vat_s_mon">부가세월</label>
				<input type="text" name="sch_vat_s_mon" id="sch_vat_s_mon" class="month-picker form-control" value="<{$sch_vat_s_mon}>" />
				<span>~</span>
				<input type="text" name="sch_vat_e_mon" id="sch_vat_e_mon" class="month-picker form-control" value="<{$sch_vat_e_mon}>" />

				<button type="button" onclick="vatMonVal('1', this)" class="btn_small vat_mon_btn <{if $sch_vat_mon_type == '1'}>mon_active<{/if}>">1분기</button>
				<button type="button" onclick="vatMonVal('2', this)" class="btn_small vat_mon_btn <{if $sch_vat_mon_type == '2'}>mon_active<{/if}>">2분기</button>
				<button type="button" onclick="vatMonVal('3', this)" class="btn_small vat_mon_btn <{if $sch_vat_mon_type == '3'}>mon_active<{/if}>">3분기</button>
				<button type="button" onclick="vatMonVal('4', this)" class="btn_small vat_mon_btn <{if $sch_vat_mon_type == '4'}>mon_active<{/if}>">4분기</button>

				<button type="submit" class="btn_small" style="margin-left: 20px; width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div class="text-right" style="width: 920px;">
		<span style="color: red;">※ 커머스 부가세 및 정산 현황과 동일하나 VAT 별도 기준으로 적용</span>
		<div style="text-align: left; background: #d3d3d3; font-size: 18px; font-weight: bold; padding: 7px;">판매처 별 부가세</div>
	</div>
	<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="220px;"> <!-- 판매처 -->
			<col width="140px;"> <!-- 카드 -->
			<col width="140px;"> <!-- 현금 -->
			<col width="140px;"> <!-- 기타 -->
			<col width="140px;"> <!-- 세금계산서 -->
			<col width="140px;"> <!-- 합계(과세매출) -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td></td>
				<{if $vat_total_list}>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$vat_total_list.card_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$vat_total_list.cash_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$vat_total_list.etc_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$vat_total_list.tax_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$vat_total_list.total_price|number_format:0}></span>
					</td>
				<{else}>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<{/if}>
			</tr>
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" colspan="5">부가세(VAT 별도)</th>
			</tr>
			<tr>
				<th scope="col">카드</th>
				<th scope="col">현금</th>
				<th scope="col">기타</th>
				<th scope="col">세금계산서</th>
				<th scope="col">합계(과세매출)</th>
			</tr>
		</thead>
		<tbody>
			<{if $dp_company_vat_list}>
				<{foreach from=$dp_company_vat_list key=dp_c_no item=dp_vat_data}>
					<tr>
						<td class="first dp_name"><!-- 판매처 -->
							<{$dp_vat_data.c_name}>
						</td>
						<td> <!-- 카드 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$dp_vat_data.card_price|number_format:0}></span>
						</td>
						<td> <!-- 현금 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$dp_vat_data.cash_price|number_format:0}></span>
						</td>
						<td> <!-- 기타 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$dp_vat_data.etc_price|number_format:0}></span>
						</td>
						<td> <!-- 세금계산서 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$dp_vat_data.tax_price|number_format:0}></span>
						</td>
						<td> <!-- 판매금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$dp_vat_data.total_price|number_format:0}></span>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first text-center" colspan="6">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>

	<div class="text-right" style="width: 920px; margin-top: 20px;">
		<div style="text-align: left; background: #d3d3d3; font-size: 18px; font-weight: bold; padding: 7px;">브랜드 (담당자) 별 부가세</div>
	</div>
	<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="220px;"> <!-- 브랜드(담당자) -->
			<col width="140px;"> <!-- 카드 -->
			<col width="140px;"> <!-- 현금 -->
			<col width="140px;"> <!-- 기타 -->
			<col width="140px;"> <!-- 세금계산서 -->
			<col width="140px;"> <!-- 합계(과세매출) -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td></td>
				<{if $brand_vat_total_list}>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.card_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.cash_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.etc_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.tax_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.total_price|number_format:0}></span>
					</td>
				<{else}>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<{/if}>
			</tr>
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" colspan="5">부가세(VAT 별도)</th>
			</tr>
			<tr>
				<th scope="col">카드</th>
				<th scope="col">현금</th>
				<th scope="col">기타</th>
				<th scope="col">세금계산서</th>
				<th scope="col">합계(과세매출)</th>
			</tr>
		</thead>
		<tbody>
		<{if $main_brand_vat_list}>
			<{foreach from=$main_brand_vat_list key=brand item=brand_vat_data}>
				<tr>
					<td class="first dp_name"><!-- 브랜드 (담당자) -->
						<{$brand_vat_data.brand_name}>
						<img src="images/question.png" class="img-explain" title="<{$brand_vat_data.brand_exp}>">
					</td>
					<td> <!-- 카드 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_data.card_price|number_format:0}></span>
					</td>
					<td> <!-- 현금 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_data.cash_price|number_format:0}></span>
					</td>
					<td> <!-- 기타 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_data.etc_price|number_format:0}></span>
					</td>
					<td> <!-- 세금계산서 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_data.tax_price|number_format:0}></span>
					</td>
					<td> <!-- 판매금액 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_data.total_price|number_format:0}></span>
					</td>
				</tr>
			<{/foreach}>
		<{else}>
			<tr>
				<td class="first text-center" colspan="6">데이터가 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>

	<div class="text-right" style="width: 1040px; margin-top: 20px;">
		<div style="text-align: left; background: #d3d3d3; font-size: 18px; font-weight: bold; padding: 7px;">판매처 & 브랜드 (담당자) 별 부가세</div>
	</div>
	<table class="table table-bordered" style="margin-top: 20px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="120px;"> <!-- 판매처 & 브랜드(담당자) 별 부가세 -->
			<col width="220px;"> <!-- 판매처 & 브랜드(담당자) 별 부가세 -->
			<col width="140px;"> <!-- 카드 -->
			<col width="140px;"> <!-- 현금 -->
			<col width="140px;"> <!-- 기타 -->
			<col width="140px;"> <!-- 세금계산서 -->
			<col width="140px;"> <!-- 합계(과세매출) -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="2"></td>
				<{if $brand_vat_total_list}>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.card_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.cash_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.etc_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.tax_price|number_format:0}></span>
					</td>
					<td style="text-align: right; color: green;">
						<span style="float: left;">￦</span><span style="float: right;"><{$brand_vat_total_list.total_price|number_format:0}></span>
					</td>
				<{else}>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<{/if}>
			</tr>
		<tr>
			<th scope="col" colspan="2" rowspan="2"></th>
			<th scope="col" colspan="5">부가세(VAT 별도)</th>
		</tr>
		<tr>
			<th scope="col">카드</th>
			<th scope="col">현금</th>
			<th scope="col">기타</th>
			<th scope="col">세금계산서</th>
			<th scope="col">합계(과세매출)</th>
		</tr>
		</thead>
		<tbody>
		<{if $dp_main_brand_vat_list}>
			<{foreach from=$dp_main_brand_vat_list key=dp_c_no item=dp_vat_data}>
				<{assign var=dp_brand value=$dp_main_brand_vat_total_list[$dp_c_no]}>
				<tr class="total-dp-<{$dp_c_no}>">
					<td class="first text-left" colspan="2">
						<{$dp_main_brand_vat_total_list[$dp_c_no].c_name}>
						<button type="button" onclick="toggleRow('total','<{$dp_c_no}>')">[+]</button>
					</td>
					<td> <!-- 카드 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$dp_brand.card_price|number_format:0}></span>
					</td>
					<td> <!-- 현금 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$dp_brand.cash_price|number_format:0}></span>
					</td>
					<td> <!-- 기타 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$dp_brand.etc_price|number_format:0}></span>
					</td>
					<td> <!-- 세금계산서 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$dp_brand.tax_price|number_format:0}></span>
					</td>
					<td> <!-- 판매금액 -->
						<span style="float: left;">￦</span><span style="float: right;"><{$dp_brand.total_price|number_format:0}></span>
					</td>
				</tr>

				<{assign var=dp_brand_cnt value=$dp_vat_data|count}>
				<{assign var=dp_brand_idx value=0}>
				<{foreach from=$dp_vat_data key=brand item=brand_data}>
					<tr class="row-dp-<{$dp_c_no}>" style="display: none;">
						<{if $dp_brand_idx == 0}>
						<td class="first text-left" rowspan="<{$dp_brand_cnt}>"><!-- 브랜드 (담당자) -->
							<{$brand_data.c_name}>
							<button type="button" onclick="toggleRow('row','<{$dp_c_no}>')">[-]</button>
						</td>
						<{/if}>
						<td class="text-left"><!-- 브랜드 (담당자) -->
							<{$brand_data.brand_name}>
							<img src="images/question.png" class="img-explain" title="<{$brand_vat_data.brand_exp}>">
						</td>
						<td> <!-- 카드 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$brand_data.card_price|number_format:0}></span>
						</td>
						<td> <!-- 현금 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$brand_data.cash_price|number_format:0}></span>
						</td>
						<td> <!-- 기타 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$brand_data.etc_price|number_format:0}></span>
						</td>
						<td> <!-- 세금계산서 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$brand_data.tax_price|number_format:0}></span>
						</td>
						<td> <!-- 판매금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$brand_data.total_price|number_format:0}></span>
						</td>
					</tr>
					<{assign var=dp_brand_idx value=$dp_brand_idx+1}>
				<{/foreach}>
			<{/foreach}>
		<{else}>
			<tr>
				<td class="first text-center" colspan="7">데이터가 없습니다</td>
			</tr>
		<{/if}>
		</tbody>
	</table>

</div>

<script type="text/javascript">
	function vatMonVal(type, obj)
	{
		var cur_year = '<{$check_year}>';
		var s_mon	 = cur_year + "-";
		var e_mon	 = cur_year + "-";

		if(type == 1){
			s_mon += "01";
			e_mon += "03";
		}else if(type == 2){
			s_mon += "04";
			e_mon += "06";
		}else if(type == 3){
			s_mon += "07";
			e_mon += "09";
		}else if(type == 4){
			s_mon += "10";
			e_mon += "12";
		}

		$(".vat_mon_btn").removeClass('mon_active');
		$(obj).addClass('mon_active');

		$("#sch_vat_s_mon").val(s_mon);
		$("#sch_vat_e_mon").val(e_mon);

		$("#sch_vat_mon_type").val(type);
	}

	function toggleRow(type, id)
	{
		if(type == 'total'){
			$(".total-dp-"+id).hide();
			$(".row-dp-"+id).show();
		}else if(type == 'row'){
			$(".row-dp-"+id).hide();
			$(".total-dp-"+id).show();
		}
	}
</script>

</body>
</html>
