<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.traffic_type_btn{background-color: #EEE; font-weight: bold; width: 156px; height: 30px; margin: 0; line-height: 14px; float: left; font-size: 14px; border-radius: unset; border: 1px solid #999;}
	.traffic_active_btn{background-color: #CCC;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" class="form-inline" action="work_cms_stats_traffic_conversion.php" method="get" autocomplete="off" style="display: block; margin-top: 5px;">
		<div style="overflow: hidden; margin-top: 20px;">
			<input type="hidden" name="sch_traffic_type" id="sch_traffic_type" value="<{$sch_traffic_type}>">
			<{foreach from=$sch_traffic_type_option key=key item=label}>
				<button type="button" class="btn traffic_type_btn <{if $sch_traffic_type == <{$key}>}>traffic_active_btn<{/if}>" id="traffic_type_btn_<{$key}>" onclick="openTrafficConversionIframe('<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>

		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_convert_s_date" style="display: inline-block; width: 40px;">날짜</label>
				<input type="text" name="sch_convert_s_date" id="sch_convert_s_date" class="date-picker form-control" value="<{$sch_convert_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_convert_e_date" id="sch_convert_e_date" class="date-picker form-control" value="<{$sch_convert_e_date}>" style="margin-left: 5px;" />
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_brand_g1" style="display: inline-block; width: 40px;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control sch_url_chk_param" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control sch_url_chk_param" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control sch_url_chk_param" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">판매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control sch_url_chk_param">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_option key=key item=dp_company}>
					<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$dp_company.page_title}></option>
					<{/foreach}>
				</select>

				<label for="sch_url">페이지 제목 :: URL</label>
				<select name="sch_url" id="sch_url" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_page_url_list key=key item=label}>
					<option value="<{$key}>" <{if $sch_url == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<div style="margin-top: 10px; color: gray;">
		※안내 : [데이터 유실] 2024.10.14 ~ 10.24 총 11일간 닥터피엘 GA4 전환값이 유실되었습니다.
	</div>

	<div class="iframe_loading_msg" style="width: 400px;">
		<img src="images/loading.gif" style="display: table; margin: 50px auto 30px;">
		<b style="font-size: 18px; display: table; margin: 0 auto;">
			유입/전환(통계) 로딩중입니다.
		</b>
	</div>

	<div class="iframe_content" style="display: none;">
		<iframe src='work_cms_stats_traffic_conversion_page_iframe.php?<{$search_url}>' id='work_cms_stats_traffic_conversion_page_iframe' width='1610' height='3000' frameborder='0'></iframe>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$(".sch_url_chk_param").change(function(){
			checkUrlList();
		});

		$("#work_cms_stats_traffic_conversion_page_iframe").load(function(){
			$(".iframe_loading_msg").hide();
			$(".iframe_content").show();
			checkIframe();
		});
	});

	function openTrafficConversionIframe(type)
	{
		$("#sch_traffic_type").val(type);
		searchList();
	}

	function checkIframe(){
		fixIframeHeight(document.getElementById("work_cms_stats_traffic_conversion_page_iframe"));
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
	}

	function checkUrlList()
	{
		var sch_brand_g1	= $("#sch_brand_g1").val();
		var sch_brand_g2	= $("#sch_brand_g2").val();
		var sch_brand		= $("#sch_brand").val();
		var sch_dp_c_no		= $("#sch_dp_company").val();

		$.ajax({
			url	: "/v1/api/comm.url.select.php",
			type: "POST",
			data: {sch_type: "page", sch_brand_g1: sch_brand_g1, sch_brand_g2: sch_brand_g2, sch_brand: sch_brand, sch_dp_c_no: sch_dp_c_no}
		}).done( function( data ) {
			var jsonData 	= JSON.parse(data);
			var option_html	= jsonData['select_option_html'];
			$("#sch_url").html(option_html);
		});
	}
</script>

</body>
</html>
