<{include file="inc/boot_navibar.html"}>

<style>
	.step-wrapper{clear: both; overflow:hidden; margin: 10px 0;}
	.step-wrapper form{margin: 10px 0; overflow: hidden;}
	.step-wrapper div{margin: 10px 0; overflow: hidden;}
	.step-wrapper .step-title{font-size: 14px; display: inline-block; width: 240px; line-height: 30px;}
	.step-wrapper b{font-size: 14px; line-height: 30px;}
	.step-wrapper .step-date{width: 80px;text-align: center;box-sizing: border-box; height: 23px;}
	.step-wrapper .view-btn{width: 58px;height: 26px;margin-top: 4px;}
	.step-wrapper .excel-btn{padding: 7px 7px;height: 26px;line-height: 13px; background-color: #565656;}

	.sms-btn{background: #3093c2 !important;}
	.staff-step-wrapper{clear: both; overflow:hidden; margin: 10px 0;}
	.staff-step-wrapper form{margin: 10px 0; overflow: hidden;}
	.staff-step-wrapper div{margin: 10px 0; overflow: hidden;}
	.staff-step-wrapper b{font-size: 14px; line-height: 30px;}
	.staff-step-wrapper .step-title{font-size: 14px; display: inline-block; min-width: 240px; line-height: 30px;}
	.staff-step-wrapper .step-date{width: 80px;text-align: center;box-sizing: border-box; height: 23px;}
	.staff-step-wrapper .view-btn{height: 26px;margin-top: 4px;}
	.staff-step-wrapper .excel-btn{padding: 7px 7px;height: 26px;line-height: 13px;}
	.reg_active{background: #3093c2 !important;}
	#new_prd_btn:disabled{background: #ccc !important;}
	.upd_order_btn{background: #3093c2 !important; border: 1px solid #3093c2; font-size: 14px;}

	#visit-modal{height: auto; overflow: unset; max-width: 410px; padding: 5px;left: 1%; position: absolute; top: 5%;}
	.base-type-btn{background: #DDD; color: #333; font-size: 12px; width: 150px; height: 60px; }
	.base-type-btn-active{background: #BBB; color: white;}
	.new_unit_notice{color: red;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_list_cms.php" autocomplete="off">
		<h2 class="title" style="margin-bottom: 10px;">
			<{if $nav_prd_no}>
				<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{else}>
				●
			<{/if}>
			<{$nav_title}>
		</h2>
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div>
					<span class="name_tit">작성일시</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_s_date" name="sch_reg_s_date" value="<{$sch_reg_s_date}>" />
					<span>~</span>
					<input type="text" class="date-picker input_type_date" id="sch_reg_e_date" name="sch_reg_e_date" value="<{$sch_reg_e_date}>" />
					<input type="hidden" name="today_val" id="today_val" value="<{$today_val}>">
					<input type="hidden" name="week_val" id="week_val" value="<{$week_val}>">
					<input type="hidden" name="month_val" id="month_val" value="<{$month_val}>">
					<input type="hidden" name="months_val" id="months_val" value="<{$months_val}>">
					<input type="hidden" name="year_val" id="year_val" value="<{$year_val}>">
					<input type="hidden" name="years_val" id="years_val" value="<{$years_val}>">
					<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
					<button type="button" onclick="regdateVal('today')" class="btn_small regdate_btn reg_today_btn <{if $sch_reg_date_type == 'today'}>reg_active<{/if}>" >오늘</button>
					<button type="button" onclick="regdateVal('week')" class="btn_small regdate_btn reg_week_btn <{if $sch_reg_date_type == 'week'}>reg_active<{/if}>">1주</button>
					<button type="button" onclick="regdateVal('month')" class="btn_small regdate_btn reg_month_btn <{if $sch_reg_date_type == 'month'}>reg_active<{/if}>">1달</button>
					<button type="button" onclick="regdateVal('months')" class="btn_small regdate_btn reg_months_btn <{if $sch_reg_date_type == 'months'}>reg_active<{/if}>">3달</button>
					<button type="button" onclick="regdateVal('year')" class="btn_small regdate_btn reg_year_btn <{if $sch_reg_date_type == 'year'}>reg_active<{/if}>">1년</button>
					<button type="button" onclick="regdateVal('years')" class="btn_small regdate_btn reg_years_btn <{if $sch_reg_date_type == 'years'}>reg_active<{/if}>">2년</button>
				</div>
				<br/>
					<span id="sch_detail_display_btn_show">
						<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
					</span>
					<span id="sch_detail_display_btn_hide">
						<button type="button" style="width: 140px; color: black; background-color: #d5d5d5; margin-bottom: 0; margin-left: 0; border-radius: 4px 4px 0 0;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
					</span>
					<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 4px;">
					<div>
						<span class="name_tit">w_no</span>
						<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송 진행상태</span>
						<select name="sch_delivery_state" id="sch_delivery_state" class="select_type2">
							<option value="">::전체::</option>
							<{foreach from=$delivery_state_list key=delivery_state item=label}>
								<option value="<{$delivery_state}>" <{if $sch_delivery_state == $delivery_state}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<div style="display: inline-block;">
							<input type="checkbox" id="sch_ord_bundle" style="cursor: pointer; margin-top: 10px; margin-right: -1px;" name="sch_ord_bundle" value="1" <{if $sch_ord_bundle == '1'}>checked<{/if}>>
							<label for="sch_ord_bundle" style="cursor: pointer;font-size: 11px;display: inline-block;vertical-align: middle;margin: 10px 0 0;">주문번호 그룹조회</label>
						</div>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">주문일시</span>
						<input type="text" class="date-picker input_type_date" id="sch_order_s_date" name="sch_order_s_date" value="<{$sch_order_s_date}>" />
						<span>~</span>
						<input type="text" class="date-picker input_type_date" id="sch_order_e_date" name="sch_order_e_date" value="<{$sch_order_e_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">발송처리일</span>
						<input type="text" class="date-picker input_type_date" id="sch_stock_date" name="sch_stock_date" value="<{$sch_stock_date}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">물류업체(발송지)</span>
						<select name="sch_log_c_no" id="sch_log_c_no" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$logistics_company_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_log_c_no==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">배송방법</span>
						<select name="sch_order_type" id="sch_order_type" class="select_type2" style="width: 80px;">
							<option value="">::전체::</option>
							<{foreach from=$order_type_option item=label}>
							<option value="<{$label}>" <{if $sch_order_type==$label}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">상품비</span>
						<select name="sch_unit_price" id="sch_unit_price" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_unit_price==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">택배비</span>
						<select name="sch_delivery_price" id="sch_delivery_price" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_delivery_price==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">쿠폰</span>
						<select name="sch_coupon_price" id="sch_coupon_price" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_coupon_price==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">쿠폰타입</span>
						<select name="sch_coupon_type" id="sch_coupon_type" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$coupon_type_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_coupon_type==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" value="<{$sch_order_number}>" class="input_type2" style="background-color: #ffffcc; width:140px;" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">수령자명</span>
						<input type="text" name="sch_recipient" value="<{$sch_recipient}>" class="input_type2" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">수령자전화</span>
						<input type="text" name="sch_recipient_hp" value="<{$sch_recipient_hp}>" class="input_type2" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">수령지</span>
						<input type="text" name="sch_recipient_addr" id="sch_recipient_addr" value="<{$sch_recipient_addr}>" class="input_type2" />
						<span style="margin-right:10px;"></span>

						<span class="name_tit">운송장번호</span>
						<input type="text" name="sch_delivery_no" value="<{$sch_delivery_no}>" class="input_type2" />
						<label for="sch_delivery_no_null" style="cursor: pointer;">IS NULL</label><input type="checkbox" name="sch_delivery_no_null" id="sch_delivery_no_null" style="cursor: pointer;" <{if $sch_delivery_no_null == 'null'}>checked<{/if}> value="null"/>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">구매처</span>
						<select name="sch_dp_c_no" id="sch_dp_c_no" class="select_type2" style="width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_dp_company_option key=key item=dp_comp}>
							<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}> <{if $dp_comp.display == '2'}>style='color: #BBB;'<{/if}>><{$dp_comp.title}></option>
							<{/foreach}>
						</select>
						<input type="checkbox" id="sch_wise_dp" style="cursor: pointer; margin-top: 10px; margin-right: -1px;" name="sch_wise_dp" value="1" <{if $sch_wise_dp == '1'}>checked<{/if}>>
						<label for="sch_wise_dp" style="cursor: pointer;font-size: 11px;display: inline-block;vertical-align: middle;margin: 10px 0 0;">WISE_요청 조회</label>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">특이사항</span>
						<input type="text" name="sch_notice" value="<{$sch_notice}>" class="input_type2" />
						<span style="margin-right:10px;"></span>

						<{if !$is_freelancer}>
						<span class="name_tit">주문요약정보</span>
						<input type="text" name="sch_task_req" value="<{$sch_task_req}>" class="input_type2" />
						<span style="margin-right:10px;"></span>
						<{/if}>

						<span class="name_tit">정기구독</span>
						<select name="sch_subscription" id="sch_subscription" class="select_type2" style="width: 60px;">
							<option value="">::전체::</option>
							<{foreach from=$is_exist_option key=key item=label}>
							<option value="<{$key}>" <{if $sch_subscription==$key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:10px;"></span>

						<span class="name_tit">처리자</span>
						<input type="text" name="sch_run_s_name" value="<{$sch_run_s_name}>" class="input_type2" />
						<span style="margin-right:10px;"></span>
					</div>
					<div style="margin:10px 0;">
						<span class="name_tit">업체명/브랜드명</span>
						<select name="sch_brand_g1" id="sch_brand_g1" class="select_type2" style="width: 100px; margin-right: 5px; display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g1_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand_g2" id="sch_brand_g2" class="select_type3" style="width: 100px; margin-right: 5px;display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g2_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand" id="sch_brand" class="select_type3" style="width: 100px; display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 150px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g1_list}>
							<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 185px;	height: 30px; margin-right: 5px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$prd_g2_list}>
							<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
							<{/section}>
						</select>
						>
						<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 200px; height: 30px; margin-right: 10px; font-size: 15px;">
							<option value="">::전체::</option>
							<{section name=data loop=$sch_prd_list}>
							<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
							<{/section}>
						</select>

						<input type="text" name="sch_prd_name" id="sch_prd_name" value="<{$sch_prd_name}>" class="input_type5" <{if $sch_prd}>disabled<{/if}>>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구성품(SKU)</span>
						<input type="text" name="sch_option_sku" id="sch_option_sku" value="<{$sch_option_sku}>" class="input_type5" style="width: 120px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">File no</span>
						<input type="text" name="sch_file_no" id="sch_file_no" value="<{$sch_file_no}>" class="input_type5" style="width: 80px;" />

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
						<button type="button" class="btn_small" onclick="resetSearch();" style="width:58px; height:27px;">초기화</button>
					</div>
				</div>

				<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
				<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
				<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
				<input type="hidden" name="sch_step" id="sch_step" value="" />
				<input type="hidden" name="sch_step_data" id="sch_step_data" value="" />
				<input type="hidden" name="sch_month_date" id="sch_month_date" value="" />

				<{if $sch == 'Y'}>
					<script>$("#sch_detail_display").show();</script>
					<script>$("#sch_detail_display_btn_show").hide();</script>
					<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
					<script>$("#sch_detail_display").hide();</script>
					<script>$("#sch_detail_display_btn_show").show();</script>
					<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<{if $is_with_editable}>
		<div class="step-wrapper">
			<div>
				<span style="color: red; font-size: 13px;">※주의!! 엑셀 다운로드는 검색 조건에 따라 출력 되므로 STEP에 있는 보기 버튼을 클릭 후 다운로드 받으세요.</span>
			</div>
			<div>
				<span class="step-title">[STEP 01] 발송진행요청 보기</span><b> : </b>
				<input type="text" class="date-picker step-date" name="step_01_date" id="step_01_date" value="<{$step_01_date}>"/>
				<button type="button" class="btn_small view-btn" onclick="step_search('step01');">보기</button>
				<button onclick="excelEMPDownload('no')" class="btn_style1 excel-btn" style="background:#4caf50;"><span>EMP 발주등록 양식 엑셀 다운로드</span></button>
				<button onclick="excelEMPDownload('wise')" class="btn_style1 excel-btn" style="background:#4caf50;"><span>EMP 발주등록 양식 엑셀 다운로드(WISE_요청)</span></button>
				<button onclick="excelEMPDownload('nuzam')" class="btn_style1 excel-btn" style="background:#4caf50;"><span>EMP 발주등록 양식 엑셀 다운로드(누잠)</span></button>
				<button type="button" class="btn-file" style="padding: 4px 7px; background: #565656;color:white;" onclick="step_search('step01-02');">[사서함 확인]</button>
			</div>
			<form action="work_cms_delivery_insert.php" method="post" name="work_list_cms_step_02_frm" id="work_list_cms_step_02_frm" enctype="multipart/form-data">
				<span class="step-title">[STEP 02] 운송장번호 엑셀 적용</span><b> : </b>
				<span class="name_tit" style="width: 60px; color: dimgray; display: inline-block;">발송처리일</span>
				<input type="text" class="date-picker step-date" name="step_02_date" id="step_02_date" value="<{$step_02_date}>"/>
				<input type="file" name="delivery_file" id="delivery_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button type="button" onclick="return addDeliveryNoList();" class="btn_file excel-btn" style="padding: 4px 7px; background: #565656;">운송장번호 적용</button>
			</form>
			<div>
				<span class="step-title">[STEP 03] 비어있는 운송장 확인</span><b> : </b>
				<input type="text" class="date-picker step-date" name="step_03_date" id="step_03_date" value="<{$step_03_date}>"/>
				<button type="button" class="btn_small view-btn" onclick="step_search('step03');">보기</button>
				<button type="button" onclick="window.open('work_cms_sms_popup.php?type=apply&staff_type=2', '운송장 적용알림','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="padding: 4px 7px;">운송장적용 문자</button>
			</div>
			<div>
				<span class="step-title">[STEP 04] 발송 취소건 확인</span><b> : </b>
				<input type="text" class="date-picker step-date" name="step_04_date" id="step_04_date" value="<{$step_04_date}>"/>
				<button type="button" class="btn_small view-btn" onclick="step_search('step04');">보기</button>
				<button onclick="excelOrderCancelDownload()" class="btn_style1 excel-btn" style="background:#4caf50;"><span>취소건 엑셀 다운로드</span></button>
				<button type="button" onclick="window.open('work_cms_sms_popup.php?type=cancel&staff_type=2', '운송장 변경알림','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="padding: 4px 7px;"><span>운송장변경 문자</span></button>
			</div>
			<form action="work_cms_delivery_insert_additional.php" method="post" name="work_list_cms_step_02_extra_frm" id="work_list_cms_step_02_extra_frm" enctype="multipart/form-data">
				<input type="hidden" name="additional_type" value=""/>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<div style="margin-top: 0;">
					<span class="step-title">[STEP 05] 추가운송장번호 엑셀 적용 A</span><b> : </b>
					<input type="file" name="additional_file" id="additional_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<button type="button" onclick="return addDeliveryNoAddList('1');" class="btn_file excel-btn" style="padding: 4px 7px; background: #565656;">추가운송장번호 적용</button>
					<a type="application/octet-stream" href="./uploads/document/excel/sample.xls" download="추가운송장 엑셀양식 A">
						<span style="margin: 0 5px 0 10px;">[excel sample download]</span>
					</a>
				</div>
				<div style="margin-top: 0;">
					<span class="step-title" style="font-size: 11px;">추가운송장번호 엑셀 적용 B(EMP 다운로드 양식)</span><b> : </b>
					<input type="file" name="additional_file_b" id="additional_file_b" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
					<button type="button" onclick="return addDeliveryNoAddList('2');" class="btn_file excel-btn" style="padding: 4px 7px; background: #565656;">추가운송장번호 적용</button>
					<a type="application/octet-stream" href="./uploads/document/excel/sample_b.xls" download="추가운송장 엑셀양식 B">
						<span style="margin: 0 5px 0 10px;">[excel sample download]</span>
					</a>
				</div>
			</form>
		</div>
	<{/if}>

	<{if !$is_freelancer}>
	<div class="staff-step-wrapper">
		<div>
			<span style="color: red; font-size: 13px;">※주의!! 엑셀 다운로드는 검색 조건에 따라 출력 되므로 STEP에 있는 보기 버튼을 클릭 후 다운로드 받으세요.</span>
		</div>
		<div>
			<span class="step-title">[발송 :: STEP 01] 택배리스트 정리 하기</span><b> : </b>
			<button onclick="window.open('work_cms_temporary.php', '택배리스트 자동정리', 'left=50,top=50,width=1500,height=1000,scrollbars=yes')" class="btn_style1 excel-btn"><span>택배 리스트 자동정리(<{$temporary_total}>)</span></button>
			<form method="post" name="delivery_process_frm" action="work_cms_temporary.php" style="display: inline;">
				<input type="hidden" name="process" value=""/>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button type="button" onclick="window.open('work_cms_inspection.php', '택배리스트 검수', 'left=50,top=50,width=1500,height=1000,scrollbars=yes')" class="btn_style1 excel-btn"><span>택배리스트(<{$temporary_total}>)건 검수 및 적용하기</span></button>
				<button type="button" class="btn_small view-btn" onclick="deliveryProcessForm('cms_all_delete');">전체 삭제하기</button>
			</form>
			<button type="button" onclick="window.open('work_cms_sms_popup.php?type=apply&staff_type=1', '운송장 요청 문자알림','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="padding: 4px 7px;"><span>운송장 요청 문자</span></button>
		</div>
		<div>
			<span class="step-title">[발송 :: STEP 02] 사서함확인 및 고객취소 설정</span><b> : </b>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step02');">고객취소 보기</button>
			<button type="button" onclick="window.open('work_cms_sms_popup.php?type=cancel&staff_type=1', '취소건 문자알림','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file sms-btn" style="padding: 4px 7px;"><span>취소건 문자</span></button>
		</div>
		<div>
			<span class="step-title">[발송 :: STEP 03] 운송장변경 확인</span><b> : </b>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step03');">보기</button>
			<button type="button" onclick="excelModifyDeliveryDownload()" class="btn_style1 excel-btn" style="background:#4caf50;"><span>운송장변경 엑셀 다운로드</span></button>
		</div>
		<div>
			<span class="step-title">[발송 :: STEP 04] 비어있는 운송장 확인</span><b> : </b>
			<input type="text" class="date-picker step-date" name="step_date" id="step_date" value="<{$step_date}>"/>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step04');">보기</button>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step10');">운송장완료&진행요청 보기</button>
		</div>
		<div>
			<span class="step-title">[발송 :: STEP 05] 운송장 다운로드</span><b> : </b>
			<input type="text" class="date-picker step-date" name="step_05_date" id="step_05_date" value="<{$step_05_date}>"/>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step05');">보기</button>
			<form method="post" name="modify_delivery_state_frm" action="work_list_cms.php" style="display: inline;">
				<input type="hidden" name="process" value="modify_delivery_state"/>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<input type="hidden" name="ds_stock_date" id="ds_stock_date" value=""/>
				<button type="button" onclick="return modifyDeliveryState()" class="btn_style1 excel-btn" style="background:#565656;"><span>[진행완료 처리]</span></button>
			</form>
		</div>
		<div>
			<select name="step05_delivery_type" id="step05_delivery_type" class="select_type2">
				<option value="">:: 택배사 선택 ::</option>
				<option value="CJ대한통운">CJ대한통운</option>
				<option value="한진택배">한진택배</option>
			</select>
			<button onclick="return excelDeliveryConfirmDownload('1', '아임웹 운송장');" class="btn_style1 excel-btn" title="아임웹 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아임웹 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('21', '아임웹(닥터피엘) 운송장');" class="btn_style1 excel-btn" title="아임웹(닥터피엘) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아임웹(닥터피엘) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('23', '아임웹(아이레놀) 운송장');" class="btn_style1 excel-btn" title="아임웹(아이레놀) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아임웹(아이레놀) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('2', '닥터피엘(스토어팜) 운송장');" class="btn_style1 excel-btn" title="닥터피엘(스토어팜) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[닥터피엘(스토어팜) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('3', '사방넷 운송장');" class="btn_style1 excel-btn" title="사방넷 운송장 Excel 다운로드" style="background:#4caf50;"><span>[사방넷 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('8', '아이레놀(스토어팜) 운송장');" class="btn_style1 excel-btn" title="아이레놀(스토어팜) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아이레놀(스토어팜) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('10', '베라베프(스토어팜) 운송장');" class="btn_style1 excel-btn" title="베라베프(스토어팜) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[베라베프(스토어팜) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('12', '누잠(스토어팜) 운송장');" class="btn_style1 excel-btn" title="누잠(스토어팜) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[누잠(스토어팜) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('13', 'CS/교환 운송장');" class="btn_style1 excel-btn" title="CS/교환 운송장 Excel 다운로드" style="background:#4caf50;"><span>[CS/교환 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('15', '올리브영(누잠_에이원비앤에이치) 운송장 다운로드');" class="btn_style1 excel-btn" title="올리브영(누잠_에이원비앤에이치) 운송장 다운로드" style="background:#4caf50;"><span>[올리브영(누잠_에이원비앤에이치) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('20', '온더룩 운송장 다운로드');" class="btn_style1 excel-btn" title="온더룩 운송장 다운로드" style="background:#4caf50;"><span>[온더룩 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('17', '알리익스프레스 운송장 다운로드');" class="btn_style1 excel-btn" title="알리익스프레스 운송장 다운로드" style="background:#4caf50;"><span>[알리익스프레스 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('18', '아이레놀(공동구매) 운송장 다운로드');" class="btn_style1 excel-btn" title="아이레놀(공동구매) 운송장 다운로드" style="background:#4caf50;"><span>[아이레놀(공동구매) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('24', '아임웹(채식주의) 운송장');" class="btn_style1 excel-btn" title="아임웹(채식주의) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아임웹(채식주의) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('25', '아임웹(누잠) 운송장');" class="btn_style1 excel-btn" title="아임웹(누잠) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[아임웹(누잠) 운송장 다운로드]</span></button>
			<button onclick="return excelDeliveryConfirmDownload('26', '스마트스토어(채식주의) 운송장');" class="btn_style1 excel-btn" title="스마트스토어(채식주의) 운송장 Excel 다운로드" style="background:#4caf50;"><span>[스마트스토어(채식주의) 운송장 다운로드]</span></button>
		</div>
		<div>
			<select name="step05_imweb_type" id="step05_imweb_type" class="select_type2">
				<option value="">:: 아임웹 v2 선택::</option>
				<option value="1372">베라베프</option>
				<option value="5800">닥터피엘</option>
				<option value="5261">와이즈웰</option>
			</select>
			<button onclick="return excelDeliveryConfirmDownload('99', '아임웹 v2 운송장 다운로드');" class="btn_style1 excel-btn" title="기본양식 운송장 다운로드" style="background:#4caf50;"><span>[아임웹 v2 운송장 다운로드]</span></button>
		</div>
		<div>
			<select name="step05_dp_company" id="step05_dp_company" class="select_type2">
				<option value="">::구매처 선택::</option>
				<option value="5866">빌리진아이</option>
				<option value="5908">더블앤코퍼레이션</option>
				<option value="4316">롯데홈쇼핑</option>
				<option value="6031">선린</option>
				<option value="5859">후추</option>
				<option value="6058">마이리틀타이거</option>
				<option value="6061">엘케이리테일</option>
			</select>
			<button onclick="return excelDeliveryConfirmDownload('22', '기본양식 운송장 다운로드');" class="btn_style1 excel-btn" title="기본양식 운송장 다운로드" style="background:#4caf50;"><span>[기본양식 운송장 다운로드]</span></button>
		</div>
		<div>
			<span class="step-title">[발송(직수정수기) :: STEP 06] 방문지원 처리(정수기설치)</span><b> : </b>
			<button type="button" onclick="quickSearch();" style="padding: 4px 6px; margin-left: 10px;" class="btn_small"><{$quick_prd_btn_text}></button>
			<form method="post" name="add_visit_frm" id="add_visit_frm" action="work_list_cms.php" style="display: inline;">
				<input type="hidden" name="process" value=""/>
				<input type="hidden" name="w_no" value=""/>
				<input type="hidden" name="quick_step" id="quick_step" value="<{$quick_step}>" />
				<input type="hidden" name="quick_combined" id="quick_combined" value="<{$quick_combined}>" />
				<input type="hidden" name="quick_yet_order" id="quick_yet_order" value="<{$quick_yet_order}>" />
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
			</form>
			<button type="button" onclick="window.open('work_cms_sms_popup.php?type=visit&staff_type=1', '기사설치 접수요청 문자','width=500, height=510, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file" style="padding: 4px 7px; background: #3093c2;"><span>기사설치 접수요청 문자</span></button>
		</div>
		<div>
			<span class="step-title">[발송(교환) :: STEP 07] CS 발송 검수</span><b> : </b>
			<input type="checkbox" name="step_07_check" id="step_07_check" value="1" <{if !$step_07_check || $step_07_check == 'true'}>checked<{/if}>>
			<label for="step_07_check">입금미완료건 제외</label>
			<select id="step_07_state" class="select_type1" style="width: auto;">
				<option value="10">작성완료(검수요청)</option>
			</select>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step07');">보기</button>
			<button type="button" onclick="return excelOrderInspection();" class="btn_style1 excel-btn" style="color: white; background:#4caf50;">검수용 엑셀 다운로드</button>
			<form method="post" name="modify_inspection_state_frm" action="work_list_cms.php" style="display: inline;">
				<input type="hidden" name="process" value="modify_inspection_state"/>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button type="button" onclick="return modifyInspectionState()" class="btn_style1 excel-btn" style="background:#565656;"><span>작성완료(검수요청) -> 진행요청 일괄변경]</span></button>
			</form>
		</div>
		<{if $session_team == '00244'}>
			<div>
				<span class="step-title">[STEP 08] 오배송 리스트</span><b> : </b>
				<span class="name_tit" style="width: 75px; color: dimgray; display: inline-block;">발송처리일(월)</span>
				<input type="text" name="step_08_date" id="step_08_date" class="month-picker step-date" value="<{$step_08_date}>"/>
				<button type="button" class="btn_small view-btn" onclick="staff_step_search('step08');">보기</button>
				<span style="width: 20px; display: inline-block;"></span>
				<select name="step_08_wrong_type" id="step_08_wrong_type" class="select_type2" style="width: 130px;">
					<option value="">:: 오배송타입 선택 ::</option>
					<option value="1">오배송&누락</option>
					<option value="2">파손</option>
					<option value="3">분실</option>
				</select>
				<button onclick="excelWrongDelivery();" class="btn_style1 excel-btn" style="color: white; background:#4caf50;">오베송 엑셀 다운로드</button>
				<button type="button" class="btn_small view-btn" onclick="quickCombined();">합배송 오류 찾기</button>
			</div>
		<{/if}>

		<div>
			<span class="step-title">[방문수령 :: STEP 09]</span><b> : </b>
			<input type="text" name="step_09_date" id="step_09_date" class="date-picker step-date" value="<{$step_09_date}>"/>
			<button type="button" class="btn_small view-btn" onclick="staff_step_search('step09');">보기</button>
			<button type="button" class="btn_small view-btn" onclick="quickYetOrder();">미완료(<{$yet_order_cnt}>건) 보기</button>
		</div>

		<{if $session_team == '00244' || $session_s_no == '167' || $session_s_no == '9'}>
			<div>
				<span class="step-title">[예약판매 주문건]</span><b> : </b>
				<a href="work_cms_reservation_list.php" target="_blank" style="border-radius: 4px; background-color: #565656; color: #fff; padding: 6px 10px; text-decoration: unset;">리스트이동</a>
			</div>
			<div>
				<span class="step-title">[베라베프 발주 확인]</span><b> : </b>
				<a href="work_cms_error_check.php" target="_blank" style="border-radius: 4px; background-color: #565656; color: #fff; padding: 6px 10px; text-decoration: unset;">리스트이동</a>
			</div>
		<{/if}>
	</div>
	<{/if}>

	<!-- 커머스 주문 추가하기 [Start] -->
	<form name="new_delivery_frm" id="new_delivery_frm" class="new_delivery_frm" action="work_list_cms.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="new_order">
		<input type="hidden" name="new_w_no" id="new_w_no" value="">
		<input type="hidden" name="new_ord_date" id="new_ord_date" value="<{$new_ord_date}>">
		<input type="hidden" name="new_pay_date" id="new_pay_date" value="<{$new_ord_date}>">
		<input type="hidden" name="new_stock_date" id="new_stock_date" value="<{$new_ord_date}>">
		<input type="hidden" name="new_order_type" id="new_order_type" value="">
		<input type="hidden" name="new_log_c_no" id="new_log_c_no" value="">
		<div class="table_list_style">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="first" style="min-width: 70px; width: 70px;" rowspan="2">주문번호(자동)<br/>접수일(자동)</th>
						<th style="min-width: 100px; width: 100px;" rowspan="2">수령자명</th>
						<th style="min-width: 100px; width: 100px;" rowspan="2">수령자전화</th>
						<th style="min-width: 100px; width: 100px;" rowspan="2">우편번호</th>
						<th style="min-width:250px; max-width: 250px; width:250px;" rowspan="2">수령지</th>
						<th style="min-width:200px; max-width: 200px; width:200px;" rowspan="2">배송메모</th>
						<th style="min-width:300px; width:300px;" rowspan="2">상품명/수량</th>
						<th style="min-width:150px; max-width: 150px; width:150px;" rowspan="2">특이사항</th>
						<th style="min-width:100px; width:100px;" rowspan="2">구매처</th>
						<th style="min-width:200px; width:200px;" rowspan="2">관리자 메모</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first"> <!-- 주문일시 -->
							<input type="text" class="input_type3" id="new_ord_number" name="new_ord_number" value="" style="width: 120px; text-align: center;" required /><br/>
							<input type="text" class="input_type3 " value="<{$new_ord_date}>" style="width: 120px; background-color: #ebebe4; text-align: center;" readonly required />
						</td>
						<td><input type="text" class="input_type3" id="new_recipient" name="new_recipient" style="text-align: center;" required /></td>
						<td><input type="text" class="input_type3" id="new_recipient_hp" name="new_recipient_hp" style="text-align: center;" required /></td>
						<td>
							<input type="text" class="input_type3" id="new_zipcode" name="new_zipcode" style="text-align: center;" required /><br/>
							<button type="button" style="padding: 5px 10px; background: #333; color: white;" onclick="openDaumPostCode()">우편번호 찾기</button>
						</td>
						<td>
							<input type="text" class="input_type5" id="new_recipient_addr1" name="new_recipient_addr1" style="width: 220px;" placeholder="수령지 주소" readonly required/><br/>
							<input type="text" class="input_type5" id="new_recipient_addr2" name="new_recipient_addr2" style="width: 220px;" placeholder="수령지 세부주소" />
						</td>
						<td>
							<textarea name="new_delivery_memo" id="new_delivery_memo" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200')" class="textarea_work_message"></textarea>
						</td>
						<td class="add-prd-wrap">
							<div style="clear: both; overflow: hidden; text-align: left;">
								<a href="javascript:void(0)" onclick="open_quick_prd('1')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
								<input type="text" class="input_type5 new_prd_name" id="new_prd_name_1" name="new_prd_name[]" attr-key="1" style="float: left; width: 180px;" required/>
								<input type="number" class="input_type3" name="new_quantity[]" id="new_quantity_1" style="width: 40px; float: left;" required />
								<input type="hidden" name="new_prd_no[]" class="new_prd_no" id="new_prd_no_1" value="" required />
								<input type="hidden" id="attr-key" value="1" />
								<button type="button" onclick="addPrdColumn()" id="new_prd_btn" style="float: left; padding: 5px 10px; background: #333; color: white; font-size: 18px; line-height: 18px;">+</button>
								<div id="new_unit_notice_1" class="new_unit_notice"></div>
							</div>
						</td>
						<td>
							<textarea name="new_notice" id="new_notice" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '150')" class="textarea_work_message"></textarea>
						</td>
						<td>
							<select name="new_dp_c_no" id="new_dp_c_no" class="new_dp_c_no select_type1" required>
								<option value="">::선택::</option>
								<{foreach from=$dp_company_option key=dp_c_no item=label}>
								<option value="<{$dp_c_no}>"><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td>
							<textarea name="new_manager_memo" id="new_manager_memo" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200')" class="textarea_work_message"></textarea>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10"><input type="submit" id="new_submit_btn" value="추가하기" style="width: 100%; padding: 10px; background: #333; color: #FFF; letter-spacing: 15px;"></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<{if permissionNameCheck($session_permission, "마스터관리자")}>
			<div style="overflow: hidden;">
				<button type="button" class="btn" onclick="delPersonalInfo()" style="font-size: 14px; background: red; color: white; margin: 10px 0 0 0; float: left;">
					커머스 주문정보 개인정보 삭제
					<img title="개인정보보호를 위해 주문일로 부터 5년 이후의 연락처,우편번호,수령지주소(시/도에 해당하는 앞 10글자 제외)가 삭제 됩니다." src="./images/icon/question3.png" style="cursor: pointer; margin-top: -4px;"></a>
				</button>
				<{if $work_last_date}>
					<span style="line-height: 30px; float: left; margin: 20px 0 0 10px; font-size: 12px;">
						last operate : <{$work_last_date}>
					</span>
				<{/if}>
			</div>
		<{/if}>
	</form>

	<{if permissionNameCheck($session_permission, "마스터관리자") || $session_s_no == '310'}>
		<div class="staff-step-wrapper">
			<div>
				<span class="step-title">[해외재발송 :: STEP 01]</span><b> : </b>
				<form name="modify_inspection_state_global_frm" action="work_list_cms.php" method="post" style="display: inline;">
					<input type="hidden" name="process" value="modify_inspection_state_global"/>
					<input type="hidden" name="search_url" value="<{$search_url}>"/>
					<input type="hidden" name="global_chk_state" value="10"/>
					<label for="global_delivery_state">발송 진행상태</label>
					<select name="global_delivery_state" id="global_delivery_state" class="select_type1" style="width: auto;">
						<option value="10">작성완료(검수요청)</option>
						<option value="4">진행완료</option>
					</select>
					<label for="global_log_c_no" style="margin-left: 10px;">물류업체(발송지)</label>
					<select name="global_log_c_no" id="global_log_c_no" class="select_type1" style="width: auto;">
						<option value="5659">스타트투데이_아이레놀</option>
						<option value="5956">스타트투데이_닥터피엘</option>
					</select>
					<button type="button" class="btn_small view-btn" onclick="global_search();">보기</button>
					<button type="button" onclick="return modifyInspectionStateGlobal('10')" class="btn_style1 excel-btn" style="background:#565656;"><span>작성완료(검수요청) -> 진행요청 일괄변경]</span></button>
					<button type="button" onclick="return excelGlobalDownload('5659');" class="btn_style1 excel-btn" title="배송신청>대량신청 엑셀 다운로드" style="background:#4caf50;"><span>[배송신청>대량신청 엑셀 다운로드]</span></button>
					<button type="button" onclick="return modifyInspectionStateGlobal('1')" class="btn_style1 excel-btn" style="background:#565656;"><span>진행요청 -> 진행완료 일괄변경]</span></button>
				</form>
			</div>
		</div>
	<{/if}>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
			<tr>
				<td colspan="<{if $session_staff_state == '2' }>16<{else}>18<{/if}>" style="text-align: left;padding-right: 5px;padding-top: 25px;">
					<span style="display: block;float: left;line-height: 40px;"><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<div class="right_wrap">
						<button onclick="sort_search('order_date')">주문일시순<{if $ord_type == 'order_date'}><span style="color:red;"><{if $ord_type == 'order_date' && $ord_type_by == '1'}>▲<{elseif $ord_type == 'order_date' && $ord_type_by == '2'}>▼<{/if}></span><{/if}></button>
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</div>
				</td>
				<{if !$is_freelancer}>
				<td style="color: blue; text-align:right; font-size: 11px; vertical-align: bottom; padding-bottom: 7px;">
					<span style="color: #808080;font-size: 8pt;">
						(상품)
					</span>
					<span style="color: blue;">
						￦<{$total_price_list.total_price|number_format}><br/>
					</span>
					<span style="color: #808080;font-size: 8pt;">
						(택배)
					</span>
					<span style="color: blue;">
						￦<{$total_price_list.total_delivery|number_format}><br/>
					</span>
					<span style="color: #808080;font-size: 8pt;">
						(쿠폰)
					</span>
					<span style="color: red;">
						￦<{$total_price_list.total_coupon|number_format}>
					</span>
				</td>
				<td colspan="5"></td>
				<{/if}>
			</tr>
			<tr>
				<th class="first" style="min-width:60px; width:60px;">w_no<br>작성일</th>
				<th style="min-width: 90px; width: 90px;" >발송<br/>진행상태</th>
				<th style="min-width: 46px; width: 46px;" >주문<br/>일시</th>
				<th style="min-width: 140px; width: 140px;" >주문번호</th>
				<th style="min-width: 180px; width:180px;" >
					수령자명<br/>
					수령자전화<br/>
					[우편번호]<br/>
					수령지<br/>
				</th>
				<th style="min-width:64px; width:64px;">배송메모</th>
				<th style="min-width: 56px; width: 56px;" >배송방법<br/>발송<br/>처리일</th>
				<th style="min-width:110px; width:110px;">택배사<br/>운송장번호</th>
				<th style="min-width:90px; width:90px;">업체명/브랜드명</th>
				<th style="min-width:90px; width:90px;">물류업체(발송지)</th>
				<th style="min-width:200px; width:200px;">커머스 상품명</th>
				<th style="min-width:40px; width:40px;">수량</th>
				<th style="min-width:240px; width:240px;">구성품목(SKU) * 수량<br>(수량 = 구성품수량 x 상품수량)</th>
				<th style="min-width:150px; width:150px;">특이사항</th>
				<{if !$is_freelancer}>
				<th style="min-width:50px; width:50px;">업무요청자</th>
				<th style="min-width:90px; width:90px;">주문요약정보</th>
				<th style="min-width:50px; width:50px;">주문처리자</th>
				<{/if}>
				<th style="min-width:80px; width:80px;">구매처</th>
				<{if !$is_freelancer}>
				<th style="min-width:150px; width:150px;">상품별 결제금액<br/>상품별 택배비<br/>쿠폰</th>
				<th style="min-width:110px; width:110px;">실 결제금액<br/>(상품합계)</th>
				<th style="min-width:56px; width:56px;">정기구독<br>(진행/신청)</th>
				<{/if}>
				<{if permissionNameCheck($session_permission,"서비스운영") && $session_staff_state != '2' }>
				<th style="min-width:120px; width:120px;">관리자 메모<br>(서비스운영 전용)</th>
				<{/if}>
				<{if !$is_freelancer}>
				<th style="min-width:120px; width:120px;">환불처리</th>
				<th style="min-width:120px; width:120px;">입금확인</th>
				<{/if}>
			</tr>
			</thead>
			<tbody>
			<{if $work_cms_list}>
				<{assign var=color_idx value=1}>
				<{foreach from=$work_cms_list item=work_cms}>
					<{assign var=prd_count value=$work_cms|@count}>
					<{assign var=idx value=0}>
					<{foreach from=$work_cms item=cms_prd}>
					<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
						<form name="apply_frm<{$cms_prd.w_no}>" id="apply_frm<{$cms_prd.w_no}>" class="apply_frm" action="work_list_cms.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
							<input type="hidden" name="w_no" value="<{$cms_prd.w_no}>">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<input type="hidden" name="process">
							<td class="first date" style="font-size:8px;"> <!-- w_no / 작성일-->
								<{$cms_prd.w_no}>
								<{if $is_cms_staff && ($cms_prd.delivery_state == '1' || $cms_prd.delivery_state == '5')}>
									<{if $cms_prd.delivery_state == '1'}>
										<input type="text" name="f_regdate" class="form-control date-picker" onchange="save_el('<{$cms_prd.w_no}>', 'f_regdate', this)" value="<{$cms_prd.reg_date}>" style="width: 80px; text-align: center; font-size: 11px; padding: 1px;">
									<{else}>
										<span style="display: block; text-align: center; font-size:8px; zoom: 0.9;"><{$cms_prd.reg_date}></span>
										<span style="display: block; text-align: center; font-size:8px; zoom: 0.9;"><{$cms_prd.reg_time}></span>
									<{/if}>
									<button type="button" onclick="del_order('<{$cms_prd.w_no}>')">[삭제]</button>
								<{else}>
									<span style="display: block; text-align: center; font-size:8px; zoom: 0.9;"><{$cms_prd.reg_date}></span>
									<span style="display: block; text-align: center; font-size:8px; zoom: 0.9;"><{$cms_prd.reg_time}></span>
								<{/if}>
							</td>
							<td>
								<select name="delivery_state" onchange="save_el('<{$cms_prd.w_no}>', 'delivery_state', this)" class="select_type2" id="delivery_state_<{$cms_prd.w_no}>" style="width:80px; background: <{$cms_prd.delivery_state_bg}>; color: <{$cms_prd.delivery_state_color}>" <{if $is_csis_editable}>disabled<{/if}>>
									<option value="">::선택::</option>
									<{foreach from=$delivery_state_color_list key=delivery_state item=delivery_state_color}>
									<option value="<{$delivery_state}>" <{if $delivery_state == $cms_prd.delivery_state}>selected<{/if}> style="color: <{$delivery_state_color.color}>;" attr-color="<{$delivery_state_color.color}>" attr-bg="<{$delivery_state_color.bg}>"><{$delivery_state_color.label}></option>
									<{/foreach}>
								</select>
							</td>
							<{if $sch_ord_bundle == '1'}>
								<{if $idx == '0'}>
									<td rowspan="<{$prd_count}>"> <!-- 주문일시 -->
										<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_date}></span>
										<span style="color:green; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_time}></span>
									</td>
									<td rowspan="<{$prd_count}>" style="position: relative;"><!-- 주문번호 -->
										<span style="text-align:left; display: block;"><{$cms_prd.order_number}></span>
										<input type="hidden" name="f_order_number" value="<{$cms_prd.order_number}>">
										<button type="button" onclick="applyNewOrder('<{$cms_prd.w_no}>', '<{$cms_prd.recipient}>')" style="font-size: 18px; position: absolute; top: 0; right: 7px;">+</button>
										<input type="text" name="f_parent_order_number" onchange="save_el('<{$cms_prd.order_number}>', 'f_parent_order_number', this)" value="<{$cms_prd.parent_order_number}>" <{if !permissionNameCheck($session_permission,"마스터관리자") && $session_s_no != '102' && $session_s_no != '146' && $session_s_no != '203'}>disabled<{/if}>>
									</td>
									<td rowspan="<{$prd_count}>"> <!-- 수령자명/수령자전화/수령자전화2/우편번호/수령지 -->
										<span style="text-align:left; display: block; font-size: 11pt;"><{$address_list[$cms_prd.order_number].recipient}></span>
										<{if $session_team == '00244' || $session_my_c_type == '3'}>
											<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_hp}></span>
											<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_hp2}></span>
										<{else}>
											<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_sc_hp}></span>
											<span style="text-align:left; display: block;"><{$address_list[$cms_prd.order_number].recipient_sc_hp2}></span>
										<{/if}>
										<span style="text-align:left; display: block; font-size:11px;"><{$address_list[$cms_prd.order_number].zip_code}></span>
										<input type="hidden" name="f_recipient_addr" class="ord_addr_<{$cms_prd.order_number}>" value="<{$address_list[$cms_prd.order_number].recipient_addr}>">
										<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;" ><{$address_list[$cms_prd.order_number].recipient_addr}><img src="./images/icon/duplicate.png" class="addr_copy" attr-ord-no="<{$cms_prd.order_number}>" style="cursor: pointer; width: 14px; margin-left: 3px;"></span>
									</td>
									<td rowspan="<{$prd_count}>"> <!-- 배송메모 -->
										<textarea onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '55px')" class="textarea_work_message_readonly" style="width: 55px; height: 60px;" readonly><{$cms_prd.delivery_memo}></textarea>
									</td>
									<td style="font-size:9px;" rowspan="<{$prd_count}>"> <!-- 배송방법/발송처리일 -->
										<{if $cms_prd.order_type != '택배'}>
											<span style="color:red;"><{$cms_prd.order_type}></span><br/>
										<{/if}>
										<{if $is_cms_staff && ($cms_prd.delivery_state == '1' || $cms_prd.delivery_state == '10')}>
											<input type="text" name="f_stock_date" class="form-control date-picker" onchange="save_el('<{$cms_prd.order_number}>', 'f_stock_date', this)" value="<{$cms_prd.stock_date}>" style="width: 80px; text-align: center; font-size: 11px; padding: 1px;">
										<{else}>
											<{$cms_prd.stock_date}>
										<{/if}>
									</td>
									<td rowspan="<{$prd_count}>"> <!-- 택배사/운송장번호 -->
										<{if $delivery_list[$cms_prd.order_number]}>
											<{foreach from=$delivery_list[$cms_prd.order_number] key=key item=delivery_data}>
											<div style="margin: 3px 0;">
												<span style="text-align:center; display: block; font-size:9px;"><{$delivery_data.delivery_type}></span>
												<{if $is_with_editable}>
													<input type="text" name="delivery_no" onchange="save_el('<{$key}>', 'delivery_no', this)" value="<{$delivery_data.delivery_no}>" style="width: 100px; text-align: center; display: block; margin: 4px auto;">
												<{else}>
													<span style="text-align:center;"><{$delivery_data.delivery_no}></span>
												<{/if}>
												<{if $delivery_data.delivery_type == 'CJ대한통운'}>
													<a target="_blank" href="https://trace.cjlogistics.com/next/tracking.html?wblNo=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{elseif $delivery_data.delivery_type == '한진택배'}>
													<a target="_blank" href="https://www.hanjin.co.kr/kor/CMS/DeliveryMgr/WaybillResult.do?mCode=MN038&schLang=KR&wblnumText2=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{/if}>
											</div>
											<{/foreach}>
											<{if $delivery_cnt_list[$cms_prd.order_number] > 10}>
												<b>...</b>
											<{/if}>
										<{/if}>
									</td>
								<{/if}>
							<{else}>
								<td> <!-- 주문일시 -->
									<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_date}></span>
									<span style="color:green; display: block; text-align: center; font-size:9px;"><{$cms_prd.ord_time}></span>
								</td>
								<td style="position: relative;"><!-- 주문번호 -->
									<span style="text-align:left; display: block;"><{$cms_prd.order_number}></span>
									<input type="hidden" name="f_order_number" value="<{$cms_prd.order_number}>">
									<button type="button" onclick="applyNewOrder('<{$cms_prd.w_no}>', '<{$cms_prd.recipient}>')" style="font-size: 18px; position: absolute; top: 0; right: 7px;">+</button>
									<input type="text" name="f_parent_order_number" onchange="save_el('<{$cms_prd.order_number}>', 'f_parent_order_number', this)" value="<{$cms_prd.parent_order_number}>" <{if !permissionNameCheck($session_permission,"마스터관리자") && $session_s_no != '102' && $session_s_no != '146' && $session_s_no != '203'}>disabled<{/if}>>
								</td>
								<td> <!-- 수령자명/수령자전화/수령자전화2/우편번호/수령지  -->
									<span style="text-align:left; display: block; font-size: 11pt;"><{$cms_prd.recipient}></span>
									<{if $session_team == '00244' || $session_my_c_type == '3'}>
									<span style="text-align:left; display: block;"><{$cms_prd.recipient_hp}></span>
									<span style="text-align:left; display: block;"><{$cms_prd.recipient_hp2}></span>
									<{else}>
									<span style="text-align:left; display: block;"><{$cms_prd.recipient_sc_hp}></span>
									<span style="text-align:left; display: block;"><{$cms_prd.recipient_sc_hp2}></span>
									<{/if}>
									<span style="text-align:left; display: block; font-size:11px;"><{$cms_prd.postcode}></span>
									<input type="hidden" name="f_recipient_addr" class="ord_addr_<{$cms_prd.order_number}>" value="<{$cms_prd.recipient_addr}>">
									<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;" ><{$cms_prd.recipient_addr}><img src="./images/icon/duplicate.png" class="addr_copy" attr-ord-no="<{$cms_prd.order_number}>" style="cursor: pointer; width: 14px; margin-left: 3px;"></span>
								</td>
								<td> <!-- 배송메모 -->
									<textarea onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '55px')" class="textarea_work_message_readonly" style="width: 55px; height: 60px;" readonly><{$cms_prd.delivery_memo}></textarea>
								</td>
								<td style="font-size:9px;" > <!-- 배송방법<br/>발송처리일 -->
									<{if $cms_prd.order_type != '택배'}>
										<{$cms_prd.order_type}><br/>
									<{/if}>
									<{if $is_cms_staff && ($cms_prd.delivery_state == '1' || $cms_prd.delivery_state == '10')}>
										<input type="text" name="f_stock_date" class="form-control date-picker" onchange="save_el('<{$cms_prd.order_number}>', 'f_stock_date', this)" value="<{$cms_prd.stock_date}>" style="width: 80px; text-align: center; font-size: 11px; padding: 1px;">
									<{else}>
										<{$cms_prd.stock_date}>
									<{/if}>
								</td>
								<td> <!-- 택배사/운송장번호 -->
									<{if $delivery_list[$cms_prd.order_number]}>
										<{foreach from=$delivery_list[$cms_prd.order_number] key=key item=delivery_data}>
											<div style="margin: 3px 0;">
												<span style="text-align:center; display: block; font-size:9px;"><{$delivery_data.delivery_type}></span>
												<{if $is_with_editable}>
													<input type="text" name="delivery_no" onchange="save_el('<{$key}>', 'delivery_no', this)" value="<{$delivery_data.delivery_no}>" style="width: 100px; text-align: center; display: block; margin: 4px auto;">
												<{else}>
													<span style="text-align:center;"><{$delivery_data.delivery_no}></span>
												<{/if}>
												<{if $delivery_data.delivery_type == 'CJ대한통운'}>
													<a target="_blank" href="https://trace.cjlogistics.com/next/tracking.html?wblNo=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{elseif $delivery_data.delivery_type == '한진택배'}>
													<a target="_blank" href="https://www.hanjin.co.kr/kor/CMS/DeliveryMgr/WaybillResult.do?mCode=MN038&schLang=KR&wblnumText2=<{$delivery_data.delivery_no}>"><img src="./images/icon/new_win_icon.png"></a><br/>
												<{/if}>
											</div>
										<{/foreach}>
									<{/if}>
								</td>
							<{/if}>
							<td> <!-- 업체명/브랜드명 -->
								<span style="color: #808080; font-size: 8pt;"><{$cms_prd.c_name}></span>
							</td>
							<td> <!-- 물류업체(발송지) -->
								<span style="color: #808080; font-size: 8pt;"><{$cms_prd.log_c_name}></span>
							</td>
							<td style="text-align: center; position: relative;"> <!-- 커머스 상품명 -->
								<span style="display: inline-block; float: left; text-align: left;font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$cms_prd.k_prd1_name}> > <{$cms_prd.k_prd2_name}> ></span>
								<{if ($session_team == '00244' || $session_s_no == '9' || $is_csis_editable) && ($cms_prd.delivery_state == '1' || $cms_prd.delivery_state == '10')}>
									<button type="button" onclick="mod_prd('<{$cms_prd.w_no}>')" style="background: #3093c2; color: white; padding: 3px 5px; position: absolute; top: 2px; right: 2px; margin: 0;">수정</button>
								<{/if}>
								<span style="clear: both; display: block; float: left; text-align: left;"><{$cms_prd.prd_name}></span>
								<{if $cms_prd.visit_cnt == '0' && in_array($cms_prd.prd_no, $visit_product_option)}>
									<button type="button" onclick="addUnitVisit('<{$cms_prd.w_no}>');" style="clear: both; padding: 4px 6px;" class="btn_small">커머스 방문지원 리스트 추가</button>
								<{/if}>
							</td>
							<td> <!-- 수량 -->
								<{$cms_prd.quantity}>
							</td>
							<td class="text-left" style="color: #808080; font-style: italic;"> <!-- 구성품 SKU*수량 -->
								<{if $cms_prd.unit_list}>
									<{foreach from=$cms_prd.unit_list item=unit}>
									<span style="display: block;">
										<{$unit.sku}> * <{$unit.qty}>
									</span>
									<{/foreach}>
								<{/if}>
							</td>
							<td> <!-- 특이사항 -->
								<textarea name="notice" onchange="save_el('<{$cms_prd.w_no}>', 'notice', this)" onfocus="text_area_click(this, '250px')" onfocusout="text_area_click_out(this, '140px')" class="textarea_work_message<{if !$cms_prd.delivery_state == '1' || $is_freelancer}>_readonly<{/if}>" style="width: 140px; height: 60px;" <{if !$cms_prd.delivery_state == '1' || $is_freelancer}>readonly<{/if}>><{$cms_prd.notice}></textarea>
							</td>
							<{if !$is_freelancer}>
							<td> <!-- 업무요청자 -->
								<{$cms_prd.task_req_s_name}>
							</td>
							<td> <!-- 주문요약정보 -->
								<textarea onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '80px')" class="textarea_work_message_readonly" style="width: 80px; height: 60px;" readonly><{$cms_prd.task_req}></textarea>
							</td>
							<td> <!-- 주문처리자 -->
								<{$cms_prd.task_run_s_name}>
							</td>
							<{/if}>
							<td> <!-- 구매처 -->
								<{$cms_prd.dp_c_name}>
							</td>
							<{if !$is_freelancer}>
							<td style="color: blue; text-align:right; font-size: 12px;"> <!-- 결제금액 / 결제택배비 / 결제쿠폰비 -->
								<span style="color: #808080;font-size: 8pt;">
									(상품)
								</span>
								<span style="color: blue;">
									￦<{$cms_prd.unit_price|number_format:0}><br/>
								</span>
								<span style="color: #808080;font-size: 8pt;">
									(택배)
								</span>
								<span style="color: blue;">
									￦<{$cms_prd.unit_delivery_price|number_format:0}>
								</span>
								<span style="color: #808080;font-size: 8pt;">
									<{if $cms_prd.dp_c_no == '3295' || $cms_prd.dp_c_no == '4629' || $cms_prd.dp_c_no == '5427' || $cms_prd.dp_c_no == '5588'}>
									<br/>(쿠폰-상품가반영)
									<{else}>
									<br/>(쿠폰)
									<{/if}>
								</span>
								<span style="color: red;">
									- ￦<{$cms_prd.coupon_price|number_format:0}>
								</span>
							</td>
							<{if $sch_ord_bundle == '1'}>
								<{if $idx == '0'}>
								<td rowspan="<{$prd_count}>" style="color: blue; text-align:right; font-size: 12px;"> <!-- 실결제금액 -->
									￦ <{$final_price_list[$cms_prd.order_number]|number_format:0}>
								</td>
								<{/if}>
							<{else}>
								<td style="color: blue; text-align:right; font-size: 12px;"> <!-- 실결제금액 -->
									￦ <{$final_price_list[$cms_prd.order_number]|number_format:0}>
								</td>
							<{/if}>
							<td> <!-- 정기구독(진행/신청) -->
								<{if $cms_prd.subs_application_times > 0 || $cms_prd.subs_progression_times > 0}>
									<{$cms_prd.subs_progression_times}>/<{$cms_prd.subs_application_times}>
								<{/if}>
							</td>
							<{/if}>
							<{if permissionNameCheck($session_permission,"서비스운영") && $session_staff_state != '2' }>
							<td> <!-- 관리자 메모 -->
								<textarea name="memo" onchange="save_el('<{$cms_prd.w_no}>', 'memo', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')" class="textarea_work_message" style="width: 120px; height: 60px;"><{$cms_prd.manager_memo}></textarea>
							</td>
							<{/if}>
							<{if !$is_freelancer}>
								<td> <!-- 환불처리 -->
									<{if $cms_prd.refund_list}>
									<{foreach from=$cms_prd.refund_list key=w_no item=refund}>
									<div>
										<span style="color: red;">-₩<{$refund.price|number_format:0}></span>
										<br>
										<span style="<{if $refund.state == '출금완료'}>color: black;<{else}>color: red;<{/if}>"><{$refund.state}></span>
										<a href="/v1/work_list.php?sch=Y&sch_prd=229&sch_w_no=<{$w_no}>" target="_blank" style="cursor: pointer;" ><img src="./images/icon/new_win_icon.png"></a>
									</div>
									<{/foreach}>
									<{/if}>
								</td>
								<{if $sch_ord_bundle == '1'}>
									<{if $idx == '0'}>
									<td rowspan="<{$prd_count}>"> <!-- 입금확인 -->
										<{if $deposit_list[$cms_prd.order_number]}>
										<{foreach from=$deposit_list[$cms_prd.order_number] key=dp_no item=deposit}>
										<div>
											<span style="color: blue;">+₩<{$deposit.price|number_format:0}></span>
											<br>
											<span style="<{if $deposit.state == '입금완료'}>color: black;<{else}>color: red;<{/if}>"><{$deposit.state}></span>
											<a href="/v1/deposit_list.php?sch=Y&sch_dp_no=<{$dp_no}>" target="_blank" style="cursor: pointer;" ><img src="./images/icon/new_win_icon.png"></a>
										</div>
										<{/foreach}>
										<{/if}>
									</td>
									<{/if}>
								<{else}>
									<td> <!-- 입금확인 -->
										<{if $deposit_list[$cms_prd.order_number]}>
										<{foreach from=$deposit_list[$cms_prd.order_number] key=dp_no item=deposit}>
										<div>
											<span style="color: blue;">+₩<{$deposit.price|number_format:0}></span>
											<br>
											<span style="<{if $deposit.state == '입금완료'}>color: black;<{else}>color: red;<{/if}>"><{$deposit.state}></span>
											<a href="/v1/deposit_list.php?sch=Y&sch_dp_no=<{$dp_no}>" target="_blank" style="cursor: pointer;" ><img src="./images/icon/new_win_icon.png"></a>
										</div>
										<{/foreach}>
										<{/if}>
									</td>
								<{/if}>
							<{/if}>
						</form>
					</tr>
					<{assign var=idx value=$idx+1}>
					<{/foreach}>
					<{assign var=color_idx value=$color_idx+1}>
				<{/foreach}>
			<{else}>
				<td colspan="24">데이터가 없습니다</td>
			<{/if}>
			<tr>
				<td colspan="<{if $session_staff_state == '2' }>15<{elseif permissionNameCheck($session_permission,'서비스운영')}>24<{else}>23<{/if}>" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<{if !$is_freelancer}>
		<button onclick="location.href='excel_work_list_cms.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>엑셀 다운로드<br>(최대 10,000건)</span></button>
		<button onclick="location.href='excel_work_list_cms_with.php?<{$search_url}>';" class="btn_style1" style="background:#4caf50;"><span>위드플레이스 양식<br>엑셀 다운로드(최대 10,000건)</span></button>
	<{/if}>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->

<div class="modal" id="visit-modal">
	<div class="modal-content" style="position: relative">
		<div style="min-height: 80px; text-align: center; padding: 30px; font-size: 14px;"><{$quick_prd_btn_text}></div>
		<div style="position: absolute;bottom: -7px;right: 4px;">
			<input type="checkbox" id="close-visit-modal" onclick="eventModalClose('visit')">
			<label for="close-visit-modal" style="cursor: pointer;">오늘 더이상 열지 않기</label>
		</div>
	</div>
</div>

<form name="chk_cms_form" id="chk_cms_form" action="work_list_cms.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="process">
	<input type="hidden" name="search_url" value="<{$search_url}>">
</form>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_prd").change(function(){
			if($(this).val() != ''){
				$("#sch_prd_name").attr('disabled', true);
			}else{
				$("#sch_prd_name").removeAttr('disabled');
			}
		});

        $("#sch_reg_s_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

        $("#sch_reg_e_date").change(function(){
            $(".regdate_btn").removeClass('reg_active');
            $("#sch_reg_date_type").val('');
        });

		$(".addr_copy").click(function(){
			var ord_no 		= $(this).attr('attr-ord-no');
			var text		= $(".ord_addr_"+ord_no).val();
			var textarea 	= document.createElement('textarea');
			textarea.value  = text;

			document.body.appendChild(textarea);
			textarea.select();
			textarea.setSelectionRange(0, 9999);

			document.execCommand('Copy');
			document.body.removeChild(textarea);
		});

		addAutoLoad();

        <{if $is_quick_prd}>
        	eventModalOpen('visit');
        <{/if}>
	});

    function eventModalOpen(type)
    {
        var end = getCookie(type +'_modal_end');

		if (end != 'end'){
			$("#"+type+"-modal").modal({
			   fadeDuration: 250
			});
		}
    }

    function eventModalClose(type){
        var el = type+"_modal_end";
        setCookie( el, "end" , 12);
        $.modal.close();
    }

    function setCookie( name, value, expirehours ) {
        var todayDate = new Date();
        if(expirehours){
            var hours_cal = todayDate.getHours() + expirehours;
            var hours 	  = hours_cal-24;

            if(hours_cal > 23) {
                todayDate.setDate(todayDate.getDate() + 1);
                todayDate.setHours(hours);
			}else{
                todayDate.setHours( todayDate.getHours() + expirehours );
			}
            document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";";
        }else{
            document.cookie = name + "=" + escape( value ) + "; path=/; expires='';";
        }
    }

    function getCookie( name ) {
        var nameOfCookie = name + "=";
        var x = 0;
        while ( x <= document.cookie.length ){
            var y = (x+nameOfCookie.length);
            if ( document.cookie.substring( x, y ) == nameOfCookie ) {
                if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 )
                    endOfCookie = document.cookie.length;

                return unescape( document.cookie.substring( y, endOfCookie ) );
            }

            x = document.cookie.indexOf( " ", x ) + 1;
            if ( x == 0 )
                break;
        }
        return "";
    }

	// text_area 클릭 시 사이즈 확장
	function text_area_click(f, width){
		f.style.width = width;
		f.style.backgroundColor="yellow";
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	// text_area 클릭아웃 시 사이즈 복원
	function text_area_click_out(f, width)
	{
		f.style.width = width;
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	function save_el(w_no, proc, obj)
	{
		var f = obj.form;
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		var ord_no = "";
		if(!!f.f_order_number)
			ord_no = f.f_order_number.value;

		if (val != "" || (proc == 'memo' || proc == 'delivery_state' || proc == 'notice' || proc == 'delivery_no')) { // 메모
			$.post("work_list_cms.php", {w_no : w_no, process : proc, val : val, ord_no: ord_no}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);

				var color   = $("#delivery_state_"+w_no+" option[value='" + val + "']").attr('attr-color');
				var bgColor = $("#delivery_state_"+w_no+" option[value='" + val + "']").attr('attr-bg');

				$("#delivery_state_"+w_no).css({'color' : color, 'background' : bgColor});
			});
		}
	}

	// 커머스 첨부파일 리스트에 반영하기
	function commerce_insert()
	{
		var f = document.forms['commerce_insert_apply_frm'];
		f.process.value = "commerce_insert";

		if(!$('#sent_date').val()){
			alert("발송처리일을 선택해 주세요");
			return;
		}

		if(!$('#commerce_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("첨부파일을 업무리스트(커머스)에 반영 하시겠습니까??")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}
	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}
	function normal_search() {
		var f = document.forms['search_form'];

		var ord_page    = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function sort_search(type)
	{
		var f = document.forms['search_form'];

		var ord_type_by  = $("#ord_type_by").val();

		if(ord_type_by == '1'){
			$("#ord_type").val("");
			$("#ord_type_by").val("");
		}else if(ord_type_by == '2'){
			$("#ord_type").val(type);
			$("#ord_type_by").val("1");
		}else{
			$("#ord_type").val(type);
			$("#ord_type_by").val("2");
		}

		f.submit();
	}

	// EMP 발주등록 양식 다운로드
	function excelEMPDownload(type)
	{
		var sch_reg_date 		= $('#sch_reg_e_date').val();
		var sch_delivery_state 	= $('#sch_delivery_state').val();
		var step_01_date  		= $('#step_01_date').val();

		if(!sch_reg_date || (sch_reg_date != step_01_date))
		{
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		if(sch_delivery_state != "1"){
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		location.href="excel_work_list_cms_emp.php?type=" + type + "&<{$search_url}>";
	}

	// 취소건 엑셀 다운로드
	function excelOrderCancelDownload()
	{
		var sch_stock_date 		= $('#sch_stock_date').val();
		var sch_delivery_state 	= $('#sch_delivery_state').val();
		var step_04_date  		= $('#step_04_date').val();

		if(!sch_stock_date || (sch_stock_date != step_04_date))
		{
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		if(sch_delivery_state != "5"){
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		location.href='excel_work_list_cms.php?excel_title=1&<{$search_url}>';
	}

	// 운송장변경 엑셀 다운로드
	function excelModifyDeliveryDownload()
	{
		var sch_delivery_state 	= $('#sch_delivery_state').val();

		if(sch_delivery_state != "7"){
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		location.href='excel_work_list_cms_modify_delivery.php?<{$search_url}>';
	}

	// 운송장완료 엑셀 다운로드
	function excelDeliveryConfirmDownload(type, title)
	{
		var step05_date 	= $('#step_05_date').val();
        var delivery_type 	= $('#step05_delivery_type').val();
        var dp_company 		= $('#step05_dp_company').val();
        var imweb_type 		= $('#step05_imweb_type').val();

		if(!step05_date){
			alert("보기 선택 후 눌러주세요!");
			return;
		}

		if(type == '22')
		{
			if(!dp_company)
			{
				alert("구매처를 선택해주세요!");
				return;
			}
		}
		else if(type == '99')
		{
			if(!imweb_type)
			{
				alert("구매처를 선택해주세요!");
				return;
			}
		}

		if(!confirm(step05_date + "일자 " + title + " 다운로드 하시겠습니까?")){
			return;
		}

		var down_url = "excel_work_list_cms_tracking.php?type=" + type + "&stock_date=" + step05_date + "&delivery_type=" + delivery_type + "&dp_company=" + dp_company + "&imweb_type=" + imweb_type;

		location.href = down_url;
	}

	// 송장번호 리스트에 반영하기
	function addDeliveryNoList()
	{
		var f = document.forms['work_list_cms_step_02_frm'];

		if(!$('#step_02_date').val()){
			alert("발송처리일을 선택해주세요");
			return;
		}

		if(!$('#delivery_file').val()){
			alert("파일을 첨부해주세요");
			return;
		}

		if (confirm("운송장번호를 처리하시겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function addDeliveryNoAddList(type)
	{
		var f = document.forms['work_list_cms_step_02_extra_frm'];

		if (type == '1')
		{
			if(!$('#additional_file').val()){
				alert("파일을 첨부해주세요");
				return;
			}
		}
		else if(type == '2')
		{
			if(!$('#additional_file_b').val()){
				alert("파일을 첨부해주세요");
				return;
			}
		}

		if (confirm("추가 운송장번호를 처리하시겠습니까?")) { // 확인
			f.additional_type.value = type;
			f.submit();
		} else { //취소
			return;
		}
	}

	// 재고 적용 폼 확인
	function addStockData()
	{
		var f = document.forms['product_cms_stock_frm'];

        if(!$('#stock_s_date').val() || !$('#stock_e_date').val()){
            alert("발송처리일을 지정해 주세요");
            return;
        }

		if (confirm("재고 데이터를 적용시키겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	//택배처리상태 진행완료 처리
	function modifyDeliveryState()
	{
		var f = document.forms['modify_delivery_state_frm'];

		var sch_stock_date 		= $('#sch_stock_date').val();
		var sch_delivery_state 	= $('#sch_delivery_state').val();
		var step_05_date  		= $('#step_05_date').val();

		if(!sch_stock_date || (sch_stock_date != step_05_date))
		{
			alert("보기 요청 후 다운로드 해주세요");
			return;
		}

		if(sch_delivery_state != "8"){
			alert("보기 요청 후 처리 해주세요");
			return;
		}

		$("#ds_stock_date").val(step_05_date);
		if (confirm("진행완료 처리 하시겠습니까?")) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function modifyInspectionState()
	{
		if(confirm("작성완료(검수요청)을 진행요청으로 일괄변경 합니까?"))
		{
			var f = document.forms['modify_inspection_state_frm'];

			f.submit();
		}

		return false;
	}

	function step_search(step) {
		var f = document.forms['search_form'];

		if(step == 'step01')
		{
			var date 		= $("#step_01_date").val();
			var prevCalData = new Date(date);
			prevCalData.setDate(prevCalData.getDate()-7);
			var prevMonthVal = prevCalData.getMonth()+1;
			var prevMonth	 = (prevCalData.getMonth()+1) < 10 ? "0"+prevMonthVal : prevMonthVal;
			var prev_date 	 = prevCalData.getFullYear() + "-" +prevMonth + "-" + prevCalData.getDate();

			resetSearch();
			$("#sch_reg_s_date").val(prev_date);
			$("#sch_reg_e_date").val(date);
			$("#sch_delivery_state").val('1');
			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step01-02')
		{
			resetSearch();
			$("#sch_delivery_state").val('1');
			$("#sch_recipient_addr").val('사서함');
			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step03')
		{
			var date = $("#step_03_date").val();

			resetSearch();
			$("#sch_stock_date").val(date);
			if(!$("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step04')
		{
			var date = $("#step_04_date").val();

			resetSearch();
			$("#sch_stock_date").val(date);
			$("#sch_delivery_state").val('5');

			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}

		$("#sch").val("Y");
		$("#sch_step").val(step);
		if(!$("#sch_ord_bundle").is(":checked")){
			$("#sch_ord_bundle").click();
		}

		f.submit();
	}

	function staff_step_search(step)
	{
		var f = document.forms['search_form'];

		if(step == 'step02-01')
		{
			resetSearch();
			$("#sch_delivery_state").val('1');
			$("#sch_recipient_addr").val('사서함');

			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step02-02')
		{
			resetSearch();
			$("#sch_delivery_state").val('5');

			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step03')
		{
			resetSearch();
			$("#sch_delivery_state").val('7');
			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}
		}
		else if(step == 'step04')
		{
			var date = $("#step_date").val();

			resetSearch();
			$("#sch_stock_date").val(date);
			if(!$("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}

			$("#sch_step").val('step');
		}
		else if(step == 'step05')
		{
			var date = $("#step_05_date").val();

			resetSearch();
			$("#sch_stock_date").val(date);
			$("#sch_delivery_state").val('8');

			if($("#sch_delivery_no_null").is(":checked")){
				$("#sch_delivery_no_null").click();
			}

			$("#sch_step").val('step05');
		}
		else if(step == 'step07')
		{
			resetQuickSearch();
			$("#sch_delivery_state").val('10');
			$("#sch_step").val('step07');
			$("#sch_step_data").val($("#step_07_check").is(':checked'));
		}
		else if(step == 'step08')
		{
			resetQuickSearch();
			$("#sch_month_date").val($("#step_08_date").val());
			$("#sch_step").val('step08');
		}
		else if(step == 'step09')
		{
			resetQuickSearch();
			$("#sch_stock_date").val($("#step_09_date").val());
			$("#sch_step").val('step09');
		}
		else if(step == 'step10')
		{
			var date = $("#step_date").val();
			resetQuickSearch();
			$("#sch_stock_date").val(date);
			$("#sch_step").val('step10');
		}

		$("#sch").val("Y");
		if(!$("#sch_ord_bundle").is(":checked")){
			$("#sch_ord_bundle").click();
		}

		f.submit();
	}

	function resetSearch()
	{
		var inputList = $("#search_form").find('input');
		var selList   = $("#search_form").find('select');

		$.each(inputList, function(idx, input){
			var type = $(input).attr('type');

			if(type == 'checkbox'){
				if($(input).is(":checked")){
					$(input).click();
				}
			} else if(type == 'text') {
				$(input).val("");
			}
		});

		$.each(selList, function(idx, select){
			$(select).val("");
		});
	}

    function resetQuickSearch()
    {
        var inputList = $("#search_form").find('input');
        var selList   = $("#search_form").find('select');

        $.each(inputList, function(idx, input){
            var type = $(input).attr('type');
            var id = $(input).attr('id');

            if(type == 'checkbox') {
                if(id == 'sch_ord_bundle') {

                }else if($(input).is(":checked")){
                    $(input).click();
                }

            } else if(type == 'hidden'){
                if(id == 'sch_step') {
                    $(input).val("");
                }
            } else {
                $(input).val("");
            }
        });

        $.each(selList, function(idx, select){
            $(select).val("");
        });
    }

	// 커머스 첨부파일 리스트에 반영하기
	function deliveryProcessForm(proc)
	{
		var f   = document.forms['delivery_process_frm'];
		var msg = "적용 시키겠습니까?";

		f.process.value = proc;

		if(proc == 'cms_all_delete'){
			msg = "정말 삭제하나요?";
		}

		if (confirm(msg) == true) { // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	function addPrdColumn()
	{
		var attrKey = Number($("#attr-key").val()) + 1;
		var addHtml = "<div class='prd-wrap prd-wrap-"+ attrKey +"' style='clear: both; overflow: hidden; text-align: left;'>"
				+ "<a href='javascript:void(0)' onclick=\"open_quick_prd("+attrKey+")\" style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
				+ "<input type='text' class='input_type5 new_prd_name' id='new_prd_name_"+ attrKey +"' name='new_prd_name[]' attr-key='"+ attrKey +"' style='float: left; width: 180px;' required/>"
				+ "<input type='number' class='input_type3' name='new_quantity[]' id='new_quantity_"+ attrKey +"' style='width: 40px; float: left;' required />"
				+ "<input type='hidden' name='new_prd_no[]' class='new_prd_no' id='new_prd_no_"+ attrKey +"' value='' required/>"
				+ "<button type='button' onclick='delPrdColumn("+ attrKey +")' style='float: left; padding: 5px 12.5px; background: #333; color: white; font-size: 18px; line-height: 18px;'>-</button>"
				+ "<div id='new_unit_notice_"+ attrKey +"' class='new_unit_notice'></div>"
				+ "</div>";

		$("#attr-key").val(attrKey);
		$('.add-prd-wrap').append(addHtml);

		addAutoLoad();
	}

	function delPrdColumn(key)
	{
		$('.prd-wrap-'+key).remove();
	}

	function addAutoLoad()
	{
		$(".new_prd_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_auto.api.php",
					dataType: "json",
					data: {
						prd_name: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								prd_no 		: item.prd_no,
								unit_msg  	: item.unit_msg,
								label  		: item.prd_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#new_prd_no_"+key).val(ui.item.prd_no);
				if(ui.item.unit_msg){
					$("#new_unit_notice_"+key).text(ui.item.unit_msg);
				}else{
					$("#new_unit_notice_"+key).text("");
				}
			},
			focus: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#new_prd_no_"+key).val(ui.item.prd_no);
				if(ui.item.unit_msg){
					$("#new_unit_notice_"+key).text(ui.item.unit_msg);
				}else{
					$("#new_unit_notice_"+key).text("");
				}
				return false;
			},
			minLength: 1
		});
	}

	function openDaumPostCode()
	{
		new daum.Postcode({
			oncomplete: function(data) {
				var fullAddr = ''; // 최종 주소 변수
				var extraAddr = ''; // 조합형 주소 변수

				// 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					fullAddr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					fullAddr = data.jibunAddress;
				}

				// 사용자가 선택한 주소가 도로명 타입일때 조합한다.
				if(data.userSelectedType === 'R'){
					//법정동명이 있을 경우 추가한다.
					if(data.bname !== ''){
						extraAddr += data.bname;
					}
					// 건물명이 있을 경우 추가한다.
					if(data.buildingName !== ''){
						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
					fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('new_zipcode').value = data.zonecode; //5자리 새우편번호 사용
				document.getElementById('new_recipient_addr1').value = fullAddr;
				document.getElementById('new_recipient_addr2').focus();
			}
		}).open();
	}

	function applyNewOrder(w_no, name)
	{
		if(confirm(name + '님의 주문번호에 상품을 추가 하시겠습니까?')){
			$.ajax({
				url: "/v1/api/cms.order.json.php",
				type: 'POST',
				data: {"w_no": w_no}
			}).done( function( data ) {

				var jsonData = JSON.parse(data);
				var result   = jsonData.result;
				var order    = jsonData.order;

				if(result == true)
				{
					document.new_delivery_frm.process.value='new_order';
					$(".prd-wrap").remove();
					$("#attr-key").val(1);
					$("#new_w_no").val("");

					$("#new_order_type").val(order.order_type);
					$("#new_log_c_no").val(order.log_c_no);
					$("#new_ord_number").val(order.order_number);
					$("#new_recipient").val(order.recipient);
					$("#new_recipient_hp").val(order.recipient_hp);
					$("#new_zipcode").val(order.zip_code);
					$("#new_recipient_addr1").val(order.recipient_addr);
					$("#new_delivery_memo").val(order.delivery_memo);
					$("#new_ord_date").val(order.order_date);
					$("#new_pay_date").val(order.payment_date);
					$("#new_stock_date").val(order.stock_date);
					$("#new_dp_c_no").val(order.dp_c_no);

					$("#new_delivery_memo").attr('readonly', false);
					$("#new_prd_btn").attr('disabled', false);
					$("#new_dp_c_no").attr('disabled', false);
					$("#new_prd_name_1").val("");
					$("#new_prd_no_1").val("");
					$("#new_quantity_1").val("");
					$("#new_submit_btn").val("추가하기");

					if($("#new_submit_btn").hasClass('upd_order_btn')){
						$("#new_submit_btn").removeClass('upd_order_btn');
					}

					if(order.order_type == "택배"){
						$("#new_zipcode").attr('required', true);
						$("#new_recipient_addr1").attr('required', true);
					}else{
						$("#new_zipcode").attr('required', false);
						$("#new_recipient_addr1").attr('required', false);
					}

					var offset = $("#new_delivery_frm").offset();
					$('html, body').animate({scrollTop : offset.top}, 400);
				}
			});
		}
	}

    function regdateVal(type)
    {
        var todate   = $("#today_val").val();
        var typedate = $("#"+type+"_val").val();

        $(".regdate_btn").removeClass('reg_active');
        $(".reg_"+type+"_btn").addClass('reg_active');

        $("#sch_reg_s_date").val(typedate);
        $("#sch_reg_e_date").val(todate);

        $("#sch_reg_date_type").val(type);
        $("#work_cms_base").click();
    }

    function quickSearch()
    {
        resetQuickSearch();
        var f = document.forms['search_form'];

        $(".reg_today_btn").click();
		f.sch_step.value='quick_step';
        f.submit();
    }

	function quickCombined()
	{
		resetQuickSearch();
		var f = document.forms['search_form'];

		$(".reg_week_btn").click();
		var todate = $("#today_val").val();
		$("#sch_stock_date").val(todate);
		f.sch_step.value='quick_combined';
		f.submit();
	}

	function quickYetOrder()
	{
		resetQuickSearch();
		var f = document.forms['search_form'];
		f.sch_step.value='quick_yet_order';
		f.submit();
	}

	function addUnitVisit(w_no)
	{
		document.add_visit_frm.process.value='add_unit_visit';
		document.add_visit_frm.w_no.value=w_no;
		document.add_visit_frm.submit();
	}

	function addTotalVisit()
	{
		if($("#quick_step").val() == '1') {
			document.add_visit_frm.process.value='add_total_visit';
			document.add_visit_frm.submit()
		}else{
			alert("STEP 06 기사설치 조회 후 진행하세요");
			return false;
		}
	}

	function mod_prd(w_no)
	{
		$.ajax({
			url: "/v1/api/cms.order.json.php",
			type: 'POST',
			data: {"w_no": w_no}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var result   = jsonData.result;
			var order    = jsonData.order;

			if(result == true)
			{
				document.new_delivery_frm.process.value='upd_order';
				$(".prd-wrap").remove();

				$("#new_w_no").val(order.w_no);
				$("#new_order_type").val(order.order_type);
				$("#new_log_c_no").val(order.log_c_no);
				$("#new_ord_number").val(order.order_number);
				$("#new_recipient").val(order.recipient);
				$("#new_recipient_hp").val(order.recipient_hp);
				$("#new_zipcode").val(order.zip_code);
				$("#new_recipient_addr1").val(order.recipient_addr);
				$("#new_delivery_memo").val(order.delivery_memo);
				$("#new_ord_date").val(order.order_date);
				$("#new_pay_date").val(order.payment_date);
				$("#new_stock_date").val(order.stock_date);
				$("#new_dp_c_no").val(order.dp_c_no);
				$("#new_notice").val(order.notice);
				$("#new_manager_memo").val(order.manager_memo);

				$("#new_delivery_memo").attr('readonly', true);
				$("#new_prd_btn").attr('disabled', true);
				$("#new_dp_c_no").attr('disabled', true);
				$("#new_prd_name_1").val(order.prd_name);
				$("#new_prd_no_1").val(order.prd_no);
				$("#new_quantity_1").val(order.quantity);
				$("#new_submit_btn").val("수정하기");
				$("#new_submit_btn").addClass('upd_order_btn');

				var offset = $("#new_delivery_frm").offset();
				$('html, body').animate({scrollTop : offset.top}, 400);
			}
		});
	}

	function open_quick_prd(idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#new_prd_name_"+idx))
		{
			if(!checkAddProduct(prd_no)){
				alert("이미 추가된 상품입니다.");
				return false;
			}

			$("#new_prd_name_"+idx).val(prd_name);
			$("#new_prd_no_"+idx).val(prd_no);
			$("#new_quantity_"+idx).val(1);
			$("#new_unit_notice_"+idx).text("");

			checkUnitInOut(prd_no, idx);
		}
	}

	function checkAddProduct(prd_no)
	{
		var result = true;

		$(".new_prd_no").each(function(idx, item){
			var chk_prd_no = $(item).val();
			if(chk_prd_no == prd_no){
				result = false;
			}
		});

		return result;
	}

	function excelWrongDelivery()
	{
		var step08_date = $('#step_08_date').val();
		var wrong_type 	= $('#step_08_wrong_type').val();

		if(!wrong_type){
			alert("다운 받으실 오배송타입을 선택해주세요!");
			return;
		}

		if(!step08_date){
			alert("발송처리일(월)을 선택 후 이용해주세요!");
			return;
		}

		location.href='excel_work_list_cms_wrong_delivery.php?sch_stock_month='+step08_date+'&sch_wrong_type='+wrong_type;
	}

	function del_order(w_no)
	{
		if(confirm("삭제하시겠습니까?"))
		{
			eval("var f=document.getElementById('apply_frm" + w_no + "');");
			f.process.value = 'del_order';
			f.submit();
		}
	}

	function excelOrderInspection()
	{
		var step_07_check = $("#step_07_check").is(":checked");

		location.href='excel_work_list_cms_cs_inspection.php?sch_step_data='+step_07_check;
	}

	function delPersonalInfo()
	{
		if(confirm("커머스 주문정보 개인정보 삭제를 진행 하시겠습니까?"))
		{
			var f = document.getElementById('chk_cms_form');
			f.process.value = "del_personal_info";
			f.submit();
		}

		return false;
	}

	function global_search(){
    	$("#sch_delivery_state").val($("#global_delivery_state").val());
		$("#sch_log_c_no").val($("#global_log_c_no").val());
		searchList();
	}

	function modifyInspectionStateGlobal(chk_state)
	{
		var chk_msg = (chk_state == "10") ? "작성완료(검수요청)을 진행요청으로 일괄변경 합니까?" : "진행요청을 진행완료로 일괄변경 합니까?";

		if(confirm(chk_msg))
		{
			var f = document.forms['modify_inspection_state_global_frm'];
			f.global_chk_state.value = chk_state;
			f.submit();
		}

		return false;
	}

	function excelGlobalDownload(log_c_no) {
		location.href="excel_work_list_cms_global.php?sch_log_c_no="+log_c_no;
	}

	function checkUnitInOut(prd_no, idx){
		$.ajax({
			url: "/v1/api/quick.prd_unit.check.php",
			type: 'POST',
			data: {"prd_no": prd_no}
		}).done( function( data ) {
			var jsonData = JSON.parse(data);
			var unit_msg = jsonData.unit_msg;
			$("#new_unit_notice_"+idx).text(unit_msg);
		});
	}
</script>

</body>
</html>
