<{include file="inc/iframe_navibar.html"}>

<style type="text/css">

    @page {
        size: A4;
        margin: 20px 0;
    }

    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
            margin: 0 auto;
            background: #fff;
            color: black !important;
        }

        .table_list_style table tbody td{border-color: black; border-right: 0;}
        .table_list_style table tbody th{border-color: black;}
        .form-control{border: 0;}

        .noprint {display:none;}
    }

    .form-inline .form-control{font-size: 12px; margin-right: 15px;}
    .table_list_style table{width: 800px; margin-top: 5px;table-layout: fixed;}
    .table_list_style table.table{border: 2px solid black;}
    .table_list_style table.table td{border-color: black; border-right: 0;}
    .table_list_style table.table th{border-color: black;}
    .table_list_style table tbody th{vertical-align: middle; height: 45px; font-size: 12px;letter-spacing: 5px;}
    .table_list_style table tbody td{height: 30px;vertical-align: middle;text-align: left;}
    .table_list_style table tbody td .form-control{border: 0;}
    .table_list_style table tbody th.first{width: 200px; text-align: center; color: black;}
    .table_list_style table tbody td .form-control{font-size: 14px; display: inline-block; color: black;}
</style>
<div class="admin_content" style="padding-bottom: 0;">
    <div class="table_list_style">
        <span style="color: #999; font-size: 14px;">문서번호 : <{$doc_no}></span>
        <table class="table">
            <colgroup>
                <col width="200px;">
                <col width="600px;">
            </colgroup>
            <tbody>
            <tr>
                <td colspan="2" style="padding: 100px 0; text-align: center; border: 0;">
                    <span class="form-control" style="font-size: 30px; font-weight: bold; text-decoration: underline; text-underline-position: under; letter-spacing: 5px;"><{$doc_type_name}></span>
                </td>
            </tr>
            <tr>
                <th class="first">성 명</th>
                <td>
                    <span class="form-control"><{$req_name}></span>
                </td>
            </tr>
            <tr>
                <th class="first">주민등록번호</th>
                <td style="text-align: left;">
                    <span class="form-control"><{$cert_no_text}></span>
                </td>
            </tr>
            <tr>
                <th class="first">현 주 소</th>
                <td>
                    <span class="form-control"><{$req_addr}></span>
                </td>
            </tr>
            <tr>
                <th class="first">소 속</th>
                <td>
                    <span class="form-control"><{$req_team_name}></span>
                </td>
            </tr>
            <tr>
                <th class="first">직 위</th>
                <td>
                    <span class="form-control"><{$req_position}></span>
                </td>
            </tr>
            <tr>
                <th class="first">근무기간</th>
                <td>
                    <span class="form-control" style="width: 95px;padding-right: 0; float: left;line-height: 25px;"><{$work_s_date}></span>
                    <span class="form-control" style="width: 20px;padding-left: 5px; padding-right: 5px; float: left;line-height: 25px;">~</span>
                    <span class="form-control" style="width: 95px;padding-left: 4px; padding-right: 0; float: left;line-height: 25px;"><{$work_e_date}></span>
                    <span class="form-control" style="width: 45px;padding-left: 0;float: left;line-height: 25px;">현재</span>
                </td>
            </tr>
            <tr>
                <th class="first">용 도</th>
                <td>
                    <span class="form-control"><{$purpose}></span>
                </td>
            </tr>
            <{if $doc_type == '2'}>
            <tr class="work_position_wrapper">
                <th class="first">담당업무</th>
                <td>
                    <span class="form-control"><{$work_position}></span>
                </td>
            </tr>
            <{/if}>
            <tr>
                <td colspan="2" style="<{if $doc_type == '2'}>height: 360px;<{else}>height: 405px;<{/if}>vertical-align: top;padding-top: 50px; text-align: center; border: 0;">
                    <b style="font-size: 20px; color: black;">위와 같이 증명합니다.</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; border: 0;">
                    <div class="req_date_wrapper" style="display: inline-block;">
                        <span class="form-control"><{$req_date}></span>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="company_wrapper" style="display: inline-block; position: relative;">
                        <span class="form-control"><{$company_addr}></span><br/>
                        <span class="form-control"><{$company_ceo}></span><br/>
                        <span class="form-control"><{$company_name}></span>
                        <{if $company_seal && $company_seal != 'empty'}>
                        <img src="./images/seal/<{$company_seal_name}>" style="width: 80px; bottom: -10px; right: -25px; position: absolute;">
                        <{/if}>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="noprint" style="padding: 10px 20px;float: left;background: #333;color: white;font-weight: bold; margin-top: 20px;margin-left: 10px;margin-bottom: 50px;" onclick="location.href='work_certificate_list.php';">목록</button>
<button class="noprint" style="padding: 10px 20px;float: left;background: #333;color: white;font-weight: bold; margin-top: 20px;margin-left: 650px;margin-bottom: 50px;" onclick="window.print();">인쇄하기</button>
</body>
</html>
