<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{margin-top: 20px; min-height: 500px;}
	.admin_content{width: 1600px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.traffic-conversion-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px;}
	.traffic-conversion-wrapper{box-sizing: border-box; padding: 20px; border: 1px solid #ccc;margin-bottom: 10px;}
	.traffic-convert-chart-wrapper{margin-top: 10px;}
	#traffic-conversion-week-count-chart{margin: 10px auto; width: 1560px; height: 300px;}
	#traffic-conversion-date-count-chart{margin: 10px auto; width: 1560px; height: 300px;}
	#traffic-conversion-hour-count-chart{margin: 10px auto; width: 1560px; height: 300px;}
	#traffic-conversion-week-live-chart{margin: 10px auto; width: 1560px; height: 300px;}
	#traffic-conversion-date-live-chart{margin: 10px auto; width: 1560px; height: 300px;}
	#traffic-conversion-hour-live-chart{margin: 10px auto; width: 1560px; height: 300px;}

	.traffic-conversion-table-wrapper{width: 1560px; margin: 10px auto; overflow-x: scroll;}
	.traffic-conversion-table-wrapper .table{width: auto;}
	.traffic-conversion-table-wrapper .table th{font-size: 12px;}
	.traffic-conversion-table-wrapper .table td{font-size: 12px;}
	
	.font-traffic{color: #00B050;}
	.font-convert{color: #FFC000;}
	.font-convert-rate{color: #00B0F0;}
	.font-price{color: #8064A2;}
	.font-avg{color: #FF33CC;}
</style>

<div class="admin_content">
	<div class="traffic-conversion-wrapper">
		<h2 class="traffic-conversion-label">주별 유입 / 전환 / 전환률</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-week-count-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-week-count-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_week_list item=week_label}>
								<th class="date-th" style="width: 100px; min-width: 100px;"><{$week_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_count_week_list}>
							<tr>
								<td class="first text-center font-traffic">유입</td>
								<{foreach from=$convert_week_list key=key_week item=week_label}>
								<td class="text-right">
									<span class="font-traffic"><{$convert_count_week_list[$key_week].traffic|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert">전환</td>
								<{foreach from=$convert_week_list key=key_week item=week_label}>
								<td class="text-right">
									<span class="font-convert"><{$convert_count_week_list[$key_week].conversion|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert-rate">전환율</td>
								<{foreach from=$convert_week_list key=key_week item=week_label}>
								<td class="text-right">
									<span class="font-convert-rate"><{$convert_count_week_list[$key_week].conversion_rate|number_format:1}>%</span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_count_week_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-week-count-table');" />
			</div>
		</div>
		<h2 class="traffic-conversion-label" style="margin-top: 30px;">주별 아임웹 매출 / 주문건당 단가</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-week-live-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-week-live-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_week_list item=week_label}>
								<th class="date-th" style="width: 100px; min-width: 100px;"><{$week_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_live_week_list}>
							<tr>
								<td class="first text-center font-price">아임웹 매출</td>
								<{foreach from=$convert_week_list key=key_week item=week_label}>
								<td class="text-right">
									<span class="font-price"><{$convert_live_week_list[$key_week].total_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-avg">주문건당 단가</td>
								<{foreach from=$convert_week_list key=key_week item=week_label}>
								<td class="text-right">
									<span class="font-avg"><{$convert_live_week_list[$key_week].avg_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_live_week_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-week-live-table');" />
			</div>
		</div>
	</div>

	<div class="traffic-conversion-wrapper">
		<h2 class="traffic-conversion-label">일별 유입 / 전환 / 전환률</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-date-count-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-date-count-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_date_list item=date_label}>
							<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_count_date_list}>
							<tr>
								<td class="first text-center font-traffic">유입</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
								<td class="text-right">
									<span class="font-traffic"><{$convert_count_date_list[$key_date].traffic|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert">전환</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
								<td class="text-right">
									<span class="font-convert"><{$convert_count_date_list[$key_date].conversion|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert-rate">전환율</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
								<td class="text-right">
									<span class="font-convert-rate"><{$convert_count_date_list[$key_date].conversion_rate|number_format:1}>%</span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_count_date_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-date-count-table');" />
			</div>
		</div>
		<h2 class="traffic-conversion-label" style="margin-top: 30px;">일별 아임웹 매출 / 주문건당 단가</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-date-live-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-date-live-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_date_list item=date_label}>
							<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_live_date_list}>
							<tr>
								<td class="first text-center font-price">아임웹 매출</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
								<td class="text-right">
									<span class="font-price"><{$convert_live_date_list[$key_date].total_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-avg">주문건당 단가</td>
								<{foreach from=$convert_date_list key=key_date item=date_label}>
								<td class="text-right">
									<span class="font-avg"><{$convert_live_date_list[$key_date].avg_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_live_date_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-date-live-table');" />
			</div>
		</div>
	</div>

	<div class="traffic-conversion-wrapper">
		<h2 class="traffic-conversion-label">시간별 유입 / 전환 / 전환률</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-hour-count-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-hour-count-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_hour_list item=hour_label}>
							<th class="date-th" style="width: 100px; min-width: 100px;"><{$hour_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_count_hour_list}>
							<tr>
								<td class="first text-center font-traffic">유입</td>
								<{foreach from=$convert_hour_list key=key_hour item=hour_label}>
								<td class="text-right">
									<span class="font-traffic"><{$convert_count_hour_list[$key_hour].traffic|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert">전환</td>
								<{foreach from=$convert_hour_list key=key_hour item=hour_label}>
								<td class="text-right">
									<span class="font-convert"><{$convert_count_hour_list[$key_hour].conversion|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-convert-rate">전환율</td>
								<{foreach from=$convert_hour_list key=key_hour item=hour_label}>
								<td class="text-right">
									<span class="font-convert-rate"><{$convert_count_hour_list[$key_hour].conversion_rate|number_format:1}>%</span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_count_hour_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-hour-count-table');" />
			</div>
		</div>
		<h2 class="traffic-conversion-label" style="margin-top: 30px;">시간별 아임웹 매출 / 주문건당 단가</h2>
		<div class="traffic-convert-chart-wrapper">
			<div id="traffic-conversion-hour-live-chart"></div>

			<div class="traffic-conversion-table-wrapper">
				<table id="traffic-conversion-hour-live-table" class="table table-bordered">
					<thead class="thead-dark text-center">
						<tr>
							<th style="width: 100px; min-width: 100px;"></th>
							<{foreach from=$convert_hour_list item=hour_label}>
							<th class="date-th" style="width: 100px; min-width: 100px;"><{$hour_label}></th>
							<{/foreach}>
						</tr>
					</thead>
					<tbody>
						<{if $convert_live_hour_list}>
							<tr>
								<td class="first text-center font-price">아임웹 매출</td>
								<{foreach from=$convert_hour_list key=key_hour item=hour_label}>
								<td class="text-right">
									<span class="font-price"><{$convert_live_hour_list[$key_hour].total_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
							<tr>
								<td class="first text-center font-avg">주문건당 단가</td>
								<{foreach from=$convert_hour_list key=key_hour item=hour_label}>
								<td class="text-right">
									<span class="font-avg"><{$convert_live_hour_list[$key_hour].avg_price|number_format:0}></span>
								</td>
								<{/foreach}>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$convert_live_hour_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('traffic-conversion-hour-live-table');" />
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function copyTable(chart_id)
	{
		if(document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}

	var convertCountWeekChart 	= echarts.init(document.getElementById('traffic-conversion-week-count-chart'),null, {renderer : 'canvas'});
	var convertCountDateChart 	= echarts.init(document.getElementById('traffic-conversion-date-count-chart'),null, {renderer : 'canvas'});
	var convertCountHourChart 	= echarts.init(document.getElementById('traffic-conversion-hour-count-chart'),null, {renderer : 'canvas'});
	var convertLiveWeekChart 	= echarts.init(document.getElementById('traffic-conversion-week-live-chart'),null, {renderer : 'canvas'});
	var convertDateWeekChart 	= echarts.init(document.getElementById('traffic-conversion-date-live-chart'),null, {renderer : 'canvas'});
	var convertHourWeekChart 	= echarts.init(document.getElementById('traffic-conversion-hour-live-chart'),null, {renderer : 'canvas'});

	var convertWeekNameData		= <{$convert_week_chart_name_list}>;
	var convertDateNameData		= <{$convert_date_chart_name_list}>;
	var convertHourNameData		= <{$convert_hour_chart_name_list}>;
	var convertCountWeekData  	= <{$convert_count_week_chart_list}>;
	var convertCountDateData  	= <{$convert_count_date_chart_list}>;
	var convertCountHourData  	= <{$convert_count_hour_chart_list}>;
	var convertLiveWeekData  	= <{$convert_live_week_chart_list}>;
	var convertLiveDateData  	= <{$convert_live_date_chart_list}>;
	var convertLiveHourData  	= <{$convert_live_hour_chart_list}>;

	drawCountChart(convertCountWeekChart, convertCountWeekData, convertWeekNameData);
	drawCountChart(convertCountDateChart, convertCountDateData, convertDateNameData);
	drawCountChart(convertCountHourChart, convertCountHourData, convertHourNameData);
	drawLiveChart(convertLiveWeekChart, convertLiveWeekData, convertWeekNameData);
	drawLiveChart(convertDateWeekChart, convertLiveDateData, convertDateNameData);
	drawLiveChart(convertHourWeekChart, convertLiveHourData, convertHourNameData);

	function drawCountChart(convertCountChart, convertFullData, convertNameList)
	{
		var fullData 	= convertFullData;
		var legendList 	= convertNameList;

		if(fullData != '')
		{
			var legendData = [];

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					itemStyle: {
						color: item['color'],
					}
				});
			});

			convertCountChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "7%",
					right: "7%"
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true,
					},
					data: legendData
				},
				yAxis: [
				{
					type: 'value',
					name: '유입',
					position: 'left',
					alignTicks: true,
					axisLine: {
						show: true,
						lineStyle: {
							color: "#00B050"
						}
					},
					axisLabel: {
						formatter: '{value}'
					}
				},
				{
					type: 'value',
					name: '전환',
					position: 'right',
					axisLine: {
						show: true,
						lineStyle: {
							color: "#FFC000"
						}
					},
					axisLabel: {
						formatter: '{value}'
					}
				},
				{
					type: 'value',
					name: '전환율',
					position: 'right',
					offset: 80,
					axisLine: {
						show: true,
						lineStyle: {
							color: "#00B0F0"
						}
					},
					axisLabel: {
						formatter: '{value}'
					}
				}
				],
				series: pushData
			});
		}
	}

	function drawLiveChart(convertLiveChart, convertFullData, convertNameList)
	{
		var fullData 	= convertFullData;
		var xTitleData 	= convertNameList;

		if(fullData != '')
		{
			var pushData 		= [];
			var xNameData 		= [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					itemStyle: {
						color: item['color'],
					}
				});
			});

			$.each(xTitleData, function(idx, item){
				xNameData.push(item);
			});

			convertLiveChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				legend:{
					data: ["아임웹 매출", "주문건당 단가"],
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: xNameData
				},
				yAxis: [
					{
						type: 'value',
						name: '아임웹 매출',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#8064A2"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: '주문건당 단가',
						position: 'right',
						axisLine: {
							show: true,
							lineStyle: {
								color: "#FF33CC"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
				],
				series: pushData
			});
		}
	}
</script>
</body>
</html>
