<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{margin-top: 20px; min-height: 500px;}
	.admin_content{width: 1600px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}
	.cms-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px;}
	.cms-total-wrapper{ font-size: 18px; font-weight: 700; box-sizing: border-box; padding: 20px;}
	.cms-chart-wrapper{margin-top: 30px;}
	#cms-total-chart{margin: 10px auto; width: 1560px; height: 600px;}

	.cms-total-table-wrapper{width: 1560px; margin: 10px auto;}
	.cms-total-table-wrapper .table{width: auto;}
	.cms-total-table-wrapper .table th{font-size: 12px;}
	.cms-total-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="cms-total-label">기간별 매출</h2>
	<div class="cms-total-wrapper">
		<div style="font-size: 12px; color: #CCC;">
			<span>참고1 : 상품별 결제금액으로 배송비, 주문서에 적용된 쿠폰, 할인 등은 해당 되지 않습니다.</span>
		</div>
		<div class="cms-chart-wrapper">
			<div id="cms-total-chart"></div>

			<div class="cms-total-table-wrapper">
				<table id="cms-total-table" class="table table-bordered">
					<thead class="thead-dark text-center">
					<tr>
						<th style="width: 100px; min-width: 100px;"></th>
						<{foreach from=$cms_total_name_list item=date_label}>
						<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
						<{/foreach}>
					</tr>
					</thead>
					<tbody>
					<{if $cms_total_list}>
						<tr>
							<td class="first text-center">매출액</td>
							<{foreach from=$cms_total_name_list key=key_date item=date_label}>
							<td class="text-right">
								<span style="float: right;"><{$cms_total_list[$key_date]|number_format:0}></span>
							</td>
							<{/foreach}>
						</tr>
					<{else}>
						<tr>
							<td class="first text-center" colspan="<{$cms_total_row_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-total-table');" />
			</div>
		</div>
	</div>

	<h2 class="cms-total-label">기간별 상품 BEST 매출</h2>
	<div>
		<iframe src='work_cms_stats_product_best_iframe.php?<{$search_url}>' width='1590' height='500' frameborder='0' id='work_cms_stats_product_best_iframe' onload='fixChildIframeHeight(this)'></iframe>
	</div>

	<h2 class="cms-total-label">기간별 상품 WORST 매출</h2>
	<div>
		<iframe src='work_cms_stats_product_worst_iframe.php?<{$search_url}>' width='1590' height='500' frameborder='0' id='work_cms_stats_product_worst_iframe' onload='fixChildIframeHeight(this)'></iframe>
	</div>

</div>

<script type="text/javascript">
	var cpcTotalChart = echarts.init(document.getElementById('cms-total-chart'),null, {renderer : 'canvas'});
	drawTotalChart();

	function drawTotalChart()
	{
		var fullData = <{$cms_total_chart_list}>;
		var titleData = <{$cms_total_chart_name_list}>;

		var pushData 	 = [];
		var pushNameData = [];

		$.each(fullData, function(idx, item){
			pushData.push(item);
		});

		$.each(titleData, function(idx, item){
			pushNameData.push(item);
		});

		if(fullData != '')
		{
			cpcTotalChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: [
					{
						data: pushData,
						type : 'line'
					}
				]
			});
		}
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}

	function checkChildIframe()
	{
		fixChildIframeHeight(document.getElementById("work_cms_stats_product_best_iframe"));
		fixChildIframeHeight(document.getElementById("work_cms_stats_product_worst_iframe"));
		parent.window.checkIframe()
	}

	function fixChildIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+100)+'px'
	}
</script>
</body>
</html>
