<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	.prev-hide, .cus-hide, .with-hide, .req-hide, .wise-hide{display: none;}
	.send-prd-wrap{border-bottom: 1ps solid }
</style>

<div class="admin_content">
	<h2 class="title">●회수 리스트 자동정리</h2>
	<form method="get" name="search_form" id="search_form" action="work_cms_return_temporary.php" autocomplete="off">
		<input type="hidden" name="sch" id="sch" value="<{$sch}>">
		<input type="hidden" name="is_freelancer" id="is_freelancer" value="<{$is_freelancer}>">
		<input type="hidden" name="sch_duplicate" id="sch_duplicate" value="<{$sch_duplicate}>">
		<div class="default_wrap">
			<span class="name_tit"><b style="color: blue">회수</b>목적</span>
			<select name="sch_return_purpose" class="select_type1">
				<option value="">::전체::</option>
				<{foreach from=$return_purpose_option key=key item=label}>
				<{if $key != '3'}>
				<option value="<{$key}>" <{if $sch_return_purpose == $key}>selected<{/if}>><{$label}></option>
				<{/if}>
				<{/foreach}>
			</select>
			<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
		</div>
	</form>

	<div>
		<form name="add_trade_tmp_list" id="add_return_trade_list" method="post" action="work_cms_return_temporary_insert.php" enctype="multipart/form-data" style="margin: 5px 0;">
			<input type="hidden" name="return_type" value="trade">
			<div style="width:860px;">
				<strong>[교환리스트 추가]</strong>
				<span class="name_tit" style="width: 60px; display: inline-block;">판매채널</span>
				<select name="choice_c_name" id="choice_c_name" class="select_type2" style="width:100px;">
					<!--<option value="">선택</option>-->
					<option value="아임웹_베라베프">아임웹</option>
				</select>
				<input type="file" name="return_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
				<button type="button" onclick="return addReturnList('trade');" class="btn_file" style="padding: 4px 21px; background: #565656; font-weight: bold;">추가하기</button>
			</div>
		</form>
		<form name="add_return_tmp_list" method="post" action="work_cms_return_temporary_insert.php" enctype="multipart/form-data" style="margin: 5px 0;">
			<input type="hidden" name="return_type" value="return">
			<div style="width:860px;">
				<strong>[반품리스트 추가]</strong>
				<span class="name_tit" style="width: 60px; display: inline-block;">판매채널</span>
				<select name="choice_c_name" class="select_type2" style="width:100px;">
					<!--<option value="">선택</option>-->
					<option value="아임웹_베라베프">아임웹</option>
				</select>
				<input type="file" name="return_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
				<button type="button" onclick="return addReturnList('return');" class="btn_file" style="padding: 4px 21px; background: #565656; font-weight: bold;">추가하기</button>
			</div>
		</form>
	</div>

	<div>
		<form method="post" name="add_return_del_frm" action="work_cms_return_temporary.php">
			<input type="hidden" name="process" value="all_delete"/>
			<button onclick="if(!confirm('전체 삭제하시겠습니까?')){return false;}" class="btn_style1" style="padding: 10px 25px;"><span>전체 삭제하기</span></button>
		</form>
	</div>

	<div style="margin-top: 20px;">
		<p style="font-size: 14px;">
			<b>[교환/반품 중복 처리 검수]</b><b style="color: red;">최근(7일 이내) 회수요청된 이전주문번호 <{$total_req_cnt}>건</b>
			<button type="button" onclick="searchDuplicate('on')" style="padding: 3px 5px; background: #333; color: white;">보기</button>
			<button type="button" onclick="searchDuplicate('off')" style="padding: 3px 5px; background: #333; color: white;">해제</button>
		</p>
	</div>
	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th scope="col" rowspan="3" style="min-width: 61px; width: 61px;">r_no<br/>작성일</th>
					<th scope="col" rowspan="3" style="min-width: 60px; width: 60px;"><b style="color: blue;">회수</b> 요청일</th>
					<th scope="col" rowspan="3" style="min-width: 80px; width: 80px;"><b style="color: blue;">회수</b> 진행상태</th>
					<th scope="col" rowspan="1" colspan="2" class="prev-show" style="height: 30px;">이전 주문 정보 <a href="javascript:void(0)" onclick="toggleTable('prev', 'hide')">◀</a></th>
					<th scope="col" rowspan="1" colspan="1" class="prev-hide" style="min-width: 55px; width: 55px; height: 30px;">이전 주문 정보 <a href="javascript:void(0)" onclick="toggleTable('prev', 'show')">▶</a></th>
					<th scope="col" rowspan="1" colspan="11" class="cus-show">고객요청 <b style="color: blue;">회수</b> 정보 <a href="javascript:void(0)" onclick="toggleTable('cus', 'hide')">◀</a></th>
					<th scope="col" rowspan="1" colspan="1" class="cus-hide" style="min-width: 55px; width: 55px;">고객요청 <b style="color: blue;">회수</b> 정보 <a href="javascript:void(0)" onclick="toggleTable('cus', 'show')">▶</a></th>
					<th scope="col" rowspan="1" colspan="3" class="req-show"><b style="color: blue;">회수</b> 요청 <a href="javascript:void(0)" onclick="toggleTable('req', 'hide')">◀</a></th>
					<th scope="col" rowspan="1" colspan="1" class="req-hide" style="min-width: 55px; width: 55px;"><b style="color: blue;">회수</b> 요청 <a href="javascript:void(0)" onclick="toggleTable('req', 'show')">▶</a></th>
				</tr>
				<tr>
					<th scope="col" rowspan="2" class="prev-show" style="min-width: 105px; width: 105px;">이전 주문번호</th>
					<th scope="col" rowspan="2" class="prev-show" style="min-width: 80px; width: 80px;">이전 구매처</th>
					<th scope="col" rowspan="2" class="prev-hide">----▶</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 60px; width: 60px;">고객 요청일시</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 100px; width: 100px;"><b style="color: blue;">회수</b>자명/전화<br/>수령자명/전화</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 100px; width: 100px;">우편번호</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 200px; width: 200px;"><b style="color: blue;">회수</b>지<br/>배송지</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 135px; width: 135px;"><b style="color: blue;">회수</b>메모<br/>메모</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 110px; width: 110px;">업체명/브랜드명</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 220px; width: 220px;">상품명</th>
					<th scope="col" rowspan="2" class="cus-show" style="min-width: 60px; width: 60px;">수량</th>
					<th scope="col" rowspan="1" class="cus-show" style="min-width: 90px; width: 90px;"><b style="color: blue;">회수</b>목적</th>
					<th scope="col" rowspan="1" class="cus-show" style="min-width: 180px; width: 180px;">사유 구분</th>
					<th scope="col" rowspan="1" class="cus-show" style="min-width: 135px; width: 135px;">고객 메시지</th>
					<th scope="col" rowspan="2" class="cus-hide">----▶</th>
					<th scope="col" rowspan="2" class="req-show" style="min-width: 120px; width: 120px;">구분</th>
					<th scope="col" rowspan="2" class="req-show" style="min-width: 135px; width: 135px;">요청 메시지</th>
					<th scope="col" rowspan="2" class="req-show" style="min-width: 60px; width: 60px;">요청자</th>
					<th scope="col" rowspan="2" class="req-hide">----▶</th>
				</tr>
				<tr>
					<th scope="col" colspan="3" class="cus-show" style="width: 80px;">발송 상품명/수량</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num > 0}>
					<{assign var=color_idx value=1}>
					<{foreach from=$return_list item=return}>
					<form name="apply_frm<{$return.r_no}>" id="apply_frm<{$return.r_no}>" class="apply_frm" action="work_cms_return_temporary.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
						<input type="hidden" name="r_no" value="<{$return.r_no}>">
						<input type="hidden" name="search_url" value="<{$search_url}>">
						<input type="hidden" name="process">

						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td class="first date" rowspan="2"> <!-- r_no / 작성일-->
								<{$return.r_no}><br/>
								<span style="display: block; text-align: center; font-size:9px;"><{$return.reg_date}></span>
								<a href="#" onclick="save_el('<{$return.r_no}>', 'del_return', this);"><span style="font-size:6px;">[삭제]</span></a>
							</td>
							<td rowspan="2"> <!-- 회수요청일 -->
								<span style="color:blue; 	font-size:9px;"><{$return.return_req_date}></span>
							</td>
							<td rowspan="2"> <!-- 회수 진행상태 -->
								<select name="return_state" onchange="save_el('<{$return.r_no}>', 'return_state', this)" class="select_type1">
									<option value="">::선택::</option>
									<{foreach from=$return_state_option key=key item=label}>
									<option value="<{$key}>" <{if $key == $return.return_state}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="prev-show" rowspan="2"> <!-- 이전주문번호 -->
								<span style="font-size:9px;"><{$return.parent_order_number}></span>
								<{if $return.req_cnt > 0}>
									<br/>
									<span style="color: red; font-size: 9px;">주의: 7일내 회수리스트 있음</span><a href="work_list_cs.php?sch_order_number=<{$return.parent_order_number}>" target="_blank" style="margin-left: 5px;"><img src="./images/icon/new_win_icon.png"></a>
								<{/if}>
							</td>
							<td class="prev-show" rowspan="2"> <!-- 이전 구매처 -->
								<{$return.dp_c_name}>
							</td>
							<td class="prev-hide" rowspan="2"></td>
							<td class="cus-show" rowspan="2"> <!-- 고객 요청일시 -->
								<span style="font-size:9px;"><{$return.cus_date}></span>
							</td>
							<style>
								.return-addr-wrapper{height: 90px; padding-top: 12px; box-sizing: border-box; border-bottom: 1px solid #ccc;}
								.delivery-addr-wrapper{height: 90px; padding-top: 12px; box-sizing: border-box;}
							</style>
							<td class="cus-show" rowspan="2" style="vertical-align: top;"> <!-- 회수자명/전화,수령자명/전화 -->
								<div class="return-addr-wrapper">
									<input type="text" name="recipient" id="return_recipient_<{$return.r_no}>" class="input_type3" style="background-color: #ffffcc; width: 80px; text-align: center;" value="<{$return.recipient}>">
									<input type="text" name="recipient_hp" id="return_recipient_hp_<{$return.r_no}>" class="input_type3" style="background-color: #ffffcc; width: 90px; text-align: center;" value="<{$return.recipient_hp}>">
								</div>
								<{if $return.return_purpose == '1'}>
								<div class="delivery-addr-wrapper" style="padding-top: 5px;">
									<input type="checkbox" id="copy_addr_<{$return.r_no}>" onclick="copyReturnAddr('<{$return.r_no}>');" value="1" checked><label for="copy_addr_<{$return.r_no}>" style="cursor: pointer;">회수지와 동일</label>
									<input type="text" name="deli_recipient" id="deli_recipient_<{$return.r_no}>" class="input_type3" style="background-color: #ffffcc; width: 80px; text-align: center;" value="<{$return.deli_recipient}>">
									<input type="text" name="deli_recipient_hp" id="deli_recipient_hp_<{$return.r_no}>" class="input_type3" style="background-color: #ffffcc; width: 90px; text-align: center;" value="<{$return.deli_recipient_hp}>">
								</div>
								<{/if}>
							</td>
							<td class="cus-show" rowspan="2" style="vertical-align: top;"><!-- 우편번호 -->
								<div class="return-addr-wrapper">
									<input type="text" class="input_type3" id="return_zipcode_<{$return.r_no}>" name="zipcode" style="width: 90px; text-align: center; background-color: #ffffcc;" value="<{$return.zip_code}>" readonly /><br/>
									<button type="button" style="padding: 5px 10px; background: #333; color: white;" onclick="openDaumPostCode('return','<{$return.r_no}>')">우편번호 찾기</button>
								</div>
								<{if $return.return_purpose == '1'}>
								<div class="delivery-addr-wrapper">
									<input type="text" class="input_type3" id="deli_zipcode_<{$return.r_no}>" name="deli_zipcode" style="width: 90px; text-align: center; background-color: #ffffcc;" value="<{$return.deli_zip_code}>" readonly /><br/>
									<button type="button" style="padding: 5px 10px; background: #333; color: white;" onclick="openDaumPostCode('deli','<{$return.r_no}>')">우편번호 찾기</button>
								</div>
								<{/if}>
							</td>
							<td class="cus-show" style="text-align: left; vertical-align: middle;" rowspan="2"> <!-- 회수지/배송지 -->
								<div class="return-addr-wrapper">
									<input type="text" class="input_type5" id="return_recipient_addr1_<{$return.r_no}>" name="recipient_addr1" value="<{$return.recipient_addr1}>" style="width: 250px; background-color: #ffffcc;" placeholder="회수지 주소" readonly/><br/>
									<input type="text" class="input_type5" id="return_recipient_addr2_<{$return.r_no}>" name="recipient_addr2" value="<{$return.recipient_addr2}>"  style="width: 250px; background-color: #ffffcc;" placeholder="회수지 세부주소" />
								</div>
								<{if $return.return_purpose == '1'}>
								<div class="delivery-addr-wrapper">
									<input type="text" class="input_type5" id="deli_recipient_addr1_<{$return.r_no}>" name="deli_recipient_addr1" value="<{$return.deli_recipient_addr1}>" style="width: 250px; background-color: #ffffcc;" placeholder="배송지 주소" readonly/><br/>
									<input type="text" class="input_type5" id="deli_recipient_addr2_<{$return.r_no}>" name="deli_recipient_addr2" value="<{$return.deli_recipient_addr2}>" style="width: 250px; background-color: #ffffcc;" placeholder="배송지 세부주소" />
								</div>
								<{/if}>
							</td>
							<td class="cus-show" rowspan="2"> <!-- 회수메모/배송메모 -->
								<div class="return-addr-wrapper"></div>
								<{if $return.return_purpose == '1'}>
								<div class="delivery-addr-wrapper">
									<textarea name="deli_memo" class="textarea_work_message" style="width: 120px; background-color: #ffffcc; height: 35px;"><{$return.deli_memo}></textarea>
									<br><button type="button" onclick="submitReturnAddress('<{$return.r_no}>')" style="background: #f77b18; color: white; margin: 0 auto; display: table; padding: 2px 5px;">배송정보 저장</button>
								</div>
								<{/if}>
							</td>
							<td class="cus-show" rowspan="2"> <!-- 업체명/브랜드명 -->
								<span><{$return.c_name}></span>
							</td>
							<td class="cus-show" rowspan="2"> <!-- 커머스 상품명 -->
								<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$return.k_prd1_name}> > <{$return.k_prd2_name}> ></span>
								<span style="text-align:left; display: block;"><{$return.prd_name}></span>
							</td>
							<td class="cus-show" rowspan="2"> <!-- 수량 -->
								<{$return.quantity}>
							</td>
							<td class="cus-show" style="background: lightyellow;"> <!-- 회수목적 -->
								<select name="return_purpose" onchange="save_el('<{$return.r_no}>', 'return_purpose', this)" class="select_type1">
									<option value="">::선택::</option>
									<{foreach from=$return_purpose_option key=key item=label}>
									<option value="<{$key}>" <{if $key == $return.return_purpose}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="cus-show" style="background: lightyellow;"> <!-- 사유구분 -->
								<select name="return_reason" onchange="save_el('<{$return.r_no}>', 'return_reason', this)" class="select_type3">
									<option value="">::선택::</option>
									<{foreach from=$return_reason_option key=key item=label}>
									<option value="<{$key}>" <{if $key == $return.return_reason}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="cus-show" style="background: lightyellow;"> <!-- 고객 메시지 -->
								<textarea onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')" class="textarea_work_message_readonly" style="width: 120px; height: 60px;" readonly><{$return.cus_memo}></textarea>
							</td>
							<td class="cus-hide" rowspan="2"></td>
							<td class="req-show" rowspan="2"> <!-- 구분 -->
								<select name="return_type" onchange="save_el('<{$return.r_no}>', 'return_type', this)" class="select_type2">
									<option value="">::선택::</option>
									<{foreach from=$return_type_option key=key item=label}>
									<option value="<{$key}>" <{if $return.return_type != '' && $key == $return.return_type}>selected<{/if}>><{$label}></option>
									<{/foreach}>
								</select>
							</td>
							<td class="req-show" rowspan="2"> <!-- 요청 메시지 -->
								<textarea name="req_memo" onchange="save_el('<{$return.r_no}>', 'req_memo', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')" class="textarea_work_message" style="width: 120px; height: 60px;"><{$return.req_memo}></textarea>
							</td>
							<td class="req-show" rowspan="2"> <!-- 요청자 -->
								<{$return.req_s_name}>
							</td>
							<td class="req-hide" rowspan="2"></td>
						</tr>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td class="cus-show" colspan="3" style="text-align: left; background: lightyellow;">
								<{if $return.return_purpose == '1'}>
									<input type="hidden" id="send-attr-key-<{$return.r_no}>" value="<{$return.send_prd_cnt}>" />
									<div class="send-prd-total-wrap-<{$return.r_no}>" style="overflow: hidden;">
										<{assign var="idx" value=1}>
										<{if $return.send_prd_list}>
											<{foreach from=$return.send_prd_data_list item=send_prd}>
											<div class="send-prd-wrap-<{$send_prd.prd_key}> send-prd-wrap">
												<span style="float: left;padding: 0 10px;margin-top: 7px;">발송상품</span>
												<a href="javascript:void(0)" onclick="open_quick_prd('<{$send_prd.prd_key}>')" style="float: left; margin: 5px;"><img src="./images/icon/import.png"></a>
												<input type="hidden" name="f_prd_no[]" id="f_prd_no_<{$send_prd.prd_key}>" class="f_prd_no_<{$return.r_no}>" attr-idx="<{$idx}>" value="<{$send_prd.prd_no}>">
												<input type="text" name="f_prd_name[]" id="f_prd_name_<{$send_prd.prd_key}>" class="input_type5 f_prd_name" value="<{$send_prd.prd_name}>" attr-key="<{$send_prd.prd_key}>" style="float: left; font-size: 12px; width: 220px;">
												<input type="text" name="f_prd_qty[]" id="f_prd_qty_<{$send_prd.prd_key}>"  class="input_type3 f_prd_qty" value="<{$send_prd.qty}>" attr-key="<{$send_prd.prd_key}>" style="float: left; width: 30px; font-size: 12px; font-weight: bold; text-align: center;" />
												<button type="button" onclick="delSendProduct('<{$send_prd.prd_key}>')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;">-</button>
											</div>
											<{assign var="idx" value=$idx+1}>
											<{/foreach}>
										<{/if}>
									</div>
									<div class="text-right">
										<button type="button" onclick="addSendProduct('<{$return.r_no}>')" style="padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px; margin-right: 17px;">+</button>
									</div>
								<{/if}>
							</td>
						</tr>
					</form>
					<{assign var=color_idx value=$color_idx+1}>
					<{/foreach}>
				<{else}>
				<tr>
					<td colspan="22">데이터가 없습니다</td>
				</tr>
				<{/if}>
				<tr>
					<td colspan="22" class="paging_wrap">
						<div class="paging_wrap">
							<{$pagelist}>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // 업체명 자동완성 검색 결과 값 반영
        $(".f_prd_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/v1/api/product_cms_auto.api.php",
                    dataType: "json",
                    data: {
                        prd_name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                prd_no : item.prd_no,
                                label  : item.prd_name
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                var key = $(this).attr('attr-key');
                $("#f_prd_no"+key).val(ui.item.prd_no);
                $("#f_prd_qty_"+key).val(1);
				saveSendProduct(key);
            },
            focus: function( event, ui ) {
                return false;
            },
            minLength: 1
        });

		$(".f_prd_qty").change(function(){
			var attr_key = $(this).attr('attr-key');
			saveSendProduct(attr_key);
		});
    });


    function save_el(r_no, proc, obj) {

        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if(proc == 'del_return'){
            if(!confirm("삭제하시겠습니까?")){
                return;
			}
		}


        if (val != "" || (proc == 'cus_memo' || proc == 'req_memo' || proc == 'return_type' || proc == 'return_reason' || proc == 'return_purpose' || proc == 'return_state')) { // 메모
            $.post("work_cms_return_temporary.php", {r_no : r_no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    function addReturnList(type)
    {
        var f = document.forms['add_trade_tmp_list'];

        if(type == 'return'){
            f = document.forms['add_return_tmp_list'];
		}else if(type == 'all_delete'){
            f = document.forms['add_return_del_frm'];
		}

        if(!f.choice_c_name.value){
            alert("판매채널을 선택해주세요");
            return;
        }

        if(!f.return_file.value){
            alert("파일을 첨부해주세요");
            return;
        }

        if (confirm("첨부파일을 회수 리스트 자동정리에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

    function toggleTable(type, state)
    {
        if(state == 'show'){
            $("."+type+"-show").show();
            $("."+type+"-hide").hide();
        }else{
            $("."+type+"-show").hide();
            $("."+type+"-hide").show();
        }
    }

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
        f.style.width = width;
        f.style.backgroundColor="yellow";
        f.style.height = (f.scrollHeight)+"px"; // 자동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width){
        f.style.width = width;
        f.style.backgroundColor="";
        f.style.height = "60px"; // 수동설정
    }

    function addSendProduct(r_no)
	{
		var attrKey = Number($("#send-attr-key-"+r_no).val())+1;
		var prdKey  = r_no + "_" + attrKey;
		var addHtml = "<div class='send-prd-wrap-" + prdKey + " send-prd-wrap'>"
			+ "<span style='float: left;padding: 0 10px;margin-top: 7px;'>발송상품</span>"
			+ "<a href='javascript:void(0);' onclick='open_quick_prd(\"" + prdKey + "\")' style='float: left; margin: 5px;'><img src='./images/icon/import.png'></a>"
			+ "<input type='hidden' name='f_prd_no[]' id='f_prd_no_" + prdKey + "' class='f_prd_no_" + r_no + "' attr-idx='" + attrKey + "' value=''>"
			+ "<input type='text' name='f_prd_name[]' id='f_prd_name_" + prdKey + "' class='input_type5 f_prd_name' value='' attr-key='" + prdKey + "' style='float: left; font-size: 12px; width: 220px;'>"
			+ "<input type='text' name='f_prd_qty[]' id='f_prd_qty_" + prdKey + "'  class='input_type3 f_prd_qty' value='' attr-key='" + prdKey + "' style='float: left; width: 30px; font-size: 12px; font-weight: bold; text-align: center;' />"
			+ "<button type='button' onclick='delSendProduct(\"" + prdKey + "\")' style='padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button>"
			+ "</div>"
		;

		$(".send-prd-total-wrap-"+r_no).append(addHtml);
		$("#send-attr-key-"+r_no).val(attrKey);
	}

    function delSendProduct(prd_key)
    {
		$('.send-prd-wrap-'+prd_key).remove();
		saveSendProduct(prd_key);
    }

	function saveSendProduct(attr_key)
	{
		var prd_no_list  = "";
		var prd_qty_list = "";
		var chk_type 	 = attr_key.split("_");
		var r_no		 = chk_type[0];

		$(".f_prd_no_" + r_no).each(function(idx, item){
			if($(item).val() != ''){
				var attrIdx = $(item).attr('attr-idx');
				var prdKey  = r_no + "_" + attrIdx;
				var qty 	= $("#f_prd_qty_"+prdKey).val();

				if(qty < 1){
					qty = 1;
				}

				prd_no_list += $(item).val() + ",";
				prd_qty_list += qty + ",";
			}
		});

		if(prd_no_list != ""){
			prd_no_list = prd_no_list.slice(0, -1);
		}

		if(prd_qty_list != ""){
			prd_qty_list = prd_qty_list.slice(0, -1);
		}

		save_element(r_no, 'save_send_product', prd_no_list, prd_qty_list);
	}

    function openDaumPostCode(type, r_no){
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }


                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById(type+'_zipcode_'+r_no).value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById(type+'_recipient_addr1_'+r_no).value = fullAddr;
                document.getElementById(type+'_recipient_addr2_'+r_no).focus();
            }
        }).open();
    }

    function submitReturnAddress(r_no){
        var f = document.getElementById('apply_frm'+r_no);
        f.process.value="modify_total_address";
        if(confirm("회수지 및 배송지 정보를 저장히시겠습니까?")){
            f.submit();
		}

		return false;
	}

	function copyReturnAddr(r_no)
	{
    	var checked = $("#copy_addr_"+r_no).attr("checked");

    	if(checked == 'checked'){
            $("#deli_recipient_"+r_no).val($("#return_recipient_"+r_no).val());
            $("#deli_recipient_hp_"+r_no).val($("#return_recipient_hp_"+r_no).val());
            $("#deli_zipcode_"+r_no).val($("#return_zipcode_"+r_no).val());
            $("#deli_recipient_addr1_"+r_no).val($("#return_recipient_addr1_"+r_no).val());
            $("#deli_recipient_addr2_"+r_no).val($("#return_recipient_addr2_"+r_no).val());
		}else{
    	    $("#deli_recipient_"+r_no).val('');
    	    $("#deli_recipient_hp_"+r_no).val('');
    	    $("#deli_zipcode_"+r_no).val('');
    	    $("#deli_recipient_addr1_"+r_no).val('');
    	    $("#deli_recipient_addr2_"+r_no).val('');
		}
	}

	function searchDuplicate(type)
	{
        if(type == 'on'){
            $("#sch_duplicate").val('1');
		}else{
            $("#sch_duplicate").val('');
		}

		document.search_form.submit();
	}

	function open_quick_prd(idx)
	{
		window.open('popup/quick_prd_sel.php?sch_quick_type=cms&sch_idx='+idx,'MY QUICK SET','width=710, height=540, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;
	}

	function sel_quick_prd(idx, prd_no, prd_name)
	{
		if($("#f_prd_no_"+idx).length > 0)
		{
			if(!checkAddProduct(idx, prd_no)){
				alert("이미 추가된 상품입니다.");
				return false;
			}

			$("#f_prd_name_"+idx).val(prd_name);
			$("#f_prd_no_"+idx).val(prd_no);
			$("#f_prd_qty_"+idx).val(1);

			saveSendProduct(idx);
		}
	}

	function checkAddProduct(type, prd_no)
	{
		var result = true;
		var chk_type = type.split("_");

		$(".f_prd_no_"+chk_type[0]).each(function(idx, item){
			var chk_prd_no = $(item).val();
			if(chk_prd_no == prd_no){
				result = false;
			}
		});

		return result;
	}

	function save_element(r_no, proc, prd_no, qty)
	{
		$.post("work_cms_return_temporary.php", {r_no : r_no, process : proc, prd_no:prd_no, qty: qty}, function(result){

		});
	}
</script>

</body>
</html>
