<{include file="inc/iframe_navibar.html"}>

<div class="admin_content">
	<h2 class="title">● 재구매조회 자세히보기</h2>

	<div class="table_list_style" style="clear: both; margin-top: 20px;">
		<form method="get" name="search_form" id="search_form" action="work_cms_mass_recent_window.php">
			<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
			<input type="hidden" name="ord_s_date" value="<{$ord_s_date}>" />
			<input type="hidden" name="ord_e_date" value="<{$ord_e_date}>" />
			<input type="hidden" name="prd_no" value="<{$sch_prd_no}>" />
			<input type="hidden" name="order_number" value="<{$sch_order_number}>" />
			<input type="hidden" name="recipient" value="<{$sch_recipient}>" />
			<input type="hidden" name="recipient_hp" value="<{$sch_recipient_hp}>" />
			<input type="hidden" name="zip_code" value="<{$sch_zip_code}>" />
			<input type="hidden" name="recipient_addr" value="<{$sch_recipient_addr}>" />
		</form>
		<table cellpadding="0" cellspacing="0">
			<!-- 커머스 리스트 부분 [Start] -->
			<thead>

			<tr>
				<td colspan="13" style="text-align: left;">
					<span><{$total_num}>개의 검색 결과가 나타났습니다.</span>
					<div class="right_wrap">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
							<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th class="first" style="min-width: 60px; width: 60px; height: 30px;">w_no</th>
				<th style="min-width: 80px; width: 80px;">주문일시</th>
				<th style="min-width: 100px; width: 100px;">주문번호</th>
				<th style="min-width: 80px; width: 80px;">발송처리일</th>
				<th style="min-width: 120px; width: 120px;">수령자명</th>
				<th style="min-width: 120px; width: 120px;">수령자 전화</th>
				<th style="min-width: 80px; width: 80px;">우편번호</th>
				<th style="min-width: 180px; width:180px;">수령지</th>
				<th style="min-width:100px; width:100px;">업체명/브랜드명</th>
				<th style="min-width:200px; width:200px;">커머스 상품명</th>
				<th style="min-width: 60px; width: 60px;">수량</th>
				<th style="min-width: 80px; width: 80px;">금액</th>
				<th style="min-width: 80px; width: 80px;">구매처</th>
			</tr>
			</thead>
			<tbody>
			<{if $total_num > 0}>
				<{foreach from=$detail_cms_list item=detail_cms}>
				<tr>
					<td class="first"><!-- w_no -->
						<{$detail_cms.w_no}>
					</td>
					<td><!-- 주문일시 -->
						<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$detail_cms.ord_date}></span>
						<span style="color:green; display: block; text-align: center; font-size:9px;"><{$detail_cms.ord_time}></span>
					</td>
					<td><!-- 주문번호 -->
						<{$detail_cms.order_number}>
					</td>
					<td><!-- 발송처리일 -->
						<{$detail_cms.stock_date}>
					</td>
					<td><!-- 수령자명 -->
						<{$detail_cms.recipient}>
					</td>
					<td><!-- 수령자 전화 -->
						<{$detail_cms.recipient_hp}>
					</td>
					<td><!-- 우편번호 -->
						<{$detail_cms.zip_code}>
					</td>
					<td style="word-break: break-all;"><!-- 수령지 -->
						<{$detail_cms.recipient_addr}>
					</td>
					<td><!-- 업체명/브랜드명 -->
						<{$detail_cms.c_name}>
					</td>
					<td><!-- 커머스 상품명 -->
						<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$detail_cms.k_prd1_name}> > <{$detail_cms.k_prd2_name}> ></span>
						<span style="text-align:left; display: block;"><{$detail_cms.prd_name}></span>
					</td>
					<td><!-- 수량 -->
						<{$detail_cms.quantity|number_format:0}>
					</td>
					<td><!-- 금액 -->
						￦ <{$detail_cms.dp_price_vat|number_format:0}>
					</td>
					<td><!-- 구매처 -->
						<{$detail_cms.dp_c_name}>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first" colspan="13">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="13" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
				</td>
			</tr>
			</tbody>
			<!-- 커머스 리스트 부분 [End] -->
		</table>
	</div>
</div>
<!-- admin_content -->

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".return-type").change(function(){
			var key = $(this).attr('attr-key');
			var val = $(this).val();

			$("#new_return_type_"+key).val(val);
		});
	});

    function openDaumPostCode(type){
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }


                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('new_' + type + '_zipcode').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('new_' + type + '_recipient_addr1').value = fullAddr;
                document.getElementById('new_' + type + '_recipient_addr2').focus();
            }
        }).open();
    }

	function addPrdColumn(type)
	{
		var attrKey = Number($("#"+type+"-attr-key").val()) + 1;
		var addHtml = "<div class='" + type + "-prd-wrap-"+ attrKey +"'><input type='text' class='input_type5 new_prd_name' id='new_" + type + "_prd_name_"+ attrKey +"' name='new_prd_name[]' attr-key='"+ attrKey +"' required/>"
				+ "<input type='number' class='input_type3' style='width: 40px; margin: 0 6px;' name='new_quantity[]' required /><input type='hidden' name='new_prd_no[]' id='new_" + type + "_prd_no_"+ attrKey +"' value='' required/>" +
				"<button type='button' onclick='delPrdColumn(\"" + type + "\"," + attrKey +")' style='padding: 5px 10px; background: #333; color: white; font-weight: bold; font-size: 18px; line-height: 18px;'>-</button></div>";

		$("#"+type+"-attr-key").val(attrKey);
		$('.'+type+'-add-prd-wrap').append(addHtml);

		if(type == 'return')
		{
			var returnTypeHtml = "<input type='hidden' name='new_return_type[]' value='1' id='new_return_type_" + attrKey + "' />";
			$('.'+type+'-prd-wrap-'+attrKey).append(returnTypeHtml);

			var typeAddHtml = "<div class='return-type-wrap-" + attrKey + "' style='height: 32px; line-height: 32px;\'>" +
					"<input type='radio' name='return_type_" + attrKey + "' id='return_type_" + attrKey + "_1' class='return-type' attr-key='"+attrKey+ "' value='1' checked><label for='return_type_" + attrKey + "_1'>교환</label>" +
					"<input type='radio' name='return_type_" + attrKey + "' id='return_type_" + attrKey + "_2' class='return-type' attr-key='"+attrKey+ "' value='2'><label for='return_type_" + attrKey + "_2'>반품</label>" +
					"</div>";

			$('.return-add-type-wrap').append(typeAddHtml);

			addAutoCsType();
		}

		addAutoLoad(type);
	}

	function delPrdColumn(type, key)
	{
		$('.'+type+'-prd-wrap-'+key).remove();

		if(type == 'return'){
			$('.return-type-wrap-'+key).remove();
		}
	}

	function addAutoLoad(type)
	{
		$(".new_prd_name").autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/v1/api/product_cms_auto.api.php",
					dataType: "json",
					data: {
						prd_name:request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								prd_no : item.prd_no,
								label  : item.prd_name
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#new_"+type+"_prd_no_"+key).val(ui.item.prd_no);
			},
			focus: function( event, ui ) {
				var key = $(this).attr('attr-key');
				$("#new_"+type+"_prd_no_"+key).val(ui.item.prd_no);
				return false;
			},
			minLength: 1
		});
	}

	function addAutoCsType()
	{
		$(".return-type").change(function(){
			var key = $(this).attr('attr-key');
			var val = $(this).val();

			$("#new_return_type_"+key).val(val);
		});
	}

	function normal_search() {
		var f = document.forms['search_form'];

		var ord_page    = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}
</script>

</body>
</html>
