<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px;margin-right: 15px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: right;}
	.table tbody td.dp_name{text-align: left;}
	.font-red{color: red;}
	.ord_td{background: #FCE4D6;}
	.vat_td{background: #E2EFDA;}
	.settle_td{background: #DDEBF7;}
	.per_td{background: #F2F2F2;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<span style="color: red; font-size: 12px; float: right;">※ CS, 교환, CS_XXX , WISE_XXX, 직접구매는 제외</span>
	</h2>
	<span>와플 택배리스트 기준으로 부가세 미확인 금액과 정산 미확인 주문건을 비교 검토 합니다.</span>
	<form method="get" name="search_form" id="search_form" class="form-inline" action="work_cms_sales_vat_settle_review.php" autocomplete="off">
		<div class="default_wrap" style="margin-top: 10px;">
			<div class="form-group">
				<label for="sch_c_no">업체명/브랜드명</label>
				<select id="sch_c_no" name="sch_c_no" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$brand_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_c_no == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_review_month">주문일</label>
				<input type="text" name="sch_review_month" id="sch_review_month" class="month-picker form-control" value="<{$sch_review_month}>" />

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" style="margin-top: 10px; table-layout: fixed; width: 100%;">
		<colgroup>
			<col width="200px;"> <!-- 판매처 -->
			<col width="80px;"> <!-- 주문일 -->
			<col width="100px;"> <!-- 와플 발송 주문수 -->
			<col width="100px;"> <!-- 부가세 확인 주문수 -->
			<col width="100px;"> <!-- 부가세 미확인 주문수 -->
			<col width="100px;"> <!-- 정산 확인 주문수 -->
			<col width="100px;"> <!-- 정산 미확인 주문수 -->
			<col width="80px;"> <!-- 정산 미확인 주문 비중 -->
			<col width="120px;"> <!-- 와플 발송 결제 금액 -->
			<col width="120px;"> <!-- 부가세 확인 과세매출 금액 -->
			<col width="120px;"> <!-- 부가세 미확인 와플 발송 금액 -->
			<col width="80px;"> <!-- 부가세 미확인 금액 비중 -->
			<col width="120px;"> <!-- 정산 확인 정산 금액 -->
			<col width="120px;"> <!-- 정산 미확인 와플 발송 금액 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr style="text-align: right;">
				<td colspan="14" style="color: red;">※ VAT 포함 기준 (현대홈쇼핑(신) = VAT 별도)</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" colspan="7">주문번호 검토</th>
				<th scope="col" colspan="6">금액 검토</th>
			</tr>
			<tr>
				<th scope="col">주문일</th>
				<th scope="col">와플 발송 주문수</th>
				<th scope="col">부가세 확인 주문수</th>
				<th scope="col">부가세 미확인 주문수</th>
				<th scope="col">정산 확인 주문수</th>
				<th scope="col">정산 미확인 주문수 (-취소&회수)</th>
				<th scope="col">정산 미확인<br/>주문 비중</th>
				<th scope="col">와플 발송 결제 금액</th>
				<th scope="col">부가세 확인<br/>과세매출 금액</th>
				<th scope="col">부가세 미확인<br/>와플 발송 결제금액</th>
				<th scope="col">부가세 미확인<br/>금액 비중</th>
				<th scope="col">정산 확인<br/>정산 금액</th>
				<th scope="col">정산 미확인<br/>와플 발송 결제금액</th>
			</tr>
		</thead>
		<tbody>
			<{if $sales_review_list}>
				<{foreach from=$sales_review_list key=dp_c_no item=sales_review}>
					<tr>
						<td class="first dp_name"><!-- 판매처 -->
							<{$sales_review.dp_c_name}>
						</td>
						<td class="text-center"> <!-- 주문일 -->
							<{$sch_review_month}>
						</td>
						<td class="ord_td"> <!-- 와플 발송 주문수 -->
							<span style="float: right;"><{$sales_review.ord_cnt|number_format:0}></span>
						</td>
						<td class="vat_td"> <!-- 부가세 확인 주문수 -->
							<span style="float: right;"><{$sales_review.vat_cnt|number_format:0}></span>
						</td>
						<td class="vat_td font-red"> <!-- 부가세 미확인 주문수 -->
							<span style="float: right;"><{$sales_review.not_vat_cnt|number_format:0}></span>
						</td>
						<td class="settle_td"> <!-- 정산 확인 주문수 -->
							<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sch_review_s_date}>&sch_order_e_date=<{$sch_review_e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_c_no=<{$sch_c_no}>&sch_is_settle=1" target="_blank" style="float: right; margin-left: 3px;">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<span style="float: right;"><{$sales_review.settle_cnt|number_format:0}></span>
						</td>
						<td class="settle_td font-red"> <!-- 정산 미확인 주문수 (-취소&회수) -->
							<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sch_review_s_date}>&sch_order_e_date=<{$sch_review_e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_c_no=<{$sch_c_no}>&sch_is_settle=2" target="_blank" style="float: right;margin-left: 3px;">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<span style="float: right;">
								<{$sales_review.not_settle_cnt|number_format:0}>
								<{if $sales_review.cancel_cnt > 0 || $sales_review.return_cnt > 0}>
									<span style="clear: both; color: #343a40; font-size:6pt;">
										<{if $sales_review.cancel_cnt > 0 || $sales_review.return_cnt > 0}>(<{/if}>-<{$sales_review.cancel_cnt+$sales_review.return_cnt|number_format:0}><{if $sales_review.cancel_cnt > 0 || $sales_review.return_cnt > 0}>)<{/if}>
									</span>
								<{/if}>
							</span>
						</td>
						<td class="per_td"> <!-- 정산 미확인 주문 비중 -->
							<span style="float: right;"><{$sales_review.not_settle_per|number_format:1}>%</span>
						</td>
						<td class="ord_td"> <!-- 와플 발송 결제 금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.ord_price|number_format:0}></span>
						</td>
						<td class="vat_td"> <!-- 부가세 확인 과세매출 금액 -->
							<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sch_review_s_date}>&sch_order_e_date=<{$sch_review_e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_c_no=<{$sch_c_no}>&sch_is_vat=1" target="_blank" style="float: right;margin-left: 3px;">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.vat_price|number_format:0}></span>
						</td>
						<td class="vat_td font-red"> <!--  부가세 미확인 와플 발송 결제금액 -->
							<a href="/v1/work_cms_sales_vat_settle_commerce.php?sch_order_s_date=<{$sch_review_s_date}>&sch_order_e_date=<{$sch_review_e_date}>&sch_dp_c_no=<{$dp_c_no}>&sch_c_no=<{$sch_c_no}>&sch_is_vat=2" target="_blank" style="float: right;margin-left: 3px;">
								<img src="./images/icon/new_win_icon.png">
							</a>
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.not_vat_price|number_format:0}></span>
						</td>
						<td class="per_td"> <!-- 부가세 미확인 금액 비중 -->
							<span style="float: right;"><{$sales_review.not_vat_per|number_format:1}>%</span>
						</td>
						<td class="settle_td"> <!-- 정산 확인 정산 금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.settle_price|number_format:0}></span>
						</td>
						<td class="settle_td font-red"> <!-- 정산 미확인 와플 발송 결제금액 -->
							<span style="float: left;">￦</span><span style="float: right;"><{$sales_review.not_settle_price|number_format:0}></span>
						</td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td class="first text-center" colspan="14">데이터가 없습니다</td>
				</tr>
			<{/if}>
		</tbody>
	</table>

	<div style="margin-top: 30px; min-height: 500px;">
		<div class="iframe_loading_msg" style="width: 400px;">
			<img src="images/loading.gif" style="display: table; margin: 50px auto 30px;">
			<b style="font-size: 18px; display: table; margin: 0 auto;">
				판매처별 상세 검토 로딩중입니다
			</b>
		</div>

		<iframe src='work_cms_sales_vat_settle_review_iframe.php?sch_review_e_month=<{$sch_review_month}>' width='1800' height='500' frameborder='0' id='sales_vat_review_iframe' onload='fixIframeHeight(this)'></iframe>
	</div>
</div>

<script type="text/javascript">

	$("#sales_vat_review_iframe").load(function(){
		$(".iframe_loading_msg").hide();
	});

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+50)+'px'
	}

</script>

</body>
</html>
