<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="js/echarts.0818.min.js"></script>
<script src="js/shine.js"></script>

<style type="text/css">
	body{min-height: 500px;}
	.admin_content{width: 1580px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}

	.cms-chart-wrapper{margin-top: 30px;}
	#cms-best-chart{margin: 10px auto; width: 1560px; height: 600px;}

	.sch_in_date_type{font-size: 12px;float: left;cursor: pointer;margin-top: 11px;margin-right: 3px;}
	.sch_in_date_type_label{font-size: 12px; float: left; cursor: pointer; margin-right: 7px;}
	.cms-table-wrapper{width: 1560px; margin: 10px auto; overflow-x: scroll;}
	.cms-table-wrapper .table{width: auto;}
	.cms-table-wrapper .table th{font-size: 12px;}
	.cms-table-wrapper .table td{font-size: 12px;}
</style>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="work_cms_stats_product_best_iframe.php" autocomplete="off" style="margin-top: 5px;">
		<input type="hidden" name="sch_order_type" value="<{$sch_order_type}>">
		<input type="hidden" name="sch_brand_g1" value="<{$sch_brand_g1}>">
		<input type="hidden" name="sch_brand_g2" value="<{$sch_brand_g2}>">
		<input type="hidden" name="sch_brand" value="<{$sch_brand}>">

		<input type="hidden" name="sch_order_s_date" value="<{$sch_order_s_date}>">
		<input type="hidden" name="sch_order_e_date" value="<{$sch_order_e_date}>">
		<input type="hidden" name="sch_price_type" value="<{$sch_price_type}>">
		<input type="hidden" name="sch_dp_company" value="<{$sch_dp_company}>">

		<div class="default_wrap" style="padding-left: 10px; line-height: 35px;">
			<{foreach from=$date_type_option key=key item=label}>
				<input type="radio" name="sch_in_date_type" id="sch_in_date_type_<{$key}>" class="sch_in_date_type" value="<{$key}>" <{if $key == $sch_in_date_type}>checked<{/if}>>
				<label for="sch_in_date_type_<{$key}>" class="sch_in_date_type_label"><{$label}></label>
			<{/foreach}>
			<button type="button" class="btn" style="padding: 5px 15px; font-size: 12px; font-weight: bold; float: left; background: #999; color: white;" onclick="searchChildFunction()">보기</button>
		</div>

		<div class="child_iframe_loading_msg" style="width: 400px; display: none;">
			<img src="images/loading.gif" style="display: table; margin: 50px auto 30px;">
			<b style="font-size: 18px; display: table; margin: 0 auto;">
				기간별 상품 BEST(통계) 로딩중입니다.
			</b>
		</div>

		<div class="cms-chart-wrapper">
			<div id="cms-best-chart"></div>

			<div class="cms-table-wrapper">
				<table id="cms-best-table" class="table table-bordered">
					<thead class="thead-dark text-center">
					<tr>
						<th style="width: 240px; min-width: 240px;"></th>
						<{foreach from=$cms_date_name_list item=date_label}>
						<th class="date-th" style="width: 100px; min-width: 100px;"><{$date_label}></th>
						<{/foreach}>
						<th style="width: 100px; min-width: 100px;">합계</th>
					</tr>
					</thead>
					<tbody>
						<{if $cms_best_table_list}>
							<{foreach from=$cms_best_table_list key=prd_no item=prd_data}>
								<{assign var=row_total value=0}>
								<tr>
									<td class="first text-left" style="background: #343a40; color: white;"><{$cms_best_table_name_list[$prd_no]}></td>
									<{foreach from=$prd_data key=date_key item=date_data}>
										<td class="<{if $sch_order_type == 'quantity'}>text-center<{else}>text-right<{/if}>"><{$date_data|number_format}></td>
										<{assign var=row_total value=$row_total+$date_data}>
									<{/foreach}>
									<td class="<{if $sch_order_type == 'quantity'}>text-center<{else}>text-right<{/if}>" style="background: #FFD9FF;"><{$row_total|number_format:0}></td>
								</tr>
							<{/foreach}>
							<tr>
								<td colspan="<{$cms_date_table_cnt}>" style="text-align: center; background: #CCC;">이하 생략</td>
							</tr>
						<{else}>
							<tr>
								<td class="first text-center" colspan="<{$cms_date_table_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
				<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('cms-best-table');" />
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">

	var cmsBestChart = echarts.init(document.getElementById('cms-best-chart'),null, {renderer : 'canvas'});
	drawChart();

	function drawChart()
	{
		var fullData 	= <{$cms_best_chart_list}>;
		var xTitleData 	= <{$cms_date_chart_name_list}>;
		var yTitleData 	= <{$cms_best_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 		= [];
			var xNameData 		= [];
			var legendNameData 	= [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					itemStyle: {
						color: item['color'],
					}
				});
			});

			$.each(xTitleData, function(idx, item){
				xNameData.push(item);
			});

			$.each(yTitleData, function(idx, item){
				legendNameData.push(item);
			});

			cmsBestChart.setOption({
				grid: {
					left: '1%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				tooltip: {
					trigger: 'axis'
				},
				legend:{
					data: legendNameData,
					top : '3%'
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: xNameData
				},
				yAxis:
				{
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: pushData
			});
		}
	}

	function searchChildFunction()
	{
		$(".cms-chart-wrapper").hide();
		$(".child_iframe_loading_msg").show();
		document.search_form.submit();
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}
</script>
</body>
</html>
