<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}
	.table tbody td{vertical-align: middle; text-align: center; font-weight: bold; margin: 0; height: 25px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 5px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" id="search_form" class="form-inline" action="work_cms_stats_sales_daily_etc.php" method="get" style="display: block; margin-top: 5px;" autocomplete="off">
		<div class="default_wrap" style="clear: both; margin-top: 10px;">
			<div class="form-group">
				<label for="sch_ord_s_date">주문일</label>
				<input type="text" name="sch_ord_s_date" id="sch_ord_s_date" class="date-picker form-control" value="<{$sch_ord_s_date}>" style="margin-right: 5px;" />
				~
				<input type="text" name="sch_ord_e_date" id="sch_ord_e_date" class="date-picker form-control" value="<{$sch_ord_e_date}>" style="margin-left: 5px;" />
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_brand_g1" style="margin-left: 0;">브랜드</label>
				<select name="sch_brand_g1" id="sch_brand_g1" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g1_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand_g2" id="sch_brand_g2" class="form-control" style="min-width: 100px; margin-right: 5px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_g2_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span class="tlt"> > </span>
				<select name="sch_brand" id="sch_brand" class="form-control" style="min-width: 100px;">
					<option value="">::전체::</option>
					<{foreach from=$sch_brand_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_dp_company">판매처</label>
				<select name="sch_dp_company" id="sch_dp_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$sch_dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered" id="daily-sales-table" style="table-layout: fixed; width: auto; margin-top: 20px;">
		<colgroup>
			<col width="100px;"> <!-- 구분 -->
			<col width="120px;"> <!-- 기간Total -->
			<{if $daily_date_list}>
				<{foreach from=$daily_date_list key=date_key item=date_label}>
					<col width="120px;"> <!-- 날짜 -->
				<{/foreach}>
			<{/if}>
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">구분</th>
				<th scope="col">기간Total</th>
				<{if $daily_date_list}>
					<{foreach from=$daily_date_list key=date_key item=date_label}>
						<th scope="col"><{$date_label}></th>
					<{/foreach}>
				<{/if}>
			</tr>
		</thead>
		<tbody>
			<{if $daily_sales_list}>
				<tr>
					<td class="first">Total</td>
					<td class="text-right"><{$daily_sales_total_price|number_format:0}></td>
					<{foreach from=$daily_date_list key=date_key item=date_label}>
						<{assign var=date_per value=round(($daily_date_total_list[$date_key]-$daily_date_total_list["min"])/($daily_date_total_list["max"]-$daily_date_total_list["min"]),2)}>
						<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[$date_key]|number_format:0}></td>
					<{/foreach}>
				</tr>
				<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
					<tr>
						<td class="first">
							<{$hour_label}><br/>
							<{assign var=hour_per value=round($daily_hour_total_list[$hour_key]/$daily_hour_total_list["max"],2)}>
						</td>
						<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[$hour_key]|number_format:0}></td>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<{assign var=daily_per value=round($daily_sales_list[$date_key][$hour_key]/$daily_sales_list[$date_key]["max"],2)}>
							<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[$date_key][$hour_key]|number_format:0}></td>
						<{/foreach}>
					</tr>
				<{/foreach}>
			<{else}>
			<{/if}>
		</tbody>
	</table>
	<input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('daily-sales-table');" />
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});
</script>

</body>
</html>
