<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.search_form label{margin: 0 10px 0 0;}
	.admin_content h2.title{margin-bottom: 10px;}
	.form-inline .form-control{font-size: 12px; margin-right: 15px;}
	.table_list_style table{width: 1200px; margin-top: 40px;table-layout: fixed;}
	.table_list_style table thead th{vertical-align: middle; height: 50px;}
	.table_list_style table tbody td{height: 30px;vertical-align: middle;}
</style>

<div class="admin_content" >
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form method="get" name="search_form" action="work_certificate_list.php" class="search_form form-inline" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="form-group" style="margin-top: 5px;">
			<label for="sch_wc_no">no</label>
			<input type="text" id="sch_wc_no" class="form-control" name="sch_wc_no" value="<{$sch_wc_no}>" style="width: 60px;" />

			<label for="sch_work_state">진행상태</label>
			<select id="sch_work_state" name="sch_work_state" class="form-control sch_result_type">
				<option value="">::전체::</option>
				<{foreach from=$work_state_option key=key item=label}>
				<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $sch_work_state==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_doc_no">문서번호</label>
			<input type="text" id="sch_doc_no" class="form-control" name="sch_doc_no" value="<{$sch_doc_no}>" />

			<label for="sch_req_name">성명</label>
			<input type="text" id="sch_req_name" class="form-control" name="sch_req_name" value="<{$sch_req_name}>" style="width: 100px;" />

			<label for="sch_doc_type">증명서종류</label>
			<select id="sch_doc_type" name="sch_doc_type" class="form-control sch_result_type">
				<option value="">::전체::</option>
				<{foreach from=$doc_type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_doc_type==$key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_purpose">용도</label>
			<input type="text" id="sch_purpose" class="form-control" name="sch_purpose" value="<{$sch_purpose}>" />

			<label>업무처리자</label>
			<select id="sch_run_s_no" name="sch_run_s_no" class="form-control" style="margin-left:5px">
				<option value="">::전체::</option>
				<{foreach from=$cert_run_staff_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_run_s_no== $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
	</form>

	<div class="table_list_style">
		<table class="table table-striped table-bordered">
			<colgroup>
				<col width="60px;">
				<col width="120px;">
				<col width="120px;">
				<col width="80px;">
				<col width="80px;">
				<col width="200px;">
				<col width="200px;">
				<col width="80px;">
				<col width="80px;">
				<col width="80px;">
				<col width="140px;">
				<col width="140px;">
			</colgroup>
			<thead>
				<tr>
					<td colspan="12">
						<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
							<{foreach from=$page_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
							<{/foreach}>
						</select>
					</td>
				</tr>
			</thead>
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col" rowspan="2">no</th>
					<th scope="col" rowspan="2">진행상태</th>
					<th scope="col" rowspan="2">문서번호</th>
					<th scope="col" rowspan="2">성명</th>
					<th scope="col" rowspan="2">증명서종류</th>
					<th scope="col" rowspan="2">용도</th>
					<th scope="col" rowspan="2">업무처리자</th>
					<th scope="col" rowspan="2">발행<br/>(업무완료일)</th>
					<th scope="col" rowspan="2">인쇄</th>
					<th scope="col" rowspan="2">w_no</th>
					<th scope="col" rowspan="2">업무진행</th>
					<th scope="col" rowspan="2">관리자 메모<br/>(업무관리자 전용)</th>
				</tr>
			</thead>
			<tbody>
				<{if $certificate_list}>
					<{foreach from=$certificate_list item=certificate}>
					<tr>
						<td class="first"> <!-- wc_no -->
							<{$certificate.wc_no}>
						</td>
						<td> <!-- 진행상태 -->
							<select name="f_work_state" class="form-control" style="font-size: 12px; width: 110px;" onchange="save_el('<{$certificate.wc_no}>', '<{$certificate.w_no}>', 'f_work_state', this)">
								<option value="">::선택::</option>
								<{foreach from=$work_state_option key=key item=label}>
									<option value="<{$key}>" style="color: <{$work_state_color_option[$key]}>;" <{if $certificate.work_state == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 문서번호 -->
							<{$certificate.doc_no}>
						</td>
						<td> <!-- 성명 -->
							<{$certificate.req_name}>
						</td>
						<td> <!-- 증명서종류 -->
							<{$certificate.doc_type_name}>
						</td>
						<td class="text-left"> <!-- 용도 -->
							<{$certificate.purpose}>
						</td>
						<td> <!-- 업무처리자 -->
							<select name="f_run_s_no" class="form-control" style="font-size: 12px; width: 190px;" onchange="save_el('<{$certificate.wc_no}>', '<{$certificate.w_no}>', 'f_run_s_no', this)">
								<option value="">::미선택::</option>
								<{foreach from=$cert_run_staff_option key=key item=label}>
								<option value="<{$key}>" <{if $certificate.run_s_no == $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						</td>
						<td> <!-- 발행 -->
							<{if $certificate.run_date && $certificate.work_state == '6'}>
								<{$certificate.run_date}>
							<{else}>
								<button class="btn btn-dark" style="font-size: 12px; padding: 5px 10px; font-weight: bold;" onclick="moveCertificateView('<{$certificate.wc_no}>')">발행</button>
							<{/if}>
						</td>
						<td> <!-- 인쇄 -->
							<{if $certificate.work_state == '6' && $certificate.run_date}>
								<button class="btn btn-dark" style="font-size: 12px; padding: 5px 10px; font-weight: bold;" onclick="printCertificateView('<{$certificate.wc_no}>')">인쇄</button>
							<{/if}>
						</td>
						<td> <!-- w_no -->
							<{if $certificate.w_no}>
								<{$certificate.w_no}>
								<a href="work_list.php?sch_w_no=<{$certificate.w_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
								<br/>
							<{/if}>
						</td>
						<td> <!-- 업무진행 -->
							<textarea name="f_task_run" onchange="save_el('<{$certificate.wc_no}>', '<{$certificate.w_no}>', 'f_task_run', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')" class="textarea_work_message" style="width: 120px; height: 60px;"><{$certificate.task_run}></textarea>
						</td>
						<td> <!-- 관리자메모 -->
							<textarea name="f_manager_memo" onchange="save_el('<{$certificate.wc_no}>', '<{$certificate.w_no}>', 'f_manager_memo', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')" class="textarea_work_message" style="width: 120px; height: 60px;"><{$certificate.manager_memo}></textarea>
						</td>
					</tr>
					<{/foreach}>
					<tr>
						<td colspan="12" class="paging_wrap">
							<div class="paging_wrap">
								<{$pagelist}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="12" class="first">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
		<div>
			<button type="button" onclick="location.href='work_certificate_view.php'" class="btn btn-dark font-weight-bold" style="float: left; font-size: 13px; line-height: 25px; padding: 5px 20px;"><span>WRITE</span></button>
			<span style="line-height: 65px; font-size: 12px; color: #999;">※ 직접 추가 시 work_list와 업무통계는 반영되지 않습니다.</span>
		</div>
	</div>
</div>

<script type="text/javascript">
	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function text_area_click(f, width){
		f.style.width = width;
		f.style.backgroundColor="yellow";
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}

	function text_area_click_out(f, width){
		f.style.width = width;
		f.style.backgroundColor="";
		f.style.height = "60px"; // 수동설정
	}

	function save_el(wc_no, w_no, proc, obj)
	{
		var val = obj.value;
		var default_val = obj.defaultValue;

		var x = $(obj).position();
		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

		if (default_val && val == default_val)
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if (val != "" || (proc == 'f_task_run' || proc == 'f_manager_memo')) {
			$.post("work_certificate_list.php", {wc_no: wc_no, w_no : w_no, process : proc, val : val}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	function moveCertificateView(wc_no)
	{
		location.href = 'work_certificate_view.php?wc_no='+wc_no;
	}

	function printCertificateView(wc_no)
	{
		window.open('work_certificate_print.php?wc_no='+wc_no);
	}
</script>

</body>
</html>
