<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.table-striped tbody tr:nth-of-type(odd){background: white;}
	.admin_content table tbody select{font-size: 12px; padding: 5px;}
	.admin_content table tbody textarea{padding: 5px; font-size: 12px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
		<button type="button" class="btn btn-dark" style="font-size: 12px; margin-left: 15px;" onclick="location.href='work_list_cs.php';">커머스 CS 리스트</button>
	</h2>

	<form  name="search_form" class="form-inline" action="work_cms_direct_list.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />
		<div class="default_wrap" style="margin-top: 10px; overflow: unset;">
			<div class="form-group">
				<label for="sch_w_no" style="margin-left: 0;">no</label>
				<input type="text" name="sch_w_no" id="sch_w_no" class="form-control" value="<{$sch_w_no}>" style=" width: 80px;">

				<label for="sch_log_company">물류업체</label>
				<select name="sch_log_company" id="sch_log_company" class="form-control">
					<option value="">::전체::</option>
					<{foreach from=$log_company_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_log_company == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_delivery_date">배송일</label>
				<input type="text" name="sch_delivery_date" id="sch_delivery_date" class="form-control date-picker" value="<{$sch_delivery_date}>">

				<label for="sch_direct_type">구분</label>
				<input type="text" name="sch_direct_type" id="sch_direct_type" class="form-control" value="<{$sch_direct_type}>" style="width: 100px;">

				<label for="sch_delivery_type">택배사</label>
				<input type="text" name="sch_delivery_type" id="sch_delivery_type" class="form-control" value="<{$sch_delivery_type}>" style="width: 100px;">

				<label for="sch_delivery_no">운송장</label>
				<input type="text" name="sch_delivery_no" id="sch_delivery_no" class="form-control" value="<{$sch_delivery_no}>" style="width: 140px;">
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label for="sch_recipient" style="margin-left: 0;">수령자</label>
				<input type="text" name="sch_recipient" id="sch_recipient" class="form-control" value="<{$sch_recipient}>" style="width: 100px;">

				<label for="sch_recipient_hp">수령자 전화번호</label>
				<input type="text" name="sch_recipient_hp" id="sch_recipient_hp" class="form-control" value="<{$sch_recipient_hp}>" style="width: 120px;">

				<label for="sch_recipient_addr">수령지</label>
				<input type="text" name="sch_recipient_addr" id="sch_recipient_addr" class="form-control" value="<{$sch_recipient_addr}>" style="width: 200px; ">

				<label for="sch_file_no">File no</label>
				<input type="text" name="sch_file_no" id="sch_file_no" class="form-control" value="<{$sch_file_no}>" style="width: 80px; margin-right: 10px;">

				<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size: 12px; margin-top: 0;">검색</button>
			</div>
		</div>
	</form>

	<table class="table table-striped table-bordered" style="margin-top: 30px; table-layout: fixed; width: auto;">
		<colgroup>
			<col width="60px;"> <!-- w_no -->
			<col width="100px;"> <!-- 물류업체 -->
			<col width="100px;"> <!-- FILE NO -->
			<col width="100px;"> <!-- 배송일 -->
			<col width="80px;"> <!-- 구분 -->
			<col width="120px;"> <!-- 택배사 -->
			<col width="120px;"> <!-- 운송장 -->
			<col width="350px;"> <!-- 엑셀상품명 -->
			<col width="80px;"> <!-- 수량 -->
			<col width="120px;"> <!-- 수령자 -->
			<col width="160px;"> <!-- 수령자 번호 -->
			<col width="300px;"> <!-- 수령지 -->
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="12" style="padding: 5px; text-align: left;">
					<span style="display: inline-block;margin-top: 10px;"><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right; margin-left: 20px;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
							<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col">no</th>
				<th scope="col">물류업체</th>
				<th scope="col">File no</th>
				<th scope="col">배송일</th>
				<th scope="col">구분</th>
				<th scope="col">택배사</th>
				<th scope="col">운송장</th>
				<th scope="col">엑셀상품명</th>
				<th scope="col">총내품수량</th>
				<th scope="col">수령자</th>
				<th scope="col">수령자전화</th>
				<th scope="col">수령지</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0}>
				<{foreach from=$work_cms_direct_list item=work_cms_direct}>
					<tr>
						<td class="text-center"><{$work_cms_direct.w_no}></td>
						<td class="text-center"><{$work_cms_direct.log_c_name}></td>
						<td class="text-center">
							<{if $work_cms_direct.file_no}>
								<{$work_cms_direct.file_no}>
								<a href="uploads/<{$work_cms_direct.file_path}>" download="<{$work_cms_direct.file_name}>">
									<img src="./images/common/ico/ico_file.gif">
								</a>
							<{/if}>
						</td>
						<td class="text-center"><{$work_cms_direct.delivery_date}></td>
						<td class="text-center"><{$work_cms_direct.direct_type}></td>
						<td class="text-left"><{$work_cms_direct.delivery_type}></td>
						<td class="text-left"><{$work_cms_direct.delivery_no}></td>
						<td class="text-left"><{$work_cms_direct.prd_info_conv}></td>
						<td class="text-center"><{$work_cms_direct.quantity|number_format:0}></td>
						<td class="text-center"><{$work_cms_direct.recipient}></td>
						<td class="text-left"><{$work_cms_direct.recipient_hp}></td>
						<td class="text-left"><{$work_cms_direct.recipient_addr}></td>
					</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="12" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="12" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->

<script type="text/javascript">
	function normal_search() {
		var ord_page   = $("#ord_page_type").val();
		$("#ord_page_type_hidden").val(ord_page);
		searchList();
	}
</script>

</body>
</html>
