<{include file="inc/iframe_navibar.html"}>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<style type="text/css">
	.modal{top: unset;left: unset;height: unset;overflow: unset; max-width: 700px;}
	.modal-content{border: 0;}
	.modal-content > div{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
</style>

<div class="admin_content" style="margin-top: 10px;">

	<h2 class="title" style="margin-top: 15px;">●택배 리스트 자동정리</h2>
	<div class="add-temporary-wrap">
		<form name="add_temporary_list_frm" id="add_temporary_list_frm" method="post" action="work_cms_temporary_insert.php" enctype="multipart/form-data" style="margin: 5px 0;">
			<div style="width: 1040px;">
				<strong>[주문내역 추가]</strong>
				<span class="name_tit" style="width: 60px; display: inline-block;">판매채널</span>
				<select name="choice_c_name" id="choice_c_name" class="select_type2" style="width:100px;">
					<option value="">선택</option>
					<{foreach from=$choice_company_option key=key item=label}>
					<option value="<{$key}>"><{$label}></option>
					<{/foreach}>
				</select>
				<input type="file" name="temporary_file" id="temporary_file" style="width:300px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
				<input type="hidden" name="search_url" value="<{$search_url}>"/>
				<button type="button" onclick="return addTemporaryList();" class="btn_file" style="padding: 4px 21px; background: #565656; font-weight: bold;">추가하기</button>
				<a href="/v1/uploads/document/media_commerce/waple_base_sample.xlsx" style="text-decoration: none;" download="waple_base_sample.xlsx">[택배리스트 업로드 기본양식 Sample Download]</a>
			</div>
		</form>
	</div>

	<div>
		<form method="post" name="temporary_process_frm" action="work_cms_temporary.php">
			<input type="hidden" name="process" value=""/>
			<input type="hidden" name="search_url" value="<{$search_url}>"/>
			<button onclick="return temporaryProcessForm('all_delete');" class="btn_style1" style="padding: 10px 25px;"><span>전체 삭제하기</span></button>
		</form>
	</div>

	<form name="search_form" id="search_form" action="work_cms_temporary.php" method="get" autocomplete="off">
		<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
			<div class="left_wrap">
				<div id="sch_detail_display" style="display: block; background: rgb(213, 213, 213); padding: 15px;">
					<div>
						<span class="name_tit">주문번호</span>
						<input type="text" name="sch_order_number" class="input_type2" value="<{$sch_order_number}>" style="background-color: #ffffcc; width:140px;" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">수령자명</span>
						<input type="text" name="sch_recipient" class="input_type2" value="<{$sch_recipient}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">수령자전화</span>
						<input type="text" name="sch_recipient_hp" class="input_type2" value="<{$sch_recipient_hp}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업체명/브랜드명</span>
						<input type="text" name="sch_c_name" class="input_type5" value="<{$sch_c_name}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업체담당자</span>
						<input type="text" name="sch_s_name" class="input_type2" value="<{$sch_s_name}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">상품명</span>
						<input type="text" name="sch_prd_name" class="input_type5" value="<{$sch_prd_name}>" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">구매처</span>
						<select name="sch_dp_c_no" class="select_type2" style="width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$dp_company_option key=key item=label}>
								<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="first" style="min-width:60px; width:60px;">t_no<br>작성일</th>
					<th style="min-width: 60px; width: 60px;" >주문일시</th>
					<th style="min-width: 120px; width: 120px;" >주문번호<br/>수령자명<br/>수령자전화</th>
					<th style="min-width: 180px; width:180px;">[우편번호]<br/>수령지</th>
					<th style="min-width:80px; width:80px;">배송메모</th>
					<th style="min-width: 60px; width: 60px;" >발송처리일</th>
					<th style="min-width:90px; width:90px;">택배사<br/>운송자번호</th>
					<th style="min-width:100px; width:100px;">업체명/브랜드명</th>
					<th style="min-width:100px; width:100px;">물류업체(발송지)</th>
					<th style="min-width:60px; width:60px;">업체담당자</th>
					<th style="min-width:200px; width:200px;">커머스 상품명</th>
					<th style="min-width:60px; width:60px;">업무요청자</th>
					<th style="min-width:40px; width:40px;">수량</th>
					<th style="min-width:120px; width:120px;">특이사항</th>
					<th style="min-width:200px; width:200px;">주문요약정보</th>
					<th style="min-width:60px; width:60px;">주문처리자</th>
					<th style="min-width:90px; width:90px;">결제금액</th>
					<th style="min-width:60px; width:60px;">결제일시</th>
					<th style="min-width:80px; width:80px;">구매처</th>
					<{if permissionNameCheck($session_permission,"서비스운영") && $session_staff_state != '2' }>
						<th style="min-width:120px; width:120px;">관리자 메모<br>(서비스운영 전용)</th>
					<{/if}>
				</tr>
			</thead>
			<tbody>
				<{if $temporary_list}>
					<{foreach from=$temporary_list item=temporary}>
						<form name="apply_frm<{$temporary.t_no}>" id="apply_frm<{$temporary.t_no}>" class="apply_frm" action="work_cms_temporary.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
							<input type="hidden" name="t_no" value="<{$temporary.t_no}>">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<input type="hidden" name="process">

							<tr <{if $smarty.section.list.index%2 == '1'}>style="background-color:#ebebeb;"<{/if}>>
								<td class="first date"> <!-- w_no / 작성일-->
									<{$temporary.t_no}>
									<span style="display: block; text-align: center; font-size:9px;"><{$temporary.reg_date}></span>
									<span style="display: block; text-align: center; font-size:9px;"><{$temporary.reg_time}></span>
									<a href="#" onclick="save_el('<{$temporary.t_no}>', 'del_temporary', this);"><span style="font-size:6px;">[삭제]</span></a>
								</td>
								<td> <!-- 주문일시 -->
									<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$temporary.ord_date}></span>
									<span style="color:green; display: block; text-align: center; font-size:9px;"><{$temporary.ord_time}></span>
								</td>
								<td> <!-- 주문번호/수령자명/수령자전화 -->
									<span style="text-align:left; display: block;"><{$temporary.order_number}></span>
									<span style="text-align:left; display: block;"><{$temporary.recipient}></span>
									<span style="text-align:left; display: block;"><{$temporary.recipient_sc_hp}></span>
								</td>
								<td> <!-- 우편번호/수령지 -->
									<span style="text-align:left; display: block; font-size:11px;"><{$temporary.postcode}></span>
									<span style="text-align:left; display: block; overflow: hidden; word-break: break-all; font-size:11px;"><{$temporary.recipient_addr}></span>
								</td>
								<td> <!-- 배송메모 -->
									<textarea class="textarea_work_message_readonly" style="width: 80px; height: 60px;" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '80px')" readonly><{$temporary.delivery_memo}></textarea>
								</td>
								<td> <!-- 발송처리일 -->
									<{$temporary.stock_date}>
								</td>
								<td> <!-- 택배사/운송장번호 -->
									<span style="text-align:center; display: block;"></span>
									<span style="text-align:center; display: block;"></span>
								</td>
								<td> <!-- 업체명/브랜드명 -->
									<{$temporary.c_name}>
								</td>
								<td> <!-- 물류업체(발송지) -->
									<{$temporary.log_c_name}>
								</td>
								<td> <!-- 업체담당자 -->
									<{$temporary.s_name}>
								</td>
								<td> <!-- 커머스 상품명 -->
									<span style="text-align:left; display: block; font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$temporary.k_prd1_name}> > <{$temporary.k_prd2_name}> ></span>
									<span style="text-align:left; display: block;"><{$temporary.prd_name}></span>
								</td>
								<td> <!-- 업무요청자 -->
									<{$temporary.task_req_s_name}>
								</td>
								<td> <!-- 수량 -->
									<{$temporary.quantity}>
								</td>
								<td> <!-- 특이사항 -->
									<textarea name="notice" class="textarea_work_message" style="width: 120px; height: 60px;" onchange="save_el('<{$temporary.t_no}>', 'notice', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')"><{$temporary.notice}></textarea>
								</td>
								<td> <!-- 주문요약정보 -->
									<textarea name="task_req" class="textarea_work_message_readonly" style="width: 200px; height: 60px;" onfocus="text_area_click(this, '300px')" onfocusout="text_area_click_out(this, '200px')" readonly><{$temporary.task_req}></textarea>
								</td>
								<td> <!-- 주문처리자 -->
									<{$temporary.task_run_s_name}>
								</td>
								<td style="color: red; font-weight: bold; text-align:right; font-size: 14px;"> <!-- 결제금액 -->
									￦<{$temporary.dp_price_vat}>
								</td>
								<td> <!-- 결제일시 -->
									<span style="color:blue; display: block; text-align: center; font-size:9px;"><{$temporary.pay_date}></span>
									<span style="color:green; display: block; text-align: center; font-size:9px;"><{$temporary.pay_time}></span>
								</td>
								<td> <!-- 구매처 -->
									<{$temporary.dp_c_name}>
								</td>
								<{if permissionNameCheck($session_permission,"마스터관리자")}>
									<td> <!-- 관리자 메모 -->
										<textarea name="memo" class="textarea_work_message" style="width: 120px; height: 60px;" onchange="save_el('<{$temporary.t_no}>', 'memo', this)" onfocus="text_area_click(this, '200px')" onfocusout="text_area_click_out(this, '120px')"><{$temporary.manager_memo}></textarea>
									</td>
								<{/if}>
							</tr>
						</form>
					<{/foreach}>
					<tr>
						<td colspan="<{if permissionNameCheck($session_permission, '마스터관리자')}>20<{else}>19<{/if}>" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				<{else}>
					<tr>
						<td colspan="19">데이터가 없습니다.</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>

	<button onclick="location.href='excel_work_cms_temporary.php?<{$search_url}>';" class="btn_style1"><span>엑셀 다운로드</span></button>
	<button onclick="location.href='excel_work_cms_temporary_with.php';" class="btn_style1"><span>위드플레이스 양식<br>엑셀 다운로드(전체)</span></button>
</div>

<div class="modal" id="event-modal1">
	<div class="modal-content">
		<div>
			<{if $is_stop_unit}>
				<div style="color: red; font-weight: bold; font-size: 14px;">
					※경고 : 입/출고 정지 구성품목이 포함되어 있습니다.
				</div>
				<div>
					<{foreach from=$temp_stop_ord_list item=temp_stop_ord}>
						<{if $temp_stop_ord['cnt'] > 0}>
							<div style="margin: 10px 0;">
								<{$temp_stop_ord['option_name']}> [<{$temp_stop_ord['stop_msg']}>] 주문번호 : <{$temp_stop_ord['order_number']}> <{if $temp_stop_ord['cnt'] > 3}>(이하생략)<{/if}>
							</div>
						<{/if}>
					<{/foreach}>
				</div>
			<{/if}>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
		<{if $is_stop_unit}>openEventModal(1);<{/if}>
    });

    function openEventModal(num)
	{
        $("#event-modal"+num).modal({
            fadeDuration: 250
        });
	}

    // text_area 클릭 시 사이즈 확장
    function text_area_click(f, width){
        f.style.width = width;
        f.style.backgroundColor="yellow";
        f.style.height = (f.scrollHeight)+"px"; // 자동설정
    }

    // text_area 클릭아웃 시 사이즈 복원
    function text_area_click_out(f, width){
        f.style.width = width;
        f.style.backgroundColor="";
        f.style.height = "60px"; // 수동설정
    }

    function save_el(t_no, proc, obj)
	{
        if(proc == "del_temporary"){
            if (confirm("정말 삭제 하시겠습니까??") != true){ //취소
                return;
            }
        }

        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || (proc == 'memo' || proc == 'notice')) { // 메모
            $.post("work_cms_temporary.php", {t_no : t_no, process : proc, search_url : '<{$search_url}>', val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

    // 커머스 첨부파일 리스트에 반영하기
    function addTemporaryList()
    {
        var f = document.forms['add_temporary_list_frm'];

        if(!$('#choice_c_name').val()){
            alert("판매채널을 선택해주세요");
            return;
        }

        if(!$('#temporary_file').val()){
            alert("파일을 첨부해주세요");
            return;
        }

        if (confirm("첨부파일을 택배 리스트에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

    // 커머스 첨부파일 리스트에 반영하기
    function temporaryProcessForm(proc)
    {
        var f   = document.forms['temporary_process_frm'];
        var msg = "적용 시키겠습니까?";

        f.process.value = proc;

        if(proc == 'all_delete'){
            msg = "정말 삭제하나요?";
		}

        if (confirm(msg) == true) { // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }
</script>

</body>
</html>
