<{include file="inc/top_popup.html"}>
	<div style="min-width:590px; max-width:590px; margin: 30px 0 0 10px; padding-bottom: 30px;">
		<br>
		
		<div>
			<!-- 타이틀 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<{if !!$location1_name}><{$location1_name}><{/if}>
				<{if !!$location2_name}> > <{$location2_name}><{/if}>
				<br>
				<span style="font-size:28px; font-weight:bold; word-wrap:keep-all;">"<{$company}>" <{$channel_name}> <{$kind_name}> 캠페인 가이드</span>
				<div style="margin-bottom:8px;"></div>
				<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff; word-wrap:keep-all;
																	<{if $channel == '1'}>
																		background: #72af22;
																	<{elseif $channel == '2'}>
																		background: #af1485;
																	<{elseif $channel == '3'}>
																		background: #3b5997;
																	<{elseif $channel == '4'}>
																		background: #6b431c;
																	<{elseif $channel == '5'}>
																		background: #333333;
																	<{elseif $channel == '6'}>
																		background: #baba00;
																	<{/if}>"><{$channel_name}></span>
				&nbsp;&nbsp;<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff; word-wrap:keep-all;
																	<{if $kind == '1' || $kind == '4'}>
																		background: #f77b18;
																	<{elseif $kind == '2'}>
																		background: #5175fe;
																	<{elseif $kind == '3' || $kind == '5'}>
																		background: #63F;
																	<{/if}>"><{$kind_name}></span>
				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 캠페인 정보 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 캠페인 정보
				</div>
				<div style="margin-left:4px; line-height:1.8;">
					· <strong>카페 모집 공고 URL</strong> : <{if !!$cafe_url}><a href="<{$cafe_url}>" target="_blank"><{$cafe_url}></a><{else}><span style="margin-left:4px; color:#999;"><탑블로그 카페 모집 공고 URL 삽입></span><{/if}><br>
					· <strong>완료 보고 URL</strong> : <a href="https://work.wplanet.co.kr/v1/report.php?promotion_no=<{$p_no}>" target="_blank">https://work.wplanet.co.kr/v1/report.php?promotion_no=<{$p_no}></a><br>
					· <strong>캠페인 평가 URL</strong> : <a href="https://work.wplanet.co.kr/v1/evaluation.php?promotion_no=<{$p_no}>" target="_blank">https://work.wplanet.co.kr/v1/evaluation.php?promotion_no=<{$p_no}></a><br>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 업체 정보 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 업체 정보
				</div>
				<div style="margin-left:4px; line-height:1.8;">
					· <strong>업체명</strong> : <{$company}><br>
					<{if !!$address1}>
						· <strong>주소</strong> : <{$address1}> <{$address2}><br>
					<{/if}>
					<{if !!$tel && $tel != '없음--'}>
						· <strong>전화번호</strong> : <{$tel}><br>
					<{/if}>
					<{if !!$parking}>
						· <strong>주차</strong> : <{$parking}>
					<{/if}>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 캠페인 일정 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 캠페인 일정
				</div>
				<div style="margin-left:4px; line-height:1.8;">
					<{if $kind == '1'}>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>체험가능시간</strong> : <{$cons_exp_time}><br>
					· <strong>방문전 연락방법</strong> : <{$cons_contact}><span style="margin-left:4px; color:#999;">(예약이 아니므로 손님이 많을 경우 웨이팅 발생 가능)</span><br>
					· <strong>방문전 연락처</strong> : <{$cons_tel}><br>
					· <strong>연락가능시간</strong> : <{$cons_tel_perm}>
					<{elseif $kind == '2'}>
						<{if $channel == '5'}> <!-- 촬영기자단 -->
						· <strong>방문 및 사진전달 기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
						· <strong>방문가능시간</strong> : <{$cons_exp_time}><br>
						· <strong>방문전 연락방법</strong> : <{$cons_contact}><span style="margin-left:4px; color:#999;">(예약이 아니므로 손님이 많을 경우 웨이팅 발생 가능)</span><br>
						· <strong>방문전 연락처</strong> : <{$cons_tel}><br>
						· <strong>연락가능시간</strong> : <{$cons_tel_perm}><br>
						<{else}>
						· <strong>포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
						<{/if}>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}> * <{$pres_num}>회 포스팅<{/if}>
					<{elseif $kind == '3'}>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					<{elseif $kind == '4'}>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>체험가능시간</strong> : <{$cons_exp_time}><br>
					· <strong>방문전 연락방법</strong> : <{$cons_contact}><span style="margin-left:4px; color:#999;">(예약이 아니므로 손님이 많을 경우 웨이팅 발생 가능)</span><br>
					· <strong>방문전 연락처</strong> : <{$cons_tel}><br>
					· <strong>연락가능시간</strong> : <{$cons_tel_perm}><br>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}> * <{$pres_num}>회 포스팅<{/if}><br>
					· <strong>추가 보상 조건</strong> : <{$pres_reason}>
					<{elseif $kind == '5'}>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}> * <{$pres_num}>회 포스팅<{/if}><br>
					· <strong>추가 보상 조건</strong> : <{$pres_reason}>
					<{/if}>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 체험 상품 -->
			<{if $kind == '1' || $kind == '3' || $kind == '4' || $kind == '5' || $channel == '5'}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						<{if $channel == '5'}>
							● 촬영시 제공 상품
						<{else}>
							● 체험 상품
						<{/if}>
					</div>
					<div style="margin-left:4px; line-height:1.8;">
						<{$product}>
					</div>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 포스팅 목적 -->
			<{if $kind == '2'}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						<{if $channel == '5'}>
							● 촬영 목적
						<{else}>
							● 포스팅 목적
						<{/if}>
					</div>
					<div style="margin-left:4px;">· <{$pres_purpose}></div>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 키워드 가이드 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 키워드 가이드
				</div>

				<{if $channel == '5'}>
					<div style="margin-left:4px; line-height:1.8;"><span style="color:#999;"><해당사항 없음></span></div>
				<{else}>
					<div style="margin-left:4px; line-height:1.8;">
						<span style="color:#999;"><선정된 블로거></span><br>
						<span style="word-wrap:keep-all;"><{section name=list loop=$selected_list}><{$selected_list[list].nick}>&nbsp;,&nbsp;<{/section}></span>
						<br>
						<br>

						<{if $subject_option == '1'}>
							<span style="color:#999;"><업체명 제목 표기 필수></span> <{$subject_option_memo}><br>
						<{/if}>
						<br>

						<span style="color:#999;"><제목 키워드></span><br>
						<{$keyword_subject}>
					</div>

					<br>

					<div style="margin-left:4px; line-height:1.8; color:red;">
						※ 띄어쓰기 및 철자 등 정확하게 작성해 주세요. 지켜지지 않을 경우 수정요청이 있을 수 있습니다.
					</div>
				<{/if}>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 포스팅 가이드 (가이드 메일용)L -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					<{if $channel == '5'}>
						● 촬영 가이드
					<{else}>
						● 포스팅 가이드
					<{/if}>
				</div>
				<div style="margin-left:4px;"><{$pres_guide_email}></div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 참고 URL -->
			<{if !!$refer_url1 || !!$refer_url2}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						● 참고 URL
					</div>
					<{if !!$refer_url1}>
						<div style="margin-left:4px;">· <{$refer_url1}></div>
					<{/if}>
					<{if !!$refer_url2}>
						<div style="margin-left:4px;">· <{$refer_url2}></div>
					<{/if}>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 유의 사항 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 유의 사항
				</div>
				<div style="margin-left:4px; line-height:1.8; color:red;">
					· 포스팅 및 촬영사진 전달기간 엄수!(위반시 추후 패널티 적용)<br>
					· 게시물은 6개월 내에 임의 삭제 및 비공개 금지(삭제 및 비공개 시 재작성 혹은 전체공개로 수정 요청됩니다.)<br>
					· 현장에서 상품이 제공되는 경우 제공 상품외 추가 이용 시 현장 결제 필수!<br>
					· 인스타그램 및 페이스북 캠페인 외 휴대폰 촬영 불가!<br>
					· 블로그 포스팅 시 공정위 문구 표기 필수!<br>
					· 작성하신 컨텐츠는 해당 업체의 마케팅 자료로 활용 될 수 있습니다.<br>
					· 음식점 분야 캠페인에 대해서는 맛집 키워드가 제공 될 수 있습니다.<br>
					· 보상금이 있는 경우 소득세법에 의거해 소득세 3.3%를 제외하고 입금되며, 원전징수증빙을 위해 주민번호를 입력하게 됩니다.<br>
					&nbsp;&nbsp;※주민번호는 개인정보보호법에 의거해 암호화 보관되며, 원천징수증빙 후 삭제 처리 합니다.<br>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 유의 사항 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 체험 가능 지역 설문조사
				</div>
				<div style="margin-left:4px; line-height:1.8; color:red;">
					· <strong>설문조사 URL</strong> : <a href="http://naver.me/FX6jAzh4" target="_blank">http://naver.me/FX6jAzh4</a><br>
					&nbsp;&nbsp;※선택한 지역의 체험단 진행 시 쪽지로 알려드리기 위함이며, 최초 1회만 응답해주시면 됩니다.
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 추가 정보 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; text-align: center;">
				<img title="메일 및 고객센터 안내" src="./../images/tblog/guide_footer.png">
				<div style="margin-bottom:20px;"></div>
			</div>

		</div>

		<br>
	</div>
</body>
</html>
