<{include file="out_company/inc/navibar.html"}>

<meta name="viewport" content="width=device-width, initial-scale=0.78" />
<div class="admin_content" style="min-width:440px;">
  <div class="table_list_style main_left" align="center" style="min-width:440px; max-width:440px;"> <!-- table_list_style main_left -->

  <!-- 외주 작업자 000님의 진행중인 업무내역 Start -->
  <{assign var="task_run_permission" value="0"}> <!-- 담당업무 확인 변수 -->

  <{section name=data loop=$task_run_staff_list}>
    <{if $task_run_staff_list[data][1] == $session_s_no}>
      <{assign var="task_run_permission" value="true"}>
    <{/if}>
  <{/section}>

  <{if $task_run_permission}>
    <table cellpadding="0" cellspacing="0" style="border:solid; border-color:#dcdcdc;">
      <thead>
        <tr>
          <td colspan="5" align="center" style="font-size:17px; background-color:#dcdcdc; width:440px;">
            # 외주 작업자 <span style="color:blue;"><{$session_c_name}></span>님의 진행중인 업무내역 #
          </td>
        </tr>
        <tr>
          <th class="first" style="min-width:50px;max-width:50px;">진행<br>상태</th>
          <th style="min-width:135px;max-width:135px;">업체명</th>
          <th style="min-width:130px;max-width:130px;">상품명</th>
          <th style="min-width:50px;max-width:50px;">외주<br>작업자</th>
        </tr>
      </thead>
      <tbody>
        <{if $work_task_run}>
          <{section name=list loop=$work_task_run}>
            <tr>
              <td> <!-- 진행상태 -->
								<{section name=data loop=$work_state}>
  								<{if $work_task_run[list].work_state==$work_state[data][1]}>
                    <{if $work_task_run[list].work_state == '3'}>
                      <span style="color:red;font-size:11px;"><{$work_state[data][0]}></span>
                    <{else}>
                      <span style="font-size:11px;"><{$work_state[data][0]}></span>
                    <{/if}>
                  <{/if}>
  							<{/section}>
              </td>
              <td class="alignL link"> <!-- 업체명 -->
                <a href="./work_list.php?sch_prd=<{$work_task_run[list].prd_no}>&sch_w_no=<{$work_task_run[list].w_no}>"><{$work_task_run[list].c_name}></a>
              </td>
              <td class="alignL link"> <!-- 상품명 타겟키워드 -->
                <{$work_task_run[list].prd_name}>
                <{if is_t_keyword_prd($work_task_run[list].prd_no) && !!$work_task_run[list].t_keyword}>
                  <span style="color:#a7a7a7;font-size:10px;"><br>#<{$work_task_run[list].t_keyword}></span>
                <{/if}>
              </td>
              <td> <!-- 외주 작업자 -->
                <{$work_task_run[list].wd_c_name}>
              </td>
            </tr>
          <{/section}>
        <{else}>
          <tr>
            <td colspan="5" align="center" style="color:#808080;">
              해당 내역이 없습니다.
            </td>
          </tr>
        <{/if}>
      </tbody>
  	</table>
  <{/if}>
  <!-- 외주 작업자 000님의 진행중인 업무내역 End -->
  </div> <!-- table_list_style main_left End -->
</div>
</body>
</html>
