<{include file="out_company/inc/navibar.html" }>

<div class="admin_content">

	<{if $category==1 }>
		<h2 class="title_kind<{$category}>">● 체험단 리뷰 리스트</h2>
	<{elseif $category==2 }>
		<h2 class="title_kind<{$category}>">● 기자단 리뷰 리스트</h2>
	<{elseif $category==3 }>
		<h2 class="title_kind<{$category}>">● 배송체험 리뷰 리스트</h2>
	<{else}>
		<h2 class="title" style="margin-bottom:10px">● 전체 리뷰 리스트</h2>
	<{/if}>

	<form method="get" name="search_form" action="review_total_list.php">
    <div class="default_wrap">
			<div class="left_wrap">
        <span class="name_tit">포스팅 제목</span>
        <input type="text" id="spost_title" name="spost_title" value="<{$spost_title}>" class="input_type1" onkeydown="javascipt:if(event.keyCode == 13)searchList();"/>
				<span style="margin-right:15px;"></span>

			<!-- // 마케팅채널은 블로그로만 제한
				<span class="name_tit">마케팅 채널</span>
				<select name="schannel" id="schannel" class="select_type2"/>
					<{section name=data loop=$promotion_channel}>
						<option value="<{$promotion_channel[data][1]}>" <{if ($schannel=='' && $promotion_channel[data][0]=='전체') || $schannel==$promotion_channel[data][1]}>selected<{/if}>><{$promotion_channel[data][0]}></option>
					<{/section}>
				</select>
				<span style="margin-right:15px;"></span>
			-->

				<span class="name_tit">캠페인 종류</span>
				<select name="skind" id="" class="select_type2">
					<option value="" <{if !$skind}>selected<{/if}>>전체</option>
					<option value="1" <{if $skind==1}>selected<{/if}>>체험단</option>
					<option value="2" <{if $skind==2}>selected<{/if}>>기자단</option>
					<option value="3" <{if $skind==3}>selected<{/if}>>배송체험</option>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업체명</span>
				<input type="text" name="scompany" value="<{$scompany}>" class="input_type1" onkeydown="javascipt:if(event.keyCode == 13)searchList();"/>
        <span style="margin-right:15px;"></span>

				<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>
		  </div>
	  </div>
	</form>

	<form method="post" name="list_form" id="list_form" action="review_total_list.php">
		<input type="hidden" name="search_url" value="<{$search_url}>">

		<div class="table_list_style">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="first" style="min-width:90px; width:90px;">완료일</th>
						<th style="min-width:450px; width:350px;">포스팅 제목<br />포스팅URL</th>
						<th style="min-width:80px; width:80px;">마케팅<br>채널</th>
						<th style="min-width:80px; width:80px;">캠페인<br>종류</th>
						<th style="min-width:200px; width:200px;">업체명</th>
						<th style="min-width:150px; width:150px;">캠페인가이드</th>
					</tr>
				</thead>
				<tbody>
					<{if $total_num == 0}>
						<tr>
							<td class="first" colspan="7"> 등록된 자료가 없습니다.</td>
						</tr>
					<{else}>
						<{section name=loop loop=$report}>
							<tr>
								<td class="first" class="date">
		              <span class="date"><{$report[loop].r_date_ymd}></span>
		          	</td>
								<td class="alignL link_td" style="word-break: break-all;">
		            	<{$report[loop].post_title}><br />
		            	<a href="#" onClick="window.open('<{$report[loop].post_url}>','','width=1200, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="under_blue"><{$report[loop].post_url}></a>
		            </td>
								<td class="gubun_td">
									<{section name=list loop=$promotion_channel}>
										<{if $promotion_channel[list][1] == $report[loop].channel}>
											<{$promotion_channel[list][0]}>
										<{/if}>
									<{/section}>
								</td>
								<td class="gubun_td">
									<span class="kind_gubun<{$report[loop].kind}>"><{$report[loop].kind_name}></span>
		            </td>
								<td class="link_td">
		              <{$report[loop].company}>
		            </td>
								<td>
									<button class="btn_small" type="button" onclick="window.open('<{$baseur2}>out_company/campaign_guide.php?p_no=<{$report[loop].p_no}>','캠페인 가이드','width=650, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">캠페인 가이드</button>
		            </td>
							</tr>
						<{/section}>
						<tr>
							<td colspan=7 class="paging_wrap">
								<div class="paging_wrap">
									<{$pagelist}>
								</div>
							</td>
						</tr>
					<{/if}>
				</tbody>
			</table>
		</div>
	</form>
</div>

 </body>
</html>
