<{include file="out_company/inc/navibar.html" }>
<div class="admin_content">

	<form method="get" name="search_form" id="search_form" action="work_calendar.php">

		<input type="hidden" name="sch_date" value="<{$sch_date}>">

		<h2 class="title">●
			<{section name=data loop=$prd_g1_list}>
				<{if $sch_prd_g1==$prd_g1_list[data].k_name_code}><{$prd_g1_list[data].k_name}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd_g1" id="sch_prd_g1" value="<{$sch_prd_g1}>">
			>
			<{section name=data loop=$prd_g2_list}>
				<{if $sch_prd_g2==$prd_g2_list[data].k_name_code}><{$prd_g2_list[data].k_name}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd_g2" id="sch_prd_g2" value="<{$sch_prd_g2}>">
			>
			<{section name=data loop=$sch_prd_list}>
				<{if $sch_prd==$sch_prd_list[data].prd_no}><{$sch_prd_list[data].title}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd" id="sch_prd" value="<{$sch_prd}>">

			<button type="button" style="padding: 4px 6px; margin-left: 10px; height:40px;" onclick="location.href='work_list.php?sch_prd=<{$sch_prd}>';" class="btn_small">목록으로 보기</button>
		</h2>

		<div class="default_wrap" style="color:1c7198;">
			<div class="left_wrap">

				<hr></hr>

				<span class="name_tit">조회일정</span>
				<select name="sch_date_type" id="sch_date_type" class="select_type_groupbox" >
					<{section name=data loop=$cal_date_type}>
						<{if $cal_date_type[data][0] != "::전체::" && $cal_date_type[data][1] != '3'}> <!-- 전체, 희망완료일 제외 -->
							<option value="<{$cal_date_type[data][1]}>" <{if $sch_date_type==$cal_date_type[data][1]}>selected<{/if}>><{$cal_date_type[data][0]}></option>
						<{/if}>
					<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">표시방법</span>
				<select name="sch_view_type" id="sch_view_type" class="select_type3" >
					<{section name=data loop=$cal_view_type}>
						<{if $cal_view_type[data][1] == '1' || $cal_view_type[data][1] == '2' || $cal_view_type[data][1] == '4'}> <!-- 상품명, 타겟키워드, 업체명 만 보기 -->
							<option value="<{$cal_view_type[data][1]}>" <{if $sch_view_type==$cal_view_type[data][1]}>selected<{/if}>><{$cal_view_type[data][0]}></option>
						<{/if}>
					<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">외주 작업자</span>
				<select name="sch_wd_c_no" id="sch_wd_c_no" class="select_type2" >
					<option value="<{$session_c_no}>" selected><{$session_c_name}></option>
				</select>
				<span style="margin-right:15px;"></span>

				<button class="btn_small" onclick="submit();" style="width:300x; height:30px;">검색</button>
			</div>
		</div>
	</form>

</div>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="7" style="text-align: left; font-weight:bold; font-size:18px;">
						<a href="#" onclick="cal_month_link('<{$prev_month}>');">◀</a> <{$base_year}>-<{$base_month}> <a href="#" onclick="cal_month_link('<{$next_month}>');">▶</a>
						<button type="button" onclick="location.href='work_calendar.php?sch_date=<{$today}>&sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>&sch_date_type=<{$sch_date_type}>&sch_view_type=<{$sch_view_type}>&sch_s_no=<{$sch_s_no}>&sch_wd_c_no=<{$sch_wd_c_no}>';" style="width: 54px; height: 24px; font-size: 12px; font-weight: bold; color:black; background-color:#d5d5d5;" class="btn_small">today</button>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:220px; max-width:220px; background-color:#ff9a9a">일</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">월</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">화</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">수</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">목</th>
					<th style="min-width:220px; max-width:220px; background-color:#9a9a9a;">금</th>
					<th style="min-width:220px; max-width:220px; background-color:#9edefd;">토</th>
				</tr>
			</thead>
			<tbody>

				<{section name=idx loop=$calendar_date}>
					<{if $calendar_date[idx].week == '0'}> <!-- 일 -->
						<tr>
							<td class="first" style="text-align: left; vertical-align: top; font-size:11px;">
								<span style="color: #ff9a9a;"><{$calendar_date[idx].day}></span>
								<{if $calendar_date[idx].date == $today}>
									(today)
								<{/if}>

								<{section name=list loop=$work_list}>
									<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
											onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
											>
											<div id="m_over_display_<{$work_list[list].w_no}>">
												<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
											</div>
											<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											[예정]

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
											onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
											>
											<div id="m_over_display_<{$work_list[list].w_no}>">
												<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
											</div>
											<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											[완료]

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
											onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
											>
											<div id="m_over_display_<{$work_list[list].w_no}>">
												<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
											</div>
											<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{/if}>
								<{/section}>
							</td>
					<{elseif $calendar_date[idx].week =='6'}> <!-- 토 -->
							<td style="text-align: left; vertical-align: top; font-size:11px;">
								<span style="color: #9edefd;"><{$calendar_date[idx].day}></span>
								<{if $calendar_date[idx].date == $today}>
									(today)
								<{/if}>

								<{section name=list loop=$work_list}>
									<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
											onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
											>
											<div id="m_over_display_<{$work_list[list].w_no}>">
												<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
											</div>
											<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											[예정]

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
											onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
											>
											<div id="m_over_display_<{$work_list[list].w_no}>">
												<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
											</div>
											<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											[완료]

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
										<br>
										<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
											title="<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>">

											<!-- span 열기 -->
											<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
												<span style="background-color:#ffeb3b;">
											<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
												<span style="text-decoration:line-through;">
											<{/if}>

											<{if $sch_view_type == '1'}>
												<{$work_list[list].prd_no_name}>
											<{elseif $sch_view_type == '2'}>
												<{$work_list[list].t_keyword}>
											<{elseif $sch_view_type == '3'}>
												<{$work_list[list].task_run_s_name}>
											<{elseif $sch_view_type == '4'}>
												<{$work_list[list].c_name}>
											<{else $sch_view_type == '5'}>
												<{$work_list[list].s_name}>
											<{/if}>

											<!-- span 닫기 -->
											<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
												</span>
											<{/if}>
										</a>
									<{/if}>
								<{/section}>
							</td>
						</tr>
					<{else}> <!-- 월~금 -->
						<td style="text-align: left; vertical-align: top; font-size:11px;">
							<{$calendar_date[idx].day}>
							<{if $calendar_date[idx].date == $today}>
								(today)
							<{/if}>

							<{section name=list loop=$work_list}>
								<{if $sch_date_type == '1' && $calendar_date[idx].date == $work_list[list].task_run_dday}>
									<br>
									<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
										onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
										onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
										>
										<div id="m_over_display_<{$work_list[list].w_no}>">
											<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
										</div>
										<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

										<!-- span 열기 -->
										<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
											<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										[예정]

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

										<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
									</a>
								<{elseif $sch_date_type == '2' && $calendar_date[idx].date == $work_list[list].task_run_regdate}>
									<br>
									<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
										onmouseover="m_over_display(this, '<{$work_list[list].w_no}>', 'show');"
										onmouseout="m_over_display(this, '<{$work_list[list].w_no}>', 'hide');"
										>
										<div id="m_over_display_<{$work_list[list].w_no}>">
											<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>
										</div>
										<script>$("#m_over_display_<{$work_list[list].w_no}>").hide();</script>

										<!-- span 열기 -->
										<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
											<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										[완료]

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

										<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
									</a>
								<{elseif $sch_date_type == '3' && $calendar_date[idx].date == $work_list[list].task_req_dday}>
									<br>
									<a href="work_list.php?sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$work_list[list].prd_no}>&sch=Y&sch_w_no=<{$work_list[list].w_no}>"
										title="<{$work_list[list].prd_no_name}> / <{$work_list[list].c_name}>">

										<!-- span 열기 -->
										<{if $work_list[list].work_state == '6'}> <!-- 진행완료 -->
											<span style="background-color:#ffeb3b;">
										<{elseif !empty($work_list[list].task_run_regdate)}> <!-- 작업 완료날짜 기입 -->
											<span style="text-decoration:line-through;">
										<{/if}>

										<{if $sch_view_type == '1'}>
											<{$work_list[list].prd_no_name}>
										<{elseif $sch_view_type == '2'}>
											<{$work_list[list].t_keyword}>
										<{elseif $sch_view_type == '3'}>
											<{$work_list[list].task_run_s_name}>
										<{elseif $sch_view_type == '4'}>
											<{$work_list[list].c_name}>
										<{else $sch_view_type == '5'}>
											<{$work_list[list].s_name}>
										<{/if}>

										<!-- span 닫기 -->
										<{if $work_list[list].work_state == '6' && !empty($work_list[list].task_run_regdate)}>
											</span>
										<{/if}>
									</a>
								<{/if}>
							<{/section}>
						</td>
					<{/if}>
				<{/section}>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->

</div>
<!-- //admin_content -->

<script>
	$(document).ready(function(){

		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
			loading: "로딩중..",
			clear: true
		});
	});

	function cal_month_link(f_date){
		var search_url = "<{$search_url}>";

		var result = search_url.replace(/sch_date=<{$sch_date}>/gi, 'sch_date='+f_date);

		document.location.href="work_calendar.php?"+result;
	}

	function m_over_display(e, w_no, type){

		if(type=='show'){

			var de = document.documentElement;
			var b = document.body;
			scrollx = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			scrolly = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			var divTop = e.clientY - 135 + scrolly; //상단 좌표
			var divLeft = e.clientX - 30 + scrollx; //좌측 좌표

			$("#m_over_display_" + w_no).css({
				"position": "absolute"
				,"top": divTop
				,"left": divLeft
				,padding: "5px"
				,background: "#000"
				,color: "#fff"
				,"-moz-border-radius": "5px" /* 파폭 박스 둥근 정도 */
				,"-webkit-border-radius": "5px" /* 사파리 박스 둥근 정도 */
			}).show();

		}else if(type=='hide'){
			$("#m_over_display_" + w_no).hide();
		}
	}
</script>

</body>
</html>
