<{include file="out_company/inc/navibar.html" }>

<!-- Slide Control Plugin -->
<link rel="stylesheet" type="text/css" href="<{$baseur2}>css/custom-range-slider.css" />
<!-- Slide Control Plugin -->

<div class="admin_content">

	<form method="get" name="search_form" id="search_form" action="work_list.php">
		<h2 class="title">●

			<{section name=data loop=$prd_g1_list}>
				<{if $sch_prd_g1==$prd_g1_list[data].k_name_code}><{$prd_g1_list[data].k_name}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd_g1" id="sch_prd_g1" value="<{$sch_prd_g1}>">
			>
			<{section name=data loop=$prd_g2_list}>
				<{if $sch_prd_g2==$prd_g2_list[data].k_name_code}><{$prd_g2_list[data].k_name}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd_g2" id="sch_prd_g2" value="<{$sch_prd_g2}>">
			>
			<{section name=data loop=$sch_prd_list}>
				<{if $sch_prd==$sch_prd_list[data].prd_no}><{$sch_prd_list[data].title}><{/if}>
			<{/section}>
			<input type="hidden" name="sch_prd" id="sch_prd" value="<{$sch_prd}>">

			<button type="button" style="padding: 4px 6px; margin-left: 10px; height:40px;" onclick="location.href='work_calendar.php?sch_date=<{$today}>&sch_prd_g1=<{$sch_prd_g1}>&sch_prd_g2=<{$sch_prd_g2}>&sch_prd=<{$sch_prd}>&sch_date_type=1&sch_view_type=1&sch_s_no=all';" class="btn_small">달력으로 보기</button>

		</h2>

		<input type="hidden" name="sch" value="<{$sch}>">
		<div class="default_wrap" style="color:1c7198;">
			<div class="left_wrap">

				<span style="font-size: 16px;font-weight: bold;">[QUICK SEARCH]</span>
				<select name="q_sch" id="q_sch" class="select_type2">
					<option value="">::전체::</option>
					<option value="1" <{if $q_sch == '1'}>selected<{/if}>>요청안된건</option>
					<option value="2" <{if $q_sch == '2'}>selected<{/if}>>요청중인건</option>
					<option value="3" <{if $q_sch == '3'}>selected<{/if}>>진행중인건</option>
					<option value="4" <{if $q_sch == '4'}>selected<{/if}>>진행완료건</option>
				</select>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '1' }>background-color: #c73333;<{/if}>" onclick="return quick_search('1');" class="btn_small">요청안된건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '2' }>background-color: #c73333;<{/if}>" onclick="return quick_search('2');" class="btn_small">요청중인건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '3' }>background-color: #c73333;<{/if}>" onclick="return quick_search('3');" class="btn_small">진행중인건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '4' }>background-color: #c73333;<{/if}>" onclick="return quick_search('4');" class="btn_small">진행완료건</button>
				<br>


					<span class="name_tit">w_no</span>
					<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
					<{if permissionNameCheck($session_permission,"마스터관리자")}>
						is NULL<input type="checkbox" name="sch_wd_no" <{if $sch_wd_no_get == 'null'}>checked<{/if}> value="null"/>
					<{/if}>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">진행상태</span>
					<select name="sch_work_state" id="sch_work_state" class="select_type1" />
						<{section name=data loop=$work_state}>
						<option value="<{$work_state[data][1]}>" <{if ($sch_work_state=='' && $work_state[data][0]=='전체') || $sch_work_state==$work_state[data][1]}>selected<{/if}>><{$work_state[data][0]}></option>
						<{/section}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">업무완료일</span>
					<input type="text" class="date-picker input_type_date" name="sch_task_run_regdate" id="sch_task_run_regdate" value="<{$sch_task_run_regdate}>" />
					<span style="margin-right:15px;"></span>

					<{if $sch_prd != '56' && $sch_prd != '121'}> <!-- not 인센티브 정산 && not 캠프 -->
						<{if $wd_dp_state == '' || $wd_dp_state == '2' || $wd_dp_state == '4'}> <!-- 상품 미선택, 입금, 입금+출금 -->

							<span class="name_tit">입금업체</span>
							<select name="sch_dp_c_no" id="sch_dp_c_no" class="select_type2">
								<option value="">::전체::</option>
								<{section name=data loop=$dp_company_list}>
								<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"서비스운영")}>
									<{if $sch_prd}>
										<{if $dp_company_list[data][2] == $sch_prd}>
											<option value="<{$dp_company_list[data][1]}>" <{if $sch_dp_c_no==$dp_company_list[data][1]}>selected<{/if}>><{$dp_company_list[data][0]}><{if $dp_company_list[data][3]}>(<{$dp_company_list[data][3]}>)<{/if}></option>
										<{/if}>
									<{else}>
										<{if $dp_company_list[data][1] > 0}>
											<option value="<{$dp_company_list[data][1]}>" <{if $sch_dp_c_no==$dp_company_list[data][1]}>selected<{/if}>><{$dp_company_list[data][0]}><{if $dp_company_list[data][3]}>(<{$dp_company_list[data][3]}>)<{/if}></option>
										<{/if}>
									<{/if}>
								<{/if}>
								<{/section}>

								<{if $session_staff_state == '1'}>
									<option value="null" <{if $sch_dp_c_no == 'null'}>selected<{/if}>>(NULL)</option>
								<{/if}>
							</select>
							<span style="margin-right:15px;"></span>
						<{/if}>

						<{if $wd_dp_state == '' || $wd_dp_state == '3' || $wd_dp_state == '4'}> <!-- 상품 미선택, 출금, 입금+출금 -->

							<span class="name_tit">외주 작업자</span>
							<select name="sch_wd_c_no" id="sch_wd_c_no" class="select_type2">
								<option value="<{$session_c_no}>" selected><{$session_c_name}></option>
							</select>
							<span style="margin-right:15px;"></span>
						<{/if}>
					<{/if}>

					<span class="name_tit">지급일</span>
					<input type="text" class="date-picker input_type_date" name="sch_wd_pay_date" id="sch_wd_pay_date" value="<{$sch_wd_pay_date}>" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">업체명</span>
					<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type5" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
					<span style="margin-right:15px;"></span>

					<{if is_t_keyword_prd($sch_prd)}> <!-- 타겟키워드 적용상품 -->
						<span class="name_tit">타겟키워드</span>
						<input type="text" name="sch_t_keyword" value="<{$sch_t_keyword}>" class="input_type3" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
						<span style="margin-right:15px;"></span>
					<{/if}>

					<button class="btn_small" onclick="submit();" style="width:58px; height:27px;">검색</button>

					<hr></hr>

					<div class="right_wrap">
						<ul class="cat_style">
							<select name="od_list_num" id="od_list_num" class="select_type5" style="width: 90px;" onChange="searchList();">
								<option value="10" <{if $od_list_num == '10'}>selected<{/if}>>10개씩 보기</option>
								<option value="15" <{if $od_list_num == '15'}>selected<{/if}>>15개씩 보기</option>
								<option value="20" <{if $od_list_num == '20'}>selected<{/if}>>20개씩 보기</option>
								<option value="50" <{if $od_list_num == '50'}>selected<{/if}>>50개씩 보기</option>
							</select>
						</ul>
					</div>
				</div>
			</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<td colspan="19" style="text-align: left;">
						<{$total_num}>개의 검색 결과가 나타났습니다.
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:60px; width:60px;" rowspan="2">w_no<br>작성일</th>
					<th style="min-width:90px; width:90px;" rowspan="2">진행상태</th>
					<th style="min-width:95px; width:95px;" rowspan="2">
						<span style="color: #9696ff;">예정 완료일</span><br>업무 완료일</th>
					<th style="min-width:195px; width:195px;">업체명</th>
					<th style="min-width:70px; width:70px;">업체담당자</th>
				<{if is_t_keyword_prd($sch_prd)}> <!-- 타겟키워드 적용상품 -->
					<th style="min-width:160px; width:160px;" rowspan="2">타겟키워드</th>
				<{/if}>
					<th style="min-width:150px; width:150px;" rowspan="2">업무요청</th>
				<{if is_task_run_prd($task_run_prd_list, $sch_prd)}>
					<th style="min-width:90px; width:90px;" rowspan="2">외주 요청자</th>
				<{/if}>
					<th style="min-width:150px; width:150px;" rowspan="2">업무진행</th>
				<{if $wd_dp_state == '' || $wd_dp_state == '2' || $wd_dp_state == '4'}> <!-- 전체, 입금, 입금+출금 -->
					<th style="min-width:112px; width:112px;" rowspan="2">입금액<br><{if $work_equally_vat != '1'}>(VAT 별도)<{else}>(부가세 없음)<{/if}></th>
					<th style="min-width:103px; width:103px;" rowspan="2">입금업체<br>(입금처)</th>
					<th style="min-width:85px; width:85px;" rowspan="2">입금일</th>
				<{/if}>
				<{if $wd_dp_state == '' || $wd_dp_state == '3' || $wd_dp_state == '4'}> <!-- 전체, 출금, 입금+출금 -->
				<th style="min-width:103px; width:103px;" rowspan="2">외주 작업자<br>(지급처)</th>
					<th style="min-width:112px; width:112px;" rowspan="2">외주 작업비<br><{if $work_equally_vat != '1'}>(소득세/부가세 별도)<{else}>(소득세/부가세 없음)<{/if}></th>
					<th style="min-width:85px; width:85px;" rowspan="2">지급일</th>
				<{/if}>
				</tr>
				<tr>
					<th style="min-width:195px; width:195px;">
						상품명
						<{if is_k_name_code_prd($sch_prd, $work_task_run_kind_list)}> <!-- 상품 구분 적용상품 -->
							<br>(상품 구분)
						<{/if}>
					</th>
					<th style="min-width:70px; width:70px;">업무요청자</th>
				</tr>
			</thead>
			<tbody>
				<{section name=list loop=$work_list}>
				<form name="apply_frm<{$work_list[list].w_no}>" id="apply_frm<{$work_list[list].w_no}>" class="apply_frm" action="work_list.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
					<input type="hidden" name="w_no" value="<{$work_list[list].w_no}>">
					<input type="hidden" name="search_url" value="<{$search_url}>">
					<input type="hidden" name="process">
					<input type="hidden" name="folder">

					<tr <{if $smarty.section.list.index%2 == '1'}>style="background-color:#ebebeb;"<{/if}>>
						<td class="first" class="date" rowspan="2"> <!-- w_no <br> 작성일 -->
							<{$work_list[list].w_no}>
						</td>

						<td rowspan="2">  <!-- 진행상태 -->
							<{section name=data loop=$work_state}>
								<{if $work_list[list].work_state == $work_state[data][1]}>
									<span <{if $work_state[data][1] == '1' || $work_state[data][1] == '2'}>
													style="color:black;"
												<{elseif $work_state[data][1] == '3'}>
													style="color:red;"
												<{elseif $work_state[data][1] == '4'}>
													style="color:blue;"
												<{elseif $work_state[data][1] == '5'}>
													style="color:green;"
												<{elseif $work_state[data][1] == '7' || $work_state[data][1] == '8'}>
													style="color:red;"
												<{elseif $work_state[data][1] == '9'}>
													style="color:black;"
												<{/if}>
									>
										<{$work_state[data][0]}>
									</span>
								<{/if}>
							<{/section}>
						</td>
						<td rowspan="2"> <!-- 예정 완료일 / 업무 완료일 -->
							<span style="color: blue;"><{if $work_list[list].task_run_dday}><{$work_list[list].task_run_dday}><{else}>Empty data<{/if}></span><br>
							<{if $work_list[list].work_state == '4' || $work_list[list].work_state == '5'}>
								<input type="text" onchange="save_el('<{$work_list[list].w_no}>', 'f_task_run_regdate', this)" class="date-picker input_type_date" name="f_task_run_regdate<{$work_list[list].w_no}>" id="f_task_run_regdate<{$work_list[list].w_no}>" value="<{$work_list[list].task_run_regdate}>" />
							<{else}>
								<{if $work_list[list].task_run_regdate}><{$work_list[list].task_run_regdate}><{else}>Empty data<{/if}>
							<{/if}>
						</td>
						<td style="text-align: left;"> <!-- 업체명 -->
							<{$work_list[list].c_name}>
						</td>
						<td> <!-- 업체담당자 -->
							<span style="font-size:10px; color:#a7a7a7;"><{$work_list[list].s_no_name}></span>
						</td>
					<{if is_t_keyword_prd($sch_prd)}> <!-- 타겟키워드 적용상품 -->
						<td style="text-align: left; max-width:140px; word-break:break-all;" rowspan="2"> <!-- 타겟키워드  -->
							<{if ((permissionNameCheck($session_permission,"서비스운영") && $session_staff_state != '2') || permissionNameCheck($session_permission,"마케터") && $work_list[list].work_state < '4')}>
								<input type="text" name="f_t_keyword" id="f_t_keyword" onchange="save_el('<{$work_list[list].w_no}>', 'f_t_keyword', this)" class="input_type4" style="width:145px;" value="<{$work_list[list].t_keyword}>" <{if $work_list[list].prd_no == '10' && $work_list[list].task_req_s_no == $session_s_no}>maxlength="14"<{/if}>/>
							<{else}>
								<p style="text-align:left;"><{$work_list[list].t_keyword}></p>
							<{/if}>
							<{section name=data loop=$bad_tkeyword_list}>
								<{if $bad_tkeyword_list[data][0] == $work_list[list].prd_no && ($bad_tkeyword_list[data][1]|replace:' ':'') == ($work_list[list].t_keyword|replace:' ':'')}>
									<br><spanwd_companyor:red;">※주의 :: <{$bad_tkeyword_list[data][2]}></span>
								<{/if}>
							<{/section}>
						</td>
					<{/if}>
					<td class="alignL" valign="top" style="word-break:break-all;" rowspan="2"> <!-- 업무요청 -->
						<textarea name="f_task_req" id="f_task_req" onchange="save_el('<{$work_list[list].w_no}>', 'f_task_req', this)" onfocus="task_req_click(this)" onfocusout="task_req_click_out(this)" class="textarea_work_message<{if $session_staff_state == '1' && ((permissionNameCheck($session_permission,"서비스운영") || ($work_list[list].task_req_s_no == $session_s_no && $work_list[list].work_state < 4)) || (!$work_list[list].wd_no && $work_list[list].prd_no == '138' && $work_list[list].task_req_s_no == $session_s_no && $work_list[list].work_state < 4))}><{else}>_readonly<{/if}>"
						<{if $session_staff_state == '1' && ((permissionNameCheck($session_permission,"서비스운영") || ($work_list[list].task_req_s_no == $session_s_no && $work_list[list].work_state < 4)) || (!$work_list[list].wd_no && $work_list[list].prd_no == '138' && $work_list[list].task_req_s_no == $session_s_no && $work_list[list].work_state < 4))}>
						<{else}> readonly <{/if}>
						><{$work_list[list].task_req}></textarea>
						<{if $work_list[list].prd_no != '7' && $work_list[list].prd_no != '30'}>
							<{if $work_list[list].task_req_file_origin == ''}>
								<{if $session_staff_state != '2'}>
									<p style="width:140px;"><input type="file" name="file[]" id="file[]" style="width:100%">
										<br><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
										<{if (permissionNameCheck($session_permission,"서비스운영") || $work_list[list].work_state <= '3')}>
											<button type="button" onclick="return save_task_req_file('<{$work_list[list].w_no}>');" class="btn_file">file_upload</button><br>
										<{/if}>
									</p>
								<{/if}>
							<{else}>
								<p style="width:140px;"><img src="../images/common/ico/ico_file.gif" alt="file download"> <a herf="#" onclick="down_file('<{$work_list[list].w_no}>', 'out_task_req');return false;" style="cursor:pointer" title="<{$work_list[list].task_req_file_origin}>"><{$work_list[list].task_req_file_origin}></a>
								<{if permissionNameCheck($session_permission,"마스터관리자") || ($work_list[list].task_req_s_no == $session_s_no && $work_list[list].work_state <= 3) }>
									&nbsp;<button type="button" onclick="del_file('<{$work_list[list].w_no}>','out_task_req');" class="btn_file">del</button>
								<{/if}>
								</p>
							<{/if}>
							<!--div style="text-align:right;">
								<{$work_list[list].task_req_dday}>
							</div-->
						<{/if}>
					</td>

						<{if is_task_run_prd($task_run_prd_list, $sch_prd)}>
							<td rowspan="2"> <!-- 외주 요청자 -->
								<{$work_list[list].task_run_s_name}>
							</td>
						<{/if}>
							<td class="date alignL" valign="top" style="word-break:break-all;" rowspan="2"> <!-- 업무진행 -->
								<textarea name="f_task_run" id="f_task_run" onchange="save_el('<{$work_list[list].w_no}>', 'f_task_run', this)" onfocus="task_req_click(this)" onfocusout="task_req_click_out(this)" class="textarea_work_message<{if !permissionNameCheck($session_permission,'서비스운영')}>_readonly<{/if}>"
								<{if !permissionNameCheck($session_permission,'서비스운영')}> readonly <{/if}>
								><{$work_list[list].task_run}></textarea>
								<{if $work_list[list].prd_no != '7' && $work_list[list].prd_no != '30'}>
									<{if $work_list[list].task_run_file_origin == ''}>
										<p style="width:140px;"><input type="file" name="file2[]" id="file2[]" style="width:100%">
											<br><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
											<{if permissionNameCheck($session_permission,'서비스운영') }>
												<button type="button" onclick="return save_task_run_file('<{$work_list[list].w_no}>');" class="btn_file">file_upload</button><br>
											<{/if}>
										</p>
									<{else}>
										<p style="width:140px;"><img src="../images/common/ico/ico_file.gif" alt="file download"> <a herf="#" onclick="down_file('<{$work_list[list].w_no}>', 'out_task_run');return false;" style="cursor:pointer" title="<{$work_list[list].task_run_file_origin_alt}>"><{$work_list[list].task_run_file_origin}></a>
										<{if permissionNameCheck($session_permission,"서비스운영") || ($work_list[list].task_run_s_no == $session_s_no && $work_list[list].work_state <= 3) }>
											&nbsp;<button type="button" onclick="del_file('<{$work_list[list].w_no}>','out_task_run');" class="btn_file">del</button>
										<{/if}>
										</p>
									<{/if}>
								<{/if}>
							</td>

							<{if $wd_dp_state == '' || $wd_dp_state == '2' || $wd_dp_state == '4'}> <!-- [검색기준] 상품미선택, 입금, 입금+출금 -->
								<{if $work_list[list].wd_dp_state == '2' || $work_list[list].wd_dp_state == '4'}> <!-- [업무기준] 입금, 입금+출금 -->
									<td style="text-align: right; color:#0026ff;" rowspan="2"> <!-- 입금액(VAT별도) -->
										<input type="text" name="f_dp_price" id="f_dp_price" style="color:#0026ff;" onblur="save_el('<{$work_list[list].w_no}>', 'f_dp_price', this)" onfocus="this.value=''" onkeyup="inputNumberFormat(this)" class="input_type_money<{if !permissionNameCheck($session_permission,'외주관리자') && $work_list[list].work_state > '3' }>_readonly<{/if}>" <{if !permissionNameCheck($session_permission,'외주관리자') && $work_list[list].work_state > '3' }> disabled <{/if}> value="<{$work_list[list].dp_price}>">
										<{if !!$work_list[list].dp_price_vat}><br>(VAT) <{$work_list[list].dp_price_vat}><{/if}> <!-- 입금액(VAT포함) -->
									</td>
									<td rowspan="2"> <!-- 입금업체 -->
										<span id="f_dp_c_no_<{$work_list[list].w_no}>">
											<{assign var="data_empty" value="true"}>
											<select name="f_dp_c_no" id="f_dp_c_no" onchange="save_el('<{$work_list[list].w_no}>', 'f_dp_c_no', this)" class="select_type2" style="width:100px;" <{if !permissionNameCheck($session_permission,'외주관리자') && $work_list[list].work_state > '3'}> disabled <{/if}>>
												<option value="">::미선택::</option>
												<{section name=data loop=$dp_company_list}>
													<{if $dp_company_list[data][2] == $work_list[list].prd_no}>
														<{if $work_list[list].dp_c_no==$dp_company_list[data][1]}>
														<{assign var="data_empty" value="false"}>
														<option value="<{$dp_company_list[data][1]}>" selected><{if !!$dp_company_list[data][3]}><{$dp_company_list[data][3]}><{if permissionNameCheck($session_permission,'외주관리자')}> [<{$dp_company_list[data][0]}>]<{/if}><{else}><{$dp_company_list[data][0]}><{/if}></option>
													<{else}>
														<option value="<{$dp_company_list[data][1]}>"><{if !!$dp_company_list[data][3]}><{$dp_company_list[data][3]}><{if permissionNameCheck($session_permission,'외주관리자')}> [<{$dp_company_list[data][0]}>]<{/if}><{else}><{$dp_company_list[data][0]}><{/if}></option>
													<{/if}>
												<{/if}>
												<{/section}>
											</select>
										</span>
										<{if $data_empty == "true" && !!$work_list[list].dp_c_no}>
											<{if !!$work_list[list].dp_c_name2}><{$work_list[list].dp_c_name2}><{else}><{$work_list[list].dp_c_name}><{/if}>
											<script>$("#f_dp_c_no_<{$work_list[list].w_no}>").hide();</script>
										<{/if}>
									</td>

									<td class="date" rowspan="2"> <!-- 입금등록일<br>지급일 -->
										<div id="create_dp_no_button_display_<{$work_list[list].w_no}>">

										</div>
										<script>$("#create_dp_no_button_display_<{$work_list[list].w_no}>").hide();</script>
										<{if $work_list[list].dp_no }>
											<span class="day"><{$work_list[list].dp_regdate_day}></span><br /><span class="time"><{$work_list[list].dp_regdate_time}></span>
											<a href="deposit_list.php?sch_dp_no=<{$work_list[list].dp_no}>" target="_blank"><img src="./images/icon/new_win_icon.png"></a>
										<{elseif ($work_list[list].work_state == '6' && $work_list[list].dp_price && $work_list[list].dp_c_no)}>
											<{if $work_list[list].paid_list_boolean==false}>
												<script>$("#create_dp_no_button_display_<{$work_list[list].w_no}>").show();</script>
											<{/if}>
										<{/if}>
										<{if $work_list[list].prd_no == '56' || $work_list[list].prd_no == '121' }> <!-- 인센티브 정산 || 캠프 -->
											<a href="#">
												<img onclick="find_deposit_list('apply_frm<{$work_list[list].w_no}>', '<{$work_list[list].w_no}>', '<{$work_list[list].c_name}>'); return false;" src="./images/icon/search_icon.png" title="입금리스트에서 설정합니다.">
											</a>
										<{/if}>
										<{if $work_list[list].dp_pay_date}>
											<br>(<{$work_list[list].dp_pay_date}>)
										<{/if}>
									</td>
								<{else}>
									<td style="text-align: right; color:#0026ff;" rowspan="2"></td> <!-- 입금액(VAT별도) -->
									<td rowspan="2"></td> <!-- 입금업체 -->
									<td class="date" rowspan="2"></td> <!-- 입금등록일<br>지급일 -->
								<{/if}>
							<{/if}>

							<{if $wd_dp_state == '' || $wd_dp_state == '3' || $wd_dp_state == '4'}> <!-- [검색기준] 상품미선택, 출금, 입금+출금 -->
								<{if $work_list[list].wd_dp_state == '3' || $work_list[list].wd_dp_state == '4'}> <!-- [업무기준] 출금, 입금+출금 -->
									<td rowspan="2"> <!-- 외주 작업자 -->
										<{if !!$work_list[list].wd_c_name2}><{$work_list[list].wd_c_name2}><{else}><{$work_list[list].wd_c_name}><{/if}>
									</td>
									<td style="text-align: right; font-size: 15px; color:red;" rowspan="2"> <!-- 외주 작업비(소득세/부가세 별도) -->
										<{if !!$work_list[list].wd_price}>\ <{$work_list[list].wd_price}><{/if}>
									</td>
									<td class="date" rowspan="2"> <!-- 지급일 -->
										<{if $work_list[list].wd_pay_date}>
											<{$work_list[list].wd_pay_date}>
										<{/if}>
									</td>
								<{else}>
									<td style="text-align: right;" rowspan="2"></td> <!-- 외주 작업비(소득세/부가세 별도) -->
									<td rowspan="2"></td> <!-- 외주 작업자 -->
									<td class="date" rowspan="2"></td> <!-- 출금등록일<br>지급일 -->
								<{/if}>
							<{/if}>
					</tr>

					<tr <{if $smarty.section.list.index%2 == '1'}>style="background-color:#ebebeb;"<{/if}>>
						<td class="alignL"> <!-- 상품명 -->
							<{$work_list[list].prd_no_name}>

							<{if is_k_name_code_prd($work_list[list].prd_no, $work_task_run_kind_list)}> <!-- 상품 구분 적용상품 -->
								<br>
								<{assign var="set_f_k_name_code" value="false"}>

								<{section name=data loop=$task_run_staff_list}>
									<{if ($sch_prd != '55' && $work_list[list].work_state <= '3' && $work_list[list].task_req_s_no == $session_s_no) || ($task_run_staff_list[data][2] == $work_list[list].prd_no && $task_run_staff_list[data][1] == $session_s_no) || permissionNameCheck($session_permission,"마스터관리자")}>
										<{assign var="set_f_k_name_code" value="true"}>
									<{/if}>
								<{/section}>

								<select name="f_k_name_code" id="f_k_name_code" class="select_type2<{if $session_staff_state == '2' || $set_f_k_name_code != 'true'}>_disabled<{/if}>" style="width:135px; font-size:10px; height: 24px;" onchange="save_el('<{$work_list[list].w_no}>', 'f_k_name_code', this)">
									<option value="" style="font-size:10px;" <{if $session_staff_state == '2' || $set_f_k_name_code != 'true'}>disabled<{/if}>>::미설정::</option>
									<{section name=data loop=$work_task_run_kind_list}>
										<{if $work_task_run_kind_list[data].prd_no == $work_list[list].prd_no}>
											<option value="<{$work_task_run_kind_list[data].k_name_code}>" style="font-size:10px;" <{if $work_list[list].k_name_code == $work_task_run_kind_list[data].k_name_code}>selected<{/if}> <{if $session_staff_state == '2' || $set_f_k_name_code != 'true'}>disabled<{/if}>><{$work_task_run_kind_list[data].k_name}></option>
										<{/if}>
									<{/section}>
								</select>
							<{/if}>

							<input type="hidden" name="f_prd_no" value="<{$work_list[list].prd_no}>">
						</td>
						<td> <!-- 업무요청자 -->
							<{$work_list[list].task_req_s_name}>
						</td>
					</tr>
				</form>

				<{/section}>
				<tr>
					<td colspan="22" class="paging_wrap">
					<div class="paging_wrap">
						<{$pagelist}>
					</div>
					</td>
				</tr>
			</tbody>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->


</div>
<!-- admin_content -->
<script>

	$(document).ready(function(){

		$(".date-picker").datepicker();

	});


	// 검색 하기
	function searchList(){
		document.search_form.submit();
	}


	var rangeSlider = function(){
	  var slider = $('.range-slider'),
	      range = $('.range-slider__range'),
	      value = $('.range-slider__value');

	  slider.each(function(){

	    value.each(function(){
	      var value = $(this).prev().attr('value');
	      $(this).html(value);
	    });

	    range.on('input', function(){
	      $(this).next(value).html(this.value);
	    });
	  });
	};

	rangeSlider();

	function inputNumberFormat(obj) {
		if(obj.value != '-') // 첫입력 시 음수 예외
			obj.value = comma(uncomma(obj.value));
	}

	//콤마찍기
	function comma(str) {
		str = String(str);
		return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}

	//콤마풀기
	function uncomma(str) {
		str = "" + str.replace(/,/gi,''); // 콤마 제거
		str = str.replace(/(^\s*)|(\s*$)/g, ""); // trim
		return (new Number(str));
	}

	// 파일 다운받기
	function down_file(w_no, folder) {
		var gsWin = window.open('about:blank','file download','width=400,height=300');
		var f = document.forms['apply_frm' + w_no];
		f.target = "file download";
		f.method = "post";
		f.process.value = 'down_file';
		f.folder.value = folder;
		f.submit();
		f.target = "_self";
	}

	// 파일 삭제하기
	function del_file(w_no, folder) {
		var f = document.forms['apply_frm' + w_no];
		f.method ="post";
		f.process.value = 'del_file';
		f.folder.value = folder;

		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

	function save_task_req_file(w_no) {
		var f = document.forms['apply_frm' + w_no];
		f.target = "";
		f.process.value = "save_task_req_file";

		if (confirm("저장 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function save_task_run_file(w_no) {
		var f = document.forms['apply_frm' + w_no];
		f.target = "";
		f.process.value = "save_task_run_file";

		if (confirm("저장 하시겠습니까??") == true) { // 확인
			f.submit();
		} else { //취소
			return;
		}
	}

	function save_manager_record(w_no)
	{
		eval("var f=document.getElementById('apply_frm" + w_no + "');");
		f.process.value = "save_manager_record";

		<{if permissionNameCheck($session_permission,"마스터관리자")}>
			f.submit();
		<{else}>
			if (confirm("저장 하시겠습니까??") == true)
			{ // 확인
				f.submit();
			} else
			{ //취소
				return;
			}
		<{/if}>
	}

	function save_req_record(w_no)
	{
		eval("var f=document.getElementById('apply_frm" + w_no + "');");
		f.process.value = "save_req_record";

		if (confirm("저장 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}


	function save_element(w_no, target) {
		eval("var f=document.getElementById('apply_frm" + w_no + "');");
		f.process.value = target;

		if (confirm("저장 하시겠습니까??") == true){ // 확인
			f.submit();
		} else{ //취소
			return;
		}
	}

	function quick_search(type) {
		eval("var f=document.getElementById('search_form');");
		f.q_sch.value=type;

		f.submit();
	}

	function save_el(w_no, proc, obj) {

		var f = obj.form;
		var val = obj.value;

		var default_val = obj.defaultValue;

		if(proc == 'f_evaluation'){
			var divEl = $("#label_star_"+w_no);
			var x = divEl.position();
		}else{
			var x = $(obj).position();
		}

		var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});


		if (default_val && val == default_val && proc != 'f_evaluation' && proc != 'f_k_name_code')
			return false;

		if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
			return false;

		if(proc == 'f_work_state'){ // 접수완료일 경우 style 처리
			if(val == '3'){
				obj.style.color="red";
				obj.style.backgroundColor="yellow";
			}else if(val == '4' || val == '5'){
				obj.style.color="blue";
				obj.style.backgroundColor="white";
			}else if(val == '7' || val == '8'){
				obj.style.color="red";
				obj.style.backgroundColor="lightgray";
			}else{
				obj.style.color="black";
				obj.style.backgroundColor="white";
			}
		}

		var prd_no = "";
		if(!!f.f_prd_no)
			prd_no = f.f_prd_no.value; // 상품번호

		if (val != "" || (proc == 'f_task_run_regdate' || proc == 'f_dp_c_no' || proc == 'f_wd_c_no' || proc =='f_task_req' || proc =='f_task_run' || proc == 'f_task_run_staff' || proc == 'f_k_name_code')) { // 공백시 저장 되도록 예외(업무완료일, 입금업체, 외주업체, 업무요청, 업무진행, 업무진행구분)
			$.post("work_list.php", {w_no : w_no, process : proc, val : val, prd_no : prd_no}, function(result){
				d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
			});
		}
	}

	// 업무요청 클릭 시 사이즈 확장
	function task_req_click(f){
		f.style.width = "400px";
		f.style.backgroundColor="yellow";
		//f.style.height = "300px"; // 수동설정
		f.style.height = (f.scrollHeight)+"px"; // 자동설정
	}
	// 업무요청 클릭아웃 시 사이즈 복원
	function task_req_click_out(f){
		f.style.width = "140px";
		f.style.backgroundColor="";
		f.style.height = "50px"; // 수동설정
	}

	// 자주 하는 업무 추가
	function proc_quick_prd (mode, prd_no) {
		var val = $("#f_prd").val();
		var txt = $("#f_prd option:selected").text();

		if (mode == "del")
			val = prd_no;

		if (mode == "add" && $(".btn_quick_add").length > 19) {
			alert("최대 20개까지 추가 가능합니다.");
		} else if (mode == "add" && !val) {
			alert("[자주하는 상품]에 추가할 상품을 선택해 주세요.");
		}else {
			$.post("work_list.php", {process : "proc_quick_prd", mode : mode, quick_prd : val, sch_prd : "<{$sch_prd}>", sch_prd_g1 : "<{$sch_prd_g1}>", sch_prd_g2 : "<{$sch_prd_g2}>"}, function(data) {
				arr = data.split("|");
				if (arr[0] == "err_exist_prd") {
					alert("이미 추가되어 있는 상품입니다.");
				} else if (arr[0] == "ok") {
					$("#d_quick_prd").html(arr[1]);
				}
			});
		}
	}

	// 업무진행구분 삭제하기
	function del_k_name_code(w_no)
	{
		eval("var f=document.getElementById('apply_frm" + w_no + "');");
		f.process.value = 'del_k_name_code';

		if (confirm("업무진행구분을 삭제 하시겠습니까??") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	// 숫자 타입에서 쓸 수 있도록 format() 함수 추가
	Number.prototype.format = function(){
	    if(this==0) return 0;

	    var reg = /(^[+-]?\d+)(\d{3})/;
	    var n = (this + '');

	    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

	    return n;
	};

	// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
	String.prototype.format = function(){
	    var num = parseFloat(this);
	    if( isNaN(num) ) return "0";

	    return num.format();
	};

	jQuery('.format-money').text(function() {
    jQuery(this).text(
        jQuery(this).text().format()
    );
	});

	$(function() {
		proc_quick_prd('display');
	});

</script>

</body>
</html>
