<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	body{min-height: 300px;}
    .admin_content{width: 1658px; min-width: 1650px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

    .table td, .table th{vertical-align: middle;}
    .table thead th{vertical-align: middle;}
    .bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
    .bm-section-label-link{margin-right: 10px; float: right;}
    .bm-main-left-wrapper, .bm-main-right-wrapper{width: 800px;}
    .bm-main-left-wrapper{float: left;}
    .bm-main-right-wrapper{float: right;}
    .bm-table-wrapper .table{width: auto;}
    .bm-table-wrapper .table th{font-size: 12px;}
    .bm-table-wrapper .table td{font-size: 12px;}
    .bm-table-wrapper .table .first{width: 200px;}
    .bm-table-wrapper .table .date-label{width: 150px;}
    .bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}

    #cms-count-chart,#return-count-chart{position: relative; width: 798px; height: 200px;}
</style>

<div class="admin_content">
    <div class="bm-main-left-wrapper">
        <div class="bm-section-wrapper">
            <h2 class="bm-section-label">
                [<{$bm_type_name}>] 주문수
                <a href="/v1/media_commerce_count_report.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
            </h2>
            <div id="cms-count-chart"></div>
            <div class="bm-table-wrapper">
                <table class="table table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th class="first"></th>
                            <{foreach from=$commerce_count_date_list key=date_key item=label}>
                                <th class="date-label"><{$label}></th>
                            <{/foreach}>
                        </tr>
                    </thead>
                    <tbody>
                        <{if $cms_count_group_title_list}>
                            <{foreach from=$cms_count_group_title_list key=dp_c_no item=dp_title}>
                                <tr>
                                    <th class="text-left"><{$dp_title}></th>
                                    <{foreach from=$commerce_count_date_list key=date_key item=label}>
                                        <td class="text-right"><{$cms_count_list[$date_key][$dp_c_no]|number_format:0}></td>
                                    <{/foreach}>
                                </tr>
                            <{/foreach}>
                        <{else}>
                            <tr>
                                <td colspan="<{$commerce_count_date_cnt}>" class="first">데이터가 없습니다.</td>
                            </tr>
                        <{/if}>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bm-main-right-wrapper">
        <div class="bm-section-wrapper">
            <h2 class="bm-section-label">
                [<{$bm_type_name}>] 반품수
                <a href="/v1/wise_csm_return_count_report.php?<{$sch_brand_url}>&sch_s_month=<{$return_s_month}>&sch_e_month=<{$return_e_month}>&sch_date_type=3" target="_blank" class="bm-section-label-link">more</a>
            </h2>
            <div id="return-count-chart"></div>
            <div class="bm-table-wrapper">
                <table class="table table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th class="first"></th>
                            <{foreach from=$return_month_list key=month_key item=label}>
                                <th class="date-label"><{$label}></th>
                            <{/foreach}>
                        </tr>
                    </thead>
                    <tbody>
                        <{foreach from=$cms_count_group_title_list key=dp_c_no item=dp_title}>
                            <tr>
                                <th class="text-left"><{$dp_title}></th>
                                <{foreach from=$return_month_list key=month_key item=label}>
                                    <td class="text-right"><{$return_count_list[$month_key][$dp_c_no]|number_format:0}></td>
                                <{/foreach}>
                            </tr>
                        <{/foreach}>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var cmsCountChart   = echarts.init(document.getElementById('cms-count-chart'),null, {renderer : 'canvas'});
    var cmsCountData    = <{$cms_count_total_list}>;
    var countTitleData  = <{$count_chart_name_list}>;

    var returnCountChart 	= echarts.init(document.getElementById('return-count-chart'),null, {renderer : 'canvas'});
    var returnCountData		= <{$return_count_total_list}>;
    var returnTitleData 	= <{$return_chart_name_list}>;

    drawLineChart(cmsCountChart, cmsCountData, countTitleData);
    drawLineChart(returnCountChart, returnCountData, returnTitleData);

    function drawLineChart(chart, countData, countTitleData)
    {
        var fullData 	= countData;
        var titleData 	= countTitleData;

        if(fullData != '')
        {
            var pushData 	 = [];
            var pushNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push(item);
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            chart.setOption({
                grid: {
                    top: '8%',
                    left: '10%',
                    right: '5%',
                    bottom: '14%'
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                series: [
                    {
                        data: pushData,
                        type : 'line'
                    }
                ]
            });
        }
    }
</script>

</body>
</html>
