<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	body{min-height: 500px;}
	.admin_content{width: 1655px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 11px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 11px;}
    .bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 30px; margin-bottom: 10px;}
    .bm-section-label-link{margin-right: 10px; float: right;}

	.table th, .table td{vertical-align: middle;}
	.sales-price{color: blue; text-align: right;}
	.cost-price{color: red; text-align: right;}
	.zero-price{color: black; text-align: right;}
	.total-chart-wrapper{margin-top: 50px;}
	#total-chart{position: relative; width: 1652px; height: 400px;}

    .global-chart-wrapper{margin-top: 0px;}
    #global-chart{position: relative; width: 1652px; height: 400px;}

    .nosp-result-wrapper td{padding: 5px 1px 1px 1px; border: 0;}
    .nosp-time-wrapper{margin-bottom: 2px;}
    .nosp-special-wrapper{margin-bottom: 2px;}
    .nosp-result-child{position: relative; cursor: pointer;}
    .nosp-result-link{text-decoration: none;}
    .nosp-result-link:hover{text-decoration: none;}
    .nosp-time-symbol{display: inline-block; width: 20px; height: 20px; background: #FFC000; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
    .nosp-special-symbol{display: inline-block; width: 20px; height: 20px; background: #00B0F0; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
    .nosp-special-wrapper{min-height: 23px;}
    .nosp-time-wrapper{min-height: 23px;}
    .nosp-each-link{float: left; display: inline-block; width: 64px; text-align: right;}
    .nosp-total-link{float: right; display: inline-block; width: 30px; min-height: 47px; padding-top: 25px;}
    .nosp-total-link img{width: 18px;}

    .m_over_display{display: none; position: absolute; top: -75px; left: -10px; padding: 10px 10px 5px 10px; color: #000; border: 1px solid #DDD; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        width: max-content; text-align: left;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 15px;
        transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: rgb(255, 255, 255);}
    .m_over_display_right{right: 0; left: unset}
    .m_over_display_left:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; left: 45px; bottom: -20px;}
    .m_over_display_right:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-top-color: white; right: 45px; bottom: -20px;}
    .m_over_display .nosp-special-count{width: 15px; display: inline-block; text-align: center;}
    .m_over_display .nosp-special-symbol{margin-right: 5px;}
    .m_over_display .nosp-time-symbol{margin-right: 5px;}
</style>

<div class="admin_content" style="padding: 0 !important;">
    <div>
        <div class="total-chart-wrapper">
            <div id="total-chart"></div>
        </div>
        <table class="table table-bordered" style="font-weight: bold; width: auto;">
            <thead class="thead-dark text-center">
                <{if $nosp_result_total > 0}>
                    <tr class="nosp-result-wrapper">
                        <td></td>
                        <{assign var=key_idx value=0}>
                        <{foreach from=$commerce_date_list key=key_date item=date_label}>
                            <td id="nosp-result-child-<{$key_date}>" class="text-center nosp-result-child"
                                <{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
                                    onmouseover="m_over_display(this, '<{$key_date}>', 'show');"
                                    onmouseout="m_over_display(this, '<{$key_date}>', 'hide');"
                                <{/if}>
                                style="vertical-align: bottom;"
                            >
                                <div class="nosp-each-link">
                                    <div class="nosp-special-wrapper">
                                        <{if $nosp_result_list[$key_date][1]['count'] > 0}>
                                            <span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
                                            <a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=1&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
                                                <span class="nosp-time-symbol">T</span>
                                            </a>
                                        <{/if}>
                                    </div>
                                    <div class="nosp-time-wrapper">
                                        <{if $nosp_result_list[$key_date][2]['count'] > 0}>
                                            <span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
                                            <a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=2&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
                                                <span class="nosp-special-symbol">S</span>
                                            </a>
                                        <{/if}>
                                    </div>
                                </div>
                                <{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
                                    <div class="nosp-total-link">
                                        <a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
                                            <img src="../images/icon/new_win_icon.png">
                                        </a>
                                    </div>
                                <{/if}>
                                <div id="m_over_display_<{$key_date}>" class="m_over_display <{if $key_idx > 11}>m_over_display_right<{else}>m_over_display_left<{/if}>">
                                    <div class="nosp-special-wrapper">
                                        <{if $nosp_result_list[$key_date][1]['count'] > 0}>
                                            <span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
                                            <span class="nosp-time-symbol">T</span>
                                            <span class="nosp-time-total" style="margin-top: 2px;"><{$nosp_result_list[$key_date][1]['total']|number_format:0}></span>
                                        <{/if}>
                                    </div>
                                    <div class="nosp-time-wrapper" >
                                        <{if $nosp_result_list[$key_date][2]['count'] > 0}>
                                            <span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
                                            <span class="nosp-special-symbol">S</span>
                                            <span class="nosp-special-total" style="margin-top: 2px;"><{$nosp_result_list[$key_date][2]['total']|number_format:0}></span>
                                        <{/if}>
                                    </div>
                                </div>
                            </td>
                            <{assign var=key_idx value=$key_idx+1}>
                        <{/foreach}>
                    </tr>
                <{/if}>
                <tr>
                    <th style="<{if $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 156px;<{/if}>"></th>
                    <{foreach from=$commerce_date_list key=date_key item=date_name}>
                        <th style="<{if $sch_date_type == 'week'}>min-width: 136px;<{elseif $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 100px;<{/if}>"><{$date_name}></th>
                    <{/foreach}>
                </tr>
            </thead>
            <tbody>
                <{if $total_report_table_list}>
                    <tr>
                        <td>매출</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="sales-price">₩<{$total_report_table_list[$date_key].sales|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                    <tr>
                        <td>비용</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="cost-price">₩<{$total_report_table_list[$date_key].cost|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                    <tr>
                        <td>공헌이익</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="zero-price">₩<{$total_report_table_list[$date_key].profit|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                <{else}>
                    <tr>
                        <td colspan="<{$commerce_date_cnt}>">데이터가 없습니다</td>
                    </tr>
                <{/if}>
            </tbody>
        </table>

        <{if $global_base_option}>
            <h2 class="bm-section-label">
                [<{$bm_type_name}> 일본] 매출 및 비용관리
                <a href="/v1/media_commerce_compare_chart.php?<{$global_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
            </h2>
            <div class="global-chart-wrapper">
                <div id="global-chart"></div>
            </div>
            <table class="table table-bordered" style="font-weight: bold; width: auto;">
                <thead class="thead-dark text-center">
                    <tr>
                        <th style="<{if $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 156px;<{/if}>"></th>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <th style="<{if $sch_date_type == 'week'}>min-width: 136px;<{elseif $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 100px;<{/if}>"><{$date_name}></th>
                        <{/foreach}>
                    </tr>
                </thead>
                <tbody>
                    <{if $total_report_table_list}>
                        <tr>
                            <td>매출</td>
                            <{foreach from=$commerce_date_list key=date_key item=date_name}>
                                <td class="sales-price">₩<{$global_report_table_list[$date_key].sales|number_format:0}></td>
                            <{/foreach}>
                        </tr>
                        <tr>
                            <td>비용</td>
                            <{foreach from=$commerce_date_list key=date_key item=date_name}>
                                <td class="cost-price">₩<{$global_report_table_list[$date_key].cost|number_format:0}></td>
                            <{/foreach}>
                        </tr>
                        <tr>
                            <td>공헌이익</td>
                            <{foreach from=$commerce_date_list key=date_key item=date_name}>
                                <td class="zero-price">₩<{$global_report_table_list[$date_key].profit|number_format:0}></td>
                            <{/foreach}>
                        </tr>
                    <{else}>
                        <tr>
                            <td colspan="<{$commerce_date_cnt}>">데이터가 없습니다</td>
                        </tr>
                    <{/if}>
                </tbody>
            </table>
        <{/if}>
    </div>
</div>

<script type="text/javascript">
    var totalChart = echarts.init(document.getElementById('total-chart'), null, {renderer : 'svg'});
    drawTotalChart();

    function drawTotalChart()
    {
        var fullData = <{$total_date_chart_list}>;

        if(fullData != '')
        {
            var legendData = [];
            var legendList = <{$date_chart_name_list}>;

            $.each(legendList, function(idx, item){
                legendData.push(item);
            });

            var pushData = [];

            $.each(fullData, function(idx, item){
                pushData.push({
                    name: item['title'],
                    type: item['type'],
                    data: item['data'],
                    itemStyle: {
                        color: item['color'],
                    }
                });
            });

            totalChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: "7%",
                    left: "7%",
                    right: "7%"
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    data: legendData
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '매출',
                        position: 'left',
                        alignTicks: true,
                        axisLine: {
                            show: true,
                        },
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                    {
                        type: 'value',
                        name: '비용',
                        show: false,
                    },
                    {
                        type: 'value',
                        name: '공헌이익',
                        show: false,
                    }
                ],
                series: pushData
            });
        }
    }

    <{if $global_base_option}>
        var globalChart = echarts.init(document.getElementById('global-chart'), null, {renderer : 'svg'});
        drawGlobalChart();

        function drawGlobalChart()
        {
            var fullData = <{$global_date_chart_list}>;

            if(fullData != '')
            {
                var legendData = [];
                var legendList = <{$date_chart_name_list}>;

                $.each(legendList, function(idx, item){
                    legendData.push(item);
                });

                var pushData = [];

                $.each(fullData, function(idx, item){
                    pushData.push({
                        name: item['title'],
                        type: item['type'],
                        data: item['data'],
                        itemStyle: {
                            color: item['color'],
                        }
                    });
                });

                globalChart.setOption({
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        left: "7%",
                        right: "7%"
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: { show: true }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        data: legendData
                    },
                    yAxis: [
                        {
                            type: 'value',
                            name: '매출',
                            position: 'left',
                            alignTicks: true,
                            axisLine: {
                                show: true,
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        {
                            type: 'value',
                            name: '비용',
                            show: false,
                        },
                        {
                            type: 'value',
                            name: '공헌이익',
                            show: false,
                        }
                    ],
                    series: pushData
                });
            }
        }
    <{/if}>

    function m_over_display(e, key_date, type)
    {
        if(type == 'show') {
            $("#m_over_display_" + key_date).show();
        }else if(type == 'hide'){
            $("#m_over_display_" + key_date).hide();
        }
    }
</script>
</body>
</html>
