<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{min-height: 200px;}
	.admin_content{width: 798px; min-width: 790px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 11px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 11px;}

	.table th, .table td{vertical-align: middle;}
</style>

<div class="admin_content" style="padding: 0 !important;">
    <div>
        <table class="table table-bordered" style="font-weight: bold; width: auto;">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="min-width: 200px;">상품명</th>
                    <th style="min-width: 119px;">전체</th>
                    <th style="min-width: 119px;">본품</th>
                    <th style="min-width: 119px;">더블업</th>
                    <th style="min-width: 119px;">이불</th>
                    <th style="min-width: 119px;">바디필로우</th>
                </tr>
            </thead>
            <tbody>
            <{if $cms_event_prd_list}>
                <{foreach from=$cms_event_prd_list item=cms_event_prd}>
                    <tr>
                        <td class="text-left"><{$cms_event_prd.prd_name}></td>
                        <td class="text-right"><{$cms_event_prd.total_qty|number_format:0}></td>
                        <td class="text-right"><{$cms_event_prd.main_qty|number_format:0}></td>
                        <td class="text-right"><{$cms_event_prd.second_qty|number_format:0}></td>
                        <td class="text-right"><{$cms_event_prd.third_qty|number_format:0}></td>
                        <td class="text-right"><{$cms_event_prd.fourth_qty|number_format:0}></td>
                    </tr>
                <{/foreach}>
            <{else}>
                <tr>
                    <td colspan="6" class="first">데이터가 없습니다.</td>
                </tr>
            <{/if}>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
