<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{min-height: 300px;}

    .table td, .table th{vertical-align: middle;}
    .table thead th{vertical-align: middle;}

	.admin_content{width: 794px; min-width: 790px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
    .bm-table-wrapper .table{width: auto;}
    .bm-table-wrapper .table th{font-size: 12px;}
    .bm-table-wrapper .table td{font-size: 12px;}
    .bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}
    .table-bordered td{border: 1px solid #BBB;}
</style>

<div class="admin_content">
    <div class="bm-table-wrapper">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="width: 60px;">BEST</th>
                    <th style="width: 270px;">상품명</th>
                    <th style="width: 70px;">수량</th>
                    <th style="width: 60px;">WORST</th>
                    <th style="width: 270px;">상품명</th>
                    <th style="width: 70px;">수량</th>
                </tr>
            </thead>
            <tbody>
                <{if $cms_recent_qty_best_list}>
                    <{foreach from=$cms_recent_qty_best_list key=qty_idx item=recent_best}>
                        <{assign var=recent_worst value=$cms_recent_qty_worst_list[$qty_idx]}>
                        <tr>
                            <td class="text-center">0<{$qty_idx+1}></td>
                            <td class="text-left"><{$recent_best.title}></td>
                            <td class="text-right"><{$recent_best.total|number_format:0}></td>
                            <td class="text-center">0<{$qty_idx+1}></td>
                            <td class="text-left"><{$recent_worst.title}></td>
                            <td class="text-right"><{$recent_worst.total|number_format:0}></td>
                        </tr>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="6">데이터가 없습니다</td>
                    </tr>
                <{/if}>
            </tbody>
        </table>

        <table class="table table-bordered table-striped" style="margin-bottom: 0;">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="width: 60px;">BEST</th>
                    <th style="width: 250px;">상품명</th>
                    <th style="width: 90px;">금액(천원)</th>
                    <th style="width: 60px;">WORST</th>
                    <th style="width: 250px;">상품명</th>
                    <th style="width: 90px;">금액(천원)</th>
                </tr>
            </thead>
            <tbody>
                <{if $cms_recent_price_best_list}>
                    <{foreach from=$cms_recent_price_best_list key=price_idx item=recent_best}>
                        <{assign var=recent_worst value=$cms_recent_price_worst_list[$price_idx]}>
                        <tr>
                            <td class="text-center">0<{$price_idx+1}></td>
                            <td class="text-left"><{$recent_best.title}></td>
                            <td class="text-right"><{$recent_best.total|number_format:0}></td>
                            <td class="text-center">0<{$price_idx+1}></td>
                            <td class="text-left"><{$recent_worst.title}></td>
                            <td class="text-right"><{$recent_worst.total|number_format:0}></td>
                        </tr>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="6">데이터가 없습니다</td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
