<{include file="inc/boot_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.table thead th{vertical-align: middle;}

	.nav-explain{font-size: 12px;font-weight: bold;}
	#brand_main_cms_report_iframe{display: none;}
	#brand_main_traffic_conversion_iframe{display: none;}
	#brand_main_cms_count_iframe{display: none;}
	#brand_main_cms_rank_iframe{display: none;}
	#brand_main_cms_settle_iframe{display: none;}

	.date-wrapper{line-height: 35px;overflow: hidden;padding: 5px 0;}
	.date_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.date_btn_active{background-color: #CCC;}

	.nosp_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.nosp_btn_active{background-color: #CCC;}

	.stats_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.stats_btn_active{background-color: #CCC;}

	.months_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.months_btn_active{background-color: #CCC;}

	.unit_type_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.unit_type_btn_active{background-color: #CCC;}

	.other_type_btn{background-color: #EEE; font-weight: bold; width: 130px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.other_type_btn_active{background-color: #CCC;}

	.conversion_date_type_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.conversion_date_type_active{background-color: #CCC;}

	.admin_content{width: 1680px;}
	.admin_content .title{margin-bottom: 5px;}
	.bm-main-iframe-wrapper{width: 1680px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px; overflow: hidden;}
	.bm-main-wrapper{width: 1680px; padding: 10px; box-sizing: border-box; margin-top: 10px; overflow: hidden;}
	.bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
	.bm-section-label-link{margin-right: 10px; float: right;}
	.bm-main-left-wrapper, .bm-main-right-wrapper{width: 800px;}
	.bm-main-left-wrapper{float: left;}
	.bm-main-right-wrapper{float: right;}

	.iframe_loading_msg{width: 400px; margin: 0 auto;}
	.iframe_loading_msg img{display: table; margin: 50px auto 30px;}
	.iframe_loading_msg b{font-size: 18px; display: table; margin: 0 auto;}

	.bm-section-wrapper{overflow: hidden; clear: both; min-height: 400px;}
	.bm-table-wrapper .table{width: auto;}
	.bm-table-wrapper .table th{font-size: 12px;}
	.bm-table-wrapper .table td{font-size: 12px;}
	.bm-table-wrapper .table .first{width: 200px;}
	.bm-table-wrapper .table .date-label{width: 150px;}
	.bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}

	.font-red{color: red;}
	.font-gray{color: gray;}
	.font-blue{color: blue;}
	.font-bold{font-weight: bold;}
	.table-bordered td{border: 1px solid #BBB;}

	#nosp-stats-chart{position: relative; width: 800px; height: 400px; border: 1px solid #ccc;}
	#agency-month-chart{position: relative; width: 800px; height: 300px; border: 1px solid #ccc;}
	#csm-bad-month-chart{position: relative; width: 800px; height: 300px; border: 1px solid #ccc;}
	#work-track-month-chart{position: relative; width: 800px; height: 300px; border: 1px solid #ccc;}
	#stock-other-chart{position: relative; width: 800px; height: 400px; border: 1px solid #ccc;}
	#withdraw-month-chart{position: relative; width: 800px; height: 400px; border: 1px solid #ccc;}
	.nosp-request-class{display: none;}
	#with-stock-unit-table{display: none;}
	#other-stock-price-table{display: none;}
	#daily-sales-table td, #hour-sales-table td, #term-sales-table td{font-weight: bold;}
	.table tbody td.total-price{background: #eee;}
	#hour-sales-table{table-layout: fixed; width: auto; float: left;}
	#term-sales-table{table-layout: fixed; width: auto; margin-left: 100px; float: left;}
</style>

<div class="admin_content">
	<h2 class="title">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span class="nav-explain">매출, 비용, 주문, 반품, 재구매, 재고, 발주, 물류, 이벤트, 상품, 구성품, 정산, 부가세 등 맞춤 데이터 정보와 게시판, 일정 등을 설정할 수 있습니다.</span>

	<div class="bm-main-iframe-wrapper">
		<input type="hidden" name="sch_brand" id="sch_brand" value="<{$sch_brand}>">
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 매출 및 비용관리
			<a href="/v1/media_commerce_compare_chart.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="date-wrapper">
			<{foreach from=$bm_date_type_option key=key item=label}>
				<button type="button" class="btn date_btn <{if $sch_date_type == $key}>date_btn_active<{/if}>" id="date_btn_<{$key}>" onclick="searchDateType('<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
		<div class="iframe_loading_msg" id="cms_iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>WISE BM 매출 및 비용관리 로딩중입니다.</b>
		</div>
		<iframe src="brand_main_pure_iframe_cms_report.php?sch_brand=<{$sch_brand}>" width="1660" height="200" frameborder="0" id="brand_main_cms_report_iframe"></iframe>
	</div>

	<div class="bm-main-iframe-wrapper">
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 아임웹 유입 / 전환 / 전환율
			<a href="/v1/work_cms_stats_traffic_conversion.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<span class="font-gray">
			※안내 : 정확하고 안정적인 GA4의 Data 적용을 위해, 최소 3일전 데이터까지 표시됩니다. / [데이터 유실] 2024.10.14 ~ 10.24 총 11일간 GA4 전환값이 유실되었습니다.
		</span>
		<div class="date-wrapper">
			<{foreach from=$traffic_date_type_option key=key item=label}>
				<button type="button" class="btn conversion_date_type_btn <{if $key == 'day'}>conversion_date_type_active<{/if}>" id="conversion_date_type_btn_<{$key}>" onclick="loadTrafficConversionIframe('<{$sch_brand}>','<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
		<div class="iframe_loading_msg" id="conversion_iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>유입 및 전환통계 로딩중입니다.</b>
		</div>
		<iframe src="brand_main_base_iframe_traffic_conversion.php?sch_brand=<{$sch_brand}>" width="1660" height="200" frameborder="0" id="brand_main_traffic_conversion_iframe"></iframe>
	</div>

	<div class="bm-main-iframe-wrapper">
		<b style="font-size: 14px;">[기간] <{$daily_s_date_text}> ~ <{$daily_e_date_text}>_지난 7일간</b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 현황(아임웹)
			<a href="/v1/work_cms_stats_sales_daily.php?sch_ord_s_date=<{$daily_s_date}>&sch_ord_e_date=<{$daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="daily-sales-table">
				<colgroup>
					<col width="100px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 기간Total -->
					<{if $daily_date_list}>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<col width="120px;"> <!-- 날짜 -->
						<{/foreach}>
					<{/if}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">기간Total</th>
						<{if $daily_date_list}>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<th scope="col"><{$date_label}></th>
							<{/foreach}>
						<{/if}>
					</tr>
				</thead>
				<tbody>
					<{if $daily_sales_list}>
						<tr>
							<td class="first text-center">Total</td>
							<td class="text-right"><{$daily_sales_total_price|number_format:0}></td>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<{assign var=date_per value=round(($daily_date_total_list[$date_key]-$daily_date_total_list["min"])/($daily_date_total_list["max"]-$daily_date_total_list["min"]),2)}>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[$date_key]|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<tr>
								<td class="first text-center">
									<{$hour_label}><br/>
									<{assign var=hour_per value=round($daily_hour_total_list[$hour_key]/$daily_hour_total_list["max"],2)}>
								</td>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[$hour_key]|number_format:0}></td>
								<{foreach from=$daily_date_list key=date_key item=date_label}>
									<{assign var=daily_per value=round($daily_sales_list[$date_key][$hour_key]/$daily_sales_list[$date_key]["max"],2)}>
									<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[$date_key][$hour_key]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-iframe-wrapper">
		<b style="font-size: 14px;">[기간] 비교일(B) : <{$prev_daily_s_date_text}> ~ <{$prev_daily_e_date_text}> vs 기준일(A) : <{$daily_s_date_text}> ~ <{$daily_e_date_text}></b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 비교(아임웹)
			<a href="/v1/work_cms_stats_sales_term.php?sch_base_s_date=<{$daily_s_date}>&sch_base_e_date=<{$daily_e_date}>&sch_comp_s_date=<{$prev_daily_s_date}>&sch_comp_e_date=<{$prev_daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="hour-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_hour_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list.comp_per|number_format:1}>%
								<{if $sales_term_total_list.comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list.comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<{assign var=hour_base_per value=round($sales_term_hour_list[$hour_key].base_price/$sales_term_total_list["hour_base_max"],2)}>
							<{assign var=hour_comp_per value=round($sales_term_hour_list[$hour_key].comp_price/$sales_term_total_list["hour_comp_max"],2)}>
							<tr>
								<td class="first text-center"><{$hour_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_comp_per}>);"><{$sales_term_hour_list[$hour_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_hour_list[$hour_key].comp_per|number_format:1}>%
									<{if $sales_term_hour_list[$hour_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_hour_list[$hour_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_base_per}>);"><{$sales_term_hour_list[$hour_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
			<table class="table table-bordered" id="term-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
				<tr>
					<th scope="col">구분</th>
					<th scope="col">비교일(B)</th>
					<th scope="col">(증감률)</th>
					<th scope="col">기준일(A)</th>
				</tr>
				</thead>
				<tbody>
				<{if $sales_term_date_list}>
				<tr>
					<td class="first total-price text-center">Total</td>
					<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
					<td class="text-right total-price">
						<{$sales_term_total_list.comp_per|number_format:1}>%
						<{if $sales_term_total_list.comp_per > 0}>
						<span style="color: red;">▲</span>
						<{elseif $sales_term_total_list.comp_per < 0}>
						<span style="color: blue;">▼</span>
						<{/if}>
					</td>
					<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
				</tr>
				<{foreach from=$daily_date_list key=date_key item=date_label}>
				<{assign var=date_base_per value=round(($sales_term_date_list[$date_key].base_price-$sales_term_total_list["date_base_min"])/($sales_term_total_list["date_base_max"]-$sales_term_total_list["date_base_min"]),2)}>
				<{assign var=date_comp_per value=round(($sales_term_date_list[$date_key].comp_price-$sales_term_total_list["date_comp_min"])/($sales_term_total_list["date_comp_max"]-$sales_term_total_list["date_comp_min"]),2)}>
				<tr>
					<td class="first text-center"><{$date_label}></td>
					<td class="text-right" style="background: rgba(50, 245, 70, <{$date_comp_per}>);"><{$sales_term_date_list[$date_key].comp_price|number_format:0}></td>
					<td class="text-right">
						<{$sales_term_date_list[$date_key].comp_per|number_format:1}>%
						<{if $sales_term_date_list[$date_key].comp_per > 0}>
						<span style="color: red;">▲</span>
						<{elseif $sales_term_date_list[$date_key].comp_per < 0}>
						<span style="color: blue;">▼</span>
						<{/if}>
					</td>
					<td class="text-right" style="background: rgba(50, 245, 70, <{$date_base_per}>);"><{$sales_term_date_list[$date_key].base_price|number_format:0}></td>
				</tr>
				<{/foreach}>
				<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-iframe-wrapper" style="border: 0;">
		<div id="cms_count_iframe_loading_msg" class="iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>주문수, 반품수 내역을 로딩중입니다.</b>
		</div>
		<iframe src="brand_main_base_iframe_cms_count.php?sch_brand=<{$sch_brand}>" id="brand_main_cms_count_iframe" width="1660" height="300" frameborder="0"></iframe>
	</div>

	<div class="bm-main-wrapper">
		<div class="bm-main-left-wrapper">
			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					[<{$bm_type_name}>] 게시판
					<a href="#" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<table class="table table-bordered">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 400px;">TITLE</th>
								<th style="width: 150px;">WRITER</th>
								<th style="width: 100px;">HIT</th>
								<th style="width: 150px;">DATE</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4">데이터가 없습니다</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					NOSP 광고 입찰관리
					<a href="/v1/advertising_management.php" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<div style="overflow: hidden;">
						<{foreach from=$nosp_state_option key=key item=nosp_data}>
							<button type="button" class="btn nosp_btn <{if $key == '3'}>nosp_btn_active<{/if}>" id="nosp_btn_<{$key}>" onclick="searchNospType('<{$key}>')">
								<{$nosp_data.title}> (<{$nosp_data.cnt|number_format:0}>건)
							</button>
						<{/foreach}>
					</div>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 100px;">상품명</th>
								<th style="width: 100px;">진행상태</th>
								<th style="width: 250px;">진행일시</th>
								<th style="width: 150px;">단가</th>
								<th style="width: 200px;">신청자</th>
							</tr>
						</thead>
						<tbody>
							<{if $nosp_manage_confirm_list}>
								<{foreach from=$nosp_manage_confirm_list item=nosp_confirm}>
									<tr class="nosp-confirm-class">
										<td class="text-center"><{$nosp_confirm.product_name}></td>
										<td class="text-center font-blue"><{$nosp_confirm.state_name}></td>
										<td class="text-center">
											<{$nosp_confirm.adv_date_text}>
										</td>
										<td class="text-right">
											<span class="font-bold font-red" style="float: left;"><{if $nosp_confirm.type == '1'}>(미판)<{/if}></span>
											<span class="font-bold font-red" style="float: right;">₩<{$nosp_confirm.price|number_format:0}></span>
										</td>
										<td class="text-left"><{$nosp_confirm.req_staff}></td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr class="nosp-confirm-class">
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>

							<{if $nosp_manage_request_list}>
								<{foreach from=$nosp_manage_request_list item=nosp_request}>
									<tr class="nosp-request-class">
										<td class="text-center"><{$nosp_request.product_name}></td>
										<td class="text-center font-blue"><{$nosp_request.state_name}></td>
										<td class="text-center">
											<{$nosp_request.adv_date_text}>
										</td>
										<td class="text-right">
											<span class="font-bold font-red" style="float: left;"><{if $nosp_request.type == '1'}>(미판)<{/if}></span>
											<span class="font-bold font-red" style="float: right;">₩<{$nosp_request.price|number_format:0}></span>
										</td>
										<td class="text-left"><{$nosp_request.req_staff}></td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr class="nosp-request-class">
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					마케팅 비용 및 수수료 정산
					<a href="/v1/agency_chart.php?sch_settle_s_month=<{$agency_s_month}>&sch_settle_e_month=<{$agency_e_month}>&sch_manager_team=all&sch_chart_type=2&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div id="agency-month-chart"></div>
				<div class="bm-table-wrapper">
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 100px;">월</th>
								<th style="width: 100px;">광고매체</th>
								<th style="width: 100px;">횟수</th>
								<th style="width: 250px;">광고비</th>
								<th style="width: 250px;">대행수수료</th>
							</tr>
						</thead>
						<tbody>
							<{if $agency_table_list}>
								<{foreach from=$agency_table_name_list key=key_month item=month_label}>
									<tr>
										<td class="text-center"><{$month_label}></td>
										<td class="text-center">전체</td>
										<td class="text-center"><{$agency_table_list[$key_month]['total_cnt']|number_format:0}></td>
										<td class="text-right font-bold font-red">₩ <{$agency_table_list[$key_month]['total_price']|number_format:0}></td>
										<td class="text-right font-bold font-blue">₩ <{$agency_table_list[$key_month]['total_fee']|number_format:0}></td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					커머스 출금 리스트
					<a href="/v1/withdraw_list.php?<{$sch_brand_url}>&sch_s_wd_date=<{$withdraw_s_date}>&sch_e_wd_date=<{$withdraw_e_date}>&sch_wd_method=" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<span class="font-red" style="display: inline-block;margin-bottom: 5px;">※ 주의 : 검색&디스플레이 광고는 사용금이 아닌 충전금입니다.</span>
				<div id="withdraw-month-chart"></div>
				<div class="bm-table-wrapper">
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 250px;">관련 업무</th>
								<{foreach from=$withdraw_month_list key=key_month item=month_label}>
									<th class="date-label"><{$month_label}></th>
								<{/foreach}>
							</tr>
						</thead>
						<tbody>
							<{if $withdraw_table_list}>
								<{foreach from=$withdraw_total_list key=prd_no item=prd_total}>
									<tr>
										<td class="text-left"><{$withdraw_title_list[$prd_no]}></td>
										<{foreach from=$withdraw_month_list key=key_month item=month_label}>
											<td class="text-right">
												<span style="float: left;">₩</span>
												<span style="float: right;"><{$withdraw_table_list[$key_month][$prd_no]|number_format:0}></span>
											</td>
										<{/foreach}>
									</tr>
								<{/foreach}>
								<tr style="background: #CCC; font-weight: bold;">
									<td class="text-center">Total</td>
									<{foreach from=$withdraw_month_list key=key_month item=month_label}>
										<td class="text-right">
											<span style="float: left;">₩</span>
											<span style="float: right;"><{$withdraw_month_total_list[$key_month]|number_format:0}></span>
										</td>
									<{/foreach}>
								</tr>
							<{else}>
								<tr>
									<td colspan="6">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					이벤트 일정
					<a href="/v1/calendar/calendar_schedule.php?cal_id=mc_event&sch_team=all&sch_s_name=<{$brand_manager_name}>&sch_search_type=1" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 250px;">종료일</th>
								<th style="width: 250px;">구매처</th>
								<th style="width: 300px;">이벤트명</th>
							</tr>
						</thead>
						<tbody>
							<{if $cms_event_list}>
								<{foreach from=$cms_event_list item=cms_event}>
									<tr>
										<td class="text-left"><{$cms_event.date}></td>
										<td class="text-left">
											<{foreach $cms_event.dp_list item=event_dp_name}>
												<div><{$event_dp_name}></div>
											<{/foreach}>
										</td>
										<td class="text-left">
											<a href="/v1/advertising_event_management.php?sch_event_s_date=&sch_event_e_date=&sch_ae_no=&sch_is_active=&sch_event=&sch_reg_name=" target="_blank" style="font-weight: bold;">
												<{$cms_event.title}>
											</a>
										</td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="3">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					사은품 증정(진행중) 일정
				</h2>
				<div class="bm-table-wrapper">
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 200px;">사은품 설정(A)</th>
								<th style="width: 200px;">사은품 설정(B)</th>
								<th style="width: 400px;">상품명</th>
							</tr>
						</thead>
						<tbody>
							<{if $prd_event_list}>
								<{foreach from=$prd_event_list item=prd_event}>
									<tr>
										<td class="text-center">
											<{if $prd_event.gift_date_type == '1'}>
												<span>ON</span>
												<{if $prd_event.gift_e_date_text}>
													<br/>
													<span> ~ <{$prd_event.gift_e_date_text}></span>
												<{/if}>
											<{else}>
												<span class="font-gray">OFF</span>
											<{/if}>
										</td>
										<td class="text-center">
											<{if $prd_event.sub_gift_date_type == '1'}>
												<span>ON</span>
												<{if $prd_event.sub_gift_e_date_text}>
													<br/>
													<span> ~ <{$prd_event.sub_gift_e_date_text}></span>
												<{/if}>
											<{else}>
												<span class="font-gray">OFF</span>
											<{/if}>
										</td>
										<td class="text-left">
											<a href="/v1/product_cms_list.php?<{$prd_event.event_url}>" target="_blank"><{$prd_event.title}></a>
											<{if $prd_event.total_cnt > 0}><span class="font-red font-bold">(외 <{$prd_event.total_cnt|number_format:0}>건)</span><{/if}>
										</td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="3">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					월별 불량 사유 통계
					<a href="/v1/wise_csm_bad_report.php?<{$sch_brand_url}>&sch_s_month=<{$csm_bad_s_month}>&sch_e_month=<{$csm_bad_e_month}>&sch_date_type=3" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div id="csm-bad-month-chart"></div>
				<div class="bm-table-wrapper">
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 300px;">항목</th>
								<{foreach from=$csm_bad_date_list key=bad_date item=date_label}>
									<th style="width: 70px;"><{$date_label}></th>
								<{/foreach}>
								<th style="width: 80px;">total</th>
							</tr>
						</thead>
						<tbody>
							<{if $csm_bad_report_list}>
								<{foreach from=$csm_bad_report_name_list key=bad_reason item=bad_reason_name}>
									<tr>
										<td class="text-left"><{$bad_reason_name}></td>
										<{assign var=bad_row_total value=0}>
										<{foreach from=$csm_bad_date_list key=bad_date item=date_label}>
											<td class="text-right"><{$csm_bad_report_list[$bad_date][$bad_reason]|number_format:0}></td>
											<{assign var=bad_row_total value=$bad_row_total+$csm_bad_report_list[$bad_date][$bad_reason]}>
										<{/foreach}>
										<td class="text-right"><{$bad_row_total|number_format:0}></td>
									</tr>
								<{/foreach}>
								<tr style="background: #CCC;">
									<td class="text-left">Total</td>
									<{foreach from=$csm_bad_date_list key=bad_date item=date_label}>
										<td class="text-right"><{$csm_bad_report_total_list[$bad_date]|number_format:0}></td>
									<{/foreach}>
									<td class="text-right"></td>
								</tr>
							<{else}>
								<tr>
									<td colspan="8">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					<{$stock_other_month_text}>월 타계정반출 통계
					<a href="/v1/product_cms_stock_other_list.php?<{$sch_brand_url}>&sch_move_mon=<{$stock_other_month}>" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div style="text-align: right;">
					<span class="font-red">※재고자산수불부를 기반으로 표시되며 재고자산수불부는 매월 5일~8일에 전월 내역이 업데이트 됩니다.</span>
				</div>
				<div id="stock-other-chart"></div>
				<div class="bm-table-wrapper">
					<div style="overflow: hidden; margin-top: 10px;">
						<{foreach from=$other_type_option key=key item=label}>
							<button type="button" class="btn other_type_btn <{if $key == '1'}>other_type_btn_active<{/if}>" id="other_type_btn_<{$key}>" onclick="showOtherTable('<{$key}>')"><{$label}></button>
						<{/foreach}>
					</div>
					<table class="table table-bordered table-striped" id="other-stock-qty-table">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 240px;">구성품목명</th>
								<{foreach from=$stock_other_title_list key=subject item=other_label}>
									<th style="width: 80px;"><{$other_label}></th>
								<{/foreach}>
								<th style="width: 80px;">합계</th>
							</tr>
						</thead>
						<tbody>
							<{if $stock_other_table_list}>
								<{foreach from=$stock_other_table_list key=prd_unit item=stock_other}>
									<tr>
										<td class="text-left"><{$stock_other.name}></td>
										<td class="text-right"><{$stock_other.1_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.9_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.2_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.3_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.4_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.5_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.14_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.15_qty|number_format:0}></td>
										<td class="text-right"><{$stock_other.total_qty|number_format:0}></td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="8">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>

					<table class="table table-bordered table-striped" id="other-stock-price-table">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 240px;">구성품목명</th>
								<{foreach from=$stock_other_title_list key=subject item=other_label}>
									<th style="width: 80px;"><{$other_label}></th>
								<{/foreach}>
								<th style="width: 80px;">합계</th>
							</tr>
						</thead>
						<tbody>
							<{if $stock_other_table_list}>
								<{foreach from=$stock_other_table_list key=prd_unit item=stock_other}>
									<tr>
										<td class="text-left"><{$stock_other.name}></td>
										<td class="text-right"><{$stock_other.1_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.9_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.2_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.3_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.4_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.5_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.14_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.15_price|number_format:0}></td>
										<td class="text-right"><{$stock_other.total_price|number_format:0}></td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="8">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="bm-main-right-wrapper">
			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					[<{$bm_type_name}>] 일정
					<a href="#" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<table class="table table-bordered">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 240px;">시작일시</th>
								<th style="width: 440px;">제목</th>
								<th style="width: 120px;">작성자</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="3">데이터가 없습니다</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					NOSP 최근 광고결과
					<a href="/v1/advertising_result_list.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<table class="table table-bordered">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 70px;">상품명</th>
								<th style="width: 120px;">진행일시</th>
								<th style="width: 100px;">브랜드</th>
								<th style="width: 80px;">노출수</th>
								<th style="width: 80px;">클릭수</th>
								<th style="width: 80px;">클릭률</th>
								<th style="width: 100px;">광고비</th>
								<th style="width: 80px;">대행수수료</th>
								<th style="width: 100px;">VAT(포함)</th>
							</tr>
						</thead>
						<tbody>
							<{if $nosp_result_list}>
								<{assign var=back_idx value=0}>
								<{foreach from=$nosp_result_list key=am_no item=am_data}>
									<{assign var=am_idx value=0}>
									<{foreach from=$am_data.brand_data key=brand item=brand_data}>
										<tr <{if $back_idx%2 == 0}>style="background-color: rgba(0,0,0,.05);"<{/if}>>
											<{if $am_idx == 0}>
												<td class="text-center" rowspan="<{$am_data.total_cnt}>"><{$am_data.prd_name}></td>
												<td class="text-center" rowspan="<{$am_data.total_cnt}>"><{$am_data.adv_date}></td>
											<{/if}>
											<td class="text-left"><{$brand_data.brand_name}></td>
											<td class="text-right"><{$brand_data.impressions|number_format:0}></td>
											<td class="text-right"><{$brand_data.click_cnt|number_format:0}></td>
											<td class="text-right"><{$brand_data.click_per|number_format:2}></td>
											<td class="text-right"><{$brand_data.adv_price|number_format:0}></td>
											<td class="text-right font-blue"><{$brand_data.fee_price|number_format:0}></td>
											<td class="text-right"><{$brand_data.cal_price|number_format:0}></td>
										</tr>
										<{assign var=am_idx value=$am_idx+1}>
									<{/foreach}>
									<{assign var=back_idx value=$back_idx+1}>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="9">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					월별 NOSP 광고결과 분석
					<a href="/v1/advertising_result_stats.php?sch_result_type=date&sch_adv_s_date=<{$nosp_stats_s_date}>&sch_adv_e_date=<{$nosp_stats_e_date}>&sch_media=265&sch_product=1&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link stats_link stats_link_1">more</a>
					<a href="/v1/advertising_result_stats.php?sch_result_type=date&sch_adv_s_date=<{$nosp_stats_s_date}>&sch_adv_e_date=<{$nosp_stats_e_date}>&sch_media=265&sch_product=2&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link stats_link stats_link_2">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<div style="overflow: hidden;">
						<{foreach from=$nosp_product_option key=key item=label}>
							<{if $key < 3}>
								<button type="button" class="btn stats_btn <{if $key == '1'}>stats_btn_active<{/if}>" id="stats_btn_<{$key}>" onclick="drawNospStats('<{$key}>')"><{$label}></button>
							<{/if}>
						<{/foreach}>
					</div>
					<div id="nosp-stats-chart"></div>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					상품 판매 RANK (최근 1개월)
					<a href="/v1/work_cms_stats_product.php?sch_order_type=quantity&sch_order_s_date=<{$cms_recent_s_date}>&sch_order_e_date=<{$cms_recent_e_date}>&sch_price_type=1&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<div id="cms_rank_iframe_loading_msg" class="iframe_loading_msg">
						<img src="../images/loading.gif">
						<b>상품 판매 Rank 로딩중입니다.</b>
					</div>
					<iframe src="brand_main_base_iframe_cms_rank.php?sch_brand=<{$sch_brand}>" id="brand_main_cms_rank_iframe" width="800" height="300" frameborder="0"></iframe>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<div id="cms_settle_iframe_loading_msg" class="iframe_loading_msg">
					<img src="../images/loading.gif">
					<b>커머스 단품 상품별 정산률 로딩중입니다.</b>
				</div>
				<iframe src="brand_main_base_iframe_cms_settle.php?sch_brand=<{$sch_brand}>" id="brand_main_cms_settle_iframe" width="800" height="300" frameborder="0"></iframe>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					월별 물류비 정산
					<a href="/v1/work_cms_stats_tracking.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<div style="overflow: hidden;">
						<{foreach from=$work_track_option key=key item=label}>
							<button type="button" class="btn months_btn <{if $key == '1'}>months_btn_active<{/if}>" id="months_btn_<{$key}>"><{$label}></button>
						<{/foreach}>
					</div>
					<div id="work-track-month-chart"></div>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark text-center">
							<tr>
								<th style="width: 240px;">항목</th>
								<{foreach from=$work_track_date_list key=bad_date item=date_label}>
									<th style="width: 140px;"><{$date_label}></th>
								<{/foreach}>
							</tr>
						</thead>
						<tbody>
							<{if $work_track_table_list}>
								<{foreach from=$work_track_name_list key=track_key item=track_name}>
									<tr>
										<td class="text-left"><{$track_name}></td>
										<{foreach from=$work_track_date_list key=track_date item=date_label}>
											<td class="text-right">₩<{$work_track_table_list[$track_date][$track_key]|number_format:0}></td>
										<{/foreach}>
									</tr>
								<{/foreach}>
								<tr style="background: #CCC;">
									<td class="text-center">Total</td>
									<{foreach from=$work_track_date_list key=track_date item=date_label}>
										<td class="text-right">₩<{$work_track_total_list[$track_date]|number_format:0}></td>
									<{/foreach}>
								</tr>
							<{else}>
								<tr>
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>

			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					재고 현황 내역
					<a href="/v1/product_cms_stock_stats.php?<{$sch_brand_url}>&ord_type=total_qty&sch_unit_type=" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div class="bm-table-wrapper">
					<div style="overflow: hidden;">
						<{foreach from=$unit_type_option key=key item=label}>
						<button type="button" class="btn unit_type_btn <{if $key == '1'}>unit_type_btn_active<{/if}>" id="unit_type_btn_<{$key}>" onclick="showStockTable('<{$key}>')">위드(<{$label}>)</button>
						<{/foreach}>
					</div>
					<table class="table table-bordered table-striped" id="with-stock-prd-table">
						<thead class="thead-dark text-center">
						<tr>
							<th style="width: 300px;">구성품목명</th>
							<th style="width: 200px;">제조사</th>
							<th style="width: 100px;">재고수량</th>
							<th style="width: 100px;">전월판매<br/>반출수</th>
							<th style="width: 100px;">예상소진<br/>잔여일</th>
						</tr>
						</thead>
						<tbody>
							<{if $with_stock_prd_list}>
								<{foreach from=$with_stock_prd_list item=with_stock}>
									<tr>
										<td class="text-left"><{$with_stock.option_name}></td>
										<td class="text-left"><{$with_stock.sup_c_name}></td>
										<td class="text-right"><{$with_stock.total_qty|number_format:0}></td>
										<td class="text-right"><{$with_stock.report_qty|number_format:0}></td>
										<td class="text-right"><{$with_stock.exp_day|number_format:0}>일</td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
					<table class="table table-bordered table-striped" id="with-stock-unit-table">
						<thead class="thead-dark text-center">
						<tr>
							<th style="width: 300px;">구성품목명</th>
							<th style="width: 200px;">제조사</th>
							<th style="width: 100px;">재고수량</th>
							<th style="width: 100px;">전월판매<br/>반출수</th>
							<th style="width: 100px;">예상소진<br/>잔여일</th>
						</tr>
						</thead>
						<tbody>
							<{if $with_stock_unit_list}>
								<{foreach from=$with_stock_unit_list item=with_stock}>
									<tr>
										<td class="text-left"><{$with_stock.option_name}></td>
										<td class="text-left"><{$with_stock.sup_c_name}></td>
										<td class="text-right"><{$with_stock.total_qty|number_format:0}></td>
										<td class="text-right"><{$with_stock.report_qty|number_format:0}></td>
										<td class="text-right"><{$with_stock.exp_day|number_format:0}>일</td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="5">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#brand_main_cms_report_iframe").load(function(){
			$("#cms_iframe_loading_msg").hide();
			$(this).show();
			fixIframeHeight(this);
		});

		$("#brand_main_traffic_conversion_iframe").load(function(){
			$("#conversion_iframe_loading_msg").hide();
			$(this).show();
			fixConversionIframeHeight(this);
		});

		$("#brand_main_cms_count_iframe").load(function(){
			$("#cms_count_iframe_loading_msg").hide();
			$(this).show();
			fixConversionIframeHeight(this, 40);
		});

		$("#brand_main_cms_rank_iframe").load(function(){
			$("#cms_rank_iframe_loading_msg").hide();
			$(this).show();
			fixConversionIframeHeight(this);
		});

		$("#brand_main_cms_settle_iframe").load(function(){
			$("#cms_settle_iframe_loading_msg").hide();
			$(this).show();
			fixConversionIframeHeight(this, 40);
		});
	});

	function searchNospType(type) {
		$(".nosp_btn").removeClass("nosp_btn_active");
		$("#nosp_btn_"+type).addClass("nosp_btn_active");

		if(type == '3'){
			$(".nosp-confirm-class").show();
			$(".nosp-request-class").hide();
		}else if(type == '1'){
			$(".nosp-request-class").show();
			$(".nosp-confirm-class").hide();
		}else if(type == '2'){
			location.href='/v1/advertising_management.php?ord_page_type=100&quick_btn=1&sch_adv_s_date=&sch_adv_e_date=&sch_no=&sch_media=&sch_product=&sch_state=1&sch_agency=&sch_application=&sch_is_application=&sch_notice=';
		}
	}

	function showStockTable(type) {
		$(".unit_type_btn").removeClass("unit_type_btn_active");
		$("#unit_type_btn_"+type).addClass("unit_type_btn_active");

		if(type == '2'){
			$("#with-stock-prd-table").hide();
			$("#with-stock-unit-table").show();
		}else{
			$("#with-stock-unit-table").hide();
			$("#with-stock-prd-table").show();
		}
	}

	function showOtherTable(type) {
		$(".other_type_btn").removeClass("other_type_btn_active");
		$("#other_type_btn_"+type).addClass("other_type_btn_active");

		if(type == '2'){
			$("#other-stock-qty-table").hide();
			$("#other-stock-price-table").show();
		}else{
			$("#other-stock-price-table").hide();
			$("#other-stock-qty-table").show();
		}
	}

	function fixIframeHeight(obj) {
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+100)+'px'
	}

	var badReportChart 		= echarts.init(document.getElementById('csm-bad-month-chart'),null, {renderer : 'canvas'});
	var trackReportChart 	= echarts.init(document.getElementById('work-track-month-chart'),null, {renderer : 'canvas'});

	var badReportData		= <{$csm_bad_report_chart_list}>;
	var badTitleData 		= <{$csm_bad_report_chart_name_list}>;

	var trackReportData		= <{$work_track_chart_list}>;
	var trackTitleData 		= <{$work_track_chart_name_list}>;

	drawLineChart(badReportChart, badReportData, badTitleData);
	drawLineChart(trackReportChart, trackReportData, trackTitleData);

	function drawLineChart(chart, countData, countTitleData)
	{
		var fullData 	= countData;
		var titleData 	= countTitleData;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push(item);
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			chart.setOption({
				grid: {
					top: '8%',
					left: '10%',
					right: '5%',
					bottom: '14%'
				},
				tooltip: {
					trigger: 'axis'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: [
					{
						data: pushData,
						type : 'line'
					}
				]
			});
		}
	}

	var agencyChart	= echarts.init(document.getElementById('agency-month-chart'),null, {renderer : 'canvas'});
	drawAgencyStats();

	function drawAgencyStats()
	{
		var fullData	= <{$agency_chart_list}>;
		var titleData 	= <{$agency_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if (convert_number > 0) {
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			agencyChart.setOption({
				grid: {
					left: "15%"
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: pushNameData
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#D99694"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: '클릭수',
						show: false,
					},
					{
						type: 'value',
						name: '횟수',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
						},
						axisLabel: {
							formatter: '{value}'
						}
					}
				],
				series: pushData
			});
		}
	}

	var statsChart 	= echarts.init(document.getElementById('nosp-stats-chart'),null, {renderer : 'canvas'});
	drawNospStats('1');

	function drawNospStats(type)
	{
		$(".stats_btn").removeClass("stats_btn_active");
		$("#stats_btn_"+type).addClass("stats_btn_active");
		$(".stats_link").hide();
		$(".stats_link_"+type).show();

		if(type == '2'){
			var fullData = <{$nosp_stats_special_chart_list}>;
		}else{
			var fullData = <{$nosp_stats_time_chart_list}>;
		}
		var titleData = <{$nosp_stats_date_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: item['type'],
					data: item['data'],
					yAxisIndex: idx,
					label: {
						show: true,
						position: 'top',
						formatter: function(d) {
							var convert_number = d.value;
							if (convert_number > 0) {
								convert_number = inputNumberFormat(d.value);
							}
							return convert_number;
						}
					},
					itemStyle: {
						color: item['color'],
					}
				});
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			statsChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: pushNameData
				},
				yAxis: [
					{
						type: 'value',
						name: '광고비',
						position: 'left',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BFBFFF"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: '클릭수',
						position: 'right',
						alignTicks: true,
						axisLine: {
							show: true,
							lineStyle: {
								color: "#BDBEBD"
							}
						},
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: 'CPC',
						show: false,
					}
				],
				series: pushData
			});
		}
	}

	var stockOtherChart 	= echarts.init(document.getElementById('stock-other-chart'),null, {renderer : 'canvas'});
	drawStockOtherStats();

	function drawStockOtherStats()
	{
		var fullData	= <{$stock_other_chart_list}>;
		var titleData 	= <{$stock_other_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					stack: 'unit',
					data: item['data'],
				});
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			stockOtherChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "10%",
					containLabel: true
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			});
		}
	}

	var withdrawChart 	= echarts.init(document.getElementById('withdraw-month-chart'),null, {renderer : 'canvas'});
	drawWithdrawStats();

	function drawWithdrawStats()
	{
		var fullData	= <{$withdraw_chart_list}>;
		var titleData 	= <{$withdraw_chart_name_list}>;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					stack: 'price',
					data: item['data'],
				});
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			withdrawChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "10%",
					containLabel: true
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			});
		}
	}

	function inputNumberFormat(value)
	{
		var convert_value = value;

		if(value != '-') // 첫입력 시 음수 예외
			convert_value = comma(uncomma(convert_value));

		return convert_value
	}

	function comma(str) {
		var parts = str.toString().split(".");
		return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
	}

	function uncomma(str) {
		return (parseFloat(str));
	}

	function searchDateType(type)
	{
		$(".date_btn").removeClass("date_btn_active");
		$("#date_btn_"+type).addClass("date_btn_active");
		$("#cms_iframe_loading_msg").show();
		$("#brand_main_cms_report_iframe").hide();

		var sch_brand = $("#sch_brand").val();
		var src = "brand_main_pure_iframe_cms_report.php?sch_brand="+sch_brand+"&sch_date_type="+type
		$("#brand_main_cms_report_iframe").attr("src",src);
	}

	function fixConversionIframeHeight(obj, height=10)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+height)+'px'
	}

	function loadTrafficConversionIframe(sch_brand, type){
		$(".conversion_date_type_btn").removeClass("conversion_date_type_active");
		$("#conversion_date_type_btn_"+type).addClass("conversion_date_type_active");

		$("#conversion_iframe_loading_msg").show();
		$("#brand_main_traffic_conversion_iframe").hide();

		var src = "brand_main_base_iframe_traffic_conversion.php?sch_brand="+sch_brand+"&sch_date_type="+type;
		$("#brand_main_traffic_conversion_iframe").attr("src",src);
	}
</script>

</body>
</html>
