<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	body{min-height: 500px;}
	.admin_content{width: 1655px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 11px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 11px;}

	.table th, .table td{vertical-align: middle;}
	.sales-price{color: blue; text-align: right;}
	.cost-price{color: red; text-align: right;}
	.zero-price{color: black; text-align: right;}
	.total-chart-wrapper{margin-top: 50px;}
	#total-chart{position: relative; width: 1652px; height: 400px;}
</style>

<div class="admin_content" style="padding: 0 !important;">
    <div>
        <div class="total-chart-wrapper">
            <div id="total-chart"></div>
        </div>
        <table class="table table-bordered" style="font-weight: bold; width: auto;">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="<{if $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 156px;<{/if}>"></th>
                    <{foreach from=$commerce_date_list key=date_key item=date_name}>
                        <th style="<{if $sch_date_type == 'week'}>min-width: 136px;<{elseif $sch_date_type == 'month'}>min-width: 200px;<{else}>min-width: 100px;<{/if}>"><{$date_name}></th>
                    <{/foreach}>
                </tr>
            </thead>
            <tbody>
                <{if $total_report_table_list}>
                    <tr>
                        <td>매출</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="sales-price">₩<{$total_report_table_list[$date_key].sales|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                    <tr>
                        <td>비용</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="cost-price">₩<{$total_report_table_list[$date_key].cost|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                    <tr>
                        <td>공헌이익</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="zero-price">₩<{$total_report_table_list[$date_key].profit|number_format:0}></td>
                        <{/foreach}>
                    </tr>
                    <tr style="background: lightgrey;">
                        <td>NET 매출</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="zero-price">
                                <{$total_report_table_list[$date_key].net_price|number_format:0}>
                            </td>
                        <{/foreach}>
                    </tr>
                    <tr style="background: lightgrey;">
                        <td>ROAS</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="zero-price">
                                <{$total_report_table_list[$date_key].roas|number_format:0}>%
                            </td>
                        <{/foreach}>
                    </tr>
                    <tr style="background: lightblue;">
                        <td>이익률</td>
                        <{foreach from=$commerce_date_list key=date_key item=date_name}>
                            <td class="zero-price">
                                <{$total_report_table_list[$date_key].profit_rate|number_format:2}>%
                            </td>
                        <{/foreach}>
                    </tr>
                <{else}>
                    <tr>
                        <td colspan="<{$commerce_date_cnt}>">데이터가 없습니다</td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var totalChart = echarts.init(document.getElementById('total-chart'), null, {renderer : 'svg'});
    drawTotalChart();

    function drawTotalChart()
    {
        var fullData = <{$total_date_chart_list}>;

        if(fullData != '')
        {
            var legendData = [];
            var legendList = <{$date_chart_name_list}>;

            $.each(legendList, function(idx, item){
                legendData.push(item);
            });

            var pushData = [];

            $.each(fullData, function(idx, item){
                pushData.push({
                    name: item['title'],
                    type: item['type'],
                    data: item['data'],
                    itemStyle: {
                        color: item['color'],
                    }
                });
            });

            totalChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: "7%",
                    left: "7%",
                    right: "7%"
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    data: legendData
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '매출',
                        position: 'left',
                        alignTicks: true,
                        axisLine: {
                            show: true,
                        },
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                    {
                        type: 'value',
                        name: '비용',
                        show: false,
                    },
                    {
                        type: 'value',
                        name: '공헌이익',
                        show: false,
                    }
                ],
                series: pushData
            });
        }
    }
</script>
</body>
</html>
