<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{min-height: 300px;}
    .admin_content{width: 798px; min-width: 790px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

    .table td, .table th{vertical-align: middle;}
    .table thead th{vertical-align: middle;}
    .bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
    .bm-section-label-link{margin-right: 10px; float: right;}
    .bm-table-wrapper .table{width: auto;}
    .bm-table-wrapper .table th{font-size: 12px;}
    .bm-table-wrapper .table td{font-size: 12px;}
    .bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}
    .font-red{color: red;}
</style>

<div class="admin_content">
    <h2 class="bm-section-label">
        커머스 단품 상품별 정산률
        <a href="/v1/work_cms_sales_settlement_product.php?sch_ord_s_date=<{$cms_settle_s_date}>&sch_ord_e_date=<{$cms_settle_e_date}>&sch_dp_company=<{$cms_settle_dp_c_no}>&<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
    </h2>
    <span class="font-red" style="display: inline-block;margin-bottom: 5px;">※ 구매처는 화면 로딩 때 마다 변경됩니다. 최저가 정산금이 낮은 10개 까지 보여줍니다.</span>
    <br/>
    <span>주문일시 : <{$cms_settle_s_date}> ~ <{$cms_settle_e_date}></span>
    <div class="bm-table-wrapper">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="width: 120px;">구매처</th>
                    <th style="width: 300px;">커머스 상품명</th>
                    <th style="width: 110px;">결제 대비 정산률</th>
                    <th style="width: 110px;">평균 결제금액<br/>(택배비 포함)</th>
                    <th style="width: 110px;">평균 정산금</th>
                    <th style="width: 110px;">최저가 정산금</th>
                </tr>
            </thead>
            <tbody>
                <{if $cms_settle_prd_list}>
                    <{assign var=settle_prd_idx value=0}>
                    <{assign var=cms_settle_cnt value=$cms_settle_prd_list|count}>
                    <{foreach from=$cms_settle_prd_list item=cms_settle_prd}>
                        <tr>
                            <{if $settle_prd_idx == 0}>
                                <td rowspan="<{$cms_settle_cnt}>" class="text-center"><{$cms_settle_prd.dp_c_name}></td>
                            <{/if}>
                            <td class="text-left"><{$cms_settle_prd.prd_name}></td>
                            <td class="text-center"><{$cms_settle_prd.total_avg_per|number_format:2}>%</td>
                            <td class="text-right" style="background: lightgrey;">₩<{$cms_settle_prd.avg_sales|number_format:0}></td>
                            <td class="text-right" style="background: lightsteelblue;">₩<{$cms_settle_prd.avg_settle|number_format:0}></td>
                            <td class="text-right" style="background: lightsteelblue;">₩<{$cms_settle_prd.min_settle|number_format:0}></td>
                        </tr>
                        <{assign var=settle_prd_idx value=$settle_prd_idx+1}>
                    <{/foreach}>
                <{else}>
                    <tr>
                        <td colspan="6">데이터가 없습니다</td>
                    </tr>
                <{/if}>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
