<{include file="inc/boot_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.table thead th{vertical-align: middle;}

	.nav-explain{font-size: 12px;font-weight: bold;}
	#brand_main_cms_report_iframe{display: none;}

	.date-wrapper{line-height: 35px;overflow: hidden;padding: 5px 0;}
	.date_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.date_btn_active{background-color: #CCC;}

	.admin_content{width: 1680px;}
	.admin_content .title{margin-bottom: 5px;}
	.bm-main-iframe-wrapper{width: 1680px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px; overflow: hidden;}
	.bm-main-wrapper{width: 1680px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px; overflow: hidden;}
	.bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
	.bm-section-label-link{margin-right: 10px; float: right;}

	.iframe_loading_msg{width: 400px; margin: 0 auto;}
	.iframe_loading_msg img{display: table; margin: 50px auto 30px;}
	.iframe_loading_msg b{font-size: 18px; display: table; margin: 0 auto;}

	.bm-main-left-wrapper, .bm-main-right-wrapper{width: 800px;}
	.bm-main-left-wrapper{float: left;}
	.bm-main-right-wrapper{float: right;}

	.bm-table-wrapper .table{width: auto;}
	.bm-table-wrapper .table th{font-size: 12px;}
	.bm-table-wrapper .table td{font-size: 12px;}
	.bm-table-wrapper .table .first{width: 200px;}
	.bm-table-wrapper .table .date-label{width: 150px;}
	.bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}

	.table-bordered td{border: 1px solid #BBB;}

	#q10-daily-sales-table td, #q10-hour-sales-table td, #q10-term-sales-table td{font-weight: bold;}
	#rakuten-daily-sales-table td, #rakuten-hour-sales-table td, #rakuten-term-sales-table td{font-weight: bold;}
	.table tbody td.total-price{background: #eee;}
	#q10-hour-sales-table, #rakuten-hour-sales-table{table-layout: fixed; width: auto; float: left;}
	#q10-term-sales-table, #rakuten-term-sales-table{table-layout: fixed; width: auto; margin-left: 100px; float: left;}

	.tbody-dark{color: #fff; background-color: #343a40; border-color: #454d55;}
	.cost-price{color: red;}
	.sales-price{color: blue;}
	.total-price{background: #DDD;}

	#cms-count-q10-chart,#cms-count-rakuten-chart{position: relative; width: 798px; height: 200px;}
</style>

<div class="admin_content">
	<h2 class="title">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span class="nav-explain">매출, 비용, 주문, 반품, 재구매, 재고, 발주, 물류, 이벤트, 상품, 구성품, 정산, 부가세 등 맞춤 데이터 정보와 게시판, 일정 등을 설정할 수 있습니다.</span>

	<div class="bm-main-iframe-wrapper">
		<input type="hidden" name="sch_brand" id="sch_brand" value="<{$sch_brand}>">
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 매출 및 비용관리
			<a href="/v1/media_commerce_auto_report.php?<{$sch_brand_url}>" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="date-wrapper">
			<{foreach from=$bm_date_type_option key=key item=label}>
				<button type="button" id="date_btn_<{$key}>" class="btn date_btn <{if $sch_date_type == $key}>date_btn_active<{/if}>" onclick="searchDateType('<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
		<div id="cms_iframe_loading_msg" class="iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>WISE BM 매출 및 비용관리 로딩중입니다.</b>
		</div>
		<iframe src="brand_main_global_iframe_cms_report.php?sch_brand=<{$sch_brand}>" id="brand_main_cms_report_iframe" width="1660" height="200" frameborder="0"></iframe>
	</div>

	<div class="bm-main-wrapper">
		<h2 class="bm-section-label">
			[Qoo 10] 비용 및 매출
			<a href="/v1/media_commerce_auto_report.php?sch_brand_g1=70002&sch_brand_g2=70015&sch_brand=5979&sch_s_date=<{$cms_s_date}>&sch_e_date=<{$cms_e_date}>&sch_date_type=1" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col width="320px;"> <!-- 구분 -->
					<{foreach from=$commerce_date_list key=date_key item=date_label}>
						<col width="120px;"> <!-- 날짜 -->
					<{/foreach}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col" style="background: #FFF; border-color: #DEE2E6"></th>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<th scope="col"><{$date_label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tbody-dark">Qoo10_아이레놀(일본) 무료배송비</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[1816][$date_key]['delivery']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">SNS광고</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[1816][$date_key]['09058']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">큐텐 파워랭크업</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[1816][$date_key]['09076']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">큐텐 스마트세일즈</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[1816][$date_key]['09077']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">지출 총 합계</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price total-price"><{$cost_total_list[1816][$date_key]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td colspan="12" style="height: 30px; border: 0;"></td>
					</tr>
					<tr>
						<td class="tbody-dark">Qoo10_아이레놀(일본)</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price"><{$sales_total_list[1816][$date_key]['cms']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">Qoo10_아이레놀(일본) 배송비</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price">0</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">Q10</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price"><{$sales_total_list[1816][$date_key]['08030']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">매출 총 합계</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price total-price"><{$sales_total_list[1816][$date_key]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-wrapper">
		<h2 class="bm-section-label">
			[Rakuten] 비용 및 매출
			<a href="/v1/media_commerce_auto_report.php?sch_brand_g1=70002&sch_brand_g2=70015&sch_brand=5979&sch_s_date=<{$cms_s_date}>&sch_e_date=<{$cms_e_date}>&sch_date_type=1" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<colgroup>
					<col width="320px;"> <!-- 구분 -->
					<{foreach from=$commerce_date_list key=date_key item=date_label}>
						<col width="120px;"> <!-- 날짜 -->
					<{/foreach}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col" style="background: #FFF; border-color: #DEE2E6"></th>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
						<th scope="col"><{$date_label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tbody-dark">Rakuten_아이레놀(일본) 무료배송비</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[5661][$date_key]['delivery']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">라쿠텐 키워드광고</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price"><{$cost_total_list[5661][$date_key]['09057']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">지출 총 합계</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right cost-price total-price"><{$cost_total_list[5661][$date_key]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td colspan="12" style="height: 30px; border: 0;"></td>
					</tr>
					<tr>
						<td class="tbody-dark">Rakuten_아이레놀(일본)</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price"><{$sales_total_list[5661][$date_key]['cms']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">Rakuten_아이레놀(일본) 배송비</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price">0</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">라쿠텐</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price"><{$sales_total_list[5661][$date_key]['08030']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="tbody-dark">매출 총 합계</td>
						<{foreach from=$commerce_date_list key=date_key item=date_label}>
							<td class="text-right sales-price total-price"><{$sales_total_list[5661][$date_key]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-wrapper">
		<b style="font-size: 14px;">[기간] <{$daily_s_date_text}> ~ <{$daily_e_date_text}>_지난 7일간</b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 현황(Qoo10_아이레놀)
			<a href="/v1/work_cms_stats_sales_daily_etc.php?sch_ord_s_date=<{$daily_s_date}>&sch_ord_e_date=<{$daily_e_date}>&<{$sch_brand_url}>&sch_dp_company=1816" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="q10-daily-sales-table">
				<colgroup>
					<col width="100px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 기간Total -->
					<{if $daily_date_list}>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<col width="120px;"> <!-- 날짜 -->
						<{/foreach}>
					<{/if}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">기간Total</th>
						<{if $daily_date_list}>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<th scope="col"><{$date_label}></th>
							<{/foreach}>
						<{/if}>
					</tr>
				</thead>
				<tbody>
					<{if $daily_sales_list}>
						<tr>
							<td class="first text-center">Total</td>
							<td class="text-right"><{$daily_sales_total_price[1816]|number_format:0}></td>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<{assign var=date_per value=round(($daily_date_total_list[1816][$date_key]-$daily_date_total_list[1816]["min"])/($daily_date_total_list[1816]["max"]-$daily_date_total_list[1816]["min"]),2)}>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[1816][$date_key]|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<tr>
								<td class="first text-center">
									<{$hour_label}><br/>
									<{assign var=hour_per value=round($daily_hour_total_list[1816][$hour_key]/$daily_hour_total_list[1816]["max"],2)}>
								</td>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[1816][$hour_key]|number_format:0}></td>
								<{foreach from=$daily_date_list key=date_key item=date_label}>
									<{assign var=daily_per value=round($daily_sales_list[1816][$date_key][$hour_key]/$daily_sales_list[1816][$date_key]["max"],2)}>
									<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[1816][$date_key][$hour_key]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-wrapper">
		<b style="font-size: 14px;">[기간] 비교일(B) : <{$prev_daily_s_date_text}> ~ <{$prev_daily_e_date_text}> vs 기준일(A) : <{$daily_s_date_text}> ~ <{$daily_e_date_text}></b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 비교(Qoo10_아이레놀)
			<a href="/v1/work_cms_stats_sales_term_etc.php?sch_base_s_date=<{$daily_s_date}>&sch_base_e_date=<{$daily_e_date}>&sch_comp_s_date=<{$prev_daily_s_date}>&sch_comp_e_date=<{$prev_daily_e_date}>&<{$sch_brand_url}>&sch_dp_company=1816" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="q10-hour-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_hour_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list[1816].comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list[1816].comp_per|number_format:1}>%
								<{if $sales_term_total_list[1816].comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list[1816].comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list[1816].base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<{assign var=hour_base_per value=round($sales_term_hour_list[1816][$hour_key].base_price/$sales_term_total_list[1816]["hour_base_max"],2)}>
							<{assign var=hour_comp_per value=round($sales_term_hour_list[1816][$hour_key].comp_price/$sales_term_total_list[1816]["hour_comp_max"],2)}>
							<tr>
								<td class="first text-center"><{$hour_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_comp_per}>);"><{$sales_term_hour_list[1816][$hour_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_hour_list[1816][$hour_key].comp_per|number_format:1}>%
									<{if $sales_term_hour_list[1816][$hour_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_hour_list[1816][$hour_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_base_per}>);"><{$sales_term_hour_list[1816][$hour_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
			<table class="table table-bordered" id="q10-term-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_date_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list[1816].comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list[1816].comp_per|number_format:1}>%
								<{if $sales_term_total_list[1816].comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list[1816].comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list[1816].base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<{assign var=date_base_per value=round(($sales_term_date_list[1816][$date_key].base_price-$sales_term_total_list[1816]["date_base_min"])/($sales_term_total_list[1816]["date_base_max"]-$sales_term_total_list[1816]["date_base_min"]),2)}>
							<{assign var=date_comp_per value=round(($sales_term_date_list[1816][$date_key].comp_price-$sales_term_total_list[1816]["date_comp_min"])/($sales_term_total_list[1816]["date_comp_max"]-$sales_term_total_list[1816]["date_comp_min"]),2)}>
							<tr>
								<td class="first text-center"><{$date_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_comp_per}>);"><{$sales_term_date_list[1816][$date_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_date_list[1816][$date_key].comp_per|number_format:1}>%
									<{if $sales_term_date_list[1816][$date_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_date_list[1816][$date_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_base_per}>);"><{$sales_term_date_list[1816][$date_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
					</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-wrapper">
		<b style="font-size: 14px;">[기간] <{$daily_s_date_text}> ~ <{$daily_e_date_text}>_지난 7일간</b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 현황(Rakuten_아이레놀)
			<a href="/v1/work_cms_stats_sales_daily_etc.php?sch_ord_s_date=<{$daily_s_date}>&sch_ord_e_date=<{$daily_e_date}>&<{$sch_brand_url}>&sch_dp_company=5661" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="rakuten-daily-sales-table">
				<colgroup>
					<col width="100px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 기간Total -->
					<{if $daily_date_list}>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<col width="120px;"> <!-- 날짜 -->
						<{/foreach}>
					<{/if}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">기간Total</th>
						<{if $daily_date_list}>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<th scope="col"><{$date_label}></th>
							<{/foreach}>
						<{/if}>
					</tr>
				</thead>
				<tbody>
					<{if $daily_sales_list}>
						<tr>
							<td class="first text-center">Total</td>
							<td class="text-right"><{$daily_sales_total_price[5661]|number_format:0}></td>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<{assign var=date_per value=round(($daily_date_total_list[5661][$date_key]-$daily_date_total_list[5661]["min"])/($daily_date_total_list[5661]["max"]-$daily_date_total_list[5661]["min"]),2)}>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[5661][$date_key]|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<tr>
								<td class="first text-center">
									<{$hour_label}><br/>
									<{assign var=hour_per value=round($daily_hour_total_list[5661][$hour_key]/$daily_hour_total_list[5661]["max"],2)}>
								</td>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[5661][$hour_key]|number_format:0}></td>
								<{foreach from=$daily_date_list key=date_key item=date_label}>
									<{assign var=daily_per value=round($daily_sales_list[5661][$date_key][$hour_key]/$daily_sales_list[5661][$date_key]["max"],2)}>
									<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[5661][$date_key][$hour_key]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-main-wrapper">
		<b style="font-size: 14px;">[기간] 비교일(B) : <{$prev_daily_s_date_text}> ~ <{$prev_daily_e_date_text}> vs 기준일(A) : <{$daily_s_date_text}> ~ <{$daily_e_date_text}></b>
		<h2 class="bm-section-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 비교(Rakuten_아이레놀)
			<a href="/v1/work_cms_stats_sales_term_etc.php?sch_base_s_date=<{$daily_s_date}>&sch_base_e_date=<{$daily_e_date}>&sch_comp_s_date=<{$prev_daily_s_date}>&sch_comp_e_date=<{$prev_daily_e_date}>&<{$sch_brand_url}>&sch_dp_company=5661" target="_blank" class="bm-section-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="rakuten-hour-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
				<tr>
					<th scope="col">구분</th>
					<th scope="col">비교일(B)</th>
					<th scope="col">(증감률)</th>
					<th scope="col">기준일(A)</th>
				</tr>
				</thead>
				<tbody>
					<{if $sales_term_hour_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list[5661].comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list[5661].comp_per|number_format:1}>%
								<{if $sales_term_total_list[5661].comp_per > 0}>
									<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list[5661].comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list[5661].base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<{assign var=hour_base_per value=round($sales_term_hour_list[5661][$hour_key].base_price/$sales_term_total_list[5661]["hour_base_max"],2)}>
							<{assign var=hour_comp_per value=round($sales_term_hour_list[5661][$hour_key].comp_price/$sales_term_total_list[5661]["hour_comp_max"],2)}>
							<tr>
								<td class="first text-center"><{$hour_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_comp_per}>);"><{$sales_term_hour_list[5661][$hour_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_hour_list[5661][$hour_key].comp_per|number_format:1}>%
									<{if $sales_term_hour_list[5661][$hour_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_hour_list[5661][$hour_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_base_per}>);"><{$sales_term_hour_list[5661][$hour_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
			<table class="table table-bordered" id="rakuten-term-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_date_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list[5661].comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list[5661].comp_per|number_format:1}>%
								<{if $sales_term_total_list[5661].comp_per > 0}>
								<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list[5661].comp_per < 0}>
								<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list[5661].base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<{assign var=date_base_per value=round(($sales_term_date_list[5661][$date_key].base_price-$sales_term_total_list[5661]["date_base_min"])/($sales_term_total_list[5661]["date_base_max"]-$sales_term_total_list[5661]["date_base_min"]),2)}>
							<{assign var=date_comp_per value=round(($sales_term_date_list[5661][$date_key].comp_price-$sales_term_total_list[5661]["date_comp_min"])/($sales_term_total_list[5661]["date_comp_max"]-$sales_term_total_list[5661]["date_comp_min"]),2)}>
							<tr>
								<td class="first text-center"><{$date_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_comp_per}>);"><{$sales_term_date_list[5661][$date_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_date_list[5661][$date_key].comp_per|number_format:1}>%
									<{if $sales_term_date_list[5661][$date_key].comp_per > 0}>
									<span style="color: red;">▲</span>
									<{elseif $sales_term_date_list[5661][$date_key].comp_per < 0}>
									<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_base_per}>);"><{$sales_term_date_list[5661][$date_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>
	<div class="bm-main-wrapper">
		<div class="bm-main-left-wrapper">
			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					[<{$bm_type_name}>] 주문수(Qoo10_아이레놀)
					<a href="/v1/media_commerce_count_report.php?<{$sch_brand_url}>&sch_s_week=<{$count_s_week}>&sch_e_week=<{$count_e_week}>&sch_date_type=2&sch_dp_c_no=1816" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div id="cms-count-q10-chart"></div>
				<div class="bm-table-wrapper">
					<table class="table table-bordered">
						<thead class="thead-dark text-center">
							<tr>
								<th class="first"></th>
								<{foreach from=$commerce_count_date_list key=date_key item=label}>
									<th class="date-label"><{$label}></th>
								<{/foreach}>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-left">Qoo10_아이레놀(일본)</th>
								<{foreach from=$commerce_count_date_list key=date_key item=label}>
									<td class="text-right"><{$cms_count_list[$date_key]['1816']|number_format:0}></td>
								<{/foreach}>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="bm-main-right-wrapper">
			<div class="bm-section-wrapper">
				<h2 class="bm-section-label">
					[<{$bm_type_name}>] 주문수(Rakuten_아이레놀)
					<a href="/v1/media_commerce_count_report.php?<{$sch_brand_url}>&sch_s_week=<{$count_s_week}>&sch_e_week=<{$count_e_week}>&sch_date_type=2&sch_dp_c_no=5661" target="_blank" class="bm-section-label-link">more</a>
				</h2>
				<div id="cms-count-rakuten-chart"></div>
				<div class="bm-table-wrapper">
					<table class="table table-bordered">
						<thead class="thead-dark text-center">
							<tr>
								<th class="first"></th>
								<{foreach from=$commerce_count_date_list key=date_key item=label}>
									<th class="date-label"><{$label}></th>
								<{/foreach}>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-left">Rakuten_아이레놀(일본)</th>
								<{foreach from=$commerce_count_date_list key=date_key item=label}>
									<td class="text-right"><{$cms_count_list[$date_key]['5661']|number_format:0}></td>
								<{/foreach}>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#brand_main_cms_report_iframe").load(function(){
			$("#cms_iframe_loading_msg").hide();
			$(this).show();
			fixIframeHeight(this);
		});
	});

	function fixIframeHeight(obj) {
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+100)+'px'
	}

	function searchDateType(type)
	{
		$(".date_btn").removeClass("date_btn_active");
		$("#date_btn_"+type).addClass("date_btn_active");
		$("#cms_iframe_loading_msg").show();
		$("#brand_main_cms_report_iframe").hide();

		var sch_brand = $("#sch_brand").val();
		var src = "brand_main_global_iframe_cms_report.php?sch_brand="+sch_brand+"&sch_date_type="+type
		$("#brand_main_cms_report_iframe").attr("src",src);
	}

	var cmsCountChart1   = echarts.init(document.getElementById('cms-count-q10-chart'),null, {renderer : 'canvas'});
	var cmsCountChart2   = echarts.init(document.getElementById('cms-count-rakuten-chart'),null, {renderer : 'canvas'});
	var cmsCountData    = <{$cms_count_total_list}>;
	var countTitleData  = <{$count_chart_name_list}>;


	drawLineChart(cmsCountChart1, cmsCountData, countTitleData, '1816');
	drawLineChart(cmsCountChart2, cmsCountData, countTitleData, '5661');

	function drawLineChart(chart, countData, countTitleData, brand)
	{
		var fullData 	= countData;
		var titleData 	= countTitleData;

		if(fullData != '')
		{
			var pushData 	 = [];
			var pushNameData = [];

			$.each(fullData[brand], function(idx, item){
				pushData.push(item);
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			chart.setOption({
				grid: {
					top: '8%',
					left: '10%',
					right: '5%',
					bottom: '14%'
				},
				tooltip: {
					trigger: 'axis'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						formatter: '{value}'
					}
				},
				series: [
					{
						data: pushData,
						type : 'line'
					}
				]
			});
		}
	}
</script>

</body>
</html>
