<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	body{min-height: 300px;}
    .admin_content{width: 798px; min-width: 790px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

    .bm-section-wrapper{overflow: hidden; clear: both; min-height: 400px;}
    .table td, .table th{vertical-align: middle;}
    .table thead th{vertical-align: middle;}
    .bm-section-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
    .bm-section-label-link{margin-right: 10px; float: right;}
    .bm-table-wrapper .table{width: auto;}
    .bm-table-wrapper .table th{font-size: 12px;}
    .bm-table-wrapper .table td{font-size: 12px;}
    .bm-table-wrapper .table tbody th{color: #fff; background-color: #343a40; border-color: #454d55;}

    #unit-cms-chart{position: relative; width: 798px; height: 500px; border: 1px solid #ccc;}
    #prd-count-chart{position: relative; width: 798px; height: 500px; border: 1px solid #ccc;}
</style>

<div class="admin_content">
    <div class="bm-section-wrapper">
        <h2 class="bm-section-label">
            택배 리스트(구성품) 통계
            <a href="/v1/stats/wise_work_01c.php?<{$sch_brand_url}>&sch_kind=2&sch_mon_s_date=<{$unit_cms_s_month}>&sch_mon_e_date=<{$unit_cms_e_month}>&sch_s_no_kind=ord_s_no&sch_team=all&sch_s_no=&sch_dp_c_no=" target="_blank" class="bm-section-label-link">more</a>
        </h2>
        <div id="unit-cms-chart"></div>
        <div class="bm-table-wrapper">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark text-center">
                    <tr>
                        <th style="width: 300px;">구성품목명</th>
                        <{foreach from=$unit_cms_date_list key=cms_date item=date_label}>
                            <th style="width: 85px;"><{$date_label}></th>
                        <{/foreach}>
                    </tr>
                </thead>
                <tbody>
                    <{if $unit_cms_title_list}>
                        <{foreach from=$unit_cms_title_list key=prd_unit item=unit_name}>
                            <tr>
                                <td class="text-left"><{$unit_name}></td>
                                <{foreach from=$unit_cms_date_list key=cms_date item=date_label}>
                                    <td class="text-right"><{$unit_cms_table_list[$cms_date][$prd_unit]|number_format:0}></td>
                                <{/foreach}>
                            </tr>
                        <{/foreach}>
                    <{else}>
                        <tr>
                            <td colspan="7">데이터가 없습니다</td>
                        </tr>
                    <{/if}>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bm-section-wrapper">
        <h2 class="bm-section-label">
            상품별 주문수 통계
            <a href="/v1/media_commerce_count_report.php?sch_brand_val=&sch_brand_g1=70002&sch_brand_g2=70015" target="_blank" class="bm-section-label-link">more</a>
        </h2>
        <div id="prd-count-chart"></div>
    </div>
</div>
<script type="text/javascript">
    var unitCmsChart 	= echarts.init(document.getElementById('unit-cms-chart'),null, {renderer : 'canvas'});
    drawUnitCmsStats();

    function drawUnitCmsStats()
    {
        var fullData	= <{$unit_cms_chart_list}>;
        var titleData 	= <{$unit_cms_chart_name_list}>;

        if(fullData != '')
        {
            var pushData 	 = [];
            var pushNameData = [];

            $.each(fullData, function(idx, item){
                pushData.push({
                    name: item['title'],
                    type: 'bar',
                    stack: 'unit',
                    data: item['data'],
                });
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            unitCmsChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: "10%",
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData
                },
                yAxis: {
                    type: 'value'
                },
                series: pushData
            });
        }
    }

    var prdCountChart = echarts.init(document.getElementById('prd-count-chart'),null, {renderer : 'canvas'});
    drawPrdCountStats();

    function drawPrdCountStats()
    {
        var totalData 	= <{$prd_cms_chart_total_list}>;
        var fullData	= <{$prd_cms_chart_list}>;
        var titleData 	= <{$prd_cms_chart_name_list}>;

        if(fullData != '')
        {
            var pushTotalData 	= [];
            var pushData 	 	= [];
            var pushNameData 	= [];

            $.each(totalData, function(idx, item){
                pushTotalData.push(item)
            });

            $.each(fullData, function(idx, item){
                pushData.push({
                    name: item['title'],
                    type: 'bar',
                    stack: 'total',
                    color: item['color'],
                    barWidth: '60%',
                    label: {
                        show: true,
                        formatter: (params) => Math.round(params.value * 1000) / 10 + '%'
                    },
                    data: item['data'].map((d, did) => pushTotalData[did] <= 0 ? 0 : d / pushTotalData[did])
                });
            });

            $.each(titleData, function(idx, item){
                pushNameData.push(item);
            });

            prdCountChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    valueFormatter: (value) => Math.round(value* 1000) / 10 + '%'
                },
                grid: {
                    left: 50,
                    right: 50,
                    top: 50,
                    bottom: 20,
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: pushNameData
                },
                yAxis: {
                    type: 'value'
                },
                series: pushData
            });
        }
    }
</script>
</body>
</html>
