<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-control{font-size: 12px; padding: 5px;}
	.form-group .form-control{margin-right: 15px;}
	.form-group .custom-combobox .form-control{margin-right: 5px;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.nav-explain{font-size: 12px;font-weight: bold;}
	#search_form{overflow: hidden; display: block; margin-top: 30px;}
	#total_main_cms_report_iframe{display: none;}

	.date-wrapper{line-height: 35px;overflow: hidden;padding: 5px 0;}
	.base_btn{background-color: #EEE; font-weight: bold; width: 156px; height: 30px; margin: 0; line-height: 14px; float: left; font-size: 14px; border-radius: unset; border: 1px solid #999;}
	.base_btn_active{background-color: #CCC;}
	.date_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.date_btn_active{background-color: #CCC;}

	.admin_content{width: 1680px;}
	.admin_content .title{margin-bottom: 5px;}
	.bm-total-wrapper{width: 1600px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px;}
	.bm-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
	.bm-total-label-link{margin-right: 10px; float: right;}

	.iframe_loading_msg{width: 400px;}
	.iframe_loading_msg img{display: table; margin: 50px auto 30px;}
	.iframe_loading_msg b{font-size: 18px; display: table; margin: 0 auto;}
	
	.bm-table-wrapper{width: 1560px; margin: 20px 0;}
	.bm-table-wrapper .table{width: auto;}
	.bm-table-wrapper .table th{font-size: 12px;}
	.bm-table-wrapper .table td{font-size: 12px;}
	.bm-table-wrapper .table th.first{width: 200px;}
	.bm-table-wrapper .table th.second{width: 160px;}
	.bm-table-wrapper .table th.month-label{width: 150px;}
	.bm-table-wrapper .table th.date-label{width: 120px;}

	.sales-price{color: blue; font-weight: bold; text-align: right;}
	.cost-price{color: red; font-weight: bold; text-align: right;}
	.base-price{color: black; font-weight: bold; text-align: right;}
	.count-data{color: black; font-weight: bold; text-align: right;}
	.font-bold{font-weight: bold;}
	.font-red{color: red;}
	.font-gray{color: gray;}
	.dark-gray-background{background: #CCC;}
	.gray-background{background: #DDD;}
	.light-gray-background{background: #EEE;}
	.table-bordered td{border: 1px solid #BBB;}
</style>

<div class="admin_content">
	<h2 class="title">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span class="nav-explain">커머스 전체와 브랜드별 매출 비용에 대한 통계정보를 볼 수 있습니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="total_main.php" autocomplete="off">
		<input type="hidden" name="sch_base_type" id="sch_base_type" value="<{$sch_base_type}>">
		<{foreach from=$bm_type_option key=key item=label}>
			<button type="button" class="btn base_btn <{if $sch_base_type == $key}>base_btn_active<{/if}>" onclick="searchBaseType('<{$key}>')"><{$label}></button>
		<{/foreach}>
	</form>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 매출 및 비용관리(월정산)</h2>
		<div class="date-wrapper">
			<button type="button" class="btn date_btn date_btn_active" id="date_btn_<{$key}>" onclick="searchDateType('month')">월별</button>
		</div>
		<div class="iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>WISE BM 매출 및 비용관리 로딩중입니다.</b>
		</div>
		<iframe src="total_main_base_iframe_cms_report.php?sch_base_type=<{$sch_base_type}>" width="1585" height="200" frameborder="0" id="total_main_cms_report_iframe"></iframe>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 자사몰 매출 (카페24, 스마트스토어)</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold" rowspan="3">합계</td>
						<td class="text-left font-bold">카페24 밀리옹</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['total'].cafe|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">스마트스토어</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['total'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['total'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="3">밀리옹</td>
						<td class="text-left font-bold">카페24 밀리옹</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['1'].cafe|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">스마트스토어</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['1'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['1'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="3">뉴 밀링백</td>
						<td class="text-left font-bold">카페24 밀리옹</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['47'].cafe|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">스마트스토어</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['47'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price"><{$self_report_list[$key_month]['47'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 주문수</h2>
		<span class="font-gray">※주문수는 합배송 포함된 수 입니다.</span>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$cms_count_list[$key_month]['total'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">밀리옹</td>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$cms_count_list[$key_month]['1'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">뉴 밀링백</td>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$cms_count_list[$key_month]['47'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 반품수/교환수</h2>
		<span class="font-gray">※본 데이터는 밀리옹 담당자가 수동으로 업로드 합니다.</span><br/>
		<span class="font-gray">[Last Upload] 카페24 밀리옹 반품 <span class="font-red"><{$last_return_list[1]}></span>, 카페24 밀리옹 교환 <span class="font-red"><{$last_return_list[2]}></span></span>

		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th class="month-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['total'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">밀리옹</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['1'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">뉴 밀링백</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['47'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th class="month-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['total'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">밀리옹</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['1'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">뉴 밀링백</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['47'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper" style="overflow-x: scroll;">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 상품별 결제금액 및 제품원가 (원가율)</h2>
		<span class="font-gray">※ 주의 : 오프라인 판매 등 택배 리스트에 없는 건은 포함하지 않습니다. 매출 총 합계는 반품/교환 환불금액을 차감한 금액 입니다.</span><br/>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first" rowspan="2" style="min-width: 200px;"></th>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th colspan="3"><{$label}></th>
						<{/foreach}>
					</tr>
					<tr>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<th class="date-label">매출 총 합계</th>
						<th class="date-label">제품원가</th>
						<th class="date-label">원가율</th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price">₩<{$mil_product_cost_list[$key_month]['total'].sales|number_format:0}></td>
						<td class="cost-price">₩<{$mil_product_cost_list[$key_month]['total'].cost|number_format:0}></td>
						<td class="base-price"><{$mil_product_cost_list[$key_month]['total'].cost_per|number_format:1}>%</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">밀리옹</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price">₩<{$mil_product_cost_list[$key_month]['1'].sales|number_format:0}></td>
						<td class="cost-price">₩<{$mil_product_cost_list[$key_month]['1'].cost|number_format:0}></td>
						<td class="base-price"><{$mil_product_cost_list[$key_month]['1'].cost_per|number_format:1}>%</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">뉴 밀링백</td>
						<{foreach from=$mil_custom_month_list key=key_month item=label}>
						<td class="sales-price">₩<{$mil_product_cost_list[$key_month]['47'].sales|number_format:0}></td>
						<td class="cost-price">₩<{$mil_product_cost_list[$key_month]['47'].cost|number_format:0}></td>
						<td class="base-price"><{$mil_product_cost_list[$key_month]['47'].cost_per|number_format:1}>%</td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#total_main_cms_report_iframe").load(function(){
			$(".iframe_loading_msg").hide();
			$(this).show();
			fixIframeHeight(this);
		});
	});

	function searchBaseType(type){
		document.search_form.sch_base_type.value = type;
		document.search_form.submit();
	}

	function searchDateType(type)
	{
		$(".date_btn").removeClass("date_btn_active");
		$("#date_btn_"+type).addClass("date_btn_active");
		$(".iframe_loading_msg").show();
		$("#total_main_cms_report_iframe").hide();

		var sch_base_type = $("#sch_base_type").val();
		var src = "total_main_base_iframe_cms_report.php?sch_base_type="+sch_base_type+"&sch_date_type="+type
		$("#total_main_cms_report_iframe").attr("src",src);
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+10)+'px'
	}
</script>

</body>
</html>
