<{include file="inc/iframe_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	body{min-height: 500px;}
	.admin_content{width: 1580px; min-width: 1310px !important; box-sizing: border-box; margin: 0 !important; padding: 0 10px !important; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle; font-size: 12px;}
	.table thead th{vertical-align: middle;}
	.table tbody button{padding: .12rem .7rem;}
	.form-group select, .form-group input{font-size: 12px;}

	.table th, .table td{vertical-align: middle;}
	.sales-price{color: blue; text-align: right;}
	.cost-price{color: red; text-align: right;}
	.zero-price{color: black; text-align: right;}
	.brand-chart-wrapper, .date-chart-wrapper{margin-top: 50px;}
	#brand-chart, #date-chart{position: relative; width: 1400px; height: 700px;}

	.nosp-result-wrapper td{padding: 5px 1px 1px 1px; border: 0;}
	.nosp-time-wrapper{margin-bottom: 2px;}
	.nosp-special-wrapper{margin-bottom: 2px;}
	.nosp-result-child{position: relative; cursor: pointer;}
	.nosp-result-link{text-decoration: none;}
	.nosp-result-link:hover{text-decoration: none;}
	.nosp-time-symbol{display: inline-block; width: 20px; height: 20px; background: #FFC000; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
	.nosp-special-symbol{display: inline-block; width: 20px; height: 20px; background: #00B0F0; color: white; border-radius: 10px; text-align: center; padding-top: 2px;}
	.nosp-special-wrapper{min-height: 23px;}
	.nosp-time-wrapper{min-height: 23px;}
	.nosp-each-link{float: left; display: inline-block; min-width: 64px; width: 64%; text-align: right;}
	.nosp-total-link{float: left; display: inline-block; width: 30px; min-height: 47px; padding-top: 25px;}
	.nosp-total-link img{width: 18px;}

	.m_over_display{display: none; position: absolute; bottom: -78px; left: 0px; padding: 10px 10px 5px 10px; color: #000; border: 1px solid #DDD; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		width: max-content; text-align: left;
		box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 15px;
		transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
		background-color: rgb(255, 255, 255);}
	.m_over_display_left:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-bottom-color: white; left: 60px; top: -20px;}
	.m_over_display_right{right: 0; left: unset}
	.m_over_display_right:before{position: absolute; content: ''; width:0; height: 0; border: 10px solid transparent; border-bottom-color: white; right: 60px; top: -20px;}
	.m_over_display .nosp-special-count{width: 15px; display: inline-block; text-align: center;}
	.m_over_display .nosp-special-symbol{margin-right: 5px;}
	.m_over_display .nosp-time-symbol{margin-right: 5px;}
</style>

<div class="admin_content" style="padding: 0 !important;">
	<div>
		<table class="table table-bordered" style="font-weight: bold; width: auto;">
			<thead class="thead-dark text-center">
				<{if $nosp_result_total > 0}>
					<tr class="nosp-result-wrapper">
						<td></td>
						<td></td>
						<{assign var=key_idx value=0}>
						<{foreach from=$commerce_date_list key=key_date item=date_label}>
							<td id="nosp-result-child-<{$key_date}>" class="text-center nosp-result-child"
								<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
									onmouseover="m_over_display(this, '<{$key_date}>', 'show');"
									onmouseout="m_over_display(this, '<{$key_date}>', 'hide');"
								<{/if}>
								style="vertical-align: bottom;"
							>
								<div class="nosp-each-link">
									<div class="nosp-special-wrapper">
										<{if $nosp_result_list[$key_date][1]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
											<a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=1&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
												<span class="nosp-time-symbol">T</span>
											</a>
										<{/if}>
									</div>
									<div class="nosp-time-wrapper">
										<{if $nosp_result_list[$key_date][2]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
											<a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_product=2&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
												<span class="nosp-special-symbol">S</span>
											</a>
										<{/if}>
									</div>
								</div>
								<{if $nosp_result_list[$key_date][1]['count'] > 0 || $nosp_result_list[$key_date][2]['count'] > 0}>
									<div class="nosp-total-link">
										<a href="/v1/advertising_result_list.php?sch_adv_s_date=<{$commerce_link_date_list[$key_date].s_date}>&sch_adv_e_date=<{$commerce_link_date_list[$key_date].e_date}>&sch_state=5&<{$sch_brand_url}>" class="nosp-result-link" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</div>
								<{/if}>
								<div id="m_over_display_<{$key_date}>" class="m_over_display <{if $key_idx > 6}>m_over_display_right<{else}>m_over_display_left<{/if}>">
									<div class="nosp-special-wrapper">
										<{if $nosp_result_list[$key_date][1]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][1]['count']}></span>
											<span class="nosp-time-symbol">T</span>
											<span class="nosp-time-total" style="margin-top: 2px;">
												<{if $sch_brand_url}>
													<{$nosp_result_list[$key_date][1]['total']|number_format:0}>
												<{else}>
													<{($nosp_result_list[$key_date][1]['total']/10000)|number_format:0}>만원
													(
														<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
															Df <{($nosp_result_list[$key_date][1]['df_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][1]['n_total'] > 0}>
															<{if $nosp_result_list[$key_date][1]['df_total'] > 0}>
																 /
															<{/if}>
															N <{($nosp_result_list[$key_date][1]['n_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][1]['e_total'] > 0}>
															<{if $nosp_result_list[$key_date][1]['df_total'] > 0 || $nosp_result_list[$key_date][1]['n_total'] > 0}>
																 /
															<{/if}>
															E <{($nosp_result_list[$key_date][1]['e_total']/10000)|number_format:0}>만원
														<{/if}>
													)
												<{/if}>
											</span>
										<{/if}>
									</div>
									<div class="nosp-time-wrapper" >
										<{if $nosp_result_list[$key_date][2]['count'] > 0}>
											<span class="nosp-special-count"><{$nosp_result_list[$key_date][2]['count']}></span>
											<span class="nosp-special-symbol">S</span>
											<span class="nosp-special-total" style="margin-top: 2px;">
												<{if $sch_brand_url}>
													<{$nosp_result_list[$key_date][2]['total']|number_format:0}>
												<{else}>
													<{($nosp_result_list[$key_date][2]['total']/10000)|number_format:0}>만원
													(
														<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
															Df <{($nosp_result_list[$key_date][2]['df_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][2]['n_total'] > 0}>
															<{if $nosp_result_list[$key_date][2]['df_total'] > 0}>
																 /
															<{/if}>
															N <{($nosp_result_list[$key_date][2]['n_total']/10000)|number_format:0}>만원
														<{/if}>
														<{if $nosp_result_list[$key_date][2]['e_total'] > 0}>
															<{if $nosp_result_list[$key_date][2]['df_total'] > 0 || $nosp_result_list[$key_date][2]['n_total'] > 0}>
																 /
															<{/if}>
															E <{($nosp_result_list[$key_date][2]['e_total']/10000)|number_format:0}>만원
														<{/if}>
													)
												<{/if}>
											</span>
										<{/if}>
									</div>
								</div>
							</td>
							<{assign var=key_idx value=$key_idx+1}>
						<{/foreach}>
					</tr>
				<{/if}>
				<tr>
					<th style="min-width: 200px;"></th>
					<th style="min-width: 160px;"></th>
					<{foreach from=$commerce_date_list key=date_key item=date_name}>
						<th style="min-width: 150px;"><{$date_name}></th>
					<{/foreach}>
				</tr>
			</thead>
			<{if $total_report_table_list}>
				<tbody>
					<tr style="background: #CCC;">
						<td rowspan="4">합계</td>
						<td>매출</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<td class="sales-price">₩<{$total_report_date_list[$date_key].sales|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr style="background: #CCC;">
						<td>비용</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<td class="cost-price"><{if $total_report_date_list[$date_key].cost > 0}>- <{/if}>₩<{$total_report_date_list[$date_key].cost|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr style="background: #CCC;">
						<td>공헌이익</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<{if $total_report_date_list[$date_key].profit > 0}>
								<td class="sales-price">₩<{$total_report_date_list[$date_key].profit|number_format:0}></td>
							<{elseif $total_report_date_list[$date_key].profit < 0}>
								<td class="cost-price">- ₩<{($total_report_date_list[$date_key].profit*-1)|number_format:0}></td>
							<{else}>
								<td class="zero-price">₩<{$total_report_date_list[$date_key].profit|number_format:0}></td>
							<{/if}>
						<{/foreach}>
					</tr>
					<tr style="background: #CCC;">
						<td>자사몰 객단가</td>
						<{foreach from=$commerce_date_list key=date_key item=date_name}>
							<td class="zero-price">₩<{$total_report_date_list[$date_key].average|number_format:0}></td>
						<{/foreach}>
					</tr>
					<{assign var=color_idx value=1}>
					<{foreach from=$total_report_table_list item=report_table_data}>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td rowspan="4"><{$report_table_data.title}></td>
							<td>매출</td>
							<{foreach from=$commerce_date_list key=date_key item=date_name}>
								<td class="sales-price">₩<{$report_table_data[$date_key].sales|number_format:0}></td>
							<{/foreach}>
						</tr>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td>비용</td>
							<{foreach from=$commerce_date_list key=date_key item=date_name}>
								<td class="cost-price"><{if $report_table_data[$date_key].cost > 0}>- <{/if}>₩<{$report_table_data[$date_key].cost|number_format:0}></td>
							<{/foreach}>
						</tr>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td>공헌이익</td>
							<{foreach from=$commerce_date_list key=date_key item=date_name}>
								<{if $report_table_data[$date_key].profit > 0}>
									<td class="sales-price">₩<{$report_table_data[$date_key].profit|number_format:0}></td>
								<{elseif $report_table_data[$date_key].profit < 0}>
									<td class="cost-price">- ₩<{($report_table_data[$date_key].profit*-1)|number_format:0}></td>
								<{else}>
									<td class="zero-price">₩<{$report_table_data[$date_key].profit|number_format:0}></td>
								<{/if}>
							<{/foreach}>
						</tr>
						<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
							<td>자사몰 객단가</td>
							<{foreach from=$commerce_date_list key=date_key item=date_name}>
								<td class="zero-price">₩<{$report_table_data[$date_key].average|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{assign var=color_idx value=$color_idx+1}>
					<{/foreach}>
				</tbody>
			<{/if}>
		</table>
	</div>

	<div class="date-chart-wrapper">
		<div id="date-chart">

		</div>
	</div>

	<div class="brand-chart-wrapper">
		<div id="brand-chart">

		</div>
	</div>
</div>

<script type="text/javascript">
	var brandChart = echarts.init(document.getElementById('brand-chart'),null, {renderer : 'canvas'});
	drawBrandChart();

	function drawBrandChart()
	{
		var fullData = <{$brand_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$brand_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					data: item['data'],
					itemStyle: {
						color: item['color'],
					}
				});
			});

			brandChart.setOption({
				title: {
					text: '<{$sch_date_name}>'
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				legend:{
					data: ['매출','비용','공헌이익'],
					top : '5%'
				},
				toolbox: {
					feature: {
						saveAsImage: { show: true }
					}
				},
				grid: {
					right: '5%'
				},
				xAxis: {
					type: 'value',
					boundaryGap: [0, 0.01]
				},
				yAxis: {
					type: 'category',
					data: legendData
				},
				series: pushData
			});
		}
	}

	var dateChart = echarts.init(document.getElementById('date-chart'), null, {renderer : 'svg'});
	drawDateChart();

	function drawDateChart()
	{
		var fullData = <{$date_chart_list}>;

		if(fullData != '')
		{
			var legendData = [];
			var legendList = <{$date_chart_name_list}>;

			$.each(legendList, function(idx, item){
				legendData.push(item);
			});

			var pushData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					data: item['data'],
					itemStyle: {
						color: item['color'],
					}
				});
			});

			dateChart.setOption({
				title: {
					text: '<{$sch_brand_name}>'
				},
				legend:{
					data: ['매출','비용','공헌이익'],
					top : '5%'
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross'
					}
				},
				grid: {
					right: '5%'
				},
				toolbox: {
					feature: {
						saveAsImage: { show: true }
					}
				},
				xAxis: {
					type: 'category',
					axisTick: {
						alignWithLabel: true
					},
					data: legendData
				},
				yAxis: {
					type: 'value',
					boundaryGap: [0, 0.01]
				},
				series: pushData
			});
		}
	}

	function m_over_display(e, key_date, type)
	{
		if(type == 'show') {
			$("#m_over_display_" + key_date).show();
		}else if(type == 'hide'){
			$("#m_over_display_" + key_date).hide();
		}
	}
</script>
</body>
</html>
