<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.table td, .table th{vertical-align: middle;}
	.form-group label{margin-right: 10px;}
	.table thead th{vertical-align: middle;}

	.nav-explain{font-size: 12px;font-weight: bold;}
	#search_form{overflow: hidden; display: block; margin-top: 30px;}
	#total_main_cms_report_iframe{display: none;}
	#total_main_traffic_conversion_iframe{display: none;}

	.date-wrapper{line-height: 35px;overflow: hidden;padding: 5px 0;}
	.base_btn{background-color: #EEE; font-weight: bold; width: 156px; height: 30px; margin: 0; line-height: 14px; float: left; font-size: 14px; border-radius: unset; border: 1px solid #999;}
	.base_btn_active{background-color: #CCC;}
	.date_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.date_btn_active{background-color: #CCC;}
	.conversion_date_type_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999;}
	.conversion_date_type_active{background-color: #CCC;}

	.admin_content{width: 1680px;}
	.admin_content .title{margin-bottom: 5px;}
	.bm-total-wrapper{width: 1600px; padding: 10px; box-sizing: border-box; border: 1px solid #eee; margin-top: 10px;}
	.bm-total-label{font-size: 18px; font-weight: 700; background: #CCC; padding: 5px 5px 5px 20px; margin-top: 10px; margin-bottom: 10px;}
	.bm-total-label-link{margin-right: 10px; float: right;}
	
	.iframe_loading_msg{width: 400px;}
	.iframe_loading_msg img{display: table; margin: 50px auto 30px;}
	.iframe_loading_msg b{font-size: 18px; display: table; margin: 0 auto;}
	
	.bm-table-wrapper{width: 1560px; margin: 20px 0; overflow: hidden;}
	.bm-table-wrapper .table{width: auto;}
	.bm-table-wrapper .table th{font-size: 12px;}
	.bm-table-wrapper .table td{font-size: 12px;}
	.bm-table-wrapper .table .small-title{font-size: 10px;}
	.bm-table-wrapper .table th.first{width: 200px;}
	.bm-table-wrapper .table th.second{width: 160px;}
	.bm-table-wrapper .table th.month-label{width: 150px;}
	.bm-table-wrapper .table th.date-label{width: 120px;}
	
	.sales-price{color: blue; font-weight: bold; text-align: right;}
	.cost-price{color: red; font-weight: bold; text-align: right;}
	.base-price{color: black; font-weight: bold; text-align: right;}
	.count-data{color: black; font-weight: bold; text-align: right;}
	.font-bold{font-weight: bold;}
	.font-gray{color: gray;}
	.dark-gray-background{background: #CCC;}
	.gray-background{background: #DDD;}
	.light-gray-background{background: #EEE;}
	.table-bordered td{border: 1px solid #BBB;}
	#daily-sales-table td, #hour-sales-table td, #term-sales-table td{font-weight: bold;}
	.table tbody td.total-price{background: #eee;}
	#hour-sales-table{table-layout: fixed; width: auto; float: left;}
	#term-sales-table{table-layout: fixed; width: auto; margin-left: 100px; float: left;}
</style>

<div class="admin_content">
	<h2 class="title">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<span class="nav-explain">커머스 전체와 브랜드별 매출 비용에 대한 통계정보를 볼 수 있습니다.</span>

	<form method="get" name="search_form" id="search_form" class="form-inline" action="total_main.php" autocomplete="off">
		<input type="hidden" name="sch_base_type" id="sch_base_type" value="<{$sch_base_type}>">
		<input type="hidden" name="sch_date_type" id="sch_date_type" value="<{$sch_date_type}>">
		<{foreach from=$bm_type_option key=key item=label}>
			<button type="button" class="btn base_btn <{if $sch_base_type == $key}>base_btn_active<{/if}>" onclick="searchBaseType('<{$key}>')"><{$label}></button>
		<{/foreach}>
	</form>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 매출 및 비용관리
			<a href="/v1/media_commerce_compare_chart.php?<{$sch_brand_url}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<div class="date-wrapper">
			<{foreach from=$sch_date_type_option key=key item=label}>
			<button type="button" class="btn date_btn <{if $sch_date_type == $key}>date_btn_active<{/if}>" id="date_btn_<{$key}>" onclick="searchDateType('<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
		<div class="iframe_loading_msg" id="cms_iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>WISE BM 매출 및 비용관리 로딩중입니다.</b>
		</div>
		<iframe src="total_main_base_iframe_cms_report.php?sch_base_type=<{$sch_base_type}>" width="1585" height="200" frameborder="0" id="total_main_cms_report_iframe"></iframe>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 아임웹 유입 / 전환 / 전환율
			<a href="/v1/work_cms_stats_traffic_conversion.php?sch_brand_g1=70001" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<span class="font-gray">※안내 : 정확하고 안정적인 GA4의 Data 적용을 위해, 최소 3일전 데이터까지 표시 됩니다.</span>
		<div class="date-wrapper">
			<{foreach from=$traffic_date_type_option key=key item=label}>
				<button type="button" class="btn conversion_date_type_btn <{if $key == 'day'}>conversion_date_type_active<{/if}>" id="conversion_date_type_btn_<{$key}>" onclick="loadTrafficConversionIframe('<{$sch_base_type}>','<{$key}>')"><{$label}></button>
			<{/foreach}>
		</div>
		<div class="iframe_loading_msg" id="conversion_iframe_loading_msg">
			<img src="../images/loading.gif">
			<b>유입 및 전환통계 로딩중입니다.</b>
		</div>
		<iframe src="total_main_base_iframe_traffic_conversion.php?sch_base_type=<{$sch_base_type}>" width="1585" height="200" frameborder="0" id="total_main_traffic_conversion_iframe"></iframe>
	</div>

	<div class="bm-total-wrapper">
		<b style="font-size: 14px;">[기간] <{$daily_s_date_text}> ~ <{$daily_e_date_text}>_지난 7일간</b>
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 현황(아임웹)
			<a href="/v1/work_cms_stats_sales_daily.php?sch_ord_s_date=<{$daily_s_date}>&sch_ord_e_date=<{$daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="daily-sales-table">
				<colgroup>
					<col width="100px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 기간Total -->
					<{if $daily_date_list}>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<col width="120px;"> <!-- 날짜 -->
						<{/foreach}>
					<{/if}>
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">기간Total</th>
						<{if $daily_date_list}>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<th scope="col"><{$date_label}></th>
							<{/foreach}>
						<{/if}>
					</tr>
				</thead>
				<tbody>
					<{if $daily_sales_list}>
						<tr>
							<td class="first text-center">Total</td>
							<td class="text-right"><{$daily_sales_total_price|number_format:0}></td>
							<{foreach from=$daily_date_list key=date_key item=date_label}>
								<{assign var=date_per value=round(($daily_date_total_list[$date_key]-$daily_date_total_list["min"])/($daily_date_total_list["max"]-$daily_date_total_list["min"]),2)}>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$date_per}>);"><{$daily_date_total_list[$date_key]|number_format:0}></td>
							<{/foreach}>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<tr>
								<td class="first text-center">
									<{$hour_label}><br/>
									<{assign var=hour_per value=round($daily_hour_total_list[$hour_key]/$daily_hour_total_list["max"],2)}>
								</td>
								<td class="text-right" style="background: rgba(27, 166, 234, <{$hour_per}>);"><{$daily_hour_total_list[$hour_key]|number_format:0}></td>
								<{foreach from=$daily_date_list key=date_key item=date_label}>
									<{assign var=daily_per value=round($daily_sales_list[$date_key][$hour_key]/$daily_sales_list[$date_key]["max"],2)}>
									<td class="text-right" style="background: rgba(50, 245, 70, <{$daily_per}>);"><{$daily_sales_list[$date_key][$hour_key]|number_format:0}></td>
								<{/foreach}>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<b style="font-size: 14px;">[기간] 비교일(B) : <{$prev_daily_s_date_text}> ~ <{$prev_daily_e_date_text}> vs 기준일(A) : <{$daily_s_date_text}> ~ <{$daily_e_date_text}></b>
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 요일/시간별 판매실적 비교(아임웹)
			<a href="/v1/work_cms_stats_sales_term.php?sch_base_s_date=<{$daily_s_date}>&sch_base_e_date=<{$daily_e_date}>&sch_comp_s_date=<{$prev_daily_s_date}>&sch_comp_e_date=<{$prev_daily_e_date}>&<{$sch_brand_url}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered" id="hour-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_hour_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list.comp_per|number_format:1}>%
									<{if $sales_term_total_list.comp_per > 0}>
								<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list.comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_hour_list key=hour_key item=hour_label}>
							<{assign var=hour_base_per value=round($sales_term_hour_list[$hour_key].base_price/$sales_term_total_list["hour_base_max"],2)}>
							<{assign var=hour_comp_per value=round($sales_term_hour_list[$hour_key].comp_price/$sales_term_total_list["hour_comp_max"],2)}>
							<tr>
								<td class="first text-center"><{$hour_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_comp_per}>);"><{$sales_term_hour_list[$hour_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_hour_list[$hour_key].comp_per|number_format:1}>%
									<{if $sales_term_hour_list[$hour_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_hour_list[$hour_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$hour_base_per}>);"><{$sales_term_hour_list[$hour_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
			<table class="table table-bordered" id="term-sales-table">
				<colgroup>
					<col width="70px;"> <!-- 구분 -->
					<col width="120px;"> <!-- 비교일 -->
					<col width="120px;"> <!-- 증감률 -->
					<col width="120px;"> <!-- 기준일 -->
				</colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">구분</th>
						<th scope="col">비교일(B)</th>
						<th scope="col">(증감률)</th>
						<th scope="col">기준일(A)</th>
					</tr>
				</thead>
				<tbody>
					<{if $sales_term_date_list}>
						<tr>
							<td class="first total-price text-center">Total</td>
							<td class="text-right total-price"><{$sales_term_total_list.comp_price|number_format:0}></td>
							<td class="text-right total-price">
								<{$sales_term_total_list.comp_per|number_format:1}>%
									<{if $sales_term_total_list.comp_per > 0}>
								<span style="color: red;">▲</span>
								<{elseif $sales_term_total_list.comp_per < 0}>
									<span style="color: blue;">▼</span>
								<{/if}>
							</td>
							<td class="text-right total-price"><{$sales_term_total_list.base_price|number_format:0}></td>
						</tr>
						<{foreach from=$daily_date_list key=date_key item=date_label}>
							<{assign var=date_base_per value=round(($sales_term_date_list[$date_key].base_price-$sales_term_total_list["date_base_min"])/($sales_term_total_list["date_base_max"]-$sales_term_total_list["date_base_min"]),2)}>
							<{assign var=date_comp_per value=round(($sales_term_date_list[$date_key].comp_price-$sales_term_total_list["date_comp_min"])/($sales_term_total_list["date_comp_max"]-$sales_term_total_list["date_comp_min"]),2)}>
							<tr>
								<td class="first text-center"><{$date_label}></td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_comp_per}>);"><{$sales_term_date_list[$date_key].comp_price|number_format:0}></td>
								<td class="text-right">
									<{$sales_term_date_list[$date_key].comp_per|number_format:1}>%
									<{if $sales_term_date_list[$date_key].comp_per > 0}>
										<span style="color: red;">▲</span>
									<{elseif $sales_term_date_list[$date_key].comp_per < 0}>
										<span style="color: blue;">▼</span>
									<{/if}>
								</td>
								<td class="text-right" style="background: rgba(50, 245, 70, <{$date_base_per}>);"><{$sales_term_date_list[$date_key].base_price|number_format:0}></td>
							</tr>
						<{/foreach}>
					<{/if}>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] 자사몰 매출 (아임웹, 스마트스토어)</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$custom_date_list key=key item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold" rowspan="3">합계</td>
						<td class="text-left font-bold">아임웹_전체</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['total'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">스마트스토어_전체</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['total'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['total'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="4">누잠매트리스</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['2827'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['2827'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['2827'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['2827'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="4">누잠 더블업토퍼</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['4878'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['4878'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['4878'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['4878'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="4">누잠 여름침구</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5201'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5201'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5201'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5201'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="4">누잠 겨울침구</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5642'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5642'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5642'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5642'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="4">누잠 바디필로우</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5810'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5810'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5810'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5810'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="4">누잠 슬립미스트</td>
						<td class="text-left font-bold">아임웹_베라베프</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5415'].imweb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">아임웹_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5415'].imweb_nuzam|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">스마트스토어_누잠</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5415'].smart|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="gray-background">
						<td class="text-left font-bold">합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="sales-price"><{$self_report_list[$key_date]['5415'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 주문수
			<a href="/v1/media_commerce_count_report.php?<{$sch_brand_url}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<span class="font-gray">※주문수는 합배송 포함된 수 입니다.</span>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$custom_date_list key=key item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold" rowspan="2">합계</td>
						<td class="text-left font-bold">합배송 합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['total'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">주문수 합계</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['total'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="2">누잠매트리스</span></td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['2827'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['2827'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="2">누잠 더블업토퍼</td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['4878'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['4878'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="2">누잠 여름침구</td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5201'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5201'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="2">누잠 겨울침구</td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5642'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5642'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="2">누잠 바디필로우</td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5810'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5810'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="2">누잠 슬립미스트</td>
						<td class="text-left font-bold">합배송</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5415'].comb|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">주문수</td>
						<{foreach from=$custom_date_list key=key_date item=label}>
						<td class="count-data"><{$cms_count_list[$key_date]['5415'].total|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 반품수/교환수
			<a href="/v1/wise_csm_return_count_report.php?<{$sch_brand_url}>&sch_s_month=<{$sch_s_month}>&sch_e_month=<{$sch_e_month}>&sch_date_type=3" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<span class="font-gray">※안내 : 아임웹, 스마트스토어는 완료된 건이며, 그 외 사방넷은 요청건입니다.</span><br/>
		<span class="font-gray">※본 데이터는 매월 초 수동으로 업로드 합니다. (요청 및 문의 : 운영팀 김윤영)</span><br/>
		<span class="font-gray">[Last Upload] 아임웹 반품 <{$last_return_list[1]}>, 아임웹 교환 <{$last_return_list[2]}>, 스마트스토어 반품 <{$last_return_list[3]}>, 스마트스토어 교환 <{$last_return_list[4]}>, 사방넷 교환/반품 <{$last_return_list[5]}></span>

		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$custom_month_list key=key item=label}>
						<th class="month-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<td class="text-left font-bold">반품수 합계</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['total'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠매트리스</span></td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['2827'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 더블업토퍼</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['4878'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 여름침구</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5201'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 겨울침구</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5642'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 바디필로우</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5810'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 슬립미스트</td>
						<td class="text-left font-bold">반품수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5415'].return|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
				<tr>
					<th class="first"></th>
					<th class="second"></th>
					<{foreach from=$custom_month_list key=key item=label}>
					<th class="month-label"><{$label}></th>
					<{/foreach}>
				</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<td class="text-left font-bold">교환수 합계</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['total'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠매트리스</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['2827'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 더블업토퍼</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['4878'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 여름침구</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5201'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 겨울침구</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5642'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 바디필로우</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5810'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 슬립미스트</td>
						<td class="text-left font-bold">교환수</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$return_count_list[$key_month]['5415'].trade|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] NOSP 타임보드 광고 결과보고</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$nosp_time_date_list key=key item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold" rowspan="5">합계</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['total'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['total'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['total'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['total'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['total'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['total'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['total'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['total'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['total'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['total'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠매트리스</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['2827'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['2827'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['2827'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['2827'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['2827'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['2827'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['2827'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['2827'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['2827'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['2827'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="5">누잠 더블업토퍼</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['4878'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['4878'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['4878'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['4878'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['4878'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['4878'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left $nosp_time_date_list">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['4878'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 여름침구</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['5201'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5201'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5201'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['5201'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5201'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5201'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_time_date_list">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5201'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="5">누잠 겨울침구</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['5642'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5642'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5642'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['5642'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5642'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5642'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5642'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 바디필로우</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['5810'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5810'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5810'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['5810'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5810'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5810'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_time_date_list">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5810'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 슬립미스트</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_time_report_list[$key_date]['5415'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5415'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5415'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_time_report_list[$key_date]['5415'].cnt > 0}>
								₩<{$nosp_time_report_list[$key_date]['5415'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5415'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_time_date_list">클릭률</td>
						<{foreach from=$nosp_time_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_time_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_time_report_list[$key_date]['5415'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">[<{$bm_type_name}>] NOSP 스폐셜DA 광고 결과보고</h2>
		<span class="font-gray">※스페셜DA를 진행한 날만 표시 됩니다.</span><br/>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<th class="second"></th>
						<{foreach from=$nosp_special_date_list key=key item=label}>
						<th class="date-label"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold" rowspan="5">합계</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['total'].cnt > 0}>
							₩<{$nosp_special_report_list[$key_date]['total'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['total'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['total'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['total'].cnt > 0}>
							₩<{$nosp_special_report_list[$key_date]['total'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['total'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['total'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="dark-gray-background">
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['total'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['total'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠매트리스</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['2827'].cnt > 0}>
							₩<{$nosp_special_report_list[$key_date]['2827'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['2827'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['2827'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['2827'].cnt > 0}>
							₩<{$nosp_special_report_list[$key_date]['2827'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['2827'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['2827'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['2827'].cnt > 0}>
							<{$nosp_special_report_list[$key_date]['2827'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="5">누잠 더블업토퍼</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['4878'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['4878'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['4878'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['4878'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['4878'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['4878'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left $nosp_special_date_list">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['4878'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['4878'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 여름침구</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['5201'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5201'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5201'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['5201'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5201'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5201'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_special_date_list">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5201'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5201'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold" rowspan="5">누잠 겨울침구</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['5642'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5642'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5642'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['5642'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5642'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5642'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="text-left font-bold">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5642'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5642'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 바디필로우</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['5810'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5810'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5810'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['5810'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5810'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5810'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_special_date_list">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5810'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5810'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold" rowspan="5">누잠 슬립미스트</td>
						<td class="text-left font-bold">광고비(수수료 제외)</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="cost-price">
							<{if $nosp_special_report_list[$key_date]['5415'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5415'].adv_price|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">클릭수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5415'].click_cnt|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">CPC</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="base-price">
							<{if $nosp_special_report_list[$key_date]['5415'].cnt > 0}>
								₩<{$nosp_special_report_list[$key_date]['5415'].adv_cpc|number_format:1}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left font-bold">노출수</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5415'].impressions|number_format:0}>
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="text-left $nosp_special_date_list">클릭률</td>
						<{foreach from=$nosp_special_date_list key=key_date item=label}>
						<td class="count-data">
							<{if $nosp_special_report_list[$key_date]['5415'].cnt > 0}>
								<{$nosp_special_report_list[$key_date]['5415'].click_per|number_format:2}>%
							<{/if}>
						</td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 불량 회수 수량
			<a href="/v1/wise_csm_bad_report.php?<{$sch_brand_url}>&sch_s_month=<{$sch_s_year}>&sch_e_month=<{$sch_e_month}>&sch_date_type=3" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<{foreach from=$custom_year_list key=key item=label}>
						<th class="second"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠매트리스</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['2827']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 더블업토퍼</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['4878']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 여름침구</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['5201']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 겨울침구</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['5642']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 바디필로우</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['5810']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 슬립미스트</td>
						<{foreach from=$custom_year_list key=key_year item=label}>
						<td class="count-data"><{$bad_return_count_list[$key_year]['5415']|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 위드플레이스 물류비(배송비)
			<a href="/v1/work_cms_stats_tracking.php?sch_log_type=with&<{$sch_brand_url}>&sch_run_s_month=<{$sch_s_month}>&sch_run_e_month=<{$sch_e_month}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<span class="font-gray">※ 누잠 물류비는 누잠매트리스로 모두 통합하여 비용처리 중입니다.</span><br/>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<{foreach from=$custom_month_list key=key item=label}>
						<th class="second"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠매트리스</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['2827']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 더블업토퍼</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['4878']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 여름침구</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['5201']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 겨울침구</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['5642']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 바디필로우</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['5810']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 슬립미스트</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_list[$key_month]['5415']|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="bm-total-wrapper">
		<h2 class="bm-total-label">
			[<{$bm_type_name}>] 위드플레이스 배송비 외 물류비(보관료+척출료+합포장+화물입/출고+폐기)
			<a href="/v1/work_cms_stats_tracking.php?sch_log_type=with&<{$sch_brand_url}>&sch_run_s_month=<{$sch_s_month}>&sch_run_e_month=<{$sch_e_month}>" target="_blank" class="bm-total-label-link">more</a>
		</h2>
		<span class="font-gray">※ 누잠 물류비는 누잠매트리스로 모두 통합하여 비용처리 중입니다.</span><br/>
		<div class="bm-table-wrapper">
			<table class="table table-bordered">
				<thead class="thead-dark text-center">
					<tr>
						<th class="first"></th>
						<{foreach from=$custom_month_list key=key item=label}>
						<th class="second"><{$label}></th>
						<{/foreach}>
					</tr>
				</thead>
				<tbody>
					<tr class="dark-gray-background">
						<td class="first font-bold">합계</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['total']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠매트리스</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['2827']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 더블업토퍼</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['4878']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 여름침구</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['5201']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr class="light-gray-background">
						<td class="first font-bold">누잠 겨울침구</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['5642']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 바디필로우</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['5810']|number_format:0}></td>
						<{/foreach}>
					</tr>
					<tr>
						<td class="first font-bold">누잠 슬립미스트</td>
						<{foreach from=$custom_month_list key=key_month item=label}>
						<td class="count-data"><{$with_delivery_exc_list[$key_month]['5415']|number_format:0}></td>
						<{/foreach}>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#total_main_cms_report_iframe").load(function(){
			$("#cms_iframe_loading_msg").hide();
			$(this).show();
			fixIframeHeight(this);
		});

		$("#total_main_traffic_conversion_iframe").load(function(){
			$("#conversion_iframe_loading_msg").hide();
			$(this).show();
			fixConversionIframeHeight(this);
		});
	});

	function searchBaseType(type){
		document.search_form.sch_base_type.value = type;
		document.search_form.submit();
	}

	function searchDateType(type)
	{
		$(".date_btn").removeClass("date_btn_active");
		$("#date_btn_"+type).addClass("date_btn_active");
		$("#cms_iframe_loading_msg").show();
		$("#total_main_cms_report_iframe").hide();

		var sch_base_type = $("#sch_base_type").val();
		var src = "total_main_base_iframe_cms_report.php?sch_base_type="+sch_base_type+"&sch_date_type="+type;
		$("#total_main_cms_report_iframe").attr("src",src);
	}

	function fixIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+10)+'px'
	}

	function fixConversionIframeHeight(obj)
	{
		obj.style.height=(obj.contentWindow.document.body.scrollHeight+20)+'px'
	}

	function loadTrafficConversionIframe(sch_base_type, type){
		$(".conversion_date_type_btn").removeClass("conversion_date_type_active");
		$("#conversion_date_type_btn_"+type).addClass("conversion_date_type_active");

		$("#conversion_iframe_loading_msg").show();
		$("#total_main_traffic_conversion_iframe").hide();

		var src = "total_main_base_iframe_traffic_conversion.php?sch_base_type="+sch_base_type+"&sch_date_type="+type;
		$("#total_main_traffic_conversion_iframe").attr("src",src);
	}
</script>

</body>
</html>
