<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<style type="text/css">
	.custom-combobox input{font-size: 11px; height: 28px; border-radius: 2px; padding: 3px 2px; color: #333; border-color: #333;}
	.table_list_style table thead th{text-align: center;}
	.sch_date_type{display: none;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="wise_work_04.php" method="get" enctype="multipart/form-data">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<table cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td>
					<span class="name_tit">상품(업무) 종류</span>
					<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g1_list}>
						<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g2_list}>
						<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd" name="sch_prd" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$sch_prd_list}>
						<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
						<{/section}>
					</select>
				</td>
				<td rowspan="3">
					<button type="button" style="width: 85px; height: 85px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_search">조회</button>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">조회 단위</span>
					<input type="radio" name="sch_kind" value="1" class="radio first" <{if $sch_kind == '1'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">연간
					<input type="radio" name="sch_kind" value="2" class="radio" <{if $sch_kind == '2'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">월간
					<input type="radio" name="sch_kind" value="3" class="radio" <{if $sch_kind == '3'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">주간
					<input type="radio" name="sch_kind" value="4" class="radio" <{if $sch_kind == '4'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">일간

					<span style="margin-right:15px;"></span>

					<span class="name_tit">조회 기간</span>
					<span id="sch_date_type_year" class="sch_date_type">
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_s_date" name="sch_year_s_date" value="<{$sch_year_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_e_date" name="sch_year_e_date" value="<{$sch_year_e_date}>" />
					</span>
					<span id="sch_date_type_month" class="sch_date_type">
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_s_date" name="sch_mon_s_date" value="<{$sch_mon_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_e_date" name="sch_mon_e_date" value="<{$sch_mon_e_date}>" />
					</span>
					<span id="sch_date_type_week" class="sch_date_type">
						<input type="text" class="week-start-picker input_type_date" id="sch_week_s_date" name="sch_week_s_date" value="<{$sch_week_s_date}>" readonly />
						~
						<input type="text" class="week-end-picker input_type_date" id="sch_week_e_date" name="sch_week_e_date" value="<{$sch_week_e_date}>" readonly />
					</span>
					<span id="sch_date_type_day" class="sch_date_type">
						<input type="text" class="date-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" class="date-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">업무처리 담당자</span>
					::
					<select name="sch_team" id="sch_team" class="select_type3">
						<{foreach from=$sch_team_list key=team_code item=label}>
						<{if (permissionNameCheck($session_permission, "대표") || permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "마스터관리자") || $session_team == $team_code)}>
							<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
						<{/if}>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type3">
						<{if (permissionNameCheck($session_permission, "대표") || permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "마스터관리자") || $session_pos_permission == "2")}>
						<option value="" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
						<{/if}>
						<{section name=idx loop=$staff_list}>
						<{if (permissionNameCheck($session_permission, "대표") || permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "마스터관리자")) || $staff_list[idx].s_no == $session_s_no}>
						<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
						<{/if}>
						<{/section}>
					</select>
				</td>
			</tr>
			</tbody>
		</table>

		<!---------- chart_01 상품별 평가점수 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				<{if $sch_prd }># 상품별 별점수<{else}># 상품별 평가점수<{/if}>
				<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;마케팅 담당자 : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_01" width="800" height="250">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_01_table">
				<thead>
			    	<tr>
						<th class="first" style="max-width:60px;"><{$prd_chart_title}></th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}> <{if !$sch_prd }>(평가수)<{/if}></th>
						<{/foreach}>
						<th class="first"><{if $sch_prd }>합계 갯수<{else}>평균 점수<{/if}></th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_01_row_avg key=row_code item=row_avg}>
					<tr class="chart-row-line">
						<td class="first"><{$chart_01_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_01[$date][$row_code]}>
								<{if $sch_prd }><{$chart_01[$date][$row_code].work_count}><{else}><{$chart_01[$date][$row_code].result_data}> (<{$chart_01[$date][$row_code].work_count}>)<{/if}>
							<{else}>
								-
							<{/if}>
						</td>
						<{/foreach}>
						<td class="chart-row-total"><{if $sch_prd }><{$row_avg.count}><{else}><{$row_avg.result|string_format:"%.2f"}><{/if}></td>
					</tr>
					<{/foreach}>

					<{if !$sch_prd}>
					<tr class="chart-row-total">
						<td class="first"><{$sch_s_name_table}><br>평균점수</td>
						<{foreach from=$chart_01_day_avg item=day_avg}>
						<td><{$day_avg.result}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td colspan="100%" style="border-right:0px; padding:0px;" >&nbsp;</td>
					</tr>

					<tr class="chart-table-total">
						<td class="first">회사 전체<br>평균점수</td>
						<{foreach from=$chart_01_t_day_avg item=t_day_avg}>
						<td><{if $t_day_avg.count > 0}><{$t_day_avg.result/$t_day_avg.count|string_format:"%.2f"}>(<{$t_day_avg.count}>)<{else}>-<{/if}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
					<{/if}>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_01_table');" /></div>
		</div>
		<!---------- chart_01 상품별 평가점수 [End] ---------->

		<br><br>

		<!---------- chart_02 부서/담당자별 평가점수 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				<{if $sch_s_no }># 부서/담당자별 평가점수<{else}># 부서/담당자별 별점수<{/if}>
				<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;마케팅 담당자 : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_02" width="800" height="250">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_02_table">
				<thead>
			    	<tr>
						<th class="first" style="max-width:60px;"><{$staff_chart_title}></th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}> <{if !$sch_s_no }>(평가수)<{/if}></th>
						<{/foreach}>
						<th class="first"><{if $sch_s_no }>합계 갯수<{else}>평균 점수<{/if}></th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_02_row_avg key=row_code item=row_avg}>
					<tr class="chart-row-line" style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_02_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_02[$date][$row_code]}>
								<{if $sch_s_no }><{$chart_02[$date][$row_code].work_count}><{else}><{$chart_02[$date][$row_code].result_data|string_format:"%.2f"}> (<{$chart_02[$date][$row_code].work_count}>)<{/if}>
							<{else}>
								-
							<{/if}>
						</td>
						<{/foreach}>
						<td class="chart-row-total" style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{/if}>"><{if $sch_s_no }><{$row_avg.count}><{else}><{$row_avg.result|string_format:"%.2f"}><{/if}></td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;">
						<td class="first"><{$sch_s_name_table}><br>평균점수</td>
						<{foreach from=$chart_02_day_avg item=day_avg}>
						<td><{$day_avg.result|string_format:"%.2f"}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="100%" style="border-right:0px; padding:0px;" >&nbsp;</td>
					</tr>

					<tr class="chart-table-total">
						<td class="first">회사 전체<br>평균점수</td>
						<{foreach from=$chart_02_t_day_avg item=t_day_avg}>
						<td><{if $t_day_avg.count > 0}><{$t_day_avg.result/$t_day_avg.count|string_format:"%.2f"}>(<{$t_day_avg.count}>)<{else}>-<{/if}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_02_table');" /></div>
		</div>
		<!---------- chart_02 부서/담당자별 평가점수 [End] ---------->

	</form>
</div>

<script>
	$(document).ready(function(){
        $("#sch_team").combobox();

	    $("#sch_prd_g2").remoteChained({
            parents: "#sch_prd_g1",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_prd").remoteChained({
            parents: "#sch_prd_g2",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_s_no").remoteChained({
            parents: "#sch_team",
            url: "/v1/api/staff.json.php?parent_data=sch_team",
            loading: "로딩중..",
            clear: true
        });

        sch_date_display('<{$sch_kind_type}>');
	});

	var color = Chart.helpers.color;

	var config = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_01_row_avg key=row_code item=row_avg}>
            	{
					label: '<{$chart_01_row_name[$row_code]}>',
                    backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
                    borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
                    data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_01[$date][$row_code]}>
							<{$chart_01[$date][$row_code].result_data}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
					],
            	},
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
    		fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '상품별 평가점수'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: false,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'';
						}
					},
					display: true,
					stacked: false,
				}]
			}
		}
	};

	var config2 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_02_row_avg key=row_code item=row_avg}>
				{
					label: '<{$chart_02_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_02[$date][$row_code]}>
							<{$chart_02[$date][$row_code].result_data}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
					],
				},
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '부서/담당자별 평가점수'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: false,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'';
						}
					},
					display: true,
					stacked: false,
				}]
			}
		}
	};


	window.onload = function() {
		var ctx = document.getElementById('chart_01').getContext('2d');
		window.myLine = new Chart(ctx, config);

		var ctx2 = document.getElementById('chart_02').getContext('2d');
		window.myLine = new Chart(ctx2, config2);
	};


	function number_format(number, decimals, dec_point, thousands_sep) {
	// *     example: number_format(1234.56, 2, ',', ' ');
	// *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
	}

	function sch_date_display(type){
        $(".sch_date_type").hide();
        $("#sch_date_type_"+type).show();
	}

</script>

</body>
</html>
