<{include file="inc/boot_navibar.html"}>

<script src="../js/echarts.min.js"></script>
<script src="../js/echarts-gl.min.js"></script>
<script src="../js/shine.js"></script>

<style type="text/css">
	.form-group{margin-bottom: 5px;}
	.form-check-label{font-size: 13px; cursor: pointer;}
	.col-form-label{max-width: 100px;}
	.sch_date{width: 80px;}
	.date-term-wrap{display: none;}
	.date-term-sel{float: right; margin-left: 10px; margin-top: 5px;}
	.date-term-sel button{color: #aaa;}
	.col-sm-10{max-width: 650px; padding-left: 0;}
	.type_select{width: 150px; font-size: 12px; float: left;}
	.custom-graph{position: relative; display: -ms-flexbox; display: flex; max-width: 1200px; -ms-flex-direction: column;flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;margin-bottom: 10px;}
	.card-body{padding: 10px;flex: 1 1 auto;min-height: 1px; }
	#custom-graph{position: relative; height: 500px;}
	.custom-graph-table{width:1200px; overflow-x: scroll}
	.custom-graph-table th, .custom-graph-table td{border: 1px solid #ebebeb;}
	.custom-graph-table thead th, .custom-graph-table tbody th{padding: 5px 10px; background: #ddd;}
	.custom-graph-table tbody td{text-align: right; background: rgb(240,255,255); padding-right: 5px; font-weight: 500;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="wise_work_custom.php" method="get" style="padding-left: 10px;">
		<h2 class="title" style="margin-bottom: 30px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<div class="form-group row">
			<label class="col-sm-1 col-form-label font-weight-bold">조회기간</label>
			<div class="col-sm-10 form-check form-check-inline">
				<input type="radio" name="sch_date_type" value="all" id="sch_date_all" class="form-check-input" <{if $sch_date_type == '' || $sch_date_type == 'all'}>checked<{/if}> onclick="sch_date_display('all');">
				<label for="sch_date_all" class="form-check-label"  style="margin-right: 10px;">전체</label>
				<input type="radio" name="sch_date_type" value="set" id="sch_date_set" class="form-check-input" <{if $sch_date_type == 'set'}>checked<{/if}> onclick="sch_date_display('set');">
				<label for="sch_date_set" class="form-check-label" style="margin-right: 20px;">설정</label>

				<div class="date-term-wrap">
					<input type="text" class="date-picker input_type_date sch_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
					<span style="margin: 0 5px;">~</span>
					<input type="text" class="date-picker input_type_date sch_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					<div class="date-term-sel">
						<button type="button" class="font-weight-bold" onclick="sch_date_sel(this)" attr-day="<{$one_week_day}>">[최근 7일]</button>
						<button type="button" class="font-weight-bold" onclick="sch_date_sel(this)" attr-day="<{$two_week_day}>">[최근 14일]</button>
						<button type="button" class="font-weight-bold" onclick="sch_date_sel(this)" attr-day="<{$one_month_day}>">[최근 30일]</button>
					</div>
					<input type="hidden" id="curdate" value="<{$curdate}>" >
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label font-weight-bold">X축</label>
			<div class="col-sm-10">
				<select name="sch_x_type" id="sch_x_type" class="form-control type_select">
					<{foreach from=$x_type_list key=x_type item=label}>
					<option value="<{$x_type}>" <{if $sch_x_type == $x_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_x_type_main" id="sch_x_type_main" class="form-control type_select" <{if !$sch_x_type}>disabled style="display: none;"<{/if}>>
					<{if $sch_x_type != 'staff' && $sch_x_type != 'task_req' && $sch_x_type != 'task_run'}>
						<option value="">::전체::</option>
					<{/if}>
					<{foreach from=$x_type_main_list key=x_type_main item=label}>
					<option value="<{$x_type_main}>" <{if $sch_x_type_main != '' && $sch_x_type_main == $x_type_main}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_x_type_sub" id="sch_x_type_sub" class="form-control type_select sch_x_type_select" <{if !$sch_x_type || ($sch_x_type && $sch_x_depth < 2)}>disabled style="display: none;"<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$x_type_sub_list key=x_type_sub item=label}>
						<option value="<{$x_type_sub}>" <{if $sch_x_type_sub != '' && $sch_x_type_sub == $x_type_sub}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_x_type_sub2" id="sch_x_type_sub2" class="form-control type_select sch_x_type_select" <{if !$sch_x_type || ($sch_x_type && $sch_x_depth < 3)}>disabled style="display: none;"<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$x_type_sub2_list key=x_type_sub2 item=label}>
					<option value="<{$x_type_sub2}>" <{if $sch_x_type_sub2 != '' && $sch_x_type_sub2 == $x_type_sub2}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label font-weight-bold">Y축</label>
			<div class="col-sm-10">
				<select name="sch_y_type" id="sch_y_type" class="form-control type_select">
					<{foreach from=$y_type_list key=y_type item=label}>
					<option value="<{$y_type}>" <{if $sch_y_type == $y_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_y_type_main" id="sch_y_type_main" class="form-control type_select" <{if !$sch_y_type}>disabled style="display: none;"<{/if}>>
					<{if $sch_y_type != 'staff' && $sch_y_type != 'task_req' && $sch_y_type != 'task_run'}>
						<option value="">::전체::</option>
					<{/if}>
					<{foreach from=$y_type_main_list key=y_type_main item=label}>
					<option value="<{$y_type_main}>" <{if $sch_y_type_main != '' && $sch_y_type_main == $y_type_main}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_y_type_sub" id="sch_y_type_sub" class="form-control type_select sch_y_type_select" <{if !$sch_y_type || ($sch_y_type && $sch_y_depth < 2)}>disabled style="display: none;"<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$y_type_sub_list key=y_type_sub item=label}>
						<option value="<{$y_type_sub}>" <{if $sch_y_type_sub != '' && $sch_y_type_sub == $y_type_sub}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<select name="sch_y_type_sub2" id="sch_y_type_sub2" class="form-control type_select sch_y_type_select" <{if !$sch_y_type || ($sch_y_type && $sch_y_depth < 3)}>disabled style="display: none;"<{/if}>>
					<option value="">::전체::</option>
					<{foreach from=$y_type_sub2_list key=y_type_sub2 item=label}>
						<option value="<{$y_type_sub2}>" <{if $sch_y_type_sub2 != '' && $sch_y_type_sub2 == $y_type_sub2}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label font-weight-bold">Z축</label>
			<div class="col-sm-10 form-check form-check-inline">
				<input type="radio" name="sch_chart_type" value="compare" id="sch_chart_compare" class="form-check-input" <{if $sch_chart_type == '' || $sch_chart_type == 'compare'}>checked<{/if}>>
				<label for="sch_chart_compare" class="form-check-label" style="margin-right: 10px;">비교</label>
				<input type="radio" name="sch_chart_type" value="percent" id="sch_chart_percent" class="form-check-input" <{if $sch_chart_type == 'percent'}>checked<{/if}>>
				<label for="sch_chart_percent" class="form-check-label" style="margin-right: 20px;">비율</label>
				<select name="sch_z_type" class="form-control type_select">
					<{foreach from=$z_type_list key=z_type item=label}>
					<option value="<{$z_type}>" <{if $sch_z_type == $z_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label font-weight-bold">정렬</label>
			<div class="col-sm-10 form-check form-check-inline">
				<select name="sch_ord_type" class="form-control type_select">
					<{foreach from=$ord_type_list key=ord_type item=label}>
					<option value="<{$ord_type}>" <{if $sch_ord_type == $ord_type}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<button type="submit" class="btn btn-dark font-weight-bold" style="font-size: 13px; margin-left:30px;">통계보기</button>
			</div>
		</div>
	</form>

	<div id="custom-graph-card" class="custom-graph">
		<div class="card-body">
			<div id="custom-graph"></div>
		</div>
	</div>
	<div class="custom-graph-table" id="custom-graph-table">
		<table class="table table-bordered">
			<{if $x_name_list}>
			<thead class="thead-dark">
				<tr style="height: 40px;">
					<th style="min-width: 80px; max-width: 100px; word-break: break-all;"></th>
					<{foreach from=$x_name_list item=label}>
						<th style="min-width: 80px; max-width: 100px; word-break: break-all;" class="text-center align-middle"><{$label}></th>
					<{/foreach}>
					<th style="min-width: 80px; max-width: 100px; word-break: break-all;" class="text-center align-middle" >합계</th>
				</tr>
			</thead>
			<{/if}>
			<tbody>
				<{if $commerce_total > 0}>
					<{foreach from=$commerce_list key=y_type item=commerce_data}>
					<tr>
						<th class="align-middle text-center" style="background-color: white; min-width: 80px; max-width: 100px; word-break: break-all;" ><{if !isset($y_name_list[$y_type])}><{$y_type_main_list[$sch_y_type_main]}><{else}><{$y_name_list[$y_type]}><{/if}></th>
						<{assign var=x_total value=0}>
						<{foreach from=$x_name_list key=result_ym item=data}>
							<td class="align-middle text-primary text-right" style="background-color: white; min-width: 80px; max-width: 100px; word-break: break-all;" ><{if !isset($commerce_data[$result_ym])}>0<{else}><{$commerce_data[$result_ym]|number_format:0}><{/if}></td>
							<{assign var=x_total value=$x_total+$commerce_data[$result_ym]}>
						<{/foreach}>
						<td class="align-middle text-primary font-weight-bold text-right" style="background-color:#ffeef2; min-width: 80px; max-width: 100px; word-break: break-all;"><{$x_total|number_format:0}></td>
					</tr>
					<{/foreach}>
					<tr>
						<th class="align-middle text-center" style="background-color: white; min-width: 80px; max-width: 100px; word-break: break-all;">합계</th>
						<{foreach from=$x_name_list key=result_ym item=label}>
						<td class="text-primary font-weight-bold text-right" style="background-color:#ddd; min-width: 80px; max-width: 100px; word-break: break-all;"><{$commerce_sum_list[$result_ym]|number_format:0}></td>
						<{/foreach}>
						<td class="text-primary font-weight-bold text-right" style="background-color:#ddd; min-width: 80px; max-width: 100px; word-break: break-all;"></td>
					</tr>
				<{else}>
					<tr>
						<td colspan="3" style="text-align: center;">데이터가 없습니다</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
	<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('custom-graph-table');" /></div>
</div>

<script type="text/javascript">
    $(".date-picker").datepicker({
		format : "yyyy-mm-dd",
		autoclose: true
	});

    $(document).ready(function(){
        var type = '<{$sch_date_type}>';
        sch_date_display(type);

		var sch_x_type = '<{$sch_x_type}>';
		sch_x_type_display(sch_x_type);
		initRemoteChained('x');

		$('#sch_x_type').change(function(){
			sch_x_type_display($(this).val());
			initRemoteChained('x');
		});

		var sch_y_type = '<{$sch_y_type}>';
		sch_y_type_display(sch_y_type);
		initRemoteChained('y');

		$('#sch_y_type').change(function(){
			sch_y_type_display($(this).val());

			initRemoteChained('y');
		});
	});

    function initRemoteChained(type)
	{
		if(type == 'x')
		{
			$('#sch_x_type_main').remoteChained({
				parents: "#sch_x_type",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_x_type",
				loading: "로딩중..",
				clear: true
			});

			$('#sch_x_type_sub').remoteChained({
				parents: "#sch_x_type_main",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_x_type_main&type="+$('#sch_x_type').val(),
				loading: "로딩중..",
				clear: true
			});

			$('#sch_y_type_sub2').remoteChained({
				parents: "#sch_x_type_sub",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_x_type_sub&type="+$('#sch_x_type').val(),
				loading: "로딩중..",
				clear: true
			});
		}else if(type == 'y')
		{
			$('#sch_y_type_sub').remoteChained({
				parents: "#sch_y_type_main",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_y_type_main&type="+$('#sch_y_type').val(),
				loading: "로딩중..",
				clear: true
			});

			$('#sch_y_type_sub2').remoteChained({
				parents: "#sch_y_type_sub",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_y_type_sub&type="+$('#sch_y_type').val(),
				loading: "로딩중..",
				clear: true
			});

			$('#sch_y_type_main').remoteChained({
				parents: "#sch_y_type",
				url: "/v1/api/chart.work.xyz.json.php?parent_data=sch_y_type",
				loading: "로딩중..",
				clear: true
			});
		}
	}

	function copyTable(chart_id)
	{
		if(document.body.createTextRange)
		{
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(document.getElementById(chart_id));
			textRange.execCommand("Copy");
		}else{
			window.getSelection().selectAllChildren(document.getElementById(chart_id));
			document.execCommand('Copy');
		}
	}

	function sch_date_display(type)
	{
        if(type == '' || type == 'all') {
            $(".date-term-wrap").hide();
        }else if(type=='set'){
            $(".date-term-wrap").show();
        }
    }

	function sch_x_type_display(sch_x_type)
	{
		if(sch_x_type == 'product') {
			$(".sch_x_type_select").show();
		}else if(sch_x_type == 'staff' || sch_x_type == 'task_run' || sch_x_type == 'task_req'){
			$(".sch_x_type_select").hide();
			$("#sch_x_type_sub").show();
		}else{
			$(".sch_x_type_select").hide();
		}
	}

	function sch_y_type_display(sch_y_type)
	{
		if(sch_y_type == 'product') {
			$(".sch_y_type_select").show();
		}else if(sch_y_type == 'staff' || sch_y_type == 'task_run' || sch_y_type == 'task_req'){
			$(".sch_y_type_select").hide();
			$("#sch_y_type_sub").show();
		}else{
			$(".sch_y_type_select").hide();
		}
	}

    function sch_date_sel(obj)
	{
        var s_date = $(obj).attr('attr-day');
        var e_date = $("#curdate").val();
        $("#sch_s_date").val(s_date);
        $("#sch_e_date").val(e_date);
    }

	var myChart = echarts.init(document.getElementById('custom-graph'), 'shine');

	initGraphData();

	function initGraphData()
	{
		var xLegendData = [];
		var yLegendData = [];
		var xLegendList = <{$x_legend_list}>;
		var yLegendList = <{$y_legend_list}>;

		$.each(xLegendList, function(idx, item){
        	xLegendData.push(item);
		});

		$.each(yLegendList, function(idx, item){
			yLegendData.push(item['name']);
		});

		var zDataList = <{$commerce_compare_chart_list}>;
		var zData = [];

		$.each(zDataList, function(idx, item){
			zData.push(item);
		});

		var zPercentDataList = <{$commerce_percent_chart_list}>;
		var zPercentData = [];

		$.each(zPercentDataList, function(idx,item){
			zPercentData.push({
				name: item['title'],
				type: 'bar',
				stack: '广告',
				data: item['data']
			});
		});

		var type = '<{$sch_chart_type}>';

		drawGraph(xLegendData, yLegendData, zData, zPercentData, type)
	}

	function drawGraph(xLegendData, yLegendData, zData, zPercentData, type)
	{
		if(type == 'compare'){
			myChart.setOption({
				tooltip: {
					formatter: function(params, ticket, callback) {
						return  '<{$x_type_title}> : ' + xLegendData[params.value[0]] + "<br/>" + "<{$y_type_title}> : " + yLegendData[params.value[1]] + "<br/>" +"<{$z_type_title}> : " + params.value[2].toLocaleString() + "<{$z_type_value_title}>";
					}
				},
				visualMap: {
					max: <{$max_value}>,
					inRange: {
						color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
					}
				},
				xAxis3D: {
					name: '<{$x_type_title}>',
					nameGap: 30,
					type: 'category',
					nameTextStyle:{
						fontSize: 15,
						fontFamily: 'NanumGothic',
						fontWeight: 'bold'
					},
					nameGap: 30,
					axisLabel:{
						margin: 5,
						textStyle:{fontFamily: 'NanumGothic', color: '#313695'}
					},
					data: xLegendData
				},
				yAxis3D: {
					name: '<{$y_type_title}>',
					type: 'category',
					nameTextStyle:{
						fontSize: 15,
						fontFamily: 'NanumGothic',
						fontWeight: 'bold'
					},
					axisLabel:{
						margin: 5,
						textStyle:{fontFamily: 'NanumGothic'}
					},
					data: yLegendData
				},
				zAxis3D: {
					name: '<{$z_type_title}>',
					type: 'value',
					nameTextStyle:{
						fontSize: 15,
						fontFamily: 'NanumGothic',
						fontWeight: 'bold'
					},
					nameGap: 30,
					axisLabel: {
						show: true,
						textStyle: {color: '#a50026'}
					},
				},
				grid3D: {
					boxWidth: 90,
					boxDepth: 250,
					environment: 'none',
					viewControl: {
						center:[-20, -10, -5],
						beta: 90.1
					},
					light: {
						main: {
							intensity: 0.1
						},
						ambient: {
							intensity: 0.8
						}
					},
				},
				series: [{
					type: 'bar3D',
					name: '데이터',
					data: zData.map(function (item) {
						return {
							value: [item[0], item[1], item[2]]
						}
					}),
					shading: 'lambert',
					label: {
						textStyle: {
							fontSize: 14,
							borderWidth: 1
						}
					},
					zlevel: -5,
					emphasis: {
						label: {
							textStyle: {
								fontSize: 20,
								color: '#900'
							},
						},
						itemStyle: {
							color: '#900'
						}
					}
				}]
			});

		}else if(type == 'percent'){
			myChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				legend: {
					data: ['1','2','3','4','5']
				},
				grid: {
					left: '3%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				xAxis: [
					{
						type: 'category',
						data: xLegendData
					}
				],
				yAxis: [
					{
						type: 'value'
					}
				],
				series: zPercentData
			});
		}


	}

</script>

</body>
</html>
