<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<style type="text/css">
	.custom-combobox input{font-size: 11px; height: 28px; border-radius: 2px; padding: 3px 2px; color: #333; border-color: #333;}
	.table_list_style table thead th{text-align: center;}
	h2.title{margin-bottom: 15px;}
	.name_tit{width: 90px; display: inline-block;}
	#search_table tr td{height: 37px;}
	button.btn_big_search{width: 85px; height: 105px; font-size: 20px; padding: unset; margin-left:15px;}
</style>

<div class="admin_content">
	<form name="withdraw_form" action="wise_sales.php" method="get" enctype="multipart/form-data">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}><span style="font-size:14px;">(인센티브 정산 기준)</span>
		</h2>

		<table cellpadding="0" cellspacing="0" id="search_table">
			<tbody>
				<tr>
					<td>
						<span class="name_tit">사업자</span>
						<select id="sch_my_c_no" name="sch_my_c_no" class="select_type3" onchange="submit();" style="width: 190px;	height: 30px;	font-size: 15px;">
							<{section name=data loop=$my_company_list}>
								<option value="<{$my_company_list[data].my_c_no}>" <{if $sch_my_c_no == $my_company_list[data].my_c_no}>selected<{/if}>><{$my_company_list[data].c_name}></option>
							<{/section}>
							<option value="wise" <{if $sch_my_c_no == "wise"}>selected<{/if}>>::전체(미디어커머스 외)::</option>
						</select>
					</td>
					<td rowspan="3">
						<button type="button" onclick="submit();" class="btn_big_search">조회</button>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">소속부서 > 담당자</span>
						<select name="sch_team" id="sch_team" class="select_type3">
							<{foreach from=$sch_team_list key=team_code item=label}>
							<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						>
						<select name="sch_s_no" id="sch_s_no" class="select_type3">
							<option value="" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
							<{section name=idx loop=$staff_list}>
								<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
							<{/section}>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">조회 기간</span>
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</td>
				</tr>
			</tbody>
		</table>


		<!---------- chart_01 매출 통계 [Start] ---------->

		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 매출 통계 <span style="font-size:12px; font-weight:normal;">(<{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_01">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_01_table">
				<thead>
			    <tr>
						<th class="first">
							입/출금
						</th>

						<{section name=list loop=$x_name_list}>
							<th style="word-break:initial;">
								<{$x_name_list[list]}>
							</th>
						<{/section}>

						<th class="first">
							합계
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="first">
							매출
						</td>

						<{section name=list loop=$x_name_list}> <!-- dp data -->
							<{assign var="data_empty" value="true"}>
							<{section name=list2 loop=$chart_01}>
								<{if $chart_01[list2].result_ym == $x_name_list[list]}>
									<td class="alignR">
										<span class="format-money" style="color:blue;"><{$chart_01[list2].result_data_dp}></span>
										<{assign var="data_empty" value="false"}>
									</td>
								<{/if}>
							<{/section}>
							<{if $data_empty == "true"}>
								<td>
									0
								</td>
							<{/if}>
						<{/section}>

						<{assign var="result_data_sum" value="true"}> <!-- 합계 -->
						<{section name=list2 loop=$chart_01}>
							<{if $result_data_sum == "true"}>
								<td class="alignR" style="background-color: #ffeef2;">
									<span class="format-money" style="color:blue;"><{$chart_01[list2].result_data_dp_sum}></span>
									<{assign var="result_data_sum" value="false"}>
								</td>
							<{/if}>
						<{/section}>
						<{if $result_data_sum == "true"}>
							<td>
								0
							</td>
						<{/if}>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_01_table');" /></div>
		</div>
		<!---------- chart_01 매출 통계 [End] ---------->

		<br>

		<!---------- chart_02 부서별 매출 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 부서별 매출 통계 <span style="font-size:12px; font-weight:normal;">(<{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_02">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_02_table">
				<thead>
			    <tr>
						<th class="first">
							부서명
						</th>

						<{section name=list loop=$x_name_list}>
							<th style="word-break:initial;">
								<{$x_name_list[list]}>
							</th>
						<{/section}>

						<th class="first">
							합계
						</th>
					</tr>
				</thead>
				<tbody>
					<{section name=list loop=$chart_02_title_list}>
						<{assign var=team value=$chart_02_title_list[list].team}>
						<tr style="<{if $chart_02_display[$team] == 'N'}>background: #999;<{/if}>">
							<td class="first">
								<{if !!$chart_02_title_list[list].team_name}>
									<{$chart_02_title_list[list].team_name}>
								<{else}>
									(NULL)
								<{/if}>
							</td>

							<{section name=list2 loop=$x_name_list}> <!-- data -->
								<{assign var="data_empty" value="true"}>
								<{section name=list3 loop=$chart_02}>
									<{if ($chart_02[list3].team == $chart_02_title_list[list].team && $chart_02[list3].result_ym == $x_name_list[list2])}>
										<td class="alignR">
											<span class="format-money" style="color:blue;"><{$chart_02[list3].result_data_dp}></span>
											<{assign var="data_empty" value="false"}>
										</td>
									<{/if}>
								<{/section}>
								<{if $data_empty == "true"}>
									<td class="alignR">
										<span style="color:blue;">0</span>
									</td>
								<{/if}>
							<{/section}>

							<{assign var="result_data_sum" value="true"}> <!-- 합계 -->
							<{section name=list3 loop=$chart_02}>
								<{if ($chart_02[list3].team == $chart_02_title_list[list].team && $result_data_sum == "true")}>
									<td class="alignR" style="<{if $chart_02_display[$team] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
										<span class="format-money" style="color:blue;"><{$chart_02_title_list[list].result_data_dp_sum}></span>
										<{assign var="result_data_sum" value="false"}>
									</td>
								<{/if}>
							<{/section}>
							<{if $result_data_sum == "true"}>
								<td>
									0
								</td>
							<{/if}>
						</tr>
					<{/section}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">
							합계
						</td>

						<{section name=list loop=$chart_02_result_ym_sum}>
							<td class="alignR">
								<span class="format-money" style="color:blue;"><{$chart_02_result_ym_sum[list].result_ym_dp_sum}></span>
							</td>
						<{/section}>

						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_02_table');" /></div>
		</div>
		<!---------- chart_02 부서별 매출 통계 [End] ---------->

		<br>

		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<canvas id="chart_02b">Your browser does not support the canvas element.</canvas>
		</div>

		<br>

		<!---------- chart_03 담당자별 매출 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 담당자별 매출 통계 <span style="font-size:12px; font-weight:normal;">(<{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_03">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_03_table">
				<thead>
			    <tr>
						<th class="first" style="min-width:60px;">
							담당자명
						</th>

						<{section name=list loop=$x_name_list}>
							<th style="min-width:60px; word-break:initial;">
								<{$x_name_list[list]}>
							</th>
						<{/section}>

						<th class="first" style="min-width:60px;">
							합계
						</th>
					</tr>
				</thead>
				<tbody>
					<{section name=list loop=$chart_03_title_list}>
						<{assign var=s_no value=$chart_03_title_list[list].s_no}>
						<tr style="<{if $chart_03_display[$s_no] == 'N'}>background: #999;<{/if}>">
							<td class="first"> <!-- 담당자명 -->
								<{if !!$chart_03_title_list[list].s_name}>
									<{$chart_03_title_list[list].s_name}>
								<{else}>
									(NULL)
								<{/if}>
							</td>

							<{section name=list2 loop=$x_name_list}> <!-- data -->
								<{assign var="data_empty" value="true"}>
								<{section name=list3 loop=$chart_03}>
									<{if ($chart_03[list3].s_no == $chart_03_title_list[list].s_no && $chart_03[list3].result_ym == $x_name_list[list2])}>
										<td class="alignR">
											<span class="format-money" style="color:blue;"><{$chart_03[list3].result_data_dp}></span>
											<{assign var="data_empty" value="false"}>
										</td>
									<{/if}>
								<{/section}>
								<{if $data_empty == "true"}>
								<td class="alignR">
									<span style="color:blue;">0</span>
								</td>
								<{/if}>
							<{/section}>

							<{assign var="result_data_sum" value="true"}> <!-- 합계 -->
							<{section name=list3 loop=$chart_03}>
								<{if ($chart_03[list3].s_no == $chart_03_title_list[list].s_no && $result_data_sum == "true")}>
									<td class="alignR" style="<{if $chart_03_display[$s_no] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
										<span class="format-money" style="color:blue;"><{$chart_03_title_list[list].result_data_dp_sum}></span>
										<{assign var="result_data_sum" value="false"}>
									</td>
								<{/if}>
							<{/section}>
							<{if $result_data_sum == "true"}>
								<td>
									0
								</td>
							<{/if}>
						</tr>
					<{/section}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">
							합계
						</td>

						<{section name=list loop=$chart_03_result_ym_sum}>
							<td class="alignR">
								<span class="format-money" style="color:blue;"><{$chart_03_result_ym_sum[list].result_ym_dp_sum}></span>
							</td>
						<{/section}>

						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_03_table');" /></div>
		</div>
		<!---------- chart_03 담당자별 매출 통계 [End] ---------->

		<br>

		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<canvas id="chart_03b">Your browser does not support the canvas element.</canvas>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){
        $("#sch_team").combobox();
	    $("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/staff.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});
	});

	var color = Chart.helpers.color;

	var config = {
		type: 'bar',
		data: {
			labels: [
				<{section name=list loop=$x_name_list}>
					'<{$x_name_list[list]}>',
				<{/section}>
			],
			datasets: [
			{
				label: '매출',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				data: [
					<{section name=list loop=$x_name_list}>
						<{assign var="data_empty" value="true"}>
						<{section name=list2 loop=$chart_01}>
							<{if $x_name_list[list] == $chart_01[list2].result_ym}>
								'<{$chart_01[list2].result_data_dp}>',
								<{assign var="data_empty" value="false"}>
							<{/if}>
						<{/section}>
						<{if $data_empty == "true"}>
							0,
						<{/if}>
					<{/section}>
				],
				fill: false,
			}]
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: true,
				position: 'top'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: false,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: false,
				}]
			}
		}
	};

	var config2 = {
		type: 'bar',
		data: {
			labels: [
				<{section name=list loop=$x_name_list}>
					'<{$x_name_list[list]}>',
				<{/section}>
			],
			datasets: [
				<{section name=list loop=$chart_02_title_list}>
				{
					label:
							<{if !!$chart_02_title_list[list].team_name}>
								'<{$chart_02_title_list[list].team_name}>',
							<{else}>
								'(NULL)',
							<{/if}>
					backgroundColor: color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					data: [
							<{section name=list2 loop=$x_name_list}>
								<{assign var="data_empty" value="true"}>
								<{section name=list3 loop=$chart_02}>
									<{if ($chart_02[list3].team == $chart_02_title_list[list].team && $chart_02[list3].result_ym == $x_name_list[list2])}>
										<{$chart_02[list3].result_data_dp}>,
										<{assign var="data_empty" value="false"}>
									<{/if}>
								<{/section}>
								<{if $data_empty == "true"}>
										0,
								<{/if}>
							<{/section}>
					],
					fill: false,
				} ,
				<{/section}>
			]
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config2b = {
		type: 'pie',
		data: {
			datasets: [{
				data: [
					<{section name=list loop=$chart_02_title_list}>
						<{if !!$chart_02_title_list[list].result_data_dp_sum}>
							<{$chart_02_title_list[list].result_data_dp_sum}>,
						<{else}>
							0,
						<{/if}>
					<{/section}>
				],
				backgroundColor: [
					<{section name=list loop=$chart_02_title_list}>
						color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					<{/section}>
				]
			}],
			labels : [
				<{section name=list loop=$chart_02_title_list}>
					<{if !!$chart_02_title_list[list].team_name}>
						'<{$chart_02_title_list[list].team_name}>',
					<{else}>
						'(NULL)',
					<{/if}>
				<{/section}>
			]
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel2b',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.labels[tooltipItem.index]+' : '+data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString()+'천원');
					},
				},
				intersect: false,
			},
		}
	};

	var config3 = {
		type: 'bar',
		data: {
			labels: [
				<{section name=list loop=$x_name_list}>
					'<{$x_name_list[list]}>',
				<{/section}>
			],
			datasets: [
				<{section name=list loop=$chart_03_title_list}>
				{
					label:
							<{if !!$chart_03_title_list[list].s_name}>
								'<{$chart_03_title_list[list].s_name}>',
							<{else}>
								'(NULL)',
							<{/if}>
					backgroundColor: color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					stack : '매출',
					data: [
							<{section name=list2 loop=$x_name_list}>
								<{assign var="data_empty" value="true"}>
								<{section name=list3 loop=$chart_03}>
									<{if ($chart_03[list3].s_no == $chart_03_title_list[list].s_no && $chart_03[list3].result_ym == $x_name_list[list2])}>
										<{$chart_03[list3].result_data_dp}>,
										<{assign var="data_empty" value="false"}>
									<{/if}>
								<{/section}>
								<{if $data_empty == "true"}>
										0,
								<{/if}>
							<{/section}>
					],
					fill: false,
				} ,
				<{/section}>
			]
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config3b = {
		type: 'pie',
		data: {
			datasets: [{
				data: [
					<{section name=list loop=$chart_03_title_list}>
						<{assign var="result_data_sum" value="true"}>
						<{section name=list3 loop=$chart_03}>
							<{if ($chart_03[list3].s_no == $chart_03_title_list[list].s_no && $result_data_sum == "true")}>
								<{$chart_03_title_list[list].result_data_dp_sum}>,
								<{assign var="result_data_sum" value="false"}>
							<{/if}>
						<{/section}>
						<{if $result_data_sum == "true"}>
								0,
						<{/if}>
					<{/section}>
				],
				backgroundColor: [
					<{section name=list loop=$chart_03_title_list}>
						color('<{$color_list[list]}>').alpha(0.5).rgbString(),
					<{/section}>
				]
			}],
			labels : [
				<{section name=list loop=$chart_03_title_list}>
					<{if !!$chart_03_title_list[list].s_name}>
						'<{$chart_03_title_list[list].s_name}>',
					<{else}>
						'(NULL)',
					<{/if}>
				<{/section}>
			]

		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3b',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.labels[tooltipItem.index]+' : '+data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString()+'천원');
					},
				},
				intersect: false,
			},
		}
	};


	window.onload = function() {
		var ctx = document.getElementById('chart_01').getContext('2d');
		window.myLine = new Chart(ctx, config);

		var ctx2 = document.getElementById('chart_02').getContext('2d');
		window.myLine2 = new Chart(ctx2, config2);

		var ctx2b = document.getElementById('chart_02b').getContext('2d');
		window.myLine2b = new Chart(ctx2b, config2b);

		var ctx3 = document.getElementById('chart_03').getContext('2d');
		window.myLine3 = new Chart(ctx3, config3);

		var ctx3b = document.getElementById('chart_03b').getContext('2d');
		window.myLine3b = new Chart(ctx3b, config3b);
	};


	function number_format(number, decimals, dec_point, thousands_sep) {
	// *     example: number_format(1234.56, 2, ',', ' ');
	// *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
	}

	// 숫자 타입에서 쓸 수 있도록 format() 함수 추가
	Number.prototype.format = function(){
	    if(this==0) return 0;

	    var reg = /(^[+-]?\d+)(\d{3})/;
	    var n = (this + '');

	    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

	    return n;
	};

	// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
	String.prototype.format = function(){
	    var num = parseFloat(this);
	    if( isNaN(num) ) return "0";

	    return num.format();
	};

	jQuery('.format-money').text(function() {
    jQuery(this).text(
        jQuery(this).text().format()
    );
	});

</script>

</body>
</html>
