<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<style type="text/css">
	.custom-combobox input{font-size: 11px; height: 28px; border-radius: 2px; padding: 3px 2px; color: #333; border-color: #333;}
	.table_list_style table thead th{text-align: center;}
	.sch_date_type{display: none;}
	.table_td_yes{background-color: #ECFBFF;}
	.table_td_no{background-color: #FFF1F1;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="wise_sales_work_value.php" method="get" enctype="multipart/form-data">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<table cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td>
					<span class="name_tit">상품(업무) 종류</span>
					<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g1_list}>
						<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g2_list}>
						<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd" name="sch_prd" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$sch_prd_list}>
						<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
						<{/section}>
					</select>
				</td>
				<td rowspan="3">
					<button type="button" style="width: 85px; height: 85px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_search">조회</button>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">조회 단위</span>
					<input type="radio" name="sch_kind" value="1" class="radio first" <{if $sch_kind == '1'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">연간
					<input type="radio" name="sch_kind" value="2" class="radio" <{if $sch_kind == '2'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">월간
					<input type="radio" name="sch_kind" value="3" class="radio" <{if $sch_kind == '3'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">주간
					<input type="radio" name="sch_kind" value="4" class="radio" <{if $sch_kind == '4'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">일간

					<span style="margin-right:15px;"></span>

					<span class="name_tit">조회 기간</span>
					<span id="sch_date_type_year" class="sch_date_type">
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_s_date" name="sch_year_s_date" value="<{$sch_year_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_e_date" name="sch_year_e_date" value="<{$sch_year_e_date}>" />
					</span>
					<span id="sch_date_type_month" class="sch_date_type">
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_s_date" name="sch_mon_s_date" value="<{$sch_mon_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_e_date" name="sch_mon_e_date" value="<{$sch_mon_e_date}>" />
					</span>
					<span id="sch_date_type_week" class="sch_date_type">
						<input type="text" class="week-start-picker input_type_date" id="sch_week_s_date" name="sch_week_s_date" value="<{$sch_week_s_date}>" readonly />
						~
						<input type="text" class="week-end-picker input_type_date" id="sch_week_e_date" name="sch_week_e_date" value="<{$sch_week_e_date}>" readonly />
					</span>
					<span id="sch_date_type_day" class="sch_date_type">
						<input type="text" class="date-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" class="date-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">담당자 기준</span>
					<select name="sch_s_no_kind" id="sch_s_no_kind" class="select_type2">
						<option value="c_s_no" <{if $sch_s_no_kind == "c_s_no"}>selected<{/if}>>업체 담당자</option>
						<option value="req_s_no" <{if $sch_s_no_kind == "req_s_no"}>selected<{/if}>>업무 요청자</option>
						<option value="run_s_no" <{if $sch_s_no_kind == "run_s_no"}>selected<{/if}>>업무 처리자</option>
					</select>
					::
					<select name="sch_team" id="sch_team" class="select_type3">
						<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type3">
						<option value="" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
						<{section name=idx loop=$staff_list}>
						<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
						<{/section}>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">value_type</span>
					<input type="radio" name="sch_value_kind" value="1" class="radio" <{if $sch_value_kind == '1'}>checked<{/if}> >금액
					<input type="radio" name="sch_value_kind" value="2" class="radio" <{if $sch_value_kind == '2'}>checked<{/if}> >수량(건)
				</td>
			</tr>
			</tbody>
		</table>


		<!---------- chart_01 sales/work value (금액) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# sales/work value <{if $sch_value_kind == '1'}>(금액)<{elseif $sch_value_kind == '2'}>수량(건)<{/if}><span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_01">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<div class="right_wrap" style="color:#808080;">( SN = Service No, SY = Serice Yes )</div>
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_01_table">
				<thead>
			   		<tr>
						<th class="first">서비스타입</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_01_table key=service_type item=service_data}>
					<tr>
						<td class="first" <{if $service_type == '1'}>style="background-color: #ECFBFF;"<{else}>style="background-color: #FFF1F1;"<{/if}>><{if $service_type == '1'}>sales value (SN)<{else}>work value (SY)<{/if}></td>
						<{assign var="chart_01_data_sum" value="0"}>
						<{foreach from=$service_data key=result_ym item=result_data}>
						<td <{if $service_type == '1'}>style="background-color: #ECFBFF;"<{else}>style="background-color: #FFF1F1;"<{/if}>>
							<span class="format-money"><{$result_data}></span>
						</td>
						<{assign var="chart_01_data_sum" value=$chart_01_data_sum+$result_data}>
						<{/foreach}>
						<!-- 합계 -->
						<td style="background-color: #E7E7E7;"><span class="format-money"><{$chart_01_data_sum}></span></td>
					</tr>
					<{/foreach}>
					<{if $sch_value_kind == '1'}>
					<tr>
						<td class="first">SY & Work value 미입력 (단위 : 건)</td>
						<{foreach from=$chart_service_list key=result_ym item=result_data}>
						<td>
							<span class="format-money"><{$result_data}></span>건
						</td>
						<{/foreach}>
						<td style="background-color: #E7E7E7;"><span class="format-money"><{$chart_service_sum}></span></td>
					</tr>
					<{/if}>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_01_table');" /></div>
		</div>
		<!---------- chart_01 sales/work value (금액) [End] ---------->

		<br>

		<!---------- chart_02 부서별 업무(요청자) sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 부서별 업무(요청자) sales/work value 통계<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_02">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_02_table">
				<thead>
			    	<tr>
						<th class="first">부서명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
					<{if $row_sum > 0}>
					<tr class="table_td_yes" style="<{if $chart_02_display[$row_code]  == 'N'}>background: #999;<{/if}>">
						<td class="first" ><{$chart_02_row_name[$row_code]}> (SN)</td>
						<{assign var='chart_02_sales_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<span class="format-money"><{$chart_02_sales[$date][$row_code]}></span>
						</td>
						<{assign var='chart_02_sales_sum' value=$chart_02_sales_sum+$chart_02_sales[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_02_display[$row_code]  == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_02_sales_sum}></span>
						</td>
					</tr>
					<tr class="table_td_no" style="<{if $chart_02_display[$row_code]  == 'N'}>background: #999;<{/if}>">
						<td class="first" ><{$chart_02_row_name[$row_code]}> (SY)</td>
						<{assign var='chart_02_work_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<span class="format-money"><{$chart_02_work[$date][$row_code]}></span>
						</td>
						<{assign var='chart_02_work_sum' value=$chart_02_work_sum+$chart_02_work[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_02_display[$row_code]  == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_02_work_sum}></span>
						</td>
					</tr>
					<{/if}>
					<{/foreach}>
					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_02_day_sum item=day_sum}>
						<td>
							<span class="format-money"><{$day_sum}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_02_table');" /></div>
		</div>
		<!---------- chart_02 부서별 업무(요청자) sales/work value 통계 [End] ---------->

		<br>

		<!---------- chart_03 업무(요청자) sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 업무(요청자) sales/work value 통계<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_03">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_03_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">업무요청자명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_03_row_sum key=row_code item=row_sum}>
					<{if $row_sum > 0}>
					<tr class="table_td_yes" style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_03_row_name[$row_code]}> (SN)</td>
						<{assign var='chart_03_sales_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<span class="format-money"><{$chart_03_sales[$date][$row_code]}></span>
						</td>
						<{assign var='chart_03_sales_sum' value=$chart_03_sales_sum+$chart_03_sales[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_03_sales_sum}></span>
						</td>
					</tr>
					<tr class="table_td_np" style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first" ><{$chart_03_row_name[$row_code]}> (SY)</td>
						<{assign var='chart_03_work_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td >
							<span class="format-money"><{$chart_03_work[$date][$row_code]}></span>
						</td>
						<{assign var='chart_03_work_sum' value=$chart_03_work_sum+$chart_03_work[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_03_work_sum}></span>
						</td>
					</tr>
					<{/if}>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_03_day_sum item=day_sum}>
						<td>
							<span class="format-money"><{$day_sum}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_03_table');" /></div>
		</div>
		<!---------- chart_03 업무(요청자) sales/work value 통계 [End] ---------->

		<br>

		<!---------- chart_04 업체별 sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 업체별 sales/work value 통계<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_04">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_04_table">
				<thead>
				<tr>
					<th class="first" style="min-width:60px;">업체명</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first" style="min-width:60px;">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_04_row_sum key=row_code item=row_sum}>
				<{if $row_sum > 0}>
				<tr style="<{if $chart_04_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first" style="background-color: #ECFBFF;"><{$chart_04_row_name[$row_code]}> (SN)</td>
					<{assign var='chart_04_sales_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td style="background-color: #ECFBFF;">
						<span class="format-money"><{$chart_04_sales[$date][$row_code]}></span>
					</td>
					<{assign var='chart_04_sales_sum' value=$chart_04_sales_sum+$chart_04_sales[$date][$row_code]}>
					<{/foreach}>
					<td style="background-color: #E7E7E7;">
						<span class="format-money"><{$chart_04_sales_sum}></span>
					</td>
				</tr>
				<tr style="<{if $chart_04_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first" style="background-color: #FFF1F1;"><{$chart_04_row_name[$row_code]}> (SY)</td>
					<{assign var='chart_04_work_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td style="background-color: #FFF1F1;">
						<span class="format-money"><{$chart_04_work[$date][$row_code]}></span>
					</td>
					<{assign var='chart_04_work_sum' value=$chart_04_work_sum+$chart_04_work[$date][$row_code]}>
					<{/foreach}>
					<td style="background-color: #E7E7E7;">
						<span class="format-money"><{$chart_04_work_sum}></span>
					</td>
				</tr>
				<{/if}>
				<{/foreach}>

				<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_04_day_sum item=day_sum}>
					<td>
						<span class="format-money"><{$day_sum}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_04_table');" /></div>
		</div>
		<!---------- chart_04 업체별 sales/work value 통계 [End] ---------->

		<br>

		<!---------- chart_05 부서별 업무(처리자) sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 부서별 업무(처리자) sales/work value 통계<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_05">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_05_table">
				<thead>
				<tr>
					<th class="first">부서명</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
				<{if $row_sum > 0}>
				<tr class="table_td_yes" style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first"><{$chart_05_row_name[$row_code]}> (SN)</td>
					<{assign var='chart_05_sales_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td>
						<span class="format-money"><{$chart_05_sales[$date][$row_code]}></span>
					</td>
					<{assign var='chart_05_sales_sum' value=$chart_05_sales_sum+$chart_05_sales[$date][$row_code]}>
					<{/foreach}>
					<td style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
						<span class="format-money"><{$chart_05_sales_sum}></span>
					</td>
				</tr>
				<tr class="table_td_no" style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first"><{$chart_05_row_name[$row_code]}> (SY)</td>
					<{assign var='chart_05_work_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td>
						<span class="format-money"><{$chart_05_work[$date][$row_code]}></span>
					</td>
					<{assign var='chart_05_work_sum' value=$chart_05_work_sum+$chart_05_work[$date][$row_code]}>
					<{/foreach}>
					<td style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
						<span class="format-money"><{$chart_05_work_sum}></span>
					</td>
				</tr>
				<{/if}>
				<{/foreach}>
				<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_05_day_sum item=day_sum}>
					<td>
						<span class="format-money"><{$day_sum}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_05_table');" /></div>
		</div>
		<!---------- chart_05 부서별 업무(처리자) sales/work value 통계 [End] ---------->

		<br>

		<!---------- chart_06 업무(처리자) sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 업무(처리자) sales/work value 통계<span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_06">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_06_table">
				<thead>
				<tr>
					<th class="first" style="min-width:60px;">업무처리자명</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first" style="min-width:60px;">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_06_row_sum key=row_code item=row_sum}>
				<{if $row_sum > 0}>
				<tr class="table_td_yes" style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first"><{$chart_06_row_name[$row_code]}> (SN)</td>
					<{assign var='chart_06_sales_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td>
						<span class="format-money"><{$chart_06_sales[$date][$row_code]}></span>
					</td>
					<{assign var='chart_06_sales_sum' value=$chart_06_sales_sum+$chart_06_sales[$date][$row_code]}>
					<{/foreach}>
					<td style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
						<span class="format-money"><{$chart_06_sales_sum}></span>
					</td>
				</tr>
				<tr class="table_td_no" style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first" style="background-color: #FFF1F1;"><{$chart_06_row_name[$row_code]}> (SY)</td>
					<{assign var='chart_06_work_sum' value="0"}>
					<{foreach from=$x_name_title key=date item=title}>
					<td style="background-color: #FFF1F1;">
						<span class="format-money"><{$chart_06_work[$date][$row_code]}></span>
					</td>
					<{assign var='chart_06_work_sum' value=$chart_06_work_sum+$chart_06_work[$date][$row_code]}>
					<{/foreach}>
					<td style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
						<span class="format-money"><{$chart_06_work_sum}></span>
					</td>
				</tr>
				<{/if}>
				<{/foreach}>

				<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_06_day_sum item=day_sum}>
					<td>
						<span class="format-money"><{$day_sum}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_06_table');" /></div>
		</div>
		<!---------- chart_06 업무(처리자) sales/work value 통계 [End] ---------->

		<!---------- chart_07 상품그룹2별 sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품그룹2별 sales/work value <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_07">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_07_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품그룹2명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_07_row_sum key=row_code item=row_sum}>
					<{if $row_sum > 0}>
					<tr>
						<td class="first" style="background-color: #ECFBFF;"><{$chart_07_row_name[$row_code]}> (SN)</td>
						<{assign var='chart_07_sales_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td style="background-color: #ECFBFF;">
							<span class="format-money"><{$chart_07_sales[$date][$row_code]}></span>
						</td>
						<{assign var='chart_07_sales_sum' value=$chart_07_sales_sum+$chart_07_sales[$date][$row_code]}>
						<{/foreach}>
						<td style="background-color: #E7E7E7;">
							<span class="format-money"><{$chart_07_sales_sum}></span>
						</td>
					</tr>
					<tr>
						<td class="first" style="background-color: #FFF1F1;"><{$chart_07_row_name[$row_code]}> (SY)</td>
						<{assign var='chart_07_work_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td style="background-color: #FFF1F1;">
							<span class="format-money"><{$chart_07_work[$date][$row_code]}></span>
						</td>
						<{assign var='chart_07_work_sum' value=$chart_07_work_sum+$chart_07_work[$date][$row_code]}>
						<{/foreach}>
						<td style="background-color: #E7E7E7;">
							<span class="format-money"><{$chart_07_work_sum}></span>
						</td>
					</tr>
					<{/if}>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_07_day_sum item=day_sum}>
						<td>
							<span class="format-money"><{$day_sum}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_07_table');" /></div>
		</div>
		<!---------- chart_07 상품그룹2별 sales/work value 통계 [END] ---------->

		<br>

		<!---------- chart_08 상품별 sales/work value 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품별 sales/work value <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_08">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_08_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_08_row_sum key=row_code item=row_sum}>
					<{if $row_sum > 0}>
					<tr style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first" style="background-color: #ECFBFF;"><{$chart_08_row_name[$row_code]}> (SN)</td>
						<{assign var='chart_08_sales_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td style="background-color: #ECFBFF;">
							<span class="format-money"><{$chart_08_sales[$date][$row_code]}></span>
						</td>
						<{assign var='chart_08_sales_sum' value=$chart_08_sales_sum+$chart_08_sales[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_08_sales_sum}></span>
						</td>
					</tr>
					<tr style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first" style="background-color: #FFF1F1;"><{$chart_08_row_name[$row_code]}> (SY)</td>
						<{assign var='chart_08_work_sum' value="0"}>
						<{foreach from=$x_name_title key=date item=title}>
						<td style="background-color: #FFF1F1;">
							<span class="format-money"><{$chart_08_work[$date][$row_code]}></span>
						</td>
						<{assign var='chart_08_work_sum' value=$chart_08_work_sum+$chart_08_work[$date][$row_code]}>
						<{/foreach}>
						<td style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #E7E7E7;<{/if}>">
							<span class="format-money"><{$chart_08_work_sum}></span>
						</td>
					</tr>
					<{/if}>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_08_day_sum item=day_sum}>
						<td>
							<span class="format-money"><{$day_sum}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<{if $sch_value_kind == '1'}><div class="right_wrap" >금액 : 단위(천원)</div></br><{/if}>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_08_table');" /></div>
		</div>
		<!---------- chart_08 상품별 sales/work value 통계 [END] ---------->

		<br>

	</form>
</div>

<script>
	$(document).ready(function(){
        $("#sch_team").combobox();
	    $("#sch_prd_g2").remoteChained({
            parents: "#sch_prd_g1",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_prd").remoteChained({
            parents: "#sch_prd_g2",
            url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
            loading: "로딩중..",
            clear: true
        });
        $("#sch_s_no").remoteChained({
            parents: "#sch_team",
            url: "/v1/api/staff.json.php?parent_data=sch_team",
            loading: "로딩중..",
            clear: true
        });

        sch_date_display('<{$sch_kind_type}>');
	});

	var color = Chart.helpers.color;

	var config = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
                {
                    label: 'sales value (SN)',
                    backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                    borderWidth: 2,
                    data: [
						<{foreach from=$x_name_title key=date item=title}>
						<{$chart_01_sales[$date]}>,
					<{/foreach}>
					]
				},
				{
					label: 'work value (SY)',
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    borderWidth: 2,
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{$chart_01_work[$date]}>,
						<{/foreach}>
					]
                },

			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: true,
				position: 'top'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: false,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: false,
				}]
			}
		}
	};

	var config2 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
				{
					label: '<{$chart_02_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack:'SN',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_02_sales[$date][$row_code] }>
								<{$chart_02_sales[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_02_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack:'SY',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_02_work[$date][$row_code] }>
								<{$chart_02_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
    		fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label + ' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config3 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_03_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
				{
					label: '<{$chart_03_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: 'SN',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_03[$date][$row_code] }>
								<{$chart_03[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_03_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: 'SY',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_03_work[$date][$row_code] }>
								<{$chart_03_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

    var config4 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
    		datasets: [
    			<{assign var=i value=0}>
				<{foreach from=$chart_04_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
    			{
        			label: '<{$chart_04_row_name[$row_code]}> (SN)',
        			backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
        			borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
        			stack: 'SN',
        			data: [
        				<{foreach from=$x_name_title key=date item=title}>
        					<{if $chart_04[$date][$row_code] }>
        						<{$chart_04[$date][$row_code]}>,
    						<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_04_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: 'SY',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_04_work[$date][$row_code] }>
								<{$chart_04_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
    			<{assign var=i value=$i+1}>
				<{/if}>
    			<{/foreach}>
    		],
    		fill: false,
    	},
    	options: {
        responsive: true,
            legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
					label: 'mylabel3',
					position: 'nearest',
					callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
    	}
    };

    var config5 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
				{
					label: '<{$chart_05_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack:'SN',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_05_sales[$date][$row_code] }>
								<{$chart_05_sales[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_05_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack:'SY',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_05_work[$date][$row_code] }>
								<{$chart_05_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
					label: 'mylabel3',
					position: 'nearest',
					callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label + ' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
    	}
    };

    var config6 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_06_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
				{
					label: '<{$chart_06_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: 'SN',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_06[$date][$row_code] }>
								<{$chart_06[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_06_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: 'SY',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_06_work[$date][$row_code] }>
								<{$chart_06_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
					position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
					label: 'mylabel3',
					position: 'nearest',
					callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

	var config7 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_07_row_sum key=row_code item=row_sum}>
            	<{if $row_sum > 0}>
				{
					label: '<{$chart_07_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: "SN",
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_07_sales[$date][$row_code] }>
								<{$chart_07_sales[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_07_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: "SY",
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_07_work[$date][$row_code] }>
								<{$chart_07_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config8 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_08_row_sum key=row_code item=row_sum}>
				<{if $row_sum > 0}>
				{
					label: '<{$chart_08_row_name[$row_code]}> (SN)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: "SN",
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_08_sales[$date][$row_code] }>
								<{$chart_08_sales[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				{
					label: '<{$chart_08_row_name[$row_code]}> (SY)',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack: "SY",
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_08_work[$date][$row_code] }>
								<{$chart_08_work[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/if}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value);
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};


	window.onload = function() {
		var ctx = document.getElementById('chart_01').getContext('2d');
		window.myLine = new Chart(ctx, config);

		var ctx2 = document.getElementById('chart_02').getContext('2d');
		window.myLine2 = new Chart(ctx2, config2);

		var ctx3 = document.getElementById('chart_03').getContext('2d');
		window.myLine3 = new Chart(ctx3, config3);

		var ctx4 = document.getElementById('chart_04').getContext('2d');
		window.myLine4 = new Chart(ctx4, config4);

		var ctx5 = document.getElementById('chart_05').getContext('2d');
		window.myLine5 = new Chart(ctx5, config5);

		var ctx6 = document.getElementById('chart_06').getContext('2d');
		window.myLine6 = new Chart(ctx6, config6);

        var ctx7 = document.getElementById('chart_07').getContext('2d');
        window.myLine6 = new Chart(ctx7, config7);

        var ctx8 = document.getElementById('chart_08').getContext('2d');
        window.myLine6 = new Chart(ctx8, config8);
	};


	function number_format(number, decimals, dec_point, thousands_sep)
	{
		number = (number + '').replace(',', '').replace(' ', '');
		var n = !isFinite(+number) ? 0 : +number,
				prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
				sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
				dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
				s = '',
				toFixedFix = function (n, prec) {
					var k = Math.pow(10, prec);
					return '' + Math.round(n * k) / k;
				};
		// Fix for IE parseFloat(0.55).toFixed(0) = 0;
		s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
		if (s[0].length > 3) {
			s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
		}
		if ((s[1] || '').length < prec) {
			s[1] = s[1] || '';
			s[1] += new Array(prec - s[1].length + 1).join('0');
		}
		return s.join(dec);
	}

	function sch_date_display(type)
	{
        $(".sch_date_type").hide();
        $("#sch_date_type_"+type).show();
	}

	// 숫자 타입에서 쓸 수 있도록 format() 함수 추가
	Number.prototype.format = function(){
	    if(this==0) return 0;

	    var reg = /(^[+-]?\d+)(\d{3})/;
	    var n = (this + '');

	    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

	    return n;
	};

	// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
	String.prototype.format = function(){
	    var num = parseFloat(this);
	    if( isNaN(num) ) return "0";

	    return num.format();
	};

	jQuery('.format-money').text(function() {
		jQuery(this).text(
			jQuery(this).text().format()
		);
	});

</script>

</body>
</html>
