<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<style type="text/css">
	.custom-combobox input{font-size: 11px; height: 28px; border-radius: 2px; padding: 3px 2px; color: #333; border-color: #333;}
	.table_list_style table thead th{text-align: center;}
	.sch_date_type{display: none;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="wise_work_02b.php" method="get" enctype="multipart/form-data">
		<h2 class="title" style="margin-bottom: 5px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>
		<span style="font-size: 12px;font-weight: bold;">쿠폰, 적립금, 배송비등을 제외한 상품별 판매금액으로 표시 됩니다.</span>

		<table cellpadding="0" cellspacing="0" style="margin-top: 20px;">
			<tbody>
			<tr>
				<td>
					<span class="name_tit">상품(업무) 종류</span>
					<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g1_list}>
						<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$prd_g2_list}>
						<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
						<{/section}>
					</select>
					>
					<select id="sch_prd" name="sch_prd" class="select_type3" style="margin-right: 5px;">
						<option value="">::전체::</option>
						<{section name=data loop=$sch_prd_list}>
						<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
						<{/section}>
					</select>
				</td>
				<td rowspan="3">
					<button type="button" style="width: 85px; height: 85px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_search">조회</button>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">조회 단위</span>
					<{foreach from=$sch_kind_type_option key=key item=label}>
					<input type="radio" name="sch_kind" value="<{$key}>" class="radio <{if $key == '1'}>first<{/if}>" <{if $sch_kind == $key}>checked<{/if}> onclick="sch_date_display('<{$label}>','sch_date_type_<{$label}>',this);"><{$sch_kind_type_name_option[$label]}>
					<{/foreach}>

					<span style="margin-right:15px;"></span>

					<span class="name_tit">조회 기간</span>
					<span id="sch_date_type_year" class="sch_date_type">
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_s_date" name="sch_year_s_date" value="<{$sch_year_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_e_date" name="sch_year_e_date" value="<{$sch_year_e_date}>" />
					</span>
					<span id="sch_date_type_month" class="sch_date_type">
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_s_date" name="sch_mon_s_date" value="<{$sch_mon_s_date}>" />
						~
						<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_e_date" name="sch_mon_e_date" value="<{$sch_mon_e_date}>" />
					</span>
					<span id="sch_date_type_week" class="sch_date_type">
						<input type="text" class="week-start-picker input_type_date" id="sch_week_s_date" name="sch_week_s_date" value="<{$sch_week_s_date}>" readonly />
						~
						<input type="text" class="week-end-picker input_type_date" id="sch_week_e_date" name="sch_week_e_date" value="<{$sch_week_e_date}>" readonly />
					</span>
					<span id="sch_date_type_day" class="sch_date_type">
						<input type="text" class="date-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
						~
						<input type="text" class="date-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit">담당자 기준</span>
					<select name="sch_s_no_kind" id="sch_s_no_kind" class="select_type2">
						<{foreach from=$sch_staff_kind_option key=key item=label}>
						<option value="<{$key}>" <{if $sch_s_no_kind == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					::
					<select name="sch_team" id="sch_team" class="select_type3">
						<{foreach from=$sch_team_list key=team_code item=label}>
						<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
					>
					<select name="sch_s_no" id="sch_s_no" class="select_type3">
						<option value="" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
						<{section name=idx loop=$staff_list}>
						<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
						<{/section}>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<span class="name_tit" style="width: 55px; display: inline-block;">구매처</span>
					<select name="sch_dp_c_no" class="select_type3">
						<option value="">::전체::</option>
						<{foreach from=$dp_company_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_dp_c_no == $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			</tbody>
		</table>


		<!---------- chart_01 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_01">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_01_table">
				<thead>
			    	<tr>
						<th class="first">매출</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_01 key=type item=result_data}>
					<tr>
						<td class="first"><{$work_02_chart_type[$type]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="<{if $type == 'deposit'}>color: blue;<{else}>color: red;<{/if}>"><{$chart_01[$type][$date]}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="background-color: #ffeef2;">
							<span class="format-money" style="<{if $type == 'deposit'}>color: blue;<{else}>color: red;<{/if}>"><{$chart_01[$type].total}></span>
						</td>
					</tr>
					<{/foreach}>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_01_table');" /></div>
		</div>
		<!---------- chart_01 상품 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_02 부서별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 부서별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_02">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_02_table">
				<thead>
			    	<tr>
						<th class="first">부서명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
					<tr style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_02_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_02[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
							<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
						</td>
					</tr>
					<{/foreach}>
					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_02_day_sum item=day_sum}>
						<td>
							<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_02_table');" /></div>
		</div>
		<!---------- chart_02 부서별 상품 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_03 <{$sch_s_no_kind_name}>별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# <{$sch_s_no_kind_name}>별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_03">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_03_table">
				<thead>
			    	<tr>
						<th class="first" style="min-width:60px;"><{$sch_s_no_kind_name}>명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_03_row_sum key=row_code item=row_sum}>
					<tr style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_03_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_03[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
							<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_03_day_sum item=day_sum}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_03_table');" /></div>
		</div>
		<!---------- chart_03 <{$sch_s_no_kind_name}>별 상품 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_04 상품그룹2별 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품그룹2별 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_04">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_04_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품그룹2명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_04_row_sum key=row_code item=row_sum}>
					<tr>
						<td class="first"><{$chart_04_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_04[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="background-color: #ffeef2;">
							<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_04_day_sum item=day_sum}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_04_table');" /></div>
		</div>
		<!---------- chart_04 상품그룹2별 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_05 상품별 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품별 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_05">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_05_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
					<tr style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_05_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_05[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
							<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_05_day_sum item=day_sum}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_05_table');" /></div>
		</div>
		<!---------- chart_05 상품별 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_06 상품그룹2별 판매금액 평균 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품그룹2별 판매금액 평균 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_06">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_06_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품그룹2명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">평균</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_06_row_avg key=row_code item=row_avg}>
					<tr>
						<td class="first"><{$chart_06_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_06[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="background-color: #ffeef2;">
							<span class="format-money" style="color:blue;"><{$row_avg.deposit}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">평균</td>
						<{foreach from=$chart_06_day_avg item=day_avg}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_avg.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_06_table');" /></div>
		</div>
		<!---------- chart_06 상품그룹2별 판매금액 평균 통계 [End] ---------->

		<br>

		<!---------- chart_07 상품별 판매금액 평균 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 상품별 매출 평균 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_07">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_07_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">상품명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">평균</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_07_row_avg key=row_code item=row_avg}>
					<tr style="<{if $chart_07_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_07_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_07[$date][$row_code].deposit}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="<{if $chart_07_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
							<span class="format-money" style="color:blue;"><{$row_avg.deposit}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">평균</td>
						<{foreach from=$chart_07_day_avg item=day_avg}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_avg.deposit}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_07_table');" /></div>
		</div>
		<!---------- chart_07 상품별 판매금액 평균 통계 [End] ---------->

		<br>

		<!---------- chart_08 구매처별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 구매처별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_08">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_08_table">
				<thead>
					<tr>
						<th class="first" style="min-width:60px;">업체명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first" style="min-width:60px;">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_08_row_sum key=row_code item=row_sum}>
					<tr style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_08_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$chart_08[$date][$row_code]}></span>
						</td>
						<{/foreach}>
						<td class="alignR" style="<{if $chart_08_display[$row_code] == 'N'}>background: #999;<{else}>background-color: #ffeef2;<{/if}>">
							<span class="format-money" style="color:blue;"><{$row_sum}></span>
						</td>
					</tr>
					<{/foreach}>

					<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_08_day_sum item=day_sum}>
						<td class="alignR">
							<span class="format-money" style="color:blue;"><{$day_sum}></span>
						</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_08_table');" /></div>
		</div>
		<!---------- chart_08 구매처별 상품 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_10 요일별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 요일별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_10">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_10_table">
				<thead>
				<tr>
					<th class="first" style="min-width:60px;">요일</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first" style="min-width:60px;">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_10_row_sum key=row_code item=row_sum}>
				<tr>
					<td class="first"><{$chart_10_row_name[$row_code]}></td>
					<{foreach from=$x_name_title key=date item=title}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$chart_10[$date][$row_code].deposit}></span>
					</td>
					<{/foreach}>
					<td class="alignR" style="background-color: #ffeef2;">
						<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
					</td>
				</tr>
				<{/foreach}>

				<tr style="background-color: #d3d3d3;">
					<td class="first">합계</td>
					<{foreach from=$chart_10_day_sum item=day_sum}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_10_table');" /></div>
		</div>
		<!---------- chart_10 요일별 상품 판매금액 통계 [End] ---------->

		<br>

		<!---------- chart_11 시간대별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 시간대별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_11">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_11_table">
				<thead>
				<tr>
					<th class="first" style="min-width:60px;">시간대</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first" style="min-width:60px;">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_11_row_sum key=row_code item=row_sum}>
				<tr>
					<td class="first"><{$chart_11_row_name[$row_code]}></td>
					<{foreach from=$x_name_title key=date item=title}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$chart_11[$date][$row_code].deposit}></span>
					</td>
					<{/foreach}>
					<td class="alignR" style="background-color: #ffeef2;">
						<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
					</td>
				</tr>
				<{/foreach}>

				<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_11_day_sum item=day_sum}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_11_table');" /></div>
		</div>
		<!---------- chart_11 시간대별 상품 판매금액 통계 [End] ---------->

		<!---------- chart_12 지역별 상품 판매금액 통계 [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:45px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# 지역별 상품 판매금액 통계 <span style="font-size:12px; font-weight:normal;">(상품 : <{$sch_prd_name}>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;<{$sch_s_no_kind_name}> : <{$sch_s_name}>)</span>
			</div>
			<br>
			<canvas id="chart_12">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_12_table">
				<thead>
				<tr>
					<th class="first" style="min-width:60px;">지역</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first" style="min-width:60px;">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_12_row_sum key=row_code item=row_sum}>
				<tr>
					<td class="first"><{$chart_12_row_name[$row_code]}></td>
					<{foreach from=$x_name_title key=date item=title}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$chart_12[$date][$row_code].deposit}></span>
					</td>
					<{/foreach}>
					<td class="alignR" style="background-color: #ffeef2;">
						<span class="format-money" style="color:blue;"><{$row_sum.deposit}></span>
					</td>
				</tr>
				<{/foreach}>

				<tr style="background-color: #d3d3d3;"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_12_day_sum item=day_sum}>
					<td class="alignR">
						<span class="format-money" style="color:blue;"><{$day_sum.deposit}></span>
					</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_12_table');" /></div>
		</div>
		<!---------- chart_12 지역별 상품 판매금액 통계 [End] ---------->

	</form>
</div>

<script>
	$(document).ready(function(){
        $("#sch_team").combobox();
	    $("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/staff.json.php?parent_data=sch_team&sch_k_code=product_cms",
			loading: "로딩중..",
			clear: true
		});

        sch_date_display('<{$sch_kind_type}>');
	});
	
	var color = Chart.helpers.color;

	var config = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{foreach from=$chart_01 key=type item=result_data}>
				{
					label: '<{$work_02_chart_type[$type]}>',
					backgroundColor: color(<{$chart_01[$type].color}>).alpha(0.5).rgbString(),
					borderColor: color(<{$chart_01[$type].color}>).alpha(0.5).rgbString(),
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_01[$type][$date] }>
							<{$chart_01[$type][$date]}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: true,
				position: 'top'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: false,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: false,
				}]
			}
		}
	};

	var config2 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_02_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_02[$date][$row_code][$type] }>
								<{$chart_02[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config3 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_03_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_03_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_03[$date][$row_code][$type] }>
							<{$chart_03[$date][$row_code][$type]}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config4 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_04_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_04_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_04[$date][$row_code][$type] }>
								<{$chart_04[$date][$row_code][$type]}>,
								<{else}>
								0,
							<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config5 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_05_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_05[$date][$row_code][$type] }>
								<{$chart_05[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config6 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_06_row_avg key=row_code item=row_avg}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_06_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_06[$date][$row_code][$type] }>
								<{$chart_06[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config7 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_07_row_avg key=row_code item=row_avg}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_07_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_07[$date][$row_code][$type] }>
								<{$chart_07[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config8 = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_08_row_sum key=row_code item=row_sum}>
				{
					label: '<{$chart_08_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					stack : '매출',
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_08[$date][$row_code]}>
							<{$chart_08[$date][$row_code]}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
					],
				},
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'top',
			},
			title: {
				display: true,
				position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

    var config10 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
   		 	datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_10_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_10_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_10[$date][$row_code][$type] }>
								<{$chart_10[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
				legend: {
				display: false,
					position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

    var config11 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_11_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_11_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_11[$date][$row_code][$type] }>
								<{$chart_11[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
				legend: {
				display: false,
					position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

    var config12 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_12_row_sum key=row_code item=row_sum}>
					<{foreach from=$work_02_chart_type key=type item=type_title}>
					{
						label: '<{$chart_12_row_name[$row_code]}>',
						backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
						stack : '<{$type_title}>',
						data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_12[$date][$row_code][$type] }>
								<{$chart_12[$date][$row_code][$type]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						],
					},
					<{/foreach}>
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
		fill: false,
		},
		options: {
			responsive: true,
				legend: {
				display: false,
					position: 'top',
			},
			title: {
				display: true,
					position: 'bottom'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel3',
				position: 'nearest',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+'('+data.datasets[tooltipItem.datasetIndex].stack+') : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'천원');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'천원';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

	window.onload = function() {
		var ctx = document.getElementById('chart_01').getContext('2d');
		window.myLine = new Chart(ctx, config);

		var ctx2 = document.getElementById('chart_02').getContext('2d');
		window.myLine2 = new Chart(ctx2, config2);

		var ctx3 = document.getElementById('chart_03').getContext('2d');
		window.myLine3 = new Chart(ctx3, config3);

		var ctx4 = document.getElementById('chart_04').getContext('2d');
		window.myLine4 = new Chart(ctx4, config4);

		var ctx5 = document.getElementById('chart_05').getContext('2d');
		window.myLine5 = new Chart(ctx5, config5);

		var ctx6 = document.getElementById('chart_06').getContext('2d');
		window.myLine6 = new Chart(ctx6, config6);

		var ctx7 = document.getElementById('chart_07').getContext('2d');
		window.myLine7 = new Chart(ctx7, config7);

		var ctx8 = document.getElementById('chart_08').getContext('2d');
		window.myLine8 = new Chart(ctx8, config8);

        var ctx10 = document.getElementById('chart_10').getContext('2d');
        window.myLine8 = new Chart(ctx10, config10);

        var ctx11 = document.getElementById('chart_11').getContext('2d');
        window.myLine9 = new Chart(ctx11, config11);

        var ctx12 = document.getElementById('chart_12').getContext('2d');
        window.myLine9 = new Chart(ctx12, config12);
	};


	function number_format(number, decimals, dec_point, thousands_sep) {
	// *     example: number_format(1234.56, 2, ',', ' ');
	// *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
	}

	function sch_date_display(type){
        $(".sch_date_type").hide();
        $("#sch_date_type_"+type).show();
	}

	// 숫자 타입에서 쓸 수 있도록 format() 함수 추가
	Number.prototype.format = function(){
	    if(this==0) return 0;

	    var reg = /(^[+-]?\d+)(\d{3})/;
	    var n = (this + '');

	    while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

	    return n;
	};

	// 문자열 타입에서 쓸 수 있도록 format() 함수 추가
	String.prototype.format = function(){
	    var num = parseFloat(this);
	    if( isNaN(num) ) return "0";

	    return num.format();
	};

	jQuery('.format-money').text(function() {
    jQuery(this).text(
        jQuery(this).text().format()
    );
	});

</script>

</body>
</html>
