<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>js/chart/Chart.bundle.js"></script>
<script src="<{$dir_location}>js/chart/utils.js"></script>

<style type="text/css">
	.custom-combobox input{font-size: 11px; height: 28px; border-radius: 2px; padding: 3px 2px; color: #333; border-color: #333;}
	.table_list_style table thead th{text-align: center;}
	.sch_date_type{display: none;}
</style>

<div class="admin_content">
	<form name="work_chart_form" action="wise_work_03.php" method="get" enctype="multipart/form-data">
		<h2 class="title" style="margin-bottom: 10px;">
			<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
			<{$nav_title}>
		</h2>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<span class="name_tit">조회 단위</span>
						<input type="radio" name="sch_kind" value="1" class="radio first" <{if $sch_kind == '1'}>checked<{/if}> onclick="sch_date_display('year','sch_date_type_year',this);">연간
						<input type="radio" name="sch_kind" value="2" class="radio" <{if $sch_kind == '2'}>checked<{/if}> onclick="sch_date_display('month','sch_date_type_month',this);">월간
						<input type="radio" name="sch_kind" value="3" class="radio" <{if $sch_kind == '3'}>checked<{/if}> onclick="sch_date_display('week','sch_date_type_week',this);">주간
						<input type="radio" name="sch_kind" value="4" class="radio" <{if $sch_kind == '4'}>checked<{/if}> onclick="sch_date_display('day','sch_date_type_day',this);">일간

						<span style="margin-right:15px;"></span>

						<span class="name_tit">조회 기간</span>
						<span id="sch_date_type_year" class="sch_date_type">
							<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_s_date" name="sch_year_s_date" value="<{$sch_year_s_date}>" />
							~
							<input type="text" style="width: 65px;" class="year-picker input_type_date" id="sch_year_e_date" name="sch_year_e_date" value="<{$sch_year_e_date}>" />
						</span>
						<span id="sch_date_type_month" class="sch_date_type">
							<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_s_date" name="sch_mon_s_date" value="<{$sch_mon_s_date}>" />
							~
							<input type="text" style="width: 65px;" class="month-picker input_type_date" id="sch_mon_e_date" name="sch_mon_e_date" value="<{$sch_mon_e_date}>" />
						</span>
						<span id="sch_date_type_week" class="sch_date_type">
							<input type="text" class="week-start-picker input_type_date" id="sch_week_s_date" name="sch_week_s_date" value="<{$sch_week_s_date}>" readonly />
							~
							<input type="text" class="week-end-picker input_type_date" id="sch_week_e_date" name="sch_week_e_date" value="<{$sch_week_e_date}>" readonly />
						</span>
						<span id="sch_date_type_day" class="sch_date_type">
							<input type="text" class="date-picker input_type_date" id="sch_s_date" name="sch_s_date" value="<{$sch_s_date}>" />
							~
							<input type="text" class="date-picker input_type_date" id="sch_e_date" name="sch_e_date" value="<{$sch_e_date}>" />
						</span>
					</td>
					<td rowspan="2">
						<button type="button" style="width: 75px; height: 55px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_search">조회</button>
					</td>
				</tr>
				<tr>
					<td>
						<span class="name_tit">업무처리 담당자</span>
						<select name="sch_team" id="sch_team" class="select_type3">
							<{foreach from=$sch_team_list key=team_code item=label}>
							<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						>
						<select name="sch_s_no" id="sch_s_no" class="select_type3">
							<option value="" <{if $sch_s_no == ""}>selected<{/if}>>::전체::</option>
							<{section name=idx loop=$staff_list}>
							<option value="<{$staff_list[idx].s_no}>" <{if $sch_s_no == $staff_list[idx].s_no}>selected<{/if}>><{$staff_list[idx].s_name}></option>
							<{/section}>
						</select>
					</td>
				</tr>
			</tbody>
		</table>

		<!---------- chart_01 총 업무 기여도(건) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;"># 총 업무 기여도(건)</div>
			<br>
			<canvas id="chart_01">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_01_table">
				<thead>
			    	<tr>
						<th class="first" style="max-width:60px;">업무처리 담당자명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_01_row_sum key=row_code item=row_sum}>
					<tr class="chart-row-line" style="<{if $chart_01_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_01_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_01[$date][$row_code]}>
								<{$chart_01[$date][$row_code]}>
							<{else}>
								0
							<{/if}>
						</td>
						<{/foreach}>
						<td class="chart-row-total" style="<{if $chart_01_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum}></td>
					</tr>
					<{/foreach}>

					<tr class="chart-row-total">
						<td class="first">합계</td>
						<{foreach from=$chart_01_day_sum item=day_sum}>
						<td><{$day_sum}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_01_table');" /></div>
		</div>
		<!---------- chart_01 총 업무 기여도(건) [End] ---------->

		<br><br>

		<!---------- chart_02 총 업무 기여도(work-time) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;"># 총 업무 기여도(work-time)</div>
			<br>
			<canvas id="chart_02">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_02_table">
				<thead>
					<tr>
						<th class="first">업무처리 담당자명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
					<tr class="chart-row-line" style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_02_row_name[$row_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_02[$date][$row_code]}>
								<{$chart_02[$date][$row_code]|string_format:"%.2f"}>
							<{else}>
								0.00
							<{/if}>
							wt
						</td>
						<{/foreach}>
						<td class="chart-row-total" style="<{if $chart_02_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum|string_format:"%.2f"}> wt</td>
					</tr>
					<{/foreach}>

					<tr class="chart-row-total"> <!-- x좌표 항목 합계 -->
						<td class="first">합계</td>
						<{foreach from=$chart_02_day_sum item=day_sum}>
						<td><{$day_sum|string_format:"%.2f"}> wt</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>

					<tr><td style="border-bottom:0px;"></td></tr>

					<tr>
						<td class="first" style="border-top:1px solid #ccc;">work time empty</td>
						<{foreach from=$x_name_title key=date item=title}>
						<td style="border-top:1px solid #ccc;"><{if $chart_02_empty_time[$date]}><{$chart_02_empty_time[$date]}> 건<{else}>0 건<{/if}></td>
						<{/foreach}>
						<td style="border-top:1px solid #ccc;"></td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_02_table');" /></div>
		</div>
		<!---------- chart_02 총 업무 기여도(work-time) [End] ---------->

		<br><br>

		<!---------- chart_05 업무요청자별 기여도(건) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;"># 업무요청자별 기여도(건)</div>
			<br>
			<canvas id="chart_05">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_05_table">
				<thead>
				<tr>
					<th class="first" style="max-width:60px;">업무요청 담당자명</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
				<tr class="chart-row-line" style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first"><{$chart_05_row_name[$row_code]}></td>
					<{foreach from=$x_name_title key=date item=title}>
					<td>
						<{if $chart_05[$date][$row_code]}>
						<{$chart_05[$date][$row_code]}>
						<{else}>
						0
						<{/if}>
					</td>
					<{/foreach}>
					<td class="chart-row-total" style="<{if $chart_05_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum}></td>
				</tr>
				<{/foreach}>

				<tr class="chart-row-total">
					<td class="first">합계</td>
					<{foreach from=$chart_05_day_sum item=day_sum}>
					<td><{$day_sum}></td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_05_table');" /></div>
		</div>
		<!---------- chart_05 업무요청자별 기여도(건) [End] ---------->

		<br><br>

		<!---------- chart_06 업무요청자별 기여도(work-time) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;"># 업무요청자별 기여도(work-time)</div>
			<br>
			<canvas id="chart_06">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_06_table">
				<thead>
				<tr>
					<th class="first">업무요청 담당자명</th>
					<{foreach from=$x_name_title item=title}>
					<th style="word-break:initial;"><{$title}></th>
					<{/foreach}>
					<th class="first">합계</th>
				</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_06_row_sum key=row_code item=row_sum}>
				<tr class="chart-row-line" style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{/if}>">
					<td class="first"><{$chart_06_row_name[$row_code]}></td>
					<{foreach from=$x_name_title key=date item=title}>
					<td>
						<{if $chart_06[$date][$row_code]}>
						<{$chart_06[$date][$row_code]|string_format:"%.2f"}>
						<{else}>
						0.00
						<{/if}>
						wt
					</td>
					<{/foreach}>
					<td class="chart-row-total" style="<{if $chart_06_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum|string_format:"%.2f"}> wt</td>
				</tr>
				<{/foreach}>

				<tr class="chart-row-total"> <!-- x좌표 항목 합계 -->
					<td class="first">합계</td>
					<{foreach from=$chart_06_day_sum item=day_sum}>
					<td><{$day_sum|string_format:"%.2f"}> wt</td>
					<{/foreach}>
					<td>&nbsp;</td>
				</tr>

				<tr><td style="border-bottom:0px;"></td></tr>

				<tr>
					<td class="first" style="border-top:1px solid #ccc;">work time empty</td>
					<{foreach from=$x_name_title key=date item=title}>
					<td style="border-top:1px solid #ccc;"><{if $chart_06_empty_time[$date]}><{$chart_06_empty_time[$date]}> 건<{else}>0 건<{/if}></td>
					<{/foreach}>
					<td style="border-top:1px solid #ccc;"></td>
				</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_06_table');" /></div>
		</div>
		<!---------- chart_06 업무요청자별 기여도(work-time) [End] ---------->

		<br><br>

<{if !!$sch_s_no}>
		<!---------- chart_03 #담당자명 업무 기여도(건) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# <{$sch_s_name}>, 업무 기여도(건)
			</div>
			<br>
			<canvas id="chart_03">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_03_table">
				<thead>
			    	<tr>
						<th class="first" style="max-width:60px;">상품명</th>
						<th style="max-width:60px;">옵션명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_03_table_row key=row_code item=row_data}>
					<{foreach from=$row_data key=k_name_code item=row_sum}>
					<tr class="chart-row-line" style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_03_row_name[$row_code]}></td>
						<td><{$chart_03_table_name[$row_code][$k_name_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_03[$date][$row_code][$k_name_code]}>
								<{$chart_03[$date][$row_code][$k_name_code]}>
							<{else}>
							0
							<{/if}>
						</td>
						<{/foreach}>
						<td class="chart-row-total" style="<{if $chart_03_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum}></td>
					</tr>
					<{/foreach}>
				<{/foreach}>
					<tr class="chart-row-total">
						<td class="first" colspan="2">합계</td>
						<{foreach from=$chart_03_day_sum item=day_sum}>
						<td><{$day_sum}></td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_03_table');" /></div>
		</div>
		<!---------- chart_03 #담당자명 업무 기여도(건) [End] ---------->

		<br><br>

		<!---------- chart_04 #담당자명 업무 기여도(work-time) [Start] ---------->
		<div style="width:800px; margin-left:25px; margin-top:25px;">
			<div style="text-align:left; font-size:17px; font-weight:bold; background-color:#d3d3d3;">
				# <{$sch_s_name}>, 업무 기여도(work-time)
			</div>
			<br>
			<canvas id="chart_04">Your browser does not support the canvas element.</canvas>
		</div>
		<div class="table_list_style" style="width:800px; margin-left:25px;">
			<table cellpadding="0" cellspacing="0" style="min-width:800px;" id="chart_04_table">
				<thead>
			    	<tr>
						<th class="first" style="max-width:60px;">상품명</th>
						<th style="max-width:60px;">옵션명</th>
						<{foreach from=$x_name_title item=title}>
						<th style="word-break:initial;"><{$title}></th>
						<{/foreach}>
						<th class="first">합계</th>
					</tr>
				</thead>
				<tbody>
				<{foreach from=$chart_04_table_row key=row_code item=row_data}>
					<{foreach from=$row_data key=k_name_code item=row_sum}>
					<tr class="chart-row-line" style="<{if $chart_04_display[$row_code] == 'N'}>background: #999;<{/if}>">
						<td class="first"><{$chart_04_row_name[$row_code]}></td>
						<td><{$chart_04_table_name[$row_code][$k_name_code]}></td>
						<{foreach from=$x_name_title key=date item=title}>
						<td>
							<{if $chart_04[$date][$row_code][$k_name_code]}>
							<{$chart_04[$date][$row_code][$k_name_code]|string_format:"%.2f"}>
							<{else}>
							0.00
							<{/if}>
							wt
						</td>
						<{/foreach}>
						<td class="chart-row-total" style="<{if $chart_04_display[$row_code] == 'N'}>background: #999;<{/if}>"><{$row_sum|string_format:"%.2f"}> wt</td>
					</tr>
					<{/foreach}>
				<{/foreach}>
					<tr class="chart-row-total"> <!-- x좌표 항목 합계 -->
						<td class="first" colspan="2">합계</td>
						<{foreach from=$chart_04_day_sum item=day_sum}>
						<td><{$day_sum|string_format:"%.2f"}> wt</td>
						<{/foreach}>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="right_wrap" style="color:red;">※주의 : 모든 통계는 업무시스템에 등록된 상품(업무) 진행에 한하여 나타남.</div>
			<div class="copy-table"><input type="button" class="copy-table-btn" value="표 복사하기" onclick="copyTable('chart_04_table');" /></div>
		</div>
		<!---------- chart_04 #담당자명 업무 기여도(work-time) [End] ---------->

		<br>
<{/if}>

	</form>
</div>

<script>
	$(document).ready(function(){
        $("#sch_team").combobox();
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/staff.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

        sch_date_display('<{$sch_kind_type}>');
	});

	var color = Chart.helpers.color;

	var config = {
		type: 'bar',
		data: {
			labels: [<{$x_name_list}>],
			datasets: [
					<{assign var=i value=0}>
					<{foreach from=$chart_01_row_sum key=row_code item=row_sum}>
					{
                        label: '<{$chart_01_row_name[$row_code]}>',
                        backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
                        borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
                        data: [
							<{foreach from=$x_name_title key=date item=title}>
								<{if $chart_01[$date][$row_code] }>
								<{$chart_01[$date][$row_code]}>,
								<{else}>
								0,
								<{/if}>
							<{/foreach}>
						]
					},
					<{assign var=i value=$i+1}>
					<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '총 업무 기여도(건)'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'건');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'건';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config2 = {
		type: 'bar',
		data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_02_row_sum key=row_code item=row_sum}>
				{
					label: '<{$chart_02_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_02[$date][$row_code] }>
								<{$chart_02[$date][$row_code]}>,
							<{else}>
								0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '총 업무 기여도(work-time)'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+' W.T');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+' W.T';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

    var config5 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_05_row_sum key=row_code item=row_sum}>
				{
					label: '<{$chart_05_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
					<{foreach from=$x_name_title key=date item=title}>
						<{if $chart_05[$date][$row_code] }>
							<{$chart_05[$date][$row_code]}>,
						<{else}>
							0,
						<{/if}>
					<{/foreach}>
					]
    			},
    			<{assign var=i value=$i+1}>
    			<{/foreach}>
    		],
    		fill: false,
    	},
		options: {
			responsive: true,
				legend: {
				display: false,
					position: 'bottom',
			},
			title: {
				display: false,
					position: 'bottom',
					text: '총 업무 기여도(건)'
			},
			tooltips: {
				mode: 'label',
					label: 'mylabel',
					callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'건');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'건';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

    var config6 = {
        type: 'bar',
        data: {
            labels: [<{$x_name_list}>],
			datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_06_row_sum key=row_code item=row_sum}>
				{
					label: '<{$chart_06_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
					<{foreach from=$x_name_title key=date item=title}>
						<{if $chart_06[$date][$row_code] }>
							<{$chart_06[$date][$row_code]}>,
						<{else}>
							0,
						<{/if}>
					<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/foreach}>
    		],
			fill: false,
		},
		options: {
			responsive: true,
				legend: {
				display: false,
					position: 'bottom',
			},
			title: {
				display: false,
					position: 'bottom',
					text: '총 업무 기여도(work-time)'
			},
			tooltips: {
				mode: 'label',
					label: 'mylabel',
					callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+' W.T');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
					intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
					yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+' W.T';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
    };

<{if !!$sch_s_no}>
	var config3 = {
		type: 'bar',
		data: {
            labels: [<{$x_name_list}>],
   			 datasets: [
   				<{assign var=i value=0}>
    			<{foreach from=$chart_03_row_sum key=row_code item=row_sum}>
    			{
					label: '<{$chart_03_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_03[$date][$row_code] }>
							<{$chart_03[$date][$row_code].total}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
    				]
    			},
				<{assign var=i value=$i+1}>
				<{/foreach}>
    		],
   		 	fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '<{$sch_s_name}>, 업무 기여도(건)'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'건');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+'건';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};

	var config4 = {
		type: 'bar',
		data: {
            labels: [<{$x_name_list}>],
    		datasets: [
				<{assign var=i value=0}>
				<{foreach from=$chart_04_row_sum key=row_code item=row_sum}>
				{
					label: '<{$chart_04_row_name[$row_code]}>',
					backgroundColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					borderColor: color('<{$color_list[$i]}>').alpha(0.5).rgbString(),
					data: [
						<{foreach from=$x_name_title key=date item=title}>
							<{if $chart_04[$date][$row_code] }>
							<{$chart_04[$date][$row_code].total}>,
							<{else}>
							0,
							<{/if}>
						<{/foreach}>
					]
				},
				<{assign var=i value=$i+1}>
				<{/foreach}>
			],
			fill: false,
		},
		options: {
			responsive: true,
			legend: {
				display: false,
				position: 'bottom',
			},
			title: {
				display: false,
				position: 'bottom',
				text: '<{$sch_s_name}>, 업무 기여도(work-time)'
			},
			tooltips: {
				mode: 'label',
				label: 'mylabel',
				callbacks: {
					label: function(tooltipItem, data) {
						return (data.datasets[tooltipItem.datasetIndex].label+' : '+tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+' W.T');
					},
				},
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					stacked: true,
				}],
				yAxes: [{
					ticks: {
						beginAtZero:true,
						callback: function(value, index, values) {
							return number_format(value)+' W.T';
						}
					},
					display: true,
					stacked: true,
				}]
			}
		}
	};
<{/if}>

	window.onload = function() {
		var ctx = document.getElementById('chart_01').getContext('2d');
		window.myLine = new Chart(ctx, config);

		var ctx2 = document.getElementById('chart_02').getContext('2d');
		window.myLine2 = new Chart(ctx2, config2);

        var ctx5 = document.getElementById('chart_05').getContext('2d');
        window.myLine = new Chart(ctx5, config5);

        var ctx6 = document.getElementById('chart_06').getContext('2d');
        window.myLine = new Chart(ctx6, config6);

        <{if !!$sch_s_no}>
		var ctx3 = document.getElementById('chart_03').getContext('2d');
		window.myLine3 = new Chart(ctx3, config3);

		var ctx4 = document.getElementById('chart_04').getContext('2d');
		window.myLine4 = new Chart(ctx4, config4);
		<{/if}>
	};


	function number_format(number, decimals, dec_point, thousands_sep) {
	// *     example: number_format(1234.56, 2, ',', ' ');
	// *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
	}

	function sch_date_display(type){
        $(".sch_date_type").hide();
        $("#sch_date_type_"+type).show();
	}

</script>

</body>
</html>
