<!-- UPDATE by WISEPLANNER 20160330 -->
<{include file="inc/top_popup.html"}>

	<div class="admin_content">
		<h2 class="title" style="margin-bottom:10px">● 블로거 상세보기</h2>
		<div class="default_wrap">
			<div class="box_wrap">
				<form name="udt_frm" id="udt_frm" action="blogger_detail.php" method="post">
				<input type="hidden" name="b_no" id="b_no" value="<{$b_no}>">
				<input type="hidden" name="list_query" id="list_query" value="<{$save_query}>">
				<input type="hidden" id="process" name="process" value="<{$mode}>">
				<span class="line">블로그 url : <strong><{$blog_url}></strong> <!-- <button class="btn_small">블랙리스트 설정</button></span> --><br />
				<span class="line">신청수 : <{$apply_count}>회 </span><br />
				<span class="line">선정수 ; <{$select_count}>회 (선정율 : <{$select_percent}>%) </span><br />
				<span class="line">취소건 : <{$cancel_count}>회 </span><br />
				<span class="line">마감 미준수 : <{$report_count}>회 (미준수율 <{$report_percent}>%) </span><br />
				<span class="line">블로거 평가 : 
				<span class="txt" style="vertical-align:top;">
					<li>메모 : <textarea name="b_memo" id="b_memo" cols="5" rows="7" class="textarea_memo_detail"><{$b_memo}></textarea>	<button onclick="process.value='memo';submit();" class="btn_small">저장</button></li>
					마지막평가 : <{$reload}> <button onclick="process.value='reload';submit();" class="btn_style2">재평가완료</button>
			
				</span>
				</form>
			</div>
		</div>
		<div style="overflow: hidden; margin-bottom: 5px;">
			<form method="get" name="search_form" action="blogger_detail.php">
				<input type="hidden" name="blog_url" value="<{$blog_url}>">
				<span class="name_tit">업체명</span>
				<input type="text" class="input_type5" id="sch_c_name" name="sch_c_name" value="<{$sch_c_name}>"  style="margin-right: 10px;"/>

				<span class="name_tit">구분</span>
				<select name="sch_gubun" id="sch_gubun" class="select_type2" style="width: auto; font-weight: normal; font-size: 12px; margin-right: 10px;">
					<{section name=data loop=$promotion_kind}>
					<option value="<{$promotion_kind[data][1]}>" <{if ($sch_gubun=='' && $promotion_kind[data][0]=='전체') || $sch_gubun==$promotion_kind[data][1]}>selected<{/if}>><{$promotion_kind[data][0]}></option>
					<{/section}>
				</select>
				<button class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;background: #333;color: white;font-weight: bold;padding: 5px 10px;" onclick="submit();">검색</button>
			</form>
		</div>
		<div class="table_list_style">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="first" style="min-width:40px;">a_No.</th>
						<th style="min-width:80px;">신청일</th>
                        <th style="min-width:105px;">카페 아이디</th>
						<th style="min-width:80px;">닉네임<br />이름</th>
						<th style="min-width:140px;">휴대폰<br />이메일</th>
						<th style="min-width:80px;">구분</th>
						<th style="min-width:80px;">CODE</th>
						<th style="min-width:200px;">업체명</th>
						<th style="min-width:80px;">선정여부</th>
						<th style="min-width:90px">마감 준수 여부</th>
						<th style="min-width:80px;">보상금액</th>
						<th style="min-width:80px;">보상완료</th>
						<th style="min-width:350px">포스팅제목</th>
						<th style="min-width:320px">포스팅 URL</th>
				        <th style="min-width:130px;">주민번호</th>
				        <th style="min-width:80px;">은행명</th>
				        <th style="min-width:130px;">계좌번호</th>
				        <th style="min-width:80px;">예금주</th>
					</tr>
				</thead>
				<tbody>
				<{if $total_num == 0}>
				<tr>
					<td colspan="10"> 등록된 자료가 없습니다.</td>
				</tr>
			<{else}>
			<{section name=data loop=$blogger}>
					<tr>
						<td class="first"><{$blogger[data].a_no}></td>
						<td class="date_td "><span class="date"><{$blogger[data].date_ymd}></span><!-- <span class="time"><{$blogger[data].date_hi}></span>--></td>
						<td><{$blogger[data].cafe_id}></td>
						<td><{$blogger[data].nick}><br /><{$blogger[data].username}></td>
						<td><{$blogger[data].hp}><br /><{$blogger[data].email}></td>
						<td><{$blogger[data].kind_name}></td>
						<td><{$blogger[data].promotion_code}></td>
						<td  class="link_td" style="text-align:left; padding-left:5px;"><a href="../promotion_regist.php?code=<{$blogger[data].kind}>&no=<{$blogger[data].p_no}>" target="_blank"><{$blogger[data].company}></a></td>
						<td <{if $blogger[data].a_state_name == '선정취소' }>style="color:#F00;"<{/if}>><{$blogger[data].a_state_name}></td>
                        <{if $blogger[data].a_state_name == '선정' || $blogger[data].a_state_name == '선정취소'}>
	                        <td <{if $blogger[data].limit_yn_name == '마감 미준수' }>style="color:#F00;"<{/if}>><{$blogger[data].limit_yn_name}></td>
                        <{else}>
	                        <td bgcolor="#999999">&nbsp;</td>
                        <{/if}>
                       	<{if $blogger[data].a_state_name == '선정' }>
	                        <td><{$blogger[data].pres_money}> * <{$blogger[data].pres_num}></td>
                        <{else}>
	                        <td bgcolor="#999999">&nbsp;</td>
                        <{/if}>
						<{if $blogger[data].a_state_name == '선정'}>
                        	<{if $blogger[data].refund_count != ''}>
                       			<td>지급완료(<{$blogger[data].refund_count}>)</td>
	                        <{else}>
    	                       	<td>미지급</td>
        	                <{/if}>
                        <{else}>
	                        <td bgcolor="#999999">&nbsp;</td>
                        <{/if}>
                        <{if $blogger[data].a_state_name == '선정' }>
							<td colspan="2" class="no_bd">
		                    	<table cellpadding="0" cellspacing="0" border="0" width="670" >
								<{section name=data1 loop=$report}>
									<{if $blogger[data].a_no == $report[data1].a_no}>
									<tr>
    				                	<td style="width:350x; text-align:left;">
											<{if $report[data1].post_title != ''}><{$report[data1].post_title}><{/if}>
										</td>					
										<td style="width:320px; text-align:left;">
                        					<{if $report[data1].post_url != ''}><{$report[data1].post_url}><{/if}>
										</td>
									</tr>
        	                        <{/if}>
								<{/section}>
				                </table>
							</td>
                        <{else}>
	                        <td bgcolor="#999999">&nbsp;</td>
                            <td bgcolor="#999999">&nbsp;</td>
                        <{/if}>
						<td><{$blogger[data].bk_jumin}></td>
						<td><{$blogger[data].bk_title}></td>
						<td><{$blogger[data].bk_num}></td>
						<td><{$blogger[data].bk_name}></td>
						</tr>
					<{/section}>
					<{/if}>
				</tbody>
			</table>
			<!-- 풍선도움말 -->

		</div>
		<div class="paging_wrap">
			<{$pagelist}>
		</div>
		</div>
	</div>
	<!-- //admin_content -->
<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_blogger_detail.php?<{$save_query}>';"><span>엑셀 다운로드</span></button></div>

<script>
// 삭제하기
function del(idx) {
	var f=document.getElementById('blogger_list_frm');

if (!confirm("해당내역에 관하여 삭제처리하시겠습니까?")){
return false;
} else {
	f.process.value='del';
	f.b_no.value=idx;
	f.submit();
}
}

//풍선 도움말 스크립트
    function sample_string_view(ans, typea) {
        var obj = document.getElementById(typea);
        if (ans) {
            obj.style.top = window.event.clientY + document.body.scrollTop + 10;
            obj.style.left = window.event.clientX + document.body.scrollLeft + 10;
            obj.style.display = "block";
        }
        else {
            obj.style.display = "none";
        }
    }
    function sample_string_move(objName) {
        var obj = document.getElementById(objName);
        if (obj.style.display == "block") {
            obj.style.top = window.event.clientY + document.body.scrollTop + 10;
            obj.style.left = window.event.clientX + document.body.scrollLeft + 10;
        }
    }

</script>
 </body>
</html>
