<{include file="inc/top_popup.html"}>

<div class="admin_content" style="width:3150px;">
    <h2 class="title_kind<{$category}>"> <{$promotion_code}> <{$company}> 블로거 선정
        <{if $sort_type == '1'}>
        (선정자만 골라보기)
        <{elseif $sort_type == '2'}>
        (평가일 오래된순 정렬(지수체크용))
        <{else}>
        (전체보기)
        <{/if}>
    </h2>
</div>

<div>신청 / 모집 (취소) : <{$app_num}> / <{$reg_num}> <span style="color: #f00;">(-<{$cancel_num}>명 선정취소)<{if $overlap_count}>(중복 신청자(<{$overlap_count}>명): <{$overlap}>)<{/if}></span></div>
<div>완료 / 포스팅 (취소) : <{$report_num}> / <{$select_posting_num}> <span style="color: #f00;">(-<{$cancel_num}>명 선정취소 * <{$posting_num/$reg_num}>회 포스팅)</span>
    <button class="btn_small" type="button" onClick="window.open('popup_blogger_list.php?no=<{$p_no}>','블로거 리스트','width=1600, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">블로거 리스트</button>
    <button class="btn_small" type="button" onClick="location.href='excel_popup_blogger_list.php?no=<{$p_no}>&sort_type=<{$sort_type}>';">블로거 리스트(EXCEL)</button>
    <{if $category == '3' || $category == '5'}>
    <button class="btn_small" type="button" onClick="location.href='excel_popup_blogger_logistics_list.php?no=<{$p_no}>';">블로거 리스트(커머스용)</button>
    <{/if}>
    &nbsp;&nbsp;&nbsp;
    <button class="btn_small" type="button" onClick="window.open('popup_posting_list.php?no=<{$p_no}>','포스팅 리스트','width=1470, height=800, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;">포스팅 리스트</button>
    <button class="btn_small" type="button" onClick="location.href='excel_popup_posting_list.php?no=<{$p_no}>';">포스팅 리스트(EXCEL)</button>
</div>
<div>완료 / 보상 (취소) : <{$total_refund}> / <{$select_posting_num}> <span style="color: #f00;">(-<{$cancel_num}>명 선정취소 * <{$posting_num/$reg_num}>회 포스팅)</span>
</div>

<!-- 선정된 블로거만 골라보기 김윤영 Start -->
<br/>
<button type="button" onClick="location.href='blogger_selection.php?no=<{$p_no}>'" class="btn_small_sort_type">전체보기
</button>
<button type="button" onClick="location.href='blogger_selection.php?no=<{$p_no}>&sort_type=1'" class="btn_small_sort_type">선정자만 골라보기
</button>
<button type="button" onClick="location.href='blogger_selection.php?no=<{$p_no}>&sort_type=2'" class="btn_small_sort_type">평가일 오래된순 정렬(지수체크용)
</button>
<!-- 선정된 블로거만 골라보기 김윤영 End -->
<!-- 미선정 블로거 탈락으로 일괄변경 20160325 김윤영 Start -->
<{if $sort_type != '1' }>
<form name="apply_frm_out_selection" id="apply_frm_out_selection" action="blogger_selection.php" method="post" enctype="multipart/form-data">
    <input type="hidden" name="list_query" value="<{$save_query}>" />
    <input type="hidden" name="process" />
    <input type="hidden" name="p_no" value="<{$p_no}>" />
    <button type="button" onclick="save_out_selection()" class="btn_small_sort_type">선정하지 않은사람 모두 탈락으로 변경하기</button>
</form>
<{/if}>
<!-- 미선정 블로거 탈락으로 일괄변경 20160325 김윤영 End -->

<!-- 블로거 데이터 가져오기 Start -->
<{if $p_no && (permissionNameCheck($session_permission,"마스터관리자") || $session_s_no == '61')}>
<br/>
<br/>
<form name="copy_blogger_list_frm" id="copy_blogger_list_frm" method="post" action="blogger_selection.php" style="overflow: hidden;width: 450px;display: inline-block;">
    <input type="hidden" name="process" value="copy_blogger_list"/>
    <input type="hidden" name="list_query" value="<{$save_query}>" />
    <input type="hidden" name="ori_p_no" value="<{$p_no}>"/>
    <select name="copy_method" style="line-height: 28px; display: inline-block; width: 76px; height: 30px;float: left;">
        <option value="all">전체</option>
        <option value="select">선정자만</option>
        <option value="cancel">탈락자만</option>
    </select>
    <input type="text" id="copy_p_no" name="copy_p_no" value="" style="line-height: 26px; width: 100px; padding-left: 10px; box-sizing: border-box;float: left;" placeholder="프로모션 번호" required>
    <button type="button" onclick="copy_blogger_list()" class="btn" style="padding: 5px 10px; color: white; background: #333; border-radius: 3px;float: left;">블로거 가져오기</button>
    <div style="float: left; display: inline-block; padding-top: 13px;">
        <input type="checkbox" name="copy_posting" id="copy_posting" style="cursor: pointer; float: left; display: inline-block;" value="1">
        <label for="copy_posting" style="cursor: pointer; float: left; display: inline-block;">포스팅포함</label>
    </div>
</form>
<form name="excel_blogger_insert_frm" id="excel_blogger_insert_frm" method="post" action="blogger_application_insert.php" style="overflow: hidden;width: 550px;display: inline-block;" enctype="multipart/form-data">
    <input type="hidden" name="promotion_no" value="<{$p_no}>"/>
    <b style="line-height: 30px;">선정여부</b>
    <select name="promotion_state" style="line-height: 28px; display: inline-block; width: 76px; height: 30px;">
        <option value="0">상관없음</option>
        <option value="1">선정</option>
    </select>
    <input type="file" name="application_file" id="application_file" style="width:250px; border: 1px solid #cccccc; margin-right: 5px;"><span style="color:#808080;font-size:11px;">(MAX 10MB)</span>
    <button type="button" onclick="excel_blogger_insert()" class="btn" style="padding: 5px 10px; color: white; background: #333; border-radius: 3px;">엑셀적용</button>
</form>
<{/if}>
<!-- 블로거 데이터 가져오기 End -->

<div class="table_blogger_selection_style" style="width:3150px; clear: both;">

    <table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
        <thead>
        <tr>
            <th width=50>a_no</th>
            <th width="65px;">신청일</th>
            <th width="110px;">카페 아이디</th>
            <th width="120px;">닉네임<br/>이름</th>
            <!--						<th>이름</th>-->
            <th width="210px;">
                <{if $channel == '1'}> <!-- 블로그 -->
                블로그 주소
                <{elseif $channel == '2'}> <!-- 인스타그램 -->
                인스타그램 주소
                <{elseif $channel == '3'}> <!-- 페이스북 -->
                페이스북 주소
                <{elseif $channel == '4'}> <!-- 카페 -->
                블로그 주소<br>또는<br>네이버 아이디
                <{elseif $channel == '5'}> <!-- 촬영 -->
                블로그 주소<br>또는<br>네이버 아이디
                <{elseif $channel == '7'}> <!-- 촬영 -->
                인플루언서 주소
                <{/if}>
            </th>
            <th width="150px;">휴대폰<br/>이메일</th>
            <!--						<th>이메일</th>-->
            <th width="40px;">신청<br/>선정율</th>
            <th width="40px;">취소건</th>
            <th width="40px;">진행중인건</th>
            <th width="200px;">신청사연</th>
            <th width="290px;">메모</th>
            <th width="270px;">선택옵션</th>
            <th width="85px;">선정여부<br>
                <span class="choice_num" style="color:yellow;"><{$a_state_num}>명</span> / <{$reg_num}>명
                <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                <button class="btn_small" type="button" onClick="selection_all_save();">일괄저장</button>
                <{/if}>
            </th>
            <th width="410px;">포스팅제목</th>
            <th width="365px;">포스팅URL</th>
            <th width="310px;">우편번호<br/>주소</th>
            <th width="100px;" class="last">레코드 저장</th>
        </tr>
        </thead>
        <tbody>
        <{section name=data loop=$blogger}>
        <{if $blogger[data].no }>
        <form name="apply_frm<{$blogger[data].no}>" id="apply_frm<{$blogger[data].no}>" class="apply_frm" action="blogger_selection.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
            <input type="hidden" name="list_query" value="<{$save_query}>" />
            <input type="hidden" name="process" class="process" />
            <input type="hidden" name="save_no" />
            <input type="hidden" name="idx" value="<{$blogger[data].idx}>" />
            <input type="hidden" name="p_no" value="<{$blogger[data].p_no}>" />
            <input type="hidden" name="a_no" value="<{$blogger[data].no}>" class="a_no" />
            <input type="hidden" name="b_no" value="<{$blogger[data].blog_no}>" />
            <input type="hidden" name="r_no" />
            <input type="hidden" name="blog_url_origin" value="<{$blogger[data].blog_url_origin}>" />
            <input type="hidden" name="seq" />
            <input type="hidden" name="application_no" />
            <input type="hidden" name="select_all_str" class="select_all_str" />
            <input type="hidden" name="a_no_all_str" class="a_no_all_str" />
            <tr id="tr_<{$blogger[data].no}>">
                <td style="word-break:break-all">
                    <{$blogger[data].no}>
                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                    <button type="button" onclick="del_blogger_record('<{$blogger[data].no}>');" class="btn_file">del</button>
                    <{/if}>
                </td>
                <td class="date_td" style="word-break:break-all">
                    <span class="date"><{$blogger[data].date_ymd}></span><br/><span class="time"><{$blogger[data].date_hi}></span>
                </td>
                <td class="link_td" style="word-break:break-all">
                    <input type="text" class="input_type_name" name="cafe_id" id="cafe_id" value="<{$blogger[data].cafe_id}>"/>
                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                    <button type="button" class="btn_small" onclick="save_all(<{if $blogger[data].no != ''}><{$blogger[data].no}><{else}>''<{/if}>,<{if $blogger[data].blog_no != ''}><{$blogger[data].blog_no}><{else}>''<{/if}>,<{if $blogger[data].report_no != ''}><{$blogger[data].report_no}><{else}>''<{/if}>);">
                        레코드저장<br/>(포스팅정보외)
                    </button>
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <input type="text" class="input_type_nname" name="nick" id="nick" value="<{$blogger[data].nick}>" style="width: 95px;"/>
                    <br/>
                    <input type="text" class="input_type_name" name="uname" id="uname" value="<{$blogger[data].username}>"/>
                </td>
                <td style="word-break:break-all">
                    <input type="text" class="input_type7" name="blog_url" id="blog_url" value="<{$blogger[data].blog_url_origin}>"/><br>
                    <button type="button" class="btn_small" onclick="window.open('<{$blogger[data].blog_url}>','_blank');">블로그보기</button>
                    <button type="button" onClick="window.open('blogger_detail.php?blog_url=<{$blogger[data].blog_url}>','상세보기','width=1600, height=900, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_small">상세보기</button>
                    <{section name=data2 loop=$visit_num}>
                        <{if $visit_num[data2][1] == $blogger[data].visit_num}>
                            <br>
                            <{if $channel == '1'}> <!-- 블로그 -->
                            실방문자수: <{$blogger[data].blog_real_visit}>
                            <{elseif $channel == '2'}> <!-- 인스타그램 -->
                            팔로워수 : <{$visit_num[data2][0]}>
                            <{elseif $channel == '3'}> <!-- 페이스북 -->
                            친구수 : <{$visit_num[data2][0]}>
                            <{/if}>
                        <{/if}>
                    <{/section}>
                    <{if $channel == '7' && !$blogger[data].is_influencer}>
<!--                    <span style="color: red; font-weight: bold;">* 없는 페이지입니다.</span>-->
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <input type="" class="input_type3" name="hp1" id="hp1" value="<{if $us_id== 'admin' || $us_id =='tblog' || permissionCheck($session_permission, '010001')}><{$blogger[data].hp0}>-<{$blogger[data].hp1}>-<{$blogger[data].hp2}><{else}><{$blogger[data].hp0}>-****-<{$blogger[data].hp2}><{/if}>" />
                    <br/>
                    <input type="" class="input_type5" name="email" id="email" value="<{$blogger[data].email}>" style="width: 150px;"/></td>
                <td style="word-break:break-all">
                    <{if $blogger[data].blog_check ==0}>
                    -
                    <{else}>
                    <{if $blogger[data].select_count > 0}><{$blogger[data].select_count}><{else}>0<{/if}>/<{$blogger[data].apply_count}><br>(<{$blogger[data].percent}>%)
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <{if $blogger[data].blog_check ==0}>
                    -
                    <{else}>
                    <{if $blogger[data].cancel_count > 0}><{$blogger[data].cancel_count}><{else}>0<{/if}>
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <{if $blogger[data].blog_check ==0}>
                    -
                    <{else}>
                    <{$blogger[data].proceed_count}>
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <textarea name="a_memo" id="a_memo" cols="30" rows="5" class="textarea_type2" disabled="disabled" style="width: 220px;"><{$blogger[data].memo}></textarea>
                </td>
                <td style="word-break:break-all">
                    <textarea name="memo" id="memo" cols="5" rows="3" class="textarea_type2"><{$blogger[data].b_memo}></textarea>
                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                        <{if $blogger[data].blog_check ==0}>
                        <br>
                        <button type="button" class="btn_small" onclick="return save_blog(<{$blogger[data].no}>);">블로거 리스트등록</button>
                        <{else}>
                        <br>
                        <button type="button" class="btn_small" <{if $blogger[data].blog_no ==''}> onclick='blog_check("");' <{else}> onclick='save_memo(<{$blogger[data].no}>,<{$blogger[data].blog_no}>);'><{/if}>저장</button>
                        <{/if}>
                    <{/if}>
                    <br/>마지막평가 : <{$blogger[data].reload}>
                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                    <button type="button" class="btn_style2" onclick=" save_reload(<{$blogger[data].no}>,<{$blogger[data].blog_no}>);">재평가완료</button>
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <div class="alignL">
                        <{$blogger[data].answer_a}><br>
                        <{$blogger[data].answer_b}><br>
                        <{$blogger[data].answer_c}><br>
                        <{$blogger[data].answer_d}><br>
                        <{$blogger[data].answer_e}><br>
                    </div>
                </td>
                <td style="word-break:break-all">
                    <select name="f_selection" id="f_selection" class="f_selection select_type_groupbox" onchange="count_selection()" size="4" style="width:80px;" <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}> <{else}>disabled<{/if}>>
                        <option value="" <{if !$blogger[data].a_state}>selected="selected"<{/if}>>- 선택 -</option>
                        <{section name=option loop=$select}>
                        <option value="<{$select[option].no}>" <{if $blogger[data].a_state==$select[option].no}>selected="selected"<{/if}>><{$select[option].name}></option>
                        <{/section}>
                    </select>
                </td>
                <td style="word-break:break-all">
                    <{foreach from=$report key=k item=info}>
                    <{if $k == $blogger[data].blog_no}>
                    <input type="text" class="input_type4" name="post_title1" id="post_title1" value="<{$info[0].post_title}>" /><br/>
                    <input type="text" class="input_type4" name="post_title2" id="post_title2" value="<{$info[1].post_title}>" /><br/>
                    <input type="text" class="input_type4" name="post_title3" id="post_title3" value="<{$info[2].post_title}>" /><br/>
                    <{/if}>
                    <{/foreach}>
                </td>
                <td style="word-break:break-all">
                    <{foreach from=$report key=k item=info}>
                    <{if $k == $blogger[data].blog_no}>
                        <input type="text" class="input_type_w300" name="post_url1" id="post_url1" value="<{$info[0].post_url}>" />
                        <input type="hidden" name="r_no_01" value="<{$info[0].r_no}>" />
                        <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                        <button type="button" class="btn_small" <{if ($info[0].post_title !='' || $info[0].post_url !='') AND $info[0].b_no == $blogger[data].blog_no}> onclick='save_report(<{$blogger[data].no}>,<{$info[0].r_no}>,1);' <{else}> onclick='save_report(<{$blogger[data].no}>,"r_no",1);'<{/if}>>저장</button><br>
                        <{/if}>
                        <input type="text" class="input_type_w300" name="post_url2" id="post_url2" value="<{$info[1].post_url}>" />
                        <input type="hidden" name="r_no_02" value="<{$info[1].r_no}>" />
                        <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                        <button type="button" class="btn_small" <{if ($info[1].post_title !='' || $info[1].post_url !='') AND $info[1].b_no == $blogger[data].blog_no}> onclick='save_report(<{$blogger[data].no}>,<{$info[1].r_no}>,2);'<{else}> onclick='save_report(<{$blogger[data].no}>,"r_no",2);'<{/if}>>저장</button><br>
                        <{/if}>
                        <input type="text" class="input_type_w300" name="post_url3" id="post_url3" value="<{$info[2].post_url}>" />
                        <input type="hidden" name="r_no_03" value="<{$info[2].r_no}>" />
                        <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                        <button type="button" class="btn_small" <{if ($info[2].post_title !='' || $info[2].post_url !='') AND $info[2].b_no == $blogger[data].blog_no}> onclick='save_report(<{$blogger[data].no}>,<{$info[2].r_no}>,3);'<{else}> onclick='save_report(<{$blogger[data].no}>,"r_no",3);'<{/if}>>저장</button><br>
                        <{/if}>
                    <{/if}>
                    <{/foreach}>
                </td>
                <td style="word-break:break-all;" class="alignL">
                    <input type="text" name='mb_zip' id="mb_zip" maxlength="7" readonly="readonly" class="input_type2" title="우편번호" value="<{$blogger[data].zipcode}>" />
                    <a href="#post" onClick="execDaumPostcode('<{$blogger[data].no}>')"><span>우편번호 찾기</span></a><br>
                    <div id="wrap<{$blogger[data].no}>" style="display:none;border:1px solid;width:400px;height:300px;margin:5px 0;position:relative">
                        <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode('<{$blogger[data].no}>')" alt="접기 버튼">
                    </div>
                    <input type="text" name='mb_addr1' id="mb_addr1" class="input_type_w300" value="<{$blogger[data].address1}>" readonly="readonly" /><br/>

                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                    <input type="text" name='mb_addr2' id="mb_addr2" class="input_type_w300" value="<{$blogger[data].address2}>">
                    <{else}>
                    <input type="text" name='mb_addr2' id="mb_addr2" class="input_type_w300" value="권한이 없습니다.">
                    <{/if}>
                </td>
                <td style="word-break:break-all">
                    <{if permissionNameCheck($session_permission,"마스터관리자") || (permissionNameCheck($session_permission,"서비스운영") && $session_team == '00221')}>
                    <button type="button" class="btn_small" onclick="save_all(<{if $blogger[data].no != ''}><{$blogger[data].no}><{else}>''<{/if}>,<{if $blogger[data].blog_no != ''}><{$blogger[data].blog_no}><{else}>''<{/if}>,<{if $blogger[data].report_no != ''}><{$blogger[data].report_no}><{else}>''<{/if}>);">
                        레코드저장<br/>(포스팅정보외)
                    </button>
                    <{else}>
                    -
                    <{/if}>
                </td>
            </tr>
        </form>
        <{/if}>
        <{/section}>
        <iframe name='ifrm_submit' width='0' height='0' frameborder='0'></iframe>
        </tbody>
    </table>
</div>
</div>
<!-- //admin_content -->
<!--<div class="btn_wrap">-->
<div class="left_wrap">
    <button onClick="window.open('/v1/registration.php?promotion_no=<{$p_no}>','신청서 ','width=1200, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;"
            class="btn_style1"><span>추가하기</span></button>
    <{if $us_id =="admin" || $us_id =="tblog" || permissionCheck($session_permission, "010001")}>
    <button onclick="location.href='excel_blogger_selection.php?<{$save_query}>';" class="btn_style1">
        <span>엑셀 파일로 저장 </span></button>
    <{/if}>
</div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function save_memo(a_no, b_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = "memo";
        var n = f.memo.value;
        var nn = n.length;
        if (nn == 0) {
            alert('입력되지 않았습니다.');
            f.memo.focus();
            return false;
        }
        f.save_no.value = b_no;
        f.submit();
    }

    function save_reload(a_no, b_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = "reload";
        f.save_no.value = b_no;
        //return false;
        f.submit();
    }

    function save_selection(a_no, b_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        var n = f.selection.value;
        var nn = n.length;
        if (nn == 0) {
            alert('선정여부를 선택해 주세요.');
            f.selection.focus();
            return false;
        }
        f.process.value = "update";
        f.save_no.value = a_no;
        f.b_no.value = b_no;
        //return false;
        f.submit();
    }

    /* 다른 프로모션 블로거 리스트 가져오기 */
    function copy_blogger_list() {
        var f=document.getElementById('copy_blogger_list_frm');

        if(!f.copy_p_no.value){
            alert("프로모션 번호를 입력해주세요");
            return false;
        }

        if (confirm(f.copy_p_no.value + " 해당 프로모션 블로거 리스트를 가져오시겠습니까?"))
        {
            f.submit();
        }

        return false;
    }

    /* 미선정 블로거 탈락으로 일괄변경 20160325 김윤영 Start */
    function save_out_selection() {
        eval("var f=document.getElementById('apply_frm_out_selection');");
        if (confirm('미선정된 블로거들을 모두 탈락으로 처리합니까?')) {
//			alert('처리완료');
        } else {
//			alert('취소');
            return false;
        }

        f.process.value = "out_update";
        //return false;
        f.submit();
    }

    /* 미선정 블로거 탈락으로 일괄변경 20160325 김윤영 End */

    function save_blog(a_no, b_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = "regist";
        f.save_no.value = a_no;
        //return false;
        f.submit();
    }

    function blog_check(textarea_no) {
        if (textarea_no == '') {
            alert('먼저 블로거 등록을 해주세요.');
            return false;
        }
    }

    function save_report(a_no, r_no, seq) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = "save_report";
        f.a_no.value = a_no;
        f.r_no.value = r_no;
        f.seq.value = seq;
        //return false;
        f.submit();
    }

    function save_all(a_no, b_no, r_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = "save_all";
        f.a_no.value = a_no;
        f.b_no.value = b_no;
        f.r_no.value = r_no;
        //return false;
        f.submit();
    }

    // 삭제하기
    function del_blogger_record(a_no) {
        eval("var f=document.getElementById('apply_frm" + a_no + "');");
        f.process.value = 'del_blogger_record';
        f.a_no.value = a_no;

        if (confirm("정말 삭제 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

    function save_el(a_no, proc, obj) {
        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;
        var x = $(obj).position();
        var d_msg = $('<div>').css({
            position: 'absolute',
            top: x.top + 35,
            left: x.left + 0,
            width: '230px',
            textAlign: 'left',
            fontWeight: 'normal',
            background: '#d2e9ff',
            color: '#000',
            padding: '5px'
        });

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        $.post("blogger_selection.php", {a_no: a_no, process: proc, val: val}, function (result) {
            d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
        });

    }


    function foldDaumPostcode(a_no) {
        // 우편번호 찾기 찾기 화면을 넣을 element
        var element_wrap = document.getElementById('wrap' + a_no);

        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function execDaumPostcode(a_no) {
        // 우편번호 찾기 찾기 화면을 넣을 element
        var element_wrap = document.getElementById('wrap' + a_no);

        eval("var f=document.getElementById('apply_frm" + a_no + "');");

        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);

        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if (data.userSelectedType === 'R') {
                    //법정동명이 있을 경우 추가한다.
                    if (data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if (data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //document.getElementById('mb_zip').value = data.zonecode; //5자리 새우편번호 사용
                f.mb_zip.value = data.zonecode;
                //document.getElementById('mb_addr1').value = fullAddr;
                f.mb_addr1.value = fullAddr;

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;

                // 커서를 상세주소 필드로 이동한다.
                //document.getElementById('mb_addr2').focus();
                f.mb_addr2.focus();
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize: function (size) {
                element_wrap.style.height = size.height + 'px';
            },
            width: '100%',
            height: '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }

    function selection_all_save() {
        var a_no_all_str = "";
        var select_all_str = "";
        var last_i = 0;

        $(".f_selection").each(function (i, val) {
            a_no_all_str += $(".a_no")[i].value + "|";
            select_all_str += $(".f_selection")[i].value + "|";
            last_i = i;
        });

        $(".a_no_all_str")[last_i].value = a_no_all_str;
        $(".select_all_str")[last_i].value = select_all_str;
        $(".process")[last_i].value = "selection_all_save";
        $(".apply_frm")[last_i].submit(); // 마지막 form에서 submit
    }

    function count_selection() {
        var selection_cnt = 0;
        $(".f_selection").each(function (i, val) {
            if ($(".f_selection")[i].value == '1')
                selection_cnt++;
        });
        $('span.choice_num').text(selection_cnt + "명");
    }

    function excel_blogger_insert()
    {
        var f = document.forms['excel_blogger_insert_frm'];

        if(!$('#application_file').val()){
            alert("파일을 첨부해주세요");
            return;
        }

        if (confirm("첨부파일을 블로그 리스트에 반영 하시겠습니까??") == true) { // 확인
            f.submit();
        } else { //취소
            return;
        }
    }

</script>

</body>
</html>
