<{include file="inc/top_popup.html"}>
<style type="text/css">
	.channel1{background: #72af22;}
	.channel2{background: #af1485;}
	.channel3{background: #3b5997;}
	.channel4{background: #6b431c;}
	.channel5{background: #333333;}
	.channel6{background: #baba00;}
	.channel7{background: #06ba00;}
	.channel8{background: #ba0000;}
	.channel_name{font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff; word-wrap:keep-all;}

	.kind1, .kind4{background: #f77b18;}
	.kind2{background: #5175fe;}
	.kind3, .kind5{background: #63F;}
	.kind_name{font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff;word-wrap:keep-all;}
</style>
	<div style="min-width:590px; max-width:590px; margin: 30px 0 0 10px; padding-bottom: 30px;">
<!--
		<h2 class="title_kind<{$kind}>">● <{$company_dot_name}>&nbsp;캠페인 모집공고</h2>
-->
	COPY 시작 -><br><br><br>
		<div style="text-align: center;">
			<!-- 타이틀 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<{if !!$location1_name}><{$location1_name}><{/if}>
				<{if !!$location2_name}> > <{$location2_name}><{/if}>
				<br>
				<span style="font-size:28px; font-weight:bold; word-wrap:keep-all;">"<{$promotion_dot_name}>"</span>
				<div style="margin-bottom:8px;"></div>
				<span class="channel_name channel<{$channel}>"><{$channel_name}></span>
				&nbsp;&nbsp;<span class="kind_name kind<{$kind}>"><{$kind_name}></span>
				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 캠페인 이미지 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					[캠페인 이미지]
				</div>
				<div style="margin-left:4px; color:#999;"><캠페인 이미지 삽입></div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 캠페인 일정 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 캠페인 일정
				</div>
				<div style="margin-left:4px; line-height:1.8;">
					<{if $kind == '1'}>
					· <strong>모집기간</strong> : <{$reg_sdate}> ~ <{$reg_edate}><br>
					· <strong>모집인원</strong> : <{$reg_num}>명<br>
					· <strong>발표일</strong> : <{$awd_date}><br>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>체험가능시간</strong> : <{$cons_exp_time}>
					<{elseif $kind == '2'}>
					· <strong>모집기간</strong> : <{$reg_sdate}> ~ <{$reg_edate}><br>
					· <strong>모집인원</strong> : <{$reg_num}>명<br>
						<{if !!$pres_visit}>
							<{if $channel == '1' && $pres_visit_view == '1'}>
								· <strong>지원조건</strong> : <span style="color:red;">평균 일방문자 <{$pres_visit}>명 이상 지원가능</span> (임의 작업된 방문자는 해당되지 않음)<br>
							<{elseif $channel == '2' || $channel == '3'}>
								· <strong>지원조건</strong> : <span style="color:red;">팔로워 <{$pres_visit}>명 이상 지원가능</span> (임의 작업된 방문자는 해당되지 않음)<br>
							<{/if}>
						<{/if}>
					· <strong>발표일</strong> : <{$awd_date}><br>
						<{if $channel == '5'}> <!-- 촬영기자단 -->
						· <strong>방문 및 사진전달 기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
						<{else}>
						· <strong>포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
						<{/if}>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}> * <{$pres_num}>회 포스팅<{/if}>
					<{elseif $kind == '3'}>
					· <strong>모집기간</strong> : <{$reg_sdate}> ~ <{$reg_edate}><br>
					· <strong>모집인원</strong> : <{$reg_num}>명<br>
					· <strong>발표일</strong> : <{$awd_date}><br>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					<{elseif $kind == '4'}>
					· <strong>모집기간</strong> : <{$reg_sdate}> ~ <{$reg_edate}><br>
					· <strong>모집인원</strong> : <{$reg_num}>명<br>
					· <strong>발표일</strong> : <{$awd_date}><br>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>체험가능시간</strong> : <{$cons_exp_time}><br>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}>  * <{$pres_num}>회 포스팅<{/if}><br>
					· <strong>추가 보상 조건</strong> : <{$pres_reason}>
					<br/>
					<strong style="color: red;">* 추가 보상 조건은 선택사항이 아닌 필수사항입니다.</strong>
					<{elseif $kind == '5'}>
					· <strong>모집기간</strong> : <{$reg_sdate}> ~ <{$reg_edate}><br>
					· <strong>모집인원</strong> : <{$reg_num}>명<br>
					· <strong>발표일</strong> : <{$awd_date}><br>
					· <strong>체험 및 포스팅기간</strong> : <{$exp_sdate}> ~ <{$exp_edate}><br>
					· <strong>보상지급일</strong> : <{$pres_reward}><br>
					· <strong>보상지급액</strong> : <{$pres_money}>원<{if $pres_num > '1'}> * <{$pres_num}>회 포스팅<{/if}><br>
					· <strong>추가 보상 조건</strong> : <{$pres_reason}>
					<br/>
					<strong style="color: red;">* 추가 보상 조건은 선택사항이 아닌 필수사항입니다.</strong>
					<{/if}>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 체험 상품 -->
			<{if $kind == '1' || $kind == '3' || $kind == '4' || $kind == '5' || $channel == '5'}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						<{if $channel == '5'}>
							● 촬영시 제공 상품
						<{else}>
							● 체험 상품
						<{/if}>
					</div>
					<div style="margin-left:4px; line-height:1.8;">
						<{$product}>
					</div>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 포스팅 목적 -->
			<{if $kind == '2'}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						<{if $channel == '5'}>
							● 촬영 목적
						<{else}>
							● 포스팅 목적
						<{/if}>
					</div>
					<div style="margin-left:4px;">· <{$pres_purpose}></div>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 참고 URL -->
			<{if !!$refer_url1 || !!$refer_url2}>
				<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
					<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
						● 참고 URL
					</div>
					<{if !!$refer_url1}>
						<div style="fmargin-left:4px;">· <{$refer_url1}></div>
					<{/if}>
					<{if !!$refer_url2}>
						<div style="margin-left:4px;">· <{$refer_url2}></div>
					<{/if}>

					<div style="margin-bottom:20px;"></div>
				</div>
			<{/if}>


			<!-- 유의 사항 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 유의 사항
				</div>
				<div style="margin-left:4px; line-height:1.8; color:red;">
					<{if $re_apply == '2'}>
						· 지난 선정자 재신청 불가<br>
					<{/if}>
					<{if $kind == '1' || $kind == '3' || $kind == '4' || $kind == '5'}>
							· 포스팅 및 촬영사진 전달기간 엄수!(위반시 추후 패널티 적용)<br>
							<{if $kind == '1' || $kind == '4'}>
								· 현장에서 상품이 제공되는 경우 제공 상품외 추가 이용 시 현장 결제 필수!<br>
							<{/if}>
							· 인스타그램 및 페이스북 캠페인 외 휴대폰 촬영 불가!<br>
							<{if $channel == '1'}>
								· 블로그 포스팅 시 공정위 문구 표기 필수!<br>
							<{/if}>
							<{if $channel == '1' || $channel == '2' || $channel == '3' || $channel == '4' || $channel == '6'}>
								· 작성하신 컨텐츠는 해당 업체의 마케팅 자료로 활용 될 수 있습니다.<br>
							<{elseif $channel == '5'}>
								· 촬영하신 사진은 해당 업체의 마케팅 자료로 활용 될 수 있습니다.<br>
							<{/if}>
							<{if $kind == '1' || $kind == '4' || $kind == '6'}>
								· 음식점 분야 캠페인에 대해서는 맛집 키워드가 제공 될 수 있습니다.<br>
							<{/if}>
							· 보상금이 있는 경우 소득세 3.3%를 제외하고 입금되며, 원천징수증빙을 위해 주민번호를 입력하게 됩니다.<br>
							&nbsp;&nbsp;※주민번호는 개인정보보호법에 의거해 암호화 보관되며, 원천징수증빙 후 삭제 처리 합니다.<br>
					<{elseif $kind == '2'}>
							<{if $channel == '1' || $channel == '2' || $channel == '3' || $channel == '4' || $channel == '6'}>
								· 포스팅 및 촬영사진 전달기간 엄수!(위반시 추후 패널티 적용)<br>
							<{elseif $channel == '5'}>
								· 현장에서 상품이 제공되는 경우 제공 상품외 추가 이용 시 현장 결제 필수!<br>
								· 인스타그램 및 페이스북 캠페인 외 휴대폰 촬영 불가!<br>
							<{/if}>
							<{if $channel == '1'}>
								· 블로그 포스팅 시 공정위 문구 표기 필수!<br>
							<{/if}>
							<{if $channel == '1' || $channel == '2' || $channel == '3' || $channel == '4' || $channel == '6'}>
								· 작성하신 컨텐츠는 해당 업체의 마케팅 자료로 활용 될 수 있습니다.<br>
							<{elseif $channel == '5'}>
								· 촬영하신 사진은 해당 업체의 마케팅 자료로 활용 될 수 있습니다.<br>
							<{/if}>
							<{if $kind == '1' || $kind == '4' || $kind == '6'}>
								· 음식점 분야 캠페인에 대해서는 맛집 키워드가 제공 될 수 있습니다.<br>
							<{/if}>
							· 보상금이 있는 경우 소득세 3.3%를 제외하고 입금되며, 원천징수증빙을 위해 주민번호를 입력하게 됩니다.<br>
							&nbsp;&nbsp;※주민번호는 개인정보보호법에 의거해 암호화 보관되며, 원천징수증빙 후 삭제 처리 합니다.<br>
					<{/if}>
				</div>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 업체 정보 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="font-size: 16px; font-weight: bold; color:<{if $kind=='1' || $kind=='4'}>#f77b18;<{elseif $kind=='2'}>#5175fe;<{elseif $kind=='3' || $kind=='5'}>#63F;<{/if}>">
					● 업체 정보
				</div>
				<div style="margin-left:4px; line-height:1.8;">
					· <strong>업체명</strong> : <{$company_dot_name}><br>
					<{if !!$address1}>
						· <strong>주소</strong> : <{$address1}> <{$address2}><br>
					<{/if}>
					<{if !!$parking}>
						· <strong>주차</strong> : <{$parking}>
					<{/if}>
				</div>
				<{if $kind == '1' || $kind == '3' || ($kind == '2' && $channel == '5')}>
					<div style="margin-left:4px; color:#999;"><업체 지도 삽입></div>
				<{/if}>

				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 추가 정보 -->
			<div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">
				<div style="margin-left:4px; color:#999;"><추가 정보 삽입></div>
				<div style="margin-bottom:20px;"></div>
			</div>


			<!-- 신청하기 -->
			<div style="margin-bottom: 20px; text-align:center;">
				<a href="https://work.wplanet.co.kr/v1/registration.php?promotion_no=<{$p_no}>" target="_blank">
					<div class="channel<{$channel}>" style="font-size:20px; font-weight: bold; border: 1px solid #999; padding:15px 0px; color: #ffffff; cursor: pointer; border-radius: 10px;">
						<font color="ffffff"><{$channel_name}> <{$kind_name}> 신청하기</font>
					</div>
				</a>
				<br>
				· 위 신청서를 작성하시면, 선정시 이메일과 휴대폰을 통해 안내드립니다.<br>
				· 업체 사정으로 인해 선정 인원은 변경될 수 있습니다.<br>
			</div>


			<!-- 신청방법 -->
			<{if $kind == '1' || $kind == '3' || $kind == '4' || $kind == '5'}>
				<div style="padding:2px 10px; line-height:1.8; background-color:#d3d3d3;">
					<span style="font-size:14px; font-weight:bold;">■ 체험단 신청 방법 ■</span><br>
					1) 체험단 신청서 작성하기 버튼을 눌러 신청서를 작성합니다. (필수!)<br>
					2) 선정된 분들은 이메일로 포스팅가이드가 발송됩니다.<br>
					3) 해당 기간동안 방문/체험을 진행합니다.<br>
					4) 체험한 내용을 포스팅 후 완료 보고 URL을 통해 완료보고를 작성 해 주세요.<br>
					&nbsp;&nbsp;&nbsp;※주의 : 신청한 블로그와 완료 보고한 블로그가 반드시 같아야 합니다.<br>
					5) 기타 문의 (이메일&쪽지 wiseplanners / 전화 02-2675-6260)
				</div>
			<{elseif $kind == '2'}>
				<div colspan="2" style="padding:2px 10px; line-height:1.8; background-color:#d3d3d3;">
					<span style="font-size:14px; font-weight:bold;">■ 기자단 신청 방법 ■</span><br>
					1) 기자단 신청서 작성하기 버튼을 눌러 신청서를 작성합니다. (필수!)<br>
					2) 선정된 분들은 이메일로 포스팅가이드가 발송됩니다.<br>
					3) 해당 기간동안 포스팅 가이드 메일을 참고하여 포스팅을 진행합니다.<br>
					4) 포스팅 후 완료 보고 URL을 통해 완료보고를 작성 해 주세요.<br>
					&nbsp;&nbsp;&nbsp;※주의 : 신청한 블로그와 완료 보고한 블로그가 반드시 같아야 합니다.<br>
					&nbsp;&nbsp;&nbsp;완료보고 시 입금계좌번호와 주민번호를 꼭 입력해 주세요.<br>
					&nbsp;&nbsp;&nbsp;주민번호는 원전징수증빙을 위해서만 사용되며, 보상금은 소득세법에 의거해 소득세 3.3%를 제외하고 입금됩니다.<br>
					5) 기타 문의 (이메일&쪽지 wiseplanners / 전화 02-2675-6260)
				</div>
			<{/if}>

		</div>

		<br><br><br><- COPY 끝
	</div>
</body>
</html>
