<{include file="inc/top_popup.html"}>

	<div class="admin_content">
	    <h2 class="title" style="margin-bottom:10px">● 리뷰 CODE 수정 업체찾기</h2>

		<form method="get" name="search_form" action="code_edit.php">
		<input type="hidden" name="code" value="<{$page_code}>">
		<input type="hidden" name="no" value="<{$r_no}>">
		<input type="hidden" name="input" value="<{$input_id}>">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">모집상태</span>
				<select name="sstate" id="" class="select_type2">
					<option value="" <{if !$sstate}>selected<{/if}>>전체</option>
					<option value="1" <{if $sstate==1}>selected<{/if}>>접수대기</option>
					<option value="2" <{if $sstate==2}>selected<{/if}>>접수완료</option>
					<option value="3" <{if $sstate==3}>selected<{/if}>>모집중</option>
					<option value="4" <{if $sstate==4}>selected<{/if}>>진행중</option>
					<option value="5" <{if $sstate==5}>selected<{/if}>>진행중단</option>
					<option value="6" <{if $sstate==6}>selected<{/if}>>마감</option>
				</select>
				<span class="name_tit">담당자</span>
				<select name="sname" id="" class="select_type2">
					<option value="" <{if !$sname}>selected<{/if}>>전체</option>
					<{section name=loop loop=$staff}>
					<option value="<{$staff[loop].name}>" <{if $sname==$staff[loop].name}>selected<{/if}>><{$staff[loop].name}></option>
					<{/section}>
				</select>
				<{if $page_code=="all"}>
				<span class="name_tit">구분</span>
				<select name="skind" id="" class="select_type2">
					<option value="" <{if !$skind}>selected<{/if}>>전체</option>
					<option value="1" <{if $skind==1}>selected<{/if}>>체험단</option>
					<option value="2" <{if $skind==2}>selected<{/if}>>기자단</option>
					<option value="3" <{if $skind==3}>selected<{/if}>>배송체험</option>
				</select>
				<{/if}>
			</div>
		</div>
		<!-- //모집상태, 담당자, 구분 -->

		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">업체명</span>
				<input type="text" name="scompany" value="<{$scompany}>" class="input_type1" />
				<button class="btn_small" onclick="submit();">검색</button>
			</div>
			<div class="right_wrap">
				<ul class="cat_style">
					<li><a href="code_edit.php?code=<{$page_code}>&sstate=<{$sstate}>&amp;sname=<{$sname}>&amp;skind=<{$skind}>&amp;od=1<{if !$order_type }>&by=1<{/if}>">모집시작순</a></li>
					<li><a href="code_edit.php?code=<{$page_code}>&sstate=<{$sstate}>&amp;sname=<{$sname}>&amp;skind=<{$skind}>&amp;od=2<{if !$order_type }>&by=1<{/if}>">모집마감순</a></li>
					<li><a href="code_edit.php?code=<{$page_code}>&sstate=<{$sstate}>&amp;sname=<{$sname}>&amp;skind=<{$skind}>&amp;od=3<{if !$order_type }>&by=1<{/if}>">발표일순</a></li>
					<li><a href="code_edit.php?code=<{$page_code}>&sstate=<{$sstate}>&amp;sname=<{$sname}>&amp;skind=<{$skind}>&amp;od=4<{if !$order_type }>&by=1<{/if}>">리뷰마감일순</a></li>
					<li class="no_bg"><a href="code_edit.php?code=<{$page_code}>&sstate=<{$sstate}>&amp;sname=<{$sname}>&amp;skind=<{$skind}>&amp;od=5<{if !$order_type }>&by=1<{/if}>">보상일순</a></li>
				</ul>
			</div>
		</div>
		<!-- //업체명 검색창, 정렬순서 -->
		</form>
		<form method="post" name="list_form<{$promotion[loop].no}>" id="list_form<{$promotion[loop].no}>" action="code_edit.php">
		<input type="hidden" name="list_query" value="<{$save_query}>">
		<input type="hidden" name="process" value="memo">
		<input type="hidden" name="save_no">

		<div class="table_list_style">
			<table cellpadding="0" cellspacing="0" width="1280">
				<thead>
					<tr>
						<th class="first" width="70px;">모집상태</th>
						<th width="70px;">구분</th>
						<th width="70px;">CODE</th>
						<th width="200px;">업체명</th>
						<th width="60px;">담당자</th>
						<th width="65px;">모집시작</th>
						<th width="65px;">모집마감</th>
						<th width="65px;">발표</th>
						<th width="65px;">리뷰마감</th>
						<th width="65px;">보상</th>
						<th width="80px;">선택</th>
					</tr>
				</thead>
				<tbody>
					<{if $total_num == 0}>
						<tr>
							<td colspan="15"> 등록된 자료가 없습니다.</td>
						</tr>
					<{else}>

						<{section name=loop loop=$promotion}>
						<tr>
							<td class="first">
							<{$promotion[loop].state_code}>
							</td>
							<td class="gubun_td"><span class="kind_gubun<{$promotion[loop].kind}>"><{$promotion[loop].kind_name}></span></td>
							<td><{$promotion[loop].p_code}></td>
							<td class="alignL"><{$promotion[loop].company}></td>
							<td><{$promotion[loop].name}></td>
							<td><{$promotion[loop].reg_start}></td>
							<td><{$promotion[loop].reg_end}></td>
							<td><{$promotion[loop].award}></td>
							<td><{$promotion[loop].exp_edate}></td>
							<td><{$promotion[loop].pres_reward}></td>
							<td><button type="button" class="btn_small" onclick="find_code('<{$promotion[loop].p_code}>','<{$r_no}>','<{$input_id}>');">선택하기</button>
							<!-- <td class="date_td last"><span class="date"><{$promotion[loop].date_ymd}></span> <span class="time"><{$promotion[loop].date_hi}></span></td> -->
						</tr>
						<{/section}>
					<{/if}>
				</tbody>
			</table>
		</div>
		</form>
<div class="default_wrap">
				
<!-- <div class="right_wrap">
					<button class="btn_style1" id="excel_review" name="excel_review" onclick="location.href='excel_main.php?<{$save_query}>';"><span>엑셀 다운로드</span></button>
				</div>
</div> -->
		<div class="paging_wrap">
			<{$pagelist}>
		</div>

	</div>
	<!-- //admin_content -->


	<script>
	function find_code(p_code, r_no, input_id)
	{
			var of = opener.document.list_form;
			//alert(p_code);
			of.<{$input_id}>.value  = p_code;
		window.close();
		return false;
	}
	</script>

 </body>
</html>