<{include file="inc/top_popup.html"}>
	<div class="admin_content_popup" style="min-width:490px;">
		<form name="form_sms" id="form_sms" method="post" action="" onsubmit="return sms_send(this);"  >
			<input type="hidden" name="promo_no" value="<{$promo_no}>" />
			<div class="table_list_style">
				<h2 class="title_kind"><{$sms_promo_title}> 마감예정 알림</h2>
				<div style="padding-top:10px;text-align:center">
					○ 마감예정 알림 문자 내용
					<br>
					<ul class="handler-ul">
						<textarea name="sms_msg" style="width:170px;height:100px"><{$sms_promo_content}></textarea>
						<li style="margin-left:120px"><span class="bytes">0</span> / 90 bytes</li>
					</ul>
					<br>
					○ 선정자중 미포스팅 연락처 (총 <{$send_num}>명)
					<br>
					<textarea name="send_list" style="width:170px;height:150px;" wrap="hard"><{foreach from=$send_list item=hp}>
<{$hp}>
<{/foreach}></textarea>
					<div style="padding-top:10px">
						<button type="submit" class="btn_small">문자 발송</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- //admin_content_popup -->

<script>
$(function(){
	$('textarea[name=sms_msg]').keyup(function(){
		bytesHandler(this);
	});

	bytesHandler($('textarea[name=sms_msg]'));
});

function getTextLength(str) {
    var len = 0;
    for (var i = 0; i < str.length; i++) {
        if (escape(str.charAt(i)).length == 6) {
            len++;
        }
        len++;
    }
    return len;
}

function bytesHandler(obj){
	var text = $(obj).val();
	var len = getTextLength(text);
	$('span.bytes').text(len);

	if (len > 90)
		$('span.bytes').css('color', 'red');
	else
		$('span.bytes').css('color', 'black');
}

function sms_send(f) {
	var obj = $('textarea[name=sms_msg]');
	var len = getTextLength($(obj).val());	
	if (confirm('문자 메시지를 발송하시겠습니까?')) {
		if (len > 90) {
			if (confirm('글자수 초과로 LMS로 발송되며 건당 26원이 부과됩니다. 그래도 발송하시겠습니까?'))
				return true;
			else
				return false;
		} else {
			return true;
		}
	} else {
		return false;
	}
}
</script>
 </body>
</html>