<{include file="inc/top_popup.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="find_work.php">
		<h2 class="title">●
			<select name="sch_prd_g1" id="sch_prd_g1" class="select_type2" style="width: 165px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$prd_g1_list}>
					<option value="<{$prd_g1_list[data].k_name_code}>" <{if $sch_prd_g1==$prd_g1_list[data].k_name_code}>selected<{/if}>><{$prd_g1_list[data].k_name}></option>
				<{/section}>
			</select>
			>
			<select id="sch_prd_g2" name="sch_prd_g2" class="select_type3" style="width: 210px;	height: 30px;	margin-right: 5px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$prd_g2_list}>
					<option value="<{$prd_g2_list[data].k_name_code}>" <{if $sch_prd_g2==$prd_g2_list[data].k_name_code}>selected<{/if}>><{$prd_g2_list[data].k_name}></option>
				<{/section}>
			</select>
			>
			<select id="sch_prd" name="sch_prd" class="select_type3" style="width: 270px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
				<option value="">::전체::</option>
				<{section name=data loop=$sch_prd_list}>
					<option value="<{$sch_prd_list[data].prd_no}>" <{if $sch_prd==$sch_prd_list[data].prd_no}>selected<{/if}>><{$sch_prd_list[data].title}></option>
				<{/section}>
			</select>

			<button type="button" style="width: 150px; height: 34px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_memo">업무 리스트</button>

		</h2>

		<input type="hidden" name="set_w_no" id="set_w_no" value="<{$set_w_no}>">
		<input type="hidden" name="sch" value="<{$sch}>">

		<div class="default_wrap" style="color:1c7198;">
			<div class="left_wrap">

				<!-- 자주사용하는 업무 Start -->
				<div id="d_quick_prd" style="min-width: 440px; max-width:1800px;background-color: #dadada;"></div>
				<!-- 자주사용하는 업무 End -->

				<span style="font-size: 16px;font-weight: bold;">[QUICK SEARCH]</span>
				<select name="q_sch" id="q_sch" class="select_type2">
					<option value="">::전체::</option>
					<option value="1" <{if $q_sch == '1'}>selected<{/if}>>요청안된건</option>
					<option value="2" <{if $q_sch == '2'}>selected<{/if}>>요청중인건</option>
					<option value="3" <{if $q_sch == '3'}>selected<{/if}>>진행중인건</option>
					<option value="6" <{if $q_sch == '6'}>selected<{/if}>>미완료건</option>
					<option value="4" <{if $q_sch == '4'}>selected<{/if}>>진행완료건</option>
					<option value="5" <{if $q_sch == '5'}>selected<{/if}>>연장여부 확인요청건(D-10일 ~ +5일)</option>
				</select>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '1' }>background-color: #c73333;<{/if}>" onclick="return quick_search('1');" class="btn_small">요청안된건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '2' }>background-color: #c73333;<{/if}>" onclick="return quick_search('2');" class="btn_small">요청중인건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '3' }>background-color: #c73333;<{/if}>" onclick="return quick_search('3');" class="btn_small">진행중인건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '6' }>background-color: #c73333;<{/if}>" onclick="return quick_search('6');" class="btn_small">미완료건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '4' }>background-color: #c73333;<{/if}>" onclick="return quick_search('4');" class="btn_small">진행완료건</button>
				<button type="button" style="padding: 4px 6px;margin-left: 0px;<{if $q_sch == '5' }>background-color: #c73333;<{/if}>" onclick="return quick_search('5');" class="btn_small">연장여부 확인요청건(D-10일 ~ +5일)</button>
				<span id="sch_detail_display_btn_show">
					<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색(열기) ▼</button>
				</span>
				<span id="sch_detail_display_btn_hide">
					<button type="button" style="width:140px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
				</span>

				<br>

				<div id="sch_detail_display">
					<span class="name_tit">w_no</span>
					<input type="text" name="sch_w_no" value="<{$sch_w_no}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
					<{if permissionNameCheck($session_permission,"마스터관리자")}>
						is NULL<input type="checkbox" name="sch_wd_no" <{if $sch_wd_no_get == 'null'}>checked<{/if}> value="null"/>
					<{/if}>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">작성일</span>
					<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker input_type_date" value="<{$sch_reg_s_date}>" />
					~
					<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker input_type_date" value="<{$sch_reg_e_date}>" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">업무완료일</span>
					<input type="text" name="sch_task_run_s_date" id="sch_task_run_s_date" class="date-picker input_type_date" value="<{$sch_task_run_s_date}>" />
					~
					<input type="text" name="sch_task_run_e_date" id="sch_task_run_e_date" class="date-picker input_type_date" value="<{$sch_task_run_e_date}>" />
					<span style="margin-right:15px;"></span>

					<span class="name_tit">진행상태</span>
					<select name="sch_work_state" id="sch_work_state" class="select_type1">
						<{section name=data loop=$work_state}>
						<option value="<{$work_state[data][1]}>" <{if ($sch_work_state=='' && $work_state[data][0]=='전체') || $sch_work_state==$work_state[data][1]}>selected<{/if}>><{$work_state[data][0]}></option>
						<{/section}>
					</select>
					<span style="margin-right:15px;"></span>

					<span class="name_tit">지급/입금상태</span>
					<select name="sch_wd_dp_no_state" id="sch_wd_dp_no_state" class="select_type1">
						<option value="" <{if $sch_wd_dp_no_state==''}>selected<{/if}>>::전체::</option>
						<option value="1" <{if $sch_wd_dp_no_state=='1'}>selected<{/if}>>출금등록</option>
						<option value="2" <{if $sch_wd_dp_no_state=='2'}>selected<{/if}>>지급완료</option>
						<option value="3" <{if $sch_wd_dp_no_state=='3'}>selected<{/if}>>입금등록</option>
						<option value="4" <{if $sch_wd_dp_no_state=='4'}>selected<{/if}>>입금완료</option>
					</select>
					<span style="margin-right:15px;"></span>

					<div style="margin-top: 5px;">
						<span class="name_tit">업체담당자</span>
						<input type="text" name="sch_s_name" id="sch_s_name" value="<{$sch_s_name}>" class="input_type2" />
						<input type="checkbox" name="sch_s_name_chk" id="sch_s_name_chk" onchange="sch_change_my('sch_s_name', this)" value="<{$session_name}>" /><label for="sch_s_name_chk">my</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업무요청자</span>
						<select name="sch_req_team" id="sch_req_team" class="select_type1" style="width: 100px;">
							<option value="">::전체</option>
							<{foreach from=$sch_team_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_req_team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						>
						<input type="text" name="sch_req_s_name" id="sch_req_s_name" value="<{$sch_req_s_name}>" class="input_type2" placeholder="업무 요청자명"/>
						<input type="checkbox" name="sch_req_s_name_my" id="sch_req_s_name_my" onchange="sch_change_my('sch_req_s_name', this)" value="<{$session_name}>" /><label for="sch_req_s_name_my">my</label>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업무처리자</span>
						<select name="sch_run_team" id="sch_run_team" class="select_type1" style="width: 100px;">
							<option value="">::전체</option>
							<{foreach from=$sch_team_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_run_team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						>
						<input type="text" name="sch_run_s_name" id="sch_run_s_name" value="<{$sch_run_s_name}>" class="input_type2 sch_run_s_name" style="width: 80px;" placeholder="업무 처리자명"/>
						<input type="checkbox" name="sch_run_s_name_my" id="sch_run_s_name_my" onchange="sch_change_my('sch_run_s_name', this)" value="<{$session_name}>" /><label for="sch_run_s_name_my">my</label>
						<input type="checkbox" name="sch_run_is_null" id="sch_run_is_null" value="1" <{if $sch_run_is_null == '1'}>checked<{/if}> /><label for="sch_run_is_null">NULL</label>
						<span style="margin-right:15px;"></span>
					</div>

					<div style="margin-top: 5px;">
						<span class="name_tit">브랜드</span>
						<select name="sch_brand_g1" id="sch_brand_g1" class="select_type2" style="width: 100px; margin-right: 5px; display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g1_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g1 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand_g2" id="sch_brand_g2" class="select_type3" style="width: 100px; margin-right: 5px;display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_g2_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand_g2 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_brand" id="sch_brand" class="select_type3" style="width: 100px; display: inline-block;">
							<option value="">::전체::</option>
							<{foreach from=$sch_brand_list key=key item=label}>
							<option value="<{$key}>" <{if $sch_brand == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업체명</span>
						<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type5" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">카테고리</span>
						<input type="text" name="sch_category" value="<{$sch_category}>" class="input_type3" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업무요청</span>
						<input type="text" name="sch_task_req" value="<{$sch_task_req}>" class="input_type5" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">업무진행</span>
						<input type="text" name="sch_task_run" value="<{$sch_task_run}>" class="input_type5" />
						<span style="margin-right:15px;"></span>

						<span class="name_tit">File no</span>
						<input type="text" name="sch_file_no" value="<{$sch_file_no}>" class="input_type5" style="width: 80px; margin-right: 10px;" />
						<span style="margin-right:15px;"></span>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
					</div>
					<hr></hr>

					<div class="right_wrap">
						<ul class="cat_style">
							<li><a href="find_work.php?<{$search_url}>&sch=Y&od=1<{if !$order_type }>&by=1<{/if}>"><{if !$order || $order != '1'}>희망완료일 임박순<{/if}><{if $order == '1' }><span style="color:red;">희망완료일 임박순 <{if !$order_type }>▲<{else}>▼<{/if}></span><{/if}></a></li>
							<li><a href="find_work.php?<{$search_url}>&od=2<{if !$order_type }>&by=1<{/if}>"><{if !$order || $order != '2'}>예정완료일 임박순<{/if}><{if $order=='2' }><span style="color:red;">예정완료일 임박순 <{if !$order_type }>▲<{else}>▼<{/if}></span><{/if}></a></li>
							<li><a href="find_work.php?<{$search_url}>&od=3<{if !$order_type }>&by=1<{/if}>"><{if !$order || $order != '3'}>연장마감일 임박순<{/if}><{if $order=='3' }><span style="color:red;">연장마감일 임박순 <{if !$order_type }>▲<{else}>▼<{/if}></span><{/if}></a></li>
						</ul>
					</div>
				</div>

				<{if $sch == 'Y'}>
					<script>$("#sch_detail_display").show();</script>
					<script>$("#sch_detail_display_btn_show").hide();</script>
					<script>$("#sch_detail_display_btn_hide").show();</script>
				<{else}>
					<script>$("#sch_detail_display").hide();</script>
					<script>$("#sch_detail_display_btn_show").show();</script>
					<script>$("#sch_detail_display_btn_hide").hide();</script>
				<{/if}>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<!-- 업무 리스트 부분 [Start] -->
			<thead>
				<tr>
					<th class="first" style="min-width:55px; width:55px;" rowspan="2">추가</th>
					<th style="min-width:60px; width:60px;" rowspan="2">set_tag</th>
					<th style="min-width:60px; width:60px;" rowspan="2">w_no<br>작성일</th>
					<th style="min-width:60px; width:60px;" rowspan="2">진행상태</th>
					<th style="min-width:75px; width:75px;" rowspan="2">
						<span style="color: #ff7676;">희망 완료일</span><br>
						<span style="color: #9696ff;">예정 완료일</span><br>
						업무 완료일
					</th>
					<{if !!$sch_set_w_no}>
						<th style="min-width:51px; width:51px;" rowspan="2">순번</th>
					<{/if}>
					<th style="min-width:195px; width:195px;">업체명</th>
					<th style="min-width:120px; width:120px;">담당자(부서)</th>
					<th style="min-width:153px; width:153px;" rowspan="2">업무요청</th>
					<th style="min-width:120px; width:120px;" rowspan="2">처리자(부서)</th>
					<th style="min-width:150px; width:150px;" rowspan="2">업무진행</th>
					<th style="min-width:82px; width:82px;" rowspan="2">입금액<br><{if $work_equally_vat != '1'}>(VAT 별도)<{else}>(부가세 없음)<{/if}></th>
					<th style="min-width:103px; width:103px;" rowspan="2">입금업체<br>(입금처)</th>
					<th style="min-width:85px; width:85px;" rowspan="2">입금등록일<br>(입금일)</th>
					<th style="min-width:82px; width:82px;" rowspan="2">출금액<br><{if $work_equally_vat != '1'}>(VAT 별도)<{else}>(부가세 없음)<{/if}></th>
					<th style="min-width:103px; width:103px;" rowspan="2">출금업체<br>(지급처)</th>
					<th style="min-width:85px; width:85px;" rowspan="2">출금등록일<br>(지급일)</th>
				</tr>
				<tr>
					<th style="min-width:195px; width:195px;">상품명</th>
					<th style="min-width:70px; width:70px;">요청자(부서)</th>
				</tr>
			</thead>
			<form name="apply_frm" id="apply_frm" class="apply_frm" action="find_work.php" method="post" enctype="multipart/form-data" onsubmit="return check_bd()">
				<input type="hidden" name="set_w_no" value="<{$set_w_no}>">
				<input type="hidden" name="add_w_no" id="add_w_no" value="">
				<input type="hidden" name="search_url" value="<{$search_url}>">
				<input type="hidden" name="process">
				<tbody>
					<{assign var=color_idx value=0}>
					<{foreach from=$work_list item=work}>
						<tr <{if $color_idx%2 == '1'}>style="background-color:#ebebeb;"<{/if}>>
							<td class="first" rowspan="2"> <!-- 추가 -->
								<{assign var="exgist_w_set_no" value="false"}> <!-- 세트 구성이 있는지 확인 변수 -->

								<{if !!$work.set_tag}>
									<span style="font-size:12px; color:#ff9800;">
										<{foreach from=$work.set_tag_token item=set_work}>
											<{if $set_work == $set_w_no}> <!-- 세트 구성이 있는지 확인 -->
												<{assign var="exgist_w_set_no" value="true"}>
											<{/if}>
										<{/foreach}>
									</span>
								<{/if}>
								<{if $exgist_w_set_no == 'false'}>
									<button type="button" class="btn_small" onclick="set_add_work(<{$work.w_no}>);">추가</button>
								<{else}>
									추가됨
								<{/if}>
							</td>
							<td rowspan="2"> <!-- set_tag -->
								<{if !!$work.set_tag}>
									<span style="font-size:12px; color:#ff9800;">
										<{foreach from=$work.set_tag_token item=set_work}>
											<u>#<{$set_work}></u><br>
										<{/foreach}>
									</span>
								<{/if}>
							</td>
							<td class="date" rowspan="2"> <!-- w_no <br> 작성일 -->
								<{$work.w_no}><br>
								<span class="day" style="font-size: 10px;"><{$work.reg_day}></span><br /><span class="time" style="font-size: 10px;"><{$work.reg_time}></span>
								<{if !!$sch_set_w_no}>
									<input type="hidden" name="sch_set_w_no" value="<{$sch_set_w_no}>">
								<{/if}>
							</td>

							<td rowspan="2">  <!-- 진행상태 -->
								<div <{if $work.work_state == '3'}> style="color:red; background-color:yellow;"<{elseif $work.work_state == '4'}> style="color:blue;"<{elseif $work.work_state == '5'}> style="color:green;"<{elseif $work.work_state == '7' || $work.work_state == '8'}> style="color:red; background-color:lightgray;"<{elseif $work.work_state == '9'}>style="color:black; background-color:lightgray;"<{/if}> >
									<{$work.work_state_name}>
								</div>
							</td>
							<td rowspan="2"> <!-- 희망 완료일 <br> 예정 완료일 <br> 업무 완료일 -->
								<span style="color: red;"><{if $work.task_req_dday}><{$work.task_req_dday}><{else}>Empty data<{/if}></span><br>
								<span style="color: blue;"><{if $work.task_run_dday}><{$work.task_run_dday}><{else}>Empty data<{/if}></span><br>
								<{if $work.task_run_regdate}><{$work.task_run_day}><{else}>Empty data<{/if}>
							</td>
							<{if !!$sch_set_w_no}>
								<td rowspan="2"> <!-- 순번 -->
									<input type="number" name="f_priority" id="f_priority" min="1" max="100" value="<{$work.priority}>" style="text-align: center;" onchange="save_el('<{$work.w_no}>', 'f_priority', this);">
									<br>
									<a href="#" onclick="priority_change('<{$work.w_no}>', 'up');">▲</a>
									<a href="#" onclick="priority_change('<{$work.w_no}>', 'down');">▼</a>
								</td>
							<{/if}>
							<td style="text-align: left;"> <!-- 업체명 -->
								<{$work.c_name}>
							</td>
							<td> <!-- 업체담당자 -->
								<{$work.s_no_name}>
							</td>
							<td rowspan="2"> <!-- 업무요청 -->
								<textarea name="f_task_req" onfocus="text_area_click(this, '400px')" onfocusout="text_area_click_out(this, '140px')" class="textarea_work_message_readonly" readonly><{$work.task_req}></textarea>
							</td>
							<td rowspan="2"> <!-- 업무처리자 -->
								<{$work.task_run_s_name}>
							</td>
							<td rowspan="2"> <!-- 업무진행 -->
								<textarea name="f_task_req" onfocus="text_area_click(this, '400px')" onfocusout="text_area_click_out(this, '140px')" class="textarea_work_message_readonly" readonly><{$work.task_run}></textarea>
							</td>
							<td style="text-align: right;" rowspan="2"> <!-- 입금액(VAT별도) -->
								<{if $work.dp_no }>
									<span style="color:#0026ff; font-weight:bold; font-size:14px; vertical-align:middle;"><{$work.dp_price|number_format:0}></span>
								<{/if}>
							</td>
							<td rowspan="2"> <!-- 입금업체 -->
								<{$work.dp_c_name}>
							</td>
							<td class="date" rowspan="2"> <!-- 입금등록일<br>지급일 -->
								<{if $work.dp_no }>
									<span class="day"><{$work.dp_reg_day}></span><br /><span class="time"><{$work.dp_reg_time}></span>
									<a href="deposit_list.php?sch_dp_no=<{$work.dp_no}>" target="_blank"><img src="./../images/icon/new_win_icon.png"></a>
								<{/if}>
								<{if $work.dp_pay_date}>
									<br>(<{$work.dp_pay_date}>)
								<{/if}>
							</td>
							<td style="text-align: right;" rowspan="2"> <!-- 출금액(VAT별도) -->
								<{if $work.wd_no }>
									<span style="color:red; font-weight:bold; font-size:14px; vertical-align:middle;"><{$work.wd_price|number_format:0}></span>
								<{/if}>
							</td>
							<td rowspan="2"> <!-- 출금업체 -->
								<{$work.wd_c_name}>
							</td>
							<td class="date" rowspan="2"> <!-- 출금등록일<br>지급일 -->
								<{if $work.wd_no }>
									<span class="day"><{$work.wd_reg_day}></span><br /><span class="time"><{$work.wd_reg_time}></span>
									<a href="withdraw_list.php?sch_wd_no=<{$work.wd_no}>" target="_blank"><img src="./../images/icon/new_win_icon.png"></a>
								<{elseif ($work.work_state == '6' && $work.wd_price && $work.wd_c_no)}>
									<{if $work.paid_list_boolean==false}>
										<{if $work.wd_c_no=='528' && $work.prd_no=='11' }> <!-- 페이스북 상품의 facebook 외주업체 건은 법인카드 지급으로 표기-->
											<span style="color: red;">법인카드지급</span>
										<{/if}>
									<{else}>
										<span style="color: red;">선결제차감</span>
									<{/if}>
								<{/if}>

								<{if $work.wd_pay_date}>
									<br>(<{$work.wd_pay_date}>)
								<{/if}>
							</td>
						</tr>

						<tr <{if $color_idx%2 == '1'}>style="background-color:#ebebeb;"<{/if}>>
							<td class="alignL"> <!-- 상품명 -->
								<div style="font-size:10px; color:#a7a7a7; padding-bottom:3px;"><{$work.k_prd1_name}> > <{$work.k_prd2_name}> > </div>
								<{$work.prd_no_name}>

								<{if is_k_name_code_prd($work.prd_no, $work_task_run_kind_list)}> <!-- 상품 구분 적용상품 -->
									<br>
									<{assign var="set_f_k_name_code" value="false"}>

									<{section name=data loop=$task_run_staff_list}>
										<{if ($sch_prd != '55' && $work.work_state <= '3' && $work.s_no == $session_s_no) || ($task_run_staff_list[data][2] == $work.prd_no && $task_run_staff_list[data][1] == $session_s_no) || permissionNameCheck($session_permission,"마스터관리자")}>
											<{assign var="set_f_k_name_code" value="true"}>
										<{/if}>
									<{/section}>

										<{section name=data loop=$work_task_run_kind_list}>
											<{if $work_task_run_kind_list[data].prd_no == $work.prd_no}>
												<{if $work.k_name_code == $work_task_run_kind_list[data].k_name_code}>
													<div style="font-size:10px; color:#a7a7a7;"><{$work_task_run_kind_list[data].k_name}></div>
												<{/if}>
											<{/if}>
										<{/section}>
								<{/if}>

								<input type="hidden" name="f_prd_no" value="<{$work.prd_no}>">
							</td>
							<td> <!-- 업무요청자 -->
								<{$work.task_req_s_name}>
							</td>
						</tr>
						<{assign var=color_idx value=$color_idx+1}>
					<{/foreach}>
					<tr>
						<td colspan="19" class="paging_wrap">
							<div class="paging_wrap">
								<{$page_list}>
							</div>
						</td>
					</tr>
				</tbody>
			</form>
			<!-- 업무 리스트 부분 [End] -->
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- admin_content -->
<script>
	$(document).ready(function(){

		$(".date-picker").datepicker();

		$("#sch_prd_g2").remoteChained({
			parents: "#sch_prd_g1",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g1",
			loading: "로딩중..",
			clear: true
		});
		$("#sch_prd").remoteChained({
			parents: "#sch_prd_g2",
			url: "/v1/api/product.json.php?parent_data=sch_prd_g2",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand_g2").remoteChained({
			parents: "#sch_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_brand").remoteChained({
			parents: "#sch_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});


	function quick_search(type) {
		eval("var f=document.getElementById('search_form');");
		f.q_sch.value=type;

		f.submit();
	}


	// 자주 하는 업무 추가
	function proc_quick_prd (mode, prd_no) {
		var val = $("#f_prd").val();
		var txt = $("#f_prd option:selected").text();

		if (mode == "del")
			val = prd_no;

		if (mode == "add" && $(".btn_quick_add").length > 19) {
			alert("최대 20개까지 추가 가능합니다.");
		} else if (mode == "add" && !val) {
			alert("[자주하는 상품]에 추가할 상품을 선택해 주세요.");
		}else {
			$.post("find_work.php", {process : "proc_quick_prd", mode : mode, quick_prd : val, sch_prd : "<{$sch_prd}>", sch_prd_g1 : "<{$sch_prd_g1}>", sch_prd_g2 : "<{$sch_prd_g2}>", set_w_no : "<{$set_w_no}>"}, function(data) {
				arr = data.split("|");
				if (arr[0] == "err_exist_prd") {
					alert("이미 추가되어 있는 상품입니다.");
				} else if (arr[0] == "ok") {
					$("#d_quick_prd").html(arr[1]);
				}
			});
		}
	}

	function sch_detail_display(type){
		var f = document.forms['search_form'];

		if(type=='show'){
			f.sch.value = "Y";
			$("#sch_detail_display").show();
			$("#sch_detail_display_btn_show").hide();
			$("#sch_detail_display_btn_hide").show();
		}else if(type=='hide'){
			f.sch.value = "N";
			$("#sch_detail_display").hide();
			$("#sch_detail_display_btn_show").show();
			$("#sch_detail_display_btn_hide").hide();
		}
	}

	$(function() {
		proc_quick_prd('display');
	});

	// 세트에 업무 추가
	function set_add_work(w_no){
		eval("var f=document.getElementById('apply_frm');");
		f.process.value = 'set_add_work';
		f.add_w_no.value = w_no;

		f.submit();
	}
</script>

</body>
</html>
