<{include file="inc/top_popup.html"}>

<div class="admin_content">
	<h2 class="title" style="margin-bottom:10px">● 계정 리스트</h2>

	<form method="get" name="search_form" id="search_form" action="find_staff.php">
		<input type="hidden" name="j_a_id" id="sch_j_a_id" value="<{$j_a_id}>">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">활동상태</span>
				<select name="sch_staff_state" id="sch_staff_state" class="select_type2">
					<option value="">::전체::</option>
					<{foreach from=$staff_state_option key=key item=label}>
					<option value="<{$key}>" <{if $sch_staff_state == $key}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">부서</span>
				<select name="sch_team" id="sch_team" class="select_type2">
					<{foreach from=$team_name_list key=key item=team_data}>
					<option value="<{$key}>" <{if $sch_team==$key}>selected<{/if}>><{$team_data.t_name}></option>
					<{/foreach}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">이름</span>
				<input type="text" name="sch_s_name" value="<{$sch_s_name}>" class="input_type2" onkeydown="javascript:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:15px;"></span>

				<span class="name_tit">업무권한</span>
				<select name="sch_permission" id="sch_permission" class="select_type2">
					<{section name=data loop=$permission}>
					<option value="<{$permission[data][1]}>" <{if ($sch_permission=='' && $permission[data][0]=='전체') || $sch_permission==$permission[data][1]}>selected<{/if}>><{$permission[data][0]}></option>
					<{/section}>
				</select>

				<button class="btn_small" onclick="submit();">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="first" style="min-width:45px;">s_no</th>
					<th style="min-width:70px;">활동상태</th>
					<th style="min-width:110px;">ID</th>
					<th style="min-width:220px;">부서 > 팀</th>
					<th style="min-width:88px;">이름</th>
					<th style="min-width:70px;">직책</th>
					<th style="min-width:240px;">이메일</th>
					<th style="min-width:160px;">메인/서브 담당자 설정</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="8"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{section name=list loop=$staff}>
					<form name="apply_frm<{$staff[list].s_no}>" id="apply_frm<{$staff[list].s_no}>" class="list_form" method="post" enctype="multipart/form-data" action="find_staff.php">
						<input type="hidden" name="process" id="process">
						<input type="hidden" name="s_no" id="s_no" value="<{$staff[list].s_no}>">
						<input type="hidden" name="j_a_id" id="j_a_id" value="<{$j_a_id}>">
						<input type="hidden" name="type" id="type">

						<tr>
							<td class="first" <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- s_no -->
								<{$staff[list].s_no}>
							</td>
							<td <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 활동상태 -->
								<{$staff[list].state_name}>
							</td>
							<td <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- ID -->
								<{$staff[list].id}>
							</td>
							<td class="alignL" <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 부서 > 팀 -->
								<{if !!$staff[list].team_parent_name}>
									<{$staff[list].team_parent_name}> > <{$staff[list].team_name}>
								<{else}>
									<{$staff[list].team_name}>
								<{/if}>
							</td>
							<td class="link"<{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 이름 -->
								<a href="staff_regist.php?s_no=<{$staff[list].s_no}>"><{$staff[list].name}></a>
							</td>
							<td <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 직책 -->
								<{$staff[list].position}>
							</td>
							<td class="alignL" <{if $staff[list].state_name == 'deactivate' }>style="background-color:#999;"<{/if}>> <!-- 이메일 -->
								<{$staff[list].email}>
							</td>
							<td class="link"> <!-- 메인/서브 담당자 설정 -->
								<{assign var="data_empty" value="true"}>
								<{section name=m_s_i loop=$main_s_no}>
									<{if $staff[list].s_no == $main_s_no[m_s_i]}>
										<{assign var="data_empty" value="false"}>
										<button type="button" class="btn_small" style="background-color: #c73333;" onclick="remove_job_assignment('<{$staff[list].s_no}>', 'MAIN');">메인 해지</button>
									<{/if}>
								<{/section}>
								<{if $data_empty == 'true'}>
									<button type="button" class="btn_small" onclick="save_job_assignment('<{$staff[list].s_no}>', 'MAIN');">메인 설정</button>
								<{/if}>

								<{assign var="data_empty" value="true"}>
								<{section name=m_s_i loop=$sub_s_no}>
									<{if $staff[list].s_no == $sub_s_no[m_s_i]}>
										<{assign var="data_empty" value="false"}>
										<button type="button" class="btn_small" style="background-color: #c73333;" onclick="remove_job_assignment('<{$staff[list].s_no}>', 'SUB');">서브 해지</button>
									<{/if}>
								<{/section}>
								<{if $data_empty == 'true'}>
									<button type="button" class="btn_small" onclick="save_job_assignment('<{$staff[list].s_no}>', 'SUB');">서브 설정</button>
								<{/if}>
							</td>
						</tr>
					</form>
					<{/section}>
				<{/if}>
          <tr>
            <td colspan="8" class="paging_wrap">
              <div class="paging_wrap">
          	    <{$pagelist}>
        	    </div>
	          </td>
          </tr>
			</tbody>
		</table>
	</div>
</div>
<!-- //admin_content -->

<script>

	// 업무분장 담당자 설정
	function save_job_assignment(s_no, type){
		eval("var f=document.getElementById('apply_frm" + s_no + "');");
		f.process.value = 'save_job_assignment';
		f.type.value = type;

		f.submit();
	}

	// 업무분장 담당자 해지
	function remove_job_assignment(s_no, type){
		eval("var f=document.getElementById('apply_frm" + s_no + "');");
		f.process.value = 'remove_job_assignment';
		f.type.value = type;

		f.submit();
	}
</script>

 </body>
</html>
