<{include file="inc/top_popup.html"}>

<div class="admin_content">
	<form method="get" name="search_form" id="search_form" action="find_deposit.php">
		<h2 class="title" >●
			<select id="sch_my_c_no" name="sch_my_c_no" class="select_type3" style="width: 300px;	height: 30px;	margin-right: 10px; font-size: 20px; margin-bottom: 6px;">
				<option value="" <{if $sch_my_c_no == ""}>selected<{/if}>>::전체::</option>
				<{section name=data loop=$my_company_list}>
					<option value="<{$my_company_list[data].my_c_no}>" <{if $sch_my_c_no == $my_company_list[data].my_c_no}>selected<{/if}>><{$my_company_list[data].c_name}></option>
				<{/section}>
			</select>
			<button type="button" style="width: 150px; height: 34px; font-size: 20px; padding: unset;margin-bottom: 6px;" onclick="submit();" class="btn_big_memo">입금 리스트</button>
		</h2>
		<input type="hidden" name="sch_dp_quick" value="<{$sch_dp_quick}>" />
		<input type="hidden" name="sch" value="<{$sch}>">
		<input type="hidden" name="w_no" id="w_no" value="<{$w_no}>">
		<div class="default_wrap">
			<span id="d_quick">
				<span style="font-weight:bold">[Quick Search]</span>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(1);" class="btn_small">카드 입금대기</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(2);" class="btn_small">현금 입금대기</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(3);" class="btn_small">계산서 발행대기</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(4);" class="btn_small">입금완료(최신순)</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(5);" class="btn_small">인센티브 정산 년/월 미설정</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(6);" class="btn_small">자료 없음</button>
				<button type="button" style="padding:4px 6px;background-color:;" onclick="quick_search(7);" class="btn_small">담당자 알수없음</button>
			</span>
			<span id="sch_detail_display_btn_show">
				<button type="button" style="width:100px; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('show','sch_detail_display',this);" class="btn_small">▼ 상세검색 ▼</button>
			</span>
			<span id="sch_detail_display_btn_hide">
				<button type="button" style="width:120px%; color:black; background-color:#d5d5d5;" onclick="sch_detail_display('hide','sch_detail_display',this);" class="btn_small">▲ 상세검색(닫기) ▲</button>
			</span>

			<div id="sch_detail_display">

				<span class="name_tit">dp_no</span>
				<input type="text" name="sch_dp_no" value="<{$sch_dp_no}>" class="input_type2" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
				<span style="margin-right:20px;"></span>

				<span class="name_tit">입금상태</span>
				<select id="sch_dp_state" name="sch_dp_state" class="select_type2" style="margin-right:10px">
					<{section name=data loop=$dp_state}>
					<option value="<{$dp_state[data][1]}>" <{if ($sch_dp_state=='' && $dp_state[data][0]=='전체') || $sch_dp_state==$dp_state[data][1]}>selected<{/if}>><{$dp_state[data][0]}></option>
					<{/section}>
				</select>

				<span class="name_tit">입금방식</span>
				<select id="sch_dp_method" name="sch_dp_method" class="select_type2" style="margin-right:10px">
					<{section name=data loop=$dp_method}>
					<option value="<{$dp_method[data][1]}>" <{if ($sch_dp_method == '' && $dp_state[data][0]=='전체') || $sch_dp_method == $dp_method[data][1]}>selected<{/if}>><{$dp_method[data][0]}></option>
					<{/section}>
				</select>

				<span class="name_tit">입금완료일</span>
				<input type="text" class="date-picker input_type_date_small" id="sch_dp_date" name="sch_dp_date" value="<{$sch_dp_date}>" />

				<span class="name_tit" style="margin-left:20px">인센티브 정산 년/월</span>
				<input type="text" class="month-picker input_type3_big" id="sch_incentive_date" name="sch_incentive_date" value="<{$sch_incentive_date}>" style="margin-right:10px"/>

				<br>
				<span class="name_tit" style="">업체 담당자</span>
				<select name="sch_s_no" id="sch_s_no" class="select_type2" style="margin-right:10px;" >
					<{if permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"인큐베이팅") || permissionNameCheck($session_permission, "마케터")}>
						<option value="all" <{if $sch_s_no=="all"}>selected<{/if}>>::전체::</option>
					<{/if}>
					<{section name=data loop=$staff}>
						<{if (($sch_s_no !='' && $staff[data].no==$sch_s_no) || (!$sch_s_no && permissionNameCheck($session_permission, "마케터") && !permissionNameCheck($session_permission, "외주관리자") && $staff[data].no==$session_s_no ))}>
							<option value="<{$staff[data].no}>" selected><{$staff[data].name}></option>
						<{elseif permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"외주관리자") || permissionNameCheck($session_permission,"마케터")}>
							<option value="<{$staff[data].no}>"><{$staff[data].name}></option>
						<{/if}>
					<{/section}>
					<!--
					<{section name=data loop=$staff}>
						<{if (($sch_s_no !='' && $staff[data].no==$sch_s_no) || (!$sch_s_no && permissionNameCheck($session_permission, "마케터") && !permissionNameCheck($session_permission, "외주관리자") && $staff[data].no==$session_s_no ))}>
							<option value="<{$staff[data].no}>" selected><{$staff[data].name}></option>
						<{elseif permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"외주관리자")}>
							<option value="<{$staff[data].no}>"><{$staff[data].name}></option>
						<{/if}>
					<{/section}>
					-->
				</select>

				<span class="name_tit">계산서 발행상태</span>
				<select id="sch_dp_tax_state" name="sch_dp_tax_state" class="select_type2" style="margin-right:10px">
					<{section name=data loop=$dp_tax_state}>
					<option value="<{$dp_tax_state[data][1]}>" <{if ($sch_dp_tax_state=='' && $dp_tax_state[data][0]=='전체') || $sch_dp_tax_state==$dp_tax_state[data][1]}>selected<{/if}>><{$dp_tax_state[data][0]}></option>
					<{/section}>
				</select>

				<span class="name_tit">기타</span>
				<select id="sch_dp_etc" name="sch_dp_etc" class="select_type3" style="margin-right:10px;width:190px">
					<option value=""></option>
					<option value="1" <{if ($sch_dp_etc == '1')}>selected<{/if}>>인센티브 정산 년/월 미설정</option>
					<option value="2" <{if ($sch_dp_etc == '2')}>selected<{/if}>>자료 없음</option>
				</select>
				<br>

				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">입금 업체명</span>
							<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type1" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
						</td>
						<td rowspan='2' >
							<button class="btn_big_search" onclick="submit();">검색</button>
						</td>
					</tr>
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">관련상품</span>
							<select name="sch_prd_no" id="sch_prd_no" style="width:270px; height:28px; padding: 3px 1px; vertical-align: middle;">
								<{section name=data loop=$in_product}>
								<option value="<{$in_product[data][1]}>" <{if ($sch_prd_no=='' && $in_product[data][0]=='::전체::') || $sch_prd_no==$in_product[data][1]}>selected<{/if}>>
									<{if $in_product[data][0]=='::전체::'}>
										<{$in_product[data][0]}>
									<{else}>
										<{$in_product[data][2]}> > <{$in_product[data][3]}> > <{$in_product[data][0]}>
									<{/if}>
								</option>
								<{/section}>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: right;">
							<span class="name_tit">입금명</span>
							<input type="text" name="sch_subject" value="<{$sch_subject}>" class="input_type1" onkeydown="javascipt:if(event.keyCode == 13)searchList();" />
						</td>
					</tr>
				</table>
			</div>

			<{if $sch == 'Y'}>
				<script>$("#sch_detail_display").show();</script>
				<script>$("#sch_detail_display_btn_show").hide();</script>
				<script>$("#sch_detail_display_btn_hide").show();</script>
			<{else}>
				<script>$("#sch_detail_display").hide();</script>
				<script>$("#sch_detail_display_btn_show").show();</script>
				<script>$("#sch_detail_display_btn_hide").hide();</script>
			<{/if}>
		</div>
	</form>

	<div class="table_list_style" style="width:1405px;">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="first" style="width:52px;">dp_no</th>
					<th style="width:90px;">작성일<br />작성자</th>
					<th style="width:120px;">입금상태</th>
					<!--th style="min-width:85px;">입금방식</th-->
					<th style="width:92px;">입금완료일</th>
					<th style="width:130px;">입금 받은 업체명</th>
					<th style="width:300px;">[입금 업체명]<br>입금명</th>
					<th style="width:80px;">업체<br />담당자</th>
					<!--th style="min-width:120px;">예정 입금액<br />(VAT 포함)</th-->
					<th style="width:120px;">입금 완료액<br />(VAT/소득세 별도)</th>
					<th style="width:120px;">입금 완료액<br />(VAT/소득세 포함)</th>
					<th style="width:120px;">계산서<br />발행상태</th>
					<!--th style="min-width:85px;">계산서<br />발행일자</th>
					<th style="min-width:180px;">계산서<br / >발행항목</th-->
					<th style="width:90px;">인센티브<br />정산 년/월</th>
					<th width="width:80px;">설정</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td colspan="14"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
				<iframe name='ifrm_submit' width='0' height='0' frameborder='0'></iframe>
					<{section name=list loop=$deposit}>
				<form name="apply_frm<{$deposit[list].dp_no}>" id="apply_frm<{$deposit[list].dp_no}>" class="list_form" method="post" enctype="multipart/form-data" action="find_deposit.php">
					<input type="hidden" name="process" id="process">
					<input type="hidden" name="w_no" id="w_no" value="<{$w_no}>">
					<input type="hidden" name="dp_no" id="dp_no" value="<{$deposit[list].dp_no}>">
					<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
					<tr>
						<td class="first"><!--dp_no-->
							<{$deposit[list].dp_no}>
						</td>
						<td class="date"><!--작성일 작성자-->
							<span class="day"><{$deposit[list].regdate_day}></span>
							<br>
							<span class="time"><{$deposit[list].regdate_time}></span>
							<{$deposit[list].reg_s_name}>
						</td>
						<td><!--입금상태-->
							<select name="f_dp_state" id="f_dp_state" <{if $deposit[list].dp_state == '1'}>style="color:red; background-color:yellow;"<{elseif $deposit[list].dp_state == '4'}>style="color:red; background-color:lightgray;"<{/if}> class="select_type2_disabled" >
								<{section name=data loop=$dp_state}>
								<{if $dp_state[data][1] != 0}>
									<option value="<{$dp_state[data][1]}>" <{if $deposit[list].dp_state==$dp_state[data][1]}>selected<{/if}> disabled><{$dp_state[data][0]}></option>
								<{/if}>
								<{/section}>
							</select>
						</td>
						<!--td--><!--입금방식-->
							<!--
							<select name="f_dp_method" id="f_dp_method" onchange="save_el('<{$deposit[list].dp_no}>', 'f_dp_method', this)" class="select_type1<{if !permissionNameCheck($session_permission,"재무관리자")}>_disabled<{/if}>" >
								<{section name=data loop=$dp_method}>
								<{if $dp_method[data][1] != 0}>
									<option value="<{$dp_method[data][1]}>" <{if $deposit[list].dp_method==$dp_method[data][1]}>selected<{/if}> <{if !permissionNameCheck($session_permission,"재무관리자")}>disabled<{/if}>><{$dp_method[data][0]}></option>
								<{/if}>
								<{/section}>
							</select>
						</td>
						-->
						<td><!--입금완료일-->
							<input type="text" class="date-picker input_type_date_small_readonly" id="dp_date<{$deposit[list].dp_no}>" name="dp_date<{$deposit[list].dp_no}>" value="<{$deposit[list].dp_date}>" readonly />
						</td>
						<td style="word-break:break-all;"><!--입금 받은 업체명-->
							<span style="color:<{$deposit[list].my_c_kind_color}>;"><{$deposit[list].my_c_name}></<span>
						</td>
						<td rowspan="<{$deposit[list].work_count}>" class="alignL"><!--[입금업체명] 입금명-->
							<div style="color:#808080;">
								<{if $deposit[list].c_name}>
								[<{$deposit[list].c_name}>]
								<{/if}>
							</div>
							<span style="font-weight:800; font-size:14px;">
								<{$deposit[list].dp_subject}>
							</span>
						</td>
						<td><!--업체 담당자-->
							<{$deposit[list].s_name}>
						</td>
						<!--
						<td class="money">--><!--예정 입금액 (VAT 포함)-->
						<!--
								￦ <{$deposit[list].cost}>
						</td>
						-->
						<td class="money" style="color:#808080;font-weight:normal;"><!--입금 완료액 (VAT 미포함)-->
							￦ <{$deposit[list].dp_money}>
						</td>
						<td class="money" style="color: <{if $deposit[list].dp_money_vat >= 0}>#0026ff<{else}>#ff0000<{/if}>"><!--입금 완료액 (VAT 포함)-->
							￦ <{$deposit[list].dp_money_vat}>
						</td>
						<td><!--계산서 발행상태-->
							<select name="f_dp_tax_state" id="f_dp_tax_state" <{if $deposit[list].dp_tax_state == '1' }>style="color:red; background-color:yellow;"<{/if}> class="select_type2<{if $deposit[list].dp_tax_state!='1' || $deposit[list].s_no!=$session_s_no}>_disabled<{/if}>" >
								<{section name=data loop=$dp_tax_state}>
								<{if $dp_tax_state[data][1] != 0}>
									<option value="<{$dp_tax_state[data][1]}>" <{if $deposit[list].dp_tax_state==$dp_tax_state[data][1]}>selected<{/if}> <{if $deposit[list].dp_tax_state!='1' || $deposit[list].s_no!=$session_s_no}>disabled<{elseif $dp_tax_state[data][1] > 1 }>disabled<{/if}>><{$dp_tax_state[data][0]}></option>
								<{/if}>
								<{/section}>
							</select>
							<{if !($deposit[list].dp_tax_state!='1' || $deposit[list].s_no!=$session_s_no )}>
								<br>
							<{/if}>
						</td>
						<td><!--인센티브 정산 년/월-->
							<input type="text" class="month-picker input_type_date_small_readonly" id="f_incentive_date<{$deposit[list].dp_no}>" name="f_incentive_date<{$deposit[list].dp_no}>" value="<{$deposit[list].incentive_date}>" readonly />
						</td><!--설정-->
						<td class="link">
							<{if !!$deposit[list].w_no}>
								이미 설정됨<br>(<a href="../work_list.php?sch_w_no=<{$deposit[list].w_no}>&sch_prd=<{$deposit[list].prd_no}>" target="_blank"><{$deposit[list].w_no}></a>)
							<{else}>
								<button type="button" class="btn_small" onclick="save_deposit('<{$deposit[list].dp_no}>');">설정하기</button>
							<{/if}>
						</td>
					</tr>
				</form>
					<{/section}>
				<{/if}>
				<tr>
						<td colspan=14 class="paging_wrap">
						<div class="paging_wrap">
					<{$pagelist}>
				</div>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script>

  //외주업체 no, name을 opener form으로 return함
  function find_deposit(dp_no_f){
    var of = opener.document.forms["<{$f_name}>"];

    of.dp_no.value  = dp_no_f;
		of.process.value = 'save_dp_no';
		of.submit();

		window.close();
		return false;
	}

	// 입금리스트 설정
	function save_deposit(dp_no_f){
		eval("var f=document.getElementById('apply_frm" + dp_no_f + "');");
		f.process.value = 'save_deposit';

		f.submit();
	}
</script>

 </body>
</html>
