<{include file="inc/top_popup.html"}>

	<div class="admin_content_popup" style="width:1190px;">
		<div style="margin: 0 auto;width: 700px;margin-top: 200px;text-align: center;">
			<h1>(와이즈) 2020 인사평가 설문조사에 참여하시겠습니까?</h1>
			<button type="button" onclick="moveNaverSurvey()" style="background: #333;color: white;font-size: 16px;padding: 10px 20px;font-weight: bold;text-align: center;margin-top: 80px;">참여하기</button>
		</div>
	</div>

<script type="text/javascript">
	function moveNaverSurvey()
	{
		if(confirm("참여하시겠습니까?")){
		    location.href="https://naver.me/5Rr6nBka";
		}
	}
</script>

</body>
</html>
