<{include file="inc/top_popup.html"}>
	<div class="admin_content_popup">
		<!-- //검색창 -->

		<div class="table_list_style">
			<span style="font-size:24px; border: 1px solid #999; padding:4px 15px; color: #ffffff; background: #8E8E8E;">
				[탑블로그] <{$company}> 선정 리스트
			</span>
			&nbsp;&nbsp;<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff; word-wrap:keep-all;
																<{if $channel == '1'}>
																	background: #72af22;
																<{elseif $channel == '2'}>
																	background: #af1485;
																<{elseif $channel == '3'}>
																	background: #3b5997;
																<{elseif $channel == '4'}>
																	background: #6b431c;
																<{elseif $channel == '5'}>
																	background: #333333;
																<{elseif $channel == '6'}>
																	background: #baba00;
																<{/if}>">
				<{$channel_name}>
			</span>
			&nbsp;&nbsp;<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff;word-wrap:keep-all;
																<{if $kind == '1' || $kind == '4'}>
																	background: #f77b18;
																<{elseif $kind == '2'}>
																	background: #5175fe;
																<{elseif $kind == '3' || $kind == '5'}>
																	background: #63F;
																<{/if}>">
				<{$kind_name}>
			</span>
			<br>
			<br>

			담당자 : <{$staff_s_name}> <{$staff_hp}>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th style="min-width:50px;" class="first">NO</th>
						<th style="min-width:120px;">닉네임</th>
						<th style="min-width:70px;">이름</th>
						<th style="min-width:120px;">휴대폰</th>
					<{if $kind == 3 || $kind == 5}>
						<th style="min-width:80px;">우편번호</th>
						<th style="min-width:300px;">주소</th>
						<th style="min-width:70px;">수령자이름</th>
						<th style="min-width:120px;">수령자핸드폰</th>
						<th style="min-width:150px;">배송메세지</th>
					<{/if}>
					</tr>
				</thead>
				<tbody>
			<{if $total_num == 0}>
				<tr>
				<{if $kind == 3 || $kind == 5}>
					<td colspan="10"> 등록된 자료가 없습니다.</td>
				<{else}>
					<td colspan="5"> 등록된 자료가 없습니다.</td>
				<{/if}>
				</tr>
			<{else}>
				<{section name=data loop=$blogger}>
					<tr>
						<!-- <td class="date_td"><span class="date">2014.09.15</span> <span class="time">18:39</span></td> -->
						<td><{$blogger[data].idx_no}></td>
						<td><{$blogger[data].nick}></td>
						<td><{$blogger[data].username}></td>
						<{if $us_id =='admin' || permissionCheck($session_permission, "010001")}>
						<td><{$blogger[data].hp}></td>
						<{else}>
						<td><{$blogger[data].hp1}>-****-<{$blogger[data].hp3}></td>
						<{/if}>
					<{if $kind == 3 || $kind == 5}>
						<td><{$blogger[data].zipcode}></td>
						<!-- <td class="gubun_td"><span class="gubun3">배송체험</span></td> -->
						<{if $us_id =='admin' || permissionCheck($session_permission, "010001")}>
						<td class="alignL"><{$blogger[data].address1}>&nbsp;<{$blogger[data].address2}></td>
						<{else}>
						<td class="alignL"><{$blogger[data].address1}>&nbsp;</td>
						<{/if}>
						<td><{$blogger[data].username}></td>
						<!-- <td><a href="#">파니모르</a></td> -->
						<td><{$blogger[data].hp}></td>
						<td class="alignL"><{$blogger[data].delivery_memo}></td>
					<{/if}>
					</tr>
					<{/section}>
				<{/if}>
				</tbody>
			</table>
			* 체험기간 : <{$exp_sdate}> ~ <{$exp_edate}><br>
			* 체험단 방문시 [이름]과 [닉네임], [핸드폰 전화 뒷자리]를 확인해 주세요.<br>
			* 체험단 관련 문의 사항은 [담당자 : <{$staff_s_name}> <{$staff_hp}>]로 연락 바랍니다.
		</div>
		<div class="paging_wrap">
			<{$pagelist}>
		</div>
	</div>
	<!-- //admin_content -->
	<div class="btn_wrap">
			<!-- <button onClick="window.open('/main/registration.php?promotion_no=<{$p_no}>','신청서 ','width=1200, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;"class="btn_style1"><span>추가하기</span></button> -->
		 <button onclick="location.href='excel_popup_blogger_list.php?<{$save_query}>';" class="btn_style1"><span>엑셀 파일로 저장 </span></button>
	</div>

</body>
</html>
