<{include file="inc/top_popup.html"}>
	<div class="admin_content_popup">
		<!-- //검색창 -->

		<div class="table_list_style">
			<span style="font-size:24px; border: 1px solid #999; padding:4px 15px; color: #ffffff; background: #8E8E8E;">
				[탑블로그] <{$company}> 포스팅 리스트
			</span>
			&nbsp;&nbsp;<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff; word-wrap:keep-all;
																<{if $channel == '1'}>
																	background: #72af22;
																<{elseif $channel == '2'}>
																	background: #af1485;
																<{elseif $channel == '3'}>
																	background: #3b5997;
																<{elseif $channel == '4'}>
																	background: #6b431c;
																<{elseif $channel == '5'}>
																	background: #333333;
																<{elseif $channel == '6'}>
																	background: #baba00;
																<{/if}>">
				<{$channel_name}>
			</span>
			&nbsp;&nbsp;<span style="font-size:14px; border: 1px solid #999; padding:4px 6px; color: #ffffff;word-wrap:keep-all;
																<{if $kind == '1' || $kind == '4'}>
																	background: #f77b18;
																<{elseif $kind == '2'}>
																	background: #5175fe;
																<{elseif $kind == '3' || $kind == '5'}>
																	background: #63F;
																<{/if}>">
				<{$kind_name}>
			</span>
			<br>
			<br>

			<form name="popup_posting_list_frm" id="popup_posting_list_frm" name="popup_posting_list_frm" action="popup_posting_list.php" method="post" enctype="multipart/form-data">
			<button type="button" onclick="save_limit_yn()" class="btn_small_choice">마감준수여부에서 선택을 모두 준수로 변경하기</button>
			<input type="hidden" id="list_query" name="list_query" value="<{$save_query}>">
			<input type="hidden" id="process" name="process" value="<{$mode}>">
			<input type="hidden" name="code" value="<{$kind}>">
			<input type="hidden" name="idx">
			<input type="hidden" id="c_no" name="c_no">
			<input type="hidden" id="b_no" name="b_no">
			<input type="hidden" id="p_no" name="p_no" value="<{$p_no}>">
			<input type="hidden" id="r_no" name="r_no">
			<input type="hidden" id="a_no" name="a_no">
			<input type="hidden" id="blog_url_origin" name="blog_url_origin">

				<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#FFF;">
					<thead>
						<tr bgcolor="#CCCCCC">
							<th style="min-width:20px;" class="first">No</th>
	            <th style="min-width:40px;">a_No</th>
	            <th style="min-width:170px;">닉네임/블로그URL</th>
							<th style="min-width:395px;">r_No / 포스팅제목 / 포스팅 URL</th>
							<th style="min-width:200px;">포스팅 후 한마디</th>
							<{if $kind == 2 || $kind == 4 || $kind == 5}>
								<th style="min-width:100px;">보상 계좌 정보</th>
							<{/if}>
							<th style="min-width:325px;">메모</th>
							<th style="min-width:85px;">선정여부</th>
							<th style="min-width:90px;">마감준수여부</th>
						</tr>
					</thead>
					<tbody>
				<{if $total_num == 0}>
					<tr>
					<{if $kind == 3}>
						<td colspan="10"> 등록된 자료가 없습니다.</td>
					<{else}>
						<td colspan="7"> 등록된 자료가 없습니다.</td>
					<{/if}>
					</tr>
				<{else}>
					<{section name=data loop=$posting}>
						<{assign var="report_empty" value=true}>
						<tr id="tr_<{$posting[data].a_no}>">
							<!-- <td class="date_td"><span class="date">2014.09.15</span> <span class="time">18:39</span></td> -->
							<td><{$posting[data].idx_no}></td>
							<td><{$posting[data].a_no}></td>
							<td style="text-align: left;"><{$posting[data].nick}><br><a href="<{$posting[data].blog_url}>" target="_blank"><{$posting[data].blog_url}></a></td>
							<td class="alignL" colspan="2">
	              				<table cellpadding="0" cellspacing="0" border="0">
									<{section name=data1 loop=$report}>
										<{if $posting[data].a_no == $report[data1].a_no}>
										<{assign var="report_empty" value=false}>
										<tr>
	          								<td class="alignL" style="width:383px;">
												r_No : <{if $report[data1].r_no != ''}><{$report[data1].r_no}><{/if}>
												<{if $report[data1].r_no != '' && ($channel == '1' || $channel == '7') && $report[data1].post_url}>
												, 글자수 : <{$report[data1].blog_txt_cnt}>, 이미지수 : <{$report[data1].blog_img_cnt}>
												<{/if}>
												<br>
												<{if $report[data1].file_path != '' && !$report[data1].file_exist }>
												<span style="color: red; font-weight: bold;">파일 업로드 오류 파일이 존재합니다.</span><br/>
												<{/if}>
												<a href="https://m.search.naver.com/search.naver?where=m_view&sm=mtb_jum&query=<{$report[data1].post_title}>" target="_blank">제목</a> : <input type="text" style="width:338px;" name="post_title<{$report[data1].r_no}>" id="post_title<{$report[data1].r_no}>" value="<{$report[data1].post_title}>"><br>
	                      						<a href="<{$report[data1].post_url}>" target="_blank">URL</a> : <input type="text" style="width:338px;" name="post_url<{$report[data1].r_no}>" id="post_url<{$report[data1].r_no}>" value="<{$report[data1].post_url}>"><br>
												<{if permissionNameCheck($session_permission,"서비스운영")}>
													<button type="button" class="btn_small" onclick='save_report("<{$posting[data].a_no}>", "<{$posting[data].b_no}>", "<{$posting[data].blog_url}>", "<{$report[data1].r_no}>");'>저장</button>
												<{/if}>
											</td>
											<td style="width:200px;">
	            								<{if $report[data1].post_url != ''}><textarea name="r_memo" id="r_memo" cols="5" rows="7" style="width:192px;height:80px;" class="textarea_type2" disabled="disabled"><{$report[data1].r_memo}></textarea><{/if}>
											</td>
										</tr>
										<{/if}>
									<{/section}>
								</table>
								<{if $report_empty}>
									제목 : <input type="text" style="width:338px;" name="post_title<{$posting[data].a_no}>" id="post_title<{$posting[data].a_no}>"><br>
	               					URL : <input type="text" style="width:338px;" name="post_url<{$posting[data].a_no}>" id="post_url<{$posting[data].a_no}>"><br>
									<{if permissionNameCheck($session_permission,"서비스운영")}>
										<button type="button" class="btn_small" onclick='save_report("<{$posting[data].a_no}>", "<{$posting[data].b_no}>", "<{$posting[data].blog_url}>", "r_no");'>저장</button>
									<{/if}>
								<{/if}>
							</td>
							<{if $kind == 2 || $kind == 4 || $kind == 5}>
								<td style="text-align: left;"><{$posting[data].bk_title}><br><{$posting[data].bk_num}><br><{$posting[data].bk_name}></td>
							<{/if}>
							<td>
								<span class="txt" style="vertical-align:top;">
									<li>
									<textarea name="b_memo<{$posting[data].a_no}>" id="b_memo<{$posting[data].a_no}>" cols="5" rows="2" style="height:70px;" class="textarea_memo"><{$posting[data].b_memo}></textarea>
									<{if permissionNameCheck($session_permission,"서비스운영")}>
										<button onclick="save_memo(<{if $posting[data].r_no != ''}><{$posting[data].r_no}><{else}>'r_no'<{/if}>,<{if $posting[data].b_no != ''}><{$posting[data].b_no}><{else}>'b_no'<{/if}>,<{$posting[data].a_no}>)" class="btn_small" style="width:20px; height:70px; padding:0px 0px;">저장</button>
									<{/if}>
									</li>
									마지막평가 : <{$posting[data].reload}>
									<button onclick="save_reload(<{$posting[data].b_no}>);" class="btn_style2">재평가완료</button>
								</span>
							</td>
							<td>
								<select name="selection<{$posting[data].a_no}>" id="selection<{$posting[data].a_no}>" class="select_type1">
									<option value="">- 선택 -</option>
									<{section name=option loop=$select}>
										<option value="<{$select[option].no}>"
										<{if $posting[data].a_state==$select[option].no}>selected="selected"<{/if}>><{$select[option].name}></option>
									<{/section}>
								</select><br />
								<{if permissionNameCheck($session_permission,"서비스운영")}>
									<button type="button" class="btn_small" onclick='save_selection(<{$posting[data].a_no}>,<{$posting[data].b_no}>);'>저장</button>
									</button>
								<{/if}>
							</td>
							<td>
								<select name="sstate<{$posting[data].a_no}>" id="sstate<{$posting[data].a_no}>" class="select_type1">
									<option value="" <{if !$posting[data].sstate}>selected<{/if}>>- 선택 -</option>
									<option value="1" <{if $posting[data].sstate==1}>selected<{/if}>>준수</option>
									<option value="2" <{if $posting[data].sstate==2}>selected<{/if}>>미준수</option>
									<!-- <option value="3" <{if $posting[data].sstate==3}>selected<{/if}>>선정취소</option> -->
								</select><br />
								<{if permissionNameCheck($session_permission,"서비스운영")}>
									<button onclick='save_limit(<{$posting[data].a_no}>);' class="btn_small">저장</button>
								<{/if}>
							</td>
						</tr>
						<{/section}>
					<{/if}>

				</tbody>
				</table>
			</form>
		</div>

		<div class="paging_wrap">
			<{$pagelist}>
		</div>
	</div>
	<div class="btn_wrap">
		<!-- <button onClick="window.open('/main/registration.php?promotion_no=<{$p_no}>','신청서 ','width=1200, height=700, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;"class="btn_style1"><span>추가하기</span></button> -->
	 	<button onclick="location.href='excel_popup_posting_list.php?<{$save_query}>';" class="btn_style1"><span>엑셀 파일로 저장 </span></button>
		<button onclick="window.open('download_blogger_report.php?<{$save_query}>','파일다운로드','width=400, height=400, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');return false;" class="btn_style1"><span>파일 다운받기</span></button>
	</div>
	<!-- //admin_content -->
	<script>
	function save_limit(a_no) {
		document.getElementById('popup_posting_list_frm').process.value="limit_yn";
		document.getElementById('popup_posting_list_frm').a_no.value=a_no;
		document.getElementById('popup_posting_list_frm').submit();
	}
	function save_reload(b_no) {
		document.getElementById('popup_posting_list_frm').process.value="reload";
		document.getElementById('popup_posting_list_frm').b_no.value=b_no;
		//return false;
		document.getElementById('popup_posting_list_frm').submit();
	}
	function save_memo(report_no,b_no,a_no) {
		document.getElementById('popup_posting_list_frm').process.value="memo";
		document.getElementById('popup_posting_list_frm').b_no.value=b_no;
		if (report_no!='') {
			eval("var f=document.getElementById('b_memo"+a_no+"');");
		var n=f.value;
		var nn=n.length;
		if (nn==0) {
			alert('입력되지 않았습니다.');
			f.focus();
			return false;
		}
		}
		document.getElementById('popup_posting_list_frm').r_no.value=report_no;
		document.getElementById('popup_posting_list_frm').a_no.value=a_no;
		document.getElementById('popup_posting_list_frm').submit();
	}

/* 마감준수여부에서 선택을 모두 준수로 변경하기 20160329 김윤영 Start */
	function save_limit_yn() {
		eval("var f=document.getElementById('popup_posting_list_frm');");
		if (confirm('마감준수여부에서 선택을 모두 준수로 변경합니까?')) {
//			alert('처리완료');
		} else {
//			alert('취소');
			return false;
		}

		f.process.value="save_limit_yn";
		//return false;
		f.submit();
	}
/* 마감준수여부에서 선택을 모두 준수로 변경하기 20160329 김윤영 End */

	function save_report(a_no,b_no,blog_url_origin,r_no) {
		eval("var f=document.getElementById('popup_posting_list_frm');");
		f.process.value="save_report";
		f.a_no.value=a_no;
		f.b_no.value=b_no;
		f.blog_url_origin.value=blog_url_origin;
		f.r_no.value=r_no;
		//return false;
		f.submit();
	}

	function save_selection(a_no,b_no) {
		eval("var f=document.getElementById('popup_posting_list_frm');");
		f.process.value="save_selection";
		f.a_no.value=a_no;
		//return false;
		f.submit();
	}
	</script>
 </body>
</html>
