<{include file="inc/top_popup.html"}>
	<div class="admin_content_popup" style="min-width:490px;">
		<div class="pop-header">
		<p class="tit">외주비 설정</p>
		</div>
		<button type="button" id="cboxClose">close</button>

<div style="padding:10px">
<div class="subject-info-box-1">
	<form name="form_out_set" id="form_out_set" method="post" action="" onsubmit="return f_submit(this);"  >
			<input type="hidden" name="process" value="" />
			<input type="hidden" name="dp_no" value="<{$dp_no}>" />
			<input type="hidden" name="c_no" value="<{$c_no}>" />
	[설정된 외주비 내역] <button type="sumbit" class="btn_small">저장</button>
	<br>
	w_no | 업무완료일 | 업체명 | 담당자 | 상품명 | 단가(VAT별도) | 업무진행/키워드
	<br>
	<div style="text-align:right;">
	<a href="#" onclick="sel_sort(1);return false;">상품명순</a>
	<a href="#" onclick="sel_sort(2);return false;">업무완료일순</a>
	</div>
	<input type="hidden" name="w_no_list" value="" />
	<select multiple="multiple" id='lstBox1' class="lstBox">
		<{section name=list loop=$om_list_l}>
		<option value="<{$om_list_l[list].w_no}>" title="<{$om_list_l[list].ori_str}>">
			<{$om_list_l[list].w_no}> |
			<{$om_list_l[list].task_run_regdate}> |
			<{$om_list_l[list].c_name}> |
			<{$om_list_l[list].s_no_name}> |
			<{$om_list_l[list].prd_no_name}> |
			\<{$om_list_l[list].price}> |
			<{$om_list_l[list].task}>
		</option>
		<{/section}>
	</select>
	</form>
</div>
<div class="subject-info-arrows">
	<button type="button" id="btnLeft" class="btn_small">&lt;</button><br />
	<button type="button" id="btnRight" class="btn_small">&gt;</button><br />
	<button type="button" id="btnAllLeft" class="btn_small">&lt;&lt;</button>
	<button type="button" id="btnAllRight" class="btn_small" style="color:white">&gt;&gt;</button><br />
</div>
<div class="subject-info-box-2">
	<form method="get" name="search_form" action="">
	<input type="hidden" name="dp_no" value="<{$dp_no}>" />
	[설정 안된 외주비 내역]
	<br>
	w_no | 업무완료일 | 업체명 | 담당자 | 상품명 | 단가(VAT별도) | 업무진행/키워드
	<br>
	<span class="name_tit">업체명</span>
	<input type="text" name="sch_c_name" value="<{$sch_c_name}>" class="input_type7" />
	<span class="name_tit">상품명</span>
	<select name="sch_prd_no" id="sch_prd_no" class="select_type2" style="margin-right:5px;width:120px">
		<{section name=data loop=$out_product}>
		<option value="<{$out_product[data][1]}>" <{if ($sch_prd_no=='' && $out_product[data][0]=='전체') || $sch_prd_no==$out_product[data][1]}>selected<{/if}>><{$out_product[data][0]}></option>
		<{/section}>
	</select>
	<button class="btn_small" onclick="submit();">검색</button>
	</form>
	<select multiple="multiple" id='lstBox2' class="lstBox">
		<{section name=list loop=$om_list_r}>
		<option value="<{$om_list_r[list].w_no}>" title="<{$om_list_r[list].ori_str}>">
			<{$om_list_r[list].w_no}> |
			<{$om_list_r[list].task_run_regdate}> |
			<{$om_list_r[list].c_name}> |
			<{$om_list_r[list].s_no_name}> |
			<{$om_list_r[list].prd_no_name}> |
			\<{$om_list_r[list].price}> |
			<{$om_list_r[list].task}> |
		</option>
		<{/section}>
	</select>
</div>
<div style="clear:both"></div>
</div>

	</div>
	<!-- //admin_content_popup -->
<style>
.subject-info-box-1,
.subject-info-box-2 {
	float: left; width: 610px;
}

.lstBox {
	width: 610px; height: 310px; padding: 0; overflow:auto;
}

.lstBox option {
	padding: 4px 10px 4px 10px;
}

.lstBox option:hover {
	background: #EEEEEE;
}

.subject-info-arrows {
	padding-top:80px; float: left; width: 50px; text-align:center;
}
</style>
<script>
$(function(){

	$('body').css('margin', '0');
	$('#cboxClose').on('click', function() {
		//parent.$.colorbox.close();
		parent.ifr_close();
	});

});

function f_submit(f) {
	var cnt = $('#lstBox1 option').size();
	if (cnt < 1) {
		//alert('한 건 이상 설정해 주시기 바랍니다.');
		//return false;
	}
	if (confirm('설정된 내용을 저장하시겠습니까?')) {
		var str = $("#lstBox1 option").map(function() {return $(this).val();}).get();
		f.process.value = "save";
		f.w_no_list.value = str;
		return true;
	}

	return false;
}

function f_reset() {
	f = document.forms[0];
	f.reset();
}

function sel_sort(flag) {
	if (flag == 1)
		nth = 4;
	else if (flag == 2)
		nth = 1;

	var options = $("#lstBox1 option");	// Collect options
	options.detach().sort(function(a, b) {	// Detach from select, then Sort
			var at = $.trim($(a).text().split("|")[nth]);
			var bt = $.trim($(b).text().split("|")[nth]);
			return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
	});
	options.appendTo("#lstBox1");
}

$(function(){

	$('#btnRight').click(function (e) {
		var selectedOpts = $('#lstBox1 option:selected');
		if (selectedOpts.length == 0) {
				alert("이동시킬 외주 건을 선택해 주세요.");
				e.preventDefault();
		}
		$('#lstBox2').append($(selectedOpts).clone());
		$(selectedOpts).remove();
		e.preventDefault();
	});
	$('#btnAllRight').click(function (e) {
		var selectedOpts = $('#lstBox1 option');
		if (selectedOpts.length == 0) {
				alert("이동시킬 외주 건을 선택해 주세요.");
				e.preventDefault();
		}
		$('#lstBox2').append($(selectedOpts).clone());
		$(selectedOpts).remove();
		e.preventDefault();
	});
	$('#btnLeft').click(function (e) {
		var selectedOpts = $('#lstBox2 option:selected');
		if (selectedOpts.length == 0) {
				alert("이동시킬 외주 건을 선택해 주세요.");
				e.preventDefault();
		}
		$('#lstBox1').append($(selectedOpts).clone());
		$(selectedOpts).remove();
		e.preventDefault();
	});
	$('#btnAllLeft').click(function (e) {
		var selectedOpts = $('#lstBox2 option');
		if (selectedOpts.length == 0) {
				alert("이동시킬 외주 건을 선택해 주세요.");
				e.preventDefault();
		}
		$('#lstBox1').append($(selectedOpts).clone());
		$(selectedOpts).remove();
		e.preventDefault();
	});

});

</script>
 </body>
</html>
