<{include file="inc/top_popup.html"}>

<style type="text/css">
	.select_quick_prd{float: left; padding: 6px 10px; margin-left: 0; margin-right: 5px; background: #838383; color: white; border: 0; border-radius: 3px; font-weight: bold;text-align: left; display: inline-block; cursor: -webkit-grab; cursor: grab; width: 580px;}
	.select_quick_prd:disabled{background: #d8d8d5;}
	.sel_quick_prd_btn:disabled{opacity: 0.4;}
</style>

<div class="admin_content_popup" style="width: auto;min-width: unset;display: inline-block;">
	<meta name="viewport" content="width=device-width, initial-scale=0.55" />
	<br>
	<h2 class="title" style="margin-bottom: 5px;">● MY QUICK SET</h2>

	<form method="get" name="search_form" id="search_form" action="quick_prd_sel.php" style="margin-left:15px; overflow: hidden;">
		<div>
			<label for="quick_type" style="width: 60px; display: inline-block; font-size: 12px; text-align: right; padding-right: 10px;">종류</label>
			<input type="hidden" name="sch_idx" id="sch_idx" value="<{$sch_idx}>">
			<input type="hidden" name="sch_quick_type" id="sch_quick_type" value="<{$sch_quick_type}>">
			<select name="quick_type" id="quick_type" class="select_type2" style="width: 150px;margin-left: 15px;" disabled>
			<{foreach from=$type_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_quick_type == $key}>selected<{/if}>><{$label}></option>
			<{/foreach}>
			</select>
		</div>
		<div>
			<label for="quick_keyword" style="width: 60px; display: inline-block; font-size: 12px; text-align: right; padding-right: 10px;">상품명</label>
			<input type="text" name="sch_keyword" id="quick_keyword" class="input_type2 form-control" style="width: 300px;margin-left: 15px;padding-left: 6px;" value="<{$sch_keyword}>">
		</div>
	</form>

	<hr style="margin: 10px 0 10px 25px;">

	<div id="d_quick_prd" style="width: auto; display: inline-block; margin-left: 26px;">
		<{foreach from=$my_quick_list key=key item=my_quick}>
		<div class="grid-square" style="text-align: left; overflow: hidden; clear: both; margin: 5px 0;">
			<button type="button" class="sel_quick_prd_btn" onclick="sel_quick_prd('<{$my_quick.prd_no}>', '<{$my_quick.prd_name}>');return false;" style="cursor:pointer;width: 22px;float: left; margin-top: 4px; margin-right: 5px;" <{if $my_quick.display == '2'}>disabled<{/if}>><img src="../images/icon/import.png" style="width: 100%;"></button>
			<input type='text' class='select_quick_prd' name='select_quick_prd' attr-prd='<{$my_quick.prd_no}>' value='<{$my_quick.prd_label}>' readonly <{if $my_quick.display == '2'}>disabled<{/if}>/>
			<img src="./../images/icon/delete_icon.png" onclick="del_quick_prd('<{$key}>', this);" style="cursor:pointer;width: 20px;float: left; margin-top: 4px;" />
		</div>
		<{/foreach}>
	</div>

	<{if $sch_quick_type == 'cms' || $sch_quick_type == 'cms_with'}>
	<div class="prd_opt_explain" style="overflow: hidden;color: #999;font-weight:bold;margin: 5px 0 5px 17px;width: 97%;box-sizing: content-box;">
		<div class="prd_explain" style="float: left; width: 320px; margin-right: 20px;"></div>
		<div class="opt_explain" style="float: left; width: 320px;"></div>
	</div>
	<{/if}>

	<div class="default_wrap" style="font-weight:bold; color:#1c7198; margin-left:15px;">
		<div class="left_wrap">
			<form action="quick_prd_sel.php" method="post" name="add_quick_set_frm" id="add_quick_set_frm">
				<input type="hidden" name="process" value="add_quick_prd">
				<input type="hidden" name="sch_idx" value="<{$sch_idx}>">
				<input type="hidden" name="quick_type" value="<{$sch_quick_type}>">
				<input type="hidden" name="priority" value="<{$max_priority}>">

				<select name="f_prd_g1" id="f_prd_g1" class="f_prd_g1 select_type2" style="width: 140px;">
					<option value="">선택</option>
					<{foreach from=$prd_g1_list key=key item=label}>
					<option value="<{$key}>"><{$label}></option>
					<{/foreach}>
				</select>
				<{if $sch_quick_type != "cms_unit" && $sch_quick_type != "cms_unit_with"}>
				<select name="f_prd_g2" id="f_prd_g2" class="f_prd_g2 select_type3" style="width: 180px;">
					<option value="">::전체::</option>
				</select>
				<{/if}>
				<select name="f_prd" id="f_prd" class="f_prd select_type3" style="width: 270px;">
					<option value="">::전체::</option>
				</select>
				<button type="button" onclick="add_quick_prd();" class="btn_small" style="background-color: #565656;color: white;font-weight:bold;padding: 6px 15px;">추가</button>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		var sch_quick_type = '<{$sch_quick_type}>';
		if(sch_quick_type != 'cms_unit' && sch_quick_type != 'cms_unit_with'){
			$(".f_prd_g2").remoteChained({
				parents: $(".f_prd_g1"),
				url: "/v1/api/quick.product.json.php?parent_data=f_prd_g1&quick_type="+sch_quick_type,
				loading: "로딩중..",
				clear: true
			});

			$(".f_prd").remoteChained({
				parents: $(".f_prd_g2"),
				url: "/v1/api/quick.product.json.php?parent_data=f_prd_g2&quick_type="+sch_quick_type,
				loading: "로딩중..",
				clear: true
			});
		}else{
			$(".f_prd").remoteChained({
				parents: $(".f_prd_g1"),
				url: "/v1/api/quick.product.json.php?parent_data=f_prd_g1&quick_type="+sch_quick_type,
				loading: "로딩중..",
				clear: true
			});
		}

		if(sch_quick_type == 'cms' || sch_quick_type == 'cms_with')
		{
			$(".f_prd").change(function(){
				$.ajax({
					url: "/v1/api/quick.product.info.php",
					type: 'POST',
					data: {"prd_no": $(this).val(), "prd_type" : sch_quick_type}
				}).done( function( data ) {
					var jsonData = JSON.parse(data);
					var prd_title    = jsonData.prd_title;
					var option_html  = jsonData.option_html;
					$(".prd_explain").html(prd_title);
					$(".opt_explain").html(option_html);
				});
			});

			$(".select_quick_prd").click(function(){
				var prd_no = $(this).attr('attr-prd');
				$.ajax({
					url: "/v1/api/quick.product.info.php",
					type: 'POST',
					data: {"prd_no": prd_no, "prd_type" : sch_quick_type}
				}).done( function( data ) {
					var jsonData = JSON.parse(data);
					var prd_title    = jsonData.prd_title;
					var option_html  = jsonData.option_html;
					$(".prd_explain").html(prd_title);
					$(".opt_explain").html(option_html);
				});
			});
		}
	});

	var gridSort = document.getElementById('d_quick_prd');

	new Sortable(gridSort, {
		animation: 1000,
		ghostClass: 'blue-background-class',
		onEnd: function (evt) {
			sort_quick_prd();
		}
	});

	// 자주 하는 업무 추가
	function add_quick_prd ()
	{
		var f = document.forms['add_quick_set_frm'];

		var val = $("#f_prd").val();

		if (!val) {
			alert("[MY QUICK SET]에 추가할 상품을 선택해 주세요.");
			return false;
		}

		var sort_size	= $("input[name='select_quick_prd']").length;
		var sort_prd 	= [];
		for(var i = 0; i< sort_size; i++){
			sort_prd.push($("input[name='select_quick_prd']").eq(i).attr("attr-prd"));
		}

		if(sort_prd && sort_prd.includes(val))
		{
			alert("이미 추가된 상품입니다.");
			return false;
		}

		f.submit();
	}

	function sort_quick_prd()
	{
		var sort_size	= $("input[name='select_quick_prd']").length;
		var sort_prd 	= "";
		for(var i = 0; i< sort_size; i++){
			if(sort_prd){
				sort_prd += ",";
			}
			sort_prd += $("input[name='select_quick_prd']").eq(i).attr("attr-prd");
		}

		if(!!sort_prd){
			$.post("quick_prd_sel.php", {sort_prd : sort_prd, process : "sort_quick_prd", quick_type: $("#sch_quick_type").val()}, function(result){
			});
		}
	}

	function del_quick_prd (quick_no, obj)
	{
		$.post("quick_prd_sel.php", {quick_no : quick_no, quick_type: $("#sch_quick_type").val(), process : "del_quick_prd"}, function(result){
			$(obj).parent().remove();
			sort_quick_prd();
		});
	}

	function changeQuickSet(obj){
	    location.href = 'quick_prd_sel.php?sch_quick_type='+$(obj).val();
	}

	function sel_quick_prd(prd_no, prd_name){
		opener.sel_quick_prd($("#sch_idx").val(), prd_no, prd_name);
		window.close();
	}
</script>

</body>
</html>