<{include file="inc/iframe_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script> <!-- ckeditor 게시판 위지윅 -->
<style>
	@media print {
		html, body { -webkit-print-color-adjust:exact; width: 210mm; height: 297mm; }
		table { page-break-inside:auto; }
		tr    { page-break-inside:avoid; page-break-after:auto; }
		thead { display:table-header-group; }
		tfoot { display:table-footer-group; }
	}

	#cke_1_top{display: none;}
	#cke_1_bottom{display: none;}
	.cke_chrome{border: 0;}
</style>
<div class="admin_content" style="width:1000px;">
	<textarea name="f_contents" id="f_contents" rows="10" cols="80" readonly>
		<{$contents}>
	</textarea>
	<script type="text/javascript">
		CKEDITOR.replace('f_contents', {
			removePlugins: 'resize',
			enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
			shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
			removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
			filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
		});

		CKEDITOR.on('instanceReady', function(event) {
			var frame 		= $('iframe.cke_wysiwyg_frame').get(0);
			var doc 		= (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
			var f_height   = (doc.body.scrollHeight < 400) ? 400 : doc.body.scrollHeight + 40;
			$("#cke_1_contents").css({'height': f_height});

			window.print();
		});
	</script>
</div>
</body>
</html>
