<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.category{display: none;}
	.wp_inquiry_category{display: table-cell;}
	.cs_with_category{display: table-cell;}
	.cs_edu_category{display: table-cell;}
	.new_product_category{display: table-cell;}
	.cms_report_category{display: table-cell;}
	.form-control{display: inline-block; width: auto; font-size: 12px; padding: 3px 7px; margin-right: 20px;}
	.search_form{margin-top: 10px;}
	.search_form label{margin-right: 7px; cursor: pointer;}
	.search_form button{font-size: 12px; font-weight: bold;}
	.table thead th, .table td{vertical-align: middle;}
	.custom-combobox-toggle{right: 23px;}
</style>

<div class="admin_content">
	<h2 class="title">
		<{if $nav_prd_no}><span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span><{else}>●<{/if}> <{$board_title}>
	</h2>

	<form name="search_form" id="search_form" class="search_form" action="board_normal_list.php" method="get" autocomplete="off">
		<input type="hidden" name="b_id" id="b_id" value="<{$b_id}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>">

		<div class="default_wrap">
			<div class="left_wrap">
				<{if $sch_category_list}>
					<label for="sch_category">CATEGORY</label>
					<select name="sch_category" id="sch_category" class="form-control">
						<option value="">::선택::</option>
						<{foreach from=$sch_category_list item=label}>
						<option value="<{$label}>" <{if $sch_category== $label}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				<{/if}>

				<{if $sch_brand_list}>
					<label for="sch_brand">BRAND</label>
					<select name="sch_brand" id="sch_brand" class="form-control">
						<option value="">::선택::</option>
						<{foreach from=$sch_brand_list key=key item=label}>
						<option value="<{$key}>" <{if $sch_brand== $key}>selected<{/if}>><{$label}></option>
						<{/foreach}>
					</select>
				<{/if}>

				<label for="sch_title">제목</label>
				<input type="text" name="sch_title" id="sch_title" class="form-control" value="<{$sch_title}>" />

				<{if $b_id != 'cs_with' && $b_id != 'mc_event'}>
				<label for="sch_team">소속부서</label>
				<select name="sch_team" id="sch_team" class="form-control">
					<{foreach from=$sch_team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>
				<{/if}>

				<label for="sch_s_name">이름</label>
				<input type="text" name="sch_s_name" id="sch_s_name" class="form-control" value="<{$sch_s_name}>"  />

				<label for="sch_s_date">작성기간</label>
				<input type="text" name="sch_s_date" id="sch_s_date" class="date-picker form-control" value="<{$sch_s_date}>" style="margin-right: 5px;">
				-
				<input type="text" name="sch_e_date" id="sch_e_date" class="date-picker form-control" value="<{$sch_e_date}>" style="margin-right: 10px;">

				<button type="submit" class="btn btn-dark">검색</button>
				<button class="btn btn-dark" onclick="reset_search();">초기화</button>
			</div>
			<{if $b_id == 'week_w_r' || $b_id == 'media_week'}>
			<div class="left_wrap">
				<b>[QUICK SEARCH]</b> <button type="button" class="btn_small" onclick="quick_search('<{$quick_s_date}>','<{$quick_e_date}>')" style="cursor: pointer; margin: 0; padding: 4px 6px;">[최근 3일 부서별 우선순위]</button></td>
			</div>
			<{/if}>
		</div>
	</form>

	<div class="table_list_style" style="max-width:1250px; margin-top: 15px;">
		<table class="table" style="table-layout: unset;">
			<thead class="thead-dark text-center">
				<tr>
					<td class="first" colspan="9" style="border: 0;padding: 1px 0;">
						<span style="float: left; display: inline-block; margin-top: 13px; margin-left: 3px;"><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
						<div style="float: right;">
							<{if $b_id != 'cs_with' && $b_id != 'mc_event'}>
							<button onclick="sort_search()">부서/팀순<span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span></button>
							|
							<{/if}>
							<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
								<{foreach from=$page_type_option item=page_type}>
									<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:50px; height: 30px;">NO</th>
					<th style="min-width:100px; max-width:100px;" class="category <{$b_id}>_category">CATEGORY</th>
					<th style="min-width:570px; max-width:700px;">TITLE</th>
					<th style="min-width:130px;">TEAM</th>
					<th style="min-width:80px;">WRITER</th>
					<th style="min-width:40px;">HIT</th>
					<th style="min-width:80px;">DATE</th>
					<th style="min-width:40px;">TOP</th>
					<th style="min-width:42px;font-size:10px;">DISPLAY</th>
				</tr>
			</thead>
			<tbody>
				<{if $total_num == 0}>
					<tr>
						<td class="first" colspan="9"> 등록된 자료가 없습니다.</td>
					</tr>
				<{else}>
					<{if $board_normal_list}>
						<{foreach from=$board_normal_list item=board_normal}>
							<form name="apply_frm<{$board_normal.no}>" id="apply_frm<{$board_normal.no}>" class="list_form" method="post" enctype="multipart/form-data" action="board_normal_list.php">

								<input type="hidden" name="process" id="process">
								<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
								<input type="hidden" name="no" id="no" value="<{$board_normal.no}>">

								<tr>
									<td class="first" <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- NO -->
										<span <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{$board_normal.no}></span>

										<{if $b_id == 'event' && $board_normal.s_no == $session_s_no}>
										<button type="button" class="btn" onclick="duplicateBoard('<{$board_normal.no}>')" style="background: #999; color: white; padding: 3px; font-size: 12px;">복제</button>
										<{/if}>
									</td>
									<td class="category <{$b_id}>_category" style="background: #ddd;">
										<{if $sch_category_list}>
											<select name="category" class="select_type5" style="width: auto;min-width: 80px;" onchange="save_el('<{$board_normal.no}>','f_category',this)">
												<option value=""></option>
												<{foreach from=$sch_category_list item=category}>
												<option value="<{$category}>" <{if $category == $board_normal.category}>selected<{/if}>><{$category}></option>
												<{/foreach}>
											</select>
										<{else}>
											<{$board_normal.category}>
										<{/if}>
									</td>
									<td class="alignL" <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;font-weight:500;"<{/if}>> <!-- TITLE -->
										<span style="font-size:14px; color:#999;">
											<a href="board_normal_detail.php?no=<{$board_normal.no}><{if !!$search_url}>&<{$search_url}><{/if}>" <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{$board_normal.title}>
												<{if $comment_tag != '1' && !!$board_normal.comment_cnt}>
													(<{$board_normal.comment_cnt}>)
												<{/if}>
											</a>
											<{if $board_normal.file_read}>
												<{foreach from=$board_normal.file_origin key=idx item=file_name}>
												&nbsp;<a type="application/octet-stream" href="../uploads/<{$board_normal.file_read[$idx]}>" download="<{$file_name}>" title="<{$file_name}>"><img src="../images/common/ico/ico_file.gif" alt="<{$file_name}>"></a>
												<{/foreach}>
											<{/if}>

											<{if $comment_tag == '1'}>
												<{if $board_normal.yet_comment_cnt > 0}>
													&nbsp;<span style="display: inline-block;padding: 3px 5px;background: red;color: white;font-weight: bold;border-radius: 15px;font-size: 11px;line-height: 11px;"><{$board_normal.yet_comment_cnt}></span>
												<{elseif $board_normal.comment_cnt > 0}>
													 (<{$board_normal.comment_cnt}>)
												<{/if}>
											<{/if}>

											<{if $new_tag == '1' && $board_normal.read_cnt == 0}>
												<span style="display: inline-block;padding: 3px 10px;background: red;color: white;font-weight: bold;border-radius: 15px;font-size: 11px;line-height: 11px;">NEW</span>
											<{/if}>
										</span>
									</td>
									<td <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- TEAM -->
									<span <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{$board_normal.team_name}></span>
									</td>
									<td <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- WRITER -->
									<span <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{$board_normal.s_name}></span>
									</td>
									<td <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- HIT -->
									<span <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{$board_normal.hit|number_format:0}></span>
									</td>
									<td class="date" <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- DATE -->
										<span class="day" style="font-size: 10px; <{if $board_normal.display == '2'}>color:#999;<{/if}>"><{$board_normal.regdate_day}></span>
										<br />
										<span class="time" style="font-size: 10px; <{if $board_normal.display == '2'}>color:#999;<{/if}>"><{$board_normal.regdate_time}></span>
									</td>
									<td <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- TOP -->
									<span <{if $board_normal.display == '2'}>style="color:#999;"<{/if}>><{if !!$board_normal.top_view}>V<{/if}></span>
									</td>
									<td <{if !!$board_normal.top_view}>style="background-color: #f2f2f2;"<{/if}>> <!-- DISPLAY -->
										<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") || $board_normal.s_no == $session_s_no}>
											<{if $board_normal.display == '1'}>
												<a href="#" onclick="display_off('<{$board_normal.no}>');"><img title="비공개 처리하기" src="./../images/icon/display_on.png"></a>
											<{elseif $board_normal.display == '2'}>
												<a href="#" onclick="display_on('<{$board_normal.no}>');"><img title="공개 처리하기" src="./../images/icon/display_off.png"></a>
											<{/if}>
										<{/if}>
									</td>
								</tr>
							</form>
							<{/foreach}>
						<{/if}>
					<{/if}>
					<tr>
						<td colspan="9" class="paging_wrap">
							<div class="paging_wrap">
							<{$page_list}>
							</div>
						</td>
					</tr>
			</tbody>
		</table>
		<div class="list_button" style="overflow:hidden;">
			<div class="left_wrap"><button class="btn_style1" onclick="location.href='board_normal_detail.php?mode=write&<{$search_url}>'"><span>WRITE</span></button></div>
			<{if $b_id == 'home_w_r' && permissionNameCheck($session_permission,"재무관리자") }>
			<div class="right_wrap"><button class="btn_style1" onclick="location.href='excel_board_normal_list_home.php?<{$search_url}>';"><span>엑셀 다운로드</span></button></div>
			<{/if}>
		</div>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
	$(document).ready(function(){
        $("#sch_team").combobox();
	});

	// 비공개 처리하기
	function display_off(no)
	{
		var f = document.getElementById("apply_frm"+no);
		f.process.value = 'display_off';

		if(confirm("비공개 처리 하시겠습니까?") == true) {
			f.submit();
		}else{
			return;
		}
	}

	// 공개 처리하기
	function display_on(no)
	{
		eval("var f=document.getElementById('apply_frm" + no + "');");
		f.process.value = 'display_on';

		if (confirm("공개 처리 하시겠습니까?") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	function duplicateBoard(no)
	{
		eval("var f=document.getElementById('apply_frm" + no + "');");
		f.process.value = 'duplicate';

		if (confirm("복제 하시겠습니까?") == true) {
			f.submit();
		} else {
			return;
		}
	}

	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function sort_search()
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val("team_name");

		if(ord_type_by == '1'){
			$("#ord_type_by").val("2");
		}else if(ord_type_by == '2'){
			$("#ord_type_by").val("");
		}else{
			$("#ord_type_by").val("1");
		}

		f.submit();
	}

    function quick_search(s_date, e_date)
    {
        var f = document.forms['search_form'];

        $("#sch_s_date").val(s_date);
        $("#sch_e_date").val(e_date);
        $("#ord_type").val("team_priority");

        f.submit();
    }

    function reset_search()
    {
        var inputList = $("#search_form").find('input');
        var selList   = $("#search_form").find('select');

        $.each(inputList, function(idx, input){
            $.each(inputList, function(idx, input){
                var name = $(input).attr('name');
                if(name != 'b_id'){
                    $(input).val("");
                }
            });
        });

        $.each(selList, function(idx, select){
            $(select).val("");
        });

        f.submit();
    }

    function save_el(no, proc, obj)
    {
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if (val != "" || (proc == 'f_category')) { // 메모
            $.post("board_normal_list.php", {no : no, process : proc, val : val}, function(result){
                d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
            });
        }
    }

</script>
</body>
</html>
