<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.board_display_off td{color: #999;}
	.board_display_off td a{color: #999;}
	.board_display_off td.date .day{color: #999 !important;}
	.board_display_off td.date .time{color: #999 !important;}
	.form-control{display: inline-block; width: auto; font-size: 12px; padding: 3px 7px; margin-right: 20px;}
	.search_form{margin-top: 10px;}
	.search_form label{margin-right: 7px; cursor: pointer;}
	.search_form button{font-size: 12px; font-weight: bold;}
	.table thead th, .table td{vertical-align: middle;}
	.custom-combobox-toggle{right: 23px;}
</style>

<div class="admin_content">
	<h2 class="title">
		<{if $nav_prd_no}><span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span><{else}>●<{/if}> <{$board_title}>
	</h2>

	<form name="search_form" class="search_form" action="board_notice_list.php" method="get" autocomplete="off">
		<input type="hidden" name="b_id" id="b_id" value="<{$b_id}>">
		<input type="hidden" name="ord_type" id="ord_type" value="<{$ord_type}>">
		<input type="hidden" name="ord_type_by" id="ord_type_by" value="<{$ord_type_by}>">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>">

		<div class="default_wrap">
			<div class="left_wrap">
				<label for="sch_title">제목</label>
				<input type="text" name="sch_title" id="sch_title" class="form-control" value="<{$sch_title}>" style="width: 250px;" />

				<label for="sch_team">소속부서</label>
				<select name="sch_team" id="sch_team" class="select_type2">
					<{foreach from=$sch_team_list key=team_code item=label}>
					<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
					<{/foreach}>
				</select>

				<label for="sch_s_name">이름</label>
				<input type="text" name="sch_s_name" id="sch_s_name" class="form-control" value="<{$sch_s_name}>" style="width: 100px;" />

				<label for="sch_s_date">작성기간</label>
				<input type="text" name="sch_s_date" id="sch_s_date" class="date-picker form-control" value="<{$sch_s_date}>" style="margin-right: 5px;">
				-
				<input type="text" name="sch_e_date" class="date-picker form-control" value="<{$sch_e_date}>" style="margin-right: 10px;">

				<button type="submit" class="btn btn-dark">검색</button>
			</div>
		</div>
	</form>

	<div class="table_list_style" style="max-width:1250px; margin-top: 15px;">
		<table class="table" style="table-layout: unset;">
			<thead class="thead-dark text-center">
				<tr>
					<td colspan="10" style="border: 0;padding: 1px 0;">
						<span style="float: left; display: inline-block; margin-top: 13px; margin-left: 3px;"><{$total_num|number_format:0}>개의 검색 결과가 나타났습니다.</span>
						<div style="float: right;">
							<button onclick="sort_search()">부서/팀순<span style="color:red;"><{if $ord_type_by == '1'}>▲<{elseif $ord_type_by == '2'}>▼<{/if}></span></button>
							|
							<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;" onchange="normal_search();">
								<{foreach from=$page_type_option item=page_type}>
								<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
								<{/foreach}>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th class="first" style="min-width:50px;">NO</th>
					<th style="min-width:570px; max-width:700px;">TITLE</th>
					<th style="min-width:130px;">TEAM</th>
					<th style="min-width:80px;">WRITER</th>
					<th style="min-width:40px;">HIT</th>
					<th style="min-width:80px;">DATE</th>
					<th style="min-width:40px;">MAIN</th>
					<th style="min-width:40px;">POP</th>
					<th style="min-width:40px;">MAIN<br/>(IMAGE)</th>
					<th style="min-width:42px;font-size:10px;">DISPLAY</th>
				</tr>
			</thead>
			<tbody>
				<{if $board_notice_list}>
					<{foreach from=$board_notice_list item=board_notice}>
						<form name="apply_frm<{$board_notice.no}>" id="apply_frm<{$board_notice.no}>" class="list_form" method="post" enctype="multipart/form-data" action="board_notice_list.php">
							<input type="hidden" name="process" id="process">
							<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
							<input type="hidden" name="no" id="no" value="<{$board_notice.no}>">

							<tr <{if $board_notice.display == '2'}>class="board_display_off"<{/if}>>
								<td class="first"> <!-- NO -->
									<span><{$board_notice.no}></span>
								</td>
								<td class="alignL" > <!-- TITLE -->
									<span style="font-weight:800; font-size:14px; color:#999;">
										<a href="board_notice_detail.php?no=<{$board_notice.no}>&<{$search_url}>"><{$board_notice.title}></a>
										<{if $board_notice.file_read}>
											<{foreach from=$board_notice.file_origin key=idx item=file_name}>
										&nbsp;		<a type="application/octet-stream" href="../uploads/<{$board_notice.file_read[$idx]}>" download="<{$file_name}>" title="<{$file_name}>"><img src="../images/common/ico/ico_file.gif" alt="<{$file_name}>"></a>
											<{/foreach}>
										<{/if}>

										<{if $new_tag == '1' && $board_notice.read_cnt == 0}>
											<span style="display: inline-block;padding: 3px 10px;background: red;color: white;font-weight: bold;border-radius: 15px;font-size: 11px;line-height: 11px;">NEW</span>
										<{/if}>

										<{if $comment_tag == '1' && $board_notice.yet_comment_cnt > 0}>
											<span style="display: inline-block;padding: 5px 8px;background: red;color: white;font-weight: bold;border-radius: 15px;font-size: 11px;line-height: 11px;"><{$board_notice.yet_comment_cnt}></span>
										<{/if}>
									</span>
								</td>
								<td> <!-- TEAM -->
  								<span><{$board_notice.team_name}></span>
								</td>
								<td> <!-- WRITER -->
  								<span><{$board_notice.s_name}></span>
								</td>
								<td> <!-- HIT -->
  								<span><{$board_notice.hit|number_format:0}></span>
								</td>
								<td class="date"> <!-- DATE -->
									<span class="day" style="font-size: 10px;"><{$board_notice.regdate_day}></span>
									<br />
									<span class="time" style="font-size: 10px;"><{$board_notice.regdate_time}></span>
								</td>
								<td> <!-- MAIN -->
									<input type="checkbox" name="b_main_check" style="cursor:pointer;" onchange="save_el('<{$board_notice.no}>','main_checkbox', this)" value="1"
									<{if !!$board_notice.main_view}>checked<{/if}>
									<{if !$board_notice.is_editable}>disabled<{/if}>
									>
								</td>
								<td> <!-- POPUP -->
									<input type="checkbox" name="b_popup_check" style="cursor:pointer;" onchange="save_el('<{$board_notice.no}>','popup_checkbox', this)" value="1"
									<{if !!$board_notice.popup_view}>checked<{/if}>
									<{if !$board_notice.is_editable}>disabled<{/if}>
									>
								</td>
								<td> <!-- Main(Image) -->
									<input type="checkbox" name="b_slider_check" style="cursor:pointer;" onchange="save_el('<{$board_notice.no}>','main_slider', this)" value="1"
									<{if !!$board_notice.main_slider}>checked<{/if}>
									<{if !$board_notice.is_editable}>disabled<{/if}>
									>
								</td>
								<td> <!-- DISPLAY -->
									<{if $board_notice.is_editable}>
										<{if $board_notice.display == '1'}>
											<a href="#" onclick="display_off('<{$board_notice.no}>');"><img title="비공개 처리하기" src="./../images/icon/display_on.png"></a>
										<{elseif $board_notice.display == '2'}>
											<a href="#" onclick="display_on('<{$board_notice.no}>');"><img title="공개 처리하기" src="./../images/icon/display_off.png"></a>
										<{/if}>
									<{/if}>
								</td>
							</tr>
						</form>
					<{/foreach}>
				<{else}>
					<tr>
						<td class="first" colspan="10"> 등록된 자료가 없습니다.</td>
					</tr>
				<{/if}>
				<tr>
					<td colspan="10" class="paging_wrap">
						<div class="paging_wrap">
						<{$page_list}>
						</div>
					</td>
				</tr>
				<{if permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표")}>
					<tr>
						<td colspan="10" class="list_button">
							<div class="left_wrap"><button class="btn_style1" onclick="location.href='board_notice_detail.php?mode=write&<{$search_url}>'"><span>WRITE</span></button></div>
						</td>
					</tr>
				<{/if}>
			</tbody>
		</table>
	</div>
	<!-- //table_list_style -->
</div>
<!-- //admin_content -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#sch_team").combobox();
    });

	// 비공개 처리하기
	function display_off(no)
	{
		eval("var f=document.getElementById('apply_frm" + no + "');");
		f.process.value = 'display_off';

		if (confirm("비공개 처리 하시겠습니까?") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

	// 공개 처리하기
	function display_on(no)
	{
		eval("var f=document.getElementById('apply_frm" + no + "');");
		f.process.value = 'display_on';

		if (confirm("공개 처리 하시겠습니까?") == true)
		{ // 확인
			f.submit();
		} else
		{ //취소
			return;
		}
	}

    function save_el(no, proc, obj)
    {
        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        $.post("board_notice_list.php", {no : no, process : proc}, function(result){
            d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
        });
    }

	function normal_search()
	{
		var f = document.forms['search_form'];
		var ord_page   = $("#ord_page_type").val();

		$("#ord_page_type_hidden").val(ord_page);

		f.submit();
	}

	function sort_search()
	{
		var f = document.forms['search_form'];
		var ord_type_by = $("#ord_type_by").val();

		$("#ord_type").val("team_name");

		if(ord_type_by == '1'){
			$("#ord_type_by").val("2");
		}else if(ord_type_by == '2'){
			$("#ord_type_by").val("");
		}else{
			$("#ord_type_by").val("1");
		}

		f.submit();
	}
</script>
</body>
</html>
