<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script>

<script src="<{$dir_location}>js/dropzone.js"></script>
<link rel="stylesheet" href="<{$dir_location}>css/dropzone.css">

<script src="<{$dir_location}>js/bootstrap/bootstrap-tagsinput.js" type="text/javascript" ></script>
<link rel="stylesheet" href="<{$dir_location}>css/bootstrap/bootstrap-tagsinput.css">

<style type="text/css">
	.admin_content{width: 1300px; min-width: 870px !important; box-sizing: border-box;}
	.guide-form-title{color: #fff;background-color: #343a40;border-color: #454d55;max-width: 1240px;margin-left: 20px;padding: 10px;box-sizing: border-box;border-radius: 5px 5px 0 0;font-size: 14px;}
	#board_guide_frm{width: 1240px; min-width: 850px !important; max-width: 1240px; box-sizing: border-box; overflow: hidden;margin: 0 20px 0; border: 1px solid #ccc;padding: 20px;border-radius: 0 0 5px 5px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{width: 44px; float: left; display: inline-block; line-height: 35px;}
	.form-group #guide_g1{width: 150px; float: left;}
	.form-group #guide_g2{width: 100px; float: left; }
	.dropzone{padding: 10px; min-height: unset;}
	.dropzone .dz-preview{margin: 5px 10px; min-height: unset; width: 120px;}
	.dropzone .dz-preview .dz-image{width: 120px;}
	.dropzone .dz-preview .dz-image img{width: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.bootstrap-tagsinput{width: auto;}
	.bootstrap-tagsinput input{width: 120px; border: 1px solid #ccc;}
	.bootstrap-tagsinput .label-info{background-color: #5bc0de; display: inline;padding: .46em .6em; font-size: 11px;font-weight: 700;line-height: 30px; text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}
	.use-person-tag{background-color: #5bc0de;display: inline; padding: .4em .6em; font-size: 11px; font-weight: 700; line-height: 25px; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em; position: relative; margin-right: 5px;padding-right: 12px;}
	.use-person-tag a{color: white;}
	.use-person-tag button{color: white; font-size:10px; font-weight: bold; position: absolute; top: 3px; right: 4px; margin: 0;}
	.guide-keyword{background-color: #5bc0de; display: inline; padding: .46em .6em; font-size: 11px; font-weight: 700; line-height: 25px; text-align: center; white-space: nowrap;  vertical-align: baseline; border-radius: .25em; margin-right: 2px;  color: white;}
	.read-span{display: inline-block; font-size: 12px; padding: 7px 0;}
	.font-grey{color: grey;}

	.comment-btn-wrap{margin: 10px 0 2px; position: relative;}
	.comment-btn-wrap .comment-btn{padding: 2px 5px; border: 1px solid #ccc;font-size: 11px; font-family: 'Malgun Gothic'; text-decoration: none;}
	.comment-btn-wrap .comment-close-btn{display: none;}
	.sub-comm-modify-content{display: none;}
	.comment-form-write{display: none;}
	#f_comm_img_preview img{width: 100%; height: 100%;}
	#image-modal{overflow: unset; height: auto;}
	#image-modal img{width: 100%; height: 100%;}
	.comment_table tbody td{border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; padding: 4px 2px;}
	.main-comm-content, .sub-comm-content, .sub-comm-modify-content{min-height: 30px;}
</style>
<div class="admin_content">
	<h2 class="title" style="margin-bottom: 35px; padding-left: 18px;">● 와플 GUIDE <{$title}></h2>

	<div class="text-right" style="margin-right: 40px;">*필수입력</div>
	<div class="font-weight-bold text-center guide-form-title">가이드정보</div>
	<form id="board_guide_frm" name="board_guide_frm" action="board_guide_regist.php" method="post" enctype="multipart/form-data" >
		<input type="hidden" name="b_no" value="<{$b_no}>">
		<input type="hidden" name="mode" value="<{$mode}>">
		<input type="hidden" name="search_url" value="<{$search_url}>">
		<input type="hidden" name="process" value="<{if $mode == 'modify'}>modify_guide<{elseif $mode == 'write'}>new_guide<{/if}>">
		<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
		<input type="hidden" name="file_origin_path" value="<{$file_origin_path}>">

		<!-- 작성/수정 -->
		<{if $is_editable}>
		<div class="form-group row" style="margin-bottom: 15px;"><!-- 그룹(필수) -->
			<label for="guide_g1" class="col-sm-3 col-form-label font-weight-bold" >*Display</label>
			<div class="col-sm-9" style="padding-top: 5px;">
				<{foreach from=$display_list key=key item=label}>
					<input type="radio" name="display" value="<{$key}>" id="guide_display_<{$key}>" <{if $display == $key || ($mode == 'write' && $key == '1')}>checked<{/if}>>
					<label for="guide_display_<{$key}>" style="cursor: pointer;"><{$label}></label>
				<{/foreach}>
			</div>
		</div>
		<{/if}>
		<div class="form-group row" style="margin-bottom: 15px;"><!-- 그룹(필수) -->
			<label for="guide_g1" class="col-sm-3 col-form-label font-weight-bold" >*그룹</label>
			<div class="col-sm-9">
				<{if $is_editable}>
				<select id="guide_g1" name="guide_g1" class="form-control form-data" required>
					<option value="">::전체::</option>
					<{section name=data loop=$guide_g1_list}>
					<option value="<{$guide_g1_list[data].k_name_code}>" <{if $guide_g1==$guide_g1_list[data].k_name_code}>selected<{/if}>><{$guide_g1_list[data].k_name}></option>
					<{/section}>
				</select>
				<span class="tlt" style="text-align: center; width: 20px;"> > </span>
				<select id="guide_g2" name="guide_g2" class="form-control form-data" required>
					<option value="">::전체::</option>
					<{section name=data loop=$guide_g2_list}>
					<option value="<{$guide_g2_list[data].k_name_code}>" <{if $k_name_code==$guide_g2_list[data].k_name_code}>selected<{/if}>><{$guide_g2_list[data].k_name}></option>
					<{/section}>
				</select>
				<{else}>
					<span class="read-span font-grey"><{$guide_g1_name}> > <{$guide_g2_name}></span>
				<{/if}>
			</div>
		</div>

		<div class="form-group row"><!-- 제목 -->
			<label for="question" class="col-sm-3 col-form-label font-weight-bold" >*제목</label>
			<div class="col-sm-9">
				<{if $is_editable}>
				<input type="text" class="form-control form-data" id="question" name="question" placeholder="제목" value="<{$question}>" required>
				<{else}>
					<span class="read-span"><{$question}></span>
				<{/if}>
			</div>
		</div>

		<div class="form-group row"><!-- 키워드 -->
			<label class="col-sm-3 col-form-label font-weight-bold" >검색 키워드</label>
			<div class="col-sm-9">
				<{if $is_editable}>
				<input type="text" name="keyword[]" class="form-data" value="<{$keyword}>" data-role="tagsinput" placeholder="키워드입력" />
				<{else}>
					<{if $keyword_list }>
						<{foreach from=$keyword_list item=keyword}>
							<span class="guide-keyword"><{$keyword}></span>
						<{/foreach}>
					<{/if}>
				<{/if}>
			</div>
		</div>

		<div class="form-group row"><!-- 담당자 -->
			<label for="manager_name" class="col-sm-3 col-form-label font-weight-bold" >*담당자</label>
			<div class="col-sm-9">
				<{if $is_editable}>
					<input type="text" class="form-control form-data" id="manager_name" name="manager_name" placeholder="담당자" value="<{$manager_name}>" <{if $mode == 'write' || $mode == 'modify'}>required<{else}>readonly<{/if}>>
					<input type="hidden" class="form-control form-data" id="manager" name="manager" value="<{$manager}>" required>
				<{else}>
					<span class="read-span"><{$manager_name}></span>
				<{/if}>
			</div>
		</div>

		<div class="form-group row"> <!-- 첨부파일 -->
			<label class="col-sm-3 col-form-label font-weight-bold">첨부파일<br/>(10MB 이하, 최대 10개)</label>
			<div class="col-sm-9">
				<{if $mode == 'write' || $mode == 'modify'}>
				<div class="dropzone form-data" id="guideFileDropzone" >
					<div class="dz-message">
						Drop files here or click to upload.
					</div>
				</div>
				<input type="hidden" id="file_count" value="<{$file_count}>" />
				<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
				<{else}>
					<{if $mode == 'read' && $file_count > 0}>
						<{foreach from=$file_paths key=key item=file_path}>
							<a type="application/octet-stream" href="./../uploads/<{$file_path}>" download="<{$file_names[$key]}>">
								<img src="../images/common/ico/ico_file.gif" alt="파일" style="display: inline-block; float: left; margin-top: 2px; margin-right: 5px;">
								<{$file_names[$key]}>
							</a><br/>
						<{/foreach}>
					<{/if}>
				<{/if}>
			</div>
		</div>

		<label class="col-sm-12 col-form-label font-weight-bold" style="color: #fff; background-color: #343a40; border-color: #454d55; text-align: center;">내용</label>
		<div class="form-group row"><!-- 제품명 및 자산설명 -->
			<div class="col-sm-12">
				<textarea class="form-control" id="contents" name="contents" rows="5" style="font-size: 12px;" <{if $mode == 'read'}>readonly<{/if}>><{$contents}></textarea>
				<script type="text/javascript">
                    var editor = CKEDITOR.replace('contents', {
                        <{if $mode == 'write' || $mode == 'modify'}>
                        removePlugins: 'autogrow',
						<{else}>
                    		removePlugins: 'resize',
							readOnly: true,
						<{/if}>
                    	height: 500,
                    	enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
                        shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
                        removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
                        filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
                    });

                    <{if $mode == 'read'}>
						editor.on( 'contentDom', function() {
							var editable = editor.editable();
							editable.attachListener( editable, 'click', function( evt ) {
								var link = new CKEDITOR.dom.elementPath( evt.data.getTarget(), this ).contains( 'a' );
								if ( link && evt.data.$.button != 2 && link.isReadOnly() ) {
									window.open( link.getAttribute( 'href' ) );
								}
							}, null, null, 15 );
						} );

						CKEDITOR.on('instanceReady', function(event) {
							var frame 		= $('iframe.cke_wysiwyg_frame').get(0);
							var doc 		= (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
							var f_height   = (doc.body.scrollHeight < 400) ? 400 : doc.body.scrollHeight + 40;
							$("#cke_1_contents").css({'height': f_height});
						});
                    <{/if}>
				</script>
				<{if $mode == 'read'}>
				<style type="text/css">
					#cke_1_top{display: none;}
					#cke_1_bottom{display: none;}
				</style>
				<{/if}>
			</div>
		</div>
		<div class="form-group row"> <!-- 노출위치 -->
			<label class="col-sm-2 col-form-label font-weight-bold">노출위치</label><br/>
			<div class="col-sm-12">
				<iframe src="board_guide_url.php?b_no=<{$b_no}>&mode=<{$mode}>" width="1200" height="220" frameborder="0"></iframe>
			</div>
		</div>
		<div>
		<{if $mode =='read' && $b_no}>
			<{if $manager == $session_s_no || permissionNameCheck($session_permission, "마스터관리자")}>
			<button type="button" class="btn btn-success font-weight-bold guide-regist-btn" style="float: left; font-size: 13px;" onclick="location.href='board_guide_regist.php?b_no=<{$b_no}>&mode=modify&<{$search_url}>';"><span>수정하기</span></button>
			<button type="button" class="btn btn-info font-weight-bold" style="float: left; font-size: 13px;" onclick="deleteGuide();"><span>삭제</span></button>
			<{/if}>
			<button type="button" onclick="location.href='board_guide_list.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button>
			<{if $manager == $session_s_no || permissionNameCheck($session_permission, "마스터관리자")}>
			<button type="button" class="btn btn-info font-weight-bold" style="float: right; font-size: 13px;" onclick="duplicateGuide();"><span>복사</span></button>
			<{/if}>
		<{elseif $mode == 'write'}>
			<button type="button" onclick="location.href='board_guide_list.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button><br/>
			<div style="clear: both; text-align: center;">
				<button type="button" class="btn btn-success font-weight-bold guide-regist-btn" style="font-size: 13px;padding: .5rem 2rem;" onclick="check_form(document.board_guide_frm);"><span>작성완료</span></button>
			</div>
		<{elseif ($b_no && $mode == 'modify') && ($manager == $session_s_no || permissionNameCheck($session_permission, "마스터관리자")) }>
			<button type="button" onclick="location.href='board_guide_list.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button><br/>
			<div style="clear: both; text-align: center;">
				<button type="button" class="btn btn-success font-weight-bold guide-regist-btn" style="font-size: 13px;padding: .5rem 2rem;" onclick="check_form(document.board_guide_frm);"><span>수정완료</span></button>
			</div>
		<{else}>
			<button type="button" onclick="location.href='board_guide_list.php?<{$search_url}>'" class="btn btn-dark font-weight-bold" style="float: right; font-size: 13px;"><span>목록</span></button><br/>
		<{/if}>
		</div>
	</form>

	<{if $mode =='read' && $b_no}>
	<table class="comment_table" cellpadding="0" cellspacing="0" style="width: 850px; min-width: 850px !important; max-width: 850px !important; box-sizing: border-box; margin: 20px 20px 0; border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
		<tbody>
			<tr>
				<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="board_guide_regist.php">
					<input type="hidden" name="process">
					<input type="hidden" name="table_no" id="table_no" value="<{$b_no}>">
					<input type="hidden" name="cmt_no" id="cmt_no">
					<input type="hidden" name="search_url" value="<{$search_url}>">

					<td class="first" colspan="4" style="border-left: 1px solid #ccc;padding: 10px; max-width: 850px;">
						<div style="padding-left:5px; color: #999;">
							<span style="font-size: 14px; font-weight: bold;"><{$session_s_team_name}></span>
							<div style="padding: 0;box-sizing: content-box;border: 1px solid #ccc;margin: 5px 5px 0 0;">
								<textarea name="f_comment_new" id="f_comment_new" class="textarea_type3" style="width: 100%;height: 100px;box-sizing: border-box;margin: 0;border: 0;resize: none;"></textarea>
								<div class="f_comment_image_box" style="position: relative; margin: 10px 0 10px 15px; display: inline-block;">
									<div id="f_comm_img_preview" style="width: 100px;height: 100px;display: none;"></div>
									<span id="f_comm_img_preview_del" style="position: absolute;top: -5px;right: -5px;z-index: 10;width: 15px;height: 15px;background-image: url(../images/icon/img_close.png);background-repeat: no-repeat;background-size: cover; cursor: pointer; display: none;"></span>
								</div>
							</div>
							<div style="padding: 0; padding-left: 10px;margin-right: 4px;overflow: hidden;border: 1px solid #ccc;border-top: 0;">
								<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;" >
									<input type="checkbox" name="is_secret" id="is-secret" style="width: 0; position: absolute; top:0;left:0;z-index: 2;" value="1">
									<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-secret-off-label">
										<span style="background-image: url(../images/icon/secret_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
										<span style="float: left;line-height: 22px;">비밀</span>
									</label>
									<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-secret-on-label">
										<span style="background-image: url(../images/icon/secret_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
										<span style="float: left;line-height: 22px; font-weight: bold;">비밀</span>
									</label>
								</div>
								<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
									<input type="checkbox" name="is_unknown" id="is-unknown" style="width: 0; position: absolute; top:0; left:0;z-index: 2;" value="1">
									<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-unknown-off-label">
										<span style="background-image: url(../images/icon/unknown_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
										<span style="float: left;line-height: 22px;">익명</span>
									</label>
									<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-unknown-on-label">
										<span style="background-image: url(../images/icon/unknown_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
										<span style="float: left;line-height: 22px; font-weight: bold;">익명</span>
									</label>
								</div>
								<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
									<input type="file" id="f_comm_img" name="f_comm_img" accept="image/*" style="width: 0; position: absolute; top:0; left:0;z-index: 2;">
									<label for="f_comm_img" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10;">
										<span style="background-image: url(../images/icon/camera.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
										<span style="float: left;line-height: 22px;">사진</span>
									</label>
								</div>
								<button type="button" onclick="return comment_add();" class="btn_small" style="margin: 0;float: right;border-radius: 0;background-color: #222;font-weight: bold;padding: 7px 25px;"><span>등록</span></button>
							</div>
						</div>
					</td>
				</form>
			</tr>
			<{if $comment_list}>
			<{foreach from=$comment_list key=com_no item=comment}>
			<tr>
				<td class="first" colspan="4" style="border-left: 1px solid #ccc; max-width: 850px;">
					<div style="padding-left:5px; color: #999; position: relative;" id="comment-wrapper-<{$comment.no}>">
						<{if $comment.is_unknown == '1'}>
							<{if $comment.s_no == $session_s_no}>
								<span style="font-size: 14px; font-weight: bold;">익명(<{$comment.s_name}>)</span>
								<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
							<{else}>
								<span style="font-size: 14px; font-weight: bold;">익명</span>
							<{/if}>
						<{else}>
							<span style="font-size: 14px; font-weight: bold;"><{$comment.s_name}></span>
							<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
						<{/if}>

						<span style="color: #999;"><{$comment.regdate_day}> <{$comment.regdate_time}></span>

						<div style="padding-left:10px;" class="main-comm-content main-comm-content-<{$comment.no}>">
							<{if $comment.is_secret == '1'}>
								<{if $comment.s_no == $session_s_no}>
									<span style="color: red;">비밀 댓글입니다.</span><br/>
									<{$comment.comment}>
									<{if $comment.img_path}>
										<img src="/v1/uploads/<{$comment.img_path}>" onclick="openCommentImage(this)" alt="<{$comment.img_name}>" style="max-width: 300px; max-height: 300px; display: block; margin-top: 5px; cursor: pointer;"/>
									<{/if}>
								<{else}>
									<span style="color: red;">비밀 댓글입니다.</span><br/>
								<{/if}>
							<{else}>
								<{$comment.comment}>
								<!-- # 코멘트 이미지 업로드 -->
								<{if $comment.img_path}>
									<img src="/v1/uploads/<{$comment.img_path}>" onclick="openCommentImage(this)" alt="<{$comment.img_name}>" style="max-width: 300px; max-height: 300px; display: block; margin-top: 5px; cursor: pointer;"/>
								<{/if}>
							<{/if}>
						</div>
						<form name="comment_mod_frm_<{$comment.no}>" class="list_form" method="post" action="board_guide_regist.php">
							<input type="hidden" name="process">
							<input type="hidden" name="table_no" value="<{$b_no}>">
							<input type="hidden" name="main_comm_no" value="<{$comment.no}>">
							<input type="hidden" name="search_url" value="<{$search_url}>">
							<{if $session_s_no == $comment.s_no || permissionNameCheck($session_permission,"재무관리자")}>
							<div class="comment-form-write main-comm-modify-<{$comment.no}> main-comm-modify-content" style="padding-left:10px;">
								<textarea name="f_comment" class="textarea_type3" style="width: 90%;height: 100px;" required><{$comment.comment_mod}></textarea>
								<button type="button" onclick="return comment_main_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
							</div>
							<{/if}>
						</form>
						<div class="comment-btn-wrap">
								<a href="javascript:void(0)" onclick="openCommentForm('<{$comment.no}>');" class="comment-btn">답글</a>
							<{if $comment.s_no == $session_s_no}>
								<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$comment.no}>', 'main');" id="comm-mod-open-btn-<{$comment.no}>" class="comment-btn">수정</a>
								<a href="javascript:void(0);" onclick="comment_delete('<{$comment.no}>');" style="padding: 2px 5px;border: 1px solid #ccc;font-size: 11px;font-family: 'Malgun Gothic';text-decoration: none;">삭제</a>
							<{/if}>
						</div>
						<{if $comment.sub_comm_list}>
						<div class="comment-list" style="margin-top: 5px;">
							<{foreach from=$comment.sub_comm_list key=key item=sub_comment}>
							<div style="padding-top:5px; padding-bottom:5px; color: #999; position: relative; padding-left: <{$sub_comment.depth_width}>; border-top: 1px solid #ccc;" id="sub-comment-wrapper-<{$sub_comment.no}>">
								<{if $sub_comment.is_unknown == '1'}>
									<{if $sub_comment.s_no == $session_s_no}>
										<span style="font-size: 14px; font-weight: bold;">익명(<{$sub_comment.s_name}>)</span>
										<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
									<{else}>
										<span style="font-size: 14px; font-weight: bold;">익명</span>
									<{/if}>
								<{else}>
									<span style="font-size: 14px; font-weight: bold;"><{$sub_comment.s_name}></span>
									<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
								<{/if}>
								<span style="color: #999;"><{$sub_comment.regdate_day}> <{$sub_comment.regdate_time}></span>
								<form name="comment_mod_frm_<{$sub_comment.no}>" class="list_form" method="post" action="board_guide_regist.php">
									<input type="hidden" name="process">
									<input type="hidden" name="table_no" value="<{$b_no}>">
									<input type="hidden" name="sub_comm_no" value="<{$sub_comment.no}>">
									<input type="hidden" name="search_url" value="<{$search_url}>">

									<div class="sub-comm-content sub-comm-content-<{$sub_comment.no}>" style="padding-left:10px;">
										<{if $sub_comment.is_secret == '1'}>
											<{if $sub_comment.s_no == $session_s_no}>
												<span style="color: red;">비밀 댓글입니다.</span><br/>
												<{$sub_comment.comment}>
											<{else}>
												<span style="color: red;">비밀 댓글입니다.</span><br/>
											<{/if}>
										<{else}>
											<{$sub_comment.comment}>
										<{/if}>
									</div>
									<{if $session_s_no == $sub_comment.s_no}>
									<div class="comment-form-write sub-comm-modify-<{$sub_comment.no}> sub-comm-modify-content" style="padding-left:10px;">
										<textarea name="f_comment" class="textarea_type3" style="width: 90%;" required><{$sub_comment.comment_mod}></textarea>
										<button type="button" onclick="return comment_sub_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
									</div>
									<{/if}>
								</form>
								<div class="comment-btn-wrap">
									<a href="javascript:void(0)" onclick="openCommentForm('<{$sub_comment.no}>');" class="comment-btn">답글</a>
									<{if $session_s_no == $sub_comment.s_no}>
									<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$sub_comment.no}>', 'sub');" id="comm-mod-open-btn-<{$sub_comment.no}>" class="comment-btn">수정</a>
									<button type="button" onclick="return comment_sub_delete('<{$sub_comment.no}>');" class="btn_small" style="background: #FFF;color: #333;padding: 2px 5px;border: 1px solid #ccc;margin: 0;border-radius: 0; margin-bottom: 3px; height: 21px; box-sizing: border-box;"><span>삭제</span></button>
									<{/if}>
								</div>
								<div class="comment-form-write" id="comment-form-write-<{$sub_comment.no}>">
									<form name="comment_frm_<{$sub_comment.no}>" class="list_form" method="post" action="board_guide_regist.php">
										<input type="hidden" name="process">
										<input type="hidden" name="table_no" value="<{$b_no}>">
										<input type="hidden" name="group_no" value="<{$sub_comment.group_no}>">
										<input type="hidden" name="parent_no" value="<{$sub_comment.no}>">
										<input type="hidden" name="depth" value="<{$sub_comment.depth}>">
										<input type="hidden" name="max_depth" value="<{$comment.sub_max_depth}>">
										<input type="hidden" name="seq" value="<{$sub_comment.seq}>">
										<input type="hidden" name="search_url" value="<{$search_url}>">
										<div style="padding-left:5px; color: #999;">
											<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
											<input type="checkbox" name="is_secret" id="is_secret_<{$sub_comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$sub_comment.no}>" style="cursor: pointer">비밀 댓글</label>
											<input type="checkbox" name="is_unknown" id="is_unknown_<{$sub_comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$sub_comment.no}>" style="cursor: pointer">익명</label>
											<div style="padding-left:10px;">
												<textarea name="f_comment_new" class="textarea_type3" style="width: 90%;" required></textarea>
												<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<{/foreach}>
						</div>
						<{/if}>
						<div class="comment-form-write" id="comment-form-write-<{$comment.no}>">
							<form name="comment_frm" class="list_form" method="post" action="board_guide_regist.php">
								<input type="hidden" name="process">
								<input type="hidden" name="table_no" value="<{$b_no}>">
								<input type="hidden" name="group_no" value="<{$comment.no}>">
								<input type="hidden" name="parent_no" value="<{$comment.no}>">
								<input type="hidden" name="depth" value="0">
								<input type="hidden" name="seq" value="">
								<input type="hidden" name="search_url" value="<{$search_url}>">
								<div style="padding-left:5px; color: #999;">
									<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
									<input type="checkbox" name="is_secret" id="is_secret_<{$comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$comment.no}>" style="cursor: pointer">비밀 댓글</label>
									<input type="checkbox" name="is_unknown" id="is_unknown_<{$comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$comment.no}>" style="cursor: pointer">익명</label>
									<div style="padding-left:10px;">
										<textarea name="f_comment_new" class="textarea_type3" style="width:700px;" required></textarea>
										<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</td>
			</tr>
			<{/foreach}>
			<{/if}>
		</tbody>
	</table>
	<{/if}>
</div>
<!-- //admin_content -->

<div class="modal" id="image-modal" style="max-width: 800px; padding: 0;">
	<div class="img-modal-content">
		<img src="" id="modal-img">
	</div>
</div>

<script type="text/javascript">
	
	Dropzone.autoDiscover = false;

    $(document).ready(function(){
        $("#guide_g2").remoteChained({
            parents: "#guide_g1",
            url: "/v1/api/board.guide.json.php?parent_data=guide_g1",
            loading: "로딩중..",
            clear: true
        });
    });

    //발주담당자 자동완성
    $("#manager_name").autocomplete({
        source: function( request, response ) {
            $("#manager").val('');
            $.ajax({
                url: "/v1/api/related.product.staff.api.php",
                dataType: "json",
                data: {
                    s_name: request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            sno : item.s_no,
                            label : item.s_name,
                            sname : item.s_name
                        }
                    }));
                }
            });
        },
        select: function( event, ui ) {
            event.preventDefault();
            $("#manager").val(ui.item.sno);
            $('#manager_name').val(ui.item.sname);
        },
		focus: function(event, ui) {
            return false;
        },
        minLength: 1
    });

	// 저장시 필수값 체크
	function check_form(f)
	{
        if(cknull("guide_g1") == "x" || cknull("guide_g2") == "x"){
            alert("그룹을 선택해주세요");
            return false;
        }

        if(cknull("question") == "x" ){
            alert("제목을 입력해주세요");
            return false;
        }

        if(cknull("manager_name") == "x" || cknull("manager") == "x"){
            alert("담당자를 제대로 입력해주세요");
            return false;
        }

        f.submit();
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

    <{if $mode != 'read'}>
    // Image Drop & Down
    var imageExt = ['jpg','jpeg','png','gif'];
    var myDropzone = new Dropzone("div#guideFileDropzone",
        {
            url: "../inc/dropzone_file_upload.php",
            addRemoveLinks: true,
            dictRemoveFile: "삭제",
            uploadMultiple: true,
            parallelUploads: 1,
            thumbnailWidth: 120,
            thumbnailHeight: 100,
            maxFiles: 10,
            maxFilesize: 10,
            dictFileTooBig: "10MB 이상 파일은 업로드 할 수 없습니다",
            init: function(){
                <{if $mode == 'modify' && $file_count > 0}>
                <{foreach from=$file_paths key=key item=file_path}>
                var mockFile<{$key}> = {name: "<{$file_names[$key]}>", size: 12345};
                this.options.addedfile.call(this, mockFile<{$key}>);

                var file_path = '<{$file_path}>';
                var file_type = file_path.split('.',2)[1];
                file_type = file_type.toLowerCase();

                if(file_type != "" && imageExt.indexOf(file_type) != -1){
                    this.options.thumbnail.call(this, mockFile<{$key}>, "../uploads/<{$file_path}>");
                }

                var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="<{$file_names[$key]}>">';
                html += '<input type="hidden" name="file_path[]" class="file_path" value="<{$file_path}>"></div>';
                $("#board_guide_frm").append(html);
                <{/foreach}>
                <{/if}>
            },
            thumbnail: function(file, dataUrl){
                if (file.previewElement) {
                    file.previewElement.classList.remove("dz-file-preview");
                    file.previewElement.classList.add("dz-complete");
                    var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
                    for (var i = 0; i < images.length; i++) {
                        var thumbnailElement = images[i];
                        thumbnailElement.alt = file.name;
                        thumbnailElement.src = dataUrl;
                    }
                    setTimeout(function () {
                        file.previewElement.classList.add("dz-image-preview");
                    }, 1);
                }
            },
            maxfilesexceeded: function(file){
                alert('파일은 10개까지 업로드 할 수 있습니다');
                this.removeFile(file);
            },
            success: function(file, response){
                var result   = JSON.parse(response);
                var fileName  = result.fileName;
                var filePath  = result.filePath;
                var fileCount = $('#file_count').val();

                if(fileCount >= 10){
                    this.removeFile(file);
                    alert('파일은 10개까지 업로드 할 수 있습니다');
                    return;
                }

                if(filePath != ''){
                    file.previewElement.classList.add("dz-success");

                    var html = '<div><input type="hidden" name="file_name[]" class="file_name" value="'+fileName+'">';
                    html += '<input type="hidden" name="file_path[]" class="file_path" value="'+filePath+'"></div>';
                    $("#board_guide_frm").append(html);
                    $('#file_count').val($(".file_name").length);
                    $('#file_chk').val(1);
                }
            }
        }
    );

    myDropzone.on('processing', function (data){
        $(".guide-regist-btn").attr('disabled', true);
    });

    myDropzone.on('complete', function (data){
        if(data.status == "success"){
            $(".guide-regist-btn").attr('disabled', false);
        }
    });

    myDropzone.on('removedfile', function(file){
        var removeFileName = file.name;
        var fileNameList = $(".file_name");

        if(fileNameList.length > 0){
            $.each(fileNameList, function(idx, fileName){
                if(removeFileName == fileName.value){
                    $(fileName).parent('div').remove();
                }
            });
        }

        $('#file_count').val($(".file_name").length);
        $('#file_chk').val(1);
    });

    myDropzone.on("error", function(file, message) {
        alert(message);
        myDropzone.removeFile(file);
    });
	<{/if}>

    // 자산복제
    function duplicateGuide()
    {
        if(confirm('동일한 내용으로 복제합니까?'))
        {
            document.board_guide_frm.process.value = 'duplicate_guide';
            document.board_guide_frm.submit();
        }
    }

    // 자산복제
    function deleteGuide()
    {
        if(confirm('삭제 하시겠습니까?'))
        {
            document.board_guide_frm.process.value = 'delete_guide';
            document.board_guide_frm.submit();
        }
    }

    // 코멘트 추가
    function comment_add(){
        var f = document.forms['comment_frm'];

        if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_add";

        f.submit();
    }

    // 코멘트 삭제
    function comment_delete(no)
    {
        var f = document.forms['comment_frm'];

        f.process.value = "comment_delete";
        f.cmt_no.value = no;

        // 확인 체크
        if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
            f.submit();
        } else { //취소
            return false;
        }
    }

    // 코멘트 수정
    function comment_main_mod(f)
    {
        if (!f.f_comment.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_main_mod";
        f.submit();
    }

    // 서브코멘트 추가
    function comment_sub_add(f)
    {
        if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_sub_add";
        f.submit();
    }

    // 서브코멘트 수정
    function comment_sub_mod(f)
    {
        if (!f.f_comment.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_sub_mod";
        f.submit();
    }

    // 서브코멘트 삭제
    function comment_sub_delete(no)
    {
        var f_name = "comment_frm_"+no;
        var f = document.forms[f_name];

        if (confirm("정말로 삭제 하시겠습니까?") == true)
        { // 확인
            f.process.value = "comment_sub_delete";
            f.submit();
        } else { //취소
            return false;
        }
    }

    function openCommentForm(comment_no)
    {
        var open_result = true;
        if($("#comment-form-write-"+comment_no).css("display") == "none"){
            open_result = false;
        }

        $(".comment-form-write").hide();
        if(open_result === false){
            $("#comment-form-write-"+comment_no).show();
            $("#comment-form-write-"+comment_no).find('textarea').focus();
        }
    }

    function openModifyCommentForm(comment_no, type)
    {
        if(type == 'main'){
            var open_result = true;
            if($(".main-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".main-comm-content").show();
            if(open_result === false){
                $(".main-comm-content-"+comment_no).hide();
                $(".main-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }else{
            var open_result = true;
            if($(".sub-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".sub-comm-content").show();
            if(open_result === false){
                $(".sub-comm-content-"+comment_no).hide();
                $(".sub-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }
    }

	function openCommentImage(img)
	{
		$("#modal-img").attr('src', $(img).attr('src'));
			$("#image-modal").modal({
			fadeDuration: 250
		});
	}
</script>

</body>
</html>
