<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script> <!-- ckeditor 게시판 위지윅 -->

<script src="../js/dropzone.js"></script>
<link rel="stylesheet" href="../css/dropzone.css">

<style type="text/css">
	.dropzone{padding: 10px; min-height: unset;}
	.dropzone .dz-message{font-weight: bold;}
	.dropzone .dz-preview{margin: 10px 12px; min-height: unset;}
	.dropzone .dz-preview .dz-image img{width: 100%;height: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
</style>
	<div class="admin_content" style="width:1000px;">

		<h2 class="title" style="margin-bottom:10px">●
			<{$board_title}>

			<{if $mode=="read"}>
				상세보기
			<{elseif $mode=="modify"}>
				수정하기
			<{else}>
				작성하기
			<{/if}>
		</h2>


		<div class="table_contents_style">

		<table cellpadding="0" cellspacing="0" style="min-width:850px; max-width:1250px; width: 1250px;">
			<form name="board_notice_form" action="board_notice_detail.php" id="board_notice_form" method="post" enctype="multipart/form-data" >
				<input type="hidden" name="no" value="<{$no}>" />
				<input type="hidden" name="b_id" value="<{$b_id}>" />
				<input type="hidden" name="process" id="process" value="<{$mode}>" />
				<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
				<input type="hidden" name="folder">
				<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
				<input type="hidden" name="file_origin_read" value="<{$file_origin_read}>">

			<tbody>
				<tr> <!-- TITLE -->
					<th class="first" style="min-width:90px; max-width:90px;">TITLE</th>
					<td style="border-top: 1px solid #ccc; min-width:753px; max-width:753px;" colspan="3">
						<{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }>
							<input type="text" class="input_type1" style="width:400px;" name="f_title" id="f_title" value="<{$title}>"/>
							MAIN <input type='checkbox' name='f_main_view' value='1' style="margin-right:15px;" <{if !!$main_view}>checked<{/if}> />
							POPUP <input type='checkbox' name='f_popup_view' value='1' <{if !!$popup_view}>checked<{/if}> />
							MAIN (image) <input type='checkbox' name='f_main_slider' value='1' <{if !!$main_slider}>checked<{/if}> />
						<{else}> <!-- read -->
							<span style="font-size:14px; font-weight: bold;"><{$title}></span>
							<{if !!$main_view}>
								<span style="margin-right:20px;"></span>
								[ MAIN ]
							<{/if}>
							<{if !!$popup_view}>
								<span style="margin-right:20px;"></span>
								[ POPUP ]
							<{/if}>
						<{/if}>
					</td>
				</tr>
				<tr> <!-- WRITER & DATE -->
					<th class="first">WRITER</th>
					<td style="min-width:502px; max-width:502px;">
						<{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }>
							<input type="hidden" name="f_s_no" id="f_s_no" value="<{$s_no}>">
							<input type="hidden" name="f_team" id="f_team" value="<{$team}>">
							<input type="text" class="input_type1" id="f_s_name" value="<{$s_name}>" >
						<{else}> <!-- read -->
							<span style="font-size:12px;"><{$s_name}></span>
						<{/if}>
					</td>
					<th style="min-width:90px; max-width:90px;" >DATE</th>
					<td class="date" style="min-width:150px; max-width:150px;">
						<span class="day"><{$regdate_day}></span>&nbsp;<span class="time"><{$regdate_time}></span>
					</td>
				</tr>
				<tr> <!-- FILE -->
					<th class="first">FILE</th>
					<td colspan="3">
						<{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }>
							<div class="dropzone" id="boardImageDropzone" >
								<div class="dz-message">
									Drop files here or click to upload.
								</div>
							</div>
							<input type="hidden" id="file_count" value="<{$file_count}>" />
							<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
						<{else}> <!-- read -->
							<{if $file_name == '' }>
							 <span style="color: #999;">첨부파일 없음</span>
							<{else}>
								<{foreach from=$file_name key=idx item=f_name}>
									<a type="application/octet-stream" href="./../uploads/<{$file_read[$idx]}>" download="<{$f_name}>" style="margin: 0 5px; display: inline-block; clear: both; ">
										<img src="../images/common/ico/ico_file.gif" alt="파일" style="display: inline-block; float: left;  margin-top: 4px;">
										<span style="display: inline-block; float: left; margin-left: 5px; line-height: 19px; "><{$f_name}></span>
									</a>
								<{/foreach}>
							<{/if}>
						<{/if}>
					</td>
				</tr>
				<tr> <!-- CONTENTS-->
					<td class="first" colspan="4" style="border-left: 1px solid #ccc; text-align: center;">
						<center>
							<textarea name="f_contents" id="f_contents" rows="10" cols="80" <{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }><{else}>readonly<{/if}>>
								<{if $mode == 'write'}>
									<{section name=list loop=$board_manager_list}>
										<{if $board_manager_list[list].b_id == $b_id}>
											<{$board_manager_list[list].contents_format}>
										<{/if}>
									<{/section}>
								<{else}>
	              					<{$contents}>
								<{/if}>
            				</textarea>
							<script type="text/javascript">
                                var editor = CKEDITOR.replace('f_contents', {
                                    <{if $mode == 'write' || $mode == 'modify'}>
										removePlugins: 'autogrow',
									<{else}>
										removePlugins: 'resize',
										readOnly: true,
									<{/if}>
                                    enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
                                    shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
                                    removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
                                    filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
                                });

                                <{if $mode == 'read'}>
									editor.on( 'contentDom', function() {
										var editable = editor.editable();
										editable.attachListener( editable, 'click', function( evt ) {
											var link = new CKEDITOR.dom.elementPath( evt.data.getTarget(), this ).contains( 'a' );
											if ( link && evt.data.$.button != 2 && link.isReadOnly() ) {
												window.open( link.getAttribute( 'href' ) );
											}
										}, null, null, 15 );
									} );

									CKEDITOR.on('instanceReady', function(event) {
										var frame 		= $('iframe.cke_wysiwyg_frame').get(0);
										var doc 		= (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
										var f_height   = (doc.body.scrollHeight < 400) ? 400 : doc.body.scrollHeight + 40;
										$("#cke_1_contents").css({'height': f_height});
									});
								<{/if}>
							</script>
							<{if $mode == 'read'}>
							<style type="text/css">
								#cke_1_top{display: none;}
								#cke_1_bottom{display: none;}
							</style>
							<{/if}>
						</center>
					</td>
				</tr>
			</tbody>
			<tr>
				<td colspan="4" border="0" style="border-right:0px; border-bottom:0px; text-align:center;">
					<div class="default_wrap">
						<{if $mode == 'read' && $s_no == $session_s_no}> <!-- read -->
							<div class="left_wrap">
								<button type="button" onclick="location.href='board_notice_detail.php?mode=modify&no=<{$no}>&<{$search_url}>';" class="btn_style1"><span>수정하기</span></button>
							</div>
							<div class="left_wrap">
								<button type="button" onclick="del_board()" class="btn_style1"><span>삭제하기</span></button>
							</div>
						<{/if}>
						<div class="right_wrap">
							<{if $mode == 'read'}>
								<button class="btn_style1" type="button" onclick="printPage()"><span>PRINT</span></button>
								<button type="button" onclick="location.href='board_notice_list.php?<{$search_url}>';" class="btn_style1"><span>목록으로</span></button>
							<{elseif $mode == 'write' || $mode == 'modify'}>
								<button type="button" onclick="moveBoardListCheckContent()" class="btn_style1"><span>목록으로</span></button>
							<{/if}>

						</div>
					</div>
					<{if $mode == 'write'}>
						<div>
							<button type="button" onclick="return check_form($(this.form));" class="btn_style1"><span>작성완료</span></button>
						</div>
					<{elseif $mode == 'modify' && $s_no == $session_s_no}> <!-- modify -->
						<div>
							<button type="button" onclick="return check_form($(this.form));" class="btn_style1"><span>수정완료</span></button>
						</div>
					<{/if}>
				</td>
			</tr>
		</form>
		</table>
		<{if $mode == 'read' && ($board_prev_list || $board_next_list)}>
			<style>
				.table_contents_style table.sch-boardlist{min-width:850px;max-width:850px; border: 1px solid #ccc; box-sizing: border-box; padding: 5px 10px;}
				.table_contents_style table.sch-boardlist tbody tr{cursor: pointer;}
				.table_contents_style table.sch-boardlist tbody td{text-align: center; border-right: 0;}
				.table_contents_style table.sch-boardlist tbody tr.last td{border: 0;}
			</style>
			<div style="text-align: left; font-size: 13px; color: #b5b5b5; margin-bottom: 5px;">
				<{section name=list loop=$board_manager_list}>
				<{if $board_manager_list[list].b_id == $b_id}>
				'<{$board_manager_list[list].board_name}>'
				<{/if}>
				<{/section}>
				게시판 글
			</div>
			<table class="sch-boardlist" cellpadding="0" cellspacing="0">
			<colgroup>
				<col style="width: 50px;"/>
				<col style="width: 400px;"/>
				<col style="width: 120px;" />
				<col style="width: 100px;" />
				<col style="width: 50px;" />
				<col style="width: 130px;" />
			</colgroup>
			<tbody>
			<{assign var="sch_idx" value="1"}>
			<{if $board_prev_list}>
			<{foreach from=$board_prev_list item=board_prev}>
			<tr <{if $sch_max_cnt == $sch_idx}>class='last'<{/if}> onclick="moveBoardDetail('<{$board_prev.no}>')">
			<td style="text-align: left; font-size: 10px; color: #b5b5b5;">prev</td>
			<td style="text-align: left;"><{$board_prev.title}></td>
			<td><{$board_prev.team_name}></td>
			<td><{$board_prev.s_name}></td>
			<td><{$board_prev.hit}></td>
			<td style="text-align: right;"><{$board_prev.regdate}></td>
			</tr>
			<{assign var="sch_idx" value=$sch_idx+1}>
			<{/foreach}>
			<{/if}>
			<{if $board_next_list}>
			<{foreach from=$board_next_list item=board_next}>
			<tr <{if $sch_max_cnt == $sch_idx}>class='last'<{/if}> onclick="moveBoardDetail('<{$board_next.no}>')">
			<td style="text-align: left; font-size: 10px; color: #b5b5b5;">next</td>
			<td style="text-align: left;"><{$board_next.title}></td>
			<td><{$board_next.team_name}></td>
			<td><{$board_next.s_name}></td>
			<td><{$board_next.hit}></td>
			<td style="text-align: right;"><{$board_next.regdate}></td>
			</tr>
			<{assign var="sch_idx" value=$sch_idx+1}>
			<{/foreach}>
			<{/if}>
			</tbody>
		</table>
		<{/if}>
	</div> <!-- //table_contents_style -->
</div> <!-- //admin_content -->

<script type="text/javascript">

	Dropzone.autoDiscover = false;

    $(document).ready(function(){

        $("#f_s_name").autocomplete({
            source: function( request, response ) {
                $("#f_s_no").val('');
                $("#f_team").val('');
                $.ajax({
                    url: "/v1/api/staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.ss_label,
                                sname : item.ss_label,
                                team : item.team
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#f_s_no").val(ui.item.sno);
                $(this).val(ui.item.sname);
                $('#f_team').val(ui.item.team);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });
	});

    function moveBoardDetail(no)
    {
        var boardDetailUrl = "board_notice_detail.php?no="+no+"&"+$('#search_url').val();
        location.href = boardDetailUrl;
    }

    function moveBoardListCheckContent()
    {
        var title = $('#f_title').val();
        var content = CKEDITOR.instances['f_contents'].getData();
        var boardListUrl = "board_notice_list.php?"+$('#search_url').val();

        if(title != "" || content != "")
        {
            if(confirm("작성을 중단하고 목록으로 이동하시겠습니까?\r\n작성중인 내용은 지워집니다.")){
                location.href = boardListUrl;
            }
        }else{
            location.href = boardListUrl;
        }

        return false;
    }

	function check_form(f) {
		if (cknull("f_title","TITLE 을")=="x") {return false;}
		if (cknull("f_contents","CONTENTS 를")=="x") {return false;}
		if (cknull("f_b_id","b_id를")=="x") {return false;}
		if (cknull("f_s_no","작성자를")=="x") {return false;}

		f.submit();
	}

	//게시글 삭제
	function del_board()
	{
        var f = document.board_notice_form;
        f.process.value='del_board';

        if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
            f.submit();
        }else{ //취소
            return;
        }
	}

    function printPage(){
        var popupWindow = window.open("board_print.php?b_no=<{$no}>&b_name=board_notice");
    }

    <{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }>

    // Image Drop & Down
	var imageExt = ['jpg','jpeg','png','gif'];
    var myDropzone = new Dropzone("div#boardImageDropzone",
        {
            url:"../inc/dropzone_file_upload.php",
            addRemoveLinks: true,
            uploadMultiple: true,
            parallelUploads: 1,
            thumbnailWidth: 120,
            thumbnailHeight: 100,
            maxFiles: 5,
            maxFilesize: 10,
            init: function(){
                <{if $mode == 'modify' && $file_count > 0 }>
                <{foreach from=$file_read key=key item=file_path}>
                var mockFile<{$key}> = {name: "<{$file_name[$key]}>", size: 12345};
                this.options.addedfile.call(this, mockFile<{$key}>);

				var file_path = '<{$file_path}>';
				var file_type = file_path.split('.',2)[1];
				file_type = file_type.toLowerCase();

				if(file_type != "" && imageExt.indexOf(file_type) != -1){
					this.options.thumbnail.call(this, mockFile<{$key}>, "../uploads/<{$file_path}>");
				}

                var html = '<div><input type="hidden" name="file_name[]" class="board_file_name" value="<{$file_name[$key]}>">';
                html += '<input type="hidden" name="file_path[]" class="board_file_path" value="<{$file_path}>"></div>';
                $("#board_notice_form").append(html);
                <{/foreach}>
                <{/if}>
            },
            thumbnail: function(file, dataUrl){
                if (file.previewElement) {
                    file.previewElement.classList.remove("dz-file-preview");
                    file.previewElement.classList.add("dz-complete");
                    var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
                    for (var i = 0; i < images.length; i++) {
                        var thumbnailElement = images[i];
                        thumbnailElement.alt = file.name;
                        thumbnailElement.src = dataUrl;
                    }
                    setTimeout(function () {
                        file.previewElement.classList.add("dz-image-preview");
                    }, 1);
                }
            },
            maxfilesexceeded: function(file){
                alert('파일은 5개까지 업로드 할 수 있습니다');
                this.removeFile(file);
            },
            success: function(file, response){
                var result   = JSON.parse(response);
                var fileName  = result.fileName;
                var filePath  = result.filePath;
                var fileType  = result.fileType;
                var fileCount = $('#file_count').val();

                if(fileCount >= 5){
                    this.removeFile(file);
                    alert('파일은 5개까지 업로드 할 수 있습니다');
                    return;
                }

                if(filePath != '')
                {
                    file.previewElement.classList.add("dz-success");

                    var html = '<div><input type="hidden" name="file_name[]" class="board_file_name" value="'+fileName+'">';
                    html += '<input type="hidden" name="file_path[]" class="board_file_path" value="'+filePath+'"></div>';

                    $("#board_notice_form").append(html);
                    $('#file_count').val($(".board_file_name").length);
                    $('#file_chk').val(1);
                }
            }
        }
    );

    myDropzone.on('removedfile', function(file){
        var removeFileName = file.name;
        var fileNameList = $(".board_file_name");

        if(fileNameList.length > 0){
            $.each(fileNameList, function(idx, fileName){
                if(removeFileName == fileName.value){
                    $(fileName).parent('div').remove();
                }
            });
        }

        $('#file_count').val($(".board_file_name").length);
        $('#file_chk').val(1);
    });
    <{/if}>

</script>

</body>
</html>
