<{include file="inc/boot_navibar.html"}>

<script src="<{$dir_location}>apps/ckeditor/ckeditor.js" type = "text/javascript"></script> <!-- ckeditor 게시판 위지윅 -->

<script src="../js/dropzone.js"></script>
<link rel="stylesheet" href="../css/dropzone.css">

<style>
	.dropzone{padding: 10px; min-height: unset;}
	.dropzone .dz-message{font-weight: bold;}
	.dropzone .dz-preview{margin: 10px 12px; min-height: unset;}
	.dropzone .dz-preview .dz-image img{width: 100%;height: 100%;}
	.dropzone .dz-preview .dz-remove{font-size: 10px; background: #333; color: white; font-weight: bold; margin-top: 3px;}
	.dropzone .dz-preview.dz-file-preview .dz-progress{display: none;}
	.comment-btn-wrap{margin: 10px 0 2px; position: relative;}
	.comment-btn-wrap .comment-btn{padding: 2px 5px; border: 1px solid #ccc;font-size: 11px; font-family: 'Malgun Gothic'; text-decoration: none;}
	.comment-btn-wrap .comment-close-btn{display: none;}
	.sub-comm-modify-content{display: none;}
	.comment-like-btn{overflow: hidden;border: 1px solid #ccc; padding: 2px;margin: 0;color: black;position: absolute;min-width: 43px;bottom: -2px;right: 5px;}
	.comment-like-btn img{width: 20px; float: left;}
	.comment-like-cnt{display: inline-block; float: right; line-height: 21px; font-size: 11px; font-weight: bold; min-width: 10px; padding-right: 1px;}
	.comment-like-sel{border: 1px solid red; color: red; }
	.comment-like-btn .comment-like-sel-img{display: none;}
	.comment-like-sel .comment-like-sel-img{display: inline-block;}
	.comment-like-sel .comment-like-img{display: none;}
	.comment-form-write{display: none;}
	#f_comm_img_preview img{width: 100%; height: 100%;}
	#image-modal{overflow: unset; height: auto;}
	#image-modal img{width: 100%; height: 100%;}
</style>

<div class="admin_content" style="width:1000px;">

	<h2 class="title" style="margin-bottom:10px">●
		<{$board_title}>

		<{if $mode=="read"}>
		상세보기
		<{elseif $mode=="modify"}>
		수정하기
		<{else}>
		작성하기
		<{/if}>
	</h2>

	<div class="table_contents_style">
		<tbody>
		<table cellpadding="0" cellspacing="0" style="min-width:850px;max-width:1250px;width: 1250px;">
			<form name="board_normal_form" action="board_normal_detail.php" id="board_normal_form" method="post" enctype="multipart/form-data" >
				<input type="hidden" name="no" value="<{$no}>" />
				<input type="hidden" name="b_id" value="<{$b_id}>" />
				<input type="hidden" name="process" id="process" value="<{$mode}>" />
				<input type="hidden" name="search_url" id="search_url" value="<{$search_url}>">
				<input type="hidden" name="folder">
				<input type="hidden" name="file_origin_name" value="<{$file_origin_name}>">
				<input type="hidden" name="file_origin_read" value="<{$file_origin_read}>">
				<{if $sch_category_list}>
				<tr>
					<th class="first" style="min-width:90px; max-width:90px;">CATEGORY</th>
					<td style="border-top: 1px solid #ccc; min-width:753px; max-width:753px;" colspan="3">
						<{if ($mode == 'read') }>
							<{$category}>
						<{else}>
							<select name="f_category" class="select_type2" style="margin-right:10px">
								<option value="">::선택::</option>
								<{foreach from=$sch_category_list item=label}>
								<option value="<{$label}>" <{if $category == $label}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
						<{/if}>
					</td>
				</tr>
				<{/if}>
				<{if $sch_brand_list}>
					<tr>
						<th class="first" style="min-width:90px; max-width:90px;">BRAND</th>
						<td style="border-top: 1px solid #ccc; min-width:753px; max-width:753px;" colspan="3">
							<{if ($mode == 'read') }>
								<{$brand_name}>
							<{else}>
							<select name="f_brand" class="select_type2" style="margin-right:10px">
								<option value="">::선택::</option>
								<{foreach from=$sch_brand_list key=key item=label}>
									<option value="<{$key}>" <{if $brand== $key}>selected<{/if}>><{$label}></option>
								<{/foreach}>
							</select>
							<{/if}>
						</td>
					</tr>
				<{/if}>
				<tr> <!-- TITLE -->
					<th class="first" style="min-width:90px; max-width:90px;">TITLE</th>
					<td style="border-top: 1px solid #ccc; min-width:753px; max-width:753px;" colspan="3">
						<{if ($mode == 'modify' && $is_editable) || $mode == 'write' }>
						<input type="text" class="input_type1" style="width:400px;" name="f_title" id="f_title" value="<{$title}>"/>
						TOP <input type='checkbox' name='f_top_view' value='1' style="margin-right:15px;" <{if !!$top_view}>checked<{/if}> />
						<{else}> <!-- read -->
						<span style="font-size:14px; font-weight: bold;"><{$title}></span>
						<{if !!$top_view}>
						<span style="margin-right:20px;"></span>
						[ TOP ]
						<{/if}>
						<{/if}>
					</td>
				</tr>
				<tr> <!-- WRITER & DATE -->
					<th class="first">WRITER</th>
					<td style="min-width:502px; max-width:502px;">
						<{if ($mode == 'modify' && $s_no == $session_s_no) || $mode == 'write' }>
							<input type="hidden" name="f_s_no" id="f_s_no" value="<{$s_no}>">
							<input type="hidden" name="f_team" id="f_team" value="<{$team}>">
							<input type="text" class="input_type1" id="f_s_name" value="<{$s_name}>" >
						<{else}> <!-- read -->
							<span style="font-size:12px;"><{$s_name}></span>
						<{/if}>
					</td>
					<th style="min-width:90px; max-width:90px;" >DATE</th>
					<td class="date" style="min-width:150px; max-width:150px;">
						<span class="day"><{$regdate_day}></span>&nbsp;<span class="time"><{$regdate_time}></span>
					</td>
				</tr>
				<tr> <!-- FILE -->
					<th class="first">FILE</th>
					<td colspan="3">
						<{if ($mode == 'modify' && $is_editable) || $mode == 'write' }>
							<div class="dropzone" id="boardImageDropzone" >
								<div class="dz-message">
									Drop files here or click to upload.
								</div>
							</div>
							<input type="hidden" id="file_count" value="<{$file_count}>" />
							<input type="hidden" id="file_chk" name="file_chk" value="<{$file_chk}>" />
						<{else}> <!-- read -->
							<{if $file_name == '' }>
								<span style="color: #999;">첨부파일 없음</span>
							<{else}>
								<{if $b_id == 'cm_sales'}> <!-- 커머스 매출 및 비용의 경우 작성자, 본부장, 대표, 경영지원팀, top_view만 조회 가능 -->
									<{if $s_no == $session_s_no || permissionNameCheck($session_permission,"재무관리자") || permissionNameCheck($session_permission,"대표") || permissionNameCheck($session_permission,"마스터관리자") || permissionNameCheck($session_permission,"마케터")}>
										<{foreach from=$file_name key=idx item=f_name}>
											<a type="application/octet-stream" href="./../uploads/<{$file_read[$idx]}>" download="<{$f_name}>" style="margin: 0 5px; display: inline-block; clear: both;">
												<img src="../images/common/ico/ico_file.gif" alt="파일" style="display: inline-block; float: left; margin-top: 4px;">
												<span style="display: inline-block; float: left; margin-left: 5px; line-height: 19px; "><{$f_name}></span>
											</a>
										<{/foreach}>
									<{else}>
										<span style="color: #808080;">조회권한이 없습니다.</span>
									<{/if}>
								<{else}>
									<{foreach from=$file_name key=idx item=f_name}>
										<a type="application/octet-stream" href="./../uploads/<{$file_read[$idx]}>" download="<{$f_name}>" style="margin: 0 5px; display: inline-block; clear: both; ">
											<img src="../images/common/ico/ico_file.gif" alt="파일" style="display: inline-block; float: left;  margin-top: 4px;">
											<span style="display: inline-block; float: left; margin-left: 5px; line-height: 19px; "><{$f_name}></span>
										</a>
									<{/foreach}>
								<{/if}>
							<{/if}>
						<{/if}>
					</td>
				</tr>
				<tr> <!-- CONTENTS-->
					<td class="first" colspan="4" style="border-left: 1px solid #ccc; text-align: center;">
						<center>
							<textarea name="f_contents" id="f_contents" rows="10" cols="80" <{if ($mode == 'modify' && $is_editable) || $mode == 'write' }><{else}>readonly<{/if}>>
								<{if $mode == 'write'}>
									<{if $b_id == 'home_w_r'}>
										<{$contents}>
									<{elseif $contents_format}>
										<{$contents_format}>
									<{/if}>
								<{else}>
									<{$contents}>
								<{/if}>
		            		</textarea>
							<script type="text/javascript">
                                var editor = CKEDITOR.replace('f_contents', {
                                    <{if $mode == 'write' || $mode == 'modify'}>
                                    	removePlugins: 'autogrow',
										<{if $b_id != 'home_w_r'}>height: 600,<{/if}>
									<{else}>
										removePlugins: 'resize',
                                        readOnly: true,
									<{/if}>
                                    enterMode: '2', //엔터키 태그 1:<p>, 2:<br>, 3:<div>
                                    shiftEnterMode: '1', //쉬프트+엔터키 태그 1:<p>, 2:<br>, 3:<div>
                                    removeDialogTabs: 'link:target;link:advanced;image:Link;image:advanced',
                                    filebrowserImageUploadUrl: '../apps/ckeditor/image_upload.php?path=<{$editor_path}>'
                                });

                                <{if $mode == 'read'}>
									editor.on( 'contentDom', function() {
										var editable = editor.editable();
										editable.attachListener( editable, 'click', function( evt ) {
											var link = new CKEDITOR.dom.elementPath( evt.data.getTarget(), this ).contains( 'a' );
											if ( link && evt.data.$.button != 2 && link.isReadOnly() ) {
												window.open( link.getAttribute( 'href' ) );
											}
										}, null, null, 15 );
									} );

									CKEDITOR.on('instanceReady', function(event) {
										var frame 		= $('iframe.cke_wysiwyg_frame').get(0);
										var doc 		= (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
										var f_height   = (doc.body.scrollHeight < 400) ? 400 : doc.body.scrollHeight + 40;
										$("#cke_1_contents").css({'height': f_height});
									});
								<{/if}>
							</script>
							<{if $mode == 'read'}>
							<style type="text/css">
								#cke_1_top{display: none;}
								#cke_1_bottom{display: none;}
							</style>
							<{/if}>
						</center>
					</td>
				</tr>
			</form>
			<{if $mode == 'read'}>
				<{if $board_table_name == "board_normal" && $board_comment_format == '1'}>
					<tr> <!-- COMMENT(TITLE) -->
						<th colspan="4" class="first">COMMENT</th>
					</tr>

					<!-- COMMENT -->
					<!-- # 코멘트 이미지 업로드 -->
					<tr>
						<form name="comment_frm" id="comment_frm" class="list_form" method="post" enctype="multipart/form-data" action="board_normal_detail.php">
							<input type="hidden" name="process">
							<input type="hidden" name="table_no" id="table_no" value="<{$no}>">
							<input type="hidden" name="b_id" id="b_id" value="<{$b_id}>">
							<input type="hidden" name="cmt_no" id="cmt_no">
							<input type="hidden" name="org_staff_name" class="org_staff_name" value="<{$session_name}> [<{$team_list[$session_team]}>]">
							<input type="hidden" name="org_unknown_name" class="org_unknown_name" value="익명(<{$session_name}>)">
							<input type="hidden" name="search_url" value="<{$search_url}>">

							<td class="first" colspan="4" style="border-left: 1px solid #ccc;padding: 10px; max-width: 850px;">
								<div style="padding-left:5px; color: #999;">
									<span style="font-size: 14px; font-weight: bold;" class="new_comment_staff_name"><{$session_name}> [<{$team_list[$session_team]}>]</span>
									<span style="color: red;" class="is_secret_comment"></span>
									<div style="padding: 0;box-sizing: content-box;border: 1px solid #ccc;margin: 5px 5px 0 0;">
										<textarea name="f_comment_new" id="f_comment_new" class="textarea_type3" style="width: 100%;height: 100px;box-sizing: border-box;margin: 0;border: 0;resize: none;"></textarea>
										<div class="f_comment_image_box" style="position: relative; margin: 10px 0 10px 15px; display: inline-block;">
											<div id="f_comm_img_preview" style="width: 100px;height: 100px;display: none;"></div>
											<span id="f_comm_img_preview_del" style="position: absolute;top: -5px;right: -5px;z-index: 10;width: 15px;height: 15px;background-image: url(../images/icon/img_close.png);background-repeat: no-repeat;background-size: cover; cursor: pointer; display: none;"></span>
										</div>
									</div>
									<div style="padding: 0; padding-left: 10px;margin-right: 4px;overflow: hidden;border: 1px solid #ccc;border-top: 0;">
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;" >
											<input type="checkbox" name="is_secret" id="is-secret" style="width: 0; position: absolute; top:0;left:0;z-index: 2;" value="1">
											<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-secret-off-label">
												<span style="background-image: url(../images/icon/secret_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">비밀</span>
											</label>
											<label for="is-secret" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-secret-on-label">
												<span style="background-image: url(../images/icon/secret_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px; font-weight: bold;">비밀</span>
											</label>
										</div>
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
											<input type="checkbox" name="is_unknown" id="is-unknown" style="width: 0; position: absolute; top:0; left:0;z-index: 2;" value="1">
											<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; opacity: 0.5;" class="is-unknown-off-label">
												<span style="background-image: url(../images/icon/unknown_off.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">익명</span>
											</label>
											<label for="is-unknown" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10; display: none;" class="is-unknown-on-label">
												<span style="background-image: url(../images/icon/unknown_on.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px; font-weight: bold;">익명</span>
											</label>
										</div>
										<div style="float: left; display: inline-block; position: relative; width: 60px; height: 25px; margin-top: 5px;">
											<input type="file" id="f_comm_img" name="f_comm_img" accept="image/*" style="width: 0; position: absolute; top:0; left:0;z-index: 2;">
											<label for="f_comm_img" style="cursor: pointer; position: absolute; top:0; left:0; z-index: 10;">
												<span style="background-image: url(../images/icon/camera.png); background-repeat: no-repeat; overflow: hidden; float: left; width: 18px; height: 18px; background-size: cover; margin-right: 5px; margin-top: 0.5px; -webkit-perspective: 1;"></span>
												<span style="float: left;line-height: 22px;">사진</span>
											</label>
										</div>
										<button type="button" onclick="return comment_add();" class="btn_small" style="margin: 0;float: right;border-radius: 0;background-color: #222;font-weight: bold;padding: 7px 25px;"><span>등록</span></button>
									</div>
								</div>
							</td>
						</form>
					</tr>

					<!-- COMMENTS -->
					<tr style="height: 60px;" id="f_comm_ord_type">
						<td colspan="4" style="border-right: 0; padding-top: 20px;">
							<b style="font-size: 18px;">댓글 <{$total_comment_cnt}>개</b>
							<input type="hidden" id="list_search_url" value="<{$list_search_url}>">
							<select name="comm_ord_type" id="comm_ord_type" class="select_type2" style="float: right;">
								<option value="regdate" <{if !$comm_ord_type || $comm_ord_type == 'regdate'}>selected<{/if}>>최신순</option>
								<option value="like_cnt" <{if $comm_ord_type == 'like_cnt'}>selected<{/if}>>추천순</option>
							</select>
						</td>
					</tr>
					<{foreach from=$comment_list key=com_no item=comment}>
						<tr>
							<td class="first" colspan="4" style="border-left: 1px solid #ccc; max-width: 850px;">
								<div style="padding-left:5px; color: #999; position: relative;" id="comment-wrapper-<{$comment.no}>">
									<{if $comment.is_unknown == '1'}>
										<{if $b_id == 'event'}>
											<{if $comment.s_no == $session_s_no}>
												<span style="font-size: 14px; font-weight: bold;">익명(<{$comment.s_name}>)</span>
												<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
											<{elseif $no == '21099' && $session_s_no != '260'}>
												<span style="font-size: 14px; font-weight: bold;">익명</span>
											<{elseif $session_s_no == '204' || $session_s_no == '260'}>
												<span style="font-size: 14px; font-weight: bold;">익명(<{$comment.s_name}>)</span>
												<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
											<{else}>
												<span style="font-size: 14px; font-weight: bold;">익명</span>
											<{/if}>
										<{else}>
											<{if $comment.s_no == $session_s_no}>
												<span style="font-size: 14px; font-weight: bold;">익명(<{$comment.s_name}>)</span>
												<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
											<{else}>
												<span style="font-size: 14px; font-weight: bold;">익명</span>
											<{/if}>
										<{/if}>
									<{else}>
										<span style="font-size: 14px; font-weight: bold;"><{$comment.s_name}></span>
										<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$comment.team]}>]</span>
									<{/if}>

									<span style="color: #999;"><{$comment.regdate_day}> <{$comment.regdate_time}></span>

									<div style="padding-left:10px;" class="main-comm-content main-comm-content-<{$comment.no}>">
										<{if $comment.is_secret == '1'}>
											<{if $b_id == 'event'}>
												<{if $comment.s_no == $session_s_no}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
													<{$comment.comment}>
												<{elseif $no == '21099' && $session_s_no != '260'}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
												<{elseif $session_s_no == '204' || $session_s_no == '260'}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
													<{$comment.comment}>
												<{else}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
												<{/if}>
											<{else}>
												<{if $comment.s_no == $session_s_no || (permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "대표"))}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
													<{$comment.comment}>
												<{else}>
													<span style="color: red;">비밀 댓글입니다.</span><br/>
												<{/if}>
											<{/if}>
										<{else}>
											<{$comment.comment}>
											<!-- # 코멘트 이미지 업로드 -->
											<{if $comment.img_path}>
												<img src="/v1/uploads/<{$comment.img_path}>" onclick="openCommentImage(this)" alt="<{$comment.img_name}>" style="max-width: 300px; max-height: 300px; display: block; margin-top: 5px; cursor: pointer;"/>
											<{/if}>
										<{/if}>
									</div>
									<form name="comment_mod_frm_<{$comment.no}>" class="list_form" method="post" action="board_normal_detail.php">
										<input type="hidden" name="process">
										<input type="hidden" name="b_id" value="<{$b_id}>">
										<input type="hidden" name="table_no" value="<{$no}>">
										<input type="hidden" name="main_comm_no" value="<{$comment.no}>">
										<input type="hidden" name="search_url" value="<{$search_url}>">
										<{if $session_s_no == $comment.s_no || permissionNameCheck($session_permission,"재무관리자")}>
										<div class="comment-form-write main-comm-modify-<{$comment.no}> main-comm-modify-content" style="padding-left:10px;">
											<textarea name="f_comment" class="textarea_type3" style="width: 90%;height: 250px;" required><{$comment.comment_mod}></textarea>
											<button type="button" onclick="return comment_main_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
										</div>
										<{/if}>
									</form>
									<div class="comment-btn-wrap">
										<a href="javascript:void(0)" onclick="openCommentForm('<{$comment.no}>');" class="comment-btn">답글</a>
										<{if $comment.s_no == $session_s_no || permissionNameCheck($session_permission,"재무관리자")}>
										<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$comment.no}>', 'main');" id="comm-mod-open-btn-<{$comment.no}>" class="comment-btn">수정</a>
										<a href="javascript:void(0);" onclick="comment_delete('<{$comment.no}>');" style="padding: 2px 5px;border: 1px solid #ccc;font-size: 11px;font-family: 'Malgun Gothic';text-decoration: none;">삭제</a>
										<{/if}>
										<button type="button" onclick="likeComment('<{$comment.no}>', '<{$comment.b_id}>', '<{$no}>', '<{$session_s_no}>')" class="comment-like-btn <{if $comment.self_like}>comment-like-sel<{/if}>" id="like-<{$comment.no}>">
											<img src="../images/icon/heart.png" class="comment-like-img">
											<img src="../images/icon/sel_heart.png" class="comment-like-sel-img">
											<span class="comment-like-cnt" id="like-cnt-<{$comment.no}>"><{$comment.like_cnt}></span>
										</button>
									</div>
									<{if $comment.sub_comm_list}>
										<div class="comment-list" style="margin-top: 5px;">
											<{foreach from=$comment.sub_comm_list key=key item=sub_comment}>
											<div style="padding-top:5px; padding-bottom:5px; color: #999; position: relative; padding-left: <{$sub_comment.depth_width}>; border-top: 1px solid #ccc;" id="sub-comment-wrapper-<{$sub_comment.no}>">
												<{if $sub_comment.is_unknown == '1'}>
													<{if $b_id == 'event'}>
														<{if $sub_comment.s_no == $session_s_no}>
															<span style="font-size: 14px; font-weight: bold;">익명(<{$sub_comment.s_name}>)</span>
															<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
														<{elseif $no == '21099' && $session_s_no != '260'}>
															<span style="font-size: 14px; font-weight: bold;">익명</span>
														<{elseif $session_s_no == '204' || $session_s_no == '260'}>
															<span style="font-size: 14px; font-weight: bold;">익명(<{$sub_comment.s_name}>)</span>
															<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
														<{else}>
															<span style="font-size: 14px; font-weight: bold;">익명</span>
														<{/if}>
													<{else}>
														<{if $sub_comment.s_no == $session_s_no}>
															<span style="font-size: 14px; font-weight: bold;">익명(<{$sub_comment.s_name}>)</span>
															<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
														<{else}>
															<span style="font-size: 14px; font-weight: bold;">익명</span>
														<{/if}>
													<{/if}>
												<{else}>
													<span style="font-size: 14px; font-weight: bold;"><{$sub_comment.s_name}></span>
													<span style="font-size:9px; color:#a7a7a7;">[<{$team_list[$sub_comment.team]}>]</span>
												<{/if}>


												<span style="color: #999;"><{$sub_comment.regdate_day}> <{$sub_comment.regdate_time}></span>
												<form name="comment_mod_frm_<{$sub_comment.no}>" class="list_form" method="post" action="board_normal_detail.php">
													<input type="hidden" name="process">
													<input type="hidden" name="b_id" value="<{$b_id}>">
													<input type="hidden" name="table_no" value="<{$no}>">
													<input type="hidden" name="sub_comm_no" value="<{$sub_comment.no}>">
													<input type="hidden" name="search_url" value="<{$search_url}>">

													<div class="sub-comm-content sub-comm-content-<{$sub_comment.no}>" style="padding-left:10px;">
														<{if $sub_comment.is_secret == '1'}>
															<{if $b_id == 'event'}>
																<{if $sub_comment.s_no == $session_s_no}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																	<{$sub_comment.comment}>
																<{elseif $no == '21099' && $session_s_no != '260'}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																<{elseif $session_s_no == '204' || $session_s_no == '260'}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																	<{$sub_comment.comment}>
																<{else}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																<{/if}>
															<{else}>
																<{if $sub_comment.s_no == $session_s_no || (permissionNameCheck($session_permission, "재무관리자") || permissionNameCheck($session_permission, "대표"))}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																	<{$sub_comment.comment}>
																<{else}>
																	<span style="color: red;">비밀 댓글입니다.</span><br/>
																<{/if}>
															<{/if}>
														<{else}>
															<{$sub_comment.comment}>
														<{/if}>
													</div>
													<{if $session_s_no == $sub_comment.s_no || permissionNameCheck($session_permission,"재무관리자")}>
														<div class="comment-form-write sub-comm-modify-<{$sub_comment.no}> sub-comm-modify-content" style="padding-left:10px;">
															<textarea name="f_comment" class="textarea_type3" style="width: 90%;" required><{$sub_comment.comment_mod}></textarea>
															<button type="button" onclick="return comment_sub_mod(this.form);" class="btn_small"><span>코멘트<br>수정</span></button>
														</div>
													<{/if}>
												</form>
												<div class="comment-btn-wrap">
													<a href="javascript:void(0)" onclick="openCommentForm('<{$sub_comment.no}>');" class="comment-btn">답글</a>
													<{if $session_s_no == $sub_comment.s_no || permissionNameCheck($session_permission,"재무관리자")}>
														<a href="javascript:void(0)" onclick="openModifyCommentForm('<{$sub_comment.no}>', 'sub');" id="comm-mod-open-btn-<{$sub_comment.no}>" class="comment-btn">수정</a>
														<button type="button" onclick="return comment_sub_delete('<{$sub_comment.no}>');" class="btn_small" style="background: #FFF;color: #333;padding: 2px 5px;border: 1px solid #ccc;margin: 0;border-radius: 0; margin-bottom: 3px; height: 21px; box-sizing: border-box;"><span>삭제</span></button>
													<{/if}>
													<button type="button" onclick="likeComment('<{$sub_comment.no}>', '<{$sub_comment.b_id}>', '<{$no}>', '<{$session_s_no}>')" class="comment-like-btn <{if $sub_comment.self_like}>comment-like-sel<{/if}>" id="like-<{$sub_comment.no}>">
														<img src="../images/icon/heart.png" class="comment-like-img">
														<img src="../images/icon/sel_heart.png" class="comment-like-sel-img">
														<span class="comment-like-cnt" id="like-cnt-<{$sub_comment.no}>"><{$sub_comment.like_cnt}></span>
													</button>
												</div>
												<div class="comment-form-write" id="comment-form-write-<{$sub_comment.no}>">
													<form name="comment_frm_<{$sub_comment.no}>" class="list_form" method="post" action="board_normal_detail.php">
														<input type="hidden" name="process">
														<input type="hidden" name="table_no" value="<{$no}>">
														<input type="hidden" name="group_no" value="<{$sub_comment.group_no}>">
														<input type="hidden" name="parent_no" value="<{$sub_comment.no}>">
														<input type="hidden" name="depth" value="<{$sub_comment.depth}>">
														<input type="hidden" name="max_depth" value="<{$comment.sub_max_depth}>">
														<input type="hidden" name="seq" value="<{$sub_comment.seq}>">
														<input type="hidden" name="b_id" value="<{$b_id}>">
														<input type="hidden" name="search_url" value="<{$search_url}>">
														<div style="padding-left:5px; color: #999;">
															<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
															<input type="checkbox" name="is_secret" id="is_secret_<{$sub_comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$sub_comment.no}>" style="cursor: pointer">비밀 댓글</label>
															<input type="checkbox" name="is_unknown" id="is_unknown_<{$sub_comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$sub_comment.no}>" style="cursor: pointer">익명</label>
															<div style="padding-left:10px;">
																<textarea name="f_comment_new" class="textarea_type3" style="width: 90%;" required></textarea>
																<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<{/foreach}>
										</div>
									<{/if}>
									<div class="comment-form-write" id="comment-form-write-<{$comment.no}>">
										<form name="comment_frm" class="list_form" method="post" action="board_normal_detail.php">
											<input type="hidden" name="process">
											<input type="hidden" name="table_no" value="<{$no}>">
											<input type="hidden" name="group_no" value="<{$comment.no}>">
											<input type="hidden" name="parent_no" value="<{$comment.no}>">
											<input type="hidden" name="depth" value="0">
											<input type="hidden" name="seq" value="">
											<input type="hidden" name="b_id" value="<{$b_id}>">
											<input type="hidden" name="search_url" value="<{$search_url}>">
											<div style="padding-left:5px; color: #999;">
												<span style="font-weight: bold; margin-left: 13px;"><{$session_name}></span>
												<input type="checkbox" name="is_secret" id="is_secret_<{$comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_secret_<{$comment.no}>" style="cursor: pointer">비밀 댓글</label>
												<input type="checkbox" name="is_unknown" id="is_unknown_<{$comment.no}>" style="margin: 10px 5px;" value="1"><label for="is_unknown_<{$comment.no}>" style="cursor: pointer">익명</label>
												<div style="padding-left:10px;">
													<textarea name="f_comment_new" class="textarea_type3" style="width:740px;" required></textarea>
													<button type="button" onclick="return comment_sub_add(this.form);" class="btn_small"><span>코멘트<br>남기기</span></button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</td>
						</tr>
					<{/foreach}>
				<{/if}>
			<{/if}>
			<tr>
				<td colspan="4" border="0" style="border-right:0px; border-bottom:0px; text-align:center;">
					<div class="default_wrap">
						<{if $mode == 'read' && $is_editable}> <!-- read -->
							<div class="left_wrap">
								<button type="button" onclick="location.href='board_normal_detail.php?mode=modify&no=<{$no}>&<{$search_url}>';" class="btn_style1"><span>수정하기</span></button>
							</div>
							<div class="left_wrap">
								<button type="button" onclick="del_board()" class="btn_style1"><span>삭제하기</span></button>
							</div>
						<{/if}>
						<div class="right_wrap">
							<{if $mode == 'read'}>
								<button class="btn_style1" type="button" onclick="printPage()"><span>PRINT</span></button>
								<button type="button" onclick="location.href='board_normal_list.php?<{$search_url}>';" class="btn_style1"><span>목록으로</span></button>
							<{elseif $mode == 'write' || $mode == 'modify'}>
								<button type="button" onclick="moveBoardListCheckContent()" class="btn_style1"><span>목록으로</span></button>
							<{/if}>

						</div>
					</div>
					<{if $mode == 'write'}>
					<div>
						<button type="button" onclick="return check_form();" class="btn_style1"><span>작성완료</span></button>
					</div>
					<{elseif $mode == 'modify' && $is_editable}> <!-- modify -->
					<div>
						<button type="button" onclick="return check_form();" class="btn_style1"><span>수정완료</span></button>
					</div>
					<{/if}>
				</td>
			</tr>
			</tbody>
		</table>
		<{if $mode == 'read' && ($board_prev_list || $board_next_list)}>
			<style>
				.table_contents_style table.sch-boardlist{min-width:850px;max-width:850px; border: 1px solid #ccc; box-sizing: border-box; padding: 5px 10px;}
				.table_contents_style table.sch-boardlist tbody tr{cursor: pointer;}
				.table_contents_style table.sch-boardlist tbody td{text-align: center; border-right: 0;}
				.table_contents_style table.sch-boardlist tbody tr.last td{border: 0;}
			</style>
			<div style="text-align: left; font-size: 13px; color: #b5b5b5; margin-bottom: 5px;">
				'<{$board_title}>'
				게시판 글
			</div>
			<table class="sch-boardlist" cellpadding="0" cellspacing="0">
				<colgroup>
					<col style="width: 50px;"/>
					<col style="width: 400px;"/>
					<col style="width: 120px;" />
					<col style="width: 100px;" />
					<col style="width: 50px;" />
					<col style="width: 130px;" />
				</colgroup>
				<tbody>
				<{assign var="sch_idx" value="1"}>
				<{if $board_prev_list}>
				<{foreach from=$board_prev_list item=board_prev}>
				<tr <{if $sch_max_cnt == $sch_idx}>class='last'<{/if}> onclick="moveBoardDetail('<{$board_prev.no}>')">
				<td style="text-align: left; font-size: 10px; color: #b5b5b5;">prev</td>
				<td style="text-align: left;"><{$board_prev.title}></td>
				<td><{$board_prev.team_name}></td>
				<td><{$board_prev.s_name}></td>
				<td><{$board_prev.hit}></td>
				<td style="text-align: right;"><{$board_prev.regdate}></td>
				</tr>
				<{assign var="sch_idx" value=$sch_idx+1}>
				<{/foreach}>
				<{/if}>
				<{if $board_next_list}>
				<{foreach from=$board_next_list item=board_next}>
				<tr <{if $sch_max_cnt == $sch_idx}>class='last'<{/if}> onclick="moveBoardDetail('<{$board_next.no}>')">
				<td style="text-align: left; font-size: 10px; color: #b5b5b5;">next</td>
				<td style="text-align: left;"><{$board_next.title}></td>
				<td><{$board_next.team_name}></td>
				<td><{$board_next.s_name}></td>
				<td><{$board_next.hit}></td>
				<td style="text-align: right;"><{$board_next.regdate}></td>
				</tr>
				<{assign var="sch_idx" value=$sch_idx+1}>
				<{/foreach}>
				<{/if}>
				</tbody>
			</table>
		<{/if}>
	</div> <!-- //table_contents_style -->
</div> <!-- //admin_content -->

<div class="modal" id="image-modal" style="max-width: 800px; padding: 0;">
	<div class="img-modal-content">
		<img src="" id="modal-img">
	</div>
</div>

<script type="text/javascript">

	Dropzone.autoDiscover = false;

	$(document).ready(function(){

		$("#comm_ord_type").change(function(){
			var search_url 	= $("#list_search_url").val();
			var no 			= $("#table_no").val();

			location.href='board_normal_detail.php?no='+no+"&comm_ord_type="+$(this).val()+"&"+search_url+"#f_comm_ord_type";
		});

        $("#f_s_name").autocomplete({
            source: function( request, response ) {
                $("#f_s_no").val('');
                $("#f_team").val('');
                $.ajax({
                    url: "/v1/api/staff.api.php",
                    dataType: "json",
                    data: {
                        s_name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                sno : item.s_no,
                                label : item.ss_label,
                                sname : item.ss_label,
                                team : item.team
                            }
                        }));
                    }
                });
            },
            select: function( event, ui ) {
                event.preventDefault();
                $("#f_s_no").val(ui.item.sno);
                $(this).val(ui.item.sname);
                $('#f_team').val(ui.item.team);
            },
            focus: function(event, ui) {
                return false;
            },
            minLength: 1
        });

		$("#is-unknown").change(function(){
			if($("#is-unknown").is(":checked")){
				$(".is-unknown-off-label").hide();
				$(".is-unknown-on-label").show();
				$(".new_comment_staff_name").text($(".org_unknown_name").val());
			}else{
				$(".is-unknown-off-label").show();
				$(".is-unknown-on-label").hide();
				$(".new_comment_staff_name").text($(".org_staff_name").val());
			}
		});

		$("#is-secret").change(function(){
			if($("#is-secret").is(":checked")){
				$(".is-secret-off-label").hide();
				$(".is-secret-on-label").show();
				$(".is_secret_comment").text("비밀 댓글입니다.");
			}else{
				$(".is-secret-off-label").show();
				$(".is-secret-on-label").hide();
				$(".is_secret_comment").text("");
			}
		});

        // 코멘트 이미지 업로드 & PREVIEW
        var commImage = $('#f_comm_img');

        commImage.on('change', function(){
            var fileSize 	= 0;
            var fileName	= "";
            var fileExt		= "";
            var previewWrap = $("#f_comm_img_preview");

            if($.browser && $.browser.msie){
                var objFSO 	 = new ActiveXObject("Scripting.FileSystemObject");
                var sPath 	 = $(this)[0].value;
                var objFile  = objFSO.getFile(sPath);
                fileSize 	 = objFile.size/ 1024;
                fileName	 = $(this)[0].text;
                fileExt  	 = fileName.slice(fileName.indexOf('.') + 1).toLowerCase();
            }else {
				fileSize 	 = (($(this)[0].files[0].size / 1024));
				fileName 	 = $(this)[0].files[0].name;
				fileExt  	 = fileName.slice(fileName.indexOf('.') + 1).toLowerCase();
            }

            //확장자 체크
            if(fileExt != 'jpg' && fileExt != 'jpeg' && fileExt != 'png' && fileExt != 'gif'){
                $(this).val("");
                alert("이미지만 등록할 수 있습니다.");
                return;
            }

            // 파일 사이즈 체크
            if(fileSize > 10*1024*1024) {
                $(this).val("");
                alert("10M 이상 파일은 등록하실 수 없습니다.");
                return;
            }

            // Preview 이미지 및 파일 이름 추출
            if (window.FileReader) {
                if (!$(this)[0].files[0].type.match(/image\//)) return;

                var reader 		= new FileReader();
                reader.onload 	= function (e) {
                    var src = e.target.result;
                    previewWrap.html('<img src="' + src + '">');
					previewWrap.show();
                    $("#f_comm_img_preview_del").show();
                }
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                $(this)[0].select();
                $(this)[0].blur();

                var imgSrc 	 = document.selection.createRange().text;
                previewWrap.html('<img src="' + imgSrc + '">');
                previewWrap.show();
                $("#f_comm_img_preview_del").show();
            }

        });

        // 코멘트 이미지 삭제
        $('#f_comm_img_preview_del').click(function(){
            $('#f_comm_img').val('');
            $('#f_comm_img_preview').html('');
            $('#f_comm_img_preview').hide();
            $("#f_comm_img_preview_del").hide();
        });
	});

    function moveBoardDetail(no)
    {
        var boardDetailUrl = "board_normal_detail.php?no="+no+"&"+$('#search_url').val();
        location.href = boardDetailUrl;
    }

    function moveBoardListCheckContent()
    {
        var title = $('#f_title').val();
        var content = CKEDITOR.instances['f_contents'].getData();
        var boardListUrl = "board_normal_list.php?"+$('#search_url').val();

        if(title != "" || content != "")
        {
            if(confirm("작성을 중단하고 목록으로 이동하시겠습니까?\r\n작성중인 내용은 지워집니다.")){
                location.href = boardListUrl;
            }
        }else{
            location.href = boardListUrl;
        }

        return false;
    }

    // 코멘트 이미지 모달
    function openCommentImage(img)
    {
        $("#modal-img").attr('src', $(img).attr('src'));
        $("#image-modal").modal({
            fadeDuration: 250
        });

    }

	function check_form() {
		var f = document.forms['board_normal_form'];
		if (cknull("f_title","TITLE 을")=="x") {return false;}
		if (cknull("f_contents","CONTENTS 를")=="x") {return false;}
		if (cknull("f_b_id","b_id를")=="x") {return false;}
		if (cknull("f_s_no","작성자를")=="x") {return false;}

		f.submit();
	}

	// 파일 다운받기
	function down_file() {
		var gsWin = window.open('about:blank','file download','width=400,height=300');
		var f = document.forms['board_normal_form'];
		f.target = "file download";
		f.process.value = 'down_file';
		f.folder.value = "board_normal";
		f.submit();
		f.target = "_self";
	}

	// 파일 삭제하기
	function del_file() {
		var f = document.forms['board_normal_form'];
		f.process.value = 'del_file';
		f.folder.value = "board_normal";
		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

	// 코멘트 삭제 처리
	function comment_delete(no){
		var f = document.forms['comment_frm'];

		f.process.value = "comment_delete";
		f.cmt_no.value = no;

		// 확인 체크
		if (confirm("정말로 삭제 하시겠습니까?") == true){ // 확인
			f.submit();
		} else { //취소
			return false;
		}
	}

	// 코멘트 추가 처리
	function comment_add(){
		var f = document.forms['comment_frm'];

		if (!f.f_comment_new.value) {
			alert("코멘트 내용을 작성해 주세요.");
			return false;
		}

		f.process.value = "comment_add";

		f.submit();
	}

	//게시글 삭제
	function del_board()
	{
		var f = document.board_normal_form;
		f.process.value='del_board';

		if (confirm("정말 삭제 하시겠습니까??") == true){ // 확인
			f.submit();
		}else{ //취소
			return;
		}
	}

    function comment_main_mod(f)
    {
        if (!f.f_comment.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_main_mod";
        f.submit();
    }

    // 서브코멘트 추가 처리
    function comment_sub_add(f)
	{
        if (!f.f_comment_new.value) {
            alert("코멘트 내용을 작성해 주세요.");
            return false;
        }

        f.process.value = "comment_sub_add";
        f.submit();
    }

	// 서브코멘트 수정 처리
	function comment_sub_mod(f)
	{
		if (!f.f_comment.value) {
			alert("코멘트 내용을 작성해 주세요.");
			return false;
		}

		f.process.value = "comment_sub_mod";
		f.submit();
	}

    // 서브코멘트 삭제 처리
    function comment_sub_delete(no)
	{
	    var f_name = "comment_frm_"+no;
	    var f = document.forms[f_name];

        if (confirm("정말로 삭제 하시겠습니까?") == true)
        { // 확인
            f.process.value = "comment_sub_delete";
            f.submit();
        } else { //취소
            return false;
        }
    }

    function openCommentForm(comment_no)
    {
    	var open_result = true;
        if($("#comment-form-write-"+comment_no).css("display") == "none"){
            open_result = false;
        }

		$(".comment-form-write").hide();
        if(open_result === false){
            $("#comment-form-write-"+comment_no).show();
            $("#comment-form-write-"+comment_no).find('textarea').focus();
        }
    }

	function openModifyCommentForm(comment_no, type)
	{
        if(type == 'main'){
            var open_result = true;
            if($(".main-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".main-comm-content").show();
            if(open_result === false){
                $(".main-comm-content-"+comment_no).hide();
                $(".main-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }else{
            var open_result = true;
            if($(".sub-comm-modify-"+comment_no).css("display") == "none"){
                open_result = false;
            }

            $(".comment-form-write").hide();
            $(".sub-comm-content").show();
            if(open_result === false){
                $(".sub-comm-content-"+comment_no).hide();
                $(".sub-comm-modify-"+comment_no).show();
                $(".comment-form-write-"+comment_no).find('textarea').focus();
            }
        }
	}

	function likeComment(comment_no, b_id, b_no, s_no)
	{
		if(!comment_no){
			alert('다시 시도해 주세요.');
		}

		$.ajax({
			url: "/v1/api/like.comment.api.php",
			type: 'POST',
			data: {"com_no": comment_no, "b_id": b_id, "b_no": b_no, "s_no": s_no}
		}).done( function( data ) {
			var jsonData 	= JSON.parse(data);
			var result   	= jsonData.result;
			var likeResult 	= jsonData.like_result;
			var likeCnt  	= jsonData.like_cnt;
			var msg   	 	= jsonData.msg;

			if(result == true)
			{
				if(likeResult == true)
				{
					if($("#like-"+comment_no).hasClass('comment-like-sel')){
						$("#like-"+comment_no).removeClass('comment-like-sel');
					}else{
						$("#like-"+comment_no).addClass('comment-like-sel');
					}

					$("#like-cnt-"+comment_no).text(likeCnt);
				}else{
					alert(msg);
				}
			}else{
				alert(msg);
			}
		});
	}

    function printPage(){
        var popupWindow = window.open("board_print.php?b_no=<{$no}>&b_name=board_normal");
    }

    <{if ($mode == 'modify' && $is_editable) || $mode == 'write' }>

	// Image Drop & Down
	var imageExt = ['jpg','jpeg','png','gif'];
	var myDropzone = new Dropzone("div#boardImageDropzone",
		{
			url:"../inc/dropzone_file_upload.php",
			addRemoveLinks: true,
			uploadMultiple: true,
			parallelUploads: 1,
			thumbnailWidth: 120,
			thumbnailHeight: 100,
			maxFiles: 5,
			maxFilesize: 10,
			init: function(){
                <{if $mode == 'modify' && $file_count > 0 }>
					<{foreach from=$file_read key=key item=file_path}>
						var mockFile<{$key}> = {name: "<{$file_name[$key]}>", size: 12345};
						this.options.addedfile.call(this, mockFile<{$key}>);

						var file_path = '<{$file_path}>';
						var file_type = file_path.split('.',2)[1];
						file_type = file_type.toLowerCase();

						if(file_type != "" && imageExt.indexOf(file_type) != -1){
							this.options.thumbnail.call(this, mockFile<{$key}>, "../uploads/<{$file_path}>");
						}

						var html = '<div><input type="hidden" name="file_name[]" class="board_file_name" value="<{$file_name[$key]}>">';
						html += '<input type="hidden" name="file_path[]" class="board_file_path" value="<{$file_path}>"></div>';
						$("#board_normal_form").append(html);
					<{/foreach}>
				<{/if}>
			},
			thumbnail: function(file, dataUrl){
				if (file.previewElement) {
					file.previewElement.classList.remove("dz-file-preview");
					file.previewElement.classList.add("dz-complete");
					var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
					for (var i = 0; i < images.length; i++) {
						var thumbnailElement = images[i];
						thumbnailElement.alt = file.name;
						thumbnailElement.src = dataUrl;
					}
					setTimeout(function () {
						file.previewElement.classList.add("dz-image-preview");
					}, 1);
				}
			},
			maxfilesexceeded: function(file){
				alert('파일은 5개까지 업로드 할 수 있습니다');
				this.removeFile(file);
			},
			success: function(file, response){
				var result   = JSON.parse(response);
				var fileName  = result.fileName;
				var filePath  = result.filePath;
				var fileType  = result.fileType;
				var fileCount = $('#file_count').val();

				if(fileCount >= 5){
					this.removeFile(file);
					alert('파일은 5개까지 업로드 할 수 있습니다');
					return;
				}

				if(filePath != '')
				{
					file.previewElement.classList.add("dz-success");

					var html = '<div><input type="hidden" name="file_name[]" class="board_file_name" value="'+fileName+'">';
					html += '<input type="hidden" name="file_path[]" class="board_file_path" value="'+filePath+'"></div>';

					$("#board_normal_form").append(html);
					$('#file_count').val($(".board_file_name").length);
					$('#file_chk').val(1);
				}
			}
		}
	);

	myDropzone.on('removedfile', function(file){
		var removeFileName = file.name;
		var fileNameList = $(".board_file_name");

		if(fileNameList.length > 0){
			$.each(fileNameList, function(idx, fileName){
				if(removeFileName == fileName.value){
					$(fileName).parent('div').remove();
				}
			});
		}

		$('#file_count').val($(".board_file_name").length);
        $('#file_chk').val(1);
	});
	<{/if}>
</script>

</body>
</html>
