<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.form-group label{margin: 0 5px 0 15px;}
	.form-group select, .form-group input{font-size: 12px;}
	.form-group .tlt{margin: 0 5px;}
	.admin_content table thead th{vertical-align: middle;}
	.admin_content table tbody td{vertical-align: middle;}
	.admin_content table tbody select{font-size: 12px; padding: 5px; width: 120px;}
	.admin_content table tbody textarea{padding: 5px; width: 120px; font-size: 12px;}
</style>

<div class="admin_content" style="max-width: 1200px;">
	<h2 class="title" style="margin-bottom: 10px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>

	<form name="search_form" class="form-inline" action="board_comment_list.php" method="get" autocomplete="off">
		<input type="hidden" name="ord_page_type" id="ord_page_type_hidden" value="<{$ord_page_type}>" />

		<div class="form-group">
			<label for="sch_no">NO</label>
			<input type="text" id="sch_no" class="form-control" name="sch_no" value="<{$sch_no}>" style="width: 80px;" />

			<label for="sch_b_id">게시판명</label>
			<select name="sch_b_id" id="sch_b_id" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$board_type_list key=key item=label}>
				<option value="<{$key}>" <{if $sch_b_id == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_comment">댓글</label>
			<input type="text" name="sch_comment" id="sch_comment" class="form-control" value="<{$sch_comment}>" style="width: 200px;" placeholder="댓글" />

			<label for="sch_team">소속부서</label>
			<select name="sch_team" id="sch_team" class="form-control" style="margin-right:10px">
				<{foreach from=$sch_team_list key=team_code item=label}>
				<option value="<{$team_code}>" <{if $sch_team== $team_code}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_s_name">작성자</label>
			<input type="text" name="sch_s_name" id="sch_s_name" class="form-control" value="<{$sch_s_name}>" style="width: 150px;" placeholder="작성자" />

			<label for="sch_secret">비밀</label>
			<select name="sch_secret" id="sch_secret" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$secret_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_secret == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_unknown">익명</label>
			<select name="sch_unknown" id="sch_unknown" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$unknown_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_unknown == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<label for="sch_display">DISPLAY</label>
			<select name="sch_display" id="sch_display" class="form-control">
				<option value="">::전체::</option>
				<{foreach from=$display_option key=key item=label}>
				<option value="<{$key}>" <{if $sch_display == $key}>selected<{/if}>><{$label}></option>
				<{/foreach}>
			</select>

			<button type="submit" class="btn btn-sm btn-dark font-weight-bold" style="font-size:12px;">검색</button>
		</div>
	</form>


	<table class="table table-striped table-bordered" style="margin-top: 20px; table-layout: fixed;">
		<colgroup>
			<col width="60px;">
			<col width="120px;">
			<col width="100px;">
			<col width="300px;">
			<col width="200px;">
			<col width="100px;">
			<col width="120px;">
			<col width="60px;">
			<col width="60px;">
			<col width="80px;">
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<td colspan="10" style="padding: 5px;">
					<select name="ord_page_type" id="ord_page_type" class="select_type5" style="width: 100px;float: right;" onchange="normal_search();">
						<{foreach from=$page_type_option item=page_type}>
						<option value="<{$page_type}>" <{if $ord_page_type == $page_type}>selected<{/if}>><{$page_type}>개씩 보기</option>
						<{/foreach}>
					</select>
				</td>
			</tr>
			<tr>
				<th scope="col" rowspan="2" style="height: 50px;">NO</th>
				<th scope="col" rowspan="2">게시판명</th>
				<th scope="col" rowspan="2">게시글 보기</th>
				<th scope="col" rowspan="2">댓글</th>
				<th scope="col" rowspan="2">부서 > 팀</th>
				<th scope="col" rowspan="2">작성자</th>
				<th scope="col" rowspan="2">작성일시</th>
				<th scope="col" rowspan="2">비밀</th>
				<th scope="col" rowspan="2">익명</th>
				<th scope="col" rowspan="2">DISPLAY</th>
			</tr>
		</thead>
		<tbody>
			<{if $total_num > 0 && $comment_list}>
				<{foreach from=$comment_list item=comment}>
				<tr>
					<td class="text-center"><!-- NO -->
						<{$comment.no}>
					</td>
					<td class="text-center"><!-- 게시판명 -->
						<{$comment.b_name}>
					</td>
					<td class="text-center"><!-- 게시글 보기 -->
						<a href="<{$comment.b_url}>" target="_blank" style="color:white; background: #333; display: inline-block; padding: 1px 8px; border-radius: 5px;">게시글 보기</a>
					</td>
					<td class="text-left"><!-- 댓글 -->
						<{if $comment.is_secret == '1'}>
							<span style="color: red;">비밀</span>
						<{else}>
							<{$comment.comment}>
						<{/if}>
					</td>
					<td class="text-left"><!-- 부서 > 팀 -->
						<{if $comment.is_unknown == '1'}>
						<span style="color: red;">익명</span>
						<{else}>
							<{$comment.team_name}>
						<{/if}>
					</td>
					<td class="text-center"><!-- 작성자 -->
						<{if $comment.is_unknown == '1'}>
							<span style="color: red;">익명</span>
						<{else}>
							<{$comment.s_name}>
						<{/if}>
					</td>
					<td class="text-center"><!-- 작성일시 -->
						<span style="color: blue;"><{$comment.reg_date}></span>
						<span><{$comment.reg_time}></span>
					</td>
					<td class="text-center"><!-- 비밀 -->
						<{if $comment.is_secret == '1'}>
						O
						<{/if}>
					</td>
					<td class="text-center"><!-- 익명 -->
						<{if $comment.is_unknown == '1'}>
						O
						<{/if}>
					</td>
					<td class="text-center"><!-- DISPLAY -->
						<{if $comment.display == '1'}>
							ON
						<{else}>
							OFF
						<{/if}>
					</td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="10" class="text-center">데이터가 없습니다</td>
				</tr>
			<{/if}>
			<tr>
				<td colspan="10" class="paging_wrap">
					<div class="paging_wrap">
						<{$page_list}>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //admin_content -->

<script>
	$(document).ready(function(){
        $("#sch_team").combobox();
	});

    function normal_search() {
        var f = document.forms['search_form'];
        var ord_page   = $("#ord_page_type").val();

        $("#ord_page_type_hidden").val(ord_page);

        f.submit();
    }
</script>

</body>
</html>
