<{include file="inc/iframe_navibar.html"}>

<style type="text/css">
	body{margin-top: -20px;min-height: 200px;}
	.admin_content{width: 1190px; min-width: 805px !important; box-sizing: border-box; margin: 0 !important; padding: 0 !important;}
	.admin_content table td{vertical-align: middle;}
	.table td, .table th{padding: 0.4rem; vertical-align: middle;}
	.table thead th{vertical-align: middle;}
	.table tbody .form-control{font-size: 11px;}
	.table tbody button{padding: .12rem .7rem;}
</style>

<div class="admin_content">
	<table class="table table-striped table-bordered" style="max-width: 1190px; margin-top: 20px;">
		<colgroup>
			<col width="50px;" />
			<col width="500px;" />
			<col width="250px;" />
			<col width="30px;" />
			<col width="200px">
			<col width="70px;" />
		</colgroup>
		<thead class="thead-dark text-center">
			<tr>
				<th scope="col">NO</th>
				<th scope="col">URL</th>
				<th scope="col">PARAMETER</th>
				<th scope="col">NEW POPUP</th>
				<th scope="col">MEMO</th>
				<th scope="col">추가/삭제</th>
			</tr>
		</thead>
		<tbody>
		<{if $guide_url_list}>
			<{foreach from=$guide_url_list item=guide_url}>
			<form name="apply_frm<{$guide_url.u_no}>" id="apply_frm<{$guide_url.u_no}>" class="apply_frm" action="board_guide_url.php" method="post" onsubmit="return false;" >
				<input type="hidden" name="u_no" value="<{$guide_url.u_no}>">
				<input type="hidden" name="b_no" value="<{$guide_url.b_no}>">
				<input type="hidden" name="process" value="">
				<tr>
					<td class="text-center" style="padding:0;">
						<{$guide_url.u_no}>
					</td>
					<td>
						<input type="text" name="url" class="form-control" value="<{$guide_url.url}>" onchange="save_el('<{$guide_url.u_no}>', 'save_url', this)" <{if $mode != 'modify'}>readonly<{/if}>>
					</td>
					<td>
						<input type="text" name="parameter" class="form-control" value="<{$guide_url.parameter}>" onchange="save_el('<{$guide_url.u_no}>', 'save_param', this)"  <{if $mode != 'modify'}>readonly<{/if}>>
					</td>
					<td style="text-align: center;">
						<input type="checkbox" name="new_popup" class="form-control new_popup" value="1" attr-no="<{$guide_url.u_no}>" style="width: 15px; display: inline-block;" <{if $guide_url.new_popup == '1'}>checked<{/if}> <{if $mode != 'modify'}>disabled<{/if}>>
					</td>
					<td>
						<input type="text" name="memo" class="form-control" value="<{$guide_url.memo}>" onchange="save_el('<{$guide_url.u_no}>', 'save_memo', this)" <{if $mode != 'modify'}>readonly<{/if}>>
					</td>
					<td style="text-align: center;">
						<{if $mode == 'modify'}>
						<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 12px;" onclick="del_url('<{$guide_url.u_no}>')">삭제</button>
						<{/if}>
					</td>
				</tr>
			</form>
			<{/foreach}>
		<{/if}>
		<{if $mode != 'read'}>
		<form name="new_guide_frm" id="new_guide_frm" class="new_guide_frm" action="board_guide_url.php" method="post">
			<input type="hidden" name="b_no" value="<{$b_no}>">
			<input type="hidden" name="mode" value="<{$mode}>">
			<input type="hidden" name="process" value="new_guide_url">
			<tr>
				<td class="text-center" style="padding:0;">

				</td>
				<td>
					<input type="text" name="new_url" id="new_url" class="form-control" value="">
				</td>
				<td>
					<input type="text" name="new_parameter" id="new_parameter" class="form-control" value="">
				</td>
				<td style="text-align: center;">
					<input type="checkbox" name="new_popup" id="new_popup" class="form-control" style="width: 15px; display: inline-block;" value="1">
				</td>
				<td>
					<input type="text" name="new_memo" id="new_memo" class="form-control" value="">
				</td>
				<td style="text-align: center;">
					<button type="button" class="btn btn-dark font-weight-bold" style="font-size: 12px;" onclick="check_form(document.new_guide_frm)">추가</button>
				</td>
			</tr>
		</form>
		<{/if}>
		</tbody>
	</table>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		$(".new_popup").click(function(){
			var u_no  = $(this).attr("attr-no");
			var value = $(this).is(":checked") ? 1 : 0;

			var obj     = $(this);
			var x 		= obj.position();
			var d_msg 	= $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

			$.post("board_guide_url.php", {u_no : u_no, process:"save_popup", value: value}, function(result){
				d_msg.appendTo(obj.closest('td')).html(result).fadeOut(2000);
			});
		});
	});

    // 삭제 처리하기
    function del_url(u_no)
    {
        eval("var f=document.getElementById('apply_frm" + u_no + "');");
		f.process.value='del_guide_url';
        if (confirm("삭제 하시겠습니까?") == true)
        { // 확인
            f.submit();
        } else
        { //취소
            return;
        }
    }

    // 저장시 필수값 체크
    function check_form(f)
    {
        var new_url = $("#new_url").val();
        new_url = checkUrl(new_url);
        $("#new_url").val(new_url);

        if(cknull("new_url") == "x" ) {
            alert("URL을 입력해주세요");
            return false;
        }

        f.submit();
    }

    // 빈값 체크 함수
    function cknull(vid) {
        if ($("#"+vid).val()=="") {
            $("#"+vid).focus();
            return "x";
        } else {
            return "o";
        }
    }

    function save_el(no, proc, obj)
    {
        var f = obj.form;
        var val = obj.value;
        var default_val = obj.defaultValue;

        var x = $(obj).position();
        var d_msg = $('<div>').css({position:'absolute', top:x.top + 35, left:x.left + 0, width:'230px', textAlign:'left', fontWeight:'normal', background:'#d2e9ff', color:'#000', padding:'5px'});

        if (default_val && val == default_val)
            return false;

        if ($(obj).prop('disabled') == true || $(obj).prop('readonly') == true)
            return false;

        if(proc == 'save_url'){
            val = checkUrl(val);
            $(obj).val(val);
		}

        $.post("board_guide_url.php", {u_no : no, process:proc, value: val}, function(result){
            d_msg.appendTo($(obj).closest('td')).html(result).fadeOut(2000);
        });
    }

    function checkUrl(url)
	{
    	var chk_url = url;
        chk_url = chk_url.replace(" ", "");
        chk_url = chk_url.replace("https://", "");
        chk_url = chk_url.replace("http://http://", "");
        chk_url = chk_url.replace("http://", "");

        return chk_url;
    }
</script>
</body>
</html>
