<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 1584px; color: #333;}
	.top-side{overflow: hidden;}
	.top-side article{float: left; width: 1200px; min-height: 500px; background: #eee; padding: 20px;}
	.top-side h5{font-weight: bold;}
	.wm-withdraw table thead th{background: #333; color: white; text-align: center; height: 40px; font-weight: 400;}
	.wm-withdraw table tbody td{background: white; padding-left: 5px; text-align: center; border: 1px solid #CCC; height: 40px;}
	.table th,.table td{vertical-align: middle;}
	.table-bordered td{border: 1px solid #BBB;}
	#search_form .form-control{font-size: 12px; padding: 3px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 20px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<div class="top-side">
		<article class="wm-withdraw">
			<h5 style="margin-bottom: 20px;">출금 승인 현황<a href="/v1/withdraw_list.php?sch_wd_quick=&ord_page_type=100&sch_my_c_no=&sch_wd_account=&sch_c_name=&sch_prd_no=&sch_subject=&sch_brand_g1=&sch_brand_g2=&sch_brand=&sch_w_my_c_no=&sch_w_c_name=&sch_w_team=all&sch_w_s_name=&sch_wd_no=&sch_w_req_date=&sch_wd_state=&sch_wd_method=1&sch_s_wd_date=&sch_e_wd_date=&sch_is_inspection=&sch_is_approve=&sch_reg_s_no=김진주&sch_wd_tax_state=&sch_wd_etc=" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>

			<table class="table" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="first" style="min-width:150px; max-width:150px;"></th>
						<{foreach $withdraw_date_list key=date_key item=date_data}>
							<th style="min-width:90px;"><{$date_data.title}></th>
						<{/foreach}>
						<th style="min-width:90px;">total<br/><span style="font-size: 10px;">승인대기/등록수</span></th>
					</tr>
				</thead>
				<tbody>
					<{foreach from=$withdraw_prd_list key=prd_key item=prd_label}>
						<tr>
							<td class="first text-left"><{$prd_label}></td>
							<{foreach $withdraw_date_list key=date_key item=date_data}>
								<{assign var=withdraw_data value=$withdraw_list[$prd_key][$date_key]}>
								<td>
									<a href="/v1/withdraw_list.php?sch_wd_quick=&ord_page_type=100&sch_my_c_no=&sch_wd_account=&sch_c_name=&sch_prd_no=&sch_subject=&sch_brand_g1=&sch_brand_g2=&sch_brand=&sch_w_my_c_no=&sch_w_c_name=&sch_w_team=all&sch_w_s_name=&sch_wd_no=&sch_w_req_date=<{$date_data.date}>&sch_wd_state=&sch_wd_method=1&sch_s_wd_date=&sch_e_wd_date=&sch_is_inspection=&sch_is_approve=&sch_reg_s_no=김진주&sch_wd_tax_state=&sch_wd_etc=" target="_blank" <{if $withdraw_data.wait > 0}>style="color: red;"<{else}>style="color: lightgrey;"<{/if}>>
										<{$withdraw_data.wait|number_format:0}>/<{$withdraw_data.total|number_format:0}>
									</a>
								</td>
							<{/foreach}>
							<td <{if $withdraw_list[$prd_key]['total'].wait > 0}>style="color: red;"<{else}>style="color: lightgrey;"<{/if}>>
								<a href="/v1/withdraw_list.php?sch_wd_quick=&ord_page_type=100&sch_my_c_no=&sch_wd_account=&sch_c_name=&sch_prd_no=<{$prd_key}>&sch_subject=&sch_brand_g1=&sch_brand_g2=&sch_brand=&sch_w_my_c_no=&sch_w_c_name=&sch_w_team=all&sch_w_s_name=&sch_wd_no=&sch_w_req_date=&sch_wd_state=&sch_wd_method=1&sch_s_wd_date=&sch_e_wd_date=&sch_is_inspection=&sch_is_approve=&sch_reg_s_no=김진주&sch_wd_tax_state=&sch_wd_etc=" target="_blank" <{if $withdraw_list[$prd_key]['total'].wait > 0}>style="color: red;"<{else}>style="color: lightgrey;"<{/if}>>
									<{$withdraw_list[$prd_key]['total'].wait|number_format:0}>/<{$withdraw_list[$prd_key]['total'].total|number_format:0}>
								</a>
							</td>
						</tr>
					<{/foreach}>
				</tbody>
			</table>
		</article>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

	});
</script>
</body>
</html>
