<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 1584px; color: #333;}
	.top-side, .main-side{overflow: hidden; width: 1215px;}
	.top-side .left-side{float: left;}
	.top-side .right-side{float: right; margin-left: 15px;}
	.top-side article{width: 600px; min-height: 400px; background: #eee; padding: 20px;}
	.top-side h5{font-weight: bold;}
	.top-side .wm-text section h5{letter-spacing: -1px;}
	.top-side .wm-text section div{width: 460px; height: 150px; margin-top: 10px; padding: 10px; font-size: 13px; font-weight: bold; background: white; float: left; margin-right: 10px;}
	.top-side .wm-text section button{color: white; font-weight: bold; padding: 30px 10px; height: 150px; margin-top: 10px; border-radius: 10px; width: 85px;}

	.wm-calendar table thead th{background: #333; color: white; text-align: center; height: 30px; vertical-align: middle; font-weight: 400;}
	.wm-calendar table tbody tr{background: white;}
	.wm-calendar table tbody td{vertical-align: middle;}
	.table-bordered td{border: 1px solid #BBB;}

	.wm-board table thead th{background: #333; color: white; text-align: center; height: 40px; font-weight: 400;}
	.wm-board table tbody td{background: white; padding-left: 5px; text-align: center; border-bottom: 1px solid #eee; height: 50px;}

	.cate_btn{background-color: #EEE; font-weight: bold; width: 120px; height: 30px; margin: 0; line-height: 12px; float: left; font-size: 12px; border-radius: 10px 10px 0 0; border: 1px solid #999; padding:0;}
	.cate_btn_active{background-color: #CCC;}

	.calendar-wrapper{display: none;}
	.calendar-wrapper-0{display: table-row-group;}

	#calendar-modal{padding: 20px; height: auto; margin: 0; max-width: unset; min-width: 1020px; width: auto; overflow: unset;}
	.modal-content{border: 0;}
	.modal-content h2{color: red; font-size: 25px; font-weight: bold; margin-bottom: 20px;}
	.modal-content p{margin: 5px 0 15px; font-size: 12px;font-weight: bold;}
	.modal-content table{margin: 0;}

	.wm-logistics-request, .wm-logistics-order{margin-top: 15px;}
	.wm-logistics-request table thead th, .wm-logistics-order table thead th{background: #333; color: white; text-align: center; height: 30px; font-weight: 400;}
	.wm-logistics-request table tbody td, .wm-logistics-order table tbody td{background: white; padding-left: 5px; text-align: center; border-bottom: 1px solid #eee; }

	.main-side{margin-top: 20px;}
	.main-side article{min-height: 400px; background: #eee; padding: 20px;}

	.wm-stock-other #search_form .name_tit{margin-right: 10px;}
	.wm-stock-other #search_form .form-control{display: inline-block; font-size: 12px; padding: 3px; width: auto;}
	.wm-stock-other #search_form .month-picker{width: 80px;}

	.table_list_style table th, .table_list_style table td{vertical-align: middle; background: white;}
	.table_list_style table th{font-weight: bold; text-align: center; color: black !important;}
	.table_list_style table tbody td{padding: 10px;}
	.background-red{background: rgb(255,242,204) !important;}
	.background-blue{background: rgb(221,235,247) !important; padding:10px !important;}
	.background-gray{background: rgb(242,242,242) !important;}
	.background-green{background: rgb(226,239,218) !important;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 20px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<div class="top-side">
		<div class="left-side">
			<article class="wm-calendar">
				<h5 style="margin-bottom: 20px;">입고관리 캘린더<a href="/v1/calendar/calendar_schedule.php?cal_id=inoutwith" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<span style="font-size: 12px;">TODAY = <{$cur_date_name}> ±10일</span>

				<div style="margin-top: 10px; margin-bottom: 5px; overflow: hidden;">
					<{foreach from=$inout_category_count_list key=key item=inout_category_data}>
						<button type="button" id="cate_btn_<{$key}>" class="btn cate_btn <{if $key == '0'}>cate_btn_active<{/if}>" onclick="showInoutCateTable('<{$key}>')">
							<{$inout_category_data['title']}> (<{$inout_category_data['count']}>)
						</button>
					<{/foreach}>
				</div>

				<table id="inout_calendar_table" class="table table-bordered">
					<thead>
						<tr>
							<th class="first" style="min-width:110px;">날짜</th>
							<th style="min-width:300px;">제목</th>
							<th style="min-width:60px;">파일첨부</th>
							<th style="min-width:60px;">댓글수</th>
						</tr>
					</thead>
					<{if $inout_calendar_list}>
						<{foreach from=$inout_category_count_list key=key item=inout_category_data}>
							<{assign var=color_idx value=0}>
							<tbody class="calendar-wrapper calendar-wrapper-<{$key}>">
								<{foreach from=$inout_calendar_list[$key] item=inout_calendar}>
									<tr <{if $color_idx%2 == '0'}>style="background: #ebebeb;"<{/if}>>
										<td class="first text-center">
											<{$inout_calendar.cs_date_name}> <{$inout_calendar.cs_date_time}>
										</td>
										<td class="text-left">
											<a href="javascript:void(0);" onclick="openCalendarModel('<{$inout_calendar.cs_no}>','<{$inout_calendar.cs_date}>')" style="text-decoration: none; font-weight: bold; line-height: 25px;">
												<{$inout_calendar.cs_title}>
											</a>
											<{if $key == '0' && $inout_calendar.sms_comment == 0}>
												<button type="button" onclick="window.open('/v1/work_cms_sms_popup.php?type=stock_calendar&staff_type=1&cal_cs_no=<{$inout_calendar.cs_no}>', '배차정보 문자발송','width=600, height=600, toolbar=no, menubar=no, scrollbars=yes, resizable=yes');" class="btn_file" style="padding: 4px 7px; background: #4CAF50; font-weight: bold; float: right;"><span>배차정보 문자발송</span></button>
											<{/if}>
										</td>
										<td class="text-center">
											<{if $inout_calendar.file_list}>
												<{foreach from=$inout_calendar.file_list item=inout_file}>
													<a type="application/octet-stream" href="../uploads/<{$inout_file['file_path']}>" download="<{$inout_file['file_name']}>" title="<{$inout_file['file_name']}>">
														<img src="../images/common/ico/ico_file.gif" alt="<{$inout_file['file_name']}>" style="margin-top: -3px; margin-right: 3px;">
													</a>
												<{/foreach}>
											<{/if}>
										</td>
										<td class="text-center"><{$inout_calendar.csc_cnt}></td>
									</tr>
									<{assign var=color_idx value=$color_idx+1}>
								<{/foreach}>
							</tbody>
						<{/foreach}>
					<{/if}>
				</table>

				<div class="chk_inout_wrapper" style="margin-top: 50px;">
					<{if $chk_inout_calendar_list}>
						입고예정 임박(업무일 기준 3일 이내)
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="first" style="min-width:65px;">날짜</th>
									<th style="min-width:430px;">캘린더 제목</th>
								</tr>
							</thead>
							<tbody>
								<{foreach from=$chk_inout_calendar_list item=chk_inout_calendar}>
									<tr>
										<td class="text-center">
											<{$chk_inout_calendar.cs_date_name}>
											<{if $chk_inout_calendar.is_today}>
												<br/><span style="color: red;">Today</span>
											<{/if}>
										</td>
										<td class="text-left">
											<{$chk_inout_calendar.title}>
										</td>
									</tr>
								<{/foreach}>
							</tbody>
						</table>
					<{/if}>
				</div>
			</article>

			<article class="wm-logistics-request">
				<h5 style="font-weight: bold; margin-bottom: 20px;">물류관리시스템 :: 물류요청처리<a href="/v1/logistics_management.php?sch_reg_s_date=&sch_reg_e_date=&sch_delivery_type=5" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="first" style="min-width:60px;">작성일</th>
							<th style="min-width:80px;">진행상태</th>
							<th style="min-width:60px;">업무요청자</th>
							<th style="min-width:60px;">출고희망일</th>
							<th style="min-width:60px;">입고/반출</th>
							<th style="min-width:80px;">반출::계정과목</th>
							<th style="min-width:100px;">납품업체</th>
						</tr>
					</thead>
					<tbody>
						<{if $log_request_list}>
							<{foreach from=$log_request_list item=log_request}>
								<tr>
									<td class="text-center"><{$log_request.reg_day}></td>
									<td class="text-center" style="color: <{$log_request.state_color}>;"><{$log_request.state_name}></td>
									<td class="text-center"><{$log_request.req_s_name}></td>
									<td class="text-center"><{$log_request.req_day}></td>
									<td class="text-center"><{$log_request.stock_name}></td>
									<td class="text-center"><{$log_request.subject_name}></td>
									<td class="text-left"><{$log_request.run_c_name}></td>
								</tr>
							<{/foreach}>
						<{else}>
							<tr>
								<td colspan="7">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>

				<{if $chk_log_request_list}>
					<div class="chk_log_req_wrapper" style="margin-top: 40px;">
						<span style="color: red;">※ 주의 출고희망일 임박 미완료 건이 있습니다. (업무일 기준 3일 이내)</span>
						<{foreach from=$chk_log_request_list key=key_date item=chk_log_request}>
							<div style="font-size: 14px;">
								출고희망일 <{$chk_log_request.req_date_name}> <{$chk_log_request.cnt|number_format:0}>건
								<span style="color: red; margin: 0 5px;">
									<{if $chk_log_request.req_left_day == 0}>
										Today
									<{else}>
										D-<{$chk_log_request.req_left_day}>
									<{/if}>
								</span>
								<a href="/v1/logistics_management.php?sch_reg_s_date=&sch_reg_e_date=&sch_delivery_type=5&sch_quick_req_date=<{$chk_log_request.quick_req_date}>" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</div>
						<{/foreach}>
					</div>
				<{/if}>
			</article>

			<article class="wm-logistics-order">
				<h5 style="font-weight: bold; margin-bottom: 20px;">물류관리시스템 :: 발주요청처리<a href="/v1/logistics_management.php?sch_reg_s_date=&sch_reg_e_date=&sch_delivery_type=4" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="first" style="min-width:60px;">작성일</th>
							<th style="min-width:80px;">진행상태</th>
							<th style="min-width:60px;">업무요청자</th>
							<th style="min-width:300px;">구성품목(SKU)</th>
						</tr>
					</thead>
					<tbody>
						<{if $log_order_list}>
							<{foreach from=$log_order_list item=log_order}>
								<tr>
									<td class="text-center"><{$log_order.reg_day}></td>
									<td class="text-center" style="color: <{$log_order.state_color}>;"><{$log_order.state_name}></td>
									<td class="text-center"><{$log_order.req_s_name}></td>
									<td class="text-left">
										<{$log_order.prd_name}>
										<{if $log_order.prd_cnt > 0}>
											<span style="color: grey; font-size: 11px;">(외 <{$log_order.prd_cnt|number_format:0}>종)</span>
										<{/if}>
									</td>
								</tr>
							<{/foreach}>
						<{else}>
							<tr>
								<td colspan="4">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
			</article>
		</div>

		<div class="right-side">
			<article class="wm-board">
				<h5 style="font-weight: bold; margin-bottom: 20px;">[상품개발 관리실] 제품개발 진행 현황<a href="/v1/board/board_normal_list.php?b_id=new_product&sch_category=진행중" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
				<span style="font-size: 12px;">CATEGORY = 진행중</span>

				<table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="first" style="min-width:320px; max-width:320px;">TITLE</th>
							<th style="min-width:100px;">WRITER</th>
							<th style="min-width:40px;">HIT</th>
							<th style="min-width:100px;">DATE</th>
						</tr>
					</thead>
					<tbody>
						<{if $board_total_cnt == 0}>
							<tr>
								<td colspan="4" class="first" style="text-align: center; height: 30px;"> 등록된 자료가 없습니다.</td>
							</tr>
						<{else}>
							<{foreach from=$board_content_list item=board_data}>
								<tr>
									<td class="first" style="text-align: left;">
										<a href="/v1/board/board_normal_detail.php?no=<{$board_data.no}>&b_id=new_product" ><{$board_data.title}></a>
									</td>
									<td><{$board_data.writer}></td>
									<td><{$board_data.hit}></td>
									<td><span style="color: blue;"><{$board_data.reg_date}></span><br/><span style="color: green;"><{$board_data.reg_time}></span></td>
								</tr>
							<{/foreach}>
						<{/if}>
					</tbody>
				</table>
			</article>
		</div>
	</div>

	<div class="main-side">
		<article class="wm-stock-other">
			<h5 style="font-weight: bold; margin-bottom: 20px;">타계정반출<a href="/v1/product_cms_stock_other_list.php?<{$other_search_url}>" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>

			<form name="search_form" id="search_form" action="work_main.php" method="get" autocomplete="off">
				<input type="hidden" name="sch_work" value="product">
				<div class="default_wrap" style="color: #1c7198; margin: 10px 0;">
					<div class="left_wrap">
						<span class="name_tit">일자</span>
						<input type="text" name="sch_other_move_mon" id="sch_other_move_mon" class="month-picker form-control" value="<{$sch_other_move_mon}>">
						<span style="margin-right:15px;"></span>

						<label for="sch_other_brand_g1" style="margin-left: 0; font-weight: bold;">브랜드</label>
						<select name="sch_other_brand_g1" id="sch_other_brand_g1" class="form-control" style="min-width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_other_brand_g1_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_other_brand_g1 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_other_brand_g2" id="sch_other_brand_g2" class="form-control" style="min-width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_other_brand_g2_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_other_brand_g2 == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span class="tlt"> > </span>
						<select name="sch_other_brand" id="sch_other_brand" class="form-control" style="min-width: 100px;">
							<option value="">::전체::</option>
							<{foreach from=$sch_other_brand_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_other_brand == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>

						<button type="submit" class="btn_small" style="width:58px; height:27px;">검색</button>
					</div>
				</div>
			</form>

			<div class="table_list_style">
				<table class="table table-bordered" id="other_table" cellpadding="0" cellspacing="0"  style="width: auto;">
					<thead class="text-center">
						<tr>
							<th class="first background-blue" style="height: 30px;">합계</th>
							<th class="background-blue text-right"><{$stock_other_total_list[1]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list[9]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list[2]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list[3]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list[4]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list[5]|number_format:0}></th>
							<th class="background-blue text-right"><{$stock_other_total_list['total']|number_format:0}></th>
						</tr>
						<tr>
							<th class="first background-gray" style="min-width:300px; width: 300px; height: 60px;">구성품명</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								광고선전비
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=1" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								시딩출고
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=9" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								소모품비
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=2" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								접대비
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=3" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								복리후생비
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=4" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">
								폐기손실
								<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_confirm_state=10&sch_log_subject=5" target="_blank">
									<img src="../images/icon/new_win_icon.png">
								</a>
							</th>
							<th class="background-gray" style="min-width:100px; width: 120px;">합계</th>
						</tr>
					</thead>
					<tbody>
						<{if $stock_other_report_list}>
							<{foreach from=$stock_other_report_list item=stock_other_report}>
								<tr>
									<td class="first background-red text-left" style="height: 30px"> <!--구성품명 -->
										<{$stock_other_report.name}>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[1]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=1" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[9]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=9" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[2]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=2" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[3]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=3" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[4]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=4" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right"> <!--수량 -->
										<{$stock_other_report[5]|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10&sch_log_subject=5" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
									<td class="text-right background-green"> <!--수량 -->
										<{$stock_other_report['total']|number_format:0}>
										<a href="/v1/product_cms_stock_report_list.php?sch_s_regdate=<{$sch_other_move_s_date}>&sch_e_regdate=<{$sch_other_move_e_date}>&sch_prd_sku=<{$stock_other_report.sku}>&sch_confirm_state=10" target="_blank">
											<img src="../images/icon/new_win_icon.png">
										</a>
									</td>
								</tr>
							<{/foreach}>
						<{/if}>
					</tbody>
				</table>
			</div>
		</article>
	</div>
</div>

<div class="modal" id="calendar-modal">
	<div class="modal-content">
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_other_brand_g2").remoteChained({
			parents: "#sch_other_brand_g1",
			url: "/v1/api/kind.select.json.php?parent_data=sch_other_brand_g1&sch_group=sch_kind_g1&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});

		$("#sch_other_brand").remoteChained({
			parents: "#sch_other_brand_g2",
			url: "/v1/api/kind.select.json.php?parent_data=sch_other_brand_g2&sch_group=sch_kind_g2&sch_group_type=domestic&sch_type=brand",
			loading: "로딩중..",
			clear: true
		});
	});

	function showInoutCateTable(key)
	{
		$(".cate_btn").removeClass("cate_btn_active");
		$("#cate_btn_"+key).addClass("cate_btn_active");
		$(".calendar-wrapper").hide();
		$(".calendar-wrapper-"+key).show();

	}

	function openCalendarModel(cs_no, cs_sel_day)
	{
		$(".modal-content").html("");
		var iframe = "<iframe src='/v1/calendar/calendar_schedule_regist.php?cal_id=inoutwith&cs_sel_day="+cs_sel_day+"&cs_no="+cs_no+"' name='calendar_schedule_regist' id='calendar_schedule_regist' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";
		$(".modal-content").html(iframe);
		$("#calendar-modal").modal({fadeDuration: 250});
	}

	function fixIframeHeight(obj)
	{
		var iframeHeight = obj.contentWindow.document.body.scrollHeight + 20;

		if(iframeHeight > 800){
			iframeHeight = 880;
		}

		obj.style.height=iframeHeight+'px';
	}
</script>
</body>
</html>
