<{include file="inc/boot_navibar.html"}>

<style type="text/css">
	.admin_content{width: 1584px; color: #333;}
	.top-side, .main-side{overflow: hidden; width: 1215px;}
	.top-side .left-side{float: left;}
	.top-side .right-side{float: right; margin-left: 15px;}
	.top-side article{width: 600px; min-height: 400px; background: #eee; padding: 20px;}
	.top-side h5{font-weight: bold;}
	.top-side .wm-text section h5{letter-spacing: -1px;}
	.top-side .wm-text section div{width: 460px; height: 150px; margin-top: 10px; padding: 10px; font-size: 13px; font-weight: bold; background: white; float: left; margin-right: 10px;}
	.top-side .wm-text section button{color: white; font-weight: bold; padding: 30px 10px; height: 150px; margin-top: 10px; border-radius: 10px; width: 85px;}

	.wm-calendar table thead th{background: #333; color: white; text-align: center; height: 30px; vertical-align: middle; font-weight: 400;}
	.wm-calendar table tbody tr{background: white;}
	.wm-calendar table tbody td{vertical-align: middle;}
	.table-bordered td{border: 1px solid #BBB;}

	.doc-event table thead th{background: #333; color: white; text-align: center; height: 40px; font-weight: 400;}
	.doc-event table tbody td{background: white; padding-left: 5px; text-align: center; border: 1px solid #ddd; height: 40px;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 20px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<div class="top-side">
		<div class="left-side">
			<article class="wm-calendar">
				<h5 style="margin-bottom: 20px;">입고관리 캘린더<a href="/v1/calendar/calendar_schedule.php?cal_id=inoutwith&sch_cs_brand=1314" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>

				<div class="chk_inout_wrapper" style="margin-top: 50px;">
					입고예정 임박(업무일 기준 3일 이내)
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="first" style="min-width:65px;">날짜</th>
								<th style="min-width:430px;">캘린더 제목</th>
							</tr>
						</thead>
						<tbody>
							<{if $chk_doc_inout_calendar_list}>
								<{foreach from=$chk_doc_inout_calendar_list item=chk_doc_inout}>
									<tr>
										<td class="text-center">
											<{$chk_doc_inout.cs_date_name}>
											<{if $chk_doc_inout.is_today}>
												<br/><span style="color: red;">Today</span>
											<{/if}>
										</td>
										<td class="text-left">
											<{$chk_doc_inout.title}>
										</td>
									</tr>
								<{/foreach}>
							<{else}>
								<tr>
									<td colspan="2">데이터가 없습니다</td>
								</tr>
							<{/if}>
						</tbody>
					</table>
				</div>
			</article>
		</div>

		<div class="right-side">
			<article class="doc-event">
				<h5 style="font-weight: bold; margin-bottom: 20px;">닥터피엘 마케팅 이벤트<a href="/v1/calendar/calendar_schedule.php?cal_id=dp_event" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>

				<table cellpadding="0" cellspacing="0" style="margin-top: 10px;">
					<thead>
						<tr>
							<th class="first" style="min-width:100px; max-width:100px;">시작일시<br/>종료일시</th>
							<th style="min-width:100px;">카테고리</th>
							<th style="min-width:350px;">제목</th>
						</tr>
					</thead>
					<tbody>
						<{if !$doc_event_calendar_list}>
							<tr>
								<td colspan="3" class="first" style="text-align: center; height: 30px;"> 등록된 자료가 없습니다.</td>
							</tr>
						<{else}>
							<{foreach from=$doc_event_calendar_list item=doc_event}>
								<tr>
									<td>
										<{$doc_event.cs_s_date_text}>
										<{if $doc_event.cs_e_date_text}>
											<br/>
											<{$doc_event.cs_e_date_text}>
										<{/if}>
									</td>
									<td><{$doc_event.cs_category}></td>
									<td class="text-left"><{$doc_event.cs_title}></td>
								</tr>
							<{/foreach}>
						<{/if}>
					</tbody>
				</table>
			</article>
		</div>
	</div>
</div>

<div class="modal" id="calendar-modal">
	<div class="modal-content">
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

	});

	function showInoutCateTable(key)
	{
		$(".cate_btn").removeClass("cate_btn_active");
		$("#cate_btn_"+key).addClass("cate_btn_active");
		$(".calendar-wrapper").hide();
		$(".calendar-wrapper-"+key).show();

	}

	function openCalendarModel(cs_no, cs_sel_day)
	{
		$(".modal-content").html("");
		var iframe = "<iframe src='/v1/calendar/calendar_schedule_regist.php?cal_id=inoutwith&cs_sel_day="+cs_sel_day+"&cs_no="+cs_no+"' name='calendar_schedule_regist' id='calendar_schedule_regist' height='500px' frameborder='0' onload='fixIframeHeight(this)'>";
		$(".modal-content").html(iframe);
		$("#calendar-modal").modal({fadeDuration: 250});
	}

	function fixIframeHeight(obj)
	{
		var iframeHeight = obj.contentWindow.document.body.scrollHeight + 20;

		if(iframeHeight > 800){
			iframeHeight = 880;
		}

		obj.style.height=iframeHeight+'px';
	}
</script>
</body>
</html>
