<{include file="inc/boot_navibar.html"}>

<!-- Echart SELECT JS&CSS -->
<script src="<{$dir_location}>js/echarts.0818.min.js"></script>
<script src="<{$dir_location}>js/shine.js"></script>

<style type="text/css">
	.admin_content{color: #333; width: max-content;}
	.top-side{overflow: hidden;}
	.top-side article{float: left; width: 100%; min-height: 500px; background: #eee; padding: 20px;}
	.top-side h5{font-weight: bold;}
	.table th,.table td{vertical-align: middle;}
	.table-bordered td{border: 1px solid #BBB;}
	.wm-work-table tbody td{background: white; border: 1px solid #CCC;}
	.wm-work-table td.staff-sum{background: lightblue;}
	.work-none{color: lightgrey;}
	.work-active{color: red;}
	.reg_date_btn_active{background: #3093c2 !important;}
	.work_quick_btn, .team_work_quick_btn{background-color: #DDD; font-weight: bold; width: 150px; height: 40px; margin: 0 20px 0 0; line-height: 12px; float: left; font-size: 12px; border: 1px solid #999; padding:0;}
	.work_quick_btn_active, .team_work_quick_btn_active{background-color: #BBB;}
	.search_form .form-control{font-size: 12px; padding: 3px;}

	.sch_team_date{display: none;}
	.year-picker{width: 80px;}
	.wm-team-staff-table tbody td{background: white; border: 1px solid #CCC;}
	.wm-team-staff-table tbody td.row_sum{background: lightblue;}
	.wm-team-staff-table tbody td.total_sum{background: lightgrey;}
	.wm-team-prd-table tbody td{background: white; border: 1px solid #CCC;}
	.wm-team-prd-table tbody td.row_sum{background: lightblue;}
	.wm-team-prd-table tbody td.total_sum{background: lightgrey;}

	#work-team-chart{position: relative; width: 100%; height: 400px; border: 1px solid #ccc; margin-top: 10px; background: white;}
</style>

<div class="admin_content">
	<h2 class="title" style="margin-bottom: 20px;">
		<span class="nav-star-wrapper <{if $is_my_quick}>nav-star-active<{/if}>" onclick="proc_quick_nav('<{$nav_prd_no}>', this)" attr-mode="<{if $is_my_quick}>add<{else}>del<{/if}>"></span>
		<{$nav_title}>
	</h2>
	<div class="top-side">
		<article class="wm-work">
			<h5 style="margin-bottom: 20px;">MY 와플 업무 현황<a href="/v1/work_list.php" target="_blank" style="float: right;font-size: 14px;line-height: 30px;padding-right: 5px;">more</a></h5>
			<form name="search_form" id="search_form" class="search_form form-inline" action="work_main.php" method="get" autocomplete="off">
				<input type="hidden" name="sch_work" value="<{$sch_work}>">
				<input type="hidden" name="sch_reg_date_type" id="sch_reg_date_type" value="<{$sch_reg_date_type}>">
				<input type="hidden" name="sch_work_quick" id="sch_work_quick" value="<{$sch_work_quick}>">
				<div class="default_wrap" style="clear: both; margin-top: 10px;">
					<div class="form-group">
						<label for="sch_team" style="margin-right: 10px;">부서 > 이름</label>
						<select name="sch_team" id="sch_team" class="form-control sch_team" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$team_name_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
						<span> > </span>
						<select name="sch_s_no" id="sch_s_no" class="form-control" style="margin-left:5px">
							<option value="">::전체::</option>
							<{foreach from=$sch_staff_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_s_no == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div class="form-group">
						<label for="sch_reg_s_date" style="margin-right: 10px;">작성일/완료일</label>
						<input type="text" name="sch_reg_s_date" id="sch_reg_s_date" class="date-picker form-control" value="<{$sch_reg_s_date}>" style="margin-right: 5px;" />
						~
						<input type="text" name="sch_reg_e_date" id="sch_reg_e_date" class="date-picker form-control" value="<{$sch_reg_e_date}>" style="margin-left: 5px;" />
						<button type="button" onclick="regDateVal(this, 'today')" class="btn_small reg_date_btn <{if $sch_reg_date_type == 'today'}>reg_date_btn_active<{/if}>" >오늘</button>
						<button type="button" onclick="regDateVal(this, 'week')" class="btn_small reg_date_btn <{if $sch_reg_date_type == 'week'}>reg_date_btn_active<{/if}>" >1주</button>
						<button type="button" onclick="regDateVal(this, '2weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '2weeks'}>reg_date_btn_active<{/if}>" >2주</button>
						<button type="button" onclick="regDateVal(this, '3weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '3weeks'}>reg_date_btn_active<{/if}>" >3주</button>
						<button type="button" onclick="regDateVal(this, '4weeks')" class="btn_small reg_date_btn <{if $sch_reg_date_type == '4weeks'}>reg_date_btn_active<{/if}>" >4주</button>

						<button type="submit" class="btn_small" style="width:58px; height:27px; margin-left: 10px;">검색</button>
					</div>
					<div style="margin-top: 10px; overflow: hidden;">
						<{foreach from=$work_quick_state key=key item=work_quick}>
							<button type="button" id="work_quick_btn_<{$key}>" class="btn work_quick_btn <{if $sch_work_quick == $key}>work_quick_btn_active<{/if}>" onclick="searchWorkType('<{$key}>')">
								<{$work_quick.title}> (<{$work_quick.cnt|number_format:0}>건)
							</button>
						<{/foreach}>
					</div>
				</div>
			</form>

			<div style="margin-top: 20px;">
				<{if $sch_work_quick != '3'}>
					<div>
						<span>
							<{if $sch_work_quick == '1'}>요청중인 업무<{else}>처리중인 업무<{/if}> : <{$work_all_cnt_list['progress']|number_format:0}>건
							<{if $work_all_cnt_list['progress'] > 0}>
								(진행요청 : <{$work_all_cnt_list['3']|number_format:0}>, 접수완료 : <{$work_all_cnt_list['4']|number_format:0}>, 진행중 : <{$work_all_cnt_list['5']|number_format:0}>)
							<{/if}>
						</span>
					</div>
					<div>
						<span>진행완료 업무 : <{$work_all_cnt_list['finish']|number_format:0}>건</span>
					</div>

					<{if $work_prev_cnt > 0}>
						<div class="work-active">
							<{$work_prev_text}>
							<a href="<{$work_prev_url}>" target="_blank" style="text-decoration: none; padding: 5px 15px; background: #333; color: white; border-radius: 3px; margin-left: 10px;">보기</a>
						</div>
					<{/if}>
				<{/if}>
			</div>

			<{if $sch_work_quick == '3'}>
				<table class="table wm-work-table" cellpadding="0" cellspacing="0" style="width: auto; margin-top: 20px; float: left;">
					<thead>
						<tr>
							<td colspan="2"></td>
							<td></td>
							<td class="text-center">
								<{$work_all_cnt_list['total']|number_format:0}>
							</td>
						</tr>
					</thead>
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:300px; max-width:300px;" colspan="2">업무 그룹 및 업무명</th>
							<th style="min-width:100px; max-width:100px;"><{$table_staff}></th>
							<th style="min-width:100px; max-width:100px;">처리자 미설정</th>
						</tr>
					</thead>
					<tbody>
						<{if !$manager_prd_list}>
							<tr>
								<td colspan="4">업무요청 관리자 권한이 없습니다.</td>
							</tr>
						<{elseif $work_parent_list}>
							<{assign var=total_idx value=1}>
							<{assign var=total_row value=$work_parent_list|count}>
							<{foreach from=$work_parent_list key=parent_key item=parent_data}>
								<{assign var=parent_row value=$work_parent_cnt_list[$parent_key]}>
								<{assign var=parent_idx value=0}>
								<{foreach from=$work_group_list[$parent_key] item=group_data}>
									<tr>
										<{if $parent_idx == 0}>
											<td rowspan="<{$parent_row}>"><{$parent_data.title}></td>
										<{/if}>
										<td><{$group_data.prd_title}></td>
										<td class="text-center"><{$group_data.staff_title}></td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet'] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=&sch_reg_e_date=&sch_run_is_null=1&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet']|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']]['yet']|number_format:0}>
											<{/if}>
										</td>
									</tr>
									<{assign var=parent_idx value=$parent_idx+1}>
								<{/foreach}>
								<{if $total_idx < $total_row}>
									<tr>
										<td colspan="8"></td>
									</tr>
								<{/if}>
								<{assign var=total_idx value=$total_idx+1}>
							<{/foreach}>
						<{else}>
							<tr>
								<td colspan="4">미설정 데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>

				<{if $work_yet_prev_list}>
					<table class="table wm-work-table" cellpadding="0" cellspacing="0" style="width: auto; margin-top: 20px; margin-left: 50px; float: left;">
						<thead>
							<tr>
								<td colspan="2" class="text-left" style="color: red;">※ 10일이상 처리자 미설정건</td>
							</tr>
						</thead>
						<thead class="thead-dark text-center">
							<tr>
								<th class="first" style="min-width:300px; max-width:300px;">업무명</th>
								<th style="min-width:100px; max-width:100px;">처리자 미설정</th>
							</tr>
						</thead>
						<tbody>
							<{foreach from=$work_yet_prev_list item=work_yet_prev}>
								<tr>
									<td><{$work_yet_prev.prd_name}></td>
									<td class="text-center">
										<a href="/v1/work_list.php?sch=Y&sch_reg_s_date=&sch_reg_e_date=<{$work_prev_url_date}>&sch_run_is_null=1&sch_prd=<{$work_yet_prev.prd_no}>" class="work-active" target="_blank">
											<{$work_yet_prev.work_cnt|number_format:0}>
										</a>
									</td>
								</tr>
							<{/foreach}>
						</tbody>
					</table>
				<{/if}>
			<{else}>
				<table class="table wm-work-table" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
					<thead>
						<tr>
							<td colspan="2"></td>
							<td></td>
							<td class="text-center"><{$work_all_cnt_list[3]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[4]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[5]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list[6]|number_format:0}></td>
							<td class="text-center"><{$work_all_cnt_list['total']|number_format:0}></td>
						</tr>
					</thead>
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:300px; max-width:300px;" colspan="2">업무 그룹 및 업무명</th>
							<th style="min-width:100px; max-width:100px;"><{$table_staff}></th>
							<th style="min-width:100px; max-width:100px;">진행요청</th>
							<th style="min-width:100px; max-width:100px;">접수완료</th>
							<th style="min-width:100px; max-width:100px;">진행중</th>
							<th style="min-width:100px; max-width:100px;">진행완료</th>
							<th style="min-width:100px; max-width:100px;">합계</th>
						</tr>
					</thead>
					<tbody>
						<{if $work_parent_list}>
							<{assign var=total_idx value=1}>
							<{assign var=total_row value=$work_parent_list|count}>
							<{foreach from=$work_parent_list key=parent_key item=parent_data}>
								<{assign var=parent_row value=$work_parent_cnt_list[$parent_key]}>
								<{assign var=parent_idx value=0}>
								<{foreach from=$work_group_list[$parent_key] item=group_data}>
									<tr>
										<{if $parent_idx == 0}>
											<td rowspan="<{$parent_row}>"><{$parent_data.title}></td>
										<{/if}>
										<td><{$group_data.prd_title}></td>
										<td class="text-center"><{$group_data.staff_title}></td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][3] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_work_state=3&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}>&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][3]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][3]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][4] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_work_state=4&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}>&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][4]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][4]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][5] > 0}>
												<a href="/v1/work_list.php?sch=Y&sch_work_state=5&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}>&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}><{$group_data.search_url}>" class="work-active" target="_blank">
													<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][5]|number_format:0}>
												</a>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][5]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center work-none">
											<{if $work_all_list[$group_data['prd_no']][$group_data['staff_no']][6] > 0}>
												<{if $sch_work_quick == '2'}>
													<a href="/v1/work_list.php?sch=Y&sch_work_state=6&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}>&sch_task_run_s_date=<{$sch_reg_s_date}>&sch_task_run_e_date=<{$sch_reg_e_date}><{$group_data.search_url}>" class="work-none" target="_blank">
														<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][6]|number_format:0}>
													</a>
												<{else}>
													<a href="/v1/work_list.php?sch=Y&sch_work_state=6&sch_prd_g1=<{$parent_data.k_prd1}>&sch_prd_g2=<{$parent_key}>&sch_prd=<{$group_data['prd_no']}>&sch_reg_s_date=<{$sch_reg_s_date}>&sch_reg_e_date=<{$sch_reg_e_date}><{$group_data.search_url}>" class="work-none" target="_blank">
														<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][6]|number_format:0}>
													</a>
												<{/if}>
											<{else}>
												<{$work_all_list[$group_data['prd_no']][$group_data['staff_no']][6]|number_format:0}>
											<{/if}>
										</td>
										<td class="text-center staff-sum">
											<{$group_data.cnt|number_format:0}>
										</td>
									</tr>
									<{assign var=parent_idx value=$parent_idx+1}>
								<{/foreach}>

								<{if $total_idx < $total_row}>
									<tr>
										<td colspan="8"></td>
									</tr>
								<{/if}>

								<{assign var=total_idx value=$total_idx+1}>
							<{/foreach}>
						<{else}>
							<tr>
								<td colspan="8">데이터가 없습니다</td>
							</tr>
						<{/if}>
					</tbody>
				</table>
			<{/if}>
		</article>
	</div>

	<div class="top-side" style="margin-top: 20px;">
		<article class="wm-team-work">
			<h5 style="margin-bottom: 20px;">MY TEAM 업무 현황</h5>
			<form name="team_search_form" class="search_form form-inline" action="work_main.php" method="get" autocomplete="off">
				<input type="hidden" name="sch_work" value="<{$sch_work}>">
				<input type="hidden" name="sch_team_work_quick" id="sch_team_work_quick" value="<{$sch_team_work_quick}>">
				<div class="default_wrap" style="clear: both; margin-top: 10px;">
					<div class="form-group">
						<label for="sch_reg_s_date" style="margin-right: 10px;">부서 > 이름</label>
						<select name="sch_work_team" id="sch_work_team" class="form-control sch_work_team" style="margin-right: 5px;">
							<option value="">::전체::</option>
							<{foreach from=$team_name_list key=key item=label}>
								<option value="<{$key}>" <{if $sch_work_team == $key}>selected<{/if}>><{$label}></option>
							<{/foreach}>
						</select>
					</div>
					<div class="form-group">
						<label style="margin-right: 10px;">조회단위</label>
						<{foreach from=$sch_date_type_option key=key item=label}>
							<input type="radio" name="sch_team_date_type" id="sch_team_date_type_<{$key}>" class="sch_team_date_type" value="<{$key}>" <{if $sch_team_date_type == $key}>checked<{/if}>>
							<label for="sch_team_date_type_<{$key}>" style="margin-right: 5px;"><{$label}></label>
						<{/foreach}>

						<label style="margin: 0 10px;">작성일/완료일</label>
						<div id="sch_team_date_4" class="sch_team_date">
							<input type="text" name="sch_year_s_date" id="sch_year_s_date" class="year-picker form-control"   value="<{$sch_year_s_date}>" style="margin-right: 5px;" />
							~
							<input type="text" name="sch_year_e_date" id="sch_year_e_date" class="year-picker form-control"  value="<{$sch_year_e_date}>" />
						</div>
						<div id="sch_team_date_3" class="sch_team_date">
							<input type="text"  name="sch_mon_s_date" id="sch_mon_s_date" class="month-picker form-control" value="<{$sch_mon_s_date}>" style="margin-right: 5px;" />
							~
							<input type="text"  name="sch_mon_e_date" id="sch_mon_e_date" class="month-picker form-control" value="<{$sch_mon_e_date}>" />
						</div>
						<div id="sch_team_date_2" class="sch_team_date">
							<input type="text" id="sch_week_s_date" name="sch_week_s_date" class="week-start-picker form-control" value="<{$sch_week_s_date}>" style="margin-right: 5px;" />
							~
							<input type="text" id="sch_week_e_date" name="sch_week_e_date" class="week-end-picker form-control" value="<{$sch_week_e_date}>" />
						</div>
						<div id="sch_team_date_1" class="sch_team_date">
							<input type="text" name="sch_day_s_date" id="sch_day_s_date" class="date-picker form-control" value="<{$sch_day_s_date}>" style="margin-right: 5px;" />
							~
							<input type="text" name="sch_day_e_date" id="sch_day_e_date" class="date-picker form-control" value="<{$sch_day_e_date}>" />
						</div>

						<button type="submit" class="btn_small" style="width:58px; height:27px; margin-left: 10px;">검색</button>
					</div>
					<div style="margin-top: 10px; overflow: hidden;">
						<{foreach from=$team_work_quick_state key=key item=team_work_label}>
							<button type="button" id="team_work_quick_btn_<{$key}>" class="btn team_work_quick_btn <{if $sch_team_work_quick == $key}>team_work_quick_btn_active<{/if}>" onclick="searchTeamWorkType('<{$key}>')">
								<{$team_work_label}>
							</button>
						<{/foreach}>
					</div>
				</div>
			</form>

			<div style="margin: 20px 0;">
				<{if $work_team_prev_cnt > 0}>
					<div class="work-active">
						<{$work_team_prev_text}>
						<a href="<{$work_team_prev_url}>" target="_blank" style="text-decoration: none; padding: 5px 15px; background: #333; color: white; border-radius: 3px; margin-left: 10px;">보기</a>
					</div>
				<{/if}>
			</div>

			<div>
				<div id="work-team-chart"></div>

				<table class="table wm-team-staff-table" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:140px; max-width:140px;"><{$chk_staff_name}></th>
							<{foreach from=$work_team_date_list key=key_date item=date_label}>
								<th style="min-width:100px; max-width:100px;"><{$date_label}></th>
							<{/foreach}>
							<th style="min-width:100px; max-width:100px;">합계</th>
						</tr>
					</thead>
					<tbody>
						<{if $is_team_work_data}>
							<{foreach from=$work_team_staff_list key=team_staff item=staff_name}>
								<tr>
									<td class="text-center first"><{$staff_name}></td>
									<{assign var=team_row_total value=0}>
									<{foreach from=$work_team_date_list key=key_date item=date_label}>
										<td class="text-center"><{$work_team_staff_data_list[$key_date][$team_staff]|number_format:0}></td>
										<{assign var=team_row_total value=$team_row_total+$work_team_staff_data_list[$key_date][$team_staff]}>
									<{/foreach}>
									<td class="text-center row_sum" ><{$team_row_total|number_format:0}></td>
								</tr>
							<{/foreach}>
							<tr>
								<td class="text-center first total_sum">합계</td>
								<{foreach from=$work_team_date_list key=key_date item=date_label}>
									<td class="text-center total_sum"><{$work_team_date_total_list[$key_date]|number_format:0}></td>
								<{/foreach}>
								<td class="text-center total_sum"></td>
							</tr>
						<{else}>
							<tr>
								<td colspan="<{$work_team_date_cnt}>">데이터가 없습니다.</td>
							</tr>
						<{/if}>
					</tbody>
				</table>

				<table class="table wm-team-prd-table" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
					<thead class="thead-dark text-center">
						<tr>
							<th class="first" style="min-width:140px; max-width:140px;">업무명</th>
							<{foreach from=$work_team_date_list key=key_date item=date_label}>
								<th style="min-width:100px; max-width:100px;"><{$date_label}></th>
							<{/foreach}>
							<th style="min-width:100px; max-width:100px;">합계</th>
						</tr>
					</thead>
					<tbody>
					<{if $is_team_work_data}>
						<{foreach from=$work_team_prd_list key=team_prd item=prd_name}>
							<tr>
								<td class="text-center first"><{$prd_name}></td>
								<{assign var=team_row_total value=0}>
								<{foreach from=$work_team_date_list key=key_date item=date_label}>
									<td class="text-center"><{$work_team_prd_data_list[$key_date][$team_prd]|number_format:0}></td>
									<{assign var=team_row_total value=$team_row_total+$work_team_prd_data_list[$key_date][$team_prd]}>
								<{/foreach}>
								<td class="text-center row_sum" ><{$team_row_total|number_format:0}></td>
							</tr>
						<{/foreach}>
						<tr>
							<td class="text-center first total_sum">합계</td>
							<{foreach from=$work_team_date_list key=key_date item=date_label}>
								<td class="text-center total_sum"><{$work_team_date_total_list[$key_date]|number_format:0}></td>
							<{/foreach}>
							<td class="text-center total_sum"></td>
						</tr>
					<{else}>
						<tr>
							<td colspan="<{$work_team_date_cnt}>">데이터가 없습니다.</td>
						</tr>
					<{/if}>
					</tbody>
				</table>
			</div>
		</article>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#sch_s_no").remoteChained({
			parents: "#sch_team",
			url: "/v1/api/staff.json.php?parent_data=sch_team",
			loading: "로딩중..",
			clear: true
		});

		showTeamDate($(".sch_team_date_type:checked").val());

		$(".sch_team_date_type").change(function(){
			showTeamDate($(this).val());
		});
	});

	function regDateVal(obj, type)
	{
		var today 		 	= new Date();
		var cur_month	 	= today.getMonth()+1;
		var cur_day		 	= today.getDate();
		var cur_month_text  = (cur_month < 10) ? "0"+cur_month : cur_month;
		var cur_day_text  	= (today.getDate() < 10) ? "0"+today.getDate() : today.getDate();
		var today_val	 	= today.getFullYear() + "-" + cur_month_text + "-" + cur_day_text;
		var prev_day 	 	= "";
		var prev_month 		= "";
		var prev_month_text	= "";
		var prev_day_text 	= "";
		var prev_day_val	= "";

		if(type == "week"){
			prev_day 		= new Date(new Date().setDate(cur_day-7));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "2weeks"){
			prev_day 		= new Date(new Date().setDate(cur_day-14));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "3weeks"){
			prev_day 		= new Date(new Date().setDate(cur_day-21));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else if(type == "4weeks"){
			prev_day 		= new Date(new Date().setDate(cur_month-28));
			prev_month 		= prev_day.getMonth()+1;
			prev_month_text	= (prev_month < 10) ? "0"+prev_month : prev_month;
			prev_day_text	= (prev_day.getDate() < 10) ? "0"+prev_day.getDate() : prev_day.getDate();
			prev_day_val 	= prev_day.getFullYear() + "-" + prev_month_text + "-" + prev_day_text;
		}else{
			prev_day_val = today_val;
		}

		$(".reg_date_btn").removeClass('reg_date_btn_active');
		$(obj).addClass('reg_date_btn_active');

		$("#sch_reg_s_date").val(prev_day_val);
		$("#sch_reg_e_date").val(today_val);
		$("#sch_reg_date_type").val(type);
	}

	function searchWorkType(type) {
		$("#sch_work_quick").val(type);
		searchList();
	}

	function searchTeamWorkType(type) {
		$("#sch_team_work_quick").val(type);
		searchTeamList();
	}

	function searchTeamList(){
		document.team_search_form.submit();
	}

	function showTeamDate(type){
		$(".sch_team_date").hide();
		$("#sch_team_date_"+type).show();
	}

	var workTeamChart 	= echarts.init(document.getElementById('work-team-chart'),null, {renderer : 'canvas'});
	drawWorkTeamStats();

	function drawWorkTeamStats()
	{
		var fullData	= <{$work_team_chart_list}>;
		var titleData 	= <{$work_team_chart_name_list}>;
		var staffData 	= <{$work_team_staff_name_list}>;

		if(fullData != '')
		{
			var pushData 	  = [];
			var pushNameData  = [];
			var staffNameData = [];

			$.each(fullData, function(idx, item){
				pushData.push({
					name: item['title'],
					type: 'bar',
					stack: 'qty',
					data: item['data'],
				});
			});

			$.each(titleData, function(idx, item){
				pushNameData.push(item);
			});

			$.each(staffData, function(idx, item){
				staffNameData.push(item);
			});

			workTeamChart.setOption({
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: "5%",
					right: "5%",
					bottom: "5%",
					containLabel: true
				},
				legend:{
					data: staffNameData,
					top : '3%'
				},
				xAxis: {
					type: 'category',
					data: pushNameData
				},
				yAxis: {
					type: 'value'
				},
				series: pushData
			});
		}
	}
</script>
</body>
</html>
