<{include file="inc/navibar_no.html" }>

<script>
// calendar ui 추가
	$(function() {
		$( "#sreward_date" ).datepicker();
	});
</script>
<div style="margin-top:10px; margin-left:10px;">
	<a href="logout.php" alt="로그아웃" title="로그아웃" target="_top">[로그아웃]</a> BLOG URL : <{$ss_user_b_url}> <{if $ss_user_b_url2}> & <{$ss_user_b_url2}><{/if}>
</div>

<div class="admin_content" style="min-width:1280px; max-width:1280px;">
	<h2 class="title">● 캠페인 리스트</h2>

  <form method="get" name="search_form" action="campaign_list.php">
		<div class="default_wrap">
			<div class="left_wrap">
				<span class="name_tit">채널</span>
				<select name="sch_channel" id="sch_channel" class="select_type2"/>
					<{section name=data loop=$promotion_channel}>
						<option value="<{$promotion_channel[data][1]}>" <{if $sch_channel==$promotion_channel[data][1]}>selected<{/if}>><{$promotion_channel[data][0]}></option>
					<{/section}>
				</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">구분</span>
					<select name="sch_kind" id="sch_kind" class="select_type2">
						<{section name=data loop=$promotion_kind}>
							<option value="<{$promotion_kind[data][1]}>" <{if $sch_kind==$promotion_kind[data][1]}>selected<{/if}>><{$promotion_kind[data][0]}></option>
						<{/section}>
					</select>
				<span style="margin-right:15px;"></span>

				<span class="name_tit">선정여부</span>
					<select name="sch_a_state" id="sch_a_state" class="select_type2">
						<option value="" <{if $sch_a_state==''}>selected<{/if}>>::전체::</option>
						<{section name=data loop=$application_a_state}>
							<{if !!$application_a_state[data][1]}>
								<option value="<{$application_a_state[data][1]}>" <{if $sch_a_state==$application_a_state[data][1]}>selected<{/if}>><{$application_a_state[data][0]}></option>
							<{/if}>
						<{/section}>
					</select>
				<span style="margin-right:15px;"></span>
				<button class="btn_small" onclick="submit();" style="padding: 6px 16px;">검색</button>
			</div>
			<div class="right_wrap">
				<ul class="cat_style">
					<li><a href="campaign_list.php?sch_channel=<{$sch_channel}>&sch_kind=<{$sch_kind}>&sch_a_state=<{$sch_a_state}>&od=1<{if !$order_type }>&by=1<{/if}>">발표일순<{if $order=='1' }> <{if !$order_type }>↑<{else}>↓<{/if}><{/if}></a></li>
					<li><a href="campaign_list.php?sch_channel=<{$sch_channel}>&sch_kind=<{$sch_kind}>&sch_a_state=<{$sch_a_state}>&od=2<{if !$order_type }>&by=1<{/if}>">리뷰마감일순<{if $order=='2' }> <{if !$order_type }>↑<{else}>↓<{/if}><{/if}></a></li>
					<li class="no_bg"><a href="campaign_list.php?sch_channel=<{$sch_channel}>&sch_kind=<{$sch_kind}>&sch_a_state=<{$sch_a_state}>&od=3<{if !$order_type }>&by=1<{/if}>">보상일순<{if $order=='3' }> <{if !$order_type }>↑<{else}>↓<{/if}><{/if}></a></li>
				</ul>
			</div>
		</div>
	</form>
	<hr width="100%">

	<br><{$total_num}>개의 검색 결과가 나타났습니다. <span style="color:red;">※신청 및 완료보고시 블로그 주소를 잘못 기입한 경우 안나타 날 수 있습니다.</span>

	<div class="table_list_style">

		<table cellpadding="0" cellspacing="0" style="border-style:solid; border-width:thin; border-color:#CCC;">
			<thead>
				<tr>
					<th width="40px;">no</th>
					<th width="60px;">모집상태</th>
					<th width="110px;">채널</th>
					<th width="150px;">구분</th>
					<th width="220px;">업체명</th>
					<th width="160px;">모집기간</th>
					<th width="80px;">발표일</th>
					<th width="80px;">선정여부</th>
					<th width="160px;">진행기간</th>
					<th width="100px;">보상일정</th>
					<!--
					<th width="86px;">보상여부</th>
					-->
					<th width="100px;" class="last">완료보고</th>
				</tr>
			</thead>
			<tbody>
				<{section name=list loop=$application_list}>

					<form name="apply_frm<{$application_list[list].a_no}>" id="apply_frm<{$application_list[list].a_no}>" action="campaign_list.php" method="post" enctype="multipart/form-data">
					<input type="hidden" name="list_query" value="<{$save_query}>">
					<input type="hidden" name="process">
					<input type="hidden" name="p_no" value="<{$application_list[list].p_no}>">
					<tr>
						<td style="height: 40px;" <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- no -->
							<{$application_list[list].no}>
						</td>
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 모집상태 -->
							<{$application_list[list].p_state_name}>
						</td>
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 채널 -->
							<span style="border: 0px solid #999; padding:4px 6px; word-wrap:keep-all;
																				<{if $application_list[list].channel == '1'}>
																					color: #72af22;
																				<{elseif $application_list[list].channel == '2'}>
																					color: #af1485;
																				<{elseif $application_list[list].channel == '3'}>
																					color: #3b5997;
																				<{elseif $application_list[list].channel == '4'}>
																					color: #6b431c;
																				<{elseif $application_list[list].channel == '5'}>
																					color: #333333;
																				<{elseif $application_list[list].channel == '6'}>
																					color: #baba00;
																				<{/if}>"><{$application_list[list].channel_name}></span>
						</td>
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 구분 -->
							<span style="border: 0px solid #999; padding:4px 6px; word-wrap:keep-all;
																				<{if $application_list[list].kind == '1' || $application_list[list].kind == '4'}>
																					color: #f77b18;
																				<{elseif $application_list[list].kind == '2'}>
																					color: #5175fe;
																				<{elseif $application_list[list].kind == '3' || $application_list[list].kind == '5'}>
																					color: #63F;
																				<{/if}>"><{$application_list[list].kind_name}></span>
						</td>
	          <td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 업체명 -->
							<{if !!$application_list[list].cafe_url}>
								<a href="<{$application_list[list].cafe_url}>" target="_blank"><{$application_list[list].company}></a>
							<{else}>
								<{$application_list[list].company}>
							<{/if}>
						</td>
	          <td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 모집기간 -->
							<{$application_list[list].reg_sdate}> ~ <{$application_list[list].reg_edate}>
						</td>
	          <td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 발표일 -->
							<{$application_list[list].awd_date}>
						</td>
	          <td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{else}>class="bg_point"<{/if}>> <!-- 선정여부 -->
							<{$application_list[list].a_state_name}>
						</td>
	          <td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 진행기간 -->
							<{$application_list[list].exp_sdate}> ~ <{$application_list[list].exp_edate}>
						</td>
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 보상일정 -->
							<{if !!$application_list[list].pres_money}>
								<div><{$application_list[list].pres_reward}></div>
								<div>
									￦<{$application_list[list].pres_money}><{if $application_list[list].pres_num > '2'}>(<{$application_list[list].pres_num}>회)<{/if}>
								</div>
							<{/if}>
						</td>
						<!--
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!- - 보상여부 - ->
							<{$application_list[list].refund}><br>
	            <{if $application_list[list].refund_count}>지급완료<{/if}>
	          </td>-->
						<td <{if $application_list[list].a_state == '1'}>class="bg_point_red"<{/if}>> <!-- 완료보고 -->
							<{assign var="report" value="false"}>

							<{section name=list2 loop=$report_list}>
								<{if $application_list[list].a_no == $report_list[list2].a_no}>
									<div><a href="<{$report_list[list2].post_url}>" target="_blank" title="<{$report_list[list2].post_title}>">보고완료</a></div>
									<{assign var="report" value="true"}>
								<{/if}>
							<{/section}>

							<{if $report == "false"}>
								<{if $application_list[list].p_state == '4' && $application_list[list].a_state == '1'}>
									<button type="button" style="padding: 6px 12px;margin-left: 0px;" onclick="window.open('../report.php?promotion_no=<{$application_list[list].p_no}>&blog_url=<{$application_list[list].blog_url}>');" class="btn_small">완료보고</button>
								<{/if}>
							<{/if}>
	      		</td>
					</tr>
					</form>
				<{/section}>
			</tbody>
		</table>
		<div class="paging_wrap">
			<{$pagelist}>
		</div>
	</div><!-- //table_list_style -->
</div><!-- //admin_content -->


<script>
	function save_refund(a_no) {
		eval("var f=document.getElementById('apply_frm"+a_no+"');");
		var n=f.selection_refund.value;
		var nn=n.length;
		if (nn==0) {
			alert('보상여부를 선택해 주세요.');
			f.focus();
			return false;
		}
		f.process.value="refund";
		f.application_no.value=a_no;
		//return false;
		f.submit();
	}

	function save_refund1(a_no) {
		eval("var f=document.getElementById('apply_frm"+a_no+"');");
		f.selection_refund.value = 1;
		var n=f.selection_refund.value;
		var nn=n.length;
		if (nn==0) {
			alert('보상여부를 선택해 주세요.');
			f.focus();
			return false;
		}
		f.process.value="refund";
		f.application_no.value=a_no;
		//return false;
		f.submit();
	}

	function save_bk(a_no) {
		eval("var f=document.getElementById('apply_frm"+a_no+"');");
		f.process.value="save_bk";
		f.a_no.value=a_no;
		//return false;
		f.submit();
	}
	</script>

 </body>
</html>
