<{include file="inc/navibar_no.html" }>

<form name="loginform"  method="post" action="login.php" onSubmit="return login()">
	<input type="hidden" name="process">
	<table style="margin-left: auto; margin-right: auto; margin-top:20px; min-width:500px; min-width:500px;" cellpadding="0" cellspacing="0">
		<tr>
			<td style="text-align:center;">
				<img src="../images/tblog/user_page_login_top.png" /><br><br>
				<div style="text-align:center;font-size:48px; font-weight:600; color:#666">탑블로그 캠페인 조회</div><br>
			</td>
		</tr>
		<tr>
			<td>
				<table style="margin-left: auto; margin-right: auto; padding:10px 0px;" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<select name="blog_kind" id="blog_kind" class="select_type2">
								<option value="naver">NAVER 블로그</option>
								<option value="etc">기타 블로그</option>
							</select>
						</td>
						<td style="padding-left:10px;">
							http://blog.naver.com/<input type="text" name="blog_id" id="blog_id" placeholder="네이버아이디" class="input_type5"><br>
							http://<span class="blog_me">네이버아이디</span>.blog.me
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:10px;">
							<input type="text" name="name" id="name" placeholder="이름(실명)" class="input_type3" style="width:203px;">
							<input type="text" name="hp4" id="hp4" placeholder="휴대폰 뒷 4자리" class="input_type3" style="width:203px;"><br>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:10px; text-align:center;">
							<div><button class="btn_small" onclick="process.value='login'; return check_form(this);" style="font-size:14px; padding: 6px 65px; width:427px; height:30px;">조회하기</button></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<div style="color:#999; text-align:center; margin-top: 120px;">
	탑블로그 | Tel : 02-2675-6260 | Mail : wiseplanners@naver.com | Instagram : @topblog_kr<br>
	Copyright ⓒ WisePlanet Company. All rights reserved.
</div>

<script>
	$("#blog_id").focus();

	function check_form(f) {
		if (cknull("blog_id","블로그 정보를")=="x") {return false;}
		if (cknull("hp4","휴대폰 뒷 4자리를")=="x") {return false;}
		if (cknull("name","이름(실명)을")=="x") {return false;}

		f.submit();
	}

	$(function(){
		$('input[name=blog_id]').keyup(function(){
			view_blogme(this);
		});
	});

	function view_blogme(obj){
		var text = $(obj).val();

		$('span.blog_me').text(text);

		$('span.blog_me').css('color', 'black');
	}
</script>

</body>
</html>